{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/cfb/scores"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/cfb/scores"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "description": "CFB schedules, scores, team stats, odds, weather, and news API.",
    "title": "CFB v3 Scores",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/cfb-v3-scores.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "cfb-v3-scores"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/AreAnyGamesInProgress": {
      "get": {
        "description": "Returns <code>true</code> if there is at least one game being played at the time of the request or <code>false</code> if there are none.",
        "operationId": "AreGamesInProgress",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "nullable": false,
                  "type": "boolean"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Are Games In Progress"
      }
    },
    "/{format}/CurrentSeason": {
      "get": {
        "operationId": "CurrentSeason",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "nullable": false,
                  "type": "integer"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Current Season"
      }
    },
    "/{format}/CurrentSeasonDetails": {
      "get": {
        "operationId": "CurrentSeasonDetails",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Season"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Current Season Details"
      }
    },
    "/{format}/CurrentSeasonType": {
      "get": {
        "operationId": "CurrentSeasontype",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "type": "string"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Current SeasonType"
      }
    },
    "/{format}/CurrentWeek": {
      "get": {
        "operationId": "CurrentWeek",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "nullable": true,
                  "type": "integer"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Current Week"
      }
    },
    "/{format}/Games/{season}": {
      "get": {
        "operationId": "Schedules",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2018</code>, <code>2018PRE</code>, <code>2018POST</code>, <code>2018STAR</code>, <code>2019</code>, etc.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Schedules"
      }
    },
    "/{format}/GamesByDate/{date}": {
      "get": {
        "operationId": "GamesByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "\n          The date of the game(s).\n          <br>Examples: <code>2016-SEP-01</code>, <code>2017-SEP-10</code>.\n        ",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Games by Date"
      }
    },
    "/{format}/GamesByWeek/{season}/{week}": {
      "get": {
        "operationId": "GamesByWeek",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "\n          Year of the season.\n          <br>Examples: <code>2015</code>, <code>2016</code>, etc.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "\n          The week of the game(s).\n          <br>Examples: <code>1</code>, <code>2</code>, <code>3</code>, etc.\n        ",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Game"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Games by Week"
      }
    },
    "/{format}/InjuredPlayers": {
      "get": {
        "description": "This endpoint provides all currently injured college football players, along with injury details.",
        "operationId": "InjuredPlayers",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Injured Players"
      }
    },
    "/{format}/LeagueHierarchy": {
      "get": {
        "operationId": "ConferenceHierarchyWithTeams",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Conference"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Conference Hierarchy (with Teams)"
      }
    },
    "/{format}/Player/{playerid}": {
      "get": {
        "operationId": "PlayerDetailsByPlayer",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "\n          Unique FantasyData Player ID.\n          Example:<code>50002016</code>.\n        ",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Details By Player"
      }
    },
    "/{format}/Players": {
      "get": {
        "operationId": "PlayerDetailsByActive",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Details By Active"
      }
    },
    "/{format}/Players/{team}": {
      "get": {
        "operationId": "PlayerDetailsByTeam",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "\n          The abbreviation of the requested team.\n          <br>Examples: <code>SF</code>, <code>NYY</code>.\n        ",
            "in": "path",
            "name": "team",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Player Details by Team"
      }
    },
    "/{format}/Stadiums": {
      "get": {
        "operationId": "Stadiums",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Stadium"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Stadiums"
      }
    },
    "/{format}/TeamGameStatsBySeason/{season}/{teamid}/{numberofgames}": {
      "get": {
        "description": "Game by game log of total team statistics.",
        "operationId": "TeamGameLogsBySeason",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Season to get games from. Example <code>2019POST</code>, <code>2020</code>        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique ID of team.  Example <code> 1 </code>",
            "in": "path",
            "name": "teamid",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "How many games to return. Example <code>all</code>, <code>10</code>, <code>25</code>",
            "in": "path",
            "name": "numberofgames",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamGame"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Game Logs By Season"
      }
    },
    "/{format}/TeamGameStatsByWeek/{season}/{week}": {
      "get": {
        "operationId": "TeamGameStatsByWeek",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "\n          Year of the season.\n          <br>Examples: <code>2015</code>, <code>2016</code>, etc.\n        ",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "\n          The week of the game(s).\n          <br>Examples: <code>1</code>, <code>2</code>, <code>3</code>, etc.\n        ",
            "in": "path",
            "name": "week",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamGame"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Game Stats by Week"
      }
    },
    "/{format}/TeamSeasonStats/{season}": {
      "get": {
        "operationId": "TeamSeasonStatsStandings",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          },
          {
            "description": "Year of the season (with optional season type).<br>Examples: <code>2017</code>, <code>2017POST</code>, <code>2018</code>.",
            "in": "path",
            "name": "season",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/TeamSeason"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Team Season Stats & Standings"
      }
    },
    "/{format}/Teams": {
      "get": {
        "operationId": "Teams",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>xml</code> or <code>json</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "XML",
              "enum": [
                "XML",
                "JSON"
              ],
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Team"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Teams"
      }
    }
  },
  "components": {
    "schemas": {
      "Conference": {
        "properties": {
          "ConferenceID": {
            "nullable": false,
            "type": "integer"
          },
          "ConferenceName": {
            "nullable": true,
            "type": "string"
          },
          "DivisionName": {
            "nullable": true,
            "type": "string"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Teams": {
            "items": {
              "$ref": "#/components/schemas/Team"
            },
            "type": "array"
          }
        }
      },
      "Game": {
        "properties": {
          "Attendance": {
            "nullable": true,
            "type": "integer"
          },
          "AwayPointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "AwayRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeam": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "AwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamName": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "Channel": {
            "nullable": true,
            "type": "string"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "DateTimeUTC": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "Distance": {
            "nullable": true,
            "type": "integer"
          },
          "Down": {
            "nullable": true,
            "type": "integer"
          },
          "GameEndDateTime": {
            "nullable": true,
            "type": "string"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalAwayTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalHomeTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "HomePointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "HomeRotationNumber": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeam": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamName": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "IsClosed": {
            "nullable": false,
            "type": "boolean"
          },
          "NeutralVenue": {
            "nullable": true,
            "type": "boolean"
          },
          "OverPayout": {
            "nullable": true,
            "type": "integer"
          },
          "OverUnder": {
            "nullable": true,
            "type": "number"
          },
          "Period": {
            "nullable": true,
            "type": "string"
          },
          "Periods": {
            "items": {
              "$ref": "#/components/schemas/Period"
            },
            "type": "array"
          },
          "PointSpread": {
            "nullable": true,
            "type": "number"
          },
          "Possession": {
            "nullable": true,
            "type": "string"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "Stadium": {
            "$ref": "#/components/schemas/Stadium"
          },
          "StadiumID": {
            "nullable": true,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "TimeRemainingMinutes": {
            "nullable": true,
            "type": "integer"
          },
          "TimeRemainingSeconds": {
            "nullable": true,
            "type": "integer"
          },
          "Title": {
            "nullable": true,
            "type": "string"
          },
          "UnderPayout": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Week": {
            "nullable": true,
            "type": "integer"
          },
          "YardLine": {
            "nullable": true,
            "type": "integer"
          },
          "YardLineTerritory": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Period": {
        "properties": {
          "AwayScore": {
            "nullable": true,
            "type": "integer"
          },
          "GameID": {
            "nullable": false,
            "type": "integer"
          },
          "HomeScore": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Number": {
            "nullable": false,
            "type": "integer"
          },
          "PeriodID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Player": {
        "properties": {
          "BirthCity": {
            "nullable": true,
            "type": "string"
          },
          "BirthState": {
            "nullable": true,
            "type": "string"
          },
          "Class": {
            "nullable": true,
            "type": "string"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Height": {
            "nullable": true,
            "type": "integer"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "Jersey": {
            "nullable": true,
            "type": "integer"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "PlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Season": {
        "properties": {
          "ApiSeason": {
            "nullable": true,
            "type": "string"
          },
          "ApiWeek": {
            "nullable": true,
            "type": "integer"
          },
          "Description": {
            "nullable": true,
            "type": "string"
          },
          "EndYear": {
            "nullable": false,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "StartYear": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "Stadium": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "City": {
            "nullable": true,
            "type": "string"
          },
          "Dome": {
            "nullable": false,
            "type": "boolean"
          },
          "GeoLat": {
            "nullable": true,
            "type": "number"
          },
          "GeoLong": {
            "nullable": true,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "StadiumID": {
            "nullable": false,
            "type": "integer"
          },
          "State": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Team": {
        "properties": {
          "Active": {
            "nullable": false,
            "type": "boolean"
          },
          "ApRank": {
            "nullable": true,
            "type": "integer"
          },
          "CoachesRank": {
            "nullable": true,
            "type": "integer"
          },
          "Conference": {
            "nullable": true,
            "type": "string"
          },
          "ConferenceID": {
            "nullable": true,
            "type": "integer"
          },
          "ConferenceLosses": {
            "nullable": true,
            "type": "integer"
          },
          "ConferenceWins": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": false,
            "type": "integer"
          },
          "Key": {
            "nullable": true,
            "type": "string"
          },
          "Losses": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "PlayoffRank": {
            "nullable": true,
            "type": "integer"
          },
          "RankSeason": {
            "nullable": true,
            "type": "integer"
          },
          "RankSeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "RankWeek": {
            "nullable": true,
            "type": "integer"
          },
          "School": {
            "nullable": true,
            "type": "string"
          },
          "ShortDisplayName": {
            "nullable": true,
            "type": "string"
          },
          "StadiumID": {
            "nullable": false,
            "type": "integer"
          },
          "TeamID": {
            "nullable": false,
            "type": "integer"
          },
          "TeamLogoUrl": {
            "nullable": true,
            "type": "string"
          },
          "Wins": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "TeamGame": {
        "properties": {
          "AssistedTackles": {
            "nullable": true,
            "type": "number"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "ExtraPointsAttempted": {
            "nullable": true,
            "type": "number"
          },
          "ExtraPointsMade": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalPercentage": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsAttempted": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsLongestMade": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade": {
            "nullable": true,
            "type": "number"
          },
          "FirstDowns": {
            "nullable": true,
            "type": "integer"
          },
          "FourthDownAttempts": {
            "nullable": true,
            "type": "integer"
          },
          "FourthDownConversions": {
            "nullable": true,
            "type": "integer"
          },
          "FumbleReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "Fumbles": {
            "nullable": true,
            "type": "number"
          },
          "FumblesLost": {
            "nullable": true,
            "type": "number"
          },
          "FumblesRecovered": {
            "nullable": true,
            "type": "number"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalGameID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalOpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeOrAway": {
            "nullable": true,
            "type": "string"
          },
          "InterceptionReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "InterceptionReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "Interceptions": {
            "nullable": true,
            "type": "number"
          },
          "IsGameOver": {
            "nullable": false,
            "type": "boolean"
          },
          "KickReturnLong": {
            "nullable": true,
            "type": "number"
          },
          "KickReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "KickReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "KickReturnYardsPerAttempt": {
            "nullable": true,
            "type": "number"
          },
          "KickReturns": {
            "nullable": true,
            "type": "number"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentID": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentScore": {
            "nullable": true,
            "type": "integer"
          },
          "PassesDefended": {
            "nullable": true,
            "type": "number"
          },
          "PassingAttempts": {
            "nullable": true,
            "type": "number"
          },
          "PassingCompletionPercentage": {
            "nullable": true,
            "type": "number"
          },
          "PassingCompletions": {
            "nullable": true,
            "type": "number"
          },
          "PassingInterceptions": {
            "nullable": true,
            "type": "number"
          },
          "PassingRating": {
            "nullable": true,
            "type": "number"
          },
          "PassingTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "PassingYards": {
            "nullable": true,
            "type": "number"
          },
          "PassingYardsPerAttempt": {
            "nullable": true,
            "type": "number"
          },
          "PassingYardsPerCompletion": {
            "nullable": true,
            "type": "number"
          },
          "Penalties": {
            "nullable": true,
            "type": "integer"
          },
          "PenaltyYards": {
            "nullable": true,
            "type": "integer"
          },
          "PuntAverage": {
            "nullable": true,
            "type": "number"
          },
          "PuntLong": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnLong": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnYardsPerAttempt": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturns": {
            "nullable": true,
            "type": "number"
          },
          "PuntYards": {
            "nullable": true,
            "type": "number"
          },
          "Punts": {
            "nullable": true,
            "type": "number"
          },
          "QuarterbackHurries": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingLong": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingYards": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingYardsPerReception": {
            "nullable": true,
            "type": "number"
          },
          "Receptions": {
            "nullable": true,
            "type": "number"
          },
          "RushingAttempts": {
            "nullable": true,
            "type": "number"
          },
          "RushingLong": {
            "nullable": true,
            "type": "number"
          },
          "RushingTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "RushingYards": {
            "nullable": true,
            "type": "number"
          },
          "RushingYardsPerAttempt": {
            "nullable": true,
            "type": "number"
          },
          "Sacks": {
            "nullable": true,
            "type": "number"
          },
          "Score": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": true,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "SoloTackles": {
            "nullable": true,
            "type": "number"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "TacklesForLoss": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "ThirdDownAttempts": {
            "nullable": true,
            "type": "integer"
          },
          "ThirdDownConversions": {
            "nullable": true,
            "type": "integer"
          },
          "TimeOfPossessionMinutes": {
            "nullable": true,
            "type": "integer"
          },
          "TimeOfPossessionSeconds": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Week": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "TeamSeason": {
        "properties": {
          "AssistedTackles": {
            "nullable": true,
            "type": "number"
          },
          "ConferenceLosses": {
            "nullable": true,
            "type": "integer"
          },
          "ConferencePointsAgainst": {
            "nullable": true,
            "type": "integer"
          },
          "ConferencePointsFor": {
            "nullable": true,
            "type": "integer"
          },
          "ConferenceRank": {
            "nullable": true,
            "type": "integer"
          },
          "ConferenceWins": {
            "nullable": true,
            "type": "integer"
          },
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "DivisionRank": {
            "nullable": true,
            "type": "integer"
          },
          "ExtraPointsAttempted": {
            "nullable": true,
            "type": "number"
          },
          "ExtraPointsMade": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalPercentage": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsAttempted": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsLongestMade": {
            "nullable": true,
            "type": "number"
          },
          "FieldGoalsMade": {
            "nullable": true,
            "type": "number"
          },
          "FirstDowns": {
            "nullable": true,
            "type": "integer"
          },
          "FourthDownAttempts": {
            "nullable": true,
            "type": "integer"
          },
          "FourthDownConversions": {
            "nullable": true,
            "type": "integer"
          },
          "FumbleReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "Fumbles": {
            "nullable": true,
            "type": "number"
          },
          "FumblesLost": {
            "nullable": true,
            "type": "number"
          },
          "FumblesRecovered": {
            "nullable": true,
            "type": "number"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamID": {
            "nullable": true,
            "type": "integer"
          },
          "HomeLosses": {
            "nullable": true,
            "type": "integer"
          },
          "HomeWins": {
            "nullable": true,
            "type": "integer"
          },
          "InterceptionReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "InterceptionReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "Interceptions": {
            "nullable": true,
            "type": "number"
          },
          "KickReturnLong": {
            "nullable": true,
            "type": "number"
          },
          "KickReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "KickReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "KickReturnYardsPerAttempt": {
            "nullable": true,
            "type": "number"
          },
          "KickReturns": {
            "nullable": true,
            "type": "number"
          },
          "Losses": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "OpponentScore": {
            "nullable": true,
            "type": "integer"
          },
          "PassesDefended": {
            "nullable": true,
            "type": "number"
          },
          "PassingAttempts": {
            "nullable": true,
            "type": "number"
          },
          "PassingCompletionPercentage": {
            "nullable": true,
            "type": "number"
          },
          "PassingCompletions": {
            "nullable": true,
            "type": "number"
          },
          "PassingInterceptions": {
            "nullable": true,
            "type": "number"
          },
          "PassingRating": {
            "nullable": true,
            "type": "number"
          },
          "PassingTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "PassingYards": {
            "nullable": true,
            "type": "number"
          },
          "PassingYardsPerAttempt": {
            "nullable": true,
            "type": "number"
          },
          "PassingYardsPerCompletion": {
            "nullable": true,
            "type": "number"
          },
          "Penalties": {
            "nullable": true,
            "type": "integer"
          },
          "PenaltyYards": {
            "nullable": true,
            "type": "integer"
          },
          "PointsAgainst": {
            "nullable": true,
            "type": "integer"
          },
          "PointsFor": {
            "nullable": true,
            "type": "integer"
          },
          "PuntAverage": {
            "nullable": true,
            "type": "number"
          },
          "PuntLong": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnLong": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnYards": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturnYardsPerAttempt": {
            "nullable": true,
            "type": "number"
          },
          "PuntReturns": {
            "nullable": true,
            "type": "number"
          },
          "PuntYards": {
            "nullable": true,
            "type": "number"
          },
          "Punts": {
            "nullable": true,
            "type": "number"
          },
          "QuarterbackHurries": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingLong": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingYards": {
            "nullable": true,
            "type": "number"
          },
          "ReceivingYardsPerReception": {
            "nullable": true,
            "type": "number"
          },
          "Receptions": {
            "nullable": true,
            "type": "number"
          },
          "RoadLosses": {
            "nullable": true,
            "type": "integer"
          },
          "RoadWins": {
            "nullable": true,
            "type": "integer"
          },
          "RushingAttempts": {
            "nullable": true,
            "type": "number"
          },
          "RushingLong": {
            "nullable": true,
            "type": "number"
          },
          "RushingTouchdowns": {
            "nullable": true,
            "type": "number"
          },
          "RushingYards": {
            "nullable": true,
            "type": "number"
          },
          "RushingYardsPerAttempt": {
            "nullable": true,
            "type": "number"
          },
          "Sacks": {
            "nullable": true,
            "type": "number"
          },
          "Score": {
            "nullable": true,
            "type": "integer"
          },
          "Season": {
            "nullable": true,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": true,
            "type": "integer"
          },
          "SoloTackles": {
            "nullable": true,
            "type": "number"
          },
          "StatID": {
            "nullable": false,
            "type": "integer"
          },
          "Streak": {
            "nullable": true,
            "type": "integer"
          },
          "TacklesForLoss": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          },
          "ThirdDownAttempts": {
            "nullable": true,
            "type": "integer"
          },
          "ThirdDownConversions": {
            "nullable": true,
            "type": "integer"
          },
          "TimeOfPossessionMinutes": {
            "nullable": true,
            "type": "integer"
          },
          "TimeOfPossessionSeconds": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "Wins": {
            "nullable": true,
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}