swagger: '2.0'
info:
  version: '2014-03-28'
  x-release: v4
  title: Amazon CloudWatch Logs
  description: '<p>You can use Amazon CloudWatch Logs to monitor, store, and access your log files from Amazon EC2 instances, AWS CloudTrail, or other sources. You can then retrieve the associated log data from CloudWatch Logs using the CloudWatch console, CloudWatch Logs commands in the AWS CLI, CloudWatch Logs API, or CloudWatch Logs SDK.</p> <p>You can use CloudWatch Logs to:</p> <ul> <li> <p> <b>Monitor logs from EC2 instances in real-time</b>: You can use CloudWatch Logs to monitor applications and systems using log data. For example, CloudWatch Logs can track the number of errors that occur in your application logs and send you a notification whenever the rate of errors exceeds a threshold that you specify. CloudWatch Logs uses your log data for monitoring; so, no code changes are required. For example, you can monitor application logs for specific literal terms (such as "NullReferenceException") or count the number of occurrences of a literal term at a particular position in log data (such as "404" status codes in an Apache access log). When the term you are searching for is found, CloudWatch Logs reports the data to a CloudWatch metric that you specify.</p> </li> <li> <p> <b>Monitor AWS CloudTrail logged events</b>: You can create alarms in CloudWatch and receive notifications of particular API activity as captured by CloudTrail and use the notification to perform troubleshooting.</p> </li> <li> <p> <b>Archive log data</b>: You can use CloudWatch Logs to store your log data in highly durable storage. You can change the log retention setting so that any log events older than this setting are automatically deleted. The CloudWatch Logs agent makes it easy to quickly send both rotated and non-rotated log data off of a host and into the log service. You can then access the raw log data when you need it.</p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: logs
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/logs-2014-03-28.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/logs/'
host: logs.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://logs.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon CloudWatch Logs multi-region endpoint
  - url: 'https://logs.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon CloudWatch Logs multi-region endpoint
  - url: 'http://logs.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon CloudWatch Logs endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://logs.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon CloudWatch Logs endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=Logs_20140328.AssociateKmsKey':
    post:
      operationId: AssociateKmsKey
      description: '<p>Associates the specified AWS Key Management Service (AWS KMS) customer master key (CMK) with the specified log group.</p> <p>Associating an AWS KMS CMK with a log group overrides any existing associations between the log group and a CMK. After a CMK is associated with a log group, all newly ingested data for the log group is encrypted using the CMK. This association is stored as long as the data encrypted with the CMK is still within Amazon CloudWatch Logs. This enables Amazon CloudWatch Logs to decrypt this data whenever it is requested.</p> <p>Note that it can take up to 5 minutes for this operation to take effect.</p> <p>If you attempt to associate a CMK with a log group but the CMK does not exist or the CMK is disabled, you will receive an <code>InvalidParameterException</code> error. </p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateKmsKeyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.AssociateKmsKey
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.CancelExportTask':
    post:
      operationId: CancelExportTask
      description: <p>Cancels the specified export task.</p> <p>The task must be in the <code>PENDING</code> or <code>RUNNING</code> state.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelExportTaskRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.CancelExportTask
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.CreateExportTask':
    post:
      operationId: CreateExportTask
      description: '<p>Creates an export task, which allows you to efficiently export data from a log group to an Amazon S3 bucket.</p> <p>This is an asynchronous call. If all the required information is provided, this operation initiates an export task and responds with the ID of the task. After the task has started, you can use <a>DescribeExportTasks</a> to get the status of the export task. Each account can only have one active (<code>RUNNING</code> or <code>PENDING</code>) export task at a time. To cancel an export task, use <a>CancelExportTask</a>.</p> <p>You can export logs from multiple log groups or multiple time ranges to the same S3 bucket. To separate out log data for each export task, you can specify a prefix to be used as the Amazon S3 key prefix for all exported objects.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateExportTaskResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateExportTaskRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.CreateExportTask
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.CreateLogGroup':
    post:
      operationId: CreateLogGroup
      description: '<p>Creates a log group with the specified name.</p> <p>You can create up to 5000 log groups per account.</p> <p>You must use the following guidelines when naming a log group:</p> <ul> <li> <p>Log group names must be unique within a region for an AWS account.</p> </li> <li> <p>Log group names can be between 1 and 512 characters long.</p> </li> <li> <p>Log group names consist of the following characters: a-z, A-Z, 0-9, ''_'' (underscore), ''-'' (hyphen), ''/'' (forward slash), and ''.'' (period).</p> </li> </ul> <p>If you associate a AWS Key Management Service (AWS KMS) customer master key (CMK) with the log group, ingested data is encrypted using the CMK. This association is stored as long as the data encrypted with the CMK is still within Amazon CloudWatch Logs. This enables Amazon CloudWatch Logs to decrypt this data whenever it is requested.</p> <p>If you attempt to associate a CMK with the log group but the CMK does not exist or the CMK is disabled, you will receive an <code>InvalidParameterException</code> error. </p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLogGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.CreateLogGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.CreateLogStream':
    post:
      operationId: CreateLogStream
      description: '<p>Creates a log stream for the specified log group.</p> <p>There is no limit on the number of log streams that you can create for a log group.</p> <p>You must use the following guidelines when naming a log stream:</p> <ul> <li> <p>Log stream names must be unique within the log group.</p> </li> <li> <p>Log stream names can be between 1 and 512 characters long.</p> </li> <li> <p>The '':'' (colon) and ''*'' (asterisk) characters are not allowed.</p> </li> </ul>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLogStreamRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.CreateLogStream
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DeleteDestination':
    post:
      operationId: DeleteDestination
      description: 'Deletes the specified destination, and eventually disables all the subscription filters that publish to it. This operation does not delete the physical resource encapsulated by the destination.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDestinationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DeleteDestination
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DeleteLogGroup':
    post:
      operationId: DeleteLogGroup
      description: Deletes the specified log group and permanently deletes all the archived log events associated with the log group.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLogGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DeleteLogGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DeleteLogStream':
    post:
      operationId: DeleteLogStream
      description: Deletes the specified log stream and permanently deletes all the archived log events associated with the log stream.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLogStreamRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DeleteLogStream
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DeleteMetricFilter':
    post:
      operationId: DeleteMetricFilter
      description: Deletes the specified metric filter.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteMetricFilterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DeleteMetricFilter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DeleteResourcePolicy':
    post:
      operationId: DeleteResourcePolicy
      description: Deletes a resource policy from this account. This revokes the access of the identities in that policy to put log events to this account.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteResourcePolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DeleteResourcePolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DeleteRetentionPolicy':
    post:
      operationId: DeleteRetentionPolicy
      description: <p>Deletes the specified retention policy.</p> <p>Log events do not expire if they belong to log groups without a retention policy.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRetentionPolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DeleteRetentionPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DeleteSubscriptionFilter':
    post:
      operationId: DeleteSubscriptionFilter
      description: Deletes the specified subscription filter.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSubscriptionFilterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DeleteSubscriptionFilter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DescribeDestinations':
    post:
      operationId: DescribeDestinations
      description: Lists all your destinations. The results are ASCII-sorted by destination name.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDestinationsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDestinationsRequest'
        - name: limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DescribeDestinations
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DescribeExportTasks':
    post:
      operationId: DescribeExportTasks
      description: Lists the specified export tasks. You can list all your export tasks or filter the results based on task ID or task status.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeExportTasksResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeExportTasksRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DescribeExportTasks
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DescribeLogGroups':
    post:
      operationId: DescribeLogGroups
      description: Lists the specified log groups. You can list all your log groups or filter the results by prefix. The results are ASCII-sorted by log group name.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLogGroupsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLogGroupsRequest'
        - name: limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DescribeLogGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DescribeLogStreams':
    post:
      operationId: DescribeLogStreams
      description: '<p>Lists the log streams for the specified log group. You can list all the log streams or filter the results by prefix. You can also control how the results are ordered.</p> <p>This operation has a limit of five transactions per second, after which transactions are throttled.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLogStreamsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLogStreamsRequest'
        - name: limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DescribeLogStreams
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DescribeMetricFilters':
    post:
      operationId: DescribeMetricFilters
      description: 'Lists the specified metric filters. You can list all the metric filters or filter the results by log name, prefix, metric name, or metric namespace. The results are ASCII-sorted by filter name.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMetricFiltersResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMetricFiltersRequest'
        - name: limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DescribeMetricFilters
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DescribeQueries':
    post:
      operationId: DescribeQueries
      description: 'Returns a list of CloudWatch Logs Insights queries that are scheduled, executing, or have been executed recently in this account. You can request all queries, or limit it to queries of a specific log group or queries with a certain status.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeQueriesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeQueriesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DescribeQueries
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DescribeResourcePolicies':
    post:
      operationId: DescribeResourcePolicies
      description: Lists the resource policies in this account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeResourcePoliciesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeResourcePoliciesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DescribeResourcePolicies
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DescribeSubscriptionFilters':
    post:
      operationId: DescribeSubscriptionFilters
      description: Lists the subscription filters for the specified log group. You can list all the subscription filters or filter the results by prefix. The results are ASCII-sorted by filter name.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSubscriptionFiltersResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSubscriptionFiltersRequest'
        - name: limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DescribeSubscriptionFilters
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.DisassociateKmsKey':
    post:
      operationId: DisassociateKmsKey
      description: '<p>Disassociates the associated AWS Key Management Service (AWS KMS) customer master key (CMK) from the specified log group.</p> <p>After the AWS KMS CMK is disassociated from the log group, AWS CloudWatch Logs stops encrypting newly ingested data for the log group. All previously ingested data remains encrypted, and AWS CloudWatch Logs requires permissions for the CMK whenever the encrypted data is requested.</p> <p>Note that it can take up to 5 minutes for this operation to take effect.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateKmsKeyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.DisassociateKmsKey
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.FilterLogEvents':
    post:
      operationId: FilterLogEvents
      description: '<p>Lists log events from the specified log group. You can list all the log events or filter the results using a filter pattern, a time range, and the name of the log stream.</p> <p>By default, this operation returns as many log events as can fit in 1 MB (up to 10,000 log events), or all the events found within the time range that you specify. If the results include a token, then there are more log events available, and you can get additional results by specifying the token in a subsequent call.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FilterLogEventsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/FilterLogEventsRequest'
        - name: limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.FilterLogEvents
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.GetLogEvents':
    post:
      operationId: GetLogEvents
      description: '<p>Lists log events from the specified log stream. You can list all the log events or filter using a time range.</p> <p>By default, this operation returns as many log events as can fit in a response size of 1MB (up to 10,000 log events). You can get additional log events by specifying one of the tokens in a subsequent call.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLogEventsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetLogEventsRequest'
        - name: limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.GetLogEvents
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.GetLogGroupFields':
    post:
      operationId: GetLogGroupFields
      description: '<p>Returns a list of the fields that are included in log events in the specified log group, along with the percentage of log events that contain each field. The search is limited to a time period that you specify.</p> <p>In the results, fields that start with @ are fields generated by CloudWatch Logs. For example, <code>@timestamp</code> is the timestamp of each log event.</p> <p>The response results are sorted by the frequency percentage, starting with the highest percentage.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLogGroupFieldsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetLogGroupFieldsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.GetLogGroupFields
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.GetLogRecord':
    post:
      operationId: GetLogRecord
      description: '<p>Retrieves all the fields and values of a single log event. All fields are retrieved, even if the original query that produced the <code>logRecordPointer</code> retrieved only a subset of fields. Fields are returned as field name/field value pairs.</p> <p>Additionally, the entire unparsed log event is returned within <code>@message</code>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLogRecordResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetLogRecordRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.GetLogRecord
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.GetQueryResults':
    post:
      operationId: GetQueryResults
      description: '<p>Returns the results from the specified query. If the query is in progress, partial results of that current execution are returned.</p> <p>Only the fields requested in the query are returned, along with a <code>@ptr</code> field which is the identifier for the log record. You can use the value of <code>@ptr</code> in a operation to get the full log record.</p> <p> <code>GetQueryResults</code> does not start a query execution. To run a query, use .</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQueryResultsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetQueryResultsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.GetQueryResults
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.ListTagsLogGroup':
    post:
      operationId: ListTagsLogGroup
      description: Lists the tags for the specified log group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsLogGroupResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsLogGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.ListTagsLogGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.PutDestination':
    post:
      operationId: PutDestination
      description: '<p>Creates or updates a destination. A destination encapsulates a physical resource (such as an Amazon Kinesis stream) and enables you to subscribe to a real-time stream of log events for a different account, ingested using <a>PutLogEvents</a>. Currently, the only supported physical resource is a Kinesis stream belonging to the same account as the destination.</p> <p>Through an access policy, a destination controls what is written to its Kinesis stream. By default, <code>PutDestination</code> does not set any access policy with the destination, which means a cross-account user cannot call <a>PutSubscriptionFilter</a> against this destination. To enable this, the destination owner must call <a>PutDestinationPolicy</a> after <code>PutDestination</code>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDestinationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDestinationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.PutDestination
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.PutDestinationPolicy':
    post:
      operationId: PutDestinationPolicy
      description: 'Creates or updates an access policy associated with an existing destination. An access policy is an <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDestinationPolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.PutDestinationPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.PutLogEvents':
    post:
      operationId: PutLogEvents
      description: '<p>Uploads a batch of log events to the specified log stream.</p> <p>You must include the sequence token obtained from the response of the previous call. An upload in a newly created log stream does not require a sequence token. You can also get the sequence token using <a>DescribeLogStreams</a>. If you call <code>PutLogEvents</code> twice within a narrow time period using the same value for <code>sequenceToken</code>, both calls may be successful, or one may be rejected.</p> <p>The batch of events must satisfy the following constraints:</p> <ul> <li> <p>The maximum batch size is 1,048,576 bytes, and this size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</p> </li> <li> <p>None of the log events in the batch can be more than 2 hours in the future.</p> </li> <li> <p>None of the log events in the batch can be older than 14 days or older than the retention period of the log group.</p> </li> <li> <p>The log events in the batch must be in chronological ordered by their timestamp. The timestamp is the time the event occurred, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. (In AWS Tools for PowerShell and the AWS SDK for .NET, the timestamp is specified in .NET format: yyyy-mm-ddThh:mm:ss. For example, 2017-09-15T13:45:30.) </p> </li> <li> <p>The maximum number of log events in a batch is 10,000.</p> </li> <li> <p>A batch of log events in a single request cannot span more than 24 hours. Otherwise, the operation fails.</p> </li> </ul> <p>If a call to PutLogEvents returns "UnrecognizedClientException" the most likely cause is an invalid AWS access key ID or secret key. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutLogEventsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InvalidSequenceTokenException
          schema:
            $ref: '#/definitions/InvalidSequenceTokenException'
        '482':
          description: DataAlreadyAcceptedException
          schema:
            $ref: '#/definitions/DataAlreadyAcceptedException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: UnrecognizedClientException
          schema:
            $ref: '#/definitions/UnrecognizedClientException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutLogEventsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.PutLogEvents
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.PutMetricFilter':
    post:
      operationId: PutMetricFilter
      description: <p>Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <a>PutLogEvents</a>.</p> <p>The maximum number of metric filters that can be associated with a log group is 100.</p>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutMetricFilterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.PutMetricFilter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.PutResourcePolicy':
    post:
      operationId: PutResourcePolicy
      description: 'Creates or updates a resource policy allowing other AWS services to put log events to this account, such as Amazon Route 53. An account can have up to 10 resource policies per region.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutResourcePolicyResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutResourcePolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.PutResourcePolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.PutRetentionPolicy':
    post:
      operationId: PutRetentionPolicy
      description: Sets the retention of the specified log group. A retention policy allows you to configure the number of days for which to retain log events in the specified log group.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutRetentionPolicyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.PutRetentionPolicy
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.PutSubscriptionFilter':
    post:
      operationId: PutSubscriptionFilter
      description: '<p>Creates or updates a subscription filter and associates it with the specified log group. Subscription filters allow you to subscribe to a real-time stream of log events ingested through <a>PutLogEvents</a> and have them delivered to a specific destination. Currently, the supported destinations are:</p> <ul> <li> <p>An Amazon Kinesis stream belonging to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>A logical destination that belongs to a different account, for cross-account delivery.</p> </li> <li> <p>An Amazon Kinesis Firehose delivery stream that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>An AWS Lambda function that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> </ul> <p>There can only be one subscription filter associated with a log group. If you are updating an existing filter, you must specify the correct name in <code>filterName</code>. Otherwise, the call fails because you cannot associate a second filter with a log group.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutSubscriptionFilterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.PutSubscriptionFilter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.StartQuery':
    post:
      operationId: StartQuery
      description: '<p>Schedules a query of a log group using CloudWatch Logs Insights. You specify the log group and time range to query, and the query string to use.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CWL_QuerySyntax.html">CloudWatch Logs Insights Query Syntax</a>.</p> <p>Queries time out after 15 minutes of execution. If your queries are timing out, reduce the time range being searched, or partition your query into a number of queries.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartQueryResponse'
        '480':
          description: MalformedQueryException
          schema:
            $ref: '#/definitions/MalformedQueryException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartQueryRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.StartQuery
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.StopQuery':
    post:
      operationId: StopQuery
      description: 'Stops a CloudWatch Logs Insights query that is in progress. If the query has already ended, the operation returns an error indicating that the specified query is not running.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopQueryResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopQueryRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.StopQuery
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.TagLogGroup':
    post:
      operationId: TagLogGroup
      description: '<p>Adds or updates the specified tags for the specified log group.</p> <p>To list the tags for a log group, use <a>ListTagsLogGroup</a>. To remove tags, use <a>UntagLogGroup</a>.</p> <p>For more information about tags, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/log-group-tagging.html">Tag Log Groups in Amazon CloudWatch Logs</a> in the <i>Amazon CloudWatch Logs User Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagLogGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.TagLogGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.TestMetricFilter':
    post:
      operationId: TestMetricFilter
      description: Tests the filter pattern of a metric filter against a sample of log event messages. You can use this operation to validate the correctness of a metric filter pattern.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestMetricFilterResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestMetricFilterRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.TestMetricFilter
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=Logs_20140328.UntagLogGroup':
    post:
      operationId: UntagLogGroup
      description: '<p>Removes the specified tags from the specified log group.</p> <p>To list the tags for a log group, use <a>ListTagsLogGroup</a>. To add tags, use <a>UntagLogGroup</a>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagLogGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - Logs_20140328.UntagLogGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AssociateKmsKeyRequest:
    type: object
    required:
      - logGroupName
      - kmsKeyId
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      kmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: 'The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.'
  InvalidParameterException: {}
  ResourceNotFoundException: {}
  OperationAbortedException: {}
  ServiceUnavailableException: {}
  CancelExportTaskRequest:
    type: object
    required:
      - taskId
    properties:
      taskId:
        $ref: '#/definitions/ExportTaskId'
        description: The ID of the export task.
  InvalidOperationException: {}
  CreateExportTaskResponse:
    type: object
    properties:
      taskId:
        $ref: '#/definitions/ExportTaskId'
        description: The ID of the export task.
  CreateExportTaskRequest:
    type: object
    required:
      - logGroupName
      - from
      - to
      - destination
    properties:
      taskName:
        $ref: '#/definitions/ExportTaskName'
        description: The name of the export task.
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamNamePrefix:
        $ref: '#/definitions/LogStreamName'
        description: 'Export only log streams that match the provided prefix. If you don''t specify a value, no prefix filter is applied.'
      from:
        $ref: '#/definitions/Timestamp'
        description: 'The start time of the range for the request, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.'
      to:
        $ref: '#/definitions/Timestamp'
        description: 'The end time of the range for the request, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.'
      destination:
        $ref: '#/definitions/ExportDestinationBucket'
        description: The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.
      destinationPrefix:
        $ref: '#/definitions/ExportDestinationPrefix'
        description: 'The prefix used as the start of the key for every object exported. If you don''t specify a value, the default is <code>exportedlogs</code>.'
  LimitExceededException: {}
  ResourceAlreadyExistsException: {}
  CreateLogGroupRequest:
    type: object
    required:
      - logGroupName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      kmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: 'The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.'
      tags:
        $ref: '#/definitions/Tags'
        description: The key-value pairs to use for the tags.
  CreateLogStreamRequest:
    type: object
    required:
      - logGroupName
      - logStreamName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamName:
        $ref: '#/definitions/LogStreamName'
        description: The name of the log stream.
  DeleteDestinationRequest:
    type: object
    required:
      - destinationName
    properties:
      destinationName:
        $ref: '#/definitions/DestinationName'
        description: The name of the destination.
  DeleteLogGroupRequest:
    type: object
    required:
      - logGroupName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
  DeleteLogStreamRequest:
    type: object
    required:
      - logGroupName
      - logStreamName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamName:
        $ref: '#/definitions/LogStreamName'
        description: The name of the log stream.
  DeleteMetricFilterRequest:
    type: object
    required:
      - logGroupName
      - filterName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      filterName:
        $ref: '#/definitions/FilterName'
        description: The name of the metric filter.
  DeleteResourcePolicyRequest:
    type: object
    properties:
      policyName:
        $ref: '#/definitions/PolicyName'
        description: The name of the policy to be revoked. This parameter is required.
  DeleteRetentionPolicyRequest:
    type: object
    required:
      - logGroupName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
  DeleteSubscriptionFilterRequest:
    type: object
    required:
      - logGroupName
      - filterName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      filterName:
        $ref: '#/definitions/FilterName'
        description: The name of the subscription filter.
  DescribeDestinationsResponse:
    type: object
    properties:
      destinations:
        $ref: '#/definitions/Destinations'
        description: The destinations.
      nextToken:
        $ref: '#/definitions/NextToken'
  DescribeDestinationsRequest:
    type: object
    properties:
      DestinationNamePrefix:
        $ref: '#/definitions/DestinationName'
        description: 'The prefix to match. If you don''t specify a value, no prefix filter is applied.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
  DescribeExportTasksResponse:
    type: object
    properties:
      exportTasks:
        $ref: '#/definitions/ExportTasks'
        description: The export tasks.
      nextToken:
        $ref: '#/definitions/NextToken'
  DescribeExportTasksRequest:
    type: object
    properties:
      taskId:
        $ref: '#/definitions/ExportTaskId'
        description: The ID of the export task. Specifying a task ID filters the results to zero or one export tasks.
      statusCode:
        $ref: '#/definitions/ExportTaskStatusCode'
        description: The status code of the export task. Specifying a status code filters the results to zero or more export tasks.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
  DescribeLogGroupsResponse:
    type: object
    properties:
      logGroups:
        $ref: '#/definitions/LogGroups'
        description: The log groups.
      nextToken:
        $ref: '#/definitions/NextToken'
  DescribeLogGroupsRequest:
    type: object
    properties:
      logGroupNamePrefix:
        $ref: '#/definitions/LogGroupName'
        description: The prefix to match.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
  DescribeLogStreamsResponse:
    type: object
    properties:
      logStreams:
        $ref: '#/definitions/LogStreams'
        description: The log streams.
      nextToken:
        $ref: '#/definitions/NextToken'
  DescribeLogStreamsRequest:
    type: object
    required:
      - logGroupName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamNamePrefix:
        $ref: '#/definitions/LogStreamName'
        description: '<p>The prefix to match.</p> <p>If <code>orderBy</code> is <code>LastEventTime</code>,you cannot specify this parameter.</p>'
      orderBy:
        $ref: '#/definitions/OrderBy'
        description: '<p>If the value is <code>LogStreamName</code>, the results are ordered by log stream name. If the value is <code>LastEventTime</code>, the results are ordered by the event time. The default value is <code>LogStreamName</code>.</p> <p>If you order the results by event time, you cannot specify the <code>logStreamNamePrefix</code> parameter.</p> <p>lastEventTimestamp represents the time of the most recent log event in the log stream in CloudWatch Logs. This number is expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. lastEventTimeStamp updates on an eventual consistency basis. It typically updates in less than an hour from ingestion, but may take longer in some rare situations.</p>'
      descending:
        $ref: '#/definitions/Descending'
        description: 'If the value is true, results are returned in descending order. If the value is to false, results are returned in ascending order. The default value is false.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
  DescribeMetricFiltersResponse:
    type: object
    properties:
      metricFilters:
        $ref: '#/definitions/MetricFilters'
        description: The metric filters.
      nextToken:
        $ref: '#/definitions/NextToken'
  DescribeMetricFiltersRequest:
    type: object
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      filterNamePrefix:
        $ref: '#/definitions/FilterName'
        description: The prefix to match.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
      metricName:
        $ref: '#/definitions/MetricName'
        description: 'Filters results to include only those with the specified metric name. If you include this parameter in your request, you must also include the <code>metricNamespace</code> parameter.'
      metricNamespace:
        $ref: '#/definitions/MetricNamespace'
        description: 'Filters results to include only those in the specified namespace. If you include this parameter in your request, you must also include the <code>metricName</code> parameter.'
  DescribeQueriesResponse:
    type: object
    properties:
      queries:
        $ref: '#/definitions/QueryInfoList'
        description: The list of queries that match the request.
      nextToken:
        $ref: '#/definitions/NextToken'
  DescribeQueriesRequest:
    type: object
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: Limits the returned queries to only those for the specified log group.
      status:
        $ref: '#/definitions/QueryStatus'
        description: 'Limits the returned queries to only those that have the specified status. Valid values are <code>Cancelled</code>, <code>Complete</code>, <code>Failed</code>, <code>Running</code>, and <code>Scheduled</code>.'
      maxResults:
        $ref: '#/definitions/DescribeQueriesMaxResults'
        description: Limits the number of returned queries to the specified number.
      nextToken:
        $ref: '#/definitions/NextToken'
  DescribeResourcePoliciesResponse:
    type: object
    properties:
      resourcePolicies:
        $ref: '#/definitions/ResourcePolicies'
        description: The resource policies that exist in this account.
      nextToken:
        $ref: '#/definitions/NextToken'
  DescribeResourcePoliciesRequest:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: The maximum number of resource policies to be displayed with one call of this API.
  DescribeSubscriptionFiltersResponse:
    type: object
    properties:
      subscriptionFilters:
        $ref: '#/definitions/SubscriptionFilters'
        description: The subscription filters.
      nextToken:
        $ref: '#/definitions/NextToken'
  DescribeSubscriptionFiltersRequest:
    type: object
    required:
      - logGroupName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      filterNamePrefix:
        $ref: '#/definitions/FilterName'
        description: 'The prefix to match. If you don''t specify a value, no prefix filter is applied.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
  DisassociateKmsKeyRequest:
    type: object
    required:
      - logGroupName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
  FilterLogEventsResponse:
    type: object
    properties:
      events:
        $ref: '#/definitions/FilteredLogEvents'
        description: The matched events.
      searchedLogStreams:
        $ref: '#/definitions/SearchedLogStreams'
        description: Indicates which log streams have been searched and whether each has been searched completely.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use when requesting the next set of items. The token expires after 24 hours.
  FilterLogEventsRequest:
    type: object
    required:
      - logGroupName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group to search.
      logStreamNames:
        $ref: '#/definitions/InputLogStreamNames'
        description: '<p>Filters the results to only logs from the log streams in this list.</p> <p>If you specify a value for both <code>logStreamNamePrefix</code> and <code>logStreamNames</code>, the action returns an <code>InvalidParameterException</code> error.</p>'
      logStreamNamePrefix:
        $ref: '#/definitions/LogStreamName'
        description: '<p>Filters the results to include only events from log streams that have names starting with this prefix.</p> <p>If you specify a value for both <code>logStreamNamePrefix</code> and <code>logStreamNames</code>, but the value for <code>logStreamNamePrefix</code> does not match any log stream names specified in <code>logStreamNames</code>, the action returns an <code>InvalidParameterException</code> error.</p>'
      startTime:
        $ref: '#/definitions/Timestamp'
        description: 'The start of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp before this time are not returned.'
      endTime:
        $ref: '#/definitions/Timestamp'
        description: 'The end of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not returned.'
      filterPattern:
        $ref: '#/definitions/FilterPattern'
        description: '<p>The filter pattern to use. For more information, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html">Filter and Pattern Syntax</a>.</p> <p>If not provided, all the events are matched.</p>'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of events to return. (You received this token from a previous call.)
      limit:
        $ref: '#/definitions/EventsLimit'
        description: 'The maximum number of events to return. The default is 10,000 events.'
      interleaved:
        $ref: '#/definitions/Interleaved'
        description: '<p>If the value is true, the operation makes a best effort to provide responses that contain events from multiple log streams within the log group, interleaved in a single response. If the value is false, all the matched log events in the first log stream are searched first, then those in the next log stream, and so on. The default is false.</p> <p> <b>IMPORTANT:</b> Starting on June 17, 2019, this parameter will be ignored and the value will be assumed to be true. The response from this operation will always interleave events from multiple log streams within a log group.</p>'
  GetLogEventsResponse:
    type: object
    properties:
      events:
        $ref: '#/definitions/OutputLogEvents'
        description: The events.
      nextForwardToken:
        $ref: '#/definitions/NextToken'
        description: 'The token for the next set of items in the forward direction. The token expires after 24 hours. If you have reached the end of the stream, it will return the same token you passed in.'
      nextBackwardToken:
        $ref: '#/definitions/NextToken'
        description: 'The token for the next set of items in the backward direction. The token expires after 24 hours. This token will never be null. If you have reached the end of the stream, it will return the same token you passed in.'
  GetLogEventsRequest:
    type: object
    required:
      - logGroupName
      - logStreamName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamName:
        $ref: '#/definitions/LogStreamName'
        description: The name of the log stream.
      startTime:
        $ref: '#/definitions/Timestamp'
        description: 'The start of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp equal to this time or later than this time are included. Events with a timestamp earlier than this time are not included.'
      endTime:
        $ref: '#/definitions/Timestamp'
        description: 'The end of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp equal to or later than this time are not included.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      limit:
        $ref: '#/definitions/EventsLimit'
        description: 'The maximum number of log events returned. If you don''t specify a value, the maximum is as many log events as can fit in a response size of 1 MB, up to 10,000 log events.'
      startFromHead:
        $ref: '#/definitions/StartFromHead'
        description: 'If the value is true, the earliest log events are returned first. If the value is false, the latest log events are returned first. The default value is false.'
  GetLogGroupFieldsResponse:
    type: object
    properties:
      logGroupFields:
        $ref: '#/definitions/LogGroupFieldList'
        description: 'The array of fields found in the query. Each object in the array contains the name of the field, along with the percentage of time it appeared in the log events that were queried.'
  GetLogGroupFieldsRequest:
    type: object
    required:
      - logGroupName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group to search.
      time:
        $ref: '#/definitions/Timestamp'
        description: '<p>The time to set as the center of the query. If you specify <code>time</code>, the 8 minutes before and 8 minutes after this time are searched. If you omit <code>time</code>, the past 15 minutes are queried.</p> <p>The <code>time</code> value is specified as epoch time, the number of seconds since January 1, 1970, 00:00:00 UTC.</p>'
  GetLogRecordResponse:
    type: object
    properties:
      logRecord:
        $ref: '#/definitions/LogRecord'
        description: 'The requested log event, as a JSON string.'
  GetLogRecordRequest:
    type: object
    required:
      - logRecordPointer
    properties:
      logRecordPointer:
        $ref: '#/definitions/LogRecordPointer'
        description: 'The pointer corresponding to the log event record you want to retrieve. You get this from the response of a <code>GetQueryResults</code> operation. In that response, the value of the <code>@ptr</code> field for a log event is the value to use as <code>logRecordPointer</code> to retrieve that complete log event record.'
  GetQueryResultsResponse:
    type: object
    properties:
      results:
        $ref: '#/definitions/QueryResults'
        description: <p>The log events that matched the query criteria during the most recent time it ran.</p> <p>The <code>results</code> value is an array of arrays. Each log event is one object in the top-level array. Each of these log event objects is an array of <code>field</code>/<code>value</code> pairs.</p>
      statistics:
        $ref: '#/definitions/QueryStatistics'
        description: 'Includes the number of log events scanned by the query, the number of log events that matched the query criteria, and the total number of bytes in the log events that were scanned.'
      status:
        $ref: '#/definitions/QueryStatus'
        description: '<p>The status of the most recent running of the query. Possible values are <code>Cancelled</code>, <code>Complete</code>, <code>Failed</code>, <code>Running</code>, <code>Scheduled</code>, <code>Timeout</code>, and <code>Unknown</code>.</p> <p>Queries time out after 15 minutes of execution. To avoid having your queries time out, reduce the time range being searched, or partition your query into a number of queries.</p>'
  GetQueryResultsRequest:
    type: object
    required:
      - queryId
    properties:
      queryId:
        $ref: '#/definitions/QueryId'
        description: The ID number of the query.
  ListTagsLogGroupResponse:
    type: object
    properties:
      tags:
        $ref: '#/definitions/Tags'
        description: The tags for the log group.
  ListTagsLogGroupRequest:
    type: object
    required:
      - logGroupName
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
  PutDestinationResponse:
    type: object
    properties:
      destination:
        $ref: '#/definitions/Destination'
        description: The destination.
  PutDestinationRequest:
    type: object
    required:
      - destinationName
      - targetArn
      - roleArn
    properties:
      destinationName:
        $ref: '#/definitions/DestinationName'
        description: A name for the destination.
      targetArn:
        $ref: '#/definitions/TargetArn'
        description: The ARN of an Amazon Kinesis stream to which to deliver matching log events.
      roleArn:
        $ref: '#/definitions/RoleArn'
        description: The ARN of an IAM role that grants CloudWatch Logs permissions to call the Amazon Kinesis PutRecord operation on the destination stream.
  PutDestinationPolicyRequest:
    type: object
    required:
      - destinationName
      - accessPolicy
    properties:
      destinationName:
        $ref: '#/definitions/DestinationName'
        description: A name for an existing destination.
      accessPolicy:
        $ref: '#/definitions/AccessPolicy'
[...]
