swagger: '2.0'
schemes:
  - https
  - http
host: logs.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>You can use Amazon CloudWatch Logs to monitor, store, and access your log files from Amazon EC2 instances, AWS CloudTrail, or other sources. You can then retrieve the associated log data from CloudWatch Logs using the CloudWatch console, CloudWatch Logs commands in the AWS CLI, CloudWatch Logs API, or CloudWatch Logs SDK.</p> <p>You can use CloudWatch Logs to:</p> <ul> <li> <p> <b>Monitor logs from EC2 instances in real-time</b>: You can use CloudWatch Logs to monitor applications and systems using log data. For example, CloudWatch Logs can track the number of errors that occur in your application logs and send you a notification whenever the rate of errors exceeds a threshold that you specify. CloudWatch Logs uses your log data for monitoring; so, no code changes are required. For example, you can monitor application logs for specific literal terms (such as "NullReferenceException") or count the number of occurrences of a literal term at a particular position in log data (such as "404" status codes in an Apache access log). When the term you are searching for is found, CloudWatch Logs reports the data to a CloudWatch metric that you specify.</p> </li> <li> <p> <b>Monitor AWS CloudTrail logged events</b>: You can create alarms in CloudWatch and receive notifications of particular API activity as captured by CloudTrail and use the notification to perform troubleshooting.</p> </li> <li> <p> <b>Archive log data</b>: You can use CloudWatch Logs to store your log data in highly durable storage. You can change the log retention setting so that any log events older than this setting are automatically deleted. The CloudWatch Logs agent makes it easy to quickly send both rotated and non-rotated log data off of a host and into the log service. You can then access the raw log data when you need it.</p> </li> </ul>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon CloudWatch Logs
  version: '2014-03-28'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/logs-2014-03-28.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: logs
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/logs/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=Logs_20140328.AssociateKmsKey':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Associates the specified AWS Key Management Service (AWS KMS) customer master key (CMK) with the specified log group.</p> <p>Associating an AWS KMS CMK with a log group overrides any existing associations between the log group and a CMK. After a CMK is associated with a log group, all newly ingested data for the log group is encrypted using the CMK. This association is stored as long as the data encrypted with the CMK is still within Amazon CloudWatch Logs. This enables Amazon CloudWatch Logs to decrypt this data whenever it is requested.</p> <p>Note that it can take up to 5 minutes for this operation to take effect.</p> <p>If you attempt to associate a CMK with a log group but the CMK does not exist or the CMK is disabled, you will receive an <code>InvalidParameterException</code> error. </p>'
      operationId: AssociateKmsKey
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AssociateKmsKeyRequest'
        - enum:
            - Logs_20140328.AssociateKmsKey
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.CancelExportTask':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Cancels the specified export task.</p> <p>The task must be in the <code>PENDING</code> or <code>RUNNING</code> state.</p>
      operationId: CancelExportTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CancelExportTaskRequest'
        - enum:
            - Logs_20140328.CancelExportTask
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InvalidOperationException
          schema:
            $ref: '#/definitions/InvalidOperationException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.CreateExportTask':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an export task, which allows you to efficiently export data from a log group to an Amazon S3 bucket.</p> <p>This is an asynchronous call. If all the required information is provided, this operation initiates an export task and responds with the ID of the task. After the task has started, you can use <a>DescribeExportTasks</a> to get the status of the export task. Each account can only have one active (<code>RUNNING</code> or <code>PENDING</code>) export task at a time. To cancel an export task, use <a>CancelExportTask</a>.</p> <p>You can export logs from multiple log groups or multiple time ranges to the same S3 bucket. To separate out log data for each export task, you can specify a prefix to be used as the Amazon S3 key prefix for all exported objects.</p> <p>Exporting to S3 buckets that are encrypted with AES-256 is supported. Exporting to S3 buckets encrypted with SSE-KMS is not supported. </p>'
      operationId: CreateExportTask
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateExportTaskRequest'
        - enum:
            - Logs_20140328.CreateExportTask
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateExportTaskResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '485':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
  '/#X-Amz-Target=Logs_20140328.CreateLogGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a log group with the specified name.</p> <p>You can create up to 5000 log groups per account.</p> <p>You must use the following guidelines when naming a log group:</p> <ul> <li> <p>Log group names must be unique within a region for an AWS account.</p> </li> <li> <p>Log group names can be between 1 and 512 characters long.</p> </li> <li> <p>Log group names consist of the following characters: a-z, A-Z, 0-9, ''_'' (underscore), ''-'' (hyphen), ''/'' (forward slash), and ''.'' (period).</p> </li> </ul> <p>If you associate a AWS Key Management Service (AWS KMS) customer master key (CMK) with the log group, ingested data is encrypted using the CMK. This association is stored as long as the data encrypted with the CMK is still within Amazon CloudWatch Logs. This enables Amazon CloudWatch Logs to decrypt this data whenever it is requested.</p> <p>If you attempt to associate a CMK with the log group but the CMK does not exist or the CMK is disabled, you will receive an <code>InvalidParameterException</code> error. </p>'
      operationId: CreateLogGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateLogGroupRequest'
        - enum:
            - Logs_20140328.CreateLogGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.CreateLogStream':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates a log stream for the specified log group.</p> <p>There is no limit on the number of log streams that you can create for a log group.</p> <p>You must use the following guidelines when naming a log stream:</p> <ul> <li> <p>Log stream names must be unique within the log group.</p> </li> <li> <p>Log stream names can be between 1 and 512 characters long.</p> </li> <li> <p>The '':'' (colon) and ''*'' (asterisk) characters are not allowed.</p> </li> </ul>'
      operationId: CreateLogStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateLogStreamRequest'
        - enum:
            - Logs_20140328.CreateLogStream
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DeleteDestination':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes the specified destination, and eventually disables all the subscription filters that publish to it. This operation does not delete the physical resource encapsulated by the destination.'
      operationId: DeleteDestination
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDestinationRequest'
        - enum:
            - Logs_20140328.DeleteDestination
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DeleteLogGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified log group and permanently deletes all the archived log events associated with the log group.
      operationId: DeleteLogGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLogGroupRequest'
        - enum:
            - Logs_20140328.DeleteLogGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DeleteLogStream':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified log stream and permanently deletes all the archived log events associated with the log stream.
      operationId: DeleteLogStream
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLogStreamRequest'
        - enum:
            - Logs_20140328.DeleteLogStream
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DeleteMetricFilter':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified metric filter.
      operationId: DeleteMetricFilter
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteMetricFilterRequest'
        - enum:
            - Logs_20140328.DeleteMetricFilter
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DeleteResourcePolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a resource policy from this account. This revokes the access of the identities in that policy to put log events to this account.
      operationId: DeleteResourcePolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteResourcePolicyRequest'
        - enum:
            - Logs_20140328.DeleteResourcePolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DeleteRetentionPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the specified retention policy.</p> <p>Log events do not expire if they belong to log groups without a retention policy.</p>
      operationId: DeleteRetentionPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteRetentionPolicyRequest'
        - enum:
            - Logs_20140328.DeleteRetentionPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DeleteSubscriptionFilter':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified subscription filter.
      operationId: DeleteSubscriptionFilter
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSubscriptionFilterRequest'
        - enum:
            - Logs_20140328.DeleteSubscriptionFilter
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DescribeDestinations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists all your destinations. The results are ASCII-sorted by destination name.
      operationId: DescribeDestinations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDestinationsRequest'
        - description: Pagination limit
          in: query
          name: limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - Logs_20140328.DescribeDestinations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDestinationsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DescribeExportTasks':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the specified export tasks. You can list all your export tasks or filter the results based on task ID or task status.
      operationId: DescribeExportTasks
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeExportTasksRequest'
        - enum:
            - Logs_20140328.DescribeExportTasks
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeExportTasksResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DescribeLogGroups':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the specified log groups. You can list all your log groups or filter the results by prefix. The results are ASCII-sorted by log group name.
      operationId: DescribeLogGroups
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLogGroupsRequest'
        - description: Pagination limit
          in: query
          name: limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - Logs_20140328.DescribeLogGroups
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLogGroupsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DescribeLogStreams':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists the log streams for the specified log group. You can list all the log streams or filter the results by prefix. You can also control how the results are ordered.</p> <p>This operation has a limit of five transactions per second, after which transactions are throttled.</p>'
      operationId: DescribeLogStreams
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLogStreamsRequest'
        - description: Pagination limit
          in: query
          name: limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - Logs_20140328.DescribeLogStreams
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLogStreamsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DescribeMetricFilters':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the specified metric filters. You can list all the metric filters or filter the results by log name, prefix, metric name, or metric namespace. The results are ASCII-sorted by filter name.'
      operationId: DescribeMetricFilters
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeMetricFiltersRequest'
        - description: Pagination limit
          in: query
          name: limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - Logs_20140328.DescribeMetricFilters
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeMetricFiltersResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DescribeQueries':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Returns a list of CloudWatch Logs Insights queries that are scheduled, executing, or have been executed recently in this account. You can request all queries, or limit it to queries of a specific log group or queries with a certain status.'
      operationId: DescribeQueries
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeQueriesRequest'
        - enum:
            - Logs_20140328.DescribeQueries
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeQueriesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DescribeResourcePolicies':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the resource policies in this account.
      operationId: DescribeResourcePolicies
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeResourcePoliciesRequest'
        - enum:
            - Logs_20140328.DescribeResourcePolicies
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeResourcePoliciesResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DescribeSubscriptionFilters':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the subscription filters for the specified log group. You can list all the subscription filters or filter the results by prefix. The results are ASCII-sorted by filter name.
      operationId: DescribeSubscriptionFilters
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSubscriptionFiltersRequest'
        - description: Pagination limit
          in: query
          name: limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - Logs_20140328.DescribeSubscriptionFilters
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSubscriptionFiltersResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.DisassociateKmsKey':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Disassociates the associated AWS Key Management Service (AWS KMS) customer master key (CMK) from the specified log group.</p> <p>After the AWS KMS CMK is disassociated from the log group, AWS CloudWatch Logs stops encrypting newly ingested data for the log group. All previously ingested data remains encrypted, and AWS CloudWatch Logs requires permissions for the CMK whenever the encrypted data is requested.</p> <p>Note that it can take up to 5 minutes for this operation to take effect.</p>'
      operationId: DisassociateKmsKey
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateKmsKeyRequest'
        - enum:
            - Logs_20140328.DisassociateKmsKey
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.FilterLogEvents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists log events from the specified log group. You can list all the log events or filter the results using a filter pattern, a time range, and the name of the log stream.</p> <p>By default, this operation returns as many log events as can fit in 1 MB (up to 10,000 log events), or all the events found within the time range that you specify. If the results include a token, then there are more log events available, and you can get additional results by specifying the token in a subsequent call.</p>'
      operationId: FilterLogEvents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/FilterLogEventsRequest'
        - description: Pagination limit
          in: query
          name: limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - Logs_20140328.FilterLogEvents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/FilterLogEventsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.GetLogEvents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Lists log events from the specified log stream. You can list all the log events or filter using a time range.</p> <p>By default, this operation returns as many log events as can fit in a response size of 1MB (up to 10,000 log events). You can get additional log events by specifying one of the tokens in a subsequent call.</p>'
      operationId: GetLogEvents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetLogEventsRequest'
        - description: Pagination limit
          in: query
          name: limit
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
        - enum:
            - Logs_20140328.GetLogEvents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLogEventsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.GetLogGroupFields':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of the fields that are included in log events in the specified log group, along with the percentage of log events that contain each field. The search is limited to a time period that you specify.</p> <p>In the results, fields that start with @ are fields generated by CloudWatch Logs. For example, <code>@timestamp</code> is the timestamp of each log event.</p> <p>The response results are sorted by the frequency percentage, starting with the highest percentage.</p>'
      operationId: GetLogGroupFields
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetLogGroupFieldsRequest'
        - enum:
            - Logs_20140328.GetLogGroupFields
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLogGroupFieldsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.GetLogRecord':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Retrieves all the fields and values of a single log event. All fields are retrieved, even if the original query that produced the <code>logRecordPointer</code> retrieved only a subset of fields. Fields are returned as field name/field value pairs.</p> <p>Additionally, the entire unparsed log event is returned within <code>@message</code>.</p>'
      operationId: GetLogRecord
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetLogRecordRequest'
        - enum:
            - Logs_20140328.GetLogRecord
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLogRecordResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.GetQueryResults':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns the results from the specified query.</p> <p>Only the fields requested in the query are returned, along with a <code>@ptr</code> field which is the identifier for the log record. You can use the value of <code>@ptr</code> in a operation to get the full log record.</p> <p> <code>GetQueryResults</code> does not start a query execution. To run a query, use .</p> <p>If the value of the <code>Status</code> field in the output is <code>Running</code>, this operation returns only partial results. If you see a value of <code>Scheduled</code> or <code>Running</code> for the status, you can retry the operation later to see the final results. </p>'
      operationId: GetQueryResults
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetQueryResultsRequest'
        - enum:
            - Logs_20140328.GetQueryResults
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQueryResultsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.ListTagsLogGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the tags for the specified log group.
      operationId: ListTagsLogGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsLogGroupRequest'
        - enum:
            - Logs_20140328.ListTagsLogGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsLogGroupResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.PutDestination':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates or updates a destination. A destination encapsulates a physical resource (such as an Amazon Kinesis stream) and enables you to subscribe to a real-time stream of log events for a different account, ingested using <a>PutLogEvents</a>. A destination can be an Amazon Kinesis stream, Amazon Kinesis Data Firehose strea, or an AWS Lambda function.</p> <p>Through an access policy, a destination controls what is written to it. By default, <code>PutDestination</code> does not set any access policy with the destination, which means a cross-account user cannot call <a>PutSubscriptionFilter</a> against this destination. To enable this, the destination owner must call <a>PutDestinationPolicy</a> after <code>PutDestination</code>.</p>'
      operationId: PutDestination
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutDestinationRequest'
        - enum:
            - Logs_20140328.PutDestination
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDestinationResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.PutDestinationPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates or updates an access policy associated with an existing destination. An access policy is an <a href="https://docs.aws.amazon.com/IAM/latest/UserGuide/policies_overview.html">IAM policy document</a> that is used to authorize claims to register a subscription filter against a given destination.'
      operationId: PutDestinationPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutDestinationPolicyRequest'
        - enum:
            - Logs_20140328.PutDestinationPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.PutLogEvents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Uploads a batch of log events to the specified log stream.</p> <p>You must include the sequence token obtained from the response of the previous call. An upload in a newly created log stream does not require a sequence token. You can also get the sequence token using <a>DescribeLogStreams</a>. If you call <code>PutLogEvents</code> twice within a narrow time period using the same value for <code>sequenceToken</code>, both calls may be successful, or one may be rejected.</p> <p>The batch of events must satisfy the following constraints:</p> <ul> <li> <p>The maximum batch size is 1,048,576 bytes, and this size is calculated as the sum of all event messages in UTF-8, plus 26 bytes for each log event.</p> </li> <li> <p>None of the log events in the batch can be more than 2 hours in the future.</p> </li> <li> <p>None of the log events in the batch can be older than 14 days or older than the retention period of the log group.</p> </li> <li> <p>The log events in the batch must be in chronological ordered by their timestamp. The timestamp is the time the event occurred, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. (In AWS Tools for PowerShell and the AWS SDK for .NET, the timestamp is specified in .NET format: yyyy-mm-ddThh:mm:ss. For example, 2017-09-15T13:45:30.) </p> </li> <li> <p>The maximum number of log events in a batch is 10,000.</p> </li> <li> <p>A batch of log events in a single request cannot span more than 24 hours. Otherwise, the operation fails.</p> </li> </ul> <p>If a call to PutLogEvents returns "UnrecognizedClientException" the most likely cause is an invalid AWS access key ID or secret key. </p>'
      operationId: PutLogEvents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutLogEventsRequest'
        - enum:
            - Logs_20140328.PutLogEvents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutLogEventsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InvalidSequenceTokenException
          schema:
            $ref: '#/definitions/InvalidSequenceTokenException'
        '482':
          description: DataAlreadyAcceptedException
          schema:
            $ref: '#/definitions/DataAlreadyAcceptedException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: UnrecognizedClientException
          schema:
            $ref: '#/definitions/UnrecognizedClientException'
  '/#X-Amz-Target=Logs_20140328.PutMetricFilter':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Creates or updates a metric filter and associates it with the specified log group. Metric filters allow you to configure rules to extract metric data from log events ingested through <a>PutLogEvents</a>.</p> <p>The maximum number of metric filters that can be associated with a log group is 100.</p>
      operationId: PutMetricFilter
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutMetricFilterRequest'
        - enum:
            - Logs_20140328.PutMetricFilter
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.PutResourcePolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates or updates a resource policy allowing other AWS services to put log events to this account, such as Amazon Route 53. An account can have up to 10 resource policies per region.'
      operationId: PutResourcePolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutResourcePolicyRequest'
        - enum:
            - Logs_20140328.PutResourcePolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutResourcePolicyResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.PutRetentionPolicy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Sets the retention of the specified log group. A retention policy allows you to configure the number of days for which to retain log events in the specified log group.
      operationId: PutRetentionPolicy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutRetentionPolicyRequest'
        - enum:
            - Logs_20140328.PutRetentionPolicy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.PutSubscriptionFilter':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates or updates a subscription filter and associates it with the specified log group. Subscription filters allow you to subscribe to a real-time stream of log events ingested through <a>PutLogEvents</a> and have them delivered to a specific destination. Currently, the supported destinations are:</p> <ul> <li> <p>An Amazon Kinesis stream belonging to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>A logical destination that belongs to a different account, for cross-account delivery.</p> </li> <li> <p>An Amazon Kinesis Firehose delivery stream that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> <li> <p>An AWS Lambda function that belongs to the same account as the subscription filter, for same-account delivery.</p> </li> </ul> <p>There can only be one subscription filter associated with a log group. If you are updating an existing filter, you must specify the correct name in <code>filterName</code>. Otherwise, the call fails because you cannot associate a second filter with a log group.</p>'
      operationId: PutSubscriptionFilter
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/PutSubscriptionFilterRequest'
        - enum:
            - Logs_20140328.PutSubscriptionFilter
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: OperationAbortedException
          schema:
            $ref: '#/definitions/OperationAbortedException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.StartQuery':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Schedules a query of a log group using CloudWatch Logs Insights. You specify the log group and time range to query, and the query string to use.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/CWL_QuerySyntax.html">CloudWatch Logs Insights Query Syntax</a>.</p> <p>Queries time out after 15 minutes of execution. If your queries are timing out, reduce the time range being searched, or partition your query into a number of queries.</p>'
      operationId: StartQuery
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartQueryRequest'
        - enum:
            - Logs_20140328.StartQuery
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartQueryResponse'
        '480':
          description: MalformedQueryException
          schema:
            $ref: '#/definitions/MalformedQueryException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.StopQuery':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Stops a CloudWatch Logs Insights query that is in progress. If the query has already ended, the operation returns an error indicating that the specified query is not running.'
      operationId: StopQuery
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopQueryRequest'
        - enum:
            - Logs_20140328.StopQuery
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopQueryResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.TagLogGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds or updates the specified tags for the specified log group.</p> <p>To list the tags for a log group, use <a>ListTagsLogGroup</a>. To remove tags, use <a>UntagLogGroup</a>.</p> <p>For more information about tags, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/log-group-tagging.html">Tag Log Groups in Amazon CloudWatch Logs</a> in the <i>Amazon CloudWatch Logs User Guide</i>.</p>'
      operationId: TagLogGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagLogGroupRequest'
        - enum:
            - Logs_20140328.TagLogGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
  '/#X-Amz-Target=Logs_20140328.TestMetricFilter':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Tests the filter pattern of a metric filter against a sample of log event messages. You can use this operation to validate the correctness of a metric filter pattern.
      operationId: TestMetricFilter
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TestMetricFilterRequest'
        - enum:
            - Logs_20140328.TestMetricFilter
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestMetricFilterResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
  '/#X-Amz-Target=Logs_20140328.UntagLogGroup':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Removes the specified tags from the specified log group.</p> <p>To list the tags for a log group, use <a>ListTagsLogGroup</a>. To add tags, use <a>UntagLogGroup</a>.</p>'
      operationId: UntagLogGroup
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagLogGroupRequest'
        - enum:
            - Logs_20140328.UntagLogGroup
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
definitions:
  AccessPolicy:
    minLength: 1
    type: string
  Arn:
    type: string
  AssociateKmsKeyRequest:
    properties:
      kmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: 'The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.'
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
    required:
      - logGroupName
      - kmsKeyId
    type: object
  CancelExportTaskRequest:
    properties:
      taskId:
        $ref: '#/definitions/ExportTaskId'
        description: The ID of the export task.
    required:
      - taskId
    type: object
  CreateExportTaskRequest:
    properties:
      destination:
        $ref: '#/definitions/ExportDestinationBucket'
        description: The name of S3 bucket for the exported log data. The bucket must be in the same AWS region.
      destinationPrefix:
        $ref: '#/definitions/ExportDestinationPrefix'
        description: 'The prefix used as the start of the key for every object exported. If you don''t specify a value, the default is <code>exportedlogs</code>.'
      from:
        $ref: '#/definitions/Timestamp'
        description: 'The start time of the range for the request, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp earlier than this time are not exported.'
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamNamePrefix:
        $ref: '#/definitions/LogStreamName'
        description: 'Export only log streams that match the provided prefix. If you don''t specify a value, no prefix filter is applied.'
      taskName:
        $ref: '#/definitions/ExportTaskName'
        description: The name of the export task.
      to:
        $ref: '#/definitions/Timestamp'
        description: 'The end time of the range for the request, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.'
    required:
      - logGroupName
      - from
      - to
      - destination
    type: object
  CreateExportTaskResponse:
    properties:
      taskId:
        $ref: '#/definitions/ExportTaskId'
        description: The ID of the export task.
    type: object
  CreateLogGroupRequest:
    properties:
      kmsKeyId:
        $ref: '#/definitions/KmsKeyId'
        description: 'The Amazon Resource Name (ARN) of the CMK to use when encrypting log data. For more information, see <a href="https://docs.aws.amazon.com/general/latest/gr/aws-arns-and-namespaces.html#arn-syntax-kms">Amazon Resource Names - AWS Key Management Service (AWS KMS)</a>.'
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      tags:
        $ref: '#/definitions/Tags'
        description: The key-value pairs to use for the tags.
    required:
      - logGroupName
    type: object
  CreateLogStreamRequest:
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamName:
        $ref: '#/definitions/LogStreamName'
        description: The name of the log stream.
    required:
      - logGroupName
      - logStreamName
    type: object
  DataAlreadyAcceptedException: {}
  Days:
    description: 'The number of days to retain the log events in the specified log group. Possible values are: 1, 3, 5, 7, 14, 30, 60, 90, 120, 150, 180, 365, 400, 545, 731, 1827, and 3653.'
    type: integer
  DefaultValue:
    format: double
    type: number
  DeleteDestinationRequest:
    properties:
      destinationName:
        $ref: '#/definitions/DestinationName'
        description: The name of the destination.
    required:
      - destinationName
    type: object
  DeleteLogGroupRequest:
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
    required:
      - logGroupName
    type: object
  DeleteLogStreamRequest:
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamName:
        $ref: '#/definitions/LogStreamName'
        description: The name of the log stream.
    required:
      - logGroupName
      - logStreamName
    type: object
  DeleteMetricFilterRequest:
    properties:
      filterName:
        $ref: '#/definitions/FilterName'
        description: The name of the metric filter.
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
    required:
      - logGroupName
      - filterName
    type: object
  DeleteResourcePolicyRequest:
    properties:
      policyName:
        $ref: '#/definitions/PolicyName'
        description: The name of the policy to be revoked. This parameter is required.
    type: object
  DeleteRetentionPolicyRequest:
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
    required:
      - logGroupName
    type: object
  DeleteSubscriptionFilterRequest:
    properties:
      filterName:
        $ref: '#/definitions/FilterName'
        description: The name of the subscription filter.
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
    required:
      - logGroupName
      - filterName
    type: object
  Descending:
    type: boolean
  DescribeDestinationsRequest:
    properties:
      DestinationNamePrefix:
        $ref: '#/definitions/DestinationName'
        description: 'The prefix to match. If you don''t specify a value, no prefix filter is applied.'
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
    type: object
  DescribeDestinationsResponse:
    properties:
      destinations:
        $ref: '#/definitions/Destinations'
        description: The destinations.
      nextToken:
        $ref: '#/definitions/NextToken'
    type: object
  DescribeExportTasksRequest:
    properties:
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      statusCode:
        $ref: '#/definitions/ExportTaskStatusCode'
        description: The status code of the export task. Specifying a status code filters the results to zero or more export tasks.
      taskId:
        $ref: '#/definitions/ExportTaskId'
        description: The ID of the export task. Specifying a task ID filters the results to zero or one export tasks.
    type: object
  DescribeExportTasksResponse:
    properties:
      exportTasks:
        $ref: '#/definitions/ExportTasks'
        description: The export tasks.
      nextToken:
        $ref: '#/definitions/NextToken'
    type: object
  DescribeLimit:
    maximum: 50
    minimum: 1
    type: integer
  DescribeLogGroupsRequest:
    properties:
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
      logGroupNamePrefix:
        $ref: '#/definitions/LogGroupName'
        description: The prefix to match.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
    type: object
  DescribeLogGroupsResponse:
    properties:
      logGroups:
        $ref: '#/definitions/LogGroups'
        description: The log groups.
      nextToken:
        $ref: '#/definitions/NextToken'
    type: object
  DescribeLogStreamsRequest:
    properties:
      descending:
        $ref: '#/definitions/Descending'
        description: 'If the value is true, results are returned in descending order. If the value is to false, results are returned in ascending order. The default value is false.'
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamNamePrefix:
        $ref: '#/definitions/LogStreamName'
        description: '<p>The prefix to match.</p> <p>If <code>orderBy</code> is <code>LastEventTime</code>,you cannot specify this parameter.</p>'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      orderBy:
        $ref: '#/definitions/OrderBy'
        description: '<p>If the value is <code>LogStreamName</code>, the results are ordered by log stream name. If the value is <code>LastEventTime</code>, the results are ordered by the event time. The default value is <code>LogStreamName</code>.</p> <p>If you order the results by event time, you cannot specify the <code>logStreamNamePrefix</code> parameter.</p> <p>lastEventTimestamp represents the time of the most recent log event in the log stream in CloudWatch Logs. This number is expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. lastEventTimeStamp updates on an eventual consistency basis. It typically updates in less than an hour from ingestion, but may take longer in some rare situations.</p>'
    required:
      - logGroupName
    type: object
  DescribeLogStreamsResponse:
    properties:
      logStreams:
        $ref: '#/definitions/LogStreams'
        description: The log streams.
      nextToken:
        $ref: '#/definitions/NextToken'
    type: object
  DescribeMetricFiltersRequest:
    properties:
      filterNamePrefix:
        $ref: '#/definitions/FilterName'
        description: The prefix to match.
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      metricName:
        $ref: '#/definitions/MetricName'
        description: 'Filters results to include only those with the specified metric name. If you include this parameter in your request, you must also include the <code>metricNamespace</code> parameter.'
      metricNamespace:
        $ref: '#/definitions/MetricNamespace'
        description: 'Filters results to include only those in the specified namespace. If you include this parameter in your request, you must also include the <code>metricName</code> parameter.'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
    type: object
  DescribeMetricFiltersResponse:
    properties:
      metricFilters:
        $ref: '#/definitions/MetricFilters'
        description: The metric filters.
      nextToken:
        $ref: '#/definitions/NextToken'
    type: object
  DescribeQueriesMaxResults:
    maximum: 1000
    minimum: 1
    type: integer
  DescribeQueriesRequest:
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: Limits the returned queries to only those for the specified log group.
      maxResults:
        $ref: '#/definitions/DescribeQueriesMaxResults'
        description: Limits the number of returned queries to the specified number.
      nextToken:
        $ref: '#/definitions/NextToken'
      status:
        $ref: '#/definitions/QueryStatus'
        description: 'Limits the returned queries to only those that have the specified status. Valid values are <code>Cancelled</code>, <code>Complete</code>, <code>Failed</code>, <code>Running</code>, and <code>Scheduled</code>.'
    type: object
  DescribeQueriesResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
      queries:
        $ref: '#/definitions/QueryInfoList'
        description: The list of queries that match the request.
    type: object
  DescribeResourcePoliciesRequest:
    properties:
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: The maximum number of resource policies to be displayed with one call of this API.
      nextToken:
        $ref: '#/definitions/NextToken'
    type: object
  DescribeResourcePoliciesResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
      resourcePolicies:
        $ref: '#/definitions/ResourcePolicies'
        description: The resource policies that exist in this account.
    type: object
  DescribeSubscriptionFiltersRequest:
    properties:
      filterNamePrefix:
        $ref: '#/definitions/FilterName'
        description: 'The prefix to match. If you don''t specify a value, no prefix filter is applied.'
      limit:
        $ref: '#/definitions/DescribeLimit'
        description: 'The maximum number of items returned. If you don''t specify a value, the default is up to 50 items.'
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
    required:
      - logGroupName
    type: object
  DescribeSubscriptionFiltersResponse:
    properties:
      nextToken:
        $ref: '#/definitions/NextToken'
      subscriptionFilters:
        $ref: '#/definitions/SubscriptionFilters'
        description: The subscription filters.
    type: object
  Destination:
    description: Represents a cross-account destination that receives subscription log events.
    properties:
      accessPolicy:
        $ref: '#/definitions/AccessPolicy'
        description: An IAM policy document that governs which AWS accounts can create subscription filters against this destination.
      arn:
        $ref: '#/definitions/Arn'
        description: The ARN of this destination.
      creationTime:
        $ref: '#/definitions/Timestamp'
        description: 'The creation time of the destination, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.'
      destinationName:
        $ref: '#/definitions/DestinationName'
        description: The name of the destination.
      roleArn:
        $ref: '#/definitions/RoleArn'
        description: 'A role for impersonation, used when delivering log events to the target.'
      targetArn:
        $ref: '#/definitions/TargetArn'
        description: 'The Amazon Resource Name (ARN) of the physical target to where the log events are delivered (for example, a Kinesis stream).'
    type: object
  DestinationArn:
    minLength: 1
    type: string
  DestinationName:
    maxLength: 512
    minLength: 1
    pattern: '[^:*]*'
    type: string
  Destinations:
    items:
      $ref: '#/definitions/Destination'
    type: array
  DisassociateKmsKeyRequest:
    properties:
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
    required:
      - logGroupName
    type: object
  Distribution:
    description: 'The method used to distribute log data to the destination, which can be either random or grouped by log stream.'
    enum:
      - Random
      - ByLogStream
    type: string
  EventId:
    type: string
  EventMessage:
    minLength: 1
    type: string
  EventNumber:
    type: integer
  EventsLimit:
    maximum: 10000
    minimum: 1
    type: integer
  ExportDestinationBucket:
    maxLength: 512
    minLength: 1
    type: string
  ExportDestinationPrefix:
    type: string
  ExportTask:
    description: Represents an export task.
    properties:
      destination:
        $ref: '#/definitions/ExportDestinationBucket'
        description: The name of Amazon S3 bucket to which the log data was exported.
      destinationPrefix:
        $ref: '#/definitions/ExportDestinationPrefix'
        description: The prefix that was used as the start of Amazon S3 key for every object exported.
      executionInfo:
        $ref: '#/definitions/ExportTaskExecutionInfo'
        description: Execution info about the export task.
      from:
        $ref: '#/definitions/Timestamp'
        description: 'The start time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp before this time are not exported.'
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group from which logs data was exported.
      status:
        $ref: '#/definitions/ExportTaskStatus'
        description: The status of the export task.
      taskId:
        $ref: '#/definitions/ExportTaskId'
        description: The ID of the export task.
      taskName:
        $ref: '#/definitions/ExportTaskName'
        description: The name of the export task.
      to:
        $ref: '#/definitions/Timestamp'
        description: 'The end time, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not exported.'
    type: object
  ExportTaskExecutionInfo:
    description: Represents the status of an export task.
    properties:
      completionTime:
        $ref: '#/definitions/Timestamp'
        description: 'The completion time of the export task, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.'
      creationTime:
        $ref: '#/definitions/Timestamp'
        description: 'The creation time of the export task, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.'
    type: object
  ExportTaskId:
    maxLength: 512
    minLength: 1
    type: string
  ExportTaskName:
    maxLength: 512
    minLength: 1
    type: string
  ExportTaskStatus:
    description: Represents the status of an export task.
    properties:
      code:
        $ref: '#/definitions/ExportTaskStatusCode'
        description: The status code of the export task.
      message:
        $ref: '#/definitions/ExportTaskStatusMessage'
        description: The status message related to the status code.
    type: object
  ExportTaskStatusCode:
    enum:
      - CANCELLED
      - COMPLETED
      - FAILED
      - PENDING
      - PENDING_CANCEL
      - RUNNING
    type: string
  ExportTaskStatusMessage:
    type: string
  ExportTasks:
    items:
      $ref: '#/definitions/ExportTask'
    type: array
  ExtractedValues:
    additionalProperties:
      $ref: '#/definitions/Value'
    type: object
  Field:
    type: string
  FilterCount:
    type: integer
  FilterLogEventsRequest:
    properties:
      endTime:
        $ref: '#/definitions/Timestamp'
        description: 'The end of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp later than this time are not returned.'
      filterPattern:
        $ref: '#/definitions/FilterPattern'
        description: '<p>The filter pattern to use. For more information, see <a href="https://docs.aws.amazon.com/AmazonCloudWatch/latest/logs/FilterAndPatternSyntax.html">Filter and Pattern Syntax</a>.</p> <p>If not provided, all the events are matched.</p>'
      interleaved:
        $ref: '#/definitions/Interleaved'
        description: '<p>If the value is true, the operation makes a best effort to provide responses that contain events from multiple log streams within the log group, interleaved in a single response. If the value is false, all the matched log events in the first log stream are searched first, then those in the next log stream, and so on. The default is false.</p> <p> <b>IMPORTANT:</b> Starting on June 17, 2019, this parameter will be ignored and the value will be assumed to be true. The response from this operation will always interleave events from multiple log streams within a log group.</p>Starting on June 17, 2019, this parameter will be ignored and the value will be assumed to be true. The response from this operation will always interleave events from multiple log streams within a log group.'
      limit:
        $ref: '#/definitions/EventsLimit'
        description: 'The maximum number of events to return. The default is 10,000 events.'
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group to search.
      logStreamNamePrefix:
        $ref: '#/definitions/LogStreamName'
        description: '<p>Filters the results to include only events from log streams that have names starting with this prefix.</p> <p>If you specify a value for both <code>logStreamNamePrefix</code> and <code>logStreamNames</code>, but the value for <code>logStreamNamePrefix</code> does not match any log stream names specified in <code>logStreamNames</code>, the action returns an <code>InvalidParameterException</code> error.</p>'
      logStreamNames:
        $ref: '#/definitions/InputLogStreamNames'
        description: '<p>Filters the results to only logs from the log streams in this list.</p> <p>If you specify a value for both <code>logStreamNamePrefix</code> and <code>logStreamNames</code>, the action returns an <code>InvalidParameterException</code> error.</p>'
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of events to return. (You received this token from a previous call.)
      startTime:
        $ref: '#/definitions/Timestamp'
        description: 'The start of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp before this time are not returned.'
    required:
      - logGroupName
    type: object
  FilterLogEventsResponse:
    properties:
      events:
        $ref: '#/definitions/FilteredLogEvents'
        description: The matched events.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token to use when requesting the next set of items. The token expires after 24 hours.
      searchedLogStreams:
        $ref: '#/definitions/SearchedLogStreams'
        description: Indicates which log streams have been searched and whether each has been searched completely.
    type: object
  FilterName:
    maxLength: 512
    minLength: 1
    pattern: '[^:*]*'
    type: string
  FilterPattern:
    description: 'A symbolic description of how CloudWatch Logs should interpret the data in each log event. For example, a log event may contain timestamps, IP addresses, strings, and so on. You use the filter pattern to specify what to look for in the log event message.'
    maxLength: 1024
    minLength: 0
    type: string
  FilteredLogEvent:
    description: Represents a matched event.
    properties:
      eventId:
        $ref: '#/definitions/EventId'
        description: The ID of the event.
      ingestionTime:
        $ref: '#/definitions/Timestamp'
        description: 'The time the event was ingested, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.'
      logStreamName:
        $ref: '#/definitions/LogStreamName'
        description: The name of the log stream to which this event belongs.
      message:
        $ref: '#/definitions/EventMessage'
        description: The data contained in the log event.
      timestamp:
        $ref: '#/definitions/Timestamp'
        description: 'The time the event occurred, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC.'
    type: object
  FilteredLogEvents:
    items:
      $ref: '#/definitions/FilteredLogEvent'
    type: array
  GetLogEventsRequest:
    properties:
      endTime:
        $ref: '#/definitions/Timestamp'
        description: 'The end of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp equal to or later than this time are not included.'
      limit:
        $ref: '#/definitions/EventsLimit'
        description: 'The maximum number of log events returned. If you don''t specify a value, the maximum is as many log events as can fit in a response size of 1 MB, up to 10,000 log events.'
      logGroupName:
        $ref: '#/definitions/LogGroupName'
        description: The name of the log group.
      logStreamName:
        $ref: '#/definitions/LogStreamName'
        description: The name of the log stream.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: The token for the next set of items to return. (You received this token from a previous call.)
      startFromHead:
        $ref: '#/definitions/StartFromHead'
        description: '<p>If the value is true, the earliest log events are returned first. If the value is false, the latest log events are returned first. The default value is false.</p> <p>If you are using <code>nextToken</code> in this operation, you must specify <code>true</code> for <code>startFromHead</code>.</p>'
      startTime:
        $ref: '#/definitions/Timestamp'
        description: 'The start of the time range, expressed as the number of milliseconds after Jan 1, 1970 00:00:00 UTC. Events with a timestamp equal to this time or later than this time are included. Events with a timestamp earlier than this time are not included.'
    required:
      - logGroupName
      - logStreamName
    type: object
  GetLogEventsResponse:
    properties:
      events:
        $ref: '#/definitions/OutputLogEvents'
        description: The events.
      nextBackwardToken:
[...]
