swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: ServiceFabricManagementClient
  version: '2016-09-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-servicefabric/2016-09-01/swagger/servicefabric.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: arm-servicefabric
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  api-version:
    description: The version of the ServiceFabric resouce provider api
    in: query
    name: api-version
    required: true
    type: string
  clusterNameParameter:
    description: The name of the cluster resource
    in: path
    name: clusterName
    required: true
    type: string
    x-ms-parameter-location: method
  clusterVersion:
    description: The cluster code version
    in: path
    name: clusterVersion
    required: true
    type: string
    x-ms-parameter-location: method
  environment:
    description: 'Cluster operating system, the default means all'
    enum:
      - Default
      - Windows
      - Linux
    in: path
    name: environment
    required: true
    type: string
    x-ms-parameter-location: method
  locationForClusterCodeVersions:
    description: 'The location for the cluster code versions, this is different from cluster location'
    in: path
    name: location
    required: true
    type: string
    x-ms-parameter-location: method
  resourceGroupNameParameter:
    description: The name of the resource group to which the resource belongs or get created
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionId:
    description: The customer subscription identifier
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  /providers/Microsoft.ServiceFabric/operations:
    get:
      description: Lists all of the available ServiceFabric REST API operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/parameters/api-version'
      responses:
        '200':
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
        - Operations
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/clusters':
    get:
      description: List cluster resource
      operationId: Clusters_List
      parameters:
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/subscriptionId'
      responses:
        '200':
          description: OK - Get cluster  successfully
          schema:
            $ref: '#/definitions/ClusterListResult'
      tags:
        - ClusterListOperation
      x-ms-examples:
        List clusters:
          $ref: ../examples/ClusterListOperation_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.ServiceFabric/locations/{location}/environments/{environment}/clusterVersions':
    get:
      description: List cluster code versions by location
      operationId: ClusterVersions_List
      parameters:
        - $ref: '#/parameters/locationForClusterCodeVersions'
        - $ref: '#/parameters/environment'
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/subscriptionId'
      responses:
        '200':
          description: OK - List cluster code versions successfully
          schema:
            $ref: '#/definitions/ClusterCodeVersionsListResult'
      tags:
        - ClusterVersionsListOperation
      x-ms-examples:
        List clusters:
          $ref: ../examples/ClusterVersionsList_example.json
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters/{clusterName}':
    delete:
      description: Delete cluster resource
      operationId: Clusters_Delete
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/clusterNameParameter'
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/subscriptionId'
      responses:
        '200':
          description: OK - cluster deleted  successfully
        '204':
          description: NoContent
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
        - ClusterDeleteOperation
      x-ms-examples:
        Delete a cluster:
          $ref: ../examples/ClusterDeleteOperation_example.json
    get:
      description: Get cluster resource
      operationId: Clusters_Get
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/clusterNameParameter'
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/subscriptionId'
      responses:
        '200':
          description: OK - Get cluster successfully
          schema:
            $ref: '#/definitions/Cluster'
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
        - ClusterGetOperation
      x-ms-examples:
        Get a cluster:
          $ref: ../examples/ClusterGetOperation_example.json
    patch:
      description: Update cluster configuration
      operationId: Clusters_Update
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/clusterNameParameter'
        - $ref: '#/parameters/api-version'
        - description: The parameters which contains the property value and property name which used to update the cluster configuration
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ClusterUpdateParameters'
        - $ref: '#/parameters/subscriptionId'
      responses:
        '200':
          description: OK - Cluster updated successfully
          schema:
            $ref: '#/definitions/Cluster'
        '202':
          description: Accepted - Update request accepted; the operation will complete asynchronously.
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
        - ClusterPatchOperation
      x-ms-examples:
        Patch a cluster:
          $ref: ../examples/ClusterPatchOperation_exmaple.json
      x-ms-long-running-operation: true
    put:
      description: Create cluster resource
      operationId: Clusters_Create
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/clusterNameParameter'
        - $ref: '#/parameters/api-version'
        - description: Put Request
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/Cluster'
        - $ref: '#/parameters/subscriptionId'
      responses:
        '200':
          description: OK - Put cluster successfully
          schema:
            $ref: '#/definitions/Cluster'
        '202':
          description: Accepted - Put request accepted; the operation will complete asynchronously.
        default:
          description: Error
          schema:
            $ref: '#/definitions/ErrorModel'
      tags:
        - ClusterCreateOperation
      x-ms-examples:
        Put a cluster with max parameter:
          $ref: ../examples/ClusterPutOperation_exmaple_max.json
        Put a cluster with min parameter:
          $ref: ../examples/ClusterPutOperation_exmaple_min.json
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourcegroups/{resourceGroupName}/providers/Microsoft.ServiceFabric/clusters':
    get:
      description: List cluster resource by resource group
      operationId: Clusters_ListByResourceGroup
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - $ref: '#/parameters/api-version'
        - $ref: '#/parameters/subscriptionId'
      responses:
        '200':
          description: OK - Get cluster  successfully
          schema:
            $ref: '#/definitions/ClusterListResult'
      tags:
        - ClusterListByResourceGroupOperation
      x-ms-examples:
        List cluster by resource group:
          $ref: ../examples/ClusterListByResourceGroupOperation_exmaple.json
      x-ms-pageable:
        nextLinkName: nextLink
definitions:
  AvailableOperationDisplay:
    description: Operation supported by ServiceFabric resource provider
    properties:
      description:
        description: Operation description
        type: string
      operation:
        description: Operation name
        type: string
      provider:
        description: Provider name
        type: string
      resource:
        description: Resource name
        type: string
  AzureActiveDirectory:
    description: The settings to enable AAD authentication on the cluster
    properties:
      clientApplication:
        description: Azure active directory client application id
        type: string
      clusterApplication:
        description: Azure active directory cluster application id
        type: string
      tenantId:
        description: Azure active directory tenant id
        type: string
  CertificateDescription:
    description: Certificate details
    properties:
      thumbprint:
        description: Thumbprint of the primary certificate
        type: string
      thumbprintSecondary:
        description: Thumbprint of the secondary certificate
        type: string
      x509StoreName:
        description: The local certificate store location
        enum:
          - AddressBook
          - AuthRoot
          - CertificateAuthority
          - Disallowed
          - My
          - Root
          - TrustedPeople
          - TrustedPublisher
        type: string
    required:
      - thumbprint
  ClientCertificateCommonName:
    description: Client certificate details using common name
    properties:
      certificateCommonName:
        description: Certificate common name to be granted access; be carefull using wild card common names
        type: string
      certificateIssuerThumbprint:
        description: Certificate issuer thumbprint
        type: string
      isAdmin:
        description: 'Is this certificate used for admin access from the client, if false , it is used or query only access'
        type: boolean
    required:
      - isAdmin
      - certificateCommonName
      - certificateIssuerThumbprint
  ClientCertificateThumbprint:
    description: Client certificate details using thumbprint
    properties:
      certificateThumbprint:
        description: Certificate thumbprint
        type: string
      isAdmin:
        description: 'Is this certificate used for admin access from the client, if false, it is used or query only access'
        type: boolean
    required:
      - isAdmin
      - certificateThumbprint
  Cluster:
    allOf:
      - $ref: '#/definitions/Resource'
    description: The cluster resource
    properties:
      properties:
        $ref: '#/definitions/ClusterProperties'
        x-ms-client-flatten: true
  ClusterCodeVersionsListResult:
    description: The list results of the ServiceFabric runtime versions
    properties:
      nextLink:
        description: The URL to use for getting the next set of results.
        type: string
      value:
        items:
          $ref: '#/definitions/ClusterCodeVersionsResult'
        type: array
  ClusterCodeVersionsResult:
    description: The result of the ServiceFabric runtime versions
    properties:
      id:
        description: The identification of the result
        type: string
      name:
        description: The name of the result
        type: string
      properties:
        $ref: '#/definitions/ClusterVersionDetails'
        x-ms-client-flatten: true
      type:
        description: The result resource type
        type: string
  ClusterEnvironment:
    description: 'Cluster operating system, the default will be Windows'
    enum:
      - Windows
      - Linux
    type: string
  ClusterHealthPolicy:
    description: Defines a health policy used to evaluate the health of the cluster or of a cluster node.
    properties:
      maxPercentUnhealthyApplications:
        description: 'The maximum allowed percentage of unhealthy applications before reporting an error. For example, to allow 10% of applications to be unhealthy, this value would be 10. '
        maximum: 100
        minimum: 0
        type: integer
      maxPercentUnhealthyNodes:
        description: 'The maximum allowed percentage of unhealthy nodes before reporting an error. For example, to allow 10% of nodes to be unhealthy, this value would be 10. '
        maximum: 100
        minimum: 0
        type: integer
  ClusterListResult:
    description: Cluster list results
    properties:
      nextLink:
        description: The URL to use for getting the next set of results.
        type: string
      value:
        items:
          $ref: '#/definitions/Cluster'
        type: array
  ClusterProperties:
    description: The cluster resource properties
    properties:
      availableClusterVersions:
        description: 'The available cluster code version which the cluster can upgrade to, note that you must choose upgradeMode to manual to upgrade to'
        items:
          $ref: '#/definitions/ClusterVersionDetails'
        readOnly: true
        type: array
      azureActiveDirectory:
        $ref: '#/definitions/AzureActiveDirectory'
        description: The settings to enable AAD authentication on the cluster
      certificate:
        $ref: '#/definitions/CertificateDescription'
        description: 'This primay certificate will be used as cluster node to node security, SSL certificate for cluster management endpoint and default admin client'
      clientCertificateCommonNames:
        description: ' List of client certificates to whitelist based on common names'
        items:
          $ref: '#/definitions/ClientCertificateCommonName'
        type: array
      clientCertificateThumbprints:
        description: 'The client thumbprint details ,it is used for client access for cluster operation'
        items:
          $ref: '#/definitions/ClientCertificateThumbprint'
        type: array
      clusterCodeVersion:
        description: The ServiceFabric code version running in your cluster
        type: string
      clusterEndpoint:
        description: The endpoint for the cluster connecting to servicefabric resource provider
        readOnly: true
        type: string
      clusterId:
        description: The unique identifier for the cluster resource
        readOnly: true
        type: string
      clusterState:
        description: The state for the cluster
        enum:
          - WaitingForNodes
          - Deploying
          - BaselineUpgrade
          - UpdatingUserConfiguration
          - UpdatingUserCertificate
          - UpdatingInfrastructure
          - EnforcingClusterVersion
          - UpgradeServiceUnreachable
          - AutoScale
          - Ready
        readOnly: true
        type: string
      diagnosticsStorageAccountConfig:
        $ref: '#/definitions/DiagnosticsStorageAccountConfig'
        description: The storage diagnostics account configuration details
      fabricSettings:
        description: List of custom fabric settings to configure the cluster.
        items:
          $ref: '#/definitions/SettingsSectionDescription'
        type: array
      managementEndpoint:
        description: The http management endpoint of the cluster
        type: string
      nodeTypes:
        description: The list of nodetypes that make up the cluster
        items:
          $ref: '#/definitions/NodeTypeDescription'
        type: array
      provisioningState:
        description: The provisioning state of the cluster resource
        enum:
          - Updating
          - Succeeded
          - Failed
          - Canceled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ProvisioningState
      reliabilityLevel:
        description: Cluster reliability level indicates replica set size of system service
        enum:
          - Bronze
          - Silver
          - Gold
          - Platinum
        type: string
      reverseProxyCertificate:
        $ref: '#/definitions/CertificateDescription'
        description: The server certificate used by reverse proxy
      upgradeDescription:
        $ref: '#/definitions/ClusterUpgradePolicy'
        description: The policy to use when upgrading the cluster.
      upgradeMode:
        description: Cluster upgrade mode indicates if fabric upgrade is initiated automatically by the system or not
        enum:
          - Automatic
          - Manual
        type: string
      vmImage:
        description: The name of VM image VMSS has been configured with. Generic names such as Windows or Linux can be used.
        type: string
    required:
      - managementEndpoint
      - nodeTypes
  ClusterPropertiesUpdateParameters:
    description: The cluster resource properties can be updated
    properties:
      certificate:
        $ref: '#/definitions/CertificateDescription'
        description: 'This primay certificate will be used as cluster node to node security, SSL certificate for cluster management endpoint and default admin client, the certificate should exist in the virtual machine scale sets or Azure key vault, before you add it. It will override original value'
      clientCertificateCommonNames:
        description: List of client certificates to whitelist based on common names.
        items:
          $ref: '#/definitions/ClientCertificateCommonName'
        type: array
      clientCertificateThumbprints:
        description: 'The client thumbprint details, it is used for client access for cluster operation, it will override existing collection'
        items:
          $ref: '#/definitions/ClientCertificateThumbprint'
        type: array
      clusterCodeVersion:
        description: 'The ServiceFabric code version, if set it, please make sure you have set upgradeMode to Manual, otherwise ,it will fail, if you are using PUT new cluster, you can get the version by using ClusterVersions_List, if you are updating existing cluster, you can get the availableClusterVersions from Clusters_Get'
        type: string
      fabricSettings:
        description: 'List of custom fabric settings to configure the cluster, Note, it will overwrite existing collection'
        items:
          $ref: '#/definitions/SettingsSectionDescription'
        type: array
      nodeTypes:
        description: 'The list of nodetypes that make up the cluster, it will override'
        items:
          $ref: '#/definitions/NodeTypeDescription'
        type: array
      reliabilityLevel:
        description: This level is used to set the number of replicas of the system services
        enum:
          - Bronze
          - Silver
          - Gold
        type: string
      reverseProxyCertificate:
        $ref: '#/definitions/CertificateDescription'
        description: Certificate for the reverse proxy
      upgradeDescription:
        $ref: '#/definitions/ClusterUpgradePolicy'
        description: The policy to use when upgrading the cluster.
      upgradeMode:
        description: Cluster upgrade mode indicates if fabric upgrade is initiated automatically by the system or not
        enum:
          - Automatic
          - Manual
        type: string
  ClusterUpdateParameters:
    description: Cluster update request
    properties:
      properties:
        $ref: '#/definitions/ClusterPropertiesUpdateParameters'
        x-ms-client-flatten: true
      tags:
        additionalProperties:
          type: string
        description: Cluster update parameters
        type: object
  ClusterUpgradeDeltaHealthPolicy:
    description: Delta health policy for the cluster
    properties:
      maxPercentDeltaUnhealthyApplications:
        description: Additional unhealthy applications percentage
        maximum: 100
        minimum: 0
        type: integer
      maxPercentDeltaUnhealthyNodes:
        description: Additional unhealthy nodes percentage
        maximum: 100
        minimum: 0
        type: integer
      maxPercentUpgradeDomainDeltaUnhealthyNodes:
        description: 'Additional unhealthy nodes percentage per upgrade domain '
        maximum: 100
        minimum: 0
        type: integer
    required:
      - maxPercentDeltaUnhealthyNodes
      - maxPercentUpgradeDomainDeltaUnhealthyNodes
      - maxPercentDeltaUnhealthyApplications
  ClusterUpgradePolicy:
    description: Cluster upgrade policy
    properties:
      deltaHealthPolicy:
        $ref: '#/definitions/ClusterUpgradeDeltaHealthPolicy'
        description: Delta health policy
      forceRestart:
        description: Force node to restart or not
        type: boolean
      healthCheckRetryTimeout:
        description: 'The length of time that health checks can fail continuously,it represents .Net TimeSpan'
        type: string
      healthCheckStableDuration:
        description: 'The length of time that health checks must pass continuously,it represents .Net TimeSpan'
        type: string
      healthCheckWaitDuration:
        description: 'The length of time to wait after completing an upgrade domain before performing health checks, it represents .Net TimeSpan'
        type: string
      healthPolicy:
        $ref: '#/definitions/ClusterHealthPolicy'
        description: Cluster health Policy
      overrideUserUpgradePolicy:
        description: Use the user defined upgrade policy or not
        type: boolean
      upgradeDomainTimeout:
        description: 'The timeout for any upgrade domain,it represents .Net TimeSpan'
        type: string
      upgradeReplicaSetCheckTimeout:
        description: 'Timeout for replica set upgrade to complete,it represents .Net TimeSpan'
        type: string
      upgradeTimeout:
        description: 'The upgrade timeout,it represents .Net TimeSpan'
        type: string
    required:
      - upgradeReplicaSetCheckTimeout
      - healthCheckWaitDuration
      - healthCheckStableDuration
      - healthCheckRetryTimeout
      - upgradeTimeout
      - upgradeDomainTimeout
      - healthPolicy
  ClusterVersionDetails:
    description: The detail of the ServiceFabric runtime version result
    properties:
      codeVersion:
        description: The ServiceFabric runtime version of the cluster
        type: string
      environment:
        $ref: '#/definitions/ClusterEnvironment'
        description: Cluster operating system
      supportExpiryUtc:
        description: The date of expiry of support of the version
        type: string
  DiagnosticsStorageAccountConfig:
    description: Diagnostics storage account config
    properties:
      blobEndpoint:
        description: Diagnostics storage account blob endpoint
        type: string
      protectedAccountKeyName:
        description: Protected Diagnostics storage key name
        type: string
      queueEndpoint:
        description: Diagnostics storage account queue endpoint
        type: string
      storageAccountName:
        description: Diagnostics storage account name
        type: string
      tableEndpoint:
        description: Diagnostics storage account table endpoint
        type: string
    required:
      - storageAccountName
      - protectedAccountKeyName
      - blobEndpoint
      - queueEndpoint
      - tableEndpoint
  EndpointRangeDescription:
    description: Port range details
    properties:
      endPort:
        description: End port of a range of ports
        type: integer
      startPort:
        description: Starting port of a range of ports
        type: integer
    required:
      - startPort
      - endPort
  ErrorModel:
    description: The structure of the error
    properties:
      error:
        description: 'The error detail '
        properties:
          code:
            description: The error code
            type: string
          message:
            description: The error message
            type: string
  NodeTypeDescription:
    description: 'Describes a node type in the cluster, each node type represents sub set of nodes in the cluster'
    properties:
      applicationPorts:
        $ref: '#/definitions/EndpointRangeDescription'
        description: Ports used by applications
      capacities:
        additionalProperties:
          description: Capacity tag value
          type: string
        description: 'The capacity tags applied to the nodes in the node type, the cluster resource manager uses these tags to understand how much of a resource a node has'
        type: object
      clientConnectionEndpointPort:
        description: The TCP cluster management endpoint port
        type: integer
      durabilityLevel:
        description: Nodetype durability Level
        enum:
          - Bronze
          - Silver
          - Gold
        type: string
      ephemeralPorts:
        $ref: '#/definitions/EndpointRangeDescription'
        description: System assgined application ports
      httpGatewayEndpointPort:
        description: The HTTP cluster management endpoint port
        type: integer
      isPrimary:
        description: Mark this as the primary node type
        type: boolean
      name:
        description: Name of the node type
        type: string
      placementProperties:
        additionalProperties:
          description: Placement tag value
          type: string
        description: 'The placement tags applied to nodes in the node type, which can be used to indicate where certain services (workload) should run'
        type: object
      reverseProxyEndpointPort:
        description: Endpoint used by reverse proxy
        type: integer
      vmInstanceCount:
        description: The number of node instances in the node type
        maximum: 2147483647
        minimum: 1
        type: integer
    required:
      - vmInstanceCount
      - name
      - clientConnectionEndpointPort
      - httpGatewayEndpointPort
      - isPrimary
  OperationListResult:
    description: Result of the request to list ServiceFabric operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        readOnly: true
        type: string
      value:
        description: List of ServiceFabric operations supported by the Microsoft.ServiceFabric resource provider.
        items:
          $ref: '#/definitions/OperationResult'
        readOnly: true
        type: array
  OperationResult:
    description: Available operation list result
    properties:
      display:
        $ref: '#/definitions/AvailableOperationDisplay'
        description: Dispaly of the result
      name:
        description: Result name
        type: string
      nextLink:
        description: The URL to use for getting the next set of results.
        type: string
      origin:
        description: Origin result
        type: string
  Resource:
    description: The resource model definition.
    properties:
      id:
        description: Resource ID.
        readOnly: true
        type: string
      location:
        description: Resource location.
        type: string
      name:
        description: Resource name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  SettingsParameterDescription:
    description: ServiceFabric settings under sections
    properties:
      name:
        description: The name of settings property
        type: string
      value:
        description: The value of the property
        type: string
    required:
      - name
      - value
  SettingsSectionDescription:
    description: ServiceFabric section settings
    properties:
      name:
        description: The name of settings section
        type: string
      parameters:
        description: 'Collection of settings in the section, each setting is a tuple consisting of setting name and value'
        items:
          $ref: '#/definitions/SettingsParameterDescription'
        type: array
    required:
      - name
      - parameters
