swagger: '2.0'
schemes:
  - https
host: rest.zuora.com
basePath: /
info:
  contact:
    email: docs@zuora.com
    x-twitter: Zuora
  description: |


    # Introduction
    Welcome to the reference for the Zuora REST API!

    <a href="http://en.wikipedia.org/wiki/REST_API" target="_blank">REST</a> is a web-service protocol that lends itself to rapid development by using everyday HTTP and JSON technology.

    The Zuora REST API provides a broad set of operations and resources that:

      * Enable Web Storefront integration from your website.
      * Support self-service subscriber sign-ups and account management.
      * Process revenue schedules through custom revenue rule models.
      * Enable manipulation of most objects in the Zuora Object Model.

    Want to share your opinion on how our API works for you? <a href="https://community.zuora.com/t5/Developers/API-Feedback-Form/gpm-p/21399" target="_blank">Tell us how you feel </a>about using our API and what we can do to make it better.

      ## Endpoints
      
      The Zuora REST API is provided via the following endpoints.
      | Tenant              | Base URL for REST Endpoints |
      |-------------------------|-------------------------|
      |US Production | https://rest.zuora.com   |
      |US API Sandbox    | https://rest.apisandbox.zuora.com|
      |US Performance Test | https://rest.pt1.zuora.com |
      |EU Production | https://rest.eu.zuora.com |
      |EU Sandbox | https://rest.sandbox.eu.zuora.com |
      
      The production endpoint provides access to your live user data. The API Sandbox tenant is a good place to test your code without affecting real-world data. To use it, you must be provisioned with an API Sandbox tenant - your Zuora representative can help you if needed.
      
      ## Access to the API
      
      If you have a Zuora tenant, you already have access to the API.
      
      If you don't have a Zuora tenant, go to <a href="
    https://www.zuora.com/resource/zuora-test-drive" target="_blank">https://www.zuora.com/resource/zuora-test-drive</a> and sign up for a Production Test Drive tenant. The tenant comes with seed data, such as a sample product catalog.

    **Note:** Currently, you need to contact <a href="http://support.zuora.com/" target="_blank">Zuora Global Support</a> to enable REST API in Services environments.

    We recommend that you <a href="https://knowledgecenter.zuora.com/CF_Users_and_Administrators/A_Administrator_Settings/Manage_Users/Create_an_API_User" target="_blank">create an API user</a> specifically for making API calls. Don't log in to the Zuora UI with this account. Logging in to the UI enables a security feature that periodically expires the account's password, which may eventually cause authentication failures with the API. Note that a user role does not have write access to Zuora REST services unless it has the API Write Access permission as described in those instructions.


    # API Changelog
    You can find the <a href="https://community.zuora.com/t5/Developers/API-Changelog/gpm-p/18092" target="_blank">Changelog</a> of the API Reference in the Zuora Community.


    # Authentication

    ## OAuth v2.0

    Zuora recommends that you use OAuth v2.0 to authenticate to the Zuora REST API. Currently, OAuth is not available in every environment. See [Zuora Testing Environments](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/D_Zuora_Environments) for more information.

    Zuora recommends you to create a dedicated API user with API write access on a tenant when authenticating via OAuth, and then create an OAuth client for this user. By doing this, you can control permissions of the API user without affecting other non-API users. Note that if a user is deactivated, all his OAuth clients will be automatically deactivated.

    Authenticating via OAuth requires the following steps:
    1. Create a Client
    2. Generate a Token
    3. Make Authenticated Requests

    ### Create a Client

    You must first [create an OAuth client](https://knowledgecenter.zuora.com/CF_Users_and_Administrators/A_Administrator_Settings/Manage_Users#Create_an_OAuth_Client_for_a_User) in the Zuora UI. To do this, you must be an administrator of your Zuora tenant. This is a one-time operation. You will be provided with a Client ID and a Client Secret. Please note this information down, as it will be required for the next step.

    **Note:** The OAuth client will be owned by a Zuora user account. If you want to perform PUT, POST, or DELETE operations using the OAuth client, the owner of the OAuth client must have a Platform role that includes the "API Write Access" permission.

    ### Generate a Token

    After creating a client, you must make a call to obtain a bearer token using the [Generate an OAuth token](https://www.zuora.com/developer/api-reference/#operation/createToken) operation. This operation requires the following parameters:
    - `client_id` - the Client ID displayed when you created the OAuth client in the previous step
    - `client_secret` - the Client Secret displayed when you created the OAuth client in the previous step
    - `grant_type` - must be set to `client_credentials`

    **Note**: The Client ID and Client Secret mentioned above were displayed when you created the OAuth Client in the prior step. The [Generate an OAuth token](https://www.zuora.com/developer/api-reference/#operation/createToken) response specifies how long the bearer token is valid for. Call [Generate an OAuth token](https://www.zuora.com/developer/api-reference/#operation/createToken) again to generate a new bearer token.

    ### Make Authenticated Requests

    To authenticate subsequent API requests, you must provide a valid bearer token in an HTTP header:

    `Authorization: Bearer {bearer_token}`

    If you have [Zuora Multi-entity](https://www.zuora.com/developer/api-reference/#tag/Entities) enabled, you need to set an additional header to specify the ID of the entity that you want to access. You can use the `scope` field in the [Generate an OAuth token](https://www.zuora.com/developer/api-reference/#operation/createToken) response to determine whether you need to specify an entity ID.

    If the `scope` field contains more than one entity ID, you must specify the ID of the entity that you want to access. For example, if the `scope` field contains `entity.1a2b7a37-3e7d-4cb3-b0e2-883de9e766cc` and `entity.c92ed977-510c-4c48-9b51-8d5e848671e9`, specify one of the following headers:
    - `Zuora-Entity-Ids: 1a2b7a37-3e7d-4cb3-b0e2-883de9e766cc`
    - `Zuora-Entity-Ids: c92ed977-510c-4c48-9b51-8d5e848671e9`

    **Note**: For a limited period of time, Zuora will accept the `entityId` header as an alternative to the `Zuora-Entity-Ids` header. If you choose to set the `entityId` header, you must remove all "-" characters from the entity ID in the `scope` field.

    If the `scope` field contains a single entity ID, you do not need to specify an entity ID.


    ## Other Supported Authentication Schemes

    Zuora continues to support the following additional legacy means of authentication:

      * Use username and password. Include authentication with each request in the header: 
      
        * `apiAccessKeyId` 
        * `apiSecretAccessKey`

      * Use an authorization cookie. The cookie authorizes the user to make calls to the REST API for the duration specified in  **Administration > Security Policies > Session timeout**. The cookie expiration time is reset with this duration after every call to the REST API. To obtain a cookie, call the [Connections](https://www.zuora.com/developer/api-reference/#tag/Connections) resource with the following API user information: 
      
        *   ID    
        *   password
        
      * For CORS-enabled APIs only: Include a 'single-use' token in the request header, which re-authenticates the user with each request. See below for more details.

    ### Entity Id and Entity Name

    The `entityId` and `entityName` parameters are only used for [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity "Zuora Multi-entity"). These are the legacy parameters that Zuora will only continue to support for a period of time. Zuora recommends you to use the `Zuora-Entity-Ids` parameter instead.


    The  `entityId` and `entityName` parameters specify the Id and the [name of the entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity/B_Introduction_to_Entity_and_Entity_Hierarchy#Name_and_Display_Name "Introduction to Entity and Entity Hierarchy") that you want to access, respectively. Note that you must have permission to access the entity. 

    You can specify either the `entityId` or `entityName` parameter in the authentication to access and view an entity.

      * If both `entityId` and `entityName` are specified in the authentication, an error occurs. 
      * If neither `entityId` nor `entityName` is specified in the authentication, you will log in to the entity in which your user account is created. 
      

    To get the entity Id and entity name, you can use the GET Entities REST call. For more information, see [API User Authentication](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity/A_Overview_of_Multi-entity#API_User_Authentication "API User Authentication").
      
      ### Token Authentication for CORS-Enabled APIs
      
      The CORS mechanism enables REST API calls to Zuora to be made directly from your customer's browser, with all credit card and security information transmitted directly to Zuora. This minimizes your PCI compliance burden, allows you to implement advanced validation on your payment forms, and  makes your payment forms look just like any other part of your website.
      
    For security reasons, instead of using cookies, an API request via CORS uses **tokens** for authentication.

    The token method of authentication is only designed for use with requests that must originate from your customer's browser; **it should  not be considered a replacement to the existing cookie authentication** mechanism.

    See [Zuora CORS REST](https://knowledgecenter.zuora.com/DC_Developers/REST_API/A_REST_basics/G_CORS_REST "Zuora CORS REST") for details on how CORS works and how you can begin to implement customer calls to the Zuora REST APIs. See  [HMAC Signatures](https://www.zuora.com/developer/api-reference/#operation/POSTHMACSignature "HMAC Signatures") for details on the HMAC method that returns the authentication token.

    # Requests and Responses

    ## Request IDs 
    As a general rule, when asked to supply a "key" for an account or subscription (accountKey, account-key, subscriptionKey, subscription-key), you can provide either the actual ID or  the number of the entity.

    ## HTTP Request Body

    Most of the parameters and data accompanying your requests will be contained in the body of the HTTP request. 

    The Zuora REST API accepts JSON in the HTTP request body. No other data format (e.g., XML) is supported.

    ### Data Type

    ([Actions](https://www.zuora.com/developer/api-reference/#tag/Actions) and CRUD operations only) We recommend that you do not specify the decimal values with quotation marks, commas, and spaces. Use characters of `+-0-9.eE`, for example, `5`, `1.9`, `-8.469`, and `7.7e2`. Also, Zuora does not convert currencies for decimal values.

    ## Testing a Request

    Use a third party client, such as [curl](https://curl.haxx.se "curl"), [Postman](https://www.getpostman.com "Postman"), or [Advanced REST Client](https://advancedrestclient.com "Advanced REST Client"), to test the Zuora REST API.

    You can test the Zuora REST API from the Zuora API Sandbox or Production tenants. If connecting to Production, bear in mind that you are working with your live production data, not sample data or test data.

    ## Testing with Credit Cards

    Sooner or later it will probably be necessary to test some transactions that involve credit cards. For suggestions on how to handle this, see [Going Live With Your Payment Gateway](https://knowledgecenter.zuora.com/CB_Billing/M_Payment_Gateways/C_Managing_Payment_Gateways/B_Going_Live_Payment_Gateways#Testing_with_Credit_Cards "C_Zuora_User_Guides/A_Billing_and_Payments/M_Payment_Gateways/C_Managing_Payment_Gateways/B_Going_Live_Payment_Gateways#Testing_with_Credit_Cards"
    ).

    ## Concurrent Request Limits

    Zuora enforces tenant-level concurrent request limits. See <a href="https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Policies/Concurrent_Request_Limits" target="_blank">Concurrent Request Limits</a> for more information.



    ## Error Handling

    Responses and error codes are detailed in [Responses and errors](https://knowledgecenter.zuora.com/DC_Developers/REST_API/A_REST_basics/3_Responses_and_errors "Responses and errors").

    # Pagination

    When retrieving information (using GET methods), the optional `pageSize` query parameter sets the maximum number of rows to return in a response. The maximum is `40`; larger values are treated as `40`. If this value is empty or invalid, `pageSize` typically defaults to `10`.

    The default value for the maximum number of rows retrieved can be overridden at the method level.

    If more rows are available, the response will include a `nextPage` element, which contains a URL for requesting the next page.  If this value is not provided, no more rows are available. No "previous page" element is explicitly provided; to support backward paging, use the previous call.

    ## Array Size

    For data items that are not paginated, the REST API supports arrays of up to 300 rows.  Thus, for instance, repeated pagination can retrieve thousands of customer accounts, but within any account an array of no more than 300 rate plans is returned.

    # API Versions

    The Zuora REST API are version controlled. Versioning ensures that Zuora REST API changes are backward compatible. Zuora uses a major and minor version nomenclature to manage changes. By specifying a version in a REST request, you can get expected responses regardless of future changes to the API.

    ## Major Version

    The major version number of the REST API appears in the REST URL. Currently, Zuora only supports the **v1** major version. For example, `POST https://rest.zuora.com/v1/subscriptions`.

    ## Minor Version

    Zuora uses minor versions for the REST API to control small changes. For example, a field in a REST method is deprecated and a new field is used to replace it. 

    Some fields in the REST methods are supported as of minor versions. If a field is not noted with a minor version, this field is available for all minor versions. If a field is noted with a minor version, this field is in version control. You must specify the supported minor version in the request header to process without an error. 

    If a field is in version control, it is either with a minimum minor version or a maximum minor version, or both of them. You can only use this field with the minor version between the minimum and the maximum minor versions. For example, the `invoiceCollect` field in the POST Subscription method is in version control and its maximum minor version is 189.0. You can only use this field with the minor version 189.0 or earlier.

    If you specify a version number in the request header that is not supported, Zuora will use the minimum minor version of the REST API. In our REST API documentation, if a field or feature requires a minor version number, we note that in the field description.

    You only need to specify the version number when you use the fields require a minor version. To specify the minor version, set the `zuora-version` parameter to the minor version number in the request header for the request call. For example, the `collect` field is in 196.0 minor version. If you want to use this field for the POST Subscription method, set the  `zuora-version` parameter to `196.0` in the request header. The `zuora-version` parameter is case sensitive.

    For all the REST API fields, by default, if the minor version is not specified in the request header, Zuora will use the minimum minor version of the REST API to avoid breaking your integration. 

    ### Minor Version History

    The supported minor versions are not serial. This section documents the changes made to each Zuora REST API minor version.

    The following table lists the supported versions and the fields that have a Zuora REST API minor version.

    | Fields         | Minor Version      | REST Methods    | Description |
    |:--------|:--------|:--------|:--------|
    | invoiceCollect | 189.0 and earlier  | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription "Create Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription "Renew Subscription"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription "Cancel Subscription"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription "Suspend Subscription"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription "Resume Subscription"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account "Create Account")|Generates an invoice and collects a payment for a subscription. |
    | collect        | 196.0 and later    | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription "Create Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription "Renew Subscription"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription "Cancel Subscription"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription "Suspend Subscription"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription "Resume Subscription"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account "Create Account")|Collects an automatic payment for a subscription. |
    | invoice | 196.0 and 207.0| [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription "Create Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription "Renew Subscription"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription "Cancel Subscription"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription "Suspend Subscription"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription "Resume Subscription"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account "Create Account")|Generates an invoice for a subscription. |
    | invoiceTargetDate | 196.0 and earlier  | [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview "Preview Subscription") |Date through which charges are calculated on the invoice, as `yyyy-mm-dd`. |
    | invoiceTargetDate | 207.0 and earlier  | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription "Create Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription "Renew Subscription"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription "Cancel Subscription"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription "Suspend Subscription"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription "Resume Subscription"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account "Create Account")|Date through which charges are calculated on the invoice, as `yyyy-mm-dd`. |
    | targetDate | 207.0 and later | [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview "Preview Subscription") |Date through which charges are calculated on the invoice, as `yyyy-mm-dd`. |
    | targetDate | 211.0 and later | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription "Create Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription "Renew Subscription"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription "Cancel Subscription"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription "Suspend Subscription"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription "Resume Subscription"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account "Create Account")|Date through which charges are calculated on the invoice, as `yyyy-mm-dd`. |
    | includeExisting DraftInvoiceItems | 196.0 and earlier| [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview "Preview Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription") | Specifies whether to include draft invoice items in subscription previews. Specify it to be `true` (default) to include draft invoice items in the preview result. Specify it to be `false` to excludes draft invoice items in the preview result. |
    | includeExisting DraftDocItems | 207.0 and later  | [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview "Preview Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription") | Specifies whether to include draft invoice items in subscription previews. Specify it to be `true` (default) to include draft invoice items in the preview result. Specify it to be `false` to excludes draft invoice items in the preview result. |
    | previewType | 196.0 and earlier| [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview "Preview Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription") | The type of preview you will receive. The possible values are `InvoiceItem`(default), `ChargeMetrics`, and `InvoiceItemChargeMetrics`. |
    | previewType | 207.0 and later  | [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview "Preview Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription") | The type of preview you will receive. The possible values are `LegalDoc`(default), `ChargeMetrics`, and `LegalDocChargeMetrics`. |
    | runBilling  | 211.0 and later  | [Create Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_Subscription "Create Subscription"); [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription"); [Renew Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_RenewSubscription "Renew Subscription"); [Cancel Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_CancelSubscription "Cancel Subscription"); [Suspend Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_SuspendSubscription "Suspend Subscription"); [Resume Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_ResumeSubscription "Resume Subscription"); [Create Account](https://www.zuora.com/developer/api-reference/#operation/POST_Account "Create Account")|Generates an invoice or credit memo for a subscription. **Note:** Credit memos are only available if you have the Advanced AR Settlement feature enabled. |
    | invoiceDate | 214.0 and earlier  | [Invoice and Collect](https://www.zuora.com/developer/api-reference/#operation/POST_TransactionInvoicePayment "Invoice and Collect") |Date that should appear on the invoice being generated, as `yyyy-mm-dd`. |
    | invoiceTargetDate | 214.0 and earlier  | [Invoice and Collect](https://www.zuora.com/developer/api-reference/#operation/POST_TransactionInvoicePayment "Invoice and Collect") |Date through which to calculate charges on this account if an invoice is generated, as `yyyy-mm-dd`. |
    | documentDate | 215.0 and later | [Invoice and Collect](https://www.zuora.com/developer/api-reference/#operation/POST_TransactionInvoicePayment "Invoice and Collect") |Date that should appear on the invoice and credit memo being generated, as `yyyy-mm-dd`. |
    | targetDate | 215.0 and later | [Invoice and Collect](https://www.zuora.com/developer/api-reference/#operation/POST_TransactionInvoicePayment "Invoice and Collect") |Date through which to calculate charges on this account if an invoice or a credit memo is generated, as `yyyy-mm-dd`. |

    #### Version 207.0 and Later

    The response structure of the [Preview Subscription](https://www.zuora.com/developer/api-reference/#operation/POST_SubscriptionPreview "Preview Subscription") and [Update Subscription](https://www.zuora.com/developer/api-reference/#operation/PUT_Subscription "Update Subscription") methods are changed. The following invoice related response fields are moved to the invoice container:

      * amount
      * amountWithoutTax
      * taxAmount
      * invoiceItems
      * targetDate
      * chargeMetrics

    # Zuora Object Model

    The following diagram presents a high-level view of the key Zuora objects. Click the image to open it in a new tab to resize it.

    <a href="https://www.zuora.com/wp-content/uploads/2017/01/ZuoraERD.jpeg" target="_blank"><img src="https://www.zuora.com/wp-content/uploads/2017/01/ZuoraERD.jpeg" alt="Zuora Object Model Diagram"></a>

    You can use the [Describe object](https://www.zuora.com/developer/api-reference/#operation/GET_Describe) operation to list the fields of each Zuora object that is available in your tenant. When you call the operation, you must specify the API name of the Zuora object.

    The following table provides the API name of each Zuora object:

    | Object                                        | API Name                                   |
    |-----------------------------------------------|--------------------------------------------|
    | Account                                       | `Account`                                  |
    | Accounting Code                               | `AccountingCode`                           |
    | Accounting Period                             | `AccountingPeriod`                         |
    | Amendment                                     | `Amendment`                                |
    | Application Group                             | `ApplicationGroup`                         |
    | Billing Run                                   | `BillRun`                               |
    | Contact                                       | `Contact`                                  |
    | Contact Snapshot                              | `ContactSnapshot`                          |
    | Credit Balance Adjustment                     | `CreditBalanceAdjustment`                  |
    | Credit Memo                                   | `CreditMemo`                               |
    | Credit Memo Application                       | `CreditMemoApplication`                    |
    | Credit Memo Application Item                  | `CreditMemoApplicationItem`                |
    | Credit Memo Item                              | `CreditMemoItem`                           |
    | Credit Memo Part                              | `CreditMemoPart`                           |
    | Credit Memo Part Item                         | `CreditMemoPartItem`                       |
    | Credit Taxation Item                          | `CreditTaxationItem`                       |
    | Custom Exchange Rate                          | `FXCustomRate`                             |
    | Debit Memo                                    | `DebitMemo`                                |
    | Debit Memo Item                               | `DebitMemoItem`                            |
    | Debit Taxation Item                           | `DebitTaxationItem`                        |
    | Discount Applied Metrics                      | `DiscountAppliedMetrics`                   |
    | Entity                                        | `Tenant`                                   |
    | Gateway Reconciliation Event                  | `PaymentGatewayReconciliationEventLog`     |
    | Gateway Reconciliation Job                    | `PaymentReconciliationJob`                 |
    | Gateway Reconciliation Log                    | `PaymentReconciliationLog`                 |
    | Invoice                                       | `Invoice`                                  |
    | Invoice Adjustment                            | `InvoiceAdjustment`                        |
    | Invoice Item                                  | `InvoiceItem`                              |
    | Invoice Item Adjustment                       | `InvoiceItemAdjustment`                    |
    | Invoice Payment                               | `InvoicePayment`                           |
    | Journal Entry                                 | `JournalEntry`                             |
    | Journal Entry Item                            | `JournalEntryItem`                         |
    | Journal Run                                   | `JournalRun`                               |
    | Order                                         | `Order`                                    |
    | Order Action                                  | `OrderAction`                              |
    | Order ELP                                     | `OrderElp`                                 |
    | Order Item                                    | `OrderItem`                                |
    | Order MRR                                     | `OrderMrr`                                 |
    | Order Quantity                                | `OrderQuantity`                            |
    | Order TCB                                     | `OrderTcb`                                 |
    | Order TCV                                     | `OrderTcv`                                 |
    | Payment                                       | `Payment`                                  |
    | Payment Application                           | `PaymentApplication`                       |
    | Payment Application Item                      | `PaymentApplicationItem`                   |
    | Payment Method                                | `PaymentMethod`                            |
    | Payment Method Snapshot                       | `PaymentMethodSnapshot`                    |
    | Payment Method Transaction Log                | `PaymentMethodTransactionLog`              |
    | Payment Method Update                         | `UpdaterDetail`                            |
    | Payment Part                                  | `PaymentPart`                              |
    | Payment Part Item                             | `PaymentPartItem`                          |
    | Payment Run                                   | `PaymentRun`                               |
    | Payment Transaction Log                       | `PaymentTransactionLog`                    |
    | Processed Usage                               | `ProcessedUsage`                           |
    | Product                                       | `Product`                                  |
    | Product Rate Plan                             | `ProductRatePlan`                          |
    | Product Rate Plan Charge                      | `ProductRatePlanCharge`                    |
    | Product Rate Plan Charge Tier                 | `ProductRatePlanChargeTier`                |
    | Rate Plan                                     | `RatePlan`                                 |
    | Rate Plan Charge                              | `RatePlanCharge`                           |
    | Rate Plan Charge Tier                         | `RatePlanChargeTier`                       |
    | Refund                                        | `Refund`                                   |
    | Refund Application                            | `RefundApplication`                        |
    | Refund Application Item                       | `RefundApplicationItem`                    |
    | Refund Invoice Payment                        | `RefundInvoicePayment`                     |
    | Refund Part                                   | `RefundPart`                               |
    | Refund Part Item                              | `RefundPartItem`                           |
    | Refund Transaction Log                        | `RefundTransactionLog`                     |
    | Revenue Charge Summary                        | `RevenueChargeSummary`                     |
    | Revenue Charge Summary Item                   | `RevenueChargeSummaryItem`                 |
    | Revenue Event                                 | `RevenueEvent`                             |
    | Revenue Event Credit Memo Item                | `RevenueEventCreditMemoItem`               |
    | Revenue Event Debit Memo Item                 | `RevenueEventDebitMemoItem`                |
    | Revenue Event Invoice Item                    | `RevenueEventInvoiceItem`                  |
    | Revenue Event Invoice Item Adjustment         | `RevenueEventInvoiceItemAdjustment`        |
    | Revenue Event Item                            | `RevenueEventItem`                         |
    | Revenue Event Item Credit Memo Item           | `RevenueEventItemCreditMemoItem`           |
    | Revenue Event Item Debit Memo Item            | `RevenueEventItemDebitMemoItem`            |
    | Revenue Event Item Invoice Item               | `RevenueEventItemInvoiceItem`              |
    | Revenue Event Item Invoice Item Adjustment    | `RevenueEventItemInvoiceItemAdjustment`    |
    | Revenue Event Type                            | `RevenueEventType`                         |
    | Revenue Schedule                              | `RevenueSchedule`                          |
    | Revenue Schedule Credit Memo Item             | `RevenueScheduleCreditMemoItem`            |
    | Revenue Schedule Debit Memo Item              | `RevenueScheduleDebitMemoItem`             |
    | Revenue Schedule Invoice Item                 | `RevenueScheduleInvoiceItem`               |
    | Revenue Schedule Invoice Item Adjustment      | `RevenueScheduleInvoiceItemAdjustment`     |
    | Revenue Schedule Item                         | `RevenueScheduleItem`                      |
    | Revenue Schedule Item Credit Memo Item        | `RevenueScheduleItemCreditMemoItem`        |
    | Revenue Schedule Item Debit Memo Item         | `RevenueScheduleItemDebitMemoItem`         |
    | Revenue Schedule Item Invoice Item            | `RevenueScheduleItemInvoiceItem`           |
    | Revenue Schedule Item Invoice Item Adjustment | `RevenueScheduleItemInvoiceItemAdjustment` |
    | Subscription                                  | `Subscription`                             |
    | Taxable Item Snapshot                         | `TaxableItemSnapshot`                      |
    | Taxation Item                                 | `TaxationItem`                             |
    | Updater Batch                                 | `UpdaterBatch`                             |
    | Usage                                         | `Usage`                                    |
  title: Zuora API Reference
  version: '2018-03-21'
  x-apisguru-categories:
    - financial
  x-origin:
    - format: swagger
      url: 'https://www.zuora.com/wp-content/themes/zuora/yaml/swagger.yaml?v-7.0'
      version: '2.0'
  x-providerName: zuora.com
consumes:
  - application/json; charset=utf-8
produces:
  - application/json; charset=utf-8
parameters:
  GLOBAL_HEADER_Authorization_OAuth:
    description: |
      `Bearer {token}` for a valid OAuth token.
    in: header
    name: Authorization
    required: true
    type: string
  GLOBAL_HEADER_Cursor:
    description: |
      The cursor indicator of the data page you want to retrieve. By default, the first page of data is returned in the response. If more data pages are available, the operation returns `true` in the `hasMore` response body field. The `cursor` response body field specifies the cursor indicator of the next page of data. If there is no data after the current page, the value of `cursor` is `null`.
    in: query
    name: cursor
    required: false
    type: string
  GLOBAL_HEADER_If_Match:
    description: |
      The expected ETag of the resource. You can use this header to perform a conditional request. Zuora responds with 412 Precondition Failed if the ETag of the resource does not match the value of this header. 
    in: header
    name: If-Match
    required: false
    type: string
  GLOBAL_HEADER_Zuora_Entity_Ids_Single:
    description: |
      An entity ID. If you have [Zuora Multi-entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity) enabled and the OAuth token is valid for more than one entity, you must use this header to specify which entity to perform the operation in. If the OAuth token is only valid for a single entity, or you do not have Zuora Multi-entity enabled, you do not need to set this header.
    in: header
    name: Zuora-Entity-Ids
    required: false
    type: string
  GLOBAL_HEADER_Zuora_Request_Id:
    description: |
      A request ID for tracking the API call. If you specify a value for this header, Zuora returns the same value in the response headers. If you do not specify a value for this header, Zuora provides a request ID in the response headers.
    in: header
    name: Zuora-Request-Id
    required: false
    type: string
  GLOBAL_HEADER_entityId:
    description: 'The Id of the entity that you want to access. Note that you must have permission to access the entity. For more information, see [REST Authentication](https://www.zuora.com/developer/api-reference/#section/Authentication/Entity-Id-and-Entity-Name).'
    in: header
    name: entityId
    required: false
    type: string
  GLOBAL_HEADER_entityName:
    description: 'The [name of the entity](https://knowledgecenter.zuora.com/BB_Introducing_Z_Business/Multi-entity/B_Introduction_to_Entity_and_Entity_Hierarchy#Name_and_Display_Name) that you want to access. Note that you must have permission to access the entity. For more information, see [REST Authentication](https://www.zuora.com/developer/api-reference/#section/Authentication/Entity-Id-and-Entity-Name).'
    in: header
    name: entityName
    required: false
    type: string
  GLOBAL_HEADER_pageSize_Usage:
    default: 100
    description: |
      The maximum number of rows in a page to return in a response. 
    format: int32
    in: query
    maximum: 2000
    minimum: 25
    name: pageSize
    required: false
    type: integer
  GLOBAL_HEADER_page_Usage:
    default: 0
    description: |
      The index number of the page you want to retrieve. By default, the first page is returned in the response. 
    format: int32
    in: query
    name: page
    required: false
    type: integer
  GLOBAL_REQUEST_pageSize:
    default: 20
    description: |
      Number of rows returned per page.
    in: query
    maximum: 40
    name: pageSize
    required: false
    type: integer
  GLOBAL_REQUEST_pageSize_catalog:
    default: 10
    description: |
      Number of rows returned per page.
    in: query
    maximum: 40
    name: pageSize
    required: false
    type: integer
  GLOBAL_REQUEST_pageSize_entityConnection:
    default: 30
    description: |
      Number of rows returned per page.
    in: query
    maximum: 300
    name: pageSize
    required: false
    type: integer
  GLOBAL_REQUEST_pageSize_finance_accounting:
    default: 300
    description: |
      Number of rows returned per page.
    in: query
    maximum: 300
    name: pageSize
    required: false
    type: integer
  GLOBAL_REQUEST_pageSize_finance_revenue:
    default: 8
    description: |
      Number of rows returned per page.
    in: query
    maximum: 300
    name: pageSize
    required: false
    type: integer
tags:
  - description: |
      Actions are operations that are batch in nature. For example, the "create", "update", "delete", and other operations allow changes to up-to 50 objects at a time. The "query" operation will return up-to 2000 result records back at a time, before requiring additional pages of data to be returned via a subsequent "queryMore" operation.

      The default WSDL version for Actions is 79. If you want to change the WSDL version, set the `X-Zuora-WSDL-Version` field in the request header for the request call.

      **Note**: Actions do not support the Advanced AR Settlement feature. This feature includes Unapplied Payments, Credit and Debit Memo, and Invoice Item Settlement.
    name: Actions
  - description: ''
    name: Accounting Codes
  - description: ''
    name: Accounting Periods
  - description: ''
    name: Accounts
  - description: ''
    name: Amendments
  - description: ''
    name: Attachments
  - description: |
      Use the Bill Run call to create ad hoc bill runs and Post, Cancel, Query, and Delete bill runs.
    name: Bill Run
  - description: ''
    name: Billing Documents
  - description: ''
    name: Billing Preview Run
  - description: ''
    name: Catalog
  - description: ''
    name: Charge Revenue Summaries
  - description: ''
    name: Communication Profiles
  - description: ''
    name: Connections
  - description: ''
    name: Contacts
  - description: ''
    name: Credit Balance Adjustments
  - description: ''
    name: Credit Memos
  - description: ''
    name: Custom Exchange Rates
  - description: ''
    name: Debit Memos
  - description: ''
    name: Describe
  - description: ''
    name: Entities
  - description: ''
    name: Entity Connections
  - description: ''
    name: Event Triggers
  - description: ''
    name: Exports
  - description: ''
    name: Features
  - description: ''
    name: Get Files
  - description: ''
    name: HMAC Signatures
  - description: ''
    name: Hosted Pages
  - description: ''
    name: Imports
  - description: ''
    name: Invoice Adjustments
  - description: ''
    name: Invoice Item Adjustments
  - description: ''
    name: Invoice Items
  - description: ''
    name: Invoice Payments
  - description: ''
    name: Invoice Split Items
  - description: ''
    name: Invoice Splits
  - description: ''
    name: Invoices
  - description: ''
    name: Journal Runs
  - description: ''
    name: Mass Updater
  - description: ''
    name: Notification
  - description: ''
    name: OAuth
  - description: ''
    name: Operations
  - description: ''
    name: Orders
  - description: ''
    name: Payment Gateways
  - description: ''
    name: Payment Method Snapshots
  - description: ''
    name: Payment Method Transaction Logs
  - description: ''
    name: Payment Methods
  - description: ''
    name: Payment Runs
  - description: ''
    name: Payment Transaction Logs
  - description: ''
    name: Payments
  - description: ''
    name: Product Features
  - description: ''
    name: Product Rate Plan Charge Tiers
  - description: ''
    name: Product Rate Plan Charges
  - description: ''
    name: Product Rate Plans
  - description: ''
    name: Products
  - description: ''
    name: Quotes Document
  - description: ''
    name: Rate Plan Charge Tiers
  - description: ''
    name: Rate Plan Charges
  - description: ''
    name: Rate Plans
  - description: ''
    name: Refund Invoice Payments
  - description: ''
    name: Refund Transaction Logs
  - description: ''
    name: Refunds
  - description: ''
    name: Revenue Events
  - description: ''
    name: Revenue Items
  - description: ''
    name: Revenue Rules
  - description: ''
    name: Revenue Schedules
  - description: ''
    name: RSA Signatures
  - description: ''
    name: Settings
  - description: ''
    name: Subscription Product Features
  - description: ''
    name: Subscriptions
  - description: ''
    name: Summary Journal Entries
  - description: ''
    name: Taxation Items
  - description: ''
    name: Transactions
  - description: ''
    name: Unit Of Measure
  - description: |
      **Note:** You cannot use the Usage operations with the [Usage (with Real-Time Rating)](https://www.zuora.com/developer/real-time-usage-rating-api/#tag/Usage-(with-Real-Time-Rating)) operations. 
    name: Usage
  - description: ''
    name: Users
paths:
  /events/event-triggers:
    get:
      operationId: GET_EventTriggers
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Request_Id'
        - description: 'The Zuora object that trigger condition is defined upon. Should be specified in the pattern: ^[A-Z][\\w\\-]*$'
          in: query
          name: baseObject
          required: false
          type: string
        - description: 'The event type name. Should be specified in the pattern: ^[A-Za-z]{1,}[\w\-]*$'
          in: query
          name: eventTypeName
          required: false
          type: string
        - description: The status of the event trigger.
          in: query
          name: active
          required: false
          type: string
        - default: 0
          description: 'The first index of the query result. Default to 0 if absent, and the minimum is 0.'
          in: query
          minimum: 0
          name: start
          required: false
          type: integer
        - default: 10
          description: The maximum number of data records to be returned. Default to 10 if absent.
          in: query
          minimum: 1
          name: limit
          required: false
          type: integer
      responses:
        '200':
          description: OK
          examples:
            application/json: |-
              {
                "data": [
                  {
                    "id": "ac1ee535e8524858a72edb464212729d",
                    "baseObject": "Invoice",
                    "condition": "changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 1000",
                    "description": "trigger an event when an invoice is posted with amount over 1000",
                    "eventType": {
                      "name": "LargeInvoicePosted",
                      "displayName": "Large Invoice Posted",
                      "description": "An invoice is posted with amount over 1000"
                    },
                    "active": true
                  }
                ],
                "next": "https://api.zuora.com/events/event-triggers?start=1&limit=1"
              }
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/EventTrigger'
                type: array
              next:
                description: The link to the next page. No value if it is last page.
                type: string
            type: object
        '400':
          description: Bad Request
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "FieldConstraintViolation",
                    "message": "start should be >= 0"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: Server Error
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "SystemError",
                    "message": "internal server error"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Query event triggers
      tags:
        - Event Triggers
      x-code-samples:
        - lang: Curl
          source: |-
            curl -v -X GET 
            -H 'Authorization:Bearer 801b70f8fc9e49eebfce62cb05e5d85b' 
            -H 'Zuora-Entity-Id: 11e643f4a3f3f7e0b0610025904c57d6'
            'https://rest.apisandbox.zuora.com/events/event-triggers'
        - lang: PHP
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://rest.zuora.com//events/event-triggers');
            $request->setMethod(HTTP_METH_GET);

            $request->setHeaders(array(
              'content-type' => 'application/json',
              'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            Request request = new Request.Builder()
              .url("https://rest.zuora.com//events/event-triggers")
              .get()
              .addHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3")
              .addHeader("content-type", "application/json")
              .addHeader("cache-control", "no-cache")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("https://rest.zuora.com/")

            headers = {
                'Authorization': "Bearer 6d151216ef504f65b8ff6e9e9e8356d3"
                }

            conn.request("GET", "/events/event-triggers", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Ruby
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://rest.zuora.com//events/event-triggers")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'

            response = http.request(request)
            puts response.read_body
        - lang: 'C#'
          source: |-
            var client = new RestClient("https://rest.zuora.com//events/event-triggers");
            var request = new RestRequest(Method.GET);
            request.AddHeader("content-type", "application/json");
            request.AddHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3");
            IRestResponse response = client.Execute(request);
    post:
      description: |
        You can define an event trigger on any of the following objects:

          * Account
          * AccountingCode
          * AccountingPeriod
          * Amendment
          * BillingRun
          * Contact
          * CreditBalanceAdjustment
          * CreditMemo
          * CreditMemoApplication
          * CreditMemoApplicationItem
          * CreditMemoItem
          * DebitMemo
          * DebitMemoItem
          * Feature
          * Invoice
          * InvoiceAdjustment
          * InvoiceItem
          * InvoiceItemAdjustment
          * JournalEntry
          * JournalEntryItem
          * Payment
          * PaymentApplication
          * PaymentMethod
          * PaymentPart
          * Product
          * ProductFeature
          * ProductRatePlan
          * ProductRatePlanCharge
          * RatePlan
          * RatePlanCharge
          * Refund
          * RefundApplication
          * RevenueEvent
          * RevenueEventItem
          * RevenueSchedule
          * RevenueScheduleItem
          * Subscription
          * SubscriptionProductFeature
          * TaxationItem
          * Usage

        The `baseObject` field specifies which object to define a trigger on. The `condition` field is a [JEXL](http://commons.apache.org/proper/commons-jexl/) expression that specifies when to trigger events. The expression can contain fields from the object that the trigger is defined on.

        **Note:** The condition cannot contain fields from [data source](https://knowledgecenter.zuora.com/DC_Developers/M_Export_ZOQL) objects that are joined to the object that the trigger is defined on.

        For example, the following condition causes an event to be triggered whenever an invoice is posted with an amount greater than 1000:

        ```changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 1000```

        Where:

          * `changeType` is a keyword that specifies the type of change that occurred to the Invoice object. For all objects, the supported values of `changeType` are `INSERT`, `UPDATE`,  and `DELETE`.
          * `Invoice.Status` is the value of the Invoice object's `Status` field after the change occurred.
          * `Invoice.Status_old` is the value of the Invoice object's `Status` field before the change occurred.

        In the above example, the value of `baseObject` would be `Invoice`.

        **Note:** You can define up to 200 event triggers in your tenant.
      operationId: POST_EventTrigger
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Request_Id'
        - in: body
          name: postEventTriggerRequest
          required: true
          schema:
            $ref: '#/definitions/PostEventTriggerRequest'
      responses:
        '200':
          description: OK
          examples:
            application/json: |-
              {
                "id": "ac1ee535e8524858a72edb464212729d",
                "baseObject": "Invoice",
                "condition": "changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 1000",
                "description": "trigger an event when an invoice is posted with amount over 1000",
                "eventType": {
                  "name": "LargeInvoicePosted",
                  "displayName": "Large Invoice Posted",
                  "description": "An invoice is posted with amount over 1000"
                },
                "active": true
              }
          schema:
            $ref: '#/definitions/EventTrigger'
        '400':
          description: Bad Request
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "MissingRequiredField",
                    "message": "eventType is missing"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: Server Error
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "SystemError",
                    "message": "internal server error"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Create an event trigger
      tags:
        - Event Triggers
      x-code-samples:
        - lang: Curl
          source: |-
            curl -v -X POST 
            -H 'Authorization:Bearer 52d405a680d747a68ca59e2ca3e98a8c' 
            -H 'Zuora-Entity-Id: 11e643f4a3f3f7e0b0610025904c57d6' 
            -H 'Content-Type: application/json' 
            -d '{"baseObject": "ProductRatePlanCharge", "condition": "(changeType == 'UPDATE' && ProductRatePlanCharge.Name == ProductRatePlanCharge.Name_old) || changeType == 'INSERT'", "eventType": { "name": "CreateUpdateProductRatePlanChargeEvent", "displayName": "Create or Update Product Rate Plan Charge Event", "description": "Event when a product rate plan charge is modified"}, "active": true}' 
            'https://rest.apisandbox.zuora.com/events/event-triggers'
        - lang: PHP
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://rest.zuora.com//events/event-triggers');
            $request->setMethod(HTTP_METH_POST);

            $request->setHeaders(array(
              'content-type' => 'application/json',
              'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            ));

            $request->setBody('{
                "active": true, 
                "baseObject": "Invoice", 
                "condition": "changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 1000", 
                "description": "Trigger an event when an invoice is posted with amount over 1000", 
                "eventType": {
                    "description": "An invoice is posted with amount over 1000", 
                    "displayName": "Large Invoice Posted", 
                    "name": "LargeInvoicePosted"
                }
            }');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\n    \"active\": true, \n    \"baseObject\": \"Invoice\", \n    \"condition\": \"changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 1000\", \n    \"description\": \"Trigger an event when an invoice is posted with amount over 1000\", \n    \"eventType\": {\n        \"description\": \"An invoice is posted with amount over 1000\", \n        \"displayName\": \"Large Invoice Posted\", \n        \"name\": \"LargeInvoicePosted\"\n    }\n}");
            Request request = new Request.Builder()
              .url("https://rest.zuora.com//events/event-triggers")
              .post(body)
              .addHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3")
              .addHeader("content-type", "application/json")
              .addHeader("cache-control", "no-cache")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("https://rest.zuora.com/")

            payload = "{\n    \"active\": true, \n    \"baseObject\": \"Invoice\", \n    \"condition\": \"changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 1000\", \n    \"description\": \"Trigger an event when an invoice is posted with amount over 1000\", \n    \"eventType\": {\n        \"description\": \"An invoice is posted with amount over 1000\", \n        \"displayName\": \"Large Invoice Posted\", \n        \"name\": \"LargeInvoicePosted\"\n    }\n}"

            headers = {
                'Authorization': "Bearer 6d151216ef504f65b8ff6e9e9e8356d3",
                'content-type': "application/json",
                }

            conn.request("POST", "/events/event-triggers", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Ruby
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://rest.zuora.com//events/event-triggers")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Post.new(url)
            request["Authorization"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            request["content-type"] = 'application/json'
            request.body = "{\n    \"active\": true, \n    \"baseObject\": \"Invoice\", \n    \"condition\": \"changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 1000\", \n    \"description\": \"Trigger an event when an invoice is posted with amount over 1000\", \n    \"eventType\": {\n        \"description\": \"An invoice is posted with amount over 1000\", \n        \"displayName\": \"Large Invoice Posted\", \n        \"name\": \"LargeInvoicePosted\"\n    }\n}"

            response = http.request(request)
            puts response.read_body
        - lang: 'C#'
          source: |-
            var client = new RestClient("https://rest.zuora.com//events/event-triggers");
            var request = new RestRequest(Method.POST);
            request.AddHeader("content-type", "application/json");
            request.AddHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3");
            request.AddParameter("application/json", "{\n    \"active\": true, \n    \"baseObject\": \"Invoice\", \n    \"condition\": \"changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 1000\", \n    \"description\": \"Trigger an event when an invoice is posted with amount over 1000\", \n    \"eventType\": {\n        \"description\": \"An invoice is posted with amount over 1000\", \n        \"displayName\": \"Large Invoice Posted\", \n        \"name\": \"LargeInvoicePosted\"\n    }\n}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
  '/events/event-triggers/{id}':
    delete:
      operationId: DELETE_EventTrigger
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Request_Id'
        - format: uuid
          in: path
          name: id
          required: true
          type: string
      responses:
        '204':
          description: No Content
        '404':
          description: Not Found
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "ObjectNotFound",
                    "message": "no event trigger found with the given id"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: Server Error
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "SystemError",
                    "message": "internal server error"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Remove an event trigger
      tags:
        - Event Triggers
      x-code-samples:
        - lang: Curl
          source: 'curl -X DELETE -H "Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3" -H "Content-Type: application/json" "https://rest.zuora.com//events/event-triggers/{id}"'
        - lang: PHP
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://rest.zuora.com//events/event-triggers/{id}');
            $request->setMethod(HTTP_METH_DELETE);

            $request->setHeaders(array(
              'content-type' => 'application/json',
              'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            Request request = new Request.Builder()
              .url("https://rest.zuora.com//events/event-triggers/{id}")
              .delete()
              .addHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3")
              .addHeader("content-type", "application/json")
              .addHeader("cache-control", "no-cache")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("https://rest.zuora.com/")

            headers = {
                'Authorization': "Bearer 6d151216ef504f65b8ff6e9e9e8356d3"
                }

            conn.request("DELETE", "/events/event-triggers/{id}", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Ruby
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://rest.zuora.com//events/event-triggers/{id}")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Delete.new(url)
            request["Authorization"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'

            response = http.request(request)
            puts response.read_body
        - lang: 'C#'
          source: |-
            var client = new RestClient("https://rest.zuora.com//events/event-triggers/{id}");
            var request = new RestRequest(Method.DELETE);
            request.AddHeader("content-type", "application/json");
            request.AddHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3");
            IRestResponse response = client.Execute(request);
    get:
      operationId: GET_EventTrigger
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Request_Id'
        - format: uuid
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: OK
          examples:
            application/json: |-
              {
                "id": "ac1ee535e8524858a72edb464212729d",
                "baseObject": "Invoice",
                "condition": "changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 1000",
                "description": "trigger an event when an invoice is posted with amount over 1000",
                "eventType": {
                  "name": "LargeInvoicePosted",
                  "displayName": "Large Invoice Posted",
                  "description": "An invoice is posted with amount over 1000"
                },
                "active": true
              }
          schema:
            $ref: '#/definitions/EventTrigger'
        '404':
          description: Not Found
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "ObjectNotFound",
                    "message": "no event trigger found with the given id"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: Server Error
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "SystemError",
                    "message": "internal server error"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get an event trigger by ID
      tags:
        - Event Triggers
      x-code-samples:
        - lang: Curl
          source: 'curl -X GET -H "Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3" -H "Content-Type: application/json" "https://rest.zuora.com//events/event-triggers/{id}"'
        - lang: PHP
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://rest.zuora.com//events/event-triggers/{id}');
            $request->setMethod(HTTP_METH_GET);

            $request->setHeaders(array(
              'content-type' => 'application/json',
              'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            Request request = new Request.Builder()
              .url("https://rest.zuora.com//events/event-triggers/{id}")
              .get()
              .addHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3")
              .addHeader("content-type", "application/json")
              .addHeader("cache-control", "no-cache")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("https://rest.zuora.com/")

            headers = {
                'Authorization': "Bearer 6d151216ef504f65b8ff6e9e9e8356d3"
                }

            conn.request("GET", "/events/event-triggers/{id}", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Ruby
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://rest.zuora.com//events/event-triggers/{id}")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'

            response = http.request(request)
            puts response.read_body
        - lang: 'C#'
          source: |-
            var client = new RestClient("https://rest.zuora.com//events/event-triggers/{id}");
            var request = new RestRequest(Method.GET);
            request.AddHeader("content-type", "application/json");
            request.AddHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3");
            IRestResponse response = client.Execute(request);
    put:
      operationId: PUT_EventTrigger
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Request_Id'
        - format: uuid
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: putEventTriggerRequest
          required: true
          schema:
            $ref: '#/definitions/PutEventTriggerRequest'
      responses:
        '200':
          description: OK
          examples:
            application/json: |-
              {
                "id": "ac1ee535e8524858a72edb464212729d",
                "baseObject": "Invoice",
                "condition": "changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 5000",
                "description": "trigger an event when an invoice is posted with amount over 5000",
                "eventType": {
                  "name": "LargeInvoicePosted",
                  "displayName": "Large Invoice Posted",
                  "description": "An invoice is posted with amount over 5000"
                },
                "active": true
              }
          schema:
            $ref: '#/definitions/EventTrigger'
        '404':
          description: Not Found
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "ObjectNotFound",
                    "message": "no event trigger found with the given id"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: Server Error
          examples:
            application/json: |-
              {
                "reasons": [
                  {
                    "code": "SystemError",
                    "message": "internal server error"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Update an event trigger
      tags:
        - Event Triggers
      x-code-samples:
        - lang: Curl
          source: |
            curl -v -X PUT
            -H 'Authorization:Bearer 52d405a680d747a68ca59e2ca3e98a8c'
            -H 'Zuora-Entity-Id: 11e643f4a3f3f7e0b0610025904c57d6'
            -H 'Content-Type: application/json'
            -d '{"condition": "changeType == \'UPDATE\' && Invoice.Status == \'Posted\' && Invoice.Status_old != \'Posted\' && Invoice.Amount > 5000", "description": "Trigger an event when an invoice is posted with amount over 5000", "eventType": {"description": "An invoice is posted with amount over 5000"}}'
            'https://rest.apisandbox.zuora.com/events/event-triggers/ac1ee535e8524858a72edb464212729d'
        - lang: PHP
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://rest.zuora.com//events/event-triggers/{id}');
            $request->setMethod(HTTP_METH_PUT);

            $request->setHeaders(array(
              'content-type' => 'application/json',
              'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            ));

            $request->setBody('{
                "condition": "changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 5000", 
                "description": "Trigger an event when an invoice is posted with amount over 5000", 
                "eventType": {
                    "description": "An invoice is posted with amount over 5000"
                }
            }');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\n    \"condition\": \"changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 5000\", \n    \"description\": \"Trigger an event when an invoice is posted with amount over 5000\", \n    \"eventType\": {\n        \"description\": \"An invoice is posted with amount over 5000\"\n    }\n}");
            Request request = new Request.Builder()
              .url("https://rest.zuora.com//events/event-triggers/{id}")
              .put(body)
              .addHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3")
              .addHeader("content-type", "application/json")
              .addHeader("cache-control", "no-cache")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("https://rest.zuora.com/")

            payload = "{\n    \"condition\": \"changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 5000\", \n    \"description\": \"Trigger an event when an invoice is posted with amount over 5000\", \n    \"eventType\": {\n        \"description\": \"An invoice is posted with amount over 5000\"\n    }\n}"

            headers = {
                'Authorization': "Bearer 6d151216ef504f65b8ff6e9e9e8356d3",
                'content-type': "application/json",
                }

            conn.request("PUT", "/events/event-triggers/{id}", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Ruby
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://rest.zuora.com//events/event-triggers/{id}")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Put.new(url)
            request["Authorization"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            request["content-type"] = 'application/json'
            request.body = "{\n    \"condition\": \"changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 5000\", \n    \"description\": \"Trigger an event when an invoice is posted with amount over 5000\", \n    \"eventType\": {\n        \"description\": \"An invoice is posted with amount over 5000\"\n    }\n}"

            response = http.request(request)
            puts response.read_body
        - lang: 'C#'
          source: |-
            var client = new RestClient("https://rest.zuora.com//events/event-triggers/{id}");
            var request = new RestRequest(Method.PUT);
            request.AddHeader("content-type", "application/json");
            request.AddHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3");
            request.AddParameter("application/json", "{\n    \"condition\": \"changeType == 'UPDATE' && Invoice.Status == 'Posted' && Invoice.Status_old != 'Posted' && Invoice.Amount > 5000\", \n    \"description\": \"Trigger an event when an invoice is posted with amount over 5000\", \n    \"eventType\": {\n        \"description\": \"An invoice is posted with amount over 5000\"\n    }\n}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
  /notification/callout-options:
    get:
      description: 'Queries callout options. If callout options do not exist, it will create a default callout option with values (intervalTime: 30m, retryNumber: 3, confirmSucFromResContent: false).'
      operationId: GET_Get_Callout_Options
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/GETPublicCalloutOptionsResponse'
        '400':
          description: Bad Request
          examples:
            application/json: |-
              {
                "code":"ObjectNotFound",
                "message":"Callout Options NOT exists. Please create firstly."
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Not Found
          examples:
            application/json: |-
              {
                "code":"404",
                "message":"HTTP 404 Not Found"
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: Method Not Allowed
          examples:
            application/json: |-
              {
                "code":"405",
                "message":"HTTP 405 Method Not Allowed"
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '415':
          description: Unsupported Media Type
          examples:
            application/json: |-
              {
                "code":"415",
                "message":"HTTP 415 Unsupported Media Type"
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: Internal Server Error
          examples:
            application/json: |-
              {
                "code":"500",
                "message":"A temporary problem in the service occurred, you can retry later."
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get callout options
      tags:
        - Notification
      x-code-samples:
        - lang: Curl
          source: 'curl -X GET -H "Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3" -H "Content-Type: application/json" "https://rest.zuora.com//notification/callout-options"'
        - lang: PHP
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://rest.zuora.com//notification/callout-options');
            $request->setMethod(HTTP_METH_GET);

            $request->setHeaders(array(
              'content-type' => 'application/json',
              'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            Request request = new Request.Builder()
              .url("https://rest.zuora.com//notification/callout-options")
              .get()
              .addHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3")
              .addHeader("content-type", "application/json")
              .addHeader("cache-control", "no-cache")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("https://rest.zuora.com/")

            headers = {
                'Authorization': "Bearer 6d151216ef504f65b8ff6e9e9e8356d3"
                }

            conn.request("GET", "/notification/callout-options", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Ruby
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://rest.zuora.com//notification/callout-options")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'

            response = http.request(request)
            puts response.read_body
        - lang: 'C#'
          source: |-
            var client = new RestClient("https://rest.zuora.com//notification/callout-options");
            var request = new RestRequest(Method.GET);
            request.AddHeader("content-type", "application/json");
            request.AddHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3");
            IRestResponse response = client.Execute(request);
    put:
      description: |
        Updates callout options.
      operationId: PUT_Update_Callout_Options
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Request_Id'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - description: The request body to update callout options.
          in: body
          name: PUTPublicCalloutOptionsRequest
          required: true
          schema:
            $ref: '#/definitions/PUTPublicCalloutOptionsRequest'
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/GETPublicCalloutOptionsResponse'
        '400':
          description: Bad Request
          examples:
            application/json: |-
              {
                "code":"ObjectNotFound",
                "message":"Callout Options NOT exists. Please create firstly."
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: Not Found
          examples:
            application/json: |-
              {
                "code":"404",
                "message":"HTTP 404 Not Found"
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: Method Not Allowed
          examples:
            application/json: |-
              {
                "code":"405",
                "message":"HTTP 405 Method Not Allowed"
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '415':
          description: Unsupported Media Type
          examples:
            application/json: |-
              {
                "code":"415",
                "message":"HTTP 415 Unsupported Media Type"
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: Internal Server Error
          examples:
            application/json: |-
              {
                "code":"500",
                "message":"A temporary problem in the service occurred, you can retry later."
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Update callout options
      tags:
        - Notification
      x-code-samples:
        - lang: Curl
          source: |-
            curl -X PUT -H "Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3" -H "Content-Type: application/json" -d '{
                "confirmSucFromResContent": false, 
                "intervalTime": 30, 
                "retryNumber": 3
            }' "https://rest.zuora.com//notification/callout-options"
        - lang: PHP
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://rest.zuora.com//notification/callout-options');
            $request->setMethod(HTTP_METH_PUT);

            $request->setHeaders(array(
              'content-type' => 'application/json',
              'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            ));

            $request->setBody('{
                "confirmSucFromResContent": false, 
                "intervalTime": 30, 
                "retryNumber": 3
            }');

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            RequestBody body = RequestBody.create(mediaType, "{\n    \"confirmSucFromResContent\": false, \n    \"intervalTime\": 30, \n    \"retryNumber\": 3\n}");
            Request request = new Request.Builder()
              .url("https://rest.zuora.com//notification/callout-options")
              .put(body)
              .addHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3")
              .addHeader("content-type", "application/json")
              .addHeader("cache-control", "no-cache")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("https://rest.zuora.com/")

            payload = "{\n    \"confirmSucFromResContent\": false, \n    \"intervalTime\": 30, \n    \"retryNumber\": 3\n}"

            headers = {
                'Authorization': "Bearer 6d151216ef504f65b8ff6e9e9e8356d3",
                'content-type': "application/json",
                }

            conn.request("PUT", "/notification/callout-options", payload, headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Ruby
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://rest.zuora.com//notification/callout-options")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Put.new(url)
            request["Authorization"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            request["content-type"] = 'application/json'
            request.body = "{\n    \"confirmSucFromResContent\": false, \n    \"intervalTime\": 30, \n    \"retryNumber\": 3\n}"

            response = http.request(request)
            puts response.read_body
        - lang: 'C#'
          source: |-
            var client = new RestClient("https://rest.zuora.com//notification/callout-options");
            var request = new RestRequest(Method.PUT);
            request.AddHeader("content-type", "application/json");
            request.AddHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3");
            request.AddParameter("application/json", "{\n    \"confirmSucFromResContent\": false, \n    \"intervalTime\": 30, \n    \"retryNumber\": 3\n}", ParameterType.RequestBody);
            IRestResponse response = client.Execute(request);
  /notification/email-templates:
    get:
      description: |
        Queries email templates.
      operationId: GET_Query_Email_Templates
      parameters:
        - $ref: '#/parameters/GLOBAL_HEADER_Authorization_OAuth'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Request_Id'
        - $ref: '#/parameters/GLOBAL_HEADER_Zuora_Entity_Ids_Single'
        - allowEmptyValue: true
          default: 1
          description: The first index of the query result.
          format: int32
          in: query
          name: start
          type: integer
        - allowEmptyValue: true
          default: 20
          description: The maximum number of results the query should return.
          format: int32
          in: query
          maximum: 100
          minimum: 1
          name: limit
          type: integer
        - allowEmptyValue: true
          description: The name of the event.
          in: query
          name: eventTypeName
          type: string
        - allowEmptyValue: true
          description: The name of the email template.
          in: query
          name: name
          type: string
      responses:
        '200':
          description: OK
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            properties:
              data:
                items:
                  $ref: '#/definitions/GETPublicEmailTemplateResponse'
                type: array
              next:
                description: 'The URI to query the next page of data, e.g. ''/notification-definitions?start=1&limit=10''. The start equals request''s start+limit, and the limit equals the request''s limit. If the current page is the last page, this value is null.'
                example: /notification-definitions?start=1&limit=10
                type: string
            type: object
        '404':
          description: Not Found
          examples:
            application/json: |-
              {
                "code":"404",
                "message":"HTTP 404 Not Found"
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '405':
          description: Method Not Allowed
          examples:
            application/json: |-
              {
                "code":"405",
                "message":"HTTP 405 Method Not Allowed"
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '415':
          description: Unsupported Media Type
          examples:
            application/json: |-
              {
                "code":"415",
                "message":"HTTP 415 Unsupported Media Type"
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
        '500':
          description: Internal Server Error
          examples:
            application/json: |-
              {
                "code":"500",
                "message":"A temporary problem in the service occurred, you can retry later."
              }
          headers:
            Zuora-Request-Id:
              description: The Zuora request ID passed from the request or generated by the API Gateway.
              type: string
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Query email templates
      tags:
        - Notification
      x-code-samples:
        - lang: Curl
          source: 'curl -X GET -H "Authorization: Bearer 6d151216ef504f65b8ff6e9e9e8356d3" -H "Content-Type: application/json" "https://rest.zuora.com//notification/email-templates"'
        - lang: PHP
          source: |-
            <?php

            $request = new HttpRequest();
            $request->setUrl('https://rest.zuora.com//notification/email-templates');
            $request->setMethod(HTTP_METH_GET);

            $request->setHeaders(array(
              'content-type' => 'application/json',
              'Authorization' => 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'
            ));

            try {
              $response = $request->send();

              echo $response->getBody();
            } catch (HttpException $ex) {
              echo $ex;
            }
        - lang: Java
          source: |-
            OkHttpClient client = new OkHttpClient();

            MediaType mediaType = MediaType.parse("application/json");
            Request request = new Request.Builder()
              .url("https://rest.zuora.com//notification/email-templates")
              .get()
              .addHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3")
              .addHeader("content-type", "application/json")
              .addHeader("cache-control", "no-cache")
              .build();

            Response response = client.newCall(request).execute();
        - lang: Python
          source: |-
            import http.client

            conn = http.client.HTTPSConnection("https://rest.zuora.com/")

            headers = {
                'Authorization': "Bearer 6d151216ef504f65b8ff6e9e9e8356d3"
                }

            conn.request("GET", "/notification/email-templates", headers=headers)

            res = conn.getresponse()
            data = res.read()

            print(data.decode("utf-8"))
        - lang: Ruby
          source: |-
            require 'uri'
            require 'net/http'

            url = URI("https://rest.zuora.com//notification/email-templates")

            http = Net::HTTP.new(url.host, url.port)
            http.use_ssl = true
            http.verify_mode = OpenSSL::SSL::VERIFY_NONE

            request = Net::HTTP::Get.new(url)
            request["Authorization"] = 'Bearer 6d151216ef504f65b8ff6e9e9e8356d3'

            response = http.request(request)
            puts response.read_body
        - lang: 'C#'
          source: |-
            var client = new RestClient("https://rest.zuora.com//notification/email-templates");
            var request = new RestRequest(Method.GET);
            request.AddHeader("content-type", "application/json");
            request.AddHeader("Authorization", "Bearer 6d151216ef504f65b8ff6e9e9e8356d3");
            IRestResponse response = client.Execute(request);
    post:
[...]
