swagger: '2.0'
info:
  version: '2017-06-07'
  x-release: v4
  title: AWS Greengrass
  description: 'AWS IoT Greengrass seamlessly extends AWS onto physical devices so they can act locally on the data they generate, while still using the cloud for management, analytics, and durable storage. AWS IoT Greengrass ensures your devices can respond quickly to local events and operate with intermittent connectivity. AWS IoT Greengrass minimizes the cost of transmitting data to the cloud by allowing you to author AWS Lambda functions that execute locally.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: greengrass
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/greengrass-2017-06-07.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/greengrass/'
host: greengrass.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/greengrass/groups/{GroupId}/role':
    put:
      operationId: AssociateRoleToGroup
      description: Associates a role with a group. Your Greengrass core will use the role to access AWS cloud services. The role's permissions should allow Greengrass core Lambda functions to perform actions against the cloud.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateRoleToGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              RoleArn:
                description: The ARN of the role you wish to associate with this group.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DisassociateRoleFromGroup
      description: Disassociates the role from a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateRoleFromGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
    get:
      operationId: GetAssociatedRole
      description: Retrieves the role associated with a particular group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAssociatedRoleResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
  /greengrass/servicerole:
    put:
      operationId: AssociateServiceRoleToAccount
      description: Associates a role with your account. AWS IoT Greengrass will use the role to access your Lambda functions and AWS IoT resources. This is necessary for deployments to succeed. The role must have at least minimum permissions in the policy ''AWSGreengrassResourceAccessRolePolicy''.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateServiceRoleToAccountResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              RoleArn:
                description: The ARN of the service role you wish to associate with your account.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DisassociateServiceRoleFromAccount
      description: 'Disassociates the service role from your account. Without a service role, deployments will not work.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateServiceRoleFromAccountResponse'
        '480':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters: []
    get:
      operationId: GetServiceRoleForAccount
      description: Retrieves the service role that is attached to your account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetServiceRoleForAccountResponse'
        '480':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters: []
  /greengrass/definition/connectors:
    post:
      operationId: CreateConnectorDefinition
      description: Creates a connector definition. You may provide the initial version of the connector definition now or use ''CreateConnectorDefinitionVersion'' at a later time.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              InitialVersion:
                description: 'Information about the connector definition version, which is a container for connectors.'
                type: object
                properties:
                  Connectors:
                    $ref: '#/definitions/__listOfConnector'
                    description: 'A list of references to connectors in this version, with their corresponding configuration settings.'
              Name:
                description: The name of the connector definition.
                type: string
              tags:
                description: Tag(s) to add to the new resource
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListConnectorDefinitions
      description: Retrieves a list of connector definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConnectorDefinitionsResponse'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  '/greengrass/definition/connectors/{ConnectorDefinitionId}/versions':
    post:
      operationId: CreateConnectorDefinitionVersion
      description: Creates a version of a connector definition which has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConnectorDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: ConnectorDefinitionId
          in: path
          required: true
          description: The ID of the connector definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Connectors:
                description: 'A list of references to connectors in this version, with their corresponding configuration settings.'
                type: array
                items:
                  $ref: '#/definitions/Connector'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListConnectorDefinitionVersions
      description: 'Lists the versions of a connector definition, which are containers for connectors. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConnectorDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConnectorDefinitionId
          in: path
          required: true
          description: The ID of the connector definition.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  /greengrass/definition/cores:
    post:
      operationId: CreateCoreDefinition
      description: Creates a core definition. You may provide the initial version of the core definition now or use ''CreateCoreDefinitionVersion'' at a later time. Greengrass groups must each contain exactly one Greengrass core.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              InitialVersion:
                description: Information about a core definition version.
                type: object
                properties:
                  Cores:
                    $ref: '#/definitions/__listOfCore'
                    description: A list of cores in the core definition version.
              Name:
                description: The name of the core definition.
                type: string
              tags:
                description: Tag(s) to add to the new resource
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListCoreDefinitions
      description: Retrieves a list of core definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCoreDefinitionsResponse'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  '/greengrass/definition/cores/{CoreDefinitionId}/versions':
    post:
      operationId: CreateCoreDefinitionVersion
      description: Creates a version of a core definition that has already been defined. Greengrass groups must each contain exactly one Greengrass core.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCoreDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: CoreDefinitionId
          in: path
          required: true
          description: The ID of the core definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Cores:
                description: A list of cores in the core definition version.
                type: array
                items:
                  $ref: '#/definitions/Core'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListCoreDefinitionVersions
      description: Lists the versions of a core definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCoreDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: CoreDefinitionId
          in: path
          required: true
          description: The ID of the core definition.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  '/greengrass/groups/{GroupId}/deployments':
    post:
      operationId: CreateDeployment
      description: Creates a deployment. ''CreateDeployment'' requests are idempotent with respect to the ''X-Amzn-Client-Token'' token and the request parameters.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              DeploymentId:
                description: The ID of the deployment if you wish to redeploy a previous deployment.
                type: string
              DeploymentType:
                description: 'The type of deployment. When used for ''''CreateDeployment'''', only ''''NewDeployment'''' and ''''Redeployment'''' are valid.'
                type: string
                enum:
                  - NewDeployment
                  - Redeployment
                  - ResetDeployment
                  - ForceResetDeployment
              GroupVersionId:
                description: The ID of the group version to be deployed.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDeployments
      description: Returns a history of deployments for the group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  /greengrass/definition/devices:
    post:
      operationId: CreateDeviceDefinition
      description: Creates a device definition. You may provide the initial version of the device definition now or use ''CreateDeviceDefinitionVersion'' at a later time.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              InitialVersion:
                description: Information about a device definition version.
                type: object
                properties:
                  Devices:
                    $ref: '#/definitions/__listOfDevice'
                    description: A list of devices in the definition version.
              Name:
                description: The name of the device definition.
                type: string
              tags:
                description: Tag(s) to add to the new resource
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDeviceDefinitions
      description: Retrieves a list of device definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceDefinitionsResponse'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  '/greengrass/definition/devices/{DeviceDefinitionId}/versions':
    post:
      operationId: CreateDeviceDefinitionVersion
      description: Creates a version of a device definition that has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: DeviceDefinitionId
          in: path
          required: true
          description: The ID of the device definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Devices:
                description: A list of devices in the definition version.
                type: array
                items:
                  $ref: '#/definitions/Device'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDeviceDefinitionVersions
      description: Lists the versions of a device definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: DeviceDefinitionId
          in: path
          required: true
          description: The ID of the device definition.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  /greengrass/definition/functions:
    post:
      operationId: CreateFunctionDefinition
      description: 'Creates a Lambda function definition which contains a list of Lambda functions and their configurations to be used in a group. You can create an initial version of the definition by providing a list of Lambda functions and their configurations now, or use ''''CreateFunctionDefinitionVersion'''' later.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              InitialVersion:
                description: Information about a function definition version.
                type: object
                properties:
                  DefaultConfig:
                    $ref: '#/definitions/FunctionDefaultConfig'
                    description: The default configuration that applies to all Lambda functions in this function definition version. Individual Lambda functions can override these settings.
                  Functions:
                    $ref: '#/definitions/__listOfFunction'
                    description: A list of Lambda functions in this function definition version.
              Name:
                description: The name of the function definition.
                type: string
              tags:
                description: Tag(s) to add to the new resource
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListFunctionDefinitions
      description: Retrieves a list of Lambda function definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFunctionDefinitionsResponse'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  '/greengrass/definition/functions/{FunctionDefinitionId}/versions':
    post:
      operationId: CreateFunctionDefinitionVersion
      description: Creates a version of a Lambda function definition that has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: FunctionDefinitionId
          in: path
          required: true
          description: The ID of the Lambda function definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              DefaultConfig:
                description: The default configuration that applies to all Lambda functions in the group. Individual Lambda functions can override these settings.
                type: object
                properties:
                  Execution:
                    $ref: '#/definitions/FunctionDefaultExecutionConfig'
              Functions:
                description: A list of Lambda functions in this function definition version.
                type: array
                items:
                  $ref: '#/definitions/Function'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListFunctionDefinitionVersions
      description: Lists the versions of a Lambda function definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFunctionDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: FunctionDefinitionId
          in: path
          required: true
          description: The ID of the Lambda function definition.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  /greengrass/groups:
    post:
      operationId: CreateGroup
      description: 'Creates a group. You may provide the initial version of the group or use ''''CreateGroupVersion'''' at a later time. Tip: You can use the ''''gg_group_setup'''' package (https://github.com/awslabs/aws-greengrass-group-setup) as a library or command-line application to create and deploy Greengrass groups.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              InitialVersion:
                description: Information about a group version.
                type: object
                properties:
                  ConnectorDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the connector definition version for this group.
                  CoreDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the core definition version for this group.
                  DeviceDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the device definition version for this group.
                  FunctionDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the function definition version for this group.
                  LoggerDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the logger definition version for this group.
                  ResourceDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the resource definition version for this group.
                  SubscriptionDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the subscription definition version for this group.
              Name:
                description: The name of the group.
                type: string
              tags:
                description: Tag(s) to add to the new resource
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListGroups
      description: Retrieves a list of groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupsResponse'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  '/greengrass/groups/{GroupId}/certificateauthorities':
    post:
      operationId: CreateGroupCertificateAuthority
      description: 'Creates a CA for the group. If a CA already exists, it will rotate the existing CA.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupCertificateAuthorityResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListGroupCertificateAuthorities
      description: Retrieves the current CAs for a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupCertificateAuthoritiesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
  '/greengrass/groups/{GroupId}/versions':
    post:
      operationId: CreateGroupVersion
      description: Creates a version of a group which has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              ConnectorDefinitionVersionArn:
                description: The ARN of the connector definition version for this group.
                type: string
              CoreDefinitionVersionArn:
                description: The ARN of the core definition version for this group.
                type: string
              DeviceDefinitionVersionArn:
                description: The ARN of the device definition version for this group.
                type: string
              FunctionDefinitionVersionArn:
                description: The ARN of the function definition version for this group.
                type: string
              LoggerDefinitionVersionArn:
                description: The ARN of the logger definition version for this group.
                type: string
              ResourceDefinitionVersionArn:
                description: The ARN of the resource definition version for this group.
                type: string
              SubscriptionDefinitionVersionArn:
                description: The ARN of the subscription definition version for this group.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListGroupVersions
      description: Lists the versions of a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  /greengrass/definition/loggers:
    post:
      operationId: CreateLoggerDefinition
      description: Creates a logger definition. You may provide the initial version of the logger definition now or use ''CreateLoggerDefinitionVersion'' at a later time.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              InitialVersion:
                description: Information about a logger definition version.
                type: object
                properties:
                  Loggers:
                    $ref: '#/definitions/__listOfLogger'
                    description: A list of loggers.
              Name:
                description: The name of the logger definition.
                type: string
              tags:
                description: Tag(s) to add to the new resource
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListLoggerDefinitions
      description: Retrieves a list of logger definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListLoggerDefinitionsResponse'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  '/greengrass/definition/loggers/{LoggerDefinitionId}/versions':
    post:
      operationId: CreateLoggerDefinitionVersion
      description: Creates a version of a logger definition that has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: LoggerDefinitionId
          in: path
          required: true
          description: The ID of the logger definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Loggers:
                description: A list of loggers.
                type: array
                items:
                  $ref: '#/definitions/Logger'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListLoggerDefinitionVersions
      description: Lists the versions of a logger definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListLoggerDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: LoggerDefinitionId
          in: path
          required: true
          description: The ID of the logger definition.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  /greengrass/definition/resources:
    post:
      operationId: CreateResourceDefinition
      description: 'Creates a resource definition which contains a list of resources to be used in a group. You can create an initial version of the definition by providing a list of resources now, or use ''''CreateResourceDefinitionVersion'''' later.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              InitialVersion:
                description: Information about a resource definition version.
                type: object
                properties:
                  Resources:
                    $ref: '#/definitions/__listOfResource'
                    description: A list of resources.
              Name:
                description: The name of the resource definition.
                type: string
              tags:
                description: Tag(s) to add to the new resource
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListResourceDefinitions
      description: Retrieves a list of resource definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourceDefinitionsResponse'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  '/greengrass/definition/resources/{ResourceDefinitionId}/versions':
    post:
      operationId: CreateResourceDefinitionVersion
      description: Creates a version of a resource definition that has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: ResourceDefinitionId
          in: path
          required: true
          description: The ID of the resource definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Resources:
                description: A list of resources.
                type: array
                items:
                  $ref: '#/definitions/Resource'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListResourceDefinitionVersions
      description: Lists the versions of a resource definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourceDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
        - name: ResourceDefinitionId
          in: path
          required: true
          description: The ID of the resource definition.
          type: string
  /greengrass/updates:
    post:
      operationId: CreateSoftwareUpdateJob
      description: Creates a software update for a core or group of cores (specified as an IoT thing group.) Use this to update the OTA Agent as well as the Greengrass core software. It makes use of the IoT Jobs feature which provides additional commands to manage a Greengrass core software update job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSoftwareUpdateJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              S3UrlSignerRole:
                description: The IAM Role that Greengrass will use to create pre-signed URLs pointing towards the update artifact.
                type: string
              SoftwareToUpdate:
                description: The piece of software on the Greengrass core that will be updated.
                type: string
                enum:
                  - core
                  - ota_agent
              UpdateAgentLogLevel:
                description: The minimum level of log statements that should be logged by the OTA Agent during an update.
                type: string
                enum:
                  - NONE
                  - TRACE
                  - DEBUG
                  - VERBOSE
                  - INFO
                  - WARN
                  - ERROR
                  - FATAL
              UpdateTargets:
                description: The ARNs of the targets (IoT things or IoT thing groups) that this update will be applied to.
                type: array
                items:
                  $ref: '#/definitions/__string'
              UpdateTargetsArchitecture:
                description: The architecture of the cores which are the targets of an update.
                type: string
                enum:
                  - armv7l
                  - x86_64
                  - aarch64
              UpdateTargetsOperatingSystem:
                description: The operating system of the cores which are the targets of an update.
                type: string
                enum:
                  - ubuntu
                  - raspbian
                  - amazon_linux
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/subscriptions:
    post:
      operationId: CreateSubscriptionDefinition
      description: Creates a subscription definition. You may provide the initial version of the subscription definition now or use ''CreateSubscriptionDefinitionVersion'' at a later time.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              InitialVersion:
                description: Information about a subscription definition version.
                type: object
                properties:
                  Subscriptions:
                    $ref: '#/definitions/__listOfSubscription'
                    description: A list of subscriptions.
              Name:
                description: The name of the subscription definition.
                type: string
              tags:
                description: Tag(s) to add to the new resource
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListSubscriptionDefinitions
      description: Retrieves a list of subscription definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionsResponse'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
  '/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions':
    post:
      operationId: CreateSubscriptionDefinitionVersion
      description: Creates a version of a subscription definition which has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: X-Amzn-Client-Token
          in: header
          required: false
          description: A client token used to correlate requests and responses.
          type: string
        - name: SubscriptionDefinitionId
          in: path
          required: true
          description: The ID of the subscription definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Subscriptions:
                description: A list of subscriptions.
                type: array
                items:
                  $ref: '#/definitions/Subscription'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListSubscriptionDefinitionVersions
      description: Lists the versions of a subscription definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to be returned per request.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
        - name: SubscriptionDefinitionId
          in: path
          required: true
          description: The ID of the subscription definition.
          type: string
  '/tags/{resource-arn}':
    post:
      operationId: TagResource
      description: Add tags to a resource.
      responses:
        '204':
          description: Success
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: resource-arn
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the resource.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - tags
            properties:
              tags:
                description: A map of the key-value pairs for the resource tag.
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListTagsForResource
      description: Retrieves the tags for a resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: resource-arn
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the resource.
          type: string
  '/greengrass/definition/connectors/{ConnectorDefinitionId}':
    delete:
      operationId: DeleteConnectorDefinition
      description: Deletes a connector definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConnectorDefinitionId
          in: path
          required: true
          description: The ID of the connector definition.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetConnectorDefinition
      description: Retrieves information about a connector definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConnectorDefinitionId
          in: path
          required: true
          description: The ID of the connector definition.
          type: string
    put:
      operationId: UpdateConnectorDefinition
      description: Updates a connector definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConnectorDefinitionId
          in: path
          required: true
          description: The ID of the connector definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the definition.
                type: string
  '/greengrass/definition/cores/{CoreDefinitionId}':
    delete:
      operationId: DeleteCoreDefinition
      description: Deletes a core definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: CoreDefinitionId
          in: path
          required: true
          description: The ID of the core definition.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetCoreDefinition
      description: Retrieves information about a core definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: CoreDefinitionId
          in: path
          required: true
          description: The ID of the core definition.
          type: string
    put:
      operationId: UpdateCoreDefinition
      description: Updates a core definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: CoreDefinitionId
          in: path
          required: true
          description: The ID of the core definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the definition.
                type: string
  '/greengrass/definition/devices/{DeviceDefinitionId}':
    delete:
      operationId: DeleteDeviceDefinition
      description: Deletes a device definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: DeviceDefinitionId
          in: path
          required: true
          description: The ID of the device definition.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDeviceDefinition
      description: Retrieves information about a device definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: DeviceDefinitionId
          in: path
          required: true
          description: The ID of the device definition.
          type: string
    put:
      operationId: UpdateDeviceDefinition
      description: Updates a device definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: DeviceDefinitionId
          in: path
          required: true
          description: The ID of the device definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the definition.
                type: string
  '/greengrass/definition/functions/{FunctionDefinitionId}':
    delete:
      operationId: DeleteFunctionDefinition
      description: Deletes a Lambda function definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: FunctionDefinitionId
          in: path
          required: true
          description: The ID of the Lambda function definition.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetFunctionDefinition
      description: 'Retrieves information about a Lambda function definition, including its creation time and latest version.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: FunctionDefinitionId
          in: path
          required: true
          description: The ID of the Lambda function definition.
          type: string
    put:
      operationId: UpdateFunctionDefinition
      description: Updates a Lambda function definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: FunctionDefinitionId
          in: path
          required: true
          description: The ID of the Lambda function definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the definition.
                type: string
  '/greengrass/groups/{GroupId}':
    delete:
      operationId: DeleteGroup
      description: Deletes a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetGroup
      description: Retrieves information about a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
    put:
      operationId: UpdateGroup
      description: Updates a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the definition.
                type: string
  '/greengrass/definition/loggers/{LoggerDefinitionId}':
    delete:
      operationId: DeleteLoggerDefinition
      description: Deletes a logger definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: LoggerDefinitionId
          in: path
          required: true
          description: The ID of the logger definition.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetLoggerDefinition
      description: Retrieves information about a logger definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: LoggerDefinitionId
          in: path
          required: true
          description: The ID of the logger definition.
          type: string
    put:
      operationId: UpdateLoggerDefinition
      description: Updates a logger definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: LoggerDefinitionId
          in: path
          required: true
          description: The ID of the logger definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the definition.
                type: string
  '/greengrass/definition/resources/{ResourceDefinitionId}':
    delete:
      operationId: DeleteResourceDefinition
      description: Deletes a resource definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ResourceDefinitionId
          in: path
          required: true
          description: The ID of the resource definition.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetResourceDefinition
      description: 'Retrieves information about a resource definition, including its creation time and latest version.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ResourceDefinitionId
          in: path
          required: true
          description: The ID of the resource definition.
          type: string
    put:
      operationId: UpdateResourceDefinition
      description: Updates a resource definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ResourceDefinitionId
          in: path
          required: true
          description: The ID of the resource definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the definition.
                type: string
  '/greengrass/definition/subscriptions/{SubscriptionDefinitionId}':
    delete:
      operationId: DeleteSubscriptionDefinition
      description: Deletes a subscription definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: SubscriptionDefinitionId
          in: path
          required: true
          description: The ID of the subscription definition.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetSubscriptionDefinition
      description: Retrieves information about a subscription definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: SubscriptionDefinitionId
          in: path
          required: true
          description: The ID of the subscription definition.
          type: string
    put:
      operationId: UpdateSubscriptionDefinition
      description: Updates a subscription definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: SubscriptionDefinitionId
          in: path
          required: true
          description: The ID of the subscription definition.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The name of the definition.
                type: string
  '/tags/{resource-arn}#tagKeys':
    delete:
      operationId: UntagResource
      description: Remove tags with specified keys from a resource.
      responses:
        '204':
          description: Success
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: resource-arn
          in: path
          required: true
          description: The Amazon Resource Name (ARN) of the resource.
          type: string
        - name: tagKeys
          in: query
          required: true
          description: A list of the keys to remove from the resource tags.
          type: array
          items:
            type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/bulk/deployments/{BulkDeploymentId}/status':
    get:
      operationId: GetBulkDeploymentStatus
      description: Returns the status of a bulk deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBulkDeploymentStatusResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: BulkDeploymentId
          in: path
          required: true
          description: The ID of the bulk deployment.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/things/{ThingName}/connectivityInfo':
    get:
      operationId: GetConnectivityInfo
      description: Retrieves the connectivity information for a core.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectivityInfoResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: ThingName
          in: path
          required: true
          description: The thing name.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UpdateConnectivityInfo
      description: Updates the connectivity information for the core. Any devices that belong to the group which has this core will receive this information in order to find the location of the core and connect to it.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateConnectivityInfoResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: ThingName
          in: path
          required: true
          description: The thing name.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              ConnectivityInfo:
                description: A list of connectivity info.
                type: array
                items:
                  $ref: '#/definitions/ConnectivityInfo'
  '/greengrass/definition/connectors/{ConnectorDefinitionId}/versions/{ConnectorDefinitionVersionId}':
    get:
      operationId: GetConnectorDefinitionVersion
      description: 'Retrieves information about a connector definition version, including the connectors that the version contains. Connectors are prebuilt modules that interact with local infrastructure, device protocols, AWS, and other cloud services.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectorDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ConnectorDefinitionId
          in: path
          required: true
          description: The ID of the connector definition.
          type: string
        - name: ConnectorDefinitionVersionId
          in: path
          required: true
          description: The ID of the connector definition version.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/cores/{CoreDefinitionId}/versions/{CoreDefinitionVersionId}':
    get:
      operationId: GetCoreDefinitionVersion
      description: Retrieves information about a core definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCoreDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: CoreDefinitionId
          in: path
          required: true
          description: The ID of the core definition.
          type: string
        - name: CoreDefinitionVersionId
          in: path
          required: true
          description: The ID of the core definition version.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/groups/{GroupId}/deployments/{DeploymentId}/status':
    get:
      operationId: GetDeploymentStatus
      description: Returns the status of a deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentStatusResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: DeploymentId
          in: path
          required: true
          description: The ID of the deployment.
          type: string
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/devices/{DeviceDefinitionId}/versions/{DeviceDefinitionVersionId}':
    get:
      operationId: GetDeviceDefinitionVersion
      description: Retrieves information about a device definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: DeviceDefinitionId
          in: path
          required: true
          description: The ID of the device definition.
          type: string
        - name: DeviceDefinitionVersionId
          in: path
          required: true
          description: The ID of the device definition version.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/functions/{FunctionDefinitionId}/versions/{FunctionDefinitionVersionId}':
    get:
      operationId: GetFunctionDefinitionVersion
      description: 'Retrieves information about a Lambda function definition version, including which Lambda functions are included in the version and their configurations.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFunctionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: FunctionDefinitionId
          in: path
          required: true
          description: The ID of the Lambda function definition.
          type: string
        - name: FunctionDefinitionVersionId
          in: path
          required: true
          description: The ID of the function definition version.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/groups/{GroupId}/certificateauthorities/{CertificateAuthorityId}':
    get:
      operationId: GetGroupCertificateAuthority
      description: Retreives the CA associated with a group. Returns the public key of the CA.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupCertificateAuthorityResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: CertificateAuthorityId
          in: path
          required: true
          description: The ID of the certificate authority.
          type: string
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry':
    get:
      operationId: GetGroupCertificateConfiguration
      description: Retrieves the current configuration for the CA used by the group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupCertificateConfigurationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UpdateGroupCertificateConfiguration
      description: Updates the Certificate expiry time for a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupCertificateConfigurationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              CertificateExpiryInMilliseconds:
                description: 'The amount of time remaining before the certificate expires, in milliseconds.'
                type: string
  '/greengrass/groups/{GroupId}/versions/{GroupVersionId}':
    get:
      operationId: GetGroupVersion
      description: Retrieves information about a group version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: GroupId
          in: path
          required: true
          description: The ID of the Greengrass group.
          type: string
        - name: GroupVersionId
          in: path
          required: true
          description: The ID of the group version.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/loggers/{LoggerDefinitionId}/versions/{LoggerDefinitionVersionId}':
    get:
      operationId: GetLoggerDefinitionVersion
      description: Retrieves information about a logger definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLoggerDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: LoggerDefinitionId
          in: path
          required: true
          description: The ID of the logger definition.
          type: string
        - name: LoggerDefinitionVersionId
          in: path
          required: true
          description: The ID of the logger definition version.
          type: string
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/resources/{ResourceDefinitionId}/versions/{ResourceDefinitionVersionId}':
    get:
      operationId: GetResourceDefinitionVersion
      description: 'Retrieves information about a resource definition version, including which resources are included in the version.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: ResourceDefinitionId
          in: path
          required: true
          description: The ID of the resource definition.
          type: string
        - name: ResourceDefinitionVersionId
          in: path
          required: true
          description: The ID of the resource definition version.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions/{SubscriptionDefinitionVersionId}':
    get:
      operationId: GetSubscriptionDefinitionVersion
      description: Retrieves information about a subscription definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          type: string
        - name: SubscriptionDefinitionId
          in: path
          required: true
          description: The ID of the subscription definition.
          type: string
        - name: SubscriptionDefinitionVersionId
          in: path
          required: true
          description: The ID of the subscription definition version.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
[...]
