swagger: '2.0'
info:
  version: '2017-06-07'
  x-release: v4
  title: AWS Greengrass
  description: 'AWS IoT Greengrass seamlessly extends AWS onto physical devices so they can act locally on the data they generate, while still using the cloud for management, analytics, and durable storage. AWS IoT Greengrass ensures your devices can respond quickly to local events and operate with intermittent connectivity. AWS IoT Greengrass minimizes the cost of transmitting data to the cloud by allowing you to author AWS Lambda functions that execute locally.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: greengrass
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/greengrass-2017-06-07.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/greengrass/'
host: greengrass.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/greengrass/groups/{GroupId}/role':
    put:
      operationId: AssociateRoleToGroup
      description: Associates a role with a group. Your Greengrass core will use the role to access AWS cloud services. The role's permissions should allow Greengrass core Lambda functions to perform actions against the cloud.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateRoleToGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateRoleToGroupRequest'
        - name: GroupId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DisassociateRoleFromGroup
      description: Disassociates the role from a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateRoleFromGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateRoleFromGroupRequest'
        - name: GroupId
          type: string
          in: path
          required: true
    get:
      operationId: GetAssociatedRole
      description: Retrieves the role associated with a particular group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAssociatedRoleResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetAssociatedRoleRequest'
        - name: GroupId
          type: string
          in: path
          required: true
  /greengrass/servicerole:
    put:
      operationId: AssociateServiceRoleToAccount
      description: Associates a role with your account. AWS IoT Greengrass will use the role to access your Lambda functions and AWS IoT resources. This is necessary for deployments to succeed. The role must have at least minimum permissions in the policy ''AWSGreengrassResourceAccessRolePolicy''.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateServiceRoleToAccountResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateServiceRoleToAccountRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DisassociateServiceRoleFromAccount
      description: 'Disassociates the service role from your account. Without a service role, deployments will not work.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateServiceRoleFromAccountResponse'
        '480':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateServiceRoleFromAccountRequest'
    get:
      operationId: GetServiceRoleForAccount
      description: Retrieves the service role that is attached to your account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetServiceRoleForAccountResponse'
        '480':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetServiceRoleForAccountRequest'
  /greengrass/definition/connectors:
    post:
      operationId: CreateConnectorDefinition
      description: Creates a connector definition. You may provide the initial version of the connector definition now or use ''CreateConnectorDefinitionVersion'' at a later time.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateConnectorDefinitionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListConnectorDefinitions
      description: Retrieves a list of connector definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConnectorDefinitionsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListConnectorDefinitionsRequest'
  '/greengrass/definition/connectors/{ConnectorDefinitionId}/versions':
    post:
      operationId: CreateConnectorDefinitionVersion
      description: Creates a version of a connector definition which has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConnectorDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateConnectorDefinitionVersionRequest'
        - name: ConnectorDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListConnectorDefinitionVersions
      description: 'Lists the versions of a connector definition, which are containers for connectors. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConnectorDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListConnectorDefinitionVersionsRequest'
        - name: ConnectorDefinitionId
          type: string
          in: path
          required: true
  /greengrass/definition/cores:
    post:
      operationId: CreateCoreDefinition
      description: Creates a core definition. You may provide the initial version of the core definition now or use ''CreateCoreDefinitionVersion'' at a later time. Greengrass groups must each contain exactly one Greengrass core.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCoreDefinitionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListCoreDefinitions
      description: Retrieves a list of core definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCoreDefinitionsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListCoreDefinitionsRequest'
  '/greengrass/definition/cores/{CoreDefinitionId}/versions':
    post:
      operationId: CreateCoreDefinitionVersion
      description: Creates a version of a core definition that has already been defined. Greengrass groups must each contain exactly one Greengrass core.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCoreDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateCoreDefinitionVersionRequest'
        - name: CoreDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListCoreDefinitionVersions
      description: Lists the versions of a core definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCoreDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListCoreDefinitionVersionsRequest'
        - name: CoreDefinitionId
          type: string
          in: path
          required: true
  '/greengrass/groups/{GroupId}/deployments':
    post:
      operationId: CreateDeployment
      description: Creates a deployment. ''CreateDeployment'' requests are idempotent with respect to the ''X-Amzn-Client-Token'' token and the request parameters.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeploymentRequest'
        - name: GroupId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDeployments
      description: Returns a history of deployments for the group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeploymentsRequest'
        - name: GroupId
          type: string
          in: path
          required: true
  /greengrass/definition/devices:
    post:
      operationId: CreateDeviceDefinition
      description: Creates a device definition. You may provide the initial version of the device definition now or use ''CreateDeviceDefinitionVersion'' at a later time.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDeviceDefinitions
      description: Retrieves a list of device definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceDefinitionsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeviceDefinitionsRequest'
  '/greengrass/definition/devices/{DeviceDefinitionId}/versions':
    post:
      operationId: CreateDeviceDefinitionVersion
      description: Creates a version of a device definition that has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionVersionRequest'
        - name: DeviceDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDeviceDefinitionVersions
      description: Lists the versions of a device definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDeviceDefinitionVersionsRequest'
        - name: DeviceDefinitionId
          type: string
          in: path
          required: true
  /greengrass/definition/functions:
    post:
      operationId: CreateFunctionDefinition
      description: 'Creates a Lambda function definition which contains a list of Lambda functions and their configurations to be used in a group. You can create an initial version of the definition by providing a list of Lambda functions and their configurations now, or use ''''CreateFunctionDefinitionVersion'''' later.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListFunctionDefinitions
      description: Retrieves a list of Lambda function definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFunctionDefinitionsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListFunctionDefinitionsRequest'
  '/greengrass/definition/functions/{FunctionDefinitionId}/versions':
    post:
      operationId: CreateFunctionDefinitionVersion
      description: Creates a version of a Lambda function definition that has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionVersionRequest'
        - name: FunctionDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListFunctionDefinitionVersions
      description: Lists the versions of a Lambda function definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFunctionDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListFunctionDefinitionVersionsRequest'
        - name: FunctionDefinitionId
          type: string
          in: path
          required: true
  /greengrass/groups:
    post:
      operationId: CreateGroup
      description: 'Creates a group. You may provide the initial version of the group or use ''''CreateGroupVersion'''' at a later time. Tip: You can use the ''''gg_group_setup'''' package (https://github.com/awslabs/aws-greengrass-group-setup) as a library or command-line application to create and deploy Greengrass groups.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateGroupRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListGroups
      description: Retrieves a list of groups.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListGroupsRequest'
  '/greengrass/groups/{GroupId}/certificateauthorities':
    post:
      operationId: CreateGroupCertificateAuthority
      description: 'Creates a CA for the group. If a CA already exists, it will rotate the existing CA.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupCertificateAuthorityResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateGroupCertificateAuthorityRequest'
        - name: GroupId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListGroupCertificateAuthorities
      description: Retrieves the current CAs for a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupCertificateAuthoritiesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListGroupCertificateAuthoritiesRequest'
        - name: GroupId
          type: string
          in: path
          required: true
  '/greengrass/groups/{GroupId}/versions':
    post:
      operationId: CreateGroupVersion
      description: Creates a version of a group which has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateGroupVersionRequest'
        - name: GroupId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListGroupVersions
      description: Lists the versions of a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListGroupVersionsRequest'
        - name: GroupId
          type: string
          in: path
          required: true
  /greengrass/definition/loggers:
    post:
      operationId: CreateLoggerDefinition
      description: Creates a logger definition. You may provide the initial version of the logger definition now or use ''CreateLoggerDefinitionVersion'' at a later time.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListLoggerDefinitions
      description: Retrieves a list of logger definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListLoggerDefinitionsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListLoggerDefinitionsRequest'
  '/greengrass/definition/loggers/{LoggerDefinitionId}/versions':
    post:
      operationId: CreateLoggerDefinitionVersion
      description: Creates a version of a logger definition that has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionVersionRequest'
        - name: LoggerDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListLoggerDefinitionVersions
      description: Lists the versions of a logger definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListLoggerDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListLoggerDefinitionVersionsRequest'
        - name: LoggerDefinitionId
          type: string
          in: path
          required: true
  /greengrass/definition/resources:
    post:
      operationId: CreateResourceDefinition
      description: 'Creates a resource definition which contains a list of resources to be used in a group. You can create an initial version of the definition by providing a list of resources now, or use ''''CreateResourceDefinitionVersion'''' later.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateResourceDefinitionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListResourceDefinitions
      description: Retrieves a list of resource definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourceDefinitionsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListResourceDefinitionsRequest'
  '/greengrass/definition/resources/{ResourceDefinitionId}/versions':
    post:
      operationId: CreateResourceDefinitionVersion
      description: Creates a version of a resource definition that has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateResourceDefinitionVersionRequest'
        - name: ResourceDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListResourceDefinitionVersions
      description: Lists the versions of a resource definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourceDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListResourceDefinitionVersionsRequest'
        - name: ResourceDefinitionId
          type: string
          in: path
          required: true
  /greengrass/updates:
    post:
      operationId: CreateSoftwareUpdateJob
      description: Creates a software update for a core or group of cores (specified as an IoT thing group.) Use this to update the OTA Agent as well as the Greengrass core software. It makes use of the IoT Jobs feature which provides additional commands to manage a Greengrass core software update job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSoftwareUpdateJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSoftwareUpdateJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/subscriptions:
    post:
      operationId: CreateSubscriptionDefinition
      description: Creates a subscription definition. You may provide the initial version of the subscription definition now or use ''CreateSubscriptionDefinitionVersion'' at a later time.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListSubscriptionDefinitions
      description: Retrieves a list of subscription definitions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionsResponse'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionsRequest'
  '/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions':
    post:
      operationId: CreateSubscriptionDefinitionVersion
      description: Creates a version of a subscription definition which has already been defined.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionVersionRequest'
        - name: SubscriptionDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListSubscriptionDefinitionVersions
      description: Lists the versions of a subscription definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionVersionsRequest'
        - name: SubscriptionDefinitionId
          type: string
          in: path
          required: true
  '/greengrass/definition/connectors/{ConnectorDefinitionId}':
    delete:
      operationId: DeleteConnectorDefinition
      description: Deletes a connector definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteConnectorDefinitionRequest'
        - name: ConnectorDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetConnectorDefinition
      description: Retrieves information about a connector definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetConnectorDefinitionRequest'
        - name: ConnectorDefinitionId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateConnectorDefinition
      description: Updates a connector definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateConnectorDefinitionRequest'
        - name: ConnectorDefinitionId
          type: string
          in: path
          required: true
  '/greengrass/definition/cores/{CoreDefinitionId}':
    delete:
      operationId: DeleteCoreDefinition
      description: Deletes a core definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteCoreDefinitionRequest'
        - name: CoreDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetCoreDefinition
      description: Retrieves information about a core definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCoreDefinitionRequest'
        - name: CoreDefinitionId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateCoreDefinition
      description: Updates a core definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateCoreDefinitionRequest'
        - name: CoreDefinitionId
          type: string
          in: path
          required: true
  '/greengrass/definition/devices/{DeviceDefinitionId}':
    delete:
      operationId: DeleteDeviceDefinition
      description: Deletes a device definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDeviceDefinitionRequest'
        - name: DeviceDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDeviceDefinition
      description: Retrieves information about a device definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeviceDefinitionRequest'
        - name: DeviceDefinitionId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateDeviceDefinition
      description: Updates a device definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDeviceDefinitionRequest'
        - name: DeviceDefinitionId
          type: string
          in: path
          required: true
  '/greengrass/definition/functions/{FunctionDefinitionId}':
    delete:
      operationId: DeleteFunctionDefinition
      description: Deletes a Lambda function definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteFunctionDefinitionRequest'
        - name: FunctionDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetFunctionDefinition
      description: 'Retrieves information about a Lambda function definition, including its creation time and latest version.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetFunctionDefinitionRequest'
        - name: FunctionDefinitionId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateFunctionDefinition
      description: Updates a Lambda function definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateFunctionDefinitionRequest'
        - name: FunctionDefinitionId
          type: string
          in: path
          required: true
  '/greengrass/groups/{GroupId}':
    delete:
      operationId: DeleteGroup
      description: Deletes a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteGroupRequest'
        - name: GroupId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetGroup
      description: Retrieves information about a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetGroupRequest'
        - name: GroupId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateGroup
      description: Updates a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateGroupRequest'
        - name: GroupId
          type: string
          in: path
          required: true
  '/greengrass/definition/loggers/{LoggerDefinitionId}':
    delete:
      operationId: DeleteLoggerDefinition
      description: Deletes a logger definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLoggerDefinitionRequest'
        - name: LoggerDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetLoggerDefinition
      description: Retrieves information about a logger definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetLoggerDefinitionRequest'
        - name: LoggerDefinitionId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateLoggerDefinition
      description: Updates a logger definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateLoggerDefinitionRequest'
        - name: LoggerDefinitionId
          type: string
          in: path
          required: true
  '/greengrass/definition/resources/{ResourceDefinitionId}':
    delete:
      operationId: DeleteResourceDefinition
      description: Deletes a resource definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteResourceDefinitionRequest'
        - name: ResourceDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetResourceDefinition
      description: 'Retrieves information about a resource definition, including its creation time and latest version.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourceDefinitionRequest'
        - name: ResourceDefinitionId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateResourceDefinition
      description: Updates a resource definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateResourceDefinitionRequest'
        - name: ResourceDefinitionId
          type: string
          in: path
          required: true
  '/greengrass/definition/subscriptions/{SubscriptionDefinitionId}':
    delete:
      operationId: DeleteSubscriptionDefinition
      description: Deletes a subscription definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSubscriptionDefinitionRequest'
        - name: SubscriptionDefinitionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetSubscriptionDefinition
      description: Retrieves information about a subscription definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionRequest'
        - name: SubscriptionDefinitionId
          type: string
          in: path
          required: true
    put:
      operationId: UpdateSubscriptionDefinition
      description: Updates a subscription definition.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateSubscriptionDefinitionRequest'
        - name: SubscriptionDefinitionId
          type: string
          in: path
          required: true
  '/greengrass/bulk/deployments/{BulkDeploymentId}/status':
    get:
      operationId: GetBulkDeploymentStatus
      description: Returns the status of a bulk deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBulkDeploymentStatusResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBulkDeploymentStatusRequest'
        - name: BulkDeploymentId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/things/{ThingName}/connectivityInfo':
    get:
      operationId: GetConnectivityInfo
      description: Retrieves the connectivity information for a core.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectivityInfoResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetConnectivityInfoRequest'
        - name: ThingName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UpdateConnectivityInfo
      description: Updates the connectivity information for the core. Any devices that belong to the group which has this core will receive this information in order to find the location of the core and connect to it.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateConnectivityInfoResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateConnectivityInfoRequest'
        - name: ThingName
          type: string
          in: path
          required: true
  '/greengrass/definition/connectors/{ConnectorDefinitionId}/versions/{ConnectorDefinitionVersionId}':
    get:
      operationId: GetConnectorDefinitionVersion
      description: 'Retrieves information about a connector definition version, including the connectors that the version contains. Connectors are prebuilt modules that interact with local infrastructure, device protocols, AWS, and other cloud services.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectorDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetConnectorDefinitionVersionRequest'
        - name: ConnectorDefinitionId
          type: string
          in: path
          required: true
        - name: ConnectorDefinitionVersionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/cores/{CoreDefinitionId}/versions/{CoreDefinitionVersionId}':
    get:
      operationId: GetCoreDefinitionVersion
      description: Retrieves information about a core definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCoreDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCoreDefinitionVersionRequest'
        - name: CoreDefinitionId
          type: string
          in: path
          required: true
        - name: CoreDefinitionVersionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/groups/{GroupId}/deployments/{DeploymentId}/status':
    get:
      operationId: GetDeploymentStatus
      description: Returns the status of a deployment.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentStatusResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeploymentStatusRequest'
        - name: GroupId
          type: string
          in: path
          required: true
        - name: DeploymentId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/devices/{DeviceDefinitionId}/versions/{DeviceDefinitionVersionId}':
    get:
      operationId: GetDeviceDefinitionVersion
      description: Retrieves information about a device definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDeviceDefinitionVersionRequest'
        - name: DeviceDefinitionId
          type: string
          in: path
          required: true
        - name: DeviceDefinitionVersionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/functions/{FunctionDefinitionId}/versions/{FunctionDefinitionVersionId}':
    get:
      operationId: GetFunctionDefinitionVersion
      description: 'Retrieves information about a Lambda function definition version, including which Lambda functions are included in the version and their configurations.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFunctionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetFunctionDefinitionVersionRequest'
        - name: FunctionDefinitionId
          type: string
          in: path
          required: true
        - name: FunctionDefinitionVersionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/groups/{GroupId}/certificateauthorities/{CertificateAuthorityId}':
    get:
      operationId: GetGroupCertificateAuthority
      description: Retreives the CA associated with a group. Returns the public key of the CA.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupCertificateAuthorityResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetGroupCertificateAuthorityRequest'
        - name: GroupId
          type: string
          in: path
          required: true
        - name: CertificateAuthorityId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry':
    get:
      operationId: GetGroupCertificateConfiguration
      description: Retrieves the current configuration for the CA used by the group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupCertificateConfigurationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetGroupCertificateConfigurationRequest'
        - name: GroupId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UpdateGroupCertificateConfiguration
      description: Updates the Certificate expiry time for a group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupCertificateConfigurationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateGroupCertificateConfigurationRequest'
        - name: GroupId
          type: string
          in: path
          required: true
  '/greengrass/groups/{GroupId}/versions/{GroupVersionId}':
    get:
      operationId: GetGroupVersion
      description: Retrieves information about a group version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetGroupVersionRequest'
        - name: GroupId
          type: string
          in: path
          required: true
        - name: GroupVersionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/loggers/{LoggerDefinitionId}/versions/{LoggerDefinitionVersionId}':
    get:
      operationId: GetLoggerDefinitionVersion
      description: Retrieves information about a logger definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLoggerDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetLoggerDefinitionVersionRequest'
        - name: LoggerDefinitionId
          type: string
          in: path
          required: true
        - name: LoggerDefinitionVersionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/resources/{ResourceDefinitionId}/versions/{ResourceDefinitionVersionId}':
    get:
      operationId: GetResourceDefinitionVersion
      description: 'Retrieves information about a resource definition version, including which resources are included in the version.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourceDefinitionVersionRequest'
        - name: ResourceDefinitionId
          type: string
          in: path
          required: true
        - name: ResourceDefinitionVersionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions/{SubscriptionDefinitionVersionId}':
    get:
      operationId: GetSubscriptionDefinitionVersion
      description: Retrieves information about a subscription definition version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionVersionRequest'
        - name: SubscriptionDefinitionId
          type: string
          in: path
          required: true
        - name: SubscriptionDefinitionVersionId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/bulk/deployments/{BulkDeploymentId}/detailed-reports':
    get:
      operationId: ListBulkDeploymentDetailedReports
      description: 'Gets a paginated list of the deployments that have been started in a bulk deployment operation, and their current deployment status.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBulkDeploymentDetailedReportsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBulkDeploymentDetailedReportsRequest'
        - name: BulkDeploymentId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/bulk/deployments:
    get:
      operationId: ListBulkDeployments
      description: Returns a list of bulk deployments.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBulkDeploymentsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListBulkDeploymentsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: StartBulkDeployment
      description: Deploys multiple groups in one operation. This action starts the bulk deployment of a specified set of group versions. Each group version deployment will be triggered with an adaptive rate that has a fixed upper limit. We recommend that you include an ''X-Amzn-Client-Token'' token in every ''StartBulkDeployment'' request. These requests are idempotent with respect to the token and the request parameters.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartBulkDeploymentResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartBulkDeploymentRequest'
  '/greengrass/groups/{GroupId}/deployments/$reset':
    post:
      operationId: ResetDeployments
      description: Resets a group's deployments.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResetDeploymentsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResetDeploymentsRequest'
        - name: GroupId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/bulk/deployments/{BulkDeploymentId}/$stop':
    put:
      operationId: StopBulkDeployment
      description: Stops the execution of a bulk deployment. This action returns a status of ''Stopping'' until the deployment is stopped. You cannot start a new bulk deployment while a previous deployment is in the ''Stopping'' state. This action doesn't rollback completed deployments or cancel pending deployments.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopBulkDeploymentResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopBulkDeploymentRequest'
        - name: BulkDeploymentId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AssociateRoleToGroupResponse:
    type: object
    properties:
      AssociatedAt:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the role ARN was associated with the group.'
  AssociateRoleToGroupRequest:
    type: object
    properties:
      RoleArn:
        $ref: '#/definitions/__string'
        description: The ARN of the role you wish to associate with this group.
  BadRequestException: {}
  InternalServerErrorException: {}
  AssociateServiceRoleToAccountResponse:
    type: object
    properties:
      AssociatedAt:
        $ref: '#/definitions/__string'
        description: The time when the service role was associated with the account.
  AssociateServiceRoleToAccountRequest:
    type: object
    properties:
      RoleArn:
        $ref: '#/definitions/__string'
        description: The ARN of the service role you wish to associate with your account.
  CreateConnectorDefinitionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the definition.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the definition.
      LastUpdatedTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was last updated.'
      LatestVersion:
        $ref: '#/definitions/__string'
        description: The latest version of the definition.
      LatestVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the latest version of the definition.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the definition.
  CreateConnectorDefinitionRequest:
    type: object
    properties:
      InitialVersion:
        $ref: '#/definitions/ConnectorDefinitionVersion'
        description: Information about the initial version of the connector definition.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the connector definition.
  CreateConnectorDefinitionVersionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the version.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the version was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the version.
      Version:
        $ref: '#/definitions/__string'
        description: The unique ID of the version.
  CreateConnectorDefinitionVersionRequest:
    type: object
    properties:
      Connectors:
        $ref: '#/definitions/__listOfConnector'
        description: 'A list of references to connectors in this version, with their corresponding configuration settings.'
  CreateCoreDefinitionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the definition.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the definition.
      LastUpdatedTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was last updated.'
      LatestVersion:
        $ref: '#/definitions/__string'
        description: The latest version of the definition.
      LatestVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the latest version of the definition.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the definition.
  CreateCoreDefinitionRequest:
    type: object
    properties:
      InitialVersion:
        $ref: '#/definitions/CoreDefinitionVersion'
        description: Information about the initial version of the core definition.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the core definition.
    description: Information needed to create a core definition.
  CreateCoreDefinitionVersionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the version.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the version was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the version.
      Version:
        $ref: '#/definitions/__string'
        description: The unique ID of the version.
  CreateCoreDefinitionVersionRequest:
    type: object
    properties:
      Cores:
        $ref: '#/definitions/__listOfCore'
        description: A list of cores in the core definition version.
  CreateDeploymentResponse:
    type: object
    properties:
      DeploymentArn:
        $ref: '#/definitions/__string'
        description: The ARN of the deployment.
      DeploymentId:
        $ref: '#/definitions/__string'
        description: The ID of the deployment.
  CreateDeploymentRequest:
    type: object
    properties:
      DeploymentId:
        $ref: '#/definitions/__string'
        description: The ID of the deployment if you wish to redeploy a previous deployment.
      DeploymentType:
        $ref: '#/definitions/DeploymentType'
        description: 'The type of deployment. When used for ''''CreateDeployment'''', only ''''NewDeployment'''' and ''''Redeployment'''' are valid.'
      GroupVersionId:
        $ref: '#/definitions/__string'
        description: The ID of the group version to be deployed.
  CreateDeviceDefinitionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the definition.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the definition.
      LastUpdatedTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was last updated.'
      LatestVersion:
        $ref: '#/definitions/__string'
        description: The latest version of the definition.
      LatestVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the latest version of the definition.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the definition.
  CreateDeviceDefinitionRequest:
    type: object
    properties:
      InitialVersion:
        $ref: '#/definitions/DeviceDefinitionVersion'
        description: Information about the initial version of the device definition.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the device definition.
  CreateDeviceDefinitionVersionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the version.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the version was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the version.
      Version:
        $ref: '#/definitions/__string'
        description: The unique ID of the version.
  CreateDeviceDefinitionVersionRequest:
    type: object
    properties:
      Devices:
        $ref: '#/definitions/__listOfDevice'
        description: A list of devices in the definition version.
  CreateFunctionDefinitionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the definition.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the definition.
      LastUpdatedTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was last updated.'
      LatestVersion:
        $ref: '#/definitions/__string'
        description: The latest version of the definition.
      LatestVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the latest version of the definition.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the definition.
  CreateFunctionDefinitionRequest:
    type: object
    properties:
      InitialVersion:
        $ref: '#/definitions/FunctionDefinitionVersion'
        description: Information about the initial version of the function definition.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the function definition.
  CreateFunctionDefinitionVersionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the version.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the version was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the version.
      Version:
        $ref: '#/definitions/__string'
        description: The unique ID of the version.
  CreateFunctionDefinitionVersionRequest:
    type: object
    properties:
      DefaultConfig:
        $ref: '#/definitions/FunctionDefaultConfig'
        description: The default configuration that applies to all Lambda functions in this function definition version. Individual Lambda functions can override these settings.
      Functions:
        $ref: '#/definitions/__listOfFunction'
        description: A list of Lambda functions in this function definition version.
    description: Information needed to create a function definition version.
  CreateGroupResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the definition.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the definition.
      LastUpdatedTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was last updated.'
      LatestVersion:
        $ref: '#/definitions/__string'
        description: The latest version of the definition.
      LatestVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the latest version of the definition.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the definition.
  CreateGroupRequest:
    type: object
    properties:
      InitialVersion:
        $ref: '#/definitions/GroupVersion'
        description: Information about the initial version of the group.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the group.
  CreateGroupCertificateAuthorityResponse:
    type: object
    properties:
      GroupCertificateAuthorityArn:
        $ref: '#/definitions/__string'
        description: The ARN of the group certificate authority.
  CreateGroupCertificateAuthorityRequest:
    type: object
    properties: {}
  CreateGroupVersionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the version.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the version was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the version.
      Version:
        $ref: '#/definitions/__string'
        description: The unique ID of the version.
  CreateGroupVersionRequest:
    type: object
    properties:
      ConnectorDefinitionVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the connector definition version for this group.
      CoreDefinitionVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the core definition version for this group.
      DeviceDefinitionVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the device definition version for this group.
      FunctionDefinitionVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the function definition version for this group.
      LoggerDefinitionVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the logger definition version for this group.
      ResourceDefinitionVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the resource definition version for this group.
      SubscriptionDefinitionVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the subscription definition version for this group.
  CreateLoggerDefinitionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the definition.
      CreationTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was created.'
      Id:
        $ref: '#/definitions/__string'
        description: The ID of the definition.
      LastUpdatedTimestamp:
        $ref: '#/definitions/__string'
        description: 'The time, in milliseconds since the epoch, when the definition was last updated.'
      LatestVersion:
        $ref: '#/definitions/__string'
        description: The latest version of the definition.
      LatestVersionArn:
        $ref: '#/definitions/__string'
        description: The ARN of the latest version of the definition.
      Name:
        $ref: '#/definitions/__string'
[...]
