swagger: '2.0'
schemes:
  - https
  - http
host: greengrass.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'AWS IoT Greengrass seamlessly extends AWS onto physical devices so they can act locally on the data they generate, while still using the cloud for management, analytics, and durable storage. AWS IoT Greengrass ensures your devices can respond quickly to local events and operate with intermittent connectivity. AWS IoT Greengrass minimizes the cost of transmitting data to the cloud by allowing you to author AWS Lambda functions that execute locally.'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Greengrass
  version: '2017-06-07'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/greengrass-2017-06-07.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: greengrass
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/greengrass/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /greengrass/bulk/deployments:
    get:
      description: Returns a list of bulk deployments.
      operationId: ListBulkDeployments
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBulkDeploymentsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deploys multiple groups in one operation. This action starts the bulk deployment of a specified set of group versions. Each group version deployment will be triggered with an adaptive rate that has a fixed upper limit. We recommend that you include an ''X-Amzn-Client-Token'' token in every ''StartBulkDeployment'' request. These requests are idempotent with respect to the token and the request parameters.
      operationId: StartBulkDeployment
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ExecutionRoleArn:
                description: 'The ARN of the execution role to associate with the bulk deployment operation. This IAM role must allow the ''''greengrass:CreateDeployment'''' action for all group versions that are listed in the input file. This IAM role must have access to the S3 bucket containing the input file.'
                type: string
              InputFileUri:
                description: 'The URI of the input file contained in the S3 bucket. The execution role must have ''''getObject'''' permissions on this bucket to access the input file. The input file is a JSON-serialized, line delimited file with UTF-8 encoding that provides a list of group and version IDs and the deployment type. This file must be less than 100 MB. Currently, AWS IoT Greengrass supports only ''''NewDeployment'''' deployment types.'
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The key-value pair for the resource tag.
                type: object
            required:
              - ExecutionRoleArn
              - InputFileUri
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartBulkDeploymentResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/bulk/deployments/{BulkDeploymentId}/$stop':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Stops the execution of a bulk deployment. This action returns a status of ''Stopping'' until the deployment is stopped. You cannot start a new bulk deployment while a previous deployment is in the ''Stopping'' state. This action doesn't rollback completed deployments or cancel pending deployments.
      operationId: StopBulkDeployment
      parameters:
        - description: The ID of the bulk deployment.
          in: path
          name: BulkDeploymentId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopBulkDeploymentResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/bulk/deployments/{BulkDeploymentId}/detailed-reports':
    get:
      description: 'Gets a paginated list of the deployments that have been started in a bulk deployment operation, and their current deployment status.'
      operationId: ListBulkDeploymentDetailedReports
      parameters:
        - description: The ID of the bulk deployment.
          in: path
          name: BulkDeploymentId
          required: true
          type: string
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListBulkDeploymentDetailedReportsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/bulk/deployments/{BulkDeploymentId}/status':
    get:
      description: Returns the status of a bulk deployment.
      operationId: GetBulkDeploymentStatus
      parameters:
        - description: The ID of the bulk deployment.
          in: path
          name: BulkDeploymentId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBulkDeploymentStatusResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/connectors:
    get:
      description: Retrieves a list of connector definitions.
      operationId: ListConnectorDefinitions
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConnectorDefinitionsResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a connector definition. You may provide the initial version of the connector definition now or use ''CreateConnectorDefinitionVersion'' at a later time.
      operationId: CreateConnectorDefinition
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              InitialVersion:
                description: 'Information about the connector definition version, which is a container for connectors.'
                properties:
                  Connectors:
                    $ref: '#/definitions/__listOfConnector'
                    description: 'A list of references to connectors in this version, with their corresponding configuration settings.'
                type: object
              Name:
                description: The name of the connector definition.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The key-value pair for the resource tag.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/connectors/{ConnectorDefinitionId}':
    delete:
      description: Deletes a connector definition.
      operationId: DeleteConnectorDefinition
      parameters:
        - description: The ID of the connector definition.
          in: path
          name: ConnectorDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a connector definition.
      operationId: GetConnectorDefinition
      parameters:
        - description: The ID of the connector definition.
          in: path
          name: ConnectorDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a connector definition.
      operationId: UpdateConnectorDefinition
      parameters:
        - description: The ID of the connector definition.
          in: path
          name: ConnectorDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the definition.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateConnectorDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/connectors/{ConnectorDefinitionId}/versions':
    get:
      description: 'Lists the versions of a connector definition, which are containers for connectors. Connectors run on the Greengrass core and contain built-in integration with local infrastructure, device protocols, AWS, and other cloud services.'
      operationId: ListConnectorDefinitionVersions
      parameters:
        - description: The ID of the connector definition.
          in: path
          name: ConnectorDefinitionId
          required: true
          type: string
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListConnectorDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a connector definition which has already been defined.
      operationId: CreateConnectorDefinitionVersion
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the connector definition.
          in: path
          name: ConnectorDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Connectors:
                description: 'A list of references to connectors in this version, with their corresponding configuration settings.'
                items:
                  $ref: '#/definitions/Connector'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateConnectorDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/connectors/{ConnectorDefinitionId}/versions/{ConnectorDefinitionVersionId}':
    get:
      description: 'Retrieves information about a connector definition version, including the connectors that the version contains. Connectors are prebuilt modules that interact with local infrastructure, device protocols, AWS, and other cloud services.'
      operationId: GetConnectorDefinitionVersion
      parameters:
        - description: The ID of the connector definition.
          in: path
          name: ConnectorDefinitionId
          required: true
          type: string
        - description: 'The ID of the connector definition version. This value maps to the ''''Version'''' property of the corresponding ''''VersionInformation'''' object, which is returned by ''''ListConnectorDefinitionVersions'''' requests. If the version is the last one that was associated with a connector definition, the value also maps to the ''''LatestVersion'''' property of the corresponding ''''DefinitionInformation'''' object.'
          in: path
          name: ConnectorDefinitionVersionId
          required: true
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConnectorDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/cores:
    get:
      description: Retrieves a list of core definitions.
      operationId: ListCoreDefinitions
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCoreDefinitionsResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a core definition. You may provide the initial version of the core definition now or use ''CreateCoreDefinitionVersion'' at a later time. Greengrass groups must each contain exactly one Greengrass core.
      operationId: CreateCoreDefinition
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              InitialVersion:
                description: Information about a core definition version.
                properties:
                  Cores:
                    $ref: '#/definitions/__listOfCore'
                    description: A list of cores in the core definition version.
                type: object
              Name:
                description: The name of the core definition.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The key-value pair for the resource tag.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/cores/{CoreDefinitionId}':
    delete:
      description: Deletes a core definition.
      operationId: DeleteCoreDefinition
      parameters:
        - description: The ID of the core definition.
          in: path
          name: CoreDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a core definition version.
      operationId: GetCoreDefinition
      parameters:
        - description: The ID of the core definition.
          in: path
          name: CoreDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a core definition.
      operationId: UpdateCoreDefinition
      parameters:
        - description: The ID of the core definition.
          in: path
          name: CoreDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the definition.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateCoreDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/cores/{CoreDefinitionId}/versions':
    get:
      description: Lists the versions of a core definition.
      operationId: ListCoreDefinitionVersions
      parameters:
        - description: The ID of the core definition.
          in: path
          name: CoreDefinitionId
          required: true
          type: string
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListCoreDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a core definition that has already been defined. Greengrass groups must each contain exactly one Greengrass core.
      operationId: CreateCoreDefinitionVersion
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the core definition.
          in: path
          name: CoreDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Cores:
                description: A list of cores in the core definition version.
                items:
                  $ref: '#/definitions/Core'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateCoreDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/cores/{CoreDefinitionId}/versions/{CoreDefinitionVersionId}':
    get:
      description: Retrieves information about a core definition version.
      operationId: GetCoreDefinitionVersion
      parameters:
        - description: The ID of the core definition.
          in: path
          name: CoreDefinitionId
          required: true
          type: string
        - description: 'The ID of the core definition version. This value maps to the ''''Version'''' property of the corresponding ''''VersionInformation'''' object, which is returned by ''''ListCoreDefinitionVersions'''' requests. If the version is the last one that was associated with a core definition, the value also maps to the ''''LatestVersion'''' property of the corresponding ''''DefinitionInformation'''' object.'
          in: path
          name: CoreDefinitionVersionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCoreDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/devices:
    get:
      description: Retrieves a list of device definitions.
      operationId: ListDeviceDefinitions
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceDefinitionsResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a device definition. You may provide the initial version of the device definition now or use ''CreateDeviceDefinitionVersion'' at a later time.
      operationId: CreateDeviceDefinition
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              InitialVersion:
                description: Information about a device definition version.
                properties:
                  Devices:
                    $ref: '#/definitions/__listOfDevice'
                    description: A list of devices in the definition version.
                type: object
              Name:
                description: The name of the device definition.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The key-value pair for the resource tag.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/devices/{DeviceDefinitionId}':
    delete:
      description: Deletes a device definition.
      operationId: DeleteDeviceDefinition
      parameters:
        - description: The ID of the device definition.
          in: path
          name: DeviceDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a device definition.
      operationId: GetDeviceDefinition
      parameters:
        - description: The ID of the device definition.
          in: path
          name: DeviceDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a device definition.
      operationId: UpdateDeviceDefinition
      parameters:
        - description: The ID of the device definition.
          in: path
          name: DeviceDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the definition.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDeviceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/devices/{DeviceDefinitionId}/versions':
    get:
      description: Lists the versions of a device definition.
      operationId: ListDeviceDefinitionVersions
      parameters:
        - description: The ID of the device definition.
          in: path
          name: DeviceDefinitionId
          required: true
          type: string
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeviceDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a device definition that has already been defined.
      operationId: CreateDeviceDefinitionVersion
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the device definition.
          in: path
          name: DeviceDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Devices:
                description: A list of devices in the definition version.
                items:
                  $ref: '#/definitions/Device'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeviceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/devices/{DeviceDefinitionId}/versions/{DeviceDefinitionVersionId}':
    get:
      description: Retrieves information about a device definition version.
      operationId: GetDeviceDefinitionVersion
      parameters:
        - description: The ID of the device definition.
          in: path
          name: DeviceDefinitionId
          required: true
          type: string
        - description: 'The ID of the device definition version. This value maps to the ''''Version'''' property of the corresponding ''''VersionInformation'''' object, which is returned by ''''ListDeviceDefinitionVersions'''' requests. If the version is the last one that was associated with a device definition, the value also maps to the ''''LatestVersion'''' property of the corresponding ''''DefinitionInformation'''' object.'
          in: path
          name: DeviceDefinitionVersionId
          required: true
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeviceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/functions:
    get:
      description: Retrieves a list of Lambda function definitions.
      operationId: ListFunctionDefinitions
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFunctionDefinitionsResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a Lambda function definition which contains a list of Lambda functions and their configurations to be used in a group. You can create an initial version of the definition by providing a list of Lambda functions and their configurations now, or use ''''CreateFunctionDefinitionVersion'''' later.'
      operationId: CreateFunctionDefinition
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              InitialVersion:
                description: Information about a function definition version.
                properties:
                  DefaultConfig:
                    $ref: '#/definitions/FunctionDefaultConfig'
                    description: The default configuration that applies to all Lambda functions in this function definition version. Individual Lambda functions can override these settings.
                  Functions:
                    $ref: '#/definitions/__listOfFunction'
                    description: A list of Lambda functions in this function definition version.
                type: object
              Name:
                description: The name of the function definition.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The key-value pair for the resource tag.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/functions/{FunctionDefinitionId}':
    delete:
      description: Deletes a Lambda function definition.
      operationId: DeleteFunctionDefinition
      parameters:
        - description: The ID of the Lambda function definition.
          in: path
          name: FunctionDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: 'Retrieves information about a Lambda function definition, including its creation time and latest version.'
      operationId: GetFunctionDefinition
      parameters:
        - description: The ID of the Lambda function definition.
          in: path
          name: FunctionDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a Lambda function definition.
      operationId: UpdateFunctionDefinition
      parameters:
        - description: The ID of the Lambda function definition.
          in: path
          name: FunctionDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the definition.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFunctionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/functions/{FunctionDefinitionId}/versions':
    get:
      description: Lists the versions of a Lambda function definition.
      operationId: ListFunctionDefinitionVersions
      parameters:
        - description: The ID of the Lambda function definition.
          in: path
          name: FunctionDefinitionId
          required: true
          type: string
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFunctionDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a Lambda function definition that has already been defined.
      operationId: CreateFunctionDefinitionVersion
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the Lambda function definition.
          in: path
          name: FunctionDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              DefaultConfig:
                description: The default configuration that applies to all Lambda functions in the group. Individual Lambda functions can override these settings.
                properties:
                  Execution:
                    $ref: '#/definitions/FunctionDefaultExecutionConfig'
                type: object
              Functions:
                description: A list of Lambda functions in this function definition version.
                items:
                  $ref: '#/definitions/Function'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFunctionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/functions/{FunctionDefinitionId}/versions/{FunctionDefinitionVersionId}':
    get:
      description: 'Retrieves information about a Lambda function definition version, including which Lambda functions are included in the version and their configurations.'
      operationId: GetFunctionDefinitionVersion
      parameters:
        - description: The ID of the Lambda function definition.
          in: path
          name: FunctionDefinitionId
          required: true
          type: string
        - description: 'The ID of the function definition version. This value maps to the ''''Version'''' property of the corresponding ''''VersionInformation'''' object, which is returned by ''''ListFunctionDefinitionVersions'''' requests. If the version is the last one that was associated with a function definition, the value also maps to the ''''LatestVersion'''' property of the corresponding ''''DefinitionInformation'''' object.'
          in: path
          name: FunctionDefinitionVersionId
          required: true
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFunctionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/loggers:
    get:
      description: Retrieves a list of logger definitions.
      operationId: ListLoggerDefinitions
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListLoggerDefinitionsResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a logger definition. You may provide the initial version of the logger definition now or use ''CreateLoggerDefinitionVersion'' at a later time.
      operationId: CreateLoggerDefinition
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              InitialVersion:
                description: Information about a logger definition version.
                properties:
                  Loggers:
                    $ref: '#/definitions/__listOfLogger'
                    description: A list of loggers.
                type: object
              Name:
                description: The name of the logger definition.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The key-value pair for the resource tag.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/loggers/{LoggerDefinitionId}':
    delete:
      description: Deletes a logger definition.
      operationId: DeleteLoggerDefinition
      parameters:
        - description: The ID of the logger definition.
          in: path
          name: LoggerDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a logger definition.
      operationId: GetLoggerDefinition
      parameters:
        - description: The ID of the logger definition.
          in: path
          name: LoggerDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a logger definition.
      operationId: UpdateLoggerDefinition
      parameters:
        - description: The ID of the logger definition.
          in: path
          name: LoggerDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the definition.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateLoggerDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/loggers/{LoggerDefinitionId}/versions':
    get:
      description: Lists the versions of a logger definition.
      operationId: ListLoggerDefinitionVersions
      parameters:
        - description: The ID of the logger definition.
          in: path
          name: LoggerDefinitionId
          required: true
          type: string
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListLoggerDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a logger definition that has already been defined.
      operationId: CreateLoggerDefinitionVersion
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the logger definition.
          in: path
          name: LoggerDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Loggers:
                description: A list of loggers.
                items:
                  $ref: '#/definitions/Logger'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLoggerDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/loggers/{LoggerDefinitionId}/versions/{LoggerDefinitionVersionId}':
    get:
      description: Retrieves information about a logger definition version.
      operationId: GetLoggerDefinitionVersion
      parameters:
        - description: The ID of the logger definition.
          in: path
          name: LoggerDefinitionId
          required: true
          type: string
        - description: 'The ID of the logger definition version. This value maps to the ''''Version'''' property of the corresponding ''''VersionInformation'''' object, which is returned by ''''ListLoggerDefinitionVersions'''' requests. If the version is the last one that was associated with a logger definition, the value also maps to the ''''LatestVersion'''' property of the corresponding ''''DefinitionInformation'''' object.'
          in: path
          name: LoggerDefinitionVersionId
          required: true
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetLoggerDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/resources:
    get:
      description: Retrieves a list of resource definitions.
      operationId: ListResourceDefinitions
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourceDefinitionsResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a resource definition which contains a list of resources to be used in a group. You can create an initial version of the definition by providing a list of resources now, or use ''''CreateResourceDefinitionVersion'''' later.'
      operationId: CreateResourceDefinition
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              InitialVersion:
                description: Information about a resource definition version.
                properties:
                  Resources:
                    $ref: '#/definitions/__listOfResource'
                    description: A list of resources.
                type: object
              Name:
                description: The name of the resource definition.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The key-value pair for the resource tag.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/resources/{ResourceDefinitionId}':
    delete:
      description: Deletes a resource definition.
      operationId: DeleteResourceDefinition
      parameters:
        - description: The ID of the resource definition.
          in: path
          name: ResourceDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: 'Retrieves information about a resource definition, including its creation time and latest version.'
      operationId: GetResourceDefinition
      parameters:
        - description: The ID of the resource definition.
          in: path
          name: ResourceDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a resource definition.
      operationId: UpdateResourceDefinition
      parameters:
        - description: The ID of the resource definition.
          in: path
          name: ResourceDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the definition.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResourceDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/resources/{ResourceDefinitionId}/versions':
    get:
      description: Lists the versions of a resource definition.
      operationId: ListResourceDefinitionVersions
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
        - description: The ID of the resource definition.
          in: path
          name: ResourceDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourceDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a resource definition that has already been defined.
      operationId: CreateResourceDefinitionVersion
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the resource definition.
          in: path
          name: ResourceDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Resources:
                description: A list of resources.
                items:
                  $ref: '#/definitions/Resource'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/resources/{ResourceDefinitionId}/versions/{ResourceDefinitionVersionId}':
    get:
      description: 'Retrieves information about a resource definition version, including which resources are included in the version.'
      operationId: GetResourceDefinitionVersion
      parameters:
        - description: The ID of the resource definition.
          in: path
          name: ResourceDefinitionId
          required: true
          type: string
        - description: 'The ID of the resource definition version. This value maps to the ''''Version'''' property of the corresponding ''''VersionInformation'''' object, which is returned by ''''ListResourceDefinitionVersions'''' requests. If the version is the last one that was associated with a resource definition, the value also maps to the ''''LatestVersion'''' property of the corresponding ''''DefinitionInformation'''' object.'
          in: path
          name: ResourceDefinitionVersionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/definition/subscriptions:
    get:
      description: Retrieves a list of subscription definitions.
      operationId: ListSubscriptionDefinitions
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionsResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a subscription definition. You may provide the initial version of the subscription definition now or use ''CreateSubscriptionDefinitionVersion'' at a later time.
      operationId: CreateSubscriptionDefinition
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              InitialVersion:
                description: Information about a subscription definition version.
                properties:
                  Subscriptions:
                    $ref: '#/definitions/__listOfSubscription'
                    description: A list of subscriptions.
                type: object
              Name:
                description: The name of the subscription definition.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The key-value pair for the resource tag.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/subscriptions/{SubscriptionDefinitionId}':
    delete:
      description: Deletes a subscription definition.
      operationId: DeleteSubscriptionDefinition
      parameters:
        - description: The ID of the subscription definition.
          in: path
          name: SubscriptionDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a subscription definition.
      operationId: GetSubscriptionDefinition
      parameters:
        - description: The ID of the subscription definition.
          in: path
          name: SubscriptionDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a subscription definition.
      operationId: UpdateSubscriptionDefinition
      parameters:
        - description: The ID of the subscription definition.
          in: path
          name: SubscriptionDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the definition.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateSubscriptionDefinitionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions':
    get:
      description: Lists the versions of a subscription definition.
      operationId: ListSubscriptionDefinitionVersions
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
        - description: The ID of the subscription definition.
          in: path
          name: SubscriptionDefinitionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListSubscriptionDefinitionVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a subscription definition which has already been defined.
      operationId: CreateSubscriptionDefinitionVersion
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the subscription definition.
          in: path
          name: SubscriptionDefinitionId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Subscriptions:
                description: A list of subscriptions.
                items:
                  $ref: '#/definitions/Subscription'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSubscriptionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/definition/subscriptions/{SubscriptionDefinitionId}/versions/{SubscriptionDefinitionVersionId}':
    get:
      description: Retrieves information about a subscription definition version.
      operationId: GetSubscriptionDefinitionVersion
      parameters:
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
        - description: The ID of the subscription definition.
          in: path
          name: SubscriptionDefinitionId
          required: true
          type: string
        - description: 'The ID of the subscription definition version. This value maps to the ''''Version'''' property of the corresponding ''''VersionInformation'''' object, which is returned by ''''ListSubscriptionDefinitionVersions'''' requests. If the version is the last one that was associated with a subscription definition, the value also maps to the ''''LatestVersion'''' property of the corresponding ''''DefinitionInformation'''' object.'
          in: path
          name: SubscriptionDefinitionVersionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSubscriptionDefinitionVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /greengrass/groups:
    get:
      description: Retrieves a list of groups.
      operationId: ListGroups
      parameters:
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupsResponse'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a group. You may provide the initial version of the group or use ''''CreateGroupVersion'''' at a later time. Tip: You can use the ''''gg_group_setup'''' package (https://github.com/awslabs/aws-greengrass-group-setup) as a library or command-line application to create and deploy Greengrass groups.'
      operationId: CreateGroup
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              InitialVersion:
                description: Information about a group version.
                properties:
                  ConnectorDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the connector definition version for this group.
                  CoreDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the core definition version for this group.
                  DeviceDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the device definition version for this group.
                  FunctionDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the function definition version for this group.
                  LoggerDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the logger definition version for this group.
                  ResourceDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the resource definition version for this group.
                  SubscriptionDefinitionVersionArn:
                    $ref: '#/definitions/__string'
                    description: The ARN of the subscription definition version for this group.
                type: object
              Name:
                description: The name of the group.
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The key-value pair for the resource tag.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/groups/{GroupId}':
    delete:
      description: Deletes a group.
      operationId: DeleteGroup
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    get:
      description: Retrieves information about a group.
      operationId: GetGroup
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates a group.
      operationId: UpdateGroup
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Name:
                description: The name of the definition.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/groups/{GroupId}/certificateauthorities':
    get:
      description: Retrieves the current CAs for a group.
      operationId: ListGroupCertificateAuthorities
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupCertificateAuthoritiesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a CA for the group. If a CA already exists, it will rotate the existing CA.'
      operationId: CreateGroupCertificateAuthority
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupCertificateAuthorityResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  '/greengrass/groups/{GroupId}/certificateauthorities/configuration/expiry':
    get:
      description: Retrieves the current configuration for the CA used by the group.
      operationId: GetGroupCertificateConfiguration
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupCertificateConfigurationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Updates the Certificate expiry time for a group.
      operationId: UpdateGroupCertificateConfiguration
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              CertificateExpiryInMilliseconds:
                description: 'The amount of time remaining before the certificate expires, in milliseconds.'
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGroupCertificateConfigurationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  '/greengrass/groups/{GroupId}/certificateauthorities/{CertificateAuthorityId}':
    get:
      description: Retreives the CA associated with a group. Returns the public key of the CA.
      operationId: GetGroupCertificateAuthority
      parameters:
        - description: The ID of the certificate authority.
          in: path
          name: CertificateAuthorityId
          required: true
          type: string
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupCertificateAuthorityResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/groups/{GroupId}/deployments':
    get:
      description: Returns a history of deployments for the group.
      operationId: ListDeployments
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDeploymentsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a deployment. ''CreateDeployment'' requests are idempotent with respect to the ''X-Amzn-Client-Token'' token and the request parameters.
      operationId: CreateDeployment
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              DeploymentId:
                description: The ID of the deployment if you wish to redeploy a previous deployment.
                type: string
              DeploymentType:
                description: 'The type of deployment. When used for ''''CreateDeployment'''', only ''''NewDeployment'''' and ''''Redeployment'''' are valid.'
                enum:
                  - NewDeployment
                  - Redeployment
                  - ResetDeployment
                  - ForceResetDeployment
                type: string
              GroupVersionId:
                description: The ID of the group version to be deployed.
                type: string
            required:
              - DeploymentType
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDeploymentResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/groups/{GroupId}/deployments/$reset':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Resets a group's deployments.
      operationId: ResetDeployments
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Force:
                description: 'If true, performs a best-effort only core reset.'
                type: boolean
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResetDeploymentsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/groups/{GroupId}/deployments/{DeploymentId}/status':
    get:
      description: Returns the status of a deployment.
      operationId: GetDeploymentStatus
      parameters:
        - description: The ID of the deployment.
          in: path
          name: DeploymentId
          required: true
          type: string
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDeploymentStatusResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/greengrass/groups/{GroupId}/role':
    delete:
      description: Disassociates the role from a group.
      operationId: DisassociateRoleFromGroup
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateRoleFromGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    get:
      description: Retrieves the role associated with a particular group.
      operationId: GetAssociatedRole
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAssociatedRoleResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Associates a role with a group. Your Greengrass core will use the role to access AWS cloud services. The role's permissions should allow Greengrass core Lambda functions to perform actions against the cloud.
      operationId: AssociateRoleToGroup
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              RoleArn:
                description: The ARN of the role you wish to associate with this group. The existence of the role is not validated.
                type: string
            required:
              - RoleArn
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateRoleToGroupResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
  '/greengrass/groups/{GroupId}/versions':
    get:
      description: Lists the versions of a group.
      operationId: ListGroupVersions
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
        - description: The maximum number of results to be returned per request.
          in: query
          name: MaxResults
          required: false
          type: string
        - description: 'The token for the next set of results, or ''''null'''' if there are no additional results.'
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGroupVersionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a version of a group which has already been defined.
      operationId: CreateGroupVersion
      parameters:
        - description: A client token used to correlate requests and responses.
          in: header
          name: X-Amzn-Client-Token
          required: false
          type: string
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              ConnectorDefinitionVersionArn:
                description: The ARN of the connector definition version for this group.
                type: string
              CoreDefinitionVersionArn:
                description: The ARN of the core definition version for this group.
                type: string
              DeviceDefinitionVersionArn:
                description: The ARN of the device definition version for this group.
                type: string
              FunctionDefinitionVersionArn:
                description: The ARN of the function definition version for this group.
                type: string
              LoggerDefinitionVersionArn:
                description: The ARN of the logger definition version for this group.
                type: string
              ResourceDefinitionVersionArn:
                description: The ARN of the resource definition version for this group.
                type: string
              SubscriptionDefinitionVersionArn:
                description: The ARN of the subscription definition version for this group.
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGroupVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
  '/greengrass/groups/{GroupId}/versions/{GroupVersionId}':
    get:
      description: Retrieves information about a group version.
      operationId: GetGroupVersion
      parameters:
        - description: The ID of the Greengrass group.
          in: path
          name: GroupId
          required: true
          type: string
        - description: 'The ID of the group version. This value maps to the ''''Version'''' property of the corresponding ''''VersionInformation'''' object, which is returned by ''''ListGroupVersions'''' requests. If the version is the last one that was associated with a group, the value also maps to the ''''LatestVersion'''' property of the corresponding ''''GroupInformation'''' object.'
          in: path
          name: GroupVersionId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGroupVersionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
[...]
