swagger: '2.0'
info:
  version: '2017-07-25'
  x-release: v4
  title: AWS Data Exchange
  description: '<p>AWS Data Exchange is a service that makes it easy for AWS customers to exchange data in the cloud. You can use the AWS Data Exchange APIs to create, update, manage, and access file-based data set in the AWS Cloud.</p><p>As a subscriber, you can view and access the data sets that you have an entitlement to through a subscription. You can use the APIS to download or copy your entitled data sets to Amazon S3 for use across a variety of AWS analytics and machine learning services.</p><p>As a provider, you can create and manage your data sets that you would like to publish to a product. Being able to package and provide your data sets into products requires a few steps to determine eligibility. For more information, visit the AWS Data Exchange User Guide.</p><p>A data set is a collection of data that can be changed or updated over time. Data sets can be updated using revisions, which represent a new version or incremental change to a data set.  A revision contains one or more assets. An asset in AWS Data Exchange is a piece of data that can be stored as an Amazon S3 object. The asset can be a structured data file, an image file, or some other data file. Jobs are asynchronous import or export operations used to create or copy assets.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: dataexchange
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dataexchange-2017-07-25.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/dataexchange/'
host: dataexchange.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://dataexchange.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Data Exchange multi-region endpoint
  - url: 'https://dataexchange.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Data Exchange multi-region endpoint
  - url: 'http://dataexchange.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Data Exchange endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://dataexchange.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Data Exchange endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/v1/jobs/{JobId}':
    delete:
      operationId: CancelJob
      description: This operation cancels a job. Jobs can be cancelled only when they are in the WAITING state.
      responses:
        '204':
          description: Success
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '484':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: JobId
          in: path
          required: true
          description: The unique identifier for a job.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJob
      description: This operation returns information about a job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: JobId
          in: path
          required: true
          description: The unique identifier for a job.
          type: string
    patch:
      operationId: StartJob
      description: This operation starts a job.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/StartJobResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: JobId
          in: path
          required: true
          description: The unique identifier for a job.
          type: string
  /v1/data-sets:
    post:
      operationId: CreateDataSet
      description: This operation creates a data set.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateDataSetResponse'
        '480':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ServiceLimitExceededException
          schema:
            $ref: '#/definitions/ServiceLimitExceededException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - AssetType
              - Description
              - Name
            properties:
              AssetType:
                description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
                type: string
                enum:
                  - S3_SNAPSHOT
              Description:
                description: A description of a resource.
                type: string
              Name:
                description: The name of the model.
                type: string
              Tags:
                description: 'A data set tag is an optional label that you can assign to a data set when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.'
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDataSets
      description: 'This operation lists your data sets. When listing by origin OWNED, results are sorted by CreatedAt in descending order. When listing by origin ENTITLED, there is no order and the maxResults parameter is ignored.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDataSetsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: maxResults
          in: query
          required: false
          description: The maximum number of results returned by a single call.
          type: integer
          minimum: 1
          maximum: 25
        - name: nextToken
          in: query
          required: false
          description: The token value retrieved from a previous call to access the next page of results.
          type: string
        - name: origin
          in: query
          required: false
          description: A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).
          type: string
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /v1/jobs:
    post:
      operationId: CreateJob
      description: This operation creates a job.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Details
              - Type
            properties:
              Details:
                description: The details for the request.
                type: object
                properties:
                  ExportAssetToSignedUrl:
                    $ref: '#/definitions/ExportAssetToSignedUrlRequestDetails'
                    description: Details about the export to signed URL request.
                  ExportAssetsToS3:
                    $ref: '#/definitions/ExportAssetsToS3RequestDetails'
                    description: Details about the export to Amazon S3 request.
                  ImportAssetFromSignedUrl:
                    $ref: '#/definitions/ImportAssetFromSignedUrlRequestDetails'
                    description: Details about the import from signed URL request.
                  ImportAssetsFromS3:
                    $ref: '#/definitions/ImportAssetsFromS3RequestDetails'
                    description: Details about the import from Amazon S3 request.
              Type:
                description: The type of job to be created.
                type: string
                enum:
                  - IMPORT_ASSETS_FROM_S3
                  - IMPORT_ASSET_FROM_SIGNED_URL
                  - EXPORT_ASSETS_TO_S3
                  - EXPORT_ASSET_TO_SIGNED_URL
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListJobs
      description: This operation lists your jobs sorted by CreatedAt in descending order.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: dataSetId
          in: query
          required: false
          description: The unique identifier for a data set.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of results returned by a single call.
          type: integer
          minimum: 1
          maximum: 25
        - name: nextToken
          in: query
          required: false
          description: The token value retrieved from a previous call to access the next page of results.
          type: string
        - name: revisionId
          in: query
          required: false
          description: The unique identifier for a revision.
          type: string
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/v1/data-sets/{DataSetId}/revisions':
    post:
      operationId: CreateRevision
      description: This operation creates a revision for a data set.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateRevisionResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Comment:
                description: An optional comment about the revision.
                type: string
                minLength: 0
                maxLength: 16384
              Tags:
                description: 'A revision tag is an optional label that you can assign to a revision when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.'
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDataSetRevisions
      description: This operation lists a data set's revisions sorted by CreatedAt in descending order.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDataSetRevisionsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of results returned by a single call.
          type: integer
          minimum: 1
          maximum: 25
        - name: nextToken
          in: query
          required: false
          description: The token value retrieved from a previous call to access the next page of results.
          type: string
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets/{AssetId}':
    delete:
      operationId: DeleteAsset
      description: This operation deletes an asset.
      responses:
        '204':
          description: Success
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: AssetId
          in: path
          required: true
          description: The unique identifier for an asset.
          type: string
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: RevisionId
          in: path
          required: true
          description: The unique identifier for a revision.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetAsset
      description: This operation returns information about an asset.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetAssetResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: AssetId
          in: path
          required: true
          description: The unique identifier for an asset.
          type: string
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: RevisionId
          in: path
          required: true
          description: The unique identifier for a revision.
          type: string
    patch:
      operationId: UpdateAsset
      description: This operation updates an asset.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAssetResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: AssetId
          in: path
          required: true
          description: The unique identifier for an asset.
          type: string
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: RevisionId
          in: path
          required: true
          description: The unique identifier for a revision.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
            properties:
              Name:
                description: 'The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.'
                type: string
  '/v1/data-sets/{DataSetId}':
    delete:
      operationId: DeleteDataSet
      description: This operation deletes a data set.
      responses:
        '204':
          description: Success
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetDataSet
      description: This operation returns information about a data set.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDataSetResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
    patch:
      operationId: UpdateDataSet
      description: This operation updates a data set.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDataSetResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Description:
                description: A description of a resource.
                type: string
              Name:
                description: The name of the model.
                type: string
  '/v1/data-sets/{DataSetId}/revisions/{RevisionId}':
    delete:
      operationId: DeleteRevision
      description: This operation deletes a revision.
      responses:
        '204':
          description: Success
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: RevisionId
          in: path
          required: true
          description: The unique identifier for a revision.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetRevision
      description: This operation returns information about a revision.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRevisionResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: RevisionId
          in: path
          required: true
          description: The unique identifier for a revision.
          type: string
    patch:
      operationId: UpdateRevision
      description: This operation updates a revision.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRevisionResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: RevisionId
          in: path
          required: true
          description: The unique identifier for a revision.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Comment:
                description: An optional comment about the revision.
                type: string
                minLength: 0
                maxLength: 16384
              Finalized:
                description: 'Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it''s in this read-only state, you can publish the revision to your products.'
                type: boolean
  '/v1/data-sets/{DataSetId}/revisions/{RevisionId}/assets':
    get:
      operationId: ListRevisionAssets
      description: This operation lists a revision's assets sorted alphabetically in descending order.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRevisionAssetsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
      parameters:
        - name: DataSetId
          in: path
          required: true
          description: The unique identifier for a data set.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of results returned by a single call.
          type: integer
          minimum: 1
          maximum: 25
        - name: nextToken
          in: query
          required: false
          description: The token value retrieved from a previous call to access the next page of results.
          type: string
        - name: RevisionId
          in: path
          required: true
          description: The unique identifier for a revision.
          type: string
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/tags/{resource-arn}':
    get:
      operationId: ListTagsForResource
      description: This operation lists the tags on the resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
      parameters:
        - name: resource-arn
          in: path
          required: true
          description: An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: TagResource
      description: This operation tags a resource.
      responses:
        '204':
          description: Success
      parameters:
        - name: resource-arn
          in: path
          required: true
          description: An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - tags
            properties:
              tags:
                description: A label that consists of a customer-defined key and an optional value.
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
  '/tags/{resource-arn}#tagKeys':
    delete:
      operationId: UntagResource
      description: This operation removes one or more tags from a resource.
      responses:
        '204':
          description: Success
      parameters:
        - name: resource-arn
          in: path
          required: true
          description: An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.
          type: string
        - name: tagKeys
          in: query
          required: true
          description: The key tags.
          type: array
          items:
            type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  ResourceNotFoundException: {}
  ThrottlingException: {}
  ValidationException: {}
  InternalServerException: {}
  ConflictException: {}
  CreateDataSetResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the data set.
      AssetType:
        $ref: '#/definitions/AssetType'
        description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the data set was created, in ISO 8601 format.'
      Description:
        $ref: '#/definitions/Description'
        description: The description for the data set.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set.
      Name:
        $ref: '#/definitions/Name'
        description: The name of the data set.
      Origin:
        $ref: '#/definitions/Origin'
        description: A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).
      OriginDetails:
        $ref: '#/definitions/OriginDetails'
        description: 'If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.'
      SourceId:
        $ref: '#/definitions/Id'
        description: The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.
      Tags:
        $ref: '#/definitions/MapOf__string'
        description: The tags for the data set.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the data set was last updated, in ISO 8601 format.'
  __string:
    type: string
  ServiceLimitExceededException: {}
  AccessDeniedException: {}
  CreateJobResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the job.
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the job was created, in ISO 8601 format.'
      Details:
        $ref: '#/definitions/ResponseDetails'
        description: Details about the job.
      Errors:
        $ref: '#/definitions/ListOfJobError'
        description: The errors associated with jobs.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the job.
      State:
        $ref: '#/definitions/State'
        description: The state of the job.
      Type:
        $ref: '#/definitions/Type'
        description: The job type.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the job was last updated, in ISO 8601 format.'
  ExportAssetToSignedUrlRequestDetails:
    type: object
    required:
      - DataSetId
      - AssetId
      - RevisionId
    properties:
      AssetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the asset that is exported to a signed URL.
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this export job.
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this export request.
    description: Details of the operation to be performed by the job.
  ExportAssetsToS3RequestDetails:
    type: object
    required:
      - AssetDestinations
      - DataSetId
      - RevisionId
    properties:
      AssetDestinations:
        $ref: '#/definitions/ListOfAssetDestinationEntry'
        description: The destination for the asset.
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this export job.
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this export request.
    description: Details of the operation to be performed by the job.
  ImportAssetFromSignedUrlRequestDetails:
    type: object
    required:
      - DataSetId
      - Md5Hash
      - RevisionId
      - AssetName
    properties:
      AssetName:
        $ref: '#/definitions/AssetName'
        description: 'The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name.'
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this import job.
      Md5Hash:
        $ref: '#/definitions/__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093'
        description: 'The Base64-encoded Md5 hash for the asset, used to ensure the integrity of the file at that location.'
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this import request.
    description: Details of the operation to be performed by the job.
  ImportAssetsFromS3RequestDetails:
    type: object
    required:
      - DataSetId
      - AssetSources
      - RevisionId
    properties:
      AssetSources:
        $ref: '#/definitions/ListOfAssetSourceEntry'
        description: Is a list of S3 bucket and object key pairs.
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this import job.
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this import request.
    description: Details of the operation to be performed by the job.
  CreateRevisionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the revision
      Comment:
        $ref: '#/definitions/__stringMin0Max16384'
        description: An optional comment about the revision.
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the revision was created, in ISO 8601 format.'
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this revision.
      Finalized:
        $ref: '#/definitions/__boolean'
        description: '<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it''s in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>'
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision.
      SourceId:
        $ref: '#/definitions/Id'
        description: The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.
      Tags:
        $ref: '#/definitions/MapOf__string'
        description: The tags for the revision.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the revision was last updated, in ISO 8601 format.'
  GetAssetResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the asset.
      AssetDetails:
        $ref: '#/definitions/AssetDetails'
        description: 'Information about the asset, including its size.'
      AssetType:
        $ref: '#/definitions/AssetType'
        description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the asset was created, in ISO 8601 format.'
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this asset.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the asset.
      Name:
        $ref: '#/definitions/AssetName'
        description: 'The name of the asset When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.'
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this asset.
      SourceId:
        $ref: '#/definitions/Id'
        description: The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the asset was last updated, in ISO 8601 format.'
  GetDataSetResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the data set.
      AssetType:
        $ref: '#/definitions/AssetType'
        description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the data set was created, in ISO 8601 format.'
      Description:
        $ref: '#/definitions/Description'
        description: The description for the data set.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set.
      Name:
        $ref: '#/definitions/Name'
        description: The name of the data set.
      Origin:
        $ref: '#/definitions/Origin'
        description: A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).
      OriginDetails:
        $ref: '#/definitions/OriginDetails'
        description: 'If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.'
      SourceId:
        $ref: '#/definitions/Id'
        description: The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.
      Tags:
        $ref: '#/definitions/MapOf__string'
        description: The tags for the data set.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the data set was last updated, in ISO 8601 format.'
  GetJobResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the job.
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the job was created, in ISO 8601 format.'
      Details:
        $ref: '#/definitions/ResponseDetails'
        description: Details about the job.
      Errors:
        $ref: '#/definitions/ListOfJobError'
        description: The errors associated with jobs.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the job.
      State:
        $ref: '#/definitions/State'
        description: The state of the job.
      Type:
        $ref: '#/definitions/Type'
        description: The job type.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the job was last updated, in ISO 8601 format.'
  GetRevisionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the revision
      Comment:
        $ref: '#/definitions/__stringMin0Max16384'
        description: An optional comment about the revision.
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the revision was created, in ISO 8601 format.'
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this revision.
      Finalized:
        $ref: '#/definitions/__boolean'
        description: '<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it''s in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>'
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision.
      SourceId:
        $ref: '#/definitions/Id'
        description: The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.
      Tags:
        $ref: '#/definitions/MapOf__string'
        description: The tags for the revision.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the revision was last updated, in ISO 8601 format.'
  ListDataSetRevisionsResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token value retrieved from a previous call to access the next page of results.
      Revisions:
        $ref: '#/definitions/ListOfRevisionEntry'
        description: The asset objects listed by the request.
  ListDataSetsResponse:
    type: object
    properties:
      DataSets:
        $ref: '#/definitions/ListOfDataSetEntry'
        description: The data set objects listed by the request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token value retrieved from a previous call to access the next page of results.
  ListJobsResponse:
    type: object
    properties:
      Jobs:
        $ref: '#/definitions/ListOfJobEntry'
        description: The jobs listed by the request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token value retrieved from a previous call to access the next page of results.
  ListRevisionAssetsResponse:
    type: object
    properties:
      Assets:
        $ref: '#/definitions/ListOfAssetEntry'
        description: The asset objects listed by the request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: The token value retrieved from a previous call to access the next page of results.
  ListTagsForResourceResponse:
    type: object
    properties:
      Tags:
        $ref: '#/definitions/MapOf__string'
        description: A label that consists of a customer-defined key and an optional value.
  StartJobResponse:
    type: object
    properties: {}
  UpdateAssetResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the asset.
      AssetDetails:
        $ref: '#/definitions/AssetDetails'
        description: 'Information about the asset, including its size.'
      AssetType:
        $ref: '#/definitions/AssetType'
        description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the asset was created, in ISO 8601 format.'
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this asset.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the asset.
      Name:
        $ref: '#/definitions/AssetName'
        description: 'The name of the asset When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.'
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this asset.
      SourceId:
        $ref: '#/definitions/Id'
        description: The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the asset was last updated, in ISO 8601 format.'
  UpdateDataSetResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the data set.
      AssetType:
        $ref: '#/definitions/AssetType'
        description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the data set was created, in ISO 8601 format.'
      Description:
        $ref: '#/definitions/Description'
        description: The description for the data set.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set.
      Name:
        $ref: '#/definitions/Name'
        description: The name of the data set.
      Origin:
        $ref: '#/definitions/Origin'
        description: A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).
      OriginDetails:
        $ref: '#/definitions/OriginDetails'
        description: 'If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.'
      SourceId:
        $ref: '#/definitions/Id'
        description: The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the data set was last updated, in ISO 8601 format.'
  UpdateRevisionResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the revision.
      Comment:
        $ref: '#/definitions/__stringMin0Max16384'
        description: An optional comment about the revision.
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the revision was created, in ISO 8601 format.'
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this revision.
      Finalized:
        $ref: '#/definitions/__boolean'
        description: '<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that changes to the assets in the revision are complete. After it''s in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>'
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision.
      SourceId:
        $ref: '#/definitions/Id'
        description: The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the revision was last updated, in ISO 8601 format.'
  Arn:
    type: string
    description: An Amazon Resource Name (ARN) that uniquely identifies an AWS resource.
  Id:
    type: string
    description: A unique identifier.
  AssetDestinationEntry:
    type: object
    required:
      - Bucket
      - AssetId
    properties:
      AssetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the asset.
      Bucket:
        $ref: '#/definitions/__string'
        description: The S3 bucket that is the destination for the asset.
      Key:
        $ref: '#/definitions/__string'
        description: The name of the object in Amazon S3 for the asset.
    description: The destination for the asset.
  S3SnapshotAsset:
    type: object
    required:
      - Size
    properties:
      Size:
        $ref: '#/definitions/__doubleMin0'
        description: The size of the S3 object that is the object.
    description: The S3 object that is the asset.
  AssetDetails:
    type: object
    properties:
      S3SnapshotAsset:
        $ref: '#/definitions/S3SnapshotAsset'
  AssetType:
    type: string
    enum:
      - S3_SNAPSHOT
    description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
  Timestamp:
    type: string
    description: Dates and times in AWS Data Exchange are recorded in ISO 8601 format.
    format: date-time
  AssetName:
    type: string
    description: 'The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.'
  AssetEntry:
    type: object
    required:
      - AssetType
      - CreatedAt
      - DataSetId
      - Id
      - Arn
      - AssetDetails
      - UpdatedAt
      - RevisionId
      - Name
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the asset.
      AssetDetails:
        $ref: '#/definitions/AssetDetails'
        description: 'Information about the asset, including its size.'
      AssetType:
        $ref: '#/definitions/AssetType'
        description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the asset was created, in ISO 8601 format.'
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this asset.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the asset.
      Name:
        $ref: '#/definitions/AssetName'
        description: 'The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.'
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this asset.
      SourceId:
        $ref: '#/definitions/Id'
        description: The asset ID of the owned asset corresponding to the entitled asset being viewed. This parameter is returned when an asset owner is viewing the entitled copy of its owned asset.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the asset was last updated, in ISO 8601 format.'
    description: 'An asset in AWS Data Exchange is a piece of data that can be stored as an S3 object. The asset can be a structured data file, an image file, or some other data file. When you create an import job for your files, you create an asset in AWS Data Exchange for each of those files.'
  AssetSourceEntry:
    type: object
    required:
      - Bucket
      - Key
    properties:
      Bucket:
        $ref: '#/definitions/__string'
        description: The S3 bucket that's part of the source of the asset.
      Key:
        $ref: '#/definitions/__string'
        description: The name of the object in Amazon S3 for the asset.
    description: The source of the assets.
  CancelJobRequest:
    type: object
    properties: {}
  Code:
    type: string
    enum:
      - ACCESS_DENIED_EXCEPTION
      - INTERNAL_SERVER_EXCEPTION
      - MALWARE_DETECTED
      - RESOURCE_NOT_FOUND_EXCEPTION
      - SERVICE_QUOTA_EXCEEDED_EXCEPTION
      - VALIDATION_EXCEPTION
      - MALWARE_SCAN_ENCRYPTED_FILE
  Description:
    type: string
    description: A description of a resource.
  Name:
    type: string
    description: The name of the model.
  MapOf__string:
    type: object
    additionalProperties:
      $ref: '#/definitions/__string'
  CreateDataSetRequest:
    type: object
    required:
      - AssetType
      - Description
      - Name
    properties:
      AssetType:
        $ref: '#/definitions/AssetType'
        description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
      Description:
        $ref: '#/definitions/Description'
        description: 'A description for the data set. This value can be up to 16,348 characters long.'
      Name:
        $ref: '#/definitions/Name'
        description: The name of the data set.
      Tags:
        $ref: '#/definitions/MapOf__string'
        description: 'A data set tag is an optional label that you can assign to a data set when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.'
    description: The request body for CreateDataSet.
  Origin:
    type: string
    enum:
      - OWNED
      - ENTITLED
    description: 'A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers). When an owned data set is published in a product, AWS Data Exchange creates a copy of the data set. Subscribers can access that copy of the data set as an entitled data set.'
  OriginDetails:
    type: object
    required:
      - ProductId
    properties:
      ProductId:
        $ref: '#/definitions/__string'
  RequestDetails:
    type: object
    properties:
      ExportAssetToSignedUrl:
        $ref: '#/definitions/ExportAssetToSignedUrlRequestDetails'
        description: Details about the export to signed URL request.
      ExportAssetsToS3:
        $ref: '#/definitions/ExportAssetsToS3RequestDetails'
        description: Details about the export to Amazon S3 request.
      ImportAssetFromSignedUrl:
        $ref: '#/definitions/ImportAssetFromSignedUrlRequestDetails'
        description: Details about the import from signed URL request.
      ImportAssetsFromS3:
        $ref: '#/definitions/ImportAssetsFromS3RequestDetails'
        description: Details about the import from Amazon S3 request.
    description: The details for the request.
  Type:
    type: string
    enum:
      - IMPORT_ASSETS_FROM_S3
      - IMPORT_ASSET_FROM_SIGNED_URL
      - EXPORT_ASSETS_TO_S3
      - EXPORT_ASSET_TO_SIGNED_URL
  CreateJobRequest:
    type: object
    required:
      - Type
      - Details
    properties:
      Details:
        $ref: '#/definitions/RequestDetails'
        description: The details for the CreateJob request.
      Type:
        $ref: '#/definitions/Type'
        description: The type of job to be created.
    description: The request body for CreateJob.
  ResponseDetails:
    type: object
    properties:
      ExportAssetToSignedUrl:
        $ref: '#/definitions/ExportAssetToSignedUrlResponseDetails'
        description: Details for the export to signed URL response.
      ExportAssetsToS3:
        $ref: '#/definitions/ExportAssetsToS3ResponseDetails'
        description: Details for the export to Amazon S3 response.
      ImportAssetFromSignedUrl:
        $ref: '#/definitions/ImportAssetFromSignedUrlResponseDetails'
        description: Details for the import from signed URL response.
      ImportAssetsFromS3:
        $ref: '#/definitions/ImportAssetsFromS3ResponseDetails'
        description: Details for the import from Amazon S3 response.
    description: Details for the response.
  ListOfJobError:
    type: array
    items:
      $ref: '#/definitions/JobError'
  State:
    type: string
    enum:
      - WAITING
      - IN_PROGRESS
      - ERROR
      - COMPLETED
      - CANCELLED
      - TIMED_OUT
  __stringMin0Max16384:
    type: string
    minLength: 0
    maxLength: 16384
  CreateRevisionRequest:
    type: object
    properties:
      Comment:
        $ref: '#/definitions/__stringMin0Max16384'
        description: An optional comment about the revision.
      Tags:
        $ref: '#/definitions/MapOf__string'
        description: 'A revision tag is an optional label that you can assign to a revision when you create it. Each tag consists of a key and an optional value, both of which you define. When you use tagging, you can also use tag-based access control in IAM policies to control access to these data sets and revisions.'
    description: The request body for CreateRevision.
  __boolean:
    type: boolean
  DataSetEntry:
    type: object
    required:
      - Origin
      - AssetType
      - Description
      - CreatedAt
      - Id
      - Arn
      - UpdatedAt
      - Name
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the data set.
      AssetType:
        $ref: '#/definitions/AssetType'
        description: 'The type of file your data is stored in. Currently, the supported asset type is S3_SNAPSHOT.'
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the data set was created, in ISO 8601 format.'
      Description:
        $ref: '#/definitions/Description'
        description: The description for the data set.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set.
      Name:
        $ref: '#/definitions/Name'
        description: The name of the data set.
      Origin:
        $ref: '#/definitions/Origin'
        description: A property that defines the data set as OWNED by the account (for providers) or ENTITLED to the account (for subscribers).
      OriginDetails:
        $ref: '#/definitions/OriginDetails'
        description: 'If the origin of this data set is ENTITLED, includes the details for the product on AWS Marketplace.'
      SourceId:
        $ref: '#/definitions/Id'
        description: The data set ID of the owned data set corresponding to the entitled data set being viewed. This parameter is returned when a data set owner is viewing the entitled copy of its owned data set.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the data set was last updated, in ISO 8601 format.'
    description: A data set is an AWS resource with one or more revisions.
  DeleteAssetRequest:
    type: object
    properties: {}
  DeleteDataSetRequest:
    type: object
    properties: {}
  DeleteRevisionRequest:
    type: object
    properties: {}
  ImportAssetFromSignedUrlJobErrorDetails:
    type: object
    required:
      - AssetName
    properties:
      AssetName:
        $ref: '#/definitions/AssetName'
  ListOfAssetSourceEntry:
    type: array
    description: The list of sources for the assets.
    items:
      $ref: '#/definitions/AssetSourceEntry'
  Details:
    type: object
    properties:
      ImportAssetFromSignedUrlJobErrorDetails:
        $ref: '#/definitions/ImportAssetFromSignedUrlJobErrorDetails'
      ImportAssetsFromS3JobErrorDetails:
        $ref: '#/definitions/ListOfAssetSourceEntry'
  ExportAssetToSignedUrlResponseDetails:
    type: object
    required:
      - DataSetId
      - AssetId
      - RevisionId
    properties:
      AssetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the asset associated with this export job.
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this export job.
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this export response.
      SignedUrl:
        $ref: '#/definitions/__string'
        description: The signed URL for the export request.
      SignedUrlExpiresAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the signed URL expires, in ISO 8601 format.'
    description: The details of the export to signed URL response.
  ListOfAssetDestinationEntry:
    type: array
    description: The destination where the assets will be exported.
    items:
      $ref: '#/definitions/AssetDestinationEntry'
  ExportAssetsToS3ResponseDetails:
    type: object
    required:
      - AssetDestinations
      - DataSetId
      - RevisionId
    properties:
      AssetDestinations:
        $ref: '#/definitions/ListOfAssetDestinationEntry'
        description: The destination in Amazon S3 where the asset is exported.
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this export job.
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this export response.
    description: Details about the export to Amazon S3 response.
  GetAssetRequest:
    type: object
    properties: {}
  GetDataSetRequest:
    type: object
    properties: {}
  GetJobRequest:
    type: object
    properties: {}
  GetRevisionRequest:
    type: object
    properties: {}
  __stringMin24Max24PatternAZaZ094AZaZ092AZaZ093:
    type: string
    pattern: '/^(?:[A-Za-z0-9+\/]{4})*(?:[A-Za-z0-9+\/]{2}==|[A-Za-z0-9+\/]{3}=)?$/'
    minLength: 24
    maxLength: 24
  ImportAssetFromSignedUrlResponseDetails:
    type: object
    required:
      - DataSetId
      - AssetName
      - RevisionId
    properties:
      AssetName:
        $ref: '#/definitions/AssetName'
        description: The name for the asset associated with this import response.
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this import job.
      Md5Hash:
        $ref: '#/definitions/__stringMin24Max24PatternAZaZ094AZaZ092AZaZ093'
        description: 'The Base64-encoded Md5 hash for the asset, used to ensure the integrity of the file at that location.'
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this import response.
      SignedUrl:
        $ref: '#/definitions/__string'
        description: The signed URL.
      SignedUrlExpiresAt:
        $ref: '#/definitions/Timestamp'
        description: 'The time and date at which the signed URL expires, in ISO 8601 format.'
    description: 'The details in the response for an import request, including the signed URL and other information.'
  ImportAssetsFromS3ResponseDetails:
    type: object
    required:
      - DataSetId
      - AssetSources
      - RevisionId
    properties:
      AssetSources:
        $ref: '#/definitions/ListOfAssetSourceEntry'
        description: Is a list of Amazon S3 bucket and object key pairs.
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this import job.
      RevisionId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision associated with this import response.
    description: Details from an import from Amazon S3 response.
  JobEntry:
    type: object
    required:
      - Type
      - Details
      - State
      - CreatedAt
      - Id
      - Arn
      - UpdatedAt
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the job.
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the job was created, in ISO 8601 format.'
      Details:
        $ref: '#/definitions/ResponseDetails'
        description: 'Details of the operation to be performed by the job, such as export destination details or import source details.'
      Errors:
        $ref: '#/definitions/ListOfJobError'
        description: Errors for jobs.
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the job.
      State:
        $ref: '#/definitions/State'
        description: The state of the job.
      Type:
        $ref: '#/definitions/Type'
        description: The job type.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the job was last updated, in ISO 8601 format.'
    description: AWS Data Exchange Jobs are asynchronous import or export operations used to create or copy assets. A data set owner can both import and export as they see fit. Someone with an entitlement to a data set can only export. Jobs are deleted 90 days after they are created.
  JobErrorLimitName:
    type: string
    enum:
      - Assets per revision
      - Asset size in GB
    description: The name of the limit that was reached.
  __double:
    type: number
    format: double
  JobErrorResourceTypes:
    type: string
    enum:
      - REVISION
      - ASSET
    description: The types of resource which the job error can apply to.
  JobError:
    type: object
    required:
      - Message
      - Code
    properties:
      Code:
        $ref: '#/definitions/Code'
        description: The code for the job error.
      Details:
        $ref: '#/definitions/Details'
      LimitName:
        $ref: '#/definitions/JobErrorLimitName'
        description: The name of the limit that was reached.
      LimitValue:
        $ref: '#/definitions/__double'
        description: The value of the exceeded limit.
      Message:
        $ref: '#/definitions/__string'
        description: The message related to the job error.
      ResourceId:
        $ref: '#/definitions/__string'
        description: The unqiue identifier for the resource related to the error.
      ResourceType:
        $ref: '#/definitions/JobErrorResourceTypes'
        description: The type of resource related to the error.
    description: An error that occurred with the job request.
  MaxResults:
    type: integer
    minimum: 1
    maximum: 25
  ListDataSetRevisionsRequest:
    type: object
    properties: {}
  NextToken:
    type: string
    description: The token value retrieved from a previous call to access the next page of results.
  ListOfRevisionEntry:
    type: array
    items:
      $ref: '#/definitions/RevisionEntry'
  ListDataSetsRequest:
    type: object
    properties: {}
  ListOfDataSetEntry:
    type: array
    items:
      $ref: '#/definitions/DataSetEntry'
  ListJobsRequest:
    type: object
    properties: {}
  ListOfJobEntry:
    type: array
    items:
      $ref: '#/definitions/JobEntry'
  ListRevisionAssetsRequest:
    type: object
    properties: {}
  ListOfAssetEntry:
    type: array
    items:
      $ref: '#/definitions/AssetEntry'
  ListTagsForResourceRequest:
    type: object
    properties: {}
  RevisionEntry:
    type: object
    required:
      - CreatedAt
      - DataSetId
      - Id
      - Arn
      - UpdatedAt
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The ARN for the revision.
      Comment:
        $ref: '#/definitions/__stringMin0Max16384'
        description: An optional comment about the revision.
      CreatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the revision was created, in ISO 8601 format.'
      DataSetId:
        $ref: '#/definitions/Id'
        description: The unique identifier for the data set associated with this revision.
      Finalized:
        $ref: '#/definitions/__boolean'
        description: '<p>To publish a revision to a data set in a product, the revision must first be finalized. Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it''s in this read-only state, you can publish the revision to your products.</p> <p>Finalized revisions can be published through the AWS Data Exchange console or the AWS Marketplace Catalog API, using the StartChangeSet AWS Marketplace Catalog API action. When using the API, revisions are uniquely identified by their ARN.</p>'
      Id:
        $ref: '#/definitions/Id'
        description: The unique identifier for the revision.
      SourceId:
        $ref: '#/definitions/Id'
        description: The revision ID of the owned revision corresponding to the entitled revision being viewed. This parameter is returned when a revision owner is viewing the entitled copy of its owned revision.
      UpdatedAt:
        $ref: '#/definitions/Timestamp'
        description: 'The date and time that the revision was last updated, in ISO 8601 format.'
    description: A revision is a container for one or more assets.
  __doubleMin0:
    type: number
    format: double
  StartJobRequest:
    type: object
    properties: {}
  TagResourceRequest:
    type: object
    required:
      - Tags
    properties:
      Tags:
        $ref: '#/definitions/MapOf__string'
        description: A label that consists of a customer-defined key and an optional value.
    description: The request body for TagResource.
  ListOf__string:
    type: array
    items:
      $ref: '#/definitions/__string'
  UntagResourceRequest:
    type: object
    properties: {}
  UpdateAssetRequest:
    type: object
    required:
      - Name
    properties:
      Name:
        $ref: '#/definitions/AssetName'
        description: 'The name of the asset. When importing from Amazon S3, the S3 object key is used as the asset name. When exporting to Amazon S3, the asset name is used as default target S3 object key.'
    description: The request body for UpdateAsset.
  UpdateDataSetRequest:
    type: object
    properties:
      Description:
        $ref: '#/definitions/Description'
        description: The description for the data set.
      Name:
        $ref: '#/definitions/Name'
        description: The name of the data set.
    description: The request body for UpdateDataSet.
  UpdateRevisionRequest:
    type: object
    properties:
      Comment:
        $ref: '#/definitions/__stringMin0Max16384'
        description: An optional comment about the revision.
      Finalized:
        $ref: '#/definitions/__boolean'
        description: 'Finalizing a revision tells AWS Data Exchange that your changes to the assets in the revision are complete. After it''s in this read-only state, you can publish the revision to your products.'
    description: The request body for UpdateRevision.
