swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: 'The Azure SQL Database management API provides a RESTful set of web services that interact with Azure SQL Database services to manage your databases. The API enables users to create, retrieve, update, and delete Databases, Servers and related resources.'
  title: SqlManagementClient
  version: 2015-05-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-sql/2015-05-01/swagger/sql.json'
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-sql
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify Microsoft Azure subscription.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Sql/servers/{serverName}/securityAlertPolicies/Default':
    get:
      description: Returns an Azure SQL Server security alert policy.
      operationId: SecurityAlertPolicy_Get
      parameters:
        - description: The name of the Resource Group to which the server belongs.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Azure SQL Server.
          in: path
          name: serverName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The Server Threat Detection Policy
          schema:
            $ref: '#/definitions/ServerSecurityAlertPolicy'
      tags:
        - SecurityAlertPolicy
    put:
      description: Creates or updates an Azure SQL Server security alert policy.
      operationId: SecurityAlertPolicy_CreateOrUpdate
      parameters:
        - description: The required parameters for creating or updating a Azure SQL Server security alert policy.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/ServerSecurityAlertPolicyCreateOrUpdateParameters'
        - description: The name of the Resource Group to which the server belongs.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the Azure SQL Server.
          in: path
          name: serverName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The Server Threat Detection Policy
          schema:
            $ref: '#/definitions/ServerSecurityAlertPolicy'
        '201':
          description: The Server Threat Detection Policy
          schema:
            $ref: '#/definitions/ServerSecurityAlertPolicy'
      tags:
        - SecurityAlertPolicy
      x-ms-long-running-operation: true
definitions:
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  ServerSecurityAlertPolicy:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Represents an Azure SQL Server Security Alert Policy.
    properties:
      properties:
        $ref: '#/definitions/ServerSecurityAlertPolicyProperties'
        description: Represents the properties of the resource.
        x-ms-client-flatten: true
    x-ms-azure-resource: true
  ServerSecurityAlertPolicyCreateOrUpdateParameters:
    description: Create or update server security alert policy parameters.
    properties:
      properties:
        $ref: '#/definitions/ServerSecurityAlertPolicyProperties'
        description: Properties of the request.
        x-ms-client-flatten: true
    required:
      - properties
    x-ms-azure-resource: true
  ServerSecurityAlertPolicyProperties:
    description: Represents the properties of an Azure SQL Security alert policy.
    properties:
      disabledAlerts:
        description: The disable alerts of the Azure SQL Security alert policy.
        readOnly: true
        type: string
      emailAccountAdmins:
        description: Value that indicated whether to email the azure account admins.
        enum:
          - Enabled
          - Disabled
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: EmailAccountAdmins
      emailAddresses:
        description: The list of email addresses to send the alert.
        readOnly: true
        type: string
      state:
        description: 'The state of the Azure SQL Security alert policy (New, Enabled or Disabled).'
        enum:
          - Enabled
          - Disabled
          - New
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: State
