swagger: '2.0'
schemes:
  - https
host: commentanalyzer.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: The Perspective Comment Analyzer API provides information about the potential impact of a comment on a conversation (e.g. it can provide a score for the "toxicity" of a comment). Users can leverage the "SuggestCommentScore" method to submit corrections to improve Perspective over time. Users can set the "doNotStore" flag to ensure that all submitted comments are automatically deleted after scores are returned.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Perspective Comment Analyzer
  version: v1alpha1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://commentanalyzer.googleapis.com/$discovery/rest?version=v1alpha1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: commentanalyzer
externalDocs:
  url: 'https://github.com/conversationai/perspectiveapi/blob/master/README.md'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/userinfo.email': View your email address
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/userinfo.email': View your email address
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: comments
paths:
  '/v1alpha1/comments:analyze':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Analyzes the provided text and returns scores for requested attributes.
      operationId: commentanalyzer.comments.analyze
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AnalyzeCommentRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AnalyzeCommentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - comments
  '/v1alpha1/comments:suggestscore':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Suggest comment scores as training data.
      operationId: commentanalyzer.comments.suggestscore
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SuggestCommentScoreRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SuggestCommentScoreResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - comments
definitions:
  AnalyzeCommentRequest:
    description: The comment analysis request message.
    properties:
      clientToken:
        description: Opaque token that is echoed from the request to the response.
        type: string
      comment:
        $ref: '#/definitions/TextEntry'
        description: The comment to analyze.
      communityId:
        description: |-
          Optional identifier associating this AnalyzeCommentRequest with a
          particular client's community. Different communities may have different
          norms and rules. Specifying this value enables us to explore building
          community-specific models for clients.
        type: string
      context:
        $ref: '#/definitions/Context'
        description: The context of the comment.
      doNotStore:
        description: |-
          Do not store the comment or context sent in this request. By default, the
          service may store comments/context for debugging purposes.
        type: boolean
      languages:
        description: |-
          The language(s) of the comment and context (if none are specified, the
          language is automatically detected). If multiple languages are specified,
          the text is checked in all of them that are supported. Both ISO and BCP-47
          language codes are accepted.
          Current Language Restrictions:
           * Only English text ("en") is supported.
          If none of the languages specified by the caller are supported, an
          `UNIMPLEMENTED` error is returned.
        items:
          type: string
        type: array
      requestedAttributes:
        additionalProperties:
          $ref: '#/definitions/AttributeParameters'
        description: |-
          Specification of requested attributes. The AttributeParameters serve as
          configuration for each associated attribute. The map keys are attribute
          names. The following attributes are available:
          "ATTACK_ON_AUTHOR" - Attack on author of original article or post.
          "ATTACK_ON_COMMENTER" - Attack on fellow commenter.
          "ATTACK_ON_PUBLISHER" - Attack on publisher of article/post.
          "INCOHERENT" - Difficult to understand, nonsensical.
          "INFLAMMATORY" - Intending to provoke or inflame.
          "OBSCENE" - Obscene, such as cursing.
          "OFF_TOPIC" - Not related to the original topic.
          "SPAM" - Commercial/advertising spam content.
          "UNSUBSTANTIAL" - Trivial.
        type: object
      sessionId:
        description: |-
          Session ID. Used to join related RPCs into a single session. For example,
          an interactive tool that calls both the AnalyzeComment and
          SuggestCommentScore RPCs should set all invocations of both RPCs to the
          same Session ID, typically a random 64-bit integer.
        type: string
      spanAnnotations:
        description: |-
          An advisory parameter that will return span annotations if the model
          is capable of providing scores with sub-comment resolution. This will
          likely increase the size of the returned message.
        type: boolean
    type: object
  AnalyzeCommentResponse:
    description: The comment analysis response message.
    properties:
      attributeScores:
        additionalProperties:
          $ref: '#/definitions/AttributeScores'
        description: |-
          Scores for the requested attributes. The map keys are attribute names (same
          as the requested_attribute field in AnalyzeCommentRequest, for example
          "ATTACK_ON_AUTHOR", "INFLAMMATORY", etc).
        type: object
      clientToken:
        description: Same token from the original AnalyzeCommentRequest.
        type: string
      detectedLanguages:
        description: |-
          Contains the languages detected from the text content, sorted in order of
          likelihood.
        items:
          type: string
        type: array
      languages:
        description: |-
          The language(s) used by CommentAnalyzer service to choose which Model to
          use when analyzing the comment. Might better be called
          "effective_languages". The logic used to make the choice is as follows:
            if Request.languages.empty()
              effective_languages = detected_languages
            else
              effective_languages = Request.languages
        items:
          type: string
        type: array
    type: object
  ArticleAndParentComment:
    description: |-
      A type of context specific to a comment left on a single-threaded comment
      message board, where comments are either a top level comment or the child of
      a top level comment.
    properties:
      article:
        $ref: '#/definitions/TextEntry'
        description: |-
          The source content about which the comment was made (article text, article
          summary, video transcript, etc).
      parentComment:
        $ref: '#/definitions/TextEntry'
        description: |-
          Refers to text that is a direct parent of the source comment, such as in a
          one-deep threaded message board. This field will only be present for
          comments that are replies to other comments and will not be populated for
          direct comments on the article_text.
    type: object
  AttributeParameters:
    description: Configurable parameters for attribute scoring.
    properties:
      scoreThreshold:
        description: |-
          Don't return scores for this attribute that are below this threshold. If
          unset, a default threshold will be applied. A FloatValue wrapper is used to
          distinguish between 0 vs. default/unset.
        format: float
        type: number
      scoreType:
        description: 'What type of scores to return. If unset, defaults to probability scores.'
        enum:
          - SCORE_TYPE_UNSPECIFIED
          - PROBABILITY
          - STD_DEV_SCORE
          - PERCENTILE
          - RAW
        type: string
    type: object
  AttributeScores:
    description: |-
      This holds score values for a single attribute. It contains both per-span
      scores as well as an overall summary score..
    properties:
      spanScores:
        description: Per-span scores.
        items:
          $ref: '#/definitions/SpanScore'
        type: array
      summaryScore:
        $ref: '#/definitions/Score'
        description: Overall score for comment as a whole.
    type: object
  Context:
    description: |-
      Context is typically something that a Comment is referencing or replying to
      (such as an article, or previous comment).
      Note: Populate only ONE OF the following fields. The oneof syntax cannot be
      used because that would require nesting entries inside another message and
      breaking backwards compatibility. The server will return an error if more
      than one of the following fields is present.
    properties:
      articleAndParentComment:
        $ref: '#/definitions/ArticleAndParentComment'
        description: |-
          Information about the source for which the original comment was made, and
          any parent comment info.
      entries:
        description: 'A list of messages. For example, a linear comments section or forum thread.'
        items:
          $ref: '#/definitions/TextEntry'
        type: array
    type: object
  Score:
    description: Analysis scores are described by a value and a ScoreType.
    properties:
      type:
        description: The type of the above value.
        enum:
          - SCORE_TYPE_UNSPECIFIED
          - PROBABILITY
          - STD_DEV_SCORE
          - PERCENTILE
          - RAW
        type: string
      value:
        description: Score value. Semantics described by type below.
        format: float
        type: number
    type: object
  SpanScore:
    description: This is a single score for a given span of text.
    properties:
      begin:
        description: |-
          "begin" and "end" describe the span of the original text that the attribute
          score applies to. The values are the UTF-16 codepoint range. "end" is
          exclusive. For example, with the text "Hi there", the begin/end pair (0,2)
          describes the text "Hi".

          If "begin" and "end" are unset, the score applies to the full text.
        format: int32
        type: integer
      end:
        format: int32
        type: integer
      score:
        $ref: '#/definitions/Score'
        description: The score value.
    type: object
  SuggestCommentScoreRequest:
    description: The comment score suggestion request message.
    properties:
      attributeScores:
        additionalProperties:
          $ref: '#/definitions/AttributeScores'
        description: |-
          Attribute scores for the comment. The map keys are attribute names, same as
          the requested_attribute field in AnalyzeCommentRequest (for example
          "ATTACK_ON_AUTHOR", "INFLAMMATORY", etc.). This field has the same type as
          the `attribute_scores` field in AnalyzeCommentResponse.

          To specify an overall attribute score for the entire comment as a whole,
          use the `summary_score` field of the mapped AttributeScores object. To
          specify scores on specific subparts of the comment, use the `span_scores`
          field. All SpanScore objects must have begin and end fields set.

          All Score objects must be explicitly set (for binary classification, use
          the score values 0 and 1). If Score objects don't include a ScoreType,
          `PROBABILITY` is assumed.

          `attribute_scores` must not be empty. The mapped AttributeScores objects
          also must not be empty. An `INVALID_ARGUMENT` error is returned for all
          malformed requests.
        type: object
      clientToken:
        description: Opaque token that is echoed from the request to the response.
        type: string
      comment:
        $ref: '#/definitions/TextEntry'
        description: The comment being scored.
      communityId:
        description: |-
          Optional identifier associating this comment score suggestion with a
          particular sub-community. Different communities may have different norms
          and rules. Specifying this value enables training community-specific
          models.
        type: string
      context:
        $ref: '#/definitions/Context'
        description: The context of the comment.
      languages:
        description: |-
          The language(s) of the comment and context (if none are specified, the
          language is automatically detected). If multiple languages are specified,
          the text is checked in all of them that are supported. Both ISO and BCP-47
          language codes are accepted.
          Current Language Restrictions:
           * Only English text ("en") is supported.
          If none of the languages specified by the caller are supported, an
          `UNIMPLEMENTED` error is returned.
        items:
          type: string
        type: array
      sessionId:
        description: |-
          Session ID. Used to join related RPCs into a single session. For example,
          an interactive tool that calls both the AnalyzeComment and
          SuggestCommentScore RPCs should set all invocations of both RPCs to the
          same Session ID, typically a random 64-bit integer.
        type: string
    type: object
  SuggestCommentScoreResponse:
    description: The comment score suggestion response message.
    properties:
      clientToken:
        description: Same token from the original SuggestCommentScoreRequest.
        type: string
      detectedLanguages:
        description: The list of languages detected from the comment text.
        items:
          type: string
        type: array
      requestedLanguages:
        description: The list of languages provided in the request.
        items:
          type: string
        type: array
    type: object
  TextEntry:
    description: Represents a body of text.
    properties:
      text:
        description: UTF-8 encoded text.
        type: string
      type:
        description: Type of the text field.
        enum:
          - TEXT_TYPE_UNSPECIFIED
          - PLAIN_TEXT
          - HTML
        type: string
    type: object
