swagger: '2.0'
info:
  version: '2018-05-23'
  x-release: v4
  title: Amazon Kinesis Analytics
  description: Documentation for Kinesis Data Analytics API v2
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: kinesisanalyticsv2
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesisanalyticsv2-2018-05-23.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/kinesisanalytics/'
host: kinesisanalytics.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationCloudWatchLoggingOption':
    post:
      operationId: AddApplicationCloudWatchLoggingOption
      description: Adds an Amazon CloudWatch log stream to monitor application configuration errors.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationCloudWatchLoggingOptionResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationCloudWatchLoggingOptionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.AddApplicationCloudWatchLoggingOption
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationInput':
    post:
      operationId: AddApplicationInput
      description: '<p> Adds a streaming source to your SQL-based Amazon Kinesis Data Analytics application. </p> <p>You can add a streaming source when you create an application, or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationInputResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: CodeValidationException
          schema:
            $ref: '#/definitions/CodeValidationException'
        '485':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationInputRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.AddApplicationInput
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationInputProcessingConfiguration':
    post:
      operationId: AddApplicationInputProcessingConfiguration
      description: 'Adds an <a>InputProcessingConfiguration</a> to an SQL-based Kinesis Data Analytics application. An input processor pre-processes records on the input stream before the application''s SQL code executes. Currently, the only input processor available is <a href="https://aws.amazon.com/documentation/lambda/">AWS Lambda</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationInputProcessingConfigurationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationInputProcessingConfigurationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.AddApplicationInputProcessingConfiguration
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationOutput':
    post:
      operationId: AddApplicationOutput
      description: '<p>Adds an external destination to your SQL-based Amazon Kinesis Data Analytics application.</p> <p>If you want Kinesis Data Analytics to deliver data from an in-application stream within your application to an external destination (such as an Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationOutputResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationOutputRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.AddApplicationOutput
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationReferenceDataSource':
    post:
      operationId: AddApplicationReferenceDataSource
      description: '<p>Adds a reference data source to an existing SQL-based Amazon Kinesis Data Analytics application.</p> <p>Kinesis Data Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in an Amazon S3 object maps to columns in the resulting in-application table.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationReferenceDataSourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationReferenceDataSourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.AddApplicationReferenceDataSource
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.CreateApplication':
    post:
      operationId: CreateApplication
      description: '<p>Creates an Amazon Kinesis Data Analytics application. For information about creating a Kinesis Data Analytics application, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/Java/creating-app.html">Creating an Application</a>. </p> <note> <p>SQL is not enabled for this private beta release. Using SQL parameters (such as <a>SqlApplicationConfiguration</a>) will result in an error.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationResponse'
        '480':
          description: CodeValidationException
          schema:
            $ref: '#/definitions/CodeValidationException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.CreateApplication
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.CreateApplicationSnapshot':
    post:
      operationId: CreateApplicationSnapshot
      description: Creates a snapshot of the application's state data.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationSnapshotResponse'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '485':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationSnapshotRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.CreateApplicationSnapshot
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplication':
    post:
      operationId: DeleteApplication
      description: Deletes the specified application. Kinesis Data Analytics halts application execution and deletes the application.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.DeleteApplication
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationCloudWatchLoggingOption':
    post:
      operationId: DeleteApplicationCloudWatchLoggingOption
      description: 'Deletes an Amazon CloudWatch log stream from an Amazon Kinesis Data Analytics application. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationCloudWatchLoggingOptionResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationCloudWatchLoggingOptionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.DeleteApplicationCloudWatchLoggingOption
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationInputProcessingConfiguration':
    post:
      operationId: DeleteApplicationInputProcessingConfiguration
      description: Deletes an <a>InputProcessingConfiguration</a> from an input.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationInputProcessingConfigurationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationInputProcessingConfigurationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.DeleteApplicationInputProcessingConfiguration
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationOutput':
    post:
      operationId: DeleteApplicationOutput
      description: Deletes the output destination configuration from your SQL-based Amazon Kinesis Data Analytics application's configuration. Kinesis Data Analytics will no longer write data from the corresponding in-application stream to the external output destination.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationOutputResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationOutputRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.DeleteApplicationOutput
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationReferenceDataSource':
    post:
      operationId: DeleteApplicationReferenceDataSource
      description: '<p>Deletes a reference data source configuration from the specified SQL-based Amazon Kinesis Data Analytics application''s configuration.</p> <p>If the application is running, Kinesis Data Analytics immediately removes the in-application table that you created using the <a>AddApplicationReferenceDataSource</a> operation. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationReferenceDataSourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationReferenceDataSourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.DeleteApplicationReferenceDataSource
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationSnapshot':
    post:
      operationId: DeleteApplicationSnapshot
      description: Deletes a snapshot of application state.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationSnapshotResponse'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationSnapshotRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.DeleteApplicationSnapshot
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DescribeApplication':
    post:
      operationId: DescribeApplication
      description: '<p>Returns information about a specific Amazon Kinesis Data Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a>ListApplications</a> operation.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeApplicationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.DescribeApplication
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DescribeApplicationSnapshot':
    post:
      operationId: DescribeApplicationSnapshot
      description: Returns information about a snapshot of application state data.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeApplicationSnapshotResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeApplicationSnapshotRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.DescribeApplicationSnapshot
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DiscoverInputSchema':
    post:
      operationId: DiscoverInputSchema
      description: '<p>Infers a schema for an SQL-based Amazon Kinesis Data Analytics application by evaluating sample records on the specified streaming source (Kinesis data stream or Kinesis Data Firehose delivery stream) or Amazon S3 object. In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. When you create an application using the Kinesis Data Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DiscoverInputSchemaResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: UnableToDetectSchemaException
          schema:
            $ref: '#/definitions/UnableToDetectSchemaException'
        '482':
          description: ResourceProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ResourceProvisionedThroughputExceededException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DiscoverInputSchemaRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.DiscoverInputSchema
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.ListApplicationSnapshots':
    post:
      operationId: ListApplicationSnapshots
      description: Lists information about the current application snapshots.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationSnapshotsResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationSnapshotsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.ListApplicationSnapshots
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.ListApplications':
    post:
      operationId: ListApplications
      description: '<p>Returns a list of Amazon Kinesis Data Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. </p> <p>If you want detailed information about a specific application, use <a>DescribeApplication</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.ListApplications
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.StartApplication':
    post:
      operationId: StartApplication
      description: '<p>Starts the specified Amazon Kinesis Data Analytics application. After creating an application, you must exclusively call this operation to start your application.</p> <note> <p>SQL is not enabled for this private beta. Using SQL parameters (such as <a>RunConfiguration$SqlRunConfigurations</a>) will result in an error.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: InvalidApplicationConfigurationException
          schema:
            $ref: '#/definitions/InvalidApplicationConfigurationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartApplicationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.StartApplication
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.StopApplication':
    post:
      operationId: StopApplication
      description: 'Stops the application from processing data. You can stop an application only if it is in the running state. You can use the <a>DescribeApplication</a> operation to find the application state. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopApplicationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.StopApplication
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=KinesisAnalytics_20180523.UpdateApplication':
    post:
      operationId: UpdateApplication
      description: '<p>Updates an existing Amazon Kinesis Data Analytics application. Using this operation, you can update application code, input configuration, and output configuration. </p> <p>Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update your application. </p> <note> <p>SQL is not enabled for this private beta. Using SQL parameters (such as <a>SqlApplicationConfigurationUpdate</a>) will result in an error.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApplicationResponse'
        '480':
          description: CodeValidationException
          schema:
            $ref: '#/definitions/CodeValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '485':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateApplicationRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - KinesisAnalytics_20180523.UpdateApplication
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AddApplicationCloudWatchLoggingOptionResponse:
    type: object
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application's ARN.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. '
      CloudWatchLoggingOptionDescriptions:
        $ref: '#/definitions/CloudWatchLoggingOptionDescriptions'
        description: The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.
  AddApplicationCloudWatchLoggingOptionRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - CloudWatchLoggingOption
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The Kinesis Data Analytics application name.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.
      CloudWatchLoggingOption:
        $ref: '#/definitions/CloudWatchLoggingOption'
        description: 'Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). '
  ResourceNotFoundException: {}
  ResourceInUseException: {}
  InvalidArgumentException: {}
  ConcurrentModificationException: {}
  InvalidRequestException: {}
  AddApplicationInputResponse:
    type: object
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: Provides the current application version.
      InputDescriptions:
        $ref: '#/definitions/InputDescriptions'
        description: 'Describes the application input configuration. '
  AddApplicationInputRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - Input
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of your existing application to which you want to add the streaming source.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The current version of your application. You can use the <a>DescribeApplication</a> operation to find the current application version.
      Input:
        $ref: '#/definitions/Input'
        description: The <a>Input</a> to add.
  CodeValidationException: {}
  AddApplicationInputProcessingConfigurationResponse:
    type: object
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: Provides the current application version.
      InputId:
        $ref: '#/definitions/Id'
        description: The input ID that is associated with the application input. This is the ID that Amazon Kinesis Data Analytics assigns to each input configuration that you add to your application.
      InputProcessingConfigurationDescription:
        $ref: '#/definitions/InputProcessingConfigurationDescription'
        description: The description of the preprocessor that executes on records in this input before the application's code is run.
  AddApplicationInputProcessingConfigurationRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - InputId
      - InputProcessingConfiguration
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application to which you want to add the input processing configuration.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.'
      InputId:
        $ref: '#/definitions/Id'
        description: The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.
      InputProcessingConfiguration:
        $ref: '#/definitions/InputProcessingConfiguration'
        description: The <a>InputProcessingConfiguration</a> to add to the application.
  AddApplicationOutputResponse:
    type: object
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The updated application version ID. Kinesis Data Analytics increments this ID when the application is updated.
      OutputDescriptions:
        $ref: '#/definitions/OutputDescriptions'
        description: 'Describes the application output configuration. For more information, see <a href="http://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html">Configuring Application Output</a>. '
  AddApplicationOutputRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - Output
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application to which you want to add the output configuration.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The version of the application to which you want to add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. '
      Output:
        $ref: '#/definitions/Output'
        description: 'An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, a Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), and record the formation to use when writing to the destination.'
  AddApplicationReferenceDataSourceResponse:
    type: object
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The updated application version ID. Amazon Kinesis Data Analytics increments this ID when the application is updated.
      ReferenceDataSourceDescriptions:
        $ref: '#/definitions/ReferenceDataSourceDescriptions'
        description: 'Describes reference data sources configured for the application. '
  AddApplicationReferenceDataSourceRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - ReferenceDataSource
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.'
      ReferenceDataSource:
        $ref: '#/definitions/ReferenceDataSource'
        description: 'The reference data source can be an object in your Amazon S3 bucket. Kinesis Data Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. '
  CreateApplicationResponse:
    type: object
    required:
      - ApplicationDetail
    properties:
      ApplicationDetail:
        $ref: '#/definitions/ApplicationDetail'
        description: 'In response to your <code>CreateApplication</code> request, Kinesis Data Analytics returns a response with details of the application it created.'
  CreateApplicationRequest:
    type: object
    required:
      - ApplicationName
      - RuntimeEnvironment
      - ServiceExecutionRole
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: 'The name of your application (for example, <code>sample-app</code>).'
      ApplicationDescription:
        $ref: '#/definitions/ApplicationDescription'
        description: A summary description of the application.
      RuntimeEnvironment:
        $ref: '#/definitions/RuntimeEnvironment'
        description: The runtime environment for the application (<code>SQL-1.0</code> or <code>JAVA-8-FLINK-1.5</code>).
      ServiceExecutionRole:
        $ref: '#/definitions/RoleARN'
        description: 'The IAM role used by the application to access Kinesis data streams, Kinesis Data Firehose delivery streams, Amazon S3 objects, and other external resources.'
      ApplicationConfiguration:
        $ref: '#/definitions/ApplicationConfiguration'
        description: Use this parameter to configure the application.
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: 'Use this parameter to configure an Amazon CloudWatch log stream to monitor application configuration errors. '
  LimitExceededException: {}
  CreateApplicationSnapshotResponse:
    type: object
    properties: {}
  CreateApplicationSnapshotRequest:
    type: object
    required:
      - ApplicationName
      - SnapshotName
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application
      SnapshotName:
        $ref: '#/definitions/SnapshotName'
        description: An identifier for the application snapshot.
  UnsupportedOperationException: {}
  DeleteApplicationResponse:
    type: object
    properties: {}
  DeleteApplicationRequest:
    type: object
    required:
      - ApplicationName
      - CreateTimestamp
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application to delete.
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: Use the <code>DescribeApplication</code> operation to get this value.
  DeleteApplicationCloudWatchLoggingOptionResponse:
    type: object
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application's Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The version ID of the application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options.
      CloudWatchLoggingOptionDescriptions:
        $ref: '#/definitions/CloudWatchLoggingOptionDescriptions'
        description: The descriptions of the remaining CloudWatch logging options for the application.
  DeleteApplicationCloudWatchLoggingOptionRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - CloudWatchLoggingOptionId
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The application name.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The version ID of the application. You can retrieve the application version ID using <a>DescribeApplication</a>.
      CloudWatchLoggingOptionId:
        $ref: '#/definitions/Id'
        description: 'The <code>CloudWatchLoggingOptionId</code> of the Amazon CloudWatch logging option to delete. You can get the <code>CloudWatchLoggingOptionId</code> by using the <a>DescribeApplication</a> operation. '
  DeleteApplicationInputProcessingConfigurationResponse:
    type: object
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The current application version ID.
  DeleteApplicationInputProcessingConfigurationRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - InputId
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. '
      InputId:
        $ref: '#/definitions/Id'
        description: The ID of the input configuration from which to delete the input processing configuration. You can get a list of the input IDs for an application by using the <a>DescribeApplication</a> operation.
  DeleteApplicationOutputResponse:
    type: object
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The current application version ID.
  DeleteApplicationOutputRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - OutputId
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The application name.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. '
      OutputId:
        $ref: '#/definitions/Id'
        description: 'The ID of the configuration to delete. Each output configuration that is added to the application (either when the application is created or later) using the <a>AddApplicationOutput</a> operation has a unique ID. You need to provide the ID to uniquely identify the output configuration that you want to delete from the application configuration. You can use the <a>DescribeApplication</a> operation to get the specific <code>OutputId</code>. '
  DeleteApplicationReferenceDataSourceResponse:
    type: object
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The updated version ID of the application.
  DeleteApplicationReferenceDataSourceRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - ReferenceId
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The current application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.'
      ReferenceId:
        $ref: '#/definitions/Id'
        description: 'The ID of the reference data source. When you add a reference data source to your application using the <a>AddApplicationReferenceDataSource</a>, Kinesis Data Analytics assigns an ID. You can use the <a>DescribeApplication</a> operation to get the reference ID. '
  DeleteApplicationSnapshotResponse:
    type: object
    properties: {}
  DeleteApplicationSnapshotRequest:
    type: object
    required:
      - ApplicationName
      - SnapshotName
      - SnapshotCreationTimestamp
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application.
      SnapshotName:
        $ref: '#/definitions/SnapshotName'
        description: The identifier for the snapshot delete.
      SnapshotCreationTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The creation timestamp of the application snapshot to delete. You can retrieve this value using or .
  DescribeApplicationResponse:
    type: object
    required:
      - ApplicationDetail
    properties:
      ApplicationDetail:
        $ref: '#/definitions/ApplicationDetail'
        description: 'Provides a description of the application, such as the application''s Amazon Resource Name (ARN), status, and latest version.'
  DescribeApplicationRequest:
    type: object
    required:
      - ApplicationName
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application.
      IncludeAdditionalDetails:
        $ref: '#/definitions/BooleanObject'
        description: 'Displays verbose information about a Kinesis Data Analytics application, including the application''s job plan.'
  DescribeApplicationSnapshotResponse:
    type: object
    required:
      - SnapshotDetails
    properties:
      SnapshotDetails:
        $ref: '#/definitions/SnapshotDetails'
        description: An object containing information about the application snapshot.
  DescribeApplicationSnapshotRequest:
    type: object
    required:
      - ApplicationName
      - SnapshotName
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application.
      SnapshotName:
        $ref: '#/definitions/SnapshotName'
        description: The identifier of an application snapshot. You can retrieve this value using .
  DiscoverInputSchemaResponse:
    type: object
    properties:
      InputSchema:
        $ref: '#/definitions/SourceSchema'
        description: The schema inferred from the streaming source. It identifies the format of the data in the streaming source and how each data element maps to corresponding columns in the in-application stream that you can create.
      ParsedInputRecords:
        $ref: '#/definitions/ParsedInputRecords'
        description: 'An array of elements, where each element corresponds to a row in a stream record (a stream record can have more than one row).'
      ProcessedInputRecords:
        $ref: '#/definitions/ProcessedInputRecords'
        description: The stream data that was modified by the processor specified in the <code>InputProcessingConfiguration</code> parameter.
      RawInputRecords:
        $ref: '#/definitions/RawInputRecords'
        description: The raw stream data that was sampled to infer the schema.
  DiscoverInputSchemaRequest:
    type: object
    required:
      - ServiceExecutionRole
    properties:
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the streaming source.
      ServiceExecutionRole:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the role that is used to access the streaming source.
      InputStartingPositionConfiguration:
        $ref: '#/definitions/InputStartingPositionConfiguration'
        description: The point at which you want Kinesis Data Analytics to start reading records from the specified streaming source discovery purposes.
      S3Configuration:
        $ref: '#/definitions/S3Configuration'
        description: Specify this parameter to discover a schema from data in an Amazon S3 object.
      InputProcessingConfiguration:
        $ref: '#/definitions/InputProcessingConfiguration'
        description: The <a>InputProcessingConfiguration</a> to use to preprocess the records before discovering the schema of the records.
  UnableToDetectSchemaException: {}
  ResourceProvisionedThroughputExceededException: {}
  ServiceUnavailableException: {}
  ListApplicationSnapshotsResponse:
    type: object
    properties:
      SnapshotSummaries:
        $ref: '#/definitions/SnapshotSummaries'
        description: A collection of objects containing information about the application snapshots.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'The token for the next set of results, or <code>null</code> if there are no additional results.'
  ListApplicationSnapshotsRequest:
    type: object
    required:
      - ApplicationName
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application.
      Limit:
        $ref: '#/definitions/ListSnapshotsInputLimit'
        description: The maximum number of application snapshots to list.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'Use this parameter if you receive a <code>NextToken</code> response in a previous request that indicates that there is more output available. Set it to the value of the previous call''s <code>NextToken</code> response to indicate where the output should continue from. '
  ListApplicationsResponse:
    type: object
    required:
      - ApplicationSummaries
    properties:
      ApplicationSummaries:
        $ref: '#/definitions/ApplicationSummaries'
        description: A list of <code>ApplicationSummary</code> objects.
      NextToken:
        $ref: '#/definitions/ApplicationName'
        description: 'The pagination token for the next set of results, or <code>null</code> if there are no additional results. Pass this token into a subsequent command to retrieve the next set of items For more information about pagination, see <a href="https://docs.aws.amazon.com/cli/latest/userguide/pagination.html">Using the AWS Command Line Interface''s Pagination Options</a>.'
  ListApplicationsRequest:
    type: object
    properties:
      Limit:
        $ref: '#/definitions/ListApplicationsInputLimit'
        description: The maximum number of applications to list.
      NextToken:
        $ref: '#/definitions/ApplicationName'
        description: 'If a previous command returned a pagination token, pass it into this value to retrieve the next set of results. For more information about pagination, see <a href="https://docs.aws.amazon.com/cli/latest/userguide/pagination.html">Using the AWS Command Line Interface''s Pagination Options</a>.'
  StartApplicationResponse:
    type: object
    properties: {}
  StartApplicationRequest:
    type: object
    required:
      - ApplicationName
      - RunConfiguration
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application.
      RunConfiguration:
        $ref: '#/definitions/RunConfiguration'
        description: Identifies the run configuration (start parameters) of a Kinesis Data Analytics application.
  InvalidApplicationConfigurationException: {}
  StopApplicationResponse:
    type: object
    properties: {}
  StopApplicationRequest:
    type: object
    required:
      - ApplicationName
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the running application to stop.
  UpdateApplicationResponse:
    type: object
    required:
      - ApplicationDetail
    properties:
      ApplicationDetail:
        $ref: '#/definitions/ApplicationDetail'
        description: Describes application updates.
  UpdateApplicationRequest:
    type: object
    required:
      - ApplicationName
      - CurrentApplicationVersionId
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application to update.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The current application version ID. You can retrieve the application version ID using <a>DescribeApplication</a>.
      ApplicationConfigurationUpdate:
        $ref: '#/definitions/ApplicationConfigurationUpdate'
        description: Describes application configuration updates.
      ServiceExecutionRoleUpdate:
        $ref: '#/definitions/RoleARN'
        description: Describes updates to the service execution role.
      RunConfigurationUpdate:
        $ref: '#/definitions/RunConfigurationUpdate'
        description: Describes updates to the application's starting parameters.
      CloudWatchLoggingOptionUpdates:
        $ref: '#/definitions/CloudWatchLoggingOptionUpdates'
        description: 'Describes application Amazon CloudWatch logging option updates. You can only update existing CloudWatch logging options with this action. To add a new CloudWatch logging option, use <a>AddApplicationCloudWatchLoggingOption</a>.'
  ApplicationName:
    type: string
    pattern: '[a-zA-Z0-9_.-]+'
    minLength: 1
    maxLength: 128
  ApplicationVersionId:
    type: integer
    minimum: 1
    maximum: 999999999
  CloudWatchLoggingOption:
    type: object
    required:
      - LogStreamARN
    properties:
      LogStreamARN:
        $ref: '#/definitions/LogStreamARN'
        description: The ARN of the CloudWatch log to receive application messages.
    description: 'Provides a description of Amazon CloudWatch logging options, including the log stream Amazon Resource Name (ARN). '
  ResourceARN:
    type: string
    pattern: 'arn:.*'
    minLength: 1
    maxLength: 2048
  CloudWatchLoggingOptionDescriptions:
    type: array
    items:
      $ref: '#/definitions/CloudWatchLoggingOptionDescription'
  Id:
    type: string
    pattern: '[a-zA-Z0-9_.-]+'
    minLength: 1
    maxLength: 50
  InputProcessingConfiguration:
    type: object
    required:
      - InputLambdaProcessor
    properties:
      InputLambdaProcessor:
        $ref: '#/definitions/InputLambdaProcessor'
        description: The <a>InputLambdaProcessor</a> that is used to preprocess the records in the stream before being processed by your application code.
    description: 'For an SQL-based Amazon Kinesis Data Analytics application, describes a processor that is used to preprocess the records in the stream before being processed by your application code. Currently, the only input processor available is <a href="https://aws.amazon.com/documentation/lambda/">AWS Lambda</a>.'
  InputProcessingConfigurationDescription:
    type: object
    properties:
      InputLambdaProcessorDescription:
        $ref: '#/definitions/InputLambdaProcessorDescription'
        description: 'Provides configuration information about the associated <a>InputLambdaProcessorDescription</a> '
    description: 'For an SQL-based Amazon Kinesis Data Analytics application, provides the configuration information about an input processor. Currently, the only input processor available is <a href="https://aws.amazon.com/documentation/lambda/">AWS Lambda</a>.'
  Input:
    type: object
    required:
      - NamePrefix
      - InputSchema
    properties:
      NamePrefix:
        $ref: '#/definitions/InAppStreamName'
        description: 'The name prefix to use when creating an in-application stream. Suppose that you specify a prefix "<code>MyInApplicationStream</code>." Kinesis Data Analytics then creates one or more (as per the <code>InputParallelism</code> count you specified) in-application streams with the names "<code>MyInApplicationStream_001</code>," "<code>MyInApplicationStream_002</code>," and so on. '
      InputProcessingConfiguration:
        $ref: '#/definitions/InputProcessingConfiguration'
        description: 'The <a>InputProcessingConfiguration</a> for the input. An input processor transforms records as they are received from the stream, before the application''s SQL code executes. Currently, the only input processing configuration available is <a>InputLambdaProcessor</a>. '
      KinesisStreamsInput:
        $ref: '#/definitions/KinesisStreamsInput'
        description: 'If the streaming source is an Amazon Kinesis data stream, identifies the stream''s Amazon Resource Name (ARN). '
      KinesisFirehoseInput:
        $ref: '#/definitions/KinesisFirehoseInput'
        description: 'If the streaming source is an Amazon Kinesis Data Firehose delivery stream, identifies the delivery stream''s ARN.'
      InputParallelism:
        $ref: '#/definitions/InputParallelism'
        description: 'Describes the number of in-application streams to create. '
      InputSchema:
        $ref: '#/definitions/SourceSchema'
        description: '<p>Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created.</p> <p>Also used to describe the format of the reference data source.</p>'
    description: 'When you configure the application input for an SQL-based Amazon Kinesis Data Analytics application, you specify the streaming source, the in-application stream name that is created, and the mapping between the two. '
  InputDescriptions:
    type: array
    items:
      $ref: '#/definitions/InputDescription'
  Output:
    type: object
    required:
      - Name
      - DestinationSchema
    properties:
      Name:
        $ref: '#/definitions/InAppStreamName'
        description: The name of the in-application stream.
      KinesisStreamsOutput:
        $ref: '#/definitions/KinesisStreamsOutput'
        description: Identifies an Amazon Kinesis data stream as the destination.
      KinesisFirehoseOutput:
        $ref: '#/definitions/KinesisFirehoseOutput'
        description: Identifies an Amazon Kinesis Data Firehose delivery stream as the destination.
      LambdaOutput:
        $ref: '#/definitions/LambdaOutput'
        description: Identifies an AWS Lambda function as the destination.
      DestinationSchema:
        $ref: '#/definitions/DestinationSchema'
        description: 'Describes the data format when records are written to the destination. '
    description: '<p> Describes an SQL-based Amazon Kinesis Data Analytics application''s output configuration, in which you identify an in-application stream and a destination where you want the in-application stream data to be written. The destination can be a Kinesis data stream or a Kinesis Data Firehose delivery stream. </p> <p/>'
  OutputDescriptions:
    type: array
    items:
      $ref: '#/definitions/OutputDescription'
  ReferenceDataSource:
    type: object
    required:
      - TableName
      - ReferenceSchema
    properties:
      TableName:
        $ref: '#/definitions/InAppTableName'
        description: The name of the in-application table to create.
      S3ReferenceDataSource:
        $ref: '#/definitions/S3ReferenceDataSource'
        description: 'Identifies the S3 bucket and object that contains the reference data. A Kinesis Data Analytics application loads reference data only once. If the data changes, you call the <a>UpdateApplication</a> operation to trigger reloading of data into your application. '
      ReferenceSchema:
        $ref: '#/definitions/SourceSchema'
        description: 'Describes the format of the data in the streaming source, and how each data element maps to corresponding columns created in the in-application stream.'
    description: 'For an SQL-based Amazon Kinesis Data Analytics application, describes the reference data source by providing the source information (Amazon S3 bucket name and object key name), the resulting in-application table name that is created, and the necessary schema to map the data elements in the Amazon S3 object to the in-application table.'
  ReferenceDataSourceDescriptions:
    type: array
    items:
      $ref: '#/definitions/ReferenceDataSourceDescription'
  CodeContent:
    type: object
    properties:
      TextContent:
        $ref: '#/definitions/TextContent'
        description: The text-format code for a Java-based Kinesis Data Analytics application.
      ZipFileContent:
        $ref: '#/definitions/ZipFileContent'
        description: The zip-format code for a Java-based Kinesis Data Analytics application.
      S3ContentLocation:
        $ref: '#/definitions/S3ContentLocation'
        description: Information about the Amazon S3 bucket containing the application code.
    description: 'Specifies either the application code, or the location of the application code, for a Java-based Amazon Kinesis Data Analytics application. '
  CodeContentType:
    type: string
    enum:
      - PLAINTEXT
      - ZIPFILE
  ApplicationCodeConfiguration:
    type: object
    required:
      - CodeContentType
    properties:
      CodeContent:
        $ref: '#/definitions/CodeContent'
        description: The location and type of the application code.
      CodeContentType:
        $ref: '#/definitions/CodeContentType'
        description: Specifies whether the code content is in text or zip format.
    description: Describes code configuration for a Java-based Kinesis Data Analytics application.
  CodeContentDescription:
    type: object
    properties:
      TextContent:
        $ref: '#/definitions/TextContent'
        description: The text-format code
      CodeMD5:
        $ref: '#/definitions/CodeMD5'
        description: The checksum that can be used to validate zip-format code.
      CodeSize:
        $ref: '#/definitions/CodeSize'
        description: The size in bytes of the application code. Can be used to validate zip-format code.
      S3ApplicationCodeLocationDescription:
        $ref: '#/definitions/S3ApplicationCodeLocationDescription'
        description: 'The S3 bucket Amazon Resource Name (ARN), file key, and object version of the application code stored in Amazon S3.'
    description: Describes details about the application code for a Java-based Kinesis Data Analytics application.
  ApplicationCodeConfigurationDescription:
    type: object
    required:
      - CodeContentType
    properties:
      CodeContentType:
        $ref: '#/definitions/CodeContentType'
        description: Specifies whether the code content is in text or zip format.
      CodeContentDescription:
        $ref: '#/definitions/CodeContentDescription'
        description: Describes details about the location and format of the application code.
    description: Describes code configuration for a Java-based Kinesis Data Analytics application.
  CodeContentUpdate:
    type: object
    properties:
      TextContentUpdate:
        $ref: '#/definitions/TextContent'
        description: Describes an update to the text code for an application.
      ZipFileContentUpdate:
        $ref: '#/definitions/ZipFileContent'
        description: Describes an update to the zipped code for an application.
      S3ContentLocationUpdate:
        $ref: '#/definitions/S3ContentLocationUpdate'
        description: Describes an update to the location of code for an application.
    description: Describes an update to the code of a Java-based Kinesis Data Analytics application.
  ApplicationCodeConfigurationUpdate:
    type: object
    properties:
      CodeContentTypeUpdate:
        $ref: '#/definitions/CodeContentType'
        description: Describes updates to the code content type.
      CodeContentUpdate:
        $ref: '#/definitions/CodeContentUpdate'
        description: Describes updates to the code content of an application.
    description: Describes updates to a Java-based Amazon Kinesis Data Analytics application.
  SqlApplicationConfiguration:
    type: object
    properties:
      Inputs:
        $ref: '#/definitions/Inputs'
        description: The array of <a>Input</a> objects describing the input streams used by the application.
      Outputs:
        $ref: '#/definitions/Outputs'
        description: The array of <a>Output</a> objects describing the destination streams used by the application.
      ReferenceDataSources:
        $ref: '#/definitions/ReferenceDataSources'
        description: The array of <a>ReferenceDataSource</a> objects describing the reference data sources used by the application.
    description: 'Describes the inputs, outputs, and reference data sources for an SQL-based Kinesis Data Analytics application.'
  FlinkApplicationConfiguration:
    type: object
    properties:
      CheckpointConfiguration:
        $ref: '#/definitions/CheckpointConfiguration'
        description: 'Describes an application''s checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance. For more information, see <a href="https://ci.apache.org/projects/flink/flink-docs-release-1.6/concepts/programming-model.html#checkpoints-for-fault-tolerance"> Checkpoints for Fault Tolerance</a> in the <a href="https://ci.apache.org/projects/flink/flink-docs-release-1.6/">Apache Flink Documentation</a>. '
      MonitoringConfiguration:
        $ref: '#/definitions/MonitoringConfiguration'
        description: Describes configuration parameters for Amazon CloudWatch logging for an application.
      ParallelismConfiguration:
        $ref: '#/definitions/ParallelismConfiguration'
        description: Describes parameters for how an application executes multiple tasks simultaneously.
    description: Describes configuration parameters for a Java-based Amazon Kinesis Data Analytics application.
  EnvironmentProperties:
    type: object
    required:
      - PropertyGroups
    properties:
      PropertyGroups:
        $ref: '#/definitions/PropertyGroups'
        description: Describes the execution property groups.
    description: Describes execution properties for a Java-based Kinesis Data Analytics application.
  ApplicationSnapshotConfiguration:
    type: object
    required:
      - SnapshotsEnabled
    properties:
      SnapshotsEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
  ApplicationConfiguration:
    type: object
    required:
      - ApplicationCodeConfiguration
    properties:
      SqlApplicationConfiguration:
        $ref: '#/definitions/SqlApplicationConfiguration'
        description: The creation and update parameters for an SQL-based Kinesis Data Analytics application.
      FlinkApplicationConfiguration:
        $ref: '#/definitions/FlinkApplicationConfiguration'
        description: The creation and update parameters for a Java-based Kinesis Data Analytics application.
      EnvironmentProperties:
        $ref: '#/definitions/EnvironmentProperties'
        description: Describes execution properties for a Java-based Kinesis Data Analytics application.
      ApplicationCodeConfiguration:
        $ref: '#/definitions/ApplicationCodeConfiguration'
        description: The code location and type parameters for a Java-based Kinesis Data Analytics application.
      ApplicationSnapshotConfiguration:
        $ref: '#/definitions/ApplicationSnapshotConfiguration'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    description: Specifies the creation parameters for an Amazon Kinesis Data Analytics application.
  SqlApplicationConfigurationDescription:
    type: object
    properties:
      InputDescriptions:
        $ref: '#/definitions/InputDescriptions'
        description: The array of <a>InputDescription</a> objects describing the input streams used by the application.
      OutputDescriptions:
        $ref: '#/definitions/OutputDescriptions'
        description: The array of <a>OutputDescription</a> objects describing the destination streams used by the application.
      ReferenceDataSourceDescriptions:
        $ref: '#/definitions/ReferenceDataSourceDescriptions'
        description: The array of <a>ReferenceDataSourceDescription</a> objects describing the reference data sources used by the application.
    description: 'Describes the inputs, outputs, and reference data sources for an SQL-based Kinesis Data Analytics application.'
  RunConfigurationDescription:
    type: object
    properties:
      ApplicationRestoreConfigurationDescription:
        $ref: '#/definitions/ApplicationRestoreConfiguration'
        description: Describes the restore behavior of a restarting application.
    description: Describes the starting properties for a Kinesis Data Analytics application.
  FlinkApplicationConfigurationDescription:
    type: object
    properties:
      CheckpointConfigurationDescription:
        $ref: '#/definitions/CheckpointConfigurationDescription'
        description: Describes an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance.
      MonitoringConfigurationDescription:
        $ref: '#/definitions/MonitoringConfigurationDescription'
        description: Describes configuration parameters for Amazon CloudWatch logging for an application.
      ParallelismConfigurationDescription:
        $ref: '#/definitions/ParallelismConfigurationDescription'
        description: Describes parameters for how an application executes multiple tasks simultaneously.
      JobPlanDescription:
        $ref: '#/definitions/JobPlanDescription'
        description: 'The job plan for an application. For more information about the job plan, see <a href="https://ci.apache.org/projects/flink/flink-docs-stable/internals/job_scheduling.html">Jobs and Scheduling</a> in the <a href="https://ci.apache.org/projects/flink/flink-docs-release-1.6/">Apache Flink Documentation</a>. To retrieve the job plan for the application, use the <a>DescribeApplicationRequest$IncludeAdditionalDetails</a> parameter of the <a>DescribeApplication</a> operation.'
    description: Describes configuration parameters for a Java-based Amazon Kinesis Data Analytics application.
  EnvironmentPropertyDescriptions:
    type: object
    properties:
      PropertyGroupDescriptions:
        $ref: '#/definitions/PropertyGroups'
        description: Describes the execution property groups.
    description: Describes the execution properties for a Java-based Amazon Kinesis Data Analytics application.
  ApplicationSnapshotConfigurationDescription:
    type: object
    required:
      - SnapshotsEnabled
    properties:
      SnapshotsEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
  ApplicationConfigurationDescription:
    type: object
    properties:
      SqlApplicationConfigurationDescription:
        $ref: '#/definitions/SqlApplicationConfigurationDescription'
        description: 'The details about inputs, outputs, and reference data sources for an SQL-based Kinesis Data Analytics application.'
      ApplicationCodeConfigurationDescription:
        $ref: '#/definitions/ApplicationCodeConfigurationDescription'
        description: The details about the application code for a Java-based Kinesis Data Analytics application.
      RunConfigurationDescription:
        $ref: '#/definitions/RunConfigurationDescription'
        description: The details about the starting properties for a Kinesis Data Analytics application.
      FlinkApplicationConfigurationDescription:
        $ref: '#/definitions/FlinkApplicationConfigurationDescription'
        description: The details about a Java-based Kinesis Data Analytics application.
      EnvironmentPropertyDescriptions:
        $ref: '#/definitions/EnvironmentPropertyDescriptions'
        description: Describes execution properties for a Java-based Kinesis Data Analytics application.
      ApplicationSnapshotConfigurationDescription:
        $ref: '#/definitions/ApplicationSnapshotConfigurationDescription'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    description: Describes details about the application code and starting parameters for an Amazon Kinesis Data Analytics application.
  SqlApplicationConfigurationUpdate:
    type: object
    properties:
      InputUpdates:
        $ref: '#/definitions/InputUpdates'
        description: The array of <a>InputUpdate</a> objects describing the new input streams used by the application.
      OutputUpdates:
        $ref: '#/definitions/OutputUpdates'
        description: The array of <a>OutputUpdate</a> objects describing the new destination streams used by the application.
      ReferenceDataSourceUpdates:
        $ref: '#/definitions/ReferenceDataSourceUpdates'
        description: The array of <a>ReferenceDataSourceUpdate</a> objects describing the new reference data sources used by the application.
    description: 'Describes updates to the input streams, destination streams, and reference data sources for an SQL-based Kinesis Data Analytics application.'
  FlinkApplicationConfigurationUpdate:
    type: object
    properties:
      CheckpointConfigurationUpdate:
        $ref: '#/definitions/CheckpointConfigurationUpdate'
        description: Describes updates to an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance.
      MonitoringConfigurationUpdate:
        $ref: '#/definitions/MonitoringConfigurationUpdate'
        description: Describes updates to the configuration parameters for Amazon CloudWatch logging for an application.
      ParallelismConfigurationUpdate:
        $ref: '#/definitions/ParallelismConfigurationUpdate'
        description: Describes updates to the parameters for how an application executes multiple tasks simultaneously.
    description: Describes updates to the configuration parameters for a Java-based Amazon Kinesis Data Analytics application.
  EnvironmentPropertyUpdates:
    type: object
    required:
      - PropertyGroups
    properties:
      PropertyGroups:
        $ref: '#/definitions/PropertyGroups'
        description: Describes updates to the execution property groups.
    description: Describes updates to the execution property groups for a Java-based Amazon Kinesis Data Analytics application.
  ApplicationSnapshotConfigurationUpdate:
    type: object
    required:
      - SnapshotsEnabledUpdate
    properties:
      SnapshotsEnabledUpdate:
        $ref: '#/definitions/BooleanObject'
        description: Describes updates to whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    description: Describes updates to whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
  ApplicationConfigurationUpdate:
    type: object
    properties:
      SqlApplicationConfigurationUpdate:
        $ref: '#/definitions/SqlApplicationConfigurationUpdate'
        description: Describes updates to an SQL-based Kinesis Data Analytics application's configuration.
      ApplicationCodeConfigurationUpdate:
        $ref: '#/definitions/ApplicationCodeConfigurationUpdate'
        description: Describes updates to a Java-based Kinesis Data Analytics application's code configuration.
      FlinkApplicationConfigurationUpdate:
        $ref: '#/definitions/FlinkApplicationConfigurationUpdate'
        description: Describes updates to a Java-based Kinesis Data Analytics application's configuration.
      EnvironmentPropertyUpdates:
        $ref: '#/definitions/EnvironmentPropertyUpdates'
        description: Describes updates to the environment properties for a Java-based Kinesis Data Analytics application.
      ApplicationSnapshotConfigurationUpdate:
        $ref: '#/definitions/ApplicationSnapshotConfigurationUpdate'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    description: Describes updates to an application's configuration.
  ApplicationDescription:
    type: string
    minLength: 0
    maxLength: 1024
  RuntimeEnvironment:
    type: string
    enum:
      - SQL-1_0
      - FLINK-1_6
  RoleARN:
    type: string
    pattern: 'arn:aws:iam::\d{12}:role/?[a-zA-Z_0-9+=,.@\-_/]+'
    minLength: 1
    maxLength: 2048
  ApplicationStatus:
    type: string
    enum:
      - DELETING
      - STARTING
      - STOPPING
      - READY
      - RUNNING
      - UPDATING
  Timestamp:
    type: string
    format: date-time
  ApplicationDetail:
    type: object
    required:
      - ApplicationARN
      - ApplicationName
      - RuntimeEnvironment
      - ApplicationStatus
      - ApplicationVersionId
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The ARN of the application.
      ApplicationDescription:
        $ref: '#/definitions/ApplicationDescription'
        description: The description of the application.
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application.
      RuntimeEnvironment:
        $ref: '#/definitions/RuntimeEnvironment'
        description: The runtime environment for the application (<code>SQL-1.0</code> or <code>JAVA-8-FLINK-1.5</code>).
      ServiceExecutionRole:
        $ref: '#/definitions/RoleARN'
        description: Specifies the IAM role that the application uses to access external resources.
      ApplicationStatus:
        $ref: '#/definitions/ApplicationStatus'
        description: The status of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: Provides the current application version. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update the application.
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The current timestamp when the application was created.
      LastUpdateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The current timestamp when the application was last updated.
      ApplicationConfigurationDescription:
        $ref: '#/definitions/ApplicationConfigurationDescription'
        description: Provides details about the application's SQL or Java code and starting parameters.
      CloudWatchLoggingOptionDescriptions:
        $ref: '#/definitions/CloudWatchLoggingOptionDescriptions'
        description: Describes the application Amazon CloudWatch logging options.
    description: 'Describes the application, including the application Amazon Resource Name (ARN), status, latest version, and input and output configurations.'
  ApplicationRestoreType:
    type: string
    enum:
      - SKIP_RESTORE_FROM_SNAPSHOT
      - RESTORE_FROM_LATEST_SNAPSHOT
      - RESTORE_FROM_CUSTOM_SNAPSHOT
  SnapshotName:
    type: string
    pattern: '[a-zA-Z0-9_.-]+'
    minLength: 1
    maxLength: 128
  ApplicationRestoreConfiguration:
    type: object
    required:
      - ApplicationRestoreType
    properties:
      ApplicationRestoreType:
        $ref: '#/definitions/ApplicationRestoreType'
        description: Specifies how the application should be restored.
      SnapshotName:
        $ref: '#/definitions/SnapshotName'
        description: The identifier of an existing snapshot of application state to use to restart an application. The application uses this value if <code>RESTORE_FROM_CUSTOM_SNAPSHOT</code> is specified for the <code>ApplicationRestoreType</code>.
    description: Specifies the method and snapshot to use when restarting an application using previously saved application state.
  BooleanObject:
    type: boolean
  ApplicationSummary:
    type: object
    required:
      - ApplicationName
      - ApplicationARN
      - ApplicationStatus
      - ApplicationVersionId
      - RuntimeEnvironment
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application.
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The ARN of the application.
      ApplicationStatus:
        $ref: '#/definitions/ApplicationStatus'
        description: The status of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: Provides the current application version.
      RuntimeEnvironment:
        $ref: '#/definitions/RuntimeEnvironment'
        description: The runtime environment for the application (<code>SQL-1.0</code> or <code>JAVA-8-FLINK-1.5</code>).
    description: 'Provides application summary information, including the application Amazon Resource Name (ARN), name, and status.'
  ApplicationSummaries:
    type: array
    items:
      $ref: '#/definitions/ApplicationSummary'
  BucketARN:
    type: string
    pattern: 'arn:.*'
    minLength: 1
    maxLength: 2048
  RecordRowDelimiter:
    type: string
    minLength: 1
  RecordColumnDelimiter:
    type: string
    minLength: 1
  CSVMappingParameters:
    type: object
    required:
      - RecordRowDelimiter
      - RecordColumnDelimiter
    properties:
      RecordRowDelimiter:
        $ref: '#/definitions/RecordRowDelimiter'
        description: 'The row delimiter. For example, in a CSV format, <i>''\n''</i> is the typical row delimiter.'
      RecordColumnDelimiter:
        $ref: '#/definitions/RecordColumnDelimiter'
        description: 'The column delimiter. For example, in a CSV format, a comma (",") is the typical column delimiter.'
    description: '<p>For an SQL-based application, provides additional mapping information when the record format uses delimiters, such as CSV. For example, the following sample records use CSV format, where the records use the <i>''\n''</i> as the row delimiter and a comma (",") as the column delimiter: </p> <p> <code>"name1", "address1"</code> </p> <p> <code>"name2", "address2"</code> </p>'
  ConfigurationType:
    type: string
    enum:
      - DEFAULT
      - CUSTOM
  CheckpointInterval:
    type: integer
    minimum: 0
  MinPauseBetweenCheckpoints:
    type: integer
    minimum: 0
  CheckpointConfiguration:
    type: object
    required:
      - ConfigurationType
    properties:
      ConfigurationType:
        $ref: '#/definitions/ConfigurationType'
        description: 'Describes whether the application uses Amazon Kinesis Data Analytics'' default checkpointing behavior. '
      CheckpointingEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Describes whether checkpointing is enabled for a Java-based Kinesis Data Analytics application.
      CheckpointInterval:
        $ref: '#/definitions/CheckpointInterval'
        description: 'Describes the interval in milliseconds between checkpoint operations. '
      MinPauseBetweenCheckpoints:
        $ref: '#/definitions/MinPauseBetweenCheckpoints'
[...]
