swagger: '2.0'
schemes:
  - https
  - http
host: kinesisanalytics.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'Amazon Kinesis Data Analytics is a fully managed service that you can use to process and analyze streaming data using SQL or Java. The service enables you to quickly author and run SQL or Java code against streaming sources to perform time series analytics, feed real-time dashboards, and create real-time metrics.'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Kinesis Analytics
  version: '2018-05-23'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/kinesisanalyticsv2-2018-05-23.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: kinesisanalyticsv2
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/kinesisanalytics/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationCloudWatchLoggingOption':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds an Amazon CloudWatch log stream to monitor application configuration errors.
      operationId: AddApplicationCloudWatchLoggingOption
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationCloudWatchLoggingOptionRequest'
        - enum:
            - KinesisAnalytics_20180523.AddApplicationCloudWatchLoggingOption
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationCloudWatchLoggingOptionResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '485':
          description: InvalidApplicationConfigurationException
          schema:
            $ref: '#/definitions/InvalidApplicationConfigurationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationInput':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p> Adds a streaming source to your SQL-based Amazon Kinesis Data Analytics application. </p> <p>You can add a streaming source when you create an application, or you can use this operation to add a streaming source after you create an application. For more information, see <a>CreateApplication</a>.</p> <p>Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version. </p>'
      operationId: AddApplicationInput
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationInputRequest'
        - enum:
            - KinesisAnalytics_20180523.AddApplicationInput
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationInputResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: CodeValidationException
          schema:
            $ref: '#/definitions/CodeValidationException'
        '485':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationInputProcessingConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Adds an <a>InputProcessingConfiguration</a> to an SQL-based Kinesis Data Analytics application. An input processor pre-processes records on the input stream before the application''s SQL code executes. Currently, the only input processor available is <a href="https://aws.amazon.com/documentation/lambda/">AWS Lambda</a>.'
      operationId: AddApplicationInputProcessingConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationInputProcessingConfigurationRequest'
        - enum:
            - KinesisAnalytics_20180523.AddApplicationInputProcessingConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationInputProcessingConfigurationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationOutput':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds an external destination to your SQL-based Amazon Kinesis Data Analytics application.</p> <p>If you want Kinesis Data Analytics to deliver data from an in-application stream within your application to an external destination (such as an Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), you add the relevant configuration to your application using this operation. You can configure one or more outputs for your application. Each output configuration maps an in-application stream and an external destination.</p> <p> You can use one of the output configurations to deliver data from your in-application error stream to an external destination so that you can analyze the errors. </p> <p> Any configuration update, including adding a streaming source using this operation, results in a new version of the application. You can use the <a>DescribeApplication</a> operation to find the current application version.</p>'
      operationId: AddApplicationOutput
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationOutputRequest'
        - enum:
            - KinesisAnalytics_20180523.AddApplicationOutput
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationOutputResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.AddApplicationReferenceDataSource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds a reference data source to an existing SQL-based Amazon Kinesis Data Analytics application.</p> <p>Kinesis Data Analytics reads reference data (that is, an Amazon S3 object) and creates an in-application table within your application. In the request, you provide the source (S3 bucket name and object key name), name of the in-application table to create, and the necessary mapping information that describes how data in an Amazon S3 object maps to columns in the resulting in-application table.</p>'
      operationId: AddApplicationReferenceDataSource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddApplicationReferenceDataSourceRequest'
        - enum:
            - KinesisAnalytics_20180523.AddApplicationReferenceDataSource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddApplicationReferenceDataSourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.CreateApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates an Amazon Kinesis Data Analytics application. For information about creating a Kinesis Data Analytics application, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/java/getting-started.html">Creating an Application</a>. '
      operationId: CreateApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationRequest'
        - enum:
            - KinesisAnalytics_20180523.CreateApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationResponse'
        '480':
          description: CodeValidationException
          schema:
            $ref: '#/definitions/CodeValidationException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '485':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '486':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.CreateApplicationSnapshot':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a snapshot of the application's state data.
      operationId: CreateApplicationSnapshot
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationSnapshotRequest'
        - enum:
            - KinesisAnalytics_20180523.CreateApplicationSnapshot
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationSnapshotResponse'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '485':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the specified application. Kinesis Data Analytics halts application execution and deletes the application.
      operationId: DeleteApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationRequest'
        - enum:
            - KinesisAnalytics_20180523.DeleteApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '485':
          description: InvalidApplicationConfigurationException
          schema:
            $ref: '#/definitions/InvalidApplicationConfigurationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationCloudWatchLoggingOption':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Deletes an Amazon CloudWatch log stream from an Amazon Kinesis Data Analytics application. '
      operationId: DeleteApplicationCloudWatchLoggingOption
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationCloudWatchLoggingOptionRequest'
        - enum:
            - KinesisAnalytics_20180523.DeleteApplicationCloudWatchLoggingOption
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationCloudWatchLoggingOptionResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '485':
          description: InvalidApplicationConfigurationException
          schema:
            $ref: '#/definitions/InvalidApplicationConfigurationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationInputProcessingConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes an <a>InputProcessingConfiguration</a> from an input.
      operationId: DeleteApplicationInputProcessingConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationInputProcessingConfigurationRequest'
        - enum:
            - KinesisAnalytics_20180523.DeleteApplicationInputProcessingConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationInputProcessingConfigurationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationOutput':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes the output destination configuration from your SQL-based Amazon Kinesis Data Analytics application's configuration. Kinesis Data Analytics will no longer write data from the corresponding in-application stream to the external output destination.
      operationId: DeleteApplicationOutput
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationOutputRequest'
        - enum:
            - KinesisAnalytics_20180523.DeleteApplicationOutput
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationOutputResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationReferenceDataSource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes a reference data source configuration from the specified SQL-based Amazon Kinesis Data Analytics application''s configuration.</p> <p>If the application is running, Kinesis Data Analytics immediately removes the in-application table that you created using the <a>AddApplicationReferenceDataSource</a> operation. </p>'
      operationId: DeleteApplicationReferenceDataSource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationReferenceDataSourceRequest'
        - enum:
            - KinesisAnalytics_20180523.DeleteApplicationReferenceDataSource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationReferenceDataSourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DeleteApplicationSnapshot':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deletes a snapshot of application state.
      operationId: DeleteApplicationSnapshot
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationSnapshotRequest'
        - enum:
            - KinesisAnalytics_20180523.DeleteApplicationSnapshot
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationSnapshotResponse'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DescribeApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns information about a specific Amazon Kinesis Data Analytics application.</p> <p>If you want to retrieve a list of all applications in your account, use the <a>ListApplications</a> operation.</p>'
      operationId: DescribeApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeApplicationRequest'
        - enum:
            - KinesisAnalytics_20180523.DescribeApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DescribeApplicationSnapshot':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns information about a snapshot of application state data.
      operationId: DescribeApplicationSnapshot
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeApplicationSnapshotRequest'
        - enum:
            - KinesisAnalytics_20180523.DescribeApplicationSnapshot
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeApplicationSnapshotResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.DiscoverInputSchema':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Infers a schema for an SQL-based Amazon Kinesis Data Analytics application by evaluating sample records on the specified streaming source (Kinesis data stream or Kinesis Data Firehose delivery stream) or Amazon S3 object. In the response, the operation returns the inferred schema and also the sample records that the operation used to infer the schema.</p> <p> You can use the inferred schema when configuring a streaming source for your application. When you create an application using the Kinesis Data Analytics console, the console uses this operation to infer a schema and show it in the console user interface. </p>'
      operationId: DiscoverInputSchema
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DiscoverInputSchemaRequest'
        - enum:
            - KinesisAnalytics_20180523.DiscoverInputSchema
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DiscoverInputSchemaResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: UnableToDetectSchemaException
          schema:
            $ref: '#/definitions/UnableToDetectSchemaException'
        '482':
          description: ResourceProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ResourceProvisionedThroughputExceededException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.ListApplicationSnapshots':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists information about the current application snapshots.
      operationId: ListApplicationSnapshots
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationSnapshotsRequest'
        - enum:
            - KinesisAnalytics_20180523.ListApplicationSnapshots
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationSnapshotsResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: UnsupportedOperationException
          schema:
            $ref: '#/definitions/UnsupportedOperationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.ListApplications':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of Amazon Kinesis Data Analytics applications in your account. For each application, the response includes the application name, Amazon Resource Name (ARN), and status. </p> <p>If you want detailed information about a specific application, use <a>DescribeApplication</a>.</p>'
      operationId: ListApplications
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationsRequest'
        - enum:
            - KinesisAnalytics_20180523.ListApplications
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Retrieves the list of key-value tags assigned to the application.
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - enum:
            - KinesisAnalytics_20180523.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.StartApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Starts the specified Amazon Kinesis Data Analytics application. After creating an application, you must exclusively call this operation to start your application.'
      operationId: StartApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartApplicationRequest'
        - enum:
            - KinesisAnalytics_20180523.StartApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: InvalidApplicationConfigurationException
          schema:
            $ref: '#/definitions/InvalidApplicationConfigurationException'
        '484':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.StopApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Stops the application from processing data. You can stop an application only if it is in the running state. You can use the <a>DescribeApplication</a> operation to find the application state. '
      operationId: StopApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopApplicationRequest'
        - enum:
            - KinesisAnalytics_20180523.StopApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StopApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: InvalidApplicationConfigurationException
          schema:
            $ref: '#/definitions/InvalidApplicationConfigurationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds one or more key-value tags to a Kinesis Analytics application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50.
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - KinesisAnalytics_20180523.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes one or more tags from a Kinesis Analytics application.
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - KinesisAnalytics_20180523.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '482':
          description: TooManyTagsException
          schema:
            $ref: '#/definitions/TooManyTagsException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
  '/#X-Amz-Target=KinesisAnalytics_20180523.UpdateApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Updates an existing Amazon Kinesis Data Analytics application. Using this operation, you can update application code, input configuration, and output configuration. </p> <p>Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update your application. </p>'
      operationId: UpdateApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateApplicationRequest'
        - enum:
            - KinesisAnalytics_20180523.UpdateApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApplicationResponse'
        '480':
          description: CodeValidationException
          schema:
            $ref: '#/definitions/CodeValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '483':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '484':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '485':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '486':
          description: InvalidApplicationConfigurationException
          schema:
            $ref: '#/definitions/InvalidApplicationConfigurationException'
definitions:
  AddApplicationCloudWatchLoggingOptionRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The Kinesis Data Analytics application name.
      CloudWatchLoggingOption:
        $ref: '#/definitions/CloudWatchLoggingOption'
        description: 'Provides the Amazon CloudWatch log stream Amazon Resource Name (ARN). '
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The version ID of the Kinesis Data Analytics application. You can retrieve the application version ID using <a>DescribeApplication</a>.
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - CloudWatchLoggingOption
    type: object
  AddApplicationCloudWatchLoggingOptionResponse:
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application's ARN.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The new version ID of the Kinesis Data Analytics application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options. '
      CloudWatchLoggingOptionDescriptions:
        $ref: '#/definitions/CloudWatchLoggingOptionDescriptions'
        description: The descriptions of the current CloudWatch logging options for the Kinesis Data Analytics application.
    type: object
  AddApplicationInputProcessingConfigurationRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application to which you want to add the input processing configuration.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The version of the application to which you want to add the input processing configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.'
      InputId:
        $ref: '#/definitions/Id'
        description: The ID of the input configuration to add the input processing configuration to. You can get a list of the input IDs for an application using the <a>DescribeApplication</a> operation.
      InputProcessingConfiguration:
        $ref: '#/definitions/InputProcessingConfiguration'
        description: The <a>InputProcessingConfiguration</a> to add to the application.
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - InputId
      - InputProcessingConfiguration
    type: object
  AddApplicationInputProcessingConfigurationResponse:
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: Provides the current application version.
      InputId:
        $ref: '#/definitions/Id'
        description: The input ID that is associated with the application input. This is the ID that Amazon Kinesis Data Analytics assigns to each input configuration that you add to your application.
      InputProcessingConfigurationDescription:
        $ref: '#/definitions/InputProcessingConfigurationDescription'
        description: The description of the preprocessor that executes on records in this input before the application's code is run.
    type: object
  AddApplicationInputRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of your existing application to which you want to add the streaming source.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The current version of your application. You can use the <a>DescribeApplication</a> operation to find the current application version.
      Input:
        $ref: '#/definitions/Input'
        description: The <a>Input</a> to add.
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - Input
    type: object
  AddApplicationInputResponse:
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: Provides the current application version.
      InputDescriptions:
        $ref: '#/definitions/InputDescriptions'
        description: 'Describes the application input configuration. '
    type: object
  AddApplicationOutputRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application to which you want to add the output configuration.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The version of the application to which you want to add the output configuration. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. '
      Output:
        $ref: '#/definitions/Output'
        description: 'An array of objects, each describing one output configuration. In the output configuration, you specify the name of an in-application stream, a destination (that is, a Kinesis data stream, a Kinesis Data Firehose delivery stream, or an AWS Lambda function), and record the formation to use when writing to the destination.'
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - Output
    type: object
  AddApplicationOutputResponse:
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The updated application version ID. Kinesis Data Analytics increments this ID when the application is updated.
      OutputDescriptions:
        $ref: '#/definitions/OutputDescriptions'
        description: 'Describes the application output configuration. For more information, see <a href="https://docs.aws.amazon.com/kinesisanalytics/latest/dev/how-it-works-output.html">Configuring Application Output</a>. '
    type: object
  AddApplicationReferenceDataSourceRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The version of the application for which you are adding the reference data source. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.'
      ReferenceDataSource:
        $ref: '#/definitions/ReferenceDataSource'
        description: 'The reference data source can be an object in your Amazon S3 bucket. Kinesis Data Analytics reads the object and copies the data into the in-application table that is created. You provide an S3 bucket, object key name, and the resulting in-application table that is created. '
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - ReferenceDataSource
    type: object
  AddApplicationReferenceDataSourceResponse:
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The updated application version ID. Amazon Kinesis Data Analytics increments this ID when the application is updated.
      ReferenceDataSourceDescriptions:
        $ref: '#/definitions/ReferenceDataSourceDescriptions'
        description: 'Describes reference data sources configured for the application. '
    type: object
  ApplicationCodeConfiguration:
    description: Describes code configuration for a Java-based Kinesis Data Analytics application.
    properties:
      CodeContent:
        $ref: '#/definitions/CodeContent'
        description: The location and type of the application code.
      CodeContentType:
        $ref: '#/definitions/CodeContentType'
        description: Specifies whether the code content is in text or zip format.
    required:
      - CodeContentType
    type: object
  ApplicationCodeConfigurationDescription:
    description: Describes code configuration for a Java-based Kinesis Data Analytics application.
    properties:
      CodeContentDescription:
        $ref: '#/definitions/CodeContentDescription'
        description: Describes details about the location and format of the application code.
      CodeContentType:
        $ref: '#/definitions/CodeContentType'
        description: Specifies whether the code content is in text or zip format.
    required:
      - CodeContentType
    type: object
  ApplicationCodeConfigurationUpdate:
    description: Describes updates to a Java-based Amazon Kinesis Data Analytics application.
    properties:
      CodeContentTypeUpdate:
        $ref: '#/definitions/CodeContentType'
        description: Describes updates to the code content type.
      CodeContentUpdate:
        $ref: '#/definitions/CodeContentUpdate'
        description: Describes updates to the code content of an application.
    type: object
  ApplicationConfiguration:
    description: Specifies the creation parameters for an Amazon Kinesis Data Analytics application.
    properties:
      ApplicationCodeConfiguration:
        $ref: '#/definitions/ApplicationCodeConfiguration'
        description: The code location and type parameters for a Java-based Kinesis Data Analytics application.
      ApplicationSnapshotConfiguration:
        $ref: '#/definitions/ApplicationSnapshotConfiguration'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
      EnvironmentProperties:
        $ref: '#/definitions/EnvironmentProperties'
        description: Describes execution properties for a Java-based Kinesis Data Analytics application.
      FlinkApplicationConfiguration:
        $ref: '#/definitions/FlinkApplicationConfiguration'
        description: The creation and update parameters for a Java-based Kinesis Data Analytics application.
      SqlApplicationConfiguration:
        $ref: '#/definitions/SqlApplicationConfiguration'
        description: The creation and update parameters for an SQL-based Kinesis Data Analytics application.
    required:
      - ApplicationCodeConfiguration
    type: object
  ApplicationConfigurationDescription:
    description: Describes details about the application code and starting parameters for an Amazon Kinesis Data Analytics application.
    properties:
      ApplicationCodeConfigurationDescription:
        $ref: '#/definitions/ApplicationCodeConfigurationDescription'
        description: The details about the application code for a Java-based Kinesis Data Analytics application.
      ApplicationSnapshotConfigurationDescription:
        $ref: '#/definitions/ApplicationSnapshotConfigurationDescription'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
      EnvironmentPropertyDescriptions:
        $ref: '#/definitions/EnvironmentPropertyDescriptions'
        description: Describes execution properties for a Java-based Kinesis Data Analytics application.
      FlinkApplicationConfigurationDescription:
        $ref: '#/definitions/FlinkApplicationConfigurationDescription'
        description: The details about a Java-based Kinesis Data Analytics application.
      RunConfigurationDescription:
        $ref: '#/definitions/RunConfigurationDescription'
        description: The details about the starting properties for a Kinesis Data Analytics application.
      SqlApplicationConfigurationDescription:
        $ref: '#/definitions/SqlApplicationConfigurationDescription'
        description: 'The details about inputs, outputs, and reference data sources for an SQL-based Kinesis Data Analytics application.'
    type: object
  ApplicationConfigurationUpdate:
    description: Describes updates to an application's configuration.
    properties:
      ApplicationCodeConfigurationUpdate:
        $ref: '#/definitions/ApplicationCodeConfigurationUpdate'
        description: Describes updates to a Java-based Kinesis Data Analytics application's code configuration.
      ApplicationSnapshotConfigurationUpdate:
        $ref: '#/definitions/ApplicationSnapshotConfigurationUpdate'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
      EnvironmentPropertyUpdates:
        $ref: '#/definitions/EnvironmentPropertyUpdates'
        description: Describes updates to the environment properties for a Java-based Kinesis Data Analytics application.
      FlinkApplicationConfigurationUpdate:
        $ref: '#/definitions/FlinkApplicationConfigurationUpdate'
        description: Describes updates to a Java-based Kinesis Data Analytics application's configuration.
      SqlApplicationConfigurationUpdate:
        $ref: '#/definitions/SqlApplicationConfigurationUpdate'
        description: Describes updates to an SQL-based Kinesis Data Analytics application's configuration.
    type: object
  ApplicationDescription:
    maxLength: 1024
    minLength: 0
    type: string
  ApplicationDetail:
    description: 'Describes the application, including the application Amazon Resource Name (ARN), status, latest version, and input and output configurations.'
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The ARN of the application.
      ApplicationConfigurationDescription:
        $ref: '#/definitions/ApplicationConfigurationDescription'
        description: Provides details about the application's SQL or Java code and starting parameters.
      ApplicationDescription:
        $ref: '#/definitions/ApplicationDescription'
        description: The description of the application.
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application.
      ApplicationStatus:
        $ref: '#/definitions/ApplicationStatus'
        description: The status of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: Provides the current application version. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you update the application.
      CloudWatchLoggingOptionDescriptions:
        $ref: '#/definitions/CloudWatchLoggingOptionDescriptions'
        description: Describes the application Amazon CloudWatch logging options.
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The current timestamp when the application was created.
      LastUpdateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The current timestamp when the application was last updated.
      RuntimeEnvironment:
        $ref: '#/definitions/RuntimeEnvironment'
        description: The runtime environment for the application (<code>SQL-1.0</code> or <code>FLINK-1_6</code>).
      ServiceExecutionRole:
        $ref: '#/definitions/RoleARN'
        description: Specifies the IAM role that the application uses to access external resources.
    required:
      - ApplicationARN
      - ApplicationName
      - RuntimeEnvironment
      - ApplicationStatus
      - ApplicationVersionId
    type: object
  ApplicationName:
    maxLength: 128
    minLength: 1
    pattern: '[a-zA-Z0-9_.-]+'
    type: string
  ApplicationRestoreConfiguration:
    description: Specifies the method and snapshot to use when restarting an application using previously saved application state.
    properties:
      ApplicationRestoreType:
        $ref: '#/definitions/ApplicationRestoreType'
        description: Specifies how the application should be restored.
      SnapshotName:
        $ref: '#/definitions/SnapshotName'
        description: The identifier of an existing snapshot of application state to use to restart an application. The application uses this value if <code>RESTORE_FROM_CUSTOM_SNAPSHOT</code> is specified for the <code>ApplicationRestoreType</code>.
    required:
      - ApplicationRestoreType
    type: object
  ApplicationRestoreType:
    enum:
      - SKIP_RESTORE_FROM_SNAPSHOT
      - RESTORE_FROM_LATEST_SNAPSHOT
      - RESTORE_FROM_CUSTOM_SNAPSHOT
    type: string
  ApplicationSnapshotConfiguration:
    description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    properties:
      SnapshotsEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    required:
      - SnapshotsEnabled
    type: object
  ApplicationSnapshotConfigurationDescription:
    description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    properties:
      SnapshotsEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Describes whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    required:
      - SnapshotsEnabled
    type: object
  ApplicationSnapshotConfigurationUpdate:
    description: Describes updates to whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    properties:
      SnapshotsEnabledUpdate:
        $ref: '#/definitions/BooleanObject'
        description: Describes updates to whether snapshots are enabled for a Java-based Kinesis Data Analytics application.
    required:
      - SnapshotsEnabledUpdate
    type: object
  ApplicationStatus:
    enum:
      - DELETING
      - STARTING
      - STOPPING
      - READY
      - RUNNING
      - UPDATING
    type: string
  ApplicationSummaries:
    items:
      $ref: '#/definitions/ApplicationSummary'
    type: array
  ApplicationSummary:
    description: 'Provides application summary information, including the application Amazon Resource Name (ARN), name, and status.'
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The ARN of the application.
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application.
      ApplicationStatus:
        $ref: '#/definitions/ApplicationStatus'
        description: The status of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: Provides the current application version.
      RuntimeEnvironment:
        $ref: '#/definitions/RuntimeEnvironment'
        description: The runtime environment for the application (<code>SQL-1.0</code> or <code>FLINK-1_6</code>).
    required:
      - ApplicationName
      - ApplicationARN
      - ApplicationStatus
      - ApplicationVersionId
      - RuntimeEnvironment
    type: object
  ApplicationVersionId:
    maximum: 999999999
    minimum: 1
    type: integer
  BooleanObject:
    type: boolean
  BucketARN:
    maxLength: 2048
    minLength: 1
    pattern: 'arn:.*'
    type: string
  CSVMappingParameters:
    description: '<p>For an SQL-based application, provides additional mapping information when the record format uses delimiters, such as CSV. For example, the following sample records use CSV format, where the records use the <i>''\n''</i> as the row delimiter and a comma (",") as the column delimiter: </p> <p> <code>"name1", "address1"</code> </p> <p> <code>"name2", "address2"</code> </p>'
    properties:
      RecordColumnDelimiter:
        $ref: '#/definitions/RecordColumnDelimiter'
        description: 'The column delimiter. For example, in a CSV format, a comma (",") is the typical column delimiter.'
      RecordRowDelimiter:
        $ref: '#/definitions/RecordRowDelimiter'
        description: 'The row delimiter. For example, in a CSV format, <i>''\n''</i> is the typical row delimiter.'
    required:
      - RecordRowDelimiter
      - RecordColumnDelimiter
    type: object
  CheckpointConfiguration:
    description: 'Describes an application''s checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance. For more information, see <a href="https://ci.apache.org/projects/flink/flink-docs-release-1.6/concepts/programming-model.html#checkpoints-for-fault-tolerance"> Checkpoints for Fault Tolerance</a> in the <a href="https://ci.apache.org/projects/flink/flink-docs-release-1.6/">Apache Flink Documentation</a>.'
    properties:
      CheckpointInterval:
        $ref: '#/definitions/CheckpointInterval'
        description: 'Describes the interval in milliseconds between checkpoint operations. '
      CheckpointingEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Describes whether checkpointing is enabled for a Java-based Kinesis Data Analytics application.
      ConfigurationType:
        $ref: '#/definitions/ConfigurationType'
        description: 'Describes whether the application uses Amazon Kinesis Data Analytics'' default checkpointing behavior. '
      MinPauseBetweenCheckpoints:
        $ref: '#/definitions/MinPauseBetweenCheckpoints'
        description: 'Describes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start. If a checkpoint operation takes longer than the <code>CheckpointInterval</code>, the application otherwise performs continual checkpoint operations. For more information, see <a href="https://ci.apache.org/projects/flink/flink-docs-stable/ops/state/large_state_tuning.html#tuning-checkpointing"> Tuning Checkpointing</a> in the <a href="https://ci.apache.org/projects/flink/flink-docs-release-1.6/">Apache Flink Documentation</a>.'
    required:
      - ConfigurationType
    type: object
  CheckpointConfigurationDescription:
    description: Describes checkpointing parameters for a Java-based Amazon Kinesis Data Analytics application.
    properties:
      CheckpointInterval:
        $ref: '#/definitions/CheckpointInterval'
        description: Describes the interval in milliseconds between checkpoint operations.
      CheckpointingEnabled:
        $ref: '#/definitions/BooleanObject'
        description: Describes whether checkpointing is enabled for a Java-based Kinesis Data Analytics application.
      ConfigurationType:
        $ref: '#/definitions/ConfigurationType'
        description: Describes whether the application uses the default checkpointing behavior in Kinesis Data Analytics.
      MinPauseBetweenCheckpoints:
        $ref: '#/definitions/MinPauseBetweenCheckpoints'
        description: Describes the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start.
    type: object
  CheckpointConfigurationUpdate:
    description: Describes updates to the checkpointing parameters for a Java-based Amazon Kinesis Data Analytics application.
    properties:
      CheckpointIntervalUpdate:
        $ref: '#/definitions/CheckpointInterval'
        description: Describes updates to the interval in milliseconds between checkpoint operations.
      CheckpointingEnabledUpdate:
        $ref: '#/definitions/BooleanObject'
        description: Describes updates to whether checkpointing is enabled for an application.
      ConfigurationTypeUpdate:
        $ref: '#/definitions/ConfigurationType'
        description: Describes updates to whether the application uses the default checkpointing behavior of Kinesis Data Analytics.
      MinPauseBetweenCheckpointsUpdate:
        $ref: '#/definitions/MinPauseBetweenCheckpoints'
        description: Describes updates to the minimum time in milliseconds after a checkpoint operation completes that a new checkpoint operation can start.
    type: object
  CheckpointInterval:
    minimum: 0
    type: integer
  CloudWatchLoggingOption:
    description: 'Provides a description of Amazon CloudWatch logging options, including the log stream Amazon Resource Name (ARN). '
    properties:
      LogStreamARN:
        $ref: '#/definitions/LogStreamARN'
        description: The ARN of the CloudWatch log to receive application messages.
    required:
      - LogStreamARN
    type: object
  CloudWatchLoggingOptionDescription:
    description: Describes the Amazon CloudWatch logging option.
    properties:
      CloudWatchLoggingOptionId:
        $ref: '#/definitions/Id'
        description: The ID of the CloudWatch logging option description.
      LogStreamARN:
        $ref: '#/definitions/LogStreamARN'
        description: The Amazon Resource Name (ARN) of the CloudWatch log to receive application messages.
      RoleARN:
        $ref: '#/definitions/RoleARN'
        description: <p>The IAM ARN of the role to use to send application messages. </p> <note> <p>Provided for backward compatibility. Applications created with the current API version have an application-level service execution role rather than a resource-level role.</p> </note>
    required:
      - LogStreamARN
    type: object
  CloudWatchLoggingOptionDescriptions:
    items:
      $ref: '#/definitions/CloudWatchLoggingOptionDescription'
    type: array
  CloudWatchLoggingOptionUpdate:
    description: Describes the Amazon CloudWatch logging option updates.
    properties:
      CloudWatchLoggingOptionId:
        $ref: '#/definitions/Id'
        description: The ID of the CloudWatch logging option to update
      LogStreamARNUpdate:
        $ref: '#/definitions/LogStreamARN'
        description: The Amazon Resource Name (ARN) of the CloudWatch log to receive application messages.
    required:
      - CloudWatchLoggingOptionId
    type: object
  CloudWatchLoggingOptionUpdates:
    items:
      $ref: '#/definitions/CloudWatchLoggingOptionUpdate'
    type: array
  CloudWatchLoggingOptions:
    items:
      $ref: '#/definitions/CloudWatchLoggingOption'
    type: array
  CodeContent:
    description: 'Specifies either the application code, or the location of the application code, for a Java-based Amazon Kinesis Data Analytics application. '
    properties:
      S3ContentLocation:
        $ref: '#/definitions/S3ContentLocation'
        description: Information about the Amazon S3 bucket containing the application code.
      TextContent:
        $ref: '#/definitions/TextContent'
        description: The text-format code for a Java-based Kinesis Data Analytics application.
      ZipFileContent:
        $ref: '#/definitions/ZipFileContent'
        description: The zip-format code for a Java-based Kinesis Data Analytics application.
    type: object
  CodeContentDescription:
    description: Describes details about the application code for a Java-based Kinesis Data Analytics application.
    properties:
      CodeMD5:
        $ref: '#/definitions/CodeMD5'
        description: The checksum that can be used to validate zip-format code.
      CodeSize:
        $ref: '#/definitions/CodeSize'
        description: The size in bytes of the application code. Can be used to validate zip-format code.
      S3ApplicationCodeLocationDescription:
        $ref: '#/definitions/S3ApplicationCodeLocationDescription'
        description: 'The S3 bucket Amazon Resource Name (ARN), file key, and object version of the application code stored in Amazon S3.'
      TextContent:
        $ref: '#/definitions/TextContent'
        description: The text-format code
    type: object
  CodeContentType:
    enum:
      - PLAINTEXT
      - ZIPFILE
    type: string
  CodeContentUpdate:
    description: Describes an update to the code of a Java-based Kinesis Data Analytics application.
    properties:
      S3ContentLocationUpdate:
        $ref: '#/definitions/S3ContentLocationUpdate'
        description: Describes an update to the location of code for an application.
      TextContentUpdate:
        $ref: '#/definitions/TextContent'
        description: Describes an update to the text code for an application.
      ZipFileContentUpdate:
        $ref: '#/definitions/ZipFileContent'
        description: Describes an update to the zipped code for an application.
    type: object
  CodeMD5:
    maxLength: 128
    minLength: 128
    type: string
  CodeSize:
    maximum: 52428800
    minimum: 0
    type: integer
  CodeValidationException: {}
  ConcurrentModificationException: {}
  ConfigurationType:
    enum:
      - DEFAULT
      - CUSTOM
    type: string
  CreateApplicationRequest:
    properties:
      ApplicationConfiguration:
        $ref: '#/definitions/ApplicationConfiguration'
        description: Use this parameter to configure the application.
      ApplicationDescription:
        $ref: '#/definitions/ApplicationDescription'
        description: A summary description of the application.
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: 'The name of your application (for example, <code>sample-app</code>).'
      CloudWatchLoggingOptions:
        $ref: '#/definitions/CloudWatchLoggingOptions'
        description: 'Use this parameter to configure an Amazon CloudWatch log stream to monitor application configuration errors. '
      RuntimeEnvironment:
        $ref: '#/definitions/RuntimeEnvironment'
        description: The runtime environment for the application (<code>SQL-1.0</code> or <code>FLINK-1_6</code>).
      ServiceExecutionRole:
        $ref: '#/definitions/RoleARN'
        description: 'The IAM role used by the application to access Kinesis data streams, Kinesis Data Firehose delivery streams, Amazon S3 objects, and other external resources.'
      Tags:
        $ref: '#/definitions/Tags'
        description: 'A list of one or more tags to assign to the application. A tag is a key-value pair that identifies an application. Note that the maximum number of application tags includes system tags. The maximum number of user-defined application tags is 50. For more information, see <a href="https://docs.aws.amazon.com/awsaccountbilling/latest/aboutv2/cost-alloc-tags.html">Using Cost Allocation Tags</a> in the <i>AWS Billing and Cost Management Guide</i>.'
    required:
      - ApplicationName
      - RuntimeEnvironment
      - ServiceExecutionRole
    type: object
  CreateApplicationResponse:
    properties:
      ApplicationDetail:
        $ref: '#/definitions/ApplicationDetail'
        description: 'In response to your <code>CreateApplication</code> request, Kinesis Data Analytics returns a response with details of the application it created.'
    required:
      - ApplicationDetail
    type: object
  CreateApplicationSnapshotRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application
      SnapshotName:
        $ref: '#/definitions/SnapshotName'
        description: An identifier for the application snapshot.
    required:
      - ApplicationName
      - SnapshotName
    type: object
  CreateApplicationSnapshotResponse:
    properties: {}
    type: object
  DeleteApplicationCloudWatchLoggingOptionRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The application name.
      CloudWatchLoggingOptionId:
        $ref: '#/definitions/Id'
        description: 'The <code>CloudWatchLoggingOptionId</code> of the Amazon CloudWatch logging option to delete. You can get the <code>CloudWatchLoggingOptionId</code> by using the <a>DescribeApplication</a> operation. '
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The version ID of the application. You can retrieve the application version ID using <a>DescribeApplication</a>.
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - CloudWatchLoggingOptionId
    type: object
  DeleteApplicationCloudWatchLoggingOptionResponse:
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application's Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The version ID of the application. Kinesis Data Analytics updates the <code>ApplicationVersionId</code> each time you change the CloudWatch logging options.
      CloudWatchLoggingOptionDescriptions:
        $ref: '#/definitions/CloudWatchLoggingOptionDescriptions'
        description: The descriptions of the remaining CloudWatch logging options for the application.
    type: object
  DeleteApplicationInputProcessingConfigurationRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. '
      InputId:
        $ref: '#/definitions/Id'
        description: The ID of the input configuration from which to delete the input processing configuration. You can get a list of the input IDs for an application by using the <a>DescribeApplication</a> operation.
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - InputId
    type: object
  DeleteApplicationInputProcessingConfigurationResponse:
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the application.
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The current application version ID.
    type: object
  DeleteApplicationOutputRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The application name.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned. '
      OutputId:
        $ref: '#/definitions/Id'
        description: 'The ID of the configuration to delete. Each output configuration that is added to the application (either when the application is created or later) using the <a>AddApplicationOutput</a> operation has a unique ID. You need to provide the ID to uniquely identify the output configuration that you want to delete from the application configuration. You can use the <a>DescribeApplication</a> operation to get the specific <code>OutputId</code>. '
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - OutputId
    type: object
  DeleteApplicationOutputResponse:
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The current application version ID.
    type: object
  DeleteApplicationReferenceDataSourceRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application.
      CurrentApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: 'The current application version. You can use the <a>DescribeApplication</a> operation to get the current application version. If the version specified is not the current version, the <code>ConcurrentModificationException</code> is returned.'
      ReferenceId:
        $ref: '#/definitions/Id'
        description: 'The ID of the reference data source. When you add a reference data source to your application using the <a>AddApplicationReferenceDataSource</a>, Kinesis Data Analytics assigns an ID. You can use the <a>DescribeApplication</a> operation to get the reference ID. '
    required:
      - ApplicationName
      - CurrentApplicationVersionId
      - ReferenceId
    type: object
  DeleteApplicationReferenceDataSourceResponse:
    properties:
      ApplicationARN:
        $ref: '#/definitions/ResourceARN'
        description: The application Amazon Resource Name (ARN).
      ApplicationVersionId:
        $ref: '#/definitions/ApplicationVersionId'
        description: The updated version ID of the application.
    type: object
  DeleteApplicationRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application to delete.
      CreateTimestamp:
        $ref: '#/definitions/Timestamp'
        description: Use the <code>DescribeApplication</code> operation to get this value.
    required:
      - ApplicationName
      - CreateTimestamp
    type: object
  DeleteApplicationResponse:
    properties: {}
    type: object
  DeleteApplicationSnapshotRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application.
      SnapshotCreationTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The creation timestamp of the application snapshot to delete. You can retrieve this value using or .
      SnapshotName:
        $ref: '#/definitions/SnapshotName'
        description: The identifier for the snapshot delete.
    required:
      - ApplicationName
      - SnapshotName
      - SnapshotCreationTimestamp
    type: object
  DeleteApplicationSnapshotResponse:
    properties: {}
    type: object
  DescribeApplicationRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of the application.
      IncludeAdditionalDetails:
        $ref: '#/definitions/BooleanObject'
        description: 'Displays verbose information about a Kinesis Data Analytics application, including the application''s job plan.'
    required:
      - ApplicationName
    type: object
  DescribeApplicationResponse:
    properties:
      ApplicationDetail:
        $ref: '#/definitions/ApplicationDetail'
        description: 'Provides a description of the application, such as the application''s Amazon Resource Name (ARN), status, and latest version.'
    required:
      - ApplicationDetail
    type: object
  DescribeApplicationSnapshotRequest:
    properties:
      ApplicationName:
        $ref: '#/definitions/ApplicationName'
        description: The name of an existing application.
      SnapshotName:
        $ref: '#/definitions/SnapshotName'
        description: The identifier of an application snapshot. You can retrieve this value using .
    required:
      - ApplicationName
      - SnapshotName
    type: object
  DescribeApplicationSnapshotResponse:
    properties:
      SnapshotDetails:
        $ref: '#/definitions/SnapshotDetails'
        description: An object containing information about the application snapshot.
    required:
      - SnapshotDetails
    type: object
  DestinationSchema:
    description: 'Describes the data format when records are written to the destination in an SQL-based Amazon Kinesis Data Analytics application. '
    properties:
      RecordFormatType:
        $ref: '#/definitions/RecordFormatType'
        description: Specifies the format of the records on the output stream.
    required:
      - RecordFormatType
    type: object
  DiscoverInputSchemaRequest:
    properties:
      InputProcessingConfiguration:
        $ref: '#/definitions/InputProcessingConfiguration'
        description: The <a>InputProcessingConfiguration</a> to use to preprocess the records before discovering the schema of the records.
      InputStartingPositionConfiguration:
        $ref: '#/definitions/InputStartingPositionConfiguration'
        description: The point at which you want Kinesis Data Analytics to start reading records from the specified streaming source discovery purposes.
      ResourceARN:
        $ref: '#/definitions/ResourceARN'
        description: The Amazon Resource Name (ARN) of the streaming source.
      S3Configuration:
        $ref: '#/definitions/S3Configuration'
        description: Specify this parameter to discover a schema from data in an Amazon S3 object.
      ServiceExecutionRole:
        $ref: '#/definitions/RoleARN'
        description: The ARN of the role that is used to access the streaming source.
    required:
      - ServiceExecutionRole
    type: object
  DiscoverInputSchemaResponse:
    properties:
      InputSchema:
        $ref: '#/definitions/SourceSchema'
        description: The schema inferred from the streaming source. It identifies the format of the data in the streaming source and how each data element maps to corresponding columns in the in-application stream that you can create.
      ParsedInputRecords:
        $ref: '#/definitions/ParsedInputRecords'
        description: 'An array of elements, where each element corresponds to a row in a stream record (a stream record can have more than one row).'
      ProcessedInputRecords:
        $ref: '#/definitions/ProcessedInputRecords'
        description: The stream data that was modified by the processor specified in the <code>InputProcessingConfiguration</code> parameter.
      RawInputRecords:
        $ref: '#/definitions/RawInputRecords'
        description: The raw stream data that was sampled to infer the schema.
    type: object
  EnvironmentProperties:
    description: Describes execution properties for a Java-based Kinesis Data Analytics application.
    properties:
      PropertyGroups:
        $ref: '#/definitions/PropertyGroups'
        description: Describes the execution property groups.
    required:
      - PropertyGroups
    type: object
  EnvironmentPropertyDescriptions:
    description: Describes the execution properties for a Java-based Amazon Kinesis Data Analytics application.
    properties:
      PropertyGroupDescriptions:
        $ref: '#/definitions/PropertyGroups'
        description: Describes the execution property groups.
    type: object
  EnvironmentPropertyUpdates:
    description: Describes updates to the execution property groups for a Java-based Amazon Kinesis Data Analytics application.
    properties:
      PropertyGroups:
        $ref: '#/definitions/PropertyGroups'
        description: Describes updates to the execution property groups.
    required:
      - PropertyGroups
    type: object
  FileKey:
    maxLength: 1024
    minLength: 1
    type: string
  FlinkApplicationConfiguration:
    description: Describes configuration parameters for a Java-based Amazon Kinesis Data Analytics application.
    properties:
      CheckpointConfiguration:
        $ref: '#/definitions/CheckpointConfiguration'
        description: 'Describes an application''s checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance. For more information, see <a href="https://ci.apache.org/projects/flink/flink-docs-release-1.6/concepts/programming-model.html#checkpoints-for-fault-tolerance"> Checkpoints for Fault Tolerance</a> in the <a href="https://ci.apache.org/projects/flink/flink-docs-release-1.6/">Apache Flink Documentation</a>. '
      MonitoringConfiguration:
        $ref: '#/definitions/MonitoringConfiguration'
        description: Describes configuration parameters for Amazon CloudWatch logging for an application.
      ParallelismConfiguration:
        $ref: '#/definitions/ParallelismConfiguration'
        description: Describes parameters for how an application executes multiple tasks simultaneously.
    type: object
  FlinkApplicationConfigurationDescription:
    description: Describes configuration parameters for a Java-based Amazon Kinesis Data Analytics application.
    properties:
      CheckpointConfigurationDescription:
        $ref: '#/definitions/CheckpointConfigurationDescription'
        description: Describes an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance.
      JobPlanDescription:
        $ref: '#/definitions/JobPlanDescription'
        description: 'The job plan for an application. For more information about the job plan, see <a href="https://ci.apache.org/projects/flink/flink-docs-stable/internals/job_scheduling.html">Jobs and Scheduling</a> in the <a href="https://ci.apache.org/projects/flink/flink-docs-release-1.6/">Apache Flink Documentation</a>. To retrieve the job plan for the application, use the <a>DescribeApplicationRequest$IncludeAdditionalDetails</a> parameter of the <a>DescribeApplication</a> operation.'
      MonitoringConfigurationDescription:
        $ref: '#/definitions/MonitoringConfigurationDescription'
        description: Describes configuration parameters for Amazon CloudWatch logging for an application.
      ParallelismConfigurationDescription:
        $ref: '#/definitions/ParallelismConfigurationDescription'
        description: Describes parameters for how an application executes multiple tasks simultaneously.
    type: object
  FlinkApplicationConfigurationUpdate:
    description: Describes updates to the configuration parameters for a Java-based Amazon Kinesis Data Analytics application.
    properties:
      CheckpointConfigurationUpdate:
        $ref: '#/definitions/CheckpointConfigurationUpdate'
        description: Describes updates to an application's checkpointing configuration. Checkpointing is the process of persisting application state for fault tolerance.
      MonitoringConfigurationUpdate:
        $ref: '#/definitions/MonitoringConfigurationUpdate'
        description: Describes updates to the configuration parameters for Amazon CloudWatch logging for an application.
      ParallelismConfigurationUpdate:
        $ref: '#/definitions/ParallelismConfigurationUpdate'
        description: Describes updates to the parameters for how an application executes multiple tasks simultaneously.
    type: object
  Id:
    maxLength: 50
    minLength: 1
    pattern: '[a-zA-Z0-9_.-]+'
    type: string
  InAppStreamName:
    maxLength: 32
    minLength: 1
    type: string
  InAppStreamNames:
    items:
      $ref: '#/definitions/InAppStreamName'
    type: array
  InAppTableName:
    maxLength: 32
    minLength: 1
    type: string
  Input:
    description: 'When you configure the application input for an SQL-based Amazon Kinesis Data Analytics application, you specify the streaming source, the in-application stream name that is created, and the mapping between the two. '
    properties:
      InputParallelism:
        $ref: '#/definitions/InputParallelism'
        description: 'Describes the number of in-application streams to create. '
      InputProcessingConfiguration:
        $ref: '#/definitions/InputProcessingConfiguration'
        description: 'The <a>InputProcessingConfiguration</a> for the input. An input processor transforms records as they are received from the stream, before the application''s SQL code executes. Currently, the only input processing configuration available is <a>InputLambdaProcessor</a>. '
      InputSchema:
        $ref: '#/definitions/SourceSchema'
        description: '<p>Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created.</p> <p>Also used to describe the format of the reference data source.</p>'
      KinesisFirehoseInput:
        $ref: '#/definitions/KinesisFirehoseInput'
        description: 'If the streaming source is an Amazon Kinesis Data Firehose delivery stream, identifies the delivery stream''s ARN.'
      KinesisStreamsInput:
        $ref: '#/definitions/KinesisStreamsInput'
        description: 'If the streaming source is an Amazon Kinesis data stream, identifies the stream''s Amazon Resource Name (ARN). '
      NamePrefix:
        $ref: '#/definitions/InAppStreamName'
        description: 'The name prefix to use when creating an in-application stream. Suppose that you specify a prefix "<code>MyInApplicationStream</code>." Kinesis Data Analytics then creates one or more (as per the <code>InputParallelism</code> count you specified) in-application streams with the names "<code>MyInApplicationStream_001</code>," "<code>MyInApplicationStream_002</code>," and so on. '
    required:
      - NamePrefix
      - InputSchema
    type: object
  InputDescription:
    description: 'Describes the application input configuration for an SQL-based Amazon Kinesis Data Analytics application. '
    properties:
      InAppStreamNames:
        $ref: '#/definitions/InAppStreamNames'
        description: 'Returns the in-application stream names that are mapped to the stream source. '
      InputId:
        $ref: '#/definitions/Id'
        description: 'The input ID that is associated with the application input. This is the ID that Kinesis Data Analytics assigns to each input configuration that you add to your application. '
      InputParallelism:
        $ref: '#/definitions/InputParallelism'
        description: 'Describes the configured parallelism (number of in-application streams mapped to the streaming source). '
      InputProcessingConfigurationDescription:
        $ref: '#/definitions/InputProcessingConfigurationDescription'
        description: 'The description of the preprocessor that executes on records in this input before the application''s code is run. '
      InputSchema:
        $ref: '#/definitions/SourceSchema'
        description: 'Describes the format of the data in the streaming source, and how each data element maps to corresponding columns in the in-application stream that is being created. '
      InputStartingPositionConfiguration:
        $ref: '#/definitions/InputStartingPositionConfiguration'
        description: The point at which the application is configured to read from the input stream.
      KinesisFirehoseInputDescription:
        $ref: '#/definitions/KinesisFirehoseInputDescription'
        description: 'If a Kinesis Data Firehose delivery stream is configured as a streaming source, provides the delivery stream''s ARN. '
      KinesisStreamsInputDescription:
        $ref: '#/definitions/KinesisStreamsInputDescription'
        description: 'If a Kinesis data stream is configured as a streaming source, provides the Kinesis data stream''s Amazon Resource Name (ARN). '
      NamePrefix:
        $ref: '#/definitions/InAppStreamName'
        description: The in-application name prefix.
    type: object
  InputDescriptions:
    items:
      $ref: '#/definitions/InputDescription'
    type: array
  InputLambdaProcessor:
[...]
