openapi: 3.0.3
servers:
  - description: Production
    url: https://api.apideck.com
info:
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  description: Ecosystem API
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Ecosystem API
  version: 0.0.1
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://developers.apideck.com/icon.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/apideck-libraries/openapi-specs/master/ecosystem.yml
      version: "3.0"
  x-providerName: apideck.com
  x-serviceName: ecosystem
  x-tags:
    - partner
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
security: []
tags:
  - description: ""
    name: Ecosystem
  - description: ""
    name: Listing
  - description: ""
    name: Collection
  - description: ""
    name: Category
  - description: ""
    name: Product
paths:
  "/ecosystems/{ecosystem_id}":
    get:
      description: List ecosystems
      operationId: ecosystemsAll
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
      responses:
        "200":
          $ref: "#/components/responses/GetEcosystemResponse"
      summary: List ecosystems
      tags:
        - Ecosystem
  "/ecosystems/{ecosystem_id}/categories":
    get:
      description: List categories
      operationId: categoriesAll
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
      responses:
        "200":
          $ref: "#/components/responses/GetCategoriesResponse"
      summary: List categories
      tags:
        - Category
  "/ecosystems/{ecosystem_id}/categories/{id}":
    get:
      description: Get category
      operationId: categoriesOne
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/GetCategoryResponse"
      summary: Get category
      tags:
        - Category
  "/ecosystems/{ecosystem_id}/categories/{id}/listings":
    get:
      description: List category listings
      operationId: categorylistingsAll
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/GetListingsResponse"
      summary: List category listings
      tags:
        - Listing
        - Category
  "/ecosystems/{ecosystem_id}/collections":
    get:
      description: List collections
      operationId: collectionsAll
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
      responses:
        "200":
          $ref: "#/components/responses/GetCollectionsResponse"
      summary: List collections
      tags:
        - Collection
  "/ecosystems/{ecosystem_id}/collections/{id}":
    get:
      description: Get collection
      operationId: collectionsOne
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/GetCollectionResponse"
      summary: Get collection
      tags:
        - Collection
  "/ecosystems/{ecosystem_id}/collections/{id}/listings":
    get:
      description: List collection listings
      operationId: collectionListingsAll
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/GetListingsResponse"
      summary: List collection listings
      tags:
        - Listing
        - Collection
  "/ecosystems/{ecosystem_id}/listings/{id}":
    get:
      description: List listings
      operationId: listingsAll
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/GetListingsResponse"
      summary: List listings
      tags:
        - Listing
  "/ecosystems/{ecosystem_id}/products":
    get:
      description: List products
      operationId: productsAll
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
      responses:
        "200":
          $ref: "#/components/responses/GetProductsResponse"
      summary: List products
      tags:
        - Product
  "/ecosystems/{ecosystem_id}/products/{id}":
    get:
      description: Get product
      operationId: productsOne
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/GetProductResponse"
      summary: Get product
      tags:
        - Product
  "/ecosystems/{ecosystem_id}/products/{id}/listings":
    get:
      description: List product listings
      operationId: productlistingsAll
      parameters:
        - $ref: "#/components/parameters/ecosystem_id"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/GetListingsResponse"
      summary: List product listings
      tags:
        - Listing
        - Product
components:
  parameters:
    ecosystem_id:
      in: path
      name: ecosystem_id
      required: true
      schema:
        type: string
    id:
      description: ID of the record you are acting upon.
      in: path
      name: id
      required: true
      schema:
        type: string
  responses:
    GetCategoriesResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCategoriesResponse"
      description: Categories
    GetCategoryResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCategoryResponse"
      description: Category
    GetCollectionResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCollectionResponse"
      description: Collection
    GetCollectionsResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetCollectionsResponse"
      description: Collections
    GetEcosystemResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetEcosystemResponse"
      description: Ecosystems
    GetListingResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetListingResponse"
      description: Listing
    GetListingsResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetListingsResponse"
      description: Listings
    GetProductResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetProductResponse"
      description: Product
    GetProductsResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetProductsResponse"
      description: Products
  schemas:
    CTASettings:
      additionalProperties: false
      properties:
        background_color:
          nullable: true
          type: string
        button_background_color:
          nullable: true
          type: string
        button_color:
          nullable: true
          type: string
        button_label:
          nullable: true
          type: string
        button_link:
          nullable: true
          type: string
        color:
          nullable: true
          type: string
        description:
          nullable: true
          type: string
        enabled:
          nullable: true
          type: boolean
        title:
          nullable: true
          type: string
      type: object
    CardSettings:
      additionalProperties: false
      properties:
        background_color:
          nullable: true
          type: string
        border_color:
          nullable: true
          type: string
        border_radius:
          nullable: true
          type: string
        border_size:
          nullable: true
          type: string
        color:
          nullable: true
          type: string
        columns:
          nullable: true
          type: integer
        description_lines:
          nullable: true
          type: integer
        icon_border_radius:
          nullable: true
          type: string
        icon_shadow_enabled:
          nullable: true
          type: boolean
        icon_size:
          nullable: true
          type: integer
        shadow_enabled:
          nullable: true
          type: boolean
        show_action:
          nullable: true
          type: boolean
        show_badges:
          nullable: true
          type: boolean
        show_category:
          nullable: true
          type: boolean
        show_description:
          nullable: true
          type: boolean
        style:
          nullable: true
          type: string
      type: object
    Category:
      additionalProperties: false
      properties:
        created_at:
          format: date-time
          readOnly: true
          type: string
        description:
          nullable: true
          type: string
        id:
          type: string
        listing_description_text_template:
          type: string
        listing_features_text_template:
          type: string
        listing_price_text_template:
          type: string
        logo:
          $ref: "#/components/schemas/Logo"
        name:
          type: string
        slug:
          type: string
        translations:
          $ref: "#/components/schemas/Translations"
        updated_at:
          format: date-time
          readOnly: true
          type: string
      type: object
    Collection:
      additionalProperties: false
      properties:
        card_background_color:
          nullable: true
          type: string
        card_background_image:
          $ref: "#/components/schemas/File"
        card_columns:
          nullable: true
          type: integer
        card_style:
          type: string
        description:
          nullable: true
          type: string
        hidden_from_homepage:
          nullable: true
          type: boolean
        id:
          type: string
        logo:
          $ref: "#/components/schemas/File"
        name:
          type: string
        sequence:
          nullable: true
          type: integer
        show_max_items_homepage:
          nullable: true
          type: integer
        slug:
          type: string
        translations:
          $ref: "#/components/schemas/Translations"
        visible:
          type: boolean
      type: object
    Contact:
      properties:
        email:
          nullable: true
          type: string
        first_name:
          nullable: true
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        last_name:
          nullable: true
          type: string
        linked_in:
          nullable: true
          type: string
        name:
          type: string
        role:
          nullable: true
          type: string
        twitter:
          nullable: true
          type: string
      type: object
    CustomSettings:
      additionalProperties: false
      properties:
        css:
          nullable: true
          type: string
        css_link:
          nullable: true
          type: string
        domain:
          nullable: true
          type: string
        html_footer:
          nullable: true
          type: string
        html_nav:
          nullable: true
          type: string
        java_script_link:
          nullable: true
          type: string
      type: object
    Ecosystem:
      additionalProperties: false
      properties:
        about:
          nullable: true
          type: string
        alternatives_background_color:
          nullable: true
          type: string
        alternatives_color:
          nullable: true
          type: string
        attribution:
          nullable: true
          type: boolean
        body_background_color:
          nullable: true
          type: string
        body_button_background_color:
          nullable: true
          type: string
        body_button_color:
          nullable: true
          type: string
        body_color:
          nullable: true
          type: string
        body_link_color:
          nullable: true
          type: string
        card_settings:
          $ref: "#/components/schemas/CardSettings"
        categories_count_badge:
          nullable: true
          type: boolean
        categories_show_max_items:
          nullable: true
          type: integer
        collections_count_badge:
          nullable: true
          type: boolean
        collections_title:
          nullable: true
          type: string
        create_link:
          nullable: true
          type: string
        cta_settings:
          $ref: "#/components/schemas/CTASettings"
        custom_settings:
          $ref: "#/components/schemas/CustomSettings"
        detail_pages_enabled:
          nullable: true
          type: boolean
        footer_background_color:
          nullable: true
          type: string
        footer_color:
          nullable: true
          type: string
        google_site_verification_id:
          nullable: true
          type: string
        hide_install_buttons:
          nullable: true
          type: boolean
        home_page_collection_category_cards:
          nullable: true
          type: boolean
        home_page_show_all_listings:
          nullable: true
          type: boolean
        id:
          example: "12345"
          readOnly: true
          type: string
        installation_request_flow_enabled:
          nullable: true
          type: boolean
        integration_settings:
          $ref: "#/components/schemas/IntegrationSettings"
        is_published:
          nullable: true
          type: boolean
        lead_form_settings:
          $ref: "#/components/schemas/LeadFormSettings"
        listing_settings:
          $ref: "#/components/schemas/ListingSettings"
        masthead_settings:
          $ref: "#/components/schemas/MastheadSettings"
        menu_position:
          enum:
            - TOP
            - LEFT
            - RIGHT
            - HIDDEN
          nullable: true
          type: string
        menu_style:
          enum:
            - LIST
            - PILL
            - FILTER
          nullable: true
          type: string
        meta_tag_settings:
          $ref: "#/components/schemas/MetaTagSettings"
        name:
          type: string
        navigation_background_color:
          nullable: true
          type: string
        navigation_color:
          nullable: true
          type: string
        navigation_logo_post_fix:
          nullable: true
          type: string
        navigation_mobile_menu_type:
          enum:
            - ICON
            - TEXT
          nullable: true
          type: string
        navigation_sticky:
          nullable: true
          type: boolean
        primary_color:
          nullable: true
          type: string
        privacy_link:
          nullable: true
          type: string
        published:
          type: boolean
        request_link:
          nullable: true
          type: string
        shadow_page_description:
          nullable: true
          type: string
        shadow_pages_enabled:
          nullable: true
          type: boolean
        show_attribution_badge:
          nullable: true
          type: boolean
        show_requested_listings:
          nullable: true
          type: boolean
        slug:
          nullable: false
          type: string
        terms_link:
          nullable: true
          type: string
        total_published_listings:
          nullable: true
          type: integer
        unify_application_id:
          nullable: true
          type: string
        utm_campaign:
          nullable: true
          type: string
        website:
          nullable: true
          type: string
        zaps_menu_title:
          nullable: true
          type: string
        zaps_page_enabled:
          nullable: true
          type: boolean
      type: object
    File:
      nullable: true
      properties:
        contentType:
          example: application/jpeg
          type: string
        created_at:
          format: date-time
          readOnly: true
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        type:
          enum:
            - LOGO
            - BANNER
            - SCREENSHOT
          nullable: true
          type: string
        updated_at:
          format: date-time
          readOnly: true
          type: string
        url:
          type: string
      type: object
    GetCategoriesResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Category"
          type: array
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetCategoryResponse:
      properties:
        data:
          $ref: "#/components/schemas/Category"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetCollectionResponse:
      properties:
        data:
          $ref: "#/components/schemas/Collection"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetCollectionsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Collection"
          type: array
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetEcosystemResponse:
      properties:
        data:
          $ref: "#/components/schemas/Ecosystem"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetListingResponse:
      properties:
        data:
          $ref: "#/components/schemas/Listing"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetListingsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Listing"
          type: array
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetProductResponse:
      properties:
        data:
          $ref: "#/components/schemas/Product"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    GetProductsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Product"
          type: array
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
    IntegrationSettings:
      additionalProperties: false
      properties:
        albacross_id:
          nullable: true
          type: string
        automate_enabled:
          nullable: true
          type: boolean
        blendr_enabled:
          nullable: true
          type: boolean
        combidesk_enabled:
          nullable: true
          type: boolean
        crisp_id:
          nullable: true
          type: string
        drift_id:
          nullable: true
          type: string
        google_analytics_id:
          nullable: true
          type: string
        google_tag_manager_id:
          nullable: true
          type: string
        heap_id:
          nullable: true
          type: string
        hubspot_portal_id:
          nullable: true
          type: string
        integromat_enabled:
          nullable: true
          type: boolean
        intercom_app_id:
          nullable: true
          type: string
        iubenda_cookie_policy_id:
          nullable: true
          type: string
        iubenda_site_id:
          nullable: true
          type: string
        journy_io_domain:
          nullable: true
          type: string
        journy_io_id:
          nullable: true
          type: string
        livechat_id:
          nullable: true
          type: string
        metomic_id:
          nullable: true
          type: string
        microsoft_flow_enabled:
          nullable: true
          type: boolean
        microsoft_flow_id:
          nullable: true
          type: string
        onetrust_id:
          nullable: true
          type: string
        piesync_enabled:
          nullable: true
          type: boolean
        segment_enabled:
          nullable: true
          type: boolean
        segment_id:
          nullable: true
          type: string
        tray_io_enabled:
          nullable: true
          type: boolean
        zapier_beta_link:
          nullable: true
          type: string
        zapier_enabled:
          nullable: true
          type: boolean
        zapier_id:
          nullable: true
          type: string
      type: object
    LeadFormSettings:
      additionalProperties: false
      properties:
        capture_form_enabled:
          nullable: true
          type: boolean
        first_name_field_enabled:
          nullable: true
          type: boolean
        first_name_field_required:
          nullable: true
          type: boolean
        integration_enabled:
          nullable: true
          type: boolean
        last_name_field_enabled:
          nullable: true
          type: boolean
        last_name_field_required:
          nullable: true
          type: boolean
        telephone_field_enabled:
          nullable: true
          type: boolean
        telephone_field_required:
          nullable: true
          type: boolean
        work_email_validation:
          nullable: true
          type: boolean
      type: object
    Listing:
      additionalProperties: false
      properties:
        automate_id:
          nullable: true
          type: string
        blendr_id:
          nullable: true
          type: string
        card_background_color:
          nullable: true
          type: string
        category:
          $ref: "#/components/schemas/Category"
        cloud_service_id:
          nullable: true
          type: string
        combidesk_id:
          nullable: true
          type: string
        created_at:
          format: date-time
          readOnly: true
          type: string
        description:
          nullable: true
          type: string
        detail_page_disabled:
          nullable: true
          type: boolean
        external_id:
          example: "12345"
          readOnly: true
          type: string
        features:
          nullable: true
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        integromat_id:
          nullable: true
          type: string
        logo:
          $ref: "#/components/schemas/Logo"
        media:
          items:
            $ref: "#/components/schemas/Media"
          type: array
        meta_tag_description:
          nullable: true
          type: string
        meta_tag_keywords:
          nullable: true
          type: string
        meta_tag_title:
          nullable: true
          type: string
        name:
          type: string
        native_integration:
          nullable: true
          type: boolean
        native_integration_link:
          nullable: true
          type: string
        partner:
          $ref: "#/components/schemas/Partner"
        piesync_id:
          nullable: true
          type: string
        pricing:
          nullable: true
          type: string
        published:
          nullable: true
          type: boolean
        published_at:
          format: date-time
          readOnly: true
          type: string
        screenshots:
          items:
            $ref: "#/components/schemas/Screenshot"
          type: array
        segment_id:
          nullable: true
          type: string
        slug:
          type: string
        sticky:
          nullable: true
          type: boolean
        tag_line:
          nullable: true
          type: string
        third_party_integration:
          nullable: true
          type: boolean
        third_party_integration_link:
          nullable: true
          type: string
        translations:
          $ref: "#/components/schemas/Translations"
        tray_io_id:
          nullable: true
          type: string
        unify_connector_id:
          nullable: true
          type: string
        upcoming:
          nullable: true
          type: boolean
        updated_at:
          format: date-time
          readOnly: true
          type: string
        zapier_id:
          nullable: true
          type: string
      type: object
    ListingSettings:
      additionalProperties: false
      properties:
        description_text_template:
          nullable: true
          type: string
        description_title:
          nullable: true
          type: string
        features_text_template:
          nullable: true
          type: string
        features_title:
          nullable: true
          type: string
        install_button_label:
          nullable: true
          type: string
        name_postfix:
          nullable: true
          type: string
        naming:
          enum:
            - LISTING
            - LISTINGS
            - INTEGRATIONS
            - APPS
            - CONNECTORS
            - DATASOURCES
            - ADDONS
            - PLUGINS
            - PARTNERS
            - CHANNELS
            - CONNECTIONS
            - EXTENSIONS
          nullable: true
          type: string
        native_integration_link:
          nullable: true
          type: string
        pricing_disabled:
          nullable: true
          type: boolean
        pricing_text_template:
          nullable: true
          type: string
        pricing_title:
          nullable: true
          type: string
        sidebar_position:
          enum:
            - TOP
            - LEFT
            - RIGHT
            - HIDDEN
          nullable: true
          type: string
      type: object
    Logo:
      additionalProperties: false
      properties:
        content_type:
          nullable: true
          type: string
        id:
          type: string
        type:
          enum:
            - LOGO
            - BANNER
            - SCREENSHOT
          nullable: true
          type: string
        url:
          type: string
      type: object
    MastheadSettings:
      additionalProperties: false
      properties:
        background:
          nullable: true
          type: string
        background_color:
          nullable: true
          type: string
        color:
          nullable: true
          type: string
        columns:
          nullable: true
          type: integer
        description:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
      type: object
    Media:
      additionalProperties: false
      properties:
        caption:
          example: Media
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        sequence:
          example: 1
          type: integer
        translations:
          $ref: "#/components/schemas/Translations"
        type:
          enum:
            - SCREENSHOT
            - VIDEO
          nullable: true
          type: string
        url:
          type: string
      type: object
    MetaTagSettings:
      additionalProperties: false
      properties:
        description:
          nullable: true
          type: string
        description_category_page:
          nullable: true
          type: string
        description_collection_page:
          nullable: true
          type: string
        description_listing_page:
          nullable: true
          type: string
        keywords:
          nullable: true
          type: string
        title:
          nullable: true
          type: string
        title_postfix:
          nullable: true
          type: string
      type: object
    Partner:
      additionalProperties: false
      properties:
        company:
          type: string
        contacts:
          items:
            $ref: "#/components/schemas/Contact"
          type: array
        created_at:
          format: date-time
          readOnly: true
          type: string
        icon:
          $ref: "#/components/schemas/File"
        id:
          example: "12345"
          readOnly: true
          type: string
        listed:
          nullable: true
          type: string
        twitter:
          nullable: true
          type: string
        updated_at:
          format: date-time
          readOnly: true
          type: string
        website:
          nullable: true
          type: string
      type: object
    Product:
      additionalProperties: false
      properties:
        count:
          example: 1
          type: integer
        description:
          nullable: true
          type: string
        id:
          example: "12345"
          readOnly: true
          type: string
        logo:
          $ref: "#/components/schemas/File"
        name:
          type: string
        sequence:
          example: 1
          type: integer
        slug:
          type: string
        translations:
          $ref: "#/components/schemas/Translations"
        visible:
          type: boolean
      type: object
    Screenshot:
      additionalProperties: false
      properties:
        caption:
          example: Screenshot
          type: string
        file:
          $ref: "#/components/schemas/File"
        id:
          example: "12345"
          readOnly: true
          type: string
        translations:
          $ref: "#/components/schemas/Translations"
      type: object
    Translations:
      items:
        properties:
          key:
            type: string
          locale:
            type: string
          value:
            nullable: true
            type: string
        type: object
      nullable: true
      type: array
