openapi: 3.0.0
servers:
  - url: https://advisorynotifications.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: An API for accessing Advisory Notifications in Google Cloud
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Advisory Notifications API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://advisorynotifications.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: advisorynotifications
externalDocs:
  url: https://cloud.google.com/advisory-notifications
tags:
  - name: organizations
paths:
  "/v1/{name}":
    get:
      description: Gets a notification.
      operationId: advisorynotifications.organizations.locations.notifications.get
      parameters:
        - description: "Required. A name of the notification to retrieve. Format: organizations/{organization}/locations/{location}/notifications/{notification}."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: ISO code for requested localization language. If unset, will be interpereted as "en". If the requested language is valid, but not supported for this notification, English will be returned with an "Not applicable" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.
          in: query
          name: languageCode
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1Notification"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - organizations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/notifications":
    get:
      description: Lists notifications under a given parent.
      operationId: advisorynotifications.organizations.locations.notifications.list
      parameters:
        - description: Required. The parent, which owns this collection of notifications. Must be of the form "organizations/{organization}/locations/{location}".
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: ISO code for requested localization language. If unset, will be interpereted as "en". If the requested language is valid, but not supported for this notification, English will be returned with an "Not applicable" LocalizationState. If the ISO code is invalid (i.e. not a real language), this RPC will throw an error.
          in: query
          name: languageCode
          schema:
            type: string
        - description: The maximum number of notifications to return. The service may return fewer than this value. If unspecified or equal to 0, at most 50 notifications will be returned. The maximum value is 50; values above 50 will be coerced to 50.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token returned from a previous request. When paginating, all other parameters provided in the request must match the call that returned the page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Specifies which parts of the notification resource should be returned in the response.
          in: query
          name: view
          schema:
            enum:
              - NOTIFICATION_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1ListNotificationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - organizations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudAdvisorynotificationsV1Attachment:
      description: Attachment with specific information about the issue.
      properties:
        csv:
          $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1Csv"
          description: A CSV file attachment. Max size is 10 MB.
        displayName:
          description: The title of the attachment.
          type: string
      type: object
    GoogleCloudAdvisorynotificationsV1Csv:
      description: A representation of a CSV file attachment, as a list of column headers and a list of data rows.
      properties:
        dataRows:
          description: The list of data rows in a CSV file, as string arrays rather than as a single comma-separated string.
          items:
            $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1CsvCsvRow"
          type: array
        headers:
          description: The list of headers for data columns in a CSV file.
          items:
            type: string
          type: array
      type: object
    GoogleCloudAdvisorynotificationsV1CsvCsvRow:
      description: A representation of a single data row in a CSV file.
      properties:
        entries:
          description: The data entries in a CSV file row, as a string array rather than a single comma-separated string.
          items:
            type: string
          type: array
      type: object
    GoogleCloudAdvisorynotificationsV1ListNotificationsResponse:
      description: Response of ListNotifications endpoint.
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
        notifications:
          description: List of notifications under a given parent.
          items:
            $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1Notification"
          type: array
        totalSize:
          description: Estimation of a total number of notifications.
          format: int32
          type: integer
      type: object
    GoogleCloudAdvisorynotificationsV1Message:
      description: A message which contains notification details.
      properties:
        attachments:
          description: The attachments to download.
          items:
            $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1Attachment"
          type: array
        body:
          $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1MessageBody"
          description: The message content.
        createTime:
          description: The Message creation timestamp.
          format: google-datetime
          type: string
        localizationTime:
          description: Time when Message was localized
          format: google-datetime
          type: string
      type: object
    GoogleCloudAdvisorynotificationsV1MessageBody:
      description: A message body containing text.
      properties:
        text:
          $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1Text"
          description: The text content of the message body.
      type: object
    GoogleCloudAdvisorynotificationsV1Notification:
      description: A notification object for notifying customers about security and privacy issues.
      properties:
        createTime:
          description: Output only. Time the notification was created.
          format: google-datetime
          readOnly: true
          type: string
        messages:
          description: A list of messages in the notification.
          items:
            $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1Message"
          type: array
        name:
          description: "The resource name of the notification. Format: organizations/{organization}/locations/{location}/notifications/{notification}."
          type: string
        notificationType:
          description: Type of notification
          enum:
            - NOTIFICATION_TYPE_UNSPECIFIED
            - NOTIFICATION_TYPE_SECURITY_PRIVACY_ADVISORY
            - NOTIFICATION_TYPE_SENSITIVE_ACTIONS
          type: string
        subject:
          $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1Subject"
          description: The subject line of the notification.
      type: object
    GoogleCloudAdvisorynotificationsV1Subject:
      description: A subject line of a notification.
      properties:
        text:
          $ref: "#/components/schemas/GoogleCloudAdvisorynotificationsV1Text"
          description: The text content.
      type: object
    GoogleCloudAdvisorynotificationsV1Text:
      description: A text object containing the English text and its localized copies.
      properties:
        enText:
          description: The English copy.
          type: string
        localizationState:
          description: Status of the localization.
          enum:
            - LOCALIZATION_STATE_UNSPECIFIED
            - LOCALIZATION_STATE_NOT_APPLICABLE
            - LOCALIZATION_STATE_PENDING
            - LOCALIZATION_STATE_COMPLETED
          type: string
        localizedText:
          description: The requested localized copy (if applicable).
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud data and see the email address for your Google Account.
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
