swagger: '2.0'
schemes:
  - http
  - https
host: programmes.api.bbc.com
basePath: /nitro/api
info:
  contact:
    email: nitro@bbc.co.uk
    name: Open Nitro Project
    url: 'http://developer.bbc.co.uk/'
  description: BBC Nitro is the BBC's application programming interface (API) for BBC Programmes Metadata.
  license:
    name: Nitro Public License
    url: 'https://developer.bbc.co.uk/nitropubliclicence/'
  termsOfService: 'http://www.bbc.co.uk/terms/'
  title: BBC Nitro
  version: 1.0.0
  x-apiClientRegistration:
    url: 'https://developer.bbc.co.uk/user/register'
  x-logo:
    url: 'https://developer.bbc.co.uk/sites/default/files/Nitro%20On%20White.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Mermade/bbcparse/master/nitroApi/swagger.json'
    version: '2.0'
  x-providerName: bbc.com
  x-unofficialSpec: true
externalDocs:
  description: Nitro for developers
  url: 'https://developer.bbc.co.uk/nitro'
consumes:
  - application/json
produces:
  - application/json
  - application/xml
securityDefinitions:
  api_key:
    in: query
    name: api_key
    type: apiKey
security:
  - api_key: []
tags:
  - description: Nitro data feeds
    name: feeds
  - description: Nitro metadata
    name: schema
  - description: Nitro Raw
    name: Raw
paths:
  /:
    get:
      description: Get API definition
      operationId: getAPI
      parameters: []
      responses:
        '200':
          description: Metadata response
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: Get API definition
      tags:
        - schema
  /availabilities:
    get:
      description: Discover details of on-demand availability for programmes and their versions
      operationId: listAvailability
      parameters:
        - description: |
            Sorts:
            * sort chronologically by scheduled start time/date, ascending
          enum:
            - scheduled_start
          in: query
          name: sort
          required: false
          type: string
        - description: Sort direction
          enum:
            - ascending
            - descending
          in: query
          name: sort_direction
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of availabilities
          enum:
            - available
          in: query
          items:
            format: string
          name: availability
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of availabilities that have PID as ancestor
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: descendants_of
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of availabilities with media set
          in: query
          items:
            type: string
          name: media_set
          required: false
          type: array
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for availabilities in given territory
          enum:
            - uk
            - nonuk
            - world
          in: query
          items:
            format: string
          name: territory
          required: false
          type: array
        - description: Turn on debug information (undocumented)
          in: query
          name: debug
          required: false
          type: boolean
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: Discover details of on-demand availability for programmes and their versions
      tags:
        - feeds
  /broadcasts:
    get:
      description: 'Fetch metadata about linear Broadcasts and Services, allowing the generation of Television and Radio schedules and other datasets for broadcast items. Use /schedules instead of this feed as it is more efficient. Broadcasts will be deprecated in the future.'
      operationId: listBroadcasts
      parameters:
        - description: |
            Sorts:
            * sort chronologically by scheduled start time/date, ascending
          enum:
            - start_date
          in: query
          name: sort
          required: false
          type: string
        - description: Sort direction
          enum:
            - ascending
            - descending
          in: query
          name: sort_direction
          required: false
          type: string
        - collectionFormat: multi
          description: |
            Mixins:
            * return ancestor programme titles
          enum:
            - titles
          in: query
          items:
            format: string
          name: mixin
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts that have given authority
          in: query
          items:
            type: string
          name: authority
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts that are descendants of the given programme PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: descendants_of
          required: false
          type: array
        - description: filter for subset of broadcasts that end on or later than the specified datetime
          format: date-time
          in: query
          name: end_from
          required: false
          type: string
        - description: filter for subset of broadcasts that end on or earlier than the specified datetime
          format: date-time
          in: query
          name: end_to
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of broadcasts that are classified in the given format ID
          in: query
          items:
            type: string
          name: format
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts that are classified in the given genre ID
          in: query
          items:
            type: string
          name: genre
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts that have given identifier
          in: query
          items:
            type: string
          name: id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts with the given item performed on it
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: item
          required: false
          type: array
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - description: filter for subset of broadcasts that have given contributor
          in: query
          name: people
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of broadcasts having given PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: pid
          required: false
          type: array
        - description: filter for subset of broadcasts matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
        - description: filter for subset of broadcasts that start on the specified day (BBC time)
          format: date
          in: query
          name: schedule_day
          required: false
          type: string
        - description: filter for subset of broadcasts that start on or after the specified day (BBC time)
          format: date
          in: query
          name: schedule_day_from
          required: false
          type: string
        - description: filter for subset of broadcasts that start on or before the specified day (BBC time)
          format: date
          in: query
          name: schedule_day_to
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of broadcasts with given service master brand
          in: query
          items:
            type: string
          name: service_master_brand
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts that are on the specified linear service
          in: query
          items:
            type: string
          name: sid
          required: false
          type: array
        - description: filter for subset of broadcasts that start on or later than the specified datetime
          format: date-time
          in: query
          name: start_from
          required: false
          type: string
        - description: filter for subset of broadcasts that start on or earlier than the specified datetime
          format: date-time
          in: query
          name: start_to
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of broadcasts with given PID as their parent version
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: version
          required: false
          type: array
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: Build schedules and find metadata for TV and radio broadcasts
      tags:
        - feeds
  /groups:
    get:
      description: 'Long-lived curated collections of programmes and more, including Collections, Seasons, Franchises and Galleries'
      operationId: listGroups
      parameters:
        - description: |
            Sorts:
            * sort alphabetically by PID
          enum:
            - pid
          in: query
          name: sort
          required: false
          type: string
        - description: Sort direction
          enum:
            - descending
          in: query
          name: sort_direction
          required: false
          type: string
        - collectionFormat: multi
          description: |
            Mixins:
            * mixin to return the alternate images for a group
            * mixin to return links to programme entities that group belongs to
            * mixin to add image information for a group
            * mixin to return related links for the group
          enum:
            - alternate_images
            - group_for
            - images
            - related_links
          in: query
          items:
            format: string
          name: mixin
          required: false
          type: array
        - description: filter for groups related to given programme or its descendants
          in: query
          minLength: 8
          name: for_descendants_of
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - description: filter for subset of groups directly related to a given programme
          in: query
          minLength: 8
          name: for_programme
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - description: filter for subset of groups which belong to the given group pid
          in: query
          minLength: 8
          name: group
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of groups that have the given group type
          enum:
            - collection
            - franchise
            - gallery
            - season
          in: query
          items:
            format: string
          name: group_type
          required: false
          type: array
        - description: filter for subset of groups which contain an entity with the given pid as a member
          in: query
          minLength: 8
          name: member
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for groups by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for groups by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - collectionFormat: multi
          description: 'filter for subset of seasons, collections, galleries or franchises having given PID'
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: pid
          required: false
          type: array
        - description: filter for subset of groups matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: 'Find metadata for curated groups: seasons, collections, galleries or franchises'
      tags:
        - feeds
  /images:
    get:
      description: 'Find metadata for images, particularly those in galleries'
      operationId: listImages
      parameters:
        - description: |
            Sorts:
            * sort numerically by position, ascending only
            * sort alphabetically by PID
          enum:
            - group_position
            - pid
          in: query
          name: sort
          required: false
          type: string
        - description: Sort direction
          enum:
            - ascending
            - descending
          in: query
          name: sort_direction
          required: false
          type: string
        - description: filter for images belonging to the given group (i.e. Gallery)
          in: query
          minLength: 8
          name: group
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - collectionFormat: multi
          description: filter for images by type
          enum:
            - standard
            - podcast
            - store
            - portrait
            - letterbox
          in: query
          items:
            format: string
          name: image_type
          required: false
          type: array
        - description: filter for alternate images by entity PID
          in: query
          minLength: 8
          name: is_alternate_image_for
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - description: filter for images by entity PID
          in: query
          minLength: 8
          name: is_image_for
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for images by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for images by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of images having given PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: pid
          required: false
          type: array
        - description: filter for subset of images matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: Find metadata for images
      tags:
        - feeds
  /items:
    get:
      description: 'Look inside programmes to find segments: chapters, tracks and more'
      operationId: listItems
      parameters:
        - description: |
            Sorts:
            * sort by pid, descending
          enum:
            - pid
          in: query
          name: sort
          required: false
          type: string
        - description: Sort direction
          enum:
            - descending
          in: query
          name: sort_direction
          required: false
          type: string
        - collectionFormat: multi
          description: |
            Mixins:
            * mixin to return information about contributors to items
            * mixin to add image information for an item
            * mixin to return programme segment events, works in conjunction with programme or segment_event filters
          enum:
            - contributions
            - images
            - play_event
          in: query
          items:
            format: string
          name: mixin
          required: false
          type: array
        - description: filter for subset of items that have an ID issued by the given authority
          in: query
          name: authority
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of items having given ID
          in: query
          items:
            type: string
          name: id
          required: false
          type: array
        - description: filter for subset of items that have given an ID of the given type
          in: query
          name: id_type
          required: false
          type: string
        - collectionFormat: multi
          description: filter for specific type(s) of items
          enum:
            - chapter
            - highlight
            - music
            - speech
            - other
          in: query
          items:
            format: string
          name: item_type
          required: false
          type: array
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for items by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for items by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - description: filter for subset of items that have specified person involved
          in: query
          name: people
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of items matching one of the given PIDs
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: pid
          required: false
          type: array
        - description: filter for subset of items that are part of the given programme
          in: query
          minLength: 8
          name: programme
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - description: filter for subset of items matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
        - description: filter for item with the given segment_event
          in: query
          name: segment_event
          required: false
          type: string
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: 'Look inside programmes to find segments: chapters, tracks and more'
      tags:
        - feeds
  /master_brands:
    get:
      description: List all Master Brands
      operationId: listMasterbrands
      parameters:
        - description: |
            Sorts:
            * sort by mid, ascending
          enum:
            - mid
          in: query
          name: sort
          required: false
          type: string
        - description: Sort direction
          enum:
            - ascending
          in: query
          name: sort_direction
          required: false
          type: string
        - collectionFormat: multi
          description: |
            Mixins:
            * mixin to add image information for a masterbrand
          enum:
            - images
          in: query
          items:
            format: string
          name: mixin
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of masterbrands that have given identifier
          in: query
          items:
            type: string
          name: mid
          required: false
          type: array
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for masterbrands by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for masterbrands by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - description: filter for subset of masterbrands matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: List all Master Brands
      tags:
        - feeds
  /people:
    get:
      description: 'The People feed allows you to search for the people and groups that contribute to programmes. This is the starting point for cast and crew credits, as well as finding contributors using external IDs (such as Wikipedia URLs)'
      operationId: listPeople
      parameters:
        - description: filter for subset of people that have an ID issued by the given authority
          in: query
          name: authority
          required: false
          type: string
        - collectionFormat: multi
          description: filter for people who have an external identifier
          enum:
            - 'true'
            - 'false'
          in: query
          items:
            format: string
          name: has_external_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of people having given ID
          in: query
          items:
            type: string
          name: id
          required: false
          type: array
        - description: filter for subset of people that have given an ID of the given type
          in: query
          name: id_type
          required: false
          type: string
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for people by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for people by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of people having given PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: pid
          required: false
          type: array
        - description: filter for subset of people that have contributed to the given programme pid
          in: query
          name: programme
          required: false
          type: string
        - description: filter for subset of people matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: 'Find the people behind and in programmes: cast, crew, guests and more'
      tags:
        - feeds
  /pips:
    get:
      description: Look inside pips entities
      operationId: listPips
      parameters:
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - description: filter for subset of programmes matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: Look inside pips entities
      tags:
        - feeds
  /programmes:
    get:
      description: 'Fetch metadata about Programmes (brands, series, episodes, clips). By applying different filter restrictions this feed can be used in many ways, for example to retrieve all series belonging to a brand, all the episodes and/or clips for a specific series, or any TLEO objects for a masterbrand. Other filters permit restricting to specific formats and/or genres, and you can request specific versions (for example Signed or Audio-Described). Parameters may be combined in any way suitable for your application.'
      operationId: listProgrammes
      parameters:
        - description: |
            Sorts:
            * sort numerically by position in group, ascending
            * sort alphabetically by PID, descending
            * sort numerically by position, ascending
            * sort by promotion rank, ascending
            * sort chronologically by release date, descending
            * sort by weighting of search term (use with q parameter)
            * sort chronologically by scheduled start time/date, ascending
            * sort alphabetically by title, ascending
            * sort by title librarian style (ignoring leading 'The', 'A', etc), ascending
            * sort by root pid and then preorder tree sort. Requires entities to have release date.
            * sort numerically by number of views (most popular first)
          enum:
            - group_position
            - pid
            - position
            - promotion
            - release_date
            - relevance
            - scheduled_start
            - strict_title
            - title
            - tree
            - views
          in: query
          name: sort
          required: false
          type: string
        - description: Sort direction
          enum:
            - ascending
            - descending
          in: query
          name: sort_direction
          required: false
          type: string
        - collectionFormat: multi
          description: |
            Mixins:
            * mixin to return the alternate images for a programme
            * mixin to return ancestor programme titles
            * mixin to return programme availability information
            * mixin to return information about programmes that are currently available as simulcasts
            * mixin to return information about programmes that are currently available on demand
            * mixin to return information about programmes that are currently available as webcasts
            * mixin to return information about contributors to a programme
            * mixin to return original version duration in programme concept entities
            * mixin to return list of genre groupings
            * mixin to add image information for a programme
            * mixin to add embeddable information for a programme
            * mixin to return the programmes which appear before and after a programme (as determined by the sort applied in the request)
            * mixin to return information about related links to a programme
          enum:
            - alternate_images
            - ancestor_titles
            - availability
            - available_simulcasts
            - available_versions
            - available_webcasts
            - contributions
            - duration
            - genre_groupings
            - images
            - is_embeddable
            - previous_next
            - related_links
          in: query
          items:
            format: string
          name: mixin
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes that are audio-described
          enum:
            - 'true'
            - 'false'
          in: query
          items:
            format: string
          name: audio_described
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes that have availability
          enum:
            - available
            - pending
          in: query
          items:
            format: string
          name: availability
          required: false
          type: array
        - collectionFormat: multi
          description: additional filter when availability=available
          enum:
            - episode
            - clip
          in: query
          items:
            format: string
          name: availability_entity_type
          required: false
          type: array
        - collectionFormat: multi
          description: filter for a subset of programmes that are available for a given type
          enum:
            - ondemand
            - webcast
            - simulcast
          in: query
          items:
            format: string
          name: availability_type
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes that have PID as immediate parent
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: children_of
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes that have PID as ancestor
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: descendants_of
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes that have given duration
          enum:
            - short
            - medium
            - long
          in: query
          items:
            format: string
          name: duration
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes that have given entity type
          enum:
            - brand
            - series
            - episode
            - clip
          in: query
          items:
            format: string
          name: entity_type
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes with format
          in: query
          items:
            type: string
          name: format
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes with genre
          in: query
          items:
            type: string
          name: genre
          required: false
          type: array
        - description: filter for subset of programmes which belong to the given group pid
          in: query
          minLength: 8
          name: group
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - description: 'filter for subset of programmes with title beginning with initial letter librarian style (ignoring leading ''The'', ''An'' (Welsh), etc) 0-9 a-z'
          in: query
          maxLength: 1
          minLength: 1
          name: initial_letter
          required: false
          type: string
        - description: Programmes with (librarian) titles whose initial letter is equal/before given letter. Use with initial_letter_start for a range
          in: query
          maxLength: 1
          minLength: 1
          name: initial_letter_end
          required: false
          type: string
        - description: Programmes with (librarian) titles whose initial letter is equal/after given letter. Use with initial_letter_end for range.
          in: query
          maxLength: 1
          minLength: 1
          name: initial_letter_start
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of programmes with title beginning with initial letter
          in: query
          items:
            maxLength: 1
            minLength: 1
            type: string
          name: initial_letter_strict
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes with linked to versions which have the given item pids
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: item
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes with master_brand
          in: query
          items:
            type: string
          name: master_brand
          required: false
          type: array
        - description: filter for subset of programmes with media set
          in: query
          name: media_set
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of programmes with media type
          enum:
            - audio
            - audio_video
          in: query
          items:
            format: string
          name: media_type
          required: false
          type: array
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for programmes by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for programmes by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - collectionFormat: multi
          description: filter for a subset of programmes that are of the given payment_type
          enum:
            - free
            - bbcstore
            - uscansvod
          in: query
          items:
            format: string
          name: payment_type
          required: false
          type: array
        - description: filter for subset of programmes with contributions by given people PID
          in: query
          minLength: 8
          name: people
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of programmes having given PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: pid
          required: false
          type: array
        - description: filter for subset of programmes which are promoted for given service
          in: query
          name: promoted_for
          required: false
          type: string
        - description: filter for subset of programmes matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of programmes that are signed
          enum:
            - exclusive
            - inclusive
            - exclude
          in: query
          items:
            format: string
          name: signed
          required: false
          type: array
        - description: filter for subset of programmes with tag
          in: query
          name: tag_name
          required: false
          type: string
        - description: filter for subset of programmes with a tag
          in: query
          name: tag_scheme
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of programmes that are TLEOs
          enum:
            - 'true'
            - 'false'
          in: query
          items:
            format: string
          name: tleo
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of programmes with given PID as one of their versions
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: version
          required: false
          type: array
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: 'Start here for programmes metadata: Brands, Series, Episodes and Clips'
      tags:
        - feeds
  /promotions:
    get:
      description: 'Details of short-term editorially curated "promotions", for instance those programmes featured on iPlayer today'
      operationId: listPromotions
      parameters:
        - collectionFormat: multi
          description: |
            Mixins:
            * mixin to return information about related links to a promotion
          enum:
            - related_links
          in: query
          items:
            format: string
          name: mixin
          required: false
          type: array
        - description: filter for subset of promotions belonging to a given context
          in: query
          minLength: 8
          name: context
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for promotions by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for promotions by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of promotions having given PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: pid
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of promotions having given promoted by
          in: query
          items:
            type: string
          name: promoted_by
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of promotions having given promoted for
          in: query
          items:
            type: string
          name: promoted_for
          required: false
          type: array
        - description: filter for subset of promotions matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of promotions with status
          enum:
            - current
          in: query
          items:
            format: string
          name: status
          required: false
          type: array
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: Discover metadata for content promotions
      tags:
        - feeds
  /schedules:
    get:
      description: 'Dates, Times, Schedules: when and where are programmes being shown?'
      operationId: listSchedules
      parameters:
        - description: |
            Sorts:
            * sort chronologically by scheduled start time/date, ascending
          enum:
            - start_date
          in: query
          name: sort
          required: false
          type: string
        - description: Sort direction
          enum:
            - ascending
            - descending
          in: query
          name: sort_direction
          required: false
          type: string
        - collectionFormat: multi
          description: |
            Mixins:
            * return ancestor programme titles
            * mixin to add image information for broadcasts and webcasts
          enum:
            - ancestor_titles
            - images
          in: query
          items:
            format: string
          name: mixin
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts that have given authority
          in: query
          items:
            type: string
          name: authority
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts that are descendants of the given programme PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: descendants_of
          required: false
          type: array
        - description: filter for subset of broadcasts and webcasts that end on or later than the specified datetime
          format: date-time
          in: query
          name: end_from
          required: false
          type: string
        - description: filter for subset of broadcasts and webcasts that end on or earlier than the specified datetime
          format: date-time
          in: query
          name: end_to
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts that are classified in the given format ID
          in: query
          items:
            type: string
          name: format
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts that are classified in the given genre ID
          in: query
          items:
            type: string
          name: genre
          required: false
          type: array
        - description: filter for subset of broadcasts and webcasts that have programmes in the given group
          in: query
          minLength: 8
          name: group
          pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts that have given identifier
          in: query
          items:
            type: string
          name: id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts that have given id type
          in: query
          items:
            type: string
          name: id_type
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts with the given item performed on it
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: item
          required: false
          type: array
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for broadcasts and webcasts by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for broadcasts and webcasts by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - description: filter for subset of broadcasts and webcasts that have given contributor
          in: query
          name: people
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts having given PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: pid
          required: false
          type: array
        - description: filter for subset of broadcasts and webcasts matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
        - description: filter to show either only repeats or non-repeats
          in: query
          name: repeat
          required: false
          type: boolean
        - description: filter for subset of broadcasts and webcasts that start on the specified day (BBC time)
          format: date
          in: query
          name: schedule_day
          required: false
          type: string
        - description: filter for subset of broadcasts and webcasts that start on or after the specified day (BBC time)
          format: date
          in: query
          name: schedule_day_from
          required: false
          type: string
        - description: filter for subset of broadcasts and webcasts that start on or before the specified day (BBC time)
          format: date
          in: query
          name: schedule_day_to
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts with given service master brand
          in: query
          items:
            type: string
          name: service_master_brand
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts that are on the specified linear service
          in: query
          items:
            type: string
          name: sid
          required: false
          type: array
        - description: filter for subset of broadcasts and webcasts that start on or later than the specified datetime
          format: date-time
          in: query
          name: start_from
          required: false
          type: string
        - description: filter for subset of broadcasts and webcasts that start on or earlier than the specified datetime
          format: date-time
          in: query
          name: start_to
          required: false
          type: string
        - collectionFormat: multi
          description: filter for subset of broadcasts and webcasts with given PID as their parent version
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: version
          required: false
          type: array
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: Build schedules and find metadata for TV and radio broadcasts and webcasts
      tags:
        - feeds
  /schema:
    get:
      description: Get Schema definition
      operationId: getXSD
      parameters: []
      responses:
        '200':
          description: Metadata response
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: Get Schema definition
      tags:
        - schema
  /services:
    get:
      description: The services feed exposes the linear broadcast "services" from PIPs. These are the actual services which broadcast programmes (eg bbc_one_oxford is the service for BBC One in Oxford).
      operationId: listServices
      parameters:
        - description: Return services that end on or later than the specified datetime
          format: date-time
          in: query
          name: end_from
          required: false
          type: string
        - description: filter for subset of broadcasts that end on or earlier than the specified datetime
          format: date-time
          in: query
          name: end_to
          required: false
          type: string
        - collectionFormat: multi
          description: filter for services by masterbrand MID
          in: query
          items:
            type: string
          name: mid
          required: false
          type: array
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for services by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for services by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - description: filter for subset of services matching supplied keyword/phrase (boolean operators permitted)
          in: query
          name: q
          required: false
          type: string
        - collectionFormat: multi
          description: 'filter for specified type of linear services. one of: TV, Local Radio, National Radio, Regional Radio'
          enum:
            - TV
            - Local Radio
            - National Radio
            - Regional Radio
            - Interactive
          in: query
          items:
            format: string
          name: service_type
          required: false
          type: array
        - collectionFormat: multi
          description: filter for specified linear service
          in: query
          items:
            type: string
          name: sid
          required: false
          type: array
        - description: Return services that start on or later than the specified datetime
          format: date-time
          in: query
          name: start_from
          required: false
          type: string
        - description: Return services that start earlier than the specified datetime
          format: date-time
          in: query
          name: start_to
          required: false
          type: string
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: Information about the linear services used for broadcast transmissions
      tags:
        - feeds
  '/v1/brands/{pid}':
    get:
      consumes:
        - application/json
      description: Get raw brand
      operationId: Get_Raw_brand
      parameters:
        - in: path
          name: pid
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
      summary: Get raw brand
      tags:
        - Raw
  '/v1/brands/{pid}/franchises/':
    get:
      consumes:
        - application/json
      description: Get raw brand franchises
      operationId: Get_Raw_brand franchises
      parameters:
        - in: path
          name: pid
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
      summary: Get raw brand franchise
      tags:
        - Raw
  '/v1/episodes/{pid}':
    get:
      consumes:
        - application/json
      description: Get raw episode
      operationId: Get_Raw_episode
      parameters:
        - in: path
          name: pid
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
      summary: Get raw episode
      tags:
        - Raw
  '/v1/episodes/{pid}/ancestors/':
    get:
      consumes:
        - application/json
      description: Get raw ancestors
      operationId: Get_Raw_ancestors
      parameters:
        - in: path
          name: pid
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
      summary: Get raw ancestors
      tags:
        - Raw
  '/v1/episodes/{pid}/formats/':
    get:
      consumes:
        - application/json
      description: Get raw formats
      operationId: Get_Raw_formats
      parameters:
        - in: path
          name: pid
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
      summary: Get raw formats
      tags:
        - Raw
  '/v1/episodes/{pid}/genre_groups/':
    get:
      consumes:
        - application/json
      description: Get raw genre groups
      operationId: Get_Raw_genre_groups
      parameters:
        - in: path
          name: pid
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
      summary: Get raw genre groups
      tags:
        - Raw
  '/v1/images/{pid}':
    get:
      consumes:
        - application/json
      description: Get raw image
      operationId: Get_Raw_image
      parameters:
        - in: path
          name: pid
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
      summary: Get raw image
      tags:
        - Raw
  '/v1/master_brands/{mbid}':
    get:
      consumes:
        - application/json
      description: Get raw masterbrand
      operationId: Get_Raw_masterbrand
      parameters:
        - in: path
          name: mbid
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
      summary: Get raw masterbrand
      tags:
        - Raw
  '/v1/promotions/{pid}':
    get:
      consumes:
        - application/json
      description: Get raw promotion
      operationId: Get_Raw_promotion
      parameters:
        - in: path
          name: pid
          required: true
          type: string
      produces:
        - application/json
        - application/xml
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
      summary: Get raw promotion
      tags:
        - Raw
  /versions:
    get:
      description: 'The versions feed exposes editorial "Versions" of programmes. These are concepts used to capture different presentations of an overall programme: for example, versions of a programme may include one with sign language, one with audio description, one edited for content and more. Versions are also important to understand for broadcasts: a linear broadcast or an ondemand is always of a specific version, not merely of a programme.'
      operationId: listVersions
      parameters:
        - collectionFormat: multi
          description: filter for subset of versions that have availability
          enum:
            - available
          in: query
          items:
            format: string
          name: availability
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of versions having given programme PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: descendants_of
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of versions with availability in the given media set
          in: query
          items:
            type: string
          name: media_set
          required: false
          type: array
        - default: 1
          description: which page of results to return
          in: query
          minimum: 1
          name: page
          required: false
          type: integer
        - default: 10
          description: number of results in each page
          in: query
          maximum: 300
          name: page_size
          required: false
          type: integer
        - collectionFormat: multi
          description: filter for versions by partner ID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_id
          required: false
          type: array
        - collectionFormat: multi
          description: filter for versions by partner PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: partner_pid
          required: false
          type: array
        - collectionFormat: multi
          description: filter for a subset of versions that are of the given payment_type
          enum:
            - free
            - bbcstore
            - uscansvod
          in: query
          items:
            format: string
          name: payment_type
          required: false
          type: array
        - collectionFormat: multi
          description: filter for subset of versions having given PID
          in: query
          items:
            minLength: 8
            pattern: '^([0-9,a-d,f-h,j-n,p-t,v-z]){8,}$'
            type: string
          name: pid
          required: false
          type: array
      responses:
        '200':
          description: Nitro response
          schema:
            $ref: '#/definitions/nitro'
        default:
          description: Unexpected error
          schema:
            $ref: '#/definitions/ErrorModel'
      summary: 'Metadata on editorial programme versions: original, signed, audio-described, etc'
      tags:
        - feeds
definitions:
  ErrorModel:
    properties:
      fault:
        properties:
          detail:
            properties:
              errorcode:
                type: string
            type: object
          faultString:
            type: string
        type: object
    type: object
  accurate_programme_time:
    $ref: '#/definitions/dateRange'
  accurate_time:
    $ref: '#/definitions/broadcastTime'
  actual_start:
    format: date-time
    type: string
  advertising_allowed:
    pattern: '[a-z0-9_]+'
    type: string
  affected_by:
    additionalProperties: false
    properties:
      filter:
        items:
          additionalProperties: false
          properties:
            description:
              type: string
            filter:
              items:
                additionalProperties: false
                properties:
                  description:
                    type: string
                  name:
                    type: string
                required:
                  - name
                  - description
                type: object
              type: array
            name:
              type: string
          required:
            - name
            - description
          type: object
        type: array
    type: object
  alternate_images_mixin:
    additionalProperties: false
    properties:
      alternate_images:
        additionalProperties: false
        properties:
          alternate_image:
            items:
              additionalProperties: false
              properties:
                alternate_images:
                  additionalProperties: false
                  properties:
                    alternate_image:
                      items:
                        additionalProperties: false
                        properties:
                          href:
                            type: string
                          template_url:
                            type: string
                          type:
                            type: string
                        required:
                          - template_url
                        type: object
                      type: array
                  type: object
                href:
                  type: string
                template_url:
                  type: string
                type:
                  type: string
              required:
                - template_url
                - alternate_images
              type: object
            type: array
        type: object
    required:
      - alternate_images
    type: object
  ancestor_titles:
    additionalProperties: false
    properties:
      brand:
        additionalProperties: false
        properties:
          pid:
            $ref: '#/definitions/pid'
          title:
            $ref: '#/definitions/title'
        required:
          - pid
        type: object
      episode:
        additionalProperties: false
        properties:
          brand:
            additionalProperties: false
            properties:
              pid:
                $ref: '#/definitions/pid'
              title:
                $ref: '#/definitions/title'
            required:
              - pid
            type: object
          containers_title:
            $ref: '#/definitions/containers_title'
          episode:
            additionalProperties: false
            properties:
              containers_title:
                $ref: '#/definitions/containers_title'
              pid:
                $ref: '#/definitions/pid'
              presentation_title:
                $ref: '#/definitions/presentation_title'
              title:
                $ref: '#/definitions/title'
            required:
              - pid
            type: object
          pid:
            $ref: '#/definitions/pid'
          presentation_title:
            $ref: '#/definitions/presentation_title'
          series:
            items:
              additionalProperties: false
              properties:
                pid:
                  $ref: '#/definitions/pid'
                title:
                  $ref: '#/definitions/title'
              required:
                - pid
              type: object
            maxItems: 5
            type: array
          title:
            $ref: '#/definitions/title'
        required:
          - pid
        type: object
      series:
        items:
          additionalProperties: false
          properties:
            pid:
              $ref: '#/definitions/pid'
            title:
              $ref: '#/definitions/title'
          required:
            - pid
          type: object
        maxItems: 5
        type: array
    type: object
  ancestors:
    $ref: '#/definitions/reference'
  ancestors_titles:
    additionalProperties: false
    properties:
      brand:
        additionalProperties: false
        properties:
          pid:
            $ref: '#/definitions/pid'
          title:
            $ref: '#/definitions/title'
        required:
          - pid
        type: object
      episode:
        additionalProperties: false
        properties:
          brand:
            additionalProperties: false
            properties:
              pid:
                $ref: '#/definitions/pid'
              title:
                $ref: '#/definitions/title'
            required:
              - pid
            type: object
          containers_title:
            $ref: '#/definitions/containers_title'
          episode:
            additionalProperties: false
            properties:
              containers_title:
                $ref: '#/definitions/containers_title'
              pid:
                $ref: '#/definitions/pid'
              presentation_title:
                $ref: '#/definitions/presentation_title'
              title:
                $ref: '#/definitions/title'
            required:
              - pid
            type: object
          pid:
            $ref: '#/definitions/pid'
          presentation_title:
            $ref: '#/definitions/presentation_title'
          series:
            items:
              additionalProperties: false
              properties:
                pid:
                  $ref: '#/definitions/pid'
                title:
                  $ref: '#/definitions/title'
              required:
                - pid
              type: object
            maxItems: 5
            type: array
          title:
            $ref: '#/definitions/title'
        required:
          - pid
        type: object
      series:
        items:
          additionalProperties: false
          properties:
            pid:
              $ref: '#/definitions/pid'
            title:
              $ref: '#/definitions/title'
          required:
            - pid
          type: object
        maxItems: 5
        type: array
    type: object
  availability:
    additionalProperties: false
    properties:
      accurate_programme_time:
        $ref: '#/definitions/accurate_programme_time'
      actual_start:
        $ref: '#/definitions/actual_start'
      availability-debug:
        $ref: '#/definitions/availability-debug'
      availability_of:
        items:
          $ref: '#/definitions/availability_of'
        type: array
      availability_type:
        $ref: '#/definitions/availability_type'
      media_availability_time:
        $ref: '#/definitions/media_availability_time'
      media_set:
        items:
          $ref: '#/definitions/media_set'
        type: array
      revocation_status:
        $ref: '#/definitions/revocation_status'
      scheduled_time:
        $ref: '#/definitions/scheduled_time'
      status:
        $ref: '#/definitions/status'
    required:
      - status
      - availability_type
    type: object
  availability-debug:
    additionalProperties: false
    properties:
      availability_of:
        $ref: '#/definitions/pidReference'
      media_profile_groups:
        $ref: '#/definitions/media_profile_groups'
      service:
        $ref: '#/definitions/serviceReference'
      territory:
        type: string
    required:
      - availability_of
    type: object
  availability_mixin:
    additionalProperties: false
    properties:
      availability:
        items:
          additionalProperties: false
          properties:
            status:
              $ref: '#/definitions/status'
            version_types:
              additionalProperties: false
              properties:
                version_type:
                  items:
                    additionalProperties: false
                    properties:
                      end:
                        format: date-time
                        type: string
                      id:
                        type: string
                      start:
                        format: date-time
                        type: string
                      version_type:
                        items:
                          additionalProperties: false
                          properties:
                            availability:
                              items:
                                additionalProperties: false
                                properties:
                                  status:
                                    $ref: '#/definitions/status'
                                  version_types:
                                    additionalProperties: false
                                    properties:
                                      version_type:
                                        items:
                                          additionalProperties: false
                                          properties:
                                            end:
                                              format: date-time
                                              type: string
                                            id:
                                              type: string
                                            start:
                                              format: date-time
                                              type: string
                                            version_type:
                                              items:
                                                additionalProperties: false
                                                properties:
                                                  end:
                                                    format: date-time
                                                    type: string
                                                  id:
                                                    type: string
                                                  start:
                                                    format: date-time
                                                    type: string
                                                type: object
                                              minItems: 1
                                              type: array
                                          required:
                                            - version_type
                                          type: object
                                        minItems: 1
                                        type: array
                                    required:
                                      - version_type
                                    type: object
                                required:
                                  - status
                                  - version_types
                                type: object
                              type: array
                            end:
                              format: date-time
                              type: string
                            id:
                              type: string
                            start:
                              format: date-time
                              type: string
                          type: object
                        minItems: 1
                        type: array
                    required:
                      - version_type
                    type: object
                  minItems: 1
                  type: array
              required:
                - version_type
              type: object
          required:
            - status
            - version_types
          type: object
        type: array
    type: object
  availability_of:
    additionalProperties: false
    properties:
      href:
        type: string
      pid:
        $ref: '#/definitions/pid'
      result_type:
        type: string
      type:
        type: string
    required:
      - result_type
      - pid
      - href
    type: object
  availability_type:
    enum:
      - ondemand
      - simulcast
      - webcast
  available_media_sets:
    additionalProperties: false
    properties:
      media_sets:
        additionalProperties: false
        properties:
          media_set:
            items:
              additionalProperties: false
              properties:
                '#text':
                  type: string
                media_sets:
                  additionalProperties: false
                  properties:
                    media_set:
                      items:
                        additionalProperties: false
                        properties:
                          '#text':
                            type: string
                        type: object
                      minItems: 1
                      type: array
                  required:
                    - media_set
                  type: object
              type: object
            minItems: 1
            type: array
        required:
          - media_set
        type: object
    type: object
  available_mixins:
    additionalProperties: false
    properties:
      availabilities:
        additionalProperties: false
        properties:
          availabilities:
            additionalProperties: false
            properties:
              availability:
                items:
                  additionalProperties: false
                  properties:
                    accurate_end:
                      format: date-time
                      type: string
                    accurate_start:
                      format: date-time
                      type: string
                    available_versions_media_sets:
                      $ref: '#/definitions/available_versions_media_sets'
                    available_versions_services:
                      $ref: '#/definitions/available_versions_services'
                    media_availability_end:
                      format: date-time
                      type: string
                    media_availability_start:
                      format: date-time
                      type: string
                    payment_type:
                      type: string
                    scheduled_end:
                      format: date-time
                      type: string
                    scheduled_start:
                      format: date-time
                      type: string
                    status:
                      type: string
                    type:
                      type: string
                  required:
                    - available_versions_media_sets
                  type: object
                minItems: 1
                type: array
              type:
                type: string
            required:
              - availability
            type: object
          availability:
            items:
              additionalProperties: false
              properties:
                accurate_end:
                  format: date-time
                  type: string
                accurate_start:
                  format: date-time
                  type: string
                available_versions_media_sets:
                  $ref: '#/definitions/available_versions_media_sets'
                available_versions_services:
                  $ref: '#/definitions/available_versions_services'
                media_availability_end:
                  format: date-time
                  type: string
                media_availability_start:
                  format: date-time
                  type: string
                payment_type:
                  type: string
                scheduled_end:
                  format: date-time
                  type: string
                scheduled_start:
                  format: date-time
                  type: string
                status:
                  type: string
                type:
                  type: string
              required:
                - available_versions_media_sets
              type: object
            minItems: 1
            type: array
          type:
            type: string
        required:
          - availability
          - availabilities
        type: object
    required:
      - availabilities
    type: object
  available_simulcasts:
    additionalProperties: false
    properties:
      available:
        type: integer
      available_versions_element:
        $ref: '#/definitions/available_versions_element'
    required:
      - available_versions_element
      - available
    type: object
  available_versions:
    additionalProperties: false
    properties:
      available:
        type: integer
      available_versions_element:
        $ref: '#/definitions/available_versions_element'
    required:
      - available_versions_element
      - available
    type: object
  available_versions_element:
    additionalProperties: false
    properties:
      version:
        items:
          additionalProperties: false
          properties:
            available_mixins:
              $ref: '#/definitions/available_mixins'
            competition_warning:
              type: boolean
            duration:
              pattern: '^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$'
              type: string
            guidance_warnings:
              $ref: '#/definitions/guidance_warnings'
            pid:
              $ref: '#/definitions/pid'
            types:
              items:
                additionalProperties: false
                properties:
                  type:
                    items:
                      type: string
                    type: array
                type: object
              minItems: 1
              type: array
            version:
              items:
                additionalProperties: false
                properties:
                  available_mixins:
                    $ref: '#/definitions/available_mixins'
                  competition_warning:
                    type: boolean
                  duration:
                    pattern: '^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$'
                    type: string
                  guidance_warnings:
                    $ref: '#/definitions/guidance_warnings'
                  pid:
                    $ref: '#/definitions/pid'
                  types:
                    items:
                      additionalProperties: false
                      properties:
                        type:
                          items:
                            type: string
                          type: array
                      type: object
                    minItems: 1
                    type: array
                required:
                  - types
                type: object
              type: array
          required:
            - types
          type: object
        type: array
    type: object
  available_versions_media_sets:
    additionalProperties: false
    properties:
      media_sets:
        additionalProperties: false
        properties:
          media_set:
            items:
              additionalProperties: false
              properties:
                actual_start:
                  format: date-time
                  type: string
                media_sets:
                  additionalProperties: false
                  properties:
                    media_set:
                      items:
                        additionalProperties: false
                        properties:
                          actual_start:
                            format: date-time
                            type: string
                          name:
                            type: string
                        required:
                          - name
                        type: object
                      minItems: 1
                      type: array
                  required:
                    - media_set
                  type: object
                name:
                  type: string
              required:
                - name
              type: object
            minItems: 1
            type: array
        required:
          - media_set
        type: object
    type: object
  available_versions_services:
    additionalProperties: false
    properties:
      services:
        additionalProperties: false
        properties:
          service:
            items:
              additionalProperties: false
              properties:
                services:
                  additionalProperties: false
                  properties:
                    service:
                      items:
                        additionalProperties: false
                        properties:
                          sid:
                            type: string
                        type: object
                      minItems: 1
                      type: array
                  required:
                    - service
                  type: object
                sid:
                  type: string
              type: object
            minItems: 1
            type: array
        required:
          - service
        type: object
    type: object
  available_webcasts:
    additionalProperties: false
    properties:
      available:
        type: integer
      available_versions_element:
        $ref: '#/definitions/available_versions_element'
    required:
      - available_versions_element
      - available
    type: object
  brand:
    additionalProperties: false
    properties:
      alternate_images_mixin:
        $ref: '#/definitions/alternate_images_mixin'
      availability_mixin:
        $ref: '#/definitions/availability_mixin'
      contributions_mixin:
        $ref: '#/definitions/contributions_mixin'
      embargoed:
        $ref: '#/definitions/embargoed'
      expected_child_count:
        $ref: '#/definitions/expected_child_count'
      franchises:
        $ref: '#/definitions/franchises'
      genre_groupings:
        $ref: '#/definitions/genre_groupings'
      image_link:
        $ref: '#/definitions/image_link'
      images_mixin:
        $ref: '#/definitions/images_mixin'
      is_embeddable:
        $ref: '#/definitions/is_embeddable'
      items_for:
        $ref: '#/definitions/items_for'
      master_brand_link:
        $ref: '#/definitions/master_brand_link'
      partner:
        $ref: '#/definitions/partner'
      pid:
        $ref: '#/definitions/pid'
      previous_next_mixin:
        $ref: '#/definitions/previous_next_mixin'
      programme_formats:
        $ref: '#/definitions/programme_formats'
      related_links:
        $ref: '#/definitions/related_links'
      release_date_group:
        $ref: '#/definitions/release_date_group'
      synopses:
        $ref: '#/definitions/synopses'
      title:
        $ref: '#/definitions/title'
      updated_time:
        $ref: '#/definitions/updated_time'
      uri:
        $ref: '#/definitions/uri'
    required:
      - pid
      - partner
      - updated_time
      - embargoed
    type: object
  broadcast:
    additionalProperties: false
    properties:
      ancestor_titles:
        $ref: '#/definitions/ancestor_titles'
      ancestors_titles:
        $ref: '#/definitions/ancestors_titles'
      broadcast_of:
        items:
          $ref: '#/definitions/broadcast_of'
        type: array
      ids:
        $ref: '#/definitions/ids'
      image_link:
        $ref: '#/definitions/image_link'
      images_mixin:
        $ref: '#/definitions/images_mixin'
      is_audio_described:
        $ref: '#/definitions/is_audio_described'
      is_blanked:
        $ref: '#/definitions/is_blanked'
      is_critical:
        $ref: '#/definitions/is_critical'
      is_repeat:
        $ref: '#/definitions/is_repeat'
      is_simulcast:
        $ref: '#/definitions/is_simulcast'
      partner:
        $ref: '#/definitions/partner'
      pid:
        $ref: '#/definitions/pid'
      published_time:
        $ref: '#/definitions/published_time'
      service:
        $ref: '#/definitions/serviceReference'
      tx_time:
        $ref: '#/definitions/tx_time'
      updated_time:
        $ref: '#/definitions/updated_time'
    required:
      - pid
      - partner
    type: object
  broadcastTime:
    allOf:
      - $ref: '#/definitions/dateRange'
      - additionalProperties: true
        properties:
          duration:
            pattern: '^(-)?P(?:([0-9,.]*)Y)?(?:([0-9,.]*)M)?(?:([0-9,.]*)W)?(?:([0-9,.]*)D)?(?:T(?:([0-9,.]*)H)?(?:([0-9,.]*)M)?(?:([0-9,.]*)S)?)?$'
            type: string
        type: object
  broadcast_of:
    $ref: '#/definitions/pidReference'
  broadcaster:
    additionalProperties: false
    properties:
      href:
        type: string
      result_type:
        type: string
      sid:
        $ref: '#/definitions/sid'
    required:
      - href
      - sid
      - result_type
    type: object
  caption:
    type: string
  catalogue_number:
    maxLength: 32
    minLength: 1
    type: string
  chapter:
    $ref: '#/definitions/item'
  clip:
    additionalProperties: false
    properties:
      advertising_allowed:
        $ref: '#/definitions/advertising_allowed'
      alternate_images_mixin:
        $ref: '#/definitions/alternate_images_mixin'
      ancestor_titles:
        $ref: '#/definitions/ancestor_titles'
      ancestors:
        $ref: '#/definitions/ancestors'
      ancestors_titles:
        $ref: '#/definitions/ancestors_titles'
      availability_mixin:
        $ref: '#/definitions/availability_mixin'
      caption:
        $ref: '#/definitions/caption'
      clip_of:
        $ref: '#/definitions/clip_of'
      contributions_mixin:
        $ref: '#/definitions/contributions_mixin'
      embargoed:
        $ref: '#/definitions/embargoed'
      genre_groupings:
        $ref: '#/definitions/genre_groupings'
      genre_groups:
        $ref: '#/definitions/genre_groups'
      image_link:
        $ref: '#/definitions/image_link'
      images_mixin:
        $ref: '#/definitions/images_mixin'
      is_embeddable:
        $ref: '#/definitions/is_embeddable'
      items_for:
        $ref: '#/definitions/items_for'
      master_brand_link:
        $ref: '#/definitions/master_brand_link'
      media_type:
        $ref: '#/definitions/media_type'
      most_popular:
        $ref: '#/definitions/most_popular'
      original_version_duration:
        $ref: '#/definitions/original_version_duration'
      partner:
        $ref: '#/definitions/partner'
      pid:
        $ref: '#/definitions/pid'
      previous_next_mixin:
        $ref: '#/definitions/previous_next_mixin'
      programme_formats:
        $ref: '#/definitions/programme_formats'
      related_links:
        $ref: '#/definitions/related_links'
      release_date_group:
        $ref: '#/definitions/release_date_group'
      synopses:
        $ref: '#/definitions/synopses'
      title:
        $ref: '#/definitions/title'
      updated_time:
        $ref: '#/definitions/updated_time'
      uri:
        $ref: '#/definitions/uri'
      versions_mixin:
        $ref: '#/definitions/versions_mixin'
    required:
      - pid
      - partner
      - updated_time
      - embargoed
      - advertising_allowed
    type: object
  clip_of:
    $ref: '#/definitions/pidReference'
  code:
    type: string
  collection:
    $ref: '#/definitions/group-body'
  competition_warning:
    type: boolean
  containers_title:
    type: string
  context:
    additionalProperties: false
    properties:
      cascades_to_descendants:
        type: boolean
      href:
        type: string
      pid:
        $ref: '#/definitions/pid'
      result_type:
        type: string
    required:
      - pid
      - result_type
    type: object
  contributions_mixin:
    additionalProperties: false
    properties:
      contributions:
        additionalProperties: false
        properties:
          contributions:
            additionalProperties: false
            properties:
              contributions_mixin_contribution:
                items:
                  $ref: '#/definitions/contributions_mixin_contribution'
                type: array
              href:
                type: string
            type: object
          contributions_mixin_contribution:
            items:
              $ref: '#/definitions/contributions_mixin_contribution'
            type: array
          href:
            type: string
        required:
          - contributions
        type: object
    required:
      - contributions
    type: object
  contributions_mixin_contribution:
    additionalProperties: false
    properties:
      contribution:
        additionalProperties: false
        properties:
          character_name:
            type: string
          contribution:
            additionalProperties: false
            properties:
              character_name:
                type: string
              contributions_mixin_contributor:
                $ref: '#/definitions/contributions_mixin_contributor'
              credit_role:
                additionalProperties: false
                properties:
                  '#text':
                    type: string
                  id:
                    type: string
                type: object
            type: object
          contributions_mixin_contributor:
            $ref: '#/definitions/contributions_mixin_contributor'
          credit_role:
            additionalProperties: false
            properties:
              '#text':
                type: string
              id:
                type: string
            type: object
        required:
          - contribution
        type: object
    required:
      - contribution
    type: object
  contributions_mixin_contributor:
    additionalProperties: false
    properties:
      contributor:
        additionalProperties: false
        properties:
          contributions_mixin_contributor_name:
            $ref: '#/definitions/contributions_mixin_contributor_name'
          contributor:
            additionalProperties: false
            properties:
              contributions_mixin_contributor_name:
                $ref: '#/definitions/contributions_mixin_contributor_name'
              href:
                type: string
              type:
                $ref: '#/definitions/type'
            type: object
          href:
            type: string
          type:
            $ref: '#/definitions/type'
        required:
          - contributor
        type: object
    required:
      - contributor
    type: object
  contributions_mixin_contributor_name:
    additionalProperties: false
    properties:
      name:
        additionalProperties: false
        properties:
          family:
            type: string
          given:
            type: string
          name:
            additionalProperties: false
            properties:
              family:
                type: string
              given:
                type: string
              presentation:
                type: string
              title:
                type: string
            type: object
          presentation:
            type: string
          title:
            type: string
        required:
          - name
        type: object
    required:
      - name
[...]
