swagger: '2.0'
schemes:
  - http
  - https
host: api.nytimes.com
basePath: /svc/suggest/v1
info:
  description: 'With the TimesTags API, you can mine the riches of the New York Times tag set. The TimesTags service matches your query to the controlled vocabularies that fuel NYTimes.com metadata. You supply a string of characters, and the service returns a ranked list of suggested terms.'
  termsOfService: 'http://developer.nytimes.com/tou'
  title: TimesTags
  version: 1.0.0
  x-apiClientRegistration:
    url: 'http://developer.nytimes.com/signup'
  x-apisguru-categories:
    - media
    - open_data
  x-logo:
    url: 'https://a1.nyt.com/assets/homepage/20160830-114229/images/foundation/logos/nyt-logo-379x64.svg'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/NYTimes/public_api_specs/master/times_tags/times_tags_v3.json'
    version: '2.0'
  x-providerName: nytimes.com
  x-serviceName: times_tags
externalDocs:
  url: 'http://developer.nytimes.com/'
produces:
  - application/json
securityDefinitions:
  apikey:
    in: query
    name: api-key
    type: apiKey
security:
  - apikey: []
paths:
  /timestags.json:
    get:
      parameters:
        - description: Your search query
          in: query
          name: query
          required: true
          type: string
        - description: |
            If you do not specify a value for filter (see the Optional Parameters), your query will be matched to tags in all four Times dictionaries: subject, geographic location, organization and person. To use more than one, separate with commas.
          enum:
            - Des
            - Geo
            - Org
            - Per
          in: query
          name: filter
          required: false
          type: string
        - default: 10
          description: Sets the maximum number of results
          in: query
          name: max
          required: false
          type: integer
      responses:
        '200':
          description: An array of tags
          schema:
            items:
              items:
                type: string
              type: array
            type: array
