openapi: 3.0.1
servers:
  - url: https://api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Ip_messaging
  version: 1.8.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_ip_messaging_v2.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_ip_messaging_v2
paths:
  /v2/Credentials:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListCredential
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  credentials:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.credential"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateCredential
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ApiKey:
                  description: ""
                  type: string
                Certificate:
                  description: ""
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                PrivateKey:
                  description: ""
                  type: string
                Sandbox:
                  description: ""
                  type: boolean
                Secret:
                  description: ""
                  type: string
                Type:
                  description: ""
                  enum:
                    - gcm
                    - apn
                    - fcm
                  type: string
              required:
                - Type
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.credential"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - type
    x-path-type: list
  "/v2/Credentials/{Sid}":
    delete:
      description: ""
      operationId: DeleteCredential
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CR[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchCredential
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CR[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.credential"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateCredential
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CR[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ApiKey:
                  description: ""
                  type: string
                Certificate:
                  description: ""
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                PrivateKey:
                  description: ""
                  type: string
                Sandbox:
                  description: ""
                  type: boolean
                Secret:
                  description: ""
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.credential"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - type
    x-path-type: instance
  /v2/Services:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListService
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  services:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateService
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: ""
                  type: string
              required:
                - FriendlyName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: list
  "/v2/Services/{ServiceSid}/Bindings":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: BindingType
          schema:
            items:
              enum:
                - gcm
                - apn
                - fcm
              type: string
            type: array
        - description: ""
          in: query
          name: Identity
          schema:
            items:
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  bindings:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.binding"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - endpoint
      - identity
    x-path-type: list
  "/v2/Services/{ServiceSid}/Bindings/{Sid}":
    delete:
      description: ""
      operationId: DeleteBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.binding"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - endpoint
      - identity
    x-path-type: instance
  "/v2/Services/{ServiceSid}/Channels":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: Type
          schema:
            items:
              enum:
                - public
                - private
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  channels:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                CreatedBy:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                Type:
                  description: ""
                  enum:
                    - public
                    - private
                  type: string
                UniqueName:
                  description: ""
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Invites":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListInvite
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: query
          name: Identity
          schema:
            items:
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  invites:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel.invite"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateInvite
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Identity:
                  description: ""
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              required:
                - Identity
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.invite"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - identity
      - date_created
    x-path-type: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Invites/{Sid}":
    delete:
      description: ""
      operationId: DeleteInvite
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IN[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchInvite
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IN[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.invite"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - identity
      - date_created
    x-path-type: instance
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Members":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: query
          name: Identity
          schema:
            items:
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  members:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel.member"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                Identity:
                  description: ""
                  type: string
                LastConsumedMessageIndex:
                  description: ""
                  nullable: true
                  type: integer
                LastConsumptionTimestamp:
                  description: ""
                  format: date-time
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              required:
                - Identity
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.member"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - identity
      - date_created
    x-path-type: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Members/{Sid}":
    delete:
      description: ""
      operationId: DeleteMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.member"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateMember
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                LastConsumedMessageIndex:
                  description: ""
                  nullable: true
                  type: integer
                LastConsumptionTimestamp:
                  description: ""
                  format: date-time
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.member"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - identity
      - date_created
    x-path-type: instance
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Messages":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: query
          name: Order
          schema:
            enum:
              - asc
              - desc
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  messages:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel.message"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                Body:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                From:
                  description: ""
                  type: string
                LastUpdatedBy:
                  description: ""
                  type: string
                MediaSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^ME[0-9a-fA-F]{32}$
                  type: string
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.message"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - from
      - to
      - date_created
    x-path-type: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Messages/{Sid}":
    delete:
      description: ""
      operationId: DeleteMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.message"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateMessage
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IM[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                Body:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                From:
                  description: ""
                  type: string
                LastUpdatedBy:
                  description: ""
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.message"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - from
      - to
      - date_created
    x-path-type: instance
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Webhooks":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  webhooks:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.channel.channel_webhook"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Configuration.Filters:
                  description: ""
                  items:
                    type: string
                  type: array
                Configuration.FlowSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Configuration.Method:
                  description: ""
                  enum:
                    - GET
                    - POST
                  type: string
                Configuration.RetryCount:
                  description: ""
                  type: integer
                Configuration.Triggers:
                  description: ""
                  items:
                    type: string
                  type: array
                Configuration.Url:
                  description: ""
                  type: string
                Type:
                  description: ""
                  enum:
                    - webhook
                    - trigger
                    - studio
                  type: string
              required:
                - Type
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.channel_webhook"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - configuration
    x-path-type: list
  "/v2/Services/{ServiceSid}/Channels/{ChannelSid}/Webhooks/{Sid}":
    delete:
      description: ""
      operationId: DeleteChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WH[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WH[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.channel_webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateChannelWebhook
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^WH[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Configuration.Filters:
                  description: ""
                  items:
                    type: string
                  type: array
                Configuration.FlowSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^FW[0-9a-fA-F]{32}$
                  type: string
                Configuration.Method:
                  description: ""
                  enum:
                    - GET
                    - POST
                  type: string
                Configuration.RetryCount:
                  description: ""
                  type: integer
                Configuration.Triggers:
                  description: ""
                  items:
                    type: string
                  type: array
                Configuration.Url:
                  description: ""
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel.channel_webhook"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - configuration
    x-path-type: instance
  "/v2/Services/{ServiceSid}/Channels/{Sid}":
    delete:
      description: ""
      operationId: DeleteChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                CreatedBy:
                  description: ""
                  type: string
                DateCreated:
                  description: ""
                  format: date-time
                  type: string
                DateUpdated:
                  description: ""
                  format: date-time
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                UniqueName:
                  description: ""
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - unique_name
      - friendly_name
    x-path-type: instance
  "/v2/Services/{ServiceSid}/Roles":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  roles:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.role"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                FriendlyName:
                  description: ""
                  type: string
                Permission:
                  description: ""
                  items:
                    type: string
                  type: array
                Type:
                  description: ""
                  enum:
                    - channel
                    - deployment
                  type: string
              required:
                - FriendlyName
                - Type
                - Permission
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.role"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - type
    x-path-type: list
  "/v2/Services/{ServiceSid}/Roles/{Sid}":
    delete:
      description: ""
      operationId: DeleteRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RL[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RL[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.role"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateRole
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^RL[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Permission:
                  description: ""
                  items:
                    type: string
                  type: array
              required:
                - Permission
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.role"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - type
    x-path-type: instance
  "/v2/Services/{ServiceSid}/Users":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  users:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.user"
                    type: array
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: CreateUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                Identity:
                  description: ""
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              required:
                - Identity
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - identity
      - date_created
    x-path-type: list
  "/v2/Services/{ServiceSid}/Users/{Sid}":
    delete:
      description: ""
      operationId: DeleteUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateUser
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            type: string
        - description: The X-Twilio-Webhook-Enabled HTTP request header
          in: header
          name: X-Twilio-Webhook-Enabled
          schema:
            enum:
              - "true"
              - "false"
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Attributes:
                  description: ""
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                RoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - identity
      - date_created
    x-path-type: instance
  "/v2/Services/{ServiceSid}/Users/{UserSid}/Bindings":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListUserBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: query
          name: BindingType
          schema:
            items:
              enum:
                - gcm
                - apn
                - fcm
              type: string
            type: array
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  bindings:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.user.user_binding"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - endpoint
      - identity
      - binding_type
    x-path-type: list
  "/v2/Services/{ServiceSid}/Users/{UserSid}/Bindings/{Sid}":
    delete:
      description: ""
      operationId: DeleteUserBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchUserBinding
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^BS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user.user_binding"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - endpoint
      - identity
      - binding_type
    x-path-type: instance
  "/v2/Services/{ServiceSid}/Users/{UserSid}/Channels":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListUserChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  channels:
                    items:
                      $ref: "#/components/schemas/ip_messaging.v2.service.user.user_channel"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - channel_sid
      - status
    x-path-type: list
  "/v2/Services/{ServiceSid}/Users/{UserSid}/Channels/{ChannelSid}":
    delete:
      description: ""
      operationId: DeleteUserChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchUserChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user.user_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateUserChannel
      parameters:
        - description: ""
          in: path
          name: ServiceSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: path
          name: UserSid
          required: true
          schema:
            type: string
        - description: ""
          in: path
          name: ChannelSid
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                LastConsumedMessageIndex:
                  description: ""
                  nullable: true
                  type: integer
                LastConsumptionTimestamp:
                  description: ""
                  format: date-time
                  type: string
                NotificationLevel:
                  description: ""
                  enum:
                    - default
                    - muted
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service.user.user_channel"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - channel_sid
      - status
    x-path-type: instance
  "/v2/Services/{Sid}":
    delete:
      description: ""
      operationId: DeleteService
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchService
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    post:
      description: ""
      operationId: UpdateService
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^IS[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                ConsumptionReportInterval:
                  description: ""
                  type: integer
                DefaultChannelCreatorRoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
                DefaultChannelRoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
                DefaultServiceRoleSid:
                  description: ""
                  maxLength: 34
                  minLength: 34
                  pattern: ^RL[0-9a-fA-F]{32}$
                  type: string
                FriendlyName:
                  description: ""
                  type: string
                Limits.ChannelMembers:
                  description: ""
                  type: integer
                Limits.UserChannels:
                  description: ""
                  type: integer
                Media.CompatibilityMessage:
                  description: ""
                  type: string
                Notifications.AddedToChannel.Enabled:
                  description: ""
                  type: boolean
                Notifications.AddedToChannel.Sound:
                  description: ""
                  type: string
                Notifications.AddedToChannel.Template:
                  description: ""
                  type: string
                Notifications.InvitedToChannel.Enabled:
                  description: ""
                  type: boolean
                Notifications.InvitedToChannel.Sound:
                  description: ""
                  type: string
                Notifications.InvitedToChannel.Template:
                  description: ""
                  type: string
                Notifications.LogEnabled:
                  description: ""
                  type: boolean
                Notifications.NewMessage.BadgeCountEnabled:
                  description: ""
                  type: boolean
                Notifications.NewMessage.Enabled:
                  description: ""
                  type: boolean
                Notifications.NewMessage.Sound:
                  description: ""
                  type: string
                Notifications.NewMessage.Template:
                  description: ""
                  type: string
                Notifications.RemovedFromChannel.Enabled:
                  description: ""
                  type: boolean
                Notifications.RemovedFromChannel.Sound:
                  description: ""
                  type: string
                Notifications.RemovedFromChannel.Template:
                  description: ""
                  type: string
                PostWebhookRetryCount:
                  description: ""
                  type: integer
                PostWebhookUrl:
                  description: ""
                  format: uri
                  type: string
                PreWebhookRetryCount:
                  description: ""
                  type: integer
                PreWebhookUrl:
                  description: ""
                  format: uri
                  type: string
                ReachabilityEnabled:
                  description: ""
                  type: boolean
                ReadStatusEnabled:
                  description: ""
                  type: boolean
                TypingIndicatorTimeout:
                  description: ""
                  type: integer
                WebhookFilters:
                  description: ""
                  items:
                    type: string
                  type: array
                WebhookMethod:
                  description: ""
                  enum:
                    - head
                    - get
                    - post
                    - patch
                    - put
                    - delete
                    - HEAD
                    - GET
                    - POST
                    - PATCH
                    - PUT
                    - DELETE
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ip_messaging.v2.service"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://ip-messaging.twilio.com
    x-default-output-properties:
      - sid
      - friendly_name
      - date_created
    x-path-type: instance
components:
  schemas:
    ip_messaging.v2.credential:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        sandbox:
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
          type: string
        type:
          enum:
            - gcm
            - apn
            - fcm
          type: string
        url:
          format: uri
          type: string
      type: object
    ip_messaging.v2.service:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        consumption_report_interval:
          type: integer
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        default_channel_creator_role_sid:
          maxLength: 34
          minLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        default_channel_role_sid:
          maxLength: 34
          minLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        default_service_role_sid:
          maxLength: 34
          minLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        friendly_name:
          type: string
        limits:
          type: object
        links:
          type: object
        media:
          type: object
        notifications:
          type: object
        post_webhook_retry_count:
          type: integer
        post_webhook_url:
          type: string
        pre_webhook_retry_count:
          type: integer
        pre_webhook_url:
          type: string
        reachability_enabled:
          type: boolean
        read_status_enabled:
          type: boolean
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        typing_indicator_timeout:
          type: integer
        url:
          format: uri
          type: string
        webhook_filters:
          items:
            type: string
          type: array
        webhook_method:
          type: string
      type: object
    ip_messaging.v2.service.binding:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        binding_type:
          enum:
            - gcm
            - apn
            - fcm
          type: string
        credential_sid:
          maxLength: 34
          minLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        endpoint:
          type: string
        identity:
          type: string
        links:
          type: object
        message_types:
          items:
            type: string
          type: array
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^BS[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    ip_messaging.v2.service.channel:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          type: string
        created_by:
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        links:
          type: object
        members_count:
          type: integer
        messages_count:
          type: integer
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        type:
          enum:
            - public
            - private
          type: string
        unique_name:
          type: string
        url:
          format: uri
          type: string
      type: object
    ip_messaging.v2.service.channel.channel_webhook:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        configuration:
          type: object
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^WH[0-9a-fA-F]{32}$
          type: string
        type:
          type: string
        url:
          format: uri
          type: string
      type: object
    ip_messaging.v2.service.channel.invite:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        created_by:
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        identity:
          type: string
        role_sid:
          maxLength: 34
          minLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^IN[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    ip_messaging.v2.service.channel.member:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        identity:
          type: string
        last_consumed_message_index:
          nullable: true
          type: integer
        last_consumption_timestamp:
          format: date-time
          type: string
        role_sid:
          maxLength: 34
          minLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^MB[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    ip_messaging.v2.service.channel.message:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          type: string
        body:
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        from:
          type: string
        index:
          type: integer
        last_updated_by:
          type: string
        media:
          type: object
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^IM[0-9a-fA-F]{32}$
          type: string
        to:
          maxLength: 34
          minLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        type:
          type: string
        url:
          format: uri
          type: string
        was_edited:
          type: boolean
      type: object
    ip_messaging.v2.service.role:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        permissions:
          items:
            type: string
          type: array
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        type:
          enum:
            - channel
            - deployment
          type: string
        url:
          format: uri
          type: string
      type: object
    ip_messaging.v2.service.user:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        friendly_name:
          type: string
        identity:
          type: string
        is_notifiable:
          type: boolean
        is_online:
          type: boolean
        joined_channels_count:
          type: integer
        links:
          type: object
        role_sid:
          maxLength: 34
          minLength: 34
          pattern: ^RL[0-9a-fA-F]{32}$
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^US[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
      type: object
    ip_messaging.v2.service.user.user_binding:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        binding_type:
          enum:
            - gcm
            - apn
            - fcm
          type: string
        credential_sid:
          maxLength: 34
          minLength: 34
          pattern: ^CR[0-9a-fA-F]{32}$
          type: string
        date_created:
          format: date-time
          type: string
        date_updated:
          format: date-time
          type: string
        endpoint:
          type: string
        identity:
          type: string
        message_types:
          items:
            type: string
          type: array
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        sid:
          maxLength: 34
          minLength: 34
          pattern: ^BS[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          type: string
        user_sid:
          maxLength: 34
          minLength: 34
          pattern: ^US[0-9a-fA-F]{32}$
          type: string
      type: object
    ip_messaging.v2.service.user.user_channel:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        channel_sid:
          maxLength: 34
          minLength: 34
          pattern: ^CH[0-9a-fA-F]{32}$
          type: string
        last_consumed_message_index:
          nullable: true
          type: integer
        links:
          type: object
        member_sid:
          maxLength: 34
          minLength: 34
          pattern: ^MB[0-9a-fA-F]{32}$
          type: string
        notification_level:
          enum:
            - default
            - muted
          type: string
        service_sid:
          maxLength: 34
          minLength: 34
          pattern: ^IS[0-9a-fA-F]{32}$
          type: string
        status:
          enum:
            - joined
            - invited
            - not_participating
          type: string
        unread_messages_count:
          nullable: true
          type: integer
        url:
          format: uri
          type: string
        user_sid:
          maxLength: 34
          minLength: 34
          pattern: ^US[0-9a-fA-F]{32}$
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
