swagger: '2.0'
schemes:
  - https
  - http
host: applicationinsights.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>Amazon CloudWatch Application Insights for .NET and SQL Server</fullname> <p> Amazon CloudWatch Application Insights for .NET and SQL Server is a service that helps you detect common problems with your .NET and SQL Server-based applications. It enables you to pinpoint the source of issues in your applications (built with technologies such as Microsoft IIS, .NET, and Microsoft SQL Server), by providing key insights into detected problems.</p> <p>After you onboard your application, CloudWatch Application Insights for .NET and SQL Server identifies, recommends, and sets up metrics and logs. It continuously analyzes and correlates your metrics and logs for unusual behavior to surface actionable problems with your application. For example, if your application is slow and unresponsive and leading to HTTP 500 errors in your Application Load Balancer (ALB), Application Insights informs you that a memory pressure problem with your SQL Server database is occurring. It bases this analysis on impactful metrics and log errors. </p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon CloudWatch Application Insights
  version: '2018-11-25'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/application-insights-2018-11-25.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: application-insights
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/applicationinsights/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=EC2WindowsBarleyService.CreateApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Adds an application that is created from a resource group.
      operationId: CreateApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateApplicationRequest'
        - enum:
            - EC2WindowsBarleyService.CreateApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateApplicationResponse'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.CreateComponent':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a custom component by grouping similar standalone instances to monitor.
      operationId: CreateComponent
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateComponentRequest'
        - enum:
            - EC2WindowsBarleyService.CreateComponent
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateComponentResponse'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.DeleteApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Removes the specified application from monitoring. Does not delete the application.
      operationId: DeleteApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteApplicationRequest'
        - enum:
            - EC2WindowsBarleyService.DeleteApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.DeleteComponent':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Ungroups a custom component. When you ungroup custom components, all applicable monitors that are set up for the component are removed and the instances revert to their standalone status.'
      operationId: DeleteComponent
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteComponentRequest'
        - enum:
            - EC2WindowsBarleyService.DeleteComponent
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteComponentResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.DescribeApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the application.
      operationId: DescribeApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeApplicationRequest'
        - enum:
            - EC2WindowsBarleyService.DescribeApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeApplicationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.DescribeComponent':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a component and lists the resources that are grouped together in a component.
      operationId: DescribeComponent
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeComponentRequest'
        - enum:
            - EC2WindowsBarleyService.DescribeComponent
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeComponentResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.DescribeComponentConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the monitoring configuration of the component.
      operationId: DescribeComponentConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeComponentConfigurationRequest'
        - enum:
            - EC2WindowsBarleyService.DescribeComponentConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeComponentConfigurationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.DescribeComponentConfigurationRecommendation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the recommended monitoring configuration of the component.
      operationId: DescribeComponentConfigurationRecommendation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeComponentConfigurationRecommendationRequest'
        - enum:
            - EC2WindowsBarleyService.DescribeComponentConfigurationRecommendation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeComponentConfigurationRecommendationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.DescribeObservation':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes an anomaly or error with the application.
      operationId: DescribeObservation
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeObservationRequest'
        - enum:
            - EC2WindowsBarleyService.DescribeObservation
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeObservationResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=EC2WindowsBarleyService.DescribeProblem':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes an application problem.
      operationId: DescribeProblem
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeProblemRequest'
        - enum:
            - EC2WindowsBarleyService.DescribeProblem
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeProblemResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=EC2WindowsBarleyService.DescribeProblemObservations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes the anomalies or errors associated with the problem.
      operationId: DescribeProblemObservations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeProblemObservationsRequest'
        - enum:
            - EC2WindowsBarleyService.DescribeProblemObservations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeProblemObservationsResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=EC2WindowsBarleyService.ListApplications':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the IDs of the applications that you are monitoring. '
      operationId: ListApplications
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListApplicationsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - EC2WindowsBarleyService.ListApplications
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApplicationsResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.ListComponents':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists the auto-grouped, standalone, and custom components of the application.'
      operationId: ListComponents
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListComponentsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - EC2WindowsBarleyService.ListComponents
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListComponentsResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.ListProblems':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the problems with your application.
      operationId: ListProblems
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListProblemsRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - EC2WindowsBarleyService.ListProblems
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListProblemsResponse'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.UpdateApplication':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the application.
      operationId: UpdateApplication
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateApplicationRequest'
        - enum:
            - EC2WindowsBarleyService.UpdateApplication
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApplicationResponse'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
  '/#X-Amz-Target=EC2WindowsBarleyService.UpdateComponent':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the custom component name and/or the list of resources that make up the component.
      operationId: UpdateComponent
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateComponentRequest'
        - enum:
            - EC2WindowsBarleyService.UpdateComponent
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateComponentResponse'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '483':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
  '/#X-Amz-Target=EC2WindowsBarleyService.UpdateComponentConfiguration':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates the monitoring configurations for the component. The configuration input parameter is an escaped JSON of the configuration and should match the schema of what is returned by <code>DescribeComponentConfigurationRecommendation</code>.
      operationId: UpdateComponentConfiguration
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateComponentConfigurationRequest'
        - enum:
            - EC2WindowsBarleyService.UpdateComponentConfiguration
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateComponentConfigurationResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
definitions:
  AffectedResource:
    type: string
  ApplicationComponent:
    description: Describes a standalone resource or similarly grouped resources that the application is made up of.
    properties:
      ComponentName:
        $ref: '#/definitions/ComponentName'
        description: The name of the component.
      Monitor:
        $ref: '#/definitions/Monitor'
        description: 'Indicates whether the application component is monitored. '
      ResourceType:
        $ref: '#/definitions/ResourceType'
        description: 'The resource type. Supported resource types include EC2 instances, Auto Scaling group, Classic ELB, Application ELB, and SQS Queue.'
      Tier:
        $ref: '#/definitions/Tier'
        description: The stack tier of the application component.
    type: object
  ApplicationComponentList:
    items:
      $ref: '#/definitions/ApplicationComponent'
    type: array
  ApplicationInfo:
    description: Describes the status of the application.
    properties:
      LifeCycle:
        $ref: '#/definitions/LifeCycle'
        description: 'The lifecycle of the application. '
      OpsCenterEnabled:
        $ref: '#/definitions/OpsCenterEnabled'
        description: ' Indicates whether Application Insights will create opsItems for any problem detected by Application Insights for an application. '
      OpsItemSNSTopicArn:
        $ref: '#/definitions/OpsItemSNSTopicArn'
        description: ' The SNS topic provided to Application Insights that is associated to the created opsItems to receive SNS notifications for opsItem updates. '
      Remarks:
        $ref: '#/definitions/Remarks'
        description: The issues on the user side that block Application Insights from successfully monitoring an application.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group used for the application.
    type: object
  ApplicationInfoList:
    items:
      $ref: '#/definitions/ApplicationInfo'
    type: array
  BadRequestException: {}
  ComponentConfiguration:
    type: string
  ComponentName:
    type: string
  CreateApplicationRequest:
    properties:
      OpsCenterEnabled:
        $ref: '#/definitions/OpsCenterEnabled'
        description: ' When set to <code>true</code>, creates opsItems for any problems detected on an application. '
      OpsItemSNSTopicArn:
        $ref: '#/definitions/OpsItemSNSTopicArn'
        description: ' The SNS topic provided to Application Insights that is associated to the created opsItem. Allows you to receive notifications for updates to the opsItem. '
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
    required:
      - ResourceGroupName
    type: object
  CreateApplicationResponse:
    properties:
      ApplicationInfo:
        $ref: '#/definitions/ApplicationInfo'
        description: Information about the application.
    type: object
  CreateComponentRequest:
    properties:
      ComponentName:
        $ref: '#/definitions/ComponentName'
        description: The name of the component.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
      ResourceList:
        $ref: '#/definitions/ResourceList'
        description: The list of resource ARNs that belong to the component.
    required:
      - ResourceGroupName
      - ComponentName
      - ResourceList
    type: object
  CreateComponentResponse:
    properties: {}
    type: object
  DeleteApplicationRequest:
    properties:
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
    required:
      - ResourceGroupName
    type: object
  DeleteApplicationResponse:
    properties: {}
    type: object
  DeleteComponentRequest:
    properties:
      ComponentName:
        $ref: '#/definitions/ComponentName'
        description: The name of the component.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
    required:
      - ResourceGroupName
      - ComponentName
    type: object
  DeleteComponentResponse:
    properties: {}
    type: object
  DescribeApplicationRequest:
    properties:
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
    required:
      - ResourceGroupName
    type: object
  DescribeApplicationResponse:
    properties:
      ApplicationInfo:
        $ref: '#/definitions/ApplicationInfo'
        description: Information about the application.
    type: object
  DescribeComponentConfigurationRecommendationRequest:
    properties:
      ComponentName:
        $ref: '#/definitions/ComponentName'
        description: The name of the component.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
      Tier:
        $ref: '#/definitions/Tier'
        description: 'The tier of the application component. Supported tiers include <code>DOT_NET_WORKER</code>, <code>DOT_NET_WEB</code>, <code>SQL_SERVER</code>, and <code>DEFAULT</code>.'
    required:
      - ResourceGroupName
      - ComponentName
      - Tier
    type: object
  DescribeComponentConfigurationRecommendationResponse:
    properties:
      ComponentConfiguration:
        $ref: '#/definitions/ComponentConfiguration'
        description: The recommended configuration settings of the component. The value is the escaped JSON of the configuration.
    type: object
  DescribeComponentConfigurationRequest:
    properties:
      ComponentName:
        $ref: '#/definitions/ComponentName'
        description: The name of the component.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
    required:
      - ResourceGroupName
      - ComponentName
    type: object
  DescribeComponentConfigurationResponse:
    properties:
      ComponentConfiguration:
        $ref: '#/definitions/ComponentConfiguration'
        description: The configuration settings of the component. The value is the escaped JSON of the configuration.
      Monitor:
        $ref: '#/definitions/Monitor'
        description: Indicates whether the application component is monitored.
      Tier:
        $ref: '#/definitions/Tier'
        description: 'The tier of the application component. Supported tiers include <code>DOT_NET_WORKER</code>, <code>DOT_NET_WEB</code>, <code>SQL_SERVER</code>, and <code>DEFAULT</code> '
    type: object
  DescribeComponentRequest:
    properties:
      ComponentName:
        $ref: '#/definitions/ComponentName'
        description: The name of the component.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
    required:
      - ResourceGroupName
      - ComponentName
    type: object
  DescribeComponentResponse:
    properties:
      ApplicationComponent:
        $ref: '#/definitions/ApplicationComponent'
      ResourceList:
        $ref: '#/definitions/ResourceList'
        description: The list of resource ARNs that belong to the component.
    type: object
  DescribeObservationRequest:
    properties:
      ObservationId:
        $ref: '#/definitions/ObservationId'
        description: The ID of the observation.
    required:
      - ObservationId
    type: object
  DescribeObservationResponse:
    properties:
      Observation:
        $ref: '#/definitions/Observation'
        description: Information about the observation.
    type: object
  DescribeProblemObservationsRequest:
    properties:
      ProblemId:
        $ref: '#/definitions/ProblemId'
        description: The ID of the problem.
    required:
      - ProblemId
    type: object
  DescribeProblemObservationsResponse:
    properties:
      RelatedObservations:
        $ref: '#/definitions/RelatedObservations'
        description: Observations related to the problem.
    type: object
  DescribeProblemRequest:
    properties:
      ProblemId:
        $ref: '#/definitions/ProblemId'
        description: The ID of the problem.
    required:
      - ProblemId
    type: object
  DescribeProblemResponse:
    properties:
      Problem:
        $ref: '#/definitions/Problem'
        description: 'Information about the problem. '
    type: object
  EndTime:
    format: date-time
    type: string
  Feedback:
    additionalProperties:
      $ref: '#/definitions/FeedbackValue'
    maxProperties: 10
    type: object
  FeedbackKey:
    enum:
      - INSIGHTS_FEEDBACK
    type: string
  FeedbackValue:
    enum:
      - NOT_SPECIFIED
      - USEFUL
      - NOT_USEFUL
    type: string
  Insights:
    type: string
  InternalServerException: {}
  LifeCycle:
    type: string
  LineTime:
    format: date-time
    type: string
  ListApplicationsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxEntities'
        description: 'The maximum number of results to return in a single call. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.'
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token to request the next page of results.
    type: object
  ListApplicationsResponse:
    properties:
      ApplicationInfoList:
        $ref: '#/definitions/ApplicationInfoList'
        description: The list of applications.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return. '
    type: object
  ListComponentsRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxEntities'
        description: 'The maximum number of results to return in a single call. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.'
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token to request the next page of results.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
    required:
      - ResourceGroupName
    type: object
  ListComponentsResponse:
    properties:
      ApplicationComponentList:
        $ref: '#/definitions/ApplicationComponentList'
        description: The list of application components.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token to request the next page of results.
    type: object
  ListProblemsRequest:
    properties:
      EndTime:
        $ref: '#/definitions/EndTime'
        description: 'The time when the problem ended, in epoch seconds. If not specified, problems within the past seven days are returned.'
      MaxResults:
        $ref: '#/definitions/MaxEntities'
        description: 'The maximum number of results to return in a single call. To retrieve the remaining results, make another call with the returned <code>NextToken</code> value.'
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The token to request the next page of results.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
      StartTime:
        $ref: '#/definitions/StartTime'
        description: 'The time when the problem was detected, in epoch seconds. If you don''t specify a time frame for the request, problems within the past seven days are returned.'
    type: object
  ListProblemsResponse:
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'The token used to retrieve the next page of results. This value is <code>null</code> when there are no more results to return. '
      ProblemList:
        $ref: '#/definitions/ProblemList'
        description: 'The list of problems. '
    type: object
  LogFilter:
    enum:
      - ERROR
      - WARN
      - INFO
    type: string
  LogGroup:
    type: string
  LogText:
    type: string
  MaxEntities:
    maximum: 40
    minimum: 1
    type: integer
  MetricName:
    type: string
  MetricNamespace:
    type: string
  Monitor:
    type: boolean
  NewComponentName:
    type: string
  Observation:
    description: Describes an anomaly or error with the application.
    properties:
      EndTime:
        $ref: '#/definitions/EndTime'
        description: 'The time when the observation ended, in epoch seconds.'
      Id:
        $ref: '#/definitions/ObservationId'
        description: The ID of the observation type.
      LineTime:
        $ref: '#/definitions/LineTime'
        description: The timestamp in the CloudWatch Logs that specifies when the matched line occurred.
      LogFilter:
        $ref: '#/definitions/LogFilter'
        description: The log filter of the observation.
      LogGroup:
        $ref: '#/definitions/LogGroup'
        description: The log group name.
      LogText:
        $ref: '#/definitions/LogText'
        description: The log text of the observation.
      MetricName:
        $ref: '#/definitions/MetricName'
        description: The name of the observation metric.
      MetricNamespace:
        $ref: '#/definitions/MetricNamespace'
        description: The namespace of the observation metric.
      SourceARN:
        $ref: '#/definitions/SourceARN'
        description: The source resource ARN of the observation.
      SourceType:
        $ref: '#/definitions/SourceType'
        description: The source type of the observation.
      StartTime:
        $ref: '#/definitions/StartTime'
        description: 'The time when the observation was first detected, in epoch seconds.'
      Unit:
        $ref: '#/definitions/Unit'
        description: The unit of the source observation metric.
      Value:
        $ref: '#/definitions/Value'
        description: The value of the source observation metric.
    type: object
  ObservationId:
    type: string
  ObservationList:
    items:
      $ref: '#/definitions/Observation'
    type: array
  OpsCenterEnabled:
    type: boolean
  OpsItemSNSTopicArn:
    type: string
  PaginationToken:
    type: string
  Problem:
    description: Describes a problem that is detected by correlating observations.
    properties:
      AffectedResource:
        $ref: '#/definitions/AffectedResource'
        description: The resource affected by the problem.
      EndTime:
        $ref: '#/definitions/EndTime'
        description: 'The time when the problem ended, in epoch seconds.'
      Feedback:
        $ref: '#/definitions/Feedback'
        description: Feedback provided by the user about the problem.
      Id:
        $ref: '#/definitions/ProblemId'
        description: The ID of the problem.
      Insights:
        $ref: '#/definitions/Insights'
        description: A detailed analysis of the problem using machine learning.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group affected by the problem.
      SeverityLevel:
        $ref: '#/definitions/SeverityLevel'
        description: A measure of the level of impact of the problem.
      StartTime:
        $ref: '#/definitions/StartTime'
        description: 'The time when the problem started, in epoch seconds.'
      Status:
        $ref: '#/definitions/Status'
        description: The status of the problem.
      Title:
        $ref: '#/definitions/Title'
        description: The name of the problem.
    type: object
  ProblemId:
    type: string
  ProblemList:
    items:
      $ref: '#/definitions/Problem'
    type: array
  RelatedObservations:
    description: Describes observations related to the problem.
    properties:
      ObservationList:
        $ref: '#/definitions/ObservationList'
        description: The list of observations related to the problem.
    type: object
  Remarks:
    type: string
  RemoveSNSTopic:
    type: boolean
  ResourceARN:
    type: string
  ResourceGroupName:
    type: string
  ResourceInUseException: {}
  ResourceList:
    items:
      $ref: '#/definitions/ResourceARN'
    type: array
  ResourceNotFoundException: {}
  ResourceType:
    type: string
  SeverityLevel:
    enum:
      - LOW
      - MEDIUM
      - HIGH
    type: string
  SourceARN:
    type: string
  SourceType:
    type: string
  StartTime:
    format: date-time
    type: string
  Status:
    enum:
      - IGNORE
      - RESOLVED
      - PENDING
    type: string
  Tier:
    type: string
  Title:
    type: string
  Unit:
    type: string
  UpdateApplicationRequest:
    properties:
      OpsCenterEnabled:
        $ref: '#/definitions/OpsCenterEnabled'
        description: ' When set to <code>true</code>, creates opsItems for any problems detected on an application. '
      OpsItemSNSTopicArn:
        $ref: '#/definitions/OpsItemSNSTopicArn'
        description: ' The SNS topic provided to Application Insights that is associated to the created opsItem. Allows you to receive notifications for updates to the opsItem.'
      RemoveSNSTopic:
        $ref: '#/definitions/RemoveSNSTopic'
        description: ' Disassociates the SNS topic from the opsItem created for detected problems.'
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
    required:
      - ResourceGroupName
    type: object
  UpdateApplicationResponse:
    properties:
      ApplicationInfo:
        $ref: '#/definitions/ApplicationInfo'
        description: 'Information about the application. '
    type: object
  UpdateComponentConfigurationRequest:
    properties:
      ComponentConfiguration:
        $ref: '#/definitions/ComponentConfiguration'
        description: 'The configuration settings of the component. The value is the escaped JSON of the configuration. For more information about the JSON format, see <a href="https://docs.aws.amazon.com/sdk-for-javascript/v2/developer-guide/working-with-json.html">Working with JSON</a>. You can send a request to <code>DescribeComponentConfigurationRecommendation</code> to see the recommended configuration for a component.'
      ComponentName:
        $ref: '#/definitions/ComponentName'
        description: The name of the component.
      Monitor:
        $ref: '#/definitions/Monitor'
        description: Indicates whether the application component is monitored.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
      Tier:
        $ref: '#/definitions/Tier'
        description: 'The tier of the application component. Supported tiers include <code>DOT_NET_WORKER</code>, <code>DOT_NET_WEB</code>, <code>SQL_SERVER</code>, and <code>DEFAULT</code>.'
    required:
      - ResourceGroupName
      - ComponentName
    type: object
  UpdateComponentConfigurationResponse:
    properties: {}
    type: object
  UpdateComponentRequest:
    properties:
      ComponentName:
        $ref: '#/definitions/ComponentName'
        description: The name of the component.
      NewComponentName:
        $ref: '#/definitions/NewComponentName'
        description: The new name of the component.
      ResourceGroupName:
        $ref: '#/definitions/ResourceGroupName'
        description: The name of the resource group.
      ResourceList:
        $ref: '#/definitions/ResourceList'
        description: The list of resource ARNs that belong to the component.
    required:
      - ResourceGroupName
      - ComponentName
    type: object
  UpdateComponentResponse:
    properties: {}
    type: object
  ValidationException: {}
  Value:
    format: double
    type: number
x-servers:
  - description: The Application Insights multi-region endpoint
    url: 'http://applicationinsights.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Application Insights multi-region endpoint
    url: 'https://applicationinsights.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The Application Insights endpoint for China (Beijing) and China (Ningxia)
    url: 'http://applicationinsights.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The Application Insights endpoint for China (Beijing) and China (Ningxia)
    url: 'https://applicationinsights.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
