openapi: 3.0.0
servers:
  - url: https://api.spoonacular.com
    variables: {}
info:
  contact:
    email: mail@spoonacular.com
    name: David Urbansky
    url: https://spoonacular.com/contact
  description: |-
    The spoonacular Nutrition, Recipe, and Food API allows you to access over thousands of recipes, thousands of ingredients, 800,000 food products, over 100,000 menu items, and restaurants. Our food ontology and semantic recipe search engine makes it possible to search for recipes using natural language queries, such as "gluten free brownies without sugar" or "low fat vegan cupcakes." You can automatically calculate the nutritional information for any recipe, analyze recipe costs, visualize ingredient lists, find recipes for what's in your fridge, find recipes based on special diets, nutritional requirements, or favorite ingredients, classify recipes into types and cuisines, convert ingredient amounts, or even compute an entire meal plan. With our powerful API, you can create many kinds of food and especially nutrition apps.

    Special diets/dietary requirements currently available include: vegan, vegetarian, pescetarian, gluten free, grain free, dairy free, high protein, whole 30, low sodium, low carb, Paleo, ketogenic, FODMAP, and Primal.
  license:
    name: spoonacular API Terms
    url: https://spoonacular.com/food-api/terms
  termsOfService: https://spoonacular.com/food-api/terms
  title: spoonacular API
  version: "1.1"
  x-apisguru-categories:
    - social
  x-codegen-settings:
    AllowSkippingSSLCertVerification: false
    AndroidUseAppManifest: true
    AppendContentHeaders: true
    ApplyCustomizations: []
    ArraySerialization: Indexed
    BodySerialization: 0
    CollectParameters: false
    DisableDocs: false
    DisableLinting: false
    DoNotSplitWords: []
    EnableAdditionalModelProperties: false
    EnableGlobalUserAgent: true
    EnableHttpCache: false
    EnableLogging: false
    EnablePHPComposerVersionString: false
    ForceKeywordArgsInRuby: false
    GenerateAdvancedDocs: false
    GenerateAppveyorConfig: false
    GenerateAsyncCode: true
    GenerateCircleConfig: false
    GenerateExceptions: true
    GenerateInterfaces: false
    GenerateJenkinsConfig: false
    GenerateModels: true
    GenerateTravisConfig: false
    IgnoreIfNullJson: false
    JavaHttpClient: JAVA_OK
    JavaUsePropertiesConfig: false
    LiftParameterDescriptionFromCustomType: false
    ModelSerializationScheme: Json
    NodeHttpClient: NODE_REQUEST
    Nullify404: false
    ParameterArrayFormat: ParamArrayWithIndex
    PreserveParameterOrder: false
    ResponseMapping:
      Type: Simple
    Retries: 0
    RetryInterval: 1
    ReturnCompleteHttpResponse: false
    RunscopeEnabled: false
    SecurityProtocols:
      - Ssl3
      - Tls
    SortResources: false
    StoreTimezoneInformation: false
    SymbolizeHashKeysInRuby: false
    ThrowForHttpErrorStatusCodes: true
    Timeout: 0
    UnderscoreNumbers: true
    UseCommonSDKLibrary: false
    UseConstructorsForConfig: true
    UseControllerPrefix: true
    UseEnumPostfix: true
    UseExceptionPrefix: true
    UseMethodPrefix: true
    UseModelPostfix: false
    UseSingletonPattern: true
    ValidateRequiredParameters: false
    iOSGenerateCoreData: false
    iOSUseAppInfoPlist: true
  x-origin:
    - format: openapi
      url: https://spoonacular.com/application/frontend/downloads/spoonacular-openapi-3.json
      version: "3.0"
  x-providerName: spoonacular.com
  x-server-configuration:
    default-environment: production
    default-server: default
    environments:
      - name: production
        servers:
          - name: default
            url: https://api.spoonacular.com
    parameters: []
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
externalDocs:
  description: The official documentation.
  url: https://spoonacular.com/food-api/docs
security:
  - apiKeyScheme: []
tags:
  - name: ingredients
  - name: meal planning
  - name: menu items
  - name: misc
  - name: products
  - name: recipes
  - name: wine
paths:
  /food/converse:
    get:
      deprecated: false
      description: This endpoint can be used to have a conversation about food with the spoonacular chatbot. Use the "Get Conversation Suggests" endpoint to show your user what he or she can say.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Talk-to-Chatbot
      operationId: talkToChatbot
      parameters:
        - description: The request / question / answer from the user to the chatbot.
          explode: false
          in: query
          name: text
          required: true
          schema:
            example: donut recipes
            type: string
          style: form
        - description: An arbitrary globally unique id for your conversation. The conversation can contain states so you should pass your context id if you want the bot to be able to remember the conversation.
          explode: false
          in: query
          name: contextId
          required: false
          schema:
            example: "342938"
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    answerText: Baby, if you were a fruit you'd be a fineapple.
                    media: []
              schema:
                description: ""
                properties:
                  answerText:
                    minLength: 1
                    type: string
                  media:
                    items:
                      properties: {}
                    type: array
                required:
                  - answerText
                  - media
                type: object
                x-examples:
                  example-1:
                    answerText: Baby, if you were a fruit you'd be a fineapple.
                    media: []
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Talk to Chatbot
      tags:
        - misc
  /food/converse/suggest:
    get:
      deprecated: false
      description: This endpoint returns suggestions for things the user can say or ask the chatbot.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Conversation-Suggests
      operationId: getConversationSuggests
      parameters:
        - description: A (partial) query from the user. The endpoint will return if it matches topics it can talk about.
          explode: false
          in: query
          name: query
          required: true
          schema:
            example: tell
            type: string
          style: form
        - description: The number of suggestions to return (between 1 and 25).
          explode: false
          in: query
          name: number
          required: false
          schema:
            example: 5
            type: number
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    suggests:
                      _:
                        - name: Tell me something funny
                        - name: Tell me a food fact
                        - name: Tell me a joke
                        - name: Tell me food trivia
                        - name: Tell me a fact about food
                    words: []
              schema:
                description: ""
                properties:
                  suggests:
                    properties:
                      _:
                        items:
                          properties:
                            name:
                              minLength: 1
                              type: string
                          required:
                            - name
                        minItems: 0
                        type: array
                        uniqueItems: true
                    required:
                      - _
                    type: object
                  words:
                    items:
                      properties: {}
                    type: array
                required:
                  - suggests
                  - words
                type: object
                x-examples:
                  example-1:
                    suggests:
                      _:
                        - name: Tell me something funny
                        - name: Tell me a food fact
                        - name: Tell me a joke
                        - name: Tell me food trivia
                        - name: Tell me a fact about food
                    words: []
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Conversation Suggests
      tags:
        - misc
  /food/customFoods/search:
    get:
      deprecated: false
      description: Search custom foods in a user's account.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Custom-Foods
      operationId: searchCustomFoods
      parameters:
        - $ref: "#/components/parameters/query"
        - description: The username.
          explode: false
          in: query
          name: username
          required: true
          schema:
            example: dsky
            type: string
          style: form
        - description: The private hash for the username.
          explode: false
          in: query
          name: hash
          required: true
          schema:
            example: 4b5v4398573406
            type: string
          style: form
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/number"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    customFoods:
                      - id: 15
                        imageUrl: https://spoonacular.com/cdn/ingredients_100x100/bratwurst.jpg
                        price: 6.9
                        servings: 1
                        title: Max Cafe Curry Bratwurst
                    number: 10
                    offset: 0
                    type: customFood
              schema:
                description: ""
                properties:
                  customFoods:
                    items:
                      properties:
                        id:
                          type: integer
                        imageUrl:
                          minLength: 1
                          type: string
                        price:
                          type: number
                        servings:
                          type: number
                        title:
                          minLength: 1
                          type: string
                      required:
                        - id
                        - title
                        - servings
                        - imageUrl
                        - price
                      type: object
                    minItems: 0
                    type: array
                    uniqueItems: true
                  number:
                    type: integer
                  offset:
                    type: integer
                  type:
                    minLength: 1
                    type: string
                required:
                  - customFoods
                  - type
                  - offset
                  - number
                type: object
                x-examples:
                  example-1:
                    customFoods:
                      - id: 15
                        imageUrl: https://spoonacular.com/cdn/ingredients_100x100/bratwurst.jpg
                        price: 6.9
                        servings: 1
                        title: Max Cafe Curry Bratwurst
                    number: 10
                    offset: 0
                    type: customFood
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Search Custom Foods
      tags:
        - misc
  /food/detect:
    post:
      deprecated: false
      description: Take any text and find all mentions of food contained within it. This task is also called Named Entity Recognition (NER). In this case, the entities are foods. Either dishes, such as pizza or cheeseburger, or ingredients, such as cucumber or almonds.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Detect-Food-in-Text
      operationId: detectFoodInText
      parameters:
        - $ref: "#/components/parameters/Content-Type"
      requestBody:
        content:
          application/x-www-form-urlencoded:
            examples:
              example-1:
                value: text=I like to eat delicious tacos. The only thing better is a cheeseburger with cheddar. But then again, pizza with pepperoni, mushrooms, and tomatoes is so good too!
            schema:
              type: string
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    annotations:
                      - annotation: cheeseburger
                        image: https://spoonacular.com/menuItemImages/cheeseburger.jpg
                        tag: dish
                      - annotation: mushrooms
                        image: https://spoonacular.com/cdn/ingredients_100x100/mushrooms.png
                        tag: ingredient
                      - annotation: pepperoni
                        image: https://spoonacular.com/cdn/ingredients_100x100/pepperoni.png
                        tag: ingredient
                      - annotation: tomatoes
                        image: https://spoonacular.com/cdn/ingredients_100x100/tomato.png
                        tag: ingredient
                      - annotation: cheddar
                        image: https://spoonacular.com/cdn/ingredients_100x100/cheddar-cheese.png
                        tag: ingredient
                      - annotation: tacos
                        image: https://spoonacular.com/menuItemImages/taco-isolated.jpg
                        tag: dish
                      - annotation: pizza
                        image: https://spoonacular.com/menuItemImages/cheese-pizza.png
                        tag: dish
              schema:
                description: ""
                properties:
                  annotations:
                    items:
                      properties:
                        annotation:
                          minLength: 1
                          type: string
                        image:
                          minLength: 1
                          type: string
                        tag:
                          minLength: 1
                          type: string
                      required:
                        - annotation
                        - image
                        - tag
                    minItems: 0
                    type: array
                    uniqueItems: true
                required:
                  - annotations
                type: object
                x-examples:
                  example-1:
                    annotations:
                      - annotation: cheeseburger
                        image: https://spoonacular.com/menuItemImages/cheeseburger.jpg
                        tag: dish
                      - annotation: mushrooms
                        image: https://spoonacular.com/cdn/ingredients_100x100/mushrooms.png
                        tag: ingredient
                      - annotation: pepperoni
                        image: https://spoonacular.com/cdn/ingredients_100x100/pepperoni.png
                        tag: ingredient
                      - annotation: tomatoes
                        image: https://spoonacular.com/cdn/ingredients_100x100/tomato.png
                        tag: ingredient
                      - annotation: cheddar
                        image: https://spoonacular.com/cdn/ingredients_100x100/cheddar-cheese.png
                        tag: ingredient
                      - annotation: tacos
                        image: https://spoonacular.com/menuItemImages/taco-isolated.jpg
                        tag: dish
                      - annotation: pizza
                        image: https://spoonacular.com/menuItemImages/cheese-pizza.png
                        tag: dish
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Detect Food in Text
      tags:
        - misc
  /food/images/analyze:
    get:
      deprecated: false
      description: Analyze a food image. The API tries to classify the image, guess the nutrition, and find a matching recipes.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Image-Analysis-by-URL
      operationId: imageAnalysisByURL
      parameters:
        - description: The URL of the image to be analyzed.
          explode: false
          in: query
          name: imageUrl
          required: true
          schema:
            example: https://spoonacular.com/recipeImages/635350-240x150.jpg
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    category:
                      name: burger
                      probability: 0.9998999999999999
                    nutrition:
                      calories:
                        confidenceRange95Percent:
                          max: 571.98
                          min: 428.97
                        standardDeviation: 182.4
                        unit: calories
                        value: 508
                      carbs:
                        confidenceRange95Percent:
                          max: 44.96
                          min: 29.74
                        standardDeviation: 19.42
                        unit: g
                        value: 40
                      fat:
                        confidenceRange95Percent:
                          max: 32.95
                          min: 21.29
                        standardDeviation: 14.88
                        unit: g
                        value: 21
                      protein:
                        confidenceRange95Percent:
                          max: 33.7
                          min: 22.58
                        standardDeviation: 14.19
                        unit: g
                        value: 29
                      recipesUsed: 25
                    recipes:
                      - id: 477749
                        imageType: jpg
                        title: "Burger Club: Award-Winning Logan County Burger Patty Melt"
                        url: http://www.barbarabakes.com/2010/05/burger-club-award-winning-logan-county/
                      - id: 493632
                        imageType: jpg
                        title: "New York Burger Week: Pretzel Burger with Beer Cheese"
                        url: http://www.foodrepublic.com/2013/09/23/new-york-burger-week-pretzel-burger-beer-cheese
                      - id: 23359
                        imageType: jpg
                        title: Beef Burger Recipe (elvis Burger With Salad & Gherkin)
                        url: http://www.jamieoliver.com/recipes/beef-recipes/elvis-burger-with-pickled-gherkin
                      - id: 149115
                        imageType: jpg
                        title: Surf N' Turf Burger (Grilled Burger with Lobster and Bacon)
                        url: http://www.seriouseats.com/recipes/2013/06/lobster-bacon-burger-recipe.html
                      - id: 861442
                        imageType: jpg
                        title: Istanbul-Style Wet Burger (Islak Burger)
                        url: http://www.epicurious.com/recipes/food/views/istanbul-style-wet-burger-islak-burger?mbid=nl_02272017_Daily_CTN_PM+(1)
                      - id: 600423
                        imageType: jpg
                        title: Rajma Burger (Red Kidney Beans Burger)
                        url: http://www.spiceupthecurry.com/rajma-burger-red-kidney-beans-burger/
                      - id: 493634
                        imageType: jpg
                        title: "Chicago Burger Week: The Chicago Deep Dish Pizza Burger"
                        url: http://www.foodrepublic.com/2013/09/30/chicago-burger-week-chicago-deep-dish-pizza-burger
                      - id: 487346
                        imageType: jpg
                        title: aloo tikki burger , north indian style aloo tikki burger
                        url: http://www.vegrecipesofindia.com/aloo-tikki-burger/
                      - id: 607330
                        imageType: jpg
                        title: Aloo Tikki Burger | How to make aloo tikki burger at home
                        url: http://www.spiceupthecurry.com/aloo-tikki-burger-recipe/
              schema:
                description: ""
                properties:
                  category:
                    properties:
                      name:
                        minLength: 1
                        type: string
                      probability:
                        type: number
                    required:
                      - name
                      - probability
                    type: object
                  nutrition:
                    properties:
                      calories:
                        properties:
                          confidenceRange95Percent:
                            properties:
                              max:
                                type: number
                              min:
                                type: number
                            required:
                              - min
                              - max
                            type: object
                          standardDeviation:
                            type: number
                          unit:
                            minLength: 1
                            type: string
                          value:
                            type: number
                        required:
                          - value
                          - unit
                          - confidenceRange95Percent
                          - standardDeviation
                        type: object
                      carbs:
                        properties:
                          confidenceRange95Percent:
                            properties:
                              max:
                                type: number
                              min:
                                type: number
                            required:
                              - min
                              - max
                            type: object
                          standardDeviation:
                            type: number
                          unit:
                            minLength: 1
                            type: string
                          value:
                            type: number
                        required:
                          - value
                          - unit
                          - confidenceRange95Percent
                          - standardDeviation
                        type: object
                      fat:
                        properties:
                          confidenceRange95Percent:
                            properties:
                              max:
                                type: number
                              min:
                                type: number
                            required:
                              - min
                              - max
                            type: object
                          standardDeviation:
                            type: number
                          unit:
                            minLength: 1
                            type: string
                          value:
                            type: number
                        required:
                          - value
                          - unit
                          - confidenceRange95Percent
                          - standardDeviation
                        type: object
                      protein:
                        properties:
                          confidenceRange95Percent:
                            properties:
                              max:
                                type: number
                              min:
                                type: number
                            required:
                              - min
                              - max
                            type: object
                          standardDeviation:
                            type: number
                          unit:
                            minLength: 1
                            type: string
                          value:
                            type: number
                        required:
                          - value
                          - unit
                          - confidenceRange95Percent
                          - standardDeviation
                        type: object
                      recipesUsed:
                        type: integer
                    required:
                      - recipesUsed
                      - calories
                      - fat
                      - protein
                      - carbs
                    type: object
                  recipes:
                    items:
                      properties:
                        id:
                          type: integer
                        imageType:
                          minLength: 1
                          type: string
                        title:
                          minLength: 1
                          type: string
                        url:
                          minLength: 1
                          type: string
                      required:
                        - id
                        - title
                        - imageType
                        - url
                      type: object
                    minItems: 0
                    type: array
                    uniqueItems: true
                required:
                  - nutrition
                  - category
                  - recipes
                type: object
                x-examples:
                  example-1:
                    category:
                      name: burger
                      probability: 0.9998999999999999
                    nutrition:
                      calories:
                        confidenceRange95Percent:
                          max: 571.98
                          min: 428.97
                        standardDeviation: 182.4
                        unit: calories
                        value: 508
                      carbs:
                        confidenceRange95Percent:
                          max: 44.96
                          min: 29.74
                        standardDeviation: 19.42
                        unit: g
                        value: 40
                      fat:
                        confidenceRange95Percent:
                          max: 32.95
                          min: 21.29
                        standardDeviation: 14.88
                        unit: g
                        value: 21
                      protein:
                        confidenceRange95Percent:
                          max: 33.7
                          min: 22.58
                        standardDeviation: 14.19
                        unit: g
                        value: 29
                      recipesUsed: 25
                    recipes:
                      - id: 477749
                        imageType: jpg
                        title: "Burger Club: Award-Winning Logan County Burger Patty Melt"
                        url: http://www.barbarabakes.com/2010/05/burger-club-award-winning-logan-county/
                      - id: 493632
                        imageType: jpg
                        title: "New York Burger Week: Pretzel Burger with Beer Cheese"
                        url: http://www.foodrepublic.com/2013/09/23/new-york-burger-week-pretzel-burger-beer-cheese
                      - id: 23359
                        imageType: jpg
                        title: Beef Burger Recipe (elvis Burger With Salad & Gherkin)
                        url: http://www.jamieoliver.com/recipes/beef-recipes/elvis-burger-with-pickled-gherkin
                      - id: 149115
                        imageType: jpg
                        title: Surf N' Turf Burger (Grilled Burger with Lobster and Bacon)
                        url: http://www.seriouseats.com/recipes/2013/06/lobster-bacon-burger-recipe.html
                      - id: 861442
                        imageType: jpg
                        title: Istanbul-Style Wet Burger (Islak Burger)
                        url: http://www.epicurious.com/recipes/food/views/istanbul-style-wet-burger-islak-burger?mbid=nl_02272017_Daily_CTN_PM+(1)
                      - id: 600423
                        imageType: jpg
                        title: Rajma Burger (Red Kidney Beans Burger)
                        url: http://www.spiceupthecurry.com/rajma-burger-red-kidney-beans-burger/
                      - id: 493634
                        imageType: jpg
                        title: "Chicago Burger Week: The Chicago Deep Dish Pizza Burger"
                        url: http://www.foodrepublic.com/2013/09/30/chicago-burger-week-chicago-deep-dish-pizza-burger
                      - id: 487346
                        imageType: jpg
                        title: aloo tikki burger , north indian style aloo tikki burger
                        url: http://www.vegrecipesofindia.com/aloo-tikki-burger/
                      - id: 607330
                        imageType: jpg
                        title: Aloo Tikki Burger | How to make aloo tikki burger at home
                        url: http://www.spiceupthecurry.com/aloo-tikki-burger-recipe/
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Image Analysis by URL
      tags:
        - misc
  /food/images/classify:
    get:
      deprecated: false
      description: Classify a food image.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Image-Classification-by-URL
      operationId: imageClassificationByURL
      parameters:
        - description: The URL of the image to be classified.
          explode: false
          in: query
          name: imageUrl
          required: true
          schema:
            example: https://spoonacular.com/recipeImages/635350-240x150.jpg
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    category: burger
                    probability: 0.91354
              schema:
                description: ""
                properties:
                  category:
                    minLength: 1
                    type: string
                  probability:
                    type: number
                required:
                  - category
                  - probability
                type: object
                x-examples:
                  example-1:
                    category: burger
                    probability: 0.91354
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Image Classification by URL
      tags:
        - misc
  /food/ingredients/autocomplete:
    get:
      deprecated: false
      description: Autocomplete the entry of an ingredient.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Autocomplete-Ingredient-Search
      operationId: autocompleteIngredientSearch
      parameters:
        - $ref: "#/components/parameters/query"
        - $ref: "#/components/parameters/number"
        - description: Whether to return more meta information about the ingredients.
          explode: false
          in: query
          name: metaInformation
          required: false
          schema:
            example: false
            type: boolean
          style: form
        - description: A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered. See a full list of supported intolerances.
          explode: false
          in: query
          name: intolerances
          required: false
          schema:
            example: egg
            type: string
          style: form
        - $ref: "#/components/parameters/language"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - aisle: Produce
                      id: 9003
                      image: apple.jpg
                      name: apple
                      possibleUnits:
                        - small
                        - large
                        - piece
                        - slice
                        - g
                        - extra small
                        - medium
                        - oz
                        - cup slice
                        - cup
                        - serving
                    - aisle: Canned and Jarred
                      id: 9019
                      image: applesauce.png
                      name: applesauce
                      possibleUnits:
                        - g
                        - oz
                        - cup
                        - serving
                        - tablespoon
                    - aisle: Beverages
                      id: 9016
                      image: apple-juice.jpg
                      name: apple juice
                      possibleUnits:
                        - g
                        - drink box
                        - fl oz
                        - oz
                        - teaspoon
                        - cup
                        - serving
                        - tablespoon
                    - aisle: Beverages
                      id: 1009016
                      image: apple-cider.jpg
                      name: apple cider
                      possibleUnits:
                        - g
                        - drink box
                        - fl oz
                        - oz
                        - teaspoon
                        - bottle NFS
                        - cup
                        - serving
                        - tablespoon
                    - aisle: Nut butters, Jams, and Honey
                      id: 10019297
                      image: apple-jelly.jpg
                      name: apple jelly
                      possibleUnits:
                        - g
                        - oz
                        - packet
                        - teaspoon
                        - cup
                        - serving
                        - tablespoon
              schema:
                description: ""
                items:
                  properties:
                    aisle:
                      minLength: 1
                      type: string
                    id:
                      type: integer
                    image:
                      minLength: 1
                      type: string
                    name:
                      minLength: 1
                      type: string
                    possibleUnits:
                      items:
                        type: string
                      type: array
                  required:
                    - name
                    - image
                  type: object
                minItems: 0
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                    - aisle: Produce
                      id: 9003
                      image: apple.jpg
                      name: apple
                      possibleUnits:
                        - small
                        - large
                        - piece
                        - slice
                        - g
                        - extra small
                        - medium
                        - oz
                        - cup slice
                        - cup
                        - serving
                    - aisle: Canned and Jarred
                      id: 9019
                      image: applesauce.png
                      name: applesauce
                      possibleUnits:
                        - g
                        - oz
                        - cup
                        - serving
                        - tablespoon
                    - aisle: Beverages
                      id: 9016
                      image: apple-juice.jpg
                      name: apple juice
                      possibleUnits:
                        - g
                        - drink box
                        - fl oz
                        - oz
                        - teaspoon
                        - cup
                        - serving
                        - tablespoon
                    - aisle: Beverages
                      id: 1009016
                      image: apple-cider.jpg
                      name: apple cider
                      possibleUnits:
                        - g
                        - drink box
                        - fl oz
                        - oz
                        - teaspoon
                        - bottle NFS
                        - cup
                        - serving
                        - tablespoon
                    - aisle: Nut butters, Jams, and Honey
                      id: 10019297
                      image: apple-jelly.jpg
                      name: apple jelly
                      possibleUnits:
                        - g
                        - oz
                        - packet
                        - teaspoon
                        - cup
                        - serving
                        - tablespoon
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Autocomplete Ingredient Search
      tags:
        - ingredients
  /food/ingredients/glycemicLoad:
    post:
      deprecated: false
      description: Retrieve the glycemic index for a list of ingredients and compute the individual and total glycemic load.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Compute-Glycemic-Load
      operationId: computeGlycemicLoad
      parameters:
        - $ref: "#/components/parameters/language"
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ingredients:
                    - 1 kiwi
                    - 2 cups rice
                    - 2 glasses of water
            schema:
              description: ""
              properties:
                ingredients:
                  items:
                    type: string
                  type: array
              required:
                - ingredients
              type: object
              x-examples:
                example-1:
                  ingredients:
                    - 1 kiwi
                    - 2 cups rice
                    - 2 glasses of water
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    ingredients:
                      - glycemicIndex: 52.67
                        glycemicLoad: 5.59
                        id: 9148
                        original: 1 kiwi
                      - glycemicIndex: 61.19
                        glycemicLoad: 178.05
                        id: 20444
                        original: 2 cups rice
                      - glycemicIndex: 0
                        glycemicLoad: 0
                        id: 14412
                        original: 2 glasses of water
                    totalGlycemicLoad: 183.64
              schema:
                description: ""
                properties:
                  ingredients:
                    items:
                      properties:
                        glycemicIndex:
                          type: number
                        glycemicLoad:
                          type: number
                        id:
                          type: integer
                        original:
                          minLength: 1
                          type: string
                      required:
                        - id
                        - original
                        - glycemicIndex
                        - glycemicLoad
                      type: object
                    minItems: 0
                    type: array
                    uniqueItems: true
                  totalGlycemicLoad:
                    type: number
                required:
                  - totalGlycemicLoad
                  - ingredients
                type: object
                x-examples:
                  example-1:
                    ingredients:
                      - glycemicIndex: 52.67
                        glycemicLoad: 5.59
                        id: 9148
                        original: 1 kiwi
                      - glycemicIndex: 61.19
                        glycemicLoad: 178.05
                        id: 20444
                        original: 2 cups rice
                      - glycemicIndex: 0
                        glycemicLoad: 0
                        id: 14412
                        original: 2 glasses of water
                    totalGlycemicLoad: 183.64
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Compute Glycemic Load
      tags:
        - recipes
  /food/ingredients/map:
    post:
      deprecated: false
      description: Map a set of ingredients to products you can buy in the grocery store.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Map-Ingredients-to-Grocery-Products
      operationId: mapIngredientsToGroceryProducts
      parameters: []
      requestBody:
        content:
          application/json:
            examples:
              example-1:
                value:
                  ingredients:
                    - eggs
                    - bacon
                  servings: 2
            schema:
              description: ""
              properties:
                ingredients:
                  items:
                    type: string
                  type: array
                servings:
                  type: number
              required:
                - ingredients
                - servings
              type: object
              x-examples:
                example-1:
                  ingredients:
                    - eggs
                    - bacon
                  servings: 2
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    - ingredientImage: egg.png
                      meta:
                        - egg
                      original: eggs
                      originalName: eggs
                      products:
                        - id: 209945
                          title: Crystal Farms Eggs - Fresh Accents Peeled Hard Cooked 2 ct Packs
                          upc: "075925889498"
                        - id: 214723
                          title: Organic Valley Eggs - Organic Medium Brown
                          upc: "093966811100"
                        - id: 183228
                          title: Eggland's Best Grade A Eggs Jumbo - 12 CT
                          upc: "715141328615"
                    - ingredientImage: raw-bacon.png
                      meta:
                        - bacon
                      original: bacon
                      originalName: bacon
                      products:
                        - id: 159164
                          title: Wright Bacon - Naturally Hickory Smoked
                          upc: "079621461552"
                        - id: 87924
                          title: Sugardale Bacon
                          upc: "073890006025"
                        - id: 213315
                          title: John Morrell Bacon - Applewood Smoked
                          upc: "070100060877"
                        - id: 94585
                          title: Hormel Black Label Bacon Thick Cut
                          upc: "037600153041"
              schema:
                description: ""
                items:
                  properties:
                    ingredientImage:
                      minLength: 1
                      type: string
                    meta:
                      items:
                        type: string
                      type: array
                    original:
                      minLength: 1
                      type: string
                    originalName:
                      minLength: 1
                      type: string
                    products:
                      items:
                        properties:
                          id:
                            type: integer
                          title:
                            minLength: 1
                            type: string
                          upc:
                            minLength: 1
                            type: string
                        required:
                          - id
                          - title
                          - upc
                        type: object
                      minItems: 0
                      type: array
                      uniqueItems: true
                  required:
                    - original
                    - originalName
                    - ingredientImage
                    - meta
                    - products
                  type: object
                minItems: 0
                type: array
                uniqueItems: true
                x-examples:
                  example-1:
                    - ingredientImage: egg.png
                      meta:
                        - egg
                      original: eggs
                      originalName: eggs
                      products:
                        - id: 209945
                          title: Crystal Farms Eggs - Fresh Accents Peeled Hard Cooked 2 ct Packs
                          upc: "075925889498"
                        - id: 214723
                          title: Organic Valley Eggs - Organic Medium Brown
                          upc: "093966811100"
                        - id: 183228
                          title: Eggland's Best Grade A Eggs Jumbo - 12 CT
                          upc: "715141328615"
                    - ingredientImage: raw-bacon.png
                      meta:
                        - bacon
                      original: bacon
                      originalName: bacon
                      products:
                        - id: 159164
                          title: Wright Bacon - Naturally Hickory Smoked
                          upc: "079621461552"
                        - id: 87924
                          title: Sugardale Bacon
                          upc: "073890006025"
                        - id: 213315
                          title: John Morrell Bacon - Applewood Smoked
                          upc: "070100060877"
                        - id: 94585
                          title: Hormel Black Label Bacon Thick Cut
                          upc: "037600153041"
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Map Ingredients to Grocery Products
      tags:
        - ingredients
  /food/ingredients/search:
    get:
      deprecated: false
      description: Search for simple whole foods (e.g. fruits, vegetables, nuts, grains, meat, fish, dairy etc.).
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Ingredient-Search
      operationId: ingredientSearch
      parameters:
        - $ref: "#/components/parameters/query"
        - description: Whether to add children of found foods.
          explode: false
          in: query
          name: addChildren
          required: false
          schema:
            example: true
            type: boolean
          style: form
        - description: The minimum percentage of protein the food must have (between 0 and 100).
          explode: false
          in: query
          name: minProteinPercent
          required: false
          schema:
            example: 10
            type: number
          style: form
        - description: The maximum percentage of protein the food can have (between 0 and 100).
          explode: false
          in: query
          name: maxProteinPercent
          required: false
          schema:
            example: 90
            type: number
          style: form
        - description: The minimum percentage of fat the food must have (between 0 and 100).
          explode: false
          in: query
          name: minFatPercent
          required: false
          schema:
            example: 10
            type: number
          style: form
        - description: The maximum percentage of fat the food can have (between 0 and 100).
          explode: false
          in: query
          name: maxFatPercent
          required: false
          schema:
            example: 90
            type: number
          style: form
        - description: The minimum percentage of carbs the food must have (between 0 and 100).
          explode: false
          in: query
          name: minCarbsPercent
          required: false
          schema:
            example: 10
            type: number
          style: form
        - description: The maximum percentage of carbs the food can have (between 0 and 100).
          explode: false
          in: query
          name: maxCarbsPercent
          required: false
          schema:
            example: 90
            type: number
          style: form
        - description: Whether to return more meta information about the ingredients.
          explode: false
          in: query
          name: metaInformation
          required: false
          schema:
            example: false
            type: boolean
          style: form
        - description: A comma-separated list of intolerances. All recipes returned must not contain ingredients that are not suitable for people with the intolerances entered. See a full list of supported intolerances.
          explode: false
          in: query
          name: intolerances
          required: false
          schema:
            example: egg
            type: string
          style: form
        - description: The strategy to sort recipes by. See a full list of supported sorting options.
          explode: false
          in: query
          name: sort
          required: false
          schema:
            example: calories
            type: string
          style: form
        - description: The direction in which to sort. Must be either 'asc' (ascending) or 'desc' (descending).
          explode: false
          in: query
          name: sortDirection
          required: false
          schema:
            example: asc
            type: string
          style: form
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/number"
        - $ref: "#/components/parameters/language"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    number: 2
                    offset: 0
                    results:
                      - id: 19400
                        image: banana-chips.jpg
                        name: banana chips
                      - id: 93779
                        image: limoncello.jpg
                        name: banana liqueur
                    totalResults: 13
              schema:
                description: ""
                properties:
                  number:
                    type: integer
                  offset:
                    type: integer
                  results:
                    items:
                      properties:
                        id:
                          type: integer
                        image:
                          minLength: 1
                          type: string
                        name:
                          minLength: 1
                          type: string
                      required:
                        - id
                        - name
                        - image
                      type: object
                    minItems: 0
                    type: array
                    uniqueItems: true
                  totalResults:
                    type: integer
                required:
                  - results
                  - offset
                  - number
                  - totalResults
                type: object
                x-examples:
                  example-1:
                    number: 2
                    offset: 0
                    results:
                      - id: 19400
                        image: banana-chips.jpg
                        name: banana chips
                      - id: 93779
                        image: limoncello.jpg
                        name: banana liqueur
                    totalResults: 13
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Ingredient Search
      tags:
        - ingredients
  /food/ingredients/substitutes:
    get:
      deprecated: false
      description: Search for substitutes for a given ingredient.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Ingredient-Substitutes
      operationId: getIngredientSubstitutes
      parameters:
        - description: The name of the ingredient you want to replace.
          explode: false
          in: query
          name: ingredientName
          required: true
          schema:
            example: butter
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    ingredient: butter
                    message: Found 4 substitutes for the ingredient.
                    substitutes:
                      - 1 cup = 7/8 cup shortening and 1/2 tsp salt
                      - 1 cup = 7/8 cup vegetable oil + 1/2 tsp salt
                      - 1/2 cup = 1/4 cup buttermilk + 1/4 cup unsweetened applesauce
                      - 1 cup = 1 cup margarine
              schema:
                description: ""
                properties:
                  ingredient:
                    minLength: 1
                    type: string
                  message:
                    minLength: 1
                    type: string
                  substitutes:
                    items:
                      type: string
                    type: array
                required:
                  - ingredient
                  - substitutes
                  - message
                type: object
                x-examples:
                  example-1:
                    ingredient: butter
                    message: Found 4 substitutes for the ingredient.
                    substitutes:
                      - 1 cup = 7/8 cup shortening and 1/2 tsp salt
                      - 1 cup = 7/8 cup vegetable oil + 1/2 tsp salt
                      - 1/2 cup = 1/4 cup buttermilk + 1/4 cup unsweetened applesauce
                      - 1 cup = 1 cup margarine
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Ingredient Substitutes
      tags:
        - ingredients
  "/food/ingredients/{id}/amount":
    get:
      deprecated: false
      description: Compute the amount you need of a certain ingredient for a certain nutritional goal. For example, how much pineapple do you have to eat to get 10 grams of protein?
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Compute-Ingredient-Amount
      operationId: computeIngredientAmount
      parameters:
        - description: The id of the ingredient you want the amount for.
          explode: false
          in: path
          name: id
          required: true
          schema:
            example: 9266
            type: number
          style: simple
        - description: The target nutrient. See a list of supported nutrients.
          explode: false
          in: query
          name: nutrient
          required: true
          schema:
            example: protein
            type: string
          style: form
        - description: The target number of the given nutrient.
          explode: false
          in: query
          name: target
          required: true
          schema:
            example: 2
            type: number
          style: form
        - description: The target unit.
          explode: false
          in: query
          name: unit
          required: false
          schema:
            example: oz
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    amount: 65.32
                    unit: oz
              schema:
                description: ""
                properties:
                  amount:
                    type: number
                  unit:
                    minLength: 1
                    type: string
                required:
                  - amount
                  - unit
                type: object
                x-examples:
                  example-1:
                    amount: 65.32
                    unit: oz
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Compute Ingredient Amount
      tags:
        - ingredients
  "/food/ingredients/{id}/information":
    get:
      deprecated: false
      description: Use an ingredient id to get all available information about an ingredient, such as its image and supermarket aisle.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Ingredient-Information
      operationId: getIngredientInformation
      parameters:
        - description: The ingredient id.
          explode: false
          in: path
          name: id
          required: true
          schema:
            example: 9266
            type: number
          style: simple
        - description: The amount of this ingredient.
          explode: false
          in: query
          name: amount
          required: false
          schema:
            example: 150
            type: number
          style: form
        - description: The unit for the given amount.
          explode: false
          in: query
          name: unit
          required: false
          schema:
            example: grams
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    aisle: Produce
                    amount: 1
                    categoryPath:
                      - tropical fruit
                      - fruit
                    consistency: solid
                    estimatedCost:
                      unit: US Cents
                      value: 299
                    id: 9266
                    image: pineapple.jpg
                    meta: []
                    name: pineapples
                    nameClean: pineapple
                    nutrition:
                      caloricBreakdown:
                        percentCarbs: 94.18
                        percentFat: 1.94
                        percentProtein: 3.88
                      nutrients:
                        - amount: 452.5
                          name: Calories
                          percentOfDailyNeeds: 22.63
                          unit: cal
                        - amount: 1.09
                          name: Fat
                          percentOfDailyNeeds: 1.67
                          unit: g
                        - amount: 0.08
                          name: Saturated Fat
                          percentOfDailyNeeds: 0.51
                          unit: g
                        - amount: 118.74
                          name: Carbohydrates
                          percentOfDailyNeeds: 39.58
                          unit: g
                        - amount: 106.07
                          name: Net Carbohydrates
                          percentOfDailyNeeds: 38.57
                          unit: g
                        - amount: 89.14
                          name: Sugar
                          percentOfDailyNeeds: 99.05
                          unit: g
                        - amount: 0
                          name: Cholesterol
                          percentOfDailyNeeds: 0
                          unit: mg
                        - amount: 9.05
                          name: Sodium
                          percentOfDailyNeeds: 0.39
                          unit: mg
                        - amount: 4.89
                          name: Protein
                          percentOfDailyNeeds: 9.77
                          unit: g
                        - amount: 432.59
                          name: Vitamin C
                          percentOfDailyNeeds: 524.35
                          unit: mg
                        - amount: 8.39
                          name: Manganese
                          percentOfDailyNeeds: 419.47
                          unit: mg
                        - amount: 12.67
                          name: Fiber
                          percentOfDailyNeeds: 50.68
                          unit: g
                        - amount: 1.01
                          name: Vitamin B6
                          percentOfDailyNeeds: 50.68
                          unit: mg
                        - amount: 1
                          name: Copper
                          percentOfDailyNeeds: 49.78
                          unit: mg
                        - amount: 0.72
                          name: Vitamin B1
                          percentOfDailyNeeds: 47.66
                          unit: mg
                        - amount: 162.9
                          name: Folate
                          percentOfDailyNeeds: 40.73
                          unit: µg
                        - amount: 986.45
                          name: Potassium
                          percentOfDailyNeeds: 28.18
                          unit: mg
                        - amount: 108.6
                          name: Magnesium
                          percentOfDailyNeeds: 27.15
                          unit: mg
                        - amount: 4.53
                          name: Vitamin B3
                          percentOfDailyNeeds: 22.63
                          unit: mg
                        - amount: 1.93
                          name: Vitamin B5
                          percentOfDailyNeeds: 19.28
                          unit: mg
                        - amount: 0.29
                          name: Vitamin B2
                          percentOfDailyNeeds: 17.04
                          unit: mg
                        - amount: 2.62
                          name: Iron
                          percentOfDailyNeeds: 14.58
                          unit: mg
                        - amount: 117.65
                          name: Calcium
                          percentOfDailyNeeds: 11.77
                          unit: mg
                        - amount: 524.9
                          name: Vitamin A
                          percentOfDailyNeeds: 10.5
                          unit: IU
                        - amount: 1.09
                          name: Zinc
                          percentOfDailyNeeds: 7.24
                          unit: mg
                        - amount: 72.4
                          name: Phosphorus
                          percentOfDailyNeeds: 7.24
                          unit: mg
                        - amount: 6.34
                          name: Vitamin K
                          percentOfDailyNeeds: 6.03
                          unit: µg
                        - amount: 0.91
                          name: Selenium
                          percentOfDailyNeeds: 1.29
                          unit: µg
                        - amount: 0.18
                          name: Vitamin E
                          percentOfDailyNeeds: 1.21
                          unit: mg
                      properties:
                        - amount: 58.67
                          name: Glycemic Index
                          unit: ""
                        - amount: 62.23
                          name: Glycemic Load
                          unit: ""
                      weightPerServing:
                        amount: 905
                        unit: g
                    original: pineapples
                    originalName: pineapples
                    possibleUnits:
                      - piece
                      - slice
                      - fruit
                      - g
                      - oz
                      - cup
                      - serving
                    shoppingListUnits:
                      - pieces
                    unit: ""
                    unitLong: ""
                    unitShort: ""
              schema:
                description: ""
                properties:
                  aisle:
                    minLength: 1
                    type: string
                  amount:
                    type: number
                  categoryPath:
                    items:
                      type: string
                    type: array
                  consistency:
                    minLength: 1
                    type: string
                  estimatedCost:
                    properties:
                      unit:
                        minLength: 1
                        type: string
                      value:
                        type: number
                    required:
                      - value
                      - unit
                    type: object
                  id:
                    type: integer
                  image:
                    minLength: 1
                    type: string
                  meta:
                    items:
                      type: object
                    type: array
                  name:
                    minLength: 1
                    type: string
                  nameClean:
                    minLength: 1
                    type: string
                  nutrition:
                    properties:
                      caloricBreakdown:
                        properties:
                          percentCarbs:
                            type: number
                          percentFat:
                            type: number
                          percentProtein:
                            type: number
                        required:
                          - percentProtein
                          - percentFat
                          - percentCarbs
                        type: object
                      nutrients:
                        items:
                          properties:
                            amount:
                              type: number
                            name:
                              minLength: 1
                              type: string
                            percentOfDailyNeeds:
                              type: number
                            unit:
                              minLength: 1
                              type: string
                          required:
                            - name
                            - amount
                            - unit
                            - percentOfDailyNeeds
                          type: object
                        minItems: 0
                        type: array
                        uniqueItems: true
                      properties:
                        items:
                          properties:
                            amount:
                              type: number
                            name:
                              minLength: 1
                              type: string
                            unit:
                              type: string
                          required:
                            - name
                            - amount
                            - unit
                          type: object
                        minItems: 0
                        type: array
                        uniqueItems: true
                      weightPerServing:
                        properties:
                          amount:
                            type: number
                          unit:
                            minLength: 1
                            type: string
                        required:
                          - amount
                          - unit
                        type: object
                    required:
                      - nutrients
                      - properties
                      - caloricBreakdown
                      - weightPerServing
                    type: object
                  original:
                    minLength: 1
                    type: string
                  originalName:
                    minLength: 1
                    type: string
                  possibleUnits:
                    items:
                      type: string
                    type: array
                  shoppingListUnits:
                    items:
                      type: string
                    type: array
                  unit:
                    type: string
                  unitLong:
                    type: string
                  unitShort:
                    type: string
                required:
                  - id
                  - original
                  - originalName
                  - name
                  - nameClean
                  - amount
                  - unit
                  - unitShort
                  - unitLong
                  - possibleUnits
                  - estimatedCost
                  - consistency
                  - shoppingListUnits
                  - aisle
                  - image
                  - meta
                  - nutrition
                  - categoryPath
                type: object
                x-examples:
                  example-1:
                    aisle: Produce
                    amount: 1
                    categoryPath:
                      - tropical fruit
                      - fruit
                    consistency: solid
                    estimatedCost:
                      unit: US Cents
                      value: 299
                    id: 9266
                    image: pineapple.jpg
                    meta: []
                    name: pineapples
                    nameClean: pineapple
                    nutrition:
                      caloricBreakdown:
                        percentCarbs: 94.18
                        percentFat: 1.94
                        percentProtein: 3.88
                      nutrients:
                        - amount: 452.5
                          name: Calories
                          percentOfDailyNeeds: 22.63
                          unit: cal
                        - amount: 1.09
                          name: Fat
                          percentOfDailyNeeds: 1.67
                          unit: g
                        - amount: 0.08
                          name: Saturated Fat
                          percentOfDailyNeeds: 0.51
                          unit: g
                        - amount: 118.74
                          name: Carbohydrates
                          percentOfDailyNeeds: 39.58
                          unit: g
                        - amount: 106.07
                          name: Net Carbohydrates
                          percentOfDailyNeeds: 38.57
                          unit: g
                        - amount: 89.14
                          name: Sugar
                          percentOfDailyNeeds: 99.05
                          unit: g
                        - amount: 0
                          name: Cholesterol
                          percentOfDailyNeeds: 0
                          unit: mg
                        - amount: 9.05
                          name: Sodium
                          percentOfDailyNeeds: 0.39
                          unit: mg
                        - amount: 4.89
                          name: Protein
                          percentOfDailyNeeds: 9.77
                          unit: g
                        - amount: 432.59
                          name: Vitamin C
                          percentOfDailyNeeds: 524.35
                          unit: mg
                        - amount: 8.39
                          name: Manganese
                          percentOfDailyNeeds: 419.47
                          unit: mg
                        - amount: 12.67
                          name: Fiber
                          percentOfDailyNeeds: 50.68
                          unit: g
                        - amount: 1.01
                          name: Vitamin B6
                          percentOfDailyNeeds: 50.68
                          unit: mg
                        - amount: 1
                          name: Copper
                          percentOfDailyNeeds: 49.78
                          unit: mg
                        - amount: 0.72
                          name: Vitamin B1
                          percentOfDailyNeeds: 47.66
                          unit: mg
                        - amount: 162.9
                          name: Folate
                          percentOfDailyNeeds: 40.73
                          unit: µg
                        - amount: 986.45
                          name: Potassium
                          percentOfDailyNeeds: 28.18
                          unit: mg
                        - amount: 108.6
                          name: Magnesium
                          percentOfDailyNeeds: 27.15
                          unit: mg
                        - amount: 4.53
                          name: Vitamin B3
                          percentOfDailyNeeds: 22.63
                          unit: mg
                        - amount: 1.93
                          name: Vitamin B5
                          percentOfDailyNeeds: 19.28
                          unit: mg
                        - amount: 0.29
                          name: Vitamin B2
                          percentOfDailyNeeds: 17.04
                          unit: mg
                        - amount: 2.62
                          name: Iron
                          percentOfDailyNeeds: 14.58
                          unit: mg
                        - amount: 117.65
                          name: Calcium
                          percentOfDailyNeeds: 11.77
                          unit: mg
                        - amount: 524.9
                          name: Vitamin A
                          percentOfDailyNeeds: 10.5
                          unit: IU
                        - amount: 1.09
                          name: Zinc
                          percentOfDailyNeeds: 7.24
                          unit: mg
                        - amount: 72.4
                          name: Phosphorus
                          percentOfDailyNeeds: 7.24
                          unit: mg
                        - amount: 6.34
                          name: Vitamin K
                          percentOfDailyNeeds: 6.03
                          unit: µg
                        - amount: 0.91
                          name: Selenium
                          percentOfDailyNeeds: 1.29
                          unit: µg
                        - amount: 0.18
                          name: Vitamin E
                          percentOfDailyNeeds: 1.21
                          unit: mg
                      properties:
                        - amount: 58.67
                          name: Glycemic Index
                          unit: ""
                        - amount: 62.23
                          name: Glycemic Load
                          unit: ""
                      weightPerServing:
                        amount: 905
                        unit: g
                    original: pineapples
                    originalName: pineapples
                    possibleUnits:
                      - piece
                      - slice
                      - fruit
                      - g
                      - oz
                      - cup
                      - serving
                    shoppingListUnits:
                      - pieces
                    unit: ""
                    unitLong: ""
                    unitShort: ""
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Ingredient Information
      tags:
        - ingredients
    parameters:
      - $ref: "#/components/parameters/id"
  "/food/ingredients/{id}/substitutes":
    get:
      deprecated: false
      description: Search for substitutes for a given ingredient.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Ingredient-Substitutes-by-ID
      operationId: getIngredientSubstitutesByID
      parameters:
        - description: The id of the ingredient you want substitutes for.
          explode: false
          in: path
          name: id
          required: true
          schema:
            example: 1001
            type: number
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    ingredient: butter
                    message: Found 4 substitutes for the ingredient.
                    substitutes:
                      - 1 cup = 7/8 cup shortening and 1/2 tsp salt
                      - 1 cup = 7/8 cup vegetable oil + 1/2 tsp salt
                      - 1/2 cup = 1/4 cup buttermilk + 1/4 cup unsweetened applesauce
                      - 1 cup = 1 cup margarine
              schema:
                description: ""
                properties:
                  ingredient:
                    minLength: 1
                    type: string
                  message:
                    minLength: 1
                    type: string
                  substitutes:
                    items:
                      type: string
                    type: array
                required:
                  - ingredient
                  - substitutes
                  - message
                type: object
                x-examples:
                  example-1:
                    ingredient: butter
                    message: Found 4 substitutes for the ingredient.
                    substitutes:
                      - 1 cup = 7/8 cup shortening and 1/2 tsp salt
                      - 1 cup = 7/8 cup vegetable oil + 1/2 tsp salt
                      - 1/2 cup = 1/4 cup buttermilk + 1/4 cup unsweetened applesauce
                      - 1 cup = 1 cup margarine
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Get Ingredient Substitutes by ID
      tags:
        - ingredients
    parameters:
      - $ref: "#/components/parameters/id"
  /food/jokes/random:
    get:
      deprecated: false
      description: "Get a random joke that is related to food. Caution: this is an endpoint for adults!"
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Random-Food-Joke
      operationId: getARandomFoodJoke
      parameters: []
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    text: Any salad can be a Caesar salad if you stab it enough.
              schema:
                description: ""
                properties:
                  text:
                    minLength: 1
                    type: string
                required:
                  - text
                type: object
                x-examples:
                  example-1:
                    text: Any salad can be a Caesar salad if you stab it enough.
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Random Food Joke
      tags:
        - misc
  /food/menuItems/search:
    get:
      deprecated: false
      description: Search over 115,000 menu items from over 800 fast food and chain restaurants. For example, McDonald's Big Mac or Starbucks Mocha.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Search-Menu-Items
      operationId: searchMenuItems
      parameters:
        - $ref: "#/components/parameters/query"
        - description: The minimum amount of calories the menu item must have.
          explode: false
          in: query
          name: minCalories
          required: false
          schema:
            example: 50
            type: number
          style: form
        - description: The maximum amount of calories the menu item can have.
          explode: false
          in: query
          name: maxCalories
          required: false
          schema:
            example: 800
            type: number
          style: form
        - description: The minimum amount of carbohydrates in grams the menu item must have.
          explode: false
          in: query
          name: minCarbs
          required: false
          schema:
            example: 10
            type: number
          style: form
        - description: The maximum amount of carbohydrates in grams the menu item can have.
          explode: false
          in: query
          name: maxCarbs
          required: false
          schema:
            example: 100
            type: number
          style: form
        - description: The minimum amount of protein in grams the menu item must have.
          explode: false
          in: query
          name: minProtein
          required: false
          schema:
            example: 10
            type: number
          style: form
        - description: The maximum amount of protein in grams the menu item can have.
          explode: false
          in: query
          name: maxProtein
          required: false
          schema:
            example: 100
            type: number
          style: form
        - description: The minimum amount of fat in grams the menu item must have.
          explode: false
          in: query
          name: minFat
          required: false
          schema:
            example: 1
            type: number
          style: form
        - description: The maximum amount of fat in grams the menu item can have.
          explode: false
          in: query
          name: maxFat
          required: false
          schema:
            example: 100
            type: number
          style: form
        - description: If set to true, you get more information about the menu items returned.
          in: query
          name: addMenuItemInformation
          schema:
            enum:
              - false
              - true
            example: true
            type: boolean
        - $ref: "#/components/parameters/offset"
        - $ref: "#/components/parameters/number"
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    menuItems:
                      - id: 419357
                        image: https://images.spoonacular.com/file/wximages/419357-312x231.png
                        imageType: png
                        restaurantChain: Hooters
                        servings:
                          number: 1
                          size: 2
                          unit: oz
                        title: Burger Sliders
                      - id: 424571
                        image: https://images.spoonacular.com/file/wximages/424571-312x231.png
                        imageType: png
                        restaurantChain: Burger King
                        servings:
                          number: 1
                          size: 2
                          unit: oz
                        title: Bacon King Burger
                    number: 2
                    offset: 0
                    totalMenuItems: 6749
                    type: menuItem
              schema:
                description: ""
                properties:
                  menuItems:
                    items:
                      properties:
                        id:
                          type: integer
                        image:
                          minLength: 1
                          type: string
                        imageType:
                          minLength: 1
                          type: string
                        restaurantChain:
                          minLength: 1
                          type: string
                        servings:
                          properties:
                            number:
                              type: number
                            size:
                              type: number
                            unit:
                              minLength: 1
                              type: string
                          required:
                            - number
                            - size
                            - unit
                          type: object
                        title:
                          minLength: 1
                          type: string
                      required:
                        - id
                        - title
                        - restaurantChain
                        - image
                        - imageType
                      type: object
                    minItems: 0
                    type: array
                    uniqueItems: true
                  number:
                    type: integer
                  offset:
                    type: integer
                  totalMenuItems:
                    type: integer
                  type:
                    minLength: 1
                    type: string
                required:
                  - menuItems
                  - totalMenuItems
                  - type
                  - offset
                  - number
                type: object
                x-examples:
                  example-1:
                    menuItems:
                      - id: 419357
                        image: https://images.spoonacular.com/file/wximages/419357-312x231.png
                        imageType: png
                        restaurantChain: Hooters
                        servings:
                          number: 1
                          size: 2
                          unit: oz
                        title: Burger Sliders
                      - id: 424571
                        image: https://images.spoonacular.com/file/wximages/424571-312x231.png
                        imageType: png
                        restaurantChain: Burger King
                        servings:
                          number: 1
                          size: 2
                          unit: oz
                        title: Bacon King Burger
                    number: 2
                    offset: 0
                    totalMenuItems: 6749
                    type: menuItem
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Search Menu Items
      tags:
        - menu items
  /food/menuItems/suggest:
    get:
      deprecated: false
      description: Generate suggestions for menu items based on a (partial) query. The matches will be found by looking in the title only.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Autocomplete-Menu-Item-Search
      operationId: autocompleteMenuItemSearch
      parameters:
        - description: The (partial) search query.
          explode: false
          in: query
          name: query
          required: true
          schema:
            example: chicke
            type: string
          style: form
        - description: The number of results to return (between 1 and 25).
          explode: false
          in: query
          name: number
          required: false
          schema:
            example: 10
            maximum: 25
            minimum: 1
            type: number
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    results:
                      - id: 253419
                        title: pei wei asian diner thai chicken lettuce wraps
                      - id: 380722
                        title: camille's chicken caesar salad includes 2 oz. caesar dressing
              schema:
                description: ""
                properties:
                  results:
                    items:
                      properties:
                        id:
                          type: integer
                        title:
                          minLength: 1
                          type: string
                      required:
                        - id
                        - title
                      type: object
                    minItems: 0
                    type: array
                    uniqueItems: true
                required:
                  - results
                type: object
                x-examples:
                  example-1:
                    results:
                      - id: 253419
                        title: pei wei asian diner thai chicken lettuce wraps
                      - id: 380722
                        title: camille's chicken caesar salad includes 2 oz. caesar dressing
          description: Success
          headers: {}
        "401":
          description: Unauthorized
        "403":
          description: Forbidden
        "404":
          description: Not Found
      summary: Autocomplete Menu Item Search
      tags:
        - menu items
  "/food/menuItems/{id}":
    get:
      deprecated: false
      description: Use a menu item id to get all available information about a menu item, such as nutrition.
      externalDocs:
        description: Read entire docs
        url: https://spoonacular.com/food-api/docs#Get-Menu-Item-Information
      operationId: getMenuItemInformation
      parameters:
        - description: The menu item id.
          explode: false
          in: path
          name: id
          required: true
          schema:
            example: 424571
            type: number
          style: simple
      responses:
        "200":
          content:
            application/json:
              examples:
                example-1:
                  value:
                    badges: []
                    breadcrumbs:
                      - burger
                      - main course
                      - food product category
                    generatedText: ""
                    id: 424571
                    imageType: png
                    likes: 0
                    nutrition:
                      caloricBreakdown:
                        percentCarbs: 35
                        percentFat: 30
                        percentProtein: 35
                      nutrients:
                        - amount: 69
                          name: Fat
                          percentOfDailyNeeds: 30
                          unit: g
                        - amount: 57
                          name: Protein
                          percentOfDailyNeeds: 35
                          unit: g
                        - amount: 1040
                          name: Calories
                          percentOfDailyNeeds: 50
                          unit: cal
                        - amount: 48
                          name: Carbohydrates
                          percentOfDailyNeeds: 35
                          unit: g
                    price: 2.35
                    restaurantChain: Burger King
                    servings:
                      number: 1
                      size: 2
                      unit: oz
                    spoonacularScore: 12.5
                    title: Bacon King Burger
              schema:
                description: ""
                properties:
                  badges:
                    items:
                      type: string
                    type: array
                  breadcrumbs:
                    items:
                      type: string
                    type: array
                  generatedText:
                    type: string
                  id:
                    type: integer
                  imageType:
                    minLength: 1
                    type: string
                  likes:
                    type: number
                  nutrition:
                    properties:
                      caloricBreakdown:
                        properties:
                          percentCarbs:
                            type: number
                          percentFat:
                            type: number
                          percentProtein:
                            type: number
                        required:
                          - percentProtein
                          - percentFat
                          - percentCarbs
                        type: object
                      nutrients:
                        items:
                          properties:
                            amount:
                              type: number
                            name:
                              minLength: 1
                              type: string
                            percentOfDailyNeeds:
                              type: number
                            unit:
                              minLength: 1
                              type: string
                          required:
                            - name
                            - amount
                            - unit
                            - percentOfDailyNeeds
                          type: object
                        minItems: 0
                        type: array
                        uniqueItems: true
                    required:
                      - nutrients
                      - caloricBreakdown
                    type: object
                  price:
                    type: number
                  restaurantChain:
                    minLength: 1
                    type: string
                  servings:
                    properties:
                      number:
                        type: number
                      size:
                        type: number
                      unit:
                        minLength: 1
                        type: string
                    required:
                      - number
                      - size
                      - unit
                    type: object
[...]
