swagger: '2.0'
schemes:
  - http
  - https
host: api.sportsdata.io
basePath: /v3/nhl/projections
info:
  title: NHL v3 Projections
  version: '1.0'
  x-origin:
    - format: swagger
      url: 'https://fantasydata.com/downloads/swagger/nhl-v3-projections.json'
      version: '2.0'
  x-providerName: sportsdata.io
  x-serviceName: nhl-v3-projections
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
tags: []
paths:
  '/{format}/DfsSlatesByDate/{date}':
    get:
      operationId: DfsSlatesByDate
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the game(s).
            <br>Examples: <code>2017-DEC-01</code>, <code>2018-FEB-15</code>.
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Date
  '/{format}/PlayerGameProjectionStatsByDate/{date}':
    get:
      operationId: ProjectedPlayerGameStatsByDateWInjuriesDfsSalaries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the game(s).
             <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.
             
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGameProjection'
            type: array
      summary: 'Projected Player Game Stats by Date (w/ Injuries, DFS Salaries)'
  '/{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}':
    get:
      operationId: ProjectedPlayerGameStatsByPlayerWInjuriesDfsSalaries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the game(s).
             <br>Examples: <code>2018-JAN-31</code>, <code>2017-OCT-01</code>.
             
          in: path
          name: date
          required: true
          type: string
        - description: |-
            Unique FantasyData Player ID.
            Example:<code>30000378</code>.
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayerGameProjection'
      summary: 'Projected Player Game Stats by Player (w/ Injuries, DFS Salaries)'
definitions:
  DfsSlate:
    properties:
      DfsSlateGames:
        items:
          $ref: '#/definitions/DfsSlateGame'
        type: array
      DfsSlatePlayers:
        items:
          $ref: '#/definitions/DfsSlatePlayer'
        type: array
      IsMultiDaySlate:
        type: boolean
      NumberOfGames:
        type: integer
      Operator:
        type: string
      OperatorDay:
        type: string
      OperatorGameType:
        type: string
      OperatorName:
        type: string
      OperatorSlateID:
        type: integer
      OperatorStartTime:
        type: string
      RemovedByOperator:
        type: boolean
      SalaryCap:
        type: integer
      SlateID:
        type: integer
      SlateRosterSlots:
        items:
          type: string
        type: array
  DfsSlateGame:
    properties:
      Game:
        $ref: '#/definitions/Game'
      GameID:
        type: integer
      OperatorGameID:
        type: integer
      RemovedByOperator:
        type: boolean
      SlateGameID:
        type: integer
      SlateID:
        type: integer
  DfsSlatePlayer:
    properties:
      OperatorPlayerID:
        type: string
      OperatorPlayerName:
        type: string
      OperatorPosition:
        type: string
      OperatorRosterSlots:
        items:
          type: string
        type: array
      OperatorSalary:
        type: integer
      OperatorSlatePlayerID:
        type: string
      PlayerGameProjectionStatID:
        type: integer
      PlayerID:
        type: integer
      RemovedByOperator:
        type: boolean
      SlateGameID:
        type: integer
      SlateID:
        type: integer
      SlatePlayerID:
        type: integer
  Game:
    properties:
      Attendance:
        type: integer
      AwayTeam:
        type: string
      AwayTeamID:
        type: integer
      AwayTeamMoneyLine:
        type: integer
      AwayTeamScore:
        type: integer
      Channel:
        type: string
      DateTime:
        type: string
      Day:
        type: string
      GameEndDateTime:
        type: string
      GameID:
        type: integer
      GlobalAwayTeamID:
        type: integer
      GlobalGameID:
        type: integer
      GlobalHomeTeamID:
        type: integer
      HomeTeam:
        type: string
      HomeTeamID:
        type: integer
      HomeTeamMoneyLine:
        type: integer
      HomeTeamScore:
        type: integer
      IsClosed:
        type: boolean
      LastPlay:
        type: string
      OverUnder:
        type: number
      Period:
        type: string
      Periods:
        items:
          $ref: '#/definitions/Period'
        type: array
      PointSpread:
        type: number
      PointSpreadAwayTeamMoneyLine:
        type: integer
      PointSpreadHomeTeamMoneyLine:
        type: integer
      Season:
        type: integer
      SeasonType:
        type: integer
      StadiumID:
        type: integer
      Status:
        type: string
      TimeRemainingMinutes:
        type: integer
      TimeRemainingSeconds:
        type: integer
      Updated:
        type: string
  Penalty:
    properties:
      BenchPenaltyServedByPlayerID:
        type: integer
      Description:
        type: string
      DrawnByPlayerID:
        type: integer
      DrawnByTeamID:
        type: integer
      IsBenchPenalty:
        type: boolean
      PenalizedPlayerID:
        type: integer
      PenalizedTeamID:
        type: integer
      PenaltyID:
        type: integer
      PenaltyMinutes:
        type: integer
      PeriodID:
        type: integer
      Sequence:
        type: integer
      TimeRemainingMinutes:
        type: integer
      TimeRemainingSeconds:
        type: integer
  Period:
    properties:
      AwayScore:
        type: integer
      GameID:
        type: integer
      HomeScore:
        type: integer
      Name:
        type: string
      Penalties:
        items:
          $ref: '#/definitions/Penalty'
        type: array
      PeriodID:
        type: integer
      ScoringPlays:
        items:
          $ref: '#/definitions/ScoringPlay'
        type: array
  PlayerGameProjection:
    properties:
      Assists:
        type: number
      BenchPenaltyMinutes:
        type: number
      Blocks:
        type: number
      DateTime:
        type: string
      Day:
        type: string
      DraftKingsPosition:
        type: string
      DraftKingsSalary:
        type: integer
      EmptyNetGoals:
        type: number
      FaceoffsLost:
        type: number
      FaceoffsWon:
        type: number
      FanDuelPosition:
        type: string
      FanDuelSalary:
        type: integer
      FantasyDataSalary:
        type: integer
      FantasyDraftPosition:
        type: string
      FantasyDraftSalary:
        type: integer
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsYahoo:
        type: number
      GameID:
        type: integer
      Games:
        type: integer
      Giveaways:
        type: number
      GlobalGameID:
        type: integer
      GlobalOpponentID:
        type: integer
      GlobalTeamID:
        type: integer
      Goals:
        type: number
      GoaltendingGoalsAgainst:
        type: number
      GoaltendingLosses:
        type: number
      GoaltendingMinutes:
        type: integer
      GoaltendingOvertimeLosses:
        type: number
      GoaltendingSaves:
        type: number
      GoaltendingSeconds:
        type: integer
      GoaltendingShotsAgainst:
        type: number
      GoaltendingShutouts:
        type: number
      GoaltendingWins:
        type: number
      HatTricks:
        type: number
      Hits:
        type: number
      HomeOrAway:
        type: string
      InjuryBodyPart:
        type: string
      InjuryNotes:
        type: string
      InjuryStartDate:
        type: string
      InjuryStatus:
        type: string
      IsGameOver:
        type: boolean
      Minutes:
        type: integer
      Name:
        type: string
      Opponent:
        type: string
      OpponentID:
        type: integer
      OpponentPositionRank:
        type: integer
      OpponentRank:
        type: integer
      PenaltyMinutes:
        type: number
      PlayerID:
        type: integer
      PlusMinus:
        type: number
      Position:
        type: string
      PowerPlayAssists:
        type: number
      PowerPlayGoals:
        type: number
      Season:
        type: integer
      SeasonType:
        type: integer
      Seconds:
        type: integer
      Shifts:
        type: number
      ShootoutGoals:
        type: number
      ShortHandedAssists:
        type: number
      ShortHandedGoals:
        type: number
      ShotsOnGoal:
        type: number
      Started:
        type: integer
      StatID:
        type: integer
      Takeaways:
        type: number
      Team:
        type: string
      TeamID:
        type: integer
      Updated:
        type: string
      YahooPosition:
        type: string
      YahooSalary:
        type: integer
  ScoringPlay:
    properties:
      AllowedByTeamID:
        type: integer
      AssistedByPlayerID1:
        type: integer
      AssistedByPlayerID2:
        type: integer
      AwayTeamScore:
        type: integer
      EmptyNet:
        type: boolean
      HomeTeamScore:
        type: integer
      PeriodID:
        type: integer
      PowerPlay:
        type: boolean
      ScoredByPlayerID:
        type: integer
      ScoredByTeamID:
        type: integer
      ScoringPlayID:
        type: integer
      Sequence:
        type: integer
      ShortHanded:
        type: boolean
      TimeRemainingMinutes:
        type: integer
      TimeRemainingSeconds:
        type: integer
x-servers:
  - url: 'http://api.sportsdata.io'
  - url: 'https://api.sportsdata.io'
  - url: 'http://api.fantasydata.net'
  - url: 'https://api.fantasydata.net'
