openapi: 3.0.2
servers:
  - description: Box Platform API server
    url: 'https://api.box.com/2.0'
info:
  contact:
    email: devrel@box.com
    name: Box Developer Relations
    url: 'https://developer.box.com'
    x-twitter: BoxHQ
  description: The Box Content API gives you access to secure content management and content experience features for use in your own app. It strives to be RESTful and is organized around the main resources you’re familiar with from the Box web interface.
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  termsOfService: 'https://cloud.app.box.com/s/rmwxu64h1ipr41u49w3bbuvbsa29wku9'
  title: Box Platform 2.0 APIs
  version: '2.0'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://twitter.com/BoxHQ/profile_image?size=original'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: openapi
      url: 'https://opensource.box.com/box-openapi/openapi.json'
      version: '3.0'
  x-providerName: box.com
security:
  - OAuth2Security: []
tags:
  - name: Folders
    x-box-reference-category: folders
  - name: Files
    x-box-reference-category: files
  - name: Authorization
    x-box-reference-category: authorization
  - name: File Uploads
    x-box-reference-category: file_uploads
  - name: Chunked Uploads
    x-box-reference-category: chunked_uploads
  - name: File Versions
    x-box-reference-category: file_versions
  - name: File & Folder Metadata
    x-box-reference-category: metadata
  - name: Metadata Templates
    x-box-reference-category: metadata_templates
  - name: Metadata Cascade (Beta)
    x-box-reference-category: metadata_cascade_policies
  - name: Collaborations
    x-box-reference-category: collaborations
  - name: Collaboration Whitelist
    x-box-reference-category: collaboration_whitelist
  - name: Collections
    x-box-reference-category: collections
  - name: Comments
    x-box-reference-category: comments
  - name: Device Pins
    x-box-reference-category: device_pins
  - name: Events
    x-box-reference-category: events
  - name: Groups
    x-box-reference-category: groups
  - name: Legal Hold Policies
    x-box-reference-category: legal_hold_policies
  - name: Multi Zones
    x-box-reference-category: multizones
  - name: Recent Items
    x-box-reference-category: recent_items
  - name: Retention Policies
    x-box-reference-category: retention_policies
  - name: Search
    x-box-reference-category: search
  - name: Shared Links
    x-box-reference-category: shared_links
  - name: Skills
    x-box-reference-category: skills
  - name: Tasks
    x-box-reference-category: tasks
  - name: Terms of Service
    x-box-reference-category: terms_of_services
  - name: Trash
    x-box-reference-category: trash
  - name: Users
    x-box-reference-category: users
  - name: Watermarks
    x-box-reference-category: watermarks
  - name: Web Links
    x-box-reference-category: web_links
  - name: Webhooks
    x-box-reference-category: webhooks
paths:
  /authorize:
    get:
      description: |-
        Authorize a user by sending them through the [Box](https://box.com)
        website and request their permission to act on their behalf.

        This is the first step when authenticating a user using
        OAuth 2.0. To request a user's authorization to use the Box APIs
        on their behalf you will need to send a user to the URL with this
        format.
      operationId: get_authorize
      parameters:
        - description: |-
            The string value `"code"` is the only current value we support
            for the OAuth2 grant type.
          example: 5idyGSFuf54zrvKm
          in: query
          name: response_type
          required: true
          schema:
            enum:
              - code
            format: token
            type: string
        - description: |-
            The Client ID of the application that is requesting to authenticate
            the user. To get the Client ID for your application, log in to your
            Box developer console and click the **Edit Application** link for
            the application you're working with. In the OAuth2 Parameters section
            of the configuration page, find the item labeled **client_id**. The
            text of that item is your application's Client ID.
          example: ly1nj6n11vionaie65emwzk575hnnmrk
          in: query
          name: client_id
          required: true
          schema:
            type: string
        - description: |-
            The URL to which Box redirects the browser after the user has granted
            or rejected the application permission. This URL must match the
            redirect URL in the configuration of your application. It must be a
            valid HTTPS URL and it needs to be able to handle the redirection to
            complete the next step in the OAuth2 flow.
          example: 'http://example.com/auth/callback'
          in: query
          name: redirect_uri
          required: true
          schema:
            format: url
            type: string
        - description: |-
            A custom string of your choice. Box will pass the same string to
            the redirect URL when authentication is complete. This parameter
            can be used to identify a user on redirect, as well as protect
            against hijacked sessions and other attacks.
          example: my_state
          in: query
          name: state
          required: false
          schema:
            type: string
        - description: |-
            A comma-separated list of application scopes you'd like to
            authenticate the user for. This defaults to all the scopes configured
            for the application in its configuration page.
          example: admin_readwrite
          in: query
          name: scope
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            text/html:
              schema:
                format: html
                type: string
          description: 'Does not return any data, but rather should be used in the browser.'
      security: []
      servers:
        - description: Server for client-side authentication
          url: 'https://account.box.com/api/oauth2'
      summary: Authorize a user
      tags:
        - Authorization
      x-box-reference-category: authorization
  /collaboration_whitelist_entries:
    get:
      description: |-
        Returns the list of whitelist entries which specify what domains can
        collaborate with the current enterprise.
      operationId: get_collaboration_whitelist_entries
      parameters:
        - description: The position marker at which to begin the response.
          example: 1234
          in: query
          name: marker
          required: false
          schema:
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaborationWhitelistEntries'
          description: Returns a collection of collaboration whitelist entries.
      summary: List whitelist entries
      tags:
        - Collaboration Whitelist
      x-box-reference-category: collaboration_whitelist
    post:
      description: |-
        Creates a collaboration whitelist entry, specifying a domain
        and direction to allow collaboration for.
      operationId: post_collaboration_whitelist_entries
      requestBody:
        content:
          application/json:
            schema:
              properties:
                direction:
                  description: The direction in which to allow collaborations.
                  enum:
                    - inbound
                    - outbound
                    - both
                  example: inboud
                  type: string
                domain:
                  description: The domain to add to the whitelist.
                  example: example.com
                  type: string
              required:
                - domain
                - direction
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaborationWhitelistEntry'
          description: Returns a new collaboration whitelist entry.
      summary: Create whitelist entry
      tags:
        - Collaboration Whitelist
      x-box-reference-category: collaboration_whitelist
  '/collaboration_whitelist_entries/{collaboration_whitelist_entry_id}':
    delete:
      description: Deletes a specific collaboration whitelist entry.
      operationId: delete_collaboration_whitelist_entries_id
      parameters:
        - description: The ID of the collaboration whitelist item
          example: '213123'
          in: path
          name: collaboration_whitelist_entry_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: |-
            A blank response is returned if the entry was
            successfully deleted.
      summary: Delete whitelist entry
      tags:
        - Collaboration Whitelist
      x-box-reference-category: collaboration_whitelist
    get:
      description: Returns a specific collaboration whitelist entry.
      operationId: get_collaboration_whitelist_entries_id
      parameters:
        - description: The ID of the collaboration whitelist item
          example: '213123'
          in: path
          name: collaboration_whitelist_entry_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaborationWhitelistEntry'
          description: Returns a collaboration whitelist entry.
      summary: Get whitelist entry
      tags:
        - Collaboration Whitelist
      x-box-reference-category: collaboration_whitelist
  /collaboration_whitelist_exempt_targets:
    get:
      description: |-
        Returns a list of users who have been exempt from the collaboration
        whitelist.
      operationId: get_collaboration_whitelist_exempt_targets
      parameters:
        - description: The position marker at which to begin the response.
          example: 1234
          in: query
          name: marker
          required: false
          schema:
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaborationWhitelistExemptTargets'
          description: Returns a collection of collaboration whitelist exemptions.
      summary: List whitelist excemptions
      tags:
        - Collaboration Whitelist
      x-box-reference-category: collaboration_whitelist
    post:
      description: |-
        Creates a collaboration whitelist entry exemption, specifying a user
        that is exempted from the whitelist.
      operationId: post_collaboration_whitelist_exempt_targets
      requestBody:
        content:
          application/json:
            schema:
              properties:
                user:
                  description: The user to exempt.
                  properties:
                    id:
                      description: The ID of the user to exempt.
                      example: '23522323'
                      type: string
                  required:
                    - id
                  type: object
              required:
                - user
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaborationWhitelistExemptTarget'
          description: Returns a new collaboration whitelist entry.
      summary: Create whitelist exemption
      tags:
        - Collaboration Whitelist
      x-box-reference-category: collaboration_whitelist
  '/collaboration_whitelist_exempt_targets/{collaboration_whitelist_exempt_target_id}':
    delete:
      description: Deletes a specific collaboration whitelist exemption.
      operationId: delete_collaboration_whitelist_exempt_targets_id
      parameters:
        - description: The ID of the collaboration whitelist exemption
          example: '984923'
          in: path
          name: collaboration_whitelist_exempt_target_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: |-
            A blank response is returned if the exemption was
            successfully deleted.
      summary: Remove whitelist exemption
      tags:
        - Collaboration Whitelist
      x-box-reference-category: collaboration_whitelist
    get:
      description: |-
        Returns a users who has been exempt from the collaboration
        whitelist.
      operationId: get_collaboration_whitelist_exempt_targets_id
      parameters:
        - description: The ID of the collaboration whitelist exemption
          example: '984923'
          in: path
          name: collaboration_whitelist_exempt_target_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CollaborationWhitelistExemptTarget'
          description: Returns a collaboration whitelist exemption.
      summary: Get whitelist excemption
      tags:
        - Collaboration Whitelist
      x-box-reference-category: collaboration_whitelist
  /collaborations:
    get:
      description: Retrieves all pending collaboration invites for this user.
      operationId: get_collaborations
      parameters:
        - description: The status of the collaborations to retrieve
          example: pending
          in: query
          name: status
          required: true
          schema:
            enum:
              - pending
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: The offset of the item at which to begin the response.
          example: 1000
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaborations'
          description: |-
            Returns a collection of pending collaboration objects.

            If the user has no pending collaborations, the collection
            will be empty.
      summary: List pending collaborations
      tags:
        - Collaborations
      x-box-reference-category: collaborations
    post:
      description: |-
        Adds a collaboration for a single user or a single group to a file
        or folder.

        Collaborations can be created using email address, user IDs, or a
        group IDs.

        If a collaboration is being created with a group, access to
        this endpoint is dependent on the group's ability to be invited.
      operationId: post_collaborations
      parameters:
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: |-
            Determines if users should receive email notification
            for the action performed.
          example: true
          in: query
          name: notify
          required: false
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accessible_by:
                  description: The user or group to give access to the item.
                  properties:
                    id:
                      description: |-
                        The ID of the user or group.

                        Alternatively, use `login` to specify a user by email
                        address.
                      example: '23522323'
                      type: string
                    login:
                      description: |-
                        The email address of the user to grant access to the item.

                        Alternatively, use `id` to specify a user by user ID.
                      example: john@example.com
                      type: string
                    type:
                      description: The type of collaborator to invite.
                      enum:
                        - user
                        - group
                      example: user
                      type: string
                  required:
                    - type
                  type: object
                can_view_path:
                  description: |-
                    Determines if the invited users can see the entire parent path to
                    the associated folder. The user will not gain privileges in any
                    parent folder and therefore can not see content the user is not
                    collaborated on.
                  example: true
                  type: boolean
                item:
                  description: The item to attach the comment to.
                  properties:
                    id:
                      description: The ID of the item that will be granted access to
                      example: '11446498'
                      type: string
                    type:
                      description: |-
                        The type of the item that this collaboration will be
                        granted access to
                      enum:
                        - file
                        - folder
                      example: file
                      type: string
                  required:
                    - id
                    - type
                  type: object
                role:
                  description: The level of access granted.
                  enum:
                    - editor
                    - viewer
                    - previewer
                    - uploader
                    - previewer uploader
                    - viewer uploader
                    - co-owner
                  example: editor
                  type: string
              required:
                - item
                - accessible_by
                - role
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaboration'
          description: Returns a new collaboration object.
      summary: Create collaboration
      tags:
        - Collaborations
      x-box-reference-category: collaborations
  '/collaborations/{collaboration_id}':
    delete:
      description: Deletes a single collaboration.
      operationId: delete_collaborations_id
      parameters:
        - description: The ID of the collaboration
          example: '1234'
          in: path
          name: collaboration_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: |-
            A blank response is returned if the collaboration was
            successfully deleted.
      summary: Delete collaboration
      tags:
        - Collaborations
      x-box-reference-category: collaborations
    get:
      description: Retrieves a single collaboration.
      operationId: get_collaborations_id
      parameters:
        - description: The ID of the collaboration
          example: '1234'
          in: path
          name: collaboration_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaboration'
          description: Returns a collaboration object.
      summary: Get collaboration
      tags:
        - Collaborations
      x-box-reference-category: collaborations
    put:
      description: |-
        Updates a collaboration.

        Can be used to change the owner of an item, or to
        accept collaboration invites.
      operationId: put_collaborations_id
      parameters:
        - description: The ID of the collaboration
          example: '1234'
          in: path
          name: collaboration_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                can_view_path:
                  description: |-
                    Determines if the invited users can see the entire parent path to
                    the associated folder. The user will not gain privileges in any
                    parent folder and therefore can not see content the user is not
                    collaborated on.
                  example: true
                  type: boolean
                role:
                  description: The level of access granted.
                  enum:
                    - editor
                    - viewer
                    - previewer
                    - uploader
                    - previewer uploader
                    - viewer uploader
                    - co-owner
                  example: editor
                  type: string
                status:
                  description: |-
                    Set the status of a `pending` collaboration invitation,
                    effectively accepting, or rejecting the invite.
                  enum:
                    - pending
                    - accepted
                    - rejected
                  example: accepted
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaboration'
          description: Returns an updated collaboration object unless the owner has changed.
        '204':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaboration'
          description: |-
            If the role is changed to `owner`, the collaboration is deleted
            and a new collaboration is created. The previous `owner` of
            the old collaboration will be a `co-owner` on the new collaboration.
      summary: Update collaboration
      tags:
        - Collaborations
      x-box-reference-category: collaborations
  /collections:
    get:
      description: |-
        Retrieves all collections for a given user.

        Currently, only the `favorites` collection
        is supported.
      operationId: get_collections
      parameters:
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: The offset of the item at which to begin the response.
          example: 1000
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collections'
          description: Returns all collections for the given user
      summary: List all collections
      tags:
        - Collections
      x-box-reference-category: collections
  '/collections/{collection_id}/items':
    get:
      description: |-
        Retrieves the files and/or folders contained within
        this collection.
      operationId: get_collections_id_items
      parameters:
        - description: The ID of the collection.
          example: '926489'
          in: path
          name: collection_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: The offset of the item at which to begin the response.
          example: 1000
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Items'
          description: Returns an array of items in the collection.
      summary: List collection items
      tags:
        - Collections
      x-box-reference-category: collections
  /comments:
    post:
      description: |-
        Adds a comment comment by the user to a specific file, or
        as a reply to an other comment.
      operationId: post_comments
      parameters:
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                item:
                  description: The item to attach the comment to.
                  properties:
                    id:
                      description: The ID of the item
                      example: '11446498'
                      type: string
                    type:
                      description: The type of the item that this comment will be placed on.
                      enum:
                        - file
                        - comment
                      example: file
                      type: string
                  required:
                    - id
                    - type
                  type: object
                message:
                  description: |-
                    The text of the comment.

                    To mention a user, user the `tagged_message`
                    parameter instead.
                  example: Review completed!
                  type: string
                tagged_message:
                  description: |-
                    The text of the comment, including `@[user_id:name]`
                    somewhere in the message to mention another user, which
                    will send them an email notification, letting them know
                    they have been mentioned.

                    The `user_id` is the target user's ID, where the `name`
                    can be any custom phrase. In the Box UI this name will
                    link to the user's profile.

                    If you are not mentioning another user, use`message`
                    instead.
                  example: '@[1234:John] Review completed!'
                  type: string
              required:
                - message
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: |-
            Returns the newly created comment object.

            [Some fields are optional](#comment) and need to be explicitly
            requested using the [fields](#post-comments--request--fields) parameter.
      summary: Create comment
      tags:
        - Comments
      x-box-reference-category: comments
  '/comments/{comment_id}':
    delete:
      description: Permanently deletes a comment.
      operationId: delete_comments_id
      parameters:
        - description: The ID of the comment.
          example: '12345'
          in: path
          name: comment_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Returns an empty response when the comment has been deleted.
      summary: Delete comment
      tags:
        - Comments
      x-box-reference-category: comments
    get:
      description: |-
        Retrieves the message and metadata for a specific comment, as well
        as information on the user who created the comment.
      operationId: get_comments_id
      parameters:
        - description: The ID of the comment.
          example: '12345'
          in: path
          name: comment_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: Returns a full comment object.
      summary: Get comment
      tags:
        - Comments
      x-box-reference-category: comments
    put:
      description: Update the message of a comment.
      operationId: put_comments_id
      parameters:
        - description: The ID of the comment.
          example: '12345'
          in: path
          name: comment_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                message:
                  description: The text of the comment to update
                  example: Review completed!
                  type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comment'
          description: Returns the updated comment object.
      summary: Update comment
      tags:
        - Comments
      x-box-reference-category: comments
  '/device_pinners/{device_pinner_id}':
    delete:
      description: Deletes an individual device pin.
      operationId: delete_device_pinners_id
      parameters:
        - description: The ID of the device pin
          example: '2324234'
          in: path
          name: device_pinner_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Returns an empty response when the pin has been deleted.
      summary: Delete device pin
      tags:
        - Device Pins
      x-box-reference-category: device_pins
    get:
      description: Retrieves information about an individual device pin.
      operationId: get_device_pinners_id
      parameters:
        - description: The ID of the device pin
          example: '2324234'
          in: path
          name: device_pinner_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePinner'
          description: Returns information about a single device pin.
      summary: Get device pin
      tags:
        - Device Pins
      x-box-reference-category: device_pins
  '/enterprises/{enterprise_id}/device_pinners':
    get:
      description: |-
        Retrieves all the device pins within an enterprise.

        The user must have admin privileges, and the application
        needs the `manage enterprise` scope to make this call.
      operationId: get_enterprises_id_device_pinners
      parameters:
        - description: The ID of the enterprise
          example: '3442311'
          in: path
          name: enterprise_id
          required: true
          schema:
            type: string
        - description: The position marker at which to begin the response.
          example: 1234
          in: query
          name: marker
          required: false
          schema:
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
        - description: The sorting direction
          example: ASC
          in: query
          name: direction
          required: false
          schema:
            enum:
              - ASC
              - DESC
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DevicePinners'
          description: Returns a list of device pins for a given enterprise.
      summary: List enterprise device pins
      tags:
        - Device Pins
      x-box-reference-category: device_pins
  /events:
    get:
      description: |-
        Returns up to a year of past events for a given user
        or for the entire enterprise.

        By default this returns events for the authenticated user. To retrieve
        events for the entire enterprise, set the `stream_type` to `admin_logs`.
        The user making the API call will need to have admin privileges, and
        the application will need to have the permission to access the event feed
        to get the enterprise event feed.
      operationId: get_events
      parameters:
        - description: |-
            Defines the type of events that are returned

            * `all` returns everything for a user and is the default
            * `changes` returns events that may cause file tree changes
              such as file updates or collaborations.
            * `sync` is similar to `changes` but only applies to synced folders
            * `admin_logs` returns all events for an entire enterprise and
              requires the user making the API call to have admin permissions.
          example: all
          in: query
          name: stream_type
          schema:
            default: all
            enum:
              - all
              - changes
              - sync
              - admin_logs
            type: string
        - description: |-
            The location in the event stream to start receiving events from.

            * `now` will return an empty list events and
            the latest stream position for initialization.
            * `0` or `null` will return all events.
          example: '1348790499819'
          in: query
          name: stream_position
          schema:
            type: string
        - description: Limits the number of events returned
          example: 50
          in: query
          name: limit
          schema:
            default: 100
            format: int64
            maximum: 500
            type: integer
        - description: A comma-separated list of events to filter by.
          example: ADD_LOGIN_ACTIVITY_DEVICE
          in: query
          name: event_type
          schema:
            items:
              $ref: '#/components/schemas/EventType'
            type: array
        - description: The lower bound date and time to return events for.
          example: '2012-12-12T10:53:43-08:00'
          in: query
          name: created_after
          schema:
            format: date-time
            type: string
        - description: The upper bound date and time to return events for.
          example: '2013-12-12T10:53:43-08:00'
          in: query
          name: created_before
          required: false
          schema:
            format: date-time
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Events'
          description: |-
            Returns a list of event objects.

            Events objects are returned in pages, with each page (chunk)
            including a list of event objects. The response also includes a
            `chunk_size` parameter indicating how many
            chunks are left, as well as the next `stream_position` that can be
            queried.
      summary: Get user and enterprise events
      tags:
        - Events
      x-box-reference-category: events
    options:
      description: |-
        Returns a list of real-time servers that can be used for long-polling updates
        to the [event stream](#get-events).

        Long polling is the concept where a HTTP request is kept open until the
        server sends a response, then repeating the process over and over to receive
        updated responses.

        Long polling the event stream can only be used for user events, not for
        enterprise events.

        To use long polling, first use this endpoint to retrieve a list of long poll
        URLs. Next, make a long poll request to any of the provided URLs.

        When an event occurs in monitored account a response with the value
        `new_change` will be sent. The response contains no other details as
        it simply serves as a prompt to take further action such as sending a
        request to the [events endpoint](#get-events) with the last known
        `stream_position`.

        After the server sends this response it closes the connection. You must now
        repeat the long poll process to begin listening for events again.

        If no events occur for a while and the connection times out you will
        receive a response with the value `reconnect`. When you receive this response
        you’ll make another call to this endpoint to restart the process.

        If you receive no events in `retry_timeout` seconds then you will need to
        make another request to the real-time server (one of the URLs in the response
        for this endpoint). This might be necessary due to network errors.

        Finally, if you receive a `max_retries` error when making a request to the
        real-time server, you should start over by making a call to this endpoint
        first.
      operationId: options_events
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RealtimeServers'
          description: |-
            Returns a paginated array of servers that can be used
            instead of the regular endpoints for long-polling events.
      summary: Get a long poll endpoint
      tags:
        - Events
      x-box-reference-category: events
  /file_version_legal_holds:
    get:
      description: |-
        Get list of non-deleted legal holds for a single legal
        hold policy.
      operationId: get_file_version_legal_holds
      parameters:
        - description: |-
            The ID of the legal hold policy to get the file version legal
            holds for.
          example: '133870'
          in: query
          name: policy_id
          required: true
          schema:
            type: string
        - description: The position marker at which to begin the response.
          example: 1234
          in: query
          name: marker
          required: false
          schema:
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersionLegalHolds'
          description: |-
            Returns the list of file version legal holds for a specific legal
            hold policy.
      summary: List legal holds for policy
      tags:
        - Legal Hold Policies
      x-box-reference-category: legal_hold_policies
  '/file_version_legal_holds/{file_version_legal_hold_id}':
    get:
      description: |-
        Retrieves information about the legal hold policies
        assigned to a file version.
      operationId: get_file_version_legal_holds_id
      parameters:
        - description: The ID of the file version legal hold
          example: '2348213'
          in: path
          name: file_version_legal_hold_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersionLegalHold'
          description: Returns the legal hold policy assignments for the file version.
      summary: Inspect legal hold on file
      tags:
        - Legal Hold Policies
      x-box-reference-category: legal_hold_policies
  /file_version_retentions:
    get:
      description: Retrieves all file version retentions for the given enterprise.
      operationId: get_file_version_retentions
      parameters:
        - description: Filters results by files with this ID.
          example: '43123123'
          in: query
          name: file_id
          required: false
          schema:
            type: string
        - description: Filters results by file versions with this ID.
          example: '1'
          in: query
          name: file_version_id
          required: false
          schema:
            type: string
        - description: Filters results by the retention policy with this ID.
          example: '982312'
          in: query
          name: policy_id
          required: false
          schema:
            type: string
        - description: |-
            Filters results by the retention policy with this disposition
            action.
          example: permanently_delete
          in: query
          name: disposition_action
          required: false
          schema:
            enum:
              - permanently_delete
              - remove_retention
            type: string
        - description: |-
            Filters results by files that will have their disposition
            come into effect before this date.
          example: '2012-12-12T10:53:43-08:00'
          in: query
          name: disposition_before
          required: false
          schema:
            type: string
        - description: |-
            Filters results by files that will have their disposition
            come into effect after this date.
          example: '2012-12-19T10:34:23-08:00'
          in: query
          name: disposition_after
          required: false
          schema:
            type: string
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
        - description: The position marker at which to begin the response.
          example: 1234
          in: query
          name: marker
          required: false
          schema:
            format: int64
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersionRetentions'
          description: Returns a list of all file version retentions for the enterprise.
      summary: List retentions on files
      tags:
        - Retention Policies
      x-box-reference-category: retention_policies
  '/file_version_retentions/{file_version_retention_id}':
    get:
      description: Returns information about a file version retention.
      operationId: get_file_version_retentions_id
      parameters:
        - description: The ID of the file version retention
          example: '3424234'
          in: path
          name: file_version_retention_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileVersionRetention'
          description: Returns a file version retention object.
      summary: Get retention for file
      tags:
        - Retention Policies
      x-box-reference-category: retention_policies
  /files/content:
    options:
      description: |-
        Performs a check to verify that a file will be accepted by Box
        before you upload the entire file.
      operationId: options_files_content
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: The name for the file
                  example: File.mp4
                  type: string
                parent:
                  allOf:
                    - $ref: '#/components/schemas/Parent'
                    - description: The parent folder to upload the file to
                size:
                  description: The size of the file in bytes
                  example: 1024
                  format: int32
                  type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadUrl'
          description: |-
            If the check passed, the response will include a session URL that
            can be used to upload the file to.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConflictError'
          description: |-
            If the check did not pass, the response will include some details on
            why it did not pass.
      summary: Preflight check
      tags:
        - Files
      x-box-reference-category: files
    post:
      description: |-
        Uploads a small file to Box. For file sizes over 50MB we recommend
        using the Chunk Upload APIs.
      operationId: post_files_content
      parameters:
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: |-
            An optional header containing the SHA-1 hash of the file to
            ensure that the file was not corrupted in transit.
          example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
          in: header
          name: Content-MD5
          required: false
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                attributes:
                  description: The JSON attributes of this request.
                  properties:
                    content_created_at:
                      description: |-
                        Defines the time the file was originally created at.

                        If not set, the upload time will be used.
                      example: '2012-12-12T10:53:43-08:00'
                      format: date-time
                      type: string
                    content_modified_at:
                      description: |-
                        Defines the time the file was last modified at.

                        If not set, the upload time will be used.
                      example: '2012-12-12T10:53:43-08:00'
                      format: date-time
                      type: string
                    name:
                      description: The name of the file
                      example: Photo.png
                      type: string
                    parent:
                      description: The parent folder to upload the file to
                      properties:
                        id:
                          description: |-
                            The id of the parent folder. Use
                            `0` for the user's root folder.
                          example: '124132'
                          type: string
                      required:
                        - id
                      type: object
                  required:
                    - name
                    - parent
                  type: object
                file:
                  description: The content of the file to upload to Box.
                  format: binary
                  type: string
              required:
                - attributes
                - files
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
          description: Returns the new file object in a list.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the file already exists,
            or the account has run out of disk space.
      servers:
        - description: Server for file uploads
          url: 'https://upload.box.com/api/2.0'
      summary: Upload a file
      tags:
        - File Uploads
      x-box-reference-category: file_uploads
  /files/upload_sessions:
    post:
      description: Creates an upload session for a new file.
      operationId: post_files_upload_sessions
      requestBody:
        content:
          application/json:
            schema:
              properties:
                file_name:
                  description: The name of new file
                  example: Project.mov
                  type: string
                file_size:
                  description: The total number of bytes of the file to be uploaded
                  example: 104857600
                  format: int64
                  type: integer
                folder_id:
                  description: The ID of the folder to upload the new file to.
                  example: '0'
                  type: string
              required:
                - folder_id
                - file_size
                - file_name
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
          description: Returns a new upload session.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the file already exists,
            or the account has run out of disk space.
      servers:
        - description: Server for file uploads
          url: 'https://upload.box.com/api/2.0'
      summary: Create upload session
      tags:
        - Chunked Uploads
      x-box-reference-category: chunked_uploads
  '/files/upload_sessions/{upload_session_id}':
    delete:
      description: |-
        Abort an upload session and discard all data uploaded.

        This cannot be reversed.
      operationId: delete_files_upload_sessions_id
      parameters:
        - description: The ID of the upload session.
          example: D5E3F7A
          in: path
          name: upload_session_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: |-
            A blank response is returned if the session was
            successfully aborted.
      servers:
        - description: Server for file uploads
          url: 'https://upload.box.com/api/2.0'
      summary: Abort upload session
      tags:
        - Chunked Uploads
      x-box-reference-category: chunked_uploads
    get:
      description: Return information about an upload session.
      operationId: get_files_upload_sessions_id
      parameters:
        - description: The ID of the upload session.
          example: D5E3F7A
          in: path
          name: upload_session_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
          description: Returns an upload session object.
      servers:
        - description: Server for file uploads
          url: 'https://upload.box.com/api/2.0'
      summary: Get upload session
      tags:
        - Chunked Uploads
      x-box-reference-category: chunked_uploads
    put:
      description: Updates a chunk of an upload session for a file.
      operationId: put_files_upload_sessions_id
      parameters:
        - description: The ID of the upload session.
          example: D5E3F7A
          in: path
          name: upload_session_id
          required: true
          schema:
            type: string
        - description: |-
            The [RFC3230][1] message digest of the chunk uploaded.

            Only SHA-1 is supported. The SHA-1 digest must be Base64
            encoded. The format of this header is as
            `sha=BASE64_ENCODED_DIGEST`.

            [1]: https://tools.ietf.org/html/rfc3230
          example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
          in: header
          name: Digest
          required: true
          schema:
            type: string
        - description: |-
            The byte range of the chunk.

            Must not overlap with the range of a part already
            uploaded this session.
          example: 8388608-16777215/445856194
          in: header
          name: Content-Range
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/octet-stream:
            schema:
              format: binary
              type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadPart'
          description: Chunk has been uploaded successfully.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the chunk conflicts with another
            chunk previously uploaded.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returns an error if a precondition failed.
        '416':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the content range does not match a specified range
            for the session.
      servers:
        - description: Server for file uploads
          url: 'https://upload.box.com/api/2.0'
      summary: Upload a part
      tags:
        - Chunked Uploads
      x-box-reference-category: chunked_uploads
  '/files/upload_sessions/{upload_session_id}/commit':
    post:
      description: |-
        Close an upload session and create a file from the
        uploaded chunks.
      operationId: post_files_upload_sessions_id_commit
      parameters:
        - description: The ID of the upload session.
          example: D5E3F7A
          in: path
          name: upload_session_id
          required: true
          schema:
            type: string
        - description: |-
            The [RFC3230][1] message digest of the whole file.

            Only SHA-1 is supported. The SHA-1 digest must be Base64
            encoded. The format of this header is as
            `sha=BASE64_ENCODED_DIGEST`.

            [1]: https://tools.ietf.org/html/rfc3230
          example: sha=fpRyg5eVQletdZqEKaFlqwBXJzM=
          in: header
          name: Digest
          required: true
          schema:
            type: string
        - description: |-
            Ensure this item hasn't recently changed
            by ensuring the item's current `etag` matches the
            `etag` passed into this header.
          example: 1
          in: header
          name: If-Match
          required: false
          schema:
            type: string
        - description: |-
            Ensures the changes are only applied if the
            item's `etag` does not match the provided
            `etag`, ensuring that the item is only updated
            if the content has changed.
          example: 1
          in: header
          name: If-None-Match
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                parts:
                  items:
                    $ref: '#/components/schemas/UploadPart--Mini'
                  type: array
              required:
                - parts
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
          description: Returns the file object in a list.
        '202':
          description: |-
            Returns when all chunks have been uploaded but not yet processed.

            Inspect the upload session to get more information about the
            progress of processing the chunks, then retry committing the file
            when all chunks have processed.
          headers:
            Retry-After:
              description: |-
                Indicates the number of seconds the client should wait before
                attempting their commit request again.
              schema:
                type: integer
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if there is already a file with the same name
            in the target folder.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returns an error if the `If-Match` or `If-None-Match` conditions fail.
      servers:
        - description: Server for file uploads
          url: 'https://upload.box.com/api/2.0'
      summary: Commit upload session
      tags:
        - Chunked Uploads
      x-box-reference-category: chunked_uploads
  '/files/upload_sessions/{upload_session_id}/parts':
    get:
      description: |-
        Return a list of the chunks uploaded to the upload
        session so far.
      operationId: get_files_upload_sessions_id_parts
      parameters:
        - description: The ID of the upload session.
          example: D5E3F7A
          in: path
          name: upload_session_id
          required: true
          schema:
            type: string
        - description: The offset of the item at which to begin the response.
          example: 1000
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int64
            type: integer
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadParts'
          description: Returns a list of parts that have been uploaded.
      servers:
        - description: Server for file uploads
          url: 'https://upload.box.com/api/2.0'
      summary: List parts
      tags:
        - Chunked Uploads
      x-box-reference-category: chunked_uploads
  '/files/{file_id}':
    delete:
      description: |-
        Deletes a file, either permanently or by moving it to
        the trash.

        The the enterprise settings determine whether the item will
        be permanently deleted from Box or moved to the trash.
      operationId: delete_files_id
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            Ensure this item hasn't recently changed
            by ensuring the item's current `etag` matches the
            `etag` passed into this header.
          example: 1
          in: header
          name: If-Match
          required: false
          schema:
            type: string
      responses:
        '204':
          description: |-
            Returns an empty response when the file has been successfully
            deleted.
        '412':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            If the `If-Match` header was sent and the file has since changed, the
            API will return a `412 Precondition Failed` error.
      summary: Delete a file
      tags:
        - Files
      x-box-reference-category: files
    get:
      description: Retrieves the details about a file.
      operationId: get_files_id
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          description: |-
            Returns a file object.

            [Some fields are optional](#file) and need to be explicitly
            requested using the [fields](#get-files-id--request--fields)
            parameter.
      summary: Get a file
      tags:
        - Files
      x-box-reference-category: files
    post:
      description: Restores an file that has been moved to the trash.
      operationId: post_files_id
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: An optional new name for the file.
                  example: Restored.docx
                  type: string
                parent:
                  allOf:
                    - $ref: '#/components/schemas/Parent'
                    - description: |-
                        The optional parent folder that the item will
                        be restored to.

                        Use this if the original parent folder no longer
                        exists, or the user no longer has access to the
                        original parent folder.
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          description: Returns a file object when the file has been restored.
        '403':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if the user does not have access to the folder
            the file is being restored to, or the user does not have permission
            to restore files from the trash.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returns an error if the file is not in the trash.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returns an error if there is an file with the same name
            in the folder the file is being restored to.
      summary: Restore file
      tags:
        - Trash
        - Files
      x-box-reference-category: trash
    put:
      description: |-
        Updates a file. This can be used to rename or move a file,
        create a shared link, or lock a file.
      operationId: put_files_id
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: |-
            Ensure this item hasn't recently changed
            by ensuring the item's current `etag` matches the
            `etag` passed into this header.
          example: 1
          in: header
          name: If-Match
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: The description for a file
                  example: Amazing Photo
                  maxLength: 256
                  type: string
                lock:
                  allOf:
                    - $ref: '#/components/schemas/Lock--Writable'
                    - description: Creates a lock on a file. Set to `null` to unlock a file
                name:
                  description: The new name for the file
                  example: NewFile.txt
                  type: string
                parent:
                  allOf:
                    - $ref: '#/components/schemas/Parent'
                    - description: |-
                        The parent folder for this file. Use this to move the file
                        or to restore it out of the trash.
                permissions:
                  allOf:
                    - $ref: '#/components/schemas/Permissions--Writable'
                    - description: Describes if a file can be downloaded and by who.
                shared_link:
                  allOf:
                    - $ref: '#/components/schemas/SharedLink--Writable'
                    - description: Enables the creation of a shared link for this file
                tags:
                  description: |-
                    The tags for this item.

                    To add or remove a tag, retrieve the item's current tags,
                    modify them, and then update them using this field.
                  example:
                    - approved
                  items:
                    type: string
                  type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          description: |-
            Returns a file object.

            [Some fields are optional](#file) and need to be explicitly
            requested using the [fields](#get-files-id--request--fields)
            parameter.
      summary: Update a file
      tags:
        - Files
      x-box-reference-category: files
  '/files/{file_id}/collaborations':
    get:
      description: |-
        Retrieves a list of collaborations for a file. This
        returns all the users that have access to the file.
      operationId: get_files_id_collaborations
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
        - description: The offset of the item at which to begin the response.
          example: 1000
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int64
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Collaborations'
          description: |-
            Returns a collection of collaboration objects. If there are no
            collaborations on this file an empty collection will be returned.
      summary: Get file collaborations
      tags:
        - Collaborations
        - Files
      x-box-reference-category: collaborations
  '/files/{file_id}/comments':
    get:
      description: Retrieves a list of comments for a file.
      operationId: get_files_id_comments
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: The maximum number of items to return per page.
          example: 1000
          in: query
          name: limit
          required: false
          schema:
            default: 100
            format: int64
            maximum: 1000
            type: integer
        - description: The offset of the item at which to begin the response.
          example: 1000
          in: query
          name: offset
          required: false
          schema:
            default: 0
            format: int64
            type: integer
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Comments'
          description: |-
            Returns a collection of comment objects. If there are no
            comments on this file an empty collection will be returned.
      summary: Get file comments
      tags:
        - Comments
        - Files
      x-box-reference-category: comments
  '/files/{file_id}/content':
    get:
      description: Returns the contents of a file in binary format.
      operationId: get_files_id_content
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            The byte range of the content to download.

            The format `{start_byte}-{end_byte}` can be used to specify
            what section of the file to download.
          example: 0-1024
          in: header
          name: Range
          required: false
          schema:
            type: string
        - description: |-
            The URL and password for a file that has
            been shared using a shared link, as this file would otherwise
            not be accessible to the user.

            Use the format `shared_link=SHARED_LINK_URL` or if a password was set
            use `shared_link=[link]&shared_link_password=[password]`
          example: 'shared_link=[link]'
          in: header
          name: BoxApi
          required: false
          schema:
            type: string
        - description: The file version to download
          example: 4
          in: query
          name: version
          required: false
          schema:
            type: string
      responses:
        '202':
          description: |-
            If the file is not ready to be downloaded yet `Retry-After` header will
            be returned indicating the time in seconds after which the file will
            be available for the client to download.

            This response can occur when the file was uploaded immediately before the
            download request.
          headers:
            Retry-After:
              description: The time in seconds after which to retry the download
              schema:
                type: integer
        '302':
          description: |-
            If the file is available to be downloaded the response will include a
            `Location` header for the file on `dl.boxcloud.com`.

            The `dl.boxcloud.com` URL is not persistent and clients will need
            to follow the redirect in order to actually download the file.
          headers:
            Location:
              description: A pointer to the download URL
              schema:
                format: url
                type: string
      summary: Download a file
      tags:
        - Files
      x-box-reference-category: files
    post:
      description: |-
        Update a file's content. For file sizes over 50MB we recommend
        using the Chunk Upload APIs.
      operationId: post_files_id_content
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            Ensure this item hasn't recently changed
            by ensuring the item's current `etag` matches the
            `etag` passed into this header.
          example: 1
          in: header
          name: If-Match
          required: false
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
        - description: |-
            An optional header containing the SHA-1 hash of the file to
            ensure that the file was not corrupted in transit.
          example: 134b65991ed521fcfe4724b7d814ab8ded5185dc
          in: header
          name: Content-MD5
          required: false
          schema:
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                attributes:
                  description: The JSON attributes of this request.
                  properties:
                    content_modified_at:
                      description: |-
                        Defines the time the file was last modified at.

                        If not set, the upload time will be used.
                      example: '2012-12-12T10:53:43-08:00'
                      format: date-time
                      type: string
                    name:
                      description: |-
                        An optional new name for the file. If specified, the file
                        will be renamed when the new version is uploaded.
                      example: Photo 2.0.png
                      type: string
                  required:
                    - name
                  type: object
                file:
                  description: The content of the file to upload to Box.
                  format: binary
                  type: string
              required:
                - attributes
                - files
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Files'
          description: Returns the new file object in a list.
      servers:
        - description: Server for file uploads
          url: 'https://upload.box.com/api/2.0'
      summary: Upload a file version
      tags:
        - File Uploads
      x-box-reference-category: file_uploads
  '/files/{file_id}/copy':
    post:
      description: Creates a copy of a file.
      operationId: post_files_id_copy
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                name:
                  description: |-
                    An optional different name for the new file.

                    Names can only contain basic, printable
                    ASCII characters, without any slashes or
                    trailing spaces.

                    Bot `.` and `..` are protected names.
                  example: FileCopy.txt
                  maxLength: 255
                  type: string
                parent:
                  allOf:
                    - $ref: '#/components/schemas/Parent'
                    - description: The parent folder
                version:
                  description: An optional ID of the specific file version you want to copy
                  example: '0'
                  type: string
              required:
                - parent
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          description: |-
            Returns a new file object representing the copied file.

            [Some fields are optional](#file) and need to be explicitly
            requested using the [fields](#post-files-id-copy--request--fields)
            parameter.
      summary: Copy a file
      tags:
        - Files
      x-box-reference-category: files
  '/files/{file_id}/metadata':
    get:
      description: Retrieves all metadata for a given file.
      operationId: get_files_id_metadata
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadatas'
          description: |-
            Returns all the metadata associated with a file.

            This API does not support pagination and will therefore always return
            all of the metadata associated to the file.
      summary: List file's metadata
      tags:
        - File & Folder Metadata
      x-box-reference-category: metadata
  '/files/{file_id}/metadata/{scope}/{template_key}':
    delete:
      description: Deletes a piece of file metadata.
      operationId: delete_files_id_metadata_id_id
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: The scope of the metadata template
          example: enterprise_27335
          in: path
          name: scope
          required: true
          schema:
            enum:
              - global
              - enterprise_<id>
            type: string
        - description: The name of the metadata template
          example: blueprintTemplate
          in: path
          name: template_key
          required: true
          schema:
            type: string
      responses:
        '204':
          description: |-
            Returns an empty response when the metadata is
            successfully deleted.
      summary: Delete file metadata
      tags:
        - File & Folder Metadata
      x-box-reference-category: metadata
    get:
      description: Retrieve a specific metadata template instance for a file
      operationId: get_files_id_metadata_id_id
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: The scope of the metadata template
          example: enterprise_27335
          in: path
          name: scope
          required: true
          schema:
            enum:
              - global
              - enterprise_<id>
            type: string
        - description: The name of the metadata template
          example: blueprintTemplate
          in: path
          name: template_key
          required: true
          schema:
            type: string
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
          description: |-
            An instance of the metadata template that includes
            additional `key:value` pairs defined by the user or
            an application.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            Returned if the metadata template specified
            was not applied to this file.
      summary: Get specific file metadata
      tags:
        - Files & Folder Metadata
      x-box-reference-category: metadata
    post:
      description: |-
        Creates a piece of metadata on a file based on the specified template.

        Only values that are present in the metadata template
        will be accepted.
      operationId: post_files_id_metadata_id_id
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: The scope of the metadata template
          example: enterprise_27335
          in: path
          name: scope
          required: true
          schema:
            enum:
              - global
              - enterprise_<id>
            type: string
        - description: The name of the metadata template
          example: blueprintTemplate
          in: path
          name: template_key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties:
                example: Example Value
                type: string
              example:
                example_key: Example Value
              type: object
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
          description: |-
            Returns an instance of the template that was specified, with the
            custom template data included.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            If the piece of metadata already exists, a conflict error
            will be returned. The metadata can then instead be updated with the
            `put` method.
      summary: Create metadata on file
      tags:
        - File & Folder Metadata
      x-box-reference-category: metadata
    put:
      description: |-
        Updates a piece of metadata on a file.

        The metadata instance can only be updated if the instance
        already exists. When editing metadata, only values that adhere to the
        metadata template schema will be accepted.

        The update is applied atomically. If any errors occur during the
        application of the operations, the metadata instance remains unchanged.
      operationId: put_files_id_metadata_id_id
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: The scope of the metadata template
          example: enterprise_27335
          in: path
          name: scope
          required: true
          schema:
            enum:
              - global
              - enterprise_<id>
            type: string
        - description: The name of the metadata template
          example: blueprintTemplate
          in: path
          name: template_key
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              description: |-
                A [JSON-Patch](https://tools.ietf.org/html/rfc6902)
                specification for the changes to make to the metadata.
                The changes are represented as a JSON array of
                operation objects.
              items:
                $ref: '#/components/schemas/MetadataPatchItem'
              type: array
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Metadata'
          description: |-
            Returns the updated metadata template instance, with the
            custom template data included.
        '409':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            If the piece of metadata already exists, a conflict error
            will be returned. The metadata can then instead be updated with the
            `put` method.
      summary: Update file metadata
      tags:
        - File & Folder Metadata
      x-box-reference-category: metadata
  '/files/{file_id}/tasks':
    get:
      description: |-
        Retrieves a list of all the tasks for a file. This
        endpoint does not support paging.
      operationId: get_files_id_tasks
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Tasks'
          description: |-
            Returns a collection of task objects. If there are no
            tasks on this file an empty collection will be returned.
      summary: Get file tasks
      tags:
        - Tasks
        - Files
      x-box-reference-category: tasks
  '/files/{file_id}/thumbnail.{extension}':
    get:
      description: |-
        Retrieves a thumbnail, or smaller image representation, of a file.

        Sizes of `32x32`,`64x64`, `128x128`, and `256x256` can be returned in
        the `.png` format and sizes of `32x32`, `94x94`, `160x160`, and `320x320`
        can be returned in the `.jpg` format.

        Thumbnails can be generated for the image and video file formats listed
        [found on our community site](http://community.box.com/t5/Managing-\
        Your-Content/What-file-types-are-supported-by-Box-s-Content-Preview/\
        ta-p/327).
      operationId: get_files_id_thumbnail_id
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: The file format for the thumbnail
          example: png
          in: path
          name: extension
          required: true
          schema:
            enum:
              - png
              - jpg
            type: string
        - description: The minimum height of the thumbnail
          example: 32
          in: query
          name: min_height
          schema:
            format: int64
            type: integer
        - description: The minimum width of the thumbnail
          example: 32
          in: query
          name: min_width
          schema:
            format: int64
            type: integer
        - description: The maximum height of the thumbnail
          example: 32
          in: query
          name: max_height
          required: false
          schema:
            format: int64
            type: integer
        - description: The maximum width of the thumbnail
          example: 32
          in: query
          name: max_width
          required: false
          schema:
            format: int64
            type: integer
      responses:
        '200':
          content:
            image/jpg:
              schema:
                description: The thumbnail
                format: binary
                type: string
            image/png:
              schema:
                description: The thumbnail
                format: binary
                type: string
          description: |-
            When a thumbnail can be created the thumbnail data will be
            returned in the body of the response.
        '202':
          description: |-
            If the thumbnail is not available yet, a `Location` header
            pointing to a placeholder graphic will be returned.
          headers:
            Location:
              description: |-
                A pointer to a placeholder graphic that can be used until the
                thumbnail has been generated.
              schema:
                format: url
                type: string
            Retry-After:
              description: |-
                The time in seconds after which the thumbnail will be available.

                Your application  only attempt to get the thumbnail again after
                this time.
              schema:
                format: int64
                type: integer
        '302':
          description: |-
            If Box is unable to generate a thumbnail for this file type, a `Location`
            header pointing to a placeholder graphic for this file type will be
            returned.
          headers:
            Location:
              description: |-
                A pointer to a placeholder graphic that can be used for this
                file type.
              schema:
                format: url
                type: string
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: |-
            If Box is unable to generate a thumbnail for this particular file, `404`
            will be returned with a code of `preview_cannot_be_generated`.
      summary: Get a file thumbnail
      tags:
        - Files
        - Thumbnails
      x-box-reference-category: files
  '/files/{file_id}/trash':
    delete:
      description: |-
        Permanently deletes a file that is in the trash.
        This action cannot be undone.
      operationId: delete_files_id_trash
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
      responses:
        '204':
          description: |-
            Returns an empty response when the file was
            permanently deleted.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returns an error if the file is not in the trash.
      summary: Permanently delete file
      tags:
        - Files
        - Trash
      x-box-reference-category: trash
    get:
      description: Retrieves a file that has been moved to the trash.
      operationId: get_files_id_trash
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
        - description: |-
            A comma-separated list of attributes to include in the
            response. This can be used to request fields that are
            not normally returned in a standard response.
          example: 'id,type,name'
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/File'
          description: |-
            Returns the file that was trashed,
            including information about when the it
            was moved to the trash.
        '404':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClientError'
          description: Returns an error if the file is not in the trash.
      summary: Get trashed file
      tags:
        - Files
        - Trash
      x-box-reference-category: trash
  '/files/{file_id}/upload_sessions':
    post:
      description: Creates an upload session for an existing file.
      operationId: post_files_id_upload_sessions
      parameters:
        - description: The ID of the file.
          example: '12345'
          in: path
          name: file_id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                file_name:
                  description: The optional new name of new file
                  example: Project.mov
                  type: string
                file_size:
                  description: The total number of bytes of the file to be uploaded
                  example: 104857600
                  format: int64
                  type: integer
              required:
                - file_size
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadSession'
          description: Returns a new upload session.
        '409':
          content:
            application/json:
              schema:
[...]
