swagger: '2.0'
schemes:
  - https
host: servicemanagement.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Google Service Management allows service producers to publish their services on Google Cloud Platform so that they can be discovered and used by service consumers.
  title: Google Service Management
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    format: google
    url: 'https://servicemanagement.googleapis.com/$discovery/rest?version=v1'
    version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: servicemanagement
externalDocs:
  url: 'https://cloud.google.com/service-management/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/service.management': Manage your Google API service configuration
      'https://www.googleapis.com/auth/service.management.readonly': View your Google API service configuration
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: services
  - name: operations
paths:
  /v1/services:
    get:
      description: Lists all managed services.
      operationId: servicemanagement.services.list
      parameters:
        - description: Requested size of the next page of data.
          in: query
          name: pageSize
          type: integer
        - description: Include services produced by the specified project.
          in: query
          name: producerProjectId
          type: string
        - description: |-
            Token identifying which result to start with; returned by a previous list
            call.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListServicesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a new managed service.

        Operation<response: ManagedService>
      operationId: servicemanagement.services.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedService'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}':
    delete:
      description: |-
        Deletes a managed service. This method will change the serivce in the
        `Soft-Delete` state for 30 days. Within this period, service producers may
        call UndeleteService to restore the service.
        After 30 days, the service will be permanently deleted.

        Operation<response: google.protobuf.Empty>
      operationId: servicemanagement.services.delete
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
    get:
      description: Gets a managed service.
      operationId: servicemanagement.services.get
      parameters:
        - description: |-
            The name of the service.  See the `ServiceManager` overview for naming
            requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedService'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/services/{serviceName}/config':
    get:
      description: Gets a service configuration (version) for a managed service.
      operationId: servicemanagement.services.getConfig
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - in: query
          name: configId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Service'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/services/{serviceName}/configs':
    get:
      description: |-
        Lists the history of the service configuration for a managed service,
        from the newest to the oldest.
      operationId: servicemanagement.services.configs.list
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The max number of items to include in the response list.
          in: query
          name: pageSize
          type: integer
        - description: The token of the page to retrieve.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListServiceConfigsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a new service configuration (version) for a managed service.
        This method only stores the service configuration. To roll out the service
        configuration to backend systems please call
        CreateServiceRollout.
      operationId: servicemanagement.services.configs.create
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Service'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Service'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}/configs/{configId}':
    get:
      description: Gets a service configuration (version) for a managed service.
      operationId: servicemanagement.services.configs.get
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - in: path
          name: configId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Service'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/services/{serviceName}/configs:submit':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a new service configuration (version) for a managed service based
        on
        user-supplied configuration source files (for example: OpenAPI
        Specification). This method stores the source configurations as well as the
        generated service configuration. To rollout the service configuration to
        other services,
        please call CreateServiceRollout.

        Operation<response: SubmitConfigSourceResponse>
      operationId: servicemanagement.services.configs.submit
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SubmitConfigSourceRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}/rollouts':
    get:
      description: |-
        Lists the history of the service configuration rollouts for a managed
        service, from the newest to the oldest.
      operationId: servicemanagement.services.rollouts.list
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The max number of items to include in the response list.
          in: query
          name: pageSize
          type: integer
        - description: The token of the page to retrieve.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListServiceRolloutsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a new service configuration rollout. Based on rollout, the
        Google Service Management will roll out the service configurations to
        different backend services. For example, the logging configuration will be
        pushed to Google Cloud Logging.

        Please note that any previous pending and running Rollouts and associated
        Operations will be automatically cancelled so that the latest Rollout will
        not be blocked by previous Rollouts.

        Operation<response: Rollout>
      operationId: servicemanagement.services.rollouts.create
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Rollout'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}/rollouts/{rolloutId}':
    get:
      description: Gets a service configuration rollout.
      operationId: servicemanagement.services.rollouts.get
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The id of the rollout resource.
          in: path
          name: rolloutId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/services/{serviceName}:disable':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Disable a managed service for a project.

        Operation<response: DisableServiceResponse>
      operationId: servicemanagement.services.disable
      parameters:
        - description: |-
            Name of the service to disable. Specifying an unknown service name
            will cause the request to fail.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DisableServiceRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}:enable':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Enable a managed service for a project with default setting.

        Operation<response: EnableServiceResponse>

        google.rpc.Status errors may contain a
        google.rpc.PreconditionFailure error detail.
      operationId: servicemanagement.services.enable
      parameters:
        - description: |-
            Name of the service to enable. Specifying an unknown service name will
            cause the request to fail.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EnableServiceRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}:undelete':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Revives a previously deleted managed service. The method restores the
        service using the configuration at the time the service was deleted.
        The target service must exist and must have been deleted within the
        last 30 days.

        Operation<response: UndeleteServiceResponse>
      operationId: servicemanagement.services.undelete
      parameters:
        - description: |-
            The name of the service. See the [overview](/service-management/overview)
            for naming requirements. For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services:generateConfigReport':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Generates and returns a report (errors, warnings and changes from
        existing configurations) associated with
        GenerateConfigReportRequest.new_value

        If GenerateConfigReportRequest.old_value is specified,
        GenerateConfigReportRequest will contain a single ChangeReport based on the
        comparison between GenerateConfigReportRequest.new_value and
        GenerateConfigReportRequest.old_value.
        If GenerateConfigReportRequest.old_value is not specified, this method
        will compare GenerateConfigReportRequest.new_value with the last pushed
        service configuration.
      operationId: servicemanagement.services.generateConfigReport
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GenerateConfigReportRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GenerateConfigReportResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/{name}':
    get:
      description: |-
        Gets the latest state of a long-running operation.  Clients can use this
        method to poll the operation result at intervals as recommended by the API
        service.
      operationId: servicemanagement.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{resource}:getIamPolicy':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Gets the access control policy for a resource.
        Returns an empty policy if the resource exists and does not have a policy
        set.
      operationId: servicemanagement.services.getIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            `resource` is usually specified as a path. For example, a Project
            resource is specified as `projects/{project}`.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetIamPolicyRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Sets the access control policy on the specified resource. Replaces any
        existing policy.
      operationId: servicemanagement.services.setIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            `resource` is usually specified as a path. For example, a Project
            resource is specified as `projects/{project}`.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Returns permissions that a caller has on the specified resource.
      operationId: servicemanagement.services.testIamPermissions
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            `resource` is usually specified as a path. For example, a Project
            resource is specified as `projects/{project}`.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestIamPermissionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
definitions:
  Advice:
    description: |-
      Generated advice about this change, used for providing more
      information about how a change will affect the existing service.
    properties:
      description:
        description: |-
          Useful description for why this advice was applied and what actions should
          be taken to mitigate any implied risks.
        type: string
    type: object
  Api:
    description: Api is a light-weight descriptor for a protocol buffer service.
    properties:
      methods:
        description: 'The methods of this api, in unspecified order.'
        items:
          $ref: '#/definitions/Method'
        type: array
      mixins:
        description: Included APIs. See Mixin.
        items:
          $ref: '#/definitions/Mixin'
        type: array
      name:
        description: |-
          The fully qualified name of this api, including package name
          followed by the api's simple name.
        type: string
      options:
        description: Any metadata attached to the API.
        items:
          $ref: '#/definitions/Option'
        type: array
      sourceContext:
        $ref: '#/definitions/SourceContext'
        description: |-
          Source context for the protocol buffer service represented by this
          message.
      syntax:
        description: The source syntax of the service.
        enum:
          - SYNTAX_PROTO2
          - SYNTAX_PROTO3
        type: string
      version:
        description: |
          A version string for this api. If specified, must have the form
          `major-version.minor-version`, as in `1.10`. If the minor version
          is omitted, it defaults to zero. If the entire version field is
          empty, the major version is derived from the package name, as
          outlined below. If the field is not empty, the version in the
          package name will be verified to be consistent with what is
          provided here.

          The versioning schema uses [semantic
          versioning](http://semver.org) where the major version number
          indicates a breaking change and the minor version an additive,
          non-breaking change. Both version numbers are signals to users
          what to expect from different versions, and should be carefully
          chosen based on the product plan.

          The major version is also reflected in the package name of the
          API, which must end in `v<major-version>`, as in
          `google.feature.v1`. For major versions 0 and 1, the suffix can
          be omitted. Zero major versions must only be used for
          experimental, none-GA apis.
        type: string
    type: object
  AuditConfig:
    description: |-
      Enables "data access" audit logging for a service and specifies a list
      of members that are log-exempted.
    properties:
      exemptedMembers:
        description: |-
          Specifies the identities that are exempted from "data access" audit
          logging for the `service` specified above.
          Follows the same format of Binding.members.
        items:
          type: string
        type: array
      service:
        description: |-
          Specifies a service that will be enabled for "data access" audit
          logging.
          For example, `resourcemanager`, `storage`, `compute`.
          `allServices` is a special value that covers all services.
        type: string
    type: object
  AuthProvider:
    description: |-
      Configuration for an anthentication provider, including support for
      [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).
    properties:
      id:
        description: |-
          The unique identifier of the auth provider. It will be referred to by
          `AuthRequirement.provider_id`.

          Example: "bookstore_auth".
        type: string
      issuer:
        description: |-
          Identifies the principal that issued the JWT. See
          https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1
          Usually a URL or an email address.

          Example: https://securetoken.google.com
          Example: 1234567-compute@developer.gserviceaccount.com
        type: string
      jwksUri:
        description: |-
          URL of the provider's public key set to validate signature of the JWT. See
          [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).
          Optional if the key set document:
           - can be retrieved from
             [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html
             of the issuer.
           - can be inferred from the email domain of the issuer (e.g. a Google service account).

          Example: https://www.googleapis.com/oauth2/v1/certs
        type: string
    type: object
  AuthRequirement:
    description: |-
      User-defined authentication requirements, including support for
      [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).
    properties:
      audiences:
        description: |-
          The list of JWT
          [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).
          that are allowed to access. A JWT containing any of these audiences will
          be accepted. When this setting is absent, only JWTs with audience
          "https://Service_name/API_name"
          will be accepted. For example, if no audiences are in the setting,
          LibraryService API will only accept JWTs with the following audience
          "https://library-example.googleapis.com/google.example.library.v1.LibraryService".

          Example:

              audiences: bookstore_android.apps.googleusercontent.com,
                         bookstore_web.apps.googleusercontent.com
        type: string
      providerId:
        description: |-
          id from authentication provider.

          Example:

              provider_id: bookstore_auth
        type: string
    type: object
  Authentication:
    description: |-
      `Authentication` defines the authentication configuration for an API.

      Example for an API targeted for external use:

          name: calendar.googleapis.com
          authentication:
            rules:
            - selector: "*"
              oauth:
                canonical_scopes: https://www.googleapis.com/auth/calendar

            - selector: google.calendar.Delegate
              oauth:
                canonical_scopes: https://www.googleapis.com/auth/calendar.read
    properties:
      providers:
        description: Defines a set of authentication providers that a service supports.
        items:
          $ref: '#/definitions/AuthProvider'
        type: array
      rules:
        description: |-
          A list of authentication rules that apply to individual API methods.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/AuthenticationRule'
        type: array
    type: object
  AuthenticationRule:
    description: |-
      Authentication rules for the service.

      By default, if a method has any authentication requirements, every request
      must include a valid credential matching one of the requirements.
      It's an error to include more than one kind of credential in a single
      request.

      If a method doesn't have any auth requirements, request credentials will be
      ignored.
    properties:
      allowWithoutCredential:
        description: |-
          Whether to allow requests without a credential. The credential can be
          an OAuth token, Google cookies (first-party auth) or EndUserCreds.

          For requests without credentials, if the service control environment is
          specified, each incoming request **must** be associated with a service
          consumer. This can be done by passing an API key that belongs to a consumer
          project.
        type: boolean
      oauth:
        $ref: '#/definitions/OAuthRequirements'
        description: The requirements for OAuth credentials.
      requirements:
        description: Requirements for additional authentication providers.
        items:
          $ref: '#/definitions/AuthRequirement'
        type: array
      selector:
        description: |-
          Selects the methods to which this rule applies.

          Refer to selector for syntax details.
        type: string
    type: object
  Backend:
    description: '`Backend` defines the backend configuration for a service.'
    properties:
      rules:
        description: |-
          A list of API backend rules that apply to individual API methods.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/BackendRule'
        type: array
    type: object
  BackendRule:
    description: A backend rule provides configuration for an individual API element.
    properties:
      address:
        description: The address of the API backend.
        type: string
      deadline:
        description: |-
          The number of seconds to wait for a response from a request.  The
          default depends on the deployment context.
        format: double
        type: number
      selector:
        description: |-
          Selects the methods to which this rule applies.

          Refer to selector for syntax details.
        type: string
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      members:
        description: |+
          Specifies the identities requesting access for a Cloud Platform resource.
          `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is
             on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone
             who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google
             account. For example, `alice@gmail.com` or `joe@example.com`.

          * `serviceAccount:{emailid}`: An email address that represents a service
             account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group.
             For example, `admins@example.com`.

          * `domain:{domain}`: A Google Apps domain name that represents all the
             users of that domain. For example, `google.com` or `example.com`.

        items:
          type: string
        type: array
      role:
        description: |-
          Role that is assigned to `members`.
          For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          Required
        type: string
    type: object
  ChangeReport:
    description: |-
      Change report associated with a particular service configuration.

      It contains a list of ConfigChanges based on the comparison between
      two service configurations.
    properties:
      configChanges:
        description: |-
          List of changes between two service configurations.
          The changes will be alphabetically sorted based on the identifier
          of each change.
          A ConfigChange identifier is a dot separated path to the configuration.
          Example: visibility.rules[selector='LibraryService.CreateBook'].restriction
        items:
          $ref: '#/definitions/ConfigChange'
        type: array
    type: object
  CloudAuditOptions:
    description: Write a Cloud Audit log
    properties: {}
    type: object
  Condition:
    description: A condition to be met.
    properties:
      iam:
        description: Trusted attributes supplied by the IAM system.
        enum:
          - NO_ATTR
          - AUTHORITY
          - ATTRIBUTION
        type: string
      op:
        description: An operator to apply the subject with.
        enum:
          - NO_OP
          - EQUALS
          - NOT_EQUALS
          - IN
          - NOT_IN
          - DISCHARGED
        type: string
      svc:
        description: Trusted attributes discharged by the service.
        type: string
      sys:
        description: |-
          Trusted attributes supplied by any service that owns resources and uses
          the IAM system for access control.
        enum:
          - NO_ATTR
          - REGION
          - SERVICE
          - NAME
          - IP
        type: string
      value:
        description: DEPRECATED. Use 'values' instead.
        type: string
      values:
        description: The objects of the condition. This is mutually exclusive with 'value'.
        items:
          type: string
        type: array
    type: object
  ConfigChange:
    description: |-
      Output generated from semantically comparing two versions of a service
      configuration.

      Includes detailed information about a field that have changed with
      applicable advice about potential consequences for the change, such as
      backwards-incompatibility.
    properties:
      advices:
        description: |-
          Collection of advice provided for this change, useful for determining the
          possible impact of this change.
        items:
          $ref: '#/definitions/Advice'
        type: array
      changeType:
        description: 'The type for this change, either ADDED, REMOVED, or MODIFIED.'
        enum:
          - CHANGE_TYPE_UNSPECIFIED
          - ADDED
          - REMOVED
          - MODIFIED
        type: string
      element:
        description: |-
          Object hierarchy path to the change, with levels separated by a '.'
          character. For repeated fields, an applicable unique identifier field is
          used for the index (usually selector, name, or id). For maps, the term
          'key' is used. If the field has no unique identifier, the numeric index
          is used.
          Examples:
          - visibility.rules[selector=="google.LibraryService.CreateBook"].restriction
          - quota.metric_rules[selector=="google"].metric_costs[key=="reads"].value
          - logging.producer_destinations[0]
        type: string
      newValue:
        description: |-
          Value of the changed object in the new Service configuration,
          in JSON format. This field will not be populated if ChangeType == REMOVED.
        type: string
      oldValue:
        description: |-
          Value of the changed object in the old Service configuration,
          in JSON format. This field will not be populated if ChangeType == ADDED.
        type: string
    type: object
  ConfigFile:
    description: Generic specification of a source configuration file
    properties:
      fileContents:
        description: The bytes that constitute the file.
        format: byte
        type: string
      filePath:
        description: The file name of the configuration file (full or relative path).
        type: string
      fileType:
        description: The type of configuration file this represents.
        enum:
          - FILE_TYPE_UNSPECIFIED
          - SERVICE_CONFIG_YAML
          - OPEN_API_JSON
          - OPEN_API_YAML
          - FILE_DESCRIPTOR_SET_PROTO
        type: string
    type: object
  ConfigRef:
    description: Represents a service configuration with its name and id.
    properties:
      name:
        description: |-
          Resource name of a service config. It must have the following
          format: "services/{service name}/configs/{config id}".
        type: string
    type: object
  ConfigSource:
    description: |-
      Represents a source file which is used to generate the service configuration
      defined by `google.api.Service`.
    properties:
      files:
        description: |-
          Set of source configuration files that are used to generate a service
          configuration (`google.api.Service`).
        items:
          $ref: '#/definitions/ConfigFile'
        type: array
      id:
        description: |-
          A unique ID for a specific instance of this message, typically assigned
          by the client for tracking purpose. If empty, the server may choose to
          generate one instead.
        type: string
    type: object
  Context:
    description: |-
      `Context` defines which contexts an API requests.

      Example:

          context:
            rules:
            - selector: "*"
              requested:
              - google.rpc.context.ProjectContext
              - google.rpc.context.OriginContext

      The above specifies that all methods in the API request
      `google.rpc.context.ProjectContext` and
      `google.rpc.context.OriginContext`.

      Available context types are defined in package
      `google.rpc.context`.
    properties:
      rules:
        description: |-
          A list of RPC context rules that apply to individual API methods.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/ContextRule'
        type: array
    type: object
  ContextRule:
    description: |-
      A context rule provides information about the context for an individual API
      element.
    properties:
      provided:
        description: A list of full type names of provided contexts.
        items:
          type: string
        type: array
      requested:
        description: A list of full type names of requested contexts.
        items:
          type: string
        type: array
      selector:
        description: |-
          Selects the methods to which this rule applies.

          Refer to selector for syntax details.
        type: string
    type: object
  Control:
    description: |-
      Selects and configures the service controller used by the service.  The
      service controller handles features like abuse, quota, billing, logging,
      monitoring, etc.
    properties:
      environment:
        description: |-
          The service control environment to use. If empty, no control plane
          feature (like quota and billing) will be enabled.
        type: string
    type: object
  CounterOptions:
    description: Options for counters
    properties:
      field:
        description: The field value to attribute.
        type: string
      metric:
        description: The metric to update.
        type: string
    type: object
  CustomError:
    description: |-
      Customize service error responses.  For example, list any service
      specific protobuf types that can appear in error detail lists of
      error responses.

      Example:

          custom_error:
            types:
            - google.foo.v1.CustomError
            - google.foo.v1.AnotherError
    properties:
      rules:
        description: |-
          The list of custom error rules that apply to individual API messages.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/CustomErrorRule'
        type: array
      types:
        description: 'The list of custom error detail types, e.g. ''google.foo.v1.CustomError''.'
        items:
          type: string
        type: array
    type: object
  CustomErrorRule:
    description: A custom error rule.
    properties:
      isErrorType:
        description: |-
          Mark this message as possible payload in error response.  Otherwise,
          objects of this type will be filtered when they appear in error payload.
        type: boolean
      selector:
        description: |-
          Selects messages to which this rule applies.

          Refer to selector for syntax details.
        type: string
    type: object
  CustomHttpPattern:
    description: A custom pattern is used for defining custom HTTP verb.
    properties:
      kind:
        description: The name of this custom HTTP verb.
        type: string
      path:
        description: The path matched by this custom verb.
        type: string
    type: object
  DataAccessOptions:
    description: Write a Data Access (Gin) log
    properties: {}
    type: object
  DeleteServiceStrategy:
    description: |-
      Strategy used to delete a service. This strategy is a placeholder only
      used by the system generated rollout to delete a service.
    properties: {}
    type: object
  Diagnostic:
    description: Represents a diagnostic message (error or warning)
    properties:
      kind:
        description: The kind of diagnostic information provided.
        enum:
          - WARNING
          - ERROR
        type: string
      location:
        description: File name and line number of the error or warning.
        type: string
      message:
        description: Message describing the error or warning.
        type: string
    type: object
  DisableServiceRequest:
    description: Request message for DisableService method.
    properties:
      consumerId:
        description: |-
          The identity of consumer resource which service disablement will be
          applied to.

          The Google Service Management implementation accepts the following
          forms: "project:<project_id>", "project_number:<project_number>".

          Note: this is made compatible with
          google.api.servicecontrol.v1.Operation.consumer_id.
        type: string
    type: object
  Documentation:
    description: |-
      `Documentation` provides the information for describing a service.

      Example:
      <pre><code>documentation:
        summary: >
          The Google Calendar API gives access
          to most calendar features.
        pages:
        - name: Overview
          content: &#40;== include google/foo/overview.md ==&#41;
        - name: Tutorial
          content: &#40;== include google/foo/tutorial.md ==&#41;
          subpages;
          - name: Java
            content: &#40;== include google/foo/tutorial_java.md ==&#41;
        rules:
        - selector: google.calendar.Calendar.Get
          description: >
            ...
        - selector: google.calendar.Calendar.Put
          description: >
            ...
      </code></pre>
      Documentation is provided in markdown syntax. In addition to
      standard markdown features, definition lists, tables and fenced
      code blocks are supported. Section headers can be provided and are
      interpreted relative to the section nesting of the context where
      a documentation fragment is embedded.

      Documentation from the IDL is merged with documentation defined
      via the config at normalization time, where documentation provided
      by config rules overrides IDL provided.

      A number of constructs specific to the API platform are supported
      in documentation text.

      In order to reference a proto element, the following
      notation can be used:
      <pre><code>&#91;fully.qualified.proto.name]&#91;]</code></pre>
      To override the display text used for the link, this can be used:
      <pre><code>&#91;display text]&#91;fully.qualified.proto.name]</code></pre>
      Text can be excluded from doc using the following notation:
      <pre><code>&#40;-- internal comment --&#41;</code></pre>
      Comments can be made conditional using a visibility label. The below
      text will be only rendered if the `BETA` label is available:
      <pre><code>&#40;--BETA: comment for BETA users --&#41;</code></pre>
      A few directives are available in documentation. Note that
      directives must appear on a single line to be properly
      identified. The `include` directive includes a markdown file from
      an external source:
      <pre><code>&#40;== include path/to/file ==&#41;</code></pre>
      The `resource_for` directive marks a message to be the resource of
      a collection in REST view. If it is not specified, tools attempt
      to infer the resource from the operations in a collection:
      <pre><code>&#40;== resource_for v1.shelves.books ==&#41;</code></pre>
      The directive `suppress_warning` does not directly affect documentation
      and is documented together with service config validation.
    properties:
      documentationRootUrl:
        description: The URL to the root of documentation.
        type: string
      overview:
        description: |-
          Declares a single overview page. For example:
          <pre><code>documentation:
            summary: ...
            overview: &#40;== include overview.md ==&#41;
          </code></pre>
          This is a shortcut for the following declaration (using pages style):
          <pre><code>documentation:
            summary: ...
            pages:
            - name: Overview
              content: &#40;== include overview.md ==&#41;
          </code></pre>
          Note: you cannot specify both `overview` field and `pages` field.
        type: string
      pages:
        description: The top level pages for the documentation set.
        items:
          $ref: '#/definitions/Page'
        type: array
      rules:
        description: |-
          A list of documentation rules that apply to individual API elements.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/DocumentationRule'
        type: array
      summary:
        description: |-
          A short summary of what the service does. Can only be provided by
          plain text.
        type: string
    type: object
  DocumentationRule:
    description: A documentation rule provides information about individual API elements.
    properties:
      deprecationDescription:
        description: |-
          Deprecation description of the selected element(s). It can be provided if an
          element is marked as `deprecated`.
        type: string
      description:
        description: Description of the selected API(s).
        type: string
      selector:
        description: |-
          The selector is a comma-separated list of patterns. Each pattern is a
          qualified name of the element which may end in "*", indicating a wildcard.
          Wildcards are only allowed at the end and for a whole component of the
          qualified name, i.e. "foo.*" is ok, but not "foo.b*" or "foo.*.bar". To
          specify a default for all applicable elements, the whole pattern "*"
          is used.
        type: string
    type: object
  EnableServiceRequest:
    description: Request message for EnableService method.
    properties:
      consumerId:
        description: |-
          The identity of consumer resource which service enablement will be
          applied to.

          The Google Service Management implementation accepts the following
          forms: "project:<project_id>", "project_number:<project_number>".

          Note: this is made compatible with
          google.api.servicecontrol.v1.Operation.consumer_id.
        type: string
    type: object
  Enum:
    description: Enum type definition.
    properties:
      enumvalue:
        description: Enum value definitions.
        items:
          $ref: '#/definitions/EnumValue'
        type: array
      name:
        description: Enum type name.
        type: string
      options:
        description: Protocol buffer options.
        items:
          $ref: '#/definitions/Option'
        type: array
      sourceContext:
        $ref: '#/definitions/SourceContext'
        description: The source context.
      syntax:
        description: The source syntax.
        enum:
          - SYNTAX_PROTO2
          - SYNTAX_PROTO3
        type: string
    type: object
  EnumValue:
    description: Enum value definition.
    properties:
      name:
        description: Enum value name.
        type: string
      number:
        description: Enum value number.
        format: int32
        type: integer
      options:
        description: Protocol buffer options.
        items:
          $ref: '#/definitions/Option'
        type: array
    type: object
  Field:
    description: A single field of a message type.
    properties:
      cardinality:
        description: The field cardinality.
        enum:
          - CARDINALITY_UNKNOWN
          - CARDINALITY_OPTIONAL
          - CARDINALITY_REQUIRED
          - CARDINALITY_REPEATED
        type: string
      defaultValue:
        description: The string value of the default value of this field. Proto2 syntax only.
        type: string
      jsonName:
        description: The field JSON name.
        type: string
      kind:
        description: The field type.
        enum:
          - TYPE_UNKNOWN
          - TYPE_DOUBLE
          - TYPE_FLOAT
          - TYPE_INT64
          - TYPE_UINT64
          - TYPE_INT32
          - TYPE_FIXED64
          - TYPE_FIXED32
          - TYPE_BOOL
          - TYPE_STRING
          - TYPE_GROUP
          - TYPE_MESSAGE
          - TYPE_BYTES
          - TYPE_UINT32
          - TYPE_ENUM
          - TYPE_SFIXED32
          - TYPE_SFIXED64
          - TYPE_SINT32
          - TYPE_SINT64
        type: string
      name:
        description: The field name.
        type: string
      number:
        description: The field number.
        format: int32
        type: integer
      oneofIndex:
        description: |-
          The index of the field type in `Type.oneofs`, for message or enumeration
          types. The first type has index 1; zero means the type is not in the list.
        format: int32
        type: integer
      options:
        description: The protocol buffer options.
        items:
          $ref: '#/definitions/Option'
        type: array
      packed:
        description: Whether to use alternative packed wire representation.
        type: boolean
      typeUrl:
        description: |-
          The field type URL, without the scheme, for message or enumeration
          types. Example: `"type.googleapis.com/google.protobuf.Timestamp"`.
        type: string
    type: object
  GenerateConfigReportRequest:
    description: Request message for GenerateConfigReport method.
    properties:
      newConfig:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Service configuration for which we want to generate the report.
          For this version of API, the supported types are
          google.api.servicemanagement.v1.ConfigRef,
          google.api.servicemanagement.v1.ConfigSource,
          and google.api.Service
        type: object
      oldConfig:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Service configuration against which the comparison will be done.
          For this version of API, the supported types are
          google.api.servicemanagement.v1.ConfigRef,
          google.api.servicemanagement.v1.ConfigSource,
          and google.api.Service
        type: object
    type: object
  GenerateConfigReportResponse:
    description: Response message for GenerateConfigReport method.
    properties:
      changeReports:
        description: |-
          list of ChangeReport, each corresponding to comparison between two
          service configurations.
        items:
          $ref: '#/definitions/ChangeReport'
        type: array
      diagnostics:
        description: |-
          Errors / Linter warnings associated with the service definition this
          report
          belongs to.
        items:
          $ref: '#/definitions/Diagnostic'
        type: array
      id:
        description: ID of the service configuration this report belongs to.
        type: string
      serviceName:
        description: Name of the service this report belongs to.
        type: string
    type: object
  GetIamPolicyRequest:
    description: Request message for `GetIamPolicy` method.
    properties: {}
    type: object
  Http:
    description: |-
      Defines the HTTP configuration for a service. It contains a list of
      HttpRule, each specifying the mapping of an RPC method
      to one or more HTTP REST API methods.
    properties:
      rules:
        description: |-
          A list of HTTP configuration rules that apply to individual API methods.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/HttpRule'
        type: array
    type: object
  HttpRule:
    description: |-
      `HttpRule` defines the mapping of an RPC method to one or more HTTP
      REST APIs.  The mapping determines what portions of the request
      message are populated from the path, query parameters, or body of
      the HTTP request.  The mapping is typically specified as an
      `google.api.http` annotation, see "google/api/annotations.proto"
      for details.

      The mapping consists of a field specifying the path template and
      method kind.  The path template can refer to fields in the request
      message, as in the example below which describes a REST GET
      operation on a resource collection of messages:

      ```proto
      service Messaging {
        rpc GetMessage(GetMessageRequest) returns (Message) {
          option (google.api.http).get = "/v1/messages/{message_id}/{sub.subfield}";
        }
      }
      message GetMessageRequest {
        message SubMessage {
          string subfield = 1;
        }
        string message_id = 1; // mapped to the URL
        SubMessage sub = 2;    // `sub.subfield` is url-mapped
      }
      message Message {
        string text = 1; // content of the resource
      }
      ```

      This definition enables an automatic, bidrectional mapping of HTTP
      JSON to RPC. Example:

      HTTP | RPC
      -----|-----
      `GET /v1/messages/123456/foo`  | `GetMessage(message_id: "123456" sub: SubMessage(subfield: "foo"))`

      In general, not only fields but also field paths can be referenced
      from a path pattern. Fields mapped to the path pattern cannot be
      repeated and must have a primitive (non-message) type.

      Any fields in the request message which are not bound by the path
      pattern automatically become (optional) HTTP query
      parameters. Assume the following definition of the request message:

      ```proto
      message GetMessageRequest {
        message SubMessage {
          string subfield = 1;
        }
        string message_id = 1; // mapped to the URL
        int64 revision = 2;    // becomes a parameter
        SubMessage sub = 3;    // `sub.subfield` becomes a parameter
      }
      ```

      This enables a HTTP JSON to RPC mapping as below:

      HTTP | RPC
      -----|-----
      `GET /v1/messages/123456?revision=2&sub.subfield=foo` | `GetMessage(message_id: "123456" revision: 2 sub: SubMessage(subfield: "foo"))`

      Note that fields which are mapped to HTTP parameters must have a
      primitive type or a repeated primitive type. Message types are not
      allowed. In the case of a repeated type, the parameter can be
      repeated in the URL, as in `...?param=A&param=B`.

      For HTTP method kinds which allow a request body, the `body` field
      specifies the mapping. Consider a REST update method on the
      message resource collection:

      ```proto
      service Messaging {
        rpc UpdateMessage(UpdateMessageRequest) returns (Message) {
          option (google.api.http) = {
            put: "/v1/messages/{message_id}"
            body: "message"
          };
        }
      }
      message UpdateMessageRequest {
        string message_id = 1; // mapped to the URL
        Message message = 2;   // mapped to the body
      }
      ```

      The following HTTP JSON to RPC mapping is enabled, where the
      representation of the JSON in the request body is determined by
      protos JSON encoding:

      HTTP | RPC
      -----|-----
      `PUT /v1/messages/123456 { "text": "Hi!" }` | `UpdateMessage(message_id: "123456" message { text: "Hi!" })`

      The special name `*` can be used in the body mapping to define that
      every field not bound by the path template should be mapped to the
      request body.  This enables the following alternative definition of
      the update method:

      ```proto
      service Messaging {
        rpc UpdateMessage(Message) returns (Message) {
          option (google.api.http) = {
            put: "/v1/messages/{message_id}"
            body: "*"
          };
        }
      }
      message Message {
        string message_id = 1;
        string text = 2;
      }
      ```

      The following HTTP JSON to RPC mapping is enabled:

      HTTP | RPC
      -----|-----
      `PUT /v1/messages/123456 { "text": "Hi!" }` | `UpdateMessage(message_id: "123456" text: "Hi!")`

      Note that when using `*` in the body mapping, it is not possible to
      have HTTP parameters, as all fields not bound by the path end in
      the body. This makes this option more rarely used in practice of
      defining REST APIs. The common usage of `*` is in custom methods
      which don't use the URL at all for transferring data.

      It is possible to define multiple HTTP methods for one RPC by using
      the `additional_bindings` option. Example:

      ```proto
      service Messaging {
        rpc GetMessage(GetMessageRequest) returns (Message) {
          option (google.api.http) = {
            get: "/v1/messages/{message_id}"
            additional_bindings {
              get: "/v1/users/{user_id}/messages/{message_id}"
            }
          };
        }
      }
      message GetMessageRequest {
        string message_id = 1;
        string user_id = 2;
      }
      ```

      This enables the following two alternative HTTP JSON to RPC
      mappings:

      HTTP | RPC
      -----|-----
      `GET /v1/messages/123456` | `GetMessage(message_id: "123456")`
      `GET /v1/users/me/messages/123456` | `GetMessage(user_id: "me" message_id: "123456")`

      # Rules for HTTP mapping

      The rules for mapping HTTP path, query parameters, and body fields
      to the request message are as follows:

      1. The `body` field specifies either `*` or a field path, or is
         omitted. If omitted, it assumes there is no HTTP body.
      2. Leaf fields (recursive expansion of nested messages in the
         request) can be classified into three types:
          (a) Matched in the URL template.
          (b) Covered by body (if body is `*`, everything except (a) fields;
              else everything under the body field)
          (c) All other fields.
      3. URL query parameters found in the HTTP request are mapped to (c) fields.
      4. Any body sent with an HTTP request can contain only (b) fields.

      The syntax of the path template is as follows:

          Template = "/" Segments [ Verb ] ;
          Segments = Segment { "/" Segment } ;
          Segment  = "*" | "**" | LITERAL | Variable ;
          Variable = "{" FieldPath [ "=" Segments ] "}" ;
          FieldPath = IDENT { "." IDENT } ;
          Verb     = ":" LITERAL ;

      The syntax `*` matches a single path segment. It follows the semantics of
      [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.2 Simple String
      Expansion.

      The syntax `**` matches zero or more path segments. It follows the semantics
      of [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.3 Reserved
      Expansion.

      The syntax `LITERAL` matches literal text in the URL path.

      The syntax `Variable` matches the entire path as specified by its template;
      this nested template must not contain further variables. If a variable
      matches a single path segment, its template may be omitted, e.g. `{var}`
      is equivalent to `{var=*}`.

      NOTE: the field paths in variables and in the `body` must not refer to
      repeated fields or map fields.

      Use CustomHttpPattern to specify any HTTP method that is not included in the
      `pattern` field, such as HEAD, or "*" to leave the HTTP method unspecified for
      a given URL path rule. The wild-card rule is useful for services that provide
      content to Web (HTML) clients.
    properties:
      additionalBindings:
        description: |-
          Additional HTTP bindings for the selector. Nested bindings must
          not contain an `additional_bindings` field themselves (that is,
          the nesting may only be one level deep).
        items:
          $ref: '#/definitions/HttpRule'
        type: array
      body:
        description: |-
          The name of the request field whose value is mapped to the HTTP body, or
          `*` for mapping all fields not captured by the path pattern to the HTTP
          body. NOTE: the referred field must not be a repeated field and must be
          present at the top-level of response message type.
        type: string
      custom:
        $ref: '#/definitions/CustomHttpPattern'
        description: Custom pattern is used for defining custom verbs.
      delete:
        description: Used for deleting a resource.
        type: string
      get:
        description: Used for listing and getting information about resources.
        type: string
      mediaDownload:
        $ref: '#/definitions/MediaDownload'
        description: |-
          Do not use this. For media support, add instead
          [][google.bytestream.RestByteStream] as an API to your
          configuration.
      mediaUpload:
        $ref: '#/definitions/MediaUpload'
        description: |-
          Do not use this. For media support, add instead
          [][google.bytestream.RestByteStream] as an API to your
          configuration.
      patch:
        description: Used for updating a resource.
        type: string
      post:
        description: Used for creating a resource.
        type: string
      put:
        description: Used for updating a resource.
        type: string
      responseBody:
        description: |-
          The name of the response field whose value is mapped to the HTTP body of
          response. Other response fields are ignored. This field is optional. When
          not set, the response message will be used as HTTP body of response.
          NOTE: the referred field must be not a repeated field and must be present
          at the top-level of response message type.
        type: string
      selector:
        description: |-
          Selects methods to which this rule applies.

          Refer to selector for syntax details.
        type: string
    type: object
  LabelDescriptor:
    description: A description of a label.
    properties:
      description:
        description: A human-readable description for the label.
        type: string
      key:
        description: The label key.
        type: string
      valueType:
        description: The type of data that can be assigned to the label.
        enum:
          - STRING
          - BOOL
          - INT64
        type: string
    type: object
  ListServiceConfigsResponse:
    description: Response message for ListServiceConfigs method.
    properties:
      nextPageToken:
        description: The token of the next page of results.
        type: string
      serviceConfigs:
        description: The list of service configuration resources.
        items:
          $ref: '#/definitions/Service'
        type: array
    type: object
  ListServiceRolloutsResponse:
    description: Response message for ListServiceRollouts method.
    properties:
      nextPageToken:
        description: The token of the next page of results.
        type: string
      rollouts:
        description: The list of rollout resources.
        items:
          $ref: '#/definitions/Rollout'
        type: array
    type: object
  ListServicesResponse:
    description: Response message for `ListServices` method.
    properties:
      nextPageToken:
        description: Token that can be passed to `ListServices` to resume a paginated query.
        type: string
      services:
        description: The results of the query.
        items:
          $ref: '#/definitions/ManagedService'
        type: array
    type: object
  LogConfig:
    description: |-
      Specifies what kind of log the caller must write
      Increment a streamz counter with the specified metric and field names.

      Metric names should start with a '/', generally be lowercase-only,
      and end in "_count". Field names should not contain an initial slash.
      The actual exported metric names will have "/iam/policy" prepended.

      Field names correspond to IAM request parameters and field values are
      their respective values.

      At present the only supported field names are
         - "iam_principal", corresponding to IAMContext.principal;
         - "" (empty string), resulting in one aggretated counter with no field.

      Examples:
        counter { metric: "/debug_access_count"  field: "iam_principal" }
        ==> increment counter /iam/policy/backend_debug_access_count
                              {iam_principal=[value of IAMContext.principal]}

      At this time we do not support:
      * multiple field names (though this may be supported in the future)
      * decrementing the counter
      * incrementing it by anything other than 1
    properties:
      cloudAudit:
        $ref: '#/definitions/CloudAuditOptions'
        description: Cloud audit options.
      counter:
        $ref: '#/definitions/CounterOptions'
        description: Counter options.
      dataAccess:
        $ref: '#/definitions/DataAccessOptions'
        description: Data access options.
    type: object
  LogDescriptor:
    description: |-
      A description of a log type. Example in YAML format:

          - name: library.googleapis.com/activity_history
            description: The history of borrowing and returning library items.
            display_name: Activity
            labels:
            - key: /customer_id
              description: Identifier of a library customer
    properties:
      description:
        description: |-
          A human-readable description of this log. This information appears in
          the documentation and can contain details.
        type: string
      displayName:
        description: |-
          The human-readable name for this log. This information appears on
          the user interface and should be concise.
        type: string
      labels:
        description: |-
          The set of labels that are available to describe a specific log entry.
          Runtime requests that contain labels not specified here are
          considered invalid.
        items:
          $ref: '#/definitions/LabelDescriptor'
        type: array
      name:
        description: |-
          The name of the log. It must be less than 512 characters long and can
          include the following characters: upper- and lower-case alphanumeric
          characters [A-Za-z0-9], and punctuation characters including
          slash, underscore, hyphen, period [/_-.].
        type: string
    type: object
  Logging:
    description: |-
      Logging configuration of the service.

      The following example shows how to configure logs to be sent to the
      producer and consumer projects. In the example,
      the `library.googleapis.com/activity_history` log is
      sent to both the producer and consumer projects, whereas
      the `library.googleapis.com/purchase_history` log is only sent to the
      producer project:

          monitored_resources:
          - type: library.googleapis.com/branch
            labels:
            - key: /city
              description: The city where the library branch is located in.
            - key: /name
              description: The name of the branch.
          logs:
          - name: library.googleapis.com/activity_history
            labels:
            - key: /customer_id
          - name: library.googleapis.com/purchase_history
          logging:
            producer_destinations:
            - monitored_resource: library.googleapis.com/branch
              logs:
              - library.googleapis.com/activity_history
              - library.googleapis.com/purchase_history
            consumer_destinations:
            - monitored_resource: library.googleapis.com/branch
              logs:
              - library.googleapis.com/activity_history
    properties:
      consumerDestinations:
        description: |-
          Logging configurations for sending logs to the consumer project.
          There can be multiple consumer destinations, each one must have a
          different monitored resource type. A log can be used in at most
          one consumer destination.
        items:
          $ref: '#/definitions/LoggingDestination'
        type: array
      producerDestinations:
        description: |-
          Logging configurations for sending logs to the producer project.
          There can be multiple producer destinations, each one must have a
          different monitored resource type. A log can be used in at most
          one producer destination.
        items:
          $ref: '#/definitions/LoggingDestination'
        type: array
    type: object
  LoggingDestination:
    description: |-
      Configuration of a specific logging destination (the producer project
      or the consumer project).
    properties:
      logs:
        description: |-
          Names of the logs to be sent to this destination. Each name must
          be defined in the Service.logs section.
        items:
          type: string
        type: array
      monitoredResource:
        description: |-
          The monitored resource type. The type must be defined in
          Service.monitored_resources section.
        type: string
    type: object
  ManagedService:
    description: |-
      The full representation of a Service that is managed by
      Google Service Management.
    properties:
      producerProjectId:
        description: ID of the project that produces and owns this service.
        type: string
      serviceName:
        description: |-
          The name of the service. See the [overview](/service-management/overview)
          for naming requirements.
        type: string
    type: object
  MediaDownload:
    description: |-
      Do not use this. For media support, add instead
      [][google.bytestream.RestByteStream] as an API to your
      configuration.
    properties:
      enabled:
        description: Whether download is enabled.
        type: boolean
    type: object
  MediaUpload:
    description: |-
      Do not use this. For media support, add instead
      [][google.bytestream.RestByteStream] as an API to your
      configuration.
    properties:
      enabled:
        description: Whether upload is enabled.
        type: boolean
    type: object
  Method:
    description: Method represents a method of an api.
    properties:
      name:
        description: The simple name of this method.
        type: string
      options:
        description: Any metadata attached to the method.
        items:
          $ref: '#/definitions/Option'
        type: array
      requestStreaming:
        description: 'If true, the request is streamed.'
        type: boolean
      requestTypeUrl:
        description: A URL of the input message type.
        type: string
      responseStreaming:
        description: 'If true, the response is streamed.'
        type: boolean
      responseTypeUrl:
        description: The URL of the output message type.
        type: string
      syntax:
        description: The source syntax of this method.
        enum:
          - SYNTAX_PROTO2
          - SYNTAX_PROTO3
        type: string
    type: object
  MetricDescriptor:
    description: Defines a metric type and its schema.
    properties:
      description:
        description: 'A detailed description of the metric, which can be used in documentation.'
        type: string
      displayName:
        description: |-
          A concise name for the metric, which can be displayed in user interfaces.
          Use sentence case without an ending period, for example "Request count".
        type: string
      labels:
        description: |-
          The set of labels that can be used to describe a specific instance of this
          metric type. For example, the
          `compute.googleapis.com/instance/network/received_bytes_count` metric type
          has a label, `loadbalanced`, that specifies whether the traffic was
          received through a load balanced IP address.
        items:
          $ref: '#/definitions/LabelDescriptor'
        type: array
      metricKind:
        description: 'Whether the metric records instantaneous values, changes to a value, etc.'
        enum:
          - METRIC_KIND_UNSPECIFIED
          - GAUGE
          - DELTA
          - CUMULATIVE
        type: string
      name:
        description: |-
          Resource name. The format of the name may vary between different
          implementations. For examples:

              projects/{project_id}/metricDescriptors/{type=**}
              metricDescriptors/{type=**}
        type: string
      type:
        description: |-
          The metric type including a DNS name prefix, for example
          `"compute.googleapis.com/instance/cpu/utilization"`. Metric types
          should use a natural hierarchical grouping such as the following:

              compute.googleapis.com/instance/cpu/utilization
              compute.googleapis.com/instance/disk/read_ops_count
              compute.googleapis.com/instance/network/received_bytes_count

          Note that if the metric type changes, the monitoring data will be
          discontinued, and anything depends on it will break, such as monitoring
          dashboards, alerting rules and quota limits. Therefore, once a metric has
          been published, its type should be immutable.
        type: string
      unit:
        description: |-
          The unit in which the metric value is reported. It is only applicable
          if the `value_type` is `INT64`, `DOUBLE`, or `DISTRIBUTION`. The
          supported units are a subset of [The Unified Code for Units of
          Measure](http://unitsofmeasure.org/ucum.html) standard:

          **Basic units (UNIT)**

          * `bit`   bit
          * `By`    byte
          * `s`     second
          * `min`   minute
          * `h`     hour
          * `d`     day

          **Prefixes (PREFIX)**

          * `k`     kilo    (10**3)
          * `M`     mega    (10**6)
          * `G`     giga    (10**9)
          * `T`     tera    (10**12)
          * `P`     peta    (10**15)
          * `E`     exa     (10**18)
          * `Z`     zetta   (10**21)
          * `Y`     yotta   (10**24)
          * `m`     milli   (10**-3)
          * `u`     micro   (10**-6)
          * `n`     nano    (10**-9)
          * `p`     pico    (10**-12)
          * `f`     femto   (10**-15)
          * `a`     atto    (10**-18)
          * `z`     zepto   (10**-21)
          * `y`     yocto   (10**-24)
          * `Ki`    kibi    (2**10)
          * `Mi`    mebi    (2**20)
          * `Gi`    gibi    (2**30)
          * `Ti`    tebi    (2**40)

          **Grammar**

          The grammar includes the dimensionless unit `1`, such as `1/s`.

          The grammar also includes these connectors:

          * `/`    division (as an infix operator, e.g. `1/s`).
          * `.`    multiplication (as an infix operator, e.g. `GBy.d`)

          The grammar for a unit is as follows:

              Expression = Component { "." Component } { "/" Component } ;

              Component = [ PREFIX ] UNIT [ Annotation ]
                        | Annotation
                        | "1"
                        ;

              Annotation = "{" NAME "}" ;

          Notes:

          * `Annotation` is just a comment if it follows a `UNIT` and is
             equivalent to `1` if it is used alone. For examples,
             `{requests}/s == 1/s`, `By{transmitted}/s == By/s`.
          * `NAME` is a sequence of non-blank printable ASCII characters not
             containing '{' or '}'.
        type: string
      valueType:
        description: 'Whether the measurement is an integer, a floating-point number, etc.'
        enum:
          - VALUE_TYPE_UNSPECIFIED
          - BOOL
          - INT64
          - DOUBLE
          - STRING
          - DISTRIBUTION
          - MONEY
        type: string
    type: object
  Mixin:
    description: |-
      Declares an API to be included in this API. The including API must
      redeclare all the methods from the included API, but documentation
      and options are inherited as follows:

      - If after comment and whitespace stripping, the documentation
        string of the redeclared method is empty, it will be inherited
        from the original method.

      - Each annotation belonging to the service config (http,
        visibility) which is not set in the redeclared method will be
        inherited.

      - If an http annotation is inherited, the path pattern will be
        modified as follows. Any version prefix will be replaced by the
        version of the including API plus the root path if specified.

      Example of a simple mixin:

          package google.acl.v1;
          service AccessControl {
            // Get the underlying ACL object.
            rpc GetAcl(GetAclRequest) returns (Acl) {
              option (google.api.http).get = "/v1/{resource=**}:getAcl";
            }
          }

          package google.storage.v2;
          service Storage {
            //       rpc GetAcl(GetAclRequest) returns (Acl);

            // Get a data record.
            rpc GetData(GetDataRequest) returns (Data) {
              option (google.api.http).get = "/v2/{resource=**}";
            }
          }

      Example of a mixin configuration:

          apis:
          - name: google.storage.v2.Storage
            mixins:
            - name: google.acl.v1.AccessControl

      The mixin construct implies that all methods in `AccessControl` are
      also declared with same name and request/response types in
      `Storage`. A documentation generator or annotation processor will
      see the effective `Storage.GetAcl` method after inherting
      documentation and annotations as follows:

          service Storage {
            // Get the underlying ACL object.
            rpc GetAcl(GetAclRequest) returns (Acl) {
              option (google.api.http).get = "/v2/{resource=**}:getAcl";
            }
            ...
          }

      Note how the version in the path pattern changed from `v1` to `v2`.

      If the `root` field in the mixin is specified, it should be a
      relative path under which inherited HTTP paths are placed. Example:

          apis:
          - name: google.storage.v2.Storage
            mixins:
            - name: google.acl.v1.AccessControl
              root: acls

      This implies the following inherited HTTP annotation:

          service Storage {
            // Get the underlying ACL object.
            rpc GetAcl(GetAclRequest) returns (Acl) {
              option (google.api.http).get = "/v2/acls/{resource=**}:getAcl";
            }
            ...
          }
    properties:
      name:
        description: The fully qualified name of the API which is included.
        type: string
      root:
        description: |-
          If non-empty specifies a path under which inherited HTTP paths
          are rooted.
        type: string
    type: object
  MonitoredResourceDescriptor:
    description: |-
      An object that describes the schema of a MonitoredResource object using a
      type name and a set of labels.  For example, the monitored resource
      descriptor for Google Compute Engine VM instances has a type of
      `"gce_instance"` and specifies the use of the labels `"instance_id"` and
      `"zone"` to identify particular VM instances.

      Different APIs can support different monitored resource types. APIs generally
      provide a `list` method that returns the monitored resource descriptors used
      by the API.
    properties:
      description:
        description: |-
          Optional. A detailed description of the monitored resource type that might
          be used in documentation.
        type: string
      displayName:
        description: |-
          Optional. A concise name for the monitored resource type that might be
          displayed in user interfaces. It should be a Title Cased Noun Phrase,
          without any article or other determiners. For example,
          `"Google Cloud SQL Database"`.
        type: string
      labels:
        description: |-
          Required. A set of labels used to describe instances of this monitored
          resource type. For example, an individual Google Cloud SQL database is
          identified by values for the labels `"database_id"` and `"zone"`.
        items:
          $ref: '#/definitions/LabelDescriptor'
        type: array
      name:
        description: |-
          Optional. The resource name of the monitored resource descriptor:
          `"projects/{project_id}/monitoredResourceDescriptors/{type}"` where
          {type} is the value of the `type` field in this object and
          {project_id} is a project ID that provides API-specific context for
          accessing the type.  APIs that do not use project information can use the
          resource name format `"monitoredResourceDescriptors/{type}"`.
        type: string
      type:
        description: |-
          Required. The monitored resource type. For example, the type
          `"cloudsql_database"` represents databases in Google Cloud SQL.
          The maximum length of this value is 256 characters.
        type: string
    type: object
  Monitoring:
    description: |-
      Monitoring configuration of the service.

      The example below shows how to configure monitored resources and metrics
      for monitoring. In the example, a monitored resource and two metrics are
      defined. The `library.googleapis.com/book/returned_count` metric is sent
      to both producer and consumer projects, whereas the
      `library.googleapis.com/book/overdue_count` metric is only sent to the
      consumer project.

          monitored_resources:
          - type: library.googleapis.com/branch
            labels:
            - key: /city
              description: The city where the library branch is located in.
            - key: /name
              description: The name of the branch.
          metrics:
          - name: library.googleapis.com/book/returned_count
            metric_kind: DELTA
            value_type: INT64
            labels:
            - key: /customer_id
          - name: library.googleapis.com/book/overdue_count
            metric_kind: GAUGE
            value_type: INT64
            labels:
            - key: /customer_id
          monitoring:
            producer_destinations:
            - monitored_resource: library.googleapis.com/branch
              metrics:
              - library.googleapis.com/book/returned_count
            consumer_destinations:
            - monitored_resource: library.googleapis.com/branch
              metrics:
              - library.googleapis.com/book/returned_count
              - library.googleapis.com/book/overdue_count
    properties:
      consumerDestinations:
        description: |-
          Monitoring configurations for sending metrics to the consumer project.
          There can be multiple consumer destinations, each one must have a
          different monitored resource type. A metric can be used in at most
          one consumer destination.
        items:
          $ref: '#/definitions/MonitoringDestination'
        type: array
      producerDestinations:
        description: |-
          Monitoring configurations for sending metrics to the producer project.
          There can be multiple producer destinations, each one must have a
          different monitored resource type. A metric can be used in at most
          one producer destination.
        items:
          $ref: '#/definitions/MonitoringDestination'
        type: array
    type: object
  MonitoringDestination:
    description: |-
      Configuration of a specific monitoring destination (the producer project
      or the consumer project).
    properties:
      metrics:
        description: |-
          Names of the metrics to report to this monitoring destination.
          Each name must be defined in Service.metrics section.
        items:
          type: string
        type: array
      monitoredResource:
        description: |-
          The monitored resource type. The type must be defined in
          Service.monitored_resources section.
        type: string
    type: object
  OAuthRequirements:
    description: |-
      OAuth scopes are a way to define data and permissions on data. For example,
      there are scopes defined for "Read-only access to Google Calendar" and
      "Access to Cloud Platform". Users can consent to a scope for an application,
      giving it permission to access that data on their behalf.

      OAuth scope specifications should be fairly coarse grained; a user will need
      to see and understand the text description of what your scope means.

      In most cases: use one or at most two OAuth scopes for an entire family of
      products. If your product has multiple APIs, you should probably be sharing
      the OAuth scope across all of those APIs.

      When you need finer grained OAuth consent screens: talk with your product
[...]
