swagger: '2.0'
schemes:
  - https
host: servicemanagement.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Google Service Management allows service producers to publish their services on Google Cloud Platform so that they can be discovered and used by service consumers.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Service Management
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://servicemanagement.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: servicemanagement
externalDocs:
  url: 'https://cloud.google.com/service-management/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/service.management': Manage your Google API service configuration
      'https://www.googleapis.com/auth/service.management.readonly': View your Google API service configuration
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/service.management': Manage your Google API service configuration
      'https://www.googleapis.com/auth/service.management.readonly': View your Google API service configuration
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: operations
  - name: services
paths:
  /v1/operations:
    get:
      description: Lists service operations that match the specified filter in the request.
      operationId: servicemanagement.operations.list
      parameters:
        - description: |-
            A string for filtering Operations.
              The following filter fields are supported&#58;

              * serviceName&#58; Required. Only `=` operator is allowed.
              * startTime&#58; The time this job was started, in ISO 8601 format.
                Allowed operators are `>=`,  `>`, `<=`, and `<`.
              * status&#58; Can be `done`, `in_progress`, or `failed`. Allowed
                operators are `=`, and `!=`.

              Filter expression supports conjunction (AND) and disjunction (OR)
              logical operators. However, the serviceName restriction must be at the
              top-level and can only be combined with other restrictions via the AND
              logical operator.

              Examples&#58;

              * `serviceName={some-service}.googleapis.com`
              * `serviceName={some-service}.googleapis.com AND startTime>="2017-02-01"`
              * `serviceName={some-service}.googleapis.com AND status=done`
              * `serviceName={some-service}.googleapis.com AND (status=done OR startTime>="2017-02-01")`
          in: query
          name: filter
          type: string
        - description: Not used.
          in: query
          name: name
          type: string
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
        - description: |-
            The maximum number of operations to return. If unspecified, defaults to
            50. The maximum value is 100.
          in: query
          name: pageSize
          type: integer
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListOperationsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
  /v1/services:
    get:
      description: |-
        Lists managed services.

        Returns all public services. For authenticated users, also returns all
        services the calling user has "servicemanagement.services.get" permission
        for.

        **BETA:** If the caller specifies the `consumer_id`, it returns only the
        services enabled on the consumer. The `consumer_id` must have the format
        of "project:{PROJECT-ID}".
      operationId: servicemanagement.services.list
      parameters:
        - description: |-
            Token identifying which result to start with; returned by a previous list
            call.
          in: query
          name: pageToken
          type: string
        - description: Requested size of the next page of data.
          in: query
          name: pageSize
          type: integer
        - description: Include services produced by the specified project.
          in: query
          name: producerProjectId
          type: string
        - description: |-
            Include services consumed by the specified consumer.

            The Google Service Management implementation accepts the following
            forms:
            - project:<project_id>
          in: query
          name: consumerId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListServicesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Creates a new managed service.
        Please note one producer project can own no more than 20 services.

        Operation<response: ManagedService>
      operationId: servicemanagement.services.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedService'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}':
    delete:
      description: |-
        Deletes a managed service. This method will change the service to the
        `Soft-Delete` state for 30 days. Within this period, service producers may
        call UndeleteService to restore the service.
        After 30 days, the service will be permanently deleted.

        Operation<response: google.protobuf.Empty>
      operationId: servicemanagement.services.delete
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
    get:
      description: |-
        Gets a managed service. Authentication is required unless the service is
        public.
      operationId: servicemanagement.services.get
      parameters:
        - description: |-
            The name of the service.  See the `ServiceManager` overview for naming
            requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedService'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
  '/v1/services/{serviceName}/config':
    get:
      description: Gets a service configuration (version) for a managed service.
      operationId: servicemanagement.services.getConfig
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - description: |-
            Specifies which parts of the Service Config should be returned in the
            response.
          enum:
            - BASIC
            - FULL
          in: query
          name: view
          type: string
        - description: The id of the service configuration resource.
          in: query
          name: configId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Service'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
  '/v1/services/{serviceName}/configs':
    get:
      description: |-
        Lists the history of the service configuration for a managed service,
        from the newest to the oldest.
      operationId: servicemanagement.services.configs.list
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The max number of items to include in the response list.
          in: query
          name: pageSize
          type: integer
        - description: The token of the page to retrieve.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListServiceConfigsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Creates a new service configuration (version) for a managed service.
        This method only stores the service configuration. To roll out the service
        configuration to backend systems please call
        CreateServiceRollout.
      operationId: servicemanagement.services.configs.create
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Service'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Service'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}/configs/{configId}':
    get:
      description: Gets a service configuration (version) for a managed service.
      operationId: servicemanagement.services.configs.get
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The id of the service configuration resource.
          in: path
          name: configId
          required: true
          type: string
        - description: |-
            Specifies which parts of the Service Config should be returned in the
            response.
          enum:
            - BASIC
            - FULL
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Service'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
  '/v1/services/{serviceName}/configs:submit':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Creates a new service configuration (version) for a managed service based
        on
        user-supplied configuration source files (for example: OpenAPI
        Specification). This method stores the source configurations as well as the
        generated service configuration. To rollout the service configuration to
        other services,
        please call CreateServiceRollout.

        Operation<response: SubmitConfigSourceResponse>
      operationId: servicemanagement.services.configs.submit
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SubmitConfigSourceRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}/rollouts':
    get:
      description: |-
        Lists the history of the service configuration rollouts for a managed
        service, from the newest to the oldest.
      operationId: servicemanagement.services.rollouts.list
      parameters:
        - description: |-
            Use `filter` to return subset of rollouts.
            The following filters are supported:
              -- To limit the results to only those in
                 [status](google.api.servicemanagement.v1.RolloutStatus) 'SUCCESS',
                 use filter='status=SUCCESS'
              -- To limit the results to those in
                 [status](google.api.servicemanagement.v1.RolloutStatus) 'CANCELLED'
                 or 'FAILED', use filter='status=CANCELLED OR status=FAILED'
          in: query
          name: filter
          type: string
        - description: The max number of items to include in the response list.
          in: query
          name: pageSize
          type: integer
        - description: The token of the page to retrieve.
          in: query
          name: pageToken
          type: string
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListServiceRolloutsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Creates a new service configuration rollout. Based on rollout, the
        Google Service Management will roll out the service configurations to
        different backend services. For example, the logging configuration will be
        pushed to Google Cloud Logging.

        Please note that any previous pending and running Rollouts and associated
        Operations will be automatically cancelled so that the latest Rollout will
        not be blocked by previous Rollouts.

        Operation<response: Rollout>
      operationId: servicemanagement.services.rollouts.create
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Rollout'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}/rollouts/{rolloutId}':
    get:
      description: Gets a service configuration rollout.
      operationId: servicemanagement.services.rollouts.get
      parameters:
        - description: |-
            The name of the service.  See the [overview](/service-management/overview)
            for naming requirements.  For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
        - description: The id of the rollout resource.
          in: path
          name: rolloutId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Rollout'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
  '/v1/services/{serviceName}:disable':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Disables a service for a project, so it can no longer be
        be used for the project. It prevents accidental usage that may cause
        unexpected billing charges or security leaks.

        Operation<response: DisableServiceResponse>
      operationId: servicemanagement.services.disable
      parameters:
        - description: |-
            Name of the service to disable. Specifying an unknown service name
            will cause the request to fail.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DisableServiceRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}:enable':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Enables a service for a project, so it can be used
        for the project. See
        [Cloud Auth Guide](https://cloud.google.com/docs/authentication) for
        more information.

        Operation<response: EnableServiceResponse>
      operationId: servicemanagement.services.enable
      parameters:
        - description: |-
            Name of the service to enable. Specifying an unknown service name will
            cause the request to fail.
          in: path
          name: serviceName
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/EnableServiceRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services/{serviceName}:undelete':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Revives a previously deleted managed service. The method restores the
        service using the configuration at the time the service was deleted.
        The target service must exist and must have been deleted within the
        last 30 days.

        Operation<response: UndeleteServiceResponse>
      operationId: servicemanagement.services.undelete
      parameters:
        - description: |-
            The name of the service. See the [overview](/service-management/overview)
            for naming requirements. For example: `example.googleapis.com`.
          in: path
          name: serviceName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/services:generateConfigReport':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Generates and returns a report (errors, warnings and changes from
        existing configurations) associated with
        GenerateConfigReportRequest.new_value

        If GenerateConfigReportRequest.old_value is specified,
        GenerateConfigReportRequest will contain a single ChangeReport based on the
        comparison between GenerateConfigReportRequest.new_value and
        GenerateConfigReportRequest.old_value.
        If GenerateConfigReportRequest.old_value is not specified, this method
        will compare GenerateConfigReportRequest.new_value with the last pushed
        service configuration.
      operationId: servicemanagement.services.generateConfigReport
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GenerateConfigReportRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GenerateConfigReportResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/{name}':
    get:
      description: |-
        Gets the latest state of a long-running operation.  Clients can use this
        method to poll the operation result at intervals as recommended by the API
        service.
      operationId: servicemanagement.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
  '/v1/{resource}:getIamPolicy':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Gets the access control policy for a resource.
        Returns an empty policy if the resource exists and does not have a policy
        set.
      operationId: servicemanagement.services.consumers.getIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetIamPolicyRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
  '/v1/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Sets the access control policy on the specified resource. Replaces any
        existing policy.
      operationId: servicemanagement.services.consumers.setIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
      tags:
        - services
  '/v1/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
    post:
      description: |-
        Returns permissions that a caller has on the specified resource.
        If the resource does not exist, this will return an empty set of
        permissions, not a NOT_FOUND error.

        Note: This operation is designed to be used for building permission-aware
        UIs and command-line tools, not for authorization checking. This operation
        may "fail open" without warning.
      operationId: servicemanagement.services.consumers.testIamPermissions
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestIamPermissionsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management'
        - Oauth2:
            - 'https://www.googleapis.com/auth/service.management.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/service.management.readonly'
      tags:
        - services
definitions:
  Advice:
    description: |-
      Generated advice about this change, used for providing more
      information about how a change will affect the existing service.
    properties:
      description:
        description: |-
          Useful description for why this advice was applied and what actions should
          be taken to mitigate any implied risks.
        type: string
    type: object
  Api:
    description: |-
      Api is a light-weight descriptor for an API Interface.

      Interfaces are also described as "protocol buffer services" in some contexts,
      such as by the "service" keyword in a .proto file, but they are different
      from API Services, which represent a concrete implementation of an interface
      as opposed to simply a description of methods and bindings. They are also
      sometimes simply referred to as "APIs" in other contexts, such as the name of
      this message itself. See https://cloud.google.com/apis/design/glossary for
      detailed terminology.
    properties:
      methods:
        description: 'The methods of this interface, in unspecified order.'
        items:
          $ref: '#/definitions/Method'
        type: array
      mixins:
        description: Included interfaces. See Mixin.
        items:
          $ref: '#/definitions/Mixin'
        type: array
      name:
        description: |-
          The fully qualified name of this interface, including package name
          followed by the interface's simple name.
        type: string
      options:
        description: Any metadata attached to the interface.
        items:
          $ref: '#/definitions/Option'
        type: array
      sourceContext:
        $ref: '#/definitions/SourceContext'
        description: |-
          Source context for the protocol buffer service represented by this
          message.
      syntax:
        description: The source syntax of the service.
        enum:
          - SYNTAX_PROTO2
          - SYNTAX_PROTO3
        type: string
      version:
        description: |
          A version string for this interface. If specified, must have the form
          `major-version.minor-version`, as in `1.10`. If the minor version is
          omitted, it defaults to zero. If the entire version field is empty, the
          major version is derived from the package name, as outlined below. If the
          field is not empty, the version in the package name will be verified to be
          consistent with what is provided here.

          The versioning schema uses [semantic
          versioning](http://semver.org) where the major version number
          indicates a breaking change and the minor version an additive,
          non-breaking change. Both version numbers are signals to users
          what to expect from different versions, and should be carefully
          chosen based on the product plan.

          The major version is also reflected in the package name of the
          interface, which must end in `v<major-version>`, as in
          `google.feature.v1`. For major versions 0 and 1, the suffix can
          be omitted. Zero major versions must only be used for
          experimental, non-GA interfaces.
        type: string
    type: object
  AuditConfig:
    description: |-
      Specifies the audit configuration for a service.
      The configuration determines which permission types are logged, and what
      identities, if any, are exempted from logging.
      An AuditConfig must have one or more AuditLogConfigs.

      If there are AuditConfigs for both `allServices` and a specific service,
      the union of the two AuditConfigs is used for that service: the log_types
      specified in each AuditConfig are enabled, and the exempted_members in each
      AuditConfig are exempted.

      Example Policy with multiple AuditConfigs:

          {
            "audit_configs": [
              {
                "service": "allServices"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                    "exempted_members": [
                      "user:foo@gmail.com"
                    ]
                  },
                  {
                    "log_type": "DATA_WRITE",
                  },
                  {
                    "log_type": "ADMIN_READ",
                  }
                ]
              },
              {
                "service": "fooservice.googleapis.com"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                  },
                  {
                    "log_type": "DATA_WRITE",
                    "exempted_members": [
                      "user:bar@gmail.com"
                    ]
                  }
                ]
              }
            ]
          }

      For fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ
      logging. It also exempts foo@gmail.com from DATA_READ logging, and
      bar@gmail.com from DATA_WRITE logging.
    properties:
      auditLogConfigs:
        description: |-
          The configuration for logging of each type of permission.
          Next ID: 4
        items:
          $ref: '#/definitions/AuditLogConfig'
        type: array
      exemptedMembers:
        items:
          type: string
        type: array
      service:
        description: |-
          Specifies a service that will be enabled for audit logging.
          For example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
          `allServices` is a special value that covers all services.
        type: string
    type: object
  AuditLogConfig:
    description: |-
      Provides the configuration for logging a type of permissions.
      Example:

          {
            "audit_log_configs": [
              {
                "log_type": "DATA_READ",
                "exempted_members": [
                  "user:foo@gmail.com"
                ]
              },
              {
                "log_type": "DATA_WRITE",
              }
            ]
          }

      This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting
      foo@gmail.com from DATA_READ logging.
    properties:
      exemptedMembers:
        description: |-
          Specifies the identities that do not cause logging for this type of
          permission.
          Follows the same format of Binding.members.
        items:
          type: string
        type: array
      logType:
        description: The log type that this config enables.
        enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
        type: string
    type: object
  AuthProvider:
    description: |-
      Configuration for an anthentication provider, including support for
      [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).
    properties:
      audiences:
        description: |-
          The list of JWT
          [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).
          that are allowed to access. A JWT containing any of these audiences will
          be accepted. When this setting is absent, only JWTs with audience
          "https://Service_name/API_name"
          will be accepted. For example, if no audiences are in the setting,
          LibraryService API will only accept JWTs with the following audience
          "https://library-example.googleapis.com/google.example.library.v1.LibraryService".

          Example:

              audiences: bookstore_android.apps.googleusercontent.com,
                         bookstore_web.apps.googleusercontent.com
        type: string
      authorizationUrl:
        description: |-
          Redirect URL if JWT token is required but no present or is expired.
          Implement authorizationUrl of securityDefinitions in OpenAPI spec.
        type: string
      id:
        description: |-
          The unique identifier of the auth provider. It will be referred to by
          `AuthRequirement.provider_id`.

          Example: "bookstore_auth".
        type: string
      issuer:
        description: |-
          Identifies the principal that issued the JWT. See
          https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.1
          Usually a URL or an email address.

          Example: https://securetoken.google.com
          Example: 1234567-compute@developer.gserviceaccount.com
        type: string
      jwksUri:
        description: |-
          URL of the provider's public key set to validate signature of the JWT. See
          [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata).
          Optional if the key set document:
           - can be retrieved from
             [OpenID Discovery](https://openid.net/specs/openid-connect-discovery-1_0.html
             of the issuer.
           - can be inferred from the email domain of the issuer (e.g. a Google service account).

          Example: https://www.googleapis.com/oauth2/v1/certs
        type: string
    type: object
  AuthRequirement:
    description: |-
      User-defined authentication requirements, including support for
      [JSON Web Token (JWT)](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32).
    properties:
      audiences:
        description: |-
          NOTE: This will be deprecated soon, once AuthProvider.audiences is
          implemented and accepted in all the runtime components.

          The list of JWT
          [audiences](https://tools.ietf.org/html/draft-ietf-oauth-json-web-token-32#section-4.1.3).
          that are allowed to access. A JWT containing any of these audiences will
          be accepted. When this setting is absent, only JWTs with audience
          "https://Service_name/API_name"
          will be accepted. For example, if no audiences are in the setting,
          LibraryService API will only accept JWTs with the following audience
          "https://library-example.googleapis.com/google.example.library.v1.LibraryService".

          Example:

              audiences: bookstore_android.apps.googleusercontent.com,
                         bookstore_web.apps.googleusercontent.com
        type: string
      providerId:
        description: |-
          id from authentication provider.

          Example:

              provider_id: bookstore_auth
        type: string
    type: object
  Authentication:
    description: |-
      `Authentication` defines the authentication configuration for an API.

      Example for an API targeted for external use:

          name: calendar.googleapis.com
          authentication:
            providers:
            - id: google_calendar_auth
              jwks_uri: https://www.googleapis.com/oauth2/v1/certs
              issuer: https://securetoken.google.com
            rules:
            - selector: "*"
              requirements:
                provider_id: google_calendar_auth
    properties:
      providers:
        description: Defines a set of authentication providers that a service supports.
        items:
          $ref: '#/definitions/AuthProvider'
        type: array
      rules:
        description: |-
          A list of authentication rules that apply to individual API methods.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/AuthenticationRule'
        type: array
    type: object
  AuthenticationRule:
    description: |-
      Authentication rules for the service.

      By default, if a method has any authentication requirements, every request
      must include a valid credential matching one of the requirements.
      It's an error to include more than one kind of credential in a single
      request.

      If a method doesn't have any auth requirements, request credentials will be
      ignored.
    properties:
      allowWithoutCredential:
        description: |-
          Whether to allow requests without a credential. The credential can be
          an OAuth token, Google cookies (first-party auth) or EndUserCreds.

          For requests without credentials, if the service control environment is
          specified, each incoming request **must** be associated with a service
          consumer. This can be done by passing an API key that belongs to a consumer
          project.
        type: boolean
      customAuth:
        $ref: '#/definitions/CustomAuthRequirements'
        description: Configuration for custom authentication.
      oauth:
        $ref: '#/definitions/OAuthRequirements'
        description: The requirements for OAuth credentials.
      requirements:
        description: Requirements for additional authentication providers.
        items:
          $ref: '#/definitions/AuthRequirement'
        type: array
      selector:
        description: |-
          Selects the methods to which this rule applies.

          Refer to selector for syntax details.
        type: string
    type: object
  AuthorizationConfig:
    description: |-
      Configuration of authorization.

      This section determines the authorization provider, if unspecified, then no
      authorization check will be done.

      Example:

          experimental:
            authorization:
              provider: firebaserules.googleapis.com
    properties:
      provider:
        description: |-
          The name of the authorization provider, such as
          firebaserules.googleapis.com.
        type: string
    type: object
  Backend:
    description: '`Backend` defines the backend configuration for a service.'
    properties:
      rules:
        description: |-
          A list of API backend rules that apply to individual API methods.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/BackendRule'
        type: array
    type: object
  BackendRule:
    description: A backend rule provides configuration for an individual API element.
    properties:
      address:
        description: The address of the API backend.
        type: string
      deadline:
        description: |-
          The number of seconds to wait for a response from a request.  The default
          deadline for gRPC and HTTP requests is 5 seconds. For Stubby requests,
          the default is no deadline.
        format: double
        type: number
      minDeadline:
        description: |-
          Minimum deadline in seconds needed for this method. Calls having deadline
          value lower than this will be rejected.
        format: double
        type: number
      selector:
        description: |-
          Selects the methods to which this rule applies.

          Refer to selector for syntax details.
        type: string
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      condition:
        $ref: '#/definitions/Expr'
        description: |-
          The condition that is associated with this binding.
          NOTE: an unsatisfied condition will not allow user access via current
          binding. Different bindings, including their conditions, are examined
          independently.
          This field is GOOGLE_INTERNAL.
      members:
        description: |+
          Specifies the identities requesting access for a Cloud Platform resource.
          `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is
             on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone
             who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google
             account. For example, `alice@gmail.com` or `joe@example.com`.


          * `serviceAccount:{emailid}`: An email address that represents a service
             account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group.
             For example, `admins@example.com`.


          * `domain:{domain}`: A Google Apps domain name that represents all the
             users of that domain. For example, `google.com` or `example.com`.

        items:
          type: string
        type: array
      role:
        description: |-
          Role that is assigned to `members`.
          For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          Required
        type: string
    type: object
  ChangeReport:
    description: |-
      Change report associated with a particular service configuration.

      It contains a list of ConfigChanges based on the comparison between
      two service configurations.
    properties:
      configChanges:
        description: |-
          List of changes between two service configurations.
          The changes will be alphabetically sorted based on the identifier
          of each change.
          A ConfigChange identifier is a dot separated path to the configuration.
          Example: visibility.rules[selector='LibraryService.CreateBook'].restriction
        items:
          $ref: '#/definitions/ConfigChange'
        type: array
    type: object
  ConfigChange:
    description: |-
      Output generated from semantically comparing two versions of a service
      configuration.

      Includes detailed information about a field that have changed with
      applicable advice about potential consequences for the change, such as
      backwards-incompatibility.
    properties:
      advices:
        description: |-
          Collection of advice provided for this change, useful for determining the
          possible impact of this change.
        items:
          $ref: '#/definitions/Advice'
        type: array
      changeType:
        description: 'The type for this change, either ADDED, REMOVED, or MODIFIED.'
        enum:
          - CHANGE_TYPE_UNSPECIFIED
          - ADDED
          - REMOVED
          - MODIFIED
        type: string
      element:
        description: |-
          Object hierarchy path to the change, with levels separated by a '.'
          character. For repeated fields, an applicable unique identifier field is
          used for the index (usually selector, name, or id). For maps, the term
          'key' is used. If the field has no unique identifier, the numeric index
          is used.
          Examples:
          - visibility.rules[selector=="google.LibraryService.CreateBook"].restriction
          - quota.metric_rules[selector=="google"].metric_costs[key=="reads"].value
          - logging.producer_destinations[0]
        type: string
      newValue:
        description: |-
          Value of the changed object in the new Service configuration,
          in JSON format. This field will not be populated if ChangeType == REMOVED.
        type: string
      oldValue:
        description: |-
          Value of the changed object in the old Service configuration,
          in JSON format. This field will not be populated if ChangeType == ADDED.
        type: string
    type: object
  ConfigFile:
    description: Generic specification of a source configuration file
    properties:
      fileContents:
        description: The bytes that constitute the file.
        format: byte
        type: string
      filePath:
        description: The file name of the configuration file (full or relative path).
        type: string
      fileType:
        description: The type of configuration file this represents.
        enum:
          - FILE_TYPE_UNSPECIFIED
          - SERVICE_CONFIG_YAML
          - OPEN_API_JSON
          - OPEN_API_YAML
          - FILE_DESCRIPTOR_SET_PROTO
        type: string
    type: object
  ConfigRef:
    description: Represents a service configuration with its name and id.
    properties:
      name:
        description: |-
          Resource name of a service config. It must have the following
          format: "services/{service name}/configs/{config id}".
        type: string
    type: object
  ConfigSource:
    description: |-
      Represents a source file which is used to generate the service configuration
      defined by `google.api.Service`.
    properties:
      files:
        description: |-
          Set of source configuration files that are used to generate a service
          configuration (`google.api.Service`).
        items:
          $ref: '#/definitions/ConfigFile'
        type: array
      id:
        description: |-
          A unique ID for a specific instance of this message, typically assigned
          by the client for tracking purpose. If empty, the server may choose to
          generate one instead.
        type: string
    type: object
  Context:
    description: |-
      `Context` defines which contexts an API requests.

      Example:

          context:
            rules:
            - selector: "*"
              requested:
              - google.rpc.context.ProjectContext
              - google.rpc.context.OriginContext

      The above specifies that all methods in the API request
      `google.rpc.context.ProjectContext` and
      `google.rpc.context.OriginContext`.

      Available context types are defined in package
      `google.rpc.context`.
    properties:
      rules:
        description: |-
          A list of RPC context rules that apply to individual API methods.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/ContextRule'
        type: array
    type: object
  ContextRule:
    description: |-
      A context rule provides information about the context for an individual API
      element.
    properties:
      provided:
        description: A list of full type names of provided contexts.
        items:
          type: string
        type: array
      requested:
        description: A list of full type names of requested contexts.
        items:
          type: string
        type: array
      selector:
        description: |-
          Selects the methods to which this rule applies.

          Refer to selector for syntax details.
        type: string
    type: object
  Control:
    description: |-
      Selects and configures the service controller used by the service.  The
      service controller handles features like abuse, quota, billing, logging,
      monitoring, etc.
    properties:
      environment:
        description: |-
          The service control environment to use. If empty, no control plane
          feature (like quota and billing) will be enabled.
        type: string
    type: object
  CustomAuthRequirements:
    description: Configuration for a custom authentication provider.
    properties:
      provider:
        description: |-
          A configuration string containing connection information for the
          authentication provider, typically formatted as a SmartService string
          (go/smartservice).
        type: string
    type: object
  CustomError:
    description: |-
      Customize service error responses.  For example, list any service
      specific protobuf types that can appear in error detail lists of
      error responses.

      Example:

          custom_error:
            types:
            - google.foo.v1.CustomError
            - google.foo.v1.AnotherError
    properties:
      rules:
        description: |-
          The list of custom error rules that apply to individual API messages.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/CustomErrorRule'
        type: array
      types:
        description: 'The list of custom error detail types, e.g. ''google.foo.v1.CustomError''.'
        items:
          type: string
        type: array
    type: object
  CustomErrorRule:
    description: A custom error rule.
    properties:
      isErrorType:
        description: |-
          Mark this message as possible payload in error response.  Otherwise,
          objects of this type will be filtered when they appear in error payload.
        type: boolean
      selector:
        description: |-
          Selects messages to which this rule applies.

          Refer to selector for syntax details.
        type: string
    type: object
  CustomHttpPattern:
    description: A custom pattern is used for defining custom HTTP verb.
    properties:
      kind:
        description: The name of this custom HTTP verb.
        type: string
      path:
        description: The path matched by this custom verb.
        type: string
    type: object
  DeleteServiceStrategy:
    description: |-
      Strategy used to delete a service. This strategy is a placeholder only
      used by the system generated rollout to delete a service.
    properties: {}
    type: object
  Diagnostic:
    description: Represents a diagnostic message (error or warning)
    properties:
      kind:
        description: The kind of diagnostic information provided.
        enum:
          - WARNING
          - ERROR
        type: string
      location:
        description: File name and line number of the error or warning.
        type: string
      message:
        description: Message describing the error or warning.
        type: string
    type: object
  DisableServiceRequest:
    description: Request message for DisableService method.
    properties:
      consumerId:
        description: |-
          The identity of consumer resource which service disablement will be
          applied to.

          The Google Service Management implementation accepts the following
          forms:
          - "project:<project_id>"

          Note: this is made compatible with
          google.api.servicecontrol.v1.Operation.consumer_id.
        type: string
    type: object
  Documentation:
    description: |-
      `Documentation` provides the information for describing a service.

      Example:
      <pre><code>documentation:
        summary: >
          The Google Calendar API gives access
          to most calendar features.
        pages:
        - name: Overview
          content: &#40;== include google/foo/overview.md ==&#41;
        - name: Tutorial
          content: &#40;== include google/foo/tutorial.md ==&#41;
          subpages;
          - name: Java
            content: &#40;== include google/foo/tutorial_java.md ==&#41;
        rules:
        - selector: google.calendar.Calendar.Get
          description: >
            ...
        - selector: google.calendar.Calendar.Put
          description: >
            ...
      </code></pre>
      Documentation is provided in markdown syntax. In addition to
      standard markdown features, definition lists, tables and fenced
      code blocks are supported. Section headers can be provided and are
      interpreted relative to the section nesting of the context where
      a documentation fragment is embedded.

      Documentation from the IDL is merged with documentation defined
      via the config at normalization time, where documentation provided
      by config rules overrides IDL provided.

      A number of constructs specific to the API platform are supported
      in documentation text.

      In order to reference a proto element, the following
      notation can be used:
      <pre><code>&#91;fully.qualified.proto.name]&#91;]</code></pre>
      To override the display text used for the link, this can be used:
      <pre><code>&#91;display text]&#91;fully.qualified.proto.name]</code></pre>
      Text can be excluded from doc using the following notation:
      <pre><code>&#40;-- internal comment --&#41;</code></pre>
      Comments can be made conditional using a visibility label. The below
      text will be only rendered if the `BETA` label is available:
      <pre><code>&#40;--BETA: comment for BETA users --&#41;</code></pre>
      A few directives are available in documentation. Note that
      directives must appear on a single line to be properly
      identified. The `include` directive includes a markdown file from
      an external source:
      <pre><code>&#40;== include path/to/file ==&#41;</code></pre>
      The `resource_for` directive marks a message to be the resource of
      a collection in REST view. If it is not specified, tools attempt
      to infer the resource from the operations in a collection:
      <pre><code>&#40;== resource_for v1.shelves.books ==&#41;</code></pre>
      The directive `suppress_warning` does not directly affect documentation
      and is documented together with service config validation.
    properties:
      documentationRootUrl:
        description: The URL to the root of documentation.
        type: string
      overview:
        description: |-
          Declares a single overview page. For example:
          <pre><code>documentation:
            summary: ...
            overview: &#40;== include overview.md ==&#41;
          </code></pre>
          This is a shortcut for the following declaration (using pages style):
          <pre><code>documentation:
            summary: ...
            pages:
            - name: Overview
              content: &#40;== include overview.md ==&#41;
          </code></pre>
          Note: you cannot specify both `overview` field and `pages` field.
        type: string
      pages:
        description: The top level pages for the documentation set.
        items:
          $ref: '#/definitions/Page'
        type: array
      rules:
        description: |-
          A list of documentation rules that apply to individual API elements.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/DocumentationRule'
        type: array
      summary:
        description: |-
          A short summary of what the service does. Can only be provided by
          plain text.
        type: string
    type: object
  DocumentationRule:
    description: A documentation rule provides information about individual API elements.
    properties:
      deprecationDescription:
        description: |-
          Deprecation description of the selected element(s). It can be provided if an
          element is marked as `deprecated`.
        type: string
      description:
        description: Description of the selected API(s).
        type: string
      selector:
        description: |-
          The selector is a comma-separated list of patterns. Each pattern is a
          qualified name of the element which may end in "*", indicating a wildcard.
          Wildcards are only allowed at the end and for a whole component of the
          qualified name, i.e. "foo.*" is ok, but not "foo.b*" or "foo.*.bar". To
          specify a default for all applicable elements, the whole pattern "*"
          is used.
        type: string
    type: object
  EnableServiceRequest:
    description: Request message for EnableService method.
    properties:
      consumerId:
        description: |-
          The identity of consumer resource which service enablement will be
          applied to.

          The Google Service Management implementation accepts the following
          forms:
          - "project:<project_id>"

          Note: this is made compatible with
          google.api.servicecontrol.v1.Operation.consumer_id.
        type: string
    type: object
  Endpoint:
    description: |-
      `Endpoint` describes a network endpoint that serves a set of APIs.
      A service may expose any number of endpoints, and all endpoints share the
      same service configuration, such as quota configuration and monitoring
      configuration.

      Example service configuration:

          name: library-example.googleapis.com
          endpoints:
            # Below entry makes 'google.example.library.v1.Library'
            # API be served from endpoint address library-example.googleapis.com.
            # It also allows HTTP OPTIONS calls to be passed to the backend, for
            # it to decide whether the subsequent cross-origin request is
            # allowed to proceed.
          - name: library-example.googleapis.com
            allow_cors: true
    properties:
      aliases:
        description: |-
          DEPRECATED: This field is no longer supported. Instead of using aliases,
          please specify multiple google.api.Endpoint for each of the intented
          alias.

          Additional names that this endpoint will be hosted on.
        items:
          type: string
        type: array
      allowCors:
        description: |-
          Allowing
          [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing), aka
          cross-domain traffic, would allow the backends served from this endpoint to
          receive and respond to HTTP OPTIONS requests. The response will be used by
          the browser to determine whether the subsequent cross-origin request is
          allowed to proceed.
        type: boolean
      apis:
        description: |-
          The list of APIs served by this endpoint.

          If no APIs are specified this translates to "all APIs" exported by the
          service, as defined in the top-level service configuration.
        items:
          type: string
        type: array
      features:
        description: The list of features enabled on this endpoint.
        items:
          type: string
        type: array
      name:
        description: The canonical name of this endpoint.
        type: string
      target:
        description: |-
          The specification of an Internet routable address of API frontend that will
          handle requests to this [API Endpoint](https://cloud.google.com/apis/design/glossary).
          It should be either a valid IPv4 address or a fully-qualified domain name.
          For example, "8.8.8.8" or "myservice.appspot.com".
        type: string
    type: object
  Enum:
    description: Enum type definition.
    properties:
      enumvalue:
        description: Enum value definitions.
        items:
          $ref: '#/definitions/EnumValue'
        type: array
      name:
        description: Enum type name.
        type: string
      options:
        description: Protocol buffer options.
        items:
          $ref: '#/definitions/Option'
        type: array
      sourceContext:
        $ref: '#/definitions/SourceContext'
        description: The source context.
      syntax:
        description: The source syntax.
        enum:
          - SYNTAX_PROTO2
          - SYNTAX_PROTO3
        type: string
    type: object
  EnumValue:
    description: Enum value definition.
    properties:
      name:
        description: Enum value name.
        type: string
      number:
        description: Enum value number.
        format: int32
        type: integer
      options:
        description: Protocol buffer options.
        items:
          $ref: '#/definitions/Option'
        type: array
    type: object
  Experimental:
    description: |-
      Experimental service configuration. These configuration options can
      only be used by whitelisted users.
    properties:
      authorization:
        $ref: '#/definitions/AuthorizationConfig'
        description: Authorization configuration.
    type: object
  Expr:
    description: |-
      Represents an expression text. Example:

          title: "User account presence"
          description: "Determines whether the request has a user account"
          expression: "size(request.user) > 0"
    properties:
      description:
        description: |-
          An optional description of the expression. This is a longer text which
          describes the expression, e.g. when hovered over it in a UI.
        type: string
      expression:
        description: |-
          Textual representation of an expression in
          Common Expression Language syntax.

          The application context of the containing message determines which
          well-known feature set of CEL is supported.
        type: string
      location:
        description: |-
          An optional string indicating the location of the expression for error
          reporting, e.g. a file name and a position in the file.
        type: string
      title:
        description: |-
          An optional title for the expression, i.e. a short string describing
          its purpose. This can be used e.g. in UIs which allow to enter the
          expression.
        type: string
    type: object
  Field:
    description: A single field of a message type.
    properties:
      cardinality:
        description: The field cardinality.
        enum:
          - CARDINALITY_UNKNOWN
          - CARDINALITY_OPTIONAL
          - CARDINALITY_REQUIRED
          - CARDINALITY_REPEATED
        type: string
      defaultValue:
        description: The string value of the default value of this field. Proto2 syntax only.
        type: string
      jsonName:
        description: The field JSON name.
        type: string
      kind:
        description: The field type.
        enum:
          - TYPE_UNKNOWN
          - TYPE_DOUBLE
          - TYPE_FLOAT
          - TYPE_INT64
          - TYPE_UINT64
          - TYPE_INT32
          - TYPE_FIXED64
          - TYPE_FIXED32
          - TYPE_BOOL
          - TYPE_STRING
          - TYPE_GROUP
          - TYPE_MESSAGE
          - TYPE_BYTES
          - TYPE_UINT32
          - TYPE_ENUM
          - TYPE_SFIXED32
          - TYPE_SFIXED64
          - TYPE_SINT32
          - TYPE_SINT64
        type: string
      name:
        description: The field name.
        type: string
      number:
        description: The field number.
        format: int32
        type: integer
      oneofIndex:
        description: |-
          The index of the field type in `Type.oneofs`, for message or enumeration
          types. The first type has index 1; zero means the type is not in the list.
        format: int32
        type: integer
      options:
        description: The protocol buffer options.
        items:
          $ref: '#/definitions/Option'
        type: array
      packed:
        description: Whether to use alternative packed wire representation.
        type: boolean
      typeUrl:
        description: |-
          The field type URL, without the scheme, for message or enumeration
          types. Example: `"type.googleapis.com/google.protobuf.Timestamp"`.
        type: string
    type: object
  FlowOperationMetadata:
    description: The metadata associated with a long running operation resource.
    properties:
      cancelState:
        description: The state of the operation with respect to cancellation.
        enum:
          - RUNNING
          - UNCANCELLABLE
          - CANCELLED
        type: string
      deadline:
        description: |-
          Deadline for the flow to complete, to prevent orphaned Operations.

          If the flow has not completed by this time, it may be terminated by
          the engine, or force-failed by Operation lookup.

          Note that this is not a hard deadline after which the Flow will
          definitely be failed, rather it is a deadline after which it is reasonable
          to suspect a problem and other parts of the system may kill operation
          to ensure we don't have orphans.
          see also: go/prevent-orphaned-operations
        format: google-datetime
        type: string
      flowName:
        description: |-
          The name of the top-level flow corresponding to this operation.
          Must be equal to the "name" field for a FlowName enum.
        type: string
      resourceNames:
        description: The full name of the resources that this flow is directly associated with.
        items:
          type: string
        type: array
      startTime:
        description: The start time of the operation.
        format: google-datetime
        type: string
    type: object
  GenerateConfigReportRequest:
    description: Request message for GenerateConfigReport method.
    properties:
      newConfig:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Service configuration for which we want to generate the report.
          For this version of API, the supported types are
          google.api.servicemanagement.v1.ConfigRef,
          google.api.servicemanagement.v1.ConfigSource,
          and google.api.Service
        type: object
      oldConfig:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: |-
          Service configuration against which the comparison will be done.
          For this version of API, the supported types are
          google.api.servicemanagement.v1.ConfigRef,
          google.api.servicemanagement.v1.ConfigSource,
          and google.api.Service
        type: object
    type: object
  GenerateConfigReportResponse:
    description: Response message for GenerateConfigReport method.
    properties:
      changeReports:
        description: |-
          list of ChangeReport, each corresponding to comparison between two
          service configurations.
        items:
          $ref: '#/definitions/ChangeReport'
        type: array
      diagnostics:
        description: |-
          Errors / Linter warnings associated with the service definition this
          report
          belongs to.
        items:
          $ref: '#/definitions/Diagnostic'
        type: array
      id:
        description: ID of the service configuration this report belongs to.
        type: string
      serviceName:
        description: Name of the service this report belongs to.
        type: string
    type: object
  GetIamPolicyRequest:
    description: Request message for `GetIamPolicy` method.
    properties: {}
    type: object
  Http:
    description: |-
      Defines the HTTP configuration for an API service. It contains a list of
      HttpRule, each specifying the mapping of an RPC method
      to one or more HTTP REST API methods.
    properties:
      fullyDecodeReservedExpansion:
        description: |-
          When set to true, URL path parmeters will be fully URI-decoded except in
          cases of single segment matches in reserved expansion, where "%2F" will be
          left encoded.

          The default behavior is to not decode RFC 6570 reserved characters in multi
          segment matches.
        type: boolean
      rules:
        description: |-
          A list of HTTP configuration rules that apply to individual API methods.

          **NOTE:** All service configuration rules follow "last one wins" order.
        items:
          $ref: '#/definitions/HttpRule'
        type: array
    type: object
  HttpRule:
    description: |-
      `HttpRule` defines the mapping of an RPC method to one or more HTTP
      REST API methods. The mapping specifies how different portions of the RPC
      request message are mapped to URL path, URL query parameters, and
      HTTP request body. The mapping is typically specified as an
      `google.api.http` annotation on the RPC method,
      see "google/api/annotations.proto" for details.

      The mapping consists of a field specifying the path template and
      method kind.  The path template can refer to fields in the request
      message, as in the example below which describes a REST GET
      operation on a resource collection of messages:


          service Messaging {
            rpc GetMessage(GetMessageRequest) returns (Message) {
              option (google.api.http).get = "/v1/messages/{message_id}/{sub.subfield}";
            }
          }
          message GetMessageRequest {
            message SubMessage {
              string subfield = 1;
            }
            string message_id = 1; // mapped to the URL
            SubMessage sub = 2;    // `sub.subfield` is url-mapped
          }
          message Message {
            string text = 1; // content of the resource
          }

      The same http annotation can alternatively be expressed inside the
      `GRPC API Configuration` YAML file.

          http:
            rules:
              - selector: <proto_package_name>.Messaging.GetMessage
                get: /v1/messages/{message_id}/{sub.subfield}

      This definition enables an automatic, bidrectional mapping of HTTP
      JSON to RPC. Example:

      HTTP | RPC
      -----|-----
      `GET /v1/messages/123456/foo`  | `GetMessage(message_id: "123456" sub: SubMessage(subfield: "foo"))`

      In general, not only fields but also field paths can be referenced
      from a path pattern. Fields mapped to the path pattern cannot be
      repeated and must have a primitive (non-message) type.

      Any fields in the request message which are not bound by the path
      pattern automatically become (optional) HTTP query
      parameters. Assume the following definition of the request message:


          service Messaging {
            rpc GetMessage(GetMessageRequest) returns (Message) {
              option (google.api.http).get = "/v1/messages/{message_id}";
            }
          }
          message GetMessageRequest {
            message SubMessage {
              string subfield = 1;
            }
            string message_id = 1; // mapped to the URL
            int64 revision = 2;    // becomes a parameter
            SubMessage sub = 3;    // `sub.subfield` becomes a parameter
          }


      This enables a HTTP JSON to RPC mapping as below:

      HTTP | RPC
      -----|-----
      `GET /v1/messages/123456?revision=2&sub.subfield=foo` | `GetMessage(message_id: "123456" revision: 2 sub: SubMessage(subfield: "foo"))`

      Note that fields which are mapped to HTTP parameters must have a
      primitive type or a repeated primitive type. Message types are not
      allowed. In the case of a repeated type, the parameter can be
      repeated in the URL, as in `...?param=A&param=B`.

      For HTTP method kinds which allow a request body, the `body` field
      specifies the mapping. Consider a REST update method on the
      message resource collection:


          service Messaging {
            rpc UpdateMessage(UpdateMessageRequest) returns (Message) {
              option (google.api.http) = {
                put: "/v1/messages/{message_id}"
                body: "message"
              };
            }
          }
          message UpdateMessageRequest {
            string message_id = 1; // mapped to the URL
            Message message = 2;   // mapped to the body
          }


      The following HTTP JSON to RPC mapping is enabled, where the
      representation of the JSON in the request body is determined by
      protos JSON encoding:

      HTTP | RPC
      -----|-----
      `PUT /v1/messages/123456 { "text": "Hi!" }` | `UpdateMessage(message_id: "123456" message { text: "Hi!" })`

      The special name `*` can be used in the body mapping to define that
      every field not bound by the path template should be mapped to the
      request body.  This enables the following alternative definition of
      the update method:

          service Messaging {
            rpc UpdateMessage(Message) returns (Message) {
              option (google.api.http) = {
                put: "/v1/messages/{message_id}"
                body: "*"
              };
            }
          }
          message Message {
            string message_id = 1;
            string text = 2;
          }


      The following HTTP JSON to RPC mapping is enabled:

      HTTP | RPC
      -----|-----
      `PUT /v1/messages/123456 { "text": "Hi!" }` | `UpdateMessage(message_id: "123456" text: "Hi!")`

      Note that when using `*` in the body mapping, it is not possible to
      have HTTP parameters, as all fields not bound by the path end in
      the body. This makes this option more rarely used in practice of
      defining REST APIs. The common usage of `*` is in custom methods
      which don't use the URL at all for transferring data.

      It is possible to define multiple HTTP methods for one RPC by using
      the `additional_bindings` option. Example:

          service Messaging {
            rpc GetMessage(GetMessageRequest) returns (Message) {
              option (google.api.http) = {
                get: "/v1/messages/{message_id}"
                additional_bindings {
                  get: "/v1/users/{user_id}/messages/{message_id}"
                }
              };
            }
          }
          message GetMessageRequest {
            string message_id = 1;
            string user_id = 2;
          }


      This enables the following two alternative HTTP JSON to RPC
      mappings:

      HTTP | RPC
      -----|-----
      `GET /v1/messages/123456` | `GetMessage(message_id: "123456")`
      `GET /v1/users/me/messages/123456` | `GetMessage(user_id: "me" message_id: "123456")`

      # Rules for HTTP mapping

      The rules for mapping HTTP path, query parameters, and body fields
      to the request message are as follows:

      1. The `body` field specifies either `*` or a field path, or is
         omitted. If omitted, it indicates there is no HTTP request body.
      2. Leaf fields (recursive expansion of nested messages in the
         request) can be classified into three types:
          (a) Matched in the URL template.
          (b) Covered by body (if body is `*`, everything except (a) fields;
              else everything under the body field)
          (c) All other fields.
      3. URL query parameters found in the HTTP request are mapped to (c) fields.
      4. Any body sent with an HTTP request can contain only (b) fields.

      The syntax of the path template is as follows:

          Template = "/" Segments [ Verb ] ;
          Segments = Segment { "/" Segment } ;
          Segment  = "*" | "**" | LITERAL | Variable ;
          Variable = "{" FieldPath [ "=" Segments ] "}" ;
          FieldPath = IDENT { "." IDENT } ;
          Verb     = ":" LITERAL ;

      The syntax `*` matches a single path segment. The syntax `**` matches zero
      or more path segments, which must be the last part of the path except the
      `Verb`. The syntax `LITERAL` matches literal text in the path.

      The syntax `Variable` matches part of the URL path as specified by its
      template. A variable template must not contain other variables. If a variable
      matches a single path segment, its template may be omitted, e.g. `{var}`
      is equivalent to `{var=*}`.

      If a variable contains exactly one path segment, such as `"{var}"` or
      `"{var=*}"`, when such a variable is expanded into a URL path, all characters
      except `[-_.~0-9a-zA-Z]` are percent-encoded. Such variables show up in the
      Discovery Document as `{var}`.

      If a variable contains one or more path segments, such as `"{var=foo/*}"`
      or `"{var=**}"`, when such a variable is expanded into a URL path, all
      characters except `[-_.~/0-9a-zA-Z]` are percent-encoded. Such variables
      show up in the Discovery Document as `{+var}`.

      NOTE: While the single segment variable matches the semantics of
      [RFC 6570](https://tools.ietf.org/html/rfc6570) Section 3.2.2
      Simple String Expansion, the multi segment variable **does not** match
      RFC 6570 Reserved Expansion. The reason is that the Reserved Expansion
      does not expand special characters like `?` and `#`, which would lead
      to invalid URLs.

      NOTE: the field paths in variables and in the `body` must not refer to
      repeated fields or map fields.
    properties:
      additionalBindings:
        description: |-
          Additional HTTP bindings for the selector. Nested bindings must
          not contain an `additional_bindings` field themselves (that is,
          the nesting may only be one level deep).
        items:
          $ref: '#/definitions/HttpRule'
        type: array
      body:
        description: |-
          The name of the request field whose value is mapped to the HTTP body, or
          `*` for mapping all fields not captured by the path pattern to the HTTP
          body. NOTE: the referred field must not be a repeated field and must be
          present at the top-level of request message type.
        type: string
      custom:
        $ref: '#/definitions/CustomHttpPattern'
        description: |-
          The custom pattern is used for specifying an HTTP method that is not
          included in the `pattern` field, such as HEAD, or "*" to leave the
          HTTP method unspecified for this rule. The wild-card rule is useful
          for services that provide content to Web (HTML) clients.
      delete:
        description: Used for deleting a resource.
        type: string
      get:
        description: Used for listing and getting information about resources.
        type: string
      mediaDownload:
        $ref: '#/definitions/MediaDownload'
        description: |-
          Use this only for Scotty Requests. Do not use this for bytestream methods.
          For media support, add instead [][google.bytestream.RestByteStream] as an
          API to your configuration.
      mediaUpload:
        $ref: '#/definitions/MediaUpload'
        description: |-
          Use this only for Scotty Requests. Do not use this for media support using
          Bytestream, add instead
          [][google.bytestream.RestByteStream] as an API to your
          configuration for Bytestream methods.
      patch:
        description: Used for updating a resource.
        type: string
      post:
        description: Used for creating a resource.
        type: string
      put:
        description: Used for updating a resource.
        type: string
      responseBody:
        description: |-
          The name of the response field whose value is mapped to the HTTP body of
          response. Other response fields are ignored. This field is optional. When
[...]
