openapi: 3.0.0
servers:
  - url: https://androiddeviceprovisioning.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Automates Android zero-touch enrollment for device resellers, customers, and EMMs.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Android Device Provisioning Partner API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://androiddeviceprovisioning.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: androiddeviceprovisioning
externalDocs:
  url: https://developers.google.com/zero-touch/
tags:
  - name: customers
  - name: operations
  - name: partners
paths:
  /v1/customers:
    get:
      description: Lists the user's customer accounts.
      operationId: androiddeviceprovisioning.customers.list
      parameters:
        - description: The maximum number of customers to show in a page of results. A number between 1 and 100 (inclusive).
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token specifying which result page to return. This field has custom validations in ListCustomersRequestValidator
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerListCustomersResponse"
          description: Successful response
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/partners/{metadataOwnerId}/devices/{deviceId}/metadata":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Updates reseller metadata associated with the device. Android devices only.
      operationId: androiddeviceprovisioning.partners.devices.metadata
      parameters:
        - description: Required. The owner of the newly set metadata. Set this to the partner ID.
          in: path
          name: metadataOwnerId
          required: true
          schema:
            type: string
        - description: Required. The ID of the device.
          in: path
          name: deviceId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDeviceMetadataRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeviceMetadata"
          description: Successful response
      tags:
        - partners
  "/v1/partners/{partnerId}/customers":
    get:
      description: Lists the customers that are enrolled to the reseller identified by the `partnerId` argument. This list includes customers that the reseller created and customers that enrolled themselves using the portal.
      operationId: androiddeviceprovisioning.partners.customers.list
      parameters:
        - description: Required. The ID of the reseller partner.
          in: path
          name: partnerId
          required: true
          schema:
            type: string
        - description: The maximum number of results to be returned. If not specified or 0, all the records are returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results returned by the server.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomersResponse"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/partners/{partnerId}/devices:claim":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Claims a device for a customer and adds it to zero-touch enrollment. If the device is already claimed by another customer, the call returns an error.
      operationId: androiddeviceprovisioning.partners.devices.claim
      parameters:
        - description: Required. The ID of the reseller partner.
          in: path
          name: partnerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimDeviceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClaimDeviceResponse"
          description: Successful response
      tags:
        - partners
  "/v1/partners/{partnerId}/devices:claimAsync":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Claims a batch of devices for a customer asynchronously. Adds the devices to zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).
      operationId: androiddeviceprovisioning.partners.devices.claimAsync
      parameters:
        - description: Required. The ID of the reseller partner.
          in: path
          name: partnerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClaimDevicesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      tags:
        - partners
  "/v1/partners/{partnerId}/devices:findByIdentifier":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Finds devices by hardware identifiers, such as IMEI.
      operationId: androiddeviceprovisioning.partners.devices.findByIdentifier
      parameters:
        - description: Required. The ID of the reseller partner.
          in: path
          name: partnerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindDevicesByDeviceIdentifierRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindDevicesByDeviceIdentifierResponse"
          description: Successful response
      tags:
        - partners
  "/v1/partners/{partnerId}/devices:findByOwner":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Finds devices claimed for customers. The results only contain devices registered to the reseller that's identified by the `partnerId` argument. The customer's devices purchased from other resellers don't appear in the results.
      operationId: androiddeviceprovisioning.partners.devices.findByOwner
      parameters:
        - description: Required. The ID of the reseller partner.
          in: path
          name: partnerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindDevicesByOwnerRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindDevicesByOwnerResponse"
          description: Successful response
      tags:
        - partners
  "/v1/partners/{partnerId}/devices:unclaim":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Unclaims a device from a customer and removes it from zero-touch enrollment.
      operationId: androiddeviceprovisioning.partners.devices.unclaim
      parameters:
        - description: Required. The ID of the reseller partner.
          in: path
          name: partnerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnclaimDeviceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - partners
  "/v1/partners/{partnerId}/devices:unclaimAsync":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Unclaims a batch of devices for a customer asynchronously. Removes the devices from zero-touch enrollment. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).
      operationId: androiddeviceprovisioning.partners.devices.unclaimAsync
      parameters:
        - description: Required. The reseller partner ID.
          in: path
          name: partnerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UnclaimDevicesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      tags:
        - partners
  "/v1/partners/{partnerId}/devices:updateMetadataAsync":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Updates the reseller metadata attached to a batch of devices. This method updates devices asynchronously and returns an `Operation` that can be used to track progress. Read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations). Android Devices only.
      operationId: androiddeviceprovisioning.partners.devices.updateMetadataAsync
      parameters:
        - description: Required. The reseller partner ID.
          in: path
          name: partnerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateDeviceMetadataInBatchRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      tags:
        - partners
  "/v1/{name}":
    delete:
      description: Deletes an unused configuration. The API call fails if the customer has devices with the configuration applied.
      operationId: androiddeviceprovisioning.customers.configurations.delete
      parameters:
        - description: Required. The configuration to delete. An API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. If the configuration is applied to any devices, the API call fails.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - customers
    get:
      description: Gets a device.
      operationId: androiddeviceprovisioning.partners.devices.get
      parameters:
        - description: Required. The device API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Device"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a configuration's field values.
      operationId: androiddeviceprovisioning.customers.configurations.patch
      parameters:
        - description: Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. The field mask applied to the target `Configuration` before updating the fields. To learn more about using field masks, read [FieldMask](/protocol-buffers/docs/reference/google.protobuf#fieldmask) in the Protocol Buffers documentation.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Configuration"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Configuration"
          description: Successful response
      tags:
        - customers
  "/v1/{parent}/configurations":
    get:
      description: Lists a customer's configurations.
      operationId: androiddeviceprovisioning.customers.configurations.list
      parameters:
        - description: Required. The customer that manages the listed configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerListConfigurationsResponse"
          description: Successful response
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new configuration. Once created, a customer can apply the configuration to devices.
      operationId: androiddeviceprovisioning.customers.configurations.create
      parameters:
        - description: Required. The customer that manages the configuration. An API resource name in the format `customers/[CUSTOMER_ID]`. This field has custom validation in CreateConfigurationRequestValidator
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Configuration"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Configuration"
          description: Successful response
      tags:
        - customers
  "/v1/{parent}/customers":
    get:
      description: Lists the customers of the vendor.
      operationId: androiddeviceprovisioning.partners.vendors.customers.list
      parameters:
        - description: Required. The resource name in the format `partners/[PARTNER_ID]/vendors/[VENDOR_ID]`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of results to be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results returned by the server.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVendorCustomersResponse"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a customer for zero-touch enrollment. After the method returns successfully, admin and owner roles can manage devices and EMM configs by calling API methods or using their zero-touch enrollment portal. The customer receives an email that welcomes them to zero-touch enrollment and explains how to sign into the portal.
      operationId: androiddeviceprovisioning.partners.customers.create
      parameters:
        - description: Required. The parent resource ID in the format `partners/[PARTNER_ID]` that identifies the reseller.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: Successful response
      tags:
        - partners
  "/v1/{parent}/devices":
    get:
      description: Lists a customer's devices.
      operationId: androiddeviceprovisioning.customers.devices.list
      parameters:
        - description: Required. The customer managing the devices. An API resource name in the format `customers/[CUSTOMER_ID]`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.
          in: query
          name: pageSize
          schema:
            type: string
        - description: A token specifying which result page to return.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerListDevicesResponse"
          description: Successful response
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/devices:applyConfiguration":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Applies a Configuration to the device to register the device for zero-touch enrollment. After applying a configuration to a device, the device automatically provisions itself on first boot, or next factory reset.
      operationId: androiddeviceprovisioning.customers.devices.applyConfiguration
      parameters:
        - description: Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerApplyConfigurationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - customers
  "/v1/{parent}/devices:removeConfiguration":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Removes a configuration from device.
      operationId: androiddeviceprovisioning.customers.devices.removeConfiguration
      parameters:
        - description: Required. The customer managing the device in the format `customers/[CUSTOMER_ID]`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerRemoveConfigurationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - customers
  "/v1/{parent}/devices:unclaim":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Unclaims a device from a customer and removes it from zero-touch enrollment. After removing a device, a customer must contact their reseller to register the device into zero-touch enrollment again.
      operationId: androiddeviceprovisioning.customers.devices.unclaim
      parameters:
        - description: Required. The customer managing the device. An API resource name in the format `customers/[CUSTOMER_ID]`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CustomerUnclaimDeviceRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - customers
  "/v1/{parent}/dpcs":
    get:
      description: Lists the DPCs (device policy controllers) that support zero-touch enrollment.
      operationId: androiddeviceprovisioning.customers.dpcs.list
      parameters:
        - description: Required. The customer that can use the DPCs in configurations. An API resource name in the format `customers/[CUSTOMER_ID]`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomerListDpcsResponse"
          description: Successful response
      tags:
        - customers
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/vendors":
    get:
      description: Lists the vendors of the partner.
      operationId: androiddeviceprovisioning.partners.vendors.list
      parameters:
        - description: Required. The resource name in the format `partners/[PARTNER_ID]`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of results to be returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results returned by the server.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVendorsResponse"
          description: Successful response
      tags:
        - partners
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    ClaimDeviceRequest:
      description: Request message to claim a device on behalf of a customer.
      properties:
        customerId:
          description: The ID of the customer for whom the device is being claimed.
          format: int64
          type: string
        deviceIdentifier:
          $ref: "#/components/schemas/DeviceIdentifier"
          description: Required. Required. The device identifier of the device to claim.
        deviceMetadata:
          $ref: "#/components/schemas/DeviceMetadata"
          description: Optional. The metadata to attach to the device.
        googleWorkspaceCustomerId:
          description: The Google Workspace customer ID.
          type: string
        preProvisioningToken:
          description: Optional. Must and can only be set for Chrome OS devices.
          type: string
        sectionType:
          description: Required. The section type of the device's provisioning record.
          enum:
            - SECTION_TYPE_UNSPECIFIED
            - SECTION_TYPE_SIM_LOCK
            - SECTION_TYPE_ZERO_TOUCH
          type: string
        simlockProfileId:
          description: Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.
          format: int64
          type: string
      type: object
    ClaimDeviceResponse:
      description: Response message containing device id of the claim.
      properties:
        deviceId:
          description: The device ID of the claimed device.
          format: int64
          type: string
        deviceName:
          description: The resource name of the device in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`.
          type: string
      type: object
    ClaimDevicesRequest:
      description: Request to claim devices asynchronously in batch. Claiming a device adds the device to zero-touch enrollment and shows the device in the customer's view of the portal.
      properties:
        claims:
          description: Required. A list of device claims.
          items:
            $ref: "#/components/schemas/PartnerClaim"
          type: array
      type: object
    Company:
      description: A reseller, vendor, or customer in the zero-touch reseller and customer APIs.
      properties:
        adminEmails:
          description: Optional. Email address of customer's users in the admin role. Each email address must be associated with a Google Account.
          items:
            type: string
          type: array
        companyId:
          description: Output only. The ID of the company. Assigned by the server.
          format: int64
          readOnly: true
          type: string
        companyName:
          description: Required. The name of the company. For example _XYZ Corp_. Displayed to the company's employees in the zero-touch enrollment portal.
          type: string
        googleWorkspaceAccount:
          $ref: "#/components/schemas/GoogleWorkspaceAccount"
          description: Output only. The Google Workspace account associated with this customer. Only used for customer Companies.
          readOnly: true
        languageCode:
          description: "Input only. The preferred locale of the customer represented as a BCP47 language code. This field is validated on input and requests containing unsupported language codes will be rejected. Supported language codes: Arabic (ar) Chinese (Hong Kong) (zh-HK) Chinese (Simplified) (zh-CN) Chinese (Traditional) (zh-TW) Czech (cs) Danish (da) Dutch (nl) English (UK) (en-GB) English (US) (en-US) Filipino (fil) Finnish (fi) French (fr) German (de) Hebrew (iw) Hindi (hi) Hungarian (hu) Indonesian (id) Italian (it) Japanese (ja) Korean (ko) Norwegian (Bokmal) (no) Polish (pl) Portuguese (Brazil) (pt-BR) Portuguese (Portugal) (pt-PT) Russian (ru) Spanish (es) Spanish (Latin America) (es-419) Swedish (sv) Thai (th) Turkish (tr) Ukrainian (uk) Vietnamese (vi)"
          type: string
        name:
          description: "Output only. The API resource name of the company. The resource name is one of the following formats: * `partners/[PARTNER_ID]/customers/[CUSTOMER_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]` * `partners/[PARTNER_ID]/vendors/[VENDOR_ID]/customers/[CUSTOMER_ID]` Assigned by the server."
          readOnly: true
          type: string
        ownerEmails:
          description: Required. Input only. Email address of customer's users in the owner role. At least one `owner_email` is required. Owners share the same access as admins but can also add, delete, and edit your organization's portal users.
          items:
            type: string
          type: array
        skipWelcomeEmail:
          description: Input only. If set to true, welcome email will not be sent to the customer. It is recommended to skip the welcome email if devices will be claimed with additional DEVICE_PROTECTION service, as the customer will receive separate emails at device claim time. This field is ignored if this is not a Zero-touch customer.
          type: boolean
        termsStatus:
          description: Output only. Whether any user from the company has accepted the latest Terms of Service (ToS). See TermsStatus.
          enum:
            - TERMS_STATUS_UNSPECIFIED
            - TERMS_STATUS_NOT_ACCEPTED
            - TERMS_STATUS_ACCEPTED
            - TERMS_STATUS_STALE
          readOnly: true
          type: string
      type: object
    Configuration:
      description: "A configuration collects the provisioning options for Android devices. Each configuration combines the following: * The EMM device policy controller (DPC) installed on the devices. * EMM policies enforced on the devices. * Metadata displayed on the device to help users during setup. Customers can add as many configurations as they need. However, zero-touch enrollment works best when a customer sets a default configuration that's applied to any new devices the organization purchases."
      properties:
        companyName:
          description: Required. The name of the organization. Zero-touch enrollment shows this organization name to device users during device provisioning.
          type: string
        configurationId:
          description: Output only. The ID of the configuration. Assigned by the server.
          format: int64
          readOnly: true
          type: string
        configurationName:
          description: Required. A short name that describes the configuration's purpose. For example, _Sales team_ or _Temporary employees_. The zero-touch enrollment portal displays this name to IT admins.
          type: string
        contactEmail:
          description: Required. The email address that device users can contact to get help. Zero-touch enrollment shows this email address to device users before device provisioning. The value is validated on input.
          type: string
        contactPhone:
          description: Required. The telephone number that device users can call, using another device, to get help. Zero-touch enrollment shows this number to device users before device provisioning. Accepts numerals, spaces, the plus sign, hyphens, and parentheses.
          type: string
        customMessage:
          description: A message, containing one or two sentences, to help device users get help or give them more details about what’s happening to their device. Zero-touch enrollment shows this message before the device is provisioned.
          type: string
        dpcExtras:
          description: The JSON-formatted EMM provisioning extras that are passed to the DPC.
          type: string
        dpcResourcePath:
          description: Required. The resource name of the selected DPC (device policy controller) in the format `customers/[CUSTOMER_ID]/dpcs/*`. To list the supported DPCs, call `customers.dpcs.list`.
          type: string
        isDefault:
          description: Required. Whether this is the default configuration that zero-touch enrollment applies to any new devices the organization purchases in the future. Only one customer configuration can be the default. Setting this value to `true`, changes the previous default configuration's `isDefault` value to `false`.
          type: boolean
        name:
          description: Output only. The API resource name in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`. Assigned by the server.
          readOnly: true
          type: string
      type: object
    CreateCustomerRequest:
      description: Request message to create a customer.
      properties:
        customer:
          $ref: "#/components/schemas/Company"
          description: Required. The company data to populate the new customer. Must contain a value for `companyName` and at least one `owner_email` that's associated with a Google Account. The values for `companyId` and `name` must be empty.
      type: object
    CustomerApplyConfigurationRequest:
      description: Request message for customer to assign a configuration to device.
      properties:
        configuration:
          description: Required. The configuration applied to the device in the format `customers/[CUSTOMER_ID]/configurations/[CONFIGURATION_ID]`.
          type: string
        device:
          $ref: "#/components/schemas/DeviceReference"
          description: Required. The device the configuration is applied to. There are custom validations in ApplyConfigurationRequestValidator
      type: object
    CustomerListConfigurationsResponse:
      description: Response message of customer's listing configuration.
      properties:
        configurations:
          description: The configurations.
          items:
            $ref: "#/components/schemas/Configuration"
          type: array
      type: object
    CustomerListCustomersResponse:
      description: Response message for listing my customers.
      properties:
        customers:
          description: The customer accounts the calling user is a member of.
          items:
            $ref: "#/components/schemas/Company"
          type: array
        nextPageToken:
          description: A token used to access the next page of results. Omitted if no further results are available.
          type: string
      type: object
    CustomerListDevicesResponse:
      description: Response message of customer's liting devices.
      properties:
        devices:
          description: The customer's devices.
          items:
            $ref: "#/components/schemas/Device"
          type: array
        nextPageToken:
          description: A token used to access the next page of results. Omitted if no further results are available.
          type: string
      type: object
    CustomerListDpcsResponse:
      description: Response message of customer's listing DPCs.
      properties:
        dpcs:
          description: The list of DPCs available to the customer that support zero-touch enrollment.
          items:
            $ref: "#/components/schemas/Dpc"
          type: array
      type: object
    CustomerRemoveConfigurationRequest:
      description: Request message for customer to remove the configuration from device.
      properties:
        device:
          $ref: "#/components/schemas/DeviceReference"
          description: Required. The device to remove the configuration from. There are custom validations in RemoveConfigurationRequestValidator
      type: object
    CustomerUnclaimDeviceRequest:
      description: Request message for customer to unclaim a device.
      properties:
        device:
          $ref: "#/components/schemas/DeviceReference"
          description: Required. The device to unclaim. There are custom validations in UnclaimDeviceRequestValidator.
      type: object
    Device:
      description: An Android or Chrome OS device registered for zero-touch enrollment.
      properties:
        claims:
          description: Output only. The provisioning claims for a device. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. Call `partners.devices.unclaim` or `partners.devices.unclaimAsync` to remove the device from zero-touch enrollment.
          items:
            $ref: "#/components/schemas/DeviceClaim"
          readOnly: true
          type: array
        configuration:
          description: Not available to resellers.
          type: string
        deviceId:
          description: Output only. The ID of the device. Assigned by the server.
          format: int64
          readOnly: true
          type: string
        deviceIdentifier:
          $ref: "#/components/schemas/DeviceIdentifier"
          description: The hardware IDs that identify a manufactured device. To learn more, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).
        deviceMetadata:
          $ref: "#/components/schemas/DeviceMetadata"
          description: The metadata attached to the device. Structured as key-value pairs. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).
        name:
          description: Output only. The API resource name in the format `partners/[PARTNER_ID]/devices/[DEVICE_ID]`. Assigned by the server.
          readOnly: true
          type: string
      type: object
    DeviceClaim:
      description: A record of a device claimed by a reseller for a customer. Devices claimed for zero-touch enrollment have a claim with the type `SECTION_TYPE_ZERO_TOUCH`. To learn more, read [Claim devices for customers](/zero-touch/guides/how-it-works#claim).
      properties:
        additionalService:
          description: The Additional service registered for the device.
          enum:
            - ADDITIONAL_SERVICE_UNSPECIFIED
            - DEVICE_PROTECTION
          type: string
        googleWorkspaceCustomerId:
          description: The ID of the Google Workspace account that owns the Chrome OS device.
          type: string
        ownerCompanyId:
          description: The ID of the Customer that purchased the device.
          format: int64
          type: string
        resellerId:
          description: The ID of the reseller that claimed the device.
          format: int64
          type: string
        sectionType:
          description: Output only. The type of claim made on the device.
          enum:
            - SECTION_TYPE_UNSPECIFIED
            - SECTION_TYPE_SIM_LOCK
            - SECTION_TYPE_ZERO_TOUCH
          readOnly: true
          type: string
        vacationModeExpireTime:
          description: The timestamp when the device will exit ‘vacation mode’. This value is present iff the device is in 'vacation mode'.
          format: google-datetime
          type: string
        vacationModeStartTime:
          description: The timestamp when the device was put into ‘vacation mode’. This value is present iff the device is in 'vacation mode'.
          format: google-datetime
          type: string
      type: object
    DeviceIdentifier:
      description: Encapsulates hardware and product IDs to identify a manufactured device. To understand requirements on identifier sets, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers).
      properties:
        chromeOsAttestedDeviceId:
          description: An identifier provided by OEMs, carried through the production and sales process. Only applicable to Chrome OS devices.
          type: string
        deviceType:
          description: The type of the device
          enum:
            - DEVICE_TYPE_UNSPECIFIED
            - DEVICE_TYPE_ANDROID
            - DEVICE_TYPE_CHROME_OS
          type: string
        imei:
          description: The device’s IMEI number. Validated on input.
          type: string
        manufacturer:
          description: The device manufacturer’s name. Matches the device's built-in value returned from `android.os.Build.MANUFACTURER`. Allowed values are listed in [Android manufacturers](/zero-touch/resources/manufacturer-names#manufacturers-names).
          type: string
        meid:
          description: The device’s MEID number.
          type: string
        model:
          description: The device model's name. Allowed values are listed in [Android models](/zero-touch/resources/manufacturer-names#model-names) and [Chrome OS models](https://support.google.com/chrome/a/answer/10130175#identify_compatible).
          type: string
        serialNumber:
          description: The manufacturer's serial number for the device. This value might not be unique across different device models.
          type: string
      type: object
    DeviceMetadata:
      description: Metadata entries that can be attached to a `Device`. To learn more, read [Device metadata](https://developers.google.com/zero-touch/guides/metadata).
      properties:
        entries:
          additionalProperties:
            type: string
          description: Metadata entries recorded as key-value pairs.
          type: object
      type: object
    DeviceReference:
      description: "A `DeviceReference` is an API abstraction that lets you supply a _device_ argument to a method using one of the following identifier types: * A numeric API resource ID. * Real-world hardware IDs, such as IMEI number, belonging to the manufactured device. Methods that operate on devices take a `DeviceReference` as a parameter type because it's more flexible for the caller. To learn more about device identifiers, read [Identifiers](https://developers.google.com/zero-touch/guides/identifiers)."
      properties:
        deviceId:
          description: The ID of the device.
          format: int64
          type: string
        deviceIdentifier:
          $ref: "#/components/schemas/DeviceIdentifier"
          description: The hardware IDs of the device.
      type: object
    DevicesLongRunningOperationMetadata:
      description: Tracks the status of a long-running operation to asynchronously update a batch of reseller metadata attached to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).
      properties:
        devicesCount:
          description: The number of metadata updates in the operation. This might be different from the number of updates in the request if the API can't parse some of the updates.
          format: int32
          type: integer
        processingStatus:
          description: The processing status of the operation.
          enum:
            - BATCH_PROCESS_STATUS_UNSPECIFIED
            - BATCH_PROCESS_PENDING
            - BATCH_PROCESS_IN_PROGRESS
            - BATCH_PROCESS_PROCESSED
          type: string
        progress:
          description: The processing progress of the operation. Measured as a number from 0 to 100. A value of 10O doesn't always mean the operation completed—check for the inclusion of a `done` field.
          format: int32
          type: integer
      type: object
    DevicesLongRunningOperationResponse:
      description: Tracks the status of a long-running operation to claim, unclaim, or attach metadata to devices. To learn more, read [Long‑running batch operations](/zero-touch/guides/how-it-works#operations).
      properties:
        perDeviceStatus:
          description: The processing status for each device in the operation. One `PerDeviceStatus` per device. The list order matches the items in the original request.
          items:
            $ref: "#/components/schemas/OperationPerDevice"
          type: array
        successCount:
          description: A summary of how many items in the operation the server processed successfully. Updated as the operation progresses.
          format: int32
          type: integer
      type: object
    Dpc:
      description: An EMM's DPC ([device policy controller](http://developer.android.com/work/dpc/build-dpc.html)). Zero-touch enrollment installs a DPC (listed in the `Configuration`) on a device to maintain the customer's mobile policies. All the DPCs listed by the API support zero-touch enrollment and are available in Google Play.
      properties:
        dpcName:
          description: Output only. The title of the DPC app in Google Play. For example, _Google Apps Device Policy_. Useful in an application's user interface.
          readOnly: true
          type: string
        name:
          description: Output only. The API resource name in the format `customers/[CUSTOMER_ID]/dpcs/[DPC_ID]`. Assigned by the server. To maintain a reference to a DPC across customer accounts, persist and match the last path component (`DPC_ID`).
          readOnly: true
          type: string
        packageName:
          description: Output only. The DPC's Android application ID that looks like a Java package name. Zero-touch enrollment installs the DPC app onto a device using this identifier.
          readOnly: true
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    FindDevicesByDeviceIdentifierRequest:
      description: Request to find devices.
      properties:
        deviceIdentifier:
          $ref: "#/components/schemas/DeviceIdentifier"
          description: Required. Required. The device identifier to search for.
        limit:
          description: Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.
          format: int64
          type: string
        pageToken:
          description: A token specifying which result page to return.
          type: string
      type: object
    FindDevicesByDeviceIdentifierResponse:
      description: Response containing found devices.
      properties:
        devices:
          description: Found devices.
          items:
            $ref: "#/components/schemas/Device"
          type: array
        nextPageToken:
          description: A token used to access the next page of results. Omitted if no further results are available.
          type: string
        totalSize:
          description: The total count of items in the list irrespective of pagination.
          format: int32
          type: integer
      type: object
    FindDevicesByOwnerRequest:
      description: Request to find devices by customers.
      properties:
        customerId:
          description: The list of customer IDs to search for.
          items:
            format: int64
            type: string
          type: array
        googleWorkspaceCustomerId:
          description: The list of IDs of Google Workspace accounts to search for.
          items:
            type: string
          type: array
        limit:
          description: Required. The maximum number of devices to show in a page of results. Must be between 1 and 100 inclusive.
          format: int64
          type: string
        pageToken:
          description: A token specifying which result page to return.
          type: string
        sectionType:
          description: Required. The section type of the device's provisioning record.
          enum:
            - SECTION_TYPE_UNSPECIFIED
            - SECTION_TYPE_SIM_LOCK
            - SECTION_TYPE_ZERO_TOUCH
          type: string
      type: object
    FindDevicesByOwnerResponse:
      description: Response containing found devices.
      properties:
        devices:
          description: The customer's devices.
          items:
            $ref: "#/components/schemas/Device"
          type: array
        nextPageToken:
          description: A token used to access the next page of results. Omitted if no further results are available.
          type: string
        totalSize:
          description: The total count of items in the list irrespective of pagination.
          format: int32
          type: integer
      type: object
    GoogleWorkspaceAccount:
      description: A Google Workspace customer.
      properties:
        customerId:
          description: Required. The customer ID.
          type: string
        preProvisioningTokens:
          description: Output only. The pre-provisioning tokens previously used to claim devices.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    ListCustomersResponse:
      description: Response message of all customers related to this partner.
      properties:
        customers:
          description: List of customers related to this reseller partner.
          items:
            $ref: "#/components/schemas/Company"
          type: array
        nextPageToken:
          description: A token to retrieve the next page of results. Omitted if no further results are available.
          type: string
        totalSize:
          description: The total count of items in the list irrespective of pagination.
          format: int32
          type: integer
      type: object
    ListVendorCustomersResponse:
      description: Response message to list customers of the vendor.
      properties:
        customers:
          description: List of customers of the vendor.
          items:
            $ref: "#/components/schemas/Company"
          type: array
        nextPageToken:
          description: A token to retrieve the next page of results. Omitted if no further results are available.
          type: string
        totalSize:
          description: The total count of items in the list irrespective of pagination.
          format: int32
          type: integer
      type: object
    ListVendorsResponse:
      description: Response message to list vendors of the partner.
      properties:
        nextPageToken:
          description: A token to retrieve the next page of results. Omitted if no further results are available.
          type: string
        totalSize:
          description: The total count of items in the list irrespective of pagination.
          format: int32
          type: integer
        vendors:
          description: List of vendors of the reseller partner. Fields `name`, `companyId` and `companyName` are populated to the Company object.
          items:
            $ref: "#/components/schemas/Company"
          type: array
      type: object
    Operation:
      description: This resource represents a long-running operation that is the result of a network API call.
      properties:
        done:
          description: If the value is `false`, it means the operation is still in progress. If `true`, the operation is completed, and either `error` or `response` is available.
          type: boolean
        error:
          $ref: "#/components/schemas/Status"
          description: This field will always be not set if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`. In this case, error information for each device is set in `response.perDeviceStatus.result.status`.
        metadata:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: This field will contain a `DevicesLongRunningOperationMetadata` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.
          type: object
        name:
          description: The server-assigned name, which is only unique within the same service that originally returns it. If you use the default HTTP mapping, the `name` should be a resource name ending with `operations/{unique_id}`.
          type: string
        response:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          description: This field will contain a `DevicesLongRunningOperationResponse` object if the operation is created by `claimAsync`, `unclaimAsync`, or `updateMetadataAsync`.
          type: object
      type: object
    OperationPerDevice:
      description: A task for each device in the operation. Corresponds to each device change in the request.
      properties:
        claim:
          $ref: "#/components/schemas/PartnerClaim"
          description: A copy of the original device-claim request received by the server.
        result:
          $ref: "#/components/schemas/PerDeviceStatusInBatch"
          description: The processing result for each device.
        unclaim:
          $ref: "#/components/schemas/PartnerUnclaim"
          description: A copy of the original device-unclaim request received by the server.
        updateMetadata:
          $ref: "#/components/schemas/UpdateMetadataArguments"
          description: A copy of the original metadata-update request received by the server.
      type: object
    PartnerClaim:
      description: Identifies one claim request.
      properties:
        customerId:
          description: The ID of the customer for whom the device is being claimed.
          format: int64
          type: string
        deviceIdentifier:
          $ref: "#/components/schemas/DeviceIdentifier"
          description: Required. Required. Device identifier of the device.
        deviceMetadata:
          $ref: "#/components/schemas/DeviceMetadata"
          description: Required. The metadata to attach to the device at claim.
        googleWorkspaceCustomerId:
          description: The Google Workspace customer ID.
          type: string
        preProvisioningToken:
          description: Optional. Must and can only be set for Chrome OS devices.
          type: string
        sectionType:
          description: Required. The section type of the device's provisioning record.
          enum:
            - SECTION_TYPE_UNSPECIFIED
            - SECTION_TYPE_SIM_LOCK
            - SECTION_TYPE_ZERO_TOUCH
          type: string
        simlockProfileId:
          description: Optional. Must and can only be set when DeviceProvisioningSectionType is SECTION_TYPE_SIM_LOCK. The unique identifier of the SimLock profile.
          format: int64
          type: string
      type: object
    PartnerUnclaim:
      description: Identifies one unclaim request.
      properties:
        deviceId:
          description: Required. Device ID of the device.
          format: int64
          type: string
        deviceIdentifier:
          $ref: "#/components/schemas/DeviceIdentifier"
          description: Required. Device identifier of the device.
        sectionType:
          description: Required. The section type of the device's provisioning record.
          enum:
            - SECTION_TYPE_UNSPECIFIED
            - SECTION_TYPE_SIM_LOCK
            - SECTION_TYPE_ZERO_TOUCH
          type: string
        vacationModeDays:
          description: Optional. The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)
          format: int32
          type: integer
        vacationModeExpireTime:
          description: Optional. The expiration time of the vacation unlock.
          format: google-datetime
          type: string
      type: object
    PerDeviceStatusInBatch:
      description: Captures the processing status for each device in the operation.
      properties:
        deviceId:
          description: If processing succeeds, the device ID of the device.
          format: int64
          type: string
        errorIdentifier:
          description: If processing fails, the error type.
          type: string
        errorMessage:
          description: If processing fails, a developer message explaining what went wrong.
          type: string
        status:
          description: The result status of the device after processing.
          enum:
            - SINGLE_DEVICE_STATUS_UNSPECIFIED
            - SINGLE_DEVICE_STATUS_UNKNOWN_ERROR
            - SINGLE_DEVICE_STATUS_OTHER_ERROR
            - SINGLE_DEVICE_STATUS_SUCCESS
            - SINGLE_DEVICE_STATUS_PERMISSION_DENIED
            - SINGLE_DEVICE_STATUS_INVALID_DEVICE_IDENTIFIER
            - SINGLE_DEVICE_STATUS_INVALID_SECTION_TYPE
            - SINGLE_DEVICE_STATUS_SECTION_NOT_YOURS
            - SINGLE_DEVICE_STATUS_INVALID_TOKEN
            - SINGLE_DEVICE_STATUS_REVOKED_TOKEN
          type: string
      type: object
    Status:
      description: "The `Status` type defines a logical error model that is suitable for different programming environments, including REST APIs and RPC APIs. It is used by [gRPC](https://github.com/grpc). Each `Status` message contains three pieces of data: error code, error message, and error details. You can find out more about this error model and how to work with it in the [API Design Guide](https://cloud.google.com/apis/design/errors)."
      properties:
        code:
          description: The status code, which should be an enum value of google.rpc.Code.
          format: int32
          type: integer
        details:
          description: A list of messages that carry the error details. There is a common set of message types for APIs to use.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
        message:
          description: A developer-facing error message, which should be in English. Any user-facing error message should be localized and sent in the google.rpc.Status.details field, or localized by the client.
          type: string
      type: object
    UnclaimDeviceRequest:
      description: Request message to unclaim a device.
      properties:
        deviceId:
          description: Required. The device ID returned by `ClaimDevice`.
          format: int64
          type: string
        deviceIdentifier:
          $ref: "#/components/schemas/DeviceIdentifier"
          description: Required. The device identifier you used when you claimed this device.
        sectionType:
          description: Required. The section type of the device's provisioning record.
          enum:
            - SECTION_TYPE_UNSPECIFIED
            - SECTION_TYPE_SIM_LOCK
            - SECTION_TYPE_ZERO_TOUCH
          type: string
        vacationModeDays:
          description: The duration of the vacation unlock starting from when the request is processed. (1 day is treated as 24 hours)
          format: int32
          type: integer
        vacationModeExpireTime:
          description: The expiration time of the vacation unlock.
          format: google-datetime
          type: string
      type: object
    UnclaimDevicesRequest:
      description: Request to unclaim devices asynchronously in batch.
      properties:
        unclaims:
          description: Required. The list of devices to unclaim.
          items:
            $ref: "#/components/schemas/PartnerUnclaim"
          type: array
      type: object
    UpdateDeviceMetadataInBatchRequest:
      description: Request to update device metadata in batch.
      properties:
        updates:
          description: Required. The list of metadata updates.
          items:
            $ref: "#/components/schemas/UpdateMetadataArguments"
          type: array
      type: object
    UpdateDeviceMetadataRequest:
      description: Request to set metadata for a device.
      properties:
        deviceMetadata:
          $ref: "#/components/schemas/DeviceMetadata"
          description: Required. The metadata to attach to the device.
      type: object
    UpdateMetadataArguments:
      description: Identifies metadata updates to one device.
      properties:
        deviceId:
          description: Required. Device ID of the device.
          format: int64
          type: string
        deviceIdentifier:
          $ref: "#/components/schemas/DeviceIdentifier"
          description: Required. Device identifier.
        deviceMetadata:
          $ref: "#/components/schemas/DeviceMetadata"
          description: Required. The metadata to update.
      type: object
