openapi: 3.0.0
servers:
  - url: https://southcentralus.api.cognitive.microsoft.com/customvision/v3.2/training
  - url: "{Endpoint}/customvision/v3.2/training"
    variables:
      Endpoint:
        default: none
        description: Supported Cognitive Services endpoints.
        x-ms-parameter-location: client
        x-ms-skip-url-encoding: true
info:
  contact:
    x-twitter: microsoft
  title: Custom Vision Training Client
  version: "3.2"
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v3.2/Training.json
      version: "3.0"
  x-preferred: true
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Training
  x-tags:
    - Microsoft
security:
  - apim_key: []
paths:
  /domains:
    get:
      operationId: GetDomains
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                type: array
            application/xml:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                type: array
            text/xml:
              examples:
                Successful GetDomains request:
                  $ref: "#/components/examples/Successful_GetDomains_request"
              schema:
                items:
                  $ref: "#/components/schemas/Domain"
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get a list of the available domains.
      tags:
        - DomainsApi
  "/domains/{domainId}":
    get:
      operationId: GetDomain
      parameters:
        - description: The id of the domain to get information about.
          examples:
            Successful GetDomain request:
              value: b30a91ae-e3c1-4f73-a81e-c270bff27c39
          in: path
          name: domainId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
            application/xml:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
            text/xml:
              examples:
                Successful GetDomain request:
                  $ref: "#/components/examples/Successful_GetDomain_request"
              schema:
                $ref: "#/components/schemas/Domain"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get information about a specific domain.
      tags:
        - DomainsApi
  /projects:
    get:
      operationId: GetProjects
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                type: array
            application/xml:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                type: array
            text/xml:
              examples:
                Successful GetProjects request:
                  $ref: "#/components/examples/Successful_GetProjects_request"
              schema:
                items:
                  $ref: "#/components/schemas/Project"
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get your projects.
      tags:
        - ProjectApi
    post:
      operationId: CreateProject
      parameters:
        - description: Name of the project.
          examples:
            Successful CreateProject request:
              value: My New Project
          in: query
          name: name
          required: true
          schema:
            type: string
        - description: The description of the project.
          examples:
            Successful CreateProject request:
              value: A test project
          in: query
          name: description
          required: false
          schema:
            type: string
        - description: The id of the domain to use for this project. Defaults to General.
          examples:
            Successful CreateProject request:
              value: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
          in: query
          name: domainId
          required: false
          schema:
            format: uuid
            type: string
        - description: The type of classifier to create for this project.
          in: query
          name: classificationType
          required: false
          schema:
            enum:
              - Multiclass
              - Multilabel
            type: string
        - description: List of platforms the trained model is intending exporting to.
          explode: false
          in: query
          name: targetExportPlatforms
          required: false
          schema:
            items:
              enum:
                - CoreML
                - TensorFlow
                - DockerFile
                - ONNX
                - VAIDK
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful CreateProject request:
                  $ref: "#/components/examples/Successful_CreateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Create a project.
      tags:
        - ProjectApi
  /projects/import:
    post:
      operationId: ImportProject
      parameters:
        - description: Token generated from the export project call.
          examples:
            Successful ImportProject request:
              value: token
          in: query
          name: token
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful ImportProject request:
                  $ref: "#/components/examples/Successful_ImportProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful ImportProject request:
                  $ref: "#/components/examples/Successful_ImportProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful ImportProject request:
                  $ref: "#/components/examples/Successful_ImportProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Imports a project.
      tags:
        - ProjectApi
  "/projects/{projectId}":
    delete:
      operationId: DeleteProject
      parameters:
        - description: The project id.
          examples:
            Successful DeleteProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "204":
          description: No Content
        default:
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Delete a specific project.
      tags:
        - ProjectApi
    get:
      operationId: GetProject
      parameters:
        - description: The id of the project to get.
          examples:
            Successful GetProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful GetProject request:
                  $ref: "#/components/examples/Successful_GetProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get a specific project.
      tags:
        - ProjectApi
    patch:
      operationId: UpdateProject
      parameters:
        - description: The id of the project to update.
          examples:
            Successful UpdateProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Project"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Project"
          application/xml:
            schema:
              $ref: "#/components/schemas/Project"
          text/xml:
            schema:
              $ref: "#/components/schemas/Project"
        description: The updated project model.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            application/xml:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
            text/xml:
              examples:
                Successful UpdateProject request:
                  $ref: "#/components/examples/Successful_UpdateProject_request"
              schema:
                $ref: "#/components/schemas/Project"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Update a specific project.
      tags:
        - ProjectApi
  "/projects/{projectId}/export":
    get:
      operationId: ExportProject
      parameters:
        - description: The project id of the project to export.
          examples:
            Successful ExportProject request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful ExportProject request:
                  $ref: "#/components/examples/Successful_ExportProject_request"
              schema:
                $ref: "#/components/schemas/ProjectExport"
            application/xml:
              examples:
                Successful ExportProject request:
                  $ref: "#/components/examples/Successful_ExportProject_request"
              schema:
                $ref: "#/components/schemas/ProjectExport"
            text/xml:
              examples:
                Successful ExportProject request:
                  $ref: "#/components/examples/Successful_ExportProject_request"
              schema:
                $ref: "#/components/schemas/ProjectExport"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Exports a project.
      tags:
        - ProjectApi
  "/projects/{projectId}/images":
    delete:
      operationId: DeleteImages
      parameters:
        - description: The project id.
          examples:
            Successful DeleteImages request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Ids of the images to be deleted. Limited to 256 images per batch.
          examples:
            Successful DeleteImages request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: imageIds
          required: false
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            maxItems: 256
            minItems: 0
            type: array
          style: form
        - description: Flag to specify delete all images, specify this flag or a list of images. Using this flag will return a 202 response to indicate the images are being deleted.
          in: query
          name: allImages
          required: false
          schema:
            type: boolean
        - description: Removes these images from all iterations, not just the current workspace. Using this flag will return a 202 response to indicate the images are being deleted.
          in: query
          name: allIterations
          required: false
          schema:
            type: boolean
      responses:
        "202":
          description: Accepted
        "204":
          description: No Content
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Delete images from the set of training images.
      tags:
        - ImageApi
    post:
      description: "This API accepts body content as multipart/form-data and application/octet-stream. When using multipart\r

        multiple image files can be sent at once, with a maximum of 64 files"
      operationId: CreateImagesFromData
      parameters:
        - description: The project id.
          examples:
            Successful CreateImagesFromData request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The tags ids with which to tag each image. Limited to 20.
          examples:
            Successful CreateImagesFromData request:
              value:
                - b607964f-7bd6-4a3b-a869-6791fb6aab87
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            maxItems: 20
            minItems: 0
            type: array
          style: form
      requestBody:
        $ref: "#/components/requestBodies/CreateImagesFromData"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromData request:
                  $ref: "#/components/examples/Successful_CreateImagesFromData_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Add the provided images to the set of training images.
      tags:
        - ImageApi
  "/projects/{projectId}/images/files":
    post:
      description: This API accepts a batch of files, and optionally tags, to create images. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromFiles
      parameters:
        - description: The project id.
          examples:
            Successful CreateImagesFromFiles request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageFileCreateBatch"
        description: The batch of image files to add. Limited to 64 images and 20 tags per batch.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromFiles request:
                  $ref: "#/components/examples/Successful_CreateImagesFromFiles_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Add the provided batch of images to the set of training images.
      tags:
        - ImageApi
  "/projects/{projectId}/images/id":
    get:
      description: "This API will return a set of Images for the specified tags and optionally iteration. If no iteration is specified the\r

        current workspace is used."
      operationId: GetImagesByIds
      parameters:
        - description: The project id.
          examples:
            Successful GetImagesByIds request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The list of image ids to retrieve. Limited to 256.
          explode: false
          in: query
          name: imageIds
          required: false
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            maxItems: 256
            minItems: 0
            type: array
          style: form
        - description: The iteration id. Defaults to workspace.
          examples:
            Successful GetImagesByIds request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetImagesByIds request:
                  $ref: "#/components/examples/Successful_GetImagesByIds_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
            application/xml:
              examples:
                Successful GetImagesByIds request:
                  $ref: "#/components/examples/Successful_GetImagesByIds_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
            text/xml:
              examples:
                Successful GetImagesByIds request:
                  $ref: "#/components/examples/Successful_GetImagesByIds_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get images by id for a given project iteration.
      tags:
        - ImageApi
  "/projects/{projectId}/images/predictions":
    post:
      description: This API creates a batch of images from predicted images specified. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromPredictions
      parameters:
        - description: The project id.
          examples:
            Successful CreateImagesFromPredictions request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageIdCreateBatch"
        description: Image and tag ids. Limited to 64 images and 20 tags per batch.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromPredictions request:
                  $ref: "#/components/examples/Successful_CreateImagesFromPredictions_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Add the specified predicted images to the set of training images.
      tags:
        - ImageApi
  "/projects/{projectId}/images/regions":
    delete:
      operationId: DeleteImageRegions
      parameters:
        - description: The project id.
          examples:
            Successful DeleteImageRegions request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Regions to delete. Limited to 64.
          examples:
            Successful DeleteImageRegions request:
              value:
                - ""
          explode: false
          in: query
          name: regionIds
          required: true
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            maxItems: 64
            minItems: 0
            type: array
          style: form
      responses:
        "204":
          description: No Content
        default:
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Delete a set of image regions.
      tags:
        - ImageApi
    post:
      description: "This API accepts a batch of image regions, and optionally tags, to update existing images with region information.\r

        There is a limit of 64 entries in the batch."
      operationId: CreateImageRegions
      parameters:
        - description: The project id.
          examples:
            Successful CreateImageRegions request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageRegionCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageRegionCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageRegionCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageRegionCreateBatch"
        description: Batch of image regions which include a tag and bounding box. Limited to 64.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImageRegions request:
                  $ref: "#/components/examples/Successful_CreateImageRegions_request"
              schema:
                $ref: "#/components/schemas/ImageRegionCreateSummary"
            application/xml:
              examples:
                Successful CreateImageRegions request:
                  $ref: "#/components/examples/Successful_CreateImageRegions_request"
              schema:
                $ref: "#/components/schemas/ImageRegionCreateSummary"
            text/xml:
              examples:
                Successful CreateImageRegions request:
                  $ref: "#/components/examples/Successful_CreateImageRegions_request"
              schema:
                $ref: "#/components/schemas/ImageRegionCreateSummary"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Create a set of image regions.
      tags:
        - ImageApi
  "/projects/{projectId}/images/suggested":
    post:
      description: This API will fetch untagged images filtered by suggested tags Ids. It returns an empty array if no images are found.
      operationId: QuerySuggestedImages
      parameters:
        - description: The project id.
          examples:
            Successful QuerySuggestedImages request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: IterationId to use for the suggested tags and regions.
          examples:
            Successful QuerySuggestedImages request:
              value: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
          in: query
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SuggestedTagAndRegionQueryToken"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/SuggestedTagAndRegionQueryToken"
          application/xml:
            schema:
              $ref: "#/components/schemas/SuggestedTagAndRegionQueryToken"
          text/xml:
            schema:
              $ref: "#/components/schemas/SuggestedTagAndRegionQueryToken"
        description: Contains properties we need to query suggested images.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QuerySuggestedImages request:
                  $ref: "#/components/examples/Successful_QuerySuggestedImages_request"
              schema:
                $ref: "#/components/schemas/SuggestedTagAndRegionQuery"
            application/xml:
              examples:
                Successful QuerySuggestedImages request:
                  $ref: "#/components/examples/Successful_QuerySuggestedImages_request"
              schema:
                $ref: "#/components/schemas/SuggestedTagAndRegionQuery"
            text/xml:
              examples:
                Successful QuerySuggestedImages request:
                  $ref: "#/components/examples/Successful_QuerySuggestedImages_request"
              schema:
                $ref: "#/components/schemas/SuggestedTagAndRegionQuery"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get untagged images whose suggested tags match given tags. Returns empty array if no images are found.
      tags:
        - ImageApi
  "/projects/{projectId}/images/suggested/count":
    post:
      description: This API takes in tagIds to get count of untagged images per suggested tags for a given threshold.
      operationId: QuerySuggestedImageCount
      parameters:
        - description: The project id.
          examples:
            Successful QuerySuggestedImageCount request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: IterationId to use for the suggested tags and regions.
          examples:
            Successful QuerySuggestedImageCount request:
              value: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
          in: query
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TagFilter"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/TagFilter"
          application/xml:
            schema:
              $ref: "#/components/schemas/TagFilter"
          text/xml:
            schema:
              $ref: "#/components/schemas/TagFilter"
        description: Model that contains tagIds, threshold and projectType to query by.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QuerySuggestedImageCount request:
                  $ref: "#/components/examples/Successful_QuerySuggestedImageCount_request"
              schema:
                additionalProperties:
                  format: int32
                  type: integer
                type: object
            application/xml:
              examples:
                Successful QuerySuggestedImageCount request:
                  $ref: "#/components/examples/Successful_QuerySuggestedImageCount_request"
              schema:
                additionalProperties:
                  format: int32
                  type: integer
                type: object
            text/xml:
              examples:
                Successful QuerySuggestedImageCount request:
                  $ref: "#/components/examples/Successful_QuerySuggestedImageCount_request"
              schema:
                additionalProperties:
                  format: int32
                  type: integer
                type: object
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get count of images whose suggested tags match given tags and their probabilities are greater than or equal to the given threshold. Returns count as 0 if none found.
      tags:
        - ImageApi
  "/projects/{projectId}/images/tagged":
    get:
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images to return in a given batch.\r

        The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImages
      parameters:
        - description: The project id.
          examples:
            Successful GetTaggedImages request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          examples:
            Successful GetTaggedImages request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
        - description: A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20.
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            maxItems: 20
            minItems: 0
            type: array
          style: form
        - description: The ordering. Defaults to newest.
          in: query
          name: orderBy
          required: false
          schema:
            enum:
              - Newest
              - Oldest
            type: string
        - description: Maximum number of images to return. Defaults to 50, limited to 256.
          in: query
          name: take
          required: false
          schema:
            default: 50
            format: int32
            maximum: 256
            minimum: 0
            type: integer
        - description: Number of images to skip before beginning the image batch. Defaults to 0.
          in: query
          name: skip
          required: false
          schema:
            default: 0
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
            application/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
            text/xml:
              examples:
                Successful GetTaggedImages request:
                  $ref: "#/components/examples/Successful_GetTaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get tagged images for a given project iteration.
      tags:
        - ImageApi
  "/projects/{projectId}/images/tagged/count":
    get:
      description: "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImageCount
      parameters:
        - description: The project id.
          examples:
            Successful GetTaggedImageCount request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          examples:
            Successful GetTaggedImageCount request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
        - description: A list of tags ids to filter the images to count. Defaults to all tags when null.
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetTaggedImageCount_request"
              schema:
                format: int32
                type: integer
            application/xml:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetTaggedImageCount_request"
              schema:
                format: int32
                type: integer
            text/xml:
              examples:
                Successful GetTaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetTaggedImageCount_request"
              schema:
                format: int32
                type: integer
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Gets the number of images tagged with the provided {tagIds}.
      tags:
        - ImageApi
  "/projects/{projectId}/images/tags":
    delete:
      operationId: DeleteImageTags
      parameters:
        - description: The project id.
          examples:
            Successful DeleteImageTags request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Image ids. Limited to 64 images.
          examples:
            Successful DeleteImageTags request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: imageIds
          required: true
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            maxItems: 64
            minItems: 0
            type: array
          style: form
        - description: Tags to be deleted from the specified images. Limited to 20 tags.
          examples:
            Successful DeleteImageTags request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: tagIds
          required: true
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            maxItems: 20
            minItems: 0
            type: array
          style: form
      responses:
        "204":
          description: No Content
        default:
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Remove a set of tags from a set of images.
      tags:
        - ImageApi
    post:
      operationId: CreateImageTags
      parameters:
        - description: The project id.
          examples:
            Successful CreateImageTags request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageTagCreateBatch"
        description: Batch of image tags. Limited to 128 tags per batch.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImageTags request:
                  $ref: "#/components/examples/Successful_CreateImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
            application/xml:
              examples:
                Successful CreateImageTags request:
                  $ref: "#/components/examples/Successful_CreateImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
            text/xml:
              examples:
                Successful CreateImageTags request:
                  $ref: "#/components/examples/Successful_CreateImageTags_request"
              schema:
                $ref: "#/components/schemas/ImageTagCreateSummary"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Associate a set of images with a set of tags.
      tags:
        - ImageApi
  "/projects/{projectId}/images/untagged":
    get:
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images to return in a given batch."
      operationId: GetUntaggedImages
      parameters:
        - description: The project id.
          examples:
            Successful GetUntaggedImages request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          examples:
            Successful GetUntaggedImages request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
        - description: The ordering. Defaults to newest.
          in: query
          name: orderBy
          required: false
          schema:
            enum:
              - Newest
              - Oldest
            type: string
        - description: Maximum number of images to return. Defaults to 50, limited to 256.
          in: query
          name: take
          required: false
          schema:
            default: 50
            format: int32
            maximum: 256
            minimum: 0
            type: integer
        - description: Number of images to skip before beginning the image batch. Defaults to 0.
          in: query
          name: skip
          required: false
          schema:
            default: 0
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
            application/xml:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
            text/xml:
              examples:
                Successful GetUntaggedImages request:
                  $ref: "#/components/examples/Successful_GetUntaggedImages_request"
              schema:
                items:
                  $ref: "#/components/schemas/Image"
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get untagged images for a given project iteration.
      tags:
        - ImageApi
  "/projects/{projectId}/images/untagged/count":
    get:
      description: "This API returns the images which have no tags for a given project and optionally an iteration. If no iteration is specified the\r

        current workspace is used."
      operationId: GetUntaggedImageCount
      parameters:
        - description: The project id.
          examples:
            Successful GetUntaggedImageCount request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          examples:
            Successful GetUntaggedImageCount request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetUntaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetUntaggedImageCount_request"
              schema:
                format: int32
                type: integer
            application/xml:
              examples:
                Successful GetUntaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetUntaggedImageCount_request"
              schema:
                format: int32
                type: integer
            text/xml:
              examples:
                Successful GetUntaggedImageCount request:
                  $ref: "#/components/examples/Successful_GetUntaggedImageCount_request"
              schema:
                format: int32
                type: integer
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Gets the number of untagged images.
      tags:
        - ImageApi
  "/projects/{projectId}/images/urls":
    post:
      description: This API accepts a batch of urls, and optionally tags, to create images. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromUrls
      parameters:
        - description: The project id.
          examples:
            Successful CreateImagesFromUrls request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageUrlCreateBatch"
        description: Image urls and tag ids. Limited to 64 images and 20 tags per batch.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            application/xml:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
            text/xml:
              examples:
                Successful CreateImagesFromUrls request:
                  $ref: "#/components/examples/Successful_CreateImagesFromUrls_request"
              schema:
                $ref: "#/components/schemas/ImageCreateSummary"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Add the provided images urls to the set of training images.
      tags:
        - ImageApi
  "/projects/{projectId}/images/{imageId}/regionproposals":
    post:
      description: This API will get region proposals for an image along with confidences for the region. It returns an empty array if no proposals are found.
      operationId: GetImageRegionProposals
      parameters:
        - description: The project id.
          examples:
            Successful GetImageRegionProposals request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The image id.
          examples:
            Successful GetImageRegionProposals request:
              value: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
          in: path
          name: imageId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetImageRegionProposals request:
                  $ref: "#/components/examples/Successful_GetImageRegionProposals_request"
              schema:
                $ref: "#/components/schemas/ImageRegionProposal"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get region proposals for an image. Returns empty array if no proposals are found.
      tags:
        - ImageRegionProposalApi
  "/projects/{projectId}/iterations":
    get:
      operationId: GetIterations
      parameters:
        - description: The project id.
          examples:
            Successful GetIterations request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                type: array
            application/xml:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                type: array
            text/xml:
              examples:
                Successful GetIterations request:
                  $ref: "#/components/examples/Successful_GetIterations_request"
              schema:
                items:
                  $ref: "#/components/schemas/Iteration"
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get iterations for the project.
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}":
    delete:
      operationId: DeleteIteration
      parameters:
        - description: The project id.
          examples:
            Successful DeleteIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id.
          examples:
            Successful DeleteIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "204":
          description: No Content
        default:
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Delete a specific iteration of a project.
      tags:
        - ProjectApi
    get:
      operationId: GetIteration
      parameters:
        - description: The id of the project the iteration belongs to.
          examples:
            Successful GetIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The id of the iteration to get.
          examples:
            Successful GetIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            application/xml:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/xml:
              examples:
                Successful GetIteration request:
                  $ref: "#/components/examples/Successful_GetIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get a specific iteration.
      tags:
        - ProjectApi
    patch:
      operationId: UpdateIteration
      parameters:
        - description: Project id.
          examples:
            Successful UpdateIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: Iteration id.
          examples:
            Successful UpdateIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Iteration"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/Iteration"
          application/xml:
            schema:
              $ref: "#/components/schemas/Iteration"
          text/xml:
            schema:
              $ref: "#/components/schemas/Iteration"
        description: The updated iteration model.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            application/xml:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
            text/xml:
              examples:
                Successful UpdateIteration request:
                  $ref: "#/components/examples/Successful_UpdateIteration_request"
              schema:
                $ref: "#/components/schemas/Iteration"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Update a specific iteration.
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/export":
    get:
      operationId: GetExports
      parameters:
        - description: The project id.
          examples:
            Successful GetExports request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id.
          examples:
            Successful GetExports request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                type: array
            application/xml:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                type: array
            text/xml:
              examples:
                Successful GetExports request:
                  $ref: "#/components/examples/Successful_GetExports_request"
              schema:
                items:
                  $ref: "#/components/schemas/Export"
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get the list of exports for a specific iteration.
      tags:
        - ProjectApi
    post:
      operationId: ExportIteration
      parameters:
        - description: The project id.
          examples:
            Successful ExportIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id.
          examples:
            Successful ExportIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The target platform.
          examples:
            Successful ExportIteration request:
              value: TensorFlow
          in: query
          name: platform
          required: true
          schema:
            enum:
              - CoreML
              - TensorFlow
              - DockerFile
              - ONNX
              - VAIDK
            type: string
        - description: The flavor of the target platform.
          in: query
          name: flavor
          required: false
          schema:
            enum:
              - Linux
              - Windows
              - ONNX10
              - ONNX12
              - ARM
              - TensorFlowNormal
              - TensorFlowLite
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
            application/xml:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
            text/xml:
              examples:
                Successful ExportIteration request:
                  $ref: "#/components/examples/Successful_ExportIteration_request"
              schema:
                $ref: "#/components/schemas/Export"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Export a trained iteration.
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/performance":
    get:
      operationId: GetIterationPerformance
      parameters:
        - description: The id of the project the iteration belongs to.
          examples:
            Successful GetIterationPerformance request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The id of the iteration to get.
          examples:
            Successful GetIterationPerformance request:
              value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The threshold used to determine true predictions.
          examples:
            Successful GetIterationPerformance request:
              value: 0.9
          in: query
          name: threshold
          required: false
          schema:
            format: float
            type: number
        - description: If applicable, the bounding box overlap threshold used to determine true predictions.
          in: query
          name: overlapThreshold
          required: false
          schema:
            format: float
            type: number
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
            application/xml:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
            text/xml:
              examples:
                Successful GetIterationPerformance request:
                  $ref: "#/components/examples/Successful_GetIterationPerformance_request"
              schema:
                $ref: "#/components/schemas/IterationPerformance"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get detailed performance information about an iteration.
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/performance/images":
    get:
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r

        Use the {take} and {skip} parameters to control how many images to return in a given batch.\r

        The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetImagePerformances
      parameters:
        - description: The project id.
          examples:
            Successful GetImagePerformances request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          examples:
            Successful GetImagePerformances request:
              value: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20.
          examples:
            Successful GetImagePerformances request:
              value:
                - ""
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            maxItems: 20
            minItems: 0
            type: array
          style: form
        - description: The ordering. Defaults to newest.
          examples:
            Successful GetImagePerformances request:
              value: Newest
          in: query
          name: orderBy
          required: false
          schema:
            enum:
              - Newest
              - Oldest
            type: string
        - description: Maximum number of images to return. Defaults to 50, limited to 256.
          in: query
          name: take
          required: false
          schema:
            default: 50
            format: int32
            maximum: 256
            minimum: 0
            type: integer
        - description: Number of images to skip before beginning the image batch. Defaults to 0.
          in: query
          name: skip
          required: false
          schema:
            default: 0
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetImagePerformances request:
                  $ref: "#/components/examples/Successful_GetImagePerformances_request"
              schema:
                items:
                  $ref: "#/components/schemas/ImagePerformance"
                type: array
            application/xml:
              examples:
                Successful GetImagePerformances request:
                  $ref: "#/components/examples/Successful_GetImagePerformances_request"
              schema:
                items:
                  $ref: "#/components/schemas/ImagePerformance"
                type: array
            text/xml:
              examples:
                Successful GetImagePerformances request:
                  $ref: "#/components/examples/Successful_GetImagePerformances_request"
              schema:
                items:
                  $ref: "#/components/schemas/ImagePerformance"
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get image with its prediction for a given project iteration.
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/performance/images/count":
    get:
      description: "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r

        \"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetImagePerformanceCount
      parameters:
        - description: The project id.
          examples:
            Successful GetImagePerformanceCount request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          examples:
            Successful GetImagePerformanceCount request:
              value: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: A list of tags ids to filter the images to count. Defaults to all tags when null.
          examples:
            Successful GetImagePerformanceCount request:
              value:
                - b5f7e6a2-a481-49a6-afec-a7cef1af3544
          explode: false
          in: query
          name: tagIds
          required: false
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetImagePerformanceCount request:
                  $ref: "#/components/examples/Successful_GetImagePerformanceCount_request"
              schema:
                format: int32
                type: integer
            application/xml:
              examples:
                Successful GetImagePerformanceCount request:
                  $ref: "#/components/examples/Successful_GetImagePerformanceCount_request"
              schema:
                format: int32
                type: integer
            text/xml:
              examples:
                Successful GetImagePerformanceCount request:
                  $ref: "#/components/examples/Successful_GetImagePerformanceCount_request"
              schema:
                format: int32
                type: integer
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: "Gets the number of images tagged with the provided {tagIds} that have prediction results from\r

        training for the provided iteration {iterationId}."
      tags:
        - ProjectApi
  "/projects/{projectId}/iterations/{iterationId}/publish":
    delete:
      operationId: UnpublishIteration
      parameters:
        - description: The project id.
          examples:
            Successful UnpublishIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id.
          examples:
            Successful UnpublishIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      responses:
        "204":
          description: No Content
        default:
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Unpublish a specific iteration.
      tags:
        - ProjectApi
    post:
      operationId: PublishIteration
      parameters:
        - description: The project id.
          examples:
            Successful PublishIteration request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id.
          examples:
            Successful PublishIteration request:
              value: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
          in: path
          name: iterationId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The name to give the published iteration.
          examples:
            Successful PublishIteration request:
              value: Model1
          in: query
          name: publishName
          required: true
          schema:
            type: string
        - description: The id of the prediction resource to publish to.
          examples:
            Successful PublishIteration request:
              value: /subscriptions/{subscription}/resourceGroups/{resource group name}/providers/Microsoft.CognitiveServices/accounts/{resource name}
          in: query
          name: predictionId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful PublishIteration request:
                  $ref: "#/components/examples/Successful_PublishIteration_request"
              schema:
                type: boolean
            application/xml:
              examples:
                Successful PublishIteration request:
                  $ref: "#/components/examples/Successful_PublishIteration_request"
              schema:
                type: boolean
            text/xml:
              examples:
                Successful PublishIteration request:
                  $ref: "#/components/examples/Successful_PublishIteration_request"
              schema:
                type: boolean
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Publish a specific iteration.
      tags:
        - ProjectApi
  "/projects/{projectId}/predictions":
    delete:
      operationId: DeletePrediction
      parameters:
        - description: The project id.
          examples:
            Successful DeletePrediction request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The prediction ids. Limited to 64.
          examples:
            Successful DeletePrediction request:
              value:
                - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          explode: false
          in: query
          name: ids
          required: true
          schema:
            items:
              format: uuid
              nullable: false
              type: string
            maxItems: 64
            minItems: 0
            type: array
          style: form
      responses:
        "204":
          description: No Content
        default:
          content:
            "*/*":
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Delete a set of predicted images and their associated prediction results.
      tags:
        - PredictionsApi
  "/projects/{projectId}/predictions/query":
    post:
      operationId: QueryPredictions
      parameters:
        - description: The project id.
          examples:
            Successful QueryPredictions request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          application/xml:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
          text/xml:
            schema:
              $ref: "#/components/schemas/PredictionQueryToken"
        description: Parameters used to query the predictions. Limited to combining 2 tags.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QueryPredictions request:
                  $ref: "#/components/examples/Successful_QueryPredictions_request"
              schema:
                $ref: "#/components/schemas/PredictionQueryResult"
            application/xml:
              examples:
                Successful QueryPredictions request:
                  $ref: "#/components/examples/Successful_QueryPredictions_request"
              schema:
                $ref: "#/components/schemas/PredictionQueryResult"
            text/xml:
              examples:
                Successful QueryPredictions request:
                  $ref: "#/components/examples/Successful_QueryPredictions_request"
              schema:
                $ref: "#/components/schemas/PredictionQueryResult"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get images that were sent to your prediction endpoint.
      tags:
        - PredictionsApi
  "/projects/{projectId}/quicktest/image":
    post:
      operationId: QuickTestImage
      parameters:
        - description: The project id.
          examples:
            Successful QuickTestImage request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r

            \            The default iteration for the project will be used when not specified."
          examples:
            Successful QuickTestImage request:
              value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
        - description: Optional. Specifies whether or not to store the result of this prediction. The default is true, to store.
          in: query
          name: store
          required: false
          schema:
            default: true
            type: boolean
      requestBody:
        $ref: "#/components/requestBodies/CreateImagesFromData"
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            application/xml:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            text/xml:
              examples:
                Successful QuickTestImage request:
                  $ref: "#/components/examples/Successful_QuickTestImage_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Quick test an image.
      tags:
        - PredictionsApi
  "/projects/{projectId}/quicktest/url":
    post:
      operationId: QuickTestImageUrl
      parameters:
        - description: The project to evaluate against.
          examples:
            Successful QuickTestImageUrl request:
              value: 64b822c5-8082-4b36-a426-27225f4aa18c
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r

            \            The default iteration for the project will be used when not specified."
          examples:
            Successful QuickTestImageUrl request:
              value: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
        - description: Optional. Specifies whether or not to store the result of this prediction. The default is true, to store.
          in: query
          name: store
          required: false
          schema:
            default: true
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          application/x-www-form-urlencoded:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          application/xml:
            schema:
              $ref: "#/components/schemas/ImageUrl"
          text/xml:
            schema:
              $ref: "#/components/schemas/ImageUrl"
        description: An ImageUrl that contains the url of the image to be evaluated.
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            application/xml:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
            text/xml:
              examples:
                Successful QuickTestImageUrl request:
                  $ref: "#/components/examples/Successful_QuickTestImageUrl_request"
              schema:
                $ref: "#/components/schemas/ImagePrediction"
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Quick test an image url.
      tags:
        - PredictionsApi
  "/projects/{projectId}/tags":
    get:
      operationId: GetTags
      parameters:
        - description: The project id.
          examples:
            Successful GetTags request:
              value: bc3f7dad-5544-468c-8573-3ef04d55463e
          in: path
          name: projectId
          required: true
          schema:
            format: uuid
            type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace.
          in: query
          name: iterationId
          required: false
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                items:
                  $ref: "#/components/schemas/Tag"
                type: array
            application/xml:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                items:
                  $ref: "#/components/schemas/Tag"
                type: array
            text/xml:
              examples:
                Successful GetTags request:
                  $ref: "#/components/examples/Successful_GetTags_request"
              schema:
                items:
                  $ref: "#/components/schemas/Tag"
                type: array
          description: OK
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            application/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
            text/xml:
              schema:
                $ref: "#/components/schemas/CustomVisionError"
          description: Error response
      summary: Get the tags for a given project and iteration.
      tags:
        - TagsApi
[...]
