{
  "swagger": "2.0",
  "info": {
    "title": "Google OAuth2 API",
    "description": "Lets you access OAuth2 protocol related APIs.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1"
  },
  "host": "www.googleapis.com",
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "externalDocs": {
    "url": "https://developers.google.com/accounts/docs/OAuth2"
  },
  "paths": {
    "/oauth2/v1/certs": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "get": {
        "operationId": "oauth2.getCertForOpenIdConnect",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/X509"
            }
          }
        }
      }
    },
    "/oauth2/v1/raw_public_keys": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "get": {
        "operationId": "oauth2.getCertForOpenIdConnectRaw",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Raw"
            }
          }
        }
      }
    },
    "/service_accounts/v1/metadata/raw/{robotEmail}": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "get": {
        "operationId": "oauth2.getRobotMetadataRaw",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Raw"
            }
          }
        },
        "parameters": [
          {
            "name": "robotEmail",
            "in": "path",
            "description": "The email of robot account.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/service_accounts/v1/metadata/x509/{robotEmail}": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "get": {
        "operationId": "oauth2.getRobotMetadataX509",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/X509"
            }
          }
        },
        "parameters": [
          {
            "name": "robotEmail",
            "in": "path",
            "description": "The email of robot account.",
            "required": true,
            "type": "string"
          }
        ]
      }
    },
    "/oauth2/v1/tokeninfo": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "post": {
        "description": "Get token info",
        "operationId": "oauth2.tokeninfo",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Tokeninfo"
            }
          }
        },
        "parameters": [
          {
            "name": "access_token",
            "in": "query",
            "description": "The oauth2 access token",
            "type": "string"
          },
          {
            "name": "id_token",
            "in": "query",
            "description": "The ID token",
            "type": "string"
          }
        ]
      }
    },
    "/oauth2/v1/userinfo": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "get": {
        "description": "Get user info",
        "operationId": "oauth2.userinfo.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Userinfoplus"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/plus.login",
              "https://www.googleapis.com/auth/plus.me",
              "https://www.googleapis.com/auth/userinfo.email",
              "https://www.googleapis.com/auth/userinfo.profile"
            ]
          }
        ]
      }
    },
    "/userinfo/v2/me": {
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ],
      "get": {
        "description": "Get user info",
        "operationId": "oauth2.userinfo.v2.me.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Userinfoplus"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/plus.login",
              "https://www.googleapis.com/auth/plus.me",
              "https://www.googleapis.com/auth/userinfo.email",
              "https://www.googleapis.com/auth/userinfo.profile"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "Raw": {
      "id": "Raw",
      "type": "object",
      "properties": {
        "keyvalues": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "algorithm": {
                "type": "string",
                "default": "RSA"
              },
              "exponent": {
                "type": "string"
              },
              "keyid": {
                "type": "string"
              },
              "modulus": {
                "type": "string"
              }
            }
          }
        }
      }
    },
    "Tokeninfo": {
      "id": "Tokeninfo",
      "type": "object",
      "properties": {
        "access_type": {
          "type": "string",
          "description": "The access type granted with this token. It can be offline or online."
        },
        "audience": {
          "type": "string",
          "description": "Who is the intended audience for this token. In general the same as issued_to."
        },
        "email": {
          "type": "string",
          "description": "The email address of the user. Present only if the email scope is present in the request."
        },
        "email_verified": {
          "type": "boolean",
          "description": "Boolean flag which is true if the email address is verified. Present only if the email scope is present in the request."
        },
        "expires_in": {
          "type": "integer",
          "description": "The expiry time of the token, as number of seconds left until expiry.",
          "format": "int32"
        },
        "issued_at": {
          "type": "integer",
          "description": "The issue time of the token, as number of seconds.",
          "format": "int32"
        },
        "issued_to": {
          "type": "string",
          "description": "To whom was the token issued to. In general the same as audience."
        },
        "issuer": {
          "type": "string",
          "description": "Who issued the token."
        },
        "nonce": {
          "type": "string",
          "description": "Nonce of the id token."
        },
        "scope": {
          "type": "string",
          "description": "The space separated list of scopes granted to this token."
        },
        "user_id": {
          "type": "string",
          "description": "The Gaia obfuscated user id."
        },
        "verified_email": {
          "type": "boolean",
          "description": "Boolean flag which is true if the email address is verified. Present only if the email scope is present in the request."
        }
      }
    },
    "Userinfoplus": {
      "id": "Userinfoplus",
      "type": "object",
      "properties": {
        "email": {
          "type": "string",
          "description": "The user's email address."
        },
        "family_name": {
          "type": "string",
          "description": "The user's last name."
        },
        "gender": {
          "type": "string",
          "description": "The user's gender."
        },
        "given_name": {
          "type": "string",
          "description": "The user's first name."
        },
        "hd": {
          "type": "string",
          "description": "The hosted domain e.g. example.com if the user is Google apps user."
        },
        "id": {
          "type": "string",
          "description": "The focus obfuscated gaia id of the user."
        },
        "link": {
          "type": "string",
          "description": "URL of the profile page."
        },
        "locale": {
          "type": "string",
          "description": "The user's preferred locale."
        },
        "name": {
          "type": "string",
          "description": "The user's full name."
        },
        "picture": {
          "type": "string",
          "description": "URL of the user's picture image."
        },
        "verified_email": {
          "type": "boolean",
          "description": "Boolean flag which is true if the email address is verified. Always verified because we only return the user's primary email address.",
          "default": "true"
        }
      }
    },
    "X509": {
      "id": "X509",
      "type": "object",
      "additionalProperties": {
        "type": "string"
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/plus.login": "Know your basic profile info and list of people in your circles.",
        "https://www.googleapis.com/auth/plus.me": "Know who you are on Google",
        "https://www.googleapis.com/auth/userinfo.email": "View your email address",
        "https://www.googleapis.com/auth/userinfo.profile": "View your basic profile info"
      }
    }
  }
}