swagger: '2.0'
schemes:
  - https
host: containeranalysis.googleapis.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'An implementation of the Grafeas API, which stores, and enables querying and retrieval of critical metadata about all of your software artifacts.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Container Analysis
  version: v1beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://containeranalysis.googleapis.com/$discovery/rest?version=v1beta1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: containeranalysis
externalDocs:
  url: 'https://cloud.google.com/container-analysis/api/reference/rest/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1beta1/{name}':
    delete:
      description: Deletes the specified note.
      operationId: containeranalysis.projects.notes.delete
      parameters:
        - description: |-
            The name of the note in the form of
            `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Empty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: Gets the specified scan configuration.
      operationId: containeranalysis.projects.scanConfigs.get
      parameters:
        - description: |-
            The name of the scan configuration in the form of
            `projects/[PROJECT_ID]/scanConfigs/[SCAN_CONFIG_ID]`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ScanConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates the specified note.
      operationId: containeranalysis.projects.notes.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Note'
        - description: |-
            The name of the note in the form of
            `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: The fields to update.
          in: query
          name: updateMask
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Note'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    put:
      description: Updates the specified scan configuration.
      operationId: containeranalysis.projects.scanConfigs.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ScanConfig'
        - description: |-
            The name of the scan configuration in the form of
            `projects/[PROJECT_ID]/scanConfigs/[SCAN_CONFIG_ID]`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ScanConfig'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{name}/notes':
    get:
      description: |-
        Gets the note attached to the specified occurrence. Consumer projects can
        use this method to get a note that belongs to a provider project.
      operationId: containeranalysis.projects.occurrences.getNotes
      parameters:
        - description: |-
            The name of the occurrence in the form of
            `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Note'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1beta1/{name}/occurrences':
    get:
      description: |-
        Lists occurrences referencing the specified note. Provider projects can use
        this method to get all occurrences across consumer projects referencing the
        specified note.
      operationId: containeranalysis.projects.notes.occurrences.list
      parameters:
        - description: The filter expression.
          in: query
          name: filter
          type: string
        - description: |-
            The name of the note to list occurrences for in the form of
            `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: Number of occurrences to return in the list.
          in: query
          name: pageSize
          type: integer
        - description: Token to provide to skip to a particular spot in the list.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListNoteOccurrencesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1beta1/{parent}/notes':
    get:
      description: Lists notes for the specified project.
      operationId: containeranalysis.projects.notes.list
      parameters:
        - description: The filter expression.
          in: query
          name: filter
          type: string
        - description: |-
            Number of notes to return in the list. Must be positive. Max allowed page
            size is 1000. If not specified, page size defaults to 20.
          in: query
          name: pageSize
          type: integer
        - description: Token to provide to skip to a particular spot in the list.
          in: query
          name: pageToken
          type: string
        - description: |-
            The name of the project to list notes for in the form of
            `projects/[PROJECT_ID]`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListNotesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new note.
      operationId: containeranalysis.projects.notes.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Note'
        - description: The ID to use for this note.
          in: query
          name: noteId
          type: string
        - description: |-
            The name of the project in the form of `projects/[PROJECT_ID]`, under which
            the note is to be created.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Note'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/notes:batchCreate':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates new notes in batch.
      operationId: containeranalysis.projects.notes.batchCreate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchCreateNotesRequest'
        - description: |-
            The name of the project in the form of `projects/[PROJECT_ID]`, under which
            the notes are to be created.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BatchCreateNotesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/occurrences':
    get:
      description: Lists occurrences for the specified project.
      operationId: containeranalysis.projects.occurrences.list
      parameters:
        - description: The filter expression.
          in: query
          name: filter
          type: string
        - description: |-
            Number of occurrences to return in the list. Must be positive. Max allowed
            page size is 1000. If not specified, page size defaults to 20.
          in: query
          name: pageSize
          type: integer
        - description: Token to provide to skip to a particular spot in the list.
          in: query
          name: pageToken
          type: string
        - description: |-
            The name of the project to list occurrences for in the form of
            `projects/[PROJECT_ID]`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListOccurrencesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a new occurrence.
      operationId: containeranalysis.projects.occurrences.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Occurrence'
        - description: |-
            The name of the project in the form of `projects/[PROJECT_ID]`, under which
            the occurrence is to be created.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Occurrence'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/occurrences:batchCreate':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates new occurrences in batch.
      operationId: containeranalysis.projects.occurrences.batchCreate
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BatchCreateOccurrencesRequest'
        - description: |-
            The name of the project in the form of `projects/[PROJECT_ID]`, under which
            the occurrences are to be created.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BatchCreateOccurrencesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/occurrences:vulnerabilitySummary':
    get:
      description: Gets a summary of the number and severity of occurrences.
      operationId: containeranalysis.projects.occurrences.getVulnerabilitySummary
      parameters:
        - description: The filter expression.
          in: query
          name: filter
          type: string
        - description: |-
            The name of the project to get a vulnerability summary for in the form of
            `projects/[PROJECT_ID]`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/VulnerabilityOccurrencesSummary'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1beta1/{parent}/scanConfigs':
    get:
      description: Lists scan configurations for the specified project.
      operationId: containeranalysis.projects.scanConfigs.list
      parameters:
        - description: The filter expression.
          in: query
          name: filter
          type: string
        - description: The number of scan configs to return in the list.
          in: query
          name: pageSize
          type: integer
        - description: Token to provide to skip to a particular spot in the list.
          in: query
          name: pageToken
          type: string
        - description: |-
            The name of the project to list scan configurations for in the form of
            `projects/[PROJECT_ID]`.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListScanConfigsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1beta1/{resource}:getIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Gets the access control policy for a note or an occurrence resource.
        Requires `containeranalysis.notes.setIamPolicy` or
        `containeranalysis.occurrences.setIamPolicy` permission if the resource is
        a note or occurrence, respectively.

        The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for
        notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for
        occurrences.
      operationId: containeranalysis.projects.notes.getIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Sets the access control policy on the specified note or occurrence.
        Requires `containeranalysis.notes.setIamPolicy` or
        `containeranalysis.occurrences.setIamPolicy` permission if the resource is
        a note or an occurrence, respectively.

        The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for
        notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for
        occurrences.
      operationId: containeranalysis.projects.notes.setIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SetIamPolicyRequest'
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Returns the permissions that a caller has on the specified note or
        occurrence. Requires list permission on the project (for example,
        `containeranalysis.notes.list`).

        The resource takes the format `projects/[PROJECT_ID]/notes/[NOTE_ID]` for
        notes and `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]` for
        occurrences.
      operationId: containeranalysis.projects.notes.testIamPermissions
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/TestIamPermissionsRequest'
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
definitions:
  AliasContext:
    description: An alias to a repo revision.
    properties:
      kind:
        description: The alias kind.
        enum:
          - KIND_UNSPECIFIED
          - FIXED
          - MOVABLE
          - OTHER
        type: string
      name:
        description: The alias name.
        type: string
    type: object
  Artifact:
    description: Artifact describes a build product.
    properties:
      checksum:
        description: |-
          Hash or checksum value of a binary, or Docker Registry 2.0 digest of a
          container.
        type: string
      id:
        description: |-
          Artifact ID, if any; for container images, this will be a URL by digest
          like `gcr.io/projectID/imagename@sha256:123456`.
        type: string
      names:
        description: |-
          Related artifact names. This may be the path to a binary or jar file, or in
          the case of a container build, the name used to push the container image to
          Google Container Registry, as presented to `docker push`. Note that a
          single Artifact ID can have multiple names, for example if two tags are
          applied to one image.
        items:
          type: string
        type: array
    type: object
  Attestation:
    description: |-
      Occurrence that represents a single "attestation". The authenticity of an
      attestation can be verified using the attached signature. If the verifier
      trusts the public key of the signer, then verifying the signature is
      sufficient to establish trust. In this circumstance, the authority to which
      this attestation is attached is primarily useful for look-up (how to find
      this attestation if you already know the authority and artifact to be
      verified) and intent (which authority was this attestation intended to sign
      for).
    properties:
      genericSignedAttestation:
        $ref: '#/definitions/GenericSignedAttestation'
      pgpSignedAttestation:
        $ref: '#/definitions/PgpSignedAttestation'
        description: A PGP signed attestation.
    type: object
  AuditConfig:
    description: |-
      Specifies the audit configuration for a service.
      The configuration determines which permission types are logged, and what
      identities, if any, are exempted from logging.
      An AuditConfig must have one or more AuditLogConfigs.

      If there are AuditConfigs for both `allServices` and a specific service,
      the union of the two AuditConfigs is used for that service: the log_types
      specified in each AuditConfig are enabled, and the exempted_members in each
      AuditLogConfig are exempted.

      Example Policy with multiple AuditConfigs:

          {
            "audit_configs": [
              {
                "service": "allServices"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                    "exempted_members": [
                      "user:foo@gmail.com"
                    ]
                  },
                  {
                    "log_type": "DATA_WRITE",
                  },
                  {
                    "log_type": "ADMIN_READ",
                  }
                ]
              },
              {
                "service": "fooservice.googleapis.com"
                "audit_log_configs": [
                  {
                    "log_type": "DATA_READ",
                  },
                  {
                    "log_type": "DATA_WRITE",
                    "exempted_members": [
                      "user:bar@gmail.com"
                    ]
                  }
                ]
              }
            ]
          }

      For fooservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ
      logging. It also exempts foo@gmail.com from DATA_READ logging, and
      bar@gmail.com from DATA_WRITE logging.
    properties:
      auditLogConfigs:
        description: The configuration for logging of each type of permission.
        items:
          $ref: '#/definitions/AuditLogConfig'
        type: array
      service:
        description: |-
          Specifies a service that will be enabled for audit logging.
          For example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
          `allServices` is a special value that covers all services.
        type: string
    type: object
  AuditLogConfig:
    description: |-
      Provides the configuration for logging a type of permissions.
      Example:

          {
            "audit_log_configs": [
              {
                "log_type": "DATA_READ",
                "exempted_members": [
                  "user:foo@gmail.com"
                ]
              },
              {
                "log_type": "DATA_WRITE",
              }
            ]
          }

      This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting
      foo@gmail.com from DATA_READ logging.
    properties:
      exemptedMembers:
        description: |-
          Specifies the identities that do not cause logging for this type of
          permission.
          Follows the same format of Binding.members.
        items:
          type: string
        type: array
      logType:
        description: The log type that this config enables.
        enum:
          - LOG_TYPE_UNSPECIFIED
          - ADMIN_READ
          - DATA_WRITE
          - DATA_READ
        type: string
    type: object
  Authority:
    description: |-
      Note kind that represents a logical attestation "role" or "authority". For
      example, an organization might have one `Authority` for "QA" and one for
      "build". This note is intended to act strictly as a grouping mechanism for
      the attached occurrences (Attestations). This grouping mechanism also
      provides a security boundary, since IAM ACLs gate the ability for a principle
      to attach an occurrence to a given note. It also provides a single point of
      lookup to find all attached attestation occurrences, even if they don't all
      live in the same project.
    properties:
      hint:
        $ref: '#/definitions/Hint'
        description: Hint hints at the purpose of the attestation authority.
    type: object
  Basis:
    description: |-
      Basis describes the base image portion (Note) of the DockerImage
      relationship. Linked occurrences are derived from this or an
      equivalent image via:
        FROM <Basis.resource_url>
      Or an equivalent reference, e.g. a tag of the resource_url.
    properties:
      fingerprint:
        $ref: '#/definitions/Fingerprint'
        description: Required. Immutable. The fingerprint of the base image.
      resourceUrl:
        description: |-
          Required. Immutable. The resource_url for the resource representing the
          basis of associated occurrence images.
        type: string
    type: object
  BatchCreateNotesRequest:
    description: Request to create notes in batch.
    properties:
      notes:
        additionalProperties:
          $ref: '#/definitions/Note'
        description: The notes to create. Max allowed length is 1000.
        type: object
    type: object
  BatchCreateNotesResponse:
    description: Response for creating notes in batch.
    properties:
      notes:
        description: The notes that were created.
        items:
          $ref: '#/definitions/Note'
        type: array
    type: object
  BatchCreateOccurrencesRequest:
    description: Request to create occurrences in batch.
    properties:
      occurrences:
        description: The occurrences to create. Max allowed length is 1000.
        items:
          $ref: '#/definitions/Occurrence'
        type: array
    type: object
  BatchCreateOccurrencesResponse:
    description: Response for creating occurrences in batch.
    properties:
      occurrences:
        description: The occurrences that were created.
        items:
          $ref: '#/definitions/Occurrence'
        type: array
    type: object
  Binding:
    description: Associates `members` with a `role`.
    properties:
      condition:
        $ref: '#/definitions/Expr'
        description: |-
          The condition that is associated with this binding.
          NOTE: An unsatisfied condition will not allow user access via current
          binding. Different bindings, including their conditions, are examined
          independently.
      members:
        description: |+
          Specifies the identities requesting access for a Cloud Platform resource.
          `members` can have the following values:

          * `allUsers`: A special identifier that represents anyone who is
             on the internet; with or without a Google account.

          * `allAuthenticatedUsers`: A special identifier that represents anyone
             who is authenticated with a Google account or a service account.

          * `user:{emailid}`: An email address that represents a specific Google
             account. For example, `alice@gmail.com` .


          * `serviceAccount:{emailid}`: An email address that represents a service
             account. For example, `my-other-app@appspot.gserviceaccount.com`.

          * `group:{emailid}`: An email address that represents a Google group.
             For example, `admins@example.com`.


          * `domain:{domain}`: The G Suite domain (primary) that represents all the
             users of that domain. For example, `google.com` or `example.com`.

        items:
          type: string
        type: array
      role:
        description: |-
          Role that is assigned to `members`.
          For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
        type: string
    type: object
  Build:
    description: |-
      Note holding the version of the provider's builder and the signature of the
      provenance message in the build details occurrence.
    properties:
      builderVersion:
        description: Required. Immutable. Version of the builder which produced this build.
        type: string
      signature:
        $ref: '#/definitions/BuildSignature'
        description: |-
          Signature of the build in occurrences pointing to this build note
          containing build details.
    type: object
  BuildProvenance:
    description: |-
      Provenance of a build. Contains all information needed to verify the full
      details about the build from source to completion.
    properties:
      buildOptions:
        additionalProperties:
          type: string
        description: |-
          Special options applied to this build. This is a catch-all field where
          build providers can enter any desired additional details.
        type: object
      builderVersion:
        description: Version string of the builder at the time this build was executed.
        type: string
      builtArtifacts:
        description: Output of the build.
        items:
          $ref: '#/definitions/Artifact'
        type: array
      commands:
        description: Commands requested by the build.
        items:
          $ref: '#/definitions/Command'
        type: array
      createTime:
        description: Time at which the build was created.
        format: google-datetime
        type: string
      creator:
        description: |-
          E-mail address of the user who initiated this build. Note that this was the
          user's e-mail address at the time the build was initiated; this address may
          not represent the same end-user for all time.
        type: string
      endTime:
        description: Time at which execution of the build was finished.
        format: google-datetime
        type: string
      id:
        description: Required. Unique identifier of the build.
        type: string
      logsUri:
        description: URI where any logs for this provenance were written.
        type: string
      projectId:
        description: ID of the project.
        type: string
      sourceProvenance:
        $ref: '#/definitions/Source'
        description: Details of the Source input to the build.
      startTime:
        description: Time at which execution of the build was started.
        format: google-datetime
        type: string
      triggerId:
        description: Trigger identifier if the build was triggered automatically; empty if not.
        type: string
    type: object
  BuildSignature:
    description: Message encapsulating the signature of the verified build.
    properties:
      keyId:
        description: |-
          An ID for the key used to sign. This could be either an ID for the key
          stored in `public_key` (such as the ID or fingerprint for a PGP key, or the
          CN for a cert), or a reference to an external key (such as a reference to a
          key in Cloud Key Management Service).
        type: string
      keyType:
        description: |-
          The type of the key, either stored in `public_key` or referenced in
          `key_id`.
        enum:
          - KEY_TYPE_UNSPECIFIED
          - PGP_ASCII_ARMORED
          - PKIX_PEM
        type: string
      publicKey:
        description: |-
          Public key of the builder which can be used to verify that the related
          findings are valid and unchanged. If `key_type` is empty, this defaults
          to PEM encoded public keys.

          This field may be empty if `key_id` references an external key.

          For Cloud Build based signatures, this is a PEM encoded public
          key. To verify the Cloud Build signature, place the contents of
          this field into a file (public.pem). The signature field is base64-decoded
          into its binary representation in signature.bin, and the provenance bytes
          from `BuildDetails` are base64-decoded into a binary representation in
          signed.bin. OpenSSL can then verify the signature:
          `openssl sha256 -verify public.pem -signature signature.bin signed.bin`
        type: string
      signature:
        description: |-
          Required. Signature of the related `BuildProvenance`. In JSON, this is
          base-64 encoded.
        format: byte
        type: string
    type: object
  CVSSv3:
    description: |-
      Common Vulnerability Scoring System version 3.
      For details, see https://www.first.org/cvss/specification-document
    properties:
      attackComplexity:
        enum:
          - ATTACK_COMPLEXITY_UNSPECIFIED
          - ATTACK_COMPLEXITY_LOW
          - ATTACK_COMPLEXITY_HIGH
        type: string
      attackVector:
        description: |-
          Base Metrics
          Represents the intrinsic characteristics of a vulnerability that are
          constant over time and across user environments.
        enum:
          - ATTACK_VECTOR_UNSPECIFIED
          - ATTACK_VECTOR_NETWORK
          - ATTACK_VECTOR_ADJACENT
          - ATTACK_VECTOR_LOCAL
          - ATTACK_VECTOR_PHYSICAL
        type: string
      availabilityImpact:
        enum:
          - IMPACT_UNSPECIFIED
          - IMPACT_HIGH
          - IMPACT_LOW
          - IMPACT_NONE
        type: string
      baseScore:
        description: The base score is a function of the base metric scores.
        format: float
        type: number
      confidentialityImpact:
        enum:
          - IMPACT_UNSPECIFIED
          - IMPACT_HIGH
          - IMPACT_LOW
          - IMPACT_NONE
        type: string
      exploitabilityScore:
        format: float
        type: number
      impactScore:
        format: float
        type: number
      integrityImpact:
        enum:
          - IMPACT_UNSPECIFIED
          - IMPACT_HIGH
          - IMPACT_LOW
          - IMPACT_NONE
        type: string
      privilegesRequired:
        enum:
          - PRIVILEGES_REQUIRED_UNSPECIFIED
          - PRIVILEGES_REQUIRED_NONE
          - PRIVILEGES_REQUIRED_LOW
          - PRIVILEGES_REQUIRED_HIGH
        type: string
      scope:
        enum:
          - SCOPE_UNSPECIFIED
          - SCOPE_UNCHANGED
          - SCOPE_CHANGED
        type: string
      userInteraction:
        enum:
          - USER_INTERACTION_UNSPECIFIED
          - USER_INTERACTION_NONE
          - USER_INTERACTION_REQUIRED
        type: string
    type: object
  CloudRepoSourceContext:
    description: |-
      A CloudRepoSourceContext denotes a particular revision in a Google Cloud
      Source Repo.
    properties:
      aliasContext:
        $ref: '#/definitions/AliasContext'
        description: 'An alias, which may be a branch or tag.'
      repoId:
        $ref: '#/definitions/RepoId'
        description: The ID of the repo.
      revisionId:
        description: A revision ID.
        type: string
    type: object
  Command:
    description: Command describes a step performed as part of the build pipeline.
    properties:
      args:
        description: Command-line arguments used when executing this command.
        items:
          type: string
        type: array
      dir:
        description: |-
          Working directory (relative to project source root) used when running this
          command.
        type: string
      env:
        description: Environment variables set before running this command.
        items:
          type: string
        type: array
      id:
        description: |-
          Optional unique identifier for this command, used in wait_for to reference
          this command as a dependency.
        type: string
      name:
        description: |-
          Required. Name of the command, as presented on the command line, or if the
          command is packaged as a Docker container, as presented to `docker pull`.
        type: string
      waitFor:
        description: The ID(s) of the command(s) that this command depends on.
        items:
          type: string
        type: array
    type: object
  Deployable:
    description: An artifact that can be deployed in some runtime.
    properties:
      resourceUri:
        description: Required. Resource URI for the artifact being deployed.
        items:
          type: string
        type: array
    type: object
  Deployment:
    description: The period during which some deployable was active in a runtime.
    properties:
      address:
        description: Address of the runtime element hosting this deployment.
        type: string
      config:
        description: Configuration used to create this deployment.
        type: string
      deployTime:
        description: Required. Beginning of the lifetime of this deployment.
        format: google-datetime
        type: string
      platform:
        description: Platform hosting this deployment.
        enum:
          - PLATFORM_UNSPECIFIED
          - GKE
          - FLEX
          - CUSTOM
        type: string
      resourceUri:
        description: |-
          Output only. Resource URI for the artifact being deployed taken from
          the deployable field with the same name.
        items:
          type: string
        type: array
      undeployTime:
        description: End of the lifetime of this deployment.
        format: google-datetime
        type: string
      userEmail:
        description: Identity of the user that triggered this deployment.
        type: string
    type: object
  Derived:
    description: |-
      Derived describes the derived image portion (Occurrence) of the DockerImage
      relationship. This image would be produced from a Dockerfile with FROM
      <DockerImage.Basis in attached Note>.
    properties:
      baseResourceUrl:
        description: |-
          Output only. This contains the base image URL for the derived image
          occurrence.
        type: string
      distance:
        description: |-
          Output only. The number of layers by which this image differs from the
          associated image basis.
        format: int32
        type: integer
      fingerprint:
        $ref: '#/definitions/Fingerprint'
        description: Required. The fingerprint of the derived image.
      layerInfo:
        description: |-
          This contains layer-specific metadata, if populated it has length
          "distance" and is ordered with [distance] being the layer immediately
          following the base image and [1] being the final layer.
        items:
          $ref: '#/definitions/Layer'
        type: array
    type: object
  Detail:
    description: |-
      Identifies all appearances of this vulnerability in the package for a
      specific distro/location. For example: glibc in
      cpe:/o:debian:debian_linux:8 for versions 2.1 - 2.2
    properties:
      cpeUri:
        description: |-
          Required. The CPE URI in
          [cpe format](https://cpe.mitre.org/specification/) in which the
          vulnerability manifests. Examples include distro or storage location for
          vulnerable jar.
        type: string
      description:
        description: A vendor-specific description of this note.
        type: string
      fixedLocation:
        $ref: '#/definitions/VulnerabilityLocation'
        description: The fix for this specific package version.
      isObsolete:
        description: |-
          Whether this detail is obsolete. Occurrences are expected not to point to
          obsolete details.
        type: boolean
      maxAffectedVersion:
        $ref: '#/definitions/Version'
        description: |-
          Deprecated, do not use. Use fixed_location instead.

          The max version of the package in which the vulnerability exists.
      minAffectedVersion:
        $ref: '#/definitions/Version'
        description: The min version of the package in which the vulnerability exists.
      package:
        description: Required. The name of the package where the vulnerability was found.
        type: string
      packageType:
        description: |-
          The type of package; whether native or non native(ruby gems, node.js
          packages etc).
        type: string
      severityName:
        description: 'The severity (eg: distro assigned severity) for this vulnerability.'
        type: string
    type: object
  Details:
    description: Details of an attestation occurrence.
    properties:
      attestation:
        $ref: '#/definitions/Attestation'
        description: Required. Attestation for the resource.
    type: object
  Discovered:
    description: Provides information about the analysis status of a discovered resource.
    properties:
      analysisStatus:
        description: The status of discovery for the resource.
        enum:
          - ANALYSIS_STATUS_UNSPECIFIED
          - PENDING
          - SCANNING
          - FINISHED_SUCCESS
          - FINISHED_FAILED
          - FINISHED_UNSUPPORTED
        type: string
      analysisStatusError:
        $ref: '#/definitions/Status'
        description: |-
          When an error is encountered this will contain a LocalizedMessage under
          details to show to the user. The LocalizedMessage is output only and
          populated by the API.
      continuousAnalysis:
        description: Whether the resource is continuously analyzed.
        enum:
          - CONTINUOUS_ANALYSIS_UNSPECIFIED
          - ACTIVE
          - INACTIVE
        type: string
      lastAnalysisTime:
        description: |-
          The last time continuous analysis was done for this resource.
          Deprecated, do not use.
        format: google-datetime
        type: string
    type: object
  Discovery:
    description: |-
      A note that indicates a type of analysis a provider would perform. This note
      exists in a provider's project. A `Discovery` occurrence is created in a
      consumer's project at the start of analysis.
    properties:
      analysisKind:
        description: |-
          Required. Immutable. The kind of analysis that is handled by this
          discovery.
        enum:
          - NOTE_KIND_UNSPECIFIED
          - VULNERABILITY
          - BUILD
          - IMAGE
          - PACKAGE
          - DEPLOYMENT
          - DISCOVERY
          - ATTESTATION
        type: string
    type: object
  Distribution:
    description: |-
      This represents a particular channel of distribution for a given package.
      E.g., Debian's jessie-backports dpkg mirror.
    properties:
      architecture:
        description: |-
          The CPU architecture for which packages in this distribution channel were
          built.
        enum:
          - ARCHITECTURE_UNSPECIFIED
          - X86
          - X64
        type: string
      cpeUri:
        description: |-
          Required. The cpe_uri in [CPE format](https://cpe.mitre.org/specification/)
          denoting the package manager version distributing a package.
        type: string
      description:
        description: The distribution channel-specific description of this package.
        type: string
      latestVersion:
        $ref: '#/definitions/Version'
        description: The latest available version of this package in this distribution channel.
      maintainer:
        description: A freeform string denoting the maintainer of this package.
        type: string
      url:
        description: The distribution channel-specific homepage for this package.
        type: string
    type: object
  Empty:
    description: |-
      A generic empty message that you can re-use to avoid defining duplicated
      empty messages in your APIs. A typical example is to use it as the request
      or the response type of an API method. For instance:

          service Foo {
            rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty);
          }

      The JSON representation for `Empty` is empty JSON object `{}`.
    properties: {}
    type: object
  Expr:
    description: |-
      Represents an expression text. Example:

          title: "User account presence"
          description: "Determines whether the request has a user account"
          expression: "size(request.user) > 0"
    properties:
      description:
        description: |-
          An optional description of the expression. This is a longer text which
          describes the expression, e.g. when hovered over it in a UI.
        type: string
      expression:
        description: |-
          Textual representation of an expression in
          Common Expression Language syntax.

          The application context of the containing message determines which
          well-known feature set of CEL is supported.
        type: string
      location:
        description: |-
          An optional string indicating the location of the expression for error
          reporting, e.g. a file name and a position in the file.
        type: string
      title:
        description: |-
          An optional title for the expression, i.e. a short string describing
          its purpose. This can be used e.g. in UIs which allow to enter the
          expression.
        type: string
    type: object
  FileHashes:
    description: |-
      Container message for hashes of byte content of files, used in source
      messages to verify integrity of source input to the build.
    properties:
      fileHash:
        description: Required. Collection of file hashes.
        items:
          $ref: '#/definitions/Hash'
        type: array
    type: object
  Fingerprint:
    description: A set of properties that uniquely identify a given Docker image.
    properties:
      v1Name:
        description: |-
          Required. The layer ID of the final layer in the Docker image's v1
          representation.
        type: string
      v2Blob:
        description: Required. The ordered list of v2 blobs that represent a given image.
        items:
          type: string
        type: array
      v2Name:
        description: |-
          Output only. The name of the image's v2 blobs computed via:
            [bottom] := v2_blobbottom := sha256(v2_blob[N] + " " + v2_name[N+1])
          Only the name of the final blob is kept.
        type: string
    type: object
  FixableTotalByDigest:
    description: Per resource and severity counts of fixable and total vulnerabilities.
    properties:
      fixableCount:
        description: The number of fixable vulnerabilities associated with this resource.
        format: int64
        type: string
      resource:
        $ref: '#/definitions/Resource'
        description: The affected resource.
      severity:
        description: |-
          The severity for this count. SEVERITY_UNSPECIFIED indicates total across
          all severities.
        enum:
          - SEVERITY_UNSPECIFIED
          - MINIMAL
          - LOW
          - MEDIUM
          - HIGH
          - CRITICAL
        type: string
      totalCount:
        description: The total number of vulnerabilities associated with this resource.
        format: int64
        type: string
    type: object
  GenericSignedAttestation:
    description: |-
      An attestation wrapper that uses the Grafeas `Signature` message.
      This attestation must define the `serialized_payload` that the `signatures`
      verify and any metadata necessary to interpret that plaintext.  The
      signatures should always be over the `serialized_payload` bytestring.
    properties:
      contentType:
        description: |-
          Type (for example schema) of the attestation payload that was signed.
          The verifier must ensure that the provided type is one that the verifier
          supports, and that the attestation payload is a valid instantiation of that
          type (for example by validating a JSON schema).
        enum:
          - CONTENT_TYPE_UNSPECIFIED
          - SIMPLE_SIGNING_JSON
        type: string
      serializedPayload:
        description: |-
          The serialized payload that is verified by one or more `signatures`.
          The encoding and semantic meaning of this payload must match what is set in
          `content_type`.
        format: byte
        type: string
      signatures:
        description: |-
          One or more signatures over `serialized_payload`.  Verifier implementations
          should consider this attestation message verified if at least one
          `signature` verifies `serialized_payload`.  See `Signature` in common.proto
          for more details on signature structure and verification.
        items:
          $ref: '#/definitions/Signature'
        type: array
    type: object
  GerritSourceContext:
    description: A SourceContext referring to a Gerrit project.
    properties:
      aliasContext:
        $ref: '#/definitions/AliasContext'
        description: 'An alias, which may be a branch or tag.'
      gerritProject:
        description: |-
          The full project name within the host. Projects may be nested, so
          "project/subproject" is a valid project name. The "repo name" is the
          hostURI/project.
        type: string
      hostUri:
        description: The URI of a running Gerrit instance.
        type: string
      revisionId:
        description: A revision (commit) ID.
        type: string
    type: object
  GetIamPolicyRequest:
    description: Request message for `GetIamPolicy` method.
    properties: {}
    type: object
  GitSourceContext:
    description: |-
      A GitSourceContext denotes a particular revision in a third party Git
      repository (e.g., GitHub).
    properties:
      revisionId:
        description: Git commit hash.
        type: string
      url:
        description: Git repository URL.
        type: string
    type: object
  GoogleDevtoolsContaineranalysisV1alpha1OperationMetadata:
    description: |-
      Metadata for all operations used and required for all operations
      that created by Container Analysis Providers
    properties:
      createTime:
        description: Output only. The time this operation was created.
        format: google-datetime
        type: string
      endTime:
        description: Output only. The time that this operation was marked completed or failed.
        format: google-datetime
        type: string
    type: object
  GrafeasV1beta1BuildDetails:
    description: Details of a build occurrence.
    properties:
      provenance:
        $ref: '#/definitions/BuildProvenance'
        description: Required. The actual provenance for the build.
      provenanceBytes:
        description: |-
          Serialized JSON representation of the provenance, used in generating the
          build signature in the corresponding build note. After verifying the
          signature, `provenance_bytes` can be unmarshalled and compared to the
          provenance to confirm that it is unchanged. A base64-encoded string
          representation of the provenance bytes is used for the signature in order
          to interoperate with openssl which expects this format for signature
          verification.

          The serialized form is captured both to avoid ambiguity in how the
          provenance is marshalled to json as well to prevent incompatibilities with
          future changes.
        type: string
    type: object
  GrafeasV1beta1DeploymentDetails:
    description: Details of a deployment occurrence.
    properties:
      deployment:
        $ref: '#/definitions/Deployment'
        description: Required. Deployment history for the resource.
    type: object
  GrafeasV1beta1DiscoveryDetails:
    description: Details of a discovery occurrence.
    properties:
      discovered:
        $ref: '#/definitions/Discovered'
        description: Required. Analysis status for the discovered resource.
    type: object
  GrafeasV1beta1ImageDetails:
    description: Details of an image occurrence.
    properties:
      derivedImage:
        $ref: '#/definitions/Derived'
        description: Required. Immutable. The child image derived from the base image.
    type: object
  GrafeasV1beta1PackageDetails:
    description: Details of a package occurrence.
    properties:
      installation:
        $ref: '#/definitions/Installation'
        description: Required. Where the package was installed.
    type: object
  GrafeasV1beta1VulnerabilityDetails:
    description: Details of a vulnerability Occurrence.
    properties:
      cvssScore:
        description: |-
          Output only. The CVSS score of this vulnerability. CVSS score is on a
          scale of 0-10 where 0 indicates low severity and 10 indicates high
          severity.
        format: float
        type: number
      effectiveSeverity:
        description: |-
          The distro assigned severity for this vulnerability when it is
          available, and note provider assigned severity when distro has not yet
          assigned a severity for this vulnerability.
        enum:
          - SEVERITY_UNSPECIFIED
          - MINIMAL
          - LOW
          - MEDIUM
          - HIGH
          - CRITICAL
        type: string
      longDescription:
        description: Output only. A detailed description of this vulnerability.
        type: string
      packageIssue:
        description: |-
          Required. The set of affected locations and their fixes (if available)
          within the associated resource.
        items:
          $ref: '#/definitions/PackageIssue'
        type: array
      relatedUrls:
        description: Output only. URLs related to this vulnerability.
        items:
          $ref: '#/definitions/RelatedUrl'
        type: array
      severity:
        description: Output only. The note provider assigned Severity of the vulnerability.
        enum:
          - SEVERITY_UNSPECIFIED
          - MINIMAL
          - LOW
          - MEDIUM
          - HIGH
          - CRITICAL
        type: string
      shortDescription:
        description: Output only. A one sentence description of this vulnerability.
        type: string
      type:
        description: |-
          The type of package; whether native or non native(ruby gems, node.js
          packages etc)
        type: string
    type: object
  Hash:
    description: Container message for hash values.
    properties:
      type:
        description: Required. The type of hash that was performed.
        enum:
          - HASH_TYPE_UNSPECIFIED
          - SHA256
        type: string
      value:
        description: Required. The hash value.
        format: byte
        type: string
    type: object
  Hint:
    description: |-
      This submessage provides human-readable hints about the purpose of the
      authority. Because the name of a note acts as its resource reference, it is
      important to disambiguate the canonical name of the Note (which might be a
      UUID for security purposes) from "readable" names more suitable for debug
      output. Note that these hints should not be used to look up authorities in
      security sensitive contexts, such as when looking up attestations to
      verify.
    properties:
      humanReadableName:
        description: |-
          Required. The human readable name of this attestation authority, for
          example "qa".
        type: string
    type: object
  Installation:
    description: |-
      This represents how a particular software package may be installed on a
      system.
    properties:
      location:
        description: |-
          Required. All of the places within the filesystem versions of this package
          have been found.
        items:
          $ref: '#/definitions/Location'
        type: array
      name:
        description: Output only. The name of the installed package.
        type: string
    type: object
  KnowledgeBase:
    properties:
      name:
        description: 'The KB name (generally of the form KB[0-9]+ i.e. KB123456).'
        type: string
      url:
        description: |-
          A link to the KB in the Windows update catalog -
          https://www.catalog.update.microsoft.com/
        type: string
    type: object
  Layer:
    description: Layer holds metadata specific to a layer of a Docker image.
    properties:
      arguments:
        description: The recovered arguments to the Dockerfile directive.
        type: string
      directive:
        description: Required. The recovered Dockerfile directive used to construct this layer.
        enum:
          - DIRECTIVE_UNSPECIFIED
          - MAINTAINER
          - RUN
          - CMD
          - LABEL
          - EXPOSE
          - ENV
          - ADD
          - COPY
          - ENTRYPOINT
          - VOLUME
          - USER
          - WORKDIR
          - ARG
          - ONBUILD
          - STOPSIGNAL
          - HEALTHCHECK
          - SHELL
        type: string
    type: object
  ListNoteOccurrencesResponse:
    description: Response for listing occurrences for a note.
    properties:
      nextPageToken:
        description: Token to provide to skip to a particular spot in the list.
        type: string
      occurrences:
        description: The occurrences attached to the specified note.
        items:
          $ref: '#/definitions/Occurrence'
        type: array
    type: object
  ListNotesResponse:
    description: Response for listing notes.
    properties:
      nextPageToken:
        description: |-
          The next pagination token in the list response. It should be used as
          `page_token` for the following request. An empty value means no more
          results.
        type: string
      notes:
        description: The notes requested.
        items:
          $ref: '#/definitions/Note'
        type: array
    type: object
  ListOccurrencesResponse:
    description: Response for listing occurrences.
    properties:
      nextPageToken:
        description: |-
          The next pagination token in the list response. It should be used as
          `page_token` for the following request. An empty value means no more
          results.
        type: string
      occurrences:
        description: The occurrences requested.
        items:
          $ref: '#/definitions/Occurrence'
        type: array
    type: object
  ListScanConfigsResponse:
    description: Response for listing scan configurations.
    properties:
      nextPageToken:
        description: |-
          The next pagination token in the list response. It should be used as
          `page_token` for the following request. An empty value means no more
          results.
        type: string
      scanConfigs:
        description: The scan configurations requested.
        items:
          $ref: '#/definitions/ScanConfig'
        type: array
    type: object
  Location:
    description: |-
      An occurrence of a particular package installation found within a system's
      filesystem. E.g., glibc was found in `/var/lib/dpkg/status`.
    properties:
      cpeUri:
        description: |-
          Required. The CPE URI in [CPE format](https://cpe.mitre.org/specification/)
          denoting the package manager version distributing a package.
        type: string
      path:
        description: The path from which we gathered that this package/version is installed.
        type: string
      version:
        $ref: '#/definitions/Version'
        description: The version installed at this location.
    type: object
  Note:
    description: A type of analysis that can be done for a resource.
    properties:
      attestationAuthority:
        $ref: '#/definitions/Authority'
        description: A note describing an attestation role.
      baseImage:
        $ref: '#/definitions/Basis'
        description: A note describing a base image.
      build:
        $ref: '#/definitions/Build'
        description: A note describing build provenance for a verifiable build.
      createTime:
        description: |-
          Output only. The time this note was created. This field can be used as a
          filter in list requests.
        format: google-datetime
        type: string
      deployable:
        $ref: '#/definitions/Deployable'
        description: A note describing something that can be deployed.
      discovery:
        $ref: '#/definitions/Discovery'
        description: A note describing the initial analysis of a resource.
      expirationTime:
        description: Time of expiration for this note. Empty if note does not expire.
        format: google-datetime
        type: string
      kind:
        description: |-
          Output only. The type of analysis. This field can be used as a filter in
          list requests.
        enum:
          - NOTE_KIND_UNSPECIFIED
          - VULNERABILITY
          - BUILD
          - IMAGE
          - PACKAGE
          - DEPLOYMENT
          - DISCOVERY
          - ATTESTATION
        type: string
      longDescription:
        description: A detailed description of this note.
        type: string
      name:
        description: |-
          Output only. The name of the note in the form of
          `projects/[PROVIDER_ID]/notes/[NOTE_ID]`.
        type: string
      package:
        $ref: '#/definitions/Package'
        description: A note describing a package hosted by various package managers.
      relatedNoteNames:
        description: Other notes related to this note.
        items:
          type: string
        type: array
      relatedUrl:
        description: URLs associated with this note.
        items:
          $ref: '#/definitions/RelatedUrl'
        type: array
      shortDescription:
        description: A one sentence description of this note.
        type: string
      updateTime:
        description: |-
          Output only. The time this note was last updated. This field can be used as
          a filter in list requests.
        format: google-datetime
        type: string
      vulnerability:
        $ref: '#/definitions/Vulnerability'
        description: A note describing a package vulnerability.
    type: object
  Occurrence:
    description: An instance of an analysis type that has been found on a resource.
    properties:
      attestation:
        $ref: '#/definitions/Details'
        description: Describes an attestation of an artifact.
      build:
        $ref: '#/definitions/GrafeasV1beta1BuildDetails'
        description: Describes a verifiable build.
      createTime:
        description: Output only. The time this occurrence was created.
        format: google-datetime
        type: string
      deployment:
        $ref: '#/definitions/GrafeasV1beta1DeploymentDetails'
        description: Describes the deployment of an artifact on a runtime.
      derivedImage:
        $ref: '#/definitions/GrafeasV1beta1ImageDetails'
        description: |-
          Describes how this resource derives from the basis in the associated
          note.
      discovered:
        $ref: '#/definitions/GrafeasV1beta1DiscoveryDetails'
        description: Describes when a resource was discovered.
      installation:
        $ref: '#/definitions/GrafeasV1beta1PackageDetails'
        description: Describes the installation of a package on the linked resource.
      kind:
        description: |-
          Output only. This explicitly denotes which of the occurrence details are
          specified. This field can be used as a filter in list requests.
        enum:
          - NOTE_KIND_UNSPECIFIED
          - VULNERABILITY
          - BUILD
          - IMAGE
          - PACKAGE
          - DEPLOYMENT
          - DISCOVERY
          - ATTESTATION
        type: string
      name:
        description: |-
          Output only. The name of the occurrence in the form of
          `projects/[PROJECT_ID]/occurrences/[OCCURRENCE_ID]`.
        type: string
      noteName:
        description: |-
          Required. Immutable. The analysis note associated with this occurrence, in
          the form of `projects/[PROVIDER_ID]/notes/[NOTE_ID]`. This field can be
          used as a filter in list requests.
        type: string
      remediation:
        description: A description of actions that can be taken to remedy the note.
        type: string
      resource:
        $ref: '#/definitions/Resource'
        description: Required. Immutable. The resource for which the occurrence applies.
      updateTime:
        description: Output only. The time this occurrence was last updated.
        format: google-datetime
        type: string
      vulnerability:
        $ref: '#/definitions/GrafeasV1beta1VulnerabilityDetails'
        description: Describes a security vulnerability.
    type: object
  Package:
    description: |-
      This represents a particular package that is distributed over various
      channels. E.g., glibc (aka libc6) is distributed by many, at various
      versions.
    properties:
      distribution:
        description: The various channels by which a package is distributed.
        items:
          $ref: '#/definitions/Distribution'
        type: array
      name:
        description: Required. Immutable. The name of the package.
        type: string
    type: object
  PackageIssue:
    description: |-
      This message wraps a location affected by a vulnerability and its
      associated fix (if one is available).
    properties:
      affectedLocation:
        $ref: '#/definitions/VulnerabilityLocation'
        description: Required. The location of the vulnerability.
      fixedLocation:
        $ref: '#/definitions/VulnerabilityLocation'
        description: The location of the available fix for vulnerability.
      severityName:
        description: |-
          Deprecated, use Details.effective_severity instead
          The severity (e.g., distro assigned severity) for this vulnerability.
        type: string
    type: object
  PgpSignedAttestation:
    description: |-
      An attestation wrapper with a PGP-compatible signature. This message only
      supports `ATTACHED` signatures, where the payload that is signed is included
      alongside the signature itself in the same file.
    properties:
      contentType:
        description: |-
          Type (for example schema) of the attestation payload that was signed.
          The verifier must ensure that the provided type is one that the verifier
          supports, and that the attestation payload is a valid instantiation of that
          type (for example by validating a JSON schema).
        enum:
          - CONTENT_TYPE_UNSPECIFIED
          - SIMPLE_SIGNING_JSON
        type: string
      pgpKeyId:
        description: |-
          The cryptographic fingerprint of the key used to generate the signature,
          as output by, e.g. `gpg --list-keys`. This should be the version 4, full
          160-bit fingerprint, expressed as a 40 character hexidecimal string. See
          https://tools.ietf.org/html/rfc4880#section-12.2 for details.
          Implementations may choose to acknowledge "LONG", "SHORT", or other
          abbreviated key IDs, but only the full fingerprint is guaranteed to work.
          In gpg, the full fingerprint can be retrieved from the `fpr` field
          returned when calling --list-keys with --with-colons.  For example:
          ```
          gpg --with-colons --with-fingerprint --force-v4-certs \
              --list-keys attester@example.com
          tru::1:1513631572:0:3:1:5
          pub:...<SNIP>...
          fpr:::::::::24FF6481B76AC91E66A00AC657A93A81EF3AE6FB:
          ```
          Above, the fingerprint is `24FF6481B76AC91E66A00AC657A93A81EF3AE6FB`.
        type: string
      signature:
        description: |-
          Required. The raw content of the signature, as output by GNU Privacy Guard
          (GPG) or equivalent. Since this message only supports attached signatures,
          the payload that was signed must be attached. While the signature format
          supported is dependent on the verification implementation, currently only
          ASCII-armored (`--armor` to gpg), non-clearsigned (`--sign` rather than
          `--clearsign` to gpg) are supported. Concretely, `gpg --sign --armor
          --output=signature.gpg payload.json` will create the signature content
          expected in this field in `signature.gpg` for the `payload.json`
          attestation payload.
        type: string
    type: object
  Policy:
    description: |-
      Defines an Identity and Access Management (IAM) policy. It is used to
      specify access control policies for Cloud Platform resources.


      A `Policy` consists of a list of `bindings`. A `binding` binds a list of
      `members` to a `role`, where the members can be user accounts, Google groups,
      Google domains, and service accounts. A `role` is a named list of permissions
      defined by IAM.

      **JSON Example**

          {
            "bindings": [
              {
                "role": "roles/owner",
                "members": [
                  "user:mike@example.com",
                  "group:admins@example.com",
                  "domain:google.com",
                  "serviceAccount:my-other-app@appspot.gserviceaccount.com"
                ]
              },
              {
                "role": "roles/viewer",
                "members": ["user:sean@example.com"]
              }
            ]
          }

      **YAML Example**

          bindings:
          - members:
            - user:mike@example.com
            - group:admins@example.com
            - domain:google.com
            - serviceAccount:my-other-app@appspot.gserviceaccount.com
            role: roles/owner
          - members:
            - user:sean@example.com
            role: roles/viewer


      For a description of IAM and its features, see the
      [IAM developer's guide](https://cloud.google.com/iam/docs).
    properties:
      auditConfigs:
        description: Specifies cloud audit logging configuration for this policy.
        items:
          $ref: '#/definitions/AuditConfig'
        type: array
      bindings:
        description: |-
          Associates a list of `members` to a `role`.
          `bindings` with no members will result in an error.
        items:
          $ref: '#/definitions/Binding'
        type: array
      etag:
        description: |-
          `etag` is used for optimistic concurrency control as a way to help
          prevent simultaneous updates of a policy from overwriting each other.
          It is strongly suggested that systems make use of the `etag` in the
          read-modify-write cycle to perform policy updates in order to avoid race
          conditions: An `etag` is returned in the response to `getIamPolicy`, and
          systems are expected to put that etag in the request to `setIamPolicy` to
          ensure that their change will be applied to the same version of the policy.

          If no `etag` is provided in the call to `setIamPolicy`, then the existing
          policy is overwritten blindly.
        format: byte
        type: string
      version:
        description: Deprecated.
        format: int32
        type: integer
    type: object
  ProjectRepoId:
    description: |-
      Selects a repo using a Google Cloud Platform project ID (e.g.,
      winged-cargo-31) and a repo name within that project.
    properties:
      projectId:
        description: The ID of the project.
        type: string
      repoName:
        description: The name of the repo. Leave empty for the default repo.
        type: string
    type: object
  RelatedUrl:
    description: Metadata for any related URL information.
    properties:
      label:
        description: Label to describe usage of the URL.
        type: string
      url:
        description: Specific URL associated with the resource.
        type: string
    type: object
  RepoId:
    description: A unique identifier for a Cloud Repo.
    properties:
      projectRepoId:
        $ref: '#/definitions/ProjectRepoId'
        description: A combination of a project ID and a repo name.
      uid:
        description: 'A server-assigned, globally unique identifier.'
        type: string
    type: object
  Resource:
    description: 'An entity that can have metadata. For example, a Docker image.'
    properties:
      contentHash:
        $ref: '#/definitions/Hash'
        description: |-
          Deprecated, do not use. Use uri instead.

          The hash of the resource content. For example, the Docker digest.
      name:
        description: |-
          Deprecated, do not use. Use uri instead.

          The name of the resource. For example, the name of a Docker image -
          "Debian".
        type: string
      uri:
        description: |-
          Required. The unique URI of the resource. For example,
          `https://gcr.io/project/image@sha256:foo` for a Docker image.
        type: string
    type: object
  ScanConfig:
    description: |-
      A scan configuration specifies whether Cloud components in a project have a
      particular type of analysis being run. For example, it can configure whether
      vulnerability scanning is being done on Docker images or not.
    properties:
      createTime:
        description: Output only. The time this scan config was created.
        format: google-datetime
        type: string
      description:
        description: |-
          Output only. A human-readable description of what the scan configuration
          does.
        type: string
      enabled:
        description: Whether the scan is enabled.
        type: boolean
      name:
        description: |-
          Output only. The name of the scan configuration in the form of
          `projects/[PROJECT_ID]/scanConfigs/[SCAN_CONFIG_ID]`.
        type: string
      updateTime:
        description: Output only. The time this scan config was last updated.
        format: google-datetime
        type: string
    type: object
  SetIamPolicyRequest:
    description: Request message for `SetIamPolicy` method.
    properties:
      policy:
        $ref: '#/definitions/Policy'
        description: |-
          REQUIRED: The complete policy to be applied to the `resource`. The size of
          the policy is limited to a few 10s of KB. An empty policy is a
          valid policy but certain Cloud Platform services (such as Projects)
          might reject them.
      updateMask:
        description: |-
          OPTIONAL: A FieldMask specifying which fields of the policy to modify. Only
          the fields in the mask will be modified. If no mask is provided, the
          following default mask is used:
          paths: "bindings, etag"
          This field is only used by Cloud IAM.
        format: google-fieldmask
        type: string
    type: object
  Signature:
    description: |-
      Verifiers (e.g. Kritis implementations) MUST verify signatures
      with respect to the trust anchors defined in policy (e.g. a Kritis policy).
      Typically this means that the verifier has been configured with a map from
      `public_key_id` to public key material (and any required parameters, e.g.
      signing algorithm).

      In particular, verification implementations MUST NOT treat the signature
      `public_key_id` as anything more than a key lookup hint. The `public_key_id`
      DOES NOT validate or authenticate a public key; it only provides a mechanism
      for quickly selecting a public key ALREADY CONFIGURED on the verifier through
      a trusted channel. Verification implementations MUST reject signatures in any
      of the following circumstances:
        * The `public_key_id` is not recognized by the verifier.
        * The public key that `public_key_id` refers to does not verify the
          signature with respect to the payload.

      The `signature` contents SHOULD NOT be "attached" (where the payload is
      included with the serialized `signature` bytes). Verifiers MUST ignore any
      "attached" payload and only verify signatures with respect to explicitly
      provided payload (e.g. a `payload` field on the proto message that holds
      this Signature, or the canonical serialization of the proto message that
      holds this signature).
    properties:
      publicKeyId:
        description: |-
          The identifier for the public key that verifies this signature.
            * The `public_key_id` is required.
            * The `public_key_id` MUST be an RFC3986 conformant URI.
            * When possible, the `public_key_id` SHOULD be an immutable reference,
              such as a cryptographic digest.

          Examples of valid `public_key_id`s:

          OpenPGP V4 public key fingerprint:
            * "openpgp4fpr:74FAF3B861BDA0870C7B6DEF607E48D2A663AEEA"
          See https://www.iana.org/assignments/uri-schemes/prov/openpgp4fpr for more
          details on this scheme.

          RFC6920 digest-named SubjectPublicKeyInfo (digest of the DER
          serialization):
            * "ni:///sha-256;cD9o9Cq6LG3jD0iKXqEi_vdjJGecm_iXkbqVoScViaU"
            * "nih:///sha-256;703f68f42aba2c6de30f488a5ea122fef76324679c9bf89791ba95a1271589a5"
        type: string
      signature:
        description: |-
          The content of the signature, an opaque bytestring.
          The payload that this signature verifies MUST be unambiguously provided
          with the Signature during verification. A wrapper message might provide
          the payload explicitly. Alternatively, a message might have a canonical
          serialization that can always be unambiguously computed to derive the
          payload.
        format: byte
        type: string
    type: object
  Source:
    description: Source describes the location of the source used for the build.
    properties:
      additionalContexts:
        description: |-
          If provided, some of the source code used for the build may be found in
          these locations, in the case where the source repository had multiple
          remotes or submodules. This list will not include the context specified in
          the context field.
        items:
          $ref: '#/definitions/SourceContext'
        type: array
      artifactStorageSourceUri:
        description: |-
          If provided, the input binary artifacts for the build came from this
          location.
        type: string
      context:
        $ref: '#/definitions/SourceContext'
        description: 'If provided, the source code used for the build came from this location.'
      fileHashes:
        additionalProperties:
          $ref: '#/definitions/FileHashes'
        description: |-
          Hash(es) of the build source, which can be used to verify that the original
          source integrity was maintained in the build.

          The keys to this map are file paths used as build source and the values
          contain the hash values for those files.

          If the build source came in a single package such as a gzipped tarfile
          (.tar.gz), the FileHash will be for the single path to that file.
        type: object
    type: object
  SourceContext:
    description: |-
      A SourceContext is a reference to a tree of files. A SourceContext together
      with a path point to a unique revision of a single file or directory.
    properties:
      cloudRepo:
        $ref: '#/definitions/CloudRepoSourceContext'
        description: A SourceContext referring to a revision in a Google Cloud Source Repo.
      gerrit:
        $ref: '#/definitions/GerritSourceContext'
        description: A SourceContext referring to a Gerrit project.
      git:
        $ref: '#/definitions/GitSourceContext'
        description: 'A SourceContext referring to any third party Git repo (e.g., GitHub).'
      labels:
        additionalProperties:
          type: string
        description: Labels with user defined metadata.
        type: object
    type: object
  Status:
    description: |-
      The `Status` type defines a logical error model that is suitable for
      different programming environments, including REST APIs and RPC APIs. It is
      used by [gRPC](https://github.com/grpc). Each `Status` message contains
      three pieces of data: error code, error message, and error details.

      You can find out more about this error model and how to work with it in the
      [API Design Guide](https://cloud.google.com/apis/design/errors).
    properties:
      code:
        description: 'The status code, which should be an enum value of google.rpc.Code.'
        format: int32
        type: integer
      details:
        description: |-
          A list of messages that carry the error details.  There is a common set of
          message types for APIs to use.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          type: object
        type: array
      message:
        description: |-
          A developer-facing error message, which should be in English. Any
          user-facing error message should be localized and sent in the
          google.rpc.Status.details field, or localized by the client.
        type: string
    type: object
  TestIamPermissionsRequest:
    description: Request message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          The set of permissions to check for the `resource`. Permissions with
          wildcards (such as '*' or 'storage.*') are not allowed. For more
          information see
          [IAM Overview](https://cloud.google.com/iam/docs/overview#permissions).
        items:
          type: string
        type: array
    type: object
  TestIamPermissionsResponse:
    description: Response message for `TestIamPermissions` method.
    properties:
      permissions:
        description: |-
          A subset of `TestPermissionsRequest.permissions` that the caller is
          allowed.
        items:
          type: string
        type: array
    type: object
  Version:
    description: Version contains structured information about the version of a package.
    properties:
      epoch:
        description: Used to correct mistakes in the version numbering scheme.
        format: int32
        type: integer
      kind:
        description: |-
          Required. Distinguishes between sentinel MIN/MAX versions and normal
          versions.
        enum:
          - VERSION_KIND_UNSPECIFIED
          - NORMAL
          - MINIMUM
          - MAXIMUM
        type: string
      name:
        description: |-
          Required only when version kind is NORMAL. The main part of the version
          name.
        type: string
      revision:
        description: The iteration of the package build from the above version.
        type: string
    type: object
  Vulnerability:
    description: Vulnerability provides metadata about a security vulnerability in a Note.
    properties:
      cvssScore:
        description: The CVSS score for this vulnerability.
        format: float
        type: number
      cvssV3:
        $ref: '#/definitions/CVSSv3'
        description: The full description of the CVSSv3.
      details:
        description: |-
          All information about the package to specifically identify this
          vulnerability. One entry per (version range and cpe_uri) the package
          vulnerability has manifested in.
        items:
          $ref: '#/definitions/Detail'
        type: array
      severity:
        description: Note provider assigned impact of the vulnerability.
        enum:
          - SEVERITY_UNSPECIFIED
          - MINIMAL
          - LOW
          - MEDIUM
          - HIGH
          - CRITICAL
        type: string
      windowsDetails:
        description: |-
          Windows details get their own format because the information format and
          model don't match a normal detail. Specifically Windows updates are done as
          patches, thus Windows vulnerabilities really are a missing package, rather
          than a package being at an incorrect version.
        items:
          $ref: '#/definitions/WindowsDetail'
        type: array
    type: object
  VulnerabilityLocation:
    description: The location of the vulnerability.
    properties:
      cpeUri:
        description: |-
          Required. The CPE URI in [cpe format](https://cpe.mitre.org/specification/)
          format. Examples include distro or storage location for vulnerable jar.
        type: string
      package:
        description: Required. The package being described.
        type: string
      version:
        $ref: '#/definitions/Version'
        description: Required. The version of the package being described.
    type: object
  VulnerabilityOccurrencesSummary:
    description: |-
      A summary of how many vulnerability occurrences there are per resource and
      severity type.
    properties:
      counts:
        description: A listing by resource of the number of fixable and total vulnerabilities.
        items:
          $ref: '#/definitions/FixableTotalByDigest'
        type: array
    type: object
  WindowsDetail:
    properties:
      cpeUri:
        description: |-
          Required. The CPE URI in
          [cpe format](https://cpe.mitre.org/specification/) in which the
          vulnerability manifests. Examples include distro or storage location for
          vulnerable jar.
        type: string
      description:
        description: The description of the vulnerability.
        type: string
      fixingKbs:
        description: |-
          Required. The names of the KBs which have hotfixes to mitigate this
          vulnerability. Note that there may be multiple hotfixes (and thus
          multiple KBs) that mitigate a given vulnerability. Currently any listed
          kb's presence is considered a fix.
        items:
          $ref: '#/definitions/KnowledgeBase'
        type: array
      name:
        description: Required. The name of the vulnerability.
        type: string
    type: object
