swagger: '2.0'
info:
  version: '2019-11-15'
  x-release: v4
  title: Amazon Fraud Detector
  description: 'This is the Amazon Fraud Detector API Reference. This guide is for developers who need detailed information about Amazon Fraud Detector API actions, data types, and errors. For more information about Amazon Fraud Detector features, see the <a href="https://docs.aws.amazon.com/frauddetector/latest/ug/">Amazon Fraud Detector User Guide</a>.'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: frauddetector
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/frauddetector-2019-11-15.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/frauddetector/'
host: frauddetector.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://frauddetector.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Fraud Detector multi-region endpoint
  - url: 'https://frauddetector.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon Fraud Detector multi-region endpoint
  - url: 'http://frauddetector.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Fraud Detector endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://frauddetector.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon Fraud Detector endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=AWSHawksNestServiceFacade.BatchCreateVariable':
    post:
      operationId: BatchCreateVariable
      description: Creates a batch of variables.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchCreateVariableResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchCreateVariableRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.BatchCreateVariable
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.BatchGetVariable':
    post:
      operationId: BatchGetVariable
      description: Gets a batch of variables.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetVariableResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetVariableRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.BatchGetVariable
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.CreateDetectorVersion':
    post:
      operationId: CreateDetectorVersion
      description: Creates a detector version. The detector version starts in a <code>DRAFT</code> status.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDetectorVersionResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateDetectorVersionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.CreateDetectorVersion
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.CreateModelVersion':
    post:
      operationId: CreateModelVersion
      description: 'Creates a version of the model using the specified model type. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateModelVersionResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateModelVersionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.CreateModelVersion
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.CreateRule':
    post:
      operationId: CreateRule
      description: 'Creates a rule for use with the specified detector. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateRuleResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateRuleRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.CreateRule
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.CreateVariable':
    post:
      operationId: CreateVariable
      description: Creates a variable.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateVariableResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateVariableRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.CreateVariable
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.DeleteDetectorVersion':
    post:
      operationId: DeleteDetectorVersion
      description: Deletes the detector version.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDetectorVersionResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDetectorVersionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.DeleteDetectorVersion
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.DeleteEvent':
    post:
      operationId: DeleteEvent
      description: Deletes the specified event.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEventResult'
        '480':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '481':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEventRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.DeleteEvent
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.DescribeDetector':
    post:
      operationId: DescribeDetector
      description: Gets all versions for a specified detector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDetectorResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDetectorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.DescribeDetector
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.DescribeModelVersions':
    post:
      operationId: DescribeModelVersions
      description: 'Gets all of the model versions for the specified model type or for the specified model type and model ID. You can also get details for a single, specified model version. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeModelVersionsResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeModelVersionsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.DescribeModelVersions
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.GetDetectorVersion':
    post:
      operationId: GetDetectorVersion
      description: 'Gets a particular detector version. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDetectorVersionResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDetectorVersionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.GetDetectorVersion
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.GetDetectors':
    post:
      operationId: GetDetectors
      description: 'Gets all of detectors. This is a paginated API. If you provide a null <code>maxSizePerPage</code>, this actions retrieves a maximum of 10 records per page. If you provide a <code>maxSizePerPage</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetEventTypesResponse</code> as part of your request. A null pagination token fetches the records from the beginning. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDetectorsResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDetectorsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.GetDetectors
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.GetExternalModels':
    post:
      operationId: GetExternalModels
      description: 'Gets the details for one or more Amazon SageMaker models that have been imported into the service. This is a paginated API. If you provide a null <code>maxSizePerPage</code>, this actions retrieves a maximum of 10 records per page. If you provide a <code>maxSizePerPage</code>, the value must be between 5 and 10. To get the next page results, provide the pagination token from the <code>GetExternalModelsResult</code> as part of your request. A null pagination token fetches the records from the beginning. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetExternalModelsResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetExternalModelsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.GetExternalModels
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.GetModelVersion':
    post:
      operationId: GetModelVersion
      description: 'Gets a model version. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetModelVersionResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetModelVersionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.GetModelVersion
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.GetModels':
    post:
      operationId: GetModels
      description: 'Gets all of the models for the AWS account, or the specified model type, or gets a single model for the specified model type, model ID combination. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetModelsResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetModelsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.GetModels
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.GetOutcomes':
    post:
      operationId: GetOutcomes
      description: 'Gets one or more outcomes. This is a paginated API. If you provide a null <code>maxSizePerPage</code>, this actions retrieves a maximum of 10 records per page. If you provide a <code>maxSizePerPage</code>, the value must be between 50 and 100. To get the next page results, provide the pagination token from the <code>GetOutcomesResult</code> as part of your request. A null pagination token fetches the records from the beginning. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOutcomesResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOutcomesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.GetOutcomes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.GetPrediction':
    post:
      operationId: GetPrediction
      description: 'Evaluates an event against a detector version. If a version ID is not provided, the detector’s (<code>ACTIVE</code>) version is used. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPredictionResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetPredictionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.GetPrediction
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.GetRules':
    post:
      operationId: GetRules
      description: Gets all rules available for the specified detector.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetRulesResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetRulesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.GetRules
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.GetVariables':
    post:
      operationId: GetVariables
      description: 'Gets all of the variables or the specific variable. This is a paginated API. Providing null <code>maxSizePerPage</code> results in retrieving maximum of 100 records per page. If you provide <code>maxSizePerPage</code> the value must be between 50 and 100. To get the next page result, a provide a pagination token from <code>GetVariablesResult</code> as part of your request. Null pagination token fetches the records from the beginning. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetVariablesResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetVariablesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.GetVariables
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.PutDetector':
    post:
      operationId: PutDetector
      description: 'Creates or updates a detector. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutDetectorResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutDetectorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.PutDetector
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.PutExternalModel':
    post:
      operationId: PutExternalModel
      description: 'Creates or updates an Amazon SageMaker model endpoint. You can also use this action to update the configuration of the model endpoint, including the IAM role and/or the mapped variables. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutExternalModelResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutExternalModelRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.PutExternalModel
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.PutModel':
    post:
      operationId: PutModel
      description: 'Creates or updates a model. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutModelResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutModelRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.PutModel
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.PutOutcome':
    post:
      operationId: PutOutcome
      description: 'Creates or updates an outcome. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutOutcomeResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutOutcomeRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.PutOutcome
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.UpdateDetectorVersion':
    post:
      operationId: UpdateDetectorVersion
      description: ' Updates a detector version. The detector version attributes that you can update include models, external model endpoints, rules, and description. You can only update a <code>DRAFT</code> detector version.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDetectorVersionResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDetectorVersionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.UpdateDetectorVersion
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.UpdateDetectorVersionMetadata':
    post:
      operationId: UpdateDetectorVersionMetadata
      description: 'Updates the detector version''s description. You can update the metadata for any detector version (<code>DRAFT, ACTIVE,</code> or <code>INACTIVE</code>). '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDetectorVersionMetadataResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '482':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDetectorVersionMetadataRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.UpdateDetectorVersionMetadata
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.UpdateDetectorVersionStatus':
    post:
      operationId: UpdateDetectorVersionStatus
      description: 'Updates the detector version’s status. You can perform the following promotions or demotions using <code>UpdateDetectorVersionStatus</code>: <code>DRAFT</code> to <code>ACTIVE</code>, <code>ACTIVE</code> to <code>INACTIVE</code>, and <code>INACTIVE</code> to <code>ACTIVE</code>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDetectorVersionStatusResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDetectorVersionStatusRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.UpdateDetectorVersionStatus
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.UpdateModelVersion':
    post:
      operationId: UpdateModelVersion
      description: '<p>Updates a model version. You can update the description and status attributes using this action. You can perform the following status updates: </p> <ol> <li> <p>Change the <code>TRAINING_COMPLETE</code> status to <code>ACTIVE</code> </p> </li> <li> <p>Change <code>ACTIVE</code> back to <code>TRAINING_COMPLETE</code> </p> </li> </ol>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateModelVersionResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateModelVersionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.UpdateModelVersion
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.UpdateRuleMetadata':
    post:
      operationId: UpdateRuleMetadata
      description: 'Updates a rule''s metadata. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRuleMetadataResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateRuleMetadataRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.UpdateRuleMetadata
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.UpdateRuleVersion':
    post:
      operationId: UpdateRuleVersion
      description: 'Updates a rule version resulting in a new rule version. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRuleVersionResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateRuleVersionRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.UpdateRuleVersion
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=AWSHawksNestServiceFacade.UpdateVariable':
    post:
      operationId: UpdateVariable
      description: Updates a variable.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateVariableResult'
        '480':
          description: ValidationException
          schema:
            $ref: '#/definitions/ValidationException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerException
          schema:
            $ref: '#/definitions/InternalServerException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateVariableRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - AWSHawksNestServiceFacade.UpdateVariable
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BatchCreateVariableResult:
    type: object
    properties:
      errors:
        $ref: '#/definitions/BatchCreateVariableErrorList'
        description: Provides the errors for the <code>BatchCreateVariable</code> request.
  BatchCreateVariableRequest:
    type: object
    required:
      - variableEntries
    properties:
      variableEntries:
        $ref: '#/definitions/VariableEntryList'
        description: The list of variables for the batch create variable request.
  ValidationException: {}
  InternalServerException: {}
  ThrottlingException: {}
  BatchGetVariableResult:
    type: object
    properties:
      variables:
        $ref: '#/definitions/VariableList'
        description: The returned variables.
      errors:
        $ref: '#/definitions/BatchGetVariableErrorList'
        description: The errors from the request.
  BatchGetVariableRequest:
    type: object
    required:
      - names
    properties:
      names:
        $ref: '#/definitions/NameList'
        description: The list of variable names to get.
  CreateDetectorVersionResult:
    type: object
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The ID for the created version's parent detector.
      detectorVersionId:
        $ref: '#/definitions/nonEmptyString'
        description: 'The ID for the created detector. '
      status:
        $ref: '#/definitions/DetectorVersionStatus'
        description: The status of the detector version.
  CreateDetectorVersionRequest:
    type: object
    required:
      - detectorId
      - rules
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The ID of the detector under which you want to create a new version.
      description:
        $ref: '#/definitions/description'
        description: The description of the detector version.
      externalModelEndpoints:
        $ref: '#/definitions/ListOfStrings'
        description: The Amazon Sagemaker model endpoints to include in the detector version.
      rules:
        $ref: '#/definitions/RuleList'
        description: The rules to include in the detector version.
      modelVersions:
        $ref: '#/definitions/ListOfModelVersions'
        description: The model versions to include in the detector version.
  ResourceNotFoundException: {}
  CreateModelVersionResult:
    type: object
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: 'The model ID. '
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: The model type.
      modelVersionNumber:
        $ref: '#/definitions/nonEmptyString'
        description: 'The version of the model. '
      status:
        $ref: '#/definitions/string'
        description: 'The model version status. '
  CreateModelVersionRequest:
    type: object
    required:
      - modelId
      - modelType
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: 'The model ID. '
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: The model type.
      description:
        $ref: '#/definitions/description'
        description: The model version description.
  CreateRuleResult:
    type: object
    properties:
      rule:
        $ref: '#/definitions/Rule'
        description: The created rule.
  CreateRuleRequest:
    type: object
    required:
      - ruleId
      - detectorId
      - expression
      - language
      - outcomes
    properties:
      ruleId:
        $ref: '#/definitions/identifier'
        description: The rule ID.
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector ID for the rule's parent detector.
      description:
        $ref: '#/definitions/description'
        description: The rule description.
      expression:
        $ref: '#/definitions/ruleExpression'
        description: The rule expression.
      language:
        $ref: '#/definitions/Language'
        description: The language of the rule.
      outcomes:
        $ref: '#/definitions/NonEmptyListOfStrings'
        description: The outcome or outcomes returned when the rule expression matches.
  CreateVariableResult:
    type: object
    properties: {}
  CreateVariableRequest:
    type: object
    required:
      - name
      - dataType
      - dataSource
      - defaultValue
    properties:
      name:
        $ref: '#/definitions/string'
        description: The name of the variable.
      dataType:
        $ref: '#/definitions/DataType'
        description: The data type.
      dataSource:
        $ref: '#/definitions/DataSource'
        description: The source of the data.
      defaultValue:
        $ref: '#/definitions/string'
        description: The default value for the variable when no value is received.
      description:
        $ref: '#/definitions/string'
        description: The description.
      variableType:
        $ref: '#/definitions/string'
        description: The variable type.
  DeleteDetectorVersionResult:
    type: object
    properties: {}
  DeleteDetectorVersionRequest:
    type: object
    required:
      - detectorId
      - detectorVersionId
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The ID of the parent detector for the detector version to delete.
      detectorVersionId:
        $ref: '#/definitions/nonEmptyString'
        description: The ID of the detector version to delete.
  DeleteEventResult:
    type: object
    properties: {}
  DeleteEventRequest:
    type: object
    required:
      - eventId
    properties:
      eventId:
        $ref: '#/definitions/string'
        description: The ID of the event to delete.
  DescribeDetectorResult:
    type: object
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector ID.
      detectorVersionSummaries:
        $ref: '#/definitions/DetectorVersionSummaryList'
        description: The status and description for each detector version.
      nextToken:
        $ref: '#/definitions/string'
        description: The next token to be used for subsequent requests.
  DescribeDetectorRequest:
    type: object
    required:
      - detectorId
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector ID.
      nextToken:
        $ref: '#/definitions/string'
        description: The next token from the previous response.
      maxResults:
        $ref: '#/definitions/DetectorVersionMaxResults'
        description: The maximum number of results to return for the request.
  DescribeModelVersionsResult:
    type: object
    properties:
      modelVersionDetails:
        $ref: '#/definitions/ModelVersionDetailList'
        description: The model version details.
      nextToken:
        $ref: '#/definitions/string'
        description: The next token.
  DescribeModelVersionsRequest:
    type: object
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: The model ID.
      modelVersionNumber:
        $ref: '#/definitions/nonEmptyString'
        description: 'The model version. '
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: The model type.
      nextToken:
        $ref: '#/definitions/string'
        description: The next token from the previous results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum number of results to return.
  GetDetectorVersionResult:
    type: object
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector ID.
      detectorVersionId:
        $ref: '#/definitions/nonEmptyString'
        description: The detector version ID.
      description:
        $ref: '#/definitions/description'
        description: The detector version description.
      externalModelEndpoints:
        $ref: '#/definitions/ListOfStrings'
        description: The Amazon SageMaker model endpoints included in the detector version.
      modelVersions:
        $ref: '#/definitions/ListOfModelVersions'
        description: 'The model versions included in the detector version. '
      rules:
        $ref: '#/definitions/RuleList'
        description: The rules included in the detector version.
      status:
        $ref: '#/definitions/DetectorVersionStatus'
        description: The status of the detector version.
      lastUpdatedTime:
        $ref: '#/definitions/time'
        description: 'The timestamp when the detector version was last updated. '
      createdTime:
        $ref: '#/definitions/time'
        description: 'The timestamp when the detector version was created. '
  GetDetectorVersionRequest:
    type: object
    required:
      - detectorId
      - detectorVersionId
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector ID.
      detectorVersionId:
        $ref: '#/definitions/nonEmptyString'
        description: The detector version ID.
  GetDetectorsResult:
    type: object
    properties:
      detectors:
        $ref: '#/definitions/DetectorList'
        description: The detectors.
      nextToken:
        $ref: '#/definitions/string'
        description: The next page token.
  GetDetectorsRequest:
    type: object
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector ID.
      nextToken:
        $ref: '#/definitions/string'
        description: The next token for the subsequent request.
      maxResults:
        $ref: '#/definitions/DetectorsMaxResults'
        description: The maximum number of objects to return for the request.
  GetExternalModelsResult:
    type: object
    properties:
      externalModels:
        $ref: '#/definitions/ExternalModelList'
        description: Gets the Amazon SageMaker models.
      nextToken:
        $ref: '#/definitions/string'
        description: The next page token to be used in subsequent requests.
  GetExternalModelsRequest:
    type: object
    properties:
      modelEndpoint:
        $ref: '#/definitions/string'
        description: The Amazon SageMaker model endpoint.
      nextToken:
        $ref: '#/definitions/string'
        description: The next page token for the request.
      maxResults:
        $ref: '#/definitions/ExternalModelsMaxResults'
        description: The maximum number of objects to return for the request.
  GetModelVersionResult:
    type: object
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: 'The model ID. '
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: 'The model type. '
      modelVersionNumber:
        $ref: '#/definitions/nonEmptyString'
        description: 'The model version. '
      description:
        $ref: '#/definitions/description'
        description: The model version description.
      status:
        $ref: '#/definitions/string'
        description: 'The model version status. '
  GetModelVersionRequest:
    type: object
    required:
      - modelId
      - modelType
      - modelVersionNumber
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: 'The model ID. '
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: 'The model type. '
      modelVersionNumber:
        $ref: '#/definitions/nonEmptyString'
        description: 'The model version. '
  GetModelsResult:
    type: object
    properties:
      nextToken:
        $ref: '#/definitions/string'
        description: 'The next token for subsequent requests. '
      models:
        $ref: '#/definitions/ModelList'
        description: 'The returned models. '
  GetModelsRequest:
    type: object
    properties:
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: The model type.
      modelId:
        $ref: '#/definitions/identifier'
        description: The model ID.
      nextToken:
        $ref: '#/definitions/string'
        description: The next token for the request.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: The maximum results to return for the request.
  GetOutcomesResult:
    type: object
    properties:
      outcomes:
        $ref: '#/definitions/OutcomeList'
        description: 'The outcomes. '
      nextToken:
        $ref: '#/definitions/string'
        description: The next page token for subsequent requests.
  GetOutcomesRequest:
    type: object
    properties:
      name:
        $ref: '#/definitions/identifier'
        description: The name of the outcome or outcomes to get.
      nextToken:
        $ref: '#/definitions/string'
        description: 'The next page token for the request. '
      maxResults:
        $ref: '#/definitions/OutcomesMaxResults'
        description: 'The maximum number of objects to return for the request. '
  GetPredictionResult:
    type: object
    properties:
      outcomes:
        $ref: '#/definitions/ListOfStrings'
        description: The prediction outcomes.
      modelScores:
        $ref: '#/definitions/ListOfModelScores'
        description: The model scores for models used in the detector version.
  GetPredictionRequest:
    type: object
    required:
      - detectorId
      - eventId
    properties:
      detectorId:
        $ref: '#/definitions/string'
        description: 'The detector ID. '
      detectorVersionId:
        $ref: '#/definitions/string'
        description: The detector version ID.
      eventId:
        $ref: '#/definitions/string'
        description: The unique ID used to identify the event.
      eventAttributes:
        $ref: '#/definitions/EventAttributeMap'
        description: Names of variables you defined in Amazon Fraud Detector to represent event data elements and their corresponding values for the event you are sending for evaluation.
      externalModelEndpointDataBlobs:
        $ref: '#/definitions/ExternalModelEndpointDataBlobMap'
        description: The Amazon SageMaker model endpoint input data blobs.
  GetRulesResult:
    type: object
    properties:
      ruleDetails:
        $ref: '#/definitions/RuleDetailList'
        description: The details of the requested rule.
      nextToken:
        $ref: '#/definitions/string'
        description: The next page token to be used in subsequent requests.
  GetRulesRequest:
    type: object
    required:
      - detectorId
    properties:
      ruleId:
        $ref: '#/definitions/identifier'
        description: The rule ID.
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector ID.
      ruleVersion:
        $ref: '#/definitions/nonEmptyString'
        description: The rule version.
      nextToken:
        $ref: '#/definitions/string'
        description: The next page token.
      maxResults:
        $ref: '#/definitions/RulesMaxResults'
        description: The maximum number of rules to return for the request.
  GetVariablesResult:
    type: object
    properties:
      variables:
        $ref: '#/definitions/VariableList'
        description: 'The names of the variables returned. '
      nextToken:
        $ref: '#/definitions/string'
        description: 'The next page token to be used in subsequent requests. '
  GetVariablesRequest:
    type: object
    properties:
      name:
        $ref: '#/definitions/string'
        description: 'The name of the variable. '
      nextToken:
        $ref: '#/definitions/string'
        description: 'The next page token of the get variable request. '
      maxResults:
        $ref: '#/definitions/VariablesMaxResults'
        description: 'The max size per page determined for the get variable request. '
  PutDetectorResult:
    type: object
    properties: {}
  PutDetectorRequest:
    type: object
    required:
      - detectorId
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: 'The detector ID. '
      description:
        $ref: '#/definitions/description'
        description: The description of the detector.
  PutExternalModelResult:
    type: object
    properties: {}
  PutExternalModelRequest:
    type: object
    required:
      - modelEndpoint
      - modelSource
      - role
      - inputConfiguration
      - outputConfiguration
      - modelEndpointStatus
    properties:
      modelEndpoint:
        $ref: '#/definitions/string'
        description: The model endpoints name.
      modelSource:
        $ref: '#/definitions/ModelSource'
        description: The source of the model.
      role:
        $ref: '#/definitions/Role'
        description: The IAM role used to invoke the model endpoint.
      inputConfiguration:
        $ref: '#/definitions/ModelInputConfiguration'
        description: The model endpoint input configuration.
      outputConfiguration:
        $ref: '#/definitions/ModelOutputConfiguration'
        description: The model endpoint output configuration.
      modelEndpointStatus:
        $ref: '#/definitions/ModelEndpointStatus'
        description: The model endpoint’s status in Amazon Fraud Detector.
  PutModelResult:
    type: object
    properties: {}
  PutModelRequest:
    type: object
    required:
      - modelId
      - modelType
      - trainingDataSource
      - modelVariables
      - labelSchema
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: The model ID.
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: 'The model type. '
      description:
        $ref: '#/definitions/description'
        description: 'The model description. '
      trainingDataSource:
        $ref: '#/definitions/TrainingDataSource'
        description: 'The training data source location in Amazon S3. '
      modelVariables:
        $ref: '#/definitions/ModelVariablesList'
        description: The model input variables.
      labelSchema:
        $ref: '#/definitions/LabelSchema'
        description: The label schema.
  PutOutcomeResult:
    type: object
    properties: {}
  PutOutcomeRequest:
    type: object
    required:
      - name
    properties:
      name:
        $ref: '#/definitions/identifier'
        description: The name of the outcome.
      description:
        $ref: '#/definitions/description'
        description: The outcome description.
  UpdateDetectorVersionResult:
    type: object
    properties: {}
  UpdateDetectorVersionRequest:
    type: object
    required:
      - detectorId
      - detectorVersionId
      - externalModelEndpoints
      - rules
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The parent detector ID for the detector version you want to update.
      detectorVersionId:
        $ref: '#/definitions/nonEmptyString'
        description: 'The detector version ID. '
      externalModelEndpoints:
        $ref: '#/definitions/ListOfStrings'
        description: The Amazon SageMaker model endpoints to include in the detector version.
      rules:
        $ref: '#/definitions/RuleList'
        description: The rules to include in the detector version.
      description:
        $ref: '#/definitions/description'
        description: 'The detector version description. '
      modelVersions:
        $ref: '#/definitions/ListOfModelVersions'
        description: The model versions to include in the detector version.
  UpdateDetectorVersionMetadataResult:
    type: object
    properties: {}
  UpdateDetectorVersionMetadataRequest:
    type: object
    required:
      - detectorId
      - detectorVersionId
      - description
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector ID.
      detectorVersionId:
        $ref: '#/definitions/nonEmptyString'
        description: 'The detector version ID. '
      description:
        $ref: '#/definitions/description'
        description: The description.
  UpdateDetectorVersionStatusResult:
    type: object
    properties: {}
  UpdateDetectorVersionStatusRequest:
    type: object
    required:
      - detectorId
      - detectorVersionId
      - status
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: 'The detector ID. '
      detectorVersionId:
        $ref: '#/definitions/nonEmptyString'
        description: 'The detector version ID. '
      status:
        $ref: '#/definitions/DetectorVersionStatus'
        description: The new status.
  UpdateModelVersionResult:
    type: object
    properties: {}
  UpdateModelVersionRequest:
    type: object
    required:
      - modelId
      - modelType
      - modelVersionNumber
      - description
      - status
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: The model ID.
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: The model type.
      modelVersionNumber:
        $ref: '#/definitions/nonEmptyString'
        description: The model version.
      description:
        $ref: '#/definitions/description'
        description: The model description.
      status:
        $ref: '#/definitions/ModelVersionStatus'
        description: The new model status.
  UpdateRuleMetadataResult:
    type: object
    properties: {}
  UpdateRuleMetadataRequest:
    type: object
    required:
      - rule
      - description
    properties:
      rule:
        $ref: '#/definitions/Rule'
        description: The rule to update.
      description:
        $ref: '#/definitions/description'
        description: The rule description.
  UpdateRuleVersionResult:
    type: object
    properties:
      rule:
        $ref: '#/definitions/Rule'
        description: The new rule version that was created.
  UpdateRuleVersionRequest:
    type: object
    required:
      - rule
      - expression
      - language
      - outcomes
    properties:
      rule:
        $ref: '#/definitions/Rule'
        description: The rule to update.
      description:
        $ref: '#/definitions/description'
        description: The description.
      expression:
        $ref: '#/definitions/ruleExpression'
        description: The rule expression.
      language:
        $ref: '#/definitions/Language'
        description: The language.
      outcomes:
        $ref: '#/definitions/NonEmptyListOfStrings'
        description: The outcomes.
  UpdateVariableResult:
    type: object
    properties: {}
  UpdateVariableRequest:
    type: object
    required:
      - name
    properties:
      name:
        $ref: '#/definitions/string'
        description: The name of the variable.
      defaultValue:
        $ref: '#/definitions/string'
        description: The new default value of the variable.
      description:
        $ref: '#/definitions/string'
        description: The new description.
      variableType:
        $ref: '#/definitions/string'
        description: The variable type.
  string:
    type: string
  integer:
    type: integer
  BatchCreateVariableError:
    type: object
    properties:
      name:
        $ref: '#/definitions/string'
        description: The name.
      code:
        $ref: '#/definitions/integer'
        description: 'The error code. '
      message:
        $ref: '#/definitions/string'
        description: The error message.
    description: Provides the error of the batch create variable API.
  BatchCreateVariableErrorList:
    type: array
    items:
      $ref: '#/definitions/BatchCreateVariableError'
  VariableEntryList:
    type: array
    items:
      $ref: '#/definitions/VariableEntry'
    minItems: 1
    maxItems: 25
  BatchGetVariableError:
    type: object
    properties:
      name:
        $ref: '#/definitions/string'
        description: 'The error name. '
      code:
        $ref: '#/definitions/integer'
        description: 'The error code. '
      message:
        $ref: '#/definitions/string'
        description: The error message.
    description: Provides the error of the batch get variable API.
  BatchGetVariableErrorList:
    type: array
    items:
      $ref: '#/definitions/BatchGetVariableError'
  NameList:
    type: array
    items:
      $ref: '#/definitions/string'
    minItems: 1
    maxItems: 100
  VariableList:
    type: array
    items:
      $ref: '#/definitions/Variable'
  identifier:
    type: string
    pattern: '^[0-9a-z_-]+$'
    minLength: 1
    maxLength: 64
  description:
    type: string
    minLength: 1
    maxLength: 128
  ListOfStrings:
    type: array
    items:
      $ref: '#/definitions/string'
  RuleList:
    type: array
    items:
      $ref: '#/definitions/Rule'
  ListOfModelVersions:
    type: array
    items:
      $ref: '#/definitions/ModelVersion'
  nonEmptyString:
    type: string
    minLength: 1
  DetectorVersionStatus:
    type: string
    enum:
      - DRAFT
      - ACTIVE
      - INACTIVE
  ModelTypeEnum:
    type: string
    enum:
      - ONLINE_FRAUD_INSIGHTS
  ruleExpression:
    type: string
    minLength: 1
    maxLength: 4096
  Language:
    type: string
    enum:
      - DETECTORPL
  NonEmptyListOfStrings:
    type: array
    items:
      $ref: '#/definitions/string'
    minItems: 1
  Rule:
    type: object
    required:
      - detectorId
      - ruleId
      - ruleVersion
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector for which the rule is associated.
      ruleId:
        $ref: '#/definitions/identifier'
        description: The rule ID.
      ruleVersion:
        $ref: '#/definitions/nonEmptyString'
        description: The rule version.
    description: A rule.
  DataType:
    type: string
    enum:
      - STRING
      - INTEGER
      - FLOAT
      - BOOLEAN
  DataSource:
    type: string
    enum:
      - EVENT
      - MODEL_SCORE
      - EXTERNAL_MODEL_SCORE
  CsvIndexToVariableMap:
    type: object
    additionalProperties:
      $ref: '#/definitions/string'
  DetectorVersionMaxResults:
    type: integer
    minimum: 1000
    maximum: 2500
  DetectorVersionSummaryList:
    type: array
    items:
      $ref: '#/definitions/DetectorVersionSummary'
  MaxResults:
    type: integer
    minimum: 1
    maximum: 10
  ModelVersionDetailList:
    type: array
    items:
      $ref: '#/definitions/ModelVersionDetail'
  time:
    type: string
  Detector:
    type: object
    properties:
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector ID.
      description:
        $ref: '#/definitions/description'
        description: The detector description.
      lastUpdatedTime:
        $ref: '#/definitions/time'
        description: Timestamp of when the detector was last updated.
      createdTime:
        $ref: '#/definitions/time'
        description: Timestamp of when the detector was created.
    description: The detector.
  DetectorList:
    type: array
    items:
      $ref: '#/definitions/Detector'
  DetectorVersionSummary:
    type: object
    properties:
      detectorVersionId:
        $ref: '#/definitions/nonEmptyString'
        description: 'The detector version ID. '
      status:
        $ref: '#/definitions/DetectorVersionStatus'
        description: 'The detector version status. '
      description:
        $ref: '#/definitions/description'
        description: 'The detector version description. '
      lastUpdatedTime:
        $ref: '#/definitions/time'
        description: Timestamp of when the detector version was last updated.
    description: The summary of the detector version.
  DetectorsMaxResults:
    type: integer
    minimum: 5
    maximum: 10
  attributeValue:
    type: string
    minLength: 1
    maxLength: 256
    format: password
  EventAttributeMap:
    type: object
    additionalProperties:
      $ref: '#/definitions/attributeValue'
  ModelSource:
    type: string
    enum:
      - SAGEMAKER
  Role:
    type: object
    required:
      - arn
      - name
    properties:
      arn:
        $ref: '#/definitions/string'
        description: The role ARN.
      name:
        $ref: '#/definitions/string'
        description: The role name.
    description: The role used to invoke external model endpoints.
  ModelInputConfiguration:
    type: object
    required:
      - isOpaque
    properties:
      format:
        $ref: '#/definitions/ModelInputDataFormat'
        description: ' The format of the model input configuration. The format differs depending on if it is passed through to SageMaker or constructed by Amazon Fraud Detector.'
      isOpaque:
        $ref: '#/definitions/IsOpaque'
        description: ' For an opaque-model, the input to the model will be a ByteBuffer blob provided in the getPrediction request, and will be passed to SageMaker as-is. For non-opaque models, the input will be constructed by Amazon Fraud Detector based on the model-configuration. '
      jsonInputTemplate:
        $ref: '#/definitions/string'
        description: ' Template for constructing the JSON input-data sent to SageMaker. At event-evaluation, the placeholders for variable names in the template will be replaced with the variable values before being sent to SageMaker. '
      csvInputTemplate:
        $ref: '#/definitions/string'
        description: ' Template for constructing the CSV input-data sent to SageMaker. At event-evaluation, the placeholders for variable-names in the template will be replaced with the variable values before being sent to SageMaker. '
    description: The model input configuration.
  ModelOutputConfiguration:
    type: object
    required:
      - format
    properties:
      format:
        $ref: '#/definitions/ModelOutputDataFormat'
        description: The format of the model output configuration.
      jsonKeyToVariableMap:
        $ref: '#/definitions/JsonKeyToVariableMap'
        description: 'A map of JSON keys in response from SageMaker to the Amazon Fraud Detector variables. '
      csvIndexToVariableMap:
        $ref: '#/definitions/CsvIndexToVariableMap'
        description: 'A map of CSV index values in the SageMaker response to the Amazon Fraud Detector variables. '
    description: Provides the model output configuration.
  ModelEndpointStatus:
    type: string
    enum:
      - ASSOCIATED
      - DISSOCIATED
  ExternalModel:
    type: object
    properties:
      modelEndpoint:
        $ref: '#/definitions/string'
        description: The Amazon SageMaker model endpoints.
      modelSource:
        $ref: '#/definitions/ModelSource'
        description: The source of the model.
      role:
        $ref: '#/definitions/Role'
        description: 'The role used to invoke the model. '
      inputConfiguration:
        $ref: '#/definitions/ModelInputConfiguration'
        description: The input configuration.
      outputConfiguration:
        $ref: '#/definitions/ModelOutputConfiguration'
        description: The output configuration.
      modelEndpointStatus:
        $ref: '#/definitions/ModelEndpointStatus'
        description: The Amazon Fraud Detector status for the external model endpoint
      lastUpdatedTime:
        $ref: '#/definitions/time'
        description: Timestamp of when the model was last updated.
      createdTime:
        $ref: '#/definitions/time'
        description: Timestamp of when the model was last created.
    description: The Amazon SageMaker model.
  ModelEndpointDataBlob:
    type: object
    properties:
      byteBuffer:
        $ref: '#/definitions/blob'
        description: The byte buffer of the Amazon SageMaker model endpoint input data blob.
      contentType:
        $ref: '#/definitions/contentType'
        description: 'The content type of the Amazon SageMaker model endpoint input data blob. '
    description: A pre-formed Amazon SageMaker model input you can include if your detector version includes an imported Amazon SageMaker model endpoint with pass-through input configuration.
  ExternalModelEndpointDataBlobMap:
    type: object
    additionalProperties:
      $ref: '#/definitions/ModelEndpointDataBlob'
  ExternalModelList:
    type: array
    items:
      $ref: '#/definitions/ExternalModel'
  ExternalModelsMaxResults:
    type: integer
    minimum: 5
    maximum: 10
  ModelList:
    type: array
    items:
      $ref: '#/definitions/Model'
  OutcomesMaxResults:
    type: integer
    minimum: 50
    maximum: 100
  OutcomeList:
    type: array
    items:
      $ref: '#/definitions/Outcome'
  ListOfModelScores:
    type: array
    items:
      $ref: '#/definitions/ModelScores'
  RulesMaxResults:
    type: integer
    minimum: 50
    maximum: 100
  RuleDetailList:
    type: array
    items:
      $ref: '#/definitions/RuleDetail'
  VariablesMaxResults:
    type: integer
    minimum: 50
    maximum: 100
  IsOpaque:
    type: boolean
  JsonKeyToVariableMap:
    type: object
    additionalProperties:
      $ref: '#/definitions/string'
  LabelMapper:
    type: object
    additionalProperties:
      $ref: '#/definitions/ListOfStrings'
  LabelSchema:
    type: object
    required:
      - labelKey
      - labelMapper
    properties:
      labelKey:
        $ref: '#/definitions/string'
        description: The label key.
      labelMapper:
        $ref: '#/definitions/LabelMapper'
        description: 'The label mapper maps the Amazon Fraud Detector supported label to the appropriate source labels. For example, if <code>"FRAUD"</code> and <code>"LEGIT"</code> are Amazon Fraud Detector supported labels, this mapper could be: <code>{"FRAUD" =&gt; ["0"]</code>, "LEGIT" =&gt; ["1"]} or <code>{"FRAUD" =&gt; ["false"], "LEGIT" =&gt; ["true"]}</code> or <code>{"FRAUD" =&gt; ["fraud", "abuse"], "LEGIT" =&gt; ["legit", "safe"]}</code>. The value part of the mapper is a list, because you may have multiple variants for a single Amazon Fraud Detector label. '
    description: The label schema.
  ModelScores:
    type: object
    properties:
      modelVersion:
        $ref: '#/definitions/ModelVersion'
        description: The model version.
      scores:
        $ref: '#/definitions/ModelPredictionMap'
        description: The model's fraud prediction scores.
    description: The fraud prediction scores.
  ModelVersion:
    type: object
    required:
      - modelId
      - modelType
      - modelVersionNumber
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: The parent model ID.
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: The model type.
      modelVersionNumber:
        $ref: '#/definitions/nonEmptyString'
        description: The model version.
    description: The model version.
  MetricsMap:
    type: object
    additionalProperties:
      $ref: '#/definitions/string'
  TrainingDataSource:
    type: object
    required:
      - dataLocation
      - dataAccessRoleArn
    properties:
      dataLocation:
        $ref: '#/definitions/s3BucketLocation'
        description: The data location of the training data source.
      dataAccessRoleArn:
        $ref: '#/definitions/iamRoleArn'
        description: The data access role ARN for the training data source.
    description: The training data source.
  ModelVariablesList:
    type: array
    items:
      $ref: '#/definitions/ModelVariable'
  Model:
    type: object
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: The model ID.
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: The model type.
      description:
        $ref: '#/definitions/description'
        description: The model description.
      trainingDataSource:
        $ref: '#/definitions/TrainingDataSource'
        description: The model training data source in Amazon S3.
      modelVariables:
        $ref: '#/definitions/ModelVariablesList'
        description: The model input variables.
      labelSchema:
        $ref: '#/definitions/LabelSchema'
        description: The model label schema.
      lastUpdatedTime:
        $ref: '#/definitions/time'
        description: Timestamp of last time the model was updated.
      createdTime:
        $ref: '#/definitions/time'
        description: Timestamp of when the model was created.
    description: The model.
  blob:
    type: string
  contentType:
    type: string
    minLength: 1
    maxLength: 1024
  ModelInputDataFormat:
    type: string
    enum:
      - TEXT_CSV
      - APPLICATION_JSON
  ModelOutputDataFormat:
    type: string
    enum:
      - TEXT_CSV
      - APPLICATION_JSONLINES
  float:
    type: number
    format: float
  ModelPredictionMap:
    type: object
    additionalProperties:
      $ref: '#/definitions/float'
  ModelVariableIndex:
    type: integer
  ModelVariable:
    type: object
    required:
      - name
    properties:
      name:
        $ref: '#/definitions/string'
        description: The model variable's name.&gt;
      index:
        $ref: '#/definitions/ModelVariableIndex'
        description: The model variable's index.&gt;
    description: The model variable.&gt;
  ModelVersionDetail:
    type: object
    properties:
      modelId:
        $ref: '#/definitions/identifier'
        description: The model ID.
      modelType:
        $ref: '#/definitions/ModelTypeEnum'
        description: The model type.
      modelVersionNumber:
        $ref: '#/definitions/nonEmptyString'
        description: The model version.
      description:
        $ref: '#/definitions/description'
        description: The model description.
      status:
        $ref: '#/definitions/string'
        description: The model status.
      trainingDataSource:
        $ref: '#/definitions/TrainingDataSource'
        description: The model training data source.
      modelVariables:
        $ref: '#/definitions/ModelVariablesList'
        description: The model variables.
      labelSchema:
        $ref: '#/definitions/LabelSchema'
        description: The model label schema.
      validationMetrics:
        $ref: '#/definitions/MetricsMap'
        description: The model validation metrics.
      trainingMetrics:
        $ref: '#/definitions/MetricsMap'
        description: The model training metrics.
      lastUpdatedTime:
        $ref: '#/definitions/time'
        description: The timestamp when the model was last updated.
      createdTime:
        $ref: '#/definitions/time'
        description: The timestamp when the model was created.
    description: 'Provides the model version details. '
  ModelVersionStatus:
    type: string
    enum:
      - TRAINING_IN_PROGRESS
      - TRAINING_COMPLETE
      - ACTIVATE_REQUESTED
      - ACTIVATE_IN_PROGRESS
      - ACTIVE
      - INACTIVATE_IN_PROGRESS
      - INACTIVE
      - ERROR
  Outcome:
    type: object
    properties:
      name:
        $ref: '#/definitions/identifier'
        description: The outcome name.
      description:
        $ref: '#/definitions/description'
        description: The outcome description.
      lastUpdatedTime:
        $ref: '#/definitions/time'
        description: The timestamp when the outcome was last updated.
      createdTime:
        $ref: '#/definitions/time'
        description: The timestamp when the outcome was created.
    description: The outcome.
  RuleDetail:
    type: object
    properties:
      ruleId:
        $ref: '#/definitions/identifier'
        description: The rule ID.
      description:
        $ref: '#/definitions/description'
        description: The rule description.
      detectorId:
        $ref: '#/definitions/identifier'
        description: The detector for which the rule is associated.
      ruleVersion:
        $ref: '#/definitions/nonEmptyString'
        description: The rule version.
      expression:
        $ref: '#/definitions/ruleExpression'
        description: The rule expression.
      language:
        $ref: '#/definitions/Language'
        description: The rule language.
      outcomes:
        $ref: '#/definitions/NonEmptyListOfStrings'
        description: The rule outcomes.
      lastUpdatedTime:
        $ref: '#/definitions/time'
        description: Timestamp of the last time the rule was updated.
      createdTime:
        $ref: '#/definitions/time'
        description: The timestamp of when the rule was created.
    description: The details of the rule.
  s3BucketLocation:
    type: string
    pattern: '^s3:\/\/[^\s]+$'
    minLength: 1
    maxLength: 512
  iamRoleArn:
    type: string
    pattern: '^arn\:aws\:iam\:\:[0-9]{12}\:role\/[^\s]{2,64}$'
    minLength: 1
    maxLength: 256
  Variable:
    type: object
    properties:
      name:
        $ref: '#/definitions/string'
        description: The name of the variable.
      dataType:
        $ref: '#/definitions/DataType'
        description: The data type of the variable.
      dataSource:
        $ref: '#/definitions/DataSource'
        description: The data source of the variable.
      defaultValue:
        $ref: '#/definitions/string'
        description: The default value of the variable.
      description:
        $ref: '#/definitions/string'
        description: 'The description of the variable. '
      variableType:
        $ref: '#/definitions/string'
        description: The variable type of the variable.
      lastUpdatedTime:
        $ref: '#/definitions/time'
        description: The time when variable was last updated.
      createdTime:
        $ref: '#/definitions/time'
        description: The time when the variable was created.
    description: The variable.
  VariableEntry:
    type: object
    properties:
      name:
        $ref: '#/definitions/string'
        description: The name of the variable entry.
      dataType:
        $ref: '#/definitions/string'
        description: The data type of the variable entry.
      dataSource:
        $ref: '#/definitions/string'
        description: The data source of the variable entry.
      defaultValue:
        $ref: '#/definitions/string'
        description: The default value of the variable entry.
      description:
        $ref: '#/definitions/string'
        description: The description of the variable entry.
      variableType:
        $ref: '#/definitions/string'
        description: The type of the variable entry.
    description: The variable entry in a list.
  attributeKey:
    type: string
    minLength: 1
    maxLength: 64
