swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: The Microsoft Azure Network management API provides a RESTful set of web services that interact with Microsoft Azure Networks service to manage your network resources. The API has entities that capture the relationship between an end user and the Microsoft Azure Networks service.
  title: NetworkManagementClient
  version: '2015-06-15'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/network/resource-manager/Microsoft.Network/2015-06-15/virtualNetwork.json'
      version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: network-virtualNetwork
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client API version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: The subscription credentials which uniquely identify the Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/virtualnetworks':
    get:
      description: Gets all virtual networks in a subscription.
      operationId: VirtualNetworks_ListAll
      parameters:
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of VirtualNetwork resources.
          schema:
            $ref: '#/definitions/VirtualNetworkListResult'
      tags:
        - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualNetworks/{virtualNetworkName}':
    delete:
      description: Deletes the specified virtual network.
      operationId: VirtualNetworks_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Delete successful.
      tags:
        - VirtualNetworks
      x-ms-long-running-operation: true
    get:
      description: Gets the specified virtual network by resource group.
      operationId: VirtualNetworks_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting VirtualNetwork resource.
          schema:
            $ref: '#/definitions/VirtualNetwork'
      tags:
        - VirtualNetworks
    put:
      description: Creates or updates a virtual network in the specified resource group.
      operationId: VirtualNetworks_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: Parameters supplied to the create or update virtual network operation
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/VirtualNetwork'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting VirtualNetwork resource.
          schema:
            $ref: '#/definitions/VirtualNetwork'
        '201':
          description: Create successful. The operation returns the resulting VirtualNetwork resource.
          schema:
            $ref: '#/definitions/VirtualNetwork'
      tags:
        - VirtualNetworks
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks':
    get:
      description: Gets all virtual networks in a resource group.
      operationId: VirtualNetworks_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of VirtualNetwork resources.
          schema:
            $ref: '#/definitions/VirtualNetworkListResult'
      tags:
        - VirtualNetworks
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks/{virtualNetworkName}/subnets':
    get:
      description: Gets all subnets in a virtual network.
      operationId: Subnets_List
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Request successful. The operation returns a list of Subnet resources.
          schema:
            $ref: '#/definitions/SubnetListResult'
      tags:
        - Subnets
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/virtualnetworks/{virtualNetworkName}/subnets/{subnetName}':
    delete:
      description: Deletes the specified subnet.
      operationId: Subnets_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Delete successful.
        '202':
          description: Accepted and the operation will complete asynchronously.
        '204':
          description: Request successful. Resource does not exist.
      tags:
        - Subnets
      x-ms-long-running-operation: true
    get:
      description: Gets the specified subnet by virtual network and resource group.
      operationId: Subnets_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - description: Expands referenced resources.
          in: query
          name: $expand
          required: false
          type: string
      responses:
        '200':
          description: Request successful. The operation returns the resulting Subnet resource.
          schema:
            $ref: '#/definitions/Subnet'
      tags:
        - Subnets
    put:
      description: Creates or updates a subnet in the specified virtual network.
      operationId: Subnets_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the virtual network.
          in: path
          name: virtualNetworkName
          required: true
          type: string
        - description: The name of the subnet.
          in: path
          name: subnetName
          required: true
          type: string
        - description: Parameters supplied to the create or update subnet operation.
          in: body
          name: subnetParameters
          required: true
          schema:
            $ref: '#/definitions/Subnet'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Update successful. The operation returns the resulting Subnet resource.
          schema:
            $ref: '#/definitions/Subnet'
        '201':
          description: Create successful. The operation returns the resulting Subnet resource.
          schema:
            $ref: '#/definitions/Subnet'
      tags:
        - Subnets
      x-ms-long-running-operation: true
definitions:
  AddressSpace:
    description: AddressSpace contains an array of IP address ranges that can be used by subnets of the virtual network.
    properties:
      addressPrefixes:
        description: A list of address blocks reserved for this virtual network in CIDR notation.
        items:
          type: string
        type: array
  DhcpOptions:
    description: DhcpOptions contains an array of DNS servers available to VMs deployed in the virtual network. Standard DHCP option for a subnet overrides VNET DHCP options.
    properties:
      dnsServers:
        description: The list of DNS servers IP addresses.
        items:
          type: string
        type: array
  Subnet:
    allOf:
      - description: Azure resource manager sub resource properties.
        properties:
          id:
            description: Resource Identifier.
            type: string
        x-ms-azure-resource: true
    description: Subnet in a virtual network resource.
    properties:
      etag:
        description: A unique read-only string that changes whenever the resource is updated.
        type: string
      name:
        description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
        type: string
      properties: {}
  SubnetListResult:
    description: Response for ListSubnets API service callRetrieves all subnet that belongs to a virtual network
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: The subnets in a virtual network.
        items:
          $ref: '#/definitions/Subnet'
        type: array
  SubnetPropertiesFormat:
    properties:
      addressPrefix:
        description: The address prefix for the subnet.
        type: string
      ipConfigurations:
        description: Gets an array of references to the network interface IP configurations using subnet.
        items:
          allOf:
            - description: Azure resource manager sub resource properties.
              properties:
                id:
                  description: Resource Identifier.
                  type: string
              x-ms-azure-resource: true
          description: IPConfiguration
          properties:
            etag:
              description: A unique read-only string that changes whenever the resource is updated.
              type: string
            name:
              description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
              type: string
            properties:
              description: Properties of IP configuration.
              properties:
                privateIPAddress:
                  description: The private IP address of the IP configuration.
                  type: string
                privateIPAllocationMethod:
                  description: The private IP allocation method. Possible values are 'Static' and 'Dynamic'.
                  enum:
                    - Static
                    - Dynamic
                  type: string
                  x-ms-enum:
                    modelAsString: true
                    name: IPAllocationMethod
                provisioningState:
                  description: 'Gets the provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                  type: string
                publicIPAddress: {}
                subnet:
                  allOf:
                    - description: Azure resource manager sub resource properties.
                      properties:
                        id:
                          description: Resource Identifier.
                          type: string
                      x-ms-azure-resource: true
                  description: Subnet in a virtual network resource.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties: {}
        type: array
      networkSecurityGroup:
        allOf:
          - description: Azure resource manager resource properties.
            properties:
              id:
                description: Resource Identifier.
                type: string
              location:
                description: Resource location.
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
              type:
                description: Resource type.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: NetworkSecurityGroup resource.
        properties:
          etag:
            description: A unique read-only string that changes whenever the resource is updated.
            type: string
          properties:
            description: Network Security Group resource.
            properties:
              defaultSecurityRules:
                description: The default security rules of network security group.
                items:
                  allOf:
                    - description: Azure resource manager sub resource properties.
                      properties:
                        id:
                          description: Resource Identifier.
                          type: string
                      x-ms-azure-resource: true
                  description: Network security rule.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties:
                      properties:
                        access:
                          description: 'The network traffic is allowed or denied. Possible values are: ''Allow'' and ''Deny''.'
                          enum:
                            - Allow
                            - Deny
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: SecurityRuleAccess
                        description:
                          description: A description for this rule. Restricted to 140 chars.
                          type: string
                        destinationAddressPrefix:
                          description: 'The destination address prefix. CIDR or source IP range. Asterix ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used.'
                          type: string
                        destinationPortRange:
                          description: The destination port or range. Integer or range between 0 and 65535. Asterix '*' can also be used to match all ports.
                          type: string
                        direction:
                          description: 'The direction of the rule. The direction specifies if rule will be evaluated on incoming or outcoming traffic. Possible values are: ''Inbound'' and ''Outbound''.'
                          enum:
                            - Inbound
                            - Outbound
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: SecurityRuleDirection
                        priority:
                          description: 'The priority of the rule. The value can be between 100 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.'
                          format: int32
                          type: integer
                        protocol:
                          description: 'Network protocol this rule applies to. Possible values are ''Tcp'', ''Udp'', and ''*''.'
                          enum:
                            - Tcp
                            - Udp
                            - '*'
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: SecurityRuleProtocol
                        provisioningState:
                          description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                          type: string
                        sourceAddressPrefix:
                          description: 'The CIDR or source IP range. Asterix ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used. If this is an ingress rule, specifies where network traffic originates from. '
                          type: string
                        sourcePortRange:
                          description: The source port or range. Integer or range between 0 and 65535. Asterix '*' can also be used to match all ports.
                          type: string
                      required:
                        - protocol
                        - sourceAddressPrefix
                        - destinationAddressPrefix
                        - access
                        - direction
                type: array
              networkInterfaces:
                description: A collection of references to network interfaces.
                items:
                  allOf:
                    - description: Azure resource manager resource properties.
                      properties:
                        id:
                          description: Resource Identifier.
                          type: string
                        location:
                          description: Resource location.
                          type: string
                        name:
                          description: Resource name.
                          readOnly: true
                          type: string
                        tags:
                          additionalProperties:
                            type: string
                          description: Resource tags.
                          type: object
                        type:
                          description: Resource type.
                          readOnly: true
                          type: string
                      x-ms-azure-resource: true
                  description: A network interface in a resource group.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    properties:
                      description: 'NetworkInterface properties. '
                      properties:
                        dnsSettings:
                          description: DNS settings of a network interface.
                          properties:
                            appliedDnsServers:
                              description: 'If the VM that uses this NIC is part of an Availability Set, then this list will have the union of all DNS servers from all NICs that are part of the Availability Set. This property is what is configured on each of those VMs.'
                              items:
                                type: string
                              type: array
                            dnsServers:
                              description: 'List of DNS servers IP addresses. Use ''AzureProvidedDNS'' to switch to azure provided DNS resolution. ''AzureProvidedDNS'' value cannot be combined with other IPs, it must be the only value in dnsServers collection.'
                              items:
                                type: string
                              type: array
                            internalDnsNameLabel:
                              description: Relative DNS name for this NIC used for internal communications between VMs in the same virtual network.
                              type: string
                            internalFqdn:
                              description: Fully qualified DNS name supporting internal communications between VMs in the same virtual network.
                              type: string
                        enableIPForwarding:
                          description: Indicates whether IP forwarding is enabled on this network interface.
                          type: boolean
                        ipConfigurations:
                          description: A list of IPConfigurations of the network interface.
                          items:
                            allOf:
                              - description: Azure resource manager sub resource properties.
                                properties:
                                  id:
                                    description: Resource Identifier.
                                    type: string
                                x-ms-azure-resource: true
                            description: IPConfiguration in a network interface.
                            properties:
                              etag:
                                description: A unique read-only string that changes whenever the resource is updated.
                                type: string
                              name:
                                description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                type: string
                              properties:
                                description: Properties of IP configuration.
                                properties:
                                  loadBalancerBackendAddressPools:
                                    description: The reference of LoadBalancerBackendAddressPool resource.
                                    items:
                                      allOf:
                                        - description: Azure resource manager sub resource properties.
                                          properties:
                                            id:
                                              description: Resource Identifier.
                                              type: string
                                          x-ms-azure-resource: true
                                      description: Pool of backend IP addresses.
                                      properties:
                                        etag:
                                          description: A unique read-only string that changes whenever the resource is updated.
                                          type: string
                                        name:
                                          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
                                          type: string
                                        properties:
                                          description: Properties of the backend address pool.
                                          properties:
                                            backendIPConfigurations:
                                              description: Gets collection of references to IP addresses defined in network interfaces.
                                              items: {}
                                              type: array
                                            loadBalancingRules:
                                              description: Gets load balancing rules that use this backend address pool.
                                              items:
                                                description: Azure resource manager sub resource properties.
                                                properties:
                                                  id:
                                                    description: Resource Identifier.
                                                    type: string
                                                x-ms-azure-resource: true
                                              readOnly: true
                                              type: array
                                            outboundNatRule:
                                              description: Azure resource manager sub resource properties.
                                              properties:
                                                id:
                                                  description: Resource Identifier.
                                                  type: string
                                              x-ms-azure-resource: true
                                            provisioningState:
                                              description: 'Get provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                              type: string
                                    type: array
                                  loadBalancerInboundNatRules:
                                    description: A list of references of LoadBalancerInboundNatRules.
                                    items:
                                      allOf:
                                        - description: Azure resource manager sub resource properties.
                                          properties:
                                            id:
                                              description: Resource Identifier.
                                              type: string
                                          x-ms-azure-resource: true
                                      description: Inbound NAT rule of the load balancer.
                                      properties:
                                        etag:
                                          description: A unique read-only string that changes whenever the resource is updated.
                                          type: string
                                        name:
                                          description: Gets name of the resource that is unique within a resource group. This name can be used to access the resource.
                                          type: string
                                        properties:
                                          description: Properties of the inbound NAT rule.
                                          properties:
                                            backendIPConfiguration: {}
                                            backendPort:
                                              description: The port used for the internal endpoint. Acceptable values range from 1 to 65535.
                                              format: int32
                                              type: integer
                                            enableFloatingIP:
                                              description: Configures a virtual machine's endpoint for the floating IP capability required to configure a SQL AlwaysOn Availability Group. This setting is required when using the SQL AlwaysOn Availability Groups in SQL server. This setting can't be changed after you create the endpoint.
                                              type: boolean
                                            frontendIPConfiguration:
                                              description: Azure resource manager sub resource properties.
                                              properties:
                                                id:
                                                  description: Resource Identifier.
                                                  type: string
                                              x-ms-azure-resource: true
                                            frontendPort:
                                              description: The port for the external endpoint. Port numbers for each rule must be unique within the Load Balancer. Acceptable values range from 1 to 65534.
                                              format: int32
                                              type: integer
                                            idleTimeoutInMinutes:
                                              description: The timeout for the TCP idle connection. The value can be set between 4 and 30 minutes. The default value is 4 minutes. This element is only used when the protocol is set to TCP.
                                              format: int32
                                              type: integer
                                            protocol:
                                              description: 'The transport protocol for the endpoint. Possible values are: ''Udp'' or ''Tcp'''
                                              enum:
                                                - Udp
                                                - Tcp
                                              type: string
                                              x-ms-enum:
                                                modelAsString: true
                                                name: TransportProtocol
                                            provisioningState:
                                              description: 'Gets the provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                              type: string
                                    type: array
                                  privateIPAddress:
                                    type: string
                                  privateIPAllocationMethod:
                                    description: 'Defines how a private IP address is assigned. Possible values are: ''Static'' and ''Dynamic''.'
                                    enum:
                                      - Static
                                      - Dynamic
                                    type: string
                                    x-ms-enum:
                                      modelAsString: true
                                      name: IPAllocationMethod
                                  provisioningState:
                                    type: string
                                  publicIPAddress:
                                    allOf:
                                      - description: Azure resource manager resource properties.
                                        properties:
                                          id:
                                            description: Resource Identifier.
                                            type: string
                                          location:
                                            description: Resource location.
                                            type: string
                                          name:
                                            description: Resource name.
                                            readOnly: true
                                            type: string
                                          tags:
                                            additionalProperties:
                                              type: string
                                            description: Resource tags.
                                            type: object
                                          type:
                                            description: Resource type.
                                            readOnly: true
                                            type: string
                                        x-ms-azure-resource: true
                                    description: Public IP address resource.
                                    properties:
                                      etag:
                                        description: A unique read-only string that changes whenever the resource is updated.
                                        type: string
                                      properties:
                                        description: Public IP address properties.
                                        properties:
                                          dnsSettings:
                                            description: Contains FQDN of the DNS record associated with the public IP address
                                            properties:
                                              domainNameLabel:
                                                description: 'Gets or sets the Domain name label.The concatenation of the domain name label and the regionalized DNS zone make up the fully qualified domain name associated with the public IP address. If a domain name label is specified, an A DNS record is created for the public IP in the Microsoft Azure DNS system.'
                                                type: string
                                              fqdn:
                                                description: 'Gets the FQDN, Fully qualified domain name of the A DNS record associated with the public IP. This is the concatenation of the domainNameLabel and the regionalized DNS zone.'
                                                type: string
                                              reverseFqdn:
                                                description: 'Gets or Sets the Reverse FQDN. A user-visible, fully qualified domain name that resolves to this public IP address. If the reverseFqdn is specified, then a PTR DNS record is created pointing from the IP address in the in-addr.arpa domain to the reverse FQDN. '
                                                type: string
                                          idleTimeoutInMinutes:
                                            description: The idle timeout of the public IP address.
                                            format: int32
                                            type: integer
                                          ipAddress:
                                            type: string
                                          ipConfiguration:
                                            allOf:
                                              - description: Azure resource manager sub resource properties.
                                                properties:
                                                  id:
                                                    description: Resource Identifier.
                                                    type: string
                                                x-ms-azure-resource: true
                                            description: IPConfiguration
                                            properties:
                                              etag:
                                                description: A unique read-only string that changes whenever the resource is updated.
                                                type: string
                                              name:
                                                description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                                type: string
                                              properties:
                                                description: Properties of IP configuration.
                                                properties:
                                                  privateIPAddress:
                                                    description: The private IP address of the IP configuration.
                                                    type: string
                                                  privateIPAllocationMethod:
                                                    description: The private IP allocation method. Possible values are 'Static' and 'Dynamic'.
                                                    enum:
                                                      - Static
                                                      - Dynamic
                                                    type: string
                                                    x-ms-enum:
                                                      modelAsString: true
                                                      name: IPAllocationMethod
                                                  provisioningState:
                                                    description: 'Gets the provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                                    type: string
                                                  publicIPAddress: {}
                                                  subnet:
                                                    allOf:
                                                      - description: Azure resource manager sub resource properties.
                                                        properties:
                                                          id:
                                                            description: Resource Identifier.
                                                            type: string
                                                        x-ms-azure-resource: true
                                                    description: Subnet in a virtual network resource.
                                                    properties:
                                                      etag:
                                                        description: A unique read-only string that changes whenever the resource is updated.
                                                        type: string
                                                      name:
                                                        description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                                        type: string
                                                      properties: {}
                                          provisioningState:
                                            description: 'The provisioning state of the PublicIP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                                            type: string
                                          publicIPAllocationMethod:
                                            description: 'The public IP allocation method. Possible values are: ''Static'' and ''Dynamic''.'
                                            enum:
                                              - Static
                                              - Dynamic
                                            type: string
                                            x-ms-enum:
                                              modelAsString: true
                                              name: IPAllocationMethod
                                          resourceGuid:
                                            description: The resource GUID property of the public IP resource.
                                            type: string
                                  subnet:
                                    allOf:
                                      - description: Azure resource manager sub resource properties.
                                        properties:
                                          id:
                                            description: Resource Identifier.
                                            type: string
                                        x-ms-azure-resource: true
                                    description: Subnet in a virtual network resource.
                                    properties:
                                      etag:
                                        description: A unique read-only string that changes whenever the resource is updated.
                                        type: string
                                      name:
                                        description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                                        type: string
                                      properties: {}
                          type: array
                        macAddress:
                          description: The MAC address of the network interface.
                          type: string
                        networkSecurityGroup: {}
                        primary:
                          description: Gets whether this is a primary network interface on a virtual machine.
                          type: boolean
                        provisioningState:
                          description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                          type: string
                        resourceGuid:
                          description: The resource GUID property of the network interface resource.
                          type: string
                        virtualMachine:
                          description: Azure resource manager sub resource properties.
                          properties:
                            id:
                              description: Resource Identifier.
                              type: string
                          x-ms-azure-resource: true
                type: array
              provisioningState:
                description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                type: string
              resourceGuid:
                description: The resource GUID property of the network security group resource.
                type: string
              securityRules:
                description: A collection of security rules of the network security group.
                items:
                  allOf:
                    - description: Azure resource manager sub resource properties.
                      properties:
                        id:
                          description: Resource Identifier.
                          type: string
                      x-ms-azure-resource: true
                  description: Network security rule.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties:
                      properties:
                        access:
                          description: 'The network traffic is allowed or denied. Possible values are: ''Allow'' and ''Deny''.'
                          enum:
                            - Allow
                            - Deny
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: SecurityRuleAccess
                        description:
                          description: A description for this rule. Restricted to 140 chars.
                          type: string
                        destinationAddressPrefix:
                          description: 'The destination address prefix. CIDR or source IP range. Asterix ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used.'
                          type: string
                        destinationPortRange:
                          description: The destination port or range. Integer or range between 0 and 65535. Asterix '*' can also be used to match all ports.
                          type: string
                        direction:
                          description: 'The direction of the rule. The direction specifies if rule will be evaluated on incoming or outcoming traffic. Possible values are: ''Inbound'' and ''Outbound''.'
                          enum:
                            - Inbound
                            - Outbound
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: SecurityRuleDirection
                        priority:
                          description: 'The priority of the rule. The value can be between 100 and 4096. The priority number must be unique for each rule in the collection. The lower the priority number, the higher the priority of the rule.'
                          format: int32
                          type: integer
                        protocol:
                          description: 'Network protocol this rule applies to. Possible values are ''Tcp'', ''Udp'', and ''*''.'
                          enum:
                            - Tcp
                            - Udp
                            - '*'
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: SecurityRuleProtocol
                        provisioningState:
                          description: 'The provisioning state of the public IP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                          type: string
                        sourceAddressPrefix:
                          description: 'The CIDR or source IP range. Asterix ''*'' can also be used to match all source IPs. Default tags such as ''VirtualNetwork'', ''AzureLoadBalancer'' and ''Internet'' can also be used. If this is an ingress rule, specifies where network traffic originates from. '
                          type: string
                        sourcePortRange:
                          description: The source port or range. Integer or range between 0 and 65535. Asterix '*' can also be used to match all ports.
                          type: string
                      required:
                        - protocol
                        - sourceAddressPrefix
                        - destinationAddressPrefix
                        - access
                        - direction
                type: array
              subnets:
                description: A collection of references to subnets.
                items:
                  allOf:
                    - description: Azure resource manager sub resource properties.
                      properties:
                        id:
                          description: Resource Identifier.
                          type: string
                      x-ms-azure-resource: true
                  description: Subnet in a virtual network resource.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties: {}
                type: array
      provisioningState:
        description: The provisioning state of the resource.
        type: string
      routeTable:
        allOf:
          - description: Azure resource manager resource properties.
            properties:
              id:
                description: Resource Identifier.
                type: string
              location:
                description: Resource location.
                type: string
              name:
                description: Resource name.
                readOnly: true
                type: string
              tags:
                additionalProperties:
                  type: string
                description: Resource tags.
                type: object
              type:
                description: Resource type.
                readOnly: true
                type: string
            x-ms-azure-resource: true
        description: Route table resource.
        properties:
          etag:
            description: Gets a unique read-only string that changes whenever the resource is updated.
            type: string
          properties:
            description: Route Table resource
            properties:
              provisioningState:
                description: 'The provisioning state of the resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                type: string
              routes:
                description: Collection of routes contained within a route table.
                items:
                  allOf:
                    - description: Azure resource manager sub resource properties.
                      properties:
                        id:
                          description: Resource Identifier.
                          type: string
                      x-ms-azure-resource: true
                  description: Route resource
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties:
                      description: Route resource
                      properties:
                        addressPrefix:
                          description: The destination CIDR to which the route applies.
                          type: string
                        nextHopIpAddress:
                          description: The IP address packets should be forwarded to. Next hop values are only allowed in routes where the next hop type is VirtualAppliance.
                          type: string
                        nextHopType:
                          description: 'The type of Azure hop the packet should be sent to. Possible values are: ''VirtualNetworkGateway'', ''VnetLocal'', ''Internet'', ''VirtualAppliance'', and ''None'''
                          enum:
                            - VirtualNetworkGateway
                            - VnetLocal
                            - Internet
                            - VirtualAppliance
                            - None
                          type: string
                          x-ms-enum:
                            modelAsString: true
                            name: RouteNextHopType
                        provisioningState:
                          description: 'The provisioning state of the resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
                          type: string
                      required:
                        - nextHopType
                type: array
              subnets:
                description: A collection of references to subnets.
                items:
                  allOf:
                    - description: Azure resource manager sub resource properties.
                      properties:
                        id:
                          description: Resource Identifier.
                          type: string
                      x-ms-azure-resource: true
                  description: Subnet in a virtual network resource.
                  properties:
                    etag:
                      description: A unique read-only string that changes whenever the resource is updated.
                      type: string
                    name:
                      description: The name of the resource that is unique within a resource group. This name can be used to access the resource.
                      type: string
                    properties: {}
                type: array
  VirtualNetwork:
    allOf:
      - description: Azure resource manager resource properties.
        properties:
          id:
            description: Resource Identifier.
            type: string
          location:
            description: Resource location.
            type: string
          name:
            description: Resource name.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: Resource tags.
            type: object
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Virtual Network resource.
    properties:
      etag:
        description: Gets a unique read-only string that changes whenever the resource is updated.
        type: string
      properties:
        $ref: '#/definitions/VirtualNetworkPropertiesFormat'
        x-ms-client-flatten: true
  VirtualNetworkListResult:
    description: Response for the ListVirtualNetworks API service call.
    properties:
      nextLink:
        description: The URL to get the next set of results.
        type: string
      value:
        description: Gets a list of VirtualNetwork resources in a resource group.
        items:
          $ref: '#/definitions/VirtualNetwork'
        type: array
  VirtualNetworkPropertiesFormat:
    properties:
      addressSpace:
        $ref: '#/definitions/AddressSpace'
        description: The AddressSpace that contains an array of IP address ranges that can be used by subnets.
      dhcpOptions:
        $ref: '#/definitions/DhcpOptions'
        description: The dhcpOptions that contains an array of DNS servers available to VMs deployed in the virtual network.
      provisioningState:
        description: 'The provisioning state of the PublicIP resource. Possible values are: ''Updating'', ''Deleting'', and ''Failed''.'
        type: string
      resourceGuid:
        description: The resourceGuid property of the Virtual Network resource.
        type: string
      subnets:
        description: A list of subnets in a Virtual Network.
        items:
          $ref: '#/definitions/Subnet'
        type: array
