openapi: 3.0.0
servers:
  - url: https://analyticsadmin.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Analytics Admin API
  version: v1alpha
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://analyticsadmin.googleapis.com/$discovery/rest?version=v1alpha
      version: v1
  x-providerName: googleapis.com
  x-serviceName: analyticsadmin
  x-preferred: null
externalDocs:
  url: http://code.google.com/apis/analytics/docs/mgmt/home.html
tags:
  - name: accounts
  - name: accountSummaries
  - name: properties
paths:
  /v1alpha/accountSummaries:
    get:
      description: Returns summaries of all accounts accessible by the caller.
      operationId: analyticsadmin.accountSummaries.list
      parameters:
        - description: The maximum number of AccountSummary resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListAccountSummaries` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccountSummaries` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaListAccountSummariesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - accountSummaries
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1alpha/accounts:
    get:
      description: 'Returns all accounts accessible by the caller. Note that these accounts might not currently have GA4 properties. Soft-deleted (ie: "trashed") accounts are excluded by default. Returns an empty list if no relevant accounts are found.'
      operationId: analyticsadmin.accounts.list
      parameters:
        - description: The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListAccounts` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAccounts` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: 'Whether to include soft-deleted (ie: "trashed") Accounts in the results. Accounts can be inspected to determine whether they are deleted or not.'
          in: query
          name: showDeleted
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaListAccountsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1alpha/accounts:provisionAccountTicket:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Requests a ticket for creating an account.
      operationId: analyticsadmin.accounts.provisionAccountTicket
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - accounts
  /v1alpha/properties:
    get:
      description: 'Returns child Properties under the specified parent Account. Only "GA4" properties will be returned. Properties will be excluded if the caller does not have access. Soft-deleted (ie: "trashed") properties are excluded by default. Returns an empty list if no relevant properties are found.'
      operationId: analyticsadmin.properties.list
      parameters:
        - description: "Required. An expression for filtering the results of the request. Fields eligible for filtering are: `parent:`(The resource name of the parent account) or `firebase_project:`(The id or number of the linked firebase project). Some examples of filters: ``` | Filter | Description | |-----------------------------|-------------------------------------------| | parent:accounts/123 | The account with account id: 123. | | firebase_project:project-id | The firebase project with id: project-id. | | firebase_project:123 | The firebase project with number: 123. | ```"
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListProperties` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
        - description: 'Whether to include soft-deleted (ie: "trashed") Properties in the results. Properties can be inspected to determine whether they are deleted or not.'
          in: query
          name: showDeleted
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaListPropertiesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an "GA4" property with the specified location and attributes.
      operationId: analyticsadmin.properties.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaProperty"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaProperty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - properties
  "/v1alpha/{name}":
    delete:
      description: Deletes a web stream on a property.
      operationId: analyticsadmin.properties.webDataStreams.delete
      parameters:
        - description: 'Required. The name of the web data stream to delete. Format: properties/{property_id}/webDataStreams/{stream_id} Example: "properties/123/webDataStreams/456"'
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - properties
    get:
      description: Returns the Site Tag for the specified web stream. Site Tags are immutable singletons.
      operationId: analyticsadmin.properties.webDataStreams.getGlobalSiteTag
      parameters:
        - description: 'Required. The name of the site tag to lookup. Note that site tags are singletons and do not have unique IDs. Format: properties/{property_id}/webDataStreams/{stream_id}/globalSiteTag Example: "properties/123/webDataStreams/456/globalSiteTag"'
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaGlobalSiteTag"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates the singleton enhanced measurement settings for this web stream. Note that the stream must enable enhanced measurement for these settings to take effect.
      operationId: analyticsadmin.properties.webDataStreams.updateEnhancedMeasurementSettings
      parameters:
        - description: 'Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: "properties/1000/webDataStreams/2000/enhancedMeasurementSettings"'
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. The list of fields to be updated. Omitted fields will not be updated. To replace the entire entity, use one path with the string "*" to match all fields.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - properties
  "/v1alpha/{parent}/androidAppDataStreams":
    get:
      description: Returns child android app streams under the specified parent property. Android app streams will be excluded if the caller does not have access. Returns an empty list if no relevant android app streams are found.
      operationId: analyticsadmin.properties.androidAppDataStreams.list
      parameters:
        - description: 'Required. The name of the parent property. For example, to limit results to app streams under the property with Id 123: "properties/123"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListAndroidAppDataStreams` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an Android app stream with the specified location and attributes. Note that an Android app stream must be linked to a Firebase app to receive traffic. To create a working app stream, make sure your property is linked to a Firebase project. Then, use the Firebase API to create a Firebase app, which will also create an appropriate data stream in Analytics (may take up to 24 hours).
      operationId: analyticsadmin.properties.androidAppDataStreams.create
      parameters:
        - description: "Required. The parent resource where this android app data stream will be created. Format: properties/123"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - properties
  "/v1alpha/{parent}/firebaseLinks":
    get:
      description: Lists FirebaseLinks on a property. Properties can have at most one FirebaseLink.
      operationId: analyticsadmin.properties.firebaseLinks.list
      parameters:
        - description: "Required. Format: properties/{property_id} Example: properties/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of resources to return. The service may return fewer than this value, even if there are additional pages. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListFirebaseLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListProperties` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a FirebaseLink. Properties can have at most one FirebaseLink.
      operationId: analyticsadmin.properties.firebaseLinks.create
      parameters:
        - description: "Required. Format: properties/{property_id} Example: properties/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaFirebaseLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaFirebaseLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - properties
  "/v1alpha/{parent}/googleAdsLinks":
    get:
      description: Lists GoogleAdsLinks on a property.
      operationId: analyticsadmin.properties.googleAdsLinks.list
      parameters:
        - description: "Required. Example format: properties/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200 (higher values will be coerced to the maximum).
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListGoogleAdsLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListGoogleAdsLinks` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a GoogleAdsLink.
      operationId: analyticsadmin.properties.googleAdsLinks.create
      parameters:
        - description: "Required. Example format: properties/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaGoogleAdsLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - properties
  "/v1alpha/{parent}/iosAppDataStreams":
    get:
      description: Returns child iOS app data streams under the specified parent property. iOS app data streams will be excluded if the caller does not have access. Returns an empty list if no relevant iOS app data streams are found.
      operationId: analyticsadmin.properties.iosAppDataStreams.list
      parameters:
        - description: 'Required. The name of the parent property. For example, to list results of app streams under the property with Id 123: "properties/123"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListIosAppDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListIosAppDataStreams` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an iOS app stream with the specified location and attributes. Note that an iOS app stream must be linked to a Firebase app to receive traffic. To create a working app stream, make sure your property is linked to a Firebase project. Then, use the Firebase API to create a Firebase app, which will also create an appropriate data stream in Analytics (may take up to 24 hours).
      operationId: analyticsadmin.properties.iosAppDataStreams.create
      parameters:
        - description: "Required. The parent resource where this ios app data stream will be created. Format: properties/123"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaIosAppDataStream"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaIosAppDataStream"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - properties
  "/v1alpha/{parent}/userLinks":
    get:
      description: Lists all user links on an account or property.
      operationId: analyticsadmin.properties.userLinks.list
      parameters:
        - description: "Required. Example format: accounts/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 200 user links will be returned. The maximum value is 500; values above 500 will be coerced to 500.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListUserLinks` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaListUserLinksResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a user link on an account or property. If the user with the specified email already has permissions on the account or property, then the user's existing permissions will be unioned with the permissions specified in the new UserLink.
      operationId: analyticsadmin.properties.userLinks.create
      parameters:
        - description: "Required. Example format: accounts/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.
          in: query
          name: notifyNewUser
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - properties
  "/v1alpha/{parent}/userLinks:audit":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Lists all user links on an account or property, including implicit ones that come from effective permissions granted by groups or organization admin roles. If a returned user link does not have direct permissions, they cannot be removed from the account or property directly with the DeleteUserLink command. They have to be removed from the group/etc that gives them permissions, which is currently only usable/discoverable in the GA or GMP UIs.
      operationId: analyticsadmin.properties.userLinks.audit
      parameters:
        - description: "Required. Example format: accounts/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaAuditUserLinksRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaAuditUserLinksResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
      tags:
        - properties
  "/v1alpha/{parent}/userLinks:batchCreate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates information about multiple users' links to an account or property. This method is transactional. If any UserLink cannot be created, none of the UserLinks will be created.
      operationId: analyticsadmin.properties.userLinks.batchCreate
      parameters:
        - description: "Required. The account or property that all user links in the request are for. This field is required. The parent field in the CreateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - properties
  "/v1alpha/{parent}/userLinks:batchDelete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Deletes information about multiple users' links to an account or property.
      operationId: analyticsadmin.properties.userLinks.batchDelete
      parameters:
        - description: "Required. The account or property that all user links in the request are for. The parent of all values for user link names to delete must match this field. Example format: accounts/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleProtobufEmpty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - properties
  "/v1alpha/{parent}/userLinks:batchGet":
    get:
      description: Gets information about multiple users' links to an account or property.
      operationId: analyticsadmin.properties.userLinks.batchGet
      parameters:
        - description: "Required. The account or property that all user links in the request are for. The parent of all provided values for the 'names' field must match this field. Example format: accounts/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Required. The names of the user links to retrieve. A maximum of 1000 user links can be retrieved in a batch. Format: accounts/{accountId}/userLinks/{userLinkId}"
          explode: true
          in: query
          name: names
          schema:
            items:
              type: string
            type: array
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1alpha/{parent}/userLinks:batchUpdate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Updates information about multiple users' links to an account or property.
      operationId: analyticsadmin.properties.userLinks.batchUpdate
      parameters:
        - description: "Required. The account or property that all user links in the request are for. The parent field in the UpdateUserLinkRequest messages must either be empty or match this field. Example format: accounts/1234"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.manage.users
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.manage.users
      tags:
        - properties
  "/v1alpha/{parent}/webDataStreams":
    get:
      description: Returns child web data streams under the specified parent property. Web data streams will be excluded if the caller does not have access. Returns an empty list if no relevant web data streams are found.
      operationId: analyticsadmin.properties.webDataStreams.list
      parameters:
        - description: 'Required. The name of the parent property. For example, to list results of web streams under the property with Id 123: "properties/123"'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of resources to return. If unspecified, at most 50 resources will be returned. The maximum value is 200; (higher values will be coerced to the maximum)
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListWebDataStreams` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListWebDataStreams` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.readonly
      tags:
        - properties
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a web stream with the specified location and attributes.
      operationId: analyticsadmin.properties.webDataStreams.create
      parameters:
        - description: "Required. The parent resource where this web data stream will be created. Format: properties/123"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaWebDataStream"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaWebDataStream"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/analytics.edit
          Oauth2c:
            - https://www.googleapis.com/auth/analytics.edit
      tags:
        - properties
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleAnalyticsAdminV1alphaAccount:
      description: A resource message representing a Google Analytics account.
      properties:
        createTime:
          description: Output only. Time when this account was originally created.
          format: google-datetime
          readOnly: true
          type: string
        deleted:
          description: Output only. Indicates whether this Account is soft-deleted or not. Deleted accounts are excluded from List results unless specifically requested.
          readOnly: true
          type: boolean
        displayName:
          description: Required. Human-readable display name for this account.
          type: string
        name:
          description: 'Output only. Resource name of this account. Format: accounts/{account} Example: "accounts/100"'
          readOnly: true
          type: string
        regionCode:
          description: Country of business. Must be a Unicode CLDR region code.
          type: string
        updateTime:
          description: Output only. Time when account payload fields were last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaAccountSummary:
      description: A virtual resource representing an overview of an account and all its child GA4 properties.
      properties:
        account:
          description: 'Resource name of account referred to by this account summary Format: accounts/{account_id} Example: "accounts/1000"'
          type: string
        displayName:
          description: Display name for the account referred to in this account summary.
          type: string
        name:
          description: 'Resource name for this account summary. Format: accountSummaries/{account_id} Example: "accountSummaries/1000"'
          type: string
        propertySummaries:
          description: List of summaries for child accounts of this account.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaPropertySummary"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaAndroidAppDataStream:
      description: A resource message representing a Google Analytics Android app stream.
      properties:
        createTime:
          description: Output only. Time when this stream was originally created.
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units.
          type: string
        firebaseAppId:
          description: Output only. ID of the corresponding Android app in Firebase, if any. This ID can change if the Android app is deleted and recreated.
          readOnly: true
          type: string
        name:
          description: 'Output only. Resource name of this Data Stream. Format: properties/{property_id}/androidAppDataStreams/{stream_id} Example: "properties/1000/androidAppDataStreams/2000"'
          readOnly: true
          type: string
        packageName:
          description: 'Immutable. The package name for the app being measured. Example: "com.example.myandroidapp"'
          type: string
        updateTime:
          description: Output only. Time when stream payload fields were last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaAuditUserLink:
      description: Read-only resource used to summarize a principal's effective roles.
      properties:
        directRoles:
          description: "Roles directly assigned to this user for this entity. Format: predefinedRoles/read Excludes roles that are inherited from an account (if this is for a property), group, or organization admin role."
          items:
            type: string
          type: array
        effectiveRoles:
          description: "Union of all permissions a user has at this account or property (includes direct permissions, group-inherited permissions, etc.). Format: predefinedRoles/read"
          items:
            type: string
          type: array
        emailAddress:
          description: Email address of the linked user
          type: string
        name:
          description: "Example format: properties/1234/userLinks/5678"
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaAuditUserLinksRequest:
      description: Request message for AuditUserLinks RPC.
      properties:
        pageSize:
          description: The maximum number of user links to return. The service may return fewer than this value. If unspecified, at most 1000 user links will be returned. The maximum value is 5000; values above 5000 will be coerced to 5000.
          format: int32
          type: integer
        pageToken:
          description: A page token, received from a previous `AuditUserLinks` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `AuditUserLinks` must match the call that provided the page token.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaAuditUserLinksResponse:
      description: Response message for AuditUserLinks RPC.
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
        userLinks:
          description: List of AuditUserLinks. These will be ordered stably, but in an arbitrary order.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaAuditUserLink"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaBatchCreateUserLinksRequest:
      description: Request message for BatchCreateUserLinks RPC.
      properties:
        notifyNewUsers:
          description: Optional. If set, then email the new users notifying them that they've been granted permissions to the resource. Regardless of whether this is set or not, notify_new_user field inside each individual request is ignored.
          type: boolean
        requests:
          description: Required. The requests specifying the user links to create. A maximum of 1000 user links can be created in a batch.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaCreateUserLinkRequest"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaBatchCreateUserLinksResponse:
      description: Response message for BatchCreateUserLinks RPC.
      properties:
        userLinks:
          description: The user links created.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaBatchDeleteUserLinksRequest:
      description: Request message for BatchDeleteUserLinks RPC.
      properties:
        requests:
          description: Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaBatchGetUserLinksResponse:
      description: Response message for BatchGetUserLinks RPC.
      properties:
        userLinks:
          description: The requested user links.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksRequest:
      description: Request message for BatchUpdateUserLinks RPC.
      properties:
        requests:
          description: Required. The requests specifying the user links to update. A maximum of 1000 user links can be updated in a batch.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaBatchUpdateUserLinksResponse:
      description: Response message for BatchUpdateUserLinks RPC.
      properties:
        userLinks:
          description: The user links updated.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaCreateUserLinkRequest:
      description: Request message for CreateUserLink RPC. Users can have multiple email addresses associated with their Google account, and one of these email addresses is the "primary" email address. Any of the email addresses associated with a Google account may be used for a new UserLink, but the returned UserLink will always contain the "primary" email address. As a result, the input and output email address for this request may differ.
      properties:
        notifyNewUser:
          description: Optional. If set, then email the new user notifying them that they've been granted permissions to the resource.
          type: boolean
        parent:
          description: "Required. Example format: accounts/1234"
          type: string
        userLink:
          $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink"
          description: Required. The user link to create.
      type: object
    GoogleAnalyticsAdminV1alphaDataSharingSettings:
      description: A resource message representing data sharing settings of a Google Analytics account.
      properties:
        name:
          description: 'Output only. Resource name. Format: accounts/{account}/dataSharingSettings Example: "accounts/1000/dataSharingSettings"'
          readOnly: true
          type: string
        sharingWithGoogleAnySalesEnabled:
          description: Allows any of Google sales to access the data in order to suggest configuration changes to improve results.
          type: boolean
        sharingWithGoogleAssignedSalesEnabled:
          description: Allows Google sales teams that are assigned to the customer to access the data in order to suggest configuration changes to improve results. Sales team restrictions still apply when enabled.
          type: boolean
        sharingWithGoogleProductsEnabled:
          description: Allows Google to use the data to improve other Google products or services.
          type: boolean
        sharingWithGoogleSupportEnabled:
          description: Allows Google support to access the data in order to help troubleshoot issues.
          type: boolean
        sharingWithOthersEnabled:
          description: Allows Google to share the data anonymously in aggregate form with others.
          type: boolean
      type: object
    GoogleAnalyticsAdminV1alphaDeleteUserLinkRequest:
      description: Request message for DeleteUserLink RPC.
      properties:
        name:
          description: "Required. Example format: accounts/1234/userLinks/5678"
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaEnhancedMeasurementSettings:
      description: Singleton resource under a WebDataStream, configuring measurement of additional site interactions and content.
      properties:
        fileDownloadsEnabled:
          description: If enabled, capture a file download event each time a link is clicked with a common document, compressed file, application, video, or audio extension.
          type: boolean
        name:
          description: 'Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id}/enhancedMeasurementSettings Example: "properties/1000/webDataStreams/2000/enhancedMeasurementSettings"'
          readOnly: true
          type: string
        outboundClicksEnabled:
          description: If enabled, capture an outbound click event each time a visitor clicks a link that leads them away from your domain.
          type: boolean
        pageChangesEnabled:
          description: If enabled, capture a page view event each time the website changes the browser history state.
          type: boolean
        pageLoadsEnabled:
          description: Output only. If enabled, capture a page view event each time a page loads.
          readOnly: true
          type: boolean
        pageViewsEnabled:
          description: Output only. If enabled, capture a page view event each time a page loads or the website changes the browser history state.
          readOnly: true
          type: boolean
        scrollsEnabled:
          description: If enabled, capture scroll events each time a visitor gets to the bottom of a page.
          type: boolean
        searchQueryParameter:
          description: Required. URL query parameters to interpret as site search parameters. Max length is 1024 characters. Must not be empty.
          type: string
        siteSearchEnabled:
          description: If enabled, capture a view search results event each time a visitor performs a search on your site (based on a query parameter).
          type: boolean
        streamEnabled:
          description: Indicates whether Enhanced Measurement Settings will be used to automatically measure interactions and content on this web stream. Changing this value does not affect the settings themselves, but determines whether they are respected.
          type: boolean
        uriQueryParameter:
          description: Additional URL query parameters. Max length is 1024 characters.
          type: string
        videoEngagementEnabled:
          description: If enabled, capture video play, progress, and complete events as visitors view embedded videos on your site.
          type: boolean
      type: object
    GoogleAnalyticsAdminV1alphaFirebaseLink:
      description: A link between an GA4 property and a Firebase project.
      properties:
        createTime:
          description: Output only. Time when this FirebaseLink was originally created.
          format: google-datetime
          readOnly: true
          type: string
        maximumUserAccess:
          description: Maximum user access to the GA4 property allowed to admins of the linked Firebase project.
          enum:
            - MAXIMUM_USER_ACCESS_UNSPECIFIED
            - NO_ACCESS
            - READ_AND_ANALYZE
            - EDITOR_WITHOUT_LINK_MANAGEMENT
            - EDITOR_INCLUDING_LINK_MANAGEMENT
          type: string
        name:
          description: "Output only. Example format: properties/1234/firebaseLinks/5678"
          readOnly: true
          type: string
        project:
          description: "Immutable. Firebase project resource name. When creating a FirebaseLink, you may provide this resource name using either a project number or project ID. Once this resource has been created, returned FirebaseLinks will always have a project_name that contains a project number. Format: 'projects/{project number}' Example: 'projects/1234'"
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaGlobalSiteTag:
      description: Read-only resource with the tag for sending data from a website to a WebDataStream.
      properties:
        name:
          description: "Output only. Resource name for this GlobalSiteTag resource. Format: properties/{propertyId}/globalSiteTag"
          readOnly: true
          type: string
        snippet:
          description: Immutable. JavaScript code snippet to be pasted as the first item into the head tag of every webpage to measure.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaGoogleAdsLink:
      description: A link between an GA4 property and a Google Ads account.
      properties:
        adsPersonalizationEnabled:
          description: Enable personalized advertising features with this integration. Automatically publish my Google Analytics audience lists and Google Analytics remarketing events/parameters to the linked Google Ads account. If this field is not set on create/update it will be defaulted to true.
          type: boolean
        canManageClients:
          description: Output only. If true, this link is for a Google Ads manager account.
          readOnly: true
          type: boolean
        createTime:
          description: Output only. Time when this link was originally created.
          format: google-datetime
          readOnly: true
          type: string
        customerId:
          description: Immutable. Google Ads customer ID.
          type: string
        emailAddress:
          description: Output only. Email address of the user that created the link. An empty string will be returned if the email address can't be retrieved.
          readOnly: true
          type: string
        name:
          description: "Output only. Format: properties/{propertyId}/googleAdsLinks/{googleAdsLinkId} Note: googleAdsLinkId is not the Google Ads customer ID."
          readOnly: true
          type: string
        updateTime:
          description: Output only. Time when this link was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaIosAppDataStream:
      description: A resource message representing a Google Analytics IOS app stream.
      properties:
        bundleId:
          description: 'Required. Immutable. The Apple App Store Bundle ID for the app Example: "com.example.myiosapp"'
          type: string
        createTime:
          description: Output only. Time when this stream was originally created.
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: Human-readable display name for the Data Stream. The max allowed display name length is 255 UTF-16 code units.
          type: string
        firebaseAppId:
          description: Output only. ID of the corresponding iOS app in Firebase, if any. This ID can change if the iOS app is deleted and recreated.
          readOnly: true
          type: string
        name:
          description: 'Output only. Resource name of this Data Stream. Format: properties/{property_id}/iosAppDataStreams/{stream_id} Example: "properties/1000/iosAppDataStreams/2000"'
          readOnly: true
          type: string
        updateTime:
          description: Output only. Time when stream payload fields were last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaListAccountSummariesResponse:
      description: Response message for ListAccountSummaries RPC.
      properties:
        accountSummaries:
          description: Account summaries of all accounts the caller has access to.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaAccountSummary"
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaListAccountsResponse:
      description: Request message for ListAccounts RPC.
      properties:
        accounts:
          description: Results that were accessible to the caller.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaAccount"
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaListAndroidAppDataStreamsResponse:
      description: Request message for ListAndroidDataStreams RPC.
      properties:
        androidAppDataStreams:
          description: Results that matched the filter criteria and were accessible to the caller.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaAndroidAppDataStream"
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaListFirebaseLinksResponse:
      description: Response message for ListFirebaseLinks RPC
      properties:
        firebaseLinks:
          description: List of FirebaseLinks. This will have at most one value.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaFirebaseLink"
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages. Currently, Google Analytics supports only one FirebaseLink per property, so this will never be populated.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaListGoogleAdsLinksResponse:
      description: Response message for ListGoogleAdsLinks RPC.
      properties:
        googleAdsLinks:
          description: List of GoogleAdsLinks.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaGoogleAdsLink"
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaListIosAppDataStreamsResponse:
      description: Request message for ListIosAppDataStreams RPC.
      properties:
        iosAppDataStreams:
          description: Results that matched the filter criteria and were accessible to the caller.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaIosAppDataStream"
          type: array
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaListPropertiesResponse:
      description: Response message for ListProperties RPC.
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
        properties:
          description: Results that matched the filter criteria and were accessible to the caller.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaProperty"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaListUserLinksResponse:
      description: Response message for ListUserLinks RPC.
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
        userLinks:
          description: List of UserLinks. These will be ordered stably, but in an arbitrary order.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaListWebDataStreamsResponse:
      description: Request message for ListWebDataStreams RPC.
      properties:
        nextPageToken:
          description: A token, which can be sent as `page_token` to retrieve the next page. If this field is omitted, there are no subsequent pages.
          type: string
        webDataStreams:
          description: Results that matched the filter criteria and were accessible to the caller.
          items:
            $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaWebDataStream"
          type: array
      type: object
    GoogleAnalyticsAdminV1alphaProperty:
      description: A resource message representing a Google Analytics GA4 property.
      properties:
        createTime:
          description: Output only. Time when the entity was originally created.
          format: google-datetime
          readOnly: true
          type: string
        currencyCode:
          description: 'The currency type used in reports involving monetary values. Format: https://en.wikipedia.org/wiki/ISO_4217 Examples: "USD", "EUR", "JPY"'
          type: string
        deleted:
          description: Output only. Indicates whether this Property is soft-deleted or not. Deleted properties are excluded from List results unless specifically requested.
          readOnly: true
          type: boolean
        displayName:
          description: Required. Human-readable display name for this property. The max allowed display name length is 100 UTF-16 code units.
          type: string
        industryCategory:
          description: "Industry associated with this property Example: AUTOMOTIVE, FOOD_AND_DRINK"
          enum:
            - INDUSTRY_CATEGORY_UNSPECIFIED
            - AUTOMOTIVE
            - BUSINESS_AND_INDUSTRIAL_MARKETS
            - FINANCE
            - HEALTHCARE
            - TECHNOLOGY
            - TRAVEL
            - OTHER
            - ARTS_AND_ENTERTAINMENT
            - BEAUTY_AND_FITNESS
            - BOOKS_AND_LITERATURE
            - FOOD_AND_DRINK
            - GAMES
            - HOBBIES_AND_LEISURE
            - HOME_AND_GARDEN
            - INTERNET_AND_TELECOM
            - LAW_AND_GOVERNMENT
            - NEWS
            - ONLINE_COMMUNITIES
            - PEOPLE_AND_SOCIETY
            - PETS_AND_ANIMALS
            - REAL_ESTATE
            - REFERENCE
            - SCIENCE
            - SPORTS
            - JOBS_AND_EDUCATION
            - SHOPPING
          type: string
        name:
          description: 'Output only. Resource name of this property. Format: properties/{property_id} Example: "properties/1000"'
          readOnly: true
          type: string
        parent:
          description: "Immutable. Resource name of this property's logical parent. Note: The Property-Moving UI can be used to change the parent. Format: accounts/{account} Example: \"accounts/100\""
          type: string
        timeZone:
          description: 'Reporting Time Zone, used as the day boundary for reports, regardless of where the data originates. If the time zone honors DST, Analytics will automatically adjust for the changes. NOTE: Changing the time zone only affects data going forward, and is not applied retroactively. Format: https://www.iana.org/time-zones Example: "America/Los_Angeles"'
          type: string
        updateTime:
          description: Output only. Time when entity payload fields were last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaPropertySummary:
      description: A virtual resource representing metadata for an GA4 property.
      properties:
        displayName:
          description: Display name for the property referred to in this account summary.
          type: string
        property:
          description: 'Resource name of property referred to by this property summary Format: properties/{property_id} Example: "properties/1000"'
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaProvisionAccountTicketRequest:
      description: Request message for ProvisionAccountTicket RPC.
      properties:
        account:
          $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaAccount"
          description: The account to create.
        redirectUri:
          description: Redirect URI where the user will be sent after accepting Terms of Service. Must be configured in Developers Console as a Redirect URI
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaProvisionAccountTicketResponse:
      description: Response message for ProvisionAccountTicket RPC.
      properties:
        accountTicketId:
          description: The param to be passed in the ToS link.
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaUpdateUserLinkRequest:
      description: Request message for UpdateUserLink RPC.
      properties:
        userLink:
          $ref: "#/components/schemas/GoogleAnalyticsAdminV1alphaUserLink"
          description: Required. The user link to update.
      type: object
    GoogleAnalyticsAdminV1alphaUserLink:
      description: A resource message representing a user's permissions on an Account or Property resource.
      properties:
        directRoles:
          description: "Roles directly assigned to this user for this account or property. Valid values: predefinedRoles/read predefinedRoles/collaborate predefinedRoles/edit predefinedRoles/manage-users Excludes roles that are inherited from a higher-level entity, group, or organization admin role. A UserLink that is updated to have an empty list of direct_roles will be deleted."
          items:
            type: string
          type: array
        emailAddress:
          description: Email address of the user to link
          type: string
        name:
          description: "Example format: properties/1234/userLinks/5678"
          type: string
      type: object
    GoogleAnalyticsAdminV1alphaWebDataStream:
      description: A resource message representing a Google Analytics web stream.
      properties:
        createTime:
          description: Output only. Time when this stream was originally created.
          format: google-datetime
          readOnly: true
          type: string
        defaultUri:
          description: 'Immutable. Domain name of the web app being measured, or empty. Example: "http://www.google.com", "https://www.google.com"'
          type: string
        displayName:
          description: Required. Human-readable display name for the Data Stream. The max allowed display name length is 100 UTF-16 code units.
          type: string
        firebaseAppId:
          description: Output only. ID of the corresponding web app in Firebase, if any. This ID can change if the web app is deleted and recreated.
          readOnly: true
          type: string
        measurementId:
          description: 'Output only. Analytics "Measurement ID", without the "G-" prefix. Example: "G-1A2BCD345E" would just be "1A2BCD345E"'
          readOnly: true
          type: string
        name:
          description: 'Output only. Resource name of this Data Stream. Format: properties/{property_id}/webDataStreams/{stream_id} Example: "properties/1000/webDataStreams/2000"'
          readOnly: true
          type: string
        updateTime:
          description: Output only. Time when stream payload fields were last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleProtobufEmpty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics.edit: Edit Google Analytics management entities
            https://www.googleapis.com/auth/analytics.manage.users: Manage Google Analytics Account users by email address
            https://www.googleapis.com/auth/analytics.manage.users.readonly: View Google Analytics user permissions
            https://www.googleapis.com/auth/analytics.readonly: See and download your Google Analytics data
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/analytics.edit: Edit Google Analytics management entities
            https://www.googleapis.com/auth/analytics.manage.users: Manage Google Analytics Account users by email address
            https://www.googleapis.com/auth/analytics.manage.users.readonly: View Google Analytics user permissions
            https://www.googleapis.com/auth/analytics.readonly: See and download your Google Analytics data
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
