openapi: 3.0.0
servers:
  - url: https://dns.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: ""
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud DNS API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://dns.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: dns
externalDocs:
  url: https://cloud.google.com/dns/docs
tags:
  - name: changes
  - name: dnsKeys
  - name: managedZoneOperations
  - name: managedZones
  - name: policies
  - name: projects
  - name: resourceRecordSets
paths:
  "/dns/v1/projects/{project}":
    get:
      description: Fetches the representation of an existing Project.
      operationId: dns.projects.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Project"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones":
    get:
      description: Enumerates ManagedZones that have been created but not yet deleted.
      operationId: dns.managedZones.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Restricts the list to return only zones with this domain name.
          in: query
          name: dnsName
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedZonesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new ManagedZone.
      operationId: dns.managedZones.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedZone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedZone"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
  "/dns/v1/projects/{project}/managedZones/{managedZone}":
    delete:
      description: Deletes a previously created ManagedZone.
      operationId: dns.managedZones.delete
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
    get:
      description: Fetches the representation of an existing ManagedZone.
      operationId: dns.managedZones.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedZone"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Applies a partial update to an existing ManagedZone.
      operationId: dns.managedZones.patch
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedZone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
    put:
      description: Updates an existing ManagedZone.
      operationId: dns.managedZones.update
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ManagedZone"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZones
  "/dns/v1/projects/{project}/managedZones/{managedZone}/changes":
    get:
      description: Enumerates Changes to a ResourceRecordSet collection.
      operationId: dns.changes.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Sorting criterion. The only supported value is change sequence.
          in: query
          name: sortBy
          schema:
            enum:
              - changeSequence
            type: string
        - description: "Sorting order direction: 'ascending' or 'descending'."
          in: query
          name: sortOrder
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ChangesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - changes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Atomically updates the ResourceRecordSet collection.
      operationId: dns.changes.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Change"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Change"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - changes
  "/dns/v1/projects/{project}/managedZones/{managedZone}/changes/{changeId}":
    get:
      description: Fetches the representation of an existing Change.
      operationId: dns.changes.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.
          in: path
          name: changeId
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Change"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - changes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys":
    get:
      description: Enumerates DnsKeys to a ResourceRecordSet collection.
      operationId: dns.dnsKeys.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.
          in: query
          name: digestType
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DnsKeysListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - dnsKeys
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}":
    get:
      description: Fetches the representation of an existing DnsKey.
      operationId: dns.dnsKeys.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: The identifier of the requested DnsKey.
          in: path
          name: dnsKeyId
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
        - description: An optional comma-separated list of digest types to compute and display for key signing keys. If omitted, the recommended digest type is computed and displayed.
          in: query
          name: digestType
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DnsKey"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - dnsKeys
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/operations":
    get:
      description: Enumerates Operations for the given ManagedZone.
      operationId: dns.managedZoneOperations.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Sorting criterion. The only supported values are START_TIME and ID.
          in: query
          name: sortBy
          schema:
            enum:
              - startTime
              - id
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ManagedZoneOperationsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZoneOperations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/operations/{operation}":
    get:
      description: Fetches the representation of an existing Operation.
      operationId: dns.managedZoneOperations.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Identifies the operation addressed by this request (ID of the operation).
          in: path
          name: operation
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - managedZoneOperations
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/dns/v1/projects/{project}/managedZones/{managedZone}/rrsets":
    get:
      description: Enumerates ResourceRecordSets that you have created but not yet deleted.
      operationId: dns.resourceRecordSets.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Restricts the list to return only records with this fully qualified domain name.
          in: query
          name: name
          schema:
            type: string
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Restricts the list to return only records of this type. If present, the "name" parameter must also be present.
          in: query
          name: type
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSetsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new ResourceRecordSet.
      operationId: dns.resourceRecordSets.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceRecordSet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
  "/dns/v1/projects/{project}/managedZones/{managedZone}/rrsets/{name}/{type}":
    delete:
      description: Deletes a previously created ResourceRecordSet.
      operationId: dns.resourceRecordSets.delete
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Fully qualified domain name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: RRSet type.
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSetsDeleteResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
    get:
      description: Fetches the representation of an existing ResourceRecordSet.
      operationId: dns.resourceRecordSets.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Fully qualified domain name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: RRSet type.
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Applies a partial update to an existing ResourceRecordSet.
      operationId: dns.resourceRecordSets.patch
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or ID.
          in: path
          name: managedZone
          required: true
          schema:
            type: string
        - description: Fully qualified domain name.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: RRSet type.
          in: path
          name: type
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResourceRecordSet"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResourceRecordSet"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - resourceRecordSets
  "/dns/v1/projects/{project}/policies":
    get:
      description: Enumerates all Policies associated with a project.
      operationId: dns.policies.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to be returned. If unspecified, the server decides how many results to return.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoliciesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new Policy.
      operationId: dns.policies.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Policy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
  "/dns/v1/projects/{project}/policies/{policy}":
    delete:
      description: Deletes a previously created Policy. Fails if the policy is still being referenced by a network.
      operationId: dns.policies.delete
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User given friendly name of the policy addressed by this request.
          in: path
          name: policy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
    get:
      description: Fetches the representation of an existing Policy.
      operationId: dns.policies.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User given friendly name of the policy addressed by this request.
          in: path
          name: policy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform.read-only
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform.read-only
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readonly
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Applies a partial update to an existing Policy.
      operationId: dns.policies.patch
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User given friendly name of the policy addressed by this request.
          in: path
          name: policy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Policy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoliciesPatchResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
    put:
      description: Updates an existing Policy.
      operationId: dns.policies.update
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: User given friendly name of the policy addressed by this request.
          in: path
          name: policy
          required: true
          schema:
            type: string
        - description: For mutating operation requests only. An optional identifier specified by the client. Must be unique for operation resources in the Operations collection.
          in: query
          name: clientOperationId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Policy"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PoliciesUpdateResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
          Oauth2c:
            - https://www.googleapis.com/auth/ndev.clouddns.readwrite
      tags:
        - policies
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Change:
      description: A Change represents a set of ResourceRecordSet additions and deletions applied atomically to a ManagedZone. ResourceRecordSets within a ManagedZone are modified by creating a new Change element in the Changes collection. In turn the Changes collection also records the past modifications to the ResourceRecordSets in a ManagedZone. The current state of the ManagedZone is the sum effect of applying all Change elements in the Changes collection in sequence.
      properties:
        additions:
          description: Which ResourceRecordSets to add?
          items:
            $ref: "#/components/schemas/ResourceRecordSet"
          type: array
        deletions:
          description: Which ResourceRecordSets to remove? Must match existing data exactly.
          items:
            $ref: "#/components/schemas/ResourceRecordSet"
          type: array
        id:
          description: Unique identifier for the resource; defined by the server (output only).
          type: string
        isServing:
          description: If the DNS queries for the zone will be served.
          type: boolean
        kind:
          default: dns#change
          type: string
        startTime:
          description: The time that this operation was started by the server (output only). This is in RFC3339 text format.
          type: string
        status:
          description: Status of the operation (output only). A status of "done" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.
          enum:
            - pending
            - done
          type: string
      type: object
    ChangesListResponse:
      description: The response to a request to enumerate Changes to a ResourceRecordSets collection.
      properties:
        changes:
          description: The requested changes.
          items:
            $ref: "#/components/schemas/Change"
          type: array
        header:
          $ref: "#/components/schemas/ResponseHeader"
        kind:
          default: dns#changesListResponse
          description: Type of resource.
          type: string
        nextPageToken:
          description: The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a "snapshot" of collections larger than the maximum page size.
          type: string
      type: object
    DnsKey:
      description: A DNSSEC key pair.
      properties:
        algorithm:
          description: String mnemonic specifying the DNSSEC algorithm of this key. Immutable after creation time.
          enum:
            - rsasha1
            - rsasha256
            - rsasha512
            - ecdsap256sha256
            - ecdsap384sha384
          type: string
        creationTime:
          description: The time that this resource was created in the control plane. This is in RFC3339 text format. Output only.
          type: string
        description:
          description: A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the resource's function.
          type: string
        digests:
          description: Cryptographic hashes of the DNSKEY resource record associated with this DnsKey. These digests are needed to construct a DS record that points at this DNS key. Output only.
          items:
            $ref: "#/components/schemas/DnsKeyDigest"
          type: array
        id:
          description: Unique identifier for the resource; defined by the server (output only).
          type: string
        isActive:
          description: Active keys are used to sign subsequent changes to the ManagedZone. Inactive keys are still present as DNSKEY Resource Records for the use of resolvers validating existing signatures.
          type: boolean
        keyLength:
          description: Length of the key in bits. Specified at creation time, and then immutable.
          format: uint32
          type: integer
        keyTag:
          description: The key tag is a non-cryptographic hash of the a DNSKEY resource record associated with this DnsKey. The key tag can be used to identify a DNSKEY more quickly (but it is not a unique identifier). In particular, the key tag is used in a parent zone's DS record to point at the DNSKEY in this child ManagedZone. The key tag is a number in the range [0, 65535] and the algorithm to calculate it is specified in RFC4034 Appendix B. Output only.
          format: int32
          type: integer
        kind:
          default: dns#dnsKey
          type: string
        publicKey:
          description: Base64 encoded public half of this key. Output only.
          type: string
        type:
          description: One of "KEY_SIGNING" or "ZONE_SIGNING". Keys of type KEY_SIGNING have the Secure Entry Point flag set and, when active, are used to sign only resource record sets of type DNSKEY. Otherwise, the Secure Entry Point flag is cleared, and this key is used to sign only resource record sets of other types. Immutable after creation time.
          enum:
            - keySigning
            - zoneSigning
          type: string
      type: object
    DnsKeyDigest:
      properties:
        digest:
          description: The base-16 encoded bytes of this digest. Suitable for use in a DS resource record.
          type: string
        type:
          description: Specifies the algorithm used to calculate this digest.
          enum:
            - sha1
            - sha256
            - sha384
          type: string
      type: object
    DnsKeySpec:
      description: Parameters for DnsKey key generation. Used for generating initial keys for a new ManagedZone and as default when adding a new DnsKey.
      properties:
        algorithm:
          description: String mnemonic specifying the DNSSEC algorithm of this key.
          enum:
            - rsasha1
            - rsasha256
            - rsasha512
            - ecdsap256sha256
            - ecdsap384sha384
          type: string
        keyLength:
          description: Length of the keys in bits.
          format: uint32
          type: integer
        keyType:
          description: Specifies whether this is a key signing key (KSK) or a zone signing key (ZSK). Key signing keys have the Secure Entry Point flag set and, when active, are only used to sign resource record sets of type DNSKEY. Zone signing keys do not have the Secure Entry Point flag set and are used to sign all other types of resource record sets.
          enum:
            - keySigning
            - zoneSigning
          type: string
        kind:
          default: dns#dnsKeySpec
          type: string
      type: object
    DnsKeysListResponse:
      description: The response to a request to enumerate DnsKeys in a ManagedZone.
      properties:
        dnsKeys:
          description: The requested resources.
          items:
            $ref: "#/components/schemas/DnsKey"
          type: array
        header:
          $ref: "#/components/schemas/ResponseHeader"
        kind:
          default: dns#dnsKeysListResponse
          description: Type of resource.
          type: string
        nextPageToken:
          description: The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. There is no way to retrieve a "snapshot" of collections larger than the maximum page size.
          type: string
      type: object
    ManagedZone:
      description: A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.
      properties:
        creationTime:
          description: The time that this resource was created on the server. This is in RFC3339 text format. Output only.
          type: string
        description:
          description: A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function.
          type: string
        dnsName:
          description: The DNS name of this managed zone, for instance "example.com.".
          type: string
        dnssecConfig:
          $ref: "#/components/schemas/ManagedZoneDnsSecConfig"
          description: DNSSEC configuration.
        forwardingConfig:
          $ref: "#/components/schemas/ManagedZoneForwardingConfig"
          description: The presence for this field indicates that outbound forwarding is enabled for this zone. The value of this field contains the set of destinations to forward to.
        id:
          description: Unique identifier for the resource; defined by the server (output only)
          format: uint64
          type: string
        kind:
          default: dns#managedZone
          type: string
        labels:
          additionalProperties:
            type: string
          description: User labels.
          type: object
        name:
          description: User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.
          type: string
        nameServerSet:
          description: Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users leave this field unset. If you need to use this field, contact your account team.
          type: string
        nameServers:
          description: Delegate your managed_zone to these virtual name servers; defined by the server (output only)
          items:
            type: string
          type: array
        peeringConfig:
          $ref: "#/components/schemas/ManagedZonePeeringConfig"
          description: The presence of this field indicates that DNS Peering is enabled for this zone. The value of this field contains the network to peer with.
        privateVisibilityConfig:
          $ref: "#/components/schemas/ManagedZonePrivateVisibilityConfig"
          description: For privately visible zones, the set of Virtual Private Cloud resources that the zone is visible from.
        reverseLookupConfig:
          $ref: "#/components/schemas/ManagedZoneReverseLookupConfig"
          description: The presence of this field indicates that this is a managed reverse lookup zone and Cloud DNS resolves reverse lookup queries using automatically configured records for VPC resources. This only applies to networks listed under private_visibility_config.
        serviceDirectoryConfig:
          $ref: "#/components/schemas/ManagedZoneServiceDirectoryConfig"
          description: This field links to the associated service directory namespace. Do not set this field for public zones or forwarding zones.
        visibility:
          description: "The zone's visibility: public zones are exposed to the Internet, while private zones are visible only to Virtual Private Cloud resources."
          enum:
            - public
            - private
          type: string
      type: object
    ManagedZoneDnsSecConfig:
      properties:
        defaultKeySpecs:
          description: Specifies parameters for generating initial DnsKeys for this ManagedZone. Can only be changed while the state is OFF.
          items:
            $ref: "#/components/schemas/DnsKeySpec"
          type: array
        kind:
          default: dns#managedZoneDnsSecConfig
          type: string
        nonExistence:
          description: Specifies the mechanism for authenticated denial-of-existence responses. Can only be changed while the state is OFF.
          enum:
            - nsec
            - nsec3
          type: string
        state:
          description: Specifies whether DNSSEC is enabled, and what mode it is in.
          enum:
            - off
            - on
            - transfer
          type: string
      type: object
    ManagedZoneForwardingConfig:
      properties:
        kind:
          default: dns#managedZoneForwardingConfig
          type: string
        targetNameServers:
          description: List of target name servers to forward to. Cloud DNS selects the best available name server if more than one target is given.
          items:
            $ref: "#/components/schemas/ManagedZoneForwardingConfigNameServerTarget"
          type: array
      type: object
    ManagedZoneForwardingConfigNameServerTarget:
      properties:
        forwardingPath:
          description: Forwarding path for this NameServerTarget. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on IP address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.
          enum:
            - default
            - private
          type: string
        ipv4Address:
          description: IPv4 address of a target name server.
          type: string
        kind:
          default: dns#managedZoneForwardingConfigNameServerTarget
          type: string
      type: object
    ManagedZoneOperationsListResponse:
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        kind:
          default: dns#managedZoneOperationsListResponse
          description: Type of resource.
          type: string
        nextPageToken:
          description: The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size.
          type: string
        operations:
          description: The operation resources.
          items:
            $ref: "#/components/schemas/Operation"
          type: array
      type: object
    ManagedZonePeeringConfig:
      properties:
        kind:
          default: dns#managedZonePeeringConfig
          type: string
        targetNetwork:
          $ref: "#/components/schemas/ManagedZonePeeringConfigTargetNetwork"
          description: The network with which to peer.
      type: object
    ManagedZonePeeringConfigTargetNetwork:
      properties:
        deactivateTime:
          description: The time at which the zone was deactivated, in RFC 3339 date-time format. An empty string indicates that the peering connection is active. The producer network can deactivate a zone. The zone is automatically deactivated if the producer network that the zone targeted is deleted. Output only.
          type: string
        kind:
          default: dns#managedZonePeeringConfigTargetNetwork
          type: string
        networkUrl:
          description: The fully qualified URL of the VPC network to forward queries to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}
          type: string
      type: object
    ManagedZonePrivateVisibilityConfig:
      properties:
        kind:
          default: dns#managedZonePrivateVisibilityConfig
          type: string
        networks:
          description: The list of VPC networks that can see this zone.
          items:
            $ref: "#/components/schemas/ManagedZonePrivateVisibilityConfigNetwork"
          type: array
      type: object
    ManagedZonePrivateVisibilityConfigNetwork:
      properties:
        kind:
          default: dns#managedZonePrivateVisibilityConfigNetwork
          type: string
        networkUrl:
          description: The fully qualified URL of the VPC network to bind to. Format this URL like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}
          type: string
      type: object
    ManagedZoneReverseLookupConfig:
      properties:
        kind:
          default: dns#managedZoneReverseLookupConfig
          type: string
      type: object
    ManagedZoneServiceDirectoryConfig:
      description: Contains information about Service Directory-backed zones.
      properties:
        kind:
          default: dns#managedZoneServiceDirectoryConfig
          type: string
        namespace:
          $ref: "#/components/schemas/ManagedZoneServiceDirectoryConfigNamespace"
          description: Contains information about the namespace associated with the zone.
      type: object
    ManagedZoneServiceDirectoryConfigNamespace:
      properties:
        deletionTime:
          description: The time that the namespace backing this zone was deleted; an empty string if it still exists. This is in RFC3339 text format. Output only.
          type: string
        kind:
          default: dns#managedZoneServiceDirectoryConfigNamespace
          type: string
        namespaceUrl:
          description: The fully qualified URL of the namespace associated with the zone. Format must be https://servicedirectory.googleapis.com/v1/projects/{project}/locations/{location}/namespaces/{namespace}
          type: string
      type: object
    ManagedZonesListResponse:
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        kind:
          default: dns#managedZonesListResponse
          description: Type of resource.
          type: string
        managedZones:
          description: The managed zone resources.
          items:
            $ref: "#/components/schemas/ManagedZone"
          type: array
        nextPageToken:
          description: The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size.
          type: string
      type: object
    Operation:
      description: "An operation represents a successful mutation performed on a Cloud DNS resource. Operations provide: - An audit log of server resource mutations. - A way to recover/retry API calls in the case where the response is never received by the caller. Use the caller specified client_operation_id."
      properties:
        dnsKeyContext:
          $ref: "#/components/schemas/OperationDnsKeyContext"
          description: Only populated if the operation targeted a DnsKey (output only).
        id:
          description: Unique identifier for the resource. This is the client_operation_id if the client specified it when the mutation was initiated, otherwise, it is generated by the server. The name must be 1-63 characters long and match the regular expression [-a-z0-9]? (output only)
          type: string
        kind:
          default: dns#operation
          type: string
        startTime:
          description: The time that this operation was started by the server. This is in RFC3339 text format (output only).
          type: string
        status:
          description: 'Status of the operation. Can be one of the following: "PENDING" or "DONE" (output only). A status of "DONE" means that the request to update the authoritative servers has been sent, but the servers might not be updated yet.'
          enum:
            - pending
            - done
          type: string
        type:
          description: Type of the operation. Operations include insert, update, and delete (output only).
          type: string
        user:
          description: "User who requested the operation, for example: user@example.com. cloud-dns-system for operations automatically done by the system. (output only)"
          type: string
        zoneContext:
          $ref: "#/components/schemas/OperationManagedZoneContext"
          description: Only populated if the operation targeted a ManagedZone (output only).
      type: object
    OperationDnsKeyContext:
      properties:
        newValue:
          $ref: "#/components/schemas/DnsKey"
          description: The post-operation DnsKey resource.
        oldValue:
          $ref: "#/components/schemas/DnsKey"
          description: The pre-operation DnsKey resource.
      type: object
    OperationManagedZoneContext:
      properties:
        newValue:
          $ref: "#/components/schemas/ManagedZone"
          description: The post-operation ManagedZone resource.
        oldValue:
          $ref: "#/components/schemas/ManagedZone"
          description: The pre-operation ManagedZone resource.
      type: object
    PoliciesListResponse:
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        kind:
          default: dns#policiesListResponse
          description: Type of resource.
          type: string
        nextPageToken:
          description: The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token. This lets you the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size.
          type: string
        policies:
          description: The policy resources.
          items:
            $ref: "#/components/schemas/Policy"
          type: array
      type: object
    PoliciesPatchResponse:
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        policy:
          $ref: "#/components/schemas/Policy"
      type: object
    PoliciesUpdateResponse:
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        policy:
          $ref: "#/components/schemas/Policy"
      type: object
    Policy:
      description: A policy is a collection of DNS rules applied to one or more Virtual Private Cloud resources.
      properties:
        alternativeNameServerConfig:
          $ref: "#/components/schemas/PolicyAlternativeNameServerConfig"
          description: Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.
        description:
          description: A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the policy's function.
          type: string
        enableInboundForwarding:
          description: Allows networks bound to this policy to receive DNS queries sent by VMs or applications over VPN connections. When enabled, a virtual IP address is allocated from each of the subnetworks that are bound to this policy.
          type: boolean
        enableLogging:
          description: Controls whether logging is enabled for the networks bound to this policy. Defaults to no logging if not set.
          type: boolean
        id:
          description: Unique identifier for the resource; defined by the server (output only).
          format: uint64
          type: string
        kind:
          default: dns#policy
          type: string
        name:
          description: User-assigned name for this policy.
          type: string
        networks:
          description: List of network names specifying networks to which this policy is applied.
          items:
            $ref: "#/components/schemas/PolicyNetwork"
          type: array
      type: object
    PolicyAlternativeNameServerConfig:
      properties:
        kind:
          default: dns#policyAlternativeNameServerConfig
          type: string
        targetNameServers:
          description: Sets an alternative name server for the associated networks. When specified, all DNS queries are forwarded to a name server that you choose. Names such as .internal are not available when an alternative name server is specified.
          items:
            $ref: "#/components/schemas/PolicyAlternativeNameServerConfigTargetNameServer"
          type: array
      type: object
    PolicyAlternativeNameServerConfigTargetNameServer:
      properties:
        forwardingPath:
          description: Forwarding path for this TargetNameServer. If unset or set to DEFAULT, Cloud DNS makes forwarding decisions based on address ranges; that is, RFC1918 addresses go to the VPC network, non-RFC1918 addresses go to the internet. When set to PRIVATE, Cloud DNS always sends queries through the VPC network for this target.
          enum:
            - default
            - private
          type: string
        ipv4Address:
          description: IPv4 address to forward to.
          type: string
        kind:
          default: dns#policyAlternativeNameServerConfigTargetNameServer
          type: string
      type: object
    PolicyNetwork:
      properties:
        kind:
          default: dns#policyNetwork
          type: string
        networkUrl:
          description: The fully qualified URL of the VPC network to bind to. This should be formatted like https://www.googleapis.com/compute/v1/projects/{project}/global/networks/{network}
          type: string
      type: object
    Project:
      description: "A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console. Next tag: 7."
      properties:
        id:
          description: User assigned unique identifier for the resource (output only).
          type: string
        kind:
          default: dns#project
          type: string
        number:
          description: Unique numeric identifier for the resource; defined by the server (output only).
          format: uint64
          type: string
        quota:
          $ref: "#/components/schemas/Quota"
          description: Quotas assigned to this project (output only).
      type: object
    Quota:
      description: Limits associated with a Project.
      properties:
        dnsKeysPerManagedZone:
          description: Maximum allowed number of DnsKeys per ManagedZone.
          format: int32
          type: integer
        kind:
          default: dns#quota
          type: string
        managedZones:
          description: Maximum allowed number of managed zones in the project.
          format: int32
          type: integer
        managedZonesPerNetwork:
          description: Maximum allowed number of managed zones which can be attached to a network.
          format: int32
          type: integer
        networksPerManagedZone:
          description: Maximum allowed number of networks to which a privately scoped zone can be attached.
          format: int32
          type: integer
        networksPerPolicy:
          description: Maximum allowed number of networks per policy.
          format: int32
          type: integer
        policies:
          description: Maximum allowed number of policies per project.
          format: int32
          type: integer
        resourceRecordsPerRrset:
          description: Maximum allowed number of ResourceRecords per ResourceRecordSet.
          format: int32
          type: integer
        rrsetAdditionsPerChange:
          description: Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.
          format: int32
          type: integer
        rrsetDeletionsPerChange:
          description: Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.
          format: int32
          type: integer
        rrsetsPerManagedZone:
          description: Maximum allowed number of ResourceRecordSets per zone in the project.
          format: int32
          type: integer
        targetNameServersPerManagedZone:
          description: Maximum allowed number of target name servers per managed forwarding zone.
          format: int32
          type: integer
        targetNameServersPerPolicy:
          description: Maximum allowed number of alternative target name servers per policy.
          format: int32
          type: integer
        totalRrdataSizePerChange:
          description: Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.
          format: int32
          type: integer
        whitelistedKeySpecs:
          description: DNSSEC algorithm and key length types that can be used for DnsKeys.
          items:
            $ref: "#/components/schemas/DnsKeySpec"
          type: array
      type: object
    ResourceRecordSet:
      description: A unit of data that is returned by the DNS servers.
      properties:
        kind:
          default: dns#resourceRecordSet
          type: string
        name:
          description: For example, www.example.com.
          type: string
        rrdatas:
          description: As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1) -- see examples.
          items:
            type: string
          type: array
        signatureRrdatas:
          description: As defined in RFC 4034 (section 3.2).
          items:
            type: string
          type: array
        ttl:
          description: Number of seconds that this ResourceRecordSet can be cached by resolvers.
          format: int32
          type: integer
        type:
          description: The identifier of a supported record type. See the list of Supported DNS record types.
          type: string
      type: object
    ResourceRecordSetsDeleteResponse:
      properties: {}
      type: object
    ResourceRecordSetsListResponse:
      properties:
        header:
          $ref: "#/components/schemas/ResponseHeader"
        kind:
          default: dns#resourceRecordSetsListResponse
          description: Type of resource.
          type: string
        nextPageToken:
          description: The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token. This lets you retrieve complete contents of even larger collections, one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of elements returned are an inconsistent view of the collection. You cannot retrieve a consistent snapshot of a collection larger than the maximum page size.
          type: string
        rrsets:
          description: The resource record set resources.
          items:
            $ref: "#/components/schemas/ResourceRecordSet"
          type: array
      type: object
    ResponseHeader:
      description: Elements common to every response.
      properties:
        operationId:
          description: For mutating operation requests that completed successfully. This is the client_operation_id if the client specified it, otherwise it is generated by the server (output only).
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud Platform data
            https://www.googleapis.com/auth/cloud-platform.read-only: View your data across Google Cloud Platform services
            https://www.googleapis.com/auth/ndev.clouddns.readonly: View your DNS records hosted by Google Cloud DNS
            https://www.googleapis.com/auth/ndev.clouddns.readwrite: View and manage your DNS records hosted by Google Cloud DNS
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud Platform data
            https://www.googleapis.com/auth/cloud-platform.read-only: View your data across Google Cloud Platform services
            https://www.googleapis.com/auth/ndev.clouddns.readonly: View your DNS records hosted by Google Cloud DNS
            https://www.googleapis.com/auth/ndev.clouddns.readwrite: View and manage your DNS records hosted by Google Cloud DNS
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
