swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /dns/v1/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Configures and serves authoritative DNS records.
  title: Google Cloud DNS
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/dns/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: dns
externalDocs:
  url: 'https://developers.google.com/cloud-dns'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/ndev.clouddns.readonly': View your DNS records hosted by Google Cloud DNS
      'https://www.googleapis.com/auth/ndev.clouddns.readwrite': View and manage your DNS records hosted by Google Cloud DNS
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    in: query
    name: quotaUser
    type: string
  userIp:
    description: Deprecated. Please use quotaUser instead.
    in: query
    name: userIp
    type: string
tags:
  - name: changes
  - name: dnsKeys
  - name: managedZoneOperations
  - name: managedZones
  - name: projects
  - name: resourceRecordSets
paths:
  '/{project}':
    get:
      description: ''
      operationId: dns.projects.get
      parameters:
        - in: query
          name: clientOperationId
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Project'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/managedZones':
    get:
      description: ''
      operationId: dns.managedZones.list
      parameters:
        - in: query
          name: dnsName
          type: string
        - in: query
          name: maxResults
          type: integer
        - in: query
          name: pageToken
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedZonesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: ''
      operationId: dns.managedZones.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedZone'
        - in: query
          name: clientOperationId
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedZone'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
  '/{project}/managedZones/{managedZone}':
    delete:
      description: ''
      operationId: dns.managedZones.delete
      parameters:
        - in: query
          name: clientOperationId
          type: string
        - in: path
          name: managedZone
          required: true
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
    get:
      description: ''
      operationId: dns.managedZones.get
      parameters:
        - in: query
          name: clientOperationId
          type: string
        - in: path
          name: managedZone
          required: true
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedZone'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: ''
      operationId: dns.managedZones.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedZone'
        - in: query
          name: clientOperationId
          type: string
        - in: path
          name: managedZone
          required: true
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
    put:
      description: ''
      operationId: dns.managedZones.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedZone'
        - in: query
          name: clientOperationId
          type: string
        - in: path
          name: managedZone
          required: true
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
  '/{project}/managedZones/{managedZone}/changes':
    get:
      description: ''
      operationId: dns.changes.list
      parameters:
        - in: path
          name: managedZone
          required: true
          type: string
        - in: query
          name: maxResults
          type: integer
        - in: query
          name: pageToken
          type: string
        - in: path
          name: project
          required: true
          type: string
        - default: changeSequence
          enum:
            - changeSequence
          in: query
          name: sortBy
          type: string
        - in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChangesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - changes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: ''
      operationId: dns.changes.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Change'
        - in: query
          name: clientOperationId
          type: string
        - in: path
          name: managedZone
          required: true
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Change'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - changes
  '/{project}/managedZones/{managedZone}/changes/{changeId}':
    get:
      description: ''
      operationId: dns.changes.get
      parameters:
        - in: path
          name: changeId
          required: true
          type: string
        - in: query
          name: clientOperationId
          type: string
        - in: path
          name: managedZone
          required: true
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Change'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - changes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/managedZones/{managedZone}/dnsKeys':
    get:
      description: ''
      operationId: dns.dnsKeys.list
      parameters:
        - in: query
          name: digestType
          type: string
        - in: path
          name: managedZone
          required: true
          type: string
        - in: query
          name: maxResults
          type: integer
        - in: query
          name: pageToken
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DnsKeysListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - dnsKeys
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/managedZones/{managedZone}/dnsKeys/{dnsKeyId}':
    get:
      description: ''
      operationId: dns.dnsKeys.get
      parameters:
        - in: query
          name: clientOperationId
          type: string
        - in: query
          name: digestType
          type: string
        - in: path
          name: dnsKeyId
          required: true
          type: string
        - in: path
          name: managedZone
          required: true
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DnsKey'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - dnsKeys
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/managedZones/{managedZone}/operations':
    get:
      description: ''
      operationId: dns.managedZoneOperations.list
      parameters:
        - in: path
          name: managedZone
          required: true
          type: string
        - in: query
          name: maxResults
          type: integer
        - in: query
          name: pageToken
          type: string
        - in: path
          name: project
          required: true
          type: string
        - default: startTime
          enum:
            - id
            - startTime
          in: query
          name: sortBy
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedZoneOperationsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZoneOperations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/managedZones/{managedZone}/operations/{operation}':
    get:
      description: ''
      operationId: dns.managedZoneOperations.get
      parameters:
        - in: query
          name: clientOperationId
          type: string
        - in: path
          name: managedZone
          required: true
          type: string
        - in: path
          name: operation
          required: true
          type: string
        - in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZoneOperations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/managedZones/{managedZone}/rrsets':
    get:
      description: ''
      operationId: dns.resourceRecordSets.list
      parameters:
        - in: path
          name: managedZone
          required: true
          type: string
        - in: query
          name: maxResults
          type: integer
        - in: query
          name: name
          type: string
        - in: query
          name: pageToken
          type: string
        - in: path
          name: project
          required: true
          type: string
        - in: query
          name: type
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ResourceRecordSetsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - resourceRecordSets
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Change:
    properties:
      additions:
        items:
          $ref: '#/definitions/ResourceRecordSet'
        type: array
      deletions:
        items:
          $ref: '#/definitions/ResourceRecordSet'
        type: array
      id:
        type: string
      isServing:
        type: boolean
      kind:
        default: 'dns#change'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#change".'
        type: string
      startTime:
        type: string
      status:
        enum:
          - done
          - pending
        type: string
    type: object
  ChangesListResponse:
    properties:
      changes:
        items:
          $ref: '#/definitions/Change'
        type: array
      header:
        $ref: '#/definitions/ResponseHeader'
      kind:
        default: 'dns#changesListResponse'
        description: Type of resource.
        type: string
      nextPageToken:
        type: string
    type: object
  DnsKey:
    properties:
      algorithm:
        enum:
          - ecdsap256sha256
          - ecdsap384sha384
          - rsasha1
          - rsasha256
          - rsasha512
        type: string
      creationTime:
        type: string
      description:
        type: string
      digests:
        items:
          $ref: '#/definitions/DnsKeyDigest'
        type: array
      id:
        type: string
      isActive:
        type: boolean
      keyLength:
        format: uint32
        type: integer
      keyTag:
        format: int32
        type: integer
      kind:
        default: 'dns#dnsKey'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#dnsKey".'
        type: string
      publicKey:
        type: string
      type:
        enum:
          - keySigning
          - zoneSigning
        type: string
    type: object
  DnsKeyDigest:
    properties:
      digest:
        type: string
      type:
        enum:
          - sha1
          - sha256
          - sha384
        type: string
    type: object
  DnsKeySpec:
    properties:
      algorithm:
        enum:
          - ecdsap256sha256
          - ecdsap384sha384
          - rsasha1
          - rsasha256
          - rsasha512
        type: string
      keyLength:
        format: uint32
        type: integer
      keyType:
        enum:
          - keySigning
          - zoneSigning
        type: string
      kind:
        default: 'dns#dnsKeySpec'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#dnsKeySpec".'
        type: string
    type: object
  DnsKeysListResponse:
    properties:
      dnsKeys:
        items:
          $ref: '#/definitions/DnsKey'
        type: array
      header:
        $ref: '#/definitions/ResponseHeader'
      kind:
        default: 'dns#dnsKeysListResponse'
        description: Type of resource.
        type: string
      nextPageToken:
        type: string
    type: object
  ManagedZone:
    properties:
      creationTime:
        type: string
      description:
        type: string
      dnsName:
        type: string
      dnssecConfig:
        $ref: '#/definitions/ManagedZoneDnsSecConfig'
      id:
        format: uint64
        type: string
      kind:
        default: 'dns#managedZone'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#managedZone".'
        type: string
      labels:
        additionalProperties:
          type: string
        type: object
      name:
        type: string
      nameServerSet:
        type: string
      nameServers:
        items:
          type: string
        type: array
    type: object
  ManagedZoneDnsSecConfig:
    properties:
      defaultKeySpecs:
        items:
          $ref: '#/definitions/DnsKeySpec'
        type: array
      kind:
        default: 'dns#managedZoneDnsSecConfig'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#managedZoneDnsSecConfig".'
        type: string
      nonExistence:
        enum:
          - nsec
          - nsec3
        type: string
      state:
        enum:
          - 'off'
          - 'on'
          - transfer
        type: string
    type: object
  ManagedZoneOperationsListResponse:
    properties:
      header:
        $ref: '#/definitions/ResponseHeader'
      kind:
        default: 'dns#managedZoneOperationsListResponse'
        description: Type of resource.
        type: string
      nextPageToken:
        type: string
      operations:
        items:
          $ref: '#/definitions/Operation'
        type: array
    type: object
  ManagedZonesListResponse:
    properties:
      header:
        $ref: '#/definitions/ResponseHeader'
      kind:
        default: 'dns#managedZonesListResponse'
        description: Type of resource.
        type: string
      managedZones:
        items:
          $ref: '#/definitions/ManagedZone'
        type: array
      nextPageToken:
        type: string
    type: object
  Operation:
    properties:
      dnsKeyContext:
        $ref: '#/definitions/OperationDnsKeyContext'
      id:
        type: string
      kind:
        default: 'dns#operation'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#operation".'
        type: string
      startTime:
        type: string
      status:
        enum:
          - done
          - pending
        type: string
      type:
        type: string
      user:
        type: string
      zoneContext:
        $ref: '#/definitions/OperationManagedZoneContext'
    type: object
  OperationDnsKeyContext:
    properties:
      newValue:
        $ref: '#/definitions/DnsKey'
      oldValue:
        $ref: '#/definitions/DnsKey'
    type: object
  OperationManagedZoneContext:
    properties:
      newValue:
        $ref: '#/definitions/ManagedZone'
      oldValue:
        $ref: '#/definitions/ManagedZone'
    type: object
  Project:
    properties:
      id:
        type: string
      kind:
        default: 'dns#project'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#project".'
        type: string
      number:
        format: uint64
        type: string
      quota:
        $ref: '#/definitions/Quota'
    type: object
  Quota:
    properties:
      dnsKeysPerManagedZone:
        format: int32
        type: integer
      kind:
        default: 'dns#quota'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#quota".'
        type: string
      managedZones:
        format: int32
        type: integer
      resourceRecordsPerRrset:
        format: int32
        type: integer
      rrsetAdditionsPerChange:
        format: int32
        type: integer
      rrsetDeletionsPerChange:
        format: int32
        type: integer
      rrsetsPerManagedZone:
        format: int32
        type: integer
      totalRrdataSizePerChange:
        format: int32
        type: integer
      whitelistedKeySpecs:
        items:
          $ref: '#/definitions/DnsKeySpec'
        type: array
    type: object
  ResourceRecordSet:
    properties:
      kind:
        default: 'dns#resourceRecordSet'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#resourceRecordSet".'
        type: string
      name:
        type: string
      rrdatas:
        items:
          type: string
        type: array
      signatureRrdatas:
        items:
          type: string
        type: array
      ttl:
        format: int32
        type: integer
      type:
        type: string
    type: object
  ResourceRecordSetsListResponse:
    properties:
      header:
        $ref: '#/definitions/ResponseHeader'
      kind:
        default: 'dns#resourceRecordSetsListResponse'
        description: Type of resource.
        type: string
      nextPageToken:
        type: string
      rrsets:
        items:
          $ref: '#/definitions/ResourceRecordSet'
        type: array
    type: object
  ResponseHeader:
    properties:
      operationId:
        type: string
    type: object
