swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /dns/v1/projects
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Configures and serves authoritative DNS records.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Cloud DNS
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/dns/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: dns
externalDocs:
  url: 'https://developers.google.com/cloud-dns'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/ndev.clouddns.readonly': View your DNS records hosted by Google Cloud DNS
      'https://www.googleapis.com/auth/ndev.clouddns.readwrite': View and manage your DNS records hosted by Google Cloud DNS
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/ndev.clouddns.readonly': View your DNS records hosted by Google Cloud DNS
      'https://www.googleapis.com/auth/ndev.clouddns.readwrite': View and manage your DNS records hosted by Google Cloud DNS
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: changes
  - name: managedZones
  - name: projects
  - name: resourceRecordSets
paths:
  '/{project}':
    get:
      description: Fetch the representation of an existing Project.
      operationId: dns.projects.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Project'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/managedZones':
    get:
      description: Enumerate ManagedZones that have been created but not yet deleted.
      operationId: dns.managedZones.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          type: string
        - description: Restricts the list to return only zones with this domain name.
          in: query
          name: dnsName
          type: string
        - description: 'Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.'
          in: query
          name: maxResults
          type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedZonesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Create a new ManagedZone.
      operationId: dns.managedZones.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ManagedZone'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedZone'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
  '/{project}/managedZones/{managedZone}':
    delete:
      description: Delete a previously created ManagedZone.
      operationId: dns.managedZones.delete
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or id.
          in: path
          name: managedZone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
    get:
      description: Fetch the representation of an existing ManagedZone.
      operationId: dns.managedZones.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or id.
          in: path
          name: managedZone
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ManagedZone'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - managedZones
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/managedZones/{managedZone}/changes':
    get:
      description: Enumerate Changes to a ResourceRecordSet collection.
      operationId: dns.changes.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or id.
          in: path
          name: managedZone
          required: true
          type: string
        - description: 'Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.'
          in: query
          name: maxResults
          type: integer
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          type: string
        - default: changeSequence
          description: Sorting criterion. The only supported value is change sequence.
          enum:
            - changeSequence
          in: query
          name: sortBy
          type: string
        - description: 'Sorting order direction: ''ascending'' or ''descending''.'
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChangesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - changes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Atomically update the ResourceRecordSet collection.
      operationId: dns.changes.create
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or id.
          in: path
          name: managedZone
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Change'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Change'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - changes
  '/{project}/managedZones/{managedZone}/changes/{changeId}':
    get:
      description: Fetch the representation of an existing Change.
      operationId: dns.changes.get
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or id.
          in: path
          name: managedZone
          required: true
          type: string
        - description: 'The identifier of the requested change, from a previous ResourceRecordSetsChangeResponse.'
          in: path
          name: changeId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Change'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - changes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{project}/managedZones/{managedZone}/rrsets':
    get:
      description: Enumerate ResourceRecordSets that have been created but not yet deleted.
      operationId: dns.resourceRecordSets.list
      parameters:
        - description: Identifies the project addressed by this request.
          in: path
          name: project
          required: true
          type: string
        - description: Identifies the managed zone addressed by this request. Can be the managed zone name or id.
          in: path
          name: managedZone
          required: true
          type: string
        - description: 'Optional. Maximum number of results to be returned. If unspecified, the server will decide how many results to return.'
          in: query
          name: maxResults
          type: integer
        - description: Restricts the list to return only records with this fully qualified domain name.
          in: query
          name: name
          type: string
        - description: Optional. A tag returned by a previous list request that was truncated. Use this parameter to continue a previous list request.
          in: query
          name: pageToken
          type: string
        - description: 'Restricts the list to return only records of this type. If present, the "name" parameter must also be present.'
          in: query
          name: type
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ResourceRecordSetsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ndev.clouddns.readwrite'
      tags:
        - resourceRecordSets
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Change:
    description: An atomic update to a collection of ResourceRecordSets.
    properties:
      additions:
        description: Which ResourceRecordSets to add?
        items:
          $ref: '#/definitions/ResourceRecordSet'
        type: array
      deletions:
        description: Which ResourceRecordSets to remove? Must match existing data exactly.
        items:
          $ref: '#/definitions/ResourceRecordSet'
        type: array
      id:
        description: Unique identifier for the resource; defined by the server (output only).
        type: string
      kind:
        default: 'dns#change'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#change".'
        type: string
      startTime:
        description: The time that this operation was started by the server (output only). This is in RFC3339 text format.
        type: string
      status:
        description: Status of the operation (output only).
        enum:
          - done
          - pending
        type: string
    type: object
  ChangesListResponse:
    description: The response to a request to enumerate Changes to a ResourceRecordSets collection.
    properties:
      changes:
        description: The requested changes.
        items:
          $ref: '#/definitions/Change'
        type: array
      kind:
        default: 'dns#changesListResponse'
        description: Type of resource.
        type: string
      nextPageToken:
        description: |-
          The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token.

          In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a "snapshot" of collections larger than the maximum page size.
        type: string
    type: object
  ManagedZone:
    description: A zone is a subtree of the DNS namespace under one administrative responsibility. A ManagedZone is a resource that represents a DNS zone hosted by the Cloud DNS service.
    properties:
      creationTime:
        description: The time that this resource was created on the server. This is in RFC3339 text format. Output only.
        type: string
      description:
        description: A mutable string of at most 1024 characters associated with this resource for the user's convenience. Has no effect on the managed zone's function.
        type: string
      dnsName:
        description: 'The DNS name of this managed zone, for instance "example.com.".'
        type: string
      id:
        description: Unique identifier for the resource; defined by the server (output only)
        format: uint64
        type: string
      kind:
        default: 'dns#managedZone'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#managedZone".'
        type: string
      name:
        description: 'User assigned name for this resource. Must be unique within the project. The name must be 1-63 characters long, must begin with a letter, end with a letter or digit, and only contain lowercase letters, digits or dashes.'
        type: string
      nameServerSet:
        description: Optionally specifies the NameServerSet for this ManagedZone. A NameServerSet is a set of DNS name servers that all host the same ManagedZones. Most users will leave this field unset.
        type: string
      nameServers:
        description: Delegate your managed_zone to these virtual name servers; defined by the server (output only)
        items:
          type: string
        type: array
    type: object
  ManagedZonesListResponse:
    properties:
      kind:
        default: 'dns#managedZonesListResponse'
        description: Type of resource.
        type: string
      managedZones:
        description: The managed zone resources.
        items:
          $ref: '#/definitions/ManagedZone'
        type: array
      nextPageToken:
        description: |-
          The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your page token.

          In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.
        type: string
    type: object
  Project:
    description: A project resource. The project is a top level container for resources including Cloud DNS ManagedZones. Projects can be created only in the APIs console.
    properties:
      id:
        description: User assigned unique identifier for the resource (output only).
        type: string
      kind:
        default: 'dns#project'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#project".'
        type: string
      number:
        description: Unique numeric identifier for the resource; defined by the server (output only).
        format: uint64
        type: string
      quota:
        $ref: '#/definitions/Quota'
        description: Quotas assigned to this project (output only).
    type: object
  Quota:
    description: Limits associated with a Project.
    properties:
      kind:
        default: 'dns#quota'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#quota".'
        type: string
      managedZones:
        description: Maximum allowed number of managed zones in the project.
        format: int32
        type: integer
      resourceRecordsPerRrset:
        description: Maximum allowed number of ResourceRecords per ResourceRecordSet.
        format: int32
        type: integer
      rrsetAdditionsPerChange:
        description: Maximum allowed number of ResourceRecordSets to add per ChangesCreateRequest.
        format: int32
        type: integer
      rrsetDeletionsPerChange:
        description: Maximum allowed number of ResourceRecordSets to delete per ChangesCreateRequest.
        format: int32
        type: integer
      rrsetsPerManagedZone:
        description: Maximum allowed number of ResourceRecordSets per zone in the project.
        format: int32
        type: integer
      totalRrdataSizePerChange:
        description: Maximum allowed size for total rrdata in one ChangesCreateRequest in bytes.
        format: int32
        type: integer
    type: object
  ResourceRecordSet:
    description: A unit of data that will be returned by the DNS servers.
    properties:
      kind:
        default: 'dns#resourceRecordSet'
        description: 'Identifies what kind of resource this is. Value: the fixed string "dns#resourceRecordSet".'
        type: string
      name:
        description: 'For example, www.example.com.'
        type: string
      rrdatas:
        description: As defined in RFC 1035 (section 5) and RFC 1034 (section 3.6.1).
        items:
          type: string
        type: array
      ttl:
        description: Number of seconds that this ResourceRecordSet can be cached by resolvers.
        format: int32
        type: integer
      type:
        description: 'The identifier of a supported record type, for example, A, AAAA, MX, TXT, and so on.'
        type: string
    type: object
  ResourceRecordSetsListResponse:
    properties:
      kind:
        default: 'dns#resourceRecordSetsListResponse'
        description: Type of resource.
        type: string
      nextPageToken:
        description: |-
          The presence of this field indicates that there exist more results following your last page of results in pagination order. To fetch them, make another list request using this value as your pagination token.

          In this way you can retrieve the complete contents of even very large collections one page at a time. However, if the contents of the collection change between the first and last paginated list request, the set of all elements returned will be an inconsistent view of the collection. There is no way to retrieve a consistent snapshot of a collection larger than the maximum page size.
        type: string
      rrsets:
        description: The resource record set resources.
        items:
          $ref: '#/definitions/ResourceRecordSet'
        type: array
    type: object
