swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /siteVerification/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Verifies ownership of websites or domains with Google.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Site Verification
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/siteVerification/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: siteVerification
externalDocs:
  url: 'https://developers.google.com/site-verification/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/siteverification': Manage the list of sites and domains you control
      'https://www.googleapis.com/auth/siteverification.verify_only': Manage your new site verifications with Google
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/siteverification': Manage the list of sites and domains you control
      'https://www.googleapis.com/auth/siteverification.verify_only': Manage your new site verifications with Google
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: false
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: webResource
paths:
  /token:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Get a verification token for placing on a website or domain.
      operationId: siteVerification.webResource.getToken
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceGettokenRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceGettokenResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/siteverification'
          Oauth2c:
            - 'https://www.googleapis.com/auth/siteverification'
        - Oauth2:
            - 'https://www.googleapis.com/auth/siteverification.verify_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/siteverification.verify_only'
      tags:
        - webResource
  /webResource:
    get:
      description: Get the list of your verified websites and domains.
      operationId: siteVerification.webResource.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/siteverification'
          Oauth2c:
            - 'https://www.googleapis.com/auth/siteverification'
      tags:
        - webResource
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Attempt verification of a website or domain.
      operationId: siteVerification.webResource.insert
      parameters:
        - description: The method to use for verifying a site or domain.
          in: query
          name: verificationMethod
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/siteverification'
          Oauth2c:
            - 'https://www.googleapis.com/auth/siteverification'
        - Oauth2:
            - 'https://www.googleapis.com/auth/siteverification.verify_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/siteverification.verify_only'
      tags:
        - webResource
  '/webResource/{id}':
    delete:
      description: Relinquish ownership of a website or domain.
      operationId: siteVerification.webResource.delete
      parameters:
        - description: The id of a verified site or domain.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/siteverification'
          Oauth2c:
            - 'https://www.googleapis.com/auth/siteverification'
      tags:
        - webResource
    get:
      description: Get the most current data for a website or domain.
      operationId: siteVerification.webResource.get
      parameters:
        - description: The id of a verified site or domain.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/siteverification'
          Oauth2c:
            - 'https://www.googleapis.com/auth/siteverification'
      tags:
        - webResource
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Modify the list of owners for your website or domain. This method supports patch semantics.
      operationId: siteVerification.webResource.patch
      parameters:
        - description: The id of a verified site or domain.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/siteverification'
          Oauth2c:
            - 'https://www.googleapis.com/auth/siteverification'
      tags:
        - webResource
    put:
      description: Modify the list of owners for your website or domain.
      operationId: siteVerification.webResource.update
      parameters:
        - description: The id of a verified site or domain.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SiteVerificationWebResourceResource'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/siteverification'
          Oauth2c:
            - 'https://www.googleapis.com/auth/siteverification'
      tags:
        - webResource
definitions:
  SiteVerificationWebResourceGettokenRequest:
    properties:
      site:
        description: The site for which a verification token will be generated.
        properties:
          identifier:
            description: 'The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.'
            type: string
          type:
            description: The type of resource to be verified. Can be SITE or INET_DOMAIN (domain name).
            type: string
        type: object
      verificationMethod:
        description: 'The verification method that will be used to verify this site. For sites, ''FILE'' or ''META'' methods may be used. For domains, only ''DNS'' may be used.'
        type: string
    type: object
  SiteVerificationWebResourceGettokenResponse:
    properties:
      method:
        description: 'The verification method to use in conjunction with this token. For FILE, the token should be placed in the top-level directory of the site, stored inside a file of the same name. For META, the token should be placed in the HEAD tag of the default page that is loaded for the site. For DNS, the token should be placed in a TXT record of the domain.'
        type: string
      token:
        description: The verification token. The token must be placed appropriately in order for verification to succeed.
        type: string
    type: object
  SiteVerificationWebResourceListResponse:
    properties:
      items:
        description: The list of sites that are owned by the authenticated user.
        items:
          $ref: '#/definitions/SiteVerificationWebResourceResource'
        type: array
    type: object
  SiteVerificationWebResourceResource:
    properties:
      id:
        description: 'The string used to identify this site. This value should be used in the "id" portion of the REST URL for the Get, Update, and Delete operations.'
        type: string
      owners:
        description: The email addresses of all verified owners.
        items:
          type: string
        type: array
      site:
        description: The address and type of a site that is verified or will be verified.
        properties:
          identifier:
            description: 'The site identifier. If the type is set to SITE, the identifier is a URL. If the type is set to INET_DOMAIN, the site identifier is a domain name.'
            type: string
          type:
            description: The site type. Can be SITE or INET_DOMAIN (domain name).
            type: string
        type: object
    type: object
