swagger: '2.0'
schemes:
  - https
host: dracoon.team
basePath: /api
info:
  contact:
    x-twitter: dracoongmbh
  description: 'REST Web Services for DRACOON<br>Version: 4.18.1  - built at: 2020-02-29 02:40:49<br><br><a title=''Developer Information'' href=''https://developer.dracoon.com''>Developer Information</a>&emsp;&emsp;<a title=''Get SDKs on GitHub'' href=''https://github.com/dracoon''>Get SDKs on GitHub</a>'
  termsOfService: 'https://www.dracoon.com/terms/general-terms-and-conditions/'
  title: DRACOON
  version: 4.18.1
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://twitter.com/dracoongmbh/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://dracoon.team/api/spec_v4/'
      version: '2.0'
  x-providerName: dracoon.team
securityDefinitions:
  DRACOON-OAuth:
    authorizationUrl: /oauth/authorize
    flow: accessCode
    scopes:
      all: for all operations (not used)
    tokenUrl: /oauth/token
    type: oauth2
tags:
  - description: Authentication
    name: auth
  - description: Configuration
    name: config
  - description: File download without authentication headers
    name: downloads
  - description: System events log
    name: eventlog
  - description: User groups
    name: groups
  - description: 'File system objects (rooms, folders, files)'
    name: nodes
  - description: Provisioning
    name: provisioning
  - description: 'Public API (upload / download shares, software information)'
    name: public
  - description: Client resources
    name: resources
  - description: Role user management
    name: roles
  - description: Customer settings
    name: settings
  - description: Upload and Download Shares
    name: shares
  - description: 'System events log (`DEPRECATED`: use eventlog)'
    name: syslog
  - description: System settings (authentication methods)
    name: system-auth-config
  - description: System settings (policies)
    name: system-policies-config
  - description: 'System settings (mail server, logging, branding, default values etc.)'
    name: system-settings-config
  - description: System settings (storage)
    name: system-storage-config
  - description: File upload without authentication headers
    name: uploads
  - description: User operations
    name: user
  - description: User management
    name: users
paths:
  /v4/auth/login:
    post:
      consumes:
        - application/json
      deprecated: true
      description: |-
        ## &#9888; Deprecated since version 4.13.0

        ### Functional Description:
        Authenticates user and provides an authentication token (`X-Sds-Auth-Token`) that is required for most operations.

        ### Precondition:
        Existing user that is **NOT** locked.

        ### Effects:
        User is logged in.

        ### &#9432; Further Information:
        The provided token is valid for **2 hours**, every usage resets this period to 2 full hours again.  
        Logging off invalidates the token.  

        Setting the language parameter has no effect.

        ### Available authentication methods

        | Authentication Method:<br>**`authType`** | Description |
        | :--- | :--- |
        | **`basic`** | Log in with credentials stored in the database <br>Formerly known as **`sql`**.|
        | **`active_directory`** | Log in with Active Directory credentials |
        | **`radius`** | Log in with RADIUS username, PIN and token password.<br>Token (request parameter) may be set, otherwise this parameter is ignored. If `token` is set, `password` is optional. |
        | **`openid`** | Please use `POST /auth/openid/login` API to login with OpenID Connect identity |

        ### DEPRECATED: Currently supported languages (with ISO 639-1 code):
        * German (de)
        * English (en)
        * Spanish (es)
        * French (fr)
      operationId: login
      parameters:
        - description: User credentials
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/LoginRequest'
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LoginResponse'
        '400':
          description: |-
            Bad Request

            * [-10100] Invalid authentication method
            * [-10105] Password cannot be reset for this user
            * [-80000] Mandatory fields cannot be empty
            * [-80013] Invalid JSON object
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10011] Wrong username or password
            * [-90060] User import not allowed
            * [-90061] Invalid Active Directory entry
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |-
            Forbidden

            * [-10003] User is locked by an administrator
            * [-10004] User has expired
            * [-10005] User is temporarily locked (Unlock time will be delivered in ISO 8601 format [`2014-12-23T13:24:00Z`])
            * [-10007] Customer is locked
            * [-70505] Maximum number of users reached
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-90050] Active Directory configuration not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10108] RADIUS requests Access-Challenge workflow; Please notice the `replyMessage`
          schema:
            $ref: '#/definitions/RadiusChallengeResponse'
        '502':
          description: |-
            Bad Gateway

            * [-90055] Invalid Active Directory configuration
            * [-90070] RADIUS connection failed
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Authenticate user
      tags:
        - auth
  /v4/auth/openid/login:
    get:
      deprecated: true
      description: |-
        ## &#9888; Deprecated since version 4.14.0

        ## &#9888; CAUTION: This API does **NOT** work with Swagger! Swagger can **NOT** handle the redirect to the OpenID Connect identity provider.

        ### Functional Description:
        This is the first step of the OpenID Connect authentication.  
        The user is send to the OpenID Connect identity provider to authenticate himself and retrieve an authorization code.

        ### Precondition:
        None.

        ### Effects:
        User is redirected to OpenID Connect identity provider to authenticate himself.

        ### &#9432; Further Information:
        See [http://openid.net/developers/specs](http://openid.net/developers/specs) for further information.
      operationId: initiateOpenIdLogin
      parameters:
        - allowEmptyValue: false
          description: Issuer identifier of the OpenID Connect identity provider
          in: query
          name: issuer
          required: true
          type: string
        - allowEmptyValue: false
          description: 'Language ID or ISO 639-1 code (**DEPRECATED**: will be removed)'
          in: query
          name: language
          required: false
          type: string
        - allowEmptyValue: false
          description: Redirect URI to complete the OpenID Connect authentication
          in: query
          name: redirect_uri
          required: true
          type: string
        - allowEmptyValue: false
          description: |-
            Flag to test the authentication parameters.
            If the request is valid, the API will respond with `204 No Content`.
          in: query
          name: test
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        '204':
          description: No Content
        '302':
          description: Found
        '400':
          description: |-
            Bad Request

            * [-10010] Not supported language
            * [-10100] Invalid authentication method
            * [-80000] Mandatory fields cannot be empty
        '404':
          description: |-
            Not Found

            * [-90041] Unknown identity provider
            * [-90042] Unknown redirect URI
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '502':
          description: |-
            Bad Gateway

            * [-90047] Invalid OpenID Connect IDP configuration
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Initiate OpenID Connect authentication
      tags:
        - auth
    post:
      consumes:
        - application/json
      deprecated: true
      description: |-
        ## &#9888; Deprecated since version 4.14.0

        ### Functional Description:  
        This is the second step of the OpenID Connect authentication.  
        The user hands over the authorization code and is logged in.

        ### Precondition:
        Existing user with activated OpenID Connect authentication that is **NOT** locked.

        ### Effects:
        User is logged in.

        ### &#9432; Further Information:
        See [http://openid.net/developers/specs](http://openid.net/developers/specs) for further information.
      operationId: completeOpenIdLogin
      parameters:
        - allowEmptyValue: false
          description: Authorization code
          in: query
          name: code
          required: true
          type: string
        - allowEmptyValue: false
          description: Identity token
          in: query
          name: id_token
          required: false
          type: string
        - allowEmptyValue: false
          description: Authentication state
          in: query
          name: state
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LoginResponse'
        '400':
          description: |-
            Bad Request

            * [-10010] Not supported language
            * [-10100] Invalid authentication method
            * [-80000] Mandatory fields cannot be empty
            * [-90043] Invalid authentication state
        '401':
          description: |-
            Unauthorized

            * [-90048] Invalid OpenID Connect user information
            * [-90060] User import not allowed
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |-
            Forbidden

            * [-10003] User is locked by an administrator
            * [-10004] User has expired
            * [-10005] User is temporarily locked (Unlock time will be delivered in ISO 8601 format [`2014-12-23T13:24:00Z`])
            * [-10007] Customer is locked
            * [-70505] Maximum number of users reached
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-70501] User not found
            * [-90041] Unknown identity provider
            * [-90042] Unknown redirect URI
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '502':
          description: |-
            Bad Gateway

            * [-90044] Identity token retrieval failed
            * [-90045] Identity token validation failed
            * [-90046] User information retrieval failed
            * [-90047] Invalid OpenID Connect IDP configuration
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Complete OpenID Connect authentication
      tags:
        - auth
  /v4/auth/openid/resources:
    get:
      deprecated: true
      description: |-
        ## &#9888; Deprecated since version 4.3.0

        ### Functional Description:  
        Provides information about OpenID Connect authentication options.

        ### Precondition:
        None.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.
      operationId: getOpenIdAuthResources
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/OpenIdAuthResources'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get OpenID Connect authentication resources
      tags:
        - auth
  /v4/auth/ping:
    get:
      deprecated: false
      description: |-
        ### Functional Description:
        Test connection to DRACOON Server.

        ### Precondition:
        None.

        ### Effects:
        `200 OK` with current date string is returned if successful.

        ### &#9432; Further Information:
        None.
      operationId: ping
      produces:
        - text/plain
      responses:
        '200':
          description: OK
          schema:
            type: string
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Ping
      tags:
        - auth
  /v4/auth/recover_username:
    post:
      consumes:
        - application/json
      deprecated: false
      description: |
        ### &#128640; Since version 4.13.0

        ### Functional Description:  
        Request an email with the usernames of all accounts connected to the email.

        ### Precondition:
        Valid email address.

        ### Effects:
        An email is sent to the provided address, with a list of account usernames connected to it.

        ### &#9432; Further Information:
        None.
      operationId: recoverUserName
      parameters:
        - description: request
          in: body
          name: request
          required: true
          schema:
            $ref: '#/definitions/RecoverUserNameRequest'
      produces:
        - application/json
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty
            * [-80009] Invalid email address
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-70501] User not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Recover username
      tags:
        - auth
  /v4/auth/reset_password:
    post:
      consumes:
        - application/json
      deprecated: false
      description: |-
        ### Functional Description:  
        Request an email with a password reset token for a certain user to reset his / her password.

        ### Precondition:
        Registered user account.

        ### Effects:
        Provided user receives email with password reset token.

        ### &#9432; Further Information:
        None.

        ### DEPRECATED: Currently supported languages (with ISO 639-1 code):
        * German (de)
        * English (en)
        * Spanish (es)
        * French (fr)
      operationId: requestPasswordReset
      parameters:
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ResetPasswordRequest'
      produces:
        - application/json
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-10013] Not valid IETF language tag
            * [-10105] Password cannot be reset for this user
            * [-10107] Password can only be reset every 5 minutes
            * [-80000] Mandatory fields cannot be empty
            * [-80007] Maximum allowed length is exceeded
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Request password reset
      tags:
        - auth
  '/v4/auth/reset_password/{token}':
    get:
      deprecated: false
      description: |-
        ### Functional Description:  
        Request all information for a password change dialogue e.g. real name of user.

        ### Precondition:
        User received a password reset token.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.
      operationId: validateResetPasswordToken
      parameters:
        - description: Password reset token
          in: path
          name: token
          required: true
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ResetPasswordTokenValidateResponse'
        '400':
          description: |-
            Bad Request

            * [-10001] Password reset token is modified
            * [-80000] Mandatory fields cannot be empty
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * Token not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Get information for password reset
      tags:
        - auth
    put:
      consumes:
        - application/json
      deprecated: false
      description: |-
        ### Functional Description:  
        Resets user's password.

        ### Precondition:
        User received a password reset token.

        ### Effects:
        User's password is resetted to the provided password.

        ### &#9432; Further Information:
        None.
      operationId: resetPassword
      parameters:
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ResetPasswordWithTokenRequest'
        - description: Password reset token
          in: path
          name: token
          required: true
          type: string
      produces:
        - application/json
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-10002] Password is not secure
            * [-10105] Password cannot be reset for this user
            * [-80000] Mandatory fields cannot be empty
            * [-80007] Maximum allowed length is exceeded
            * [-80023] Input contains invalid characters
          schema:
            $ref: '#/definitions/PasswordPolicyViolationResponse'
        '404':
          description: |-
            Not Found

            * Token not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Reset password
      tags:
        - auth
  /v4/config/info/defaults:
    get:
      deprecated: false
      description: |-
        ### &#128640; Since version 4.6.0

        ### Functional Description:  
        Returns a list of configurable system default values.

        ### Precondition:
        Authenticated user.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.

        ### Configurable default values

        | Setting | Description | Value |
        | :--- | :--- | :--- |
        | **`languageDefault`** | Defines which language should be default.<br>cf. [RFC 5646](https://tools.ietf.org/html/rfc5646) for ISO 639-1 codes | `ISO 639-1 code` |
        | **`downloadShareDefaultExpirationPeriod`** | Default expiration period for Download Shares in _days_. | `Integer between 0 and 9999` |
        | **`uploadShareDefaultExpirationPeriod`** | Default expiration period for Upload Shares in _days_. | `Integer between 0 and 9999` |
        | **`fileDefaultExpirationPeriod`** | Default expiration period for all uploaded files in _days_. | `Integer between 0 and 9999` |
        | **`nonmemberViewerDefault`** | Defines if new users get the role NONMEMBER_VIEWER by default | `true or false` |
      operationId: getSystemDefaultsInfo
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/SystemDefaults'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get default values
      tags:
        - config
  /v4/config/info/general:
    get:
      deprecated: false
      description: |
        ### &#128640; Since version 4.6.0

        ### Functional Description:
        Returns a list of configurable general settings.

        ### Precondition:
        Authenticated user.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.

        ### Configurable general settings

        | Setting | Description | Value |
        | :--- | :--- | :--- |
        | **`sharePasswordSmsEnabled`** | Determines whether sending of share passwords via SMS is allowed. | `true or false` |
        | **`cryptoEnabled`** | Determines whether client-side encryption is enabled.<br>Can only be enabled once; disabling is **NOT** possible. | `true or false` |
        | **`emailNotificationButtonEnabled`** | Determines whether email notification button is enabled. | `true or false` |
        | **`eulaEnabled`** | Determines whether EULA is enabled.<br>Each user has to confirm the EULA at first login. | `true or false` |
        | **`useS3Storage`** | Defines if S3 is used as storage backend.<br>Can only be enabled once; disabling is **NOT** possible. | `true or false` |
        | **`s3TagsEnabled`** | Determines whether S3 tags are enabled | `true or false` |
        | **`homeRoomsActive`** | Determines whether each AD user has a personal home room | `true or false` |
        | **`homeRoomParentId`** | Defines a node under which all personal home rooms are located. NULL if `homeRoomsActive` is `false` | `Long` |
        | **`mediaServerEnabled`** **(`DEPRECATED`)** | Determines whether media server is enabled.<br>Returns boolean value dependent on conjunction of **`mediaServerConfigEnabled`** AND **`mediaServerEnabled`** | `true or false` |
        | **`weakPasswordEnabled`** **(`DEPRECATED`)** | Determines whether weak password (cf. _Password Policy_) is allowed.<br>Use `GET /system/config/policies/passwords` API to get configured password policies. | `true or false` |

        ---

        ### `DEPRECATED` Password Policy

        * A weak password has to fulfill the following criteria:  
            * is at least 8 characters long  
            * contains letters and numbers
        * A strong password has to fulfill the following criteria in addition:  
            * contains at least one special character  
            * contains upper and lower case characters
      operationId: getGeneralSettingsInfo
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GeneralSettingsInfo'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get general settings
      tags:
        - config
  /v4/config/info/infrastructure:
    get:
      deprecated: false
      description: |
        ### &#128640; Since version 4.6.0

        ### Functional Description:  
        Returns a list of read-only infrastructure properties.  

        ### Precondition:
        Authenticated user.

        ### Effects:
        None.

        ### &#9432; Further Information:
        Source: `api.properties`

        ### Read-only infrastructure properties

        | Setting | Description | Value |
        | :--- | :--- | :--- |
        | **`smsConfigEnabled`** | Determines whether sending of share passwords via SMS is **system-wide** enabled. | `true or false` |
        | **`mediaServerConfigEnabled`** | Determines whether media server is **system-wide** enabled. | `true or false` |
        | **`s3DefaultRegion`** | Suggested S3 region | `Region name` |
        | **`s3EnforceDirectUpload`** | Enforce direct upload to S3 | `true or false` |
      operationId: getInfrastructurePropertiesInfo
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/InfrastructureProperties'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get infrastructure properties
      tags:
        - config
  /v4/config/info/policies/passwords:
    get:
      deprecated: false
      description: |-
        ### &#128640; Since version 4.14.0

        ### Functional Description:  
        Retrieve a list of configured password policies for all password types:  
        * `login`
        * `shares`
        * `encryption`

        ### Precondition:
        Authenticated user.

        ### Effects:
        None.

        ### Further Information:

        ### Available password policies

        | Name | Description | Value | Password Type |
        | :--- | :--- | :--- | :--- |
        | **`mustContainCharacters`** | Characters which a password must contain:<br><ul><li>`alpha` - at least one alphabetical character (`uppercase` **OR** `lowercase`)<pre>a b c d e f g h i j k l m n o p q r s t u v w x y z<br>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</pre></li><li>`uppercase` - at least one uppercase character<pre>A B C D E F G H I J K L M N O P Q R S T U V W X Y Z</pre></li><li>`lowercase` - at least one lowercase character<pre>a b c d e f g h i j k l m n o p q r s t u v w x y z</pre></li><li>`numeric` - at least one numeric character<pre>0 1 2 3 4 5 6 7 8 9</pre></li><li>`special` - at least one special character (letters and digits excluded)<pre>! " # $ % & ' ( ) * + , - . / : ; = ? @ [ \ ] ^ _ { &#124; } ~</pre></li><li>`none` - none of the above</li></ul> | <ul><li>`alpha`</li><li>`uppercase`</li><li>`lowercase`</li><li>`numeric`</li><li>`special`</li><li>`none`</li></ul> | <ul><li>`login`</li><li>`shares`</li><li>`encryption`</li></ul> |
        | **`numberOfCharacteristicsToEnforce`** | Number of characteristics to enforce.<br>e.g. from `["uppercase", "lowercase", "numeric", "special"]`<br>all 4 character sets can be enforced; but also only 2 of them | `Integer between 0 and 4` | <ul><li>`login`</li><li>`shares`</li><li>`encryption`</li></ul> |
        | **`minLength`** | Minimum number of characters a password must contain. | `Integer between 1 and 1024` | <ul><li>`login`</li><li>`shares`</li><li>`encryption`</li></ul> |
        | **`rejectDictionaryWords`** | Determines whether a password must **NOT** contain word(s) from a dictionary.<br>In `api.properties` a path to directory with dictionary files (`*.txt`) can be defined<br>cf. `policies.passwords.dictionary.directory`.<br><br>If this rule gets enabled `policies.passwords.dictionary.directory` must be defined and contain dictionary files.<br>Otherwise, the rule will not have any effect on password validation process. | `true or false` | <ul><li>`login`</li><li>`shares`</li></ul> |
        | **`rejectUserInfo`** | Determines whether a password must **NOT** contain user info.<br>Affects user's **first name**, **last name**, **email** and **user name**. | `true or false` | <ul><li>`login`</li><li>`shares`</li><li>`encryption`</li></ul> |
        | **`rejectKeyboardPatterns`** | Determines whether a password must **NOT** contain keyboard patterns.<br>e.g. `qwertz`, `asdf` (min. 4 character pattern) | `true or false` | <ul><li>`login`</li><li>`shares`</li><li>`encryption`</li></ul> |
        | **`numberOfArchivedPasswords`** | Number of passwords to archive.<br>Value `0` means that password history is disabled. | `Integer between 0 and 10` | <ul><li>`login`</li></ul> |
        | **`passwordExpiration.enabled`** | Determines whether password expiration is enabled. | `true or false` | <ul><li>`login`</li></ul> |
        | **`maxPasswordAge`** | Maximum allowed password age (in **days**) | `positive Integer` | <ul><li>`login`</li></ul> |
        | **`userLockout.enabled`** | Determines whether user lockout is enabled. | `true or false` | <ul><li>`login`</li></ul> |
        | **`maxNumberOfLoginFailures`** | Maximum allowed number of failed login attempts. | `positive Integer` | <ul><li>`login`</li></ul> |
        | **`lockoutPeriod`** | Amount of **minutes** a user has to wait to make another login attempt<br>after **`maxNumberOfLoginFailures`** has been exceeded. | `positive Integer` | <ul><li>`login`</li></ul> |
      operationId: getPasswordPoliciesConfigInfo
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PasswordPoliciesConfig'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get password policies
      tags:
        - config
  /v4/config/info/s3_tags:
    get:
      deprecated: false
      description: |-
        ### &#128640; Since version 4.9.0

        ### Functional Description:
        Retrieve all configured S3 tags.

        ### Precondition:
        Authenticated user.

        ### Effects:
        None.

        ### &#9432; Further Information:
        An empty list is returned if no S3 tags are found / configured.
      operationId: getS3TagsInfo
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/S3TagList'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
            * [-90030] S3 storage disabled
            * [-90032] S3 tags are disabled
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get list of configured S3 tags
      tags:
        - config
  /v4/config/settings:
    get:
      deprecated: true
      description: |-
        ## &#9888; Deprecated since version 4.6.0

        ### Functional Description:  
        Returns a list of configurable system settings.

        ### Precondition:
        Right _"read global config"_ required.

        ### Effects:
        None.

        ### &#9432; Further Information:
        This API is **`DEPRECATED`** and will be removed in the future.  
        Check for every settings key new corresponding API and key below.

        ### Attention
        If `eula_active` is true, but **NOT** accepted yet, or password **MUST** be changed, only the following two values are returned:
        * **`allow_system_global_weak_password`**
        * **`eula_active`**

        ### Configurable settings

        | Setting | Description | Value |
        | :--- | :--- | :--- |
        | **`branding_server_branding_id`** | The branding UUID, which corresponds to _BRANDING-QUALIFIER_ in the new branding server.<br>cf. `GET /system/config/settings/branding` **`BrandingConfig.brandingQualifier`** | `String` |
        | **`branding_portal_url`** | Access URL to to the Branding Portal<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/branding` **`BrandingConfig.brandingProviderUrl`** | `String` |
        | **`dblog`** | Write logs to local database.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/eventlog` **`EventlogConfig.enabled`** | `true or false` |
        | **`default_downloadshare_expiration_period`** | Default expiration period for Download Shares in days<br>cf. `GET /system/config/settings/defaults` **`SystemDefaults.downloadShareDefaultExpirationPeriod`** | `Integer between 0 and 9999` |
        | **`default_file_upload_expiration_date`** | Default expiration period for all uploaded files in days<br>cf. `GET /system/config/settings/defaults` **`SystemDefaults.fileDefaultExpirationPeriod`** | `Integer between 0 and 9999` |
        | **`default_language`** | Define which language should be default.<br>cf. `GET /system/config/settings/defaults` **`SystemDefaults.languageDefault`** | cf. `GET /public/system/info` - **`SystemInfo.languageDefault`** |
        | **`default_uploadshare_expiration_period`** | Default expiration period for Upload Shares in days<br>cf. `GET /system/config/settings/defaults` **`SystemDefaults.uploadShareDefaultExpirationPeriod`** | `Integer between 0 and 9999` |
        | **`enable_client_side_crypto`** | Activation status of client-side encryption<br>Can only be enabled once; disabling is **NOT** possible.<br>cf. `GET /system/config/settings/general` **`GeneralSettings.cryptoEnabled`** | `true or false`<br>default: `false` |
        | **`eula_active`** | Each user has to confirm the EULA at first login.<br>cf. `GET /system/config/settings/general` **`GeneralSettings.eulaEnabled`** | `true or false` |
        | **`eventlog_retention_period`** | Retention period (in days) of event log entries<br>After that period, all entries are deleted.<br>cf. `GET /system/config/settings/eventlog` **`EventlogConfig.retentionPeriod`** | `Integer between 0 and 9999`<br>If set to `0`: no logs are deleted<br>Recommended value: `7` |
        | **`ip_address_logging`** | Determines whether a user's IP address is logged.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/eventlog` **`EventlogConfig.logIpEnabled`**<br>cf. `GET /system/config/settings/syslog` **`SyslogConfig.logIpEnabled`** | `true or false` |
        | **`mailserver`** | Email server to send emails.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/mail_server` **`MailServerConfig.host`** | `DNS name or IPv4 of an email server` |
        | **`mailserver_authentication_necessary`** | Set to `true` if the email server requires authentication.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/mail_server` **`MailServerConfig.authenticationEnabled`** | `true or false` |
        | **`mailserver_password`** | **Password is no longer returned.**<br>Check **`mailserver_password_set`** to determine whether password is set. |  |
        | **`mailserver_password_set`** | Indicates if a password is set for the mailserver (because **`mailserver_password`** is always returned empty).<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/mail_server` **`MailServerConfig.passwordDefined`** | `true or false` |
        | **`mailserver_port`** | Email server port<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/mail_server` **`MailServerConfig.port`** | `Valid port number` |
        | **`mailserver_username`** | User ame for email server<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/mail_server` **`MailServerConfig.username`** | `Username for authentication` |
        | **`mailserver_use_ssl`** | Email server requires SSL connection?<br>Only visible for _Config Manager_ of Provider Customer.<br>Requires **`mailserver_use_starttls`** to be `false`<br>cf. `GET /system/config/settings/mail_server` **`MailServerConfig.username`** | `true or false` |
        | **`mailserver_use_starttls`** | Email server requires StartTLS connection?<br>Only visible for _Config Manager_ of Provider Customer.<br>Requires **`mailserver_use_ssl`** to be `false`<br>cf. `GET /system/config/settings/mail_server` **`MailServerConfig.starttlsEnabled`** | `true or false` |
        | **`syslog`** | Write logs to a syslog interface.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/syslog` **`SyslogConfig.enabled`** | `true or false` |
        | **`syslog_host`** | Syslog server (IP or FQDN)<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/syslog` **`SyslogConfig.host`** | `DNS name or IPv4 of a syslog server` |
        | **`syslog_port`** | Syslog server port<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/syslog` **`SyslogConfig.port`** | `Valid port number` |
        | **`syslog_protocol`** | Protocol to connect to syslog server.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `GET /system/config/settings/syslog` **`SyslogConfig.protocol`** | `TCP or UDP` |
        | **`enable_email_notification_button`** | Enable mail notification button.<br>cf. `GET /system/config/settings/general` **`GeneralSettings.emailNotificationButtonEnabled`** | `true or false` |
        | **`allow_share_password_sms`** | Allow sending of share passwords via SMS.<br>cf. `GET /system/config/settings/general` **`GeneralSettings.sharePasswordSmsEnabled`** | `true or false` |
        | **`globally_allow_share_password_sms`** | Allow sending of share passwords via SMS **system-wide** (read-only).<br>cf. `GET /system/config/settings/infrastructure` **`InfrastructureProperties.smsConfigEnabled`** | `true or false` |
        | **`use_s3_storage`** | Defines if S3 is used as storage backend.<br>Can only be enabled once; disabling is **NOT** possible.<br>cf. `GET /system/config/settings/general` **`GeneralSettings.useS3Storage`** | `true or false` |
        | **`s3_default_region`** |Suggested S3 region (read-only)<br>cf. `GET /system/config/settings/infrastructure` **`InfrastructureProperties.s3DefaultRegion`** | `Region name` |

        ### `DEPRECATED` settings

        | Setting | Description | Value |
        | :--- | :--- | :--- |
        | **`allow_system_global_weak_password`** **(`DEPRECATED`)** | Determines whether weak password (cf. _Password Policy_ below) is allowed.<br>cf. `GET /system/config/settings/general` **`GeneralSettings.weakPasswordEnabled`**<br>Use `GET /system/config/policies/passwords` API to get configured password policies. | `true or false` |
        | **`branding_server_customer`** (**`DEPRECATED`**) | The UUID of the branding server customer, which corresponds to customer key in the branding server. | `String` |
        | **`branding_server_url`** (**`DEPRECATED`**) | Access URL to to the Branding Server.<br>Only visible for _Config Manager_ of Provider Customer. | `String` |
        | **`email_from`** (**`DEPRECATED`**) | Sender of system-generated emails<br>Only visible for _Config Manager_ of Provider Customer.<br>**Moved to branding** | `Valid email address` |
        | **`email_to_sales`** (**`DEPRECATED`**) | Contact email address for customers to request more user licenses or data volume.<br>**Moved to branding** | `Valid email address` |
        | **`email_to_support`** (**`DEPRECATED`**) | Support email address for users<br>**Moved to branding** | `Valid email address` |
        | **`file_size_js`** (**`DEPRECATED`**) | Maximum file size (in bytes) for downloads of encrypted files with JavaScript.<br>Bigger files will require a JavaApplet. | `Integer`<br>Recommended value: `10485760` (=`10MB`) |
        | **`system_name`** (**`DEPRECATED`**) | System name<br>**Moved to branding; use `product.title`** | `Display name of the DRACOON` |

        ---

        ### `DEPRECATED` Password Policy

        * A weak password has to fulfill the following criteria:  
            * is at least 8 characters long  
            * contains letters and numbers
        * A strong password has to fulfill the following criteria in addition:  
            * contains at least one special character  
            * contains upper and lower case characters
      operationId: getSystemSettings
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ConfigOptionList'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get system settings
      tags:
        - config
    put:
      consumes:
        - application/json
      deprecated: true
      description: |-
        ## &#9888; Deprecated since version 4.6.0

        ### Functional Description:
        Change configurable settings.

        ### Precondition:
        Right _"change global config"_ required.

        ### Effects:
        One or more global settings gets changed.

        ### &#9432; Further Information:
        This API is **`DEPRECATED`** and will be removed in the future.  
        Check for every settings key new corresponding API and key below.

        ### Attention
        Only visible for _Config Manager_ of Provider Customer.

        ### Settings

        ### Configurable settings

        | Setting | Description | Value |
        | :--- | :--- | :--- |
        | **`branding_server_branding_id`** | The branding UUID, which corresponds to _BRANDING-QUALIFIER_ in the new branding server.<br>cf. `PUT /system/config/settings/branding` **`BrandingConfig.brandingQualifier`** | `String` |
        | **`branding_portal_url`** | Access URL to to the Branding Portal<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/branding` **`BrandingConfig.brandingProviderUrl`** | `String` |
        | **`dblog`** | Write logs to local database.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/eventlog` **`EventlogConfig.enabled`** | `true or false` |
        | **`default_downloadshare_expiration_period`** | Default expiration period for Download Shares in days<br>cf. `PUT /system/config/settings/defaults` **`SystemDefaults.downloadShareDefaultExpirationPeriod`** | `Integer between 0 and 9999`<br>Set `0` to disable. |
        | **`default_file_upload_expiration_date`** | Default expiration period for all uploaded files in days<br>cf. `PUT /system/config/settings/defaults` **`SystemDefaults.fileDefaultExpirationPeriod`** | `Integer between 0 and 9999`<br>Set `0` to disable. |
        | **`default_language`** | Define which language should be default.<br>cf. `PUT /system/config/settings/defaults` **`SystemDefaults.languageDefault`** | cf. `GET /public/system/info` - **`SystemInfo.languageDefault`** |
        | **`default_uploadshare_expiration_period`** | Default expiration period for Upload Shares in days<br>cf. `PUT /system/config/settings/defaults` **`SystemDefaults.uploadShareDefaultExpirationPeriod`** | `Integer between 0 and 9999`<br>Set `0` to disable. |
        | **`enable_client_side_crypto`** | Activation status of client-side encryption<br>Can only be enabled once; disabling is **NOT** possible.<br>cf. `PUT /system/config/settings/general` **`GeneralSettings.cryptoEnabled`** | `true or false`<br>default: `false` |
        | **`eula_active`** | Each user has to confirm the EULA at first login.<br>cf. `PUT /system/config/settings/general` **`GeneralSettings.eulaEnabled`** | `true or false` |
        | **`eventlog_retention_period`** | Retention period (in days) of event log entries<br>After that period, all entries are deleted.<br>cf. `PUT /system/config/settings/eventlog` **`EventlogConfig.retentionPeriod`** | `Integer between 0 and 9999`<br>If set to `0`: no logs are deleted<br>Recommended value: `7` |
        | **`ip_address_logging`** | Determines whether a user's IP address is logged.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/eventlog` **`EventlogConfig.logIpEnabled`**<br>cf. `PUT /system/config/settings/syslog` **`SyslogConfig.logIpEnabled`** | `true or false` |
        | **`mailserver`** | Email server to send emails.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/mail_server` **`MailServerConfig.host`** | `DNS name or IPv4 of an email server` |
        | **`mailserver_authentication_necessary`** | Set to `true` if the email server requires authentication.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/mail_server` **`MailServerConfig.authenticationEnabled`** | `true or false` |
        | **`mailserver_password`** | Password for email server<br>cf. `PUT /system/config/settings/mail_server` **`MailServerConfig.password`** | `Password for authentication` |
        | **`mailserver_port`** | Email server port<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/mail_server` **`MailServerConfig.port`** | `Valid port number` |
        | **`mailserver_username`** | Username for email server<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/mail_server` **`MailServerConfig.username`** | `Username for authentication` |
        | **`mailserver_use_ssl`** | Email server requires SSL connection?<br>Only visible for _Config Manager_ of Provider Customer.<br>Requires **`mailserver_use_starttls`** to be `false`<br>cf. `PUT /system/config/settings/mail_server` **`MailServerConfig.username`** | `true or false` |
        | **`mailserver_use_starttls`** | Email server requires StartTLS connection?<br>Only visible for _Config Manager_ of Provider Customer.<br>Requires **`mailserver_use_ssl`** to be `false`<br>cf. `PUT /system/config/settings/mail_server` **`MailServerConfig.starttlsEnabled`** | `true or false` |
        | **`syslog`** | Write logs to a syslog interface.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/syslog` **`SyslogConfig.enabled`** | `true or false` |
        | **`syslog_host`** | Syslog server (IP or FQDN)<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/syslog` **`SyslogConfig.host`** | `DNS name or IPv4 of a syslog server` |
        | **`syslog_port`** | Syslog server port<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/syslog` **`SyslogConfig.port`** | `Valid port number` |
        | **`syslog_protocol`** | Protocol to connect to syslog server.<br>Only visible for _Config Manager_ of Provider Customer.<br>cf. `PUT /system/config/settings/syslog` **`SyslogConfig.protocol`** | `TCP or UDP` |
        | **`enable_email_notification_button`** | Enable mail notification button.<br>cf. `PUT /system/config/settings/general` **`GeneralSettings.emailNotificationButtonEnabled`** | `true or false` |
        | **`allow_share_password_sms`** | Allow sending of share passwords via SMS.<br>cf. `PUT /system/config/settings/general` **`GeneralSettings.sharePasswordSmsEnabled`** | `true or false` |

        ### `DEPRECATED` settings

        | Setting | Description | Value |
        | :--- | :--- | :--- |
        | **`allow_system_global_weak_password`** **(`DEPRECATED`)** | Determines whether weak password (cf. _Password Policy_ below) is allowed.<br>cf. `PUT /system/config/settings/general` **`GeneralSettings.weakPasswordEnabled`**<br>Use `PUT /system/config/policies/passwords` API to change configured password policies. | `true or false` |
        | **`branding_server_customer`** (**`DEPRECATED`**) | The UUID of the branding server customer, which corresponds to customer key in the branding server. | `String` |
        | **`branding_server_url`** (**`DEPRECATED`**) | Access URL to to the Branding Server.<br>Only visible for _Config Manager_ of Provider Customer. | `String` |
        | **`email_from`** (**`DEPRECATED`**) | Sender of system-generated emails<br>Only visible for _Config Manager_ of Provider Customer.<br>**Moved to branding** | `Valid email address` |
        | **`email_to_sales`** (**`DEPRECATED`**) | Contact email address for customers to request more user licenses or data volume.<br>**Moved to branding** | `Valid email address` |
        | **`email_to_support`** (**`DEPRECATED`**) | Support email address for users<br>**Moved to branding** | `Valid email address` |
        | **`file_size_js`** (**`DEPRECATED`**) | Maximum file size (in bytes) for downloads of encrypted files with JavaScript.<br>Bigger files will require a JavaApplet. | `Integer`<br>Recommended value: `10485760` (=`10MB`) |
        | **`system_name`** (**`DEPRECATED`**) | System name<br>**Moved to branding; use `product.title`** | `Display name of the DRACOON` |

        ---

        ### `DEPRECATED` Password Policy

        * A weak password has to fulfill the following criteria:  
            * is at least 8 characters long  
            * contains letters and numbers
        * A strong password has to fulfill the following criteria in addition:  
            * contains at least one special character  
            * contains upper and lower case characters
      operationId: setSystemSetting
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ConfigOptionList'
      produces:
        - application/json
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty
            * [-80001] Invalid positive number
            * [-80002] Invalid number
            * [-80005] Invalid boolean value
            * [-80007] Maximum allowed length is exceeded
            * [-80009] Invalid email address
            * [-80012] Not allowed protocol
            * [-80014] Invalid hostname or IP address
            * [-80018] Not between 0 and 9999
            * [-80029] Global configuration value cannot be overwritten
            * [-90001] Invalid settings configuration
            * [-90010] Client-side encryption is already enable and cannot be disabled
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-90000] Settings key not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Change system settings
      tags:
        - config
  '/v4/downloads/avatar/{user_id}/{uuid}':
    get:
      deprecated: false
      description: |-
        ### &#128640; Since version 4.11.0

        ### Functional Description:  
        Download avatar for given UserID and UUID.

        ### Precondition:
        Valid UUID.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.
      operationId: downloadAvatar
      parameters:
        - description: User ID
          format: int64
          in: path
          name: user_id
          required: true
          type: integer
        - description: UUID of the avatar
          in: path
          name: uuid
          required: true
          type: string
      produces:
        - application/octet-stream
      responses:
        '200':
          description: OK
          schema:
            format: int32
            maximum: 127
            minimum: -128
            type: integer
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty
            * [-80002] Invalid number
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-70028] Avatar not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Download avatar
      tags:
        - downloads
  '/v4/downloads/zip/{token}':
    get:
      deprecated: false
      description: |-
        ### Functional Description:  
        Download multiple files in a ZIP archive.

        ### Precondition:
        Valid download token.

        ### Effects:
        None.

        ### &#9432; Further Information:
        Create a download token with `POST /nodes/zip` API.
      operationId: getZipFileByToken
      parameters:
        - description: Download token
          in: path
          name: token
          required: true
          type: string
      produces:
        - application/octet-stream
      responses:
        '200':
          description: OK
          schema:
            format: int32
            maximum: 127
            minimum: -128
            type: integer
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-20502] Invalid (up-) download token
            * [-10006] User is not authorized to perform this operation
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-40000] Container not found
            * [-40751] File not found
            * [-41000] Node not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
      summary: Download ZIP file(s)
      tags:
        - downloads
  '/v4/downloads/{token}':
    get:
      deprecated: false
      description: |-
        ### Functional Description:  
        Download a file.

        ### Precondition:
        Valid download token.

        ### Effects:
        None.

        ### &#9432; Further Information:
        Range requests are supported (please cf. [RFC 7233](https://tools.ietf.org/html/rfc7233) for details).
      operationId: getFileDataByToken
      parameters:
        - description: |-
            Range
            e.g. `bytes=0-999`
            cf. [RFC 7233](https://tools.ietf.org/html/rfc7233)
          in: header
          name: Range
          required: false
          type: string
        - allowEmptyValue: false
          description: Always return `application/octet-stream` instead of specific mimetype
          in: query
          name: generic_mimetype
          required: false
          type: boolean
        - allowEmptyValue: false
          description: 'Use Content-Disposition: `inline` instead of `attachment`'
          in: query
          name: inline
          required: false
          type: boolean
        - description: Download token
          in: path
          name: token
          required: true
          type: string
      produces:
        - application/octet-stream
      responses:
        '200':
          description: OK
          schema:
            format: int32
            maximum: 127
            minimum: -128
            type: integer
        '206':
          description: Partial Content
          schema:
            format: int32
            maximum: 127
            minimum: -128
            type: integer
        '400':
          description: |-
            Bad Request

            * [-40002] (Target) room is encrypted
            * [-80000] Mandatory fields cannot be empty
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-20502] Invalid (up-) download token
            * [-10006] User is not authorized to perform this operation
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-40751] File not found
            * [-41000] Node not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '416':
          description: Range Not Satisfiable
      summary: Download file
      tags:
        - downloads
    head:
      consumes:
        - application/json
      deprecated: false
      description: |-
        ### Functional Description:  
        Download a file.

        ### Precondition:
        Valid download token.

        ### Effects:
        None.

        ### &#9432; Further Information:
        Range requests are supported (please cf. [RFC 7233](https://tools.ietf.org/html/rfc7233) for details).
      operationId: getFileDataByToken_1
      parameters:
        - description: |-
            Range
            e.g. `bytes=0-999`
            cf. [RFC 7233](https://tools.ietf.org/html/rfc7233)
          in: header
          name: Range
          required: false
          type: string
        - allowEmptyValue: false
          description: Always return `application/octet-stream` instead of specific mimetype
          in: query
          name: generic_mimetype
          required: false
          type: boolean
        - allowEmptyValue: false
          description: 'Use Content-Disposition: `inline` instead of `attachment`'
          in: query
          name: inline
          required: false
          type: boolean
        - description: Download token
          in: path
          name: token
          required: true
          type: string
      produces:
        - application/octet-stream
      responses:
        '200':
          description: OK
          schema:
            format: int32
            maximum: 127
            minimum: -128
            type: integer
        '206':
          description: Partial Content
          schema:
            format: int32
            maximum: 127
            minimum: -128
            type: integer
        '400':
          description: |-
            Bad Request

            * [-40002] (Target) room is encrypted
            * [-80000] Mandatory fields cannot be empty
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-20502] Invalid (up-) download token
            * [-10006] User is not authorized to perform this operation
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-40751] File not found
            * [-41000] Node not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '416':
          description: Range Not Satisfiable
      summary: Download file
      tags:
        - downloads
  /v4/eventlog/audits/nodes:
    get:
      deprecated: false
      description: |-
        ### &#128640; Since version 4.3.0

        ### Functional Description:  
        Retrieve a list of all nodes of type `room`, and the room assignment users with permissions.

        ### Precondition:
        Right _"read audit log"_ required.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.

        ### Filtering
        ### &#9888; All filter fields are connected via logical conjunction (**AND**)
        ### &#9888; Except for **`userName`**, **`userFirstName`** and  **`userLastName`** - these are connected via logical disjunction (**OR**)
        Filter string syntax: `FIELD_NAME:OPERATOR:VALUE[:VALUE...]`  

        Example:
        > `userName:cn:searchString_1|userFirstName:cn:searchString_2|nodeId:eq:2`  
        Filter by user login containing `searchString_1` **OR** first name containing `searchString_2` **AND** node ID equals `2`.

        | `FIELD_NAME` | Filter Description | `OPERATOR` | Operator Description | `VALUE` |
        | :--- | :--- | :--- | :--- | :--- |
        | **`nodeId`** | Node ID filter | `eq` | Node ID equals value. | `positive Integer` |
        | **`nodeName`** | Node name filter | `cn, eq` | Node name contains / equals value. | `search String` |
        | **`nodeParentId`** | Node parent ID filter | `eq` | Parent ID equals value. | `positive Integer`<br>Parent ID `0` is the root node. |
        | **`userId`** | User ID filter | `eq` | User ID equals value. | `positive Integer` |
        | **`userName`** | Username (login) filter | `cn, eq` | Username contains / equals value. | `search String` |
        | **`userFirstName`** | User first name filter | `cn, eq` | User first name contains / equals value. | `search String` |
        | **`userLastName`** | User last name filter | `cn, eq` | User last name contains / equals value. | `search String` |
        | **`permissionsManage`** | Filter the users that do (not) have `manage` permissions in this room | `eq` |  | `true or false` |
        | **`nodeIsEncrypted`** | Encrypted node filter | `eq` |  | `true or false` |
        | **`nodeHasActivitiesLog`** | Activities log filter | `eq` |  | `true or false` |
        | **`nodeHasRecycleBin`** | (**`DEPRECATED`**)<br>Recycle bin filter<br>**Filter has no effect!** | `eq` |  | `true or false` |

        ### Sorting
        Sort string syntax: `FIELD_NAME:ORDER`  
        `ORDER` can be `asc` or `desc`.  
        Multiple sort fields are supported.  
        Example:
        > `nodeName:asc`  
        Sort by `nodeName` ascending.

        | `FIELD_NAME` | Description |
        | :--- | :--- |
        | **`nodeId`** | Node ID |
        | **`nodeName`** | Node name |
        | **`nodeParentId`** | Node parent ID |
        | **`nodeSize`** | Node size |
        | **`nodeQuota`** | Node quota |
      operationId: getAuditNodeUserData
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: 'Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))'
          enum:
            - LOCAL
            - UTC
            - OFFSET
            - EPOCH
            - LEET
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
        - allowEmptyValue: false
          description: Filter string
          in: query
          name: filter
          required: false
          type: string
        - allowEmptyValue: false
          description: |-
            Range limit. Maximum 500. 
             For more results please use paging (`offset` + `limit`).
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - allowEmptyValue: false
          description: Range offset
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - allowEmptyValue: false
          description: Sort string
          in: query
          name: sort
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/AuditNodeResponse'
            type: array
        '400':
          description: |-
            Bad Request

            * [-80001] Invalid positive number
            * [-80002] Invalid number
            * [-80024] Invalid range parameters
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get node assigned users with permissions
      tags:
        - eventlog
  /v4/eventlog/events:
    get:
      deprecated: false
      description: |-
        ### &#128640; Since version 4.3.0

        ### Functional Description:  
        Retrieve eventlog (audit log) events.

        ### Precondition:
        Role _"Log Auditor"_ required.

        ### Effects:
        None.

        ### &#9432; Further Information:
        Output is limited to **500** entries.  
        For more results please use filter criteria and paging (`offset` + `limit`). 

        ### Sorting
        Sort string syntax: `FIELD_NAME:ORDER`  
        `ORDER` can be `asc` or `desc`.  
        Multiple sort fields are supported.  
        Example:
        > `time:desc`  
        Sort by `time` descending (default sort option).

        | `FIELD_NAME` | Description |
        | :--- | :--- |
        | **`time`** | Event timestamp |
      operationId: getLogEvents
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: 'Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))'
          enum:
            - LOCAL
            - UTC
            - OFFSET
            - EPOCH
            - LEET
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
        - allowEmptyValue: false
          description: |-
            Filter events until given date
            e.g. `2015-12-31T23:59:00`
          in: query
          name: date_end
          required: false
          type: string
        - allowEmptyValue: false
          description: |-
            Filter events from given date
            e.g. `2015-12-31T23:59:00`
          in: query
          name: date_start
          required: false
          type: string
        - allowEmptyValue: false
          description: |-
            Range limit. Maximum 500. 
             For more results please use paging (`offset` + `limit`).
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - allowEmptyValue: false
          description: Range offset
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - allowEmptyValue: false
          description: Sort string
          in: query
          name: sort
          required: false
          type: string
        - allowEmptyValue: false
          description: |-
            Operation status:
            * `0` - Success
            * `2` - Error
          enum:
            - 0
            - 2
          format: int32
          in: query
          name: status
          required: false
          type: integer
        - allowEmptyValue: false
          description: |-
            Operation ID
            cf. `GET /eventlog/operations`
          format: int32
          in: query
          name: type
          required: false
          type: integer
        - allowEmptyValue: false
          description: User client
          in: query
          name: user_client
          required: false
          type: string
        - allowEmptyValue: false
          description: User ID
          format: int64
          in: query
          name: user_id
          required: false
          type: integer
      produces:
        - application/json
        - text/csv
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LogEventList'
        '400':
          description: |-
            Bad Request

            * [-80001] Invalid positive number
            * [-80002] Invalid number
            * [-80024] Invalid range parameters
            * [-80026] Invalid operation ID
            * [-80027] Invalid operation status
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-41000] Node not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get system events
      tags:
        - eventlog
  /v4/eventlog/operations:
    get:
      deprecated: false
      description: |-
        ### &#128640; Since version 4.3.0

        ### Functional Description:  
        Retrieve eventlog (audit log) operation IDs and the associated log operation description.

        ### Precondition:
        Role _"Log Auditor"_ required.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.
      operationId: getLogOperations
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - allowEmptyValue: false
          description: Show only deprecated operations
          in: query
          name: is_deprecated
          required: false
          type: boolean
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LogOperationList'
        '400':
          description: |-
            Bad Request

            * [-80005] Invalid boolean value
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get allowed Log Operations
      tags:
        - eventlog
  /v4/groups:
    get:
      deprecated: false
      description: |-
        ### Functional Description:  
        Returns a list of user groups.

        ### Precondition:
        Right _"read groups"_ required.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.

        ### Filtering
        ### &#9888; All filter fields are connected via logical conjunction (**AND**)
        Filter string syntax: `FIELD_NAME:OPERATOR:VALUE`  
        Example:
        > `name:cn:searchString`  
        Filter by group name containing `searchString`.

        | `FIELD_NAME` | Filter Description | `OPERATOR` | Operator Description | `VALUE` |
        | :--- | :--- | :--- | :--- | :--- |
        | **`name`** | Group name filter | `cn` | Group name contains value. | `search String` |

        ### Sorting
        Sort string syntax: `FIELD_NAME:ORDER`  
        `ORDER` can be `asc` or `desc`.  
        Multiple sort fields are supported.  
        Example:
        > `name:asc|expireAt:desc`  
        Sort by `name` ascending **AND** by `expireAt` descending.

        | `FIELD_NAME` | Description |
        | :--- | :--- |
        | **`name`** | Group name |
        | **`createdAt`** | Creation date |
        | **`expireAt`** | Expiration date |
        | **`cntUsers`** | Amount of users |
      operationId: getGroups
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: 'Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))'
          enum:
            - LOCAL
            - UTC
            - OFFSET
            - EPOCH
            - LEET
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
        - allowEmptyValue: false
          description: Filter string
          in: query
          name: filter
          required: false
          type: string
        - allowEmptyValue: false
          description: |-
            Range limit. Maximum 500. 
             For more results please use paging (`offset` + `limit`).
          format: int32
          in: query
          name: limit
          required: false
          type: integer
        - allowEmptyValue: false
          description: Range offset
          format: int32
          in: query
          name: offset
          required: false
          type: integer
        - allowEmptyValue: false
          description: Sort string
          in: query
          name: sort
          required: false
          type: string
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/GroupList'
        '400':
          description: |-
            Bad Request

            * [-80024] Invalid range parameters
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get list of user groups
      tags:
        - groups
    post:
      consumes:
        - application/json
      deprecated: false
      description: |-
        ### Functional Description:
        Create a new user group.

        ### Precondition:
        Right _"change groups"_ required.

        ### Effects:
        A new group is created.

        ### &#9432; Further Information:
        * If a group should **NOT** expire, leave `expireAt` empty.
        * Group names are limited to **150** characters
        * **All** characters are allowed.
      operationId: createGroup
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: 'Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))'
          enum:
            - LOCAL
            - UTC
            - OFFSET
            - EPOCH
            - LEET
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateGroupRequest'
      produces:
        - application/json
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/Group'
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty
            * [-80005] Invalid boolean value
            * [-80006] Expiration date is in the past
            * [-80007] Maximum allowed length is exceeded
            * [-80008] The year is too far in the future (max. year is limited to 9999)
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: |-
            Conflict

            * Group with specified name already exists
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Create new user group
      tags:
        - groups
  '/v4/groups/{group_id}':
    delete:
      deprecated: false
      description: |-
        ### Functional Description:
        Delete a user group.

        ### Precondition:
        Right _"delete groups"_ required.

        ### Effects:
        User group is deleted.

        ### &#9432; Further Information:
        None.
      operationId: deleteGroup
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        '204':
          description: No Content
        '400':
          description: |-
            Bad Request

            * [-30040] Group which is defined as User Import Group cannot be deleted
            * [-40006] At least one non-expiring admin user / group required
            * [-71006] At least one role user / group required
            * [-80001] Invalid positive number
            * [-80002] Invalid number
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Delete user group
      tags:
        - groups
    get:
      deprecated: false
      description: |-
        ### Functional Description:  
        Retrieve detailed information about a user group.

        ### Precondition:
        Right _"read groups"_ required.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.
      operationId: getGroup
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: 'Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))'
          enum:
            - LOCAL
            - UTC
            - OFFSET
            - EPOCH
            - LEET
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Group'
        '400':
          description: |-
            Bad Request

            * [-80001] Invalid positive number
            * [-80002] Invalid number
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get user group
      tags:
        - groups
    put:
      consumes:
        - application/json
      deprecated: false
      description: |-
        ### Functional Description:  
        Update user group's metadata .

        ### Precondition:
        Right _"change groups"_ required.

        ### Effects:
        User group's metadata is changed.

        ### &#9432; Further Information:
        * If a group should **NOT** expire, leave `expireAt` empty.
        * Group names are limited to **150** characters
        * **All** characters are allowed.
      operationId: updateGroup
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: 'Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))'
          enum:
            - LOCAL
            - UTC
            - OFFSET
            - EPOCH
            - LEET
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
        - description: body
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateGroupRequest'
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Group'
        '400':
          description: |-
            Bad Request

            * [-40006] At least one non-expiring admin user / group required
            * [-71006] At least one role user / group required
            * [-80000] Mandatory fields cannot be empty
            * [-80001] Invalid positive number
            * [-80002] Invalid number
            * [-80005] Invalid boolean value
            * [-80006] Expiration date is in the past
            * [-80007] Maximum allowed length is exceeded
            * [-80008] The year is too far in the future (max. year is limited to 9999)
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '409':
          description: |-
            Conflict

            * Group with specified name already exists
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Update user group's metadata
      tags:
        - groups
  '/v4/groups/{group_id}/last_admin_rooms':
    get:
      deprecated: false
      description: |-
        ### &#128640; Since version 4.10.0

        ### Functional Description:  
        Retrieve a list of all rooms where the group is defined as last admin group.

        ### Precondition:
        Right _"change groups"_ required.

        ### Effects:
        List of rooms is returned. 

        ### &#9432; Further Information:
        An empty list is returned if no rooms were found where the group is defined as last admin group.
      operationId: getLastAdminRoomsGroups
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/LastAdminGroupRoomList'
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty
            * [-80001] Invalid positive number
            * [-80002] Invalid number
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get rooms where the group is defined as last admin group
      tags:
        - groups
  '/v4/groups/{group_id}/roles':
    get:
      deprecated: false
      description: |-
        ### Functional Description:  
        Retrieve a list of all roles granted to a group.

        ### Precondition:
        Right _"read groups"_ required.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.
      operationId: getGroupRoles
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
      produces:
        - application/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/RoleList'
        '400':
          description: |-
            Bad Request

            * [-80000] Mandatory fields cannot be empty
            * [-80001] Invalid positive number
            * [-80002] Invalid number
          schema:
            $ref: '#/definitions/ErrorResponse'
        '401':
          description: |-
            Unauthorized

            * [-10006] User is not authorized to perform this operation
            * [-10012] Wrong token
          schema:
            $ref: '#/definitions/ErrorResponse'
        '403':
          description: |
            Forbidden
          schema:
            $ref: '#/definitions/ErrorResponse'
        '404':
          description: |-
            Not Found

            * [-30000] Group not found
          schema:
            $ref: '#/definitions/ErrorResponse'
        '406':
          description: |
            Not Acceptable
          schema:
            $ref: '#/definitions/ErrorResponse'
        '412':
          description: |-
            Precondition Failed

            * [-10103] EULA must be accepted
            * [-10104] Password must be changed
            * [-10106] Email must be set
          schema:
            $ref: '#/definitions/ErrorResponse'
      security:
        - DRACOON-OAuth:
            - all
      summary: Get list of roles assigned to the group
      tags:
        - groups
  '/v4/groups/{group_id}/rooms':
    get:
      deprecated: true
      description: |-
        ## &#9888; Deprecated since version 4.10.0

        ### Functional Description:  
        Retrieves a list of rooms granted to the group and / or that can be granted.

        ### Precondition:
        Right _"read groups"_ required.

        ### Effects:
        None.

        ### &#9432; Further Information:
        None.

        ### Filtering
        ### &#9888; All filter fields are connected via logical conjunction (**AND**)
        Filter string syntax: `FIELD_NAME:OPERATOR:VALUE`  
        Example:
        > `isGranted:eq:false|name:cn:searchString`  
        Get all rooms where the group is **NOT** granted **AND** whose name is like `searchString`.

        | `FIELD_NAME` | Filter Description | `OPERATOR` | Operator Description | `VALUE` |
        | :--- | :--- | :--- | :--- | :--- |
        | **`name`** | Room name filter | `cn` | Room name contains value. | `search String` |
        | **`isGranted`** | Filter rooms which the group is (not) granted | `eq` |  | <ul><li>`true`</li><li>`false`</li><li>`any`</li></ul>default: `true` |
        | **`effectivePerm`** | Filter rooms with DIRECT or DIRECT **AND** EFFECTIVE permissions<ul><li>`false`: DIRECT permissions</li><li>`true`:  DIRECT **AND** EFFECTIVE permissions</li></ul>DIRECT means: e.g. room administrator grants `read` permissions to group of users **directly** on desired room.<br>EFFECTIVE means: e.g. group of users gets `read` permissions on desired room through **inheritance**. | `eq` |  | `true or false`<br>default: `true` |
      operationId: getGroupRooms
      parameters:
        - description: Authentication token
          in: header
          name: X-Sds-Auth-Token
          required: false
          type: string
        - description: 'Date time format (cf. [RFC 3339](https://www.ietf.org/rfc/rfc3339.txt) & [leettime.de](http://leettime.de/))'
          enum:
            - LOCAL
            - UTC
            - OFFSET
            - EPOCH
            - LEET
          in: header
          name: X-Sds-Date-Format
          required: false
          type: string
        - allowEmptyValue: false
          description: Filter string
          in: query
          name: filter
          required: false
          type: string
        - description: Group ID
          format: int64
          in: path
          name: group_id
          required: true
          type: integer
        - allowEmptyValue: false
[...]
