openapi: 3.0.3
servers:
  - description: Production server
    url: https://unify.apideck.com
info:
  contact:
    email: hello@apideck.com
    url: https://developers.apideck.com
  description: |+
    Welcome to the Vault API 👋

    When you're looking to connect to an API, the first step is authentication.

    Vault helps you handle OAuth flows, store API keys, and refresh access tokens from users (called consumers in Apideck).

    ## Base URL

    The base URL for all API requests is `https://unify.apideck.com`

    ## Get Started

    To use the Apideck APIs, you need to sign up for free at [https://app.apideck.com/signup](). Follow the steps below to get started.

    - [Create a free account.](https://app.apideck.com/signup)
    - Go to the [Dashboard](https://app.apideck.com/unify/unified-apis/dashboard).
    - Get your API key and the application ID.
    - Select and configure the integrations you want to make available to your users. Through the Unify dashboard, you can configure which connectors you want to support as integrations.
    - Retrieve the client_id and client_secret for the integration you want to activate (Only needed for OAuth integrations).
    - Soon, you can skip the previous step and use the Apideck sandbox credentials to get you started instead (upcoming)
    - Register the redirect URI for the example app (https://unify.apideck.com/vault/callback) in the list of redirect URIs under your app's settings
    - Use the [publishing guides](/app-listing-requirements) to get your integration listed across app marketplaces.

    ### Hosted Vault

    Hosted Vault (vault.apideck.com) is a no-code solution, so you don't need to build your own UI to handle the integration settings and authentication.

    ![Hosted Vault - Integrations portal](https://github.com/apideck-samples/integration-settings/raw/master/public/img/vault.png)

    Behind the scenes, Hosted Vault implements the Vault API endpoints and handles the following features for your customers:

    - Add a connection
    - Handle the OAuth flow
    - Configure connection settings per integration
    - Manage connections
    - Discover and propose integration options
    - Search for integrations (upcoming)
    - Give integration suggestions based on provided metadata (email or website) when creating the session (upcoming)

    To use Hosted Vault, you will need to first [**create a session**](https://developers.apideck.com/apis/vault/reference#operation/sessionsCreate). This can be achieved by making a POST request to the Vault API to create a valid session for a user, hereafter referred to as the consumer ID.

    Example using curl:

    ```
    curl -X POST https://unify.apideck.com/vault/sessions
        -H "Content-Type: application/json"
        -H "Authorization: Bearer <your-api-key>"
        -H "X-APIDECK-CONSUMER-ID: <consumer-id>"
        -H "X-APIDECK-APP-ID: <application-id>"
        -d '{"consumer_metadata": { "account_name" : "Sample", "user_name": "Sand Box", "email": "sand@box.com", "image": "https://unavatar.now.sh/jake" }, "theme": { "vault_name": "Intercom", "primary_color": "#286efa", "sidepanel_background_color": "#286efa","sidepanel_text_color": "#FFFFFF", "favicon": "https://res.cloudinary.com/apideck/icons/intercom" }}'
    ```

    ### Vault API

    _Beware, this is strategy takes more time to implement in comparison to Hosted Vault._

    If you are building your integration settings UI manually, you can call the Vault API directly.

    The Vault API is for those who want to completely white label the in-app integrations overview and authentication experience. All the available endpoints are listed below.

    Through the API, your customers authenticate directly in your app, where Vault will still take care of redirecting to the auth provider and back to your app.

    If you're already storing access tokens, we will help you migrate through our Vault Migration API (upcoming).

    ## Domain model

    At its core, a domain model creates a web of interconnected entities.

    Our domain model contains five main entity types: Consumer (user, account, team, machine), Application, Connector, Integration, and Connection.

    ## Connection state

    The connection state is computed based on the connection flow below.

    ![](https://developers.apideck.com/api-references/vault/connection-flow.png)

    ## Unify and Proxy integration

    The only thing you need to use the Unify APIs and Proxy is the consumer id; thereafter, Vault will do the look-up in the background to handle the token injection before performing the API call(s).

    ## Headers

    Custom headers that are expected as part of the request. Note that [RFC7230](https://tools.ietf.org/html/rfc7230) states header names are case insensitive.

    | Name                  | Type    | Required | Description |
    | --------------------- | ------- | -------- | -------------------------------------------------------------------------------------------------------------------------------------------------------------- |
    | x-apideck-app-id      | String  | Yes      | The id of your Unify application. Available at https://app.apideck.com/api-keys. |
    | x-apideck-consumer-id | String  | Yes      | The id of the customer stored inside Apideck Vault. This can be a user id, account id, device id or whatever entity that can have integration within your app. |
    | x-apideck-raw         | Boolean | No       | Include raw response. Mostly used for debugging purposes. |

    ## Sandbox (upcoming)

    The sandbox is pre-loaded with data similar to a real-life integrations setup. You can use the preconfigured OAauth configured connectors for testing purposes and can skip this step by using the Apideck sandbox credentials to get you started.

    ## Guides

    - [How to build an integrations UI with Vault](https://github.com/apideck-samples/integration-settings)
    - How to configure the OAuth credentials for integration providers (COMING SOON)

    ## FAQ

    **What purpose does Vault serve? Can I just handle the authentication and access token myself?**
    You can store everything yourself, but that defeats the purpose of using Apideck Unify. Handling tokens for multiple providers can quickly become very complex.

    ### Is my data secure?

    Vault employs data minimization, therefore only requesting the minimum amount of scopes needed to perform an API request.

    ### How do I migrate existing data?

    Using our migration API, you can migrate the access tokens and accounts to Apideck Vault. (COMING SOON)

    ### Can I use Vault in combination with existing integrations?

    Yes, you can. The flexibility of Unify allows you to quickly the use cases you need while keeping a gradual migration path based on your timeline and requirements.

    ### How does Vault work for Apideck Ecosystem customers?

    Once logged in, pick your ecosystem; on the left-hand side of the screen, you'll have the option to create an application underneath the Unify section.

    ### How to integrate Apideck Vault

    This section covers everything you need to know to authenticate your customers through Vault.
    Vault provides **three auth strategies** to use API tokens from your customers:

    - Vault API
    - Hosted Vault
    - Apideck Ecosystem _(COMING SOON)_

    You can also opt to bypass Vault and still take care of authentication flows yourself. Make sure to put the right safeguards in place to protect your customers' tokens and other sensitive data.

    ### What auth types does Vault support?

    What auth strategies does Vault handle? We currently support three flows so your customers can activate an integration.

    #### API keys

    For Services supporting the API key strategy, you can use Hosted Vault will need to provide an in-app form where users can configure their API keys provided by the integration service.

    #### OAuth 2.0

    ##### Authorization Code Grant Type Flow

    Vault handles the complete Authorization Code Grant Type Flow for you. This flow only supports browser-based (passive) authentication because most identity providers don't allow entering a username and password to be entered into applications that they don't own.

    Certain connectors require an OAuth redirect authentication flow, where the end-user is redirected to the provider's website or mobile app to authenticate.

    This is being handled by the `/authorize` endpoint.

    #### Basic auth

    Basic authentication is a simple authentication scheme built into the HTTP protocol. The required fields to complete basic auth are handled by Hosted Vault or by updating the connection through the Vault API below.

  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  title: Vault API
  version: 9.3.0
  x-apideck-api: vault
  x-apideck-sdk-support: true
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_developers.apideck.com_icon.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/apideck-libraries/openapi-specs/master/vault.yml
      version: "3.0"
  x-providerName: apideck.com
  x-serviceName: vault
  x-tags:
    - partner
externalDocs:
  description: Apideck Developer Docs
  url: https://developers.apideck.com
security:
  - apiKey: []
    applicationId: []
tags:
  - description: A session represents an authorized session for a consumer. A session is a JWT token that is valid for a short time (1h by default). Use this session token to open Hosted Vault or Vault JS for a consumer.
    name: Sessions
    x-apideck-model:
      $ref: "#/components/schemas/Session"
  - description: A connection represents an account of a consumer for a connector. For example a consumer with ID "test-consumer" has a Salesforce connection for the CRM API. Connections securely save credentials and settings for a connector.
    name: Connections
    x-apideck-model:
      $ref: "#/components/schemas/Connection"
  - description: A consumer represents an account or user in your system. All connections to connectors are scoped to a consumer.
    name: Consumers
    x-apideck-model:
      $ref: "#/components/schemas/Consumer"
  - description: A log represents a request made for a given consumer. Logs include requests made to unified APIs, connectors and the Vault API.
    name: Logs
    x-apideck-model:
      $ref: "#/components/schemas/Log"
paths:
  "/vault/authorize/{service_id}/{application_id}":
    get:
      description: |
        __In most cases the authorize link is provided in the ``/connections`` endpoint. Normally you don't need to manually generate these links.__

        Use this endpoint to authenticate a user with a connector. It will return a 301 redirect to the downstream connector endpoints.

        Auth links will have a state parameter included to verify the validity of the request. This is the url your users will use to activate OAuth supported integration providers.

        Vault handles the complete Authorization Code Grant Type Flow for you and will redirect you to the dynamic redirect uri you have appended to the url in case this is missing the default redirect uri you have configured for your Unify application.
      operationId: connectionsAuthorize
      parameters:
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/application_id"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/redirect_uri"
        - $ref: "#/components/parameters/scope"
      responses:
        "301":
          description: redirect
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security: []
      summary: Authorize
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY'
            })

            const params = {
              serviceId: 'pipedrive',
              applicationId: 'dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX',
              state:
                'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsInVuaWZpZWRfYXBpIjoiZGVmYXVsdCIsInNlcnZpY2VfaWQiOiJ0ZWFtbGVhZGVyIiwiYXBwbGljYXRpb25faWQiOiIxMTExIiwiaWF0IjoxNjIyMTI2Nzg3fQ.97_pn1UAXc7mctXBdr15czUNO1jjdQ9sJUOIE_Myzbk',
              redirectUri: 'http://example.com/integrations'
            }

            try {
              const { data } = await apideck.vault.connectionsAuthorize(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  /vault/callback:
    get:
      description: |
        This endpoint gets called after the triggering the authorize flow.

        Callback links need a state and code parameter to verify the validity of the request.
      operationId: connectionsCallback
      parameters:
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/code"
      responses:
        "301":
          description: callback
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security: []
      summary: Callback
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY'
            })

            const params = {
              state:
                'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsInVuaWZpZWRfYXBpIjoiZGVmYXVsdCIsInNlcnZpY2VfaWQiOiJ0ZWFtbGVhZGVyIiwiYXBwbGljYXRpb25faWQiOiIxMTExIiwiaWF0IjoxNjIyMTI2Nzg3fQ.97_pn1UAXc7mctXBdr15czUNO1jjdQ9sJUOIE_Myzbk',
              code: 'g0ZGZmNjVmOWI'
            }

            try {
              const { data } = await apideck.vault.connectionsCallback(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  /vault/connections:
    get:
      description: |
        This endpoint includes all the configured integrations and contains the required assets
        to build an integrations page where your users can install integrations.
        OAuth2 supported integrations will contain authorize and revoke links to handle the authentication flows.
      operationId: connectionsAll
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/api"
        - $ref: "#/components/parameters/configured"
      responses:
        "200":
          $ref: "#/components/responses/GetConnectionsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get all connections
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.vault.connectionsAll({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: connections
  "/vault/connections/{unified_api}/{service_id}":
    delete:
      description: Deletes a connection
      operationId: connectionsDelete
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
      responses:
        "204":
          description: Resource deleted
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Deletes a connection
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.vault.connectionsDelete({
                serviceId: 'pipedrive',
                unifiedApi: 'crm'
              })
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: connectionsDelete
    get:
      description: Get a connection
      operationId: connectionsOne
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
      responses:
        "200":
          $ref: "#/components/responses/GetConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get connection
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.vault.connectionsOne({
                serviceId: 'pipedrive',
                unifiedApi: 'crm'
              })
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
    patch:
      description: Update a connection
      operationId: connectionsUpdate
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Connection"
        description: Fields that need to be updated on the resource
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Update connection
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              serviceId: 'pipedrive',
              unifiedApi: 'crm',
              connection: {
                enabled: true,
                settings: {
                  instance_url: 'https://eu28.salesforce.com',
                  api_key: '12345xxxxxx'
                },
                metadata: {
                  account: {
                    name: 'My Company',
                    id: 'c01458a5-7276-41ce-bc19-639906b0450a'
                  },
                  plan: 'enterprise'
                },
                configuration: [
                  {
                    resource: 'leads',
                    defaults: [
                      {
                        id: 'ProductInterest',
                        options: [Array],
                        value: 'GC5000 series'
                      }
                    ]
                  }
                ]
              }
            }

            try {
              const { data } = await apideck.vault.connectionsUpdate(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
    post:
      description: |
        Create an authorized connection
      operationId: connectionsAdd
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Connection"
        description: Fields that need to be persisted on the resource
        required: true
      responses:
        "200":
          $ref: "#/components/responses/CreateConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Create connection
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              serviceId: 'pipedrive',
              unifiedApi: 'crm',
              connection: {
                enabled: true,
                settings: {
                  instance_url: 'https://eu28.salesforce.com',
                  api_key: '12345xxxxxx'
                },
                metadata: {
                  account: {
                    name: 'My Company',
                    id: 'c01458a5-7276-41ce-bc19-639906b0450a'
                  },
                  plan: 'enterprise'
                },
                configuration: [
                  {
                    resource: 'leads',
                    defaults: [
                      {
                        id: 'ProductInterest',
                        options: [Array],
                        value: 'GC5000 series'
                      }
                    ]
                  }
                ]
              }
            }

            try {
              const { data } = await apideck.vault.connectionsAdd(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  "/vault/connections/{unified_api}/{service_id}/import":
    post:
      description: |
        Import an authorized connection.
      operationId: connectionsImport
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConnectionImportData"
        description: Fields that need to be persisted on the resource
        required: true
      responses:
        "200":
          $ref: "#/components/responses/CreateConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Import connection
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              serviceId: 'pipedrive',
              unifiedApi: 'crm',
              connection: {
                credentials: {
                  access_token:
                    'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c',
                  refresh_token:
                    'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ'
                },
                settings: {
                  instance_url: 'https://eu28.salesforce.com'
                },
                metadata: {
                  account: {
                    name: 'My Company',
                    id: 'c01458a5-7276-41ce-bc19-639906b0450a'
                  },
                  plan: 'enterprise'
                }
              }
            }

            try {
              const { data } = await apideck.vault.connectionsImport(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
  "/vault/connections/{unified_api}/{service_id}/token":
    post:
      description: |
        Get an access token for a connection and store it in Vault. Currently only supported for connections with the client_credentials OAuth grant type.

        Note that the access token will not be returned in the response. A 200 response code indicates a valid access token was stored on the connection.
      operationId: connectionsToken
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
      requestBody:
        content:
          application/json:
            schema:
              additionalProperties: false
              properties: {}
              type: object
      responses:
        "200":
          $ref: "#/components/responses/GetConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get Access Token
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              serviceId: 'pipedrive',
              unifiedApi: 'crm',
              connectionsToken: {}
            }

            try {
              const { data } = await apideck.vault.connectionsToken(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  "/vault/connections/{unified_api}/{service_id}/{resource}/config":
    get:
      description: |
        This endpoint returns custom settings and their defaults required by connection for a given resource.
      operationId: connectionSettingsAll
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/unified_api"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/resource"
      responses:
        "200":
          $ref: "#/components/responses/GetConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get resource settings
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              unifiedApi: 'crm',
              serviceId: 'pipedrive',
              resource: 'leads'
            }

            try {
              const { data } = await apideck.vault.connectionSettingsAll(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: connectionSettings
    patch:
      description: Update default values for a connection's resource settings
      operationId: connectionSettingsUpdate
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/unified_api"
        - $ref: "#/components/parameters/resource"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Connection"
        description: Fields that need to be updated on the resource
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateConnectionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Update settings
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              serviceId: 'pipedrive',
              unifiedApi: 'crm',
              resource: 'leads',
              connection: {
                enabled: true,
                settings: {
                  instance_url: 'https://eu28.salesforce.com',
                  api_key: '12345xxxxxx'
                },
                metadata: {
                  account: {
                    name: 'My Company',
                    id: 'c01458a5-7276-41ce-bc19-639906b0450a'
                  },
                  plan: 'enterprise'
                },
                configuration: [
                  {
                    resource: 'leads',
                    defaults: [
                      {
                        id: 'ProductInterest',
                        options: [Array],
                        value: 'GC5000 series'
                      }
                    ]
                  }
                ]
              }
            }

            try {
              const { data } = await apideck.vault.connectionSettingsUpdate(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: connectionSettingsUpdate
  /vault/consumers:
    get:
      description: |
        This endpoint includes all application consumers, along with an aggregated count of requests made.
      operationId: consumersAll
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/GetConsumersResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get all consumers
      tags:
        - Consumers
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID'
            })

            try {
              const { data } = await apideck.vault.consumersAll({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: consumers
    post:
      description: Create a consumer
      operationId: consumersAdd
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Consumer"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/CreateConsumerResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Create consumer
      tags:
        - Consumers
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID'
            })

            const params = {
              consumer: {
                consumer_id: 'test_consumer_id',
                metadata: {
                  account_name: 'SpaceX',
                  user_name: 'Elon Musk',
                  email: 'elon@musk.com',
                  image: 'https://www.spacex.com/static/images/share.jpg'
                }
              }
            }

            try {
              const { data } = await apideck.vault.consumersAdd(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
  "/vault/consumers/{consumer_id}":
    delete:
      description: Delete consumer and all their connections, including credentials.
      operationId: consumersDelete
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/consumer_id"
      responses:
        "200":
          $ref: "#/components/responses/DeleteConsumerResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Delete consumer
      tags:
        - Consumers
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID'
            })

            try {
              const { data } = await apideck.vault.consumersDelete({
                consumerId: 'test_user_id'
              })
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
    get:
      description: |
        Consumer detail including their aggregated counts with the connections they have authorized.
      operationId: consumersOne
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/consumer_id"
      responses:
        "200":
          $ref: "#/components/responses/GetConsumerResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get consumer
      tags:
        - Consumers
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID'
            })

            try {
              const { data } = await apideck.vault.consumersOne({
                consumerId: 'test_user_id'
              })
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: consumer
    patch:
      description: Update consumer metadata such as name and email.
      operationId: consumersUpdate
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/consumer_id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateConsumerRequest"
        required: true
      responses:
        "200":
          $ref: "#/components/responses/UpdateConsumerResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Update consumer
      tags:
        - Consumers
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID'
            })

            const params = {
              consumerId: 'test_user_id',
              consumer: {
                metadata: {
                  account_name: 'SpaceX',
                  user_name: 'Elon Musk',
                  email: 'elon@musk.com',
                  image: 'https://www.spacex.com/static/images/share.jpg'
                }
              }
            }

            try {
              const { data } = await apideck.vault.consumersUpdate(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
  "/vault/consumers/{consumer_id}/stats":
    get:
      description: |
        Get consumer request counts within a given datetime range.
      operationId: consumerRequestCountsAll
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/consumer_id"
        - $ref: "#/components/parameters/start_datetime"
        - $ref: "#/components/parameters/end_datetime"
      responses:
        "200":
          $ref: "#/components/responses/ConsumerRequestCountsInDateRangeResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Consumer request counts
      tags:
        - Consumers
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID'
            })

            const params = {
              consumerId: 'test_user_id',
              startDatetime: '2021-05-01T12:00:00.000Z',
              endDatetime: '2021-05-30T12:00:00.000Z'
            }

            try {
              const { data } = await apideck.vault.consumerRequestCountsAll(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: consumerRequestCounts
  /vault/logs:
    get:
      description: |
        This endpoint includes all consumer request logs.
      operationId: logsAll
      parameters:
        - $ref: "#/components/parameters/x-apideck-app-id"
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/cursor"
        - $ref: "#/components/parameters/limit"
      responses:
        "200":
          $ref: "#/components/responses/GetLogsResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Get all consumer request logs
      tags:
        - Logs
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            try {
              const { data } = await apideck.vault.logsAll({})
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-field-name: logs
  "/vault/revoke/{service_id}/{application_id}":
    get:
      description: |
        __In most cases the authorize link is provided in the ``/connections`` endpoint. Normally you don't need to manually generate these links.__

        Use this endpoint to revoke an existing OAuth connector.

        Auth links will have a state parameter included to verify the validity of the request. This is the url your users will use to activate OAuth supported integration providers.

        Vault handles the complete revoke flow for you and will redirect you to the dynamic redirect uri you have appended to the url in case this is missing the default redirect uri you have configured for your Unify application.
      operationId: connectionsRevoke
      parameters:
        - $ref: "#/components/parameters/service_id"
        - $ref: "#/components/parameters/application_id"
        - $ref: "#/components/parameters/state"
        - $ref: "#/components/parameters/redirect_uri"
      responses:
        "301":
          description: redirect
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security: []
      summary: Revoke connection
      tags:
        - Connections
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY'
            })

            const params = {
              serviceId: 'pipedrive',
              applicationId: 'dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX',
              state:
                'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsInVuaWZpZWRfYXBpIjoiZGVmYXVsdCIsInNlcnZpY2VfaWQiOiJ0ZWFtbGVhZGVyIiwiYXBwbGljYXRpb25faWQiOiIxMTExIiwiaWF0IjoxNjIyMTI2Nzg3fQ.97_pn1UAXc7mctXBdr15czUNO1jjdQ9sJUOIE_Myzbk',
              redirectUri: 'http://example.com/integrations'
            }

            try {
              const { data } = await apideck.vault.connectionsRevoke(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
      x-graphql-exclude: true
      x-sdk-exclude: true
  /vault/sessions:
    post:
      description: |
        Making a POST request to this endpoint will initiate a Hosted Vault session. Redirect the consumer to the returned
        URL to allow temporary access to manage their integrations and settings.

        Note: This is a short lived token that will expire after 1 hour (TTL: 3600).
      operationId: sessionsCreate
      parameters:
        - $ref: "#/components/parameters/x-apideck-consumer-id"
        - $ref: "#/components/parameters/x-apideck-app-id"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Session"
        description: Additional redirect uri and/or consumer metadata
        required: false
      responses:
        "200":
          $ref: "#/components/responses/CreateSessionResponse"
        "400":
          $ref: "#/components/responses/BadRequestResponse"
        "401":
          $ref: "#/components/responses/UnauthorizedResponse"
        "402":
          $ref: "#/components/responses/PaymentRequiredResponse"
        "404":
          $ref: "#/components/responses/NotFoundResponse"
        "422":
          $ref: "#/components/responses/UnprocessableResponse"
        default:
          $ref: "#/components/responses/UnexpectedErrorResponse"
      security:
        - apiKey: []
      summary: Create Session
      tags:
        - Sessions
      x-apideck-api: vault
      x-codeSamples:
        - label: Node
          lang: TypeScript
          source: |
            import { Apideck } from '@apideck/node'

            const apideck = new Apideck({
              apiKey: 'REPLACE_WITH_API_KEY',
              appId: 'REPLACE_WITH_APP_ID',
              consumerId: 'REPLACE_WITH_CONSUMER_ID'
            })

            const params = {
              session: {
                consumer_metadata: {
                  account_name: 'SpaceX',
                  user_name: 'Elon Musk',
                  email: 'elon@musk.com',
                  image: 'https://www.spacex.com/static/images/share.jpg'
                },
                redirect_uri: 'https://mysaas.com/dashboard',
                settings: {
                  unified_apis: ['crm'],
                  hide_resource_settings: false,
                  sandbox_mode: false,
                  isolation_mode: false,
                  session_length: '30m',
                  show_logs: true,
                  show_suggestions: false,
                  show_sidebar: true,
                  auto_redirect: false,
                  hide_guides: false,
                  allow_actions: ['delete']
                },
                theme: {
                  favicon: 'https://res.cloudinary.com/apideck/icons/intercom',
                  logo: 'https://res.cloudinary.com/apideck/icons/intercom',
                  primary_color: '#286efa',
                  sidepanel_background_color: '#286efa',
                  sidepanel_text_color: '#FFFFFF',
                  vault_name: 'Intercom',
                  privacy_url: 'https://compliance.apideck.com/privacy-policy',
                  terms_url: 'https://www.termsfeed.com/terms-conditions/957c85c1b089ae9e3219c83eff65377e'
                },
                custom_consumer_settings: {
                  feature_flag_1: true,
                  tax_rates: [
                    {
                      id: '6',
                      label: '6%'
                    },
                    {
                      id: '21',
                      label: '21%'
                    }
                  ]
                }
              }
            }

            try {
              const { data } = await apideck.vault.sessionsCreate(params)
              console.log('API called successfully', data)
            } catch (error) {
              console.error(error)
            }
components:
  parameters:
    api:
      description: Scope results to Unified API
      example: crm
      in: query
      name: api
      schema:
        type: string
    application_id:
      description: Application ID of the resource to return
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      in: path
      name: application_id
      required: true
      schema:
        type: string
    code:
      description: An authorization code from the connector which Apideck Vault will later exchange for an access token.
      example: g0ZGZmNjVmOWI
      in: query
      name: code
      required: true
      schema:
        type: string
    configured:
      description: Scopes results to connections that have been configured or not
      example: true
      in: query
      name: configured
      schema:
        type: boolean
    consumer_id:
      description: ID of the consumer to return
      example: test_user_id
      in: path
      name: consumer_id
      required: true
      schema:
        type: string
    cursor:
      description: Cursor to start from. You can find cursors for next/previous pages in the meta.cursors property of the response.
      in: query
      name: cursor
      schema:
        nullable: true
        type: string
    end_datetime:
      description: Scopes results to requests that happened before datetime
      example: 2021-05-30T12:00:00.000Z
      in: query
      name: end_datetime
      required: true
      schema:
        type: string
    filter:
      description: Filter results
      explode: true
      in: query
      name: filter
      schema:
        $ref: "#/components/schemas/LogsFilter"
      style: deepObject
    id:
      description: ID of the record you are acting upon.
      in: path
      name: id
      required: true
      schema:
        type: string
    limit:
      description: Number of results to return. Minimum 1, Maximum 200, Default 20
      in: query
      name: limit
      schema:
        default: 20
        maximum: 200
        minimum: 1
        type: integer
    raw:
      description: Include raw response. Mostly used for debugging purposes
      in: query
      name: raw
      schema:
        default: false
        type: boolean
    redirect_uri:
      description: URL to redirect back to after authorization. When left empty the default configured redirect uri will be used.
      example: http://example.com/integrations
      in: query
      name: redirect_uri
      required: true
      schema:
        type: string
    resource:
      description: Resource Name
      example: leads
      in: path
      name: resource
      required: true
      schema:
        type: string
    scope:
      description: One or more OAuth scopes to request from the connector. OAuth scopes control the set of resources and operations that are allowed after authorization. Refer to the connector's documentation for the available scopes.
      example:
        - openid
        - leads:write
        - profile:read
      explode: false
      in: query
      name: scope
      schema:
        items:
          type: string
        type: array
      style: spaceDelimited
    service_id:
      description: Service ID of the resource to return
      example: pipedrive
      in: path
      name: service_id
      required: true
      schema:
        type: string
    start_datetime:
      description: Scopes results to requests that happened after datetime
      example: 2021-05-01T12:00:00.000Z
      in: query
      name: start_datetime
      required: true
      schema:
        type: string
    state:
      description: An opaque value the applications adds to the initial request that the authorization server includes when redirecting the back to the application. This value must be used by the application to prevent CSRF attacks.
      example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsInVuaWZpZWRfYXBpIjoiZGVmYXVsdCIsInNlcnZpY2VfaWQiOiJ0ZWFtbGVhZGVyIiwiYXBwbGljYXRpb25faWQiOiIxMTExIiwiaWF0IjoxNjIyMTI2Nzg3fQ.97_pn1UAXc7mctXBdr15czUNO1jjdQ9sJUOIE_Myzbk
      in: query
      name: state
      required: true
      schema:
        type: string
    unified_api:
      description: Unified API
      example: crm
      in: path
      name: unified_api
      required: true
      schema:
        type: string
    x-apideck-app-id:
      description: The ID of your Unify application
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      in: header
      name: x-apideck-app-id
      required: true
      schema:
        type: string
    x-apideck-consumer-id:
      description: ID of the consumer which you want to get or push data from
      in: header
      name: x-apideck-consumer-id
      required: true
      schema:
        type: string
    x-apideck-downstream-authorization:
      description: Downstream authorization header. This will skip the Vault token injection.
      example: Bearer XXXXXXXXXXXXXXXXX
      in: header
      name: x-apideck-downstream-authorization
      required: false
      schema:
        type: string
    x-apideck-downstream-method:
      description: Downstream method. If not provided the upstream method will be inherited,
      example: POST
      in: header
      name: x-apideck-downstream-method
      required: false
      schema:
        type: string
    x-apideck-downstream-url:
      description: Downstream URL
      example: https://api.twilio.com
      in: header
      name: x-apideck-downstream-url
      required: true
      schema:
        type: string
    x-apideck-service-id:
      description: Provide the service id you want to call (e.g., pipedrive). Only needed when a consumer has activated multiple integrations for a Unified API.
      in: header
      name: x-apideck-service-id
      required: true
      schema:
        type: string
  responses:
    BadRequestResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/BadRequestResponse"
      description: Bad Request
    ConsumerRequestCountsInDateRangeResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ConsumerRequestCountsInDateRangeResponse"
      description: Consumers Request Counts within Date Range
    CreateConnectionResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateConnectionResponse"
      description: Connection created
    CreateConsumerResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateConsumerResponse"
      description: Consumer created
    CreateSessionResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/CreateSessionResponse"
      description: Session created
    Created:
      content:
        application/json:
          example: {}
          schema: {}
      description: Resource created
    DeleteConsumerResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/DeleteConsumerResponse"
      description: Consumer deleted
    Deleted:
      content:
        application/json:
          example: {}
          schema: {}
      description: Resource successfully deleted
    GetConnectionResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetConnectionResponse"
      description: Connection
    GetConnectionsResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetConnectionsResponse"
      description: Connections
    GetConsumerResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetConsumerResponse"
      description: Consumer
    GetConsumersResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetConsumersResponse"
      description: Consumers
    GetLogsResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/GetLogsResponse"
      description: Logs
    NoContent:
      content:
        application/json:
          example: {}
          schema: {}
      description: No content
    NotFoundResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotFoundResponse"
      description: The specified resource was not found
    NotImplementedResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/NotImplementedResponse"
      description: Not Implemented
    Ok:
      content:
        application/json:
          example: {}
          schema: {}
      description: Ok
    PaymentRequiredResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/PaymentRequiredResponse"
      description: Payment Required
    ProxyError:
      content:
        application/json:
          schema: {}
      description: Proxy error
      headers:
        x-apideck-downstream-error:
          schema:
            description: Indicates if the error returned in the body is from the downstream
            type: boolean
    UnauthorizedResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnauthorizedResponse"
      description: Unauthorized
    UnexpectedErrorResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnexpectedErrorResponse"
      description: Unexpected error
    UnprocessableResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UnprocessableResponse"
      description: Unprocessable
    UpdateConnectionResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateConnectionResponse"
      description: Connection updated
    UpdateConsumerResponse:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/UpdateConsumerResponse"
      description: Consumer updated
    Updated:
      content:
        application/json:
          example: {}
          schema: {}
      description: Resource updated
  schemas:
    ApplicationId:
      description: ID of your Apideck Application
      example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
      type: string
    AuthType:
      description: Type of authorization used by the connector
      enum:
        - oauth2
        - apiKey
        - basic
        - custom
        - none
      example: oauth2
      readOnly: true
      type: string
      x-apideck-enum-id: auth_types
    BadRequestResponse:
      properties:
        detail:
          anyOf:
            - example: Missing property foobar
              type: string
            - example:
                missing:
                  - foobar: required
              type: object
          description: Contains parameter or domain specific information related to the error and why it occurred.
        error:
          description: Contains an explanation of the status_code as defined in HTTP/1.1 standard (RFC 7231)
          example: Bad Request
          type: string
        message:
          description: A human-readable message providing more details about the error.
          example: Invalid Params
          type: string
        ref:
          description: Link to documentation of error type
          example: https://developers.apideck.com/errors#requestvalidationerror
          type: string
        status_code:
          description: HTTP status code
          example: 400
          type: number
        type_name:
          description: The type of error returned
          example: RequestValidationError
          type: string
      type: object
      x-apideck-schema-id: BadRequest
    Connection:
      properties:
        auth_type:
          $ref: "#/components/schemas/AuthType"
        authorize_url:
          description: The OAuth redirect URI. Redirect your users to this URI to let them authorize your app in the connector's UI. Before you can use this URI, you must add `redirect_uri` as a query parameter. Your users will be redirected to this `redirect_uri` after they granted access to your app in the connector's UI.
          example: https://unify.apideck.com/vault/authorize/salesforce/<application-id>?state=<state>
          nullable: true
          readOnly: true
          type: string
        configurable_resources:
          example:
            - opportunities
            - companies
            - contacts
            - leads
          items:
            type: string
          readOnly: true
          type: array
        configuration:
          items:
            properties:
              defaults:
                items:
                  properties:
                    id:
                      example: ProductInterest
                      type: string
                    options:
                      items:
                        $ref: "#/components/schemas/FormFieldOption"
                      type: array
                    target:
                      enum:
                        - custom_fields
                        - resource
                      example: custom_fields
                      readOnly: true
                      type: string
                      x-apideck-enum-id: connections.configuration.defaults.target
                    value:
                      anyOf:
                        - example: GC5000 series
                          type: string
                        - example: 10
                          type: integer
                        - example: 10.5
                          type: number
                        - example: true
                          type: boolean
                        - items:
                            anyOf:
                              - example: GC6000 series
                                type: string
                              - example: 10
                                type: integer
                              - example: 10.5
                                type: number
                          type: array
                  type: object
                type: array
              resource:
                example: leads
                type: string
            type: object
          type: array
        created_at:
          example: 1615563533390
          readOnly: true
          type: number
        enabled:
          description: Whether the connection is enabled or not. You can enable or disable a connection using the Update Connection API.
          example: true
          type: boolean
        form_fields:
          description: The settings that are wanted to create a connection.
          example:
            - custom_field: false
              disabled: false
              id: instance_url
              label: Instance url
              mask: false
              placeholder: ""
              required: true
              sensitive: false
              type: text
              value: https://eu28.salesforce.com
            - custom_field: false
              disabled: false
              id: api_key
              label: API Key
              mask: false
              placeholder: ""
              required: true
              sensitive: true
              type: text
              value: "123455677"
          items:
            $ref: "#/components/schemas/FormField"
          readOnly: true
          type: array
        has_guide:
          description: Whether the connector has a guide available in the developer docs or not (https://docs.apideck.com/connectors/{service_id}/docs/consumer+connection).
          example: true
          readOnly: true
          type: boolean
        icon:
          description: A visual icon of the connection, that will be shown in the Vault
          example: https://res.cloudinary.com/apideck/image/upload/v1529456047/catalog/salesforce/icon128x128.png
          readOnly: true
          type: string
        id:
          description: The unique identifier of the connection.
          example: crm+salesforce
          readOnly: true
          type: string
        integration_state:
          $ref: "#/components/schemas/IntegrationState"
        logo:
          description: The logo of the connection, that will be shown in the Vault
          example: https://c1.sfdcstatic.com/content/dam/web/en_us/www/images/home/logo-salesforce-m.svg
          readOnly: true
          type: string
        metadata:
          additionalProperties: true
          description: Attach your own consumer specific metadata
          example:
            account:
              id: c01458a5-7276-41ce-bc19-639906b0450a
              name: My Company
            plan: enterprise
          nullable: true
          properties: {}
          type: object
        name:
          description: The name of the connection
          example: Salesforce
          readOnly: true
          type: string
        oauth_grant_type:
          $ref: "#/components/schemas/OAuthGrantType"
        resource_schema_support:
          example:
            - leads
          items:
            type: string
          readOnly: true
          type: array
        resource_settings_support:
          example:
            - leads
          items:
            type: string
          readOnly: true
          type: array
        revoke_url:
          description: The OAuth revoke URI. Redirect your users to this URI to revoke this connection. Before you can use this URI, you must add `redirect_uri` as a query parameter. Your users will be redirected to this `redirect_uri` after they granted access to your app in the connector's UI.
          example: https://unify.apideck.com/vault/revoke/salesforce/<application-id>?state=<state>
          nullable: true
          readOnly: true
          type: string
        service_id:
          description: The ID of the service this connection belongs to.
          example: salesforce
          readOnly: true
          type: string
        settings:
          additionalProperties: true
          description: Connection settings. Values will persist to `form_fields` with corresponding id
          example:
            api_key: 12345xxxxxx
            instance_url: https://eu28.salesforce.com
          nullable: true
          properties: {}
          type: object
        settings_required_for_authorization:
          description: List of settings that are required to be configured on integration before authorization can occur
          example:
            - client_id
            - client_secret
          items:
            type: string
          readOnly: true
          type: array
        state:
          $ref: "#/components/schemas/ConnectionState"
        status:
          description: Status of the connection.
          enum:
            - live
            - upcoming
            - requested
          readOnly: true
          type: string
          x-apideck-enum-id: connections.status
        subscriptions:
          items:
            $ref: "#/components/schemas/WebhookSubscription"
          readOnly: true
          type: array
        tag_line:
          example: CRM software solutions and enterprise cloud computing from Salesforce, the leader in customer relationship management (CRM) and PaaS. Free 30 day trial.
          readOnly: true
          type: string
        unified_api:
          description: The unified API category where the connection belongs to.
          example: crm
          readOnly: true
          type: string
        updated_at:
          example: 1616662325753
          nullable: true
          readOnly: true
          type: number
        validation_support:
          readOnly: true
          type: boolean
        website:
          description: The website URL of the connection
          example: https://www.salesforce.com
          readOnly: true
          type: string
      type: object
      x-apideck-schema-id: Connection
    ConnectionEvent:
      properties:
        entity:
          $ref: "#/components/schemas/ConsumerConnection"
        entity_id:
          description: The service provider's ID of the entity that triggered this event
          example: 123456ASDF
          type: string
        entity_type:
          description: The type entity that triggered this event
          example: Connection
          type: string
        event_id:
          description: Unique reference to this request event
          example: 9755c355-56c3-4a2f-a2da-86ff4411fccb
          type: string
        event_type:
          $ref: "#/components/schemas/VaultEventType"
        execution_attempt:
          description: The current count this request event has been attempted
          example: 2
          type: number
        occurred_at:
          description: ISO Datetime for when the original event occurred
          example: 2021-10-01T03:14:55.419Z
          type: string
        service_id:
          description: Service provider identifier
          example: close
          type: string
      type: object
      x-sdk-exclude: true
    ConnectionImportData:
      properties:
        credentials:
          additionalProperties: false
          example:
            access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
            refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyfQ.cThIIoDvwdueQB468K5xDc5633seEFoqwxjF_xSJyQQ
          properties:
            access_token:
              description: Access token
              example: 1234567890abcdefghijklmnopqrstuvwxyz
              type: string
            expires_in:
              description: The number of seconds until the token expires. If omitted the token will be queued for refresh.
              example: 3600
              nullable: true
              type: integer
            issued_at:
              description: The datetime at which the token was issued. If omitted the token will be queued for refresh.
              example: 2020-01-01T00:00:00Z
              format: date-time
              nullable: true
              type: string
            refresh_token:
              description: The refresh token can be used to obtain a new access token.
              example: 1234567890abcdefghijklmnopqrstuvwxyz
              type: string
          required:
            - refresh_token
          type: object
        metadata:
          additionalProperties: true
          description: Attach your own consumer specific metadata
          example:
            account:
              id: c01458a5-7276-41ce-bc19-639906b0450a
              name: My Company
            plan: enterprise
          nullable: true
          properties: {}
          type: object
        settings:
          description: Connection settings. Values will persist to `form_fields` with corresponding id
          example:
            instance_url: https://eu28.salesforce.com
          nullable: true
          type: object
      type: object
      x-apideck-schema-id: ConnectionImportData
    ConnectionMetadata:
      properties:
        id:
          type: string
        name:
          type: string
      type: object
      x-apideck-schema-id: ConnectionMetadata
    ConnectionState:
      description: "[Connection state flow](#section/Connection-state)"
      enum:
        - available
        - callable
        - added
        - authorized
        - invalid
      example: authorized
      readOnly: true
      type: string
      x-apideck-enum-id: connections.state
      x-apideck-schema-id: ConnectionState
    ConnectionWebhook:
      additionalProperties: false
      properties:
        created_at:
          description: The date and time when the object was created.
          example: 2020-09-30T07:43:32.000Z
          format: date-time
          readOnly: true
          title: Created at (timestamp)
          type: string
        delivery_url:
          description: The delivery url of the webhook endpoint.
          example: https://example.com/my/webhook/endpoint
          format: uri
          pattern: ^(https?)://
          type: string
        description:
          description: A description of the object.
          example: A description
          nullable: true
          title: Description
          type: string
        disabled_reason:
          description: Indicates if the webhook has has been disabled as it reached its retry limit or if account is over the usage allocated by it's plan.
          enum:
            - none
            - retry_limit
            - usage_limit
          example: retry_limit
          type: string
          x-apideck-enum-id: webhook.disabled_reasons
        events:
          description: The list of subscribed events for this webhook. [`*`] indicates that all events are enabled.
          example:
            - vault.connection.created
            - vault.connection.updated
          items:
            enum:
              - "*"
              - crm.activity.created
              - crm.activity.updated
              - crm.activity.deleted
              - crm.company.created
              - crm.company.updated
              - crm.company.deleted
              - crm.contact.created
              - crm.contact.updated
              - crm.contact.deleted
              - crm.lead.created
              - crm.lead.updated
              - crm.lead.deleted
              - crm.note.created
              - crm.notes.updated
              - crm.notes.deleted
              - crm.opportunity.created
              - crm.opportunity.updated
              - crm.opportunity.deleted
              - lead.lead.created
              - lead.lead.updated
              - lead.lead.deleted
              - vault.connection.created
              - vault.connection.updated
              - vault.connection.disabled
              - vault.connection.deleted
              - vault.connection.callable
              - vault.connection.token_refresh.failed
              - ats.job.created
              - ats.job.updated
              - ats.job.deleted
              - ats.applicant.created
              - ats.applicant.updated
              - ats.applicant.deleted
              - accounting.customer.created
              - accounting.customer.updated
              - accounting.customer.deleted
              - accounting.invoice.created
              - accounting.invoice.updated
              - accounting.invoice.deleted
              - accounting.invoice_item.created
              - accounting.invoice_item.updated
              - accounting.invoice_item.deleted
              - accounting.ledger_account.created
              - accounting.ledger_account.updated
              - accounting.ledger_account.deleted
              - accounting.tax_rate.created
              - accounting.tax_rate.updated
              - accounting.tax_rate.deleted
              - accounting.bill.created
              - accounting.bill.updated
              - accounting.bill.deleted
              - accounting.payment.created
              - accounting.payment.updated
              - accounting.payment.deleted
              - accounting.supplier.created
              - accounting.supplier.updated
              - accounting.supplier.deleted
              - pos.order.created
              - pos.order.updated
              - pos.order.deleted
              - pos.product.created
              - pos.product.updated
              - pos.product.deleted
              - pos.payment.created
              - pos.payment.updated
              - pos.payment.deleted
              - pos.merchant.created
              - pos.merchant.updated
              - pos.merchant.deleted
              - pos.location.created
              - pos.location.updated
              - pos.location.deleted
              - pos.item.created
              - pos.item.updated
              - pos.item.deleted
              - pos.modifier.created
              - pos.modifier.updated
              - pos.modifier.deleted
              - pos.modifier-group.created
              - pos.modifier-group.updated
              - pos.modifier-group.deleted
              - hris.employee.created
              - hris.employee.updated
              - hris.employee.deleted
              - hris.company.created
              - hris.company.updated
              - hris.company.deleted
              - file-storage.file.created
              - file-storage.file.updated
              - file-storage.file.deleted
              - issue-tracking.ticket.created
              - issue-tracking.ticket.updated
              - issue-tracking.ticket.deleted
            example: crm.company.created
            type: string
            x-apideck-enum-id: webhooks.event_type
          title: Subscribed events
          type: array
        execute_base_url:
          description: The Unify Base URL events from connectors will be sent to after service id is appended.
          example: https://unify.apideck.com/webhook/webhooks/1234/execute
          format: uri
          pattern: ^(https?)://
          readOnly: true
          type: string
        id:
          example: "1234"
          readOnly: true
          type: string
        status:
          description: The status of the webhook.
          enum:
            - enabled
            - disabled
          example: enabled
          type: string
          x-apideck-enum-id: webhooks.status
          x-graphql-type-name: WebhookStatus
        unified_api:
          $ref: "#/components/schemas/UnifiedApiId"
        updated_at:
          description: The date and time when the object was last updated.
          example: 2020-09-30T07:43:32.000Z
          format: date-time
          nullable: true
          readOnly: true
          title: Updated at (timestamp)
          type: string
      required:
        - delivery_url
        - status
        - events
        - unified_api
        - execute_base_url
      type: object
      x-apideck-schema-id: Webhook
    Consumer:
      properties:
        aggregated_request_count:
          example: 101
          readOnly: true
          type: number
        application_id:
          description: ID of your Apideck Application
          example: dSBdXd2H6Mqwfg0atXHXYcysLJE9qyn1VwBtXHX
          readOnly: true
          type: string
        connections:
          items:
            $ref: "#/components/schemas/ConsumerConnection"
          readOnly: true
          type: array
        consumer_id:
          $ref: "#/components/schemas/ConsumerId"
        created:
          example: 2021-05-07T12:55:42.242Z
          readOnly: true
          type: string
        metadata:
          $ref: "#/components/schemas/ConsumerMetadata"
        modified:
          example: 2021-05-07T12:55:42.242Z
          readOnly: true
          type: string
        request_count_updated:
          example: 2021-05-07T12:55:42.242Z
          readOnly: true
          type: string
        request_counts:
          $ref: "#/components/schemas/RequestCountAllocation"
        services:
          example:
            - salesforce
            - stripe
          items:
            example: salesforce
            type: string
          readOnly: true
          type: array
      required:
        - consumer_id
      type: object
      x-apideck-schema-id: Consumer
    ConsumerConnection:
      properties:
        auth_type:
          $ref: "#/components/schemas/AuthType"
        consumer_id:
          example: test_user_id
          type: string
        created_at:
          example: 2020-09-19T12:18:37.071Z
          type: string
        enabled:
          example: true
          type: boolean
        icon:
          example: https://res.cloudinary.com/apideck/image/upload/v1529456047/catalog/salesforce/icon128x128.png
          type: string
        id:
          example: 1111+test_user_id
          readOnly: true
          type: string
        logo:
          example: https://c1.sfdcstatic.com/content/dam/web/en_us/www/images/home/logo-salesforce-m.svg
          type: string
        metadata:
          additionalProperties: true
          description: Attach your own consumer specific metadata
          example:
            account:
              id: c01458a5-7276-41ce-bc19-639906b0450a
              name: My Company
            plan: enterprise
          nullable: true
          properties: {}
          type: object
        name:
          example: Salesforce
          type: string
        service_id:
          example: teamleader
          type: string
        settings:
          description: Connection settings. Values will persist to `form_fields` with corresponding id
          example:
            instance_url: https://eu28.salesforce.com
          nullable: true
          type: object
        state:
          enum:
            - available
            - callable
            - added
            - configured
            - authorized
          example: authorized
          type: string
          x-apideck-enum-id: consumer.connections.state
        tag_line:
          example: CRM software solutions and enterprise cloud computing from Salesforce, the leader in customer relationship management (CRM) and PaaS. Free 30 day trial.
          readOnly: true
          type: string
        unified_api:
          example: crm
          type: string
        updated_at:
          example: 2020-09-19T12:18:37.071Z
          nullable: true
          type: string
        website:
          example: https://www.salesforce.com
          readOnly: true
          type: string
      type: object
      x-apideck-schema-id: ConsumerConnection
    ConsumerId:
      description: Unique consumer identifier. You can freely choose a consumer ID yourself. Most of the time, this is an ID of your internal data model that represents a user or account in your system (for example account:12345). If the consumer doesn't exist yet, Vault will upsert a consumer based on your ID.
      example: test_consumer_id
      type: string
    ConsumerMetadata:
      description: The metadata of the consumer. This is used to display the consumer in the sidebar. This is optional, but recommended.
      properties:
        account_name:
          description: The name of the account as shown in the sidebar.
          example: SpaceX
          title: Account name
          type: string
        email:
          description: The email of the user as shown in the sidebar.
          example: elon@musk.com
          title: Email
          type: string
        image:
          description: The avatar of the user in the sidebar. Must be a valid URL
          example: https://www.spacex.com/static/images/share.jpg
          title: Image
          type: string
        user_name:
          description: The name of the user as shown in the sidebar.
          example: Elon Musk
          title: User name
          type: string
      type: object
      x-apideck-schema-id: ConsumerMetadata
    ConsumerRequestCountsInDateRangeResponse:
      properties:
        data:
          properties:
            aggregated_request_count:
              example: 40
              type: number
            application_id:
              example: "1111"
              type: string
            consumer_id:
              example: test_user_id
              type: string
            end_datetime:
              example: 2021-05-10T12:00:00.000Z
              type: string
            request_counts:
              $ref: "#/components/schemas/RequestCountAllocation"
            start_datetime:
              example: 2021-05-01T12:00:00.000Z
              type: string
          type: object
          x-apideck-schema-id: ConsumerRequestCountsInDateRange
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
      x-apideck-schema-id: ConsumerRequestCountsInDateRangeResponse
    CreateConnectionResponse:
      properties:
        data:
          $ref: "#/components/schemas/Connection"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 201
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
      x-apideck-schema-id: CreateConnectionResponse
    CreateConsumerResponse:
      properties:
        data:
          $ref: "#/components/schemas/Consumer"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
      x-apideck-schema-id: GetConsumerResponse
    CreateSessionResponse:
      additionalProperties: false
      properties:
        data:
          additionalProperties: false
          properties:
            session_token:
              example: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsImFwcGxpY2F0aW9uX2lkIj
              readOnly: true
              type: string
            session_uri:
              example: http://vault.apideck.com/session/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJjb25zdW1lcl9pZCI6InRlc3RfdXNlcl9pZCIsImFwcGxpY2F0aW9uX2lkIj
              readOnly: true
              type: string
          required:
            - session_uri
            - session_token
          type: object
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
      x-apideck-schema-id: CreateSessionResponse
    DeleteConsumerResponse:
      properties:
        data:
          properties:
            consumer_id:
              $ref: "#/components/schemas/ConsumerId"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
      x-apideck-schema-id: GetConsumerResponse
    FormField:
      properties:
        allow_custom_values:
          default: false
          description: Only applicable to select fields. Allow the user to add a custom value though the option select if the desired value is not in the option select list.
          example: false
          title: Allow custom values
          type: boolean
        custom_field:
          example: false
          type: boolean
        description:
          description: The description of the form field
          example: Slack channel to push notification to
          nullable: true
          type: string
        disabled:
          description: Indicates if the form field is displayed in a “read-only” mode.
          example: false
          nullable: true
          type: boolean
        hidden:
          description: Indicates if the form field is not displayed but the value that is being stored on the connection.
          example: false
          nullable: true
          type: boolean
        id:
          description: The unique identifier of the form field.
          example: channel
          type: string
        label:
          description: The label of the field
          example: Channel
          type: string
        options:
          example:
            - label: General Channel
              value: general
          items:
            $ref: "#/components/schemas/FormFieldOption"
          type: array
        placeholder:
          description: The placeholder for the form field
          example: Select a channel
          nullable: true
          type: string
        prefix:
          description: Prefix to display in front of the form field.
          example: https://
          nullable: true
          type: string
        required:
          description: Indicates if the form field is required, which means it must be filled in before the form can be submitted
          example: true
          type: boolean
        sensitive:
          description: Indicates if the form field contains sensitive data, which will display the value as a masked input.
          example: false
          nullable: true
          type: boolean
        suffix:
          description: Suffix to display next to the form field.
          example: .shopify.com
          nullable: true
          type: string
        type:
          enum:
            - text
            - checkbox
            - tel
            - email
            - url
            - textarea
            - select
            - filtered-select
            - multi-select
            - datetime
            - date
            - time
            - number
          example: select
      type: object
      x-apideck-schema-id: FormField
      x-graphql-type-name: FormField
    FormFieldOption:
      anyOf:
        - $ref: "#/components/schemas/SimpleFormFieldOption"
        - $ref: "#/components/schemas/FormFieldOptionGroup"
    FormFieldOptionGroup:
      properties:
        id:
          example: "1234"
          type: string
        label:
          example: General Channel
          type: string
        options:
          items:
            $ref: "#/components/schemas/SimpleFormFieldOption"
          type: array
      type: object
      x-apideck-schema-id: FormFieldOptionGroup
    GetConnectionResponse:
      properties:
        data:
          $ref: "#/components/schemas/Connection"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
      x-apideck-schema-id: GetConnectionResponse
    GetConnectionsResponse:
      properties:
        data:
          items:
            $ref: "#/components/schemas/Connection"
          type: array
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
      x-apideck-schema-id: GetConnectionsResponse
    GetConsumerResponse:
      properties:
        data:
          $ref: "#/components/schemas/Consumer"
        status:
          description: HTTP Response Status
          example: OK
          type: string
        status_code:
          description: HTTP Response Status Code
          example: 200
          type: integer
      required:
        - status_code
        - status
        - data
      type: object
      x-apideck-schema-id: GetConsumerResponse
    GetConsumersResponse:
      properties:
        data:
          items:
            properties:
              aggregated_request_count:
                example: 101
                type: number
              application_id:
                example: "1111"
                type: string
              consumer_id:
                example: test_consumer_id
                type: string
              created:
                example: 2021-05-07T12:55:42.242Z
                type: string
              metadata:
                $ref: "#/components/schemas/ConsumerMetadata"
              modified:
                example: 2021-05-07T12:55:42.242Z
                type: string
              request_count_updated:
                example: 2021-05-07T12:55:42.242Z
                type: string
              request_counts:
                $ref: "#/components/schemas/RequestCountAllocation"
              services:
                example:
                  - salesforce
                  - stripe
                items:
[...]
