swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: AutomationManagement
  version: '2015-10-31'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/automation/resource-manager/Microsoft.Automation/stable/2015-10-31/runbook.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: automation-runbook
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters: {}
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks':
    get:
      description: Retrieve a list of runbooks.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookoperations'
      operationId: Runbook_ListByAutomationAccount
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: The response model for the list runbook operation.
            properties:
              nextLink:
                description: Gets or sets the next link.
                type: string
              value:
                description: Gets or sets a list of runbooks.
                items:
                  $ref: '#/definitions/Runbook'
                type: array
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Runbook
      x-ms-examples:
        List runbooks by automation account:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            subscriptionId: subid
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/ASR-AddPublicIp
                    location: East US 2
                    name: ASR-AddPublicIp
                    properties:
                      creationTime: '2017-03-28T21:32:25.78+00:00'
                      lastModifiedTime: '2017-03-28T21:32:25.81+00:00'
                      logActivityTrace: 1
                      logProgress: true
                      logVerbose: true
                      runbookType: PowerShell
                      state: Published
                    type: Microsoft.Automation/AutomationAccounts/Runbooks
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/AutoExport
                    location: East US 2
                    name: AutoExport
                    properties:
                      creationTime: '2017-03-28T21:32:27.327+00:00'
                      lastModifiedTime: '2017-03-28T21:32:27.327+00:00'
                      logActivityTrace: 1
                      logProgress: true
                      logVerbose: true
                      runbookType: PowerShell
                      state: Published
                    type: Microsoft.Automation/AutomationAccounts/Runbooks
                  - id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                    location: East US 2
                    name: Get-AzureVMTutorial
                    properties:
                      creationTime: '2017-03-28T21:32:23.75+00:00'
                      lastModifiedTime: '2017-03-28T21:32:23.75+00:00'
                      logActivityTrace: 1
                      logProgress: true
                      logVerbose: false
                      runbookType: PowerShellWorkflow
                      state: Published
                    type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}':
    delete:
      description: Delete the runbook by name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookoperations'
      operationId: Runbook_Delete
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Runbook
      x-ms-examples:
        Delete a runbook:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            '200': {}
    get:
      description: Retrieve the runbook identified by runbook name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookoperations'
      operationId: Runbook_Get
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: Definition of the runbook type.
            properties:
              etag:
                description: Gets or sets the etag of the resource.
                type: string
              properties:
                $ref: '#/definitions/RunbookProperties'
                description: Gets or sets the runbook properties.
                x-ms-client-flatten: true
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Runbook
      x-ms-examples:
        Get runbook:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: '"636263335437500000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: '2017-03-28T21:32:23.75+00:00'
                  description: Description of the Runbook
                  jobCount: 0
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: '2017-03-28T21:32:23.75+00:00'
                  logActivityTrace: 1
                  logProgress: true
                  logVerbose: false
                  outputTypes: []
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: PowerShellWorkflow
                  serviceManagementTags: null
                  state: Published
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
    patch:
      description: Update the runbook identified by runbook name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookoperations'
      operationId: Runbook_Update
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: The update parameters for runbook.
          in: body
          name: parameters
          required: true
          schema:
            description: The parameters supplied to the update runbook operation.
            properties:
              location:
                description: Gets or sets the location of the resource.
                type: string
              name:
                description: Gets or sets the name of the resource.
                type: string
              properties:
                $ref: '#/definitions/RunbookUpdateProperties'
                description: Gets or sets the runbook update properties.
                x-ms-client-flatten: true
              tags:
                additionalProperties:
                  type: string
                description: Gets or sets the tags attached to the resource.
                type: object
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: Definition of the runbook type.
            properties:
              etag:
                description: Gets or sets the etag of the resource.
                type: string
              properties:
                $ref: '#/definitions/RunbookProperties'
                description: Gets or sets the runbook properties.
                x-ms-client-flatten: true
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Runbook
      x-ms-examples:
        Update runbook:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            parameters:
              location: East US 2
              name: Get-AzureVMTutorial
              properties:
                description: Updated Description of the Runbook
                logActivityTrace: 1
                logProgress: true
                logVerbose: false
              tags:
                tag01: value01
                tag02: value02
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            '200':
              etag: '"636265044994500000"'
              id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
              location: East US 2
              name: Get-AzureVMTutorial
              properties:
                creationTime: '2017-03-30T21:01:33.777+00:00'
                description: Updated Description of the Runbook
                jobCount: 0
                lastModifiedBy: myEmaild@microsoft.com
                lastModifiedTime: '2017-03-30T21:01:39.45+00:00'
                logActivityTrace: 1
                logProgress: true
                logVerbose: false
                outputTypes: []
                parameters: {}
                provisioningState: Succeeded
                runbookType: PowerShellWorkflow
                serviceManagementTags: null
                state: Published
              tags:
                tag01: value01
                tag02: value02
              type: Microsoft.Automation/AutomationAccounts/Runbooks
    put:
      description: Create the runbook identified by runbook name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookoperations'
      operationId: Runbook_CreateOrUpdate
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: 'The create or update parameters for runbook. Provide either content link for a published runbook or draft, not both.'
          in: body
          name: parameters
          required: true
          schema:
            description: The parameters supplied to the create or update runbook operation.
            properties:
              location:
                description: Gets or sets the location of the resource.
                type: string
              name:
                description: Gets or sets the name of the resource.
                type: string
              properties:
                $ref: '#/definitions/RunbookCreateOrUpdateProperties'
                description: Gets or sets runbook create or update properties.
                x-ms-client-flatten: true
              tags:
                additionalProperties:
                  type: string
                description: Gets or sets the tags attached to the resource.
                type: object
            required:
              - properties
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        '201':
          description: Created
        '400':
          description: Bad Request. Cannot specify the content link for a published runbook and draft at the same time.
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Runbook
      x-ms-examples:
        Create or update runbook:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            parameters:
              location: East US 2
              name: Get-AzureVMTutorial
              properties:
                description: Description of the Runbook
                logActivityTrace: 1
                logProgress: true
                logVerbose: false
                publishContentLink:
                  contentHash:
                    algorithm: SHA256
                    value: 115775B8FF2BE672D8A946BD0B489918C724DDE15A440373CA54461D53010A80
                  uri: 'https://raw.githubusercontent.com/Azure/azure-quickstart-templates/master/101-automation-runbook-getvms/Runbooks/Get-AzureVMTutorial.ps1'
                runbookType: PowerShellWorkflow
              tags:
                tag01: value01
                tag02: value02
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: '"636263318866000000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: '2017-03-28T21:04:43.66+00:00'
                  description: Description of the Runbook
                  jobCount: 0
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: '2017-03-28T21:04:46.6+00:00'
                  logActivityTrace: 1
                  logProgress: true
                  logVerbose: true
                  outputTypes: []
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: PowerShellWorkflow
                  serviceManagementTags: null
                  state: Published
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
            '201':
              body:
                etag: '"636263318837230000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: '2017-03-28T21:04:43.66+00:00'
                  description: Description of the Runbook
                  jobCount: 0
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: '2017-03-28T21:04:43.723+00:00'
                  logActivityTrace: 1
                  logProgress: true
                  logVerbose: false
                  outputTypes: []
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: PowerShellWorkflow
                  serviceManagementTags: null
                  state: Published
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
            '400':
              code: BadRequest
              message: '{"Message":"Cannot specify the content link for a published runbook and draft at the same time."}'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/content':
    get:
      description: Retrieve the content of runbook identified by runbook name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookoperations'
      operationId: Runbook_GetContent
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - Runbook
      x-ms-examples:
        Get runbook content:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            '200':
              body: "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n        For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n        LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\n    #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n    #Get the credential with the above name from the Automation Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n    #Connect to your Azure Account\r\n    $Account = Add-AzureAccount -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n    #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n    \r\n    #Get all the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n        Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n        Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
              headers: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft':
    get:
      description: Retrieve the runbook draft identified by runbook name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookdraftoperations'
      operationId: RunbookDraft_Get
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Definition of the runbook type.
            properties:
              creationTime:
                description: Gets or sets the creation time of the runbook draft.
                format: date-time
                type: string
              draftContentLink:
                $ref: '#/definitions/ContentLink'
                description: Gets or sets the draft runbook content link.
              inEdit:
                description: Gets or sets whether runbook is in edit mode.
                type: boolean
              lastModifiedTime:
                description: Gets or sets the last modified time of the runbook draft.
                format: date-time
                type: string
              outputTypes:
                description: Gets or sets the runbook output types.
                items:
                  type: string
                type: array
              parameters:
                additionalProperties:
                  $ref: '#/definitions/RunbookParameter'
                description: Gets or sets the runbook draft parameters.
                type: object
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - RunbookDraft
      x-ms-examples:
        Get runbook draft:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            '200':
              body:
                etag: '"636263335437500000"'
                id: /subscriptions/subid/resourceGroups/rg/providers/Microsoft.Automation/automationAccounts/ContoseAutomationAccount/runbooks/Get-AzureVMTutorial
                location: East US 2
                name: Get-AzureVMTutorial
                properties:
                  creationTime: '2017-03-28T21:32:23.75+00:00'
                  description: Description of the Runbook
                  jobCount: 0
                  lastModifiedBy: myEmaild@microsoft.com
                  lastModifiedTime: '2017-03-28T21:32:23.75+00:00'
                  logActivityTrace: 1
                  logProgress: true
                  logVerbose: false
                  outputTypes: []
                  parameters: {}
                  provisioningState: Succeeded
                  runbookType: PowerShellWorkflow
                  serviceManagementTags: null
                  state: Published
                tags:
                  tag01: value01
                  tag02: value02
                type: Microsoft.Automation/AutomationAccounts/Runbooks
              headers: {}
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/content':
    get:
      description: Retrieve the content of runbook draft identified by runbook name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookdraftoperations'
      operationId: RunbookDraft_GetContent
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            type: file
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - RunbookDraft
      x-ms-examples:
        Get runbook draft content:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            '200':
              body: "<#\r\n    .DESCRIPTION\r\n        An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n        For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n    .NOTES\r\n        AUTHOR: Azure Automation Team\r\n        LASTEDIT: Mar27,\r\n            2015\r\n#>\r\nworkflow Get-AzureVMTutorial{\r\n    #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n    $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n    #Get the credential with the above name from the Automation Asset store\r\n    $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n    if(!$Cred){\r\n        Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n    #Connect to your Azure Account\r\n    $Account = Add-AzureAccount -Credential $Cred\r\n    if(!$Account){\r\n        Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n    #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n    #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n    \r\n    #Get all the VMs you have in your Azure subscription\r\n    $VMs = Get-AzureVM\r\n\r\n    #Print out up to10 of those VMs\r\n    if(!$VMs){\r\n        Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n        Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
              headers: {}
    put:
      description: Updates the runbook draft with runbookStream as its content.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookdraftoperations'
      operationId: RunbookDraft_CreateOrUpdate
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: "The\_runbook\_draft\_content."
          in: body
          name: runbookContent
          required: true
          schema:
            format: file
            type: object
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK.
        '202':
          description: Accepted and  the operation will complete asynchronously.
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - RunbookDraft
      x-ms-examples:
        Create or update runbook draft:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookContent: "<#\r\n        .DESCRIPTION\r\n            An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n            For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n        .NOTES\r\n            AUTHOR: Azure Automation Team\r\n            LASTEDIT: Mar27,\r\n            2015\r\n    #>\r\n    workflow Get-AzureVMTutorial{\r\n        #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n        $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n        #Get the credential with the above name from the Automation Asset store\r\n        $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n        if(!$Cred){\r\n            Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                }\r\n\r\n        #Connect to your Azure Account\r\n        $Account = Add-AzureAccount -Credential $Cred\r\n        if(!$Account){\r\n            Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                }\r\n\r\n        #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n        #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n        \r\n        #Get all the VMs you have in your Azure subscription\r\n        $VMs = Get-AzureVM\r\n\r\n        #Print out up to10 of those VMs\r\n        if(!$VMs){\r\n            Write-Output\"No VMs were found in your subscription.\"\r\n                } else{\r\n            Write-Output $VMs[0..9\r\n                    ]\r\n                }\r\n            }"
            subscriptionId: subid
          responses:
            '200':
              body: "<#\r\n        .DESCRIPTION\r\n            An example runbook which prints out the first10 Azure VMs in your subscription (ordered alphabetically).\r\n            For more information about how this runbook authenticates to your Azure subscription, see our documentation here: http: //aka.ms/fxu3mn\r\n\r\n        .NOTES\r\n            AUTHOR: Azure Automation Team\r\n            LASTEDIT: Mar27,\r\n                2015\r\n    #>\r\n    workflow Get-AzureVMTutorial{\r\n        #The name of the Automation Credential Asset this runbook will use to authenticate to Azure.\r\n        $CredentialAssetName = 'DefaultAzureCredential'\r\n\r\n        #Get the credential with the above name from the Automation Asset store\r\n        $Cred = Get-AutomationPSCredential -Name $CredentialAssetName\r\n        if(!$Cred){\r\n            Throw\"Could not find an Automation Credential Asset named '${CredentialAssetName}'. Make sure you have created one in this Automation Account.\"\r\n                    }\r\n\r\n        #Connect to your Azure Account\r\n        $Account = Add-AzureAccount -Credential $Cred\r\n        if(!$Account){\r\n            Throw\"Could not authenticate to Azure using the credential asset '${CredentialAssetName}'. Make sure the user name and password are correct.\"\r\n                    }\r\n\r\n        #TODO (optional): pick the right subscription to use. Without this line, the default subscription for your Azure Account will be used.\r\n        #Select-AzureSubscription -SubscriptionName\"TODO: your Azure subscription name here\"\r\n        \r\n        #Get all the VMs you have in your Azure subscription\r\n        $VMs = Get-AzureVM\r\n\r\n        #Print out up to10 of those VMs\r\n        if(!$VMs){\r\n            Write-Output\"No VMs were found in your subscription.\"\r\n                    } else{\r\n            Write-Output $VMs[0..9\r\n                        ]\r\n                    }\r\n                }"
              headers: {}
            '202': {}
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/publish':
    post:
      description: Publish runbook draft.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookdraftoperations'
      operationId: RunbookDraft_Publish
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The parameters supplied to the publish runbook operation.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            allOf:
              - $ref: '#/definitions/Resource'
            description: Definition of the runbook type.
            properties:
              etag:
                description: Gets or sets the etag of the resource.
                type: string
              properties:
                $ref: '#/definitions/RunbookProperties'
                description: Gets or sets the runbook properties.
                x-ms-client-flatten: true
        '202':
          description: Accepted and  the operation will complete asynchronously.
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - RunbookDraft
      x-ms-examples:
        Publish runbook draft:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            '200': {}
            '202': {}
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob':
    get:
      description: Retrieve the test job for the specified runbook.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/testjoboperations'
      operationId: TestJobs_Get
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Definition of the test job.
            properties:
              creationTime:
                description: Gets or sets the creation time of the test job.
                format: date-time
                type: string
              endTime:
                description: Gets or sets the end time of the test job.
                format: date-time
                type: string
              exception:
                description: Gets or sets the exception of the test job.
                type: string
              lastModifiedTime:
                description: Gets or sets the last modified time of the test job.
                format: date-time
                type: string
              lastStatusModifiedTime:
                description: Gets or sets the last status modified time of the test job.
                format: date-time
                type: string
              parameters:
                additionalProperties:
                  type: string
                description: Gets or sets the parameters of the test job.
                type: object
              runOn:
                description: Gets or sets the runOn which specifies the group name where the job is to be executed.
                type: string
              startTime:
                description: Gets or sets the start time of the test job.
                format: date-time
                type: string
              status:
                description: Gets or sets the status of the test job.
                type: string
              statusDetails:
                description: Gets or sets the status details of the test job.
                type: string
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - TestJobs
    put:
      description: Create a test job of the runbook.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/testjoboperations'
      operationId: TestJobs_Create
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The parameters supplied to the create test job operation.
          in: path
          name: runbookName
          required: true
          type: string
        - description: The parameters supplied to the create test job operation.
          in: body
          name: parameters
          required: true
          schema:
            description: The parameters supplied to the create test job operation.
            properties:
              parameters:
                additionalProperties:
                  type: string
                description: Gets or sets the parameters of the test job.
                type: object
              runOn:
                description: Gets or sets the runOn which specifies the group name where the job is to be executed.
                type: string
              runbookName:
                description: Gets or sets the runbook name.
                type: string
            required:
              - runbookName
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '201':
          description: Created
          schema:
            description: Definition of the test job.
            properties:
              creationTime:
                description: Gets or sets the creation time of the test job.
                format: date-time
                type: string
              endTime:
                description: Gets or sets the end time of the test job.
                format: date-time
                type: string
              exception:
                description: Gets or sets the exception of the test job.
                type: string
              lastModifiedTime:
                description: Gets or sets the last modified time of the test job.
                format: date-time
                type: string
              lastStatusModifiedTime:
                description: Gets or sets the last status modified time of the test job.
                format: date-time
                type: string
              parameters:
                additionalProperties:
                  type: string
                description: Gets or sets the parameters of the test job.
                type: object
              runOn:
                description: Gets or sets the runOn which specifies the group name where the job is to be executed.
                type: string
              startTime:
                description: Gets or sets the start time of the test job.
                format: date-time
                type: string
              status:
                description: Gets or sets the status of the test job.
                type: string
              statusDetails:
                description: Gets or sets the status details of the test job.
                type: string
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - TestJobs
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/resume':
    post:
      description: Resume the test job.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/testjoboperations'
      operationId: TestJobs_Resume
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - TestJobs
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/stop':
    post:
      description: Stop the test job.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/testjoboperations'
      operationId: TestJobs_Stop
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - TestJobs
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/streams':
    get:
      description: Retrieve a list of test job streams identified by runbook name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobstreamoperations'
      operationId: TestJobStreams_ListByTestJob
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: The response model for the list job stream operation.
            properties:
              nextLink:
                description: Gets or sets the next link.
                type: string
              value:
                description: A list of job streams.
                items:
                  $ref: './definitions.json#/definitions/JobStream'
                type: array
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - TestJobStreams
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/streams/{jobStreamId}':
    get:
      description: Retrieve a test job streams identified by runbook name and stream id.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/jobstreamoperations'
      operationId: TestJobStreams_Get
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: The job stream id.
          in: path
          name: jobStreamId
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: Definition of the job stream.
            properties:
              id:
                description: Gets or sets the id of the resource.
                type: string
              properties:
                $ref: './definitions.json#/definitions/JobStreamProperties'
                description: Gets or sets the id of the job stream.
                x-ms-client-flatten: true
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - TestJobStreams
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/testJob/suspend':
    post:
      description: Suspend the test job.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/testjoboperations'
      operationId: TestJobs_Suspend
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - TestJobs
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Automation/automationAccounts/{automationAccountName}/runbooks/{runbookName}/draft/undoEdit':
    post:
      description: Retrieve the runbook identified by runbook name.
      externalDocs:
        url: 'http://aka.ms/azureautomationsdk/runbookdraftoperations'
      operationId: RunbookDraft_UndoEdit
      parameters:
        - description: The resource group name.
          in: path
          name: resourceGroupName
          pattern: '^[-\w\._]+$'
          required: true
          type: string
        - description: The automation account name.
          in: path
          name: automationAccountName
          required: true
          type: string
        - description: The runbook name.
          in: path
          name: runbookName
          required: true
          type: string
        - description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            description: The response model for the undoedit runbook operation.
            properties:
              requestId:
                type: string
              statusCode:
                enum:
                  - Continue
                  - SwitchingProtocols
                  - OK
                  - Created
                  - Accepted
                  - NonAuthoritativeInformation
                  - NoContent
                  - ResetContent
                  - PartialContent
                  - MultipleChoices
                  - Ambiguous
                  - MovedPermanently
                  - Moved
                  - Found
                  - Redirect
                  - SeeOther
                  - RedirectMethod
                  - NotModified
                  - UseProxy
                  - Unused
                  - TemporaryRedirect
                  - RedirectKeepVerb
                  - BadRequest
                  - Unauthorized
                  - PaymentRequired
                  - Forbidden
                  - NotFound
                  - MethodNotAllowed
                  - NotAcceptable
                  - ProxyAuthenticationRequired
                  - RequestTimeout
                  - Conflict
                  - Gone
                  - LengthRequired
                  - PreconditionFailed
                  - RequestEntityTooLarge
                  - RequestUriTooLong
                  - UnsupportedMediaType
                  - RequestedRangeNotSatisfiable
                  - ExpectationFailed
                  - UpgradeRequired
                  - InternalServerError
                  - NotImplemented
                  - BadGateway
                  - ServiceUnavailable
                  - GatewayTimeout
                  - HttpVersionNotSupported
                type: string
                x-ms-enum:
                  modelAsString: false
                  name: HttpStatusCode
        default:
          description: Automation error response describing why the operation failed.
          schema:
            description: Error response of an operation failure
            properties:
              code:
                description: Error code
                type: string
              message:
                description: Error message indicating why the operation failed.
                type: string
            type: object
      tags:
        - RunbookDraft
      x-ms-examples:
        Undo draft edit to last known published state:
          parameters:
            api-version: '2015-10-31'
            automationAccountName: ContoseAutomationAccount
            resourceGroupName: rg
            runbookName: Get-AzureVMTutorial
            subscriptionId: subid
          responses:
            '200': {}
            '400': {}
definitions: {}
