openapi: 3.1.0
servers:
  - url: https://api.exoapi.dev
info:
  contact:
    email: hello@exoapi.dev
    name: ExoAPI
    url: https://exoapi.dev
  description: Universal API for developers - Geocoding, HTML rendering, barcode generation & more
  termsOfService: https://exoapi.dev/terms-and-conditions
  title: ExoAPI
  version: 1.0.0
  x-apisguru-categories:
    - developer_tools
  x-logo:
    altText: ExoAPI logo
    url: https://exoapi.dev/assets/exoapi-logo-square.svg
  x-origin:
    - format: openapi
      url: https://api.exoapi.dev/openapi.json
      version: "3.1"
  x-providerName: exoapi.dev
externalDocs:
  description: Documentation
  url: https://exoapi.dev/documentation
security:
  - bearerAuth: []
tags:
  - description: The easiest QR code & barcode generator API 🤳
    name: Barcode generator
  - description: The simplest HTML rendering API 📄✨
    name: HTML renderer
  - description: The affordable reverse geocoding API 🗺️📍
    name: Reverse geocoding
  - description: The simplest unit & currency conversion API
    name: Unit converter
paths:
  /barcode-generator:
    post:
      description: Generate high quality QR code & barcode images in a matter of seconds
      operationId: barcode-generator-post
      requestBody:
        content:
          application/json:
            schema:
              properties:
                backgroundColor:
                  default: "#ffffff"
                  description: Image background color (hexadecimal format)
                  type: string
                fitWidth:
                  default: false
                  description: Stretch barcodes to exactly fit the `width`. Due to the nature of barcodes, where every bar's width is a multiple of the narrowest bar, stretching may result in slightly blurry images, which are more difficult for devices to scan.
                  type: boolean
                foregroundColor:
                  default: "#000000"
                  description: Barcode color (hexadecimal format)
                  type: string
                format:
                  default: png
                  description: Output image format
                  enum:
                    - png
                    - svg
                  type: string
                height:
                  description: Height of the PNG code image
                  examples:
                    - 256
                  type: integer
                showText:
                  default: true
                  description: Display human-readable text under barcodes
                  type: boolean
                type:
                  default: qrcode
                  description: Type of code
                  enum:
                    - auspost
                    - azteccode
                    - azteccodecompact
                    - aztecrune
                    - bc412
                    - channelcode
                    - codablockf
                    - code11
                    - code128
                    - code16k
                    - code2of5
                    - code32
                    - code39
                    - code39ext
                    - code49
                    - code93
                    - code93ext
                    - codeone
                    - coop2of5
                    - daft
                    - databarexpanded
                    - databarexpandedcomposite
                    - databarexpandedstacked
                    - databarexpandedstackedcomposite
                    - databarlimited
                    - databarlimitedcomposite
                    - databaromni
                    - databaromnicomposite
                    - databarstacked
                    - databarstackedcomposite
                    - databarstackedomni
                    - databarstackedomnicomposite
                    - databartruncated
                    - databartruncatedcomposite
                    - datalogic2of5
                    - datamatrix
                    - datamatrixrectangular
                    - datamatrixrectangularextension
                    - dotcode
                    - ean13
                    - ean13composite
                    - ean14
                    - ean2
                    - ean5
                    - ean8
                    - ean8composite
                    - flattermarken
                    - gs1-128
                    - gs1-128composite
                    - gs1-cc
                    - gs1datamatrix
                    - gs1datamatrixrectangular
                    - gs1northamericancoupon
                    - gs1qrcode
                    - hanxin
                    - hibcazteccode
                    - hibccodablockf
                    - hibccode128
                    - hibccode39
                    - hibcdatamatrix
                    - hibcdatamatrixrectangular
                    - hibcmicropdf417
                    - hibcpdf417
                    - hibcqrcode
                    - iata2of5
                    - identcode
                    - industrial2of5
                    - interleaved2of5
                    - isbn
                    - ismn
                    - issn
                    - itf14
                    - japanpost
                    - kix
                    - leitcode
                    - mailmark
                    - matrix2of5
                    - maxicode
                    - micropdf417
                    - microqrcode
                    - msi
                    - onecode
                    - pdf417
                    - pdf417compact
                    - pharmacode
                    - pharmacode2
                    - planet
                    - plessey
                    - posicode
                    - postnet
                    - pzn
                    - qrcode
                    - rationalizedCodabar
                    - raw
                    - royalmail
                    - sscc18
                    - symbol
                    - telepen
                    - telepennumeric
                    - ultracode
                    - upca
                    - upcacomposite
                    - upce
                    - upcecomposite
                  examples:
                    - qrcode
                    - code128
                    - isbn
                  type: string
                value:
                  description: Content to encode into the code
                  examples:
                    - "1234567890"
                  type: string
                width:
                  default: 256
                  description: Width of the PNG code image
                  examples:
                    - 256
                  type: integer
              required:
                - type
                - value
              type: object
        required: true
      responses:
        "200":
          content:
            image/png:
              schema:
                format: binary
                type: string
            image/svg+xml:
              schema:
                format: binary
                type: string
          description: 🟢 200 OK
        "400":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - Invalid or missing 'value' parameter
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "400"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Bad request
                    type: string
                type: object
          description: 🟡 400 Bad request
        "401":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - 🔍 Authorization token not found
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "401"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Unauthorized
                    type: string
                type: object
          description: 🟡 401 Unauthorized
        "429":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - Too many requests
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "429"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Too many requests
                    type: string
                type: object
          description: 🟡 429 Too many requests
        "500":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - Internal server error
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "500"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Internal server error
                    type: string
                type: object
          description: 🔴 500 Internal server error
      tags:
        - Barcode generator
  /html-renderer:
    post:
      description: Generate high-quality PDF documents or images from HTML
      operationId: html-renderer-post
      requestBody:
        content:
          application/json:
            schema:
              properties:
                css:
                  description: Custom CSS style content
                  examples:
                    - "body { background-color: yellow; }"
                  type: string
                footer:
                  description: 'HTML page footer content. Use special CSS classes to inject parameters: "date", "pageNumber", "totalPages"'
                  examples:
                    - <div style="background:grey; width:100%; height:30px; font-size:20px">Page <span class="pageNumber"></span> of <span class="totalPages"></span></div>
                  type: string
                format:
                  default: pdf
                  description: Output format
                  enum:
                    - pdf
                    - png
                  type: string
                header:
                  description: 'HTML page header content. Use special CSS classes to inject parameters: "date", "pageNumber", "totalPages"'
                  examples:
                    - <div style="background:grey; width:100%; height:30px; font-size:20px">Page <span class="pageNumber"></span> of <span class="totalPages"></span></div>
                  type: string
                html:
                  description: HTML content to render
                  examples:
                    - <p>Hello world!<p>
                  type: string
                imageHeight:
                  description: PNG image height (in pixels). In not specified, the height will automatically adapt to the content
                  examples:
                    - 256
                  type: integer
                imageWidth:
                  default: 512
                  description: PNG image width (in pixels)
                  examples:
                    - 256
                  type: integer
                landscape:
                  default: false
                  description: PDF document orientation
                  type: boolean
                margin:
                  default: 0
                  description: PDF page margin (in px, mm, in or cm)
                  examples:
                    - 1in
                  type: string
                marginBottom:
                  default: 0
                  description: PDF bottom margin (in px, mm, in or cm)
                  examples:
                    - 4.5cm
                  type: string
                marginLeft:
                  default: 0
                  description: PDF left margin (in px, mm, in or cm)
                  examples:
                    - 25mm
                  type: string
                marginRight:
                  default: 0
                  description: PDF right margin (in px, mm, in or cm)
                  examples:
                    - 25mm
                  type: string
                marginTop:
                  default: 0
                  description: PDF top margin (in px, mm, in or cm)
                  examples:
                    - 4.5cm
                  type: string
                pageHeight:
                  description: Explicit PDF height (in px, mm, in or cm)
                  examples:
                    - "256"
                    - 4.5cm
                  type: string
                pageSize:
                  default: a4
                  description: Default page size of the generated PDF document
                  enum:
                    - letter
                    - legal
                    - tabloid
                    - ledger
                    - a0
                    - a1
                    - a2
                    - a3
                    - a4
                    - a5
                    - a6
                  type: string
                pageWidth:
                  description: Explicit PDF width (in px, mm, in or cm)
                  examples:
                    - "256"
                    - 100px
                  type: string
                title:
                  description: Title of the generated PDF document or PNG image
                  examples:
                    - My document
                  type: string
              required:
                - html
              type: object
        required: true
      responses:
        "200":
          content:
            application/pdf:
              schema:
                format: binary
                type: string
            image/png:
              schema:
                format: binary
                type: string
          description: 🟢 200 OK
        "401":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - 🔍 Authorization token not found
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "401"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Unauthorized
                    type: string
                type: object
          description: 🟡 401 Unauthorized
        "429":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - Too many requests
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "429"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Too many requests
                    type: string
                type: object
          description: 🟡 429 Too many requests
        "500":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - Internal server error
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "500"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Internal server error
                    type: string
                type: object
          description: 🔴 500 Internal server error
      tags:
        - HTML renderer
  /reverse-geocoding:
    get:
      description: Quickly convert GPS coordinates to human-readable addresses
      operationId: reverse-geocoding-get
      parameters:
        - in: query
          name: lat
          required: true
          schema:
            description: Latitude
            examples:
              - 51.5237498111111
            type: number
        - in: query
          name: lon
          required: true
          schema:
            description: Longitude
            examples:
              - -0.1585443
            type: number
        - in: query
          name: locale
          required: false
          schema:
            description: BCP 47 language/country code
            examples:
              - en
              - en-US
              - fr-FR
              - pt-BR
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  address:
                    description: Formatted address according to locale parameter
                    examples:
                      - 221B Baker Street, London NW1 6XE, United Kingdom
                    type: string
                  city:
                    description: City name
                    examples:
                      - London
                    type: string
                  country:
                    description: Country name
                    examples:
                      - United Kingdom
                    type: string
                  countryCode:
                    description: ISO 3166-1 alpha-2 country code
                    examples:
                      - GB
                    type: string
                  countryCode3:
                    description: ISO3166-1 alpha3 country code
                    examples:
                      - GBR
                    type: string
                  currency:
                    description: ISO 4217 currency code, if available
                    examples:
                      - GBP
                    type: string
                  houseNumber:
                    description: House number
                    examples:
                      - 221B
                    type: string
                  lat:
                    description: Latitude
                    examples:
                      - 51.5237498111111
                    type: number
                  lon:
                    description: Longitude
                    examples:
                      - -0.1585443
                    type: number
                  postalCode:
                    description: Postal code
                    examples:
                      - NW1 6XE
                    type: string
                  region:
                    description: Region/state name
                    examples:
                      - England
                    type: string
                  regionCode:
                    description: ISO3166-2 region/state code
                    examples:
                      - GB-ENG
                    type: string
                  street:
                    description: Street name
                    examples:
                      - Baker Street
                    type: string
                type: object
          description: 🟢 200 OK
        "401":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - 🔍 Authorization token not found
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "401"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Unauthorized
                    type: string
                type: object
          description: 🟡 401 Unauthorized
        "429":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - Too many requests
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "429"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Too many requests
                    type: string
                type: object
          description: 🟡 429 Too many requests
        "500":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - Internal server error
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "500"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Internal server error
                    type: string
                type: object
          description: 🔴 500 Internal server error
      tags:
        - Reverse geocoding
  /unit-converter:
    get:
      description: Quickly convert between all different kinds of measurement units
      operationId: unit-converter-get
      parameters:
        - in: query
          name: from
          required: true
          schema:
            description: Source unit
            enum:
              - m/s2
              - "'"
              - "''"
              - deg
              - gon
              - rad
              - rad/s
              - "[acr_us]"
              - "[sft_i]"
              - "[sin_i]"
              - "[smi_us]"
              - "[syd_i]"
              - ar
              - cm2
              - har
              - km2
              - m2
              - mm2
              - AUD
              - BGN
              - BRL
              - CAD
              - CHF
              - CNY
              - CZK
              - DKK
              - EUR
              - GBP
              - HKD
              - HUF
              - IDR
              - ILS
              - INR
              - ISK
              - JPY
              - KRW
              - MXN
              - MYR
              - NOK
              - NZD
              - PHP
              - PLN
              - RON
              - SEK
              - SGD
              - THB
              - TRY
              - USD
              - ZAR
              - F
              - C
              - S
              - A
              - V
              - Ohm
              - "[Btu_IT]"
              - J
              - kW.h
              - MJ
              - kW.h/100km
              - m/J
              - W.h/km
              - N
              - "%"
              - bpm
              - Hz
              - rpm
              - "[mi_i]/[gal_br]"
              - L/100km
              - m/m3
              - lx
              - H
              - "[ft_i]"
              - "[in_i]"
              - "[mi_i]"
              - "[nmi_i]"
              - "[yd_i]"
              - cm
              - dm
              - km
              - m
              - mm
              - g/km
              - kg/m
              - lm
              - Wb
              - T
              - "[lb_av]"
              - g
              - kg
              - t
              - "[HP_e]"
              - "[HP_m]"
              - "[HP_s]"
              - "[HP]"
              - kW
              - W
              - Pa
              - Bq
              - "[kn_i]"
              - km/h
              - m/s
              - "[degF]"
              - Cel
              - K
              - a
              - d
              - h
              - min
              - mo
              - s
              - wk
              - N.m
              - "[gal_br]"
              - "[pk_br]"
              - L
              - m3
            examples:
              - km
              - L/100km
              - rad/s
            type: string
        - in: query
          name: to
          required: true
          schema:
            description: Target unit
            enum:
              - m/s2
              - "'"
              - "''"
              - deg
              - gon
              - rad
              - rad/s
              - "[acr_us]"
              - "[sft_i]"
              - "[sin_i]"
              - "[smi_us]"
              - "[syd_i]"
              - ar
              - cm2
              - har
              - km2
              - m2
              - mm2
              - AUD
              - BGN
              - BRL
              - CAD
              - CHF
              - CNY
              - CZK
              - DKK
              - EUR
              - GBP
              - HKD
              - HUF
              - IDR
              - ILS
              - INR
              - ISK
              - JPY
              - KRW
              - MXN
              - MYR
              - NOK
              - NZD
              - PHP
              - PLN
              - RON
              - SEK
              - SGD
              - THB
              - TRY
              - USD
              - ZAR
              - F
              - C
              - S
              - A
              - V
              - Ohm
              - "[Btu_IT]"
              - J
              - kW.h
              - MJ
              - kW.h/100km
              - m/J
              - W.h/km
              - N
              - "%"
              - bpm
              - Hz
              - rpm
              - "[mi_i]/[gal_br]"
              - L/100km
              - m/m3
              - lx
              - H
              - "[ft_i]"
              - "[in_i]"
              - "[mi_i]"
              - "[nmi_i]"
              - "[yd_i]"
              - cm
              - dm
              - km
              - m
              - mm
              - g/km
              - kg/m
              - lm
              - Wb
              - T
              - "[lb_av]"
              - g
              - kg
              - t
              - "[HP_e]"
              - "[HP_m]"
              - "[HP_s]"
              - "[HP]"
              - kW
              - W
              - Pa
              - Bq
              - "[kn_i]"
              - km/h
              - m/s
              - "[degF]"
              - Cel
              - K
              - a
              - d
              - h
              - min
              - mo
              - s
              - wk
              - N.m
              - "[gal_br]"
              - "[pk_br]"
              - L
              - m3
            examples:
              - km
              - L/100km
              - rad/s
            type: string
        - in: query
          name: value
          required: true
          schema:
            description: Value to convert
            examples:
              - 123.45
            type: number
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  from:
                    description: Source unit
                    enum:
                      - m/s2
                      - "'"
                      - "''"
                      - deg
                      - gon
                      - rad
                      - rad/s
                      - "[acr_us]"
                      - "[sft_i]"
                      - "[sin_i]"
                      - "[smi_us]"
                      - "[syd_i]"
                      - ar
                      - cm2
                      - har
                      - km2
                      - m2
                      - mm2
                      - AUD
                      - BGN
                      - BRL
                      - CAD
                      - CHF
                      - CNY
                      - CZK
                      - DKK
                      - EUR
                      - GBP
                      - HKD
                      - HUF
                      - IDR
                      - ILS
                      - INR
                      - ISK
                      - JPY
                      - KRW
                      - MXN
                      - MYR
                      - NOK
                      - NZD
                      - PHP
                      - PLN
                      - RON
                      - SEK
                      - SGD
                      - THB
                      - TRY
                      - USD
                      - ZAR
                      - F
                      - C
                      - S
                      - A
                      - V
                      - Ohm
                      - "[Btu_IT]"
                      - J
                      - kW.h
                      - MJ
                      - kW.h/100km
                      - m/J
                      - W.h/km
                      - N
                      - "%"
                      - bpm
                      - Hz
                      - rpm
                      - "[mi_i]/[gal_br]"
                      - L/100km
                      - m/m3
                      - lx
                      - H
                      - "[ft_i]"
                      - "[in_i]"
                      - "[mi_i]"
                      - "[nmi_i]"
                      - "[yd_i]"
                      - cm
                      - dm
                      - km
                      - m
                      - mm
                      - g/km
                      - kg/m
                      - lm
                      - Wb
                      - T
                      - "[lb_av]"
                      - g
                      - kg
                      - t
                      - "[HP_e]"
                      - "[HP_m]"
                      - "[HP_s]"
                      - "[HP]"
                      - kW
                      - W
                      - Pa
                      - Bq
                      - "[kn_i]"
                      - km/h
                      - m/s
                      - "[degF]"
                      - Cel
                      - K
                      - a
                      - d
                      - h
                      - min
                      - mo
                      - s
                      - wk
                      - N.m
                      - "[gal_br]"
                      - "[pk_br]"
                      - L
                      - m3
                    examples:
                      - km
                      - L/100km
                      - rad/s
                    type: string
                  result:
                    description: Result of the conversion
                    type: number
                  to:
                    description: Target unit
                    enum:
                      - m/s2
                      - "'"
                      - "''"
                      - deg
                      - gon
                      - rad
                      - rad/s
                      - "[acr_us]"
                      - "[sft_i]"
                      - "[sin_i]"
                      - "[smi_us]"
                      - "[syd_i]"
                      - ar
                      - cm2
                      - har
                      - km2
                      - m2
                      - mm2
                      - AUD
                      - BGN
                      - BRL
                      - CAD
                      - CHF
                      - CNY
                      - CZK
                      - DKK
                      - EUR
                      - GBP
                      - HKD
                      - HUF
                      - IDR
                      - ILS
                      - INR
                      - ISK
                      - JPY
                      - KRW
                      - MXN
                      - MYR
                      - NOK
                      - NZD
                      - PHP
                      - PLN
                      - RON
                      - SEK
                      - SGD
                      - THB
                      - TRY
                      - USD
                      - ZAR
                      - F
                      - C
                      - S
                      - A
                      - V
                      - Ohm
                      - "[Btu_IT]"
                      - J
                      - kW.h
                      - MJ
                      - kW.h/100km
                      - m/J
                      - W.h/km
                      - N
                      - "%"
                      - bpm
                      - Hz
                      - rpm
                      - "[mi_i]/[gal_br]"
                      - L/100km
                      - m/m3
                      - lx
                      - H
                      - "[ft_i]"
                      - "[in_i]"
                      - "[mi_i]"
                      - "[nmi_i]"
                      - "[yd_i]"
                      - cm
                      - dm
                      - km
                      - m
                      - mm
                      - g/km
                      - kg/m
                      - lm
                      - Wb
                      - T
                      - "[lb_av]"
                      - g
                      - kg
                      - t
                      - "[HP_e]"
                      - "[HP_m]"
                      - "[HP_s]"
                      - "[HP]"
                      - kW
                      - W
                      - Pa
                      - Bq
                      - "[kn_i]"
                      - km/h
                      - m/s
                      - "[degF]"
                      - Cel
                      - K
                      - a
                      - d
                      - h
                      - min
                      - mo
                      - s
                      - wk
                      - N.m
                      - "[gal_br]"
                      - "[pk_br]"
                      - L
                      - m3
                    examples:
                      - km
                      - L/100km
                      - rad/s
                    type: string
                  type:
                    enum:
                      - acceleration
                      - angle
                      - angularVelocity
                      - area
                      - currency
                      - electricCapacitance
                      - electricCharge
                      - electricConductance
                      - electricCurrent
                      - electricPotential
                      - electricResistance
                      - energy
                      - energyEfficiency
                      - force
                      - fraction
                      - frequency
                      - fuelEfficiency
                      - illuminance
                      - inductance
                      - length
                      - linearMassDensity
                      - luminousFlux
                      - magneticFlux
                      - magneticFluxDensity
                      - mass
                      - power
                      - pressure
                      - radioactivity
                      - speed
                      - temperature
                      - time
                      - torque
                      - volume
                    type: string
                  value:
                    description: Value to convert
                    examples:
                      - 123.45
                    type: number
                type: object
          description: 🟢 200 OK
        "400":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - "Unit type mismatch: length != temperature"
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "400"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Bad request
                    type: string
                type: object
          description: 🟡 400 Bad request
        "401":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - 🔍 Authorization token not found
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "401"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Unauthorized
                    type: string
                type: object
          description: 🟡 401 Unauthorized
        "429":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - Too many requests
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "429"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Too many requests
                    type: string
                type: object
          description: 🟡 429 Too many requests
        "500":
          content:
            application/json:
              schema:
                properties:
                  detail:
                    description: Error description
                    examples:
                      - Internal server error
                    type: string
                  status:
                    description: Status code
                    examples:
                      - "500"
                    type: string
                  title:
                    description: Error type
                    examples:
                      - Internal server error
                    type: string
                type: object
          description: 🔴 500 Internal server error
      tags:
        - Unit converter
components:
  securitySchemes:
    bearerAuth:
      scheme: bearer
      type: http
