swagger: '2.0'
schemes:
  - https
  - http
host: appsync.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: AWS AppSync provides API actions for creating and interacting with data sources using GraphQL from your application.
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS AppSync
  version: '2017-07-25'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/appsync-2017-07-25.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: appsync
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/appsync/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /v1/apis:
    get:
      description: Lists your GraphQL APIs.
      operationId: ListGraphqlApis
      parameters:
        - description: 'An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. '
          in: query
          name: nextToken
          pattern: '[\\S]+'
          required: false
          type: string
        - description: The maximum number of results you want the request to return.
          in: query
          maximum: 25
          minimum: 0
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListGraphqlApisResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a <code>GraphqlApi</code> object.
      operationId: CreateGraphqlApi
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              additionalAuthenticationProviders:
                description: A list of additional authentication providers for the <code>GraphqlApi</code> API.
                items:
                  $ref: '#/definitions/AdditionalAuthenticationProvider'
                type: array
              authenticationType:
                description: 'The authentication type: API key, AWS IAM, OIDC, or Amazon Cognito user pools.'
                enum:
                  - API_KEY
                  - AWS_IAM
                  - AMAZON_COGNITO_USER_POOLS
                  - OPENID_CONNECT
                type: string
              logConfig:
                description: The CloudWatch Logs configuration.
                properties:
                  cloudWatchLogsRoleArn:
                    $ref: '#/definitions/String'
                    description: 'The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. '
                  excludeVerboseContent:
                    $ref: '#/definitions/Boolean'
                    description: 'Set to TRUE to exclude sections that contain information such as headers, context, and evaluated mapping templates, regardless of logging level.'
                  fieldLogLevel:
                    $ref: '#/definitions/FieldLogLevel'
                    description: '<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>'
                type: object
              name:
                description: A user-supplied name for the <code>GraphqlApi</code>.
                type: string
              openIDConnectConfig:
                description: Describes an OpenID Connect configuration.
                properties:
                  authTTL:
                    $ref: '#/definitions/Long'
                    description: The number of milliseconds a token is valid after being authenticated.
                  clientId:
                    $ref: '#/definitions/String'
                    description: The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time.
                  iatTTL:
                    $ref: '#/definitions/Long'
                    description: The number of milliseconds a token is valid after being issued to a user.
                  issuer:
                    $ref: '#/definitions/String'
                    description: The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token.
                type: object
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A map with keys of <code>TagKey</code> objects and values of <code>TagValue</code> objects.
                maxProperties: 50
                minProperties: 1
                type: object
              userPoolConfig:
                description: Describes an Amazon Cognito user pool configuration.
                properties:
                  appIdClientRegex:
                    $ref: '#/definitions/String'
                    description: A regular expression for validating the incoming Amazon Cognito user pool app client ID.
                  awsRegion:
                    $ref: '#/definitions/String'
                    description: The AWS Region in which the user pool was created.
                  defaultAction:
                    $ref: '#/definitions/DefaultAction'
                    description: The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration.
                  userPoolId:
                    $ref: '#/definitions/String'
                    description: The user pool ID.
                type: object
            required:
              - name
              - logConfig
              - authenticationType
              - userPoolConfig
              - openIDConnectConfig
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateGraphqlApiResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '485':
          description: ApiLimitExceededException
          schema:
            $ref: '#/definitions/ApiLimitExceededException'
  '/v1/apis/{apiId}':
    delete:
      description: Deletes a <code>GraphqlApi</code> object.
      operationId: DeleteGraphqlApi
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteGraphqlApiResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
    get:
      description: Retrieves a <code>GraphqlApi</code> object.
      operationId: GetGraphqlApi
      parameters:
        - description: The API ID for the GraphQL API.
          in: path
          name: apiId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetGraphqlApiResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a <code>GraphqlApi</code> object.
      operationId: UpdateGraphqlApi
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              additionalAuthenticationProviders:
                description: A list of additional authentication providers for the <code>GraphqlApi</code> API.
                items:
                  $ref: '#/definitions/AdditionalAuthenticationProvider'
                type: array
              authenticationType:
                description: The new authentication type for the <code>GraphqlApi</code> object.
                enum:
                  - API_KEY
                  - AWS_IAM
                  - AMAZON_COGNITO_USER_POOLS
                  - OPENID_CONNECT
                type: string
              logConfig:
                description: The CloudWatch Logs configuration.
                properties:
                  cloudWatchLogsRoleArn:
                    $ref: '#/definitions/String'
                    description: 'The service role that AWS AppSync will assume to publish to Amazon CloudWatch logs in your account. '
                  excludeVerboseContent:
                    $ref: '#/definitions/Boolean'
                    description: 'Set to TRUE to exclude sections that contain information such as headers, context, and evaluated mapping templates, regardless of logging level.'
                  fieldLogLevel:
                    $ref: '#/definitions/FieldLogLevel'
                    description: '<p>The field logging level. Values can be NONE, ERROR, or ALL. </p> <ul> <li> <p> <b>NONE</b>: No field-level logs are captured.</p> </li> <li> <p> <b>ERROR</b>: Logs the following information only for the fields that are in error:</p> <ul> <li> <p>The error section in the server response.</p> </li> <li> <p>Field-level errors.</p> </li> <li> <p>The generated request/response functions that got resolved for error fields.</p> </li> </ul> </li> <li> <p> <b>ALL</b>: The following information is logged for all fields in the query:</p> <ul> <li> <p>Field-level tracing information.</p> </li> <li> <p>The generated request/response functions that got resolved for each field.</p> </li> </ul> </li> </ul>'
                type: object
              name:
                description: The new name for the <code>GraphqlApi</code> object.
                type: string
              openIDConnectConfig:
                description: Describes an OpenID Connect configuration.
                properties:
                  authTTL:
                    $ref: '#/definitions/Long'
                    description: The number of milliseconds a token is valid after being authenticated.
                  clientId:
                    $ref: '#/definitions/String'
                    description: The client identifier of the Relying party at the OpenID identity provider. This identifier is typically obtained when the Relying party is registered with the OpenID identity provider. You can specify a regular expression so the AWS AppSync can validate against multiple client identifiers at a time.
                  iatTTL:
                    $ref: '#/definitions/Long'
                    description: The number of milliseconds a token is valid after being issued to a user.
                  issuer:
                    $ref: '#/definitions/String'
                    description: The issuer for the OpenID Connect configuration. The issuer returned by discovery must exactly match the value of <code>iss</code> in the ID token.
                type: object
              userPoolConfig:
                description: Describes an Amazon Cognito user pool configuration.
                properties:
                  appIdClientRegex:
                    $ref: '#/definitions/String'
                    description: A regular expression for validating the incoming Amazon Cognito user pool app client ID.
                  awsRegion:
                    $ref: '#/definitions/String'
                    description: The AWS Region in which the user pool was created.
                  defaultAction:
                    $ref: '#/definitions/DefaultAction'
                    description: The action that you want your GraphQL API to take when a request that uses Amazon Cognito user pool authentication doesn't match the Amazon Cognito user pool configuration.
                  userPoolId:
                    $ref: '#/definitions/String'
                    description: The user pool ID.
                type: object
            required:
              - name
              - logConfig
              - userPoolConfig
              - openIDConnectConfig
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateGraphqlApiResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/v1/apis/{apiId}/apikeys':
    get:
      description: '<p>Lists the API keys for a given API.</p> <note> <p>API keys are deleted automatically sometime after they expire. However, they may still be included in the response until they have actually been deleted. You can safely call <code>DeleteApiKey</code> to manually delete a key before it''s automatically deleted.</p> </note>'
      operationId: ListApiKeys
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: 'An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list.'
          in: query
          name: nextToken
          pattern: '[\\S]+'
          required: false
          type: string
        - description: The maximum number of results you want the request to return.
          in: query
          maximum: 25
          minimum: 0
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListApiKeysResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a unique key that you can distribute to clients who are executing your API.
      operationId: CreateApiKey
      parameters:
        - description: The ID for your GraphQL API.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: A description of the purpose of the API key.
                type: string
              expires:
                description: 'The time from creation time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour. The default value for this parameter is 7 days from creation time. For more information, see .'
                type: integer
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateApiKeyResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '486':
          description: ApiKeyLimitExceededException
          schema:
            $ref: '#/definitions/ApiKeyLimitExceededException'
        '487':
          description: ApiKeyValidityOutOfBoundsException
          schema:
            $ref: '#/definitions/ApiKeyValidityOutOfBoundsException'
  '/v1/apis/{apiId}/apikeys/{id}':
    delete:
      description: Deletes an API key.
      operationId: DeleteApiKey
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The ID for the API key.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteApiKeyResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates an API key.
      operationId: UpdateApiKey
      parameters:
        - description: The ID for the GraphQL API.
          in: path
          name: apiId
          required: true
          type: string
        - description: The API key ID.
          in: path
          name: id
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: A description of the purpose of the API key.
                type: string
              expires:
                description: 'The time from update time after which the API key expires. The date is represented as seconds since the epoch. For more information, see .'
                type: integer
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateApiKeyResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '485':
          description: ApiKeyValidityOutOfBoundsException
          schema:
            $ref: '#/definitions/ApiKeyValidityOutOfBoundsException'
  '/v1/apis/{apiId}/datasources':
    get:
      description: Lists the data sources for a given API.
      operationId: ListDataSources
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: 'An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. '
          in: query
          name: nextToken
          pattern: '[\\S]+'
          required: false
          type: string
        - description: The maximum number of results you want the request to return.
          in: query
          maximum: 25
          minimum: 0
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDataSourcesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a <code>DataSource</code> object.
      operationId: CreateDataSource
      parameters:
        - description: The API ID for the GraphQL API for the <code>DataSource</code>.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: A description of the <code>DataSource</code>.
                type: string
              dynamodbConfig:
                description: Describes an Amazon DynamoDB data source configuration.
                properties:
                  awsRegion:
                    $ref: '#/definitions/String'
                    description: The AWS Region.
                  tableName:
                    $ref: '#/definitions/String'
                    description: The table name.
                  useCallerCredentials:
                    $ref: '#/definitions/Boolean'
                    description: Set to TRUE to use Amazon Cognito credentials with this data source.
                type: object
              elasticsearchConfig:
                description: Describes an Elasticsearch data source configuration.
                properties:
                  awsRegion:
                    $ref: '#/definitions/String'
                    description: The AWS Region.
                  endpoint:
                    $ref: '#/definitions/String'
                    description: The endpoint.
                type: object
              httpConfig:
                description: Describes an HTTP data source configuration.
                properties:
                  authorizationConfig:
                    $ref: '#/definitions/AuthorizationConfig'
                    description: The authorization config in case the HTTP endpoint requires authorization.
                  endpoint:
                    $ref: '#/definitions/String'
                    description: 'The HTTP URL endpoint. You can either specify the domain name or IP, and port combination, and the URL scheme must be HTTP or HTTPS. If the port is not specified, AWS AppSync uses the default port 80 for the HTTP endpoint and port 443 for HTTPS endpoints.'
                type: object
              lambdaConfig:
                description: Describes an AWS Lambda data source configuration.
                properties:
                  lambdaFunctionArn:
                    $ref: '#/definitions/String'
                    description: The ARN for the Lambda function.
                type: object
              name:
                description: A user-supplied name for the <code>DataSource</code>.
                pattern: '[_A-Za-z][_0-9A-Za-z]*'
                type: string
              relationalDatabaseConfig:
                description: Describes a relational database data source configuration.
                properties:
                  rdsHttpEndpointConfig:
                    $ref: '#/definitions/RdsHttpEndpointConfig'
                    description: Amazon RDS HTTP endpoint settings.
                  relationalDatabaseSourceType:
                    $ref: '#/definitions/RelationalDatabaseSourceType'
                    description: '<p>Source type for the relational database.</p> <ul> <li> <p> <b>RDS_HTTP_ENDPOINT</b>: The relational database source type is an Amazon RDS HTTP endpoint.</p> </li> </ul>'
                type: object
              serviceRoleArn:
                description: The AWS IAM service role ARN for the data source. The system assumes this role when accessing the data source.
                type: string
              type:
                description: The type of the <code>DataSource</code>.
                enum:
                  - AWS_LAMBDA
                  - AMAZON_DYNAMODB
                  - AMAZON_ELASTICSEARCH
                  - NONE
                  - HTTP
                  - RELATIONAL_DATABASE
                type: string
            required:
              - name
              - type
              - dynamodbConfig
              - lambdaConfig
              - elasticsearchConfig
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDataSourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/v1/apis/{apiId}/datasources/{name}':
    delete:
      description: Deletes a <code>DataSource</code> object.
      operationId: DeleteDataSource
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The name of the data source.
          in: path
          name: name
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDataSourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    get:
      description: Retrieves a <code>DataSource</code> object.
      operationId: GetDataSource
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The name of the data source.
          in: path
          name: name
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDataSourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a <code>DataSource</code> object.
      operationId: UpdateDataSource
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The new name for the data source.
          in: path
          name: name
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: The new description for the data source.
                type: string
              dynamodbConfig:
                description: Describes an Amazon DynamoDB data source configuration.
                properties:
                  awsRegion:
                    $ref: '#/definitions/String'
                    description: The AWS Region.
                  tableName:
                    $ref: '#/definitions/String'
                    description: The table name.
                  useCallerCredentials:
                    $ref: '#/definitions/Boolean'
                    description: Set to TRUE to use Amazon Cognito credentials with this data source.
                type: object
              elasticsearchConfig:
                description: Describes an Elasticsearch data source configuration.
                properties:
                  awsRegion:
                    $ref: '#/definitions/String'
                    description: The AWS Region.
                  endpoint:
                    $ref: '#/definitions/String'
                    description: The endpoint.
                type: object
              httpConfig:
                description: Describes an HTTP data source configuration.
                properties:
                  authorizationConfig:
                    $ref: '#/definitions/AuthorizationConfig'
                    description: The authorization config in case the HTTP endpoint requires authorization.
                  endpoint:
                    $ref: '#/definitions/String'
                    description: 'The HTTP URL endpoint. You can either specify the domain name or IP, and port combination, and the URL scheme must be HTTP or HTTPS. If the port is not specified, AWS AppSync uses the default port 80 for the HTTP endpoint and port 443 for HTTPS endpoints.'
                type: object
              lambdaConfig:
                description: Describes an AWS Lambda data source configuration.
                properties:
                  lambdaFunctionArn:
                    $ref: '#/definitions/String'
                    description: The ARN for the Lambda function.
                type: object
              relationalDatabaseConfig:
                description: Describes a relational database data source configuration.
                properties:
                  rdsHttpEndpointConfig:
                    $ref: '#/definitions/RdsHttpEndpointConfig'
                    description: Amazon RDS HTTP endpoint settings.
                  relationalDatabaseSourceType:
                    $ref: '#/definitions/RelationalDatabaseSourceType'
                    description: '<p>Source type for the relational database.</p> <ul> <li> <p> <b>RDS_HTTP_ENDPOINT</b>: The relational database source type is an Amazon RDS HTTP endpoint.</p> </li> </ul>'
                type: object
              serviceRoleArn:
                description: The new service role ARN for the data source.
                type: string
              type:
                description: The new data source type.
                enum:
                  - AWS_LAMBDA
                  - AMAZON_DYNAMODB
                  - AMAZON_ELASTICSEARCH
                  - NONE
                  - HTTP
                  - RELATIONAL_DATABASE
                type: string
            required:
              - type
              - dynamodbConfig
              - lambdaConfig
              - elasticsearchConfig
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDataSourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/v1/apis/{apiId}/functions':
    get:
      description: List multiple functions.
      operationId: ListFunctions
      parameters:
        - description: The GraphQL API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: 'An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list.'
          in: query
          name: nextToken
          pattern: '[\\S]+'
          required: false
          type: string
        - description: The maximum number of results you want the request to return.
          in: query
          maximum: 25
          minimum: 0
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListFunctionsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Creates a <code>Function</code> object.</p> <p>A function is a reusable entity. Multiple functions can be used to compose the resolver logic.</p>
      operationId: CreateFunction
      parameters:
        - description: The GraphQL API ID.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              dataSourceName:
                description: The <code>Function</code> <code>DataSource</code> name.
                pattern: '[_A-Za-z][_0-9A-Za-z]*'
                type: string
              description:
                description: The <code>Function</code> description.
                type: string
              functionVersion:
                description: 'The <code>version</code> of the request mapping template. Currently the supported value is 2018-05-29. '
                type: string
              name:
                description: The <code>Function</code> name. The function name does not have to be unique.
                pattern: '[_A-Za-z][_0-9A-Za-z]*'
                type: string
              requestMappingTemplate:
                description: The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.
                maxLength: 65536
                minLength: 1
                type: string
              responseMappingTemplate:
                description: 'The <code>Function</code> response mapping template. '
                maxLength: 65536
                minLength: 1
                type: string
            required:
              - name
              - dataSourceName
              - requestMappingTemplate
              - functionVersion
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateFunctionResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/v1/apis/{apiId}/functions/{functionId}':
    delete:
      description: Deletes a <code>Function</code>.
      operationId: DeleteFunction
      parameters:
        - description: The GraphQL API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The <code>Function</code> ID.
          in: path
          name: functionId
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteFunctionResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    get:
      description: Get a <code>Function</code>.
      operationId: GetFunction
      parameters:
        - description: The GraphQL API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The <code>Function</code> ID.
          in: path
          name: functionId
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFunctionResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a <code>Function</code> object.
      operationId: UpdateFunction
      parameters:
        - description: The GraphQL API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The function ID.
          in: path
          name: functionId
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              dataSourceName:
                description: The <code>Function</code> <code>DataSource</code> name.
                pattern: '[_A-Za-z][_0-9A-Za-z]*'
                type: string
              description:
                description: The <code>Function</code> description.
                type: string
              functionVersion:
                description: 'The <code>version</code> of the request mapping template. Currently the supported value is 2018-05-29. '
                type: string
              name:
                description: The <code>Function</code> name.
                pattern: '[_A-Za-z][_0-9A-Za-z]*'
                type: string
              requestMappingTemplate:
                description: The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.
                maxLength: 65536
                minLength: 1
                type: string
              responseMappingTemplate:
                description: 'The <code>Function</code> request mapping template. '
                maxLength: 65536
                minLength: 1
                type: string
            required:
              - name
              - dataSourceName
              - requestMappingTemplate
              - functionVersion
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFunctionResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/v1/apis/{apiId}/functions/{functionId}/resolvers':
    get:
      description: List the resolvers that are associated with a specific function.
      operationId: ListResolversByFunction
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The Function ID.
          in: path
          name: functionId
          required: true
          type: string
        - description: 'An identifier that was returned from the previous call to this operation, which you can use to return the next set of items in the list.'
          in: query
          name: nextToken
          pattern: '[\\S]+'
          required: false
          type: string
        - description: The maximum number of results you want the request to return.
          in: query
          maximum: 25
          minimum: 0
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResolversByFunctionResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apis/{apiId}/schema#format':
    get:
      description: Retrieves the introspection schema for a GraphQL API.
      operationId: GetIntrospectionSchema
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: 'The schema format: SDL or JSON.'
          enum:
            - SDL
            - JSON
          in: query
          name: format
          required: true
          type: string
        - description: A flag that specifies whether the schema introspection should contain directives.
          in: query
          name: includeDirectives
          required: false
          type: boolean
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIntrospectionSchemaResponse'
        '480':
          description: GraphQLSchemaException
          schema:
            $ref: '#/definitions/GraphQLSchemaException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apis/{apiId}/schemacreation':
    get:
      description: Retrieves the current status of a schema creation operation.
      operationId: GetSchemaCreationStatus
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetSchemaCreationStatusResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Adds a new schema to your GraphQL API.</p> <p>This operation is asynchronous. Use to determine when it has completed.</p>
      operationId: StartSchemaCreation
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              definition:
                description: 'The schema definition, in GraphQL schema language format.'
                type: string
            required:
              - definition
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartSchemaCreationResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/v1/apis/{apiId}/types':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a <code>Type</code> object.
      operationId: CreateType
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              definition:
                description: '<p>The type definition, in GraphQL Schema Definition Language (SDL) format.</p> <p>For more information, see the <a href="http://graphql.org/learn/schema/">GraphQL SDL documentation</a>.</p>'
                type: string
              format:
                description: 'The type format: SDL or JSON.'
                enum:
                  - SDL
                  - JSON
                type: string
            required:
              - definition
              - format
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTypeResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/v1/apis/{apiId}/types#format':
    get:
      description: Lists the types for a given API.
      operationId: ListTypes
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: 'The type format: SDL or JSON.'
          enum:
            - SDL
            - JSON
          in: query
          name: format
          required: true
          type: string
        - description: 'An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. '
          in: query
          name: nextToken
          pattern: '[\\S]+'
          required: false
          type: string
        - description: The maximum number of results you want the request to return.
          in: query
          maximum: 25
          minimum: 0
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTypesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apis/{apiId}/types/{typeName}':
    delete:
      description: Deletes a <code>Type</code> object.
      operationId: DeleteType
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The type name.
          in: path
          name: typeName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTypeResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a <code>Type</code> object.
      operationId: UpdateType
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The new type name.
          in: path
          name: typeName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              definition:
                description: The new definition.
                type: string
              format:
                description: 'The new type format: SDL or JSON.'
                enum:
                  - SDL
                  - JSON
                type: string
            required:
              - format
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateTypeResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/v1/apis/{apiId}/types/{typeName}#format':
    get:
      description: Retrieves a <code>Type</code> object.
      operationId: GetType
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The type name.
          in: path
          name: typeName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
        - description: 'The type format: SDL or JSON.'
          enum:
            - SDL
            - JSON
          in: query
          name: format
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetTypeResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '482':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/v1/apis/{apiId}/types/{typeName}/resolvers':
    get:
      description: Lists the resolvers for a given API and type.
      operationId: ListResolvers
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The type name.
          in: path
          name: typeName
          required: true
          type: string
        - description: 'An identifier that was returned from the previous call to this operation, which can be used to return the next set of items in the list. '
          in: query
          name: nextToken
          pattern: '[\\S]+'
          required: false
          type: string
        - description: The maximum number of results you want the request to return.
          in: query
          maximum: 25
          minimum: 0
          name: maxResults
          required: false
          type: integer
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResolversResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Creates a <code>Resolver</code> object.</p> <p>A resolver converts incoming requests into a format that a data source can understand and converts the data source's responses into GraphQL.</p>
      operationId: CreateResolver
      parameters:
        - description: The ID for the GraphQL API for which the resolver is being created.
          in: path
          name: apiId
          required: true
          type: string
        - description: The name of the <code>Type</code>.
          in: path
          name: typeName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              dataSourceName:
                description: The name of the data source for which the resolver is being created.
                pattern: '[_A-Za-z][_0-9A-Za-z]*'
                type: string
              fieldName:
                description: The name of the field to attach the resolver to.
                pattern: '[_A-Za-z][_0-9A-Za-z]*'
                type: string
              kind:
                description: '<p>The resolver type.</p> <ul> <li> <p> <b>UNIT</b>: A UNIT resolver type. A UNIT resolver is the default resolver type. A UNIT resolver enables you to execute a GraphQL query against a single data source.</p> </li> <li> <p> <b>PIPELINE</b>: A PIPELINE resolver type. A PIPELINE resolver enables you to execute a series of <code>Function</code> in a serial manner. You can use a pipeline resolver to execute a GraphQL query against multiple data sources.</p> </li> </ul>'
                enum:
                  - UNIT
                  - PIPELINE
                type: string
              pipelineConfig:
                description: The pipeline configuration for a resolver of kind <code>PIPELINE</code>.
                properties:
                  functions:
                    $ref: '#/definitions/FunctionsIds'
                    description: A list of <code>Function</code> objects.
                type: object
              requestMappingTemplate:
                description: <p>The mapping template to be used for requests.</p> <p>A resolver uses a request mapping template to convert a GraphQL expression into a format that a data source can understand. Mapping templates are written in Apache Velocity Template Language (VTL).</p>
                maxLength: 65536
                minLength: 1
                type: string
              responseMappingTemplate:
                description: The mapping template to be used for responses from the data source.
                maxLength: 65536
                minLength: 1
                type: string
            required:
              - fieldName
              - requestMappingTemplate
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResolverResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/v1/apis/{apiId}/types/{typeName}/resolvers/{fieldName}':
    delete:
      description: Deletes a <code>Resolver</code> object.
      operationId: DeleteResolver
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The name of the resolver type.
          in: path
          name: typeName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
        - description: The resolver field name.
          in: path
          name: fieldName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResolverResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
    get:
      description: Retrieves a <code>Resolver</code> object.
      operationId: GetResolver
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The resolver type name.
          in: path
          name: typeName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
        - description: The resolver field name.
          in: path
          name: fieldName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResolverResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a <code>Resolver</code> object.
      operationId: UpdateResolver
      parameters:
        - description: The API ID.
          in: path
          name: apiId
          required: true
          type: string
        - description: The new type name.
          in: path
          name: typeName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
        - description: The new field name.
          in: path
          name: fieldName
          pattern: '[_A-Za-z][_0-9A-Za-z]*'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              dataSourceName:
                description: The new data source name.
                pattern: '[_A-Za-z][_0-9A-Za-z]*'
                type: string
              kind:
                description: '<p>The resolver type.</p> <ul> <li> <p> <b>UNIT</b>: A UNIT resolver type. A UNIT resolver is the default resolver type. A UNIT resolver enables you to execute a GraphQL query against a single data source.</p> </li> <li> <p> <b>PIPELINE</b>: A PIPELINE resolver type. A PIPELINE resolver enables you to execute a series of <code>Function</code> in a serial manner. You can use a pipeline resolver to execute a GraphQL query against multiple data sources.</p> </li> </ul>'
                enum:
                  - UNIT
                  - PIPELINE
                type: string
              pipelineConfig:
                description: The pipeline configuration for a resolver of kind <code>PIPELINE</code>.
                properties:
                  functions:
                    $ref: '#/definitions/FunctionsIds'
                    description: A list of <code>Function</code> objects.
                type: object
              requestMappingTemplate:
                description: The new request mapping template.
                maxLength: 65536
                minLength: 1
                type: string
              responseMappingTemplate:
                description: The new response mapping template.
                maxLength: 65536
                minLength: 1
                type: string
            required:
              - requestMappingTemplate
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResolverResponse'
        '480':
          description: ConcurrentModificationException
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
  '/v1/tags/{resourceArn}':
    get:
      description: Lists the tags for a resource.
      operationId: ListTagsForResource
      parameters:
        - description: The <code>GraphqlApi</code> ARN.
          in: path
          maxLength: 75
          minLength: 70
          name: resourceArn
          pattern: '^arn:aws:appsync:[A-Za-z0-9_/.-]{0,63}:\d{12}:apis/[0-9A-Za-z_-]{26}$'
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Tags a resource with user-supplied tags.
      operationId: TagResource
      parameters:
        - description: The <code>GraphqlApi</code> ARN.
          in: path
          maxLength: 75
          minLength: 70
          name: resourceArn
          pattern: '^arn:aws:appsync:[A-Za-z0-9_/.-]{0,63}:\d{12}:apis/[0-9A-Za-z_-]{26}$'
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: A map with keys of <code>TagKey</code> objects and values of <code>TagValue</code> objects.
                maxProperties: 50
                minProperties: 1
                type: object
            required:
              - tags
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  '/v1/tags/{resourceArn}#tagKeys':
    delete:
      description: Untags a resource.
      operationId: UntagResource
      parameters:
        - description: The <code>GraphqlApi</code> ARN.
          in: path
          maxLength: 75
          minLength: 70
          name: resourceArn
          pattern: '^arn:aws:appsync:[A-Za-z0-9_/.-]{0,63}:\d{12}:apis/[0-9A-Za-z_-]{26}$'
          required: true
          type: string
        - description: A list of <code>TagKey</code> objects.
          in: query
          items:
            type: string
          name: tagKeys
          required: true
          type: array
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: UnauthorizedException
          schema:
            $ref: '#/definitions/UnauthorizedException'
        '484':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '485':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AccessDeniedException: {}
  AdditionalAuthenticationProvider:
    description: Describes an additional authentication provider.
    properties:
      authenticationType:
        $ref: '#/definitions/AuthenticationType'
        description: 'The authentication type: API key, AWS IAM, OIDC, or Amazon Cognito user pools.'
      openIDConnectConfig:
        $ref: '#/definitions/OpenIDConnectConfig'
        description: The OpenID Connect configuration.
      userPoolConfig:
        $ref: '#/definitions/CognitoUserPoolConfig'
        description: The Amazon Cognito user pool configuration.
    type: object
  AdditionalAuthenticationProviders:
    items:
      $ref: '#/definitions/AdditionalAuthenticationProvider'
    type: array
  ApiKey:
    description: '<p>Describes an API key.</p> <p>Customers invoke AWS AppSync GraphQL API operations with API keys as an identity mechanism. There are two key versions:</p> <p> <b>da1</b>: This version was introduced at launch in November 2017. These keys always expire after 7 days. Key expiration is managed by Amazon DynamoDB TTL. The keys ceased to be valid after February 21, 2018 and should not be used after that date.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time in milliseconds.</p> </li> <li> <p> <code>UpdateApiKey</code> is not available for this key version.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in Amazon DynamoDB as milliseconds. This results in a bug where keys are not automatically deleted because DynamoDB expects the TTL to be stored in seconds. As a one-time action, we will delete these keys from the table after February 21, 2018.</p> </li> </ul> <p> <b>da2</b>: This version was introduced in February 2018 when AppSync added support to extend key expiration.</p> <ul> <li> <p> <code>ListApiKeys</code> returns the expiration time in seconds.</p> </li> <li> <p> <code>CreateApiKey</code> returns the expiration time in seconds and accepts a user-provided expiration time in seconds.</p> </li> <li> <p> <code>UpdateApiKey</code> returns the expiration time in seconds and accepts a user-provided expiration time in seconds. Key expiration can only be updated while the key has not expired.</p> </li> <li> <p> <code>DeleteApiKey</code> deletes the item from the table.</p> </li> <li> <p>Expiration is stored in Amazon DynamoDB as seconds.</p> </li> </ul>'
    properties:
      description:
        $ref: '#/definitions/String'
        description: A description of the purpose of the API key.
      expires:
        $ref: '#/definitions/Long'
        description: 'The time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour.'
      id:
        $ref: '#/definitions/String'
        description: The API key ID.
    type: object
  ApiKeyLimitExceededException: {}
  ApiKeyValidityOutOfBoundsException: {}
  ApiKeys:
    items:
      $ref: '#/definitions/ApiKey'
    type: array
  ApiLimitExceededException: {}
  AuthenticationType:
    enum:
      - API_KEY
      - AWS_IAM
      - AMAZON_COGNITO_USER_POOLS
      - OPENID_CONNECT
    type: string
  AuthorizationConfig:
    description: The authorization config in case the HTTP endpoint requires authorization.
    properties:
      authorizationType:
        $ref: '#/definitions/AuthorizationType'
        description: '<p>The authorization type required by the HTTP endpoint.</p> <ul> <li> <p> <b>AWS_IAM</b>: The authorization type is Sigv4.</p> </li> </ul>'
      awsIamConfig:
        $ref: '#/definitions/AwsIamConfig'
        description: The AWS IAM settings.
    required:
      - authorizationType
    type: object
  AuthorizationType:
    enum:
      - AWS_IAM
    type: string
  AwsIamConfig:
    description: The AWS IAM configuration.
    properties:
      signingRegion:
        $ref: '#/definitions/String'
        description: The signing region for AWS IAM authorization.
      signingServiceName:
        $ref: '#/definitions/String'
        description: The signing service name for AWS IAM authorization.
    type: object
  BadRequestException: {}
  Blob:
    type: string
  Boolean:
    type: boolean
  BooleanValue:
    type: boolean
  CognitoUserPoolConfig:
    description: Describes an Amazon Cognito user pool configuration.
    properties:
      appIdClientRegex:
        $ref: '#/definitions/String'
        description: A regular expression for validating the incoming Amazon Cognito user pool app client ID.
      awsRegion:
        $ref: '#/definitions/String'
        description: The AWS Region in which the user pool was created.
      userPoolId:
        $ref: '#/definitions/String'
        description: The user pool ID.
    required:
      - userPoolId
      - awsRegion
    type: object
  ConcurrentModificationException: {}
  CreateApiKeyRequest:
    properties:
      description:
        $ref: '#/definitions/String'
        description: A description of the purpose of the API key.
      expires:
        $ref: '#/definitions/Long'
        description: 'The time from creation time after which the API key expires. The date is represented as seconds since the epoch, rounded down to the nearest hour. The default value for this parameter is 7 days from creation time. For more information, see .'
    type: object
  CreateApiKeyResponse:
    properties:
      apiKey:
        $ref: '#/definitions/ApiKey'
        description: The API key.
    type: object
  CreateDataSourceRequest:
    properties:
      description:
        $ref: '#/definitions/String'
        description: A description of the <code>DataSource</code>.
      dynamodbConfig:
        $ref: '#/definitions/DynamodbDataSourceConfig'
        description: Amazon DynamoDB settings.
      elasticsearchConfig:
        $ref: '#/definitions/ElasticsearchDataSourceConfig'
        description: Amazon Elasticsearch Service settings.
      httpConfig:
        $ref: '#/definitions/HttpDataSourceConfig'
        description: HTTP endpoint settings.
      lambdaConfig:
        $ref: '#/definitions/LambdaDataSourceConfig'
        description: AWS Lambda settings.
      name:
        $ref: '#/definitions/ResourceName'
        description: A user-supplied name for the <code>DataSource</code>.
      relationalDatabaseConfig:
        $ref: '#/definitions/RelationalDatabaseDataSourceConfig'
        description: Relational database settings.
      serviceRoleArn:
        $ref: '#/definitions/String'
        description: The AWS IAM service role ARN for the data source. The system assumes this role when accessing the data source.
      type:
        $ref: '#/definitions/DataSourceType'
        description: The type of the <code>DataSource</code>.
    required:
      - name
      - type
    type: object
  CreateDataSourceResponse:
    properties:
      dataSource:
        $ref: '#/definitions/DataSource'
        description: The <code>DataSource</code> object.
    type: object
  CreateFunctionRequest:
    properties:
      dataSourceName:
        $ref: '#/definitions/ResourceName'
        description: The <code>Function</code> <code>DataSource</code> name.
      description:
        $ref: '#/definitions/String'
        description: The <code>Function</code> description.
      functionVersion:
        $ref: '#/definitions/String'
        description: 'The <code>version</code> of the request mapping template. Currently the supported value is 2018-05-29. '
      name:
        $ref: '#/definitions/ResourceName'
        description: The <code>Function</code> name. The function name does not have to be unique.
      requestMappingTemplate:
        $ref: '#/definitions/MappingTemplate'
        description: The <code>Function</code> request mapping template. Functions support only the 2018-05-29 version of the request mapping template.
      responseMappingTemplate:
        $ref: '#/definitions/MappingTemplate'
        description: 'The <code>Function</code> response mapping template. '
    required:
      - name
      - dataSourceName
      - requestMappingTemplate
      - functionVersion
    type: object
  CreateFunctionResponse:
    properties:
      functionConfiguration:
        $ref: '#/definitions/FunctionConfiguration'
        description: The <code>Function</code> object.
    type: object
  CreateGraphqlApiRequest:
    properties:
      additionalAuthenticationProviders:
        $ref: '#/definitions/AdditionalAuthenticationProviders'
        description: A list of additional authentication providers for the <code>GraphqlApi</code> API.
      authenticationType:
        $ref: '#/definitions/AuthenticationType'
        description: 'The authentication type: API key, AWS IAM, OIDC, or Amazon Cognito user pools.'
      logConfig:
        $ref: '#/definitions/LogConfig'
        description: The Amazon CloudWatch Logs configuration.
      name:
        $ref: '#/definitions/String'
        description: A user-supplied name for the <code>GraphqlApi</code>.
      openIDConnectConfig:
        $ref: '#/definitions/OpenIDConnectConfig'
        description: The OpenID Connect configuration.
      tags:
        $ref: '#/definitions/TagMap'
        description: A <code>TagMap</code> object.
      userPoolConfig:
        $ref: '#/definitions/UserPoolConfig'
        description: The Amazon Cognito user pool configuration.
    required:
      - name
      - authenticationType
    type: object
  CreateGraphqlApiResponse:
    properties:
      graphqlApi:
        $ref: '#/definitions/GraphqlApi'
        description: The <code>GraphqlApi</code>.
    type: object
  CreateResolverRequest:
    properties:
      dataSourceName:
        $ref: '#/definitions/ResourceName'
        description: The name of the data source for which the resolver is being created.
      fieldName:
        $ref: '#/definitions/ResourceName'
        description: The name of the field to attach the resolver to.
      kind:
        $ref: '#/definitions/ResolverKind'
        description: '<p>The resolver type.</p> <ul> <li> <p> <b>UNIT</b>: A UNIT resolver type. A UNIT resolver is the default resolver type. A UNIT resolver enables you to execute a GraphQL query against a single data source.</p> </li> <li> <p> <b>PIPELINE</b>: A PIPELINE resolver type. A PIPELINE resolver enables you to execute a series of <code>Function</code> in a serial manner. You can use a pipeline resolver to execute a GraphQL query against multiple data sources.</p> </li> </ul>'
      pipelineConfig:
        $ref: '#/definitions/PipelineConfig'
        description: The <code>PipelineConfig</code>.
      requestMappingTemplate:
        $ref: '#/definitions/MappingTemplate'
        description: <p>The mapping template to be used for requests.</p> <p>A resolver uses a request mapping template to convert a GraphQL expression into a format that a data source can understand. Mapping templates are written in Apache Velocity Template Language (VTL).</p>
      responseMappingTemplate:
        $ref: '#/definitions/MappingTemplate'
        description: The mapping template to be used for responses from the data source.
    required:
      - fieldName
      - requestMappingTemplate
    type: object
  CreateResolverResponse:
    properties:
      resolver:
        $ref: '#/definitions/Resolver'
        description: The <code>Resolver</code> object.
    type: object
  CreateTypeRequest:
    properties:
      definition:
        $ref: '#/definitions/String'
        description: '<p>The type definition, in GraphQL Schema Definition Language (SDL) format.</p> <p>For more information, see the <a href="http://graphql.org/learn/schema/">GraphQL SDL documentation</a>.</p>'
      format:
        $ref: '#/definitions/TypeDefinitionFormat'
        description: 'The type format: SDL or JSON.'
    required:
      - definition
      - format
    type: object
  CreateTypeResponse:
    properties:
      type:
        $ref: '#/definitions/Type'
        description: The <code>Type</code> object.
    type: object
  DataSource:
    description: Describes a data source.
    properties:
      dataSourceArn:
        $ref: '#/definitions/String'
        description: The data source ARN.
      description:
        $ref: '#/definitions/String'
        description: The description of the data source.
      dynamodbConfig:
        $ref: '#/definitions/DynamodbDataSourceConfig'
        description: Amazon DynamoDB settings.
      elasticsearchConfig:
        $ref: '#/definitions/ElasticsearchDataSourceConfig'
        description: Amazon Elasticsearch Service settings.
      httpConfig:
        $ref: '#/definitions/HttpDataSourceConfig'
        description: HTTP endpoint settings.
      lambdaConfig:
        $ref: '#/definitions/LambdaDataSourceConfig'
        description: AWS Lambda settings.
      name:
        $ref: '#/definitions/ResourceName'
        description: The name of the data source.
      relationalDatabaseConfig:
        $ref: '#/definitions/RelationalDatabaseDataSourceConfig'
        description: Relational database settings.
      serviceRoleArn:
        $ref: '#/definitions/String'
        description: The AWS IAM service role ARN for the data source. The system assumes this role when accessing the data source.
      type:
        $ref: '#/definitions/DataSourceType'
        description: '<p>The type of the data source.</p> <ul> <li> <p> <b>AMAZON_DYNAMODB</b>: The data source is an Amazon DynamoDB table.</p> </li> <li> <p> <b>AMAZON_ELASTICSEARCH</b>: The data source is an Amazon Elasticsearch Service domain.</p> </li> <li> <p> <b>AWS_LAMBDA</b>: The data source is an AWS Lambda function.</p> </li> <li> <p> <b>NONE</b>: There is no data source. This type is used when you wish to invoke a GraphQL operation without connecting to a data source, such as performing data transformation with resolvers or triggering a subscription to be invoked from a mutation.</p> </li> <li> <p> <b>HTTP</b>: The data source is an HTTP endpoint.</p> </li> <li> <p> <b>RELATIONAL_DATABASE</b>: The data source is a relational database.</p> </li> </ul>'
    type: object
  DataSourceType:
    enum:
      - AWS_LAMBDA
      - AMAZON_DYNAMODB
      - AMAZON_ELASTICSEARCH
      - NONE
      - HTTP
      - RELATIONAL_DATABASE
    type: string
  DataSources:
    items:
      $ref: '#/definitions/DataSource'
    type: array
  DefaultAction:
    enum:
      - ALLOW
      - DENY
    type: string
  DeleteApiKeyRequest:
    properties: {}
    type: object
  DeleteApiKeyResponse:
    properties: {}
    type: object
  DeleteDataSourceRequest:
    properties: {}
    type: object
  DeleteDataSourceResponse:
    properties: {}
    type: object
  DeleteFunctionRequest:
    properties: {}
    type: object
  DeleteFunctionResponse:
    properties: {}
    type: object
  DeleteGraphqlApiRequest:
    properties: {}
    type: object
  DeleteGraphqlApiResponse:
    properties: {}
    type: object
  DeleteResolverRequest:
    properties: {}
    type: object
  DeleteResolverResponse:
    properties: {}
    type: object
  DeleteTypeRequest:
    properties: {}
    type: object
  DeleteTypeResponse:
    properties: {}
    type: object
  DynamodbDataSourceConfig:
    description: Describes an Amazon DynamoDB data source configuration.
    properties:
      awsRegion:
        $ref: '#/definitions/String'
        description: The AWS Region.
      tableName:
        $ref: '#/definitions/String'
        description: The table name.
      useCallerCredentials:
        $ref: '#/definitions/Boolean'
        description: Set to TRUE to use Amazon Cognito credentials with this data source.
    required:
      - tableName
      - awsRegion
    type: object
  ElasticsearchDataSourceConfig:
    description: Describes an Elasticsearch data source configuration.
    properties:
      awsRegion:
        $ref: '#/definitions/String'
        description: The AWS Region.
      endpoint:
        $ref: '#/definitions/String'
        description: The endpoint.
    required:
      - endpoint
      - awsRegion
    type: object
  FieldLogLevel:
    enum:
      - NONE
      - ERROR
      - ALL
    type: string
  FunctionConfiguration:
    description: A function is a reusable entity. Multiple functions can be used to compose the resolver logic.
    properties:
      dataSourceName:
        $ref: '#/definitions/ResourceName'
        description: The name of the <code>DataSource</code>.
      description:
        $ref: '#/definitions/String'
        description: The <code>Function</code> description.
      functionArn:
        $ref: '#/definitions/String'
        description: The ARN of the <code>Function</code> object.
      functionId:
        $ref: '#/definitions/String'
        description: A unique ID representing the <code>Function</code> object.
      functionVersion:
        $ref: '#/definitions/String'
        description: The version of the request mapping template. Currently only the 2018-05-29 version of the template is supported.
      name:
        $ref: '#/definitions/ResourceName'
        description: The name of the <code>Function</code> object.
      requestMappingTemplate:
        $ref: '#/definitions/MappingTemplate'
[...]
