openapi: 3.0.1
servers:
  - url: https://pricing.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Pricing
  version: 1.19.1
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_pricing_v2.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_pricing_v2
paths:
  /v2/Voice/Countries:
    description: Voice pricing by country
    get:
      description: ""
      operationId: ListVoiceCountry
      parameters:
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  countries:
                    items:
                      $ref: "#/components/schemas/pricing.v2.voice.voice_country"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListVoiceCountryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - price_unit
      pathType: list
  "/v2/Voice/Countries/{IsoCountry}":
    description: Voice pricing by country
    get:
      description: Fetch a specific Country.
      operationId: FetchVoiceCountry
      parameters:
        - description: The [ISO country code](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) of the origin-based voice pricing information to fetch.
          in: path
          name: IsoCountry
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pricing.v2.voice.voice_country-instance"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - price_unit
      pathType: instance
  "/v2/Voice/Numbers/{DestinationNumber}":
    description: Voice pricing for a specific phone number
    get:
      description: Fetch pricing information for a specific destination and, optionally, origination phone number.
      operationId: FetchVoiceNumber
      parameters:
        - description: The destination phone number, in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, for which to fetch the origin-based voice pricing information. E.164 format consists of a + followed by the country code and subscriber number.
          in: path
          name: DestinationNumber
          required: true
          schema:
            type: string
        - description: The origination phone number, in [E.164](https://www.twilio.com/docs/glossary/what-e164) format, for which to fetch the origin-based voice pricing information. E.164 format consists of a + followed by the country code and subscriber number.
          in: query
          name: OriginationNumber
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/pricing.v2.voice.voice_number"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://pricing.twilio.com
    x-twilio:
      defaultOutputProperties:
        - country
        - inbound_call_price
        - price_unit
      pathType: instance
components:
  schemas:
    pricing.v2.voice:
      properties:
        links:
          description: The URLs of the related Countries and Numbers resources
          nullable: true
          type: object
        name:
          description: The resource name
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v2.voice.voice_country:
      properties:
        country:
          description: The name of the country
          nullable: true
          type: string
        iso_country:
          description: The ISO country code
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v2.voice.voice_country-instance:
      properties:
        country:
          description: The name of the country
          nullable: true
          type: string
        inbound_call_prices:
          description: The list of InboundCallPrice records
          items:
            properties:
              base_price:
                type: number
              current_price:
                type: number
              number_type:
                type: string
            type: object
          nullable: true
          type: array
        iso_country:
          description: The ISO country code
          nullable: true
          type: string
        outbound_prefix_prices:
          description: The list of OutboundPrefixPriceWithOrigin records
          items:
            properties:
              base_price:
                type: number
              current_price:
                type: number
              destination_prefixes:
                items:
                  type: string
                type: array
              friendly_name:
                type: string
              origination_prefixes:
                items:
                  type: string
                type: array
            type: object
          nullable: true
          type: array
        price_unit:
          description: The currency in which prices are measured, in ISO 4127 format (e.g. usd, eur, jpy)
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
      type: object
    pricing.v2.voice.voice_number:
      properties:
        country:
          description: The name of the country
          nullable: true
          type: string
        destination_number:
          description: The destination phone number, in E.164 format
          nullable: true
          type: string
        inbound_call_price:
          description: The InboundCallPrice record
          nullable: true
          properties:
            base_price:
              type: number
            current_price:
              type: number
            number_type:
              type: string
          type: object
        iso_country:
          description: The ISO country code
          nullable: true
          type: string
        origination_number:
          description: The origination phone number, in E.164 format
          nullable: true
          type: string
        outbound_call_prices:
          description: The list of OutboundCallPriceWithOrigin records
          items:
            properties:
              base_price:
                type: number
              current_price:
                type: number
              origination_prefixes:
                items:
                  type: string
                type: array
            type: object
          nullable: true
          type: array
        price_unit:
          description: The currency in which prices are measured, in ISO 4127 format (e.g. usd, eur, jpy)
          nullable: true
          type: string
        url:
          description: The absolute URL of the resource
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
