swagger: '2.0'
schemes:
  - http
host: api.data2crm.com
basePath: /v1
info:
  description: 'Make use of our in-depth documentation to get more information about the various functions of the service. Those willing to explore the mechanics of Data2CRM.API can test it in live regime using the short code samples.<br><br>Feel free to utilize out test CRM. Here are the API access keys:<br><b>X-API2CRM-APIKEY</b>: rJu8KnxfHHZXCTERv8FKt6xTwQntD7<br><b>X-API2CRM-USERID</b>: e2a6379ab878ae7e58119d4ec842bf9c926e05b5<br><b>X-API2CRM-CRMKEY</b>: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b<br><br>The test CRM access details are:<br><b>URL</b>: <a href="http://preview.data2crm.com/api-docs/" target="_blank">http://preview.data2crm.com/api-docs/</a><br><b>Username</b>: testuser<br><b>Password</b>: testuser'
  title: Data2CRM.API Documentation
  version: 1.0.0
  x-logo:
    url: 'http://www.data2crm.com/wp-content/themes/cms2cms/schemes/white/img/data2crm-logo_220px.png'
  x-origin:
    format: swagger
    url: 'http://api.data2crm.com/docs/ref/get-swagger-v2'
    version: '2.0'
  x-providerName: data2crm.com
externalDocs:
  url: 'http://www.data2crm.com/api/'
consumes:
  - application/json
produces:
  - application/json
responses:
  '203':
    description: Authorization failed
  '400':
    description: 'JSON decoding error: Syntax error, malformed JSON'
  '404':
    description: Entity not found
  '422':
    description: 'Failed Validation | Unprocessable Entity'
tags:
  - description: Account Operations
    name: account
  - description: Contact Operations
    name: contact
  - description: Lead Operations
    name: lead
  - description: Opportunity Operations
    name: opportunity
  - description: Task Operations
    name: task
  - description: User Operations
    name: user
  - description: Note Operations
    name: note
  - description: Attachment Operations
    name: attachment
  - description: Event Operations
    name: event
  - description: Email Operations
    name: email
  - description: Call Operations
    name: call
  - description: Call Operations
    name: meeting
  - description: CRM Operations
    name: crm
  - description: Information Operations
    name: info
paths:
  /account:
    get:
      description: Returns all accounts from the system
      operationId: account-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Name
          in: query
          name: name
          required: false
          type: string
        - description: Email
          in: query
          name: email
          required: false
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/account'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Account
      tags:
        - account
    post:
      description: Add account into the system
      operationId: account-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_account'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_account'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Account
      tags:
        - account
  /account/count:
    get:
      description: Count all accounts from the system
      operationId: account-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_account'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Account
      tags:
        - account
  '/account/{account_id}':
    delete:
      description: Delete account information
      operationId: account-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: account_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Account
      tags:
        - account
    get:
      description: Return account information
      operationId: account-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: account_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/account'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Account
      tags:
        - account
    put:
      description: Update account information
      operationId: account-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: account_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_account'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_account'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Account
      tags:
        - account
  /attachment:
    get:
      description: Returns all attachments from the system
      operationId: attachment-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - task
            - user
            - opportunity
            - note
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/attachment'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Attachment
      tags:
        - attachment
    post:
      description: Add attachment into the system
      operationId: attachment-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_attachment'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_attachment'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Attachment
      tags:
        - attachment
  /attachment/count:
    get:
      description: Count all attachments from the system
      operationId: attachment-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_attachment'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Attachment
      tags:
        - attachment
  '/attachment/{attachment_id}':
    delete:
      description: Delete attachment information
      operationId: attachment-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: attachment_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Attachment
      tags:
        - attachment
    get:
      description: Return attachment information
      operationId: attachment-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: attachment_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/attachment'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Attachment
      tags:
        - attachment
    put:
      description: Update attachment information
      operationId: attachment-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: attachment_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_attachment'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_attachment'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Attachment
      tags:
        - attachment
  /call:
    get:
      description: Returns all calls from the system
      operationId: call-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - opportunity
            - task
            - user
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/call'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Call
      tags:
        - call
    post:
      description: Add call into the system
      operationId: call-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_call'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_call'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Call
      tags:
        - call
  /call/count:
    get:
      description: Count all calls from the system
      operationId: call-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_call'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Call
      tags:
        - call
  '/call/{call_id}':
    delete:
      description: Delete call information
      operationId: call-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: call_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Call
      tags:
        - call
    get:
      description: Return call information
      operationId: call-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: call_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/call'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Call
      tags:
        - call
    put:
      description: Update call information
      operationId: call-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: call_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_call'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_call'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Call
      tags:
        - call
  /contact:
    get:
      description: Returns all contacts from the system
      operationId: contact-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Name
          in: query
          name: name
          required: false
          type: string
        - description: First Name
          in: query
          name: first_name
          required: false
          type: string
        - description: Last Name
          in: query
          name: last_name
          required: false
          type: string
        - description: Email
          in: query
          name: email
          required: false
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/contact'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Contact
      tags:
        - contact
    post:
      description: Add contact into the system
      operationId: contact-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_contact'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_contact'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Contact
      tags:
        - contact
  /contact/count:
    get:
      description: Count all contacts from the system
      operationId: contact-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_contact'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Contact
      tags:
        - contact
  '/contact/{contact_id}':
    delete:
      description: Delete contact information
      operationId: contact-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: contact_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Contact
      tags:
        - contact
    get:
      description: Return contact information
      operationId: contact-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: contact_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/contact'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Contact
      tags:
        - contact
    put:
      description: Update contact information
      operationId: contact-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: contact_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_contact'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_contact'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Contact
      tags:
        - contact
  /crm:
    get:
      description: Returns all CRMs from the system
      operationId: crm-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - description: API Url
          in: query
          name: api_url
          required: false
          type: string
        - default: SuiteCRM
          description: Type
          enum:
            - Bitrix24
            - SugarCRM
            - SuiteCRM
            - BPMOnline
            - vtiger
            - OroCRM
            - ZohoCRM
            - Insightly
            - Salesforce
            - Solve360CRM
            - HighriseHQ
            - PipelineDeals
            - Pipedrive
          in: query
          name: type
          required: false
          type: string
        - description: Login
          in: query
          name: login
          required: false
          type: string
        - description: Password
          in: query
          name: password
          required: false
          type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/crm'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
      summary: GET for Crm
      tags:
        - crm
    post:
      description: 'Add CRM into the system<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
      operationId: crm-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_crm'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_crm'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
      summary: POST for Crm
      tags:
        - crm
  '/crm/{crm_id}':
    delete:
      description: Delete CRM information
      operationId: crm-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: crm_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
      summary: DELETE for Crm
      tags:
        - crm
    get:
      description: Return CRM information
      operationId: crm-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: crm_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/crm'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
      summary: GET for Crm
      tags:
        - crm
    put:
      description: 'Update CRM information<br><a href="http://www.data2crm.com/api/faqs/need-connect-crm-data2crm-api/" target="_blank">What do I need to connect a CRM to Data2CRM.API?</a>'
      operationId: crm-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: crm_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_crm'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_crm'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
      summary: PUT for Crm
      tags:
        - crm
  /email:
    get:
      description: Returns all emails from the system
      operationId: email-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Parent Type
          enum:
            - account
            - opportunity
            - contact
            - lead
            - user
            - task
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/email'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Email
      tags:
        - email
    post:
      description: Add email into the system
      operationId: email-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_email'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_email'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Email
      tags:
        - email
  /email/count:
    get:
      description: Count all emails from the system
      operationId: email-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_email'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Email
      tags:
        - email
  '/email/{email_id}':
    delete:
      description: Delete email information
      operationId: email-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: email_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Email
      tags:
        - email
    get:
      description: Return email information
      operationId: email-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: email_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/email'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Email
      tags:
        - email
    put:
      description: Update email information
      operationId: email-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: email_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_email'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_email'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Email
      tags:
        - email
  /event:
    get:
      description: Returns all events from the system
      operationId: event-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - opportunity
            - task
            - user
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/event'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Event
      tags:
        - event
    post:
      description: Add event into the system
      operationId: event-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_event'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_event'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Event
      tags:
        - event
  /event/count:
    get:
      description: Count all events from the system
      operationId: event-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_event'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Event
      tags:
        - event
  '/event/{event_id}':
    delete:
      description: Delete event information
      operationId: event-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: event_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Event
      tags:
        - event
    get:
      description: Return event information
      operationId: event-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: event_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/event'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Event
      tags:
        - event
    put:
      description: Update event information
      operationId: event-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: event_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_event'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_event'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Event
      tags:
        - event
  /info:
    get:
      description: Return information by type
      operationId: info-get-collection
      parameters:
        - description: Type of information
          enum:
            - method
            - crm
            - crm.method
          in: query
          name: type
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/info'
            type: array
      summary: GET for Info
      tags:
        - info
  /lead:
    get:
      description: Returns all leads from the system
      operationId: lead-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Email
          in: query
          name: email
          required: false
          type: string
        - description: First Name
          in: query
          name: first_name
          required: false
          type: string
        - description: Last Name
          in: query
          name: last_name
          required: false
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/lead'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Lead
      tags:
        - lead
    post:
      description: Add lead into the system
      operationId: lead-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_lead'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_lead'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Lead
      tags:
        - lead
  /lead/count:
    get:
      description: Count all leads from the system
      operationId: lead-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_lead'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Lead
      tags:
        - lead
  '/lead/{lead_id}':
    delete:
      description: Delete lead information
      operationId: lead-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: lead_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Lead
      tags:
        - lead
    get:
      description: Return lead information
      operationId: lead-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: lead_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/lead'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Lead
      tags:
        - lead
    put:
      description: Update lead information
      operationId: lead-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: lead_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_lead'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_lead'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Lead
      tags:
        - lead
  /meeting:
    get:
      description: Returns all meetings from the system
      operationId: meeting-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - opportunity
            - user
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/meeting'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Meeting
      tags:
        - meeting
    post:
      description: Add meeting into the system
      operationId: meeting-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_meeting'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_meeting'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Meeting
      tags:
        - meeting
  /meeting/count:
    get:
      description: Count all meetings from the system
      operationId: meeting-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_meeting'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Meeting
      tags:
        - meeting
  '/meeting/{meeting_id}':
    delete:
      description: Delete meeting information
      operationId: meeting-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: meeting_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Meeting
      tags:
        - meeting
    get:
      description: Return meeting information
      operationId: meeting-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: meeting_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/meeting'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Meeting
      tags:
        - meeting
    put:
      description: Update meeting information
      operationId: meeting-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: meeting_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_meeting'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_meeting'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Meeting
      tags:
        - meeting
  /note:
    get:
      description: Returns all notes from the system
      operationId: note-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Parent Type
          enum:
            - account
            - contact
            - lead
            - task
            - user
            - opportunity
            - event
          in: query
          name: parent_type
          required: false
          type: string
        - description: Parent Identifier
          in: query
          name: parent_id
          required: false
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/note'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Note
      tags:
        - note
    post:
      description: Add note into the system
      operationId: note-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_note'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_note'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Note
      tags:
        - note
  /note/count:
    get:
      description: Count all notes from the system
      operationId: note-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_note'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Note
      tags:
        - note
  '/note/{note_id}':
    delete:
      description: Delete note information
      operationId: note-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: note_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Note
      tags:
        - note
    get:
      description: Return note information
      operationId: note-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: note_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/note'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Note
      tags:
        - note
    put:
      description: Update note information
      operationId: note-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: note_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_note'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_note'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Note
      tags:
        - note
  /opportunity:
    get:
      description: Returns all opportunities from the system
      operationId: opportunity-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/opportunity'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Opportunity
      tags:
        - opportunity
    post:
      description: Add opportunity into the system
      operationId: opportunity-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_opportunity'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_opportunity'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Opportunity
      tags:
        - opportunity
  /opportunity/count:
    get:
      description: Count all opportunities from the system
      operationId: opportunity-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_opportunity'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Opportunity
      tags:
        - opportunity
  '/opportunity/{opportunity_id}':
    delete:
      description: Delete opportunity information
      operationId: opportunity-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: opportunity_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Opportunity
      tags:
        - opportunity
    get:
      description: Return opportunity information
      operationId: opportunity-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: opportunity_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/opportunity'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Opportunity
      tags:
        - opportunity
    put:
      description: Update opportunity information
      operationId: opportunity-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: opportunity_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_opportunity'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/update_opportunity'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: PUT for Opportunity
      tags:
        - opportunity
  /task:
    get:
      description: Returns all tasks from the system
      operationId: task-get-collection
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Limit
          in: query
          name: limit
          required: false
          type: integer
        - description: Offset
          in: query
          name: offset
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/task'
            type: array
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Task
      tags:
        - task
    post:
      description: Add task into the system
      operationId: task-post-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Data
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/body_task'
      responses:
        '201':
          description: Created
          schema:
            $ref: '#/definitions/add_task'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: POST for Task
      tags:
        - task
  /task/count:
    get:
      description: Count all tasks from the system
      operationId: task-get-collection-count
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/count_task'
        '203':
          description: Authorization failed
        '500':
          description: CRM instance is not found
      summary: GET count for Task
      tags:
        - task
  '/task/{task_id}':
    delete:
      description: Delete task information
      operationId: task-delete-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: task_id
          required: true
          type: integer
      responses:
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: DELETE for Task
      tags:
        - task
    get:
      description: Return task information
      operationId: task-get-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: task_id
          required: true
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/task'
        '203':
          description: Authorization failed
        '400':
          description: 'JSON decoding error: Syntax error, malformed JSON'
        '404':
          description: Entity not found
        '422':
          description: 'Failed Validation | Unprocessable Entity'
        '500':
          description: CRM instance is not found
      summary: GET for Task
      tags:
        - task
    put:
      description: Update task information
      operationId: task-put-entity
      parameters:
        - default: rJu8KnxfHHZXCTERv8FKt6xTwQntD7
          description: API Key
          in: header
          name: X-API2CRM-APIKEY
          required: true
          type: string
        - default: e2a6379ab878ae7e58119d4ec842bf9c926e05b5
          description: User ID
          in: header
          name: X-API2CRM-USERID
          required: true
          type: string
        - default: 14f67dddf93573bb3c05ab8379b2d1fc3dad534b
          description: CRM Key
          in: header
          name: X-API2CRM-CRMKEY
          required: true
          type: string
        - description: Entity Identifier
          in: path
          name: task_id
          required: true
          type: integer
        - description: Data
          in: body
          name: body
          required: true
          schema:
[...]
