openapi: 3.0.1
servers:
  - url: https://insights.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Insights
  version: 1.21.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_insights_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_insights_v1
paths:
  /v1/Video/Rooms:
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of Programmable Video Rooms.
      operationId: ListVideoRoomSummary
      parameters:
        - description: Type of room. Can be `go`, `peer_to_peer`, `group`, or `group_small`.
          in: query
          name: RoomType
          schema:
            items:
              enum:
                - go
                - peer_to_peer
                - group
                - group_small
              type: string
            type: array
        - description: Codecs used by participants in the room. Can be `VP8`, `H264`, or `VP9`.
          in: query
          name: Codec
          schema:
            items:
              enum:
                - VP8
                - H264
                - VP9
              type: string
            type: array
        - description: Room friendly name.
          in: query
          name: RoomName
          schema:
            type: string
        - description: Only read rooms that started on or after this ISO 8601 timestamp.
          in: query
          name: CreatedAfter
          schema:
            format: date-time
            type: string
        - description: Only read rooms that started before this ISO 8601 timestamp.
          in: query
          name: CreatedBefore
          schema:
            format: date-time
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  rooms:
                    items:
                      $ref: "#/components/schemas/insights.v1.video_room_summary"
                    type: array
                title: ListVideoRoomSummaryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - room_sid
        - create_time
      pathType: list
  "/v1/Video/Rooms/{RoomSid}":
    description: "TODO: Resource-level docs"
    get:
      description: Get Video Log Analyzer data for a Room.
      operationId: FetchVideoRoomSummary
      parameters:
        - description: The SID of the Room resource.
          in: path
          name: RoomSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.video_room_summary"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - room_sid
        - create_time
      pathType: instance
  "/v1/Video/Rooms/{RoomSid}/Participants":
    description: "TODO: Resource-level docs"
    get:
      description: Get a list of room participants.
      operationId: ListVideoParticipantSummary
      parameters:
        - description: The SID of the Room resource.
          in: path
          name: RoomSid
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  participants:
                    items:
                      $ref: "#/components/schemas/insights.v1.video_room_summary.video_participant_summary"
                    type: array
                title: ListVideoParticipantSummaryResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - participant_sid
      pathType: list
  "/v1/Video/Rooms/{RoomSid}/Participants/{ParticipantSid}":
    description: "TODO: Resource-level docs"
    get:
      description: Get Video Log Analyzer data for a Room Participant.
      operationId: FetchVideoParticipantSummary
      parameters:
        - description: The SID of the Room resource.
          in: path
          name: RoomSid
          required: true
          schema:
            type: string
        - description: The SID of the Participant resource.
          in: path
          name: ParticipantSid
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.video_room_summary.video_participant_summary"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - participant_sid
      pathType: instance
  /v1/Voice/Summaries:
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListCallSummaries
      parameters:
        - description: ""
          in: query
          name: From
          schema:
            type: string
        - description: ""
          in: query
          name: To
          schema:
            type: string
        - description: ""
          in: query
          name: FromCarrier
          schema:
            type: string
        - description: ""
          in: query
          name: ToCarrier
          schema:
            type: string
        - description: ""
          in: query
          name: FromCountryCode
          schema:
            type: string
        - description: ""
          in: query
          name: ToCountryCode
          schema:
            type: string
        - description: ""
          in: query
          name: Branded
          schema:
            type: boolean
        - description: ""
          in: query
          name: VerifiedCaller
          schema:
            type: boolean
        - description: ""
          in: query
          name: HasTag
          schema:
            type: boolean
        - description: ""
          in: query
          name: StartTime
          schema:
            type: string
        - description: ""
          in: query
          name: EndTime
          schema:
            type: string
        - description: ""
          in: query
          name: CallType
          schema:
            type: string
        - description: ""
          in: query
          name: CallState
          schema:
            type: string
        - description: ""
          in: query
          name: Direction
          schema:
            type: string
        - description: ""
          in: query
          name: ProcessingState
          schema:
            enum:
              - completed
              - started
              - partial
              - all
            type: string
        - description: ""
          in: query
          name: SortBy
          schema:
            enum:
              - start_time
              - end_time
            type: string
        - description: ""
          in: query
          name: Subaccount
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^AC[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: AbnormalSession
          schema:
            type: boolean
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  call_summaries:
                    items:
                      $ref: "#/components/schemas/insights.v1.call_summaries"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListCallSummariesResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - account_sid
        - call_sid
        - create_time
        - start_time
        - end_time
        - duration
        - connect_duration
        - call_type
        - call_state
      pathType: list
  "/v1/Voice/{CallSid}/Events":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListEvent
      parameters:
        - description: ""
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: Edge
          schema:
            enum:
              - unknown_edge
              - carrier_edge
              - sip_edge
              - sdk_edge
              - client_edge
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  events:
                    items:
                      $ref: "#/components/schemas/insights.v1.call.event"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                title: ListEventResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - timestamp
        - call_sid
        - account_sid
        - edge
        - name
      pathType: list
  "/v1/Voice/{CallSid}/Metrics":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListMetric
      parameters:
        - description: ""
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: Edge
          schema:
            enum:
              - unknown_edge
              - carrier_edge
              - sip_edge
              - sdk_edge
              - client_edge
            type: string
        - description: ""
          in: query
          name: Direction
          schema:
            enum:
              - unknown
              - inbound
              - outbound
              - both
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  metrics:
                    items:
                      $ref: "#/components/schemas/insights.v1.call.metric"
                    type: array
                title: ListMetricResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - timestamp
        - call_sid
        - account_sid
        - edge
        - direction
      pathType: list
  "/v1/Voice/{CallSid}/Summary":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchSummary
      parameters:
        - description: ""
          in: path
          name: CallSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
        - description: ""
          in: query
          name: ProcessingState
          schema:
            enum:
              - complete
              - partial
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.call.summary"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - GA
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties:
        - call_type
        - call_state
        - processing_state
        - duration
      pathType: instance
  "/v1/Voice/{Sid}":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchCall
      parameters:
        - description: ""
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^CA[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/insights.v1.call"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Preview
    servers:
      - url: https://insights.twilio.com
    x-twilio:
      defaultOutputProperties: []
      pathType: instance
components:
  schemas:
    insights.v1.call:
      properties:
        links:
          nullable: true
          type: object
        sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        url:
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.call.event:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        call_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        carrier_edge:
          nullable: true
          type: object
        client_edge:
          nullable: true
          type: object
        edge:
          enum:
            - unknown_edge
            - carrier_edge
            - sip_edge
            - sdk_edge
            - client_edge
          nullable: true
          type: string
        group:
          nullable: true
          type: string
        level:
          enum:
            - UNKNOWN
            - DEBUG
            - INFO
            - WARNING
            - ERROR
          nullable: true
          type: string
        name:
          nullable: true
          type: string
        sdk_edge:
          nullable: true
          type: object
        sip_edge:
          nullable: true
          type: object
        timestamp:
          nullable: true
          type: string
      type: object
    insights.v1.call.metric:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        call_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        carrier_edge:
          nullable: true
          type: object
        client_edge:
          nullable: true
          type: object
        direction:
          enum:
            - unknown
            - inbound
            - outbound
            - both
          nullable: true
          type: string
        edge:
          enum:
            - unknown_edge
            - carrier_edge
            - sip_edge
            - sdk_edge
            - client_edge
          nullable: true
          type: string
        sdk_edge:
          nullable: true
          type: object
        sip_edge:
          nullable: true
          type: object
        timestamp:
          nullable: true
          type: string
      type: object
    insights.v1.call.summary:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          nullable: true
          type: object
        call_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        call_state:
          enum:
            - ringing
            - completed
            - busy
            - fail
            - noanswer
            - canceled
            - answered
            - undialed
          nullable: true
          type: string
        call_type:
          enum:
            - carrier
            - sip
            - trunking
            - client
          nullable: true
          type: string
        carrier_edge:
          nullable: true
          type: object
        client_edge:
          nullable: true
          type: object
        connect_duration:
          nullable: true
          type: integer
        created_time:
          format: date-time
          nullable: true
          type: string
        duration:
          nullable: true
          type: integer
        end_time:
          format: date-time
          nullable: true
          type: string
        from:
          nullable: true
          type: object
        processing_state:
          enum:
            - complete
            - partial
          nullable: true
          type: string
        properties:
          nullable: true
          type: object
        sdk_edge:
          nullable: true
          type: object
        sip_edge:
          nullable: true
          type: object
        start_time:
          format: date-time
          nullable: true
          type: string
        tags:
          items:
            type: string
          nullable: true
          type: array
        to:
          nullable: true
          type: object
        trust:
          nullable: true
          type: object
        url:
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.call_summaries:
      properties:
        account_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        attributes:
          nullable: true
          type: object
        call_sid:
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^CA[0-9a-fA-F]{32}$
          type: string
        call_state:
          enum:
            - ringing
            - completed
            - busy
            - fail
            - noanswer
            - canceled
            - answered
            - undialed
          nullable: true
          type: string
        call_type:
          enum:
            - carrier
            - sip
            - trunking
            - client
          nullable: true
          type: string
        carrier_edge:
          nullable: true
          type: object
        client_edge:
          nullable: true
          type: object
        connect_duration:
          nullable: true
          type: integer
        created_time:
          format: date-time
          nullable: true
          type: string
        duration:
          nullable: true
          type: integer
        end_time:
          format: date-time
          nullable: true
          type: string
        from:
          nullable: true
          type: object
        processing_state:
          enum:
            - complete
            - partial
          nullable: true
          type: string
        properties:
          nullable: true
          type: object
        sdk_edge:
          nullable: true
          type: object
        sip_edge:
          nullable: true
          type: object
        start_time:
          format: date-time
          nullable: true
          type: string
        tags:
          items:
            type: string
          nullable: true
          type: array
        to:
          nullable: true
          type: object
        trust:
          nullable: true
          type: object
        url:
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.video_room_summary:
      properties:
        account_sid:
          description: Account SID associated with this room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        codecs:
          description: Codecs used by participants in the room.
          items:
            enum:
              - VP8
              - H264
              - VP9
            type: string
          nullable: true
          type: array
        concurrent_participants:
          description: Actual number of concurrent participants.
          nullable: true
          type: integer
        create_time:
          description: Creation time of the room.
          format: date-time
          nullable: true
          type: string
        created_method:
          description: How the room was created.
          enum:
            - sdk
            - ad_hoc
            - api
          nullable: true
          type: string
        duration_sec:
          description: Total room duration from create time to end time.
          nullable: true
          type: integer
        edge_location:
          description: Edge location of Twilio media servers for the room.
          enum:
            - ashburn
            - dublin
            - frankfurt
            - singapore
            - sydney
            - sao_paulo
            - roaming
            - umatilla
            - tokyo
          nullable: true
          type: string
        end_reason:
          description: Reason the room ended.
          enum:
            - room_ended_via_api
            - timeout
          nullable: true
          type: string
        end_time:
          description: End time for the room.
          format: date-time
          nullable: true
          type: string
        links:
          description: Room subresources.
          nullable: true
          type: object
        max_concurrent_participants:
          description: Maximum number of participants allowed in the room at the same time allowed by the application settings.
          nullable: true
          type: integer
        max_participants:
          description: Max number of total participants allowed by the application settings.
          nullable: true
          type: integer
        media_region:
          description: Region of Twilio media servers for the room.
          enum:
            - us1
            - us2
            - au1
            - br1
            - ie1
            - jp1
            - sg1
            - in1
            - de1
            - gll
          nullable: true
          type: string
        processing_state:
          description: Video Log Analyzer resource state. Will be either `in-progress` or `complete`.
          enum:
            - complete
            - in_progress
          nullable: true
          type: string
        recording_enabled:
          description: Boolean indicating if recording is enabled for the room.
          nullable: true
          type: boolean
        room_name:
          description: room friendly name.
          nullable: true
          type: string
        room_sid:
          description: Unique identifier for the room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RM[0-9a-fA-F]{32}$
          type: string
        room_status:
          description: Status of the room.
          enum:
            - in_progress
            - completed
          nullable: true
          type: string
        room_type:
          description: Type of room.
          enum:
            - go
            - peer_to_peer
            - group
            - group_small
          nullable: true
          type: string
        status_callback:
          description: Webhook provided for status callbacks.
          format: uri
          nullable: true
          type: string
        status_callback_method:
          description: HTTP method provided for status callback URL.
          enum:
            - HEAD
            - GET
            - POST
            - PATCH
            - PUT
            - DELETE
          nullable: true
          type: string
        total_participant_duration_sec:
          description: Combined amount of participant time in the room.
          nullable: true
          type: integer
        total_recording_duration_sec:
          description: Combined amount of recorded seconds for participants in the room.
          nullable: true
          type: integer
        unique_participant_identities:
          description: Unique number of participant identities.
          nullable: true
          type: integer
        unique_participants:
          description: Number of participants. May include duplicate identities for participants who left and rejoined.
          nullable: true
          type: integer
        url:
          description: URL for the room resource.
          format: uri
          nullable: true
          type: string
      type: object
    insights.v1.video_room_summary.video_participant_summary:
      properties:
        account_sid:
          description: Account SID associated with the room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        codecs:
          description: Codecs detected from the participant.
          items:
            enum:
              - VP8
              - H264
              - VP9
            type: string
          nullable: true
          type: array
        duration_sec:
          description: Amount of time in seconds the participant was in the room.
          nullable: true
          type: integer
        edge_location:
          description: Name of the edge location the participant connected to.
          enum:
            - ashburn
            - dublin
            - frankfurt
            - singapore
            - sydney
            - sao_paulo
            - roaming
            - umatilla
            - tokyo
          nullable: true
          type: string
        end_reason:
          description: Reason the participant left the room.
          nullable: true
          type: string
        error_code:
          description: Errors encountered by the participant.
          nullable: true
          type: integer
        error_code_url:
          description: Twilio error code dictionary link.
          nullable: true
          type: string
        join_time:
          description: When the participant joined the room.
          format: date-time
          nullable: true
          type: string
        leave_time:
          description: When the participant left the room
          format: date-time
          nullable: true
          type: string
        media_region:
          description: Twilio media region the participant connected to.
          enum:
            - us1
            - us2
            - au1
            - br1
            - ie1
            - jp1
            - sg1
            - in1
            - de1
            - gll
          nullable: true
          type: string
        participant_identity:
          description: The application-defined string that uniquely identifies the participant within a Room.
          nullable: true
          type: string
        participant_sid:
          description: Unique identifier for the participant.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^PA[0-9a-fA-F]{32}$
          type: string
        properties:
          description: Object containing information about the participant's data from the room.
          nullable: true
          type: object
        publisher_info:
          description: Object containing information about the SDK name and version.
          nullable: true
          type: object
        room_sid:
          description: Unique identifier for the room.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^RM[0-9a-fA-F]{32}$
          type: string
        status:
          description: Status of the room.
          enum:
            - in_progress
            - completed
          nullable: true
          type: string
        url:
          description: URL of the participant resource.
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: This product is Generally Available.
    name: GA
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
  - description: PLEASE NOTE that this is a Preview product that is subject to change. Use it with caution. If you currently do not have developer preview access, please contact help@twilio.com.
    name: Preview
