swagger: '2.0'
schemes:
  - https
host: api.apitore.com
basePath: /api/33
info:
  description: 'Various game feeds.<BR />[Endpoint] https://api.apitore.com/api/33'
  title: Game feeds APIs
  version: 0.0.1
  x-description-language: jp
  x-logo:
    url: 'https://apitore.com/img/apis/33.jpg'
  x-origin:
    - format: swagger
      url: 'https://api.apitore.com/json/33'
      version: '2.0'
  x-providerName: apitore.com
  x-serviceName: gameFeedsApis
consumes:
  - application/json
produces:
  - application/json
tags:
  - description: Rss Game Controller
    name: rss-game-controller
paths:
  /feeds/game:
    get:
      description: 'Game feeds.<BR />Response<BR />&nbsp; Github: <a href="https://github.com/keigohtr/apitore-response-parent/tree/master/rome-response">rome-response</a><BR />&nbsp; Class: com.apitore.banana.response.org.rome.FeedResponseEntity<BR />'
      operationId: feedUsingGET_5
      parameters:
        - description: Access Token
          in: query
          name: access_token
          required: true
          type: string
        - default: 1
          description: 'Page number [page x 10 feeds]'
          format: int32
          in: query
          name: page
          required: false
          type: integer
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FeedResponseEntity'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
      summary: Get game feeds
      tags:
        - rss-game-controller
definitions:
  FeedEntryEntity:
    properties:
      author:
        description: Author
        type: string
      description:
        description: Description
        type: string
      link:
        description: Link
        type: string
      pubDate:
        description: Published Date
        format: int64
        type: integer
      sourceLink:
        description: Source Link
        type: string
      sourceTitle:
        description: Source Title
        type: string
      title:
        description: Title
        type: string
    required:
      - link
      - pubDate
      - sourceLink
      - sourceTitle
      - title
    type: object
  FeedResponseEntity:
    properties:
      endTime:
        description: End date
        type: string
      entries:
        description: Entries
        items:
          $ref: '#/definitions/FeedEntryEntity'
        type: array
      lastUpdatedAt:
        description: Last Updated At
        format: int64
        type: integer
      log:
        description: Log message
        type: string
      num:
        description: Num
        format: int32
        type: integer
      page:
        description: Input page num
        format: int32
        type: integer
      processTime:
        description: 'Process time [millisecond]'
        type: string
      startTime:
        description: Start date
        type: string
    required:
      - endTime
      - entries
      - lastUpdatedAt
      - log
      - num
      - page
      - processTime
      - startTime
    type: object
