openapi: 3.0.0
servers:
  - url: https://indexing.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Notifies Google when your web pages change.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Indexing API
  version: v3beta1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: openapi
      url: https://indexing.googleapis.com/$discovery/rest?version=v3
      version: "3.0"
  x-providerName: googleapis.com
  x-serviceName: indexing
externalDocs:
  url: https://developers.google.com/search/apis/indexing-api/
tags:
  - name: projects
paths:
  "/v3beta1/{name}":
    get:
      description: Gets the project summary.
      operationId: indexing.projects.getSummary
      parameters:
        - description: "The resource name of the project summary. For example: projects//summary."
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProjectSummary"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/indexing
          Oauth2c:
            - https://www.googleapis.com/auth/indexing
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    Date:
      description: "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values * A month and day value, with a zero year, such as an anniversary * A year on its own, with zero month and day values * A year and month value, with a zero day, such as a credit card expiration date Related types are google.type.TimeOfDay and `google.protobuf.Timestamp`."
      properties:
        day:
          description: Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.
          format: int32
          type: integer
        month:
          description: Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.
          format: int32
          type: integer
        year:
          description: Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.
          format: int32
          type: integer
      type: object
    ErrorStats:
      description: The error stats for urlNotifications.
      properties:
        code:
          description: The http response code for the urlNotification.
          format: int32
          type: integer
        count:
          description: The number of the errors.
          format: int64
          type: string
      type: object
    ProjectDailyRequestStats:
      description: Daily request stats for a project.
      properties:
        date:
          $ref: "#/components/schemas/Date"
          description: Date for the daily stats. The stats are aggregated between 00:00 UTC to 23:59 UTC of the date.
        errorStats:
          description: The error stats for UrlNotifications.
          items:
            $ref: "#/components/schemas/ErrorStats"
          type: array
        removeReqStats:
          $ref: "#/components/schemas/RemoveRequestStats"
          description: The stats for the remove UrlNotifications.
        updateReqStats:
          $ref: "#/components/schemas/UpdateRequestStats"
          description: The stats for the update UrlNotifications.
      type: object
    ProjectSummary:
      description: ProjectSummary is a singleton resource for each Indexing API consumer project. It contains the request stats and quota stats for the project.
      properties:
        dailyReqStats:
          description: Daily request stats for the last 7 days. Sorted in descending order by the date. Daily stats subjects to 1 day delay.
          items:
            $ref: "#/components/schemas/ProjectDailyRequestStats"
          type: array
        name:
          description: "The resource name of the project summary. For example: projects//summary."
          type: string
        quotaStats:
          $ref: "#/components/schemas/QuotaStats"
          description: The quota stats for the project.
      type: object
    QuotaLimit:
      description: The quota limit.
      properties:
        numReqsPerDay:
          description: Maximum number of requests per day.
          format: int64
          type: string
        numReqsPerMin:
          description: Maximum number of requests per minute.
          format: int64
          type: string
      type: object
    QuotaStats:
      description: The quota stats for the project.
      properties:
        currentPublishReqQuota:
          $ref: "#/components/schemas/QuotaLimit"
          description: The current quota limit for urlNotification:publish.
        previousPublishReqQuota:
          $ref: "#/components/schemas/QuotaLimit"
          description: Optional. The previous quota limit for urlNotification:publish before auto adjustment.
        quotaAdjustmentReason:
          description: Optional. The reason for the quota increase or decrease.
          type: string
      type: object
    RemoveRequestStats:
      description: The request stats for urlNotifications of type 'remove'.
      properties:
        notRemovedCount:
          description: The number of urls that are not removed.
          format: int64
          type: string
        otherCount:
          description: The number of urls that have not yet reached terminal status by the time the aggregation window closes. Window length is 24 hours.
          format: int64
          type: string
        removedCount:
          description: The number of urls that are removed.
          format: int64
          type: string
        requestCount:
          description: The number of requests.
          format: int64
          type: string
      type: object
    UpdateRequestStats:
      description: The request stats for urlNotifications of type 'update'.
      properties:
        indexedCount:
          description: The number of urls that are indexed.
          format: int64
          type: string
        notIndexedCount:
          description: The number of urls that are not indexed.
          format: int64
          type: string
        otherCount:
          description: The number of urls that have not yet reached terminal status by the time the aggregation window closes. Window length is 24 hours.
          format: int64
          type: string
        requestCount:
          description: The number of requests.
          format: int64
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/indexing: Submit data to Google for indexing
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/indexing: Submit data to Google for indexing
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
