openapi: 3.0.3
servers:
  - description: API Server
    url: https://api.ideal-postcodes.co.uk/v1
    variables: {}
info:
  contact:
    email: support@ideal-postcodes.co.uk
    name: Support
    url: https://ideal-postcodes.co.uk/support
  description: |
    # Getting Started

    ## Overview

    ### Access

    All API methods are either a `GET`, `POST` or `OPTIONS` request.

    The API communicates over both HTTPS and plain HTTP using IPv4 and IPv6.

    We recommend using HTTPS only although HTTP is available.

    We use appropriate HTTP status codes where possible to indicate the request status.

    ### Rate Limiting

    Each IP address is rate limited at 30 requests per second. Tripping the rate limit will result in a 503 response.

    The autocomplete API also has an additional rate limit.

    If you expect to breach the limit please contact us and we can move you to an endpoint with a higher limit.

    ### JSONP

    [JSONP](http://en.wikipedia.org/wiki/JSONP) requests are supported. Include a `callback=` in your request as a query parameter. Your results return wrapped in a function designated by your request.

    ## Authentication

    Most requests require an **API key** for authentication. Authenticate by passing an `api_key` as part of the query string. For example:

    ```
    api.ideal-postcodes.co.uk/v1/autocomplete/addresses?api_key=iddqd&q=parkside
    ```

    Alternatively, authentication can be transmitted via the `Authorization` header using the following scheme:

    ```
    Authorization: api_key="iddqd" [other_key="foo"]
    ```

    ## Versioning

    This API is versioned with a simple prefix in the URL. The current version is `/v1/`. We will maintain backwards-compatibility by releasing breaking changes under a new version.

    Please note that the following changes are backwards-compatible:

    - Adding new properties to existing API responses
    - Adding new API endpoints
    - Adding new optional request parameters to existing API endpoints
    - Changing the order of properties in existing API responses
    - Changing the autocomplete address suggestion format

    ## Error Handling

    A successful lookup is accompanied with a HTTP status code of 200 and a response code of 2000 (found in the body).

    An error has occurred if the HTTP status code is not 200. Errors can range from a benign 404 (resource not found) to more urgent errors (your API Key ran out of credit, failed authentication, etc).

    ## Testing

    Each new account comes with a free test balance. Contact us if you need more for testing and integration.

    ### Community Key

    Our documentation and demos make heavy use of our community key `iddqd`. This allows for convenient access for trialing the API.

    Many restrictions on this key are relaxed to allow developers make test requests. This key has a limit of 15 lookups per IP address per day as well as a daily usage cap. If you hit any limit restrictions, you can continue testing the API by creating a key of your own and using our free test methods.

    Please be kind with the community key. We're trusting everyone to use it responsibly so that other developers may trial the API. Thank you!

    ## Metadata

    Requests that affect your balance may be annotated with arbitrary metadata. This data is stored along with your lookup history and can be queried at a later date via the API or the dashboard. We call the ability to label your requests [tagging](https://docs.ideal-postcodes.co.uk/docs/guides/tags).

    # Response Codes

    The API returns two indicators to help you to determine the status of each HTTP request.

    The first is the **HTTP Status**, which is found in the status-line of all HTTP requests. The API will return status codes that adhere to HTTP /1.1 Specifications wherever possible.

    `2XX` status codes indicates success while `4XX` and `5XX` indicate client and server errors respectively.

    The second is the **API response code**, which can be found in the `code` property of the response body. This code will provide a more specific reason if a failure has occurred and can point you in the right direction when debugging.

    Please use the glossary of code numbers and HTTP status codes below when debugging your requests.

    ## 200 Request Success

    | HTTP Code | API Code | Description                                  |
    | --------- | -------- | -------------------------------------------- |
    | 200       | 2000     | Success. Request was completed successfully. |

    ## 400 Bad Request

    The request could not be understood due to some input error.

    | HTTP Code | API Code | Description                                                                                                                           |
    | --------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------- |
    | 400       | 4000     | Invalid syntax submitted. Some part of your request was malformed or did not match our specifications.                                |
    | 400       | 4001     | Validation failed on your submitted data. Some of the data you provided did not meet our validation requirements, e.g. string length. |
    | 400       | 4005     | Invalid start date. Please ensure start dates are provided as a UTC Timestamp in milliseconds.                                        |
    | 400       | 4006     | Invalid end date. Please ensure end dates are provided as a UTC Timestamp in milliseconds.                                            |
    | 400       | 4007     | Invalid date range. Check if your start and end dates are in the right order.                                                         |
    | 400       | 4008     | Invalid date range. Check that your date range is 90 days or less.                                                                    |
    | 400       | 4009     | Too many tags. Please specify no more than 3 tags to query.                                                                           |

    ## 401 Unauthorised

    Authorization credentials are not valid.

    | HTTP Code | API Code | Description                                                                                                                                                        |
    | --------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------ |
    | 401       | 4010     | Invalid Key. The `api_key` you provided is not valid.                                                                                                              |
    | 401       | 4011     | Requesting URL not on whitelist. The cross domain request is not coming from a whitelisted URL. You can update or disable your allowed URLs via your Key settings. |
    | 401       | 4012     | Failed user authentication. Invalid `user_token` presented.                                                                                                        |
    | 401       | 4013     | Licensee Key is required. Sublicensed keys require you need to present licensee credentials via the `licensee` parameter.                                          |

    ## 402 Request Failed

    Your request is well-formed but are not able to complete your request for another reason.

    | HTTP Code | API Code | Description                                                                                                                                                                                                                                                        |
    | --------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ |
    | 402       | 4020     | Key balance depleted. You're out of lookups on your API Key.                                                                                                                                                                                                       |
    | 402       | 4021     | Limit reached. One of your lookup limits has been breached for today. This could either be your total daily limit on your key or the individual IP limit. You can either wait for for the limit to reset (after a day) or manually disable or increase your limit. |

    ## 404 Resource Not Found

    The resource you requested does not exist.

    | HTTP Code | API Code | Description                                                                                   |
    | --------- | -------- | --------------------------------------------------------------------------------------------- |
    | 404       | 4040     | Postcode not found. The postcode you have submitted does not exist.                           |
    | 404       | 4041     | User not found. Your user could not be identified given the credentials you presented.        |
    | 404       | 4042     | Key not found. Your key could not be identified given the credentials you presented.          |
    | 404       | 4044     | No UDPRN found. No address is associated with the UDPRN queried                               |
    | 404       | 4045     | No licensee found. Your licensee could not be identified given the credentials you presented. |
    | 404       | 4046     | No UMPRN found. No Multiple Residence premise is associated with the UMPRN queried.           |

    ## 500 Server Error

    A error occurred on our server.

    | HTTP Code | API Code | Description                                                                                                                                                        |
    | --------- | -------- | ------------------------------------------------------------------------------------------------------------------------------------------------------------------ |
    | 500       | 5000     | An error occurred on our end. These errors are logged and queued so we can understand what went wrong. However, if you need speedy resolution please email support |
    | 500       | 5001     | Akin to 5000.                                                                                                                                                      |
    | 500       | 5002     | The server took too long to process on our end, so we aborted the request. You may retry the request.                                                              |
  license:
    name: AGPLv3
    url: https://opensource.org/licenses/AGPL-3.0
  termsOfService: https://terms.ideal-postcodes.co.uk
  title: API Reference - Ideal Postcodes
  version: 3.7.0
  x-apisguru-categories:
    - location
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_ideal-postcodes.co.uk_apple-icon-57x57.png
  x-origin:
    - format: openapi
      url: https://openapi.ideal-postcodes.dev/openapi.json
      version: "3.0"
  x-providerName: ideal-postcodes.co.uk
externalDocs:
  description: More on our APIs, libraries with guides and examples
  url: https://docs.ideal-postcodes.co.uk
tags:
  - description: Global address autocomplete, for search-as-you-type
    name: Address Search
  - description: Global places search to identify geographical names and places
    name: Place Search
  - description: UK Address and Postcode Search
    name: UK
  - description: Monitor and manage API Keys
    name: Keys
  - description: |
      The Licensee resource represents an alternate legal End User of our data who may not be same entity as the owners of the account.

      The concept of Licensees underpins our sublicensing platform, which allows users to license multiple external organisations or individuals to access data under the same account.

      Sublicensing is ideal for platform vendors, who provide services to multiple clients who in turn each have their own users.
    name: Licensees
  - description: |
      The Config resource allows users to assign serialised configuration data to API Keys. The payloads assigned to a Config object can later be retrieved to dynamically configure your integration.

      Useful if you need to configure your integration remotely rather than editing code in situ.
    name: Configs
  - description: |
      Address Suggestions are simple, human readable representations of an address. This format is sufficient tfor a user to determine an address match in an address autocomplete interface. A second request must be made to the API to gather fully validated address.

      See our Address Search APIs for more information on address autocompletion.

      <SchemaDefinition schemaRef="#/components/schemas/AddressSuggestion" />
    name: suggestion
    x-displayName: Address Suggestion
  - description: |
      Standard US Address format as reported by USPS.

      <SchemaDefinition schemaRef="#/components/schemas/UspsAddress" />
    name: usps_address
    x-displayName: US Address
  - description: |
      Standard UK Address format as reported by Royal Mail's Postcode Address File (PAF). PAF is the most complete and up-to-date address database in the UK.

      <SchemaDefinition schemaRef="#/components/schemas/PafAddress" />
    name: uk_address
    x-displayName: UK Address
  - description: |
      Standard Republic of Ireland Address format as reported by the Eircode ECAF file.

      <SchemaDefinition schemaRef="#/components/schemas/EcafAddress" />
    name: ecaf_address
    x-displayName: IE Address
  - description: |
      ECAF file including additional data for each address.

      <SchemaDefinition schemaRef="#/components/schemas/EcadAddress" />
    name: ecad_address
    x-displayName: IE Address (ECAD)
  - description: |
      GeoNames place record

      <SchemaDefinition schemaRef="#/components/schemas/GeonamesPlace" />
    name: geonames_place
    x-displayName: GeoNames Place
paths:
  /addresses:
    get:
      description: |
        Extract a list of complete addresses that match the query ordered by relevance score. This query accepts an optional limit and page query (defaults to 10 and 0 respectively).

        If a valid postcode is passed as the query string, the entire address list for that postcode is passed as a result. Note, in these cases, limit and page parameters are ignored.

        This API is designed as a multi-purpose tool for generating address lists, cleansing and wholesale data extraction according to specific parameters.

        For address autocomplete, see our address finder API - which is designed for speed and address completion.

        ## Reverse Geocoding

        Return a list of addresses around a point using the lon= and lat= querystring arguments. Addresses will be sorted in order of distance to the point. The search radius is 100m.

        ## Filters

        You can strictly narrow your result by adding filters to your query string which correspond with an address attribute.

        For instance, you can restrict to postcode `SW1A 2AA` by appending `postcode=sw1a2aa`.

        If a filter term is invalid, e.g. `postcode=SW1A2AAA`, then an empty result set is returned and no lookup is incurred.

        You can also scope using multiple terms for the same filter with a comma separated list of terms. E.g. Restrict results to E1, E2 and E3 outward codes: `postcode_outward=e1,e2,e3`. Multiple terms are `OR`'ed, i.e. the matching result sets are combined.

        All filters can accept multiple terms unless stated otherwise below.

        Multiple filters can also be combined. E.g. Restrict results to small user organisations in the N postcode area: `su_organisation_indicator=Y&postcode_area=n`. Multiple filters are `AND`'ed, i.e. each additional filter narrows the result set.

        A combined maximum of 5 terms are allowed across all filters.

        ## Biases

        You can boost certain addresses results that correspond with a certain address attribute. All bias searches are prefixed with `bias_`.

        Biased searches, unlike filtered searches, also allow unmatched addresses to appear . These will rank lower.

        For instance, you can boost addresses with postcode areas `SW` and `SE` by appending `bias_postcode_area=SW,SE`.

        If a bias term is invalid, e.g. `bias_postcode=SW1A2AAA` no bias effect is applied.

        You may scope using multiple terms for the same bias with a comma separated list of terms. E.g. Restrict results to `E1`, `E2` and `E3` outward codes: `bias_postcode_outward=e1,e2,e3`.

        All biases can accept multiple terms unless stated otherwise below.

        A combined maximum of 5 terms are allowed across all biases.

        ## Search by Postcode and Building Name or Number

        Search by postcode and building attribute with the postcode filter and query argument. E.g. For "SW1A 2AA Prime Minister" `/v1/addresses?postcode=sw1a2aa&q=prime minister`.

        The advantage of using filters is a postcode mismatch does not result in a lookup as no results are returned.

        #### Search By UPRN

        Search by UPRN using the `uprn` filter and excluding the query argument. E.g. `/v1/addresses?uprn=100`.

        ## Testing

        - **ID1 1QD** Returns a successful query response `2000`
        - **ID1 KFA** Returns an empty query response `2000`
        - **ID1 CLIP** Returns "no lookups remaining" error `4020`
        - **ID1 CHOP** Returns "daily (or individual) lookup limit breached" error `4021`

        Test request undergo the usual authentication and restriction rules. This is to help surface any issues that occur during implementation and does not cost you a lookup.
      operationId: Addresses
      parameters:
        - explode: false
          in: query
          name: api_key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
        - description: Specifies the address you wish to query. Query can be shortened to `q=`
          explode: false
          in: query
          name: query
          schema:
            type: string
          style: form
        - explode: false
          in: query
          name: limit
          schema:
            $ref: "#/components/schemas/LimitParam"
          style: form
        - explode: false
          in: query
          name: page
          schema:
            $ref: "#/components/schemas/PageParam"
          style: form
        - explode: false
          in: query
          name: filter
          schema:
            $ref: "#/components/schemas/FilterParam"
          style: form
        - explode: false
          in: query
          name: lon
          schema:
            $ref: "#/components/schemas/AddressLongitudeParam"
          style: form
        - explode: false
          in: query
          name: lat
          schema:
            $ref: "#/components/schemas/AddressLatitudeParam"
          style: form
        - explode: false
          in: query
          name: postcode_outward
          schema:
            $ref: "#/components/schemas/PostcodeOutwardParam"
          style: form
        - explode: false
          in: query
          name: postcode
          schema:
            $ref: "#/components/schemas/PostcodeParam"
          style: form
        - explode: false
          in: query
          name: postcode_area
          schema:
            $ref: "#/components/schemas/PostcodeAreaParam"
          style: form
        - explode: false
          in: query
          name: postcode_sector
          schema:
            $ref: "#/components/schemas/PostcodeSectorParam"
          style: form
        - explode: false
          in: query
          name: post_town
          schema:
            $ref: "#/components/schemas/PostTownParam"
          style: form
        - explode: false
          in: query
          name: uprn
          schema:
            $ref: "#/components/schemas/UPRNParam"
          style: form
        - explode: false
          in: query
          name: country
          schema:
            $ref: "#/components/schemas/CountryParam"
          style: form
        - explode: false
          in: query
          name: postcode_type
          schema:
            $ref: "#/components/schemas/PostcodeTypeParam"
          style: form
        - explode: false
          in: query
          name: su_organisation_indicator
          schema:
            $ref: "#/components/schemas/SmallUserParam"
          style: form
        - explode: false
          in: query
          name: box
          schema:
            $ref: "#/components/schemas/BoxParam"
          style: form
        - explode: false
          in: query
          name: bias_postcode_outward
          schema:
            $ref: "#/components/schemas/BiasPostcodeOutwardParam"
          style: form
        - explode: false
          in: query
          name: bias_postcode
          schema:
            $ref: "#/components/schemas/BiasPostcodeParam"
          style: form
        - explode: false
          in: query
          name: bias_postcode_area
          schema:
            $ref: "#/components/schemas/BiasPostcodeAreaParam"
          style: form
        - explode: false
          in: query
          name: bias_postcode_sector
          schema:
            $ref: "#/components/schemas/BiasPostcodeSectorParam"
          style: form
        - explode: false
          in: query
          name: bias_post_town
          schema:
            $ref: "#/components/schemas/BiasPosttownParam"
          style: form
        - explode: false
          in: query
          name: bias_thoroughfare
          schema:
            $ref: "#/components/schemas/BiasThoroughfareParam"
          style: form
        - explode: false
          in: query
          name: bias_country
          schema:
            $ref: "#/components/schemas/BiasCountryParam"
          style: form
        - explode: false
          in: query
          name: bias_lonlat
          schema:
            $ref: "#/components/schemas/BiasLonLatParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddressResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostcodeNotFoundResponse"
          description: Postcode Not Found
      summary: Extract Addresses
      tags:
        - UK
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/addresses?api_key=iddqd&query=10%20downing%20street%20london
        - label: CLI
          lang: cURL
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/addresses' \
              -d 'api_key=iddqd' \
              --data-urlencode 'query=10 downing street london'
  /autocomplete/addresses:
    get:
      description: |
        The address autocomplete API returns a list of address suggestions that match the query ordered by relevance.

        This API can be used to power realtime address finders, also known as address autofill or address autocomplete.

        Consider using our Address Autocomplete JavaScript libraries to add address lookup to a form in moments.

        ## Implementing Address Autocomplete

        Rapid address autocompletion using our Address Autocomplete API is a 2 step process.

        1. Retrieve partial address suggestions via `/autocomplete/addresses`
        2. Retrieve the entire address with the ID provided in the suggestion

        Step 2 will decrement your lookup balance.

        Please note, this API is not intended to be a free standalone resource.

        ## Filters

        You can strictly narrow your result by adding filters to your querystring. For instance, you can restrict to postcode `SW1A 2AA` by appending `postcode=sw1a2aa`.

        If a filter term is invalid, e.g. `postcode=SW1A2AAA`, then an empty result set is returned and no lookup is incurred.

        You can also scope using multiple terms for the same filter with a comma separated list of terms. E.g. Restrict results to E1, E2 and E3 outward codes: `postcode_outward=e1,e2,e3`. Multiple terms are `OR`'ed, i.e. the matching result sets are combined.

        All filters can accept multiple terms unless stated otherwise below.

        Filters can also be combined. E.g. Restrict results to small user organisations in the N postcode area: `su_organisation_indicator=Y&postcode_area=n`. Multiple filters are `AND`'ed, i.e. each additional filter narrows the result set.

        A maximum of **10** terms are allowed across all filters.

        ## Biases

        You can boost certain addresses results that match specific address criteria. All bias searches are prefixed with `bias_`.

        Biasing (unlike filtering) also allow unmatched addresses to appear with lower precedence.

        For instance, can boost addresses with postcode areas `SW` and `SE` by appending `bias_postcode_area=SW,SE`.

        No bias effect applies to bias terms that are invalid. e.g. `bias_postcode=SW1A2AAA`

        You may scope using multiple terms for the same bias with a comma separated list of terms. E.g. Restrict results to `E1`, `E2` and `E3` outward codes: <code>bias_postcode_outward=e1,e2,e3</code>.

        All biases can accept multiple terms unless stated otherwise below.

        A combined maximum of **5** terms are allowed across all biases.

        ## Suggestion Format

        The suggestion format is prone to change over time. Attempts to parse the suggestion may result in your integration breaking. Instead use the suggestion as-is.

        ## Rate Limiting

        You can make up to 3000 requests to the autocomplete API within a 5 minute span. The HTTP Header contains information on your current rate limit.

        | Header                  | Description                                                                            |
        | ----------------------- | -------------------------------------------------------------------------------------- |
        | `X-RateLimit-Limit`     | The maximum number of requests that can be made in 5 minutes                           |
        | `X-RateLimit-Remaining` | The remaining requests within the current rate limit window                            |
        | `X-RateLimit-Reset`     | The time when the rate limit window resets in Unix Time (seconds) or UTC Epoch seconds |

        ## Pricing

        This API currently does not affect your balance. However, resolving a suggestion into a full address requires a paid request.

        Please note, this API is not intended as a standalone free resource. Integrations that consistently make autocomplete requests without a paid request to resolve an address may be disrupted via tightened rate limits. Continued misuse will result in account suspension.
      operationId: AddressAutocomplete
      parameters:
        - explode: false
          in: query
          name: api_key
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
        - description: Specifies the address you wish to query. Query can be shortened to `q=`
          explode: false
          in: query
          name: query
          schema:
            type: string
          style: form
        - explode: false
          in: query
          name: context
          schema:
            $ref: "#/components/schemas/Context"
          style: form
        - description: |
            Limits number of address suggestions unless a postcode is detected. In this instance entire list of addreses for that postcode is returned.
          explode: false
          in: query
          name: limit
          schema:
            $ref: "#/components/schemas/LimitParam"
          style: form
        - explode: false
          in: query
          name: postcode_outward
          schema:
            $ref: "#/components/schemas/PostcodeOutwardParam"
          style: form
        - explode: false
          in: query
          name: postcode
          schema:
            $ref: "#/components/schemas/PostcodeParam"
          style: form
        - explode: false
          in: query
          name: postcode_area
          schema:
            $ref: "#/components/schemas/PostcodeAreaParam"
          style: form
        - explode: false
          in: query
          name: postcode_sector
          schema:
            $ref: "#/components/schemas/PostcodeSectorParam"
          style: form
        - explode: false
          in: query
          name: post_town
          schema:
            $ref: "#/components/schemas/PostTownParam"
          style: form
        - explode: false
          in: query
          name: uprn
          schema:
            $ref: "#/components/schemas/UPRNParam"
          style: form
        - explode: false
          in: query
          name: country
          schema:
            $ref: "#/components/schemas/CountryParam"
          style: form
        - explode: false
          in: query
          name: postcode_type
          schema:
            $ref: "#/components/schemas/PostcodeTypeParam"
          style: form
        - explode: false
          in: query
          name: su_organisation_indicator
          schema:
            $ref: "#/components/schemas/SmallUserParam"
          style: form
        - explode: false
          in: query
          name: box
          schema:
            $ref: "#/components/schemas/BoxParam"
          style: form
        - explode: false
          in: query
          name: bias_postcode_outward
          schema:
            $ref: "#/components/schemas/BiasPostcodeOutwardParam"
          style: form
        - explode: false
          in: query
          name: bias_postcode
          schema:
            $ref: "#/components/schemas/BiasPostcodeParam"
          style: form
        - explode: false
          in: query
          name: bias_postcode_area
          schema:
            $ref: "#/components/schemas/BiasPostcodeAreaParam"
          style: form
        - explode: false
          in: query
          name: bias_postcode_sector
          schema:
            $ref: "#/components/schemas/BiasPostcodeSectorParam"
          style: form
        - explode: false
          in: query
          name: bias_post_town
          schema:
            $ref: "#/components/schemas/BiasPosttownParam"
          style: form
        - explode: false
          in: query
          name: bias_thoroughfare
          schema:
            $ref: "#/components/schemas/BiasThoroughfareParam"
          style: form
        - explode: false
          in: query
          name: bias_country
          schema:
            $ref: "#/components/schemas/BiasCountryParam"
          style: form
        - explode: false
          in: query
          name: bias_lonlat
          schema:
            $ref: "#/components/schemas/BiasLonLatParam"
          style: form
        - explode: false
          in: query
          name: bias_ip
          schema:
            $ref: "#/components/schemas/BiasIpParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AutocompleteResponse"
          description: Success
          headers:
            X-RateLimit-Limit:
              description: The maximum number of requests that can be made in 5 minutes
              schema:
                format: int32
                type: number
            X-RateLimit-Remaining:
              description: The remaining requests within the current rate limit window
              schema:
                format: int32
                type: number
            X-RateLimit-Reset:
              description: |
                The time when the rate limit window resets in Unix Time (seconds) or UTC Epoch seconds.
              schema:
                format: int32
                type: number
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Find Address
      tags:
        - Address Search
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses?api_key=iddqd&q=10%20downing
        - label: CLI
          lang: cURL
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses' \
              -d 'api_key=iddqd' \
              --data-urlencode 'query=10 downing'
  "/autocomplete/addresses/{address}/gbr":
    get:
      description: |
        Resolves an address autocompletion by its address ID.

        Resolved addresses (including global addresses) are returned in a UK format (up to 3 address lines) using UK nomenclature (like postcode and county).
      operationId: Resolve
      parameters:
        - description: ID of address suggestion
          explode: false
          in: path
          name: address
          required: true
          schema:
            type: string
          style: simple
        - explode: false
          in: query
          name: api_key
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GbrResolveAddressResponse"
          description: Success
          headers: {}
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Resolve Address (GBR)
      tags:
        - Address Search
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr?api_key=iddqd
        - label: CLI
          lang: cURL
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/paf_23747771/gbr?api_key=iddqd \
              -d "api_key=iddqd"
  "/autocomplete/addresses/{address}/usa":
    get:
      description: |
        Resolves an address autocompletion by its address ID.

        Resolved addresses (including global addresses) are returned in a US format (up to 2 address lines) using US nomenclature (like zipcode, state and city).
      operationId: ResolveUsa
      parameters:
        - description: ID of address suggestion
          explode: false
          in: path
          name: address
          required: true
          schema:
            type: string
          style: simple
        - explode: false
          in: query
          name: api_key
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsaResolveAddressResponse"
          description: Success
          headers: {}
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Resolve Address (USA)
      tags:
        - Address Search
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/usps_Z222446599|1||1101/usa?api_key=iddqd
        - label: CLI
          lang: cURL
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/autocomplete/addresses/usps_Z222446599|1||1101/usa?api_key=iddqd \
              -d "api_key=iddqd"
  /cleanse/addresses:
    post:
      description: |
        The address cleanse API attempts to return the closest matching address for any given address inputs. We also return a number of Match Level indicators that describe the degree to which the suggested address matches the input address. The more impaired the input address, the harder it is to cleanse.

        ## Confidence Score

        The confidence score is a number ranging between 0 and 1. Where 1 implies a full match and 0 implies no major elements completely match. Each incorrect, missing or misspelled element will subtract from the overall confidence score.

        ### Deciding on an Acceptable Confidence Score Threshold

        Different address cleanse projects can have radically different inputs. However, within each project, the inputs tend to repeat the same errors. For instance, some input datasets may be exclusively inputted manually and be prone to typos. Others may have a persistently missing datapoint such as organistation name or postcode. For this reason, it is important to understand that there is no absolute Confidence Score threshold. Instead, the acceptable confidence score must be determined on a project by project basis based on systematic errors present in the data and business goals.

        When determining an acceptable Confidence Score threshold you should load a subset of the dataset into a spreadsheet application like Excel and sort on the score. Scrolling from top-to-bottom you will be able to observe matches from best to worst. As you start to hit the lower quality searches, you will be able to roughly determine:
        - Which confidence scores indicate ambigious matches (i.e. up to building level only)
        - Which confidence scores indicate a poor or no match (i.e. the nearest matching address is too far from the input address)

        Depending on your business goals, you can also use the Match Levels to determine an acceptable match. For instance, do you need to match up to the throroughfare or building name only? Are accurate organisation names an important feature?
      operationId: AddressCleanse
      parameters:
        - explode: false
          in: query
          name: api_key
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
      requestBody:
        content:
          application/json:
            schema:
              properties:
                query:
                  description: |
                    Freeform address input to cleanse
                  example: 10 Downing Street, London, SW2A 2BN
                  type: string
              required:
                - query
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CleanseResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
          description: Unauthorized
        "429":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RateLimitedResponse"
          description: Rate Limited
      summary: Cleanse
      tags:
        - UK
      x-codeSamples:
        - label: CLI
          lang: cURL
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/cleanse/addresses' \
              -H 'Authorization: api_key="ak_test"'
              -H 'Content-Type: application/json'
              -d '{"query": "10 downing street sw1a"}'
  /emails:
    get:
      description: |
        Query for and validate email addresses.
      operationId: EmailValidation
      parameters:
        - explode: false
          in: query
          name: api_key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
        - description: Specifies the email address to validate
          explode: false
          in: query
          name: query
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EmailResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Email Validation
      tags:
        - Emails
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/emails?api_key=ak_test&query=foo@domain.com
        - label: CLI
          lang: cURL
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/emails' \
              -d 'api_key=iddqd' \
              --data-urlencode 'query=foo@domain.com'
  "/keys/{key}":
    get:
      description: |+
        Returns public information on key. Currently only returns whether the key is currently useable via the `available` property. Use this to discover if the key is useable before making further requests.

        You may pass both API Keys (beginning `ak_`) and Sub-licensed Keys (beginning `sl_`).
        ## Testing

        To test your implementation of our API, you may use the following test keys.

        - **iddqd** Availability will return as `true`
        - **idkfa** Availability will return as `false`

      operationId: KeyAvailability
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyResponse"
          description: Success
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Invalid Key
      summary: Availability
      tags:
        - Keys
  "/keys/{key}/configs":
    get:
      description: Lists configurations associated with a key
      operationId: ListConfigs
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigsResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
          description: Unauthorized Request
      summary: List
      tags:
        - Configs
    post:
      description: Create a config
      operationId: CreateConfig
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigNewParam"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
          description: Unauthorized Request
      summary: Create
      tags:
        - Configs
  "/keys/{key}/configs/{config}":
    delete:
      description: Permanently deletes a configuration object.
      operationId: DeleteConfig
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: path
          name: config
          required: true
          schema:
            $ref: "#/components/schemas/ConfigParam"
          style: simple
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  code:
                    enum:
                      - 2000
                    format: int32
                    type: integer
                  message:
                    enum:
                      - Success
                    type: string
                  result:
                    properties:
                      deleted:
                        example: 1
                        format: int32
                        minimum: 0
                        type: number
                    required:
                      - deleted
                    type: object
                required:
                  - result
                  - code
                  - message
                title: Config Delete Response
                type: object
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
          description: Unauthorized Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Not Found
      summary: Delete
      tags:
        - Configs
    get:
      description: Retrieve config object by name
      operationId: RetrieveConfig
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: path
          name: config
          required: true
          schema:
            $ref: "#/components/schemas/ConfigParam"
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigResponse"
          description: Success
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Not Found
      summary: Retrieve
      tags:
        - Configs
    post:
      description: Updates configuration object
      operationId: UpdateConfig
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: path
          name: config
          required: true
          schema:
            $ref: "#/components/schemas/ConfigParam"
          style: simple
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConfigUpdateParam"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConfigResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UnauthorizedResponse"
          description: Unauthorized Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotFoundResponse"
          description: Not Found
      summary: Update
      tags:
        - Configs
  "/keys/{key}/details":
    get:
      deprecated: false
      description: |
        Returns private data on the key including remaining lookups, available datasets and usage limits.
      operationId: KeyDetails
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyDetailsResponse"
          description: Success
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Unauthorised
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Details
      tags:
        - Keys
  "/keys/{key}/licensees":
    get:
      description: Returns a list of licensees for a key.
      operationId: ListLicensees
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - description: Specify ID of the licensee after which you would like to list results
          explode: false
          in: query
          name: starting_after
          schema:
            format: int32
            type: integer
          style: form
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
        - description: Specify the maximum number of results to return per page. Default and maximum is `100`.
          explode: false
          in: query
          name: limit
          schema:
            $ref: "#/components/schemas/LimitParam"
          style: form
        - description: Filter result by licensee name. Query can be shortened to `q=`
          explode: false
          in: query
          name: query
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LicenseesResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: List
      tags:
        - Licensees
    post:
      description: Create a licensee for the specified API Key.
      operationId: CreateLicensee
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LicenseeEditable"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LicenseeResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Create
      tags:
        - Licensees
  "/keys/{key}/licensees/{licensee}":
    delete:
      description: Cancels a licensee key. This renders a licensee unusable. This action can be reversed if you get in contact with us.
      operationId: DeleteLicensee
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: path
          name: licensee
          required: true
          schema:
            $ref: "#/components/schemas/LicenseeParam"
          style: simple
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  code:
                    enum:
                      - 2000
                    format: int32
                    type: integer
                  message:
                    enum:
                      - Success
                    type: string
                  result:
                    properties:
                      deleted:
                        example: 1
                        format: int32
                        minimum: 0
                        type: number
                    required:
                      - deleted
                    type: object
                required:
                  - result
                  - code
                  - message
                title: Licensee Delete Response
                type: object
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Cancel
      tags:
        - Licensees
    get:
      description: Returns licensee information as identified by the licensee key.
      operationId: RetrieveLicensee
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: path
          name: licensee
          required: true
          schema:
            $ref: "#/components/schemas/LicenseeParam"
          style: simple
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LicenseeResponse"
          description: Success
          headers: {}
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Retrieve
      tags:
        - Licensees
    put:
      description: Update Licensee
      operationId: UpdateLicensee
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - explode: false
          in: path
          name: licensee
          required: true
          schema:
            $ref: "#/components/schemas/LicenseeParam"
          style: simple
        - explode: false
          in: query
          name: user_token
          schema:
            $ref: "#/components/schemas/UserTokenParam"
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LicenseeEditable"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LicenseeResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Update
      tags:
        - Licensees
  "/keys/{key}/lookups":
    get:
      description: |
        Reports lookup information on a key for paid lookups.

        This method requires a `user_token`, which can be found on your [accounts page](https://ideal-postcodes.co.uk/account).

        A maximum interval of 90 days can be provided for analysis. If no start or end date is provided, the last 21 days will be used as the default interval.

        ## Download Usage History (CSV)

        `GET /keys/:key/lookups`

        Returns a CSV download of lookups performed and associated information.

        Note that the Content-Type returned will be CSV (text/csv). For a non 200 response, the `Content-Type` will revert to JSON with the error code and message embedded.

        ## Data Redaction

        Personally Identifiable Data (PII) caught in this your usage log (including IP, search term and URL data) will be redacted on a weekly basis.

        By default, PII will be redacted if it is older than 21 days. This timeframe can be configured from your dashboard.

        You may prevent PII collection altogether by setting the interval to `0` days.
      operationId: KeyLogs
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - description: An start date/time in the form of a UNIX Timestamp in milliseconds, e.g. `1418556452651`. If no start time is provided, the start time will be assigned to a time 21 days prior to the end time.
          explode: false
          in: query
          name: start
          schema:
            $ref: "#/components/schemas/StartParam"
          style: form
        - description: An end date/time in the form of a UNIX Timestamp in milliseconds, e.g. `1418556452651`. If no end time is provided, the current time will be used.
          explode: false
          in: query
          name: end
          schema:
            $ref: "#/components/schemas/EndParam"
          style: form
        - description: Sublicensed keys only. This will restrict the analysed dataset to a specific licensee.
          explode: false
          in: query
          name: licensee
          schema:
            $ref: "#/components/schemas/LicenseeParam"
          style: form
      responses:
        "200":
          content:
            text/csv:
              example: |
                2015-02-21T16:05:22.991Z,82.85.128.18,SW12AA,https://www.example.com/,Postcode Lookup,
                2015-02-21T16:05:38.298Z,82.85.128.18,10 Downing Street London,https://www.example.com/,Address Lookup,CRM
                2015-02-21T16:06:49.227Z,82.85.128.18,OX44PP,https://www.example.com/,Postcode Lookup,"Website,Live"
                2015-02-21T16:07:02.706Z,82.85.128.18,PL9 9HE,https://www.example.com/,Postcode Lookup,
              schema:
                description: Success
                type: string
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Logs (CSV)
      tags:
        - Keys
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/iddqd/lookups?user_token=my_secret_token
        - label: CLI
          lang: cURL
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/keys/iddqd/lookups \
              -d "user_token=my_secret_token"
  "/keys/{key}/usage":
    get:
      description: |
        Reports the number of lookups consumed on a key for a range of days.

        A maximum interval of 90 days can be provided for analysis. If no start or end date is provided, the last 21 days will be used as the default interval.
      operationId: KeyUsage
      parameters:
        - explode: false
          in: path
          name: key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: simple
        - description: A start date/time in the form of a UNIX Timestamp in milliseconds, e.g. `1418556452651`. If no start time is provided, the start time will be assigned to a time 21 days prior to the end time.
          explode: false
          in: query
          name: start
          schema:
            $ref: "#/components/schemas/StartParam"
          style: form
        - description: An end date/time in the form of a UNIX Timestamp in milliseconds, e.g. `1418556452651`. If no end time is provided, the current time will be used.
          explode: false
          in: query
          name: end
          schema:
            $ref: "#/components/schemas/EndParam"
          style: form
        - explode: false
          in: query
          name: tags
          schema:
            $ref: "#/components/schemas/TagsParam"
          style: form
        - description: Sublicensed keys only. This will restrict the analysed dataset to a specific licensee.
          explode: false
          in: query
          name: licensee
          schema:
            $ref: "#/components/schemas/LicenseeParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiKeyUsageResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Usage Stats
      tags:
        - Keys
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/keys/iddqd/usage?user_token=my_secret_token
        - label: CLI
          lang: cURL
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/keys/iddqd/usage \
              -d "user_token=my_secret_token"
  /phone_numbers:
    get:
      description: |
        Query for and validate phone numbers.
      operationId: PhoneNumberValidation
      parameters:
        - explode: false
          in: query
          name: api_key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
        - description: Specifies the phone number to validate. Phone number must include a country code in acceptable format. For instance, UK phone numbers should be suffixed `+44`, `44` or `0044`.
          explode: false
          in: query
          name: query
          required: true
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PhoneNumberResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Phone Number Validation
      tags:
        - Phone Numbers
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/phone_numbers?api_key=ak_test&query=02071128019
        - label: CLI
          lang: cURL
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/phone_numbers' \
              -d 'api_key=iddqd' \
              --data-urlencode 'query=02071128019'
  /places:
    get:
      description: |
        Query for geographical places across countries. Each query will return a list of place suggestions, which consists of a place name, descriptive name and id.

        This API returns geographical information such as countries, capitals, administrative areas and more. It is ideal for correctly identifying a place along with any other details like geolocation.

        ## Implementing Place Autocomplete

        Extracting the full information of a place is a 2 step process:

        1. Retrieve place suggestions via /places
        2. Retrieve the entire place with the ID provided in the suggestion

        ## Suggestion Format

        Each place suggestion contains a descriptive name which you can provide to users to uniquely idenfity a place.

        ## Rate Limiting

        You can make up to 3000 requests to the autocomplete API within a 5 minute span. The HTTP Header contains information on your current rate limit.

        | Header                  | Description                                                                            |
        | ----------------------- | -------------------------------------------------------------------------------------- |
        | `X-RateLimit-Limit`     | The maximum number of requests that can be made in 5 minutes                           |
        | `X-RateLimit-Remaining` | The remaining requests within the current rate limit window                            |
        | `X-RateLimit-Reset`     | The time when the rate limit window resets in Unix Time (seconds) or UTC Epoch seconds |

        ## Pricing

        This API currently does not affect your balance. However, resolving a suggestion into a full place requires a paid request.

        Please note, this API is not intended as a standalone free resource. Integrations that consistently make autocomplete requests without a paid request to resolve an place may be disrupted via tightened rate limits.
      operationId: FindPlace
      parameters:
        - explode: false
          in: query
          name: api_key
          required: true
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
        - description: Specifies the place you wish to query. Query can be shortened to `q=`
          explode: false
          in: query
          name: query
          schema:
            type: string
          style: form
        - explode: false
          in: query
          name: country_iso
          schema:
            $ref: "#/components/schemas/CountryIsoParam"
          style: form
        - explode: false
          in: query
          name: bias_country_iso
          schema:
            $ref: "#/components/schemas/BiasCountryIsoParam"
          style: form
        - explode: false
          in: query
          name: bias_lonlat
          schema:
            $ref: "#/components/schemas/BiasLonLatParam"
          style: form
        - explode: false
          in: query
          name: bias_ip
          schema:
            $ref: "#/components/schemas/BiasIpParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PlaceResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
      summary: Find Place
      tags:
        - Place Search
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/places?api_key=ak_test&query=london
        - label: CLI
          lang: cURL
          source: |
            curl -k -G 'https://api.ideal-postcodes.co.uk/v1/places' \
              -d 'api_key=ak_test' \
              --data-urlencode 'query=london'
  "/places/${place}":
    get:
      description: |
        Resolves a place autocompletion by its place ID.
      operationId: ResolvePlace
      parameters:
        - description: ID of place suggestion
          explode: false
          in: path
          name: place
          required: true
          schema:
            type: string
          style: simple
        - explode: false
          in: query
          name: api_key
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResolvePlaceResponse"
          description: Success
          headers: {}
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Resolve Place
      tags:
        - Place Search
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/places/geonames_5353?api_key=ak_test
        - label: CLI
          lang: cURL
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/places/geonames_5355?api_key=ak_test \
              -d "api_key=ak_test"
  "/postcodes/{postcode}":
    get:
      description: |
        Returns the complete list of addresses for a postcode. Postcode searches are space and case insensitive.

        The Postcode Lookup API provides a JSON interface to search UK addresses from a postcode. It can be used to power Postcode Lookup driven address searches, like [Postcode Lookup](/postcode-lookup).

        ## Postcode Not Found

        Lookup balance is unaffected by invalid postcodes. The API returns a `404` response with response body:

        ```json
        {
          "code": 4040,
          "message": "Postcode not found",
          "suggestions": ["SW1A 0AA"]
        }
        ```

        ### Suggestions

        If a postcode cannot be found, the API will provide up to 5 closest matching postcodes. Common errors will be corrected first (e.g. mixing up `O` and `0` or `I` and `1`).

        If the suggestion list is small (fewer than 3), there is a high probability the correct postcode is there. You may notify the user or immediately trigger new searches.

        The suggestion list will be empty if the postcode has deviated too far from a valid postcode format.

        ## Multiple Residence

        A small number of postcodes will return more than 100 premises. These may require pagination. Use `page` to paginate the result set.
      operationId: Postcodes
      parameters:
        - description: Postcode to retrieve
          explode: false
          in: path
          name: postcode
          required: true
          schema:
            $ref: "#/components/schemas/paf_postcode"
          style: simple
        - explode: false
          in: query
          name: api_key
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
        - explode: false
          in: query
          name: filter
          required: false
          schema:
            $ref: "#/components/schemas/FilterParam"
          style: form
        - explode: false
          in: query
          name: page
          required: false
          schema:
            $ref: "#/components/schemas/PageParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostcodeResponse"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BadRequestResponse"
          description: Bad Request
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PostcodeNotFoundResponse"
          description: Postcode Not Found
      summary: Lookup Postcode
      tags:
        - UK
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA?api_key=iddqd
        - label: CLI
          lang: cURL
          source: |
            curl -G -k \
            --url 'https://api.ideal-postcodes.co.uk/v1/postcodes/SW1A2AA' \
            --d "api_key=iddqd"
  "/udprn/{udprn}":
    get:
      description: |-
        Returns an address as identified by its Unique Delivery Point Reference Number (UDPRN).

        You may find it useful to store UDPRN information as it can be used to retrieve the most recent information for an address. It can also be used to test for a deleted address.

        UDPRNs are an eight digit unique numeric code (e.g. 25962203) for any premise on the Postcode Address File. It's essentially a unique identifier for every address in the UK that Royal Mail has in its database.

        ## Testing

        To test your implementation of our API we have a range of test UDPRNs that yield both successful and unsuccessful responses to your request.

        They are the following:

        - `0` Returns a successful UDPRN lookup response
          `2000`
        - `-1` Returns "UDPRN not found", error `4044`
        - `-2` Returns "no lookups remaining", error `4020`
        - `-3` Returns "daily (or individual) lookup limit breached",
          error `4021`

        Test request undergo the usual authentication and restriction rules. This is to help surface any issues that occur during implementation and does not cost you a lookup.
      operationId: UDPRN
      parameters:
        - description: UDPRN to be retrieved
          explode: false
          in: path
          name: udprn
          required: true
          schema:
            type: string
          style: simple
        - explode: false
          in: query
          name: api_key
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
        - explode: false
          in: query
          name: filter
          schema:
            $ref: "#/components/schemas/FilterParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UDPRNResponse"
          description: Success
          headers: {}
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Retrieve by UDPRN
      tags:
        - UK
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/udprn/0?api_key=iddqd
        - label: CLI
          lang: cURL
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/udprn/0 \
              -d "api_key=iddqd"
  "/umprn/{umprn}":
    get:
      description: |
        Returns a multiple occupancy address identifited via its UMPRN (Multiple Residence Unique ID).

        UMPRNs are a unique numeric code for any Multiple Residence household on the optional Multiple Residence dataset.

        ## Testing

        To test your implementation of our API we have a range of test UMPRNs that yield both successful and unsuccessful responses to your request. They are the following

        - `0` Returns a successful UMPRN lookup response `2000`
        - `-1` Returns "UMPRN not found", error `4044`
        - `-2` Returns "no lookups remaining", error `4020`
        - `-3` Returns "daily (or individual) lookup limit breached", error `4021`

        Test request undergo the usual authentication and restriction rules. This is to help surface any issues that occur during implementation and does not cost you a lookup.

        ### Pricing

        Per lookup charges apply. Empty responses are not charged.
      operationId: UMPRN
      parameters:
        - description: UMPRN to be retrieved
          explode: false
          in: path
          name: umprn
          required: true
          schema:
            type: string
          style: simple
        - explode: false
          in: query
          name: api_key
          schema:
            $ref: "#/components/schemas/ApiKeyParam"
          style: form
        - explode: false
          in: query
          name: filter
          schema:
            $ref: "#/components/schemas/FilterParam"
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UMPRNResponse"
          description: Success
          headers: {}
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Resource not found
      summary: Retrieve by UMPRN
      tags:
        - UK
      x-codeSamples:
        - label: URL
          lang: http
          source: |
            https://api.ideal-postcodes.co.uk/v1/umprn/0?api_key=iddqdmr
        - label: CLI
          lang: cURL
          source: |
            curl -k -G https://api.ideal-postcodes.co.uk/v1/umprn/0 \
              -d "api_key=iddqdmr"
components:
  schemas:
    AddressLatitudeParam:
      description: |
        Latitude query for reverse geocoding.

        An accompanying longitude (lon=) query must be submitted for a valid reverse geocode query.
      example: 51.503541
      format: float
      maximum: 90
      minimum: -90
      title: Latitude
      type: number
    AddressLongitudeParam:
      description: |
        Longitude query for reverse geocoding.

        An accompanying latitude (lat=) query must be submitted for a valid reverse geocode query.
      example: -0.12767
      format: float
      maximum: 90
      minimum: -90
      title: Longitude
      type: number
    AddressResponse:
      properties:
        code:
          enum:
            - 2000
          format: int32
          type: integer
        message:
          enum:
            - Success
          type: string
        result:
          properties:
            hits:
              description: |
                List of matching addresses
              items:
                oneOf:
                  - $ref: "#/components/schemas/PafAddress"
                  - $ref: "#/components/schemas/MrAddress"
                  - $ref: "#/components/schemas/NybAddress"
                  - $ref: "#/components/schemas/WelshPafAddress"
                  - $ref: "#/components/schemas/PafAliasAddress"
              type: array
            limit:
              default: 10
              example: 10
              format: int32
              maximum: 100
              minimum: 0
              type: integer
            page:
              default: 0
              example: 0
              format: int32
              maximum: 10
              minimum: 0
              type: integer
            total:
              format: int32
              maximum: 10000
              minimum: 0
              type: integer
          required:
            - hits
            - total
            - limit
            - page
          type: object
      required:
        - message
        - code
        - result
      title: Address Search Response
      type: object
    AddressSuggestion:
      description: Represents an address suggestion for any address in the world
      properties:
        id:
          $ref: "#/components/schemas/ID"
        suggestion:
          description: Address Suggestion to be displayed to the user
          example: Flat 6, 12 Roskear, Camborne, TR14
          type: string
        urls:
          type: object
      required:
        - id
        - suggestion
        - urls
      title: Address Suggestion
      type: object
    ApiKey:
      properties:
        available:
          description: |
            Determines whether the key can be used by the requesting agent. 

            Returns false if one of the following conditions are met:
              - Key has no lookups remaining
              - Daily limit has been reached on the key
              - Daily individual limit has been reached
              - Key is not being used via an authorised URL
              - (Sublicensed key only) Key has a valid licensee attached
              - (Sublicensed key only) Key is not being used via an authorised URL specified by licensee
          example: true
          type: boolean
        context:
          description: |
            Returns current context if it is in the list of available contexts for this key.
          oneOf:
            - $ref: "#/components/schemas/Context"
            - $ref: "#/components/schemas/NoContext"
        contexts:
          $ref: "#/components/schemas/AvailableContexts"
      required:
        - available
        - context
        - contexts
      title: Key
      type: object
    ApiKeyAutomatedTopup:
      description: Automated topup status
      properties:
        enabled:
          description: Indicates whether automated top-ups are enabled
          example: true
          type: boolean
      required:
        - enabled
      title: API Key Automated Topup
      type: object
    ApiKeyCurrentPurchase:
      properties:
        consumed:
          description: Number of consumed lookups off this purchase.
          example: 121
          format: int32
          minimum: 0
          type: integer
        expires:
          description: |-
            `string` or `null` The date when this purchase will expire in simplified 
            extended ISO format (ISO 8601). This is typically 365 days from the time 
            of first use. This field will be `null` if the purchase has not yet been 
            used.
          example: 2022-01-06T11:41:27.092Z
          type: string
          x-nullable: true
        purchased:
          description: Number of procured lookups from this purchase.
          example: 20000
          format: int32
          minimum: 0
          type: integer
      required:
        - expires
        - purchased
        - consumed
      title: API Key Batch Purchase
      type: object
    ApiKeyDailyLimit:
      properties:
        consumed:
          description: Number of lookups performed today which count towards your daily limit.
          example: 288
          format: int32
          minimum: 0
          type: integer
        limit:
          description: |-
            `number` or `null`. The daily lookup limit currently set on your key. 
            `null` means the limit is currently disabled.
          example: 1000
          format: int32
          minimum: 0
          type: integer
          x-nullable: true
      required:
        - limit
        - consumed
      title: API Key Daily Limit
      type: object
    ApiKeyDatasets:
      description: Indicates which datasets are available and added by default to the address responses
      properties:
        ecad:
          description: IE Address File. Eircode Address Database
          example: false
          type: boolean
        ecaf:
          description: IE Base Address File. Eircode Address File
          example: false
          type: boolean
        herewe:
          description: Western Europe Address File
          example: true
          type: boolean
        mr:
          description: UK Multiple Residence Dataset
          example: true
          type: boolean
        nyb:
          description: UK Not Yet Built Dataset
          example: false
          type: boolean
        paf:
          description: UK Main Address File (Postcode Address File)
          example: true
          type: boolean
        pafa:
          description: UK Property Alias dataset
          example: false
          type: boolean
        pafw:
          description: UK Welsh Language Dataset
          example: false
          type: boolean
        usps:
          description: US Address Dataset
          example: true
          type: boolean
      required:
        - paf
        - mr
        - nyb
        - pafa
        - pafw
        - ecad
        - ecaf
        - usps
      title: API Key Dataset Availability
      type: object
    ApiKeyDetails:
      properties:
        allowed_urls:
          description: A list of allowed URLs. An empty list means that allowed URLs are disabled.
          items:
            type: string
          type: array
        automated_topups:
          $ref: "#/components/schemas/ApiKeyAutomatedTopup"
        current_purchases:
          description: Current balance purchases attached to key.
          items:
            $ref: "#/components/schemas/ApiKeyCurrentPurchase"
          type: array
        daily_limit:
          $ref: "#/components/schemas/ApiKeyDailyLimit"
        datasets:
          $ref: "#/components/schemas/ApiKeyDatasets"
        individual_limit:
          $ref: "#/components/schemas/ApiKeyIndividualLimit"
        lookups_remaining:
          example: 19889
          format: int32
          minimum: 0
          type: integer
        notifications:
          $ref: "#/components/schemas/ApiKeyNotifications"
      required:
        - lookups_remaining
        - daily_limit
        - individual_limit
        - allowed_urls
        - notificatinos
        - automated_topups
        - current_purchases
      title: API Key Details
      type: object
    ApiKeyDetailsResponse:
      properties:
        code:
          enum:
            - 2000
          format: int32
          type: integer
        message:
          enum:
            - Success
          type: string
        result:
          $ref: "#/components/schemas/ApiKeyDetails"
      required:
        - message
        - code
        - result
      title: API Key Details Response
      type: object
    ApiKeyIndividualLimit:
      properties:
        limit:
          description: |-
            `number` or `null` Limit set on the number of lookups that can be 
            performed from a single IP address. `null` means the limit is currently 
            disabled.
          example: 30
          format: int32
          minimum: 0
          type: integer
          x-nullable: true
      required:
        - limit
      title: API Key Individual Limit
      type: object
    ApiKeyNotifications:
      properties:
        emails:
          description: A list of email addresses designated by you to receive notifications about this key.
          items:
            example: person@example.com
            type: string
          type: array
        enabled:
          description: Indicates whether email notifications are enabled.
          type: boolean
      required:
        - emails
        - enabled
      title: API Key Notifications
      type: object
    ApiKeyParam:
      description: |
        Your API Key. Typically beings `ak_`.

        Available from your dashboard
      example: ak_test
      title: API Key
      type: string
    ApiKeyResponse:
      properties:
        code:
          enum:
            - 2000
          format: int32
          type: integer
        message:
          enum:
            - Success
          type: string
        result:
          $ref: "#/components/schemas/ApiKey"
      required:
        - message
        - code
        - result
      title: API Key Response
      type: object
    ApiKeyUsageResponse:
      properties:
        code:
          enum:
            - 2000
          format: int32
          type: integer
        message:
          enum:
            - Success
          type: string
        result:
          $ref: "#/components/schemas/KeyUsageResult"
      required:
        - message
        - code
        - result
      title: Key Usage Response
      type: object
    AutocompleteResponse:
      properties:
        code:
          enum:
            - 2000
          format: int32
          type: integer
        message:
          enum:
            - Success
          type: string
        result:
          properties:
            hits:
              items:
                oneOf:
                  - $ref: "#/components/schemas/AddressSuggestion"
                  - $ref: "#/components/schemas/UkAddressSuggestion"
              type: array
          required:
            - hits
          type: object
      required:
        - message
        - code
        - result
      title: Address Autocomplete Response
      type: object
    AvailableContexts:
      description: A list of available contexts for a key
      items:
        properties:
          description:
            description: |
              Country descriptor to show in Address Finder
            example: United States
            type: string
          emoji:
            description: Emoji text icon
            example: 🇺🇸
            type: string
          iso_2:
            description: 2 letter ISO code
            example: US
            type: string
          iso_3:
            description: 3 letter ISO code
            example: USA
            type: string
          rgeo:
            description: |
              Indicates availability of reverse geolocation search
            example: true
            type: boolean
        required:
          - iso_3
          - iso_2
          - description
          - emoji
          - rgeo
        type: object
      title: Available Contexts
      type: array
    BadRequestResponse:
      allOf:
        - $ref: "#/components/schemas/ErrorResponse"
        - properties:
            code:
              description: "`400X` type error response code"
              format: int32
              type: integer
            errors:
              items:
                properties:
                  errorCode:
                    example: required.openapi.validation
                    type: string
                  message:
                    description: Indicates location of error in request query or URL parameter
                    example: should have required property 'type'
                    type: string
                  path:
                    description: Indicates location of error in request query or URL parameter
                    example: .query.type
                    type: string
                required:
                  - path
                  - message
                type: object
              type: array
            message:
              description: Bad request error description
              type: string
          required:
            - code
            - message
          type: object
      title: Bad Request Error Response
    BiasCountryIsoParam:
      description: |-
        Bias by country ISO code. Uses 3 letter country code (ISO 3166-1) standard.
        Bias by multiple countries with a comma separated list. E.g. `GBR,IRL`
      example: GBR
      title: Country
      type: string
    BiasCountryParam:
      description: Bias by country. Possible values are England, Scotland, Wales, Northern Ireland, Jersey, Guernsey and Isle of Man.
      title: Bias Country
      type: string
    BiasIpParam:
      description: |-
        Biases search based on approximate geolocation of IP address.
        Set `bias_ip=true` to enable.
      enum:
        - "true"
      example: "true"
      title: Bias query by Geolocation of IP
      type: string
    BiasLonLatParam:
      description: Bias search to a geospatial circle determined by an origin and radius in meters. Max radius is `50000`.  Uses the format bias_lonlat=[longitude],[latitude],[radius in metres] Only one geospatial bias may be provided
      example: -2.095,57.15,100
      title: Bias Lon/Lat
      type: string
    BiasPostcodeAreaParam:
      description: Bias by postcode area, the first one or two non-numeric characters of a postcode.
      example: The postcode area of SW1A 2AA and N1 6RT are SW and N respectively
      title: Bias Postcode Area
      type: string
    BiasPostcodeOutwardParam:
      description: Bias by outward code
      title: Bias Postcode Outward
      type: string
    BiasPostcodeParam:
      description: Bias by postcode. Can be combined with query to perform a postcode + building number/name search.
      example: /addresses?postcode=SW1A2AA&q=10
      title: Bias Postcode
      type: string
    BiasPostcodeSectorParam:
      description: Bias by postcode sector, the outward code plus first numeric of the inward code.
      example: SW1A 2AA is SW1A 2
      title: Bias Postcode Sector
      type: string
    BiasPosttownParam:
      description: Bias by town.
      title: Bias Post Town
      type: string
    BiasThoroughfareParam:
      description: Bias by street name.
      title: Bias Thoroughfare
      type: string
    BoxParam:
      description: Restrict search to a geospatial box determined by the "top-left" and "bottom-right" gelocations.   Only one geospatial box can be provided.
      example: 2.095,57.15,-2.096,57.14
      title: Box
      type: string
    Carrier:
      nullable: true
      properties:
        country:
          description: Country that number is associated with. In ISO 3166-1 alpha-2 format.
          example: GB
          nullable: true
          title: Country ISO Alpha-2 Code
          type: string
          x-nullable: true
        name:
          description: The full name of the carrier that number is associated with.
          example: BT Group
          nullable: true
          title: Name
          type: string
          x-nullable: true
        network_code:
          description: The [Mobile Country Code](https://en.wikipedia.org/wiki/Mobile_country_code) for the carrier.
          example: "234"
          nullable: true
          title: Network Code
          type: string
          x-nullable: true
        network_type:
          description: Type of network that number is associated with.
          enum:
            - mobile
            - landline
            - landline_premium
            - landline_tollfree
            - virtual
            - unknown
            - pager
          nullable: true
          title: Network Type
          type: string
          x-nullable: true
      required:
        - network_code
        - name
        - country
        - network_type
      title: Carrier Object
      type: object
      x-nullable: true
    CleanseResponse:
      properties:
        code:
          enum:
            - 2000
          format: int32
          type: integer
        message:
          enum:
            - Success
          type: string
        result:
          oneOf:
            - $ref: "#/components/schemas/GbrCleanseMatch"
            - $ref: "#/components/schemas/GbrCleanseNoMatch"
      required:
        - message
        - code
        - result
      title: Address Cleanse Response
      type: object
    Config:
      properties:
        createdAt:
          description: Timestamp for when the config was updated
          example: 2016-01-21T17:14:49.971Z
          type: string
        name:
          description: A unique name to identify the configuration payload
          example: woocommerce
          maximum: 32
          minimum: 0
          type: string
        payload:
          description: A serialised payload of up to `4096` characters
          example: |
            {
              "removeOrganisation": false
            }
          maximum: 4096
          minimum: 0
          type: string
        updatedAt:
          description: Timestamp for when the config was created
          example: 2016-01-21T17:14:49.971Z
          type: string
      required:
        - updatedAt
        - createdAt
        - name
        - payload
      title: Config Object
      type: object
    ConfigNewParam:
      description: Required configuration object parameters
      properties:
        name:
          description: A unique name to identify the configuration payload
          example: woocommerce
          maximum: 32
          minimum: 0
          type: string
        payload:
          description: A serialised payload of up to `4096` characters
          example: |
            {
              "removeOrganisation": false
            }
          maximum: 4096
          minimum: 0
          type: string
      required:
        - name
        - payload
      title: New Config Object
      type: object
    ConfigParam:
      description: User provided configuration object name
      example: idpc-be
      title: Configuration Name
      type: string
    ConfigResponse:
      properties:
        code:
          enum:
            - 2000
          format: int32
          type: integer
        message:
          enum:
            - Success
          type: string
        result:
          $ref: "#/components/schemas/Config"
      required:
        - result
        - code
        - message
      title: Config Response
      type: object
    ConfigUpdateParam:
      description: Config object update parameters
      properties:
        payload:
          description: A serialised payload of up to `4096` characters
          example: |
            {
              "removeOrganisation": false
            }
          maximum: 4096
          minimum: 0
          type: string
      title: Update Config Object
      type: object
    ConfigsResponse:
      properties:
        code:
          enum:
            - 2000
          format: int32
          type: integer
        message:
          enum:
            - Success
          type: string
        result:
          description: List of configurations
          properties:
            configs:
              items:
[...]
