swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /dfareporting/v2.7
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Manages your DoubleClick Campaign Manager ad campaigns and reports.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: DCM/DFA Reporting And Trafficking
  version: v2.7
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/dfareporting/v2.7/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: dfareporting
externalDocs:
  url: 'https://developers.google.com/doubleclick-advertisers/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/ddmconversions': Manage DoubleClick Digital Marketing conversions
      'https://www.googleapis.com/auth/dfareporting': View and manage DoubleClick for Advertisers reports
      'https://www.googleapis.com/auth/dfatrafficking': View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/ddmconversions': Manage DoubleClick Digital Marketing conversions
      'https://www.googleapis.com/auth/dfareporting': View and manage DoubleClick for Advertisers reports
      'https://www.googleapis.com/auth/dfatrafficking': View and manage your DoubleClick Campaign Manager's (DCM) display ad campaigns
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: accountActiveAdSummaries
  - name: accountPermissionGroups
  - name: accountPermissions
  - name: accountUserProfiles
  - name: accounts
  - name: ads
  - name: advertiserGroups
  - name: advertisers
  - name: browsers
  - name: campaignCreativeAssociations
  - name: campaigns
  - name: changeLogs
  - name: cities
  - name: connectionTypes
  - name: contentCategories
  - name: conversions
  - name: countries
  - name: creativeAssets
  - name: creativeFieldValues
  - name: creativeFields
  - name: creativeGroups
  - name: creatives
  - name: dimensionValues
  - name: directorySiteContacts
  - name: directorySites
  - name: dynamicTargetingKeys
  - name: eventTags
  - name: files
  - name: floodlightActivities
  - name: floodlightActivityGroups
  - name: floodlightConfigurations
  - name: inventoryItems
  - name: landingPages
  - name: languages
  - name: metros
  - name: mobileCarriers
  - name: operatingSystemVersions
  - name: operatingSystems
  - name: orderDocuments
  - name: orders
  - name: placementGroups
  - name: placementStrategies
  - name: placements
  - name: platformTypes
  - name: postalCodes
  - name: projects
  - name: regions
  - name: remarketingListShares
  - name: remarketingLists
  - name: reports
  - name: sites
  - name: sizes
  - name: subaccounts
  - name: targetableRemarketingLists
  - name: targetingTemplates
  - name: userProfiles
  - name: userRolePermissionGroups
  - name: userRolePermissions
  - name: userRoles
  - name: videoFormats
paths:
  '/reports/{reportId}/files/{fileId}':
    get:
      description: Retrieves a report file by its report ID and file ID. This method supports media download.
      operationId: dfareporting.files.get
      parameters:
        - description: The ID of the report.
          in: path
          name: reportId
          required: true
          type: string
        - description: The ID of the report file.
          in: path
          name: fileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/File'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfareporting'
      tags:
        - files
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /userprofiles:
    get:
      description: Retrieves list of user profiles for a user.
      operationId: dfareporting.userProfiles.list
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UserProfileList'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfareporting'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - userProfiles
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}':
    get:
      description: Gets one user profile by ID.
      operationId: dfareporting.userProfiles.get
      parameters:
        - description: The user profile ID.
          in: path
          name: profileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UserProfile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfareporting'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfareporting'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - userProfiles
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/accountActiveAdSummaries/{summaryAccountId}':
    get:
      description: Gets the account's active ad summary by account ID.
      operationId: dfareporting.accountActiveAdSummaries.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Account ID.
          in: path
          name: summaryAccountId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountActiveAdSummary'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountActiveAdSummaries
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/accountPermissionGroups':
    get:
      description: Retrieves the list of account permission groups.
      operationId: dfareporting.accountPermissionGroups.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountPermissionGroupsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountPermissionGroups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/accountPermissionGroups/{id}':
    get:
      description: Gets one account permission group by ID.
      operationId: dfareporting.accountPermissionGroups.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Account permission group ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountPermissionGroup'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountPermissionGroups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/accountPermissions':
    get:
      description: Retrieves the list of account permissions.
      operationId: dfareporting.accountPermissions.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountPermissionsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountPermissions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/accountPermissions/{id}':
    get:
      description: Gets one account permission by ID.
      operationId: dfareporting.accountPermissions.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Account permission ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountPermission'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountPermissions
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/accountUserProfiles':
    get:
      description: 'Retrieves a list of account user profiles, possibly filtered. This method supports paging.'
      operationId: dfareporting.accountUserProfiles.list
      parameters:
        - description: Select only active user profiles.
          in: query
          name: active
          type: boolean
        - collectionFormat: multi
          description: Select only user profiles with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: 'Allows searching for objects by name, ID or email. Wildcards (*) are allowed. For example, "user profile*2015" will return objects with names like "user profile June 2015", "user profile April 2015", or simply "user profile 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "user profile" will match objects with name "my user profile", "user profile 2015", or simply "user profile".'
          in: query
          name: searchString
          type: string
        - default: ID
          description: Field by which to sort the list.
          enum:
            - ID
            - NAME
          in: query
          name: sortField
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
        - description: Select only user profiles with the specified subaccount ID.
          in: query
          name: subaccountId
          type: string
        - description: Select only user profiles with the specified user role ID.
          in: query
          name: userRoleId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountUserProfilesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountUserProfiles
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing account user profile. This method supports patch semantics.
      operationId: dfareporting.accountUserProfiles.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: User profile ID.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountUserProfile'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountUserProfile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountUserProfiles
    post:
      description: Inserts a new account user profile.
      operationId: dfareporting.accountUserProfiles.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountUserProfile'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountUserProfile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountUserProfiles
    put:
      description: Updates an existing account user profile.
      operationId: dfareporting.accountUserProfiles.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountUserProfile'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountUserProfile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountUserProfiles
  '/userprofiles/{profileId}/accountUserProfiles/{id}':
    get:
      description: Gets one account user profile by ID.
      operationId: dfareporting.accountUserProfiles.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: User profile ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountUserProfile'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accountUserProfiles
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/accounts':
    get:
      description: 'Retrieves the list of accounts, possibly filtered. This method supports paging.'
      operationId: dfareporting.accounts.list
      parameters:
        - description: Select only active accounts. Don't set this field to select both active and non-active accounts.
          in: query
          name: active
          type: boolean
        - collectionFormat: multi
          description: Select only accounts with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "account*2015" will return objects with names like "account June 2015", "account April 2015", or simply "account 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "account" will match objects with name "my account", "account 2015", or simply "account".'
          in: query
          name: searchString
          type: string
        - default: ID
          description: Field by which to sort the list.
          enum:
            - ID
            - NAME
          in: query
          name: sortField
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing account. This method supports patch semantics.
      operationId: dfareporting.accounts.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Account ID.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accounts
    put:
      description: Updates an existing account.
      operationId: dfareporting.accounts.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accounts
  '/userprofiles/{profileId}/accounts/{id}':
    get:
      description: Gets one account by ID.
      operationId: dfareporting.accounts.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Account ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/ads':
    get:
      description: 'Retrieves a list of ads, possibly filtered. This method supports paging.'
      operationId: dfareporting.ads.list
      parameters:
        - description: Select only active ads.
          in: query
          name: active
          type: boolean
        - description: Select only ads with this advertiser ID.
          in: query
          name: advertiserId
          type: string
        - description: Select only archived ads.
          in: query
          name: archived
          type: boolean
        - collectionFormat: multi
          description: Select only ads with these audience segment IDs.
          in: query
          items:
            type: string
          name: audienceSegmentIds
          type: array
        - collectionFormat: multi
          description: Select only ads with these campaign IDs.
          in: query
          items:
            type: string
          name: campaignIds
          type: array
        - description: 'Select default ads with the specified compatibility. Applicable when type is AD_SERVING_DEFAULT_AD. DISPLAY and DISPLAY_INTERSTITIAL refer to rendering either on desktop or on mobile devices for regular or interstitial ads, respectively. APP and APP_INTERSTITIAL are for rendering in mobile apps. IN_STREAM_VIDEO refers to rendering an in-stream video ads developed with the VAST standard.'
          enum:
            - APP
            - APP_INTERSTITIAL
            - DISPLAY
            - DISPLAY_INTERSTITIAL
            - IN_STREAM_VIDEO
          in: query
          name: compatibility
          type: string
        - collectionFormat: multi
          description: Select only ads with these creative IDs assigned.
          in: query
          items:
            type: string
          name: creativeIds
          type: array
        - collectionFormat: multi
          description: Select only ads with these creative optimization configuration IDs.
          in: query
          items:
            type: string
          name: creativeOptimizationConfigurationIds
          type: array
        - description: 'Select only dynamic click trackers. Applicable when type is AD_SERVING_CLICK_TRACKER. If true, select dynamic click trackers. If false, select static click trackers. Leave unset to select both.'
          in: query
          name: dynamicClickTracker
          type: boolean
        - collectionFormat: multi
          description: Select only ads with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - collectionFormat: multi
          description: Select only ads with these landing page IDs.
          in: query
          items:
            type: string
          name: landingPageIds
          type: array
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Select only ads with this event tag override ID.
          in: query
          name: overriddenEventTagId
          type: string
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - collectionFormat: multi
          description: Select only ads with these placement IDs assigned.
          in: query
          items:
            type: string
          name: placementIds
          type: array
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - collectionFormat: multi
          description: Select only ads whose list targeting expression use these remarketing list IDs.
          in: query
          items:
            type: string
          name: remarketingListIds
          type: array
        - description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "ad*2015" will return objects with names like "ad June 2015", "ad April 2015", or simply "ad 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "ad" will match objects with name "my ad", "ad 2015", or simply "ad".'
          in: query
          name: searchString
          type: string
        - collectionFormat: multi
          description: Select only ads with these size IDs.
          in: query
          items:
            type: string
          name: sizeIds
          type: array
        - default: ID
          description: Field by which to sort the list.
          enum:
            - ID
            - NAME
          in: query
          name: sortField
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
        - description: Select only ads that are SSL-compliant.
          in: query
          name: sslCompliant
          type: boolean
        - description: Select only ads that require SSL.
          in: query
          name: sslRequired
          type: boolean
        - collectionFormat: multi
          description: Select only ads with these types.
          in: query
          items:
            enum:
              - AD_SERVING_CLICK_TRACKER
              - AD_SERVING_DEFAULT_AD
              - AD_SERVING_STANDARD_AD
              - AD_SERVING_TRACKING
            type: string
          name: type
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - ads
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing ad. This method supports patch semantics.
      operationId: dfareporting.ads.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Ad ID.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Ad'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Ad'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - ads
    post:
      description: Inserts a new ad.
      operationId: dfareporting.ads.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Ad'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Ad'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - ads
    put:
      description: Updates an existing ad.
      operationId: dfareporting.ads.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Ad'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Ad'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - ads
  '/userprofiles/{profileId}/ads/{id}':
    get:
      description: Gets one ad by ID.
      operationId: dfareporting.ads.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Ad ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Ad'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - ads
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/advertiserGroups':
    get:
      description: 'Retrieves a list of advertiser groups, possibly filtered. This method supports paging.'
      operationId: dfareporting.advertiserGroups.list
      parameters:
        - collectionFormat: multi
          description: Select only advertiser groups with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "advertiser*2015" will return objects with names like "advertiser group June 2015", "advertiser group April 2015", or simply "advertiser group 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "advertisergroup" will match objects with name "my advertisergroup", "advertisergroup 2015", or simply "advertisergroup".'
          in: query
          name: searchString
          type: string
        - default: ID
          description: Field by which to sort the list.
          enum:
            - ID
            - NAME
          in: query
          name: sortField
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdvertiserGroupsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertiserGroups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing advertiser group. This method supports patch semantics.
      operationId: dfareporting.advertiserGroups.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Advertiser group ID.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AdvertiserGroup'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdvertiserGroup'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertiserGroups
    post:
      description: Inserts a new advertiser group.
      operationId: dfareporting.advertiserGroups.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AdvertiserGroup'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdvertiserGroup'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertiserGroups
    put:
      description: Updates an existing advertiser group.
      operationId: dfareporting.advertiserGroups.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AdvertiserGroup'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdvertiserGroup'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertiserGroups
  '/userprofiles/{profileId}/advertiserGroups/{id}':
    delete:
      description: Deletes an existing advertiser group.
      operationId: dfareporting.advertiserGroups.delete
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Advertiser group ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertiserGroups
    get:
      description: Gets one advertiser group by ID.
      operationId: dfareporting.advertiserGroups.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Advertiser group ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdvertiserGroup'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertiserGroups
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/advertisers':
    get:
      description: 'Retrieves a list of advertisers, possibly filtered. This method supports paging.'
      operationId: dfareporting.advertisers.list
      parameters:
        - collectionFormat: multi
          description: Select only advertisers with these advertiser group IDs.
          in: query
          items:
            type: string
          name: advertiserGroupIds
          type: array
        - collectionFormat: multi
          description: Select only advertisers with these floodlight configuration IDs.
          in: query
          items:
            type: string
          name: floodlightConfigurationIds
          type: array
        - collectionFormat: multi
          description: Select only advertisers with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - description: Select only advertisers which do not belong to any advertiser group.
          in: query
          name: includeAdvertisersWithoutGroupsOnly
          type: boolean
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Select only advertisers which use another advertiser's floodlight configuration.
          in: query
          name: onlyParent
          type: boolean
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "advertiser*2015" will return objects with names like "advertiser June 2015", "advertiser April 2015", or simply "advertiser 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "advertiser" will match objects with name "my advertiser", "advertiser 2015", or simply "advertiser".'
          in: query
          name: searchString
          type: string
        - default: ID
          description: Field by which to sort the list.
          enum:
            - ID
            - NAME
          in: query
          name: sortField
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
        - description: Select only advertisers with the specified status.
          enum:
            - APPROVED
            - ON_HOLD
          in: query
          name: status
          type: string
        - description: Select only advertisers with these subaccount IDs.
          in: query
          name: subaccountId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AdvertisersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertisers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing advertiser. This method supports patch semantics.
      operationId: dfareporting.advertisers.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Advertiser ID.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Advertiser'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Advertiser'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertisers
    post:
      description: Inserts a new advertiser.
      operationId: dfareporting.advertisers.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Advertiser'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Advertiser'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertisers
    put:
      description: Updates an existing advertiser.
      operationId: dfareporting.advertisers.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Advertiser'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Advertiser'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertisers
  '/userprofiles/{profileId}/advertisers/{id}':
    get:
      description: Gets one advertiser by ID.
      operationId: dfareporting.advertisers.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Advertiser ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Advertiser'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - advertisers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/browsers':
    get:
      description: Retrieves a list of browsers.
      operationId: dfareporting.browsers.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BrowsersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - browsers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/campaigns':
    get:
      description: 'Retrieves a list of campaigns, possibly filtered. This method supports paging.'
      operationId: dfareporting.campaigns.list
      parameters:
        - collectionFormat: multi
          description: Select only campaigns whose advertisers belong to these advertiser groups.
          in: query
          items:
            type: string
          name: advertiserGroupIds
          type: array
        - collectionFormat: multi
          description: Select only campaigns that belong to these advertisers.
          in: query
          items:
            type: string
          name: advertiserIds
          type: array
        - description: Select only archived campaigns. Don't set this field to select both archived and non-archived campaigns.
          in: query
          name: archived
          type: boolean
        - description: Select only campaigns that have at least one optimization activity.
          in: query
          name: atLeastOneOptimizationActivity
          type: boolean
        - collectionFormat: multi
          description: Exclude campaigns with these IDs.
          in: query
          items:
            type: string
          name: excludedIds
          type: array
        - collectionFormat: multi
          description: Select only campaigns with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Select only campaigns that have overridden this event tag ID.
          in: query
          name: overriddenEventTagId
          type: string
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: 'Allows searching for campaigns by name or ID. Wildcards (*) are allowed. For example, "campaign*2015" will return campaigns with names like "campaign June 2015", "campaign April 2015", or simply "campaign 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "campaign" will match campaigns with name "my campaign", "campaign 2015", or simply "campaign".'
          in: query
          name: searchString
          type: string
        - default: ID
          description: Field by which to sort the list.
          enum:
            - ID
            - NAME
          in: query
          name: sortField
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
        - description: Select only campaigns that belong to this subaccount.
          in: query
          name: subaccountId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CampaignsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - campaigns
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing campaign. This method supports patch semantics.
      operationId: dfareporting.campaigns.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Campaign ID.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Campaign'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Campaign'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - campaigns
    post:
      description: Inserts a new campaign.
      operationId: dfareporting.campaigns.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Default landing page name for this new campaign. Must be less than 256 characters long.
          in: query
          name: defaultLandingPageName
          required: true
          type: string
        - description: Default landing page URL for this new campaign.
          in: query
          name: defaultLandingPageUrl
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Campaign'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Campaign'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - campaigns
    put:
      description: Updates an existing campaign.
      operationId: dfareporting.campaigns.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Campaign'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Campaign'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - campaigns
  '/userprofiles/{profileId}/campaigns/{campaignId}/campaignCreativeAssociations':
    get:
      description: Retrieves the list of creative IDs associated with the specified campaign. This method supports paging.
      operationId: dfareporting.campaignCreativeAssociations.list
      parameters:
        - description: Campaign ID in this association.
          in: path
          name: campaignId
          required: true
          type: string
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CampaignCreativeAssociationsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - campaignCreativeAssociations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Associates a creative with the specified campaign. This method creates a default ad with dimensions matching the creative in the campaign if such a default ad does not exist already.
      operationId: dfareporting.campaignCreativeAssociations.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Campaign ID in this association.
          in: path
          name: campaignId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CampaignCreativeAssociation'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CampaignCreativeAssociation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - campaignCreativeAssociations
  '/userprofiles/{profileId}/campaigns/{campaignId}/landingPages':
    get:
      description: Retrieves the list of landing pages for the specified campaign.
      operationId: dfareporting.landingPages.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Landing page campaign ID.
          in: path
          name: campaignId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LandingPagesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - landingPages
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing campaign landing page. This method supports patch semantics.
      operationId: dfareporting.landingPages.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Landing page campaign ID.
          in: path
          name: campaignId
          required: true
          type: string
        - description: Landing page ID.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LandingPage'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LandingPage'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - landingPages
    post:
      description: Inserts a new landing page for the specified campaign.
      operationId: dfareporting.landingPages.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Landing page campaign ID.
          in: path
          name: campaignId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LandingPage'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LandingPage'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - landingPages
    put:
      description: Updates an existing campaign landing page.
      operationId: dfareporting.landingPages.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Landing page campaign ID.
          in: path
          name: campaignId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LandingPage'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LandingPage'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - landingPages
  '/userprofiles/{profileId}/campaigns/{campaignId}/landingPages/{id}':
    delete:
      description: Deletes an existing campaign landing page.
      operationId: dfareporting.landingPages.delete
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Landing page campaign ID.
          in: path
          name: campaignId
          required: true
          type: string
        - description: Landing page ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - landingPages
    get:
      description: Gets one campaign landing page by ID.
      operationId: dfareporting.landingPages.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Landing page campaign ID.
          in: path
          name: campaignId
          required: true
          type: string
        - description: Landing page ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LandingPage'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - landingPages
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/campaigns/{id}':
    get:
      description: Gets one campaign by ID.
      operationId: dfareporting.campaigns.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Campaign ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Campaign'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - campaigns
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/changeLogs':
    get:
      description: Retrieves a list of change logs. This method supports paging.
      operationId: dfareporting.changeLogs.list
      parameters:
        - description: Select only change logs with the specified action.
          enum:
            - ACTION_ADD
            - ACTION_ASSIGN
            - ACTION_ASSOCIATE
            - ACTION_CREATE
            - ACTION_DELETE
            - ACTION_DISABLE
            - ACTION_EMAIL_TAGS
            - ACTION_ENABLE
            - ACTION_LINK
            - ACTION_MARK_AS_DEFAULT
            - ACTION_PUSH
            - ACTION_REMOVE
            - ACTION_SEND
            - ACTION_SHARE
            - ACTION_UNASSIGN
            - ACTION_UNLINK
            - ACTION_UPDATE
          in: query
          name: action
          type: string
        - collectionFormat: multi
          description: Select only change logs with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - description: 'Select only change logs whose change time is before the specified maxChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is "2015-07-18T22:54:00-04:00". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.'
          in: query
          name: maxChangeTime
          type: string
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: 'Select only change logs whose change time is before the specified minChangeTime.The time should be formatted as an RFC3339 date/time string. For example, for 10:54 PM on July 18th, 2015, in the America/New York time zone, the format is "2015-07-18T22:54:00-04:00". In other words, the year, month, day, the letter T, the hour (24-hour clock system), minute, second, and then the time zone offset.'
          in: query
          name: minChangeTime
          type: string
        - collectionFormat: multi
          description: Select only change logs with these object IDs.
          in: query
          items:
            type: string
          name: objectIds
          type: array
        - description: Select only change logs with the specified object type.
          enum:
            - OBJECT_ACCOUNT
            - OBJECT_ACCOUNT_BILLING_FEATURE
            - OBJECT_AD
            - OBJECT_ADVERTISER
            - OBJECT_ADVERTISER_GROUP
            - OBJECT_BILLING_ACCOUNT_GROUP
            - OBJECT_BILLING_FEATURE
            - OBJECT_BILLING_MINIMUM_FEE
            - OBJECT_BILLING_PROFILE
            - OBJECT_CAMPAIGN
            - OBJECT_CONTENT_CATEGORY
            - OBJECT_CREATIVE
            - OBJECT_CREATIVE_ASSET
            - OBJECT_CREATIVE_BUNDLE
            - OBJECT_CREATIVE_FIELD
            - OBJECT_CREATIVE_GROUP
            - OBJECT_DFA_SITE
            - OBJECT_EVENT_TAG
            - OBJECT_FLOODLIGHT_ACTIVITY_GROUP
            - OBJECT_FLOODLIGHT_ACTVITY
            - OBJECT_FLOODLIGHT_CONFIGURATION
            - OBJECT_INSTREAM_CREATIVE
            - OBJECT_LANDING_PAGE
            - OBJECT_MEDIA_ORDER
            - OBJECT_PLACEMENT
            - OBJECT_PLACEMENT_STRATEGY
            - OBJECT_PLAYSTORE_LINK
            - OBJECT_PROVIDED_LIST_CLIENT
            - OBJECT_RATE_CARD
            - OBJECT_REMARKETING_LIST
            - OBJECT_RICHMEDIA_CREATIVE
            - OBJECT_SD_SITE
            - OBJECT_SEARCH_LIFT_STUDY
            - OBJECT_SIZE
            - OBJECT_SUBACCOUNT
            - OBJECT_TARGETING_TEMPLATE
            - OBJECT_USER_PROFILE
            - OBJECT_USER_PROFILE_FILTER
            - OBJECT_USER_ROLE
          in: query
          name: objectType
          type: string
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: 'Select only change logs whose object ID, user name, old or new values match the search string.'
          in: query
          name: searchString
          type: string
        - collectionFormat: multi
          description: Select only change logs with these user profile IDs.
          in: query
          items:
            type: string
          name: userProfileIds
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChangeLogsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - changeLogs
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/changeLogs/{id}':
    get:
      description: Gets one change log by ID.
      operationId: dfareporting.changeLogs.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Change log ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ChangeLog'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - changeLogs
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/cities':
    get:
      description: 'Retrieves a list of cities, possibly filtered.'
      operationId: dfareporting.cities.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - collectionFormat: multi
          description: Select only cities from these countries.
          in: query
          items:
            type: string
          name: countryDartIds
          type: array
        - collectionFormat: multi
          description: Select only cities with these DART IDs.
          in: query
          items:
            type: string
          name: dartIds
          type: array
        - description: Select only cities with names starting with this prefix.
          in: query
          name: namePrefix
          type: string
        - collectionFormat: multi
          description: Select only cities from these regions.
          in: query
          items:
            type: string
          name: regionDartIds
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CitiesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - cities
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/connectionTypes':
    get:
      description: Retrieves a list of connection types.
      operationId: dfareporting.connectionTypes.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ConnectionTypesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - connectionTypes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/connectionTypes/{id}':
    get:
      description: Gets one connection type by ID.
      operationId: dfareporting.connectionTypes.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Connection type ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ConnectionType'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - connectionTypes
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/contentCategories':
    get:
      description: 'Retrieves a list of content categories, possibly filtered. This method supports paging.'
      operationId: dfareporting.contentCategories.list
      parameters:
        - collectionFormat: multi
          description: Select only content categories with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: 'Allows searching for objects by name or ID. Wildcards (*) are allowed. For example, "contentcategory*2015" will return objects with names like "contentcategory June 2015", "contentcategory April 2015", or simply "contentcategory 2015". Most of the searches also add wildcards implicitly at the start and the end of the search string. For example, a search string of "contentcategory" will match objects with name "my contentcategory", "contentcategory 2015", or simply "contentcategory".'
          in: query
          name: searchString
          type: string
        - default: ID
          description: Field by which to sort the list.
          enum:
            - ID
            - NAME
          in: query
          name: sortField
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ContentCategoriesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - contentCategories
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing content category. This method supports patch semantics.
      operationId: dfareporting.contentCategories.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Content category ID.
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ContentCategory'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ContentCategory'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - contentCategories
    post:
      description: Inserts a new content category.
      operationId: dfareporting.contentCategories.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ContentCategory'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ContentCategory'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - contentCategories
    put:
      description: Updates an existing content category.
      operationId: dfareporting.contentCategories.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ContentCategory'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ContentCategory'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - contentCategories
  '/userprofiles/{profileId}/contentCategories/{id}':
    delete:
      description: Deletes an existing content category.
      operationId: dfareporting.contentCategories.delete
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Content category ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - contentCategories
    get:
      description: Gets one content category by ID.
      operationId: dfareporting.contentCategories.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Content category ID.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ContentCategory'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - contentCategories
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/conversions/batchinsert':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts conversions.
      operationId: dfareporting.conversions.batchinsert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ConversionsBatchInsertRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ConversionsBatchInsertResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/ddmconversions'
          Oauth2c:
            - 'https://www.googleapis.com/auth/ddmconversions'
      tags:
        - conversions
  '/userprofiles/{profileId}/countries':
    get:
      description: Retrieves a list of countries.
      operationId: dfareporting.countries.list
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CountriesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - countries
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/countries/{dartId}':
    get:
      description: Gets one country by ID.
      operationId: dfareporting.countries.get
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Country DART ID.
          in: path
          name: dartId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Country'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - countries
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/userprofiles/{profileId}/creativeAssets/{advertiserId}/creativeAssets':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
      description: Inserts a new creative asset.
      operationId: dfareporting.creativeAssets.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Advertiser ID of this creative. This is a required field.
          in: path
          name: advertiserId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreativeAssetMetadata'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativeAssetMetadata'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - creativeAssets
  '/userprofiles/{profileId}/creativeFields':
    get:
      description: 'Retrieves a list of creative fields, possibly filtered. This method supports paging.'
      operationId: dfareporting.creativeFields.list
      parameters:
        - collectionFormat: multi
          description: Select only creative fields that belong to these advertisers.
          in: query
          items:
            type: string
          name: advertiserIds
          type: array
        - collectionFormat: multi
          description: Select only creative fields with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: 'Allows searching for creative fields by name or ID. Wildcards (*) are allowed. For example, "creativefield*2015" will return creative fields with names like "creativefield June 2015", "creativefield April 2015", or simply "creativefield 2015". Most of the searches also add wild-cards implicitly at the start and the end of the search string. For example, a search string of "creativefield" will match creative fields with the name "my creativefield", "creativefield 2015", or simply "creativefield".'
          in: query
          name: searchString
          type: string
        - default: ID
          description: Field by which to sort the list.
          enum:
            - ID
            - NAME
          in: query
          name: sortField
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativeFieldsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - creativeFields
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing creative field. This method supports patch semantics.
      operationId: dfareporting.creativeFields.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Creative Field ID
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreativeField'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativeField'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - creativeFields
    post:
      description: Inserts a new creative field.
      operationId: dfareporting.creativeFields.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreativeField'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativeField'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - creativeFields
    put:
      description: Updates an existing creative field.
      operationId: dfareporting.creativeFields.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreativeField'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativeField'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - creativeFields
  '/userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues':
    get:
      description: 'Retrieves a list of creative field values, possibly filtered. This method supports paging.'
      operationId: dfareporting.creativeFieldValues.list
      parameters:
        - description: Creative field ID for this creative field value.
          in: path
          name: creativeFieldId
          required: true
          type: string
        - collectionFormat: multi
          description: Select only creative field values with these IDs.
          in: query
          items:
            type: string
          name: ids
          type: array
        - default: 1000
          description: Maximum number of results to return.
          in: query
          maximum: 1000
          minimum: 0
          name: maxResults
          type: integer
        - description: Value of the nextPageToken from the previous result page.
          in: query
          name: pageToken
          type: string
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Allows searching for creative field values by their values. Wildcards (e.g. *) are not allowed.
          in: query
          name: searchString
          type: string
        - default: ID
          description: Field by which to sort the list.
          enum:
            - ID
            - VALUE
          in: query
          name: sortField
          type: string
        - default: ASCENDING
          description: Order of sorted results.
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: sortOrder
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativeFieldValuesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - creativeFieldValues
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an existing creative field value. This method supports patch semantics.
      operationId: dfareporting.creativeFieldValues.patch
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Creative field ID for this creative field value.
          in: path
          name: creativeFieldId
          required: true
          type: string
        - description: Creative Field Value ID
          in: query
          name: id
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreativeFieldValue'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativeFieldValue'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - creativeFieldValues
    post:
      description: Inserts a new creative field value.
      operationId: dfareporting.creativeFieldValues.insert
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Creative field ID for this creative field value.
          in: path
          name: creativeFieldId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreativeFieldValue'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativeFieldValue'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - creativeFieldValues
    put:
      description: Updates an existing creative field value.
      operationId: dfareporting.creativeFieldValues.update
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
          type: string
        - description: Creative field ID for this creative field value.
          in: path
          name: creativeFieldId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreativeFieldValue'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/CreativeFieldValue'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/dfatrafficking'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dfatrafficking'
      tags:
        - creativeFieldValues
  '/userprofiles/{profileId}/creativeFields/{creativeFieldId}/creativeFieldValues/{id}':
    delete:
      description: Deletes an existing creative field value.
      operationId: dfareporting.creativeFieldValues.delete
      parameters:
        - description: User profile ID associated with this request.
          in: path
          name: profileId
          required: true
[...]
