openapi: 3.0.0
servers:
  - url: https://api.appcenter.ms
info:
  contact:
    x-twitter: microsoft
  description: Microsoft Visual Studio App Center API
  title: App Center Client
  version: v0.1
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_microsoft_profile_image.png
  x-origin:
    - format: openapi
      url: https://api.appcenter.ms/preview/swagger.json
      version: "3.0"
  x-providerName: appcenter.ms
tags:
  - name: account
  - name: alerting
  - name: analytics
  - name: billing
  - name: build
  - name: codepush
  - name: crash
  - name: distribute
  - name: errors
  - name: export
  - name: gdpr
  - name: test
paths:
  /v0.1/account/test/export:
    get:
      description: Lists all the endpoints available for Test accounts data
      operationId: test_gdprExportAccounts
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  resources:
                    items:
                      properties:
                        path:
                          format: URL
                          type: string
                        rel:
                          type: string
                      type: object
                    type: array
                type: object
          description: OK
      security:
        - APIToken: []
      tags:
        - test
  /v0.1/account/test/export/accounts:
    get:
      description: Lists account data
      operationId: test_gdprExportAccount
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  id:
                    format: uuid
                    type: string
                type: object
          description: OK
      security:
        - APIToken: []
      tags:
        - test
  /v0.1/account/test/export/featureFlags:
    get:
      description: Lists feature flag data
      operationId: test_gdprExportFeatureFlag
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  name:
                    type: string
                  target_id:
                    format: uuid
                    type: string
                type: object
          description: OK
      security:
        - APIToken: []
      tags:
        - test
  /v0.1/administeredOrgs:
    get:
      description: Returns a list organizations in which the requesting user is an admin
      operationId: organizations_listAdministered
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  organizations:
                    properties:
                      avatar_url:
                        description: The URL to a user-uploaded Avatar image
                        type: string
                      created_at:
                        description: The creation date of this organization
                        type: string
                      display_name:
                        description: The display name of the organization
                        type: string
                      id:
                        description: The internal unique id (UUID) of the organization.
                        format: uuid
                        type: string
                      name:
                        description: The slug name of the organization
                        type: string
                      origin:
                        description: The creation origin of this organization
                        enum:
                          - appcenter
                          - hockeyapp
                        type: string
                      updated_at:
                        description: The date the organization was last updated at
                        type: string
                    required:
                      - id
                      - display_name
                      - name
                      - origin
                      - created_at
                      - updated_at
                required:
                  - organizations
                type: object
          description: Success
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error
      security:
        - APIToken: []
      tags:
        - account
  /v0.1/api_tokens:
    get:
      description: Returns api tokens for the authenticated user
      operationId: userApiTokens_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  properties:
                    created_at:
                      description: The creation time
                      type: string
                    description:
                      description: The description of the token
                      type: string
                    id:
                      description: The unique id (UUID) of the api token
                      type: string
                    scope:
                      description: The scope for this token.
                      items:
                        enum:
                          - all
                          - viewer
                        type: string
                      type: array
                  required:
                    - id
                    - created_at
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error
        "401":
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Unauthorized
      security:
        - Basic: []
      tags:
        - account
    post:
      description: Creates a new User API token
      operationId: userApiTokens_new
      requestBody:
        $ref: "#/components/requestBodies/appApiTokens_newDescription"
      responses:
        "201":
          content:
            application/json:
              schema:
                properties:
                  api_token:
                    description: The api token generated will not be accessible again
                    type: string
                  created_at:
                    description: The creation time
                    type: string
                  description:
                    description: The description of the token
                    type: string
                  id:
                    description: The unique id (UUID) of the api token
                    type: string
                  scope:
                    description: The scope for this token.
                    items:
                      enum:
                        - all
                        - viewer
                      type: string
                    type: array
                required:
                  - id
                  - created_at
                  - api_token
          description: Success
        "400":
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error
        "401":
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Unauthorized
      security:
        - Basic: []
      tags:
        - account
  "/v0.1/api_tokens/{api_token_id}":
    delete:
      description: Delete the user api_token object with the specific id
      operationId: userApiTokens_delete
      parameters:
        - description: The unique ID (UUID) of the api token
          in: path
          name: api_token_id
          required: true
          schema:
            type: string
      responses:
        "204":
          description: Success
        "400":
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error
        "401":
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Unauthorized
        "404":
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: NotFound
      security:
        - Basic: []
      tags:
        - account
  /v0.1/apps:
    get:
      description: Returns a list of apps
      operationId: apps_list
      parameters:
        - description: The name of the attribute by which to order the response by. By default, apps are in order of creation. All results are ordered in ascending order.
          in: query
          name: $orderBy
          schema:
            enum:
              - display_name
              - name
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  allOf:
                    - properties:
                        description:
                          description: The description of the app
                          type: string
                        display_name:
                          description: The display name of the app
                          type: string
                        icon_source:
                          description: The string representation of the source of the app's icon
                          type: string
                        icon_url:
                          description: The string representation of the URL pointing to the app's icon
                          type: string
                        id:
                          description: The unique ID (UUID) of the app
                          format: uuid
                          type: string
                        name:
                          description: The name of the app used in URLs
                          type: string
                        os:
                          description: The OS the app will be running on
                          enum:
                            - Android
                            - iOS
                            - macOS
                            - Tizen
                            - tvOS
                            - Windows
                            - Linux
                            - Custom
                          type: string
                        owner:
                          description: The information about the app's owner
                          properties:
                            avatar_url:
                              description: The avatar URL of the owner
                              type: string
                            display_name:
                              description: The owner's display name
                              type: string
                            email:
                              description: The owner's email address
                              type: string
                            id:
                              description: The unique id (UUID) of the owner
                              format: uuid
                              type: string
                            name:
                              description: The unique name that used to identify the owner
                              type: string
                            type:
                              description: The owner type. Can either be 'org' or 'user'
                              enum:
                                - org
                                - user
                              type: string
                          required:
                            - id
                            - display_name
                            - name
                            - type
                        release_type:
                          description: A one-word descriptive release-type value that starts with a capital letter but is otherwise lowercase
                          type: string
                      required:
                        - id
                        - display_name
                        - name
                        - os
                        - owner
                    - properties:
                        app_secret:
                          description: A unique and secret key used to identify the app in communication with the ingestion endpoint for crash reporting and analytics
                          type: string
                        azure_subscription:
                          properties:
                            is_billable:
                              description: If the subscription can be used for billing
                              type: boolean
                            is_billing:
                              description: If the subscription is used for billing
                              type: boolean
                            is_microsoft_internal:
                              description: If the subscription is internal Microsoft subscription
                              type: boolean
                            subscription_id:
                              description: The azure subscription id
                              format: uuid
                              type: string
                            subscription_name:
                              description: The name of the azure subscription
                              type: string
                            tenant_id:
                              description: The tenant id of the azure subscription belongs to
                              format: uuid
                              type: string
                          required:
                            - subscription_id
                            - tenant_id
                            - subscription_name
                        created_at:
                          description: The created date of this app
                          type: string
                        member_permissions:
                          description: The permissions of the calling user
                          items:
                            enum:
                              - manager
                              - developer
                              - viewer
                              - tester
                            type: string
                          type: array
                        origin:
                          description: The creation origin of this app
                          enum:
                            - appcenter
                            - hockeyapp
                            - codepush
                          type: string
                        platform:
                          description: The platform of the app
                          enum:
                            - Java
                            - Objective-C-Swift
                            - UWP
                            - Cordova
                            - React-Native
                            - Unity
                            - Electron
                            - Xamarin
                            - WPF
                            - WinForms
                            - Unknown
                            - Custom
                          type: string
                        updated_at:
                          description: The last updated date of this app
                          type: string
                  required:
                    - app_secret
                    - platform
                    - origin
                type: array
          description: Success
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error
      security:
        - APIToken: []
      tags:
        - account
    post:
      description: Creates a new app and returns it to the caller
      operationId: apps_create
      requestBody:
        $ref: "#/components/requestBodies/apps_createForOrgApp"
      responses:
        "201":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      description:
                        description: The description of the app
                        type: string
                      display_name:
                        description: The display name of the app
                        type: string
                      icon_source:
                        description: The string representation of the source of the app's icon
                        type: string
                      icon_url:
                        description: The string representation of the URL pointing to the app's icon
                        type: string
                      id:
                        description: The unique ID (UUID) of the app
                        format: uuid
                        type: string
                      name:
                        description: The name of the app used in URLs
                        type: string
                      os:
                        description: The OS the app will be running on
                        enum:
                          - Android
                          - iOS
                          - macOS
                          - Tizen
                          - tvOS
                          - Windows
                          - Linux
                          - Custom
                        type: string
                      owner:
                        description: The information about the app's owner
                        properties:
                          avatar_url:
                            description: The avatar URL of the owner
                            type: string
                          display_name:
                            description: The owner's display name
                            type: string
                          email:
                            description: The owner's email address
                            type: string
                          id:
                            description: The unique id (UUID) of the owner
                            format: uuid
                            type: string
                          name:
                            description: The unique name that used to identify the owner
                            type: string
                          type:
                            description: The owner type. Can either be 'org' or 'user'
                            enum:
                              - org
                              - user
                            type: string
                        required:
                          - id
                          - display_name
                          - name
                          - type
                      release_type:
                        description: A one-word descriptive release-type value that starts with a capital letter but is otherwise lowercase
                        type: string
                    required:
                      - id
                      - display_name
                      - name
                      - os
                      - owner
                  - properties:
                      app_secret:
                        description: A unique and secret key used to identify the app in communication with the ingestion endpoint for crash reporting and analytics
                        type: string
                      azure_subscription:
                        properties:
                          is_billable:
                            description: If the subscription can be used for billing
                            type: boolean
                          is_billing:
                            description: If the subscription is used for billing
                            type: boolean
                          is_microsoft_internal:
                            description: If the subscription is internal Microsoft subscription
                            type: boolean
                          subscription_id:
                            description: The azure subscription id
                            format: uuid
                            type: string
                          subscription_name:
                            description: The name of the azure subscription
                            type: string
                          tenant_id:
                            description: The tenant id of the azure subscription belongs to
                            format: uuid
                            type: string
                        required:
                          - subscription_id
                          - tenant_id
                          - subscription_name
                      created_at:
                        description: The created date of this app
                        type: string
                      member_permissions:
                        description: The permissions of the calling user
                        items:
                          enum:
                            - manager
                            - developer
                            - viewer
                            - tester
                          type: string
                        type: array
                      origin:
                        description: The creation origin of this app
                        enum:
                          - appcenter
                          - hockeyapp
                          - codepush
                        type: string
                      platform:
                        description: The platform of the app
                        enum:
                          - Java
                          - Objective-C-Swift
                          - UWP
                          - Cordova
                          - React-Native
                          - Unity
                          - Electron
                          - Xamarin
                          - WPF
                          - WinForms
                          - Unknown
                          - Custom
                        type: string
                      updated_at:
                        description: The last updated date of this app
                        type: string
                required:
                  - app_secret
                  - platform
                  - origin
          description: Success
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error
      security:
        - APIToken: []
      tags:
        - account
  "/v0.1/apps/{owner_name}/{app_name}":
    delete:
      description: Delete an app
      operationId: apps_delete
      parameters:
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "204":
          description: Success
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error
      security:
        - APIToken: []
      tags:
        - account
      x-api-principals:
        - user
    get:
      description: Return a specific app with the given app name which belongs to the given owner.
      operationId: apps_get
      parameters:
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      description:
                        description: The description of the app
                        type: string
                      display_name:
                        description: The display name of the app
                        type: string
                      icon_source:
                        description: The string representation of the source of the app's icon
                        type: string
                      icon_url:
                        description: The string representation of the URL pointing to the app's icon
                        type: string
                      id:
                        description: The unique ID (UUID) of the app
                        format: uuid
                        type: string
                      name:
                        description: The name of the app used in URLs
                        type: string
                      os:
                        description: The OS the app will be running on
                        enum:
                          - Android
                          - iOS
                          - macOS
                          - Tizen
                          - tvOS
                          - Windows
                          - Linux
                          - Custom
                        type: string
                      owner:
                        description: The information about the app's owner
                        properties:
                          avatar_url:
                            description: The avatar URL of the owner
                            type: string
                          display_name:
                            description: The owner's display name
                            type: string
                          email:
                            description: The owner's email address
                            type: string
                          id:
                            description: The unique id (UUID) of the owner
                            format: uuid
                            type: string
                          name:
                            description: The unique name that used to identify the owner
                            type: string
                          type:
                            description: The owner type. Can either be 'org' or 'user'
                            enum:
                              - org
                              - user
                            type: string
                        required:
                          - id
                          - display_name
                          - name
                          - type
                      release_type:
                        description: A one-word descriptive release-type value that starts with a capital letter but is otherwise lowercase
                        type: string
                    required:
                      - id
                      - display_name
                      - name
                      - os
                      - owner
                  - properties:
                      app_secret:
                        description: A unique and secret key used to identify the app in communication with the ingestion endpoint for crash reporting and analytics
                        type: string
                      azure_subscription:
                        properties:
                          is_billable:
                            description: If the subscription can be used for billing
                            type: boolean
                          is_billing:
                            description: If the subscription is used for billing
                            type: boolean
                          is_microsoft_internal:
                            description: If the subscription is internal Microsoft subscription
                            type: boolean
                          subscription_id:
                            description: The azure subscription id
                            format: uuid
                            type: string
                          subscription_name:
                            description: The name of the azure subscription
                            type: string
                          tenant_id:
                            description: The tenant id of the azure subscription belongs to
                            format: uuid
                            type: string
                        required:
                          - subscription_id
                          - tenant_id
                          - subscription_name
                      created_at:
                        description: The created date of this app
                        type: string
                      member_permissions:
                        description: The permissions of the calling user
                        items:
                          enum:
                            - manager
                            - developer
                            - viewer
                            - tester
                          type: string
                        type: array
                      origin:
                        description: The creation origin of this app
                        enum:
                          - appcenter
                          - hockeyapp
                          - codepush
                        type: string
                      platform:
                        description: The platform of the app
                        enum:
                          - Java
                          - Objective-C-Swift
                          - UWP
                          - Cordova
                          - React-Native
                          - Unity
                          - Electron
                          - Xamarin
                          - WPF
                          - WinForms
                          - Unknown
                          - Custom
                        type: string
                      updated_at:
                        description: The last updated date of this app
                        type: string
                required:
                  - app_secret
                  - platform
                  - origin
          description: Success
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error
      security:
        - APIToken: []
      tags:
        - account
    patch:
      description: Partially updates a single app
      operationId: apps_update
      parameters:
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              properties:
                description:
                  description: A short text describing the app
                  type: string
                display_name:
                  description: The display name of the app
                  type: string
                icon_asset_id:
                  description: The uuid for the icon's asset id from ACFUS
                  format: uuid
                  type: string
                icon_url:
                  description: The string representation of the URL pointing to the app's icon
                  type: string
                name:
                  description: The name of the app used in URLs
                  type: string
                release_type:
                  description: A one-word descriptive release type value that starts with a capital letter but is otherwise lowercase
                  type: string
        description: The partial data for the app
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - properties:
                      description:
                        description: The description of the app
                        type: string
                      display_name:
                        description: The display name of the app
                        type: string
                      icon_source:
                        description: The string representation of the source of the app's icon
                        type: string
                      icon_url:
                        description: The string representation of the URL pointing to the app's icon
                        type: string
                      id:
                        description: The unique ID (UUID) of the app
                        format: uuid
                        type: string
                      name:
                        description: The name of the app used in URLs
                        type: string
                      os:
                        description: The OS the app will be running on
                        enum:
                          - Android
                          - iOS
                          - macOS
                          - Tizen
                          - tvOS
                          - Windows
                          - Linux
                          - Custom
                        type: string
                      owner:
                        description: The information about the app's owner
                        properties:
                          avatar_url:
                            description: The avatar URL of the owner
                            type: string
                          display_name:
                            description: The owner's display name
                            type: string
                          email:
                            description: The owner's email address
                            type: string
                          id:
                            description: The unique id (UUID) of the owner
                            format: uuid
                            type: string
                          name:
                            description: The unique name that used to identify the owner
                            type: string
                          type:
                            description: The owner type. Can either be 'org' or 'user'
                            enum:
                              - org
                              - user
                            type: string
                        required:
                          - id
                          - display_name
                          - name
                          - type
                      release_type:
                        description: A one-word descriptive release-type value that starts with a capital letter but is otherwise lowercase
                        type: string
                    required:
                      - id
                      - display_name
                      - name
                      - os
                      - owner
                  - properties:
                      app_secret:
                        description: A unique and secret key used to identify the app in communication with the ingestion endpoint for crash reporting and analytics
                        type: string
                      azure_subscription:
                        properties:
                          is_billable:
                            description: If the subscription can be used for billing
                            type: boolean
                          is_billing:
                            description: If the subscription is used for billing
                            type: boolean
                          is_microsoft_internal:
                            description: If the subscription is internal Microsoft subscription
                            type: boolean
                          subscription_id:
                            description: The azure subscription id
                            format: uuid
                            type: string
                          subscription_name:
                            description: The name of the azure subscription
                            type: string
                          tenant_id:
                            description: The tenant id of the azure subscription belongs to
                            format: uuid
                            type: string
                        required:
                          - subscription_id
                          - tenant_id
                          - subscription_name
                      created_at:
                        description: The created date of this app
                        type: string
                      member_permissions:
                        description: The permissions of the calling user
                        items:
                          enum:
                            - manager
                            - developer
                            - viewer
                            - tester
                          type: string
                        type: array
                      origin:
                        description: The creation origin of this app
                        enum:
                          - appcenter
                          - hockeyapp
                          - codepush
                        type: string
                      platform:
                        description: The platform of the app
                        enum:
                          - Java
                          - Objective-C-Swift
                          - UWP
                          - Cordova
                          - React-Native
                          - Unity
                          - Electron
                          - Xamarin
                          - WPF
                          - WinForms
                          - Unknown
                          - Custom
                        type: string
                      updated_at:
                        description: The last updated date of this app
                        type: string
                required:
                  - app_secret
                  - platform
                  - origin
          description: Success
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: BadRequest
      security:
        - APIToken: []
      tags:
        - account
  "/v0.1/apps/{owner_name}/{app_name}/analytics/active_device_counts":
    get:
      description: Count of active devices by interval in the time range.
      operationId: Analytics_DeviceCounts
      parameters:
        - description: Start date time in data in ISO 8601 date time format.
          in: query
          name: start
          required: true
          schema:
            format: date-time
            type: string
          x-ms-parameter-location: method
        - description: Last date time in data in ISO 8601 date time format.
          in: query
          name: end
          required: false
          schema:
            format: date-time
            type: string
          x-ms-parameter-location: method
        - description: To select specific application versions
          in: query
          name: versions
          required: false
          schema:
            items:
              type: string
            type: array
          style: pipeDelimited
          x-ms-parameter-location: method
        - description: Application build number. If build number is specified than multiple versions are not allowed.
          in: query
          name: app_build
          required: false
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  daily:
                    description: The active device count for each interval.
                    items:
                      properties:
                        count:
                          description: Count of the object.
                          format: int64
                          type: integer
                        datetime:
                          description: The ISO 8601 datetime.
                          type: string
                    type: array
                  monthly:
                    description: The active device count for each interval with a month's retention.
                    items:
                      properties:
                        count:
                          description: Count of the object.
                          format: int64
                          type: integer
                        datetime:
                          description: The ISO 8601 datetime.
                          type: string
                    type: array
                  weekly:
                    description: The active device count for each interval with a week's retention.
                    items:
                      properties:
                        count:
                          description: Count of the object.
                          format: int64
                          type: integer
                        datetime:
                          description: The ISO 8601 datetime.
                          type: string
                    type: array
          description: Count of active devices by interval in the time range.
        default:
          content:
            application/json:
              schema:
                description: Error
                properties:
                  error:
                    properties:
                      code:
                        description: The status code return by the API. It can be 400 or 403 or 500.
                        enum:
                          - 400
                          - 403
                          - 500
                        type: integer
                      message:
                        description: The reason for the request failed.
                        type: string
                    type: object
                type: object
          description: Error code with reason.
      security:
        - APIToken: []
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences":
    get:
      description: Get list of audiences.
      operationId: Analytics_ListAudiences
      parameters:
        - description: Include disabled audience definitions
          in: query
          name: include_disabled
          required: false
          schema:
            type: boolean
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of audiences.
                properties:
                  nextLink:
                    type: string
                  values:
                    description: List of audiences.
                    items:
                      description: Audience definition.
                      properties:
                        definition:
                          description: Audience definition in OData format.
                          type: string
                        description:
                          description: Audience description.
                          type: string
                        estimated_count:
                          description: Estimated audience size.
                          format: int64
                          type: integer
                        name:
                          description: Audience name.
                          type: string
                        state:
                          description: Audience state.
                          enum:
                            - Calculating
                            - Ready
                            - Disabled
                          type: string
                          x-ms-enum:
                            name: AudienceProcessingState
                    type: array
                required:
                  - values
          description: List of audiences.
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error code with reason
      security:
        - APIToken: []
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/definition/test":
    post:
      description: Tests audience definition.
      operationId: Analytics_TestAudience
      parameters:
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      requestBody:
        $ref: "#/components/requestBodies/Analytics_CreateOrUpdateAudienceAudience"
      responses:
        "200":
          content:
            application/json:
              schema:
                description: Audience test result.
                properties:
                  custom_properties:
                    additionalProperties:
                      enum:
                        - string
                        - number
                        - boolean
                        - date_time
                      type: string
                      x-ms-enum:
                        modelAsString: false
                        name: device_property_type
                    description: Custom properties used in the definition.
                    type: object
                  definition:
                    description: Audience definition in OData format.
                    type: string
                  estimated_count:
                    description: Estimated audience size.
                    format: int64
                    type: integer
                  estimated_total_count:
                    description: Estimated total audience size.
                    format: int64
                    type: integer
          description: Tests audience definition.
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error code with reason
      security:
        - APIToken: []
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/metadata/custom_properties":
    get:
      description: Get list of custom properties.
      operationId: Analytics_ListCustomProperties
      parameters:
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of device properties.
                properties:
                  values:
                    additionalProperties:
                      description: Type of the property.
                      enum:
                        - string
                        - number
                        - boolean
                        - date_time
                      type: string
                      x-ms-enum:
                        modelAsString: false
                        name: device_property_type
                    description: List of device properties.
                    type: object
                required:
                  - values
          description: List of device properties.
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error code with reason
      security:
        - APIToken: []
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/metadata/device_properties":
    get:
      description: Get list of device properties.
      operationId: Analytics_ListDeviceProperties
      parameters:
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of device properties.
                properties:
                  values:
                    additionalProperties:
                      description: Type of the property.
                      enum:
                        - string
                        - number
                        - boolean
                        - date_time
                      type: string
                      x-ms-enum:
                        modelAsString: false
                        name: device_property_type
                    description: List of device properties.
                    type: object
                required:
                  - values
          description: List of device properties.
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error code with reason
      security:
        - APIToken: []
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/metadata/device_properties/{property_name}/values":
    get:
      description: Get list of device property values.
      operationId: Analytics_ListDevicePropertyValues
      parameters:
        - description: Device property
          in: path
          name: property_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: Contains string
          in: query
          name: contains
          required: false
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of device property values.
                properties:
                  values:
                    description: List of device property values.
                    items:
                      type: string
                    type: array
                required:
                  - values
          description: List of supported device property values.
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error code with reason
      security:
        - APIToken: []
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/audiences/{audience_name}":
    delete:
      description: Deletes audience definition.
      operationId: Analytics_DeleteAudience
      parameters:
        - description: The name of the audience
          in: path
          name: audience_name
          required: true
          schema:
            format: string
            maxLength: 64
            pattern: "[^/]+"
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "204":
          description: Audiences exists.
        "404":
          description: Audiences does not exist.
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error code with reason
      security:
        - APIToken: []
      tags:
        - analytics
    get:
      description: Gets audience definition.
      operationId: Analytics_GetAudience
      parameters:
        - description: The name of the audience
          in: path
          name: audience_name
          required: true
          schema:
            format: string
            maxLength: 64
            pattern: "[^/]+"
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - description: Audience definition.
                    properties:
                      definition:
                        description: Audience definition in OData format.
                        type: string
                      description:
                        description: Audience description.
                        type: string
                      estimated_count:
                        description: Estimated audience size.
                        format: int64
                        type: integer
                      name:
                        description: Audience name.
                        type: string
                      state:
                        description: Audience state.
                        enum:
                          - Calculating
                          - Ready
                          - Disabled
                        type: string
                        x-ms-enum:
                          name: AudienceProcessingState
                description: Audience with details.
                properties:
                  custom_properties:
                    additionalProperties:
                      enum:
                        - string
                        - number
                        - boolean
                        - date_time
                      type: string
                      x-ms-enum:
                        modelAsString: false
                        name: device_property_type
                    description: Custom properties used in the definition.
                    type: object
                  enabled:
                    default: true
                    type: boolean
                  estimated_total_count:
                    description: Estimated total audience size.
                    format: int64
                    type: integer
                  timestamp:
                    description: Date the audience was last refreshed.
                    format: date-time
                    type: string
          description: Audiences definition.
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error code with reason
      security:
        - APIToken: []
      tags:
        - analytics
    head:
      description: Returns whether audience definition exists.
      operationId: Analytics_AudienceNameExists
      parameters:
        - description: The name of the audience
          in: path
          name: audience_name
          required: true
          schema:
            format: string
            maxLength: 64
            pattern: "[^/]+"
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "204":
          description: Audiences exists.
        "404":
          description: Audiences does not exist.
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error code with reason
      security:
        - APIToken: []
      tags:
        - analytics
    put:
      description: Creates or updates audience definition.
      operationId: Analytics_CreateOrUpdateAudience
      parameters:
        - description: The name of the audience
          in: path
          name: audience_name
          required: true
          schema:
            format: string
            maxLength: 64
            pattern: "[^/]+"
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      requestBody:
        $ref: "#/components/requestBodies/Analytics_CreateOrUpdateAudienceAudience"
      responses:
        "200":
          content:
            application/json:
              schema:
                allOf:
                  - description: Audience definition.
                    properties:
                      definition:
                        description: Audience definition in OData format.
                        type: string
                      description:
                        description: Audience description.
                        type: string
                      estimated_count:
                        description: Estimated audience size.
                        format: int64
                        type: integer
                      name:
                        description: Audience name.
                        type: string
                      state:
                        description: Audience state.
                        enum:
                          - Calculating
                          - Ready
                          - Disabled
                        type: string
                        x-ms-enum:
                          name: AudienceProcessingState
                description: Audience with details.
                properties:
                  custom_properties:
                    additionalProperties:
                      enum:
                        - string
                        - number
                        - boolean
                        - date_time
                      type: string
                      x-ms-enum:
                        modelAsString: false
                        name: device_property_type
                    description: Custom properties used in the definition.
                    type: object
                  enabled:
                    default: true
                    type: boolean
                  estimated_total_count:
                    description: Estimated total audience size.
                    format: int64
                    type: integer
                  timestamp:
                    description: Date the audience was last refreshed.
                    format: date-time
                    type: string
          description: Updated audiences definition.
        default:
          content:
            application/json:
              schema:
                properties:
                  error:
                    properties:
                      code:
                        enum:
                          - BadRequest
                          - Conflict
                          - NotAcceptable
                          - NotFound
                          - InternalServerError
                          - Unauthorized
                          - TooManyRequests
                        type: string
                      message:
                        type: string
                    required:
                      - code
                      - message
                required:
                  - error
                type: object
          description: Error code with reason
      security:
        - APIToken: []
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/crash_counts":
    get:
      deprecated: true
      description: Count of crashes by day in the time range based the selected versions. Available for UWP apps only.
      operationId: Analytics_CrashCounts
      parameters:
        - description: Start date time in data in ISO 8601 date time format.
          in: query
          name: start
          required: true
          schema:
            format: date-time
            type: string
          x-ms-parameter-location: method
        - description: Last date time in data in ISO 8601 date time format.
          in: query
          name: end
          required: false
          schema:
            format: date-time
            type: string
          x-ms-parameter-location: method
        - description: To select specific application versions
          in: query
          name: versions
          required: false
          schema:
            items:
              type: string
            type: array
          style: pipeDelimited
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    description: Total crash count.
                    format: int64
                    type: integer
                  crashes:
                    description: The total crash count for day.
                    items:
                      properties:
                        count:
                          description: Count of the object.
                          format: int64
                          type: integer
                        datetime:
                          description: The ISO 8601 datetime.
                          type: string
                    type: array
                type: object
          description: Count of crashes by day in the time range and total crashes over the time range.
        default:
          content:
            application/json:
              schema:
                description: Error
                properties:
                  error:
                    properties:
                      code:
                        description: The status code return by the API. It can be 400 or 403 or 500.
                        enum:
                          - 400
                          - 403
                          - 500
                        type: integer
                      message:
                        description: The reason for the request failed.
                        type: string
                    type: object
                type: object
          description: Error code with reason.
      security:
        - APIToken: []
      summary: Available for UWP apps only.
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups":
    post:
      description: Overall crashes and affected users count of the selected crash groups with selected versions.
      operationId: Analytics_CrashGroupsTotals
      parameters:
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      requestBody:
        content:
          application/json:
            schema:
              properties:
                crash_groups:
                  items:
                    properties:
                      app_version:
                        format: string
                        type: string
                      crash_group_id:
                        format: string
                        type: string
                    type: object
                  minItems: 1
                  type: array
              required:
                - crash_groups
              type: object
        required: true
        x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                description: List of crash groups with overall crashes count and affected users.
                items:
                  properties:
                    app_version:
                      format: string
                      type: string
                    crash_group_id:
                      format: string
                      type: string
                    overall:
                      properties:
                        crash_count:
                          format: int64
                          type: integer
                        device_count:
                          format: int64
                          type: integer
                      type: object
                  type: object
                type: array
          description: Overall crashes and affected users count for all selected crash groups.
        default:
          content:
            application/json:
              schema:
                description: Error
                properties:
                  error:
                    properties:
                      code:
                        description: The status code return by the API. It can be 400 or 403 or 500.
                        enum:
                          - 400
                          - 403
                          - 500
                        type: integer
                      message:
                        description: The reason for the request failed.
                        type: string
                    type: object
                type: object
          description: Error code with reason.
      security:
        - APIToken: []
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups/{crash_group_id}/crash_counts":
    get:
      deprecated: true
      description: Count of crashes by day in the time range of the selected crash group with selected version. Available for UWP apps only.
      operationId: Analytics_CrashGroupCounts
      parameters:
        - description: The id of the crash group.
          in: path
          name: crash_group_id
          required: true
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - in: query
          name: version
          required: true
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - description: Start date time in data in ISO 8601 date time format.
          in: query
          name: start
          required: true
          schema:
            format: date-time
            type: string
          x-ms-parameter-location: method
        - description: Last date time in data in ISO 8601 date time format.
          in: query
          name: end
          required: false
          schema:
            format: date-time
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  count:
                    description: Total crash count.
                    format: int64
                    type: integer
                  crashes:
                    description: The total crash count for day.
                    items:
                      properties:
                        count:
                          description: Count of the object.
                          format: int64
                          type: integer
                        datetime:
                          description: The ISO 8601 datetime.
                          type: string
                    type: array
                type: object
          description: Count of crashes by day in the time range and total crashes over the time range.
        default:
          content:
            application/json:
              schema:
                description: Error
                properties:
                  error:
                    properties:
                      code:
                        description: The status code return by the API. It can be 400 or 403 or 500.
                        enum:
                          - 400
                          - 403
                          - 500
                        type: integer
                      message:
                        description: The reason for the request failed.
                        type: string
                    type: object
                type: object
          description: Error code with reason.
      security:
        - APIToken: []
      summary: Available for UWP apps only.
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups/{crash_group_id}/models":
    get:
      deprecated: true
      description: Top models of the selected crash group with selected version. Available for UWP apps only.
      operationId: Analytics_CrashGroupModelCounts
      parameters:
        - description: The id of the crash group.
          in: path
          name: crash_group_id
          required: true
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - in: query
          name: version
          required: true
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - description: The maximum number of results to return. (0 will fetch all results)
          in: query
          name: $top
          required: false
          schema:
            default: 30
            format: int64
            maximum: 2000
            minimum: 0
            type: integer
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  crash_count:
                    format: int64
                    type: integer
                  models:
                    items:
                      properties:
                        crash_count:
                          description: Count of model.
                          format: int64
                          type: integer
                        model_name:
                          description: Model's name.
                          type: string
                      type: object
                    type: array
                type: object
          description: Top models with percentage in descending order.
        default:
          content:
            application/json:
              schema:
                description: Error
                properties:
                  error:
                    properties:
                      code:
                        description: The status code return by the API. It can be 400 or 403 or 500.
                        enum:
                          - 400
                          - 403
                          - 500
                        type: integer
                      message:
                        description: The reason for the request failed.
                        type: string
                    type: object
                type: object
          description: Error code with reason.
      security:
        - APIToken: []
      summary: Available for UWP apps only.
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups/{crash_group_id}/operating_systems":
    get:
      deprecated: true
      description: Top OSes of the selected crash group with selected version. Available for UWP apps only.
      operationId: Analytics_CrashGroupOperatingSystemCounts
      parameters:
        - description: The id of the crash group.
          in: path
          name: crash_group_id
          required: true
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - in: query
          name: version
          required: true
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - description: The maximum number of results to return. (0 will fetch all results)
          in: query
          name: $top
          required: false
          schema:
            default: 30
            format: int64
            maximum: 2000
            minimum: 0
            type: integer
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  crash_count:
                    format: int64
                    type: integer
                  operating_systems:
                    items:
                      properties:
                        crash_count:
                          description: Count of OS.
                          format: int64
                          type: integer
                        operating_system_name:
                          description: OS name.
                          type: string
                      type: object
                    type: array
                type: object
          description: Top OSes with percentage in descending order.
        default:
          content:
            application/json:
              schema:
                description: Error
                properties:
                  error:
                    properties:
                      code:
                        description: The status code return by the API. It can be 400 or 403 or 500.
                        enum:
                          - 400
                          - 403
                          - 500
                        type: integer
                      message:
                        description: The reason for the request failed.
                        type: string
                    type: object
                type: object
          description: Error code with reason.
      security:
        - APIToken: []
      summary: Available for UWP apps only.
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/crash_groups/{crash_group_id}/overall":
    get:
      deprecated: true
      description: Overall crashes and affected users count of the selected crash group with selected version. Available for UWP apps only.
      operationId: Analytics_CrashGroupTotals
      parameters:
        - description: The id of the crash group.
          in: path
          name: crash_group_id
          required: true
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - in: query
          name: version
          required: true
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  crash_count:
                    format: int64
                    type: integer
                  device_count:
                    format: int64
                    type: integer
                type: object
          description: Overall crashes and affected users count.
        default:
          content:
            application/json:
              schema:
                description: Error
                properties:
                  error:
                    properties:
                      code:
                        description: The status code return by the API. It can be 400 or 403 or 500.
                        enum:
                          - 400
                          - 403
                          - 500
                        type: integer
                      message:
                        description: The reason for the request failed.
                        type: string
                    type: object
                type: object
          description: Error code with reason.
      security:
        - APIToken: []
      summary: Available for UWP apps only.
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/crashfree_device_percentages":
    get:
      deprecated: true
      description: Percentage of crash-free device by day in the time range based on the selected versions. Api will return -1 if crash devices is greater than active devices.
      operationId: Analytics_CrashFreeDevicePercentages
      parameters:
        - description: Start date time in data in ISO 8601 date time format.
          in: query
          name: start
          required: true
          schema:
            format: date-time
            type: string
          x-ms-parameter-location: method
        - description: Last date time in data in ISO 8601 date time format.
          in: query
          name: end
          required: false
          schema:
            format: date-time
            type: string
          x-ms-parameter-location: method
        - in: query
          name: version
          required: true
          schema:
            format: string
            type: string
          x-ms-parameter-location: method
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
        - description: The name of the application
          in: path
          name: app_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  average_percentage:
                    description: Average percentage.
                    format: double
                    type: number
                  daily_percentages:
                    description: The crash-free percentage per day.
                    items:
                      properties:
                        datetime:
                          description: The ISO 8601 datetime.
                          type: string
                        percentage:
                          description: Percentage of the object.
                          format: double
                          type: number
                    type: array
                type: object
          description: Percentage of crash-free devices by day in the time range and overall percentage of the time range.
        default:
          content:
            application/json:
              schema:
                description: Error
                properties:
                  error:
                    properties:
                      code:
                        description: The status code return by the API. It can be 400 or 403 or 500.
                        enum:
                          - 400
                          - 403
                          - 500
                        type: integer
                      message:
                        description: The reason for the request failed.
                        type: string
                    type: object
                type: object
          description: Error code with reason.
      security:
        - APIToken: []
      tags:
        - analytics
  "/v0.1/apps/{owner_name}/{app_name}/analytics/distribution/release_counts":
    post:
      description: Count of total downloads for the provided distribution releases.
      operationId: Analytics_DistributionReleaseCounts
      parameters:
        - description: The name of the owner
          in: path
          name: owner_name
          required: true
          schema:
            type: string
          x-ms-parameter-location: method
[...]
