openapi: 3.0.0
servers:
  - url: https://sqladmin.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: API for Cloud SQL database instance management
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud SQL Admin API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://sqladmin.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: sqladmin
externalDocs:
  url: https://developers.google.com/cloud-sql/
tags:
  - name: instances
  - name: projects
paths:
  "/v1/projects/{project}/instances":
    get:
      description: Lists instances under a given project.
      operationId: sqladmin.instances.list
      parameters:
        - description: Project ID of the project for which to list Cloud SQL instances.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return per response.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstancesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances/{instance}":
    get:
      description: Retrieves a resource containing information about a Cloud SQL instance.
      operationId: sqladmin.projects.instances.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseInstance"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances/{instance}/connectSettings":
    get:
      description: Retrieves connect settings about a Cloud SQL instance.
      operationId: sqladmin.projects.instances.getConnectSettings
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Optional. Optional snapshot read timestamp to trade freshness for performance.
          in: query
          name: readTime
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ConnectSettings"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{project}/instances/{instance}/createEphemeral":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.
      operationId: sqladmin.projects.instances.createEphemeral.create
      parameters:
        - description: Project ID of the Cloud SQL project.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SslCertsCreateEphemeralRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SslCert"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
  "/v1/projects/{project}/instances/{instance}:generateEphemeralCert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.
      operationId: sqladmin.projects.instances.generateEphemeralCert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateEphemeralCertRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GenerateEphemeralCertResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AclEntry:
      description: An entry for an Access Control list.
      properties:
        expirationTime:
          description: The time when this access control entry expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.
          format: google-datetime
          type: string
        kind:
          description: This is always **sql#aclEntry**.
          type: string
        name:
          description: Optional. A label to identify this entry.
          type: string
        value:
          description: The allowlisted value for the access control list.
          type: string
      type: object
    ApiWarning:
      description: An Admin API warning message.
      properties:
        code:
          description: Code to uniquely identify the warning type.
          enum:
            - SQL_API_WARNING_CODE_UNSPECIFIED
            - REGION_UNREACHABLE
          type: string
        message:
          description: The warning message.
          type: string
        region:
          description: The region name for REGION_UNREACHABLE warning.
          type: string
      type: object
    BackupConfiguration:
      description: Database instance backup configuration.
      properties:
        backupRetentionSettings:
          $ref: "#/components/schemas/BackupRetentionSettings"
          description: Backup retention settings.
        binaryLogEnabled:
          description: (MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.
          type: boolean
        enabled:
          description: Whether this configuration is enabled.
          type: boolean
        kind:
          description: This is always **sql#backupConfiguration**.
          type: string
        location:
          description: Location of the backup
          type: string
        pointInTimeRecoveryEnabled:
          description: (Postgres only) Whether point in time recovery is enabled.
          type: boolean
        replicationLogArchivingEnabled:
          description: Reserved for future use.
          type: boolean
        startTime:
          description: Start time for the daily backup configuration in UTC timezone in the 24 hour format - **HH:MM**.
          type: string
        transactionLogRetentionDays:
          description: The number of days of transaction logs we retain for point in time restore, from 1-7.
          format: int32
          type: integer
      type: object
    BackupRetentionSettings:
      description: We currently only support backup retention by specifying the number of backups we will retain.
      properties:
        retainedBackups:
          description: Depending on the value of retention_unit, this is used to determine if a backup needs to be deleted. If retention_unit is 'COUNT', we will retain this many backups.
          format: int32
          type: integer
        retentionUnit:
          description: The unit that 'retained_backups' represents.
          enum:
            - RETENTION_UNIT_UNSPECIFIED
            - COUNT
          type: string
      type: object
    ConnectSettings:
      description: Connect settings retrieval response.
      properties:
        backendType:
          description: "**SECOND_GEN**: Cloud SQL database instance. **EXTERNAL**: A database server that is not managed by Google. This property is read-only; use the **tier** property in the **settings** object to determine the database type."
          enum:
            - SQL_BACKEND_TYPE_UNSPECIFIED
            - FIRST_GEN
            - SECOND_GEN
            - EXTERNAL
          type: string
        databaseVersion:
          description: "The database engine type and version. The **databaseVersion** field cannot be changed after instance creation. MySQL instances: **MYSQL_8_0**, **MYSQL_5_7** (default), or **MYSQL_5_6**. PostgreSQL instances: **POSTGRES_9_6**, **POSTGRES_10**, **POSTGRES_11** or **POSTGRES_12** (default). SQL Server instances: **SQLSERVER_2017_STANDARD** (default), **SQLSERVER_2017_ENTERPRISE**, **SQLSERVER_2017_EXPRESS**, or **SQLSERVER_2017_WEB**."
          enum:
            - SQL_DATABASE_VERSION_UNSPECIFIED
            - MYSQL_5_1
            - MYSQL_5_5
            - MYSQL_5_6
            - MYSQL_5_7
            - POSTGRES_9_6
            - POSTGRES_11
            - SQLSERVER_2017_STANDARD
            - SQLSERVER_2017_ENTERPRISE
            - SQLSERVER_2017_EXPRESS
            - SQLSERVER_2017_WEB
            - POSTGRES_10
            - POSTGRES_12
            - POSTGRES_13
            - SQLSERVER_2019_STANDARD
            - SQLSERVER_2019_ENTERPRISE
            - SQLSERVER_2019_EXPRESS
            - SQLSERVER_2019_WEB
          type: string
        ipAddresses:
          description: The assigned IP addresses for the instance.
          items:
            $ref: "#/components/schemas/IpMapping"
          type: array
        kind:
          description: This is always `sql#connectSettings`.
          type: string
        serverCaCert:
          $ref: "#/components/schemas/SslCert"
          description: SSL configuration.
      type: object
    DatabaseFlags:
      description: Database flags for Cloud SQL instances.
      properties:
        name:
          description: The name of the flag. These flags are passed at instance startup, so include both server options and system variables for MySQL. Flags are specified with underscores, not hyphens. For more information, see [Configuring Database Flags](/sql/docs/mysql/flags) in the Cloud SQL documentation.
          type: string
        value:
          description: The value of the flag. Booleans are set to **on** for true and **off** for false. This field must be omitted if the flag doesn't take a value.
          type: string
      type: object
    DatabaseInstance:
      description: A Cloud SQL instance resource.
      properties:
        backendType:
          description: " *SECOND_GEN*: Cloud SQL database instance. *EXTERNAL*: A database server that is not managed by Google. This property is read-only; use the *tier* property in the *settings* object to determine the database type."
          enum:
            - SQL_BACKEND_TYPE_UNSPECIFIED
            - FIRST_GEN
            - SECOND_GEN
            - EXTERNAL
          type: string
        connectionName:
          description: Connection name of the Cloud SQL instance used in connection strings.
          type: string
        currentDiskSize:
          description: The current disk usage of the instance in bytes. This property has been deprecated. Use the "cloudsql.googleapis.com/database/disk/bytes_used" metric in Cloud Monitoring API instead. Please see this announcement for details.
          format: int64
          type: string
        databaseVersion:
          description: "The database engine type and version. The *databaseVersion* field cannot be changed after instance creation. MySQL instances: *MYSQL_8_0*, *MYSQL_5_7* (default), or *MYSQL_5_6*. PostgreSQL instances: *POSTGRES_9_6*, *POSTGRES_10*, *POSTGRES_11*, *POSTGRES_12*, or *POSTGRES_13* (default). SQL Server instances: *SQLSERVER_2017_STANDARD* (default), *SQLSERVER_2017_ENTERPRISE*, *SQLSERVER_2017_EXPRESS*, or *SQLSERVER_2017_WEB*."
          enum:
            - SQL_DATABASE_VERSION_UNSPECIFIED
            - MYSQL_5_1
            - MYSQL_5_5
            - MYSQL_5_6
            - MYSQL_5_7
            - POSTGRES_9_6
            - POSTGRES_11
            - SQLSERVER_2017_STANDARD
            - SQLSERVER_2017_ENTERPRISE
            - SQLSERVER_2017_EXPRESS
            - SQLSERVER_2017_WEB
            - POSTGRES_10
            - POSTGRES_12
            - POSTGRES_13
            - SQLSERVER_2019_STANDARD
            - SQLSERVER_2019_ENTERPRISE
            - SQLSERVER_2019_EXPRESS
            - SQLSERVER_2019_WEB
          type: string
        diskEncryptionConfiguration:
          $ref: "#/components/schemas/DiskEncryptionConfiguration"
          description: Disk encryption configuration specific to an instance. Applies only to Second Generation instances.
        diskEncryptionStatus:
          $ref: "#/components/schemas/DiskEncryptionStatus"
          description: Disk encryption status specific to an instance. Applies only to Second Generation instances.
        encryptedRootPassword:
          description: For internal usage only. The encrypted password.
          format: byte
          type: string
        etag:
          description: This field is deprecated and will be removed from a future version of the API. Use the *settings.settingsVersion* field instead.
          type: string
        failoverReplica:
          description: The name and status of the failover replica. This property is applicable only to Second Generation instances.
          properties:
            available:
              description: The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The primary instance can only failover to the failover replica when the status is true.
              type: boolean
            failoverInstance:
              $ref: "#/components/schemas/InstanceReference"
              description: A reference to the failover replica. If specified at instance creation, a failover replica is created for the instance. Currently, the failover replica can only be created in the same region as the primary instance.
            name:
              description: The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID. This property is applicable only to Second Generation instances.
              type: string
          type: object
        gceZone:
          description: The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone.
          type: string
        installedVersion:
          description: installed_version stores the current fully resolved database version including minor version such as MySQL_5.6.50
          enum:
            - SQL_DATABASE_VERSION_UNSPECIFIED
            - MYSQL_5_1
            - MYSQL_5_5
            - MYSQL_5_6
            - MYSQL_5_7
            - POSTGRES_9_6
            - POSTGRES_11
            - SQLSERVER_2017_STANDARD
            - SQLSERVER_2017_ENTERPRISE
            - SQLSERVER_2017_EXPRESS
            - SQLSERVER_2017_WEB
            - POSTGRES_10
            - POSTGRES_12
            - POSTGRES_13
            - SQLSERVER_2019_STANDARD
            - SQLSERVER_2019_ENTERPRISE
            - SQLSERVER_2019_EXPRESS
            - SQLSERVER_2019_WEB
          type: string
        instanceType:
          description: "The instance type. This can be one of the following. *CLOUD_SQL_INSTANCE*: A Cloud SQL instance that is not replicating from a primary instance. *ON_PREMISES_INSTANCE*: An instance running on the customer's premises. *READ_REPLICA_INSTANCE*: A Cloud SQL instance configured as a read-replica."
          enum:
            - SQL_INSTANCE_TYPE_UNSPECIFIED
            - CLOUD_SQL_INSTANCE
            - ON_PREMISES_INSTANCE
            - READ_REPLICA_INSTANCE
          type: string
        instanceUid:
          description: Uid of the Cloud SQL instance. Used by Pantheon to check instance is created
          type: string
        ipAddresses:
          description: The assigned IP addresses for the instance.
          items:
            $ref: "#/components/schemas/IpMapping"
          type: array
        ipv6Address:
          description: The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances.
          type: string
        kind:
          description: This is always *sql#instance*.
          type: string
        masterInstance:
          $ref: "#/components/schemas/InstanceReference"
          description: The reference to the instance which will act as primary in the replication setup.
        masterInstanceName:
          description: The name of the instance which will act as primary in the replication setup.
          type: string
        maxDiskSize:
          description: The maximum disk size of the instance in bytes.
          format: int64
          type: string
        name:
          description: Name of the Cloud SQL instance. This does not include the project ID.
          type: string
        onPremisesConfiguration:
          $ref: "#/components/schemas/OnPremisesConfiguration"
          description: Configuration specific to on-premises instances.
        outOfDiskReport:
          $ref: "#/components/schemas/SqlOutOfDiskReport"
          description: "This field represents the report generated by the proactive database wellness job for OutOfDisk issues. Writers: -- the proactive database wellness job for OOD. Readers: -- the Pantheon frontend -- the proactive database wellness job"
        project:
          description: The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.
          type: string
        region:
          description: The geographical region. Can be *us-central* (*FIRST_GEN* instances only) *us-central1* (*SECOND_GEN* instances only) *asia-east1* or *europe-west1*. Defaults to *us-central* or *us-central1* depending on the instance type. The region cannot be changed after instance creation.
          type: string
        replicaConfiguration:
          $ref: "#/components/schemas/ReplicaConfiguration"
          description: Configuration specific to failover replicas and read replicas.
        replicaInstances:
          description: The replicas of the instance.
          items:
            $ref: "#/components/schemas/InstanceReference"
          type: array
        replicaNames:
          description: The replicas of the instance.
          items:
            type: string
          type: array
        rootPassword:
          description: Initial root password. Use only on creation.
          type: string
        satisfiesPzs:
          description: The status indicating if instance satisfiesPzs. Reserved for future use.
          type: boolean
        scheduledMaintenance:
          $ref: "#/components/schemas/SqlScheduledMaintenance"
          description: The start time of any upcoming scheduled maintenance for this instance.
        secondaryGceZone:
          description: The Compute Engine zone that the failover instance is currently serving from for a regional instance. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary/failover zone. Reserved for future use.
          type: string
        selfLink:
          description: The URI of this resource.
          type: string
        serverCaCert:
          $ref: "#/components/schemas/SslCert"
          description: SSL configuration.
        serviceAccountEmailAddress:
          description: The service account email address assigned to the instance. This property is read-only.
          type: string
        settings:
          $ref: "#/components/schemas/Settings"
          description: The user settings.
        state:
          description: "The current serving state of the Cloud SQL instance. This can be one of the following. *SQL_INSTANCE_STATE_UNSPECIFIED*: The state of the instance is unknown. *RUNNABLE*: The instance is running, or has been stopped by owner. *SUSPENDED*: The instance is not available, for example due to problems with billing. *PENDING_DELETE*: The instance is being deleted. *PENDING_CREATE*: The instance is being created. *MAINTENANCE*: The instance is down for maintenance. *FAILED*: The instance creation failed."
          enum:
            - SQL_INSTANCE_STATE_UNSPECIFIED
            - RUNNABLE
            - SUSPENDED
            - PENDING_DELETE
            - PENDING_CREATE
            - MAINTENANCE
            - FAILED
          type: string
        suspensionReason:
          description: If the instance state is SUSPENDED, the reason for the suspension.
          items:
            enum:
              - SQL_SUSPENSION_REASON_UNSPECIFIED
              - BILLING_ISSUE
              - LEGAL_ISSUE
              - OPERATIONAL_ISSUE
              - KMS_KEY_ISSUE
            type: string
          type: array
      type: object
    DenyMaintenancePeriod:
      description: Deny maintenance Periods. This specifies a date range during when all CSA rollout will be denied.
      properties:
        endDate:
          description: '"deny maintenance period" end date. If the year of the end date is empty, the year of the start date also must be empty. In this case, it means the no maintenance interval recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01'
          type: string
        startDate:
          description: '"deny maintenance period" start date. If the year of the start date is empty, the year of the end date also must be empty. In this case, it means the no maintenance interval recurs every year. The date is in format yyyy-mm-dd i.e., 2020-11-01, or mm-dd, i.e., 11-01'
          type: string
        time:
          description: 'Time in UTC when the "deny maintenance period" starts on start_date and ends on end_date. The time is in format: HH:mm:SS, i.e., 00:00:00'
          type: string
      type: object
    DiskEncryptionConfiguration:
      description: Disk encryption configuration for an instance.
      properties:
        kind:
          description: This is always **sql#diskEncryptionConfiguration**.
          type: string
        kmsKeyName:
          description: Resource name of KMS key for disk encryption
          type: string
      type: object
    DiskEncryptionStatus:
      description: Disk encryption status for an instance.
      properties:
        kind:
          description: This is always **sql#diskEncryptionStatus**.
          type: string
        kmsKeyVersionName:
          description: KMS key version used to encrypt the Cloud SQL instance resource
          type: string
      type: object
    GenerateEphemeralCertRequest:
      description: Ephemeral certificate creation request.
      properties:
        access_token:
          description: Optional. Access token to include in the signed certificate.
          type: string
        public_key:
          description: PEM encoded public key to include in the signed certificate.
          type: string
        readTime:
          description: Optional. Optional snapshot read timestamp to trade freshness for performance.
          format: google-datetime
          type: string
      type: object
    GenerateEphemeralCertResponse:
      description: Ephemeral certificate creation request.
      properties:
        ephemeralCert:
          $ref: "#/components/schemas/SslCert"
          description: Generated cert
      type: object
    InsightsConfig:
      description: Insights configuration. This specifies when Cloud SQL Insights feature is enabled and optional configuration.
      properties:
        queryInsightsEnabled:
          description: Whether Query Insights feature is enabled.
          type: boolean
        queryPlansPerMinute:
          description: Number of query plans generated by Insights per minute. Default is 5. Changing this will restart the database.
          format: int32
          type: integer
        queryStringLength:
          description: "Maximum query length stored in bytes. Default value: 1024 bytes. Range: 256-4500 bytes. Query length more than this field value will be truncated to this value. When unset, query length will be the default value. Changing query length will restart the database."
          format: int32
          type: integer
        recordApplicationTags:
          description: Whether Query Insights will record application tags from query when enabled.
          type: boolean
        recordClientAddress:
          description: Whether Query Insights will record client address when enabled.
          type: boolean
      type: object
    InstanceReference:
      description: Reference to another Cloud SQL instance.
      properties:
        name:
          description: The name of the Cloud SQL instance being referenced.
          type: string
        region:
          description: The region of the Cloud SQL instance being referenced.
          type: string
      type: object
    InstancesListResponse:
      description: Database instances list response.
      properties:
        items:
          description: List of database instance resources.
          items:
            $ref: "#/components/schemas/DatabaseInstance"
          type: array
        kind:
          description: This is always *sql#instancesList*.
          type: string
        nextPageToken:
          description: The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.
          type: string
        warnings:
          description: List of warnings that occurred while handling the request.
          items:
            $ref: "#/components/schemas/ApiWarning"
          type: array
      type: object
    IpConfiguration:
      description: IP Management configuration.
      properties:
        authorizedNetworks:
          description: "The list of external networks that are allowed to connect to the instance using the IP. In 'CIDR' notation, also known as 'slash' notation (for example: **192.168.100.0/24**)."
          items:
            $ref: "#/components/schemas/AclEntry"
          type: array
        ipv4Enabled:
          description: Whether the instance is assigned a public IP address or not.
          type: boolean
        privateNetwork:
          description: The resource link for the VPC network from which the Cloud SQL instance is accessible for private IP. For example, **/projects/myProject/global/networks/default**. This setting can be updated, but it cannot be removed after it is set.
          type: string
        requireSsl:
          description: Whether SSL connections over IP are enforced or not.
          type: boolean
      type: object
    IpMapping:
      description: Database instance IP Mapping.
      properties:
        ipAddress:
          description: The IP address assigned.
          type: string
        timeToRetire:
          description: The due time for this IP to be retired in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**. This field is only available when the IP is scheduled to be retired.
          format: google-datetime
          type: string
        type:
          description: The type of this IP address. A **PRIMARY** address is a public address that can accept incoming connections. A **PRIVATE** address is a private address that can accept incoming connections. An **OUTGOING** address is the source address of connections originating from the instance, if supported.
          enum:
            - SQL_IP_ADDRESS_TYPE_UNSPECIFIED
            - PRIMARY
            - OUTGOING
            - PRIVATE
            - MIGRATED_1ST_GEN
          type: string
      type: object
    LocationPreference:
      description: Preferred location. This specifies where a Cloud SQL instance is located. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.
      properties:
        kind:
          description: This is always **sql#locationPreference**.
          type: string
        secondaryZone:
          description: "The preferred Compute Engine zone for the secondary/failover (for example: us-central1-a, us-central1-b, etc.). Reserved for future use."
          type: string
        zone:
          description: "The preferred Compute Engine zone (for example: us-central1-a, us-central1-b, etc.)."
          type: string
      type: object
    MaintenanceWindow:
      description: Maintenance window. This specifies when a Cloud SQL instance is restarted for system maintenance purposes.
      properties:
        day:
          description: day of week (1-7), starting on Monday.
          format: int32
          type: integer
        hour:
          description: hour of day - 0 to 23.
          format: int32
          type: integer
        kind:
          description: This is always **sql#maintenanceWindow**.
          type: string
        updateTrack:
          description: "Maintenance timing setting: **canary** (Earlier) or **stable** (Later). [Learn more] (https://cloud.google.com/sql/docs/mysql/admin-api/rest/v1/instance-settings#maintenance-timing-2ndgen)."
          enum:
            - SQL_UPDATE_TRACK_UNSPECIFIED
            - canary
            - stable
          type: string
      type: object
    MySqlReplicaConfiguration:
      description: Read-replica configuration specific to MySQL databases.
      properties:
        caCertificate:
          description: PEM representation of the trusted CA's x509 certificate.
          type: string
        clientCertificate:
          description: PEM representation of the replica's x509 certificate.
          type: string
        clientKey:
          description: PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.
          type: string
        connectRetryInterval:
          description: Seconds to wait between connect retries. MySQL's default is 60 seconds.
          format: int32
          type: integer
        dumpFilePath:
          description: Path to a SQL dump file in Google Cloud Storage from which the replica instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps have the binlog co-ordinates from which replication begins. This can be accomplished by setting --master-data to 1 when using mysqldump.
          type: string
        kind:
          description: This is always **sql#mysqlReplicaConfiguration**.
          type: string
        masterHeartbeatPeriod:
          description: Interval in milliseconds between replication heartbeats.
          format: int64
          type: string
        password:
          description: The password for the replication connection.
          type: string
        sslCipher:
          description: A list of permissible ciphers to use for SSL encryption.
          type: string
        username:
          description: The username for the replication connection.
          type: string
        verifyServerCertificate:
          description: Whether or not to check the primary instance's Common Name value in the certificate that it sends during the SSL handshake.
          type: boolean
      type: object
    OnPremisesConfiguration:
      description: On-premises instance configuration.
      properties:
        caCertificate:
          description: PEM representation of the trusted CA's x509 certificate.
          type: string
        clientCertificate:
          description: PEM representation of the replica's x509 certificate.
          type: string
        clientKey:
          description: PEM representation of the replica's private key. The corresponsing public key is encoded in the client's certificate.
          type: string
        dumpFilePath:
          description: The dump file to create the Cloud SQL replica.
          type: string
        hostPort:
          description: The host and port of the on-premises instance in host:port format
          type: string
        kind:
          description: This is always *sql#onPremisesConfiguration*.
          type: string
        password:
          description: The password for connecting to on-premises instance.
          type: string
        username:
          description: The username for connecting to on-premises instance.
          type: string
      type: object
    ReplicaConfiguration:
      description: Read-replica configuration for connecting to the primary instance.
      properties:
        failoverTarget:
          description: Specifies if the replica is the failover target. If the field is set to *true* the replica will be designated as a failover replica. In case the primary instance fails, the replica instance will be promoted as the new primary instance. Only one replica can be specified as failover target, and the replica has to be in different zone with the primary instance.
          type: boolean
        kind:
          description: This is always *sql#replicaConfiguration*.
          type: string
        mysqlReplicaConfiguration:
          $ref: "#/components/schemas/MySqlReplicaConfiguration"
          description: MySQL specific configuration when replicating from a MySQL on-premises primary instance. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata.The configuration information is used only to set up the replication connection and is stored by MySQL in a file named *master.info* in the data directory.
      type: object
    Settings:
      description: Database instance settings.
      properties:
        activationPolicy:
          description: "The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. Valid values: **ALWAYS**: The instance is on, and remains so even in the absence of connection requests. **NEVER**: The instance is off; it is not activated, even if a connection request arrives."
          enum:
            - SQL_ACTIVATION_POLICY_UNSPECIFIED
            - ALWAYS
            - NEVER
            - ON_DEMAND
          type: string
        activeDirectoryConfig:
          $ref: "#/components/schemas/SqlActiveDirectoryConfig"
          description: Active Directory configuration, relevant only for Cloud SQL for SQL Server.
        availabilityType:
          description: "Availability type. Potential values: **ZONAL**: The instance serves data from only one zone. Outages in that zone affect data accessibility. **REGIONAL**: The instance can serve data from more than one zone in a region (it is highly available). For more information, see [Overview of the High Availability Configuration](/sql/docs/postgres/high-availability)."
          enum:
            - SQL_AVAILABILITY_TYPE_UNSPECIFIED
            - ZONAL
            - REGIONAL
          type: string
        backupConfiguration:
          $ref: "#/components/schemas/BackupConfiguration"
          description: The daily backup configuration for the instance.
        collation:
          description: The name of server Instance collation.
          type: string
        crashSafeReplicationEnabled:
          description: Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property was only applicable to First Generation instances.
          type: boolean
        dataDiskSizeGb:
          description: The size of data disk, in GB. The data disk size minimum is 10GB.
          format: int64
          type: string
        dataDiskType:
          description: "The type of data disk: **PD_SSD** (default) or **PD_HDD**."
          enum:
            - SQL_DATA_DISK_TYPE_UNSPECIFIED
            - PD_SSD
            - PD_HDD
            - OBSOLETE_LOCAL_SSD
          type: string
        databaseFlags:
          description: The database flags passed to the instance at startup.
          items:
            $ref: "#/components/schemas/DatabaseFlags"
          type: array
        databaseReplicationEnabled:
          description: Configuration specific to read replica instances. Indicates whether replication is enabled or not.
          type: boolean
        denyMaintenancePeriods:
          description: Deny maintenance periods
          items:
            $ref: "#/components/schemas/DenyMaintenancePeriod"
          type: array
        insightsConfig:
          $ref: "#/components/schemas/InsightsConfig"
          description: Insights configuration, for now relevant only for Postgres.
        ipConfiguration:
          $ref: "#/components/schemas/IpConfiguration"
          description: The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.
        kind:
          description: This is always **sql#settings**.
          type: string
        locationPreference:
          $ref: "#/components/schemas/LocationPreference"
          description: The location preference settings. This allows the instance to be located as near as possible to Compute Engine zone for better performance.
        maintenanceWindow:
          $ref: "#/components/schemas/MaintenanceWindow"
          description: The maintenance window for this instance. This specifies when the instance can be restarted for maintenance purposes.
        pricingPlan:
          description: The pricing plan for this instance. This can be either **PER_USE** or **PACKAGE**. Only **PER_USE** is supported for Second Generation instances.
          enum:
            - SQL_PRICING_PLAN_UNSPECIFIED
            - PACKAGE
            - PER_USE
          type: string
        replicationType:
          description: The type of replication this instance uses. This can be either **ASYNCHRONOUS** or **SYNCHRONOUS**. (Deprecated) This property was only applicable to First Generation instances.
          enum:
            - SQL_REPLICATION_TYPE_UNSPECIFIED
            - SYNCHRONOUS
            - ASYNCHRONOUS
          type: string
        settingsVersion:
          description: The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.
          format: int64
          type: string
        storageAutoResize:
          description: Configuration to increase storage size automatically. The default value is true.
          type: boolean
        storageAutoResizeLimit:
          description: The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit.
          format: int64
          type: string
        tier:
          description: The tier (or machine type) for this instance, for example **db-custom-1-3840**.
          type: string
        userLabels:
          additionalProperties:
            type: string
          description: User-provided labels, represented as a dictionary where each label is a single key value pair.
          type: object
      type: object
    SqlActiveDirectoryConfig:
      description: Active Directory configuration, relevant only for Cloud SQL for SQL Server.
      properties:
        domain:
          description: The name of the domain (e.g., mydomain.com).
          type: string
        kind:
          description: This is always sql#activeDirectoryConfig.
          type: string
      type: object
    SqlOutOfDiskReport:
      description: This message wraps up the information written by out-of-disk detection job.
      properties:
        sqlMinRecommendedIncreaseSizeGb:
          description: "The minimum recommended increase size in GigaBytes This field is consumed by the frontend Writers: -- the proactive database wellness job for OOD. Readers: -- the Pantheon frontend"
          format: int32
          type: integer
        sqlOutOfDiskState:
          description: "This field represents the state generated by the proactive database wellness job for OutOfDisk issues. Writers: -- the proactive database wellness job for OOD. Readers: -- the Pantheon frontend -- the proactive database wellness job"
          enum:
            - SQL_OUT_OF_DISK_STATE_UNSPECIFIED
            - NORMAL
            - SOFT_SHUTDOWN
          type: string
      type: object
    SqlScheduledMaintenance:
      description: Any scheduled maintenancce for this instance.
      properties:
        canDefer:
          type: boolean
        canReschedule:
          description: If the scheduled maintenance can be rescheduled.
          type: boolean
        scheduleDeadlineTime:
          description: Maintenance cannot be rescheduled to start beyond this deadline.
          format: google-datetime
          type: string
        startTime:
          description: The start time of any upcoming scheduled maintenance for this instance.
          format: google-datetime
          type: string
      type: object
    SslCert:
      description: SslCerts Resource
      properties:
        cert:
          description: PEM representation.
          type: string
        certSerialNumber:
          description: Serial number, as extracted from the certificate.
          type: string
        commonName:
          description: User supplied name. Constrained to [a-zA-Z.-_ ]+.
          type: string
        createTime:
          description: The time when the certificate was created in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**
          format: google-datetime
          type: string
        expirationTime:
          description: The time when the certificate expires in [RFC 3339](https://tools.ietf.org/html/rfc3339) format, for example **2012-11-15T16:19:00.094Z**.
          format: google-datetime
          type: string
        instance:
          description: Name of the database instance.
          type: string
        kind:
          description: This is always sql#sslCert.
          type: string
        sha1Fingerprint:
          description: Sha1 Fingerprint.
          type: string
      type: object
    SslCertsCreateEphemeralRequest:
      description: SslCerts create ephemeral certificate request.
      properties:
        access_token:
          description: Access token to include in the signed certificate.
          type: string
        public_key:
          description: PEM encoded public key to include in the signed certificate.
          type: string
      type: object
  securitySchemes:
    Oauth2:
      description: Oauth 2.0 implicit authentication
      flows:
        implicit:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud Platform data
            https://www.googleapis.com/auth/sqlservice.admin: Manage your Google SQL Service instances
      type: oauth2
    Oauth2c:
      description: Oauth 2.0 authorizationCode authentication
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/auth
          scopes:
            https://www.googleapis.com/auth/cloud-platform: See, edit, configure, and delete your Google Cloud Platform data
            https://www.googleapis.com/auth/sqlservice.admin: Manage your Google SQL Service instances
          tokenUrl: https://accounts.google.com/o/oauth2/token
      type: oauth2
