swagger: "2.0"
schemes:
  - https
host: keyserv.solutions
info:
  contact:
    x-twitter: theTechComp
  description: KeyServ API
  title: KeyServ
  version: 1.2.5
  x-apisguru-categories:
    - iot
  x-logo:
    url: https://twitter.com/theTechComp/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://keyserv.solutions/v1/s2.json
      version: "2.0"
  x-providerName: keyserv.solutions
consumes:
  - application/json
produces:
  - application/json
paths:
  "/v1/KeysApi/Current/{serial}":
    get:
      operationId: KeysApi_Current
      parameters:
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CurrentKey"
          x-nullable: true
      tags:
        - KeysApi
  "/v1/KeysApi/Custom/{serial}":
    get:
      operationId: KeysApi_Custom
      parameters:
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
      responses:
        "200":
          description: ""
          schema:
            type: file
          x-nullable: true
      tags:
        - KeysApi
  "/v1/KeysApi/Expiry/{serial}":
    get:
      operationId: KeysApi_Expiry
      parameters:
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/Expiry"
          x-nullable: true
      tags:
        - KeysApi
  "/v1/KeysApi/Find/{serial}":
    get:
      operationId: KeysApi_Find
      parameters:
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/KeyView"
          x-nullable: true
      tags:
        - KeysApi
  /v1/ProductsApi:
    patch:
      operationId: ProductsApi_PatchProduct
      parameters:
        - in: body
          name: productJson
          required: true
          schema:
            $ref: "#/definitions/ProductCreateModify"
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - ProductsApi
    post:
      operationId: ProductsApi_PatchProduct2
      parameters:
        - in: body
          name: productJson
          required: true
          schema:
            $ref: "#/definitions/ProductCreateModify"
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - ProductsApi
  /v1/ProductsApi/Count:
    post:
      operationId: ProductsApi_Count
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/ApiKey"
          x-nullable: true
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CountOf"
          x-nullable: true
      tags:
        - ProductsApi
  /v1/ProductsApi/Find:
    post:
      operationId: ProductsApi_Find
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/FindCredentials"
          x-nullable: true
        - format: int32
          in: query
          name: page
          required: true
          type: integer
          x-nullable: true
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/ProductView"
          x-nullable: true
      tags:
        - ProductsApi
  /v1/ProductsApi/List:
    post:
      operationId: ProductsApi_List
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/ApiKey"
          x-nullable: true
        - format: int32
          in: query
          name: page
          required: true
          type: integer
          x-nullable: true
      responses:
        "200":
          description: ""
          schema:
            items:
              $ref: "#/definitions/ProductView"
            type: array
          x-nullable: true
      tags:
        - ProductsApi
  /v1/ProductsApi/Save:
    post:
      operationId: ProductsApi_Save
      parameters:
        - in: body
          name: productJson
          required: true
          schema:
            $ref: "#/definitions/ProductCreateModify"
          x-nullable: true
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/ProductView"
          x-nullable: true
      tags:
        - ProductsApi
  "/v1/ProductsApi/{serial}":
    delete:
      operationId: ProductsApi_DeleteProduct
      parameters:
        - format: guid
          in: header
          name: X-Api-Key
          required: true
          type: string
          x-nullable: false
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
      responses:
        "204":
          description: ""
      tags:
        - ProductsApi
    post:
      operationId: ProductsApi_DeleteProduct2
      parameters:
        - format: guid
          in: header
          name: X-Api-Key
          required: true
          type: string
          x-nullable: false
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
      responses:
        "204":
          description: ""
      tags:
        - ProductsApi
  /v1/SubscriptionsApi:
    post:
      operationId: SubscriptionsApi_PutSubscription2
      parameters:
        - in: body
          name: subscriptionJson
          required: true
          schema:
            $ref: "#/definitions/SubscriptionCreateModify"
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - SubscriptionsApi
    put:
      operationId: SubscriptionsApi_PutSubscription
      parameters:
        - in: body
          name: subscriptionJson
          required: true
          schema:
            $ref: "#/definitions/SubscriptionCreateModify"
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - SubscriptionsApi
  /v1/SubscriptionsApi/Count:
    post:
      operationId: SubscriptionsApi_Count
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/ApiCredentials"
          x-nullable: true
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/CountOf"
          x-nullable: true
      tags:
        - SubscriptionsApi
  /v1/SubscriptionsApi/Disable:
    patch:
      operationId: SubscriptionsApi_Disable
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/FindCredentials"
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - SubscriptionsApi
    post:
      operationId: SubscriptionsApi_Disable2
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/FindCredentials"
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - SubscriptionsApi
  /v1/SubscriptionsApi/Enable:
    patch:
      operationId: SubscriptionsApi_Enable
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/FindCredentials"
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - SubscriptionsApi
    post:
      operationId: SubscriptionsApi_Enable2
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/FindCredentials"
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - SubscriptionsApi
  /v1/SubscriptionsApi/Find:
    post:
      operationId: SubscriptionsApi_Find
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/FindCredentials"
          x-nullable: true
      responses:
        "200":
          description: ""
          schema:
            $ref: "#/definitions/SubscriptionView"
          x-nullable: true
      tags:
        - SubscriptionsApi
  /v1/SubscriptionsApi/List:
    post:
      operationId: SubscriptionsApi_List
      parameters:
        - in: body
          name: apiCreds
          required: true
          schema:
            $ref: "#/definitions/FindCredentials"
          x-nullable: true
        - format: int32
          in: query
          name: page
          required: true
          type: integer
          x-nullable: true
      responses:
        "200":
          description: ""
          schema:
            items:
              $ref: "#/definitions/SubscriptionView"
            type: array
          x-nullable: true
      tags:
        - SubscriptionsApi
  /v1/SubscriptionsApi/Save:
    post:
      operationId: SubscriptionsApi_Save
      parameters:
        - in: body
          name: subscriptionJson
          required: true
          schema:
            $ref: "#/definitions/SubscriptionCreateModify"
          x-nullable: true
      responses:
        "201":
          description: ""
          schema:
            $ref: "#/definitions/KeyView"
          x-nullable: true
      tags:
        - SubscriptionsApi
  "/v1/SubscriptionsApi/{serial}":
    delete:
      operationId: SubscriptionsApi_DeleteSubscription
      parameters:
        - format: guid
          in: header
          name: X-Api-Key
          required: true
          type: string
          x-nullable: false
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
        - in: query
          name: keep
          required: true
          type: boolean
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - SubscriptionsApi
    post:
      operationId: SubscriptionsApi_DeleteSubscription2
      parameters:
        - format: guid
          in: header
          name: X-Api-Key
          required: true
          type: string
          x-nullable: false
        - format: guid
          in: path
          name: serial
          required: true
          type: string
          x-nullable: false
        - in: query
          name: keep
          required: true
          type: boolean
          x-nullable: true
      responses:
        "204":
          description: ""
      tags:
        - SubscriptionsApi
definitions:
  ApiCredentials:
    properties:
      key:
        format: guid
        type: string
      serial:
        format: guid
        type: string
    required:
      - key
    type: object
  ApiKey:
    properties:
      key:
        format: guid
        type: string
    required:
      - key
    type: object
  CountOf:
    properties:
      count:
        format: int32
        type: integer
    required:
      - count
    type: object
  CurrentKey:
    properties:
      current:
        type: boolean
    required:
      - current
    type: object
  Expiry:
    properties:
      expires:
        format: date-time
        type: string
      time:
        format: time-span
        type: string
    required:
      - expires
      - time
    type: object
  FindCredentials:
    properties:
      key:
        format: guid
        type: string
      serial:
        format: guid
        type: string
    required:
      - key
      - serial
    type: object
  KeyView:
    properties:
      action:
        minLength: 1
        type: string
      callbackOnModify:
        title: Callback On Modified
        type: boolean
      callbackUrl:
        format: uri
        maxLength: 800
        minLength: 0
        title: Callback Url
        type: string
      commenced:
        format: date-time
        minLength: 1
        title: Start From
        type: string
      created:
        format: date-time
        type: string
      current:
        type: boolean
      custom: {}
      frequency:
        minLength: 1
        type: string
      name:
        maxLength: 80
        minLength: 0
        type: string
      serial:
        format: guid
        type: string
      updated:
        format: date-time
        type: string
    required:
      - serial
      - current
      - commenced
      - callbackOnModify
      - created
      - frequency
      - action
    type: object
  ProductCreateModify:
    properties:
      custom: {}
      key:
        format: guid
        type: string
      name:
        type: string
      serial:
        format: guid
        type: string
    required:
      - key
    type: object
  ProductView:
    properties:
      created:
        format: date-time
        type: string
      custom: {}
      name:
        maxLength: 80
        minLength: 0
        type: string
      serial:
        format: guid
        type: string
      subscriptions:
        items:
          $ref: "#/definitions/SubscriptionView"
        type: array
      updated:
        format: date-time
        type: string
    required:
      - serial
      - created
    type: object
  SubscriptionCreateModify:
    properties:
      action:
        minLength: 1
        type: string
      callbackOnModify:
        type: boolean
      callbackUrl:
        format: uri
        maxLength: 800
        minLength: 0
        title: Callback Url
        type: string
      custom: {}
      frequency:
        minLength: 1
        type: string
      key:
        format: guid
        type: string
      name:
        maxLength: 80
        minLength: 0
        type: string
      serial:
        format: guid
        type: string
      startFrom:
        type: string
    required:
      - frequency
      - action
      - key
      - serial
    type: object
  SubscriptionView:
    properties:
      action:
        minLength: 1
        type: string
      callbackOnModify:
        title: Callback On Modified
        type: boolean
      callbackUrl:
        format: uri
        maxLength: 800
        minLength: 0
        title: Callback Url
        type: string
      commenced:
        format: date-time
        minLength: 1
        title: Start From
        type: string
      created:
        format: date-time
        type: string
      custom: {}
      frequency:
        minLength: 1
        type: string
      keys:
        items:
          $ref: "#/definitions/KeyView"
        type: array
      name:
        maxLength: 80
        minLength: 0
        type: string
      updated:
        format: date-time
        type: string
    required:
      - commenced
      - callbackOnModify
      - created
      - frequency
      - action
    type: object
x-generator: NSwag v13.0.6.0 (NJsonSchema v10.0.23.0 (Newtonsoft.Json v11.0.0.0))
