openapi: 3.0.0
servers:
  - url: https://mybusiness.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: The Google My Business API provides an interface for managing business location information on Google.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google My Business API
  version: v4
  x-apisguru-categories:
    - analytics
    - media
    - location
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://developers.google.com/my-business/samples/mybusiness_google_rest_v4p9.json
      version: v1
  x-providerName: googleapis.com
  x-serviceName: my-business
externalDocs:
  url: https://developers.google.com/my-business/
tags:
  - name: accounts
  - name: attributes
  - name: categories
  - name: chains
  - name: googleLocations
paths:
  /v4/accounts:
    get:
      description: Lists all of the accounts for the authenticated user. This includes all accounts that the user owns, as well as any accounts for which the user has management rights.
      operationId: mybusiness.accounts.list
      parameters:
        - description: A filter constraining the accounts to return. The response includes only entries that match the filter. If `filter` is empty, then no constraints are applied and all accounts (paginated) are retrieved for the requested account. For example, a request with the filter `type=USER_GROUP` will only return user groups.
          in: query
          name: filter
          schema:
            type: string
        - description: The resource name of the account for which the list of directly accessible accounts is to be retrieved. This only makes sense for Organizations and User Groups. If empty, will return `ListAccounts` for the authenticated user.
          in: query
          name: name
          schema:
            type: string
        - description: How many accounts to fetch per page. Default is 20, minimum is 2, and maximum page size is 20.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, the next page of accounts is retrieved. The `pageToken` is returned when a call to `accounts.list` returns more results than can fit into the requested page size.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccountsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates an account with the specified name and type under the given parent. - Personal accounts and Organizations cannot be created. - User Groups cannot be created with a Personal account as primary owner. - Location Groups cannot be created with a primary owner of a Personal account if the Personal account is in an Organization. - Location Groups cannot own Location Groups. "
      operationId: mybusiness.accounts.create
      parameters:
        - description: The resource name of the account which will be the primary owner of the account being created. It should be of the form `accounts/{account_id}/`.
          in: query
          name: primaryOwner
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Account"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      tags:
        - accounts
  /v4/attributes:
    get:
      description: Returns the list of available attributes that would be available for a location with the given primary category and country.
      operationId: mybusiness.attributes.list
      parameters:
        - description: The primary category stable ID to find available attributes.
          in: query
          name: categoryId
          schema:
            type: string
        - description: The ISO 3166-1 alpha-2 country code to find available attributes.
          in: query
          name: country
          schema:
            type: string
        - description: The BCP 47 code of language to get attribute display names in. If this language is not available, they will be provided in English.
          in: query
          name: languageCode
          schema:
            type: string
        - description: Resource name of the location to look up available attributes.
          in: query
          name: name
          schema:
            type: string
        - description: How many attributes to include per page. Default is 200, minimum is 1.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, the next page of attribute metadata is retrieved. The `pageToken` is returned when a call to `attributes.list` returns more results than can fit into the requested page size.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAttributeMetadataResponse"
          description: Successful response
      tags:
        - attributes
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v4/categories:
    get:
      description: Returns a list of business categories. Search will match the category name but not the category ID. *Note:* Search only matches the front of a category name (that is, 'food' may return 'Food Court' but not 'Fast Food Restaurant').
      operationId: mybusiness.categories.list
      parameters:
        - description: The BCP 47 code of language. If the language is not available, it will default to English.
          in: query
          name: languageCode
          schema:
            type: string
        - description: How many categories to fetch per page. Default is 100, minimum is 1, and maximum page size is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, the next page of categories will be fetched.
          in: query
          name: pageToken
          schema:
            type: string
        - description: The ISO 3166-1 alpha-2 country code.
          in: query
          name: regionCode
          schema:
            type: string
        - description: Optional filter string from user.
          in: query
          name: searchTerm
          schema:
            type: string
        - description: Optional. Specifies which parts to the Category resource should be returned in the response.
          in: query
          name: view
          schema:
            enum:
              - CATEGORY_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBusinessCategoriesResponse"
          description: Successful response
      tags:
        - categories
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v4/categories:batchGet:
    get:
      description: Returns a list of business categories for the provided language and GConcept ids.
      operationId: mybusiness.categories.batchGet
      parameters:
        - description: Required. At least one name must be set. The GConcept ids the localized category names should be returned for.
          explode: true
          in: query
          name: categoryIds
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Required. The BCP 47 code of language that the category names should be returned in.
          in: query
          name: languageCode
          schema:
            type: string
        - description: Optional. The ISO 3166-1 alpha-2 country code used to infer non-standard language.
          in: query
          name: regionCode
          schema:
            type: string
        - description: Required. Specifies which parts to the Category resource should be returned in the response.
          in: query
          name: view
          schema:
            enum:
              - CATEGORY_VIEW_UNSPECIFIED
              - BASIC
              - FULL
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchGetBusinessCategoriesResponse"
          description: Successful response
      tags:
        - categories
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v4/chains:search:
    get:
      description: Searches the chain based on chain name.
      operationId: mybusiness.chains.search
      parameters:
        - description: 'Search for a chain by its name. Exact/partial/fuzzy/related queries are supported. Examples: "walmart", "wal-mart", "walmmmart", "沃尔玛"'
          in: query
          name: chainDisplayName
          schema:
            type: string
        - description: The maximum number of matched chains to return from this query. The default is 10. The maximum possible value is 500.
          in: query
          name: resultCount
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchChainsResponse"
          description: Successful response
      tags:
        - chains
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v4/googleLocations:search:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Search all of the possible locations that are a match to the specified request.
      operationId: mybusiness.googleLocations.search
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchGoogleLocationsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchGoogleLocationsResponse"
          description: Successful response
      tags:
        - googleLocations
  "/v4/{name}":
    delete:
      description: Deletes a specific question written by the current user.
      operationId: mybusiness.accounts.locations.questions.delete
      parameters:
        - description: The name of the question to delete.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - accounts
    get:
      description: Gets the specified chain. Returns `NOT_FOUND` if the chain does not exist.
      operationId: mybusiness.chains.get
      parameters:
        - description: The chain's resource name, in the format `chains/{chain_place_id}`.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Chain"
          description: Successful response
      tags:
        - chains
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a specific question written by the current user.
      operationId: mybusiness.accounts.locations.questions.patch
      parameters:
        - description: The name of the question to update.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The specific fields to update. If no mask is specified, then this is treated as a full update and all editable fields are set to the values passed in.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Question"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Question"
          description: Successful response
      tags:
        - accounts
    put:
      description: "Sets the pubsub notification settings for the account informing Business Profile which topic to send pubsub notifications for: - New reviews for locations administered by the account. - Updated reviews for locations administered by the account. - New `GoogleUpdates` for locations administered by the account. An account will only have one notification settings resource, and only one pubsub topic can be set."
      operationId: mybusiness.accounts.updateNotifications
      parameters:
        - description: The notification settings resource name.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Notifications"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Notifications"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}/localPosts:reportInsights":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns insights for a set of local posts associated with a single listing. Which metrics and how they are reported are options specified in the request proto. *Note:* Insight reports are limited to 100 `local_post_names` per call.
      operationId: mybusiness.accounts.locations.localPosts.reportInsights
      parameters:
        - description: Required. The name of the location for which to fetch insights.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportLocalPostInsightsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportLocalPostInsightsResponse"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}/locations:batchGet":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Gets all of the specified locations in the given account.
      operationId: mybusiness.accounts.locations.batchGet
      parameters:
        - description: The name of the account from which to fetch locations.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchGetLocationsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchGetLocationsResponse"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}/locations:batchGetReviews":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns the paginated list of reviews for all specified locations. This operation is only valid if the specified locations are verified. *Note:* Reviews are limited to a batch size of 200 `location_names` per call.
      operationId: mybusiness.accounts.locations.batchGetReviews
      parameters:
        - description: The name of the account from which to retrieve a list of reviews across multiple locations.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchGetReviewsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BatchGetReviewsResponse"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}/locations:reportInsights":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Returns a report containing insights on one or more metrics by location. *Note:* Insight reports are limited to a batch size of 10 `location_names` per call.
      operationId: mybusiness.accounts.locations.reportInsights
      parameters:
        - description: The account resource name.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportLocationInsightsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReportLocationInsightsResponse"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}/reply":
    delete:
      description: Deletes the response to the specified review. This operation is only valid if the specified location is verified.
      operationId: mybusiness.accounts.locations.reviews.deleteReply
      parameters:
        - description: The name of the review reply to delete.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates the reply to the specified review. A reply is created if one does not exist. This operation is only valid if the specified location is verified.
      operationId: mybusiness.accounts.locations.reviews.updateReply
      parameters:
        - description: The name of the review to respond to.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewReply"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewReply"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:accept":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Accepts the specified invitation.
      operationId: mybusiness.accounts.invitations.accept
      parameters:
        - description: The name of the invitation that is being accepted.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AcceptInvitationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:associate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Associates a location to a place ID. Any previous association is overwritten. This operation is only valid if the location is unverified. The association must be valid, that is, it appears in the list of `FindMatchingLocations`.
      operationId: mybusiness.accounts.locations.associate
      parameters:
        - description: The resource name of the location to associate.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AssociateLocationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:clearAssociation":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Clears an association between a location and its place ID. This operation is only valid if the location is unverified.
      operationId: mybusiness.accounts.locations.clearAssociation
      parameters:
        - description: The resource name of the location to disassociate.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ClearLocationAssociationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:complete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Completes a `PENDING` verification. It is only necessary for non `AUTO` verification methods. `AUTO` verification request is instantly `VERIFIED` upon creation.
      operationId: mybusiness.accounts.locations.verifications.complete
      parameters:
        - description: Resource name of the verification to complete.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteVerificationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteVerificationResponse"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:decline":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Declines the specified invitation.
      operationId: mybusiness.accounts.invitations.decline
      parameters:
        - description: The name of the account invitation that is being declined.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DeclineInvitationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:fetchVerificationOptions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Reports all eligible verification options for a location in a specific language.
      operationId: mybusiness.accounts.locations.fetchVerificationOptions
      parameters:
        - description: Resource name of the location to verify.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchVerificationOptionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchVerificationOptionsResponse"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:findMatches":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Finds all of the possible locations that are a match to the specified location. This operation is only valid if the location is unverified.
      operationId: mybusiness.accounts.locations.findMatches
      parameters:
        - description: The resource name of the location to find matches for.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FindMatchingLocationsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FindMatchingLocationsResponse"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:generateAccountNumber":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates an account number for this account. The account number is not provisioned when an account is created. Use this request to create an account number when it is required.
      operationId: mybusiness.accounts.generateAccountNumber
      parameters:
        - description: The name of the account to generate an account number for.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GenerateAccountNumberRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:getGoogleUpdated":
    get:
      description: Returns the Google updated Lodging of a specific location.
      operationId: mybusiness.accounts.locations.lodging.getGoogleUpdated
      parameters:
        - description: "Required. Google identifier for this location in the form: `accounts/{account_id}/locations/{location_id}/lodging`"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. The specific fields to return. If no mask is specified, then it returns the full Lodging (same as "*"). Repeated field items cannot be individually specified.
          in: query
          name: readMask
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetGoogleUpdatedLodgingResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v4/{name}:googleUpdated":
    get:
      description: Gets the Google-updated version of the specified location. Returns `NOT_FOUND` if the location does not exist.
      operationId: mybusiness.accounts.locations.getGoogleUpdated
      parameters:
        - description: The name of the location to fetch.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleUpdatedLocation"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v4/{name}:recommendGoogleLocations":
    get:
      description: List all the GoogleLocations that have been recommended to the specified Business Profile account. Recommendations are provided for personal accounts and location groups only, requests for all other account types will result in an error. The recommendations for location groups are based on the locations in that group. The recommendations for personal accounts are based on all of the locations that the user has access to on Business Profile (which includes locations they can access through location groups), and is a superset of all recommendations generated for the user.
      operationId: mybusiness.accounts.listRecommendGoogleLocations
      parameters:
        - description: Name of the account resource to fetch recommended Google locations for.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: How many locations to fetch per page. Default is 25, minimum is 1, and maximum page size is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, the next page of locations is retrieved.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRecommendedGoogleLocationsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v4/{name}:report":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Report a GoogleLocation.
      operationId: mybusiness.googleLocations.report
      parameters:
        - description: Resource name of a [GoogleLocation], in the format `googleLocations/{googleLocationId}`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReportGoogleLocationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - googleLocations
  "/v4/{name}:transfer":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Moves a location from an account that the user owns to another account that the same user administers. The user must be an owner of the account the location is currently associated with and must also be at least a manager of the destination account. Returns the Location with its new resource name.
      operationId: mybusiness.accounts.locations.transfer
      parameters:
        - description: The name of the location to transfer.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferLocationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Successful response
      tags:
        - accounts
  "/v4/{name}:verify":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts the verification process for a location.
      operationId: mybusiness.accounts.locations.verify
      parameters:
        - description: Resource name of the location to verify.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VerifyLocationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyLocationResponse"
          description: Successful response
      tags:
        - accounts
  "/v4/{parent}/admins":
    get:
      description: Lists all of the admins for the specified location.
      operationId: mybusiness.accounts.locations.admins.list
      parameters:
        - description: The name of the location to list admins of.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationAdminsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Invites the specified user to become an administrator for the specified location. The invitee must accept the invitation in order to be granted access to the location. See AcceptInvitation to programmatically accept an invitation.
      operationId: mybusiness.accounts.locations.admins.create
      parameters:
        - description: The resource name of the location this admin is created for.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Admin"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Admin"
          description: Successful response
      tags:
        - accounts
  "/v4/{parent}/answers":
    get:
      description: Returns the paginated list of answers for a specified question.
      operationId: mybusiness.accounts.locations.questions.answers.list
      parameters:
        - description: The name of the question to fetch answers for.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The order to return the answers. Valid options include 'update_time desc' and 'upvote_count desc', which will return the answers sorted descendingly by the requested field. The default sort order is 'update_time desc'.
          in: query
          name: orderBy
          schema:
            type: string
        - description: How many answers to fetch per page. The default and maximum `page_size` values are 10.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, the next page of answers is retrieved.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAnswersResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v4/{parent}/answers:delete":
    delete:
      description: Deletes the answer written by the current user to a question.
      operationId: mybusiness.accounts.locations.questions.answers.delete
      parameters:
        - description: The name of the question to delete an answer for.
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v4/{parent}/answers:upsert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates an answer or updates the existing answer written by the user for the specified question. A user can only create one answer per question.
      operationId: mybusiness.accounts.locations.questions.answers.upsert
      parameters:
        - description: The name of the question to write an answer for.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpsertAnswerRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Answer"
          description: Successful response
      tags:
        - accounts
  "/v4/{parent}/insuranceNetworks":
    get:
      description: Returns a list of all insurance networks supported by Google.
      operationId: mybusiness.accounts.locations.insuranceNetworks.list
      parameters:
        - description: "Required. The name of the location whose insurance networks will be listed. The name is in the form: accounts/{account_id}/locations/{location_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The BCP 47 code for the language. If a language code is not provided, it defaults to English. Right now only 'en' is supported.
          in: query
          name: languageCode
          schema:
            type: string
        - description: How many insurance networks to return per page. The default value is 5000. Maximum page size is 10000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, returns the next page of insurance networks.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInsuranceNetworksResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v4/{parent}/invitations":
    get:
      description: Lists pending invitations for the specified account.
      operationId: mybusiness.accounts.invitations.list
      parameters:
        - description: The name of the account from which the list of invitations is being retrieved.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Specifies which target types should appear in the response.
          in: query
          name: targetType
          schema:
            enum:
              - ALL
              - ACCOUNTS_ONLY
              - LOCATIONS_ONLY
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInvitationsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v4/{parent}/localPosts":
    get:
      description: Returns a list of local posts associated with a location.
      operationId: mybusiness.accounts.locations.localPosts.list
      parameters:
        - description: The name of the location whose local posts will be listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: How many local posts to return per page. Default of 20. The minimum is 1, and maximum page size is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, returns the next page of local posts.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocalPostsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new local post associated with the specified location, and returns it.
      operationId: mybusiness.accounts.locations.localPosts.create
      parameters:
        - description: The name of the location in which to create this local post.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocalPost"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocalPost"
          description: Successful response
      tags:
        - accounts
  "/v4/{parent}/locations":
    get:
      description: Lists the locations for the specified account.
      operationId: mybusiness.accounts.locations.list
      parameters:
        - description: The name of the account to fetch locations from. If the Account is of AccountType PERSONAL, only Locations that are directly owned by the Account are returned, otherwise it will return all accessible locations from the Account, either directly or indirectly.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A filter constraining the locations to return. The response includes only entries that match the filter. If `filter` is empty, then constraints are applied and all locations (paginated) are retrieved for the requested account. For more information about valid fields and example usage, see [Work with Location Data Guide](https://developers.google.com/my-business/content/location-data#filter_results_when_you_list_locations).
          in: query
          name: filter
          schema:
            type: string
        - description: The BCP 47 code of language to get display location properties in. If this language is not available, they will be provided in the language of the location. If neither is available, they will be provided in English. Deprecated. After August 15th, 2020, this field will no longer be applied. Instead, the language of the location will always be used.
          in: query
          name: languageCode
          schema:
            type: string
        - description: 'Sorting order for the request. Multiple fields should be comma-separated, following SQL syntax. The default sorting order is ascending. To specify descending order, a suffix " desc" should be added. Valid fields to order_by are location_name and store_code. For example: "location_name, store_code desc" or "location_name" or "store_code desc"'
          in: query
          name: orderBy
          schema:
            type: string
        - description: How many locations to fetch per page. Default is 100, minimum is 1, and maximum page size is 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, it fetches the next `page` of locations. The page token is returned by previous calls to `ListLocations` when there were more locations than could fit in the requested page size.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new location owned by the specified account, and returns it.
      operationId: mybusiness.accounts.locations.create
      parameters:
        - description: The name of the account in which to create this location.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A unique request ID for the server to detect duplicated requests. We recommend using UUIDs. Max length is 50 characters.
          in: query
          name: requestId
          schema:
            type: string
        - description: If true, the request is validated without actually creating the location.
          in: query
          name: validateOnly
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Location"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Location"
          description: Successful response
      tags:
        - accounts
  "/v4/{parent}/media":
    get:
      description: Returns a list of media items associated with a location.
      operationId: mybusiness.accounts.locations.media.list
      parameters:
        - description: The name of the location whose media items will be listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: How many media items to return per page. The default value is 100, which is also the maximum supported number of media items able to be added to a location with the Google My Business API. Maximum page size is 2500.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, returns the next page of media items.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMediaItemsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new media item for the location.
      operationId: mybusiness.accounts.locations.media.create
      parameters:
        - description: The resource name of the location where this media item will be created.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MediaItem"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaItem"
          description: Successful response
      tags:
        - accounts
  "/v4/{parent}/media/customers":
    get:
      description: Returns a list of media items associated with a location that have been contributed by customers.
      operationId: mybusiness.accounts.locations.media.customers.list
      parameters:
        - description: The name of the location whose customer media items will be listed.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: How many media items to return per page. The default value is 100, the maximum supported page size is 200.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, returns the next page of media items.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCustomerMediaItemsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v4/{parent}/media:startUpload":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Generates a `MediaItemDataRef` for media item uploading.
      operationId: mybusiness.accounts.locations.media.startUpload
      parameters:
        - description: The resource name of the location this media item is to be added to.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StartUploadMediaItemDataRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MediaItemDataRef"
          description: Successful response
      tags:
        - accounts
  "/v4/{parent}/questions":
    get:
      description: Returns the paginated list of questions and some of its answers for a specified location.
      operationId: mybusiness.accounts.locations.questions.list
      parameters:
        - description: The name of the location to fetch questions for.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: How many answers to fetch per question. The default and maximum `answers_per_question` values are 10.
          in: query
          name: answersPerQuestion
          schema:
            type: integer
        - description: A filter constraining the questions to return. The only filter currently supported is "ignore_answered=true"
          in: query
          name: filter
          schema:
            type: string
        - description: The order to return the questions. Valid options include 'update_time desc' and 'upvote_count desc', which will return the questions sorted descendingly by the requested field. The default sort order is 'update_time desc'.
          in: query
          name: orderBy
          schema:
            type: string
        - description: How many questions to fetch per page. The default and maximum `page_size` values are 10.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, the next page of questions is retrieved.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListQuestionsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Adds a question for the specified location.
      operationId: mybusiness.accounts.locations.questions.create
      parameters:
        - description: The name of the location to write a question for.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Question"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Question"
          description: Successful response
      tags:
        - accounts
  "/v4/{parent}/reviews":
    get:
      description: Returns the paginated list of reviews for the specified location. This operation is only valid if the specified location is verified.
      operationId: mybusiness.accounts.locations.reviews.list
      parameters:
        - description: The name of the location to fetch reviews for.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Specifies the field to sort reviews by. If unspecified, the order of reviews returned will default to `update_time desc`. Valid orders to sort by are `rating`, `rating desc` and `update_time desc`.
          in: query
          name: orderBy
          schema:
            type: string
        - description: How many reviews to fetch per page. The maximum `page_size` is 50.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, it fetches the next page of reviews.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListReviewsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v4/{parent}/verifications":
    get:
      description: List verifications of a location, ordered by create time.
      operationId: mybusiness.accounts.locations.verifications.list
      parameters:
        - description: Resource name of the location that verification requests belong to.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: How many verification to include per page. If not set, return all.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: If specified, returns the next page of verifications.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListVerificationsResponse"
          description: Successful response
      tags:
        - accounts
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AcceptInvitationRequest:
      description: Request message for AccessControl.AcceptInvitation.
      properties: {}
      type: object
    Accessibility:
      description: Physical adaptations made to the property in consideration of varying levels of human physical ability.
      properties:
        mobilityAccessible:
          description: Mobility accessible. Throughout the property there are physical adaptations to ease the stay of a person in a wheelchair, such as auto-opening doors, wide elevators, wide bathrooms or ramps.
          type: boolean
        mobilityAccessibleElevator:
          description: Mobility accessible elevator. A lift that transports people from one level to another and is built to accommodate a wheelchair-using passenger owing to the width of its doors and placement of call buttons.
          type: boolean
        mobilityAccessibleElevatorException:
          description: Mobility accessible elevator exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        mobilityAccessibleException:
          description: Mobility accessible exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        mobilityAccessibleParking:
          description: Mobility accessible parking. The presence of a marked, designated area of prescribed size in which only registered, labeled vehicles transporting a person with physical challenges may park.
          type: boolean
        mobilityAccessibleParkingException:
          description: Mobility accessible parking exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        mobilityAccessiblePool:
          description: Mobility accessible pool. A swimming pool equipped with a mechanical chair that can be lowered and raised for the purpose of moving physically challenged guests into and out of the pool. May be powered by electricity or water. Also known as pool lift.
          type: boolean
        mobilityAccessiblePoolException:
          description: Mobility accessible pool exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
      type: object
    Account:
      description: An account is a container for your business's locations. If you are the only user who manages locations for your business, you can use your personal Google Account. To share management of locations with multiple users, [create a business account] (https://support.google.com/business/answer/6085339?ref_topic=6085325).
      properties:
        accountName:
          description: The name of the account. *Note:* For an account with AccountType `PERSONAL`, this is the first and last name of the user account.
          type: string
        accountNumber:
          description: Account reference number if provisioned.
          type: string
        name:
          description: The resource name, in the format `accounts/{account_id}`.
          type: string
        organizationInfo:
          $ref: "#/components/schemas/OrganizationInfo"
          description: Additional info for an organization. This is populated only for an organization account.
        permissionLevel:
          description: Output only. Specifies the PermissionLevel the caller has for this account.
          enum:
            - PERMISSION_LEVEL_UNSPECIFIED
            - OWNER_LEVEL
            - MEMBER_LEVEL
          type: string
        role:
          description: Output only. Specifies the AccountRole the caller has for this account.
          enum:
            - ACCOUNT_ROLE_UNSPECIFIED
            - OWNER
            - CO_OWNER
            - MANAGER
            - COMMUNITY_MANAGER
          type: string
        state:
          $ref: "#/components/schemas/AccountState"
          description: Output only. Indicates the AccountState of this account.
        type:
          description: Output only. Specifies the AccountType of this account.
          enum:
            - ACCOUNT_TYPE_UNSPECIFIED
            - PERSONAL
            - LOCATION_GROUP
            - USER_GROUP
            - ORGANIZATION
          type: string
      type: object
    AccountState:
      description: Indicates status of the account, such as whether the account has been verified by Google.
      properties:
        status:
          description: If verified, future locations that are created are automatically connected to Google Maps, and have Google+ pages created, without requiring moderation.
          enum:
            - ACCOUNT_STATUS_UNSPECIFIED
            - VERIFIED
            - UNVERIFIED
            - VERIFICATION_REQUESTED
          type: string
      type: object
    Activities:
      description: Amenities and features related to leisure and play.
      properties:
        beachAccess:
          description: Beach access. The hotel property is in close proximity to a beach and offers a way to get to that beach. This can include a route to the beach such as stairs down if hotel is on a bluff, or a short trail. Not the same as beachfront (with beach access, the hotel's proximity is close to but not right on the beach).
          type: boolean
        beachAccessException:
          description: Beach access exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        beachFront:
          description: Breach front. The hotel property is physically located on the beach alongside an ocean, sea, gulf, or bay. It is not on a lake, river, stream, or pond. The hotel is not separated from the beach by a public road allowing vehicular, pedestrian, or bicycle traffic.
          type: boolean
        beachFrontException:
          description: Beach front exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        bicycleRental:
          description: Bicycle rental. The hotel owns bicycles that it permits guests to borrow and use. Can be free or for a fee.
          type: boolean
        bicycleRentalException:
          description: Bicycle rental exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        boutiqueStores:
          description: Boutique stores. There are stores selling clothing, jewelry, art and decor either on hotel premises or very close by. Does not refer to the hotel gift shop or convenience store.
          type: boolean
        boutiqueStoresException:
          description: Boutique stores exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        casino:
          description: Casino. A space designated for gambling and gaming featuring croupier-run table and card games, as well as electronic slot machines. May be on hotel premises or located nearby.
          type: boolean
        casinoException:
          description: Casino exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        freeBicycleRental:
          description: Free bicycle rental. The hotel owns bicycles that it permits guests to borrow and use for free.
          type: boolean
        freeBicycleRentalException:
          description: Free bicycle rental exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        freeWatercraftRental:
          description: Free watercraft rental. The hotel owns watercraft that it permits guests to borrow and use for free.
          type: boolean
        freeWatercraftRentalException:
          description: Free Watercraft rental exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        gameRoom:
          description: Game room. There is a room at the hotel containing electronic machines for play such as pinball, prize machines, driving simulators, and other items commonly found at a family fun center or arcade. May also include non-electronic games like pool, foosball, darts, and more. May or may not be designed for children. Also known as arcade, fun room, or family fun center.
          type: boolean
        gameRoomException:
          description: Game room exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        golf:
          description: Golf. There is a golf course on hotel grounds or there is a nearby, independently run golf course that allows use by hotel guests. Can be free or for a fee.
          type: boolean
        golfException:
          description: Golf exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        horsebackRiding:
          description: Horseback riding. The hotel has a horse barn onsite or an affiliation with a nearby barn to allow for guests to sit astride a horse and direct it to walk, trot, cantor, gallop and/or jump. Can be in a riding ring, on designated paths, or in the wilderness. May or may not involve instruction.
          type: boolean
        horsebackRidingException:
          description: Horseback riding exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        nightclub:
          description: Nightclub. There is a room at the hotel with a bar, a dance floor, and seating where designated staffers play dance music. There may also be a designated area for the performance of live music, singing and comedy acts.
          type: boolean
        nightclubException:
          description: Nightclub exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        privateBeach:
          description: Private beach. The beach which is in close proximity to the hotel is open only to guests.
          type: boolean
        privateBeachException:
          description: Private beach exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        scuba:
          description: Scuba. The provision for guests to dive under naturally occurring water fitted with a self-contained underwater breathing apparatus (SCUBA) for the purpose of exploring underwater life. Apparatus consists of a tank providing oxygen to the diver through a mask. Requires certification of the diver and supervision. The hotel may have the activity at its own waterfront or have an affiliation with a nearby facility. Required equipment is most often supplied to guests. Can be free or for a fee. Not snorkeling. Not done in a swimming pool.
          type: boolean
        scubaException:
          description: Scuba exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        snorkeling:
          description: Snorkeling. The provision for guests to participate in a recreational water activity in which swimmers wear a diving mask, a simple, shaped breathing tube and flippers/swim fins for the purpose of exploring below the surface of an ocean, gulf or lake. Does not usually require user certification or professional supervision. Equipment may or may not be available for rent or purchase. Not scuba diving.
          type: boolean
        snorkelingException:
          description: Snorkeling exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        tennis:
          description: Tennis. The hotel has the requisite court(s) on site or has an affiliation with a nearby facility for the purpose of providing guests with the opportunity to play a two-sided court-based game in which players use a stringed racquet to hit a ball across a net to the side of the opposing player. The court can be indoors or outdoors. Instructors, racquets and balls may or may not be provided.
          type: boolean
        tennisException:
          description: Tennis exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        waterSkiing:
          description: Water skiing. The provision of giving guests the opportunity to be pulled across naturally occurring water while standing on skis and holding a tow rope attached to a motorboat. Can occur on hotel premises or at a nearby waterfront. Most often performed in a lake or ocean.
          type: boolean
        waterSkiingException:
          description: Water skiing exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
        watercraftRental:
          description: Watercraft rental. The hotel owns water vessels that it permits guests to borrow and use. Can be free or for a fee. Watercraft may include boats, pedal boats, rowboats, sailboats, powerboats, canoes, kayaks, or personal watercraft (such as a Jet Ski).
          type: boolean
        watercraftRentalException:
          description: Watercraft rental exception.
          enum:
            - EXCEPTION_UNSPECIFIED
            - UNDER_CONSTRUCTION
            - DEPENDENT_ON_SEASON
            - DEPENDENT_ON_DAY_OF_WEEK
          type: string
      type: object
    AdWordsLocationExtensions:
      description: Additional information that is surfaced in AdWords.
      properties:
        adPhone:
          description: An alternate phone number to display on AdWords location extensions instead of the location's primary phone number.
          type: string
      type: object
    AddressInput:
      description: Input for ADDRESS verification.
      properties:
        mailerContactName:
          description: Contact name the mail should be sent to.
          type: string
      type: object
    AddressVerificationData:
      description: Display data for verifications through postcard.
      properties:
        address:
          $ref: "#/components/schemas/PostalAddress"
          description: Address that a postcard can be sent to.
        businessName:
          description: Merchant's business name.
          type: string
      type: object
    Admin:
      description: An administrator of an Account or a Location.
      properties:
        adminName:
          description: The name of the admin. When making the initial invitation, this is the invitee's email address. On `GET` calls, the user's email address is returned if the invitation is still pending. Otherwise, it contains the user's first and last names.
          type: string
        name:
          description: "The resource name. For account admins, this is in the form: `accounts/{account_id}/admins/{admin_id}` For location admins, this is in the form: `accounts/{account_id}/locations/{location_id}/admins/{admin_id}`"
          type: string
        pendingInvitation:
          description: Output only. Indicates whether this admin has a pending invitation for the specified resource.
          type: boolean
        role:
          description: Specifies the AdminRole that this admin uses with the specified Account or Location resource.
          enum:
            - ADMIN_ROLE_UNSPECIFIED
            - OWNER
            - CO_OWNER
            - MANAGER
            - COMMUNITY_MANAGER
          type: string
      type: object
    Answer:
      description: Represents an answer to a question
      properties:
        author:
          $ref: "#/components/schemas/Author"
          description: Output only. The author of the answer.
        createTime:
          description: Output only. The timestamp for when the answer was written.
          format: google-datetime
          type: string
        name:
          description: Output only. The unique name for the answer accounts/*/locations/*/questions/*/answers/*
          type: string
        text:
          description: The text of the answer. It should contain at least one non-whitespace character. The maximum length is 4096 characters.
          type: string
        updateTime:
          description: Output only. The timestamp for when the answer was last modified.
          format: google-datetime
          type: string
        upvoteCount:
          description: Output only. The number of upvotes for the answer.
          format: int32
          type: integer
      type: object
    AssociateLocationRequest:
      description: Request message for Locations.AssociateLocationRequest.
      properties:
        placeId:
          description: The association to establish. If not set, it indicates no match.
          type: string
      type: object
    Attribute:
      description: A location attribute. Attributes provide additional information about a location. The attributes that can be set on a location may vary based on the properties of that location (for example, category). Available attributes are determined by Google and may be added and removed without API changes.
      properties:
        attributeId:
          description: The ID of the attribute. Attribute IDs are provided by Google.
          type: string
        repeatedEnumValue:
          $ref: "#/components/schemas/RepeatedEnumAttributeValue"
          description: When the attribute value type is REPEATED_ENUM, this contains the attribute value, and the other values fields must be empty.
        urlValues:
          description: When the attribute value type is URL, this field contains the value(s) for this attribute, and the other values fields must be empty.
          items:
            $ref: "#/components/schemas/UrlAttributeValue"
          type: array
        valueType:
          description: Output only. The type of value that this attribute contains. This should be used to determine how to interpret the value.
          enum:
            - ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
            - BOOL
            - ENUM
            - URL
            - REPEATED_ENUM
          type: string
        values:
          description: The values for this attribute. The type of the values supplied must match that expected for that attribute; see [AttributeValueType](/my-business/reference/rest/v4/AttributeValueType). This is a repeated field where multiple attribute values may be provided. Attribute types only support one value.
          items: {}
          type: array
      type: object
    AttributeMetadata:
      description: Metadata for an attribute. Contains display information for the attribute, including a localized name and a heading for grouping related attributes together.
      properties:
        attributeId:
          description: The ID of the attribute.
          type: string
        displayName:
          description: The localized display name for the attribute, if available; otherwise, the English display name.
          type: string
        groupDisplayName:
          description: The localized display name of the group that contains this attribute, if available; otherwise, the English group name. Related attributes are collected into a group and should be displayed together under the heading given here.
          type: string
        isDeprecated:
          description: If true, the attribute is deprecated and should no longer be used. If deprecated, updating this attribute will not result in an error, but updates will not be saved. At some point after being deprecated, the attribute will be removed entirely and it will become an error.
          type: boolean
        isRepeatable:
          description: If true, the attribute supports multiple values. If false, only a single value should be provided.
          type: boolean
        valueMetadata:
          description: For some types of attributes (for example, enums), a list of supported values and corresponding display names for those values is provided.
          items:
            $ref: "#/components/schemas/AttributeValueMetadata"
          type: array
        valueType:
          description: The value type for the attribute. Values set and retrieved should be expected to be of this type.
          enum:
            - ATTRIBUTE_VALUE_TYPE_UNSPECIFIED
            - BOOL
            - ENUM
            - URL
            - REPEATED_ENUM
          type: string
      type: object
    AttributeValueMetadata:
      description: Metadata for supported attribute values.
      properties:
        displayName:
          description: The display name for this value, localized where available; otherwise, in English. The value display name is intended to be used in context with the attribute display name. For example, for a "WiFi" enum attribute, this could contain "Paid" to represent paid Wi-Fi.
          type: string
        value:
          description: The attribute value.
      type: object
    Attribution:
      description: Attribution information for customer media items, such as the contributor's name and profile picture.
      properties:
        profileName:
          description: The user name to attribute the media item to.
          type: string
        profilePhotoUrl:
          description: URL of the attributed user's profile photo thumbnail.
          type: string
        profileUrl:
          description: The URL of the attributed user's Google Maps profile page.
          type: string
        takedownUrl:
          description: The URL of the takedown page, where the media item can be reported if it is inappropriate.
          type: string
      type: object
    Author:
      description: Represents the author of a question or answer
      properties:
        displayName:
          description: The display name of the user
          type: string
        profilePhotoUrl:
          description: The profile photo URL of the user.
[...]
