swagger: '2.0'
schemes:
  - https
  - http
host: batch.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>AWS Batch enables you to run batch computing workloads on the AWS Cloud. Batch computing is a common way for developers, scientists, and engineers to access large amounts of compute resources, and AWS Batch removes the undifferentiated heavy lifting of configuring and managing the required infrastructure. AWS Batch will be familiar to users of traditional batch computing software. This service can efficiently provision resources in response to jobs submitted in order to eliminate capacity constraints, reduce compute costs, and deliver results quickly.</p> <p>As a fully managed service, AWS Batch enables developers, scientists, and engineers to run batch computing workloads of any scale. AWS Batch automatically provisions compute resources and optimizes the workload distribution based on the quantity and scale of the workloads. With AWS Batch, there is no need to install or manage batch computing software, which allows you to focus on analyzing results and solving problems. AWS Batch reduces operational complexities, saves time, and reduces costs, which makes it easy for developers, scientists, and engineers to run their batch jobs in the AWS Cloud.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Batch
  version: '2016-08-10'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/batch-2016-08-10.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: batch
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/batch/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /v1/canceljob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Cancels a job in an AWS Batch job queue. Jobs that are in the <code>SUBMITTED</code>, <code>PENDING</code>, or <code>RUNNABLE</code> state are cancelled. Jobs that have progressed to <code>STARTING</code> or <code>RUNNING</code> are not cancelled (but the API operation still succeeds, even if no job is cancelled); these jobs must be terminated with the <a>TerminateJob</a> operation.'
      operationId: CancelJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              jobId:
                description: The AWS Batch job ID of the job to cancel.
                type: string
              reason:
                description: 'A message to attach to the job that explains the reason for canceling it. This message is returned by future <a>DescribeJobs</a> operations on the job. This message is also recorded in the AWS Batch activity logs. '
                type: string
            required:
              - jobId
              - reason
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelJobResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/createcomputeenvironment:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an AWS Batch compute environment. You can create <code>MANAGED</code> or <code>UNMANAGED</code> compute environments.</p> <p>In a managed compute environment, AWS Batch manages the capacity and instance types of the compute resources within the environment. This is based on the compute resource specification that you define or the <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/ec2-launch-templates.html">launch template</a> that you specify when you create the compute environment. You can choose to use Amazon EC2 On-Demand Instances or Spot Instances in your managed compute environment. You can optionally set a maximum price so that Spot Instances only launch when the Spot Instance price is below a specified percentage of the On-Demand price.</p> <note> <p>Multi-node parallel jobs are not supported on Spot Instances.</p> </note> <p>In an unmanaged compute environment, you can manage your own compute resources. This provides more compute resource configuration options, such as using a custom AMI, but you must ensure that your AMI meets the Amazon ECS container instance AMI specification. For more information, see <a href="https://docs.aws.amazon.com/AmazonECS/latest/developerguide/container_instance_AMIs.html">Container Instance AMIs</a> in the <i>Amazon Elastic Container Service Developer Guide</i>. After you have created your unmanaged compute environment, you can use the <a>DescribeComputeEnvironments</a> operation to find the Amazon ECS cluster that is associated with it. Then, manually launch your container instances into that Amazon ECS cluster. For more information, see <a href="https://docs.aws.amazon.com/AmazonECS/latest/developerguide/launch_container_instance.html">Launching an Amazon ECS Container Instance</a> in the <i>Amazon Elastic Container Service Developer Guide</i>.</p> <note> <p>AWS Batch does not upgrade the AMIs in a compute environment after it is created (for example, when a newer version of the Amazon ECS-optimized AMI is available). You are responsible for the management of the guest operating system (including updates and security patches) and any additional application software or utilities that you install on the compute resources. To use a new AMI for your AWS Batch jobs:</p> <ol> <li> <p>Create a new compute environment with the new AMI.</p> </li> <li> <p>Add the compute environment to an existing job queue.</p> </li> <li> <p>Remove the old compute environment from your job queue.</p> </li> <li> <p>Delete the old compute environment.</p> </li> </ol> </note>'
      operationId: CreateComputeEnvironment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              computeEnvironmentName:
                description: 'The name for your compute environment. Up to 128 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed.'
                type: string
              computeResources:
                description: An object representing an AWS Batch compute resource.
                properties:
                  bidPercentage:
                    $ref: '#/definitions/Integer'
                    description: 'The maximum percentage that a Spot Instance price can be when compared with the On-Demand price for that instance type before instances are launched. For example, if your maximum percentage is 20%, then the Spot price must be below 20% of the current On-Demand price for that EC2 instance. You always pay the lowest (market) price and never more than your maximum percentage. If you leave this field empty, the default value is 100% of the On-Demand price.'
                  desiredvCpus:
                    $ref: '#/definitions/Integer'
                    description: 'The desired number of EC2 vCPUS in the compute environment. '
                  ec2KeyPair:
                    $ref: '#/definitions/String'
                    description: The EC2 key pair that is used for instances launched in the compute environment.
                  imageId:
                    $ref: '#/definitions/String'
                    description: The Amazon Machine Image (AMI) ID used for instances launched in the compute environment.
                  instanceRole:
                    $ref: '#/definitions/String'
                    description: 'The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. You can specify the short name or full Amazon Resource Name (ARN) of an instance profile. For example, <code> <i>ecsInstanceRole</i> </code> or <code>arn:aws:iam::<i>&lt;aws_account_id&gt;</i>:instance-profile/<i>ecsInstanceRole</i> </code>. For more information, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html">Amazon ECS Instance Role</a> in the <i>AWS Batch User Guide</i>.'
                  instanceTypes:
                    $ref: '#/definitions/StringList'
                    description: 'The instances types that may be launched. You can specify instance families to launch any instance type within those families (for example, <code>c4</code> or <code>p3</code>), or you can specify specific sizes within a family (such as <code>c4.8xlarge</code>). You can also choose <code>optimal</code> to pick instance types (from the C, M, and R instance families) on the fly that match the demand of your job queues.'
                  launchTemplate:
                    $ref: '#/definitions/LaunchTemplateSpecification'
                    description: 'The launch template to use for your compute resources. Any other compute resource parameters that you specify in a <a>CreateComputeEnvironment</a> API operation override the same parameters in the launch template. You must specify either the launch template ID or launch template name in the request, but not both. For more information, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/launch-templates.html">Launch Template Support</a> in the <i>AWS Batch User Guide</i>.'
                  maxvCpus:
                    $ref: '#/definitions/Integer'
                    description: 'The maximum number of EC2 vCPUs that an environment can reach. '
                  minvCpus:
                    $ref: '#/definitions/Integer'
                    description: 'The minimum number of EC2 vCPUs that an environment should maintain (even if the compute environment is <code>DISABLED</code>). '
                  placementGroup:
                    $ref: '#/definitions/String'
                    description: 'The Amazon EC2 placement group to associate with your compute resources. If you intend to submit multi-node parallel jobs to your compute environment, you should consider creating a cluster placement group and associate it with your compute resources. This keeps your multi-node parallel job on a logical grouping of instances within a single Availability Zone with high network flow potential. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html">Placement Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
                  securityGroupIds:
                    $ref: '#/definitions/StringList'
                    description: 'The EC2 security group that is associated with instances launched in the compute environment. '
                  spotIamFleetRole:
                    $ref: '#/definitions/String'
                    description: 'The Amazon Resource Name (ARN) of the Amazon EC2 Spot Fleet IAM role applied to a <code>SPOT</code> compute environment. For more information, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html">Amazon EC2 Spot Fleet Role</a> in the <i>AWS Batch User Guide</i>.'
                  subnets:
                    $ref: '#/definitions/StringList'
                    description: 'The VPC subnets into which the compute resources are launched. For more information, see <a href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html">VPCs and Subnets</a> in the <i>Amazon VPC User Guide</i>.'
                  tags:
                    $ref: '#/definitions/TagsMap'
                    description: 'Key-value pair tags to be applied to resources that are launched in the compute environment. For AWS Batch, these take the form of "String1": "String2", where String1 is the tag key and String2 is the tag value—for example, { "Name": "AWS Batch Instance - C4OnDemand" }.'
                  type:
                    $ref: '#/definitions/CRType'
                    description: 'The type of compute environment: EC2 or SPOT.'
                type: object
              serviceRole:
                description: '<p>The full Amazon Resource Name (ARN) of the IAM role that allows AWS Batch to make calls to other AWS services on your behalf.</p> <p>If your specified role has a path other than <code>/</code>, then you must either specify the full role ARN (this is recommended) or prefix the role name with the path.</p> <note> <p>Depending on how you created your AWS Batch service role, its ARN may contain the <code>service-role</code> path prefix. When you only specify the name of the service role, AWS Batch assumes that your ARN does not use the <code>service-role</code> path prefix. Because of this, we recommend that you specify the full ARN of your service role when you create compute environments.</p> </note>'
                type: string
              state:
                description: 'The state of the compute environment. If the state is <code>ENABLED</code>, then the compute environment accepts jobs from a queue and can scale out automatically based on queues.'
                enum:
                  - ENABLED
                  - DISABLED
                type: string
              type:
                description: 'The type of the compute environment. For more information, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html">Compute Environments</a> in the <i>AWS Batch User Guide</i>.'
                enum:
                  - MANAGED
                  - UNMANAGED
                type: string
            required:
              - computeEnvironmentName
              - type
              - computeResources
              - serviceRole
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateComputeEnvironmentResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/createjobqueue:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Creates an AWS Batch job queue. When you create a job queue, you associate one or more compute environments to the queue and assign an order of preference for the compute environments.</p> <p>You also set a priority to the job queue that determines the order in which the AWS Batch scheduler places jobs onto its associated compute environments. For example, if a compute environment is associated with more than one job queue, the job queue with a higher priority is given preference for scheduling jobs to that compute environment.</p>'
      operationId: CreateJobQueue
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              computeEnvironmentOrder:
                description: The set of compute environments mapped to a job queue and their order relative to each other. The job scheduler uses this parameter to determine which compute environment should execute a given job. Compute environments must be in the <code>VALID</code> state before you can associate them with a job queue. You can associate up to three compute environments with a job queue.
                items:
                  $ref: '#/definitions/ComputeEnvironmentOrder'
                type: array
              jobQueueName:
                description: The name of the job queue.
                type: string
              priority:
                description: 'The priority of the job queue. Job queues with a higher priority (or a higher integer value for the <code>priority</code> parameter) are evaluated first when associated with the same compute environment. Priority is determined in descending order, for example, a job queue with a priority value of <code>10</code> is given scheduling preference over a job queue with a priority value of <code>1</code>.'
                type: integer
              state:
                description: 'The state of the job queue. If the job queue state is <code>ENABLED</code>, it is able to accept jobs.'
                enum:
                  - ENABLED
                  - DISABLED
                type: string
            required:
              - jobQueueName
              - priority
              - computeEnvironmentOrder
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobQueueResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/deletecomputeenvironment:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes an AWS Batch compute environment.</p> <p>Before you can delete a compute environment, you must set its state to <code>DISABLED</code> with the <a>UpdateComputeEnvironment</a> API operation and disassociate it from any job queues with the <a>UpdateJobQueue</a> API operation.</p>'
      operationId: DeleteComputeEnvironment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              computeEnvironment:
                description: 'The name or Amazon Resource Name (ARN) of the compute environment to delete. '
                type: string
            required:
              - computeEnvironment
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteComputeEnvironmentResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/deletejobqueue:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the specified job queue. You must first disable submissions for a queue with the <a>UpdateJobQueue</a> operation. All jobs in the queue are terminated when you delete a job queue.</p> <p>It is not necessary to disassociate compute environments from a queue before submitting a <code>DeleteJobQueue</code> request. </p>
      operationId: DeleteJobQueue
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              jobQueue:
                description: 'The short name or full Amazon Resource Name (ARN) of the queue to delete. '
                type: string
            required:
              - jobQueue
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteJobQueueResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/deregisterjobdefinition:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Deregisters an AWS Batch job definition.
      operationId: DeregisterJobDefinition
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              jobDefinition:
                description: 'The name and revision (<code>name:revision</code>) or full Amazon Resource Name (ARN) of the job definition to deregister. '
                type: string
            required:
              - jobDefinition
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeregisterJobDefinitionResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/describecomputeenvironments:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes one or more of your compute environments.</p> <p>If you are using an unmanaged compute environment, you can use the <code>DescribeComputeEnvironment</code> operation to determine the <code>ecsClusterArn</code> that you should launch your Amazon ECS container instances into.</p>'
      operationId: DescribeComputeEnvironments
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              computeEnvironments:
                description: 'A list of up to 100 compute environment names or full Amazon Resource Name (ARN) entries. '
                items:
                  $ref: '#/definitions/String'
                type: array
              maxResults:
                description: 'The maximum number of cluster results returned by <code>DescribeComputeEnvironments</code> in paginated output. When this parameter is used, <code>DescribeComputeEnvironments</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeComputeEnvironments</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>DescribeComputeEnvironments</code> returns up to 100 results and a <code>nextToken</code> value if applicable.'
                type: integer
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeComputeEnvironments</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeComputeEnvironmentsResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/describejobdefinitions:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a list of job definitions. You can specify a <code>status</code> (such as <code>ACTIVE</code>) to only return job definitions that match that status.
      operationId: DescribeJobDefinitions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              jobDefinitionName:
                description: The name of the job definition to describe.
                type: string
              jobDefinitions:
                description: A list of up to 100 job definition names or full Amazon Resource Name (ARN) entries.
                items:
                  $ref: '#/definitions/String'
                type: array
              maxResults:
                description: 'The maximum number of results returned by <code>DescribeJobDefinitions</code> in paginated output. When this parameter is used, <code>DescribeJobDefinitions</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeJobDefinitions</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>DescribeJobDefinitions</code> returns up to 100 results and a <code>nextToken</code> value if applicable.'
                type: integer
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeJobDefinitions</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                type: string
              status:
                description: The status with which to filter job definitions.
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeJobDefinitionsResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/describejobqueues:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes one or more of your job queues.
      operationId: DescribeJobQueues
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              jobQueues:
                description: A list of up to 100 queue names or full queue Amazon Resource Name (ARN) entries.
                items:
                  $ref: '#/definitions/String'
                type: array
              maxResults:
                description: 'The maximum number of results returned by <code>DescribeJobQueues</code> in paginated output. When this parameter is used, <code>DescribeJobQueues</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeJobQueues</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>DescribeJobQueues</code> returns up to 100 results and a <code>nextToken</code> value if applicable.'
                type: integer
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>DescribeJobQueues</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeJobQueuesResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/describejobs:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Describes a list of AWS Batch jobs.
      operationId: DescribeJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              jobs:
                description: A list of up to 100 job IDs.
                items:
                  $ref: '#/definitions/String'
                type: array
            required:
              - jobs
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeJobsResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/listjobs:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Returns a list of AWS Batch jobs.</p> <p>You must specify only one of the following:</p> <ul> <li> <p>a job queue ID to return a list of jobs in that job queue</p> </li> <li> <p>a multi-node parallel job ID to return a list of that job''s nodes</p> </li> <li> <p>an array job ID to return a list of that job''s children</p> </li> </ul> <p>You can filter the results by job status with the <code>jobStatus</code> parameter. If you do not specify a status, only <code>RUNNING</code> jobs are returned.</p>'
      operationId: ListJobs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              arrayJobId:
                description: The job ID for an array job. Specifying an array job ID with this parameter lists all child jobs from within the specified array.
                type: string
              jobQueue:
                description: The name or full Amazon Resource Name (ARN) of the job queue with which to list jobs.
                type: string
              jobStatus:
                description: 'The job status with which to filter jobs in the specified queue. If you do not specify a status, only <code>RUNNING</code> jobs are returned.'
                enum:
                  - SUBMITTED
                  - PENDING
                  - RUNNABLE
                  - STARTING
                  - RUNNING
                  - SUCCEEDED
                  - FAILED
                type: string
              maxResults:
                description: 'The maximum number of results returned by <code>ListJobs</code> in paginated output. When this parameter is used, <code>ListJobs</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>ListJobs</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>ListJobs</code> returns up to 100 results and a <code>nextToken</code> value if applicable.'
                type: integer
              multiNodeJobId:
                description: The job ID for a multi-node parallel job. Specifying a multi-node parallel job ID with this parameter lists all nodes that are associated with the specified job.
                type: string
              nextToken:
                description: <p>The <code>nextToken</code> value returned from a previous paginated <code>ListJobs</code> request where <code>maxResults</code> was used and the results exceeded the value of that parameter. Pagination continues from the end of the previous results that returned the <code>nextToken</code> value. This value is <code>null</code> when there are no more results to return.</p> <note> <p>This token should be treated as an opaque identifier that is only used to retrieve the next items in a list and not for other programmatic purposes.</p> </note>
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: maxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: nextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/registerjobdefinition:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Registers an AWS Batch job definition. '
      operationId: RegisterJobDefinition
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              containerProperties:
                description: Container properties are used in job definitions to describe the container that is launched as part of a job.
                properties:
                  command:
                    $ref: '#/definitions/StringList'
                    description: 'The command that is passed to the container. This parameter maps to <code>Cmd</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>COMMAND</code> parameter to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>. For more information, see <a href="https://docs.docker.com/engine/reference/builder/#cmd">https://docs.docker.com/engine/reference/builder/#cmd</a>.'
                  environment:
                    $ref: '#/definitions/EnvironmentVariables'
                    description: '<p>The environment variables to pass to a container. This parameter maps to <code>Env</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--env</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.</p> <important> <p>We do not recommend using plaintext environment variables for sensitive information, such as credential data.</p> </important> <note> <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming convention is reserved for variables that are set by the AWS Batch service.</p> </note>'
                  image:
                    $ref: '#/definitions/String'
                    description: '<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.</p> <ul> <li> <p>Images in Amazon ECR repositories use the full registry and repository URI (for example, <code>012345678910.dkr.ecr.&lt;region-name&gt;.amazonaws.com/&lt;repository-name&gt;</code>).</p> </li> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li> </ul>'
                  instanceType:
                    $ref: '#/definitions/String'
                    description: The instance type to use for a multi-node parallel job. Currently all node groups in a multi-node parallel job must use the same instance type. This parameter is not valid for single-node container jobs.
                  jobRoleArn:
                    $ref: '#/definitions/String'
                    description: The Amazon Resource Name (ARN) of the IAM role that the container can assume for AWS permissions.
                  linuxParameters:
                    $ref: '#/definitions/LinuxParameters'
                    description: 'Linux-specific modifications that are applied to the container, such as details for device mappings.'
                  memory:
                    $ref: '#/definitions/Integer'
                    description: '<p>The hard limit (in MiB) of memory to present to the container. If your container attempts to exceed the memory specified here, the container is killed. This parameter maps to <code>Memory</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--memory</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>. You must specify at least 4 MiB of memory for a job.</p> <note> <p>If you are trying to maximize your resource utilization by providing your jobs as much memory as possible for a particular instance type, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html">Memory Management</a> in the <i>AWS Batch User Guide</i>.</p> </note>'
                  mountPoints:
                    $ref: '#/definitions/MountPoints'
                    description: 'The mount points for data volumes in your container. This parameter maps to <code>Volumes</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--volume</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.'
                  privileged:
                    $ref: '#/definitions/Boolean'
                    description: 'When this parameter is true, the container is given elevated privileges on the host container instance (similar to the <code>root</code> user). This parameter maps to <code>Privileged</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--privileged</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.'
                  readonlyRootFilesystem:
                    $ref: '#/definitions/Boolean'
                    description: 'When this parameter is true, the container is given read-only access to its root file system. This parameter maps to <code>ReadonlyRootfs</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--read-only</code> option to <code>docker run</code>.'
                  resourceRequirements:
                    $ref: '#/definitions/ResourceRequirements'
                    description: 'The type and amount of a resource to assign to a container. Currently, the only supported resource is <code>GPU</code>.'
                  ulimits:
                    $ref: '#/definitions/Ulimits'
                    description: 'A list of <code>ulimits</code> to set in the container. This parameter maps to <code>Ulimits</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--ulimit</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.'
                  user:
                    $ref: '#/definitions/String'
                    description: 'The user name to use inside the container. This parameter maps to <code>User</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--user</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.'
                  vcpus:
                    $ref: '#/definitions/Integer'
                    description: 'The number of vCPUs reserved for the container. This parameter maps to <code>CpuShares</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--cpu-shares</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>. Each vCPU is equivalent to 1,024 CPU shares. You must specify at least one vCPU.'
                  volumes:
                    $ref: '#/definitions/Volumes'
                    description: A list of data volumes used in a job.
                type: object
              jobDefinitionName:
                description: 'The name of the job definition to register. Up to 128 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed.'
                type: string
              nodeProperties:
                description: An object representing the node properties of a multi-node parallel job.
                properties:
                  mainNode:
                    $ref: '#/definitions/Integer'
                    description: Specifies the node index for the main node of a multi-node parallel job. This node index value must be fewer than the number of nodes.
                  nodeRangeProperties:
                    $ref: '#/definitions/NodeRangeProperties'
                    description: A list of node ranges and their properties associated with a multi-node parallel job.
                  numNodes:
                    $ref: '#/definitions/Integer'
                    description: The number of nodes associated with a multi-node parallel job.
                type: object
              parameters:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: Default parameter substitution placeholders to set in the job definition. Parameters are specified as a key-value pair mapping. Parameters in a <code>SubmitJob</code> request override any corresponding parameter defaults from the job definition.
                type: object
              retryStrategy:
                description: The retry strategy associated with a job.
                properties:
                  attempts:
                    $ref: '#/definitions/Integer'
                    description: 'The number of times to move a job to the <code>RUNNABLE</code> status. You may specify between 1 and 10 attempts. If the value of <code>attempts</code> is greater than one, the job is retried on failure the same number of attempts as the value.'
                type: object
              timeout:
                description: An object representing a job timeout configuration.
                properties:
                  attemptDurationSeconds:
                    $ref: '#/definitions/Integer'
                    description: The time duration in seconds (measured from the job attempt's <code>startedAt</code> timestamp) after which AWS Batch terminates your jobs if they have not finished.
                type: object
              type:
                description: The type of job definition.
                enum:
                  - container
                  - multinode
                type: string
            required:
              - jobDefinitionName
              - type
              - nodeProperties
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterJobDefinitionResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/submitjob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Submits an AWS Batch job from a job definition. Parameters specified during <a>SubmitJob</a> override parameters defined in the job definition. '
      operationId: SubmitJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              arrayProperties:
                description: An object representing an AWS Batch array job.
                properties:
                  size:
                    $ref: '#/definitions/Integer'
                    description: The size of the array job.
                type: object
              containerOverrides:
                description: The overrides that should be sent to a container.
                properties:
                  command:
                    $ref: '#/definitions/StringList'
                    description: The command to send to the container that overrides the default command from the Docker image or the job definition.
                  environment:
                    $ref: '#/definitions/EnvironmentVariables'
                    description: '<p>The environment variables to send to the container. You can add new environment variables, which are added to the container at launch, or you can override the existing environment variables from the Docker image or the job definition.</p> <note> <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming convention is reserved for variables that are set by the AWS Batch service.</p> </note>'
                  instanceType:
                    $ref: '#/definitions/String'
                    description: The instance type to use for a multi-node parallel job. This parameter is not valid for single-node container jobs.
                  memory:
                    $ref: '#/definitions/Integer'
                    description: The number of MiB of memory reserved for the job. This value overrides the value set in the job definition.
                  resourceRequirements:
                    $ref: '#/definitions/ResourceRequirements'
                    description: 'The type and amount of a resource to assign to a container. This value overrides the value set in the job definition. Currently, the only supported resource is <code>GPU</code>.'
                  vcpus:
                    $ref: '#/definitions/Integer'
                    description: The number of vCPUs to reserve for the container. This value overrides the value set in the job definition.
                type: object
              dependsOn:
                description: 'A list of dependencies for the job. A job can depend upon a maximum of 20 jobs. You can specify a <code>SEQUENTIAL</code> type dependency without specifying a job ID for array jobs so that each child array job completes sequentially, starting at index 0. You can also specify an <code>N_TO_N</code> type dependency with a job ID for array jobs. In that case, each index child of this job must wait for the corresponding index child of each dependency to complete before it can begin.'
                items:
                  $ref: '#/definitions/JobDependency'
                type: array
              jobDefinition:
                description: 'The job definition used by this job. This value can be either a <code>name:revision</code> or the Amazon Resource Name (ARN) for the job definition.'
                type: string
              jobName:
                description: 'The name of the job. The first character must be alphanumeric, and up to 128 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed. '
                type: string
              jobQueue:
                description: 'The job queue into which the job is submitted. You can specify either the name or the Amazon Resource Name (ARN) of the queue. '
                type: string
              nodeOverrides:
                description: Object representing any node overrides to a job definition that is used in a <a>SubmitJob</a> API operation.
                properties:
                  nodePropertyOverrides:
                    $ref: '#/definitions/NodePropertyOverrides'
                    description: The node property overrides for the job.
                  numNodes:
                    $ref: '#/definitions/Integer'
                    description: '<p>The number of nodes to use with a multi-node parallel job. This value overrides the number of nodes that are specified in the job definition. To use this override:</p> <ul> <li> <p>There must be at least one node range in your job definition that has an open upper boundary (such as <code>:</code> or <code>n:</code>).</p> </li> <li> <p>The lower boundary of the node range specified in the job definition must be fewer than the number of nodes specified in the override.</p> </li> <li> <p>The main node index specified in the job definition must be fewer than the number of nodes specified in the override.</p> </li> </ul>'
                type: object
              parameters:
                additionalProperties:
                  $ref: '#/definitions/String'
                description: Additional parameters passed to the job that replace parameter substitution placeholders that are set in the job definition. Parameters are specified as a key and value pair mapping. Parameters in a <code>SubmitJob</code> request override any corresponding parameter defaults from the job definition.
                type: object
              retryStrategy:
                description: The retry strategy associated with a job.
                properties:
                  attempts:
                    $ref: '#/definitions/Integer'
                    description: 'The number of times to move a job to the <code>RUNNABLE</code> status. You may specify between 1 and 10 attempts. If the value of <code>attempts</code> is greater than one, the job is retried on failure the same number of attempts as the value.'
                type: object
              timeout:
                description: An object representing a job timeout configuration.
                properties:
                  attemptDurationSeconds:
                    $ref: '#/definitions/Integer'
                    description: The time duration in seconds (measured from the job attempt's <code>startedAt</code> timestamp) after which AWS Batch terminates your jobs if they have not finished.
                type: object
            required:
              - jobName
              - jobQueue
              - jobDefinition
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SubmitJobResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/terminatejob:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Terminates a job in a job queue. Jobs that are in the <code>STARTING</code> or <code>RUNNING</code> state are terminated, which causes them to transition to <code>FAILED</code>. Jobs that have not progressed to the <code>STARTING</code> state are cancelled.'
      operationId: TerminateJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              jobId:
                description: The AWS Batch job ID of the job to terminate.
                type: string
              reason:
                description: 'A message to attach to the job that explains the reason for canceling it. This message is returned by future <a>DescribeJobs</a> operations on the job. This message is also recorded in the AWS Batch activity logs. '
                type: string
            required:
              - jobId
              - reason
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TerminateJobResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/updatecomputeenvironment:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates an AWS Batch compute environment.
      operationId: UpdateComputeEnvironment
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              computeEnvironment:
                description: The name or full Amazon Resource Name (ARN) of the compute environment to update.
                type: string
              computeResources:
                description: An object representing the attributes of a compute environment that can be updated.
                properties:
                  desiredvCpus:
                    $ref: '#/definitions/Integer'
                    description: The desired number of EC2 vCPUS in the compute environment.
                  maxvCpus:
                    $ref: '#/definitions/Integer'
                    description: The maximum number of EC2 vCPUs that an environment can reach.
                  minvCpus:
                    $ref: '#/definitions/Integer'
                    description: The minimum number of EC2 vCPUs that an environment should maintain.
                type: object
              serviceRole:
                description: '<p>The full Amazon Resource Name (ARN) of the IAM role that allows AWS Batch to make calls to other AWS services on your behalf.</p> <p>If your specified role has a path other than <code>/</code>, then you must either specify the full role ARN (this is recommended) or prefix the role name with the path.</p> <note> <p>Depending on how you created your AWS Batch service role, its ARN may contain the <code>service-role</code> path prefix. When you only specify the name of the service role, AWS Batch assumes that your ARN does not use the <code>service-role</code> path prefix. Because of this, we recommend that you specify the full ARN of your service role when you create compute environments.</p> </note>'
                type: string
              state:
                description: The state of the compute environment. Compute environments in the <code>ENABLED</code> state can accept jobs from a queue and scale in or out automatically based on the workload demand of its associated queues.
                enum:
                  - ENABLED
                  - DISABLED
                type: string
            required:
              - computeEnvironment
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateComputeEnvironmentResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
  /v1/updatejobqueue:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Updates a job queue.
      operationId: UpdateJobQueue
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              computeEnvironmentOrder:
                description: 'Details the set of compute environments mapped to a job queue and their order relative to each other. This is one of the parameters used by the job scheduler to determine which compute environment should execute a given job. '
                items:
                  $ref: '#/definitions/ComputeEnvironmentOrder'
                type: array
              jobQueue:
                description: The name or the Amazon Resource Name (ARN) of the job queue.
                type: string
              priority:
                description: 'The priority of the job queue. Job queues with a higher priority (or a higher integer value for the <code>priority</code> parameter) are evaluated first when associated with the same compute environment. Priority is determined in descending order, for example, a job queue with a priority value of <code>10</code> is given scheduling preference over a job queue with a priority value of <code>1</code>.'
                type: integer
              state:
                description: Describes the queue's ability to accept new jobs.
                enum:
                  - ENABLED
                  - DISABLED
                type: string
            required:
              - jobQueue
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateJobQueueResponse'
        '480':
          description: ClientException
          schema:
            $ref: '#/definitions/ClientException'
        '481':
          description: ServerException
          schema:
            $ref: '#/definitions/ServerException'
definitions:
  ArrayJobDependency:
    enum:
      - N_TO_N
      - SEQUENTIAL
    type: string
  ArrayJobStatusSummary:
    additionalProperties:
      $ref: '#/definitions/Integer'
    type: object
  ArrayProperties:
    description: An object representing an AWS Batch array job.
    properties:
      size:
        $ref: '#/definitions/Integer'
        description: The size of the array job.
    type: object
  ArrayPropertiesDetail:
    description: An object representing the array properties of a job.
    properties:
      index:
        $ref: '#/definitions/Integer'
        description: The job index within the array that is associated with this job. This parameter is returned for array job children.
      size:
        $ref: '#/definitions/Integer'
        description: The size of the array job. This parameter is returned for parent array jobs.
      statusSummary:
        $ref: '#/definitions/ArrayJobStatusSummary'
        description: A summary of the number of array job children in each available job status. This parameter is returned for parent array jobs.
    type: object
  ArrayPropertiesSummary:
    description: An object representing the array properties of a job.
    properties:
      index:
        $ref: '#/definitions/Integer'
        description: The job index within the array that is associated with this job. This parameter is returned for children of array jobs.
      size:
        $ref: '#/definitions/Integer'
        description: The size of the array job. This parameter is returned for parent array jobs.
    type: object
  AttemptContainerDetail:
    description: An object representing the details of a container that is part of a job attempt.
    properties:
      containerInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the Amazon ECS container instance that hosts the job attempt.
      exitCode:
        $ref: '#/definitions/Integer'
        description: The exit code for the job attempt. A non-zero exit code is considered a failure.
      logStreamName:
        $ref: '#/definitions/String'
        description: The name of the CloudWatch Logs log stream associated with the container. The log group for AWS Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the <code>RUNNING</code> status.
      networkInterfaces:
        $ref: '#/definitions/NetworkInterfaceList'
        description: The network interfaces associated with the job attempt.
      reason:
        $ref: '#/definitions/String'
        description: A short (255 max characters) human-readable string to provide additional details about a running or stopped container.
      taskArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the job attempt. Each container attempt receives a task ARN when they reach the <code>STARTING</code> status.
    type: object
  AttemptDetail:
    description: An object representing a job attempt.
    properties:
      container:
        $ref: '#/definitions/AttemptContainerDetail'
        description: Details about the container in this job attempt.
      startedAt:
        $ref: '#/definitions/Long'
        description: The Unix timestamp (in seconds and milliseconds) for when the attempt was started (when the attempt transitioned from the <code>STARTING</code> state to the <code>RUNNING</code> state).
      statusReason:
        $ref: '#/definitions/String'
        description: 'A short, human-readable string to provide additional details about the current status of the job attempt.'
      stoppedAt:
        $ref: '#/definitions/Long'
        description: 'The Unix timestamp (in seconds and milliseconds) for when the attempt was stopped (when the attempt transitioned from the <code>RUNNING</code> state to a terminal state, such as <code>SUCCEEDED</code> or <code>FAILED</code>).'
    type: object
  AttemptDetails:
    items:
      $ref: '#/definitions/AttemptDetail'
    type: array
  Boolean:
    type: boolean
  CEState:
    enum:
      - ENABLED
      - DISABLED
    type: string
  CEStatus:
    enum:
      - CREATING
      - UPDATING
      - DELETING
      - DELETED
      - VALID
      - INVALID
    type: string
  CEType:
    enum:
      - MANAGED
      - UNMANAGED
    type: string
  CRType:
    enum:
      - EC2
      - SPOT
    type: string
  CancelJobRequest:
    properties:
      jobId:
        $ref: '#/definitions/String'
        description: The AWS Batch job ID of the job to cancel.
      reason:
        $ref: '#/definitions/String'
        description: 'A message to attach to the job that explains the reason for canceling it. This message is returned by future <a>DescribeJobs</a> operations on the job. This message is also recorded in the AWS Batch activity logs. '
    required:
      - jobId
      - reason
    type: object
  CancelJobResponse:
    example: {}
    properties: {}
    type: object
  ClientException: {}
  ComputeEnvironmentDetail:
    description: An object representing an AWS Batch compute environment.
    properties:
      computeEnvironmentArn:
        $ref: '#/definitions/String'
        description: 'The Amazon Resource Name (ARN) of the compute environment. '
      computeEnvironmentName:
        $ref: '#/definitions/String'
        description: 'The name of the compute environment. '
      computeResources:
        $ref: '#/definitions/ComputeResource'
        description: 'The compute resources defined for the compute environment. '
      ecsClusterArn:
        $ref: '#/definitions/String'
        description: 'The Amazon Resource Name (ARN) of the underlying Amazon ECS cluster used by the compute environment. '
      serviceRole:
        $ref: '#/definitions/String'
        description: The service role associated with the compute environment that allows AWS Batch to make calls to AWS API operations on your behalf.
      state:
        $ref: '#/definitions/CEState'
        description: '<p>The state of the compute environment. The valid values are <code>ENABLED</code> or <code>DISABLED</code>. </p> <p>If the state is <code>ENABLED</code>, then the AWS Batch scheduler can attempt to place jobs from an associated job queue on the compute resources within the environment. If the compute environment is managed, then it can scale its instances out or in automatically, based on the job queue demand.</p> <p>If the state is <code>DISABLED</code>, then the AWS Batch scheduler does not attempt to place jobs within the environment. Jobs in a <code>STARTING</code> or <code>RUNNING</code> state continue to progress normally. Managed compute environments in the <code>DISABLED</code> state do not scale out. However, they scale in to <code>minvCpus</code> value after instances become idle.</p>'
      status:
        $ref: '#/definitions/CEStatus'
        description: 'The current status of the compute environment (for example, <code>CREATING</code> or <code>VALID</code>).'
      statusReason:
        $ref: '#/definitions/String'
        description: 'A short, human-readable string to provide additional details about the current status of the compute environment.'
      type:
        $ref: '#/definitions/CEType'
        description: The type of the compute environment.
    required:
      - computeEnvironmentName
      - computeEnvironmentArn
      - ecsClusterArn
    type: object
  ComputeEnvironmentDetailList:
    items:
      $ref: '#/definitions/ComputeEnvironmentDetail'
    type: array
  ComputeEnvironmentOrder:
    description: 'The order in which compute environments are tried for job placement within a queue. Compute environments are tried in ascending order. For example, if two compute environments are associated with a job queue, the compute environment with a lower order integer value is tried for job placement first.'
    properties:
      computeEnvironment:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the compute environment.
      order:
        $ref: '#/definitions/Integer'
        description: The order of the compute environment.
    required:
      - order
      - computeEnvironment
    type: object
  ComputeEnvironmentOrders:
    items:
      $ref: '#/definitions/ComputeEnvironmentOrder'
    type: array
  ComputeResource:
    description: An object representing an AWS Batch compute resource.
    properties:
      bidPercentage:
        $ref: '#/definitions/Integer'
        description: 'The maximum percentage that a Spot Instance price can be when compared with the On-Demand price for that instance type before instances are launched. For example, if your maximum percentage is 20%, then the Spot price must be below 20% of the current On-Demand price for that EC2 instance. You always pay the lowest (market) price and never more than your maximum percentage. If you leave this field empty, the default value is 100% of the On-Demand price.'
      desiredvCpus:
        $ref: '#/definitions/Integer'
        description: 'The desired number of EC2 vCPUS in the compute environment. '
      ec2KeyPair:
        $ref: '#/definitions/String'
        description: The EC2 key pair that is used for instances launched in the compute environment.
      imageId:
        $ref: '#/definitions/String'
        description: The Amazon Machine Image (AMI) ID used for instances launched in the compute environment.
      instanceRole:
        $ref: '#/definitions/String'
        description: 'The Amazon ECS instance profile applied to Amazon EC2 instances in a compute environment. You can specify the short name or full Amazon Resource Name (ARN) of an instance profile. For example, <code> <i>ecsInstanceRole</i> </code> or <code>arn:aws:iam::<i>&lt;aws_account_id&gt;</i>:instance-profile/<i>ecsInstanceRole</i> </code>. For more information, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/instance_IAM_role.html">Amazon ECS Instance Role</a> in the <i>AWS Batch User Guide</i>.'
      instanceTypes:
        $ref: '#/definitions/StringList'
        description: 'The instances types that may be launched. You can specify instance families to launch any instance type within those families (for example, <code>c4</code> or <code>p3</code>), or you can specify specific sizes within a family (such as <code>c4.8xlarge</code>). You can also choose <code>optimal</code> to pick instance types (from the C, M, and R instance families) on the fly that match the demand of your job queues.'
      launchTemplate:
        $ref: '#/definitions/LaunchTemplateSpecification'
        description: 'The launch template to use for your compute resources. Any other compute resource parameters that you specify in a <a>CreateComputeEnvironment</a> API operation override the same parameters in the launch template. You must specify either the launch template ID or launch template name in the request, but not both. For more information, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/launch-templates.html">Launch Template Support</a> in the <i>AWS Batch User Guide</i>.'
      maxvCpus:
        $ref: '#/definitions/Integer'
        description: 'The maximum number of EC2 vCPUs that an environment can reach. '
      minvCpus:
        $ref: '#/definitions/Integer'
        description: 'The minimum number of EC2 vCPUs that an environment should maintain (even if the compute environment is <code>DISABLED</code>). '
      placementGroup:
        $ref: '#/definitions/String'
        description: 'The Amazon EC2 placement group to associate with your compute resources. If you intend to submit multi-node parallel jobs to your compute environment, you should consider creating a cluster placement group and associate it with your compute resources. This keeps your multi-node parallel job on a logical grouping of instances within a single Availability Zone with high network flow potential. For more information, see <a href="https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/placement-groups.html">Placement Groups</a> in the <i>Amazon EC2 User Guide for Linux Instances</i>.'
      securityGroupIds:
        $ref: '#/definitions/StringList'
        description: 'The EC2 security group that is associated with instances launched in the compute environment. '
      spotIamFleetRole:
        $ref: '#/definitions/String'
        description: 'The Amazon Resource Name (ARN) of the Amazon EC2 Spot Fleet IAM role applied to a <code>SPOT</code> compute environment. For more information, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/spot_fleet_IAM_role.html">Amazon EC2 Spot Fleet Role</a> in the <i>AWS Batch User Guide</i>.'
      subnets:
        $ref: '#/definitions/StringList'
        description: 'The VPC subnets into which the compute resources are launched. For more information, see <a href="https://docs.aws.amazon.com/vpc/latest/userguide/VPC_Subnets.html">VPCs and Subnets</a> in the <i>Amazon VPC User Guide</i>.'
      tags:
        $ref: '#/definitions/TagsMap'
        description: 'Key-value pair tags to be applied to resources that are launched in the compute environment. For AWS Batch, these take the form of "String1": "String2", where String1 is the tag key and String2 is the tag value—for example, { "Name": "AWS Batch Instance - C4OnDemand" }.'
      type:
        $ref: '#/definitions/CRType'
        description: 'The type of compute environment: EC2 or SPOT.'
    required:
      - type
      - minvCpus
      - maxvCpus
      - instanceTypes
      - subnets
      - instanceRole
    type: object
  ComputeResourceUpdate:
    description: An object representing the attributes of a compute environment that can be updated.
    properties:
      desiredvCpus:
        $ref: '#/definitions/Integer'
        description: The desired number of EC2 vCPUS in the compute environment.
      maxvCpus:
        $ref: '#/definitions/Integer'
        description: The maximum number of EC2 vCPUs that an environment can reach.
      minvCpus:
        $ref: '#/definitions/Integer'
        description: The minimum number of EC2 vCPUs that an environment should maintain.
    type: object
  ContainerDetail:
    description: An object representing the details of a container that is part of a job.
    properties:
      command:
        $ref: '#/definitions/StringList'
        description: 'The command that is passed to the container. '
      containerInstanceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the container instance on which the container is running.
      environment:
        $ref: '#/definitions/EnvironmentVariables'
        description: <p>The environment variables to pass to a container.</p> <note> <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming convention is reserved for variables that are set by the AWS Batch service.</p> </note>
      exitCode:
        $ref: '#/definitions/Integer'
        description: The exit code to return upon completion.
      image:
        $ref: '#/definitions/String'
        description: The image used to start the container.
      instanceType:
        $ref: '#/definitions/String'
        description: The instance type of the underlying host infrastructure of a multi-node parallel job.
      jobRoleArn:
        $ref: '#/definitions/String'
        description: 'The Amazon Resource Name (ARN) associated with the job upon execution. '
      linuxParameters:
        $ref: '#/definitions/LinuxParameters'
        description: 'Linux-specific modifications that are applied to the container, such as details for device mappings.'
      logStreamName:
        $ref: '#/definitions/String'
        description: The name of the CloudWatch Logs log stream associated with the container. The log group for AWS Batch jobs is <code>/aws/batch/job</code>. Each container attempt receives a log stream name when they reach the <code>RUNNING</code> status.
      memory:
        $ref: '#/definitions/Integer'
        description: The number of MiB of memory reserved for the job.
      mountPoints:
        $ref: '#/definitions/MountPoints'
        description: The mount points for data volumes in your container.
      networkInterfaces:
        $ref: '#/definitions/NetworkInterfaceList'
        description: The network interfaces associated with the job.
      privileged:
        $ref: '#/definitions/Boolean'
        description: 'When this parameter is true, the container is given elevated privileges on the host container instance (similar to the <code>root</code> user).'
      readonlyRootFilesystem:
        $ref: '#/definitions/Boolean'
        description: 'When this parameter is true, the container is given read-only access to its root file system.'
      reason:
        $ref: '#/definitions/String'
        description: A short (255 max characters) human-readable string to provide additional details about a running or stopped container.
      resourceRequirements:
        $ref: '#/definitions/ResourceRequirements'
        description: 'The type and amount of a resource to assign to a container. Currently, the only supported resource is <code>GPU</code>.'
      taskArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the Amazon ECS task that is associated with the container job. Each container attempt receives a task ARN when they reach the <code>STARTING</code> status.
      ulimits:
        $ref: '#/definitions/Ulimits'
        description: A list of <code>ulimit</code> values to set in the container.
      user:
        $ref: '#/definitions/String'
        description: The user name to use inside the container.
      vcpus:
        $ref: '#/definitions/Integer'
        description: 'The number of VCPUs allocated for the job. '
      volumes:
        $ref: '#/definitions/Volumes'
        description: A list of volumes associated with the job.
    type: object
  ContainerOverrides:
    description: The overrides that should be sent to a container.
    properties:
      command:
        $ref: '#/definitions/StringList'
        description: The command to send to the container that overrides the default command from the Docker image or the job definition.
      environment:
        $ref: '#/definitions/EnvironmentVariables'
        description: '<p>The environment variables to send to the container. You can add new environment variables, which are added to the container at launch, or you can override the existing environment variables from the Docker image or the job definition.</p> <note> <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming convention is reserved for variables that are set by the AWS Batch service.</p> </note>'
      instanceType:
        $ref: '#/definitions/String'
        description: The instance type to use for a multi-node parallel job. This parameter is not valid for single-node container jobs.
      memory:
        $ref: '#/definitions/Integer'
        description: The number of MiB of memory reserved for the job. This value overrides the value set in the job definition.
      resourceRequirements:
        $ref: '#/definitions/ResourceRequirements'
        description: 'The type and amount of a resource to assign to a container. This value overrides the value set in the job definition. Currently, the only supported resource is <code>GPU</code>.'
      vcpus:
        $ref: '#/definitions/Integer'
        description: The number of vCPUs to reserve for the container. This value overrides the value set in the job definition.
    type: object
  ContainerProperties:
    description: Container properties are used in job definitions to describe the container that is launched as part of a job.
    properties:
      command:
        $ref: '#/definitions/StringList'
        description: 'The command that is passed to the container. This parameter maps to <code>Cmd</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>COMMAND</code> parameter to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>. For more information, see <a href="https://docs.docker.com/engine/reference/builder/#cmd">https://docs.docker.com/engine/reference/builder/#cmd</a>.'
      environment:
        $ref: '#/definitions/EnvironmentVariables'
        description: '<p>The environment variables to pass to a container. This parameter maps to <code>Env</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--env</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.</p> <important> <p>We do not recommend using plaintext environment variables for sensitive information, such as credential data.</p> </important> <note> <p>Environment variables must not start with <code>AWS_BATCH</code>; this naming convention is reserved for variables that are set by the AWS Batch service.</p> </note>'
      image:
        $ref: '#/definitions/String'
        description: '<p>The image used to start a container. This string is passed directly to the Docker daemon. Images in the Docker Hub registry are available by default. Other repositories are specified with <code> <i>repository-url</i>/<i>image</i>:<i>tag</i> </code>. Up to 255 letters (uppercase and lowercase), numbers, hyphens, underscores, colons, periods, forward slashes, and number signs are allowed. This parameter maps to <code>Image</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>IMAGE</code> parameter of <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.</p> <ul> <li> <p>Images in Amazon ECR repositories use the full registry and repository URI (for example, <code>012345678910.dkr.ecr.&lt;region-name&gt;.amazonaws.com/&lt;repository-name&gt;</code>).</p> </li> <li> <p>Images in official repositories on Docker Hub use a single name (for example, <code>ubuntu</code> or <code>mongo</code>).</p> </li> <li> <p>Images in other repositories on Docker Hub are qualified with an organization name (for example, <code>amazon/amazon-ecs-agent</code>).</p> </li> <li> <p>Images in other online repositories are qualified further by a domain name (for example, <code>quay.io/assemblyline/ubuntu</code>).</p> </li> </ul>'
      instanceType:
        $ref: '#/definitions/String'
        description: The instance type to use for a multi-node parallel job. Currently all node groups in a multi-node parallel job must use the same instance type. This parameter is not valid for single-node container jobs.
      jobRoleArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the IAM role that the container can assume for AWS permissions.
      linuxParameters:
        $ref: '#/definitions/LinuxParameters'
        description: 'Linux-specific modifications that are applied to the container, such as details for device mappings.'
      memory:
        $ref: '#/definitions/Integer'
        description: '<p>The hard limit (in MiB) of memory to present to the container. If your container attempts to exceed the memory specified here, the container is killed. This parameter maps to <code>Memory</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--memory</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>. You must specify at least 4 MiB of memory for a job.</p> <note> <p>If you are trying to maximize your resource utilization by providing your jobs as much memory as possible for a particular instance type, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/memory-management.html">Memory Management</a> in the <i>AWS Batch User Guide</i>.</p> </note>'
      mountPoints:
        $ref: '#/definitions/MountPoints'
        description: 'The mount points for data volumes in your container. This parameter maps to <code>Volumes</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--volume</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.'
      privileged:
        $ref: '#/definitions/Boolean'
        description: 'When this parameter is true, the container is given elevated privileges on the host container instance (similar to the <code>root</code> user). This parameter maps to <code>Privileged</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--privileged</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.'
      readonlyRootFilesystem:
        $ref: '#/definitions/Boolean'
        description: 'When this parameter is true, the container is given read-only access to its root file system. This parameter maps to <code>ReadonlyRootfs</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--read-only</code> option to <code>docker run</code>.'
      resourceRequirements:
        $ref: '#/definitions/ResourceRequirements'
        description: 'The type and amount of a resource to assign to a container. Currently, the only supported resource is <code>GPU</code>.'
      ulimits:
        $ref: '#/definitions/Ulimits'
        description: 'A list of <code>ulimits</code> to set in the container. This parameter maps to <code>Ulimits</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--ulimit</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.'
      user:
        $ref: '#/definitions/String'
        description: 'The user name to use inside the container. This parameter maps to <code>User</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--user</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>.'
      vcpus:
        $ref: '#/definitions/Integer'
        description: 'The number of vCPUs reserved for the container. This parameter maps to <code>CpuShares</code> in the <a href="https://docs.docker.com/engine/api/v1.23/#create-a-container">Create a container</a> section of the <a href="https://docs.docker.com/engine/api/v1.23/">Docker Remote API</a> and the <code>--cpu-shares</code> option to <a href="https://docs.docker.com/engine/reference/run/">docker run</a>. Each vCPU is equivalent to 1,024 CPU shares. You must specify at least one vCPU.'
      volumes:
        $ref: '#/definitions/Volumes'
        description: A list of data volumes used in a job.
    type: object
  ContainerSummary:
    description: An object representing summary details of a container within a job.
    properties:
      exitCode:
        $ref: '#/definitions/Integer'
        description: The exit code to return upon completion.
      reason:
        $ref: '#/definitions/String'
        description: A short (255 max characters) human-readable string to provide additional details about a running or stopped container.
    type: object
  CreateComputeEnvironmentRequest:
    properties:
      computeEnvironmentName:
        $ref: '#/definitions/String'
        description: 'The name for your compute environment. Up to 128 letters (uppercase and lowercase), numbers, hyphens, and underscores are allowed.'
      computeResources:
        $ref: '#/definitions/ComputeResource'
        description: 'Details of the compute resources managed by the compute environment. This parameter is required for managed compute environments. For more information, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html">Compute Environments</a> in the <i>AWS Batch User Guide</i>.'
      serviceRole:
        $ref: '#/definitions/String'
        description: '<p>The full Amazon Resource Name (ARN) of the IAM role that allows AWS Batch to make calls to other AWS services on your behalf.</p> <p>If your specified role has a path other than <code>/</code>, then you must either specify the full role ARN (this is recommended) or prefix the role name with the path.</p> <note> <p>Depending on how you created your AWS Batch service role, its ARN may contain the <code>service-role</code> path prefix. When you only specify the name of the service role, AWS Batch assumes that your ARN does not use the <code>service-role</code> path prefix. Because of this, we recommend that you specify the full ARN of your service role when you create compute environments.</p> </note>'
      state:
        $ref: '#/definitions/CEState'
        description: 'The state of the compute environment. If the state is <code>ENABLED</code>, then the compute environment accepts jobs from a queue and can scale out automatically based on queues.'
      type:
        $ref: '#/definitions/CEType'
        description: 'The type of the compute environment. For more information, see <a href="https://docs.aws.amazon.com/batch/latest/userguide/compute_environments.html">Compute Environments</a> in the <i>AWS Batch User Guide</i>.'
    required:
      - computeEnvironmentName
      - type
      - serviceRole
    type: object
  CreateComputeEnvironmentResponse:
    example:
      computeEnvironmentArn: 'arn:aws:batch:us-east-1:012345678910:compute-environment/M4Spot'
      computeEnvironmentName: M4Spot
    properties:
      computeEnvironmentArn:
        $ref: '#/definitions/String'
        description: 'The Amazon Resource Name (ARN) of the compute environment. '
      computeEnvironmentName:
        $ref: '#/definitions/String'
        description: The name of the compute environment.
    type: object
  CreateJobQueueRequest:
    properties:
      computeEnvironmentOrder:
        $ref: '#/definitions/ComputeEnvironmentOrders'
        description: The set of compute environments mapped to a job queue and their order relative to each other. The job scheduler uses this parameter to determine which compute environment should execute a given job. Compute environments must be in the <code>VALID</code> state before you can associate them with a job queue. You can associate up to three compute environments with a job queue.
      jobQueueName:
        $ref: '#/definitions/String'
        description: The name of the job queue.
      priority:
        $ref: '#/definitions/Integer'
        description: 'The priority of the job queue. Job queues with a higher priority (or a higher integer value for the <code>priority</code> parameter) are evaluated first when associated with the same compute environment. Priority is determined in descending order, for example, a job queue with a priority value of <code>10</code> is given scheduling preference over a job queue with a priority value of <code>1</code>.'
      state:
        $ref: '#/definitions/JQState'
        description: 'The state of the job queue. If the job queue state is <code>ENABLED</code>, it is able to accept jobs.'
    required:
      - jobQueueName
      - priority
      - computeEnvironmentOrder
    type: object
  CreateJobQueueResponse:
    example:
      jobQueueArn: 'arn:aws:batch:us-east-1:012345678910:job-queue/HighPriority'
      jobQueueName: HighPriority
    properties:
      jobQueueArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the job queue.
      jobQueueName:
        $ref: '#/definitions/String'
        description: The name of the job queue.
    required:
      - jobQueueName
      - jobQueueArn
    type: object
  DeleteComputeEnvironmentRequest:
    properties:
      computeEnvironment:
        $ref: '#/definitions/String'
        description: 'The name or Amazon Resource Name (ARN) of the compute environment to delete. '
    required:
      - computeEnvironment
    type: object
  DeleteComputeEnvironmentResponse:
    example: {}
    properties: {}
    type: object
  DeleteJobQueueRequest:
    properties:
      jobQueue:
        $ref: '#/definitions/String'
        description: 'The short name or full Amazon Resource Name (ARN) of the queue to delete. '
    required:
      - jobQueue
    type: object
  DeleteJobQueueResponse:
    example: {}
    properties: {}
    type: object
  DeregisterJobDefinitionRequest:
    properties:
      jobDefinition:
        $ref: '#/definitions/String'
        description: 'The name and revision (<code>name:revision</code>) or full Amazon Resource Name (ARN) of the job definition to deregister. '
    required:
      - jobDefinition
    type: object
  DeregisterJobDefinitionResponse:
    example: {}
    properties: {}
    type: object
  DescribeComputeEnvironmentsRequest:
    properties:
      computeEnvironments:
        $ref: '#/definitions/StringList'
        description: 'A list of up to 100 compute environment names or full Amazon Resource Name (ARN) entries. '
      maxResults:
        $ref: '#/definitions/Integer'
        description: 'The maximum number of cluster results returned by <code>DescribeComputeEnvironments</code> in paginated output. When this parameter is used, <code>DescribeComputeEnvironments</code> only returns <code>maxResults</code> results in a single page along with a <code>nextToken</code> response element. The remaining results of the initial request can be seen by sending another <code>DescribeComputeEnvironments</code> request with the returned <code>nextToken</code> value. This value can be between 1 and 100. If this parameter is not used, then <code>DescribeComputeEnvironments</code> returns up to 100 results and a <code>nextToken</code> value if applicable.'
      nextToken:
        $ref: '#/definitions/String'
[...]
