swagger: '2.0'
schemes:
  - https
host: dlp.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Provides methods for detection, risk analysis, and de-identification of privacy-sensitive fragments in text, images, and Google Cloud Platform storage repositories.'
  title: Cloud Data Loss Prevention (DLP)
  version: v2beta2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.6.2
      format: google
      url: 'https://dlp.googleapis.com/$discovery/rest?version=v2beta2'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: dlp
externalDocs:
  url: 'https://cloud.google.com/dlp/docs/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: infoTypes
  - name: organizations
  - name: projects
paths:
  /v2beta2/infoTypes:
    get:
      description: Returns sensitive information types DLP supports.
      operationId: dlp.infoTypes.list
      parameters:
        - description: |-
            Optional filter to only return infoTypes supported by certain parts of the
            API. Defaults to supported_by=INSPECT.
          in: query
          name: filter
          type: string
        - description: |-
            Optional BCP-47 language code for localized infoType friendly
            names. If omitted, or if localized strings are not available,
            en-US strings will be returned.
          in: query
          name: languageCode
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2ListInfoTypesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - infoTypes
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta2/{name}':
    delete:
      description: Deletes a job trigger.
      operationId: dlp.projects.jobTriggers.delete
      parameters:
        - description: |-
            Resource name of the project and the triggeredJob, for example
            `projects/dlp-test-project/jobTriggers/53234423`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleProtobufEmpty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: Gets a job trigger.
      operationId: dlp.projects.jobTriggers.get
      parameters:
        - description: |-
            Resource name of the project and the triggeredJob, for example
            `projects/dlp-test-project/jobTriggers/53234423`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2JobTrigger'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    patch:
      description: Updates a job trigger.
      operationId: dlp.projects.jobTriggers.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2UpdateJobTriggerRequest'
        - description: |-
            Resource name of the project and the triggeredJob, for example
            `projects/dlp-test-project/jobTriggers/53234423`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2JobTrigger'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{name}:cancel':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Starts asynchronous cancellation on a long-running DlpJob.  The server
        makes a best effort to cancel the DlpJob, but success is not
        guaranteed.
      operationId: dlp.projects.dlpJobs.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2CancelDlpJobRequest'
        - description: The name of the DlpJob resource to be cancelled.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GoogleProtobufEmpty'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{parent}/content:deidentify':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        De-identifies potentially sensitive info from a ContentItem.
        This method has limits on input size and output size.
        [How-to guide](/dlp/docs/deidentify-sensitive-data)
      operationId: dlp.projects.content.deidentify
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2DeidentifyContentRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2DeidentifyContentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{parent}/content:inspect':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Finds potentially sensitive info in content.
        This method has limits on input size, processing time, and output size.
        [How-to guide for text](/dlp/docs/inspecting-text), [How-to guide for
        images](/dlp/docs/inspecting-images)
      operationId: dlp.projects.content.inspect
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2InspectContentRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2InspectContentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{parent}/content:reidentify':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Re-identify content that has been de-identified.
      operationId: dlp.projects.content.reidentify
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2ReidentifyContentRequest'
        - description: The parent resource name.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2ReidentifyContentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{parent}/dataSource:analyze':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Schedules a job to compute risk analysis metrics over content in a Google
        Cloud Platform repository. [How-to guide](/dlp/docs/compute-risk-analysis)
      operationId: dlp.projects.dataSource.analyze
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2DlpJob'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{parent}/dataSource:inspect':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Schedules a job scanning content in a Google Cloud Platform data
        repository. [How-to guide](/dlp/docs/inspecting-storage)
      operationId: dlp.projects.dataSource.inspect
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2InspectDataSourceRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2DlpJob'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{parent}/deidentifyTemplates':
    get:
      description: Lists inspect templates.
      operationId: dlp.projects.deidentifyTemplates.list
      parameters:
        - description: |-
            Optional size of the page, can be limited by server. If zero server returns
            a page of max size 100.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Optional page token to continue retrieval. Comes from previous call
            to `ListDeidentifyTemplates`.
          in: query
          name: pageToken
          type: string
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2ListDeidentifyTemplatesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates an Deidentify template for re-using frequently used configuration
        for Deidentifying content, images, and storage.
      operationId: dlp.projects.deidentifyTemplates.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2CreateDeidentifyTemplateRequest'
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2DeidentifyTemplate'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{parent}/dlpJobs':
    get:
      description: Lists DlpJobs that match the specified filter in the request.
      operationId: dlp.projects.dlpJobs.list
      parameters:
        - description: |-
            Optional. Allows filtering.

            Supported syntax:

            * Filter expressions are made up of one or more restrictions.
            * Restrictions can be combined by `AND` or `OR` logical operators. A
            sequence of restrictions implicitly uses `AND`.
            * A restriction has the form of `<field> <operator> <value>`.
            * Supported fields/values for inspect jobs:
                - `state` - PENDING|RUNNING|CANCELED|FINISHED|FAILED
                - `inspected_storage` - DATASTORE|CLOUD_STORAGE|BIGQUERY
                - `trigger_name` - The resource name of the trigger that created job.
            * Supported fields for risk analysis jobs:
                - `state` - RUNNING|CANCELED|FINISHED|FAILED
            * The operator must be `=` or `!=`.

            Examples:

            * inspected_storage = cloud_storage AND state = done
            * inspected_storage = cloud_storage OR inspected_storage = bigquery
            * inspected_storage = cloud_storage AND (state = done OR state = canceled)

            The length of this field should be no more than 500 characters.
          in: query
          name: filter
          type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          type: string
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: The type of job. Defaults to `DlpJobType.INSPECT`
          enum:
            - DLP_JOB_TYPE_UNSPECIFIED
            - INSPECT_JOB
            - RISK_ANALYSIS_JOB
          in: query
          name: type
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2ListDlpJobsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v2beta2/{parent}/image:redact':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Redacts potentially sensitive info from an image.
        This method has limits on input size, processing time, and output size.
        [How-to guide](/dlp/docs/redacting-sensitive-data-images)
      operationId: dlp.projects.image.redact
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2RedactImageRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2RedactImageResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{parent}/inspectTemplates':
    get:
      description: Lists inspect templates.
      operationId: dlp.projects.inspectTemplates.list
      parameters:
        - description: |-
            Optional size of the page, can be limited by server. If zero server returns
            a page of max size 100.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Optional page token to continue retrieval. Comes from previous call
            to `ListInspectTemplates`.
          in: query
          name: pageToken
          type: string
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2ListInspectTemplatesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates an inspect template for re-using frequently used configuration
        for inspecting content, images, and storage.
      operationId: dlp.projects.inspectTemplates.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2CreateInspectTemplateRequest'
        - description: |-
            The parent resource name, for example projects/my-project-id or
            organizations/my-org-id.
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2InspectTemplate'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v2beta2/{parent}/jobTriggers':
    get:
      description: Lists job triggers.
      operationId: dlp.projects.jobTriggers.list
      parameters:
        - description: |-
            Optional comma separated list of triggeredJob fields to order by,
            followed by 'asc/desc' postfix, i.e.
            `"create_time asc,name desc,schedule_mode asc"`. This list is
            case-insensitive.

            Example: `"name asc,schedule_mode desc, status desc"`

            Supported filters keys and values are:

            - `create_time`: corresponds to time the triggeredJob was created.
            - `update_time`: corresponds to time the triggeredJob was last updated.
            - `name`: corresponds to JobTrigger's display name.
            - `status`: corresponds to the triggeredJob status.
          in: query
          name: orderBy
          type: string
        - description: 'Optional size of the page, can be limited by a server.'
          in: query
          name: pageSize
          type: integer
        - description: |-
            Optional page token to continue retrieval. Comes from previous call
            to ListJobTriggers. `order_by` and `filter` should not change for
            subsequent calls, but can be omitted if token is specified.
          in: query
          name: pageToken
          type: string
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2ListJobTriggersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: |-
        Creates a job to run DLP actions such as scanning storage for sensitive
        information on a set schedule.
      operationId: dlp.projects.jobTriggers.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2CreateJobTriggerRequest'
        - description: 'The parent resource name, for example projects/my-project-id.'
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GooglePrivacyDlpV2beta2JobTrigger'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
definitions:
  GooglePrivacyDlpV2beta1AuxiliaryTable:
    description: |-
      An auxiliary table contains statistical information on the relative
      frequency of different quasi-identifiers values. It has one or several
      quasi-identifiers columns, and one column that indicates the relative
      frequency of each quasi-identifier tuple.
      If a tuple is present in the data but not in the auxiliary table, the
      corresponding relative frequency is assumed to be zero (and thus, the
      tuple is highly reidentifiable).
    properties:
      quasiIds:
        description: 'Quasi-identifier columns. [required]'
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1QuasiIdField'
        type: array
      relativeFrequency:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: |-
          The relative frequency column must contain a floating-point number
          between 0 and 1 (inclusive). Null values are assumed to be zero.
          [required]
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryTable'
        description: 'Auxiliary table location. [required]'
    type: object
  GooglePrivacyDlpV2beta1BigQueryOptions:
    description: Options defining BigQuery table and row identifiers.
    properties:
      identifyingFields:
        description: |-
          References to fields uniquely identifying rows within the table.
          Nested fields in the format, like `person.birthdate.year`, are allowed.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        type: array
      tableReference:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryTable'
        description: Complete BigQuery table reference.
    type: object
  GooglePrivacyDlpV2beta1BigQueryTable:
    description: |-
      Message defining the location of a BigQuery table. A table is uniquely
      identified  by its project_id, dataset_id, and table_name. Within a query
      a table is often referenced with a string in the format of:
      `<project_id>:<dataset_id>.<table_id>` or
      `<project_id>.<dataset_id>.<table_id>`.
    properties:
      datasetId:
        description: Dataset ID of the table.
        type: string
      projectId:
        description: |-
          The Google Cloud Platform project ID of the project containing the table.
          If omitted, project ID is inferred from the API call.
        type: string
      tableId:
        description: Name of the table.
        type: string
    type: object
  GooglePrivacyDlpV2beta1CategoricalStatsConfig:
    description: |-
      Compute numerical stats over an individual column, including
      number of distinct values and value count distribution.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: |-
          Field to compute categorical stats on. All column types are
          supported except for arrays and structs. However, it may be more
          informative to use NumericalStats when the field type is supported,
          depending on the data.
    type: object
  GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket:
    description: Histogram bucket of value frequencies in the column.
    properties:
      bucketSize:
        description: Total number of records in this bucket.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of value frequencies in this bucket. The total number of
          values returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ValueFrequency'
        type: array
      valueFrequencyLowerBound:
        description: Lower bound on the value frequency of the values in this bucket.
        format: int64
        type: string
      valueFrequencyUpperBound:
        description: Upper bound on the value frequency of the values in this bucket.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1CategoricalStatsResult:
    description: Result of the categorical stats computation.
    properties:
      valueFrequencyHistogramBuckets:
        description: Histogram of value frequencies in the column.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1CategoricalStatsHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta1CloudStorageOptions:
    description: |-
      Options defining a file or a set of files (path ending with *) within
      a Google Cloud Storage bucket.
    properties:
      fileSet:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FileSet'
    type: object
  GooglePrivacyDlpV2beta1CloudStoragePath:
    description: A location in Cloud Storage.
    properties:
      path:
        description: 'The url, in the format of `gs://bucket/<path>`.'
        type: string
    type: object
  GooglePrivacyDlpV2beta1CustomInfoType:
    description: |-
      Custom information type provided by the user. Used to find domain-specific
      sensitive information configurable to the data in question.
    properties:
      dictionary:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Dictionary'
        description: Dictionary-based custom info type.
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          Info type configuration. All custom info types must have configurations
          that do not conflict with built-in info types or other custom info types.
      surrogateType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1SurrogateType'
        description: Surrogate info type.
    type: object
  GooglePrivacyDlpV2beta1DatastoreOptions:
    description: Options defining a data set within Google Cloud Datastore.
    properties:
      kind:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KindExpression'
        description: The kind to process.
      partitionId:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PartitionId'
        description: |-
          A partition ID identifies a grouping of entities. The grouping is always
          by project and namespace, however the namespace ID may be empty.
      projection:
        description: |-
          Properties to scan. If none are specified, all properties will be scanned
          by default.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Projection'
        type: array
    type: object
  GooglePrivacyDlpV2beta1Dictionary:
    description: |-
      Custom information type based on a dictionary of words or phrases. This can
      be used to match sensitive information specific to the data, such as a list
      of employee IDs or job titles.

      Dictionary words are case-insensitive and all characters other than letters
      and digits in the unicode [Basic Multilingual
      Plane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)
      will be replaced with whitespace when scanning for matches, so the
      dictionary phrase "Sam Johnson" will match all three phrases "sam johnson",
      "Sam, Johnson", and "Sam (Johnson)". Additionally, the characters
      surrounding any match must be of a different type than the adjacent
      characters within the word, so letters must be next to non-letters and
      digits next to non-digits. For example, the dictionary word "jen" will
      match the first three letters of the text "jen123" but will return no
      matches for "jennifer".

      Dictionary words containing a large number of characters that are not
      letters or digits may result in unexpected findings because such characters
      are treated as whitespace.
    properties:
      wordList:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1WordList'
        description: List of words or phrases to search for.
    type: object
  GooglePrivacyDlpV2beta1EntityId:
    description: |-
      An entity in a dataset is a field or set of fields that correspond to a
      single person. For example, in medical records the `EntityId` might be
      a patient identifier, or for financial records it might be an account
      identifier. This message is used when generalizations or analysis must be
      consistent across multiple rows pertaining to the same entity.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: Composite key indicating which field contains the entity identifier.
    type: object
  GooglePrivacyDlpV2beta1FieldId:
    description: General identifier of a data field in a storage service.
    properties:
      columnName:
        description: Name describing the field.
        type: string
    type: object
  GooglePrivacyDlpV2beta1FileSet:
    description: Set of files to scan.
    properties:
      url:
        description: |-
          The url, in the format `gs://<bucket>/<path>`. Trailing wildcard in the
          path is allowed.
        type: string
    type: object
  GooglePrivacyDlpV2beta1InfoType:
    description: Type of information detected by the API.
    properties:
      name:
        description: Name of the information type.
        type: string
    type: object
  GooglePrivacyDlpV2beta1InfoTypeLimit:
    description: |-
      Max findings configuration per info type, per content item or long running
      operation.
    properties:
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          Type of information the findings limit applies to. Only one limit per
          info_type should be provided. If InfoTypeLimit does not have an
          info_type, the DLP API applies the limit against all info_types that are
          found but not specified in another InfoTypeLimit.
      maxFindings:
        description: Max findings limit for the given infoType.
        format: int32
        type: integer
    type: object
  GooglePrivacyDlpV2beta1InfoTypeStatistics:
    description: Statistics regarding a specific InfoType.
    properties:
      count:
        description: Number of findings for this info type.
        format: int64
        type: string
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: The type of finding this stat is for.
    type: object
  GooglePrivacyDlpV2beta1InspectConfig:
    description: |-
      Configuration description of the scanning process.
      When used with redactContent only info_types and min_likelihood are currently
      used.
    properties:
      customInfoTypes:
        description: Custom info types provided by the user.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1CustomInfoType'
        type: array
      excludeTypes:
        description: 'When true, excludes type information of the findings.'
        type: boolean
      includeQuote:
        description: |-
          When true, a contextual quote from the data that triggered a finding is
          included in the response; see Finding.quote.
        type: boolean
      infoTypeLimits:
        description: Configuration of findings limit given for specified info types.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoTypeLimit'
        type: array
      infoTypes:
        description: |-
          Restricts what info_types to look for. The values must correspond to
          InfoType values returned by ListInfoTypes or found in documentation.
          Empty info_types runs all enabled detectors.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        type: array
      maxFindings:
        description: Limits the number of findings per content item or long running operation.
        format: int32
        type: integer
      minLikelihood:
        description: Only returns findings equal or above this threshold.
        enum:
          - LIKELIHOOD_UNSPECIFIED
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
        type: string
    type: object
  GooglePrivacyDlpV2beta1InspectOperationMetadata:
    description: Metadata returned within GetOperation for an inspect request.
    properties:
      createTime:
        description: The time which this request was started.
        format: google-datetime
        type: string
      infoTypeStats:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoTypeStatistics'
        type: array
      processedBytes:
        description: Total size in bytes that were processed.
        format: int64
        type: string
      requestInspectConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InspectConfig'
        description: The inspect config used to create the Operation.
      requestOutputConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1OutputStorageConfig'
        description: Optional location to store findings.
      requestStorageConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1StorageConfig'
        description: The storage config used to create the Operation.
      totalEstimatedBytes:
        description: Estimate of the number of bytes to process.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1InspectOperationResult:
    description: The operational data.
    properties:
      name:
        description: |-
          The server-assigned name, which is only unique within the same service that
          originally returns it. If you use the default HTTP mapping, the
          `name` should have the format of `inspect/results/{id}`.
        type: string
    type: object
  GooglePrivacyDlpV2beta1KAnonymityConfig:
    description: 'k-anonymity metric, used for analysis of reidentification risk.'
    properties:
      entityId:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1EntityId'
        description: |-
          Optional message indicating that each distinct entity_id should not
          contribute to the k-anonymity count more than once per equivalence class.
          If an entity_id appears on several rows with different quasi-identifier
          tuples, it will contribute to each count exactly once.

          This can lead to unexpected results. Consider a table where ID 1 is
          associated to quasi-identifier "foo", ID 2 to "bar", and ID 3 to *both*
          quasi-identifiers "foo" and "bar" (on separate rows), and where this ID
          is used as entity_id. Then, the anonymity value associated to ID 3 will
          be 2, even if it is the only ID to be associated to both values "foo" and
          "bar".
      quasiIds:
        description: |-
          Set of fields to compute k-anonymity over. When multiple fields are
          specified, they are considered a single composite key. Structs and
          repeated data types are not supported; however, nested fields are
          supported so long as they are not structs themselves or nested within
          a repeated field.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass:
    description: The set of columns' values that share the same k-anonymity value.
    properties:
      equivalenceClassSize:
        description: |-
          Size of the equivalence class, for example number of rows with the
          above set of values.
        format: int64
        type: string
      quasiIdsValues:
        description: |-
          Set of values defining the equivalence class. One value per
          quasi-identifier column in the original KAnonymity metric message.
          The order is always the same as the original request.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KAnonymityHistogramBucket:
    description: Histogram bucket of equivalence class sizes in the table.
    properties:
      bucketSize:
        description: Total number of records in this bucket.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of equivalence classes in this bucket. The total number of
          classes returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1KAnonymityEquivalenceClass'
        type: array
      equivalenceClassSizeLowerBound:
        description: Lower bound on the size of the equivalence classes in this bucket.
        format: int64
        type: string
      equivalenceClassSizeUpperBound:
        description: Upper bound on the size of the equivalence classes in this bucket.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1KAnonymityResult:
    description: Result of the k-anonymity computation.
    properties:
      equivalenceClassHistogramBuckets:
        description: Histogram of k-anonymity equivalence classes.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1KAnonymityHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KMapEstimationConfig:
    description: |-
      Reidentifiability metric. This corresponds to a risk model similar to what
      is called "journalist risk" in the literature, except the attack dataset is
      statistically modeled instead of being perfectly known. This can be done
      using publicly available data (like the US Census), or using a custom
      statistical model (indicated as one or several BigQuery tables), or by
      extrapolating from the distribution of values in the input dataset.
    properties:
      auxiliaryTables:
        description: |-
          Several auxiliary tables can be used in the analysis. Each custom_tag
          used to tag a quasi-identifiers column must appear in exactly one column
          of one auxiliary table.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1AuxiliaryTable'
        type: array
      quasiIds:
        description: |-
          Fields considered to be quasi-identifiers. No two columns can have the
          same tag. [required]
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1TaggedField'
        type: array
      regionCode:
        description: |-
          ISO 3166-1 alpha-2 region code to use in the statistical modeling.
          Required if no column is tagged with a region-specific InfoType (like
          US_ZIP_5) or a region code.
        type: string
    type: object
  GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket:
    description: |-
      A KMapEstimationHistogramBucket message with the following values:
        min_anonymity: 3
        max_anonymity: 5
        frequency: 42
      means that there are 42 records whose quasi-identifier values correspond
      to 3, 4 or 5 people in the overlying population. An important particular
      case is when min_anonymity = max_anonymity = 1: the frequency field then
      corresponds to the number of uniquely identifiable records.
    properties:
      bucketSize:
        description: Number of records within these anonymity bounds.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of quasi-identifier tuple values in this bucket. The total
          number of classes returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues'
        type: array
      maxAnonymity:
        description: Always greater than or equal to min_anonymity.
        format: int64
        type: string
      minAnonymity:
        description: Always positive.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1KMapEstimationQuasiIdValues:
    description: A tuple of values for the quasi-identifier columns.
    properties:
      estimatedAnonymity:
        description: The estimated anonymity for these quasi-identifier values.
        format: int64
        type: string
      quasiIdsValues:
        description: The quasi-identifier values.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KMapEstimationResult:
    description: |-
      Result of the reidentifiability analysis. Note that these results are an
      estimation, not exact values.
    properties:
      kMapEstimationHistogram:
        description: |-
          The intervals [min_anonymity, max_anonymity] do not overlap. If a value
          doesn't correspond to any such interval, the associated frequency is
          zero. For example, the following records:
            {min_anonymity: 1, max_anonymity: 1, frequency: 17}
            {min_anonymity: 2, max_anonymity: 3, frequency: 42}
            {min_anonymity: 5, max_anonymity: 10, frequency: 99}
          mean that there are no record with an estimated anonymity of 4, 5, or
          larger than 10.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1KMapEstimationHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta1KindExpression:
    description: A representation of a Datastore kind.
    properties:
      name:
        description: The name of the kind.
        type: string
    type: object
  GooglePrivacyDlpV2beta1LDiversityConfig:
    description: 'l-diversity metric, used for analysis of reidentification risk.'
    properties:
      quasiIds:
        description: |-
          Set of quasi-identifiers indicating how equivalence classes are
          defined for the l-diversity computation. When multiple fields are
          specified, they are considered a single composite key.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        type: array
      sensitiveAttribute:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: Sensitive field for computing the l-value.
    type: object
  GooglePrivacyDlpV2beta1LDiversityEquivalenceClass:
    description: The set of columns' values that share the same l-diversity value.
    properties:
      equivalenceClassSize:
        description: Size of the k-anonymity equivalence class.
        format: int64
        type: string
      numDistinctSensitiveValues:
        description: Number of distinct sensitive values in this equivalence class.
        format: int64
        type: string
      quasiIdsValues:
        description: |-
          Quasi-identifier values defining the k-anonymity equivalence
          class. The order is always the same as the original request.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        type: array
      topSensitiveValues:
        description: Estimated frequencies of top sensitive values.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1ValueFrequency'
        type: array
    type: object
  GooglePrivacyDlpV2beta1LDiversityHistogramBucket:
    description: Histogram bucket of sensitive value frequencies in the table.
    properties:
      bucketSize:
        description: Total number of records in this bucket.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of equivalence classes in this bucket. The total number of
          classes returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1LDiversityEquivalenceClass'
        type: array
      sensitiveValueFrequencyLowerBound:
        description: |-
          Lower bound on the sensitive value frequencies of the equivalence
          classes in this bucket.
        format: int64
        type: string
      sensitiveValueFrequencyUpperBound:
        description: |-
          Upper bound on the sensitive value frequencies of the equivalence
          classes in this bucket.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta1LDiversityResult:
    description: Result of the l-diversity computation.
    properties:
      sensitiveValueFrequencyHistogramBuckets:
        description: Histogram of l-diversity equivalence class sensitive value frequencies.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1LDiversityHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta1NumericalStatsConfig:
    description: |-
      Compute numerical stats over an individual column, including
      min, max, and quantiles.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: |-
          Field to compute numerical stats on. Supported types are
          integer, float, date, datetime, timestamp, time.
    type: object
  GooglePrivacyDlpV2beta1NumericalStatsResult:
    description: Result of the numerical stats computation.
    properties:
      maxValue:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: Maximum value appearing in the column.
      minValue:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: Minimum value appearing in the column.
      quantileValues:
        description: |-
          List of 99 values that partition the set of field values into 100 equal
          sized buckets.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        type: array
    type: object
  GooglePrivacyDlpV2beta1OutputStorageConfig:
    description: Cloud repository for storing output.
    properties:
      storagePath:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CloudStoragePath'
        description: |-
          The path to a Google Cloud Storage location to store output.
          The bucket must already exist and
          the Google APIs service account for DLP must have write permission to
          write to the given bucket.
          Results are split over multiple csv files with each file name matching
          the pattern "[operation_id]_[count].csv", for example
          `3094877188788974909_1.csv`. The `operation_id` matches the
          identifier for the Operation, and the `count` is a counter used for
          tracking the number of files written.

          The CSV file(s) contain the following columns regardless of storage type
          scanned:
          - id
          - info_type
          - likelihood
          - byte size of finding
          - quote
          - timestamp

          For Cloud Storage the next columns are:

          - file_path
          - start_offset

          For Cloud Datastore the next columns are:

          - project_id
          - namespace_id
          - path
          - column_name
          - offset

          For BigQuery the next columns are:

          - row_number
          - project_id
          - dataset_id
          - table_id
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryTable'
        description: Store findings in a new table in the dataset.
    type: object
  GooglePrivacyDlpV2beta1PartitionId:
    description: |-
      Datastore partition ID.
      A partition ID identifies a grouping of entities. The grouping is always
      by project and namespace, however the namespace ID may be empty.

      A partition ID contains several dimensions:
      project ID and namespace ID.
    properties:
      namespaceId:
        description: 'If not empty, the ID of the namespace to which the entities belong.'
        type: string
      projectId:
        description: The ID of the project to which the entities belong.
        type: string
    type: object
  GooglePrivacyDlpV2beta1PrivacyMetric:
    description: Privacy metric to compute for reidentification risk analysis.
    properties:
      categoricalStatsConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CategoricalStatsConfig'
      kAnonymityConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KAnonymityConfig'
      kMapEstimationConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KMapEstimationConfig'
      lDiversityConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1LDiversityConfig'
      numericalStatsConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1NumericalStatsConfig'
    type: object
  GooglePrivacyDlpV2beta1Projection:
    description: A representation of a Datastore property in a projection.
    properties:
      property:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PropertyReference'
        description: The property to project.
    type: object
  GooglePrivacyDlpV2beta1PropertyReference:
    description: A reference to a property relative to the Datastore kind expressions.
    properties:
      name:
        description: |-
          The name of the property.
          If name includes "."s, it may be interpreted as a property name path.
        type: string
    type: object
  GooglePrivacyDlpV2beta1QuasiIdField:
    description: |-
      A quasi-identifier column has a custom_tag, used to know which column
      in the data corresponds to which column in the statistical model.
    properties:
      customTag:
        type: string
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
    type: object
  GooglePrivacyDlpV2beta1RiskAnalysisOperationMetadata:
    description: |-
      Metadata returned within the
      [`riskAnalysis.operations.get`](/dlp/docs/reference/rest/v2beta1/riskAnalysis.operations/get)
      for risk analysis.
    properties:
      createTime:
        description: The time which this request was started.
        format: google-datetime
        type: string
      requestedPrivacyMetric:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1PrivacyMetric'
        description: Privacy metric to compute.
      requestedSourceTable:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryTable'
        description: Input dataset to compute metrics over.
    type: object
  GooglePrivacyDlpV2beta1RiskAnalysisOperationResult:
    description: |-
      Result of a risk analysis
      [`Operation`](/dlp/docs/reference/rest/v2beta1/inspect.operations)
      request.
    properties:
      categoricalStatsResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CategoricalStatsResult'
      kAnonymityResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KAnonymityResult'
      kMapEstimationResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1KMapEstimationResult'
      lDiversityResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1LDiversityResult'
      numericalStatsResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1NumericalStatsResult'
    type: object
  GooglePrivacyDlpV2beta1StorageConfig:
    description: Shared message indicating Cloud storage type.
    properties:
      bigQueryOptions:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1BigQueryOptions'
        description: BigQuery options specification.
      cloudStorageOptions:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1CloudStorageOptions'
        description: Google Cloud Storage options specification.
      datastoreOptions:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1DatastoreOptions'
        description: Google Cloud Datastore options specification.
    type: object
  GooglePrivacyDlpV2beta1SurrogateType:
    description: |-
      Message for detecting output from deidentification transformations
      such as
      [`CryptoReplaceFfxFpeConfig`](/dlp/docs/reference/rest/v2beta1/content/deidentify#CryptoReplaceFfxFpeConfig).
      These types of transformations are
      those that perform pseudonymization, thereby producing a "surrogate" as
      output. This should be used in conjunction with a field on the
      transformation such as `surrogate_info_type`. This custom info type does
      not support the use of `detection_rules`.
    properties: {}
    type: object
  GooglePrivacyDlpV2beta1TaggedField:
    description: A column with a semantic tag attached.
    properties:
      customTag:
        description: |-
          A column can be tagged with a custom tag. In this case, the user must
          indicate an auxiliary table that contains statistical information on
          the possible values of this column (below).
        type: string
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1FieldId'
        description: 'Identifies the column. [required]'
      inferred:
        $ref: '#/definitions/GoogleProtobufEmpty'
        description: |-
          If no semantic tag is indicated, we infer the statistical model from
          the distribution of values in the input data
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1InfoType'
        description: |-
          A column can be tagged with a InfoType to use the relevant public
          dataset as a statistical model of population, if available. We
          currently support US ZIP codes, region codes, ages and genders.
    type: object
  GooglePrivacyDlpV2beta1Value:
    description: |-
      Set of primitive values supported by the system.
      Note that for the purposes of inspection or transformation, the number
      of bytes considered to comprise a 'Value' is based on its representation
      as a UTF-8 encoded string. For example, if 'integer_value' is set to
      123456789, the number of bytes would be counted as 9, even though an
      int64 only holds up to 8 bytes of data.
    properties:
      booleanValue:
        type: boolean
      dateValue:
        $ref: '#/definitions/GoogleTypeDate'
      floatValue:
        format: double
        type: number
      integerValue:
        format: int64
        type: string
      stringValue:
        type: string
      timeValue:
        $ref: '#/definitions/GoogleTypeTimeOfDay'
      timestampValue:
        format: google-datetime
        type: string
    type: object
  GooglePrivacyDlpV2beta1ValueFrequency:
    description: 'A value of a field, including its frequency.'
    properties:
      count:
        description: How many times the value is contained in the field.
        format: int64
        type: string
      value:
        $ref: '#/definitions/GooglePrivacyDlpV2beta1Value'
        description: A value contained in the field in question.
    type: object
  GooglePrivacyDlpV2beta1WordList:
    description: Message defining a list of words or phrases to search for in the data.
    properties:
      words:
        description: |-
          Words or phrases defining the dictionary. The dictionary must contain
          at least one phrase and every phrase must contain at least 2 characters
          that are letters or digits. [required]
        items:
          type: string
        type: array
    type: object
  GooglePrivacyDlpV2beta2Action:
    description: A task to execute on the completion of a job.
    properties:
      pubSub:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2PublishToPubSub'
        description: Publish a notification to a pubsub topic.
      saveFindings:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2SaveFindings'
        description: Save resulting findings in a provided location.
    type: object
  GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskDetails:
    description: Result of a risk analysis operation request.
    properties:
      categoricalStatsResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2CategoricalStatsResult'
      kAnonymityResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2KAnonymityResult'
      kMapEstimationResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2KMapEstimationResult'
      lDiversityResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2LDiversityResult'
      numericalStatsResult:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2NumericalStatsResult'
      requestedPrivacyMetric:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2PrivacyMetric'
        description: Privacy metric to compute.
      requestedSourceTable:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2BigQueryTable'
        description: Input dataset to compute metrics over.
    type: object
  GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskRequest:
    description: Request for creating a risk analysis DlpJob.
    properties:
      jobConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2RiskAnalysisJobConfig'
        description: Configuration for this risk analysis job.
      jobId:
        description: |-
          Optional job ID to use for the created job. If not provided, a job ID will
          automatically be generated. Must be unique within the project. The job ID
          can contain uppercase and lowercase letters, numbers, and hyphens; that is,
          it must match the regular expression: `[a-zA-Z\\d-]+`. The maximum length
          is 100 characters. Can be empty to allow the system to generate one.
        type: string
    type: object
  GooglePrivacyDlpV2beta2AuxiliaryTable:
    description: |-
      An auxiliary table contains statistical information on the relative
      frequency of different quasi-identifiers values. It has one or several
      quasi-identifiers columns, and one column that indicates the relative
      frequency of each quasi-identifier tuple.
      If a tuple is present in the data but not in the auxiliary table, the
      corresponding relative frequency is assumed to be zero (and thus, the
      tuple is highly reidentifiable).
    properties:
      quasiIds:
        description: 'Quasi-identifier columns. [required]'
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta2QuasiIdField'
        type: array
      relativeFrequency:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2FieldId'
        description: |-
          The relative frequency column must contain a floating-point number
          between 0 and 1 (inclusive). Null values are assumed to be zero.
          [required]
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2BigQueryTable'
        description: 'Auxiliary table location. [required]'
    type: object
  GooglePrivacyDlpV2beta2BigQueryKey:
    description: Row key for identifying a record in BigQuery table.
    properties:
      rowNumber:
        description: |-
          Absolute number of the row from the beginning of the table at the time
          of scanning.
        format: int64
        type: string
      tableReference:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2BigQueryTable'
        description: Complete BigQuery table reference.
    type: object
  GooglePrivacyDlpV2beta2BigQueryOptions:
    description: Options defining BigQuery table and row identifiers.
    properties:
      identifyingFields:
        description: |-
          References to fields uniquely identifying rows within the table.
          Nested fields in the format, like `person.birthdate.year`, are allowed.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta2FieldId'
        type: array
      tableReference:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2BigQueryTable'
        description: Complete BigQuery table reference.
    type: object
  GooglePrivacyDlpV2beta2BigQueryTable:
    description: |-
      Message defining the location of a BigQuery table. A table is uniquely
      identified  by its project_id, dataset_id, and table_name. Within a query
      a table is often referenced with a string in the format of:
      `<project_id>:<dataset_id>.<table_id>` or
      `<project_id>.<dataset_id>.<table_id>`.
    properties:
      datasetId:
        description: Dataset ID of the table.
        type: string
      projectId:
        description: |-
          The Google Cloud Platform project ID of the project containing the table.
          If omitted, project ID is inferred from the API call.
        type: string
      tableId:
        description: Name of the table.
        type: string
    type: object
  GooglePrivacyDlpV2beta2Bucket:
    description: 'Bucket is represented as a range, along with replacement values.'
    properties:
      max:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2Value'
        description: 'Upper bound of the range, exclusive; type must match min.'
      min:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2Value'
        description: |-
          Lower bound of the range, inclusive. Type should be the same as max if
          used.
      replacementValue:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2Value'
        description: |-
          Replacement value for this bucket. If not provided
          the default behavior will be to hyphenate the min-max range.
    type: object
  GooglePrivacyDlpV2beta2BucketingConfig:
    description: |-
      Generalization function that buckets values based on ranges. The ranges and
      replacement values are dynamically provided by the user for custom behavior,
      such as 1-30 -> LOW 31-65 -> MEDIUM 66-100 -> HIGH
      This can be used on
      data of type: number, long, string, timestamp.
      If the bound `Value` type differs from the type of data being transformed, we
      will first attempt converting the type of the data to be transformed to match
      the type of the bound before comparing.
    properties:
      buckets:
        description: Set of buckets. Ranges must be non-overlapping.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta2Bucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta2CancelDlpJobRequest:
    description: The request message for canceling a DLP job.
    properties: {}
    type: object
  GooglePrivacyDlpV2beta2CategoricalStatsConfig:
    description: |-
      Compute numerical stats over an individual column, including
      number of distinct values and value count distribution.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2FieldId'
        description: |-
          Field to compute categorical stats on. All column types are
          supported except for arrays and structs. However, it may be more
          informative to use NumericalStats when the field type is supported,
          depending on the data.
    type: object
  GooglePrivacyDlpV2beta2CategoricalStatsHistogramBucket:
    properties:
      bucketSize:
        description: Total number of values in this bucket.
        format: int64
        type: string
      bucketValueCount:
        description: Total number of distinct values in this bucket.
        format: int64
        type: string
      bucketValues:
        description: |-
          Sample of value frequencies in this bucket. The total number of
          values returned per bucket is capped at 20.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta2ValueFrequency'
        type: array
      valueFrequencyLowerBound:
        description: Lower bound on the value frequency of the values in this bucket.
        format: int64
        type: string
      valueFrequencyUpperBound:
        description: Upper bound on the value frequency of the values in this bucket.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta2CategoricalStatsResult:
    description: Result of the categorical stats computation.
    properties:
      valueFrequencyHistogramBuckets:
        description: Histogram of value frequencies in the column.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta2CategoricalStatsHistogramBucket'
        type: array
    type: object
  GooglePrivacyDlpV2beta2CharacterMaskConfig:
    description: |-
      Partially mask a string by replacing a given number of characters with a
      fixed character. Masking can start from the beginning or end of the string.
      This can be used on data of any type (numbers, longs, and so on) and when
      de-identifying structured data we'll attempt to preserve the original data's
      type. (This allows you to take a long like 123 and modify it to a string like
      **3.
    properties:
      charactersToIgnore:
        description: |-
          When masking a string, items in this list will be skipped when replacing.
          For example, if your string is 555-555-5555 and you ask us to skip `-` and
          mask 5 chars with * we would produce ***-*55-5555.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta2CharsToIgnore'
        type: array
      maskingCharacter:
        description: |-
          Character to mask the sensitive values&mdash;for example, "*" for an
          alphabetic string such as name, or "0" for a numeric string such as ZIP
          code or credit card number. String must have length 1. If not supplied, we
          will default to "*" for strings, 0 for digits.
        type: string
      numberToMask:
        description: |-
          Number of characters to mask. If not set, all matching chars will be
          masked. Skipped characters do not count towards this tally.
        format: int32
        type: integer
      reverseOrder:
        description: |-
          Mask characters in reverse order. For example, if `masking_character` is
          '0', number_to_mask is 14, and `reverse_order` is false, then
          1234-5678-9012-3456 -> 00000000000000-3456
          If `masking_character` is '*', `number_to_mask` is 3, and `reverse_order`
          is true, then 12345 -> 12***
        type: boolean
    type: object
  GooglePrivacyDlpV2beta2CharsToIgnore:
    description: |-
      Characters to skip when doing deidentification of a value. These will be left
      alone and skipped.
    properties:
      charactersToSkip:
        type: string
      commonCharactersToIgnore:
        enum:
          - COMMON_CHARS_TO_IGNORE_UNSPECIFIED
          - NUMERIC
          - ALPHA_UPPER_CASE
          - ALPHA_LOWER_CASE
          - PUNCTUATION
          - WHITESPACE
        type: string
    type: object
  GooglePrivacyDlpV2beta2CloudStorageKey:
    description: Record key for a finding in a Cloud Storage file.
    properties:
      filePath:
        description: Path to the file.
        type: string
      startOffset:
        description: Byte offset of the referenced data in the file.
        format: int64
        type: string
    type: object
  GooglePrivacyDlpV2beta2CloudStorageOptions:
    description: |-
      Options defining a file or a set of files (path ending with *) within
      a Google Cloud Storage bucket.
    properties:
      bytesLimitPerFile:
        description: |-
          Max number of bytes to scan from a file. If a scanned file's size is bigger
          than this value then the rest of the bytes are omitted.
        format: int64
        type: string
      fileSet:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2FileSet'
    type: object
  GooglePrivacyDlpV2beta2Color:
    description: Represents a color in the RGB color space.
    properties:
      blue:
        description: 'The amount of blue in the color as a value in the interval [0, 1].'
        format: float
        type: number
      green:
        description: 'The amount of green in the color as a value in the interval [0, 1].'
        format: float
        type: number
      red:
        description: 'The amount of red in the color as a value in the interval [0, 1].'
        format: float
        type: number
    type: object
  GooglePrivacyDlpV2beta2Condition:
    description: |-
      The field type of `value` and `field` do not need to match to be
      considered equal, but not all comparisons are possible.

      A `value` of type:

      - `string` can be compared against all other types
      - `boolean` can only be compared against other booleans
      - `integer` can be compared against doubles or a string if the string value
      can be parsed as an integer.
      - `double` can be compared against integers or a string if the string can
      be parsed as a double.
      - `Timestamp` can be compared against strings in RFC 3339 date string
      format.
      - `TimeOfDay` can be compared against timestamps and strings in the format
      of 'HH:mm:ss'.

      If we fail to compare do to type mismatch, a warning will be given and
      the condition will evaluate to false.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2FieldId'
        description: 'Field within the record this condition is evaluated against. [required]'
      operator:
        description: 'Operator used to compare the field or infoType to the value. [required]'
        enum:
          - RELATIONAL_OPERATOR_UNSPECIFIED
          - EQUAL_TO
          - NOT_EQUAL_TO
          - GREATER_THAN
          - LESS_THAN
          - GREATER_THAN_OR_EQUALS
          - LESS_THAN_OR_EQUALS
          - EXISTS
        type: string
      value:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2Value'
        description: 'Value to compare against. [Required, except for `EXISTS` tests.]'
    type: object
  GooglePrivacyDlpV2beta2Conditions:
    description: A collection of conditions.
    properties:
      conditions:
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta2Condition'
        type: array
    type: object
  GooglePrivacyDlpV2beta2ContentItem:
    description: Container structure for the content to inspect.
    properties:
      data:
        description: Content data to inspect or redact.
        format: byte
        type: string
      table:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2Table'
        description: Structured content for inspection.
      type:
        description: |-
          Type of the content, as defined in Content-Type HTTP header.
          Supported types are: all "text" types, octet streams, PNG images,
          JPEG images.
        type: string
      value:
        description: String data to inspect or redact.
        type: string
    type: object
  GooglePrivacyDlpV2beta2CreateDeidentifyTemplateRequest:
    description: Request message for CreateDeidentifyTemplate.
    properties:
      deidentifyTemplate:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2DeidentifyTemplate'
        description: The DeidentifyTemplate to create.
      templateId:
        description: |-
          The template id can contain uppercase and lowercase letters,
          numbers, and hyphens; that is, it must match the regular
          expression: `[a-zA-Z\\d-]+`. The maximum length is 100
          characters. Can be empty to allow the system to generate one.
        type: string
    type: object
  GooglePrivacyDlpV2beta2CreateInspectTemplateRequest:
    description: Request message for CreateInspectTemplate.
    properties:
      inspectTemplate:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2InspectTemplate'
        description: The InspectTemplate to create.
      templateId:
        description: |-
          The template id can contain uppercase and lowercase letters,
          numbers, and hyphens; that is, it must match the regular
          expression: `[a-zA-Z\\d-]+`. The maximum length is 100
          characters. Can be empty to allow the system to generate one.
        type: string
    type: object
  GooglePrivacyDlpV2beta2CreateJobTriggerRequest:
    description: Request message for CreateJobTrigger.
    properties:
      jobTrigger:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2JobTrigger'
        description: The JobTrigger to create.
      triggerId:
        description: |-
          The trigger id can contain uppercase and lowercase letters,
          numbers, and hyphens; that is, it must match the regular
          expression: `[a-zA-Z\\d-]+`. The maximum length is 100
          characters. Can be empty to allow the system to generate one.
        type: string
    type: object
  GooglePrivacyDlpV2beta2CryptoHashConfig:
    description: |-
      Pseudonymization method that generates surrogates via cryptographic hashing.
      Uses SHA-256.
      The key size must be either 32 or 64 bytes.
      Outputs a 32 byte digest as an uppercase hex string
      (for example, 41D1567F7F99F1DC2A5FAB886DEE5BEE).
      Currently, only string and integer values can be hashed.
    properties:
      cryptoKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2CryptoKey'
        description: The key used by the hash function.
    type: object
  GooglePrivacyDlpV2beta2CryptoKey:
    description: |-
      This is a data encryption key (DEK) (as opposed to
      a key encryption key (KEK) stored by KMS).
      When using KMS to wrap/unwrap DEKs, be sure to set an appropriate
      IAM policy on the KMS CryptoKey (KEK) to ensure an attacker cannot
      unwrap the data crypto key.
    properties:
      kmsWrapped:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2KmsWrappedCryptoKey'
      transient:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2TransientCryptoKey'
      unwrapped:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2UnwrappedCryptoKey'
    type: object
  GooglePrivacyDlpV2beta2CryptoReplaceFfxFpeConfig:
    description: |-
      Replaces an identifier with a surrogate using FPE with the FFX
      mode of operation; however when used in the `ReidentifyContent` API method,
      it serves the opposite function by reversing the surrogate back into
      the original identifier.
      The identifier must be encoded as ASCII.
      For a given crypto key and context, the same identifier will be
      replaced with the same surrogate.
      Identifiers must be at least two characters long.
      In the case that the identifier is the empty string, it will be skipped.
      See [Pseudonymization](/dlp/docs/pseudonymization) for example usage.
    properties:
      commonAlphabet:
        enum:
          - FFX_COMMON_NATIVE_ALPHABET_UNSPECIFIED
          - NUMERIC
          - HEXADECIMAL
          - UPPER_CASE_ALPHA_NUMERIC
          - ALPHA_NUMERIC
        type: string
      context:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2FieldId'
        description: |-
          The 'tweak', a context may be used for higher security since the same
          identifier in two different contexts won't be given the same surrogate. If
          the context is not set, a default tweak will be used.

          If the context is set but:

          1. there is no record present when transforming a given value or
          1. the field is not present when transforming a given value,

          a default tweak will be used.

          Note that case (1) is expected when an `InfoTypeTransformation` is
          applied to both structured and non-structured `ContentItem`s.
          Currently, the referenced field may be of value type integer or string.

          The tweak is constructed as a sequence of bytes in big endian byte order
          such that:

          - a 64 bit integer is encoded followed by a single byte of value 1
          - a string is encoded in UTF-8 format followed by a single byte of value
           å 2
      cryptoKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2CryptoKey'
        description: 'The key used by the encryption algorithm. [required]'
      customAlphabet:
        description: |-
          This is supported by mapping these to the alphanumeric characters
          that the FFX mode natively supports. This happens before/after
          encryption/decryption.
          Each character listed must appear only once.
          Number of characters must be in the range [2, 62].
          This must be encoded as ASCII.
          The order of characters does not matter.
        type: string
      radix:
        description: 'The native way to select the alphabet. Must be in the range [2, 62].'
        format: int32
        type: integer
      surrogateInfoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2InfoType'
        description: |-
          The custom infoType to annotate the surrogate with.
          This annotation will be applied to the surrogate by prefixing it with
          the name of the custom infoType followed by the number of
          characters comprising the surrogate. The following scheme defines the
          format: info_type_name(surrogate_character_count):surrogate

          For example, if the name of custom infoType is 'MY_TOKEN_INFO_TYPE' and
          the surrogate is 'abc', the full replacement value
          will be: 'MY_TOKEN_INFO_TYPE(3):abc'

          This annotation identifies the surrogate when inspecting content using the
          custom infoType
          [`SurrogateType`](/dlp/docs/reference/rest/v2beta2/InspectConfig#surrogatetype).
          This facilitates reversal of the surrogate when it occurs in free text.

          In order for inspection to work properly, the name of this infoType must
          not occur naturally anywhere in your data; otherwise, inspection may
          find a surrogate that does not correspond to an actual identifier.
          Therefore, choose your custom infoType name carefully after considering
          what your data looks like. One way to select a name that has a high chance
          of yielding reliable detection is to include one or more unicode characters
          that are highly improbable to exist in your data.
          For example, assuming your data is entered from a regular ASCII keyboard,
          the symbol with the hex code point 29DD might be used like so:
          ⧝MY_TOKEN_TYPE
    type: object
  GooglePrivacyDlpV2beta2CustomInfoType:
    description: |-
      Custom information type provided by the user. Used to find domain-specific
      sensitive information configurable to the data in question.
    properties:
      detectionRules:
        description: |-
          Set of detection rules to apply to all findings of this custom info type.
          Rules are applied in order that they are specified. Not supported for the
          `surrogate_type` custom info type.
        items:
          $ref: '#/definitions/GooglePrivacyDlpV2beta2DetectionRule'
        type: array
      dictionary:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2Dictionary'
        description: Dictionary-based custom info type.
      infoType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2InfoType'
        description: |-
          Info type configuration. All custom info types must have configurations
          that do not conflict with built-in info types or other custom info types.
      likelihood:
        description: |-
          Likelihood to return for this custom info type. This base value can be
          altered by a detection rule if the finding meets the criteria specified by
          the rule. Defaults to `VERY_LIKELY` if not specified.
        enum:
          - LIKELIHOOD_UNSPECIFIED
          - VERY_UNLIKELY
          - UNLIKELY
          - POSSIBLE
          - LIKELY
          - VERY_LIKELY
        type: string
      regex:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2Regex'
        description: Regex-based custom info type.
      surrogateType:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2SurrogateType'
        description: Surrogate info type.
    type: object
  GooglePrivacyDlpV2beta2DatastoreKey:
    description: Record key for a finding in Cloud Datastore.
    properties:
      entityKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2Key'
        description: Datastore entity key.
    type: object
  GooglePrivacyDlpV2beta2DatastoreOptions:
    description: Options defining a data set within Google Cloud Datastore.
    properties:
      kind:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2KindExpression'
        description: The kind to process.
      partitionId:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2PartitionId'
        description: |-
          A partition ID identifies a grouping of entities. The grouping is always
          by project and namespace, however the namespace ID may be empty.
    type: object
  GooglePrivacyDlpV2beta2DateShiftConfig:
    description: |-
      Shifts dates by random number of days, with option to be consistent for the
      same context.
    properties:
      context:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2FieldId'
        description: |-
          Points to the field that contains the context, for example, an entity id.
          If set, must also set method. If set, shift will be consistent for the
          given context.
      cryptoKey:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2CryptoKey'
        description: |-
          Causes the shift to be computed based on this key and the context. This
          results in the same shift for the same context and crypto_key.
      lowerBoundDays:
        description: |-
          For example, -5 means shift date to at most 5 days back in the past.
          [Required]
        format: int32
        type: integer
      upperBoundDays:
        description: |-
          Range of shift in days. Actual shift will be selected at random within this
          range (inclusive ends). Negative means shift to earlier in time. Must not
          be more than 365250 days (1000 years) each direction.

          For example, 3 means shift date to at most 3 days into the future.
          [Required]
        format: int32
        type: integer
    type: object
  GooglePrivacyDlpV2beta2DateTime:
    description: Message for a date time object.
    properties:
      date:
        $ref: '#/definitions/GoogleTypeDate'
        description: |-
          One or more of the following must be set. All fields are optional, but
          when set must be valid date or time values.
      dayOfWeek:
        enum:
          - DAY_OF_WEEK_UNSPECIFIED
          - MONDAY
          - TUESDAY
          - WEDNESDAY
          - THURSDAY
          - FRIDAY
          - SATURDAY
          - SUNDAY
        type: string
      time:
        $ref: '#/definitions/GoogleTypeTimeOfDay'
      timeZone:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2TimeZone'
    type: object
  GooglePrivacyDlpV2beta2DeidentifyConfig:
    description: The configuration that controls how the data will change.
    properties:
      infoTypeTransformations:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2InfoTypeTransformations'
        description: |-
          Treat the dataset as free-form text and apply the same free text
          transformation everywhere.
      recordTransformations:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2RecordTransformations'
        description: |-
          Treat the dataset as structured. Transformations can be applied to
          specific locations within structured datasets, such as transforming
          a column within a table.
    type: object
  GooglePrivacyDlpV2beta2DeidentifyContentRequest:
    description: Request to de-identify a list of items.
    properties:
      deidentifyConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2DeidentifyConfig'
        description: |-
          Configuration for the de-identification of the content item.
          Items specified here will override the template referenced by the
          deidentify_template_name argument.
      deidentifyTemplateName:
        description: |-
          Optional template to use. Any configuration directly specified in
          deidentify_config will override those set in the template. Singular fields
          that are set in this request will replace their corresponding fields in the
          template. Repeated fields are appended. Singular sub-messages and groups
          are recursively merged.
        type: string
      inspectConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2InspectConfig'
        description: |-
          Configuration for the inspector.
          Items specified here will override the template referenced by the
          inspect_template_name argument.
      inspectTemplateName:
        description: |-
          Optional template to use. Any configuration directly specified in
          inspect_config will override those set in the template. Singular fields
          that are set in this request will replace their corresponding fields in the
          template. Repeated fields are appended. Singular sub-messages and groups
          are recursively merged.
        type: string
      item:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2ContentItem'
        description: The item to de-identify. Will be treated as text.
    type: object
  GooglePrivacyDlpV2beta2DeidentifyContentResponse:
    description: Results of de-identifying a ContentItem.
    properties:
      item:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2ContentItem'
        description: The de-identified item.
      overview:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2TransformationOverview'
        description: An overview of the changes that were made on the `item`.
    type: object
  GooglePrivacyDlpV2beta2DeidentifyTemplate:
    description: The DeidentifyTemplates contains instructions on how to deidentify content.
    properties:
      createTime:
        description: 'The creation timestamp of a inspectTemplate, output only field.'
        format: google-datetime
        type: string
      deidentifyConfig:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2DeidentifyConfig'
        description: ///////////// // The core content of the template  // ///////////////
      description:
        description: Short description (max 256 chars).
        type: string
      displayName:
        description: Display name (max 256 chars).
        type: string
      name:
        description: |-
          The template name. Output only.

          The template will have one of the following formats:
          `projects/PROJECT_ID/deidentifyTemplates/TEMPLATE_ID` OR
          `organizations/ORGANIZATION_ID/deidentifyTemplates/TEMPLATE_ID`
        type: string
      updateTime:
        description: 'The last update timestamp of a inspectTemplate, output only field.'
        format: google-datetime
        type: string
    type: object
  GooglePrivacyDlpV2beta2DetectionRule:
    description: |-
      Rule for modifying a custom info type to alter behavior under certain
      circumstances, depending on the specific details of the rule. Not supported
      for the `surrogate_type` custom info type.
    properties:
      hotwordRule:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2HotwordRule'
        description: Hotword-based detection rule.
    type: object
  GooglePrivacyDlpV2beta2Dictionary:
    description: |-
      Custom information type based on a dictionary of words or phrases. This can
      be used to match sensitive information specific to the data, such as a list
      of employee IDs or job titles.

      Dictionary words are case-insensitive and all characters other than letters
      and digits in the unicode [Basic Multilingual
      Plane](https://en.wikipedia.org/wiki/Plane_%28Unicode%29#Basic_Multilingual_Plane)
      will be replaced with whitespace when scanning for matches, so the
      dictionary phrase "Sam Johnson" will match all three phrases "sam johnson",
      "Sam, Johnson", and "Sam (Johnson)". Additionally, the characters
      surrounding any match must be of a different type than the adjacent
      characters within the word, so letters must be next to non-letters and
      digits next to non-digits. For example, the dictionary word "jen" will
      match the first three letters of the text "jen123" but will return no
      matches for "jennifer".

      Dictionary words containing a large number of characters that are not
      letters or digits may result in unexpected findings because such characters
      are treated as whitespace.
    properties:
      wordList:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2WordList'
        description: List of words or phrases to search for.
    type: object
  GooglePrivacyDlpV2beta2DlpJob:
    description: Combines all of the information about a DLP job.
    properties:
      createTime:
        description: Time when the job was created.
        format: google-datetime
        type: string
      endTime:
        description: Time when the job finished.
        format: google-datetime
        type: string
      errorResults:
        description: A stream of errors encountered running the job.
        items:
          $ref: '#/definitions/GoogleRpcStatus'
        type: array
      inspectDetails:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2InspectDataSourceDetails'
        description: Results from inspecting a data source.
      jobTriggerName:
        description: |-
          If created by a job trigger, the resource name of the trigger that
          instantiated the job.
        type: string
      name:
        description: The server-assigned name.
        type: string
      riskDetails:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2AnalyzeDataSourceRiskDetails'
        description: Results from analyzing risk of a data source.
      startTime:
        description: Time when the job started.
        format: google-datetime
        type: string
      state:
        description: State of a job.
        enum:
          - JOB_STATE_UNSPECIFIED
          - PENDING
          - RUNNING
          - DONE
          - CANCELED
          - FAILED
        type: string
      type:
        description: The type of job.
        enum:
          - DLP_JOB_TYPE_UNSPECIFIED
          - INSPECT_JOB
          - RISK_ANALYSIS_JOB
        type: string
    type: object
  GooglePrivacyDlpV2beta2EntityId:
    description: |-
      An entity in a dataset is a field or set of fields that correspond to a
      single person. For example, in medical records the `EntityId` might be
      a patient identifier, or for financial records it might be an account
      identifier. This message is used when generalizations or analysis must be
      consistent across multiple rows pertaining to the same entity.
    properties:
      field:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2FieldId'
        description: Composite key indicating which field contains the entity identifier.
    type: object
  GooglePrivacyDlpV2beta2Error:
    description: The results of an unsuccessful activation of the JobTrigger.
    properties:
      details:
        $ref: '#/definitions/GoogleRpcStatus'
      timestamps:
        description: The times the error occurred.
        items:
          format: google-datetime
          type: string
        type: array
    type: object
  GooglePrivacyDlpV2beta2Expressions:
    description: 'An expression, consisting or an operator and conditions.'
    properties:
      conditions:
        $ref: '#/definitions/GooglePrivacyDlpV2beta2Conditions'
      logicalOperator:
        description: |-
          The operator to apply to the result of conditions. Default and currently
[...]
