swagger: '2.0'
schemes:
  - https
host: 'od-api-demo.oxforddictionaries.com:443'
basePath: /api/v1
x-hasEquivalentPaths: true
info:
  license:
    name: API Terms And Conditions
    url: 'https://developer.oxforddictionaries.com/api-terms-and-conditions'
  termsOfService: 'http://helloreverb.com/terms/'
  title: Oxford Dictionaries
  version: 1.8.0
  x-apisguru-categories:
    - text
  x-logo:
    url: 'https://developer.oxforddictionaries.com/images/logo.png'
  x-origin:
    - format: swagger
      url: 'https://developer.oxforddictionaries.com/swagger/spec/public_doc_guest.json'
      version: '2.0'
  x-providerName: oxforddictionaries.com
produces:
  - application/json
parameters:
  appId:
    default: 5037d509
    description: App ID Authentication Parameter
    in: header
    name: app_id
    required: true
    type: string
    x-data-threescale-name: app_ids
  appKey:
    default: 4dc1aebaa63721f0f8e79a55e2514bc7
    description: App Key Authentication Parameter
    in: header
    name: app_key
    required: true
    type: string
    x-data-threescale-name: app_keys
  entriesWordId:
    default: ace
    description: An Entry identifier. Case-sensitive.
    in: path
    name: word_id
    required: true
    type: string
  keyValFilters:
    collectionFormat: csv
    description: Separate filtering conditions using a semicolon. Conditions take values grammaticalFeatures and/or lexicalCategory and are case-sensitive. To list multiple values in single condition divide them with comma.
    in: path
    items:
      pattern: (lexicalCategory|grammaticalFeatures)=.+
      type: string
    name: filters
    required: true
    type: array
  monolingual-lemmatron-source_lang:
    description: IANA language code
    enum:
      - en
      - es
      - hi
      - nso
      - tn
      - zu
      - de
      - pt
    in: path
    name: source_lang
    required: true
    type: string
  monolingual-source_lang:
    description: IANA language code
    enum:
      - en
      - es
      - lv
      - hi
      - sw
      - ta
      - gu
    in: path
    name: source_lang
    required: true
    type: string
  monolingual-wordlist-source_lang:
    description: IANA language code
    enum:
      - en
      - es
      - hi
      - lv
      - sw
      - ta
      - gu
    in: path
    name: source_lang
    required: true
    type: string
  thesaurus-source_lang:
    description: IANA language code
    enum:
      - en
    in: path
    name: source_lang
    required: true
    type: string
paths:
  '/domains/{source_domains_language}/{target_domains_language}':
    get:
      description: |
        Returns a list of the available [domains](documentation/glossary?term=domain) for a given bilingual language dataset.
      parameters:
        - description: IANA language code
          enum:
            - en
            - es
            - nso
            - zu
            - ur
            - de
            - pt
          in: path
          name: source_domains_language
          required: true
          type: string
        - description: IANA language code
          enum:
            - es
            - nso
            - zu
            - ms
            - id
            - tn
            - ro
            - de
            - pt
          in: path
          name: target_domains_language
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/UtilityLabels'
            title: DomainsResults
        '400':
          description: source_language and target_language are same.
        '404':
          description: Unknown source_language and/or target_language.
      summary: Lists available domains in a bilingual dataset
      tags:
        - Utility
  '/domains/{source_language}':
    get:
      description: |
        Returns a list of the available [domains](documentation/glossary?term=domain) for a given monolingual language dataset.
      parameters:
        - description: IANA language code
          enum:
            - en
            - es
            - nso
            - zu
            - hi
            - sw
            - ur
            - de
            - pt
            - ta
            - gu
          in: path
          name: source_language
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/UtilityLabels'
            title: DomainsResults
        '404':
          description: Unknown source_language.
      summary: Lists available domains in a monolingual dataset
      tags:
        - Utility
  '/entries/{source_language}/{word_id}/sentences':
    get:
      description: |

        Use this to retrieve sentences extracted from  corpora which show how a word is used in the language. This is available for English and Spanish. For English, the sentences are linked to the correct sense of the word in the dictionary. In Spanish, they are linked at the headword level.
          <div id="sentences"></div>
      externalDocs:
        description: find more info here
        url: 'https://helloreverb.com/about'
      parameters:
        - description: IANA language code
          enum:
            - en
            - es
          in: path
          name: source_language
          required: true
          type: string
        - $ref: '#/parameters/entriesWordId'
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/SentencesResults'
            title: SentencesResults
        '404':
          description: |
            No entry is found matching supplied id and source_language
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve corpus sentences for a given word
      tags:
        - The Sentence Dictionary
  '/entries/{source_lang}/{word_id}':
    get:
      description: |

        Use this to retrieve definitions, pronunciations, example sentences, grammatical information and word origins. It only works for dictionary headwords, so you may need to use the Lemmatron first if your input is likely to be an inflected form (e.g., 'swimming'). This would return the linked headword (e.g., 'swim') which you can then use in the Entries endpoint. Unless specified using a region filter, the default lookup will be the Oxford Dictionary of English (GB). 
          <div id="dictionary_entries"></div>
      externalDocs:
        description: find more info here
        url: 'https://helloreverb.com/about'
      parameters:
        - $ref: '#/parameters/monolingual-source_lang'
        - $ref: '#/parameters/entriesWordId'
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/RetrieveEntry'
            title: RetrieveEntryResults
        '404':
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve dictionary information for a given word
      tags:
        - Dictionary entries
  '/entries/{source_lang}/{word_id}/antonyms':
    get:
      description: |

        Retrieve words that are opposite in meaning to the input word (antonym).

          <div id="antonyms"></div>
      externalDocs:
        description: find more info here
        url: 'https://helloreverb.com/about'
      parameters:
        - $ref: '#/parameters/thesaurus-source_lang'
        - $ref: '#/parameters/entriesWordId'
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Thesaurus'
            title: ThesaurusResults
        '404':
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve words that mean the opposite
      tags:
        - Thesaurus
  '/entries/{source_lang}/{word_id}/regions={region}':
    get:
      description: |

        USe this filter to restrict the lookup to either our Oxford Dictionary of English (GB) or New Oxford American Dictionary (US).
      externalDocs:
        description: find more info here
        url: 'https://helloreverb.com/about'
      parameters:
        - description: IANA language code
          enum:
            - en
          in: path
          name: source_lang
          required: true
          type: string
        - $ref: '#/parameters/entriesWordId'
        - description: Region filter parameter. gb = Oxford Dictionary of English. us = New Oxford American Dictionary.
          enum:
            - gb
            - us
          in: path
          name: region
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/RetrieveEntry'
            title: RetrieveEntryResults
        '404':
          description: |
            no entry is found matching supplied source_lang and id
            and/or that entry has no senses with translations in the target language. 
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Specify GB or US dictionary for English entry search
      tags:
        - Dictionary entries
  '/entries/{source_lang}/{word_id}/synonyms':
    get:
      description: |

        Use this to retrieve words that are similar in meaning to the input word (synonym).

          <div id="synonyms"></div>
      externalDocs:
        description: find more info here
        url: 'https://helloreverb.com/about'
      parameters:
        - $ref: '#/parameters/thesaurus-source_lang'
        - $ref: '#/parameters/entriesWordId'
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Thesaurus'
            title: ThesaurusResults
        '404':
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve words that are similar
      tags:
        - Thesaurus
  '/entries/{source_lang}/{word_id}/synonyms;antonyms':
    get:
      description: |

        Retrieve available [synonyms](documentation/glossary?term=thesaurus) and [antonyms](documentation/glossary?term=thesaurus) for a given word and language. 

          <div id="synonyms_and_antonyms"></div>
      externalDocs:
        description: find more info here
        url: 'https://helloreverb.com/about'
      parameters:
        - $ref: '#/parameters/thesaurus-source_lang'
        - $ref: '#/parameters/entriesWordId'
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Thesaurus'
            title: ThesaurusResults
        '404':
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve synonyms and antonyms for a given word
      tags:
        - Thesaurus
  '/entries/{source_lang}/{word_id}/{filters}':
    get:
      description: |

        Use filters to limit the entry information that is returned. For example, you may only require definitions and not everything else, or just pronunciations. The full list of filters can be retrieved from the filters Utility endpoint. You can also specify values within the filter using '='. For example 'grammaticalFeatures=singular'. Filters can also be combined using a semicolon.

          <div id="dictionary_entries_filters"></div>
      parameters:
        - $ref: '#/parameters/monolingual-source_lang'
        - $ref: '#/parameters/entriesWordId'
        - $ref: '#/parameters/keyValFilters'
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/RetrieveEntry'
            title: RetrieveEntryResults
        '404':
          description: |
            no entry is found matching supplied source_lang and id
            and/or that entry has no senses with translations in the target language. 
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Apply filters to response
      tags:
        - Dictionary entries
  '/entries/{source_translation_language}/{word_id}/translations={target_translation_language}':
    get:
      description: |

        Use this to return translations for a given word. In the event that a word in the dataset does not have a direct translation, the response will be a [definition](documentation/glossary?term=entry) in the target language.

          <div id="translation"></div>
      parameters:
        - description: IANA language code
          enum:
            - en
            - es
            - nso
            - zu
            - ms
            - id
            - tn
            - ur
            - de
            - pt
          in: path
          name: source_translation_language
          required: true
          type: string
        - default: change
          description: The source word
          in: path
          name: word_id
          required: true
          type: string
        - description: IANA language code
          enum:
            - es
            - nso
            - zu
            - ms
            - id
            - tn
            - ro
            - de
            - pt
          in: path
          name: target_translation_language
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response. In case word doesn't have a direct translation a response would be definitions.
          schema:
            $ref: '#/definitions/RetrieveEntry'
            title: InflectionsResults
        '400':
          description: any of target languages is unknown
        '404':
          description: |
            no entry is found matching supplied source_lang and id
            and/or that entry has no senses with translations in the target language(s). 
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve translation for a given word
      tags:
        - Translation
  /filters:
    get:
      description: |
        Returns a list of all the valid filters to construct API calls.
      parameters:
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Filters'
            title: FiltersResults
        '500':
          description: Internal Error. An error occurred while processing the data.
      summary: Lists available filters
      tags:
        - Utility
  '/filters/{endpoint}':
    get:
      description: |
        Returns a list of all the valid filters for a given endpoint to construct API calls.
      parameters:
        - description: Name of the endpoint.
          enum:
            - entries
            - inflections
            - translations
          in: path
          name: endpoint
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Filters'
            title: FiltersResults
        '404':
          description: Unknown endpoint.
        '500':
          description: Internal Error. An error occurred while processing the data.
      summary: Lists available filters for specific endpoint
      tags:
        - Utility
  '/grammaticalFeatures/{source_language}':
    get:
      description: |
        Returns a list of the available [grammatical features](documentation/glossary?term=grammaticalfeatures) for a given language dataset.
      parameters:
        - description: IANA language code. If provided output will be filtered by sourceLanguage.
          enum:
            - en
            - es
            - lv
            - nso
            - zu
            - ms
            - tn
            - ur
            - hi
            - sw
            - de
            - pt
            - ta
            - gu
          in: path
          name: source_language
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/UtilityLabels'
            title: RegistersResults
        '404':
          description: Unknown source_language.
      summary: Lists available grammatical features in a dataset
      tags:
        - Utility
  '/inflections/{source_lang}/{word_id}':
    get:
      description: |

        Use this to check if a word exists in the dictionary, or what 'root' form it links to (e.g., swimming > swim). The response tells you the possible [lemmas](documentation/glossary?term=lemma) for a given [inflected](documentation/glossary?term=inflection) word. This can then be combined with other endpoints to retrieve more information.

          <div id="lemmatron"></div>
      parameters:
        - $ref: '#/parameters/monolingual-lemmatron-source_lang'
        - default: swimming
          description: The input word
          in: path
          name: word_id
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Lemmatron'
            title: InflectionsResults
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Check a word exists in the dictionary and retrieve its root form
      tags:
        - Lemmatron
  '/inflections/{source_lang}/{word_id}/{filters}':
    get:
      description: |

        Retrieve available [lemmas](documentation/glossary?term=lemma) for a given [inflected](documentation/glossary?term=inflection) wordform. Filter results by categories.  

          <div id="lemmatron_filters"></div>
      parameters:
        - $ref: '#/parameters/monolingual-lemmatron-source_lang'
        - default: change
          description: The input word
          in: path
          name: word_id
          required: true
          type: string
        - $ref: '#/parameters/keyValFilters'
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Lemmatron'
            title: InflectionsResults
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Apply optional filters to Lemmatron response
      tags:
        - Lemmatron
  /languages:
    get:
      description: |
        Returns a list of monolingual and bilingual language datasets available in the API
      parameters:
        - description: IANA language code. If provided output will be filtered by sourceLanguage.
          enum:
            - es
            - en
            - lv
            - nso
            - zu
            - ms
            - id
            - tn
            - ur
            - hi
            - sw
            - ro
            - de
            - pt
            - ta
            - gu
          in: query
          name: sourceLanguage
          required: false
          type: string
        - description: IANA language code. If provided output will be filtered by sourceLanguage.
          enum:
            - es
            - en
            - lv
            - nso
            - zu
            - ms
            - id
            - tn
            - ur
            - hi
            - sw
            - ro
          in: query
          name: targetLanguage
          required: false
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Languages'
            title: LanguagesResults
        '404':
          description: Unknown sourceLanguage and/or targetLanguage.
        '500':
          description: Internal Error. An error occurred while processing the data.
      summary: Lists available dictionaries
      tags:
        - Utility
  '/lexicalcategories/{language}':
    get:
      description: |
        Returns a list of available [lexical categories](documentation/glossary?term=lexicalcategory) for a given language dataset.
      parameters:
        - description: IANA language code
          enum:
            - es
            - en
            - lv
            - nso
            - zu
            - ms
            - id
            - tn
            - ur
            - hi
            - sw
            - ro
            - de
            - pt
            - ta
            - gu
          in: path
          name: language
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/UtilityLabels'
            title: LexicalCategoriesResults
        '404':
          description: Unknown language.
        '500':
          description: Internal Error. An error occurred while processing the data.
      summary: Lists available lexical categories in a dataset
      tags:
        - Utility
  '/regions/{source_language}':
    get:
      description: |
        Returns a list of the available [regions](documentation/glossary?term=regions) for a given monolingual language dataset.
      parameters:
        - description: IANA language code
          enum:
            - en
          in: path
          name: source_language
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Regions'
            title: RegionsResults
        '404':
          description: Unknown source_language.
      summary: Lists available regions in a monolingual dataset
      tags:
        - Utility
  '/registers/{source_language}':
    get:
      description: |
        Returns a list of the available [registers](documentation/glossary?term=registers) for a given monolingual language dataset.
      parameters:
        - description: IANA language code
          enum:
            - en
            - es
            - hi
            - id
            - lv
            - ms
            - sw
            - ur
            - de
            - pt
            - ta
            - gu
          in: path
          name: source_language
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/UtilityLabels'
            title: RegistersResults
        '404':
          description: Unknown source_language.
        '500':
          description: Internal Error. An error occurred while processing the data.
      summary: Lists available registers in a  monolingual dataset
      tags:
        - Utility
  '/registers/{source_register_language}/{target_register_language}':
    get:
      description: |
        Returns a list of the available [registers](documentation/glossary?term=registers) for a given bilingual language dataset.
      parameters:
        - description: IANA language code
          enum:
            - en
            - es
            - ms
            - id
            - ur
            - de
            - pt
          in: path
          name: source_register_language
          required: true
          type: string
        - description: IANA language code
          enum:
            - es
            - en
            - nso
            - zu
            - ms
            - id
            - tn
            - ro
            - de
            - pt
          in: path
          name: target_register_language
          required: true
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/UtilityLabels'
            title: RegistersResults
        '400':
          description: source_language and target_language are same.
        '404':
          description: Unknown source_language and/or target_language.
        '500':
          description: Internal Error. An error occurred while processing the data.
      summary: Lists available registers in a bilingual dataset
      tags:
        - Utility
  '/search/{source_lang}':
    get:
      description: |

        Use this to retrieve possible headword matches for a given string of text. The results are culculated using headword matching, fuzzy matching, and lemmatization 

          <div id="search"></div>
      externalDocs:
        description: find more info here
        url: 'https://helloreverb.com/about'
      parameters:
        - description: IANA language code
          enum:
            - en
            - es
            - hi
            - lv
            - sw
            - ta
            - gu
          in: path
          name: source_lang
          required: true
          type: string
        - default: eye
          description: Search string
          in: query
          name: q
          required: false
          type: string
        - description: Set prefix to true if you'd like to get results only starting with search string.
          enum:
            - 'false'
            - 'true'
          in: query
          name: prefix
          required: false
          type: boolean
        - description: 'If searching in English, filter words with specific region(s) either ''us'' or ''gb''.'
          in: query
          name: regions
          required: false
          type: string
        - description: Limit the number of results per response. Default and maximum limit is 5000.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset the start number of the result.
          in: query
          name: offset
          required: false
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Wordlist'
            title: WordlistResults
        '404':
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve possible matches to input
      tags:
        - Search
  '/search/{source_search_language}/translations={target_search_language}':
    get:
      description: |

        Use this to find matches in our translation dictionaries.

          <div id="search_translation"></div>
      externalDocs:
        description: find more info here
        url: 'https://helloreverb.com/about'
      parameters:
        - description: IANA language code
          enum:
            - en
            - es
            - nso
            - zu
            - ms
            - id
            - tn
            - ur
            - de
            - pt
          in: path
          name: source_search_language
          required: true
          type: string
        - description: IANA language code
          enum:
            - es
            - nso
            - zu
            - ms
            - id
            - tn
            - ro
            - de
            - pt
          in: path
          name: target_search_language
          required: true
          type: string
        - default: eye
          description: Search string.
          in: query
          name: q
          required: false
          type: string
        - description: Set prefix to true if you'd like to get results only starting with search string.
          enum:
            - 'false'
            - 'true'
          in: query
          name: prefix
          required: false
          type: boolean
        - description: 'Filter words with specific region(s) E.g., regions=us. For now gb, us are available for en language.'
          in: query
          name: regions
          required: false
          type: string
        - description: Limit the number of results per response. Default and maximum limit is 5000.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset the start number of the result.
          in: query
          name: offset
          required: false
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Wordlist'
            title: WordlistResults
        '404':
          description: |
            No entry is found matching supplied id and source_lang or filters are not recognized
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve possible translation matches to input
      tags:
        - Search
  '/wordlist/{source_lang}/{filters_advanced}':
    get:
      description: |
        Use this to apply more complex filters to the list of words. For example, you may only want to filter out words for which all senses match the filter, or only its 'prime sense'. You can also filter by word length or match by substring (prefix). 

          <div id="wordlist_advanced"></div>
      parameters:
        - $ref: '#/parameters/monolingual-wordlist-source_lang'
        - default: lexicalCategory=Noun;domains=sport
          description: 'Semicolon separated list of wordlist parameters, presented as value pairs: LexicalCategory, domains, regions, registers. Parameters can take comma separated list of values. E.g., lexicalCategory=noun,adjective;domains=sport. Number of values limited to 5.'
          in: path
          name: filters_advanced
          required: true
          type: string
        - description: 'Semicolon separated list of parameters-value pairs (same as filters). Excludes headwords that have any senses in specified exclusion attributes (lexical categories, domains, etc.) from results.'
          in: query
          name: exclude
          required: false
          type: string
        - description: 'Semicolon separated list of parameters-value pairs (same as filters). Excludes only those senses of a particular headword that match specified exclusion attributes (lexical categories, domains, etc.) from results but includes the headword if it has other permitted senses.'
          in: query
          name: exclude_senses
          required: false
          type: string
        - description: 'Semicolon separated list of parameters-value pairs (same as filters). Excludes a headword only if the primary sense matches the specified exclusion attributes (registers, domains only).'
          in: query
          name: exclude_prime_senses
          required: false
          type: string
        - default: '>5,<10'
          description: 'Parameter to speficy the minimum (>), exact or maximum (<) length of the words required. E.g., >5 - more than 5 chars; <4 - less than 4 chars; >5<10 - from 5 to 10 chars; 3 - exactly 3 chars.'
          in: query
          name: word_length
          required: false
          type: string
        - default: goal
          description: Filter words that start with prefix parameter
          in: query
          name: prefix
          required: false
          type: string
        - description: If exact=true wordlist returns a list of entries that exactly matches the search string. Otherwise wordlist lists entries that start with prefix string.
          enum:
            - 'false'
            - 'true'
          in: query
          name: exact
          required: false
          type: boolean
        - description: Limit the number of results per response. Default and maximum limit is 5000.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset the start number of the result.
          in: query
          name: offset
          required: false
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Wordlist'
            title: WordlistResults
        '400':
          description: disjoint sets of word_length values (eg <3>10); filter has no values; total number of filters > 20; filters and excludes values can not be the same; source_lang and translations can not be same; word_length conflicts with prefix length.
        '404':
          description: |
            No entries is found matching supplied filters or lang or filters is not recognized.
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve list of words for category with advanced options
      tags:
        - Wordlist
  '/wordlist/{source_lang}/{filters_basic}':
    get:
      description: |

        Use this to retrieve a list of words for particular [domain](documentation/glossary?term=domain), [lexical category](documentation/glossary?term=lexicalcategory), [register](documentation/glossary?term=registers) and/or [region](documentation/glossary?term=regions). View the full list of possible filters using the filters Utility endpoint.  The response only includes headwords, not all their possible inflections. If you require a full wordlist including inflected forms, contact us and we can help.

          <div id="wordlist"></div>
      parameters:
        - $ref: '#/parameters/monolingual-wordlist-source_lang'
        - default: registers=Rare;domains=Art
          description: 'Semicolon separated list of wordlist parameters, presented as value pairs: LexicalCategory, domains, regions, registers. Parameters can take comma separated list of values. E.g., lexicalCategory=noun,adjective;domains=sport. Number of values limited to 5.'
          in: path
          name: filters_basic
          required: true
          type: string
        - description: Limit the number of results per response. Default and maximum limit is 5000.
          in: query
          name: limit
          required: false
          type: string
        - description: Offset the start number of the result
          in: query
          name: offset
          required: false
          type: string
        - $ref: '#/parameters/appId'
        - $ref: '#/parameters/appKey'
      responses:
        '200':
          description: Successful response.
          schema:
            $ref: '#/definitions/Wordlist'
            title: WordlistResults
        '400':
          description: filter has no values; total number of filters > 20.
        '404':
          description: |
            No entries is found matching supplied filters or lang or filters is not recognized.
        '500':
          description: |
            Internal Error. An error occurred while processing the data.
      summary: Retrieve a list of words in a category
      tags:
        - Wordlist
definitions:
  ArrayOfRelatedEntries:
    description: A list of written or spoken words
    items:
      additionalProperties: false
      properties:
        domains:
          $ref: '#/definitions/arrayofstrings'
          description: 'A subject, discipline, or branch of knowledge particular to the Sense'
        id:
          description: The identifier of the word
          type: string
        language:
          description: IANA language code specifying the language of the word
          type: string
        regions:
          $ref: '#/definitions/arrayofstrings'
          description: 'A particular area in which the pronunciation occurs, e.g. ''Great Britain'''
        registers:
          $ref: '#/definitions/arrayofstrings'
          description: 'A level of language usage, typically with respect to formality. e.g. ''offensive'', ''informal'''
          type: string
        text:
          type: string
      required:
        - text
        - id
      type: object
    minItems: 1
    type: array
  CategorizedTextList:
    description: various types of notes that appear
    items:
      additionalProperties: false
      properties:
        id:
          description: The identifier of the word
          type: string
        text:
          description: A note text
          type: string
        type:
          description: The descriptive category of the text
          type: string
      required:
        - text
        - type
      type: object
    minItems: 1
    type: array
  CrossReferencesList:
    description: 'A reference to another word that is closely related, might provide additional information about the subject, has a variant spelling or is an abbreviated form of it.'
    items:
      additionalProperties: false
      description: cross references of a sense
      properties:
        id:
          description: The word id of cooccurrence
          type: string
        text:
          description: The word of cooccurrence
          type: string
        type:
          description: 'The type of relation between the two words. Possible values are ''close match'', ''related'', ''see also'', ''variant spelling'', and ''abbreviation'' in case of crossreferences, or ''pre'', ''post'' in case of collocates.'
          type: string
      required:
        - id
        - text
        - type
      type: object
    minItems: 1
    type: array
  Entry:
    additionalProperties: false
    minProperties: 1
    properties:
      etymologies:
        $ref: '#/definitions/arrayofstrings'
        description: The origin of the word and the way in which its meaning has changed throughout history
      grammaticalFeatures:
        $ref: '#/definitions/GrammaticalFeaturesList'
      homographNumber:
        description: Identifies the homograph grouping. The last two digits identify different entries of the same homograph. The first one/two digits identify the homograph number.
        type: string
      notes:
        $ref: '#/definitions/CategorizedTextList'
      pronunciations:
        $ref: '#/definitions/PronunciationsList'
      senses:
        description: Complete list of senses
        items:
          $ref: '#/definitions/Sense'
        minItems: 1
        type: array
      variantForms:
        $ref: '#/definitions/VariantFormsList'
        description: 'Various words that are used interchangeably depending on the context, e.g ''a'' and ''an'''
    type: object
  ExamplesList:
    description: A list of written or spoken rendering of examples of use of a word or text
    items:
      additionalProperties: false
      properties:
        definitions:
          $ref: '#/definitions/arrayofstrings'
          description: A list of statements of the exact meaning of a word
        domains:
          $ref: '#/definitions/arrayofstrings'
          description: 'A subject, discipline, or branch of knowledge particular to the Sense'
        notes:
          $ref: '#/definitions/CategorizedTextList'
        regions:
          $ref: '#/definitions/arrayofstrings'
          description: 'A particular area in which the pronunciation occurs, e.g. ''Great Britain'''
        registers:
          $ref: '#/definitions/arrayofstrings'
          description: 'A level of language usage, typically with respect to formality. e.g. ''offensive'', ''informal'''
        senseIds:
          $ref: '#/definitions/arrayofstrings'
          description: The list of sense identifiers related to the example. Provided in the sentences endpoint only.
        text:
          type: string
        translations:
          $ref: '#/definitions/TranslationsList'
      required:
        - text
      type: object
    minItems: 1
    type: array
  Filters:
    description: Schema for the Filters endpoint.
    properties:
      metadata:
        description: Additional Information provided by OUP
        type: object
      results:
        additionalProperties: false
        description: A mapping of filters available per endpoints.
        minProperties: 1
        properties:
          entries:
            $ref: '#/definitions/arrayofstrings'
            description: A list of filters available for Retrieve Entry endpoint
          inflections:
            $ref: '#/definitions/arrayofstrings'
            description: A list of filters available for LEMMATRON endpoint
          translations:
            $ref: '#/definitions/arrayofstrings'
            description: A list of filters available for Translations endpoint
          wordlist:
            $ref: '#/definitions/arrayofstrings'
            description: A list of filters available for Translations endpoint
        type: object
  GrammaticalFeaturesList:
    description: The different forms are correlated with meanings or functions which we text as 'features'
    items:
      additionalProperties: false
      properties:
        text:
          type: string
        type:
          type: string
      required:
        - text
        - type
      type: object
    minItems: 1
    type: array
  HeadwordEntry:
    additionalProperties: false
    description: Description of a word
    properties:
      id:
        description: The identifier of a word
        type: string
      language:
        description: IANA language code
        type: string
      lexicalEntries:
        description: 'A grouping of various senses in a specific language, and a lexical category that relates to a word'
        items:
          $ref: '#/definitions/lexicalEntry'
        minItems: 1
        type: array
      pronunciations:
        $ref: '#/definitions/PronunciationsList'
      type:
        description: 'The json object type. Could be ''headword'', ''inflection'' or ''phrase'''
        type: string
      word:
        description: 'A given written or spoken realisation of a an entry, lowercased.'
        type: string
    required:
      - id
      - language
      - lexicalEntries
      - word
    type: object
  HeadwordLemmatron:
    additionalProperties: false
    description: Description of an inflected form of a word
    properties:
      id:
        description: The identifier of a word
        type: string
      language:
        description: IANA language code
        type: string
      lexicalEntries:
        description: 'A grouping of various senses in a specific language, and a lexical category that relates to a word'
        items:
          $ref: '#/definitions/LemmatronLexicalEntry'
        minItems: 1
        type: array
      type:
        description: 'The json object type. Could be ''headword'', ''inflection'' or ''phrase'''
        type: string
      word:
        description: 'A given written or spoken realisation of a an entry, lowercased.'
        type: string
    required:
      - id
      - language
      - lexicalEntries
      - word
    type: object
  HeadwordThesaurus:
    additionalProperties: false
    description: description of thesaurus information of a word
    properties:
      id:
        description: The identifier of a word
        type: string
      language:
        description: IANA language code
        type: string
      lexicalEntries:
        description: 'A grouping of various senses in a specific language, and a lexical category that relates to a word'
        items:
          $ref: '#/definitions/ThesaurusLexicalEntry'
        minItems: 1
        type: array
      type:
        description: 'The json object type. Could be ''headword'', ''inflection'' or ''phrase'''
        type: string
      word:
        description: 'A given written or spoken realisation of a an entry, lowercased.'
        type: string
    required:
      - word
      - id
      - language
      - lexicalEntries
    type: object
  InflectionsList:
    description: A grouping of the modifications of a word to express different grammatical categories
    items:
      additionalProperties: false
      properties:
        id:
          description: The identifier of the word
          type: string
        text:
          type: string
      required:
        - text
        - id
      type: object
    minItems: 1
    type: array
  Languages:
    description: Schema for the languages endpoint.
    properties:
      metadata:
        description: Additional Information provided by OUP
        type: object
      results:
        description: A list of languages available.
        items:
          additionalProperties: false
          minProperties: 1
          properties:
            region:
              description: Name of region.
              type: string
            source:
              description: Name of source dictionary.
              type: string
            sourceLanguage:
              description: Source language of the results
              properties:
                id:
                  description: IANA language code
                  type: string
                language:
                  description: Language label.
                  type: string
              type: object
            targetLanguage:
              description: Translation language of the results
              properties:
                id:
                  description: IANA language code
                  type: string
                language:
                  description: Language label.
                  type: string
              type: object
            type:
              description: whether monolingual or bilingual.
              enum:
                - monolingual
                - bilingual
              type: string
          type: object
        minItems: 1
        type: array
    type: object
  Lemmatron:
    description: Schema for the inflections endpoint.
    properties:
      metadata:
        description: Additional Information provided by OUP
        type: object
      results:
        description: A list of inflections matching a given word
        items:
          $ref: '#/definitions/HeadwordLemmatron'
        minItems: 1
        type: array
    type: object
  LemmatronLexicalEntry:
    additionalProperties: false
    description: Description of an entry for a particular part of speech and grammatical features
    properties:
      grammaticalFeatures:
        $ref: '#/definitions/GrammaticalFeaturesList'
      inflectionOf:
        $ref: '#/definitions/InflectionsList'
        description: The canonical form of words for which the entry is an inflection
      language:
        description: IANA language code
        type: string
      lexicalCategory:
        description: 'A linguistic category of words (or more precisely lexical items), generally defined by the syntactic or morphological behaviour of the lexical item in question, such as noun or verb'
        type: string
      text:
        description: A given written or spoken realisation of a an entry.
        type: string
    required:
      - inflectionOf
      - language
      - lexicalCategory
      - text
    type: object
  PronunciationsList:
    description: A list of possible pronunciations of a word
    items:
      additionalProperties: false
      description: A grouping of pronunciation information
      minProperties: 1
      properties:
        audioFile:
          description: The URL of the sound file
          type: string
        dialects:
          $ref: '#/definitions/arrayofstrings'
          description: 'A local or regional variation where the pronunciation occurs, e.g. ''British English'''
        phoneticNotation:
          description: The alphabetic system used to display the phonetic spelling
          type: string
        phoneticSpelling:
          description: Phonetic spelling is the representation of vocal sounds which express pronunciations of words. It is a system of spelling in which each letter represents invariably the same spoken sound
          type: string
        regions:
          $ref: '#/definitions/arrayofstrings'
          description: 'A particular area in which the pronunciation occurs, e.g. ''Great Britain'''
      type: object
    minItems: 1
    type: array
  Regions:
    description: Schema for region endpoint.
    properties:
      metadata:
        description: Additional Information provided by OUP
        type: object
      results:
        additionalProperties:
          $ref: '#/definitions/arrayofstrings'
          description: A list of lables for region.
        description: A mapping of regions available.
        type: object
  RetrieveEntry:
    description: Schema for the 'entries' endpoints
    properties:
      metadata:
        description: Additional Information provided by OUP
        type: object
      results:
        description: A list of entries and all the data related to them
        items:
          $ref: '#/definitions/HeadwordEntry'
        minItems: 1
        type: array
    type: object
  Sense:
    additionalProperties: false
    description: A lexical sense represents the lexical meaning of a lexical entry when interpreted as referring to the corresponding ontology element
    minProperties: 1
    properties:
      crossReferenceMarkers:
        $ref: '#/definitions/arrayofstrings'
        description: A grouping of crossreference notes.
      crossReferences:
        $ref: '#/definitions/CrossReferencesList'
      definitions:
        $ref: '#/definitions/arrayofstrings'
        description: A list of statements of the exact meaning of a word
      domains:
        $ref: '#/definitions/arrayofstrings'
        description: 'A subject, discipline, or branch of knowledge particular to the Sense'
      examples:
        $ref: '#/definitions/ExamplesList'
      id:
        description: The id of the sense that is required for the delete procedure
        type: string
      notes:
        $ref: '#/definitions/CategorizedTextList'
      pronunciations:
        $ref: '#/definitions/PronunciationsList'
      regions:
        $ref: '#/definitions/arrayofstrings'
        description: 'A particular area in which the Sense occurs, e.g. ''Great Britain'''
      registers:
        $ref: '#/definitions/arrayofstrings'
        description: 'A level of language usage, typically with respect to formality. e.g. ''offensive'', ''informal'''
      subsenses:
        description: Ordered list of subsenses of a sense
        items:
          $ref: '#/definitions/Sense'
        minItems: 1
        type: array
      translations:
        $ref: '#/definitions/TranslationsList'
      variantForms:
        $ref: '#/definitions/VariantFormsList'
        description: 'Various words that are used interchangeably depending on the context, e.g ''duck'' and ''duck boat'''
    type: object
  SentencesEntry:
    additionalProperties: false
    description: Description of a word
    properties:
      id:
        description: The identifier of a word
        type: string
      language:
        description: IANA language code
        type: string
      lexicalEntries:
        description: 'A grouping of various senses in a specific language, and a lexical category that relates to a word'
        items:
          $ref: '#/definitions/SentencesLexicalEntry'
        minItems: 1
        type: array
      type:
        description: 'The json object type. Could be ''headword'', ''inflection'' or ''phrase'''
        type: string
      word:
        description: 'A given written or spoken realisation of a an entry, lowercased.'
        type: string
    required:
      - id
      - language
      - lexicalEntries
      - word
    type: object
  SentencesLexicalEntry:
    additionalProperties: false
    description: Description of an entry for a particular part of speech
    properties:
      grammaticalFeatures:
        $ref: '#/definitions/GrammaticalFeaturesList'
      language:
        description: IANA language code
        type: string
      lexicalCategory:
        description: 'A linguistic category of words (or more precisely lexical items), generally defined by the syntactic or morphological behaviour of the lexical item in question, such as noun or verb'
        type: string
      sentences:
        $ref: '#/definitions/ExamplesList'
        description: A list of examples of use sentences
      text:
        description: A given written or spoken realisation of a an entry.
        type: string
    required:
      - language
      - sentences
      - text
    type: object
  SentencesResults:
    description: Schema for the 'sentences' endpoint
    properties:
      metadata:
        description: Additional Information provided by OUP
        type: object
      results:
        description: A list of entries and all the data related to them
        items:
          $ref: '#/definitions/SentencesEntry'
        minItems: 1
        type: array
    type: object
  SynonymsAntonyms:
    items:
      additionalProperties: false
      properties:
        domains:
          $ref: '#/definitions/arrayofstrings'
        id:
          type: string
        language:
          type: string
        regions:
          $ref: '#/definitions/arrayofstrings'
          description: 'A particular area in which the Sense occurs, e.g. ''Great Britain'''
        registers:
          $ref: '#/definitions/arrayofstrings'
          description: 'A level of language usage, typically with respect to formality. e.g. ''offensive'', ''informal'''
        text:
          type: string
      required:
        - id
        - text
      type: object
    minItems: 1
    type: array
  Thesaurus:
    description: Schema for thesaurus endpoint
    properties:
      metadata:
        description: Additional Information provided by OUP
        type: object
      results:
        description: A list of found synonyms or antonyms
        items:
          $ref: '#/definitions/HeadwordThesaurus'
        minItems: 1
        type: array
    type: object
  ThesaurusEntry:
    additionalProperties: false
    minProperties: 1
    properties:
      homographNumber:
        description: Identifies the homograph grouping. The last two digits identify different entries of the same homograph. The first one/two digits identify the homograph number.
        type: string
      senses:
        description: Complete list of senses
        items:
          $ref: '#/definitions/ThesaurusSense'
        minItems: 1
        type: array
      variantForms:
        $ref: '#/definitions/VariantFormsList'
        description: 'Various words that are used interchangeably depending on the context, e.g ''a'' and ''an'''
    type: object
  ThesaurusLexicalEntry:
    additionalProperties: false
    description: Description of an entry for a particular part of speech
    properties:
      entries:
        items:
          $ref: '#/definitions/ThesaurusEntry'
        minItems: 1
        type: array
      language:
        description: IANA language code
        type: string
      lexicalCategory:
        description: 'A linguistic category of words (or more precisely lexical items), generally defined by the syntactic or morphological behaviour of the lexical item in question, such as noun or verb'
        type: string
      text:
        description: A given written or spoken realisation of a an entry.
        type: string
      variantForms:
        $ref: '#/definitions/VariantFormsList'
        description: 'Various words that are used interchangeably depending on the context, e.g ''a'' and ''an'''
    required:
      - language
      - lexicalCategory
      - text
    type: object
  ThesaurusSense:
    additionalProperties: false
    description: A lexical sense represents the lexical meaning of a lexical entry when interpreted as referring to the corresponding ontology element
    minProperties: 1
    properties:
      antonyms:
        $ref: '#/definitions/SynonymsAntonyms'
        description: antonym of word
      domains:
        $ref: '#/definitions/arrayofstrings'
        description: 'A subject, discipline, or branch of knowledge particular to the Sense'
      examples:
        $ref: '#/definitions/ExamplesList'
      id:
        description: The id of the sense that is required for the delete procedure
        type: string
      regions:
        $ref: '#/definitions/arrayofstrings'
        description: 'A particular area in which the Sense occurs, e.g. ''Great Britain'''
      registers:
        $ref: '#/definitions/arrayofstrings'
        description: 'A level of language usage, typically with respect to formality. e.g. ''offensive'', ''informal'''
      subsenses:
        description: subsenses of word
        items:
          $ref: '#/definitions/ThesaurusSense'
        minItems: 1
        type: array
      synonyms:
        $ref: '#/definitions/SynonymsAntonyms'
        description: synonym of word
    type: object
  TranslationsList:
    description: A list of written or spoken rendering of the meaning of a word or text in another language(s)
    items:
      additionalProperties: false
      properties:
        domains:
          $ref: '#/definitions/arrayofstrings'
          description: 'A subject, discipline, or branch of knowledge particular to the translation'
        grammaticalFeatures:
          $ref: '#/definitions/GrammaticalFeaturesList'
        language:
          description: IANA language code specifying the language of the translation
          type: string
        notes:
          $ref: '#/definitions/CategorizedTextList'
        regions:
          $ref: '#/definitions/arrayofstrings'
          description: 'A particular area in which the translation occurs, e.g. ''Great Britain'''
        registers:
          $ref: '#/definitions/arrayofstrings'
          description: 'A level of language usage, typically with respect to formality. e.g. ''offensive'', ''informal'''
        text:
          type: string
      required:
        - text
        - language
      type: object
    minItems: 1
    type: array
  UtilityLabels:
    description: 'Schema for lexicalcategories, registers utility endpoints.'
    properties:
      metadata:
        description: Additional Information provided by OUP
        type: object
      results:
        additionalProperties:
          description: 'the list of labels for an object. Every object can be a lexical category, or a register, or a domain.'
          properties:
            en:
              description: Label in English
              type: string
          type: object
        description: Mapping of labels available.
        type: object
  VariantFormsList:
    description: 'Various words that are used interchangeably depending on the context, e.g ''aluminium'' and ''aluminum'''
    items:
      additionalProperties: false
      properties:
        regions:
          $ref: '#/definitions/arrayofstrings'
          description: 'A particular area in which the variant form occurs, e.g. ''Great Britain'''
        text:
          type: string
      required:
        - text
      type: object
    minItems: 1
    type: array
  Wordlist:
    description: Schema for wordlist endpoint.
    properties:
      metadata:
        description: Additional Information provided by OUP
        type: object
      results:
        description: A list of found words
        items:
          additionalProperties: true
          description: Description of found word
          properties:
            id:
              description: The identifier of a word
              type: string
            matchString:
              type:
                - string
                - 'null'
            matchType:
              type: string
            region:
              description: Name of region.
              type: string
            word:
              description: 'A given written or spoken realisation of a an entry, lowercased.'
              type: string
          required:
            - id
            - word
          type: object
        minItems: 0
        type: array
    type: object
  arrayofstrings:
    items:
      type: string
    type: array
  lexicalEntry:
    additionalProperties: false
    description: Description of an entry for a particular part of speech
    properties:
      derivativeOf:
        $ref: '#/definitions/ArrayOfRelatedEntries'
        description: Other words from which this one derives
      entries:
        items:
          $ref: '#/definitions/Entry'
        minItems: 1
        type: array
      grammaticalFeatures:
        $ref: '#/definitions/GrammaticalFeaturesList'
      language:
        description: IANA language code
        type: string
      lexicalCategory:
        description: 'A linguistic category of words (or more precisely lexical items), generally defined by the syntactic or morphological behaviour of the lexical item in question, such as noun or verb'
        type: string
      notes:
        $ref: '#/definitions/CategorizedTextList'
      pronunciations:
        $ref: '#/definitions/PronunciationsList'
      text:
        description: A given written or spoken realisation of a an entry.
        type: string
      variantForms:
        $ref: '#/definitions/VariantFormsList'
        description: 'Various words that are used interchangeably depending on the context, e.g ''a'' and ''an'''
    required:
      - language
      - lexicalCategory
      - text
    type: object
