swagger: '2.0'
schemes:
  - https
host: adminmanagement.local.azurestack.external
info:
  description: File share operation endpoints and objects.
  title: FabricAdminClient
  version: '2016-05-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/azsadmin/resource-manager/fabric/Microsoft.Fabric.Admin/stable/2016-05-01/FileShare.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: azsadmin-FileShare
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  FileShareParameter:
    description: Fabric file share name.
    in: path
    name: fileShare
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/fileShares':
    get:
      description: Get a list of all fabric file shares at a certain location.
      operationId: FileShares_List
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
        - description: OData filter parameter.
          in: query
          name: $filter
          type: string
          x-ms-parameter-location: method
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FileShareList'
      tags:
        - FileShares
      x-ms-examples:
        List all file shares:
          parameters:
            api-version: '2016-05-01'
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                value:
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_1
                    location: local
                    name: SU1_Infrastructure_1
                    properties:
                      associatedVolume: 28fbffa4
                      uncPath: \\SU1FileServer.azurestack.local\SU1_Infrastructure_1
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_2
                    location: local
                    name: SU1_Infrastructure_2
                    properties:
                      associatedVolume: 28fbffa4
                      uncPath: \\SU1FileServer.azurestack.local\SU1_Infrastructure_2
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Infrastructure_3
                    location: local
                    name: SU1_Infrastructure_3
                    properties:
                      associatedVolume: 28fbffa4
                      uncPath: \\SU1FileServer.azurestack.local\SU1_Infrastructure_3
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_ObjStore
                    location: local
                    name: SU1_ObjStore
                    properties:
                      associatedVolume: 28fbffa4
                      uncPath: \\SU1FileServer.azurestack.local\SU1_ObjStore
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Public
                    location: local
                    name: SU1_Public
                    properties:
                      associatedVolume: 28fbffa4
                      uncPath: \\SU1FileServer.azurestack.local\SU1_Public
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
                  - id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_VmTemp
                    location: local
                    name: SU1_VmTemp
                    properties:
                      associatedVolume: 28fbffa4
                      uncPath: \\SU1FileServer.azurestack.local\SU1_VmTemp
                    tags: {}
                    type: Microsoft.Fabric.Admin/fabricLocations/fileShares
      x-ms-odata: '#/definitions/FileShare'
      x-ms-pageable: {}
  '/subscriptions/{subscriptionId}/resourceGroups/System.{location}/providers/Microsoft.Fabric.Admin/fabricLocations/{location}/fileShares/{fileShare}':
    get:
      description: Get a fabric file share.
      operationId: FileShares_Get
      parameters:
        - description: Subscription credentials which uniquely identify Microsoft Azure subscription.The subscription ID forms part of the URI for every service call.
          in: path
          name: subscriptionId
          required: true
          type: string
        - description: Location of the resource.
          in: path
          name: location
          required: true
          type: string
          x-ms-parameter-location: method
        - $ref: '#/parameters/FileShareParameter'
        - default: '2016-05-01'
          description: Client Api Version.
          in: query
          name: api-version
          required: true
          type: string
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/FileShare'
      tags:
        - FileShares
      x-ms-examples:
        Get a file share:
          parameters:
            api-version: '2016-05-01'
            fileShare: SU1_Public
            location: local
            subscriptionId: 20ff7fc3-e762-44dd-bd96-b71116dcdc23
          responses:
            '200':
              body:
                id: /subscriptions/20ff7fc3-e762-44dd-bd96-b71116dcdc23/resourceGroups/System.local/providers/Microsoft.Fabric.Admin/fabricLocations/local/fileShares/SU1_Public
                location: local
                name: SU1_Public
                properties:
                  associatedVolume: 28fbffa4
                  uncPath: \\SU1FileServer.azurestack.local\SU1_Public
                tags: {}
                type: Microsoft.Fabric.Admin/fabricLocations/fileShares
definitions:
  FileShare:
    allOf:
      - description: Base Resource Object
        properties:
          id:
            description: URI of the resource.
            readOnly: true
            type: string
          location:
            description: Region Location of resource.
            type: string
          name:
            description: Name of the resource.
            readOnly: true
            type: string
          tags:
            additionalProperties:
              type: string
            description: List of key value pairs.
            type: object
          type:
            description: Type of resource.
            readOnly: true
            type: string
        type: object
        x-ms-azure-resource: true
    description: Representation of a file share resource.
    properties:
      properties:
        $ref: '#/definitions/FileShareModel'
        description: Properties of a file share resource.
        x-ms-client-flatten: true
    type: object
  FileShareList:
    description: Pageable list of fabric file share locations.
    properties:
      value:
        description: List of fabric file shares for this page.
        items:
          $ref: '#/definitions/FileShare'
        type: array
    type: object
  FileShareModel:
    description: Properties of a file share resource.
    properties:
      associatedVolume:
        description: Associated volume Id.
        type: string
      uncPath:
        description: The UNCPath for the fileshare.
        type: string
    type: object
