{
  "openapi": "3.0.2",
  "servers": [
    {
      "description": "Byvalue proxy",
      "url": "https://run.byvalue.org"
    },
    {
      "description": "RapidAPI proxy",
      "url": "https://qrcode3.p.rapidapi.com"
    }
  ],
  "info": {
    "contact": {
      "email": "support@linqr.app",
      "name": "LinQR",
      "url": "https://linqr.app"
    },
    "description": "This is LinQR QR Code API documentation. This API allows you to generate custom, visually attractive QR Codes. The cloud infrastructure guarantees high availability and autoscalability of the service. You can generate hundreds of thousands of images this way and use them however you like.\n\nWe realize that your API use case may require custom solutions, and perhaps we lack functionality that is very important to you. In that case feel free to write an email to our support and tell us about it. We have repeatedly added new functions of our service directly after the requests of our users.\n\n**General remarks:**\n - maximum request size is fixed at 32MB.\n - request timeout is fixed at 180 seconds.",
    "title": "LinQR",
    "version": "2.0",
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_linqr.app_assets_apple-touch-icon-57x57.png"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://linqr.app/openapi/openapi.json",
        "version": "3.0"
      }
    ],
    "x-providerName": "linqr.app"
  },
  "tags": [
    {
      "description": "Endpoints from the `Single QR Code` group allow you to generate one image containing a QR Code of any type per single query. Code specification for each endpoint in the group can be transfered in two ways:\n- classical POST request, which is used when all the data needed to generate the code is representable in the text form (`Content-Type: application/json`)\n- multipart POST request, which is used when in addition to the text representable data, binary data is sent, i.e. an image placed in the center of the QR Code (`Content-Type: multipart/form-data`)\n\nIn order to correctly encode the code payload, you have to choose the suitable endpoint or the `/qrcode`, which is able to automatically recognize a requested data type.",
      "name": "Single QR Code"
    },
    {
      "description": "Endpoints from the group of the `Multiple QR Codes` allow you to generate single file archive containing multiple specified codes. Endpoints accept any data type accepted by `Single QR Code` group endpoints and automatically detects its suitable encoding. Thanks to the caching mechanisms and single connection, generation of similar (in data or appearance parameters) code batches is significantly faster than sending single requests per single code.",
      "name": "Multiple QR Codes"
    },
    {
      "description": "Endpoints from the `Image management` group allow you to perform operations related to images hosted by the LinQR API infrastructure. Those images may be used as 'badge' placed in the center of generated QR Codes (refer to the `image.uri` parameter of generation endpoints). This method of hosting images placed on QR Codes is preferred in the case of a large number of queries and significantly reduces API response time due to the use of cache and quick data transfer between LinQR machines.",
      "name": "Image management"
    }
  ],
  "paths": {
    "/batch/qrcode": {
      "post": {
        "description": "This endpoint allows you to generate an archive containing multiple QR Codes with a single request. The endpoint response is the archive containing the generated image files and `items.json` file which is a record of the specifications of each of the files in the archive.",
        "operationId": "qrCodeBatch_batch_qrcode_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoQRCodeBatch"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/gzip": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "application/zip": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Return an images bundle"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "424": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Embedded image download error"
          },
          "500": {
            "content": {
              "text/plain": {
                "schema": {
                  "enum": [
                    "Internal Server Error"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Byvalue": []
          },
          {
            "RapidAPI": []
          }
        ],
        "summary": "QR Code Batch",
        "tags": [
          "Multiple QR Codes"
        ],
        "x-codeSamples": [
          {
            "label": "C++ (libcurl)",
            "lang": "C++",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://qrcode3.p.rapidapi.com/batch/qrcode\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept: application/zip\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"X-RapidAPI-Key: YOUR_KEY\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"items\\\":[{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}],\\\"output\\\":{\\\"filename\\\":\\\"qrcodes\\\",\\\"format\\\":\\\"zip\\\"}}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "label": "C# (RestSharp)",
            "lang": "C#",
            "source": "var client = new RestClient(\"https://qrcode3.p.rapidapi.com/batch/qrcode\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Accept\", \"application/zip\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\");\nrequest.AddParameter(\"application/json\", \"{\\\"items\\\":[{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}],\\\"output\\\":{\\\"filename\\\":\\\"qrcodes\\\",\\\"format\\\":\\\"zip\\\"}}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://qrcode3.p.rapidapi.com/batch/qrcode\"\n\n\tpayload := strings.NewReader(\"{\\\"items\\\":[{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}],\\\"output\\\":{\\\"filename\\\":\\\"qrcodes\\\",\\\"format\\\":\\\"zip\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"application/zip\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "label": "Java (OkHttp)",
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"items\\\":[{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}],\\\"output\\\":{\\\"filename\\\":\\\"qrcodes\\\",\\\"format\\\":\\\"zip\\\"}}\");\nRequest request = new Request.Builder()\n  .url(\"https://qrcode3.p.rapidapi.com/batch/qrcode\")\n  .post(body)\n  .addHeader(\"Accept\", \"application/zip\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "label": "JS (axios)",
            "lang": "JavaScript",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'POST',\n  url: 'https://qrcode3.p.rapidapi.com/batch/qrcode',\n  headers: {\n    Accept: 'application/zip',\n    'Content-Type': 'application/json',\n    'X-RapidAPI-Key': 'YOUR_KEY'\n  },\n  data: {\n    items: [\n      {\n        data: 'https://linqr.app',\n        image: {uri: 'icon://appstore', modules: true},\n        style: {\n          module: {color: 'black', shape: 'default'},\n          inner_eye: {shape: 'default'},\n          outer_eye: {shape: 'default'}\n        },\n        size: {width: 200, quiet_zone: 4, error_correction: 'M'},\n        output: {filename: 'qrcode', format: 'svg'}\n      }\n    ],\n    output: {filename: 'qrcodes', format: 'zip'}\n  }\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          },
          {
            "label": "JS (fetch)",
            "lang": "JavaScript",
            "source": "const options = {\n  method: 'POST',\n  headers: {\n    Accept: 'application/zip',\n    'Content-Type': 'application/json',\n    'X-RapidAPI-Key': 'YOUR_KEY'\n  },\n  body: JSON.stringify({\n    items: [\n      {\n        data: 'https://linqr.app',\n        image: {uri: 'icon://appstore', modules: true},\n        style: {\n          module: {color: 'black', shape: 'default'},\n          inner_eye: {shape: 'default'},\n          outer_eye: {shape: 'default'}\n        },\n        size: {width: 200, quiet_zone: 4, error_correction: 'M'},\n        output: {filename: 'qrcode', format: 'svg'}\n      }\n    ],\n    output: {filename: 'qrcodes', format: 'zip'}\n  })\n};\n\nfetch('https://qrcode3.p.rapidapi.com/batch/qrcode', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
          },
          {
            "label": "JS (jQuery)",
            "lang": "JavaScript",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://qrcode3.p.rapidapi.com/batch/qrcode\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Accept\": \"application/zip\",\n    \"Content-Type\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"items\\\":[{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}],\\\"output\\\":{\\\"filename\\\":\\\"qrcodes\\\",\\\"format\\\":\\\"zip\\\"}}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "label": "PHP (Guzzle)",
            "lang": "PHP",
            "source": "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('POST', 'https://qrcode3.p.rapidapi.com/batch/qrcode', [\n  'body' => '{\"items\":[{\"data\":\"https://linqr.app\",\"image\":{\"uri\":\"icon://appstore\",\"modules\":true},\"style\":{\"module\":{\"color\":\"black\",\"shape\":\"default\"},\"inner_eye\":{\"shape\":\"default\"},\"outer_eye\":{\"shape\":\"default\"}},\"size\":{\"width\":200,\"quiet_zone\":4,\"error_correction\":\"M\"},\"output\":{\"filename\":\"qrcode\",\"format\":\"svg\"}}],\"output\":{\"filename\":\"qrcodes\",\"format\":\"zip\"}}',\n  'headers' => [\n    'Accept' => 'application/zip',\n    'Content-Type' => 'application/json',\n    'X-RapidAPI-Key' => 'YOUR_KEY',\n  ],\n]);\n\necho $response->getBody();"
          },
          {
            "label": "PHP (cURL)",
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://qrcode3.p.rapidapi.com/batch/qrcode\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"items\\\":[{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}],\\\"output\\\":{\\\"filename\\\":\\\"qrcodes\\\",\\\"format\\\":\\\"zip\\\"}}\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: application/zip\",\n    \"Content-Type: application/json\",\n    \"X-RapidAPI-Key: YOUR_KEY\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "label": "Python (requests)",
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://qrcode3.p.rapidapi.com/batch/qrcode\"\n\npayload = {\n    \"items\": [\n        {\n            \"data\": \"https://linqr.app\",\n            \"image\": {\n                \"uri\": \"icon://appstore\",\n                \"modules\": True\n            },\n            \"style\": {\n                \"module\": {\n                    \"color\": \"black\",\n                    \"shape\": \"default\"\n                },\n                \"inner_eye\": {\"shape\": \"default\"},\n                \"outer_eye\": {\"shape\": \"default\"}\n            },\n            \"size\": {\n                \"width\": 200,\n                \"quiet_zone\": 4,\n                \"error_correction\": \"M\"\n            },\n            \"output\": {\n                \"filename\": \"qrcode\",\n                \"format\": \"svg\"\n            }\n        }\n    ],\n    \"output\": {\n        \"filename\": \"qrcodes\",\n        \"format\": \"zip\"\n    }\n}\nheaders = {\n    \"Accept\": \"application/zip\",\n    \"Content-Type\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "label": "Ruby (net::http)",
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://qrcode3.p.rapidapi.com/batch/qrcode\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Accept\"] = 'application/zip'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"X-RapidAPI-Key\"] = 'YOUR_KEY'\nrequest.body = \"{\\\"items\\\":[{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}],\\\"output\\\":{\\\"filename\\\":\\\"qrcodes\\\",\\\"format\\\":\\\"zip\\\"}}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "label": "Shell (cURL)",
            "lang": "Shell",
            "source": "curl --request POST \\\n     --url https://qrcode3.p.rapidapi.com/batch/qrcode \\\n     --header 'Accept: application/zip' \\\n     --header 'Content-Type: application/json' \\\n     --header 'X-RapidAPI-Key: YOUR_KEY' \\\n     --data '\n{\n     \"items\": [\n          {\n               \"data\": \"https://linqr.app\",\n               \"image\": {\n                    \"uri\": \"icon://appstore\",\n                    \"modules\": true\n               },\n               \"style\": {\n                    \"module\": {\n                         \"color\": \"black\",\n                         \"shape\": \"default\"\n                    },\n                    \"inner_eye\": {\n                         \"shape\": \"default\"\n                    },\n                    \"outer_eye\": {\n                         \"shape\": \"default\"\n                    }\n               },\n               \"size\": {\n                    \"width\": 200,\n                    \"quiet_zone\": 4,\n                    \"error_correction\": \"M\"\n               },\n               \"output\": {\n                    \"filename\": \"qrcode\",\n                    \"format\": \"svg\"\n               }\n          }\n     ],\n     \"output\": {\n          \"filename\": \"qrcodes\",\n          \"format\": \"zip\"\n     }\n}\n'"
          }
        ]
      }
    },
    "/images": {
      "get": {
        "description": "This endpoint allows you to list images hosted in the LinQR storage. If there are no images hosted, an empty array is returned.",
        "operationId": "imageListAll_images_get",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/ImageMetadata"
                  },
                  "title": "Response Imagelistall Images Get",
                  "type": "array"
                }
              }
            },
            "description": "Successful Response"
          },
          "500": {
            "content": {
              "text/plain": {
                "schema": {
                  "enum": [
                    "Internal Server Error"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "RapidAPI": []
          }
        ],
        "summary": "List all images",
        "tags": [
          "Image management"
        ],
        "x-codeSamples": [
          {
            "label": "C++ (libcurl)",
            "lang": "C++",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://qrcode3.p.rapidapi.com/images\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept: application/json\");\nheaders = curl_slist_append(headers, \"X-RapidAPI-Key: YOUR_KEY\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "label": "C# (RestSharp)",
            "lang": "C#",
            "source": "var client = new RestClient(\"https://qrcode3.p.rapidapi.com/images\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Accept\", \"application/json\");\nrequest.AddHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://qrcode3.p.rapidapi.com/images\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "label": "Java (OkHttp)",
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://qrcode3.p.rapidapi.com/images\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "label": "JS (axios)",
            "lang": "JavaScript",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'GET',\n  url: 'https://qrcode3.p.rapidapi.com/images',\n  headers: {Accept: 'application/json', 'X-RapidAPI-Key': 'YOUR_KEY'}\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          },
          {
            "label": "JS (fetch)",
            "lang": "JavaScript",
            "source": "const options = {\n  method: 'GET',\n  headers: {Accept: 'application/json', 'X-RapidAPI-Key': 'YOUR_KEY'}\n};\n\nfetch('https://qrcode3.p.rapidapi.com/images', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
          },
          {
            "label": "JS (jQuery)",
            "lang": "JavaScript",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://qrcode3.p.rapidapi.com/images\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "label": "PHP (Guzzle)",
            "lang": "PHP",
            "source": "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('GET', 'https://qrcode3.p.rapidapi.com/images', [\n  'headers' => [\n    'Accept' => 'application/json',\n    'X-RapidAPI-Key' => 'YOUR_KEY',\n  ],\n]);\n\necho $response->getBody();"
          },
          {
            "label": "PHP (cURL)",
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://qrcode3.p.rapidapi.com/images\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: application/json\",\n    \"X-RapidAPI-Key: YOUR_KEY\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "label": "Python (requests)",
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://qrcode3.p.rapidapi.com/images\"\n\nheaders = {\n    \"Accept\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
          },
          {
            "label": "Ruby (net::http)",
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://qrcode3.p.rapidapi.com/images\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"X-RapidAPI-Key\"] = 'YOUR_KEY'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "label": "Shell (cURL)",
            "lang": "Shell",
            "source": "curl --request GET \\\n     --url https://qrcode3.p.rapidapi.com/images \\\n     --header 'Accept: application/json' \\\n     --header 'X-RapidAPI-Key: YOUR_KEY'"
          }
        ]
      },
      "post": {
        "description": "This endpoint allows you to upload images to LinQR storage. In the response, metadata of the submitted image is sent, including the identifier used by other endpoints from the `Image management` group for image identification.",
        "operationId": "imageUpload_images_post",
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "image": {
                    "description": "Binary file to be uploaded into LinQR storage. Maximum single file size is 1MiB (1,048,576 bytes).",
                    "format": "binary",
                    "title": "Image",
                    "type": "string"
                  }
                },
                "required": [
                  "image"
                ],
                "title": "ImageMultipartBody",
                "type": "object"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageMetadata"
                }
              }
            },
            "description": "Successful Response"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "500": {
            "content": {
              "text/plain": {
                "schema": {
                  "enum": [
                    "Internal Server Error"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "RapidAPI": []
          }
        ],
        "summary": "Upload image",
        "tags": [
          "Image management"
        ],
        "x-codeSamples": [
          {
            "label": "C++ (libcurl)",
            "lang": "C++",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://qrcode3.p.rapidapi.com/images\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept: application/json\");\nheaders = curl_slist_append(headers, \"Content-Type: multipart/form-data; boundary=---011000010111000001101001\");\nheaders = curl_slist_append(headers, \"X-RapidAPI-Key: YOUR_KEY\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"image\\\"\\r\\n\\r\\n\\\"YOUR_FILE_CONTENT\\\"\\r\\n-----011000010111000001101001--\\r\\n\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "label": "C# (RestSharp)",
            "lang": "C#",
            "source": "var client = new RestClient(\"https://qrcode3.p.rapidapi.com/images\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Accept\", \"application/json\");\nrequest.AddHeader(\"Content-Type\", \"multipart/form-data; boundary=---011000010111000001101001\");\nrequest.AddHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\");\nrequest.AddParameter(\"multipart/form-data; boundary=---011000010111000001101001\", \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"image\\\"\\r\\n\\r\\n\\\"YOUR_FILE_CONTENT\\\"\\r\\n-----011000010111000001101001--\\r\\n\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://qrcode3.p.rapidapi.com/images\"\n\n\tpayload := strings.NewReader(\"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"image\\\"\\r\\n\\r\\n\\\"YOUR_FILE_CONTENT\\\"\\r\\n-----011000010111000001101001--\\r\\n\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"Content-Type\", \"multipart/form-data; boundary=---011000010111000001101001\")\n\treq.Header.Add(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "label": "Java (OkHttp)",
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"multipart/form-data; boundary=---011000010111000001101001\");\nRequestBody body = RequestBody.create(mediaType, \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"image\\\"\\r\\n\\r\\n\\\"YOUR_FILE_CONTENT\\\"\\r\\n-----011000010111000001101001--\\r\\n\");\nRequest request = new Request.Builder()\n  .url(\"https://qrcode3.p.rapidapi.com/images\")\n  .post(body)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"Content-Type\", \"multipart/form-data; boundary=---011000010111000001101001\")\n  .addHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "label": "JS (axios)",
            "lang": "JavaScript",
            "source": "import axios from \"axios\";\n\nconst form = new FormData();\nform.append(\"image\", \"\\\"YOUR_FILE_CONTENT\\\"\");\n\nconst options = {\n  method: 'POST',\n  url: 'https://qrcode3.p.rapidapi.com/images',\n  headers: {\n    Accept: 'application/json',\n    'Content-Type': 'multipart/form-data; boundary=---011000010111000001101001',\n    'X-RapidAPI-Key': 'YOUR_KEY'\n  },\n  data: '[form]'\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          },
          {
            "label": "JS (fetch)",
            "lang": "JavaScript",
            "source": "const form = new FormData();\nform.append(\"image\", \"\\\"YOUR_FILE_CONTENT\\\"\");\n\nconst options = {\n  method: 'POST',\n  headers: {Accept: 'application/json', 'X-RapidAPI-Key': 'YOUR_KEY'}\n};\n\noptions.body = form;\n\nfetch('https://qrcode3.p.rapidapi.com/images', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
          },
          {
            "label": "JS (jQuery)",
            "lang": "JavaScript",
            "source": "const form = new FormData();\nform.append(\"image\", \"\\\"YOUR_FILE_CONTENT\\\"\");\n\nconst settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://qrcode3.p.rapidapi.com/images\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n  },\n  \"processData\": false,\n  \"contentType\": false,\n  \"mimeType\": \"multipart/form-data\",\n  \"data\": form\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "label": "PHP (Guzzle)",
            "lang": "PHP",
            "source": "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('POST', 'https://qrcode3.p.rapidapi.com/images', [\n  'multipart' => [\n    [\n        'name' => 'image',\n        'contents' => '\"YOUR_FILE_CONTENT\"'\n    ]\n  ]\n  'headers' => [\n    'Accept' => 'application/json',\n    'X-RapidAPI-Key' => 'YOUR_KEY',\n  ],\n]);\n\necho $response->getBody();"
          },
          {
            "label": "PHP (cURL)",
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://qrcode3.p.rapidapi.com/images\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"image\\\"\\r\\n\\r\\n\\\"YOUR_FILE_CONTENT\\\"\\r\\n-----011000010111000001101001--\\r\\n\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: application/json\",\n    \"Content-Type: multipart/form-data; boundary=---011000010111000001101001\",\n    \"X-RapidAPI-Key: YOUR_KEY\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "label": "Python (requests)",
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://qrcode3.p.rapidapi.com/images\"\n\npayload = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"image\\\"\\r\\n\\r\\n\\\"YOUR_FILE_CONTENT\\\"\\r\\n-----011000010111000001101001--\\r\\n\"\nheaders = {\n    \"Accept\": \"application/json\",\n    \"Content-Type\": \"multipart/form-data; boundary=---011000010111000001101001\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n}\n\nresponse = requests.post(url, data=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "label": "Ruby (net::http)",
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://qrcode3.p.rapidapi.com/images\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"Content-Type\"] = 'multipart/form-data; boundary=---011000010111000001101001'\nrequest[\"X-RapidAPI-Key\"] = 'YOUR_KEY'\nrequest.body = \"-----011000010111000001101001\\r\\nContent-Disposition: form-data; name=\\\"image\\\"\\r\\n\\r\\n\\\"YOUR_FILE_CONTENT\\\"\\r\\n-----011000010111000001101001--\\r\\n\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "label": "Shell (cURL)",
            "lang": "Shell",
            "source": "curl --request POST \\\n     --url https://qrcode3.p.rapidapi.com/images \\\n     --header 'Accept: application/json' \\\n     --header 'Content-Type: multipart/form-data' \\\n     --header 'X-RapidAPI-Key: YOUR_KEY' \\\n     --form 'image=\"YOUR_FILE_CONTENT\"'"
          }
        ]
      }
    },
    "/images/{id}": {
      "delete": {
        "description": "This endpoint allows you to delete images hosted in the LinQR storage.",
        "operationId": "imageDelete_images__id__delete",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid4",
              "title": "Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Successful Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "500": {
            "content": {
              "text/plain": {
                "schema": {
                  "enum": [
                    "Internal Server Error"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "RapidAPI": []
          }
        ],
        "summary": "Delete image",
        "tags": [
          "Image management"
        ],
        "x-codeSamples": [
          {
            "label": "C++ (libcurl)",
            "lang": "C++",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"DELETE\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept: application/json\");\nheaders = curl_slist_append(headers, \"X-RapidAPI-Key: YOUR_KEY\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "label": "C# (RestSharp)",
            "lang": "C#",
            "source": "var client = new RestClient(\"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\");\nvar request = new RestRequest(Method.DELETE);\nrequest.AddHeader(\"Accept\", \"application/json\");\nrequest.AddHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\"\n\n\treq, _ := http.NewRequest(\"DELETE\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "label": "Java (OkHttp)",
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\")\n  .delete(null)\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "label": "JS (axios)",
            "lang": "JavaScript",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'DELETE',\n  url: 'https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID',\n  headers: {Accept: 'application/json', 'X-RapidAPI-Key': 'YOUR_KEY'}\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          },
          {
            "label": "JS (fetch)",
            "lang": "JavaScript",
            "source": "const options = {\n  method: 'DELETE',\n  headers: {Accept: 'application/json', 'X-RapidAPI-Key': 'YOUR_KEY'}\n};\n\nfetch('https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
          },
          {
            "label": "JS (jQuery)",
            "lang": "JavaScript",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\",\n  \"method\": \"DELETE\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "label": "PHP (Guzzle)",
            "lang": "PHP",
            "source": "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('DELETE', 'https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID', [\n  'headers' => [\n    'Accept' => 'application/json',\n    'X-RapidAPI-Key' => 'YOUR_KEY',\n  ],\n]);\n\necho $response->getBody();"
          },
          {
            "label": "PHP (cURL)",
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"DELETE\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: application/json\",\n    \"X-RapidAPI-Key: YOUR_KEY\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "label": "Python (requests)",
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\"\n\nheaders = {\n    \"Accept\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n}\n\nresponse = requests.delete(url, headers=headers)\n\nprint(response.text)"
          },
          {
            "label": "Ruby (net::http)",
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Delete.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"X-RapidAPI-Key\"] = 'YOUR_KEY'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "label": "Shell (cURL)",
            "lang": "Shell",
            "source": "curl --request DELETE \\\n     --url https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID \\\n     --header 'Accept: application/json' \\\n     --header 'X-RapidAPI-Key: YOUR_KEY'"
          }
        ]
      },
      "get": {
        "description": "This endpoint allows you to list single image hosted in the LinQR storage.",
        "operationId": "imageList_images__id__get",
        "parameters": [
          {
            "in": "path",
            "name": "id",
            "required": true,
            "schema": {
              "format": "uuid4",
              "title": "Id",
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageMetadata"
                }
              }
            },
            "description": "Successful Response"
          },
          "404": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Not Found"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "500": {
            "content": {
              "text/plain": {
                "schema": {
                  "enum": [
                    "Internal Server Error"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "RapidAPI": []
          }
        ],
        "summary": "List image",
        "tags": [
          "Image management"
        ],
        "x-codeSamples": [
          {
            "label": "C++ (libcurl)",
            "lang": "C++",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"GET\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept: application/json\");\nheaders = curl_slist_append(headers, \"X-RapidAPI-Key: YOUR_KEY\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "label": "C# (RestSharp)",
            "lang": "C#",
            "source": "var client = new RestClient(\"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\");\nvar request = new RestRequest(Method.GET);\nrequest.AddHeader(\"Accept\", \"application/json\");\nrequest.AddHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\");\nIRestResponse response = client.Execute(request);"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\"\n\n\treq, _ := http.NewRequest(\"GET\", url, nil)\n\n\treq.Header.Add(\"Accept\", \"application/json\")\n\treq.Header.Add(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "label": "Java (OkHttp)",
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nRequest request = new Request.Builder()\n  .url(\"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\")\n  .get()\n  .addHeader(\"Accept\", \"application/json\")\n  .addHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "label": "JS (axios)",
            "lang": "JavaScript",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'GET',\n  url: 'https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID',\n  headers: {Accept: 'application/json', 'X-RapidAPI-Key': 'YOUR_KEY'}\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          },
          {
            "label": "JS (fetch)",
            "lang": "JavaScript",
            "source": "const options = {\n  method: 'GET',\n  headers: {Accept: 'application/json', 'X-RapidAPI-Key': 'YOUR_KEY'}\n};\n\nfetch('https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
          },
          {
            "label": "JS (jQuery)",
            "lang": "JavaScript",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\",\n  \"method\": \"GET\",\n  \"headers\": {\n    \"Accept\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n  }\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "label": "PHP (Guzzle)",
            "lang": "PHP",
            "source": "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('GET', 'https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID', [\n  'headers' => [\n    'Accept' => 'application/json',\n    'X-RapidAPI-Key' => 'YOUR_KEY',\n  ],\n]);\n\necho $response->getBody();"
          },
          {
            "label": "PHP (cURL)",
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"GET\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: application/json\",\n    \"X-RapidAPI-Key: YOUR_KEY\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "label": "Python (requests)",
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\"\n\nheaders = {\n    \"Accept\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n}\n\nresponse = requests.get(url, headers=headers)\n\nprint(response.text)"
          },
          {
            "label": "Ruby (net::http)",
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Get.new(url)\nrequest[\"Accept\"] = 'application/json'\nrequest[\"X-RapidAPI-Key\"] = 'YOUR_KEY'\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "label": "Shell (cURL)",
            "lang": "Shell",
            "source": "curl --request GET \\\n     --url https://qrcode3.p.rapidapi.com/images/YOUR_IMAGE_ID \\\n     --header 'Accept: application/json' \\\n     --header 'X-RapidAPI-Key: YOUR_KEY'"
          }
        ]
      }
    },
    "/qrcode": {
      "post": {
        "description": "This endpoint aggregates the functionality of all other endpoints in the group. The data type in the `data` field is recognized automatically and the data is encoded in an appropriate way.",
        "operationId": "dispatcher_qrcode_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AutoQRCode"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AutoQRCodeMultipartBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "application/postscript": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/jpeg": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/webp": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Return a QR Code image"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Invalid request"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Request Content-Type not supported or not specified"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "424": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Embedded image download error"
          },
          "500": {
            "content": {
              "text/plain": {
                "schema": {
                  "enum": [
                    "Internal Server Error"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Byvalue": []
          },
          {
            "RapidAPI": []
          }
        ],
        "summary": "Arbitrary data type QR Code",
        "tags": [
          "Single QR Code"
        ],
        "x-codeSamples": [
          {
            "label": "C++ (libcurl)",
            "lang": "C++",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://qrcode3.p.rapidapi.com/qrcode\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept: image/svg+xml\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"X-RapidAPI-Key: YOUR_KEY\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "label": "C# (RestSharp)",
            "lang": "C#",
            "source": "var client = new RestClient(\"https://qrcode3.p.rapidapi.com/qrcode\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Accept\", \"image/svg+xml\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\");\nrequest.AddParameter(\"application/json\", \"{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://qrcode3.p.rapidapi.com/qrcode\"\n\n\tpayload := strings.NewReader(\"{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"image/svg+xml\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "label": "Java (OkHttp)",
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\");\nRequest request = new Request.Builder()\n  .url(\"https://qrcode3.p.rapidapi.com/qrcode\")\n  .post(body)\n  .addHeader(\"Accept\", \"image/svg+xml\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "label": "JS (axios)",
            "lang": "JavaScript",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'POST',\n  url: 'https://qrcode3.p.rapidapi.com/qrcode',\n  headers: {\n    Accept: 'image/svg+xml',\n    'Content-Type': 'application/json',\n    'X-RapidAPI-Key': 'YOUR_KEY'\n  },\n  data: {\n    data: 'https://linqr.app',\n    image: {uri: 'icon://appstore', modules: true},\n    style: {\n      module: {color: 'black', shape: 'default'},\n      inner_eye: {shape: 'default'},\n      outer_eye: {shape: 'default'}\n    },\n    size: {width: 200, quiet_zone: 4, error_correction: 'M'},\n    output: {filename: 'qrcode', format: 'svg'}\n  }\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          },
          {
            "label": "JS (fetch)",
            "lang": "JavaScript",
            "source": "const options = {\n  method: 'POST',\n  headers: {\n    Accept: 'image/svg+xml',\n    'Content-Type': 'application/json',\n    'X-RapidAPI-Key': 'YOUR_KEY'\n  },\n  body: JSON.stringify({\n    data: 'https://linqr.app',\n    image: {uri: 'icon://appstore', modules: true},\n    style: {\n      module: {color: 'black', shape: 'default'},\n      inner_eye: {shape: 'default'},\n      outer_eye: {shape: 'default'}\n    },\n    size: {width: 200, quiet_zone: 4, error_correction: 'M'},\n    output: {filename: 'qrcode', format: 'svg'}\n  })\n};\n\nfetch('https://qrcode3.p.rapidapi.com/qrcode', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
          },
          {
            "label": "JS (jQuery)",
            "lang": "JavaScript",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://qrcode3.p.rapidapi.com/qrcode\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Accept\": \"image/svg+xml\",\n    \"Content-Type\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "label": "PHP (Guzzle)",
            "lang": "PHP",
            "source": "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('POST', 'https://qrcode3.p.rapidapi.com/qrcode', [\n  'body' => '{\"data\":\"https://linqr.app\",\"image\":{\"uri\":\"icon://appstore\",\"modules\":true},\"style\":{\"module\":{\"color\":\"black\",\"shape\":\"default\"},\"inner_eye\":{\"shape\":\"default\"},\"outer_eye\":{\"shape\":\"default\"}},\"size\":{\"width\":200,\"quiet_zone\":4,\"error_correction\":\"M\"},\"output\":{\"filename\":\"qrcode\",\"format\":\"svg\"}}',\n  'headers' => [\n    'Accept' => 'image/svg+xml',\n    'Content-Type' => 'application/json',\n    'X-RapidAPI-Key' => 'YOUR_KEY',\n  ],\n]);\n\necho $response->getBody();"
          },
          {
            "label": "PHP (cURL)",
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://qrcode3.p.rapidapi.com/qrcode\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: image/svg+xml\",\n    \"Content-Type: application/json\",\n    \"X-RapidAPI-Key: YOUR_KEY\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "label": "Python (requests)",
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://qrcode3.p.rapidapi.com/qrcode\"\n\npayload = {\n    \"data\": \"https://linqr.app\",\n    \"image\": {\n        \"uri\": \"icon://appstore\",\n        \"modules\": True\n    },\n    \"style\": {\n        \"module\": {\n            \"color\": \"black\",\n            \"shape\": \"default\"\n        },\n        \"inner_eye\": {\"shape\": \"default\"},\n        \"outer_eye\": {\"shape\": \"default\"}\n    },\n    \"size\": {\n        \"width\": 200,\n        \"quiet_zone\": 4,\n        \"error_correction\": \"M\"\n    },\n    \"output\": {\n        \"filename\": \"qrcode\",\n        \"format\": \"svg\"\n    }\n}\nheaders = {\n    \"Accept\": \"image/svg+xml\",\n    \"Content-Type\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "label": "Ruby (net::http)",
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://qrcode3.p.rapidapi.com/qrcode\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Accept\"] = 'image/svg+xml'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"X-RapidAPI-Key\"] = 'YOUR_KEY'\nrequest.body = \"{\\\"data\\\":\\\"https://linqr.app\\\",\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "label": "Shell (cURL)",
            "lang": "Shell",
            "source": "curl --request POST \\\n     --url https://qrcode3.p.rapidapi.com/qrcode \\\n     --header 'Accept: image/svg+xml' \\\n     --header 'Content-Type: application/json' \\\n     --header 'X-RapidAPI-Key: YOUR_KEY' \\\n     --data '\n{\n     \"data\": \"https://linqr.app\",\n     \"image\": {\n          \"uri\": \"icon://appstore\",\n          \"modules\": true\n     },\n     \"style\": {\n          \"module\": {\n               \"color\": \"black\",\n               \"shape\": \"default\"\n          },\n          \"inner_eye\": {\n               \"shape\": \"default\"\n          },\n          \"outer_eye\": {\n               \"shape\": \"default\"\n          }\n     },\n     \"size\": {\n          \"width\": 200,\n          \"quiet_zone\": 4,\n          \"error_correction\": \"M\"\n     },\n     \"output\": {\n          \"filename\": \"qrcode\",\n          \"format\": \"svg\"\n     }\n}\n'"
          }
        ]
      }
    },
    "/qrcode/contact": {
      "post": {
        "description": "This endpoint allows you to create a QR Code that allows user to quickly add contact information to the phone book. The code contains an appropriately encoded electronic business card. After scanning, the device prompts to save the contact in the phone book.",
        "operationId": "dispatcher_qrcode_contact_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ContactQRCode"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/ContactQRCodeMultipartBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "application/postscript": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/jpeg": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/webp": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Return a QR Code image"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Invalid request"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Request Content-Type not supported or not specified"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "424": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Embedded image download error"
          },
          "500": {
            "content": {
              "text/plain": {
                "schema": {
                  "enum": [
                    "Internal Server Error"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Byvalue": []
          },
          {
            "RapidAPI": []
          }
        ],
        "summary": "Contact QR Code",
        "tags": [
          "Single QR Code"
        ],
        "x-codeSamples": [
          {
            "label": "C++ (libcurl)",
            "lang": "C++",
            "source": "CURL *hnd = curl_easy_init();\n\ncurl_easy_setopt(hnd, CURLOPT_CUSTOMREQUEST, \"POST\");\ncurl_easy_setopt(hnd, CURLOPT_URL, \"https://qrcode3.p.rapidapi.com/qrcode/contact\");\n\nstruct curl_slist *headers = NULL;\nheaders = curl_slist_append(headers, \"Accept: image/svg+xml\");\nheaders = curl_slist_append(headers, \"Content-Type: application/json\");\nheaders = curl_slist_append(headers, \"X-RapidAPI-Key: YOUR_KEY\");\ncurl_easy_setopt(hnd, CURLOPT_HTTPHEADER, headers);\n\ncurl_easy_setopt(hnd, CURLOPT_POSTFIELDS, \"{\\\"data\\\":{\\\"encoding\\\":\\\"vcard\\\",\\\"last_name\\\":\\\"Doe\\\",\\\"first_name\\\":\\\"John\\\",\\\"display_name\\\":\\\"John Doe\\\",\\\"photo\\\":\\\"Base64String...\\\",\\\"organization\\\":\\\"My Organization\\\",\\\"title\\\":\\\"Assistant\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"phone\\\":\\\"+1-555-3863-999\\\",\\\"cell_phone\\\":\\\"+1-453-5825-364\\\",\\\"home_phone\\\":\\\"+1-342-5647-234\\\",\\\"work_phone\\\":\\\"+1-234-7745-789\\\",\\\"fax\\\":\\\"+1-601-5559-098\\\",\\\"videophone\\\":\\\"+617-403-5552-419\\\",\\\"memo\\\":\\\"Some note\\\",\\\"nickname\\\":\\\"JohnD\\\",\\\"birthday\\\":\\\"2019-08-24\\\",\\\"url\\\":\\\"http://example.com\\\",\\\"po_box\\\":\\\"12\\\",\\\"street\\\":\\\"Cambridge St\\\",\\\"city\\\":\\\"Philadelphia\\\",\\\"region\\\":\\\"Philadelphia\\\",\\\"zip_code\\\":\\\"22313\\\",\\\"country\\\":\\\"Japan\\\",\\\"latitude\\\":39.97121,\\\"longitude\\\":-75.1605564,\\\"revision\\\":\\\"2019-08-24\\\",\\\"source\\\":\\\"http://example.com\\\"},\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\");\n\nCURLcode ret = curl_easy_perform(hnd);"
          },
          {
            "label": "C# (RestSharp)",
            "lang": "C#",
            "source": "var client = new RestClient(\"https://qrcode3.p.rapidapi.com/qrcode/contact\");\nvar request = new RestRequest(Method.POST);\nrequest.AddHeader(\"Accept\", \"image/svg+xml\");\nrequest.AddHeader(\"Content-Type\", \"application/json\");\nrequest.AddHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\");\nrequest.AddParameter(\"application/json\", \"{\\\"data\\\":{\\\"encoding\\\":\\\"vcard\\\",\\\"last_name\\\":\\\"Doe\\\",\\\"first_name\\\":\\\"John\\\",\\\"display_name\\\":\\\"John Doe\\\",\\\"photo\\\":\\\"Base64String...\\\",\\\"organization\\\":\\\"My Organization\\\",\\\"title\\\":\\\"Assistant\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"phone\\\":\\\"+1-555-3863-999\\\",\\\"cell_phone\\\":\\\"+1-453-5825-364\\\",\\\"home_phone\\\":\\\"+1-342-5647-234\\\",\\\"work_phone\\\":\\\"+1-234-7745-789\\\",\\\"fax\\\":\\\"+1-601-5559-098\\\",\\\"videophone\\\":\\\"+617-403-5552-419\\\",\\\"memo\\\":\\\"Some note\\\",\\\"nickname\\\":\\\"JohnD\\\",\\\"birthday\\\":\\\"2019-08-24\\\",\\\"url\\\":\\\"http://example.com\\\",\\\"po_box\\\":\\\"12\\\",\\\"street\\\":\\\"Cambridge St\\\",\\\"city\\\":\\\"Philadelphia\\\",\\\"region\\\":\\\"Philadelphia\\\",\\\"zip_code\\\":\\\"22313\\\",\\\"country\\\":\\\"Japan\\\",\\\"latitude\\\":39.97121,\\\"longitude\\\":-75.1605564,\\\"revision\\\":\\\"2019-08-24\\\",\\\"source\\\":\\\"http://example.com\\\"},\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\", ParameterType.RequestBody);\nIRestResponse response = client.Execute(request);"
          },
          {
            "label": "Go",
            "lang": "Go",
            "source": "package main\n\nimport (\n\t\"fmt\"\n\t\"strings\"\n\t\"net/http\"\n\t\"io/ioutil\"\n)\n\nfunc main() {\n\n\turl := \"https://qrcode3.p.rapidapi.com/qrcode/contact\"\n\n\tpayload := strings.NewReader(\"{\\\"data\\\":{\\\"encoding\\\":\\\"vcard\\\",\\\"last_name\\\":\\\"Doe\\\",\\\"first_name\\\":\\\"John\\\",\\\"display_name\\\":\\\"John Doe\\\",\\\"photo\\\":\\\"Base64String...\\\",\\\"organization\\\":\\\"My Organization\\\",\\\"title\\\":\\\"Assistant\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"phone\\\":\\\"+1-555-3863-999\\\",\\\"cell_phone\\\":\\\"+1-453-5825-364\\\",\\\"home_phone\\\":\\\"+1-342-5647-234\\\",\\\"work_phone\\\":\\\"+1-234-7745-789\\\",\\\"fax\\\":\\\"+1-601-5559-098\\\",\\\"videophone\\\":\\\"+617-403-5552-419\\\",\\\"memo\\\":\\\"Some note\\\",\\\"nickname\\\":\\\"JohnD\\\",\\\"birthday\\\":\\\"2019-08-24\\\",\\\"url\\\":\\\"http://example.com\\\",\\\"po_box\\\":\\\"12\\\",\\\"street\\\":\\\"Cambridge St\\\",\\\"city\\\":\\\"Philadelphia\\\",\\\"region\\\":\\\"Philadelphia\\\",\\\"zip_code\\\":\\\"22313\\\",\\\"country\\\":\\\"Japan\\\",\\\"latitude\\\":39.97121,\\\"longitude\\\":-75.1605564,\\\"revision\\\":\\\"2019-08-24\\\",\\\"source\\\":\\\"http://example.com\\\"},\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\")\n\n\treq, _ := http.NewRequest(\"POST\", url, payload)\n\n\treq.Header.Add(\"Accept\", \"image/svg+xml\")\n\treq.Header.Add(\"Content-Type\", \"application/json\")\n\treq.Header.Add(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n\n\tres, _ := http.DefaultClient.Do(req)\n\n\tdefer res.Body.Close()\n\tbody, _ := ioutil.ReadAll(res.Body)\n\n\tfmt.Println(res)\n\tfmt.Println(string(body))\n\n}"
          },
          {
            "label": "Java (OkHttp)",
            "lang": "Java",
            "source": "OkHttpClient client = new OkHttpClient();\n\nMediaType mediaType = MediaType.parse(\"application/json\");\nRequestBody body = RequestBody.create(mediaType, \"{\\\"data\\\":{\\\"encoding\\\":\\\"vcard\\\",\\\"last_name\\\":\\\"Doe\\\",\\\"first_name\\\":\\\"John\\\",\\\"display_name\\\":\\\"John Doe\\\",\\\"photo\\\":\\\"Base64String...\\\",\\\"organization\\\":\\\"My Organization\\\",\\\"title\\\":\\\"Assistant\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"phone\\\":\\\"+1-555-3863-999\\\",\\\"cell_phone\\\":\\\"+1-453-5825-364\\\",\\\"home_phone\\\":\\\"+1-342-5647-234\\\",\\\"work_phone\\\":\\\"+1-234-7745-789\\\",\\\"fax\\\":\\\"+1-601-5559-098\\\",\\\"videophone\\\":\\\"+617-403-5552-419\\\",\\\"memo\\\":\\\"Some note\\\",\\\"nickname\\\":\\\"JohnD\\\",\\\"birthday\\\":\\\"2019-08-24\\\",\\\"url\\\":\\\"http://example.com\\\",\\\"po_box\\\":\\\"12\\\",\\\"street\\\":\\\"Cambridge St\\\",\\\"city\\\":\\\"Philadelphia\\\",\\\"region\\\":\\\"Philadelphia\\\",\\\"zip_code\\\":\\\"22313\\\",\\\"country\\\":\\\"Japan\\\",\\\"latitude\\\":39.97121,\\\"longitude\\\":-75.1605564,\\\"revision\\\":\\\"2019-08-24\\\",\\\"source\\\":\\\"http://example.com\\\"},\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\");\nRequest request = new Request.Builder()\n  .url(\"https://qrcode3.p.rapidapi.com/qrcode/contact\")\n  .post(body)\n  .addHeader(\"Accept\", \"image/svg+xml\")\n  .addHeader(\"Content-Type\", \"application/json\")\n  .addHeader(\"X-RapidAPI-Key\", \"YOUR_KEY\")\n  .build();\n\nResponse response = client.newCall(request).execute();"
          },
          {
            "label": "JS (axios)",
            "lang": "JavaScript",
            "source": "import axios from \"axios\";\n\nconst options = {\n  method: 'POST',\n  url: 'https://qrcode3.p.rapidapi.com/qrcode/contact',\n  headers: {\n    Accept: 'image/svg+xml',\n    'Content-Type': 'application/json',\n    'X-RapidAPI-Key': 'YOUR_KEY'\n  },\n  data: {\n    data: {\n      encoding: 'vcard',\n      last_name: 'Doe',\n      first_name: 'John',\n      display_name: 'John Doe',\n      photo: 'Base64String...',\n      organization: 'My Organization',\n      title: 'Assistant',\n      email: 'user@example.com',\n      phone: '+1-555-3863-999',\n      cell_phone: '+1-453-5825-364',\n      home_phone: '+1-342-5647-234',\n      work_phone: '+1-234-7745-789',\n      fax: '+1-601-5559-098',\n      videophone: '+617-403-5552-419',\n      memo: 'Some note',\n      nickname: 'JohnD',\n      birthday: '2019-08-24',\n      url: 'http://example.com',\n      po_box: '12',\n      street: 'Cambridge St',\n      city: 'Philadelphia',\n      region: 'Philadelphia',\n      zip_code: '22313',\n      country: 'Japan',\n      latitude: 39.97121,\n      longitude: -75.1605564,\n      revision: '2019-08-24',\n      source: 'http://example.com'\n    },\n    image: {uri: 'icon://appstore', modules: true},\n    style: {\n      module: {color: 'black', shape: 'default'},\n      inner_eye: {shape: 'default'},\n      outer_eye: {shape: 'default'}\n    },\n    size: {width: 200, quiet_zone: 4, error_correction: 'M'},\n    output: {filename: 'qrcode', format: 'svg'}\n  }\n};\n\naxios.request(options).then(function (response) {\n  console.log(response.data);\n}).catch(function (error) {\n  console.error(error);\n});"
          },
          {
            "label": "JS (fetch)",
            "lang": "JavaScript",
            "source": "const options = {\n  method: 'POST',\n  headers: {\n    Accept: 'image/svg+xml',\n    'Content-Type': 'application/json',\n    'X-RapidAPI-Key': 'YOUR_KEY'\n  },\n  body: JSON.stringify({\n    data: {\n      encoding: 'vcard',\n      last_name: 'Doe',\n      first_name: 'John',\n      display_name: 'John Doe',\n      photo: 'Base64String...',\n      organization: 'My Organization',\n      title: 'Assistant',\n      email: 'user@example.com',\n      phone: '+1-555-3863-999',\n      cell_phone: '+1-453-5825-364',\n      home_phone: '+1-342-5647-234',\n      work_phone: '+1-234-7745-789',\n      fax: '+1-601-5559-098',\n      videophone: '+617-403-5552-419',\n      memo: 'Some note',\n      nickname: 'JohnD',\n      birthday: '2019-08-24',\n      url: 'http://example.com',\n      po_box: '12',\n      street: 'Cambridge St',\n      city: 'Philadelphia',\n      region: 'Philadelphia',\n      zip_code: '22313',\n      country: 'Japan',\n      latitude: 39.97121,\n      longitude: -75.1605564,\n      revision: '2019-08-24',\n      source: 'http://example.com'\n    },\n    image: {uri: 'icon://appstore', modules: true},\n    style: {\n      module: {color: 'black', shape: 'default'},\n      inner_eye: {shape: 'default'},\n      outer_eye: {shape: 'default'}\n    },\n    size: {width: 200, quiet_zone: 4, error_correction: 'M'},\n    output: {filename: 'qrcode', format: 'svg'}\n  })\n};\n\nfetch('https://qrcode3.p.rapidapi.com/qrcode/contact', options)\n  .then(response => response.json())\n  .then(response => console.log(response))\n  .catch(err => console.error(err));"
          },
          {
            "label": "JS (jQuery)",
            "lang": "JavaScript",
            "source": "const settings = {\n  \"async\": true,\n  \"crossDomain\": true,\n  \"url\": \"https://qrcode3.p.rapidapi.com/qrcode/contact\",\n  \"method\": \"POST\",\n  \"headers\": {\n    \"Accept\": \"image/svg+xml\",\n    \"Content-Type\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n  },\n  \"processData\": false,\n  \"data\": \"{\\\"data\\\":{\\\"encoding\\\":\\\"vcard\\\",\\\"last_name\\\":\\\"Doe\\\",\\\"first_name\\\":\\\"John\\\",\\\"display_name\\\":\\\"John Doe\\\",\\\"photo\\\":\\\"Base64String...\\\",\\\"organization\\\":\\\"My Organization\\\",\\\"title\\\":\\\"Assistant\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"phone\\\":\\\"+1-555-3863-999\\\",\\\"cell_phone\\\":\\\"+1-453-5825-364\\\",\\\"home_phone\\\":\\\"+1-342-5647-234\\\",\\\"work_phone\\\":\\\"+1-234-7745-789\\\",\\\"fax\\\":\\\"+1-601-5559-098\\\",\\\"videophone\\\":\\\"+617-403-5552-419\\\",\\\"memo\\\":\\\"Some note\\\",\\\"nickname\\\":\\\"JohnD\\\",\\\"birthday\\\":\\\"2019-08-24\\\",\\\"url\\\":\\\"http://example.com\\\",\\\"po_box\\\":\\\"12\\\",\\\"street\\\":\\\"Cambridge St\\\",\\\"city\\\":\\\"Philadelphia\\\",\\\"region\\\":\\\"Philadelphia\\\",\\\"zip_code\\\":\\\"22313\\\",\\\"country\\\":\\\"Japan\\\",\\\"latitude\\\":39.97121,\\\"longitude\\\":-75.1605564,\\\"revision\\\":\\\"2019-08-24\\\",\\\"source\\\":\\\"http://example.com\\\"},\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\"\n};\n\n$.ajax(settings).done(function (response) {\n  console.log(response);\n});"
          },
          {
            "label": "PHP (Guzzle)",
            "lang": "PHP",
            "source": "<?php\nrequire_once('vendor/autoload.php');\n\n$client = new \\GuzzleHttp\\Client();\n\n$response = $client->request('POST', 'https://qrcode3.p.rapidapi.com/qrcode/contact', [\n  'body' => '{\"data\":{\"encoding\":\"vcard\",\"last_name\":\"Doe\",\"first_name\":\"John\",\"display_name\":\"John Doe\",\"photo\":\"Base64String...\",\"organization\":\"My Organization\",\"title\":\"Assistant\",\"email\":\"user@example.com\",\"phone\":\"+1-555-3863-999\",\"cell_phone\":\"+1-453-5825-364\",\"home_phone\":\"+1-342-5647-234\",\"work_phone\":\"+1-234-7745-789\",\"fax\":\"+1-601-5559-098\",\"videophone\":\"+617-403-5552-419\",\"memo\":\"Some note\",\"nickname\":\"JohnD\",\"birthday\":\"2019-08-24\",\"url\":\"http://example.com\",\"po_box\":\"12\",\"street\":\"Cambridge St\",\"city\":\"Philadelphia\",\"region\":\"Philadelphia\",\"zip_code\":\"22313\",\"country\":\"Japan\",\"latitude\":39.97121,\"longitude\":-75.1605564,\"revision\":\"2019-08-24\",\"source\":\"http://example.com\"},\"image\":{\"uri\":\"icon://appstore\",\"modules\":true},\"style\":{\"module\":{\"color\":\"black\",\"shape\":\"default\"},\"inner_eye\":{\"shape\":\"default\"},\"outer_eye\":{\"shape\":\"default\"}},\"size\":{\"width\":200,\"quiet_zone\":4,\"error_correction\":\"M\"},\"output\":{\"filename\":\"qrcode\",\"format\":\"svg\"}}',\n  'headers' => [\n    'Accept' => 'image/svg+xml',\n    'Content-Type' => 'application/json',\n    'X-RapidAPI-Key' => 'YOUR_KEY',\n  ],\n]);\n\necho $response->getBody();"
          },
          {
            "label": "PHP (cURL)",
            "lang": "PHP",
            "source": "<?php\n\n$curl = curl_init();\n\ncurl_setopt_array($curl, [\n  CURLOPT_URL => \"https://qrcode3.p.rapidapi.com/qrcode/contact\",\n  CURLOPT_RETURNTRANSFER => true,\n  CURLOPT_ENCODING => \"\",\n  CURLOPT_MAXREDIRS => 10,\n  CURLOPT_TIMEOUT => 30,\n  CURLOPT_HTTP_VERSION => CURL_HTTP_VERSION_1_1,\n  CURLOPT_CUSTOMREQUEST => \"POST\",\n  CURLOPT_POSTFIELDS => \"{\\\"data\\\":{\\\"encoding\\\":\\\"vcard\\\",\\\"last_name\\\":\\\"Doe\\\",\\\"first_name\\\":\\\"John\\\",\\\"display_name\\\":\\\"John Doe\\\",\\\"photo\\\":\\\"Base64String...\\\",\\\"organization\\\":\\\"My Organization\\\",\\\"title\\\":\\\"Assistant\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"phone\\\":\\\"+1-555-3863-999\\\",\\\"cell_phone\\\":\\\"+1-453-5825-364\\\",\\\"home_phone\\\":\\\"+1-342-5647-234\\\",\\\"work_phone\\\":\\\"+1-234-7745-789\\\",\\\"fax\\\":\\\"+1-601-5559-098\\\",\\\"videophone\\\":\\\"+617-403-5552-419\\\",\\\"memo\\\":\\\"Some note\\\",\\\"nickname\\\":\\\"JohnD\\\",\\\"birthday\\\":\\\"2019-08-24\\\",\\\"url\\\":\\\"http://example.com\\\",\\\"po_box\\\":\\\"12\\\",\\\"street\\\":\\\"Cambridge St\\\",\\\"city\\\":\\\"Philadelphia\\\",\\\"region\\\":\\\"Philadelphia\\\",\\\"zip_code\\\":\\\"22313\\\",\\\"country\\\":\\\"Japan\\\",\\\"latitude\\\":39.97121,\\\"longitude\\\":-75.1605564,\\\"revision\\\":\\\"2019-08-24\\\",\\\"source\\\":\\\"http://example.com\\\"},\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\",\n  CURLOPT_HTTPHEADER => [\n    \"Accept: image/svg+xml\",\n    \"Content-Type: application/json\",\n    \"X-RapidAPI-Key: YOUR_KEY\"\n  ],\n]);\n\n$response = curl_exec($curl);\n$err = curl_error($curl);\n\ncurl_close($curl);\n\nif ($err) {\n  echo \"cURL Error #:\" . $err;\n} else {\n  echo $response;\n}"
          },
          {
            "label": "Python (requests)",
            "lang": "Python",
            "source": "import requests\n\nurl = \"https://qrcode3.p.rapidapi.com/qrcode/contact\"\n\npayload = {\n    \"data\": {\n        \"encoding\": \"vcard\",\n        \"last_name\": \"Doe\",\n        \"first_name\": \"John\",\n        \"display_name\": \"John Doe\",\n        \"photo\": \"Base64String...\",\n        \"organization\": \"My Organization\",\n        \"title\": \"Assistant\",\n        \"email\": \"user@example.com\",\n        \"phone\": \"+1-555-3863-999\",\n        \"cell_phone\": \"+1-453-5825-364\",\n        \"home_phone\": \"+1-342-5647-234\",\n        \"work_phone\": \"+1-234-7745-789\",\n        \"fax\": \"+1-601-5559-098\",\n        \"videophone\": \"+617-403-5552-419\",\n        \"memo\": \"Some note\",\n        \"nickname\": \"JohnD\",\n        \"birthday\": \"2019-08-24\",\n        \"url\": \"http://example.com\",\n        \"po_box\": \"12\",\n        \"street\": \"Cambridge St\",\n        \"city\": \"Philadelphia\",\n        \"region\": \"Philadelphia\",\n        \"zip_code\": \"22313\",\n        \"country\": \"Japan\",\n        \"latitude\": 39.97121,\n        \"longitude\": -75.1605564,\n        \"revision\": \"2019-08-24\",\n        \"source\": \"http://example.com\"\n    },\n    \"image\": {\n        \"uri\": \"icon://appstore\",\n        \"modules\": True\n    },\n    \"style\": {\n        \"module\": {\n            \"color\": \"black\",\n            \"shape\": \"default\"\n        },\n        \"inner_eye\": {\"shape\": \"default\"},\n        \"outer_eye\": {\"shape\": \"default\"}\n    },\n    \"size\": {\n        \"width\": 200,\n        \"quiet_zone\": 4,\n        \"error_correction\": \"M\"\n    },\n    \"output\": {\n        \"filename\": \"qrcode\",\n        \"format\": \"svg\"\n    }\n}\nheaders = {\n    \"Accept\": \"image/svg+xml\",\n    \"Content-Type\": \"application/json\",\n    \"X-RapidAPI-Key\": \"YOUR_KEY\"\n}\n\nresponse = requests.post(url, json=payload, headers=headers)\n\nprint(response.text)"
          },
          {
            "label": "Ruby (net::http)",
            "lang": "Ruby",
            "source": "require 'uri'\nrequire 'net/http'\nrequire 'openssl'\n\nurl = URI(\"https://qrcode3.p.rapidapi.com/qrcode/contact\")\n\nhttp = Net::HTTP.new(url.host, url.port)\nhttp.use_ssl = true\n\nrequest = Net::HTTP::Post.new(url)\nrequest[\"Accept\"] = 'image/svg+xml'\nrequest[\"Content-Type\"] = 'application/json'\nrequest[\"X-RapidAPI-Key\"] = 'YOUR_KEY'\nrequest.body = \"{\\\"data\\\":{\\\"encoding\\\":\\\"vcard\\\",\\\"last_name\\\":\\\"Doe\\\",\\\"first_name\\\":\\\"John\\\",\\\"display_name\\\":\\\"John Doe\\\",\\\"photo\\\":\\\"Base64String...\\\",\\\"organization\\\":\\\"My Organization\\\",\\\"title\\\":\\\"Assistant\\\",\\\"email\\\":\\\"user@example.com\\\",\\\"phone\\\":\\\"+1-555-3863-999\\\",\\\"cell_phone\\\":\\\"+1-453-5825-364\\\",\\\"home_phone\\\":\\\"+1-342-5647-234\\\",\\\"work_phone\\\":\\\"+1-234-7745-789\\\",\\\"fax\\\":\\\"+1-601-5559-098\\\",\\\"videophone\\\":\\\"+617-403-5552-419\\\",\\\"memo\\\":\\\"Some note\\\",\\\"nickname\\\":\\\"JohnD\\\",\\\"birthday\\\":\\\"2019-08-24\\\",\\\"url\\\":\\\"http://example.com\\\",\\\"po_box\\\":\\\"12\\\",\\\"street\\\":\\\"Cambridge St\\\",\\\"city\\\":\\\"Philadelphia\\\",\\\"region\\\":\\\"Philadelphia\\\",\\\"zip_code\\\":\\\"22313\\\",\\\"country\\\":\\\"Japan\\\",\\\"latitude\\\":39.97121,\\\"longitude\\\":-75.1605564,\\\"revision\\\":\\\"2019-08-24\\\",\\\"source\\\":\\\"http://example.com\\\"},\\\"image\\\":{\\\"uri\\\":\\\"icon://appstore\\\",\\\"modules\\\":true},\\\"style\\\":{\\\"module\\\":{\\\"color\\\":\\\"black\\\",\\\"shape\\\":\\\"default\\\"},\\\"inner_eye\\\":{\\\"shape\\\":\\\"default\\\"},\\\"outer_eye\\\":{\\\"shape\\\":\\\"default\\\"}},\\\"size\\\":{\\\"width\\\":200,\\\"quiet_zone\\\":4,\\\"error_correction\\\":\\\"M\\\"},\\\"output\\\":{\\\"filename\\\":\\\"qrcode\\\",\\\"format\\\":\\\"svg\\\"}}\"\n\nresponse = http.request(request)\nputs response.read_body"
          },
          {
            "label": "Shell (cURL)",
            "lang": "Shell",
            "source": "curl --request POST \\\n     --url https://qrcode3.p.rapidapi.com/qrcode/contact \\\n     --header 'Accept: image/svg+xml' \\\n     --header 'Content-Type: application/json' \\\n     --header 'X-RapidAPI-Key: YOUR_KEY' \\\n     --data '\n{\n     \"data\": {\n          \"encoding\": \"vcard\",\n          \"last_name\": \"Doe\",\n          \"first_name\": \"John\",\n          \"display_name\": \"John Doe\",\n          \"photo\": \"Base64String...\",\n          \"organization\": \"My Organization\",\n          \"title\": \"Assistant\",\n          \"email\": \"user@example.com\",\n          \"phone\": \"+1-555-3863-999\",\n          \"cell_phone\": \"+1-453-5825-364\",\n          \"home_phone\": \"+1-342-5647-234\",\n          \"work_phone\": \"+1-234-7745-789\",\n          \"fax\": \"+1-601-5559-098\",\n          \"videophone\": \"+617-403-5552-419\",\n          \"memo\": \"Some note\",\n          \"nickname\": \"JohnD\",\n          \"birthday\": \"2019-08-24\",\n          \"url\": \"http://example.com\",\n          \"po_box\": \"12\",\n          \"street\": \"Cambridge St\",\n          \"city\": \"Philadelphia\",\n          \"region\": \"Philadelphia\",\n          \"zip_code\": \"22313\",\n          \"country\": \"Japan\",\n          \"latitude\": 39.97121,\n          \"longitude\": -75.1605564,\n          \"revision\": \"2019-08-24\",\n          \"source\": \"http://example.com\"\n     },\n     \"image\": {\n          \"uri\": \"icon://appstore\",\n          \"modules\": true\n     },\n     \"style\": {\n          \"module\": {\n               \"color\": \"black\",\n               \"shape\": \"default\"\n          },\n          \"inner_eye\": {\n               \"shape\": \"default\"\n          },\n          \"outer_eye\": {\n               \"shape\": \"default\"\n          }\n     },\n     \"size\": {\n          \"width\": 200,\n          \"quiet_zone\": 4,\n          \"error_correction\": \"M\"\n     },\n     \"output\": {\n          \"filename\": \"qrcode\",\n          \"format\": \"svg\"\n     }\n}\n'"
          }
        ]
      }
    },
    "/qrcode/crypto": {
      "post": {
        "description": "This endpoint allows you to create a QR Code that allows user to make a quick cryptocurrency transfer. The code contains appropriately encoded data for the payment. After scanning the code, the cryptocurrency wallet application asks user to perform the transfer without rewriting all necessary data.",
        "operationId": "dispatcher_qrcode_crypto_post",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CryptoPaymentQRCode"
              }
            },
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/CryptoPaymentQRCodeMultipartBody"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/pdf": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "application/postscript": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/jpeg": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/png": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/svg+xml": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              },
              "image/webp": {
                "schema": {
                  "format": "binary",
                  "type": "string"
                }
              }
            },
            "description": "Return a QR Code image"
          },
          "400": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Invalid request"
          },
          "415": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Request Content-Type not supported or not specified"
          },
          "422": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HTTPValidationError"
                }
              }
            },
            "description": "Validation Error"
          },
          "424": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenericError"
                }
              }
            },
            "description": "Embedded image download error"
          },
          "500": {
            "content": {
              "text/plain": {
                "schema": {
                  "enum": [
                    "Internal Server Error"
                  ],
                  "type": "string"
                }
              }
            },
            "description": "Internal Server Error"
          }
        },
        "security": [
          {
            "Byvalue": []
          },
          {
            "RapidAPI": []
          }
        ],
        "summary": "Cryptocurrency payment QR Code",
        "tags": [
          "Single QR Code"
        ],
        "x-codeSamples": [
          {
            "label": "C++ (libcurl)",
            "lang": "C++",
[...]
