swagger: '2.0'
schemes:
  - https
host: ee.iva-api.com
info:
  contact:
    x-twitter: VideoDetective
  description: 'Your Gateway to Building Incredible Movie, TV, and Game Content Discovery Experiences.'
  license:
    name: Terms and Conditions
    url: 'https://developer.iva-api.com/terms'
  title: Entertainment Express
  version: '2.0'
  x-apisguru-categories:
    - media
  x-logo:
    url: 'https://twitter.com/VideoDetective/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://ee.iva-api.com/specs/openapi'
      version: '2.0'
  x-providerName: iva-api.com
externalDocs:
  description: For addition information about this api visit the external documentation.
  url: 'https://developer.iva-api.com/docs/v2/getting-started'
consumes:
  - application/json
produces:
  - application/json
  - application/xml
  - text/csv
  - text/html
securityDefinitions:
  ApiKeyHeader:
    description: Authorize requests passing your apiKey in HTTP header.
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  ApiKeyQuery:
    description: Authorize requests passing your apiKey in Querystring.
    in: query
    name: subscription-Key
    type: apiKey
parameters:
  Accept:
    description: Accept Header
    enum:
      - application/json
    in: header
    name: Accept
    required: true
    type: string
tags:
  - name: Analytics
  - name: Celebrity
  - name: Changes
  - name: Charts
  - name: Common
  - name: Entertainment
  - name: ExternalIds
  - name: Fandango
  - name: Find
  - name: Games
  - name: GoWatchIt
  - name: Images
  - name: Metacritic
  - name: Movies
  - name: My
  - name: People
  - name: Rev
  - name: SDKs
  - name: Shows
  - name: Tests
  - name: TheatricalMovies
  - name: TvGrid
  - name: Videos
  - name: XroadMedia
paths:
  /Analytics/City/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today..'
      operationId: GetAnalyticsViewersByCity
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/CityResponse'
            title: List<CityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Viewers by City.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/Country/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewersByCountry
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response.
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/AnalyticsCountryResponse'
            title: List<AnalyticsCountryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Viewers by Country.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/EngagementActions/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticEngagementActions
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/EngagementActionsResponse'
            title: List<EngagementActionsResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Visits by IP.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/EngagementTimes/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsEngagementTimes
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/EngagementTimesResponse'
            title: List<EngagementTimesResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: View count by Frequency.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/GBUsage/:
    get:
      deprecated: false
      description: Requires a valid Customer ID.
      operationId: GetAnalyticsGBUsage
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report month
          enum:
            - January
            - February
            - March
            - April
            - May
            - June
            - July
            - August
            - September
            - October
            - November
            - December
          in: query
          name: Month
          required: false
          type: string
          x-nullable: false
        - description: Report year
          format: int32
          in: query
          name: Year
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/GBUsageResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: GB Usage.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/MostActive/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsMostActive
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MostActiveResponse'
            title: List<MostActiveResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Most Active Visitors by IP.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/PlatformHardware/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewersByPlatformHardware
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/PlatformHardwareResponse'
            title: List<PlatformHardwareResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Viewers by Platform Hardware.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/PlatformOS/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewersByPlatformOS
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/PlatformOSResponse'
            title: List<PlatformOSResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Viewers by Platform OS.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/RecentVisitors/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsRecentVisitors
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/RecentVisitorsResponse'
            title: List<RecentVisitorsResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Most Recent Visitors by Time.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/Summary/:
    get:
      deprecated: false
      description: Requires a valid Customer ID.
      operationId: GetAnalyticsSummary
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/SummaryResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Summary of views, viewers, etc.'
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/TitleReport/:
    get:
      deprecated: false
      description: Requires a valid published ID.
      operationId: GetAnalyticsTitleReport
      parameters:
        - description: Title published ID.
          in: query
          name: PublishedId
          required: true
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/TitleReportResponse'
            title: List<TitleReportResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Title Report by Video ID.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/VideoLog/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewsByVideoLog
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/VideoLogResponse'
            title: List<VideoLogResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Views by Video.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/Viewers/:
    get:
      deprecated: false
      description: Optional DateValue for length of report.
      operationId: GetAnalyticsViewers
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ViewersResponse'
            title: List<ViewersResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Viewers by Day.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/Views/:
    get:
      deprecated: false
      description: Optional DateValue for length of report.
      operationId: GetAnalyticsViews
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ViewsResponse'
            title: List<ViewsResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Views by Day.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Analytics/WebBrowsers/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewersByWebBrowsers
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/WebBrowsersResponse'
            title: List<WebBrowsersResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Viewers by Web Browser.
      tags:
        - Analytics
    parameters:
      - $ref: '#/parameters/Accept'
  /Celebrity/RankedSearch/:
    get:
      deprecated: false
      description: Find celebrity using name ordered by rank.
      operationId: GetCelebrityRanked
      parameters:
        - in: query
          name: StartsWith
          type: string
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/CelebrityRankedResponse'
            title: List<CelebrityRankedResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Find Celebrity by Name ordered by rank.
      tags:
        - Celebrity
    parameters:
      - $ref: '#/parameters/Accept'
  /Celebrity/Search/:
    get:
      deprecated: false
      description: 'Search celebrity meta data and images.  Each image in our database is related to a specific movie, TV or game title and is promotional of that title.  If you have title pages or articles about that title, then offering an image gallery on that page is obviously promotional.  If you are doing editorial about another topic and use an image from IVA, you need to reference or otherwise indicate the title of the film, TV show or game so as to be promotional.'
      operationId: SearchCelebrityGet
      parameters:
        - in: query
          name: Package
          required: false
          type: string
        - collectionFormat: multi
          description: 'Search person using one or more Ids.  Ex:  Person/123'
          in: query
          items:
            type: string
          name: Ids
          required: false
          type: array
        - description: 'Rows to skip, used for paging. Default is 0.'
          format: int32
          in: query
          name: Skip
          required: false
          type: integer
          x-nullable: false
        - description: 'Rows to return, used for paging. Default is 10, limit is 50.'
          format: int32
          in: query
          name: Take
          required: false
          type: integer
          x-nullable: false
        - collectionFormat: multi
          description: Include sub objects from the person
          in: query
          items:
            enum:
              - Images
              - ExternalIds
              - Descriptions
              - AlternateNames
            type: string
          name: Includes
          required: false
          type: array
        - description: Filter results based on Name.
          in: query
          name: Name
          required: false
          type: string
        - description: People with images with estimated age.
          format: int32
          in: query
          name: FaceDetails_Age
          required: false
          type: integer
        - description: People images with a beard.
          in: query
          name: FaceDetails_Beard
          required: false
          type: boolean
        - description: People images with a mustache.
          in: query
          name: FaceDetails_Mustache
          required: false
          type: boolean
        - collectionFormat: multi
          description: Filter People images by emotions.
          in: query
          items:
            enum:
              - UNKNOWN
              - HAPPY
              - SAD
              - ANGRY
              - CONFUSED
              - DISGUSTED
              - SURPRISED
              - CALM
            type: string
            x-nullable: false
          name: FaceDetails_Emotions
          required: false
          type: array
        - description: People images wearing eyeglasses.
          in: query
          name: FaceDetails_Eyeglasses
          required: false
          type: boolean
        - description: People images wearing sunglasses.
          in: query
          name: FaceDetails_Sunglasses
          required: false
          type: boolean
        - description: People images with eyes open.
          in: query
          name: FaceDetails_EyesOpen
          required: false
          type: boolean
        - description: People images with mouth open.
          in: query
          name: FaceDetails_MouthOpen
          required: false
          type: boolean
        - description: People images based on gender.
          enum:
            - UNKNOWN
            - Male
            - Female
          in: query
          name: FaceDetails_Gender
          required: false
          type: string
        - description: People images with smile.
          in: query
          name: FaceDetails_Smile
          required: false
          type: boolean
        - description: People with images greater than or equal to image height.
          format: int32
          in: query
          name: MinImageHeight
          required: false
          type: integer
        - description: People with images greater than or equal to image width.
          format: int32
          in: query
          name: MinImageWidth
          required: false
          type: integer
        - description: People with images of type.
          enum:
            - UNKNOWN
            - Poster
            - Photo
            - Portrait
          in: query
          name: ImageType
          required: false
          type: string
        - collectionFormat: multi
          description: People with image violence scores.
          in: query
          items:
            enum:
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
            format: int32
            type: integer
            x-nullable: false
          name: ImageViolence
          required: false
          type: array
        - collectionFormat: multi
          description: People with image sexuality scores.
          in: query
          items:
            enum:
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
            format: int32
            type: integer
            x-nullable: false
          name: ImageSexuality
          required: false
          type: array
        - collectionFormat: multi
          description: People with image containing tags.
          in: query
          items:
            type: string
          name: ImageTags
          required: false
          type: array
        - description: Limit People with official images.
          in: query
          name: OfficialImage
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'People with images from EntertainmentIds.  Ex: Movie/1234'
          in: query
          items:
            type: string
          name: ImageEntertainmentIds
          required: false
          type: array
        - description: Filter by birth name.
          in: query
          name: BirthName
          required: false
          type: string
        - description: Filter people by gender. (m or f)
          enum:
            - m
            - f
          in: query
          name: Gender
          required: false
          type: string
        - description: Birth Date
          format: date-time
          in: query
          name: BirthDate
          required: false
          type: string
        - description: Birth Year
          format: int32
          in: query
          name: BirthYear
          required: false
          type: integer
        - description: Birth Day of Month
          format: int32
          in: query
          name: BirthDayOfMonth
          required: false
          type: integer
        - description: Birth Month of Year
          format: int32
          in: query
          name: BirthMonthOfYear
          required: false
          type: integer
        - description: Birth Day of Month
          format: int32
          in: query
          name: DeathDayOfMonth
          required: false
          type: integer
        - description: Birth Month of Year
          format: int32
          in: query
          name: DeathMonthOfYear
          required: false
          type: integer
        - description: Filter results matching external Id
          in: query
          name: ExternalId
          required: false
          type: string
        - description: Filter results matching external Id
          enum:
            - IVA
            - TMDB
            - IMDB
            - Facebook
            - Instagram
            - Twitter
            - Freebase_MID
            - Freebase_ID
            - TvRage
          in: query
          name: ExternalIdType
          required: false
          type: string
        - description: Filter results based on timestamp.  Returns >= value timestamp (UTC) provided.
          format: date-time
          in: query
          name: ModifiedRecordsSince
          required: false
          type: string
        - description: Sort results based on last modified descending.  Default is sorted by _score
          in: query
          name: SortByTimeStamp
          required: false
          type: boolean
        - description: Include Soft Deleted Records. Default (false)
          in: query
          name: IncludeDeleted
          required: false
          type: boolean
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/SearchCelebrityResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Search celebrities.
      tags:
        - Celebrity
    parameters:
      - $ref: '#/parameters/Accept'
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Search celebrity meta data and images.  Each image in our database is related to a specific movie, TV or game title and is promotional of that title.  If you have title pages or articles about that title, then offering an image gallery on that page is obviously promotional.  If you are doing editorial about another topic and use an image from IVA, you need to reference or otherwise indicate the title of the film, TV show or game so as to be promotional.'
      operationId: SearchCelebrityPost
      parameters:
        - in: formData
          name: Package
          required: false
          type: string
        - collectionFormat: multi
          description: 'Search person using one or more Ids.  Ex:  Person/123'
          in: formData
          items:
            type: string
          name: Ids
          required: false
          type: array
        - description: 'Rows to skip, used for paging. Default is 0.'
          format: int32
          in: formData
          name: Skip
          required: false
          type: integer
          x-nullable: false
        - description: 'Rows to return, used for paging. Default is 10, limit is 50.'
          format: int32
          in: formData
          name: Take
          required: false
          type: integer
          x-nullable: false
        - collectionFormat: multi
          description: Include sub objects from the person
          in: formData
          items:
            enum:
              - Images
              - ExternalIds
              - Descriptions
              - AlternateNames
            type: string
          name: Includes
          required: false
          type: array
        - description: Filter results based on Name.
          in: formData
          name: Name
          required: false
          type: string
        - description: People with images with estimated age.
          format: int32
          in: formData
          name: FaceDetails_Age
          required: false
          type: integer
        - description: People images with a beard.
          in: formData
          name: FaceDetails_Beard
          required: false
          type: boolean
        - description: People images with a mustache.
          in: formData
          name: FaceDetails_Mustache
          required: false
          type: boolean
        - collectionFormat: multi
          description: Filter People images by emotions.
          in: formData
          items:
            enum:
              - UNKNOWN
              - HAPPY
              - SAD
              - ANGRY
              - CONFUSED
              - DISGUSTED
              - SURPRISED
              - CALM
            type: string
            x-nullable: false
          name: FaceDetails_Emotions
          required: false
          type: array
        - description: People images wearing eyeglasses.
          in: formData
          name: FaceDetails_Eyeglasses
          required: false
          type: boolean
        - description: People images wearing sunglasses.
          in: formData
          name: FaceDetails_Sunglasses
          required: false
          type: boolean
        - description: People images with eyes open.
          in: formData
          name: FaceDetails_EyesOpen
          required: false
          type: boolean
        - description: People images with mouth open.
          in: formData
          name: FaceDetails_MouthOpen
          required: false
          type: boolean
        - description: People images based on gender.
          enum:
            - UNKNOWN
            - Male
            - Female
          in: formData
          name: FaceDetails_Gender
          required: false
          type: string
        - description: People images with smile.
          in: formData
          name: FaceDetails_Smile
          required: false
          type: boolean
        - description: People with images greater than or equal to image height.
          format: int32
          in: formData
          name: MinImageHeight
          required: false
          type: integer
        - description: People with images greater than or equal to image width.
          format: int32
          in: formData
          name: MinImageWidth
          required: false
          type: integer
        - description: People with images of type.
          enum:
            - UNKNOWN
            - Poster
            - Photo
            - Portrait
          in: formData
          name: ImageType
          required: false
          type: string
        - collectionFormat: multi
          description: People with image violence scores.
          in: formData
          items:
            enum:
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
            format: int32
            type: integer
            x-nullable: false
          name: ImageViolence
          required: false
          type: array
        - collectionFormat: multi
          description: People with image sexuality scores.
          in: formData
          items:
            enum:
              - '1'
              - '2'
              - '3'
              - '4'
              - '5'
            format: int32
            type: integer
            x-nullable: false
          name: ImageSexuality
          required: false
          type: array
        - collectionFormat: multi
          description: People with image containing tags.
          in: formData
          items:
            type: string
          name: ImageTags
          required: false
          type: array
        - description: Limit People with official images.
          in: formData
          name: OfficialImage
          required: false
          type: boolean
        - collectionFormat: multi
          description: 'People with images from EntertainmentIds.  Ex: Movie/1234'
          in: formData
          items:
            type: string
          name: ImageEntertainmentIds
          required: false
          type: array
        - description: Filter by birth name.
          in: formData
          name: BirthName
          required: false
          type: string
        - description: Filter people by gender. (m or f)
          enum:
            - m
            - f
          in: formData
          name: Gender
          required: false
          type: string
        - description: Birth Date
          format: date-time
          in: formData
          name: BirthDate
          required: false
          type: string
        - description: Birth Year
          format: int32
          in: formData
          name: BirthYear
          required: false
          type: integer
        - description: Birth Day of Month
          format: int32
          in: formData
          name: BirthDayOfMonth
          required: false
          type: integer
        - description: Birth Month of Year
          format: int32
          in: formData
          name: BirthMonthOfYear
          required: false
          type: integer
        - description: Birth Day of Month
          format: int32
          in: formData
          name: DeathDayOfMonth
          required: false
          type: integer
        - description: Birth Month of Year
          format: int32
          in: formData
          name: DeathMonthOfYear
          required: false
          type: integer
        - description: Filter results matching external Id
          in: formData
          name: ExternalId
          required: false
          type: string
        - description: Filter results matching external Id
          enum:
            - IVA
            - TMDB
            - IMDB
            - Facebook
            - Instagram
            - Twitter
            - Freebase_MID
            - Freebase_ID
            - TvRage
          in: formData
          name: ExternalIdType
          required: false
          type: string
        - description: Filter results based on timestamp.  Returns >= value timestamp (UTC) provided.
          format: date-time
          in: formData
          name: ModifiedRecordsSince
          required: false
          type: string
        - description: Sort results based on last modified descending.  Default is sorted by _score
          in: formData
          name: SortByTimeStamp
          required: false
          type: boolean
        - description: Include Soft Deleted Records. Default (false)
          in: formData
          name: IncludeDeleted
          required: false
          type: boolean
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/SearchCelebrityResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Search celebrities.
      tags:
        - Celebrity
  /Changes/Episodes/History/:
    get:
      deprecated: false
      description: 'For each updated episode ID, pull the full episode data for that ID and update.'
      operationId: GetEpisodeChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/EpisodeChangeHistoryResponse'
            title: List<EpisodeChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique EpisodeId changes greater than or equal to date (UTC)
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/Episodes/HistoryWithEntity/:
    get:
      deprecated: false
      description: Lists each episode ID that has changed as well as the entity in the object that changed.
      operationId: GetEpisodeChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/EpisodeChangeHistoryWithEntityResponse'
            title: List<EpisodeChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique EpisodeId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/Games/History/:
    get:
      deprecated: false
      description: Requires a valid Date.
      operationId: GetGameChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/GameChangeHistoryResponse'
            title: List<GameChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique GameId changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/Movies/History/:
    get:
      deprecated: false
      description: 'Use to get the ID''s of the movies that have been added or changed and use /Movies/{ID} to get back the object with the updated data and replace in your database.'
      operationId: GetMovieChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MovieChangeHistoryResponse'
            title: List<MovieChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique MovieId changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/Movies/HistoryWithEntity/:
    get:
      deprecated: false
      description: Same as /Changes/Movies/History but with the specific entities that have changed inside the MovieResponse.
      operationId: GetMovieChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MovieChangeHistoryWithEntityResponse'
            title: List<MovieChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: |-

        Returns list of unique MovieId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/People/History/:
    get:
      deprecated: false
      description: Requires a valid Date.
      operationId: GetPersonChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/PersonChangeHistoryResponse'
            title: List<PersonChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique PersonId changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/People/HistoryWithEntity/:
    get:
      deprecated: false
      description: Requires a valid Date.
      operationId: GetPersonChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/PersonChangeHistoryWithEntityResponse'
            title: List<PersonChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique PersonId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/Seasons/History/:
    get:
      deprecated: false
      description: Use if you want to check for specific updates to season records.
      operationId: GetSeasonChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/SeasonChangeHistoryResponse'
            title: List<SeasonChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique SeasonId changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/Seasons/HistoryWithEntity/:
    get:
      deprecated: false
      description: Returns list of new or changed SeasonIds with the entity that has changed.
      operationId: GetSeasonChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/SeasonChangeHistoryWithEntityResponse'
            title: List<SeasonChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique SeasonId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/Shows/History/:
    get:
      deprecated: false
      description: 'All new and updated shows from requested date and time.  When a record gets updated, use the ID to get the full show object and replace the data in your cache.'
      operationId: GetShowChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ShowChangeHistoryResponse'
            title: List<ShowChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique ShowId changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Changes/Shows/HistoryWithEntity/:
    get:
      deprecated: false
      description: Returns a list of ShowId and entity of any show that has been updated.
      operationId: GetShowChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ShowChangeHistoryWithEntityResponse'
            title: List<ShowChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique ShowId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
    parameters:
      - $ref: '#/parameters/Accept'
  /Charts/Movies/Boxoffice:
    get:
      deprecated: false
      description: Returns top 10 box office movies.
      operationId: GetChartMoviesBoxoffice
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 100)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ChartItem'
            title: List<ChartItem>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Movies (Weekend box office revenue).
      tags:
        - Charts
    parameters:
      - $ref: '#/parameters/Accept'
  /Charts/Movies/MostAnticipated:
    get:
      deprecated: false
      description: Requires Skip and Take. Maximum page size is 100.
      operationId: GetChartMoviesMostAnticipated
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 100)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ChartItem'
            title: List<ChartItem>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Movies (Most Anticipated).
      tags:
        - Charts
    parameters:
      - $ref: '#/parameters/Accept'
  /Charts/Movies/Popular:
    get:
      deprecated: false
      description: Requires Skip and Take. Maximum page size is 100.
      operationId: GetChartMoviesPopular
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 100)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ChartItem'
            title: List<ChartItem>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Movies based on popularity.
      tags:
        - Charts
    parameters:
      - $ref: '#/parameters/Accept'
  /Charts/People/Popular:
    get:
      deprecated: false
      description: Requires Skip and Take. Maximum page size is 100.
      operationId: GetChartPeoplePopular
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 100)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ChartPersonItem'
            title: List<ChartPersonItem>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Celebrities based on popularity.
      tags:
        - Charts
    parameters:
      - $ref: '#/parameters/Accept'
  /Charts/Shows/Popular:
    get:
      deprecated: false
      description: Requires Skip and Take. Maximum page size is 100.
      operationId: GetChartShowsPopular
      parameters:
        - description: Limits the total items returned. Maximum of 100 per request.
          format: int32
          in: query
          name: Take
          required: false
          type: integer
          x-nullable: false
        - description: Skips records using for paging results.
          format: int32
          in: query
          name: Skip
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ChartItem'
            title: List<ChartItem>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Shows based on popularity.
      tags:
        - Charts
    parameters:
      - $ref: '#/parameters/Accept'
  /Common/Companies/:
    get:
      deprecated: false
      description: 'Companies are listed in a movie, show, or game response as those whom are involved with the program.  EX: Universal Pictures.'
      operationId: GetCompanies
      parameters:
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/CompanyResponse'
            title: List<CompanyResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Companies (with paging).
      tags:
        - Common
    parameters:
      - $ref: '#/parameters/Accept'
  /Common/Countries/:
    get:
      deprecated: false
      description: 'List of Countries, ISO codes and Country IDs used throughout the API.'
      operationId: GetCountries
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/CountryResponse'
            title: List<CountryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Countries.
      tags:
        - Common
    parameters:
      - $ref: '#/parameters/Accept'
  /Common/GetCommonEnumerators:
    get:
      deprecated: false
      description: Provider enumerator has values added regularly.  Update your SDK to refresh these values.
      operationId: GetCommonEnumerators
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/CommonEnumerators'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Common Enumerators.
      tags:
        - Common
    parameters:
      - $ref: '#/parameters/Accept'
  /Common/ImageTypes/:
    get:
      deprecated: false
      description: 'A list of image types available in the IVA database. **EX: Poster**'
      operationId: GetImageTypes
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ImageTypeResponse'
            title: List<ImageTypeResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Image Types.
      tags:
        - Common
    parameters:
      - $ref: '#/parameters/Accept'
  /Common/Languages/:
    get:
      deprecated: false
      description: Returns a list of languages used in the API as well as the ISO code and language ID.
      operationId: GetLanguages
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/LanguageResponse'
            title: List<LanguageResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Languages.
      tags:
        - Common
    parameters:
      - $ref: '#/parameters/Accept'
  /Common/OriginatingNetworks/:
    get:
      deprecated: false
      description: No parameters.
      operationId: GetOriginatingNetworks
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/OriginatingNetworkResponse'
            title: List<OriginatingNetworkResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Originating Networks.
      tags:
        - Common
    parameters:
      - $ref: '#/parameters/Accept'
  /Common/Tags/:
    get:
      deprecated: false
      description: Paged list of all tags used in the API.
      operationId: GetTags
      parameters:
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/TagResponse'
            title: List<TagResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Tags (with paging
      tags:
        - Common
    parameters:
      - $ref: '#/parameters/Accept'
  /Common/VideoTypes/:
    get:
      deprecated: false
      description: Returns a list of the types of videos that can be associated to a title.
      operationId: GetVideoTypes
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/VideoTypeResponse'
            title: List<VideoTypeResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of Video Types.
      tags:
        - Common
    parameters:
      - $ref: '#/parameters/Accept'
  /Entertainment/Match/:
    get:
      deprecated: false
      description: 'Requires a valid program type and at least a title. Matches to Entertainment Programs of given type, returns all candidates that achieved the highest score, ties possible.'
      operationId: MatchToEntertainmentGet
      parameters:
        - description: Type of Program to be matched.
          in: query
          name: ProgramType
          required: true
          type: string
          x-nullable: false
        - description: Title of Program to be matched.
          in: query
          name: Title
          required: true
          type: string
        - collectionFormat: multi
          description: Alternate Titles of Program to be matched.
          in: query
          items:
            type: string
          name: AlternateTitles
          required: false
          type: array
        - description: Release Year of Program to be matched.
          format: int32
          in: query
          name: Year
          required: false
          type: integer
        - collectionFormat: multi
          description: Cast members of Program to be matched.
          in: query
          items:
            type: string
          name: Cast
          required: false
          type: array
        - collectionFormat: multi
          description: Producers of Program to be matched.
          in: query
          items:
            type: string
          name: Producers
          required: false
          type: array
        - collectionFormat: multi
          description: Directors of Program to be matched.
          in: query
          items:
            type: string
          name: Directors
          required: false
          type: array
        - description: Description of Program to be matched.
          in: query
          name: Description
          required: false
          type: string
        - description: Poster of Program to be matched.
          in: query
          name: Poster
          required: false
          type: string
        - description: Release Date of Program to be matched.
          format: date-time
          in: query
          name: ReleaseDate
          required: false
          type: string
        - description: 'For fuzzy title match, default is 4, set to 0 for no fuzzy match.'
          format: int32
          in: query
          name: StringDistance
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/MatchToEntertainmentProgramResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Match a program using Title, Year, Cast, Director.'
      tags:
        - Entertainment
    parameters:
      - $ref: '#/parameters/Accept'
    post:
      consumes:
        - application/x-www-form-urlencoded
      deprecated: false
      description: 'Requires a valid program type and at least a title. Matches to Entertainment Programs of given type, returns all candidates that achieved the highest score, ties possible.'
      operationId: MatchToEntertainmentPost
      parameters:
        - description: Type of Program to be matched.
          in: formData
          name: ProgramType
          required: true
          type: string
          x-nullable: false
        - description: Title of Program to be matched.
          in: formData
          name: Title
          required: true
          type: string
        - collectionFormat: multi
          description: Alternate Titles of Program to be matched.
          in: formData
          items:
            type: string
          name: AlternateTitles
          required: false
          type: array
        - description: Release Year of Program to be matched.
          format: int32
          in: formData
          name: Year
          required: false
          type: integer
        - collectionFormat: multi
          description: Cast members of Program to be matched.
          in: formData
          items:
            type: string
          name: Cast
          required: false
          type: array
        - collectionFormat: multi
          description: Producers of Program to be matched.
          in: formData
          items:
            type: string
          name: Producers
          required: false
          type: array
        - collectionFormat: multi
          description: Directors of Program to be matched.
          in: formData
          items:
            type: string
          name: Directors
          required: false
          type: array
        - description: Description of Program to be matched.
          in: formData
          name: Description
          required: false
          type: string
        - description: Poster of Program to be matched.
          in: formData
          name: Poster
          required: false
          type: string
        - description: Release Date of Program to be matched.
          format: date-time
          in: formData
          name: ReleaseDate
          required: false
          type: string
        - description: 'For fuzzy title match, default is 4, set to 0 for no fuzzy match.'
          format: int32
          in: formData
          name: StringDistance
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/MatchToEntertainmentProgramResponse'
[...]
