swagger: '2.0'
schemes:
  - https
host: ee.iva-api.com
info:
  contact:
    x-twitter: VideoDetective
  description: 'Your Gateway to Building Incredible Movie, TV, and Game Content Discovery Experiences.'
  license:
    name: Terms and Conditions
    url: 'https://developer.iva-api.com/terms'
  title: Entertainment Express
  version: '2.0'
  x-apisguru-categories:
    - media
  x-logo:
    url: 'https://twitter.com/VideoDetective/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://ee.iva-api.com/specs/openapi'
      version: '2.0'
  x-providerName: iva-api.com
externalDocs:
  description: For addition information about this api visit the external documentation.
  url: 'https://developer.iva-api.com/docs/v1/getting-started'
produces:
  - application/json
  - application/xml
  - text/csv
  - text/html
securityDefinitions:
  ApiKeyHeader:
    description: Authorize requests passing your apiKey in HTTP header.
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  ApiKeyQuery:
    description: Authorize requests passing your apiKey in Querystring.
    in: query
    name: subscription-Key
    type: apiKey
tags:
  - name: Analytics
  - name: Changes
  - name: Charts
  - name: Common
  - name: ExternalIds
  - name: Find
  - name: GoWatchIt
  - name: Images
  - name: Metacritic
  - name: Movies
  - name: MovieTickets
  - name: People
  - name: SDKs
  - name: Shows
  - name: Tests
  - name: TheatricalMovies
  - name: TvMedia
  - name: Videos
  - name: XroadMedia
paths:
  /Analytics/City/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today..'
      operationId: GetAnalyticsViewersByCity
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/CityResponse'
            title: List<CityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Viewers by City.
      tags:
        - Analytics
  /Analytics/Country/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewersByCountry
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response.
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/AnalyticsCountryResponse'
            title: List<AnalyticsCountryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Viewers by Country.
      tags:
        - Analytics
  /Analytics/EngagementActions/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticEngagementActions
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/EngagementActionsResponse'
            title: List<EngagementActionsResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: GetAnalyticEngagementActions
      tags:
        - Analytics
  /Analytics/EngagementTimes/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsEngagementTimes
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/EngagementTimesResponse'
            title: List<EngagementTimesResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get View count by Frequency.
      tags:
        - Analytics
  /Analytics/GBUsage/:
    get:
      deprecated: false
      description: Requires a valid Customer ID.
      operationId: GetAnalyticsGBUsage
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report month
          enum:
            - January
            - February
            - March
            - April
            - May
            - June
            - July
            - August
            - September
            - October
            - November
            - December
          format: int32
          in: query
          name: Month
          required: false
          type: integer
          x-nullable: false
        - description: Report year
          format: int32
          in: query
          name: Year
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/GBUsageResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get GBUsage by Customer ID.
      tags:
        - Analytics
  /Analytics/MostActive/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsMostActive
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MostActiveResponse'
            title: List<MostActiveResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Most Active Visitors by IP.
      tags:
        - Analytics
  /Analytics/PlatformHardware/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewersByPlatformHardware
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/PlatformHardwareResponse'
            title: List<PlatformHardwareResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Viewers by Platform Hardware.
      tags:
        - Analytics
  /Analytics/PlatformOS/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewersByPlatformOS
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/PlatformOSResponse'
            title: List<PlatformOSResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Viewers by Platform OS.
      tags:
        - Analytics
  /Analytics/RecentVisitors/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsRecentVisitors
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/RecentVisitorsResponse'
            title: List<RecentVisitorsResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Most Recent Visitors by Time.
      tags:
        - Analytics
  /Analytics/Summary/:
    get:
      deprecated: false
      description: Requires a valid Customer ID.
      operationId: GetAnalyticsSummary
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/SummaryResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Summary by Customer ID.
      tags:
        - Analytics
  /Analytics/TitleReport/:
    get:
      deprecated: false
      description: Requires a valid published ID.
      operationId: GetAnalyticsTitleReport
      parameters:
        - description: Title published ID.
          in: query
          name: PublishedId
          required: true
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/TitleReportResponse'
            title: List<TitleReportResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Title Report by PublishedID.
      tags:
        - Analytics
  /Analytics/VideoLog/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewsByVideoLog
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/VideoLogResponse'
            title: List<VideoLogResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Views by Video.
      tags:
        - Analytics
  /Analytics/Viewers/:
    get:
      deprecated: false
      description: Optional DateValue for length of report.
      operationId: GetAnalyticsViewers
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ViewersResponse'
            title: List<ViewersResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get viewers by Day.
      tags:
        - Analytics
  /Analytics/Views/:
    get:
      deprecated: false
      description: Optional DateValue for length of report.
      operationId: GetAnalyticsViews
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ViewsResponse'
            title: List<ViewsResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get views by Day.
      tags:
        - Analytics
  /Analytics/WebBrowsers/:
    get:
      deprecated: false
      description: 'No required parameters, DateValue defaults to Today.'
      operationId: GetAnalyticsViewersByWebBrowsers
      parameters:
        - description: Report Tag filter.
          in: query
          name: ReportTag
          required: false
          type: string
        - description: Report start date
          format: date-time
          in: query
          name: Start
          required: false
          type: string
          x-nullable: false
        - description: Report end date
          format: date-time
          in: query
          name: End
          required: false
          type: string
          x-nullable: false
        - description: Days spanned by report
          enum:
            - today
            - yesterday
            - two_days_ago
            - last_7_days
            - last_14_days
            - last_28_days
            - last_60_days
            - last_90_days
            - last_365_days
          in: query
          name: DateValue
          required: false
          type: string
        - description: Number of records returned from top of response
          format: int32
          in: query
          name: Limit
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/WebBrowsersResponse'
            title: List<WebBrowsersResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get Viewers by Web Browser.
      tags:
        - Analytics
  /Changes/Episodes/History/:
    get:
      deprecated: false
      description: 'For each updated episode ID, pull the full episode data for that ID and update.'
      operationId: GetEpisodeChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/EpisodeChangeHistoryResponse'
            title: List<EpisodeChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique EpisodeId changes greater than or equal to date (UTC)
      tags:
        - Changes
  /Changes/Episodes/HistoryWithEntity/:
    get:
      deprecated: false
      description: Lists each episode ID that has changed as well as the entity in the object that changed.
      operationId: GetEpisodeChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/EpisodeChangeHistoryWithEntityResponse'
            title: List<EpisodeChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique EpisodeId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
  /Changes/Movies/History/:
    get:
      deprecated: false
      description: 'Use to get the ID''s of the movies that have been added or changed and use /Movies/{ID} to get back the object with the updated data and replace in your database.'
      operationId: GetMovieChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MovieChangeHistoryResponse'
            title: List<MovieChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique MovieId changes greater than or equal to date (UTC).
      tags:
        - Changes
  /Changes/Movies/HistoryWithEntity/:
    get:
      deprecated: false
      description: Same as /Changes/Movies/History but with the specific entities that have changed inside the MovieResponse.
      operationId: GetMovieChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MovieChangeHistoryWithEntityResponse'
            title: List<MovieChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: |-

        Returns list of unique MovieId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
  /Changes/People/History/:
    get:
      deprecated: false
      description: Requires a valid Date.
      operationId: GetPersonChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/PersonChangeHistoryResponse'
            title: List<PersonChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique PersonId changes greater than or equal to date (UTC).
      tags:
        - Changes
  /Changes/People/HistoryWithEntity/:
    get:
      deprecated: false
      description: Requires a valid Date.
      operationId: GetPersonChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/PersonChangeHistoryWithEntityResponse'
            title: List<PersonChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique PersonId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
  /Changes/Seasons/History/:
    get:
      deprecated: false
      description: Use if you want to check for specific updates to season records.
      operationId: GetSeasonChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/SeasonChangeHistoryResponse'
            title: List<SeasonChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique SeasonId changes greater than or equal to date (UTC).
      tags:
        - Changes
  /Changes/Seasons/HistoryWithEntity/:
    get:
      deprecated: false
      description: Returns list of new or changed SeasonIds with the entity that has changed.
      operationId: GetSeasonChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/SeasonChangeHistoryWithEntityResponse'
            title: List<SeasonChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique SeasonId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
  /Changes/Shows/History/:
    get:
      deprecated: false
      description: 'All new and updated shows from requested date and time.  When a record gets updated, use the ID to get the full show object and replace the data in your cache.'
      operationId: GetShowChangeHistory
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ShowChangeHistoryResponse'
            title: List<ShowChangeHistoryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique ShowId changes greater than or equal to date (UTC).
      tags:
        - Changes
  /Changes/Shows/HistoryWithEntity/:
    get:
      deprecated: false
      description: Returns a list of ShowId and entity of any show that has been updated.
      operationId: GetShowChangeHistoryWithEntity
      parameters:
        - description: 'Starting date <= when record has changed (Maximum of 30 days back). ISO 8601 Format: yyyy-mm-dd hh:mm:ss.ffffff0Z'
          format: date-time
          in: query
          name: Date
          required: true
          type: string
          x-nullable: false
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ShowChangeHistoryWithEntityResponse'
            title: List<ShowChangeHistoryWithEntityResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of unique ShowId and Entity changes greater than or equal to date (UTC).
      tags:
        - Changes
  /Charts/Movies/Boxoffice:
    get:
      deprecated: false
      description: Returns top 10 box office movies.
      operationId: GetChartMoviesBoxoffice
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 100)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ChartItem'
            title: List<ChartItem>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of movies based on the weekend box office revenue.
      tags:
        - Charts
  /Charts/Movies/MostAnticipated:
    get:
      deprecated: false
      description: Requires Skip and Take. Maximum page size is 100.
      operationId: GetChartMoviesMostAnticipated
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 100)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/Object'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of Most Anticipated movies based on IVA data.
      tags:
        - Charts
  /Charts/Movies/Popular:
    get:
      deprecated: false
      description: Requires Skip and Take. Maximum page size is 100.
      operationId: GetChartMoviesPopular
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 100)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ChartItem'
            title: List<ChartItem>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of popular movies.
      tags:
        - Charts
  /Charts/People/Popular:
    get:
      deprecated: false
      description: Requires Skip and Take. Maximum page size is 100.
      operationId: GetChartPeoplePopular
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 100)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/Object'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns list of popular celebrities based on IVA data.
      tags:
        - Charts
  /Charts/Shows/Popular:
    get:
      deprecated: false
      description: Requires Skip and Take. Maximum page size is 100.
      operationId: GetChartShowsPopular
      parameters:
        - description: Limits the total items returned. Maximum of 100 per request.
          format: int32
          in: query
          name: Take
          required: false
          type: integer
          x-nullable: false
        - description: Skips records using for paging results.
          format: int32
          in: query
          name: Skip
          required: false
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/ChartItem'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns a list of shows based on popularity.
      tags:
        - Charts
  /Common/Companies/:
    get:
      deprecated: false
      description: 'Companies are listed in a movie, show, or game response as those whom are involved with the program.  EX: Universal Pictures.'
      operationId: GetCompanies
      parameters:
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/CompanyResponse'
            title: List<CompanyResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Paged list of companies.
      tags:
        - Common
  /Common/Countries/:
    get:
      deprecated: false
      description: 'List of Countries, ISO codes and Country IDs used throughout the API.'
      operationId: GetCountries
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/CountryResponse'
            title: List<CountryResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns a list of countries.
      tags:
        - Common
  /Common/ImageTypes/:
    get:
      deprecated: false
      description: 'A list of image types available in the IVA database. **EX: Poster**'
      operationId: GetImageTypes
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ImageTypeResponse'
            title: List<ImageTypeResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: List of image types contained in the database.
      tags:
        - Common
  /Common/Languages/:
    get:
      deprecated: false
      description: Returns a list of languages used in the API as well as the ISO code and language ID.
      operationId: GetLanguages
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/LanguageResponse'
            title: List<LanguageResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Gets all languages.
      tags:
        - Common
  /Common/Tags/:
    get:
      deprecated: false
      description: Paged list of all tags used in the API.
      operationId: GetTags
      parameters:
        - description: Offset for paging. Default is 0.
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: 'Maximum number of rows returned. Default is 1,000.'
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/TagResponse'
            title: List<TagResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Gets all tags.
      tags:
        - Common
  /Common/VideoTypes/:
    get:
      deprecated: false
      description: Returns a list of the types of videos that can be associated to a title.
      operationId: GetVideoTypes
      parameters: []
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/VideoTypeResponse'
            title: List<VideoTypeResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Gets all VideoTypes.
      tags:
        - Common
  /ExternalIds/GracenoteMovie:
    get:
      deprecated: false
      description: 'Not accessible with a Demo account.  **Special permissions needed** for access to this operation.  Contact [Sales](mailto:sales@internetvideoarchive.com).'
      operationId: GetGracenoteMovieIds
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 1000)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MovieExternalIdMap'
            title: List<MovieExternalIdMap>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Returns list of all MovieId, Gracenote Id pairs.'
      tags:
        - ExternalIds
  /ExternalIds/GracenoteShow:
    get:
      deprecated: false
      description: 'Not accessible with a Demo account. **Special permissions needed** for access to this operation. Contact [Sales](mailto:sales@internetvideoarchive.com).'
      operationId: GetGracenoteShowIds
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 1000)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ShowExternalIdMap'
            title: List<ShowExternalIdMap>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Returns list of all ShowId, Gracenote Id pairs.'
      tags:
        - ExternalIds
  /ExternalIds/ImdbMovie:
    get:
      deprecated: false
      description: Ingest this ID map to create connections between the objects in your existing database with an IMDB ID to the IVA Movie objects.
      operationId: GetImdbMovieIds
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 1000)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MovieExternalIdMap'
            title: List<MovieExternalIdMap>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Returns list of all MovieId, IMDB Id pairs.'
      tags:
        - ExternalIds
  /ExternalIds/ImdbShow:
    get:
      deprecated: false
      description: ngest this ID map to create connections between the objects in your existing database with an IMDB ID to the IVA Show objects.
      operationId: GetImdbShowIds
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 1000)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ShowExternalIdMap'
            title: List<ShowExternalIdMap>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Returns list of all MovieId, Tmdb Id pairs.'
      tags:
        - ExternalIds
  /ExternalIds/RoviMovie:
    get:
      deprecated: false
      description: 'Not accessible with a Demo account. **Special permissions needed** for access to this operation. Contact [Sales](mailto:sales@internetvideoarchive.com).'
      operationId: GetTivoMovieIds
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 1000)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MovieExternalIdMap'
            title: List<MovieExternalIdMap>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Returns list of all MovieId, Tivo Id pairs.'
      tags:
        - ExternalIds
  /ExternalIds/RoviShow:
    get:
      deprecated: false
      description: 'Not accessible with a Demo account. **Special permissions needed** for access to this operation. Contact [Sales](mailto:sales@internetvideoarchive.com).'
      operationId: GetTivoShowIds
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 1000)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ShowExternalIdMap'
            title: List<ShowExternalIdMap>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Returns list of all ShowId, Tivo Id pairs.'
      tags:
        - ExternalIds
  /ExternalIds/TmdbMovie:
    get:
      deprecated: false
      description: Use to link a TMDB ID to an IVA Movie ID.
      operationId: GetTmdbMovieIds
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 1000)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MovieExternalIdMap'
            title: List<MovieExternalIdMap>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Returns list of all MovieId, Tmdb Id pairs.'
      tags:
        - ExternalIds
  /ExternalIds/TmdbShow:
    get:
      deprecated: false
      description: Use to link a TMDB ID to an IVA Show ID.
      operationId: GetTmdbShowIds
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 1000)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ShowExternalIdMap'
            title: List<ShowExternalIdMap>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Returns list of all ShowId, TMDB Id pairs.'
      tags:
        - ExternalIds
  /ExternalIds/Webedia:
    get:
      deprecated: false
      description: 'Not accessible with a Demo account. **Special permissions needed** for access to this operation. Contact [Sales](mailto:sales@internetvideoarchive.com).'
      operationId: GetWebediaMovieIds
      parameters:
        - description: 'Determines where to start page.  Ex: 0 starts at the beginning.'
          format: int32
          in: query
          name: Skip
          required: true
          type: integer
          x-nullable: false
        - description: Determines the page size.  (Maximum of 1000)
          format: int32
          in: query
          name: Take
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/MovieExternalIdMap'
            title: List<MovieExternalIdMap>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: 'Returns list of all MovieId, Webedia Id pairs.'
      tags:
        - ExternalIds
  /Find/Movie/:
    get:
      deprecated: false
      description: |-
        Use FindMovie with a third party ID like IMDB, TMDB, Gracenote, Tivo, etc. to find the corresponding movie in the IVA database.  For a full list of supported ID types see /Movies/AlternateIdTypes. 



        `Recommendation: Use with small data sets or for a proof of concept. `
      operationId: FindMovie
      parameters:
        - description: Required third party ID type of MovieAlternateId.
          format: int32
          in: query
          name: IdType
          required: true
          type: integer
        - description: Required third party ID of Movie.
          in: query
          name: Id
          required: true
          type: string
        - collectionFormat: multi
          description: List of additional objects to include in the movie object.
          in: query
          items:
            enum:
              - Genres
              - Releases
              - Contributors
              - AlternateTitles
              - Descriptions
              - Companies
              - Tags
              - Images
              - Videos
              - ExternalIds
            type: string
          name: Includes
          required: false
          type: array
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/MovieResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Find a movie using third party ID.
      tags:
        - Find
  /Find/Show/:
    get:
      deprecated: false
      description: 'Use FindShow with a third party ID like IMDB, TMDB, Gracenote, Tivo, etc. to find the corresponding TV show in the IVA database. For a full list of supported ID types see /Shows/AlternateIdTypes. `Recommendation: Use with small data sets or for a proof of concept. `'
      operationId: FindShow
      parameters:
        - description: Required third party ID type of ShowAlternateId.
          format: int32
          in: query
          name: IdType
          required: true
          type: integer
        - description: Required third party ID of Show.
          in: query
          name: Id
          required: true
          type: string
        - collectionFormat: multi
          description: List of additional objects to include in the show response.
          in: query
          items:
            enum:
              - Genres
              - Releases
              - Contributors
              - AlternateTitles
              - Descriptions
              - Companies
              - Tags
              - Images
              - Videos
              - Seasons
              - EpisodeVideos
              - SeasonVideos
              - ExternalIds
            type: string
          name: Includes
          required: false
          type: array
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/ShowResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Find a TV show using a third party ID.
      tags:
        - Find
  '/GoWatchIt/Episodes/{Id}/Availabilities':
    get:
      deprecated: false
      description: 'Returns GoWatchit episode availability by Entertainment Episode ID. Special permission is required to access this endpoint. '
      operationId: GetGoWatchItEpisodeAvailabilities
      parameters:
        - description: Required ID of Entertainment Episode.
          format: int64
          in: path
          name: Id
          required: true
          type: integer
          x-nullable: false
        - description: Required GoWatchIt API key.
          in: query
          name: ApiKey
          required: true
          type: string
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/GoWatchItEpisodeAvailabilitiesResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get GoWatchIt Episode Availability.
      tags:
        - GoWatchIt
  '/GoWatchIt/Movies/{Id}/Availabilities':
    get:
      deprecated: false
      description: 'Returns GoWatchIt movie availability by Entertainment Movie ID.  Special permission is required to access this endpoint.  Contact [Sales](mailto:Sales@InternetVideoArchive.com) for more information.'
      operationId: GetGoWatchItMovieAvailabilities
      parameters:
        - description: Required ID of Entertainment Movie.
          format: int64
          in: path
          name: Id
          required: true
          type: integer
          x-nullable: false
        - description: Required GoWatchIt API key.
          in: query
          name: ApiKey
          required: true
          type: string
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/GoWatchItMovieAvailabilitiesResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get GoWatchIt Movie Availability.
      tags:
        - GoWatchIt
  '/GoWatchIt/Seasons/{Id}/Availabilities':
    get:
      deprecated: false
      description: 'Returns GoWatchIt season availability by Entertainment Season ID.  Special permission is required to access this endpoint.  Contact [Sales](mailto:Sales@InternetVideoArchive.com) for more information.'
      operationId: GetGoWatchItSeasonAvailabilities
      parameters:
        - description: Required ID of Entertainment Season.
          format: int64
          in: path
          name: Id
          required: true
          type: integer
          x-nullable: false
        - description: Required GoWatchIt API key.
          in: query
          name: ApiKey
          required: true
          type: string
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/GoWatchItSeasonAvailabilitiesResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get GoWatchIt Season Availability.
      tags:
        - GoWatchIt
  '/GoWatchIt/Shows/{Id}/Availabilities':
    get:
      deprecated: false
      description: 'Returns GoWatchIt show availability by Entertainment Show ID.  Special permission is required to access this endpoint. Please contact [Sales](mailto:Sales@InternetVideoArchive.com) for more information.'
      operationId: GetGoWatchItShowAvailabilities
      parameters:
        - description: Required ID of Entertainment Show.
          format: int64
          in: path
          name: Id
          required: true
          type: integer
          x-nullable: false
        - description: Required GoWatchIt API key.
          in: query
          name: ApiKey
          required: true
          type: string
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/GoWatchItShowAvailabilitiesResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Get GoWatchItShow Availability.
      tags:
        - GoWatchIt
  /Images/Batch:
    post:
      deprecated: false
      description: Requires a list filepath.
      operationId: GetImageBatch
      parameters:
        - collectionFormat: multi
          description: List of Filepaths.
          in: query
          items:
            type: string
          name: FilePath
          required: false
          type: array
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetImageBatch'
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ImageBatchResponse'
            title: List<ImageBatchResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns a list of batch image responses links based on filepath.
      tags:
        - Images
  /Images/ScreenCaptures/Batch:
    post:
      deprecated: false
      description: Requires a list of filepaths.
      operationId: GetScreenCaptureBatch
      parameters:
        - collectionFormat: multi
          description: List of Filepaths.
          in: query
          items:
            type: string
          name: FilePath
          required: false
          type: array
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetScreenCaptureBatch'
      responses:
        '200':
          description: OK.
          schema:
            items:
              $ref: '#/definitions/ImageBatchResponse'
            title: List<ImageBatchResponse>
            type: array
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Returns a list of screen capture responses.
      tags:
        - Images
  /Images/ScreenCaptures/Redirect:
    get:
      deprecated: false
      description: |-
        Requires a valid filepath of a video asset screen capture.  

        `Note: The swagger U/I does not support redirects.`
      operationId: GetScreenCapture
      parameters:
        - description: Filepath of Image.
          in: query
          name: FilePath
          required: true
          type: string
        - description: Redirect to the image. Default = true
          in: query
          name: Redirect
          required: false
          type: boolean
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/ScreenCaptureRedirectResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Redirect to a screen capture based on filepath.
      tags:
        - Images
  '/Images/{FilePath}/Redirect':
    get:
      deprecated: false
      description: |-
        Images should be downloaded and stored on the client server. Use /Common/ImageTypes to see a list of available image types.  


        `Note: The swagger U/I does not support redirects.`
      operationId: GetImage
      parameters:
        - description: Filepath of Image.
          in: path
          name: FilePath
          required: true
          type: string
        - description: Redirect to the image. Default = true
          in: query
          name: Redirect
          required: false
          type: boolean
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/ImageRedirectResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
          description: Too many requests.
        '500':
          description: Internal server error.
        '503':
          description: Service unavailable.
      security:
        - ApiKeyHeader: []
          ApiKeyQuery: []
      summary: Redirect to an image based on filepath.
      tags:
        - Images
  '/Metacritic/Movie/{Id}':
    get:
      deprecated: false
      description: Returns Metacritic Movie information by Entertainment Movie ID.
      operationId: GetMetacriticMovie
      parameters:
        - description: Required ID of Entertainment Movie.
          format: int64
          in: path
          name: Id
          required: true
          type: integer
          x-nullable: false
      responses:
        '200':
          description: OK.
          schema:
            $ref: '#/definitions/MetacriticMovieResponse'
        '204':
          description: No content.
        '400':
          description: Bad request.
        '401':
          description: Unauthorized.
        '403':
          description: Forbidden. The subscription key does not have permission to access this method.
        '404':
          description: Not found. The item you requested could not be found or has been deleted.
        '409':
          description: Conflict.
        '429':
[...]
