swagger: '2.0'
info:
  version: '2017-11-27'
  x-release: v4
  title: AWS IoT Analytics
  description: '<p>AWS IoT Analytics allows you to collect large amounts of device data, process messages, and store them. You can then query the data and run sophisticated analytics on it. AWS IoT Analytics enables advanced data exploration through integration with Jupyter Notebooks and data visualization through integration with Amazon QuickSight.</p> <p>Traditional analytics and business intelligence tools are designed to process structured data. IoT data often comes from devices that record noisy processes (such as temperature, motion, or sound). As a result the data from these devices can have significant gaps, corrupted messages, and false readings that must be cleaned up before analysis can occur. Also, IoT data is often only meaningful in the context of other data from external sources. </p> <p>AWS IoT Analytics automates the steps required to analyze data from IoT devices. AWS IoT Analytics filters, transforms, and enriches IoT data before storing it in a time-series data store for analysis. You can set up the service to collect only the data you need from your devices, apply mathematical transforms to process the data, and enrich the data with device-specific metadata such as device type and location before storing it. Then, you can analyze your data by running queries using the built-in SQL query engine, or perform more complex analytics and machine learning inference. AWS IoT Analytics includes pre-built models for common IoT use cases so you can answer questions like which devices are about to fail or which customers are at risk of abandoning their wearable devices.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: iotanalytics
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/iotanalytics-2017-11-27.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/iotanalytics/'
host: iotanalytics.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://iotanalytics.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS IoT Analytics multi-region endpoint
  - url: 'https://iotanalytics.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS IoT Analytics multi-region endpoint
  - url: 'http://iotanalytics.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS IoT Analytics endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://iotanalytics.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS IoT Analytics endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /messages/batch:
    post:
      operationId: BatchPutMessage
      description: Sends messages to a channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchPutMessageResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - channelName
              - messages
            properties:
              channelName:
                description: The name of the channel where the messages are sent.
                type: string
                pattern: '^[a-zA-Z0-9_]+$'
                minLength: 1
                maxLength: 128
              messages:
                description: '<p>The list of messages to be sent. Each message has format: ''{ "messageId": "string", "payload": "string"}''.</p> <p>Note that the field names of message payloads (data) that you send to AWS IoT Analytics:</p> <ul> <li> <p>Must contain only alphanumeric characters and undescores (_); no other special characters are allowed.</p> </li> <li> <p>Must begin with an alphabetic character or single underscore (_).</p> </li> <li> <p>Cannot contain hyphens (-).</p> </li> <li> <p>In regular expression terms: "^[A-Za-z_]([A-Za-z0-9]*|[A-Za-z0-9][A-Za-z0-9_]*)$". </p> </li> <li> <p>Cannot be greater than 255 characters.</p> </li> <li> <p>Are case-insensitive. (Fields named "foo" and "FOO" in the same payload are considered duplicates.)</p> </li> </ul> <p>For example, {"temp_01": 29} or {"_temp_01": 29} are valid, but {"temp-01": 29}, {"01_temp": 29} or {"__temp_01": 29} are invalid in message payloads. </p>'
                type: array
                items:
                  $ref: '#/definitions/Message'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/pipelines/{pipelineName}/reprocessing/{reprocessingId}':
    delete:
      operationId: CancelPipelineReprocessing
      description: Cancels the reprocessing of data through the pipeline.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CancelPipelineReprocessingResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: pipelineName
          in: path
          required: true
          description: The name of pipeline for which data reprocessing is canceled.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: reprocessingId
          in: path
          required: true
          description: The ID of the reprocessing task (returned by "StartPipelineReprocessing").
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /channels:
    post:
      operationId: CreateChannel
      description: 'Creates a channel. A channel collects data from an MQTT topic and archives the raw, unprocessed messages before publishing the data to a pipeline.'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateChannelResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - channelName
            properties:
              channelName:
                description: The name of the channel.
                type: string
                pattern: '^[a-zA-Z0-9_]+$'
                minLength: 1
                maxLength: 128
              channelStorage:
                description: 'Where channel data is stored. You may choose one of "serviceManagedS3" or "customerManagedS3" storage. If not specified, the default is "serviceManagedS3". This cannot be changed after creation of the channel.'
                type: object
                properties:
                  serviceManagedS3:
                    $ref: '#/definitions/ServiceManagedChannelS3Storage'
                    description: Use this to store channel data in an S3 bucket managed by the AWS IoT Analytics service. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the channel.
                  customerManagedS3:
                    $ref: '#/definitions/CustomerManagedChannelS3Storage'
                    description: 'Use this to store channel data in an S3 bucket that you manage. If customer managed storage is selected, the "retentionPeriod" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the channel.'
              retentionPeriod:
                description: 'How long, in days, message data is kept.'
                type: object
                properties:
                  unlimited:
                    $ref: '#/definitions/UnlimitedRetentionPeriod'
                    description: 'If true, message data is kept indefinitely.'
                  numberOfDays:
                    $ref: '#/definitions/RetentionPeriodInDays'
                    description: The number of days that message data is kept. The "unlimited" parameter must be false.
              tags:
                description: Metadata which can be used to manage the channel.
                type: array
                items:
                  $ref: '#/definitions/Tag'
                minItems: 1
                maxItems: 50
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListChannels
      description: Retrieves a list of channels.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListChannelsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: <p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>
          type: integer
          minimum: 1
          maximum: 250
  /datasets:
    post:
      operationId: CreateDataset
      description: Creates a data set. A data set stores data retrieved from a data store by applying a "queryAction" (a SQL query) or a "containerAction" (executing a containerized application). This operation creates the skeleton of a data set. The data set can be populated manually by calling "CreateDatasetContent" or automatically according to a "trigger" you specify.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateDatasetResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - datasetName
              - actions
            properties:
              datasetName:
                description: The name of the data set.
                type: string
                pattern: '^[a-zA-Z0-9_]+$'
                minLength: 1
                maxLength: 128
              actions:
                description: A list of actions that create the data set contents.
                type: array
                items:
                  $ref: '#/definitions/DatasetAction'
                minItems: 1
                maxItems: 1
              triggers:
                description: A list of triggers. A trigger causes data set contents to be populated at a specified time interval or when another data set's contents are created. The list of triggers can be empty or contain up to five <b>DataSetTrigger</b> objects.
                type: array
                items:
                  $ref: '#/definitions/DatasetTrigger'
                minItems: 0
                maxItems: 5
              contentDeliveryRules:
                description: When data set contents are created they are delivered to destinations specified here.
                type: array
                items:
                  $ref: '#/definitions/DatasetContentDeliveryRule'
                minItems: 0
                maxItems: 20
              retentionPeriod:
                description: 'How long, in days, message data is kept.'
                type: object
                properties:
                  unlimited:
                    $ref: '#/definitions/UnlimitedRetentionPeriod'
                    description: 'If true, message data is kept indefinitely.'
                  numberOfDays:
                    $ref: '#/definitions/RetentionPeriodInDays'
                    description: The number of days that message data is kept. The "unlimited" parameter must be false.
              versioningConfiguration:
                description: Information about the versioning of data set contents.
                type: object
                properties:
                  unlimited:
                    $ref: '#/definitions/UnlimitedVersioning'
                    description: 'If true, unlimited versions of data set contents will be kept.'
                  maxVersions:
                    $ref: '#/definitions/MaxVersions'
                    description: How many versions of data set contents will be kept. The "unlimited" parameter must be false.
              tags:
                description: Metadata which can be used to manage the data set.
                type: array
                items:
                  $ref: '#/definitions/Tag'
                minItems: 1
                maxItems: 50
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDatasets
      description: Retrieves information about data sets.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatasetsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: <p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>
          type: integer
          minimum: 1
          maximum: 250
  '/datasets/{datasetName}/content':
    post:
      operationId: CreateDatasetContent
      description: Creates the content of a data set by applying a "queryAction" (a SQL query) or a "containerAction" (executing a containerized application).
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDatasetContentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: datasetName
          in: path
          required: true
          description: The name of the data set.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DeleteDatasetContent
      description: Deletes the content of the specified data set.
      responses:
        '204':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: datasetName
          in: path
          required: true
          description: The name of the data set whose content is deleted.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: versionId
          in: query
          required: false
          description: 'The version of the data set whose content is deleted. You can also use the strings "$LATEST" or "$LATEST_SUCCEEDED" to delete the latest or latest successfully completed data set. If not specified, "$LATEST_SUCCEEDED" is the default.'
          type: string
          minLength: 7
          maxLength: 36
    get:
      operationId: GetDatasetContent
      description: Retrieves the contents of a data set as pre-signed URIs.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDatasetContentResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: datasetName
          in: path
          required: true
          description: The name of the data set whose contents are retrieved.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: versionId
          in: query
          required: false
          description: 'The version of the data set whose contents are retrieved. You can also use the strings "$LATEST" or "$LATEST_SUCCEEDED" to retrieve the contents of the latest or latest successfully completed data set. If not specified, "$LATEST_SUCCEEDED" is the default.'
          type: string
          minLength: 7
          maxLength: 36
  /datastores:
    post:
      operationId: CreateDatastore
      description: 'Creates a data store, which is a repository for messages.'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateDatastoreResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - datastoreName
            properties:
              datastoreName:
                description: The name of the data store.
                type: string
                pattern: '^[a-zA-Z0-9_]+$'
                minLength: 1
                maxLength: 128
              datastoreStorage:
                description: 'Where data store data is stored. You may choose one of "serviceManagedS3" or "customerManagedS3" storage. If not specified, the default is "serviceManagedS3". This cannot be changed after the data store is created.'
                type: object
                properties:
                  serviceManagedS3:
                    $ref: '#/definitions/ServiceManagedDatastoreS3Storage'
                    description: Use this to store data store data in an S3 bucket managed by the AWS IoT Analytics service. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store.
                  customerManagedS3:
                    $ref: '#/definitions/CustomerManagedDatastoreS3Storage'
                    description: 'Use this to store data store data in an S3 bucket that you manage. When customer managed storage is selected, the "retentionPeriod" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store.'
              retentionPeriod:
                description: 'How long, in days, message data is kept.'
                type: object
                properties:
                  unlimited:
                    $ref: '#/definitions/UnlimitedRetentionPeriod'
                    description: 'If true, message data is kept indefinitely.'
                  numberOfDays:
                    $ref: '#/definitions/RetentionPeriodInDays'
                    description: The number of days that message data is kept. The "unlimited" parameter must be false.
              tags:
                description: Metadata which can be used to manage the data store.
                type: array
                items:
                  $ref: '#/definitions/Tag'
                minItems: 1
                maxItems: 50
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListDatastores
      description: Retrieves a list of data stores.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatastoresResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: <p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>
          type: integer
          minimum: 1
          maximum: 250
  /pipelines:
    post:
      operationId: CreatePipeline
      description: 'Creates a pipeline. A pipeline consumes messages from a channel and allows you to process the messages before storing them in a data store. You must specify both a <code>channel</code> and a <code>datastore</code> activity and, optionally, as many as 23 additional activities in the <code>pipelineActivities</code> array.'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreatePipelineResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - pipelineName
              - pipelineActivities
            properties:
              pipelineName:
                description: The name of the pipeline.
                type: string
                pattern: '^[a-zA-Z0-9_]+$'
                minLength: 1
                maxLength: 128
              pipelineActivities:
                description: '<p>A list of "PipelineActivity" objects. Activities perform transformations on your messages, such as removing, renaming or adding message attributes; filtering messages based on attribute values; invoking your Lambda functions on messages for advanced processing; or performing mathematical transformations to normalize device data.</p> <p>The list can be 2-25 <b>PipelineActivity</b> objects and must contain both a <code>channel</code> and a <code>datastore</code> activity. Each entry in the list must contain only one activity, for example:</p> <p> <code>pipelineActivities = [ { "channel": { ... } }, { "lambda": { ... } }, ... ]</code> </p>'
                type: array
                items:
                  $ref: '#/definitions/PipelineActivity'
                minItems: 1
                maxItems: 25
              tags:
                description: Metadata which can be used to manage the pipeline.
                type: array
                items:
                  $ref: '#/definitions/Tag'
                minItems: 1
                maxItems: 50
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListPipelines
      description: Retrieves a list of pipelines.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPipelinesResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: <p>The maximum number of results to return in this request.</p> <p>The default value is 100.</p>
          type: integer
          minimum: 1
          maximum: 250
  '/channels/{channelName}':
    delete:
      operationId: DeleteChannel
      description: Deletes the specified channel.
      responses:
        '204':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: channelName
          in: path
          required: true
          description: The name of the channel to delete.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeChannel
      description: Retrieves information about a channel.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeChannelResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: channelName
          in: path
          required: true
          description: The name of the channel whose information is retrieved.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: includeStatistics
          in: query
          required: false
          description: 'If true, additional statistical information about the channel is included in the response. This feature cannot be used with a channel whose S3 storage is customer-managed.'
          type: boolean
    put:
      operationId: UpdateChannel
      description: Updates the settings of a channel.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: channelName
          in: path
          required: true
          description: The name of the channel to be updated.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              channelStorage:
                description: 'Where channel data is stored. You may choose one of "serviceManagedS3" or "customerManagedS3" storage. If not specified, the default is "serviceManagedS3". This cannot be changed after creation of the channel.'
                type: object
                properties:
                  serviceManagedS3:
                    $ref: '#/definitions/ServiceManagedChannelS3Storage'
                    description: Use this to store channel data in an S3 bucket managed by the AWS IoT Analytics service. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the channel.
                  customerManagedS3:
                    $ref: '#/definitions/CustomerManagedChannelS3Storage'
                    description: 'Use this to store channel data in an S3 bucket that you manage. If customer managed storage is selected, the "retentionPeriod" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the channel.'
              retentionPeriod:
                description: 'How long, in days, message data is kept.'
                type: object
                properties:
                  unlimited:
                    $ref: '#/definitions/UnlimitedRetentionPeriod'
                    description: 'If true, message data is kept indefinitely.'
                  numberOfDays:
                    $ref: '#/definitions/RetentionPeriodInDays'
                    description: The number of days that message data is kept. The "unlimited" parameter must be false.
  '/datasets/{datasetName}':
    delete:
      operationId: DeleteDataset
      description: <p>Deletes the specified data set.</p> <p>You do not have to delete the content of the data set before you perform this operation.</p>
      responses:
        '204':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: datasetName
          in: path
          required: true
          description: The name of the data set to delete.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeDataset
      description: Retrieves information about a data set.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDatasetResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: datasetName
          in: path
          required: true
          description: The name of the data set whose information is retrieved.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
    put:
      operationId: UpdateDataset
      description: Updates the settings of a data set.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: datasetName
          in: path
          required: true
          description: The name of the data set to update.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - actions
            properties:
              actions:
                description: A list of "DatasetAction" objects.
                type: array
                items:
                  $ref: '#/definitions/DatasetAction'
                minItems: 1
                maxItems: 1
              triggers:
                description: A list of "DatasetTrigger" objects. The list can be empty or can contain up to five <b>DataSetTrigger</b> objects.
                type: array
                items:
                  $ref: '#/definitions/DatasetTrigger'
                minItems: 0
                maxItems: 5
              contentDeliveryRules:
                description: When data set contents are created they are delivered to destinations specified here.
                type: array
                items:
                  $ref: '#/definitions/DatasetContentDeliveryRule'
                minItems: 0
                maxItems: 20
              retentionPeriod:
                description: 'How long, in days, message data is kept.'
                type: object
                properties:
                  unlimited:
                    $ref: '#/definitions/UnlimitedRetentionPeriod'
                    description: 'If true, message data is kept indefinitely.'
                  numberOfDays:
                    $ref: '#/definitions/RetentionPeriodInDays'
                    description: The number of days that message data is kept. The "unlimited" parameter must be false.
              versioningConfiguration:
                description: Information about the versioning of data set contents.
                type: object
                properties:
                  unlimited:
                    $ref: '#/definitions/UnlimitedVersioning'
                    description: 'If true, unlimited versions of data set contents will be kept.'
                  maxVersions:
                    $ref: '#/definitions/MaxVersions'
                    description: How many versions of data set contents will be kept. The "unlimited" parameter must be false.
  '/datastores/{datastoreName}':
    delete:
      operationId: DeleteDatastore
      description: Deletes the specified data store.
      responses:
        '204':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: datastoreName
          in: path
          required: true
          description: The name of the data store to delete.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeDatastore
      description: Retrieves information about a data store.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDatastoreResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: datastoreName
          in: path
          required: true
          description: The name of the data store
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: includeStatistics
          in: query
          required: false
          description: 'If true, additional statistical information about the data store is included in the response. This feature cannot be used with a data store whose S3 storage is customer-managed.'
          type: boolean
    put:
      operationId: UpdateDatastore
      description: Updates the settings of a data store.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: datastoreName
          in: path
          required: true
          description: The name of the data store to be updated.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              retentionPeriod:
                description: 'How long, in days, message data is kept.'
                type: object
                properties:
                  unlimited:
                    $ref: '#/definitions/UnlimitedRetentionPeriod'
                    description: 'If true, message data is kept indefinitely.'
                  numberOfDays:
                    $ref: '#/definitions/RetentionPeriodInDays'
                    description: The number of days that message data is kept. The "unlimited" parameter must be false.
              datastoreStorage:
                description: 'Where data store data is stored. You may choose one of "serviceManagedS3" or "customerManagedS3" storage. If not specified, the default is "serviceManagedS3". This cannot be changed after the data store is created.'
                type: object
                properties:
                  serviceManagedS3:
                    $ref: '#/definitions/ServiceManagedDatastoreS3Storage'
                    description: Use this to store data store data in an S3 bucket managed by the AWS IoT Analytics service. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store.
                  customerManagedS3:
                    $ref: '#/definitions/CustomerManagedDatastoreS3Storage'
                    description: 'Use this to store data store data in an S3 bucket that you manage. When customer managed storage is selected, the "retentionPeriod" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store.'
  '/pipelines/{pipelineName}':
    delete:
      operationId: DeletePipeline
      description: Deletes the specified pipeline.
      responses:
        '204':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: pipelineName
          in: path
          required: true
          description: The name of the pipeline to delete.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribePipeline
      description: Retrieves information about a pipeline.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribePipelineResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: pipelineName
          in: path
          required: true
          description: The name of the pipeline whose information is retrieved.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
    put:
      operationId: UpdatePipeline
      description: 'Updates the settings of a pipeline. You must specify both a <code>channel</code> and a <code>datastore</code> activity and, optionally, as many as 23 additional activities in the <code>pipelineActivities</code> array.'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: pipelineName
          in: path
          required: true
          description: The name of the pipeline to update.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - pipelineActivities
            properties:
              pipelineActivities:
                description: '<p>A list of "PipelineActivity" objects. Activities perform transformations on your messages, such as removing, renaming or adding message attributes; filtering messages based on attribute values; invoking your Lambda functions on messages for advanced processing; or performing mathematical transformations to normalize device data.</p> <p>The list can be 2-25 <b>PipelineActivity</b> objects and must contain both a <code>channel</code> and a <code>datastore</code> activity. Each entry in the list must contain only one activity, for example:</p> <p> <code>pipelineActivities = [ { "channel": { ... } }, { "lambda": { ... } }, ... ]</code> </p>'
                type: array
                items:
                  $ref: '#/definitions/PipelineActivity'
                minItems: 1
                maxItems: 25
  /logging:
    get:
      operationId: DescribeLoggingOptions
      description: Retrieves the current settings of the AWS IoT Analytics logging options.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLoggingOptionsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters: []
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: PutLoggingOptions
      description: '<p>Sets or updates the AWS IoT Analytics logging options.</p> <p>Note that if you update the value of any <code>loggingOptions</code> field, it takes up to one minute for the change to take effect. Also, if you change the policy attached to the role you specified in the roleArn field (for example, to correct an invalid policy) it takes up to 5 minutes for that change to take effect. </p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - loggingOptions
            properties:
              loggingOptions:
                description: Information about logging options.
                type: object
                properties:
                  roleArn:
                    $ref: '#/definitions/RoleArn'
                    description: The ARN of the role that grants permission to AWS IoT Analytics to perform logging.
                  level:
                    $ref: '#/definitions/LoggingLevel'
                    description: 'The logging level. Currently, only "ERROR" is supported.'
                  enabled:
                    $ref: '#/definitions/LoggingEnabled'
                    description: 'If true, logging is enabled for AWS IoT Analytics.'
  '/datasets/{datasetName}/contents':
    get:
      operationId: ListDatasetContents
      description: Lists information about data set contents that have been created.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatasetContentsResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: datasetName
          in: path
          required: true
          description: The name of the data set whose contents information you want to list.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: nextToken
          in: query
          required: false
          description: The token for the next set of results.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of results to return in this request.
          type: integer
          minimum: 1
          maximum: 250
        - name: scheduledOnOrAfter
          in: query
          required: false
          description: A filter to limit results to those data set contents whose creation is scheduled on or after the given time. See the field <code>triggers.schedule</code> in the CreateDataset request. (timestamp)
          type: string
          format: date-time
        - name: scheduledBefore
          in: query
          required: false
          description: A filter to limit results to those data set contents whose creation is scheduled before the given time. See the field <code>triggers.schedule</code> in the CreateDataset request. (timestamp)
          type: string
          format: date-time
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/tags#resourceArn':
    get:
      operationId: ListTagsForResource
      description: Lists the tags (metadata) which you have assigned to the resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: resourceArn
          in: query
          required: true
          description: The ARN of the resource whose tags you want to list.
          type: string
          minLength: 20
          maxLength: 2048
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: TagResource
      description: Adds to or modifies the tags of the given resource. Tags are metadata which can be used to manage a resource.
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: resourceArn
          in: query
          required: true
          description: The ARN of the resource whose tags you want to modify.
          type: string
          minLength: 20
          maxLength: 2048
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - tags
            properties:
              tags:
                description: The new or modified tags for the resource.
                type: array
                items:
                  $ref: '#/definitions/Tag'
                minItems: 1
                maxItems: 50
  /pipelineactivities/run:
    post:
      operationId: RunPipelineActivity
      description: Simulates the results of running a pipeline activity on a message payload.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RunPipelineActivityResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - pipelineActivity
              - payloads
            properties:
              pipelineActivity:
                description: An activity that performs a transformation on a message.
                type: object
                properties:
                  channel:
                    $ref: '#/definitions/ChannelActivity'
                    description: Determines the source of the messages to be processed.
                  lambda:
                    $ref: '#/definitions/LambdaActivity'
                    description: Runs a Lambda function to modify the message.
                  datastore:
                    $ref: '#/definitions/DatastoreActivity'
                    description: Specifies where to store the processed message data.
                  addAttributes:
                    $ref: '#/definitions/AddAttributesActivity'
                    description: Adds other attributes based on existing attributes in the message.
                  removeAttributes:
                    $ref: '#/definitions/RemoveAttributesActivity'
                    description: Removes attributes from a message.
                  selectAttributes:
                    $ref: '#/definitions/SelectAttributesActivity'
                    description: 'Creates a new message using only the specified attributes from the original message. '
                  filter:
                    $ref: '#/definitions/FilterActivity'
                    description: Filters a message based on its attributes.
                  math:
                    $ref: '#/definitions/MathActivity'
                    description: Computes an arithmetic expression using the message's attributes and adds it to the message.
                  deviceRegistryEnrich:
                    $ref: '#/definitions/DeviceRegistryEnrichActivity'
                    description: Adds data from the AWS IoT device registry to your message.
                  deviceShadowEnrich:
                    $ref: '#/definitions/DeviceShadowEnrichActivity'
                    description: Adds information from the AWS IoT Device Shadows service to a message.
              payloads:
                description: The sample message payloads on which the pipeline activity is run.
                type: array
                items:
                  $ref: '#/definitions/MessagePayload'
                minItems: 1
                maxItems: 10
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/channels/{channelName}/sample':
    get:
      operationId: SampleChannelData
      description: Retrieves a sample of messages from the specified channel ingested during the specified timeframe. Up to 10 messages can be retrieved.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SampleChannelDataResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: channelName
          in: path
          required: true
          description: The name of the channel whose message samples are retrieved.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: maxMessages
          in: query
          required: false
          description: 'The number of sample messages to be retrieved. The limit is 10, the default is also 10.'
          type: integer
          minimum: 1
          maximum: 10
        - name: startTime
          in: query
          required: false
          description: The start of the time window from which sample messages are retrieved.
          type: string
          format: date-time
        - name: endTime
          in: query
          required: false
          description: The end of the time window from which sample messages are retrieved.
          type: string
          format: date-time
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/pipelines/{pipelineName}/reprocessing':
    post:
      operationId: StartPipelineReprocessing
      description: Starts the reprocessing of raw message data through the pipeline.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/StartPipelineReprocessingResponse'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: ResourceAlreadyExistsException
          schema:
            $ref: '#/definitions/ResourceAlreadyExistsException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
      parameters:
        - name: pipelineName
          in: path
          required: true
          description: The name of the pipeline on which to start reprocessing.
          type: string
          pattern: '^[a-zA-Z0-9_]+$'
          minLength: 1
          maxLength: 128
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              startTime:
                description: The start time (inclusive) of raw message data that is reprocessed.
                type: string
                format: date-time
              endTime:
                description: The end time (exclusive) of raw message data that is reprocessed.
                type: string
                format: date-time
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/tags#resourceArn&tagKeys':
    delete:
      operationId: UntagResource
      description: Removes the given tags (metadata) from the resource.
      responses:
        '204':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '481':
          description: InternalFailureException
          schema:
            $ref: '#/definitions/InternalFailureException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '483':
          description: ThrottlingException
          schema:
            $ref: '#/definitions/ThrottlingException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '485':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: resourceArn
          in: query
          required: true
          description: The ARN of the resource whose tags you want to remove.
          type: string
          minLength: 20
          maxLength: 2048
        - name: tagKeys
          in: query
          required: true
          description: The keys of those tags which you want to remove.
          type: array
          items:
            type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BatchPutMessageResponse:
    type: object
    properties:
      batchPutMessageErrorEntries:
        $ref: '#/definitions/BatchPutMessageErrorEntries'
        description: A list of any errors encountered when sending the messages to the channel.
  Message:
    type: object
    required:
      - messageId
      - payload
    properties:
      messageId:
        $ref: '#/definitions/MessageId'
        description: The ID you wish to assign to the message. Each "messageId" must be unique within each batch sent.
      payload:
        $ref: '#/definitions/MessagePayload'
        description: The payload of the message. This may be a JSON string or a Base64-encoded string representing binary data (in which case you must decode it by means of a pipeline activity).
    description: Information about a message.
  ResourceNotFoundException: {}
  InvalidRequestException: {}
  InternalFailureException: {}
  ServiceUnavailableException: {}
  ThrottlingException: {}
  CancelPipelineReprocessingResponse:
    type: object
    properties: {}
  CreateChannelResponse:
    type: object
    properties:
      channelName:
        $ref: '#/definitions/ChannelName'
        description: The name of the channel.
      channelArn:
        $ref: '#/definitions/ChannelArn'
        description: The ARN of the channel.
      retentionPeriod:
        $ref: '#/definitions/RetentionPeriod'
        description: 'How long, in days, message data is kept for the channel.'
  ServiceManagedChannelS3Storage:
    type: object
    properties: {}
    description: Use this to store channel data in an S3 bucket managed by the AWS IoT Analytics service. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the channel.
  CustomerManagedChannelS3Storage:
    type: object
    required:
      - bucket
      - roleArn
    properties:
      bucket:
        $ref: '#/definitions/BucketName'
        description: The name of the Amazon S3 bucket in which channel data is stored.
      keyPrefix:
        $ref: '#/definitions/S3KeyPrefix'
        description: '[Optional] The prefix used to create the keys of the channel data objects. Each object in an Amazon S3 bucket has a key that is its unique identifier within the bucket (each object in a bucket has exactly one key). The prefix must end with a ''/''.'
      roleArn:
        $ref: '#/definitions/RoleArn'
        description: The ARN of the role which grants AWS IoT Analytics permission to interact with your Amazon S3 resources.
    description: 'Use this to store channel data in an S3 bucket that you manage. If customer managed storage is selected, the "retentionPeriod" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the channel.'
  UnlimitedRetentionPeriod:
    type: boolean
  RetentionPeriodInDays:
    type: integer
    minimum: 1
  Tag:
    type: object
    required:
      - key
      - value
    properties:
      key:
        $ref: '#/definitions/TagKey'
        description: The tag's key.
      value:
        $ref: '#/definitions/TagValue'
        description: The tag's value.
    description: A set of key/value pairs which are used to manage the resource.
  ResourceAlreadyExistsException: {}
  LimitExceededException: {}
  CreateDatasetResponse:
    type: object
    properties:
      datasetName:
        $ref: '#/definitions/DatasetName'
        description: The name of the data set.
      datasetArn:
        $ref: '#/definitions/DatasetArn'
        description: The ARN of the data set.
      retentionPeriod:
        $ref: '#/definitions/RetentionPeriod'
        description: 'How long, in days, data set contents are kept for the data set.'
  DatasetAction:
    type: object
    properties:
      actionName:
        $ref: '#/definitions/DatasetActionName'
        description: The name of the data set action by which data set contents are automatically created.
      queryAction:
        $ref: '#/definitions/SqlQueryDatasetAction'
        description: An "SqlQueryDatasetAction" object that uses an SQL query to automatically create data set contents.
      containerAction:
        $ref: '#/definitions/ContainerDatasetAction'
        description: Information which allows the system to run a containerized application in order to create the data set contents. The application must be in a Docker container along with any needed support libraries.
    description: A "DatasetAction" object that specifies how data set contents are automatically created.
  DatasetTrigger:
    type: object
    properties:
      schedule:
        $ref: '#/definitions/Schedule'
        description: The "Schedule" when the trigger is initiated.
      dataset:
        $ref: '#/definitions/TriggeringDataset'
        description: The data set whose content creation triggers the creation of this data set's contents.
    description: The "DatasetTrigger" that specifies when the data set is automatically updated.
  DatasetContentDeliveryRule:
    type: object
    required:
      - destination
    properties:
      entryName:
        $ref: '#/definitions/EntryName'
        description: The name of the data set content delivery rules entry.
      destination:
        $ref: '#/definitions/DatasetContentDeliveryDestination'
        description: The destination to which data set contents are delivered.
    description: When data set contents are created they are delivered to destination specified here.
  UnlimitedVersioning:
    type: boolean
  MaxVersions:
    type: integer
    minimum: 1
    maximum: 1000
  CreateDatasetContentResponse:
    type: object
    properties:
      versionId:
        $ref: '#/definitions/DatasetContentVersion'
        description: The version ID of the data set contents which are being created.
  CreateDatastoreResponse:
    type: object
    properties:
      datastoreName:
        $ref: '#/definitions/DatastoreName'
        description: The name of the data store.
      datastoreArn:
        $ref: '#/definitions/DatastoreArn'
        description: The ARN of the data store.
      retentionPeriod:
        $ref: '#/definitions/RetentionPeriod'
        description: 'How long, in days, message data is kept for the data store.'
  ServiceManagedDatastoreS3Storage:
    type: object
    properties: {}
    description: Use this to store data store data in an S3 bucket managed by the AWS IoT Analytics service. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store.
  CustomerManagedDatastoreS3Storage:
    type: object
    required:
      - bucket
      - roleArn
    properties:
      bucket:
        $ref: '#/definitions/BucketName'
        description: The name of the Amazon S3 bucket in which data store data is stored.
      keyPrefix:
        $ref: '#/definitions/S3KeyPrefix'
        description: '[Optional] The prefix used to create the keys of the data store data objects. Each object in an Amazon S3 bucket has a key that is its unique identifier within the bucket (each object in a bucket has exactly one key). The prefix must end with a ''/''.'
      roleArn:
        $ref: '#/definitions/RoleArn'
        description: The ARN of the role which grants AWS IoT Analytics permission to interact with your Amazon S3 resources.
    description: 'Use this to store data store data in an S3 bucket that you manage. When customer managed storage is selected, the "retentionPeriod" parameter is ignored. The choice of service-managed or customer-managed S3 storage cannot be changed after creation of the data store.'
  CreatePipelineResponse:
    type: object
    properties:
      pipelineName:
        $ref: '#/definitions/PipelineName'
        description: The name of the pipeline.
      pipelineArn:
        $ref: '#/definitions/PipelineArn'
        description: The ARN of the pipeline.
  PipelineActivity:
    type: object
    properties:
      channel:
        $ref: '#/definitions/ChannelActivity'
        description: Determines the source of the messages to be processed.
      lambda:
        $ref: '#/definitions/LambdaActivity'
        description: Runs a Lambda function to modify the message.
      datastore:
        $ref: '#/definitions/DatastoreActivity'
        description: Specifies where to store the processed message data.
      addAttributes:
        $ref: '#/definitions/AddAttributesActivity'
        description: Adds other attributes based on existing attributes in the message.
      removeAttributes:
        $ref: '#/definitions/RemoveAttributesActivity'
        description: Removes attributes from a message.
      selectAttributes:
        $ref: '#/definitions/SelectAttributesActivity'
        description: 'Creates a new message using only the specified attributes from the original message. '
      filter:
        $ref: '#/definitions/FilterActivity'
        description: Filters a message based on its attributes.
      math:
        $ref: '#/definitions/MathActivity'
        description: Computes an arithmetic expression using the message's attributes and adds it to the message.
      deviceRegistryEnrich:
        $ref: '#/definitions/DeviceRegistryEnrichActivity'
        description: Adds data from the AWS IoT device registry to your message.
      deviceShadowEnrich:
        $ref: '#/definitions/DeviceShadowEnrichActivity'
        description: Adds information from the AWS IoT Device Shadows service to a message.
    description: An activity that performs a transformation on a message.
  DescribeChannelResponse:
    type: object
    properties:
      channel:
        $ref: '#/definitions/Channel'
        description: An object that contains information about the channel.
      statistics:
        $ref: '#/definitions/ChannelStatistics'
        description: Statistics about the channel. Included if the 'includeStatistics' parameter is set to true in the request.
  DescribeDatasetResponse:
    type: object
    properties:
      dataset:
        $ref: '#/definitions/Dataset'
        description: An object that contains information about the data set.
  DescribeDatastoreResponse:
    type: object
    properties:
      datastore:
        $ref: '#/definitions/Datastore'
        description: Information about the data store.
      statistics:
        $ref: '#/definitions/DatastoreStatistics'
        description: Additional statistical information about the data store. Included if the 'includeStatistics' parameter is set to true in the request.
  DescribeLoggingOptionsResponse:
    type: object
    properties:
      loggingOptions:
        $ref: '#/definitions/LoggingOptions'
        description: The current settings of the AWS IoT Analytics logging options.
  DescribePipelineResponse:
    type: object
    properties:
      pipeline:
        $ref: '#/definitions/Pipeline'
        description: A "Pipeline" object that contains information about the pipeline.
  GetDatasetContentResponse:
    type: object
    properties:
      entries:
        $ref: '#/definitions/DatasetEntries'
        description: A list of "DatasetEntry" objects.
      timestamp:
        $ref: '#/definitions/Timestamp'
        description: The time when the request was made.
      status:
        $ref: '#/definitions/DatasetContentStatus'
        description: The status of the data set content.
  ListChannelsResponse:
    type: object
    properties:
      channelSummaries:
        $ref: '#/definitions/ChannelSummaries'
        description: A list of "ChannelSummary" objects.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The token to retrieve the next set of results, or <code>null</code> if there are no more results.'
  ListDatasetContentsResponse:
    type: object
    properties:
      datasetContentSummaries:
        $ref: '#/definitions/DatasetContentSummaries'
        description: Summary information about data set contents that have been created.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The token to retrieve the next set of results, or <code>null</code> if there are no more results.'
  ListDatasetsResponse:
    type: object
    properties:
      datasetSummaries:
        $ref: '#/definitions/DatasetSummaries'
        description: A list of "DatasetSummary" objects.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The token to retrieve the next set of results, or <code>null</code> if there are no more results.'
  ListDatastoresResponse:
    type: object
    properties:
      datastoreSummaries:
        $ref: '#/definitions/DatastoreSummaries'
        description: A list of "DatastoreSummary" objects.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The token to retrieve the next set of results, or <code>null</code> if there are no more results.'
  ListPipelinesResponse:
    type: object
    properties:
      pipelineSummaries:
        $ref: '#/definitions/PipelineSummaries'
        description: A list of "PipelineSummary" objects.
      nextToken:
        $ref: '#/definitions/NextToken'
        description: 'The token to retrieve the next set of results, or <code>null</code> if there are no more results.'
  ListTagsForResourceResponse:
    type: object
    properties:
      tags:
        $ref: '#/definitions/TagList'
        description: The tags (metadata) which you have assigned to the resource.
  RoleArn:
    type: string
    minLength: 20
    maxLength: 2048
  LoggingLevel:
    type: string
    enum:
      - ERROR
  LoggingEnabled:
    type: boolean
  RunPipelineActivityResponse:
    type: object
    properties:
      payloads:
        $ref: '#/definitions/MessagePayloads'
        description: 'The enriched or transformed sample message payloads as base64-encoded strings. (The results of running the pipeline activity on each input sample message payload, encoded in base64.)'
      logResult:
        $ref: '#/definitions/LogResult'
        description: 'In case the pipeline activity fails, the log message that is generated.'
  ChannelActivity:
    type: object
    required:
      - name
      - channelName
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'channel' activity.
      channelName:
        $ref: '#/definitions/ChannelName'
        description: The name of the channel from which the messages are processed.
      next:
        $ref: '#/definitions/ActivityName'
        description: The next activity in the pipeline.
    description: The activity that determines the source of the messages to be processed.
  LambdaActivity:
    type: object
    required:
      - name
      - lambdaName
      - batchSize
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'lambda' activity.
      lambdaName:
        $ref: '#/definitions/LambdaName'
        description: The name of the Lambda function that is run on the message.
      batchSize:
        $ref: '#/definitions/ActivityBatchSize'
        description: '<p>The number of messages passed to the Lambda function for processing.</p> <p>The AWS Lambda function must be able to process all of these messages within five minutes, which is the maximum timeout duration for Lambda functions.</p>'
      next:
        $ref: '#/definitions/ActivityName'
        description: The next activity in the pipeline.
    description: An activity that runs a Lambda function to modify the message.
  DatastoreActivity:
    type: object
    required:
      - name
      - datastoreName
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'datastore' activity.
      datastoreName:
        $ref: '#/definitions/DatastoreName'
        description: The name of the data store where processed messages are stored.
    description: The 'datastore' activity that specifies where to store the processed data.
  AddAttributesActivity:
    type: object
    required:
      - name
      - attributes
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'addAttributes' activity.
      attributes:
        $ref: '#/definitions/AttributeNameMapping'
        description: '<p>A list of 1-50 "AttributeNameMapping" objects that map an existing attribute to a new attribute.</p> <note> <p>The existing attributes remain in the message, so if you want to remove the originals, use "RemoveAttributeActivity".</p> </note>'
      next:
        $ref: '#/definitions/ActivityName'
        description: The next activity in the pipeline.
    description: An activity that adds other attributes based on existing attributes in the message.
  RemoveAttributesActivity:
    type: object
    required:
      - name
      - attributes
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'removeAttributes' activity.
      attributes:
        $ref: '#/definitions/AttributeNames'
        description: A list of 1-50 attributes to remove from the message.
      next:
        $ref: '#/definitions/ActivityName'
        description: The next activity in the pipeline.
    description: An activity that removes attributes from a message.
  SelectAttributesActivity:
    type: object
    required:
      - name
      - attributes
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'selectAttributes' activity.
      attributes:
        $ref: '#/definitions/AttributeNames'
        description: A list of the attributes to select from the message.
      next:
        $ref: '#/definitions/ActivityName'
        description: The next activity in the pipeline.
    description: Creates a new message using only the specified attributes from the original message.
  FilterActivity:
    type: object
    required:
      - name
      - filter
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'filter' activity.
      filter:
        $ref: '#/definitions/FilterExpression'
        description: An expression that looks like a SQL WHERE clause that must return a Boolean value.
      next:
        $ref: '#/definitions/ActivityName'
        description: The next activity in the pipeline.
    description: An activity that filters a message based on its attributes.
  MathActivity:
    type: object
    required:
      - name
      - attribute
      - math
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'math' activity.
      attribute:
        $ref: '#/definitions/AttributeName'
        description: The name of the attribute that contains the result of the math operation.
      math:
        $ref: '#/definitions/MathExpression'
        description: An expression that uses one or more existing attributes and must return an integer value.
      next:
        $ref: '#/definitions/ActivityName'
        description: The next activity in the pipeline.
    description: An activity that computes an arithmetic expression using the message's attributes.
  DeviceRegistryEnrichActivity:
    type: object
    required:
      - name
      - attribute
      - thingName
      - roleArn
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'deviceRegistryEnrich' activity.
      attribute:
        $ref: '#/definitions/AttributeName'
        description: The name of the attribute that is added to the message.
      thingName:
        $ref: '#/definitions/AttributeName'
        description: The name of the IoT device whose registry information is added to the message.
      roleArn:
        $ref: '#/definitions/RoleArn'
        description: The ARN of the role that allows access to the device's registry information.
      next:
        $ref: '#/definitions/ActivityName'
        description: The next activity in the pipeline.
    description: An activity that adds data from the AWS IoT device registry to your message.
  DeviceShadowEnrichActivity:
    type: object
    required:
      - name
      - attribute
      - thingName
      - roleArn
    properties:
      name:
        $ref: '#/definitions/ActivityName'
        description: The name of the 'deviceShadowEnrich' activity.
      attribute:
        $ref: '#/definitions/AttributeName'
        description: The name of the attribute that is added to the message.
      thingName:
        $ref: '#/definitions/AttributeName'
        description: The name of the IoT device whose shadow information is added to the message.
      roleArn:
        $ref: '#/definitions/RoleArn'
        description: The ARN of the role that allows access to the device's shadow.
      next:
        $ref: '#/definitions/ActivityName'
        description: The next activity in the pipeline.
    description: An activity that adds information from the AWS IoT Device Shadows service to a message.
  MessagePayload:
    type: string
  SampleChannelDataResponse:
    type: object
    properties:
      payloads:
        $ref: '#/definitions/MessagePayloads'
[...]
