{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "http://azure-api.sportsdata.io/v3/soccer/projections"
    },
    {
      "url": "https://azure-api.sportsdata.io/v3/soccer/projections"
    }
  ],
  "info": {
    "contact": {
      "x-twitter": "nfldata"
    },
    "title": "Soccer v3 Projections",
    "version": "1.0",
    "x-apisguru-categories": [
      "entertainment"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_twitter.com_nfldata_profile_image.jpeg"
    },
    "x-origin": [
      {
        "format": "swagger",
        "url": "https://fantasydata.com/downloads/swagger/soccer-v3-projections.json",
        "version": "2.0"
      }
    ],
    "x-providerName": "sportsdata.io",
    "x-serviceName": "soccer-v3-projections"
  },
  "security": [
    {
      "apiKeyHeader": []
    },
    {
      "apiKeyQuery": []
    }
  ],
  "tags": [],
  "paths": {
    "/{format}/DfsSlatesByDate/{date}": {
      "get": {
        "operationId": "DfsSlatesByDate",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2020-02-18</code>\n",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DfsSlate"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Dfs Slates By Date"
      }
    },
    "/{format}/InjuredPlayers/{competition}": {
      "get": {
        "description": "This endpoint provides all currently injured soccer players by competition, along with injury details.",
        "operationId": "InjuredPlayersByCompetition",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "in": "path",
            "name": "competition",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/Player"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Injured Players By Competition"
      }
    },
    "/{format}/PlayerGameProjectionStatsByCompetition/{competition}/{date}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByCompetitionWDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "An indication of a soccer competition/league. This value can be the CompetitionId or the Competition Key. Possible values include: <code>EPL</code>, <code>1</code>, <code>MLS</code>, <code>8</code>, etc.",
            "in": "path",
            "name": "competition",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Competition (w/ DFS Salaries)"
      }
    },
    "/{format}/PlayerGameProjectionStatsByDate/{date}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByDateWDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Date (w/ DFS Salaries)"
      }
    },
    "/{format}/PlayerGameProjectionStatsByPlayer/{date}/{playerid}": {
      "get": {
        "operationId": "ProjectedPlayerGameStatsByPlayerWDfsSalaries",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "default": "xml",
              "enum": [
                "xml",
                "json"
              ],
              "type": "string"
            }
          },
          {
            "description": "The date of the game(s).\n<br>Examples: <code>2017-02-27</code>, <code>2017-09-01</code>.",
            "in": "path",
            "name": "date",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "Unique FantasyData Player ID.\nExample:<code>90026231</code>.",
            "in": "path",
            "name": "playerid",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/PlayerGameProjection"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Projected Player Game Stats by Player (w/ DFS Salaries)"
      }
    },
    "/{format}/UpcomingDfsSlatesByCompetition/{competitionId}": {
      "get": {
        "operationId": "UpcomingDfsSlatesByCompetition",
        "parameters": [
          {
            "description": "Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.",
            "in": "path",
            "name": "format",
            "required": true,
            "schema": {
              "enum": [
                "json",
                "xml"
              ],
              "type": "string"
            }
          },
          {
            "description": "The Competition Id.\n<br>Examples: <code>3</code>",
            "in": "path",
            "name": "competitionId",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "items": {
                    "$ref": "#/components/schemas/DfsSlate"
                  },
                  "type": "array"
                }
              }
            },
            "description": ""
          }
        },
        "summary": "Upcoming Dfs Slates By Competition"
      }
    }
  },
  "components": {
    "schemas": {
      "DfsSlate": {
        "properties": {
          "CompetitionId": {
            "nullable": true,
            "type": "integer"
          },
          "DfsSlateGames": {
            "items": {
              "$ref": "#/components/schemas/DfsSlateGame"
            },
            "type": "array"
          },
          "DfsSlatePlayers": {
            "items": {
              "$ref": "#/components/schemas/DfsSlatePlayer"
            },
            "type": "array"
          },
          "IsMultiDaySlate": {
            "nullable": true,
            "type": "boolean"
          },
          "NumberOfGames": {
            "nullable": true,
            "type": "integer"
          },
          "Operator": {
            "nullable": true,
            "type": "string"
          },
          "OperatorDay": {
            "nullable": true,
            "type": "string"
          },
          "OperatorGameType": {
            "nullable": true,
            "type": "string"
          },
          "OperatorName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorSlateID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorStartTime": {
            "nullable": true,
            "type": "string"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SalaryCap": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          }
        }
      },
      "DfsSlateGame": {
        "properties": {
          "Game": {
            "$ref": "#/components/schemas/Game"
          },
          "GameID": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorGameID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateGameID": {
            "nullable": false,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          }
        }
      },
      "DfsSlatePlayer": {
        "properties": {
          "OperatorPlayerID": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPlayerName": {
            "nullable": true,
            "type": "string"
          },
          "OperatorPosition": {
            "nullable": true,
            "type": "string"
          },
          "OperatorRosterSlots": {
            "items": {
              "nullable": true,
              "type": "string"
            },
            "type": "array"
          },
          "OperatorSalary": {
            "nullable": true,
            "type": "integer"
          },
          "OperatorSlatePlayerID": {
            "nullable": true,
            "type": "string"
          },
          "PlayerGameProjectionStatID": {
            "nullable": true,
            "type": "integer"
          },
          "PlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "RemovedByOperator": {
            "nullable": true,
            "type": "boolean"
          },
          "SlateGameID": {
            "nullable": true,
            "type": "integer"
          },
          "SlateID": {
            "nullable": false,
            "type": "integer"
          },
          "SlatePlayerID": {
            "nullable": false,
            "type": "integer"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamID": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "Game": {
        "properties": {
          "Attendance": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamCountryCode": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamFormation": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamId": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamKey": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamName": {
            "nullable": true,
            "type": "string"
          },
          "AwayTeamPointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamScoreExtraTime": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamScorePenalty": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamScorePeriod1": {
            "nullable": true,
            "type": "integer"
          },
          "AwayTeamScorePeriod2": {
            "nullable": true,
            "type": "integer"
          },
          "Clock": {
            "nullable": true,
            "type": "integer"
          },
          "ClockDisplay": {
            "nullable": true,
            "type": "string"
          },
          "ClockExtra": {
            "nullable": true,
            "type": "integer"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DrawMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "GameId": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalAwayTeamId": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalGameId": {
            "nullable": false,
            "type": "integer"
          },
          "GlobalHomeTeamId": {
            "nullable": true,
            "type": "integer"
          },
          "Group": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamCountryCode": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamFormation": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamId": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamKey": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamMoneyLine": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamName": {
            "nullable": true,
            "type": "string"
          },
          "HomeTeamPointSpreadPayout": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamScore": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamScoreExtraTime": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamScorePenalty": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamScorePeriod1": {
            "nullable": true,
            "type": "integer"
          },
          "HomeTeamScorePeriod2": {
            "nullable": true,
            "type": "integer"
          },
          "IsClosed": {
            "nullable": true,
            "type": "boolean"
          },
          "OverPayout": {
            "nullable": true,
            "type": "integer"
          },
          "OverUnder": {
            "nullable": true,
            "type": "number"
          },
          "Period": {
            "nullable": true,
            "type": "string"
          },
          "PlayoffAggregateScore": {
            "$ref": "#/components/schemas/PlayoffAggregateScore"
          },
          "PointSpread": {
            "nullable": true,
            "type": "number"
          },
          "RoundId": {
            "nullable": false,
            "type": "integer"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "Status": {
            "nullable": true,
            "type": "string"
          },
          "UnderPayout": {
            "nullable": true,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "UpdatedUtc": {
            "nullable": true,
            "type": "string"
          },
          "VenueId": {
            "nullable": true,
            "type": "integer"
          },
          "VenueType": {
            "nullable": true,
            "type": "string"
          },
          "Week": {
            "nullable": true,
            "type": "integer"
          },
          "Winner": {
            "nullable": true,
            "type": "string"
          }
        }
      },
      "Player": {
        "properties": {
          "BirthCity": {
            "nullable": true,
            "type": "string"
          },
          "BirthCountry": {
            "nullable": true,
            "type": "string"
          },
          "BirthDate": {
            "nullable": true,
            "type": "string"
          },
          "CommonName": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsPosition": {
            "nullable": true,
            "type": "string"
          },
          "FirstName": {
            "nullable": true,
            "type": "string"
          },
          "Foot": {
            "nullable": true,
            "type": "string"
          },
          "Gender": {
            "nullable": true,
            "type": "string"
          },
          "Height": {
            "nullable": true,
            "type": "integer"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "Jersey": {
            "nullable": true,
            "type": "integer"
          },
          "LastName": {
            "nullable": true,
            "type": "string"
          },
          "Nationality": {
            "nullable": true,
            "type": "string"
          },
          "PhotoUrl": {
            "nullable": true,
            "type": "string"
          },
          "PlayerId": {
            "nullable": false,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "RotoWirePlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "ShortName": {
            "nullable": true,
            "type": "string"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotNoBackgroundUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotNoBackgroundUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUpdated": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayHeadshotUrl": {
            "nullable": true,
            "type": "string"
          },
          "UsaTodayPlayerID": {
            "nullable": true,
            "type": "integer"
          },
          "Weight": {
            "nullable": true,
            "type": "integer"
          }
        }
      },
      "PlayerGameProjection": {
        "properties": {
          "Assists": {
            "nullable": true,
            "type": "number"
          },
          "BlockedShots": {
            "nullable": true,
            "type": "number"
          },
          "Captain": {
            "nullable": true,
            "type": "boolean"
          },
          "CornersWon": {
            "nullable": true,
            "type": "number"
          },
          "Crosses": {
            "nullable": true,
            "type": "number"
          },
          "DateTime": {
            "nullable": true,
            "type": "string"
          },
          "Day": {
            "nullable": true,
            "type": "string"
          },
          "DefenderCleanSheets": {
            "nullable": true,
            "type": "number"
          },
          "DraftKingsPosition": {
            "nullable": true,
            "type": "string"
          },
          "DraftKingsSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FanDuelPosition": {
            "nullable": true,
            "type": "string"
          },
          "FanDuelSalary": {
            "nullable": true,
            "type": "integer"
          },
          "FantasyPoints": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsDraftKings": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsFanDuel": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsMondogoal": {
            "nullable": true,
            "type": "number"
          },
          "FantasyPointsYahoo": {
            "nullable": true,
            "type": "number"
          },
          "Fouled": {
            "nullable": true,
            "type": "number"
          },
          "Fouls": {
            "nullable": true,
            "type": "number"
          },
          "GameId": {
            "nullable": true,
            "type": "integer"
          },
          "Games": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalGameId": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalOpponentId": {
            "nullable": true,
            "type": "integer"
          },
          "GlobalTeamId": {
            "nullable": true,
            "type": "integer"
          },
          "GoalkeeperCleanSheets": {
            "nullable": true,
            "type": "number"
          },
          "GoalkeeperGoalsAgainst": {
            "nullable": true,
            "type": "number"
          },
          "GoalkeeperSaves": {
            "nullable": true,
            "type": "number"
          },
          "GoalkeeperSingleGoalAgainst": {
            "nullable": true,
            "type": "number"
          },
          "GoalkeeperWins": {
            "nullable": true,
            "type": "number"
          },
          "Goals": {
            "nullable": true,
            "type": "number"
          },
          "HomeOrAway": {
            "nullable": true,
            "type": "string"
          },
          "InjuryBodyPart": {
            "nullable": true,
            "type": "string"
          },
          "InjuryNotes": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStartDate": {
            "nullable": true,
            "type": "string"
          },
          "InjuryStatus": {
            "nullable": true,
            "type": "string"
          },
          "Interceptions": {
            "nullable": true,
            "type": "number"
          },
          "IsGameOver": {
            "nullable": false,
            "type": "boolean"
          },
          "Jersey": {
            "nullable": true,
            "type": "integer"
          },
          "LastManTackle": {
            "nullable": true,
            "type": "number"
          },
          "Minutes": {
            "nullable": true,
            "type": "number"
          },
          "MondogoalPosition": {
            "nullable": true,
            "type": "string"
          },
          "MondogoalSalary": {
            "nullable": true,
            "type": "integer"
          },
          "Name": {
            "nullable": true,
            "type": "string"
          },
          "Offsides": {
            "nullable": true,
            "type": "number"
          },
          "Opponent": {
            "nullable": true,
            "type": "string"
          },
          "OpponentId": {
            "nullable": true,
            "type": "integer"
          },
          "OpponentScore": {
            "nullable": true,
            "type": "number"
          },
          "OwnGoals": {
            "nullable": true,
            "type": "number"
          },
          "Passes": {
            "nullable": true,
            "type": "number"
          },
          "PassesCompleted": {
            "nullable": true,
            "type": "number"
          },
          "PenaltiesConceded": {
            "nullable": true,
            "type": "number"
          },
          "PenaltiesWon": {
            "nullable": true,
            "type": "number"
          },
          "PenaltyKickGoals": {
            "nullable": true,
            "type": "number"
          },
          "PenaltyKickMisses": {
            "nullable": true,
            "type": "number"
          },
          "PenaltyKickSaves": {
            "nullable": true,
            "type": "number"
          },
          "PlayerId": {
            "nullable": true,
            "type": "integer"
          },
          "Position": {
            "nullable": true,
            "type": "string"
          },
          "PositionCategory": {
            "nullable": true,
            "type": "string"
          },
          "RedCards": {
            "nullable": true,
            "type": "number"
          },
          "RoundId": {
            "nullable": true,
            "type": "integer"
          },
          "Score": {
            "nullable": true,
            "type": "number"
          },
          "Season": {
            "nullable": false,
            "type": "integer"
          },
          "SeasonType": {
            "nullable": false,
            "type": "integer"
          },
          "ShortName": {
            "nullable": true,
            "type": "string"
          },
          "Shots": {
            "nullable": true,
            "type": "number"
          },
          "ShotsOnGoal": {
            "nullable": true,
            "type": "number"
          },
          "Started": {
            "nullable": true,
            "type": "integer"
          },
          "StatId": {
            "nullable": false,
            "type": "integer"
          },
          "Suspension": {
            "nullable": true,
            "type": "boolean"
          },
          "SuspensionReason": {
            "nullable": true,
            "type": "string"
          },
          "Tackles": {
            "nullable": true,
            "type": "number"
          },
          "TacklesWon": {
            "nullable": true,
            "type": "number"
          },
          "Team": {
            "nullable": true,
            "type": "string"
          },
          "TeamId": {
            "nullable": true,
            "type": "integer"
          },
          "Touches": {
            "nullable": true,
            "type": "number"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "UpdatedUtc": {
            "nullable": true,
            "type": "string"
          },
          "YahooPosition": {
            "nullable": true,
            "type": "string"
          },
          "YahooSalary": {
            "nullable": true,
            "type": "integer"
          },
          "YellowCards": {
            "nullable": true,
            "type": "number"
          },
          "YellowRedCards": {
            "nullable": true,
            "type": "number"
          }
        }
      },
      "PlayoffAggregateScore": {
        "properties": {
          "Created": {
            "nullable": true,
            "type": "string"
          },
          "TeamA_AggregateScore": {
            "nullable": false,
            "type": "integer"
          },
          "TeamA_Id": {
            "nullable": false,
            "type": "integer"
          },
          "TeamB_AggregateScore": {
            "nullable": false,
            "type": "integer"
          },
          "TeamB_Id": {
            "nullable": false,
            "type": "integer"
          },
          "Updated": {
            "nullable": true,
            "type": "string"
          },
          "WinningTeamId": {
            "nullable": false,
            "type": "integer"
          }
        }
      }
    },
    "securitySchemes": {
      "apiKeyHeader": {
        "in": "header",
        "name": "Ocp-Apim-Subscription-Key",
        "type": "apiKey"
      },
      "apiKeyQuery": {
        "in": "query",
        "name": "key",
        "type": "apiKey"
      }
    }
  }
}