swagger: '2.0'
info:
  version: '2012-12-01'
  x-release: v4
  title: Amazon Redshift
  description: '<fullname>Amazon Redshift</fullname> <p> <b>Overview</b> </p> <p>This is an interface reference for Amazon Redshift. It contains documentation for one of the programming or command line interfaces you can use to manage Amazon Redshift clusters. Note that Amazon Redshift is asynchronous, which means that some interfaces may require techniques, such as polling or asynchronous callback handlers, to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a change is applied immediately, on the next instance reboot, or during the next maintenance window. For a summary of the Amazon Redshift cluster management interfaces, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/using-aws-sdk.html">Using the Amazon Redshift Management Interfaces</a>.</p> <p>Amazon Redshift manages all the work of setting up, operating, and scaling a data warehouse: provisioning capacity, monitoring and backing up the cluster, and applying patches and upgrades to the Amazon Redshift engine. You can focus on using your data to acquire new insights for your business and customers.</p> <p>If you are a first-time user of Amazon Redshift, we recommend that you begin by reading the <a href="http://docs.aws.amazon.com/redshift/latest/gsg/getting-started.html">Amazon Redshift Getting Started Guide</a>.</p> <p>If you are a database developer, the <a href="http://docs.aws.amazon.com/redshift/latest/dg/welcome.html">Amazon Redshift Database Developer Guide</a> explains how to design, build, query, and maintain the databases that make up your data warehouse. </p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: redshift
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/redshift-2012-12-01.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/redshift/'
host: redshift.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes: []
produces: []
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AcceptReservedNodeExchange
      description: 'Exchanges a DC1 Reserved Node for a DC2 Reserved Node with no changes to the configuration (term, payment type, or number of nodes) and no additional costs. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptReservedNodeExchangeOutputMessage'
        '480':
          description: ReservedNodeNotFoundFault
          schema:
            $ref: '#/definitions/ReservedNodeNotFoundFault'
        '481':
          description: InvalidReservedNodeStateFault
          schema:
            $ref: '#/definitions/InvalidReservedNodeStateFault'
        '482':
          description: ReservedNodeAlreadyMigratedFault
          schema:
            $ref: '#/definitions/ReservedNodeAlreadyMigratedFault'
        '483':
          description: ReservedNodeOfferingNotFoundFault
          schema:
            $ref: '#/definitions/ReservedNodeOfferingNotFoundFault'
        '484':
          description: UnsupportedOperationFault
          schema:
            $ref: '#/definitions/UnsupportedOperationFault'
        '485':
          description: DependentServiceUnavailableFault
          schema:
            $ref: '#/definitions/DependentServiceUnavailableFault'
        '486':
          description: ReservedNodeAlreadyExistsFault
          schema:
            $ref: '#/definitions/ReservedNodeAlreadyExistsFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AcceptReservedNodeExchangeInputMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AuthorizeClusterSecurityGroupIngress':
    post:
      operationId: AuthorizeClusterSecurityGroupIngress
      description: '<p>Adds an inbound (ingress) rule to an Amazon Redshift security group. Depending on whether the application accessing your cluster is running on the Internet or an Amazon EC2 instance, you can authorize inbound access to either a Classless Interdomain Routing (CIDR)/Internet Protocol (IP) range or to an Amazon EC2 security group. You can add as many as 20 ingress rules to an Amazon Redshift security group.</p> <p>If you authorize access to an Amazon EC2 security group, specify <i>EC2SecurityGroupName</i> and <i>EC2SecurityGroupOwnerId</i>. The Amazon EC2 security group and Amazon Redshift cluster must be in the same AWS Region. </p> <p>If you authorize access to a CIDR/IP address range, specify <i>CIDRIP</i>. For an overview of CIDR blocks, see the Wikipedia article on <a href="http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing">Classless Inter-Domain Routing</a>. </p> <p>You must also associate the security group with a cluster so that clients running on these IP addresses or the EC2 instance are authorized to connect to the cluster. For information about managing security groups, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html">Working with Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeClusterSecurityGroupIngressResult'
        '480':
          description: ClusterSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSecurityGroupNotFoundFault'
        '481':
          description: InvalidClusterSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidClusterSecurityGroupStateFault'
        '482':
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        '483':
          description: AuthorizationQuotaExceededFault
          schema:
            $ref: '#/definitions/AuthorizationQuotaExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AuthorizeClusterSecurityGroupIngressMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#AuthorizeSnapshotAccess':
    post:
      operationId: AuthorizeSnapshotAccess
      description: '<p>Authorizes the specified AWS customer account to restore the specified snapshot.</p> <p> For more information about working with snapshots, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeSnapshotAccessResult'
        '480':
          description: ClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSnapshotNotFoundFault'
        '481':
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        '482':
          description: AuthorizationQuotaExceededFault
          schema:
            $ref: '#/definitions/AuthorizationQuotaExceededFault'
        '483':
          description: DependentServiceRequestThrottlingFault
          schema:
            $ref: '#/definitions/DependentServiceRequestThrottlingFault'
        '484':
          description: InvalidClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidClusterSnapshotStateFault'
        '485':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AuthorizeSnapshotAccessMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchDeleteClusterSnapshots':
    post:
      operationId: BatchDeleteClusterSnapshots
      description: Deletes a set of cluster snapshots.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDeleteClusterSnapshotsResult'
        '480':
          description: BatchDeleteRequestSizeExceededFault
          schema:
            $ref: '#/definitions/BatchDeleteRequestSizeExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchDeleteClusterSnapshotsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchModifyClusterSnapshots':
    post:
      operationId: BatchModifyClusterSnapshots
      description: Modifies the settings for a list of snapshots.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchModifyClusterSnapshotsOutputMessage'
        '480':
          description: InvalidRetentionPeriodFault
          schema:
            $ref: '#/definitions/InvalidRetentionPeriodFault'
        '481':
          description: BatchModifyClusterSnapshotsLimitExceededFault
          schema:
            $ref: '#/definitions/BatchModifyClusterSnapshotsLimitExceededFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchModifyClusterSnapshotsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CancelResize':
    post:
      operationId: CancelResize
      description: Cancels a resize operation.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResizeProgressMessage'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: ResizeNotFoundFault
          schema:
            $ref: '#/definitions/ResizeNotFoundFault'
        '482':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '483':
          description: UnsupportedOperationFault
          schema:
            $ref: '#/definitions/UnsupportedOperationFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelResizeMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CopyClusterSnapshot':
    post:
      operationId: CopyClusterSnapshot
      description: '<p>Copies the specified automated cluster snapshot to a new manual cluster snapshot. The source must be an automated snapshot and it must be in the available state.</p> <p>When you delete a cluster, Amazon Redshift deletes any automated snapshots of the cluster. Also, when the retention period of the snapshot expires, Amazon Redshift automatically deletes it. If you want to keep an automated snapshot for a longer period, you can make a manual copy of the snapshot. Manual snapshots are retained until you delete them.</p> <p> For more information about working with snapshots, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyClusterSnapshotResult'
        '480':
          description: ClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/ClusterSnapshotAlreadyExistsFault'
        '481':
          description: ClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSnapshotNotFoundFault'
        '482':
          description: InvalidClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidClusterSnapshotStateFault'
        '483':
          description: ClusterSnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/ClusterSnapshotQuotaExceededFault'
        '484':
          description: InvalidRetentionPeriodFault
          schema:
            $ref: '#/definitions/InvalidRetentionPeriodFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CopyClusterSnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateCluster':
    post:
      operationId: CreateCluster
      description: '<p>Creates a new cluster.</p> <p>To create a cluster in Virtual Private Cloud (VPC), you must provide a cluster subnet group name. The cluster subnet group identifies the subnets of your VPC that Amazon Redshift uses when creating the cluster. For more information about managing clusters, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterResult'
        '480':
          description: ClusterAlreadyExistsFault
          schema:
            $ref: '#/definitions/ClusterAlreadyExistsFault'
        '481':
          description: InsufficientClusterCapacityFault
          schema:
            $ref: '#/definitions/InsufficientClusterCapacityFault'
        '482':
          description: ClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterParameterGroupNotFoundFault'
        '483':
          description: ClusterSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSecurityGroupNotFoundFault'
        '484':
          description: ClusterQuotaExceededFault
          schema:
            $ref: '#/definitions/ClusterQuotaExceededFault'
        '485':
          description: NumberOfNodesQuotaExceededFault
          schema:
            $ref: '#/definitions/NumberOfNodesQuotaExceededFault'
        '486':
          description: NumberOfNodesPerClusterLimitExceededFault
          schema:
            $ref: '#/definitions/NumberOfNodesPerClusterLimitExceededFault'
        '487':
          description: ClusterSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSubnetGroupNotFoundFault'
        '488':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '489':
          description: InvalidClusterSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidClusterSubnetGroupStateFault'
        '490':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '491':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '492':
          description: HsmClientCertificateNotFoundFault
          schema:
            $ref: '#/definitions/HsmClientCertificateNotFoundFault'
        '493':
          description: HsmConfigurationNotFoundFault
          schema:
            $ref: '#/definitions/HsmConfigurationNotFoundFault'
        '494':
          description: InvalidElasticIpFault
          schema:
            $ref: '#/definitions/InvalidElasticIpFault'
        '495':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '496':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
        '497':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '498':
          description: DependentServiceRequestThrottlingFault
          schema:
            $ref: '#/definitions/DependentServiceRequestThrottlingFault'
        '499':
          description: InvalidClusterTrackFault
          schema:
            $ref: '#/definitions/InvalidClusterTrackFault'
        '500':
          description: SnapshotScheduleNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotScheduleNotFoundFault'
        '501':
          description: InvalidRetentionPeriodFault
          schema:
            $ref: '#/definitions/InvalidRetentionPeriodFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateClusterParameterGroup':
    post:
      operationId: CreateClusterParameterGroup
      description: '<p>Creates an Amazon Redshift parameter group.</p> <p>Creating parameter groups is independent of creating clusters. You can associate a cluster with a parameter group when you create the cluster. You can also associate an existing cluster with a parameter group after the cluster is created by using <a>ModifyCluster</a>. </p> <p>Parameters in the parameter group define specific behavior that applies to the databases you create on the cluster. For more information about parameters and parameter groups, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterParameterGroupResult'
        '480':
          description: ClusterParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/ClusterParameterGroupQuotaExceededFault'
        '481':
          description: ClusterParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/ClusterParameterGroupAlreadyExistsFault'
        '482':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '483':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateClusterParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateClusterSecurityGroup':
    post:
      operationId: CreateClusterSecurityGroup
      description: '<p>Creates a new Amazon Redshift security group. You use security groups to control access to non-VPC clusters.</p> <p> For information about managing security groups, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html">Amazon Redshift Cluster Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterSecurityGroupResult'
        '480':
          description: ClusterSecurityGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/ClusterSecurityGroupAlreadyExistsFault'
        '481':
          description: ClusterSecurityGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/ClusterSecurityGroupQuotaExceededFault'
        '482':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '483':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateClusterSecurityGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateClusterSnapshot':
    post:
      operationId: CreateClusterSnapshot
      description: '<p>Creates a manual snapshot of the specified cluster. The cluster must be in the <code>available</code> state. </p> <p> For more information about working with snapshots, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-snapshots.html">Amazon Redshift Snapshots</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterSnapshotResult'
        '480':
          description: ClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/ClusterSnapshotAlreadyExistsFault'
        '481':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '482':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '483':
          description: ClusterSnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/ClusterSnapshotQuotaExceededFault'
        '484':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '485':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
        '486':
          description: InvalidRetentionPeriodFault
          schema:
            $ref: '#/definitions/InvalidRetentionPeriodFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateClusterSnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateClusterSubnetGroup':
    post:
      operationId: CreateClusterSubnetGroup
      description: '<p>Creates a new Amazon Redshift subnet group. You must provide a list of one or more subnets in your existing Amazon Virtual Private Cloud (Amazon VPC) when creating Amazon Redshift subnet group.</p> <p> For information about subnet groups, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-cluster-subnet-groups.html">Amazon Redshift Cluster Subnet Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateClusterSubnetGroupResult'
        '480':
          description: ClusterSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/ClusterSubnetGroupAlreadyExistsFault'
        '481':
          description: ClusterSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/ClusterSubnetGroupQuotaExceededFault'
        '482':
          description: ClusterSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/ClusterSubnetQuotaExceededFault'
        '483':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '484':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
        '485':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '486':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
        '487':
          description: DependentServiceRequestThrottlingFault
          schema:
            $ref: '#/definitions/DependentServiceRequestThrottlingFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateClusterSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateEventSubscription':
    post:
      operationId: CreateEventSubscription
      description: '<p>Creates an Amazon Redshift event notification subscription. This action requires an ARN (Amazon Resource Name) of an Amazon SNS topic created by either the Amazon Redshift console, the Amazon SNS console, or the Amazon SNS API. To obtain an ARN with Amazon SNS, you must create a topic in Amazon SNS and subscribe to the topic. The ARN is displayed in the SNS console.</p> <p>You can specify the source type, and lists of Amazon Redshift source IDs, event categories, and event severities. Notifications will be sent for all events you want that match those criteria. For example, you can specify source type = cluster, source ID = my-cluster-1 and mycluster2, event categories = Availability, Backup, and severity = ERROR. The subscription will only send notifications for those ERROR events in the Availability and Backup categories for the specified clusters.</p> <p>If you specify both the source type and source IDs, such as source type = cluster and source identifier = my-cluster-1, notifications will be sent for all the cluster events for my-cluster-1. If you specify a source type but do not specify a source identifier, you will receive notice of the events for the objects of that type in your AWS account. If you do not specify either the SourceType nor the SourceIdentifier, you will be notified of events generated from all Amazon Redshift sources belonging to your AWS account. You must specify a source type if you specify a source ID.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEventSubscriptionResult'
        '480':
          description: EventSubscriptionQuotaExceededFault
          schema:
            $ref: '#/definitions/EventSubscriptionQuotaExceededFault'
        '481':
          description: SubscriptionAlreadyExistFault
          schema:
            $ref: '#/definitions/SubscriptionAlreadyExistFault'
        '482':
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        '483':
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        '484':
          description: SNSTopicArnNotFoundFault
          schema:
            $ref: '#/definitions/SNSTopicArnNotFoundFault'
        '485':
          description: SubscriptionEventIdNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionEventIdNotFoundFault'
        '486':
          description: SubscriptionCategoryNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionCategoryNotFoundFault'
        '487':
          description: SubscriptionSeverityNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionSeverityNotFoundFault'
        '488':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
        '489':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '490':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateEventSubscriptionMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateHsmClientCertificate':
    post:
      operationId: CreateHsmClientCertificate
      description: '<p>Creates an HSM client certificate that an Amazon Redshift cluster will use to connect to the client''s HSM in order to store and retrieve the keys used to encrypt the cluster databases.</p> <p>The command returns a public key, which you must store in the HSM. In addition to creating the HSM certificate, you must create an Amazon Redshift HSM configuration that provides a cluster the information needed to store and use encryption keys in the HSM. For more information, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-HSM.html">Hardware Security Modules</a> in the Amazon Redshift Cluster Management Guide.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHsmClientCertificateResult'
        '480':
          description: HsmClientCertificateAlreadyExistsFault
          schema:
            $ref: '#/definitions/HsmClientCertificateAlreadyExistsFault'
        '481':
          description: HsmClientCertificateQuotaExceededFault
          schema:
            $ref: '#/definitions/HsmClientCertificateQuotaExceededFault'
        '482':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '483':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateHsmClientCertificateMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateHsmConfiguration':
    post:
      operationId: CreateHsmConfiguration
      description: '<p>Creates an HSM configuration that contains the information required by an Amazon Redshift cluster to store and use database encryption keys in a Hardware Security Module (HSM). After creating the HSM configuration, you can specify it as a parameter when creating a cluster. The cluster will then store its encryption keys in the HSM.</p> <p>In addition to creating an HSM configuration, you must also create an HSM client certificate. For more information, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-HSM.html">Hardware Security Modules</a> in the Amazon Redshift Cluster Management Guide.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHsmConfigurationResult'
        '480':
          description: HsmConfigurationAlreadyExistsFault
          schema:
            $ref: '#/definitions/HsmConfigurationAlreadyExistsFault'
        '481':
          description: HsmConfigurationQuotaExceededFault
          schema:
            $ref: '#/definitions/HsmConfigurationQuotaExceededFault'
        '482':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '483':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateHsmConfigurationMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateSnapshotCopyGrant':
    post:
      operationId: CreateSnapshotCopyGrant
      description: '<p>Creates a snapshot copy grant that permits Amazon Redshift to use a customer master key (CMK) from AWS Key Management Service (AWS KMS) to encrypt copied snapshots in a destination region.</p> <p> For more information about managing snapshot copy grants, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-db-encryption.html">Amazon Redshift Database Encryption</a> in the <i>Amazon Redshift Cluster Management Guide</i>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateSnapshotCopyGrantResult'
        '480':
          description: SnapshotCopyGrantAlreadyExistsFault
          schema:
            $ref: '#/definitions/SnapshotCopyGrantAlreadyExistsFault'
        '481':
          description: SnapshotCopyGrantQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotCopyGrantQuotaExceededFault'
        '482':
          description: LimitExceededFault
          schema:
            $ref: '#/definitions/LimitExceededFault'
        '483':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '484':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
        '485':
          description: DependentServiceRequestThrottlingFault
          schema:
            $ref: '#/definitions/DependentServiceRequestThrottlingFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSnapshotCopyGrantMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateSnapshotSchedule':
    post:
      operationId: CreateSnapshotSchedule
      description: Creates a new snapshot schedule.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SnapshotSchedule'
        '480':
          description: SnapshotScheduleAlreadyExistsFault
          schema:
            $ref: '#/definitions/SnapshotScheduleAlreadyExistsFault'
        '481':
          description: InvalidScheduleFault
          schema:
            $ref: '#/definitions/InvalidScheduleFault'
        '482':
          description: SnapshotScheduleQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotScheduleQuotaExceededFault'
        '483':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '484':
          description: ScheduleDefinitionTypeUnsupportedFault
          schema:
            $ref: '#/definitions/ScheduleDefinitionTypeUnsupportedFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateSnapshotScheduleMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateTags':
    post:
      operationId: CreateTags
      description: '<p>Adds one or more tags to a specified resource.</p> <p>A resource can have up to 50 tags. If you try to create more than 50 tags for a resource, you will receive an error and the attempt will fail.</p> <p>If you specify a key that already exists for the resource, the value for that key will be updated with the new value.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: TagLimitExceededFault
          schema:
            $ref: '#/definitions/TagLimitExceededFault'
        '481':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '482':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateTagsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteCluster':
    post:
      operationId: DeleteCluster
      description: '<p>Deletes a previously provisioned cluster. A successful response from the web service indicates that the request was received correctly. Use <a>DescribeClusters</a> to monitor the status of the deletion. The delete operation cannot be canceled or reverted once submitted. For more information about managing clusters, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>If you want to shut down the cluster and retain it for future use, set <i>SkipFinalClusterSnapshot</i> to <code>false</code> and specify a name for <i>FinalClusterSnapshotIdentifier</i>. You can later restore this snapshot to resume using the cluster. If a final cluster snapshot is requested, the status of the cluster will be "final-snapshot" while the snapshot is being taken, then it''s "deleting" once Amazon Redshift begins deleting the cluster. </p> <p> For more information about managing clusters, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteClusterResult'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
        '482':
          description: ClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/ClusterSnapshotAlreadyExistsFault'
        '483':
          description: ClusterSnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/ClusterSnapshotQuotaExceededFault'
        '484':
          description: InvalidRetentionPeriodFault
          schema:
            $ref: '#/definitions/InvalidRetentionPeriodFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteClusterMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteClusterParameterGroup':
    post:
      operationId: DeleteClusterParameterGroup
      description: <p>Deletes a specified Amazon Redshift parameter group.</p> <note> <p>You cannot delete a parameter group if it is associated with a cluster.</p> </note>
      responses:
        '200':
          description: Success
        '480':
          description: InvalidClusterParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidClusterParameterGroupStateFault'
        '481':
          description: ClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterParameterGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteClusterParameterGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteClusterSecurityGroup':
    post:
      operationId: DeleteClusterSecurityGroup
      description: '<p>Deletes an Amazon Redshift security group.</p> <note> <p>You cannot delete a security group that is associated with any clusters. You cannot delete the default security group.</p> </note> <p> For information about managing security groups, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html">Amazon Redshift Cluster Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidClusterSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidClusterSecurityGroupStateFault'
        '481':
          description: ClusterSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSecurityGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteClusterSecurityGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteClusterSnapshot':
    post:
      operationId: DeleteClusterSnapshot
      description: '<p>Deletes the specified manual snapshot. The snapshot must be in the <code>available</code> state, with no other users authorized to access the snapshot. </p> <p>Unlike automated snapshots, manual snapshots are retained even after you delete your cluster. Amazon Redshift does not delete your manual snapshots. You must delete manual snapshot explicitly to avoid getting charged. If other accounts are authorized to access the snapshot, you must revoke all of the authorizations before you can delete the snapshot.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteClusterSnapshotResult'
        '480':
          description: InvalidClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidClusterSnapshotStateFault'
        '481':
          description: ClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSnapshotNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteClusterSnapshotMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteClusterSubnetGroup':
    post:
      operationId: DeleteClusterSubnetGroup
      description: Deletes the specified cluster subnet group.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidClusterSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidClusterSubnetGroupStateFault'
        '481':
          description: InvalidClusterSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidClusterSubnetStateFault'
        '482':
          description: ClusterSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSubnetGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteClusterSubnetGroupMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteEventSubscription':
    post:
      operationId: DeleteEventSubscription
      description: Deletes an Amazon Redshift event notification subscription.
      responses:
        '200':
          description: Success
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: InvalidSubscriptionStateFault
          schema:
            $ref: '#/definitions/InvalidSubscriptionStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteHsmClientCertificate':
    post:
      operationId: DeleteHsmClientCertificate
      description: Deletes the specified HSM client certificate.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidHsmClientCertificateStateFault
          schema:
            $ref: '#/definitions/InvalidHsmClientCertificateStateFault'
        '481':
          description: HsmClientCertificateNotFoundFault
          schema:
            $ref: '#/definitions/HsmClientCertificateNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteHsmClientCertificateMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteHsmConfiguration':
    post:
      operationId: DeleteHsmConfiguration
      description: Deletes the specified Amazon Redshift HSM configuration.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidHsmConfigurationStateFault
          schema:
            $ref: '#/definitions/InvalidHsmConfigurationStateFault'
        '481':
          description: HsmConfigurationNotFoundFault
          schema:
            $ref: '#/definitions/HsmConfigurationNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteHsmConfigurationMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteSnapshotCopyGrant':
    post:
      operationId: DeleteSnapshotCopyGrant
      description: Deletes the specified snapshot copy grant.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidSnapshotCopyGrantStateFault
          schema:
            $ref: '#/definitions/InvalidSnapshotCopyGrantStateFault'
        '481':
          description: SnapshotCopyGrantNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotCopyGrantNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSnapshotCopyGrantMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteSnapshotSchedule':
    post:
      operationId: DeleteSnapshotSchedule
      description: Deletes a snapshot schedule.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidClusterSnapshotScheduleStateFault
          schema:
            $ref: '#/definitions/InvalidClusterSnapshotScheduleStateFault'
        '481':
          description: SnapshotScheduleNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotScheduleNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSnapshotScheduleMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteTags':
    post:
      operationId: DeleteTags
      description: Deletes a tag or tags from a resource. You must provide the ARN of the resource from which you want to delete the tag or tags.
      responses:
        '200':
          description: Success
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTagsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeAccountAttributes':
    post:
      operationId: DescribeAccountAttributes
      description: Returns a list of attributes attached to an account
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AccountAttributeList'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAccountAttributesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusterDbRevisions':
    post:
      operationId: DescribeClusterDbRevisions
      description: Returns an array of <code>ClusterDbRevision</code> objects.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClusterDbRevisionsMessage'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: InvalidClusterStateFault
          schema:
            $ref: '#/definitions/InvalidClusterStateFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterDbRevisionsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusterParameterGroups':
    post:
      operationId: DescribeClusterParameterGroups
      description: '<p>Returns a list of Amazon Redshift parameter groups, including parameter groups you created and the default parameter group. For each parameter group, the response includes the parameter group name, description, and parameter group family name. You can optionally specify a name to retrieve the description of a specific parameter group.</p> <p> For more information about parameters and parameter groups, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all parameter groups that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all parameter groups that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, parameter groups are returned regardless of whether they have tag keys or values associated with them.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClusterParameterGroupsMessage'
        '480':
          description: ClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterParameterGroupNotFoundFault'
        '481':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterParameterGroupsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusterParameters':
    post:
      operationId: DescribeClusterParameters
      description: '<p>Returns a detailed list of parameters contained within the specified Amazon Redshift parameter group. For each parameter the response includes information such as parameter name, description, data type, value, whether the parameter value is modifiable, and so on.</p> <p>You can specify <i>source</i> filter to retrieve parameters of only specific type. For example, to retrieve parameters that were modified by a user action such as from <a>ModifyClusterParameterGroup</a>, you can specify <i>source</i> equal to <i>user</i>.</p> <p> For more information about parameters and parameter groups, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClusterParameterGroupDetails'
        '480':
          description: ClusterParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterParameterGroupNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterParametersMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusterSecurityGroups':
    post:
      operationId: DescribeClusterSecurityGroups
      description: '<p>Returns information about Amazon Redshift security groups. If the name of a security group is specified, the response will contain only information about only that security group.</p> <p> For information about managing security groups, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-security-groups.html">Amazon Redshift Cluster Security Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all security groups that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all security groups that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, security groups are returned regardless of whether they have tag keys or values associated with them.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClusterSecurityGroupMessage'
        '480':
          description: ClusterSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSecurityGroupNotFoundFault'
        '481':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterSecurityGroupsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusterSnapshots':
    post:
      operationId: DescribeClusterSnapshots
      description: '<p>Returns one or more snapshot objects, which contain metadata about your cluster snapshots. By default, this operation returns information about all snapshots of all clusters that are owned by you AWS customer account. No information is returned for snapshots owned by inactive AWS customer accounts.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all snapshots that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all snapshots that have any combination of those values are returned. Only snapshots that you own are returned in the response; shared snapshots are not returned with the tag key and tag value request parameters.</p> <p>If both tag keys and values are omitted from the request, snapshots are returned regardless of whether they have tag keys or values associated with them.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SnapshotMessage'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: ClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSnapshotNotFoundFault'
        '482':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterSnapshotsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusterSubnetGroups':
    post:
      operationId: DescribeClusterSubnetGroups
      description: '<p>Returns one or more cluster subnet group objects, which contain metadata about your cluster subnet groups. By default, this operation returns information about all cluster subnet groups that are defined in you AWS account.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all subnet groups that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all subnet groups that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, subnet groups are returned regardless of whether they have tag keys or values associated with them.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClusterSubnetGroupMessage'
        '480':
          description: ClusterSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/ClusterSubnetGroupNotFoundFault'
        '481':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterSubnetGroupsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusterTracks':
    post:
      operationId: DescribeClusterTracks
      description: Returns a list of all the available maintenance tracks.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TrackListMessage'
        '480':
          description: InvalidClusterTrackFault
          schema:
            $ref: '#/definitions/InvalidClusterTrackFault'
        '481':
          description: UnauthorizedOperation
          schema:
            $ref: '#/definitions/UnauthorizedOperation'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterTracksMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusterVersions':
    post:
      operationId: DescribeClusterVersions
      description: 'Returns descriptions of the available Amazon Redshift cluster versions. You can call this operation even before creating any clusters to learn more about the Amazon Redshift versions. For more information about managing clusters, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClusterVersionsMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClusterVersionsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeClusters':
    post:
      operationId: DescribeClusters
      description: '<p>Returns properties of provisioned clusters including general cluster properties, cluster database properties, maintenance and backup properties, and security and access properties. This operation supports pagination. For more information about managing clusters, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all clusters that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all clusters that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, clusters are returned regardless of whether they have tag keys or values associated with them.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ClustersMessage'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeClustersMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeDefaultClusterParameters':
    post:
      operationId: DescribeDefaultClusterParameters
      description: '<p>Returns a list of parameter settings for the specified parameter group family.</p> <p> For more information about parameters and parameter groups, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-parameter-groups.html">Amazon Redshift Parameter Groups</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDefaultClusterParametersResult'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDefaultClusterParametersMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEventCategories':
    post:
      operationId: DescribeEventCategories
      description: 'Displays a list of event categories for all event source types, or for a specified source type. For a list of the event categories and source types, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-event-notifications.html">Amazon Redshift Event Notifications</a>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EventCategoriesMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventCategoriesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEventSubscriptions':
    post:
      operationId: DescribeEventSubscriptions
      description: '<p>Lists descriptions of all the Amazon Redshift event notification subscriptions for a customer account. If you specify a subscription name, lists the description for that subscription.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all event notification subscriptions that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all subscriptions that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, subscriptions are returned regardless of whether they have tag keys or values associated with them.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EventSubscriptionsMessage'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventSubscriptionsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeEvents':
    post:
      operationId: DescribeEvents
      description: 'Returns events related to clusters, security groups, snapshots, and parameter groups for the past 14 days. Events specific to a particular cluster, security group, snapshot or parameter group can be obtained by providing the name as a parameter. By default, the past hour of events are returned.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EventsMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEventsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeHsmClientCertificates':
    post:
      operationId: DescribeHsmClientCertificates
      description: '<p>Returns information about the specified HSM client certificate. If no certificate ID is specified, returns information about all the HSM certificates owned by your AWS customer account.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all HSM client certificates that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all HSM client certificates that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, HSM client certificates are returned regardless of whether they have tag keys or values associated with them.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/HsmClientCertificateMessage'
        '480':
          description: HsmClientCertificateNotFoundFault
          schema:
            $ref: '#/definitions/HsmClientCertificateNotFoundFault'
        '481':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeHsmClientCertificatesMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeHsmConfigurations':
    post:
      operationId: DescribeHsmConfigurations
      description: '<p>Returns information about the specified Amazon Redshift HSM configuration. If no configuration ID is specified, returns information about all the HSM configurations owned by your AWS customer account.</p> <p>If you specify both tag keys and tag values in the same request, Amazon Redshift returns all HSM connections that match any combination of the specified keys and values. For example, if you have <code>owner</code> and <code>environment</code> for tag keys, and <code>admin</code> and <code>test</code> for tag values, all HSM connections that have any combination of those values are returned.</p> <p>If both tag keys and values are omitted from the request, HSM connections are returned regardless of whether they have tag keys or values associated with them.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/HsmConfigurationMessage'
        '480':
          description: HsmConfigurationNotFoundFault
          schema:
            $ref: '#/definitions/HsmConfigurationNotFoundFault'
        '481':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeHsmConfigurationsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeLoggingStatus':
    post:
      operationId: DescribeLoggingStatus
      description: 'Describes whether information, such as queries and connection attempts, is being logged for the specified Amazon Redshift cluster.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/LoggingStatus'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLoggingStatusMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeOrderableClusterOptions':
    post:
      operationId: DescribeOrderableClusterOptions
      description: 'Returns a list of orderable cluster options. Before you create a new cluster you can use this operation to find what options are available, such as the EC2 Availability Zones (AZ) in the specific AWS Region that you can specify, and the node types you can request. The node types differ by available storage, memory, CPU and price. With the cost involved you might want to obtain a list of cluster options in the specific region and specify values when creating a cluster. For more information about managing clusters, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-clusters.html">Amazon Redshift Clusters</a> in the <i>Amazon Redshift Cluster Management Guide</i>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/OrderableClusterOptionsMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeOrderableClusterOptionsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReservedNodeOfferings':
    post:
      operationId: DescribeReservedNodeOfferings
      description: '<p>Returns a list of the available reserved node offerings by Amazon Redshift with their descriptions including the node type, the fixed and recurring costs of reserving the node and duration the node will be reserved for you. These descriptions help you determine which reserve node offering you want to purchase. You then use the unique offering ID in you call to <a>PurchaseReservedNodeOffering</a> to reserve one or more nodes for your Amazon Redshift cluster. </p> <p> For more information about reserved node offerings, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/purchase-reserved-node-instance.html">Purchasing Reserved Nodes</a> in the <i>Amazon Redshift Cluster Management Guide</i>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReservedNodeOfferingsMessage'
        '480':
          description: ReservedNodeOfferingNotFoundFault
          schema:
            $ref: '#/definitions/ReservedNodeOfferingNotFoundFault'
        '481':
          description: UnsupportedOperationFault
          schema:
            $ref: '#/definitions/UnsupportedOperationFault'
        '482':
          description: DependentServiceUnavailableFault
          schema:
            $ref: '#/definitions/DependentServiceUnavailableFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReservedNodeOfferingsMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeReservedNodes':
    post:
      operationId: DescribeReservedNodes
      description: Returns the descriptions of the reserved nodes.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ReservedNodesMessage'
        '480':
          description: ReservedNodeNotFoundFault
          schema:
            $ref: '#/definitions/ReservedNodeNotFoundFault'
        '481':
          description: DependentServiceUnavailableFault
          schema:
            $ref: '#/definitions/DependentServiceUnavailableFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeReservedNodesMessage'
        - name: MaxRecords
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeResize':
    post:
      operationId: DescribeResize
      description: '<p>Returns information about the last resize operation for the specified cluster. If no resize operation has ever been initiated for the specified cluster, a <code>HTTP 404</code> error is returned. If a resize operation was initiated and completed, the status of the resize remains as <code>SUCCEEDED</code> until the next resize. </p> <p>A resize operation can be requested using <a>ModifyCluster</a> and specifying a different number or type of nodes for the cluster. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResizeProgressMessage'
        '480':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
        '481':
          description: ResizeNotFoundFault
          schema:
            $ref: '#/definitions/ResizeNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeResizeMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSnapshotCopyGrants':
    post:
      operationId: DescribeSnapshotCopyGrants
      description: '<p>Returns a list of snapshot copy grants owned by the AWS account in the destination region.</p> <p> For more information about managing snapshot copy grants, go to <a href="http://docs.aws.amazon.com/redshift/latest/mgmt/working-with-db-encryption.html">Amazon Redshift Database Encryption</a> in the <i>Amazon Redshift Cluster Management Guide</i>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SnapshotCopyGrantMessage'
        '480':
          description: SnapshotCopyGrantNotFoundFault
          schema:
            $ref: '#/definitions/SnapshotCopyGrantNotFoundFault'
        '481':
          description: InvalidTagFault
          schema:
            $ref: '#/definitions/InvalidTagFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSnapshotCopyGrantsMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeSnapshotSchedules':
    post:
      operationId: DescribeSnapshotSchedules
      description: 'Returns a list of snapshot schedules. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeSnapshotSchedulesOutputMessage'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeSnapshotSchedulesMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeStorage':
    post:
      operationId: DescribeStorage
      description: Returns the total amount of snapshot usage and provisioned storage for a user in megabytes.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CustomerStorageMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTableRestoreStatus':
    post:
      operationId: DescribeTableRestoreStatus
      description: 'Lists the status of one or more table restore requests made using the <a>RestoreTableFromClusterSnapshot</a> API action. If you don''t specify a value for the <code>TableRestoreRequestId</code> parameter, then <code>DescribeTableRestoreStatus</code> returns the status of all table restore requests ordered by the date and time of the request in ascending order. Otherwise <code>DescribeTableRestoreStatus</code> returns the status of the table specified by <code>TableRestoreRequestId</code>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TableRestoreStatusMessage'
        '480':
          description: TableRestoreNotFoundFault
          schema:
            $ref: '#/definitions/TableRestoreNotFoundFault'
        '481':
          description: ClusterNotFoundFault
          schema:
            $ref: '#/definitions/ClusterNotFoundFault'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTableRestoreStatusMessage'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTags':
    post:
[...]
