openapi: 3.0.0
servers:
  - url: https://privateca.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "The Certificate Authority Service API is a highly-available, scalable service that enables you to simplify and automate the management of private certificate authorities (CAs) while staying in control of your private keys. "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Certificate Authority API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_upload.wikimedia.org_wikipedia_commons_e_e1_YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: openapi
      url: https://privateca.googleapis.com/$discovery/rest?version=v1
      version: "3.0"
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: privateca
externalDocs:
  url: https://cloud.google.com/
tags:
  - name: projects
paths:
  "/v1/{caPool}:fetchCaCerts":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: FetchCaCerts returns the current trust anchor for the CaPool. This will include CA certificate chains for all ACTIVE CertificateAuthority resources in the CaPool.
      operationId: privateca.projects.locations.caPools.fetchCaCerts
      parameters:
        - description: Required. The resource name for the CaPool in the format `projects/*/locations/*/caPools/*`.
          in: path
          name: caPool
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FetchCaCertsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchCaCertsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}":
    delete:
      description: Deletes a long-running operation. This method indicates that the client is no longer interested in the operation result. It does not cancel the operation. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`.
      operationId: privateca.projects.locations.operations.delete
      parameters:
        - description: The name of the operation resource to be deleted.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
        - description: Optional. This field allows this ca to be deleted even if it's being depended on by another resource. However, doing so may result in unintended and unrecoverable effects on any dependent resource(s) since the CA will no longer be able to issue certificates.
          in: query
          name: ignoreDependentResources
          schema:
            type: boolean
        - description: Optional. If this flag is set, the Certificate Authority will be deleted as soon as possible without a 30-day grace period where undeletion would have been allowed. If you proceed, there will be no way to recover this CA.
          in: query
          name: skipGracePeriod
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: privateca.projects.locations.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Update a CertificateTemplate.
      operationId: privateca.projects.locations.certificateTemplates.patch
      parameters:
        - description: Output only. The resource name for this CertificateTemplate in the format `projects/*/locations/*/certificateTemplates/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
        - description: Required. A list of fields to be updated in this request.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertificateTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}/locations":
    get:
      description: Lists information about the supported locations for this service.
      operationId: privateca.projects.locations.list
      parameters:
        - description: The resource that owns the locations collection, if applicable.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A filter to narrow down results to a preferred subset. The filtering language accepts strings like `"displayName=tokyo"`, and is documented in more detail in [AIP-160](https://google.aip.dev/160).
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return. If not set, the service selects a default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token received from the `next_page_token` field in the response. Send that page token to receive the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListLocationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}/operations":
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: privateca.projects.locations.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:activate":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Activate a CertificateAuthority that is in state AWAITING_USER_ACTIVATION and is of type SUBORDINATE. After the parent Certificate Authority signs a certificate signing request from FetchCertificateAuthorityCsr, this method can complete the activation process.
      operationId: privateca.projects.locations.caPools.certificateAuthorities.activate
      parameters:
        - description: Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivateCertificateAuthorityRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: privateca.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:disable":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Disable a CertificateAuthority.
      operationId: privateca.projects.locations.caPools.certificateAuthorities.disable
      parameters:
        - description: Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DisableCertificateAuthorityRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:enable":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Enable a CertificateAuthority.
      operationId: privateca.projects.locations.caPools.certificateAuthorities.enable
      parameters:
        - description: Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableCertificateAuthorityRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:fetch":
    get:
      description: Fetch a certificate signing request (CSR) from a CertificateAuthority that is in state AWAITING_USER_ACTIVATION and is of type SUBORDINATE. The CSR must then be signed by the desired parent Certificate Authority, which could be another CertificateAuthority resource, or could be an on-prem certificate authority. See also ActivateCertificateAuthority.
      operationId: privateca.projects.locations.caPools.certificateAuthorities.fetch
      parameters:
        - description: Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FetchCertificateAuthorityCsrResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}:revoke":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Revoke a Certificate.
      operationId: privateca.projects.locations.caPools.certificates.revoke
      parameters:
        - description: Required. The resource name for this Certificate in the format `projects/*/locations/*/caPools/*/certificates/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RevokeCertificateRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:undelete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Undelete a CertificateAuthority that has been deleted.
      operationId: privateca.projects.locations.caPools.certificateAuthorities.undelete
      parameters:
        - description: Required. The resource name for this CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UndeleteCertificateAuthorityRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/caPools":
    get:
      description: Lists CaPools.
      operationId: privateca.projects.locations.caPools.list
      parameters:
        - description: Required. The resource name of the location associated with the CaPools, in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Only include resources that match the filter in the response.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Specify how the results should be sorted.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. Limit on the number of CaPools to include in the response. Further CaPools can subsequently be obtained by including the ListCaPoolsResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Pagination token, returned earlier via ListCaPoolsResponse.next_page_token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCaPoolsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a CaPool.
      operationId: privateca.projects.locations.caPools.create
      parameters:
        - description: Required. The resource name of the location associated with the CaPool, in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. It must be unique within a location and match the regular expression `[a-zA-Z0-9_-]{1,63}`
          in: query
          name: caPoolId
          schema:
            type: string
        - description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CaPool"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/certificateAuthorities":
    get:
      description: Lists CertificateAuthorities.
      operationId: privateca.projects.locations.caPools.certificateAuthorities.list
      parameters:
        - description: Required. The resource name of the CaPool associated with the CertificateAuthorities, in the format `projects/*/locations/*/caPools/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Only include resources that match the filter in the response.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Specify how the results should be sorted.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. Limit on the number of CertificateAuthorities to include in the response. Further CertificateAuthorities can subsequently be obtained by including the ListCertificateAuthoritiesResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Pagination token, returned earlier via ListCertificateAuthoritiesResponse.next_page_token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCertificateAuthoritiesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a new CertificateAuthority in a given Project and Location.
      operationId: privateca.projects.locations.caPools.certificateAuthorities.create
      parameters:
        - description: Required. The resource name of the CaPool associated with the CertificateAuthorities, in the format `projects/*/locations/*/caPools/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. It must be unique within a location and match the regular expression `[a-zA-Z0-9_-]{1,63}`
          in: query
          name: certificateAuthorityId
          schema:
            type: string
        - description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertificateAuthority"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/certificateRevocationLists":
    get:
      description: Lists CertificateRevocationLists.
      operationId: privateca.projects.locations.caPools.certificateAuthorities.certificateRevocationLists.list
      parameters:
        - description: Required. The resource name of the location associated with the CertificateRevocationLists, in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Only include resources that match the filter in the response.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Specify how the results should be sorted.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. Limit on the number of CertificateRevocationLists to include in the response. Further CertificateRevocationLists can subsequently be obtained by including the ListCertificateRevocationListsResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Pagination token, returned earlier via ListCertificateRevocationListsResponse.next_page_token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCertificateRevocationListsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/certificateTemplates":
    get:
      description: Lists CertificateTemplates.
      operationId: privateca.projects.locations.certificateTemplates.list
      parameters:
        - description: Required. The resource name of the location associated with the CertificateTemplates, in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Only include resources that match the filter in the response.
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Specify how the results should be sorted.
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. Limit on the number of CertificateTemplates to include in the response. Further CertificateTemplates can subsequently be obtained by including the ListCertificateTemplatesResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Pagination token, returned earlier via ListCertificateTemplatesResponse.next_page_token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCertificateTemplatesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a new CertificateTemplate in a given Project and Location.
      operationId: privateca.projects.locations.certificateTemplates.create
      parameters:
        - description: Required. The resource name of the location associated with the CertificateTemplate, in the format `projects/*/locations/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. It must be unique within a location and match the regular expression `[a-zA-Z0-9_-]{1,63}`
          in: query
          name: certificateTemplateId
          schema:
            type: string
        - description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CertificateTemplate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/certificates":
    get:
      description: Lists Certificates.
      operationId: privateca.projects.locations.caPools.certificates.list
      parameters:
        - description: Required. The resource name of the location associated with the Certificates, in the format `projects/*/locations/*/caPools/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Only include resources that match the filter in the response. For details on supported filters and syntax, see [Certificates Filtering documentation](https://cloud.google.com/certificate-authority-service/docs/sorting-filtering-certificates#filtering_support).
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Specify how the results should be sorted. For details on supported fields and syntax, see [Certificates Sorting documentation](https://cloud.google.com/certificate-authority-service/docs/sorting-filtering-certificates#sorting_support).
          in: query
          name: orderBy
          schema:
            type: string
        - description: Optional. Limit on the number of Certificates to include in the response. Further Certificates can subsequently be obtained by including the ListCertificatesResponse.next_page_token in a subsequent request. If unspecified, the server will pick an appropriate default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Pagination token, returned earlier via ListCertificatesResponse.next_page_token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCertificatesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create a new Certificate in a given Project, Location from a particular CaPool.
      operationId: privateca.projects.locations.caPools.certificates.create
      parameters:
        - description: Required. The resource name of the CaPool associated with the Certificate, in the format `projects/*/locations/*/caPools/*`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. It must be unique within a location and match the regular expression `[a-zA-Z0-9_-]{1,63}`. This field is required when using a CertificateAuthority in the Enterprise CertificateAuthority.Tier, but is optional and its value is ignored otherwise.
          in: query
          name: certificateId
          schema:
            type: string
        - description: Optional. The resource ID of the CertificateAuthority that should issue the certificate. This optional field will ignore the load-balancing scheme of the Pool and directly issue the certificate from the CA with the specified ID, contained in the same CaPool referenced by `parent`. Per-CA quota rules apply. If left empty, a CertificateAuthority will be chosen from the CaPool by the service. For example, to issue a Certificate from a Certificate Authority with resource name "projects/my-project/locations/us-central1/caPools/my-pool/certificateAuthorities/my-ca", you can set the parent to "projects/my-project/locations/us-central1/caPools/my-pool" and the issuing_certificate_authority_id to "my-ca".
          in: query
          name: issuingCertificateAuthorityId
          schema:
            type: string
        - description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          in: query
          name: requestId
          schema:
            type: string
        - description: Optional. If this is true, no Certificate resource will be persisted regardless of the CaPool's tier, and the returned Certificate will not contain the pem_certificate field.
          in: query
          name: validateOnly
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Certificate"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Certificate"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:getIamPolicy":
    get:
      description: Gets the access control policy for a resource. Returns an empty policy if the resource exists and does not have a policy set.
      operationId: privateca.projects.locations.certificateTemplates.getIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
        - description: Optional. The maximum policy version that will be used to format the policy. Valid values are 0, 1, and 3. Requests specifying an invalid value will be rejected. Requests for policies with any conditional role bindings must specify version 3. Policies with no conditional role bindings may specify any valid value or leave the field unset. The policy in the response might use the policy version that you specified, or it might use a lower policy version. For example, if you specify version 3, but the policy has no conditional role bindings, the response uses version 1. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{resource}:setIamPolicy":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Sets the access control policy on the specified resource. Replaces any existing policy. Can return `NOT_FOUND`, `INVALID_ARGUMENT`, and `PERMISSION_DENIED` errors.
      operationId: privateca.projects.locations.certificateTemplates.setIamPolicy
      parameters:
        - description: "REQUIRED: The resource for which the policy is being specified. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetIamPolicyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Policy"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resource}:testIamPermissions":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: 'Returns permissions that a caller has on the specified resource. If the resource does not exist, this will return an empty set of permissions, not a `NOT_FOUND` error. Note: This operation is designed to be used for building permission-aware UIs and command-line tools, not for authorization checking. This operation may "fail open" without warning.'
      operationId: privateca.projects.locations.certificateTemplates.testIamPermissions
      parameters:
        - description: "REQUIRED: The resource for which the policy detail is being requested. See [Resource names](https://cloud.google.com/apis/design/resource_names) for the appropriate value for this field."
          in: path
          name: resource
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TestIamPermissionsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TestIamPermissionsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AccessUrls:
      description: URLs where a CertificateAuthority will publish content.
      properties:
        caCertificateAccessUrl:
          description: The URL where this CertificateAuthority's CA certificate is published. This will only be set for CAs that have been activated.
          type: string
        crlAccessUrls:
          description: The URLs where this CertificateAuthority's CRLs are published. This will only be set for CAs that have been activated.
          items:
            type: string
          type: array
      type: object
    ActivateCertificateAuthorityRequest:
      description: Request message for CertificateAuthorityService.ActivateCertificateAuthority.
      properties:
        pemCaCertificate:
          description: Required. The signed CA certificate issued from FetchCertificateAuthorityCsrResponse.pem_csr.
          type: string
        requestId:
          description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          type: string
        subordinateConfig:
          $ref: "#/components/schemas/SubordinateConfig"
          description: Required. Must include information about the issuer of 'pem_ca_certificate', and any further issuers until the self-signed CA.
      type: object
    AllowedKeyType:
      description: Describes a "type" of key that may be used in a Certificate issued from a CaPool. Note that a single AllowedKeyType may refer to either a fully-qualified key algorithm, such as RSA 4096, or a family of key algorithms, such as any RSA key.
      properties:
        ellipticCurve:
          $ref: "#/components/schemas/EcKeyType"
          description: Represents an allowed Elliptic Curve key type.
        rsa:
          $ref: "#/components/schemas/RsaKeyType"
          description: Represents an allowed RSA key type.
      type: object
    AuditConfig:
      description: 'Specifies the audit configuration for a service. The configuration determines which permission types are logged, and what identities, if any, are exempted from logging. An AuditConfig must have one or more AuditLogConfigs. If there are AuditConfigs for both `allServices` and a specific service, the union of the two AuditConfigs is used for that service: the log_types specified in each AuditConfig are enabled, and the exempted_members in each AuditLogConfig are exempted. Example Policy with multiple AuditConfigs: { "audit_configs": [ { "service": "allServices", "audit_log_configs": [ { "log_type": "DATA_READ", "exempted_members": [ "user:jose@example.com" ] }, { "log_type": "DATA_WRITE" }, { "log_type": "ADMIN_READ" } ] }, { "service": "sampleservice.googleapis.com", "audit_log_configs": [ { "log_type": "DATA_READ" }, { "log_type": "DATA_WRITE", "exempted_members": [ "user:aliya@example.com" ] } ] } ] } For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ logging. It also exempts `jose@example.com` from DATA_READ logging, and `aliya@example.com` from DATA_WRITE logging.'
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: "#/components/schemas/AuditLogConfig"
          type: array
        service:
          description: Specifies a service that will be enabled for audit logging. For example, `storage.googleapis.com`, `cloudsql.googleapis.com`. `allServices` is a special value that covers all services.
          type: string
      type: object
    AuditLogConfig:
      description: "Provides the configuration for logging a type of permissions. Example: { \"audit_log_configs\": [ { \"log_type\": \"DATA_READ\", \"exempted_members\": [ \"user:jose@example.com\" ] }, { \"log_type\": \"DATA_WRITE\" } ] } This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting jose@example.com from DATA_READ logging."
      properties:
        exemptedMembers:
          description: Specifies the identities that do not cause logging for this type of permission. Follows the same format of Binding.members.
          items:
            type: string
          type: array
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    Binding:
      description: Associates `members`, or principals, with a `role`.
      properties:
        condition:
          $ref: "#/components/schemas/Expr"
          description: The condition that is associated with this binding. If the condition evaluates to `true`, then this binding applies to the current request. If the condition evaluates to `false`, then this binding does not apply to the current request. However, a different role binding might grant the same role to one or more of the principals in this binding. To learn which resources support conditions in their IAM policies, see the [IAM documentation](https://cloud.google.com/iam/help/conditions/resource-policies).
        members:
          description: "Specifies the principals requesting access for a Google Cloud resource. `members` can have the following values: * `allUsers`: A special identifier that represents anyone who is on the internet; with or without a Google account. * `allAuthenticatedUsers`: A special identifier that represents anyone who is authenticated with a Google account or a service account. Does not include identities that come from external identity providers (IdPs) through identity federation. * `user:{emailid}`: An email address that represents a specific Google account. For example, `alice@example.com` . * `serviceAccount:{emailid}`: An email address that represents a Google service account. For example, `my-other-app@appspot.gserviceaccount.com`. * `serviceAccount:{projectid}.svc.id.goog[{namespace}/{kubernetes-sa}]`: An identifier for a [Kubernetes service account](https://cloud.google.com/kubernetes-engine/docs/how-to/kubernetes-service-accounts). For example, `my-project.svc.id.goog[my-namespace/my-kubernetes-sa]`. * `group:{emailid}`: An email address that represents a Google group. For example, `admins@example.com`. * `domain:{domain}`: The G Suite domain (primary) that represents all the users of that domain. For example, `google.com` or `example.com`. * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a user that has been recently deleted. For example, `alice@example.com?uid=123456789012345678901`. If the user is recovered, this value reverts to `user:{emailid}` and the recovered user retains the role in the binding. * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a service account that has been recently deleted. For example, `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`. If the service account is undeleted, this value reverts to `serviceAccount:{emailid}` and the undeleted service account retains the role in the binding. * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique identifier) representing a Google group that has been recently deleted. For example, `admins@example.com?uid=123456789012345678901`. If the group is recovered, this value reverts to `group:{emailid}` and the recovered group retains the role in the binding."
          items:
            type: string
          type: array
        role:
          description: Role that is assigned to the list of `members`, or principals. For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          type: string
      type: object
    CaOptions:
      description: Describes values that are relevant in a CA certificate.
      properties:
        isCa:
          description: Optional. Refers to the "CA" X.509 extension, which is a boolean value. When this value is missing, the extension will be omitted from the CA certificate.
          type: boolean
        maxIssuerPathLength:
          description: Optional. Refers to the path length restriction X.509 extension. For a CA certificate, this value describes the depth of subordinate CA certificates that are allowed. If this value is less than 0, the request will fail. If this value is missing, the max path length will be omitted from the CA certificate.
          format: int32
          type: integer
      type: object
    CaPool:
      description: A CaPool represents a group of CertificateAuthorities that form a trust anchor. A CaPool can be used to manage issuance policies for one or more CertificateAuthority resources and to rotate CA certificates in and out of the trust anchor.
      properties:
        issuancePolicy:
          $ref: "#/components/schemas/IssuancePolicy"
          description: Optional. The IssuancePolicy to control how Certificates will be issued from this CaPool.
        labels:
          additionalProperties:
            type: string
          description: Optional. Labels with user-defined metadata.
          type: object
        name:
          description: Output only. The resource name for this CaPool in the format `projects/*/locations/*/caPools/*`.
          readOnly: true
          type: string
        publishingOptions:
          $ref: "#/components/schemas/PublishingOptions"
          description: Optional. The PublishingOptions to follow when issuing Certificates from any CertificateAuthority in this CaPool.
        tier:
          description: Required. Immutable. The Tier of this CaPool.
          enum:
            - TIER_UNSPECIFIED
            - ENTERPRISE
            - DEVOPS
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    CertChain:
      properties:
        certificates:
          description: The certificates that form the CA chain, from leaf to root order.
          items:
            type: string
          type: array
      type: object
    Certificate:
      description: A Certificate corresponds to a signed X.509 certificate issued by a CertificateAuthority.
      properties:
        certificateDescription:
          $ref: "#/components/schemas/CertificateDescription"
          description: Output only. A structured description of the issued X.509 certificate.
          readOnly: true
        certificateTemplate:
          description: Immutable. The resource name for a CertificateTemplate used to issue this certificate, in the format `projects/*/locations/*/certificateTemplates/*`. If this is specified, the caller must have the necessary permission to use this template. If this is omitted, no template will be used. This template must be in the same location as the Certificate.
          type: string
        config:
          $ref: "#/components/schemas/CertificateConfig"
          description: Immutable. A description of the certificate and key that does not require X.509 or ASN.1.
        createTime:
          description: Output only. The time at which this Certificate was created.
          format: google-datetime
          readOnly: true
          type: string
        issuerCertificateAuthority:
          description: Output only. The resource name of the issuing CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.
          readOnly: true
          type: string
        labels:
          additionalProperties:
            type: string
          description: Optional. Labels with user-defined metadata.
          type: object
        lifetime:
          description: Required. Immutable. The desired lifetime of a certificate. Used to create the "not_before_time" and "not_after_time" fields inside an X.509 certificate. Note that the lifetime may be truncated if it would extend past the life of any certificate authority in the issuing chain.
          format: google-duration
          type: string
        name:
          description: Output only. The resource name for this Certificate in the format `projects/*/locations/*/caPools/*/certificates/*`.
          readOnly: true
          type: string
        pemCertificate:
          description: Output only. The pem-encoded, signed X.509 certificate.
          readOnly: true
          type: string
        pemCertificateChain:
          description: Output only. The chain that may be used to verify the X.509 certificate. Expected to be in issuer-to-root order according to RFC 5246.
          items:
            type: string
          readOnly: true
          type: array
        pemCsr:
          description: Immutable. A pem-encoded X.509 certificate signing request (CSR).
          type: string
        revocationDetails:
          $ref: "#/components/schemas/RevocationDetails"
          description: Output only. Details regarding the revocation of this Certificate. This Certificate is considered revoked if and only if this field is present.
          readOnly: true
        subjectMode:
          description: Immutable. Specifies how the Certificate's identity fields are to be decided. If this is omitted, the `DEFAULT` subject mode will be used.
          enum:
            - SUBJECT_REQUEST_MODE_UNSPECIFIED
            - DEFAULT
            - REFLECTED_SPIFFE
          type: string
        updateTime:
          description: Output only. The time at which this Certificate was updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    CertificateAuthority:
      description: A CertificateAuthority represents an individual Certificate Authority. A CertificateAuthority can be used to create Certificates.
      properties:
        accessUrls:
          $ref: "#/components/schemas/AccessUrls"
          description: Output only. URLs for accessing content published by this CA, such as the CA certificate and CRLs.
          readOnly: true
        caCertificateDescriptions:
          description: Output only. A structured description of this CertificateAuthority's CA certificate and its issuers. Ordered as self-to-root.
          items:
            $ref: "#/components/schemas/CertificateDescription"
          readOnly: true
          type: array
        config:
          $ref: "#/components/schemas/CertificateConfig"
          description: Required. Immutable. The config used to create a self-signed X.509 certificate or CSR.
        createTime:
          description: Output only. The time at which this CertificateAuthority was created.
          format: google-datetime
          readOnly: true
          type: string
        deleteTime:
          description: Output only. The time at which this CertificateAuthority was soft deleted, if it is in the DELETED state.
          format: google-datetime
          readOnly: true
          type: string
        expireTime:
          description: Output only. The time at which this CertificateAuthority will be permanently purged, if it is in the DELETED state.
          format: google-datetime
          readOnly: true
          type: string
        gcsBucket:
          description: Immutable. The name of a Cloud Storage bucket where this CertificateAuthority will publish content, such as the CA certificate and CRLs. This must be a bucket name, without any prefixes (such as `gs://`) or suffixes (such as `.googleapis.com`). For example, to use a bucket named `my-bucket`, you would simply specify `my-bucket`. If not specified, a managed bucket will be created.
          type: string
        keySpec:
          $ref: "#/components/schemas/KeyVersionSpec"
          description: Required. Immutable. Used when issuing certificates for this CertificateAuthority. If this CertificateAuthority is a self-signed CertificateAuthority, this key is also used to sign the self-signed CA certificate. Otherwise, it is used to sign a CSR.
        labels:
          additionalProperties:
            type: string
          description: Optional. Labels with user-defined metadata.
          type: object
        lifetime:
          description: Required. Immutable. The desired lifetime of the CA certificate. Used to create the "not_before_time" and "not_after_time" fields inside an X.509 certificate.
          format: google-duration
          type: string
        name:
          description: Output only. The resource name for this CertificateAuthority in the format `projects/*/locations/*/caPools/*/certificateAuthorities/*`.
          readOnly: true
          type: string
        pemCaCertificates:
          description: Output only. This CertificateAuthority's certificate chain, including the current CertificateAuthority's certificate. Ordered such that the root issuer is the final element (consistent with RFC 5246). For a self-signed CA, this will only list the current CertificateAuthority's certificate.
          items:
            type: string
          readOnly: true
          type: array
        state:
          description: Output only. The State for this CertificateAuthority.
          enum:
            - STATE_UNSPECIFIED
            - ENABLED
            - DISABLED
            - STAGED
            - AWAITING_USER_ACTIVATION
            - DELETED
          readOnly: true
          type: string
        subordinateConfig:
          $ref: "#/components/schemas/SubordinateConfig"
          description: Optional. If this is a subordinate CertificateAuthority, this field will be set with the subordinate configuration, which describes its issuers. This may be updated, but this CertificateAuthority must continue to validate.
        tier:
          description: Output only. The CaPool.Tier of the CaPool that includes this CertificateAuthority.
          enum:
            - TIER_UNSPECIFIED
            - ENTERPRISE
            - DEVOPS
          readOnly: true
          type: string
        type:
          description: Required. Immutable. The Type of this CertificateAuthority.
          enum:
            - TYPE_UNSPECIFIED
            - SELF_SIGNED
            - SUBORDINATE
          type: string
        updateTime:
          description: Output only. The time at which this CertificateAuthority was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    CertificateConfig:
      description: A CertificateConfig describes an X.509 certificate or CSR that is to be created, as an alternative to using ASN.1.
      properties:
        publicKey:
          $ref: "#/components/schemas/PublicKey"
          description: Optional. The public key that corresponds to this config. This is, for example, used when issuing Certificates, but not when creating a self-signed CertificateAuthority or CertificateAuthority CSR.
        subjectConfig:
          $ref: "#/components/schemas/SubjectConfig"
          description: Required. Specifies some of the values in a certificate that are related to the subject.
        x509Config:
          $ref: "#/components/schemas/X509Parameters"
          description: Required. Describes how some of the technical X.509 fields in a certificate should be populated.
      type: object
    CertificateDescription:
      description: A CertificateDescription describes an X.509 certificate or CSR that has been issued, as an alternative to using ASN.1 / X.509.
      properties:
        aiaIssuingCertificateUrls:
          description: Describes lists of issuer CA certificate URLs that appear in the "Authority Information Access" extension in the certificate.
          items:
            type: string
          type: array
        authorityKeyId:
          $ref: "#/components/schemas/KeyId"
          description: Identifies the subject_key_id of the parent certificate, per https://tools.ietf.org/html/rfc5280#section-4.2.1.1
        certFingerprint:
          $ref: "#/components/schemas/CertificateFingerprint"
          description: The hash of the x.509 certificate.
        crlDistributionPoints:
          description: Describes a list of locations to obtain CRL information, i.e. the DistributionPoint.fullName described by https://tools.ietf.org/html/rfc5280#section-4.2.1.13
          items:
            type: string
          type: array
        publicKey:
          $ref: "#/components/schemas/PublicKey"
          description: The public key that corresponds to an issued certificate.
        subjectDescription:
          $ref: "#/components/schemas/SubjectDescription"
          description: Describes some of the values in a certificate that are related to the subject and lifetime.
        subjectKeyId:
          $ref: "#/components/schemas/KeyId"
          description: Provides a means of identifiying certificates that contain a particular public key, per https://tools.ietf.org/html/rfc5280#section-4.2.1.2.
        x509Description:
          $ref: "#/components/schemas/X509Parameters"
          description: Describes some of the technical X.509 fields in a certificate.
      type: object
    CertificateExtensionConstraints:
      description: Describes a set of X.509 extensions that may be part of some certificate issuance controls.
      properties:
        additionalExtensions:
          description: Optional. A set of ObjectIds identifying custom X.509 extensions. Will be combined with known_extensions to determine the full set of X.509 extensions.
          items:
            $ref: "#/components/schemas/ObjectId"
          type: array
        knownExtensions:
          description: Optional. A set of named X.509 extensions. Will be combined with additional_extensions to determine the full set of X.509 extensions.
          items:
            enum:
              - KNOWN_CERTIFICATE_EXTENSION_UNSPECIFIED
              - BASE_KEY_USAGE
              - EXTENDED_KEY_USAGE
              - CA_OPTIONS
              - POLICY_IDS
              - AIA_OCSP_SERVERS
              - NAME_CONSTRAINTS
            type: string
          type: array
      type: object
    CertificateFingerprint:
      description: A group of fingerprints for the x509 certificate.
      properties:
        sha256Hash:
          description: The SHA 256 hash, encoded in hexadecimal, of the DER x509 certificate.
          type: string
      type: object
    CertificateIdentityConstraints:
      description: Describes constraints on a Certificate's Subject and SubjectAltNames.
      properties:
        allowSubjectAltNamesPassthrough:
          description: Required. If this is true, the SubjectAltNames extension may be copied from a certificate request into the signed certificate. Otherwise, the requested SubjectAltNames will be discarded.
          type: boolean
        allowSubjectPassthrough:
          description: Required. If this is true, the Subject field may be copied from a certificate request into the signed certificate. Otherwise, the requested Subject will be discarded.
          type: boolean
        celExpression:
          $ref: "#/components/schemas/Expr"
          description: Optional. A CEL expression that may be used to validate the resolved X.509 Subject and/or Subject Alternative Name before a certificate is signed. To see the full allowed syntax and some examples, see https://cloud.google.com/certificate-authority-service/docs/using-cel
      type: object
    CertificateRevocationList:
      description: A CertificateRevocationList corresponds to a signed X.509 certificate Revocation List (CRL). A CRL contains the serial numbers of certificates that should no longer be trusted.
      properties:
        accessUrl:
          description: Output only. The location where 'pem_crl' can be accessed.
          readOnly: true
          type: string
        createTime:
          description: Output only. The time at which this CertificateRevocationList was created.
          format: google-datetime
          readOnly: true
          type: string
        labels:
          additionalProperties:
            type: string
          description: Optional. Labels with user-defined metadata.
          type: object
        name:
          description: Output only. The resource name for this CertificateRevocationList in the format `projects/*/locations/*/caPools/*certificateAuthorities/*/ certificateRevocationLists/*`.
          readOnly: true
          type: string
        pemCrl:
          description: Output only. The PEM-encoded X.509 CRL.
          readOnly: true
          type: string
        revisionId:
          description: Output only. The revision ID of this CertificateRevocationList. A new revision is committed whenever a new CRL is published. The format is an 8-character hexadecimal string.
          readOnly: true
          type: string
        revokedCertificates:
          description: Output only. The revoked serial numbers that appear in pem_crl.
          items:
            $ref: "#/components/schemas/RevokedCertificate"
          readOnly: true
          type: array
        sequenceNumber:
          description: Output only. The CRL sequence number that appears in pem_crl.
          format: int64
          readOnly: true
          type: string
        state:
          description: Output only. The State for this CertificateRevocationList.
          enum:
            - STATE_UNSPECIFIED
            - ACTIVE
            - SUPERSEDED
          readOnly: true
          type: string
        updateTime:
          description: Output only. The time at which this CertificateRevocationList was updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    CertificateTemplate:
      description: A CertificateTemplate refers to a managed template for certificate issuance.
      properties:
        createTime:
          description: Output only. The time at which this CertificateTemplate was created.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Optional. A human-readable description of scenarios this template is intended for.
          type: string
        identityConstraints:
          $ref: "#/components/schemas/CertificateIdentityConstraints"
          description: Optional. Describes constraints on identities that may be appear in Certificates issued using this template. If this is omitted, then this template will not add restrictions on a certificate's identity.
        labels:
          additionalProperties:
            type: string
          description: Optional. Labels with user-defined metadata.
          type: object
        name:
          description: Output only. The resource name for this CertificateTemplate in the format `projects/*/locations/*/certificateTemplates/*`.
          readOnly: true
          type: string
        passthroughExtensions:
          $ref: "#/components/schemas/CertificateExtensionConstraints"
          description: Optional. Describes the set of X.509 extensions that may appear in a Certificate issued using this CertificateTemplate. If a certificate request sets extensions that don't appear in the passthrough_extensions, those extensions will be dropped. If the issuing CaPool's IssuancePolicy defines baseline_values that don't appear here, the certificate issuance request will fail. If this is omitted, then this template will not add restrictions on a certificate's X.509 extensions. These constraints do not apply to X.509 extensions set in this CertificateTemplate's predefined_values.
        predefinedValues:
          $ref: "#/components/schemas/X509Parameters"
          description: Optional. A set of X.509 values that will be applied to all issued certificates that use this template. If the certificate request includes conflicting values for the same properties, they will be overwritten by the values defined here. If the issuing CaPool's IssuancePolicy defines conflicting baseline_values for the same properties, the certificate issuance request will fail.
        updateTime:
          description: Output only. The time at which this CertificateTemplate was updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    DisableCertificateAuthorityRequest:
      description: Request message for CertificateAuthorityService.DisableCertificateAuthority.
      properties:
        ignoreDependentResources:
          description: Optional. This field allows this CA to be disabled even if it's being depended on by another resource. However, doing so may result in unintended and unrecoverable effects on any dependent resource(s) since the CA will no longer be able to issue certificates.
          type: boolean
        requestId:
          description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          type: string
      type: object
    EcKeyType:
      description: Describes an Elliptic Curve key that may be used in a Certificate issued from a CaPool.
      properties:
        signatureAlgorithm:
          description: Optional. A signature algorithm that must be used. If this is omitted, any EC-based signature algorithm will be allowed.
          enum:
            - EC_SIGNATURE_ALGORITHM_UNSPECIFIED
            - ECDSA_P256
            - ECDSA_P384
            - EDDSA_25519
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    EnableCertificateAuthorityRequest:
      description: Request message for CertificateAuthorityService.EnableCertificateAuthority.
      properties:
        requestId:
          description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          type: string
      type: object
    Expr:
      description: "Represents a textual expression in the Common Expression Language (CEL) syntax. CEL is a C-like expression language. The syntax and semantics of CEL are documented at https://github.com/google/cel-spec. Example (Comparison): title: \"Summary size limit\" description: \"Determines if a summary is less than 100 chars\" expression: \"document.summary.size() < 100\" Example (Equality): title: \"Requestor is owner\" description: \"Determines if requestor is the document owner\" expression: \"document.owner == request.auth.claims.email\" Example (Logic): title: \"Public documents\" description: \"Determine whether the document should be publicly visible\" expression: \"document.type != 'private' && document.type != 'internal'\" Example (Data Manipulation): title: \"Notification string\" description: \"Create a notification string with a timestamp.\" expression: \"'New message received at ' + string(document.create_time)\" The exact variables and functions that may be referenced within an expression are determined by the service that evaluates it. See the service documentation for additional information."
      properties:
        description:
          description: Optional. Description of the expression. This is a longer text which describes the expression, e.g. when hovered over it in a UI.
          type: string
        expression:
          description: Textual representation of an expression in Common Expression Language syntax.
          type: string
        location:
          description: Optional. String indicating the location of the expression for error reporting, e.g. a file name and a position in the file.
          type: string
        title:
          description: Optional. Title for the expression, i.e. a short string describing its purpose. This can be used e.g. in UIs which allow to enter the expression.
          type: string
      type: object
    ExtendedKeyUsageOptions:
      description: KeyUsage.ExtendedKeyUsageOptions has fields that correspond to certain common OIDs that could be specified as an extended key usage value.
      properties:
        clientAuth:
          description: Corresponds to OID 1.3.6.1.5.5.7.3.2. Officially described as "TLS WWW client authentication", though regularly used for non-WWW TLS.
          type: boolean
        codeSigning:
          description: Corresponds to OID 1.3.6.1.5.5.7.3.3. Officially described as "Signing of downloadable executable code client authentication".
          type: boolean
        emailProtection:
          description: Corresponds to OID 1.3.6.1.5.5.7.3.4. Officially described as "Email protection".
          type: boolean
        ocspSigning:
          description: Corresponds to OID 1.3.6.1.5.5.7.3.9. Officially described as "Signing OCSP responses".
          type: boolean
        serverAuth:
          description: Corresponds to OID 1.3.6.1.5.5.7.3.1. Officially described as "TLS WWW server authentication", though regularly used for non-WWW TLS.
          type: boolean
        timeStamping:
          description: Corresponds to OID 1.3.6.1.5.5.7.3.8. Officially described as "Binding the hash of an object to a time".
          type: boolean
      type: object
    FetchCaCertsRequest:
      description: Request message for CertificateAuthorityService.FetchCaCerts.
      properties:
        requestId:
          description: Optional. An ID to identify requests. Specify a unique request ID so that if you must retry your request, the server will know to ignore the request if it has already been completed. The server will guarantee that for at least 60 minutes since the first request. For example, consider a situation where you make an initial request and the request times out. If you make the request again with the same request ID, the server can check if original operation with the same request ID was received, and if so, will ignore the second request. This prevents clients from accidentally creating duplicate commitments. The request ID must be a valid UUID with the exception that zero UUID is not supported (00000000-0000-0000-0000-000000000000).
          type: string
      type: object
    FetchCaCertsResponse:
      description: Response message for CertificateAuthorityService.FetchCaCerts.
      properties:
        caCerts:
          description: The PEM encoded CA certificate chains of all ACTIVE CertificateAuthority resources in this CaPool.
          items:
            $ref: "#/components/schemas/CertChain"
          type: array
      type: object
    FetchCertificateAuthorityCsrResponse:
      description: Response message for CertificateAuthorityService.FetchCertificateAuthorityCsr.
      properties:
        pemCsr:
          description: Output only. The PEM-encoded signed certificate signing request (CSR).
          readOnly: true
          type: string
      type: object
    IssuanceModes:
      description: IssuanceModes specifies the allowed ways in which Certificates may be requested from this CaPool.
      properties:
        allowConfigBasedIssuance:
          description: Optional. When true, allows callers to create Certificates by specifying a CertificateConfig.
          type: boolean
        allowCsrBasedIssuance:
          description: Optional. When true, allows callers to create Certificates by specifying a CSR.
          type: boolean
      type: object
    IssuancePolicy:
      description: Defines controls over all certificate issuance within a CaPool.
      properties:
        allowedIssuanceModes:
          $ref: "#/components/schemas/IssuanceModes"
          description: Optional. If specified, then only methods allowed in the IssuanceModes may be used to issue Certificates.
        allowedKeyTypes:
          description: Optional. If any AllowedKeyType is specified, then the certificate request's public key must match one of the key types listed here. Otherwise, any key may be used.
          items:
            $ref: "#/components/schemas/AllowedKeyType"
          type: array
        baselineValues:
          $ref: "#/components/schemas/X509Parameters"
          description: Optional. A set of X.509 values that will be applied to all certificates issued through this CaPool. If a certificate request includes conflicting values for the same properties, they will be overwritten by the values defined here. If a certificate request uses a CertificateTemplate that defines conflicting predefined_values for the same properties, the certificate issuance request will fail.
        identityConstraints:
          $ref: "#/components/schemas/CertificateIdentityConstraints"
          description: Optional. Describes constraints on identities that may appear in Certificates issued through this CaPool. If this is omitted, then this CaPool will not add restrictions on a certificate's identity.
        maximumLifetime:
          description: Optional. The maximum lifetime allowed for issued Certificates. Note that if the issuing CertificateAuthority expires before a Certificate's requested maximum_lifetime, the effective lifetime will be explicitly truncated to match it.
          format: google-duration
          type: string
        passthroughExtensions:
          $ref: "#/components/schemas/CertificateExtensionConstraints"
          description: Optional. Describes the set of X.509 extensions that may appear in a Certificate issued through this CaPool. If a certificate request sets extensions that don't appear in the passthrough_extensions, those extensions will be dropped. If a certificate request uses a CertificateTemplate with predefined_values that don't appear here, the certificate issuance request will fail. If this is omitted, then this CaPool will not add restrictions on a certificate's X.509 extensions. These constraints do not apply to X.509 extensions set in this CaPool's baseline_values.
      type: object
    KeyId:
      description: A KeyId identifies a specific public key, usually by hashing the public key.
      properties:
        keyId:
          description: Optional. The value of this KeyId encoded in lowercase hexadecimal. This is most likely the 160 bit SHA-1 hash of the public key.
          type: string
      type: object
    KeyUsage:
      description: A KeyUsage describes key usage values that may appear in an X.509 certificate.
      properties:
        baseKeyUsage:
          $ref: "#/components/schemas/KeyUsageOptions"
          description: Describes high-level ways in which a key may be used.
        extendedKeyUsage:
          $ref: "#/components/schemas/ExtendedKeyUsageOptions"
          description: Detailed scenarios in which a key may be used.
        unknownExtendedKeyUsages:
          description: Used to describe extended key usages that are not listed in the KeyUsage.ExtendedKeyUsageOptions message.
          items:
            $ref: "#/components/schemas/ObjectId"
          type: array
      type: object
    KeyUsageOptions:
      description: KeyUsage.KeyUsageOptions corresponds to the key usage values described in https://tools.ietf.org/html/rfc5280#section-4.2.1.3.
      properties:
        certSign:
          description: The key may be used to sign certificates.
          type: boolean
        contentCommitment:
          description: The key may be used for cryptographic commitments. Note that this may also be referred to as "non-repudiation".
          type: boolean
        crlSign:
          description: The key may be used sign certificate revocation lists.
          type: boolean
        dataEncipherment:
          description: The key may be used to encipher data.
          type: boolean
        decipherOnly:
          description: The key may be used to decipher only.
          type: boolean
        digitalSignature:
          description: The key may be used for digital signatures.
          type: boolean
        encipherOnly:
          description: The key may be used to encipher only.
          type: boolean
        keyAgreement:
          description: The key may be used in a key agreement protocol.
          type: boolean
        keyEncipherment:
          description: The key may be used to encipher other keys.
          type: boolean
      type: object
    KeyVersionSpec:
      description: A Cloud KMS key configuration that a CertificateAuthority will use.
      properties:
        algorithm:
          description: The algorithm to use for creating a managed Cloud KMS key for a for a simplified experience. All managed keys will be have their ProtectionLevel as `HSM`.
          enum:
            - SIGN_HASH_ALGORITHM_UNSPECIFIED
            - RSA_PSS_2048_SHA256
            - RSA_PSS_3072_SHA256
            - RSA_PSS_4096_SHA256
            - RSA_PKCS1_2048_SHA256
            - RSA_PKCS1_3072_SHA256
            - RSA_PKCS1_4096_SHA256
            - EC_P256_SHA256
            - EC_P384_SHA384
          type: string
        cloudKmsKeyVersion:
          description: The resource name for an existing Cloud KMS CryptoKeyVersion in the format `projects/*/locations/*/keyRings/*/cryptoKeys/*/cryptoKeyVersions/*`. This option enables full flexibility in the key's capabilities and properties.
          type: string
      type: object
    ListCaPoolsResponse:
      description: Response message for CertificateAuthorityService.ListCaPools.
      properties:
        caPools:
          description: The list of CaPools.
          items:
            $ref: "#/components/schemas/CaPool"
          type: array
        nextPageToken:
          description: A token to retrieve next page of results. Pass this value in ListCertificateAuthoritiesRequest.next_page_token to retrieve the next page of results.
          type: string
        unreachable:
          description: A list of locations (e.g. "us-west1") that could not be reached.
          items:
            type: string
          type: array
      type: object
    ListCertificateAuthoritiesResponse:
      description: Response message for CertificateAuthorityService.ListCertificateAuthorities.
      properties:
        certificateAuthorities:
          description: The list of CertificateAuthorities.
          items:
            $ref: "#/components/schemas/CertificateAuthority"
          type: array
        nextPageToken:
          description: A token to retrieve next page of results. Pass this value in ListCertificateAuthoritiesRequest.next_page_token to retrieve the next page of results.
          type: string
        unreachable:
          description: A list of locations (e.g. "us-west1") that could not be reached.
          items:
            type: string
          type: array
      type: object
    ListCertificateRevocationListsResponse:
      description: Response message for CertificateAuthorityService.ListCertificateRevocationLists.
      properties:
        certificateRevocationLists:
          description: The list of CertificateRevocationLists.
          items:
            $ref: "#/components/schemas/CertificateRevocationList"
          type: array
        nextPageToken:
          description: A token to retrieve next page of results. Pass this value in ListCertificateRevocationListsRequest.next_page_token to retrieve the next page of results.
          type: string
        unreachable:
          description: A list of locations (e.g. "us-west1") that could not be reached.
          items:
            type: string
          type: array
      type: object
[...]
