swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: DnsManagementClient
  version: '2016-04-01'
  x-logo:
    backgroundColor: '#333333'
    url: 'https://azure.github.io/images/logo-msft-dark@2x.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-dns/2016-04-01/swagger/dns.json'
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-dns
consumes:
  - application/json
  - text/json
produces:
  - application/json
  - text/json
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  SubscriptionIdParameter:
    description: Gets subscription credentials which uniquely identify Microsoft Azure subscription. The subscription ID forms part of the URI for every service call.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.Network/dnszones':
    get:
      description: Lists the DNS zones within a resource group.
      operationId: Zones_ListInSubscription
      parameters:
        - description: Query parameters. If null is passed returns the default number of zones.
          in: query
          name: $top
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ZoneListResult'
      tags:
        - Zones
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnszones':
    get:
      description: Lists the DNS zones within a resource group.
      operationId: Zones_ListInResourceGroup
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: Query parameters. If null is passed returns the default number of zones.
          in: query
          name: $top
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ZoneListResult'
      tags:
        - Zones
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnszones/{zoneName}':
    delete:
      description: Removes a DNS zone from a resource group.
      operationId: Zones_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the zone without a terminating dot.
          in: path
          name: zoneName
          required: true
          type: string
        - description: Defines the If-Match condition. The delete operation will be performed only if the ETag of the zone on the server matches this value.
          in: header
          name: IfMatch
          required: false
          type: string
        - description: Defines the If-None-Match condition. The delete operation will be performed only if the ETag of the zone on the server does not match this value.
          in: header
          name: IfNoneMatch
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/ZoneDeleteResult'
        '202':
          description: ''
        '204':
          description: ''
          schema:
            $ref: '#/definitions/ZoneDeleteResult'
      tags:
        - Zones
      x-ms-long-running-operation: true
    get:
      description: Gets a DNS zone.
      operationId: Zones_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the zone without a terminating dot.
          in: path
          name: zoneName
          required: true
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Zone'
      tags:
        - Zones
    put:
      description: Creates or Updates a DNS zone within a resource group.
      operationId: Zones_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the zone without a terminating dot.
          in: path
          name: zoneName
          required: true
          type: string
        - description: Parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/Zone'
        - description: The etag of Zone.
          in: header
          name: IfMatch
          required: false
          type: string
        - description: Defines the If-None-Match condition. Set to '*' to force Create-If-Not-Exist. Other values will be ignored.
          in: header
          name: IfNoneMatch
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/Zone'
        '201':
          description: ''
          schema:
            $ref: '#/definitions/Zone'
      tags:
        - Zones
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnszones/{zoneName}/recordsets':
    get:
      description: Lists all RecordSets in a DNS zone.
      operationId: RecordSets_ListAllInResourceGroup
      parameters:
        - description: The name of the resource group that contains the zone.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the zone from which to enumerate RecordSets.
          in: path
          name: zoneName
          required: true
          type: string
        - description: Query parameters. If null is passed returns the default number of zones.
          in: query
          name: $top
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/RecordSetListResult'
      tags:
        - RecordSets
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnszones/{zoneName}/{recordType}':
    get:
      description: Lists the RecordSets of a specified type in a DNS zone.
      operationId: RecordSets_ListByType
      parameters:
        - description: The name of the resource group that contains the zone.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the zone from which to enumerate RecordsSets.
          in: path
          name: zoneName
          required: true
          type: string
        - description: The type of record sets to enumerate.
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: Query parameters. If null is passed returns the default number of zones.
          in: query
          name: $top
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/RecordSetListResult'
      tags:
        - RecordSets
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/dnszones/{zoneName}/{recordType}/{relativeRecordSetName}':
    delete:
      description: Removes a RecordSet from a DNS zone.
      operationId: RecordSets_Delete
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the zone without a terminating dot.
          in: path
          name: zoneName
          required: true
          type: string
        - description: 'The name of the RecordSet, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record.
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: Defines the If-Match condition. The delete operation will be performed only if the ETag of the zone on the server matches this value.
          in: header
          name: IfMatch
          required: false
          type: string
        - description: Defines the If-None-Match condition. The delete operation will be performed only if the ETag of the zone on the server does not match this value.
          in: header
          name: IfNoneMatch
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
        '204':
          description: ''
      tags:
        - RecordSets
    get:
      description: Gets a RecordSet.
      operationId: RecordSets_Get
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the zone without a terminating dot.
          in: path
          name: zoneName
          required: true
          type: string
        - description: 'The name of the RecordSet, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record.
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/RecordSet'
      tags:
        - RecordSets
    patch:
      description: Updates a RecordSet within a DNS zone.
      operationId: RecordSets_Update
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the zone without a terminating dot.
          in: path
          name: zoneName
          required: true
          type: string
        - description: 'The name of the RecordSet, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record.
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: Parameters supplied to the Update operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/RecordSet'
        - description: The etag of Zone.
          in: header
          name: IfMatch
          required: false
          type: string
        - description: Defines the If-None-Match condition. Set to '*' to force Create-If-Not-Exist. Other values will be ignored.
          in: header
          name: IfNoneMatch
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Recordse has been updated successfully
          schema:
            $ref: '#/definitions/RecordSet'
      tags:
        - RecordSets
    put:
      description: Creates or Updates a RecordSet within a DNS zone.
      operationId: RecordSets_CreateOrUpdate
      parameters:
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          type: string
        - description: The name of the zone without a terminating dot.
          in: path
          name: zoneName
          required: true
          type: string
        - description: 'The name of the RecordSet, relative to the name of the zone.'
          in: path
          name: relativeRecordSetName
          required: true
          type: string
          x-ms-skip-url-encoding: true
        - description: The type of DNS record.
          enum:
            - A
            - AAAA
            - CNAME
            - MX
            - NS
            - PTR
            - SOA
            - SRV
            - TXT
          in: path
          name: recordType
          required: true
          type: string
          x-ms-enum:
            modelAsString: false
            name: RecordType
        - description: Parameters supplied to the CreateOrUpdate operation.
          in: body
          name: parameters
          required: true
          schema:
            $ref: '#/definitions/RecordSet'
        - description: The etag of RecordSet.
          in: header
          name: IfMatch
          required: false
          type: string
        - description: Defines the If-None-Match condition. Set to '*' to force Create-If-Not-Exist. Other values will be ignored.
          in: header
          name: IfNoneMatch
          required: false
          type: string
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Record set has been updated
          schema:
            $ref: '#/definitions/RecordSet'
        '201':
          description: Record set has been created
          schema:
            $ref: '#/definitions/RecordSet'
      tags:
        - RecordSets
definitions:
  ARecord:
    description: An A record.
    properties:
      ipv4Address:
        description: Gets or sets the IPv4 address of this A record in string notation.
        type: string
  AaaaRecord:
    description: An AAAA record.
    properties:
      ipv6Address:
        description: Gets or sets the IPv6 address of this AAAA record in string notation.
        type: string
  CnameRecord:
    description: A CNAME record.
    properties:
      cname:
        description: Gets or sets the canonical name for this record without a terminating dot.
        type: string
  MxRecord:
    description: An MX record.
    properties:
      exchange:
        description: 'Gets or sets the domain name of the mail host, without a terminating dot.'
        type: string
      preference:
        description: Gets or sets the preference metric for this record.
        format: int32
        type: integer
  NsRecord:
    description: An NS record.
    properties:
      nsdname:
        description: 'Gets or sets the name server name for this record, without a terminating dot.'
        type: string
  PtrRecord:
    description: A PTR record.
    properties:
      ptrdname:
        description: Gets or sets the PTR target domain name for this record without a terminating dot.
        type: string
  RecordSet:
    description: Describes a DNS RecordSet (a set of DNS records with the same name and type).
    properties:
      etag:
        description: Gets or sets the ETag of the RecordSet.
        type: string
      id:
        description: Gets or sets the ID of the resource.
        type: string
      location:
        description: Gets or sets the location of the resource.
        type: string
      name:
        description: Gets or sets the name of the resource.
        type: string
      properties:
        $ref: '#/definitions/RecordSetProperties'
        description: Gets or sets the properties of the RecordSet.
        x-ms-client-flatten: true
      type:
        description: Gets or sets the type of the resource.
        type: string
  RecordSetListResult:
    description: The response to a RecordSet List operation.
    properties:
      nextLink:
        description: Gets or sets the continuation token for the next page.
        type: string
      value:
        description: Gets or sets information about the RecordSets in the response.
        items:
          $ref: '#/definitions/RecordSet'
        type: array
  RecordSetProperties:
    description: Represents the properties of the records in the RecordSet.
    properties:
      AAAARecords:
        description: Gets or sets the list of AAAA records in the RecordSet.
        items:
          $ref: '#/definitions/AaaaRecord'
        type: array
        x-ms-client-name: AaaaRecords
      ARecords:
        description: Gets or sets the list of A records in the RecordSet.
        items:
          $ref: '#/definitions/ARecord'
        type: array
      CNAMERecord:
        $ref: '#/definitions/CnameRecord'
        description: Gets or sets the CNAME record in the RecordSet.
        x-ms-client-name: CnameRecord
      MXRecords:
        description: Gets or sets the list of MX records in the RecordSet.
        items:
          $ref: '#/definitions/MxRecord'
        type: array
        x-ms-client-name: MxRecords
      NSRecords:
        description: Gets or sets the list of NS records in the RecordSet.
        items:
          $ref: '#/definitions/NsRecord'
        type: array
        x-ms-client-name: NsRecords
      PTRRecords:
        description: Gets or sets the list of PTR records in the RecordSet.
        items:
          $ref: '#/definitions/PtrRecord'
        type: array
        x-ms-client-name: PtrRecords
      SOARecord:
        $ref: '#/definitions/SoaRecord'
        description: Gets or sets the SOA record in the RecordSet.
        x-ms-client-name: SoaRecord
      SRVRecords:
        description: Gets or sets the list of SRV records in the RecordSet.
        items:
          $ref: '#/definitions/SrvRecord'
        type: array
        x-ms-client-name: SrvRecords
      TTL:
        description: Gets or sets the TTL of the records in the RecordSet.
        format: int64
        type: integer
      TXTRecords:
        description: Gets or sets the list of TXT records in the RecordSet.
        items:
          $ref: '#/definitions/TxtRecord'
        type: array
        x-ms-client-name: TxtRecords
      metadata:
        additionalProperties:
          type: string
        description: Gets or sets the metadata attached to the resource.
        type: object
  RecordSetUpdateParameters:
    description: Parameters supplied to update a RecordSet.
    properties:
      RecordSet:
        $ref: '#/definitions/RecordSet'
        description: Gets or sets information about the RecordSet being updated.
  Resource:
    properties:
      id:
        description: Resource Id
        readOnly: true
        type: string
      location:
        description: Resource location
        type: string
      name:
        description: Resource name
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags
        type: object
      type:
        description: Resource type
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
    x-ms-external: false
  SoaRecord:
    description: An SOA record.
    properties:
      email:
        description: Gets or sets the email for this record.
        type: string
      expireTime:
        description: Gets or sets the expire time for this record.
        format: int64
        type: integer
      host:
        description: 'Gets or sets the domain name of the authoritative name server, without a temrinating dot.'
        type: string
      minimumTTL:
        description: Gets or sets the minimum TTL value for this record.
        format: int64
        type: integer
        x-ms-client-name: minimumTtl
      refreshTime:
        description: Gets or sets the refresh value for this record.
        format: int64
        type: integer
      retryTime:
        description: Gets or sets the retry time for this record.
        format: int64
        type: integer
      serialNumber:
        description: Gets or sets the serial number for this record.
        format: int64
        type: integer
  SrvRecord:
    description: An SRV record.
    properties:
      port:
        description: Gets or sets the port of the service for this record.
        format: int32
        type: integer
      priority:
        description: Gets or sets the priority metric for this record.
        format: int32
        type: integer
      target:
        description: 'Gets or sets the domain name of the target for this record, without a terminating dot.'
        type: string
      weight:
        description: Gets or sets the weight metric for this this record.
        format: int32
        type: integer
  SubResource:
    properties:
      id:
        description: Resource Id
        type: string
    x-ms-external: true
  TxtRecord:
    description: A TXT record.
    properties:
      value:
        description: Gets or sets the text value of this record.
        items:
          type: string
        type: array
  Zone:
    allOf:
      - $ref: '#/definitions/Resource'
    description: Describes a DNS zone.
    properties:
      etag:
        description: 'Gets or sets the ETag of the zone that is being updated, as received from a Get operation.'
        type: string
      properties:
        $ref: '#/definitions/ZoneProperties'
        description: Gets or sets the properties of the zone.
        x-ms-client-flatten: true
  ZoneDeleteResult:
    description: The response to a Zone Delete operation.
    properties:
      azureAsyncOperation:
        description: Users can perform a Get on Azure-AsyncOperation to get the status of their delete Zone operations
        type: string
      requestId:
        type: string
      status:
        enum:
          - InProgress
          - Succeeded
          - Failed
        type: string
        x-ms-enum:
          modelAsString: false
          name: OperationStatus
      statusCode:
        enum:
          - Continue
          - SwitchingProtocols
          - OK
          - Created
          - Accepted
          - NonAuthoritativeInformation
          - NoContent
          - ResetContent
          - PartialContent
          - MultipleChoices
          - Ambiguous
          - MovedPermanently
          - Moved
          - Found
          - Redirect
          - SeeOther
          - RedirectMethod
          - NotModified
          - UseProxy
          - Unused
          - TemporaryRedirect
          - RedirectKeepVerb
          - BadRequest
          - Unauthorized
          - PaymentRequired
          - Forbidden
          - NotFound
          - MethodNotAllowed
          - NotAcceptable
          - ProxyAuthenticationRequired
          - RequestTimeout
          - Conflict
          - Gone
          - LengthRequired
          - PreconditionFailed
          - RequestEntityTooLarge
          - RequestUriTooLong
          - UnsupportedMediaType
          - RequestedRangeNotSatisfiable
          - ExpectationFailed
          - UpgradeRequired
          - InternalServerError
          - NotImplemented
          - BadGateway
          - ServiceUnavailable
          - GatewayTimeout
          - HttpVersionNotSupported
        type: string
        x-ms-enum:
          modelAsString: false
          name: HtpStatusCode
  ZoneListResult:
    description: The response to a Zone List or ListAll operation.
    properties:
      nextLink:
        description: Gets or sets the continuation token for the next page.
        type: string
      value:
        description: Gets or sets information about the zones in the response.
        items:
          $ref: '#/definitions/Zone'
        type: array
  ZoneProperties:
    description: Represents the properties of the zone.
    properties:
      maxNumberOfRecordSets:
        description: Gets or sets the maximum number of record sets that can be created in this zone.
        format: int64
        type: integer
      nameServers:
        description: Gets the name servers populated for this zone. This is a read-only property and any attempt to set this value will be ignored.
        items:
          type: string
        readOnly: true
        type: array
      numberOfRecordSets:
        description: Gets or sets the current number of record sets in this zone.
        format: int64
        type: integer
