openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  description: 'Use these APIs to manage Azure Websites resources through the Azure Resource Manager. All task operations conform to the HTTP/1.1 protocol specification and each operation returns an x-ms-request-id header that can be used to obtain information about the request. You must make sure that requests made to these resources are secure. For more information, see https://msdn.microsoft.com/en-us/library/azure/dn790557.aspx.'
  title: WebSite Management Client
  version: '2015-08-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-web/2015-08-01/swagger/service.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-web
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  /providers/Microsoft.Web/publishingUsers/web:
    get:
      deprecated: false
      operationId: Provider_GetPublishingUser
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
            text/xml:
              schema:
                $ref: '#/components/schemas/User'
      summary: Gets publishing user
      tags:
        - Provider
    put:
      deprecated: false
      operationId: Provider_UpdatePublishingUser
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
            text/xml:
              schema:
                $ref: '#/components/schemas/User'
      summary: Updates publishing user
      tags:
        - Provider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          text/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
        description: Details of publishing user
        required: true
  /providers/Microsoft.Web/sourcecontrols:
    get:
      deprecated: false
      operationId: Provider_GetSourceControls
      parameters:
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControlCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/SourceControlCollection'
      summary: Gets the source controls available for Azure websites
      tags:
        - Provider
      x-ms-pageable:
        nextLinkName: nextLink
  '/providers/Microsoft.Web/sourcecontrols/{sourceControlType}':
    get:
      deprecated: false
      operationId: Provider_GetSourceControl
      parameters:
        - description: Type of source control
          in: path
          name: sourceControlType
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
            text/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
            application/xml:
              schema:
                $ref: '#/components/schemas/SourceControl'
            text/xml:
              schema:
                $ref: '#/components/schemas/SourceControl'
      summary: Gets source control token
      tags:
        - Provider
    put:
      deprecated: false
      operationId: Provider_UpdateSourceControl
      parameters:
        - description: Type of source control
          in: path
          name: sourceControlType
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
            text/json:
              schema:
                $ref: '#/components/schemas/SourceControl'
            application/xml:
              schema:
                $ref: '#/components/schemas/SourceControl'
            text/xml:
              schema:
                $ref: '#/components/schemas/SourceControl'
      summary: Updates source control token
      tags:
        - Provider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SourceControl'
          text/json:
            schema:
              $ref: '#/components/schemas/SourceControl'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/SourceControl'
        description: Source control token information
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/certificateOrders':
    get:
      deprecated: false
      operationId: GlobalCertificateOrder_GetAllCertificateOrders
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
      summary: Lists all domains in a subscription
      tags:
        - GlobalCertificateOrder
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.CertificateRegistration/validateCertificateRegistrationInformation':
    post:
      deprecated: false
      operationId: GlobalCertificateOrder_ValidateCertificatePurchaseInformation
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Validate certificate purchase information
      tags:
        - GlobalCertificateOrder
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/json:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/xml:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          text/xml:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CertificateOrder'
        description: Certificate order
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/checkDomainAvailability':
    post:
      deprecated: false
      operationId: GlobalDomainRegistration_CheckDomainAvailability
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainAvailablilityCheckResult'
      summary: Checks if a domain is available for registration
      tags:
        - GlobalDomainRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          text/json:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          application/xml:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          text/xml:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/NameIdentifier'
        description: Name of the domain
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/domains':
    get:
      deprecated: false
      operationId: GlobalDomainRegistration_GetAllDomains
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
      summary: Lists all domains in a subscription
      tags:
        - GlobalDomainRegistration
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/generateSsoRequest':
    post:
      deprecated: false
      operationId: GlobalDomainRegistration_GetDomainControlCenterSsoRequest
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
            application/xml:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
            text/xml:
              schema:
                $ref: '#/components/schemas/DomainControlCenterSsoRequest'
      summary: Generates a single sign on request for domain management portal
      tags:
        - GlobalDomainRegistration
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/listDomainRecommendations':
    post:
      deprecated: false
      operationId: GlobalDomainRegistration_ListDomainRecommendations
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NameIdentifierCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/NameIdentifierCollection'
      summary: Lists domain recommendations based on keywords
      tags:
        - GlobalDomainRegistration
      x-ms-pageable:
        nextLinkName: nextLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          text/json:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DomainRecommendationSearchParameters'
        description: Domain recommendation search parameters
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains':
    get:
      deprecated: false
      operationId: TopLevelDomains_GetGetTopLevelDomains
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomainCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomainCollection'
      summary: Lists all top level domains supported for registration
      tags:
        - TopLevelDomains
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}':
    get:
      deprecated: false
      operationId: TopLevelDomains_GetTopLevelDomain
      parameters:
        - description: Name of the top level domain
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
            text/json:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
            application/xml:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
            text/xml:
              schema:
                $ref: '#/components/schemas/TopLevelDomain'
      summary: Gets details of a top level domain
      tags:
        - TopLevelDomains
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/topLevelDomains/{name}/listAgreements':
    post:
      deprecated: false
      operationId: TopLevelDomains_ListTopLevelDomainAgreements
      parameters:
        - description: Name of the top level domain
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TldLegalAgreementCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/TldLegalAgreementCollection'
      summary: Lists legal agreements that user needs to accept before purchasing domain
      tags:
        - TopLevelDomains
      x-ms-pageable:
        nextLinkName: nextLink
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          text/json:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          application/xml:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          text/xml:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/TopLevelDomainAgreementOption'
        description: Domain agreement options
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.DomainRegistration/validateDomainRegistrationInformation':
    post:
      deprecated: false
      operationId: GlobalDomainRegistration_ValidateDomainPurchaseInformation
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Validates domain registration information
      tags:
        - GlobalDomainRegistration
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
          text/json:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
          application/xml:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
          text/xml:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/DomainRegistrationInput'
        description: Domain registration information
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/certificates':
    get:
      deprecated: false
      operationId: Global_GetAllCertificates
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
      summary: Get all certificates for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/checknameavailability':
    post:
      deprecated: false
      operationId: Global_CheckNameAvailability
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
            text/json:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
            application/xml:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
            text/xml:
              schema:
                $ref: '#/components/schemas/ResourceNameAvailability'
      summary: Check if resource name is available
      tags:
        - Global
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ResourceNameAvailabilityRequest'
        description: Name availability request
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/classicMobileServices':
    get:
      deprecated: false
      operationId: Global_GetAllClassicMobileServices
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
      summary: Gets all mobile services for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/geoRegions':
    get:
      deprecated: false
      operationId: Global_GetSubscriptionGeoRegions
      parameters:
        - description: Filter only to regions that support this sku
          in: query
          name: sku
          schema:
            type: string
        - description: Filter only to regions that support linux workers
          in: query
          name: linuxWorkersEnabled
          schema:
            type: boolean
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeoRegionCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/GeoRegionCollection'
      summary: Gets list of available geo regions
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/hostingEnvironments':
    get:
      deprecated: false
      operationId: Global_GetAllHostingEnvironments
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentCollection'
      summary: Gets all hostingEnvironments (App Service Environment) for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable':
    get:
      deprecated: false
      operationId: Global_IsHostingEnvironmentNameAvailable
      parameters:
        - description: Hosting environment name
          in: query
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Whether hosting environment name is available
      tags:
        - Global
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/ishostingenvironmentnameavailable/{name}':
    get:
      deprecated: false
      operationId: Global_IsHostingEnvironmentWithLegacyNameAvailable
      parameters:
        - description: Hosting environment name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Whether hosting environment name is available
      tags:
        - Global
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/managedHostingEnvironments':
    get:
      deprecated: false
      operationId: Global_GetAllManagedHostingEnvironments
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ManagedHostingEnvironmentCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ManagedHostingEnvironmentCollection'
      summary: Gets all managed hosting environments for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/premieraddonoffers':
    get:
      deprecated: false
      operationId: Global_ListPremierAddOnOffers
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: List premier add on offers
      tags:
        - Global
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/publishingCredentials':
    get:
      deprecated: false
      operationId: Global_GetSubscriptionPublishingCredentials
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
            text/xml:
              schema:
                $ref: '#/components/schemas/User'
      summary: Gets publishing credentials for the subscription owner
      tags:
        - Global
    put:
      deprecated: false
      operationId: Global_UpdateSubscriptionPublishingCredentials
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
            text/json:
              schema:
                $ref: '#/components/schemas/User'
            application/xml:
              schema:
                $ref: '#/components/schemas/User'
            text/xml:
              schema:
                $ref: '#/components/schemas/User'
      summary: Updates publishing credentials for the subscription owner
      tags:
        - Global
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
          text/json:
            schema:
              $ref: '#/components/schemas/User'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/User'
        description: requestMessage with new publishing credentials
        required: true
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/recommendations':
    get:
      deprecated: false
      operationId: Recommendations_GetRecommendationBySubscription
      parameters:
        - description: 'If set, this API returns only the most critical recommendation among the others. Otherwise this API returns all recommendations available'
          in: query
          name: featured
          schema:
            type: boolean
        - description: 'Return only channels specified in the filter. Filter is specified by using OData syntax. Example: $filter=channels eq ''Api'' or channel eq ''Notification'''
          in: query
          name: $filter
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Recommendation'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Recommendation'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Recommendation'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Recommendation'
                type: array
      summary: Gets a list of recommendations associated with the specified subscription.
      tags:
        - Recommendations
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/serverfarms':
    get:
      deprecated: false
      operationId: Global_GetAllServerFarms
      parameters:
        - description: "False to return a subset of App Service Plan properties, true to return all of the properties.\r\n            Retrieval of all properties may increase the API latency."
          in: query
          name: detailed
          schema:
            type: boolean
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ServerFarmCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ServerFarmCollection'
      summary: Gets all App Service Plans for a subcription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/providers/Microsoft.Web/sites':
    get:
      deprecated: false
      operationId: Global_GetAllSites
      parameters:
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SiteCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/SiteCollection'
      summary: Gets all Web Apps for a subscription
      tags:
        - Global
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/moveResources':
    post:
      deprecated: false
      operationId: GlobalResourceGroups_MoveResources
      parameters:
        - in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: No Content
      tags:
        - GlobalResourceGroups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          text/json:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          application/xml:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          text/xml:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/CsmMoveResourceEnvelope'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders':
    get:
      deprecated: false
      operationId: CertificateOrders_GetCertificateOrders
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCollection'
      summary: Get certificate orders in a resource group
      tags:
        - CertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates':
    get:
      deprecated: false
      operationId: CertificateOrders_GetCertificates
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificateCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificateCollection'
      summary: List all certificates associated with a certificate order (only one certificate can be associated with an order at a time)
      tags:
        - CertificateOrders
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{certificateOrderName}/certificates/{name}':
    delete:
      deprecated: false
      operationId: CertificateOrders_DeleteCertificate
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Deletes the certificate associated with the certificate order
      tags:
        - CertificateOrders
    get:
      deprecated: false
      operationId: CertificateOrders_GetCertificate
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
      summary: Get certificate associated with the certificate order
      tags:
        - CertificateOrders
    patch:
      deprecated: false
      operationId: CertificateOrders_UpdateCertificate
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
      summary: Associates a Key Vault secret to a certificate store that will be used for storing the certificate once it's ready
      tags:
        - CertificateOrders
      requestBody:
        $ref: '#/components/requestBodies/CertificateOrderCertificate'
    put:
      deprecated: false
      operationId: CertificateOrders_CreateOrUpdateCertificate
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: certificateOrderName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrderCertificate'
      summary: Associates a Key Vault secret to a certificate store that will be used for storing the certificate once it's ready
      tags:
        - CertificateOrders
      requestBody:
        $ref: '#/components/requestBodies/CertificateOrderCertificate'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}':
    delete:
      deprecated: false
      operationId: CertificateOrders_DeleteCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Delete an existing certificate order
      tags:
        - CertificateOrders
    get:
      deprecated: false
      operationId: CertificateOrders_GetCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
      summary: Get a certificate order
      tags:
        - CertificateOrders
    patch:
      deprecated: false
      operationId: CertificateOrders_UpdateCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
      summary: Create or update a certificate purchase order
      tags:
        - CertificateOrders
      requestBody:
        $ref: '#/components/requestBodies/CertificateOrder'
    put:
      deprecated: false
      operationId: CertificateOrders_CreateOrUpdateCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            application/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
            text/xml:
              schema:
                $ref: '#/components/schemas/CertificateOrder'
      summary: Create or update a certificate purchase order
      tags:
        - CertificateOrders
      requestBody:
        $ref: '#/components/requestBodies/CertificateOrder'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/reissue':
    post:
      deprecated: false
      operationId: CertificateOrders_ReissueCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Reissue an existing certificate order
      tags:
        - CertificateOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/ReissueCertificateOrderRequest'
        description: Reissue parameters
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/renew':
    post:
      deprecated: false
      operationId: CertificateOrders_RenewCertificateOrder
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Renew an existing certificate order
      tags:
        - CertificateOrders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          application/xml:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          text/xml:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RenewCertificateOrderRequest'
        description: Renew parameters
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/resendEmail':
    post:
      deprecated: false
      operationId: CertificateOrders_ResendCertificateEmail
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate order name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Resend certificate email
      tags:
        - CertificateOrders
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveCertificateActions':
    post:
      deprecated: false
      operationId: CertificateOrders_RetrieveCertificateActions
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate order name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateOrderAction'
                type: array
      summary: Retrieve the list of certificate actions
      tags:
        - CertificateOrders
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/retrieveEmailHistory':
    post:
      deprecated: false
      operationId: CertificateOrders_RetrieveCertificateEmailHistory
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate order name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/CertificateEmail'
                type: array
      summary: Retrive email history
      tags:
        - CertificateOrders
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.CertificateRegistration/certificateOrders/{name}/verifyDomainOwnership':
    post:
      deprecated: false
      operationId: CertificateOrders_VerifyDomainOwnership
      parameters:
        - description: Azure resource group name
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Certificate order name
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Verify domain ownership for this certificate order
      tags:
        - CertificateOrders
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains':
    get:
      deprecated: false
      operationId: Domains_GetDomains
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/DomainCollection'
      summary: Lists domains under a resource group
      tags:
        - Domains
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}':
    delete:
      deprecated: false
      operationId: Domains_DeleteDomain
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: If true then the domain will be deleted immediately instead of after 24 hours
          in: query
          name: forceHardDeleteDomain
          schema:
            type: boolean
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '204':
          description: Domain does not exist in Azure database probably because it has already been deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Deletes a domain
      tags:
        - Domains
    get:
      deprecated: false
      operationId: Domains_GetDomain
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
      summary: Gets details of a domain
      tags:
        - Domains
    patch:
      deprecated: false
      operationId: Domains_UpdateDomain
      parameters:
        - description: '&gt;Name of the resource group'
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
        '202':
          description: Domain purchase is in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
      summary: Creates a domain
      tags:
        - Domains
      requestBody:
        $ref: '#/components/requestBodies/Domain'
    put:
      deprecated: false
      operationId: Domains_CreateOrUpdateDomain
      parameters:
        - description: '&gt;Name of the resource group'
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
        '202':
          description: Domain purchase is in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
      summary: Creates a domain
      tags:
        - Domains
      requestBody:
        $ref: '#/components/requestBodies/Domain'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DomainRegistration/domains/{domainName}/operationresults/{operationId}':
    get:
      deprecated: false
      operationId: Domains_GetDomainOperation
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the domain
          in: path
          name: domainName
          required: true
          schema:
            type: string
        - description: Domain purchase operation Id
          in: path
          name: operationId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: Domain purchase was successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
        '202':
          description: Domain purchase is in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
            text/json:
              schema:
                $ref: '#/components/schemas/Domain'
            application/xml:
              schema:
                $ref: '#/components/schemas/Domain'
            text/xml:
              schema:
                $ref: '#/components/schemas/Domain'
        '500':
          description: Domain purchase request failed
      summary: Retrieves the latest status of a domain purchase operation
      tags:
        - Domains
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web.Admin/environments/{environmentName}/usage':
    get:
      deprecated: false
      operationId: Usage_GetUsage
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Environment name
          in: path
          name: environmentName
          required: true
          schema:
            type: string
        - description: Last marker that was returned from the batch
          in: query
          name: lastId
          required: true
          schema:
            type: string
        - description: size of the batch to be returned.
          in: query
          name: batchSize
          required: true
          schema:
            type: integer
            format: int32
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Returns usage records for specified subscription and resource groups
      tags:
        - Usage
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates':
    get:
      deprecated: false
      operationId: Certificates_GetCertificates
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
      summary: Get certificates for a subscription in the specified resource group.
      tags:
        - Certificates
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/certificates/{name}':
    delete:
      deprecated: false
      operationId: Certificates_DeleteCertificate
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the certificate to be deleted.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Delete a certificate by name in a specificed subscription and resourcegroup.
      tags:
        - Certificates
    get:
      deprecated: false
      operationId: Certificates_GetCertificate
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
      summary: Get a certificate by certificate name for a subscription in the specified resource group.
      tags:
        - Certificates
    patch:
      deprecated: false
      operationId: Certificates_UpdateCertificate
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
      summary: Creates or modifies an existing certificate.
      tags:
        - Certificates
      requestBody:
        $ref: '#/components/requestBodies/Certificate'
    put:
      deprecated: false
      operationId: Certificates_CreateOrUpdateCertificate
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/json:
              schema:
                $ref: '#/components/schemas/Certificate'
            application/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
            text/xml:
              schema:
                $ref: '#/components/schemas/Certificate'
      summary: Creates or modifies an existing certificate.
      tags:
        - Certificates
      requestBody:
        $ref: '#/components/requestBodies/Certificate'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices':
    get:
      deprecated: false
      operationId: ClassicMobileServices_GetClassicMobileServices
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileServiceCollection'
      summary: Get all mobile services in a resource group.
      tags:
        - ClassicMobileServices
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/classicMobileServices/{name}':
    delete:
      deprecated: false
      operationId: ClassicMobileServices_DeleteClassicMobileService
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of mobile service
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Delete a mobile service.
      tags:
        - ClassicMobileServices
    get:
      deprecated: false
      operationId: ClassicMobileServices_GetClassicMobileService
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of mobile service
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
            text/json:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
            application/xml:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
            text/xml:
              schema:
                $ref: '#/components/schemas/ClassicMobileService'
      summary: Get a mobile service.
      tags:
        - ClassicMobileServices
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs':
    get:
      deprecated: false
      operationId: Certificates_GetCsrs
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Csr'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/Csr'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Csr'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/Csr'
                type: array
      summary: Gets the certificate signing requests for a subscription in the specified resource group
      tags:
        - Certificates
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/csrs/{name}':
    delete:
      deprecated: false
      operationId: Certificates_DeleteCsr
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the certificate signing request.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
      summary: Delete the certificate signing request.
      tags:
        - Certificates
    get:
      deprecated: false
      operationId: Certificates_GetCsr
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Csr'
            text/json:
              schema:
                $ref: '#/components/schemas/Csr'
            application/xml:
              schema:
                $ref: '#/components/schemas/Csr'
            text/xml:
              schema:
                $ref: '#/components/schemas/Csr'
      summary: Gets a certificate signing request by certificate name for a subscription in the specified resource group
      tags:
        - Certificates
    patch:
      deprecated: false
      operationId: Certificates_UpdateCsr
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Csr'
            text/json:
              schema:
                $ref: '#/components/schemas/Csr'
            application/xml:
              schema:
                $ref: '#/components/schemas/Csr'
            text/xml:
              schema:
                $ref: '#/components/schemas/Csr'
      summary: Creates or modifies an existing certificate signing request.
      tags:
        - Certificates
      requestBody:
        $ref: '#/components/requestBodies/Csr'
    put:
      deprecated: false
      operationId: Certificates_CreateOrUpdateCsr
      parameters:
        - description: Name of the resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of the certificate.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Csr'
            text/json:
              schema:
                $ref: '#/components/schemas/Csr'
            application/xml:
              schema:
                $ref: '#/components/schemas/Csr'
            text/xml:
              schema:
                $ref: '#/components/schemas/Csr'
      summary: Creates or modifies an existing certificate signing request.
      tags:
        - Certificates
      requestBody:
        $ref: '#/components/requestBodies/Csr'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/deletedSites':
    get:
      deprecated: false
      operationId: Sites_GetDeletedSites
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Additional web app properties included in the response
          in: query
          name: propertiesToInclude
          schema:
            type: string
        - description: Types of apps included in the response
          in: query
          name: includeSiteTypes
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeletedSiteCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/DeletedSiteCollection'
      summary: Gets deleted web apps in subscription
      tags:
        - Sites
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments':
    get:
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironments
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentCollection'
      summary: Get all hostingEnvironments (App Service Environments) in a resource group.
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}':
    delete:
      deprecated: false
      operationId: HostingEnvironments_DeleteHostingEnvironment
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Delete even if the hostingEnvironment (App Service Environment) contains resources
          in: query
          name: forceDelete
          schema:
            type: boolean
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
        '202':
          description: Operation is in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Object'
            text/json:
              schema:
                $ref: '#/components/schemas/Object'
            application/xml:
              schema:
                $ref: '#/components/schemas/Object'
            text/xml:
              schema:
                $ref: '#/components/schemas/Object'
        '400':
          description: Bad request
        '404':
          description: Not found
        '409':
          description: Conflict
      summary: Delete a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-long-running-operation: true
    get:
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironment
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
            text/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
            application/xml:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
            text/xml:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
      summary: Get properties of hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
    put:
      deprecated: false
      operationId: HostingEnvironments_CreateOrUpdateHostingEnvironment
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
            text/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
            application/xml:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
            text/xml:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
        '202':
          description: Operation is in progress
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
            text/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
            application/xml:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
            text/xml:
              schema:
                $ref: '#/components/schemas/HostingEnvironment'
        '400':
          description: Bad request
        '404':
          description: Not found
        '409':
          description: Conflict
      summary: Create or update a hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HostingEnvironment'
          text/json:
            schema:
              $ref: '#/components/schemas/HostingEnvironment'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/HostingEnvironment'
        description: Properties of hostingEnvironment (App Service Environment)
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/compute':
    get:
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentCapacities
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StampCapacityCollection'
            text/json:
              schema:
                $ref: '#/components/schemas/StampCapacityCollection'
      summary: 'Get used, available, and total worker capacity for hostingEnvironment (App Service Environment).'
      tags:
        - HostingEnvironments
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/capacities/virtualip':
    get:
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentVips
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/AddressResponse'
            application/xml:
              schema:
                $ref: '#/components/schemas/AddressResponse'
            text/xml:
              schema:
                $ref: '#/components/schemas/AddressResponse'
      summary: Get IP addresses assigned to the hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics':
    get:
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentDiagnostics
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
                type: array
            text/json:
              schema:
                items:
                  $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
                type: array
            application/xml:
              schema:
                items:
                  $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
                type: array
            text/xml:
              schema:
                items:
                  $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
                type: array
      summary: Get diagnostic information for hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/diagnostics/{diagnosticsName}':
    get:
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentDiagnosticsItem
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Name of the diagnostics
          in: path
          name: diagnosticsName
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
            text/json:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
            application/xml:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
            text/xml:
              schema:
                $ref: '#/components/schemas/HostingEnvironmentDiagnostics'
      summary: Get diagnostic information for hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metricdefinitions':
    get:
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentMetricDefinitions
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MetricDefinition'
            text/json:
              schema:
                $ref: '#/components/schemas/MetricDefinition'
            application/xml:
              schema:
                $ref: '#/components/schemas/MetricDefinition'
            text/xml:
              schema:
                $ref: '#/components/schemas/MetricDefinition'
      summary: Get global metric definitions of hostingEnvironment (App Service Environment).
      tags:
        - HostingEnvironments
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/hostingEnvironments/{name}/metrics':
    get:
      deprecated: false
      operationId: HostingEnvironments_GetHostingEnvironmentMetrics
      parameters:
        - description: Name of resource group
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: Name of hostingEnvironment (App Service Environment)
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Include instance details
          in: query
          name: details
          schema:
            type: boolean
        - description: 'Return only usages/metrics specified in the filter. Filter conforms to odata syntax. Example: $filter=(name.value eq ''Metric1'' or name.value eq ''Metric2'') and startTime eq ''2014-01-01T00:00:00Z'' and endTime eq ''2014-12-31T23:59:59Z'' and timeGrain eq duration''[Hour|Minute|Day]''.'
          in: query
          name: $filter
          schema:
            type: string
          allowReserved: true
        - $ref: '#/components/parameters/subscriptionIdParameter'
        - $ref: '#/components/parameters/apiVersionParameter'
      responses:
        '200':
[...]
