swagger: '2.0'
schemes:
  - https
host: cloudbilling.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: |-
    Allows developers to manage billing for their Google Cloud Platform projects
        programmatically.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Cloud Billing
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://cloudbilling.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: cloudbilling
externalDocs:
  url: 'https://cloud.google.com/billing/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: billingAccounts
  - name: projects
  - name: services
paths:
  /v1/billingAccounts:
    get:
      description: |-
        Lists the billing accounts that the current authenticated user
        [owns](https://support.google.com/cloud/answer/4430947).
      operationId: cloudbilling.billingAccounts.list
      parameters:
        - description: |-
            Requested page size. The maximum page size is 100; this is also the
            default.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A token identifying a page of results to return. This should be a
            `next_page_token` value returned from a previous `ListBillingAccounts`
            call. If unspecified, the first page of results is returned.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListBillingAccountsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - billingAccounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  /v1/services:
    get:
      description: Lists all public cloud services.
      operationId: cloudbilling.services.list
      parameters:
        - description: Requested page size. Defaults to 5000.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A token identifying a page of results to return. This should be a
            `next_page_token` value returned from a previous `ListServices`
            call. If unspecified, the first page of results is returned.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListServicesResponse'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}':
    get:
      description: |-
        Gets information about a billing account. The current authenticated user
        must be an [owner of the billing
        account](https://support.google.com/cloud/answer/4430947).
      operationId: cloudbilling.billingAccounts.get
      parameters:
        - description: |-
            The resource name of the billing account to retrieve. For example,
            `billingAccounts/012345-567890-ABCDEF`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BillingAccount'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - billingAccounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{name}/billingInfo':
    get:
      description: |-
        Gets the billing information for a project. The current authenticated user
        must have [permission to view the
        project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo
        ).
      operationId: cloudbilling.projects.getBillingInfo
      parameters:
        - description: |-
            The resource name of the project for which billing information is
            retrieved. For example, `projects/tokyo-rain-123`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProjectBillingInfo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
    put:
      description: |-
        Sets or updates the billing account associated with a project. You specify
        the new billing account by setting the `billing_account_name` in the
        `ProjectBillingInfo` resource to the resource name of a billing account.
        Associating a project with an open billing account enables billing on the
        project and allows charges for resource usage. If the project already had a
        billing account, this method changes the billing account used for resource
        usage charges.

        *Note:* Incurred charges that have not yet been reported in the transaction
        history of the Google Cloud Console may be billed to the new billing
        account, even if the charge occurred before the new billing account was
        assigned to the project.

        The current authenticated user must have ownership privileges for both the
        [project](https://cloud.google.com/docs/permissions-overview#h.bgs0oxofvnoo
        ) and the [billing
        account](https://support.google.com/cloud/answer/4430947).

        You can disable billing on the project by setting the
        `billing_account_name` field to empty. This action disassociates the
        current billing account from the project. Any billable activity of your
        in-use services will stop, and your application could stop functioning as
        expected. Any unbilled charges to date will be billed to the previously
        associated account. The current authenticated user must be either an owner
        of the project or an owner of the billing account for the project.

        Note that associating a project with a *closed* billing account will have
        much the same effect as disabling billing on the project: any paid
        resources used by the project will be shut down. Thus, unless you wish to
        disable billing, you should always call this method with the name of an
        *open* billing account.
      operationId: cloudbilling.projects.updateBillingInfo
      parameters:
        - description: |-
            The resource name of the project associated with the billing information
            that you want to update. For example, `projects/tokyo-rain-123`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProjectBillingInfo'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProjectBillingInfo'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1/{name}/projects':
    get:
      description: |-
        Lists the projects associated with a billing account. The current
        authenticated user must be an [owner of the billing
        account](https://support.google.com/cloud/answer/4430947).
      operationId: cloudbilling.billingAccounts.projects.list
      parameters:
        - description: |-
            The resource name of the billing account associated with the projects that
            you want to list. For example, `billingAccounts/012345-567890-ABCDEF`.
          in: path
          name: name
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Requested page size. The maximum page size is 100; this is also the
            default.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A token identifying a page of results to be returned. This should be a
            `next_page_token` value returned from a previous `ListProjectBillingInfo`
            call. If unspecified, the first page of results is returned.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListProjectBillingInfoResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - billingAccounts
    parameters:
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
  '/v1/{parent}/skus':
    get:
      description: Lists all publicly available SKUs for a given cloud service.
      operationId: cloudbilling.services.skus.list
      parameters:
        - description: |-
            The ISO 4217 currency code for the pricing info in the response proto.
            Will use the conversion rate as of start_time.
            Optional. If not specified USD will be used.
          in: query
          name: currencyCode
          type: string
        - description: |-
            Optional exclusive end time of the time range for which the pricing
            versions will be returned. Timestamps in the future are not allowed.
            Maximum allowable time range is 1 month (31 days). Time range as a whole
            is optional. If not specified, the latest pricing will be returned (up to
            12 hours old at most).
          in: query
          name: endTime
          type: string
        - description: Requested page size. Defaults to 5000.
          in: query
          name: pageSize
          type: integer
        - description: |-
            A token identifying a page of results to return. This should be a
            `next_page_token` value returned from a previous `ListSkus`
            call. If unspecified, the first page of results is returned.
          in: query
          name: pageToken
          type: string
        - description: |-
            The name of the service.
            Example: "services/DA34-426B-A397"
          in: path
          name: parent
          required: true
          type: string
          x-reservedExpansion: true
        - description: |-
            Optional inclusive start time of the time range for which the pricing
            versions will be returned. Timestamps in the future are not allowed.
            Maximum allowable time range is 1 month (31 days). Time range as a whole
            is optional. If not specified, the latest pricing will be returned (up to
            12 hours old at most).
          in: query
          name: startTime
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListSkusResponse'
      tags:
        - services
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
definitions:
  AggregationInfo:
    description: Represents the aggregation level and interval for pricing of a single SKU.
    properties:
      aggregationCount:
        description: |-
          The number of intervals to aggregate over.
          Example: If aggregation_level is "DAILY" and aggregation_count is 14,
          aggregation will be over 14 days.
        format: int32
        type: integer
      aggregationInterval:
        enum:
          - AGGREGATION_INTERVAL_UNSPECIFIED
          - DAILY
          - MONTHLY
        type: string
      aggregationLevel:
        enum:
          - AGGREGATION_LEVEL_UNSPECIFIED
          - ACCOUNT
          - PROJECT
        type: string
    type: object
  BillingAccount:
    description: |-
      A billing account in [Google Cloud
      Console](https://console.cloud.google.com/). You can assign a billing account
      to one or more projects.
    properties:
      displayName:
        description: |-
          The display name given to the billing account, such as `My Billing
          Account`. This name is displayed in the Google Cloud Console.
        type: string
      name:
        description: |-
          The resource name of the billing account. The resource name has the form
          `billingAccounts/{billing_account_id}`. For example,
          `billingAccounts/012345-567890-ABCDEF` would be the resource name for
          billing account `012345-567890-ABCDEF`.
        type: string
      open:
        description: |-
          True if the billing account is open, and will therefore be charged for any
          usage on associated projects. False if the billing account is closed, and
          therefore projects associated with it will be unable to use paid services.
        type: boolean
    type: object
  Category:
    description: Represents the category hierarchy of a SKU.
    properties:
      resourceFamily:
        description: |-
          The type of product the SKU refers to.
          Example: "Compute", "Storage", "Network", "ApplicationServices" etc.
        type: string
      resourceGroup:
        description: |-
          A group classification for related SKUs.
          Example: "RAM", "GPU", "Prediction", "Ops", "GoogleEgress" etc.
        type: string
      serviceDisplayName:
        description: The display name of the service this SKU belongs to.
        type: string
      usageType:
        description: |-
          Represents how the SKU is consumed.
          Example: "OnDemand", "Preemptible", "Commit1Mo", "Commit1Yr" etc.
        type: string
    type: object
  ListBillingAccountsResponse:
    description: Response message for `ListBillingAccounts`.
    properties:
      billingAccounts:
        description: A list of billing accounts.
        items:
          $ref: '#/definitions/BillingAccount'
        type: array
      nextPageToken:
        description: |-
          A token to retrieve the next page of results. To retrieve the next page,
          call `ListBillingAccounts` again with the `page_token` field set to this
          value. This field is empty if there are no more results to retrieve.
        type: string
    type: object
  ListProjectBillingInfoResponse:
    description: Request message for `ListProjectBillingInfoResponse`.
    properties:
      nextPageToken:
        description: |-
          A token to retrieve the next page of results. To retrieve the next page,
          call `ListProjectBillingInfo` again with the `page_token` field set to this
          value. This field is empty if there are no more results to retrieve.
        type: string
      projectBillingInfo:
        description: |-
          A list of `ProjectBillingInfo` resources representing the projects
          associated with the billing account.
        items:
          $ref: '#/definitions/ProjectBillingInfo'
        type: array
    type: object
  ListServicesResponse:
    description: Response message for `ListServices`.
    properties:
      nextPageToken:
        description: |-
          A token to retrieve the next page of results. To retrieve the next page,
          call `ListServices` again with the `page_token` field set to this
          value. This field is empty if there are no more results to retrieve.
        type: string
      services:
        description: A list of services.
        items:
          $ref: '#/definitions/Service'
        type: array
    type: object
  ListSkusResponse:
    description: Response message for `ListSkus`.
    properties:
      nextPageToken:
        description: |-
          A token to retrieve the next page of results. To retrieve the next page,
          call `ListSkus` again with the `page_token` field set to this
          value. This field is empty if there are no more results to retrieve.
        type: string
      skus:
        description: The list of public SKUs of the given service.
        items:
          $ref: '#/definitions/Sku'
        type: array
    type: object
  Money:
    description: Represents an amount of money with its currency type.
    properties:
      currencyCode:
        description: The 3-letter currency code defined in ISO 4217.
        type: string
      nanos:
        description: |-
          Number of nano (10^-9) units of the amount.
          The value must be between -999,999,999 and +999,999,999 inclusive.
          If `units` is positive, `nanos` must be positive or zero.
          If `units` is zero, `nanos` can be positive, zero, or negative.
          If `units` is negative, `nanos` must be negative or zero.
          For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
        format: int32
        type: integer
      units:
        description: |-
          The whole units of the amount.
          For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
        format: int64
        type: string
    type: object
  PricingExpression:
    description: |-
      Expresses a mathematical pricing formula. For Example:-

      `usage_unit: GBy`
      `tiered_rates:`
         `[start_usage_amount: 20, unit_price: $10]`
         `[start_usage_amount: 100, unit_price: $5]`

      The above expresses a pricing formula where the first 20GB is free, the
      next 80GB is priced at $10 per GB followed by $5 per GB for additional
      usage.
    properties:
      baseUnit:
        description: |-
          The base unit for the SKU which is the unit used in usage exports.
          Example: "By"
        type: string
      baseUnitConversionFactor:
        description: |-
          Conversion factor for converting from price per usage_unit to price per
          base_unit, and start_usage_amount to start_usage_amount in base_unit.
          unit_price / base_unit_conversion_factor = price per base_unit.
          start_usage_amount * base_unit_conversion_factor = start_usage_amount in
          base_unit.
        format: double
        type: number
      baseUnitDescription:
        description: |-
          The base unit in human readable form.
          Example: "byte".
        type: string
      displayQuantity:
        description: |-
          The recommended quantity of units for displaying pricing info. When
          displaying pricing info it is recommended to display:
          (unit_price * display_quantity) per display_quantity usage_unit.
          This field does not affect the pricing formula and is for display purposes
          only.
          Example: If the unit_price is "0.0001 USD", the usage_unit is "GB" and
          the display_quantity is "1000" then the recommended way of displaying the
          pricing info is "0.10 USD per 1000 GB"
        format: double
        type: number
      tieredRates:
        description: |-
          The list of tiered rates for this pricing. The total cost is computed by
          applying each of the tiered rates on usage. This repeated list is sorted
          by ascending order of start_usage_amount.
        items:
          $ref: '#/definitions/TierRate'
        type: array
      usageUnit:
        description: |-
          The short hand for unit of usage this pricing is specified in.
          Example: usage_unit of "GiBy" means that usage is specified in "Gibi Byte".
        type: string
      usageUnitDescription:
        description: |-
          The unit of usage in human readable form.
          Example: "gibi byte".
        type: string
    type: object
  PricingInfo:
    description: Represents the pricing information for a SKU at a single point of time.
    properties:
      aggregationInfo:
        $ref: '#/definitions/AggregationInfo'
        description: |-
          Aggregation Info. This can be left unspecified if the pricing expression
          doesn't require aggregation.
      currencyConversionRate:
        description: |-
          Conversion rate for currency conversion, from USD to the currency specified
          in the request. If the currency is not specified this defaults to 1.0.
          Example: USD * currency_conversion_rate = JPY
        format: double
        type: number
      effectiveTime:
        description: The timestamp from which this pricing was effective.
        format: google-datetime
        type: string
      pricingExpression:
        $ref: '#/definitions/PricingExpression'
        description: Expresses the pricing formula. See `PricingExpression` for an example.
      summary:
        description: |-
          An optional human readable summary of the pricing information, has a
          maximum length of 256 characters.
        type: string
    type: object
  ProjectBillingInfo:
    description: |-
      Encapsulation of billing information for a Cloud Console project. A project
      has at most one associated billing account at a time (but a billing account
      can be assigned to multiple projects).
    properties:
      billingAccountName:
        description: |-
          The resource name of the billing account associated with the project, if
          any. For example, `billingAccounts/012345-567890-ABCDEF`.
        type: string
      billingEnabled:
        description: |-
          True if the project is associated with an open billing account, to which
          usage on the project is charged. False if the project is associated with a
          closed billing account, or no billing account at all, and therefore cannot
          use paid services. This field is read-only.
        type: boolean
      name:
        description: |-
          The resource name for the `ProjectBillingInfo`; has the form
          `projects/{project_id}/billingInfo`. For example, the resource name for the
          billing information for project `tokyo-rain-123` would be
          `projects/tokyo-rain-123/billingInfo`. This field is read-only.
        type: string
      projectId:
        description: |-
          The ID of the project that this `ProjectBillingInfo` represents, such as
          `tokyo-rain-123`. This is a convenience field so that you don't need to
          parse the `name` field to obtain a project ID. This field is read-only.
        type: string
    type: object
  Service:
    description: Encapsulates a single service in Google Cloud Platform.
    properties:
      displayName:
        description: A human readable display name for this service.
        type: string
      name:
        description: |-
          The resource name for the service.
          Example: "services/DA34-426B-A397"
        type: string
      serviceId:
        description: |-
          The identifier for the service.
          Example: "DA34-426B-A397"
        type: string
    type: object
  Sku:
    description: Encapsulates a single SKU in Google Cloud Platform
    properties:
      category:
        $ref: '#/definitions/Category'
        description: 'The category hierarchy of this SKU, purely for organizational purpose.'
      description:
        description: |-
          A human readable description of the SKU, has a maximum length of 256
          characters.
        type: string
      name:
        description: |-
          The resource name for the SKU.
          Example: "services/DA34-426B-A397/skus/AA95-CD31-42FE"
        type: string
      pricingInfo:
        description: A timeline of pricing info for this SKU in chronological order.
        items:
          $ref: '#/definitions/PricingInfo'
        type: array
      serviceProviderName:
        description: |-
          Identifies the service provider.
          This is 'Google' for first party services in Google Cloud Platform.
        type: string
      serviceRegions:
        description: |-
          List of service regions this SKU is offered at.
          Example: "asia-east1"
          Service regions can be found at https://cloud.google.com/about/locations/
        items:
          type: string
        type: array
      skuId:
        description: |-
          The identifier for the SKU.
          Example: "AA95-CD31-42FE"
        type: string
    type: object
  TierRate:
    description: The price rate indicating starting usage and its corresponding price.
    properties:
      startUsageAmount:
        description: |-
          Usage is priced at this rate only after this amount.
          Example: start_usage_amount of 10 indicates that the usage will be priced
          at the unit_price after the first 10 usage_units.
        format: double
        type: number
      unitPrice:
        $ref: '#/definitions/Money'
        description: |-
          The price per unit of usage.
          Example: unit_price of amount $10 indicates that each unit will cost $10.
    type: object
