openapi: 3.0.2
servers:
  - description: Velo Payments Sandbox for testing
    url: https://api.sandbox.velopayments.com/
  - description: Velo Payments Production URL
    url: https://api.payouts.velopayments.com
info:
  description: |
    ## Terms and Definitions

    Throughout this document and the Velo platform the following terms are used:

    * **Payor.** An entity (typically a corporation) which wishes to pay funds to one or more payees via a payout.
    * **Payee.** The recipient of funds paid out by a payor.
    * **Payment.** A single transfer of funds from a payor to a payee.
    * **Payout.** A batch of Payments, typically used by a payor to logically group payments (e.g. by business day). Technically there need be no relationship between the payments in a payout - a single payout can contain payments to multiple payees and/or multiple payments to a single payee.
    * **Sandbox.** An integration environment provided by Velo Payments which offers a similar API experience to the production environment, but all funding and payment events are simulated, along with many other services such as OFAC sanctions list checking.

    ## Overview

    The Velo Payments API allows a payor to perform a number of operations. The following is a list of the main capabilities in a natural order of execution:

    * Authenticate with the Velo platform
    * Maintain a collection of payees
    * Query the payor’s current balance of funds within the platform and perform additional funding
    * Issue payments to payees
    * Query the platform for a history of those payments

    This document describes the main concepts and APIs required to get up and running with the Velo Payments platform. It is not an exhaustive API reference. For that, please see the separate Velo Payments API Reference.

    ## API Considerations

    The Velo Payments API is REST based and uses the JSON format for requests and responses.

    Most calls are secured using OAuth 2 security and require a valid authentication access token for successful operation. See the Authentication section for details.

    Where a dynamic value is required in the examples below, the {token} format is used, suggesting that the caller needs to supply the appropriate value of the token in question (without including the { or } characters).

    Where curl examples are given, the –d @filename.json approach is used, indicating that the request body should be placed into a file named filename.json in the current directory. Each of the curl examples in this document should be considered a single line on the command-line, regardless of how they appear in print.

    ## Authenticating with the Velo Platform

    Once Velo backoffice staff have added your organization as a payor within the Velo platform sandbox, they will create you a payor Id, an API key and an API secret and share these with you in a secure manner.

    You will need to use these values to authenticate with the Velo platform in order to gain access to the APIs. The steps to take are explained in the following:

    create a string comprising the API key (e.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8) and API secret (e.g. c396b26b-137a-44fd-87f5-34631f8fd529) with a colon between them. E.g. 44a9537d-d55d-4b47-8082-14061c2bcdd8:c396b26b-137a-44fd-87f5-34631f8fd529

    base64 encode this string. E.g.: NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==

    create an HTTP **Authorization** header with the value set to e.g. Basic NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==

    perform the Velo authentication REST call using the HTTP header created above e.g. via curl:

    ```
      curl -X POST \
      -H "Content-Type: application/json" \
      -H "Authorization: Basic NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==" \
      'https://api.sandbox.velopayments.com/v1/authenticate?grant_type=client_credentials'
    ```

    If successful, this call will result in a **200** HTTP status code and a response body such as:

    ```
      {
        "access_token":"19f6bafd-93fd-4747-b229-00507bbc991f",
        "token_type":"bearer",
        "expires_in":1799,
        "scope":"..."
      }
    ```
    ## API access following authentication
    Following successful authentication, the value of the access_token field in the response (indicated in green above) should then be presented with all subsequent API calls to allow the Velo platform to validate that the caller is authenticated.

    This is achieved by setting the HTTP Authorization header with the value set to e.g. Bearer 19f6bafd-93fd-4747-b229-00507bbc991f such as the curl example below:

    ```
      -H "Authorization: Bearer 19f6bafd-93fd-4747-b229-00507bbc991f "
    ```

    If you make other Velo API calls which require authorization but the Authorization header is missing or invalid then you will get a **401** HTTP status response.
  license:
    name: Apache License 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: Velo Payments APIs
  version: 2.34.63
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_avatars1.githubusercontent.com_u_38107746.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/velopaymentsapi/VeloOpenApi/master/spec/openapi.yaml
      version: "3.0"
  x-providerName: velopayments.com
security:
  - OAuth2: []
tags:
  - description: |
      A payee is a person you wish to transfer money to. In this section you will find API opertions for working with Payees.
    name: Payees
  - description: Payee invitation is a process of inviting individual payees to the Velo platform. In this sction you will find APIs for working with Payee Invitations.
    name: Payee Invitation
  - description: A Payor is the entity which is sending money. Here you will find the available APIs for working with Payors.
    name: Payors
  - description: |
      <p>Payors that are part of the same organization can be linked together in a hierarchical fashion</p>
      <p>Payors higher up in the tree can read and write data on behalf of payors below them</p>
      <p>For example Payor A can make payouts on behalf of Payor B if Payor B is linked below Payor A</p>
      <p>Payors can not access data of payors above them in the hierarchy</p>
      <p>Contact Velo if you need to link payors in your organization</p>
    name: Payor Hierarchy
  - description: |
      <p>Payout APIs allow you to create and instruct payouts to payees</p>
      <p>There are three phases to a payout:</p>
      <ul>
          <li>Submit - the payments are created within the platform</li>
          <li>Quote - optional step if FX is involved</li>
          <li>Instruct - the payments are sent to the payment rails for processing</li>
      </ul>
      <p>Between 1 and 2000 payments can be created within the platform as part of a Payout</p>
    name: Payouts
  - description: |
      <p>APIs for initiating funding of source accounts from external sources and viewing balance updates</p>
    name: Funding
  - description: |
      <p>Source Accounts are where funds are drawn from for making payouts</p>
    name: Source Accounts
  - description: Payment Audit Service APIs allow you to see the history of fundings, payouts, and payments to payees.
    name: Payment Audit Service
  - description: |
      <p>When a payor creates a payee then an invite token is emailed to the invited payee</p>
      <p>Payees use this token to onboard to the platform</p>
      <p>There are several required tasks that the payee must perform before they are accepted onto the platform</p>
    name: Invites
  - description: |
      <p>Verification tokens allow users to complete authenitcation flows such as user invite, MFA registration and password reset</p>
      <p>Tokens have an expiry and are one-time use only</p>
    name: Tokens
  - description: |
      <p>This document, including all counts herein, and the Velo Payments API are the intellectual property
      of Velo Payments. The Velo Payment API and your use of the Velo Payment API, is goverend by and subject to the
      Velo Payments Terms of Use</p>
      <p>&copy; Velo Payments, Inc.</p>
    name: Legal
paths:
  /v1/authenticate:
    post:
      description: |
        <p>Use this endpoint to obtain an access token for calling Velo Payments APIs. </p>
        <p>You need your API key and API secret issued by Velo</p>
        <p>To login and get an access token the API key and API secret must be Base64 encoded by concatenating them with a colon between them</p>
        <p>e.g. Given an ApiKey: 44a9537d-d55d-4b47-8082-14061c2bcdd8 and ApiSecret: c396b26b-137a-44fd-87f5-34631f8fd529</p>
        <p>Using a Base64 encode function Base64Encoder().encode("44a9537d-d55d-4b47-8082-14061c2bcdd8:c396b26b-137a-44fd-87f5-34631f8fd529")</p>
        <p>Included as a Basic Authorization header: -H "Authorization: Basic NDRhOTUzN2QtZDU1ZC00YjQ3LTgwODItMTQwNjFjMmJjZGQ4OmMzOTZiMjZiLTEzN2EtNDRmZC04N2Y1LTM0NjMxZjhmZDUyOQ==" </p>
      operationId: veloAuth
      parameters:
        - description: OAuth grant type. Should use 'client_credentials'
          in: query
          name: grant_type
          schema:
            default: client_credentials
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthResponse"
          description: Valid Authenication response
          headers:
            Cache-Control:
              description: Ensure clients do not cache request
              required: true
              schema:
                default: no-store
                type: string
            Pragma:
              description: Ensure clients do not cache request
              required: true
              schema:
                default: no-cache
                type: string
      security:
        - basicAuth: []
      summary: Authentication endpoint
      tags:
        - Login
  /v1/deltas/fundings:
    get:
      description: Get funding audit deltas for a payor
      operationId: listFundingAuditDeltas
      parameters:
        - in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: updatedSince
          required: true
          schema:
            format: date-time
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PageResourceFundingPayorStatusAuditResponseFundingPayorStatusAuditResponse"
          description: Funding Account Deltas
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Get Funding Audit Delta
      tags:
        - Funding
  /v1/deltas/payments:
    get:
      deprecated: true
      description: Deprecated (use /v4/payments/deltas instead)
      operationId: listPaymentChanges
      parameters:
        - description: The Payor ID to find associated Payments
          in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
        - description: The updatedSince filter in the format YYYY-MM-DDThh:mm:ss+hh:mm
          in: query
          name: updatedSince
          required: true
          schema:
            format: date-time
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 100
            format: int32
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentDeltaResponseV1"
          description: Details of Payment Changes
        "400":
          description: Bad Request
      summary: V1 List Payment Changes
      tags:
        - Payment Audit Service (Deprecated)
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/deltas/payments?pageSize=2&page=8&payorId=0a818933-087d-47f2-ad83-2f986ed087eb&updatedSince=2019-01-20T09:00:00+00:00' -i -X GET \
                -H 'Authorization: Bearer 6dd5e976-e329-462f-bd6b-25d463cf02fd' \
                -H 'Content-Type: application/json'
  "/v1/fundings/{fundingId}":
    get:
      description: Get Funding by Id
      operationId: getFundingByIdV1
      parameters:
        - in: path
          name: fundingId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundingResponse"
          description: Funding response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Get Funding
      tags:
        - Funding
  /v1/logout:
    post:
      description: |
        <p>Given a valid access token in the header then log out the authenticated user or client </p>
        <p>Will revoke the token</p>
      operationId: logout
      responses:
        "204":
          description: User has been logged out
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Logout
      tags:
        - Login
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/logout' -i -X POST \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer 93560bbb-5e79-492a-97b5-1ffbdf1cfeb8'
  /v1/password/reset:
    post:
      description: |
        <p>Reset password </p>
        <p>An email with an embedded link will be sent to the receipient of the email address </p>
        <p>The link will contain a token to be used for resetting the password </p>
      operationId: resetPassword
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        description: An Email address to send the reset password link to
        required: true
      responses:
        "204":
          description: the request was accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
      security: []
      summary: Reset password
      tags:
        - Login
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/password/reset' -i -X POST \
                  -H 'Content-Type: application/json' \
                  -d '{"email":"foo@example.com"}'
  /v1/paymentChannelRules:
    get:
      description: List the country specific payment channel rules.
      operationId: listPaymentChannelRulesV1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PaymentChannelRulesResponse"
          description: List Payment Channel Country Rules
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
      summary: List Payment Channel Country Rules
      tags:
        - Countries
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/paymentChannelRules' -i -X GET \
                -H 'Authorization: Bearer 63fa49a0-1eeb-4756-b4fb-7cdd94ae80c1'
  /v1/paymentaudit/fundings:
    get:
      deprecated: true
      description: Deprecated (use /v4/paymentaudit/fundings)
      operationId: getFundingsV1
      parameters:
        - description: The account owner Payor ID
          in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: |
            List of sort fields. Example: ```?sort=destinationCurrency:asc,destinationAmount:asc```
            Default is no sort. The supported sort fields are: dateTime and amount.
          in: query
          name: sort
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetFundingsResponse"
          description: Get Fundings normal response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: V1 Get Fundings for Payor
      tags:
        - Payment Audit Service (Deprecated)
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/paymentaudit/fundings?payorId=2a5d8af2-a1ed-4d7f-b9a7-ebe4b333be5a' -i -X GET \
                -H 'Authorization: Bearer 3667f994-7d41-4d20-990d-b79fa720e56b'
  /v1/paymentaudit/payoutStatistics:
    get:
      deprecated: true
      description: Deprecated (Use /v4/paymentaudit/payoutStatistics)
      operationId: getPayoutStatsV1
      parameters:
        - description: The account owner Payor ID. Required for external users.
          in: query
          name: payorId
          required: false
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetPayoutStatistics"
          description: Payout Statistics response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: V1 Get Payout Statistics
      tags:
        - Payment Audit Service (Deprecated)
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/paymentaudit/payoutStatistics?payorId=c61b32ac-8e50-433e-9372-b5b1c8180742' -i -X GET \
                -H 'Authorization: Bearer e71d3dfe-3587-4df6-9f8d-59d3135d7bf7'
  "/v1/payments/{paymentId}/withdraw":
    post:
      description: |
        <p>withdraw a payment </p>
        <p>There are a variety of reasons why this can fail</p>
        <ul>
            <li>the payment must be in a state of 'accepted' or 'unfunded'</li>
            <li>the payout must not be in a state of 'instructed'</li>
        </ul>
      operationId: withdrawPayment
      parameters:
        - description: Id of the Payment
          in: path
          name: paymentId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WithdrawPaymentRequest"
        description: details for withdrawal
        required: true
      responses:
        "204":
          description: The payment was withdrawn
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Withdraw a Payment
      tags:
        - Payouts
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/payments/b39264fc-560e-4fa6-b6c3-b12d42e14596/withdraw' -i -X POST \
            -H 'Authorization: Bearer 63e4d691-847b-46b5-893d-fd15c54dd4bf' \
            -H 'Content-Type: application/json' \
            -d '{"reason": "payment submitted in error"}'
  /v1/payorLinks:
    get:
      description: |
        <p>If the payor is set up as part of a hierarchy you can use this API to traverse the hierarchy</p>
      operationId: payorLinksV1
      parameters:
        - description: The Payor ID from which to start the query to show all descendants
          in: query
          name: descendantsOfPayor
          required: false
          schema:
            format: uuid
            type: string
        - description: Query for the parent payor details for this payor id
          in: query
          name: parentOfPayor
          required: false
          schema:
            format: uuid
            type: string
        - description: |
            <p>List of additional Payor fields to include in the response for each Payor</p>
            <p>The values of payorId and payorName are always included for each Payor by default</p>
            <p>You can add fields to the response for each payor by including them in the fields parameter separated by commas</p>
            <p>The supported fields are any combination of: primaryContactEmail,kycState</p>
          in: query
          name: fields
          required: false
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayorLinksResponse"
          description: Details of Payor Links
          x-contracts:
            - body:
                links:
                  - fromPayorId: 51e93026-2f47-4dfd-a5ff-c0da0954a847
                    linkId: 65514617-d18d-4bb4-8cee-09b3e7625fc9
                    linkType: PARENT_OF
                    toPayorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                  - fromPayorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                    linkId: 6a91b045-6f42-4f9f-a627-f97f66d39bef
                    linkType: PARENT_OF
                    toPayorId: 15486051-aa39-430d-8926-a4bc2fea1d04
                payors:
                  - payorId: 51e93026-2f47-4dfd-a5ff-c0da0954a847
                    payorName: Payor One
                  - payorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                    payorName: Payor Two
                  - payorId: 15486051-aa39-430d-8926-a4bc2fea1d04
                    payorName: Payor Three
              contractId: 1
              headers:
                Content-Type: application/json
              matchers:
                headers:
                  - key: Content-Type
                    regex: application/json.*
            - body:
                links:
                  - fromPayorId: 51e93026-2f47-4dfd-a5ff-c0da0954a847
                    linkId: 65514617-d18d-4bb4-8cee-09b3e7625fc9
                    linkType: PARENT_OF
                    toPayorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                  - fromPayorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                    linkId: 6a91b045-6f42-4f9f-a627-f97f66d39bef
                    linkType: PARENT_OF
                    toPayorId: 15486051-aa39-430d-8926-a4bc2fea1d04
                payors:
                  - kycState: FAILED_KYC
                    payorId: 51e93026-2f47-4dfd-a5ff-c0da0954a847
                    payorName: Payor One
                    primaryContactEmail: payorone@somewhere.com
                  - kycState: PASSED_KYC
                    payorId: b0b09d8a-866c-4703-833e-2ff9106e185b
                    payorName: Payor Two
                    primaryContactEmail: payortwo@anothersite.com
                  - kycState: REQUIRES_KYC
                    payorId: 15486051-aa39-430d-8926-a4bc2fea1d04
                    payorName: Payor Three
                    primaryContactEmail: payorthree@example.com
              contractId: 2
              headers:
                Content-Type: application/json
              matchers:
                headers:
                  - key: Content-Type
                    regex: application/json.*
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: List Payor Links
      tags:
        - Payor Hierarchy
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/payorLinks?descendantsOfPayor=0a818933-087d-47f2-ad83-2f986ed087eb' -i -X GET \
                -H 'Authorization: Bearer 3387c417-464c-41a6-b25e-6630f0a06093' \
                -H 'Content-Type: application/json'
      x-contracts:
        - contractId: 1
          ignored: true
          name: Test List Payor Links - default Payor fields
          request:
            queryParameters:
              - key: descendantsOfPayor
                value: 0a818933-087d-47f2-ad83-2f986ed087eb
          serviceName: payor-service
        - contractId: 2
          ignored: true
          name: Test List Payor Links - all Payor fields requested
          request:
            queryParameters:
              - key: descendantsOfPayor
                value: 0a818933-087d-47f2-ad83-2f986ed087eb
              - key: fields
                value: primaryContactEmail,kycState
          serviceName: payor-service
    post:
      description: This endpoint allows you to create a payor link.
      operationId: createPayorLinks
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreatePayorLinkRequest"
        description: Request to create a payor link
        required: true
      responses:
        "201":
          description: HTTP Creeated
          headers:
            Location:
              description: URI to location of created resource
              schema:
                example: http://example.com/resourcepath/123123123
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      security:
        - oAuthVeloBackOffice: []
      summary: Create a Payor Link
      tags:
        - Payors Private
  "/v1/payors/{payorId}":
    get:
      deprecated: true
      description: |
        <p>Get a Single Payor by Id.</p>
        <p>deprecated since v2.10 - Use /v2/payors
      operationId: getPayorByIdV1
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayorV1"
          description: Get Payor Details
          x-contracts:
            - body:
                address:
                  city: San Francisco
                  country: US
                  line1: 101 California Street
                  zipOrPostcode: "94111"
                allowsLanguageChoice: false
                collectiveAlias: MyAlias
                dbaName: FlyByNight, Inc
                kycState: PASSED_KYC
                language: EN
                manualLockout: false
                maxMasterPayorAdmins: 2
                payeeGracePeriodDays: 90
                payeeGracePeriodProcessingEnabled: true
                payorId: 0a818933-087d-47f2-ad83-2f986ed087eb
                payorName: Joe
                primaryContactEmail: foo@example.com
                primaryContactName: Joe
                primaryContactPhone: 1231231234
                reminderEmailsOptOut: false
                supportContact: support@example.com
              contractId: 1
              headers:
                Content-Type: application/json;charset=UTF-8
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payor Id Not Found
          x-contracts:
            - contractId: 2
      summary: Get Payor
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/126969bd-6a18-47ec-96e1-57559afecf32' -i -X GET \
                -H 'Authorization: Bearer 3387c417-464c-41a6-b25e-6630f0a06093' \
                -H 'Content-Type: application/json'
      x-contracts:
        - contractId: 1
          contractPath: /v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb
          name: Test Get Payor
          serviceName: payor-service
        - contractId: 2
          contractPath: /v1/payors/00000000-0000-0000-0000-000000000000
          name: Test Payor Not Found
          serviceName: payor-service
  "/v1/payors/{payorId}/applications":
    post:
      description: |
        <p>Create an application for the given Payor ID.</p>
        <p>Applications provide a means to group your API Keys</p>
        <p>For example you might have an SAP application that you wish to integrate with Velo</p>
        <p>You can create an application and then create one or more API keys for the application</p>
      operationId: payorCreateApplicationV1
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayorCreateApplicationRequest"
        description: Details of application to create
        required: true
        x-contracts:
          - body:
              description: a foo application
              name: foo
            contractId: 1
            headers:
              Content-Type: application/json
            matchers:
              body:
                - path: $.name
                  predefined: non_empty
                  type: by_regex
                - path: $.description
                  predefined: non_empty
                  type: by_regex
              headers:
                - key: Content-Type
                  regex: application/json.*
      responses:
        "201":
          description: Success
          headers:
            Location:
              description: location
              schema:
                example: |
                  <p>HTTP/1.1 201 Created</p>
                  <p>Location: https://api.sandbox.velopayments.com/v1/payors/2e144160-e87f-4976-b577-6087e683f419/applications/8701c174-b64a-476a-ab1a-4af27f09f0b8</p>
                type: string
          x-contracts:
            - contractId: 1
              mathers:
                headers:
                  - key: Location
                    predefined: non_blank
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_409"
          description: |
            The request contained data that would result in a duplicate value
      summary: Create Application
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/79a6fdaa-f4bb-47b7-9c1f-f6fd99c156a0/applications' -i -X POST \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer 93560bbb-5e79-492a-97b5-1ffbdf1cfeb8' \
                -d '{"name":"foo","description":"a foo application"}'
      x-contracts:
        - contractId: 1
          contractPath: /v1/payors/835ac62e-616c-4261-bf38-63366db78c0d/applications
          name: Test Create Application
          serviceName: payor-service
  "/v1/payors/{payorId}/applications/{applicationId}/keys":
    post:
      description: |
        <p>Create an an API key for the given payor Id and application Id</p>
        <p>You can create multiple API Keys for a given application</p>
        <p>API Keys are programmatic users for integrating your application with the Velo platform</p>
      operationId: payorCreateApiKeyV1
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
        - description: Application ID
          in: path
          name: applicationId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayorCreateApiKeyRequest"
        description: Details of application API key to create
        required: true
        x-contracts:
          - body:
              description: A key description
              name: Key Name
              roles:
                - velo.payor.admin
            contractId: 4
            headers:
              Content-Type: application/json
            matchers:
              body:
                - path: $.name
                  predefined: non_empty
                  type: by_regex
                - path: $.description
                  predefined: non_empty
                  type: by_regex
                - path: $.roles
                  predefined: non_empty
                  type: by_regex
              headers:
                - key: Content-Type
                  regex: application/json.*
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayorCreateApiKeyResponse"
          description: HTTP Ok, key created
          x-contracts:
            - body:
                apiKey: 385d4506-e7dd-446e-a092-5f30b98e7b26
                apiSecret: f25767d9-342a-48ac-a788-0a7a38ae6fb3
              contractId: 4
              headers:
                Content-Type: application/json
              matchers:
                body:
                  - path: $.apiKey
                    predefined: non_empty
                    type: by_regex
                  - path: $.apiSecret
                    predefined: non_empty
                    type: by_regex
                headers:
                  - key: Content-Type
                    regex: application/json.*
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Create API Key
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/79a6fdaa-f4bb-47b7-9c1f-f6fd99c156a0/applications/ba08877f-9d96-41e4-9c26-44a872d856ae/keys' -i -X POST \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer 698f1609-c616-48f0-b8d5-03373e9fbd40' \
                -d '{"name":"foo","description":"a foo key","roles":["velo.payor.admin"]}'
      x-contracts:
        - contractId: 4
          contractPath: /v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb/applications/ba08877f-9d96-41e4-9c26-44a872d856ae/keys
          name: Create an API key for a payor
          serviceName: payor-service
  "/v1/payors/{payorId}/branding":
    get:
      description: Get the payor branding details.
      operationId: payorGetBranding
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayorBrandingResponse"
          description: HTTP Ok, key created
          x-contracts:
            - body:
                collectiveAlias: customer
                dbaName: FlybyNight Inc
                logoUrl: http://example.com
                payorName: Payor1
                supportContact: support@example.com
              contractId: 1
              matchers:
                body:
                  - path: $.payorName
                    predefined: non_empty
                    type: by_regex
                  - path: $.logoUrl
                    predefined: non_empty
                    type: by_regex
                  - path: $.collectiveAlias
                    predefined: non_empty
                    type: by_regex
                  - path: $.supportContact
                    predefined: non_empty
                    type: by_regex
                  - path: $.dbaName
                    predefined: non_empty
                    type: by_regex
                headers:
                  - key: Content_type
                    regex: application/json.*
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payor Id Not Found
          x-contracts:
            - contractId: 2
      summary: Get Branding
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/450ecb66-df18-4d0c-b557-f718782775df/branding' -i -X GET \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer d60eef1c-bea6-4f7e-8755-e916268ad4ff'
      x-contracts:
        - contractId: 1
          contractPath: /v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb/branding
          description: Test to get branding details for payor
          ignored: false
          label: Payor_Branding
          name: Get Payor Branding Details
          priority: 10
          serviceName: payor-service
        - contractId: 2
          contractPath: /v1/payors/00000000-0000-0000-0000-000000000000/branding
          description: Test to not found status returned by API
          label: Payor_Branding
          name: Get Payor Brandding Details - not found
          priority: 20
          serviceName: payor-service
  "/v1/payors/{payorId}/branding/logos":
    post:
      description: |
        <p>Add Payor Logo</p>
        <p>Logo file is used in your branding and emails sent to payees</p>
      operationId: payorAddPayorLogoV1
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/PayorLogoRequest"
        description: Image file to upload
        required: true
      responses:
        "204":
          description: No Content
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Add Logo
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/450ecb66-df18-4d0c-b557-f718782775df/branding/logos' -i -X POST \
                -H 'Content-Type: multipart/form-data' \
                -F 'logo=@mylogo.png;type=image/png'
  "/v1/payors/{payorId}/reminderEmailsUpdate":
    post:
      description: |
        Update the emailRemindersOptOut field for a Payor. This API can be used to opt out
        or opt into Payor Reminder emails. These emails are typically around payee events
        such as payees registering and onboarding.
      operationId: payorEmailOptOut
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PayorEmailOptOutRequest"
        description: Reminder Emails Opt-Out Request
        required: true
        x-contracts:
          - body:
              reminderEmailsOptOut: true
            contractId: 1
            headers:
              Content-Type: application/json
          - body:
              reminderEmailsOptOut: true
            contractId: 2
            headers:
              Content-Type: application/json
      responses:
        "202":
          description: HTTP Accepted
          x-contracts:
            - contractId: 1
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payor Id Not Found
          x-contracts:
            - contractId: 2
      summary: Reminder Email Opt-Out
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/payors/d8d49d3a-0712-4ad0-bb14-2e308d240233/reminderEmailsUpdate' -i -X POST \
                -H 'Authorization: Bearer fc825fad-e4a7-49e5-b6d9-9b9aa47a19c8' \
                -H 'Content-Type: application/json' \
                -d '{"reminderEmailsOptOut":true}'
      x-contracts:
        - contractId: 1
          contractPath: /v1/payors/0a818933-087d-47f2-ad83-2f986ed087eb/reminderEmailsUpdate
          name: Test Email Opt-Out
          serviceName: payor-service
        - contractId: 2
          contractPath: /v1/payors/00000000-0000-0000-0000-000000000000/reminderEmailsUpdate
          name: Test Not Found
          serviceName: payor-service
  "/v1/sourceAccounts/{sourceAccountId}/notifications":
    post:
      deprecated: true
      description: |
        <p>Set notifications for a given source account</p>
        <p>deprecated since 2.34 (use v3 version)</p>
      operationId: setNotificationsRequest
      parameters:
        - description: Source account id
          in: path
          name: sourceAccountId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SetNotificationsRequest"
        description: Body to included minimum balance to set
        required: true
      responses:
        "204":
          description: Request Fulfilled
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Set notifications
      tags:
        - Source Accounts
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/sourceAccounts/533b082b-b3eb-4712-8242-0fd3a307033f/notifications' -i -X POST \
                -H 'Authorization: Bearer 67c1b4fc-29ce-425c-863b-950163a5e971' \
                -H 'Content-Type: application/json' \
                -d '{"minimumBalance":900}'
  /v1/supportedCountries:
    get:
      deprecated: true
      description: |
        <p>List the supported countries.</p>
        <p>This version will be retired in March 2020. Use /v2/supportedCountries</p>
      operationId: listSupportedCountriesV1
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportedCountriesResponse"
          description: List of Supported Countries
      security: []
      summary: List Supported Countries
      tags:
        - Countries
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/supportedCountries' -i -X GET \
                -H 'Authorization: Bearer 9a7c9010-547f-410e-ac3c-fd6f6701c745'
  /v1/validate:
    post:
      description: |
        <p>The second part of login involves validating using an MFA device</p>
        <p>An access token with PRE_AUTH authorities is required</p>
      operationId: validateAccessToken
      parameters:
        - description: Bearer token authorization leg of validate
          in: header
          name: Authorization
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessTokenValidationRequest"
        description: |
          An OTP from the user's registered MFA Device
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AccessTokenResponse"
          description: User request has been validated
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: validate
      tags:
        - Login
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/validate' -i -X POST \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer 93560bbb-5e79-492a-97b5-1ffbdf1cfeb8' \
                -d '{"otp":"123456"}'
  /v1/webhooks:
    description: List the details about the webhooks for the given payor.
    get:
      description: List the details about the webhooks for the given payor.
      operationId: listWebhooksV1
      parameters:
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: The Payor ID
          in: query
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhooksResponse"
          description: Webhook response
        "400":
          description: Invalid Request Parameters
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: List the details about the webhooks for the given payor.
      tags:
        - Webhooks
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/webhooks?payorId=a2967711-df07-41e5-b5ea-f563088911c6' -i -X GET \
                -H 'Authorization: Bearer 757a7dbf-2afb-45ec-877c-2aa3857c8e08'
    post:
      description: Create Webhook
      operationId: createWebhookV1
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateWebhookRequest"
      responses:
        "201":
          description: Webhook Created
          headers:
            Location:
              description: Reference to Webhook object
              schema:
                type: string
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Create Webhook
      tags:
        - Webhooks
    summary: List Webhooks
  "/v1/webhooks/{webhookId}":
    description: Get details about the given webhook.
    get:
      description: Get details about the given webhook.
      operationId: getWebhookV1
      parameters:
        - description: Webhook id
          in: path
          name: webhookId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WebhookResponse"
          description: Webhook response
        "400":
          description: Bad Request, Invalid path parameter
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Get details about the given webhook.
      tags:
        - Webhooks
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/webhooks/126895a8-ba3d-44e8-9b34-84ee579cee7a' -i -X GET \
                -H 'Authorization: Bearer a016f840-dafc-4b10-95f5-70ecc75a02d1'
    post:
      description: Update Webhook
      operationId: updateWebhookV1
      parameters:
        - description: Webhook id
          in: path
          name: webhookId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateWebhookRequest"
      responses:
        "204":
          description: Webhook Updated
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Update Webhook
      tags:
        - Webhooks
    summary: Get Webhook
  "/v1/webhooks/{webhookId}/ping":
    description: Trigger an immediate ping notification to the webhook
    post:
      operationId: pingWebhookV1
      parameters:
        - description: Webhook id
          in: path
          name: webhookId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "202":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PingResponse"
          description: Send ping
        "400":
          description: Bad Request, Invalid path parameter
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      tags:
        - Webhooks
    summary: Ping Webhook
  /v2/currencies:
    get:
      description: List the supported currencies.
      operationId: listSupportedCurrenciesV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportedCurrencyResponseV2"
          description: List Supported Currencies
      security: []
      summary: List Supported Currencies
      tags:
        - Currencies
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/currencies' -i -X GET
  /v2/fundingAccounts:
    get:
      description: Get the funding accounts.
      operationId: getFundingAccountsV2
      parameters:
        - in: query
          name: payorId
          required: false
          schema:
            format: uuid
            type: string
        - description: The descriptive funding account name
          in: query
          name: name
          required: false
          schema:
            type: string
        - description: The 2 letter ISO 3166-1 country code (upper case)
          in: query
          name: country
          required: false
          schema:
            example: US
            type: string
        - description: The ISO 4217 currency code
          in: query
          name: currency
          required: false
          schema:
            example: USD
            type: string
        - description: The type of funding account.
          in: query
          name: type
          required: false
          schema:
            $ref: "#/components/schemas/FundingAccountTypeV2"
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: List of sort fields (e.g. ?sort=accountName:asc,name:asc) Default is accountName:asc The supported sort fields are - accountName, name.
          in: query
          name: sort
          required: false
          schema:
            default: accountName:asc
            pattern: "[a-zA-Z]+[:desc|:asc]"
            type: string
        - in: query
          name: sensitive
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFundingAccountsResponseV2"
          description: Get Funding Accounts Response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Get Funding Accounts
      tags:
        - Funding
    post:
      description: Create Funding Account
      operationId: createFundingAccountV2
      requestBody:
        content:
          application/json:
            examples:
              fbo:
                summary: FBO Example
                value:
                  accountName: My Account Name
                  accountNumber: 1231231234556
                  name: My FBO Account
                  payorId: ee53e01d-c078-43fd-abd4-47e92f4a06cf
                  routingNumber: 123456789
                  type: FBO
              private:
                summary: PRIVATE Example
                value:
                  accountName: My Account Name
                  accountNumber: 1231231234556
                  currency: AUD
                  name: My PRIVATE Account
                  payorId: ee53e01d-c078-43fd-abd4-47e92f4a06cf
                  routingNumber: 123456789
                  type: PRIVATE
              wubs:
                summary: WUBS
                value:
                  currency: USD
                  name: My WUBS Account
                  payorId: ee53e01d-c078-43fd-abd4-47e92f4a06cf
                  type: WUBS_DECOUPLED
            schema:
              $ref: "#/components/schemas/CreateFundingAccountRequestV2"
      responses:
        "202":
          description: Funding Account Creation Request Accepted
          headers:
            Location:
              description: Reference to status object
              schema:
                format: uri
                type: string
            Retry-After:
              description: How long the user agent should wait before making a follow-up request (seconds)
              schema:
                type: integer
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Create Funding Account
      tags:
        - Funding Manager Private
  "/v2/fundingAccounts/{fundingAccountId}":
    get:
      description: Get Funding Account by ID
      operationId: getFundingAccountV2
      parameters:
        - in: path
          name: fundingAccountId
          required: true
          schema:
            format: uuid
            type: string
        - in: query
          name: sensitive
          required: false
          schema:
            default: false
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FundingAccountResponseV2"
          description: Funding Account Response
        "400":
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Get Funding Account
      tags:
        - Funding
  "/v2/payors/{payorId}":
    get:
      description: |
        Get a Single Payor by Id.
      operationId: getPayorByIdV2
      parameters:
        - description: The Payor Id
          in: path
          name: payorId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PayorV2"
          description: Get Payor Details
          x-contracts:
            - body:
                address:
                  city: San Francisco
                  country: US
                  line1: 101 California Street
                  zipOrPostcode: 94111
                allowsLanguageChoice: false
                collectiveAlias: MyAlias
                dbaName: FlyByNight, Inc
                kycState: PASSED_KYC
                language: EN
                manualLockout: false
                maxMasterPayorAdmins: 2
                payeeGracePeriodDays: 90
                payeeGracePeriodProcessingEnabled: true
                payorId: 0a818933-087d-47f2-ad83-2f986ed087eb
                payorName: Joe
                payorXid: ABC_12345678
                primaryContactEmail: foo@example.com
                primaryContactName: Joe
                primaryContactPhone: 1231231234
                reminderEmailsOptOut: false
                supportContact: support@example.com
              contractId: 1
              headers:
                Content-Type: application/json;charset=UTF-8
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
          description: Payor Id Not Found
          x-contracts:
            - contractId: 2
      summary: Get Payor
      tags:
        - Payors
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/payors/126969bd-6a18-47ec-96e1-57559afecf32' -i -X GET \
                -H 'Authorization: Bearer 3387c417-464c-41a6-b25e-6630f0a06093' \
                -H 'Content-Type: application/json'
      x-contracts:
        - contractId: 1
          contractPath: /v2/payors/0a818933-087d-47f2-ad83-2f986ed087eb
          name: Test Get Payor V2
          serviceName: payor-service
        - contractId: 2
          contractPath: /v2/payors/00000000-0000-0000-0000-000000000000
          name: Test Payor Not Found V2
          serviceName: payor-service
  /v2/sourceAccounts:
    description: List Source Accounts
    get:
      deprecated: true
      description: List source accounts.
      operationId: getSourceAccountsV2
      parameters:
        - description: Physical Account Name
          in: query
          name: physicalAccountName
          required: false
          schema:
            type: string
        - description: The physical account ID
          in: query
          name: physicalAccountId
          required: false
          schema:
            format: uuid
            type: string
        - description: The account owner Payor ID
          in: query
          name: payorId
          required: false
          schema:
            format: uuid
            type: string
        - description: The funding account ID
          in: query
          name: fundingAccountId
          required: false
          schema:
            format: uuid
            type: string
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: |
            List of sort fields e.g. ?sort=name:asc
            Default is name:asc
            The supported sort fields are - fundingRef, name, balance
          in: query
          name: sort
          required: false
          schema:
            default: fundingRef:asc
            pattern: "[fundingRef|name|balance]+[:desc|:asc]"
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSourceAccountResponseV2"
          description: List Source Account response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Get list of source accounts
      tags:
        - Source Accounts
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/sourceAccounts?payorId=a2967711-df07-41e5-b5ea-f563088911c6' -i -X GET \
                -H 'Authorization: Bearer 757a7dbf-2afb-45ec-877c-2aa3857c8e08'
    summary: List Source Accounts
  "/v2/sourceAccounts/{sourceAccountId}":
    get:
      deprecated: true
      description: Get details about given source account.
      operationId: getSourceAccountV2
      parameters:
        - description: Source account id
          in: path
          name: sourceAccountId
          required: true
          schema:
            format: uuid
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SourceAccountResponseV2"
          description: Source account response
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Get Source Account
      tags:
        - Source Accounts
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/sourceAccounts/126895a8-ba3d-44e8-9b34-84ee579cee7a' -i -X GET \
                -H 'Authorization: Bearer a016f840-dafc-4b10-95f5-70ecc75a02d1'
  "/v2/sourceAccounts/{sourceAccountId}/fundingRequest":
    post:
      deprecated: true
      description: Instruct a funding request to transfer funds from the payor’s funding bank to the payor’s balance held within Velo  (202 - accepted, 400 - invalid request body, 404 - source account not found).
      operationId: createFundingRequestV2
      parameters:
        - description: Source account id
          in: path
          name: sourceAccountId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/FundingRequestV2"
        description: Body to included amount to be funded
        required: true
      responses:
        "202":
          description: Request Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Create Funding Request
      tags:
        - Funding
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/sourceAccounts/533b082b-b3eb-4712-8242-0fd3a307033f/fundingRequest' -i -X POST \
                -H 'Authorization: Bearer 67c1b4fc-29ce-425c-863b-950163a5e971' \
                -H 'Content-Type: application/json' \
                -d '{"amount":999990}'
  "/v2/sourceAccounts/{sourceAccountId}/transfers":
    post:
      deprecated: true
      description: Transfer funds between source accounts for a Payor. The 'from' source account is identified in the URL, and is the account which will be debited. The 'to' (destination) source account is in the body, and is the account which will be credited. Both source accounts must belong to the same Payor. There must be sufficient balance in the 'from' source account, otherwise the transfer attempt will fail.
      operationId: transferFundsV2
      parameters:
        - description: The 'from' source account id, which will be debited
          in: path
          name: sourceAccountId
          required: true
          schema:
            format: uuid
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TransferRequestV2"
        description: Body
        required: true
      responses:
        "204":
          description: Request Processed
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_404"
          description: |
            The resource was not found or is no longer available
      summary: Transfer Funds between source accounts
      tags:
        - Source Accounts
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/sourceAccounts/533b082b-b3eb-4712-8242-0fd3a307033f/transfers' -i -X POST \
                -H 'Authorization: Bearer 67c1b4fc-29ce-425c-863b-950163a5e971' \
                -H 'Content-Type: application/json' \
                -d '{ "toSourceAccountId": "a99f93f9-6845-451d-a1f5-f3c841599dd7", "amount": 10000, "currency": "USD" }'
  /v2/supportedCountries:
    get:
      description: List the supported countries.
      operationId: listSupportedCountriesV2
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SupportedCountriesResponseV2"
          description: List of Supported Countries
      security: []
      summary: List Supported Countries
      tags:
        - Countries
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v1/supportedCountries' -i -X GET
  /v2/users:
    get:
      description: Get a paginated response listing the Users
      operationId: listUsers
      parameters:
        - description: The Type of the User.
          in: query
          name: type
          required: false
          schema:
            $ref: "#/components/schemas/UserType"
        - description: The status of the User.
          in: query
          name: status
          required: false
          schema:
            $ref: "#/components/schemas/UserStatus"
        - description: The entityId of the User.
          in: query
          name: entityId
          required: false
          schema:
            format: uuid
            type: string
        - description: The Type of the Payee entity. Either COMPANY or INDIVIDUAL.
          in: query
          name: payeeType
          required: false
          schema:
            $ref: "#/components/schemas/PayeeType"
        - description: Page number. Default is 1.
          in: query
          name: page
          required: false
          schema:
            default: 1
            format: int32
            type: integer
        - description: The number of results to return in a page
          in: query
          name: pageSize
          required: false
          schema:
            default: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
        - description: |
            List of sort fields (e.g. ?sort=email:asc,lastName:asc)
            Default is email:asc 'name'
            The supported sort fields are - email, lastNmae.
          in: query
          name: sort
          required: false
          schema:
            default: email:asc
            pattern: "[a-zA-Z]+[:desc|:asc]"
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PagedUserResponse"
          description: Paginated list of Users filtered by query parameters
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: List Users
      tags:
        - Users
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/users?pageSize=2&page=8&status=DISABLED' -i -X GET \
                -H 'Authorization: Bearer 6dd5e976-e329-462f-bd6b-25d463cf02fd' \
                -H 'Content-Type: application/json'
  /v2/users/invite:
    post:
      description: |
        Create a User and invite them to the system
      operationId: inviteUser
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InviteUserRequest"
        description: Details of User to invite
        required: true
      responses:
        "204":
          description: No Content. The user was invited successfully
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_409"
          description: |
            The request contained data that would result in a duplicate value
        "412":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_412"
          description: |
            The request could not be completed as a precondition was not met
      summary: Invite a User
      tags:
        - Users
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/users/invite' -i -X POST \
                -H 'Content-Type: application/json' \
                -H 'Authorization: Bearer 93560bbb-5e79-492a-97b5-1ffbdf1cfeb8' \
                -d '{"email":"foo@example.com", \
                    "mfaType":"YUBIKEY", \
                    "smsNumber":"+4411223344556", \
                    "primaryContactNumber":"+4411223344556", \
                    "secondaryContactNumber":null, \
                    "roles":["payor.admin"], \
                    "firstName":"Foo", \
                    "lastName":"Bar", \
                    "entityId":"f84e437a-50a4-4e45-9223-e0601e370a79", \
                    "verificationCode":null \
                    }'
  /v2/users/registration/sms:
    post:
      description: |
        <p>Register an Sms number and send an OTP to it </p>
        <p>Used for manual verification of a user </p>
        <p>The backoffice user initiates the request to send the OTP to the user's sms </p>
        <p>The user then reads back the OTP which the backoffice user enters in the verifactionCode property for requests that require it</p>
      operationId: registerSms
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterSmsRequest"
        description: a SMS Number to send an OTP to
        required: true
      responses:
        "204":
          description: request completed okay
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Register SMS Number
      tags:
        - Users
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/users/registration/sms' -i -X POST \
                  -H 'Authorization: Bearer 147c0008-2ec1-4009-9e2e-1f435f02a69b' \
                  -H 'Content-Type: application/json' \
                  -d '{"smsNumber":"+4411223344556"}'
  /v2/users/self:
    get:
      description: |
        Get the user's details
      operationId: getSelf
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserResponse"
          description: Get User Details
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_403"
          description: |
            The authentication does not have permissions to access the resource
            This usually occurs when there is a valid authentication instance (client or user) but they do not have the required permissions
      summary: Get Self
      tags:
        - Users
      x-code-samples:
        - lang: shell
          source: |
            $ curl 'https://api.sandbox.velopayments.com/v2/users/self' -i -X GET \
                -H 'Authorization: Bearer 3387c417-464c-41a6-b25e-6630f0a06093' \
                -H 'Content-Type: application/json'
  /v2/users/self/mfa/unregister:
    post:
      description: |
        <p>Unregister the MFA device for the user </p>
        <p>If the user does not require further verification then a register new MFA device token will be sent to them via their email address</p>
      operationId: unregisterMFAForSelf
      parameters:
        - description: Bearer token authorization leg of validate
          in: header
          name: Authorization
          required: false
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SelfMFATypeUnregisterRequest"
        description: The MFA Type to unregister
        required: true
      responses:
        "204":
          description: the MFA Type to unregister
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_400"
          description: Invalid request. See Error message payload for details of failure
        "401":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/inline_response_401"
          description: Invalid access token. May be expired or invalid
        "403":
          content:
            application/json:
[...]
