openapi: 3.0.0
servers:
  - url: https://api.meraki.com/api/v1
info:
  contact:
    name: Meraki Developer Community
    url: https://meraki.io/community
    x-twitter: meraki
  description: |
    The Cisco Meraki Dashboard API is a modern REST API based on the OpenAPI specification.

    > Date: 22 February, 2023
    >
    > [Recent Updates](https://meraki.io/whats-new/)

    ---

    [API Documentation](https://meraki.io/api)

    [Community Support](https://meraki.io/community)

    [Meraki Homepage](https://www.meraki.com)
  title: Meraki Dashboard API
  version: v1.31.0
  x-apisguru-categories:
    - iot
    - enterprise
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_n140.meraki.com_images_cisco-meraki.png
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/meraki/openapi/master/openapi/spec2.json
      version: "3.0"
  x-preferred: false
  x-providerName: meraki.com
security:
  - meraki_api_key: []
tags:
  - name: organizations
  - name: networks
  - name: devices
  - name: insight
  - name: wireless
  - name: camera
  - name: appliance
  - name: switch
  - name: cellularGateway
  - name: sm
  - name: sensor
  - name: administered
  - name: accessControlLists
  - name: accessPolicies
  - name: acls
  - name: actionBatches
  - name: adaptivePolicy
  - name: addresses
  - name: admins
  - name: airMarshal
  - name: alertTypes
  - name: alerts
  - name: alternateManagementInterface
  - name: analytics
  - name: apiRequests
  - name: apnsCert
  - name: appliances
  - name: applicationCategories
  - name: applicationUsage
  - name: applications
  - name: arpInspection
  - name: artifacts
  - name: authenticationToken
  - name: availabilities
  - name: bandwidthUsageHistory
  - name: bgp
  - name: billing
  - name: bluetooth
  - name: bluetoothClients
  - name: bonjourForwarding
  - name: brandingPolicies
  - name: byClient
  - name: byDevice
  - name: byEnergyUsage
  - name: byInterval
  - name: byMetric
  - name: bySwitch
  - name: byUsage
  - name: byUtilization
  - name: bypassActivationLockAttempts
  - name: categories
  - name: cellular
  - name: cellularFirewallRules
  - name: cellularUsageHistory
  - name: certs
  - name: channelUtilization
  - name: channelUtilizationHistory
  - name: claim
  - name: clientCountHistory
  - name: clients
  - name: cloudMonitoring
  - name: configTemplates
  - name: configurationChanges
  - name: configure
  - name: connectionStats
  - name: connectivity
  - name: connectivityEvents
  - name: connectivityMonitoringDestinations
  - name: contentFiltering
  - name: coterm
  - name: current
  - name: customAnalytics
  - name: customPerformanceClasses
  - name: dataRateHistory
  - name: delegated
  - name: desktopLogs
  - name: deviceCommandLogs
  - name: deviceProfiles
  - name: deviceTypeGroupPolicies
  - name: dhcp
  - name: dhcpServerPolicy
  - name: dscpTaggingOptions
  - name: dscpToCosMappings
  - name: eapOverride
  - name: earlyAccess
  - name: ethernet
  - name: eventTypes
  - name: events
  - name: exportEvents
  - name: failedConnections
  - name: features
  - name: fields
  - name: firewall
  - name: firewalledServices
  - name: firmware
  - name: firmwareUpgrades
  - name: floorPlans
  - name: groupPolicies
  - name: groups
  - name: health
  - name: healthByTime
  - name: history
  - name: hotspot20
  - name: httpServers
  - name: identities
  - name: identityPsks
  - name: idps
  - name: imports
  - name: inboundCellularFirewallRules
  - name: inboundFirewallRules
  - name: interfaces
  - name: intrusion
  - name: inventory
  - name: l3FirewallRules
  - name: l7FirewallRules
  - name: lan
  - name: latencyHistory
  - name: latencyStats
  - name: latest
  - name: licenses
  - name: licensing
  - name: linkAggregations
  - name: linkLayer
  - name: live
  - name: liveTools
  - name: lldpCdp
  - name: loginSecurity
  - name: logs
  - name: lossAndLatencyHistory
  - name: malware
  - name: managementInterface
  - name: manufacturers
  - name: me
  - name: merakiAuthUsers
  - name: meshStatuses
  - name: models
  - name: monitor
  - name: monitoredMediaServers
  - name: mqttBrokers
  - name: mtu
  - name: multicast
  - name: netflow
  - name: networkAdapters
  - name: networkHealth
  - name: objectDetectionModels
  - name: onboarding
  - name: oneToManyNatRules
  - name: oneToOneNatRules
  - name: openapiSpec
  - name: optIns
  - name: order
  - name: ospf
  - name: overview
  - name: packets
  - name: payloadTemplates
  - name: performance
  - name: performanceHistory
  - name: pii
  - name: piiKeys
  - name: ping
  - name: pingDevice
  - name: policies
  - name: policy
  - name: policyObjects
  - name: portForwardingRules
  - name: portSchedules
  - name: ports
  - name: powerModules
  - name: prefixes
  - name: priorities
  - name: profiles
  - name: qosRules
  - name: qualityAndRetention
  - name: qualityRetentionProfiles
  - name: radio
  - name: readings
  - name: recent
  - name: relationships
  - name: rendezvousPoints
  - name: requests
  - name: responseCodes
  - name: restrictions
  - name: rfProfiles
  - name: rollbacks
  - name: routing
  - name: rules
  - name: saml
  - name: samlRoles
  - name: schedules
  - name: search
  - name: security
  - name: securityCenters
  - name: seen
  - name: sense
  - name: servers
  - name: settings
  - name: signalQualityHistory
  - name: sims
  - name: singleLan
  - name: siteToSiteVpn
  - name: smDevicesForKey
  - name: smOwnersForKey
  - name: snmp
  - name: softwares
  - name: splash
  - name: splashAuthorizationStatus
  - name: splashLoginAttempts
  - name: ssids
  - name: stacks
  - name: staged
  - name: stages
  - name: staticRoutes
  - name: statics
  - name: stats
  - name: status
  - name: statuses
  - name: stormControl
  - name: stp
  - name: subnetPool
  - name: subnets
  - name: summary
  - name: switches
  - name: syslogServers
  - name: targetGroups
  - name: thirdPartyVPNPeers
  - name: top
  - name: topology
  - name: traffic
  - name: trafficAnalysis
  - name: trafficHistory
  - name: trafficShaping
  - name: trustedAccessConfigs
  - name: trustedServers
  - name: upgrades
  - name: uplink
  - name: uplinkBandwidth
  - name: uplinkSelection
  - name: uplinks
  - name: uplinksLossAndLatency
  - name: usageHistories
  - name: usageHistory
  - name: userAccessDevices
  - name: users
  - name: v4
  - name: video
  - name: videoLink
  - name: vlanAssignments
  - name: vlans
  - name: vmx
  - name: vpn
  - name: vpnFirewallRules
  - name: vppAccounts
  - name: warmSpare
  - name: warnings
  - name: webhookTests
  - name: webhooks
  - name: wirelessProfiles
  - name: wlanLists
  - name: zones
paths:
  /administered/identities/me:
    get:
      description: Returns the identity of the current user.
      operationId: getAdministeredIdentitiesMe
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    authentication:
                      api:
                        key:
                          created: true
                      mode: email
                      saml:
                        enabled: false
                      twoFactor:
                        enabled: false
                    email: miles@meraki.com
                    lastUsedDashboardAt: 2018-02-11T00:00:00.090210Z
                    name: Miles Meraki
              schema:
                properties:
                  authentication:
                    description: Authentication info
                    properties:
                      api:
                        description: API authentication
                        properties:
                          key:
                            description: API key
                            properties:
                              created:
                                description: If API key is created for this user
                                type: boolean
                            type: object
                        type: object
                      mode:
                        description: Authentication mode
                        type: string
                      saml:
                        description: SAML authentication
                        properties:
                          enabled:
                            description: If SAML authentication is enabled for this user
                            type: boolean
                        type: object
                      twoFactor:
                        description: TwoFactor authentication
                        properties:
                          enabled:
                            description: If twoFactor authentication is enabled for this user
                            type: boolean
                        type: object
                    type: object
                  email:
                    description: User email
                    type: string
                  lastUsedDashboardAt:
                    description: Last seen active on Dashboard UI
                    format: date-time
                    type: string
                  name:
                    description: Username
                    type: string
                type: object
          description: Successful operation
      summary: Returns the identity of the current user.
      tags:
        - administered
        - monitor
        - identities
        - me
  "/devices/{serial}":
    get:
      description: Return a single device
      operationId: getDevice
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    address: 1600 Pennsylvania Ave
                    beaconIdParams:
                      major: 5
                      minor: 3
                      uuid: 00000000-0000-0000-0000-000000000000
                    firmware: wireless-25-14
                    floorPlanId: g_1234567
                    lanIp: 1.2.3.4
                    lat: 37.4180951010362
                    lng: -122.098531723022
                    mac: 00:11:22:33:44:55
                    model: MR34
                    name: My AP
                    networkId: N_24329156
                    notes: My AP's note
                    serial: Q234-ABCD-5678
                    tags:
                      - recently-added
              schema:
                type: object
          description: Successful operation
      summary: Return a single device
      tags:
        - devices
        - configure
    put:
      description: Update the attributes of a device
      operationId: updateDevice
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                lat: 37.4180951010362
                lng: -122.098531723022
                mac: 00:11:22:33:44:55
                name: My AP
                serial: Q234-ABCD-5678
                tags:
                  - recently-added
              properties:
                address:
                  description: The address of a device
                  type: string
                floorPlanId:
                  description: The floor plan to associate to this device. null disassociates the device from the floorplan.
                  type: string
                lat:
                  description: The latitude of a device
                  format: float
                  type: number
                lng:
                  description: The longitude of a device
                  format: float
                  type: number
                moveMapMarker:
                  description: Whether or not to set the latitude and longitude of a device based on the new address. Only applies when lat and lng are not specified.
                  type: boolean
                name:
                  description: The name of a device
                  type: string
                notes:
                  description: The notes for the device. String. Limited to 255 characters.
                  type: string
                switchProfileId:
                  description: The ID of a switch profile to bind to the device (for available switch profiles, see the 'Switch Profiles' endpoint). Use null to unbind the switch device from the current profile. For a device to be bindable to a switch profile, it must (1) be a switch, and (2) belong to a network that is bound to a configuration template.
                  type: string
                tags:
                  description: The list of tags of a device
                  items:
                    type: string
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    address: 1600 Pennsylvania Ave
                    beaconIdParams:
                      major: 5
                      minor: 3
                      uuid: 00000000-0000-0000-0000-000000000000
                    firmware: wireless-25-14
                    floorPlanId: g_1234567
                    lanIp: 1.2.3.4
                    lat: 37.4180951010362
                    lng: -122.098531723022
                    mac: 00:11:22:33:44:55
                    model: MR34
                    name: My AP
                    networkId: N_24329156
                    notes: My AP's note
                    serial: Q234-ABCD-5678
                    tags:
                      - recently-added
              schema:
                type: object
          description: Successful operation
      summary: Update the attributes of a device
      tags:
        - devices
        - configure
  "/devices/{serial}/appliance/dhcp/subnets":
    get:
      description: Return the DHCP subnet information for an appliance
      operationId: getDeviceApplianceDhcpSubnets
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - freeCount: 251
                      subnet: 192.168.1.0/24
                      usedCount: 2
                      vlanId: 100
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return the DHCP subnet information for an appliance
      tags:
        - appliance
        - monitor
        - dhcp
        - subnets
  "/devices/{serial}/appliance/performance":
    get:
      description: Return the performance score for a single MX. Only primary MX devices supported. If no data is available, a 204 error code is returned.
      operationId: getDeviceAppliancePerformance
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    perfScore: 10
              schema:
                type: object
          description: Successful operation
      summary: Return the performance score for a single MX
      tags:
        - appliance
        - monitor
        - performance
  "/devices/{serial}/appliance/prefixes/delegated":
    get:
      description: Return current delegated IPv6 prefixes on an appliance.
      operationId: getDeviceAppliancePrefixesDelegated
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - counts:
                        assigned: 2
                        available: 253
                      description: My ISP provider
                      expiresAt: 2018-05-12T00:00:00Z
                      isPreferred: true
                      method: auto
                      origin:
                        interface: wan1
                      prefix: 2001:db8:3c4d:15::/64
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return current delegated IPv6 prefixes on an appliance.
      tags:
        - appliance
        - monitor
        - prefixes
        - delegated
  "/devices/{serial}/appliance/prefixes/delegated/vlanAssignments":
    get:
      description: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      operationId: getDeviceAppliancePrefixesDelegatedVlanAssignments
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - ipv6:
                        address: 2001:db8:3c4d:15::1
                        linkLocal:
                          address: 2001:db8:3c4d:15::1
                        prefix: 2001:db8:3c4d:15::/64
                        solicitedNodeMulticast:
                          address: 2001:db8:3c4d:15::1
                      origin:
                        interface: wan1
                        prefix: 2001:db8:3c4d:15::/64
                      status: Active
                      vlan:
                        id: 100
                        name: My VLAN
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return prefixes assigned to all IPv6 enabled VLANs on an appliance.
      tags:
        - appliance
        - monitor
        - prefixes
        - delegated
        - vlanAssignments
  "/devices/{serial}/appliance/uplinks/settings":
    get:
      description: Return the uplink settings for an MX appliance
      operationId: getDeviceApplianceUplinksSettings
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    interfaces:
                      wan1:
                        enabled: true
                        pppoe:
                          authentication:
                            enabled: true
                            username: username
                          enabled: true
                        svis:
                          ipv4:
                            address: 9.10.11.10/16
                            assignmentMode: static
                            gateway: 13.14.15.16
                            nameservers:
                              addresses:
                                - 1.2.3.4
                          ipv6:
                            address: 1:2:3::4
                            assignmentMode: static
                            gateway: 1:2:3::5
                            nameservers:
                              addresses:
                                - 1001:4860:4860::8888
                                - 1001:4860:4860::8844
                        vlanTagging:
                          enabled: true
                          vlanId: 1
                      wan2:
                        enabled: true
                        pppoe:
                          authentication:
                            enabled: true
                            username: username
                          enabled: true
                        svis:
                          ipv4:
                            address: 9.10.11.10/16
                            assignmentMode: static
                            gateway: 13.14.15.16
                            nameservers:
                              addresses:
                                - 1.2.3.4
                          ipv6:
                            address: 1:2:3::4
                            assignmentMode: static
                            gateway: 1:2:3::5
                            nameservers:
                              addresses:
                                - 1001:4860:4860::8888
                                - 1001:4860:4860::8844
                        vlanTagging:
                          enabled: true
                          vlanId: 1
              schema:
                properties:
                  interfaces:
                    description: Interface settings.
                    properties:
                      wan1:
                        description: WAN 1 settings.
                        properties:
                          enabled:
                            description: Enable or disable the interface.
                            type: boolean
                          pppoe:
                            description: Configuration options for PPPoE.
                            properties:
                              authentication:
                                description: Settings for PPPoE Authentication.
                                properties:
                                  enabled:
                                    description: Whether PPPoE authentication is enabled.
                                    type: boolean
                                  username:
                                    description: Username for PPPoE authentication.
                                    type: string
                                type: object
                              enabled:
                                description: Whether PPPoE is enabled.
                                type: boolean
                            type: object
                          svis:
                            description: SVI settings by protocol.
                            properties:
                              ipv4:
                                description: IPv4 settings for static/dynamic mode.
                                properties:
                                  address:
                                    description: IP address and subnet mask when in static mode.
                                    type: string
                                  assignmentMode:
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                    enum:
                                      - dynamic
                                      - static
                                    type: string
                                  gateway:
                                    description: Gateway IP address when in static mode.
                                    type: string
                                  nameservers:
                                    description: The nameserver settings for this SVI.
                                    properties:
                                      addresses:
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                        items:
                                          type: string
                                        type: array
                                    type: object
                                type: object
                              ipv6:
                                description: IPv6 settings for static/dynamic mode.
                                properties:
                                  address:
                                    description: Static address that will override the one(s) received by SLAAC.
                                    type: string
                                  assignmentMode:
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                    enum:
                                      - dynamic
                                      - static
                                    type: string
                                  gateway:
                                    description: Static gateway that will override the one received by autoconf.
                                    type: string
                                  nameservers:
                                    description: The nameserver settings for this SVI.
                                    properties:
                                      addresses:
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                        items:
                                          type: string
                                        type: array
                                    type: object
                                type: object
                            type: object
                          vlanTagging:
                            description: VLAN tagging settings.
                            properties:
                              enabled:
                                description: Whether VLAN tagging is enabled.
                                type: boolean
                              vlanId:
                                description: The ID of the VLAN to use for VLAN tagging.
                                type: integer
                            type: object
                        type: object
                      wan2:
                        description: WAN 2 settings.
                        properties:
                          enabled:
                            description: Enable or disable the interface.
                            type: boolean
                          pppoe:
                            description: Configuration options for PPPoE.
                            properties:
                              authentication:
                                description: Settings for PPPoE Authentication.
                                properties:
                                  enabled:
                                    description: Whether PPPoE authentication is enabled.
                                    type: boolean
                                  username:
                                    description: Username for PPPoE authentication.
                                    type: string
                                type: object
                              enabled:
                                description: Whether PPPoE is enabled.
                                type: boolean
                            type: object
                          svis:
                            description: SVI settings by protocol.
                            properties:
                              ipv4:
                                description: IPv4 settings for static/dynamic mode.
                                properties:
                                  address:
                                    description: IP address and subnet mask when in static mode.
                                    type: string
                                  assignmentMode:
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                    enum:
                                      - dynamic
                                      - static
                                    type: string
                                  gateway:
                                    description: Gateway IP address when in static mode.
                                    type: string
                                  nameservers:
                                    description: The nameserver settings for this SVI.
                                    properties:
                                      addresses:
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                        items:
                                          type: string
                                        type: array
                                    type: object
                                type: object
                              ipv6:
                                description: IPv6 settings for static/dynamic mode.
                                properties:
                                  address:
                                    description: Static address that will override the one(s) received by SLAAC.
                                    type: string
                                  assignmentMode:
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                    enum:
                                      - dynamic
                                      - static
                                    type: string
                                  gateway:
                                    description: Static gateway that will override the one received by autoconf.
                                    type: string
                                  nameservers:
                                    description: The nameserver settings for this SVI.
                                    properties:
                                      addresses:
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                        items:
                                          type: string
                                        type: array
                                    type: object
                                type: object
                            type: object
                          vlanTagging:
                            description: VLAN tagging settings.
                            properties:
                              enabled:
                                description: Whether VLAN tagging is enabled.
                                type: boolean
                              vlanId:
                                description: The ID of the VLAN to use for VLAN tagging.
                                type: integer
                            type: object
                        type: object
                    type: object
                type: object
          description: Successful operation
      summary: Return the uplink settings for an MX appliance
      tags:
        - appliance
        - configure
        - uplinks
        - settings
    put:
      description: Update the uplink settings for an MX appliance
      operationId: updateDeviceApplianceUplinksSettings
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                interfaces:
                  wan1:
                    enabled: true
                    pppoe:
                      authentication:
                        enabled: true
                        password: password
                        username: username
                      enabled: true
                    svis:
                      ipv4:
                        address: 9.10.11.10/16
                        assignmentMode: static
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                            - 1.2.3.4
                      ipv6:
                        address: 1:2:3::4
                        assignmentMode: static
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                            - 1001:4860:4860::8888
                            - 1001:4860:4860::8844
                    vlanTagging:
                      enabled: true
                      vlanId: 1
                  wan2:
                    enabled: true
                    pppoe:
                      authentication:
                        enabled: true
                        password: password
                        username: username
                      enabled: true
                    svis:
                      ipv4:
                        address: 9.10.11.10/16
                        assignmentMode: static
                        gateway: 13.14.15.16
                        nameservers:
                          addresses:
                            - 1.2.3.4
                      ipv6:
                        address: 1:2:3::4
                        assignmentMode: static
                        gateway: 1:2:3::5
                        nameservers:
                          addresses:
                            - 1001:4860:4860::8888
                            - 1001:4860:4860::8844
                    vlanTagging:
                      enabled: true
                      vlanId: 1
              properties:
                interfaces:
                  description: Interface settings.
                  properties:
                    wan1:
                      description: WAN 1 settings.
                      properties:
                        enabled:
                          description: Enable or disable the interface.
                          type: boolean
                        pppoe:
                          description: Configuration options for PPPoE.
                          properties:
                            authentication:
                              description: Settings for PPPoE Authentication.
                              properties:
                                enabled:
                                  description: Whether PPPoE authentication is enabled.
                                  type: boolean
                                password:
                                  description: Password for PPPoE authentication. This parameter is not returned.
                                  type: string
                                username:
                                  description: Username for PPPoE authentication.
                                  type: string
                              type: object
                            enabled:
                              description: Whether PPPoE is enabled.
                              type: boolean
                          type: object
                        svis:
                          description: SVI settings by protocol.
                          properties:
                            ipv4:
                              description: IPv4 settings for static/dynamic mode.
                              properties:
                                address:
                                  description: IP address and subnet mask when in static mode.
                                  type: string
                                assignmentMode:
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  enum:
                                    - dynamic
                                    - static
                                  type: string
                                gateway:
                                  description: Gateway IP address when in static mode.
                                  type: string
                                nameservers:
                                  description: The nameserver settings for this SVI.
                                  properties:
                                    addresses:
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                      items:
                                        type: string
                                      type: array
                                  type: object
                              type: object
                            ipv6:
                              description: IPv6 settings for static/dynamic mode.
                              properties:
                                address:
                                  description: Static address that will override the one(s) received by SLAAC.
                                  type: string
                                assignmentMode:
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  enum:
                                    - dynamic
                                    - static
                                  type: string
                                gateway:
                                  description: Static gateway that will override the one received by autoconf.
                                  type: string
                                nameservers:
                                  description: The nameserver settings for this SVI.
                                  properties:
                                    addresses:
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                      items:
                                        type: string
                                      type: array
                                  type: object
                              type: object
                          type: object
                        vlanTagging:
                          description: VLAN tagging settings.
                          properties:
                            enabled:
                              description: Whether VLAN tagging is enabled.
                              type: boolean
                            vlanId:
                              description: The ID of the VLAN to use for VLAN tagging.
                              type: integer
                          type: object
                      type: object
                    wan2:
                      description: WAN 2 settings.
                      properties:
                        enabled:
                          description: Enable or disable the interface.
                          type: boolean
                        pppoe:
                          description: Configuration options for PPPoE.
                          properties:
                            authentication:
                              description: Settings for PPPoE Authentication.
                              properties:
                                enabled:
                                  description: Whether PPPoE authentication is enabled.
                                  type: boolean
                                password:
                                  description: Password for PPPoE authentication. This parameter is not returned.
                                  type: string
                                username:
                                  description: Username for PPPoE authentication.
                                  type: string
                              type: object
                            enabled:
                              description: Whether PPPoE is enabled.
                              type: boolean
                          type: object
                        svis:
                          description: SVI settings by protocol.
                          properties:
                            ipv4:
                              description: IPv4 settings for static/dynamic mode.
                              properties:
                                address:
                                  description: IP address and subnet mask when in static mode.
                                  type: string
                                assignmentMode:
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  enum:
                                    - dynamic
                                    - static
                                  type: string
                                gateway:
                                  description: Gateway IP address when in static mode.
                                  type: string
                                nameservers:
                                  description: The nameserver settings for this SVI.
                                  properties:
                                    addresses:
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                      items:
                                        type: string
                                      type: array
                                  type: object
                              type: object
                            ipv6:
                              description: IPv6 settings for static/dynamic mode.
                              properties:
                                address:
                                  description: Static address that will override the one(s) received by SLAAC.
                                  type: string
                                assignmentMode:
                                  description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                  enum:
                                    - dynamic
                                    - static
                                  type: string
                                gateway:
                                  description: Static gateway that will override the one received by autoconf.
                                  type: string
                                nameservers:
                                  description: The nameserver settings for this SVI.
                                  properties:
                                    addresses:
                                      description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                      items:
                                        type: string
                                      type: array
                                  type: object
                              type: object
                          type: object
                        vlanTagging:
                          description: VLAN tagging settings.
                          properties:
                            enabled:
                              description: Whether VLAN tagging is enabled.
                              type: boolean
                            vlanId:
                              description: The ID of the VLAN to use for VLAN tagging.
                              type: integer
                          type: object
                      type: object
                  type: object
              required:
                - interfaces
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    interfaces:
                      wan1:
                        enabled: true
                        pppoe:
                          authentication:
                            enabled: true
                            username: username
                          enabled: true
                        svis:
                          ipv4:
                            address: 9.10.11.10/16
                            assignmentMode: static
                            gateway: 13.14.15.16
                            nameservers:
                              addresses:
                                - 1.2.3.4
                          ipv6:
                            address: 1:2:3::4
                            assignmentMode: static
                            gateway: 1:2:3::5
                            nameservers:
                              addresses:
                                - 1001:4860:4860::8888
                                - 1001:4860:4860::8844
                        vlanTagging:
                          enabled: true
                          vlanId: 1
                      wan2:
                        enabled: true
                        pppoe:
                          authentication:
                            enabled: true
                            username: username
                          enabled: true
                        svis:
                          ipv4:
                            address: 9.10.11.10/16
                            assignmentMode: static
                            gateway: 13.14.15.16
                            nameservers:
                              addresses:
                                - 1.2.3.4
                          ipv6:
                            address: 1:2:3::4
                            assignmentMode: static
                            gateway: 1:2:3::5
                            nameservers:
                              addresses:
                                - 1001:4860:4860::8888
                                - 1001:4860:4860::8844
                        vlanTagging:
                          enabled: true
                          vlanId: 1
              schema:
                properties:
                  interfaces:
                    description: Interface settings.
                    properties:
                      wan1:
                        description: WAN 1 settings.
                        properties:
                          enabled:
                            description: Enable or disable the interface.
                            type: boolean
                          pppoe:
                            description: Configuration options for PPPoE.
                            properties:
                              authentication:
                                description: Settings for PPPoE Authentication.
                                properties:
                                  enabled:
                                    description: Whether PPPoE authentication is enabled.
                                    type: boolean
                                  username:
                                    description: Username for PPPoE authentication.
                                    type: string
                                type: object
                              enabled:
                                description: Whether PPPoE is enabled.
                                type: boolean
                            type: object
                          svis:
                            description: SVI settings by protocol.
                            properties:
                              ipv4:
                                description: IPv4 settings for static/dynamic mode.
                                properties:
                                  address:
                                    description: IP address and subnet mask when in static mode.
                                    type: string
                                  assignmentMode:
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                    enum:
                                      - dynamic
                                      - static
                                    type: string
                                  gateway:
                                    description: Gateway IP address when in static mode.
                                    type: string
                                  nameservers:
                                    description: The nameserver settings for this SVI.
                                    properties:
                                      addresses:
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                        items:
                                          type: string
                                        type: array
                                    type: object
                                type: object
                              ipv6:
                                description: IPv6 settings for static/dynamic mode.
                                properties:
                                  address:
                                    description: Static address that will override the one(s) received by SLAAC.
                                    type: string
                                  assignmentMode:
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                    enum:
                                      - dynamic
                                      - static
                                    type: string
                                  gateway:
                                    description: Static gateway that will override the one received by autoconf.
                                    type: string
                                  nameservers:
                                    description: The nameserver settings for this SVI.
                                    properties:
                                      addresses:
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                        items:
                                          type: string
                                        type: array
                                    type: object
                                type: object
                            type: object
                          vlanTagging:
                            description: VLAN tagging settings.
                            properties:
                              enabled:
                                description: Whether VLAN tagging is enabled.
                                type: boolean
                              vlanId:
                                description: The ID of the VLAN to use for VLAN tagging.
                                type: integer
                            type: object
                        type: object
                      wan2:
                        description: WAN 2 settings.
                        properties:
                          enabled:
                            description: Enable or disable the interface.
                            type: boolean
                          pppoe:
                            description: Configuration options for PPPoE.
                            properties:
                              authentication:
                                description: Settings for PPPoE Authentication.
                                properties:
                                  enabled:
                                    description: Whether PPPoE authentication is enabled.
                                    type: boolean
                                  username:
                                    description: Username for PPPoE authentication.
                                    type: string
                                type: object
                              enabled:
                                description: Whether PPPoE is enabled.
                                type: boolean
                            type: object
                          svis:
                            description: SVI settings by protocol.
                            properties:
                              ipv4:
                                description: IPv4 settings for static/dynamic mode.
                                properties:
                                  address:
                                    description: IP address and subnet mask when in static mode.
                                    type: string
                                  assignmentMode:
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                    enum:
                                      - dynamic
                                      - static
                                    type: string
                                  gateway:
                                    description: Gateway IP address when in static mode.
                                    type: string
                                  nameservers:
                                    description: The nameserver settings for this SVI.
                                    properties:
                                      addresses:
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                        items:
                                          type: string
                                        type: array
                                    type: object
                                type: object
                              ipv6:
                                description: IPv6 settings for static/dynamic mode.
                                properties:
                                  address:
                                    description: Static address that will override the one(s) received by SLAAC.
                                    type: string
                                  assignmentMode:
                                    description: The assignment mode for this SVI. Applies only when PPPoE is disabled.
                                    enum:
                                      - dynamic
                                      - static
                                    type: string
                                  gateway:
                                    description: Static gateway that will override the one received by autoconf.
                                    type: string
                                  nameservers:
                                    description: The nameserver settings for this SVI.
                                    properties:
                                      addresses:
                                        description: Up to 2 nameserver addresses to use, ordered in priority from highest to lowest priority.
                                        items:
                                          type: string
                                        type: array
                                    type: object
                                type: object
                            type: object
                          vlanTagging:
                            description: VLAN tagging settings.
                            properties:
                              enabled:
                                description: Whether VLAN tagging is enabled.
                                type: boolean
                              vlanId:
                                description: The ID of the VLAN to use for VLAN tagging.
                                type: integer
                            type: object
                        type: object
                    type: object
                type: object
          description: Successful operation
      summary: Update the uplink settings for an MX appliance
      tags:
        - appliance
        - configure
        - uplinks
        - settings
  "/devices/{serial}/appliance/vmx/authenticationToken":
    post:
      description: Generate a new vMX authentication token
      operationId: createDeviceApplianceVmxAuthenticationToken
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "201":
          content:
            application/json:
              examples:
                response:
                  value:
                    expiresAt: 2021-06-18T12:40:10Z
                    token: ffc0b7b578b61be5bd1d172132c78044/9af03bd84d474
              schema:
                properties:
                  expiresAt:
                    description: The expiration time for the token, in ISO 8601 format
                    type: string
                  token:
                    description: The newly generated authentication token for the vMX instance
                    type: string
                type: object
          description: Successful operation
      summary: Generate a new vMX authentication token
      tags:
        - appliance
        - configure
        - vmx
        - authenticationToken
  "/devices/{serial}/blinkLeds":
    post:
      description: Blink the LEDs on a device
      operationId: blinkDeviceLeds
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                duration: 20
                duty: 50
                period: 160
              properties:
                duration:
                  description: The duration in seconds. Must be between 5 and 120. Default is 20 seconds
                  type: integer
                duty:
                  description: The duty cycle as the percent active. Must be between 10 and 90. Default is 50.
                  type: integer
                period:
                  description: The period in milliseconds. Must be between 100 and 1000. Default is 160 milliseconds
                  type: integer
              type: object
      responses:
        "202":
          content:
            application/json:
              examples:
                response:
                  value:
                    duration: 20
                    duty: 50
                    period: 160
              schema:
                type: object
          description: Successful operation
      summary: Blink the LEDs on a device
      tags:
        - devices
        - liveTools
  "/devices/{serial}/camera/analytics/live":
    get:
      description: Returns live state from camera of analytics zones
      operationId: getDeviceCameraAnalyticsLive
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ts: 2018-08-15T18:32:38.123Z
                    zones:
                      "0":
                        person: 0
              schema:
                type: object
          description: Successful operation
      summary: Returns live state from camera of analytics zones
      tags:
        - camera
        - monitor
        - analytics
        - live
  "/devices/{serial}/camera/analytics/overview":
    get:
      description: Returns an overview of aggregate analytics data for a timespan
      operationId: getDeviceCameraAnalyticsOverview
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
          in: query
          name: t0
          schema:
            type: string
        - description: The end of the timespan for the data. t1 can be a maximum of 7 days after t0.
          in: query
          name: t1
          schema:
            type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 7 days. The default is 1 hour.
          in: query
          name: timespan
          schema:
            format: float
            type: number
        - description: "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          in: query
          name: objectType
          schema:
            enum:
              - person
              - vehicle
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - averageCount: 5
                      endTs: 2018-08-15T18:33:38.123Z
                      entrances: 254
                      startTs: 2018-08-15T18:32:38.123Z
                      zoneId: 0
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns an overview of aggregate analytics data for a timespan
      tags:
        - camera
        - monitor
        - analytics
        - overview
  "/devices/{serial}/camera/analytics/recent":
    get:
      description: Returns most recent record for analytics zones
      operationId: getDeviceCameraAnalyticsRecent
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
        - description: "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          in: query
          name: objectType
          schema:
            enum:
              - person
              - vehicle
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - averageCount: 2.54
                      endTs: 2018-08-15T18:33:38.123Z
                      entrances: 10
                      startTs: 2018-08-15T18:32:38.123Z
                      zoneId: 0
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns most recent record for analytics zones
      tags:
        - camera
        - monitor
        - analytics
        - recent
  "/devices/{serial}/camera/analytics/zones":
    get:
      description: Returns all configured analytic zones for this camera
      operationId: getDeviceCameraAnalyticsZones
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - id: "0"
                      label: Full Frame
                      regionOfInterest:
                        x0: "0.00"
                        x1: "1.00"
                        y0: "0.00"
                        y1: "1.00"
                      type: occupancy
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns all configured analytic zones for this camera
      tags:
        - camera
        - monitor
        - analytics
        - zones
  "/devices/{serial}/camera/analytics/zones/{zoneId}/history":
    get:
      description: Return historical records for analytic zones
      operationId: getDeviceCameraAnalyticsZoneHistory
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
        - in: path
          name: zoneId
          required: true
          schema:
            type: string
        - description: The beginning of the timespan for the data. The maximum lookback period is 365 days from today.
          in: query
          name: t0
          schema:
            type: string
        - description: The end of the timespan for the data. t1 can be a maximum of 14 hours after t0.
          in: query
          name: t1
          schema:
            type: string
        - description: The timespan for which the information will be fetched. If specifying timespan, do not specify parameters t0 and t1. The value must be in seconds and be less than or equal to 14 hours. The default is 1 hour.
          in: query
          name: timespan
          schema:
            format: float
            type: number
        - description: "The time resolution in seconds for returned data. The valid resolutions are: 60. The default is 60."
          in: query
          name: resolution
          schema:
            type: integer
        - description: "[optional] The object type for which analytics will be retrieved. The default object type is person. The available types are [person, vehicle]."
          in: query
          name: objectType
          schema:
            enum:
              - person
              - vehicle
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - averageCount: 1.5
                      endTs: 2018-08-15T18:33:38.123Z
                      entrances: 5
                      startTs: 2018-08-15T18:32:38.123Z
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Return historical records for analytic zones
      tags:
        - camera
        - monitor
        - analytics
        - zones
        - history
  "/devices/{serial}/camera/customAnalytics":
    get:
      description: Return custom analytics settings for a camera
      operationId: getDeviceCameraCustomAnalytics
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    artifactId: "1"
                    enabled: true
                    parameters:
                      - name: detection_threshold
                        value: 0.5
              schema:
                type: object
          description: Successful operation
      summary: Return custom analytics settings for a camera
      tags:
        - camera
        - configure
        - customAnalytics
    put:
      description: Update custom analytics settings for a camera
      operationId: updateDeviceCameraCustomAnalytics
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                artifactId: "1"
                enabled: true
                parameters:
                  - name: detection_threshold
                    value: "0.5"
              properties:
                artifactId:
                  description: The ID of the custom analytics artifact
                  type: string
                enabled:
                  description: Enable custom analytics
                  type: boolean
                parameters:
                  description: Parameters for the custom analytics workload
                  items:
                    properties:
                      name:
                        description: Name of the parameter
                        type: string
                      value:
                        description: Value of the parameter
                        type: string
                    required:
                      - name
                      - value
                    type: object
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    artifactId: "1"
                    enabled: true
                    parameters:
                      - name: detection_threshold
                        value: 0.5
              schema:
                type: object
          description: Successful operation
      summary: Update custom analytics settings for a camera
      tags:
        - camera
        - configure
        - customAnalytics
  "/devices/{serial}/camera/generateSnapshot":
    post:
      description: Generate a snapshot of what the camera sees at the specified time and return a link to that image.
      operationId: generateDeviceCameraSnapshot
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                fullframe: false
                timestamp: 2021-04-30T15:18:08Z
              properties:
                fullframe:
                  description: '[optional] If set to "true" the snapshot will be taken at full sensor resolution. This will error if used with timestamp.'
                  type: boolean
                timestamp:
                  description: "[optional] The snapshot will be taken from this time on the camera. The timestamp is expected to be in ISO 8601 format. If no timestamp is specified, we will assume current time."
                  format: date-time
                  type: string
              type: object
      responses:
        "202":
          content:
            application/json:
              examples:
                response:
                  value:
                    expiry: Access to the image will expire at 2018-12-11T03:12:39Z.
                    url: https://spn4.meraki.com/stream/jpeg/snapshot/b2d123asdf423qd22d2
              schema:
                type: object
          description: Successful operation
      summary: Generate a snapshot of what the camera sees at the specified time and return a link to that image.
      tags:
        - camera
        - monitor
  "/devices/{serial}/camera/qualityAndRetention":
    get:
      description: Returns quality and retention settings for the given camera
      operationId: getDeviceCameraQualityAndRetention
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioRecordingEnabled: false
                    motionBasedRetentionEnabled: false
                    motionDetectorVersion: 2
                    profileId: "1234"
                    quality: Standard
                    resolution: 1280x720
                    restrictedBandwidthModeEnabled: false
              schema:
                type: object
          description: Successful operation
      summary: Returns quality and retention settings for the given camera
      tags:
        - camera
        - configure
        - qualityAndRetention
    put:
      description: Update quality and retention settings for the given camera
      operationId: updateDeviceCameraQualityAndRetention
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                audioRecordingEnabled: false
                motionBasedRetentionEnabled: false
                motionDetectorVersion: 2
                profileId: "1234"
                quality: Standard
                resolution: 1280x720
                restrictedBandwidthModeEnabled: false
              properties:
                audioRecordingEnabled:
                  description: Boolean indicating if audio recording is enabled(true) or disabled(false) on the camera
                  type: boolean
                motionBasedRetentionEnabled:
                  description: Boolean indicating if motion-based retention is enabled(true) or disabled(false) on the camera.
                  type: boolean
                motionDetectorVersion:
                  description: The version of the motion detector that will be used by the camera. Only applies to Gen 2 cameras. Defaults to v2.
                  enum:
                    - 1
                    - 2
                  type: integer
                profileId:
                  description: The ID of a quality and retention profile to assign to the camera. The profile's settings will override all of the per-camera quality and retention settings. If the value of this parameter is null, any existing profile will be unassigned from the camera.
                  type: string
                quality:
                  description: Quality of the camera. Can be one of 'Standard', 'High' or 'Enhanced'. Not all qualities are supported by every camera model.
                  enum:
                    - Enhanced
                    - High
                    - Standard
                  type: string
                resolution:
                  description: Resolution of the camera. Can be one of '1280x720', '1920x1080', '1080x1080', '2058x2058', '2112x2112', '2880x2880', '2688x1512' or '3840x2160'.Not all resolutions are supported by every camera model.
                  enum:
                    - 1080x1080
                    - 1280x720
                    - 1920x1080
                    - 2058x2058
                    - 2112x2112
                    - 2688x1512
                    - 2880x2880
                    - 3840x2160
                  type: string
                restrictedBandwidthModeEnabled:
                  description: Boolean indicating if restricted bandwidth is enabled(true) or disabled(false) on the camera. This setting does not apply to MV2 cameras.
                  type: boolean
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioRecordingEnabled: false
                    motionBasedRetentionEnabled: false
                    motionDetectorVersion: 2
                    profileId: "1234"
                    quality: Standard
                    resolution: 1280x720
                    restrictedBandwidthModeEnabled: false
              schema:
                type: object
          description: Successful operation
      summary: Update quality and retention settings for the given camera
      tags:
        - camera
        - configure
        - qualityAndRetention
  "/devices/{serial}/camera/sense":
    get:
      description: Returns sense settings for a given camera
      operationId: getDeviceCameraSense
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioDetection:
                      enabled: false
                    mqttBrokerId: "1234"
                    mqttTopics:
                      - /merakimv/Q2AA-AAAA-1111/raw_detections
                      - /merakimv/Q2AA-AAAA-1111/light
                    senseEnabled: true
              schema:
                type: object
          description: Successful operation
      summary: Returns sense settings for a given camera
      tags:
        - camera
        - configure
        - sense
    put:
      description: Update sense settings for the given camera
      operationId: updateDeviceCameraSense
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                audioDetection:
                  enabled: false
                mqttBrokerId: "1234"
                senseEnabled: true
              properties:
                audioDetection:
                  description: The details of the audio detection config.
                  properties:
                    enabled:
                      description: Boolean indicating if audio detection is enabled(true) or disabled(false) on the camera
                      type: boolean
                  type: object
                detectionModelId:
                  description: The ID of the object detection model
                  type: string
                mqttBrokerId:
                  description: The ID of the MQTT broker to be enabled on the camera. A value of null will disable MQTT on the camera
                  type: string
                senseEnabled:
                  description: Boolean indicating if sense(license) is enabled(true) or disabled(false) on the camera
                  type: boolean
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    audioDetection:
                      enabled: false
                    mqttBrokerId: "1234"
                    mqttTopics:
                      - /merakimv/Q2AA-AAAA-1111/raw_detections
                      - /merakimv/Q2AA-AAAA-1111/light
                    senseEnabled: true
              schema:
                type: object
          description: Successful operation
      summary: Update sense settings for the given camera
      tags:
        - camera
        - configure
        - sense
  "/devices/{serial}/camera/sense/objectDetectionModels":
    get:
      description: Returns the MV Sense object detection model list for the given camera
      operationId: getDeviceCameraSenseObjectDetectionModels
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    - description: Model A
                      id: "0"
              schema:
                items:
                  type: object
                type: array
          description: Successful operation
      summary: Returns the MV Sense object detection model list for the given camera
      tags:
        - camera
        - configure
        - sense
        - objectDetectionModels
  "/devices/{serial}/camera/video/settings":
    get:
      description: Returns video settings for the given camera
      operationId: getDeviceCameraVideoSettings
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    externalRtspEnabled: true
                    rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                type: object
          description: Successful operation
      summary: Returns video settings for the given camera
      tags:
        - camera
        - configure
        - video
        - settings
    put:
      description: Update video settings for the given camera
      operationId: updateDeviceCameraVideoSettings
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                externalRtspEnabled: true
              properties:
                externalRtspEnabled:
                  description: Boolean indicating if external rtsp stream is exposed
                  type: boolean
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    externalRtspEnabled: true
                    rtspUrl: rtsp://10.0.0.1:9000/live
              schema:
                type: object
          description: Successful operation
      summary: Update video settings for the given camera
      tags:
        - camera
        - configure
        - video
        - settings
  "/devices/{serial}/camera/videoLink":
    get:
      description: Returns video link to the specified camera. If a timestamp is supplied, it links to that timestamp.
      operationId: getDeviceCameraVideoLink
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
        - description: "[optional] The video link will start at this time. The timestamp should be a string in ISO8601 format. If no timestamp is specified, we will assume current time."
          in: query
          name: timestamp
          schema:
            format: date-time
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    url: https://nxx.meraki.com/office-cameras/n/bs0a1k/manage/nodes/new_list/29048243992402?timestamp=1535732570077
              schema:
                type: object
          description: Successful operation
      summary: Returns video link to the specified camera
      tags:
        - camera
        - configure
        - videoLink
  "/devices/{serial}/camera/wirelessProfiles":
    get:
      description: Returns wireless profile assigned to the given camera
      operationId: getDeviceCameraWirelessProfiles
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ids:
                      backup: "1"
                      primary: "3"
                      secondary: "2"
              schema:
                type: object
          description: Successful operation
      summary: Returns wireless profile assigned to the given camera
      tags:
        - camera
        - configure
        - wirelessProfiles
    put:
      description: Assign wireless profiles to the given camera. Incremental updates are not supported, all profile assignment need to be supplied at once.
      operationId: updateDeviceCameraWirelessProfiles
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                ids:
                  backup: "1"
                  primary: "3"
                  secondary: "2"
              properties:
                ids:
                  description: The ids of the wireless profile to assign to the given camera
                  properties:
                    backup:
                      description: The id of the backup wireless profile
                      type: string
                    primary:
                      description: The id of the primary wireless profile
                      type: string
                    secondary:
                      description: The id of the secondary wireless profile
                      type: string
                  type: object
              required:
                - ids
              type: object
        required: true
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    ids:
                      backup: "1"
                      primary: "3"
                      secondary: "2"
              schema:
                type: object
          description: Successful operation
      summary: Assign wireless profiles to the given camera
      tags:
        - camera
        - configure
        - wirelessProfiles
  "/devices/{serial}/cellular/sims":
    get:
      description: Return the SIM and APN configurations for a cellular device.
      operationId: getDeviceCellularSims
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    sims:
                      - apns:
                          - allowedIpTypes:
                              - ipv4
                              - ipv6
                            authentication:
                              type: pap
                              username: milesmeraki
                            name: internet
                        isPrimary: true
                        slot: sim1
              schema:
                type: object
          description: Successful operation
      summary: Return the SIM and APN configurations for a cellular device.
      tags:
        - devices
        - configure
        - cellular
        - sims
    put:
      description: Updates the SIM and APN configurations for a cellular device.
      operationId: updateDeviceCellularSims
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                apns:
                  - allowedIpTypes:
                      - ipv4
                      - ipv6
                    authentication:
                      password: secret
                      type: pap
                      username: milesmeraki
                    name: internet
                isPrimary: true
                slot: sim1
              properties:
                simFailover:
                  description: SIM Failover settings.
                  properties:
                    enabled:
                      description: Failover to secondary SIM (optional)
                      type: boolean
                  type: object
                sims:
                  description: List of SIMs. If a SIM was previously configured and not specified in this request, it will remain unchanged.
                  items:
                    properties:
                      apns:
                        default: []
                        description: APN configurations. If empty, the default APN will be used.
                        items:
                          properties:
                            allowedIpTypes:
                              description: IP versions to support (permitted values include 'ipv4', 'ipv6').
                              items:
                                type: string
                              type: array
                            authentication:
                              description: APN authentication configurations.
                              properties:
                                password:
                                  description: APN password, if type is set (if APN password is not supplied, the password is left unchanged).
                                  type: string
                                type:
                                  default: none
                                  description: APN auth type.
                                  enum:
                                    - chap
                                    - none
                                    - pap
                                  type: string
                                username:
                                  description: APN username, if type is set.
                                  type: string
                              type: object
                            name:
                              description: APN name.
                              type: string
                          required:
                            - name
                            - allowedIpTypes
                          type: object
                        type: array
                      isPrimary:
                        default: false
                        description: If true, this SIM is used for boot. Must be true on single-sim devices.
                        type: boolean
                      slot:
                        description: SIM slot being configured. Must be 'sim1' on single-sim devices.
                        enum:
                          - sim1
                          - sim2
                        type: string
                    type: object
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    sims:
                      - apns:
                          - allowedIpTypes:
                              - ipv4
                              - ipv6
                            authentication:
                              type: pap
                              username: milesmeraki
                            name: internet
                        isPrimary: true
                        slot: sim1
              schema:
                type: object
          description: Successful operation
      summary: Updates the SIM and APN configurations for a cellular device.
      tags:
        - devices
        - configure
        - cellular
        - sims
  "/devices/{serial}/cellularGateway/lan":
    get:
      description: Show the LAN Settings of a MG
      operationId: getDeviceCellularGatewayLan
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    deviceLanIp: 192.168.0.33
                    deviceName: name of the MG
                    deviceSubnet: 192.168.0.32/27
                    fixedIpAssignments:
                      - ip: 192.168.0.10
                        mac: 0b:00:00:00:00:ac
                        name: server 1
                      - ip: 192.168.0.20
                        mac: 0b:00:00:00:00:ab
                        name: server 2
                    reservedIpRanges:
                      - comment: A reserved IP range
                        end: 192.168.1.1
                        start: 192.168.1.0
              schema:
                type: object
          description: Successful operation
      summary: Show the LAN Settings of a MG
      tags:
        - cellularGateway
        - configure
        - lan
    put:
      description: Update the LAN Settings for a single MG.
      operationId: updateDeviceCellularGatewayLan
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                deviceLanIp: 192.168.0.33
                deviceName: name of the MG
                deviceSubnet: 192.168.0.32/27
                fixedIpAssignments:
                  - ip: 192.168.0.10
                    mac: 0b:00:00:00:00:ac
                    name: server 1
                  - ip: 192.168.0.20
                    mac: 0b:00:00:00:00:ab
                    name: server 2
                reservedIpRanges:
                  - comment: A reserved IP range
                    end: 192.168.1.1
                    start: 192.168.1.0
              properties:
                fixedIpAssignments:
                  description: list of all fixed IP assignments for a single MG
                  items:
                    properties:
                      ip:
                        description: The IP address you want to assign to a specific server or device
                        type: string
                      mac:
                        description: The MAC address of the server or device that hosts the internal resource that you wish to receive the specified IP address
                        type: string
                      name:
                        description: A descriptive name of the assignment
                        type: string
                    required:
                      - ip
                      - mac
                    type: object
                  type: array
                reservedIpRanges:
                  description: list of all reserved IP ranges for a single MG
                  items:
                    properties:
                      comment:
                        description: Comment explaining the reserved IP range
                        type: string
                      end:
                        description: Ending IP included in the reserved range of IPs
                        type: string
                      start:
                        description: Starting IP included in the reserved range of IPs
                        type: string
                    required:
                      - start
                      - end
                      - comment
                    type: object
                  type: array
              type: object
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    deviceLanIp: 192.168.0.33
                    deviceName: name of the MG
                    deviceSubnet: 192.168.0.32/27
                    fixedIpAssignments:
                      - ip: 192.168.0.10
                        mac: 0b:00:00:00:00:ac
                        name: server 1
                      - ip: 192.168.0.20
                        mac: 0b:00:00:00:00:ab
                        name: server 2
                    reservedIpRanges:
                      - comment: A reserved IP range
                        end: 192.168.1.1
                        start: 192.168.1.0
              schema:
                type: object
          description: Successful operation
      summary: Update the LAN Settings for a single MG.
      tags:
        - cellularGateway
        - configure
        - lan
  "/devices/{serial}/cellularGateway/portForwardingRules":
    get:
      description: Returns the port forwarding rules for a single MG.
      operationId: getDeviceCellularGatewayPortForwardingRules
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              examples:
                response:
                  value:
                    rules:
                      - access: any
                        lanIp: 172.31.128.5
                        localPort: "4"
                        name: test
                        protocol: tcp
                        publicPort: 11-12
                        uplink: both
                      - access: restricted
                        allowedIps:
                          - 10.10.10.10
                          - 10.10.10.11
                        lanIp: 172.31.128.5
                        localPort: "5"
                        name: test 2
                        protocol: tcp
                        publicPort: "99"
                        uplink: both
              schema:
                type: object
          description: Successful operation
      summary: Returns the port forwarding rules for a single MG.
      tags:
        - cellularGateway
        - configure
        - portForwardingRules
    put:
      description: Updates the port forwarding rules for a single MG.
      operationId: updateDeviceCellularGatewayPortForwardingRules
      parameters:
        - in: path
          name: serial
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              example:
                rules:
                  - access: any
                    lanIp: 172.31.128.5
                    localPort: "4"
                    name: test
                    protocol: tcp
                    publicPort: 11-12
                    uplink: both
                  - access: restricted
                    allowedIps:
                      - 10.10.10.10
                      - 10.10.10.11
                    lanIp: 172.31.128.5
                    localPort: "5"
                    name: test 2
                    protocol: tcp
                    publicPort: "99"
                    uplink: both
              properties:
                rules:
                  description: An array of port forwarding params
                  items:
                    properties:
                      access:
                        description: "`any` or `restricted`. Specify the right to make inbound connections on the specified ports or port ranges. If `restricted`, a list of allowed IPs is mandatory."
                        type: string
                      allowedIps:
                        description: An array of ranges of WAN IP addresses that are allowed to make inbound connections on the specified ports or port ranges.
                        items:
                          type: string
                        type: array
                      lanIp:
                        description: The IP address of the server or device that hosts the internal resource that you wish to make available on the WAN
                        type: string
                      localPort:
[...]
