openapi: 3.0.0
servers:
  - url: https://chat.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Enables bots to fetch information and perform actions in Google Chat.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Google Chat API
  version: v1
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: google
      url: https://chat.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: chat
externalDocs:
  url: https://developers.google.com/hangouts/chat
tags:
  - name: dms
  - name: media
  - name: rooms
  - name: spaces
paths:
  "/v1/media/{resourceName}":
    get:
      description: Downloads media. Download is supported on the URI `/v1/media/{+name}?alt=media`.
      operationId: chat.media.download
      parameters:
        - description: Name of the media that is being downloaded. See ReadRequest.resource_name.
          in: path
          name: resourceName
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Media"
          description: Successful response
      tags:
        - media
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1/spaces:
    get:
      description: Lists spaces the caller is a member of.
      operationId: chat.spaces.list
      parameters:
        - description: Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSpacesResponse"
          description: Successful response
      tags:
        - spaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{name}":
    delete:
      description: Deletes a message.
      operationId: chat.spaces.messages.delete
      parameters:
        - description: 'Required. Resource name of the message to be deleted, in the form "spaces/*/messages/*" Example: spaces/AAAAMpdlehY/messages/UMxbHmzDlr4.UMxbHmzDlr4'
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - spaces
    get:
      description: Gets the metadata of a message attachment. The attachment data is fetched using the media API.
      operationId: chat.spaces.messages.attachments.get
      parameters:
        - description: Resource name of the attachment, in the form "spaces/*/messages/*/attachments/*".
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Attachment"
          description: Successful response
      tags:
        - spaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    put:
      description: Updates a message.
      operationId: chat.spaces.messages.update
      parameters:
        - in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Required. The field paths to be updated, comma separated if there are multiple. Currently supported field paths: * text * cards"
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Message"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
          description: Successful response
      tags:
        - spaces
  "/v1/{parent}/members":
    get:
      description: Lists human memberships in a space.
      operationId: chat.spaces.members.list
      parameters:
        - description: 'Required. The resource name of the space for which membership list is to be fetched, in the form "spaces/*". Example: spaces/AAAAMpdlehY'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Requested page size. The value is capped at 1000. Server may return fewer results than requested. If unspecified, server will default to 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A token identifying a page of results the server should return.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMembershipsResponse"
          description: Successful response
      tags:
        - spaces
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/{parent}/messages":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a message.
      operationId: chat.spaces.messages.create
      parameters:
        - description: 'Required. Space resource name, in the form "spaces/*". Example: spaces/AAAAMpdlehY'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.
          in: query
          name: threadKey
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Message"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
          description: Successful response
      tags:
        - spaces
  "/v1/{parent}/webhooks":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Legacy path for creating message. Calling these will result in a BadRequest response.
      operationId: chat.spaces.webhooks
      parameters:
        - description: 'Required. Space resource name, in the form "spaces/*". Example: spaces/AAAAMpdlehY'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Opaque thread identifier string that can be specified to group messages into a single thread. If this is the first message with a given thread identifier, a new thread is created. Subsequent messages with the same thread identifier will be posted into the same thread. This relieves bots and webhooks from having to store the Hangouts Chat thread ID of a thread (created earlier by them) to post further updates to it. Has no effect if thread field, corresponding to an existing thread, is set in message.
          in: query
          name: threadKey
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Message"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Message"
          description: Successful response
      tags:
        - spaces
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    ActionParameter:
      description: "List of string parameters to supply when the action method is invoked. For example, consider three snooze buttons: snooze now, snooze 1 day, snooze next week. You might use action method = snooze(), passing the snooze type and snooze time in the list of string parameters."
      properties:
        key:
          description: The name of the parameter for the action script.
          type: string
        value:
          description: The value of the parameter.
          type: string
      type: object
    ActionResponse:
      description: Parameters that a bot can use to configure how it's response is posted.
      properties:
        type:
          description: The type of bot response.
          enum:
            - TYPE_UNSPECIFIED
            - NEW_MESSAGE
            - UPDATE_MESSAGE
            - REQUEST_CONFIG
          type: string
        url:
          description: URL for users to auth or config. (Only for REQUEST_CONFIG response types.)
          type: string
      type: object
    Annotation:
      description: 'Annotations associated with the plain-text body of the message. Example plain-text message body: ``` Hello @FooBot how are you!" ``` The corresponding annotations metadata: ``` "annotations":[{ "type":"USER_MENTION", "startIndex":6, "length":7, "userMention": { "user": { "name":"users/107946847022116401880", "displayName":"FooBot", "avatarUrl":"https://goo.gl/aeDtrS", "type":"BOT" }, "type":"MENTION" } }] ```'
      properties:
        length:
          description: Length of the substring in the plain-text message body this annotation corresponds to.
          format: int32
          type: integer
        slashCommand:
          $ref: "#/components/schemas/SlashCommandMetadata"
          description: The metadata for a slash command.
        startIndex:
          description: Start index (0-based, inclusive) in the plain-text message body this annotation corresponds to.
          format: int32
          type: integer
        type:
          description: The type of this annotation.
          enum:
            - ANNOTATION_TYPE_UNSPECIFIED
            - USER_MENTION
            - SLASH_COMMAND
          type: string
        userMention:
          $ref: "#/components/schemas/UserMentionMetadata"
          description: The metadata of user mention.
      type: object
    Attachment:
      description: An attachment in Hangouts Chat.
      properties:
        attachmentDataRef:
          $ref: "#/components/schemas/AttachmentDataRef"
          description: A reference to the attachment data. This is used with the media API to download the attachment data.
        contentName:
          description: The original file name for the content, not the full path.
          type: string
        contentType:
          description: The content type (MIME type) of the file.
          type: string
        downloadUri:
          description: Output only. The download URL which should be used to allow a human user to download the attachment. Bots should not use this URL to download attachment content.
          type: string
        driveDataRef:
          $ref: "#/components/schemas/DriveDataRef"
          description: A reference to the drive attachment. This is used with the Drive API.
        name:
          description: Resource name of the attachment, in the form "spaces/*/messages/*/attachments/*".
          type: string
        source:
          description: The source of the attachment.
          enum:
            - SOURCE_UNSPECIFIED
            - DRIVE_FILE
            - UPLOADED_CONTENT
          type: string
        thumbnailUri:
          description: Output only. The thumbnail URL which should be used to preview the attachment to a human user. Bots should not use this URL to download attachment content.
          type: string
      type: object
    AttachmentDataRef:
      description: A reference to the data of an attachment.
      properties:
        resourceName:
          description: The resource name of the attachment data. This is used with the media API to download the attachment data.
          type: string
      type: object
    Button:
      description: A button. Can be a text button or an image button.
      properties:
        imageButton:
          $ref: "#/components/schemas/ImageButton"
          description: A button with image and onclick action.
        textButton:
          $ref: "#/components/schemas/TextButton"
          description: A button with text and onclick action.
      type: object
    Card:
      description: A card is a UI element that can contain UI widgets such as texts, images.
      properties:
        cardActions:
          description: The actions of this card.
          items:
            $ref: "#/components/schemas/CardAction"
          type: array
        header:
          $ref: "#/components/schemas/CardHeader"
          description: The header of the card. A header usually contains a title and an image.
        name:
          description: Name of the card.
          type: string
        sections:
          description: Sections are separated by a line divider.
          items:
            $ref: "#/components/schemas/Section"
          type: array
      type: object
    CardAction:
      description: "A card action is the action associated with the card. For an invoice card, a typical action would be: delete invoice, email invoice or open the invoice in browser."
      properties:
        actionLabel:
          description: The label used to be displayed in the action menu item.
          type: string
        onClick:
          $ref: "#/components/schemas/OnClick"
          description: The onclick action for this action item.
      type: object
    CardHeader:
      properties:
        imageStyle:
          description: The image's type (e.g. square border or circular border).
          enum:
            - IMAGE_STYLE_UNSPECIFIED
            - IMAGE
            - AVATAR
          type: string
        imageUrl:
          description: The URL of the image in the card header.
          type: string
        subtitle:
          description: The subtitle of the card header.
          type: string
        title:
          description: "The title must be specified. The header has a fixed height: if both a title and subtitle is specified, each will take up 1 line. If only the title is specified, it will take up both lines."
          type: string
      type: object
    DeprecatedEvent:
      description: Google Chat events.
      properties:
        action:
          $ref: "#/components/schemas/FormAction"
          description: The form action data associated with an interactive card that was clicked. Only populated for CARD_CLICKED events. See the [Interactive Cards guide](/hangouts/chat/how-tos/cards-onclick) for more information.
        configCompleteRedirectUrl:
          description: The URL the bot should redirect the user to after they have completed an authorization or configuration flow outside of Google Chat. See the [Authorizing access to 3p services guide](/hangouts/chat/how-tos/auth-3p) for more information.
          type: string
        eventTime:
          description: The timestamp indicating when the event was dispatched.
          format: google-datetime
          type: string
        message:
          $ref: "#/components/schemas/Message"
          description: The message that triggered the event, if applicable.
        space:
          $ref: "#/components/schemas/Space"
          description: The room or DM in which the event occurred.
        threadKey:
          description: The bot-defined key for the thread related to the event. See the thread_key field of the `spaces.message.create` request for more information.
          type: string
        token:
          description: A secret value that bots can use to verify if a request is from Google. The token is randomly generated by Google, remains static, and can be obtained from the Google Chat API configuration page in the Cloud Console. Developers can revoke/regenerate it if needed from the same page.
          type: string
        type:
          description: The type of the event.
          enum:
            - UNSPECIFIED
            - MESSAGE
            - ADDED_TO_SPACE
            - REMOVED_FROM_SPACE
            - CARD_CLICKED
          type: string
        user:
          $ref: "#/components/schemas/User"
          description: The user that triggered the event.
      type: object
    DriveDataRef:
      description: A reference to the data of a drive attachment.
      properties:
        driveFileId:
          description: The id for the drive file, for use with the Drive API.
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
    FormAction:
      description: A form action describes the behavior when the form is submitted. For example, an Apps Script can be invoked to handle the form.
      properties:
        actionMethodName:
          description: The method name is used to identify which part of the form triggered the form submission. This information is echoed back to the bot as part of the card click event. The same method name can be used for several elements that trigger a common behavior if desired.
          type: string
        parameters:
          description: List of action parameters.
          items:
            $ref: "#/components/schemas/ActionParameter"
          type: array
      type: object
    Image:
      description: An image that is specified by a URL and can have an onclick action.
      properties:
        aspectRatio:
          description: The aspect ratio of this image (width/height). This field allows clients to reserve the right height for the image while waiting for it to load. It's not meant to override the native aspect ratio of the image. If unset, the server fills it by prefetching the image.
          format: double
          type: number
        imageUrl:
          description: The URL of the image.
          type: string
        onClick:
          $ref: "#/components/schemas/OnClick"
          description: The onclick action.
      type: object
    ImageButton:
      description: An image button with an onclick action.
      properties:
        icon:
          description: The icon specified by an enum that indices to an icon provided by Chat API.
          enum:
            - ICON_UNSPECIFIED
            - AIRPLANE
            - BOOKMARK
            - BUS
            - CAR
            - CLOCK
            - CONFIRMATION_NUMBER_ICON
            - DOLLAR
            - DESCRIPTION
            - EMAIL
            - EVENT_PERFORMER
            - EVENT_SEAT
            - FLIGHT_ARRIVAL
            - FLIGHT_DEPARTURE
            - HOTEL
            - HOTEL_ROOM_TYPE
            - INVITE
            - MAP_PIN
            - MEMBERSHIP
            - MULTIPLE_PEOPLE
            - OFFER
            - PERSON
            - PHONE
            - RESTAURANT_ICON
            - SHOPPING_CART
            - STAR
            - STORE
            - TICKET
            - TRAIN
            - VIDEO_CAMERA
            - VIDEO_PLAY
          type: string
        iconUrl:
          description: The icon specified by a URL.
          type: string
        name:
          description: The name of this image_button which will be used for accessibility. Default value will be provided if developers don't specify.
          type: string
        onClick:
          $ref: "#/components/schemas/OnClick"
          description: The onclick action.
      type: object
    KeyValue:
      description: A UI element contains a key (label) and a value (content). And this element may also contain some actions such as onclick button.
      properties:
        bottomLabel:
          description: The text of the bottom label. Formatted text supported.
          type: string
        button:
          $ref: "#/components/schemas/Button"
          description: A button that can be clicked to trigger an action.
        content:
          description: The text of the content. Formatted text supported and always required.
          type: string
        contentMultiline:
          description: If the content should be multiline.
          type: boolean
        icon:
          description: An enum value that will be replaced by the Chat API with the corresponding icon image.
          enum:
            - ICON_UNSPECIFIED
            - AIRPLANE
            - BOOKMARK
            - BUS
            - CAR
            - CLOCK
            - CONFIRMATION_NUMBER_ICON
            - DOLLAR
            - DESCRIPTION
            - EMAIL
            - EVENT_PERFORMER
            - EVENT_SEAT
            - FLIGHT_ARRIVAL
            - FLIGHT_DEPARTURE
            - HOTEL
            - HOTEL_ROOM_TYPE
            - INVITE
            - MAP_PIN
            - MEMBERSHIP
            - MULTIPLE_PEOPLE
            - OFFER
            - PERSON
            - PHONE
            - RESTAURANT_ICON
            - SHOPPING_CART
            - STAR
            - STORE
            - TICKET
            - TRAIN
            - VIDEO_CAMERA
            - VIDEO_PLAY
          type: string
        iconUrl:
          description: The icon specified by a URL.
          type: string
        onClick:
          $ref: "#/components/schemas/OnClick"
          description: The onclick action. Only the top label, bottom label and content region are clickable.
        topLabel:
          description: The text of the top label. Formatted text supported.
          type: string
      type: object
    ListMembershipsResponse:
      properties:
        memberships:
          description: List of memberships in the requested (or first) page.
          items:
            $ref: "#/components/schemas/Membership"
          type: array
        nextPageToken:
          description: Continuation token to retrieve the next page of results. It will be empty for the last page of results.
          type: string
      type: object
    ListSpacesResponse:
      properties:
        nextPageToken:
          description: Continuation token to retrieve the next page of results. It will be empty for the last page of results. Tokens expire in an hour. An error is thrown if an expired token is passed.
          type: string
        spaces:
          description: List of spaces in the requested (or first) page.
          items:
            $ref: "#/components/schemas/Space"
          type: array
      type: object
    Media:
      description: Media resource.
      properties:
        resourceName:
          description: Name of the media resource.
          type: string
      type: object
    Membership:
      description: Represents a membership relation in Hangouts Chat.
      properties:
        createTime:
          description: The creation time of the membership a.k.a the time at which the member joined the space, if applicable.
          format: google-datetime
          type: string
        member:
          $ref: "#/components/schemas/User"
          description: A User in Hangout Chat
        name:
          type: string
        state:
          description: State of the membership.
          enum:
            - MEMBERSHIP_STATE_UNSPECIFIED
            - JOINED
            - INVITED
            - NOT_A_MEMBER
          type: string
      type: object
    Message:
      description: A message in Hangouts Chat.
      properties:
        actionResponse:
          $ref: "#/components/schemas/ActionResponse"
          description: Input only. Parameters that a bot can use to configure how its response is posted.
        annotations:
          description: Output only. Annotations associated with the text in this message.
          items:
            $ref: "#/components/schemas/Annotation"
          type: array
        argumentText:
          description: Plain-text body of the message with all bot mentions stripped out.
          type: string
        attachment:
          description: User uploaded attachment.
          items:
            $ref: "#/components/schemas/Attachment"
          type: array
        cards:
          description: "Rich, formatted and interactive cards that can be used to display UI elements such as: formatted texts, buttons, clickable images. Cards are normally displayed below the plain-text body of the message."
          items:
            $ref: "#/components/schemas/Card"
          type: array
        createTime:
          description: Output only. The time at which the message was created in Hangouts Chat server.
          format: google-datetime
          type: string
        fallbackText:
          description: A plain-text description of the message's cards, used when the actual cards cannot be displayed (e.g. mobile notifications).
          type: string
        name:
          type: string
        previewText:
          description: Text for generating preview chips. This text will not be displayed to the user, but any links to images, web pages, videos, etc. included here will generate preview chips.
          type: string
        sender:
          $ref: "#/components/schemas/User"
          description: The user who created the message.
        slashCommand:
          $ref: "#/components/schemas/SlashCommand"
          description: Slash command information, if applicable.
        space:
          $ref: "#/components/schemas/Space"
          description: The space the message belongs to.
        text:
          description: Plain-text body of the message.
          type: string
        thread:
          $ref: "#/components/schemas/Thread"
          description: The thread the message belongs to.
      type: object
    OnClick:
      description: An onclick action (e.g. open a link).
      properties:
        action:
          $ref: "#/components/schemas/FormAction"
          description: A form action will be triggered by this onclick if specified.
        openLink:
          $ref: "#/components/schemas/OpenLink"
          description: This onclick triggers an open link action if specified.
      type: object
    OpenLink:
      description: A link that opens a new window.
      properties:
        url:
          description: The URL to open.
          type: string
      type: object
    Section:
      description: A section contains a collection of widgets that are rendered (vertically) in the order that they are specified. Across all platforms, cards have a narrow fixed width, so there is currently no need for layout properties (e.g. float).
      properties:
        header:
          description: The header of the section, text formatted supported.
          type: string
        widgets:
          description: A section must contain at least 1 widget.
          items:
            $ref: "#/components/schemas/WidgetMarkup"
          type: array
      type: object
    SlashCommand:
      description: A Slash Command in Chat.
      properties:
        commandId:
          description: The id of the slash command invoked.
          format: int64
          type: string
      type: object
    SlashCommandMetadata:
      description: Annotation metadata for slash commands (/).
      properties:
        bot:
          $ref: "#/components/schemas/User"
          description: The bot whose command was invoked.
        commandId:
          description: The command id of the invoked slash command.
          format: int64
          type: string
        commandName:
          description: The name of the invoked slash command.
          type: string
        triggersDialog:
          description: Indicating whether the slash command is for a dialog.
          type: boolean
        type:
          description: The type of slash command.
          enum:
            - TYPE_UNSPECIFIED
            - ADD
            - INVOKE
          type: string
      type: object
    Space:
      description: A room or DM in Hangouts Chat.
      properties:
        displayName:
          description: Output only. The display name (only if the space is a room). Please note that this field might not be populated in direct messages between humans.
          type: string
        name:
          description: 'Resource name of the space, in the form "spaces/*". Example: spaces/AAAAMpdlehYs'
          type: string
        singleUserBotDm:
          description: Whether the space is a DM between a bot and a single human.
          type: boolean
        threaded:
          description: Whether the messages are threaded in this space.
          type: boolean
        type:
          description: Output only. The type of a space. This is deprecated. Use `single_user_bot_dm` instead.
          enum:
            - TYPE_UNSPECIFIED
            - ROOM
            - DM
          type: string
      type: object
    TextButton:
      description: A button with text and onclick action.
      properties:
        onClick:
          $ref: "#/components/schemas/OnClick"
          description: The onclick action of the button.
        text:
          description: The text of the button.
          type: string
      type: object
    TextParagraph:
      description: A paragraph of text. Formatted text supported.
      properties:
        text:
          type: string
      type: object
    Thread:
      description: A thread in Hangouts Chat.
      properties:
        name:
          description: 'Resource name, in the form "spaces/*/threads/*". Example: spaces/AAAAMpdlehY/threads/UMxbHmzDlr4'
          type: string
      type: object
    User:
      description: A user in Hangouts Chat.
      properties:
        displayName:
          description: The user's display name.
          type: string
        domainId:
          description: Obfuscated domain information.
          type: string
        isAnonymous:
          description: True when the user is deleted or the user's proifle is not visible.
          type: boolean
        name:
          description: Resource name, in the format "users/*".
          type: string
        type:
          description: User type.
          enum:
            - TYPE_UNSPECIFIED
            - HUMAN
            - BOT
          type: string
      type: object
    UserMentionMetadata:
      description: Annotation metadata for user mentions (@).
      properties:
        type:
          description: The type of user mention.
          enum:
            - TYPE_UNSPECIFIED
            - ADD
            - MENTION
          type: string
        user:
          $ref: "#/components/schemas/User"
          description: The user mentioned.
      type: object
    WidgetMarkup:
      description: A widget is a UI element that presents texts, images, etc.
      properties:
        buttons:
          description: A list of buttons. Buttons is also oneof data and only one of these fields should be set.
          items:
            $ref: "#/components/schemas/Button"
          type: array
        image:
          $ref: "#/components/schemas/Image"
          description: Display an image in this widget.
        keyValue:
          $ref: "#/components/schemas/KeyValue"
          description: Display a key value item in this widget.
        textParagraph:
          $ref: "#/components/schemas/TextParagraph"
          description: Display a text paragraph in this widget.
      type: object
