openapi: 3.0.1
servers:
  - url: https://events.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Events
  version: 1.16.1
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_events_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_events_v1
paths:
  "/v1/Schemas/{Id}":
    description: Versioned Schema definitions for Event Types
    get:
      description: Fetch a specific schema with its nested versions.
      operationId: FetchSchema
      parameters:
        - description: The unique identifier of the schema. Each schema can have multiple
            versions, that share the same id.
          in: path
          name: Id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.schema"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - id
    x-path-type: instance
  "/v1/Schemas/{Id}/Versions":
    description: Version of the Schema
    get:
      description: Retrieve a paginated list of versions of the schema.
      operationId: ListSchemaVersion
      parameters:
        - description: The unique identifier of the schema. Each schema can have multiple
            versions, that share the same id.
          in: path
          name: Id
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50,
            and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  schema_versions:
                    items:
                      $ref: "#/components/schemas/events.v1.schema.schema_version"
                    type: array
                title: ListSchemaVersionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - id
      - version
      - date_created
    x-path-type: list
  "/v1/Schemas/{Id}/Versions/{SchemaVersion}":
    description: Version of the Schema
    get:
      description: Fetch a specific schema and version.
      operationId: FetchSchemaVersion
      parameters:
        - description: The unique identifier of the schema. Each schema can have multiple
            versions, that share the same id.
          in: path
          name: Id
          required: true
          schema:
            type: string
        - description: The version of the schema
          in: path
          name: SchemaVersion
          required: true
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.schema.schema_version"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - id
      - version
      - date_created
    x-path-type: instance
  /v1/Sinks:
    description: Sink destination to send events to
    get:
      description: Retrieve a paginated list of Sinks belonging to the account used to
        make the request.
      operationId: ListSink
      parameters:
        - description: A boolean query parameter filtering the results to return sinks
            used/not used by a subscription.
          in: query
          name: InUse
          schema:
            type: boolean
        - description: A String query parameter filtering the results by status
            `initialized`, `validating`, `active` or `failed`.
          in: query
          name: Status
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50,
            and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  sinks:
                    items:
                      $ref: "#/components/schemas/events.v1.sink"
                    type: array
                title: ListSinkResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Sink
      operationId: CreateSink
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Description:
                  description: A human readable description for the Sink **This value should not
                    contain PII.**
                  type: string
                SinkConfiguration:
                  description: The information required for Twilio to connect to the provided Sink
                    encoded as JSON.
                  type: object
                SinkType:
                  description: The Sink type. Can only be "kinesis" or "webhook" currently.
                  enum:
                    - kinesis
                    - webhook
                  type: string
              required:
                - Description
                - SinkConfiguration
                - SinkType
              title: CreateSinkRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.sink"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - date_created
      - date_updated
      - description
      - sid
      - sink_configuration
      - sink_type
      - status
    x-path-type: list
  "/v1/Sinks/{Sid}":
    delete:
      description: Delete a specific Sink.
      operationId: DeleteSink
      parameters:
        - description: A 34 character string that uniquely identifies this Sink.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DG[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: Sink destination to send events to
    get:
      description: Fetch a specific Sink.
      operationId: FetchSink
      parameters:
        - description: A 34 character string that uniquely identifies this Sink.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DG[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.sink"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Sink
      operationId: UpdateSink
      parameters:
        - description: A 34 character string that uniquely identifies this Sink.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DG[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Description:
                  description: A human readable description for the Sink **This value should not
                    contain PII.**
                  type: string
              required:
                - Description
              title: UpdateSinkRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.sink"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - date_created
      - date_updated
      - description
      - sid
      - sink_configuration
      - sink_type
      - status
    x-path-type: instance
  "/v1/Sinks/{Sid}/Test":
    description: Test sink
    post:
      description: Create a new Sink Test Event for the given Sink.
      operationId: CreateSinkTest
      parameters:
        - description: A 34 character string that uniquely identifies the Sink to be Tested.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DG[0-9a-fA-F]{32}$
            type: string
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.sink.sink_test"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - result
    x-path-type: list
  "/v1/Sinks/{Sid}/Validate":
    description: Validate sink
    post:
      description: Validate that a test event for a Sink was received.
      operationId: CreateSinkValidate
      parameters:
        - description: A 34 character string that uniquely identifies the Sink being
            validated.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DG[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                TestId:
                  description: A 34 character string that uniquely identifies the test event for a
                    Sink being validated.
                  type: string
              required:
                - TestId
              title: CreateSinkValidateRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.sink.sink_validate"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - result
    x-path-type: list
  /v1/Subscriptions:
    description: Subscription to send Event Types to a Sink
    get:
      description: Retrieve a paginated list of Subscriptions belonging to the account
        used to make the request.
      operationId: ListSubscription
      parameters:
        - description: The SID of the sink that the list of Subscriptions should be
            filtered by.
          in: query
          name: SinkSid
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DG[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50,
            and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  subscriptions:
                    items:
                      $ref: "#/components/schemas/events.v1.subscription"
                    type: array
                title: ListSubscriptionResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Subscription.
      operationId: CreateSubscription
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Description:
                  description: A human readable description for the Subscription **This value
                    should not contain PII.**
                  type: string
                SinkSid:
                  description: The SID of the sink that events selected by this subscription
                    should be sent to. Sink must be active for the subscription
                    to be created.
                  maxLength: 34
                  minLength: 34
                  pattern: ^DG[0-9a-fA-F]{32}$
                  type: string
                Types:
                  description: An array of objects containing the subscribed Event Types
                  items:
                    type: object
                  type: array
              required:
                - Description
                - SinkSid
                - Types
              title: CreateSubscriptionRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.subscription"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - account_sid
      - sid
      - sink_sid
      - date_created
      - date_updated
    x-path-type: list
  "/v1/Subscriptions/{Sid}":
    delete:
      description: Delete a specific Subscription.
      operationId: DeleteSubscription
      parameters:
        - description: A 34 character string that uniquely identifies this Subscription.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DF[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: Subscription to send Event Types to a Sink
    get:
      description: Fetch a specific Subscription.
      operationId: FetchSubscription
      parameters:
        - description: A 34 character string that uniquely identifies this Subscription.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DF[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.subscription"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a Subscription.
      operationId: UpdateSubscription
      parameters:
        - description: A 34 character string that uniquely identifies this Subscription.
          in: path
          name: Sid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DF[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Description:
                  description: A human readable description for the Subscription.
                  type: string
                SinkSid:
                  description: The SID of the sink that events selected by this subscription
                    should be sent to. Sink must be active for the subscription
                    to be created.
                  maxLength: 34
                  minLength: 34
                  pattern: ^DG[0-9a-fA-F]{32}$
                  type: string
              title: UpdateSubscriptionRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.subscription"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - account_sid
      - sid
      - sink_sid
      - date_created
      - date_updated
    x-path-type: instance
  "/v1/Subscriptions/{SubscriptionSid}/SubscribedEvents":
    description: Event subscribed to in the parent subscription
    get:
      description: Retrieve a list of all Subscribed Event types for a Subscription.
      operationId: ListSubscribedEvent
      parameters:
        - description: The unique SID identifier of the Subscription.
          in: path
          name: SubscriptionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DF[0-9a-fA-F]{32}$
            type: string
        - description: How many resources to return in each list page. The default is 50,
            and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  types:
                    items:
                      $ref: "#/components/schemas/events.v1.subscription.subscribed_event"
                    type: array
                title: ListSubscribedEventResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Create a new Subscribed Event type for the subscription
      operationId: CreateSubscribedEvent
      parameters:
        - description: The unique SID identifier of the Subscription.
          in: path
          name: SubscriptionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DF[0-9a-fA-F]{32}$
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                SchemaVersion:
                  description: The schema version that the subscription should use.
                  type: integer
                Type:
                  description: Type of event being subscribed to.
                  type: string
              required:
                - Type
              title: CreateSubscribedEventRequest
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.subscription.subscribed_event"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - type
      - schema_version
      - account_sid
      - subscription_sid
    x-path-type: list
  "/v1/Subscriptions/{SubscriptionSid}/SubscribedEvents/{Type}":
    delete:
      description: Remove an event type from a subscription.
      operationId: DeleteSubscribedEvent
      parameters:
        - description: The unique SID identifier of the Subscription.
          in: path
          name: SubscriptionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DF[0-9a-fA-F]{32}$
            type: string
        - description: Type of event being subscribed to.
          in: path
          name: Type
          required: true
          schema:
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: Event subscribed to in the parent subscription
    get:
      description: Read an Event for a Subscription.
      operationId: FetchSubscribedEvent
      parameters:
        - description: The unique SID identifier of the Subscription.
          in: path
          name: SubscriptionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DF[0-9a-fA-F]{32}$
            type: string
        - description: Type of event being subscribed to.
          in: path
          name: Type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.subscription.subscribed_event"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update an Event for a Subscription.
      operationId: UpdateSubscribedEvent
      parameters:
        - description: The unique SID identifier of the Subscription.
          in: path
          name: SubscriptionSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^DF[0-9a-fA-F]{32}$
            type: string
        - description: Type of event being subscribed to.
          in: path
          name: Type
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                SchemaVersion:
                  description: The schema version that the subscription should use.
                  type: integer
              title: UpdateSubscribedEventRequest
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.subscription.subscribed_event"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - type
      - schema_version
      - account_sid
      - subscription_sid
    x-path-type: instance
  /v1/Types:
    description: Event Types available
    get:
      description: Retrieve a paginated list of all the available Event Types.
      operationId: ListEventType
      parameters:
        - description: A string parameter filtering the results to return only the Event
            Types using a given schema.
          in: query
          name: SchemaId
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50,
            and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                  types:
                    items:
                      $ref: "#/components/schemas/events.v1.event_type"
                    type: array
                title: ListEventTypeResponse
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - type
      - schema_id
      - description
    x-path-type: list
  "/v1/Types/{Type}":
    description: Event Types available
    get:
      description: Fetch a specific Event Type.
      operationId: FetchEventType
      parameters:
        - description: A string that uniquely identifies this Event Type.
          in: path
          name: Type
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/events.v1.event_type"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://events.twilio.com
    x-default-output-properties:
      - type
      - schema_id
      - description
    x-path-type: instance
components:
  schemas:
    events.v1.event_type:
      properties:
        date_created:
          description: The date this Event Type was created.
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date this Event Type was updated.
          format: date-time
          nullable: true
          type: string
        description:
          description: Event Type description.
          nullable: true
          type: string
        links:
          nullable: true
          type: object
        schema_id:
          description: The Schema identifier for this Event Type.
          nullable: true
          type: string
        type:
          description: The Event Type identifier.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    events.v1.schema:
      properties:
        id:
          description: Schema Identifier.
          nullable: true
          type: string
        latest_version:
          description: Latest schema version.
          nullable: true
          type: integer
        latest_version_date_created:
          description: The date that the latest schema version was created.
          format: date-time
          nullable: true
          type: string
        links:
          description: Nested resource URLs.
          nullable: true
          type: object
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    events.v1.schema.schema_version:
      properties:
        date_created:
          description: The date the schema version was created.
          format: date-time
          nullable: true
          type: string
        id:
          description: The unique identifier of the schema.
          nullable: true
          type: string
        raw:
          format: uri
          nullable: true
          type: string
        schema_version:
          description: The version of this schema.
          nullable: true
          type: integer
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    events.v1.sink:
      properties:
        date_created:
          description: The date this Sink was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date this Sink was updated
          format: date-time
          nullable: true
          type: string
        description:
          description: Sink Description
          nullable: true
          type: string
        links:
          description: Nested resource URLs.
          nullable: true
          type: object
        sid:
          description: A string that uniquely identifies this Sink.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^DG[0-9a-fA-F]{32}$
          type: string
        sink_configuration:
          description: JSON Sink configuration.
          nullable: true
          type: object
        sink_type:
          description: Sink type.
          enum:
            - kinesis
            - webhook
          nullable: true
          type: string
        status:
          description: The Status of this Sink
          enum:
            - initialized
            - validating
            - active
            - failed
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    events.v1.sink.sink_test:
      properties:
        result:
          description: Feedback indicating whether the test event was generated.
          nullable: true
          type: string
      type: object
    events.v1.sink.sink_validate:
      properties:
        result:
          description: Feedback indicating whether the given Sink was validated.
          nullable: true
          type: string
      type: object
    events.v1.subscription:
      properties:
        account_sid:
          description: Account SID.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        date_created:
          description: The date this Subscription was created
          format: date-time
          nullable: true
          type: string
        date_updated:
          description: The date this Subscription was updated
          format: date-time
          nullable: true
          type: string
        description:
          description: Subscription description
          nullable: true
          type: string
        links:
          description: Nested resource URLs.
          nullable: true
          type: object
        sid:
          description: A string that uniquely identifies this Subscription.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^DF[0-9a-fA-F]{32}$
          type: string
        sink_sid:
          description: Sink SID.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^DG[0-9a-fA-F]{32}$
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
    events.v1.subscription.subscribed_event:
      properties:
        account_sid:
          description: Account SID.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^AC[0-9a-fA-F]{32}$
          type: string
        schema_version:
          description: The schema version that the subscription should use.
          nullable: true
          type: integer
        subscription_sid:
          description: Subscription SID.
          maxLength: 34
          minLength: 34
          nullable: true
          pattern: ^DF[0-9a-fA-F]{32}$
          type: string
        type:
          description: Type of event being subscribed to.
          nullable: true
          type: string
        url:
          description: The URL of this resource.
          format: uri
          nullable: true
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: PLEASE NOTE that this is a Beta product that is subject to change.
      Use it with caution.
    name: Beta
