openapi: 3.0.0
servers:
  - url: 'https://www.googleapis.com/content/v2'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manages product items, inventory, and Merchant Center accounts for Google Shopping.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Content API for Shopping
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/content/v2/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: content
externalDocs:
  url: 'https://developers.google.com/shopping-content'
tags:
  - name: accounts
  - name: accountstatuses
  - name: accounttax
  - name: datafeeds
  - name: datafeedstatuses
  - name: inventory
  - name: orders
  - name: products
  - name: productstatuses
  - name: shippingsettings
paths:
  /accounts/authinfo:
    get:
      description: Returns information about the authenticated user.
      operationId: content.accounts.authinfo
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountsAuthInfoResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  /accounts/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.'
      operationId: content.accounts.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountsCustomBatchRequest'
  /accountstatuses/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      operationId: content.accountstatuses.custombatch
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountstatusesCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accountstatuses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountstatusesCustomBatchRequest'
  /accounttax/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Retrieves and updates tax settings of multiple accounts in a single request.
      operationId: content.accounttax.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccounttaxCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccounttaxCustomBatchRequest'
  /datafeeds/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      operationId: content.datafeeds.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DatafeedsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatafeedsCustomBatchRequest'
  /datafeedstatuses/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      operationId: content.datafeedstatuses.custombatch
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DatafeedstatusesCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeedstatuses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatafeedstatusesCustomBatchRequest'
  /inventory/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Updates price and availability for multiple products or stores in a single request. This operation does not update the expiration date of the products. This method can only be called for non-multi-client accounts.
      operationId: content.inventory.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InventoryCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - inventory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventoryCustomBatchRequest'
  /orders/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Retrieves or modifies multiple orders in a single request. This method can only be called for non-multi-client accounts.
      operationId: content.orders.custombatch
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersCustomBatchRequest'
  /products/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Retrieves, inserts, and deletes multiple products in a single request. This method can only be called for non-multi-client accounts.'
      operationId: content.products.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductsCustomBatchRequest'
  /productstatuses/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Gets the statuses of multiple products in a single request. This method can only be called for non-multi-client accounts.
      operationId: content.productstatuses.custombatch
      parameters:
        - description: Flag to include full product data in the results of this request. The default value is false.
          in: query
          name: includeAttributes
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductstatusesCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - productstatuses
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductstatusesCustomBatchRequest'
  /shippingsettings/batch:
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Retrieves and updates the shipping settings of multiple accounts in a single request.
      operationId: content.shippingsettings.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShippingsettingsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShippingsettingsCustomBatchRequest'
  '/{merchantId}/accounts':
    get:
      description: Lists the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.
      operationId: content.accounts.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: 'The maximum number of accounts to return in the response, used for paging.'
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Creates a Merchant Center sub-account. This method can only be called for multi-client accounts.
      operationId: content.accounts.insert
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
      requestBody:
        $ref: '#/components/requestBodies/Account'
  '/{merchantId}/accounts/{accountId}':
    delete:
      description: Deletes a Merchant Center sub-account. This method can only be called for multi-client accounts.
      operationId: content.accounts.delete
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    get:
      description: 'Retrieves a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.'
      operationId: content.accounts.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    patch:
      description: 'Updates a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account. This method supports patch semantics.'
      operationId: content.accounts.patch
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
      requestBody:
        $ref: '#/components/requestBodies/Account'
    put:
      description: 'Updates a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.'
      operationId: content.accounts.update
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
      requestBody:
        $ref: '#/components/requestBodies/Account'
  '/{merchantId}/accounts/{accountId}/claimwebsite':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Claims the website of a Merchant Center sub-account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.'
      operationId: content.accounts.claimwebsite
      parameters:
        - description: The ID of the account whose website is claimed.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: Flag to remove any existing claim on the requested website by another account and replace it with a claim from this account.
          in: query
          name: overwrite
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountsClaimWebsiteResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  '/{merchantId}/accountstatuses':
    get:
      description: Lists the statuses of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.
      operationId: content.accountstatuses.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: 'The maximum number of account statuses to return in the response, used for paging.'
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountstatusesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accountstatuses
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/accountstatuses/{accountId}':
    get:
      description: 'Retrieves the status of a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.'
      operationId: content.accountstatuses.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountStatus'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accountstatuses
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/accounttax':
    get:
      description: Lists the tax settings of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.
      operationId: content.accounttax.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: 'The maximum number of tax settings to return in the response, used for paging.'
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccounttaxListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/accounttax/{accountId}':
    get:
      description: 'Retrieves the tax settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.'
      operationId: content.accounttax.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account for which to get/update account tax settings.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountTax'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    patch:
      description: 'Updates the tax settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account. This method supports patch semantics.'
      operationId: content.accounttax.patch
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account for which to get/update account tax settings.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountTax'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
      requestBody:
        $ref: '#/components/requestBodies/AccountTax'
    put:
      description: 'Updates the tax settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.'
      operationId: content.accounttax.update
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account for which to get/update account tax settings.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/AccountTax'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
      requestBody:
        $ref: '#/components/requestBodies/AccountTax'
  '/{merchantId}/datafeeds':
    get:
      description: Lists the datafeeds in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: 'The maximum number of products to return in the response, used for paging.'
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DatafeedsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Registers a datafeed configuration with your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.insert
      parameters:
        - in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
      requestBody:
        $ref: '#/components/requestBodies/Datafeed'
  '/{merchantId}/datafeeds/{datafeedId}':
    delete:
      description: Deletes a datafeed configuration from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.delete
      parameters:
        - in: path
          name: merchantId
          required: true
          schema:
            type: string
        - in: path
          name: datafeedId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    get:
      description: Retrieves a datafeed configuration from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.get
      parameters:
        - in: path
          name: merchantId
          required: true
          schema:
            type: string
        - in: path
          name: datafeedId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    patch:
      description: Updates a datafeed configuration of your Merchant Center account. This method can only be called for non-multi-client accounts. This method supports patch semantics.
      operationId: content.datafeeds.patch
      parameters:
        - in: path
          name: merchantId
          required: true
          schema:
            type: string
        - in: path
          name: datafeedId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
      requestBody:
        $ref: '#/components/requestBodies/Datafeed'
    put:
      description: Updates a datafeed configuration of your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.update
      parameters:
        - in: path
          name: merchantId
          required: true
          schema:
            type: string
        - in: path
          name: datafeedId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
      requestBody:
        $ref: '#/components/requestBodies/Datafeed'
  '/{merchantId}/datafeedstatuses':
    get:
      description: Lists the statuses of the datafeeds in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeedstatuses.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: 'The maximum number of products to return in the response, used for paging.'
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DatafeedstatusesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeedstatuses
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/datafeedstatuses/{datafeedId}':
    get:
      description: Retrieves the status of a datafeed from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeedstatuses.get
      parameters:
        - in: path
          name: merchantId
          required: true
          schema:
            type: string
        - in: path
          name: datafeedId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DatafeedStatus'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeedstatuses
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/inventory/{storeCode}/products/{productId}':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Updates price and availability of a product in your Merchant Center account. This operation does not update the expiration date of the product. This method can only be called for non-multi-client accounts.
      operationId: content.inventory.set
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The code of the store for which to update price and availability. Use online to update price and availability of an online product.
          in: path
          name: storeCode
          required: true
          schema:
            type: string
        - description: The ID of the product for which to update price and availability.
          in: path
          name: productId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InventorySetResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - inventory
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InventorySetRequest'
  '/{merchantId}/orders':
    get:
      description: Lists the orders in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.orders.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: |-
            Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged.
            We recommend using this filter set to false, in conjunction with the acknowledge call, such that only un-acknowledged orders are returned.
          in: query
          name: acknowledged
          schema:
            type: boolean
        - description: |-
            The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.
            Known issue: All List calls will return all Orders without limit regardless of the value of this field.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: 'The ordering of the returned list. The only supported value are placedDate desc and placedDate asc for now, which returns orders sorted by placement date. "placedDate desc" stands for listing orders by placement date, from oldest to most recent. "placedDate asc" stands for listing orders by placement date, from most recent to oldest. In future releases we''ll support other sorting criteria.'
          in: query
          name: orderBy
          schema:
            type: string
            enum:
              - placedDate asc
              - placedDate desc
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
        - description: 'Obtains orders placed before this date (exclusively), in ISO 8601 format.'
          in: query
          name: placedDateEnd
          schema:
            type: string
        - description: 'Obtains orders placed after this date (inclusively), in ISO 8601 format.'
          in: query
          name: placedDateStart
          schema:
            type: string
        - description: 'Obtains orders that match any of the specified statuses. Multiple values can be specified with comma separation. Additionally, please note that active is a shortcut for pendingShipment and partiallyShipped, and completed is a shortcut for shipped , partiallyDelivered, delivered, partiallyReturned, returned, and canceled.'
          in: query
          name: statuses
          explode: true
          schema:
            type: array
            items:
              enum:
                - active
                - canceled
                - completed
                - delivered
                - inProgress
                - partiallyDelivered
                - partiallyReturned
                - partiallyShipped
                - pendingShipment
                - returned
                - shipped
              type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/orders/{orderId}':
    get:
      description: Retrieves an order from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.orders.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Order'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/orders/{orderId}/acknowledge':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Marks an order as acknowledged. This method can only be called for non-multi-client accounts.
      operationId: content.orders.acknowledge
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersAcknowledgeResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersAcknowledgeRequest'
  '/{merchantId}/orders/{orderId}/cancel':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Cancels all line items in an order, making a full refund. This method can only be called for non-multi-client accounts.'
      operationId: content.orders.cancel
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the order to cancel.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersCancelResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersCancelRequest'
  '/{merchantId}/orders/{orderId}/cancelLineItem':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Cancels a line item, making a full refund. This method can only be called for non-multi-client accounts.'
      operationId: content.orders.cancellineitem
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersCancelLineItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersCancelLineItemRequest'
  '/{merchantId}/orders/{orderId}/refund':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Refund a portion of the order, up to the full amount paid. This method can only be called for non-multi-client accounts.'
      operationId: content.orders.refund
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the order to refund.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersRefundResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersRefundRequest'
  '/{merchantId}/orders/{orderId}/returnLineItem':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Returns a line item. This method can only be called for non-multi-client accounts.
      operationId: content.orders.returnlineitem
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersReturnLineItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersReturnLineItemRequest'
  '/{merchantId}/orders/{orderId}/shipLineItems':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Marks line item(s) as shipped. This method can only be called for non-multi-client accounts.
      operationId: content.orders.shiplineitems
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersShipLineItemsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersShipLineItemsRequest'
  '/{merchantId}/orders/{orderId}/updateMerchantOrderId':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Updates the merchant order ID for a given order. This method can only be called for non-multi-client accounts.
      operationId: content.orders.updatemerchantorderid
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersUpdateMerchantOrderIdResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersUpdateMerchantOrderIdRequest'
  '/{merchantId}/orders/{orderId}/updateShipment':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Updates a shipment''s status, carrier, and/or tracking ID. This method can only be called for non-multi-client accounts.'
      operationId: content.orders.updateshipment
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersUpdateShipmentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersUpdateShipmentRequest'
  '/{merchantId}/ordersbymerchantid/{merchantOrderId}':
    get:
      description: Retrieves an order using merchant order id. This method can only be called for non-multi-client accounts.
      operationId: content.orders.getbymerchantorderid
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The merchant order id to be looked for.
          in: path
          name: merchantOrderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersGetByMerchantOrderIdResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/products':
    get:
      description: Lists the products in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.products.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).
          in: query
          name: includeInvalidInsertedItems
          schema:
            type: boolean
        - description: 'The maximum number of products to return in the response, used for paging.'
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: 'Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry. This method can only be called for non-multi-client accounts.'
      operationId: content.products.insert
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Product'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Product'
  '/{merchantId}/products/{productId}':
    delete:
      description: Deletes a product from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.products.delete
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
    get:
      description: Retrieves a product from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.products.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Product'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/productstatuses':
    get:
      description: Lists the statuses of the products in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.productstatuses.list
      parameters:
        - description: Flag to include full product data in the results of the list request. The default value is false.
          in: query
          name: includeAttributes
          schema:
            type: boolean
        - description: Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).
          in: query
          name: includeInvalidInsertedItems
          schema:
            type: boolean
        - description: 'The maximum number of product statuses to return in the response, used for paging.'
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductstatusesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - productstatuses
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/productstatuses/{productId}':
    get:
      description: Gets the status of a product from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.productstatuses.get
      parameters:
        - description: Flag to include full product data in the result of this get request. The default value is false.
          in: query
          name: includeAttributes
          schema:
            type: boolean
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ProductStatus'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - productstatuses
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/shippingsettings':
    get:
      description: Lists the shipping settings of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.
      operationId: content.shippingsettings.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: 'The maximum number of shipping settings to return in the response, used for paging.'
          in: query
          name: maxResults
          schema:
            type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShippingsettingsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/shippingsettings/{accountId}':
    get:
      description: 'Retrieves the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.'
      operationId: content.shippingsettings.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account for which to get/update shipping settings.
          in: path
          name: accountId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShippingSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    patch:
      description: 'Updates the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account. This method supports patch semantics.'
      operationId: content.shippingsettings.patch
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account for which to get/update shipping settings.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShippingSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
      requestBody:
        $ref: '#/components/requestBodies/ShippingSettings'
    put:
      description: 'Updates the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself or sub-accounts if the managing account is a multi-client account.'
      operationId: content.shippingsettings.update
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the account for which to get/update shipping settings.
          in: path
          name: accountId
          required: true
          schema:
            type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          schema:
            type: boolean
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShippingSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
      requestBody:
        $ref: '#/components/requestBodies/ShippingSettings'
  '/{merchantId}/supportedCarriers':
    get:
      description: Retrieves supported carriers and carrier services for an account.
      operationId: content.shippingsettings.getsupportedcarriers
      parameters:
        - description: The ID of the account for which to retrieve the supported carriers.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ShippingsettingsGetSupportedCarriersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
  '/{merchantId}/testorders':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Sandbox only. Creates a test order. This method can only be called for non-multi-client accounts.
      operationId: content.orders.createtestorder
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersCreateTestOrderResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OrdersCreateTestOrderRequest'
  '/{merchantId}/testorders/{orderId}/advance':
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
    post:
      description: Sandbox only. Moves a test order from state "inProgress" to state "pendingShipment". This method can only be called for non-multi-client accounts.
      operationId: content.orders.advancetestorder
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The ID of the test order to modify.
          in: path
          name: orderId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersAdvanceTestOrderResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/testordertemplates/{templateName}':
    get:
      description: Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox. This method can only be called for non-multi-client accounts.
      operationId: content.orders.gettestordertemplate
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          schema:
            type: string
        - description: The name of the template to retrieve.
          in: path
          name: templateName
          required: true
          schema:
            type: string
            enum:
              - template1
              - template1a
              - template1b
              - template2
      responses:
        '200':
          description: Successful response
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrdersGetTestOrderTemplateResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/userIp'
components:
  schemas:
    Account:
      description: Account data.
      properties:
        adultContent:
          description: Indicates whether the merchant sells adult content.
          type: boolean
        adwordsLinks:
          description: 'List of linked AdWords accounts that are active or pending approval. To create a new link request, add a new link with status active to the list. It will remain in a pending state until approved or rejected either in the AdWords interface or through the  AdWords API. To delete an active link, or to cancel a link request, remove it from the list.'
          items:
            $ref: '#/components/schemas/AccountAdwordsLink'
          type: array
        id:
          description: Merchant Center account ID.
          format: uint64
          type: string
        kind:
          default: 'content#account'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#account".'
          type: string
        name:
          description: Display name for the account.
          type: string
        reviewsUrl:
          description: 'URL for individual seller reviews, i.e., reviews for each child account.'
          type: string
        sellerId:
          description: 'Client-specific, locally-unique, internal ID for the child account.'
          type: string
        users:
          description: Users with access to the account. Every account (except for subaccounts) must have at least one admin user.
          items:
            $ref: '#/components/schemas/AccountUser'
          type: array
        websiteUrl:
          description: The merchant's website.
          type: string
      type: object
    AccountAdwordsLink:
      properties:
        adwordsId:
          description: Customer ID of the AdWords account.
          format: uint64
          type: string
        status:
          description: 'Status of the link between this Merchant Center account and the AdWords account. Upon retrieval, it represents the actual status of the link and can be either active if it was approved in Google AdWords or pending if it''s pending approval. Upon insertion, it represents the intended status of the link. Re-uploading a link with status active when it''s still pending or with status pending when it''s already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status inactive is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending.'
          type: string
      type: object
    AccountIdentifier:
      properties:
        aggregatorId:
          description: 'The aggregator ID, set for aggregators and subaccounts (in that case, it represents the aggregator of the subaccount).'
          format: uint64
          type: string
        merchantId:
          description: 'The merchant account ID, set for individual accounts and subaccounts.'
          format: uint64
          type: string
      type: object
    AccountStatus:
      description: 'The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time.'
      properties:
        accountId:
          description: The ID of the account for which the status is reported.
          type: string
        dataQualityIssues:
          description: A list of data quality issues.
          items:
            $ref: '#/components/schemas/AccountStatusDataQualityIssue'
          type: array
        kind:
          default: 'content#accountStatus'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountStatus".'
          type: string
        websiteClaimed:
          description: Whether the account's website is claimed or not.
          type: boolean
      type: object
    AccountStatusDataQualityIssue:
      properties:
        country:
          description: Country for which this issue is reported.
          type: string
        detail:
          description: A more detailed description of the issue.
          type: string
        displayedValue:
          description: Actual value displayed on the landing page.
          type: string
        exampleItems:
          description: Example items featuring the issue.
          items:
            $ref: '#/components/schemas/AccountStatusExampleItem'
          type: array
        id:
          description: Issue identifier.
          type: string
        lastChecked:
          description: Last time the account was checked for this issue.
          type: string
        location:
          description: The attribute name that is relevant for the issue.
          type: string
        numItems:
          description: Number of items in the account found to have the said issue.
          format: uint32
          type: integer
        severity:
          description: Severity of the problem.
          type: string
        submittedValue:
          description: Submitted value that causes the issue.
          type: string
      type: object
    AccountStatusExampleItem:
      description: 'An example of an item that has poor data quality. An item value on the landing page differs from what is submitted, or conflicts with a policy.'
      properties:
        itemId:
          description: Unique item ID as specified in the uploaded product data.
          type: string
        link:
          description: Landing page of the item.
          type: string
        submittedValue:
          description: The item value that was submitted.
          type: string
        title:
          description: Title of the item.
          type: string
        valueOnLandingPage:
          description: The actual value on the landing page.
          type: string
      type: object
    AccountTax:
      description: The tax settings of a merchant account.
      properties:
        accountId:
          description: The ID of the account to which these account tax settings belong.
          format: uint64
          type: string
        kind:
          default: 'content#accountTax'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountTax".'
          type: string
        rules:
          description: Tax rules. Updating the tax rules will enable US taxes (not reversible). Defining no rules is equivalent to not charging tax at all.
          items:
            $ref: '#/components/schemas/AccountTaxTaxRule'
          type: array
      type: object
    AccountTaxTaxRule:
      description: Tax calculation rule to apply in a state or province (USA only).
      properties:
        country:
          description: Country code in which tax is applicable.
          type: string
        locationId:
          description: 'State (or province) is which the tax is applicable, described by its location id (also called criteria id).'
          format: uint64
          type: string
        ratePercent:
          description: 'Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative.'
          type: string
        shippingTaxed:
          description: 'If true, shipping charges are also taxed.'
          type: boolean
        useGlobalRate:
          description: Whether the tax rate is taken from a global tax table or specified explicitly.
          type: boolean
      type: object
    AccountUser:
      properties:
        admin:
          description: Whether user is an admin.
          type: boolean
        emailAddress:
          description: User's email address.
          type: string
      type: object
    AccountsAuthInfoResponse:
      properties:
        accountIdentifiers:
          description: |-
            The account identifiers corresponding to the authenticated user.
            - For an individual account: only the merchant ID is defined
            - For an aggregator: only the aggregator ID is defined
            - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined.
          items:
            $ref: '#/components/schemas/AccountIdentifier'
          type: array
        kind:
          default: 'content#accountsAuthInfoResponse'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsAuthInfoResponse".'
          type: string
      type: object
    AccountsClaimWebsiteResponse:
      properties:
        kind:
          default: 'content#accountsClaimWebsiteResponse'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsClaimWebsiteResponse".'
          type: string
      type: object
    AccountsCustomBatchRequest:
      properties:
        entries:
          description: The request entries to be processed in the batch.
          items:
            $ref: '#/components/schemas/AccountsCustomBatchRequestEntry'
          type: array
      type: object
    AccountsCustomBatchRequestEntry:
      description: A batch entry encoding a single non-batch accounts request.
      properties:
        account:
          $ref: '#/components/schemas/Account'
        accountId:
          description: 'The ID of the targeted account. Only defined if the method is get, delete or claimwebsite.'
          format: uint64
          type: string
        batchId:
          description: 'An entry ID, unique within the batch request.'
          format: uint32
          type: integer
        merchantId:
          description: The ID of the managing account.
          format: uint64
          type: string
        method:
          type: string
        overwrite:
          description: Only applicable if the method is claimwebsite. Indicates whether or not to take the claim from another account in case there is a conflict.
          type: boolean
      type: object
    AccountsCustomBatchResponse:
      properties:
        entries:
          description: The result of the execution of the batch requests.
          items:
            $ref: '#/components/schemas/AccountsCustomBatchResponseEntry'
          type: array
        kind:
          default: 'content#accountsCustomBatchResponse'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsCustomBatchResponse".'
          type: string
      type: object
    AccountsCustomBatchResponseEntry:
      description: A batch entry encoding a single non-batch accounts response.
      properties:
        account:
          $ref: '#/components/schemas/Account'
        batchId:
          description: The ID of the request entry this entry responds to.
          format: uint32
          type: integer
        errors:
          $ref: '#/components/schemas/Errors'
        kind:
          default: 'content#accountsCustomBatchResponseEntry'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsCustomBatchResponseEntry".'
          type: string
      type: object
    AccountsListResponse:
      properties:
        kind:
          default: 'content#accountsListResponse'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsListResponse".'
          type: string
        nextPageToken:
          description: The token for the retrieval of the next page of accounts.
          type: string
        resources:
          items:
            $ref: '#/components/schemas/Account'
          type: array
      type: object
    AccountstatusesCustomBatchRequest:
      properties:
        entries:
          description: The request entries to be processed in the batch.
          items:
            $ref: '#/components/schemas/AccountstatusesCustomBatchRequestEntry'
          type: array
      type: object
    AccountstatusesCustomBatchRequestEntry:
      description: A batch entry encoding a single non-batch accountstatuses request.
      properties:
        accountId:
          description: The ID of the (sub-)account whose status to get.
          format: uint64
          type: string
        batchId:
          description: 'An entry ID, unique within the batch request.'
          format: uint32
          type: integer
        merchantId:
          description: The ID of the managing account.
          format: uint64
          type: string
        method:
          description: The method (get).
          type: string
      type: object
    AccountstatusesCustomBatchResponse:
      properties:
        entries:
          description: The result of the execution of the batch requests.
          items:
            $ref: '#/components/schemas/AccountstatusesCustomBatchResponseEntry'
          type: array
        kind:
          default: 'content#accountstatusesCustomBatchResponse'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountstatusesCustomBatchResponse".'
          type: string
      type: object
    AccountstatusesCustomBatchResponseEntry:
      description: A batch entry encoding a single non-batch accountstatuses response.
      properties:
        accountStatus:
          $ref: '#/components/schemas/AccountStatus'
        batchId:
          description: The ID of the request entry this entry responds to.
          format: uint32
          type: integer
        errors:
          $ref: '#/components/schemas/Errors'
      type: object
    AccountstatusesListResponse:
      properties:
        kind:
          default: 'content#accountstatusesListResponse'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountstatusesListResponse".'
          type: string
        nextPageToken:
          description: The token for the retrieval of the next page of account statuses.
          type: string
        resources:
          items:
            $ref: '#/components/schemas/AccountStatus'
          type: array
      type: object
    AccounttaxCustomBatchRequest:
      properties:
        entries:
          description: The request entries to be processed in the batch.
          items:
            $ref: '#/components/schemas/AccounttaxCustomBatchRequestEntry'
          type: array
      type: object
    AccounttaxCustomBatchRequestEntry:
      description: A batch entry encoding a single non-batch accounttax request.
      properties:
        accountId:
          description: The ID of the account for which to get/update account tax settings.
          format: uint64
          type: string
        accountTax:
          $ref: '#/components/schemas/AccountTax'
        batchId:
          description: 'An entry ID, unique within the batch request.'
          format: uint32
          type: integer
        merchantId:
          description: The ID of the managing account.
          format: uint64
          type: string
        method:
          type: string
      type: object
    AccounttaxCustomBatchResponse:
      properties:
        entries:
          description: The result of the execution of the batch requests.
          items:
            $ref: '#/components/schemas/AccounttaxCustomBatchResponseEntry'
          type: array
        kind:
          default: 'content#accounttaxCustomBatchResponse'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accounttaxCustomBatchResponse".'
          type: string
      type: object
    AccounttaxCustomBatchResponseEntry:
      description: A batch entry encoding a single non-batch accounttax response.
      properties:
        accountTax:
          $ref: '#/components/schemas/AccountTax'
        batchId:
          description: The ID of the request entry this entry responds to.
          format: uint32
          type: integer
        errors:
          $ref: '#/components/schemas/Errors'
        kind:
          default: 'content#accounttaxCustomBatchResponseEntry'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accounttaxCustomBatchResponseEntry".'
          type: string
      type: object
    AccounttaxListResponse:
      properties:
        kind:
          default: 'content#accounttaxListResponse'
          description: 'Identifies what kind of resource this is. Value: the fixed string "content#accounttaxListResponse".'
          type: string
        nextPageToken:
          description: The token for the retrieval of the next page of account tax settings.
          type: string
        resources:
          items:
            $ref: '#/components/schemas/AccountTax'
          type: array
      type: object
    CarrierRate:
      properties:
        carrierName:
          description: 'Carrier service, such as "UPS" or "Fedex". The list of supported carriers can be retrieved via the getSupportedCarriers method. Required.'
          type: string
        carrierService:
          description: 'Carrier service, such as "ground" or "2 days". The list of supported services for a carrier can be retrieved via the getSupportedCarriers method. Required.'
          type: string
        flatAdjustment:
          $ref: '#/components/schemas/Price'
        name:
          description: Name of the carrier rate. Must be unique per rate group. Required.
          type: string
        originPostalCode:
          description: Shipping origin for this carrier rate. Required.
          type: string
        percentageAdjustment:
[...]
