swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /content/v2
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manages product items, inventory, and Merchant Center accounts for Google Shopping.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Content API for Shopping
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/content/v2/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: content
externalDocs:
  url: 'https://developers.google.com/shopping-content'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/content': Manage your product listings and accounts for Google Shopping
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/content': Manage your product listings and accounts for Google Shopping
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: accounts
  - name: accountstatuses
  - name: accounttax
  - name: datafeeds
  - name: datafeedstatuses
  - name: inventory
  - name: orders
  - name: products
  - name: productstatuses
  - name: shippingsettings
paths:
  /accounts/authinfo:
    get:
      description: Returns information about the authenticated user.
      operationId: content.accounts.authinfo
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsAuthInfoResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /accounts/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.'
      operationId: content.accounts.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountsCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  /accountstatuses/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      operationId: content.accountstatuses.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountstatusesCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountstatusesCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accountstatuses
  /accounttax/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves and updates tax settings of multiple accounts in a single request.
      operationId: content.accounttax.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccounttaxCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccounttaxCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
  /datafeeds/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      operationId: content.datafeeds.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DatafeedsCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
  /datafeedstatuses/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      operationId: content.datafeedstatuses.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DatafeedstatusesCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedstatusesCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeedstatuses
  /inventory/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Updates price and availability for multiple products or stores in a single request. This operation does not update the expiration date of the products. This method can only be called for non-multi-client accounts.
      operationId: content.inventory.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InventoryCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InventoryCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - inventory
  /orders/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves or modifies multiple orders in a single request. This method can only be called for non-multi-client accounts.
      operationId: content.orders.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  /products/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Retrieves, inserts, and deletes multiple products in a single request. This method can only be called for non-multi-client accounts.'
      operationId: content.products.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProductsCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
  /productstatuses/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Gets the statuses of multiple products in a single request. This method can only be called for non-multi-client accounts.
      operationId: content.productstatuses.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProductstatusesCustomBatchRequest'
        - description: Flag to include full product data in the results of this request. The default value is false.
          in: query
          name: includeAttributes
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductstatusesCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - productstatuses
  /shippingsettings/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves and updates the shipping settings of multiple accounts in a single request.
      operationId: content.shippingsettings.custombatch
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ShippingsettingsCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ShippingsettingsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
  '/{merchantId}/accounts':
    get:
      description: Lists the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.
      operationId: content.accounts.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: 'The maximum number of accounts to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a Merchant Center sub-account. This method can only be called for multi-client accounts.
      operationId: content.accounts.insert
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  '/{merchantId}/accounts/{accountId}':
    delete:
      description: Deletes a Merchant Center sub-account. This method can only be called for multi-client accounts.
      operationId: content.accounts.delete
      parameters:
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - default: true
          description: 'Flag to delete sub-accounts with products. The default value of false will become active on September 28, 2017.'
          in: query
          name: force
          type: boolean
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    get:
      description: 'Retrieves a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account.'
      operationId: content.accounts.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: 'Updates a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account. This method supports patch semantics.'
      operationId: content.accounts.patch
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    put:
      description: 'Updates a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account.'
      operationId: content.accounts.update
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  '/{merchantId}/accounts/{accountId}/claimwebsite':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Claims the website of a Merchant Center sub-account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account.'
      operationId: content.accounts.claimwebsite
      parameters:
        - description: The ID of the account whose website is claimed.
          in: path
          name: accountId
          required: true
          type: string
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: 'Only available to selected merchants. When set to True, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account.'
          in: query
          name: overwrite
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsClaimWebsiteResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  '/{merchantId}/accountstatuses':
    get:
      description: Lists the statuses of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.
      operationId: content.accountstatuses.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: 'The maximum number of account statuses to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountstatusesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accountstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/accountstatuses/{accountId}':
    get:
      description: 'Retrieves the status of a Merchant Center account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account.'
      operationId: content.accountstatuses.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountStatus'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accountstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/accounttax':
    get:
      description: Lists the tax settings of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.
      operationId: content.accounttax.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: 'The maximum number of tax settings to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccounttaxListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/accounttax/{accountId}':
    get:
      description: 'Retrieves the tax settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account.'
      operationId: content.accounttax.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account for which to get/update account tax settings.
          in: path
          name: accountId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountTax'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: 'Updates the tax settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account. This method supports patch semantics.'
      operationId: content.accounttax.patch
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account for which to get/update account tax settings.
          in: path
          name: accountId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountTax'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountTax'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
    put:
      description: 'Updates the tax settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account.'
      operationId: content.accounttax.update
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account for which to get/update account tax settings.
          in: path
          name: accountId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountTax'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountTax'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
  '/{merchantId}/datafeeds':
    get:
      description: Lists the datafeeds in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: 'The maximum number of products to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Registers a datafeed configuration with your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.insert
      parameters:
        - in: path
          name: merchantId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Datafeed'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
  '/{merchantId}/datafeeds/{datafeedId}':
    delete:
      description: Deletes a datafeed configuration from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.delete
      parameters:
        - in: path
          name: merchantId
          required: true
          type: string
        - in: path
          name: datafeedId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    get:
      description: Retrieves a datafeed configuration from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.get
      parameters:
        - in: path
          name: merchantId
          required: true
          type: string
        - in: path
          name: datafeedId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a datafeed configuration of your Merchant Center account. This method can only be called for non-multi-client accounts. This method supports patch semantics.
      operationId: content.datafeeds.patch
      parameters:
        - in: path
          name: merchantId
          required: true
          type: string
        - in: path
          name: datafeedId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Datafeed'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    put:
      description: Updates a datafeed configuration of your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeeds.update
      parameters:
        - in: path
          name: merchantId
          required: true
          type: string
        - in: path
          name: datafeedId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Datafeed'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
  '/{merchantId}/datafeedstatuses':
    get:
      description: Lists the statuses of the datafeeds in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeedstatuses.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: 'The maximum number of products to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedstatusesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeedstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/datafeedstatuses/{datafeedId}':
    get:
      description: Retrieves the status of a datafeed from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.datafeedstatuses.get
      parameters:
        - in: path
          name: merchantId
          required: true
          type: string
        - in: path
          name: datafeedId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedStatus'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeedstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/inventory/{storeCode}/products/{productId}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Updates price and availability of a product in your Merchant Center account. This operation does not update the expiration date of the product. This method can only be called for non-multi-client accounts.
      operationId: content.inventory.set
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The code of the store for which to update price and availability. Use online to update price and availability of an online product.
          in: path
          name: storeCode
          required: true
          type: string
        - description: The ID of the product for which to update price and availability.
          in: path
          name: productId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InventorySetRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InventorySetResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - inventory
  '/{merchantId}/orders':
    get:
      description: Lists the orders in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.orders.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: |-
            Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged.
            We recommend using this filter set to false, in conjunction with the acknowledge call, such that only un-acknowledged orders are returned.
          in: query
          name: acknowledged
          type: boolean
        - description: |-
            The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.
            Known issue: All List calls will return all Orders without limit regardless of the value of this field.
          in: query
          name: maxResults
          type: integer
        - description: 'The ordering of the returned list. The only supported value are placedDate desc and placedDate asc for now, which returns orders sorted by placement date. "placedDate desc" stands for listing orders by placement date, from oldest to most recent. "placedDate asc" stands for listing orders by placement date, from most recent to oldest. In future releases we''ll support other sorting criteria.'
          enum:
            - placedDate asc
            - placedDate desc
          in: query
          name: orderBy
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
        - description: 'Obtains orders placed before this date (exclusively), in ISO 8601 format.'
          in: query
          name: placedDateEnd
          type: string
        - description: 'Obtains orders placed after this date (inclusively), in ISO 8601 format.'
          in: query
          name: placedDateStart
          type: string
        - collectionFormat: multi
          description: 'Obtains orders that match any of the specified statuses. Multiple values can be specified with comma separation. Additionally, please note that active is a shortcut for pendingShipment and partiallyShipped, and completed is a shortcut for shipped , partiallyDelivered, delivered, partiallyReturned, returned, and canceled.'
          in: query
          items:
            enum:
              - active
              - canceled
              - completed
              - delivered
              - inProgress
              - partiallyDelivered
              - partiallyReturned
              - partiallyShipped
              - pendingShipment
              - returned
              - shipped
            type: string
          name: statuses
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/orders/{orderId}':
    get:
      description: Retrieves an order from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.orders.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Order'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/orders/{orderId}/acknowledge':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Marks an order as acknowledged. This method can only be called for non-multi-client accounts.
      operationId: content.orders.acknowledge
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersAcknowledgeRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersAcknowledgeResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/cancel':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Cancels all line items in an order, making a full refund. This method can only be called for non-multi-client accounts.'
      operationId: content.orders.cancel
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order to cancel.
          in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersCancelRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersCancelResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/cancelLineItem':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Cancels a line item, making a full refund. This method can only be called for non-multi-client accounts.'
      operationId: content.orders.cancellineitem
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersCancelLineItemRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersCancelLineItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/refund':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Refund a portion of the order, up to the full amount paid. This method can only be called for non-multi-client accounts.'
      operationId: content.orders.refund
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order to refund.
          in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersRefundRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersRefundResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/returnLineItem':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Returns a line item. This method can only be called for non-multi-client accounts.
      operationId: content.orders.returnlineitem
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersReturnLineItemRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersReturnLineItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/shipLineItems':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Marks line item(s) as shipped. This method can only be called for non-multi-client accounts.
      operationId: content.orders.shiplineitems
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersShipLineItemsRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersShipLineItemsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/updateMerchantOrderId':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Updates the merchant order ID for a given order. This method can only be called for non-multi-client accounts.
      operationId: content.orders.updatemerchantorderid
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersUpdateMerchantOrderIdRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersUpdateMerchantOrderIdResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/updateShipment':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Updates a shipment''s status, carrier, and/or tracking ID. This method can only be called for non-multi-client accounts.'
      operationId: content.orders.updateshipment
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersUpdateShipmentRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersUpdateShipmentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/ordersbymerchantid/{merchantOrderId}':
    get:
      description: Retrieves an order using merchant order id. This method can only be called for non-multi-client accounts.
      operationId: content.orders.getbymerchantorderid
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The merchant order id to be looked for.
          in: path
          name: merchantOrderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersGetByMerchantOrderIdResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/products':
    get:
      description: Lists the products in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.products.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).
          in: query
          name: includeInvalidInsertedItems
          type: boolean
        - description: 'The maximum number of products to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Uploads a product to your Merchant Center account. If an item with the same channel, contentLanguage, offerId, and targetCountry already exists, this method updates that entry. This method can only be called for non-multi-client accounts.'
      operationId: content.products.insert
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Product'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Product'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
  '/{merchantId}/products/{productId}':
    delete:
      description: Deletes a product from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.products.delete
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
    get:
      description: Retrieves a product from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.products.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Product'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/productstatuses':
    get:
      description: Lists the statuses of the products in your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.productstatuses.list
      parameters:
        - description: Flag to include full product data in the results of the list request. The default value is false.
          in: query
          name: includeAttributes
          type: boolean
        - description: Flag to include the invalid inserted items in the result of the list request. By default the invalid items are not shown (the default value is false).
          in: query
          name: includeInvalidInsertedItems
          type: boolean
        - description: 'The maximum number of product statuses to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductstatusesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - productstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/productstatuses/{productId}':
    get:
      description: Gets the status of a product from your Merchant Center account. This method can only be called for non-multi-client accounts.
      operationId: content.productstatuses.get
      parameters:
        - description: Flag to include full product data in the result of this get request. The default value is false.
          in: query
          name: includeAttributes
          type: boolean
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the product.
          in: path
          name: productId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductStatus'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - productstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/shippingsettings':
    get:
      description: Lists the shipping settings of the sub-accounts in your Merchant Center account. This method can only be called for multi-client accounts.
      operationId: content.shippingsettings.list
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: 'The maximum number of shipping settings to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ShippingsettingsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/shippingsettings/{accountId}':
    get:
      description: 'Retrieves the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account.'
      operationId: content.shippingsettings.get
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account for which to get/update shipping settings.
          in: path
          name: accountId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ShippingSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: 'Updates the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account. This method supports patch semantics.'
      operationId: content.shippingsettings.patch
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account for which to get/update shipping settings.
          in: path
          name: accountId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ShippingSettings'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ShippingSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
    put:
      description: 'Updates the shipping settings of the account. This method can only be called for accounts to which the managing account has access: either the managing account itself for any Merchant Center account, or any sub-account when the managing account is a multi-client account.'
      operationId: content.shippingsettings.update
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the account for which to get/update shipping settings.
          in: path
          name: accountId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ShippingSettings'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ShippingSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
  '/{merchantId}/supportedCarriers':
    get:
      description: Retrieves supported carriers and carrier services for an account.
      operationId: content.shippingsettings.getsupportedcarriers
      parameters:
        - description: The ID of the account for which to retrieve the supported carriers.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ShippingsettingsGetSupportedCarriersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/testorders':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sandbox only. Creates a test order. This method can only be called for non-multi-client accounts.
      operationId: content.orders.createtestorder
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersCreateTestOrderRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersCreateTestOrderResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/testorders/{orderId}/advance':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sandbox only. Moves a test order from state "inProgress" to state "pendingShipment". This method can only be called for non-multi-client accounts.
      operationId: content.orders.advancetestorder
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the test order to modify.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersAdvanceTestOrderResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/testordertemplates/{templateName}':
    get:
      description: Sandbox only. Retrieves an order template that can be used to quickly create a new order in sandbox. This method can only be called for non-multi-client accounts.
      operationId: content.orders.gettestordertemplate
      parameters:
        - description: The ID of the managing account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The name of the template to retrieve.
          enum:
            - template1
            - template1a
            - template1b
            - template2
          in: path
          name: templateName
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersGetTestOrderTemplateResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
          Oauth2c:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  Account:
    description: Account data.
    properties:
      adultContent:
        description: Indicates whether the merchant sells adult content.
        type: boolean
      adwordsLinks:
        description: 'List of linked AdWords accounts that are active or pending approval. To create a new link request, add a new link with status active to the list. It will remain in a pending state until approved or rejected either in the AdWords interface or through the  AdWords API. To delete an active link, or to cancel a link request, remove it from the list.'
        items:
          $ref: '#/definitions/AccountAdwordsLink'
        type: array
      id:
        description: Merchant Center account ID.
        format: uint64
        type: string
      kind:
        default: 'content#account'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#account".'
        type: string
      name:
        description: Display name for the account.
        type: string
      reviewsUrl:
        description: 'URL for individual seller reviews, i.e., reviews for each child account.'
        type: string
      sellerId:
        description: 'Client-specific, locally-unique, internal ID for the child account.'
        type: string
      users:
        description: Users with access to the account. Every account (except for subaccounts) must have at least one admin user.
        items:
          $ref: '#/definitions/AccountUser'
        type: array
      websiteUrl:
        description: The merchant's website.
        type: string
    type: object
  AccountAdwordsLink:
    properties:
      adwordsId:
        description: Customer ID of the AdWords account.
        format: uint64
        type: string
      status:
        description: 'Status of the link between this Merchant Center account and the AdWords account. Upon retrieval, it represents the actual status of the link and can be either active if it was approved in Google AdWords or pending if it''s pending approval. Upon insertion, it represents the intended status of the link. Re-uploading a link with status active when it''s still pending or with status pending when it''s already active will have no effect: the status will remain unchanged. Re-uploading a link with deprecated status inactive is equivalent to not submitting the link at all and will delete the link if it was active or cancel the link request if it was pending.'
        type: string
    type: object
  AccountIdentifier:
    properties:
      aggregatorId:
        description: 'The aggregator ID, set for aggregators and subaccounts (in that case, it represents the aggregator of the subaccount).'
        format: uint64
        type: string
      merchantId:
        description: 'The merchant account ID, set for individual accounts and subaccounts.'
        format: uint64
        type: string
    type: object
  AccountStatus:
    description: 'The status of an account, i.e., information about its products, which is computed offline and not returned immediately at insertion time.'
    properties:
      accountId:
        description: The ID of the account for which the status is reported.
        type: string
      accountLevelIssues:
        description: A list of account level issues.
        items:
          $ref: '#/definitions/AccountStatusAccountLevelIssue'
        type: array
      dataQualityIssues:
        description: A list of data quality issues.
        items:
          $ref: '#/definitions/AccountStatusDataQualityIssue'
        type: array
      kind:
        default: 'content#accountStatus'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountStatus".'
        type: string
      websiteClaimed:
        description: Whether the account's website is claimed or not.
        type: boolean
    type: object
  AccountStatusAccountLevelIssue:
    properties:
      country:
        description: Country for which this issue is reported.
        type: string
      detail:
        description: Additional details about the issue.
        type: string
      id:
        description: Issue identifier.
        type: string
      severity:
        description: Severity of the issue.
        type: string
      title:
        description: Short description of the issue.
        type: string
    type: object
  AccountStatusDataQualityIssue:
    properties:
      country:
        description: Country for which this issue is reported.
        type: string
      detail:
        description: A more detailed description of the issue.
        type: string
      displayedValue:
        description: Actual value displayed on the landing page.
        type: string
      exampleItems:
        description: Example items featuring the issue.
        items:
          $ref: '#/definitions/AccountStatusExampleItem'
        type: array
      id:
        description: Issue identifier.
        type: string
      lastChecked:
        description: Last time the account was checked for this issue.
        type: string
      location:
        description: The attribute name that is relevant for the issue.
        type: string
      numItems:
        description: Number of items in the account found to have the said issue.
        format: uint32
        type: integer
      severity:
        description: Severity of the problem.
        type: string
      submittedValue:
        description: Submitted value that causes the issue.
        type: string
    type: object
  AccountStatusExampleItem:
    description: 'An example of an item that has poor data quality. An item value on the landing page differs from what is submitted, or conflicts with a policy.'
    properties:
      itemId:
        description: Unique item ID as specified in the uploaded product data.
        type: string
      link:
        description: Landing page of the item.
        type: string
      submittedValue:
        description: The item value that was submitted.
        type: string
      title:
        description: Title of the item.
        type: string
      valueOnLandingPage:
        description: The actual value on the landing page.
        type: string
    type: object
  AccountTax:
    description: The tax settings of a merchant account.
    properties:
      accountId:
        description: The ID of the account to which these account tax settings belong.
        format: uint64
        type: string
      kind:
        default: 'content#accountTax'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountTax".'
        type: string
      rules:
        description: Tax rules. Updating the tax rules will enable US taxes (not reversible). Defining no rules is equivalent to not charging tax at all.
        items:
          $ref: '#/definitions/AccountTaxTaxRule'
        type: array
    type: object
  AccountTaxTaxRule:
    description: Tax calculation rule to apply in a state or province (USA only).
    properties:
      country:
        description: Country code in which tax is applicable.
        type: string
      locationId:
        description: 'State (or province) is which the tax is applicable, described by its location id (also called criteria id).'
        format: uint64
        type: string
      ratePercent:
        description: 'Explicit tax rate in percent, represented as a floating point number without the percentage character. Must not be negative.'
        type: string
      shippingTaxed:
        description: 'If true, shipping charges are also taxed.'
        type: boolean
      useGlobalRate:
        description: Whether the tax rate is taken from a global tax table or specified explicitly.
        type: boolean
    type: object
  AccountUser:
    properties:
      admin:
        description: Whether user is an admin.
        type: boolean
      emailAddress:
        description: User's email address.
        type: string
    type: object
  AccountsAuthInfoResponse:
    properties:
      accountIdentifiers:
        description: |-
          The account identifiers corresponding to the authenticated user.
          - For an individual account: only the merchant ID is defined
          - For an aggregator: only the aggregator ID is defined
          - For a subaccount of an MCA: both the merchant ID and the aggregator ID are defined.
        items:
          $ref: '#/definitions/AccountIdentifier'
        type: array
      kind:
        default: 'content#accountsAuthInfoResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsAuthInfoResponse".'
        type: string
    type: object
  AccountsClaimWebsiteResponse:
    properties:
      kind:
        default: 'content#accountsClaimWebsiteResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsClaimWebsiteResponse".'
        type: string
    type: object
  AccountsCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          $ref: '#/definitions/AccountsCustomBatchRequestEntry'
        type: array
    type: object
  AccountsCustomBatchRequestEntry:
    description: A batch entry encoding a single non-batch accounts request.
    properties:
      account:
        $ref: '#/definitions/Account'
        description: The account to create or update. Only defined if the method is insert or update.
      accountId:
        description: 'The ID of the targeted account. Only defined if the method is get, delete or claimwebsite.'
        format: uint64
        type: string
      batchId:
        description: 'An entry ID, unique within the batch request.'
        format: uint32
        type: integer
      force:
        description: Whether the account should be deleted if the account has offers. Only applicable if the method is delete.
        type: boolean
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
      method:
        type: string
      overwrite:
        description: Only applicable if the method is claimwebsite. Indicates whether or not to take the claim from another account in case there is a conflict.
        type: boolean
    type: object
  AccountsCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          $ref: '#/definitions/AccountsCustomBatchResponseEntry'
        type: array
      kind:
        default: 'content#accountsCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsCustomBatchResponse".'
        type: string
    type: object
  AccountsCustomBatchResponseEntry:
    description: A batch entry encoding a single non-batch accounts response.
    properties:
      account:
        $ref: '#/definitions/Account'
        description: 'The retrieved, created, or updated account. Not defined if the method was delete or claimwebsite.'
      batchId:
        description: The ID of the request entry this entry responds to.
        format: uint32
        type: integer
      errors:
        $ref: '#/definitions/Errors'
        description: A list of errors defined if and only if the request failed.
      kind:
        default: 'content#accountsCustomBatchResponseEntry'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsCustomBatchResponseEntry".'
        type: string
    type: object
  AccountsListResponse:
    properties:
      kind:
        default: 'content#accountsListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountsListResponse".'
        type: string
      nextPageToken:
        description: The token for the retrieval of the next page of accounts.
        type: string
      resources:
        items:
          $ref: '#/definitions/Account'
        type: array
    type: object
  AccountstatusesCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          $ref: '#/definitions/AccountstatusesCustomBatchRequestEntry'
        type: array
    type: object
  AccountstatusesCustomBatchRequestEntry:
    description: A batch entry encoding a single non-batch accountstatuses request.
    properties:
      accountId:
        description: The ID of the (sub-)account whose status to get.
        format: uint64
        type: string
      batchId:
        description: 'An entry ID, unique within the batch request.'
        format: uint32
        type: integer
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
      method:
        description: The method (get).
        type: string
    type: object
  AccountstatusesCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          $ref: '#/definitions/AccountstatusesCustomBatchResponseEntry'
        type: array
      kind:
        default: 'content#accountstatusesCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountstatusesCustomBatchResponse".'
        type: string
    type: object
  AccountstatusesCustomBatchResponseEntry:
    description: A batch entry encoding a single non-batch accountstatuses response.
    properties:
      accountStatus:
        $ref: '#/definitions/AccountStatus'
        description: The requested account status. Defined if and only if the request was successful.
      batchId:
        description: The ID of the request entry this entry responds to.
        format: uint32
        type: integer
      errors:
        $ref: '#/definitions/Errors'
        description: A list of errors defined if and only if the request failed.
    type: object
  AccountstatusesListResponse:
    properties:
      kind:
        default: 'content#accountstatusesListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accountstatusesListResponse".'
        type: string
      nextPageToken:
        description: The token for the retrieval of the next page of account statuses.
        type: string
      resources:
        items:
          $ref: '#/definitions/AccountStatus'
        type: array
    type: object
  AccounttaxCustomBatchRequest:
    properties:
      entries:
        description: The request entries to be processed in the batch.
        items:
          $ref: '#/definitions/AccounttaxCustomBatchRequestEntry'
        type: array
    type: object
  AccounttaxCustomBatchRequestEntry:
    description: A batch entry encoding a single non-batch accounttax request.
    properties:
      accountId:
        description: The ID of the account for which to get/update account tax settings.
        format: uint64
        type: string
      accountTax:
        $ref: '#/definitions/AccountTax'
        description: The account tax settings to update. Only defined if the method is update.
      batchId:
        description: 'An entry ID, unique within the batch request.'
        format: uint32
        type: integer
      merchantId:
        description: The ID of the managing account.
        format: uint64
        type: string
      method:
        type: string
    type: object
  AccounttaxCustomBatchResponse:
    properties:
      entries:
        description: The result of the execution of the batch requests.
        items:
          $ref: '#/definitions/AccounttaxCustomBatchResponseEntry'
        type: array
      kind:
        default: 'content#accounttaxCustomBatchResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accounttaxCustomBatchResponse".'
        type: string
    type: object
  AccounttaxCustomBatchResponseEntry:
    description: A batch entry encoding a single non-batch accounttax response.
    properties:
      accountTax:
        $ref: '#/definitions/AccountTax'
        description: The retrieved or updated account tax settings.
      batchId:
        description: The ID of the request entry this entry responds to.
        format: uint32
        type: integer
      errors:
        $ref: '#/definitions/Errors'
        description: A list of errors defined if and only if the request failed.
      kind:
        default: 'content#accounttaxCustomBatchResponseEntry'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accounttaxCustomBatchResponseEntry".'
        type: string
    type: object
  AccounttaxListResponse:
    properties:
      kind:
        default: 'content#accounttaxListResponse'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#accounttaxListResponse".'
        type: string
      nextPageToken:
        description: The token for the retrieval of the next page of account tax settings.
        type: string
      resources:
        items:
          $ref: '#/definitions/AccountTax'
        type: array
    type: object
  CarrierRate:
    properties:
      carrierName:
        description: 'Carrier service, such as "UPS" or "Fedex". The list of supported carriers can be retrieved via the getSupportedCarriers method. Required.'
        type: string
      carrierService:
        description: 'Carrier service, such as "ground" or "2 days". The list of supported services for a carrier can be retrieved via the getSupportedCarriers method. Required.'
        type: string
      flatAdjustment:
        $ref: '#/definitions/Price'
        description: 'Additive shipping rate modifier. Can be negative. For example { "value": "1", "currency" : "USD" } adds $1 to the rate, { "value": "-3", "currency" : "USD" } removes $3 from the rate. Optional.'
      name:
        description: Name of the carrier rate. Must be unique per rate group. Required.
        type: string
      originPostalCode:
        description: Shipping origin for this carrier rate. Required.
        type: string
      percentageAdjustment:
        description: 'Multiplicative shipping rate modifier as a number in decimal notation. Can be negative. For example "5.4" increases the rate by 5.4%, "-3" decreases the rate by 3%. Optional.'
        type: string
    type: object
  CarriersCarrier:
    properties:
      country:
        description: 'The CLDR country code of the carrier (e.g., "US"). Always present.'
        type: string
      name:
        description: 'The name of the carrier (e.g., "UPS"). Always present.'
        type: string
      services:
        description: 'A list of supported services (e.g., "ground") for that carrier. Contains at least one service.'
        items:
          type: string
        type: array
    type: object
  Datafeed:
    description: Datafeed configuration data.
    properties:
      attributeLanguage:
        description: The two-letter ISO 639-1 language in which the attributes are defined in the data feed.
        type: string
      contentLanguage:
        description: The two-letter ISO 639-1 language of the items in the feed. Must be a valid language for targetCountry.
        type: string
      contentType:
        description: 'The type of data feed. For product inventory feeds, only feeds for local stores, not online stores, are supported.'
        type: string
      fetchSchedule:
        $ref: '#/definitions/DatafeedFetchSchedule'
        description: Fetch schedule for the feed file.
      fileName:
        description: The filename of the feed. All feeds must have a unique file name.
        type: string
      format:
        $ref: '#/definitions/DatafeedFormat'
        description: Format of the feed file.
      id:
        description: The ID of the data feed.
        format: int64
        type: string
      intendedDestinations:
        description: The list of intended destinations (corresponds to checked check boxes in Merchant Center).
        items:
          type: string
        type: array
      kind:
        default: 'content#datafeed'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#datafeed".'
        type: string
      name:
        description: A descriptive name of the data feed.
        type: string
      targetCountry:
        description: 'The country where the items in the feed will be included in the search index, represented as a CLDR territory code.'
        type: string
    type: object
  DatafeedFetchSchedule:
    description: 'The required fields vary based on the frequency of fetching. For a monthly fetch schedule, day_of_month and hour are required. For a weekly fetch schedule, weekday and hour are required. For a daily fetch schedule, only hour is required.'
    properties:
      dayOfMonth:
        description: The day of the month the feed file should be fetched (1-31).
        format: uint32
        type: integer
      fetchUrl:
        description: 'The URL where the feed file can be fetched. Google Merchant Center will support automatic scheduled uploads using the HTTP, HTTPS, FTP, or SFTP protocols, so the value will need to be a valid link using one of those four protocols.'
        type: string
      hour:
        description: The hour of the day the feed file should be fetched (0-23).
        format: uint32
        type: integer
      minuteOfHour:
        description: The minute of the hour the feed file should be fetched (0-59). Read-only.
        format: uint32
        type: integer
      password:
        description: An optional password for fetch_url.
        type: string
      paused:
        description: Whether the scheduled fetch is paused or not.
        type: boolean
      timeZone:
        description: 'Time zone used for schedule. UTC by default. E.g., "America/Los_Angeles".'
        type: string
      username:
        description: An optional user name for fetch_url.
        type: string
      weekday:
        description: The day of the week the feed file should be fetched.
        type: string
    type: object
  DatafeedFormat:
    properties:
      columnDelimiter:
        description: 'Delimiter for the separation of values in a delimiter-separated values feed. If not specified, the delimiter will be auto-detected. Ignored for non-DSV data feeds.'
        type: string
      fileEncoding:
        description: 'Character encoding scheme of the data feed. If not specified, the encoding will be auto-detected.'
        type: string
      quotingMode:
        description: 'Specifies how double quotes are interpreted. If not specified, the mode will be auto-detected. Ignored for non-DSV data feeds.'
        type: string
    type: object
  DatafeedStatus:
    description: 'The status of a datafeed, i.e., the result of the last retrieval of the datafeed computed asynchronously when the feed processing is finished.'
    properties:
      datafeedId:
        description: The ID of the feed for which the status is reported.
        format: uint64
        type: string
      errors:
        description: The list of errors occurring in the feed.
        items:
          $ref: '#/definitions/DatafeedStatusError'
        type: array
      itemsTotal:
        description: The number of items in the feed that were processed.
        format: uint64
        type: string
      itemsValid:
        description: The number of items in the feed that were valid.
        format: uint64
        type: string
      kind:
        default: 'content#datafeedStatus'
        description: 'Identifies what kind of resource this is. Value: the fixed string "content#datafeedStatus".'
        type: string
      lastUploadDate:
        description: The last date at which the feed was uploaded.
        type: string
      processingStatus:
        description: The processing status of the feed.
        type: string
      warnings:
        description: The list of errors occurring in the feed.
        items:
          $ref: '#/definitions/DatafeedStatusError'
        type: array
    type: object
  DatafeedStatusError:
    description: 'An error occurring in the feed, like "invalid price".'
    properties:
      code:
[...]
