swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /content/v2
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manages product items, inventory, and Merchant Center accounts for Google Shopping.'
  title: Content API for Shopping
  version: v2
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.18
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/content/v2/rest'
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: content
externalDocs:
  url: 'https://developers.google.com/shopping-content'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/content': Manage your product listings and accounts for Google Shopping
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: An opaque string that represents a user for quota purposes. Must not exceed 40 characters.
    in: query
    name: quotaUser
    type: string
  userIp:
    description: Deprecated. Please use quotaUser instead.
    in: query
    name: userIp
    type: string
tags:
  - name: accounts
  - name: accountstatuses
  - name: accounttax
  - name: datafeeds
  - name: datafeedstatuses
  - name: inventory
  - name: liasettings
  - name: orderinvoices
  - name: orderpayments
  - name: orderreports
  - name: orderreturns
  - name: orders
  - name: pos
  - name: products
  - name: productstatuses
  - name: shippingsettings
paths:
  /accounts/authinfo:
    get:
      description: Returns information about the authenticated user.
      operationId: content.accounts.authinfo
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsAuthInfoResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /accounts/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Retrieves, inserts, updates, and deletes multiple Merchant Center (sub-)accounts in a single request.'
      operationId: content.accounts.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountsCustomBatchRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  /accountstatuses/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves multiple Merchant Center account statuses in a single request.
      operationId: content.accountstatuses.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountstatusesCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountstatusesCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accountstatuses
  /accounttax/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves and updates tax settings of multiple accounts in a single request.
      operationId: content.accounttax.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccounttaxCustomBatchRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccounttaxCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
  /datafeeds/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      operationId: content.datafeeds.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DatafeedsCustomBatchRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
  /datafeedstatuses/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      operationId: content.datafeedstatuses.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DatafeedstatusesCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedstatusesCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeedstatuses
  /inventory/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Updates price and availability for multiple products or stores in a single request. This operation does not update the expiration date of the products.
      operationId: content.inventory.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InventoryCustomBatchRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InventoryCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - inventory
  /liasettings/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves and/or updates the LIA settings of multiple accounts in a single request.
      operationId: content.liasettings.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LiasettingsCustomBatchRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiasettingsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
  /liasettings/posdataproviders:
    get:
      description: Retrieves the list of POS data providers that have active settings for the all eiligible countries.
      operationId: content.liasettings.listposdataproviders
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiasettingsListPosDataProvidersResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  /orders/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves or modifies multiple orders in a single request.
      operationId: content.orders.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersCustomBatchRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  /pos/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Batches multiple POS-related calls in a single request.
      operationId: content.pos.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PosCustomBatchRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PosCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - pos
  /products/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Retrieves, inserts, and deletes multiple products in a single request.'
      operationId: content.products.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProductsCustomBatchRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - products
  /productstatuses/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Gets the statuses of multiple products in a single request.
      operationId: content.productstatuses.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ProductstatusesCustomBatchRequest'
        - description: Flag to include full product data in the results of this request. The default value is false.
          in: query
          name: includeAttributes
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ProductstatusesCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - productstatuses
  /shippingsettings/batch:
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Retrieves and updates the shipping settings of multiple accounts in a single request.
      operationId: content.shippingsettings.custombatch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ShippingsettingsCustomBatchRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ShippingsettingsCustomBatchResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - shippingsettings
  '/{merchantId}/accounts':
    get:
      description: Lists the sub-accounts in your Merchant Center account.
      operationId: content.accounts.list
      parameters:
        - description: 'The maximum number of accounts to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the managing account. This must be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a Merchant Center sub-account.
      operationId: content.accounts.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the managing account. This must be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  '/{merchantId}/accounts/{accountId}':
    delete:
      description: Deletes a Merchant Center sub-account.
      operationId: content.accounts.delete
      parameters:
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - default: false
          description: Flag to delete sub-accounts with products. The default value is false.
          in: query
          name: force
          type: boolean
        - description: 'The ID of the managing account. This must be a multi-client account, and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    get:
      description: Retrieves a Merchant Center account.
      operationId: content.accounts.get
      parameters:
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a Merchant Center account. This method supports patch semantics.
      operationId: content.accounts.patch
      parameters:
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
    put:
      description: Updates a Merchant Center account.
      operationId: content.accounts.update
      parameters:
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Account'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Account'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  '/{merchantId}/accounts/{accountId}/claimwebsite':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Claims the website of a Merchant Center sub-account.
      operationId: content.accounts.claimwebsite
      parameters:
        - description: The ID of the account whose website is claimed.
          in: path
          name: accountId
          required: true
          type: string
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
        - description: 'Only available to selected merchants. When set to True, this flag removes any existing claim on the requested website by another account and replaces it with a claim from this account.'
          in: query
          name: overwrite
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsClaimWebsiteResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  '/{merchantId}/accounts/{accountId}/link':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Performs an action on a link between a Merchant Center account and another account.
      operationId: content.accounts.link
      parameters:
        - description: The ID of the account that should be linked.
          in: path
          name: accountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountsLinkRequest'
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountsLinkResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounts
  '/{merchantId}/accountstatuses':
    get:
      description: Lists the statuses of the sub-accounts in your Merchant Center account.
      operationId: content.accountstatuses.list
      parameters:
        - collectionFormat: multi
          description: 'If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.'
          in: query
          items:
            type: string
          name: destinations
          type: array
        - description: 'The maximum number of account statuses to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the managing account. This must be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountstatusesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accountstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/accountstatuses/{accountId}':
    get:
      description: Retrieves the status of a Merchant Center account. Multi-client accounts can only call this method for sub-accounts.
      operationId: content.accountstatuses.get
      parameters:
        - description: The ID of the account.
          in: path
          name: accountId
          required: true
          type: string
        - collectionFormat: multi
          description: 'If set, only issues for the specified destinations are returned, otherwise only issues for the Shopping destination.'
          in: query
          items:
            type: string
          name: destinations
          type: array
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountStatus'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accountstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/accounttax':
    get:
      description: Lists the tax settings of the sub-accounts in your Merchant Center account.
      operationId: content.accounttax.list
      parameters:
        - description: 'The maximum number of tax settings to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the managing account. This must be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccounttaxListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/accounttax/{accountId}':
    get:
      description: Retrieves the tax settings of the account.
      operationId: content.accounttax.get
      parameters:
        - description: The ID of the account for which to get/update account tax settings.
          in: path
          name: accountId
          required: true
          type: string
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountTax'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the tax settings of the account. This method supports patch semantics.
      operationId: content.accounttax.patch
      parameters:
        - description: The ID of the account for which to get/update account tax settings.
          in: path
          name: accountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountTax'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountTax'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
    put:
      description: Updates the tax settings of the account.
      operationId: content.accounttax.update
      parameters:
        - description: The ID of the account for which to get/update account tax settings.
          in: path
          name: accountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/AccountTax'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountTax'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - accounttax
  '/{merchantId}/datafeeds':
    get:
      description: Lists the configurations for datafeeds in your Merchant Center account.
      operationId: content.datafeeds.list
      parameters:
        - description: 'The maximum number of products to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the account that manages the datafeeds. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Registers a datafeed configuration with your Merchant Center account.
      operationId: content.datafeeds.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Datafeed'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the account that manages the datafeed. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
  '/{merchantId}/datafeeds/{datafeedId}':
    delete:
      description: Deletes a datafeed configuration from your Merchant Center account.
      operationId: content.datafeeds.delete
      parameters:
        - description: The ID of the datafeed.
          in: path
          name: datafeedId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the account that manages the datafeed. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    get:
      description: Retrieves a datafeed configuration from your Merchant Center account.
      operationId: content.datafeeds.get
      parameters:
        - description: The ID of the datafeed.
          in: path
          name: datafeedId
          required: true
          type: string
        - description: The ID of the account that manages the datafeed. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a datafeed configuration of your Merchant Center account. This method supports patch semantics.
      operationId: content.datafeeds.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Datafeed'
        - description: The ID of the datafeed.
          in: path
          name: datafeedId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the account that manages the datafeed. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
    put:
      description: Updates a datafeed configuration of your Merchant Center account.
      operationId: content.datafeeds.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Datafeed'
        - description: The ID of the datafeed.
          in: path
          name: datafeedId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the account that manages the datafeed. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Datafeed'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
  '/{merchantId}/datafeeds/{datafeedId}/fetchNow':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Invokes a fetch for the datafeed in your Merchant Center account.
      operationId: content.datafeeds.fetchnow
      parameters:
        - description: The ID of the datafeed to be fetched.
          in: path
          name: datafeedId
          required: true
          type: string
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the account that manages the datafeed. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedsFetchNowResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeeds
  '/{merchantId}/datafeedstatuses':
    get:
      description: Lists the statuses of the datafeeds in your Merchant Center account.
      operationId: content.datafeedstatuses.list
      parameters:
        - description: 'The maximum number of products to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the account that manages the datafeeds. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedstatusesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeedstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/datafeedstatuses/{datafeedId}':
    get:
      description: Retrieves the status of a datafeed from your Merchant Center account.
      operationId: content.datafeedstatuses.get
      parameters:
        - description: 'The country for which to get the datafeed status. If this parameter is provided then language must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.'
          in: query
          name: country
          type: string
        - description: The ID of the datafeed.
          in: path
          name: datafeedId
          required: true
          type: string
        - description: 'The language for which to get the datafeed status. If this parameter is provided then country must also be provided. Note that this parameter is required for feeds targeting multiple countries and languages, since a feed may have a different status for each target.'
          in: query
          name: language
          type: string
        - description: The ID of the account that manages the datafeed. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatafeedStatus'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - datafeedstatuses
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/inventory/{storeCode}/products/{productId}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Updates price and availability of a product in your Merchant Center account.
      operationId: content.inventory.set
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InventorySetRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the account that contains the product. This account cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The REST id of the product for which to update price and availability.
          in: path
          name: productId
          required: true
          type: string
        - description: The code of the store for which to update price and availability. Use online to update price and availability of an online product.
          in: path
          name: storeCode
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InventorySetResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - inventory
  '/{merchantId}/liasettings':
    get:
      description: Lists the LIA settings of the sub-accounts in your Merchant Center account.
      operationId: content.liasettings.list
      parameters:
        - description: 'The maximum number of LIA settings to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the managing account. This must be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiasettingsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/liasettings/{accountId}':
    get:
      description: Retrieves the LIA settings of the account.
      operationId: content.liasettings.get
      parameters:
        - description: The ID of the account for which to get or update LIA settings.
          in: path
          name: accountId
          required: true
          type: string
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiaSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates the LIA settings of the account. This method supports patch semantics.
      operationId: content.liasettings.patch
      parameters:
        - description: The ID of the account for which to get or update LIA settings.
          in: path
          name: accountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LiaSettings'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiaSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
    put:
      description: Updates the LIA settings of the account.
      operationId: content.liasettings.update
      parameters:
        - description: The ID of the account for which to get or update LIA settings.
          in: path
          name: accountId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LiaSettings'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiaSettings'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
  '/{merchantId}/liasettings/{accountId}/accessiblegmbaccounts':
    get:
      description: Retrieves the list of accessible Google My Business accounts.
      operationId: content.liasettings.getaccessiblegmbaccounts
      parameters:
        - description: The ID of the account for which to retrieve accessible Google My Business accounts.
          in: path
          name: accountId
          required: true
          type: string
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiasettingsGetAccessibleGmbAccountsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/liasettings/{accountId}/requestgmbaccess':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Requests access to a specified Google My Business account.
      operationId: content.liasettings.requestgmbaccess
      parameters:
        - description: The ID of the account for which GMB access is requested.
          in: path
          name: accountId
          required: true
          type: string
        - description: The email of the Google My Business account.
          in: query
          name: gmbEmail
          required: true
          type: string
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiasettingsRequestGmbAccessResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
  '/{merchantId}/liasettings/{accountId}/requestinventoryverification/{country}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Requests inventory validation for the specified country.
      operationId: content.liasettings.requestinventoryverification
      parameters:
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: accountId
          required: true
          type: string
        - description: The country for which inventory validation is requested.
          in: path
          name: country
          required: true
          type: string
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiasettingsRequestInventoryVerificationResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
  '/{merchantId}/liasettings/{accountId}/setinventoryverificationcontact':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets the inventory verification contract for the specified country.
      operationId: content.liasettings.setinventoryverificationcontact
      parameters:
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: accountId
          required: true
          type: string
        - description: The email of the inventory verification contact.
          in: query
          name: contactEmail
          required: true
          type: string
        - description: The name of the inventory verification contact.
          in: query
          name: contactName
          required: true
          type: string
        - description: The country for which inventory verification is requested.
          in: query
          name: country
          required: true
          type: string
        - description: The language for which inventory verification is requested.
          in: query
          name: language
          required: true
          type: string
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiasettingsSetInventoryVerificationContactResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
  '/{merchantId}/liasettings/{accountId}/setposdataprovider':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets the POS data provider for the specified country.
      operationId: content.liasettings.setposdataprovider
      parameters:
        - description: The ID of the account for which to retrieve accessible Google My Business accounts.
          in: path
          name: accountId
          required: true
          type: string
        - description: The country for which the POS data provider is selected.
          in: query
          name: country
          required: true
          type: string
        - description: 'The ID of the managing account. If this parameter is not the same as accountId, then this account must be a multi-client account and accountId must be the ID of a sub-account of this account.'
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of POS data provider.
          in: query
          name: posDataProviderId
          type: string
        - description: The account ID by which this merchant is known to the POS data provider.
          in: query
          name: posExternalAccountId
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LiasettingsSetPosDataProviderResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - liasettings
  '/{merchantId}/orderinvoices/{orderId}/createChargeInvoice':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Creates a charge invoice for a shipment group, and triggers a charge capture for non-facilitated payment orders.'
      operationId: content.orderinvoices.createchargeinvoice
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrderinvoicesCreateChargeInvoiceRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrderinvoicesCreateChargeInvoiceResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderinvoices
  '/{merchantId}/orderinvoices/{orderId}/createRefundInvoice':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Creates a refund invoice for one or more shipment groups, and triggers a refund for non-facilitated payment orders. This can only be used for line items that have previously been charged using createChargeInvoice. All amounts (except for the summary) are incremental with respect to the previous invoice.'
      operationId: content.orderinvoices.createrefundinvoice
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrderinvoicesCreateRefundInvoiceRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrderinvoicesCreateRefundInvoiceResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderinvoices
  '/{merchantId}/orderpayments/{orderId}/notifyAuthApproved':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Notify about successfully authorizing user's payment method for a given amount.
      operationId: content.orderpayments.notifyauthapproved
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrderpaymentsNotifyAuthApprovedRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order for for which payment authorization is happening.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrderpaymentsNotifyAuthApprovedResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderpayments
  '/{merchantId}/orderpayments/{orderId}/notifyAuthDeclined':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Notify about failure to authorize user's payment method.
      operationId: content.orderpayments.notifyauthdeclined
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrderpaymentsNotifyAuthDeclinedRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order for which payment authorization was declined.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrderpaymentsNotifyAuthDeclinedResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderpayments
  '/{merchantId}/orderpayments/{orderId}/notifyCharge':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Notify about charge on user's selected payments method.
      operationId: content.orderpayments.notifycharge
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrderpaymentsNotifyChargeRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order for which charge is happening.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrderpaymentsNotifyChargeResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderpayments
  '/{merchantId}/orderpayments/{orderId}/notifyRefund':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Notify about refund on user's selected payments method.
      operationId: content.orderpayments.notifyrefund
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrderpaymentsNotifyRefundRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order for which charge is happening.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrderpaymentsNotifyRefundResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderpayments
  '/{merchantId}/orderreports/disbursements':
    get:
      description: Retrieves a report for disbursements from your Merchant Center account.
      operationId: content.orderreports.listdisbursements
      parameters:
        - description: 'The last date which disbursements occurred. In ISO 8601 format. Default: current date.'
          in: query
          name: disbursementEndDate
          type: string
        - description: The first date which disbursements occurred. In ISO 8601 format.
          in: query
          name: disbursementStartDate
          required: true
          type: string
        - description: 'The maximum number of disbursements to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrderreportsListDisbursementsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderreports
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/orderreports/disbursements/{disbursementId}/transactions':
    get:
      description: Retrieves a list of transactions for a disbursement from your Merchant Center account.
      operationId: content.orderreports.listtransactions
      parameters:
        - description: The Google-provided ID of the disbursement (found in Wallet).
          in: path
          name: disbursementId
          required: true
          type: string
        - description: 'The maximum number of disbursements to return in the response, used for paging.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
        - description: 'The last date in which transaction occurred. In ISO 8601 format. Default: current date.'
          in: query
          name: transactionEndDate
          type: string
        - description: The first date in which transaction occurred. In ISO 8601 format.
          in: query
          name: transactionStartDate
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrderreportsListTransactionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderreports
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/orderreturns':
    get:
      description: Lists order returns in your Merchant Center account.
      operationId: content.orderreturns.list
      parameters:
        - description: 'Obtains order returns created before this date (inclusively), in ISO 8601 format.'
          in: query
          name: createdEndDate
          type: string
        - description: 'Obtains order returns created after this date (inclusively), in ISO 8601 format.'
          in: query
          name: createdStartDate
          type: string
        - description: 'The maximum number of order returns to return in the response, used for paging. The default value is 25 returns per page, and the maximum allowed value is 250 returns per page.'
          in: query
          name: maxResults
          type: integer
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: Return the results in the specified order.
          enum:
            - returnCreationTimeAsc
            - returnCreationTimeDesc
          in: query
          name: orderBy
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrderreturnsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderreturns
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/orderreturns/{returnId}':
    get:
      description: Retrieves an order return from your Merchant Center account.
      operationId: content.orderreturns.get
      parameters:
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: Merchant order return ID generated by Google.
          in: path
          name: returnId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/MerchantOrderReturn'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orderreturns
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/orders':
    get:
      description: Lists the orders in your Merchant Center account.
      operationId: content.orders.list
      parameters:
        - description: |-
            Obtains orders that match the acknowledgement status. When set to true, obtains orders that have been acknowledged. When false, obtains orders that have not been acknowledged.
            We recommend using this filter set to false, in conjunction with the acknowledge call, such that only un-acknowledged orders are returned.
          in: query
          name: acknowledged
          type: boolean
        - description: |-
            The maximum number of orders to return in the response, used for paging. The default value is 25 orders per page, and the maximum allowed value is 250 orders per page.
            Known issue: All List calls will return all Orders without limit regardless of the value of this field.
          in: query
          name: maxResults
          type: integer
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: 'The ordering of the returned list. The only supported value are placedDate desc and placedDate asc for now, which returns orders sorted by placement date. "placedDate desc" stands for listing orders by placement date, from oldest to most recent. "placedDate asc" stands for listing orders by placement date, from most recent to oldest. In future releases we''ll support other sorting criteria.'
          enum:
            - placedDate asc
            - placedDate desc
          in: query
          name: orderBy
          type: string
        - description: The token returned by the previous request.
          in: query
          name: pageToken
          type: string
        - description: 'Obtains orders placed before this date (exclusively), in ISO 8601 format.'
          in: query
          name: placedDateEnd
          type: string
        - description: 'Obtains orders placed after this date (inclusively), in ISO 8601 format.'
          in: query
          name: placedDateStart
          type: string
        - collectionFormat: multi
          description: 'Obtains orders that match any of the specified statuses. Multiple values can be specified with comma separation. Additionally, please note that active is a shortcut for pendingShipment and partiallyShipped, and completed is a shortcut for shipped , partiallyDelivered, delivered, partiallyReturned, returned, and canceled.'
          in: query
          items:
            enum:
              - active
              - canceled
              - completed
              - delivered
              - inProgress
              - partiallyDelivered
              - partiallyReturned
              - partiallyShipped
              - pendingShipment
              - returned
              - shipped
            type: string
          name: statuses
          type: array
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/orders/{orderId}':
    get:
      description: Retrieves an order from your Merchant Center account.
      operationId: content.orders.get
      parameters:
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Order'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/orders/{orderId}/acknowledge':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Marks an order as acknowledged.
      operationId: content.orders.acknowledge
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersAcknowledgeRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersAcknowledgeResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/cancel':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Cancels all line items in an order, making a full refund.'
      operationId: content.orders.cancel
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersCancelRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order to cancel.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersCancelResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/cancelLineItem':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Cancels a line item, making a full refund.'
      operationId: content.orders.cancellineitem
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersCancelLineItemRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersCancelLineItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/inStoreRefundLineItem':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Notifies that item return and refund was handled directly by merchant outside of Google payments processing (e.g. cash refund done in store).
      operationId: content.orders.instorerefundlineitem
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersInStoreRefundLineItemRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersInStoreRefundLineItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/refund':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Deprecated, please use returnRefundLineItem instead.'
      operationId: content.orders.refund
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersRefundRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order to refund.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersRefundResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/rejectReturnLineItem':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Rejects return on an line item.
      operationId: content.orders.rejectreturnlineitem
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersRejectReturnLineItemRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersRejectReturnLineItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/returnLineItem':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Returns a line item.
      operationId: content.orders.returnlineitem
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersReturnLineItemRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersReturnLineItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/returnRefundLineItem':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Returns and refunds a line item. Note that this method can only be called on fully shipped orders.
      operationId: content.orders.returnrefundlineitem
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersReturnRefundLineItemRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersReturnRefundLineItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/setLineItemMetadata':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sets (overrides) merchant provided annotations on the line item.
      operationId: content.orders.setlineitemmetadata
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersSetLineItemMetadataRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersSetLineItemMetadataResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/shipLineItems':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Marks line item(s) as shipped.
      operationId: content.orders.shiplineitems
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersShipLineItemsRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersShipLineItemsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/testreturn':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Sandbox only. Creates a test return.
      operationId: content.orders.createtestreturn
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersCreateTestReturnRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersCreateTestReturnResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/updateLineItemShippingDetails':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Updates ship by and delivery by dates for a line item.
      operationId: content.orders.updatelineitemshippingdetails
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersUpdateLineItemShippingDetailsRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersUpdateLineItemShippingDetailsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/updateMerchantOrderId':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Updates the merchant order ID for a given order.
      operationId: content.orders.updatemerchantorderid
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersUpdateMerchantOrderIdRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersUpdateMerchantOrderIdResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/orders/{orderId}/updateShipment':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: 'Updates a shipment''s status, carrier, and/or tracking ID.'
      operationId: content.orders.updateshipment
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/OrdersUpdateShipmentRequest'
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the order.
          in: path
          name: orderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersUpdateShipmentResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
  '/{merchantId}/ordersbymerchantid/{merchantOrderId}':
    get:
      description: Retrieves an order using merchant order id.
      operationId: content.orders.getbymerchantorderid
      parameters:
        - description: The ID of the account that manages the order. This cannot be a multi-client account.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The merchant order id to be looked for.
          in: path
          name: merchantOrderId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OrdersGetByMerchantOrderIdResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - orders
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/{merchantId}/pos/{targetMerchantId}/inventory':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Submit inventory for the given merchant.
      operationId: content.pos.inventory
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PosInventoryRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the POS or inventory data provider.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the target merchant.
          in: path
          name: targetMerchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PosInventoryResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - pos
  '/{merchantId}/pos/{targetMerchantId}/sale':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Submit a sale event for the given merchant.
      operationId: content.pos.sale
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PosSaleRequest'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the POS or inventory data provider.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the target merchant.
          in: path
          name: targetMerchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PosSaleResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - pos
  '/{merchantId}/pos/{targetMerchantId}/store':
    get:
      description: Lists the stores of the target merchant.
      operationId: content.pos.list
      parameters:
        - description: The ID of the POS or inventory data provider.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the target merchant.
          in: path
          name: targetMerchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PosListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - pos
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a store for the given merchant.
      operationId: content.pos.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/PosStore'
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the POS or inventory data provider.
          in: path
          name: merchantId
          required: true
          type: string
        - description: The ID of the target merchant.
          in: path
          name: targetMerchantId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/PosStore'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/content'
      tags:
        - pos
  '/{merchantId}/pos/{targetMerchantId}/store/{storeCode}':
    delete:
      description: Deletes a store for the given merchant.
      operationId: content.pos.delete
      parameters:
        - description: Flag to run the request in dry-run mode.
          in: query
          name: dryRun
          type: boolean
        - description: The ID of the POS or inventory data provider.
          in: path
          name: merchantId
[...]
