swagger: "2.0"
info:
  version: 2018-11-15
  x-release: v4
  title: AWS Backup
  description: <fullname>AWS Backup</fullname> <p>AWS Backup is a unified backup service
    designed to protect AWS services and their associated data. AWS Backup
    simplifies the creation, migration, restoration, and deletion of backups,
    while also providing reporting and auditing.</p>
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: backup
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/backup-2018-11-15.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/backup/
host: backup.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /backup/plans/:
    put:
      operationId: CreateBackupPlan
      description: <p>Backup plans are documents that contain information that AWS Backup
        uses to schedule tasks that create recovery points of resources.</p>
        <p>If you call <code>CreateBackupPlan</code> with a plan that already
        exists, the existing <code>backupPlanId</code> is returned.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateBackupPlanOutput"
        "480":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "481":
          description: AlreadyExistsException
          schema:
            $ref: "#/definitions/AlreadyExistsException"
        "482":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "483":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - BackupPlan
            properties:
              BackupPlan:
                description: Contains an optional backup plan display name and an array of
                  <code>BackupRule</code> objects, each of which specifies a
                  backup rule. Each rule in a backup plan is a separate
                  scheduled task and can back up a different selection of AWS
                  resources.
                type: object
                properties:
                  BackupPlanName:
                    $ref: "#/definitions/BackupPlanName"
                    description: The display name of a backup plan.
                  Rules:
                    $ref: "#/definitions/BackupRulesInput"
                    description: An array of <code>BackupRule</code> objects, each of which
                      specifies a scheduled task that is used to back up a
                      selection of resources.
              BackupPlanTags:
                description: To help organize your resources, you can assign your own
                  metadata to the resources that you create. Each tag is a
                  key-value pair. The specified tags are assigned to all backups
                  created with this plan.
                type: object
                additionalProperties:
                  $ref: "#/definitions/TagValue"
              CreatorRequestId:
                description: Identifies the request and allows failed requests to be
                  retried without the risk of executing the operation twice. If
                  the request includes a <code>CreatorRequestId</code> that
                  matches an existing backup plan, that plan is returned. This
                  parameter is optional.
                type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListBackupPlans
      description: Returns metadata of your saved backup plans, including Amazon Resource
        Names (ARNs), plan IDs, creation and deletion dates, version IDs, plan
        names, and creator request IDs.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListBackupPlansOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: includeDeleted
          in: query
          required: false
          description: A Boolean value with a default value of <code>FALSE</code> that
            returns deleted backup plans when set to <code>TRUE</code>.
          type: boolean
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  "/backup/plans/{backupPlanId}/selections/":
    put:
      operationId: CreateBackupSelection
      description: "<p>Creates a JSON document that specifies a set of resources to assign
        to a backup plan. Resources can be included by specifying patterns for a
        <code>ListOfTags</code> and selected <code>Resources</code>. </p> <p>For
        example, consider the following patterns:</p> <ul> <li> <p>
        <code>Resources:
        \"arn:aws:ec2:region:account-id:volume/volume-id\"</code> </p> </li>
        <li> <p> <code>ConditionKey:\"department\"</code> </p> <p>
        <code>ConditionValue:\"finance\"</code> </p> <p>
        <code>ConditionType:\"StringEquals\"</code> </p> </li> <li> <p>
        <code>ConditionKey:\"importance\"</code> </p> <p>
        <code>ConditionValue:\"critical\"</code> </p> <p>
        <code>ConditionType:\"StringEquals\"</code> </p> </li> </ul> <p>Using
        these patterns would back up all Amazon Elastic Block Store (Amazon EBS)
        volumes that are tagged as <code>\"department=finance\"</code>,
        <code>\"importance=critical\"</code>, in addition to an EBS volume with
        the specified volume Id.</p> <p>Resources and conditions are additive in
        that all resources that match the pattern are selected. This shouldn't
        be confused with a logical AND, where all conditions must match. The
        matching patterns are logically 'put together using the OR operator. In
        other words, all patterns that match are selected for backup.</p>"
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateBackupSelectionOutput"
        "480":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "481":
          description: AlreadyExistsException
          schema:
            $ref: "#/definitions/AlreadyExistsException"
        "482":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "483":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupPlanId
          in: path
          required: true
          description: Uniquely identifies the backup plan to be associated with the
            selection of resources.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - BackupSelection
            properties:
              BackupSelection:
                description: Used to specify a set of resources to a backup plan.
                type: object
                properties:
                  SelectionName:
                    $ref: "#/definitions/BackupSelectionName"
                    description: The display name of a resource selection document.
                  IamRoleArn:
                    $ref: "#/definitions/IAMRoleArn"
                    description: The ARN of the IAM role that AWS Backup uses to
                      authenticate when restoring the target resource; for
                      example,
                      <code>arn:aws:iam::123456789012:role/S3Access</code>.
                  Resources:
                    $ref: "#/definitions/ResourceArns"
                    description: An array of strings that either contain Amazon Resource
                      Names (ARNs) or match patterns such as
                      "<code>arn:aws:ec2:us-east-1:123456789012:volume/*</code>"
                      of resources to assign to a backup plan.
                  ListOfTags:
                    $ref: "#/definitions/ListOfTags"
                    description: 'An array of conditions used to specify a set of resources
                      to assign to a backup plan; for example,
                      <code>"StringEquals": {"ec2:ResourceTag/Department":
                      "accounting"</code>.'
              CreatorRequestId:
                description: A unique string that identifies the request and allows failed
                  requests to be retried without the risk of executing the
                  operation twice.
                type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    get:
      operationId: ListBackupSelections
      description: Returns an array containing metadata of the resources associated with
        the target backup plan.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListBackupSelectionsOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupPlanId
          in: path
          required: true
          description: Uniquely identifies a backup plan.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  "/backup-vaults/{backupVaultName}":
    put:
      operationId: CreateBackupVault
      description: <p>Creates a logical container where backups are stored. A
        <code>CreateBackupVault</code> request includes a name, optionally one
        or more resource tags, an encryption key, and a request ID.</p> <note>
        <p>Sensitive data, such as passport numbers, should not be included the
        name of a backup vault.</p> </note>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateBackupVaultOutput"
        "480":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "481":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "482":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "483":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "484":
          description: AlreadyExistsException
          schema:
            $ref: "#/definitions/AlreadyExistsException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              BackupVaultTags:
                description: Metadata that you can assign to help organize the resources
                  that you create. Each tag is a key-value pair.
                type: object
                additionalProperties:
                  $ref: "#/definitions/TagValue"
              EncryptionKeyArn:
                description: The server-side encryption key that is used to protect your
                  backups; for example,
                  <code>arn:aws:kms:us-west-2:111122223333:key/1234abcd-12ab-34cd-56ef-1234567890ab</code>.
                type: string
              CreatorRequestId:
                description: A unique string that identifies the request and allows failed
                  requests to be retried without the risk of executing the
                  operation twice.
                type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    delete:
      operationId: DeleteBackupVault
      description: Deletes the backup vault identified by its name. A vault can be deleted
        only if it is empty.
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and theAWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
    get:
      operationId: DescribeBackupVault
      description: Returns metadata about a backup vault specified by its name.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeBackupVaultOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
  "/backup/plans/{backupPlanId}":
    delete:
      operationId: DeleteBackupPlan
      description: Deletes a backup plan. A backup plan can only be deleted after all
        associated selections of resources have been deleted. Deleting a backup
        plan deletes the current version of a backup plan. Previous versions, if
        any, will still exist.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeleteBackupPlanOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: backupPlanId
          in: path
          required: true
          description: Uniquely identifies a backup plan.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    post:
      operationId: UpdateBackupPlan
      description: Replaces the body of a saved backup plan identified by its
        <code>backupPlanId</code> with the input document in JSON format. The
        new version is uniquely identified by a <code>VersionId</code>.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UpdateBackupPlanOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupPlanId
          in: path
          required: true
          description: Uniquely identifies a backup plan.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - BackupPlan
            properties:
              BackupPlan:
                description: Contains an optional backup plan display name and an array of
                  <code>BackupRule</code> objects, each of which specifies a
                  backup rule. Each rule in a backup plan is a separate
                  scheduled task and can back up a different selection of AWS
                  resources.
                type: object
                properties:
                  BackupPlanName:
                    $ref: "#/definitions/BackupPlanName"
                    description: The display name of a backup plan.
                  Rules:
                    $ref: "#/definitions/BackupRulesInput"
                    description: An array of <code>BackupRule</code> objects, each of which
                      specifies a scheduled task that is used to back up a
                      selection of resources.
  "/backup/plans/{backupPlanId}/selections/{selectionId}":
    delete:
      operationId: DeleteBackupSelection
      description: Deletes the resource selection associated with a backup plan that is
        specified by the <code>SelectionId</code>.
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupPlanId
          in: path
          required: true
          description: Uniquely identifies a backup plan.
          type: string
        - name: selectionId
          in: path
          required: true
          description: Uniquely identifies the body of a request to assign a set of
            resources to a backup plan.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    get:
      operationId: GetBackupSelection
      description: Returns selection metadata and a document in JSON format that specifies
        a list of resources that are associated with a backup plan.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetBackupSelectionOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupPlanId
          in: path
          required: true
          description: Uniquely identifies a backup plan.
          type: string
        - name: selectionId
          in: path
          required: true
          description: Uniquely identifies the body of a request to assign a set of
            resources to a backup plan.
          type: string
  "/backup-vaults/{backupVaultName}/access-policy":
    delete:
      operationId: DeleteBackupVaultAccessPolicy
      description: Deletes the policy document that manages permissions on a backup vault.
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    get:
      operationId: GetBackupVaultAccessPolicy
      description: Returns the access policy document that is associated with the named
        backup vault.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetBackupVaultAccessPolicyOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
    put:
      operationId: PutBackupVaultAccessPolicy
      description: Sets a resource-based policy that is used to manage access permissions
        on the target backup vault. Requires a backup vault name and an access
        policy document in JSON format.
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Policy:
                description: The backup vault access policy document in JSON format.
                type: string
  "/backup-vaults/{backupVaultName}/notification-configuration":
    delete:
      operationId: DeleteBackupVaultNotifications
      description: Deletes event notifications for the specified backup vault.
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the Region where they are created. They consist
            of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    get:
      operationId: GetBackupVaultNotifications
      description: Returns event notifications for the specified backup vault.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetBackupVaultNotificationsOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
    put:
      operationId: PutBackupVaultNotifications
      description: Turns on notifications on a backup vault for the specified topic and
        events.
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - SNSTopicArn
              - BackupVaultEvents
            properties:
              SNSTopicArn:
                description: The Amazon Resource Name (ARN) that specifies the topic for a
                  backup vault’s events; for example,
                  <code>arn:aws:sns:us-west-2:111122223333:MyVaultTopic</code>.
                type: string
              BackupVaultEvents:
                description: An array of events that indicate the status of jobs to back up
                  resources to the backup vault.
                type: array
                items:
                  $ref: "#/definitions/BackupVaultEvent"
  "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}":
    delete:
      operationId: DeleteRecoveryPoint
      description: Deletes the recovery point specified by a recovery point ID.
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: recoveryPointArn
          in: path
          required: true
          description: An Amazon Resource Name (ARN) that uniquely identifies a recovery
            point; for example,
            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    get:
      operationId: DescribeRecoveryPoint
      description: Returns metadata associated with a recovery point, including ID, status,
        encryption, and lifecycle.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeRecoveryPointOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: recoveryPointArn
          in: path
          required: true
          description: An Amazon Resource Name (ARN) that uniquely identifies a recovery
            point; for example,
            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.
          type: string
    post:
      operationId: UpdateRecoveryPointLifecycle
      description: <p>Sets the transition lifecycle of a recovery point.</p> <p>The
        lifecycle defines when a protected resource is transitioned to cold
        storage and when it expires. AWS Backup transitions and expires backups
        automatically according to the lifecycle that you define. </p>
        <p>Backups transitioned to cold storage must be stored in cold storage
        for a minimum of 90 days. Therefore, the “expire after days” setting
        must be 90 days greater than the “transition to cold after days”
        setting. The “transition to cold after days” setting cannot be changed
        after a backup has been transitioned to cold. </p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/UpdateRecoveryPointLifecycleOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: recoveryPointArn
          in: path
          required: true
          description: An Amazon Resource Name (ARN) that uniquely identifies a recovery
            point; for example,
            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Lifecycle:
                description: Contains an array of <code>Transition</code> objects
                  specifying how long in days before a recovery point
                  transitions to cold storage or is deleted.
                type: object
                properties:
                  MoveToColdStorageAfterDays:
                    $ref: "#/definitions/Long"
                    description: Specifies the number of days after creation that a
                      recovery point is moved to cold storage.
                  DeleteAfterDays:
                    $ref: "#/definitions/Long"
                    description: Specifies the number of days after creation that a
                      recovery point is deleted. Must be greater than
                      <code>MoveToColdStorageAfterDays</code>.
  "/backup-jobs/{backupJobId}":
    get:
      operationId: DescribeBackupJob
      description: Returns metadata associated with creating a backup of a resource.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeBackupJobOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: DependencyFailureException
          schema:
            $ref: "#/definitions/DependencyFailureException"
      parameters:
        - name: backupJobId
          in: path
          required: true
          description: Uniquely identifies a request to AWS Backup to back up a resource.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
    post:
      operationId: StopBackupJob
      description: Attempts to cancel a job to create a one-time backup of a resource.
      responses:
        "200":
          description: Success
        "480":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "481":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "482":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "483":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
        "484":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupJobId
          in: path
          required: true
          description: Uniquely identifies a request to AWS Backup to back up a resource.
          type: string
  "/resources/{resourceArn}":
    get:
      operationId: DescribeProtectedResource
      description: Returns information about a saved resource, including the last time it
        was backed-up, its Amazon Resource Name (ARN), and the AWS service type
        of the saved resource.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeProtectedResourceOutput"
        "480":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "483":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: An Amazon Resource Name (ARN) that uniquely identifies a resource.
            The format of the ARN depends on the resource type.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/restore-jobs/{restoreJobId}":
    get:
      operationId: DescribeRestoreJob
      description: Returns metadata associated with a restore job that is specified by a
        job ID.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeRestoreJobOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: DependencyFailureException
          schema:
            $ref: "#/definitions/DependencyFailureException"
      parameters:
        - name: restoreJobId
          in: path
          required: true
          description: Uniquely identifies the job that restores a recovery point.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/backup/plans/{backupPlanId}/toTemplate/":
    get:
      operationId: ExportBackupPlanTemplate
      description: Returns the backup plan that is specified by the plan ID as a backup
        template.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ExportBackupPlanTemplateOutput"
        "480":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "481":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "482":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "483":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
      parameters:
        - name: backupPlanId
          in: path
          required: true
          description: Uniquely identifies a backup plan.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/backup/plans/{backupPlanId}/":
    get:
      operationId: GetBackupPlan
      description: Returns the body of a backup plan in JSON format, in addition to plan
        metadata.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetBackupPlanOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupPlanId
          in: path
          required: true
          description: Uniquely identifies a backup plan.
          type: string
        - name: versionId
          in: query
          required: false
          description: Unique, randomly generated, Unicode, UTF-8 encoded strings that are
            at most 1,024 bytes long. Version IDs cannot be edited.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /backup/template/json/toPlan:
    post:
      operationId: GetBackupPlanFromJSON
      description: Returns a valid JSON document specifying a backup plan or an error.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetBackupPlanFromJSONOutput"
        "480":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - BackupPlanTemplateJson
            properties:
              BackupPlanTemplateJson:
                description: A customer-supplied backup plan document in JSON format.
                type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/backup/template/plans/{templateId}/toPlan":
    get:
      operationId: GetBackupPlanFromTemplate
      description: Returns the template specified by its <code>templateId</code> as a
        backup plan.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetBackupPlanFromTemplateOutput"
        "480":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "481":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "482":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "483":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
      parameters:
        - name: templateId
          in: path
          required: true
          description: Uniquely identifies a stored backup plan template.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/backup-vaults/{backupVaultName}/recovery-points/{recoveryPointArn}/restore-metadata":
    get:
      operationId: GetRecoveryPointRestoreMetadata
      description: <p>Returns two sets of metadata key-value pairs. The first set lists the
        metadata that the recovery point was created with. The second set lists
        the metadata key-value pairs that are required to restore the recovery
        point.</p> <p>These sets can be the same, or the restore metadata set
        can contain different values if the target service to be restored has
        changed since the recovery point was created and now requires additional
        or different information in order to be restored.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetRecoveryPointRestoreMetadataOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: recoveryPointArn
          in: path
          required: true
          description: An Amazon Resource Name (ARN) that uniquely identifies a recovery
            point; for example,
            <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.
          type: string
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /supported-resource-types:
    get:
      operationId: GetSupportedResourceTypes
      description: Returns the AWS resource types supported by AWS Backup.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetSupportedResourceTypesOutput"
        "480":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /backup-jobs/:
    get:
      operationId: ListBackupJobs
      description: Returns metadata about your backup jobs.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListBackupJobsOutput"
        "480":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "481":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: resourceArn
          in: query
          required: false
          description: Returns only backup jobs that match the specified resource Amazon
            Resource Name (ARN).
          type: string
        - name: state
          in: query
          required: false
          description: Returns only backup jobs that are in the specified state.
          type: string
          enum:
            - CREATED
            - PENDING
            - RUNNING
            - ABORTING
            - ABORTED
            - COMPLETED
            - FAILED
            - EXPIRED
        - name: backupVaultName
          in: query
          required: false
          description: Returns only backup jobs that will be stored in the specified backup
            vault. Backup vaults are identified by names that are unique to the
            account used to create them and the AWS Region where they are
            created. They consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: createdBefore
          in: query
          required: false
          description: Returns only backup jobs that were created before the specified date.
          type: string
          format: date-time
        - name: createdAfter
          in: query
          required: false
          description: Returns only backup jobs that were created after the specified date.
          type: string
          format: date-time
        - name: resourceType
          in: query
          required: false
          description: <p>Returns only backup jobs for the specified resources:</p> <ul>
            <li> <p> <code>EBS</code> for Amazon Elastic Block Store</p> </li>
            <li> <p> <code>SGW</code> for AWS Storage Gateway</p> </li> <li> <p>
            <code>RDS</code> for Amazon Relational Database Service</p> </li>
            <li> <p> <code>DDB</code> for Amazon DynamoDB</p> </li> <li> <p>
            <code>EFS</code> for Amazon Elastic File System</p> </li> </ul>
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /backup/template/plans:
    get:
      operationId: ListBackupPlanTemplates
      description: Returns metadata of your saved backup plan templates, including the
        template ID, name, and the creation and deletion dates.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListBackupPlanTemplatesOutput"
        "480":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "481":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "482":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "483":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/backup/plans/{backupPlanId}/versions/":
    get:
      operationId: ListBackupPlanVersions
      description: Returns version metadata of your backup plans, including Amazon Resource
        Names (ARNs), backup plan IDs, creation and deletion dates, plan names,
        and version IDs.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListBackupPlanVersionsOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupPlanId
          in: path
          required: true
          description: Uniquely identifies a backup plan.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /backup-vaults/:
    get:
      operationId: ListBackupVaults
      description: Returns a list of recovery point storage containers along with
        information about them.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListBackupVaultsOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /resources/:
    get:
      operationId: ListProtectedResources
      description: Returns an array of resources successfully backed up by AWS Backup,
        including the time the resource was saved, an Amazon Resource Name (ARN)
        of the resource, and a resource type.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListProtectedResourcesOutput"
        "480":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "481":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/backup-vaults/{backupVaultName}/recovery-points/":
    get:
      operationId: ListRecoveryPointsByBackupVault
      description: Returns detailed information about the recovery points stored in a
        backup vault.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListRecoveryPointsByBackupVaultOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: backupVaultName
          in: path
          required: true
          description: The name of a logical container where backups are stored. Backup
            vaults are identified by names that are unique to the account used
            to create them and the AWS Region where they are created. They
            consist of lowercase letters, numbers, and hyphens.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: resourceArn
          in: query
          required: false
          description: Returns only recovery points that match the specified resource
            Amazon Resource Name (ARN).
          type: string
        - name: resourceType
          in: query
          required: false
          description: Returns only recovery points that match the specified resource type.
          type: string
          pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
        - name: backupPlanId
          in: query
          required: false
          description: Returns only recovery points that match the specified backup plan ID.
          type: string
        - name: createdBefore
          in: query
          required: false
          description: Returns only recovery points that were created before the specified
            timestamp.
          type: string
          format: date-time
        - name: createdAfter
          in: query
          required: false
          description: Returns only recovery points that were created after the specified
            timestamp.
          type: string
          format: date-time
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/resources/{resourceArn}/recovery-points/":
    get:
      operationId: ListRecoveryPointsByResource
      description: Returns detailed information about recovery points of the type specified
        by a resource Amazon Resource Name (ARN).
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListRecoveryPointsByResourceOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: An ARN that uniquely identifies a resource. The format of the ARN
            depends on the resource type.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /restore-jobs/:
    get:
      operationId: ListRestoreJobs
      description: Returns a list of jobs that AWS Backup initiated to restore a saved
        resource, including metadata about the recovery process.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListRestoreJobsOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/tags/{resourceArn}/":
    get:
      operationId: ListTags
      description: Returns a list of key-value pairs assigned to a target recovery point,
        backup plan, or backup vault.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListTagsOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: An Amazon Resource Name (ARN) that uniquely identifies a resource.
            The format of the ARN depends on the type of resource. Valid targets
            for <code>ListTags</code> are recovery points, backup plans, and
            backup vaults.
          type: string
        - name: nextToken
          in: query
          required: false
          description: The next item following a partial list of returned items. For
            example, if a request is made to return <code>maxResults</code>
            number of items, <code>NextToken</code> allows you to return more
            items in your list starting at the location pointed to by the next
            token.
          type: string
        - name: maxResults
          in: query
          required: false
          description: The maximum number of items to be returned.
          type: integer
          minimum: 1
          maximum: 1000
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /backup-jobs:
    put:
      operationId: StartBackupJob
      description: Starts a job to create a one-time backup of the specified resource.
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/StartBackupJobOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - BackupVaultName
              - ResourceArn
              - IamRoleArn
            properties:
              BackupVaultName:
                description: The name of a logical container where backups are stored.
                  Backup vaults are identified by names that are unique to the
                  account used to create them and the AWS Region where they are
                  created. They consist of lowercase letters, numbers, and
                  hyphens.
                type: string
                pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
              ResourceArn:
                description: An Amazon Resource Name (ARN) that uniquely identifies a
                  resource. The format of the ARN depends on the resource type.
                type: string
              IamRoleArn:
                description: Specifies the IAM role ARN used to create the target recovery
                  point; for example,
                  <code>arn:aws:iam::123456789012:role/S3Access</code>.
                type: string
              IdempotencyToken:
                description: A customer chosen string that can be used to distinguish
                  between calls to <code>StartBackupJob</code>. Idempotency
                  tokens time out after one hour. Therefore, if you call
                  <code>StartBackupJob</code> multiple times with the same
                  idempotency token within one hour, AWS Backup recognizes that
                  you are requesting only one backup job and initiates only one.
                  If you change the idempotency token for each call, AWS Backup
                  recognizes that you are requesting to start multiple backups.
                type: string
              StartWindowMinutes:
                description: The amount of time in minutes before beginning a backup.
                type: integer
              CompleteWindowMinutes:
                description: The amount of time AWS Backup attempts a backup before
                  canceling the job and returning an error.
                type: integer
              Lifecycle:
                description: Contains an array of <code>Transition</code> objects
                  specifying how long in days before a recovery point
                  transitions to cold storage or is deleted.
                type: object
                properties:
                  MoveToColdStorageAfterDays:
                    $ref: "#/definitions/Long"
                    description: Specifies the number of days after creation that a
                      recovery point is moved to cold storage.
                  DeleteAfterDays:
                    $ref: "#/definitions/Long"
                    description: Specifies the number of days after creation that a
                      recovery point is deleted. Must be greater than
                      <code>MoveToColdStorageAfterDays</code>.
              RecoveryPointTags:
                description: To help organize your resources, you can assign your own
                  metadata to the resources that you create. Each tag is a
                  key-value pair.
                type: object
                additionalProperties:
                  $ref: "#/definitions/TagValue"
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /restore-jobs:
    put:
      operationId: StartRestoreJob
      description: <p>Recovers the saved resource identified by an Amazon Resource Name
        (ARN). </p> <p>If the resource ARN is included in the request, then the
        last complete backup of that resource is recovered. If the ARN of a
        recovery point is supplied, then that recovery point is restored.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/StartRestoreJobOutput"
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - RecoveryPointArn
              - Metadata
              - IamRoleArn
            properties:
              RecoveryPointArn:
                description: An ARN that uniquely identifies a recovery point; for example,
                  <code>arn:aws:backup:us-east-1:123456789012:recovery-point:1EB3B5E7-9EB0-435A-A80B-108B488B0D45</code>.
                type: string
              Metadata:
                description: A set of metadata key-value pairs. Lists the metadata that the
                  recovery point was created with.
                type: object
                additionalProperties:
                  $ref: "#/definitions/MetadataValue"
              IamRoleArn:
                description: The Amazon Resource Name (ARN) of the IAM role that AWS Backup
                  uses to create the target recovery point; for example,
                  <code>arn:aws:iam::123456789012:role/S3Access</code>.
                type: string
              IdempotencyToken:
                description: "A customer chosen string that can be used to distinguish
                  between calls to <code>StartRestoreJob</code>. Idempotency
                  tokens time out after one hour. Therefore, if you call
                  <code>StartRestoreJob</code> multiple times with the same
                  idempotency token within one hour, AWS Backup recognizes that
                  you are requesting only one restore job and initiates only
                  one. If you change the idempotency token for each call, AWS
                  Backup recognizes that you are requesting to start multiple
                  restores. "
                type: string
              ResourceType:
                description: <p>Starts a job to restore a recovery point for one of the
                  following resources:</p> <ul> <li> <p> <code>EBS</code> for
                  Amazon Elastic Block Store</p> </li> <li> <p> <code>SGW</code>
                  for AWS Storage Gateway</p> </li> <li> <p> <code>RDS</code>
                  for Amazon Relational Database Service</p> </li> <li> <p>
                  <code>DDB</code> for Amazon DynamoDB</p> </li> <li> <p>
                  <code>EFS</code> for Amazon Elastic File System</p> </li>
                  </ul>
                type: string
                pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/tags/{resourceArn}":
    post:
      operationId: TagResource
      description: Assigns a set of key-value pairs to a recovery point, backup plan, or
        backup vault identified by an Amazon Resource Name (ARN).
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
        "484":
          description: LimitExceededException
          schema:
            $ref: "#/definitions/LimitExceededException"
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: An ARN that uniquely identifies a resource. The format of the ARN
            depends on the type of the tagged resource.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Tags
            properties:
              Tags:
                description: "Key-value pairs that are used to help organize your
                  resources. You can assign your own metadata to the resources
                  you create. "
                type: object
                additionalProperties:
                  $ref: "#/definitions/TagValue"
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  "/untag/{resourceArn}":
    post:
      operationId: UntagResource
      description: Removes a set of key-value pairs from a recovery point, backup plan, or
        backup vault identified by an Amazon Resource Name (ARN)
      responses:
        "200":
          description: Success
        "480":
          description: ResourceNotFoundException
          schema:
            $ref: "#/definitions/ResourceNotFoundException"
        "481":
          description: InvalidParameterValueException
          schema:
            $ref: "#/definitions/InvalidParameterValueException"
        "482":
          description: MissingParameterValueException
          schema:
            $ref: "#/definitions/MissingParameterValueException"
        "483":
          description: ServiceUnavailableException
          schema:
            $ref: "#/definitions/ServiceUnavailableException"
      parameters:
        - name: resourceArn
          in: path
          required: true
          description: An ARN that uniquely identifies a resource. The format of the ARN
            depends on the type of the tagged resource.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - TagKeyList
            properties:
              TagKeyList:
                description: A list of keys to identify which key-value tags to remove from
                  a resource.
                type: array
                items:
                  $ref: "#/definitions/string"
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
definitions:
  CreateBackupPlanOutput:
    type: object
    properties:
      BackupPlanId:
        $ref: "#/definitions/string"
        description: Uniquely identifies a backup plan.
      BackupPlanArn:
        $ref: "#/definitions/ARN"
        description: An Amazon Resource Name (ARN) that uniquely identifies a backup plan;
          for example,
          <code>arn:aws:backup:us-east-1:123456789012:plan:8F81F553-3A74-4A3F-B93D-B3360DC80C50</code>.
      CreationDate:
        $ref: "#/definitions/timestamp"
        description: The date and time that a backup plan is created, in Unix format and
          Coordinated Universal Time (UTC). The value of
          <code>CreationDate</code> is accurate to milliseconds. For example,
          the value 1516925490.087 represents Friday, January 26, 2018
          12:11:30.087 AM.
      VersionId:
        $ref: "#/definitions/string"
        description: Unique, randomly generated, Unicode, UTF-8 encoded strings that are at
          most 1024 bytes long. They cannot be edited.
  BackupPlanName:
    type: string
  BackupRulesInput:
    type: array
    items:
      $ref: "#/definitions/BackupRuleInput"
  TagValue:
    type: string
  LimitExceededException: {}
  AlreadyExistsException: {}
  InvalidParameterValueException: {}
  MissingParameterValueException: {}
  ServiceUnavailableException: {}
  CreateBackupSelectionOutput:
    type: object
    properties:
      SelectionId:
        $ref: "#/definitions/string"
        description: Uniquely identifies the body of a request to assign a set of resources
          to a backup plan.
      BackupPlanId:
        $ref: "#/definitions/string"
        description: Uniquely identifies a backup plan.
      CreationDate:
        $ref: "#/definitions/timestamp"
        description: The date and time a backup selection is created, in Unix format and
          Coordinated Universal Time (UTC). The value of
          <code>CreationDate</code> is accurate to milliseconds. For example,
          the value 1516925490.087 represents Friday, January 26, 2018
          12:11:30.087 AM.
  BackupSelectionName:
    type: string
    pattern: ^[a-zA-Z0-9\-\_\.]{1,50}$
  IAMRoleArn:
    type: string
  ResourceArns:
    type: array
    items:
      $ref: "#/definitions/ARN"
  ListOfTags:
    type: array
    items:
      $ref: "#/definitions/Condition"
  CreateBackupVaultOutput:
    type: object
    properties:
      BackupVaultName:
        $ref: "#/definitions/BackupVaultName"
        description: The name of a logical container where backups are stored. Backup
          vaults are identified by names that are unique to the account used to
          create them and the Region where they are created. They consist of
          lowercase letters, numbers, and hyphens.
      BackupVaultArn:
        $ref: "#/definitions/ARN"
        description: An Amazon Resource Name (ARN) that uniquely identifies a backup vault;
          for example,
          <code>arn:aws:backup:us-east-1:123456789012:vault:aBackupVault</code>.
      CreationDate:
        $ref: "#/definitions/timestamp"
[...]
