swagger: '2.0'
info:
  version: '2018-11-05'
  x-release: v4
  title: AWS Transfer for SFTP
  description: 'AWS Transfer for SFTP is a fully managed service that enables the transfer of files directly into and out of Amazon S3 using the Secure File Transfer Protocol (SFTP)—also known as Secure Shell (SSH) File Transfer Protocol. AWS helps you seamlessly migrate your file transfer workflows to AWS Transfer for SFTP—by integrating with existing authentication systems, and providing DNS routing with Amazon Route 53—so nothing changes for your customers and partners, or their applications. With your data in S3, you can use it with AWS services for processing, analytics, machine learning, and archiving. Getting started with AWS Transfer for SFTP (AWS SFTP) is easy; there is no infrastructure to buy and setup. '
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: transfer
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/transfer-2018-11-05.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/transfer/'
host: transfer.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=TransferService.CreateServer':
    post:
      operationId: CreateServer
      description: '<p>Instantiates an autoscaling virtual server based on Secure File Transfer Protocol (SFTP) in AWS. The call returns the <code>ServerId</code> property assigned by the service to the newly created server. Reference this <code>ServerId</code> property when you make updates to your server, or work with users.</p> <p>The response returns the <code>ServerId</code> value for the newly created server.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateServerResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateServerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.CreateServer
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.CreateUser':
    post:
      operationId: CreateUser
      description: '<p>Adds a user and associate them with an existing Secure File Transfer Protocol (SFTP) server. Using parameters for <code>CreateUser</code>, you can specify the user name, set the home directory, store the user''s public key, and assign the user''s AWS Identity and Access Management (IAM) role. You can also optionally add a scope-down policy, and assign metadata with tags that can be used to group and search for users.</p> <p>The response returns the <code>UserName</code> and <code>ServerId</code> values of the new user for that server.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUserResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateUserRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.CreateUser
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.DeleteServer':
    post:
      operationId: DeleteServer
      description: '<p>Deletes the Secure File Transfer Protocol (SFTP) server that you specify. If you used <code>SERVICE_MANAGED</code> as your <code>IdentityProviderType</code>, you need to delete all users associated with this server before deleting the server itself</p> <p>No response returns from this call.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteServerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.DeleteServer
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.DeleteSshPublicKey':
    post:
      operationId: DeleteSshPublicKey
      description: <p>Deletes a user's Secure Shell (SSH) public key.</p> <p>No response is returned from this call.</p>
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSshPublicKeyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.DeleteSshPublicKey
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.DeleteUser':
    post:
      operationId: DeleteUser
      description: '<p>Deletes the user belonging to the server you specify.</p> <p>No response returns from this call.</p> <note> <p>When you delete a user from a server, the user''s information is lost.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteUserRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.DeleteUser
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.DescribeServer':
    post:
      operationId: DescribeServer
      description: <p>Describes the server that you specify by passing the <code>ServerId</code> parameter.</p> <p>The response contains a description of the server's properties.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServerResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeServerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.DescribeServer
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.DescribeUser':
    post:
      operationId: DescribeUser
      description: '<p>Describes the user assigned to a specific server, as identified by its <code>ServerId</code> property.</p> <p>The response from this call returns the properties of the user associated with the <code>ServerId</code> value that was specified.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeUserRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.DescribeUser
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.ImportSshPublicKey':
    post:
      operationId: ImportSshPublicKey
      description: '<p>Adds a Secure Shell (SSH) public key to a user account identified by a <code>UserName</code> value assigned to a specific server, identified by <code>ServerId</code>.</p> <p>The response returns the <code>UserName</code> value, the <code>ServerId</code> value, and the name of the <code>SshPublicKeyId</code>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportSshPublicKeyResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ImportSshPublicKeyRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.ImportSshPublicKey
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.ListServers':
    post:
      operationId: ListServers
      description: Lists the Secure File Transfer Protocol (SFTP) servers that are associated with your AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListServersResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListServersRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.ListServers
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: 'Lists all of the tags associated with the Amazon Resource Number (ARN) you specify. The resource can be a user, server, or role.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.ListTagsForResource
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.ListUsers':
    post:
      operationId: ListUsers
      description: Lists the users for the server that you specify by passing the <code>ServerId</code> parameter.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUsersResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListUsersRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.ListUsers
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.StartServer':
    post:
      operationId: StartServer
      description: '<p>Changes the state of a Secure File Transfer Protocol (SFTP) server from <code>OFFLINE</code> to <code>ONLINE</code>. It has no impact on an SFTP server that is already <code>ONLINE</code>. An <code>ONLINE</code> server can accept and process file transfer jobs.</p> <p>The state of <code>STARTING</code> indicates that the server is in an intermediate state, either not fully able to respond, or not fully online. The values of <code>START_FAILED</code> can indicate an error condition. </p> <p>No response is returned from this call.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StartServerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.StartServer
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.StopServer':
    post:
      operationId: StopServer
      description: '<p>Changes the state of an SFTP server from <code>ONLINE</code> to <code>OFFLINE</code>. An <code>OFFLINE</code> server cannot accept and process file transfer jobs. Information tied to your server such as server and user properties are not affected by stopping your server. Stopping a server will not reduce or impact your Secure File Transfer Protocol (SFTP) endpoint billing.</p> <p>The states of <code>STOPPING</code> indicates that the server is in an intermediate state, either not fully able to respond, or not fully offline. The values of <code>STOP_FAILED</code> can indicate an error condition.</p> <p>No response is returned from this call.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/StopServerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.StopServer
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.TagResource':
    post:
      operationId: TagResource
      description: '<p>Attaches a key-value pair to a resource, as identified by its Amazon Resource Name (ARN). Resources are users, servers, roles, and other entities.</p> <p>There is no response returned from this call.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.TagResource
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.TestIdentityProvider':
    post:
      operationId: TestIdentityProvider
      description: 'If the <code>IdentityProviderType</code> of the server is <code>API_Gateway</code>, tests whether your API Gateway is set up successfully. We highly recommend that you call this method to test your authentication method as soon as you create your server. By doing so, you can troubleshoot issues with the API Gateway integration to ensure that your users can successfully use the service.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestIdentityProviderResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TestIdentityProviderRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.TestIdentityProvider
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.UntagResource':
    post:
      operationId: UntagResource
      description: '<p>Detaches a key-value pair from a resource, as identified by its Amazon Resource Name (ARN). Resources are users, servers, roles, and other entities.</p> <p>No response is returned from this call.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.UntagResource
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.UpdateServer':
    post:
      operationId: UpdateServer
      description: <p>Updates the server properties after that server has been created.</p> <p>The <code>UpdateServer</code> call returns the <code>ServerId</code> of the Secure File Transfer Protocol (SFTP) server you updated.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServerResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateServerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.UpdateServer
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=TransferService.UpdateUser':
    post:
      operationId: UpdateUser
      description: '<p>Assigns new properties to a user. Parameters you pass modify any or all of the following: the home directory, role, and policy for the <code>UserName</code> and <code>ServerId</code> you specify.</p> <p>The response returns the <code>ServerId</code> and the <code>UserName</code> for the updated user.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateUserResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUserRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - TransferService.UpdateUser
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateServerResponse:
    type: object
    required:
      - ServerId
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: The service-assigned ID of the SFTP server that is created.
  CreateServerRequest:
    type: object
    properties:
      IdentityProviderDetails:
        $ref: '#/definitions/IdentityProviderDetails'
        description: An array containing all of the information required to call a customer-supplied authentication API. This parameter is not required when the <code>IdentityProviderType</code> value of server that is created uses the <code>SERVICE_MANAGED</code> authentication method.
      IdentityProviderType:
        $ref: '#/definitions/IdentityProviderType'
        description: 'The mode of authentication enabled for this service. The default value is <code>SERVICE_MANAGED</code>, which allows you to store and access SFTP user credentials within the service. An <code>IdentityProviderType</code> value of <code>API_GATEWAY</code> indicates that user authentication requires a call to an API Gateway endpoint URL provided by you to integrate an identity provider of your choice.'
      LoggingRole:
        $ref: '#/definitions/Role'
        description: A value that allows the service to write your SFTP users’ activity to your Amazon CloudWatch logs for monitoring and auditing purposes.
      Tags:
        $ref: '#/definitions/Tags'
        description: Key-value pairs that can be used to group and search for servers.
  ServiceUnavailableException: {}
  InternalServiceError: {}
  InvalidRequestException: {}
  CreateUserResponse:
    type: object
    required:
      - ServerId
      - UserName
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: The ID of the SFTP server that the user is attached to.
      UserName:
        $ref: '#/definitions/UserName'
        description: A unique string that identifies a user account associated with an SFTP server.
  CreateUserRequest:
    type: object
    required:
      - Role
      - ServerId
      - UserName
    properties:
      HomeDirectory:
        $ref: '#/definitions/HomeDirectory'
        description: The landing directory (folder) for a user when they log in to the server using their SFTP client. An example is <code>/home/<i>username</i> </code>.
      Policy:
        $ref: '#/definitions/Policy'
        description: 'A scope-down policy for your user so you can use the same IAM role across multiple users. This policy scopes down user access to portions of their Amazon S3 bucket. Variables you can use inside this policy include <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.'
      Role:
        $ref: '#/definitions/Role'
        description: The IAM role that controls your user’s access to your Amazon S3 bucket. The policies attached to this role will determine the level of access you want to provide your users when transferring files into and out of your Amazon S3 bucket or buckets. The IAM role should also contain a trust relationship that allows the SFTP server to access your resources when servicing your SFTP user’s transfer requests.
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance. This is the specific SFTP server that you added your user to.
      SshPublicKeyBody:
        $ref: '#/definitions/SshPublicKeyBody'
        description: The public portion of the Secure Shall (SSH) key used to authenticate the user to the SFTP server.
      Tags:
        $ref: '#/definitions/Tags'
        description: Key-value pairs that can be used to group and search for users. Tags are metadata attached to users for any purpose.
      UserName:
        $ref: '#/definitions/UserName'
        description: A unique string that identifies a user and is associated with a server as specified by the <code>ServerId</code>.
  ResourceExistsException: {}
  ResourceNotFoundException: {}
  DeleteServerRequest:
    type: object
    required:
      - ServerId
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A unique system-assigned identifier for an SFTP server instance.
  DeleteSshPublicKeyRequest:
    type: object
    required:
      - ServerId
      - SshPublicKeyId
      - UserName
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for a Secure File Transfer Protocol (SFTP) server instance that has the user assigned to it.
      SshPublicKeyId:
        $ref: '#/definitions/SshPublicKeyId'
        description: A unique identifier used to reference your user’s specific SSH key.
      UserName:
        $ref: '#/definitions/UserName'
        description: A unique string that identifies a user whose public key is being deleted.
  DeleteUserRequest:
    type: object
    required:
      - ServerId
      - UserName
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance that has the user assigned to it.
      UserName:
        $ref: '#/definitions/UserName'
        description: A unique string that identifies a user that is being deleted from the server.
  DescribeServerResponse:
    type: object
    required:
      - Server
    properties:
      Server:
        $ref: '#/definitions/DescribedServer'
        description: An array containing the properties of the server with the <code>ServerID</code> you specified.
  DescribeServerRequest:
    type: object
    required:
      - ServerId
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server.
  DescribeUserResponse:
    type: object
    required:
      - ServerId
      - User
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that has this user assigned.
      User:
        $ref: '#/definitions/DescribedUser'
        description: An array containing the properties of the user account for the <code>ServerID</code> value that you specified.
  DescribeUserRequest:
    type: object
    required:
      - ServerId
      - UserName
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that has this user assigned.
      UserName:
        $ref: '#/definitions/UserName'
        description: The name of the user assigned to one or more servers. User names are part of the sign-in credentials to use the AWS Transfer service and perform file transfer tasks.
  ImportSshPublicKeyResponse:
    type: object
    required:
      - ServerId
      - SshPublicKeyId
      - UserName
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server.
      SshPublicKeyId:
        $ref: '#/definitions/SshPublicKeyId'
        description: This identifier is the name given to a public key by the system that was imported.
      UserName:
        $ref: '#/definitions/UserName'
        description: A user name assigned to the <code>ServerID</code> value that you specified.
    description: 'This response identifies the user, server they belong to, and the identifier of the SSH public key associated with that user. A user can have more than one key on each server that they are associate with.'
  ImportSshPublicKeyRequest:
    type: object
    required:
      - ServerId
      - SshPublicKeyBody
      - UserName
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server.
      SshPublicKeyBody:
        $ref: '#/definitions/SshPublicKeyBody'
        description: The public key portion of an SSH key pair.
      UserName:
        $ref: '#/definitions/UserName'
        description: The name of the user account that is assigned to one or more servers.
  ListServersResponse:
    type: object
    required:
      - Servers
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you can get additional results from the <code>ListServers</code> operation, a <code>NextToken</code> parameter is returned in the output. In a following command, you can pass in the <code>NextToken</code> parameter to continue listing additional servers.'
      Servers:
        $ref: '#/definitions/ListedServers'
        description: An array of servers that were listed.
  ListServersRequest:
    type: object
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: Specifies the number of servers to return as a response to the <code>ListServers</code> query.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When additional results are obtained from the ListServers command, a <code>NextToken</code> parameter is returned in the output. You can then pass the <code>NextToken</code> parameter in a subsequent command to continue listing additional servers.'
  InvalidNextTokenException: {}
  ListTagsForResourceResponse:
    type: object
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: This value is the ARN you specified to list the tags of.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you can get additional results from the <code>ListTagsForResource</code> call, a <code>NextToken</code> parameter is returned in the output. You can then pass in a subsequent command the <code>NextToken</code> parameter to continue listing additional tags.'
      Tags:
        $ref: '#/definitions/Tags'
        description: 'Key-value pairs that are assigned to a resource, usually for the purpose of grouping and searching for items. Tags are metadata that you define that you can use for any purpose.'
  ListTagsForResourceRequest:
    type: object
    required:
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: 'Requests the tags associated with a particular Amazon Resource Name (ARN). An ARN is an identifier for a specific AWS resource, such as a server, user, or role.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: Specifies the number of tags to return as a response to the <code>ListTagsForResource</code> request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you request additional results from the <code>ListTagsForResource</code> call, a <code>NextToken</code> parameter is returned in the input. You can then pass in a subsequent command the <code>NextToken</code> parameter to continue listing additional tags.'
  ListUsersResponse:
    type: object
    required:
      - ServerId
      - Users
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you can get additional results from the <code>ListUsers</code> call, a <code>NextToken</code> parameter is returned in the output. You can then pass in a subsequent command the <code>NextToken</code> parameter to continue listing additional users.'
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that the users are assigned to.
      Users:
        $ref: '#/definitions/ListedUsers'
        description: Returns the user accounts and their properties for the <code>ServerId</code> value that you specify.
  ListUsersRequest:
    type: object
    required:
      - ServerId
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: Specifies the number of users to return as a response to the <code>ListUsers</code> request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you can get additional results from the <code>ListUsers</code> call, a <code>NextToken</code> parameter is returned in the output. You can then pass in a subsequent command the <code>NextToken</code> parameter to continue listing additional users.'
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for a Secure File Transfer Protocol (SFTP) server that has users are assigned to it.
  StartServerRequest:
    type: object
    required:
      - ServerId
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that you start.
  StopServerRequest:
    type: object
    required:
      - ServerId
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that you stopped.
  TagResourceRequest:
    type: object
    required:
      - Arn
      - Tags
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: 'An Amazon Resource Name (ARN) for a specific AWS resource, such as a server, user, or role.'
      Tags:
        $ref: '#/definitions/Tags'
        description: Key-value pairs assigned to ARNs that you can use to group and search for resources by type. You can attach this metadata to user accounts for any purpose.
  TestIdentityProviderResponse:
    type: object
    required:
      - StatusCode
      - Url
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: 'The result of the authorization test as a message. '
      StatusCode:
        $ref: '#/definitions/StatusCode'
        description: The HTTP status code that is the response from your API Gateway.
      Url:
        $ref: '#/definitions/Url'
        description: The endpoint of the service used to authenticate a user.
  TestIdentityProviderRequest:
    type: object
    required:
      - ServerId
      - UserName
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system assigned identifier for a specific server. That server's user authentication method is tested with a user name and password.
      UserName:
        $ref: '#/definitions/UserName'
        description: This request parameter is name of the user account to be tested.
      UserPassword:
        $ref: '#/definitions/UserPassword'
        description: The password of the user account to be tested.
  UntagResourceRequest:
    type: object
    required:
      - Arn
      - TagKeys
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: 'This is the value of the resource that will have the tag removed. An Amazon Resource Name (ARN) is an identifier for a specific AWS resource, such as a server, user, or role.'
      TagKeys:
        $ref: '#/definitions/TagKeys'
        description: TagKeys are key-value pairs assigned to ARNs that can be used to group and search for resources by type. This metadata can be attached to resources for any purpose.
  UpdateServerResponse:
    type: object
    required:
      - ServerId
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that the user account is assigned to.
  UpdateServerRequest:
    type: object
    required:
      - ServerId
    properties:
      IdentityProviderDetails:
        $ref: '#/definitions/IdentityProviderDetails'
        description: This response parameter is an array containing all of the information required to call a customer's authentication API method.
      LoggingRole:
        $ref: '#/definitions/NullableRole'
        description: 'Changes the AWS Identity and Access Management (IAM) role that allows Amazon S3 events to be logged in Amazon CloudWatch, turning logging on or off.'
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance that the user account is assigned to.
  UpdateUserResponse:
    type: object
    required:
      - ServerId
      - UserName
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance that the user account is assigned to.
      UserName:
        $ref: '#/definitions/UserName'
        description: The unique identifier for a user that is assigned to the SFTP server instance that was specified in the request.
    description: ' <code>UpdateUserResponse</code> returns the user name and server identifier for the request to update a user''s properties.'
  UpdateUserRequest:
    type: object
    required:
      - ServerId
      - UserName
    properties:
      HomeDirectory:
        $ref: '#/definitions/HomeDirectory'
        description: 'The HomeDirectory parameter specifies the landing directory (folder) for a user when they log in to the server using their client. An example would be: <code>/home/<i>username</i> </code>.'
      Policy:
        $ref: '#/definitions/Policy'
        description: 'Allows you to supply a scope-down policy for your user so you can use the same AWS Identity and Access Management (IAM) role across multiple users. The policy scopes down users access to portions of your Amazon S3 bucket. Variables you can use inside this policy include <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.'
      Role:
        $ref: '#/definitions/Role'
        description: The IAM role that controls your user’s access to your Amazon S3 bucket. The policies attached to this role will determine the level of access you want to provide your users when transferring files into and out of your Amazon S3 bucket or buckets. The IAM role should also contain a trust relationship that allows the Secure File Transfer Protocol (SFTP) server to access your resources when servicing your SFTP user’s transfer requests.
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance that the user account is assigned to.
      UserName:
        $ref: '#/definitions/UserName'
        description: A unique string that identifies a user and is associated with a server as specified by the ServerId. This is the string that will be used by your user when they log in to your SFTP server.
  Arn:
    type: string
    minLength: 20
    maxLength: 1600
  IdentityProviderDetails:
    type: object
    properties:
      Url:
        $ref: '#/definitions/Url'
        description: The <code>IdentityProviderDetail</code> parameter contains the location of the service endpoint used to authenticate users.
      InvocationRole:
        $ref: '#/definitions/Role'
        description: The <code>Role</code> parameter provides the type of <code>InvocationRole</code> used to authenticate the user account.
    description: Returns information related to the type of user authentication that is in use for a server's users. A server can only have one method of authentication.
  IdentityProviderType:
    type: string
    enum:
      - SERVICE_MANAGED
      - API_GATEWAY
    description: 'Returns information related to the type of user authentication that is in use for a server''s users. For <code>SERVICE_MANAGED</code> authentication, the Secure Shell (SSH) public keys are stored with a user on an SFTP server instance. For <code>API_GATEWAY</code> authentication, your custom authentication method is implemented by using an API call. A server can only have one method of authentication.'
  Role:
    type: string
    pattern: 'arn:.*role/.*'
  Tags:
    type: array
    items:
      $ref: '#/definitions/Tag'
    minItems: 1
    maxItems: 50
  ServerId:
    type: string
    pattern: '^s-([0-9a-f]{17})$'
  HomeDirectory:
    type: string
    pattern: ^$|/.*
    maxLength: 1024
  Policy:
    type: string
  SshPublicKeyBody:
    type: string
    pattern: '^ssh-rsa\s+[A-Za-z0-9+/]+[=]{0,3}(\s+.+)?\s*$'
    maxLength: 2048
  UserName:
    type: string
    pattern: '^[a-z0-9]{3,32}$'
  DateImported:
    type: string
    format: date-time
  SshPublicKeyId:
    type: string
    pattern: '^key-[0-9a-f]{17}$'
  DescribedServer:
    type: object
    required:
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: Specifies the unique Amazon Resource Name (ARN) for the server to be described.
      IdentityProviderDetails:
        $ref: '#/definitions/IdentityProviderDetails'
        description: Specifies information to call a customer-supplied authentication API. This field is not populated when the <code>IdentityProviderType</code> of the server is <code>SERVICE_MANAGED</code>&gt;.
      IdentityProviderType:
        $ref: '#/definitions/IdentityProviderType'
        description: 'This property defines the mode of authentication method enabled for this service. A value of <code>SERVICE_MANAGED</code>, means that you are using this Server to store and access SFTP user credentials within the service. A value of <code>API_GATEWAY</code> indicates that you have integrated an API Gateway endpoint that will be invoked for authenticating your user into the service.'
      LoggingRole:
        $ref: '#/definitions/Role'
        description: 'This property is an AWS Identity and Access Management (IAM) entity that allows the server to turn on Amazon CloudWatch logging for Amazon S3 events. When set, user activity can be view in your CloudWatch logs.'
      ServerId:
        $ref: '#/definitions/ServerId'
        description: This property is a unique system assigned identifier for the SFTP server that you instantiate.
      State:
        $ref: '#/definitions/State'
        description: '<p>The condition of the SFTP server for the server that was described. A value of <code>ONLINE</code> indicates that the server can accept jobs and transfer files. A <code>State</code> value of <code>OFFLINE</code> means that the server cannot perform file transfer operations.</p> <p>The states of <code>STARTING</code> and <code>STOPPING</code> indicated that the server is in an intermediate state, either not fully able to respond, or not fully offline. The values of <code>START_FAILED</code> or <code>STOP_FAILED</code> can indicate an error condition.</p>'
      Tags:
        $ref: '#/definitions/Tags'
        description: This property contains the key-value pairs that you can use to search for and group servers that were assigned to the server that was described.
      UserCount:
        $ref: '#/definitions/UserCount'
        description: The number of users that are assigned to the SFTP server you specified with the <code>ServerId</code>.
    description: 'Describe the properties of the server that was specified. Information returned includes: the server Amazon Resource Name (ARN), the authentication configuration and type, the logging role, server Id and state, and assigned tags or metadata. '
  DescribedUser:
    type: object
    required:
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: This property contains the unique Amazon Resource Name (ARN) for the user that was requested to be described.
      HomeDirectory:
        $ref: '#/definitions/HomeDirectory'
        description: 'This property specifies the landing directory (or folder) which is the location that files are written to or read from in an Amazon S3 bucket for the described user. An example would be: <code>/<i>bucket_name</i>/home/<i>username</i> </code>.'
      Policy:
        $ref: '#/definitions/Policy'
        description: Specifies the name of the policy in use for the described user.
      Role:
        $ref: '#/definitions/Role'
        description: This property specifies the IAM role that controls your user’s access to your Amazon S3 bucket. The policies attached to this role will determine the level of access you want to provide your users when transferring files into and out of your Amazon S3 bucket or buckets. The IAM role should also contain a trust relationship that allows the SFTP server to access your resources when servicing your SFTP user’s transfer requests.
      SshPublicKeys:
        $ref: '#/definitions/SshPublicKeys'
        description: This property contains the public key portion of the Secure Shell (SSH) keys stored for the described user.
      Tags:
        $ref: '#/definitions/Tags'
        description: This property contains the key-value pairs for the user requested. Tag can be used to search for and group users for a variety of purposes.
      UserName:
        $ref: '#/definitions/UserName'
        description: This property is the name of the user that was requested to be described. User names are used for authentication purposes. This is the string that will be used by your user when they log in to your SFTP server.
    description: Returns properties of the user that you wish to describe.
  State:
    type: string
    enum:
      - OFFLINE
      - ONLINE
      - STARTING
      - STOPPING
      - START_FAILED
      - STOP_FAILED
    description: '<p>Describes the condition of the SFTP server with respect to its ability to perform file operations. There are six possible states: <code>OFFLINE</code>, <code>ONLINE</code>, <code>STARTING</code>, <code>STOPPING</code>, <code>START_FAILED</code>, and <code>STOP_FAILED</code>.</p> <p> <code>OFFLINE</code> indicates that the SFTP server exists, but that it is not available for file operations. <code>ONLINE</code> indicates that the SFTP server is available to perform file operations. <code>STARTING</code> indicates that the SFTP server''s was instantiated, but the server is not yet available to perform file operations. Under normal conditions, it can take a couple of minutes for an SFTP server to be completely operational. Both <code>START_FAILED</code> and <code>STOP_FAILED</code> are error conditions.</p>'
  UserCount:
    type: integer
  SshPublicKeys:
    type: array
    items:
      $ref: '#/definitions/SshPublicKey'
    maxItems: 5
  Url:
    type: string
  MaxResults:
    type: integer
    minimum: 1
    maximum: 1000
  NextToken:
    type: string
    minLength: 1
    maxLength: 6144
  ListedServers:
    type: array
    items:
      $ref: '#/definitions/ListedServer'
  ListedUsers:
    type: array
    items:
      $ref: '#/definitions/ListedUser'
  ListedServer:
    type: object
    required:
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The unique Amazon Resource Name (ARN) for the server to be listed.
      IdentityProviderType:
        $ref: '#/definitions/IdentityProviderType'
        description: 'The authentication method used to validate a user for the server that was specified. listed. This can include Secure Shell (SSH), user name and password combinations, or your own custom authentication method. Valid values include <code>SERVICE_MANAGED</code> or <code>API_GATEWAY</code>.'
      LoggingRole:
        $ref: '#/definitions/Role'
        description: The AWS Identity and Access Management entity that allows the server to turn on Amazon CloudWatch logging.
      ServerId:
        $ref: '#/definitions/ServerId'
        description: This value is the unique system assigned identifier for the SFTP servers that were listed.
      State:
        $ref: '#/definitions/State'
        description: '<p>This property describes the condition of the SFTP server for the server that was described. A value of <code>ONLINE</code>&gt; indicates that the server can accept jobs and transfer files. A <code>State</code> value of <code>OFFLINE</code> means that the server cannot perform file transfer operations.</p> <p>The states of <code>STARTING</code> and <code>STOPPING</code> indicated that the server is in an intermediate state, either not fully able to respond, or not fully offline. The values of <code>START_FAILED</code> or <code>STOP_FAILED</code> can indicate an error condition.</p>'
      UserCount:
        $ref: '#/definitions/UserCount'
        description: This property is a numeric value that indicates the number of users that are assigned to the SFTP server you specified with the <code>ServerId</code>.
    description: Returns properties of the server that was specified.
  SshPublicKeyCount:
    type: integer
  ListedUser:
    type: object
    required:
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: This property is the unique Amazon Resource Name (ARN) for the user that you wish to learn about.
      HomeDirectory:
        $ref: '#/definitions/HomeDirectory'
        description: This value specifies the location that files are written to or read from an Amazon S3 bucket for the user you specify by their ARN.
      Role:
        $ref: '#/definitions/Role'
        description: The role in use by this user. A <i>role</i> is an AWS Identity and Access Management (IAM) entity that in this case allows the SFTP server to act on a user's behalf. It allows the server to inherit the trust relationship that enables that user to perform file operations to their Amazon S3 bucket.
      SshPublicKeyCount:
        $ref: '#/definitions/SshPublicKeyCount'
        description: This value is the number of SSH public keys stored for the user you specified.
      UserName:
        $ref: '#/definitions/UserName'
        description: The name of the user whose ARN was specified. User names are used for authentication purposes.
    description: Returns properties of the user that you specify.
  Message:
    type: string
  NullableRole:
    type: string
    pattern: '^$|arn:.*role/.*'
  SshPublicKey:
    type: object
    required:
      - DateImported
      - SshPublicKeyBody
      - SshPublicKeyId
    properties:
      DateImported:
        $ref: '#/definitions/DateImported'
        description: The date that the public key was added to the user account.
      SshPublicKeyBody:
        $ref: '#/definitions/SshPublicKeyBody'
        description: The content of the SSH public key as specified by the <code>PublicKeyId</code>.
      SshPublicKeyId:
        $ref: '#/definitions/SshPublicKeyId'
        description: The <code>SshPublicKeyId</code> parameter contains the identifier of the public key.
    description: 'Provides information about the public Secure Shell (SSH) key that is associated with a user account for a specific server (as identified by <code>ServerId</code>). The information returned includes the date the key was imported, the public key contents, and the public key ID. A user can store more than one SSH public key associated with their user name on a specific SFTP server.'
  StatusCode:
    type: integer
  TagKey:
    type: string
  TagValue:
    type: string
  Tag:
    type: object
    required:
      - Key
      - Value
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: The name assigned to the tag that you create.
      Value:
        $ref: '#/definitions/TagValue'
        description: This property contains one or more values that you assigned to the key name you create.
    description: 'Creates a key-value pair for a specific resource. Tags are metadata that you can use to search for and group a resource for various purposes. You can apply tags to servers, users, and roles. A tag key can take more than one value. For example, to group servers for accounting purposes, you might create a tag called <code>Group</code> and assign the values <code>Research</code> and <code>Accounting</code> to that group.'
  TagKeys:
    type: array
    items:
      $ref: '#/definitions/TagKey'
    minItems: 1
    maxItems: 50
  UserPassword:
    type: string
