swagger: '2.0'
schemes:
  - https
  - http
host: transfer.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: 'AWS Transfer for SFTP is a fully managed service that enables the transfer of files directly into and out of Amazon S3 using the Secure File Transfer Protocol (SFTP)—also known as Secure Shell (SSH) File Transfer Protocol. AWS helps you seamlessly migrate your file transfer workflows to AWS Transfer for SFTP—by integrating with existing authentication systems, and providing DNS routing with Amazon Route 53—so nothing changes for your customers and partners, or their applications. With your data in S3, you can use it with AWS services for processing, analytics, machine learning, and archiving. Getting started with AWS Transfer for SFTP (AWS SFTP) is easy; there is no infrastructure to buy and set up. '
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Transfer for SFTP
  version: '2018-11-05'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/transfer-2018-11-05.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: transfer
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/transfer/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=TransferService.CreateServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Instantiates an autoscaling virtual server based on Secure File Transfer Protocol (SFTP) in AWS. When you make updates to your server or when you work with users, use the service-generated <code>ServerId</code> property that is assigned to the newly created server.'
      operationId: CreateServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateServerRequest'
        - enum:
            - TransferService.CreateServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateServerResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
  '/#X-Amz-Target=TransferService.CreateUser':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Creates a user and associates them with an existing Secure File Transfer Protocol (SFTP) server. You can only create and associate users with SFTP servers that have the <code>IdentityProviderType</code> set to <code>SERVICE_MANAGED</code>. Using parameters for <code>CreateUser</code>, you can specify the user name, set the home directory, store the user''s public key, and assign the user''s AWS Identity and Access Management (IAM) role. You can also optionally add a scope-down policy, and assign metadata with tags that can be used to group and search for users.'
      operationId: CreateUser
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateUserRequest'
        - enum:
            - TransferService.CreateUser
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateUserResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.DeleteServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes the Secure File Transfer Protocol (SFTP) server that you specify.</p> <p>No response returns from this operation.</p>
      operationId: DeleteServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteServerRequest'
        - enum:
            - TransferService.DeleteServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.DeleteSshPublicKey':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Deletes a user's Secure Shell (SSH) public key.</p> <p>No response is returned from this operation.</p>
      operationId: DeleteSshPublicKey
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteSshPublicKeyRequest'
        - enum:
            - TransferService.DeleteSshPublicKey
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.DeleteUser':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Deletes the user belonging to the server you specify.</p> <p>No response returns from this operation.</p> <note> <p>When you delete a user from a server, the user''s information is lost.</p> </note>'
      operationId: DeleteUser
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteUserRequest'
        - enum:
            - TransferService.DeleteUser
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.DescribeServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Describes the server that you specify by passing the <code>ServerId</code> parameter.</p> <p>The response contains a description of the server's properties.</p>
      operationId: DescribeServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeServerRequest'
        - enum:
            - TransferService.DescribeServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeServerResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.DescribeUser':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Describes the user assigned to a specific server, as identified by its <code>ServerId</code> property.</p> <p>The response from this call returns the properties of the user associated with the <code>ServerId</code> value that was specified.</p>'
      operationId: DescribeUser
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeUserRequest'
        - enum:
            - TransferService.DescribeUser
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeUserResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.ImportSshPublicKey':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Adds a Secure Shell (SSH) public key to a user account identified by a <code>UserName</code> value assigned to a specific server, identified by <code>ServerId</code>.</p> <p>The response returns the <code>UserName</code> value, the <code>ServerId</code> value, and the name of the <code>SshPublicKeyId</code>.</p>'
      operationId: ImportSshPublicKey
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ImportSshPublicKeyRequest'
        - enum:
            - TransferService.ImportSshPublicKey
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ImportSshPublicKeyResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceExistsException
          schema:
            $ref: '#/definitions/ResourceExistsException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.ListServers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the Secure File Transfer Protocol (SFTP) servers that are associated with your AWS account.
      operationId: ListServers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListServersRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - TransferService.ListServers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListServersResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=TransferService.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Lists all of the tags associated with the Amazon Resource Number (ARN) you specify. The resource can be a user, server, or role.'
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - TransferService.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=TransferService.ListUsers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists the users for the server that you specify by passing the <code>ServerId</code> parameter.
      operationId: ListUsers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListUsersRequest'
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
        - enum:
            - TransferService.ListUsers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListUsersResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.StartServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Changes the state of a Secure File Transfer Protocol (SFTP) server from <code>OFFLINE</code> to <code>ONLINE</code>. It has no impact on an SFTP server that is already <code>ONLINE</code>. An <code>ONLINE</code> server can accept and process file transfer jobs.</p> <p>The state of <code>STARTING</code> indicates that the server is in an intermediate state, either not fully able to respond, or not fully online. The values of <code>START_FAILED</code> can indicate an error condition. </p> <p>No response is returned from this call.</p>'
      operationId: StartServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StartServerRequest'
        - enum:
            - TransferService.StartServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.StopServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Changes the state of an SFTP server from <code>ONLINE</code> to <code>OFFLINE</code>. An <code>OFFLINE</code> server cannot accept and process file transfer jobs. Information tied to your server such as server and user properties are not affected by stopping your server. Stopping a server will not reduce or impact your Secure File Transfer Protocol (SFTP) endpoint billing.</p> <p>The state of <code>STOPPING</code> indicates that the server is in an intermediate state, either not fully able to respond, or not fully offline. The values of <code>STOP_FAILED</code> can indicate an error condition.</p> <p>No response is returned from this call.</p>'
      operationId: StopServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/StopServerRequest'
        - enum:
            - TransferService.StopServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.TagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Attaches a key-value pair to a resource, as identified by its Amazon Resource Name (ARN). Resources are users, servers, roles, and other entities.</p> <p>There is no response returned from this call.</p>'
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
        - enum:
            - TransferService.TagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=TransferService.TestIdentityProvider':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'If the <code>IdentityProviderType</code> of the server is <code>API_Gateway</code>, tests whether your API Gateway is set up successfully. We highly recommend that you call this operation to test your authentication method as soon as you create your server. By doing so, you can troubleshoot issues with the API Gateway integration to ensure that your users can successfully use the service.'
      operationId: TestIdentityProvider
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TestIdentityProviderRequest'
        - enum:
            - TransferService.TestIdentityProvider
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TestIdentityProviderResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.UntagResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Detaches a key-value pair from a resource, as identified by its Amazon Resource Name (ARN). Resources are users, servers, roles, and other entities.</p> <p>No response is returned from this call.</p>'
      operationId: UntagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - enum:
            - TransferService.UntagResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=TransferService.UpdateServer':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>Updates the server properties after that server has been created.</p> <p>The <code>UpdateServer</code> call returns the <code>ServerId</code> of the Secure File Transfer Protocol (SFTP) server you updated.</p>
      operationId: UpdateServer
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateServerRequest'
        - enum:
            - TransferService.UpdateServer
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateServerResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/#X-Amz-Target=TransferService.UpdateUser':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>Assigns new properties to a user. Parameters you pass modify any or all of the following: the home directory, role, and policy for the <code>UserName</code> and <code>ServerId</code> you specify.</p> <p>The response returns the <code>ServerId</code> and the <code>UserName</code> for the updated user.</p>'
      operationId: UpdateUser
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateUserRequest'
        - enum:
            - TransferService.UpdateUser
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateUserResponse'
        '480':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '481':
          description: InternalServiceError
          schema:
            $ref: '#/definitions/InternalServiceError'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
definitions:
  Arn:
    maxLength: 1600
    minLength: 20
    type: string
  CreateServerRequest:
    properties:
      EndpointDetails:
        $ref: '#/definitions/EndpointDetails'
        description: The virtual private cloud (VPC) endpoint settings that you want to configure for your SFTP server. This parameter is required when you specify a value for the <code>EndpointType</code> parameter.
      EndpointType:
        $ref: '#/definitions/EndpointType'
        description: 'The type of VPC endpoint that you want your SFTP server to connect to. If you connect to a VPC endpoint, your SFTP server isn''t accessible over the public internet.'
      HostKey:
        $ref: '#/definitions/HostKey'
        description: '<p>The RSA private key as generated by the <code>ssh-keygen -N "" -f my-new-server-key</code> command.</p> <important> <p>If you aren''t planning to migrate existing users from an existing SFTP server to a new AWS SFTP server, don''t update the host key. Accidentally changing a server''s host key can be disruptive.</p> </important> <p> For more information, see "https://docs.aws.amazon.com/transfer/latest/userguide/change-host-key" in the <i>AWS SFTP User Guide.</i> </p>'
      IdentityProviderDetails:
        $ref: '#/definitions/IdentityProviderDetails'
        description: 'This parameter is required when the <code>IdentityProviderType</code> is set to <code>API_GATEWAY</code>. Accepts an array containing all of the information required to call a customer-supplied authentication API, including the API Gateway URL. This property is not required when the <code>IdentityProviderType</code> is set to <code>SERVICE_MANAGED</code>.'
      IdentityProviderType:
        $ref: '#/definitions/IdentityProviderType'
        description: 'Specifies the mode of authentication for the SFTP server. The default value is <code>SERVICE_MANAGED</code>, which allows you to store and access SFTP user credentials within the AWS Transfer for SFTP service. Use the <code>API_GATEWAY</code> value to integrate with an identity provider of your choosing. The <code>API_GATEWAY</code> setting requires you to provide an API Gateway endpoint URL to call for authentication using the <code>IdentityProviderDetails</code> parameter.'
      LoggingRole:
        $ref: '#/definitions/Role'
        description: A value that allows the service to write your SFTP users' activity to your Amazon CloudWatch logs for monitoring and auditing purposes.
      Tags:
        $ref: '#/definitions/Tags'
        description: Key-value pairs that can be used to group and search for servers.
    type: object
  CreateServerResponse:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: The service-assigned ID of the SFTP server that is created.
    required:
      - ServerId
    type: object
  CreateUserRequest:
    properties:
      HomeDirectory:
        $ref: '#/definitions/HomeDirectory'
        description: The landing directory (folder) for a user when they log in to the server using their SFTP client. An example is <code>/home/<i>username</i> </code>.
      Policy:
        $ref: '#/definitions/Policy'
        description: '<p>A scope-down policy for your user so you can use the same IAM role across multiple users. This policy scopes down user access to portions of their Amazon S3 bucket. Variables that you can use inside this policy include <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p> <note> <p>For scope-down policies, AWS Transfer for SFTP stores the policy as a JSON blob, instead of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass it in the <code>Policy</code> argument.</p> <p>For an example of a scope-down policy, see "https://docs.aws.amazon.com/transfer/latest/userguide/users.html#users-policies-scope-down"&gt;Creating a Scope-Down Policy.</p> <p>For more information, see "https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html" in the <i>AWS Security Token Service API Reference</i>.</p> </note>'
      Role:
        $ref: '#/definitions/Role'
        description: The IAM role that controls your user's access to your Amazon S3 bucket. The policies attached to this role will determine the level of access you want to provide your users when transferring files into and out of your Amazon S3 bucket or buckets. The IAM role should also contain a trust relationship that allows the SFTP server to access your resources when servicing your SFTP user's transfer requests.
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance. This is the specific SFTP server that you added your user to.
      SshPublicKeyBody:
        $ref: '#/definitions/SshPublicKeyBody'
        description: The public portion of the Secure Shell (SSH) key used to authenticate the user to the SFTP server.
      Tags:
        $ref: '#/definitions/Tags'
        description: Key-value pairs that can be used to group and search for users. Tags are metadata attached to users for any purpose.
      UserName:
        $ref: '#/definitions/UserName'
        description: 'A unique string that identifies a user and is associated with a server as specified by the <code>ServerId</code>. This user name must be a minimum of 3 and a maximum of 32 characters long. The following are valid characters: a-z, A-Z, 0-9, underscore, and hyphen. The user name can''t start with a hyphen.'
    required:
      - Role
      - ServerId
      - UserName
    type: object
  CreateUserResponse:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: The ID of the SFTP server that the user is attached to.
      UserName:
        $ref: '#/definitions/UserName'
        description: A unique string that identifies a user account associated with an SFTP server.
    required:
      - ServerId
      - UserName
    type: object
  DateImported:
    format: date-time
    type: string
  DeleteServerRequest:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A unique system-assigned identifier for an SFTP server instance.
    required:
      - ServerId
    type: object
  DeleteSshPublicKeyRequest:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for a Secure File Transfer Protocol (SFTP) server instance that has the user assigned to it.
      SshPublicKeyId:
        $ref: '#/definitions/SshPublicKeyId'
        description: A unique identifier used to reference your user's specific SSH key.
      UserName:
        $ref: '#/definitions/UserName'
        description: A unique string that identifies a user whose public key is being deleted.
    required:
      - ServerId
      - SshPublicKeyId
      - UserName
    type: object
  DeleteUserRequest:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance that has the user assigned to it.
      UserName:
        $ref: '#/definitions/UserName'
        description: A unique string that identifies a user that is being deleted from the server.
    required:
      - ServerId
      - UserName
    type: object
  DescribeServerRequest:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server.
    required:
      - ServerId
    type: object
  DescribeServerResponse:
    properties:
      Server:
        $ref: '#/definitions/DescribedServer'
        description: An array containing the properties of the server with the <code>ServerID</code> you specified.
    required:
      - Server
    type: object
  DescribeUserRequest:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that has this user assigned.
      UserName:
        $ref: '#/definitions/UserName'
        description: The name of the user assigned to one or more servers. User names are part of the sign-in credentials to use the AWS Transfer for SFTP service and perform file transfer tasks.
    required:
      - ServerId
      - UserName
    type: object
  DescribeUserResponse:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that has this user assigned.
      User:
        $ref: '#/definitions/DescribedUser'
        description: An array containing the properties of the user account for the <code>ServerID</code> value that you specified.
    required:
      - ServerId
      - User
    type: object
  DescribedServer:
    description: 'Describes the properties of the server that was specified. Information returned includes the following: the server Amazon Resource Name (ARN), the authentication configuration and type, the logging role, the server ID and state, and assigned tags or metadata. '
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: Specifies the unique Amazon Resource Name (ARN) for the server to be described.
      EndpointDetails:
        $ref: '#/definitions/EndpointDetails'
        description: The virtual private cloud (VPC) endpoint settings that you configured for your SFTP server.
      EndpointType:
        $ref: '#/definitions/EndpointType'
        description: 'The type of endpoint that your SFTP server is connected to. If your SFTP server is connected to a VPC endpoint, your server isn''t accessible over the public internet.'
      HostKeyFingerprint:
        $ref: '#/definitions/HostKeyFingerprint'
        description: This value contains the message-digest algorithm (MD5) hash of the server's host key. This value is equivalent to the output of the <code>ssh-keygen -l -E md5 -f my-new-server-key</code> command.
      IdentityProviderDetails:
        $ref: '#/definitions/IdentityProviderDetails'
        description: Specifies information to call a customer-supplied authentication API. This field is not populated when the <code>IdentityProviderType</code> of the server is <code>SERVICE_MANAGED</code>&gt;.
      IdentityProviderType:
        $ref: '#/definitions/IdentityProviderType'
        description: This property defines the mode of authentication method enabled for this service. A value of <code>SERVICE_MANAGED</code> means that you are using this server to store and access SFTP user credentials within the service. A value of <code>API_GATEWAY</code> indicates that you have integrated an API Gateway endpoint that will be invoked for authenticating your user into the service.
      LoggingRole:
        $ref: '#/definitions/Role'
        description: 'This property is an AWS Identity and Access Management (IAM) entity that allows the server to turn on Amazon CloudWatch logging for Amazon S3 events. When set, user activity can be viewed in your CloudWatch logs.'
      ServerId:
        $ref: '#/definitions/ServerId'
        description: This property is a unique system-assigned identifier for the SFTP server that you instantiate.
      State:
        $ref: '#/definitions/State'
        description: '<p>The condition of the SFTP server for the server that was described. A value of <code>ONLINE</code> indicates that the server can accept jobs and transfer files. A <code>State</code> value of <code>OFFLINE</code> means that the server cannot perform file transfer operations.</p> <p>The states of <code>STARTING</code> and <code>STOPPING</code> indicate that the server is in an intermediate state, either not fully able to respond, or not fully offline. The values of <code>START_FAILED</code> or <code>STOP_FAILED</code> can indicate an error condition.</p>'
      Tags:
        $ref: '#/definitions/Tags'
        description: This property contains the key-value pairs that you can use to search for and group servers that were assigned to the server that was described.
      UserCount:
        $ref: '#/definitions/UserCount'
        description: The number of users that are assigned to the SFTP server you specified with the <code>ServerId</code>.
    required:
      - Arn
    type: object
  DescribedUser:
    description: Returns properties of the user that you want to describe.
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: This property contains the unique Amazon Resource Name (ARN) for the user that was requested to be described.
      HomeDirectory:
        $ref: '#/definitions/HomeDirectory'
        description: 'This property specifies the landing directory (or folder), which is the location that files are written to or read from in an Amazon S3 bucket for the described user. An example is <code>/<i>bucket_name</i>/home/<i>username</i> </code>.'
      Policy:
        $ref: '#/definitions/Policy'
        description: Specifies the name of the policy in use for the described user.
      Role:
        $ref: '#/definitions/Role'
        description: This property specifies the IAM role that controls your user's access to your Amazon S3 bucket. The policies attached to this role will determine the level of access you want to provide your users when transferring files into and out of your Amazon S3 bucket or buckets. The IAM role should also contain a trust relationship that allows the SFTP server to access your resources when servicing your SFTP user's transfer requests.
      SshPublicKeys:
        $ref: '#/definitions/SshPublicKeys'
        description: This property contains the public key portion of the Secure Shell (SSH) keys stored for the described user.
      Tags:
        $ref: '#/definitions/Tags'
        description: This property contains the key-value pairs for the user requested. Tag can be used to search for and group users for a variety of purposes.
      UserName:
        $ref: '#/definitions/UserName'
        description: This property is the name of the user that was requested to be described. User names are used for authentication purposes. This is the string that will be used by your user when they log in to your SFTP server.
    required:
      - Arn
    type: object
  EndpointDetails:
    description: The configuration settings for the virtual private cloud (VPC) endpoint for your SFTP server.
    properties:
      VpcEndpointId:
        $ref: '#/definitions/VpcEndpointId'
        description: The ID of the VPC endpoint.
    type: object
  EndpointType:
    enum:
      - PUBLIC
      - VPC_ENDPOINT
    type: string
  HomeDirectory:
    maxLength: 1024
    pattern: ^$|/.*
    type: string
  HostKey:
    format: password
    maxLength: 4096
    type: string
  HostKeyFingerprint:
    type: string
  IdentityProviderDetails:
    description: Returns information related to the type of user authentication that is in use for a server's users. A server can have only one method of authentication.
    properties:
      InvocationRole:
        $ref: '#/definitions/Role'
        description: The <code>InvocationRole</code> parameter provides the type of <code>InvocationRole</code> used to authenticate the user account.
      Url:
        $ref: '#/definitions/Url'
        description: The <code>Url</code> parameter provides contains the location of the service endpoint used to authenticate users.
    type: object
  IdentityProviderType:
    description: 'Returns information related to the type of user authentication that is in use for a server''s users. For <code>SERVICE_MANAGED</code> authentication, the Secure Shell (SSH) public keys are stored with a user on an SFTP server instance. For <code>API_GATEWAY</code> authentication, your custom authentication method is implemented by using an API call. A server can have only one method of authentication.'
    enum:
      - SERVICE_MANAGED
      - API_GATEWAY
    type: string
  ImportSshPublicKeyRequest:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server.
      SshPublicKeyBody:
        $ref: '#/definitions/SshPublicKeyBody'
        description: The public key portion of an SSH key pair.
      UserName:
        $ref: '#/definitions/UserName'
        description: The name of the user account that is assigned to one or more servers.
    required:
      - ServerId
      - SshPublicKeyBody
      - UserName
    type: object
  ImportSshPublicKeyResponse:
    description: 'This response identifies the user, the server they belong to, and the identifier of the SSH public key associated with that user. A user can have more than one key on each server that they are associated with.'
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server.
      SshPublicKeyId:
        $ref: '#/definitions/SshPublicKeyId'
        description: This identifier is the name given to a public key by the system that was imported.
      UserName:
        $ref: '#/definitions/UserName'
        description: A user name assigned to the <code>ServerID</code> value that you specified.
    required:
      - ServerId
      - SshPublicKeyId
      - UserName
    type: object
  InternalServiceError: {}
  InvalidNextTokenException: {}
  InvalidRequestException: {}
  ListServersRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: Specifies the number of servers to return as a response to the <code>ListServers</code> query.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When additional results are obtained from the <code>ListServers</code> command, a <code>NextToken</code> parameter is returned in the output. You can then pass the <code>NextToken</code> parameter in a subsequent command to continue listing additional servers.'
    type: object
  ListServersResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you can get additional results from the <code>ListServers</code> operation, a <code>NextToken</code> parameter is returned in the output. In a following command, you can pass in the <code>NextToken</code> parameter to continue listing additional servers.'
      Servers:
        $ref: '#/definitions/ListedServers'
        description: An array of servers that were listed.
    required:
      - Servers
    type: object
  ListTagsForResourceRequest:
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: 'Requests the tags associated with a particular Amazon Resource Name (ARN). An ARN is an identifier for a specific AWS resource, such as a server, user, or role.'
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: Specifies the number of tags to return as a response to the <code>ListTagsForResource</code> request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you request additional results from the <code>ListTagsForResource</code> operation, a <code>NextToken</code> parameter is returned in the input. You can then pass in a subsequent command to the <code>NextToken</code> parameter to continue listing additional tags.'
    required:
      - Arn
    type: object
  ListTagsForResourceResponse:
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: This value is the ARN you specified to list the tags of.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you can get additional results from the <code>ListTagsForResource</code> call, a <code>NextToken</code> parameter is returned in the output. You can then pass in a subsequent command to the <code>NextToken</code> parameter to continue listing additional tags.'
      Tags:
        $ref: '#/definitions/Tags'
        description: 'Key-value pairs that are assigned to a resource, usually for the purpose of grouping and searching for items. Tags are metadata that you define.'
    type: object
  ListUsersRequest:
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: Specifies the number of users to return as a response to the <code>ListUsers</code> request.
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you can get additional results from the <code>ListUsers</code> call, a <code>NextToken</code> parameter is returned in the output. You can then pass in a subsequent command to the <code>NextToken</code> parameter to continue listing additional users.'
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for a Secure File Transfer Protocol (SFTP) server that has users assigned to it.
    required:
      - ServerId
    type: object
  ListUsersResponse:
    properties:
      NextToken:
        $ref: '#/definitions/NextToken'
        description: 'When you can get additional results from the <code>ListUsers</code> call, a <code>NextToken</code> parameter is returned in the output. You can then pass in a subsequent command to the <code>NextToken</code> parameter to continue listing additional users.'
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that the users are assigned to.
      Users:
        $ref: '#/definitions/ListedUsers'
        description: Returns the user accounts and their properties for the <code>ServerId</code> value that you specify.
    required:
      - ServerId
      - Users
    type: object
  ListedServer:
    description: Returns properties of the server that was specified.
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: The unique Amazon Resource Name (ARN) for the server to be listed.
      EndpointType:
        $ref: '#/definitions/EndpointType'
        description: 'The type of VPC endpoint that your SFTP server is connected to. If your SFTP server is connected to a VPC endpoint, your server isn''t accessible over the public internet.'
      IdentityProviderType:
        $ref: '#/definitions/IdentityProviderType'
        description: 'The authentication method used to validate a user for the server that was specified. This can include Secure Shell (SSH), user name and password combinations, or your own custom authentication method. Valid values include <code>SERVICE_MANAGED</code> or <code>API_GATEWAY</code>.'
      LoggingRole:
        $ref: '#/definitions/Role'
        description: The AWS Identity and Access Management entity that allows the server to turn on Amazon CloudWatch logging.
      ServerId:
        $ref: '#/definitions/ServerId'
        description: This value is the unique system assigned identifier for the SFTP servers that were listed.
      State:
        $ref: '#/definitions/State'
        description: '<p>This property describes the condition of the SFTP server for the server that was described. A value of <code>ONLINE</code>&gt; indicates that the server can accept jobs and transfer files. A <code>State</code> value of <code>OFFLINE</code> means that the server cannot perform file transfer operations.</p> <p>The states of <code>STARTING</code> and <code>STOPPING</code> indicate that the server is in an intermediate state, either not fully able to respond, or not fully offline. The values of <code>START_FAILED</code> or <code>STOP_FAILED</code> can indicate an error condition.</p>'
      UserCount:
        $ref: '#/definitions/UserCount'
        description: This property is a numeric value that indicates the number of users that are assigned to the SFTP server you specified with the <code>ServerId</code>.
    required:
      - Arn
    type: object
  ListedServers:
    items:
      $ref: '#/definitions/ListedServer'
    type: array
  ListedUser:
    description: Returns properties of the user that you specify.
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: This property is the unique Amazon Resource Name (ARN) for the user that you want to learn about.
      HomeDirectory:
        $ref: '#/definitions/HomeDirectory'
        description: This value specifies the location that files are written to or read from an Amazon S3 bucket for the user you specify by their ARN.
      Role:
        $ref: '#/definitions/Role'
        description: 'The role in use by this user. A <i>role</i> is an AWS Identity and Access Management (IAM) entity that, in this case, allows the SFTP server to act on a user''s behalf. It allows the server to inherit the trust relationship that enables that user to perform file operations to their Amazon S3 bucket.'
      SshPublicKeyCount:
        $ref: '#/definitions/SshPublicKeyCount'
        description: This value is the number of SSH public keys stored for the user you specified.
      UserName:
        $ref: '#/definitions/UserName'
        description: The name of the user whose ARN was specified. User names are used for authentication purposes.
    required:
      - Arn
    type: object
  ListedUsers:
    items:
      $ref: '#/definitions/ListedUser'
    type: array
  MaxResults:
    maximum: 1000
    minimum: 1
    type: integer
  Message:
    type: string
  NextToken:
    maxLength: 6144
    minLength: 1
    type: string
  NullableRole:
    pattern: '^$|arn:.*role/.*'
    type: string
  Policy:
    type: string
  ResourceExistsException: {}
  ResourceNotFoundException: {}
  Response:
    type: string
  Role:
    pattern: 'arn:.*role/.*'
    type: string
  ServerId:
    pattern: '^s-([0-9a-f]{17})$'
    type: string
  ServiceUnavailableException: {}
  SshPublicKey:
    description: 'Provides information about the public Secure Shell (SSH) key that is associated with a user account for a specific server (as identified by <code>ServerId</code>). The information returned includes the date the key was imported, the public key contents, and the public key ID. A user can store more than one SSH public key associated with their user name on a specific SFTP server.'
    properties:
      DateImported:
        $ref: '#/definitions/DateImported'
        description: The date that the public key was added to the user account.
      SshPublicKeyBody:
        $ref: '#/definitions/SshPublicKeyBody'
        description: The content of the SSH public key as specified by the <code>PublicKeyId</code>.
      SshPublicKeyId:
        $ref: '#/definitions/SshPublicKeyId'
        description: The <code>SshPublicKeyId</code> parameter contains the identifier of the public key.
    required:
      - DateImported
      - SshPublicKeyBody
      - SshPublicKeyId
    type: object
  SshPublicKeyBody:
    maxLength: 2048
    pattern: '^ssh-rsa\s+[A-Za-z0-9+/]+[=]{0,3}(\s+.+)?\s*$'
    type: string
  SshPublicKeyCount:
    type: integer
  SshPublicKeyId:
    pattern: '^key-[0-9a-f]{17}$'
    type: string
  SshPublicKeys:
    items:
      $ref: '#/definitions/SshPublicKey'
    maxItems: 5
    type: array
  StartServerRequest:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that you start.
    required:
      - ServerId
    type: object
  State:
    description: '<p>Describes the condition of the SFTP server with respect to its ability to perform file operations. There are six possible states: <code>OFFLINE</code>, <code>ONLINE</code>, <code>STARTING</code>, <code>STOPPING</code>, <code>START_FAILED</code>, and <code>STOP_FAILED</code>.</p> <p> <code>OFFLINE</code> indicates that the SFTP server exists, but that it is not available for file operations. <code>ONLINE</code> indicates that the SFTP server is available to perform file operations. <code>STARTING</code> indicates that the SFTP server''s was instantiated, but the server is not yet available to perform file operations. Under normal conditions, it can take a couple of minutes for an SFTP server to be completely operational. Both <code>START_FAILED</code> and <code>STOP_FAILED</code> are error conditions.</p>'
    enum:
      - OFFLINE
      - ONLINE
      - STARTING
      - STOPPING
      - START_FAILED
      - STOP_FAILED
    type: string
  StatusCode:
    type: integer
  StopServerRequest:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that you stopped.
    required:
      - ServerId
    type: object
  Tag:
    description: 'Creates a key-value pair for a specific resource. Tags are metadata that you can use to search for and group a resource for various purposes. You can apply tags to servers, users, and roles. A tag key can take more than one value. For example, to group servers for accounting purposes, you might create a tag called <code>Group</code> and assign the values <code>Research</code> and <code>Accounting</code> to that group.'
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: The name assigned to the tag that you create.
      Value:
        $ref: '#/definitions/TagValue'
        description: This property contains one or more values that you assigned to the key name you create.
    required:
      - Key
      - Value
    type: object
  TagKey:
    type: string
  TagKeys:
    items:
      $ref: '#/definitions/TagKey'
    maxItems: 50
    minItems: 1
    type: array
  TagResourceRequest:
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: 'An Amazon Resource Name (ARN) for a specific AWS resource, such as a server, user, or role.'
      Tags:
        $ref: '#/definitions/Tags'
        description: Key-value pairs assigned to ARNs that you can use to group and search for resources by type. You can attach this metadata to user accounts for any purpose.
    required:
      - Arn
      - Tags
    type: object
  TagValue:
    type: string
  Tags:
    items:
      $ref: '#/definitions/Tag'
    maxItems: 50
    minItems: 1
    type: array
  TestIdentityProviderRequest:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned identifier for a specific server. That server's user authentication method is tested with a user name and password.
      UserName:
        $ref: '#/definitions/UserName'
        description: This request parameter is the name of the user account to be tested.
      UserPassword:
        $ref: '#/definitions/UserPassword'
        description: The password of the user account to be tested.
    required:
      - ServerId
      - UserName
    type: object
  TestIdentityProviderResponse:
    properties:
      Message:
        $ref: '#/definitions/Message'
        description: 'A message that indicates whether the test was successful or not. '
      Response:
        $ref: '#/definitions/Response'
        description: The response that is returned from your API Gateway.
      StatusCode:
        $ref: '#/definitions/StatusCode'
        description: The HTTP status code that is the response from your API Gateway.
      Url:
        $ref: '#/definitions/Url'
        description: The endpoint of the service used to authenticate a user.
    required:
      - StatusCode
      - Url
    type: object
  UntagResourceRequest:
    properties:
      Arn:
        $ref: '#/definitions/Arn'
        description: 'This is the value of the resource that will have the tag removed. An Amazon Resource Name (ARN) is an identifier for a specific AWS resource, such as a server, user, or role.'
      TagKeys:
        $ref: '#/definitions/TagKeys'
        description: TagKeys are key-value pairs assigned to ARNs that can be used to group and search for resources by type. This metadata can be attached to resources for any purpose.
    required:
      - Arn
      - TagKeys
    type: object
  UpdateServerRequest:
    properties:
      EndpointDetails:
        $ref: '#/definitions/EndpointDetails'
        description: 'The virtual private cloud (VPC) endpoint settings that are configured for your SFTP server. With a VPC endpoint, your SFTP server isn''t accessible over the public internet.'
      EndpointType:
        $ref: '#/definitions/EndpointType'
        description: 'The type of endpoint that you want your SFTP server to connect to. You can choose to connect to the public internet or a virtual private cloud (VPC) endpoint. With a VPC endpoint, your SFTP server isn''t accessible over the public internet. '
      HostKey:
        $ref: '#/definitions/HostKey'
        description: '<p>The RSA private key as generated by <code>ssh-keygen -N "" -f my-new-server-key</code>.</p> <important> <p>If you aren''t planning to migrate existing users from an existing SFTP server to a new AWS SFTP server, don''t update the host key. Accidentally changing a server''s host key can be disruptive.</p> </important> <p> For more information, see "https://docs.aws.amazon.com/transfer/latest/userguide/configuring-servers.html#change-host-key" in the <i>AWS SFTP User Guide.</i> </p>'
      IdentityProviderDetails:
        $ref: '#/definitions/IdentityProviderDetails'
        description: This response parameter is an array containing all of the information required to call a customer's authentication API method.
      LoggingRole:
        $ref: '#/definitions/NullableRole'
        description: 'A value that changes the AWS Identity and Access Management (IAM) role that allows Amazon S3 events to be logged in Amazon CloudWatch, turning logging on or off.'
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance that the user account is assigned to.
    required:
      - ServerId
    type: object
  UpdateServerResponse:
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server that the user account is assigned to.
    required:
      - ServerId
    type: object
  UpdateUserRequest:
    properties:
      HomeDirectory:
        $ref: '#/definitions/HomeDirectory'
        description: A parameter that specifies the landing directory (folder) for a user when they log in to the server using their client. An example is <code>/home/<i>username</i> </code>.
      Policy:
        $ref: '#/definitions/Policy'
        description: '<p>Allows you to supply a scope-down policy for your user so you can use the same AWS Identity and Access Management (IAM) role across multiple users. The policy scopes down user access to portions of your Amazon S3 bucket. Variables you can use inside this policy include <code>${Transfer:UserName}</code>, <code>${Transfer:HomeDirectory}</code>, and <code>${Transfer:HomeBucket}</code>.</p> <note> <p>For scope-down policies, AWS Transfer for SFTP stores the policy as a JSON blob, instead of the Amazon Resource Name (ARN) of the policy. You save the policy as a JSON blob and pass it in the <code>Policy</code> argument.</p> <p>For an example of a scope-down policy, see "https://docs.aws.amazon.com/transfer/latest/userguide/users.html#users-policies-scope-down"&gt;Creating a Scope-Down Policy.</p> <p>For more information, see "https://docs.aws.amazon.com/STS/latest/APIReference/API_AssumeRole.html" in the <i>AWS Security Token Service API Reference</i>.</p> </note>'
      Role:
        $ref: '#/definitions/Role'
        description: The IAM role that controls your user's access to your Amazon S3 bucket. The policies attached to this role will determine the level of access you want to provide your users when transferring files into and out of your Amazon S3 bucket or buckets. The IAM role should also contain a trust relationship that allows the Secure File Transfer Protocol (SFTP) server to access your resources when servicing your SFTP user's transfer requests.
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance that the user account is assigned to.
      UserName:
        $ref: '#/definitions/UserName'
        description: 'A unique string that identifies a user and is associated with a server as specified by the <code>ServerId</code>. This is the string that will be used by your user when they log in to your SFTP server. This user name is a minimum of 3 and a maximum of 32 characters long. The following are valid characters: a-z, A-Z, 0-9, underscore, and hyphen. The user name can''t start with a hyphen.'
    required:
      - ServerId
      - UserName
    type: object
  UpdateUserResponse:
    description: ' <code>UpdateUserResponse</code> returns the user name and server identifier for the request to update a user''s properties.'
    properties:
      ServerId:
        $ref: '#/definitions/ServerId'
        description: A system-assigned unique identifier for an SFTP server instance that the user account is assigned to.
      UserName:
        $ref: '#/definitions/UserName'
        description: The unique identifier for a user that is assigned to the SFTP server instance that was specified in the request.
    required:
      - ServerId
      - UserName
    type: object
  Url:
    type: string
  UserCount:
    type: integer
  UserName:
    pattern: '^[a-zA-Z0-9_][a-zA-Z0-9_-]{2,31}$'
    type: string
  UserPassword:
    format: password
    type: string
  VpcEndpointId:
    pattern: '^vpce-[0-9a-f]{17}$'
    type: string
x-servers:
  - description: The AWS Transfer multi-region endpoint
    url: 'http://transfer.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS Transfer multi-region endpoint
    url: 'https://transfer.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The AWS Transfer endpoint for China (Beijing) and China (Ningxia)
    url: 'http://transfer.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The AWS Transfer endpoint for China (Beijing) and China (Ningxia)
    url: 'https://transfer.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
