openapi: 3.0.0
servers:
  - url: https://sqladmin.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: API for Cloud SQL database instance management
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud SQL Admin API
  version: v1beta4
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png
  x-origin:
    - converter:
        url: https://github.com/lucybot/api-spec-converter
        version: 2.7.31
      format: google
      url: https://www.googleapis.com/discovery/v1/apis/sqladmin/v1beta4/rest
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: sqladmin
externalDocs:
  url: https://developers.google.com/cloud-sql/
tags:
  - name: tiers
  - name: operations
  - name: backupRuns
  - name: flags
  - name: users
  - name: sslCerts
  - name: databases
  - name: instances
  - name: projects
paths:
  /sql/v1beta4/flags:
    get:
      description: List all available database flags for Cloud SQL instances.
      operationId: sql.flags.list
      parameters:
        - description: Database type and version you want to retrieve flags for. By default, this method returns flags for all database types and versions.
          in: query
          name: databaseVersion
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FlagsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - flags
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
  "/sql/v1beta4/projects/{project}/instances":
    get:
      description: Lists instances under a given project.
      operationId: sql.instances.list
      parameters:
        - description: Project ID of the project for which to list Cloud SQL instances.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: A filter expression that filters resources listed in the response. The expression is in the form of field:value. For example, 'instanceType:CLOUD_SQL_INSTANCE'. Fields can be nested as needed as per their JSON representation, such as 'settings.userLabels.auto_start:true'. Multiple filter queries are space-separated. For example. 'state:RUNNABLE instanceType:CLOUD_SQL_INSTANCE'. By default, each expression is an AND expression. However, you can include AND and OR expressions explicitly.
          in: query
          name: filter
          schema:
            type: string
        - description: The maximum number of results to return per response.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstancesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Creates a new Cloud SQL instance.
      operationId: sql.instances.insert
      parameters:
        - description: Project ID of the project to which the newly created Cloud SQL instances should belong.
          in: path
          name: project
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatabaseInstance"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}":
    delete:
      description: Deletes a Cloud SQL instance.
      operationId: sql.instances.delete
      parameters:
        - description: Project ID of the project that contains the instance to be deleted.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    get:
      description: Retrieves a resource containing information about a Cloud SQL instance.
      operationId: sql.instances.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabaseInstance"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    patch:
      description: Updates settings of a Cloud SQL instance. This method supports patch semantics.
      operationId: sql.instances.patch
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatabaseInstance"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    put:
      description: Updates settings of a Cloud SQL instance. Using this operation might cause your instance to restart.
      operationId: sql.instances.update
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DatabaseInstance"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/addServerCa":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Add a new trusted Certificate Authority (CA) version for the specified instance. Required to prepare for a certificate rotation. If a CA version was previously added but never used in a certificate rotation, this operation replaces that version. There cannot be more than one CA version waiting to be rotated in.
      operationId: sql.instances.addServerCa
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/backupRuns":
    get:
      description: Lists all backup runs associated with a given instance and configuration in the reverse chronological order of the backup initiation time.
      operationId: sql.backupRuns.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Maximum number of backup runs per response.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupRunsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - backupRuns
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Creates a new backup run on demand. This method is applicable only to Second Generation instances.
      operationId: sql.backupRuns.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BackupRun"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - backupRuns
  "/sql/v1beta4/projects/{project}/instances/{instance}/backupRuns/{id}":
    delete:
      description: Deletes the backup taken by a backup run.
      operationId: sql.backupRuns.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: The ID of the Backup Run to delete. To find a Backup Run ID, use the list method.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - backupRuns
    get:
      description: Retrieves a resource containing information about a backup run.
      operationId: sql.backupRuns.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: The ID of this Backup Run.
          in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BackupRun"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - backupRuns
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
  "/sql/v1beta4/projects/{project}/instances/{instance}/clone":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Creates a Cloud SQL instance as a clone of the source instance. Using this operation might cause your instance to restart.
      operationId: sql.instances.clone
      parameters:
        - description: Project ID of the source as well as the clone Cloud SQL instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesCloneRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/createEphemeral":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.
      operationId: sql.sslCerts.createEphemeral
      parameters:
        - description: Project ID of the Cloud SQL project.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SslCertsCreateEphemeralRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SslCert"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
  "/sql/v1beta4/projects/{project}/instances/{instance}/databases":
    get:
      description: Lists databases in the specified Cloud SQL instance.
      operationId: sql.databases.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DatabasesListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Inserts a resource containing information about a database inside a Cloud SQL instance.
      operationId: sql.databases.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Database"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
  "/sql/v1beta4/projects/{project}/instances/{instance}/databases/{database}":
    delete:
      description: Deletes a database from a Cloud SQL instance.
      operationId: sql.databases.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Name of the database to be deleted in the instance.
          in: path
          name: database
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
    get:
      description: Retrieves a resource containing information about a database inside a Cloud SQL instance.
      operationId: sql.databases.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Name of the database in the instance.
          in: path
          name: database
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Database"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    patch:
      description: Partially updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.
      operationId: sql.databases.patch
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Name of the database to be updated in the instance.
          in: path
          name: database
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Database"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
    put:
      description: Updates a resource containing information about a database inside a Cloud SQL instance.
      operationId: sql.databases.update
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Name of the database to be updated in the instance.
          in: path
          name: database
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Database"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - databases
  "/sql/v1beta4/projects/{project}/instances/{instance}/demoteMaster":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Demotes the stand-alone instance to be a Cloud SQL read replica for an external database server.
      operationId: sql.instances.demoteMaster
      parameters:
        - description: ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance name.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesDemoteMasterRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/export":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Exports data from a Cloud SQL instance to a Cloud Storage bucket as a SQL dump or CSV file.
      operationId: sql.instances.export
      parameters:
        - description: Project ID of the project that contains the instance to be exported.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesExportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/failover":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Failover the instance to its failover replica instance. Using this operation might cause your instance to restart.
      operationId: sql.instances.failover
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesFailoverRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/import":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Imports data into a Cloud SQL instance from a SQL dump or CSV file in Cloud Storage.
      operationId: sql.instances.import
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesImportRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/listServerCas":
    get:
      description: "Lists all of the trusted Certificate Authorities (CAs) for the specified instance. There can be up to three CAs listed: the CA that was used to sign the certificate that is currently in use, a CA that has been added but not yet used to sign a certificate, and a CA used to sign a certificate that has previously rotated out."
      operationId: sql.instances.listServerCas
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/InstancesListServerCasResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
  "/sql/v1beta4/projects/{project}/instances/{instance}/promoteReplica":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Promotes the read replica instance to be a stand-alone Cloud SQL instance. Using this operation might cause your instance to restart.
      operationId: sql.instances.promoteReplica
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/rescheduleMaintenance":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Reschedules the maintenance on the given instance.
      operationId: sql.projects.instances.rescheduleMaintenance
      parameters:
        - description: ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SqlInstancesRescheduleMaintenanceRequestBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
  "/sql/v1beta4/projects/{project}/instances/{instance}/resetSslConfig":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Deletes all client certificates and generates a new server SSL certificate for the instance.
      operationId: sql.instances.resetSslConfig
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/restart":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Restarts a Cloud SQL instance.
      operationId: sql.instances.restart
      parameters:
        - description: Project ID of the project that contains the instance to be restarted.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/restoreBackup":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Restores a backup of a Cloud SQL instance. Using this operation might cause your instance to restart.
      operationId: sql.instances.restoreBackup
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesRestoreBackupRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/rotateServerCa":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Rotates the server certificate to one signed by the Certificate Authority (CA) version previously added with the addServerCA method.
      operationId: sql.instances.rotateServerCa
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesRotateServerCaRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/sslCerts":
    get:
      description: Lists all of the current SSL certificates for the instance.
      operationId: sql.sslCerts.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SslCertsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.
      operationId: sql.sslCerts.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SslCertsInsertRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SslCertsInsertResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
  "/sql/v1beta4/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}":
    delete:
      description: Deletes the SSL certificate. For First Generation instances, the certificate remains valid until the instance is restarted.
      operationId: sql.sslCerts.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Sha1 FingerPrint.
          in: path
          name: sha1Fingerprint
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
    get:
      description: Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.
      operationId: sql.sslCerts.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Sha1 FingerPrint.
          in: path
          name: sha1Fingerprint
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SslCert"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - sslCerts
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
  "/sql/v1beta4/projects/{project}/instances/{instance}/startExternalSync":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Start External master migration.
      operationId: sql.projects.instances.startExternalSync
      parameters:
        - description: ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: External sync mode
          in: query
          name: syncMode
          schema:
            enum:
              - EXTERNAL_SYNC_MODE_UNSPECIFIED
              - ONLINE
              - OFFLINE
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
  "/sql/v1beta4/projects/{project}/instances/{instance}/startReplica":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Starts the replication in the read replica instance.
      operationId: sql.instances.startReplica
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/stopReplica":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Stops the replication in the read replica instance.
      operationId: sql.instances.stopReplica
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/truncateLog":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Truncate MySQL general and slow query log tables
      operationId: sql.instances.truncateLog
      parameters:
        - description: Project ID of the Cloud SQL project.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/InstancesTruncateLogRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - instances
  "/sql/v1beta4/projects/{project}/instances/{instance}/users":
    delete:
      description: Deletes a user from a Cloud SQL instance.
      operationId: sql.users.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Host of the user in the instance.
          in: query
          name: host
          schema:
            type: string
        - description: Name of the user in the instance.
          in: query
          name: name
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - users
    get:
      description: Lists users in the specified Cloud SQL instance.
      operationId: sql.users.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UsersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - users
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Creates a new user in a Cloud SQL instance.
      operationId: sql.users.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - users
    put:
      description: Updates an existing user in a Cloud SQL instance.
      operationId: sql.users.update
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: Optional. Host of the user in the instance.
          in: query
          name: host
          schema:
            type: string
        - description: Name of the user in the instance.
          in: query
          name: name
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/User"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - users
  "/sql/v1beta4/projects/{project}/instances/{instance}/verifyExternalSyncSettings":
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
    post:
      description: Verify External master external sync settings.
      operationId: sql.projects.instances.verifyExternalSyncSettings
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          schema:
            type: string
        - description: External sync mode
          in: query
          name: syncMode
          schema:
            enum:
              - EXTERNAL_SYNC_MODE_UNSPECIFIED
              - ONLINE
              - OFFLINE
            type: string
        - description: Flag to enable verifying connection only
          in: query
          name: verifyConnectionOnly
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SqlInstancesVerifyExternalSyncSettingsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - projects
  "/sql/v1beta4/projects/{project}/operations":
    get:
      description: Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.
      operationId: sql.operations.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: query
          name: instance
          schema:
            type: string
        - description: Maximum number of operations per response.
          in: query
          name: maxResults
          schema:
            type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/OperationsListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - operations
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
  "/sql/v1beta4/projects/{project}/operations/{operation}":
    get:
      description: Retrieves an instance operation that has been performed on an instance.
      operationId: sql.operations.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          schema:
            type: string
        - description: Instance operation ID.
          in: path
          name: operation
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - operations
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
  "/sql/v1beta4/projects/{project}/tiers":
    get:
      description: Lists all available machine types (tiers) for Cloud SQL, for example, db-n1-standard-1. For related information, see Pricing.
      operationId: sql.tiers.list
      parameters:
        - description: Project ID of the project for which to list tiers.
          in: path
          name: project
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TiersListResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/sqlservice.admin
          Oauth2c:
            - https://www.googleapis.com/auth/sqlservice.admin
      tags:
        - tiers
    parameters:
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/uploadType"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/upload_protocol"
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    AclEntry:
      description: An entry for an Access Control list.
      properties:
        expirationTime:
          description: The time when this access control entry expires in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.
          format: google-datetime
          type: string
        kind:
          description: This is always *sql#aclEntry*.
          type: string
        name:
          description: Optional. A label to identify this entry.
          type: string
        value:
          description: The allowlisted value for the access control list.
          type: string
      type: object
    ApiWarning:
      description: An Admin API warning message.
      properties:
        code:
          description: Code to uniquely identify the warning type.
          enum:
            - SQL_API_WARNING_CODE_UNSPECIFIED
            - REGION_UNREACHABLE
          type: string
        message:
          description: The warning message.
          type: string
      type: object
    BackupConfiguration:
      description: Database instance backup configuration.
      properties:
        binaryLogEnabled:
          description: (MySQL only) Whether binary log is enabled. If backup configuration is disabled, binarylog must be disabled as well.
          type: boolean
        enabled:
          description: Whether this configuration is enabled.
          type: boolean
        kind:
          description: This is always *sql#backupConfiguration*.
          type: string
        location:
          description: Location of the backup
          type: string
        pointInTimeRecoveryEnabled:
          description: Reserved for future use.
          type: boolean
        replicationLogArchivingEnabled:
          description: Reserved for future use.
          type: boolean
        startTime:
          description: Start time for the daily backup configuration in UTC timezone in the 24 hour format - *HH:MM*.
          type: string
      type: object
    BackupRun:
      description: A BackupRun resource.
      properties:
        backupKind:
          description: Specifies the kind of backup, PHYSICAL or DEFAULT_SNAPSHOT.
          enum:
            - SQL_BACKUP_KIND_UNSPECIFIED
            - SNAPSHOT
            - PHYSICAL
          type: string
        description:
          description: The description of this run, only applicable to on-demand backups.
          type: string
        diskEncryptionConfiguration:
          $ref: "#/components/schemas/DiskEncryptionConfiguration"
          description: Encryption configuration specific to a backup. Applies only to Second Generation instances.
        diskEncryptionStatus:
          $ref: "#/components/schemas/DiskEncryptionStatus"
          description: Encryption status specific to a backup. Applies only to Second Generation instances.
        endTime:
          description: The time the backup operation completed in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.
          format: google-datetime
          type: string
        enqueuedTime:
          description: The time the run was enqueued in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.
          format: google-datetime
          type: string
        error:
          $ref: "#/components/schemas/OperationError"
          description: Information about why the backup operation failed. This is only present if the run has the FAILED status.
        id:
          description: The identifier for this backup run. Unique only for a specific Cloud SQL instance.
          format: int64
          type: string
        instance:
          description: Name of the database instance.
          type: string
        kind:
          description: This is always *sql#backupRun*.
          type: string
        location:
          description: Location of the backups.
          type: string
        selfLink:
          description: The URI of this resource.
          type: string
        startTime:
          description: The time the backup operation actually started in UTC timezone in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.
          format: google-datetime
          type: string
        status:
          description: The status of this run.
          enum:
            - SQL_BACKUP_RUN_STATUS_UNSPECIFIED
            - ENQUEUED
            - OVERDUE
            - RUNNING
            - FAILED
            - SUCCESSFUL
            - SKIPPED
            - DELETION_PENDING
            - DELETION_FAILED
            - DELETED
          type: string
        type:
          description: The type of this run; can be either "AUTOMATED" or "ON_DEMAND".
          enum:
            - SQL_BACKUP_RUN_TYPE_UNSPECIFIED
            - AUTOMATED
            - ON_DEMAND
          type: string
        windowStartTime:
          description: The start time of the backup window during which this the backup was attempted in RFC 3339 format, for example *2012-11-15T16:19:00.094Z*.
          format: google-datetime
          type: string
      type: object
    BackupRunsListResponse:
      description: Backup run list results.
      properties:
        items:
          description: A list of backup runs in reverse chronological order of the enqueued time.
          items:
            $ref: "#/components/schemas/BackupRun"
          type: array
        kind:
          description: This is always *sql#backupRunsList*.
          type: string
        nextPageToken:
          description: The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.
          type: string
      type: object
    BinLogCoordinates:
      description: Binary log coordinates.
      properties:
        binLogFileName:
          description: Name of the binary log file for a Cloud SQL instance.
          type: string
        binLogPosition:
          description: Position (offset) within the binary log file.
          format: int64
          type: string
        kind:
          description: This is always *sql#binLogCoordinates*.
          type: string
      type: object
    CloneContext:
      description: Database instance clone context.
      properties:
        binLogCoordinates:
          $ref: "#/components/schemas/BinLogCoordinates"
          description: Binary log coordinates, if specified, identify the position up to which the source instance is cloned. If not specified, the source instance is cloned up to the most recent binary log coordinates.
        destinationInstanceName:
          description: Name of the Cloud SQL instance to be created as a clone.
          type: string
        kind:
          description: This is always *sql#cloneContext*.
          type: string
        pitrTimestampMs:
          description: Reserved for future use.
          format: int64
          type: string
        pointInTime:
          description: Reserved for future use.
          format: google-datetime
          type: string
      type: object
    Database:
      description: Represents a SQL database on the Cloud SQL instance.
      properties:
        charset:
          description: The Cloud SQL charset value.
          type: string
        collation:
          description: The Cloud SQL collation value.
          type: string
        etag:
          description: This field is deprecated and will be removed from a future version of the API.
          type: string
        instance:
          description: The name of the Cloud SQL instance. This does not include the project ID.
          type: string
        kind:
          description: This is always *sql#database*.
          type: string
        name:
          description: The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.
          type: string
        project:
          description: The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.
          type: string
        selfLink:
          description: The URI of this resource.
          type: string
        sqlserverDatabaseDetails:
          $ref: "#/components/schemas/SqlServerDatabaseDetails"
      type: object
    DatabaseFlags:
      description: Database flags for Cloud SQL instances.
      properties:
        name:
          description: The name of the flag. These flags are passed at instance startup, so include both server options and system variables for MySQL. Flags are specified with underscores, not hyphens. For more information, see Configuring Database Flags in the Cloud SQL documentation.
          type: string
        value:
          description: The value of the flag. Booleans are set to *on* for true and *off* for false. This field must be omitted if the flag doesn't take a value.
          type: string
      type: object
    DatabaseInstance:
      description: "A Cloud SQL instance resource. Next field: 34"
      properties:
        backendType:
          description: " *SECOND_GEN*: Cloud SQL database instance. *EXTERNAL*: A database server that is not managed by Google. This property is read-only; use the *tier* property in the *settings* object to determine the database type."
          enum:
            - SQL_BACKEND_TYPE_UNSPECIFIED
            - FIRST_GEN
            - SECOND_GEN
            - EXTERNAL
          type: string
        connectionName:
          description: Connection name of the Cloud SQL instance used in connection strings.
          type: string
        currentDiskSize:
          description: The current disk usage of the instance in bytes. This property has been deprecated. Use the "cloudsql.googleapis.com/database/disk/bytes_used" metric in Cloud Monitoring API instead. Please see this announcement for details.
          format: int64
          type: string
        databaseVersion:
          description: "The database engine type and version. The *databaseVersion* field cannot be changed after instance creation. MySQL instances: *MYSQL_5_7* (default), or *MYSQL_5_6*. PostgreSQL instances: *POSTGRES_9_6*, *POSTGRES_10*, *POSTGRES_11* or *POSTGRES_12* (default). SQL Server instances: *SQLSERVER_2017_STANDARD* (default), *SQLSERVER_2017_ENTERPRISE*, *SQLSERVER_2017_EXPRESS*, or *SQLSERVER_2017_WEB*."
          enum:
            - SQL_DATABASE_VERSION_UNSPECIFIED
            - MYSQL_5_1
            - MYSQL_5_5
            - MYSQL_5_6
            - MYSQL_5_7
            - POSTGRES_9_6
            - POSTGRES_11
            - SQLSERVER_2017_STANDARD
            - SQLSERVER_2017_ENTERPRISE
            - SQLSERVER_2017_EXPRESS
            - SQLSERVER_2017_WEB
            - POSTGRES_10
            - POSTGRES_12
            - MYSQL_8_0
          type: string
        diskEncryptionConfiguration:
          $ref: "#/components/schemas/DiskEncryptionConfiguration"
          description: Disk encryption configuration specific to an instance. Applies only to Second Generation instances.
        diskEncryptionStatus:
          $ref: "#/components/schemas/DiskEncryptionStatus"
          description: Disk encryption status specific to an instance. Applies only to Second Generation instances.
        etag:
          description: This field is deprecated and will be removed from a future version of the API. Use the *settings.settingsVersion* field instead.
          type: string
        failoverReplica:
          description: The name and status of the failover replica. This property is applicable only to Second Generation instances.
          properties:
            available:
              description: The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The master can only failover to the failover replica when the status is true.
              type: boolean
            name:
              description: The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn't include the project ID. This property is applicable only to Second Generation instances.
              type: string
          type: object
        gceZone:
          description: The Compute Engine zone that the instance is currently serving from. This value could be different from the zone that was specified when the instance was created if the instance has failed over to its secondary zone.
          type: string
        instanceType:
          description: "The instance type. This can be one of the following. *CLOUD_SQL_INSTANCE*: A Cloud SQL instance that is not replicating from a master. *ON_PREMISES_INSTANCE*: An instance running on the customer's premises. *READ_REPLICA_INSTANCE*: A Cloud SQL instance configured as a read-replica."
          enum:
            - SQL_INSTANCE_TYPE_UNSPECIFIED
            - CLOUD_SQL_INSTANCE
            - ON_PREMISES_INSTANCE
            - READ_REPLICA_INSTANCE
          type: string
        ipAddresses:
          description: The assigned IP addresses for the instance.
          items:
            $ref: "#/components/schemas/IpMapping"
          type: array
        ipv6Address:
          description: The IPv6 address assigned to the instance. (Deprecated) This property was applicable only to First Generation instances.
          type: string
        kind:
          description: This is always *sql#instance*.
          type: string
        masterInstanceName:
          description: The name of the instance which will act as master in the replication setup.
          type: string
        maxDiskSize:
          description: The maximum disk size of the instance in bytes.
          format: int64
          type: string
        name:
          description: Name of the Cloud SQL instance. This does not include the project ID.
          type: string
        onPremisesConfiguration:
          $ref: "#/components/schemas/OnPremisesConfiguration"
          description: Configuration specific to on-premises instances.
        project:
          description: The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.
          type: string
        region:
          description: The geographical region. Can be *us-central* (*FIRST_GEN* instances only) *us-central1* (*SECOND_GEN* instances only) *asia-east1* or *europe-west1*. Defaults to *us-central* or *us-central1* depending on the instance type. The region cannot be changed after instance creation.
          type: string
        replicaConfiguration:
          $ref: "#/components/schemas/ReplicaConfiguration"
          description: Configuration specific to failover replicas and read replicas.
        replicaNames:
          description: The replicas of the instance.
          items:
            type: string
          type: array
        rootPassword:
          description: Initial root password. Use only on creation.
          type: string
        scheduledMaintenance:
          $ref: "#/components/schemas/SqlScheduledMaintenance"
          description: The start time of any upcoming scheduled maintenance for this instance.
        selfLink:
          description: The URI of this resource.
          type: string
        serverCaCert:
          $ref: "#/components/schemas/SslCert"
          description: SSL configuration.
        serviceAccountEmailAddress:
          description: The service account email address assigned to the instance. This property is applicable only to Second Generation instances.
          type: string
        settings:
          $ref: "#/components/schemas/Settings"
          description: The user settings.
        state:
          description: "The current serving state of the Cloud SQL instance. This can be one of the following. *RUNNABLE*: The instance is running, or is ready to run when accessed. *SUSPENDED*: The instance is not available, for example due to problems with billing. *PENDING_CREATE*: The instance is being created. *MAINTENANCE*: The instance is down for maintenance. *FAILED*: The instance creation failed. *UNKNOWN_STATE*: The state of the instance is unknown."
          enum:
            - SQL_INSTANCE_STATE_UNSPECIFIED
            - RUNNABLE
            - SUSPENDED
            - PENDING_DELETE
            - PENDING_CREATE
            - MAINTENANCE
            - FAILED
          type: string
        suspensionReason:
          description: If the instance state is SUSPENDED, the reason for the suspension.
          items:
            enum:
              - SQL_SUSPENSION_REASON_UNSPECIFIED
              - BILLING_ISSUE
              - LEGAL_ISSUE
              - OPERATIONAL_ISSUE
              - KMS_KEY_ISSUE
            type: string
          type: array
      type: object
    DatabasesListResponse:
      description: Database list response.
      properties:
        items:
[...]
