swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /sql/v1beta4
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Creates and configures Cloud SQL instances, which provide fully-managed MySQL databases.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud SQL Administration
  version: v1beta4
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://cloud.google.com/_static/images/new-gcp-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/sqladmin/v1beta4/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: sqladmin
externalDocs:
  url: 'https://cloud.google.com/sql/docs/reference/latest'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/sqlservice.admin': Manage your Google SQL Service instances
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/sqlservice.admin': Manage your Google SQL Service instances
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: backupRuns
  - name: databases
  - name: flags
  - name: instances
  - name: operations
  - name: sslCerts
  - name: tiers
  - name: users
paths:
  /flags:
    get:
      description: List all available database flags for Google Cloud SQL instances.
      operationId: sql.flags.list
      parameters:
        - description: Database version for flag retrieval. Flags are specific to the database version.
          in: query
          name: databaseVersion
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/FlagsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - flags
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/projects/{project}/instances':
    get:
      description: Lists instances under a given project in the alphabetical order of the instance name.
      operationId: sql.instances.list
      parameters:
        - description: 'An expression for filtering the results of the request, such as by name or label.'
          in: query
          name: filter
          type: string
        - description: The maximum number of results to return per response.
          in: query
          name: maxResults
          type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          type: string
        - description: Project ID of the project for which to list Cloud SQL instances.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/InstancesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new Cloud SQL instance.
      operationId: sql.instances.insert
      parameters:
        - description: Project ID of the project to which the newly created Cloud SQL instances should belong.
          in: path
          name: project
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DatabaseInstance'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}':
    delete:
      description: Deletes a Cloud SQL instance.
      operationId: sql.instances.delete
      parameters:
        - description: Project ID of the project that contains the instance to be deleted.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
    get:
      description: Retrieves a resource containing information about a Cloud SQL instance.
      operationId: sql.instances.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatabaseInstance'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: 'Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.. This method supports patch semantics.'
      operationId: sql.instances.patch
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DatabaseInstance'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
    put:
      description: 'Updates settings of a Cloud SQL instance. Caution: This is not a partial update, so you must include values for all the settings that you want to retain. For partial updates, use patch.'
      operationId: sql.instances.update
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/DatabaseInstance'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/backupRuns':
    get:
      description: Lists all backup runs associated with a given instance and configuration in the reverse chronological order of the enqueued time.
      operationId: sql.backupRuns.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: Maximum number of backup runs per response.
          in: query
          name: maxResults
          type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BackupRunsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - backupRuns
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new backup run on demand. This method is applicable only to Second Generation instances.
      operationId: sql.backupRuns.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BackupRun'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - backupRuns
  '/projects/{project}/instances/{instance}/backupRuns/{id}':
    delete:
      description: Deletes the backup taken by a backup run.
      operationId: sql.backupRuns.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: 'The ID of the Backup Run to delete. To find a Backup Run ID, use the list method.'
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - backupRuns
    get:
      description: Retrieves a resource containing information about a backup run.
      operationId: sql.backupRuns.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: The ID of this Backup Run.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BackupRun'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - backupRuns
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/projects/{project}/instances/{instance}/clone':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a Cloud SQL instance as a clone of the source instance. The API is not ready for Second Generation instances yet.
      operationId: sql.instances.clone
      parameters:
        - description: Project ID of the source as well as the clone Cloud SQL instance.
          in: path
          name: project
          required: true
          type: string
        - description: The ID of the Cloud SQL instance to be cloned (source). This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InstancesCloneRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/createEphemeral':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Generates a short-lived X509 certificate containing the provided public key and signed by a private key specific to the target instance. Users may use the certificate to authenticate as themselves when connecting to the database.
      operationId: sql.sslCerts.createEphemeral
      parameters:
        - description: Project ID of the Cloud SQL project.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SslCertsCreateEphemeralRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SslCert'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - sslCerts
  '/projects/{project}/instances/{instance}/databases':
    get:
      description: Lists databases in the specified Cloud SQL instance.
      operationId: sql.databases.list
      parameters:
        - description: Project ID of the project for which to list Cloud SQL instances.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/DatabasesListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - databases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Inserts a resource containing information about a database inside a Cloud SQL instance.
      operationId: sql.databases.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Database'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - databases
  '/projects/{project}/instances/{instance}/databases/{database}':
    delete:
      description: Deletes a database from a Cloud SQL instance.
      operationId: sql.databases.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: Name of the database to be deleted in the instance.
          in: path
          name: database
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - databases
    get:
      description: Retrieves a resource containing information about a database inside a Cloud SQL instance.
      operationId: sql.databases.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: Name of the database in the instance.
          in: path
          name: database
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Database'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - databases
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a resource containing information about a database inside a Cloud SQL instance. This method supports patch semantics.
      operationId: sql.databases.patch
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: Name of the database to be updated in the instance.
          in: path
          name: database
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Database'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - databases
    put:
      description: Updates a resource containing information about a database inside a Cloud SQL instance.
      operationId: sql.databases.update
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: Name of the database to be updated in the instance.
          in: path
          name: database
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Database'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - databases
  '/projects/{project}/instances/{instance}/export':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Exports data from a Cloud SQL instance to a Google Cloud Storage bucket as a MySQL dump file.
      operationId: sql.instances.export
      parameters:
        - description: Project ID of the project that contains the instance to be exported.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InstancesExportRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/failover':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Failover the instance to its failover replica instance.
      operationId: sql.instances.failover
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InstancesFailoverRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/import':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Imports data into a Cloud SQL instance from a MySQL dump file in Google Cloud Storage.
      operationId: sql.instances.import
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InstancesImportRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/promoteReplica':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Promotes the read replica instance to be a stand-alone Cloud SQL instance.
      operationId: sql.instances.promoteReplica
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/resetSslConfig':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Deletes all client certificates and generates a new server SSL certificate for the instance. The changes will not take effect until the instance is restarted. Existing instances without a server certificate will need to call this once to set a server certificate.
      operationId: sql.instances.resetSslConfig
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/restart':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Restarts a Cloud SQL instance.
      operationId: sql.instances.restart
      parameters:
        - description: Project ID of the project that contains the instance to be restarted.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/restoreBackup':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Restores a backup of a Cloud SQL instance.
      operationId: sql.instances.restoreBackup
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InstancesRestoreBackupRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/sslCerts':
    get:
      description: Lists all of the current SSL certificates for the instance.
      operationId: sql.sslCerts.list
      parameters:
        - description: Project ID of the project for which to list Cloud SQL instances.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SslCertsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - sslCerts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates an SSL certificate and returns it along with the private key and server certificate authority. The new certificate will not be usable until the instance is restarted.
      operationId: sql.sslCerts.insert
      parameters:
        - description: Project ID of the project to which the newly created Cloud SQL instances should belong.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SslCertsInsertRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SslCertsInsertResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - sslCerts
  '/projects/{project}/instances/{instance}/sslCerts/{sha1Fingerprint}':
    delete:
      description: Deletes the SSL certificate. The change will not take effect until the instance is restarted.
      operationId: sql.sslCerts.delete
      parameters:
        - description: Project ID of the project that contains the instance to be deleted.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: Sha1 FingerPrint.
          in: path
          name: sha1Fingerprint
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - sslCerts
    get:
      description: Retrieves a particular SSL certificate. Does not include the private key (required for usage). The private key must be saved from the response to initial creation.
      operationId: sql.sslCerts.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: Sha1 FingerPrint.
          in: path
          name: sha1Fingerprint
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SslCert'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - sslCerts
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/projects/{project}/instances/{instance}/startReplica':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Starts the replication in the read replica instance.
      operationId: sql.instances.startReplica
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/stopReplica':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Stops the replication in the read replica instance.
      operationId: sql.instances.stopReplica
      parameters:
        - description: ID of the project that contains the read replica.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL read replica instance name.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/truncateLog':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Truncate MySQL general and slow query log tables
      operationId: sql.instances.truncateLog
      parameters:
        - description: Project ID of the Cloud SQL project.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/InstancesTruncateLogRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - instances
  '/projects/{project}/instances/{instance}/users':
    delete:
      description: Deletes a user from a Cloud SQL instance.
      operationId: sql.users.delete
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: Host of the user in the instance.
          in: query
          name: host
          required: true
          type: string
        - description: Name of the user in the instance.
          in: query
          name: name
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - users
    get:
      description: Lists users in the specified Cloud SQL instance.
      operationId: sql.users.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/UsersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - users
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new user in a Cloud SQL instance.
      operationId: sql.users.insert
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - users
    put:
      description: Updates an existing user in a Cloud SQL instance.
      operationId: sql.users.update
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Database instance ID. This does not include the project ID.
          in: path
          name: instance
          required: true
          type: string
        - description: Host of the user in the instance.
          in: query
          name: host
          required: true
          type: string
        - description: Name of the user in the instance.
          in: query
          name: name
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/User'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - users
  '/projects/{project}/operations':
    get:
      description: Lists all instance operations that have been performed on the given Cloud SQL instance in the reverse chronological order of the start time.
      operationId: sql.operations.list
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Cloud SQL instance ID. This does not include the project ID.
          in: query
          name: instance
          required: true
          type: string
        - description: Maximum number of operations per response.
          in: query
          name: maxResults
          type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/OperationsListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/projects/{project}/operations/{operation}':
    get:
      description: Retrieves an instance operation that has been performed on an instance.
      operationId: sql.operations.get
      parameters:
        - description: Project ID of the project that contains the instance.
          in: path
          name: project
          required: true
          type: string
        - description: Instance operation ID.
          in: path
          name: operation
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - operations
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/projects/{project}/tiers':
    get:
      description: 'Lists all available service tiers for Google Cloud SQL, for example D1, D2. For related information, see Pricing.'
      operationId: sql.tiers.list
      parameters:
        - description: Project ID of the project for which to list tiers.
          in: path
          name: project
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TiersListResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
          Oauth2c:
            - 'https://www.googleapis.com/auth/sqlservice.admin'
      tags:
        - tiers
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
definitions:
  AclEntry:
    description: An entry for an Access Control list.
    properties:
      expirationTime:
        description: 'The time when this access control entry expires in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: date-time
        type: string
      kind:
        default: 'sql#aclEntry'
        description: 'This is always sql#aclEntry.'
        type: string
      name:
        description: An optional label to identify this entry.
        type: string
      value:
        description: The whitelisted value for the access control list.
        type: string
    type: object
  BackupConfiguration:
    description: Database instance backup configuration.
    properties:
      binaryLogEnabled:
        description: 'Whether binary log is enabled. If backup configuration is disabled, binary log must be disabled as well.'
        type: boolean
      enabled:
        description: Whether this configuration is enabled.
        type: boolean
      kind:
        default: 'sql#backupConfiguration'
        description: 'This is always sql#backupConfiguration.'
        type: string
      startTime:
        description: 'Start time for the daily backup configuration in UTC timezone in the 24 hour format - HH:MM.'
        type: string
    type: object
  BackupRun:
    description: A database instance backup run resource.
    properties:
      description:
        description: 'The description of this run, only applicable to on-demand backups.'
        type: string
      endTime:
        description: 'The time the backup operation completed in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: date-time
        type: string
      enqueuedTime:
        description: 'The time the run was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: date-time
        type: string
      error:
        $ref: '#/definitions/OperationError'
        description: Information about why the backup operation failed. This is only present if the run has the FAILED status.
      id:
        description: A unique identifier for this backup run. Note that this is unique only within the scope of a particular Cloud SQL instance.
        format: int64
        type: string
      instance:
        description: Name of the database instance.
        type: string
      kind:
        default: 'sql#backupRun'
        description: 'This is always sql#backupRun.'
        type: string
      selfLink:
        description: The URI of this resource.
        type: string
      startTime:
        description: 'The time the backup operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: date-time
        type: string
      status:
        description: The status of this run.
        type: string
      type:
        description: The type of this run; can be either "AUTOMATED" or "ON_DEMAND".
        type: string
      windowStartTime:
        description: 'The start time of the backup window during which this the backup was attempted in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: date-time
        type: string
    type: object
  BackupRunsListResponse:
    description: Backup run list results.
    properties:
      items:
        description: A list of backup runs in reverse chronological order of the enqueued time.
        items:
          $ref: '#/definitions/BackupRun'
        type: array
      kind:
        default: 'sql#backupRunsList'
        description: 'This is always sql#backupRunsList.'
        type: string
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
    type: object
  BinLogCoordinates:
    description: Binary log coordinates.
    properties:
      binLogFileName:
        description: Name of the binary log file for a Cloud SQL instance.
        type: string
      binLogPosition:
        description: Position (offset) within the binary log file.
        format: int64
        type: string
      kind:
        default: 'sql#binLogCoordinates'
        description: 'This is always sql#binLogCoordinates.'
        type: string
    type: object
  CloneContext:
    description: Database instance clone context.
    properties:
      binLogCoordinates:
        $ref: '#/definitions/BinLogCoordinates'
        description: 'Binary log coordinates, if specified, indentify the the position up to which the source instance should be cloned. If not specified, the source instance is cloned up to the most recent binary log coordintes.'
      destinationInstanceName:
        description: Name of the Cloud SQL instance to be created as a clone.
        type: string
      kind:
        default: 'sql#cloneContext'
        description: 'This is always sql#cloneContext.'
        type: string
    type: object
  Database:
    description: A database resource inside a Cloud SQL instance.
    properties:
      charset:
        description: The MySQL charset value.
        type: string
      collation:
        description: The MySQL collation value.
        type: string
      etag:
        description: HTTP 1.1 Entity tag for the resource.
        type: string
      instance:
        description: The name of the Cloud SQL instance. This does not include the project ID.
        type: string
      kind:
        default: 'sql#database'
        description: 'This is always sql#database.'
        type: string
      name:
        description: The name of the database in the Cloud SQL instance. This does not include the project ID or instance name.
        type: string
      project:
        description: The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable.
        type: string
      selfLink:
        description: The URI of this resource.
        type: string
    type: object
  DatabaseFlags:
    description: MySQL flags for Cloud SQL instances.
    properties:
      name:
        description: 'The name of the flag. These flags are passed at instance startup, so include both MySQL server options and MySQL system variables. Flags should be specified with underscores, not hyphens. For more information, see Configuring MySQL Flags in the Google Cloud SQL documentation, as well as the official MySQL documentation for server options and system variables.'
        type: string
      value:
        description: The value of the flag. Booleans should be set to on for true and off for false. This field must be omitted if the flag doesn't take a value.
        type: string
    type: object
  DatabaseInstance:
    description: A Cloud SQL instance resource.
    properties:
      backendType:
        description: |-
          FIRST_GEN: Basic Cloud SQL instance that runs in a Google-managed container.
          SECOND_GEN: A newer Cloud SQL backend that runs in a Compute Engine VM.
          EXTERNAL: A MySQL server that is not managed by Google.
        type: string
      connectionName:
        description: Connection name of the Cloud SQL instance used in connection strings.
        type: string
      currentDiskSize:
        description: 'The current disk usage of the instance in bytes. This property has been deprecated. Users should use the "cloudsql.googleapis.com/database/disk/bytes_used" metric in Cloud Monitoring API instead. Please see https://groups.google.com/d/msg/google-cloud-sql-announce/I_7-F9EBhT0/BtvFtdFeAgAJ for details.'
        format: int64
        type: string
      databaseVersion:
        description: 'The database engine type and version. The databaseVersion field can not be changed after instance creation. MySQL Second Generation instances: MYSQL_5_7 (default) or MYSQL_5_6. PostgreSQL instances: POSTGRES_9_6 MySQL First Generation instances: MYSQL_5_6 (default) or MYSQL_5_5'
        type: string
      etag:
        description: HTTP 1.1 Entity tag for the resource.
        type: string
      failoverReplica:
        description: The name and status of the failover replica. This property is applicable only to Second Generation instances.
        properties:
          available:
            description: The availability status of the failover replica. A false status indicates that the failover replica is out of sync. The master can only failover to the falover replica when the status is true.
            type: boolean
          name:
            description: 'The name of the failover replica. If specified at instance creation, a failover replica is created for the instance. The name doesn''t include the project ID. This property is applicable only to Second Generation instances.'
            type: string
        type: object
      gceZone:
        description: 'The GCE zone that the instance is serving from. In case when the instance is failed over to standby zone, this value may be different with what user specified in the settings.'
        type: string
      instanceType:
        description: |-
          The instance type. This can be one of the following.
          CLOUD_SQL_INSTANCE: A Cloud SQL instance that is not replicating from a master.
          ON_PREMISES_INSTANCE: An instance running on the customer's premises.
          READ_REPLICA_INSTANCE: A Cloud SQL instance configured as a read-replica.
        type: string
      ipAddresses:
        description: The assigned IP addresses for the instance.
        items:
          $ref: '#/definitions/IpMapping'
        type: array
      ipv6Address:
        description: The IPv6 address assigned to the instance. This property is applicable only to First Generation instances.
        type: string
      kind:
        default: 'sql#instance'
        description: 'This is always sql#instance.'
        type: string
      masterInstanceName:
        description: The name of the instance which will act as master in the replication setup.
        type: string
      maxDiskSize:
        description: The maximum disk size of the instance in bytes.
        format: int64
        type: string
      name:
        description: Name of the Cloud SQL instance. This does not include the project ID.
        type: string
      onPremisesConfiguration:
        $ref: '#/definitions/OnPremisesConfiguration'
        description: Configuration specific to on-premises instances.
      project:
        description: The project ID of the project containing the Cloud SQL instance. The Google apps domain is prefixed if applicable.
        type: string
      region:
        description: 'The geographical region. Can be us-central (FIRST_GEN instances only), us-central1 (SECOND_GEN instances only), asia-east1 or europe-west1. Defaults to us-central or us-central1 depending on the instance type (First Generation or Second Generation). The region can not be changed after instance creation.'
        type: string
      replicaConfiguration:
        $ref: '#/definitions/ReplicaConfiguration'
        description: Configuration specific to read-replicas replicating from on-premises masters.
      replicaNames:
        description: The replicas of the instance.
        items:
          type: string
        type: array
      selfLink:
        description: The URI of this resource.
        type: string
      serverCaCert:
        $ref: '#/definitions/SslCert'
        description: SSL configuration.
      serviceAccountEmailAddress:
        description: The service account email address assigned to the instance. This property is applicable only to Second Generation instances.
        type: string
      settings:
        $ref: '#/definitions/Settings'
        description: The user settings.
      state:
        description: |-
          The current serving state of the Cloud SQL instance. This can be one of the following.
          RUNNABLE: The instance is running, or is ready to run when accessed.
          SUSPENDED: The instance is not available, for example due to problems with billing.
          PENDING_CREATE: The instance is being created.
          MAINTENANCE: The instance is down for maintenance.
          FAILED: The instance creation failed.
          UNKNOWN_STATE: The state of the instance is unknown.
        type: string
      suspensionReason:
        description: 'If the instance state is SUSPENDED, the reason for the suspension.'
        items:
          type: string
        type: array
    type: object
  DatabasesListResponse:
    description: Database list response.
    properties:
      items:
        description: List of database resources in the instance.
        items:
          $ref: '#/definitions/Database'
        type: array
      kind:
        default: 'sql#databasesList'
        description: 'This is always sql#databasesList.'
        type: string
    type: object
  ExportContext:
    description: Database instance export context.
    properties:
      csvExportOptions:
        description: Options for exporting data as CSV.
        properties:
          selectQuery:
            description: The select query used to extract the data.
            type: string
        type: object
      databases:
        description: 'Databases (for example, guestbook) from which the export is made. If fileType is SQL and no database is specified, all databases are exported. If fileType is CSV, you can optionally specify at most one database to export. If csvExportOptions.selectQuery also specifies the database, this field will be ignored.'
        items:
          type: string
        type: array
      fileType:
        description: |-
          The file type for the specified uri.
          SQL: The file contains SQL statements.
          CSV: The file contains CSV data.
        type: string
      kind:
        default: 'sql#exportContext'
        description: 'This is always sql#exportContext.'
        type: string
      sqlExportOptions:
        description: Options for exporting data as SQL statements.
        properties:
          schemaOnly:
            description: Export only schemas.
            type: boolean
          tables:
            description: 'Tables to export, or that were exported, from the specified database. If you specify tables, specify one and only one database.'
            items:
              type: string
            type: array
        type: object
      uri:
        description: 'The path to the file in Google Cloud Storage where the export will be stored. The URI is in the form gs://bucketName/fileName. If the file already exists, the operation fails. If fileType is SQL and the filename ends with .gz, the contents are compressed.'
        type: string
    type: object
  FailoverContext:
    description: Database instance failover context.
    properties:
      kind:
        default: 'sql#failoverContext'
        description: 'This is always sql#failoverContext.'
        type: string
      settingsVersion:
        description: The current settings version of this instance. Request will be rejected if this version doesn't match the current settings version.
        format: int64
        type: string
    type: object
  Flag:
    description: A Google Cloud SQL service flag resource.
    properties:
      allowedStringValues:
        description: 'For STRING flags, a list of strings that the value can be set to.'
        items:
          type: string
        type: array
      appliesTo:
        description: 'The database version this flag applies to. Can be MYSQL_5_5, MYSQL_5_6, or MYSQL_5_7. MYSQL_5_7 is applicable only to Second Generation instances.'
        items:
          type: string
        type: array
      kind:
        default: 'sql#flag'
        description: 'This is always sql#flag.'
        type: string
      maxValue:
        description: 'For INTEGER flags, the maximum allowed value.'
        format: int64
        type: string
      minValue:
        description: 'For INTEGER flags, the minimum allowed value.'
        format: int64
        type: string
      name:
        description: 'This is the name of the flag. Flag names always use underscores, not hyphens, e.g. max_allowed_packet'
        type: string
      requiresRestart:
        description: Indicates whether changing this flag will trigger a database restart. Only applicable to Second Generation instances.
        type: boolean
      type:
        description: 'The type of the flag. Flags are typed to being BOOLEAN, STRING, INTEGER or NONE. NONE is used for flags which do not take a value, such as skip_grant_tables.'
        type: string
    type: object
  FlagsListResponse:
    description: Flags list response.
    properties:
      items:
        description: List of flags.
        items:
          $ref: '#/definitions/Flag'
        type: array
      kind:
        default: 'sql#flagsList'
        description: 'This is always sql#flagsList.'
        type: string
    type: object
  ImportContext:
    description: Database instance import context.
    properties:
      csvImportOptions:
        description: Options for importing data as CSV.
        properties:
          columns:
            description: 'The columns to which CSV data is imported. If not specified, all columns of the database table are loaded with CSV data.'
            items:
              type: string
            type: array
          table:
            description: The table to which CSV data is imported.
            type: string
        type: object
      database:
        description: 'The database (for example, guestbook) to which the import is made. If fileType is SQL and no database is specified, it is assumed that the database is specified in the file to be imported. If fileType is CSV, it must be specified.'
        type: string
      fileType:
        description: |-
          The file type for the specified uri.
          SQL: The file contains SQL statements.
          CSV: The file contains CSV data.
        type: string
      importUser:
        description: The PostgreSQL user for this import operation. Defaults to cloudsqlsuperuser. Used only for PostgreSQL instances.
        type: string
      kind:
        default: 'sql#importContext'
        description: 'This is always sql#importContext.'
        type: string
      uri:
        description: 'A path to the file in Google Cloud Storage from which the import is made. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are supported when fileType is SQL.'
        type: string
    type: object
  InstancesCloneRequest:
    description: Database instance clone request.
    properties:
      cloneContext:
        $ref: '#/definitions/CloneContext'
        description: Contains details about the clone operation.
    type: object
  InstancesExportRequest:
    description: Database instance export request.
    properties:
      exportContext:
        $ref: '#/definitions/ExportContext'
        description: Contains details about the export operation.
    type: object
  InstancesFailoverRequest:
    description: Instance failover request.
    properties:
      failoverContext:
        $ref: '#/definitions/FailoverContext'
        description: Failover Context.
    type: object
  InstancesImportRequest:
    description: Database instance import request.
    properties:
      importContext:
        $ref: '#/definitions/ImportContext'
        description: Contains details about the import operation.
    type: object
  InstancesListResponse:
    description: Database instances list response.
    properties:
      items:
        description: List of database instance resources.
        items:
          $ref: '#/definitions/DatabaseInstance'
        type: array
      kind:
        default: 'sql#instancesList'
        description: 'This is always sql#instancesList.'
        type: string
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
    type: object
  InstancesRestoreBackupRequest:
    description: Database instance restore backup request.
    properties:
      restoreBackupContext:
        $ref: '#/definitions/RestoreBackupContext'
        description: Parameters required to perform the restore backup operation.
    type: object
  InstancesTruncateLogRequest:
    description: Instance truncate log request.
    properties:
      truncateLogContext:
        $ref: '#/definitions/TruncateLogContext'
        description: Contains details about the truncate log operation.
    type: object
  IpConfiguration:
    description: IP Management configuration.
    properties:
      authorizedNetworks:
        description: 'The list of external networks that are allowed to connect to the instance using the IP. In CIDR notation, also known as ''slash'' notation (e.g. 192.168.100.0/24).'
        items:
          $ref: '#/definitions/AclEntry'
        type: array
      ipv4Enabled:
        description: Whether the instance should be assigned an IP address or not.
        type: boolean
      requireSsl:
        description: Whether SSL connections over IP should be enforced or not.
        type: boolean
    type: object
  IpMapping:
    description: Database instance IP Mapping.
    properties:
      ipAddress:
        description: The IP address assigned.
        type: string
      timeToRetire:
        description: 'The due time for this IP to be retired in RFC 3339 format, for example 2012-11-15T16:19:00.094Z. This field is only available when the IP is scheduled to be retired.'
        format: date-time
        type: string
      type:
        description: 'The type of this IP address. A PRIMARY address is an address that can accept incoming connections. An OUTGOING address is the source address of connections originating from the instance, if supported.'
        type: string
    type: object
  LocationPreference:
    description: 'Preferred location. This specifies where a Cloud SQL instance should preferably be located, either in a specific Compute Engine zone, or co-located with an App Engine application. Note that if the preferred location is not available, the instance will be located as close as possible within the region. Only one location may be specified.'
    properties:
      followGaeApplication:
        description: 'The AppEngine application to follow, it must be in the same region as the Cloud SQL instance.'
        type: string
      kind:
        default: 'sql#locationPreference'
        description: 'This is always sql#locationPreference.'
        type: string
      zone:
        description: 'The preferred Compute Engine zone (e.g. us-centra1-a, us-central1-b, etc.).'
        type: string
    type: object
  MaintenanceWindow:
    description: Maintenance window. This specifies when a v2 Cloud SQL instance should preferably be restarted for system maintenance puruposes.
    properties:
      day:
        description: 'day of week (1-7), starting on Monday.'
        format: int32
        type: integer
      hour:
        description: hour of day - 0 to 23.
        format: int32
        type: integer
      kind:
        default: 'sql#maintenanceWindow'
        description: 'This is always sql#maintenanceWindow.'
        type: string
      updateTrack:
        type: string
    type: object
  MySqlReplicaConfiguration:
    description: Read-replica configuration specific to MySQL databases.
    properties:
      caCertificate:
        description: PEM representation of the trusted CA's x509 certificate.
        type: string
      clientCertificate:
        description: PEM representation of the slave's x509 certificate.
        type: string
      clientKey:
        description: PEM representation of the slave's private key. The corresponsing public key is encoded in the client's certificate.
        type: string
      connectRetryInterval:
        description: Seconds to wait between connect retries. MySQL's default is 60 seconds.
        format: int32
        type: integer
      dumpFilePath:
        description: 'Path to a SQL dump file in Google Cloud Storage from which the slave instance is to be created. The URI is in the form gs://bucketName/fileName. Compressed gzip files (.gz) are also supported. Dumps should have the binlog co-ordinates from which replication should begin. This can be accomplished by setting --master-data to 1 when using mysqldump.'
        type: string
      kind:
        default: 'sql#mysqlReplicaConfiguration'
        description: 'This is always sql#mysqlReplicaConfiguration.'
        type: string
      masterHeartbeatPeriod:
        description: Interval in milliseconds between replication heartbeats.
        format: int64
        type: string
      password:
        description: The password for the replication connection.
        type: string
      sslCipher:
        description: A list of permissible ciphers to use for SSL encryption.
        type: string
      username:
        description: The username for the replication connection.
        type: string
      verifyServerCertificate:
        description: Whether or not to check the master's Common Name value in the certificate that it sends during the SSL handshake.
        type: boolean
    type: object
  OnPremisesConfiguration:
    description: On-premises instance configuration.
    properties:
      hostPort:
        description: 'The host and port of the on-premises instance in host:port format'
        type: string
      kind:
        default: 'sql#onPremisesConfiguration'
        description: 'This is always sql#onPremisesConfiguration.'
        type: string
    type: object
  Operation:
    description: 'An Operations resource contains information about database instance operations such as create, delete, and restart. Operations resources are created in response to operations that were initiated; you never create them directly.'
    properties:
      endTime:
        description: 'The time this operation finished in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: date-time
        type: string
      error:
        $ref: '#/definitions/OperationErrors'
        description: 'If errors occurred during processing of this operation, this field will be populated.'
      exportContext:
        $ref: '#/definitions/ExportContext'
        description: 'The context for export operation, if applicable.'
      importContext:
        $ref: '#/definitions/ImportContext'
        description: 'The context for import operation, if applicable.'
      insertTime:
        description: 'The time this operation was enqueued in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: date-time
        type: string
      kind:
        default: 'sql#operation'
        description: 'This is always sql#operation.'
        type: string
      name:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
      operationType:
        description: 'The type of the operation. Valid values are CREATE, DELETE, UPDATE, RESTART, IMPORT, EXPORT, BACKUP_VOLUME, RESTORE_VOLUME, CREATE_USER, DELETE_USER, CREATE_DATABASE, DELETE_DATABASE .'
        type: string
      selfLink:
        description: The URI of this resource.
        type: string
      startTime:
        description: 'The time this operation actually started in UTC timezone in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: date-time
        type: string
      status:
        description: 'The status of an operation. Valid values are PENDING, RUNNING, DONE, UNKNOWN.'
        type: string
      targetId:
        description: Name of the database instance related to this operation.
        type: string
      targetLink:
        type: string
      targetProject:
        description: The project ID of the target instance related to this operation.
        type: string
      user:
        description: The email address of the user who initiated this operation.
        type: string
    type: object
  OperationError:
    description: Database instance operation error.
    properties:
      code:
        description: Identifies the specific error that occurred.
        type: string
      kind:
        default: 'sql#operationError'
        description: 'This is always sql#operationError.'
        type: string
      message:
        description: Additional information about the error encountered.
        type: string
    type: object
  OperationErrors:
    description: Database instance operation errors list wrapper.
    properties:
      errors:
        description: The list of errors encountered while processing this operation.
        items:
          $ref: '#/definitions/OperationError'
        type: array
      kind:
        default: 'sql#operationErrors'
        description: 'This is always sql#operationErrors.'
        type: string
    type: object
  OperationsListResponse:
    description: Database instance list operations response.
    properties:
      items:
        description: List of operation resources.
        items:
          $ref: '#/definitions/Operation'
        type: array
      kind:
        default: 'sql#operationsList'
        description: 'This is always sql#operationsList.'
        type: string
      nextPageToken:
        description: 'The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results.'
        type: string
    type: object
  ReplicaConfiguration:
    description: Read-replica configuration for connecting to the master.
    properties:
      failoverTarget:
        description: |-
          Specifies if the replica is the failover target. If the field is set to true the replica will be designated as a failover replica. In case the master instance fails, the replica instance will be promoted as the new master instance.
          Only one replica can be specified as failover target, and the replica has to be in different zone with the master instance.
        type: boolean
      kind:
        default: 'sql#replicaConfiguration'
        description: 'This is always sql#replicaConfiguration.'
        type: string
      mysqlReplicaConfiguration:
        $ref: '#/definitions/MySqlReplicaConfiguration'
        description: 'MySQL specific configuration when replicating from a MySQL on-premises master. Replication configuration information such as the username, password, certificates, and keys are not stored in the instance metadata. The configuration information is used only to set up the replication connection and is stored by MySQL in a file named master.info in the data directory.'
    type: object
  RestoreBackupContext:
    description: Database instance restore from backup context.
    properties:
      backupRunId:
        description: The ID of the backup run to restore from.
        format: int64
        type: string
      instanceId:
        description: The ID of the instance that the backup was taken from.
        type: string
      kind:
        default: 'sql#restoreBackupContext'
        description: 'This is always sql#restoreBackupContext.'
        type: string
    type: object
  Settings:
    description: Database instance settings.
    properties:
      activationPolicy:
        description: |-
          The activation policy specifies when the instance is activated; it is applicable only when the instance state is RUNNABLE. The activation policy cannot be updated together with other settings for Second Generation instances. Valid values:
          ALWAYS: The instance is on; it is not deactivated by inactivity.
          NEVER: The instance is off; it is not activated, even if a connection request arrives.
          ON_DEMAND: The instance responds to incoming requests, and turns itself off when not in use. Instances with PER_USE pricing turn off after 15 minutes of inactivity. Instances with PER_PACKAGE pricing turn off after 12 hours of inactivity.
        type: string
      authorizedGaeApplications:
        description: The App Engine app IDs that can access this instance. This property is only applicable to First Generation instances.
        items:
          type: string
        type: array
      availabilityType:
        description: Reserved for future use.
        type: string
      backupConfiguration:
        $ref: '#/definitions/BackupConfiguration'
        description: The daily backup configuration for the instance.
      crashSafeReplicationEnabled:
        description: Configuration specific to read replica instances. Indicates whether database flags for crash-safe replication are enabled. This property is only applicable to First Generation instances.
        type: boolean
      dataDiskSizeGb:
        description: 'The size of data disk, in GB. The data disk size minimum is 10GB. Applies only to Second Generation instances.'
        format: int64
        type: string
      dataDiskType:
        description: The type of data disk. Only supported for Second Generation instances. The default type is PD_SSD. Applies only to Second Generation instances.
        type: string
      databaseFlags:
        description: The database flags passed to the instance at startup.
        items:
          $ref: '#/definitions/DatabaseFlags'
        type: array
      databaseReplicationEnabled:
        description: Configuration specific to read replica instances. Indicates whether replication is enabled or not.
        type: boolean
      ipConfiguration:
        $ref: '#/definitions/IpConfiguration'
        description: The settings for IP Management. This allows to enable or disable the instance IP and manage which external networks can connect to the instance. The IPv4 address cannot be disabled for Second Generation instances.
      kind:
        default: 'sql#settings'
        description: 'This is always sql#settings.'
        type: string
      locationPreference:
        $ref: '#/definitions/LocationPreference'
        description: The location preference settings. This allows the instance to be located as near as possible to either an App Engine app or GCE zone for better performance. App Engine co-location is only applicable to First Generation instances.
      maintenanceWindow:
        $ref: '#/definitions/MaintenanceWindow'
        description: The maintenance window for this instance. This specifies when the instance may be restarted for maintenance purposes. Applies only to Second Generation instances.
      pricingPlan:
        description: The pricing plan for this instance. This can be either PER_USE or PACKAGE. Only PER_USE is supported for Second Generation instances.
        type: string
      replicationType:
        description: The type of replication this instance uses. This can be either ASYNCHRONOUS or SYNCHRONOUS. This property is only applicable to First Generation instances.
        type: string
      settingsVersion:
        description: 'The version of instance settings. This is a required field for update method to make sure concurrent updates are handled properly. During update, use the most recent settingsVersion value for this instance and do not try to update this value.'
        format: int64
        type: string
      storageAutoResize:
        description: Configuration to increase storage size automatically. The default value is true. Applies only to Second Generation instances.
        type: boolean
      storageAutoResizeLimit:
        description: 'The maximum size to which storage capacity can be automatically increased. The default value is 0, which specifies that there is no limit. Applies only to Second Generation instances.'
        format: int64
        type: string
      tier:
        description: 'The tier of service for this instance, for example D1, D2. For more information, see pricing.'
        type: string
      userLabels:
        additionalProperties:
          description: 'An individual label entry, composed of a key and a value.'
          type: string
        description: 'User-provided labels, represented as a dictionary where each label is a single key value pair.'
        type: object
    type: object
  SslCert:
    description: SslCerts Resource
    properties:
      cert:
        description: PEM representation.
        type: string
      certSerialNumber:
        description: 'Serial number, as extracted from the certificate.'
        type: string
      commonName:
        description: 'User supplied name. Constrained to [a-zA-Z.-_ ]+.'
        type: string
      createTime:
        description: 'The time when the certificate was created in RFC 3339 format, for example 2012-11-15T16:19:00.094Z'
        format: date-time
        type: string
      expirationTime:
        description: 'The time when the certificate expires in RFC 3339 format, for example 2012-11-15T16:19:00.094Z.'
        format: date-time
        type: string
      instance:
        description: Name of the database instance.
        type: string
      kind:
        default: 'sql#sslCert'
        description: 'This is always sql#sslCert.'
        type: string
      selfLink:
        description: The URI of this resource.
        type: string
      sha1Fingerprint:
        description: Sha1 Fingerprint.
        type: string
    type: object
  SslCertDetail:
    description: SslCertDetail.
    properties:
      certInfo:
        $ref: '#/definitions/SslCert'
        description: The public information about the cert.
      certPrivateKey:
        description: 'The private key for the client cert, in pem format. Keep private in order to protect your security.'
        type: string
    type: object
  SslCertsCreateEphemeralRequest:
    description: SslCerts create ephemeral certificate request.
    properties:
      public_key:
        description: PEM encoded public key to include in the signed certificate.
        type: string
    type: object
  SslCertsInsertRequest:
    description: SslCerts insert request.
    properties:
      commonName:
        description: User supplied name. Must be a distinct name from the other certificates for this instance. New certificates will not be usable until the instance is restarted.
        type: string
    type: object
  SslCertsInsertResponse:
    description: SslCert insert response.
    properties:
      clientCert:
        $ref: '#/definitions/SslCertDetail'
        description: The new client certificate and private key. The new certificate will not work until the instance is restarted for First Generation instances.
      kind:
        default: 'sql#sslCertsInsert'
        description: 'This is always sql#sslCertsInsert.'
        type: string
      operation:
        $ref: '#/definitions/Operation'
        description: The operation to track the ssl certs insert request.
      serverCaCert:
        $ref: '#/definitions/SslCert'
        description: The server Certificate Authority's certificate. If this is missing you can force a new one to be generated by calling resetSslConfig method on instances resource.
    type: object
  SslCertsListResponse:
    description: SslCerts list response.
    properties:
      items:
        description: List of client certificates for the instance.
        items:
          $ref: '#/definitions/SslCert'
        type: array
      kind:
        default: 'sql#sslCertsList'
        description: 'This is always sql#sslCertsList.'
        type: string
    type: object
  Tier:
    description: A Google Cloud SQL service tier resource.
    properties:
      DiskQuota:
        description: The maximum disk size of this tier in bytes.
        format: int64
        type: string
      RAM:
        description: The maximum RAM usage of this tier in bytes.
        format: int64
        type: string
      kind:
        default: 'sql#tier'
        description: 'This is always sql#tier.'
        type: string
      region:
        description: The applicable regions for this tier.
        items:
          type: string
        type: array
      tier:
        description: 'An identifier for the service tier, for example D1, D2 etc. For related information, see Pricing.'
        type: string
    type: object
  TiersListResponse:
    description: Tiers list response.
    properties:
      items:
        description: List of tiers.
        items:
          $ref: '#/definitions/Tier'
        type: array
      kind:
        default: 'sql#tiersList'
        description: 'This is always sql#tiersList.'
        type: string
    type: object
  TruncateLogContext:
    description: Database Instance truncate log context.
    properties:
      kind:
        default: 'sql#truncateLogContext'
        description: 'This is always sql#truncateLogContext.'
        type: string
      logType:
        description: The type of log to truncate. Valid values are MYSQL_GENERAL_TABLE and MYSQL_SLOW_TABLE.
        type: string
    type: object
  User:
    description: A Cloud SQL user resource.
    properties:
      etag:
        description: HTTP 1.1 Entity tag for the resource.
        type: string
      host:
        description: 'The host name from which the user can connect. For insert operations, host defaults to an empty string. For update operations, host is specified as part of the request URL. The host name cannot be updated after insertion.'
        type: string
      instance:
        description: The name of the Cloud SQL instance. This does not include the project ID. Can be omitted for update since it is already specified on the URL.
        type: string
      kind:
        default: 'sql#user'
        description: 'This is always sql#user.'
        type: string
      name:
        description: The name of the user in the Cloud SQL instance. Can be omitted for update since it is already specified on the URL.
        type: string
      password:
        description: The password for the user.
        type: string
      project:
        description: The project ID of the project containing the Cloud SQL database. The Google apps domain is prefixed if applicable. Can be omitted for update since it is already specified on the URL.
        type: string
    type: object
  UsersListResponse:
    description: User list response.
    properties:
      items:
        description: List of user resources in the instance.
        items:
          $ref: '#/definitions/User'
        type: array
      kind:
        default: 'sql#usersList'
        description: 'This is always sql#usersList.'
        type: string
      nextPageToken:
        description: An identifier that uniquely identifies the operation. You can use this identifier to retrieve the Operations resource that has information about the operation.
        type: string
    type: object
