openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  description: Azure DevTest Labs REST API version 2015-05-21-preview.
  title: DevTestLabsClient
  version: 2015-05-21-preview
  x-apisguru-categories:
    - developer_tools
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-devtestlabs/2015-05-21-preview/swagger/DTL.json'
      version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: arm-devtestlabs
  x-tags:
    - Azure
    - Microsoft
    - virtual machines
    - testing
    - environments
security:
  - oauth2:
      - user_impersonation
paths:
  '/subscriptions/{subscriptionId}/providers/Microsoft.DevTestLab/labs':
    get:
      description: List labs.
      operationId: Lab_ListBySubscription
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs':
    get:
      description: List labs.
      operationId: Lab_ListByResourceGroup
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Lab_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/Lab'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources':
    get:
      description: List artifact sources.
      operationId: ArtifactSource_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_ArtifactSource_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_ArtifactSource_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/ArtifactSource'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts':
    get:
      description: List artifacts.
      operationId: Artifact_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Artifact_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Artifact_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Artifact
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/Artifact'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}':
    get:
      description: Get artifact.
      operationId: Artifact_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: The name of the artifact.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Artifact'
            text/json:
              schema:
                $ref: '#/components/schemas/Artifact'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Artifact
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{artifactSourceName}/artifacts/{name}/generateArmTemplate':
    post:
      description: 'Generates an ARM template for the given artifact, uploads the required files to a storage account, and validates the generated artifact.'
      operationId: Artifact_GenerateArmTemplate
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: artifactSourceName
          required: true
          schema:
            type: string
        - description: The name of the artifact.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
            text/json:
              schema:
                $ref: '#/components/schemas/ArmTemplateInfo'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Artifact
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/GenerateArmTemplateRequest'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/artifactsources/{name}':
    delete:
      description: Delete artifact source.
      operationId: ArtifactSource_DeleteResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
    get:
      description: Get artifact source.
      operationId: ArtifactSource_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
    patch:
      description: Modify properties of artifact sources.
      operationId: ArtifactSource_PatchResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
      requestBody:
        $ref: '#/components/requestBodies/ArtifactSource'
    put:
      description: Create or replace an existing artifact source.
      operationId: ArtifactSource_CreateOrUpdateResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the artifact source.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
            text/json:
              schema:
                $ref: '#/components/schemas/ArtifactSource'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - ArtifactSource
      requestBody:
        $ref: '#/components/requestBodies/ArtifactSource'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights':
    get:
      description: List cost insights.
      operationId: CostInsight_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_CostInsight_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_CostInsight_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CostInsight
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/CostInsight'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights/{name}':
    get:
      description: Get cost insight.
      operationId: CostInsight_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost insight.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CostInsight'
            text/json:
              schema:
                $ref: '#/components/schemas/CostInsight'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CostInsight
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costinsights/{name}/refreshData':
    post:
      description: Refresh Lab's Cost Insight Data. This operation can take a while to complete.
      operationId: CostInsight_RefreshData
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost insight.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CostInsight
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs':
    get:
      description: List costs.
      operationId: Cost_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Cost_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Cost_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Cost
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/Cost'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}':
    get:
      description: Get cost.
      operationId: Cost_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Cost'
            text/json:
              schema:
                $ref: '#/components/schemas/Cost'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Cost
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/costs/{name}/refreshData':
    post:
      description: Refresh Lab's Cost Data. This operation can take a while to complete.
      operationId: Cost_RefreshData
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the cost.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Cost
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages':
    get:
      description: List custom images.
      operationId: CustomImage_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_CustomImage_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_CustomImage_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CustomImage
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/CustomImage'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/customimages/{name}':
    delete:
      description: Delete custom image. This operation can take a while to complete.
      operationId: CustomImage_DeleteResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CustomImage
      x-ms-long-running-operation: true
    get:
      description: Get custom image.
      operationId: CustomImage_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CustomImage
    put:
      description: Create or replace an existing custom image. This operation can take a while to complete.
      operationId: CustomImage_CreateOrUpdateResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the custom image.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
            text/json:
              schema:
                $ref: '#/components/schemas/CustomImage'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - CustomImage
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
          text/json:
            schema:
              $ref: '#/components/schemas/CustomImage'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas':
    get:
      description: List formulas.
      operationId: Formula_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Formula_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Formula_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Formula
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/Formula'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/formulas/{name}':
    delete:
      description: Delete formula.
      operationId: Formula_DeleteResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Formula
    get:
      description: Get formula.
      operationId: Formula_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
            text/json:
              schema:
                $ref: '#/components/schemas/Formula'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Formula
    put:
      description: Create or replace an existing Formula. This operation can take a while to complete.
      operationId: Formula_CreateOrUpdateResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the formula.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
            text/json:
              schema:
                $ref: '#/components/schemas/Formula'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Formula'
            text/json:
              schema:
                $ref: '#/components/schemas/Formula'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Formula
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Formula'
          text/json:
            schema:
              $ref: '#/components/schemas/Formula'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/galleryimages':
    get:
      description: List gallery images.
      operationId: GalleryImage_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_GalleryImage_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_GalleryImage_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - GalleryImage
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/GalleryImage'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{name}/evaluatePolicies':
    post:
      description: Evaluates Lab Policy.
      operationId: PolicySet_EvaluatePolicies
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/EvaluatePoliciesResponse'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - PolicySet
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/EvaluatePoliciesRequest'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies':
    get:
      description: List policies.
      operationId: Policy_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Policy_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Policy_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/Policy'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/policysets/{policySetName}/policies/{name}':
    delete:
      description: Delete policy.
      operationId: Policy_DeleteResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
    get:
      description: Get policy.
      operationId: Policy_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
    patch:
      description: Modify properties of policies.
      operationId: Policy_PatchResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
      requestBody:
        $ref: '#/components/requestBodies/Policy'
    put:
      description: Create or replace an existing policy.
      operationId: Policy_CreateOrUpdateResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the policy set.
          in: path
          name: policySetName
          required: true
          schema:
            type: string
        - description: The name of the policy.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Policy'
            text/json:
              schema:
                $ref: '#/components/schemas/Policy'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Policy
      requestBody:
        $ref: '#/components/requestBodies/Policy'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules':
    get:
      description: List schedules.
      operationId: Schedule_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Schedule_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_Schedule_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/Schedule'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}':
    delete:
      description: Delete schedule. This operation can take a while to complete.
      operationId: Schedule_DeleteResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      x-ms-long-running-operation: true
    get:
      description: Get schedule.
      operationId: Schedule_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
    patch:
      description: Modify properties of schedules.
      operationId: Schedule_PatchResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      requestBody:
        $ref: '#/components/requestBodies/Schedule'
    put:
      description: Create or replace an existing schedule. This operation can take a while to complete.
      operationId: Schedule_CreateOrUpdateResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
            text/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      x-ms-long-running-operation: true
      requestBody:
        $ref: '#/components/requestBodies/Schedule'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/schedules/{name}/execute':
    post:
      description: Execute a schedule. This operation can take a while to complete.
      operationId: Schedule_Execute
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the schedule.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Schedule
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines':
    get:
      description: List virtual machines.
      operationId: VirtualMachine_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabVirtualMachine_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabVirtualMachine_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/LabVirtualMachine'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}':
    delete:
      description: Delete virtual machine. This operation can take a while to complete.
      operationId: VirtualMachine_DeleteResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      x-ms-long-running-operation: true
    get:
      description: Get virtual machine.
      operationId: VirtualMachine_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
    patch:
      description: Modify properties of virtual machines.
      operationId: VirtualMachine_PatchResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      requestBody:
        $ref: '#/components/requestBodies/LabVirtualMachine'
    put:
      description: Create or replace an existing Virtual Machine. This operation can take a while to complete.
      operationId: VirtualMachine_CreateOrUpdateResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
            text/json:
              schema:
                $ref: '#/components/schemas/LabVirtualMachine'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      x-ms-long-running-operation: true
      requestBody:
        $ref: '#/components/requestBodies/LabVirtualMachine'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/applyArtifacts':
    post:
      description: Apply artifacts to Lab VM. This operation can take a while to complete.
      operationId: VirtualMachine_ApplyArtifacts
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      x-ms-long-running-operation: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplyArtifactsRequest'
          text/json:
            schema:
              $ref: '#/components/schemas/ApplyArtifactsRequest'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/start':
    post:
      description: Start a Lab VM. This operation can take a while to complete.
      operationId: VirtualMachine_Start
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualmachines/{name}/stop':
    post:
      description: Stop a Lab VM. This operation can take a while to complete.
      operationId: VirtualMachine_Stop
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual Machine.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualMachine
      x-ms-long-running-operation: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks':
    get:
      description: List virtual networks.
      operationId: VirtualNetwork_List
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The filter to apply on the operation.
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - in: query
          name: $top
          required: false
          schema:
            type: integer
            format: int32
        - in: query
          name: $orderBy
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_VirtualNetwork_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_VirtualNetwork_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/VirtualNetwork'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{labName}/virtualnetworks/{name}':
    delete:
      description: Delete virtual network. This operation can take a while to complete.
      operationId: VirtualNetwork_DeleteResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual network.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
      x-ms-long-running-operation: true
    get:
      description: Get virtual network.
      operationId: VirtualNetwork_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual network.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
    patch:
      description: Modify properties of virtual networks.
      operationId: VirtualNetwork_PatchResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual network.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
      requestBody:
        $ref: '#/components/requestBodies/VirtualNetwork'
    put:
      description: Create or replace an existing virtual network. This operation can take a while to complete.
      operationId: VirtualNetwork_CreateOrUpdateResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: labName
          required: true
          schema:
            type: string
        - description: The name of the virtual network.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
            text/json:
              schema:
                $ref: '#/components/schemas/VirtualNetwork'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - VirtualNetwork
      x-ms-long-running-operation: true
      requestBody:
        $ref: '#/components/requestBodies/VirtualNetwork'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{name}':
    delete:
      description: Delete lab. This operation can take a while to complete.
      operationId: Lab_DeleteResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '202':
          description: Accepted
        '204':
          description: No Content
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      x-ms-long-running-operation: true
    get:
      description: Get lab.
      operationId: Lab_GetResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
            text/json:
              schema:
                $ref: '#/components/schemas/Lab'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
    patch:
      description: Modify properties of labs.
      operationId: Lab_PatchResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
            text/json:
              schema:
                $ref: '#/components/schemas/Lab'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      requestBody:
        $ref: '#/components/requestBodies/Lab'
    put:
      description: Create or replace an existing Lab. This operation can take a while to complete.
      operationId: Lab_CreateOrUpdateResource
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
            text/json:
              schema:
                $ref: '#/components/schemas/Lab'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Lab'
            text/json:
              schema:
                $ref: '#/components/schemas/Lab'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      x-ms-long-running-operation: true
      requestBody:
        $ref: '#/components/requestBodies/Lab'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{name}/createEnvironment':
    post:
      description: Create virtual machines in a Lab. This operation can take a while to complete.
      operationId: Lab_CreateEnvironment
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
        '202':
          description: Accepted
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      x-ms-long-running-operation: true
      requestBody:
        $ref: '#/components/requestBodies/LabVirtualMachine'
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{name}/generateUploadUri':
    post:
      description: Generate a URI for uploading custom disk images to a Lab.
      operationId: Lab_GenerateUploadUri
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GenerateUploadUriResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/GenerateUploadUriResponse'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenerateUploadUriParameter'
          text/json:
            schema:
              $ref: '#/components/schemas/GenerateUploadUriParameter'
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.DevTestLab/labs/{name}/listVhds':
    post:
      description: List disk images available for custom image creation.
      operationId: Lab_ListVhds
      parameters:
        - $ref: '#/components/parameters/subscriptionId'
        - description: The name of the resource group.
          in: path
          name: resourceGroupName
          required: true
          schema:
            type: string
        - description: The name of the lab.
          in: path
          name: name
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/api-version'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabVhd_'
            text/json:
              schema:
                $ref: '#/components/schemas/ResponseWithContinuation_LabVhd_'
        default:
          description: BadRequest
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudError'
            text/json:
              schema:
                $ref: '#/components/schemas/CloudError'
      security:
        - oauth2:
            - user_impersonation
      tags:
        - Lab
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    ApplyArtifactsRequest:
      description: Request body for applying artifacts to a virtual machine.
      properties:
        artifacts:
          description: The list of artifacts to apply.
          items:
            $ref: '#/components/schemas/ArtifactInstallProperties'
          type: array
      type: object
    ArmTemplateInfo:
      description: Information about a generated ARM template.
      properties:
        parameters:
          $ref: '#/components/schemas/Object'
        template:
          $ref: '#/components/schemas/Object'
      type: object
    Artifact:
      description: An artifact.
      properties:
        id:
          description: The identifier of the resource.
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/ArtifactProperties'
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          type: string
      type: object
      x-ms-azure-resource: true
    ArtifactDeploymentStatusProperties:
      description: Properties of an artifact deployment.
      properties:
        artifactsApplied:
          description: The total count of the artifacts that were successfully applied.
          format: int32
          type: integer
        deploymentStatus:
          description: The deployment status of the artifact.
          type: string
        totalArtifacts:
          description: The total count of the artifacts that were tentatively applied.
          format: int32
          type: integer
      type: object
    ArtifactInstallProperties:
      description: Properties of an artifact.
      properties:
        artifactId:
          description: The artifact's identifier.
          type: string
        parameters:
          description: The parameters of the artifact.
          items:
            $ref: '#/components/schemas/ArtifactParameterProperties'
          type: array
      type: object
    ArtifactParameterProperties:
      description: Properties of an artifact parameter.
      properties:
        name:
          description: The name of the artifact parameter.
          type: string
        value:
          description: The value of the artifact parameter.
          type: string
      type: object
    ArtifactProperties:
      description: Properties of an artifact.
      properties:
        description:
          description: The description of the artifact.
          type: string
        filePath:
          description: The file path of the artifact.
          type: string
        icon:
          description: The icon of the artifact.
          type: string
        parameters:
          $ref: '#/components/schemas/Object'
        targetOsType:
          description: Gets or sets the type of the target os.
          type: string
        title:
          description: The title of the artifact.
          type: string
      type: object
    ArtifactSource:
      description: Properties of an artifact source.
      properties:
        id:
          description: The identifier of the resource.
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/ArtifactSourceProperties'
        tags:
          additionalProperties:
            type: string
          description: The tags of the resource.
          type: object
        type:
          description: The type of the resource.
          type: string
      type: object
      x-ms-azure-resource: true
    ArtifactSourceProperties:
      description: Properties of an artifact source.
      properties:
        branchRef:
          description: The branch reference of the artifact source.
          type: string
        displayName:
          description: The display name of the artifact source.
          type: string
        folderPath:
          description: The folder path of the artifact source.
          type: string
        provisioningState:
          description: The provisioning status of the resource.
          type: string
        securityToken:
          description: The security token of the artifact source.
          type: string
        sourceType:
          description: The type of the artifact source.
          enum:
            - VsoGit
            - GitHub
          type: string
          x-ms-enum:
            modelAsString: true
            name: SourceControlType
        status:
          description: The status of the artifact source.
          enum:
            - Enabled
            - Disabled
          type: string
          x-ms-enum:
            modelAsString: true
            name: EnableStatus
        uri:
          description: The URI of the artifact source.
          type: string
      type: object
    CloudError:
      properties:
        error:
          $ref: '#/components/schemas/CloudErrorBody'
      type: object
      x-ms-external: true
    CloudErrorBody:
      properties:
        code:
          type: string
        details:
          items:
            $ref: '#/components/schemas/CloudErrorBody'
          type: array
        message:
          type: string
        target:
          type: string
      type: object
      x-ms-external: true
    Cost:
      description: A cost item.
      properties:
        id:
          description: The identifier of the resource.
          type: string
        location:
          description: The location of the resource.
          type: string
        name:
          description: The name of the resource.
          type: string
        properties:
          $ref: '#/components/schemas/CostProperties'
[...]
