swagger: '2.0'
info:
  version: '2018-01-04'
  x-release: v4
  title: AWS Resource Access Manager
  description: '<p>Use AWS Resource Access Manager to share AWS resources between AWS accounts. To share a resource, you create a resource share, associate the resource with the resource share, and specify the principals that can access the resource. The following principals are supported:</p> <ul> <li> <p>The ID of an AWS account</p> </li> <li> <p>The Amazon Resource Name (ARN) of an OU from AWS Organizations</p> </li> <li> <p>The Amazon Resource Name (ARN) of an organization from AWS Organizations</p> </li> </ul> <p>If you specify an AWS account that doesn''t exist in the same organization as the account that owns the resource share, the owner of the specified account receives an invitation to accept the resource share. After the owner accepts the invitation, they can access the resources in the resource share. An administrator of the specified account can use IAM policies to restrict access resources in the resource share.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: ram
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ram-2018-01-04.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/ram/'
host: ram.amazonaws.com
basePath: /
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /acceptresourceshareinvitation:
    post:
      operationId: AcceptResourceShareInvitation
      description: Accepts an invitation to a resource share from another AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptResourceShareInvitationResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: ResourceShareInvitationArnNotFoundException
          schema:
            $ref: '#/definitions/ResourceShareInvitationArnNotFoundException'
        '483':
          description: ResourceShareInvitationAlreadyAcceptedException
          schema:
            $ref: '#/definitions/ResourceShareInvitationAlreadyAcceptedException'
        '484':
          description: ResourceShareInvitationAlreadyRejectedException
          schema:
            $ref: '#/definitions/ResourceShareInvitationAlreadyRejectedException'
        '485':
          description: ResourceShareInvitationExpiredException
          schema:
            $ref: '#/definitions/ResourceShareInvitationExpiredException'
        '486':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AcceptResourceShareInvitationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /associateresourceshare:
    post:
      operationId: AssociateResourceShare
      description: Associates the specified resource share with the specified principals and resources.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateResourceShareResponse'
        '480':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '481':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '482':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '483':
          description: ResourceShareLimitExceededException
          schema:
            $ref: '#/definitions/ResourceShareLimitExceededException'
        '484':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '485':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '486':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '487':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '488':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '489':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '490':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '491':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateResourceShareRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /createresourceshare:
    post:
      operationId: CreateResourceShare
      description: Creates a resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceShareResponse'
        '480':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '481':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '482':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '483':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '484':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '485':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '486':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '487':
          description: ResourceShareLimitExceededException
          schema:
            $ref: '#/definitions/ResourceShareLimitExceededException'
        '488':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '489':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateResourceShareRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /deleteresourceshare:
    delete:
      operationId: DeleteResourceShare
      description: Deletes the specified resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResourceShareResponse'
        '480':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '481':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '482':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '483':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '484':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '485':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '486':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '487':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '488':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteResourceShareRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /disassociateresourceshare:
    post:
      operationId: DisassociateResourceShare
      description: Disassociates the specified principals or resources from the specified resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateResourceShareResponse'
        '480':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '481':
          description: ResourceShareLimitExceededException
          schema:
            $ref: '#/definitions/ResourceShareLimitExceededException'
        '482':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '483':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '484':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '485':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '486':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '487':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '488':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '489':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateResourceShareRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /enablesharingwithawsorganization:
    post:
      operationId: EnableSharingWithAwsOrganization
      description: Enables resource sharing within your organization.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableSharingWithAwsOrganizationResponse'
        '480':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '481':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableSharingWithAwsOrganizationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /getresourcepolicies:
    post:
      operationId: GetResourcePolicies
      description: Gets the policies for the specifies resources.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourcePoliciesResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourcePoliciesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /getresourceshareassociations:
    post:
      operationId: GetResourceShareAssociations
      description: Gets the associations for the specified resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceShareAssociationsResponse'
        '480':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '481':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '485':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourceShareAssociationsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /getresourceshareinvitations:
    post:
      operationId: GetResourceShareInvitations
      description: Gets the specified invitations for resource sharing.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceShareInvitationsResponse'
        '480':
          description: ResourceShareInvitationArnNotFoundException
          schema:
            $ref: '#/definitions/ResourceShareInvitationArnNotFoundException'
        '481':
          description: InvalidMaxResultsException
          schema:
            $ref: '#/definitions/InvalidMaxResultsException'
        '482':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '485':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourceShareInvitationsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /getresourceshares:
    post:
      operationId: GetResourceShares
      description: Gets the specified resource shares or all of your resource shares.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceSharesResponse'
        '480':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '481':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetResourceSharesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /listprincipals:
    post:
      operationId: ListPrincipals
      description: Lists the principals with access to the specified resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPrincipalsResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListPrincipalsRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /listresources:
    post:
      operationId: ListResources
      description: Lists the resources that the specified principal can access.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourcesResponse'
        '480':
          description: InvalidResourceTypeException
          schema:
            $ref: '#/definitions/InvalidResourceTypeException'
        '481':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '482':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '485':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListResourcesRequest'
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /rejectresourceshareinvitation:
    post:
      operationId: RejectResourceShareInvitation
      description: Rejects an invitation to a resource share from another AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RejectResourceShareInvitationResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: ResourceShareInvitationArnNotFoundException
          schema:
            $ref: '#/definitions/ResourceShareInvitationArnNotFoundException'
        '483':
          description: ResourceShareInvitationAlreadyAcceptedException
          schema:
            $ref: '#/definitions/ResourceShareInvitationAlreadyAcceptedException'
        '484':
          description: ResourceShareInvitationAlreadyRejectedException
          schema:
            $ref: '#/definitions/ResourceShareInvitationAlreadyRejectedException'
        '485':
          description: ResourceShareInvitationExpiredException
          schema:
            $ref: '#/definitions/ResourceShareInvitationExpiredException'
        '486':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RejectResourceShareInvitationRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /tagresource:
    post:
      operationId: TagResource
      description: Adds the specified tags to the specified resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '482':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '483':
          description: ResourceArnNotFoundException
          schema:
            $ref: '#/definitions/ResourceArnNotFoundException'
        '484':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /untagresource:
    post:
      operationId: UntagResource
      description: Removes the specified tags from the specified resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /updateresourceshare:
    post:
      operationId: UpdateResourceShare
      description: Updates the specified resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResourceShareResponse'
        '480':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '483':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '484':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '485':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '486':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '487':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '488':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateResourceShareRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AcceptResourceShareInvitationResponse:
    type: object
    properties:
      resourceShareInvitation:
        $ref: '#/definitions/ResourceShareInvitation'
        description: Information about the invitation.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  AcceptResourceShareInvitationRequest:
    type: object
    required:
      - resourceShareInvitationArn
    properties:
      resourceShareInvitationArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the invitation.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  MalformedArnException: {}
  OperationNotPermittedException: {}
  ResourceShareInvitationArnNotFoundException: {}
  ResourceShareInvitationAlreadyAcceptedException: {}
  ResourceShareInvitationAlreadyRejectedException: {}
  ResourceShareInvitationExpiredException: {}
  ServerInternalException: {}
  ServiceUnavailableException: {}
  AssociateResourceShareResponse:
    type: object
    properties:
      resourceShareAssociations:
        $ref: '#/definitions/ResourceShareAssociationList'
        description: Information about the associations.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  AssociateResourceShareRequest:
    type: object
    required:
      - resourceShareArn
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARN) of the resources.
      principals:
        $ref: '#/definitions/PrincipalArnOrIdList'
        description: The principals.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  IdempotentParameterMismatchException: {}
  UnknownResourceException: {}
  InvalidStateTransitionException: {}
  ResourceShareLimitExceededException: {}
  InvalidClientTokenException: {}
  InvalidParameterException: {}
  CreateResourceShareResponse:
    type: object
    properties:
      resourceShare:
        $ref: '#/definitions/ResourceShare'
        description: Information about the resource share.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  CreateResourceShareRequest:
    type: object
    required:
      - name
    properties:
      name:
        $ref: '#/definitions/String'
        description: The name of the resource share.
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARN) of the resources to associate with the resource share.
      principals:
        $ref: '#/definitions/PrincipalArnOrIdList'
        description: 'The principals to associate with the resource share. The possible values are IDs of AWS accounts, the ARN of an OU or organization from AWS Organizations.'
      tags:
        $ref: '#/definitions/TagList'
        description: One or more tags.
      allowExternalPrincipals:
        $ref: '#/definitions/Boolean'
        description: Indicates whether principals outside your organization can be associated with a resource share.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  DeleteResourceShareResponse:
    type: object
    properties:
      returnValue:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the request succeeded.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  DeleteResourceShareRequest:
    type: object
    properties: {}
  DisassociateResourceShareResponse:
    type: object
    properties:
      resourceShareAssociations:
        $ref: '#/definitions/ResourceShareAssociationList'
        description: Information about the associations.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  DisassociateResourceShareRequest:
    type: object
    required:
      - resourceShareArn
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARN) of the resources.
      principals:
        $ref: '#/definitions/PrincipalArnOrIdList'
        description: The principals.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  EnableSharingWithAwsOrganizationResponse:
    type: object
    properties:
      returnValue:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the request succeeded.
  EnableSharingWithAwsOrganizationRequest:
    type: object
    properties: {}
  GetResourcePoliciesResponse:
    type: object
    properties:
      policies:
        $ref: '#/definitions/PolicyList'
        description: 'A key policy document, in JSON format.'
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  GetResourcePoliciesRequest:
    type: object
    required:
      - resourceArns
    properties:
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARN) of the resources.
      principal:
        $ref: '#/definitions/String'
        description: The principal.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  InvalidNextTokenException: {}
  GetResourceShareAssociationsResponse:
    type: object
    properties:
      resourceShareAssociations:
        $ref: '#/definitions/ResourceShareAssociationList'
        description: Information about the association.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  GetResourceShareAssociationsRequest:
    type: object
    required:
      - associationType
    properties:
      associationType:
        $ref: '#/definitions/ResourceShareAssociationType'
        description: The association type.
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      resourceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource.
      principal:
        $ref: '#/definitions/String'
        description: The principal.
      associationStatus:
        $ref: '#/definitions/ResourceShareAssociationStatus'
        description: The status of the association.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  GetResourceShareInvitationsResponse:
    type: object
    properties:
      resourceShareInvitations:
        $ref: '#/definitions/ResourceShareInvitationList'
        description: Information about the invitations.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  GetResourceShareInvitationsRequest:
    type: object
    properties:
      resourceShareInvitationArns:
        $ref: '#/definitions/ResourceShareInvitationArnList'
        description: The Amazon Resource Names (ARN) of the invitations.
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  InvalidMaxResultsException: {}
  GetResourceSharesResponse:
    type: object
    properties:
      resourceShares:
        $ref: '#/definitions/ResourceShareList'
        description: Information about the resource shares.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  GetResourceSharesRequest:
    type: object
    required:
      - resourceOwner
    properties:
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      resourceShareStatus:
        $ref: '#/definitions/ResourceShareStatus'
        description: The status of the resource share.
      resourceOwner:
        $ref: '#/definitions/ResourceOwner'
        description: The type of owner.
      name:
        $ref: '#/definitions/String'
        description: The name of the resource share.
      tagFilters:
        $ref: '#/definitions/TagFilters'
        description: One or more tag filters.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  ListPrincipalsResponse:
    type: object
    properties:
      principals:
        $ref: '#/definitions/PrincipalList'
        description: The principals.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  ListPrincipalsRequest:
    type: object
    required:
      - resourceOwner
    properties:
      resourceOwner:
        $ref: '#/definitions/ResourceOwner'
        description: The type of owner.
      resourceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource.
      principals:
        $ref: '#/definitions/PrincipalArnOrIdList'
        description: The principals.
      resourceType:
        $ref: '#/definitions/String'
        description: The resource type.
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  ListResourcesResponse:
    type: object
    properties:
      resources:
        $ref: '#/definitions/ResourceList'
        description: Information about the resources.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  ListResourcesRequest:
    type: object
    required:
      - resourceOwner
    properties:
      resourceOwner:
        $ref: '#/definitions/ResourceOwner'
        description: The type of owner.
      principal:
        $ref: '#/definitions/String'
        description: The principal.
      resourceType:
        $ref: '#/definitions/String'
        description: The resource type.
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARN) of the resources.
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  InvalidResourceTypeException: {}
  RejectResourceShareInvitationResponse:
    type: object
    properties:
      resourceShareInvitation:
        $ref: '#/definitions/ResourceShareInvitation'
        description: Information about the invitation.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  RejectResourceShareInvitationRequest:
    type: object
    required:
      - resourceShareInvitationArn
    properties:
      resourceShareInvitationArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the invitation.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  TagResourceResponse:
    type: object
    properties: {}
  TagResourceRequest:
    type: object
    required:
      - resourceShareArn
      - tags
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      tags:
        $ref: '#/definitions/TagList'
        description: One or more tags.
  TagLimitExceededException: {}
  ResourceArnNotFoundException: {}
  UntagResourceResponse:
    type: object
    properties: {}
  UntagResourceRequest:
    type: object
    required:
      - resourceShareArn
      - tagKeys
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      tagKeys:
        $ref: '#/definitions/TagKeyList'
        description: The tag keys of the tags to remove.
  UpdateResourceShareResponse:
    type: object
    properties:
      resourceShare:
        $ref: '#/definitions/ResourceShare'
        description: Information about the resource share.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  UpdateResourceShareRequest:
    type: object
    required:
      - resourceShareArn
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      name:
        $ref: '#/definitions/String'
        description: The name of the resource share.
      allowExternalPrincipals:
        $ref: '#/definitions/Boolean'
        description: Indicates whether principals outside your organization can be associated with a resource share.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  MissingRequiredParameterException: {}
  '[object Object]': {}
  Boolean:
    type: boolean
  DateTime:
    type: string
    format: date-time
  MaxResults:
    type: integer
    minimum: 1
    maximum: 500
  Policy:
    type: string
  PolicyList:
    type: array
    items:
      $ref: '#/definitions/Policy'
  Principal:
    type: object
    properties:
      id:
        $ref: '#/definitions/String'
        description: The ID of the principal.
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      creationTime:
        $ref: '#/definitions/DateTime'
        description: The time when the principal was associated with the resource share.
      lastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the association was last updated.
      external:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the principal belongs to the same organization as the AWS account that owns the resource share.
    description: Describes a principal for use with AWS Resource Access Manager.
  PrincipalArnOrIdList:
    type: array
    items:
      $ref: '#/definitions/String'
  PrincipalList:
    type: array
    items:
      $ref: '#/definitions/Principal'
  Resource:
    type: object
    properties:
      arn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource.
      type:
        $ref: '#/definitions/String'
        description: The resource type.
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      status:
        $ref: '#/definitions/ResourceStatus'
        description: The status of the resource.
      statusMessage:
        $ref: '#/definitions/String'
        description: A message about the status of the resource.
      creationTime:
        $ref: '#/definitions/DateTime'
        description: The time when the resource was associated with the resource share.
      lastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the association was last updated.
    description: Describes a resource associated with a resource share.
  ResourceArnList:
    type: array
    items:
      $ref: '#/definitions/String'
  ResourceList:
    type: array
    items:
      $ref: '#/definitions/Resource'
  ResourceOwner:
    type: string
    enum:
      - SELF
      - OTHER-ACCOUNTS
  ResourceShare:
    type: object
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      name:
        $ref: '#/definitions/String'
        description: The name of the resource share.
      owningAccountId:
        $ref: '#/definitions/String'
        description: The ID of the AWS account that owns the resource share.
      allowExternalPrincipals:
        $ref: '#/definitions/Boolean'
        description: Indicates whether principals outside your organization can be associated with a resource share.
      status:
        $ref: '#/definitions/ResourceShareStatus'
        description: The status of the resource share.
      statusMessage:
        $ref: '#/definitions/String'
        description: A message about the status of the resource share.
      tags:
        $ref: '#/definitions/TagList'
        description: The tags for the resource share.
      creationTime:
        $ref: '#/definitions/DateTime'
        description: The time when the resource share was created.
      lastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the resource share was last updated.
    description: Describes a resource share.
  ResourceShareArnList:
    type: array
    items:
      $ref: '#/definitions/String'
  ResourceShareAssociation:
    type: object
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      associatedEntity:
        $ref: '#/definitions/String'
        description: 'The associated entity. For resource associations, this is the ARN of the resource. For principal associations, this is the ID of an AWS account or the ARN of an OU or organization from AWS Organizations.'
      associationType:
        $ref: '#/definitions/ResourceShareAssociationType'
        description: The association type.
      status:
        $ref: '#/definitions/ResourceShareAssociationStatus'
        description: The status of the association.
      statusMessage:
        $ref: '#/definitions/String'
        description: A message about the status of the association.
      creationTime:
        $ref: '#/definitions/DateTime'
        description: The time when the association was created.
      lastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the association was last updated.
      external:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the principal belongs to the same organization as the AWS account that owns the resource share.
    description: Describes an association with a resource share.
  ResourceShareAssociationList:
    type: array
    items:
      $ref: '#/definitions/ResourceShareAssociation'
  ResourceShareAssociationStatus:
    type: string
    enum:
      - ASSOCIATING
      - ASSOCIATED
      - FAILED
      - DISASSOCIATING
      - DISASSOCIATED
  ResourceShareAssociationType:
    type: string
    enum:
      - PRINCIPAL
      - RESOURCE
  ResourceShareInvitation:
    type: object
    properties:
      resourceShareInvitationArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the invitation.
      resourceShareName:
        $ref: '#/definitions/String'
        description: The name of the resource share.
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      senderAccountId:
        $ref: '#/definitions/String'
        description: The ID of the AWS account that sent the invitation.
      receiverAccountId:
        $ref: '#/definitions/String'
        description: The ID of the AWS account that received the invitation.
      invitationTimestamp:
        $ref: '#/definitions/DateTime'
        description: The date and time when the invitation was sent.
      status:
        $ref: '#/definitions/ResourceShareInvitationStatus'
        description: The status of the invitation.
      resourceShareAssociations:
        $ref: '#/definitions/ResourceShareAssociationList'
        description: The resources associated with the resource share.
    description: Describes an invitation to join a resource share.
  ResourceShareInvitationArnList:
    type: array
    items:
      $ref: '#/definitions/String'
  ResourceShareInvitationList:
    type: array
    items:
      $ref: '#/definitions/ResourceShareInvitation'
  ResourceShareInvitationStatus:
    type: string
    enum:
      - PENDING
      - ACCEPTED
      - REJECTED
      - EXPIRED
  ResourceShareList:
    type: array
    items:
      $ref: '#/definitions/ResourceShare'
  ResourceShareStatus:
    type: string
    enum:
      - PENDING
      - ACTIVE
      - FAILED
      - DELETING
      - DELETED
  ResourceStatus:
    type: string
    enum:
      - AVAILABLE
      - ZONAL_RESOURCE_INACCESSIBLE
      - LIMIT_EXCEEDED
      - UNAVAILABLE
  String:
    type: string
  Tag:
    type: object
    properties:
      key:
        $ref: '#/definitions/TagKey'
        description: The key of the tag.
      value:
        $ref: '#/definitions/TagValue'
        description: The value of the tag.
    description: Information about a tag.
  TagFilter:
    type: object
    properties:
      tagKey:
        $ref: '#/definitions/TagKey'
        description: The tag key.
      tagValues:
        $ref: '#/definitions/TagValueList'
        description: The tag values.
    description: Used to filter information based on tags.
  TagFilters:
    type: array
    items:
      $ref: '#/definitions/TagFilter'
  TagKey:
    type: string
  TagKeyList:
    type: array
    items:
      $ref: '#/definitions/TagKey'
  TagList:
    type: array
    items:
      $ref: '#/definitions/Tag'
  TagValue:
    type: string
  TagValueList:
    type: array
    items:
      $ref: '#/definitions/TagValue'
