swagger: '2.0'
info:
  version: '2018-01-04'
  x-release: v4
  title: AWS Resource Access Manager
  description: '<p>Use AWS Resource Access Manager to share AWS resources between AWS accounts. To share a resource, you create a resource share, associate the resource with the resource share, and specify the principals that can access the resources associated with the resource share. The following principals are supported: AWS accounts, organizational units (OU) from AWS Organizations, and organizations from AWS Organizations.</p> <p>For more information, see the <a href="https://docs.aws.amazon.com/ram/latest/userguide/">AWS Resource Access Manager User Guide</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: ram
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/ram-2018-01-04.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/ram/'
host: ram.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://ram.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The RAM multi-region endpoint
  - url: 'https://ram.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The RAM multi-region endpoint
  - url: 'http://ram.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The RAM endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://ram.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The RAM endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /acceptresourceshareinvitation:
    post:
      operationId: AcceptResourceShareInvitation
      description: Accepts an invitation to a resource share from another AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptResourceShareInvitationResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: ResourceShareInvitationArnNotFoundException
          schema:
            $ref: '#/definitions/ResourceShareInvitationArnNotFoundException'
        '483':
          description: ResourceShareInvitationAlreadyAcceptedException
          schema:
            $ref: '#/definitions/ResourceShareInvitationAlreadyAcceptedException'
        '484':
          description: ResourceShareInvitationAlreadyRejectedException
          schema:
            $ref: '#/definitions/ResourceShareInvitationAlreadyRejectedException'
        '485':
          description: ResourceShareInvitationExpiredException
          schema:
            $ref: '#/definitions/ResourceShareInvitationExpiredException'
        '486':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '488':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '489':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareInvitationArn
            properties:
              resourceShareInvitationArn:
                description: The Amazon Resource Name (ARN) of the invitation.
                type: string
              clientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /associateresourceshare:
    post:
      operationId: AssociateResourceShare
      description: Associates the specified resource share with the specified principals and resources.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateResourceShareResponse'
        '480':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '481':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '482':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '483':
          description: ResourceShareLimitExceededException
          schema:
            $ref: '#/definitions/ResourceShareLimitExceededException'
        '484':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '485':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '486':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '487':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '488':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '489':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '490':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '491':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareArn
            properties:
              resourceShareArn:
                description: The Amazon Resource Name (ARN) of the resource share.
                type: string
              resourceArns:
                description: The Amazon Resource Names (ARN) of the resources.
                type: array
                items:
                  $ref: '#/definitions/String'
              principals:
                description: The principals.
                type: array
                items:
                  $ref: '#/definitions/String'
              clientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /associateresourcesharepermission:
    post:
      operationId: AssociateResourceSharePermission
      description: Associates a permission with a resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AssociateResourceSharePermissionResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '484':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareArn
              - permissionArn
            properties:
              resourceShareArn:
                description: The Amazon Resource Name (ARN) of the resource share.
                type: string
              permissionArn:
                description: The ARN of the AWS RAM permission to associate with the resource share.
                type: string
              replace:
                description: Indicates whether the permission should replace the permissions that are currently associated with the resource share. Use <code>true</code> to replace the current permissions. Use <code>false</code> to add the permission to the current permission.
                type: boolean
              clientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /createresourceshare:
    post:
      operationId: CreateResourceShare
      description: Creates a resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateResourceShareResponse'
        '480':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '481':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '482':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '483':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '484':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '485':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '486':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '487':
          description: ResourceShareLimitExceededException
          schema:
            $ref: '#/definitions/ResourceShareLimitExceededException'
        '488':
          description: TagPolicyViolationException
          schema:
            $ref: '#/definitions/TagPolicyViolationException'
        '489':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '490':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
            properties:
              name:
                description: The name of the resource share.
                type: string
              resourceArns:
                description: The Amazon Resource Names (ARN) of the resources to associate with the resource share.
                type: array
                items:
                  $ref: '#/definitions/String'
              principals:
                description: 'The principals to associate with the resource share. The possible values are IDs of AWS accounts, the ARN of an OU or organization from AWS Organizations.'
                type: array
                items:
                  $ref: '#/definitions/String'
              tags:
                description: One or more tags.
                type: array
                items:
                  $ref: '#/definitions/Tag'
              allowExternalPrincipals:
                description: Indicates whether principals outside your AWS organization can be associated with a resource share.
                type: boolean
              clientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                type: string
              permissionArns:
                description: 'The ARNs of the permissions to associate with the resource share. If you do not specify an ARN for the permission, AWS RAM automatically attaches the default version of the permission for each resource type.'
                type: array
                items:
                  $ref: '#/definitions/String'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/deleteresourceshare#resourceShareArn':
    delete:
      operationId: DeleteResourceShare
      description: Deletes the specified resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteResourceShareResponse'
        '480':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '481':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '482':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '483':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '484':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '485':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '486':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '487':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '488':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: resourceShareArn
          in: query
          required: true
          description: The Amazon Resource Name (ARN) of the resource share.
          type: string
        - name: clientToken
          in: query
          required: false
          description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /disassociateresourceshare:
    post:
      operationId: DisassociateResourceShare
      description: Disassociates the specified principals or resources from the specified resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateResourceShareResponse'
        '480':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '481':
          description: ResourceShareLimitExceededException
          schema:
            $ref: '#/definitions/ResourceShareLimitExceededException'
        '482':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '483':
          description: InvalidStateTransitionException
          schema:
            $ref: '#/definitions/InvalidStateTransitionException'
        '484':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '485':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '486':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '487':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '488':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '489':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareArn
            properties:
              resourceShareArn:
                description: The Amazon Resource Name (ARN) of the resource share.
                type: string
              resourceArns:
                description: The Amazon Resource Names (ARNs) of the resources.
                type: array
                items:
                  $ref: '#/definitions/String'
              principals:
                description: The principals.
                type: array
                items:
                  $ref: '#/definitions/String'
              clientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /disassociateresourcesharepermission:
    post:
      operationId: DisassociateResourceSharePermission
      description: Disassociates an AWS RAM permission from a resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateResourceSharePermissionResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '484':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareArn
              - permissionArn
            properties:
              resourceShareArn:
                description: The Amazon Resource Name (ARN) of the resource share.
                type: string
              permissionArn:
                description: The ARN of the permission to disassociate from the resource share.
                type: string
              clientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /enablesharingwithawsorganization:
    post:
      operationId: EnableSharingWithAwsOrganization
      description: <p>Enables resource sharing within your AWS Organization.</p> <p>The caller must be the master account for the AWS Organization.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableSharingWithAwsOrganizationResponse'
        '480':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '481':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters: []
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /getpermission:
    post:
      operationId: GetPermission
      description: Gets the contents of an AWS RAM permission in JSON format.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPermissionResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '482':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '483':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - permissionArn
            properties:
              permissionArn:
                description: The ARN of the permission.
                type: string
              permissionVersion:
                description: The identifier for the version of the permission.
                type: integer
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /getresourcepolicies:
    post:
      operationId: GetResourcePolicies
      description: Gets the policies for the specified resources that you own and have shared.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourcePoliciesResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceArns
            properties:
              resourceArns:
                description: The Amazon Resource Names (ARN) of the resources.
                type: array
                items:
                  $ref: '#/definitions/String'
              principal:
                description: The principal.
                type: string
              nextToken:
                description: The token for the next page of results.
                type: string
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
                type: integer
                minimum: 1
                maximum: 500
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /getresourceshareassociations:
    post:
      operationId: GetResourceShareAssociations
      description: Gets the resources or principals for the resource shares that you own.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceShareAssociationsResponse'
        '480':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '481':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '485':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - associationType
            properties:
              associationType:
                description: The association type. Specify <code>PRINCIPAL</code> to list the principals that are associated with the specified resource share. Specify <code>RESOURCE</code> to list the resources that are associated with the specified resource share.
                type: string
                enum:
                  - PRINCIPAL
                  - RESOURCE
              resourceShareArns:
                description: The Amazon Resource Names (ARN) of the resource shares.
                type: array
                items:
                  $ref: '#/definitions/String'
              resourceArn:
                description: The Amazon Resource Name (ARN) of the resource. You cannot specify this parameter if the association type is <code>PRINCIPAL</code>.
                type: string
              principal:
                description: The principal. You cannot specify this parameter if the association type is <code>RESOURCE</code>.
                type: string
              associationStatus:
                description: The association status.
                type: string
                enum:
                  - ASSOCIATING
                  - ASSOCIATED
                  - FAILED
                  - DISASSOCIATING
                  - DISASSOCIATED
              nextToken:
                description: The token for the next page of results.
                type: string
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
                type: integer
                minimum: 1
                maximum: 500
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /getresourceshareinvitations:
    post:
      operationId: GetResourceShareInvitations
      description: Gets the invitations for resource sharing that you've received.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceShareInvitationsResponse'
        '480':
          description: ResourceShareInvitationArnNotFoundException
          schema:
            $ref: '#/definitions/ResourceShareInvitationArnNotFoundException'
        '481':
          description: InvalidMaxResultsException
          schema:
            $ref: '#/definitions/InvalidMaxResultsException'
        '482':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '485':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              resourceShareInvitationArns:
                description: The Amazon Resource Names (ARN) of the invitations.
                type: array
                items:
                  $ref: '#/definitions/String'
              resourceShareArns:
                description: The Amazon Resource Names (ARN) of the resource shares.
                type: array
                items:
                  $ref: '#/definitions/String'
              nextToken:
                description: The token for the next page of results.
                type: string
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
                type: integer
                minimum: 1
                maximum: 500
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /getresourceshares:
    post:
      operationId: GetResourceShares
      description: Gets the resource shares that you own or the resource shares that are shared with you.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetResourceSharesResponse'
        '480':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '481':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceOwner
            properties:
              resourceShareArns:
                description: The Amazon Resource Names (ARN) of the resource shares.
                type: array
                items:
                  $ref: '#/definitions/String'
              resourceShareStatus:
                description: The status of the resource share.
                type: string
                enum:
                  - PENDING
                  - ACTIVE
                  - FAILED
                  - DELETING
                  - DELETED
              resourceOwner:
                description: The type of owner.
                type: string
                enum:
                  - SELF
                  - OTHER-ACCOUNTS
              name:
                description: The name of the resource share.
                type: string
              tagFilters:
                description: One or more tag filters.
                type: array
                items:
                  $ref: '#/definitions/TagFilter'
              nextToken:
                description: The token for the next page of results.
                type: string
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
                type: integer
                minimum: 1
                maximum: 500
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /listpendinginvitationresources:
    post:
      operationId: ListPendingInvitationResources
      description: Lists the resources in a resource share that is shared with you but that the invitation is still pending for.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPendingInvitationResourcesResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '484':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '485':
          description: ResourceShareInvitationArnNotFoundException
          schema:
            $ref: '#/definitions/ResourceShareInvitationArnNotFoundException'
        '486':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '487':
          description: ResourceShareInvitationAlreadyRejectedException
          schema:
            $ref: '#/definitions/ResourceShareInvitationAlreadyRejectedException'
        '488':
          description: ResourceShareInvitationExpiredException
          schema:
            $ref: '#/definitions/ResourceShareInvitationExpiredException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareInvitationArn
            properties:
              resourceShareInvitationArn:
                description: The Amazon Resource Name (ARN) of the invitation.
                type: string
              nextToken:
                description: The token for the next page of results.
                type: string
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
                type: integer
                minimum: 1
                maximum: 500
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /listpermissions:
    post:
      operationId: ListPermissions
      description: Lists the AWS RAM permissions.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPermissionsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '483':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '484':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              resourceType:
                description: 'Specifies the resource type for which to list permissions. For example, to list only permissions that apply to EC2 subnets, specify <code>ec2:Subnet</code>.'
                type: string
              nextToken:
                description: The token for the next page of results.
                type: string
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
                type: integer
                minimum: 1
                maximum: 500
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /listprincipals:
    post:
      operationId: ListPrincipals
      description: Lists the principals that you have shared resources with or that have shared resources with you.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPrincipalsResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '484':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceOwner
            properties:
              resourceOwner:
                description: The type of owner.
                type: string
                enum:
                  - SELF
                  - OTHER-ACCOUNTS
              resourceArn:
                description: The Amazon Resource Name (ARN) of the resource.
                type: string
              principals:
                description: The principals.
                type: array
                items:
                  $ref: '#/definitions/String'
              resourceType:
                description: '<p>The resource type.</p> <p>Valid values: <code>ec2:CapacityReservation</code> | <code>ec2:Subnet</code> | <code>ec2:TrafficMirrorTarget</code> | <code>ec2:TransitGateway</code> | <code>license-manager:LicenseConfiguration</code> | <code>rds:Cluster</code> | <code>route53resolver:ResolverRule</code> I <code>resource-groups:Group</code> </p>'
                type: string
              resourceShareArns:
                description: The Amazon Resource Names (ARN) of the resource shares.
                type: array
                items:
                  $ref: '#/definitions/String'
              nextToken:
                description: The token for the next page of results.
                type: string
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
                type: integer
                minimum: 1
                maximum: 500
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /listresourcesharepermissions:
    post:
      operationId: ListResourceSharePermissions
      description: Lists the AWS RAM permissions that are associated with a resource share.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourceSharePermissionsResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '482':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '486':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareArn
            properties:
              resourceShareArn:
                description: The Amazon Resource Name (ARN) of the resource share.
                type: string
              nextToken:
                description: The token for the next page of results.
                type: string
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
                type: integer
                minimum: 1
                maximum: 500
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /listresources:
    post:
      operationId: ListResources
      description: Lists the resources that you added to a resource shares or the resources that are shared with you.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListResourcesResponse'
        '480':
          description: InvalidResourceTypeException
          schema:
            $ref: '#/definitions/InvalidResourceTypeException'
        '481':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '482':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '483':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '484':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '485':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceOwner
            properties:
              resourceOwner:
                description: The type of owner.
                type: string
                enum:
                  - SELF
                  - OTHER-ACCOUNTS
              principal:
                description: The principal.
                type: string
              resourceType:
                description: '<p>The resource type.</p> <p>Valid values: <code>ec2:CapacityReservation</code> | <code>ec2:Subnet</code> | <code>ec2:TrafficMirrorTarget</code> | <code>ec2:TransitGateway</code> | <code>license-manager:LicenseConfiguration</code> | <code>rds:Cluster</code> | <code>route53resolver:ResolverRule</code> | <code>resource-groups:Group</code> </p>'
                type: string
              resourceArns:
                description: The Amazon Resource Names (ARN) of the resources.
                type: array
                items:
                  $ref: '#/definitions/String'
              resourceShareArns:
                description: The Amazon Resource Names (ARN) of the resource shares.
                type: array
                items:
                  $ref: '#/definitions/String'
              nextToken:
                description: The token for the next page of results.
                type: string
              maxResults:
                description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
                type: integer
                minimum: 1
                maximum: 500
        - name: maxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: nextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/promoteresourcesharecreatedfrompolicy#resourceShareArn':
    post:
      operationId: PromoteResourceShareCreatedFromPolicy
      description: '<p>Resource shares that were created by attaching a policy to a resource are visible only to the resource share owner, and the resource share cannot be modified in AWS RAM.</p> <p>Use this API action to promote the resource share. When you promote the resource share, it becomes:</p> <ul> <li> <p>Visible to all principals that it is shared with.</p> </li> <li> <p>Modifiable in AWS RAM.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PromoteResourceShareCreatedFromPolicyResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '483':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '484':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '485':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: resourceShareArn
          in: query
          required: true
          description: The ARN of the resource share to promote.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /rejectresourceshareinvitation:
    post:
      operationId: RejectResourceShareInvitation
      description: Rejects an invitation to a resource share from another AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RejectResourceShareInvitationResponse'
        '480':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '481':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '482':
          description: ResourceShareInvitationArnNotFoundException
          schema:
            $ref: '#/definitions/ResourceShareInvitationArnNotFoundException'
        '483':
          description: ResourceShareInvitationAlreadyAcceptedException
          schema:
            $ref: '#/definitions/ResourceShareInvitationAlreadyAcceptedException'
        '484':
          description: ResourceShareInvitationAlreadyRejectedException
          schema:
            $ref: '#/definitions/ResourceShareInvitationAlreadyRejectedException'
        '485':
          description: ResourceShareInvitationExpiredException
          schema:
            $ref: '#/definitions/ResourceShareInvitationExpiredException'
        '486':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '487':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
        '488':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '489':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareInvitationArn
            properties:
              resourceShareInvitationArn:
                description: The Amazon Resource Name (ARN) of the invitation.
                type: string
              clientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /tagresource:
    post:
      operationId: TagResource
      description: Adds the specified tags to the specified resource share that you own.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '482':
          description: TagLimitExceededException
          schema:
            $ref: '#/definitions/TagLimitExceededException'
        '483':
          description: ResourceArnNotFoundException
          schema:
            $ref: '#/definitions/ResourceArnNotFoundException'
        '484':
          description: TagPolicyViolationException
          schema:
            $ref: '#/definitions/TagPolicyViolationException'
        '485':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '486':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareArn
              - tags
            properties:
              resourceShareArn:
                description: The Amazon Resource Name (ARN) of the resource share.
                type: string
              tags:
                description: One or more tags.
                type: array
                items:
                  $ref: '#/definitions/Tag'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /untagresource:
    post:
      operationId: UntagResource
      description: Removes the specified tags from the specified resource share that you own.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '481':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '482':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareArn
              - tagKeys
            properties:
              resourceShareArn:
                description: The Amazon Resource Name (ARN) of the resource share.
                type: string
              tagKeys:
                description: The tag keys of the tags to remove.
                type: array
                items:
                  $ref: '#/definitions/TagKey'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /updateresourceshare:
    post:
      operationId: UpdateResourceShare
      description: Updates the specified resource share that you own.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateResourceShareResponse'
        '480':
          description: IdempotentParameterMismatchException
          schema:
            $ref: '#/definitions/IdempotentParameterMismatchException'
        '481':
          description: MissingRequiredParameterException
          schema:
            $ref: '#/definitions/MissingRequiredParameterException'
        '482':
          description: UnknownResourceException
          schema:
            $ref: '#/definitions/UnknownResourceException'
        '483':
          description: MalformedArnException
          schema:
            $ref: '#/definitions/MalformedArnException'
        '484':
          description: InvalidClientTokenException
          schema:
            $ref: '#/definitions/InvalidClientTokenException'
        '485':
          description: InvalidParameterException
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '486':
          description: OperationNotPermittedException
          schema:
            $ref: '#/definitions/OperationNotPermittedException'
        '487':
          description: ServerInternalException
          schema:
            $ref: '#/definitions/ServerInternalException'
        '488':
          description: ServiceUnavailableException
          schema:
            $ref: '#/definitions/ServiceUnavailableException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - resourceShareArn
            properties:
              resourceShareArn:
                description: The Amazon Resource Name (ARN) of the resource share.
                type: string
              name:
                description: The name of the resource share.
                type: string
              allowExternalPrincipals:
                description: Indicates whether principals outside your AWS organization can be associated with a resource share.
                type: boolean
              clientToken:
                description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AcceptResourceShareInvitationResponse:
    type: object
    properties:
      resourceShareInvitation:
        $ref: '#/definitions/ResourceShareInvitation'
        description: Information about the invitation.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  MalformedArnException: {}
  OperationNotPermittedException: {}
  ResourceShareInvitationArnNotFoundException: {}
  ResourceShareInvitationAlreadyAcceptedException: {}
  ResourceShareInvitationAlreadyRejectedException: {}
  ResourceShareInvitationExpiredException: {}
  ServerInternalException: {}
  ServiceUnavailableException: {}
  InvalidClientTokenException: {}
  IdempotentParameterMismatchException: {}
  AssociateResourceShareResponse:
    type: object
    properties:
      resourceShareAssociations:
        $ref: '#/definitions/ResourceShareAssociationList'
        description: Information about the associations.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  String:
    type: string
  UnknownResourceException: {}
  InvalidStateTransitionException: {}
  ResourceShareLimitExceededException: {}
  InvalidParameterException: {}
  AssociateResourceSharePermissionResponse:
    type: object
    properties:
      returnValue:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the request succeeded.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  CreateResourceShareResponse:
    type: object
    properties:
      resourceShare:
        $ref: '#/definitions/ResourceShare'
        description: Information about the resource share.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  Tag:
    type: object
    properties:
      key:
        $ref: '#/definitions/TagKey'
        description: The key of the tag.
      value:
        $ref: '#/definitions/TagValue'
        description: The value of the tag.
    description: Information about a tag.
  TagPolicyViolationException: {}
  DeleteResourceShareResponse:
    type: object
    properties:
      returnValue:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the request succeeded.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  DisassociateResourceShareResponse:
    type: object
    properties:
      resourceShareAssociations:
        $ref: '#/definitions/ResourceShareAssociationList'
        description: Information about the associations.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  DisassociateResourceSharePermissionResponse:
    type: object
    properties:
      returnValue:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the request succeeded.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  EnableSharingWithAwsOrganizationResponse:
    type: object
    properties:
      returnValue:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the request succeeded.
  GetPermissionResponse:
    type: object
    properties:
      permission:
        $ref: '#/definitions/ResourceSharePermissionDetail'
        description: Information about the permission.
  GetResourcePoliciesResponse:
    type: object
    properties:
      policies:
        $ref: '#/definitions/PolicyList'
        description: 'A key policy document, in JSON format.'
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  InvalidNextTokenException: {}
  GetResourceShareAssociationsResponse:
    type: object
    properties:
      resourceShareAssociations:
        $ref: '#/definitions/ResourceShareAssociationList'
        description: Information about the associations.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  GetResourceShareInvitationsResponse:
    type: object
    properties:
      resourceShareInvitations:
        $ref: '#/definitions/ResourceShareInvitationList'
        description: Information about the invitations.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  InvalidMaxResultsException: {}
  GetResourceSharesResponse:
    type: object
    properties:
      resourceShares:
        $ref: '#/definitions/ResourceShareList'
        description: Information about the resource shares.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  TagFilter:
    type: object
    properties:
      tagKey:
        $ref: '#/definitions/TagKey'
        description: The tag key.
      tagValues:
        $ref: '#/definitions/TagValueList'
        description: The tag values.
    description: Used to filter information based on tags.
  ListPendingInvitationResourcesResponse:
    type: object
    properties:
      resources:
        $ref: '#/definitions/ResourceList'
        description: Information about the resources included the resource share.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  MissingRequiredParameterException: {}
  ListPermissionsResponse:
    type: object
    properties:
      permissions:
        $ref: '#/definitions/ResourceSharePermissionList'
        description: Information about the permissions.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  ListPrincipalsResponse:
    type: object
    properties:
      principals:
        $ref: '#/definitions/PrincipalList'
        description: The principals.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  ListResourceSharePermissionsResponse:
    type: object
    properties:
      permissions:
        $ref: '#/definitions/ResourceSharePermissionList'
        description: The permissions associated with the resource share.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  ListResourcesResponse:
    type: object
    properties:
      resources:
        $ref: '#/definitions/ResourceList'
        description: Information about the resources.
      nextToken:
        $ref: '#/definitions/String'
        description: The token to use to retrieve the next page of results. This value is <code>null</code> when there are no more results to return.
  InvalidResourceTypeException: {}
  PromoteResourceShareCreatedFromPolicyResponse:
    type: object
    properties:
      returnValue:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the request succeeded.
  RejectResourceShareInvitationResponse:
    type: object
    properties:
      resourceShareInvitation:
        $ref: '#/definitions/ResourceShareInvitation'
        description: Information about the invitation.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  TagResourceResponse:
    type: object
    properties: {}
  TagLimitExceededException: {}
  ResourceArnNotFoundException: {}
  UntagResourceResponse:
    type: object
    properties: {}
  TagKey:
    type: string
  UpdateResourceShareResponse:
    type: object
    properties:
      resourceShare:
        $ref: '#/definitions/ResourceShare'
        description: Information about the resource share.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  AcceptResourceShareInvitationRequest:
    type: object
    required:
      - resourceShareInvitationArn
    properties:
      resourceShareInvitationArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the invitation.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  ResourceShareInvitation:
    type: object
    properties:
      resourceShareInvitationArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the invitation.
      resourceShareName:
        $ref: '#/definitions/String'
        description: The name of the resource share.
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      senderAccountId:
        $ref: '#/definitions/String'
        description: The ID of the AWS account that sent the invitation.
      receiverAccountId:
        $ref: '#/definitions/String'
        description: The ID of the AWS account that received the invitation.
      invitationTimestamp:
        $ref: '#/definitions/DateTime'
        description: The date and time when the invitation was sent.
      status:
        $ref: '#/definitions/ResourceShareInvitationStatus'
        description: The status of the invitation.
      resourceShareAssociations:
        $ref: '#/definitions/ResourceShareAssociationList'
        description: 'To view the resources associated with a pending resource share invitation, use <a href="https://docs.aws.amazon.com/ram/latest/APIReference/API_ListPendingInvitationResources.html"> ListPendingInvitationResources</a>.This member has been deprecated. Use ListPendingInvitationResources.'
    description: Describes an invitation to join a resource share.
  Boolean:
    type: boolean
  AssociateResourceSharePermissionRequest:
    type: object
    required:
      - resourceShareArn
      - permissionArn
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      permissionArn:
        $ref: '#/definitions/String'
        description: The ARN of the AWS RAM permission to associate with the resource share.
      replace:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the permission should replace the permissions that are currently associated with the resource share. Use <code>true</code> to replace the current permissions. Use <code>false</code> to add the permission to the current permission.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  ResourceArnList:
    type: array
    items:
      $ref: '#/definitions/String'
  PrincipalArnOrIdList:
    type: array
    items:
      $ref: '#/definitions/String'
  AssociateResourceShareRequest:
    type: object
    required:
      - resourceShareArn
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARN) of the resources.
      principals:
        $ref: '#/definitions/PrincipalArnOrIdList'
        description: The principals.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  ResourceShareAssociationList:
    type: array
    items:
      $ref: '#/definitions/ResourceShareAssociation'
  TagList:
    type: array
    items:
      $ref: '#/definitions/Tag'
  PermissionArnList:
    type: array
    items:
      $ref: '#/definitions/String'
  CreateResourceShareRequest:
    type: object
    required:
      - name
    properties:
      name:
        $ref: '#/definitions/String'
        description: The name of the resource share.
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARN) of the resources to associate with the resource share.
      principals:
        $ref: '#/definitions/PrincipalArnOrIdList'
        description: 'The principals to associate with the resource share. The possible values are IDs of AWS accounts, the ARN of an OU or organization from AWS Organizations.'
      tags:
        $ref: '#/definitions/TagList'
        description: One or more tags.
      allowExternalPrincipals:
        $ref: '#/definitions/Boolean'
        description: Indicates whether principals outside your AWS organization can be associated with a resource share.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
      permissionArns:
        $ref: '#/definitions/PermissionArnList'
        description: 'The ARNs of the permissions to associate with the resource share. If you do not specify an ARN for the permission, AWS RAM automatically attaches the default version of the permission for each resource type.'
  ResourceShare:
    type: object
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      name:
        $ref: '#/definitions/String'
        description: The name of the resource share.
      owningAccountId:
        $ref: '#/definitions/String'
        description: The ID of the AWS account that owns the resource share.
      allowExternalPrincipals:
        $ref: '#/definitions/Boolean'
        description: Indicates whether principals outside your AWS organization can be associated with a resource share.
      status:
        $ref: '#/definitions/ResourceShareStatus'
        description: The status of the resource share.
      statusMessage:
        $ref: '#/definitions/String'
        description: A message about the status of the resource share.
      tags:
        $ref: '#/definitions/TagList'
        description: The tags for the resource share.
      creationTime:
        $ref: '#/definitions/DateTime'
        description: The time when the resource share was created.
      lastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the resource share was last updated.
      featureSet:
        $ref: '#/definitions/ResourceShareFeatureSet'
        description: '<p>Indicates how the resource share was created. Possible values include:</p> <ul> <li> <p> <code>CREATED_FROM_POLICY</code> - Indicates that the resource share was created from an AWS Identity and Access Management (AWS IAM) policy attached to a resource. These resource shares are visible only to the AWS account that created it. They cannot be modified in AWS RAM.</p> </li> <li> <p> <code>PROMOTING_TO_STANDARD</code> - The resource share is in the process of being promoted. For more information, see <a>PromoteResourceShareCreatedFromPolicy</a>.</p> </li> <li> <p> <code>STANDARD</code> - Indicates that the resource share was created in AWS RAM using the console or APIs. These resource shares are visible to all principals. They can be modified in AWS RAM.</p> </li> </ul>'
    description: Describes a resource share.
  DateTime:
    type: string
    format: date-time
  DeleteResourceShareRequest:
    type: object
    properties: {}
  DisassociateResourceSharePermissionRequest:
    type: object
    required:
      - resourceShareArn
      - permissionArn
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      permissionArn:
        $ref: '#/definitions/String'
        description: The ARN of the permission to disassociate from the resource share.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  DisassociateResourceShareRequest:
    type: object
    required:
      - resourceShareArn
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARNs) of the resources.
      principals:
        $ref: '#/definitions/PrincipalArnOrIdList'
        description: The principals.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  EnableSharingWithAwsOrganizationRequest:
    type: object
    properties: {}
  Integer:
    type: integer
  GetPermissionRequest:
    type: object
    required:
      - permissionArn
    properties:
      permissionArn:
        $ref: '#/definitions/String'
        description: The ARN of the permission.
      permissionVersion:
        $ref: '#/definitions/Integer'
        description: The identifier for the version of the permission.
  ResourceSharePermissionDetail:
    type: object
    properties:
      arn:
        $ref: '#/definitions/String'
        description: The ARN of the permission.
      version:
        $ref: '#/definitions/String'
        description: The identifier for the version of the permission.
      defaultVersion:
        $ref: '#/definitions/Boolean'
        description: The identifier for the version of the permission that is set as the default version.
      name:
        $ref: '#/definitions/String'
        description: The name of the permission.
      resourceType:
        $ref: '#/definitions/String'
        description: The resource type to which the permission applies.
      permission:
        $ref: '#/definitions/String'
        description: The permission's effect and actions in JSON format. The <code>effect</code> indicates whether the actions are allowed or denied. The <code>actions</code> list the API actions to which the principal is granted or denied access.
      creationTime:
        $ref: '#/definitions/DateTime'
        description: The date and time when the permission was created.
      lastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The date and time when the permission was last updated.
    description: Information about an AWS RAM permission.
  MaxResults:
    type: integer
    minimum: 1
    maximum: 500
  GetResourcePoliciesRequest:
    type: object
    required:
      - resourceArns
    properties:
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARN) of the resources.
      principal:
        $ref: '#/definitions/String'
        description: The principal.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  PolicyList:
    type: array
    items:
      $ref: '#/definitions/Policy'
  ResourceShareAssociationType:
    type: string
    enum:
      - PRINCIPAL
      - RESOURCE
  ResourceShareArnList:
    type: array
    items:
      $ref: '#/definitions/String'
  ResourceShareAssociationStatus:
    type: string
    enum:
      - ASSOCIATING
      - ASSOCIATED
      - FAILED
      - DISASSOCIATING
      - DISASSOCIATED
  GetResourceShareAssociationsRequest:
    type: object
    required:
      - associationType
    properties:
      associationType:
        $ref: '#/definitions/ResourceShareAssociationType'
        description: The association type. Specify <code>PRINCIPAL</code> to list the principals that are associated with the specified resource share. Specify <code>RESOURCE</code> to list the resources that are associated with the specified resource share.
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      resourceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource. You cannot specify this parameter if the association type is <code>PRINCIPAL</code>.
      principal:
        $ref: '#/definitions/String'
        description: The principal. You cannot specify this parameter if the association type is <code>RESOURCE</code>.
      associationStatus:
        $ref: '#/definitions/ResourceShareAssociationStatus'
        description: The association status.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  ResourceShareInvitationArnList:
    type: array
    items:
      $ref: '#/definitions/String'
  GetResourceShareInvitationsRequest:
    type: object
    properties:
      resourceShareInvitationArns:
        $ref: '#/definitions/ResourceShareInvitationArnList'
        description: The Amazon Resource Names (ARN) of the invitations.
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  ResourceShareInvitationList:
    type: array
    items:
      $ref: '#/definitions/ResourceShareInvitation'
  ResourceShareStatus:
    type: string
    enum:
      - PENDING
      - ACTIVE
      - FAILED
      - DELETING
      - DELETED
  ResourceOwner:
    type: string
    enum:
      - SELF
      - OTHER-ACCOUNTS
  TagFilters:
    type: array
    items:
      $ref: '#/definitions/TagFilter'
  GetResourceSharesRequest:
    type: object
    required:
      - resourceOwner
    properties:
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      resourceShareStatus:
        $ref: '#/definitions/ResourceShareStatus'
        description: The status of the resource share.
      resourceOwner:
        $ref: '#/definitions/ResourceOwner'
        description: The type of owner.
      name:
        $ref: '#/definitions/String'
        description: The name of the resource share.
      tagFilters:
        $ref: '#/definitions/TagFilters'
        description: One or more tag filters.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  ResourceShareList:
    type: array
    items:
      $ref: '#/definitions/ResourceShare'
  ListPendingInvitationResourcesRequest:
    type: object
    required:
      - resourceShareInvitationArn
    properties:
      resourceShareInvitationArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the invitation.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  ResourceList:
    type: array
    items:
      $ref: '#/definitions/Resource'
  ListPermissionsRequest:
    type: object
    properties:
      resourceType:
        $ref: '#/definitions/String'
        description: 'Specifies the resource type for which to list permissions. For example, to list only permissions that apply to EC2 subnets, specify <code>ec2:Subnet</code>.'
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  ResourceSharePermissionList:
    type: array
    items:
      $ref: '#/definitions/ResourceSharePermissionSummary'
  ListPrincipalsRequest:
    type: object
    required:
      - resourceOwner
    properties:
      resourceOwner:
        $ref: '#/definitions/ResourceOwner'
        description: The type of owner.
      resourceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource.
      principals:
        $ref: '#/definitions/PrincipalArnOrIdList'
        description: The principals.
      resourceType:
        $ref: '#/definitions/String'
        description: '<p>The resource type.</p> <p>Valid values: <code>ec2:CapacityReservation</code> | <code>ec2:Subnet</code> | <code>ec2:TrafficMirrorTarget</code> | <code>ec2:TransitGateway</code> | <code>license-manager:LicenseConfiguration</code> | <code>rds:Cluster</code> | <code>route53resolver:ResolverRule</code> I <code>resource-groups:Group</code> </p>'
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  PrincipalList:
    type: array
    items:
      $ref: '#/definitions/Principal'
  ListResourceSharePermissionsRequest:
    type: object
    required:
      - resourceShareArn
    properties:
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  ListResourcesRequest:
    type: object
    required:
      - resourceOwner
    properties:
      resourceOwner:
        $ref: '#/definitions/ResourceOwner'
        description: The type of owner.
      principal:
        $ref: '#/definitions/String'
        description: The principal.
      resourceType:
        $ref: '#/definitions/String'
        description: '<p>The resource type.</p> <p>Valid values: <code>ec2:CapacityReservation</code> | <code>ec2:Subnet</code> | <code>ec2:TrafficMirrorTarget</code> | <code>ec2:TransitGateway</code> | <code>license-manager:LicenseConfiguration</code> | <code>rds:Cluster</code> | <code>route53resolver:ResolverRule</code> | <code>resource-groups:Group</code> </p>'
      resourceArns:
        $ref: '#/definitions/ResourceArnList'
        description: The Amazon Resource Names (ARN) of the resources.
      resourceShareArns:
        $ref: '#/definitions/ResourceShareArnList'
        description: The Amazon Resource Names (ARN) of the resource shares.
      nextToken:
        $ref: '#/definitions/String'
        description: The token for the next page of results.
      maxResults:
        $ref: '#/definitions/MaxResults'
        description: 'The maximum number of results to return with a single call. To retrieve the remaining results, make another call with the returned <code>nextToken</code> value.'
  Policy:
    type: string
  Principal:
    type: object
    properties:
      id:
        $ref: '#/definitions/String'
        description: The ID of the principal.
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      creationTime:
        $ref: '#/definitions/DateTime'
        description: The time when the principal was associated with the resource share.
      lastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the association was last updated.
      external:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the principal belongs to the same AWS organization as the AWS account that owns the resource share.
    description: Describes a principal for use with AWS Resource Access Manager.
  PromoteResourceShareCreatedFromPolicyRequest:
    type: object
    properties: {}
  RejectResourceShareInvitationRequest:
    type: object
    required:
      - resourceShareInvitationArn
    properties:
      resourceShareInvitationArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the invitation.
      clientToken:
        $ref: '#/definitions/String'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency of the request.'
  ResourceStatus:
    type: string
    enum:
      - AVAILABLE
      - ZONAL_RESOURCE_INACCESSIBLE
      - LIMIT_EXCEEDED
      - UNAVAILABLE
      - PENDING
  Resource:
    type: object
    properties:
      arn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource.
      type:
        $ref: '#/definitions/String'
        description: The resource type.
      resourceShareArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the resource share.
      resourceGroupArn:
        $ref: '#/definitions/String'
        description: The ARN of the resource group. This value is returned only if the resource is a resource group.
      status:
        $ref: '#/definitions/ResourceStatus'
        description: The status of the resource.
      statusMessage:
        $ref: '#/definitions/String'
        description: A message about the status of the resource.
      creationTime:
        $ref: '#/definitions/DateTime'
        description: The time when the resource was associated with the resource share.
      lastUpdatedTime:
        $ref: '#/definitions/DateTime'
        description: The time when the association was last updated.
    description: Describes a resource associated with a resource share.
[...]
