{
  "openapi": "3.1.0",
  "info": {
    "title": "SkynetX Market Data API",
    "version": "1.0.0",
    "description": "Crypto-derivatives, on-chain, ETF, options, and macro data for autonomous agents and quant systems. Every endpoint returns the same envelope: `{ data, meta?, error? }`. Bearer auth with `cg_live_*` keys; anonymous tier available for public series (fear & greed, status, symbols).",
    "termsOfService": "https://skynetx.io/legal/terms",
    "contact": {
      "name": "SkynetX Support",
      "email": "support@skynetx.io",
      "url": "https://skynetx.io/docs/api"
    },
    "license": {
      "name": "Proprietary",
      "url": "https://skynetx.io/legal/terms"
    },
    "x-logo": {
      "url": "https://skynetx.io/icon.png",
      "altText": "SkynetX"
    },
    "x-llm-discovery": {
      "llmsTxt": "https://skynetx.io/llms.txt",
      "llmsFullTxt": "https://skynetx.io/llms-full.txt",
      "docsHuman": "https://skynetx.io/docs/api"
    }
  },
  "servers": [
    {
      "url": "https://skynetx.io",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local dev"
    }
  ],
  "tags": [
    {
      "name": "Futures",
      "description": "Derivatives data across all major CEXs — liquidations, open interest, funding, long/short ratios."
    },
    {
      "name": "Spot",
      "description": "Spot-market quote and directory endpoints — the symbol table is shared across asset classes."
    },
    {
      "name": "Coins",
      "description": "Per-asset rollups — aggregated price, OI, funding, and volume stats across every venue for a single base."
    },
    {
      "name": "Markets",
      "description": "Market-wide overviews — totals, gainers, losers, most-traded; the macro-lens over the coin universe."
    },
    {
      "name": "Exchanges",
      "description": "Venue directory and per-exchange rollups — OI, volume, instrument coverage, heartbeat status."
    },
    {
      "name": "Options",
      "description": "Deribit options chain, Greeks, put/call ratio, max-pain by underlying."
    },
    {
      "name": "On-chain",
      "description": "Network-level metrics sourced from CoinMetrics — realized cap, active addresses, NVT, and more."
    },
    {
      "name": "ETFs",
      "description": "Spot Bitcoin and Ethereum ETF flows, AUM, issuer breakdowns."
    },
    {
      "name": "Sentiment",
      "description": "Market-wide psychology indices. Start with fear & greed; more to come."
    },
    {
      "name": "Indicators",
      "description": "Derived cycle-signal dashboards — bull-market-peak, Pi Cycle, MVRV Z-Score, Rainbow band, and more. Computed from free on-chain primitives."
    },
    {
      "name": "Macro",
      "description": "Traditional-finance macro series (M2, DXY, gold) from FRED. Powers the 'crypto vs. global liquidity' overlays. Requires the FRED ingestion adapter to be live."
    },
    {
      "name": "Hyperliquid",
      "description": "Hyperliquid-specific data — HLP vault, trader leaderboards, whale positions, predicted funding."
    },
    {
      "name": "DEX",
      "description": "Cross-venue DEX comparison plus per-venue drill-downs — dYdX v4, GMX v2 (multi-chain), Drift + insurance fund, Paradex, Vertex."
    },
    {
      "name": "Meta",
      "description": "Directory and operational endpoints. Use `symbols` on startup, `status` for monitoring."
    }
  ],
  "paths": {
    "/api/v1/liquidations": {
      "get": {
        "summary": "Recent forced-close events across every derivatives exchange we ingest.",
        "description": "Use this when you need a raw feed of long or short liquidations — the textbook contrarian / squeeze signal. Results are newest-first. Filter by `coin` to isolate a single asset, or by `source` to compare venues (Binance vs Bybit vs OKX). When neither filter is supplied this is identical to the table on `/liquidations`.",
        "operationId": "liquidations",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows to return. Max 1000.",
            "schema": {
              "type": "number",
              "default": 100
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "description": "Pagination offset. Combine with `limit` for stable paging.",
            "schema": {
              "type": "number",
              "default": 0
            }
          },
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "Base asset (e.g. `BTC`, `ETH`). Case-insensitive, uppercase on the wire.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Exchange key — e.g. `binance_futures`, `bybit`, `htx_linear_swap`. Call `/api/v1/status` to see which adapters are active.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "ts": 1744835210123,
                      "canonicalSymbol": "BTCUSDT",
                      "side": "long",
                      "price": 63180.5,
                      "qtyUsd": 485231.22,
                      "source": "binance_futures"
                    },
                    {
                      "ts": 1744835204411,
                      "canonicalSymbol": "BTCUSDT",
                      "side": "short",
                      "price": 63205,
                      "qtyUsd": 91220,
                      "source": "bybit"
                    }
                  ],
                  "meta": {
                    "total": 2,
                    "limit": 5,
                    "offset": 0
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/open-interest": {
      "get": {
        "summary": "Cross-exchange open interest — totals, top coins, or per-coin time series.",
        "description": "Open interest tells you how much capital is sitting in derivatives positions right now. Without a `coin`, this returns the aggregate dashboard view (totals + top 20). With a `coin`, you get a bucketed time series across every source, plus a per-source breakdown so you can chart Binance vs Bybit OI side-by-side. Buckets are 5-minute aggregates to match the on-page chart.",
        "operationId": "openInterest",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "Base asset. When supplied, you get history + per-source split. When omitted, aggregate totals + top 20.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Only honoured when `coin` is supplied. Narrows the per-source breakdown to a single exchange.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Trailing lookback window.",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "24h",
                "7d"
              ],
              "default": "24h"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "BTC",
                    "window": {
                      "label": "24h",
                      "hours": 24
                    },
                    "history": [
                      {
                        "ts": 1744820400000,
                        "oiUsd": 28453120000
                      },
                      {
                        "ts": 1744820700000,
                        "oiUsd": 28511002100
                      }
                    ],
                    "perSource": {
                      "binance_futures": [
                        {
                          "ts": 1744820400000,
                          "oiUsd": 12410200000
                        }
                      ],
                      "bybit": [
                        {
                          "ts": 1744820400000,
                          "oiUsd": 8210100000
                        }
                      ]
                    }
                  },
                  "meta": {
                    "total": 2,
                    "window": "24h"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/funding-rates": {
      "get": {
        "summary": "Current funding matrix across every exchange, or per-coin history for carry-strategy backtests.",
        "description": "Funding rates are what perpetual swap longs pay shorts (or vice versa) to keep price pinned to spot. Without `coin`, you get a pivot table (coin × exchange) of the latest rates plus the current extremes — useful for spotting cross-venue funding arb. With a `coin`, you get a daily time series for that single asset, good for backtesting funding-carry strategies.",
        "operationId": "fundingRates",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "Switch to time-series mode for a single base asset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Only honoured when `coin` is supplied. Trailing window. Max 90.",
            "schema": {
              "type": "number",
              "default": 7
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "ETH",
                    "days": 7,
                    "points": [
                      {
                        "ts": 1744220400000,
                        "rate": 0.0001,
                        "apr": 10.95
                      },
                      {
                        "ts": 1744249200000,
                        "rate": 0.00008,
                        "apr": 8.76
                      }
                    ]
                  },
                  "meta": {
                    "total": 2,
                    "days": 7
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/long-short": {
      "get": {
        "summary": "Aggregate and elite-trader long/short positioning ratios — the classic contrarian feed.",
        "description": "Retail long/short ratios tell you where the crowd is positioned; top-trader ratios tell you where the smart money sits. When they diverge, that's tradeable information. The `type` parameter picks which ratio flavour you want. Pass a `coin` and you also get that coin's history so you can chart the ratio over time.",
        "operationId": "longShort",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "type",
            "in": "query",
            "required": true,
            "description": "Which ratio bucket to query.",
            "schema": {
              "type": "string",
              "enum": [
                "global_account",
                "top_trader_position",
                "top_trader_account",
                "elite_position",
                "taker_volume"
              ]
            }
          },
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "When supplied, the `history` array is populated for this base asset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "History window in hours. Max 720 (30 days).",
            "schema": {
              "type": "number",
              "default": 24
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Cap on the `latest` rows. Max 200.",
            "schema": {
              "type": "number",
              "default": 50
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "type": "top_trader_position",
                    "summary": {
                      "avgRatio": 1.12,
                      "bullish": 34,
                      "bearish": 16
                    },
                    "latest": [
                      {
                        "coin": "BTC",
                        "ratio": 1.27,
                        "longPct": 55.9,
                        "shortPct": 44.1,
                        "ts": 1744835000000
                      },
                      {
                        "coin": "ETH",
                        "ratio": 0.92,
                        "longPct": 47.9,
                        "shortPct": 52.1,
                        "ts": 1744835000000
                      }
                    ],
                    "history": [
                      {
                        "ts": 1744748600000,
                        "ratio": 1.18,
                        "longPct": 54.1,
                        "shortPct": 45.9
                      }
                    ]
                  },
                  "meta": {
                    "total": 2,
                    "limit": 50,
                    "historyPoints": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/funding/history": {
      "get": {
        "summary": "Per-coin funding rate history in 8-hour buckets, cross-exchange average.",
        "description": "Time series funding for a single base asset, averaged across every exchange that reports it. Same bucketing + cadence as the on-page funding history chart — use for carry-strategy backtests or for rendering a single-coin history line alongside the matrix.",
        "operationId": "futuresFundingHistory",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "description": "Base asset (BTC, ETH, …).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Trailing window. Max 90.",
            "schema": {
              "type": "number",
              "default": 7
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "BTC",
                    "days": 7,
                    "points": [
                      {
                        "ts": 1744220400000,
                        "avgRate": 0.00011,
                        "sampleCount": 5
                      }
                    ]
                  },
                  "meta": {
                    "total": 1,
                    "days": 7
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/funding/heatmap": {
      "get": {
        "summary": "Cross-exchange funding matrix (coins × exchanges) + current extremes.",
        "description": "Identical payload to the matrix arm of `/api/v1/funding-rates` — exposed here under the futures namespace so clients that group by product can find it. Ideal for spotting cross-venue funding divergence in one round trip.",
        "operationId": "futuresFundingHeatmap",
        "tags": [
          "Futures"
        ],
        "parameters": [],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "coins": [
                      "BTC",
                      "ETH"
                    ],
                    "exchanges": [
                      "binance_futures",
                      "bybit",
                      "okx",
                      "htx_linear_swap",
                      "hyperliquid"
                    ],
                    "matrix": {
                      "BTC": {
                        "binance_futures": {
                          "rate": 0.0001,
                          "ts": 1744834800000,
                          "intervalHours": 8
                        }
                      }
                    },
                    "newestTs": 1744834800000,
                    "extremes": {
                      "highest": [],
                      "lowest": [],
                      "average": 0.00005
                    }
                  },
                  "meta": {
                    "total": 2
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/funding/weighted": {
      "get": {
        "summary": "OI-weighted funding rate per coin — the honest carry number.",
        "description": "Plain averages overweight tiny venues. This endpoint weights each exchange's funding rate by its open interest on that instrument, so a 50bps rate on a $1M book doesn't drown out a 2bps rate on a $1B book.",
        "operationId": "futuresFundingWeighted",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows, sorted weighted-rate desc. Max 200.",
            "schema": {
              "type": "number",
              "default": 50
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "base": "BTC",
                      "weightedRate": 0.00011,
                      "simpleAvgRate": 0.00013,
                      "totalOiUsd": 29500000000,
                      "exchangeCount": 5,
                      "sampleCount": 7
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "limit": 20
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/oi/history": {
      "get": {
        "summary": "Per-coin OI history — aggregate + per-exchange split in 5-minute buckets.",
        "description": "Same shape as `/api/v1/open-interest` in per-coin mode, exposed under the futures namespace. Supply a `source` to narrow the per-source breakdown.",
        "operationId": "futuresOiHistory",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "description": "Base asset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Exchange filter — only applies to per-source breakdown.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "window",
            "in": "query",
            "required": false,
            "description": "Trailing window.",
            "schema": {
              "type": "string",
              "enum": [
                "1h",
                "24h",
                "7d",
                "30d"
              ],
              "default": "24h"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "BTC",
                    "window": {
                      "label": "24h",
                      "hours": 24
                    },
                    "history": [
                      {
                        "ts": 1744820400000,
                        "oiUsd": 28453120000
                      }
                    ],
                    "perSource": {
                      "binance_futures": [
                        {
                          "ts": 1744820400000,
                          "oiUsd": 12410200000
                        }
                      ]
                    }
                  },
                  "meta": {
                    "total": 1,
                    "window": "24h"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/oi/by-exchange": {
      "get": {
        "summary": "Cross-exchange OI pivot — per-venue sum, share, instrument count.",
        "description": "Who's holding the open interest right now? Ranks every exchange by aggregate OI (USD). Pass `coin` to scope to one base.",
        "operationId": "futuresOiByExchange",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "Optional base-asset scope.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "source": "binance_futures",
                      "oiUsd": 12410200000,
                      "sharePct": 42.1,
                      "instrumentCount": 1,
                      "lastTs": 1744834800000
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "coin": "BTC",
                    "aggregateUsd": 29500000000
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/oi/dominance": {
      "get": {
        "summary": "Coin-level OI dominance — share of aggregate OI per coin.",
        "description": "Ranks coins by their share of total derivatives open interest. Useful for BTC-dominance charts and for spotting alts pulling OI.",
        "operationId": "futuresOiDominance",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Coins to return. Max 100.",
            "schema": {
              "type": "number",
              "default": 20
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "totals": {
                      "totalUsd": 29500000000,
                      "changePct24h": 2.1,
                      "dominantExchange": "binance_futures",
                      "dominantSharePct": 42.1,
                      "instrumentCount": 380,
                      "sourceCount": 5,
                      "lastTs": 1744834800000
                    },
                    "coins": [
                      {
                        "base": "BTC",
                        "oiUsd": 14200000000,
                        "dominancePct": 48.1,
                        "change24hPct": 1.8,
                        "dominantExchange": "binance_futures",
                        "dominantSharePct": 41,
                        "exchangeCount": 5
                      }
                    ]
                  },
                  "meta": {
                    "total": 1,
                    "limit": 5
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/volume": {
      "get": {
        "summary": "Per-coin 24h futures notional (perp + dated futures).",
        "description": "Sums the trade table across every non-spot instrument per coin for the last 24h. Optional `coin`/`source` filters scope the view. Ranked volume-desc.",
        "operationId": "futuresVolume",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows. Max 500.",
            "schema": {
              "type": "number",
              "default": 100
            }
          },
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "Base asset filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Exchange filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "base": "BTC",
                      "volume24hUsd": 85200000000,
                      "tradeCount": 2100000,
                      "venueCount": 5,
                      "instrumentCount": 14,
                      "lastTs": 1744834800000
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "limit": 20
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/premium-index": {
      "get": {
        "summary": "Latest mark-vs-index premium snapshot across every connected perp venue.",
        "description": "The premium index is the percentage gap between the perp's mark price and its index (spot-basket) reference. Persistently positive values across venues = longs crowded (contango); negative = shorts crowded. Returns `tableMissing: true` until the premium_index collector lands.",
        "operationId": "futuresPremiumIndex",
        "tags": [
          "Futures"
        ],
        "parameters": [],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "rows": [
                      {
                        "source": "binance_futures",
                        "base": "BTC",
                        "canonicalSymbol": "BTCUSDT",
                        "markPrice": 63201.5,
                        "indexPrice": 63175.2,
                        "premiumAbs": 26.3,
                        "premiumPct": 0.0416,
                        "ts": 1744835000000
                      }
                    ],
                    "tableMissing": false,
                    "lastTs": 1744835000000
                  },
                  "meta": {
                    "total": 1,
                    "tableMissing": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/premium-index/history": {
      "get": {
        "summary": "Per-coin cross-exchange average premium %, bucketed to 5-minute floors.",
        "description": "Time series for a single base asset — the cross-exchange arithmetic average premium % within each 5-minute bucket. Intended for sparkline / chart rendering.",
        "operationId": "futuresPremiumIndexHistory",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "coin",
            "in": "query",
            "required": true,
            "description": "Base asset.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Trailing days. Max 90.",
            "schema": {
              "type": "number",
              "default": 30
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "BTC",
                    "days": 7,
                    "points": [
                      {
                        "ts": 1744220400000,
                        "premiumPct": 0.031
                      },
                      {
                        "ts": 1744220700000,
                        "premiumPct": 0.028
                      }
                    ]
                  },
                  "meta": {
                    "total": 2,
                    "days": 7
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/basis": {
      "get": {
        "summary": "Latest annualised perp-vs-spot basis per base asset. Cash-and-carry telemetry.",
        "description": "Basis is the perp mark minus the spot last-trade. A persistently positive basis invites the classic cash-and-carry: long spot, short perp, capture the funding spread. Both legs need collectors — the endpoint returns `tableMissing: true` while either perp_mark_price or spot_price adapters are still pending.",
        "operationId": "futuresBasis",
        "tags": [
          "Futures"
        ],
        "parameters": [],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "rows": [
                      {
                        "base": "BTC",
                        "spotPrice": 63120.5,
                        "perpPrice": 63210,
                        "basisAbs": 89.5,
                        "basisPct": 0.1418,
                        "annualizedPct": 51.75,
                        "perpSource": "binance_futures",
                        "spotSource": "binance",
                        "venueCount": 6,
                        "ts": 1744835000000
                      }
                    ],
                    "tableMissing": false,
                    "lastTs": 1744835000000
                  },
                  "meta": {
                    "total": 1,
                    "tableMissing": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/taker-volume": {
      "get": {
        "summary": "Taker buy vs sell volume per coin over a trailing window.",
        "description": "Which side is crossing the spread? Positive `bias` means aggressive buyers ate the offer more than aggressive sellers ate the bid — a real-time aggression gauge that often front-runs spot and OI moves by seconds.",
        "operationId": "futuresTakerVolume",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Trailing window, hours. Max 720.",
            "schema": {
              "type": "number",
              "default": 24
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "rows": [
                      {
                        "base": "BTC",
                        "buyVolume": 12400000000,
                        "sellVolume": 11800000000,
                        "totalVolume": 24200000000,
                        "buyShare": 0.5124,
                        "sellShare": 0.4876,
                        "bias": 0.0248,
                        "venueCount": 5,
                        "lastTs": 1744834800000
                      }
                    ],
                    "windowHours": 24,
                    "totals": {
                      "buyVolume": 12400000000,
                      "sellVolume": 11800000000,
                      "bias": 0.0248
                    },
                    "lastTs": 1744834800000
                  },
                  "meta": {
                    "total": 1,
                    "windowHours": 24
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/taker-volume/{base}": {
      "get": {
        "summary": "Per-coin taker buy/sell split for a single base asset.",
        "description": "Path-scoped variant of `futures/taker-volume`. Returns 404 when no taker rows have been reported for the asset inside the window.",
        "operationId": "futuresTakerVolumeBase",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "base",
            "in": "path",
            "required": true,
            "description": "Base asset (BTC, ETH, ...).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Trailing hours. Max 720.",
            "schema": {
              "type": "number",
              "default": 24
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "BTC",
                    "buyVolume": 12400000000,
                    "sellVolume": 11800000000,
                    "totalVolume": 24200000000,
                    "buyShare": 0.5124,
                    "sellShare": 0.4876,
                    "bias": 0.0248,
                    "venueCount": 5,
                    "lastTs": 1744834800000,
                    "windowHours": 24
                  },
                  "meta": {
                    "total": 1,
                    "windowHours": 24
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "startup",
        "x-rate-limit-rpm": 80
      }
    },
    "/api/v1/futures/largest-liquidations": {
      "get": {
        "summary": "Top-N single liquidation events by USD notional over a trailing window, filterable.",
        "description": "Ranks individual liquidation prints by notional ($) inside the window. Filter by coin, exchange, side, or minimum size. Response also carries facets (every coin + exchange reporting in the window) so clients can render filter bars without an additional round-trip.",
        "operationId": "futuresLargestLiquidations",
        "tags": [
          "Futures"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows. Max 500.",
            "schema": {
              "type": "number",
              "default": 100
            }
          },
          {
            "name": "days",
            "in": "query",
            "required": false,
            "description": "Trailing window. Max 90.",
            "schema": {
              "type": "number",
              "default": 7
            }
          },
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "Base asset filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Exchange filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "description": "Side filter.",
            "schema": {
              "type": "string",
              "enum": [
                "long",
                "short"
              ]
            }
          },
          {
            "name": "minUsd",
            "in": "query",
            "required": false,
            "description": "Minimum notional, USD.",
            "schema": {
              "type": "number"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "rows": [
                      {
                        "id": 4421,
                        "source": "bybit",
                        "base": "BTC",
                        "canonicalSymbol": "BTCUSDT",
                        "side": "long",
                        "price": 63180.5,
                        "qtyBase": 120.5,
                        "qtyUsd": 7610000,
                        "ts": 1744835000000
                      }
                    ],
                    "totalUsd": 7610000,
                    "totalLongUsd": 7610000,
                    "totalShortUsd": 0,
                    "biggestUsd": 7610000,
                    "distinctCoins": 1,
                    "distinctSources": 1,
                    "windowDays": 7,
                    "lastTs": 1744835000000,
                    "facets": {
                      "coins": [
                        "BTC"
                      ],
                      "sources": [
                        "bybit"
                      ]
                    }
                  },
                  "meta": {
                    "total": 1,
                    "limit": 100,
                    "days": 7
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/spot/large-orders": {
      "get": {
        "summary": "Whale spot orderbook prints above a configurable notional threshold.",
        "description": "Scans the `large_order` table for spot-kind instruments, filtered to prints >= `minUsd`. Returns rows + summary totals + facet sets so a UI can render a complete filter bar in one shot. `tableMissing: true` signals the collector hasn't written yet on a fresh install.",
        "operationId": "spotLargeOrders",
        "tags": [
          "Spot"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows. Max 500.",
            "schema": {
              "type": "number",
              "default": 50
            }
          },
          {
            "name": "minUsd",
            "in": "query",
            "required": false,
            "description": "Minimum notional, USD.",
            "schema": {
              "type": "number",
              "default": 500000
            }
          },
          {
            "name": "coin",
            "in": "query",
            "required": false,
            "description": "Base asset filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "source",
            "in": "query",
            "required": false,
            "description": "Exchange filter.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "side",
            "in": "query",
            "required": false,
            "description": "Orderbook side.",
            "schema": {
              "type": "string",
              "enum": [
                "bid",
                "ask"
              ]
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "rows": [
                      {
                        "id": 128,
                        "source": "binance",
                        "base": "BTC",
                        "quote": "USDT",
                        "side": "bid",
                        "price": 63120.5,
                        "qtyBase": 25.4,
                        "qtyUsd": 1603260,
                        "ts": 1744835000000,
                        "status": "open"
                      }
                    ],
                    "tableMissing": false,
                    "totalUsd": 1603260,
                    "bidUsd": 1603260,
                    "askUsd": 0,
                    "distinctCoins": 1,
                    "distinctSources": 1,
                    "lastTs": 1744835000000,
                    "facets": {
                      "coins": [
                        "BTC"
                      ],
                      "sources": [
                        "binance"
                      ]
                    },
                    "appliedMinUsd": 1000000,
                    "appliedLimit": 50
                  },
                  "meta": {
                    "total": 1,
                    "limit": 50,
                    "minUsd": 1000000,
                    "tableMissing": false
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "standard",
        "x-rate-limit-rpm": 300
      }
    },
    "/api/v1/spot/volumes": {
      "get": {
        "summary": "Per-coin 24h spot volume leaderboard across all tracked venues.",
        "description": "Sums the spot `trade` table per base asset across every venue in the last 24h. Returns notional, trade count, distinct venue count, and freshness timestamp. Ranked volume-desc.",
        "operationId": "spotVolumes",
        "tags": [
          "Spot"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows. Max 500.",
            "schema": {
              "type": "number",
              "default": 100
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "base": "BTC",
                      "volume24hUsd": 18200000000,
                      "tradeCount": 820000,
                      "venueCount": 4,
                      "lastTs": 1744834800000
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "limit": 20
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/spot/exchanges": {
      "get": {
        "summary": "Per-venue spot rankings — 24h volume, pair count, share-of-total.",
        "description": "Spot equivalent of `/api/v1/exchanges`, scoped to the spot slice of the trade table.",
        "operationId": "spotExchanges",
        "tags": [
          "Spot"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows. Max 200.",
            "schema": {
              "type": "number",
              "default": 50
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "source": "binance",
                      "volume24hUsd": 8200000000,
                      "tradeCount": 420000,
                      "pairCount": 210,
                      "coinCount": 185,
                      "sharePct": 35.1,
                      "lastTs": 1744834800000
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "limit": 50
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/spot/exchanges/{source}": {
      "get": {
        "summary": "Single-venue spot rollup.",
        "description": "Same row shape as `/api/v1/spot/exchanges` but scoped to a single source. Returns 404 when the venue has no spot activity in the last 24h.",
        "operationId": "spotExchangeDetail",
        "tags": [
          "Spot"
        ],
        "parameters": [
          {
            "name": "source",
            "in": "path",
            "required": true,
            "description": "Exchange slug (e.g. `binance`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "source": "binance",
                    "volume24hUsd": 8200000000,
                    "tradeCount": 420000,
                    "pairCount": 210,
                    "coinCount": 185,
                    "sharePct": 35.1,
                    "lastTs": 1744834800000
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/spot/pairs": {
      "get": {
        "summary": "Directory of tracked spot pairs with venue coverage + 24h volume.",
        "description": "Every spot instrument we ingest, grouped by canonical symbol, with distinct venue count and 24h notional. Sorted volume-desc.",
        "operationId": "spotPairs",
        "tags": [
          "Spot"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows. Max 2000.",
            "schema": {
              "type": "number",
              "default": 200
            }
          },
          {
            "name": "base",
            "in": "query",
            "required": false,
            "description": "Optional base filter.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "canonicalSymbol": "BTCUSDT",
                      "base": "BTC",
                      "quote": "USDT",
                      "venueCount": 4,
                      "volume24hUsd": 18200000000,
                      "lastTs": 1744834800000
                    }
                  ],
                  "meta": {
                    "total": 1,
                    "limit": 200
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/spot/price/{base}": {
      "get": {
        "summary": "Latest spot price for a single coin across every reporting venue.",
        "description": "Returns the freshest spot tick (`bestPrice`/`bestSource`/`bestTs`) plus the full per-venue comparison list.",
        "operationId": "spotPriceBase",
        "tags": [
          "Spot"
        ],
        "parameters": [
          {
            "name": "base",
            "in": "path",
            "required": true,
            "description": "Base asset (e.g. `BTC`).",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "BTC",
                    "bestPrice": 63180.5,
                    "bestSource": "binance",
                    "bestTs": 1744834810000,
                    "venues": [
                      {
                        "source": "binance",
                        "price": 63180.5,
                        "ts": 1744834810000,
                        "canonicalSymbol": "BTCUSDT"
                      }
                    ]
                  },
                  "meta": {
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/coins": {
      "get": {
        "summary": "One-call rollup table — every base asset we track, blended price, 24h change, volume, OI, and average funding.",
        "description": "The canonical cross-asset rollup: one row per base asset with a blended price anchor (Hyperliquid-preferred), 24h change %, 24h notional USD volume, aggregate open interest with 24h delta, and a venue-averaged funding rate. Backed by `getCoinsOverview` — the same helper that powers `/coins` on the web surface, so numbers reconcile 1:1 with the on-page table.",
        "operationId": "coinsList",
        "tags": [
          "Coins"
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Rows. Max 500.",
            "schema": {
              "type": "number",
              "default": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "required": false,
            "description": "Sort field.",
            "schema": {
              "type": "string",
              "enum": [
                "rank",
                "price",
                "change24h",
                "volume",
                "oi",
                "oiChange",
                "funding"
              ],
              "default": "rank"
            }
          },
          {
            "name": "dir",
            "in": "query",
            "required": false,
            "description": "Sort direction.",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": [
                    {
                      "base": "BTC",
                      "price": 63180.5,
                      "priceChange24hPct": 1.82,
                      "volume24hUsd": 28450000000,
                      "oiTotalUsd": 24100000000,
                      "oiChange24hPct": 2.4,
                      "avgFundingRate": 0.000108,
                      "rank": 1
                    },
                    {
                      "base": "ETH",
                      "price": 3280.15,
                      "priceChange24hPct": -0.55,
                      "volume24hUsd": 14200000000,
                      "oiTotalUsd": 12400000000,
                      "oiChange24hPct": -0.8,
                      "avgFundingRate": 0.000092,
                      "rank": 2
                    }
                  ],
                  "meta": {
                    "total": 2,
                    "limit": 3,
                    "sort": "volume",
                    "dir": "desc"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/coins/{base}": {
      "get": {
        "summary": "Single-coin deep view — overview row + per-exchange OI, funding, and 24h volume.",
        "description": "Deep detail for a single base asset. Returns the `getCoinsOverview` row for this coin plus three per-exchange breakdowns (latest OI in USD, latest funding rate + interval, 24h notional volume). Responds 404 `UNKNOWN_COIN` when the symbol is unknown or has zero data — clients should treat that as 'try again in a few minutes' for brand-new listings.",
        "operationId": "coinsDetail",
        "tags": [
          "Coins"
        ],
        "parameters": [
          {
            "name": "base",
            "in": "path",
            "required": true,
            "description": "Base asset code (BTC, ETH, SOL…). Case-insensitive; uppercased on the wire.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "BTC",
                    "overview": {
                      "base": "BTC",
                      "price": 63180.5,
                      "priceChange24hPct": 1.82,
                      "volume24hUsd": 28450000000,
                      "oiTotalUsd": 24100000000,
                      "oiChange24hPct": 2.4,
                      "avgFundingRate": 0.000108,
                      "rank": 1
                    },
                    "perExchange": {
                      "openInterest": [
                        {
                          "source": "binance_futures",
                          "oiUsd": 9800000000
                        },
                        {
                          "source": "bybit",
                          "oiUsd": 6200000000
                        }
                      ],
                      "funding": [
                        {
                          "source": "binance_futures",
                          "rate": 0.0001,
                          "intervalHours": 8,
                          "ts": 1744834800000
                        }
                      ],
                      "volume24h": [
                        {
                          "source": "binance_futures",
                          "volumeUsd": 14200000000
                        }
                      ]
                    }
                  },
                  "meta": {}
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/coins/{base}/exchanges": {
      "get": {
        "summary": "Per-exchange snapshot for a single base asset — one row per venue.",
        "description": "Folds the three per-exchange breakdowns from `/coins/{base}` into a single denormalised row per venue. Each row carries latest OI (USD), 24h notional volume (USD), latest funding rate + interval, and the distinct instrument count covering this base on that venue. Venues with zero activity across every metric are dropped. Sorted by OI descending.",
        "operationId": "coinsExchanges",
        "tags": [
          "Coins"
        ],
        "parameters": [
          {
            "name": "base",
            "in": "path",
            "required": true,
            "description": "Base asset code.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "BTC",
                    "exchanges": [
                      {
                        "source": "binance_futures",
                        "oiUsd": 9800000000,
                        "volume24hUsd": 14200000000,
                        "fundingRate": 0.0001,
                        "fundingIntervalHours": 8,
                        "fundingTs": 1744834800000,
                        "instrumentCount": 2
                      }
                    ]
                  },
                  "meta": {
                    "total": 1
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "500": {
            "description": "Server error (`DB_ERROR` or `INTERNAL_ERROR`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        },
        "x-min-tier": "hobbyist",
        "x-rate-limit-rpm": 30
      }
    },
    "/api/v1/coins/{base}/history": {
      "get": {
        "summary": "OHLCV history for a single coin, bucketed to the requested interval across all venues.",
        "description": "Cross-venue OHLCV rollup built from `candle_1m` rows. For each bucket we fold (first open, MAX high, MIN low, last close, SUM quote volume, SUM trade count) across every instrument under this base. Use this when you want a single line for the whole asset class; for venue-specific bars use `/api/v1/candles` with an `exchange` filter.",
        "operationId": "coinsHistory",
        "tags": [
          "Coins"
        ],
        "parameters": [
          {
            "name": "base",
            "in": "path",
            "required": true,
            "description": "Base asset code.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "interval",
            "in": "query",
            "required": false,
            "description": "Bucket size.",
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "5m",
                "15m",
                "1h",
                "4h",
                "1d"
              ],
              "default": "1h"
            }
          },
          {
            "name": "hours",
            "in": "query",
            "required": false,
            "description": "Trailing window in hours. Max 720 (30 days).",
            "schema": {
              "type": "number",
              "default": 24
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "description": "Row cap. Max 5000.",
            "schema": {
              "type": "number",
              "default": 500
            }
          }
        ],
        "security": [
          {
            "BearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success envelope",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiEnvelope"
                },
                "example": {
                  "data": {
                    "base": "BTC",
                    "interval": "1h",
                    "hours": 24,
                    "candles": [
                      {
                        "ts": 1744834800000,
                        "open": 62900.1,
                        "high": 63250,
                        "low": 62850,
                        "close": 63180.5,
                        "volumeUsd": 1250000000,
                        "trades": 48210
                      }
                    ]
                  },
                  "meta": {
                    "total": 1,
                    "interval": "1h",
                    "hours": 24
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request (validation failure). `error.code` = `BAD_PARAM`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded. Honour `Retry-After`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
[...]
