openapi: 3.0.0
servers:
  - url: 'http://sqs.amazonaws.com/'
info:
  version: '2012-11-05'
  x-release: v4
  title: Amazon Simple Queue Service
  description: '<p>Welcome to the <i>Amazon Simple Queue Service API Reference</i>.</p> <p>Amazon Simple Queue Service (Amazon SQS) is a reliable, highly-scalable hosted queue for storing messages as they travel between applications or microservices. Amazon SQS moves data between distributed application components and helps you decouple these components.</p> <note> <p> <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/standard-queues.html">Standard queues</a> are available in all regions. <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html">FIFO queues</a> are available in US West (Oregon) and US East (Ohio).</p> </note> <p>You can use <a href="http://aws.amazon.com/tools/#sdk">AWS SDKs</a> to access Amazon SQS using your favorite programming language. The SDKs perform tasks such as the following automatically:</p> <ul> <li> <p>Cryptographically sign your service requests</p> </li> <li> <p>Retry requests</p> </li> <li> <p>Handle error responses</p> </li> </ul> <p> <b>Additional Information</b> </p> <ul> <li> <p> <a href="http://aws.amazon.com/sqs/">Amazon SQS Product Page</a> </p> </li> <li> <p> <i>Amazon SQS Developer Guide</i> </p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/MakingRequestsArticle.html">Making API Requests</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-message-attributes.html">Using Amazon SQS Message Attributes</a> </p> </li> <li> <p> <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html">Using Amazon SQS Dead Letter Queues</a> </p> </li> </ul> </li> <li> <p> <i>Amazon Web Services General Reference</i> </p> <ul> <li> <p> <a href="http://docs.aws.amazon.com/general/latest/gr/rande.html#sqs_region">Regions and Endpoints</a> </p> </li> </ul> </li> </ul>'
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: sqs
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/sqs-2012-11-05.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/sqs/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddPermission
      description: '<p>Adds a permission to a queue for a specific <a href="http://docs.aws.amazon.com/general/latest/gr/glos-chap.html#P">principal</a>. This allows sharing access to the queue.</p> <p>When you create a queue, you have full control access rights for the queue. Only you, the owner of the queue, can grant or deny permissions to the queue. For more information about these permissions, see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/acp-overview.html">Shared Queues</a> in the <i>Amazon SQS Developer Guide</i>.</p> <note> <p> <code>AddPermission</code> writes an Amazon-SQS-generated policy. If you want to write your own policy, use <code> <a>SetQueueAttributes</a> </code> to upload your policy. For more information about writing your own policy, see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/AccessPolicyLanguage.html">Using The Access Policy Language</a> in the <i>Amazon SQS Developer Guide</i>.</p> <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> <p> <code>&amp;Attribute.1=this</code> </p> <p> <code>&amp;Attribute.2=that</code> </p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: OverLimit
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OverLimit'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddPermissionRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ChangeMessageVisibility':
    post:
      operationId: ChangeMessageVisibility
      description: '<p>Changes the visibility timeout of a specified message in a queue to a new value. The maximum allowed timeout value is 12 hours. Thus, you can''t extend the timeout of a message in an existing queue to more than a total visibility timeout of 12 hours. For more information, see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>.</p> <p>For example, you have a message and with the default visibility timeout of 5 minutes. After 3 minutes, you call <code>ChangeMessageVisiblity</code> with a timeout of 10 minutes. At that time, the timeout for the message is extended by 10 minutes beyond the time of the <code>ChangeMessageVisibility</code> action. This results in a total visibility timeout of 13 minutes. You can continue to call the <code>ChangeMessageVisibility</code> to extend the visibility timeout to a maximum of 12 hours. If you try to extend the visibility timeout beyond 12 hours, your request is rejected.</p> <p>A message is considered to be <i>in flight</i> after it''s received from a queue by a consumer, but not yet deleted from the queue.</p> <p>For standard queues, there can be a maximum of 120,000 inflight messages per queue. If you reach this limit, Amazon SQS returns the <code>OverLimit</code> error message. To avoid reaching the limit, you should delete messages from the queue after they''re processed. You can also increase the number of queues you use to process your messages.</p> <p>For FIFO queues, there can be a maximum of 20,000 inflight messages per queue. If you reach this limit, Amazon SQS returns no error messages.</p> <important> <p>If you attempt to set the <code>VisibilityTimeout</code> to a value greater than the maximum time left, Amazon SQS returns an error. Amazon SQS doesn''t automatically recalculate and increase the timeout to the maximum remaining time.</p> <p>Unlike with a queue, when you change the visibility timeout for a specific message the timeout value is applied immediately but isn''t saved in memory for that message. If you don''t delete a message after it is received, the visibility timeout for the message reverts to the original timeout value (not to the value you set using the <code>ChangeMessageVisibility</code> action) the next time the message is received.</p> </important>'
      responses:
        '200':
          description: Success
        '480':
          description: MessageNotInflight
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/MessageNotInflight'
        '481':
          description: ReceiptHandleIsInvalid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReceiptHandleIsInvalid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeMessageVisibilityRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ChangeMessageVisibilityBatch':
    post:
      operationId: ChangeMessageVisibilityBatch
      description: '<p>Changes the visibility timeout of multiple messages. This is a batch version of <code> <a>ChangeMessageVisibility</a>.</code> The result of the action on each message is reported individually in the response. You can send up to 10 <code> <a>ChangeMessageVisibility</a> </code> requests with each <code>ChangeMessageVisibilityBatch</code> action.</p> <important> <p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</p> </important> <note> <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> <p> <code>&amp;Attribute.1=this</code> </p> <p> <code>&amp;Attribute.2=that</code> </p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ChangeMessageVisibilityBatchResult'
        '480':
          description: TooManyEntriesInBatchRequest
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TooManyEntriesInBatchRequest'
        '481':
          description: EmptyBatchRequest
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyBatchRequest'
        '482':
          description: BatchEntryIdsNotDistinct
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchEntryIdsNotDistinct'
        '483':
          description: InvalidBatchEntryId
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidBatchEntryId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChangeMessageVisibilityBatchRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateQueue':
    post:
      operationId: CreateQueue
      description: '<p>Creates a new standard or FIFO queue. You can pass one or more attributes in the request. Keep the following caveats in mind:</p> <ul> <li> <p>If you don''t specify the <code>FifoQueue</code> attribute, Amazon SQS creates a standard queue.</p> <note> <p> You can''t change the queue type after you create it and you can''t convert an existing standard queue into a FIFO queue. You must either create a new FIFO queue for your application or delete your existing standard queue and recreate it as a FIFO queue. For more information, see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html#FIFO-queues-moving"> Moving From a Standard Queue to a FIFO Queue</a> in the <i>Amazon SQS Developer Guide</i>. </p> </note> </li> <li> <p>If you don''t provide a value for an attribute, the queue is created with the default value for the attribute.</p> </li> <li> <p>If you delete a queue, you must wait at least 60 seconds before creating a queue with the same name.</p> </li> </ul> <p>To successfully create a new queue, you must provide a queue name that adheres to the <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/limits-queues.html">limits related to queues</a> and is unique within the scope of your queues.</p> <p>To get the queue URL, use the <code> <a>GetQueueUrl</a> </code> action. <code> <a>GetQueueUrl</a> </code> requires only the <code>QueueName</code> parameter. be aware of existing queue names:</p> <ul> <li> <p>If you provide the name of an existing queue along with the exact names and values of all the queue''s attributes, <code>CreateQueue</code> returns the queue URL for the existing queue.</p> </li> <li> <p>If the queue name, attribute names, or attribute values don''t match an existing queue, <code>CreateQueue</code> returns an error.</p> </li> </ul> <note> <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> <p> <code>&amp;Attribute.1=this</code> </p> <p> <code>&amp;Attribute.2=that</code> </p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/CreateQueueResult'
        '480':
          description: QueueDeletedRecently
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueueDeletedRecently'
        '481':
          description: QueueNameExists
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueueNameExists'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateQueueRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteMessage':
    post:
      operationId: DeleteMessage
      description: '<p>Deletes the specified message from the specified queue. You specify the message by using the message''s <i>receipt handle</i> and not the <i>MessageId</i> you receive when you send the message. Even if the message is locked by another reader due to the visibility timeout setting, it is still deleted from the queue. If you leave a message in the queue for longer than the queue''s configured retention period, Amazon SQS automatically deletes the message. </p> <note> <p> The receipt handle is associated with a specific instance of receiving the message. If you receive a message more than once, the receipt handle you get each time you receive the message is different. If you don''t provide the most recently received receipt handle for the message when you use the <code>DeleteMessage</code> action, the request succeeds, but the message might not be deleted.</p> <p>For standard queues, it is possible to receive a message even after you delete it. This might happen on rare occasions if one of the servers storing a copy of the message is unavailable when you send the request to delete the message. The copy remains on the server and might be returned to you on a subsequent receive request. You should ensure that your application is idempotent, so that receiving a message more than once does not cause issues.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidIdFormat
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidIdFormat'
        '481':
          description: ReceiptHandleIsInvalid
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReceiptHandleIsInvalid'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMessageRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteMessageBatch':
    post:
      operationId: DeleteMessageBatch
      description: '<p>Deletes up to ten messages from the specified queue. This is a batch version of <code> <a>DeleteMessage</a>.</code> The result of the action on each message is reported individually in the response.</p> <important> <p>Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</p> </important> <note> <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> <p> <code>&amp;Attribute.1=this</code> </p> <p> <code>&amp;Attribute.2=that</code> </p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DeleteMessageBatchResult'
        '480':
          description: TooManyEntriesInBatchRequest
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TooManyEntriesInBatchRequest'
        '481':
          description: EmptyBatchRequest
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyBatchRequest'
        '482':
          description: BatchEntryIdsNotDistinct
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchEntryIdsNotDistinct'
        '483':
          description: InvalidBatchEntryId
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidBatchEntryId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMessageBatchRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteQueue':
    post:
      operationId: DeleteQueue
      description: '<p>Deletes the queue specified by the <code>QueueUrl</code>, even if the queue is empty. If the specified queue doesn''t exist, Amazon SQS returns a successful response.</p> <important> <p>Be careful with the <code>DeleteQueue</code> action: When you delete a queue, any messages in the queue are no longer available. </p> </important> <p>When you delete a queue, the deletion process takes up to 60 seconds. Requests you send involving that queue during the 60 seconds might succeed. For example, a <code> <a>SendMessage</a> </code> request might succeed, but after 60 seconds the queue and the message you sent no longer exist.</p> <p>When you delete a queue, you must wait at least 60 seconds before creating a queue with the same name. </p>'
      responses:
        '200':
          description: Success
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteQueueRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetQueueAttributes':
    post:
      operationId: GetQueueAttributes
      description: '<p>Gets attributes for the specified queue.</p> <note> <p>To determine whether a queue is <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/FIFO-queues.html">FIFO</a>, you can check whether <code>QueueName</code> ends with the <code>.fifo</code> suffix.</p> </note> <note> <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> <p> <code>&amp;Attribute.1=this</code> </p> <p> <code>&amp;Attribute.2=that</code> </p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetQueueAttributesResult'
        '480':
          description: InvalidAttributeName
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidAttributeName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetQueueAttributesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetQueueUrl':
    post:
      operationId: GetQueueUrl
      description: '<p>Returns the URL of an existing queue. This action provides a simple way to retrieve the URL of an Amazon SQS queue.</p> <p>To access a queue that belongs to another AWS account, use the <code>QueueOwnerAWSAccountId</code> parameter to specify the account ID of the queue''s owner. The queue''s owner must grant you permission to access the queue. For more information about shared queue access, see <code> <a>AddPermission</a> </code> or see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/acp-overview.html">Shared Queues</a> in the <i>Amazon SQS Developer Guide</i>. </p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/GetQueueUrlResult'
        '480':
          description: QueueDoesNotExist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueueDoesNotExist'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetQueueUrlRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListDeadLetterSourceQueues':
    post:
      operationId: ListDeadLetterSourceQueues
      description: '<p>Returns a list of your queues that have the <code>RedrivePolicy</code> queue attribute configured with a dead letter queue.</p> <p>For more information about using dead letter queues, see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-dead-letter-queues.html">Using Amazon SQS Dead Letter Queues</a> in the <i>Amazon SQS Developer Guide</i>.</p>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListDeadLetterSourceQueuesResult'
        '480':
          description: QueueDoesNotExist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueueDoesNotExist'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListDeadLetterSourceQueuesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListQueues':
    post:
      operationId: ListQueues
      description: 'Returns a list of your queues. The maximum number of queues that can be returned is 1,000. If you specify a value for the optional <code>QueueNamePrefix</code> parameter, only queues with a name that begins with the specified value are returned.'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListQueuesResult'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListQueuesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#PurgeQueue':
    post:
      operationId: PurgeQueue
      description: '<p>Deletes the messages in a queue specified by the <code>QueueURL</code> parameter.</p> <important> <p>When you use the <code>PurgeQueue</code> action, you can''t retrieve a message deleted from a queue.</p> </important> <p>When you purge a queue, the message deletion process takes up to 60 seconds. All messages sent to the queue before calling the <code>PurgeQueue</code> action are deleted. Messages sent to the queue while it is being purged might be deleted. While the queue is being purged, messages sent to the queue before <code>PurgeQueue</code> is called might be received, but are deleted within the next minute.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: QueueDoesNotExist
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/QueueDoesNotExist'
        '481':
          description: PurgeQueueInProgress
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PurgeQueueInProgress'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurgeQueueRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ReceiveMessage':
    post:
      operationId: ReceiveMessage
      description: '<p>Retrieves one or more messages (up to 10), from the specified queue. Using the <code>WaitTimeSeconds</code> parameter enables long-poll support. For more information, see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-long-polling.html">Amazon SQS Long Polling</a> in the <i>Amazon SQS Developer Guide</i>. </p> <p>Short poll is the default behavior where a weighted random set of machines is sampled on a <code>ReceiveMessage</code> call. Thus, only the messages on the sampled machines are returned. If the number of messages in the queue is small (fewer than 1,000), you most likely get fewer messages than you requested per <code>ReceiveMessage</code> call. If the number of messages in the queue is extremely small, you might not receive any messages in a particular <code>ReceiveMessage</code> response. If this happens, repeat the request. </p> <p>For each message returned, the response includes the following:</p> <ul> <li> <p>The message body.</p> </li> <li> <p>An MD5 digest of the message body. For information about MD5, see <a href="https://www.ietf.org/rfc/rfc1321.txt">RFC1321</a>.</p> </li> <li> <p>The <code>MessageId</code> you received when you sent the message to the queue.</p> </li> <li> <p>The receipt handle.</p> </li> <li> <p>The message attributes.</p> </li> <li> <p>An MD5 digest of the message attributes.</p> </li> </ul> <p>The receipt handle is the identifier you must provide when deleting the message. For more information, see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-queue-message-identifiers.html">Queue and Message Identifiers</a> in the <i>Amazon SQS Developer Guide</i>.</p> <p>You can provide the <code>VisibilityTimeout</code> parameter in your request. The parameter is applied to the messages that Amazon SQS returns in the response. If you don''t include the parameter, the overall visibility timeout for the queue is used for the returned messages. For more information, see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-visibility-timeout.html">Visibility Timeout</a> in the <i>Amazon SQS Developer Guide</i>.</p> <p>A message that isn''t deleted or a message whose visibility isn''t extended before the visibility timeout expires counts as a failed receive. Depending on the configuration of the queue, the message might be sent to the dead letter queue.</p> <note> <p>In the future, new attributes might be added. If you write code that calls this action, we recommend that you structure your code so that it can handle new attributes gracefully.</p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ReceiveMessageResult'
        '480':
          description: OverLimit
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OverLimit'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReceiveMessageRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RemovePermission':
    post:
      operationId: RemovePermission
      description: Revokes any permissions in the queue policy that matches the specified <code>Label</code> parameter. Only the owner of the queue can remove permissions.
      responses:
        '200':
          description: Success
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemovePermissionRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SendMessage':
    post:
      operationId: SendMessage
      description: '<p>Delivers a message to the specified queue.</p> <important> <p>A message can include only XML, JSON, and unformatted text. The following Unicode characters are allowed:</p> <p> <code>#x9</code> | <code>#xA</code> | <code>#xD</code> | <code>#x20</code> to <code>#xD7FF</code> | <code>#xE000</code> to <code>#xFFFD</code> | <code>#x10000</code> to <code>#x10FFFF</code> </p> <p>Any characters not included in this list will be rejected. For more information, see the <a href="http://www.w3.org/TR/REC-xml/#charsets">W3C specification for characters</a>.</p> </important>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SendMessageResult'
        '480':
          description: InvalidMessageContents
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidMessageContents'
        '481':
          description: UnsupportedOperation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnsupportedOperation'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SendMessageBatch':
    post:
      operationId: SendMessageBatch
      description: '<p>Delivers up to ten messages to the specified queue. This is a batch version of <code> <a>SendMessage</a>.</code> For a FIFO queue, multiple messages within a single batch are enqueued in the order they are sent.</p> <p>The result of sending each message is reported individually in the response. Because the batch request can result in a combination of successful and unsuccessful actions, you should check for batch errors even when the call returns an HTTP status code of <code>200</code>.</p> <p>The maximum allowed individual message size and the maximum total payload size (the sum of the individual lengths of all of the batched messages) are both 256 KB (262,144 bytes).</p> <important> <p>A message can include only XML, JSON, and unformatted text. The following Unicode characters are allowed:</p> <p> <code>#x9</code> | <code>#xA</code> | <code>#xD</code> | <code>#x20</code> to <code>#xD7FF</code> | <code>#xE000</code> to <code>#xFFFD</code> | <code>#x10000</code> to <code>#x10FFFF</code> </p> <p>Any characters not included in this list will be rejected. For more information, see the <a href="http://www.w3.org/TR/REC-xml/#charsets">W3C specification for characters</a>.</p> </important> <p>If you don''t specify the <code>DelaySeconds</code> parameter for an entry, Amazon SQS uses the default value for the queue.</p> <note> <p>Some actions take lists of parameters. These lists are specified using the <code>param.n</code> notation. Values of <code>n</code> are integers starting from 1. For example, a parameter list with two elements looks like this:</p> <p> <code>&amp;Attribute.1=this</code> </p> <p> <code>&amp;Attribute.2=that</code> </p> </note>'
      responses:
        '200':
          description: Success
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SendMessageBatchResult'
        '480':
          description: TooManyEntriesInBatchRequest
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TooManyEntriesInBatchRequest'
        '481':
          description: EmptyBatchRequest
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/EmptyBatchRequest'
        '482':
          description: BatchEntryIdsNotDistinct
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchEntryIdsNotDistinct'
        '483':
          description: BatchRequestTooLong
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/BatchRequestTooLong'
        '484':
          description: InvalidBatchEntryId
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidBatchEntryId'
        '485':
          description: UnsupportedOperation
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/UnsupportedOperation'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageBatchRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#SetQueueAttributes':
    post:
      operationId: SetQueueAttributes
      description: '<p>Sets the value of one or more queue attributes. When you change a queue''s attributes, the change can take up to 60 seconds for most of the attributes to propagate throughout the Amazon SQS system. Changes made to the <code>MessageRetentionPeriod</code> attribute can take up to 15 minutes.</p> <note> <p>In the future, new attributes might be added. If you write code that calls this action, we recommend that you structure your code so that it can handle new attributes gracefully.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: InvalidAttributeName
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/InvalidAttributeName'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetQueueAttributesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    AWSAccountIdList:
      type: array
      items:
        $ref: '#/components/schemas/String'
      xml:
        wrapped: false
    ActionNameList:
      type: array
      items:
        $ref: '#/components/schemas/String'
      xml:
        wrapped: false
    AddPermissionRequest:
      type: object
      required:
        - QueueUrl
        - Label
        - AWSAccountIds
        - Actions
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        Label:
          $ref: '#/components/schemas/String'
        AWSAccountIds:
          $ref: '#/components/schemas/AWSAccountIdList'
        Actions:
          $ref: '#/components/schemas/ActionNameList'
      description: <p/>
    AttributeNameList:
      type: array
      items:
        $ref: '#/components/schemas/QueueAttributeName'
      xml:
        wrapped: false
    BatchEntryIdsNotDistinct:
      type: object
      properties: {}
      description: Two or more batch entries in the request have the same <code>Id</code>.
    BatchRequestTooLong:
      type: object
      properties: {}
      description: The length of all the messages put together is more than the limit.
    BatchResultErrorEntry:
      type: object
      required:
        - Id
        - SenderFault
        - Code
      properties:
        Id:
          $ref: '#/components/schemas/String'
        SenderFault:
          $ref: '#/components/schemas/Boolean'
        Code:
          $ref: '#/components/schemas/String'
        Message:
          $ref: '#/components/schemas/String'
      description: This is used in the responses of batch API to give a detailed description of the result of an action on each entry in the request.
    BatchResultErrorEntryList:
      type: array
      items:
        $ref: '#/components/schemas/BatchResultErrorEntry'
      xml:
        wrapped: false
    Binary:
      type: string
    BinaryList:
      type: array
      items:
        $ref: '#/components/schemas/Binary'
    Boolean:
      type: boolean
    ChangeMessageVisibilityBatchRequest:
      type: object
      required:
        - QueueUrl
        - Entries
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        Entries:
          $ref: '#/components/schemas/ChangeMessageVisibilityBatchRequestEntryList'
      description: <p/>
    ChangeMessageVisibilityBatchRequestEntry:
      type: object
      required:
        - Id
        - ReceiptHandle
      properties:
        Id:
          $ref: '#/components/schemas/String'
        ReceiptHandle:
          $ref: '#/components/schemas/String'
        VisibilityTimeout:
          $ref: '#/components/schemas/Integer'
      description: '<p>Encloses a receipt handle and an entry id for each message in <code> <a>ChangeMessageVisibilityBatch</a>.</code> </p> <important> <p>All of the following list parameters must be prefixed with <code>ChangeMessageVisibilityBatchRequestEntry.n</code>, where <code>n</code> is an integer value starting with <code>1</code>. For example, a parameter list for this action might look like this:</p> </important> <p> <code>&amp;amp;ChangeMessageVisibilityBatchRequestEntry.1.Id=change_visibility_msg_2</code> </p> <p> <code>&amp;amp;ChangeMessageVisibilityBatchRequestEntry.1.ReceiptHandle=&lt;replaceable&gt;Your_Receipt_Handle&lt;/replaceable&gt;</code> </p> <p> <code>&amp;amp;ChangeMessageVisibilityBatchRequestEntry.1.VisibilityTimeout=45</code> </p>'
    ChangeMessageVisibilityBatchRequestEntryList:
      type: array
      items:
        $ref: '#/components/schemas/ChangeMessageVisibilityBatchRequestEntry'
      xml:
        wrapped: false
    ChangeMessageVisibilityBatchResult:
      type: object
      required:
        - Successful
        - Failed
      properties:
        Successful:
          $ref: '#/components/schemas/ChangeMessageVisibilityBatchResultEntryList'
        Failed:
          $ref: '#/components/schemas/BatchResultErrorEntryList'
      description: 'For each message in the batch, the response contains a <code> <a>ChangeMessageVisibilityBatchResultEntry</a> </code> tag if the message succeeds or a <code> <a>BatchResultErrorEntry</a> </code> tag if the message fails.'
    ChangeMessageVisibilityBatchResultEntry:
      type: object
      required:
        - Id
      properties:
        Id:
          $ref: '#/components/schemas/String'
      description: 'Encloses the <code>Id</code> of an entry in <code> <a>ChangeMessageVisibilityBatch</a>.</code> '
    ChangeMessageVisibilityBatchResultEntryList:
      type: array
      items:
        $ref: '#/components/schemas/ChangeMessageVisibilityBatchResultEntry'
      xml:
        wrapped: false
    ChangeMessageVisibilityRequest:
      type: object
      required:
        - QueueUrl
        - ReceiptHandle
        - VisibilityTimeout
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        ReceiptHandle:
          $ref: '#/components/schemas/String'
        VisibilityTimeout:
          $ref: '#/components/schemas/Integer'
    CreateQueueRequest:
      type: object
      required:
        - QueueName
      properties:
        QueueName:
          $ref: '#/components/schemas/String'
        Attributes:
          $ref: '#/components/schemas/QueueAttributeMap'
      description: <p/>
    CreateQueueResult:
      type: object
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
      description: Returns the <code>QueueUrl</code> attribute of the created queue.
    DeleteMessageBatchRequest:
      type: object
      required:
        - QueueUrl
        - Entries
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        Entries:
          $ref: '#/components/schemas/DeleteMessageBatchRequestEntryList'
      description: <p/>
    DeleteMessageBatchRequestEntry:
      type: object
      required:
        - Id
        - ReceiptHandle
      properties:
        Id:
          $ref: '#/components/schemas/String'
        ReceiptHandle:
          $ref: '#/components/schemas/String'
      description: Encloses a receipt handle and an identifier for it.
    DeleteMessageBatchRequestEntryList:
      type: array
      items:
        $ref: '#/components/schemas/DeleteMessageBatchRequestEntry'
      xml:
        wrapped: false
    DeleteMessageBatchResult:
      type: object
      required:
        - Successful
        - Failed
      properties:
        Successful:
          $ref: '#/components/schemas/DeleteMessageBatchResultEntryList'
        Failed:
          $ref: '#/components/schemas/BatchResultErrorEntryList'
      description: 'For each message in the batch, the response contains a <code> <a>DeleteMessageBatchResultEntry</a> </code> tag if the message is deleted or a <code> <a>BatchResultErrorEntry</a> </code> tag if the message can''t be deleted.'
    DeleteMessageBatchResultEntry:
      type: object
      required:
        - Id
      properties:
        Id:
          $ref: '#/components/schemas/String'
      description: 'Encloses the <code>Id</code> of an entry in <code> <a>DeleteMessageBatch</a>.</code> '
    DeleteMessageBatchResultEntryList:
      type: array
      items:
        $ref: '#/components/schemas/DeleteMessageBatchResultEntry'
      xml:
        wrapped: false
    DeleteMessageRequest:
      type: object
      required:
        - QueueUrl
        - ReceiptHandle
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        ReceiptHandle:
          $ref: '#/components/schemas/String'
      description: <p/>
    DeleteQueueRequest:
      type: object
      required:
        - QueueUrl
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
      description: <p/>
    EmptyBatchRequest:
      type: object
      properties: {}
      description: The batch request doesn't contain any entries.
    GetQueueAttributesRequest:
      type: object
      required:
        - QueueUrl
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        AttributeNames:
          $ref: '#/components/schemas/AttributeNameList'
      description: <p/>
    GetQueueAttributesResult:
      type: object
      properties:
        Attributes:
          $ref: '#/components/schemas/QueueAttributeMap'
      description: A list of returned queue attributes.
    GetQueueUrlRequest:
      type: object
      required:
        - QueueName
      properties:
        QueueName:
          $ref: '#/components/schemas/String'
        QueueOwnerAWSAccountId:
          $ref: '#/components/schemas/String'
      description: <p/>
    GetQueueUrlResult:
      type: object
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
      description: 'For more information, see <a href="http://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/UnderstandingResponses.html">Responses</a> in the <i>Amazon SQS Developer Guide</i>.'
    Integer:
      type: integer
    InvalidAttributeName:
      type: object
      properties: {}
      description: The attribute referred to doesn't exist.
    InvalidBatchEntryId:
      type: object
      properties: {}
      description: The <code>Id</code> of a batch entry in a batch request doesn't abide by the specification.
    InvalidIdFormat:
      type: object
      properties: {}
      description: The receipt handle isn't valid for the current version.
    InvalidMessageContents:
      type: object
      properties: {}
      description: The message contains characters outside the allowed set.
    ListDeadLetterSourceQueuesRequest:
      type: object
      required:
        - QueueUrl
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
      description: <p/>
    ListDeadLetterSourceQueuesResult:
      type: object
      required:
        - queueUrls
      properties:
        queueUrls:
          $ref: '#/components/schemas/QueueUrlList'
      description: A list of your dead letter source queues.
    ListQueuesRequest:
      type: object
      properties:
        QueueNamePrefix:
          $ref: '#/components/schemas/String'
      description: <p/>
    ListQueuesResult:
      type: object
      properties:
        QueueUrls:
          $ref: '#/components/schemas/QueueUrlList'
      description: A list of your queues.
    Message:
      type: object
      properties:
        MessageId:
          $ref: '#/components/schemas/String'
        ReceiptHandle:
          $ref: '#/components/schemas/String'
        MD5OfBody:
          $ref: '#/components/schemas/String'
        Body:
          $ref: '#/components/schemas/String'
        Attributes:
          $ref: '#/components/schemas/MessageSystemAttributeMap'
        MD5OfMessageAttributes:
          $ref: '#/components/schemas/String'
        MessageAttributes:
          $ref: '#/components/schemas/MessageBodyAttributeMap'
      description: An Amazon SQS message.
    MessageAttributeName:
      type: string
    MessageAttributeNameList:
      type: array
      items:
        $ref: '#/components/schemas/MessageAttributeName'
      xml:
        wrapped: false
    MessageAttributeValue:
      type: object
      required:
        - DataType
      properties:
        StringValue:
          $ref: '#/components/schemas/String'
        BinaryValue:
          $ref: '#/components/schemas/Binary'
        StringListValues:
          $ref: '#/components/schemas/StringList'
        BinaryListValues:
          $ref: '#/components/schemas/BinaryList'
        DataType:
          $ref: '#/components/schemas/String'
      description: '<p>The user-specified message attribute value. For string data types, the <code>Value</code> attribute has the same restrictions on the content as the message body. For more information, see <code> <a>SendMessage</a>.</code> </p> <p> <code>Name</code>, <code>type</code>, <code>value</code> and the message body must not be empty or null. All parts of the message attribute, including <code>Name</code>, <code>Type</code>, and <code>Value</code>, are part of the message size restriction (256 KB or 262,144 bytes).</p>'
      xml:
        wrapped: false
    MessageBodyAttributeMap:
      type: array
      items:
        type: object
        properties:
          key:
            $ref: '#/components/schemas/String'
          value:
            $ref: '#/components/schemas/MessageAttributeValue'
      xml:
        wrapped: false
    MessageList:
      type: array
      items:
        $ref: '#/components/schemas/Message'
      xml:
        wrapped: false
    MessageNotInflight:
      type: object
      properties: {}
      description: The message referred to isn't in flight.
    MessageSystemAttributeMap:
      type: array
      items:
        type: object
        properties:
          key:
            $ref: '#/components/schemas/MessageSystemAttributeName'
          value:
            $ref: '#/components/schemas/String'
      xml:
        wrapped: false
    MessageSystemAttributeName:
      type: string
      enum:
        - SenderId
        - SentTimestamp
        - ApproximateReceiveCount
        - ApproximateFirstReceiveTimestamp
        - SequenceNumber
        - MessageDeduplicationId
        - MessageGroupId
    OverLimit:
      type: object
      properties: {}
      description: 'The action that you requested would violate a limit. For example, <code>ReceiveMessage</code> returns this error if the maximum number of inflight messages is reached. <code> <a>AddPermission</a> </code> returns this error if the maximum number of permissions for the queue is reached.'
    PurgeQueueInProgress:
      type: object
      properties: {}
      description: Indicates that the specified queue previously received a <code>PurgeQueue</code> request within the last 60 seconds (the time it can take to delete the messages in the queue).
    PurgeQueueRequest:
      type: object
      required:
        - QueueUrl
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
      description: <p/>
    QueueAttributeMap:
      type: array
      items:
        type: object
        properties:
          key:
            $ref: '#/components/schemas/QueueAttributeName'
          value:
            $ref: '#/components/schemas/String'
      xml:
        wrapped: false
    QueueAttributeName:
      type: string
      enum:
        - All
        - Policy
        - VisibilityTimeout
        - MaximumMessageSize
        - MessageRetentionPeriod
        - ApproximateNumberOfMessages
        - ApproximateNumberOfMessagesNotVisible
        - CreatedTimestamp
        - LastModifiedTimestamp
        - QueueArn
        - ApproximateNumberOfMessagesDelayed
        - DelaySeconds
        - ReceiveMessageWaitTimeSeconds
        - RedrivePolicy
        - FifoQueue
        - ContentBasedDeduplication
        - KmsMasterKeyId
        - KmsDataKeyReusePeriodSeconds
    QueueDeletedRecently:
      type: object
      properties: {}
      description: You must wait 60 seconds after deleting a queue before you can create another one with the same name.
    QueueDoesNotExist:
      type: object
      properties: {}
      description: The queue referred to doesn't exist.
    QueueNameExists:
      type: object
      properties: {}
      description: A queue already exists with this name. Amazon SQS returns this error only if the request includes attributes whose values differ from those of the existing queue.
    QueueUrlList:
      type: array
      items:
        $ref: '#/components/schemas/String'
      xml:
        wrapped: false
    ReceiptHandleIsInvalid:
      type: object
      properties: {}
      description: The receipt handle provided isn't valid.
    ReceiveMessageRequest:
      type: object
      required:
        - QueueUrl
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        AttributeNames:
          $ref: '#/components/schemas/AttributeNameList'
        MessageAttributeNames:
          $ref: '#/components/schemas/MessageAttributeNameList'
        MaxNumberOfMessages:
          $ref: '#/components/schemas/Integer'
        VisibilityTimeout:
          $ref: '#/components/schemas/Integer'
        WaitTimeSeconds:
          $ref: '#/components/schemas/Integer'
        ReceiveRequestAttemptId:
          $ref: '#/components/schemas/String'
      description: <p/>
    ReceiveMessageResult:
      type: object
      properties:
        Messages:
          $ref: '#/components/schemas/MessageList'
      description: A list of received messages.
    RemovePermissionRequest:
      type: object
      required:
        - QueueUrl
        - Label
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        Label:
          $ref: '#/components/schemas/String'
      description: <p/>
    SendMessageBatchRequest:
      type: object
      required:
        - QueueUrl
        - Entries
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        Entries:
          $ref: '#/components/schemas/SendMessageBatchRequestEntryList'
      description: <p/>
    SendMessageBatchRequestEntry:
      type: object
      required:
        - Id
        - MessageBody
      properties:
        Id:
          $ref: '#/components/schemas/String'
        MessageBody:
          $ref: '#/components/schemas/String'
        DelaySeconds:
          $ref: '#/components/schemas/Integer'
        MessageAttributes:
          $ref: '#/components/schemas/MessageBodyAttributeMap'
        MessageDeduplicationId:
          $ref: '#/components/schemas/String'
        MessageGroupId:
          $ref: '#/components/schemas/String'
      description: Contains the details of a single Amazon SQS message along with an <code>Id</code>.
    SendMessageBatchRequestEntryList:
      type: array
      items:
        $ref: '#/components/schemas/SendMessageBatchRequestEntry'
      xml:
        wrapped: false
    SendMessageBatchResult:
      type: object
      required:
        - Successful
        - Failed
      properties:
        Successful:
          $ref: '#/components/schemas/SendMessageBatchResultEntryList'
        Failed:
          $ref: '#/components/schemas/BatchResultErrorEntryList'
      description: 'For each message in the batch, the response contains a <code> <a>SendMessageBatchResultEntry</a> </code> tag if the message succeeds or a <code> <a>BatchResultErrorEntry</a> </code> tag if the message fails.'
    SendMessageBatchResultEntry:
      type: object
      required:
        - Id
        - MessageId
        - MD5OfMessageBody
      properties:
        Id:
          $ref: '#/components/schemas/String'
        MessageId:
          $ref: '#/components/schemas/String'
        MD5OfMessageBody:
          $ref: '#/components/schemas/String'
        MD5OfMessageAttributes:
          $ref: '#/components/schemas/String'
        SequenceNumber:
          $ref: '#/components/schemas/String'
      description: 'Encloses a <code>MessageId</code> for a successfully-enqueued message in a <code> <a>SendMessageBatch</a>.</code> '
    SendMessageBatchResultEntryList:
      type: array
      items:
        $ref: '#/components/schemas/SendMessageBatchResultEntry'
      xml:
        wrapped: false
    SendMessageRequest:
      type: object
      required:
        - QueueUrl
        - MessageBody
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        MessageBody:
          $ref: '#/components/schemas/String'
        DelaySeconds:
          $ref: '#/components/schemas/Integer'
        MessageAttributes:
          $ref: '#/components/schemas/MessageBodyAttributeMap'
        MessageDeduplicationId:
          $ref: '#/components/schemas/String'
        MessageGroupId:
          $ref: '#/components/schemas/String'
      description: <p/>
    SendMessageResult:
      type: object
      properties:
        MD5OfMessageBody:
          $ref: '#/components/schemas/String'
        MD5OfMessageAttributes:
          $ref: '#/components/schemas/String'
        MessageId:
          $ref: '#/components/schemas/String'
        SequenceNumber:
          $ref: '#/components/schemas/String'
      description: The <code>MD5OfMessageBody</code> and <code>MessageId</code> elements.
    SetQueueAttributesRequest:
      type: object
      required:
        - QueueUrl
        - Attributes
      properties:
        QueueUrl:
          $ref: '#/components/schemas/String'
        Attributes:
          $ref: '#/components/schemas/QueueAttributeMap'
      description: <p/>
    String:
      type: string
    StringList:
      type: array
      items:
        $ref: '#/components/schemas/String'
    TooManyEntriesInBatchRequest:
      type: object
      properties: {}
      description: The batch request contains more entries than permissible.
    UnsupportedOperation:
      type: object
      properties: {}
      description: Error code 400. Unsupported operation.
  parameters:
    Action:
      name: Action
      in: header
      required: true
      schema:
        type: string
    Version:
      name: Version
      in: header
      required: true
      schema:
        type: string
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      required: false
      schema:
        type: string
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      required: false
      schema:
        type: string
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      required: false
      schema:
        type: string
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      required: false
      schema:
        type: string
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      required: false
      schema:
        type: string
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      required: false
      schema:
        type: string
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      required: false
      schema:
        type: string
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
