openapi: 3.0.0
servers:
  - description: Twitter API
    url: https://api.twitter.com
info:
  contact:
    name: Twitter Developers
    url: https://developer.twitter.com/
    x-twitter: twitter
  description: Twitter API v2 available endpoints
  license:
    name: Twitter Developer Agreement and Policy
    url: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  termsOfService: https://developer.twitter.com/en/developer-terms/agreement-and-policy.html
  title: Twitter API v2
  version: "2.61"
  x-apisguru-categories:
    - social
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_twitter_profile_image.png
  x-origin:
    - format: openapi
      url: https://api.twitter.com/2/openapi.json
      version: "3.0"
  x-providerName: twitter.com
  x-serviceName: current
  x-tags:
    - pii
tags:
  - description: Endpoints related to retrieving, managing bookmarks of a user
    externalDocs:
      description: Find out more
      url: https://developer.twitter.com/en/docs/twitter-api/bookmarks
    name: Bookmarks
  - description: Endpoints related to keeping Twitter data in your systems compliant
    externalDocs:
      description: Find out more
      url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-tweet/introduction
    name: Compliance
  - description: Endpoints related to retrieving, managing Direct Messages
    externalDocs:
      description: Find out more
      url: https://developer.twitter.com/en/docs/twitter-api/direct-messages
    name: Direct Messages
  - description: Miscellaneous endpoints for general API functionality
    externalDocs:
      description: Find out more
      url: https://developer.twitter.com/en/docs/twitter-api
    name: General
  - description: Endpoints related to retrieving, managing Lists
    externalDocs:
      description: Find out more
      url: https://developer.twitter.com/en/docs/twitter-api/lists
    name: Lists
  - description: Endpoints related to retrieving, managing Spaces
    externalDocs:
      description: Find out more
      url: https://developer.twitter.com/en/docs/twitter-api/spaces
    name: Spaces
  - description: Endpoints related to retrieving, searching, and modifying Tweets
    externalDocs:
      description: Find out more
      url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup
    name: Tweets
  - description: Endpoints related to retrieving, managing relationships of Users
    externalDocs:
      description: Find out more
      url: https://developer.twitter.com/en/docs/twitter-api/users/lookup
    name: Users
paths:
  /2/compliance/jobs:
    get:
      description: Returns recent Compliance Jobs for a given job type and optional job status
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs
      operationId: listBatchComplianceJobs
      parameters:
        - description: Type of Compliance Job to list.
          in: query
          name: type
          required: true
          schema:
            enum:
              - tweets
              - users
            type: string
          style: form
        - description: Status of Compliance Job to list.
          in: query
          name: status
          required: false
          schema:
            enum:
              - created
              - in_progress
              - failed
              - complete
            type: string
          style: form
        - $ref: "#/components/parameters/ComplianceJobFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2ComplianceJobsResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: List Compliance Jobs
      tags:
        - Compliance
    post:
      description: Creates a compliance for the given job type
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/post-compliance-jobs
      operationId: createBatchComplianceJob
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateComplianceJobRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateComplianceJobResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Create compliance job
      tags:
        - Compliance
  "/2/compliance/jobs/{id}":
    get:
      description: Returns a single Compliance Job by ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/compliance/batch-compliance/api-reference/get-compliance-jobs-id
      operationId: getBatchComplianceJob
      parameters:
        - description: The ID of the Compliance Job to retrieve.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/JobId"
          style: simple
        - $ref: "#/components/parameters/ComplianceJobFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2ComplianceJobsIdResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Get Compliance Job
      tags:
        - Compliance
  /2/dm_conversations:
    post:
      description: Creates a new DM Conversation.
      operationId: dmConversationIdCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDmConversationRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDmEventResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - dm.write
            - tweet.read
            - users.read
        - UserToken: []
      summary: Create a new DM Conversation
      tags:
        - Direct Messages
  "/2/dm_conversations/with/{participant_id}/dm_events":
    get:
      description: Returns DM Events for a DM Conversation
      operationId: getDmConversationsWithParticipantIdDmEvents
      parameters:
        - description: The ID of the participant user for the One to One DM conversation.
          in: path
          name: participant_id
          required: true
          schema:
            $ref: "#/components/schemas/UserId"
          style: simple
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - description: This parameter is used to get a specified 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken32"
          style: form
        - description: The set of event_types to include in the results.
          explode: false
          in: query
          name: event_types
          required: false
          schema:
            default:
              - MessageCreate
              - ParticipantsLeave
              - ParticipantsJoin
            example:
              - MessageCreate
              - ParticipantsLeave
            items:
              enum:
                - MessageCreate
                - ParticipantsJoin
                - ParticipantsLeave
              type: string
            minItems: 1
            type: array
            uniqueItems: true
          style: form
        - $ref: "#/components/parameters/DmEventFieldsParameter"
        - $ref: "#/components/parameters/DmEventExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2DmConversationsWithParticipantIdDmEventsResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - dm.read
            - tweet.read
            - users.read
        - UserToken: []
      summary: Get DM Events for a DM Conversation
      tags:
        - Direct Messages
  "/2/dm_conversations/with/{participant_id}/messages":
    post:
      description: Creates a new message for a DM Conversation with a participant user by ID
      operationId: dmConversationWithUserEventIdCreate
      parameters:
        - description: The ID of the recipient user that will receive the DM.
          in: path
          name: participant_id
          required: true
          schema:
            $ref: "#/components/schemas/UserId"
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMessageRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDmEventResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - dm.write
            - tweet.read
            - users.read
        - UserToken: []
      summary: Send a new message to a user
      tags:
        - Direct Messages
  "/2/dm_conversations/{dm_conversation_id}/messages":
    post:
      description: Creates a new message for a DM Conversation specified by DM Conversation ID
      operationId: dmConversationByIdEventIdCreate
      parameters:
        - description: The DM Conversation ID.
          in: path
          name: dm_conversation_id
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateMessageRequest"
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateDmEventResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - dm.write
            - tweet.read
            - users.read
        - UserToken: []
      summary: Send a new message to a DM Conversation
      tags:
        - Direct Messages
  "/2/dm_conversations/{id}/dm_events":
    get:
      description: Returns DM Events for a DM Conversation
      operationId: getDmConversationsIdDmEvents
      parameters:
        - description: The DM Conversation ID.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/DmConversationId"
          style: simple
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - description: This parameter is used to get a specified 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken32"
          style: form
        - description: The set of event_types to include in the results.
          explode: false
          in: query
          name: event_types
          required: false
          schema:
            default:
              - MessageCreate
              - ParticipantsLeave
              - ParticipantsJoin
            example:
              - MessageCreate
              - ParticipantsLeave
            items:
              enum:
                - MessageCreate
                - ParticipantsJoin
                - ParticipantsLeave
              type: string
            minItems: 1
            type: array
            uniqueItems: true
          style: form
        - $ref: "#/components/parameters/DmEventFieldsParameter"
        - $ref: "#/components/parameters/DmEventExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2DmConversationsIdDmEventsResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - dm.read
            - tweet.read
            - users.read
        - UserToken: []
      summary: Get DM Events for a DM Conversation
      tags:
        - Direct Messages
  /2/dm_events:
    get:
      description: Returns recent DM Events across DM conversations
      operationId: getDmEvents
      parameters:
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - description: This parameter is used to get a specified 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken32"
          style: form
        - description: The set of event_types to include in the results.
          explode: false
          in: query
          name: event_types
          required: false
          schema:
            default:
              - MessageCreate
              - ParticipantsLeave
              - ParticipantsJoin
            example:
              - MessageCreate
              - ParticipantsLeave
            items:
              enum:
                - MessageCreate
                - ParticipantsJoin
                - ParticipantsLeave
              type: string
            minItems: 1
            type: array
            uniqueItems: true
          style: form
        - $ref: "#/components/parameters/DmEventFieldsParameter"
        - $ref: "#/components/parameters/DmEventExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2DmEventsResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - dm.read
            - tweet.read
            - users.read
        - UserToken: []
      summary: Get recent DM Events
      tags:
        - Direct Messages
  /2/lists:
    post:
      description: Creates a new List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/post-lists
      operationId: listIdCreate
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListCreateRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCreateResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - list.read
            - list.write
            - tweet.read
            - users.read
        - UserToken: []
      summary: Create List
      tags:
        - Lists
  "/2/lists/{id}":
    delete:
      description: Delete a List that you own.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/delete-lists-id
      operationId: listIdDelete
      parameters:
        - description: The ID of the List to delete.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/ListId"
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDeleteResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - list.write
            - tweet.read
            - users.read
        - UserToken: []
      summary: Delete List
      tags:
        - Lists
    get:
      description: Returns a List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-lookup/api-reference/get-lists-id
      operationId: listIdGet
      parameters:
        - description: The ID of the List.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/ListId"
          style: simple
        - $ref: "#/components/parameters/ListFieldsParameter"
        - $ref: "#/components/parameters/ListExpansionsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2ListsIdResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - list.read
            - tweet.read
            - users.read
        - UserToken: []
      summary: List lookup by List ID.
      tags:
        - Lists
    put:
      description: Update a List that you own.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/manage-lists/api-reference/put-lists-id
      operationId: listIdUpdate
      parameters:
        - description: The ID of the List to modify.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/ListId"
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListUpdateRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListUpdateResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - list.write
            - tweet.read
            - users.read
        - UserToken: []
      summary: Update List.
      tags:
        - Lists
  "/2/lists/{id}/followers":
    get:
      description: Returns a list of Users that follow a List by the provided List ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/follows/api-reference/get-users-id-followers
      operationId: listGetFollowers
      parameters:
        - description: The ID of the List.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/ListId"
          style: simple
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - description: This parameter is used to get a specified 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationTokenLong"
          style: form
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2ListsIdFollowersResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - list.read
            - tweet.read
            - users.read
        - UserToken: []
      summary: Returns User objects that follow a List by the provided List ID
      tags:
        - Users
  "/2/lists/{id}/members":
    get:
      description: Returns a list of Users that are members of a List by the provided List ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/get-users-id-list_memberships
      operationId: listGetMembers
      parameters:
        - description: The ID of the List.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/ListId"
          style: simple
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - description: This parameter is used to get a specified 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationTokenLong"
          style: form
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2ListsIdMembersResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - list.read
            - tweet.read
            - users.read
        - UserToken: []
      summary: Returns User objects that are members of a List by the provided List ID.
      tags:
        - Users
    post:
      description: Causes a User to become a member of a List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/post-lists-id-members
      operationId: listAddMember
      parameters:
        - description: The ID of the List for which to add a member.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/ListId"
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ListAddUserRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMutateResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - list.write
            - tweet.read
            - users.read
        - UserToken: []
      summary: Add a List member
      tags:
        - Lists
  "/2/lists/{id}/members/{user_id}":
    delete:
      description: Causes a User to be removed from the members of a List.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-members/api-reference/delete-lists-id-members-user_id
      operationId: listRemoveMember
      parameters:
        - description: The ID of the List to remove a member.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/ListId"
          style: simple
        - description: The ID of User that will be removed from the List.
          in: path
          name: user_id
          required: true
          schema:
            $ref: "#/components/schemas/UserId"
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMutateResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - list.write
            - tweet.read
            - users.read
        - UserToken: []
      summary: Remove a List member
      tags:
        - Lists
  "/2/lists/{id}/tweets":
    get:
      description: Returns a list of Tweets associated with the provided List ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/lists/list-tweets/api-reference/get-lists-id-tweets
      operationId: listsIdTweets
      parameters:
        - description: The ID of the List.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/ListId"
          style: simple
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - description: This parameter is used to get the next 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2ListsIdTweetsResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - list.read
            - tweet.read
            - users.read
        - UserToken: []
      summary: List Tweets timeline by List ID.
      tags:
        - Tweets
  /2/openapi.json:
    get:
      description: Full OpenAPI Specification in JSON format. (See https://github.com/OAI/OpenAPI-Specification/blob/master/README.md)
      operationId: getOpenApiSpec
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: The request was successful
      summary: Returns the OpenAPI Specification document.
      tags:
        - General
  /2/spaces:
    get:
      description: Returns a variety of information about the Spaces specified by the requested IDs
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces
      operationId: findSpacesByIds
      parameters:
        - description: The list of Space IDs to return.
          in: query
          name: ids
          required: true
          schema:
            items:
              description: The unique identifier of this Space.
              example: 1SLjjRYNejbKM
              pattern: ^[a-zA-Z0-9]{1,13}$
              type: string
            maxItems: 100
            minItems: 1
            type: array
          style: form
        - $ref: "#/components/parameters/SpaceFieldsParameter"
        - $ref: "#/components/parameters/SpaceExpansionsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/TopicFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2SpacesResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - space.read
            - tweet.read
            - users.read
      summary: Space lookup up Space IDs
      tags:
        - Spaces
  /2/spaces/by/creator_ids:
    get:
      description: Returns a variety of information about the Spaces created by the provided User IDs
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-by-creator-ids
      operationId: findSpacesByCreatorIds
      parameters:
        - description: The IDs of Users to search through.
          in: query
          name: user_ids
          required: true
          schema:
            items:
              $ref: "#/components/schemas/UserId"
            maxItems: 100
            minItems: 1
            type: array
          style: form
        - $ref: "#/components/parameters/SpaceFieldsParameter"
        - $ref: "#/components/parameters/SpaceExpansionsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/TopicFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2SpacesByCreatorIdsResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - space.read
            - tweet.read
            - users.read
      summary: Space lookup by their creators
      tags:
        - Spaces
  /2/spaces/search:
    get:
      description: Returns Spaces that match the provided query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/search/api-reference/get-spaces-search
      operationId: searchSpaces
      parameters:
        - description: The search query.
          example: crypto
          in: query
          name: query
          required: true
          schema:
            example: crypto
            maxLength: 2048
            minLength: 1
            type: string
          style: form
        - description: The state of Spaces to search for.
          in: query
          name: state
          required: false
          schema:
            default: all
            enum:
              - live
              - scheduled
              - all
            type: string
          style: form
        - description: The number of results to return.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - $ref: "#/components/parameters/SpaceFieldsParameter"
        - $ref: "#/components/parameters/SpaceExpansionsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/TopicFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2SpacesSearchResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - space.read
            - tweet.read
            - users.read
      summary: Search for Spaces
      tags:
        - Spaces
  "/2/spaces/{id}":
    get:
      description: Returns a variety of information about the Space specified by the requested ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id
      operationId: findSpaceById
      parameters:
        - description: The ID of the Space to be retrieved.
          example: 1YqKDqWqdPLsV
          in: path
          name: id
          required: true
          schema:
            description: The unique identifier of this Space.
            example: 1SLjjRYNejbKM
            pattern: ^[a-zA-Z0-9]{1,13}$
            type: string
          style: simple
        - $ref: "#/components/parameters/SpaceFieldsParameter"
        - $ref: "#/components/parameters/SpaceExpansionsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/TopicFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2SpacesIdResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - space.read
            - tweet.read
            - users.read
      summary: Space lookup by Space ID
      tags:
        - Spaces
  "/2/spaces/{id}/buyers":
    get:
      description: Retrieves the list of Users who purchased a ticket to the given space
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id-buyers
      operationId: spaceBuyers
      parameters:
        - description: The ID of the Space to be retrieved.
          example: 1YqKDqWqdPLsV
          in: path
          name: id
          required: true
          schema:
            description: The unique identifier of this Space.
            example: 1SLjjRYNejbKM
            pattern: ^[a-zA-Z0-9]{1,13}$
            type: string
          style: simple
        - description: This parameter is used to get a specified 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken32"
          style: form
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2SpacesIdBuyersResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - space.read
            - tweet.read
            - users.read
      summary: Retrieve the list of Users who purchased a ticket to the given space
      tags:
        - Spaces
        - Tweets
  "/2/spaces/{id}/tweets":
    get:
      description: Retrieves Tweets shared in the specified Space.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/spaces/lookup/api-reference/get-spaces-id-tweets
      operationId: spaceTweets
      parameters:
        - description: The ID of the Space to be retrieved.
          example: 1YqKDqWqdPLsV
          in: path
          name: id
          required: true
          schema:
            description: The unique identifier of this Space.
            example: 1SLjjRYNejbKM
            pattern: ^[a-zA-Z0-9]{1,13}$
            type: string
          style: simple
        - description: The number of Tweets to fetch from the provided space. If not provided, the value will default to the maximum of 100.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            example: 25
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2SpacesIdTweetsResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - space.read
            - tweet.read
            - users.read
      summary: Retrieve Tweets from a Space.
      tags:
        - Spaces
        - Tweets
  /2/tweets:
    get:
      description: Returns a variety of information about the Tweet specified by the requested ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/api-reference/get-tweets
      operationId: findTweetsById
      parameters:
        - description: A comma separated list of Tweet IDs. Up to 100 are allowed in a single request.
          explode: false
          in: query
          name: ids
          required: true
          schema:
            items:
              $ref: "#/components/schemas/TweetId"
            maxItems: 100
            minItems: 1
            type: array
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - tweet.read
            - users.read
        - UserToken: []
      summary: Tweet lookup by Tweet IDs
      tags:
        - Tweets
    post:
      description: Causes the User to create a Tweet under the authorized account.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/manage-tweets/api-reference/post-tweets
      operationId: createTweet
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TweetCreateRequest"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetCreateResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - tweet.read
            - tweet.write
            - users.read
        - UserToken: []
      summary: Creation of a Tweet
      tags:
        - Tweets
  /2/tweets/compliance/stream:
    get:
      description: Streams 100% of compliance data for Tweets
      operationId: getTweetsComplianceStream
      parameters:
        - description: The number of minutes of backfill requested.
          in: query
          name: backfill_minutes
          required: false
          schema:
            format: int32
            maximum: 5
            minimum: 0
            type: integer
          style: form
        - description: The partition number.
          in: query
          name: partition
          required: true
          schema:
            format: int32
            maximum: 4
            minimum: 1
            type: integer
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Tweet Compliance events will be provided.
          example: 2021-02-01T18:40:40.000Z
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Tweet Compliance events will be provided.
          example: 2021-02-14T18:40:40.000Z
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetComplianceStreamResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Tweets Compliance stream
      tags:
        - Compliance
      x-twitter-streaming: true
  /2/tweets/counts/all:
    get:
      description: Returns Tweet Counts that match a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-all
      operationId: tweetCountsFullArchiveSearch
      parameters:
        - description: One query/rule/filter for matching Tweets. Refer to https://t.co/rulelength to identify the max query length.
          in: query
          name: query
          required: true
          schema:
            example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
            maxLength: 4096
            minLength: 1
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent 7 days) from which the Tweets will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Tweets will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: Returns results with a Tweet ID greater than (that is, more recent than) the specified ID.
          in: query
          name: since_id
          required: false
          schema:
            $ref: "#/components/schemas/TweetId"
          style: form
        - description: Returns results with a Tweet ID less than (that is, older than) the specified ID.
          in: query
          name: until_id
          required: false
          schema:
            $ref: "#/components/schemas/TweetId"
          style: form
        - description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
          in: query
          name: next_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - description: The granularity for the search counts results.
          in: query
          name: granularity
          required: false
          schema:
            default: hour
            enum:
              - minute
              - hour
              - day
            type: string
          style: form
        - $ref: "#/components/parameters/SearchCountFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsCountsAllResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Full archive search counts
      tags:
        - Tweets
  /2/tweets/counts/recent:
    get:
      description: Returns Tweet Counts from the last 7 days that match a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/counts/api-reference/get-tweets-counts-recent
      operationId: tweetCountsRecentSearch
      parameters:
        - description: One query/rule/filter for matching Tweets. Refer to https://t.co/rulelength to identify the max query length.
          in: query
          name: query
          required: true
          schema:
            example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
            maxLength: 4096
            minLength: 1
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp (from most recent 7 days) from which the Tweets will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Tweets will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: Returns results with a Tweet ID greater than (that is, more recent than) the specified ID.
          in: query
          name: since_id
          required: false
          schema:
            $ref: "#/components/schemas/TweetId"
          style: form
        - description: Returns results with a Tweet ID less than (that is, older than) the specified ID.
          in: query
          name: until_id
          required: false
          schema:
            $ref: "#/components/schemas/TweetId"
          style: form
        - description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
          in: query
          name: next_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - description: The granularity for the search counts results.
          in: query
          name: granularity
          required: false
          schema:
            default: hour
            enum:
              - minute
              - hour
              - day
            type: string
          style: form
        - $ref: "#/components/parameters/SearchCountFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsCountsRecentResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Recent search counts
      tags:
        - Tweets
  /2/tweets/firehose/stream:
    get:
      description: Streams 100% of public Tweets.
      operationId: getTweetsFirehoseStream
      parameters:
        - description: The number of minutes of backfill requested.
          in: query
          name: backfill_minutes
          required: false
          schema:
            format: int32
            maximum: 5
            minimum: 0
            type: integer
          style: form
        - description: The partition number.
          in: query
          name: partition
          required: true
          schema:
            format: int32
            maximum: 20
            minimum: 1
            type: integer
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Tweets will be provided.
          example: 2021-02-14T18:40:40.000Z
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Tweets will be provided.
          example: 2021-02-14T18:40:40.000Z
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamingTweetResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Firehose stream
      tags:
        - Tweets
      x-twitter-streaming: true
  /2/tweets/label/stream:
    get:
      description: Streams 100% of labeling events applied to Tweets
      operationId: getTweetsLabelStream
      parameters:
        - description: The number of minutes of backfill requested.
          in: query
          name: backfill_minutes
          required: false
          schema:
            format: int32
            maximum: 5
            minimum: 0
            type: integer
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Tweet labels will be provided.
          example: 2021-02-01T18:40:40.000Z
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the Tweet labels will be provided.
          example: 2021-02-01T18:40:40.000Z
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetLabelStreamResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Tweets Label stream
      tags:
        - Compliance
      x-twitter-streaming: true
  /2/tweets/sample/stream:
    get:
      description: Streams a deterministic 1% of public Tweets.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/volume-streams/api-reference/get-tweets-sample-stream
      operationId: sampleStream
      parameters:
        - description: The number of minutes of backfill requested.
          in: query
          name: backfill_minutes
          required: false
          schema:
            format: int32
            maximum: 5
            minimum: 0
            type: integer
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StreamingTweetResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Sample stream
      tags:
        - Tweets
      x-twitter-streaming: true
  /2/tweets/sample10/stream:
    get:
      description: Streams a deterministic 10% of public Tweets.
      operationId: getTweetsSample10Stream
      parameters:
        - description: The number of minutes of backfill requested.
          in: query
          name: backfill_minutes
          required: false
          schema:
            format: int32
            maximum: 5
            minimum: 0
            type: integer
          style: form
        - description: The partition number.
          in: query
          name: partition
          required: true
          schema:
            format: int32
            maximum: 2
            minimum: 1
            type: integer
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp to which the Tweets will be provided.
          example: 2021-02-14T18:40:40.000Z
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Tweets will be provided.
          example: 2021-02-14T18:40:40.000Z
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsSample10StreamResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Sample 10% stream
      tags:
        - Tweets
      x-twitter-streaming: true
  /2/tweets/search/all:
    get:
      description: Returns Tweets that match a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-all
      operationId: tweetsFullarchiveSearch
      parameters:
        - description: One query/rule/filter for matching Tweets. Refer to https://t.co/rulelength to identify the max query length.
          in: query
          name: query
          required: true
          schema:
            example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
            maxLength: 4096
            minLength: 1
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp from which the Tweets will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Tweets will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: Returns results with a Tweet ID greater than (that is, more recent than) the specified ID.
          in: query
          name: since_id
          required: false
          schema:
            $ref: "#/components/schemas/TweetId"
          style: form
        - description: Returns results with a Tweet ID less than (that is, older than) the specified ID.
          in: query
          name: until_id
          required: false
          schema:
            $ref: "#/components/schemas/TweetId"
          style: form
        - description: The maximum number of search results to be returned by a request.
          in: query
          name: max_results
          required: false
          schema:
            default: 10
            format: int32
            maximum: 500
            minimum: 10
            type: integer
          style: form
        - description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
          in: query
          name: next_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - description: This order in which to return results.
          in: query
          name: sort_order
          required: false
          schema:
            enum:
              - recency
              - relevancy
            type: string
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsSearchAllResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Full-archive search
      tags:
        - Tweets
  /2/tweets/search/recent:
    get:
      description: Returns Tweets from the last 7 days that match a search query.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/search/api-reference/get-tweets-search-recent
      operationId: tweetsRecentSearch
      parameters:
        - description: One query/rule/filter for matching Tweets. Refer to https://t.co/rulelength to identify the max query length.
          in: query
          name: query
          required: true
          schema:
            example: (from:TwitterDev OR from:TwitterAPI) has:media -is:retweet
            maxLength: 4096
            minLength: 1
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The oldest UTC timestamp from which the Tweets will be provided. Timestamp is in second granularity and is inclusive (i.e. 12:00:01 includes the first second of the minute).
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The newest, most recent UTC timestamp to which the Tweets will be provided. Timestamp is in second granularity and is exclusive (i.e. 12:00:01 excludes the first second of the minute).
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: Returns results with a Tweet ID greater than (that is, more recent than) the specified ID.
          in: query
          name: since_id
          required: false
          schema:
            $ref: "#/components/schemas/TweetId"
          style: form
        - description: Returns results with a Tweet ID less than (that is, older than) the specified ID.
          in: query
          name: until_id
          required: false
          schema:
            $ref: "#/components/schemas/TweetId"
          style: form
        - description: The maximum number of search results to be returned by a request.
          in: query
          name: max_results
          required: false
          schema:
            default: 10
            format: int32
            maximum: 100
            minimum: 10
            type: integer
          style: form
        - description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
          in: query
          name: next_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - description: This parameter is used to get the next 'page' of results. The value used with the parameter is pulled directly from the response provided by the API, and should not be modified.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - description: This order in which to return results.
          in: query
          name: sort_order
          required: false
          schema:
            enum:
              - recency
              - relevancy
            type: string
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsSearchRecentResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - tweet.read
            - users.read
        - UserToken: []
      summary: Recent search
      tags:
        - Tweets
  /2/tweets/search/stream:
    get:
      description: Streams Tweets matching the stream's active rule set.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/get-tweets-search-stream
      operationId: searchStream
      parameters:
        - description: The number of minutes of backfill requested.
          in: query
          name: backfill_minutes
          required: false
          schema:
            format: int32
            maximum: 5
            minimum: 0
            type: integer
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the Tweets will be provided.
          example: 2021-02-01T18:40:40.000Z
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp to which the Tweets will be provided.
          example: 2021-02-14T18:40:40.000Z
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FilteredStreamingTweetResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Filtered stream
      tags:
        - Tweets
      x-twitter-streaming: true
  /2/tweets/search/stream/rules:
    get:
      description: Returns rules from a User's active rule set. Users can fetch all of their rules or a subset, specified by the provided rule ids.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/get-tweets-search-stream-rules
      operationId: getRules
      parameters:
        - description: A comma-separated list of Rule IDs.
          in: query
          name: ids
          required: false
          schema:
            items:
              $ref: "#/components/schemas/RuleId"
            type: array
          style: form
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 1000
            format: int32
            maximum: 1000
            minimum: 1
            type: integer
          style: form
        - description: This value is populated by passing the 'next_token' returned in a request to paginate through results.
          in: query
          name: pagination_token
          required: false
          schema:
            maxLength: 16
            minLength: 16
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RulesLookupResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Rules lookup
      tags:
        - Tweets
    post:
      description: Add or delete rules from a User's active rule set. Users can provide unique, optionally tagged rules to add. Users can delete their entire rule set or a subset specified by rule ids or values.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/filtered-stream/api-reference/post-tweets-search-stream-rules
      operationId: addOrDeleteRules
      parameters:
        - description: Dry Run can be used with both the add and delete action, with the expected result given, but without actually taking any action in the system (meaning the end state will always be as it was when the request was submitted). This is particularly useful to validate rule changes.
          in: query
          name: dry_run
          required: false
          schema:
            type: boolean
          style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddOrDeleteRulesRequest"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddOrDeleteRulesResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Add/Delete rules
      tags:
        - Tweets
  "/2/tweets/{id}":
    delete:
      description: Delete specified Tweet (in the path) by ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/manage-tweets/api-reference/delete-tweets-id
      operationId: deleteTweetById
      parameters:
        - description: The ID of the Tweet to be deleted.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/TweetId"
          style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetDeleteResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - tweet.read
            - tweet.write
            - users.read
        - UserToken: []
      summary: Tweet delete by Tweet ID
      tags:
        - Tweets
    get:
      description: Returns a variety of information about the Tweet specified by the requested ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/lookup/api-reference/get-tweets-id
      operationId: findTweetById
      parameters:
        - description: A single Tweet ID.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/TweetId"
          style: simple
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsIdResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - tweet.read
            - users.read
        - UserToken: []
      summary: Tweet lookup by Tweet ID
      tags:
        - Tweets
  "/2/tweets/{id}/liking_users":
    get:
      description: Returns a list of Users that have liked the provided Tweet ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/likes/api-reference/get-tweets-id-liking_users
      operationId: tweetsIdLikingUsers
      parameters:
        - description: A single Tweet ID.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/TweetId"
          style: simple
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - description: This parameter is used to get the next 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsIdLikingUsersResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - like.read
            - tweet.read
            - users.read
        - UserToken: []
      summary: Returns User objects that have liked the provided Tweet ID
      tags:
        - Users
  "/2/tweets/{id}/quote_tweets":
    get:
      description: Returns a variety of information about each Tweet that quotes the Tweet specified by the requested ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/quote-tweets/api-reference/get-tweets-id-quote_tweets
      operationId: findTweetsThatQuoteATweet
      parameters:
        - description: A single Tweet ID.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/TweetId"
          style: simple
        - description: The maximum number of results to be returned.
          in: query
          name: max_results
          required: false
          schema:
            default: 10
            format: int32
            maximum: 100
            minimum: 10
            type: integer
          style: form
        - description: This parameter is used to get a specified 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - description: The set of entities to exclude (e.g. 'replies' or 'retweets').
          explode: false
          in: query
          name: exclude
          required: false
          schema:
            example:
              - replies
              - retweets
            items:
              enum:
                - replies
                - retweets
              type: string
            minItems: 1
            type: array
            uniqueItems: true
          style: form
        - $ref: "#/components/parameters/TweetFieldsParameter"
        - $ref: "#/components/parameters/TweetExpansionsParameter"
        - $ref: "#/components/parameters/MediaFieldsParameter"
        - $ref: "#/components/parameters/PollFieldsParameter"
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/PlaceFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsIdQuoteTweetsResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - tweet.read
            - users.read
        - UserToken: []
      summary: Retrieve Tweets that quote a Tweet.
      tags:
        - Tweets
  "/2/tweets/{id}/retweeted_by":
    get:
      description: Returns a list of Users that have retweeted the provided Tweet ID
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/retweets/api-reference/get-tweets-id-retweeted_by
      operationId: tweetsIdRetweetingUsers
      parameters:
        - description: A single Tweet ID.
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/TweetId"
          style: simple
        - description: The maximum number of results.
          in: query
          name: max_results
          required: false
          schema:
            default: 100
            format: int32
            maximum: 100
            minimum: 1
            type: integer
          style: form
        - description: This parameter is used to get the next 'page' of results.
          in: query
          name: pagination_token
          required: false
          schema:
            $ref: "#/components/schemas/PaginationToken36"
          style: form
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2TweetsIdRetweetedByResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - tweet.read
            - users.read
        - UserToken: []
      summary: Returns User objects that have retweeted the provided Tweet ID
      tags:
        - Users
  "/2/tweets/{tweet_id}/hidden":
    put:
      description: Hides or unhides a reply to an owned conversation.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/tweets/hide-replies/api-reference/put-tweets-id-hidden
      operationId: hideReplyById
      parameters:
        - description: The ID of the reply that you want to hide or unhide.
          in: path
          name: tweet_id
          required: true
          schema:
            $ref: "#/components/schemas/TweetId"
          style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TweetHideRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TweetHideResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - tweet.moderate.write
            - tweet.read
            - users.read
        - UserToken: []
      summary: Hide replies
      tags:
        - Tweets
  /2/users:
    get:
      description: This endpoint returns information about Users. Specify Users by their ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users
      operationId: findUsersById
      parameters:
        - description: A list of User IDs, comma-separated. You can specify up to 100 IDs.
          example: 2244994945,6253282,12
          explode: false
          in: query
          name: ids
          required: true
          schema:
            items:
              $ref: "#/components/schemas/UserId"
            maxItems: 100
            minItems: 1
            type: array
          style: form
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2UsersResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - tweet.read
            - users.read
        - UserToken: []
      summary: User lookup by IDs
      tags:
        - Users
  /2/users/by:
    get:
      description: This endpoint returns information about Users. Specify Users by their username.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users-by
      operationId: findUsersByUsername
      parameters:
        - description: A list of usernames, comma-separated.
          explode: false
          in: query
          name: usernames
          required: true
          schema:
            example: TwitterDev,TwitterAPI
            items:
              description: The Twitter handle (screen name) of this User.
              pattern: ^[A-Za-z0-9_]{1,15}$
              type: string
            maxItems: 100
            minItems: 1
            type: array
          style: form
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2UsersByResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - tweet.read
            - users.read
        - UserToken: []
      summary: User lookup by usernames
      tags:
        - Users
  "/2/users/by/username/{username}":
    get:
      description: This endpoint returns information about a User. Specify User by username.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users-by-username-username
      operationId: findUserByUsername
      parameters:
        - description: A username.
          example: TwitterDev
          in: path
          name: username
          required: true
          schema:
            pattern: ^[A-Za-z0-9_]{1,15}$
            type: string
          style: simple
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2UsersByUsernameUsernameResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
        - OAuth2UserToken:
            - tweet.read
            - users.read
        - UserToken: []
      summary: User lookup by username
      tags:
        - Users
  /2/users/compliance/stream:
    get:
      description: Streams 100% of compliance data for Users
      operationId: getUsersComplianceStream
      parameters:
        - description: The number of minutes of backfill requested.
          in: query
          name: backfill_minutes
          required: false
          schema:
            format: int32
            maximum: 5
            minimum: 0
            type: integer
          style: form
        - description: The partition number.
          in: query
          name: partition
          required: true
          schema:
            format: int32
            maximum: 4
            minimum: 1
            type: integer
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The earliest UTC timestamp from which the User Compliance events will be provided.
          example: 2021-02-01T18:40:40.000Z
          in: query
          name: start_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
        - description: YYYY-MM-DDTHH:mm:ssZ. The latest UTC timestamp from which the User Compliance events will be provided.
          example: 2021-02-01T18:40:40.000Z
          in: query
          name: end_time
          required: false
          schema:
            format: date-time
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UserComplianceStreamResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - BearerToken: []
      summary: Users Compliance stream
      tags:
        - Compliance
      x-twitter-streaming: true
  /2/users/me:
    get:
      description: This endpoint returns information about the requesting User.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users-me
      operationId: findMyUser
      parameters:
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2UsersMeResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
                $ref: "#/components/schemas/Problem"
          description: The request has failed.
      security:
        - OAuth2UserToken:
            - tweet.read
            - users.read
        - UserToken: []
      summary: User lookup me
      tags:
        - Users
  "/2/users/{id}":
    get:
      description: This endpoint returns information about a User. Specify User by ID.
      externalDocs:
        url: https://developer.twitter.com/en/docs/twitter-api/users/lookup/api-reference/get-users-id
      operationId: findUserById
      parameters:
        - description: The ID of the User to lookup.
          example: "2244994945"
          in: path
          name: id
          required: true
          schema:
            $ref: "#/components/schemas/UserId"
          style: simple
        - $ref: "#/components/parameters/UserFieldsParameter"
        - $ref: "#/components/parameters/UserExpansionsParameter"
        - $ref: "#/components/parameters/TweetFieldsParameter"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Get2UsersIdResponse"
          description: The request has succeeded.
        default:
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
            application/problem+json:
              schema:
[...]
