swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: Common Definitions
  version: '2018-02-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/web/resource-manager/Microsoft.Web/stable/2018-02-01/CommonDefinitions.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: web-CommonDefinitions
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
paths: {}
definitions:
  ApiDefinitionInfo:
    description: Information about the formal API definition for the app.
    properties:
      url:
        description: The URL of the API definition.
        type: string
    type: object
  AppServiceEnvironment:
    description: Description of an App Service Environment.
    properties:
      allowedMultiSizes:
        description: List of comma separated strings describing which VM sizes are allowed for front-ends.
        readOnly: true
        type: string
      allowedWorkerSizes:
        description: List of comma separated strings describing which VM sizes are allowed for workers.
        readOnly: true
        type: string
      apiManagementAccountId:
        description: API Management Account associated with the App Service Environment.
        type: string
      clusterSettings:
        description: Custom settings for changing the behavior of the App Service Environment.
        items:
          $ref: '#/definitions/NameValuePair'
        type: array
      databaseEdition:
        description: 'Edition of the metadata database for the App Service Environment, e.g. "Standard".'
        readOnly: true
        type: string
      databaseServiceObjective:
        description: 'Service objective of the metadata database for the App Service Environment, e.g. "S0".'
        readOnly: true
        type: string
      defaultFrontEndScaleFactor:
        description: Default Scale Factor for FrontEnds.
        format: int32
        readOnly: true
        type: integer
      dnsSuffix:
        description: DNS suffix of the App Service Environment.
        type: string
      dynamicCacheEnabled:
        description: |-
          True/false indicating whether the App Service Environment is suspended. The environment can be suspended e.g. when the management endpoint is no longer available
          (most likely because NSG blocked the incoming traffic).
        type: boolean
      environmentCapacities:
        description: 'Current total, used, and available worker capacities.'
        items:
          $ref: '#/definitions/StampCapacity'
        readOnly: true
        type: array
      environmentIsHealthy:
        description: True/false indicating whether the App Service Environment is healthy.
        readOnly: true
        type: boolean
      environmentStatus:
        description: Detailed message about with results of the last check of the App Service Environment.
        readOnly: true
        type: string
      frontEndScaleFactor:
        description: Scale factor for front-ends.
        format: int32
        type: integer
      hasLinuxWorkers:
        description: Flag that displays whether an ASE has linux workers or not
        type: boolean
      internalLoadBalancingMode:
        description: Specifies which endpoints to serve internally in the Virtual Network for the App Service Environment.
        enum:
          - None
          - Web
          - Publishing
        type: string
        x-ms-enum:
          modelAsString: false
          name: InternalLoadBalancingMode
      ipsslAddressCount:
        description: Number of IP SSL addresses reserved for the App Service Environment.
        format: int32
        type: integer
      lastAction:
        description: Last deployment action on the App Service Environment.
        readOnly: true
        type: string
      lastActionResult:
        description: Result of the last deployment action on the App Service Environment.
        readOnly: true
        type: string
      location:
        description: 'Location of the App Service Environment, e.g. "West US".'
        type: string
      maximumNumberOfMachines:
        description: Maximum number of VMs in the App Service Environment.
        format: int32
        readOnly: true
        type: integer
      multiRoleCount:
        description: Number of front-end instances.
        format: int32
        type: integer
      multiSize:
        description: 'Front-end VM size, e.g. "Medium", "Large".'
        type: string
      name:
        description: Name of the App Service Environment.
        type: string
      networkAccessControlList:
        description: Access control list for controlling traffic to the App Service Environment.
        items:
          $ref: '#/definitions/NetworkAccessControlEntry'
        type: array
      provisioningState:
        description: Provisioning state of the App Service Environment.
        enum:
          - Succeeded
          - Failed
          - Canceled
          - InProgress
          - Deleting
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: ProvisioningState
      resourceGroup:
        description: Resource group of the App Service Environment.
        readOnly: true
        type: string
      sslCertKeyVaultId:
        description: Key Vault ID for ILB App Service Environment default SSL certificate
        type: string
      sslCertKeyVaultSecretName:
        description: Key Vault Secret Name for ILB App Service Environment default SSL certificate
        type: string
      status:
        description: Current status of the App Service Environment.
        enum:
          - Preparing
          - Ready
          - Scaling
          - Deleting
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: HostingEnvironmentStatus
      subscriptionId:
        description: Subscription of the App Service Environment.
        readOnly: true
        type: string
      suspended:
        description: |-
          <code>true</code> if the App Service Environment is suspended; otherwise, <code>false</code>. The environment can be suspended, e.g. when the management endpoint is no longer available
           (most likely because NSG blocked the incoming traffic).
        type: boolean
      upgradeDomains:
        description: Number of upgrade domains of the App Service Environment.
        format: int32
        readOnly: true
        type: integer
      userWhitelistedIpRanges:
        description: User added ip ranges to whitelist on ASE db
        items:
          type: string
        type: array
      vipMappings:
        description: Description of IP SSL mapping for the App Service Environment.
        items:
          $ref: '#/definitions/VirtualIPMapping'
        readOnly: true
        type: array
      virtualNetwork:
        $ref: '#/definitions/VirtualNetworkProfile'
        description: Description of the Virtual Network.
      vnetName:
        description: Name of the Virtual Network for the App Service Environment.
        type: string
      vnetResourceGroupName:
        description: Resource group of the Virtual Network.
        type: string
      vnetSubnetName:
        description: Subnet of the Virtual Network.
        type: string
      workerPools:
        description: 'Description of worker pools with worker size IDs, VM sizes, and number of workers in each pool.'
        items:
          $ref: '#/definitions/WorkerPool'
        type: array
    required:
      - name
      - location
      - virtualNetwork
      - workerPools
    type: object
  AppServicePlan:
    allOf:
      - $ref: '#/definitions/Resource'
    description: App Service plan.
    properties:
      properties:
        description: AppServicePlan resource specific properties
        properties:
          freeOfferExpirationTime:
            description: The time when the server farm free offer expires.
            format: date-time
            type: string
          geoRegion:
            description: Geographical location for the App Service plan.
            readOnly: true
            type: string
          hostingEnvironmentProfile:
            $ref: '#/definitions/HostingEnvironmentProfile'
            description: Specification for the App Service Environment to use for the App Service plan.
            x-ms-mutability:
              - create
              - read
          hyperV:
            default: false
            description: 'If Hyper-V container app service plan <code>true</code>, <code>false</code> otherwise.'
            type: boolean
            x-ms-mutability:
              - create
              - read
          isSpot:
            description: 'If <code>true</code>, this App Service Plan owns spot instances.'
            type: boolean
          isXenon:
            default: false
            description: 'Obsolete: If Hyper-V container app service plan <code>true</code>, <code>false</code> otherwise.'
            type: boolean
            x-ms-mutability:
              - create
              - read
          maximumElasticWorkerCount:
            description: Maximum number of total workers allowed for this ElasticScaleEnabled App Service Plan
            format: int32
            type: integer
          maximumNumberOfWorkers:
            description: Maximum number of instances that can be assigned to this App Service plan.
            format: int32
            readOnly: true
            type: integer
          numberOfSites:
            description: Number of apps assigned to this App Service plan.
            format: int32
            readOnly: true
            type: integer
          perSiteScaling:
            default: false
            description: |-
              If <code>true</code>, apps assigned to this App Service plan can be scaled independently.
              If <code>false</code>, apps assigned to this App Service plan will scale to all instances of the plan.
            type: boolean
          provisioningState:
            description: Provisioning state of the App Service Environment.
            enum:
              - Succeeded
              - Failed
              - Canceled
              - InProgress
              - Deleting
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: false
              name: ProvisioningState
          reserved:
            default: false
            description: 'If Linux app service plan <code>true</code>, <code>false</code> otherwise.'
            type: boolean
            x-ms-mutability:
              - create
              - read
          resourceGroup:
            description: Resource group of the App Service plan.
            readOnly: true
            type: string
          spotExpirationTime:
            description: The time when the server farm expires. Valid only if it is a spot server farm.
            format: date-time
            type: string
          status:
            description: App Service plan status.
            enum:
              - Ready
              - Pending
              - Creating
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: false
              name: StatusOptions
          subscription:
            description: App Service plan subscription.
            readOnly: true
            type: string
          targetWorkerCount:
            description: Scaling worker count.
            format: int32
            type: integer
          targetWorkerSizeId:
            description: Scaling worker size ID.
            format: int32
            type: integer
          workerTierName:
            description: Target worker tier assigned to the App Service plan.
            type: string
        x-ms-client-flatten: true
      sku:
        $ref: '#/definitions/SkuDescription'
    type: object
  AppServicePlanCollection:
    description: Collection of App Service plans.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/AppServicePlan'
        type: array
    required:
      - value
    type: object
  AutoHealActions:
    description: Actions which to take by the auto-heal module when a rule is triggered.
    properties:
      actionType:
        description: Predefined action to be taken.
        enum:
          - Recycle
          - LogEvent
          - CustomAction
        type: string
        x-ms-enum:
          modelAsString: false
          name: AutoHealActionType
      customAction:
        $ref: '#/definitions/AutoHealCustomAction'
        description: Custom action to be taken.
      minProcessExecutionTime:
        description: |-
          Minimum time the process must execute
          before taking the action
        type: string
    type: object
  AutoHealCustomAction:
    description: |-
      Custom action to be executed
      when an auto heal rule is triggered.
    properties:
      exe:
        description: Executable to be run.
        type: string
      parameters:
        description: Parameters for the executable.
        type: string
    type: object
  AutoHealRules:
    description: Rules that can be defined for auto-heal.
    properties:
      actions:
        $ref: '#/definitions/AutoHealActions'
        description: Actions to be executed when a rule is triggered.
      triggers:
        $ref: '#/definitions/AutoHealTriggers'
        description: Conditions that describe when to execute the auto-heal actions.
    type: object
  AutoHealTriggers:
    description: Triggers for auto-heal.
    properties:
      privateBytesInKB:
        description: A rule based on private bytes.
        format: int32
        type: integer
      requests:
        $ref: '#/definitions/RequestsBasedTrigger'
        description: A rule based on total requests.
      slowRequests:
        $ref: '#/definitions/SlowRequestsBasedTrigger'
        description: A rule based on request execution time.
      statusCodes:
        description: A rule based on status codes.
        items:
          $ref: '#/definitions/StatusCodesBasedTrigger'
        type: array
    type: object
  AzureStorageInfoValue:
    description: Azure Files or Blob Storage access information value for dictionary storage.
    properties:
      accessKey:
        description: Access key for the storage account.
        type: string
      accountName:
        description: Name of the storage account.
        type: string
      mountPath:
        description: Path to mount the storage within the site's runtime environment.
        type: string
      shareName:
        description: 'Name of the file share (container name, for Blob storage).'
        type: string
      state:
        description: State of the storage account.
        enum:
          - Ok
          - InvalidCredentials
          - InvalidShare
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: false
          name: AzureStorageState
      type:
        description: Type of storage.
        enum:
          - AzureFiles
          - AzureBlob
        type: string
        x-ms-enum:
          modelAsString: false
          name: AzureStorageType
    type: object
  Capability:
    description: Describes the capabilities/features allowed for a specific SKU.
    properties:
      name:
        description: Name of the SKU capability.
        type: string
      reason:
        description: Reason of the SKU capability.
        type: string
      value:
        description: Value of the SKU capability.
        type: string
    type: object
  CloningInfo:
    description: Information needed for cloning operation.
    properties:
      appSettingsOverrides:
        additionalProperties:
          type: string
        description: |-
          Application setting overrides for cloned app. If specified, these settings override the settings cloned 
          from source app. Otherwise, application settings from source app are retained.
        type: object
      cloneCustomHostNames:
        description: '<code>true</code> to clone custom hostnames from source app; otherwise, <code>false</code>.'
        type: boolean
      cloneSourceControl:
        description: '<code>true</code> to clone source control from source app; otherwise, <code>false</code>.'
        type: boolean
      configureLoadBalancing:
        description: <code>true</code> to configure load balancing for source and destination app.
        type: boolean
      correlationId:
        description: |-
          Correlation ID of cloning operation. This ID ties multiple cloning operations
          together to use the same snapshot.
        example: 00000000-0000-0000-0000-000000000000
        format: uuid
        type: string
      hostingEnvironment:
        description: App Service Environment.
        type: string
      overwrite:
        description: '<code>true</code> to overwrite destination app; otherwise, <code>false</code>.'
        type: boolean
      sourceWebAppId:
        description: |-
          ARM resource ID of the source app. App resource ID is of the form 
          /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName} for production slots and 
          /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slotName} for other slots.
        type: string
      trafficManagerProfileId:
        description: |-
          ARM resource ID of the Traffic Manager profile to use, if it exists. Traffic Manager resource ID is of the form 
          /subscriptions/{subId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Network/trafficManagerProfiles/{profileName}.
        type: string
      trafficManagerProfileName:
        description: Name of Traffic Manager profile to create. This is only needed if Traffic Manager profile does not already exist.
        type: string
    required:
      - sourceWebAppId
    type: object
  ConnStringInfo:
    description: Database connection string information.
    properties:
      connectionString:
        description: Connection string value.
        type: string
      name:
        description: Name of connection string.
        type: string
      type:
        description: Type of database.
        enum:
          - MySql
          - SQLServer
          - SQLAzure
          - Custom
          - NotificationHub
          - ServiceBus
          - EventHub
          - ApiHub
          - DocDb
          - RedisCache
          - PostgreSQL
        type: string
        x-ms-enum:
          modelAsString: false
          name: ConnectionStringType
    type: object
  CorsSettings:
    description: Cross-Origin Resource Sharing (CORS) settings for the app.
    properties:
      allowedOrigins:
        description: |-
          Gets or sets the list of origins that should be allowed to make cross-origin
          calls (for example: http://example.com:12345). Use "*" to allow all.
        items:
          type: string
        type: array
      supportCredentials:
        description: |-
          Gets or sets whether CORS requests with credentials are allowed. See 
          https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS#Requests_with_credentials
          for more details.
        type: boolean
    type: object
  CsmOperationCollection:
    description: Collection of Azure resource manager operation metadata.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/CsmOperationDescription'
        type: array
    required:
      - value
    type: object
  CsmOperationDescription:
    description: Description of an operation available for Microsoft.Web resource provider.
    properties:
      display:
        $ref: '#/definitions/CsmOperationDisplay'
      name:
        type: string
      origin:
        type: string
      properties:
        $ref: '#/definitions/CsmOperationDescriptionProperties'
    type: object
  CsmOperationDescriptionProperties:
    description: Properties available for a Microsoft.Web resource provider operation.
    properties:
      serviceSpecification:
        $ref: '#/definitions/ServiceSpecification'
    type: object
  CsmOperationDisplay:
    description: Meta data about operation used for display in portal.
    properties:
      description:
        type: string
      operation:
        type: string
      provider:
        type: string
      resource:
        type: string
    type: object
  CsmUsageQuota:
    description: Usage of the quota resource.
    properties:
      currentValue:
        description: The current value of the resource counter.
        format: int64
        type: integer
      limit:
        description: The resource limit.
        format: int64
        type: integer
      name:
        $ref: '#/definitions/LocalizableString'
        description: Quota name.
      nextResetTime:
        description: Next reset time for the resource counter.
        format: date-time
        type: string
      unit:
        description: Units of measurement for the quota resource.
        type: string
    type: object
  CsmUsageQuotaCollection:
    description: Collection of CSM usage quotas.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/CsmUsageQuota'
        type: array
    required:
      - value
    type: object
  DefaultErrorResponse:
    description: App Service error response.
    properties:
      error:
        description: Error model.
        properties:
          code:
            description: Standardized string to programmatically identify the error.
            readOnly: true
            type: string
          details:
            items:
              description: Detailed errors.
              properties:
                code:
                  description: Standardized string to programmatically identify the error.
                  readOnly: true
                  type: string
                message:
                  description: Detailed error description and debugging information.
                  readOnly: true
                  type: string
                target:
                  description: Detailed error description and debugging information.
                  readOnly: true
                  type: string
              readOnly: true
            type: array
          innererror:
            description: More information to debug error.
            readOnly: true
            type: string
          message:
            description: Detailed error description and debugging information.
            readOnly: true
            type: string
          target:
            description: Detailed error description and debugging information.
            readOnly: true
            type: string
        readOnly: true
        type: object
    type: object
  DeletedSite:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: A deleted app.
    properties:
      properties:
        description: DeletedSite resource specific properties
        properties:
          deletedSiteId:
            description: Numeric id for the deleted site
            format: int32
            readOnly: true
            type: integer
          deletedSiteName:
            description: Name of the deleted site
            readOnly: true
            type: string
          deletedTimestamp:
            description: Time in UTC when the app was deleted.
            readOnly: true
            type: string
          geoRegionName:
            description: Geo Region of the deleted site
            readOnly: true
            type: string
          kind:
            description: Kind of site that was deleted
            readOnly: true
            type: string
          resourceGroup:
            description: ResourceGroup that contained the deleted site
            readOnly: true
            type: string
          slot:
            description: Slot of the deleted site
            readOnly: true
            type: string
          subscription:
            description: Subscription containing the deleted site
            readOnly: true
            type: string
        x-ms-client-flatten: true
    type: object
  Dimension:
    description: |-
      Dimension of a resource metric. For e.g. instance specific HTTP requests for a web app, 
      where instance name is dimension of the metric HTTP request
    properties:
      displayName:
        type: string
      internalName:
        type: string
      name:
        type: string
      toBeExportedForShoebox:
        type: boolean
    type: object
  ErrorEntity:
    description: Body of the error response returned from the API.
    properties:
      code:
        description: Basic error code.
        type: string
      extendedCode:
        description: Type of error.
        type: string
      innerErrors:
        description: Inner errors.
        items:
          $ref: '#/definitions/ErrorEntity'
        type: array
      message:
        description: Any details of the error.
        type: string
      messageTemplate:
        description: Message template.
        type: string
      parameters:
        description: Parameters for the template.
        items:
          type: string
        type: array
    type: object
  Experiments:
    description: Routing rules in production experiments.
    properties:
      rampUpRules:
        description: List of ramp-up rules.
        items:
          $ref: '#/definitions/RampUpRule'
        type: array
    type: object
  GeoDistribution:
    description: A global distribution definition.
    properties:
      location:
        description: Location.
        type: string
      numberOfWorkers:
        description: NumberOfWorkers.
        format: int32
        type: integer
    type: object
  HandlerMapping:
    description: |-
      The IIS handler mappings used to define which handler processes HTTP requests with certain extension. 
      For example, it is used to configure php-cgi.exe process to handle all HTTP requests with *.php extension.
    properties:
      arguments:
        description: Command-line arguments to be passed to the script processor.
        type: string
      extension:
        description: Requests with this extension will be handled using the specified FastCGI application.
        type: string
      scriptProcessor:
        description: The absolute path to the FastCGI application.
        type: string
    type: object
  HostNameSslState:
    description: SSL-enabled hostname.
    properties:
      hostType:
        description: Indicates whether the hostname is a standard or repository hostname.
        enum:
          - Standard
          - Repository
        type: string
        x-ms-enum:
          modelAsString: false
          name: HostType
      name:
        description: Hostname.
        type: string
      sslState:
        description: SSL type.
        enum:
          - Disabled
          - SniEnabled
          - IpBasedEnabled
        type: string
        x-ms-enum:
          modelAsString: false
          name: SslState
      thumbprint:
        description: SSL certificate thumbprint.
        type: string
      toUpdate:
        description: Set to <code>true</code> to update existing hostname.
        type: boolean
      virtualIP:
        description: Virtual IP address assigned to the hostname if IP based SSL is enabled.
        type: string
    type: object
  HostingEnvironmentProfile:
    description: Specification for an App Service Environment to use for this resource.
    properties:
      id:
        description: Resource ID of the App Service Environment.
        type: string
      name:
        description: Name of the App Service Environment.
        readOnly: true
        type: string
      type:
        description: Resource type of the App Service Environment.
        readOnly: true
        type: string
    type: object
  HybridConnection:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: Hybrid Connection contract. This is used to configure a Hybrid Connection.
    properties:
      properties:
        description: HybridConnection resource specific properties
        properties:
          hostname:
            description: The hostname of the endpoint.
            type: string
          port:
            description: The port of the endpoint.
            format: int32
            type: integer
          relayArmUri:
            description: The ARM URI to the Service Bus relay.
            type: string
          relayName:
            description: The name of the Service Bus relay.
            type: string
            x-ms-mutability:
              - create
              - read
          sendKeyName:
            description: The name of the Service Bus key which has Send permissions. This is used to authenticate to Service Bus.
            type: string
          sendKeyValue:
            description: |-
              The value of the Service Bus key. This is used to authenticate to Service Bus. In ARM this key will not be returned
              normally, use the POST /listKeys API instead.
            type: string
          serviceBusNamespace:
            description: The name of the Service Bus namespace.
            type: string
            x-ms-mutability:
              - create
              - read
          serviceBusSuffix:
            description: The suffix for the service bus endpoint. By default this is .servicebus.windows.net
            type: string
        x-ms-client-flatten: true
    type: object
  HybridConnectionKey:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: Hybrid Connection key contract. This has the send key name and value for a Hybrid Connection.
    properties:
      properties:
        description: HybridConnectionKey resource specific properties
        properties:
          sendKeyName:
            description: The name of the send key.
            readOnly: true
            type: string
          sendKeyValue:
            description: The value of the send key.
            readOnly: true
            type: string
        x-ms-client-flatten: true
    type: object
  Identifier:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: A domain specific resource identifier.
    properties:
      properties:
        description: Identifier resource specific properties
        properties:
          id:
            description: String representation of the identity.
            type: string
        x-ms-client-flatten: true
    type: object
  IdentifierCollection:
    description: Collection of identifiers.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/Identifier'
        type: array
    required:
      - value
    type: object
  IpSecurityRestriction:
    description: IP security restriction on an app.
    properties:
      action:
        description: Allow or Deny access for this IP range.
        type: string
      description:
        description: IP restriction rule description.
        type: string
      ipAddress:
        description: |-
          IP address the security restriction is valid for.
          It can be in form of pure ipv4 address (required SubnetMask property) or
          CIDR notation such as ipv4/mask (leading bit match). For CIDR,
          SubnetMask property must not be specified.
        type: string
      name:
        description: IP restriction rule name.
        type: string
      priority:
        description: Priority of IP restriction rule.
        format: int32
        type: integer
      subnetMask:
        description: Subnet mask for the range of IP addresses the restriction is valid for.
        type: string
      subnetTrafficTag:
        description: (internal) Subnet traffic tag
        format: int32
        type: integer
      tag:
        description: Defines what this IP filter will be used for. This is to support IP filtering on proxies.
        enum:
          - Default
          - XffProxy
        type: string
        x-ms-enum:
          modelAsString: false
          name: IpFilterTag
      vnetSubnetResourceId:
        description: Virtual network resource id
        type: string
      vnetTrafficTag:
        description: (internal) Vnet traffic tag
        format: int32
        type: integer
    type: object
  LocalizableString:
    description: Localizable string object containing the name and a localized value.
    properties:
      localizedValue:
        description: Localized name.
        type: string
      value:
        description: Non-localized name.
        type: string
    type: object
  LogSpecification:
    description: Log Definition of a single resource metric.
    properties:
      blobDuration:
        type: string
      displayName:
        type: string
      name:
        type: string
    type: object
  ManagedServiceIdentity:
    description: Managed service identity.
    properties:
      identityIds:
        description: Array of UserAssigned managed service identities.
        items:
          description: Resource Id for UserAssigned managed service identity
          type: string
        type: array
      principalId:
        description: Principal Id of managed service identity.
        readOnly: true
        type: string
      tenantId:
        description: Tenant of managed service identity.
        readOnly: true
        type: string
      type:
        description: Type of managed service identity.
        enum:
          - SystemAssigned
          - UserAssigned
        type: string
        x-ms-enum:
          modelAsString: true
          name: ManagedServiceIdentityType
    type: object
  MetricAvailability:
    description: Retention policy of a resource metric.
    properties:
      blobDuration:
        type: string
      timeGrain:
        type: string
    type: object
  MetricSpecification:
    description: Definition of a single resource metric.
    properties:
      aggregationType:
        type: string
      availabilities:
        items:
          $ref: '#/definitions/MetricAvailability'
        type: array
      category:
        type: string
      dimensions:
        items:
          $ref: '#/definitions/Dimension'
        type: array
      displayDescription:
        type: string
      displayName:
        type: string
      enableRegionalMdmAccount:
        type: boolean
      fillGapWithZero:
        type: boolean
      isInternal:
        type: boolean
      metricFilterPattern:
        type: string
      name:
        type: string
      sourceMdmAccount:
        type: string
      sourceMdmNamespace:
        type: string
      supportsInstanceLevelAggregation:
        type: boolean
      unit:
        type: string
    type: object
  NameIdentifier:
    description: Identifies an object.
    properties:
      name:
        description: Name of the object.
        type: string
    type: object
  NameValuePair:
    description: Name value pair.
    properties:
      name:
        description: Pair name.
        type: string
      value:
        description: Pair value.
        type: string
    type: object
  NetworkAccessControlEntry:
    description: Network access control entry.
    properties:
      action:
        description: Action object.
        enum:
          - Permit
          - Deny
        type: string
        x-ms-enum:
          modelAsString: false
          name: AccessControlEntryAction
      description:
        description: Description of network access control entry.
        type: string
      order:
        description: Order of precedence.
        format: int32
        type: integer
      remoteSubnet:
        description: Remote subnet.
        type: string
    type: object
  Operation:
    description: An operation on a resource.
    properties:
      createdTime:
        description: Time when operation has started.
        format: date-time
        type: string
      errors:
        description: Any errors associate with the operation.
        items:
          $ref: '#/definitions/ErrorEntity'
        type: array
      expirationTime:
        description: Time when operation will expire.
        format: date-time
        type: string
      geoMasterOperationId:
        description: Applicable only for stamp operation ids.
        example: 00000000-0000-0000-0000-000000000000
        format: uuid
        type: string
      id:
        description: Operation ID.
        type: string
      modifiedTime:
        description: Time when operation has been updated.
        format: date-time
        type: string
      name:
        description: Operation name.
        type: string
      status:
        description: The current status of the operation.
        enum:
          - InProgress
          - Failed
          - Succeeded
          - TimedOut
          - Created
        type: string
        x-ms-enum:
          modelAsString: false
          name: OperationStatus
    type: object
  ProxyOnlyResource:
    description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
    properties:
      id:
        description: Resource Id.
        readOnly: true
        type: string
      kind:
        description: Kind of resource.
        type: string
      name:
        description: Resource Name.
        readOnly: true
        type: string
      type:
        description: Resource type.
        readOnly: true
        type: string
    x-ms-azure-resource: true
  PushSettings:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: Push settings for the App.
    properties:
      properties:
        description: PushSettings resource specific properties
        properties:
          dynamicTagsJson:
            description: Gets or sets a JSON string containing a list of dynamic tags that will be evaluated from user claims in the push registration endpoint.
            type: string
          isPushEnabled:
            description: Gets or sets a flag indicating whether the Push endpoint is enabled.
            type: boolean
          tagWhitelistJson:
            description: Gets or sets a JSON string containing a list of tags that are whitelisted for use by the push registration endpoint.
            type: string
          tagsRequiringAuth:
            description: |-
              Gets or sets a JSON string containing a list of tags that require user authentication to be used in the push registration endpoint.
              Tags can consist of alphanumeric characters and the following:
              '_', '@', '#', '.', ':', '-'. 
              Validation should be performed at the PushRequestHandler.
            type: string
        required:
          - isPushEnabled
        x-ms-client-flatten: true
    type: object
  RampUpRule:
    description: Routing rules for ramp up testing. This rule allows to redirect static traffic % to a slot or to gradually change routing % based on performance.
    properties:
      actionHostName:
        description: Hostname of a slot to which the traffic will be redirected if decided to. E.g. myapp-stage.azurewebsites.net.
        type: string
      changeDecisionCallbackUrl:
        description: |-
          Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified. See TiPCallback site extension for the scaffold and contracts.
          https://www.siteextensions.net/packages/TiPCallback/
        type: string
      changeIntervalInMinutes:
        description: Specifies interval in minutes to reevaluate ReroutePercentage.
        format: int32
        type: integer
      changeStep:
        description: |-
          In auto ramp up scenario this is the step to add/remove from <code>ReroutePercentage</code> until it reaches 
          <code>MinReroutePercentage</code> or <code>MaxReroutePercentage</code>. Site metrics are checked every N minutes specified in <code>ChangeIntervalInMinutes</code>.
          Custom decision algorithm can be provided in TiPCallback site extension which URL can be specified in <code>ChangeDecisionCallbackUrl</code>.
        format: double
        type: number
      maxReroutePercentage:
        description: Specifies upper boundary below which ReroutePercentage will stay.
        format: double
        type: number
      minReroutePercentage:
        description: Specifies lower boundary above which ReroutePercentage will stay.
        format: double
        type: number
      name:
        description: Name of the routing rule. The recommended name would be to point to the slot which will receive the traffic in the experiment.
        type: string
      reroutePercentage:
        description: Percentage of the traffic which will be redirected to <code>ActionHostName</code>.
        format: double
        type: number
    type: object
  RequestsBasedTrigger:
    description: Trigger based on total requests.
    properties:
      count:
        description: Request Count.
        format: int32
        type: integer
      timeInterval:
        description: Time interval.
        type: string
    type: object
  Resource:
    description: Azure resource. This resource is tracked in Azure Resource Manager
    properties:
      id:
        description: Resource Id.
        readOnly: true
        type: string
      kind:
        description: Kind of resource.
        type: string
      location:
        description: Resource Location.
        type: string
      name:
        description: Resource Name.
        readOnly: true
        type: string
      tags:
        additionalProperties:
          type: string
        description: Resource tags.
        type: object
      type:
        description: Resource type.
        readOnly: true
        type: string
    required:
      - location
    x-ms-azure-resource: true
  ResourceMetric:
    description: Object representing a metric for any resource .
    properties:
      endTime:
        description: Metric end time.
        format: date-time
        readOnly: true
        type: string
      id:
        description: Resource Id.
        readOnly: true
        type: string
      metricValues:
        description: Metric values.
        items:
          $ref: '#/definitions/ResourceMetricValue'
        readOnly: true
        type: array
      name:
        $ref: '#/definitions/ResourceMetricName'
        description: Name of metric.
        readOnly: true
      properties:
        description: Resource metric properties collection.
        items:
          $ref: '#/definitions/ResourceMetricProperty'
        readOnly: true
        type: array
      resourceId:
        description: Metric resource Id.
        readOnly: true
        type: string
      startTime:
        description: Metric start time.
        format: date-time
        readOnly: true
        type: string
      timeGrain:
        description: 'Metric granularity. E.g PT1H, PT5M, P1D'
        readOnly: true
        type: string
      unit:
        description: Metric unit.
        readOnly: true
        type: string
    type: object
  ResourceMetricAvailability:
    description: Metrics availability and retention.
    properties:
      retention:
        description: Retention period for the current time grain.
        readOnly: true
        type: string
      timeGrain:
        description: Time grain .
        readOnly: true
        type: string
    type: object
  ResourceMetricCollection:
    description: Collection of metric responses.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/ResourceMetric'
        type: array
    required:
      - value
    type: object
  ResourceMetricDefinition:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: Metadata for the metrics.
    properties:
      properties:
        description: ResourceMetricDefinition resource specific properties
        properties:
          metricAvailabilities:
            description: List of time grains supported for the metric together with retention period.
            items:
              $ref: '#/definitions/ResourceMetricAvailability'
            readOnly: true
            type: array
          primaryAggregationType:
            description: Primary aggregation type.
            readOnly: true
            type: string
          properties:
            additionalProperties:
              type: string
            description: Resource metric definition properties.
            readOnly: true
            type: object
          resourceUri:
            description: Resource URI.
            readOnly: true
            type: string
          unit:
            description: Unit of the metric.
            readOnly: true
            type: string
        x-ms-client-flatten: true
    type: object
  ResourceMetricDefinitionCollection:
    description: Collection of metric definitions.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/ResourceMetricDefinition'
        type: array
    required:
      - value
    type: object
  ResourceMetricName:
    description: Name of a metric for any resource .
    properties:
      localizedValue:
        description: Localized metric name value.
        readOnly: true
        type: string
      value:
        description: metric name value.
        readOnly: true
        type: string
    type: object
  ResourceMetricProperty:
    description: Resource metric property.
    properties:
      key:
        description: Key for resource metric property.
        type: string
      value:
        description: Value of pair.
        type: string
    type: object
  ResourceMetricValue:
    description: Value of resource metric.
    properties:
      average:
        description: Value average.
        format: float
        readOnly: true
        type: number
      count:
        description: Value count.
        format: float
        readOnly: true
        type: number
      maximum:
        description: Value maximum.
        format: float
        readOnly: true
        type: number
      minimum:
        description: Value minimum.
        format: float
        readOnly: true
        type: number
      properties:
        description: Resource metric properties collection.
        items:
          $ref: '#/definitions/ResourceMetricProperty'
        readOnly: true
        type: array
      timestamp:
        description: Value timestamp.
        readOnly: true
        type: string
      total:
        description: Value total.
        format: float
        readOnly: true
        type: number
    type: object
  ServiceSpecification:
    description: Resource metrics service provided by Microsoft.Insights resource provider.
    properties:
      logSpecifications:
        items:
          $ref: '#/definitions/LogSpecification'
        type: array
      metricSpecifications:
        items:
          $ref: '#/definitions/MetricSpecification'
        type: array
    type: object
  Site:
    allOf:
      - $ref: '#/definitions/Resource'
    description: 'A web app, a mobile app backend, or an API app.'
    properties:
      identity:
        $ref: '#/definitions/ManagedServiceIdentity'
      properties:
        description: Site resource specific properties
        properties:
          availabilityState:
            description: Management information availability state for the app.
            enum:
              - Normal
              - Limited
              - DisasterRecoveryMode
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: false
              name: SiteAvailabilityState
          clientAffinityEnabled:
            description: '<code>true</code> to enable client affinity; <code>false</code> to stop sending session affinity cookies, which route client requests in the same session to the same instance. Default is <code>true</code>.'
            type: boolean
          clientCertEnabled:
            description: '<code>true</code> to enable client certificate authentication (TLS mutual authentication); otherwise, <code>false</code>. Default is <code>false</code>.'
            type: boolean
          clientCertExclusionPaths:
            description: client certificate authentication comma-separated exclusion paths
            type: string
          cloningInfo:
            $ref: '#/definitions/CloningInfo'
            description: 'If specified during app creation, the app is cloned from a source app.'
            x-ms-mutability:
              - create
          containerSize:
            description: Size of the function container.
            format: int32
            type: integer
          dailyMemoryTimeQuota:
            description: Maximum allowed daily memory-time quota (applicable on dynamic apps only).
            format: int32
            type: integer
          defaultHostName:
            description: Default hostname of the app. Read-only.
            readOnly: true
            type: string
          enabled:
            description: '<code>true</code> if the app is enabled; otherwise, <code>false</code>. Setting this value to false disables the app (takes the app offline).'
            type: boolean
          enabledHostNames:
            description: |-
              Enabled hostnames for the app.Hostnames need to be assigned (see HostNames) AND enabled. Otherwise,
              the app is not served on those hostnames.
            items:
              type: string
            readOnly: true
            type: array
          geoDistributions:
            description: GeoDistributions for this site
            items:
              $ref: '#/definitions/GeoDistribution'
            type: array
          hostNameSslStates:
            description: Hostname SSL states are used to manage the SSL bindings for app's hostnames.
            items:
              $ref: '#/definitions/HostNameSslState'
            type: array
          hostNames:
            description: Hostnames associated with the app.
            items:
              type: string
            readOnly: true
            type: array
          hostNamesDisabled:
            description: |-
              <code>true</code> to disable the public hostnames of the app; otherwise, <code>false</code>.
               If <code>true</code>, the app is only accessible via API management process.
            type: boolean
          hostingEnvironmentProfile:
            $ref: '#/definitions/HostingEnvironmentProfile'
            description: App Service Environment to use for the app.
            x-ms-mutability:
              - create
              - read
          httpsOnly:
            description: |-
              HttpsOnly: configures a web site to accept only https requests. Issues redirect for
              http requests
            type: boolean
          hyperV:
            default: false
            description: Hyper-V sandbox.
            type: boolean
            x-ms-mutability:
              - create
              - read
          inProgressOperationId:
            description: Specifies an operation id if this site has a pending operation.
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            readOnly: true
            type: string
          isDefaultContainer:
            description: '<code>true</code> if the app is a default container; otherwise, <code>false</code>.'
            readOnly: true
            type: boolean
          isXenon:
            default: false
            description: 'Obsolete: Hyper-V sandbox.'
            type: boolean
            x-ms-mutability:
              - create
              - read
          lastModifiedTimeUtc:
            description: 'Last time the app was modified, in UTC. Read-only.'
            format: date-time
            readOnly: true
            type: string
          maxNumberOfWorkers:
            description: |-
              Maximum number of workers.
              This only applies to Functions container.
            format: int32
            readOnly: true
            type: integer
          outboundIpAddresses:
            description: List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from tenants that site can be hosted with current settings. Read-only.
            readOnly: true
            type: string
          possibleOutboundIpAddresses:
            description: List of IP addresses that the app uses for outbound connections (e.g. database access). Includes VIPs from all tenants. Read-only.
            readOnly: true
            type: string
          redundancyMode:
            description: Site redundancy mode
            enum:
              - None
              - Manual
              - Failover
              - ActiveActive
              - GeoRedundant
            type: string
            x-ms-enum:
              modelAsString: false
              name: RedundancyMode
          repositorySiteName:
            description: Name of the repository site.
            readOnly: true
            type: string
          reserved:
            default: false
            description: '<code>true</code> if reserved; otherwise, <code>false</code>.'
            type: boolean
            x-ms-mutability:
              - create
              - read
          resourceGroup:
            description: Name of the resource group the app belongs to. Read-only.
            readOnly: true
            type: string
          scmSiteAlsoStopped:
            default: false
            description: '<code>true</code> to stop SCM (KUDU) site when the app is stopped; otherwise, <code>false</code>. The default is <code>false</code>.'
            type: boolean
          serverFarmId:
            description: 'Resource ID of the associated App Service plan, formatted as: "/subscriptions/{subscriptionID}/resourceGroups/{groupName}/providers/Microsoft.Web/serverfarms/{appServicePlanName}".'
            type: string
          siteConfig:
            $ref: '#/definitions/SiteConfig'
            description: Configuration of the app.
          slotSwapStatus:
            $ref: '#/definitions/SlotSwapStatus'
            description: Status of the last deployment slot swap operation.
            readOnly: true
          state:
            description: Current state of the app.
            readOnly: true
            type: string
          suspendedTill:
            description: App suspended till in case memory-time quota is exceeded.
            format: date-time
            readOnly: true
            type: string
          targetSwapSlot:
            description: Specifies which deployment slot this app will swap into. Read-only.
            readOnly: true
            type: string
          trafficManagerHostNames:
            description: Azure Traffic Manager hostnames associated with the app. Read-only.
            items:
              type: string
            readOnly: true
            type: array
          usageState:
            description: State indicating whether the app has exceeded its quota usage. Read-only.
            enum:
              - Normal
              - Exceeded
            readOnly: true
            type: string
            x-ms-enum:
              modelAsString: false
              name: UsageState
        x-ms-client-flatten: true
    type: object
  SiteConfig:
    description: Configuration of an App Service app.
    properties:
      alwaysOn:
        description: '<code>true</code> if Always On is enabled; otherwise, <code>false</code>.'
        type: boolean
      apiDefinition:
        $ref: '#/definitions/ApiDefinitionInfo'
        description: Information about the formal API definition for the app.
      appCommandLine:
        description: App command line to launch.
        type: string
      appSettings:
        description: Application settings.
        items:
          $ref: '#/definitions/NameValuePair'
        type: array
      autoHealEnabled:
        description: '<code>true</code> if Auto Heal is enabled; otherwise, <code>false</code>.'
        type: boolean
      autoHealRules:
        $ref: '#/definitions/AutoHealRules'
        description: Auto Heal rules.
      autoSwapSlotName:
        description: Auto-swap slot name.
        type: string
      azureStorageAccounts:
        additionalProperties:
          $ref: '#/definitions/AzureStorageInfoValue'
        description: User-provided Azure storage accounts.
        type: object
      connectionStrings:
        description: Connection strings.
        items:
          $ref: '#/definitions/ConnStringInfo'
        type: array
      cors:
        $ref: '#/definitions/CorsSettings'
        description: Cross-Origin Resource Sharing (CORS) settings.
      defaultDocuments:
        description: Default documents.
        items:
          type: string
        type: array
      detailedErrorLoggingEnabled:
        description: '<code>true</code> if detailed error logging is enabled; otherwise, <code>false</code>.'
        type: boolean
      documentRoot:
        description: Document root.
        type: string
      experiments:
        $ref: '#/definitions/Experiments'
        description: This is work around for polymorphic types.
      ftpsState:
        description: State of FTP / FTPS service
        enum:
          - AllAllowed
          - FtpsOnly
          - Disabled
        type: string
        x-ms-enum:
          modelAsString: true
          name: FtpsState
      handlerMappings:
        description: Handler mappings.
        items:
          $ref: '#/definitions/HandlerMapping'
        type: array
      http20Enabled:
        default: true
        description: 'Http20Enabled: configures a web site to allow clients to connect over http2.0'
        type: boolean
      httpLoggingEnabled:
        description: '<code>true</code> if HTTP logging is enabled; otherwise, <code>false</code>.'
        type: boolean
      ipSecurityRestrictions:
        description: IP security restrictions for main.
        items:
          $ref: '#/definitions/IpSecurityRestriction'
        type: array
      javaContainer:
        description: Java container.
        type: string
      javaContainerVersion:
        description: Java container version.
        type: string
      javaVersion:
        description: Java version.
        type: string
      limits:
        $ref: '#/definitions/SiteLimits'
        description: Site limits.
      linuxFxVersion:
        description: Linux App Framework and version
        type: string
      loadBalancing:
        description: Site load balancing.
        enum:
          - WeightedRoundRobin
          - LeastRequests
          - LeastResponseTime
          - WeightedTotalTraffic
          - RequestHash
        type: string
        x-ms-enum:
          modelAsString: false
          name: SiteLoadBalancing
      localMySqlEnabled:
        default: false
        description: '<code>true</code> to enable local MySQL; otherwise, <code>false</code>.'
        type: boolean
      logsDirectorySizeLimit:
        description: HTTP logs directory size limit.
        format: int32
        type: integer
      machineKey:
        $ref: '#/definitions/SiteMachineKey'
        description: Site MachineKey.
        readOnly: true
      managedPipelineMode:
        description: Managed pipeline mode.
        enum:
          - Integrated
          - Classic
        type: string
        x-ms-enum:
          modelAsString: false
          name: ManagedPipelineMode
      managedServiceIdentityId:
        description: Managed Service Identity Id
        format: int32
        type: integer
      minTlsVersion:
        description: 'MinTlsVersion: configures the minimum version of TLS required for SSL requests'
        enum:
          - '1.0'
          - '1.1'
          - '1.2'
        type: string
        x-ms-enum:
          modelAsString: true
          name: SupportedTlsVersions
      netFrameworkVersion:
        default: v4.6
        description: .NET Framework version.
        type: string
      nodeVersion:
        description: Version of Node.js.
        type: string
      numberOfWorkers:
        description: Number of workers.
        format: int32
        type: integer
      phpVersion:
        description: Version of PHP.
        type: string
      publishingUsername:
        description: Publishing user name.
        type: string
      push:
        $ref: '#/definitions/PushSettings'
        description: Push endpoint settings.
      pythonVersion:
        description: Version of Python.
        type: string
      remoteDebuggingEnabled:
        description: '<code>true</code> if remote debugging is enabled; otherwise, <code>false</code>.'
        type: boolean
      remoteDebuggingVersion:
        description: Remote debugging version.
        type: string
      requestTracingEnabled:
        description: '<code>true</code> if request tracing is enabled; otherwise, <code>false</code>.'
        type: boolean
      requestTracingExpirationTime:
        description: Request tracing expiration time.
        format: date-time
        type: string
      reservedInstanceCount:
        description: |-
          Number of reserved instances.
          This setting only applies to the Consumption Plan
        format: int32
        maximum: 10
        minimum: 0
        type: integer
      scmIpSecurityRestrictions:
        description: IP security restrictions for scm.
        items:
          $ref: '#/definitions/IpSecurityRestriction'
        type: array
      scmIpSecurityRestrictionsUseMain:
        description: IP security restrictions for scm to use main.
        type: boolean
      scmType:
        description: SCM type.
        enum:
          - None
          - Dropbox
          - Tfs
          - LocalGit
          - GitHub
          - CodePlexGit
          - CodePlexHg
          - BitbucketGit
          - BitbucketHg
          - ExternalGit
          - ExternalHg
          - OneDrive
          - VSO
        type: string
        x-ms-enum:
          modelAsString: true
          name: ScmType
      tracingOptions:
        description: Tracing options.
        type: string
      use32BitWorkerProcess:
        description: '<code>true</code> to use 32-bit worker process; otherwise, <code>false</code>.'
        type: boolean
      virtualApplications:
        description: Virtual applications.
        items:
          $ref: '#/definitions/VirtualApplication'
        type: array
      vnetName:
        description: Virtual Network name.
        type: string
        x-ms-mutability:
          - create
          - read
      webSocketsEnabled:
        description: '<code>true</code> if WebSocket is enabled; otherwise, <code>false</code>.'
        type: boolean
      windowsFxVersion:
        description: Xenon App Framework and version
        type: string
      xManagedServiceIdentityId:
        description: Explicit Managed Service Identity Id
        format: int32
        type: integer
    type: object
  SiteLimits:
    description: Metric limits set on an app.
    properties:
      maxDiskSizeInMb:
        description: Maximum allowed disk size usage in MB.
        format: int64
        type: integer
      maxMemoryInMb:
        description: Maximum allowed memory usage in MB.
        format: int64
        type: integer
      maxPercentageCpu:
        description: Maximum allowed CPU usage percentage.
        format: double
        type: number
    type: object
  SiteMachineKey:
    description: MachineKey of an app.
    properties:
      decryption:
        description: Algorithm used for decryption.
        type: string
      decryptionKey:
        description: Decryption key.
        type: string
      validation:
        description: MachineKey validation.
        type: string
      validationKey:
        description: Validation key.
        type: string
    type: object
  SkuCapacity:
    description: Description of the App Service plan scale options.
    properties:
      default:
        description: Default number of workers for this App Service plan SKU.
        format: int32
        type: integer
      maximum:
        description: Maximum number of workers for this App Service plan SKU.
        format: int32
        type: integer
      minimum:
        description: Minimum number of workers for this App Service plan SKU.
        format: int32
        type: integer
      scaleType:
        description: Available scale configurations for an App Service plan.
        type: string
    type: object
  SkuDescription:
    description: Description of a SKU for a scalable resource.
    properties:
      capabilities:
        description: 'Capabilities of the SKU, e.g., is traffic manager enabled?'
        items:
          $ref: '#/definitions/Capability'
        type: array
      capacity:
        description: Current number of instances assigned to the resource.
        format: int32
        type: integer
      family:
        description: Family code of the resource SKU.
        type: string
      locations:
        description: Locations of the SKU.
        items:
          type: string
        type: array
      name:
        description: Name of the resource SKU.
        type: string
      size:
        description: Size specifier of the resource SKU.
        type: string
      skuCapacity:
        $ref: '#/definitions/SkuCapacity'
        description: 'Min, max, and default scale values of the SKU.'
      tier:
        description: Service tier of the resource SKU.
        type: string
    type: object
  SlotSwapStatus:
    description: The status of the last successful slot swap operation.
    properties:
      destinationSlotName:
        description: The destination slot of the last swap operation.
        readOnly: true
        type: string
      sourceSlotName:
        description: The source slot of the last swap operation.
        readOnly: true
        type: string
      timestampUtc:
        description: The time the last successful slot swap completed.
        format: date-time
        readOnly: true
        type: string
    type: object
  SlowRequestsBasedTrigger:
    description: Trigger based on request execution time.
    properties:
      count:
        description: Request Count.
        format: int32
        type: integer
      timeInterval:
        description: Time interval.
        type: string
      timeTaken:
        description: Time taken.
        type: string
    type: object
  Snapshot:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: A snapshot of an app.
    properties:
      properties:
        description: Snapshot resource specific properties
        properties:
          time:
            description: The time the snapshot was taken.
            readOnly: true
            type: string
        x-ms-client-flatten: true
    type: object
  StampCapacity:
    description: Stamp capacity information.
    properties:
      availableCapacity:
        description: 'Available capacity (# of machines, bytes of storage etc...).'
        format: int64
        type: integer
      computeMode:
        description: Shared/dedicated workers.
        enum:
          - Shared
          - Dedicated
          - Dynamic
        type: string
        x-ms-enum:
          modelAsString: false
          name: ComputeModeOptions
      excludeFromCapacityAllocation:
        description: |-
          If <code>true</code>, it includes basic apps.
          Basic apps are not used for capacity allocation.
        type: boolean
      isApplicableForAllComputeModes:
        description: '<code>true</code> if capacity is applicable for all apps; otherwise, <code>false</code>.'
        type: boolean
      isLinux:
        description: Is this a linux stamp capacity
        type: boolean
      name:
        description: Name of the stamp.
        type: string
      siteMode:
        description: Shared or Dedicated.
        type: string
      totalCapacity:
        description: 'Total capacity (# of machines, bytes of storage etc...).'
        format: int64
        type: integer
      unit:
        description: Name of the unit.
        type: string
      workerSize:
        description: Size of the machines.
        enum:
          - Small
          - Medium
          - Large
          - D1
          - D2
          - D3
          - Default
        type: string
        x-ms-enum:
          modelAsString: false
          name: WorkerSizeOptions
      workerSizeId:
        description: |-
          Size ID of machines: 
          0 - Small
          1 - Medium
          2 - Large
        format: int32
        type: integer
    type: object
  StatusCodesBasedTrigger:
    description: Trigger based on status code.
    properties:
      count:
        description: Request Count.
        format: int32
        type: integer
      status:
        description: HTTP status code.
        format: int32
        type: integer
      subStatus:
        description: Request Sub Status.
        format: int32
        type: integer
      timeInterval:
        description: Time interval.
        type: string
      win32Status:
        description: Win32 error code.
        format: int32
        type: integer
    type: object
  User:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: User credentials used for publishing activity.
    properties:
      properties:
        description: User resource specific properties
        properties:
          publishingPassword:
            description: Password used for publishing.
            format: password
            type: string
          publishingPasswordHash:
            description: Password hash used for publishing.
            format: password
            type: string
          publishingPasswordHashSalt:
            description: Password hash salt used for publishing.
            format: password
            type: string
          publishingUserName:
            description: Username used for publishing.
            type: string
          scmUri:
            description: Url of SCM site.
            type: string
        required:
          - publishingUserName
        x-ms-client-flatten: true
    type: object
  VirtualApplication:
    description: Virtual application in an app.
    properties:
      physicalPath:
        description: Physical path.
        type: string
      preloadEnabled:
        description: '<code>true</code> if preloading is enabled; otherwise, <code>false</code>.'
        type: boolean
      virtualDirectories:
        description: Virtual directories for virtual application.
        items:
          $ref: '#/definitions/VirtualDirectory'
        type: array
      virtualPath:
        description: Virtual path.
        type: string
    type: object
  VirtualDirectory:
    description: Directory for virtual application.
    properties:
      physicalPath:
        description: Physical path.
        type: string
      virtualPath:
        description: Path to virtual application.
        type: string
    type: object
  VirtualIPMapping:
    description: Virtual IP mapping.
    properties:
      inUse:
        description: Is virtual IP mapping in use.
        type: boolean
      internalHttpPort:
        description: Internal HTTP port.
        format: int32
        type: integer
      internalHttpsPort:
        description: Internal HTTPS port.
        format: int32
        type: integer
      virtualIP:
        description: Virtual IP address.
        type: string
    type: object
  VirtualNetworkProfile:
    description: Specification for using a Virtual Network.
    properties:
      id:
        description: Resource id of the Virtual Network.
        type: string
      name:
        description: Name of the Virtual Network (read-only).
        readOnly: true
        type: string
      subnet:
        description: Subnet within the Virtual Network.
        type: string
      type:
        description: Resource type of the Virtual Network (read-only).
        readOnly: true
        type: string
    type: object
  VnetGateway:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: The Virtual Network gateway contract. This is used to give the Virtual Network gateway access to the VPN package.
    properties:
      properties:
        description: VnetGateway resource specific properties
        properties:
          vnetName:
            description: The Virtual Network name.
            type: string
            x-ms-mutability:
              - create
              - read
          vpnPackageUri:
            description: The URI where the VPN package can be downloaded.
            type: string
            x-ms-mutability:
              - create
              - update
        required:
          - vpnPackageUri
        x-ms-client-flatten: true
    type: object
  VnetInfo:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: Virtual Network information contract.
    properties:
      properties:
        description: VnetInfo resource specific properties
        properties:
          certBlob:
            description: |-
              A certificate file (.cer) blob containing the public key of the private key used to authenticate a 
              Point-To-Site VPN connection.
            format: byte
            type: string
          certThumbprint:
            description: The client certificate thumbprint.
            readOnly: true
            type: string
          dnsServers:
            description: DNS servers to be used by this Virtual Network. This should be a comma-separated list of IP addresses.
            type: string
          isSwift:
            description: Flag that is used to denote if this is VNET injection
            type: boolean
          resyncRequired:
            description: '<code>true</code> if a resync is required; otherwise, <code>false</code>.'
            readOnly: true
            type: boolean
          routes:
            description: The routes that this Virtual Network connection uses.
            items:
              $ref: '#/definitions/VnetRoute'
            readOnly: true
            type: array
          vnetResourceId:
            description: The Virtual Network's resource ID.
            type: string
        x-ms-client-flatten: true
    type: object
  VnetRoute:
    allOf:
      - $ref: '#/definitions/ProxyOnlyResource'
    description: Virtual Network route contract used to pass routing information for a Virtual Network.
    properties:
      properties:
        description: VnetRoute resource specific properties
        properties:
          endAddress:
            description: 'The ending address for this route. If the start address is specified in CIDR notation, this must be omitted.'
            type: string
          routeType:
            description: |-
              The type of route this is:
              DEFAULT - By default, every app has routes to the local address ranges specified by RFC1918
              INHERITED - Routes inherited from the real Virtual Network routes
              STATIC - Static route set on the app only

              These values will be used for syncing an app's routes with those from a Virtual Network.
            enum:
              - DEFAULT
              - INHERITED
              - STATIC
            type: string
            x-ms-enum:
              modelAsString: true
              name: RouteType
          startAddress:
            description: 'The starting address for this route. This may also include a CIDR notation, in which case the end address must not be specified.'
            type: string
        x-ms-client-flatten: true
    type: object
  WebAppCollection:
    description: Collection of App Service apps.
    properties:
      nextLink:
        description: Link to next page of resources.
        readOnly: true
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/Site'
        type: array
    required:
      - value
    type: object
  WorkerPool:
    description: Worker pool of an App Service Environment.
    properties:
      computeMode:
        description: Shared or dedicated app hosting.
        enum:
          - Shared
          - Dedicated
          - Dynamic
        type: string
        x-ms-enum:
          modelAsString: false
          name: ComputeModeOptions
      instanceNames:
        description: Names of all instances in the worker pool (read only).
        items:
          type: string
        readOnly: true
        type: array
      workerCount:
        description: Number of instances in the worker pool.
        format: int32
        type: integer
      workerSize:
        description: VM size of the worker pool instances.
        type: string
      workerSizeId:
        description: Worker size ID for referencing this worker pool.
        format: int32
        type: integer
    type: object
