swagger: '2.0'
info:
  version: '2014-10-31'
  x-release: v4
  title: Amazon Relational Database Service
  description: '<fullname>Amazon Relational Database Service</fullname> <p> </p> <p>Amazon Relational Database Service (Amazon RDS) is a web service that makes it easier to set up, operate, and scale a relational database in the cloud. It provides cost-efficient, resizable capacity for an industry-standard relational database and manages common database administration tasks, freeing up developers to focus on what makes their applications and businesses unique.</p> <p>Amazon RDS gives you access to the capabilities of a MySQL, MariaDB, PostgreSQL, Microsoft SQL Server, Oracle, or Amazon Aurora database server. These capabilities mean that the code, applications, and tools you already use today with your existing databases work with Amazon RDS without modification. Amazon RDS automatically backs up your database and maintains the database software that powers your DB instance. Amazon RDS is flexible: you can scale your DB instance''s compute resources and storage capacity to meet your application''s demand. As with all Amazon Web Services, there are no up-front investments, and you pay only for the resources you use.</p> <p>This interface reference for Amazon RDS contains documentation for a programming or command line interface you can use to manage Amazon RDS. Note that Amazon RDS is asynchronous, which means that some interfaces might require techniques such as polling or callback functions to determine when a command has been applied. In this reference, the parameter descriptions indicate whether a command is applied immediately, on the next instance reboot, or during the maintenance window. The reference structure is as follows, and we list following some related topics from the user guide.</p> <p> <b>Amazon RDS API Reference</b> </p> <ul> <li> <p>For the alphabetical list of API actions, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Operations.html">API Actions</a>.</p> </li> <li> <p>For the alphabetical list of data types, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/API_Types.html">Data Types</a>.</p> </li> <li> <p>For a list of common query parameters, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonParameters.html">Common Parameters</a>.</p> </li> <li> <p>For descriptions of the error codes, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/APIReference/CommonErrors.html">Common Errors</a>.</p> </li> </ul> <p> <b>Amazon RDS User Guide</b> </p> <ul> <li> <p>For a summary of the Amazon RDS interfaces, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Welcome.html#Welcome.Interfaces">Available RDS Interfaces</a>.</p> </li> <li> <p>For more information about how to use the Query API, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Using_the_Query_API.html">Using the Query API</a>.</p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: rds
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/rds-2014-10-31.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/rds/'
host: rds.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://rds.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The Amazon RDS multi-region endpoint
  - url: 'https://rds.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
    description: The Amazon RDS multi-region endpoint
  - url: 'http://rds.amazonaws.com'
    variables: {}
    description: The general Amazon RDS multi-region endpoint
  - url: 'https://rds.amazonaws.com'
    variables: {}
    description: The general Amazon RDS multi-region endpoint
  - url: 'http://rds.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon RDS endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://rds.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
    description: The Amazon RDS endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=AddRoleToDBCluster':
    get:
      x-aws-operation-name: AddRoleToDBCluster
      operationId: GET AddRoleToDBCluster
      description: '<p>Associates an Identity and Access Management (IAM) role from an Amazon Aurora DB cluster. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Integrating.Authorizing.html">Authorizing Amazon Aurora MySQL to Access Other AWS Services on Your Behalf</a> in the <i>Amazon Aurora User Guide</i>.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: DBClusterRoleAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterRoleAlreadyExistsFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: DBClusterRoleQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterRoleQuotaExceededFault'
      parameters:
        - name: DBClusterIdentifier
          in: query
          required: true
          description: The name of the DB cluster to associate the IAM role with.
          type: string
        - name: RoleArn
          in: query
          required: true
          description: 'The Amazon Resource Name (ARN) of the IAM role to associate with the Aurora DB cluster, for example <code>arn:aws:iam::123456789012:role/AuroraAccessRole</code>.'
          type: string
        - name: FeatureName
          in: query
          required: false
          description: 'The name of the feature for the DB cluster that the IAM role is to be associated with. For the list of supported feature names, see <a>DBEngineVersion</a>.'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddRoleToDBCluster
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AddRoleToDBCluster
      operationId: POST AddRoleToDBCluster
      description: '<p>Associates an Identity and Access Management (IAM) role from an Amazon Aurora DB cluster. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Integrating.Authorizing.html">Authorizing Amazon Aurora MySQL to Access Other AWS Services on Your Behalf</a> in the <i>Amazon Aurora User Guide</i>.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: DBClusterRoleAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterRoleAlreadyExistsFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: DBClusterRoleQuotaExceededFault
          schema:
            $ref: '#/definitions/DBClusterRoleQuotaExceededFault'
      parameters:
        - name: DBClusterIdentifier
          in: formData
          required: true
          description: The name of the DB cluster to associate the IAM role with.
          type: string
        - name: RoleArn
          in: formData
          required: true
          description: 'The Amazon Resource Name (ARN) of the IAM role to associate with the Aurora DB cluster, for example <code>arn:aws:iam::123456789012:role/AuroraAccessRole</code>.'
          type: string
        - name: FeatureName
          in: formData
          required: false
          description: 'The name of the feature for the DB cluster that the IAM role is to be associated with. For the list of supported feature names, see <a>DBEngineVersion</a>.'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddRoleToDBCluster
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=AddRoleToDBInstance':
    get:
      x-aws-operation-name: AddRoleToDBInstance
      operationId: GET AddRoleToDBInstance
      description: '<p>Associates an AWS Identity and Access Management (IAM) role with a DB instance.</p> <note> <p>To add a role to a DB instance, the status of the DB instance must be <code>available</code>.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBInstanceRoleAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceRoleAlreadyExistsFault'
        '482':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '483':
          description: DBInstanceRoleQuotaExceededFault
          schema:
            $ref: '#/definitions/DBInstanceRoleQuotaExceededFault'
      parameters:
        - name: DBInstanceIdentifier
          in: query
          required: true
          description: The name of the DB instance to associate the IAM role with.
          type: string
        - name: RoleArn
          in: query
          required: true
          description: 'The Amazon Resource Name (ARN) of the IAM role to associate with the DB instance, for example <code>arn:aws:iam::123456789012:role/AccessRole</code>. '
          type: string
        - name: FeatureName
          in: query
          required: true
          description: 'The name of the feature for the DB instance that the IAM role is to be associated with. For the list of supported feature names, see <a>DBEngineVersion</a>. '
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddRoleToDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AddRoleToDBInstance
      operationId: POST AddRoleToDBInstance
      description: '<p>Associates an AWS Identity and Access Management (IAM) role with a DB instance.</p> <note> <p>To add a role to a DB instance, the status of the DB instance must be <code>available</code>.</p> </note>'
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBInstanceRoleAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceRoleAlreadyExistsFault'
        '482':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '483':
          description: DBInstanceRoleQuotaExceededFault
          schema:
            $ref: '#/definitions/DBInstanceRoleQuotaExceededFault'
      parameters:
        - name: DBInstanceIdentifier
          in: formData
          required: true
          description: The name of the DB instance to associate the IAM role with.
          type: string
        - name: RoleArn
          in: formData
          required: true
          description: 'The Amazon Resource Name (ARN) of the IAM role to associate with the DB instance, for example <code>arn:aws:iam::123456789012:role/AccessRole</code>. '
          type: string
        - name: FeatureName
          in: formData
          required: true
          description: 'The name of the feature for the DB instance that the IAM role is to be associated with. For the list of supported feature names, see <a>DBEngineVersion</a>. '
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddRoleToDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=AddSourceIdentifierToSubscription':
    get:
      x-aws-operation-name: AddSourceIdentifierToSubscription
      operationId: GET AddSourceIdentifierToSubscription
      description: Adds a source identifier to an existing RDS event notification subscription.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddSourceIdentifierToSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      parameters:
        - name: SubscriptionName
          in: query
          required: true
          description: The name of the RDS event notification subscription you want to add a source identifier to.
          type: string
        - name: SourceIdentifier
          in: query
          required: true
          description: '<p>The identifier of the event source to be added.</p> <p>Constraints:</p> <ul> <li> <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be supplied.</p> </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddSourceIdentifierToSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AddSourceIdentifierToSubscription
      operationId: POST AddSourceIdentifierToSubscription
      description: Adds a source identifier to an existing RDS event notification subscription.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddSourceIdentifierToSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      parameters:
        - name: SubscriptionName
          in: formData
          required: true
          description: The name of the RDS event notification subscription you want to add a source identifier to.
          type: string
        - name: SourceIdentifier
          in: formData
          required: true
          description: '<p>The identifier of the event source to be added.</p> <p>Constraints:</p> <ul> <li> <p>If the source type is a DB instance, then a <code>DBInstanceIdentifier</code> must be supplied.</p> </li> <li> <p>If the source type is a DB security group, a <code>DBSecurityGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB parameter group, a <code>DBParameterGroupName</code> must be supplied.</p> </li> <li> <p>If the source type is a DB snapshot, a <code>DBSnapshotIdentifier</code> must be supplied.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddSourceIdentifierToSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=AddTagsToResource':
    get:
      x-aws-operation-name: AddTagsToResource
      operationId: GET AddTagsToResource
      description: '<p>Adds metadata tags to an Amazon RDS resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon RDS resources, or used in a Condition statement in an IAM policy for Amazon RDS.</p> <p>For an overview on tagging Amazon RDS resources, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html">Tagging Amazon RDS Resources</a>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      parameters:
        - name: ResourceName
          in: query
          required: true
          description: 'The Amazon RDS resource that the tags are added to. This value is an Amazon Resource Name (ARN). For information about creating an ARN, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing"> Constructing an RDS Amazon Resource Name (ARN)</a>.'
          type: string
        - name: Tags
          in: query
          required: true
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddTagsToResource
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AddTagsToResource
      operationId: POST AddTagsToResource
      description: '<p>Adds metadata tags to an Amazon RDS resource. These tags can also be used with cost allocation reporting to track cost associated with Amazon RDS resources, or used in a Condition statement in an IAM policy for Amazon RDS.</p> <p>For an overview on tagging Amazon RDS resources, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/Overview.Tagging.html">Tagging Amazon RDS Resources</a>.</p>'
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
      parameters:
        - name: ResourceName
          in: formData
          required: true
          description: 'The Amazon RDS resource that the tags are added to. This value is an Amazon Resource Name (ARN). For information about creating an ARN, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing"> Constructing an RDS Amazon Resource Name (ARN)</a>.'
          type: string
        - name: Tags
          in: formData
          required: true
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddTagsToResource
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=ApplyPendingMaintenanceAction':
    get:
      x-aws-operation-name: ApplyPendingMaintenanceAction
      operationId: GET ApplyPendingMaintenanceAction
      description: 'Applies a pending maintenance action to a resource (for example, to a DB instance).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResult'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
      parameters:
        - name: ResourceIdentifier
          in: query
          required: true
          description: 'The RDS Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing"> Constructing an RDS Amazon Resource Name (ARN)</a>.'
          type: string
        - name: ApplyAction
          in: query
          required: true
          description: '<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code>, <code>hardware-maintenance</code> </p>'
          type: string
        - name: OptInType
          in: query
          required: true
          description: '<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in request of type <code>immediate</code> can''t be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ApplyPendingMaintenanceAction
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: ApplyPendingMaintenanceAction
      operationId: POST ApplyPendingMaintenanceAction
      description: 'Applies a pending maintenance action to a resource (for example, to a DB instance).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ApplyPendingMaintenanceActionResult'
        '480':
          description: ResourceNotFoundFault
          schema:
            $ref: '#/definitions/ResourceNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '482':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
      parameters:
        - name: ResourceIdentifier
          in: formData
          required: true
          description: 'The RDS Amazon Resource Name (ARN) of the resource that the pending maintenance action applies to. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing"> Constructing an RDS Amazon Resource Name (ARN)</a>.'
          type: string
        - name: ApplyAction
          in: formData
          required: true
          description: '<p>The pending maintenance action to apply to this resource.</p> <p>Valid values: <code>system-update</code>, <code>db-upgrade</code>, <code>hardware-maintenance</code> </p>'
          type: string
        - name: OptInType
          in: formData
          required: true
          description: '<p>A value that specifies the type of opt-in request, or undoes an opt-in request. An opt-in request of type <code>immediate</code> can''t be undone.</p> <p>Valid values:</p> <ul> <li> <p> <code>immediate</code> - Apply the maintenance action immediately.</p> </li> <li> <p> <code>next-maintenance</code> - Apply the maintenance action during the next maintenance window for the resource.</p> </li> <li> <p> <code>undo-opt-in</code> - Cancel any existing <code>next-maintenance</code> opt-in requests.</p> </li> </ul>'
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - ApplyPendingMaintenanceAction
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=AuthorizeDBSecurityGroupIngress':
    get:
      x-aws-operation-name: AuthorizeDBSecurityGroupIngress
      operationId: GET AuthorizeDBSecurityGroupIngress
      description: '<p>Enables ingress to a DBSecurityGroup using one of two forms of authorization. First, EC2 or VPC security groups can be added to the DBSecurityGroup if the application using the database is running on EC2 or VPC instances. Second, IP ranges are available if the application accessing your database is running on the Internet. Required parameters for this API are one of CIDR range, EC2SecurityGroupId for VPC, or (EC2SecurityGroupOwnerId and either EC2SecurityGroupName or EC2SecurityGroupId for non-VPC).</p> <note> <p>You can''t authorize ingress from an EC2 security group in one AWS Region to an Amazon RDS DB instance in another. You can''t authorize ingress from a VPC security group in one VPC to an Amazon RDS DB instance in another.</p> </note> <p>For an overview of CIDR ranges, go to the <a href="http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing">Wikipedia Tutorial</a>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeDBSecurityGroupIngressResult'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '481':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '482':
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        '483':
          description: AuthorizationQuotaExceededFault
          schema:
            $ref: '#/definitions/AuthorizationQuotaExceededFault'
      parameters:
        - name: DBSecurityGroupName
          in: query
          required: true
          description: The name of the DB security group to add authorization to.
          type: string
        - name: CIDRIP
          in: query
          required: false
          description: The IP range to authorize.
          type: string
        - name: EC2SecurityGroupName
          in: query
          required: false
          description: ' Name of the EC2 security group to authorize. For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided. Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided. '
          type: string
        - name: EC2SecurityGroupId
          in: query
          required: false
          description: ' Id of the EC2 security group to authorize. For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided. Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided. '
          type: string
        - name: EC2SecurityGroupOwnerId
          in: query
          required: false
          description: ' AWS account number of the owner of the EC2 security group specified in the <code>EC2SecurityGroupName</code> parameter. The AWS Access Key ID is not an acceptable value. For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided. Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided. '
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AuthorizeDBSecurityGroupIngress
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AuthorizeDBSecurityGroupIngress
      operationId: POST AuthorizeDBSecurityGroupIngress
      description: '<p>Enables ingress to a DBSecurityGroup using one of two forms of authorization. First, EC2 or VPC security groups can be added to the DBSecurityGroup if the application using the database is running on EC2 or VPC instances. Second, IP ranges are available if the application accessing your database is running on the Internet. Required parameters for this API are one of CIDR range, EC2SecurityGroupId for VPC, or (EC2SecurityGroupOwnerId and either EC2SecurityGroupName or EC2SecurityGroupId for non-VPC).</p> <note> <p>You can''t authorize ingress from an EC2 security group in one AWS Region to an Amazon RDS DB instance in another. You can''t authorize ingress from a VPC security group in one VPC to an Amazon RDS DB instance in another.</p> </note> <p>For an overview of CIDR ranges, go to the <a href="http://en.wikipedia.org/wiki/Classless_Inter-Domain_Routing">Wikipedia Tutorial</a>. </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeDBSecurityGroupIngressResult'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '481':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '482':
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        '483':
          description: AuthorizationQuotaExceededFault
          schema:
            $ref: '#/definitions/AuthorizationQuotaExceededFault'
      parameters:
        - name: DBSecurityGroupName
          in: formData
          required: true
          description: The name of the DB security group to add authorization to.
          type: string
        - name: CIDRIP
          in: formData
          required: false
          description: The IP range to authorize.
          type: string
        - name: EC2SecurityGroupName
          in: formData
          required: false
          description: ' Name of the EC2 security group to authorize. For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided. Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided. '
          type: string
        - name: EC2SecurityGroupId
          in: formData
          required: false
          description: ' Id of the EC2 security group to authorize. For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided. Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided. '
          type: string
        - name: EC2SecurityGroupOwnerId
          in: formData
          required: false
          description: ' AWS account number of the owner of the EC2 security group specified in the <code>EC2SecurityGroupName</code> parameter. The AWS Access Key ID is not an acceptable value. For VPC DB security groups, <code>EC2SecurityGroupId</code> must be provided. Otherwise, <code>EC2SecurityGroupOwnerId</code> and either <code>EC2SecurityGroupName</code> or <code>EC2SecurityGroupId</code> must be provided. '
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AuthorizeDBSecurityGroupIngress
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=BacktrackDBCluster':
    get:
      x-aws-operation-name: BacktrackDBCluster
      operationId: GET BacktrackDBCluster
      description: '<p>Backtracks a DB cluster to a specific time, without creating a new DB cluster.</p> <p>For more information on backtracking, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Managing.Backtrack.html"> Backtracking an Aurora DB Cluster</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBClusterBacktrack'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
      parameters:
        - name: DBClusterIdentifier
          in: query
          required: true
          description: '<p>The DB cluster identifier of the DB cluster to be backtracked. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>'
          type: string
        - name: BacktrackTo
          in: query
          required: true
          description: '<p>The timestamp of the time to backtrack the DB cluster to, specified in ISO 8601 format. For more information about ISO 8601, see the <a href="http://en.wikipedia.org/wiki/ISO_8601">ISO8601 Wikipedia page.</a> </p> <note> <p>If the specified time is not a consistent time for the DB cluster, Aurora automatically chooses the nearest possible consistent time for the DB cluster.</p> </note> <p>Constraints:</p> <ul> <li> <p>Must contain a valid ISO 8601 timestamp.</p> </li> <li> <p>Can''t contain a timestamp set in the future.</p> </li> </ul> <p>Example: <code>2017-07-08T18:00Z</code> </p>'
          type: string
          format: date-time
        - name: Force
          in: query
          required: false
          description: 'A value that, if specified, forces the DB cluster to backtrack when binary logging is enabled. Otherwise, an error occurs when binary logging is enabled.'
          type: boolean
        - name: UseEarliestTimeOnPointInTimeUnavailable
          in: query
          required: false
          description: 'If <i>BacktrackTo</i> is set to a timestamp earlier than the earliest backtrack time, this value backtracks the DB cluster to the earliest possible backtrack time. Otherwise, an error occurs.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - BacktrackDBCluster
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: BacktrackDBCluster
      operationId: POST BacktrackDBCluster
      description: '<p>Backtracks a DB cluster to a specific time, without creating a new DB cluster.</p> <p>For more information on backtracking, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/AuroraMySQL.Managing.Backtrack.html"> Backtracking an Aurora DB Cluster</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBClusterBacktrack'
        '480':
          description: DBClusterNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterNotFoundFault'
        '481':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
      parameters:
        - name: DBClusterIdentifier
          in: formData
          required: true
          description: '<p>The DB cluster identifier of the DB cluster to be backtracked. This parameter is stored as a lowercase string.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 alphanumeric characters or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster1</code> </p>'
          type: string
        - name: BacktrackTo
          in: formData
          required: true
          description: '<p>The timestamp of the time to backtrack the DB cluster to, specified in ISO 8601 format. For more information about ISO 8601, see the <a href="http://en.wikipedia.org/wiki/ISO_8601">ISO8601 Wikipedia page.</a> </p> <note> <p>If the specified time is not a consistent time for the DB cluster, Aurora automatically chooses the nearest possible consistent time for the DB cluster.</p> </note> <p>Constraints:</p> <ul> <li> <p>Must contain a valid ISO 8601 timestamp.</p> </li> <li> <p>Can''t contain a timestamp set in the future.</p> </li> </ul> <p>Example: <code>2017-07-08T18:00Z</code> </p>'
          type: string
          format: date-time
        - name: Force
          in: formData
          required: false
          description: 'A value that, if specified, forces the DB cluster to backtrack when binary logging is enabled. Otherwise, an error occurs when binary logging is enabled.'
          type: boolean
        - name: UseEarliestTimeOnPointInTimeUnavailable
          in: formData
          required: false
          description: 'If <i>BacktrackTo</i> is set to a timestamp earlier than the earliest backtrack time, this value backtracks the DB cluster to the earliest possible backtrack time. Otherwise, an error occurs.'
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - BacktrackDBCluster
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CopyDBClusterParameterGroup':
    get:
      x-aws-operation-name: CopyDBClusterParameterGroup
      operationId: GET CopyDBClusterParameterGroup
      description: <p>Copies the specified DB cluster parameter group.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '482':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: SourceDBClusterParameterGroupIdentifier
          in: query
          required: true
          description: '<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing"> Constructing an ARN for Amazon RDS</a> in the <i>Amazon Aurora User Guide</i>. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same AWS Region as the copy, specify a valid DB parameter group identifier, for example <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different AWS Region than the copy, specify a valid DB cluster parameter group ARN, for example <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>'
          type: string
        - name: TargetDBClusterParameterGroupIdentifier
          in: query
          required: true
          description: '<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Can''t be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>'
          type: string
        - name: TargetDBClusterParameterGroupDescription
          in: query
          required: true
          description: A description for the copied DB cluster parameter group.
          type: string
        - name: Tags
          in: query
          required: false
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBClusterParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CopyDBClusterParameterGroup
      operationId: POST CopyDBClusterParameterGroup
      description: <p>Copies the specified DB cluster parameter group.</p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '482':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: SourceDBClusterParameterGroupIdentifier
          in: formData
          required: true
          description: '<p>The identifier or Amazon Resource Name (ARN) for the source DB cluster parameter group. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing"> Constructing an ARN for Amazon RDS</a> in the <i>Amazon Aurora User Guide</i>. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB cluster parameter group.</p> </li> <li> <p>If the source DB cluster parameter group is in the same AWS Region as the copy, specify a valid DB parameter group identifier, for example <code>my-db-cluster-param-group</code>, or a valid ARN.</p> </li> <li> <p>If the source DB parameter group is in a different AWS Region than the copy, specify a valid DB cluster parameter group ARN, for example <code>arn:aws:rds:us-east-1:123456789012:cluster-pg:custom-cluster-group1</code>.</p> </li> </ul>'
          type: string
        - name: TargetDBClusterParameterGroupIdentifier
          in: formData
          required: true
          description: '<p>The identifier for the copied DB cluster parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Can''t be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-cluster-param-group1</code> </p>'
          type: string
        - name: TargetDBClusterParameterGroupDescription
          in: formData
          required: true
          description: A description for the copied DB cluster parameter group.
          type: string
        - name: Tags
          in: formData
          required: false
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBClusterParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CopyDBClusterSnapshot':
    get:
      x-aws-operation-name: CopyDBClusterSnapshot
      operationId: GET CopyDBClusterSnapshot
      description: '<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>You can copy an encrypted DB cluster snapshot from another AWS Region. In that case, the AWS Region where you call the <code>CopyDBClusterSnapshot</code> action is the destination AWS Region for the encrypted DB cluster snapshot to be copied to. To copy an encrypted DB cluster snapshot from another AWS Region, you must provide the following values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS Key Management System (AWS KMS) key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region.</p> </li> <li> <p> <code>PreSignedUrl</code> - A URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> action to be called in the source AWS Region where the DB cluster snapshot is copied from. The pre-signed URL must be a valid request for the <code>CopyDBClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied.</p> <p>The pre-signed URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the pre-signed URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html"> Signature Version 4 Signing Process</a>.</p> </li> <li> <p> <code>TargetDBClusterSnapshotIdentifier</code> - The identifier for the new copy of the DB cluster snapshot in the destination AWS Region.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the ARN format for the source AWS Region and is the same value as the <code>SourceDBClusterSnapshotIdentifier</code> in the pre-signed URL. </p> </li> </ul> <p>To cancel the copy operation once it is in progress, delete the target DB cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in "copying" status.</p> <p>For more information on copying encrypted DB cluster snapshots from one AWS Region to another, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_CopySnapshot.html"> Copying a Snapshot</a> in the <i>Amazon Aurora User Guide.</i> </p> <p>For more information on Amazon Aurora, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: SourceDBClusterSnapshotIdentifier
          in: query
          required: true
          description: '<p>The identifier of the DB cluster snapshot to copy. This parameter is not case-sensitive.</p> <p>You can''t copy an encrypted, shared DB cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid DB cluster snapshot ARN. For more information, go to <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_CopySnapshot.html#USER_CopySnapshot.AcrossRegions"> Copying Snapshots Across AWS Regions</a> in the <i>Amazon Aurora User Guide.</i> </p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          type: string
        - name: TargetDBClusterSnapshotIdentifier
          in: query
          required: true
          description: '<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>'
          type: string
        - name: KmsKeyId
          in: query
          required: false
          description: '<p>The AWS AWS KMS key ID for an encrypted DB cluster snapshot. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key. </p> <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new KMS encryption key. If you don''t specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same KMS key as the source DB cluster snapshot. </p> <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted DB cluster snapshot to another AWS Region, you must set <code>KmsKeyId</code> to the KMS key ID you want to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one AWS Region in another AWS Region.</p> <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>'
          type: string
        - name: PreSignedUrl
          in: query
          required: false
          description: '<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source DB cluster snapshot to copy. The <code>PreSignedUrl</code> parameter must be used when copying an encrypted DB cluster snapshot from another AWS Region.</p> <p>The pre-signed URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The pre-signed URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the pre-signed URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html"> Signature Version 4 Signing Process</a>.</p><note><p>If you supply a value for this operation''s <code>SourceRegion</code> parameter, a pre-signed URL will be calculated on your behalf.</p></note>'
          type: string
        - name: CopyTags
          in: query
          required: false
          description: 'True to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise false. The default is false.'
          type: boolean
        - name: Tags
          in: query
          required: false
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: SourceRegion
          in: query
          required: false
          description: The ID of the region that contains the snapshot to be copied.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBClusterSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CopyDBClusterSnapshot
      operationId: POST CopyDBClusterSnapshot
      description: '<p>Copies a snapshot of a DB cluster.</p> <p>To copy a DB cluster snapshot from a shared manual DB cluster snapshot, <code>SourceDBClusterSnapshotIdentifier</code> must be the Amazon Resource Name (ARN) of the shared DB cluster snapshot.</p> <p>You can copy an encrypted DB cluster snapshot from another AWS Region. In that case, the AWS Region where you call the <code>CopyDBClusterSnapshot</code> action is the destination AWS Region for the encrypted DB cluster snapshot to be copied to. To copy an encrypted DB cluster snapshot from another AWS Region, you must provide the following values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS Key Management System (AWS KMS) key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region.</p> </li> <li> <p> <code>PreSignedUrl</code> - A URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> action to be called in the source AWS Region where the DB cluster snapshot is copied from. The pre-signed URL must be a valid request for the <code>CopyDBClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied.</p> <p>The pre-signed URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the pre-signed URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html"> Signature Version 4 Signing Process</a>.</p> </li> <li> <p> <code>TargetDBClusterSnapshotIdentifier</code> - The identifier for the new copy of the DB cluster snapshot in the destination AWS Region.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the ARN format for the source AWS Region and is the same value as the <code>SourceDBClusterSnapshotIdentifier</code> in the pre-signed URL. </p> </li> </ul> <p>To cancel the copy operation once it is in progress, delete the target DB cluster snapshot identified by <code>TargetDBClusterSnapshotIdentifier</code> while that DB cluster snapshot is in "copying" status.</p> <p>For more information on copying encrypted DB cluster snapshots from one AWS Region to another, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_CopySnapshot.html"> Copying a Snapshot</a> in the <i>Amazon Aurora User Guide.</i> </p> <p>For more information on Amazon Aurora, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/CHAP_AuroraOverview.html"> What Is Amazon Aurora?</a> in the <i>Amazon Aurora User Guide.</i> </p> <note> <p>This action only applies to Aurora DB clusters.</p> </note>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBClusterSnapshotResult'
        '480':
          description: DBClusterSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotAlreadyExistsFault'
        '481':
          description: DBClusterSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBClusterSnapshotNotFoundFault'
        '482':
          description: InvalidDBClusterStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterStateFault'
        '483':
          description: InvalidDBClusterSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBClusterSnapshotStateFault'
        '484':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '485':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: SourceDBClusterSnapshotIdentifier
          in: formData
          required: true
          description: '<p>The identifier of the DB cluster snapshot to copy. This parameter is not case-sensitive.</p> <p>You can''t copy an encrypted, shared DB cluster snapshot from one AWS Region to another.</p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> <li> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier.</p> </li> <li> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid DB cluster snapshot ARN. For more information, go to <a href="https://docs.aws.amazon.com/AmazonRDS/latest/AuroraUserGuide/USER_CopySnapshot.html#USER_CopySnapshot.AcrossRegions"> Copying Snapshots Across AWS Regions</a> in the <i>Amazon Aurora User Guide.</i> </p> </li> </ul> <p>Example: <code>my-cluster-snapshot1</code> </p>'
          type: string
        - name: TargetDBClusterSnapshotIdentifier
          in: formData
          required: true
          description: '<p>The identifier of the new DB cluster snapshot to create from the source DB cluster snapshot. This parameter is not case-sensitive.</p> <p>Constraints:</p> <ul> <li> <p>Must contain from 1 to 63 letters, numbers, or hyphens.</p> </li> <li> <p>First character must be a letter.</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens.</p> </li> </ul> <p>Example: <code>my-cluster-snapshot2</code> </p>'
          type: string
        - name: KmsKeyId
          in: formData
          required: false
          description: '<p>The AWS AWS KMS key ID for an encrypted DB cluster snapshot. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key. </p> <p>If you copy an encrypted DB cluster snapshot from your AWS account, you can specify a value for <code>KmsKeyId</code> to encrypt the copy with a new KMS encryption key. If you don''t specify a value for <code>KmsKeyId</code>, then the copy of the DB cluster snapshot is encrypted with the same KMS key as the source DB cluster snapshot. </p> <p>If you copy an encrypted DB cluster snapshot that is shared from another AWS account, then you must specify a value for <code>KmsKeyId</code>. </p> <p>To copy an encrypted DB cluster snapshot to another AWS Region, you must set <code>KmsKeyId</code> to the KMS key ID you want to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one AWS Region in another AWS Region.</p> <p>If you copy an unencrypted DB cluster snapshot and specify a value for the <code>KmsKeyId</code> parameter, an error is returned.</p>'
          type: string
        - name: PreSignedUrl
          in: formData
          required: false
          description: '<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBClusterSnapshot</code> API action in the AWS Region that contains the source DB cluster snapshot to copy. The <code>PreSignedUrl</code> parameter must be used when copying an encrypted DB cluster snapshot from another AWS Region.</p> <p>The pre-signed URL must be a valid request for the <code>CopyDBSClusterSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB cluster snapshot to be copied. The pre-signed URL request must contain the following parameter values:</p> <ul> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB cluster snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBClusterSnapshot</code> action that is called in the destination AWS Region, and the action contained in the pre-signed URL.</p> </li> <li> <p> <code>DestinationRegion</code> - The name of the AWS Region that the DB cluster snapshot will be created in.</p> </li> <li> <p> <code>SourceDBClusterSnapshotIdentifier</code> - The DB cluster snapshot identifier for the encrypted DB cluster snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB cluster snapshot from the us-west-2 AWS Region, then your <code>SourceDBClusterSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:cluster-snapshot:aurora-cluster1-snapshot-20161115</code>.</p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html"> Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html"> Signature Version 4 Signing Process</a>.</p><note><p>If you supply a value for this operation''s <code>SourceRegion</code> parameter, a pre-signed URL will be calculated on your behalf.</p></note>'
          type: string
        - name: CopyTags
          in: formData
          required: false
          description: 'True to copy all tags from the source DB cluster snapshot to the target DB cluster snapshot, and otherwise false. The default is false.'
          type: boolean
        - name: Tags
          in: formData
          required: false
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: SourceRegion
          in: formData
          required: false
          description: The ID of the region that contains the snapshot to be copied.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBClusterSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CopyDBParameterGroup':
    get:
      x-aws-operation-name: CopyDBParameterGroup
      operationId: GET CopyDBParameterGroup
      description: Copies the specified DB parameter group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
        '482':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
      parameters:
        - name: SourceDBParameterGroupIdentifier
          in: query
          required: true
          description: '<p> The identifier or ARN for the source DB parameter group. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing"> Constructing an ARN for Amazon RDS</a> in the <i>Amazon RDS User Guide</i>. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB parameter group.</p> </li> <li> <p>Must specify a valid DB parameter group identifier, for example <code>my-db-param-group</code>, or a valid ARN.</p> </li> </ul>'
          type: string
        - name: TargetDBParameterGroupIdentifier
          in: query
          required: true
          description: '<p>The identifier for the copied DB parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Can''t be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-db-parameter-group</code> </p>'
          type: string
        - name: TargetDBParameterGroupDescription
          in: query
          required: true
          description: A description for the copied DB parameter group.
          type: string
        - name: Tags
          in: query
          required: false
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CopyDBParameterGroup
      operationId: POST CopyDBParameterGroup
      description: Copies the specified DB parameter group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBParameterGroupResult'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
        '482':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
      parameters:
        - name: SourceDBParameterGroupIdentifier
          in: formData
          required: true
          description: '<p> The identifier or ARN for the source DB parameter group. For information about creating an ARN, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.ARN.html#USER_Tagging.ARN.Constructing"> Constructing an ARN for Amazon RDS</a> in the <i>Amazon RDS User Guide</i>. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid DB parameter group.</p> </li> <li> <p>Must specify a valid DB parameter group identifier, for example <code>my-db-param-group</code>, or a valid ARN.</p> </li> </ul>'
          type: string
        - name: TargetDBParameterGroupIdentifier
          in: formData
          required: true
          description: '<p>The identifier for the copied DB parameter group.</p> <p>Constraints:</p> <ul> <li> <p>Can''t be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-db-parameter-group</code> </p>'
          type: string
        - name: TargetDBParameterGroupDescription
          in: formData
          required: true
          description: A description for the copied DB parameter group.
          type: string
        - name: Tags
          in: formData
          required: false
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CopyDBSnapshot':
    get:
      x-aws-operation-name: CopyDBSnapshot
      operationId: GET CopyDBSnapshot
      description: '<p>Copies the specified DB snapshot. The source DB snapshot must be in the "available" state.</p> <p>You can copy a snapshot from one AWS Region to another. In that case, the AWS Region where you call the <code>CopyDBSnapshot</code> action is the destination AWS Region for the DB snapshot copy. </p> <p>For more information about copying snapshots, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopyDBSnapshot.html">Copying a DB Snapshot</a> in the <i>Amazon RDS User Guide.</i> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: SourceDBSnapshotIdentifier
          in: query
          required: true
          description: '<p>The identifier for the source DB snapshot.</p> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier. For example, you might specify <code>rds:mysql-instance1-snapshot-20130805</code>. </p> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid DB snapshot ARN. For example, you might specify <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20130805</code>. </p> <p>If you are copying from a shared manual DB snapshot, this parameter must be the Amazon Resource Name (ARN) of the shared DB snapshot. </p> <p>If you are copying an encrypted snapshot this parameter must be in the ARN format for the source AWS Region, and must match the <code>SourceDBSnapshotIdentifier</code> in the <code>PreSignedUrl</code> parameter. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> </ul> <p>Example: <code>rds:mydb-2012-04-02-00-01</code> </p> <p>Example: <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20130805</code> </p>'
          type: string
        - name: TargetDBSnapshotIdentifier
          in: query
          required: true
          description: '<p>The identifier for the copy of the snapshot. </p> <p>Constraints:</p> <ul> <li> <p>Can''t be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-db-snapshot</code> </p>'
          type: string
        - name: KmsKeyId
          in: query
          required: false
          description: '<p>The AWS KMS key ID for an encrypted DB snapshot. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key. </p> <p>If you copy an encrypted DB snapshot from your AWS account, you can specify a value for this parameter to encrypt the copy with a new KMS encryption key. If you don''t specify a value for this parameter, then the copy of the DB snapshot is encrypted with the same KMS key as the source DB snapshot. </p> <p>If you copy an encrypted DB snapshot that is shared from another AWS account, then you must specify a value for this parameter. </p> <p>If you specify this parameter when you copy an unencrypted snapshot, the copy is encrypted. </p> <p>If you copy an encrypted snapshot to a different AWS Region, then you must specify a KMS key for the destination AWS Region. KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one AWS Region in another AWS Region. </p>'
          type: string
        - name: Tags
          in: query
          required: false
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: CopyTags
          in: query
          required: false
          description: 'True to copy all tags from the source DB snapshot to the target DB snapshot, and otherwise false. The default is false.'
          type: boolean
        - name: PreSignedUrl
          in: query
          required: false
          description: '<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBSnapshot</code> API action in the source AWS Region that contains the source DB snapshot to copy. </p> <p>You must specify this parameter when you copy an encrypted DB snapshot from another AWS Region by using the Amazon RDS API. You can specify the <code>--source-region</code> option instead of this parameter when you copy an encrypted DB snapshot from another AWS Region by using the AWS CLI. </p> <p>The presigned URL must be a valid request for the <code>CopyDBSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB snapshot to be copied. The presigned URL request must contain the following parameter values: </p> <ul> <li> <p> <code>DestinationRegion</code> - The AWS Region that the encrypted DB snapshot is copied to. This AWS Region is the same one where the <code>CopyDBSnapshot</code> action is called that contains this presigned URL. </p> <p>For example, if you copy an encrypted DB snapshot from the us-west-2 AWS Region to the us-east-1 AWS Region, then you call the <code>CopyDBSnapshot</code> action in the us-east-1 AWS Region and provide a presigned URL that contains a call to the <code>CopyDBSnapshot</code> action in the us-west-2 AWS Region. For this example, the <code>DestinationRegion</code> in the presigned URL must be set to the us-east-1 AWS Region. </p> </li> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBSnapshot</code> action that is called in the destination AWS Region, and the action contained in the presigned URL. </p> </li> <li> <p> <code>SourceDBSnapshotIdentifier</code> - The DB snapshot identifier for the encrypted snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB snapshot from the us-west-2 AWS Region, then your <code>SourceDBSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20161115</code>. </p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html">Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a>. </p><note><p>If you supply a value for this operation''s <code>SourceRegion</code> parameter, a pre-signed URL will be calculated on your behalf.</p></note>'
          type: string
        - name: OptionGroupName
          in: query
          required: false
          description: '<p>The name of an option group to associate with the copy of the snapshot.</p> <p>Specify this option if you are copying a snapshot from one AWS Region to another, and your DB instance uses a nondefault option group. If your source DB instance uses Transparent Data Encryption for Oracle or Microsoft SQL Server, you must specify this option when copying across AWS Regions. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopySnapshot.html#USER_CopySnapshot.Options">Option Group Considerations</a> in the <i>Amazon RDS User Guide.</i> </p>'
          type: string
        - name: SourceRegion
          in: query
          required: false
          description: The ID of the region that contains the snapshot to be copied.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CopyDBSnapshot
      operationId: POST CopyDBSnapshot
      description: '<p>Copies the specified DB snapshot. The source DB snapshot must be in the "available" state.</p> <p>You can copy a snapshot from one AWS Region to another. In that case, the AWS Region where you call the <code>CopyDBSnapshot</code> action is the destination AWS Region for the DB snapshot copy. </p> <p>For more information about copying snapshots, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopyDBSnapshot.html">Copying a DB Snapshot</a> in the <i>Amazon RDS User Guide.</i> </p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
        '484':
          description: KMSKeyNotAccessibleFault
          schema:
            $ref: '#/definitions/KMSKeyNotAccessibleFault'
      parameters:
        - name: SourceDBSnapshotIdentifier
          in: formData
          required: true
          description: '<p>The identifier for the source DB snapshot.</p> <p>If the source snapshot is in the same AWS Region as the copy, specify a valid DB snapshot identifier. For example, you might specify <code>rds:mysql-instance1-snapshot-20130805</code>. </p> <p>If the source snapshot is in a different AWS Region than the copy, specify a valid DB snapshot ARN. For example, you might specify <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20130805</code>. </p> <p>If you are copying from a shared manual DB snapshot, this parameter must be the Amazon Resource Name (ARN) of the shared DB snapshot. </p> <p>If you are copying an encrypted snapshot this parameter must be in the ARN format for the source AWS Region, and must match the <code>SourceDBSnapshotIdentifier</code> in the <code>PreSignedUrl</code> parameter. </p> <p>Constraints:</p> <ul> <li> <p>Must specify a valid system snapshot in the "available" state.</p> </li> </ul> <p>Example: <code>rds:mydb-2012-04-02-00-01</code> </p> <p>Example: <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20130805</code> </p>'
          type: string
        - name: TargetDBSnapshotIdentifier
          in: formData
          required: true
          description: '<p>The identifier for the copy of the snapshot. </p> <p>Constraints:</p> <ul> <li> <p>Can''t be null, empty, or blank</p> </li> <li> <p>Must contain from 1 to 255 letters, numbers, or hyphens</p> </li> <li> <p>First character must be a letter</p> </li> <li> <p>Can''t end with a hyphen or contain two consecutive hyphens</p> </li> </ul> <p>Example: <code>my-db-snapshot</code> </p>'
          type: string
        - name: KmsKeyId
          in: formData
          required: false
          description: '<p>The AWS KMS key ID for an encrypted DB snapshot. The KMS key ID is the Amazon Resource Name (ARN), KMS key identifier, or the KMS key alias for the KMS encryption key. </p> <p>If you copy an encrypted DB snapshot from your AWS account, you can specify a value for this parameter to encrypt the copy with a new KMS encryption key. If you don''t specify a value for this parameter, then the copy of the DB snapshot is encrypted with the same KMS key as the source DB snapshot. </p> <p>If you copy an encrypted DB snapshot that is shared from another AWS account, then you must specify a value for this parameter. </p> <p>If you specify this parameter when you copy an unencrypted snapshot, the copy is encrypted. </p> <p>If you copy an encrypted snapshot to a different AWS Region, then you must specify a KMS key for the destination AWS Region. KMS encryption keys are specific to the AWS Region that they are created in, and you can''t use encryption keys from one AWS Region in another AWS Region. </p>'
          type: string
        - name: Tags
          in: formData
          required: false
          description: 'A list of tags. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_Tagging.html">Tagging Amazon RDS Resources</a> in the <i>Amazon RDS User Guide.</i> '
          type: array
          items:
            type: string
        - name: CopyTags
          in: formData
          required: false
          description: 'True to copy all tags from the source DB snapshot to the target DB snapshot, and otherwise false. The default is false.'
          type: boolean
        - name: PreSignedUrl
          in: formData
          required: false
          description: '<p>The URL that contains a Signature Version 4 signed request for the <code>CopyDBSnapshot</code> API action in the source AWS Region that contains the source DB snapshot to copy. </p> <p>You must specify this parameter when you copy an encrypted DB snapshot from another AWS Region by using the Amazon RDS API. You can specify the <code>--source-region</code> option instead of this parameter when you copy an encrypted DB snapshot from another AWS Region by using the AWS CLI. </p> <p>The presigned URL must be a valid request for the <code>CopyDBSnapshot</code> API action that can be executed in the source AWS Region that contains the encrypted DB snapshot to be copied. The presigned URL request must contain the following parameter values: </p> <ul> <li> <p> <code>DestinationRegion</code> - The AWS Region that the encrypted DB snapshot is copied to. This AWS Region is the same one where the <code>CopyDBSnapshot</code> action is called that contains this presigned URL. </p> <p>For example, if you copy an encrypted DB snapshot from the us-west-2 AWS Region to the us-east-1 AWS Region, then you call the <code>CopyDBSnapshot</code> action in the us-east-1 AWS Region and provide a presigned URL that contains a call to the <code>CopyDBSnapshot</code> action in the us-west-2 AWS Region. For this example, the <code>DestinationRegion</code> in the presigned URL must be set to the us-east-1 AWS Region. </p> </li> <li> <p> <code>KmsKeyId</code> - The AWS KMS key identifier for the key to use to encrypt the copy of the DB snapshot in the destination AWS Region. This is the same identifier for both the <code>CopyDBSnapshot</code> action that is called in the destination AWS Region, and the action contained in the presigned URL. </p> </li> <li> <p> <code>SourceDBSnapshotIdentifier</code> - The DB snapshot identifier for the encrypted snapshot to be copied. This identifier must be in the Amazon Resource Name (ARN) format for the source AWS Region. For example, if you are copying an encrypted DB snapshot from the us-west-2 AWS Region, then your <code>SourceDBSnapshotIdentifier</code> looks like the following example: <code>arn:aws:rds:us-west-2:123456789012:snapshot:mysql-instance1-snapshot-20161115</code>. </p> </li> </ul> <p>To learn how to generate a Signature Version 4 signed request, see <a href="https://docs.aws.amazon.com/AmazonS3/latest/API/sigv4-query-string-auth.html">Authenticating Requests: Using Query Parameters (AWS Signature Version 4)</a> and <a href="https://docs.aws.amazon.com/general/latest/gr/signature-version-4.html">Signature Version 4 Signing Process</a>. </p><note><p>If you supply a value for this operation''s <code>SourceRegion</code> parameter, a pre-signed URL will be calculated on your behalf.</p></note>'
          type: string
        - name: OptionGroupName
          in: formData
          required: false
          description: '<p>The name of an option group to associate with the copy of the snapshot.</p> <p>Specify this option if you are copying a snapshot from one AWS Region to another, and your DB instance uses a nondefault option group. If your source DB instance uses Transparent Data Encryption for Oracle or Microsoft SQL Server, you must specify this option when copying across AWS Regions. For more information, see <a href="https://docs.aws.amazon.com/AmazonRDS/latest/UserGuide/USER_CopySnapshot.html#USER_CopySnapshot.Options">Option Group Considerations</a> in the <i>Amazon RDS User Guide.</i> </p>'
          type: string
        - name: SourceRegion
          in: formData
          required: false
          description: The ID of the region that contains the snapshot to be copied.
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2014-10-31'
  '/#Action=CopyOptionGroup':
    get:
      x-aws-operation-name: CopyOptionGroup
      operationId: GET CopyOptionGroup
      description: Copies the specified option group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyOptionGroupResult'
        '480':
          description: OptionGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/OptionGroupAlreadyExistsFault'
        '481':
          description: OptionGroupNotFoundFault
          schema:
[...]
