{
  "swagger": "2.0",
  "info": {
    "title": "Google Play Game Services API",
    "x-serviceName": "games",
    "description": "The API for Google Play Game Services.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "url": "https://www.googleapis.com/discovery/v1/apis/games/v1/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/games/v1",
  "schemes": [
    "https"
  ],
  "paths": {
    "/achievements": {
      "get": {
        "description": "Lists all the achievement definitions for your application.",
        "operationId": "games.achievementDefinitions.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AchievementDefinitionsListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "achievementDefinitions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/achievements/{achievementId}/increment": {
      "post": {
        "description": "Increments the steps of the achievement with the given ID for the currently authenticated player.",
        "operationId": "games.achievements.increment",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AchievementIncrementResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "achievementId",
            "in": "path",
            "description": "The ID of the achievement used by this method.",
            "required": true,
            "type": "string"
          },
          {
            "name": "stepsToIncrement",
            "in": "query",
            "description": "The number of steps to increment.",
            "required": true,
            "type": "integer",
            "minimum": 1
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "achievements"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/players/{playerId}/achievements": {
      "get": {
        "description": "Lists the progress for all your application's achievements for the currently authenticated player.",
        "operationId": "games.achievements.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PlayerAchievementListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of achievement resources to return in the response, used for paging. For any response, the actual number of achievement resources returned may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          },
          {
            "name": "state",
            "in": "query",
            "description": "Tells the server to return only achievements with the specified state. If this parameter isn't specified, all achievements are returned.",
            "type": "string",
            "enum": [
              "ALL",
              "HIDDEN",
              "REVEALED",
              "UNLOCKED"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "achievements"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/achievements/{achievementId}/reveal": {
      "post": {
        "description": "Sets the state of the achievement with the given ID to REVEALED for the currently authenticated player.",
        "operationId": "games.achievements.reveal",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AchievementRevealResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "achievementId",
            "in": "path",
            "description": "The ID of the achievement used by this method.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "achievements"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/achievements/{achievementId}/setStepsAtLeast": {
      "post": {
        "description": "Sets the steps for the currently authenticated player towards unlocking an achievement. If the steps parameter is less than the current number of steps that the player already gained for the achievement, the achievement is not modified.",
        "operationId": "games.achievements.setStepsAtLeast",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AchievementSetStepsAtLeastResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "achievementId",
            "in": "path",
            "description": "The ID of the achievement used by this method.",
            "required": true,
            "type": "string"
          },
          {
            "name": "steps",
            "in": "query",
            "description": "The minimum value to set the steps to.",
            "required": true,
            "type": "integer",
            "minimum": 1
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "achievements"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/achievements/{achievementId}/unlock": {
      "post": {
        "description": "Unlocks this achievement for the currently authenticated player.",
        "operationId": "games.achievements.unlock",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AchievementUnlockResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "achievementId",
            "in": "path",
            "description": "The ID of the achievement used by this method.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "achievements"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/achievements/updateMultiple": {
      "post": {
        "description": "Updates multiple achievements for the currently authenticated player.",
        "operationId": "games.achievements.updateMultiple",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/AchievementUpdateMultipleResponse"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "achievements"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/applications/{applicationId}": {
      "get": {
        "description": "Retrieves the metadata of the application with the given ID. If the requested application is not available for the specified platformType, the returned response will not include any instance data.",
        "operationId": "games.applications.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Application"
            }
          }
        },
        "parameters": [
          {
            "name": "applicationId",
            "in": "path",
            "description": "The application ID from the Google Play developer console.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "platformType",
            "in": "query",
            "description": "Restrict application details returned to the specific platform.",
            "type": "string",
            "enum": [
              "ANDROID",
              "IOS",
              "WEB_APP"
            ]
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "applications"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/applications/played": {
      "post": {
        "description": "Indicate that the the currently authenticated user is playing your application.",
        "operationId": "games.applications.played",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "applications"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/events": {
      "get": {
        "description": "Returns a list showing the current progress on events in this application for the currently authenticated user.",
        "operationId": "games.events.listByPlayer",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PlayerEventListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of events to return in the response, used for paging. For any response, the actual number of events to return may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "post": {
        "description": "Records a batch of changes to the number of times events have occurred for the currently authenticated user of this application.",
        "operationId": "games.events.record",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/EventUpdateResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/eventDefinitions": {
      "get": {
        "description": "Returns a list of the event definitions in this application.",
        "operationId": "games.events.listDefinitions",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/EventDefinitionListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of event definitions to return in the response, used for paging. For any response, the actual number of event definitions to return may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "events"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/leaderboards/{leaderboardId}": {
      "get": {
        "description": "Retrieves the metadata of the leaderboard with the given ID.",
        "operationId": "games.leaderboards.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Leaderboard"
            }
          }
        },
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The ID of the leaderboard.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "leaderboards"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/leaderboards": {
      "get": {
        "description": "Lists all the leaderboard metadata for your application.",
        "operationId": "games.leaderboards.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LeaderboardListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of leaderboards to return in the response. For any response, the actual number of leaderboards returned may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 200
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "leaderboards"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/metagameConfig": {
      "get": {
        "description": "Return the metagame configuration data for the calling application.",
        "operationId": "games.metagame.getMetagameConfig",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/MetagameConfig"
            }
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "metagame"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/players/{playerId}/categories/{collection}": {
      "get": {
        "description": "List play data aggregated per category for the player corresponding to playerId.",
        "operationId": "games.metagame.listCategoriesByPlayer",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/CategoryListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "collection",
            "in": "path",
            "description": "The collection of categories for which data will be returned.",
            "required": true,
            "type": "string",
            "enum": [
              "all"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of category resources to return in the response, used for paging. For any response, the actual number of category resources returned may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 100
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "metagame"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/players/{playerId}": {
      "get": {
        "description": "Retrieves the Player resource with the given ID. To retrieve the player for the currently authenticated user, set playerId to me.",
        "operationId": "games.players.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Player"
            }
          }
        },
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "players"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/players/me/players/{collection}": {
      "get": {
        "description": "Get the collection of players for the currently authenticated user.",
        "operationId": "games.players.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PlayerListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "collection",
            "in": "path",
            "description": "Collection of players being retrieved",
            "required": true,
            "type": "string",
            "enum": [
              "playedWith",
              "played_with"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of player resources to return in the response, used for paging. For any response, the actual number of player resources returned may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 15
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "players"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/pushtokens/remove": {
      "post": {
        "description": "Removes a push token for the current user and application. Removing a non-existent push token will report success.",
        "operationId": "games.pushtokens.remove",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "pushtokens"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/pushtokens": {
      "put": {
        "description": "Registers a push token for the current user and application.",
        "operationId": "games.pushtokens.update",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "pushtokens"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/quests/{questId}/milestones/{milestoneId}/claim": {
      "put": {
        "description": "Report that a reward for the milestone corresponding to milestoneId for the quest corresponding to questId has been claimed by the currently authorized user.",
        "operationId": "games.questMilestones.claim",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "questId",
            "in": "path",
            "description": "The ID of the quest.",
            "required": true,
            "type": "string"
          },
          {
            "name": "milestoneId",
            "in": "path",
            "description": "The ID of the milestone.",
            "required": true,
            "type": "string"
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "A numeric ID to ensure that the request is handled correctly across retries. Your client application must generate this ID randomly.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "questMilestones"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/quests/{questId}/accept": {
      "post": {
        "description": "Indicates that the currently authorized user will participate in the quest.",
        "operationId": "games.quests.accept",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Quest"
            }
          }
        },
        "parameters": [
          {
            "name": "questId",
            "in": "path",
            "description": "The ID of the quest.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "quests"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/players/{playerId}/quests": {
      "get": {
        "description": "Get a list of quests for your application and the currently authenticated player.",
        "operationId": "games.quests.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/QuestListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of quest resources to return in the response, used for paging. For any response, the actual number of quest resources returned may be less than the specified maxResults. Acceptable values are 1 to 50, inclusive. (Default: 50).",
            "type": "integer",
            "minimum": 1,
            "maximum": 50
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "quests"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/revisions/check": {
      "get": {
        "description": "Checks whether the games client is out of date.",
        "operationId": "games.revisions.check",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RevisionCheckResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "clientRevision",
            "in": "query",
            "description": "The revision of the client SDK used by your application. Format:\n[PLATFORM_TYPE]:[VERSION_NUMBER]. Possible values of PLATFORM_TYPE are:\n \n- \"ANDROID\" - Client is running the Android SDK. \n- \"IOS\" - Client is running the iOS SDK. \n- \"WEB_APP\" - Client is running as a Web App.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "revisions"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/rooms/create": {
      "post": {
        "description": "Create a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
        "operationId": "games.rooms.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Room"
            }
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "rooms"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/rooms/{roomId}/decline": {
      "post": {
        "description": "Decline an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
        "operationId": "games.rooms.decline",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Room"
            }
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "description": "The ID of the room.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "rooms"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/rooms/{roomId}/dismiss": {
      "post": {
        "description": "Dismiss an invitation to join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
        "operationId": "games.rooms.dismiss",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "description": "The ID of the room.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "rooms"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/rooms/{roomId}": {
      "get": {
        "description": "Get the data for a room.",
        "operationId": "games.rooms.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Room"
            }
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "description": "The ID of the room.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "rooms"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/rooms/{roomId}/join": {
      "post": {
        "description": "Join a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
        "operationId": "games.rooms.join",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Room"
            }
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "description": "The ID of the room.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "rooms"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/rooms/{roomId}/leave": {
      "post": {
        "description": "Leave a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
        "operationId": "games.rooms.leave",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Room"
            }
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "description": "The ID of the room.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "rooms"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/rooms": {
      "get": {
        "description": "Returns invitations to join rooms.",
        "operationId": "games.rooms.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RoomList"
            }
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of rooms to return in the response, used for paging. For any response, the actual number of rooms to return may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "rooms"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/rooms/{roomId}/reportstatus": {
      "post": {
        "description": "Updates sent by a client reporting the status of peers in a room. For internal use by the Games SDK only. Calling this method directly is unsupported.",
        "operationId": "games.rooms.reportStatus",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RoomStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "roomId",
            "in": "path",
            "description": "The ID of the room.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "rooms"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/players/{playerId}/leaderboards/{leaderboardId}/scores/{timeSpan}": {
      "get": {
        "description": "Get high scores, and optionally ranks, in leaderboards for the currently authenticated player. For a specific time span, leaderboardId can be set to ALL to retrieve data for all leaderboards in a given time span.\nNOTE: You cannot ask for 'ALL' leaderboards and 'ALL' timeSpans in the same request; only one parameter may be set to 'ALL'.",
        "operationId": "games.scores.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PlayerLeaderboardScoreListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The ID of the leaderboard. Can be set to 'ALL' to retrieve data for all leaderboards for this application.",
            "required": true,
            "type": "string"
          },
          {
            "name": "timeSpan",
            "in": "path",
            "description": "The time span for the scores and ranks you're requesting.",
            "required": true,
            "type": "string",
            "enum": [
              "ALL",
              "ALL_TIME",
              "DAILY",
              "WEEKLY"
            ]
          },
          {
            "name": "includeRankType",
            "in": "query",
            "description": "The types of ranks to return. If the parameter is omitted, no ranks will be returned.",
            "type": "string",
            "enum": [
              "ALL",
              "PUBLIC",
              "SOCIAL"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 30
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "scores"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/leaderboards/{leaderboardId}/scores/{collection}": {
      "get": {
        "description": "Lists the scores in a leaderboard, starting from the top.",
        "operationId": "games.scores.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LeaderboardScores"
            }
          }
        },
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The ID of the leaderboard.",
            "required": true,
            "type": "string"
          },
          {
            "name": "collection",
            "in": "path",
            "description": "The collection of scores you're requesting.",
            "required": true,
            "type": "string",
            "enum": [
              "PUBLIC",
              "SOCIAL"
            ]
          },
          {
            "name": "timeSpan",
            "in": "query",
            "description": "The time span for the scores and ranks you're requesting.",
            "required": true,
            "type": "string",
            "enum": [
              "ALL_TIME",
              "DAILY",
              "WEEKLY"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 30
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "scores"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/leaderboards/{leaderboardId}/window/{collection}": {
      "get": {
        "description": "Lists the scores in a leaderboard around (and including) a player's score.",
        "operationId": "games.scores.listWindow",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LeaderboardScores"
            }
          }
        },
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The ID of the leaderboard.",
            "required": true,
            "type": "string"
          },
          {
            "name": "collection",
            "in": "path",
            "description": "The collection of scores you're requesting.",
            "required": true,
            "type": "string",
            "enum": [
              "PUBLIC",
              "SOCIAL"
            ]
          },
          {
            "name": "timeSpan",
            "in": "query",
            "description": "The time span for the scores and ranks you're requesting.",
            "required": true,
            "type": "string",
            "enum": [
              "ALL_TIME",
              "DAILY",
              "WEEKLY"
            ]
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of leaderboard scores to return in the response. For any response, the actual number of leaderboard scores returned may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 30
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          },
          {
            "name": "resultsAbove",
            "in": "query",
            "description": "The preferred number of scores to return above the player's score. More scores may be returned if the player is at the bottom of the leaderboard; fewer may be returned if the player is at the top. Must be less than or equal to maxResults.",
            "type": "integer"
          },
          {
            "name": "returnTopIfAbsent",
            "in": "query",
            "description": "True if the top scores should be returned when the player is not in the leaderboard. Defaults to true.",
            "type": "boolean"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "scores"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/leaderboards/{leaderboardId}/scores": {
      "post": {
        "description": "Submits a score to the specified leaderboard.",
        "operationId": "games.scores.submit",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PlayerScoreResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "leaderboardId",
            "in": "path",
            "description": "The ID of the leaderboard.",
            "required": true,
            "type": "string"
          },
          {
            "name": "score",
            "in": "query",
            "description": "The score you're submitting. The submitted score is ignored if it is worse than a previously submitted score, where worse depends on the leaderboard sort order. The meaning of the score value depends on the leaderboard format type. For fixed-point, the score represents the raw value. For time, the score represents elapsed time in milliseconds. For currency, the score represents a value in micro units.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "scoreTag",
            "in": "query",
            "description": "Additional information about the score you're submitting. Values must contain no more than 64 URI-safe characters as defined by section 2.3 of RFC 3986.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "scores"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/leaderboards/scores": {
      "post": {
        "description": "Submits multiple scores to leaderboards.",
        "operationId": "games.scores.submitMultiple",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PlayerScoreListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "scores"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/snapshots/{snapshotId}": {
      "get": {
        "description": "Retrieves the metadata for a given snapshot ID.",
        "operationId": "games.snapshots.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Snapshot"
            }
          }
        },
        "parameters": [
          {
            "name": "snapshotId",
            "in": "path",
            "description": "The ID of the snapshot.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "snapshots"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/players/{playerId}/snapshots": {
      "get": {
        "description": "Retrieves a list of snapshots created by your application for the player corresponding to the player ID.",
        "operationId": "games.snapshots.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/SnapshotListResponse"
            }
          }
        },
        "parameters": [
          {
            "name": "playerId",
            "in": "path",
            "description": "A player ID. A value of me may be used in place of the authenticated player's ID.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of snapshot resources to return in the response, used for paging. For any response, the actual number of snapshot resources returned may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 25
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/drive.appdata",
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "snapshots"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}/cancel": {
      "put": {
        "description": "Cancel a turn-based match.",
        "operationId": "games.turnBasedMatches.cancel",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/create": {
      "post": {
        "description": "Create a turn-based match.",
        "operationId": "games.turnBasedMatches.create",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatch"
            }
          }
        },
        "parameters": [
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}/decline": {
      "put": {
        "description": "Decline an invitation to play a turn-based match.",
        "operationId": "games.turnBasedMatches.decline",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatch"
            }
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}/dismiss": {
      "put": {
        "description": "Dismiss a turn-based match from the match list. The match will no longer show up in the list and will not generate notifications.",
        "operationId": "games.turnBasedMatches.dismiss",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}/finish": {
      "put": {
        "description": "Finish a turn-based match. Each player should make this call once, after all results are in. Only the player whose turn it is may make the first call to Finish, and can pass in the final match state.",
        "operationId": "games.turnBasedMatches.finish",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatch"
            }
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}": {
      "get": {
        "description": "Get the data for a turn-based match.",
        "operationId": "games.turnBasedMatches.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatch"
            }
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          },
          {
            "name": "includeMatchData",
            "in": "query",
            "description": "Get match data along with metadata.",
            "type": "boolean"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}/join": {
      "put": {
        "description": "Join a turn-based match.",
        "operationId": "games.turnBasedMatches.join",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatch"
            }
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}/leave": {
      "put": {
        "description": "Leave a turn-based match when it is not the current player's turn, without canceling the match.",
        "operationId": "games.turnBasedMatches.leave",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatch"
            }
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}/leaveTurn": {
      "put": {
        "description": "Leave a turn-based match during the current player's turn, without canceling the match.",
        "operationId": "games.turnBasedMatches.leaveTurn",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatch"
            }
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          },
          {
            "name": "matchVersion",
            "in": "query",
            "description": "The version of the match being updated.",
            "required": true,
            "type": "integer"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "pendingParticipantId",
            "in": "query",
            "description": "The ID of another participant who should take their turn next. If not set, the match will wait for other player(s) to join via automatching; this is only valid if automatch criteria is set on the match with remaining slots for automatched players.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches": {
      "get": {
        "description": "Returns turn-based matches the player is or was involved in.",
        "operationId": "games.turnBasedMatches.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatchList"
            }
          }
        },
        "parameters": [
          {
            "name": "includeMatchData",
            "in": "query",
            "description": "True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.",
            "type": "boolean"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxCompletedMatches",
            "in": "query",
            "description": "The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}/rematch": {
      "post": {
        "description": "Create a rematch of a match that was previously completed, with the same participants. This can be called by only one player on a match still in their list; the player must have called Finish first. Returns the newly created match; it will be the caller's turn.",
        "operationId": "games.turnBasedMatches.rematch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatchRematch"
            }
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "requestId",
            "in": "query",
            "description": "A randomly generated numeric ID for each request specified by the caller. This number is used at the server to ensure that the request is handled correctly across retries.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/sync": {
      "get": {
        "description": "Returns turn-based matches the player is or was involved in that changed since the last sync call, with the least recent changes coming first. Matches that should be removed from the local cache will have a status of MATCH_DELETED.",
        "operationId": "games.turnBasedMatches.sync",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatchSync"
            }
          }
        },
        "parameters": [
          {
            "name": "includeMatchData",
            "in": "query",
            "description": "True if match data should be returned in the response. Note that not all data will necessarily be returned if include_match_data is true; the server may decide to only return data for some of the matches to limit download size for the client. The remainder of the data for these matches will be retrievable on request.",
            "type": "boolean"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          },
          {
            "name": "maxCompletedMatches",
            "in": "query",
            "description": "The maximum number of completed or canceled matches to return in the response. If not set, all matches returned could be completed or canceled.",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "The maximum number of matches to return in the response, used for paging. For any response, the actual number of matches to return may be less than the specified maxResults.",
            "type": "integer",
            "minimum": 1,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "The token returned by the previous request.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/turnbasedmatches/{matchId}/turn": {
      "put": {
        "description": "Commit the results of a player turn.",
        "operationId": "games.turnBasedMatches.takeTurn",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/TurnBasedMatch"
            }
          }
        },
        "parameters": [
          {
            "name": "matchId",
            "in": "path",
            "description": "The ID of the match.",
            "required": true,
            "type": "string"
          },
          {
            "name": "language",
            "in": "query",
            "description": "The preferred language to use for strings returned by this method.",
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/games",
              "https://www.googleapis.com/auth/plus.login"
            ]
          }
        ],
        "tags": [
          "turnBasedMatches"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "AchievementDefinition": {
      "type": "object",
      "description": "This is a JSON template for an achievement definition object.",
      "properties": {
        "achievementType": {
          "type": "string",
          "description": "The type of the achievement.\nPossible values are:  \n- \"STANDARD\" - Achievement is either locked or unlocked. \n- \"INCREMENTAL\" - Achievement is incremental."
        },
        "description": {
          "type": "string",
          "description": "The description of the achievement."
        },
        "experiencePoints": {
          "type": "string",
          "description": "Experience points which will be earned when unlocking this achievement.",
          "format": "int64"
        },
        "formattedTotalSteps": {
          "type": "string",
          "description": "The total steps for an incremental achievement as a string."
        },
        "id": {
          "type": "string",
          "description": "The ID of the achievement."
        },
        "initialState": {
          "type": "string",
          "description": "The initial state of the achievement.\nPossible values are:  \n- \"HIDDEN\" - Achievement is hidden. \n- \"REVEALED\" - Achievement is revealed. \n- \"UNLOCKED\" - Achievement is unlocked."
        },
        "isRevealedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the revealed icon image being returned is a default image, or is provided by the game."
        },
        "isUnlockedIconUrlDefault": {
          "type": "boolean",
          "description": "Indicates whether the unlocked icon image being returned is a default image, or is game-provided."
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementDefinition.",
          "default": "games#achievementDefinition"
        },
        "name": {
          "type": "string",
          "description": "The name of the achievement."
        },
        "revealedIconUrl": {
          "type": "string",
          "description": "The image URL for the revealed achievement icon."
        },
        "totalSteps": {
          "type": "integer",
          "description": "The total steps for an incremental achievement.",
          "format": "int32"
        },
        "unlockedIconUrl": {
          "type": "string",
          "description": "The image URL for the unlocked achievement icon."
        }
      }
    },
    "AchievementDefinitionsListResponse": {
      "type": "object",
      "description": "This is a JSON template for a list of achievement definition objects.",
      "properties": {
        "items": {
          "type": "array",
          "description": "The achievement definitions.",
          "items": {
            "$ref": "#/definitions/AchievementDefinition"
          }
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementDefinitionsListResponse.",
          "default": "games#achievementDefinitionsListResponse"
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token corresponding to the next page of results."
        }
      }
    },
    "AchievementIncrementResponse": {
      "type": "object",
      "description": "This is a JSON template for an achievement increment response",
      "properties": {
        "currentSteps": {
          "type": "integer",
          "description": "The current steps recorded for this incremental achievement.",
          "format": "int32"
        },
        "kind": {
          "type": "string",
          "description": "Uniquely identifies the type of this resource. Value is always the fixed string games#achievementIncrementResponse.",
          "default": "games#achievementIncrementResponse"
        },
        "newlyUnlocked": {
          "type": "boolean",
          "description": "Whether the the current steps for the achievement has reached the number of steps required to unlock."
        }
      }
    },
    "AchievementRevealResponse": {
      "type": "object",
      "description": "This is a JSON template for an achievement reveal response",
      "properties": {
        "currentState": {
[...]
