openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  title: InsightsClient
  version: '2015-04-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/insights/2015-04-01/swagger/insightsClient_TenantEvents.json'
      version: '2.0'
  x-preferred: false
  x-providerName: azure.com
  x-serviceName: insights
  x-tags:
    - Azure
    - Microsoft
paths:
  /providers/microsoft.insights/eventtypes/management/values:
    get:
      description: 'get the Activity Logs for the Tenant. Everything that is applicable to the API to get the Activity Log for the subscription is applicable to this API (the parameters, $filter, etc.). One thing to point out here is that this API does *not* retrieve the logs at the individual subscription of the tenant but only surfaces the logs that were generated at the tenant level. The **$filter** is very restricted and allows only the following patterns. - List events for a resource group: $filter=eventTimestamp ge ''<Start Time>'' and eventTimestamp le ''<End Time>'' and eventChannels eq ''Admin, Operation'' and resourceGroupName eq ''<ResourceGroupName>''. - List events for resource: $filter=eventTimestamp ge ''<Start Time>'' and eventTimestamp le ''<End Time>'' and eventChannels eq ''Admin, Operation'' and resourceUri eq ''<ResourceURI>''. - List events for a subscription: $filter=eventTimestamp ge ''<Start Time>'' and eventTimestamp le ''<End Time>'' and eventChannels eq ''Admin, Operation''. - List evetns for a resource provider: $filter=eventTimestamp ge ''<Start Time>'' and eventTimestamp le ''<End Time>'' and eventChannels eq ''Admin, Operation'' and resourceProvider eq ''<ResourceProviderName>''. - List events for a correlation Id: api-version=2014-04-01&$filter=eventTimestamp ge ''2014-07-16T04:36:37.6407898Z'' and eventTimestamp le ''2014-07-20T04:36:37.6407898Z'' and eventChannels eq ''Admin, Operation'' and correlationId eq ''<CorrelationID>''. No other syntax is allowed.'
      operationId: TenantEvents_List
      parameters:
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/FilterParameter'
        - $ref: '#/components/parameters/SelectParameter'
      responses:
        '200':
          description: Successful request to get a page of tenant events
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EventDataCollection'
              examples:
                response:
                  value:
                    nextLink: 'https://management.azure.com/########-####-####-####-############$skiptoken=######'
                    value:
                      - authorization:
                          action: microsoft.support/supporttickets/write
                          role: Subscription Admin
                          scope: /subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/MSSupportGroup/providers/microsoft.support/supporttickets/115012112305841
                        caller: admin@contoso.com
                        channels: Operation
                        claims:
                          appid: c44b4083-3bq0-49c1-b47d-974e53cbdf3c
                          appidacr: '2'
                          aud: 'https://management.core.windows.net/'
                          exp: '1421880271'
                          groups: 'cacfe77c-e058-4712-83qw-f9b08849fd60,7f71d11d-4c41-4b23-99d2-d32ce7aa621c,31522864-0578-4ea0-9gdc-e66cc564d18c'
                          'http://schemas.microsoft.com/claims/authnclassreference': '1'
                          'http://schemas.microsoft.com/claims/authnmethodsreferences': pwd
                          'http://schemas.microsoft.com/identity/claims/objectidentifier': 2468adf0-8211-44e3-95xq-85137af64708
                          'http://schemas.microsoft.com/identity/claims/scope': user_impersonation
                          'http://schemas.microsoft.com/identity/claims/tenantid': '1e8d8218-c5e7-4578-9acc-9abbd5d23315 '
                          'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/givenname': John
                          'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name': ' admin@contoso.com'
                          'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier': 9vckmEGF7zDKk1YzIY8k0t1_EAPaXoeHyPRn6f413zM
                          'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/surname': Smith
                          'http://schemas.xmlsoap.org/ws/2005/05/identity/claims/upn': admin@contoso.com
                          iat: '1421876371'
                          iss: 'https://sts.windows.net/72f988bf-86f1-41af-91ab-2d7cd011db47/'
                          name: John Smith
                          nbf: '1421876371'
                          puid: 20030000801A118C
                          ver: '1.0'
                        correlationId: 1e121103-0ba6-4300-ac9d-952bb5d0c80f
                        description: ''
                        eventDataId: 44ade6b4-3813-45e6-ae27-7420a95fa2f8
                        eventName:
                          localizedValue: End request
                          value: EndRequest
                        eventTimestamp: '2015-01-21T22:14:26.9792776Z'
                        httpRequest:
                          clientIpAddress: 192.168.35.115
                          clientRequestId: 27003b25-91d3-418f-8eb1-29e537dcb249
                          method: PUT
                        id: /subscriptions/089bd33f-d4ec-47fe-8ba5-0753aa5c5b33/resourceGroups/MSSupportGroup/providers/microsoft.support/supporttickets/115012112305841/events/44ade6b4-3813-45e6-ae27-7420a95fa2f8/ticks/635574752669792776
                        level: Informational
                        operationId: 1e121103-0ba6-4300-ac9d-952bb5d0c80f
                        operationName:
                          localizedValue: microsoft.support/supporttickets/write
                          value: microsoft.support/supporttickets/write
                        properties:
                          statusCode: Created
                        resourceGroupName: MSSupportGroup
                        resourceProviderName:
                          localizedValue: microsoft.support
                          value: microsoft.support
                        status:
                          localizedValue: Succeeded
                          value: Succeeded
                        subStatus:
                          localizedValue: 'Created (HTTP Status Code: 201)'
                          value: Created
                        submissionTimestamp: '2015-01-21T22:14:39.9936304Z'
                        subscriptionId: 089bd33f-d4ec-47fe-8ba5-0753aa5c5b33
      tags:
        - TenantEvents
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/EventData'
      x-ms-pageable:
        nextLinkName: nextLink
components:
  schemas:
    EventData:
      description: The Azure event log entries are of type EventData
      properties:
        authorization:
          $ref: '#/components/schemas/SenderAuthorization'
        caller:
          description: 'the email address of the user who has performed the operation, the UPN claim or SPN claim based on availability.'
          type: string
        category:
          $ref: '#/components/schemas/LocalizableString'
        channels:
          description: 'the event channels. The regular event logs, that you see in the Azure Management Portals, flow through the ''Operation'' channel.'
          enum:
            - Admin
            - Operation
            - Debug
            - Analytics
          type: string
          x-ms-enum:
            modelAsString: false
            name: EventChannels
        claims:
          additionalProperties:
            type: string
          description: key value pairs to identify ARM permissions.
          type: object
        correlationId:
          description: 'the correlation Id, usually a GUID in the string format. The correlation Id is shared among the events that belong to the same uber operation.'
          type: string
        description:
          description: the description of the event.
          type: string
        eventDataId:
          description: the event data Id. This is a unique identifier for an event.
          type: string
        eventName:
          $ref: '#/components/schemas/LocalizableString'
        eventTimestamp:
          description: the timestamp of when the event was generated by the Azure service processing the request corresponding the event. It in ISO 8601 format.
          format: date-time
          type: string
        httpRequest:
          $ref: '#/components/schemas/HttpRequestInfo'
        id:
          description: the Id of this event as required by ARM for RBAC. It contains the EventDataID and a timestamp information.
          type: string
        level:
          description: the event level
          enum:
            - Critical
            - Error
            - Warning
            - Informational
            - Verbose
          type: string
          x-ms-enum:
            modelAsString: false
            name: EventLevel
        operationId:
          description: It is usually a GUID shared among the events corresponding to single operation. This value should not be confused with EventName.
          type: string
        operationName:
          $ref: '#/components/schemas/LocalizableString'
        properties:
          additionalProperties:
            type: string
          description: 'the set of <Key, Value> pairs (usually a Dictionary<String, String>) that includes details about the event.'
          type: object
        resourceGroupName:
          description: the resource group name of the impacted resource.
          externalDocs:
            url: 'http://msdn.microsoft.com/en-us/library/azure/dn790546.aspx'
          type: string
        resourceId:
          description: the resource uri that uniquely identifies the resource that caused this event.
          externalDocs:
            url: 'http://msdn.microsoft.com/en-us/library/azure/dn790569.aspx'
          type: string
        resourceProviderName:
          $ref: '#/components/schemas/LocalizableString'
        resourceType:
          $ref: '#/components/schemas/LocalizableString'
        status:
          $ref: '#/components/schemas/LocalizableString'
        subStatus:
          $ref: '#/components/schemas/LocalizableString'
        submissionTimestamp:
          description: 'the timestamp of when the event became available for querying via this API. It is in ISO 8601 format. This value should not be confused eventTimestamp. As there might be a delay between the occurence time of the event, and the time that the event is submitted to the Azure logging infrastructure.'
          format: date-time
          type: string
        subscriptionId:
          description: the Azure subscription Id usually a GUID.
          type: string
        tenantId:
          description: the Azure tenant Id
          type: string
      required:
        - channels
        - level
        - eventTimestamp
        - submissionTimestamp
    EventDataCollection:
      description: Represents collection of events.
      properties:
        nextLink:
          description: Provides the link to retrive the next set of events.
          type: string
        value:
          description: this list that includes the Azure audit logs.
          items:
            $ref: '#/components/schemas/EventData'
          type: array
      required:
        - value
    HttpRequestInfo:
      description: The Http request info.
      properties:
        clientIpAddress:
          description: the client Ip Address
          type: string
        clientRequestId:
          description: the client request id.
          type: string
        method:
          description: the Http request method.
          type: string
        uri:
          description: the Uri.
          type: string
    LocalizableString:
      description: The localizable string class.
      properties:
        localizedValue:
          description: the locale specific value.
          type: string
        value:
          description: the invariant value.
          type: string
      required:
        - value
    SenderAuthorization:
      description: The RBAC properties of the event.
      properties:
        action:
          description: 'the permissible actions. For instance: microsoft.support/supporttickets/write'
          type: string
        role:
          description: 'the role of the user. For instance: Subscription Admin'
          type: string
        scope:
          description: the scope.
          type: string
  parameters:
    ApiVersionParameter:
      description: Client Api Version.
      in: query
      name: api-version
      required: true
      schema:
        type: string
    FilterParameter:
      description: Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.
      in: query
      name: $filter
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
    SelectParameter:
      description: 'Used to fetch events with only the given properties. The filter is a comma separated list of property names to be returned. Possible values are: authorization, channels, claims, correlationId, description, eventDataId, eventName, eventTimestamp, httpRequest, level, operationId, operationName, properties, resourceGroupName, resourceProviderName, resourceId, status, submissionTimestamp, subStatus, subscriptionId'
      in: query
      name: $select
      required: false
      x-ms-parameter-location: method
      schema:
        type: string
