openapi: 3.0.0
servers:
  - description: Live Test Server (live data - latest nightly version)
    url: https://peertube2.cpy.re/api/v1
  - description: Live Test Server (live data - latest RC version)
    url: https://peertube3.cpy.re/api/v1
  - description: Live Test Server (live data - stable version)
    url: https://peertube.cpy.re/api/v1
info:
  contact:
    name: PeerTube Community
    url: https://joinpeertube.org
  description: >
    # Introduction


    The PeerTube API is built on HTTP(S) and is RESTful. You can use your favorite

    HTTP/REST library for your programming language to use PeerTube. The spec API is fully compatible with

    [openapi-generator](https://github.com/OpenAPITools/openapi-generator/wiki/API-client-generator-HOWTO)

    which generates a client SDK in the language of your choice - we generate some client SDKs automatically:


    - [Python](https://framagit.org/framasoft/peertube/clients/python)

    - [Go](https://framagit.org/framasoft/peertube/clients/go)

    - [Kotlin](https://framagit.org/framasoft/peertube/clients/kotlin)


    See the [Quick Start guide](https://docs.joinpeertube.org/#/api-rest-getting-started) so you can play with the PeerTube API.


    # Authentication


    When you sign up for an account, you are given the possibility to generate

    sessions, and authenticate using this session token. One session token can

    currently be used at a time.


    ## Roles


    Accounts are given permissions based on their role. There are three roles on

    PeerTube: Administrator, Moderator, and User. See the [roles guide](https://docs.joinpeertube.org/#/admin-managing-users?id=roles) for a detail of their permissions.


    # Errors


    The API uses standard HTTP status codes to indicate the success or failure

    of the API call. The body of the response will be JSON in the following

    format.


    ```

    {
      "code": "unauthorized_request", // example inner error code
      "error": "Token is invalid." // example exposed error message
    }

    ```
  license:
    name: AGPLv3.0
    url: https://github.com/Chocobozzz/PeerTube/blob/master/LICENSE
  title: PeerTube
  version: 3.0.1
  x-apisguru-categories:
    - social
  x-logo:
    altText: PeerTube Project Homepage
    url: https://joinpeertube.org/img/brand.png
  x-origin:
    - converter:
        url: https://github.com/mermade/oas-kit
        version: 7.0.4
      format: openapi
      url: https://raw.githubusercontent.com/Chocobozzz/PeerTube/develop/support/doc/api/openapi.yaml
      version: "3.0"
  x-providerName: cpy.re
  x-serviceName: peertube
externalDocs:
  url: https://docs.joinpeertube.org/api-rest-reference.html
tags:
  - description: >
      Accounts encompass remote accounts discovered across the federation, and correspond to the main Actor, along with video channels a user can create, which are also Actors.

      When a comment is posted, it is done with your Account's Actor.
    name: Accounts
  - description: >
      Using some features of PeerTube require authentication, for which User provide different levels of permission as well as associated user information. Each user has a corresponding local Account for federation.
    name: Users
  - description: >
      Operations related to your own User, when logged-in.
    name: My User
  - description: >
      Operations related to your subscriptions to video channels, their new videos, and how to keep up to date with their latest publications!
    name: My Subscriptions
  - description: >
      Operations related to your watch history.
    name: My History
  - description: >
      Notifications following new videos, follows or reports. They allow you to keep track of the interactions and overall important information that concerns you. You MAY set per-notification type delivery preference, to receive the info either by mail, by in-browser notification or both.
    name: My Notifications
  - description: >
      Each server exposes public information regarding supported videos and options.
    name: Config
  - description: >
      Jobs are long-running tasks enqueued and processed by the instance itself. No additional worker registration is currently available.
    name: Job
  - description: >
      Managing servers which the instance interacts with is crucial to the concept of federation in PeerTube and external video indexation. The PeerTube server then deals with inter-server ActivityPub operations and propagates information across its social graph by posting activities to actors' inbox endpoints.
    externalDocs:
      url: https://docs.joinpeertube.org/#/admin-following-instances?id=instances-follows
    name: Instance Follows
  - description: >
      Redundancy is part of the inter-server solidarity that PeerTube fosters. Manage the list of instances you wish to help by seeding their videos according to the policy of video selection of your choice. Note that you have a similar functionality to mirror individual videos, see `Video Mirroring`.
    externalDocs:
      url: https://docs.joinpeertube.org/#/admin-following-instances?id=instances-redundancy
    name: Instance Redundancy
  - description: >
      Managing plugins installed from a local path or from NPM, or search for new ones.
    externalDocs:
      url: https://docs.joinpeertube.org/#/api-plugins
    name: Plugins
  - description: >
      Abuses deal with reports of local or remote videos/comments/accounts alike.
    name: Abuses
  - description: >
      Operations dealing with listing, uploading, fetching or modifying videos.
    name: Video
  - description: >
      The search helps to find _videos_ or _channels_ from within the instance and beyond.

      Videos from other instances federated by the instance (that is, instances

      followed by the instance) can be found via keywords and other criteria of

      the advanced search.


      Administrators can also enable the use of a remote search system, indexing

      videos and channels not could be not federated by the instance.
    name: Search
  - description: >
      Operations dealing with comments to a video. Comments are organized in threads.
    name: Video Comments
  - description: >
      Operations dealing with playlists of videos. Playlists are bound to users and/or channels.
    name: Video Playlists
  - description: >
      Operations dealing with the creation, modification and listing of videos within a channel.
    name: Video Channels
  - description: >
      Operations dealing with blocking videos (removing them from view and preventing interactions).
    name: Video Blocks
  - description: >
      Like/dislike a video.
    name: Video Rates
  - description: >
      Server syndication feeds
    name: Feeds
paths:
  /abuses:
    get:
      parameters:
        - description: only list the report with this id
          in: query
          name: id
          schema:
            type: integer
        - description: predefined reason the listed reports should contain
          in: query
          name: predefinedReason
          schema:
            $ref: "#/components/schemas/PredefinedAbuseReasons"
        - description: plain search that will match with video titles, reporter names and more
          in: query
          name: search
          schema:
            type: string
        - in: query
          name: state
          schema:
            $ref: "#/components/schemas/AbuseStateSet"
        - description: only list reports of a specific reporter
          in: query
          name: searchReporter
          schema:
            type: string
        - description: only list reports of a specific reportee
          in: query
          name: searchReportee
          schema:
            type: string
        - description: only list reports of a specific video
          in: query
          name: searchVideo
          schema:
            type: string
        - description: only list reports of a specific video channel
          in: query
          name: searchVideoChannel
          schema:
            type: string
        - description: only list blacklisted or deleted videos
          in: query
          name: videoIs
          schema:
            enum:
              - deleted
              - blacklisted
            type: string
        - description: only list account, comment or video reports
          in: query
          name: filter
          schema:
            enum:
              - video
              - comment
              - account
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/abusesSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Abuse"
                type: array
          description: successful operation
      security:
        - OAuth2:
            - admin
            - moderator
      summary: List abuses
      tags:
        - Abuses
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                account:
                  properties:
                    id:
                      description: Account id to report
                      type: number
                  type: object
                comment:
                  properties:
                    id:
                      description: Comment id to report
                      type: number
                  type: object
                predefinedReasons:
                  $ref: "#/components/schemas/PredefinedAbuseReasons"
                reason:
                  description: Reason why the user reports this video
                  minLength: 4
                  type: string
                video:
                  properties:
                    endAt:
                      description: Timestamp in the video that marks the ending of the report
                      minimum: 0
                      type: integer
                    id:
                      description: Video id to report
                      type: number
                    startAt:
                      description: Timestamp in the video that marks the beginning of the report
                      minimum: 0
                      type: integer
                  type: object
              required:
                - reason
              type: object
        required: true
      responses:
        "204":
          description: successful operation
        "400":
          description: incorrect request parameters
      security:
        - OAuth2: []
      summary: Report an abuse
      tags:
        - Abuses
  "/abuses/{abuseId}":
    delete:
      parameters:
        - $ref: "#/components/parameters/abuseId"
      responses:
        "204":
          description: successful operation
        "404":
          description: block not found
      security:
        - OAuth2:
            - admin
            - moderator
      summary: Delete an abuse
      tags:
        - Abuses
    put:
      parameters:
        - $ref: "#/components/parameters/abuseId"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                moderationComment:
                  description: Update the report comment visible only to the moderation team
                  type: string
                state:
                  $ref: "#/components/schemas/AbuseStateSet"
              type: object
      responses:
        "204":
          description: successful operation
        "404":
          description: abuse not found
      security:
        - OAuth2:
            - admin
            - moderator
      summary: Update an abuse
      tags:
        - Abuses
  "/abuses/{abuseId}/messages":
    get:
      parameters:
        - $ref: "#/components/parameters/abuseId"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/AbuseMessage"
                type: array
          description: successful operation
      security:
        - OAuth2: []
      summary: List messages of an abuse
      tags:
        - Abuses
    post:
      parameters:
        - $ref: "#/components/parameters/abuseId"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                message:
                  description: Message to send
                  type: string
              required:
                - message
              type: object
        required: true
      responses:
        "200":
          description: successful operation
        "400":
          description: incorrect request parameters
      security:
        - OAuth2: []
      summary: Add message to an abuse
      tags:
        - Abuses
  "/abuses/{abuseId}/messages/{abuseMessageId}":
    delete:
      parameters:
        - $ref: "#/components/parameters/abuseId"
        - $ref: "#/components/parameters/abuseMessageId"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete an abuse message
      tags:
        - Abuses
  /accounts:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Account"
                type: array
          description: successful operation
      summary: List accounts
      tags:
        - Accounts
  "/accounts/{name}":
    get:
      parameters:
        - $ref: "#/components/parameters/name"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
          description: successful operation
        "404":
          description: account not found
      summary: Get an account
      tags:
        - Accounts
  "/accounts/{name}/ratings":
    get:
      parameters:
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
        - description: Optionally filter which ratings to retrieve
          in: query
          name: rating
          required: false
          schema:
            enum:
              - like
              - dislike
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VideoRating"
                type: array
          description: successful operation
      security:
        - OAuth2: []
      summary: List ratings of an account
      tags:
        - Accounts
  "/accounts/{name}/video-channels":
    get:
      parameters:
        - $ref: "#/components/parameters/name"
        - description: include view statistics for the last 30 days (only if authentified as the account user)
          in: query
          name: withStats
          schema:
            type: boolean
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VideoChannel"
                type: array
          description: successful operation
      summary: List video channels of an account
      tags:
        - Video Channels
        - Accounts
  "/accounts/{name}/videos":
    get:
      parameters:
        - $ref: "#/components/parameters/name"
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videosSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      summary: List videos of an account
      tags:
        - Accounts
        - Video
      x-code-samples:
        - lang: JavaScript
          source: >
            fetch('https://peertube2.cpy.re/api/v1/accounts/{name}/videos')

            .then(function(response) {
              return response.json()
            }).then(function(data) {
              console.log(data)
            })
        - lang: Shell
          source: >
            ## DEPENDENCIES: jq

            curl -s https://peertube2.cpy.re/api/v1/accounts/{name}/videos | jq
        - lang: Ruby
          source: >
            require 'net/http'

            require 'json'


            uri = URI.parse("https://peertube2.cpy.re/api/v1/accounts/{name}/videos")


            http = Net::HTTP.new(uri.host, uri.port)

            http.use_ssl = true


            response = http.get(uri.request_uri)


            puts JSON.parse(response.read_body)
        - lang: Python
          source: >
            import requests


            r = requests.get("https://peertube2.cpy.re/api/v1//accounts/{name}/videos")

            json = r.json()


            print(json)
  /blocklist/accounts:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List account blocks
      tags:
        - Account Blocks
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                accountName:
                  description: account to block, in the form `username@domain`
                  example: chocobozzz@example.org
                  type: string
              required:
                - accountName
              type: object
      responses:
        "200":
          description: successful operation
        "409":
          description: self-blocking forbidden
      security:
        - OAuth2:
            - admin
      summary: Block an account
      tags:
        - Account Blocks
  "/blocklist/accounts/{accountName}":
    delete:
      parameters:
        - description: account to unblock, in the form `username@domain`
          in: path
          name: accountName
          required: true
          schema:
            type: string
      responses:
        "201":
          description: successful operation
        "404":
          description: account or account block does not exist
      security:
        - OAuth2:
            - admin
      summary: Unblock an account by its handle
      tags:
        - Account Blocks
  /blocklist/servers:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List server blocks
      tags:
        - Server Blocks
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                host:
                  description: server domain to block
                  format: hostname
                  type: string
              required:
                - host
              type: object
      responses:
        "200":
          description: successful operation
        "409":
          description: self-blocking forbidden
      security:
        - OAuth2:
            - admin
      summary: Block a server
      tags:
        - Server Blocks
  "/blocklist/servers/{host}":
    delete:
      parameters:
        - description: server domain to unblock
          in: path
          name: host
          required: true
          schema:
            format: hostname
            type: string
      responses:
        "201":
          description: successful operation
        "404":
          description: account block does not exist
      security:
        - OAuth2:
            - admin
      summary: Unblock a server by its domain
      tags:
        - Server Blocks
  /config:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerConfig"
          description: successful operation
      summary: Get instance public configuration
      tags:
        - Config
  /config/about:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerConfigAbout"
          description: successful operation
      summary: Get instance "About" information
      tags:
        - Config
  /config/custom:
    delete:
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: Delete instance runtime configuration
      tags:
        - Config
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ServerConfigCustom"
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: Get instance runtime configuration
      tags:
        - Config
    put:
      responses:
        "200":
          description: successful operation
        "400":
          description: >
            Arises when:
              - the emailer is disabled and the instance is open to registrations
              - webtorrent and hls are disabled with transcoding enabled - you need at least one enabled
          x-summary: field inconsistencies
      security:
        - OAuth2:
            - admin
      summary: Set instance runtime configuration
      tags:
        - Config
  "/feeds/video-comments.{format}":
    get:
      parameters:
        - description: format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))
          in: path
          name: format
          required: true
          schema:
            enum:
              - xml
              - rss
              - rss2
              - atom
              - atom1
              - json
              - json1
            type: string
        - description: limit listing to a specific video
          in: query
          name: videoId
          schema:
            type: string
        - description: limit listing to a specific account
          in: query
          name: accountId
          schema:
            type: string
        - description: limit listing to a specific account
          in: query
          name: accountName
          schema:
            type: string
        - description: limit listing to a specific video channel
          in: query
          name: videoChannelId
          schema:
            type: string
        - description: limit listing to a specific video channel
          in: query
          name: videoChannelName
          schema:
            type: string
      responses:
        "204":
          content:
            application/atom+xml:
              schema:
                $ref: "#/components/schemas/VideoCommentsForXML"
            application/json:
              schema:
                type: object
            application/rss+xml:
              schema:
                $ref: "#/components/schemas/VideoCommentsForXML"
            application/xml:
              schema:
                $ref: "#/components/schemas/VideoCommentsForXML"
            text/xml:
              schema:
                $ref: "#/components/schemas/VideoCommentsForXML"
          description: successful operation
          headers:
            Cache-Control:
              schema:
                default: max-age=900
                type: string
        "400":
          description: >
            Arises when:
              - videoId filter is mixed with a channel filter
          x-summary: field inconsistencies
        "404":
          description: video, video channel or account not found
        "406":
          description: accept header unsupported
      servers:
        - description: Live Test Server (live data - latest nightly version)
          url: https://peertube2.cpy.re
        - description: Live Test Server (live data - latest RC version)
          url: https://peertube3.cpy.re
        - description: Live Test Server (live data - stable version)
          url: https://peertube.cpy.re
      summary: List comments on videos
      tags:
        - Feeds
  "/feeds/videos.{format}":
    get:
      parameters:
        - description: format expected (we focus on making `rss` the most featureful ; it serves [Media RSS](https://www.rssboard.org/media-rss))
          in: path
          name: format
          required: true
          schema:
            enum:
              - xml
              - rss
              - rss2
              - atom
              - atom1
              - json
              - json1
            type: string
        - description: limit listing to a specific account
          in: query
          name: accountId
          schema:
            type: string
        - description: limit listing to a specific account
          in: query
          name: accountName
          schema:
            type: string
        - description: limit listing to a specific video channel
          in: query
          name: videoChannelId
          schema:
            type: string
        - description: limit listing to a specific video channel
          in: query
          name: videoChannelName
          schema:
            type: string
        - $ref: "#/components/parameters/sort"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
      responses:
        "204":
          content:
            application/atom+xml:
              schema:
                $ref: "#/components/schemas/VideosForXML"
            application/json:
              schema:
                type: object
            application/rss+xml:
              schema:
                $ref: "#/components/schemas/VideosForXML"
            application/xml:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/feeds/videos.xml?filter=local
              schema:
                $ref: "#/components/schemas/VideosForXML"
            text/xml:
              schema:
                $ref: "#/components/schemas/VideosForXML"
          description: successful operation
          headers:
            Cache-Control:
              schema:
                default: max-age=900
                type: string
        "404":
          description: video channel or account not found
        "406":
          description: accept header unsupported
      servers:
        - description: Live Test Server (live data - latest nightly version)
          url: https://peertube2.cpy.re
        - description: Live Test Server (live data - latest RC version)
          url: https://peertube3.cpy.re
        - description: Live Test Server (live data - stable version)
          url: https://peertube.cpy.re
      summary: List videos
      tags:
        - Feeds
  "/jobs/{state}":
    get:
      parameters:
        - description: The state of the job ('' for for no filter)
          in: path
          name: state
          required: true
          schema:
            enum:
              - ""
              - active
              - completed
              - failed
              - waiting
              - delayed
            type: string
        - $ref: "#/components/parameters/jobType"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/Job"
                    maxItems: 100
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List instance jobs
      tags:
        - Job
  /plugins:
    get:
      parameters:
        - in: query
          name: pluginType
          schema:
            type: integer
        - in: query
          name: uninstalled
          schema:
            type: boolean
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PluginResponse"
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List plugins
      tags:
        - Plugins
  /plugins/available:
    get:
      parameters:
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: pluginType
          schema:
            type: integer
        - in: query
          name: currentPeerTubeEngine
          schema:
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PluginResponse"
          description: successful operation
        "503":
          description: plugin index unavailable
      security:
        - OAuth2:
            - admin
      summary: List available plugins
      tags:
        - Plugins
  /plugins/install:
    post:
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - additionalProperties: false
                  properties:
                    npmName:
                      example: peertube-plugin-auth-ldap
                      type: string
                  required:
                    - npmName
                  type: object
                - additionalProperties: false
                  properties:
                    path:
                      type: string
                  required:
                    - path
                  type: object
      responses:
        "204":
          description: successful operation
        "400":
          description: should have either `npmName` or `path` set
      security:
        - OAuth2:
            - admin
      summary: Install a plugin
      tags:
        - Plugins
  /plugins/uninstall:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                npmName:
                  description: name of the plugin/theme in its package.json
                  example: peertube-plugin-auth-ldap
                  type: string
              required:
                - npmName
              type: object
      responses:
        "204":
          description: successful operation
        "404":
          description: existing plugin not found
      security:
        - OAuth2:
            - admin
      summary: Uninstall a plugin
      tags:
        - Plugins
  /plugins/update:
    post:
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
                - additionalProperties: false
                  properties:
                    npmName:
                      example: peertube-plugin-auth-ldap
                      type: string
                  required:
                    - npmName
                  type: object
                - additionalProperties: false
                  properties:
                    path:
                      type: string
                  required:
                    - path
                  type: object
      responses:
        "204":
          description: successful operation
        "400":
          description: should have either `npmName` or `path` set
        "404":
          description: existing plugin not found
      security:
        - OAuth2:
            - admin
      summary: Update a plugin
      tags:
        - Plugins
  "/plugins/{npmName}":
    get:
      parameters:
        - $ref: "#/components/parameters/npmName"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Plugin"
          description: successful operation
        "404":
          description: plugin not found
      security:
        - OAuth2:
            - admin
      summary: Get a plugin
      tags:
        - Plugins
  "/plugins/{npmName}/public-settings":
    get:
      parameters:
        - $ref: "#/components/parameters/npmName"
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: successful operation
        "404":
          description: plugin not found
      summary: Get a plugin's public settings
      tags:
        - Plugins
  "/plugins/{npmName}/registered-settings":
    get:
      parameters:
        - $ref: "#/components/parameters/npmName"
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties: true
                type: object
          description: successful operation
        "404":
          description: plugin not found
      security:
        - OAuth2:
            - admin
      summary: Get a plugin's registered settings
      tags:
        - Plugins
  "/plugins/{npmName}/settings":
    put:
      parameters:
        - $ref: "#/components/parameters/npmName"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                settings:
                  additionalProperties: true
                  type: object
              type: object
      responses:
        "204":
          description: successful operation
        "404":
          description: plugin not found
      security:
        - OAuth2:
            - admin
      summary: Set a plugin's settings
      tags:
        - Plugins
  /redundancy/videos:
    get:
      parameters:
        - description: direction of the mirror
          in: query
          name: target
          required: true
          schema:
            enum:
              - my-videos
              - remote-videos
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videoRedundanciesSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VideoRedundancy"
                type: array
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List videos being mirrored
      tags:
        - Video Mirroring
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                videoId:
                  type: integer
              required:
                - videoId
              type: object
      responses:
        "204":
          description: successful operation
        "400":
          description: cannot mirror a local video
        "404":
          description: video does not exist
        "409":
          description: video is already mirrored
      security:
        - OAuth2:
            - admin
      summary: Mirror a video
      tags:
        - Video Mirroring
  "/redundancy/videos/{redundancyId}":
    delete:
      parameters:
        - description: id of an existing redundancy on a video
          in: path
          name: redundancyId
          required: true
          schema:
            type: string
      responses:
        "204":
          description: successful operation
        "404":
          description: video redundancy not found
      security:
        - OAuth2:
            - admin
      summary: Delete a mirror done on a video
      tags:
        - Video Mirroring
  "/redundancy/{host}":
    put:
      parameters:
        - description: server domain to mirror
          in: path
          name: host
          required: true
          schema:
            format: hostname
            type: string
      requestBody:
        content:
          application/json:
            schema:
              properties:
                redundancyAllowed:
                  description: allow mirroring of the host's local videos
                  type: boolean
              required:
                - redundancyAllowed
              type: object
      responses:
        "204":
          description: successful operation
        "404":
          description: server is not already known
      security:
        - OAuth2:
            - admin
      summary: Update a server redundancy policy
      tags:
        - Instance Redundancy
  /search/video-channels:
    get:
      callbacks:
        searchTarget === search-index:
          $ref: "#/components/callbacks/searchIndex"
      parameters:
        - description: >
            String to search. If the user can make a remote URI search, and the string is an URI then the PeerTube instance will fetch the remote object and add it to its database. Then, you can use the REST API to fetch the complete channel information and interact with it.
          in: query
          name: search
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/searchTarget"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/VideoChannel"
                type: array
          description: successful operation
        "500":
          description: search index unavailable
      summary: Search channels
      tags:
        - Search
  /search/videos:
    get:
      callbacks:
        searchTarget === search-index:
          $ref: "#/components/callbacks/searchIndex"
      parameters:
        - allowEmptyValue: false
          description: >
            String to search. If the user can make a remote URI search, and the string is an URI then the PeerTube instance will fetch the remote object and add it to its database. Then, you can use the REST API to fetch the complete video information and interact with it.
          in: query
          name: search
          required: true
          schema:
            type: string
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/searchTarget"
        - $ref: "#/components/parameters/videosSearchSort"
        - description: Get videos that are published after this date
          in: query
          name: startDate
          schema:
            format: date-time
            type: string
        - description: Get videos that are published before this date
          in: query
          name: endDate
          schema:
            format: date-time
            type: string
        - description: Get videos that are originally published after this date
          in: query
          name: originallyPublishedStartDate
          schema:
            format: date-time
            type: string
        - description: Get videos that are originally published before this date
          in: query
          name: originallyPublishedEndDate
          schema:
            format: date-time
            type: string
        - description: Get videos that have this minimum duration
          in: query
          name: durationMin
          schema:
            type: integer
        - description: Get videos that have this maximum duration
          in: query
          name: durationMax
          schema:
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
        "500":
          description: search index unavailable
      summary: Search videos
      tags:
        - Search
  /server/followers:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Follow"
                type: array
          description: successful operation
      summary: List instance followers
      tags:
        - Instance Follows
  /server/following:
    get:
      parameters:
        - in: query
          name: state
          schema:
            enum:
              - pending
              - accepted
            type: string
        - in: query
          name: actorType
          schema:
            enum:
              - Person
              - Application
              - Group
              - Service
              - Organization
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Follow"
                type: array
          description: successful operation
      summary: List instances followed by the server
      tags:
        - Instance Follows
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                hosts:
                  items:
                    format: hostname
                    type: string
                  type: array
                  uniqueItems: true
              type: object
      responses:
        "204":
          description: successful operation
        "500":
          description: cannot follow a non-HTTPS server
      security:
        - OAuth2:
            - admin
      summary: Follow a server
      tags:
        - Instance Follows
  "/server/following/{host}":
    delete:
      parameters:
        - description: "The host to unfollow "
          in: path
          name: host
          required: true
          schema:
            format: hostname
            type: string
      responses:
        "201":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: Unfollow a server
      tags:
        - Instance Follows
  /users:
    get:
      parameters:
        - $ref: "#/components/parameters/usersSearch"
        - $ref: "#/components/parameters/usersBlocked"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/usersSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/User"
                type: array
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: List users
      tags:
        - Users
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddUser"
        description: User to create
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AddUserResponse"
          description: user created
          links:
            DelUserId:
              operationId: delUserId
              parameters:
                id: $response.body#/user/id
            GetUserId:
              operationId: getUserId
              parameters:
                id: $response.body#/user/id
            PutUserId:
              operationId: putUserId
              parameters:
                id: $response.body#/user/id
        "403":
          description: insufficient authority to create an admin or moderator
      security:
        - OAuth2:
            - admin
      summary: Create a user
      tags:
        - Users
  /users/me:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/User"
                type: array
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get my user information
      tags:
        - My User
    put:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateMe"
        required: true
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Update my user information
      tags:
        - My User
  /users/me/abuses:
    get:
      parameters:
        - description: only list the report with this id
          in: query
          name: id
          schema:
            type: integer
        - in: query
          name: state
          schema:
            $ref: "#/components/schemas/AbuseStateSet"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/abusesSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/Abuse"
                type: array
          description: successful operation
      security:
        - OAuth2: []
      summary: List my abuses
      tags:
        - Abuses
        - My User
  /users/me/avatar/pick:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              avatarfile:
                contentType: image/png, image/jpeg
            schema:
              properties:
                avatarfile:
                  description: The file to upload.
                  format: binary
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Avatar"
          description: successful operation
        "413":
          description: image file too large
          headers:
            X-File-Maximum-Size:
              description: Maximum file size for the avatar
              schema:
                format: Nginx size
                type: string
      security:
        - OAuth2: []
      summary: Update my user avatar
      tags:
        - My User
  /users/me/history/videos:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      security:
        - OAuth2: []
      summary: List watched videos history
      tags:
        - My History
  /users/me/history/videos/remove:
    post:
      requestBody:
        content:
          multipart/form-data:
            schema:
              properties:
                beforeDate:
                  description: history before this date will be deleted
                  format: date-time
                  type: string
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Clear video history
      tags:
        - My History
  /users/me/notification-settings:
    put:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                abuseAsModerator:
                  $ref: "#/components/schemas/NotificationSettingValue"
                autoInstanceFollowing:
                  $ref: "#/components/schemas/NotificationSettingValue"
                blacklistOnMyVideo:
                  $ref: "#/components/schemas/NotificationSettingValue"
                commentMention:
                  $ref: "#/components/schemas/NotificationSettingValue"
                myVideoImportFinished:
                  $ref: "#/components/schemas/NotificationSettingValue"
                myVideoPublished:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newCommentOnMyVideo:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newFollow:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newInstanceFollower:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newUserRegistration:
                  $ref: "#/components/schemas/NotificationSettingValue"
                newVideoFromSubscription:
                  $ref: "#/components/schemas/NotificationSettingValue"
                videoAutoBlacklistAsModerator:
                  $ref: "#/components/schemas/NotificationSettingValue"
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update my notification settings
      tags:
        - My Notifications
  /users/me/notifications:
    get:
      parameters:
        - description: only list unread notifications
          in: query
          name: unread
          schema:
            type: boolean
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NotificationListResponse"
          description: successful operation
      security:
        - OAuth2: []
      summary: List my notifications
      tags:
        - My Notifications
  /users/me/notifications/read:
    post:
      requestBody:
        content:
          application/json:
            schema:
              properties:
                ids:
                  description: ids of the notifications to mark as read
                  items:
                    type: integer
                  type: array
              required:
                - ids
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Mark notifications as read by their id
      tags:
        - My Notifications
  /users/me/notifications/read-all:
    post:
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Mark all my notification as read
      tags:
        - My Notifications
  /users/me/subscriptions:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get my user subscriptions
      tags:
        - My Subscriptions
    post:
      requestBody:
        content:
          application/json:
            examples:
              default:
                value:
                  uri: 008a0e54-375d-49d0-8379-143202e24152@video.lqdn.fr
            schema:
              properties:
                uri:
                  description: uri of the video channels to subscribe to
                  format: uri
                  type: string
              required:
                - uri
              type: object
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Add subscription to my user
      tags:
        - My Subscriptions
  /users/me/subscriptions/exist:
    get:
      parameters:
        - $ref: "#/components/parameters/subscriptionsUris"
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get if subscriptions exist for my user
      tags:
        - My Subscriptions
  /users/me/subscriptions/videos:
    get:
      parameters:
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videosSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: List videos of subscriptions of my user
      tags:
        - My Subscriptions
        - Videos
  "/users/me/subscriptions/{subscriptionHandle}":
    delete:
      parameters:
        - $ref: "#/components/parameters/subscriptionHandle"
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Delete subscription of my user
      tags:
        - My Subscriptions
    get:
      parameters:
        - $ref: "#/components/parameters/subscriptionHandle"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoChannel"
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get subscription of my user
      tags:
        - My Subscriptions
  /users/me/video-playlists/videos-exist:
    get:
      parameters:
        - description: The video ids to check
          in: query
          name: videoIds
          required: true
          schema:
            items:
              type: integer
            type: array
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  videoId:
                    items:
                      properties:
                        playlistElementId:
                          type: integer
                        playlistId:
                          type: integer
                        startTimestamp:
                          type: integer
                        stopTimestamp:
                          type: integer
                      type: object
                    type: array
                type: object
          description: successful operation
      security:
        - OAuth2: []
      summary: Check video exists in my playlists
      tags:
        - Video Playlists
  /users/me/video-quota-used:
    get:
      responses:
        "200":
          content:
            application/json:
              schema:
                type: number
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get my user used quota
      tags:
        - My User
  /users/me/videos:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get videos of my user
      tags:
        - My User
        - Videos
  /users/me/videos/imports:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoImport"
          description: successful operation
      security:
        - OAuth2:
            - user
      summary: Get video imports of my user
      tags:
        - Videos
        - My User
  "/users/me/videos/{videoId}/rating":
    get:
      parameters:
        - description: "The video id "
          in: path
          name: videoId
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetMeVideoRating"
          description: successful operation
      security:
        - OAuth2: []
      summary: Get rate of my user for a video
      tags:
        - My User
        - Video Rates
  /users/register:
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterUser"
        required: true
      responses:
        "204":
          description: successful operation
      summary: Register a user
      tags:
        - Users
  "/users/{id}":
    delete:
      operationId: delUserId
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2:
            - admin
      summary: Delete a user
      tags:
        - Users
    get:
      operationId: getUserId
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/User"
          description: successful operation
      security:
        - OAuth2: []
      summary: Get a user
      tags:
        - Users
    parameters:
      - $ref: "#/components/parameters/id"
    put:
      operationId: putUserId
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateUser"
        required: true
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update a user
      tags:
        - Users
  /video-channels:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/VideoChannel"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      summary: List video channels
      tags:
        - Video Channels
    post:
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoChannelCreate"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Create a video channel
      tags:
        - Video Channels
  "/video-channels/{channelHandle}":
    delete:
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete a video channel
      tags:
        - Video Channels
    get:
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoChannel"
          description: successful operation
      summary: Get a video channel
      tags:
        - Video Channels
    put:
      parameters:
        - $ref: "#/components/parameters/channelHandle"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/VideoChannelUpdate"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update a video channel
      tags:
        - Video Channels
  "/video-channels/{channelHandle}/videos":
    get:
      parameters:
        - $ref: "#/components/parameters/channelHandle"
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videosSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      summary: List videos of a video channel
      tags:
        - Video
        - Video Channels
  /video-playlists:
    get:
      parameters:
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/sort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/VideoPlaylist"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      summary: List video playlists
      tags:
        - Video Playlists
    post:
      description: If the video playlist is set as public, the videoChannelId is mandatory.
      requestBody:
        content:
          multipart/form-data:
            encoding:
              thumbnailfile:
                contentType: image/jpeg
            schema:
              properties:
                description:
                  description: Video playlist description
                  type: string
                displayName:
                  description: Video playlist display name
                  type: string
                privacy:
                  $ref: "#/components/schemas/VideoPlaylistPrivacySet"
                thumbnailfile:
                  description: Video playlist thumbnail file
                  format: binary
                  type: string
                videoChannelId:
                  description: Video channel in which the playlist will be published
                  type: integer
              required:
                - displayName
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  videoPlaylist:
                    properties:
                      id:
                        type: integer
                      uuid:
                        type: string
                    type: object
                type: object
          description: successful operation
      security:
        - OAuth2: []
      summary: Create a video playlist
      tags:
        - Video Playlists
  /video-playlists/privacies:
    get:
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/video-playlists/privacies
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      summary: List available playlist privacies
      tags:
        - Video Playlists
  "/video-playlists/{id}":
    delete:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete a video playlist
      tags:
        - Video Playlists
    get:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoPlaylist"
          description: successful operation
      summary: Get a video playlist
      tags:
        - Video Playlists
    put:
      description: If the video playlist is set as public, the playlist must have a assigned channel.
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      requestBody:
        content:
          multipart/form-data:
            encoding:
              thumbnailfile:
                contentType: image/jpeg
            schema:
              properties:
                description:
                  description: Video playlist description
                  type: string
                displayName:
                  description: Video playlist display name
                  type: string
                privacy:
                  $ref: "#/components/schemas/VideoPlaylistPrivacySet"
                thumbnailfile:
                  description: Video playlist thumbnail file
                  format: binary
                  type: string
                videoChannelId:
                  description: Video channel in which the playlist will be published
                  type: integer
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update a video playlist
      tags:
        - Video Playlists
  "/video-playlists/{id}/videos":
    get:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      summary: List videos of a playlist
      tags:
        - Videos
        - Video Playlists
    post:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                startTimestamp:
                  description: Start the video at this specific timestamp (in seconds)
                  type: integer
                stopTimestamp:
                  description: Stop the video at this specific timestamp (in seconds)
                  type: integer
                videoId:
                  description: Video to add in the playlist
                  type: integer
              required:
                - videoId
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  videoPlaylistElement:
                    properties:
                      id:
                        type: integer
                    type: object
                type: object
          description: successful operation
      security:
        - OAuth2: []
      summary: Add a video in a playlist
      tags:
        - Videos
        - Video Playlists
  "/video-playlists/{id}/videos/reorder":
    post:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                insertAfterPosition:
                  description: New position for the block to reorder, to add the block before the first element
                  minimum: 0
                  type: integer
                reorderLength:
                  description: How many element from `startPosition` to reorder
                  minimum: 1
                  type: integer
                startPosition:
                  description: Start position of the element to reorder
                  minimum: 1
                  type: integer
              required:
                - startPosition
                - insertAfterPosition
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Reorder a playlist
      tags:
        - Video Playlists
  "/video-playlists/{id}/videos/{playlistElementId}":
    delete:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
        - $ref: "#/components/parameters/playlistElementId"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete an element from a playlist
      tags:
        - Video Playlists
    put:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
        - $ref: "#/components/parameters/playlistElementId"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                startTimestamp:
                  description: Start the video at this specific timestamp (in seconds)
                  type: integer
                stopTimestamp:
                  description: Stop the video at this specific timestamp (in seconds)
                  type: integer
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update a playlist element
      tags:
        - Video Playlists
  /videos:
    get:
      parameters:
        - $ref: "#/components/parameters/categoryOneOf"
        - $ref: "#/components/parameters/tagsOneOf"
        - $ref: "#/components/parameters/tagsAllOf"
        - $ref: "#/components/parameters/licenceOneOf"
        - $ref: "#/components/parameters/languageOneOf"
        - $ref: "#/components/parameters/nsfw"
        - $ref: "#/components/parameters/filter"
        - $ref: "#/components/parameters/skipCount"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/videosSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoListResponse"
          description: successful operation
      summary: List videos
      tags:
        - Video
  /videos/blacklist:
    get:
      parameters:
        - description: >
            list only blocks that match this type:

            - `1`: manual block

            - `2`: automatic block that needs review
          in: query
          name: type
          schema:
            enum:
              - 1
              - 2
            type: integer
        - description: plain search that will match with video titles, and more
          in: query
          name: search
          schema:
            type: string
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/blacklistsSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/VideoBlacklist"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      security:
        - OAuth2:
            - admin
            - moderator
      summary: List video blocks
      tags:
        - Video Blocks
  /videos/categories:
    get:
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/videos/categories
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      summary: List available video categories
      tags:
        - Video
  /videos/imports:
    post:
      description: Import a torrent or magnetURI or HTTP resource (if enabled by the instance administrator)
      requestBody:
        content:
          multipart/form-data:
            encoding:
              previewfile:
                contentType: image/jpeg
              thumbnailfile:
                contentType: image/jpeg
              torrentfile:
                contentType: application/x-bittorrent
            schema:
              properties:
                category:
                  description: Video category
                  type: string
                channelId:
                  description: Channel id that will contain this video
                  type: integer
                commentsEnabled:
                  description: Enable or disable comments for this video
                  type: boolean
                description:
                  description: Video description
                  type: string
                downloadEnabled:
                  description: Enable or disable downloading for this video
                  type: boolean
                language:
                  description: Video language
                  type: string
                licence:
                  description: Video licence
                  type: string
                magnetUri:
                  description: Magnet URI
                  type: string
                name:
                  description: Video name
                  type: string
                nsfw:
                  description: Whether or not this video contains sensitive content
                  type: boolean
                previewfile:
                  description: Video preview file
                  format: binary
                  type: string
                privacy:
                  $ref: "#/components/schemas/VideoPrivacySet"
                scheduleUpdate:
                  $ref: "#/components/schemas/VideoScheduledUpdate"
                support:
                  description: A text tell the audience how to support the video creator
                  example: Please support my work on <insert crowdfunding plateform>! <3
                  type: string
                tags:
                  description: Video tags (maximum 5 tags each between 2 and 30 characters)
                  items:
                    maxLength: 30
                    minLength: 2
                    type: string
                  maxItems: 5
                  minItems: 1
                  type: array
                targetUrl:
                  description: HTTP target URL
                  type: string
                thumbnailfile:
                  description: Video thumbnail file
                  format: binary
                  type: string
                torrentfile:
                  description: Torrent File
                  format: binary
                  type: string
                waitTranscoding:
                  description: Whether or not we wait transcoding before publish the video
                  type: boolean
              required:
                - channelId
                - name
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoUploadResponse"
          description: successful operation
        "400":
          description: "`magnetUri` or `targetUrl` or a torrent file missing"
        "403":
          description: video didn't pass pre-import filter
        "409":
          description: HTTP or Torrent/magnetURI import not enabled
      security:
        - OAuth2: []
      summary: Import a video
      tags:
        - Video
  /videos/languages:
    get:
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/videos/languages
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      summary: List available video languages
      tags:
        - Video
  /videos/licences:
    get:
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/videos/licences
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      summary: List available video licences
      tags:
        - Video
  /videos/live:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              previewfile:
                contentType: image/jpeg
              thumbnailfile:
                contentType: image/jpeg
            schema:
              properties:
                category:
                  description: Live video/replay category
                  type: string
                channelId:
                  description: Channel id that will contain this live video
                  type: integer
                commentsEnabled:
                  description: Enable or disable comments for this live video/replay
                  type: boolean
                description:
                  description: Live video/replay description
                  type: string
                downloadEnabled:
                  description: Enable or disable downloading for the replay of this live
                  type: boolean
                language:
                  description: Live video/replay language
                  type: string
                licence:
                  description: Live video/replay licence
                  type: string
                name:
                  description: Live video/replay name
                  type: string
                nsfw:
                  description: Whether or not this live video/replay contains sensitive content
                  type: boolean
                permanentLive:
                  description: User can stream multiple times in a permanent live
                  type: boolean
                previewfile:
                  description: Live video/replay preview file
                  format: binary
                  type: string
                privacy:
                  $ref: "#/components/schemas/VideoPrivacySet"
                saveReplay:
                  type: boolean
                support:
                  description: A text tell the audience how to support the creator
                  example: Please support my work on <insert crowdfunding plateform>! <3
                  type: string
                tags:
                  description: Live video/replay tags (maximum 5 tags each between 2 and 30 characters)
                  items:
                    maxLength: 30
                    minLength: 2
                    type: string
                  maxItems: 5
                  minItems: 1
                  type: array
                thumbnailfile:
                  description: Live video/replay thumbnail file
                  format: binary
                  type: string
              required:
                - channelId
                - name
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoUploadResponse"
          description: successful operation
        "403":
          description: Live is not enabled, allow replay is not enabled, or max instance/user live videos limit is exceeded
      security:
        - OAuth2: []
      summary: Create a live
      tags:
        - Live Videos
        - Video
  "/videos/live/{id}":
    get:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LiveVideoResponse"
          description: successful operation
      security:
        - OAuth2: []
      summary: Get a live information
      tags:
        - Live Videos
        - Video
    put:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LiveVideoUpdate"
      responses:
        "204":
          description: Successful operation
        "400":
          description: Bad parameters or trying to update a live that has already started
        "403":
          description: Trying to save replay of the live but saving replay is not enabled on the instance
      security:
        - OAuth2: []
      summary: Update a live information
      tags:
        - Live Videos
        - Video
  /videos/ownership:
    get:
      responses:
        "200":
          description: successful operation
      security:
        - OAuth2: []
      summary: List video ownership changes
      tags:
        - Video Ownership Change
  "/videos/ownership/{id}/accept":
    post:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "204":
          description: successful operation
        "403":
          description: cannot terminate an ownership change of another user
        "404":
          description: video owneship change not found
      security:
        - OAuth2: []
      summary: Accept ownership change request
      tags:
        - Video Ownership Change
  "/videos/ownership/{id}/refuse":
    post:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "204":
          description: successful operation
        "403":
          description: cannot terminate an ownership change of another user
        "404":
          description: video owneship change not found
      security:
        - OAuth2: []
      summary: Refuse ownership change request
      tags:
        - Video Ownership Change
  /videos/privacies:
    get:
      responses:
        "200":
          content:
            application/json:
              examples:
                nightly:
                  externalValue: https://peertube2.cpy.re/api/v1/videos/privacies
              schema:
                items:
                  type: string
                type: array
          description: successful operation
      summary: List available video privacies
      tags:
        - Video
  /videos/upload:
    post:
      requestBody:
        content:
          multipart/form-data:
            encoding:
              previewfile:
                contentType: image/jpeg
              thumbnailfile:
                contentType: image/jpeg
              videofile:
                contentType: video/mp4, video/webm, video/ogg, video/avi, video/quicktime, video/x-msvideo, video/x-flv, video/x-matroska, application/octet-stream
            schema:
              properties:
                category:
                  description: Video category
                  example: 4
                  type: integer
                channelId:
                  description: Channel id that will contain this video
                  type: integer
                commentsEnabled:
                  description: Enable or disable comments for this video
                  type: boolean
                description:
                  description: Video description
                  type: string
                downloadEnabled:
                  description: Enable or disable downloading for this video
                  type: boolean
                language:
                  description: Video language
                  example: 2
                  type: integer
                licence:
                  description: Video licence
                  type: string
                name:
                  description: Video name
                  type: string
                nsfw:
                  description: Whether or not this video contains sensitive content
                  type: boolean
                originallyPublishedAt:
                  description: Date when the content was originally published
                  format: date-time
                  type: string
                previewfile:
                  description: Video preview file
                  format: binary
                  type: string
                privacy:
                  $ref: "#/components/schemas/VideoPrivacySet"
                scheduleUpdate:
                  $ref: "#/components/schemas/VideoScheduledUpdate"
                support:
                  description: A text tell the audience how to support the video creator
                  example: Please support my work on <insert crowdfunding plateform>! <3
                  type: string
                tags:
                  description: Video tags (maximum 5 tags each between 2 and 30 characters)
                  items:
                    maxLength: 30
                    minLength: 2
                    type: string
                  maxItems: 5
                  minItems: 1
                  type: array
                  uniqueItems: true
                thumbnailfile:
                  description: Video thumbnail file
                  format: binary
                  type: string
                videofile:
                  description: Video file
                  format: binary
                  type: string
                waitTranscoding:
                  description: Whether or not we wait transcoding before publish the video
                  type: boolean
              required:
                - videofile
                - channelId
                - name
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoUploadResponse"
          description: successful operation
        "400":
          description: invalid file field, schedule date or parameter
        "403":
          description: video didn't pass upload filter
        "408":
          description: upload has timed out
        "413":
          description: video file too large, due to quota or max body size limit set by the reverse-proxy
          headers:
            X-File-Maximum-Size:
              description: Maximum file size for the video
              schema:
                format: Nginx size
                type: string
        "415":
          description: video type unsupported
        "422":
          description: video unreadable
      security:
        - OAuth2: []
      summary: Upload a video
      tags:
        - Video
      x-code-samples:
        - lang: Shell
          source: >
            ## DEPENDENCIES: jq

            USERNAME="<your_username>"

            PASSWORD="<your_password>"

            FILE_PATH="<your_file_path>"

            CHANNEL_ID="<your_channel_id>"

            NAME="<video_name>"


            API_PATH="https://peertube2.cpy.re/api/v1"

            ## AUTH

            client_id=$(curl -s "$API_PATH/oauth-clients/local" | jq -r ".client_id")

            client_secret=$(curl -s "$API_PATH/oauth-clients/local" | jq -r ".client_secret")

            token=$(curl -s "$API_PATH/users/token" \
              --data client_id="$client_id" \
              --data client_secret="$client_secret" \
              --data grant_type=password \
              --data response_type=code \
              --data username="$USERNAME" \
              --data password="$PASSWORD" \
              | jq -r ".access_token")
            ## VIDEO UPLOAD

            curl -s "$API_PATH/videos/upload" \
              -H "Authorization: Bearer $token" \
              --max-time 600 \
              --form videofile=@"$FILE_PATH" \
              --form channelId=$CHANNEL_ID \
              --form name="$NAME"
  "/videos/{id}":
    delete:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Delete a video
      tags:
        - Video
    get:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoDetails"
          description: successful operation
      summary: Get a video
      tags:
        - Video
    put:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      requestBody:
        content:
          multipart/form-data:
            encoding:
              previewfile:
                contentType: image/jpeg
              thumbnailfile:
                contentType: image/jpeg
            schema:
              properties:
                category:
                  description: Video category
                  example: 4
                  type: integer
                commentsEnabled:
                  description: Enable or disable comments for this video
                  type: boolean
                description:
                  description: Video description
                  type: string
                language:
                  description: Video language
                  type: string
                licence:
                  description: Video licence
                  example: 2
                  type: integer
                name:
                  description: Video name
                  type: string
                nsfw:
                  description: Whether or not this video contains sensitive content
                  type: boolean
                originallyPublishedAt:
                  description: Date when the content was originally published
                  format: date-time
                  type: string
                previewfile:
                  description: Video preview file
                  format: binary
                  type: string
                privacy:
                  $ref: "#/components/schemas/VideoPrivacySet"
                scheduleUpdate:
                  $ref: "#/components/schemas/VideoScheduledUpdate"
                support:
                  description: A text tell the audience how to support the video creator
                  example: Please support my work on <insert crowdfunding plateform>! <3
                  type: string
                tags:
                  description: Video tags (maximum 5 tags each between 2 and 30 characters)
                  items:
                    maxLength: 30
                    minLength: 2
                    type: string
                  maxItems: 5
                  minItems: 1
                  type: array
                thumbnailfile:
                  description: Video thumbnail file
                  format: binary
                  type: string
                waitTranscoding:
                  description: Whether or not we wait transcoding before publish the video
                  type: string
              type: object
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2: []
      summary: Update a video
      tags:
        - Video
  "/videos/{id}/blacklist":
    delete:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "204":
          description: successful operation
        "404":
          description: block not found
      security:
        - OAuth2:
            - admin
            - moderator
      summary: Unblock a video by its id
      tags:
        - Video Blocks
    post:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "204":
          description: successful operation
      security:
        - OAuth2:
            - admin
            - moderator
      summary: Block a video
      tags:
        - Video Blocks
  "/videos/{id}/captions":
    get:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  data:
                    items:
                      $ref: "#/components/schemas/VideoCaption"
                    type: array
                  total:
                    example: 1
                    type: integer
                type: object
          description: successful operation
      summary: List captions of a video
      tags:
        - Video Captions
  "/videos/{id}/captions/{captionLanguage}":
    delete:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
        - $ref: "#/components/parameters/captionLanguage"
      responses:
        "204":
          description: successful operation
        "404":
          description: video or language or caption for that language not found
      security:
        - OAuth2:
            - user
      summary: Delete a video caption
      tags:
        - Video Captions
    put:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
        - $ref: "#/components/parameters/captionLanguage"
      requestBody:
        content:
          multipart/form-data:
            encoding:
              captionfile:
                contentType: text/vtt, application/x-subrip, text/plain
            schema:
              properties:
                captionfile:
                  description: The file to upload.
                  format: binary
                  type: string
              type: object
      responses:
        "204":
          description: successful operation
        "404":
          description: video or language not found
      security:
        - OAuth2:
            - user
      summary: Add or replace a video caption
      tags:
        - Video Captions
  "/videos/{id}/comment-threads":
    get:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
        - $ref: "#/components/parameters/start"
        - $ref: "#/components/parameters/count"
        - $ref: "#/components/parameters/commentsSort"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentThreadResponse"
          description: successful operation
      summary: List threads of a video
      tags:
        - Video Comments
    post:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                text:
                  description: Text comment
                  type: string
              required:
                - text
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CommentThreadPostResponse"
          description: successful operation
        "404":
          description: video does not exist
      security:
        - OAuth2: []
      summary: Create a thread
      tags:
        - Video Comments
  "/videos/{id}/comment-threads/{threadId}":
    get:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
        - $ref: "#/components/parameters/threadId"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VideoCommentThreadTree"
          description: successful operation
      summary: Get a thread
      tags:
        - Video Comments
  "/videos/{id}/comments/{commentId}":
    delete:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
        - $ref: "#/components/parameters/commentId"
      responses:
        "204":
          description: successful operation
        "403":
          description: cannot remove comment of another user
        "404":
          description: comment or video does not exist
        "409":
          description: comment is already deleted
      security:
        - OAuth2: []
      summary: Delete a comment or a reply
      tags:
        - Video Comments
    post:
      parameters:
        - $ref: "#/components/parameters/idOrUUID"
        - $ref: "#/components/parameters/commentId"
      requestBody:
        content:
          application/json:
            schema:
              properties:
                text:
                  description: Text comment
                  type: string
              required:
                - text
              type: object
[...]
