swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: Diagnostics API Client
  version: '2016-03-01'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/web/resource-manager/Microsoft.Web/2016-03-01/Diagnostics.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: web-Diagnostics
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: API Version
    in: query
    name: api-version
    required: true
    type: string
  resourceGroupNameParameter:
    description: Name of the resource group to which the resource belongs.
    in: path
    maxLength: 90
    minLength: 1
    name: resourceGroupName
    pattern: '^[-\w\._\(\)]+[^\.]$'
    required: true
    type: string
    x-ms-parameter-location: method
  subscriptionIdParameter:
    description: Your Azure subscription ID. This is a GUID-formatted string (e.g. 00000000-0000-0000-0000-000000000000).
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics':
    get:
      description: Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategories
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticCategoryCollection'
      summary: Get Diagnostics Categories
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}':
    get:
      description: Get Diagnostics Category
      operationId: Diagnostics_GetSiteDiagnosticCategory
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticCategory'
      summary: Get Diagnostics Category
      tags:
        - Diagnostics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses':
    get:
      description: Get Site Analyses
      operationId: Diagnostics_ListSiteAnalyses
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysisCollection'
      summary: Get Site Analyses
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}':
    get:
      description: Get Site Analysis
      operationId: Diagnostics_GetSiteAnalysis
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Name
          in: path
          name: analysisName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysis'
      summary: Get Site Analysis
      tags:
        - Diagnostics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute':
    post:
      description: Execute Analysis
      operationId: Diagnostics_ExecuteSiteAnalysis
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Resource Name
          in: path
          name: analysisName
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: 'PT[1-9][0-9]+[SMH]'
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysis'
      summary: Execute Analysis
      tags:
        - Diagnostics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors':
    get:
      description: Get Detectors
      operationId: Diagnostics_ListSiteDetectors
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorCollection'
      summary: Get Detectors
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}':
    get:
      description: Get Detector
      operationId: Diagnostics_GetSiteDetector
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Detector Name
          in: path
          name: detectorName
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorCollection'
      summary: Get Detector
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute':
    post:
      description: Execute Detector
      operationId: Diagnostics_ExecuteSiteDetector
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: 'PT[1-9][0-9]+[SMH]'
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorResponse'
      summary: Execute Detector
      tags:
        - Diagnostics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics':
    get:
      description: Get Diagnostics Categories
      operationId: Diagnostics_ListSiteDiagnosticCategoriesSlot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticCategoryCollection'
      summary: Get Diagnostics Categories
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}':
    get:
      description: Get Diagnostics Category
      operationId: Diagnostics_GetSiteDiagnosticCategorySlot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticCategory'
      summary: Get Diagnostics Category
      tags:
        - Diagnostics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses':
    get:
      description: Get Site Analyses
      operationId: Diagnostics_ListSiteAnalysesSlot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysisCollection'
      summary: Get Site Analyses
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}':
    get:
      description: Get Site Analysis
      operationId: Diagnostics_GetSiteAnalysisSlot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Name
          in: path
          name: analysisName
          required: true
          type: string
        - description: Slot - optional
          in: path
          name: slot
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysis'
      summary: Get Site Analysis
      tags:
        - Diagnostics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/analyses/{analysisName}/execute':
    post:
      description: Execute Analysis
      operationId: Diagnostics_ExecuteSiteAnalysisSlot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Analysis Resource Name
          in: path
          name: analysisName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: 'PT[1-9][0-9]+[SMH]'
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticAnalysis'
      summary: Execute Analysis
      tags:
        - Diagnostics
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors':
    get:
      description: Get Detectors
      operationId: Diagnostics_ListSiteDetectorsSlot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorCollection'
      summary: Get Detectors
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}':
    get:
      description: Get Detector
      operationId: Diagnostics_GetSiteDetectorSlot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Diagnostic Category
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Detector Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorCollection'
      summary: Get Detector
      tags:
        - Diagnostics
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Web/sites/{siteName}/slots/{slot}/diagnostics/{diagnosticCategory}/detectors/{detectorName}/execute':
    post:
      description: Execute Detector
      operationId: Diagnostics_ExecuteSiteDetectorSlot
      parameters:
        - $ref: '#/parameters/resourceGroupNameParameter'
        - description: Site Name
          in: path
          name: siteName
          required: true
          type: string
        - description: Detector Resource Name
          in: path
          name: detectorName
          required: true
          type: string
        - description: Category Name
          in: path
          name: diagnosticCategory
          required: true
          type: string
        - description: Slot Name
          in: path
          name: slot
          required: true
          type: string
        - description: Start Time
          format: date-time
          in: query
          name: startTime
          type: string
        - description: End Time
          format: date-time
          in: query
          name: endTime
          type: string
        - description: Time Grain
          in: query
          name: timeGrain
          pattern: 'PT[1-9][0-9]+[SMH]'
          type: string
        - $ref: '#/parameters/subscriptionIdParameter'
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/DiagnosticDetectorResponse'
      summary: Execute Detector
      tags:
        - Diagnostics
definitions:
  AbnormalTimePeriod:
    description: Class representing Abnormal Time Period identified in diagnosis
    properties:
      endTime:
        description: End time of the downtime
        format: date-time
        type: string
      events:
        description: List of Possible Cause of downtime
        items:
          $ref: '#/definitions/DetectorAbnormalTimePeriod'
        type: array
      solutions:
        description: List of proposed solutions
        items:
          $ref: '#/definitions/Solution'
        type: array
      startTime:
        description: Start time of the downtime
        format: date-time
        type: string
    type: object
  AnalysisData:
    description: Class Representing Detector Evidence used for analysis
    properties:
      data:
        description: Additional Source Data
        items:
          items:
            description: Name value pair.
            properties:
              name:
                description: Pair name.
                type: string
              value:
                description: Pair value.
                type: string
            type: object
          type: array
        type: array
      detectorDefinition:
        $ref: '#/definitions/DetectorDefinition'
        description: Detector Definition
      detectorMetaData:
        $ref: '#/definitions/ResponseMetaData'
        description: Detector Meta Data
      metrics:
        description: Source Metrics
        items:
          $ref: '#/definitions/DiagnosticMetricSet'
        type: array
      source:
        description: Name of the Detector
        type: string
    type: object
  AnalysisDefinition:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Definition of Analysis
    properties:
      properties:
        description: AnalysisDefinition resource specific properties
        properties:
          description:
            description: Description of the Analysis
            readOnly: true
            type: string
        x-ms-client-flatten: true
    type: object
  DataSource:
    description: Class representing data source used by the detectors
    properties:
      dataSourceUri:
        description: Datasource Uri Links
        items:
          description: Name value pair.
          properties:
            name:
              description: Pair name.
              type: string
            value:
              description: Pair value.
              type: string
          type: object
        type: array
      instructions:
        description: Instrunctions if any for the data source
        items:
          type: string
        type: array
    type: object
  DetectorAbnormalTimePeriod:
    description: Class representing Abnormal Time Period detected.
    properties:
      endTime:
        description: End time of the corelated event
        format: date-time
        type: string
      message:
        description: Message describing the event
        type: string
      metaData:
        description: Downtime metadata
        items:
          items:
            description: Name value pair.
            properties:
              name:
                description: Pair name.
                type: string
              value:
                description: Pair value.
                type: string
            type: object
          type: array
        type: array
      priority:
        description: Represents the rank of the Detector
        format: double
        type: number
      solutions:
        description: List of proposed solutions
        items:
          $ref: '#/definitions/Solution'
        type: array
      source:
        description: Represents the name of the Detector
        type: string
      startTime:
        description: Start time of the corelated event
        format: date-time
        type: string
      type:
        description: Represents the type of the Detector
        enum:
          - ServiceIncident
          - AppDeployment
          - AppCrash
          - RuntimeIssueDetected
          - AseDeployment
          - UserIssue
          - PlatformIssue
          - Other
        type: string
        x-ms-enum:
          modelAsString: false
          name: IssueType
    type: object
  DetectorDefinition:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing detector definition
    properties:
      properties:
        description: DetectorDefinition resource specific properties
        properties:
          description:
            description: Description of the detector
            readOnly: true
            type: string
          displayName:
            description: Display name of the detector
            readOnly: true
            type: string
          isEnabled:
            description: Flag representing whether detector is enabled or not.
            readOnly: true
            type: boolean
          rank:
            description: Detector Rank
            format: double
            readOnly: true
            type: number
        x-ms-client-flatten: true
    type: object
  DiagnosticAnalysis:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing a diagnostic analysis done on an application
    properties:
      properties:
        description: DiagnosticAnalysis resource specific properties
        properties:
          abnormalTimePeriods:
            description: List of time periods.
            items:
              $ref: '#/definitions/AbnormalTimePeriod'
            type: array
          endTime:
            description: End time of the period
            format: date-time
            type: string
          nonCorrelatedDetectors:
            description: Data by each detector for detectors that did not corelate
            items:
              $ref: '#/definitions/DetectorDefinition'
            type: array
          payload:
            description: Data by each detector
            items:
              $ref: '#/definitions/AnalysisData'
            type: array
          startTime:
            description: Start time of the period
            format: date-time
            type: string
        x-ms-client-flatten: true
    type: object
  DiagnosticAnalysisCollection:
    description: Collection of Diagnostic Analyses
    properties:
      nextLink:
        description: Link to next page of resources.
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/AnalysisDefinition'
        type: array
    required:
      - value
    type: object
  DiagnosticCategory:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing detector definition
    properties:
      properties:
        description: DiagnosticCategory resource specific properties
        properties:
          description:
            description: Description of the diagnostic category
            readOnly: true
            type: string
        x-ms-client-flatten: true
    type: object
  DiagnosticCategoryCollection:
    description: Collection of Diagnostic Categories
    properties:
      nextLink:
        description: Link to next page of resources.
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/DiagnosticCategory'
        type: array
    required:
      - value
    type: object
  DiagnosticDetectorCollection:
    description: Collection of Diagnostic Detectors
    properties:
      nextLink:
        description: Link to next page of resources.
        type: string
      value:
        description: Collection of resources.
        items:
          $ref: '#/definitions/DetectorDefinition'
        type: array
    required:
      - value
    type: object
  DiagnosticDetectorResponse:
    allOf:
      - description: Azure proxy only resource. This resource is not tracked by Azure Resource Manager.
        properties:
          id:
            description: Resource Id.
            readOnly: true
            type: string
          kind:
            description: Kind of resource.
            type: string
          name:
            description: Resource Name.
            readOnly: true
            type: string
          type:
            description: Resource type.
            readOnly: true
            type: string
        x-ms-azure-resource: true
    description: Class representing Reponse from Diagnostic Detectors
    properties:
      properties:
        description: DiagnosticDetectorResponse resource specific properties
        properties:
          abnormalTimePeriods:
            description: List of Correlated events found by the detector
            items:
              $ref: '#/definitions/DetectorAbnormalTimePeriod'
            type: array
          data:
            description: Additional Data that detector wants to send.
            items:
              items:
                description: Name value pair.
                properties:
                  name:
                    description: Pair name.
                    type: string
                  value:
                    description: Pair value.
                    type: string
                type: object
              type: array
            type: array
          detectorDefinition:
            $ref: '#/definitions/DetectorDefinition'
            description: Detector's definition
          endTime:
            description: End time of the period
            format: date-time
            type: string
          issueDetected:
            description: Flag representing Issue was detected.
            type: boolean
          metrics:
            description: Metrics provided by the detector
            items:
              $ref: '#/definitions/DiagnosticMetricSet'
            type: array
          responseMetaData:
            $ref: '#/definitions/ResponseMetaData'
            description: Meta Data
          startTime:
            description: Start time of the period
            format: date-time
            type: string
        x-ms-client-flatten: true
    type: object
  DiagnosticMetricSample:
    description: Class representing Diagnostic Metric
    properties:
      isAggregated:
        description: Whether the values are aggregates across all workers or not
        type: boolean
      maximum:
        description: Maximum of the metric sampled during the time period
        format: double
        type: number
      minimum:
        description: Minimum of the metric sampled during the time period
        format: double
        type: number
      roleInstance:
        description: |-
          Role Instance. Null if this counter is not per instance 
          This is returned and should be whichever instance name we desire to be returned
          i.e. CPU and Memory return RDWORKERNAME (LargeDed..._IN_0) 
          where RDWORKERNAME is Machine name below and RoleInstance name in parenthesis
        type: string
      timestamp:
        description: Time at which metric is measured
        format: date-time
        type: string
      total:
        description: Total value of the metric. If multiple measurements are made this will have sum of all.
        format: double
        type: number
    type: object
  DiagnosticMetricSet:
    description: Class representing Diagnostic Metric information
    properties:
      endTime:
        description: End time of the period
        format: date-time
        type: string
      name:
        description: Name of the metric
        type: string
      startTime:
        description: Start time of the period
        format: date-time
        type: string
      timeGrain:
        description: 'Presented time grain. Supported grains at the moment are PT1M, PT1H, P1D'
        type: string
      unit:
        description: Metric's unit
        type: string
      values:
        description: 'Collection of metric values for the selected period based on the {Microsoft.Web.Hosting.Administration.DiagnosticMetricSet.TimeGrain}'
        items:
          $ref: '#/definitions/DiagnosticMetricSample'
        type: array
    type: object
  ResponseMetaData:
    properties:
      dataSource:
        $ref: '#/definitions/DataSource'
        description: Source of the Data
    type: object
  Solution:
    description: Class Representing Solution for problems detected.
    properties:
      data:
        description: Solution Data.
        items:
          items:
            description: Name value pair.
            properties:
              name:
                description: Pair name.
                type: string
              value:
                description: Pair value.
                type: string
            type: object
          type: array
        type: array
      description:
        description: Description of the solution
        type: string
      displayName:
        description: Display Name of the solution
        type: string
      id:
        description: Solution Id.
        format: double
        type: number
      metadata:
        description: Solution Metadata.
        items:
          items:
            description: Name value pair.
            properties:
              name:
                description: Pair name.
                type: string
              value:
                description: Pair value.
                type: string
            type: object
          type: array
        type: array
      order:
        description: Order of the solution.
        format: double
        type: number
      type:
        description: Type of Solution
        enum:
          - QuickSolution
          - DeepInvestigation
          - BestPractices
        type: string
        x-ms-enum:
          modelAsString: false
          name: SolutionType
    type: object
