swagger: '2.0'
info:
  version: '2013-09-09'
  x-release: v4
  title: Amazon Relational Database Service
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: rds
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/rds-2013-09-09.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: false
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/rds/'
host: rds.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://rds.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon RDS multi-region endpoint
  - url: 'https://rds.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The Amazon RDS multi-region endpoint
  - url: 'http://rds.amazonaws.com'
    variables: {}
    description: The general Amazon RDS multi-region endpoint
  - url: 'https://rds.amazonaws.com'
    variables: {}
    description: The general Amazon RDS multi-region endpoint
  - url: 'http://rds.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon RDS endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://rds.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The Amazon RDS endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - text/xml
produces:
  - text/xml
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#Action=AddSourceIdentifierToSubscription':
    get:
      x-aws-operation-name: AddSourceIdentifierToSubscription
      operationId: GET AddSourceIdentifierToSubscription
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddSourceIdentifierToSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      parameters:
        - name: SubscriptionName
          in: query
          required: true
          description: ''
          type: string
        - name: SourceIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddSourceIdentifierToSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AddSourceIdentifierToSubscription
      operationId: POST AddSourceIdentifierToSubscription
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddSourceIdentifierToSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      parameters:
        - name: SubscriptionName
          in: formData
          required: true
          description: ''
          type: string
        - name: SourceIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddSourceIdentifierToSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=AddTagsToResource':
    get:
      x-aws-operation-name: AddTagsToResource
      operationId: GET AddTagsToResource
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      parameters:
        - name: ResourceName
          in: query
          required: true
          description: ''
          type: string
        - name: Tags
          in: query
          required: true
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddTagsToResource
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AddTagsToResource
      operationId: POST AddTagsToResource
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      parameters:
        - name: ResourceName
          in: formData
          required: true
          description: ''
          type: string
        - name: Tags
          in: formData
          required: true
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AddTagsToResource
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=AuthorizeDBSecurityGroupIngress':
    get:
      x-aws-operation-name: AuthorizeDBSecurityGroupIngress
      operationId: GET AuthorizeDBSecurityGroupIngress
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeDBSecurityGroupIngressResult'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '481':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '482':
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        '483':
          description: AuthorizationQuotaExceededFault
          schema:
            $ref: '#/definitions/AuthorizationQuotaExceededFault'
      parameters:
        - name: DBSecurityGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: CIDRIP
          in: query
          required: false
          description: ''
          type: string
        - name: EC2SecurityGroupName
          in: query
          required: false
          description: ''
          type: string
        - name: EC2SecurityGroupId
          in: query
          required: false
          description: ''
          type: string
        - name: EC2SecurityGroupOwnerId
          in: query
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AuthorizeDBSecurityGroupIngress
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: AuthorizeDBSecurityGroupIngress
      operationId: POST AuthorizeDBSecurityGroupIngress
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AuthorizeDBSecurityGroupIngressResult'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '481':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '482':
          description: AuthorizationAlreadyExistsFault
          schema:
            $ref: '#/definitions/AuthorizationAlreadyExistsFault'
        '483':
          description: AuthorizationQuotaExceededFault
          schema:
            $ref: '#/definitions/AuthorizationQuotaExceededFault'
      parameters:
        - name: DBSecurityGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: CIDRIP
          in: formData
          required: false
          description: ''
          type: string
        - name: EC2SecurityGroupName
          in: formData
          required: false
          description: ''
          type: string
        - name: EC2SecurityGroupId
          in: formData
          required: false
          description: ''
          type: string
        - name: EC2SecurityGroupOwnerId
          in: formData
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - AuthorizeDBSecurityGroupIngress
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=CopyDBSnapshot':
    get:
      x-aws-operation-name: CopyDBSnapshot
      operationId: GET CopyDBSnapshot
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      parameters:
        - name: SourceDBSnapshotIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: TargetDBSnapshotIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: Tags
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CopyDBSnapshot
      operationId: POST CopyDBSnapshot
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CopyDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
        '482':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      parameters:
        - name: SourceDBSnapshotIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: TargetDBSnapshotIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: Tags
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CopyDBSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=CreateDBInstance':
    get:
      x-aws-operation-name: CreateDBInstance
      operationId: GET CreateDBInstance
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '490':
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        '491':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
      parameters:
        - name: DBName
          in: query
          required: false
          description: ''
          type: string
        - name: DBInstanceIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: AllocatedStorage
          in: query
          required: true
          description: ''
          type: integer
        - name: DBInstanceClass
          in: query
          required: true
          description: ''
          type: string
        - name: Engine
          in: query
          required: true
          description: ''
          type: string
        - name: MasterUsername
          in: query
          required: true
          description: ''
          type: string
        - name: MasterUserPassword
          in: query
          required: true
          description: ''
          type: string
        - name: DBSecurityGroups
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: VpcSecurityGroupIds
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: AvailabilityZone
          in: query
          required: false
          description: ''
          type: string
        - name: DBSubnetGroupName
          in: query
          required: false
          description: ''
          type: string
        - name: PreferredMaintenanceWindow
          in: query
          required: false
          description: ''
          type: string
        - name: DBParameterGroupName
          in: query
          required: false
          description: ''
          type: string
        - name: BackupRetentionPeriod
          in: query
          required: false
          description: ''
          type: integer
        - name: PreferredBackupWindow
          in: query
          required: false
          description: ''
          type: string
        - name: Port
          in: query
          required: false
          description: ''
          type: integer
        - name: MultiAZ
          in: query
          required: false
          description: ''
          type: boolean
        - name: EngineVersion
          in: query
          required: false
          description: ''
          type: string
        - name: AutoMinorVersionUpgrade
          in: query
          required: false
          description: ''
          type: boolean
        - name: LicenseModel
          in: query
          required: false
          description: ''
          type: string
        - name: Iops
          in: query
          required: false
          description: ''
          type: integer
        - name: OptionGroupName
          in: query
          required: false
          description: ''
          type: string
        - name: CharacterSetName
          in: query
          required: false
          description: ''
          type: string
        - name: PubliclyAccessible
          in: query
          required: false
          description: ''
          type: boolean
        - name: Tags
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBInstance
      operationId: POST CreateDBInstance
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '487':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '488':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '489':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '490':
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        '491':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
      parameters:
        - name: DBName
          in: formData
          required: false
          description: ''
          type: string
        - name: DBInstanceIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: AllocatedStorage
          in: formData
          required: true
          description: ''
          type: integer
        - name: DBInstanceClass
          in: formData
          required: true
          description: ''
          type: string
        - name: Engine
          in: formData
          required: true
          description: ''
          type: string
        - name: MasterUsername
          in: formData
          required: true
          description: ''
          type: string
        - name: MasterUserPassword
          in: formData
          required: true
          description: ''
          type: string
        - name: DBSecurityGroups
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: VpcSecurityGroupIds
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: AvailabilityZone
          in: formData
          required: false
          description: ''
          type: string
        - name: DBSubnetGroupName
          in: formData
          required: false
          description: ''
          type: string
        - name: PreferredMaintenanceWindow
          in: formData
          required: false
          description: ''
          type: string
        - name: DBParameterGroupName
          in: formData
          required: false
          description: ''
          type: string
        - name: BackupRetentionPeriod
          in: formData
          required: false
          description: ''
          type: integer
        - name: PreferredBackupWindow
          in: formData
          required: false
          description: ''
          type: string
        - name: Port
          in: formData
          required: false
          description: ''
          type: integer
        - name: MultiAZ
          in: formData
          required: false
          description: ''
          type: boolean
        - name: EngineVersion
          in: formData
          required: false
          description: ''
          type: string
        - name: AutoMinorVersionUpgrade
          in: formData
          required: false
          description: ''
          type: boolean
        - name: LicenseModel
          in: formData
          required: false
          description: ''
          type: string
        - name: Iops
          in: formData
          required: false
          description: ''
          type: integer
        - name: OptionGroupName
          in: formData
          required: false
          description: ''
          type: string
        - name: CharacterSetName
          in: formData
          required: false
          description: ''
          type: string
        - name: PubliclyAccessible
          in: formData
          required: false
          description: ''
          type: boolean
        - name: Tags
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=CreateDBInstanceReadReplica':
    get:
      x-aws-operation-name: CreateDBInstanceReadReplica
      operationId: GET CreateDBInstanceReadReplica
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceReadReplicaResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '487':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '488':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '489':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '490':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '491':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '492':
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        '493':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
        '494':
          description: DBSubnetGroupNotAllowedFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotAllowedFault'
        '495':
          description: InvalidDBSubnetGroupFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupFault'
      parameters:
        - name: DBInstanceIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: SourceDBInstanceIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: DBInstanceClass
          in: query
          required: false
          description: ''
          type: string
        - name: AvailabilityZone
          in: query
          required: false
          description: ''
          type: string
        - name: Port
          in: query
          required: false
          description: ''
          type: integer
        - name: AutoMinorVersionUpgrade
          in: query
          required: false
          description: ''
          type: boolean
        - name: Iops
          in: query
          required: false
          description: ''
          type: integer
        - name: OptionGroupName
          in: query
          required: false
          description: ''
          type: string
        - name: PubliclyAccessible
          in: query
          required: false
          description: ''
          type: boolean
        - name: Tags
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: DBSubnetGroupName
          in: query
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBInstanceReadReplica
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBInstanceReadReplica
      operationId: POST CreateDBInstanceReadReplica
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBInstanceReadReplicaResult'
        '480':
          description: DBInstanceAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBInstanceAlreadyExistsFault'
        '481':
          description: InsufficientDBInstanceCapacityFault
          schema:
            $ref: '#/definitions/InsufficientDBInstanceCapacityFault'
        '482':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
        '483':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
        '484':
          description: InstanceQuotaExceededFault
          schema:
            $ref: '#/definitions/InstanceQuotaExceededFault'
        '485':
          description: StorageQuotaExceededFault
          schema:
            $ref: '#/definitions/StorageQuotaExceededFault'
        '486':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '487':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '488':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
        '489':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '490':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
        '491':
          description: InvalidVPCNetworkStateFault
          schema:
            $ref: '#/definitions/InvalidVPCNetworkStateFault'
        '492':
          description: ProvisionedIopsNotAvailableInAZFault
          schema:
            $ref: '#/definitions/ProvisionedIopsNotAvailableInAZFault'
        '493':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
        '494':
          description: DBSubnetGroupNotAllowedFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotAllowedFault'
        '495':
          description: InvalidDBSubnetGroupFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupFault'
      parameters:
        - name: DBInstanceIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: SourceDBInstanceIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: DBInstanceClass
          in: formData
          required: false
          description: ''
          type: string
        - name: AvailabilityZone
          in: formData
          required: false
          description: ''
          type: string
        - name: Port
          in: formData
          required: false
          description: ''
          type: integer
        - name: AutoMinorVersionUpgrade
          in: formData
          required: false
          description: ''
          type: boolean
        - name: Iops
          in: formData
          required: false
          description: ''
          type: integer
        - name: OptionGroupName
          in: formData
          required: false
          description: ''
          type: string
        - name: PubliclyAccessible
          in: formData
          required: false
          description: ''
          type: boolean
        - name: Tags
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: DBSubnetGroupName
          in: formData
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBInstanceReadReplica
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=CreateDBParameterGroup':
    get:
      x-aws-operation-name: CreateDBParameterGroup
      operationId: GET CreateDBParameterGroup
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: DBParameterGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: DBParameterGroupFamily
          in: query
          required: true
          description: ''
          type: string
        - name: Description
          in: query
          required: true
          description: ''
          type: string
        - name: Tags
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBParameterGroup
      operationId: POST CreateDBParameterGroup
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBParameterGroupResult'
        '480':
          description: DBParameterGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBParameterGroupQuotaExceededFault'
        '481':
          description: DBParameterGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBParameterGroupAlreadyExistsFault'
      parameters:
        - name: DBParameterGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: DBParameterGroupFamily
          in: formData
          required: true
          description: ''
          type: string
        - name: Description
          in: formData
          required: true
          description: ''
          type: string
        - name: Tags
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=CreateDBSecurityGroup':
    get:
      x-aws-operation-name: CreateDBSecurityGroup
      operationId: GET CreateDBSecurityGroup
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSecurityGroupResult'
        '480':
          description: DBSecurityGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSecurityGroupAlreadyExistsFault'
        '481':
          description: DBSecurityGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSecurityGroupQuotaExceededFault'
        '482':
          description: DBSecurityGroupNotSupportedFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotSupportedFault'
      parameters:
        - name: DBSecurityGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: DBSecurityGroupDescription
          in: query
          required: true
          description: ''
          type: string
        - name: Tags
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBSecurityGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBSecurityGroup
      operationId: POST CreateDBSecurityGroup
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSecurityGroupResult'
        '480':
          description: DBSecurityGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSecurityGroupAlreadyExistsFault'
        '481':
          description: DBSecurityGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSecurityGroupQuotaExceededFault'
        '482':
          description: DBSecurityGroupNotSupportedFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotSupportedFault'
      parameters:
        - name: DBSecurityGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: DBSecurityGroupDescription
          in: formData
          required: true
          description: ''
          type: string
        - name: Tags
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBSecurityGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=CreateDBSnapshot':
    get:
      x-aws-operation-name: CreateDBSnapshot
      operationId: GET CreateDBSnapshot
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      parameters:
        - name: DBSnapshotIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: DBInstanceIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: Tags
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBSnapshot
      operationId: POST CreateDBSnapshot
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSnapshotResult'
        '480':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      parameters:
        - name: DBSnapshotIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: DBInstanceIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: Tags
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=CreateDBSubnetGroup':
    get:
      x-aws-operation-name: CreateDBSubnetGroup
      operationId: GET CreateDBSubnetGroup
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        '481':
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        '482':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: DBSubnetGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: DBSubnetGroupDescription
          in: query
          required: true
          description: ''
          type: string
        - name: SubnetIds
          in: query
          required: true
          description: ''
          type: array
          items:
            type: string
        - name: Tags
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBSubnetGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateDBSubnetGroup
      operationId: POST CreateDBSubnetGroup
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateDBSubnetGroupResult'
        '480':
          description: DBSubnetGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSubnetGroupAlreadyExistsFault'
        '481':
          description: DBSubnetGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetGroupQuotaExceededFault'
        '482':
          description: DBSubnetQuotaExceededFault
          schema:
            $ref: '#/definitions/DBSubnetQuotaExceededFault'
        '483':
          description: DBSubnetGroupDoesNotCoverEnoughAZs
          schema:
            $ref: '#/definitions/DBSubnetGroupDoesNotCoverEnoughAZs'
        '484':
          description: InvalidSubnet
          schema:
            $ref: '#/definitions/InvalidSubnet'
      parameters:
        - name: DBSubnetGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: DBSubnetGroupDescription
          in: formData
          required: true
          description: ''
          type: string
        - name: SubnetIds
          in: formData
          required: true
          description: ''
          type: array
          items:
            type: string
        - name: Tags
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateDBSubnetGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=CreateEventSubscription':
    get:
      x-aws-operation-name: CreateEventSubscription
      operationId: GET CreateEventSubscription
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEventSubscriptionResult'
        '480':
          description: EventSubscriptionQuotaExceededFault
          schema:
            $ref: '#/definitions/EventSubscriptionQuotaExceededFault'
        '481':
          description: SubscriptionAlreadyExistFault
          schema:
            $ref: '#/definitions/SubscriptionAlreadyExistFault'
        '482':
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        '483':
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        '484':
          description: SNSTopicArnNotFoundFault
          schema:
            $ref: '#/definitions/SNSTopicArnNotFoundFault'
        '485':
          description: SubscriptionCategoryNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionCategoryNotFoundFault'
        '486':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      parameters:
        - name: SubscriptionName
          in: query
          required: true
          description: ''
          type: string
        - name: SnsTopicArn
          in: query
          required: true
          description: ''
          type: string
        - name: SourceType
          in: query
          required: false
          description: ''
          type: string
        - name: EventCategories
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: SourceIds
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Enabled
          in: query
          required: false
          description: ''
          type: boolean
        - name: Tags
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateEventSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateEventSubscription
      operationId: POST CreateEventSubscription
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEventSubscriptionResult'
        '480':
          description: EventSubscriptionQuotaExceededFault
          schema:
            $ref: '#/definitions/EventSubscriptionQuotaExceededFault'
        '481':
          description: SubscriptionAlreadyExistFault
          schema:
            $ref: '#/definitions/SubscriptionAlreadyExistFault'
        '482':
          description: SNSInvalidTopicFault
          schema:
            $ref: '#/definitions/SNSInvalidTopicFault'
        '483':
          description: SNSNoAuthorizationFault
          schema:
            $ref: '#/definitions/SNSNoAuthorizationFault'
        '484':
          description: SNSTopicArnNotFoundFault
          schema:
            $ref: '#/definitions/SNSTopicArnNotFoundFault'
        '485':
          description: SubscriptionCategoryNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionCategoryNotFoundFault'
        '486':
          description: SourceNotFoundFault
          schema:
            $ref: '#/definitions/SourceNotFoundFault'
      parameters:
        - name: SubscriptionName
          in: formData
          required: true
          description: ''
          type: string
        - name: SnsTopicArn
          in: formData
          required: true
          description: ''
          type: string
        - name: SourceType
          in: formData
          required: false
          description: ''
          type: string
        - name: EventCategories
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: SourceIds
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Enabled
          in: formData
          required: false
          description: ''
          type: boolean
        - name: Tags
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateEventSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=CreateOptionGroup':
    get:
      x-aws-operation-name: CreateOptionGroup
      operationId: GET CreateOptionGroup
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateOptionGroupResult'
        '480':
          description: OptionGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/OptionGroupAlreadyExistsFault'
        '481':
          description: OptionGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/OptionGroupQuotaExceededFault'
      parameters:
        - name: OptionGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: EngineName
          in: query
          required: true
          description: ''
          type: string
        - name: MajorEngineVersion
          in: query
          required: true
          description: ''
          type: string
        - name: OptionGroupDescription
          in: query
          required: true
          description: ''
          type: string
        - name: Tags
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateOptionGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: CreateOptionGroup
      operationId: POST CreateOptionGroup
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateOptionGroupResult'
        '480':
          description: OptionGroupAlreadyExistsFault
          schema:
            $ref: '#/definitions/OptionGroupAlreadyExistsFault'
        '481':
          description: OptionGroupQuotaExceededFault
          schema:
            $ref: '#/definitions/OptionGroupQuotaExceededFault'
      parameters:
        - name: OptionGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: EngineName
          in: formData
          required: true
          description: ''
          type: string
        - name: MajorEngineVersion
          in: formData
          required: true
          description: ''
          type: string
        - name: OptionGroupDescription
          in: formData
          required: true
          description: ''
          type: string
        - name: Tags
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - CreateOptionGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DeleteDBInstance':
    get:
      x-aws-operation-name: DeleteDBInstance
      operationId: GET DeleteDBInstance
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      parameters:
        - name: DBInstanceIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: SkipFinalSnapshot
          in: query
          required: false
          description: ''
          type: boolean
        - name: FinalDBSnapshotIdentifier
          in: query
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBInstance
      operationId: POST DeleteDBInstance
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBInstanceResult'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
        '481':
          description: InvalidDBInstanceStateFault
          schema:
            $ref: '#/definitions/InvalidDBInstanceStateFault'
        '482':
          description: DBSnapshotAlreadyExistsFault
          schema:
            $ref: '#/definitions/DBSnapshotAlreadyExistsFault'
        '483':
          description: SnapshotQuotaExceededFault
          schema:
            $ref: '#/definitions/SnapshotQuotaExceededFault'
      parameters:
        - name: DBInstanceIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: SkipFinalSnapshot
          in: formData
          required: false
          description: ''
          type: boolean
        - name: FinalDBSnapshotIdentifier
          in: formData
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBInstance
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DeleteDBParameterGroup':
    get:
      x-aws-operation-name: DeleteDBParameterGroup
      operationId: GET DeleteDBParameterGroup
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: DBParameterGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBParameterGroup
      operationId: POST DeleteDBParameterGroup
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBParameterGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBParameterGroupStateFault'
        '481':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: DBParameterGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBParameterGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DeleteDBSecurityGroup':
    get:
      x-aws-operation-name: DeleteDBSecurityGroup
      operationId: GET DeleteDBSecurityGroup
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '481':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
      parameters:
        - name: DBSecurityGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBSecurityGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBSecurityGroup
      operationId: POST DeleteDBSecurityGroup
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSecurityGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSecurityGroupStateFault'
        '481':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
      parameters:
        - name: DBSecurityGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBSecurityGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DeleteDBSnapshot':
    get:
      x-aws-operation-name: DeleteDBSnapshot
      operationId: GET DeleteDBSnapshot
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBSnapshotResult'
        '480':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      parameters:
        - name: DBSnapshotIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBSnapshot
      operationId: POST DeleteDBSnapshot
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDBSnapshotResult'
        '480':
          description: InvalidDBSnapshotStateFault
          schema:
            $ref: '#/definitions/InvalidDBSnapshotStateFault'
        '481':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      parameters:
        - name: DBSnapshotIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBSnapshot
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DeleteDBSubnetGroup':
    get:
      x-aws-operation-name: DeleteDBSubnetGroup
      operationId: GET DeleteDBSubnetGroup
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '481':
          description: InvalidDBSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetStateFault'
        '482':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      parameters:
        - name: DBSubnetGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBSubnetGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteDBSubnetGroup
      operationId: POST DeleteDBSubnetGroup
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: InvalidDBSubnetGroupStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetGroupStateFault'
        '481':
          description: InvalidDBSubnetStateFault
          schema:
            $ref: '#/definitions/InvalidDBSubnetStateFault'
        '482':
          description: DBSubnetGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSubnetGroupNotFoundFault'
      parameters:
        - name: DBSubnetGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteDBSubnetGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DeleteEventSubscription':
    get:
      x-aws-operation-name: DeleteEventSubscription
      operationId: GET DeleteEventSubscription
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: InvalidEventSubscriptionStateFault
          schema:
            $ref: '#/definitions/InvalidEventSubscriptionStateFault'
      parameters:
        - name: SubscriptionName
          in: query
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteEventSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteEventSubscription
      operationId: POST DeleteEventSubscription
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteEventSubscriptionResult'
        '480':
          description: SubscriptionNotFoundFault
          schema:
            $ref: '#/definitions/SubscriptionNotFoundFault'
        '481':
          description: InvalidEventSubscriptionStateFault
          schema:
            $ref: '#/definitions/InvalidEventSubscriptionStateFault'
      parameters:
        - name: SubscriptionName
          in: formData
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteEventSubscription
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DeleteOptionGroup':
    get:
      x-aws-operation-name: DeleteOptionGroup
      operationId: GET DeleteOptionGroup
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
        '481':
          description: InvalidOptionGroupStateFault
          schema:
            $ref: '#/definitions/InvalidOptionGroupStateFault'
      parameters:
        - name: OptionGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteOptionGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DeleteOptionGroup
      operationId: POST DeleteOptionGroup
      description: ''
      responses:
        '200':
          description: Success
        '480':
          description: OptionGroupNotFoundFault
          schema:
            $ref: '#/definitions/OptionGroupNotFoundFault'
        '481':
          description: InvalidOptionGroupStateFault
          schema:
            $ref: '#/definitions/InvalidOptionGroupStateFault'
      parameters:
        - name: OptionGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DeleteOptionGroup
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DescribeDBEngineVersions':
    get:
      x-aws-operation-name: DescribeDBEngineVersions
      operationId: GET DescribeDBEngineVersions
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBEngineVersionMessage'
      parameters:
        - name: Engine
          in: query
          required: false
          description: ''
          type: string
        - name: EngineVersion
          in: query
          required: false
          description: ''
          type: string
        - name: DBParameterGroupFamily
          in: query
          required: false
          description: ''
          type: string
        - name: Filters
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: query
          required: false
          description: ''
          type: integer
        - name: Marker
          in: query
          required: false
          description: ''
          type: string
        - name: DefaultOnly
          in: query
          required: false
          description: ''
          type: boolean
        - name: ListSupportedCharacterSets
          in: query
          required: false
          description: ''
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBEngineVersions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDBEngineVersions
      operationId: POST DescribeDBEngineVersions
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBEngineVersionMessage'
      parameters:
        - name: Engine
          in: formData
          required: false
          description: ''
          type: string
        - name: EngineVersion
          in: formData
          required: false
          description: ''
          type: string
        - name: DBParameterGroupFamily
          in: formData
          required: false
          description: ''
          type: string
        - name: Filters
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: formData
          required: false
          description: ''
          type: integer
        - name: Marker
          in: formData
          required: false
          description: ''
          type: string
        - name: DefaultOnly
          in: formData
          required: false
          description: ''
          type: boolean
        - name: ListSupportedCharacterSets
          in: formData
          required: false
          description: ''
          type: boolean
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBEngineVersions
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DescribeDBInstances':
    get:
      x-aws-operation-name: DescribeDBInstances
      operationId: GET DescribeDBInstances
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBInstanceMessage'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      parameters:
        - name: DBInstanceIdentifier
          in: query
          required: false
          description: ''
          type: string
        - name: Filters
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: query
          required: false
          description: ''
          type: integer
        - name: Marker
          in: query
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBInstances
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDBInstances
      operationId: POST DescribeDBInstances
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBInstanceMessage'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      parameters:
        - name: DBInstanceIdentifier
          in: formData
          required: false
          description: ''
          type: string
        - name: Filters
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: formData
          required: false
          description: ''
          type: integer
        - name: Marker
          in: formData
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBInstances
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DescribeDBLogFiles':
    get:
      x-aws-operation-name: DescribeDBLogFiles
      operationId: GET DescribeDBLogFiles
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDBLogFilesResponse'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      parameters:
        - name: DBInstanceIdentifier
          in: query
          required: true
          description: ''
          type: string
        - name: FilenameContains
          in: query
          required: false
          description: ''
          type: string
        - name: FileLastWritten
          in: query
          required: false
          description: ''
          type: integer
        - name: FileSize
          in: query
          required: false
          description: ''
          type: integer
        - name: Filters
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: query
          required: false
          description: ''
          type: integer
        - name: Marker
          in: query
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBLogFiles
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDBLogFiles
      operationId: POST DescribeDBLogFiles
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDBLogFilesResponse'
        '480':
          description: DBInstanceNotFoundFault
          schema:
            $ref: '#/definitions/DBInstanceNotFoundFault'
      parameters:
        - name: DBInstanceIdentifier
          in: formData
          required: true
          description: ''
          type: string
        - name: FilenameContains
          in: formData
          required: false
          description: ''
          type: string
        - name: FileLastWritten
          in: formData
          required: false
          description: ''
          type: integer
        - name: FileSize
          in: formData
          required: false
          description: ''
          type: integer
        - name: Filters
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: formData
          required: false
          description: ''
          type: integer
        - name: Marker
          in: formData
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBLogFiles
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DescribeDBParameterGroups':
    get:
      x-aws-operation-name: DescribeDBParameterGroups
      operationId: GET DescribeDBParameterGroups
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupsMessage'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: DBParameterGroupName
          in: query
          required: false
          description: ''
          type: string
        - name: Filters
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: query
          required: false
          description: ''
          type: integer
        - name: Marker
          in: query
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBParameterGroups
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDBParameterGroups
      operationId: POST DescribeDBParameterGroups
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupsMessage'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: DBParameterGroupName
          in: formData
          required: false
          description: ''
          type: string
        - name: Filters
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: formData
          required: false
          description: ''
          type: integer
        - name: Marker
          in: formData
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBParameterGroups
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DescribeDBParameters':
    get:
      x-aws-operation-name: DescribeDBParameters
      operationId: GET DescribeDBParameters
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupDetails'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: DBParameterGroupName
          in: query
          required: true
          description: ''
          type: string
        - name: Source
          in: query
          required: false
          description: ''
          type: string
        - name: Filters
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: query
          required: false
          description: ''
          type: integer
        - name: Marker
          in: query
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBParameters
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDBParameters
      operationId: POST DescribeDBParameters
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBParameterGroupDetails'
        '480':
          description: DBParameterGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBParameterGroupNotFoundFault'
      parameters:
        - name: DBParameterGroupName
          in: formData
          required: true
          description: ''
          type: string
        - name: Source
          in: formData
          required: false
          description: ''
          type: string
        - name: Filters
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: formData
          required: false
          description: ''
          type: integer
        - name: Marker
          in: formData
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBParameters
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DescribeDBSecurityGroups':
    get:
      x-aws-operation-name: DescribeDBSecurityGroups
      operationId: GET DescribeDBSecurityGroups
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSecurityGroupMessage'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
      parameters:
        - name: DBSecurityGroupName
          in: query
          required: false
          description: ''
          type: string
        - name: Filters
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: query
          required: false
          description: ''
          type: integer
        - name: Marker
          in: query
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBSecurityGroups
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDBSecurityGroups
      operationId: POST DescribeDBSecurityGroups
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSecurityGroupMessage'
        '480':
          description: DBSecurityGroupNotFoundFault
          schema:
            $ref: '#/definitions/DBSecurityGroupNotFoundFault'
      parameters:
        - name: DBSecurityGroupName
          in: formData
          required: false
          description: ''
          type: string
        - name: Filters
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: formData
          required: false
          description: ''
          type: integer
        - name: Marker
          in: formData
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBSecurityGroups
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
  '/#Action=DescribeDBSnapshots':
    get:
      x-aws-operation-name: DescribeDBSnapshots
      operationId: GET DescribeDBSnapshots
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSnapshotMessage'
        '480':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      parameters:
        - name: DBInstanceIdentifier
          in: query
          required: false
          description: ''
          type: string
        - name: DBSnapshotIdentifier
          in: query
          required: false
          description: ''
          type: string
        - name: SnapshotType
          in: query
          required: false
          description: ''
          type: string
        - name: Filters
          in: query
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: query
          required: false
          description: ''
          type: integer
        - name: Marker
          in: query
          required: false
          description: ''
          type: string
        - name: Action
          in: query
          required: true
          type: string
          enum:
            - DescribeDBSnapshots
        - name: Version
          in: query
          required: true
          type: string
          enum:
            - '2013-09-09'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      x-aws-operation-name: DescribeDBSnapshots
      operationId: POST DescribeDBSnapshots
      description: ''
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DBSnapshotMessage'
        '480':
          description: DBSnapshotNotFoundFault
          schema:
            $ref: '#/definitions/DBSnapshotNotFoundFault'
      parameters:
        - name: DBInstanceIdentifier
          in: formData
          required: false
          description: ''
          type: string
        - name: DBSnapshotIdentifier
          in: formData
          required: false
          description: ''
          type: string
        - name: SnapshotType
          in: formData
          required: false
          description: ''
          type: string
        - name: Filters
          in: formData
          required: false
          description: ''
          type: array
          items:
            type: string
        - name: MaxRecords
          in: formData
          required: false
[...]
