swagger: '2.0'
schemes:
  - https
  - http
host: securityhub.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<p>Security Hub provides you with a comprehensive view of the security state of your AWS environment and resources. It also provides you with the compliance status of your environment based on CIS AWS Foundations compliance checks. Security Hub collects security data from AWS accounts, services, and integrated third-party products and helps you analyze security trends in your environment to identify the highest priority security issues. For more information about Security Hub, see the <i> <a href="https://docs.aws.amazon.com/securityhub/latest/userguide/what-is-securityhub.html">AWS Security Hub User Guide</a> </i>.</p> <p>When you use operations in the Security Hub API, the requests are executed only in the AWS Region that is currently active or in the specific AWS Region that you specify in your request. Any configuration or settings change that results from the operation is applied only to that Region. To make the same change in other Regions, execute the same command for each Region to apply the change to. For example, if your Region is set to <code>us-west-2</code>, when you use <code>CreateMembers</code> to add a member account to Security Hub, the association of the member account with the master account is created only in the us-west-2 Region. Security Hub must be enabled for the member account in the same Region that the invite was sent from.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS SecurityHub
  version: '2018-10-26'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/securityhub-2018-10-26.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: securityhub
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/securityhub/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /accounts:
    delete:
      description: '<p>Disables Security Hub in your account only in the current Region. To disable Security Hub in all Regions, you must submit one request per Region where you have enabled Security Hub. When you disable Security Hub for a master account, it doesn''t disable Security Hub for any associated member accounts.</p> <p>When you disable Security Hub, your existing findings and insights and any Security Hub configuration settings are deleted after 90 days and can''t be recovered. Any standards that were enabled are disabled, and your master and member account associations are removed. If you want to save your existing findings, you must export them before you disable Security Hub.</p>'
      operationId: DisableSecurityHub
      parameters: []
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableSecurityHubResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    get:
      description: 'Returns details about the Hub resource in your account, including the <code>HubArn</code> and the time when you enabled Security Hub.'
      operationId: DescribeHub
      parameters:
        - description: The ARN of the Hub resource to retrieve.
          in: query
          name: HubArn
          pattern: .*\S.*
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeHubResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Enables Security Hub for your account in the current Region or the Region you specify in the request. When you enable Security Hub, you grant to Security Hub the permissions necessary to gather findings from AWS Config, Amazon GuardDuty, Amazon Inspector, and Amazon Macie. To learn more, see <a href="https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-settingup.html">Setting Up AWS Security Hub</a>.'
      operationId: EnableSecurityHub
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Tags:
                additionalProperties:
                  $ref: '#/definitions/TagValue'
                description: The tags to add to the Hub resource when you enable Security Hub.
                maxProperties: 50
                minProperties: 1
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableSecurityHubResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
  /actionTargets:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a custom action target in Security Hub. You can use custom actions on findings and insights in Security Hub to trigger target actions in Amazon CloudWatch Events.
      operationId: CreateActionTarget
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Description:
                description: The description for the custom action target.
                pattern: .*\S.*
                type: string
              Id:
                description: The ID for the custom action target.
                pattern: .*\S.*
                type: string
              Name:
                description: The name of the custom action target.
                pattern: .*\S.*
                type: string
            required:
              - Name
              - Description
              - Id
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateActionTargetResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
  /actionTargets/get:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns a list of the custom action targets in Security Hub in your account.
      operationId: DescribeActionTargets
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              ActionTargetArns:
                description: A list of custom action target ARNs for the custom action targets to retrieve.
                items:
                  $ref: '#/definitions/NonEmptyString'
                type: array
              MaxResults:
                description: The maximum number of results to return.
                maximum: 100
                minimum: 1
                type: integer
              NextToken:
                description: The token that is required for pagination.
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeActionTargetsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/actionTargets/{ActionTargetArn}':
    delete:
      description: Deletes a custom action target from Security Hub. Deleting a custom action target doesn't affect any findings or insights that were already sent to Amazon CloudWatch Events using the custom action.
      operationId: DeleteActionTarget
      parameters:
        - description: The ARN of the custom action target to delete.
          in: path
          name: ActionTargetArn
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteActionTargetResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates the name and description of a custom action target in Security Hub.
      operationId: UpdateActionTarget
      parameters:
        - description: The ARN of the custom action target to update.
          in: path
          name: ActionTargetArn
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Description:
                description: The updated description for the custom action target.
                pattern: .*\S.*
                type: string
              Name:
                description: The updated name of the custom action target.
                pattern: .*\S.*
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateActionTargetResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /findings:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates the <code>Note</code> and <code>RecordState</code> of the Security Hub-aggregated findings that the filter attributes specify. Any member account that can view the finding also sees the update to the finding.
      operationId: UpdateFindings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Filters:
                description: 'A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight. '
                properties:
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  ComplianceStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: 'Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, CIS AWS Foundations). Contains compliance-related finding details.'
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify. Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.'
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'The level of importance assigned to the resources associated with the finding. A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.'
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  Keyword:
                    $ref: '#/definitions/KeywordFilterList'
                    description: A keyword for a finding.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  NetworkDestinationDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The destination domain of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
                  NetworkDestinationPort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The destination port of network-related information about a finding.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NoteText:
                    $ref: '#/definitions/StringFilterList'
                    description: The text of a note.
                  NoteUpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The timestamp of when the note was updated.
                  NoteUpdatedBy:
                    $ref: '#/definitions/StringFilterList'
                    description: The principal that created a note.
                  ProcessLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was launched.
                  ProcessName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the process.
                  ProcessParentPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The parent process ID.
                  ProcessPath:
                    $ref: '#/definitions/StringFilterList'
                    description: The path to the process executable.
                  ProcessPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The process ID.
                  ProcessTerminatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was terminated.
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  RecordState:
                    $ref: '#/definitions/StringFilterList'
                    description: The updated record state for the finding.
                  RelatedFindingsId:
                    $ref: '#/definitions/StringFilterList'
                    description: The solution-generated identifier for a related finding.
                  RelatedFindingsProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN of the solution that generated a related finding.
                  ResourceAwsEc2InstanceIamInstanceProfileArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The IAM profile ARN of the instance.
                  ResourceAwsEc2InstanceImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The Amazon Machine Image (AMI) ID of the instance.
                  ResourceAwsEc2InstanceIpV4Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv4 addresses associated with the instance.
                  ResourceAwsEc2InstanceIpV6Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv6 addresses associated with the instance.
                  ResourceAwsEc2InstanceKeyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The key name associated with the instance.
                  ResourceAwsEc2InstanceLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time the instance was launched.
                  ResourceAwsEc2InstanceSubnetId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the subnet that the instance was launched in.
                  ResourceAwsEc2InstanceType:
                    $ref: '#/definitions/StringFilterList'
                    description: The instance type of the instance.
                  ResourceAwsEc2InstanceVpcId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the VPC that the instance was launched in.
                  ResourceAwsIamAccessKeyCreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The creation date/time of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: The status of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyUserName:
                    $ref: '#/definitions/StringFilterList'
                    description: The user associated with the IAM access key related to a finding.
                  ResourceAwsS3BucketOwnerId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical user ID of the owner of the S3 bucket.
                  ResourceAwsS3BucketOwnerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The display name of the owner of the S3 bucket.
                  ResourceContainerImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the image related to a finding.
                  ResourceContainerImageName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the image related to a finding.
                  ResourceContainerLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the container was started.
                  ResourceContainerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the container related to a finding.
                  ResourceDetailsOther:
                    $ref: '#/definitions/MapFilterList'
                    description: The details of a resource that doesn't have a specific subfield for the resource type defined.
                  ResourceId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical identifier for the given resource type.
                  ResourcePartition:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS partition name that the Region is assigned to.
                  ResourceRegion:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS external Region name where this resource is located.
                  ResourceTags:
                    $ref: '#/definitions/MapFilterList'
                    description: A list of AWS tags associated with a resource at the time the finding was processed.
                  ResourceType:
                    $ref: '#/definitions/StringFilterList'
                    description: Specifies the type of the resource that details are provided for.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ThreatIntelIndicatorCategory:
                    $ref: '#/definitions/StringFilterList'
                    description: The category of a threat intel indicator.
                  ThreatIntelIndicatorLastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time of the last observation of a threat intel indicator.
                  ThreatIntelIndicatorSource:
                    $ref: '#/definitions/StringFilterList'
                    description: The source of the threat intel.
                  ThreatIntelIndicatorSourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: The URL for more details from the source of the threat intel.
                  ThreatIntelIndicatorType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of a threat intel indicator.
                  ThreatIntelIndicatorValue:
                    $ref: '#/definitions/StringFilterList'
                    description: The value of a threat intel indicator.
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  VerificationState:
                    $ref: '#/definitions/StringFilterList'
                    description: The veracity of a finding.
                  WorkflowState:
                    $ref: '#/definitions/StringFilterList'
                    description: The workflow state of a finding.
                type: object
              Note:
                description: The updated note.
                properties:
                  Text:
                    $ref: '#/definitions/NonEmptyString'
                    description: The updated note text.
                  UpdatedBy:
                    $ref: '#/definitions/NonEmptyString'
                    description: The principal that updated the note.
                type: object
              RecordState:
                description: The updated record state for the finding.
                enum:
                  - ACTIVE
                  - ARCHIVED
                type: string
            required:
              - Filters
              - Note
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    post:
      description: Returns a list of findings that match the specified criteria.
      operationId: GetFindings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Filters:
                description: 'A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight. '
                properties:
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  ComplianceStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: 'Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, CIS AWS Foundations). Contains compliance-related finding details.'
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify. Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.'
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'The level of importance assigned to the resources associated with the finding. A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.'
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  Keyword:
                    $ref: '#/definitions/KeywordFilterList'
                    description: A keyword for a finding.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  NetworkDestinationDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The destination domain of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
                  NetworkDestinationPort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The destination port of network-related information about a finding.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NoteText:
                    $ref: '#/definitions/StringFilterList'
                    description: The text of a note.
                  NoteUpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The timestamp of when the note was updated.
                  NoteUpdatedBy:
                    $ref: '#/definitions/StringFilterList'
                    description: The principal that created a note.
                  ProcessLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was launched.
                  ProcessName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the process.
                  ProcessParentPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The parent process ID.
                  ProcessPath:
                    $ref: '#/definitions/StringFilterList'
                    description: The path to the process executable.
                  ProcessPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The process ID.
                  ProcessTerminatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was terminated.
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  RecordState:
                    $ref: '#/definitions/StringFilterList'
                    description: The updated record state for the finding.
                  RelatedFindingsId:
                    $ref: '#/definitions/StringFilterList'
                    description: The solution-generated identifier for a related finding.
                  RelatedFindingsProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN of the solution that generated a related finding.
                  ResourceAwsEc2InstanceIamInstanceProfileArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The IAM profile ARN of the instance.
                  ResourceAwsEc2InstanceImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The Amazon Machine Image (AMI) ID of the instance.
                  ResourceAwsEc2InstanceIpV4Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv4 addresses associated with the instance.
                  ResourceAwsEc2InstanceIpV6Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv6 addresses associated with the instance.
                  ResourceAwsEc2InstanceKeyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The key name associated with the instance.
                  ResourceAwsEc2InstanceLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time the instance was launched.
                  ResourceAwsEc2InstanceSubnetId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the subnet that the instance was launched in.
                  ResourceAwsEc2InstanceType:
                    $ref: '#/definitions/StringFilterList'
                    description: The instance type of the instance.
                  ResourceAwsEc2InstanceVpcId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the VPC that the instance was launched in.
                  ResourceAwsIamAccessKeyCreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The creation date/time of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: The status of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyUserName:
                    $ref: '#/definitions/StringFilterList'
                    description: The user associated with the IAM access key related to a finding.
                  ResourceAwsS3BucketOwnerId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical user ID of the owner of the S3 bucket.
                  ResourceAwsS3BucketOwnerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The display name of the owner of the S3 bucket.
                  ResourceContainerImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the image related to a finding.
                  ResourceContainerImageName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the image related to a finding.
                  ResourceContainerLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the container was started.
                  ResourceContainerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the container related to a finding.
                  ResourceDetailsOther:
                    $ref: '#/definitions/MapFilterList'
                    description: The details of a resource that doesn't have a specific subfield for the resource type defined.
                  ResourceId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical identifier for the given resource type.
                  ResourcePartition:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS partition name that the Region is assigned to.
                  ResourceRegion:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS external Region name where this resource is located.
                  ResourceTags:
                    $ref: '#/definitions/MapFilterList'
                    description: A list of AWS tags associated with a resource at the time the finding was processed.
                  ResourceType:
                    $ref: '#/definitions/StringFilterList'
                    description: Specifies the type of the resource that details are provided for.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ThreatIntelIndicatorCategory:
                    $ref: '#/definitions/StringFilterList'
                    description: The category of a threat intel indicator.
                  ThreatIntelIndicatorLastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time of the last observation of a threat intel indicator.
                  ThreatIntelIndicatorSource:
                    $ref: '#/definitions/StringFilterList'
                    description: The source of the threat intel.
                  ThreatIntelIndicatorSourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: The URL for more details from the source of the threat intel.
                  ThreatIntelIndicatorType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of a threat intel indicator.
                  ThreatIntelIndicatorValue:
                    $ref: '#/definitions/StringFilterList'
                    description: The value of a threat intel indicator.
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  VerificationState:
                    $ref: '#/definitions/StringFilterList'
                    description: The veracity of a finding.
                  WorkflowState:
                    $ref: '#/definitions/StringFilterList'
                    description: The workflow state of a finding.
                type: object
              MaxResults:
                description: The maximum number of findings to return.
                maximum: 100
                minimum: 1
                type: integer
              NextToken:
                description: 'Paginates results. On your first call to the <code>GetFindings</code> operation, set the value of this parameter to <code>NULL</code>. For subsequent calls to the operation, fill <code>nextToken</code> in the request with the value of <code>nextToken</code> from the previous response to continue listing data.'
                type: string
              SortCriteria:
                description: Findings attributes used to sort the list of findings returned.
                items:
                  $ref: '#/definitions/SortCriterion'
                type: array
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
  /findings/import:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Imports security findings generated from an integrated third-party product into Security Hub. This action is requested by the integrated product to import its findings into Security Hub. The maximum allowed size for a finding is 240 Kb. An error is returned for any finding larger than 240 Kb.
      operationId: BatchImportFindings
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Findings:
                description: 'A list of findings to import. To successfully import a finding, it must follow the <a href="https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-findings-format.html">AWS Security Finding Format</a>.'
                items:
                  $ref: '#/definitions/AwsSecurityFinding'
                type: array
            required:
              - Findings
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchImportFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
  /insights:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Creates a custom insight in Security Hub. An insight is a consolidation of findings that relate to a security issue that requires attention or remediation. Use the <code>GroupByAttribute</code> to group the related findings in the insight.
      operationId: CreateInsight
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              Filters:
                description: 'A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight. '
                properties:
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  ComplianceStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: 'Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, CIS AWS Foundations). Contains compliance-related finding details.'
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify. Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.'
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'The level of importance assigned to the resources associated with the finding. A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.'
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  Keyword:
                    $ref: '#/definitions/KeywordFilterList'
                    description: A keyword for a finding.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  NetworkDestinationDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The destination domain of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
                  NetworkDestinationPort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The destination port of network-related information about a finding.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NoteText:
                    $ref: '#/definitions/StringFilterList'
                    description: The text of a note.
                  NoteUpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The timestamp of when the note was updated.
                  NoteUpdatedBy:
                    $ref: '#/definitions/StringFilterList'
                    description: The principal that created a note.
                  ProcessLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was launched.
                  ProcessName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the process.
                  ProcessParentPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The parent process ID.
                  ProcessPath:
                    $ref: '#/definitions/StringFilterList'
                    description: The path to the process executable.
                  ProcessPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The process ID.
                  ProcessTerminatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was terminated.
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  RecordState:
                    $ref: '#/definitions/StringFilterList'
                    description: The updated record state for the finding.
                  RelatedFindingsId:
                    $ref: '#/definitions/StringFilterList'
                    description: The solution-generated identifier for a related finding.
                  RelatedFindingsProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN of the solution that generated a related finding.
                  ResourceAwsEc2InstanceIamInstanceProfileArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The IAM profile ARN of the instance.
                  ResourceAwsEc2InstanceImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The Amazon Machine Image (AMI) ID of the instance.
                  ResourceAwsEc2InstanceIpV4Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv4 addresses associated with the instance.
                  ResourceAwsEc2InstanceIpV6Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv6 addresses associated with the instance.
                  ResourceAwsEc2InstanceKeyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The key name associated with the instance.
                  ResourceAwsEc2InstanceLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time the instance was launched.
                  ResourceAwsEc2InstanceSubnetId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the subnet that the instance was launched in.
                  ResourceAwsEc2InstanceType:
                    $ref: '#/definitions/StringFilterList'
                    description: The instance type of the instance.
                  ResourceAwsEc2InstanceVpcId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the VPC that the instance was launched in.
                  ResourceAwsIamAccessKeyCreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The creation date/time of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: The status of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyUserName:
                    $ref: '#/definitions/StringFilterList'
                    description: The user associated with the IAM access key related to a finding.
                  ResourceAwsS3BucketOwnerId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical user ID of the owner of the S3 bucket.
                  ResourceAwsS3BucketOwnerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The display name of the owner of the S3 bucket.
                  ResourceContainerImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the image related to a finding.
                  ResourceContainerImageName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the image related to a finding.
                  ResourceContainerLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the container was started.
                  ResourceContainerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the container related to a finding.
                  ResourceDetailsOther:
                    $ref: '#/definitions/MapFilterList'
                    description: The details of a resource that doesn't have a specific subfield for the resource type defined.
                  ResourceId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical identifier for the given resource type.
                  ResourcePartition:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS partition name that the Region is assigned to.
                  ResourceRegion:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS external Region name where this resource is located.
                  ResourceTags:
                    $ref: '#/definitions/MapFilterList'
                    description: A list of AWS tags associated with a resource at the time the finding was processed.
                  ResourceType:
                    $ref: '#/definitions/StringFilterList'
                    description: Specifies the type of the resource that details are provided for.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ThreatIntelIndicatorCategory:
                    $ref: '#/definitions/StringFilterList'
                    description: The category of a threat intel indicator.
                  ThreatIntelIndicatorLastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time of the last observation of a threat intel indicator.
                  ThreatIntelIndicatorSource:
                    $ref: '#/definitions/StringFilterList'
                    description: The source of the threat intel.
                  ThreatIntelIndicatorSourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: The URL for more details from the source of the threat intel.
                  ThreatIntelIndicatorType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of a threat intel indicator.
                  ThreatIntelIndicatorValue:
                    $ref: '#/definitions/StringFilterList'
                    description: The value of a threat intel indicator.
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  VerificationState:
                    $ref: '#/definitions/StringFilterList'
                    description: The veracity of a finding.
                  WorkflowState:
                    $ref: '#/definitions/StringFilterList'
                    description: The workflow state of a finding.
                type: object
              GroupByAttribute:
                description: The attribute used as the aggregator to group related findings for the insight.
                pattern: .*\S.*
                type: string
              Name:
                description: The name of the custom insight to create.
                pattern: .*\S.*
                type: string
            required:
              - Name
              - Filters
              - GroupByAttribute
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInsightResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
  /insights/get:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Lists and describes insights that insight ARNs specify.
      operationId: GetInsights
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              InsightArns:
                description: The ARNs of the insights that you want to describe.
                items:
                  $ref: '#/definitions/NonEmptyString'
                type: array
              MaxResults:
                description: The maximum number of items that you want in the response.
                maximum: 100
                minimum: 1
                type: integer
              NextToken:
                description: 'Paginates results. On your first call to the <code>GetInsights</code> operation, set the value of this parameter to <code>NULL</code>. For subsequent calls to the operation, fill <code>nextToken</code> in the request with the value of <code>nextToken</code> from the previous response to continue listing data.'
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInsightsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  '/insights/results/{InsightArn}':
    get:
      description: Lists the results of the Security Hub insight that the insight ARN specifies.
      operationId: GetInsightResults
      parameters:
        - description: The ARN of the insight whose results you want to see.
          in: path
          name: InsightArn
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetInsightResultsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/insights/{InsightArn}':
    delete:
      description: Deletes the insight specified by the <code>InsightArn</code>.
      operationId: DeleteInsight
      parameters:
        - description: The ARN of the insight to delete.
          in: path
          name: InsightArn
          pattern: .*\S.*
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInsightResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      description: Updates the Security Hub insight that the insight ARN specifies.
      operationId: UpdateInsight
      parameters:
        - description: The ARN of the insight that you want to update.
          in: path
          name: InsightArn
          pattern: .*\S.*
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              Filters:
                description: 'A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight. '
                properties:
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  ComplianceStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: 'Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, CIS AWS Foundations). Contains compliance-related finding details.'
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify. Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.'
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'The level of importance assigned to the resources associated with the finding. A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.'
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  Keyword:
                    $ref: '#/definitions/KeywordFilterList'
                    description: A keyword for a finding.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  NetworkDestinationDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The destination domain of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
                  NetworkDestinationPort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The destination port of network-related information about a finding.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NoteText:
                    $ref: '#/definitions/StringFilterList'
                    description: The text of a note.
                  NoteUpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The timestamp of when the note was updated.
                  NoteUpdatedBy:
                    $ref: '#/definitions/StringFilterList'
                    description: The principal that created a note.
                  ProcessLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was launched.
                  ProcessName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the process.
                  ProcessParentPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The parent process ID.
                  ProcessPath:
                    $ref: '#/definitions/StringFilterList'
                    description: The path to the process executable.
                  ProcessPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The process ID.
                  ProcessTerminatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was terminated.
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  RecordState:
                    $ref: '#/definitions/StringFilterList'
                    description: The updated record state for the finding.
                  RelatedFindingsId:
                    $ref: '#/definitions/StringFilterList'
                    description: The solution-generated identifier for a related finding.
                  RelatedFindingsProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN of the solution that generated a related finding.
                  ResourceAwsEc2InstanceIamInstanceProfileArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The IAM profile ARN of the instance.
                  ResourceAwsEc2InstanceImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The Amazon Machine Image (AMI) ID of the instance.
                  ResourceAwsEc2InstanceIpV4Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv4 addresses associated with the instance.
                  ResourceAwsEc2InstanceIpV6Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv6 addresses associated with the instance.
                  ResourceAwsEc2InstanceKeyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The key name associated with the instance.
                  ResourceAwsEc2InstanceLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time the instance was launched.
                  ResourceAwsEc2InstanceSubnetId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the subnet that the instance was launched in.
                  ResourceAwsEc2InstanceType:
                    $ref: '#/definitions/StringFilterList'
                    description: The instance type of the instance.
                  ResourceAwsEc2InstanceVpcId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the VPC that the instance was launched in.
                  ResourceAwsIamAccessKeyCreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The creation date/time of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: The status of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyUserName:
                    $ref: '#/definitions/StringFilterList'
                    description: The user associated with the IAM access key related to a finding.
                  ResourceAwsS3BucketOwnerId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical user ID of the owner of the S3 bucket.
                  ResourceAwsS3BucketOwnerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The display name of the owner of the S3 bucket.
                  ResourceContainerImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the image related to a finding.
                  ResourceContainerImageName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the image related to a finding.
                  ResourceContainerLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the container was started.
                  ResourceContainerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the container related to a finding.
                  ResourceDetailsOther:
                    $ref: '#/definitions/MapFilterList'
                    description: The details of a resource that doesn't have a specific subfield for the resource type defined.
                  ResourceId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical identifier for the given resource type.
                  ResourcePartition:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS partition name that the Region is assigned to.
                  ResourceRegion:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS external Region name where this resource is located.
                  ResourceTags:
                    $ref: '#/definitions/MapFilterList'
                    description: A list of AWS tags associated with a resource at the time the finding was processed.
                  ResourceType:
                    $ref: '#/definitions/StringFilterList'
                    description: Specifies the type of the resource that details are provided for.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ThreatIntelIndicatorCategory:
                    $ref: '#/definitions/StringFilterList'
                    description: The category of a threat intel indicator.
                  ThreatIntelIndicatorLastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time of the last observation of a threat intel indicator.
                  ThreatIntelIndicatorSource:
                    $ref: '#/definitions/StringFilterList'
                    description: The source of the threat intel.
                  ThreatIntelIndicatorSourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: The URL for more details from the source of the threat intel.
                  ThreatIntelIndicatorType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of a threat intel indicator.
                  ThreatIntelIndicatorValue:
                    $ref: '#/definitions/StringFilterList'
                    description: The value of a threat intel indicator.
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  VerificationState:
                    $ref: '#/definitions/StringFilterList'
                    description: The veracity of a finding.
                  WorkflowState:
                    $ref: '#/definitions/StringFilterList'
                    description: The workflow state of a finding.
                type: object
              GroupByAttribute:
                description: The updated <code>GroupBy</code> attribute that defines this insight.
                pattern: .*\S.*
                type: string
              Name:
                description: The updated name for the insight.
                pattern: .*\S.*
                type: string
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateInsightResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
  /invitations:
    get:
      description: 'Lists all Security Hub membership invitations that were sent to the current AWS account. '
      operationId: ListInvitations
      parameters:
        - description: 'The maximum number of items that you want in the response. '
          in: query
          maximum: 100
          minimum: 1
          name: MaxResults
          required: false
          type: integer
        - description: 'Paginates results. On your first call to the <code>ListInvitations</code> operation, set the value of this parameter to <code>NULL</code>. For subsequent calls to the operation, fill <code>nextToken</code> in the request with the value of <code>NextToken</code> from the previous response to continue listing data. '
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
[...]
