swagger: '2.0'
info:
  version: '2018-10-26'
  x-release: v4
  title: AWS SecurityHub
  description: '<p>AWS Security Hub provides you with a comprehensive view of your security state in AWS and your compliance with the security industry standards and best practices. Security Hub collects security data from across AWS accounts, services, and supported third-party partners and helps you analyze your security trends and identify the highest priority security issues. For more information, see <a href="https://docs.aws.amazon.com/securityhub/latest/userguide/what-is-securityhub.html">AWS Security Hub User Guide</a>. </p> <important> <p>Important: AWS Security Hub is currently in Preview release.</p> </important>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: securityhub
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/securityhub-2018-10-26.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/securityhub/'
host: securityhub.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://securityhub.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS SecurityHub multi-region endpoint
  - url: 'https://securityhub.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS SecurityHub multi-region endpoint
  - url: 'http://securityhub.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS SecurityHub endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://securityhub.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS SecurityHub endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /master:
    post:
      operationId: AcceptInvitation
      description: Accepts the invitation to be monitored by a Security Hub master account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptInvitationResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              MasterId:
                description: The account ID of the Security Hub master account whose invitation you're accepting.
                type: string
                pattern: .*\S.*
              InvitationId:
                description: The ID of the invitation that the Security Hub master account sends to the AWS account.
                type: string
                pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetMasterAccount
      description: 'Provides the details for the Security Hub master account to the current member account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMasterAccountResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters: []
  /standards/deregister:
    post:
      operationId: BatchDisableStandards
      description: 'Disables the standards specified by the standards subscription ARNs. In the context of Security Hub, supported standards (for example, CIS AWS Foundations) are automated and continuous checks that help determine your compliance status against security industry (including AWS) best practices.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDisableStandardsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - StandardsSubscriptionArns
            properties:
              StandardsSubscriptionArns:
                description: The ARNs of the standards subscriptions that you want to disable.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
                minItems: 1
                maxItems: 25
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /standards/register:
    post:
      operationId: BatchEnableStandards
      description: 'Enables the standards specified by the standards ARNs. In the context of Security Hub, supported standards (for example, CIS AWS Foundations) are automated and continuous checks that help determine your compliance status against security industry (including AWS) best practices. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchEnableStandardsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - StandardsSubscriptionRequests
            properties:
              StandardsSubscriptionRequests:
                description: '<p>The list of standards that you want to enable.</p> <important> <p>In this release, Security Hub supports only the CIS AWS Foundations standard.</p> <p>Its ARN is <code>arn:aws:securityhub:::ruleset/cis-aws-foundations-benchmark/v/1.2.0</code>.</p> </important>'
                type: array
                items:
                  $ref: '#/definitions/StandardsSubscriptionRequest'
                minItems: 1
                maxItems: 25
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /findings/import:
    post:
      operationId: BatchImportFindings
      description: Imports security findings generated from an integrated third-party product into Security Hub.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchImportFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Findings
            properties:
              Findings:
                description: A list of findings to import. You must submit them in the AwsSecurityFinding format.
                type: array
                items:
                  $ref: '#/definitions/AwsSecurityFinding'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /insights:
    post:
      operationId: CreateInsight
      description: 'Creates an insight, which is a consolidation of findings that identifies a security area that requires attention or intervention.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInsightResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
              - Filters
              - GroupByAttribute
            properties:
              Name:
                description: The user-defined name that identifies the insight to create.
                type: string
                pattern: .*\S.*
              Filters:
                description: 'A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight. '
                type: object
                properties:
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify. Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.'
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'The level of importance assigned to the resources associated with the finding. A score of 0 means the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.'
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined AwsSecurityFinding format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
                  NetworkDestinationPort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The destination port of network-related information about a finding.
                  NetworkDestinationDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The destination domain of network-related information about a finding.
                  ProcessName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the process.
                  ProcessPath:
                    $ref: '#/definitions/StringFilterList'
                    description: The path to the process executable.
                  ProcessPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The process ID.
                  ProcessParentPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The parent process ID.
                  ProcessLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was launched.
                  ProcessTerminatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was terminated.
                  ThreatIntelIndicatorType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of a threat intel indicator.
                  ThreatIntelIndicatorValue:
                    $ref: '#/definitions/StringFilterList'
                    description: The value of a threat intel indicator.
                  ThreatIntelIndicatorCategory:
                    $ref: '#/definitions/StringFilterList'
                    description: The category of a threat intel indicator.
                  ThreatIntelIndicatorLastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time of the last observation of a threat intel indicator.
                  ThreatIntelIndicatorSource:
                    $ref: '#/definitions/StringFilterList'
                    description: The source of the threat intel.
                  ThreatIntelIndicatorSourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: The URL for more details from the source of the threat intel.
                  ResourceType:
                    $ref: '#/definitions/StringFilterList'
                    description: Specifies the type of the resource that details are provided for.
                  ResourceId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical identifier for the given resource type.
                  ResourcePartition:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS partition name that the Region is assigned to.
                  ResourceRegion:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS external Region name where this resource is located.
                  ResourceTags:
                    $ref: '#/definitions/MapFilterList'
                    description: A list of AWS tags associated with a resource at the time the finding was processed.
                  ResourceAwsEc2InstanceType:
                    $ref: '#/definitions/StringFilterList'
                    description: The instance type of the instance.
                  ResourceAwsEc2InstanceImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The Amazon Machine Image (AMI) ID of the instance.
                  ResourceAwsEc2InstanceIpV4Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv4 addresses associated with the instance.
                  ResourceAwsEc2InstanceIpV6Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv6 addresses associated with the instance.
                  ResourceAwsEc2InstanceKeyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The key name associated with the instance.
                  ResourceAwsEc2InstanceIamInstanceProfileArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The IAM profile ARN of the instance.
                  ResourceAwsEc2InstanceVpcId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the VPC that the instance was launched in.
                  ResourceAwsEc2InstanceSubnetId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the subnet that the instance was launched in.
                  ResourceAwsEc2InstanceLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time the instance was launched.
                  ResourceAwsS3BucketOwnerId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical user ID of the owner of the S3 bucket.
                  ResourceAwsS3BucketOwnerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The display name of the owner of the S3 bucket.
                  ResourceAwsIamAccessKeyUserName:
                    $ref: '#/definitions/StringFilterList'
                    description: The user associated with the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: The status of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyCreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The creation date/time of the IAM access key related to a finding.
                  ResourceContainerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the container related to a finding.
                  ResourceContainerImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the image related to a finding.
                  ResourceContainerImageName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the image related to a finding.
                  ResourceContainerLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the container was started.
                  ResourceDetailsOther:
                    $ref: '#/definitions/MapFilterList'
                    description: The details of a resource that doesn't have a specific subfield for the resource type defined.
                  ComplianceStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: 'Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, CIS AWS Foundations). Contains compliance-related finding details.'
                  VerificationState:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The veracity of a finding. '
                  WorkflowState:
                    $ref: '#/definitions/StringFilterList'
                    description: The workflow state of a finding.
                  RecordState:
                    $ref: '#/definitions/StringFilterList'
                    description: The updated record state for the finding.
                  RelatedFindingsProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN of the solution that generated a related finding.
                  RelatedFindingsId:
                    $ref: '#/definitions/StringFilterList'
                    description: The solution-generated identifier for a related finding.
                  NoteText:
                    $ref: '#/definitions/StringFilterList'
                    description: The text of a note.
                  NoteUpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The timestamp of when the note was updated.
                  NoteUpdatedBy:
                    $ref: '#/definitions/StringFilterList'
                    description: The principal that created a note.
                  Keyword:
                    $ref: '#/definitions/KeywordFilterList'
                    description: A keyword for a finding.
              GroupByAttribute:
                description: The attribute by which the insight's findings are grouped. This attribute is used as a findings aggregator for the purposes of viewing and managing multiple related findings under a single operand.
                type: string
                pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /members:
    post:
      operationId: CreateMembers
      description: 'Creates Security Hub member accounts associated with the account used for this action, which becomes the Security Hub Master account. Security Hub must be enabled in the account used to make this request.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMembersResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AccountDetails:
                description: A list of account ID and email address pairs of the accounts to associate with the Security Hub master account.
                type: array
                items:
                  $ref: '#/definitions/AccountDetails'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListMembers
      description: Lists details about all member accounts for the current Security Hub master account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMembersResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: OnlyAssociated
          in: query
          required: false
          description: 'Specifies which member accounts the response includes based on their relationship status with the master account. The default value is <code>TRUE</code>. If <code>onlyAssociated</code> is set to <code>TRUE</code>, the response includes member accounts whose relationship status with the master is set to <code>ENABLED</code> or <code>DISABLED</code>. If <code>onlyAssociated</code> is set to <code>FALSE</code>, the response includes all existing member accounts. '
          type: boolean
        - name: MaxResults
          in: query
          required: false
          description: 'The maximum number of items that you want in the response. '
          type: integer
          minimum: 1
          maximum: 100
        - name: NextToken
          in: query
          required: false
          description: 'Paginates results. Set the value of this parameter to <code>NULL</code> on your first call to the <code>ListMembers</code> operation. For subsequent calls to the operation, fill <code>nextToken</code> in the request with the value of <code>nextToken</code> from the previous response to continue listing data. '
          type: string
  /invitations/decline:
    post:
      operationId: DeclineInvitations
      description: Declines invitations that are sent to this AWS account (invitee) from the AWS accounts (inviters) that are specified by the provided <code>AccountIds</code>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeclineInvitationsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AccountIds:
                description: A list of account IDs that specify the accounts from which invitations to Security Hub are declined.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/insights/{InsightArn}':
    delete:
      operationId: DeleteInsight
      description: Deletes the insight specified by the <code>InsightArn</code>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInsightResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: InsightArn
          in: path
          required: true
          description: The ARN of the insight to delete.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      operationId: UpdateInsight
      description: Updates the Security Hub insight that the insight ARN specifies.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateInsightResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: InsightArn
          in: path
          required: true
          description: The ARN of the insight that you want to update.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The updated name for the insight.
                type: string
                pattern: .*\S.*
              Filters:
                description: 'A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight. '
                type: object
                properties:
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify. Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.'
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'The level of importance assigned to the resources associated with the finding. A score of 0 means the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.'
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined AwsSecurityFinding format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
                  NetworkDestinationPort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The destination port of network-related information about a finding.
                  NetworkDestinationDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The destination domain of network-related information about a finding.
                  ProcessName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the process.
                  ProcessPath:
                    $ref: '#/definitions/StringFilterList'
                    description: The path to the process executable.
                  ProcessPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The process ID.
                  ProcessParentPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The parent process ID.
                  ProcessLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was launched.
                  ProcessTerminatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was terminated.
                  ThreatIntelIndicatorType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of a threat intel indicator.
                  ThreatIntelIndicatorValue:
                    $ref: '#/definitions/StringFilterList'
                    description: The value of a threat intel indicator.
                  ThreatIntelIndicatorCategory:
                    $ref: '#/definitions/StringFilterList'
                    description: The category of a threat intel indicator.
                  ThreatIntelIndicatorLastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time of the last observation of a threat intel indicator.
                  ThreatIntelIndicatorSource:
                    $ref: '#/definitions/StringFilterList'
                    description: The source of the threat intel.
                  ThreatIntelIndicatorSourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: The URL for more details from the source of the threat intel.
                  ResourceType:
                    $ref: '#/definitions/StringFilterList'
                    description: Specifies the type of the resource that details are provided for.
                  ResourceId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical identifier for the given resource type.
                  ResourcePartition:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS partition name that the Region is assigned to.
                  ResourceRegion:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS external Region name where this resource is located.
                  ResourceTags:
                    $ref: '#/definitions/MapFilterList'
                    description: A list of AWS tags associated with a resource at the time the finding was processed.
                  ResourceAwsEc2InstanceType:
                    $ref: '#/definitions/StringFilterList'
                    description: The instance type of the instance.
                  ResourceAwsEc2InstanceImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The Amazon Machine Image (AMI) ID of the instance.
                  ResourceAwsEc2InstanceIpV4Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv4 addresses associated with the instance.
                  ResourceAwsEc2InstanceIpV6Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv6 addresses associated with the instance.
                  ResourceAwsEc2InstanceKeyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The key name associated with the instance.
                  ResourceAwsEc2InstanceIamInstanceProfileArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The IAM profile ARN of the instance.
                  ResourceAwsEc2InstanceVpcId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the VPC that the instance was launched in.
                  ResourceAwsEc2InstanceSubnetId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the subnet that the instance was launched in.
                  ResourceAwsEc2InstanceLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time the instance was launched.
                  ResourceAwsS3BucketOwnerId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical user ID of the owner of the S3 bucket.
                  ResourceAwsS3BucketOwnerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The display name of the owner of the S3 bucket.
                  ResourceAwsIamAccessKeyUserName:
                    $ref: '#/definitions/StringFilterList'
                    description: The user associated with the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: The status of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyCreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The creation date/time of the IAM access key related to a finding.
                  ResourceContainerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the container related to a finding.
                  ResourceContainerImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the image related to a finding.
                  ResourceContainerImageName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the image related to a finding.
                  ResourceContainerLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the container was started.
                  ResourceDetailsOther:
                    $ref: '#/definitions/MapFilterList'
                    description: The details of a resource that doesn't have a specific subfield for the resource type defined.
                  ComplianceStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: 'Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, CIS AWS Foundations). Contains compliance-related finding details.'
                  VerificationState:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The veracity of a finding. '
                  WorkflowState:
                    $ref: '#/definitions/StringFilterList'
                    description: The workflow state of a finding.
                  RecordState:
                    $ref: '#/definitions/StringFilterList'
                    description: The updated record state for the finding.
                  RelatedFindingsProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN of the solution that generated a related finding.
                  RelatedFindingsId:
                    $ref: '#/definitions/StringFilterList'
                    description: The solution-generated identifier for a related finding.
                  NoteText:
                    $ref: '#/definitions/StringFilterList'
                    description: The text of a note.
                  NoteUpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The timestamp of when the note was updated.
                  NoteUpdatedBy:
                    $ref: '#/definitions/StringFilterList'
                    description: The principal that created a note.
                  Keyword:
                    $ref: '#/definitions/KeywordFilterList'
                    description: A keyword for a finding.
              GroupByAttribute:
                description: The updated <code>GroupBy</code> attribute that defines this insight.
                type: string
                pattern: .*\S.*
  /invitations/delete:
    post:
      operationId: DeleteInvitations
      description: 'Deletes invitations that were sent to theis AWS account (invitee) by the AWS accounts (inviters) that are specified by their account IDs. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInvitationsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AccountIds:
                description: 'A list of account IDs that specify accounts whose invitations to Security Hub you want to delete. '
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /members/delete:
    post:
      operationId: DeleteMembers
      description: Deletes the Security Hub member accounts that the account IDs specify.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteMembersResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AccountIds:
                description: 'A list of account IDs of the Security Hub member accounts that you want to delete. '
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /products:
    get:
      operationId: DescribeProducts
      description: Returns information about the products available that you can subscribe to.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeProductsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: The token that is required for pagination.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to return.
          type: integer
          minimum: 1
          maximum: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/productSubscriptions/{ProductSubscriptionArn}':
    delete:
      operationId: DisableImportFindingsForProduct
      description: Cancels the subscription that allows a findings-generating solution (product) to import its findings into Security Hub.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableImportFindingsForProductResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: ProductSubscriptionArn
          in: path
          required: true
          description: The ARN of a resource that represents your subscription to a supported product.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /accounts:
    delete:
      operationId: DisableSecurityHub
      description: Disables the Security Hub service.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableSecurityHubResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters: []
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: EnableSecurityHub
      description: Enables the Security Hub service.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableSecurityHubResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters: []
  /master/disassociate:
    post:
      operationId: DisassociateFromMasterAccount
      description: Disassociates the current Security Hub member account from its master account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateFromMasterAccountResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters: []
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /members/disassociate:
    post:
      operationId: DisassociateMembers
      description: 'Disassociates the Security Hub member accounts that are specified by the account IDs from their master account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateMembersResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AccountIds:
                description: The account IDs of the member accounts that you want to disassociate from the master account.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /productSubscriptions:
    post:
      operationId: EnableImportFindingsForProduct
      description: Sets up the subscription that enables a findings-generating solution (product) to import its findings into Security Hub.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableImportFindingsForProductResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ProductArn
            properties:
              ProductArn:
                description: The ARN of the product that generates findings that you want to import into Security Hub.
                type: string
                pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListEnabledProductsForImport
      description: Lists all findings-generating solutions (products) whose findings you have subscribed to receive in Security Hub.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEnabledProductsForImportResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: 'Paginates results. On your first call to the <code>ListEnabledProductsForImport</code> operation, set the value of this parameter to <code>NULL</code>. For subsequent calls to the operation, fill <code>nextToken</code> in the request with the value of <code>NextToken</code> from the previous response to continue listing data.'
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of items that you want in the response.
          type: integer
          minimum: 1
          maximum: 100
  /standards/get:
    post:
      operationId: GetEnabledStandards
      description: Lists and describes enabled standards.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEnabledStandardsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              StandardsSubscriptionArns:
                description: The list of standards subscription ARNS that you want to list and describe.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
                minItems: 1
                maxItems: 25
              NextToken:
                description: 'Paginates results. On your first call to the <code>GetEnabledStandards</code> operation, set the value of this parameter to <code>NULL</code>. For subsequent calls to the operation, fill <code>nextToken</code> in the request with the value of <code>nextToken</code> from the previous response to continue listing data.'
                type: string
              MaxResults:
                description: The maximum number of items that you want in the response.
                type: integer
                minimum: 1
                maximum: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /findings:
    post:
      operationId: GetFindings
      description: Lists and describes Security Hub-aggregated findings that filter attributes specify.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Filters:
                description: 'A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight. '
                type: object
                properties:
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify. Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.'
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'The level of importance assigned to the resources associated with the finding. A score of 0 means the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.'
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined AwsSecurityFinding format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
                  NetworkDestinationPort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The destination port of network-related information about a finding.
                  NetworkDestinationDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The destination domain of network-related information about a finding.
                  ProcessName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the process.
                  ProcessPath:
                    $ref: '#/definitions/StringFilterList'
                    description: The path to the process executable.
                  ProcessPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The process ID.
                  ProcessParentPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The parent process ID.
                  ProcessLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was launched.
                  ProcessTerminatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was terminated.
                  ThreatIntelIndicatorType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of a threat intel indicator.
                  ThreatIntelIndicatorValue:
                    $ref: '#/definitions/StringFilterList'
                    description: The value of a threat intel indicator.
                  ThreatIntelIndicatorCategory:
                    $ref: '#/definitions/StringFilterList'
                    description: The category of a threat intel indicator.
                  ThreatIntelIndicatorLastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time of the last observation of a threat intel indicator.
                  ThreatIntelIndicatorSource:
                    $ref: '#/definitions/StringFilterList'
                    description: The source of the threat intel.
                  ThreatIntelIndicatorSourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: The URL for more details from the source of the threat intel.
                  ResourceType:
                    $ref: '#/definitions/StringFilterList'
                    description: Specifies the type of the resource that details are provided for.
                  ResourceId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical identifier for the given resource type.
                  ResourcePartition:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS partition name that the Region is assigned to.
                  ResourceRegion:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS external Region name where this resource is located.
                  ResourceTags:
                    $ref: '#/definitions/MapFilterList'
                    description: A list of AWS tags associated with a resource at the time the finding was processed.
                  ResourceAwsEc2InstanceType:
                    $ref: '#/definitions/StringFilterList'
                    description: The instance type of the instance.
                  ResourceAwsEc2InstanceImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The Amazon Machine Image (AMI) ID of the instance.
                  ResourceAwsEc2InstanceIpV4Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv4 addresses associated with the instance.
                  ResourceAwsEc2InstanceIpV6Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv6 addresses associated with the instance.
                  ResourceAwsEc2InstanceKeyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The key name associated with the instance.
                  ResourceAwsEc2InstanceIamInstanceProfileArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The IAM profile ARN of the instance.
                  ResourceAwsEc2InstanceVpcId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the VPC that the instance was launched in.
                  ResourceAwsEc2InstanceSubnetId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the subnet that the instance was launched in.
                  ResourceAwsEc2InstanceLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time the instance was launched.
                  ResourceAwsS3BucketOwnerId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical user ID of the owner of the S3 bucket.
                  ResourceAwsS3BucketOwnerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The display name of the owner of the S3 bucket.
                  ResourceAwsIamAccessKeyUserName:
                    $ref: '#/definitions/StringFilterList'
                    description: The user associated with the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: The status of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyCreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The creation date/time of the IAM access key related to a finding.
                  ResourceContainerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the container related to a finding.
                  ResourceContainerImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the image related to a finding.
                  ResourceContainerImageName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the image related to a finding.
                  ResourceContainerLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the container was started.
                  ResourceDetailsOther:
                    $ref: '#/definitions/MapFilterList'
                    description: The details of a resource that doesn't have a specific subfield for the resource type defined.
                  ComplianceStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: 'Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, CIS AWS Foundations). Contains compliance-related finding details.'
                  VerificationState:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The veracity of a finding. '
                  WorkflowState:
                    $ref: '#/definitions/StringFilterList'
                    description: The workflow state of a finding.
                  RecordState:
                    $ref: '#/definitions/StringFilterList'
                    description: The updated record state for the finding.
                  RelatedFindingsProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN of the solution that generated a related finding.
                  RelatedFindingsId:
                    $ref: '#/definitions/StringFilterList'
                    description: The solution-generated identifier for a related finding.
                  NoteText:
                    $ref: '#/definitions/StringFilterList'
                    description: The text of a note.
                  NoteUpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The timestamp of when the note was updated.
                  NoteUpdatedBy:
                    $ref: '#/definitions/StringFilterList'
                    description: The principal that created a note.
                  Keyword:
                    $ref: '#/definitions/KeywordFilterList'
                    description: A keyword for a finding.
              SortCriteria:
                description: A collection of attributes used for sorting findings.
                type: array
                items:
                  $ref: '#/definitions/SortCriterion'
              NextToken:
                description: 'Paginates results. On your first call to the <code>GetFindings</code> operation, set the value of this parameter to <code>NULL</code>. For subsequent calls to the operation, fill <code>nextToken</code> in the request with the value of <code>nextToken</code> from the previous response to continue listing data.'
                type: string
              MaxResults:
                description: Indicates the maximum number of items that you want in the response.
                type: integer
                minimum: 1
                maximum: 100
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      operationId: UpdateFindings
      description: Updates the <code>Note</code> and <code>RecordState</code> of the Security Hub-aggregated findings that the filter attributes specify. Any member account that can view the finding also sees the update to the finding.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Filters
              - Note
            properties:
              Filters:
                description: 'A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight. '
                type: object
                properties:
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify. Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.'
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: 'The level of importance assigned to the resources associated with the finding. A score of 0 means the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.'
                  Title:
[...]
