swagger: '2.0'
info:
  version: '2018-10-26'
  x-release: v4
  title: AWS SecurityHub
  description: '<p>Security Hub provides you with a comprehensive view of the security state of your AWS environment and resources. It also provides you with the compliance status of your environment based on CIS AWS Foundations compliance checks. Security Hub collects security data from AWS accounts, services, and integrated third-party products and helps you analyze security trends in your environment to identify the highest priority security issues. For more information about Security Hub, see the <i> <a href="https://docs.aws.amazon.com/securityhub/latest/userguide/what-is-securityhub.html">AWS Security Hub User Guide</a> </i>.</p> <p>When you use operations in the Security Hub API, the requests are executed only in the AWS Region that is currently active or in the specific AWS Region that you specify in your request. Any configuration or settings change that results from the operation is applied only to that Region. To make the same change in other Regions, execute the same command for each Region to apply the change to.</p> <p>For example, if your Region is set to <code>us-west-2</code>, when you use <code>CreateMembers</code> to add a member account to Security Hub, the association of the member account with the master account is created only in the <code>us-west-2</code> Region. Security Hub must be enabled for the member account in the same Region that the invitation was sent from.</p> <p>The following throttling limits apply to using Security Hub API operations.</p> <ul> <li> <p> <code>GetFindings</code> - <code>RateLimit</code> of 3 requests per second. <code>BurstLimit</code> of 6 requests per second.</p> </li> <li> <p> <code>UpdateFindings</code> - <code>RateLimit</code> of 1 request per second. <code>BurstLimit</code> of 5 requests per second.</p> </li> <li> <p>All other operations - <code>RateLimit</code> of 10 request per second. <code>BurstLimit</code> of 30 requests per second.</p> </li> </ul>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: securityhub
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/securityhub-2018-10-26.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/securityhub/'
host: securityhub.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://securityhub.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS SecurityHub multi-region endpoint
  - url: 'https://securityhub.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS SecurityHub multi-region endpoint
  - url: 'http://securityhub.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS SecurityHub endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://securityhub.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS SecurityHub endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /master:
    post:
      operationId: AcceptInvitation
      description: '<p>Accepts the invitation to be a member account and be monitored by the Security Hub master account that the invitation was sent from.</p> <p>When the member account accepts the invitation, permission is granted to the master account to view findings generated in the member account.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AcceptInvitationResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - MasterId
              - InvitationId
            properties:
              MasterId:
                description: The account ID of the Security Hub master account that sent the invitation.
                type: string
                pattern: .*\S.*
              InvitationId:
                description: The ID of the invitation sent from the Security Hub master account.
                type: string
                pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetMasterAccount
      description: 'Provides the details for the Security Hub master account for the current member account. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetMasterAccountResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters: []
  /standards/deregister:
    post:
      operationId: BatchDisableStandards
      description: '<p>Disables the standards specified by the provided <code>StandardsSubscriptionArns</code>.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html">Standards Supported in AWS Security Hub</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchDisableStandardsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - StandardsSubscriptionArns
            properties:
              StandardsSubscriptionArns:
                description: The ARNs of the standards subscriptions to disable.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
                minItems: 1
                maxItems: 25
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /standards/register:
    post:
      operationId: BatchEnableStandards
      description: '<p>Enables the standards specified by the provided <code>standardsArn</code>.</p> <p>In this release, only CIS AWS Foundations standards are supported.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-standards.html">Standards Supported in AWS Security Hub</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchEnableStandardsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - StandardsSubscriptionRequests
            properties:
              StandardsSubscriptionRequests:
                description: '<p>The list of standards compliance checks to enable.</p> <important> <p>In this release, Security Hub supports only the CIS AWS Foundations standard.</p> <p>The ARN for the standard is <code>arn:aws:securityhub:::ruleset/cis-aws-foundations-benchmark/v/1.2.0</code>.</p> </important>'
                type: array
                items:
                  $ref: '#/definitions/StandardsSubscriptionRequest'
                minItems: 1
                maxItems: 25
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /findings/import:
    post:
      operationId: BatchImportFindings
      description: <p>Imports security findings generated from an integrated third-party product into Security Hub. This action is requested by the integrated product to import its findings into Security Hub.</p> <p>The maximum allowed size for a finding is 240 Kb. An error is returned for any finding larger than 240 Kb.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchImportFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Findings
            properties:
              Findings:
                description: 'A list of findings to import. To successfully import a finding, it must follow the <a href="https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-findings-format.html">AWS Security Finding Format</a>. Maximum of 100 findings per request.'
                type: array
                items:
                  $ref: '#/definitions/AwsSecurityFinding'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /actionTargets:
    post:
      operationId: CreateActionTarget
      description: <p>Creates a custom action target in Security Hub.</p> <p>You can use custom actions on findings and insights in Security Hub to trigger target actions in Amazon CloudWatch Events.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateActionTargetResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
              - Description
              - Id
            properties:
              Name:
                description: The name of the custom action target.
                type: string
                pattern: .*\S.*
              Description:
                description: The description for the custom action target.
                type: string
                pattern: .*\S.*
              Id:
                description: The ID for the custom action target.
                type: string
                pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /insights:
    post:
      operationId: CreateInsight
      description: '<p>Creates a custom insight in Security Hub. An insight is a consolidation of findings that relate to a security issue that requires attention or remediation.</p> <p>To group the related findings in the insight, use the <code>GroupByAttribute</code>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateInsightResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - Name
              - Filters
              - GroupByAttribute
            properties:
              Name:
                description: The name of the custom insight to create.
                type: string
                pattern: .*\S.*
              Filters:
                description: A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight.
                type: object
                properties:
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: '<p>A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify.</p> <p>Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.</p>'
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: '<p>The level of importance assigned to the resources associated with the finding.</p> <p>A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.</p>'
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
                  NetworkDestinationPort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The destination port of network-related information about a finding.
                  NetworkDestinationDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The destination domain of network-related information about a finding.
                  ProcessName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the process.
                  ProcessPath:
                    $ref: '#/definitions/StringFilterList'
                    description: The path to the process executable.
                  ProcessPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The process ID.
                  ProcessParentPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The parent process ID.
                  ProcessLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was launched.
                  ProcessTerminatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was terminated.
                  ThreatIntelIndicatorType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of a threat intelligence indicator.
                  ThreatIntelIndicatorValue:
                    $ref: '#/definitions/StringFilterList'
                    description: The value of a threat intelligence indicator.
                  ThreatIntelIndicatorCategory:
                    $ref: '#/definitions/StringFilterList'
                    description: The category of a threat intelligence indicator.
                  ThreatIntelIndicatorLastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time of the last observation of a threat intelligence indicator.
                  ThreatIntelIndicatorSource:
                    $ref: '#/definitions/StringFilterList'
                    description: The source of the threat intelligence.
                  ThreatIntelIndicatorSourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: The URL for more details from the source of the threat intelligence.
                  ResourceType:
                    $ref: '#/definitions/StringFilterList'
                    description: Specifies the type of the resource that details are provided for.
                  ResourceId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical identifier for the given resource type.
                  ResourcePartition:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS partition name that the Region is assigned to.
                  ResourceRegion:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS external Region name where this resource is located.
                  ResourceTags:
                    $ref: '#/definitions/MapFilterList'
                    description: A list of AWS tags associated with a resource at the time the finding was processed.
                  ResourceAwsEc2InstanceType:
                    $ref: '#/definitions/StringFilterList'
                    description: The instance type of the instance.
                  ResourceAwsEc2InstanceImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The Amazon Machine Image (AMI) ID of the instance.
                  ResourceAwsEc2InstanceIpV4Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv4 addresses associated with the instance.
                  ResourceAwsEc2InstanceIpV6Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv6 addresses associated with the instance.
                  ResourceAwsEc2InstanceKeyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The key name associated with the instance.
                  ResourceAwsEc2InstanceIamInstanceProfileArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The IAM profile ARN of the instance.
                  ResourceAwsEc2InstanceVpcId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the VPC that the instance was launched in.
                  ResourceAwsEc2InstanceSubnetId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the subnet that the instance was launched in.
                  ResourceAwsEc2InstanceLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date and time the instance was launched.
                  ResourceAwsS3BucketOwnerId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical user ID of the owner of the S3 bucket.
                  ResourceAwsS3BucketOwnerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The display name of the owner of the S3 bucket.
                  ResourceAwsIamAccessKeyUserName:
                    $ref: '#/definitions/StringFilterList'
                    description: The user associated with the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: The status of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyCreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The creation date/time of the IAM access key related to a finding.
                  ResourceContainerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the container related to a finding.
                  ResourceContainerImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the image related to a finding.
                  ResourceContainerImageName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the image related to a finding.
                  ResourceContainerLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the container was started.
                  ResourceDetailsOther:
                    $ref: '#/definitions/MapFilterList'
                    description: The details of a resource that doesn't have a specific subfield for the resource type defined.
                  ComplianceStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: 'Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, CIS AWS Foundations). Contains compliance-related finding details.'
                  VerificationState:
                    $ref: '#/definitions/StringFilterList'
                    description: The veracity of a finding.
                  WorkflowState:
                    $ref: '#/definitions/StringFilterList'
                    description: The workflow state of a finding.
                  RecordState:
                    $ref: '#/definitions/StringFilterList'
                    description: The updated record state for the finding.
                  RelatedFindingsProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN of the solution that generated a related finding.
                  RelatedFindingsId:
                    $ref: '#/definitions/StringFilterList'
                    description: The solution-generated identifier for a related finding.
                  NoteText:
                    $ref: '#/definitions/StringFilterList'
                    description: The text of a note.
                  NoteUpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The timestamp of when the note was updated.
                  NoteUpdatedBy:
                    $ref: '#/definitions/StringFilterList'
                    description: The principal that created a note.
                  Keyword:
                    $ref: '#/definitions/KeywordFilterList'
                    description: A keyword for a finding.
              GroupByAttribute:
                description: The attribute used as the aggregator to group related findings for the insight.
                type: string
                pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /members:
    post:
      operationId: CreateMembers
      description: '<p>Creates a member association in Security Hub between the specified accounts and the account used to make the request, which is the master account. To successfully create a member, you must use this action from an account that already has Security Hub enabled. To enable Security Hub, you can use the <a>EnableSecurityHub</a> operation.</p> <p>After you use <code>CreateMembers</code> to create member account associations in Security Hub, you must use the <a>InviteMembers</a> operation to invite the accounts to enable Security Hub and become member accounts in Security Hub.</p> <p>If the account owner accepts the invitation, the account becomes a member account in Security Hub, and a permission policy is added that permits the master account to view the findings generated in the member account. When Security Hub is enabled in the invited account, findings start to be sent to both the member and master accounts.</p> <p>To remove the association between the master and member accounts, use the <a>DisassociateFromMasterAccount</a> or <a>DisassociateMembers</a> operation.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateMembersResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AccountDetails:
                description: 'The list of accounts to associate with the Security Hub master account. For each account, the list includes the account ID and the email address.'
                type: array
                items:
                  $ref: '#/definitions/AccountDetails'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListMembers
      description: Lists details about all member accounts for the current Security Hub master account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListMembersResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: OnlyAssociated
          in: query
          required: false
          description: '<p>Specifies which member accounts to include in the response based on their relationship status with the master account. The default value is <code>TRUE</code>.</p> <p>If <code>onlyAssociated</code> is set to <code>TRUE</code>, the response includes member accounts whose relationship status with the master is set to <code>ENABLED</code> or <code>DISABLED</code>.</p> <p>If <code>onlyAssociated</code> is set to <code>FALSE</code>, the response includes all existing member accounts. </p>'
          type: boolean
        - name: MaxResults
          in: query
          required: false
          description: 'The maximum number of items to return in the response. '
          type: integer
          minimum: 1
          maximum: 100
        - name: NextToken
          in: query
          required: false
          description: 'Paginates results. On your first call to the <code>ListMembers</code> operation, set the value of this parameter to <code>NULL</code>. For subsequent calls to the operation, to continue listing data, set <code>nextToken</code> in the request to the value of <code>nextToken</code> from the previous response.'
          type: string
  /invitations/decline:
    post:
      operationId: DeclineInvitations
      description: Declines invitations to become a member account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeclineInvitationsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - AccountIds
            properties:
              AccountIds:
                description: The list of account IDs for the accounts from which to decline the invitations to Security Hub.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/actionTargets/{ActionTargetArn}':
    delete:
      operationId: DeleteActionTarget
      description: <p>Deletes a custom action target from Security Hub.</p> <p>Deleting a custom action target does not affect any findings or insights that were already sent to Amazon CloudWatch Events using the custom action.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteActionTargetResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: ActionTargetArn
          in: path
          required: true
          description: The ARN of the custom action target to delete.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      operationId: UpdateActionTarget
      description: Updates the name and description of a custom action target in Security Hub.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateActionTargetResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: ActionTargetArn
          in: path
          required: true
          description: The ARN of the custom action target to update.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The updated name of the custom action target.
                type: string
                pattern: .*\S.*
              Description:
                description: The updated description for the custom action target.
                type: string
                pattern: .*\S.*
  '/insights/{InsightArn}':
    delete:
      operationId: DeleteInsight
      description: Deletes the insight specified by the <code>InsightArn</code>.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInsightResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: InsightArn
          in: path
          required: true
          description: The ARN of the insight to delete.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    patch:
      operationId: UpdateInsight
      description: Updates the Security Hub insight identified by the specified insight ARN.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateInsightResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: InsightArn
          in: path
          required: true
          description: The ARN of the insight that you want to update.
          type: string
          pattern: .*\S.*
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Name:
                description: The updated name for the insight.
                type: string
                pattern: .*\S.*
              Filters:
                description: A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight.
                type: object
                properties:
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: '<p>A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify.</p> <p>Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.</p>'
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: '<p>The level of importance assigned to the resources associated with the finding.</p> <p>A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.</p>'
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
                  NetworkDestinationPort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The destination port of network-related information about a finding.
                  NetworkDestinationDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The destination domain of network-related information about a finding.
                  ProcessName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the process.
                  ProcessPath:
                    $ref: '#/definitions/StringFilterList'
                    description: The path to the process executable.
                  ProcessPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The process ID.
                  ProcessParentPid:
                    $ref: '#/definitions/NumberFilterList'
                    description: The parent process ID.
                  ProcessLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was launched.
                  ProcessTerminatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the process was terminated.
                  ThreatIntelIndicatorType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of a threat intelligence indicator.
                  ThreatIntelIndicatorValue:
                    $ref: '#/definitions/StringFilterList'
                    description: The value of a threat intelligence indicator.
                  ThreatIntelIndicatorCategory:
                    $ref: '#/definitions/StringFilterList'
                    description: The category of a threat intelligence indicator.
                  ThreatIntelIndicatorLastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time of the last observation of a threat intelligence indicator.
                  ThreatIntelIndicatorSource:
                    $ref: '#/definitions/StringFilterList'
                    description: The source of the threat intelligence.
                  ThreatIntelIndicatorSourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: The URL for more details from the source of the threat intelligence.
                  ResourceType:
                    $ref: '#/definitions/StringFilterList'
                    description: Specifies the type of the resource that details are provided for.
                  ResourceId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical identifier for the given resource type.
                  ResourcePartition:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS partition name that the Region is assigned to.
                  ResourceRegion:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical AWS external Region name where this resource is located.
                  ResourceTags:
                    $ref: '#/definitions/MapFilterList'
                    description: A list of AWS tags associated with a resource at the time the finding was processed.
                  ResourceAwsEc2InstanceType:
                    $ref: '#/definitions/StringFilterList'
                    description: The instance type of the instance.
                  ResourceAwsEc2InstanceImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The Amazon Machine Image (AMI) ID of the instance.
                  ResourceAwsEc2InstanceIpV4Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv4 addresses associated with the instance.
                  ResourceAwsEc2InstanceIpV6Addresses:
                    $ref: '#/definitions/IpFilterList'
                    description: The IPv6 addresses associated with the instance.
                  ResourceAwsEc2InstanceKeyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The key name associated with the instance.
                  ResourceAwsEc2InstanceIamInstanceProfileArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The IAM profile ARN of the instance.
                  ResourceAwsEc2InstanceVpcId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the VPC that the instance was launched in.
                  ResourceAwsEc2InstanceSubnetId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the subnet that the instance was launched in.
                  ResourceAwsEc2InstanceLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date and time the instance was launched.
                  ResourceAwsS3BucketOwnerId:
                    $ref: '#/definitions/StringFilterList'
                    description: The canonical user ID of the owner of the S3 bucket.
                  ResourceAwsS3BucketOwnerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The display name of the owner of the S3 bucket.
                  ResourceAwsIamAccessKeyUserName:
                    $ref: '#/definitions/StringFilterList'
                    description: The user associated with the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: The status of the IAM access key related to a finding.
                  ResourceAwsIamAccessKeyCreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The creation date/time of the IAM access key related to a finding.
                  ResourceContainerName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the container related to a finding.
                  ResourceContainerImageId:
                    $ref: '#/definitions/StringFilterList'
                    description: The identifier of the image related to a finding.
                  ResourceContainerImageName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the image related to a finding.
                  ResourceContainerLaunchedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The date/time that the container was started.
                  ResourceDetailsOther:
                    $ref: '#/definitions/MapFilterList'
                    description: The details of a resource that doesn't have a specific subfield for the resource type defined.
                  ComplianceStatus:
                    $ref: '#/definitions/StringFilterList'
                    description: 'Exclusive to findings that are generated as the result of a check run against a specific rule in a supported standard (for example, CIS AWS Foundations). Contains compliance-related finding details.'
                  VerificationState:
                    $ref: '#/definitions/StringFilterList'
                    description: The veracity of a finding.
                  WorkflowState:
                    $ref: '#/definitions/StringFilterList'
                    description: The workflow state of a finding.
                  RecordState:
                    $ref: '#/definitions/StringFilterList'
                    description: The updated record state for the finding.
                  RelatedFindingsProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN of the solution that generated a related finding.
                  RelatedFindingsId:
                    $ref: '#/definitions/StringFilterList'
                    description: The solution-generated identifier for a related finding.
                  NoteText:
                    $ref: '#/definitions/StringFilterList'
                    description: The text of a note.
                  NoteUpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: The timestamp of when the note was updated.
                  NoteUpdatedBy:
                    $ref: '#/definitions/StringFilterList'
                    description: The principal that created a note.
                  Keyword:
                    $ref: '#/definitions/KeywordFilterList'
                    description: A keyword for a finding.
              GroupByAttribute:
                description: The updated <code>GroupBy</code> attribute that defines this insight.
                type: string
                pattern: .*\S.*
  /invitations/delete:
    post:
      operationId: DeleteInvitations
      description: Deletes invitations received by the AWS account to become a member account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteInvitationsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '484':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - AccountIds
            properties:
              AccountIds:
                description: The list of the account IDs that sent the invitations to delete.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /members/delete:
    post:
      operationId: DeleteMembers
      description: Deletes the specified member accounts from Security Hub.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteMembersResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AccountIds:
                description: The list of account IDs for the member accounts to delete.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /actionTargets/get:
    post:
      operationId: DescribeActionTargets
      description: Returns a list of the custom action targets in Security Hub in your account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeActionTargetsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              ActionTargetArns:
                description: A list of custom action target ARNs for the custom action targets to retrieve.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
              NextToken:
                description: The token that is required for pagination.
                type: string
              MaxResults:
                description: The maximum number of results to return.
                type: integer
                minimum: 1
                maximum: 100
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /accounts:
    get:
      operationId: DescribeHub
      description: 'Returns details about the Hub resource in your account, including the <code>HubArn</code> and the time when you enabled Security Hub.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeHubResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: HubArn
          in: query
          required: false
          description: The ARN of the Hub resource to retrieve.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: DisableSecurityHub
      description: '<p>Disables Security Hub in your account only in the current Region. To disable Security Hub in all Regions, you must submit one request per Region where you have enabled Security Hub.</p> <p>When you disable Security Hub for a master account, it doesn''t disable Security Hub for any associated member accounts.</p> <p>When you disable Security Hub, your existing findings and insights and any Security Hub configuration settings are deleted after 90 days and cannot be recovered. Any standards that were enabled are disabled, and your master and member account associations are removed.</p> <p>If you want to save your existing findings, you must export them before you disable Security Hub.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableSecurityHubResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters: []
    post:
      operationId: EnableSecurityHub
      description: '<p>Enables Security Hub for your account in the current Region or the Region you specify in the request.</p> <p>Enabling Security Hub also enables the CIS AWS Foundations standard.</p> <p>When you enable Security Hub, you grant to Security Hub the permissions necessary to gather findings from AWS Config, Amazon GuardDuty, Amazon Inspector, and Amazon Macie.</p> <p>To learn more, see <a href="https://docs.aws.amazon.com/securityhub/latest/userguide/securityhub-settingup.html">Setting Up AWS Security Hub</a>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableSecurityHubResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Tags:
                description: The tags to add to the Hub resource when you enable Security Hub.
                type: object
                minProperties: 1
                maxProperties: 50
                additionalProperties:
                  $ref: '#/definitions/TagValue'
  /products:
    get:
      operationId: DescribeProducts
      description: Returns information about the available products that you can subscribe to and integrate with Security Hub in order to consolidate findings.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeProductsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: The token that is required for pagination.
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of results to return.
          type: integer
          minimum: 1
          maximum: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/standards/controls/{StandardsSubscriptionArn}':
    get:
      operationId: DescribeStandardsControls
      description: '<p>Returns a list of compliance standards controls.</p> <p>For each control, the results include information about whether it is currently enabled, the severity, and a link to remediation information.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeStandardsControlsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: StandardsSubscriptionArn
          in: path
          required: true
          description: The ARN of a resource that represents your subscription to a supported standard.
          type: string
          pattern: .*\S.*
        - name: NextToken
          in: query
          required: false
          description: 'For requests to get the next page of results, the pagination token that was returned with the previous set of results. The initial request does not include a pagination token.'
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of compliance standard controls to return.
          type: integer
          minimum: 1
          maximum: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/productSubscriptions/{ProductSubscriptionArn}':
    delete:
      operationId: DisableImportFindingsForProduct
      description: 'Disables the integration of the specified product with Security Hub. After the integration is disabled, findings from that product are no longer sent to Security Hub.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableImportFindingsForProductResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: ProductSubscriptionArn
          in: path
          required: true
          description: The ARN of the integrated product to disable the integration for.
          type: string
          pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /master/disassociate:
    post:
      operationId: DisassociateFromMasterAccount
      description: Disassociates the current Security Hub member account from the associated master account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateFromMasterAccountResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters: []
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /members/disassociate:
    post:
      operationId: DisassociateMembers
      description: Disassociates the specified member accounts from the associated master account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateMembersResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              AccountIds:
                description: The account IDs of the member accounts to disassociate from the master account.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /productSubscriptions:
    post:
      operationId: EnableImportFindingsForProduct
      description: '<p>Enables the integration of a partner product with Security Hub. Integrated products send findings to Security Hub.</p> <p>When you enable a product integration, a permission policy that grants permission for the product to send findings to Security Hub is applied.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableImportFindingsForProductResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: ResourceConflictException
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - ProductArn
            properties:
              ProductArn:
                description: The ARN of the product to enable the integration for.
                type: string
                pattern: .*\S.*
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListEnabledProductsForImport
      description: Lists all findings-generating solutions (products) that you are subscribed to receive findings from in Security Hub.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEnabledProductsForImportResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
      parameters:
        - name: NextToken
          in: query
          required: false
          description: 'Paginates results. On your first call to the <code>ListEnabledProductsForImport</code> operation, set the value of this parameter to <code>NULL</code>. For subsequent calls to the operation, to continue listing data, set <code>nextToken</code> in the request to the value of <code>NextToken</code> from the previous response.'
          type: string
        - name: MaxResults
          in: query
          required: false
          description: The maximum number of items to return in the response.
          type: integer
          minimum: 1
          maximum: 100
  /standards/get:
    post:
      operationId: GetEnabledStandards
      description: Returns a list of the standards that are currently enabled.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetEnabledStandardsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              StandardsSubscriptionArns:
                description: The list of the standards subscription ARNs for the standards to retrieve.
                type: array
                items:
                  $ref: '#/definitions/NonEmptyString'
                minItems: 1
                maxItems: 25
              NextToken:
                description: '<p>Paginates results. On your first call to the <code>GetEnabledStandards</code> operation, set the value of this parameter to <code>NULL</code>.</p> <p>For subsequent calls to the operation, to continue listing data, set <code>nextToken</code> in the request to the value of <code>nextToken</code> from the previous response.</p>'
                type: string
              MaxResults:
                description: The maximum number of results to return in the response.
                type: integer
                minimum: 1
                maximum: 100
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /findings:
    post:
      operationId: GetFindings
      description: Returns a list of findings that match the specified criteria.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetFindingsResponse'
        '480':
          description: InternalException
          schema:
            $ref: '#/definitions/InternalException'
        '481':
          description: InvalidInputException
          schema:
            $ref: '#/definitions/InvalidInputException'
        '482':
          description: InvalidAccessException
          schema:
            $ref: '#/definitions/InvalidAccessException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              Filters:
                description: A collection of attributes that are applied to all active Security Hub-aggregated findings and that result in a subset of findings that are included in this insight.
                type: object
                properties:
                  ProductArn:
                    $ref: '#/definitions/StringFilterList'
                    description: The ARN generated by Security Hub that uniquely identifies a third-party company (security findings provider) after this provider's product (solution that generates findings) is registered with Security Hub.
                  AwsAccountId:
                    $ref: '#/definitions/StringFilterList'
                    description: The AWS account ID that a finding is generated in.
                  Id:
                    $ref: '#/definitions/StringFilterList'
                    description: The security findings provider-specific identifier for a finding.
                  GeneratorId:
                    $ref: '#/definitions/StringFilterList'
                    description: 'The identifier for the solution-specific component (a discrete unit of logic) that generated a finding. In various security-findings providers'' solutions, this generator can be called a rule, a check, a detector, a plug-in, etc.'
                  Type:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding type in the format of <code>namespace/category/classifier</code> that classifies a finding.
                  FirstObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider first observed the potential security issue that a finding captured.
                  LastObservedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider most recently observed the potential security issue that a finding captured.
                  CreatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: An ISO8601-formatted timestamp that indicates when the security-findings provider captured the potential security issue that a finding captured.
                  UpdatedAt:
                    $ref: '#/definitions/DateFilterList'
                    description: 'An ISO8601-formatted timestamp that indicates when the security-findings provider last updated the finding record. '
                  SeverityProduct:
                    $ref: '#/definitions/NumberFilterList'
                    description: The native severity as defined by the security-findings provider's solution that generated the finding.
                  SeverityNormalized:
                    $ref: '#/definitions/NumberFilterList'
                    description: The normalized severity of a finding.
                  SeverityLabel:
                    $ref: '#/definitions/StringFilterList'
                    description: The label of a finding's severity.
                  Confidence:
                    $ref: '#/definitions/NumberFilterList'
                    description: '<p>A finding''s confidence. Confidence is defined as the likelihood that a finding accurately identifies the behavior or issue that it was intended to identify.</p> <p>Confidence is scored on a 0-100 basis using a ratio scale, where 0 means zero percent confidence and 100 means 100 percent confidence.</p>'
                  Criticality:
                    $ref: '#/definitions/NumberFilterList'
                    description: '<p>The level of importance assigned to the resources associated with the finding.</p> <p>A score of 0 means that the underlying resources have no criticality, and a score of 100 is reserved for the most critical resources.</p>'
                  Title:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's title.
                  Description:
                    $ref: '#/definitions/StringFilterList'
                    description: A finding's description.
                  RecommendationText:
                    $ref: '#/definitions/StringFilterList'
                    description: The recommendation of what to do about the issue described in a finding.
                  SourceUrl:
                    $ref: '#/definitions/StringFilterList'
                    description: A URL that links to a page about the current finding in the security-findings provider's solution.
                  ProductFields:
                    $ref: '#/definitions/MapFilterList'
                    description: A data type where security-findings providers can include additional solution-specific details that aren't part of the defined <code>AwsSecurityFinding</code> format.
                  ProductName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the solution (product) that generates findings.
                  CompanyName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the findings provider (company) that owns the solution (product) that generates findings.
                  UserDefinedFields:
                    $ref: '#/definitions/MapFilterList'
                    description: 'A list of name/value string pairs associated with the finding. These are custom, user-defined fields added to a finding. '
                  MalwareName:
                    $ref: '#/definitions/StringFilterList'
                    description: The name of the malware that was observed.
                  MalwareType:
                    $ref: '#/definitions/StringFilterList'
                    description: The type of the malware that was observed.
                  MalwarePath:
                    $ref: '#/definitions/StringFilterList'
                    description: The filesystem path of the malware that was observed.
                  MalwareState:
                    $ref: '#/definitions/StringFilterList'
                    description: The state of the malware that was observed.
                  NetworkDirection:
                    $ref: '#/definitions/StringFilterList'
                    description: Indicates the direction of network traffic associated with a finding.
                  NetworkProtocol:
                    $ref: '#/definitions/StringFilterList'
                    description: The protocol of network-related information about a finding.
                  NetworkSourceIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv4 address of network-related information about a finding.
                  NetworkSourceIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The source IPv6 address of network-related information about a finding.
                  NetworkSourcePort:
                    $ref: '#/definitions/NumberFilterList'
                    description: The source port of network-related information about a finding.
                  NetworkSourceDomain:
                    $ref: '#/definitions/StringFilterList'
                    description: The source domain of network-related information about a finding.
                  NetworkSourceMac:
                    $ref: '#/definitions/StringFilterList'
                    description: The source media access control (MAC) address of network-related information about a finding.
                  NetworkDestinationIpV4:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv4 address of network-related information about a finding.
                  NetworkDestinationIpV6:
                    $ref: '#/definitions/IpFilterList'
                    description: The destination IPv6 address of network-related information about a finding.
[...]
