swagger: '2.0'
schemes:
  - https
host: www.googleapis.com
basePath: /storage/v1
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Stores and retrieves potentially large, immutable data objects.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud Storage
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-apisguru-categories:
    - storage
  x-logo:
    url: 'https://cloud.google.com/storage/images/cloud-storage-logo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://www.googleapis.com/discovery/v1/apis/storage/v1/rest'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: storage
externalDocs:
  url: 'https://developers.google.com/storage/docs/json_api/'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/devstorage.full_control': Manage your data and permissions in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_only': View your data in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_write': Manage your data in Google Cloud Storage
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/cloud-platform.read-only': View your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/devstorage.full_control': Manage your data and permissions in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_only': View your data in Google Cloud Storage
      'https://www.googleapis.com/auth/devstorage.read_write': Manage your data in Google Cloud Storage
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  alt:
    default: json
    description: Data format for the response.
    enum:
      - json
    in: query
    name: alt
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.'
    in: query
    name: quotaUser
    type: string
  userIp:
    description: IP address of the site where the request originates. Use this if you want to enforce per-user limits.
    in: query
    name: userIp
    type: string
tags:
  - name: bucketAccessControls
  - name: buckets
  - name: channels
  - name: defaultObjectAccessControls
  - name: notifications
  - name: objectAccessControls
  - name: objects
  - name: projects
paths:
  /b:
    get:
      description: Retrieves a list of buckets for a given project.
      operationId: storage.buckets.list
      parameters:
        - description: A valid API project identifier.
          in: query
          name: project
          required: true
          type: string
        - default: 1000
          description: 'Maximum number of buckets to return in a single response. The service will use this parameter or 1,000 items, whichever is smaller.'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          type: string
        - description: Filter results to buckets whose names begin with this prefix.
          in: query
          name: prefix
          type: string
        - description: Set of properties to return. Defaults to noAcl.
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Buckets'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - buckets
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new bucket.
      operationId: storage.buckets.insert
      parameters:
        - description: A valid API project identifier.
          in: query
          name: project
          required: true
          type: string
        - description: Apply a predefined set of access controls to this bucket.
          enum:
            - authenticatedRead
            - private
            - projectPrivate
            - publicRead
            - publicReadWrite
          in: query
          name: predefinedAcl
          type: string
        - description: Apply a predefined set of default object access controls to this bucket.
          enum:
            - authenticatedRead
            - bucketOwnerFullControl
            - bucketOwnerRead
            - private
            - projectPrivate
            - publicRead
          in: query
          name: predefinedDefaultObjectAcl
          type: string
        - description: 'Set of properties to return. Defaults to noAcl, unless the bucket resource specifies acl or defaultObjectAcl properties, when it defaults to full.'
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Bucket'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Bucket'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - buckets
  '/b/{bucket}':
    delete:
      description: Permanently deletes an empty bucket.
      operationId: storage.buckets.delete
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If set, only deletes the bucket if its metageneration matches this value.'
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: 'If set, only deletes the bucket if its metageneration does not match this value.'
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - buckets
    get:
      description: Returns metadata for the specified bucket.
      operationId: storage.buckets.get
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: Set of properties to return. Defaults to noAcl.
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Bucket'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - buckets
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: 'Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate. This method supports patch semantics.'
      operationId: storage.buckets.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Bucket'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: Apply a predefined set of access controls to this bucket.
          enum:
            - authenticatedRead
            - private
            - projectPrivate
            - publicRead
            - publicReadWrite
          in: query
          name: predefinedAcl
          type: string
        - description: Apply a predefined set of default object access controls to this bucket.
          enum:
            - authenticatedRead
            - bucketOwnerFullControl
            - bucketOwnerRead
            - private
            - projectPrivate
            - publicRead
          in: query
          name: predefinedDefaultObjectAcl
          type: string
        - description: Set of properties to return. Defaults to full.
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Bucket'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - buckets
    put:
      description: 'Updates a bucket. Changes to the bucket will be readable immediately after writing, but configuration changes may take time to propagate.'
      operationId: storage.buckets.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Bucket'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the return of the bucket metadata conditional on whether the bucket's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: Apply a predefined set of access controls to this bucket.
          enum:
            - authenticatedRead
            - private
            - projectPrivate
            - publicRead
            - publicReadWrite
          in: query
          name: predefinedAcl
          type: string
        - description: Apply a predefined set of default object access controls to this bucket.
          enum:
            - authenticatedRead
            - bucketOwnerFullControl
            - bucketOwnerRead
            - private
            - projectPrivate
            - publicRead
          in: query
          name: predefinedDefaultObjectAcl
          type: string
        - description: Set of properties to return. Defaults to full.
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Bucket'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - buckets
  '/b/{bucket}/acl':
    get:
      description: Retrieves ACL entries on the specified bucket.
      operationId: storage.bucketAccessControls.list
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BucketAccessControls'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - bucketAccessControls
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new ACL entry on the specified bucket.
      operationId: storage.bucketAccessControls.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BucketAccessControl'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BucketAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - bucketAccessControls
  '/b/{bucket}/acl/{entity}':
    delete:
      description: Permanently deletes the ACL entry for the specified entity on the specified bucket.
      operationId: storage.bucketAccessControls.delete
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - bucketAccessControls
    get:
      description: Returns the ACL entry for the specified entity on the specified bucket.
      operationId: storage.bucketAccessControls.get
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BucketAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - bucketAccessControls
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an ACL entry on the specified bucket. This method supports patch semantics.
      operationId: storage.bucketAccessControls.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BucketAccessControl'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BucketAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - bucketAccessControls
    put:
      description: Updates an ACL entry on the specified bucket.
      operationId: storage.bucketAccessControls.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/BucketAccessControl'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/BucketAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - bucketAccessControls
  '/b/{bucket}/defaultObjectAcl':
    get:
      description: Retrieves default object ACL entries on the specified bucket.
      operationId: storage.defaultObjectAccessControls.list
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, only return default ACL listing if the bucket''s current metageneration matches this value.'
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: 'If present, only return default ACL listing if the bucket''s current metageneration does not match the given value.'
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControls'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - defaultObjectAccessControls
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new default object ACL entry on the specified bucket.
      operationId: storage.defaultObjectAccessControls.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ObjectAccessControl'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - defaultObjectAccessControls
  '/b/{bucket}/defaultObjectAcl/{entity}':
    delete:
      description: Permanently deletes the default object ACL entry for the specified entity on the specified bucket.
      operationId: storage.defaultObjectAccessControls.delete
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - defaultObjectAccessControls
    get:
      description: Returns the default object ACL entry for the specified entity on the specified bucket.
      operationId: storage.defaultObjectAccessControls.get
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - defaultObjectAccessControls
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates a default object ACL entry on the specified bucket. This method supports patch semantics.
      operationId: storage.defaultObjectAccessControls.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ObjectAccessControl'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - defaultObjectAccessControls
    put:
      description: Updates a default object ACL entry on the specified bucket.
      operationId: storage.defaultObjectAccessControls.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ObjectAccessControl'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - defaultObjectAccessControls
  '/b/{bucket}/iam':
    get:
      description: Returns an IAM policy for the specified bucket.
      operationId: storage.buckets.getIamPolicy
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - buckets
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates an IAM policy for the specified bucket.
      operationId: storage.buckets.setIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Policy'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - buckets
  '/b/{bucket}/iam/testPermissions':
    get:
      description: 'Tests a set of permissions on the given bucket to see which, if any, are held by the caller.'
      operationId: storage.buckets.testIamPermissions
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - collectionFormat: multi
          description: Permissions to test.
          in: query
          items:
            type: string
          name: permissions
          required: true
          type: array
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - buckets
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/b/{bucket}/notificationConfigs':
    get:
      description: Retrieves a list of notification subscriptions for a given bucket.
      operationId: storage.notifications.list
      parameters:
        - description: Name of a Google Cloud Storage bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Notifications'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - notifications
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a notification subscription for a given bucket.
      operationId: storage.notifications.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Notification'
        - description: The parent bucket of the notification.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Notification'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - notifications
  '/b/{bucket}/notificationConfigs/{notification}':
    delete:
      description: Permanently deletes a notification subscription.
      operationId: storage.notifications.delete
      parameters:
        - description: The parent bucket of the notification.
          in: path
          name: bucket
          required: true
          type: string
        - description: ID of the notification to delete.
          in: path
          name: notification
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - notifications
    get:
      description: View a notification configuration.
      operationId: storage.notifications.get
      parameters:
        - description: The parent bucket of the notification.
          in: path
          name: bucket
          required: true
          type: string
        - description: Notification ID
          in: path
          name: notification
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Notification'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - notifications
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/b/{bucket}/o':
    get:
      description: Retrieves a list of objects matching the criteria.
      operationId: storage.objects.list
      parameters:
        - description: Name of the bucket in which to look for objects.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.'
          in: query
          name: delimiter
          type: string
        - default: 1000
          description: 'Maximum number of items plus prefixes to return in a single page of responses. As duplicate prefixes are omitted, fewer total results may be returned than requested. The service will use this parameter or 1,000 items, whichever is smaller.'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          type: string
        - description: Filter results to objects whose names begin with this prefix.
          in: query
          name: prefix
          type: string
        - description: Set of properties to return. Defaults to noAcl.
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
        - description: 'If true, lists all versions of an object as distinct results. The default is false. For more information, see Object Versioning.'
          in: query
          name: versions
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Objects'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      consumes:
        - application/octet-stream
      description: Stores a new object and metadata.
      operationId: storage.objects.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Object'
        - description: 'Name of the bucket in which to store the new object. Overrides the provided object metadata''s bucket value, if any.'
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If set, sets the contentEncoding property of the final object to this value. Setting this parameter is equivalent to setting the contentEncoding metadata property. This can be useful when uploading an object with uploadType=media to indicate the encoding of the content being uploaded.'
          in: query
          name: contentEncoding
          type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          type: string
        - description: 'Makes the operation conditional on whether the object''s current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.'
          in: query
          name: ifGenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: 'Resource name of the Cloud KMS key, of the form projects/my-project/locations/global/keyRings/my-kr/cryptoKeys/my-key, that will be used to encrypt the object. Overrides the object metadata''s kms_key_name value, if any.'
          in: query
          name: kmsKeyName
          type: string
        - description: 'Name of the object. Required when the object metadata is not otherwise provided. Overrides the object metadata''s name value, if any. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: query
          name: name
          type: string
        - description: Apply a predefined set of access controls to this object.
          enum:
            - authenticatedRead
            - bucketOwnerFullControl
            - bucketOwnerRead
            - private
            - projectPrivate
            - publicRead
          in: query
          name: predefinedAcl
          type: string
        - description: 'Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.'
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Object'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
  '/b/{bucket}/o/watch':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Watch for changes on all objects in a bucket.
      operationId: storage.objects.watchAll
      parameters:
        - description: Name of the bucket in which to look for objects.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'Returns results in a directory-like mode. items will contain only objects whose names, aside from the prefix, do not contain delimiter. Objects whose names, aside from the prefix, contain delimiter will have their name, truncated after the delimiter, returned in prefixes. Duplicate prefixes are omitted.'
          in: query
          name: delimiter
          type: string
        - default: 1000
          description: 'Maximum number of items plus prefixes to return in a single page of responses. As duplicate prefixes are omitted, fewer total results may be returned than requested. The service will use this parameter or 1,000 items, whichever is smaller.'
          in: query
          minimum: 0
          name: maxResults
          type: integer
        - description: A previously-returned page token representing part of the larger set of results to view.
          in: query
          name: pageToken
          type: string
        - description: Filter results to objects whose names begin with this prefix.
          in: query
          name: prefix
          type: string
        - description: Set of properties to return. Defaults to noAcl.
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - in: body
          name: resource
          schema:
            $ref: '#/definitions/Channel'
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
        - description: 'If true, lists all versions of an object as distinct results. The default is false. For more information, see Object Versioning.'
          in: query
          name: versions
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Channel'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
  '/b/{bucket}/o/{object}':
    delete:
      description: 'Deletes an object and its metadata. Deletions are permanent if versioning is not enabled for the bucket, or if the generation parameter is used.'
      operationId: storage.objects.delete
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, permanently deletes a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          type: string
        - description: 'Makes the operation conditional on whether the object''s current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.'
          in: query
          name: ifGenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
    get:
      description: Retrieves an object or its metadata.
      operationId: storage.objects.get
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          type: string
        - description: 'Makes the operation conditional on whether the object''s current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.'
          in: query
          name: ifGenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: Set of properties to return. Defaults to noAcl.
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Object'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an object's metadata. This method supports patch semantics.
      operationId: storage.objects.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Object'
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          type: string
        - description: 'Makes the operation conditional on whether the object''s current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.'
          in: query
          name: ifGenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: Apply a predefined set of access controls to this object.
          enum:
            - authenticatedRead
            - bucketOwnerFullControl
            - bucketOwnerRead
            - private
            - projectPrivate
            - publicRead
          in: query
          name: predefinedAcl
          type: string
        - description: Set of properties to return. Defaults to full.
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Object'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - objects
    put:
      description: Updates an object's metadata.
      operationId: storage.objects.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Object'
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          type: string
        - description: 'Makes the operation conditional on whether the object''s current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.'
          in: query
          name: ifGenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: Apply a predefined set of access controls to this object.
          enum:
            - authenticatedRead
            - bucketOwnerFullControl
            - bucketOwnerRead
            - private
            - projectPrivate
            - publicRead
          in: query
          name: predefinedAcl
          type: string
        - description: Set of properties to return. Defaults to full.
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Object'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - objects
  '/b/{bucket}/o/{object}/acl':
    get:
      description: Retrieves ACL entries on the specified object.
      operationId: storage.objectAccessControls.list
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControls'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - objectAccessControls
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Creates a new ACL entry on the specified object.
      operationId: storage.objectAccessControls.insert
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ObjectAccessControl'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - objectAccessControls
  '/b/{bucket}/o/{object}/acl/{entity}':
    delete:
      description: Permanently deletes the ACL entry for the specified entity on the specified object.
      operationId: storage.objectAccessControls.delete
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - objectAccessControls
    get:
      description: Returns the ACL entry for the specified entity on the specified object.
      operationId: storage.objectAccessControls.get
      parameters:
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - objectAccessControls
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    patch:
      description: Updates an ACL entry on the specified object. This method supports patch semantics.
      operationId: storage.objectAccessControls.patch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ObjectAccessControl'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - objectAccessControls
    put:
      description: Updates an ACL entry on the specified object.
      operationId: storage.objectAccessControls.update
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ObjectAccessControl'
        - description: Name of a bucket.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'The entity holding the permission. Can be user-userId, user-emailAddress, group-groupId, group-emailAddress, allUsers, or allAuthenticatedUsers.'
          in: path
          name: entity
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ObjectAccessControl'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
      tags:
        - objectAccessControls
  '/b/{bucket}/o/{object}/iam':
    get:
      description: Returns an IAM policy for the specified object.
      operationId: storage.objects.getIamPolicy
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    put:
      description: Updates an IAM policy for the specified object.
      operationId: storage.objects.setIamPolicy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Policy'
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Policy'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
  '/b/{bucket}/o/{object}/iam/testPermissions':
    get:
      description: 'Tests a set of permissions on the given object to see which, if any, are held by the caller.'
      operationId: storage.objects.testIamPermissions
      parameters:
        - description: Name of the bucket in which the object resides.
          in: path
          name: bucket
          required: true
          type: string
        - description: 'If present, selects a specific revision of this object (as opposed to the latest version, the default).'
          in: query
          name: generation
          type: string
        - description: 'Name of the object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: object
          required: true
          type: string
        - collectionFormat: multi
          description: Permissions to test.
          in: query
          items:
            type: string
          name: permissions
          required: true
          type: array
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/TestIamPermissionsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform.read-only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_only'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
  '/b/{destinationBucket}/o/{destinationObject}/compose':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Concatenates a list of existing objects into a new object in the same bucket.
      operationId: storage.objects.compose
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ComposeRequest'
        - description: Name of the bucket in which to store the new object.
          in: path
          name: destinationBucket
          required: true
          type: string
        - description: 'Name of the new object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: destinationObject
          required: true
          type: string
        - description: Apply a predefined set of access controls to the destination object.
          enum:
            - authenticatedRead
            - bucketOwnerFullControl
            - bucketOwnerRead
            - private
            - projectPrivate
            - publicRead
          in: query
          name: destinationPredefinedAcl
          type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          type: string
        - description: Makes the operation conditional on whether the object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: 'Resource name of the Cloud KMS key, of the form projects/my-project/locations/global/keyRings/my-kr/cryptoKeys/my-key, that will be used to encrypt the object. Overrides the object metadata''s kms_key_name value, if any.'
          in: query
          name: kmsKeyName
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Object'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
  '/b/{sourceBucket}/o/{sourceObject}/copyTo/b/{destinationBucket}/o/{destinationObject}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Copies a source object to a destination object. Optionally overrides metadata.
      operationId: storage.objects.copy
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Object'
        - description: 'Name of the bucket in which to store the new object. Overrides the provided object metadata''s bucket value, if any.For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: destinationBucket
          required: true
          type: string
        - description: 'Name of the new object. Required when the object metadata is not otherwise provided. Overrides the object metadata''s name value, if any.'
          in: path
          name: destinationObject
          required: true
          type: string
        - description: Apply a predefined set of access controls to the destination object.
          enum:
            - authenticatedRead
            - bucketOwnerFullControl
            - bucketOwnerRead
            - private
            - projectPrivate
            - publicRead
          in: query
          name: destinationPredefinedAcl
          type: string
        - description: Makes the operation conditional on whether the destination object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          type: string
        - description: 'Makes the operation conditional on whether the destination object''s current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.'
          in: query
          name: ifGenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the destination object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the operation conditional on whether the destination object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the source object's current generation matches the given value.
          in: query
          name: ifSourceGenerationMatch
          type: string
        - description: Makes the operation conditional on whether the source object's current generation does not match the given value.
          in: query
          name: ifSourceGenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the source object's current metageneration matches the given value.
          in: query
          name: ifSourceMetagenerationMatch
          type: string
        - description: Makes the operation conditional on whether the source object's current metageneration does not match the given value.
          in: query
          name: ifSourceMetagenerationNotMatch
          type: string
        - description: 'Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.'
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: Name of the bucket in which to find the source object.
          in: path
          name: sourceBucket
          required: true
          type: string
        - description: 'If present, selects a specific revision of the source object (as opposed to the latest version, the default).'
          in: query
          name: sourceGeneration
          type: string
        - description: 'Name of the source object. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: sourceObject
          required: true
          type: string
        - description: 'The project to be billed for this request, for Requester Pays buckets.'
          in: query
          name: userProject
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Object'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.full_control'
        - Oauth2:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
          Oauth2c:
            - 'https://www.googleapis.com/auth/devstorage.read_write'
      tags:
        - objects
  '/b/{sourceBucket}/o/{sourceObject}/rewriteTo/b/{destinationBucket}/o/{destinationObject}':
    parameters:
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/userIp'
    post:
      description: Rewrites a source object to a destination object. Optionally overrides metadata.
      operationId: storage.objects.rewrite
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Object'
        - description: 'Name of the bucket in which to store the new object. Overrides the provided object metadata''s bucket value, if any.'
          in: path
          name: destinationBucket
          required: true
          type: string
        - description: 'Resource name of the Cloud KMS key, of the form projects/my-project/locations/global/keyRings/my-kr/cryptoKeys/my-key, that will be used to encrypt the object. Overrides the object metadata''s kms_key_name value, if any.'
          in: query
          name: destinationKmsKeyName
          type: string
        - description: 'Name of the new object. Required when the object metadata is not otherwise provided. Overrides the object metadata''s name value, if any. For information about how to URL encode object names to be path safe, see Encoding URI Path Parts.'
          in: path
          name: destinationObject
          required: true
          type: string
        - description: Apply a predefined set of access controls to the destination object.
          enum:
            - authenticatedRead
            - bucketOwnerFullControl
            - bucketOwnerRead
            - private
            - projectPrivate
            - publicRead
          in: query
          name: destinationPredefinedAcl
          type: string
        - description: Makes the operation conditional on whether the object's current generation matches the given value. Setting to 0 makes the operation succeed only if there are no live versions of the object.
          in: query
          name: ifGenerationMatch
          type: string
        - description: 'Makes the operation conditional on whether the object''s current generation does not match the given value. If no live object exists, the precondition fails. Setting to 0 makes the operation succeed only if there is a live version of the object.'
          in: query
          name: ifGenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the destination object's current metageneration matches the given value.
          in: query
          name: ifMetagenerationMatch
          type: string
        - description: Makes the operation conditional on whether the destination object's current metageneration does not match the given value.
          in: query
          name: ifMetagenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the source object's current generation matches the given value.
          in: query
          name: ifSourceGenerationMatch
          type: string
        - description: Makes the operation conditional on whether the source object's current generation does not match the given value.
          in: query
          name: ifSourceGenerationNotMatch
          type: string
        - description: Makes the operation conditional on whether the source object's current metageneration matches the given value.
          in: query
          name: ifSourceMetagenerationMatch
          type: string
        - description: Makes the operation conditional on whether the source object's current metageneration does not match the given value.
          in: query
          name: ifSourceMetagenerationNotMatch
          type: string
        - description: 'The maximum number of bytes that will be rewritten per rewrite request. Most callers shouldn''t need to specify this parameter - it is primarily in place to support testing. If specified the value must be an integral multiple of 1 MiB (1048576). Also, this only applies to requests where the source and destination span locations and/or storage classes. Finally, this value must not change across rewrite calls else you''ll get an error that the rewriteToken is invalid.'
          in: query
          name: maxBytesRewrittenPerCall
          type: string
        - description: 'Set of properties to return. Defaults to noAcl, unless the object resource specifies the acl property, when it defaults to full.'
          enum:
            - full
            - noAcl
          in: query
          name: projection
          type: string
        - description: 'Include this field (from the previous rewrite response) on each rewrite request after the first one, until the rewrite response ''done'' flag is true. Calls that provide a rewriteToken can omit all other request fields, but if included those fields must match the values provided in the first rewrite request.'
          in: query
          name: rewriteToken
          type: string
        - description: Name of the bucket in which to find the source object.
          in: path
          name: sourceBucket
          required: true
          type: string
[...]
