swagger: '2.0'
schemes:
  - http
  - https
host: api.fantasydata.net
basePath: /v3/nfl/projections
info:
  contact:
    x-twitter: nfldata
  description: NFL projected stats API.
  title: NFL v3 Projections
  version: '1.0'
  x-apisguru-categories:
    - entertainment
  x-logo:
    url: 'https://twitter.com/nfldata/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://fantasydata.com/downloads/swagger/nfl-v3-projections.json'
      version: '2.0'
  x-providerName: fantasydata.net
  x-serviceName: nfl-v3-projections
produces:
  - application/json
securityDefinitions:
  apiKeyHeader:
    in: header
    name: Ocp-Apim-Subscription-Key
    type: apiKey
  apiKeyQuery:
    in: query
    name: subscription-key
    type: apiKey
security:
  - apiKeyHeader: []
  - apiKeyQuery: []
paths:
  '/{format}/DfsSlatesByDate/{date}':
    get:
      operationId: DfsSlatesByDate
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            The date of the slates.
            <br>Examples: <code>2017-SEP-25</code>, <code>2017-10-31</code>.
          in: path
          name: date
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Date
  '/{format}/DfsSlatesByWeek/{season}/{week}':
    get:
      operationId: DfsSlatesByWeek
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-
            Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>
          in: path
          name: season
          required: true
          type: string
        - description: |-
            Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/DfsSlate'
            type: array
      summary: DFS Slates by Week
  '/{format}/FantasyDefenseProjectionsByGame/{season}/{week}':
    get:
      operationId: ProjectedFantasyDefenseGameStatsWDfsSalaries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/FantasyDefenseGameProjection'
            type: array
      summary: Projected Fantasy Defense Game Stats (w/ DFS Salaries)
  '/{format}/FantasyDefenseProjectionsBySeason/{season}':
    get:
      operationId: ProjectedFantasyDefenseSeasonStatsWByeWeekAdp
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/FantasyDefenseSeasonProjection'
            type: array
      summary: 'Projected Fantasy Defense Season Stats (w/ Bye Week, ADP)'
  '/{format}/PlayerGameProjectionStatsByPlayerID/{season}/{week}/{playerid}':
    get:
      operationId: ProjectedPlayerGameStatsByPlayerWInjuriesLineupsDfsSalaries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: 'Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>14257</code>.'
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayerGameProjection'
      summary: 'Projected Player Game Stats by Player (w/ Injuries, Lineups, DFS Salaries)'
  '/{format}/PlayerGameProjectionStatsByTeam/{season}/{week}/{team}':
    get:
      operationId: ProjectedPlayerGameStatsByTeamWInjuriesLineupsDfsSalaries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGameProjection'
            type: array
      summary: 'Projected Player Game Stats by Team (w/ Injuries, Lineups, DFS Salaries)'
  '/{format}/PlayerGameProjectionStatsByWeek/{season}/{week}':
    get:
      operationId: ProjectedPlayerGameStatsByWeekWInjuriesLineupsDfsSalaries
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: |-

                      Week of the season. Valid values are as follows: Preseason 0 to 4, Regular Season 1 to 17, Postseason 1 to 4.
                      Example: <code>1</code>
                    
          in: path
          name: week
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerGameProjection'
            type: array
      summary: 'Projected Player Game Stats by Week (w/ Injuries, Lineups, DFS Salaries)'
  '/{format}/PlayerSeasonProjectionStats/{season}':
    get:
      operationId: ProjectedPlayerSeasonStatsWByeWeekAdp
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonProjection'
            type: array
      summary: 'Projected Player Season Stats (w/ Bye Week, ADP)'
  '/{format}/PlayerSeasonProjectionStatsByPlayerID/{season}/{playerid}':
    get:
      operationId: ProjectedPlayerSeasonStatsByPlayerWByeWeekAdp
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: 'Each NFL player has a unique ID assigned by FantasyData. Player IDs can be determined by pulling player related data. Example:<code>14257</code>.'
          in: path
          name: playerid
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            $ref: '#/definitions/PlayerSeasonProjection'
      summary: 'Projected Player Season Stats by Player (w/ Bye Week, ADP)'
  '/{format}/PlayerSeasonProjectionStatsByTeam/{season}/{team}':
    get:
      operationId: ProjectedPlayerSeasonStatsByTeamWByeWeekAdp
      parameters:
        - default: XML
          description: Desired response format. Valid entries are <code>XML</code> or <code>JSON</code>.
          enum:
            - XML
            - JSON
          in: path
          name: format
          required: true
          type: string
        - description: |-

                      Year of the season and the season type. If no season type is provided, then the default is regular season.
                      <br>Examples: <code>2015REG</code>, <code>2015PRE</code>, <code>2015POST</code>.
                    
          in: path
          name: season
          required: true
          type: string
        - description: 'Abbreviation of the team. Example: <code>WAS</code>.'
          in: path
          name: team
          required: true
          type: string
      responses:
        '200':
          description: ''
          schema:
            items:
              $ref: '#/definitions/PlayerSeasonProjection'
            type: array
      summary: 'Projected Player Season Stats by Team (w/ Bye Week, ADP)'
definitions:
  DfsSlate:
    properties:
      DfsSlateGames:
        items:
          $ref: '#/definitions/DfsSlateGame'
        type: array
      DfsSlatePlayers:
        items:
          $ref: '#/definitions/DfsSlatePlayer'
        type: array
      IsMultiDaySlate:
        type: boolean
      NumberOfGames:
        type: integer
      Operator:
        type: string
      OperatorDay:
        type: string
      OperatorGameType:
        type: string
      OperatorName:
        type: string
      OperatorSlateID:
        type: integer
      OperatorStartTime:
        type: string
      RemovedByOperator:
        type: boolean
      SlateID:
        type: integer
  DfsSlateGame:
    properties:
      GameID:
        type: integer
      OperatorGameID:
        type: integer
      RemovedByOperator:
        type: boolean
      SlateGameID:
        type: integer
      SlateID:
        type: integer
  DfsSlatePlayer:
    properties:
      FantasyDefenseProjectionStatID:
        type: integer
      OperatorPlayerID:
        type: string
      OperatorPlayerName:
        type: string
      OperatorPosition:
        type: string
      OperatorRosterSlots:
        items:
          type: string
        type: array
      OperatorSalary:
        type: integer
      OperatorSlatePlayerID:
        type: string
      PlayerGameProjectionStatID:
        type: integer
      PlayerID:
        type: integer
      RemovedByOperator:
        type: boolean
      SlateGameID:
        type: integer
      SlateID:
        type: integer
      SlatePlayerID:
        type: integer
      Team:
        type: string
      TeamID:
        type: integer
  FantasyDefenseGameProjection:
    properties:
      AssistedTackles:
        type: number
      BlockedKickReturnTouchdowns:
        type: number
      BlockedKickReturnYards:
        type: number
      BlockedKicks:
        type: number
      Date:
        type: string
      DateTime:
        type: string
      Day:
        type: string
      DefensiveTouchdowns:
        type: number
      DraftKingsFantasyPointsAllowed:
        type: number
      DraftKingsKickerFantasyPointsAllowed:
        type: number
      DraftKingsPosition:
        type: string
      DraftKingsQuarterbackFantasyPointsAllowed:
        type: number
      DraftKingsRunningbackFantasyPointsAllowed:
        type: number
      DraftKingsSalary:
        type: integer
      DraftKingsTightEndFantasyPointsAllowed:
        type: number
      DraftKingsWideReceiverFantasyPointsAllowed:
        type: number
      FanDuelFantasyPointsAllowed:
        type: number
      FanDuelKickerFantasyPointsAllowed:
        type: number
      FanDuelPosition:
        type: string
      FanDuelQuarterbackFantasyPointsAllowed:
        type: number
      FanDuelRunningbackFantasyPointsAllowed:
        type: number
      FanDuelSalary:
        type: integer
      FanDuelTightEndFantasyPointsAllowed:
        type: number
      FanDuelWideReceiverFantasyPointsAllowed:
        type: number
      FantasyDataSalary:
        type: integer
      FantasyDefenseID:
        type: integer
      FantasyDraftFantasyPointsAllowed:
        type: number
      FantasyDraftKickerFantasyPointsAllowed:
        type: number
      FantasyDraftPosition:
        type: string
      FantasyDraftQuarterbackFantasyPointsAllowed:
        type: number
      FantasyDraftRunningbackFantasyPointsAllowed:
        type: number
      FantasyDraftSalary:
        type: integer
      FantasyDraftTightEndFantasyPointsAllowed:
        type: number
      FantasyDraftWideReceiverFantasyPointsAllowed:
        type: number
      FantasyPoints:
        type: number
      FantasyPointsAllowed:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsYahoo:
        type: number
      FieldGoalReturnTouchdowns:
        type: number
      FieldGoalReturnYards:
        type: number
      FourthDownAttempts:
        type: number
      FourthDownConversions:
        type: number
      FumbleReturnTouchdowns:
        type: number
      FumbleReturnYards:
        type: number
      FumblesForced:
        type: number
      FumblesRecovered:
        type: number
      GameKey:
        type: string
      GlobalGameID:
        type: integer
      GlobalOpponentID:
        type: integer
      GlobalTeamID:
        type: integer
      HomeOrAway:
        type: string
      Humidity:
        type: integer
      InterceptionReturnTouchdowns:
        type: number
      InterceptionReturnYards:
        type: number
      Interceptions:
        type: number
      IsGameOver:
        type: boolean
      KickReturnLong:
        type: number
      KickReturnTouchdowns:
        type: number
      KickReturnYards:
        type: number
      KickReturns:
        type: number
      KickerFantasyPointsAllowed:
        type: number
      OffensiveYardsAllowed:
        type: number
      Opponent:
        type: string
      OpponentID:
        type: integer
      OpponentPositionRank:
        type: integer
      OpponentRank:
        type: integer
      PassesDefended:
        type: number
      PlayerID:
        type: integer
      PointsAllowed:
        type: number
      PointsAllowedByDefenseSpecialTeams:
        type: number
      PuntReturnLong:
        type: number
      PuntReturnTouchdowns:
        type: number
      PuntReturnYards:
        type: number
      PuntReturns:
        type: number
      QuarterbackFantasyPointsAllowed:
        type: number
      QuarterbackHits:
        type: number
      RunningbackFantasyPointsAllowed:
        type: number
      SackYards:
        type: number
      Sacks:
        type: number
      Safeties:
        type: number
      ScoreID:
        type: integer
      ScoringDetails:
        items:
          $ref: '#/definitions/ScoringDetail'
        type: array
      Season:
        type: integer
      SeasonType:
        type: integer
      SoloTackles:
        type: number
      SpecialTeamsTouchdowns:
        type: number
      Stadium:
        type: string
      TacklesForLoss:
        type: number
      Team:
        type: string
      TeamID:
        type: integer
      Temperature:
        type: integer
      ThirdDownAttempts:
        type: number
      ThirdDownConversions:
        type: number
      TightEndFantasyPointsAllowed:
        type: number
      TouchdownsScored:
        type: number
      TwoPointConversionReturns:
        type: number
      VictivSalary:
        type: integer
      Week:
        type: integer
      WideReceiverFantasyPointsAllowed:
        type: number
      WindSpeed:
        type: integer
      YahooFantasyPointsAllowed:
        type: number
      YahooKickerFantasyPointsAllowed:
        type: number
      YahooPosition:
        type: string
      YahooQuarterbackFantasyPointsAllowed:
        type: number
      YahooRunningbackFantasyPointsAllowed:
        type: number
      YahooSalary:
        type: integer
      YahooTightEndFantasyPointsAllowed:
        type: number
      YahooWideReceiverFantasyPointsAllowed:
        type: number
  FantasyDefenseSeasonProjection:
    properties:
      AssistedTackles:
        type: number
      AuctionValue:
        type: number
      AuctionValuePPR:
        type: number
      AverageDraftPosition:
        type: number
      AverageDraftPositionPPR:
        type: number
      BlockedKickReturnTouchdowns:
        type: number
      BlockedKickReturnYards:
        type: number
      BlockedKicks:
        type: number
      DefensiveTouchdowns:
        type: number
      DraftKingsFantasyPointsAllowed:
        type: number
      DraftKingsKickerFantasyPointsAllowed:
        type: number
      DraftKingsQuarterbackFantasyPointsAllowed:
        type: number
      DraftKingsRunningbackFantasyPointsAllowed:
        type: number
      DraftKingsTightEndFantasyPointsAllowed:
        type: number
      DraftKingsWideReceiverFantasyPointsAllowed:
        type: number
      FanDuelFantasyPointsAllowed:
        type: number
      FanDuelKickerFantasyPointsAllowed:
        type: number
      FanDuelQuarterbackFantasyPointsAllowed:
        type: number
      FanDuelRunningbackFantasyPointsAllowed:
        type: number
      FanDuelTightEndFantasyPointsAllowed:
        type: number
      FanDuelWideReceiverFantasyPointsAllowed:
        type: number
      FantasyDraftFantasyPointsAllowed:
        type: number
      FantasyDraftKickerFantasyPointsAllowed:
        type: number
      FantasyDraftQuarterbackFantasyPointsAllowed:
        type: number
      FantasyDraftRunningbackFantasyPointsAllowed:
        type: number
      FantasyDraftTightEndFantasyPointsAllowed:
        type: number
      FantasyDraftWideReceiverFantasyPointsAllowed:
        type: number
      FantasyPoints:
        type: number
      FantasyPointsAllowed:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsYahoo:
        type: number
      FieldGoalReturnTouchdowns:
        type: number
      FieldGoalReturnYards:
        type: number
      FourthDownAttempts:
        type: number
      FourthDownConversions:
        type: number
      FumbleReturnTouchdowns:
        type: number
      FumbleReturnYards:
        type: number
      FumblesForced:
        type: number
      FumblesRecovered:
        type: number
      Games:
        type: integer
      GlobalTeamID:
        type: integer
      Humidity:
        type: integer
      InterceptionReturnTouchdowns:
        type: number
      InterceptionReturnYards:
        type: number
      Interceptions:
        type: number
      KickReturnLong:
        type: number
      KickReturnTouchdowns:
        type: number
      KickReturnYards:
        type: number
      KickReturns:
        type: number
      KickerFantasyPointsAllowed:
        type: number
      OffensiveYardsAllowed:
        type: number
      PassesDefended:
        type: number
      PlayerID:
        type: integer
      PointsAllowed:
        type: number
      PointsAllowedByDefenseSpecialTeams:
        type: number
      PuntReturnLong:
        type: number
      PuntReturnTouchdowns:
        type: number
      PuntReturnYards:
        type: number
      PuntReturns:
        type: number
      QuarterbackFantasyPointsAllowed:
        type: number
      QuarterbackHits:
        type: number
      RunningbackFantasyPointsAllowed:
        type: number
      SackYards:
        type: number
      Sacks:
        type: number
      Safeties:
        type: number
      ScoringDetails:
        items:
          $ref: '#/definitions/ScoringDetail'
        type: array
      Season:
        type: integer
      SeasonType:
        type: integer
      SoloTackles:
        type: number
      SpecialTeamsTouchdowns:
        type: number
      TacklesForLoss:
        type: number
      Team:
        type: string
      TeamID:
        type: integer
      Temperature:
        type: integer
      ThirdDownAttempts:
        type: number
      ThirdDownConversions:
        type: number
      TightEndFantasyPointsAllowed:
        type: number
      TouchdownsScored:
        type: number
      TwoPointConversionReturns:
        type: number
      WideReceiverFantasyPointsAllowed:
        type: number
      WindSpeed:
        type: integer
      YahooFantasyPointsAllowed:
        type: number
      YahooKickerFantasyPointsAllowed:
        type: number
      YahooQuarterbackFantasyPointsAllowed:
        type: number
      YahooRunningbackFantasyPointsAllowed:
        type: number
      YahooTightEndFantasyPointsAllowed:
        type: number
      YahooWideReceiverFantasyPointsAllowed:
        type: number
  PlayerGameProjection:
    properties:
      Activated:
        type: integer
      AssistedTackles:
        type: number
      BlockedKickReturnTouchdowns:
        type: number
      BlockedKickReturnYards:
        type: number
      BlockedKicks:
        type: number
      DateTime:
        type: string
      Day:
        type: string
      DeclaredInactive:
        type: boolean
      DefensiveSnapsPlayed:
        type: integer
      DefensiveTeamSnaps:
        type: integer
      DefensiveTouchdowns:
        type: number
      DraftKingsPosition:
        type: string
      DraftKingsSalary:
        type: integer
      ExtraPointsAttempted:
        type: number
      ExtraPointsHadBlocked:
        type: number
      ExtraPointsMade:
        type: number
      FanDuelPosition:
        type: string
      FanDuelSalary:
        type: integer
      FantasyDataSalary:
        type: integer
      FantasyDraftPosition:
        type: string
      FantasyDraftSalary:
        type: integer
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsPPR:
        type: number
      FantasyPointsYahoo:
        type: number
      FantasyPosition:
        type: string
      FieldGoalPercentage:
        type: number
      FieldGoalReturnTouchdowns:
        type: number
      FieldGoalReturnYards:
        type: number
      FieldGoalsAttempted:
        type: number
      FieldGoalsHadBlocked:
        type: number
      FieldGoalsLongestMade:
        type: number
      FieldGoalsMade:
        type: number
      FieldGoalsMade0to19:
        type: number
      FieldGoalsMade20to29:
        type: number
      FieldGoalsMade30to39:
        type: number
      FieldGoalsMade40to49:
        type: number
      FieldGoalsMade50Plus:
        type: number
      FumbleReturnTouchdowns:
        type: number
      FumbleReturnYards:
        type: number
      Fumbles:
        type: number
      FumblesForced:
        type: number
      FumblesLost:
        type: number
      FumblesOutOfBounds:
        type: number
      FumblesOwnRecoveries:
        type: number
      FumblesRecovered:
        type: number
      GameDate:
        type: string
      GameKey:
        type: string
      GlobalGameID:
        type: integer
      GlobalOpponentID:
        type: integer
      GlobalTeamID:
        type: integer
      HomeOrAway:
        type: string
      Humidity:
        type: integer
      InjuryBodyPart:
        type: string
      InjuryNotes:
        type: string
      InjuryPractice:
        type: string
      InjuryPracticeDescription:
        type: string
      InjuryStartDate:
        type: string
      InjuryStatus:
        type: string
      InterceptionReturnTouchdowns:
        type: number
      InterceptionReturnYards:
        type: number
      Interceptions:
        type: number
      IsGameOver:
        type: boolean
      KickReturnFairCatches:
        type: number
      KickReturnLong:
        type: number
      KickReturnTouchdowns:
        type: number
      KickReturnYards:
        type: number
      KickReturnYardsPerAttempt:
        type: number
      KickReturns:
        type: number
      MiscAssistedTackles:
        type: number
      MiscFumblesForced:
        type: number
      MiscFumblesRecovered:
        type: number
      MiscSoloTackles:
        type: number
      Name:
        type: string
      Number:
        type: integer
      OffensiveSnapsPlayed:
        type: integer
      OffensiveTeamSnaps:
        type: integer
      OffensiveTouchdowns:
        type: number
      Opponent:
        type: string
      OpponentID:
        type: integer
      OpponentPositionRank:
        type: integer
      OpponentRank:
        type: integer
      PassesDefended:
        type: number
      PassingAttempts:
        type: number
      PassingCompletionPercentage:
        type: number
      PassingCompletions:
        type: number
      PassingInterceptions:
        type: number
      PassingLong:
        type: number
      PassingRating:
        type: number
      PassingSackYards:
        type: number
      PassingSacks:
        type: number
      PassingTouchdowns:
        type: number
      PassingYards:
        type: number
      PassingYardsPerAttempt:
        type: number
      PassingYardsPerCompletion:
        type: number
      Played:
        type: integer
      PlayerGameID:
        type: integer
      PlayerID:
        type: integer
      PlayingSurface:
        type: string
      Position:
        type: string
      PositionCategory:
        type: string
      PuntAverage:
        type: number
      PuntInside20:
        type: number
      PuntLong:
        type: number
      PuntNetAverage:
        type: number
      PuntNetYards:
        type: number
      PuntReturnFairCatches:
        type: number
      PuntReturnLong:
        type: number
      PuntReturnTouchdowns:
        type: number
      PuntReturnYards:
        type: number
      PuntReturnYardsPerAttempt:
        type: number
      PuntReturns:
        type: number
      PuntTouchbacks:
        type: number
      PuntYards:
        type: number
      Punts:
        type: number
      PuntsHadBlocked:
        type: number
      QuarterbackHits:
        type: number
      ReceivingLong:
        type: number
      ReceivingTargets:
        type: number
      ReceivingTouchdowns:
        type: number
      ReceivingYards:
        type: number
      ReceivingYardsPerReception:
        type: number
      ReceivingYardsPerTarget:
        type: number
      ReceptionPercentage:
        type: number
      Receptions:
        type: number
      RushingAttempts:
        type: number
      RushingLong:
        type: number
      RushingTouchdowns:
        type: number
      RushingYards:
        type: number
      RushingYardsPerAttempt:
        type: number
      SackYards:
        type: number
      Sacks:
        type: number
      Safeties:
        type: number
      SafetiesAllowed:
        type: number
      ScoreID:
        type: integer
      ScoringDetails:
        items:
          $ref: '#/definitions/ScoringDetail'
        type: array
      Season:
        type: integer
      SeasonType:
        type: integer
      ShortName:
        type: string
      SoloTackles:
        type: number
      SpecialTeamsAssistedTackles:
        type: number
      SpecialTeamsFumblesForced:
        type: number
      SpecialTeamsFumblesRecovered:
        type: number
      SpecialTeamsSnapsPlayed:
        type: integer
      SpecialTeamsSoloTackles:
        type: number
      SpecialTeamsTeamSnaps:
        type: integer
      SpecialTeamsTouchdowns:
        type: number
      Stadium:
        type: string
      Started:
        type: integer
      Tackles:
        type: number
      TacklesForLoss:
        type: number
      Team:
        type: string
      TeamID:
        type: integer
      Temperature:
        type: integer
      Touchdowns:
        type: number
      TwoPointConversionPasses:
        type: number
      TwoPointConversionReceptions:
        type: number
      TwoPointConversionReturns:
        type: number
      TwoPointConversionRuns:
        type: number
      VictivSalary:
        type: integer
      Week:
        type: integer
      WindSpeed:
        type: integer
      YahooPosition:
        type: string
      YahooSalary:
        type: integer
  PlayerSeasonProjection:
    properties:
      Activated:
        type: integer
      AssistedTackles:
        type: number
      AuctionValue:
        type: number
      AuctionValuePPR:
        type: number
      AverageDraftPosition:
        type: number
      AverageDraftPositionPPR:
        type: number
      BlockedKickReturnTouchdowns:
        type: number
      BlockedKickReturnYards:
        type: number
      BlockedKicks:
        type: number
      DefensiveSnapsPlayed:
        type: integer
      DefensiveTeamSnaps:
        type: integer
      DefensiveTouchdowns:
        type: number
      ExtraPointsAttempted:
        type: number
      ExtraPointsHadBlocked:
        type: number
      ExtraPointsMade:
        type: number
      FantasyPoints:
        type: number
      FantasyPointsDraftKings:
        type: number
      FantasyPointsFanDuel:
        type: number
      FantasyPointsFantasyDraft:
        type: number
      FantasyPointsPPR:
        type: number
      FantasyPointsYahoo:
        type: number
      FantasyPosition:
        type: string
      FieldGoalPercentage:
        type: number
      FieldGoalReturnTouchdowns:
        type: number
      FieldGoalReturnYards:
        type: number
      FieldGoalsAttempted:
        type: number
      FieldGoalsHadBlocked:
        type: number
      FieldGoalsLongestMade:
        type: number
      FieldGoalsMade:
        type: number
      FieldGoalsMade0to19:
        type: number
      FieldGoalsMade20to29:
        type: number
      FieldGoalsMade30to39:
        type: number
      FieldGoalsMade40to49:
        type: number
      FieldGoalsMade50Plus:
        type: number
      FumbleReturnTouchdowns:
        type: number
      FumbleReturnYards:
        type: number
      Fumbles:
        type: number
      FumblesForced:
        type: number
      FumblesLost:
        type: number
      FumblesOutOfBounds:
        type: number
      FumblesOwnRecoveries:
        type: number
      FumblesRecovered:
        type: number
      GlobalTeamID:
        type: integer
      Humidity:
        type: integer
      InterceptionReturnTouchdowns:
        type: number
      InterceptionReturnYards:
        type: number
      Interceptions:
        type: number
      KickReturnFairCatches:
        type: number
      KickReturnLong:
        type: number
      KickReturnTouchdowns:
        type: number
      KickReturnYards:
        type: number
      KickReturnYardsPerAttempt:
        type: number
      KickReturns:
        type: number
      MiscAssistedTackles:
        type: number
      MiscFumblesForced:
        type: number
      MiscFumblesRecovered:
        type: number
      MiscSoloTackles:
        type: number
      Name:
        type: string
      Number:
        type: integer
      OffensiveSnapsPlayed:
        type: integer
      OffensiveTeamSnaps:
        type: integer
      OffensiveTouchdowns:
        type: number
      PassesDefended:
        type: number
      PassingAttempts:
        type: number
      PassingCompletionPercentage:
        type: number
      PassingCompletions:
        type: number
      PassingInterceptions:
        type: number
      PassingLong:
        type: number
      PassingRating:
        type: number
      PassingSackYards:
        type: number
      PassingSacks:
        type: number
      PassingTouchdowns:
        type: number
      PassingYards:
        type: number
      PassingYardsPerAttempt:
        type: number
      PassingYardsPerCompletion:
        type: number
      Played:
        type: integer
      PlayerID:
        type: integer
      PlayerSeasonID:
        type: integer
      Position:
        type: string
      PositionCategory:
        type: string
      PuntAverage:
        type: number
      PuntInside20:
        type: number
      PuntLong:
        type: number
      PuntNetAverage:
        type: number
      PuntNetYards:
        type: number
      PuntReturnFairCatches:
        type: number
      PuntReturnLong:
        type: number
      PuntReturnTouchdowns:
        type: number
      PuntReturnYards:
        type: number
      PuntReturnYardsPerAttempt:
        type: number
      PuntReturns:
        type: number
      PuntTouchbacks:
        type: number
      PuntYards:
        type: number
      Punts:
        type: number
      PuntsHadBlocked:
        type: number
      QuarterbackHits:
        type: number
      ReceivingLong:
        type: number
      ReceivingTargets:
        type: number
      ReceivingTouchdowns:
        type: number
      ReceivingYards:
        type: number
      ReceivingYardsPerReception:
        type: number
      ReceivingYardsPerTarget:
        type: number
      ReceptionPercentage:
        type: number
      Receptions:
        type: number
      RushingAttempts:
        type: number
      RushingLong:
        type: number
      RushingTouchdowns:
        type: number
      RushingYards:
        type: number
      RushingYardsPerAttempt:
        type: number
      SackYards:
        type: number
      Sacks:
        type: number
      Safeties:
        type: number
      SafetiesAllowed:
        type: number
      ScoringDetails:
        items:
          $ref: '#/definitions/ScoringDetail'
        type: array
      Season:
        type: integer
      SeasonType:
        type: integer
      ShortName:
        type: string
      SoloTackles:
        type: number
      SpecialTeamsAssistedTackles:
        type: number
      SpecialTeamsFumblesForced:
        type: number
      SpecialTeamsFumblesRecovered:
        type: number
      SpecialTeamsSnapsPlayed:
        type: integer
      SpecialTeamsSoloTackles:
        type: number
      SpecialTeamsTeamSnaps:
        type: integer
      SpecialTeamsTouchdowns:
        type: number
      Started:
        type: integer
      Tackles:
        type: number
      TacklesForLoss:
        type: number
      Team:
        type: string
      TeamID:
        type: integer
      Temperature:
        type: integer
      Touchdowns:
        type: number
      TwoPointConversionPasses:
        type: number
      TwoPointConversionReceptions:
        type: number
      TwoPointConversionReturns:
        type: number
      TwoPointConversionRuns:
        type: number
      WindSpeed:
        type: integer
  ScoringDetail:
    properties:
      GameKey:
        type: string
      Length:
        type: integer
      PlayerGameID:
        type: integer
      PlayerID:
        type: integer
      ScoreID:
        type: integer
      ScoringDetailID:
        type: integer
      ScoringType:
        type: string
      Season:
        type: integer
      SeasonType:
        type: integer
      Team:
        type: string
      Week:
        type: integer
