openapi: 3.0.1
servers:
  - url: https://api.twilio.com
info:
  contact:
    email: support@twilio.com
    name: Twilio Support
    url: https://support.twilio.com
  description: This is the public Twilio REST API.
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: https://www.twilio.com/legal/tos
  title: Twilio - Bulkexports
  version: 1.8.0
  x-apisguru-categories:
    - telecom
    - messaging
  x-logo:
    url: https://static1.twilio.com/marketing/bundles/marketing/img/logos/wordmark-red.svg
  x-origin:
    - format: openapi
      url: https://raw.githubusercontent.com/twilio/twilio-oai/main/spec/json/twilio_bulkexports_v1.json
      version: "3.0"
  x-providerName: twilio.com
  x-serviceName: twilio_bulkexports_v1
paths:
  "/v1/Exports/Jobs/{JobSid}":
    delete:
      description: ""
      operationId: DeleteJob
      parameters:
        - description: The unique string that that we created to identify the Bulk Export job
          in: path
          name: JobSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^JS[0-9a-fA-F]{32}$
            type: string
      responses:
        "204":
          description: The resource was deleted successfully.
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: FetchJob
      parameters:
        - description: The unique string that that we created to identify the Bulk Export job
          in: path
          name: JobSid
          required: true
          schema:
            maxLength: 34
            minLength: 34
            pattern: ^JS[0-9a-fA-F]{32}$
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkexports.v1.export.job"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://bulkexports.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/v1/Exports/{ResourceType}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Export.
      operationId: FetchExport
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkexports.v1.export"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://bulkexports.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/v1/Exports/{ResourceType}/Configuration":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Export Configuration.
      operationId: FetchExportConfiguration
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkexports.v1.export_configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: Update a specific Export Configuration.
      operationId: UpdateExportConfiguration
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Enabled:
                  description: If true, Twilio will automatically generate every day's file when the day is over.
                  type: boolean
                WebhookMethod:
                  description: Sets whether Twilio should call a webhook URL when the automatic generation is complete, using GET or POST. The actual destination is set in the webhook_url
                  type: string
                WebhookUrl:
                  description: Stores the URL destination for the method specified in webhook_method.
                  format: uri
                  type: string
              type: object
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkexports.v1.export_configuration"
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://bulkexports.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/v1/Exports/{ResourceType}/Days":
    description: "TODO: Resource-level docs"
    get:
      description: Retrieve a list of all Days for a resource.
      operationId: ListDay
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  days:
                    items:
                      $ref: "#/components/schemas/bulkexports.v1.export.day"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://bulkexports.twilio.com
    x-default-output-properties: []
    x-path-type: list
  "/v1/Exports/{ResourceType}/Days/{Day}":
    description: "TODO: Resource-level docs"
    get:
      description: Fetch a specific Day.
      operationId: FetchDay
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
        - description: The ISO 8601 format date of the resources in the file, for a UTC day
          in: path
          name: Day
          required: true
          schema:
            type: string
      responses:
        "307":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkexports.v1.export.day-instance"
          description: Temporary Redirect
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://bulkexports.twilio.com
    x-default-output-properties: []
    x-path-type: instance
  "/v1/Exports/{ResourceType}/Jobs":
    description: "TODO: Resource-level docs"
    get:
      description: ""
      operationId: ListExportCustomJob
      parameters:
        - description: The type of communication – Messages, Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
        - description: How many resources to return in each list page. The default is 50, and the maximum is 1000.
          in: query
          name: PageSize
          schema:
            maximum: 1000
            minimum: 1
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                properties:
                  jobs:
                    items:
                      $ref: "#/components/schemas/bulkexports.v1.export.export_custom_job"
                    type: array
                  meta:
                    properties:
                      first_page_url:
                        format: uri
                        type: string
                      key:
                        type: string
                      next_page_url:
                        format: uri
                        type: string
                      page:
                        type: integer
                      page_size:
                        type: integer
                      previous_page_url:
                        format: uri
                        type: string
                      url:
                        format: uri
                        type: string
                    type: object
                type: object
          description: OK
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    post:
      description: ""
      operationId: CreateExportCustomJob
      parameters:
        - description: The type of communication – Messages or Calls, Conferences, and Participants
          in: path
          name: ResourceType
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              properties:
                Email:
                  description: The optional email to send the completion notification to. You can set both webhook, and email, or one or the other. If you set neither, the job will run but you will have to query to determine your job's status.
                  type: string
                EndDay:
                  description: The end day for the custom export specified as a string in the format of yyyy-mm-dd. End day is inclusive and must be 2 days earlier than the current UTC day.
                  type: string
                FriendlyName:
                  description: The friendly name specified when creating the job
                  type: string
                StartDay:
                  description: The start day for the custom export specified as a string in the format of yyyy-mm-dd
                  type: string
                WebhookMethod:
                  description: This is the method used to call the webhook on completion of the job. If this is supplied, `WebhookUrl` must also be supplied.
                  type: string
                WebhookUrl:
                  description: The optional webhook url called on completion of the job. If this is supplied, `WebhookMethod` must also be supplied. If you set neither webhook nor email, you will have to check your job's status manually.
                  type: string
              required:
                - StartDay
                - EndDay
                - FriendlyName
              type: object
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bulkexports.v1.export.export_custom_job"
          description: Created
      security:
        - accountSid_authToken: []
      x-maturity:
        - Beta
    servers:
      - url: https://bulkexports.twilio.com
    x-default-output-properties: []
    x-path-type: list
components:
  schemas:
    bulkexports.v1.export:
      properties:
        links:
          type: object
        resource_type:
          type: string
        url:
          format: uri
          type: string
      type: object
    bulkexports.v1.export.day:
      properties:
        create_date:
          type: string
        day:
          type: string
        friendly_name:
          type: string
        resource_type:
          type: string
        size:
          type: integer
      type: object
    bulkexports.v1.export.day-instance:
      properties:
        redirect_to:
          format: uri
          type: string
      type: object
    bulkexports.v1.export.export_custom_job:
      properties:
        details:
          type: object
        email:
          type: string
        end_day:
          type: string
        friendly_name:
          type: string
        job_sid:
          maxLength: 34
          minLength: 34
          pattern: ^JS[0-9a-fA-F]{32}$
          type: string
        resource_type:
          type: string
        start_day:
          type: string
        webhook_method:
          type: string
        webhook_url:
          type: string
      type: object
    bulkexports.v1.export.job:
      properties:
        details:
          type: object
        email:
          type: string
        end_day:
          type: string
        friendly_name:
          type: string
        job_sid:
          maxLength: 34
          minLength: 34
          pattern: ^JS[0-9a-fA-F]{32}$
          type: string
        resource_type:
          type: string
        start_day:
          type: string
        url:
          format: uri
          type: string
        webhook_method:
          type: string
        webhook_url:
          type: string
      type: object
    bulkexports.v1.export_configuration:
      properties:
        enabled:
          type: boolean
        resource_type:
          type: string
        url:
          format: uri
          type: string
        webhook_method:
          type: string
        webhook_url:
          format: uri
          type: string
      type: object
  securitySchemes:
    accountSid_authToken:
      scheme: basic
      type: http
x-maturity:
  - description: PLEASE NOTE that this is a Beta product that is subject to change. Use it with caution.
    name: Beta
