openapi: 3.0.0
servers:
  - url: https://jobs.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: "Cloud Talent Solution provides the capability to create, read, update, and delete job postings, as well as search jobs based on keywords and filters. "
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Talent Solution API
  version: v3
  x-apiClientRegistration:
    url: https://console.developers.google.com
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png
  x-origin:
    - format: google
      url: https://jobs.googleapis.com/$discovery/rest?version=v3
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: jobs
externalDocs:
  url: https://cloud.google.com/talent-solution/job-search/docs/
tags:
  - name: projects
paths:
  "/v3/{name}":
    delete:
      description: Deletes the specified job. Typically, the job becomes unsearchable within 10 seconds, but it may take up to 5 minutes.
      operationId: jobs.projects.jobs.delete
      parameters:
        - description: Required. The resource name of the job to be deleted. The format is "projects/{project_id}/jobs/{job_id}", for example, "projects/api-test-project/jobs/1234".
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
    get:
      description: Retrieves the specified job, whose status is OPEN or recently EXPIRED within the last 90 days.
      operationId: jobs.projects.jobs.get
      parameters:
        - description: Required. The resource name of the job to retrieve. The format is "projects/{project_id}/jobs/{job_id}", for example, "projects/api-test-project/jobs/1234".
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates specified job. Typically, updated contents become visible in search results within 10 seconds, but it may take up to 5 minutes.
      operationId: jobs.projects.jobs.patch
      parameters:
        - description: Required during job update. The resource name for the job. This is generated by the service when a job is created. The format is "projects/{project_id}/jobs/{job_id}", for example, "projects/api-test-project/jobs/1234". Use of this field in job queries and API calls is preferred over the use of requisition_id since this value is unique.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/UpdateJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
  "/v3/{name}:complete":
    get:
      description: Completes the specified prefix with keyword suggestions. Intended for use by a job search auto-complete search box.
      operationId: jobs.projects.complete
      parameters:
        - description: Required. Resource name of project the completion is performed within. The format is "projects/{project_id}", for example, "projects/api-test-project".
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Optional. If provided, restricts completion to specified company. The format is "projects/{project_id}/companies/{company_id}", for example, "projects/api-test-project/companies/foo".
          in: query
          name: companyName
          schema:
            type: string
        - description: Deprecated. Use language_codes instead. Optional. The language of the query. This is the BCP-47 language code, such as "en-US" or "sr-Latn". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47). For CompletionType.JOB_TITLE type, only open jobs with the same language_code are returned. For CompletionType.COMPANY_NAME type, only companies having open jobs with the same language_code are returned. For CompletionType.COMBINED type, only open jobs with the same language_code or companies having open jobs with the same language_code are returned. The maximum number of allowed characters is 255.
          in: query
          name: languageCode
          schema:
            type: string
        - description: Optional. The list of languages of the query. This is the BCP-47 language code, such as "en-US" or "sr-Latn". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47). For CompletionType.JOB_TITLE type, only open jobs with the same language_codes are returned. For CompletionType.COMPANY_NAME type, only companies having open jobs with the same language_codes are returned. For CompletionType.COMBINED type, only open jobs with the same language_codes or companies having open jobs with the same language_codes are returned. The maximum number of allowed characters is 255.
          explode: true
          in: query
          name: languageCodes
          schema:
            items:
              type: string
            type: array
          style: form
        - description: Required. Completion result count. The maximum allowed page size is 10.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Required. The query used to generate suggestions. The maximum number of allowed characters is 255.
          in: query
          name: query
          schema:
            type: string
        - description: Optional. The scope of the completion. The defaults is CompletionScope.PUBLIC.
          in: query
          name: scope
          schema:
            enum:
              - COMPLETION_SCOPE_UNSPECIFIED
              - TENANT
              - PUBLIC
            type: string
        - description: Optional. The completion topic. The default is CompletionType.COMBINED.
          in: query
          name: type
          schema:
            enum:
              - COMPLETION_TYPE_UNSPECIFIED
              - JOB_TITLE
              - COMPANY_NAME
              - COMBINED
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CompleteQueryResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v3/{parent}/clientEvents":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Report events issued when end user interacts with customer's application that uses Cloud Talent Solution. You may inspect the created events in [self service tools](https://console.cloud.google.com/talent-solution/overview). [Learn more](https://cloud.google.com/talent-solution/docs/management-tools) about self service tools.
      operationId: jobs.projects.clientEvents.create
      parameters:
        - description: Parent project name.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateClientEventRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ClientEvent"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
  "/v3/{parent}/companies":
    get:
      description: Lists all companies associated with the service account.
      operationId: jobs.projects.companies.list
      parameters:
        - description: Required. Resource name of the project under which the company is created. The format is "projects/{project_id}", for example, "projects/api-test-project".
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of companies to be returned, at most 100. Default is 100 if a non-positive number is provided.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The starting indicator from which to return results.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Optional. Set to true if the companies requested must have open jobs. Defaults to false. If true, at most page_size of companies are fetched, among which only those with open jobs are returned.
          in: query
          name: requireOpenJobs
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListCompaniesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new company entity.
      operationId: jobs.projects.companies.create
      parameters:
        - description: Required. Resource name of the project under which the company is created. The format is "projects/{project_id}", for example, "projects/api-test-project".
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCompanyRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Company"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
  "/v3/{parent}/jobs":
    get:
      description: Lists jobs by filter.
      operationId: jobs.projects.jobs.list
      parameters:
        - description: Required. The resource name of the project under which the job is created. The format is "projects/{project_id}", for example, "projects/api-test-project".
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Required. The filter string specifies the jobs to be enumerated. Supported operator: =, AND The fields eligible for filtering are: * `companyName` * `requisitionId` * `status` Available values: OPEN, EXPIRED, ALL. Defaults to OPEN if no value is specified. At least one of `companyName` and `requisitionId` must present or an INVALID_ARGUMENT error is thrown. Sample Query: * companyName = "projects/api-test-project/companies/123" * companyName = "projects/api-test-project/companies/123" AND requisitionId = "req-1" * companyName = "projects/api-test-project/companies/123" AND status = "EXPIRED" * requisitionId = "req-1" * requisitionId = "req-1" AND status = "EXPIRED"'
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. The desired job attributes returned for jobs in the search response. Defaults to JobView.JOB_VIEW_FULL if no value is specified.
          in: query
          name: jobView
          schema:
            enum:
              - JOB_VIEW_UNSPECIFIED
              - JOB_VIEW_ID_ONLY
              - JOB_VIEW_MINIMAL
              - JOB_VIEW_SMALL
              - JOB_VIEW_FULL
            type: string
        - description: Optional. The maximum number of jobs to be returned per page of results. If job_view is set to JobView.JOB_VIEW_ID_ONLY, the maximum allowed page size is 1000. Otherwise, the maximum allowed page size is 100. Default is 100 if empty or a number < 1 is specified.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The starting point of a query result.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListJobsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new job. Typically, the job becomes searchable within 10 seconds, but it may take up to 5 minutes.
      operationId: jobs.projects.jobs.create
      parameters:
        - description: Required. The resource name of the project under which the job is created. The format is "projects/{project_id}", for example, "projects/api-test-project".
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateJobRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Job"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
  "/v3/{parent}/jobs:batchDelete":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Deletes a list of Jobs by filter.
      operationId: jobs.projects.jobs.batchDelete
      parameters:
        - description: Required. The resource name of the project under which the job is created. The format is "projects/{project_id}", for example, "projects/api-test-project".
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BatchDeleteJobsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
  "/v3/{parent}/jobs:search":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Searches for jobs using the provided SearchJobsRequest. This call constrains the visibility of jobs present in the database, and only returns jobs that the caller has permission to search against.
      operationId: jobs.projects.jobs.search
      parameters:
        - description: Required. The resource name of the project to search within. The format is "projects/{project_id}", for example, "projects/api-test-project".
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchJobsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchJobsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
  "/v3/{parent}/jobs:searchForAlert":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Searches for jobs using the provided SearchJobsRequest. This API call is intended for the use case of targeting passive job seekers (for example, job seekers who have signed up to receive email alerts about potential job opportunities), and has different algorithmic adjustments that are targeted to passive job seekers. This call constrains the visibility of jobs present in the database, and only returns jobs the caller has permission to search against.
      operationId: jobs.projects.jobs.searchForAlert
      parameters:
        - description: Required. The resource name of the project to search within. The format is "projects/{project_id}", for example, "projects/api-test-project".
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchJobsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchJobsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
        - Oauth2:
            - https://www.googleapis.com/auth/jobs
          Oauth2c:
            - https://www.googleapis.com/auth/jobs
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    ApplicationInfo:
      description: Application related details of a job posting.
      properties:
        emails:
          description: Optional but at least one of uris, emails or instruction must be specified. Use this field to specify email address(es) to which resumes or applications can be sent. The maximum number of allowed characters for each entry is 255.
          items:
            type: string
          type: array
        instruction:
          description: Optional but at least one of uris, emails or instruction must be specified. Use this field to provide instructions, such as "Mail your application to ...", that a candidate can follow to apply for the job. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 3,000.
          type: string
        uris:
          description: Optional but at least one of uris, emails or instruction must be specified. Use this URI field to direct an applicant to a website, for example to link to an online application form. The maximum number of allowed characters for each entry is 2,000.
          items:
            type: string
          type: array
      type: object
    BatchDeleteJobsRequest:
      description: Input only. Batch delete jobs request.
      properties:
        filter:
          description: 'Required. The filter string specifies the jobs to be deleted. Supported operator: =, AND The fields eligible for filtering are: * `companyName` (Required) * `requisitionId` (Required) Sample Query: companyName = "projects/api-test-project/companies/123" AND requisitionId = "req-1"'
          type: string
      type: object
    BucketRange:
      description: Represents starting and ending value of a range in double.
      properties:
        from:
          description: Starting value of the bucket range.
          format: double
          type: number
        to:
          description: Ending value of the bucket range.
          format: double
          type: number
      type: object
    BucketizedCount:
      description: Represents count of jobs within one bucket.
      properties:
        count:
          description: Number of jobs whose numeric field value fall into `range`.
          format: int32
          type: integer
        range:
          $ref: "#/components/schemas/BucketRange"
          description: Bucket range on which histogram was performed for the numeric field, that is, the count represents number of jobs in this range.
      type: object
    ClientEvent:
      description: An event issued when an end user interacts with the application that implements Cloud Talent Solution. Providing this information improves the quality of search and recommendation for the API clients, enabling the service to perform optimally. The number of events sent must be consistent with other calls, such as job searches, issued to the service by the client.
      properties:
        createTime:
          description: Required. The timestamp of the event.
          format: google-datetime
          type: string
        eventId:
          description: Required. A unique identifier, generated by the client application. This `event_id` is used to establish the relationship between different events (see parent_event_id).
          type: string
        extraInfo:
          additionalProperties:
            type: string
          description: Optional. Extra information about this event. Used for storing information with no matching field in event payload, for example, user application specific context or details. At most 20 keys are supported. The maximum total size of all keys and values is 2 KB.
          type: object
        jobEvent:
          $ref: "#/components/schemas/JobEvent"
          description: A event issued when a job seeker interacts with the application that implements Cloud Talent Solution.
        parentEventId:
          description: "Optional. The event_id of an event that resulted in the current event. For example, a Job view event usually follows a parent impression event: A job seeker first does a search where a list of jobs appears (impression). The job seeker then selects a result and views the description of a particular job (Job view)."
          type: string
        requestId:
          description: Required. A unique ID generated in the API responses. It can be found in ResponseMetadata.request_id.
          type: string
      type: object
    CommuteFilter:
      description: Input only. Parameters needed for commute search.
      properties:
        allowImpreciseAddresses:
          description: 'Optional. If true, jobs without "precise" addresses (street level addresses or GPS coordinates) might also be returned. For city and coarser level addresses, text matching is used. If this field is set to false or is not specified, only jobs that include precise addresses are returned by Commute Search. Note: If `allow_imprecise_addresses` is set to true, Commute Search is not able to calculate accurate commute times to jobs with city level and coarser address information. Jobs with imprecise addresses will return a `travel_duration` time of 0 regardless of distance from the job seeker.'
          type: boolean
        commuteMethod:
          description: Required. The method of transportation for which to calculate the commute time.
          enum:
            - COMMUTE_METHOD_UNSPECIFIED
            - DRIVING
            - TRANSIT
          type: string
        departureTime:
          $ref: "#/components/schemas/TimeOfDay"
          description: Optional. The departure time used to calculate traffic impact, represented as google.type.TimeOfDay in local time zone. Currently traffic model is restricted to hour level resolution.
        roadTraffic:
          description: Optional. Specifies the traffic density to use when calculating commute time.
          enum:
            - ROAD_TRAFFIC_UNSPECIFIED
            - TRAFFIC_FREE
            - BUSY_HOUR
          type: string
        startCoordinates:
          $ref: "#/components/schemas/LatLng"
          description: Required. The latitude and longitude of the location from which to calculate the commute time.
        travelDuration:
          description: Required. The maximum travel time in seconds. The maximum allowed value is `3600s` (one hour). Format is `123s`.
          format: google-duration
          type: string
      type: object
    CommuteInfo:
      description: Output only. Commute details related to this job.
      properties:
        jobLocation:
          $ref: "#/components/schemas/Location"
          description: Location used as the destination in the commute calculation.
        travelDuration:
          description: The number of seconds required to travel to the job location from the query location. A duration of 0 seconds indicates that the job is not reachable within the requested duration, but was returned as part of an expanded query.
          format: google-duration
          type: string
      type: object
    Company:
      description: A Company resource represents a company in the service. A company is the entity that owns job postings, that is, the hiring entity responsible for employing applicants for the job position.
      properties:
        careerSiteUri:
          description: Optional. The URI to employer's career site or careers page on the employer's web site, for example, "https://careers.google.com".
          type: string
        derivedInfo:
          $ref: "#/components/schemas/CompanyDerivedInfo"
          description: Output only. Derived details about the company.
        displayName:
          description: Required. The display name of the company, for example, "Google LLC".
          type: string
        eeoText:
          description: Optional. Equal Employment Opportunity legal disclaimer text to be associated with all jobs, and typically to be displayed in all roles. The maximum number of allowed characters is 500.
          type: string
        externalId:
          description: Required. Client side company identifier, used to uniquely identify the company. The maximum number of allowed characters is 255.
          type: string
        headquartersAddress:
          description: Optional. The street address of the company's main headquarters, which may be different from the job location. The service attempts to geolocate the provided address, and populates a more specific location wherever possible in DerivedInfo.headquarters_location.
          type: string
        hiringAgency:
          description: Optional. Set to true if it is the hiring agency that post jobs for other employers. Defaults to false if not provided.
          type: boolean
        imageUri:
          description: Optional. A URI that hosts the employer's company logo.
          type: string
        keywordSearchableJobCustomAttributes:
          description: Optional. This field is deprecated. Please set the searchability of the custom attribute in the Job.custom_attributes going forward. A list of keys of filterable Job.custom_attributes, whose corresponding `string_values` are used in keyword search. Jobs with `string_values` under these specified field keys are returned if any of the values matches the search keyword. Custom field values with parenthesis, brackets and special symbols won't be properly searchable, and those keyword queries need to be surrounded by quotes.
          items:
            type: string
          type: array
        name:
          description: Required during company update. The resource name for a company. This is generated by the service when a company is created. The format is "projects/{project_id}/companies/{company_id}", for example, "projects/api-test-project/companies/foo".
          type: string
        size:
          description: Optional. The employer's company size.
          enum:
            - COMPANY_SIZE_UNSPECIFIED
            - MINI
            - SMALL
            - SMEDIUM
            - MEDIUM
            - BIG
            - BIGGER
            - GIANT
          type: string
        suspended:
          description: Output only. Indicates whether a company is flagged to be suspended from public availability by the service when job content appears suspicious, abusive, or spammy.
          type: boolean
        websiteUri:
          description: Optional. The URI representing the company's primary web site or home page, for example, "https://www.google.com". The maximum number of allowed characters is 255.
          type: string
      type: object
    CompanyDerivedInfo:
      description: Derived details about the company.
      properties:
        headquartersLocation:
          $ref: "#/components/schemas/Location"
          description: A structured headquarters location of the company, resolved from Company.hq_location if provided.
      type: object
    CompensationEntry:
      description: "A compensation entry that represents one component of compensation, such as base pay, bonus, or other compensation type. Annualization: One compensation entry can be annualized if - it contains valid amount or range. - and its expected_units_per_year is set or can be derived. Its annualized range is determined as (amount or range) times expected_units_per_year."
      properties:
        amount:
          $ref: "#/components/schemas/Money"
          description: Optional. Compensation amount.
        description:
          description: Optional. Compensation description. For example, could indicate equity terms or provide additional context to an estimated bonus.
          type: string
        expectedUnitsPerYear:
          description: "Optional. Expected number of units paid each year. If not specified, when Job.employment_types is FULLTIME, a default value is inferred based on unit. Default values: - HOURLY: 2080 - DAILY: 260 - WEEKLY: 52 - MONTHLY: 12 - ANNUAL: 1"
          format: double
          type: number
        range:
          $ref: "#/components/schemas/CompensationRange"
          description: Optional. Compensation range.
        type:
          description: Optional. Compensation type. Default is CompensationUnit.COMPENSATION_TYPE_UNSPECIFIED.
          enum:
            - COMPENSATION_TYPE_UNSPECIFIED
            - BASE
            - BONUS
            - SIGNING_BONUS
            - EQUITY
            - PROFIT_SHARING
            - COMMISSIONS
            - TIPS
            - OTHER_COMPENSATION_TYPE
          type: string
        unit:
          description: Optional. Frequency of the specified amount. Default is CompensationUnit.COMPENSATION_UNIT_UNSPECIFIED.
          enum:
            - COMPENSATION_UNIT_UNSPECIFIED
            - HOURLY
            - DAILY
            - WEEKLY
            - MONTHLY
            - YEARLY
            - ONE_TIME
            - OTHER_COMPENSATION_UNIT
          type: string
      type: object
    CompensationFilter:
      description: Input only. Filter on job compensation type and amount.
      properties:
        includeJobsWithUnspecifiedCompensationRange:
          description: Optional. If set to true, jobs with unspecified compensation range fields are included.
          type: boolean
        range:
          $ref: "#/components/schemas/CompensationRange"
          description: Optional. Compensation range.
        type:
          description: Required. Type of filter.
          enum:
            - FILTER_TYPE_UNSPECIFIED
            - UNIT_ONLY
            - UNIT_AND_AMOUNT
            - ANNUALIZED_BASE_AMOUNT
            - ANNUALIZED_TOTAL_AMOUNT
          type: string
        units:
          description: Required. Specify desired `base compensation entry's` CompensationInfo.CompensationUnit.
          items:
            enum:
              - COMPENSATION_UNIT_UNSPECIFIED
              - HOURLY
              - DAILY
              - WEEKLY
              - MONTHLY
              - YEARLY
              - ONE_TIME
              - OTHER_COMPENSATION_UNIT
            type: string
          type: array
      type: object
    CompensationHistogramRequest:
      description: Input only. Compensation based histogram request.
      properties:
        bucketingOption:
          $ref: "#/components/schemas/NumericBucketingOption"
          description: Required. Numeric histogram options, like buckets, whether include min or max value.
        type:
          description: Required. Type of the request, representing which field the histogramming should be performed over. A single request can only specify one histogram of each `CompensationHistogramRequestType`.
          enum:
            - COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED
            - BASE
            - ANNUALIZED_BASE
            - ANNUALIZED_TOTAL
          type: string
      type: object
    CompensationHistogramResult:
      description: Output only. Compensation based histogram result.
      properties:
        result:
          $ref: "#/components/schemas/NumericBucketingResult"
          description: Histogram result.
        type:
          description: Type of the request, corresponding to CompensationHistogramRequest.type.
          enum:
            - COMPENSATION_HISTOGRAM_REQUEST_TYPE_UNSPECIFIED
            - BASE
            - ANNUALIZED_BASE
            - ANNUALIZED_TOTAL
          type: string
      type: object
    CompensationInfo:
      description: Job compensation details.
      properties:
        annualizedBaseCompensationRange:
          $ref: "#/components/schemas/CompensationRange"
          description: Output only. Annualized base compensation range. Computed as base compensation entry's CompensationEntry.compensation times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization.
        annualizedTotalCompensationRange:
          $ref: "#/components/schemas/CompensationRange"
          description: Output only. Annualized total compensation range. Computed as all compensation entries' CompensationEntry.compensation times CompensationEntry.expected_units_per_year. See CompensationEntry for explanation on compensation annualization.
        entries:
          description: Optional. Job compensation information. At most one entry can be of type CompensationInfo.CompensationType.BASE, which is referred as ** base compensation entry ** for the job.
          items:
            $ref: "#/components/schemas/CompensationEntry"
          type: array
      type: object
    CompensationRange:
      description: Compensation range.
      properties:
        maxCompensation:
          $ref: "#/components/schemas/Money"
          description: Optional. The maximum amount of compensation. If left empty, the value is set to a maximal compensation value and the currency code is set to match the currency code of min_compensation.
        minCompensation:
          $ref: "#/components/schemas/Money"
          description: Optional. The minimum amount of compensation. If left empty, the value is set to zero and the currency code is set to match the currency code of max_compensation.
      type: object
    CompleteQueryResponse:
      description: Output only. Response of auto-complete query.
      properties:
        completionResults:
          description: Results of the matching job/company candidates.
          items:
            $ref: "#/components/schemas/CompletionResult"
          type: array
        metadata:
          $ref: "#/components/schemas/ResponseMetadata"
          description: Additional information for the API invocation, such as the request tracking id.
      type: object
    CompletionResult:
      description: Output only. Resource that represents completion results.
      properties:
        imageUri:
          description: The URI of the company image for CompletionType.COMPANY_NAME.
          type: string
        suggestion:
          description: The suggestion for the query.
          type: string
        type:
          description: The completion topic.
          enum:
            - COMPLETION_TYPE_UNSPECIFIED
            - JOB_TITLE
            - COMPANY_NAME
            - COMBINED
          type: string
      type: object
    CreateClientEventRequest:
      description: The report event request.
      properties:
        clientEvent:
          $ref: "#/components/schemas/ClientEvent"
          description: Required. Events issued when end user interacts with customer's application that uses Cloud Talent Solution.
      type: object
    CreateCompanyRequest:
      description: Input only. The Request of the CreateCompany method.
      properties:
        company:
          $ref: "#/components/schemas/Company"
          description: Required. The company to be created.
      type: object
    CreateJobRequest:
      description: Input only. Create job request.
      properties:
        job:
          $ref: "#/components/schemas/Job"
          description: Required. The Job to be created.
      type: object
    CustomAttribute:
      description: Custom attribute values that are either filterable or non-filterable.
      properties:
        filterable:
          description: Optional. If the `filterable` flag is true, the custom field values may be used for custom attribute filters JobQuery.custom_attribute_filter. If false, these values may not be used for custom attribute filters. Default is false.
          type: boolean
        longValues:
          description: Optional but exactly one of string_values or long_values must be specified. This field is used to perform number range search. (`EQ`, `GT`, `GE`, `LE`, `LT`) over filterable `long_value`. Currently at most 1 long_values is supported.
          items:
            format: int64
            type: string
          type: array
        stringValues:
          description: Optional but exactly one of string_values or long_values must be specified. This field is used to perform a string match (`CASE_SENSITIVE_MATCH` or `CASE_INSENSITIVE_MATCH`) search. For filterable `string_value`s, a maximum total number of 200 values is allowed, with each `string_value` has a byte size of no more than 500B. For unfilterable `string_values`, the maximum total byte size of unfilterable `string_values` is 50KB. Empty string is not allowed.
          items:
            type: string
          type: array
      type: object
    CustomAttributeHistogramRequest:
      description: Custom attributes histogram request. An error is thrown if neither string_value_histogram or long_value_histogram_bucketing_option has been defined.
      properties:
        key:
          description: Required. Specifies the custom field key to perform a histogram on. If specified without `long_value_histogram_bucketing_option`, histogram on string values of the given `key` is triggered, otherwise histogram is performed on long values.
          type: string
        longValueHistogramBucketingOption:
          $ref: "#/components/schemas/NumericBucketingOption"
          description: Optional. Specifies buckets used to perform a range histogram on Job's filterable long custom field values, or min/max value requirements.
        stringValueHistogram:
          description: Optional. If set to true, the response includes the histogram value for each key as a string.
          type: boolean
      type: object
    CustomAttributeHistogramResult:
      description: Output only. Custom attribute histogram result.
      properties:
        key:
          description: Stores the key of custom attribute the histogram is performed on.
          type: string
        longValueHistogramResult:
          $ref: "#/components/schemas/NumericBucketingResult"
          description: Stores bucketed histogram counting result or min/max values for custom attribute long values associated with `key`.
        stringValueHistogramResult:
          additionalProperties:
            format: int32
            type: integer
          description: Stores a map from the values of string custom field associated with `key` to the number of jobs with that value in this histogram result.
          type: object
      type: object
    DeviceInfo:
      description: Device information collected from the job seeker, candidate, or other entity conducting the job search. Providing this information improves the quality of the search results across devices.
      properties:
        deviceType:
          description: Optional. Type of the device.
          enum:
            - DEVICE_TYPE_UNSPECIFIED
            - WEB
            - MOBILE_WEB
            - ANDROID
            - IOS
            - BOT
            - OTHER
          type: string
        id:
          description: Optional. A device-specific ID. The ID must be a unique identifier that distinguishes the device from other devices.
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); }"
      properties: {}
      type: object
    HistogramFacets:
      description: Input only. Histogram facets to be specified in SearchJobsRequest.
      properties:
        compensationHistogramFacets:
          description: Optional. Specifies compensation field-based histogram requests. Duplicate values of CompensationHistogramRequest.type are not allowed.
          items:
            $ref: "#/components/schemas/CompensationHistogramRequest"
          type: array
        customAttributeHistogramFacets:
          description: Optional. Specifies the custom attributes histogram requests. Duplicate values of CustomAttributeHistogramRequest.key are not allowed.
          items:
            $ref: "#/components/schemas/CustomAttributeHistogramRequest"
          type: array
        simpleHistogramFacets:
          description: Optional. Specifies the simple type of histogram facets, for example, `COMPANY_SIZE`, `EMPLOYMENT_TYPE` etc.
          items:
            enum:
              - SEARCH_TYPE_UNSPECIFIED
              - COMPANY_ID
              - EMPLOYMENT_TYPE
              - COMPANY_SIZE
              - DATE_PUBLISHED
              - EDUCATION_LEVEL
              - EXPERIENCE_LEVEL
              - ADMIN_1
              - COUNTRY
              - CITY
              - LOCALE
              - LANGUAGE
              - CATEGORY
              - CITY_COORDINATE
              - ADMIN_1_COUNTRY
              - COMPANY_DISPLAY_NAME
              - BASE_COMPENSATION_UNIT
            type: string
          type: array
      type: object
    HistogramResult:
      description: Output only. Result of a histogram call. The response contains the histogram map for the search type specified by HistogramResult.field. The response is a map of each filter value to the corresponding count of jobs for that filter.
      properties:
        searchType:
          description: The Histogram search filters.
          enum:
            - SEARCH_TYPE_UNSPECIFIED
            - COMPANY_ID
            - EMPLOYMENT_TYPE
            - COMPANY_SIZE
            - DATE_PUBLISHED
            - EDUCATION_LEVEL
            - EXPERIENCE_LEVEL
            - ADMIN_1
            - COUNTRY
            - CITY
            - LOCALE
            - LANGUAGE
            - CATEGORY
            - CITY_COORDINATE
            - ADMIN_1_COUNTRY
            - COMPANY_DISPLAY_NAME
            - BASE_COMPENSATION_UNIT
          type: string
        values:
          additionalProperties:
            format: int32
            type: integer
          description: "A map from the values of field to the number of jobs with that value in this search result. Key: search type (filter names, such as the companyName). Values: the count of jobs that match the filter for this search."
          type: object
      type: object
    HistogramResults:
      description: Output only. Histogram results that match HistogramFacets specified in SearchJobsRequest.
      properties:
        compensationHistogramResults:
          description: Specifies compensation field-based histogram results that match HistogramFacets.compensation_histogram_requests.
          items:
            $ref: "#/components/schemas/CompensationHistogramResult"
          type: array
        customAttributeHistogramResults:
          description: Specifies histogram results for custom attributes that match HistogramFacets.custom_attribute_histogram_facets.
          items:
            $ref: "#/components/schemas/CustomAttributeHistogramResult"
          type: array
        simpleHistogramResults:
          description: Specifies histogram results that matches HistogramFacets.simple_histogram_facets.
          items:
            $ref: "#/components/schemas/HistogramResult"
          type: array
      type: object
    Job:
      description: A Job resource represents a job posting (also referred to as a "job listing" or "job requisition"). A job belongs to a Company, which is the hiring entity responsible for the job.
      properties:
        addresses:
          description: Optional but strongly recommended for the best service experience. Location(s) where the employer is looking to hire for this job posting. Specifying the full street address(es) of the hiring location enables better API results, especially job searches by commute time. At most 50 locations are allowed for best search performance. If a job has more locations, it is suggested to split it into multiple jobs with unique requisition_ids (e.g. 'ReqA' becomes 'ReqA-1', 'ReqA-2', etc.) as multiple jobs with the same company_name, language_code and requisition_id are not allowed. If the original requisition_id must be preserved, a custom field should be used for storage. It is also suggested to group the locations that close to each other in the same job for better search experience. Jobs with multiple addresses must have their addresses with the same LocationType to allow location filtering to work properly. (For example, a Job with addresses "1600 Amphitheatre Parkway, Mountain View, CA, USA" and "London, UK" may not have location filters applied correctly at search time since the first is a LocationType.STREET_ADDRESS and the second is a LocationType.LOCALITY.) If a job needs to have multiple addresses, it is suggested to split it into multiple jobs with same LocationTypes. The maximum number of allowed characters is 500.
          items:
            type: string
          type: array
        applicationInfo:
          $ref: "#/components/schemas/ApplicationInfo"
          description: Required. At least one field within ApplicationInfo must be specified. Job application information.
        companyDisplayName:
          description: Output only. Display name of the company listing the job.
          type: string
        companyName:
          description: Required. The resource name of the company listing the job, such as "projects/api-test-project/companies/foo".
          type: string
        compensationInfo:
          $ref: "#/components/schemas/CompensationInfo"
          description: Optional. Job compensation information.
        customAttributes:
          additionalProperties:
            $ref: "#/components/schemas/CustomAttribute"
          description: "Optional. A map of fields to hold both filterable and non-filterable custom job attributes that are not covered by the provided structured fields. The keys of the map are strings up to 64 bytes and must match the pattern: a-zA-Z*. For example, key0LikeThis or KEY_1_LIKE_THIS. At most 100 filterable and at most 100 unfilterable keys are supported. For filterable `string_values`, across all keys at most 200 values are allowed, with each string no more than 255 characters. For unfilterable `string_values`, the maximum total size of `string_values` across all keys is 50KB."
          type: object
        degreeTypes:
          description: Optional. The desired education degrees for the job, such as Bachelors, Masters.
          items:
            enum:
              - DEGREE_TYPE_UNSPECIFIED
              - PRIMARY_EDUCATION
              - LOWER_SECONDARY_EDUCATION
              - UPPER_SECONDARY_EDUCATION
              - ADULT_REMEDIAL_EDUCATION
              - ASSOCIATES_OR_EQUIVALENT
              - BACHELORS_OR_EQUIVALENT
              - MASTERS_OR_EQUIVALENT
              - DOCTORAL_OR_EQUIVALENT
            type: string
          type: array
        department:
          description: Optional. The department or functional area within the company with the open position. The maximum number of allowed characters is 255.
          type: string
        derivedInfo:
          $ref: "#/components/schemas/JobDerivedInfo"
          description: Output only. Derived details about the job posting.
        description:
          description: Required. The description of the job, which typically includes a multi-paragraph description of the company and related information. Separate fields are provided on the job object for responsibilities, qualifications, and other job characteristics. Use of these separate job fields is recommended. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 100,000.
          type: string
        employmentTypes:
          description: Optional. The employment type(s) of a job, for example, full time or part time.
          items:
            enum:
              - EMPLOYMENT_TYPE_UNSPECIFIED
              - FULL_TIME
              - PART_TIME
              - CONTRACTOR
              - CONTRACT_TO_HIRE
              - TEMPORARY
              - INTERN
              - VOLUNTEER
              - PER_DIEM
              - FLY_IN_FLY_OUT
              - OTHER_EMPLOYMENT_TYPE
            type: string
          type: array
        incentives:
          description: Optional. A description of bonus, commission, and other compensation incentives associated with the job not including salary or pay. The maximum number of allowed characters is 10,000.
          type: string
        jobBenefits:
          description: Optional. The benefits included with the job.
          items:
            enum:
              - JOB_BENEFIT_UNSPECIFIED
              - CHILD_CARE
              - DENTAL
              - DOMESTIC_PARTNER
              - FLEXIBLE_HOURS
              - MEDICAL
              - LIFE_INSURANCE
              - PARENTAL_LEAVE
              - RETIREMENT_PLAN
              - SICK_DAYS
              - VACATION
              - VISION
            type: string
          type: array
        jobEndTime:
          description: Optional. The end timestamp of the job. Typically this field is used for contracting engagements. Invalid timestamps are ignored.
          format: google-datetime
          type: string
        jobLevel:
          description: Optional. The experience level associated with the job, such as "Entry Level".
          enum:
            - JOB_LEVEL_UNSPECIFIED
            - ENTRY_LEVEL
            - EXPERIENCED
            - MANAGER
            - DIRECTOR
            - EXECUTIVE
          type: string
        jobStartTime:
          description: Optional. The start timestamp of the job in UTC time zone. Typically this field is used for contracting engagements. Invalid timestamps are ignored.
          format: google-datetime
          type: string
        languageCode:
          description: "Optional. The language of the posting. This field is distinct from any requirements for fluency that are associated with the job. Language codes must be in BCP-47 format, such as \"en-US\" or \"sr-Latn\". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47){: class=\"external\" target=\"_blank\" }. If this field is unspecified and Job.description is present, detected language code based on Job.description is assigned, otherwise defaults to 'en_US'."
          type: string
        name:
          description: Required during job update. The resource name for the job. This is generated by the service when a job is created. The format is "projects/{project_id}/jobs/{job_id}", for example, "projects/api-test-project/jobs/1234". Use of this field in job queries and API calls is preferred over the use of requisition_id since this value is unique.
          type: string
        postingCreateTime:
          description: Output only. The timestamp when this job posting was created.
          format: google-datetime
          type: string
        postingExpireTime:
          description: Optional but strongly recommended for the best service experience. The expiration timestamp of the job. After this timestamp, the job is marked as expired, and it no longer appears in search results. The expired job can't be deleted or listed by the DeleteJob and ListJobs APIs, but it can be retrieved with the GetJob API or updated with the UpdateJob API. An expired job can be updated and opened again by using a future expiration timestamp. Updating an expired job fails if there is another existing open job with same company_name, language_code and requisition_id. The expired jobs are retained in our system for 90 days. However, the overall expired job count cannot exceed 3 times the maximum of open jobs count over the past week, otherwise jobs with earlier expire time are cleaned first. Expired jobs are no longer accessible after they are cleaned out. Invalid timestamps are ignored, and treated as expire time not provided. Timestamp before the instant request is made is considered valid, the job will be treated as expired immediately. If this value is not provided at the time of job creation or is invalid, the job posting expires after 30 days from the job's creation time. For example, if the job was created on 2017/01/01 13:00AM UTC with an unspecified expiration date, the job expires after 2017/01/31 13:00AM UTC. If this value is not provided on job update, it depends on the field masks set by UpdateJobRequest.update_mask. If the field masks include expiry_time, or the masks are empty meaning that every field is updated, the job posting expires after 30 days from the job's last update time. Otherwise the expiration date isn't updated.
          format: google-datetime
          type: string
        postingPublishTime:
          description: Optional. The timestamp this job posting was most recently published. The default value is the time the request arrives at the server. Invalid timestamps are ignored.
          format: google-datetime
          type: string
        postingRegion:
          description: Optional. The job PostingRegion (for example, state, country) throughout which the job is available. If this field is set, a LocationFilter in a search query within the job region finds this job posting if an exact location match isn't specified. If this field is set to PostingRegion.NATION or PostingRegion.ADMINISTRATIVE_AREA, setting job Job.addresses to the same location level as this field is strongly recommended.
          enum:
            - POSTING_REGION_UNSPECIFIED
            - ADMINISTRATIVE_AREA
            - NATION
            - TELECOMMUTE
          type: string
        postingUpdateTime:
          description: Output only. The timestamp when this job posting was last updated.
          format: google-datetime
          type: string
        processingOptions:
          $ref: "#/components/schemas/ProcessingOptions"
          description: Optional. Options for job processing.
        promotionValue:
          description: Optional. A promotion value of the job, as determined by the client. The value determines the sort order of the jobs returned when searching for jobs using the featured jobs search call, with higher promotional values being returned first and ties being resolved by relevance sort. Only the jobs with a promotionValue >0 are returned in a FEATURED_JOB_SEARCH. Default value is 0, and negative values are treated as 0.
          format: int32
          type: integer
        qualifications:
          description: Optional. A description of the qualifications required to perform the job. The use of this field is recommended as an alternative to using the more general description field. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 10,000.
          type: string
        requisitionId:
          description: Required. The requisition ID, also referred to as the posting ID, assigned by the client to identify a job. This field is intended to be used by clients for client identification and tracking of postings. A job is not allowed to be created if there is another job with the same [company_name], language_code and requisition_id. The maximum number of allowed characters is 255.
          type: string
        responsibilities:
          description: Optional. A description of job responsibilities. The use of this field is recommended as an alternative to using the more general description field. This field accepts and sanitizes HTML input, and also accepts bold, italic, ordered list, and unordered list markup tags. The maximum number of allowed characters is 10,000.
          type: string
        title:
          description: Required. The title of the job, such as "Software Engineer" The maximum number of allowed characters is 500.
          type: string
        visibility:
          description: Deprecated. The job is only visible to the owner. The visibility of the job. Defaults to Visibility.ACCOUNT_ONLY if not specified.
          enum:
            - VISIBILITY_UNSPECIFIED
            - ACCOUNT_ONLY
            - SHARED_WITH_GOOGLE
            - SHARED_WITH_PUBLIC
          type: string
      type: object
    JobDerivedInfo:
      description: Output only. Derived details about the job posting.
      properties:
        jobCategories:
          description: Job categories derived from Job.title and Job.description.
          items:
            enum:
              - JOB_CATEGORY_UNSPECIFIED
              - ACCOUNTING_AND_FINANCE
              - ADMINISTRATIVE_AND_OFFICE
              - ADVERTISING_AND_MARKETING
              - ANIMAL_CARE
              - ART_FASHION_AND_DESIGN
              - BUSINESS_OPERATIONS
              - CLEANING_AND_FACILITIES
              - COMPUTER_AND_IT
              - CONSTRUCTION
              - CUSTOMER_SERVICE
              - EDUCATION
              - ENTERTAINMENT_AND_TRAVEL
              - FARMING_AND_OUTDOORS
              - HEALTHCARE
              - HUMAN_RESOURCES
              - INSTALLATION_MAINTENANCE_AND_REPAIR
              - LEGAL
              - MANAGEMENT
              - MANUFACTURING_AND_WAREHOUSE
              - MEDIA_COMMUNICATIONS_AND_WRITING
              - OIL_GAS_AND_MINING
              - PERSONAL_CARE_AND_SERVICES
              - PROTECTIVE_SERVICES
              - REAL_ESTATE
              - RESTAURANT_AND_HOSPITALITY
              - SALES_AND_RETAIL
              - SCIENCE_AND_ENGINEERING
              - SOCIAL_SERVICES_AND_NON_PROFIT
              - SPORTS_FITNESS_AND_RECREATION
              - TRANSPORTATION_AND_LOGISTICS
            type: string
          type: array
        locations:
          description: Structured locations of the job, resolved from Job.addresses. locations are exactly matched to Job.addresses in the same order.
          items:
            $ref: "#/components/schemas/Location"
          type: array
      type: object
    JobEvent:
      description: An event issued when a job seeker interacts with the application that implements Cloud Talent Solution.
      properties:
        jobs:
          description: Required. The job name(s) associated with this event. For example, if this is an impression event, this field contains the identifiers of all jobs shown to the job seeker. If this was a view event, this field contains the identifier of the viewed job.
          items:
            type: string
          type: array
        type:
          description: Required. The type of the event (see JobEventType).
          enum:
            - JOB_EVENT_TYPE_UNSPECIFIED
            - IMPRESSION
            - VIEW
            - VIEW_REDIRECT
            - APPLICATION_START
            - APPLICATION_FINISH
            - APPLICATION_QUICK_SUBMISSION
            - APPLICATION_REDIRECT
            - APPLICATION_START_FROM_SEARCH
            - APPLICATION_REDIRECT_FROM_SEARCH
            - APPLICATION_COMPANY_SUBMIT
            - BOOKMARK
            - NOTIFICATION
            - HIRED
            - SENT_CV
            - INTERVIEW_GRANTED
            - NOT_INTERESTED
          type: string
      type: object
    JobQuery:
      description: Input only. The query required to perform a search query.
      properties:
        commuteFilter:
          $ref: "#/components/schemas/CommuteFilter"
          description: "Optional. Allows filtering jobs by commute time with different travel methods (for example, driving or public transit). Note: This only works with COMMUTE MODE. When specified, [JobQuery.location_filters] is ignored. Currently we don't support sorting by commute time."
        companyDisplayNames:
          description: "Optional. This filter specifies the company Company.display_name of the jobs to search against. The company name must match the value exactly. Alternatively, the value being searched for can be wrapped in different match operators. `SUBSTRING_MATCH([value])` The company name must contain a case insensitive substring match of the value. Using this function may increase latency. Sample Value: `SUBSTRING_MATCH(google)` `MULTI_WORD_TOKEN_MATCH([value])` The value will be treated as a multi word token and the company name must contain a case insensitive match of the value. Using this function may increase latency. Sample Value: `MULTI_WORD_TOKEN_MATCH(google)` If a value isn't specified, jobs within the search results are associated with any company. If multiple values are specified, jobs within the search results may be associated with any of the specified companies. At most 20 company display name filters are allowed."
          items:
            type: string
          type: array
        companyNames:
          description: Optional. This filter specifies the company entities to search against. If a value isn't specified, jobs are searched for against all companies. If multiple values are specified, jobs are searched against the companies specified. The format is "projects/{project_id}/companies/{company_id}", for example, "projects/api-test-project/companies/foo". At most 20 company filters are allowed.
          items:
            type: string
          type: array
        compensationFilter:
          $ref: "#/components/schemas/CompensationFilter"
          description: Optional. This search filter is applied only to Job.compensation_info. For example, if the filter is specified as "Hourly job with per-hour compensation > $15", only jobs meeting these criteria are searched. If a filter isn't defined, all open jobs are searched.
        customAttributeFilter:
          description: 'Optional. This filter specifies a structured syntax to match against the Job.custom_attributes marked as `filterable`. The syntax for this expression is a subset of SQL syntax. Supported operators are: `=`, `!=`, `<`, `<=`, `>`, and `>=` where the left of the operator is a custom field key and the right of the operator is a number or a quoted string. You must escape backslash (\\) and quote (\") characters. Supported functions are `LOWER([field_name])` to perform a case insensitive match and `EMPTY([field_name])` to filter on the existence of a key. Boolean expressions (AND/OR/NOT) are supported up to 3 levels of nesting (for example, "((A AND B AND C) OR NOT D) AND E"), a maximum of 100 comparisons or functions are allowed in the expression. The expression must be < 10000 bytes in length. Sample Query: `(LOWER(driving_license)="class \"a\"" OR EMPTY(driving_license)) AND driving_years > 10`'
          type: string
        disableSpellCheck:
          description: 'Optional. This flag controls the spell-check feature. If false, the service attempts to correct a misspelled query, for example, "enginee" is corrected to "engineer". Defaults to false: a spell check is performed.'
          type: boolean
        employmentTypes:
          description: Optional. The employment type filter specifies the employment type of jobs to search against, such as EmploymentType.FULL_TIME. If a value is not specified, jobs in the search results includes any employment type. If multiple values are specified, jobs in the search results include any of the specified employment types.
          items:
            enum:
              - EMPLOYMENT_TYPE_UNSPECIFIED
              - FULL_TIME
              - PART_TIME
              - CONTRACTOR
              - CONTRACT_TO_HIRE
              - TEMPORARY
              - INTERN
              - VOLUNTEER
              - PER_DIEM
              - FLY_IN_FLY_OUT
              - OTHER_EMPLOYMENT_TYPE
            type: string
          type: array
        jobCategories:
          description: Optional. The category filter specifies the categories of jobs to search against. See Category for more information. If a value is not specified, jobs from any category are searched against. If multiple values are specified, jobs from any of the specified categories are searched against.
          items:
            enum:
              - JOB_CATEGORY_UNSPECIFIED
              - ACCOUNTING_AND_FINANCE
              - ADMINISTRATIVE_AND_OFFICE
              - ADVERTISING_AND_MARKETING
              - ANIMAL_CARE
              - ART_FASHION_AND_DESIGN
              - BUSINESS_OPERATIONS
              - CLEANING_AND_FACILITIES
              - COMPUTER_AND_IT
              - CONSTRUCTION
              - CUSTOMER_SERVICE
              - EDUCATION
              - ENTERTAINMENT_AND_TRAVEL
              - FARMING_AND_OUTDOORS
              - HEALTHCARE
              - HUMAN_RESOURCES
              - INSTALLATION_MAINTENANCE_AND_REPAIR
              - LEGAL
              - MANAGEMENT
              - MANUFACTURING_AND_WAREHOUSE
              - MEDIA_COMMUNICATIONS_AND_WRITING
              - OIL_GAS_AND_MINING
              - PERSONAL_CARE_AND_SERVICES
              - PROTECTIVE_SERVICES
              - REAL_ESTATE
              - RESTAURANT_AND_HOSPITALITY
              - SALES_AND_RETAIL
              - SCIENCE_AND_ENGINEERING
              - SOCIAL_SERVICES_AND_NON_PROFIT
              - SPORTS_FITNESS_AND_RECREATION
              - TRANSPORTATION_AND_LOGISTICS
            type: string
          type: array
        languageCodes:
          description: Optional. This filter specifies the locale of jobs to search against, for example, "en-US". If a value isn't specified, the search results can contain jobs in any locale. Language codes should be in BCP-47 format, such as "en-US" or "sr-Latn". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47). At most 10 language code filters are allowed.
          items:
            type: string
          type: array
        locationFilters:
          description: Optional. The location filter specifies geo-regions containing the jobs to search against. See LocationFilter for more information. If a location value isn't specified, jobs fitting the other search criteria are retrieved regardless of where they're located. If multiple values are specified, jobs are retrieved from any of the specified locations. If different values are specified for the LocationFilter.distance_in_miles parameter, the maximum provided distance is used for all locations. At most 5 location filters are allowed.
          items:
            $ref: "#/components/schemas/LocationFilter"
          type: array
        publishTimeRange:
          $ref: "#/components/schemas/TimestampRange"
          description: Optional. Jobs published within a range specified by this filter are searched against.
        query:
          description: Optional. The query string that matches against the job title, description, and location fields. The maximum number of allowed characters is 255.
          type: string
        queryLanguageCode:
          description: The language code of query. For example, "en-US". This field helps to better interpret the query. If a value isn't specified, the query language code is automatically detected, which may not be accurate. Language code should be in BCP-47 format, such as "en-US" or "sr-Latn". For more information, see [Tags for Identifying Languages](https://tools.ietf.org/html/bcp47).
          type: string
      type: object
    LatLng:
      description: An object that represents a latitude/longitude pair. This is expressed as a pair of doubles to represent degrees latitude and degrees longitude. Unless specified otherwise, this object must conform to the WGS84 standard. Values must be within normalized ranges.
      properties:
        latitude:
          description: The latitude in degrees. It must be in the range [-90.0, +90.0].
          format: double
          type: number
        longitude:
          description: The longitude in degrees. It must be in the range [-180.0, +180.0].
          format: double
          type: number
      type: object
    ListCompaniesResponse:
      description: Output only. The List companies response object.
      properties:
        companies:
          description: Companies for the current client.
          items:
            $ref: "#/components/schemas/Company"
          type: array
        metadata:
          $ref: "#/components/schemas/ResponseMetadata"
          description: Additional information for the API invocation, such as the request tracking id.
        nextPageToken:
          description: A token to retrieve the next page of results.
          type: string
      type: object
    ListJobsResponse:
      description: Output only. List jobs response.
      properties:
        jobs:
          description: The Jobs for a given company. The maximum number of items returned is based on the limit field provided in the request.
          items:
            $ref: "#/components/schemas/Job"
          type: array
        metadata:
          $ref: "#/components/schemas/ResponseMetadata"
          description: Additional information for the API invocation, such as the request tracking id.
        nextPageToken:
          description: A token to retrieve the next page of results.
          type: string
      type: object
    Location:
      description: Output only. A resource that represents a location with full geographic information.
      properties:
        latLng:
          $ref: "#/components/schemas/LatLng"
          description: An object representing a latitude/longitude pair.
        locationType:
          description: The type of a location, which corresponds to the address lines field of PostalAddress. For example, "Downtown, Atlanta, GA, USA" has a type of LocationType#NEIGHBORHOOD, and "Kansas City, KS, USA" has a type of LocationType#LOCALITY.
          enum:
            - LOCATION_TYPE_UNSPECIFIED
            - COUNTRY
            - ADMINISTRATIVE_AREA
            - SUB_ADMINISTRATIVE_AREA
            - LOCALITY
            - POSTAL_CODE
            - SUB_LOCALITY
            - SUB_LOCALITY_1
            - SUB_LOCALITY_2
            - NEIGHBORHOOD
            - STREET_ADDRESS
          type: string
        postalAddress:
          $ref: "#/components/schemas/PostalAddress"
          description: Postal address of the location that includes human readable information, such as postal delivery and payments addresses. Given a postal address, a postal service can deliver items to a premises, P.O. Box, or other delivery location.
        radiusInMiles:
          description: Radius in miles of the job location. This value is derived from the location bounding box in which a circle with the specified radius centered from LatLng covers the area associated with the job location. For example, currently, "Mountain View, CA, USA" has a radius of 6.17 miles.
          format: double
          type: number
      type: object
    LocationFilter:
      description: Input only. Geographic region of the search.
      properties:
        address:
          description: Optional. The address name, such as "Mountain View" or "Bay Area".
          type: string
        distanceInMiles:
          description: Optional. The distance_in_miles is applied when the location being searched for is identified as a city or smaller. When the location being searched for is a state or larger, this field is ignored.
          format: double
          type: number
        latLng:
          $ref: "#/components/schemas/LatLng"
          description: Optional. The latitude and longitude of the geographic center from which to search. This field's ignored if `address` is provided.
        regionCode:
          description: 'Optional. CLDR region code of the country/region. This field may be used in two ways: 1) If telecommute preference is not set, this field is used address ambiguity of the user-input address. For example, "Liverpool" may refer to "Liverpool, NY, US" or "Liverpool, UK". This region code biases the address resolution toward a specific country or territory. If this field is not set, address resolution is biased toward the United States by default. 2) If telecommute preference is set to TELECOMMUTE_ALLOWED, the telecommute location filter will be limited to the region specified in this field. If this field is not set, the telecommute job locations will not be limited. See https://unicode-org.github.io/cldr-staging/charts/latest/supplemental/territory_information.html for details. Example: "CH" for Switzerland.'
          type: string
        telecommutePreference:
          description: Optional. Allows the client to return jobs without a set location, specifically, telecommuting jobs (telecommuting is considered by the service as a special location). Job.posting_region indicates if a job permits telecommuting. If this field is set to TelecommutePreference.TELECOMMUTE_ALLOWED, telecommuting jobs are searched, and address and lat_lng are ignored. If not set or set to TelecommutePreference.TELECOMMUTE_EXCLUDED, the telecommute status of the jobs is ignored. Jobs that have PostingRegion.TELECOMMUTE and have additional Job.addresses may still be matched based on other location filters using address or latlng. This filter can be used by itself to search exclusively for telecommuting jobs, or it can be combined with another location filter to search for a combination of job locations, such as "Mountain View" or "telecommuting" jobs. However, when used in combination with other location filters, telecommuting jobs can be treated as less relevant than other jobs in the search response.
          enum:
            - TELECOMMUTE_PREFERENCE_UNSPECIFIED
            - TELECOMMUTE_EXCLUDED
            - TELECOMMUTE_ALLOWED
            - TELECOMMUTE_JOBS_EXCLUDED
          type: string
      type: object
    MatchingJob:
      description: Output only. Job entry with metadata inside SearchJobsResponse.
      properties:
        commuteInfo:
          $ref: "#/components/schemas/CommuteInfo"
          description: Commute information which is generated based on specified CommuteFilter.
        job:
          $ref: "#/components/schemas/Job"
          description: Job resource that matches the specified SearchJobsRequest.
        jobSummary:
          description: A summary of the job with core information that's displayed on the search results listing page.
          type: string
        jobTitleSnippet:
          description: Contains snippets of text from the Job.job_title field most closely matching a search query's keywords, if available. The matching query keywords are enclosed in HTML bold tags.
          type: string
        searchTextSnippet:
          description: Contains snippets of text from the Job.description and similar fields that most closely match a search query's keywords, if available. All HTML tags in the original fields are stripped when returned in this field, and matching query keywords are enclosed in HTML bold tags.
          type: string
      type: object
    MendelDebugInput:
      description: "Message representing input to a Mendel server for debug forcing. See go/mendel-debug-forcing for more details. Next ID: 2"
      properties:
        namespacedDebugInput:
          additionalProperties:
            $ref: "#/components/schemas/NamespacedDebugInput"
          description: "When a request spans multiple servers, a MendelDebugInput may travel with the request and take effect in all the servers. This field is a map of namespaces to NamespacedMendelDebugInput protos. In a single server, up to two NamespacedMendelDebugInput protos are applied: 1. NamespacedMendelDebugInput with the global namespace (key == \"\"). 2. NamespacedMendelDebugInput with the server's namespace. When both NamespacedMendelDebugInput protos are present, they are merged. See go/mendel-debug-forcing for more details."
          type: object
      type: object
    Money:
      description: Represents an amount of money with its currency type.
      properties:
        currencyCode:
          description: The three-letter currency code defined in ISO 4217.
          type: string
        nanos:
          description: Number of nano (10^-9) units of the amount. The value must be between -999,999,999 and +999,999,999 inclusive. If `units` is positive, `nanos` must be positive or zero. If `units` is zero, `nanos` can be positive, zero, or negative. If `units` is negative, `nanos` must be negative or zero. For example $-1.75 is represented as `units`=-1 and `nanos`=-750,000,000.
          format: int32
          type: integer
        units:
          description: The whole units of the amount. For example if `currencyCode` is `"USD"`, then 1 unit is one US dollar.
          format: int64
          type: string
      type: object
    NamespacedDebugInput:
      description: "Next ID: 16"
      properties:
        absolutelyForcedExpNames:
          description: Set of experiment names to be absolutely forced. These experiments will be forced without evaluating the conditions.
          items:
            type: string
          type: array
        absolutelyForcedExpTags:
          description: Set of experiment tags to be absolutely forced. The experiments with these tags will be forced without evaluating the conditions.
          items:
            type: string
          type: array
        absolutelyForcedExps:
          description: Set of experiment ids to be absolutely forced. These ids will be forced without evaluating the conditions.
          items:
            format: int32
            type: integer
          type: array
        conditionallyForcedExpNames:
          description: Set of experiment names to be conditionally forced. These experiments will be forced only if their conditions and their parent domain's conditions are true.
          items:
            type: string
          type: array
        conditionallyForcedExpTags:
          description: Set of experiment tags to be conditionally forced. The experiments with these tags will be forced only if their conditions and their parent domain's conditions are true.
          items:
            type: string
          type: array
        conditionallyForcedExps:
          description: Set of experiment ids to be conditionally forced. These ids will be forced only if their conditions and their parent domain's conditions are true.
          items:
            format: int32
            type: integer
          type: array
        disableAutomaticEnrollmentSelection:
          description: If true, disable automatic enrollment selection (at all diversion points). Automatic enrollment selection means experiment selection process based on the experiment's automatic enrollment condition. This does not disable selection of forced experiments. Setting this field to false does not change anything in the experiment selection process.
          type: boolean
        disableExpNames:
          description: Set of experiment names to be disabled. If an experiment is disabled, it is never selected nor forced. If an aggregate experiment is disabled, its partitions are disabled together. If an experiment with an enrollment is disabled, the enrollment is disabled together. If a name corresponds to a domain, the domain itself and all descendant experiments and domains are disabled together.
          items:
            type: string
          type: array
        disableExpTags:
          description: Set of experiment tags to be disabled. All experiments that are tagged with one or more of these tags are disabled. If an experiment is disabled, it is never selected nor forced. If an aggregate experiment is disabled, its partitions are disabled together. If an experiment with an enrollment is disabled, the enrollment is disabled together.
          items:
            type: string
          type: array
        disableExps:
          description: Set of experiment ids to be disabled. If an experiment is disabled, it is never selected nor forced. If an aggregate experiment is disabled, its partitions are disabled together. If an experiment with an enrollment is disabled, the enrollment is disabled together. If an ID corresponds to a domain, the domain itself and all descendant experiments and domains are disabled together.
          items:
            format: int32
            type: integer
          type: array
        disableManualEnrollmentSelection:
          description: If true, disable manual enrollment selection (at all diversion points). Manual enrollment selection means experiment selection process based on the request's manual enrollment states (a.k.a. opt-in experiments). This does not disable selection of forced experiments. Setting this field to false does not change anything in the experiment selection process.
          type: boolean
        disableOrganicSelection:
          description: If true, disable organic experiment selection (at all diversion points). Organic selection means experiment selection process based on traffic allocation and diversion condition evaluation. This does not disable selection of forced experiments. This is useful in cases when it is not known whether experiment selection behavior is responsible for a error or breakage. Disabling organic selection may help to isolate the cause of a given problem. Setting this field to false does not change anything in the experiment selection process.
          type: boolean
        forcedFlags:
          additionalProperties:
            type: string
          description: Flags to force in a particular experiment state. Map from flag name to flag value.
          type: object
        forcedRollouts:
          additionalProperties:
            type: boolean
          description: Rollouts to force in a particular experiment state. Map from rollout name to rollout value.
          type: object
        testingMode:
          description: Sets different testing modes. See the documentation in the TestingMode message for more information.
          enum:
            - TESTING_MODE_UNSPECIFIED
            - TESTING_MODE_ALL_OFF
            - TESTING_MODE_ALL_ON
          type: string
      type: object
    NumericBucketingOption:
      description: Input only. Use this field to specify bucketing option for the histogram search response.
      properties:
        bucketBounds:
          description: "Required. Two adjacent values form a histogram bucket. Values should be in ascending order. For example, if [5, 10, 15] are provided, four buckets are created: (-inf, 5), 5, 10), [10, 15), [15, inf). At most 20 [buckets_bound is supported."
          items:
            format: double
            type: number
          type: array
        requiresMinMax:
          description: Optional. If set to true, the histogram result includes minimum/maximum value of the numeric field.
          type: boolean
      type: object
    NumericBucketingResult:
      description: Output only. Custom numeric bucketing result.
      properties:
        counts:
          description: Count within each bucket. Its size is the length of NumericBucketingOption.bucket_bounds plus 1.
          items:
            $ref: "#/components/schemas/BucketizedCount"
          type: array
        maxValue:
          description: Stores the maximum value of the numeric field. Is populated only if [NumericBucketingOption.requires_min_max] is set to true.
          format: double
          type: number
        minValue:
          description: Stores the minimum value of the numeric field. Will be populated only if [NumericBucketingOption.requires_min_max] is set to true.
          format: double
          type: number
      type: object
    PostalAddress:
      description: "Represents a postal address, e.g. for postal delivery or payments addresses. Given a postal address, a postal service can deliver items to a premise, P.O. Box or similar. It is not intended to model geographical locations (roads, towns, mountains). In typical usage an address would be created via user input or from importing existing data, depending on the type of process. Advice on address input / editing: - Use an internationalization-ready address widget such as https://github.com/google/libaddressinput) - Users should not be presented with UI elements for input or editing of fields outside countries where that field is used. For more guidance on how to use this schema, please see: https://support.google.com/business/answer/6397478"
      properties:
        addressLines:
          description: Unstructured address lines describing the lower levels of an address. Because values in address_lines do not have type information and may sometimes contain multiple values in a single field (e.g. "Austin, TX"), it is important that the line order is clear. The order of address lines should be "envelope order" for the country/region of the address. In places where this can vary (e.g. Japan), address_language is used to make it explicit (e.g. "ja" for large-to-small ordering and "ja-Latn" or "en" for small-to-large). This way, the most specific line of an address can be selected based on the language. The minimum permitted structural representation of an address consists of a region_code with all remaining information placed in the address_lines. It would be possible to format such an address very approximately without geocoding, but no semantic reasoning could be made about any of the address components until it was at least partially resolved. Creating an address only containing a region_code and address_lines, and then geocoding is the recommended way to handle completely unstructured addresses (as opposed to guessing which parts of the address should be localities or administrative areas).
          items:
            type: string
          type: array
        administrativeArea:
          description: Optional. Highest administrative subdivision which is used for postal addresses of a country or region. For example, this can be a state, a province, an oblast, or a prefecture. Specifically, for Spain this is the province and not the autonomous community (e.g. "Barcelona" and not "Catalonia"). Many countries don't use an administrative area in postal addresses. E.g. in Switzerland this should be left unpopulated.
          type: string
        languageCode:
          description: "Optional. BCP-47 language code of the contents of this address (if known). This is often the UI language of the input form or is expected to match one of the languages used in the address' country/region, or their transliterated equivalents. This can affect formatting in certain countries, but is not critical to the correctness of the data and will never affect any validation or other non-formatting related operations. If this value is not known, it should be omitted (rather than specifying a possibly incorrect default). Examples: \"zh-Hant\", \"ja\", \"ja-Latn\", \"en\"."
          type: string
        locality:
          description: "Optional. Generally refers to the city/town portion of the address. Examples: US city, IT comune, UK post town. In regions of the world where localities are not well defined or do not fit into this structure well, leave locality empty and use address_lines."
          type: string
        organization:
          description: Optional. The name of the organization at the address.
          type: string
        postalCode:
          description: Optional. Postal code of the address. Not all countries use or require postal codes to be present, but where they are used, they may trigger additional validation with other parts of the address (e.g. state/zip validation in the U.S.A.).
          type: string
        recipients:
          description: Optional. The recipient at the address. This field may, under certain circumstances, contain multiline information. For example, it might contain "care of" information.
          items:
            type: string
          type: array
        regionCode:
          description: 'Required. CLDR region code of the country/region of the address. This is never inferred and it is up to the user to ensure the value is correct. See https://cldr.unicode.org/ and https://www.unicode.org/cldr/charts/30/supplemental/territory_information.html for details. Example: "CH" for Switzerland.'
          type: string
        revision:
          description: The schema revision of the `PostalAddress`. This must be set to 0, which is the latest revision. All new revisions **must** be backward compatible with old revisions.
          format: int32
          type: integer
        sortingCode:
          description: Optional. Additional, country-specific, sorting code. This is not used in most regions. Where it is used, the value is either a string like "CEDEX", optionally followed by a number (e.g. "CEDEX 7"), or just a number alone, representing the "sector code" (Jamaica), "delivery area indicator" (Malawi) or "post office indicator" (e.g. Côte d'Ivoire).
          type: string
        sublocality:
          description: Optional. Sublocality of the address. For example, this can be neighborhoods, boroughs, districts.
          type: string
      type: object
    ProcessingOptions:
[...]
