swagger: '2.0'
schemes:
  - http
host: bhagavadgita.io
info:
  title: Bhagavad Gita
  version: '1.0'
  x-apisguru-categories:
    - open_data
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://bhagavadgita.io/static/images/radhakrishna.png'
  x-origin:
    - format: swagger
      url: 'http://bhagavadgita.io/apispec_1.json'
      version: '2.0'
  x-providerName: bhagavadgita.io
produces:
  - application/json
paths:
  /api/v1/chapters:
    get:
      consumes:
        - application/json
      description: Get a list of all the 18 Chapters of the Bhagavad Gita.
      parameters:
        - description: Your app's access token.
          in: query
          name: access_token
          required: true
          type: string
        - description: Language to query. Leave blank for english.
          enum:
            - hi
          in: query
          name: language
          type: string
      responses:
        '200':
          description: 'Success: Everything worked as expected.'
          examples:
            application/json: |-
              {
                "chapters": [
                  {
                    "chapter_number": 1, 
                    "name": "u'अर्जुनविषादयोग'", 
                    "name_english": "u'Arjuna Dilemma'", 
                    "name_transliterated": "u'Arjun Viṣhād Yog'", 
                    "name_transliterated_simple": "u'Arjuna Visada Yoga'", 
                    "verses_count": 47
                  }, 
                  {
                    "chapter_number": 2, 
                    "name": "u'सांख्ययोग'", 
                    "name_english": "u'Transcendental Knowledge'", 
                    "name_transliterated": "u'Sānkhya Yog'", 
                    "name_transliterated_simple": "u'Sankhya Yoga'", 
                    "verses_count": 72
                  }
                ]
              }
          schema:
            $ref: '#/definitions/ChapterSchema'
        '400':
          description: 'Bad Request: The request was unacceptable due to wrong parameter(s).'
        '401':
          description: 'Unauthorized: Invalid access_token used.'
        '402':
          description: Request Failed.
        '500':
          description: 'Server Error: Something went wrong on our end.'
      summary: Get all the 18 Chapters of the Bhagavad Gita.
      tags:
        - chapter
  '/api/v1/chapters/{chapter_number}':
    get:
      consumes:
        - application/json
      description: Get information about a specific chapter from the Bhagavad Gita.
      parameters:
        - description: Your app's access token.
          in: query
          name: access_token
          required: true
          type: string
        - default: 1
          description: Which Chapter Number to filter?
          enum:
            - 1
            - 2
            - 3
          in: path
          name: chapter_number
          required: true
          type: integer
        - description: Language to query. Leave blank for english.
          enum:
            - hi
          in: query
          name: language
          type: string
      responses:
        '200':
          description: 'Success: Everything worked as expected.'
          examples:
            application/json: |-
              {
                "chapter_number": 1, 
                "name": "u'अर्जुनविषादयोग'", 
                "name_english": "u'Arjuna Dilemma'", 
                "name_transliterated": "u'Arjun Viṣhād Yog'", 
                "name_transliterated_simple": "u'Arjuna Visada Yoga'", 
                "verses_count": 47
              }
          schema:
            $ref: '#/definitions/ChapterSchema'
        '400':
          description: 'Bad Request: The request was unacceptable due to wrong parameter(s).'
        '401':
          description: 'Unauthorized: Invalid access_token used.'
        '402':
          description: Request Failed.
        '404':
          description: 'Not Found: The chapter number you are looking for could not be found.'
        '500':
          description: 'Server Error: Something went wrong on our end.'
      summary: Get a specific chapter from the Bhagavad Gita.
      tags:
        - chapter
  '/api/v1/chapters/{chapter_number}/verses':
    get:
      consumes:
        - application/json
      description: Get a list of all Verses from a particular Chapter.
      parameters:
        - description: Your app's access token.
          in: query
          name: access_token
          required: true
          type: string
        - default: 1
          description: Which Chapter Number to filter?
          enum:
            - 1
            - 2
            - 3
          in: path
          name: chapter_number
          required: true
          type: integer
        - description: Language to query. Leave blank for english.
          enum:
            - hi
          in: query
          name: language
          type: string
      responses:
        '200':
          description: 'Success: Everything worked as expected.'
          examples:
            application/json: |-
              {
                "verses": [
                  {
                    "chapter_number": 1,
                    "meaning": "Dhritarashtra said: O Sanjay, after gathering on the holy field of Kurukshetra, and desiring to fight, what did my sons and the sons of Pandu do?",
                    "text": "धृतराष्ट्र उवाच | धर्मक्षेत्रे कुरुक्षेत्रे समवेता युयुत्सवः | मामकाः पाण्डवाश्चैव किमकुर्वत सञ्जय |||1||",
                    "transliteration": "dhṛitarāśhtra uvācha dharma-kṣhetre kuru-kṣhetre samavetā yuyutsavaḥ māmakāḥ pāṇḍavāśhchaiva kimakurvata sañjaya",
                    "verse_number": 1,
                    "word_meanings": "dhṛitarāśhtraḥ uvācha—Dhritarashtra said; dharma-kṣhetre—the land of dharma; kuru-kṣhetre—at Kurukshetra; samavetāḥ—having gathered; yuyutsavaḥ—desiring to fight; māmakāḥ—my sons; pāṇḍavāḥ—the sons of Pandu; cha—and; eva—certainly; kim—what; akurvata—did they do; sañjaya—Sanjay"
                  },
                  {
                    "chapter_number": 1,
                    "meaning": "Sanjay said: On observing the Pandava army standing in military formation, King Duryodhan approached his teacher Dronacharya, and said the following words.",
                    "text": "सञ्जय उवाच | दृष्ट्वा तु पाण्डवानीकं व्यूढं दुर्योधनस्तदा | आचार्यमुपसङ्गम्य राजा वचनमब्रवीत् | ||2||",
                    "transliteration": "sañjaya uvācha dṛiṣhṭvā tu pāṇḍavānīkaṁ vyūḍhaṁ duryodhanastadā āchāryamupasaṅgamya rājā vachanamabravīt",
                    "verse_number": 2,
                    "word_meanings": "sanjayaḥ uvācha—Sanjay said; dṛiṣhṭvā—on observing; tu—but; pāṇḍava-anīkam—the Pandava army; vyūḍham—standing in a military formation; duryodhanaḥ—King Duryodhan; tadā—then; āchāryam—teacher; upasaṅgamya—approached; rājā—the king; vachanam—words; abravīt—spoke"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/VerseSchema'
        '400':
          description: 'Bad Request: The request was unacceptable due to wrong parameter(s).'
        '401':
          description: 'Unauthorized: Invalid access_token used.'
        '402':
          description: Request Failed.
        '404':
          description: 'Not Found: The chapter number you are looking for could not be found.'
        '500':
          description: 'Server Error: Something went wrong on our end.'
      summary: Get all the Verses from a Chapter.
      tags:
        - verse
  '/api/v1/chapters/{chapter_number}/verses/{verse_number}':
    get:
      consumes:
        - application/json
      description: Get a specific verse from a specific chapter.
      parameters:
        - description: Your app's access token.
          in: query
          name: access_token
          required: true
          type: string
        - default: 1
          description: Which Chapter Number to filter?
          enum:
            - 1
            - 2
            - 3
          in: path
          name: chapter_number
          required: true
          type: integer
        - description: Which Verse Number to filter?
          enum:
            - 1
            - 2
            - 3
          in: path
          name: verse_number
          required: true
          type: string
        - description: Language to query. Leave blank for english.
          enum:
            - hi
          in: query
          name: language
          type: string
      responses:
        '200':
          description: 'Success: Everything worked as expected.'
          examples:
            application/json: |-
              {
                "chapter_number": 1,
                "meaning": "Dhritarashtra said: O Sanjay, after gathering on the holy field of Kurukshetra, and desiring to fight, what did my sons and the sons of Pandu do?",
                "text": "धृतराष्ट्र उवाच | धर्मक्षेत्रे कुरुक्षेत्रे समवेता युयुत्सवः | मामकाः पाण्डवाश्चैव किमकुर्वत सञ्जय |||1||",
                "transliteration": "dhṛitarāśhtra uvācha dharma-kṣhetre kuru-kṣhetre samavetā yuyutsavaḥ māmakāḥ pāṇḍavāśhchaiva kimakurvata sañjaya",
                "verse_number": 1,
                "word_meanings": "dhṛitarāśhtraḥ uvācha—Dhritarashtra said; dharma-kṣhetre—the land of dharma; kuru-kṣhetre—at Kurukshetra; samavetāḥ—having gathered; yuyutsavaḥ—desiring to fight; māmakāḥ—my sons; pāṇḍavāḥ—the sons of Pandu; cha—and; eva—certainly; kim—what; akurvata—did they do; sañjaya—Sanjay"
              }
          schema:
            $ref: '#/definitions/VerseSchema'
        '400':
          description: 'Bad Request: The request was unacceptable due to wrong parameter(s).'
        '401':
          description: 'Unauthorized: Invalid access_token used.'
        '402':
          description: Request Failed.
        '404':
          description: 'Not Found: The chapter/verse number you are looking for could not be found.'
        '500':
          description: 'Server Error: Something went wrong on our end.'
      summary: Get a particular verse from a chapter.
      tags:
        - verse
  /api/v1/verses:
    get:
      consumes:
        - application/json
      description: Get a list of all Verses.
      parameters:
        - description: Your app's access token.
          in: query
          name: access_token
          required: true
          type: string
        - description: Language to query. Leave blank for english.
          enum:
            - hi
          in: query
          name: language
          type: string
      responses:
        '200':
          description: 'Success: Everything worked as expected.'
          examples:
            application/json: |-
              {
                "verses": [
                  {
                    "chapter_number": 1,
                    "meaning": "Dhritarashtra said: O Sanjay, after gathering on the holy field of Kurukshetra, and desiring to fight, what did my sons and the sons of Pandu do?",
                    "text": "धृतराष्ट्र उवाच | धर्मक्षेत्रे कुरुक्षेत्रे समवेता युयुत्सवः | मामकाः पाण्डवाश्चैव किमकुर्वत सञ्जय |||1||",
                    "transliteration": "dhṛitarāśhtra uvācha dharma-kṣhetre kuru-kṣhetre samavetā yuyutsavaḥ māmakāḥ pāṇḍavāśhchaiva kimakurvata sañjaya",
                    "verse_number": 1,
                    "word_meanings": "dhṛitarāśhtraḥ uvācha—Dhritarashtra said; dharma-kṣhetre—the land of dharma; kuru-kṣhetre—at Kurukshetra; samavetāḥ—having gathered; yuyutsavaḥ—desiring to fight; māmakāḥ—my sons; pāṇḍavāḥ—the sons of Pandu; cha—and; eva—certainly; kim—what; akurvata—did they do; sañjaya—Sanjay"
                  },
                  {
                    "chapter_number": 1,
                    "meaning": "Sanjay said: On observing the Pandava army standing in military formation, King Duryodhan approached his teacher Dronacharya, and said the following words.",
                    "text": "सञ्जय उवाच | दृष्ट्वा तु पाण्डवानीकं व्यूढं दुर्योधनस्तदा | आचार्यमुपसङ्गम्य राजा वचनमब्रवीत् | ||2||",
                    "transliteration": "sañjaya uvācha dṛiṣhṭvā tu pāṇḍavānīkaṁ vyūḍhaṁ duryodhanastadā āchāryamupasaṅgamya rājā vachanamabravīt",
                    "verse_number": 2,
                    "word_meanings": "sanjayaḥ uvācha—Sanjay said; dṛiṣhṭvā—on observing; tu—but; pāṇḍava-anīkam—the Pandava army; vyūḍham—standing in a military formation; duryodhanaḥ—King Duryodhan; tadā—then; āchāryam—teacher; upasaṅgamya—approached; rājā—the king; vachanam—words; abravīt—spoke"
                  }
                ]
              }
          schema:
            $ref: '#/definitions/VerseSchema'
        '400':
          description: 'Bad Request: The request was unacceptable due to wrong parameter(s).'
        '401':
          description: 'Unauthorized: Inavlid access_token used.'
        '402':
          description: Request Failed.
        '500':
          description: 'Server Error: Something went wrong on our end.'
      summary: Get all the Verses.
      tags:
        - verse
  /auth/oauth/token:
    post:
      consumes:
        - application/x-www-form-urlencoded
      parameters:
        - description: Your app's client_id. Get from API dashboard.
          in: formData
          name: client_id
          required: true
          type: string
        - description: Your app's client_secret. Get from API dashboard.
          in: formData
          name: client_secret
          required: true
          type: string
        - default: client_credentials
          description: Grant Type.
          in: formData
          name: grant_type
          required: true
          type: string
        - default: verse chapter
          description: The resources that you would like to access.
          in: formData
          name: scope
          required: true
          type: string
      responses:
        '200':
          description: 'Success: Everything worked as expected.'
          examples:
            application/json: |-
              {
                access_token: "cN31b7gClnImuQg8OeMGsUWYGsA0we"
                token_type: "Bearer"
                scope: "email"
              }
        '400':
          description: 'Bad Request: The request was unacceptable due to wrong parameter(s).'
        '401':
          description: 'Unauthorized: Invalid access_token used.'
        '402':
          description: Request Failed.
        '500':
          description: 'Server Error: Something went wrong on our end.'
      summary: Send client credentials and get an access token.
      tags:
        - auth
definitions:
  ChapterSchema:
    properties:
      chapter_number:
        format: int32
        type: integer
        x-nullable: true
      chapter_summary:
        type: string
        x-nullable: true
      name:
        type: string
        x-nullable: true
      name_meaning:
        type: string
        x-nullable: true
      name_translation:
        type: string
        x-nullable: true
      name_transliterated:
        type: string
        x-nullable: true
      verses_count:
        format: int32
        type: integer
        x-nullable: true
    type: object
  VerseSchema:
    properties:
      meaning:
        type: string
        x-nullable: true
      text:
        type: string
        x-nullable: true
      transliteration:
        type: string
        x-nullable: true
      verse_number:
        type: string
        x-nullable: true
      word_meanings:
        type: string
        x-nullable: true
    type: object
