openapi: 3.0.0
servers:
  - url: 'https://dialogflow.googleapis.com/'
info:
  contact:
    name: Google
    url: 'https://google.com'
    x-twitter: youtube
  description: 'Builds conversational interfaces (for example, chatbots, and voice-powered apps and devices).'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Dialogflow API
  version: v2beta1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: 'https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg'
  x-origin:
    - format: google
      url: 'https://dialogflow.googleapis.com/$discovery/rest?version=v2beta1'
      version: v1
  x-preferred: false
  x-providerName: googleapis.com
  x-serviceName: dialogflow
externalDocs:
  url: 'https://cloud.google.com/dialogflow/'
tags:
  - name: projects
paths:
  '/v2beta1/{name}':
    delete:
      description: 'Deletes the specified document. Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.'
      operationId: dialogflow.projects.agent.knowledgeBases.documents.delete
      parameters:
        - description: 'Required. The name of the document to delete. Format: `projects//knowledgeBases//documents/`.'
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Optional. Force deletes the knowledge base. When set to true, any documents in the knowledge base are also deleted.'
          in: query
          name: force
          schema:
            type: boolean
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: dialogflow.projects.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Optional. The language used to access language-specific data. If not specified, the agent''s default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).'
          in: query
          name: languageCode
          schema:
            enum:
              - INTENT_VIEW_UNSPECIFIED
              - INTENT_VIEW_FULL
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    patch:
      description: 'Updates the specified document. Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.'
      operationId: dialogflow.projects.agent.knowledgeBases.documents.patch
      parameters:
        - description: 'Optional. The document resource name. The name must be empty when creating a document. Format: `projects//knowledgeBases//documents/`.'
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: 'Optional. Not specified means `update all`. Currently, only `display_name` can be updated, an InvalidArgument will be returned for attempting to update other fields.'
          in: query
          name: updateMask
          schema:
            enum:
              - INTENT_VIEW_UNSPECIFIED
              - INTENT_VIEW_FULL
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1Document'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{name}/operations':
    get:
      description: 'Lists operations that match the specified filter in the request. If the server doesn''t support this method, it returns `UNIMPLEMENTED`. NOTE: the `name` binding allows API services to override the binding to use different resource name schemes, such as `users/*/operations`. To override the binding, API services can add a binding such as `"/v1/{name=users/*}/operations"` to their service configuration. For backwards compatibility, the default name includes the operations collection id, however overriding users must ensure the name binding is the parent resource, without the operations collection id.'
      operationId: dialogflow.projects.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningListOperationsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
  '/v2beta1/{name}:cancel':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn''t support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.'
      operationId: dialogflow.projects.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{name}:reload':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Reloads the specified document from its specified source, content_uri or content. The previously loaded content of the document will be deleted. Note: Even when the content of the document has not changed, there still may be side effects because of internal implementation changes. Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.'
      operationId: dialogflow.projects.agent.knowledgeBases.documents.reload
      parameters:
        - description: 'Required. The name of the document to reload. Format: `projects//knowledgeBases//documents/`'
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ReloadDocumentRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/agent':
    delete:
      description: Deletes the specified agent.
      operationId: dialogflow.projects.locations.deleteAgent
      parameters:
        - description: 'Required. The project that the agent to delete is associated with. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    get:
      description: Retrieves the specified agent.
      operationId: dialogflow.projects.locations.getAgent
      parameters:
        - description: 'Required. The project that the agent to fetch is associated with. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1Agent'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: Creates/updates the specified agent.
      operationId: dialogflow.projects.locations.setAgent
      parameters:
        - description: 'Required. The project of this agent. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The mask to control which fields get updated.
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1Agent'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1Agent'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/agent/validationResult':
    get:
      description: Gets agent validation result. Agent validation is performed during training time and is updated automatically when training is completed.
      operationId: dialogflow.projects.agent.getValidationResult
      parameters:
        - description: 'Required. The project that the agent is associated with. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Optional. The language for which you want a validation result. If not specified, the agent''s default language is used. [Many languages](https://cloud.google.com/dialogflow/docs/reference/language) are supported. Note: languages must be enabled in the agent before they can be used.'
          in: query
          name: languageCode
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ValidationResult'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
  '/v2beta1/{parent}/agent:export':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Exports the specified agent to a ZIP file. Operation '
      operationId: dialogflow.projects.agent.export
      parameters:
        - description: 'Required. The project that the agent to export is associated with. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ExportAgentRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/agent:import':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Imports the specified agent from a ZIP file. Uploads new intents and entity types without deleting the existing ones. Intents and entity types with the same name are replaced with the new versions from ImportAgentRequest. After the import, the imported draft agent will be trained automatically (unless disabled in agent settings). However, once the import is done, training may not be completed yet. Please call TrainAgent and wait for the operation it returns in order to train explicitly. Operation An operation which tracks when importing is complete. It only tracks when the draft agent is updated not when it is done training.'
      operationId: dialogflow.projects.agent.import
      parameters:
        - description: 'Required. The project that the agent to import is associated with. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ImportAgentRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/agent:restore':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Restores the specified agent from a ZIP file. Replaces the current agent version with a new one. All the intents and entity types in the older version are deleted. After the restore, the restored draft agent will be trained automatically (unless disabled in agent settings). However, once the restore is done, training may not be completed yet. Please call TrainAgent and wait for the operation it returns in order to train explicitly. Operation An operation which tracks when restoring is complete. It only tracks when the draft agent is updated not when it is done training.'
      operationId: dialogflow.projects.agent.restore
      parameters:
        - description: 'Required. The project that the agent to restore is associated with. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1RestoreAgentRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/agent:search':
    get:
      description: 'Returns the list of agents. Since there is at most one conversational agent per project, this method is useful primarily for listing all agents across projects the caller has access to. One can achieve that with a wildcard project collection id "-". Refer to [List Sub-Collections](https://cloud.google.com/apis/design/design_patterns#list_sub-collections).'
      operationId: dialogflow.projects.agent.search
      parameters:
        - description: 'Required. The project to list agents from. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1SearchAgentsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
  '/v2beta1/{parent}/agent:train':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Trains the specified agent. Operation '
      operationId: dialogflow.projects.agent.train
      parameters:
        - description: 'Required. The project that the agent to train is associated with. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1TrainAgentRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/contexts':
    delete:
      description: Deletes all active contexts in the specified session.
      operationId: dialogflow.projects.agent.sessions.deleteContexts
      parameters:
        - description: 'Required. The name of the session to delete all contexts from. Format: `projects//agent/sessions/` or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified we assume default ''draft'' environment. If `User ID` is not specified, we assume default ''-'' user.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleProtobufEmpty'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    get:
      description: Returns the list of all contexts in the specified session.
      operationId: dialogflow.projects.agent.sessions.contexts.list
      parameters:
        - description: 'Required. The session to list all contexts from. Format: `projects//agent/sessions/` or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified, we assume default ''draft'' environment. If `User ID` is not specified, we assume default ''-'' user.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ListContextsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Creates a context. If the specified context already exists, overrides the context.'
      operationId: dialogflow.projects.agent.sessions.contexts.create
      parameters:
        - description: 'Required. The session to create a context for. Format: `projects//agent/sessions/` or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified, we assume default ''draft'' environment. If `User ID` is not specified, we assume default ''-'' user.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1Context'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1Context'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/documents':
    get:
      description: 'Returns the list of all documents of the knowledge base. Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.'
      operationId: dialogflow.projects.agent.knowledgeBases.documents.list
      parameters:
        - description: 'Required. The knowledge base to list all documents for. Format: `projects//knowledgeBases/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of items to return in a single page. By default 10 and at most 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The next_page_token value returned from a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ListDocumentsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Creates a new document. Note: The `projects.agent.knowledgeBases.documents` resource is deprecated; only use `projects.knowledgeBases.documents`.'
      operationId: dialogflow.projects.agent.knowledgeBases.documents.create
      parameters:
        - description: 'Required. The knoweldge base to create a document for. Format: `projects//knowledgeBases/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1Document'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/entities:batchCreate':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Creates multiple new entities in the specified entity type. Operation '
      operationId: dialogflow.projects.agent.entityTypes.entities.batchCreate
      parameters:
        - description: 'Required. The name of the entity type to create entities in. Format: `projects//agent/entityTypes/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1BatchCreateEntitiesRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/entities:batchDelete':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Deletes entities in the specified entity type. Operation '
      operationId: dialogflow.projects.agent.entityTypes.entities.batchDelete
      parameters:
        - description: 'Required. The name of the entity type to delete entries for. Format: `projects//agent/entityTypes/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1BatchDeleteEntitiesRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/entities:batchUpdate':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Updates or creates multiple entities in the specified entity type. This method does not affect entities in the entity type that aren''t explicitly specified in the request. Operation '
      operationId: dialogflow.projects.agent.entityTypes.entities.batchUpdate
      parameters:
        - description: 'Required. The name of the entity type to update or create entities in. Format: `projects//agent/entityTypes/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1BatchUpdateEntitiesRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/entityTypes':
    get:
      description: Returns the list of all session entity types in the specified session. This method doesn't work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.
      operationId: dialogflow.projects.agent.sessions.entityTypes.list
      parameters:
        - description: 'Required. The session to list all session entity types from. Format: `projects//agent/sessions/` or `projects//agent/environments//users// sessions/`. If `Environment ID` is not specified, we assume default ''draft'' environment. If `User ID` is not specified, we assume default ''-'' user.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ListSessionEntityTypesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Creates a session entity type. If the specified session entity type already exists, overrides the session entity type. This method doesn''t work with Google Assistant integration. Contact Dialogflow support if you need to use session entities with Google Assistant integration.'
      operationId: dialogflow.projects.agent.sessions.entityTypes.create
      parameters:
        - description: 'Required. The session to create a session entity type for. Format: `projects//agent/sessions/` or `projects//agent/environments//users// sessions/`. If `Environment ID` is not specified, we assume default ''draft'' environment. If `User ID` is not specified, we assume default ''-'' user.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'Optional. The language used to access language-specific data. If not specified, the agent''s default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).'
          in: query
          name: languageCode
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1SessionEntityType'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1SessionEntityType'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/entityTypes:batchDelete':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Deletes entity types in the specified agent. Operation '
      operationId: dialogflow.projects.agent.entityTypes.batchDelete
      parameters:
        - description: 'Required. The name of the agent to delete all entities types for. Format: `projects//agent`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1BatchDeleteEntityTypesRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/entityTypes:batchUpdate':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Updates/Creates multiple entity types in the specified agent. Operation '
      operationId: dialogflow.projects.agent.entityTypes.batchUpdate
      parameters:
        - description: 'Required. The name of the agent to update or create entity types in. Format: `projects//agent`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1BatchUpdateEntityTypesRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/environments':
    get:
      description: Returns the list of all non-draft environments of the specified agent.
      operationId: dialogflow.projects.agent.environments.list
      parameters:
        - description: 'Required. The agent to list all environments from. Format: - `projects//agent` - `projects//locations//agent'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ListEnvironmentsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
  '/v2beta1/{parent}/intents':
    get:
      description: Returns the list of all intents in the specified agent.
      operationId: dialogflow.projects.agent.intents.list
      parameters:
        - description: 'Required. The agent to list all intents from. Format: `projects//agent`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The resource view to apply to the returned intent.
          in: query
          name: intentView
          schema:
            enum:
              - INTENT_VIEW_UNSPECIFIED
              - INTENT_VIEW_FULL
            type: string
        - description: 'Optional. The language used to access language-specific data. If not specified, the agent''s default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).'
          in: query
          name: languageCode
          schema:
            type: string
        - description: Optional. The maximum number of items to return in a single page. By default 100 and at most 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ListIntentsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: Creates an intent in the specified agent.
      operationId: dialogflow.projects.agent.intents.create
      parameters:
        - description: 'Required. The agent to create a intent for. Format: `projects//agent`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The resource view to apply to the returned intent.
          in: query
          name: intentView
          schema:
            enum:
              - INTENT_VIEW_UNSPECIFIED
              - INTENT_VIEW_FULL
            type: string
        - description: 'Optional. The language used to access language-specific data. If not specified, the agent''s default language is used. For more information, see [Multilingual intent and entity data](https://cloud.google.com/dialogflow/docs/agents-multilingual#intent-entity).'
          in: query
          name: languageCode
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1Intent'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1Intent'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/intents:batchDelete':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Deletes intents in the specified agent. Operation '
      operationId: dialogflow.projects.agent.intents.batchDelete
      parameters:
        - description: 'Required. The name of the agent to delete all entities types for. Format: `projects//agent`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1BatchDeleteIntentsRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/intents:batchUpdate':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Updates/Creates multiple intents in the specified agent. Operation '
      operationId: dialogflow.projects.agent.intents.batchUpdate
      parameters:
        - description: 'Required. The name of the agent to update or create intents in. Format: `projects//agent`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1BatchUpdateIntentsRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleLongrunningOperation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{parent}/knowledgeBases':
    get:
      description: 'Returns the list of all knowledge bases of the specified agent. Note: The `projects.agent.knowledgeBases` resource is deprecated; only use `projects.knowledgeBases`.'
      operationId: dialogflow.projects.agent.knowledgeBases.list
      parameters:
        - description: 'Required. The project to list of knowledge bases for. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. The maximum number of items to return in a single page. By default 10 and at most 100.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. The next_page_token value returned from a previous list request.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1ListKnowledgeBasesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Creates a knowledge base. Note: The `projects.agent.knowledgeBases` resource is deprecated; only use `projects.knowledgeBases`.'
      operationId: dialogflow.projects.agent.knowledgeBases.create
      parameters:
        - description: 'Required. The project to create a knowledge base for. Format: `projects/`.'
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1KnowledgeBase'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1KnowledgeBase'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
  '/v2beta1/{session}:detectIntent':
    parameters:
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/upload_protocol'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/alt'
    post:
      description: 'Processes a natural language query and returns structured, actionable data as a result. This method is not idempotent, because it may cause contexts and session entity types to be updated, which in turn might affect results of future queries.'
      operationId: dialogflow.projects.agent.sessions.detectIntent
      parameters:
        - description: 'Required. The name of the session this query is sent to. Format: `projects//agent/sessions/`, or `projects//agent/environments//users//sessions/`. If `Environment ID` is not specified, we assume default ''draft'' environment. If `User ID` is not specified, we are using "-". It''s up to the API caller to choose an appropriate `Session ID` and `User Id`. They can be a random number or some type of user and session identifiers (preferably hashed). The length of the `Session ID` and `User ID` must not exceed 36 characters. For more information, see the [API interactions guide](https://cloud.google.com/dialogflow/docs/api-overview).'
          in: path
          name: session
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1DetectIntentRequest'
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GoogleCloudDialogflowV2beta1DetectIntentResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/dialogflow'
          Oauth2c:
            - 'https://www.googleapis.com/auth/dialogflow'
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - '1'
          - '2'
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleCloudDialogflowCxV3beta1CreateVersionOperationMetadata:
      description: Metadata associated with the long running operation for Versions.CreateVersion.
      properties:
        version:
          description: 'Name of the created version. Format: `projects//locations//agents//flows//versions/`.'
          type: string
      type: object
    GoogleCloudDialogflowCxV3beta1ExportAgentResponse:
      description: The response message for Agents.ExportAgent.
      properties:
        agentContent:
          description: Uncompressed raw byte content for agent.
          format: byte
          type: string
        agentUri:
          description: The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in ExportAgentRequest.
          type: string
      type: object
    GoogleCloudDialogflowCxV3beta1PageInfo:
      description: Represents page information communicated to and from the webhook.
      properties:
        currentPage:
          description: 'Always present for WebhookRequest. Ignored for WebhookResponse. The unique identifier of the current page. Format: `projects//locations//agents//flows//pages/`.'
          type: string
        formInfo:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1PageInfoFormInfo'
          description: Optional for both WebhookRequest and WebhookResponse. Information about the form.
      type: object
    GoogleCloudDialogflowCxV3beta1PageInfoFormInfo:
      description: Represents form information.
      properties:
        parameterInfo:
          description: Optional for both WebhookRequest and WebhookResponse. The parameters contained in the form. Note that the webhook cannot add or remove any form parameter.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo'
          type: array
      type: object
    GoogleCloudDialogflowCxV3beta1PageInfoFormInfoParameterInfo:
      description: Represents parameter information.
      properties:
        displayName:
          description: 'Always present for WebhookRequest. Required for WebhookResponse. The human-readable name of the parameter, unique within the form. This field cannot be modified by the webhook.'
          type: string
        justCollected:
          description: Optional for WebhookRequest. Ignored for WebhookResponse. Indicates if the parameter value was just collected on the last conversation turn.
          type: boolean
        required:
          description: 'Optional for both WebhookRequest and WebhookResponse. Indicates whether the parameter is required. Optional parameters will not trigger prompts; however, they are filled if the user specifies them. Required parameters must be filled before form filling concludes.'
          type: boolean
        state:
          description: Always present for WebhookRequest. Required for WebhookResponse. The state of the parameter. This field can be set to INVALID by the webhook to invalidate the parameter; other values set by the webhook will be ignored.
          enum:
            - PARAMETER_STATE_UNSPECIFIED
            - EMPTY
            - INVALID
            - FILLED
          type: string
        value:
          description: Optional for both WebhookRequest and WebhookResponse. The value of the parameter. This field can be set by the webhook to change the parameter value.
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessage:
      description: 'Represents a response message that can be returned by a conversational agent. Response messages are also used for output audio synthesis. The approach is as follows: * If at least one OutputAudioText response is present, then all OutputAudioText responses are linearly concatenated, and the result is used for output audio synthesis. * If the OutputAudioText responses are a mixture of text and SSML, then the concatenated result is treated as SSML; otherwise, the result is treated as either text or SSML as appropriate. The agent designer should ideally use either text or SSML consistently throughout the bot design. * Otherwise, all Text responses are linearly concatenated, and the result is used for output audio synthesis. This approach allows for more sophisticated user experience scenarios, where the text displayed to the user may differ from what is heard.'
      properties:
        conversationSuccess:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess'
          description: Indicates that the conversation succeeded.
        endInteraction:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction'
          description: Output only. A signal that indicates the interaction with the Dialogflow agent has ended. This message is generated by Dialogflow only when the conversation reaches `END_SESSION` or `END_PAGE` page. It is not supposed to be defined by the user. It's guaranteed that there is at most one such message in each response.
          readOnly: true
        liveAgentHandoff:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff'
          description: Hands off conversation to a human agent.
        mixedAudio:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio'
          description: Output only. An audio response message composed of both the synthesized Dialogflow agent responses and responses defined via play_audio. This message is generated by Dialogflow only and not supposed to be defined by the user.
          readOnly: true
        outputAudioText:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText'
          description: 'A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message.'
        payload:
          additionalProperties:
            description: Properties of the object.
          description: 'Returns a response containing a custom, platform-specific payload.'
          type: object
        playAudio:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio'
          description: 'Signal that the client should play an audio clip hosted at a client-specific URI. Dialogflow uses this to construct mixed_audio. However, Dialogflow itself does not try to read or process the URI in any way.'
        text:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageText'
          description: Returns a text response.
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessageConversationSuccess:
      description: 'Indicates that the conversation succeeded, i.e., the bot handled the issue that the customer talked to it about. Dialogflow only uses this to determine which conversations should be counted as successful and doesn''t process the metadata in this message in any way. Note that Dialogflow also considers conversations that get to the conversation end page as successful even if they don''t return ConversationSuccess. You may set this, for example: * In the entry_fulfillment of a Page if entering the page indicates that the conversation succeeded. * In a webhook response when you determine that you handled the customer issue.'
      properties:
        metadata:
          additionalProperties:
            description: Properties of the object.
          description: Custom metadata. Dialogflow doesn't impose any structure on this.
          type: object
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessageEndInteraction:
      description: Indicates that interaction with the Dialogflow agent has ended. This message is generated by Dialogflow only and not supposed to be defined by the user.
      properties: {}
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessageLiveAgentHandoff:
      description: 'Indicates that the conversation should be handed off to a live agent. Dialogflow only uses this to determine which conversations were handed off to a human agent for measurement purposes. What else to do with this signal is up to you and your handoff procedures. You may set this, for example: * In the entry_fulfillment of a Page if entering the page indicates something went extremely wrong in the conversation. * In a webhook response when you determine that the customer issue can only be handled by a human.'
      properties:
        metadata:
          additionalProperties:
            description: Properties of the object.
          description: Custom metadata for your handoff procedure. Dialogflow doesn't impose any structure on this.
          type: object
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudio:
      description: Represents an audio message that is composed of both segments synthesized from the Dialogflow agent prompts and ones hosted externally at the specified URIs. The external URIs are specified via play_audio. This message is generated by Dialogflow only and not supposed to be defined by the user.
      properties:
        segments:
          description: Segments this audio response is composed of.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment'
          type: array
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessageMixedAudioSegment:
      description: Represents one segment of audio.
      properties:
        allowPlaybackInterruption:
          description: Output only. Whether the playback of this segment can be interrupted by the end user's speech and the client should then start the next Dialogflow request.
          readOnly: true
          type: boolean
        audio:
          description: Raw audio synthesized from the Dialogflow agent's response using the output config specified in the request.
          format: byte
          type: string
        uri:
          description: Client-specific URI that points to an audio clip accessible to the client. Dialogflow does not impose any validation on it.
          type: string
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessageOutputAudioText:
      description: 'A text or ssml response that is preferentially used for TTS output audio synthesis, as described in the comment on the ResponseMessage message.'
      properties:
        ssml:
          description: 'The SSML text to be synthesized. For more information, see [SSML](/speech/text-to-speech/docs/ssml).'
          type: string
        text:
          description: The raw text to be synthesized.
          type: string
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessagePlayAudio:
      description: Specifies an audio clip to be played by the client as part of the response.
      properties:
        allowPlaybackInterruption:
          description: Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.
          readOnly: true
          type: boolean
        audioUri:
          description: Required. URI of the audio clip. Dialogflow does not impose any validation on this value. It is specific to the client that reads it.
          type: string
      type: object
    GoogleCloudDialogflowCxV3beta1ResponseMessageText:
      description: The text response message.
      properties:
        allowPlaybackInterruption:
          description: Output only. Whether the playback of this message can be interrupted by the end user's speech and the client can then starts the next Dialogflow request.
          readOnly: true
          type: boolean
        text:
          description: Required. A collection of text responses.
          items:
            type: string
          type: array
      type: object
    GoogleCloudDialogflowCxV3beta1SessionInfo:
      description: Represents session information communicated to and from the webhook.
      properties:
        parameters:
          additionalProperties: {}
          description: 'Optional for WebhookRequest. Optional for WebhookResponse. All parameters collected from forms and intents during the session. Parameters can be created, updated, or removed by the webhook. To remove a parameter from the session, the webhook should explicitly set the parameter value to null in WebhookResponse. The map is keyed by parameters'' display names.'
          type: object
        session:
          description: 'Always present for WebhookRequest. Ignored for WebhookResponse. The unique identifier of the session. This field can be used by the webhook to identify a user. Format: `projects//locations//agents//sessions/`.'
          type: string
      type: object
    GoogleCloudDialogflowCxV3beta1WebhookRequest:
      description: The request message for a webhook call.
      properties:
        detectIntentResponseId:
          description: Always present. The unique identifier of the DetectIntentResponse that will be returned to the API caller.
          type: string
        fulfillmentInfo:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo'
          description: Always present. Information about the fulfillment that triggered this webhook call.
        intentInfo:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo'
          description: Information about the last matched intent.
        messages:
          description: The list of rich message responses to present to the user. Webhook can choose to append or replace this list in WebhookResponse.fulfillment_response;
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessage'
          type: array
        pageInfo:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1PageInfo'
          description: Information about page status.
        payload:
          additionalProperties:
            description: Properties of the object.
          description: Custom data set in QueryParameters.payload.
          type: object
        sessionInfo:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1SessionInfo'
          description: Information about session status.
      type: object
    GoogleCloudDialogflowCxV3beta1WebhookRequestFulfillmentInfo:
      description: Represents fulfillment information communicated to the webhook.
      properties:
        tag:
          description: Always present. The tag used to identify which fulfillment is being called.
          type: string
      type: object
    GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfo:
      description: Represents intent information communicated to the webhook.
      properties:
        lastMatchedIntent:
          description: 'Always present. The unique identifier of the last matched intent. Format: `projects//locations//agents//intents/`.'
          type: string
        parameters:
          additionalProperties:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue'
          description: Parameters identified as a result of intent matching. This is a map of the name of the identified parameter to the value of the parameter identified from the user's utterance. All parameters defined in the matched intent that are identified will be surfaced here.
          type: object
      type: object
    GoogleCloudDialogflowCxV3beta1WebhookRequestIntentInfoIntentParameterValue:
      description: Represents a value for an intent parameter.
      properties:
        originalValue:
          description: Always present. Original text value extracted from user utterance.
          type: string
        resolvedValue:
          description: Always present. Structured value for the parameter extracted from user utterance.
      type: object
    GoogleCloudDialogflowCxV3beta1WebhookResponse:
      description: The response message for a webhook call.
      properties:
        fulfillmentResponse:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse'
          description: The fulfillment response to send to the user. This field can be omitted by the webhook if it does not intend to send any response to the user.
        pageInfo:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1PageInfo'
          description: Information about page status. This field can be omitted by the webhook if it does not intend to modify page status.
        payload:
          additionalProperties:
            description: Properties of the object.
          description: Value to append directly to QueryResult.webhook_payloads.
          type: object
        sessionInfo:
          $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1SessionInfo'
          description: Information about session status. This field can be omitted by the webhook if it does not intend to modify session status.
        targetFlow:
          description: 'The target flow to transition to. Format: `projects//locations//agents//flows/`.'
          type: string
        targetPage:
          description: 'The target page to transition to. Format: `projects//locations//agents//flows//pages/`.'
          type: string
      type: object
    GoogleCloudDialogflowCxV3beta1WebhookResponseFulfillmentResponse:
      description: Represents a fulfillment response to the user.
      properties:
        mergeBehavior:
          description: Merge behavior for `messages`.
          enum:
            - MERGE_BEHAVIOR_UNSPECIFIED
            - APPEND
            - REPLACE
          type: string
        messages:
          description: The list of rich message responses to present to the user.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowCxV3beta1ResponseMessage'
          type: array
      type: object
    GoogleCloudDialogflowV2AnnotatedMessagePart:
      description: Represents a part of a message possibly annotated with an entity. The part can be an entity or purely a part of the message between two entities or message start/end.
      properties:
        entityType:
          description: 'The [Dialogflow system entity type](https://cloud.google.com/dialogflow/docs/reference/system-entities) of this message part. If this is empty, Dialogflow could not annotate the phrase part with a system entity.'
          type: string
        formattedValue:
          description: 'The [Dialogflow system entity formatted value ](https://cloud.google.com/dialogflow/docs/reference/system-entities) of this message part. For example for a system entity of type `@sys.unit-currency`, this may contain: { "amount": 5, "currency": "USD" } '
        text:
          description: A part of a message possibly annotated with an entity.
          type: string
      type: object
    GoogleCloudDialogflowV2BatchUpdateEntityTypesResponse:
      description: The response message for EntityTypes.BatchUpdateEntityTypes.
      properties:
        entityTypes:
          description: The collection of updated or created entity types.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2EntityType'
          type: array
      type: object
    GoogleCloudDialogflowV2BatchUpdateIntentsResponse:
      description: The response message for Intents.BatchUpdateIntents.
      properties:
        intents:
          description: The collection of updated or created intents.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2Intent'
          type: array
      type: object
    GoogleCloudDialogflowV2Context:
      description: 'Dialogflow contexts are similar to natural language context. If a person says to you "they are orange", you need context in order to understand what "they" is referring to. Similarly, for Dialogflow to handle an end-user expression like that, it needs to be provided with context in order to correctly match an intent. Using contexts, you can control the flow of a conversation. You can configure contexts for an intent by setting input and output contexts, which are identified by string names. When an intent is matched, any configured output contexts for that intent become active. While any contexts are active, Dialogflow is more likely to match intents that are configured with input contexts that correspond to the currently active contexts. For more information about context, see the [Contexts guide](https://cloud.google.com/dialogflow/docs/contexts-overview).'
      properties:
        lifespanCount:
          description: 'Optional. The number of conversational query requests after which the context expires. The default is `0`. If set to `0`, the context expires immediately. Contexts expire automatically after 20 minutes if there are no matching queries.'
          format: int32
          type: integer
        name:
          description: 'Required. The unique identifier of the context. Format: `projects//agent/sessions//contexts/`, or `projects//agent/environments//users//sessions//contexts/`. The `Context ID` is always converted to lowercase, may only contain characters in a-zA-Z0-9_-% and may be at most 250 bytes long. If `Environment ID` is not specified, we assume default ''draft'' environment. If `User ID` is not specified, we assume default ''-'' user. The following context names are reserved for internal use by Dialogflow. You should not use these contexts or create contexts with these names: * `__system_counters__` * `*_id_dialog_context` * `*_dialog_params_size`'
          type: string
        parameters:
          additionalProperties:
            description: Properties of the object.
          description: 'Optional. The collection of parameters associated with this context. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter''s entity type is a composite entity: map - Else: string or number, depending on parameter value type - MapValue value: - If parameter''s entity type is a composite entity: map from composite entity property names to property values - Else: parameter value'
          type: object
      type: object
    GoogleCloudDialogflowV2ConversationEvent:
      description: Represents a notification sent to Pub/Sub subscribers for conversation lifecycle events.
      properties:
        conversation:
          description: 'The unique identifier of the conversation this notification refers to. Format: `projects//conversations/`.'
          type: string
        errorStatus:
          $ref: '#/components/schemas/GoogleRpcStatus'
          description: More detailed information about an error. Only set for type UNRECOVERABLE_ERROR_IN_PHONE_CALL.
        newMessagePayload:
          $ref: '#/components/schemas/GoogleCloudDialogflowV2Message'
          description: Payload of NEW_MESSAGE event.
        type:
          description: The type of the event that this notification refers to.
          enum:
            - TYPE_UNSPECIFIED
            - CONVERSATION_STARTED
            - CONVERSATION_FINISHED
            - HUMAN_INTERVENTION_NEEDED
            - NEW_MESSAGE
            - UNRECOVERABLE_ERROR
          type: string
      type: object
    GoogleCloudDialogflowV2EntityType:
      description: 'Each intent parameter has a type, called the entity type, which dictates exactly how data from an end-user expression is extracted. Dialogflow provides predefined system entities that can match many common types of data. For example, there are system entities for matching dates, times, colors, email addresses, and so on. You can also create your own custom entities for matching custom data. For example, you could define a vegetable entity that can match the types of vegetables available for purchase with a grocery store agent. For more information, see the [Entity guide](https://cloud.google.com/dialogflow/docs/entities-overview).'
      properties:
        autoExpansionMode:
          description: Optional. Indicates whether the entity type can be automatically expanded.
          enum:
            - AUTO_EXPANSION_MODE_UNSPECIFIED
            - AUTO_EXPANSION_MODE_DEFAULT
          type: string
        displayName:
          description: Required. The name of the entity type.
          type: string
        enableFuzzyExtraction:
          description: Optional. Enables fuzzy entity extraction during classification.
          type: boolean
        entities:
          description: Optional. The collection of entity entries associated with the entity type.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2EntityTypeEntity'
          type: array
        kind:
          description: Required. Indicates the kind of entity type.
          enum:
            - KIND_UNSPECIFIED
            - KIND_MAP
            - KIND_LIST
            - KIND_REGEXP
          type: string
        name:
          description: 'The unique identifier of the entity type. Required for EntityTypes.UpdateEntityType and EntityTypes.BatchUpdateEntityTypes methods. Format: `projects//agent/entityTypes/`.'
          type: string
      type: object
    GoogleCloudDialogflowV2EntityTypeEntity:
      description: An **entity entry** for an associated entity type.
      properties:
        synonyms:
          description: 'Required. A collection of value synonyms. For example, if the entity type is *vegetable*, and `value` is *scallions*, a synonym could be *green onions*. For `KIND_LIST` entity types: * This collection must contain exactly one synonym equal to `value`.'
          items:
            type: string
          type: array
        value:
          description: 'Required. The primary value associated with this entity entry. For example, if the entity type is *vegetable*, the value could be *scallions*. For `KIND_MAP` entity types: * A reference value to be used in place of synonyms. For `KIND_LIST` entity types: * A string that can contain references to other entity types (with or without aliases).'
          type: string
      type: object
    GoogleCloudDialogflowV2EventInput:
      description: 'Events allow for matching intents by event name instead of the natural language input. For instance, input `` can trigger a personalized welcome response. The parameter `name` may be used by the agent in the response: `"Hello #welcome_event.name! What can I do for you today?"`.'
      properties:
        languageCode:
          description: 'Required. The language of this query. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes. Note that queries in the same session do not necessarily need to specify the same language.'
          type: string
        name:
          description: Required. The unique identifier of the event.
          type: string
        parameters:
          additionalProperties:
            description: Properties of the object.
          description: 'The collection of parameters associated with the event. Depending on your protocol or client library language, this is a map, associative array, symbol table, dictionary, or JSON object composed of a collection of (MapKey, MapValue) pairs: - MapKey type: string - MapKey value: parameter name - MapValue type: - If parameter''s entity type is a composite entity: map - Else: string or number, depending on parameter value type - MapValue value: - If parameter''s entity type is a composite entity: map from composite entity property names to property values - Else: parameter value'
          type: object
      type: object
    GoogleCloudDialogflowV2ExportAgentResponse:
      description: The response message for Agents.ExportAgent.
      properties:
        agentContent:
          description: Zip compressed raw byte content for agent.
          format: byte
          type: string
        agentUri:
          description: The URI to a file containing the exported agent. This field is populated only if `agent_uri` is specified in `ExportAgentRequest`.
          type: string
      type: object
    GoogleCloudDialogflowV2Intent:
      description: 'An intent categorizes an end-user''s intention for one conversation turn. For each agent, you define many intents, where your combined intents can handle a complete conversation. When an end-user writes or says something, referred to as an end-user expression or end-user input, Dialogflow matches the end-user input to the best intent in your agent. Matching an intent is also known as intent classification. For more information, see the [intent guide](https://cloud.google.com/dialogflow/docs/intents-overview).'
      properties:
        action:
          description: 'Optional. The name of the action associated with the intent. Note: The action name must not contain whitespaces.'
          type: string
        defaultResponsePlatforms:
          description: Optional. The list of platforms for which the first responses will be copied from the messages in PLATFORM_UNSPECIFIED (i.e. default platform).
          items:
            enum:
              - PLATFORM_UNSPECIFIED
              - FACEBOOK
              - SLACK
              - TELEGRAM
              - KIK
              - SKYPE
              - LINE
              - VIBER
              - ACTIONS_ON_GOOGLE
              - GOOGLE_HANGOUTS
            type: string
          type: array
        displayName:
          description: Required. The name of this intent.
          type: string
        events:
          description: 'Optional. The collection of event names that trigger the intent. If the collection of input contexts is not empty, all of the contexts must be present in the active user session for an event to trigger this intent. Event names are limited to 150 characters.'
          items:
            type: string
          type: array
        followupIntentInfo:
          description: Read-only. Information about all followup intents that have this intent as a direct or indirect parent. We populate this field only in the output.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentFollowupIntentInfo'
          type: array
        inputContextNames:
          description: 'Optional. The list of context names required for this intent to be triggered. Format: `projects//agent/sessions/-/contexts/`.'
          items:
            type: string
          type: array
        isFallback:
          description: Optional. Indicates whether this is a fallback intent.
          type: boolean
        messages:
          description: Optional. The collection of rich messages corresponding to the `Response` field in the Dialogflow console.
          items:
            $ref: '#/components/schemas/GoogleCloudDialogflowV2IntentMessage'
          type: array
        mlDisabled:
          description: 'Optional. Indicates whether Machine Learning is disabled for the intent. Note: If `ml_disabled` setting is set to true, then this intent is not taken into account during inference in `ML ONLY` match mode. Also, auto-markup in the UI is turned off.'
          type: boolean
        name:
          description: 'Optional. The unique identifier of this intent. Required for Intents.UpdateIntent and Intents.BatchUpdateIntents methods. Format: `projects//agent/intents/`.'
          type: string
        outputContexts:
[...]
