swagger: '2.0'
schemes:
  - https
host: script.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Executes functions in Google Apps Script projects.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Apps Script Execution
  version: v1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.gstatic.com/images/icons/material/product/2x/apps_script_64dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://script.googleapis.com/$discovery/rest?version=v1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: script
externalDocs:
  url: 'https://developers.google.com/apps-script/execution/rest/v1/scripts/run'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://mail.google.com/': 'Read, send, delete, and manage your email'
      'https://www.google.com/calendar/feeds': Manage your calendars
      'https://www.google.com/m8/feeds': Manage your contacts
      'https://www.googleapis.com/auth/admin.directory.group': View and manage the provisioning of groups on your domain
      'https://www.googleapis.com/auth/admin.directory.user': View and manage the provisioning of users on your domain
      'https://www.googleapis.com/auth/drive': View and manage the files in your Google Drive
      'https://www.googleapis.com/auth/forms': View and manage your forms in Google Drive
      'https://www.googleapis.com/auth/forms.currentonly': View and manage forms that this application has been installed in
      'https://www.googleapis.com/auth/groups': View and manage your Google Groups
      'https://www.googleapis.com/auth/spreadsheets': View and manage your spreadsheets in Google Drive
      'https://www.googleapis.com/auth/userinfo.email': View your email address
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://mail.google.com/': 'Read, send, delete, and manage your email'
      'https://www.google.com/calendar/feeds': Manage your calendars
      'https://www.google.com/m8/feeds': Manage your contacts
      'https://www.googleapis.com/auth/admin.directory.group': View and manage the provisioning of groups on your domain
      'https://www.googleapis.com/auth/admin.directory.user': View and manage the provisioning of users on your domain
      'https://www.googleapis.com/auth/drive': View and manage the files in your Google Drive
      'https://www.googleapis.com/auth/forms': View and manage your forms in Google Drive
      'https://www.googleapis.com/auth/forms.currentonly': View and manage forms that this application has been installed in
      'https://www.googleapis.com/auth/groups': View and manage your Google Groups
      'https://www.googleapis.com/auth/spreadsheets': View and manage your spreadsheets in Google Drive
      'https://www.googleapis.com/auth/userinfo.email': View your email address
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: scripts
paths:
  '/v1/scripts/{scriptId}:run':
    parameters:
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
    post:
      description: |-
        Runs a function in an Apps Script project. The project must be deployed
        for use with the Apps Script Execution API.

        This method requires authorization with an OAuth 2.0 token that includes at
        least one of the scopes listed in the [Authorization](#authorization)
        section; script projects that do not require authorization cannot be
        executed through this API. To find the correct scopes to include in the
        authentication token, open the project in the script editor, then select
        **File > Project properties** and click the **Scopes** tab.
      operationId: script.scripts.run
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ExecutionRequest'
        - description: |-
            The script ID of the script to be executed. To find the script ID, open
            the project in the script editor and select **File > Project properties**.
          in: path
          name: scriptId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Operation'
      security:
        - Oauth2:
            - 'https://mail.google.com/'
          Oauth2c:
            - 'https://mail.google.com/'
        - Oauth2:
            - 'https://www.google.com/calendar/feeds'
          Oauth2c:
            - 'https://www.google.com/calendar/feeds'
        - Oauth2:
            - 'https://www.google.com/m8/feeds'
          Oauth2c:
            - 'https://www.google.com/m8/feeds'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.group'
          Oauth2c:
            - 'https://www.googleapis.com/auth/admin.directory.group'
        - Oauth2:
            - 'https://www.googleapis.com/auth/admin.directory.user'
          Oauth2c:
            - 'https://www.googleapis.com/auth/admin.directory.user'
        - Oauth2:
            - 'https://www.googleapis.com/auth/drive'
          Oauth2c:
            - 'https://www.googleapis.com/auth/drive'
        - Oauth2:
            - 'https://www.googleapis.com/auth/forms'
          Oauth2c:
            - 'https://www.googleapis.com/auth/forms'
        - Oauth2:
            - 'https://www.googleapis.com/auth/forms.currentonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/forms.currentonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/groups'
          Oauth2c:
            - 'https://www.googleapis.com/auth/groups'
        - Oauth2:
            - 'https://www.googleapis.com/auth/spreadsheets'
          Oauth2c:
            - 'https://www.googleapis.com/auth/spreadsheets'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - scripts
definitions:
  ExecutionError:
    description: |-
      An object that provides information about the nature of an error in the Apps
      Script Execution API. If an
      `run` call succeeds but the
      script function (or Apps Script itself) throws an exception, the response
      body's `error` field contains a
      `Status` object. The `Status` object's `details` field
      contains an array with a single one of these `ExecutionError` objects.
    properties:
      errorMessage:
        description: |-
          The error message thrown by Apps Script, usually localized into the user's
          language.
        type: string
      errorType:
        description: |-
          The error type, for example `TypeError` or `ReferenceError`. If the error
          type is unavailable, this field is not included.
        type: string
      scriptStackTraceElements:
        description: |-
          An array of objects that provide a stack trace through the script to show
          where the execution failed, with the deepest call first.
        items:
          $ref: '#/definitions/ScriptStackTraceElement'
        type: array
    type: object
  ExecutionRequest:
    description: |-
      A request to run the function in a script. The script is identified by the
      specified `script_id`. Executing a function on a script returns results
      based on the implementation of the script.
    properties:
      devMode:
        description: |-
          If `true` and the user is an owner of the script, the script runs at the
          most recently saved version rather than the version deployed for use with
          the Execution API. Optional; default is `false`.
        type: boolean
      function:
        description: |-
          The name of the function to execute in the given script. The name does not
          include parentheses or parameters.
        type: string
      parameters:
        description: |-
          The parameters to be passed to the function being executed. The object type
          for each parameter should match the expected type in Apps Script.
          Parameters cannot be Apps Script-specific object types (such as a
          `Document` or a `Calendar`); they can only be primitive types such as
          `string`, `number`, `array`, `object`, or `boolean`. Optional.
        items: {}
        type: array
      sessionState:
        description: |-
          For Android add-ons only. An ID that represents the user's current session
          in the Android app for Google Docs or Sheets, included as extra data in the
          [`Intent`](https://developer.android.com/guide/components/intents-filters.html)
          that launches the add-on. When an Android add-on is run with a session
          state, it gains the privileges of a
          [bound](https://developers.google.com/apps-script/guides/bound) script &mdash;
          that is, it can access information like the user's current cursor position
          (in Docs) or selected cell (in Sheets). To retrieve the state, call
          `Intent.getStringExtra("com.google.android.apps.docs.addons.SessionState")`.
          Optional.
        type: string
    type: object
  ExecutionResponse:
    description: |-
      An object that provides the return value of a function executed through the
      Apps Script Execution API. If a
      `run` call succeeds and the
      script function returns successfully, the response body's
      `response` field contains this
      `ExecutionResponse` object.
    properties:
      result:
        description: |-
          The return value of the script function. The type matches the object type
          returned in Apps Script. Functions called through the Execution API cannot
          return Apps Script-specific objects (such as a `Document` or a `Calendar`);
          they can only return primitive types such as a `string`, `number`, `array`,
          `object`, or `boolean`.
    type: object
  Operation:
    description: |-
      The response will not arrive until the function finishes executing. The maximum runtime is listed in the guide to [limitations in Apps Script](https://developers.google.com/apps-script/guides/services/quotas#current_limitations).
      <p>If the script function returns successfully, the `response` field will contain an `ExecutionResponse` object with the function's return value in the object's `result` field.</p>
      <p>If the script function (or Apps Script itself) throws an exception, the `error` field will contain a `Status` object. The `Status` object's `details` field will contain an array with a single `ExecutionError` object that provides information about the nature of the error.</p>
      <p>If the `run` call itself fails (for example, because of a malformed request or an authorization error), the method will return an HTTP response code in the 4XX range with a different format for the response body. Client libraries will automatically convert a 4XX response into an exception class.</p>
    properties:
      done:
        description: This field is only used with asynchronous executions and indicates whether or not the script execution has completed. A completed execution has a populated response field containing the `ExecutionResponse` from function that was executed.
        type: boolean
      error:
        $ref: '#/definitions/Status'
        description: 'If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, this field will contain a `Status` object. The `Status` object''s `details` field will contain an array with a single `ExecutionError` object that provides information about the nature of the error.'
      metadata:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: This field is not used.
        type: object
      response:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: 'If the script function returns successfully, this field will contain an `ExecutionResponse` object with the function''s return value as the object''s `result` field.'
        type: object
    type: object
  ScriptStackTraceElement:
    description: A stack trace through the script that shows where the execution failed.
    properties:
      function:
        description: The name of the function that failed.
        type: string
      lineNumber:
        description: The line number where the script failed.
        format: int32
        type: integer
    type: object
  Status:
    description: 'If a `run` call succeeds but the script function (or Apps Script itself) throws an exception, the response body''s `error` field will contain this `Status` object.'
    properties:
      code:
        description: 'The status code. For this API, this value will always be 3, corresponding to an <code>INVALID_ARGUMENT</code> error.'
        format: int32
        type: integer
      details:
        description: An array that contains a single `ExecutionError` object that provides information about the nature of the error.
        items:
          additionalProperties:
            description: Properties of the object. Contains field @type with type URL.
          type: object
        type: array
      message:
        description: 'A developer-facing error message, which is in English. Any user-facing error message is localized and sent in the [`google.rpc.Status.details`](google.rpc.Status.details) field, or localized by the client.'
        type: string
    type: object
