swagger: '2.0'
info:
  version: '2018-08-08'
  x-release: v4
  title: AWS Global Accelerator
  description: '<fullname>AWS Global Accelerator</fullname> <p>This is the <i>AWS Global Accelerator API Reference</i>. This guide is for developers who need detailed information about AWS Global Accelerator API actions, data types, and errors. For more information about Global Accelerator features, see the <a href="https://docs.aws.amazon.com/global-accelerator/latest/dg/Welcome.html">AWS Global Accelerator Developer Guide</a>. </p> <p>AWS Global Accelerator is a network layer service in which you create accelerators to improve availability and performance for internet applications used by a global audience. </p> <important> <p>You must specify the US-West-2 (Oregon) Region to create or update accelerators.</p> </important> <p>Global Accelerator provides you with static IP addresses that you associate with your accelerator. These IP addresses are anycast from the AWS edge network and distribute incoming application traffic across multiple endpoint resources in multiple AWS Regions, which increases the availability of your applications. Endpoints can be Elastic IP addresses, Network Load Balancers, and Application Load Balancers that are located in one AWS Region or multiple Regions.</p> <p>Global Accelerator uses the AWS global network to route traffic to the optimal regional endpoint based on health, client location, and policies that you configure. The service reacts instantly to changes in health or configuration to ensure that internet traffic from clients is directed to only healthy endpoints.</p> <p>Global Accelerator includes components that work together to help you improve performance and availability for your applications:</p> <dl> <dt>Static IP address</dt> <dd> <p>AWS Global Accelerator provides you with a set of static IP addresses which are anycast from the AWS edge network and serve as the single fixed entry points for your clients. If you already have Elastic Load Balancing or Elastic IP address resources set up for your applications, you can easily add those to Global Accelerator to allow the resources to be accessed by a Global Accelerator static IP address.</p> </dd> <dt>Accelerator</dt> <dd> <p>An accelerator directs traffic to optimal endpoints over the AWS global network to improve availability and performance for your internet applications that have a global audience. Each accelerator includes one or more listeners.</p> </dd> <dt>Network zone</dt> <dd> <p>A network zone services the static IP addresses for your accelerator from a unique IP subnet. Similar to an AWS Availability Zone, a network zone is an isolated unit with its own set of physical infrastructure. When you configure an accelerator, Global Accelerator allocates two IPv4 addresses for it. If one IP address from a network zone becomes unavailable due to IP address blocking by certain client networks, or network disruptions, then client applications can retry on the healthy static IP address from the other isolated network zone.</p> </dd> <dt>Listener</dt> <dd> <p>A listener processes inbound connections from clients to Global Accelerator, based on the protocol and port that you configure. Each listener has one or more endpoint groups associated with it, and traffic is forwarded to endpoints in one of the groups. You associate endpoint groups with listeners by specifying the Regions that you want to distribute traffic to. Traffic is distributed to optimal endpoints within the endpoint groups associated with a listener.</p> </dd> <dt>Endpoint group</dt> <dd> <p>Each endpoint group is associated with a specific AWS Region. Endpoint groups include one or more endpoints in the Region. You can increase or reduce the percentage of traffic that would be otherwise directed to an endpoint group by adjusting a setting called a <i>traffic dial</i>. The traffic dial lets you easily do performance testing or blue/green deployment testing for new releases across different AWS Regions, for example. </p> </dd> <dt>Endpoint</dt> <dd> <p>An endpoint is an Elastic IP address, Network Load Balancer, or Application Load Balancer. Traffic is routed to endpoints based on several factors, including the geo-proximity to the user, the health of the endpoint, and the configuration options that you choose, such as endpoint weights. For each endpoint, you can configure weights, which are numbers that you can use to specify the proportion of traffic to route to each one. This can be useful, for example, to do performance testing within a Region.</p> </dd> </dl>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: globalaccelerator
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/globalaccelerator-2018-08-08.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/globalaccelerator/'
host: globalaccelerator.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://globalaccelerator.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Global Accelerator multi-region endpoint
  - url: 'https://globalaccelerator.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The AWS Global Accelerator multi-region endpoint
  - url: 'http://globalaccelerator.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Global Accelerator endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://globalaccelerator.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The AWS Global Accelerator endpoint for China (Beijing) and China (Ningxia)
x-hasEquivalentPaths: true
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/#X-Amz-Target=GlobalAccelerator_V20180706.CreateAccelerator':
    post:
      operationId: CreateAccelerator
      description: '<p>Create an accelerator. An accelerator includes one or more listeners that process inbound connections and direct traffic to one or more endpoint groups, each of which includes endpoints, such as Network Load Balancers. To see an AWS CLI example of creating an accelerator, scroll down to <b>Example</b>.</p> <important> <p>You must specify the US-West-2 (Oregon) Region to create or update accelerators.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateAcceleratorResponse'
        '480':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '481':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateAcceleratorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.CreateAccelerator
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.CreateEndpointGroup':
    post:
      operationId: CreateEndpointGroup
      description: 'Create an endpoint group for the specified listener. An endpoint group is a collection of endpoints in one AWS Region. To see an AWS CLI example of creating an endpoint group, scroll down to <b>Example</b>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateEndpointGroupResponse'
        '480':
          description: AcceleratorNotFoundException
          schema:
            $ref: '#/definitions/AcceleratorNotFoundException'
        '481':
          description: EndpointGroupAlreadyExistsException
          schema:
            $ref: '#/definitions/EndpointGroupAlreadyExistsException'
        '482':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '485':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '486':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateEndpointGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.CreateEndpointGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.CreateListener':
    post:
      operationId: CreateListener
      description: 'Create a listener to process inbound connections from clients to an accelerator. Connections arrive to assigned static IP addresses on a port, port range, or list of port ranges that you specify. To see an AWS CLI example of creating a listener, scroll down to <b>Example</b>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateListenerResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: AcceleratorNotFoundException
          schema:
            $ref: '#/definitions/AcceleratorNotFoundException'
        '482':
          description: InvalidPortRangeException
          schema:
            $ref: '#/definitions/InvalidPortRangeException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateListenerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.CreateListener
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.DeleteAccelerator':
    post:
      operationId: DeleteAccelerator
      description: 'Delete an accelerator. Note: before you can delete an accelerator, you must disable it and remove all dependent resources (listeners and endpoint groups).'
      responses:
        '200':
          description: Success
        '480':
          description: AcceleratorNotFoundException
          schema:
            $ref: '#/definitions/AcceleratorNotFoundException'
        '481':
          description: AcceleratorNotDisabledException
          schema:
            $ref: '#/definitions/AcceleratorNotDisabledException'
        '482':
          description: AssociatedListenerFoundException
          schema:
            $ref: '#/definitions/AssociatedListenerFoundException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteAcceleratorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.DeleteAccelerator
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.DeleteEndpointGroup':
    post:
      operationId: DeleteEndpointGroup
      description: Delete an endpoint group from a listener.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: EndpointGroupNotFoundException
          schema:
            $ref: '#/definitions/EndpointGroupNotFoundException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteEndpointGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.DeleteEndpointGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.DeleteListener':
    post:
      operationId: DeleteListener
      description: Delete a listener from an accelerator.
      responses:
        '200':
          description: Success
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '482':
          description: AssociatedEndpointGroupFoundException
          schema:
            $ref: '#/definitions/AssociatedEndpointGroupFoundException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteListenerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.DeleteListener
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.DescribeAccelerator':
    post:
      operationId: DescribeAccelerator
      description: 'Describe an accelerator. To see an AWS CLI example of describing an accelerator, scroll down to <b>Example</b>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAcceleratorResponse'
        '480':
          description: AcceleratorNotFoundException
          schema:
            $ref: '#/definitions/AcceleratorNotFoundException'
        '481':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAcceleratorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.DescribeAccelerator
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.DescribeAcceleratorAttributes':
    post:
      operationId: DescribeAcceleratorAttributes
      description: Describe the attributes of an accelerator.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeAcceleratorAttributesResponse'
        '480':
          description: AcceleratorNotFoundException
          schema:
            $ref: '#/definitions/AcceleratorNotFoundException'
        '481':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeAcceleratorAttributesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.DescribeAcceleratorAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.DescribeEndpointGroup':
    post:
      operationId: DescribeEndpointGroup
      description: Describe an endpoint group.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointGroupResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: EndpointGroupNotFoundException
          schema:
            $ref: '#/definitions/EndpointGroupNotFoundException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.DescribeEndpointGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.DescribeListener':
    post:
      operationId: DescribeListener
      description: Describe a listener.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeListenerResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeListenerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.DescribeListener
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.ListAccelerators':
    post:
      operationId: ListAccelerators
      description: List the accelerators for an AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAcceleratorsResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListAcceleratorsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.ListAccelerators
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.ListEndpointGroups':
    post:
      operationId: ListEndpointGroups
      description: List the endpoint groups that are associated with a listener.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListEndpointGroupsResponse'
        '480':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '481':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListEndpointGroupsRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.ListEndpointGroups
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.ListListeners':
    post:
      operationId: ListListeners
      description: List the listeners for an accelerator.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListListenersResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: AcceleratorNotFoundException
          schema:
            $ref: '#/definitions/AcceleratorNotFoundException'
        '482':
          description: InvalidNextTokenException
          schema:
            $ref: '#/definitions/InvalidNextTokenException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListListenersRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.ListListeners
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.UpdateAccelerator':
    post:
      operationId: UpdateAccelerator
      description: '<p>Update an accelerator. To see an AWS CLI example of updating an accelerator, scroll down to <b>Example</b>.</p> <important> <p>You must specify the US-West-2 (Oregon) Region to create or update accelerators.</p> </important>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAcceleratorResponse'
        '480':
          description: AcceleratorNotFoundException
          schema:
            $ref: '#/definitions/AcceleratorNotFoundException'
        '481':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAcceleratorRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.UpdateAccelerator
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.UpdateAcceleratorAttributes':
    post:
      operationId: UpdateAcceleratorAttributes
      description: 'Update the attributes for an accelerator. To see an AWS CLI example of updating an accelerator to enable flow logs, scroll down to <b>Example</b>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateAcceleratorAttributesResponse'
        '480':
          description: AcceleratorNotFoundException
          schema:
            $ref: '#/definitions/AcceleratorNotFoundException'
        '481':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '482':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '483':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateAcceleratorAttributesRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.UpdateAcceleratorAttributes
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.UpdateEndpointGroup':
    post:
      operationId: UpdateEndpointGroup
      description: 'Update an endpoint group. To see an AWS CLI example of updating an endpoint group, scroll down to <b>Example</b>.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateEndpointGroupResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: EndpointGroupNotFoundException
          schema:
            $ref: '#/definitions/EndpointGroupNotFoundException'
        '482':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: AccessDeniedException
          schema:
            $ref: '#/definitions/AccessDeniedException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateEndpointGroupRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.UpdateEndpointGroup
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#X-Amz-Target=GlobalAccelerator_V20180706.UpdateListener':
    post:
      operationId: UpdateListener
      description: Update a listener.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateListenerResponse'
        '480':
          description: InvalidArgumentException
          schema:
            $ref: '#/definitions/InvalidArgumentException'
        '481':
          description: InvalidPortRangeException
          schema:
            $ref: '#/definitions/InvalidPortRangeException'
        '482':
          description: ListenerNotFoundException
          schema:
            $ref: '#/definitions/ListenerNotFoundException'
        '483':
          description: InternalServiceErrorException
          schema:
            $ref: '#/definitions/InternalServiceErrorException'
        '484':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateListenerRequest'
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - GlobalAccelerator_V20180706.UpdateListener
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CreateAcceleratorResponse:
    type: object
    properties:
      Accelerator:
        $ref: '#/definitions/Accelerator'
        description: The accelerator that is created by specifying a listener and the supported IP address types.
  CreateAcceleratorRequest:
    type: object
    required:
      - Name
      - IdempotencyToken
    properties:
      Name:
        $ref: '#/definitions/GenericString'
        description: 'The name of an accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.'
      IpAddressType:
        $ref: '#/definitions/IpAddressType'
        description: 'The value for the address type must be IPv4. '
      Enabled:
        $ref: '#/definitions/GenericBoolean'
        description: '<p>Indicates whether an accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, an accelerator cannot be deleted. If set to false, the accelerator can be deleted.</p>'
      IdempotencyToken:
        $ref: '#/definitions/IdempotencyToken'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of an accelerator.'
  InternalServiceErrorException: {}
  InvalidArgumentException: {}
  LimitExceededException: {}
  CreateEndpointGroupResponse:
    type: object
    properties:
      EndpointGroup:
        $ref: '#/definitions/EndpointGroup'
        description: The information about the endpoint group that was created.
  CreateEndpointGroupRequest:
    type: object
    required:
      - ListenerArn
      - EndpointGroupRegion
      - IdempotencyToken
    properties:
      ListenerArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the listener.
      EndpointGroupRegion:
        $ref: '#/definitions/GenericString'
        description: The name of the AWS Region where the endpoint group is located. A listener can have only one endpoint group in a specific Region.
      EndpointConfigurations:
        $ref: '#/definitions/EndpointConfigurations'
        description: The list of endpoint objects.
      TrafficDialPercentage:
        $ref: '#/definitions/TrafficDialPercentage'
        description: <p>The percentage of traffic to send to an AWS Region. Additional traffic is distributed to other endpoint groups for this listener. </p> <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is applied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p> <p>The default value is 100.</p>
      HealthCheckPort:
        $ref: '#/definitions/HealthCheckPort'
        description: 'The port that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default port is the listener port that this endpoint group is associated with. If listener port is a list of ports, Global Accelerator uses the first port in the list.'
      HealthCheckProtocol:
        $ref: '#/definitions/HealthCheckProtocol'
        description: The protocol that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default value is TCP.
      HealthCheckPath:
        $ref: '#/definitions/GenericString'
        description: 'If the protocol is HTTP/S, then this specifies the path that is the destination for health check targets. The default value is slash (/).'
      HealthCheckIntervalSeconds:
        $ref: '#/definitions/HealthCheckIntervalSeconds'
        description: The time—10 seconds or 30 seconds—between each health check for an endpoint. The default value is 30.
      ThresholdCount:
        $ref: '#/definitions/ThresholdCount'
        description: 'The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an unhealthy endpoint to healthy. The default value is 3.'
      IdempotencyToken:
        $ref: '#/definitions/IdempotencyToken'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of the request.'
  AcceleratorNotFoundException: {}
  EndpointGroupAlreadyExistsException: {}
  ListenerNotFoundException: {}
  AccessDeniedException: {}
  CreateListenerResponse:
    type: object
    properties:
      Listener:
        $ref: '#/definitions/Listener'
        description: The listener that you've created.
  CreateListenerRequest:
    type: object
    required:
      - AcceleratorArn
      - PortRanges
      - Protocol
      - IdempotencyToken
    properties:
      AcceleratorArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of your accelerator.
      PortRanges:
        $ref: '#/definitions/PortRanges'
        description: The list of port ranges to support for connections from clients to your accelerator.
      Protocol:
        $ref: '#/definitions/Protocol'
        description: The protocol for connections from clients to your accelerator.
      ClientAffinity:
        $ref: '#/definitions/ClientAffinity'
        description: '<p>Client affinity lets you direct all requests from a user to the same endpoint, if you have stateful applications, regardless of the port and protocol of the client request. Clienty affinity gives you control over whether to always route each client to the same specific endpoint.</p> <p>AWS Global Accelerator uses a consistent-flow hashing algorithm to choose the optimal endpoint for a connection. If client affinity is <code>NONE</code>, Global Accelerator uses the "five-tuple" (5-tuple) properties—source IP address, source port, destination IP address, destination port, and protocol—to select the hash value, and then chooses the best endpoint. However, with this setting, if someone uses different ports to connect to Global Accelerator, their connections might not be always routed to the same endpoint because the hash value changes. </p> <p>If you want a given client to always be routed to the same endpoint, set client affinity to <code>SOURCE_IP</code> instead. When you use the <code>SOURCE_IP</code> setting, Global Accelerator uses the "two-tuple" (2-tuple) properties— source (client) IP address and destination IP address—to select the hash value.</p> <p>The default value is <code>NONE</code>.</p>'
      IdempotencyToken:
        $ref: '#/definitions/IdempotencyToken'
        description: 'A unique, case-sensitive identifier that you provide to ensure the idempotency—that is, the uniqueness—of the request.'
  InvalidPortRangeException: {}
  DeleteAcceleratorRequest:
    type: object
    required:
      - AcceleratorArn
    properties:
      AcceleratorArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of an accelerator.
  AcceleratorNotDisabledException: {}
  AssociatedListenerFoundException: {}
  DeleteEndpointGroupRequest:
    type: object
    required:
      - EndpointGroupArn
    properties:
      EndpointGroupArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the endpoint group to delete.
  EndpointGroupNotFoundException: {}
  DeleteListenerRequest:
    type: object
    required:
      - ListenerArn
    properties:
      ListenerArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the listener.
  AssociatedEndpointGroupFoundException: {}
  DescribeAcceleratorResponse:
    type: object
    properties:
      Accelerator:
        $ref: '#/definitions/Accelerator'
        description: The description of the accelerator.
  DescribeAcceleratorRequest:
    type: object
    required:
      - AcceleratorArn
    properties:
      AcceleratorArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the accelerator to describe.
  DescribeAcceleratorAttributesResponse:
    type: object
    properties:
      AcceleratorAttributes:
        $ref: '#/definitions/AcceleratorAttributes'
        description: The attributes of the accelerator.
  DescribeAcceleratorAttributesRequest:
    type: object
    required:
      - AcceleratorArn
    properties:
      AcceleratorArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the accelerator with the attributes that you want to describe.
  DescribeEndpointGroupResponse:
    type: object
    properties:
      EndpointGroup:
        $ref: '#/definitions/EndpointGroup'
        description: The description of an endpoint group.
  DescribeEndpointGroupRequest:
    type: object
    required:
      - EndpointGroupArn
    properties:
      EndpointGroupArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the endpoint group to describe.
  DescribeListenerResponse:
    type: object
    properties:
      Listener:
        $ref: '#/definitions/Listener'
        description: The description of a listener.
  DescribeListenerRequest:
    type: object
    required:
      - ListenerArn
    properties:
      ListenerArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the listener to describe.
  ListAcceleratorsResponse:
    type: object
    properties:
      Accelerators:
        $ref: '#/definitions/Accelerators'
        description: The list of accelerators for a customer account.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The token for the next set of results. You receive this token from a previous call.
  ListAcceleratorsRequest:
    type: object
    properties:
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of Global Accelerator objects that you want to return with this call. The default value is 10.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The token for the next set of results. You receive this token from a previous call.
  InvalidNextTokenException: {}
  ListEndpointGroupsResponse:
    type: object
    properties:
      EndpointGroups:
        $ref: '#/definitions/EndpointGroups'
        description: The list of the endpoint groups associated with a listener.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The token for the next set of results. You receive this token from a previous call.
  ListEndpointGroupsRequest:
    type: object
    required:
      - ListenerArn
    properties:
      ListenerArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the listener.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of endpoint group objects that you want to return with this call. The default value is 10.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The token for the next set of results. You receive this token from a previous call.
  ListListenersResponse:
    type: object
    properties:
      Listeners:
        $ref: '#/definitions/Listeners'
        description: The list of listeners for an accelerator.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The token for the next set of results. You receive this token from a previous call.
  ListListenersRequest:
    type: object
    required:
      - AcceleratorArn
    properties:
      AcceleratorArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the accelerator for which you want to list listener objects.
      MaxResults:
        $ref: '#/definitions/MaxResults'
        description: The number of listener objects that you want to return with this call. The default value is 10.
      NextToken:
        $ref: '#/definitions/GenericString'
        description: The token for the next set of results. You receive this token from a previous call.
  UpdateAcceleratorResponse:
    type: object
    properties:
      Accelerator:
        $ref: '#/definitions/Accelerator'
        description: Information about the updated accelerator.
  UpdateAcceleratorRequest:
    type: object
    required:
      - AcceleratorArn
    properties:
      AcceleratorArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the accelerator to update.
      Name:
        $ref: '#/definitions/GenericString'
        description: 'The name of the accelerator. The name can have a maximum of 32 characters, must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.'
      IpAddressType:
        $ref: '#/definitions/IpAddressType'
        description: 'The value for the address type must be IPv4. '
      Enabled:
        $ref: '#/definitions/GenericBoolean'
        description: '<p>Indicates whether an accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, the accelerator can be deleted.</p>'
  UpdateAcceleratorAttributesResponse:
    type: object
    properties:
      AcceleratorAttributes:
        $ref: '#/definitions/AcceleratorAttributes'
        description: Updated attributes for the accelerator.
  UpdateAcceleratorAttributesRequest:
    type: object
    required:
      - AcceleratorArn
    properties:
      AcceleratorArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the accelerator that you want to update.
      FlowLogsEnabled:
        $ref: '#/definitions/GenericBoolean'
        description: '<p>Update whether flow logs are enabled. The default value is false. If the value is true, <code>FlowLogsS3Bucket</code> and <code>FlowLogsS3Prefix</code> must be specified.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/global-accelerator/latest/dg/monitoring-global-accelerator.flow-logs.html">Flow Logs</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>'
      FlowLogsS3Bucket:
        $ref: '#/definitions/GenericString'
        description: The name of the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. The bucket must exist and have a bucket policy that grants AWS Global Accelerator permission to write to the bucket.
      FlowLogsS3Prefix:
        $ref: '#/definitions/GenericString'
        description: 'Update the prefix for the location in the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. If you don’t specify a prefix, the flow logs are stored in the root of the bucket.'
  UpdateEndpointGroupResponse:
    type: object
    properties:
      EndpointGroup:
        $ref: '#/definitions/EndpointGroup'
        description: The information about the endpoint group that was updated.
  UpdateEndpointGroupRequest:
    type: object
    required:
      - EndpointGroupArn
    properties:
      EndpointGroupArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the endpoint group.
      EndpointConfigurations:
        $ref: '#/definitions/EndpointConfigurations'
        description: The list of endpoint objects.
      TrafficDialPercentage:
        $ref: '#/definitions/TrafficDialPercentage'
        description: <p>The percentage of traffic to send to an AWS Region. Additional traffic is distributed to other endpoint groups for this listener. </p> <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is applied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p> <p>The default value is 100.</p>
      HealthCheckPort:
        $ref: '#/definitions/HealthCheckPort'
        description: 'The port that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default port is the listener port that this endpoint group is associated with. If the listener port is a list of ports, Global Accelerator uses the first port in the list.'
      HealthCheckProtocol:
        $ref: '#/definitions/HealthCheckProtocol'
        description: The protocol that AWS Global Accelerator uses to check the health of endpoints that are part of this endpoint group. The default value is TCP.
      HealthCheckPath:
        $ref: '#/definitions/GenericString'
        description: 'If the protocol is HTTP/S, then this specifies the path that is the destination for health check targets. The default value is slash (/).'
      HealthCheckIntervalSeconds:
        $ref: '#/definitions/HealthCheckIntervalSeconds'
        description: The time—10 seconds or 30 seconds—between each health check for an endpoint. The default value is 30.
      ThresholdCount:
        $ref: '#/definitions/ThresholdCount'
        description: 'The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an unhealthy endpoint to healthy. The default value is 3.'
  UpdateListenerResponse:
    type: object
    properties:
      Listener:
        $ref: '#/definitions/Listener'
        description: Information for the updated listener.
  UpdateListenerRequest:
    type: object
    required:
      - ListenerArn
    properties:
      ListenerArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the listener to update.
      PortRanges:
        $ref: '#/definitions/PortRanges'
        description: The updated list of port ranges for the connections from clients to the accelerator.
      Protocol:
        $ref: '#/definitions/Protocol'
        description: The updated protocol for the connections from clients to the accelerator.
      ClientAffinity:
        $ref: '#/definitions/ClientAffinity'
        description: '<p>Client affinity lets you direct all requests from a user to the same endpoint, if you have stateful applications, regardless of the port and protocol of the client request. Clienty affinity gives you control over whether to always route each client to the same specific endpoint.</p> <p>AWS Global Accelerator uses a consistent-flow hashing algorithm to choose the optimal endpoint for a connection. If client affinity is <code>NONE</code>, Global Accelerator uses the "five-tuple" (5-tuple) properties—source IP address, source port, destination IP address, destination port, and protocol—to select the hash value, and then chooses the best endpoint. However, with this setting, if someone uses different ports to connect to Global Accelerator, their connections might not be always routed to the same endpoint because the hash value changes. </p> <p>If you want a given client to always be routed to the same endpoint, set client affinity to <code>SOURCE_IP</code> instead. When you use the <code>SOURCE_IP</code> setting, Global Accelerator uses the "two-tuple" (2-tuple) properties— source (client) IP address and destination IP address—to select the hash value.</p> <p>The default value is <code>NONE</code>.</p>'
  GenericString:
    type: string
    maxLength: 255
  IpAddressType:
    type: string
    enum:
      - IPV4
  GenericBoolean:
    type: boolean
  IpSets:
    type: array
    items:
      $ref: '#/definitions/IpSet'
  AcceleratorStatus:
    type: string
    enum:
      - DEPLOYED
      - IN_PROGRESS
  Timestamp:
    type: string
    format: date-time
  Accelerator:
    type: object
    properties:
      AcceleratorArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the accelerator.
      Name:
        $ref: '#/definitions/GenericString'
        description: 'The name of the accelerator. The name must contain only alphanumeric characters or hyphens (-), and must not begin or end with a hyphen.'
      IpAddressType:
        $ref: '#/definitions/IpAddressType'
        description: 'The value for the address type must be IPv4. '
      Enabled:
        $ref: '#/definitions/GenericBoolean'
        description: '<p>Indicates whether the accelerator is enabled. The value is true or false. The default value is true. </p> <p>If the value is set to true, the accelerator cannot be deleted. If set to false, accelerator can be deleted.</p>'
      IpSets:
        $ref: '#/definitions/IpSets'
        description: The static IP addresses that Global Accelerator associates with the accelerator.
      DnsName:
        $ref: '#/definitions/GenericString'
        description: '<p>The Domain Name System (DNS) name that Global Accelerator creates that points to your accelerator''s static IP addresses. </p> <p>The naming convention for the DNS name is: a lower case letter a, followed by a 16-bit random hex string, followed by .awsglobalaccelerator.com. For example: a1234567890abcdef.awsglobalaccelerator.com.</p> <p>For more information about the default DNS name, see <a href="https://docs.aws.amazon.com/global-accelerator/latest/dg/about-accelerators.html#about-accelerators.dns-addressing">Support for DNS Addressing in Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>'
      Status:
        $ref: '#/definitions/AcceleratorStatus'
        description: Describes the deployment status of the accelerator.
      CreatedTime:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the accelerator was created.
      LastModifiedTime:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the accelerator was last modified.
    description: 'An accelerator is a complex type that includes one or more listeners that process inbound connections and then direct traffic to one or more endpoint groups, each of which includes endpoints, such as load balancers.'
  AcceleratorAttributes:
    type: object
    properties:
      FlowLogsEnabled:
        $ref: '#/definitions/GenericBoolean'
        description: '<p>Indicates whether flow logs are enabled. The default value is false. If the value is true, <code>FlowLogsS3Bucket</code> and <code>FlowLogsS3Prefix</code> must be specified.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/global-accelerator/latest/dg/monitoring-global-accelerator.flow-logs.html">Flow Logs</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>'
      FlowLogsS3Bucket:
        $ref: '#/definitions/GenericString'
        description: The name of the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. The bucket must exist and have a bucket policy that grants AWS Global Accelerator permission to write to the bucket.
      FlowLogsS3Prefix:
        $ref: '#/definitions/GenericString'
        description: 'The prefix for the location in the Amazon S3 bucket for the flow logs. Attribute is required if <code>FlowLogsEnabled</code> is <code>true</code>. If you don’t specify a prefix, the flow logs are stored in the root of the bucket.'
    description: Attributes of an accelerator.
  Accelerators:
    type: array
    items:
      $ref: '#/definitions/Accelerator'
  ClientAffinity:
    type: string
    enum:
      - NONE
      - SOURCE_IP
  IdempotencyToken:
    type: string
    maxLength: 255
  EndpointConfigurations:
    type: array
    items:
      $ref: '#/definitions/EndpointConfiguration'
    minItems: 0
    maxItems: 10
  TrafficDialPercentage:
    type: number
    format: float
    minimum: 0
    maximum: 100
  HealthCheckPort:
    type: integer
    minimum: 1
    maximum: 65535
  HealthCheckProtocol:
    type: string
    enum:
      - TCP
      - HTTP
      - HTTPS
  HealthCheckIntervalSeconds:
    type: integer
    minimum: 10
    maximum: 30
  ThresholdCount:
    type: integer
    minimum: 1
    maximum: 10
  EndpointGroup:
    type: object
    properties:
      EndpointGroupArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the endpoint group.
      EndpointGroupRegion:
        $ref: '#/definitions/GenericString'
        description: The AWS Region that this endpoint group belongs.
      EndpointDescriptions:
        $ref: '#/definitions/EndpointDescriptions'
        description: The list of endpoint objects.
      TrafficDialPercentage:
        $ref: '#/definitions/TrafficDialPercentage'
        description: <p>The percentage of traffic to send to an AWS Region. Additional traffic is distributed to other endpoint groups for this listener. </p> <p>Use this action to increase (dial up) or decrease (dial down) traffic to a specific Region. The percentage is applied to the traffic that would otherwise have been routed to the Region based on optimal routing.</p> <p>The default value is 100.</p>
      HealthCheckPort:
        $ref: '#/definitions/HealthCheckPort'
        description: '<p>The port that Global Accelerator uses to perform health checks on endpoints that are part of this endpoint group. </p> <p>The default port is the port for the listener that this endpoint group is associated with. If the listener port is a list, Global Accelerator uses the first specified port in the list of ports.</p>'
      HealthCheckProtocol:
        $ref: '#/definitions/HealthCheckProtocol'
        description: The protocol that Global Accelerator uses to perform health checks on endpoints that are part of this endpoint group. The default value is TCP.
      HealthCheckPath:
        $ref: '#/definitions/GenericString'
        description: 'If the protocol is HTTP/S, then this value provides the ping path that Global Accelerator uses for the destination on the endpoints for health checks. The default is slash (/).'
      HealthCheckIntervalSeconds:
        $ref: '#/definitions/HealthCheckIntervalSeconds'
        description: The time—10 seconds or 30 seconds—between health checks for each endpoint. The default value is 30.
      ThresholdCount:
        $ref: '#/definitions/ThresholdCount'
        description: 'The number of consecutive health checks required to set the state of a healthy endpoint to unhealthy, or to set an unhealthy endpoint to healthy. The default value is 3.'
    description: 'A complex type for the endpoint group. An AWS Region can have only one endpoint group for a specific listener. '
  PortRanges:
    type: array
    items:
      $ref: '#/definitions/PortRange'
    minItems: 1
    maxItems: 10
  Protocol:
    type: string
    enum:
      - TCP
      - UDP
  Listener:
    type: object
    properties:
      ListenerArn:
        $ref: '#/definitions/GenericString'
        description: The Amazon Resource Name (ARN) of the listener.
      PortRanges:
        $ref: '#/definitions/PortRanges'
        description: The list of port ranges for the connections from clients to the accelerator.
      Protocol:
        $ref: '#/definitions/Protocol'
        description: The protocol for the connections from clients to the accelerator.
      ClientAffinity:
        $ref: '#/definitions/ClientAffinity'
        description: '<p>Client affinity lets you direct all requests from a user to the same endpoint, if you have stateful applications, regardless of the port and protocol of the client request. Clienty affinity gives you control over whether to always route each client to the same specific endpoint.</p> <p>AWS Global Accelerator uses a consistent-flow hashing algorithm to choose the optimal endpoint for a connection. If client affinity is <code>NONE</code>, Global Accelerator uses the "five-tuple" (5-tuple) properties—source IP address, source port, destination IP address, destination port, and protocol—to select the hash value, and then chooses the best endpoint. However, with this setting, if someone uses different ports to connect to Global Accelerator, their connections might not be always routed to the same endpoint because the hash value changes. </p> <p>If you want a given client to always be routed to the same endpoint, set client affinity to <code>SOURCE_IP</code> instead. When you use the <code>SOURCE_IP</code> setting, Global Accelerator uses the "two-tuple" (2-tuple) properties— source (client) IP address and destination IP address—to select the hash value.</p> <p>The default value is <code>NONE</code>.</p>'
    description: A complex type for a listener.
  EndpointWeight:
    type: integer
    minimum: 0
    maximum: 255
  EndpointConfiguration:
    type: object
    properties:
      EndpointId:
        $ref: '#/definitions/GenericString'
        description: 'An ID for the endpoint. If the endpoint is a Network Load Balancer or Application Load Balancer, this is the Amazon Resource Name (ARN) of the resource. If the endpoint is an Elastic IP address, this is the Elastic IP address allocation ID.'
      Weight:
        $ref: '#/definitions/EndpointWeight'
        description: 'The weight associated with the endpoint. When you add weights to endpoints, you configure AWS Global Accelerator to route traffic based on proportions that you specify. For example, you might specify endpoint weights of 4, 5, 5, and 6 (sum=20). The result is that 4/20 of your traffic, on average, is routed to the first endpoint, 5/20 is routed both to the second and third endpoints, and 6/20 is routed to the last endpoint. For more information, see <a href="https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoints-endpoint-weights.html">Endpoint Weights</a> in the <i>AWS Global Accelerator Developer Guide</i>.'
      ClientIPPreservationEnabled:
        $ref: '#/definitions/GenericBoolean'
        description: '<p>Indicates whether client IP address preservation is enabled for an Application Load Balancer endpoint. The value is true or false. The default value is true for new accelerators. </p> <p>If the value is set to true, the client''s IP address is preserved in the <code>X-Forwarded-For</code> request header as traffic travels to applications on the Application Load Balancer endpoint fronted by the accelerator.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/global-accelerator/latest/dg/introduction-how-it-works-client-ip.html"> Viewing Client IP Addresses in AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>'
    description: A complex type for endpoints.
  HealthState:
    type: string
    enum:
      - INITIAL
      - HEALTHY
      - UNHEALTHY
  EndpointDescription:
    type: object
    properties:
      EndpointId:
        $ref: '#/definitions/GenericString'
        description: 'An ID for the endpoint. If the endpoint is a Network Load Balancer or Application Load Balancer, this is the Amazon Resource Name (ARN) of the resource. If the endpoint is an Elastic IP address, this is the Elastic IP address allocation ID. An Application Load Balancer can be either internal or internet-facing.'
      Weight:
        $ref: '#/definitions/EndpointWeight'
        description: 'The weight associated with the endpoint. When you add weights to endpoints, you configure AWS Global Accelerator to route traffic based on proportions that you specify. For example, you might specify endpoint weights of 4, 5, 5, and 6 (sum=20). The result is that 4/20 of your traffic, on average, is routed to the first endpoint, 5/20 is routed both to the second and third endpoints, and 6/20 is routed to the last endpoint. For more information, see <a href="https://docs.aws.amazon.com/global-accelerator/latest/dg/about-endpoints-endpoint-weights.html">Endpoint Weights</a> in the <i>AWS Global Accelerator Developer Guide</i>. '
      HealthState:
        $ref: '#/definitions/HealthState'
        description: The health status of the endpoint.
      HealthReason:
        $ref: '#/definitions/GenericString'
        description: '<p>The reason code associated with why the endpoint is not healthy. If the endpoint state is healthy, a reason code is not provided.</p> <p>If the endpoint state is <b>unhealthy</b>, the reason code can be one of the following values:</p> <ul> <li> <p> <b>Timeout</b>: The health check requests to the endpoint are timing out before returning a status.</p> </li> <li> <p> <b>Failed</b>: The health check failed, for example because the endpoint response was invalid (malformed).</p> </li> </ul> <p>If the endpoint state is <b>initial</b>, the reason code can be one of the following values:</p> <ul> <li> <p> <b>ProvisioningInProgress</b>: The endpoint is in the process of being provisioned.</p> </li> <li> <p> <b>InitialHealthChecking</b>: Global Accelerator is still setting up the minimum number of health checks for the endpoint that are required to determine its health status.</p> </li> </ul>'
      ClientIPPreservationEnabled:
        $ref: '#/definitions/GenericBoolean'
        description: '<p>Indicates whether client IP address preservation is enabled for an Application Load Balancer endpoint. The value is true or false. The default value is true for new accelerators. </p> <p>If the value is set to true, the client''s IP address is preserved in the <code>X-Forwarded-For</code> request header as traffic travels to applications on the Application Load Balancer endpoint fronted by the accelerator.</p> <p>For more information, see <a href="https://docs.aws.amazon.com/global-accelerator/latest/dg/introduction-how-it-works-client-ip.html"> Viewing Client IP Addresses in AWS Global Accelerator</a> in the <i>AWS Global Accelerator Developer Guide</i>.</p>'
    description: 'A complex type for an endpoint. Each endpoint group can include one or more endpoints, such as load balancers.'
  EndpointDescriptions:
    type: array
    items:
      $ref: '#/definitions/EndpointDescription'
  EndpointGroups:
    type: array
    items:
      $ref: '#/definitions/EndpointGroup'
  IpAddress:
    type: string
  IpAddresses:
    type: array
    items:
      $ref: '#/definitions/IpAddress'
    minItems: 0
    maxItems: 2
  IpSet:
    type: object
    properties:
      IpFamily:
        $ref: '#/definitions/GenericString'
        description: The types of IP addresses included in this IP set.
      IpAddresses:
        $ref: '#/definitions/IpAddresses'
        description: The array of IP addresses in the IP address set. An IP address set can have a maximum of two IP addresses.
    description: A complex type for the set of IP addresses for an accelerator.
  MaxResults:
    type: integer
    minimum: 1
    maximum: 100
  Listeners:
    type: array
    items:
      $ref: '#/definitions/Listener'
  PortNumber:
    type: integer
    minimum: 1
    maximum: 65535
  PortRange:
    type: object
    properties:
      FromPort:
        $ref: '#/definitions/PortNumber'
        description: 'The first port in the range of ports, inclusive.'
      ToPort:
        $ref: '#/definitions/PortNumber'
        description: 'The last port in the range of ports, inclusive.'
    description: A complex type for a range of ports for a listener.
