{
  "openapi": "3.0.0",
  "servers": [
    {
      "url": "https://admob.googleapis.com/"
    }
  ],
  "info": {
    "contact": {
      "name": "Google",
      "url": "https://google.com",
      "x-twitter": "youtube"
    },
    "description": "The AdMob API allows publishers to programmatically get information about their AdMob account. ",
    "license": {
      "name": "Creative Commons Attribution 3.0",
      "url": "http://creativecommons.org/licenses/by/3.0/"
    },
    "termsOfService": "https://developers.google.com/terms/",
    "title": "AdMob API",
    "version": "v1beta",
    "x-apiClientRegistration": {
      "url": "https://console.developers.google.com"
    },
    "x-apisguru-categories": [
      "analytics",
      "media"
    ],
    "x-logo": {
      "url": "https://api.apis.guru/v2/cache/logo/https_www.google.com_images_branding_googlelogo_2x_googlelogo_color_272x92dp.png"
    },
    "x-origin": [
      {
        "format": "google",
        "url": "https://admob.googleapis.com/$discovery/rest?version=v1beta",
        "version": "v1"
      }
    ],
    "x-preferred": true,
    "x-providerName": "googleapis.com",
    "x-serviceName": "admob"
  },
  "externalDocs": {
    "url": "https://developers.google.com/admob/api/"
  },
  "tags": [
    {
      "name": "accounts"
    }
  ],
  "paths": {
    "/v1beta/accounts": {
      "get": {
        "description": "Lists the AdMob publisher account that was most recently signed in to from the AdMob UI. For more information, see https://support.google.com/admob/answer/10243672.",
        "operationId": "admob.accounts.list",
        "parameters": [
          {
            "description": "Maximum number of accounts to return.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The value returned by the last `ListPublisherAccountsResponse`; indicates that this is a continuation of a prior `ListPublisherAccounts` call, and that the system should return the next page of data.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListPublisherAccountsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.report"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.report"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v1beta/{name}": {
      "get": {
        "description": "Gets information about the specified AdMob publisher account.",
        "operationId": "admob.accounts.get",
        "parameters": [
          {
            "description": "Resource name of the publisher account to retrieve. Example: accounts/pub-9876543210987654",
            "in": "path",
            "name": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublisherAccount"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.report"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.report"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v1beta/{parent}/adSources": {
      "get": {
        "description": "List the ad sources.",
        "operationId": "admob.accounts.adSources.list",
        "parameters": [
          {
            "description": "Required. The parent which owns this collection of ad sources. Format: accounts/{publisher_id}",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of ad sources to return. If unspecified or 0, at most 10,000 ad sources will be returned. The maximum value is 20,000; values above 10,000 will be coerced to 20,000.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "A page token, received from a previous `ListAdSources` call. Provide this to retrieve the subsequent page.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdSourcesResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v1beta/{parent}/adUnits": {
      "get": {
        "description": "List the ad units under the specified AdMob account.",
        "operationId": "admob.accounts.adUnits.list",
        "parameters": [
          {
            "description": "Required. Resource name of the account to list ad units for. Example: accounts/pub-9876543210987654",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of ad units to return. If unspecified or 0, at most 10,000 ad units will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The value returned by the last `ListAdUnitsResponse`; indicates that this is a continuation of a prior `ListAdUnits` call, and that the system should return the next page of data.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAdUnitsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v1beta/{parent}/apps": {
      "get": {
        "description": "List the apps under the specified AdMob account.",
        "operationId": "admob.accounts.apps.list",
        "parameters": [
          {
            "description": "Required. Resource name of the account to list apps for. Example: accounts/pub-9876543210987654",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "description": "The maximum number of apps to return. If unspecified or 0, at most 10,000 apps will be returned. The maximum value is 20,000; values above 20,000 will be coerced to 20,000.",
            "in": "query",
            "name": "pageSize",
            "schema": {
              "type": "integer"
            }
          },
          {
            "description": "The value returned by the last `ListAppsResponse`; indicates that this is a continuation of a prior `ListApps` call, and that the system should return the next page of data.",
            "in": "query",
            "name": "pageToken",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListAppsResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.readonly"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ]
    },
    "/v1beta/{parent}/mediationReport:generate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Generates an AdMob mediation report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.",
        "operationId": "admob.accounts.mediationReport.generate",
        "parameters": [
          {
            "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateMediationReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateMediationReportResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.report"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.report"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      }
    },
    "/v1beta/{parent}/networkReport:generate": {
      "parameters": [
        {
          "$ref": "#/components/parameters/_.xgafv"
        },
        {
          "$ref": "#/components/parameters/access_token"
        },
        {
          "$ref": "#/components/parameters/alt"
        },
        {
          "$ref": "#/components/parameters/callback"
        },
        {
          "$ref": "#/components/parameters/fields"
        },
        {
          "$ref": "#/components/parameters/key"
        },
        {
          "$ref": "#/components/parameters/oauth_token"
        },
        {
          "$ref": "#/components/parameters/prettyPrint"
        },
        {
          "$ref": "#/components/parameters/quotaUser"
        },
        {
          "$ref": "#/components/parameters/upload_protocol"
        },
        {
          "$ref": "#/components/parameters/uploadType"
        }
      ],
      "post": {
        "description": "Generates an AdMob Network report based on the provided report specification. Returns result of a server-side streaming RPC. The result is returned in a sequence of responses.",
        "operationId": "admob.accounts.networkReport.generate",
        "parameters": [
          {
            "description": "Resource name of the account to generate the report for. Example: accounts/pub-9876543210987654",
            "in": "path",
            "name": "parent",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GenerateNetworkReportRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GenerateNetworkReportResponse"
                }
              }
            },
            "description": "Successful response"
          }
        },
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.readonly"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.readonly"
            ]
          },
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/admob.report"
            ],
            "Oauth2c": [
              "https://www.googleapis.com/auth/admob.report"
            ]
          }
        ],
        "tags": [
          "accounts"
        ]
      }
    }
  },
  "components": {
    "parameters": {
      "_.xgafv": {
        "description": "V1 error format.",
        "in": "query",
        "name": "$.xgafv",
        "schema": {
          "enum": [
            "1",
            "2"
          ],
          "type": "string"
        }
      },
      "access_token": {
        "description": "OAuth access token.",
        "in": "query",
        "name": "access_token",
        "schema": {
          "type": "string"
        }
      },
      "alt": {
        "description": "Data format for response.",
        "in": "query",
        "name": "alt",
        "schema": {
          "enum": [
            "json",
            "media",
            "proto"
          ],
          "type": "string"
        }
      },
      "callback": {
        "description": "JSONP",
        "in": "query",
        "name": "callback",
        "schema": {
          "type": "string"
        }
      },
      "fields": {
        "description": "Selector specifying which fields to include in a partial response.",
        "in": "query",
        "name": "fields",
        "schema": {
          "type": "string"
        }
      },
      "key": {
        "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
        "in": "query",
        "name": "key",
        "schema": {
          "type": "string"
        }
      },
      "oauth_token": {
        "description": "OAuth 2.0 token for the current user.",
        "in": "query",
        "name": "oauth_token",
        "schema": {
          "type": "string"
        }
      },
      "prettyPrint": {
        "description": "Returns response with indentations and line breaks.",
        "in": "query",
        "name": "prettyPrint",
        "schema": {
          "type": "boolean"
        }
      },
      "quotaUser": {
        "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.",
        "in": "query",
        "name": "quotaUser",
        "schema": {
          "type": "string"
        }
      },
      "uploadType": {
        "description": "Legacy upload protocol for media (e.g. \"media\", \"multipart\").",
        "in": "query",
        "name": "uploadType",
        "schema": {
          "type": "string"
        }
      },
      "upload_protocol": {
        "description": "Upload protocol for media (e.g. \"raw\", \"multipart\").",
        "in": "query",
        "name": "upload_protocol",
        "schema": {
          "type": "string"
        }
      }
    },
    "schemas": {
      "AdSource": {
        "description": "Definition of a mediation ad source.",
        "properties": {
          "adSourceId": {
            "description": "ID of this ad source.",
            "type": "string"
          },
          "name": {
            "description": "Resource name of this ad source. Format is: accounts/{publisher_id}/adSources/{ad_source_id}",
            "type": "string"
          },
          "title": {
            "description": "Display name of this ad source.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AdUnit": {
        "description": "Describes an AdMob ad unit.",
        "properties": {
          "adFormat": {
            "description": "AdFormat of the ad unit. Possible values are as follows: \"APP_OPEN\" - App Open ad format. \"BANNER\" - Banner ad format. \"BANNER_INTERSTITIAL\" - Legacy format that can be used as either banner or interstitial. This format can no longer be created but can be targeted by mediation groups. \"INTERSTITIAL\" - A full screen ad. Supported ad types are \"RICH_MEDIA\" and \"VIDEO\". \"NATIVE\" - Native ad format. \"REWARDED\" - An ad that, once viewed, gets a callback verifying the view so that a reward can be given to the user. Supported ad types are \"RICH_MEDIA\" (interactive) and video where video can not be excluded. \"REWARDED_INTERSTITIAL\" - Rewarded Interstitial ad format. Only supports video ad type. See https://support.google.com/admob/answer/9884467.",
            "type": "string"
          },
          "adTypes": {
            "description": "Ad media type supported by this ad unit. Possible values as follows: \"RICH_MEDIA\" - Text, image, and other non-video media. \"VIDEO\" - Video media.",
            "items": {
              "type": "string"
            },
            "type": "array"
          },
          "adUnitId": {
            "description": "The externally visible ID of the ad unit which can be used to integrate with the AdMob SDK. This is a read only property. Example: ca-app-pub-9876543210987654/0123456789",
            "type": "string"
          },
          "appId": {
            "description": "The externally visible ID of the app this ad unit is associated with. Example: ca-app-pub-9876543210987654~0123456789",
            "type": "string"
          },
          "displayName": {
            "description": "The display name of the ad unit as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters.",
            "type": "string"
          },
          "name": {
            "description": "Resource name for this ad unit. Format is accounts/{publisher_id}/adUnits/{ad_unit_id_fragment} Example: accounts/pub-9876543210987654/adUnits/0123456789",
            "type": "string"
          }
        },
        "type": "object"
      },
      "App": {
        "description": "Describes an AdMob app for a specific platform (For example: Android or iOS).",
        "properties": {
          "appApprovalState": {
            "description": "Output only. The approval state for the app.",
            "enum": [
              "APP_APPROVAL_STATE_UNSPECIFIED",
              "ACTION_REQUIRED",
              "IN_REVIEW",
              "APPROVED"
            ],
            "readOnly": true,
            "type": "string"
          },
          "appId": {
            "description": "The externally visible ID of the app which can be used to integrate with the AdMob SDK. This is a read only property. Example: ca-app-pub-9876543210987654~0123456789",
            "type": "string"
          },
          "linkedAppInfo": {
            "$ref": "#/components/schemas/AppLinkedAppInfo",
            "description": "Immutable. The information for an app that is linked to an app store. This field is present if and only if the app is linked to an app store."
          },
          "manualAppInfo": {
            "$ref": "#/components/schemas/AppManualAppInfo",
            "description": "The information for an app that is not linked to any app store. After an app is linked, this information is still retrivable. If no name is provided for the app upon creation, a placeholder name will be used."
          },
          "name": {
            "description": "Resource name for this app. Format is accounts/{publisher_id}/apps/{app_id_fragment} Example: accounts/pub-9876543210987654/apps/0123456789",
            "type": "string"
          },
          "platform": {
            "description": "Describes the platform of the app. Limited to \"IOS\" and \"ANDROID\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "AppLinkedAppInfo": {
        "description": "Information from the app store if the app is linked to an app store.",
        "properties": {
          "appStoreId": {
            "description": "The app store ID of the app; present if and only if the app is linked to an app store. If the app is added to the Google Play store, it will be the application ID of the app. For example: \"com.example.myapp\". See https://developer.android.com/studio/build/application-id. If the app is added to the Apple App Store, it will be app store ID. For example \"105169111\". Note that setting the app store id is considered an irreversible action. Once an app is linked, it cannot be unlinked.",
            "type": "string"
          },
          "displayName": {
            "description": "Output only. Display name of the app as it appears in the app store. This is an output-only field, and may be empty if the app cannot be found in the store.",
            "readOnly": true,
            "type": "string"
          }
        },
        "type": "object"
      },
      "AppManualAppInfo": {
        "description": "Information provided for manual apps which are not linked to an application store (Example: Google Play, App Store).",
        "properties": {
          "displayName": {
            "description": "The display name of the app as shown in the AdMob UI, which is provided by the user. The maximum length allowed is 80 characters.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "Date": {
        "description": "Represents a whole or partial calendar date, such as a birthday. The time of day and time zone are either specified elsewhere or are insignificant. The date is relative to the Gregorian Calendar. This can represent one of the following: * A full date, with non-zero year, month, and day values. * A month and day, with a zero year (for example, an anniversary). * A year on its own, with a zero month and a zero day. * A year and month, with a zero day (for example, a credit card expiration date). Related types: * google.type.TimeOfDay * google.type.DateTime * google.protobuf.Timestamp",
        "properties": {
          "day": {
            "description": "Day of a month. Must be from 1 to 31 and valid for the year and month, or 0 to specify a year by itself or a year and month where the day isn't significant.",
            "format": "int32",
            "type": "integer"
          },
          "month": {
            "description": "Month of a year. Must be from 1 to 12, or 0 to specify a year without a month and day.",
            "format": "int32",
            "type": "integer"
          },
          "year": {
            "description": "Year of the date. Must be from 1 to 9999, or 0 to specify a date without a year.",
            "format": "int32",
            "type": "integer"
          }
        },
        "type": "object"
      },
      "DateRange": {
        "description": "Specification of a single date range. Both dates are inclusive.",
        "properties": {
          "endDate": {
            "$ref": "#/components/schemas/Date",
            "description": "End date of the date range, inclusive. Must be greater than or equal to the start date."
          },
          "startDate": {
            "$ref": "#/components/schemas/Date",
            "description": "Start date of the date range, inclusive. Must be less than or equal to the end date."
          }
        },
        "type": "object"
      },
      "GenerateMediationReportRequest": {
        "description": "Request to generate an AdMob mediation report.",
        "properties": {
          "reportSpec": {
            "$ref": "#/components/schemas/MediationReportSpec",
            "description": "Network report specification."
          }
        },
        "type": "object"
      },
      "GenerateMediationReportResponse": {
        "description": "The streaming response for the AdMob mediation report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"date_range\": { \"start_date\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } }, { \"row\": { \"dimension_values\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", \"display_label\": \"My app name!\" } }, \"metric_values\": { \"ESTIMATED_EARNINGS\": {\"decimal_value\": \"1324746\"} } } }, { \"footer\": {\"matching_row_count\": 1} }]",
        "properties": {
          "footer": {
            "$ref": "#/components/schemas/ReportFooter",
            "description": "Additional information about the generated report, such as warnings about the data."
          },
          "header": {
            "$ref": "#/components/schemas/ReportHeader",
            "description": "Report generation settings that describes the report contents, such as the report date range and localization settings."
          },
          "row": {
            "$ref": "#/components/schemas/ReportRow",
            "description": "Actual report data."
          }
        },
        "type": "object"
      },
      "GenerateNetworkReportRequest": {
        "description": "Request to generate an AdMob Network report.",
        "properties": {
          "reportSpec": {
            "$ref": "#/components/schemas/NetworkReportSpec",
            "description": "Network report specification."
          }
        },
        "type": "object"
      },
      "GenerateNetworkReportResponse": {
        "description": "The streaming response for the AdMob Network report where the first response contains the report header, then a stream of row responses, and finally a footer as the last response message. For example: [{ \"header\": { \"dateRange\": { \"startDate\": {\"year\": 2018, \"month\": 9, \"day\": 1}, \"endDate\": {\"year\": 2018, \"month\": 9, \"day\": 1} }, \"localizationSettings\": { \"currencyCode\": \"USD\", \"languageCode\": \"en-US\" } } }, { \"row\": { \"dimensionValues\": { \"DATE\": {\"value\": \"20180918\"}, \"APP\": { \"value\": \"ca-app-pub-8123415297019784~1001342552\", displayLabel: \"My app name!\" } }, \"metricValues\": { \"ESTIMATED_EARNINGS\": {\"microsValue\": 6500000} } } }, { \"footer\": {\"matchingRowCount\": 1} }]",
        "properties": {
          "footer": {
            "$ref": "#/components/schemas/ReportFooter",
            "description": "Additional information about the generated report, such as warnings about the data."
          },
          "header": {
            "$ref": "#/components/schemas/ReportHeader",
            "description": "Report generation settings that describes the report contents, such as the report date range and localization settings."
          },
          "row": {
            "$ref": "#/components/schemas/ReportRow",
            "description": "Actual report data."
          }
        },
        "type": "object"
      },
      "ListAdSourcesResponse": {
        "description": "Response for the ListAdSourcesRequest.",
        "properties": {
          "adSources": {
            "description": "The ad sources.",
            "items": {
              "$ref": "#/components/schemas/AdSource"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "Used to set the `page_token` in the `ListAdSourcesRequest` to retrieve the next page. If this field is omitted, there are no subsequent pages.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListAdUnitsResponse": {
        "description": "Response for the ad units list request.",
        "properties": {
          "adUnits": {
            "description": "The resulting ad units for the requested account.",
            "items": {
              "$ref": "#/components/schemas/AdUnit"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "If not empty, indicates that there may be more ad units for the request; this value should be passed in a new `ListAdUnitsRequest`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListAppsResponse": {
        "description": "Response for the apps list request.",
        "properties": {
          "apps": {
            "description": "The resulting apps for the requested account.",
            "items": {
              "$ref": "#/components/schemas/App"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "If not empty, indicates that there may be more apps for the request; this value should be passed in a new `ListAppsRequest`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ListPublisherAccountsResponse": {
        "description": "Response for the publisher account list request.",
        "properties": {
          "account": {
            "description": "Publisher that the client credentials can access.",
            "items": {
              "$ref": "#/components/schemas/PublisherAccount"
            },
            "type": "array"
          },
          "nextPageToken": {
            "description": "If not empty, indicates that there might be more accounts for the request; you must pass this value in a new `ListPublisherAccountsRequest`.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "LocalizationSettings": {
        "description": "Localization settings for reports, such as currency and language. It affects how metrics are calculated.",
        "properties": {
          "currencyCode": {
            "description": "Currency code of the earning related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion. Defaults to the account currency code if unspecified.",
            "type": "string"
          },
          "languageCode": {
            "description": "Language used for any localized text, such as some dimension value display labels. The language tag defined in the IETF BCP47. Defaults to 'en-US' if unspecified.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MediationReportSpec": {
        "description": "The specification for generating an AdMob Mediation report. For example, the specification to get observed ECPM sliced by ad source and app for the 'US' and 'CN' countries can look like the following example: { \"date_range\": { \"start_date\": {\"year\": 2021, \"month\": 9, \"day\": 1}, \"end_date\": {\"year\": 2021, \"month\": 9, \"day\": 30} }, \"dimensions\": [\"AD_SOURCE\", \"APP\", \"COUNTRY\"], \"metrics\": [\"OBSERVED_ECPM\"], \"dimension_filters\": [ { \"dimension\": \"COUNTRY\", \"matches_any\": {\"values\": [{\"value\": \"US\", \"value\": \"CN\"}]} } ], \"sort_conditions\": [ {\"dimension\":\"APP\", order: \"ASCENDING\"} ], \"localization_settings\": { \"currency_code\": \"USD\", \"language_code\": \"en-US\" } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT AD_SOURCE, APP, COUNTRY, OBSERVED_ECPM FROM MEDIATION_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY AD_SOURCE, APP, COUNTRY ORDER BY APP ASC;",
        "properties": {
          "dateRange": {
            "$ref": "#/components/schemas/DateRange",
            "description": "The date range for which the report is generated."
          },
          "dimensionFilters": {
            "description": "Describes which report rows to match based on their dimension values.",
            "items": {
              "$ref": "#/components/schemas/MediationReportSpecDimensionFilter"
            },
            "type": "array"
          },
          "dimensions": {
            "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.",
            "items": {
              "enum": [
                "DIMENSION_UNSPECIFIED",
                "DATE",
                "MONTH",
                "WEEK",
                "AD_SOURCE",
                "AD_SOURCE_INSTANCE",
                "AD_UNIT",
                "APP",
                "MEDIATION_GROUP",
                "COUNTRY",
                "FORMAT",
                "PLATFORM",
                "MOBILE_OS_VERSION",
                "GMA_SDK_VERSION",
                "APP_VERSION_NAME",
                "SERVING_RESTRICTION"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "localizationSettings": {
            "$ref": "#/components/schemas/LocalizationSettings",
            "description": "Localization settings of the report."
          },
          "maxReportRows": {
            "description": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error.",
            "format": "int32",
            "type": "integer"
          },
          "metrics": {
            "description": "List of metrics of the report. A report must specify at least one metric.",
            "items": {
              "enum": [
                "METRIC_UNSPECIFIED",
                "AD_REQUESTS",
                "CLICKS",
                "ESTIMATED_EARNINGS",
                "IMPRESSIONS",
                "IMPRESSION_CTR",
                "MATCHED_REQUESTS",
                "MATCH_RATE",
                "OBSERVED_ECPM"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "sortConditions": {
            "description": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.",
            "items": {
              "$ref": "#/components/schemas/MediationReportSpecSortCondition"
            },
            "type": "array"
          },
          "timeZone": {
            "description": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "MediationReportSpecDimensionFilter": {
        "description": "Describes which report rows to match based on their dimension values.",
        "properties": {
          "dimension": {
            "description": "Applies the filter criterion to the specified dimension.",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_SOURCE",
              "AD_SOURCE_INSTANCE",
              "AD_UNIT",
              "APP",
              "MEDIATION_GROUP",
              "COUNTRY",
              "FORMAT",
              "PLATFORM",
              "MOBILE_OS_VERSION",
              "GMA_SDK_VERSION",
              "APP_VERSION_NAME",
              "SERVING_RESTRICTION"
            ],
            "type": "string"
          },
          "matchesAny": {
            "$ref": "#/components/schemas/StringList",
            "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition."
          }
        },
        "type": "object"
      },
      "MediationReportSpecSortCondition": {
        "description": "Sorting direction to be applied on a dimension or a metric.",
        "properties": {
          "dimension": {
            "description": "Sort by the specified dimension.",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_SOURCE",
              "AD_SOURCE_INSTANCE",
              "AD_UNIT",
              "APP",
              "MEDIATION_GROUP",
              "COUNTRY",
              "FORMAT",
              "PLATFORM",
              "MOBILE_OS_VERSION",
              "GMA_SDK_VERSION",
              "APP_VERSION_NAME",
              "SERVING_RESTRICTION"
            ],
            "type": "string"
          },
          "metric": {
            "description": "Sort by the specified metric.",
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "OBSERVED_ECPM"
            ],
            "type": "string"
          },
          "order": {
            "description": "Sorting order of the dimension or metric.",
            "enum": [
              "SORT_ORDER_UNSPECIFIED",
              "ASCENDING",
              "DESCENDING"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "NetworkReportSpec": {
        "description": "The specification for generating an AdMob Network report. For example, the specification to get clicks and estimated earnings for only the 'US' and 'CN' countries can look like the following example: { 'date_range': { 'start_date': {'year': 2021, 'month': 9, 'day': 1}, 'end_date': {'year': 2021, 'month': 9, 'day': 30} }, 'dimensions': ['DATE', 'APP', 'COUNTRY'], 'metrics': ['CLICKS', 'ESTIMATED_EARNINGS'], 'dimension_filters': [ { 'dimension': 'COUNTRY', 'matches_any': {'values': [{'value': 'US', 'value': 'CN'}]} } ], 'sort_conditions': [ {'dimension':'APP', order: 'ASCENDING'}, {'metric':'CLICKS', order: 'DESCENDING'} ], 'localization_settings': { 'currency_code': 'USD', 'language_code': 'en-US' } } For a better understanding, you can treat the preceding specification like the following pseudo SQL: SELECT DATE, APP, COUNTRY, CLICKS, ESTIMATED_EARNINGS FROM NETWORK_REPORT WHERE DATE >= '2021-09-01' AND DATE <= '2021-09-30' AND COUNTRY IN ('US', 'CN') GROUP BY DATE, APP, COUNTRY ORDER BY APP ASC, CLICKS DESC;",
        "properties": {
          "dateRange": {
            "$ref": "#/components/schemas/DateRange",
            "description": "The date range for which the report is generated."
          },
          "dimensionFilters": {
            "description": "Describes which report rows to match based on their dimension values.",
            "items": {
              "$ref": "#/components/schemas/NetworkReportSpecDimensionFilter"
            },
            "type": "array"
          },
          "dimensions": {
            "description": "List of dimensions of the report. The value combination of these dimensions determines the row of the report. If no dimensions are specified, the report returns a single row of requested metrics for the entire account.",
            "items": {
              "enum": [
                "DIMENSION_UNSPECIFIED",
                "DATE",
                "MONTH",
                "WEEK",
                "AD_UNIT",
                "APP",
                "AD_TYPE",
                "COUNTRY",
                "FORMAT",
                "PLATFORM",
                "MOBILE_OS_VERSION",
                "GMA_SDK_VERSION",
                "APP_VERSION_NAME",
                "SERVING_RESTRICTION"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "localizationSettings": {
            "$ref": "#/components/schemas/LocalizationSettings",
            "description": "Localization settings of the report."
          },
          "maxReportRows": {
            "description": "Maximum number of report data rows to return. If the value is not set, the API returns as many rows as possible, up to 100000. Acceptable values are 1-100000, inclusive. Values larger than 100000 return an error.",
            "format": "int32",
            "type": "integer"
          },
          "metrics": {
            "description": "List of metrics of the report. A report must specify at least one metric.",
            "items": {
              "enum": [
                "METRIC_UNSPECIFIED",
                "AD_REQUESTS",
                "CLICKS",
                "ESTIMATED_EARNINGS",
                "IMPRESSIONS",
                "IMPRESSION_CTR",
                "IMPRESSION_RPM",
                "MATCHED_REQUESTS",
                "MATCH_RATE",
                "SHOW_RATE"
              ],
              "type": "string"
            },
            "type": "array"
          },
          "sortConditions": {
            "description": "Describes the sorting of report rows. The order of the condition in the list defines its precedence; the earlier the condition, the higher its precedence. If no sort conditions are specified, the row ordering is undefined.",
            "items": {
              "$ref": "#/components/schemas/NetworkReportSpecSortCondition"
            },
            "type": "array"
          },
          "timeZone": {
            "description": "A report time zone. Accepts an IANA TZ name values, such as \"America/Los_Angeles.\" If no time zone is defined, the account default takes effect. Check default value by the get account action. **Warning:** The \"America/Los_Angeles\" is the only supported value at the moment.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "NetworkReportSpecDimensionFilter": {
        "description": "Describes which report rows to match based on their dimension values.",
        "properties": {
          "dimension": {
            "description": "Applies the filter criterion to the specified dimension.",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_UNIT",
              "APP",
              "AD_TYPE",
              "COUNTRY",
              "FORMAT",
              "PLATFORM",
              "MOBILE_OS_VERSION",
              "GMA_SDK_VERSION",
              "APP_VERSION_NAME",
              "SERVING_RESTRICTION"
            ],
            "type": "string"
          },
          "matchesAny": {
            "$ref": "#/components/schemas/StringList",
            "description": "Matches a row if its value for the specified dimension is in one of the values specified in this condition."
          }
        },
        "type": "object"
      },
      "NetworkReportSpecSortCondition": {
        "description": "Sorting direction to be applied on a dimension or a metric.",
        "properties": {
          "dimension": {
            "description": "Sort by the specified dimension.",
            "enum": [
              "DIMENSION_UNSPECIFIED",
              "DATE",
              "MONTH",
              "WEEK",
              "AD_UNIT",
              "APP",
              "AD_TYPE",
              "COUNTRY",
              "FORMAT",
              "PLATFORM",
              "MOBILE_OS_VERSION",
              "GMA_SDK_VERSION",
              "APP_VERSION_NAME",
              "SERVING_RESTRICTION"
            ],
            "type": "string"
          },
          "metric": {
            "description": "Sort by the specified metric.",
            "enum": [
              "METRIC_UNSPECIFIED",
              "AD_REQUESTS",
              "CLICKS",
              "ESTIMATED_EARNINGS",
              "IMPRESSIONS",
              "IMPRESSION_CTR",
              "IMPRESSION_RPM",
              "MATCHED_REQUESTS",
              "MATCH_RATE",
              "SHOW_RATE"
            ],
            "type": "string"
          },
          "order": {
            "description": "Sorting order of the dimension or metric.",
            "enum": [
              "SORT_ORDER_UNSPECIFIED",
              "ASCENDING",
              "DESCENDING"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "PublisherAccount": {
        "description": "A publisher account contains information relevant to the use of this API, such as the time zone used for the reports.",
        "properties": {
          "currencyCode": {
            "description": "Currency code of the earning-related metrics, which is the 3-letter code defined in ISO 4217. The daily average rate is used for the currency conversion.",
            "type": "string"
          },
          "name": {
            "description": "Resource name of this account. Format is accounts/{publisher_id}.",
            "type": "string"
          },
          "publisherId": {
            "description": "The unique ID by which this publisher account can be identified in the API requests (for example, pub-1234567890).",
            "type": "string"
          },
          "reportingTimeZone": {
            "description": "The time zone that is used in reports that are generated for this account. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ReportFooter": {
        "description": "Groups data available after report generation, for example, warnings and row counts. Always sent as the last message in the stream response.",
        "properties": {
          "matchingRowCount": {
            "description": "Total number of rows that matched the request. Warning: This count does NOT always match the number of rows in the response. Do not make that assumption when processing the response.",
            "format": "int64",
            "type": "string"
          },
          "warnings": {
            "description": "Warnings associated with generation of the report.",
            "items": {
              "$ref": "#/components/schemas/ReportWarning"
            },
            "type": "array"
          }
        },
        "type": "object"
      },
      "ReportHeader": {
        "description": "Groups data helps to treat the generated report. Always sent as a first message in the stream response.",
        "properties": {
          "dateRange": {
            "$ref": "#/components/schemas/DateRange",
            "description": "The date range for which the report is generated. This is identical to the range specified in the report request."
          },
          "localizationSettings": {
            "$ref": "#/components/schemas/LocalizationSettings",
            "description": "Localization settings of the report. This is identical to the settings in the report request."
          },
          "reportingTimeZone": {
            "description": "The report time zone. The value is a time-zone ID as specified by the CLDR project, for example, \"America/Los_Angeles\".",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ReportRow": {
        "description": "A row of the returning report.",
        "properties": {
          "dimensionValues": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ReportRowDimensionValue"
            },
            "description": "Map of dimension values in a row, with keys as enum name of the dimensions.",
            "type": "object"
          },
          "metricValues": {
            "additionalProperties": {
              "$ref": "#/components/schemas/ReportRowMetricValue"
            },
            "description": "Map of metric values in a row, with keys as enum name of the metrics. If a metric being requested has no value returned, the map will not include it.",
            "type": "object"
          }
        },
        "type": "object"
      },
      "ReportRowDimensionValue": {
        "description": "Representation of a dimension value.",
        "properties": {
          "displayLabel": {
            "description": "The localized string representation of the value. If unspecified, the display label should be derived from the value.",
            "type": "string"
          },
          "value": {
            "description": "Dimension value in the format specified in the report's spec Dimension enum.",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ReportRowMetricValue": {
        "description": "Representation of a metric value.",
        "properties": {
          "doubleValue": {
            "description": "Double precision (approximate) decimal values. Rates are from 0 to 1.",
            "format": "double",
            "type": "number"
          },
          "integerValue": {
            "description": "Metric integer value.",
            "format": "int64",
            "type": "string"
          },
          "microsValue": {
            "description": "Amount in micros. One million is equivalent to one unit. Currency value is in the unit (USD, EUR or other) specified by the request. For example, $6.50 whould be represented as 6500000 micros.",
            "format": "int64",
            "type": "string"
          }
        },
        "type": "object"
      },
      "ReportWarning": {
        "description": "Warnings associated with generation of the report.",
        "properties": {
          "description": {
            "description": "Describes the details of the warning message, in English.",
            "type": "string"
          },
          "type": {
            "description": "Type of the warning.",
            "enum": [
              "TYPE_UNSPECIFIED",
              "DATA_BEFORE_ACCOUNT_TIMEZONE_CHANGE",
              "DATA_DELAYED",
              "OTHER",
              "REPORT_CURRENCY_NOT_ACCOUNT_CURRENCY"
            ],
            "type": "string"
          }
        },
        "type": "object"
      },
      "StringList": {
        "description": "List of string values.",
        "properties": {
          "values": {
            "description": "The string values.",
            "items": {
              "type": "string"
            },
            "type": "array"
          }
        },
        "type": "object"
      }
    },
    "securitySchemes": {
      "Oauth2": {
        "description": "Oauth 2.0 implicit authentication",
        "flows": {
          "implicit": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/admob.readonly": "See your AdMob data",
              "https://www.googleapis.com/auth/admob.report": "See your AdMob data"
            }
          }
        },
        "type": "oauth2"
      },
      "Oauth2c": {
        "description": "Oauth 2.0 authorizationCode authentication",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
            "scopes": {
              "https://www.googleapis.com/auth/admob.readonly": "See your AdMob data",
              "https://www.googleapis.com/auth/admob.report": "See your AdMob data"
            },
            "tokenUrl": "https://accounts.google.com/o/oauth2/token"
          }
        },
        "type": "oauth2"
      }
    }
  }
}