openapi: 3.0.0
servers:
  - url: 'https://management.azure.com/'
info:
  description: 'Use these REST APIs for performing operations on entities like API, Product, and Subscription associated with your Azure API Management deployment.'
  title: ApiManagementClient
  version: '2016-07-07'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/arm-apimanagement/2016-07-07/swagger/apimanagement.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: arm-apimanagement
  x-tags:
    - Azure
    - Microsoft
security:
  - azure_auth:
      - user_impersonation
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis':
    get:
      description: Lists all APIs of the API Management service instance.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/dn781423.aspx'
      operationId: Apis_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: |-
            | Field       | Supported operators    | Supported functions               |
            |-------------|------------------------|-----------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | path        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Paged Result reponse of Apis.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Apis
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/ApiContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}':
    delete:
      description: Deletes the specified API of the API Management service instance.
      operationId: Apis_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - description: ETag of the API Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The API was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Apis
    get:
      description: Gets the details of the API specified by its identifier.
      operationId: Apis_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains the specified API entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiContract'
            application/vnd.sun.wadl+xml:
              schema:
                $ref: '#/components/schemas/ApiContract'
            application/vnd.swagger.doc+json:
              schema:
                $ref: '#/components/schemas/ApiContract'
            application/wsdl+xml:
              schema:
                $ref: '#/components/schemas/ApiContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
            application/vnd.sun.wadl+xml:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
            application/vnd.swagger.doc+json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
            application/wsdl+xml:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Apis
    patch:
      description: Updates the specified API of the API Management service instance.
      operationId: Apis_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - description: ETag of the API entity. ETag should match the current entity state in the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The API was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Apis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchParameters'
        description: Patch parameters.
        required: true
    put:
      description: Creates new or updates existing specified API of the API Management service instance.
      operationId: Apis_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - description: ETag of the Api Entity. For Create Api Etag should not be specified. For Update Etag should match the existing Entity or it can be * for unconditional update.
          in: header
          name: If-Match
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: API was successfully created.
        '204':
          description: API was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Apis
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApiContract'
        description: Create or update parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations':
    get:
      description: Lists a collection of the operations for the specified API.
      operationId: ApiOperations_ListByApi
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - description: |-
            | Field       | Supported operators    | Supported functions               |
            |-------------|------------------------|-----------------------------------|
            | name        | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | method      | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
            | urlTemplate | ge, le, eq, ne, gt, lt | substringof, startswith, endswith |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: A collection of operation summary entities at the API level.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ApiOperations
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/OperationContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/operations/{operationId}':
    delete:
      description: Deletes the specified operation.
      operationId: ApiOperations_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - $ref: '#/components/parameters/OperationIdParameter'
        - description: ETag of the API Operation Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The operation was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ApiOperations
    get:
      description: Gets the details of the API Operation specified by its identifier.
      operationId: ApiOperations_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - $ref: '#/components/parameters/OperationIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains the specified Operation entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OperationContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ApiOperations
    patch:
      description: Updates the details of the operation specified by its identifier.
      operationId: ApiOperations_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - $ref: '#/components/parameters/OperationIdParameter'
        - description: ETag of the API Operation Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The operation was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ApiOperations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PatchParameters'
        description: Update parameters.
        required: true
    put:
      description: Creates a new API operation or updates an existing one.
      operationId: ApiOperations_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - $ref: '#/components/parameters/OperationIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: Operation was successfully created.
        '204':
          description: Operation was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ApiOperations
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OperationContract'
        description: Create parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/apis/{apiId}/products':
    get:
      description: Lists all API associated products.
      operationId: ApiProducts_ListByApi
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - description: |-
            | Field | Supported operators    | Supported functions                         |
            |-------|------------------------|---------------------------------------------|
            | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The operation returns a collection of products which have the Api entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ApiProducts
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/ProductContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/authorizationServers':
    get:
      description: Lists a collection of authorization servers defined within a service instance.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/dn879064.aspx'
      operationId: AuthorizationServers_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: |-
            | Field | Supported operators    | Supported functions                         |
            |-------|------------------------|---------------------------------------------|
            | id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: A Collection of the Authorization Server entities for the specified API Management service instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationServerCollection'
      tags:
        - AuthorizationServers
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/OAuth2AuthorizationServerContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/authorizationServers/{authsid}':
    delete:
      description: Deletes specific authorization server instance.
      operationId: AuthorizationServers_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the authorization server.
          in: path
          name: authsid
          required: true
          schema:
            type: string
        - description: The entity state (Etag) version of the authentication server to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The authorization server settings were successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - AuthorizationServers
    get:
      description: Gets the details of the authorization server specified by its identifier.
      operationId: AuthorizationServers_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the authorization server.
          in: path
          name: authsid
          required: true
          schema:
            type: string
            maxLength: 256
            pattern: '^[^*#&+:<>?]+$'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Gets the details of the specified authorization server.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OAuth2AuthorizationServerContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - AuthorizationServers
    patch:
      description: Updates the details of the authorization server specified by its identifier.
      operationId: AuthorizationServers_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the authorization server.
          in: path
          name: authsid
          required: true
          schema:
            type: string
        - description: The entity state (Etag) version of the authorization server to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The authorization server settings were successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - AuthorizationServers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2AuthorizationServerUpdateContract'
        description: OAuth2 Server settings Update parameters.
        required: true
    put:
      description: Creates new authorization server or updates an existing authorization server.
      operationId: AuthorizationServers_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the authorization server.
          in: path
          name: authsid
          required: true
          schema:
            type: string
            maxLength: 256
            pattern: '^[^*#&+:<>?]+$'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: Authorization server was successfully registered.
        '204':
          description: Authorization server is already registered.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - AuthorizationServers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OAuth2AuthorizationServerContract'
        description: Create or update parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends':
    get:
      description: Lists a collection of backends in the specified service instance.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/dn935030.aspx'
      operationId: Backends_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: |-
            | Field | Supported operators    | Supported functions                         |
            |-------|------------------------|---------------------------------------------|
            | id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | host  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Lists a collection of Backend entities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Backends
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/BackendResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/backends/{backendid}':
    delete:
      description: Deletes the specified backend.
      operationId: Backends_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/BackendIdParameter'
        - description: The entity state (Etag) version of the backend to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The backend was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Backends
    get:
      description: Gets the details of the backend specified by its identifier.
      operationId: Backends_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/BackendIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains the specified Backend entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackendResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Backends
    patch:
      description: Updates an existing backend.
      operationId: Backends_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/BackendIdParameter'
        - description: The entity state (Etag) version of the backend to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The existing backend was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Backends
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackendUpdateParameters'
        description: Update parameters.
        required: true
    put:
      description: Creates or Updates a backend.
      operationId: Backends_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/BackendIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: Backend was successfully created.
        '204':
          description: The existing backend was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Backends
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackendContract'
        description: Create parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates':
    get:
      description: Lists a collection of all certificates in the specified service instance.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/dn783483.aspx'
      operationId: Certificates_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: |-
            | Field          | Supported operators    | Supported functions                         |
            |----------------|------------------------|---------------------------------------------|
            | id             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | subject        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | thumbprint     | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | expirationDate | ge, le, eq, ne, gt, lt | N/A                                         |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Returns a collection of Certificate entity.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Certificates
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/CertificateContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/certificates/{certificateId}':
    delete:
      description: Deletes specific certificate.
      operationId: Certificates_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the certificate.
          in: path
          name: certificateId
          required: true
          schema:
            type: string
        - description: The entity state (Etag) version of the certificate to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The certificate was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Certificates
    get:
      description: Gets the details of the certificate specified by its identifier.
      operationId: Certificates_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the certificate.
          in: path
          name: certificateId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains the specified Certificate entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CertificateContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Certificates
    put:
      description: Creates or updates the certificate being used for authentication with the backend.
      externalDocs:
        description: How to secure back-end services using client certificate authentication in Azure API Management
        url: 'https://azure.microsoft.com/en-us/documentation/articles/api-management-howto-mutual-certificates/'
      operationId: Certificates_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the certificate entity. Must be unique in the current API Management service instance.
          in: path
          name: certificateId
          required: true
          schema:
            type: string
            minLength: 1
            maxLength: 256
            pattern: '^[^*#&+:<>?]+$'
        - description: The entity state (Etag) version of the certificate to update. A value of "*" can be used for If-Match to unconditionally apply the operation..
          in: header
          name: If-Match
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: The new certificate was successfully added.
        '204':
          description: The certificate details were successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Certificates
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CertificateCreateOrUpdateParameters'
        description: Create parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups':
    get:
      description: Lists a collection of groups defined within a service instance.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/dn776329.aspx'
      operationId: Groups_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | type        | eq, ne                 | N/A                                         |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Lists a collection of Group entities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollection'
      tags:
        - Groups
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/GroupContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}':
    delete:
      description: Deletes specific group of the API Management service instance.
      operationId: Groups_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/GroupIdParameter'
        - description: ETag of the Group Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The group was successfully deleted.
        '405':
          description: The specified group cannot be updated because it is a built-in group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Groups
    get:
      description: Gets the details of the group specified by its identifier.
      operationId: Groups_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains the specified Group entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Groups
    patch:
      description: Updates the details of the group specified by its identifier.
      operationId: Groups_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/GroupIdParameter'
        - description: ETag of the Group Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The group details were successfully updated.
        '405':
          description: The specified group cannot be updated because it is a built-in group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupUpdateParameters'
        description: Update parameters.
        required: true
    put:
      description: Creates or Updates a group.
      operationId: Groups_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: Group was created succesfully.
        '204':
          description: Group already exists.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Groups
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GroupCreateParameters'
        description: Create parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users':
    get:
      description: 'Lists a collection of the members of the group, specified by its identifier.'
      operationId: GroupUsers_ListByGroup
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/GroupIdParameter'
        - description: |-
            | Field            | Supported operators    | Supported functions               |
            |------------------|------------------------|-----------------------------------|
            | id               | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | firstName        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | lastName         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | email            | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | state            | eq                     | N/A                               |
            | registrationDate | ge, le, eq, ne, gt, lt | N/A                               |
            | note             | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Lists a collection of user entities associated with the group.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - GroupUsers
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/UserContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/groups/{groupId}/users/{uid}':
    delete:
      description: Remove existing user from existing group.
      operationId: GroupUsers_Remove
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/UserIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The user was successfully removed from the group..
        '405':
          description: Attempt was made to add a user to a built-in group. Built-in group membership is managed by the system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - GroupUsers
    put:
      description: Adds a user to the specified group.
      operationId: GroupUsers_Add
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/UserIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: The user was successfully added to the group.
        '204':
          description: The specified user is already a member of the specified group.
        '405':
          description: Attempt was made to add a user to a built-in group. Built-in group membership is managed by the system.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - GroupUsers
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/identityProviders':
    get:
      description: Lists a collection of Identity Provider configured in the specified service instance.
      operationId: IdentityProviders_ListByService
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Lists a collection of Identity Providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderList'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - IdentityProvider
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/identityProviders/{identityProviderName}':
    delete:
      description: Deletes the specified identity provider configuration.
      operationId: IdentityProviders_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/IdentityProviderNameParameter'
        - description: The entity state (Etag) version of the backend to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The identity provider configuration was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - IdentityProvider
    get:
      description: Gets the configuration details of the identity Provider configured in specified service instance.
      operationId: IdentityProviders_Get
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/IdentityProviderNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
      responses:
        '200':
          description: The response body contains the specified IdentityProvider entity configuration details.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdentityProviderContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - IdentityProvider
    patch:
      description: Updates an existing IdentityProvider configuration.
      operationId: IdentityProviders_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/IdentityProviderNameParameter'
        - description: The entity state (Etag) version of the identity provider configuration to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The existing identity provider configuration was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - IdentityProviders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderUpdateParameters'
        description: Update parameters.
        required: true
    put:
      description: Creates or Updates the IdentityProvider configuration.
      operationId: IdentityProviders_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/IdentityProviderNameParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: IdentityProvider configuration were successfully created.
        '204':
          description: The existing Identity Provider was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - IdentityProvider
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdentityProviderContract'
        description: Create parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/loggers':
    get:
      description: Lists a collection of loggers in the specified service instance.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt592020.aspx'
      operationId: Loggers_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: |-
            | Field | Supported operators    | Supported functions                         |
            |-------|------------------------|---------------------------------------------|
            | id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | type  | eq                     |                                             |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Lists a collection of Logger entities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoggerCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Loggers
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/LoggerResponse'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/loggers/{loggerid}':
    delete:
      description: Deletes the specified logger.
      operationId: Loggers_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the logger.
          in: path
          name: loggerid
          required: true
          schema:
            type: string
        - description: The entity state (Etag) version of the logger to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The logger was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Loggers
    get:
      description: Gets the details of the logger specified by its identifier.
      operationId: Loggers_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the logger.
          in: path
          name: loggerid
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains the specified Logger entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoggerResponse'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Loggers
    patch:
      description: Updates an existing logger.
      operationId: Loggers_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the logger.
          in: path
          name: loggerid
          required: true
          schema:
            type: string
        - description: The entity state (Etag) version of the logger to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The existing logger was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Loggers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoggerUpdateParameters'
        description: Update parameters.
        required: true
    put:
      description: Creates or Updates a logger.
      operationId: Loggers_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the logger.
          in: path
          name: loggerid
          required: true
          schema:
            type: string
            maxLength: 256
            pattern: '^[^*#&+:<>?]+$'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: Logger was successfully created.
        '204':
          description: The existing logger was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Loggers
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoggerCreateParameters'
        description: Create parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders':
    get:
      description: Lists all OpenID Connect Providers.
      operationId: OpenIdConnectProviders_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: |-
            | Field | Supported operators    | Supported functions                         |
            |-------|------------------------|---------------------------------------------|
            | id    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Lists of all the OpenId Connect Providers.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenIdConnectProviderCollection'
      tags:
        - OpenIdConnectProviders
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/OpenidConnectProviderContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/openidConnectProviders/{opid}':
    delete:
      description: Deletes specific OpenID Connect Provider of the API Management service instance.
      operationId: OpenIdConnectProviders_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the OpenID Connect Provider.
          in: path
          name: opid
          required: true
          schema:
            type: string
        - description: The entity state (Etag) version of the OpenID Connect Provider to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: OpenId Connect Provider was successfully deleted.
        '405':
          description: The specified OpenIdConnect Provider cannot be deleted because it is in use in a policy. You must remove all references to this property before it can be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - OpenIdConnectProviders
    get:
      description: Gets specific OpenID Connect Provider.
      operationId: OpenIdConnectProviders_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the OpenID Connect Provider.
          in: path
          name: opid
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains the specified OpenId Connect Provider entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OpenidConnectProviderContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - OpenIdConnectProviders
    patch:
      description: Updates the specific OpenID Connect Provider.
      operationId: OpenIdConnectProviders_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the OpenID Connect Provider.
          in: path
          name: opid
          required: true
          schema:
            type: string
        - description: The entity state (Etag) version of the OpenID Connect Provider to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: OpenId Connect Provider was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - OpenIdConnectProviders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenidConnectProviderUpdateContract'
        description: Update parameters.
        required: true
    put:
      description: Creates or updates the OpenID Connect Provider.
      operationId: OpenIdConnectProviders_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the OpenID Connect Provider.
          in: path
          name: opid
          required: true
          schema:
            type: string
            maxLength: 256
            pattern: '^[^*#&+:<>?]+$'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: OpenIdConnect Provider was successfully created.
        '204':
          description: OpenIdConnect Provider was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - OpenIdConnectProviders
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OpenidConnectProviderCreateContract'
        description: Create parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/policySnippets':
    get:
      description: Lists all policy snippets.
      operationId: PolicySnippets_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Policy scope.
          in: query
          name: scope
          required: false
          x-ms-enum:
            modelAsString: false
            name: PolicyScopeContract
          schema:
            type: string
            enum:
              - Tenant
              - Product
              - Api
              - Operation
              - All
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Returns an array of Policy Contracts.
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/PolicySnippetContract'
                type: array
      tags:
        - PolicySnippets
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products':
    get:
      description: Lists a collection of products in the specified service instance.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/dn776336.aspx'
      operationId: Products_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | terms       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | state       | eq                     |                                             |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - description: 'When set to true, the response contains an array of groups that have visibility to the product. The default is false.'
          in: query
          name: expandGroups
          required: false
          schema:
            type: boolean
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: A Collection of the Product entities for the specified API Management service instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Products
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/ProductContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}':
    delete:
      description: Delete product.
      operationId: Products_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - description: Delete existing subscriptions to the product or not.
          in: query
          name: deleteSubscriptions
          required: false
          schema:
            type: boolean
        - description: ETag of the Product Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The product was successfully deleted.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Products
    get:
      description: Gets the details of the product specified by its identifier.
      operationId: Products_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains the specified Product entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProductContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Products
    patch:
      description: Update product.
      operationId: Products_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - description: ETag of the Product Entity. ETag should match the current entity state from the header response of the GET request or it should be * for unconditional update.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: No Content in case of Update Successfull.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductUpdateParameters'
        description: Update parameters.
        required: true
    put:
      description: Creates or Updates a product.
      operationId: Products_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: Product was successfully created.
        '204':
          description: Product already exists.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Products
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProductContract'
        description: Create or update parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis':
    get:
      description: Lists a collection of the APIs associated with a product.
      operationId: ProductApis_ListByProduct
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - description: |
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | serviceUrl  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | path        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains a collection of Api entities in the product.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ProductApis
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/ApiContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/apis/{apiId}':
    delete:
      description: Deletes the specified API from the specified product.
      operationId: ProductApis_Remove
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The API was successfully removed from the product.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ProductApis
    put:
      description: Adds an API to the specified product.
      operationId: ProductApis_Add
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/ApiIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: The API was successfully added to the product.
        '204':
          description: The specified API is already added to the product.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ProductApis
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups':
    get:
      description: Lists the collection of developer groups associated with the specified product.
      operationId: ProductGroups_ListByProduct
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - description: |-
            | Field       | Supported operators    | Supported functions                         |
            |-------------|------------------------|---------------------------------------------|
            | id          | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name        | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | description | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | type        | eq, ne                 | N/A                                         |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Lists a collection of Group entities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GroupCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ProductGroups
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/GroupContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/groups/{groupId}':
    delete:
      description: Deletes the association between the specified group and product.
      operationId: ProductGroups_Remove
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: The group was successfully disassociated with the product.
        '400':
          description: Request validation failed.This is typically caused by an invalid product or group id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ProductGroups
    put:
      description: Adds the association between the specified developer group with the specified product.
      operationId: ProductGroups_Add
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - $ref: '#/components/parameters/GroupIdParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: The group was successfully associated with the product..
        '204':
          description: The specified group is already associated with the product.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ProductGroups
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/products/{productId}/subscriptions':
    get:
      description: Lists the collection of subscriptions to the specified product.
      operationId: ProductSubscriptions_ListByProduct
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/ProductIdParameter'
        - description: |-
            | Field        | Supported operators    | Supported functions                         |
            |--------------|------------------------|---------------------------------------------|
            | id           | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | name         | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | stateComment | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | userId       | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | productId    | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith |
            | state        | eq                     |                                             |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: Lists a collection of subscription entities.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionCollection'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - ProductSubscriptions
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/SubscriptionContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/properties':
    get:
      description: Lists a collection of properties defined within a service instance.
      externalDocs:
        url: 'https://msdn.microsoft.com/en-us/library/azure/mt651775.aspx'
      operationId: Property_ListByService
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: |-
            | Field | Supported operators    | Supported functions                                   |
            |-------|------------------------|-------------------------------------------------------|
            | tags  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith, any, all |
            | name  | ge, le, eq, ne, gt, lt | substringof, contains, startswith, endswith           |
          in: query
          name: $filter
          required: false
          schema:
            type: string
        - $ref: '#/components/parameters/TopQueryParameter'
        - $ref: '#/components/parameters/SkipQueryParameter'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: A Collection of the Property entities for the specified API Management service instance.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyCollection'
      tags:
        - Property
      x-ms-odata: '#/components/schemas//components/schemas//components/schemas/PropertyContract'
      x-ms-pageable:
        nextLinkName: nextLink
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/properties/{propId}':
    delete:
      description: Deletes specific property from the the API Management service instance.
      operationId: Property_Delete
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the property.
          in: path
          name: propId
          required: true
          schema:
            type: string
        - description: The entity state (Etag) version of the property to delete. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: Property was successfully deleted.
        '405':
          description: The specified property cannot be deleted because it is in use in a policy. You must remove all references to this property before it can be deleted.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Property
    get:
      description: Gets the details of the property specified by its identifier.
      operationId: Property_Get
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the property.
          in: path
          name: propId
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '200':
          description: The response body contains the specified Property entity.
          headers:
            ETag:
              description: Current entity state version. Should be treated as opaque and used to make conditional HTTP requests.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PropertyContract'
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Property
    patch:
      description: Updates the specific property.
      operationId: Property_Update
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the property.
          in: path
          name: propId
          required: true
          schema:
            type: string
        - description: The entity state (Etag) version of the property to update. A value of "*" can be used for If-Match to unconditionally apply the operation.
          in: header
          name: If-Match
          required: true
          schema:
            type: string
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '204':
          description: Property was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyUpdateParameters'
        description: Update parameters.
        required: true
    put:
      description: Creates or updates a property.
      operationId: Property_CreateOrUpdate
      parameters:
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - description: Identifier of the property.
          in: path
          name: propId
          required: true
          schema:
            type: string
            maxLength: 256
            pattern: '^[^*#&+:<>?]+$'
        - $ref: '#/components/parameters/ApiVersionParameter'
        - $ref: '#/components/parameters/SubscriptionIdParameter'
      responses:
        '201':
          description: Property was successfully created.
        '204':
          description: Property was successfully updated.
        default:
          description: Error response describing why the operation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorBodyContract'
      tags:
        - Property
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PropertyCreateParameters'
        description: Create parameters.
        required: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.ApiManagement/service/{serviceName}/quotas/{quotaCounterKey}':
    get:
      description: Lists a collection of current quota counter periods associated with the counter-key configured in the policy on the specified service instance. The api does not support paging yet.
      externalDocs:
        description: Document describing how to configure the quota policies.
        url: 'https://docs.microsoft.com/en-us/azure/api-management/api-management-howto-product-with-rules#a-namepolicies-ato-configure-call-rate-limit-and-quota-policies'
      operationId: QuotaByCounterKeys_ListByService
      parameters:
        - $ref: '#/components/parameters/SubscriptionIdParameter'
        - $ref: '#/components/parameters/ResourceGroupNameParameter'
        - $ref: '#/components/parameters/ServiceNameParameter'
        - $ref: '#/components/parameters/QuotaCounterKeyParameter'
[...]
