swagger: '2.0'
schemes:
  - https
host: dataflow.googleapis.com
basePath: /
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: Manages Google Cloud Dataflow projects on Google Cloud Platform.
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Google Dataflow
  version: v1b3
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: google
      url: 'https://dataflow.googleapis.com/$discovery/rest?version=v1b3'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: dataflow
externalDocs:
  url: 'https://cloud.google.com/dataflow'
securityDefinitions:
  Oauth2:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 implicit authentication
    flow: implicit
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/compute': View and manage your Google Compute Engine resources
      'https://www.googleapis.com/auth/compute.readonly': View your Google Compute Engine resources
      'https://www.googleapis.com/auth/userinfo.email': View your email address
    type: oauth2
  Oauth2c:
    authorizationUrl: 'https://accounts.google.com/o/oauth2/auth'
    description: Oauth 2.0 accessCode authentication
    flow: accessCode
    scopes:
      'https://www.googleapis.com/auth/cloud-platform': View and manage your data across Google Cloud Platform services
      'https://www.googleapis.com/auth/compute': View and manage your Google Compute Engine resources
      'https://www.googleapis.com/auth/compute.readonly': View your Google Compute Engine resources
      'https://www.googleapis.com/auth/userinfo.email': View your email address
    tokenUrl: 'https://accounts.google.com/o/oauth2/token'
    type: oauth2
parameters:
  $.xgafv:
    description: V1 error format.
    enum:
      - '1'
      - '2'
    in: query
    name: $.xgafv
    type: string
  access_token:
    description: OAuth access token.
    in: query
    name: access_token
    type: string
  alt:
    default: json
    description: Data format for response.
    enum:
      - json
      - media
      - proto
    in: query
    name: alt
    type: string
  bearer_token:
    description: OAuth bearer token.
    in: query
    name: bearer_token
    type: string
  callback:
    description: JSONP
    in: query
    name: callback
    type: string
  fields:
    description: Selector specifying which fields to include in a partial response.
    in: query
    name: fields
    type: string
  key:
    description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
    in: query
    name: key
    type: string
  oauth_token:
    description: OAuth 2.0 token for the current user.
    in: query
    name: oauth_token
    type: string
  pp:
    default: true
    description: Pretty-print response.
    in: query
    name: pp
    type: boolean
  prettyPrint:
    default: true
    description: Returns response with indentations and line breaks.
    in: query
    name: prettyPrint
    type: boolean
  quotaUser:
    description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
    in: query
    name: quotaUser
    type: string
  uploadType:
    description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
    in: query
    name: uploadType
    type: string
  upload_protocol:
    description: 'Upload protocol for media (e.g. "raw", "multipart").'
    in: query
    name: upload_protocol
    type: string
tags:
  - name: projects
paths:
  '/v1b3/projects/{projectId}/WorkerMessages':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Send a worker_message to the service.
      operationId: dataflow.projects.workerMessages
      parameters:
        - description: The project to send the WorkerMessages to.
          in: path
          name: projectId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SendWorkerMessagesRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SendWorkerMessagesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/jobs':
    get:
      description: List the jobs of a project in a given region.
      operationId: dataflow.projects.jobs.list
      parameters:
        - description: The project which owns the jobs.
          in: path
          name: projectId
          required: true
          type: string
        - description: The kind of filter to use.
          enum:
            - UNKNOWN
            - ALL
            - TERMINATED
            - ACTIVE
          in: query
          name: filter
          type: string
        - description: The location that contains this job.
          in: query
          name: location
          type: string
        - description: |-
            Set this to the 'next_page_token' field of a previous response
            to request additional results in a long list.
          in: query
          name: pageToken
          type: string
        - description: |-
            If there are many jobs, limit response to at most this many.
            The actual number of jobs returned will be the lesser of max_responses
            and an unspecified server-defined limit.
          in: query
          name: pageSize
          type: integer
        - description: Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.
          enum:
            - JOB_VIEW_UNKNOWN
            - JOB_VIEW_SUMMARY
            - JOB_VIEW_ALL
            - JOB_VIEW_DESCRIPTION
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Creates a Cloud Dataflow job.
      operationId: dataflow.projects.jobs.create
      parameters:
        - description: The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: Deprecated. This field is now in the Job message.
          in: query
          name: replaceJobId
          type: string
        - description: The level of information requested in response.
          enum:
            - JOB_VIEW_UNKNOWN
            - JOB_VIEW_SUMMARY
            - JOB_VIEW_ALL
            - JOB_VIEW_DESCRIPTION
          in: query
          name: view
          type: string
        - description: The location that contains this job.
          in: query
          name: location
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Job'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/jobs/{jobId}':
    get:
      description: Gets the state of the specified Cloud Dataflow job.
      operationId: dataflow.projects.jobs.get
      parameters:
        - description: The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: The job ID.
          in: path
          name: jobId
          required: true
          type: string
        - description: The level of information requested in response.
          enum:
            - JOB_VIEW_UNKNOWN
            - JOB_VIEW_SUMMARY
            - JOB_VIEW_ALL
            - JOB_VIEW_DESCRIPTION
          in: query
          name: view
          type: string
        - description: The location that contains this job.
          in: query
          name: location
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    put:
      description: Updates the state of an existing Cloud Dataflow job.
      operationId: dataflow.projects.jobs.update
      parameters:
        - description: The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: The job ID.
          in: path
          name: jobId
          required: true
          type: string
        - description: The location that contains this job.
          in: query
          name: location
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Job'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/jobs/{jobId}/debug/getConfig':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Get encoded debug configuration for component. Not cacheable.
      operationId: dataflow.projects.jobs.debug.getConfig
      parameters:
        - description: The project id.
          in: path
          name: projectId
          required: true
          type: string
        - description: The job id.
          in: path
          name: jobId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetDebugConfigRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetDebugConfigResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/jobs/{jobId}/debug/sendCapture':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Send encoded debug capture data for component.
      operationId: dataflow.projects.jobs.debug.sendCapture
      parameters:
        - description: The project id.
          in: path
          name: projectId
          required: true
          type: string
        - description: The job id.
          in: path
          name: jobId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SendDebugCaptureRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SendDebugCaptureResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/jobs/{jobId}/messages':
    get:
      description: Request the job status.
      operationId: dataflow.projects.jobs.messages.list
      parameters:
        - description: A project id.
          in: path
          name: projectId
          required: true
          type: string
        - description: The job to get messages about.
          in: path
          name: jobId
          required: true
          type: string
        - description: The location which contains the job specified by job_id.
          in: query
          name: location
          type: string
        - description: |-
            Return only messages with timestamps < end_time. The default is now
            (i.e. return up to the latest messages available).
          in: query
          name: endTime
          type: string
        - description: |-
            If supplied, this should be the value of next_page_token returned
            by an earlier call. This will cause the next page of results to
            be returned.
          in: query
          name: pageToken
          type: string
        - description: |-
            If specified, return only messages with timestamps >= start_time.
            The default is the job creation time (i.e. beginning of messages).
          in: query
          name: startTime
          type: string
        - description: |-
            If specified, determines the maximum number of messages to
            return.  If unspecified, the service may choose an appropriate
            default, or may return an arbitrarily large number of results.
          in: query
          name: pageSize
          type: integer
        - description: Filter to only get messages with importance >= level
          enum:
            - JOB_MESSAGE_IMPORTANCE_UNKNOWN
            - JOB_MESSAGE_DEBUG
            - JOB_MESSAGE_DETAILED
            - JOB_MESSAGE_BASIC
            - JOB_MESSAGE_WARNING
            - JOB_MESSAGE_ERROR
          in: query
          name: minimumImportance
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobMessagesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
  '/v1b3/projects/{projectId}/jobs/{jobId}/metrics':
    get:
      description: Request the job status.
      operationId: dataflow.projects.jobs.getMetrics
      parameters:
        - description: A project id.
          in: path
          name: projectId
          required: true
          type: string
        - description: The job to get messages for.
          in: path
          name: jobId
          required: true
          type: string
        - description: The location which contains the job specified by job_id.
          in: query
          name: location
          type: string
        - description: |-
            Return only metric data that has changed since this time.
            Default is to return all information about all metrics for the job.
          in: query
          name: startTime
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/JobMetrics'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
  '/v1b3/projects/{projectId}/jobs/{jobId}/workItems:lease':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Leases a dataflow WorkItem to run.
      operationId: dataflow.projects.jobs.workItems.lease
      parameters:
        - description: Identifies the project this worker belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: Identifies the workflow job this worker belongs to.
          in: path
          name: jobId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LeaseWorkItemRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LeaseWorkItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/jobs/{jobId}/workItems:reportStatus':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Reports the status of dataflow WorkItems leased by a worker.
      operationId: dataflow.projects.jobs.workItems.reportStatus
      parameters:
        - description: The project which owns the WorkItem's job.
          in: path
          name: projectId
          required: true
          type: string
        - description: The job which the WorkItem is part of.
          in: path
          name: jobId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReportWorkItemStatusRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReportWorkItemStatusResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/jobs:aggregated':
    get:
      description: List the jobs of a project across all regions.
      operationId: dataflow.projects.jobs.aggregated
      parameters:
        - description: The kind of filter to use.
          enum:
            - UNKNOWN
            - ALL
            - TERMINATED
            - ACTIVE
          in: query
          name: filter
          type: string
        - description: The location that contains this job.
          in: query
          name: location
          type: string
        - description: |-
            If there are many jobs, limit response to at most this many.
            The actual number of jobs returned will be the lesser of max_responses
            and an unspecified server-defined limit.
          in: query
          name: pageSize
          type: integer
        - description: |-
            Set this to the 'next_page_token' field of a previous response
            to request additional results in a long list.
          in: query
          name: pageToken
          type: string
        - description: The project which owns the jobs.
          in: path
          name: projectId
          required: true
          type: string
        - description: Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.
          enum:
            - JOB_VIEW_UNKNOWN
            - JOB_VIEW_SUMMARY
            - JOB_VIEW_ALL
            - JOB_VIEW_DESCRIPTION
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1b3/projects/{projectId}/locations/{location}/WorkerMessages':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Send a worker_message to the service.
      operationId: dataflow.projects.locations.workerMessages
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SendWorkerMessagesRequest'
        - description: The location which contains the job
          in: path
          name: location
          required: true
          type: string
        - description: The project to send the WorkerMessages to.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SendWorkerMessagesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/locations/{location}/jobs':
    get:
      description: List the jobs of a project in a given region.
      operationId: dataflow.projects.locations.jobs.list
      parameters:
        - description: The project which owns the jobs.
          in: path
          name: projectId
          required: true
          type: string
        - description: The location that contains this job.
          in: path
          name: location
          required: true
          type: string
        - description: The kind of filter to use.
          enum:
            - UNKNOWN
            - ALL
            - TERMINATED
            - ACTIVE
          in: query
          name: filter
          type: string
        - description: |-
            Set this to the 'next_page_token' field of a previous response
            to request additional results in a long list.
          in: query
          name: pageToken
          type: string
        - description: |-
            If there are many jobs, limit response to at most this many.
            The actual number of jobs returned will be the lesser of max_responses
            and an unspecified server-defined limit.
          in: query
          name: pageSize
          type: integer
        - description: Level of information requested in response. Default is `JOB_VIEW_SUMMARY`.
          enum:
            - JOB_VIEW_UNKNOWN
            - JOB_VIEW_SUMMARY
            - JOB_VIEW_ALL
            - JOB_VIEW_DESCRIPTION
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobsResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Creates a Cloud Dataflow job.
      operationId: dataflow.projects.locations.jobs.create
      parameters:
        - description: The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: The location that contains this job.
          in: path
          name: location
          required: true
          type: string
        - description: Deprecated. This field is now in the Job message.
          in: query
          name: replaceJobId
          type: string
        - description: The level of information requested in response.
          enum:
            - JOB_VIEW_UNKNOWN
            - JOB_VIEW_SUMMARY
            - JOB_VIEW_ALL
            - JOB_VIEW_DESCRIPTION
          in: query
          name: view
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Job'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}':
    get:
      description: Gets the state of the specified Cloud Dataflow job.
      operationId: dataflow.projects.locations.jobs.get
      parameters:
        - description: The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: The location that contains this job.
          in: path
          name: location
          required: true
          type: string
        - description: The job ID.
          in: path
          name: jobId
          required: true
          type: string
        - description: The level of information requested in response.
          enum:
            - JOB_VIEW_UNKNOWN
            - JOB_VIEW_SUMMARY
            - JOB_VIEW_ALL
            - JOB_VIEW_DESCRIPTION
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    put:
      description: Updates the state of an existing Cloud Dataflow job.
      operationId: dataflow.projects.locations.jobs.update
      parameters:
        - description: The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: The location that contains this job.
          in: path
          name: location
          required: true
          type: string
        - description: The job ID.
          in: path
          name: jobId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/Job'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/getConfig':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Get encoded debug configuration for component. Not cacheable.
      operationId: dataflow.projects.locations.jobs.debug.getConfig
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/GetDebugConfigRequest'
        - description: The job id.
          in: path
          name: jobId
          required: true
          type: string
        - description: The location which contains the job specified by job_id.
          in: path
          name: location
          required: true
          type: string
        - description: The project id.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetDebugConfigResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/debug/sendCapture':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Send encoded debug capture data for component.
      operationId: dataflow.projects.locations.jobs.debug.sendCapture
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/SendDebugCaptureRequest'
        - description: The job id.
          in: path
          name: jobId
          required: true
          type: string
        - description: The location which contains the job specified by job_id.
          in: path
          name: location
          required: true
          type: string
        - description: The project id.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/SendDebugCaptureResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/messages':
    get:
      description: Request the job status.
      operationId: dataflow.projects.locations.jobs.messages.list
      parameters:
        - description: A project id.
          in: path
          name: projectId
          required: true
          type: string
        - description: The location which contains the job specified by job_id.
          in: path
          name: location
          required: true
          type: string
        - description: The job to get messages about.
          in: path
          name: jobId
          required: true
          type: string
        - description: |-
            Return only messages with timestamps < end_time. The default is now
            (i.e. return up to the latest messages available).
          in: query
          name: endTime
          type: string
        - description: |-
            If specified, return only messages with timestamps >= start_time.
            The default is the job creation time (i.e. beginning of messages).
          in: query
          name: startTime
          type: string
        - description: |-
            If supplied, this should be the value of next_page_token returned
            by an earlier call. This will cause the next page of results to
            be returned.
          in: query
          name: pageToken
          type: string
        - description: |-
            If specified, determines the maximum number of messages to
            return.  If unspecified, the service may choose an appropriate
            default, or may return an arbitrarily large number of results.
          in: query
          name: pageSize
          type: integer
        - description: Filter to only get messages with importance >= level
          enum:
            - JOB_MESSAGE_IMPORTANCE_UNKNOWN
            - JOB_MESSAGE_DEBUG
            - JOB_MESSAGE_DETAILED
            - JOB_MESSAGE_BASIC
            - JOB_MESSAGE_WARNING
            - JOB_MESSAGE_ERROR
          in: query
          name: minimumImportance
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ListJobMessagesResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
  '/v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/metrics':
    get:
      description: Request the job status.
      operationId: dataflow.projects.locations.jobs.getMetrics
      parameters:
        - description: A project id.
          in: path
          name: projectId
          required: true
          type: string
        - description: The location which contains the job specified by job_id.
          in: path
          name: location
          required: true
          type: string
        - description: The job to get messages for.
          in: path
          name: jobId
          required: true
          type: string
        - description: |-
            Return only metric data that has changed since this time.
            Default is to return all information about all metrics for the job.
          in: query
          name: startTime
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/JobMetrics'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
  '/v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:lease':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Leases a dataflow WorkItem to run.
      operationId: dataflow.projects.locations.jobs.workItems.lease
      parameters:
        - description: Identifies the project this worker belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: The location which contains the WorkItem's job.
          in: path
          name: location
          required: true
          type: string
        - description: Identifies the workflow job this worker belongs to.
          in: path
          name: jobId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LeaseWorkItemRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LeaseWorkItemResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/locations/{location}/jobs/{jobId}/workItems:reportStatus':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Reports the status of dataflow WorkItems leased by a worker.
      operationId: dataflow.projects.locations.jobs.workItems.reportStatus
      parameters:
        - description: The project which owns the WorkItem's job.
          in: path
          name: projectId
          required: true
          type: string
        - description: The location which contains the WorkItem's job.
          in: path
          name: location
          required: true
          type: string
        - description: The job which the WorkItem is part of.
          in: path
          name: jobId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/ReportWorkItemStatusRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ReportWorkItemStatusResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/locations/{location}/templates':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Creates a Cloud Dataflow job from a template.
      operationId: dataflow.projects.locations.templates.create
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateJobFromTemplateRequest'
        - description: The location to which to direct the request.
          in: path
          name: location
          required: true
          type: string
        - description: Required. The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/locations/{location}/templates:get':
    get:
      description: Get the template associated with a template.
      operationId: dataflow.projects.locations.templates.get
      parameters:
        - description: |-
            Required. A Cloud Storage path to the template from which to
            create the job.
            Must be a valid Cloud Storage URL, beginning with `gs://`.
          in: query
          name: gcsPath
          type: string
        - description: The location to which to direct the request.
          in: path
          name: location
          required: true
          type: string
        - description: Required. The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: The view to retrieve. Defaults to METADATA_ONLY.
          enum:
            - METADATA_ONLY
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetTemplateResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
  '/v1b3/projects/{projectId}/locations/{location}/templates:launch':
    parameters:
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/oauth_token'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/upload_protocol'
    post:
      description: Launch a template.
      operationId: dataflow.projects.locations.templates.launch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LaunchTemplateParameters'
        - description: |-
            Required. A Cloud Storage path to the template from which to create
            the job.
            Must be valid Cloud Storage URL, beginning with 'gs://'.
          in: query
          name: gcsPath
          type: string
        - description: The location to which to direct the request.
          in: path
          name: location
          required: true
          type: string
        - description: Required. The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            If true, the request is validated but not actually executed.
            Defaults to false.
          in: query
          name: validateOnly
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LaunchTemplateResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/templates':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Creates a Cloud Dataflow job from a template.
      operationId: dataflow.projects.templates.create
      parameters:
        - description: Required. The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - in: body
          name: body
          schema:
            $ref: '#/definitions/CreateJobFromTemplateRequest'
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/Job'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
  '/v1b3/projects/{projectId}/templates:get':
    get:
      description: Get the template associated with a template.
      operationId: dataflow.projects.templates.get
      parameters:
        - description: |-
            Required. A Cloud Storage path to the template from which to
            create the job.
            Must be a valid Cloud Storage URL, beginning with `gs://`.
          in: query
          name: gcsPath
          type: string
        - description: The location to which to direct the request.
          in: query
          name: location
          type: string
        - description: Required. The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: The view to retrieve. Defaults to METADATA_ONLY.
          enum:
            - METADATA_ONLY
          in: query
          name: view
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/GetTemplateResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
  '/v1b3/projects/{projectId}/templates:launch':
    parameters:
      - $ref: '#/parameters/upload_protocol'
      - $ref: '#/parameters/prettyPrint'
      - $ref: '#/parameters/fields'
      - $ref: '#/parameters/uploadType'
      - $ref: '#/parameters/callback'
      - $ref: '#/parameters/$.xgafv'
      - $ref: '#/parameters/alt'
      - $ref: '#/parameters/key'
      - $ref: '#/parameters/access_token'
      - $ref: '#/parameters/quotaUser'
      - $ref: '#/parameters/pp'
      - $ref: '#/parameters/bearer_token'
      - $ref: '#/parameters/oauth_token'
    post:
      description: Launch a template.
      operationId: dataflow.projects.templates.launch
      parameters:
        - in: body
          name: body
          schema:
            $ref: '#/definitions/LaunchTemplateParameters'
        - description: |-
            Required. A Cloud Storage path to the template from which to create
            the job.
            Must be valid Cloud Storage URL, beginning with 'gs://'.
          in: query
          name: gcsPath
          type: string
        - description: The location to which to direct the request.
          in: query
          name: location
          type: string
        - description: Required. The ID of the Cloud Platform project that the job belongs to.
          in: path
          name: projectId
          required: true
          type: string
        - description: |-
            If true, the request is validated but not actually executed.
            Defaults to false.
          in: query
          name: validateOnly
          type: boolean
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/LaunchTemplateResponse'
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute'
        - Oauth2:
            - 'https://www.googleapis.com/auth/compute.readonly'
          Oauth2c:
            - 'https://www.googleapis.com/auth/compute.readonly'
        - Oauth2:
            - 'https://www.googleapis.com/auth/userinfo.email'
          Oauth2c:
            - 'https://www.googleapis.com/auth/userinfo.email'
      tags:
        - projects
definitions:
  ApproximateProgress:
    description: Obsolete in favor of ApproximateReportedProgress and ApproximateSplitRequest.
    properties:
      percentComplete:
        description: Obsolete.
        format: float
        type: number
      position:
        $ref: '#/definitions/Position'
        description: Obsolete.
      remainingTime:
        description: Obsolete.
        format: google-duration
        type: string
    type: object
  ApproximateReportedProgress:
    description: A progress measurement of a WorkItem by a worker.
    properties:
      consumedParallelism:
        $ref: '#/definitions/ReportedParallelism'
        description: |-
          Total amount of parallelism in the portion of input of this task that has
          already been consumed and is no longer active. In the first two examples
          above (see remaining_parallelism), the value should be 29 or 2
          respectively.  The sum of remaining_parallelism and consumed_parallelism
          should equal the total amount of parallelism in this work item.  If
          specified, must be finite.
      fractionConsumed:
        description: |-
          Completion as fraction of the input consumed, from 0.0 (beginning, nothing
          consumed), to 1.0 (end of the input, entire input consumed).
        format: double
        type: number
      position:
        $ref: '#/definitions/Position'
        description: A Position within the work to represent a progress.
      remainingParallelism:
        $ref: '#/definitions/ReportedParallelism'
        description: |-
          Total amount of parallelism in the input of this task that remains,
          (i.e. can be delegated to this task and any new tasks via dynamic
          splitting). Always at least 1 for non-finished work items and 0 for
          finished.

          "Amount of parallelism" refers to how many non-empty parts of the input
          can be read in parallel. This does not necessarily equal number
          of records. An input that can be read in parallel down to the
          individual records is called "perfectly splittable".
          An example of non-perfectly parallelizable input is a block-compressed
          file format where a block of records has to be read as a whole,
          but different blocks can be read in parallel.

          Examples:
          * If we are processing record #30 (starting at 1) out of 50 in a perfectly
            splittable 50-record input, this value should be 21 (20 remaining + 1
            current).
          * If we are reading through block 3 in a block-compressed file consisting
            of 5 blocks, this value should be 3 (since blocks 4 and 5 can be
            processed in parallel by new tasks via dynamic splitting and the current
            task remains processing block 3).
          * If we are reading through the last block in a block-compressed file,
            or reading or processing the last record in a perfectly splittable
            input, this value should be 1, because apart from the current task, no
            additional remainder can be split off.
    type: object
  ApproximateSplitRequest:
    description: A suggestion by the service to the worker to dynamically split the WorkItem.
    properties:
      fractionConsumed:
        description: |-
          A fraction at which to split the work item, from 0.0 (beginning of the
          input) to 1.0 (end of the input).
        format: double
        type: number
      position:
        $ref: '#/definitions/Position'
        description: A Position at which to split the work item.
    type: object
  AutoscalingEvent:
    description: |-
      A structured message reporting an autoscaling decision made by the Dataflow
      service.
    properties:
      currentNumWorkers:
        description: The current number of workers the job has.
        format: int64
        type: string
      description:
        $ref: '#/definitions/StructuredMessage'
        description: |-
          A message describing why the system decided to adjust the current
          number of workers, why it failed, or why the system decided to
          not make any changes to the number of workers.
      eventType:
        description: The type of autoscaling event to report.
        enum:
          - TYPE_UNKNOWN
          - TARGET_NUM_WORKERS_CHANGED
          - CURRENT_NUM_WORKERS_CHANGED
          - ACTUATION_FAILURE
          - NO_CHANGE
        type: string
      targetNumWorkers:
        description: The target number of workers the worker pool wants to resize to use.
        format: int64
        type: string
      time:
        description: |-
          The time this event was emitted to indicate a new target or current
          num_workers value.
        format: google-datetime
        type: string
    type: object
  AutoscalingSettings:
    description: Settings for WorkerPool autoscaling.
    properties:
      algorithm:
        description: The algorithm to use for autoscaling.
        enum:
          - AUTOSCALING_ALGORITHM_UNKNOWN
          - AUTOSCALING_ALGORITHM_NONE
          - AUTOSCALING_ALGORITHM_BASIC
        type: string
      maxNumWorkers:
        description: The maximum number of workers to cap scaling at.
        format: int32
        type: integer
    type: object
  CPUTime:
    description: Modeled after information exposed by /proc/stat.
    properties:
      rate:
        description: |-
          Average CPU utilization rate (% non-idle cpu / second) since previous
          sample.
        format: double
        type: number
      timestamp:
        description: Timestamp of the measurement.
        format: google-datetime
        type: string
      totalMs:
        description: |-
          Total active CPU time across all cores (ie., non-idle) in milliseconds
          since start-up.
        format: uint64
        type: string
    type: object
  ComponentSource:
    description: |-
      Description of an interstitial value between transforms in an execution
      stage.
    properties:
      name:
        description: Dataflow service generated name for this source.
        type: string
      originalTransformOrCollection:
        description: |-
          User name for the original user transform or collection with which this
          source is most closely associated.
        type: string
      userName:
        description: Human-readable name for this transform; may be user or system generated.
        type: string
    type: object
  ComponentTransform:
    description: Description of a transform executed as part of an execution stage.
    properties:
      name:
        description: Dataflow service generated name for this source.
        type: string
      originalTransform:
        description: |-
          User name for the original user transform with which this transform is
          most closely associated.
        type: string
      userName:
        description: Human-readable name for this transform; may be user or system generated.
        type: string
    type: object
  ComputationTopology:
    description: All configuration data for a particular Computation.
    properties:
      computationId:
        description: The ID of the computation.
        type: string
      inputs:
        description: The inputs to the computation.
        items:
          $ref: '#/definitions/StreamLocation'
        type: array
      keyRanges:
        description: The key ranges processed by the computation.
        items:
          $ref: '#/definitions/KeyRangeLocation'
        type: array
      outputs:
        description: The outputs from the computation.
        items:
          $ref: '#/definitions/StreamLocation'
        type: array
      stateFamilies:
        description: The state family values.
        items:
          $ref: '#/definitions/StateFamilyConfig'
        type: array
      systemStageName:
        description: The system stage name.
        type: string
    type: object
  ConcatPosition:
    description: |-
      A position that encapsulates an inner position and an index for the inner
      position. A ConcatPosition can be used by a reader of a source that
      encapsulates a set of other sources.
    properties:
      index:
        description: Index of the inner source.
        format: int32
        type: integer
      position:
        $ref: '#/definitions/Position'
        description: Position within the inner source.
    type: object
  CounterMetadata:
    description: CounterMetadata includes all static non-name non-value counter attributes.
    properties:
      description:
        description: Human-readable description of the counter semantics.
        type: string
      kind:
        description: Counter aggregation kind.
        enum:
          - INVALID
          - SUM
          - MAX
          - MIN
          - MEAN
          - OR
          - AND
          - SET
          - DISTRIBUTION
        type: string
      otherUnits:
        description: A string referring to the unit type.
        type: string
      standardUnits:
        description: 'System defined Units, see above enum.'
        enum:
          - BYTES
          - BYTES_PER_SEC
          - MILLISECONDS
          - MICROSECONDS
          - NANOSECONDS
          - TIMESTAMP_MSEC
          - TIMESTAMP_USEC
          - TIMESTAMP_NSEC
        type: string
    type: object
  CounterStructuredName:
    description: |-
      Identifies a counter within a per-job namespace. Counters whose structured
      names are the same get merged into a single value for the job.
    properties:
      componentStepName:
        description: Name of the optimized step being executed by the workers.
        type: string
      executionStepName:
        description: Name of the stage. An execution step contains multiple component steps.
        type: string
      name:
        description: |-
          Counter name. Not necessarily globally-unique, but unique within the
          context of the other fields.
          Required.
        type: string
      origin:
        description: One of the standard Origins defined above.
        enum:
          - SYSTEM
          - USER
        type: string
      originNamespace:
        description: A string containing a more specific namespace of the counter's origin.
        type: string
      originalStepName:
        description: |-
          System generated name of the original step in the user's graph, before
          optimization.
        type: string
      portion:
        description: 'Portion of this counter, either key or value.'
        enum:
          - ALL
          - KEY
          - VALUE
        type: string
      workerId:
        description: ID of a particular worker.
        type: string
    type: object
  CounterStructuredNameAndMetadata:
    description: |-
      A single message which encapsulates structured name and metadata for a given
      counter.
    properties:
      metadata:
        $ref: '#/definitions/CounterMetadata'
        description: Metadata associated with a counter
      name:
        $ref: '#/definitions/CounterStructuredName'
        description: Structured name of the counter.
    type: object
  CounterUpdate:
    description: An update to a Counter sent from a worker.
    properties:
      boolean:
        description: 'Boolean value for And, Or.'
        type: boolean
      cumulative:
        description: |-
          True if this counter is reported as the total cumulative aggregate
          value accumulated since the worker started working on this WorkItem.
          By default this is false, indicating that this counter is reported
          as a delta.
        type: boolean
      distribution:
        $ref: '#/definitions/DistributionUpdate'
        description: Distribution data
      floatingPoint:
        description: 'Floating point value for Sum, Max, Min.'
        format: double
        type: number
      floatingPointList:
        $ref: '#/definitions/FloatingPointList'
        description: 'List of floating point numbers, for Set.'
      floatingPointMean:
        $ref: '#/definitions/FloatingPointMean'
        description: Floating point mean aggregation value for Mean.
      integer:
        $ref: '#/definitions/SplitInt64'
        description: 'Integer value for Sum, Max, Min.'
      integerList:
        $ref: '#/definitions/IntegerList'
        description: 'List of integers, for Set.'
      integerMean:
        $ref: '#/definitions/IntegerMean'
        description: Integer mean aggregation value for Mean.
      internal:
        description: Value for internally-defined counters used by the Dataflow service.
      nameAndKind:
        $ref: '#/definitions/NameAndKind'
        description: Counter name and aggregation type.
      shortId:
        description: |-
          The service-generated short identifier for this counter.
          The short_id -> (name, metadata) mapping is constant for the lifetime of
          a job.
        format: int64
        type: string
      stringList:
        $ref: '#/definitions/StringList'
        description: 'List of strings, for Set.'
      structuredNameAndMetadata:
        $ref: '#/definitions/CounterStructuredNameAndMetadata'
        description: Counter structured name and metadata.
    type: object
  CreateJobFromTemplateRequest:
    description: A request to create a Cloud Dataflow job from a template.
    properties:
      environment:
        $ref: '#/definitions/RuntimeEnvironment'
        description: The runtime environment for the job.
      gcsPath:
        description: |-
          Required. A Cloud Storage path to the template from which to
          create the job.
          Must be a valid Cloud Storage URL, beginning with `gs://`.
        type: string
      jobName:
        description: Required. The job name to use for the created job.
        type: string
      location:
        description: The location to which to direct the request.
        type: string
      parameters:
        additionalProperties:
          type: string
        description: The runtime parameters to pass to the job.
        type: object
    type: object
  CustomSourceLocation:
    description: Identifies the location of a custom souce.
    properties:
      stateful:
        description: Whether this source is stateful.
        type: boolean
    type: object
  DataDiskAssignment:
    description: Data disk assignment for a given VM instance.
    properties:
      dataDisks:
        description: |-
          Mounted data disks. The order is important a data disk's 0-based index in
          this list defines which persistent directory the disk is mounted to, for
          example the list of { "myproject-1014-104817-4c2-harness-0-disk-0" },
          { "myproject-1014-104817-4c2-harness-0-disk-1" }.
        items:
          type: string
        type: array
      vmInstance:
        description: |-
          VM instance name the data disks mounted to, for example
          "myproject-1014-104817-4c2-harness-0".
        type: string
    type: object
  DerivedSource:
    description: |-
      Specification of one of the bundles produced as a result of splitting
      a Source (e.g. when executing a SourceSplitRequest, or when
      splitting an active task using WorkItemStatus.dynamic_source_split),
      relative to the source being split.
    properties:
      derivationMode:
        description: What source to base the produced source on (if any).
        enum:
          - SOURCE_DERIVATION_MODE_UNKNOWN
          - SOURCE_DERIVATION_MODE_INDEPENDENT
          - SOURCE_DERIVATION_MODE_CHILD_OF_CURRENT
          - SOURCE_DERIVATION_MODE_SIBLING_OF_CURRENT
        type: string
      source:
        $ref: '#/definitions/Source'
        description: Specification of the source.
    type: object
  Disk:
    description: Describes the data disk used by a workflow job.
    properties:
      diskType:
        description: |-
          Disk storage type, as defined by Google Compute Engine.  This
          must be a disk type appropriate to the project and zone in which
          the workers will run.  If unknown or unspecified, the service
          will attempt to choose a reasonable default.

          For example, the standard persistent disk type is a resource name
          typically ending in "pd-standard".  If SSD persistent disks are
          available, the resource name typically ends with "pd-ssd".  The
          actual valid values are defined the Google Compute Engine API,
          not by the Cloud Dataflow API; consult the Google Compute Engine
          documentation for more information about determining the set of
          available disk types for a particular project and zone.

          Google Compute Engine Disk types are local to a particular
          project in a particular zone, and so the resource name will
          typically look something like this:

          compute.googleapis.com/projects/project-id/zones/zone/diskTypes/pd-standard
        type: string
      mountPoint:
        description: Directory in a VM where disk is mounted.
        type: string
      sizeGb:
        description: |-
          Size of disk in GB.  If zero or unspecified, the service will
          attempt to choose a reasonable default.
        format: int32
        type: integer
    type: object
  DisplayData:
    description: Data provided with a pipeline or transform to provide descriptive info.
    properties:
      boolValue:
        description: Contains value if the data is of a boolean type.
        type: boolean
      durationValue:
        description: Contains value if the data is of duration type.
        format: google-duration
        type: string
      floatValue:
        description: Contains value if the data is of float type.
        format: float
        type: number
      int64Value:
        description: Contains value if the data is of int64 type.
        format: int64
        type: string
      javaClassValue:
        description: Contains value if the data is of java class type.
        type: string
      key:
        description: |-
          The key identifying the display data.
          This is intended to be used as a label for the display data
          when viewed in a dax monitoring system.
        type: string
      label:
        description: An optional label to display in a dax UI for the element.
        type: string
      namespace:
        description: |-
          The namespace for the key. This is usually a class name or programming
          language namespace (i.e. python module) which defines the display data.
          This allows a dax monitoring system to specially handle the data
          and perform custom rendering.
        type: string
      shortStrValue:
        description: |-
          A possible additional shorter value to display.
          For example a java_class_name_value of com.mypackage.MyDoFn
          will be stored with MyDoFn as the short_str_value and
          com.mypackage.MyDoFn as the java_class_name value.
          short_str_value can be displayed and java_class_name_value
          will be displayed as a tooltip.
        type: string
      strValue:
        description: Contains value if the data is of string type.
        type: string
      timestampValue:
        description: Contains value if the data is of timestamp type.
        format: google-datetime
        type: string
      url:
        description: An optional full URL.
        type: string
    type: object
  DistributionUpdate:
    description: A metric value representing a distribution.
    properties:
      count:
        $ref: '#/definitions/SplitInt64'
        description: The count of the number of elements present in the distribution.
      logBuckets:
        description: |-
          (Optional) Logarithmic histogram of values.
          Each log may be in no more than one bucket. Order does not matter.
        items:
          $ref: '#/definitions/LogBucket'
        type: array
      max:
        $ref: '#/definitions/SplitInt64'
        description: The maximum value present in the distribution.
      min:
        $ref: '#/definitions/SplitInt64'
        description: The minimum value present in the distribution.
      sum:
        $ref: '#/definitions/SplitInt64'
        description: |-
          Use an int64 since we'd prefer the added precision. If overflow is a common
          problem we can detect it and use an additional int64 or a double.
      sumOfSquares:
        description: Use a double since the sum of squares is likely to overflow int64.
        format: double
        type: number
    type: object
  DynamicSourceSplit:
    description: |-
      When a task splits using WorkItemStatus.dynamic_source_split, this
      message describes the two parts of the split relative to the
      description of the current task's input.
    properties:
      primary:
        $ref: '#/definitions/DerivedSource'
        description: |-
          Primary part (continued to be processed by worker).
          Specified relative to the previously-current source.
          Becomes current.
      residual:
        $ref: '#/definitions/DerivedSource'
        description: |-
          Residual part (returned to the pool of work).
          Specified relative to the previously-current source.
    type: object
  Environment:
    description: Describes the environment in which a Dataflow Job runs.
    properties:
      clusterManagerApiService:
        description: |-
          The type of cluster manager API to use.  If unknown or
          unspecified, the service will attempt to choose a reasonable
          default.  This should be in the form of the API service name,
          e.g. "compute.googleapis.com".
        type: string
      dataset:
        description: |-
          The dataset for the current project where various workflow
          related tables are stored.

          The supported resource type is:

          Google BigQuery:
            bigquery.googleapis.com/{dataset}
        type: string
      experiments:
        description: The list of experiments to enable.
        items:
          type: string
        type: array
      internalExperiments:
        additionalProperties:
          description: Properties of the object. Contains field @type with type URL.
        description: Experimental settings.
        type: object
      sdkPipelineOptions:
        additionalProperties:
          description: Properties of the object.
        description: |-
          The Cloud Dataflow SDK pipeline options specified by the user. These
          options are passed through the service and are used to recreate the
          SDK pipeline options on the worker in a language agnostic and platform
          independent way.
        type: object
      serviceAccountEmail:
        description: Identity to run virtual machines as. Defaults to the default account.
        type: string
      tempStoragePrefix:
        description: |-
          The prefix of the resources the system should use for temporary
          storage.  The system will append the suffix "/temp-{JOBNAME} to
          this resource prefix, where {JOBNAME} is the value of the
          job_name field.  The resulting bucket and object prefix is used
          as the prefix of the resources used to store temporary data
          needed during the job execution.  NOTE: This will override the
          value in taskrunner_settings.
          The supported resource type is:

          Google Cloud Storage:

            storage.googleapis.com/{bucket}/{object}
            bucket.storage.googleapis.com/{object}
        type: string
      userAgent:
        additionalProperties:
          description: Properties of the object.
        description: A description of the process that generated the request.
        type: object
      version:
        additionalProperties:
          description: Properties of the object.
        description: |-
          A structure describing which components and their versions of the service
          are required in order to run the job.
        type: object
      workerPools:
        description: |-
          The worker pools. At least one "harness" worker pool must be
          specified in order for the job to have workers.
        items:
          $ref: '#/definitions/WorkerPool'
        type: array
    type: object
  ExecutionStageState:
    description: A message describing the state of a particular execution stage.
    properties:
      currentStateTime:
        description: The time at which the stage transitioned to this state.
        format: google-datetime
        type: string
      executionStageName:
        description: The name of the execution stage.
        type: string
      executionStageState:
        description: Executions stage states allow the same set of values as JobState.
        enum:
          - JOB_STATE_UNKNOWN
          - JOB_STATE_STOPPED
          - JOB_STATE_RUNNING
          - JOB_STATE_DONE
          - JOB_STATE_FAILED
          - JOB_STATE_CANCELLED
          - JOB_STATE_UPDATED
          - JOB_STATE_DRAINING
          - JOB_STATE_DRAINED
          - JOB_STATE_PENDING
          - JOB_STATE_CANCELLING
        type: string
    type: object
  ExecutionStageSummary:
    description: |-
      Description of the composing transforms, names/ids, and input/outputs of a
      stage of execution.  Some composing transforms and sources may have been
      generated by the Dataflow service during execution planning.
    properties:
      componentSource:
        description: Collections produced and consumed by component transforms of this stage.
        items:
          $ref: '#/definitions/ComponentSource'
        type: array
      componentTransform:
        description: Transforms that comprise this execution stage.
        items:
          $ref: '#/definitions/ComponentTransform'
        type: array
      id:
        description: Dataflow service generated id for this stage.
        type: string
      inputSource:
        description: Input sources for this stage.
        items:
          $ref: '#/definitions/StageSource'
        type: array
      kind:
        description: Type of tranform this stage is executing.
        enum:
          - UNKNOWN_KIND
          - PAR_DO_KIND
          - GROUP_BY_KEY_KIND
          - FLATTEN_KIND
          - READ_KIND
          - WRITE_KIND
          - CONSTANT_KIND
          - SINGLETON_KIND
          - SHUFFLE_KIND
        type: string
      name:
        description: Dataflow service generated name for this stage.
        type: string
      outputSource:
        description: Output sources for this stage.
        items:
          $ref: '#/definitions/StageSource'
        type: array
    type: object
  FailedLocation:
    description: Indicates which location failed to respond to a request for data.
    properties:
      name:
        description: The name of the failed location.
        type: string
    type: object
  FlattenInstruction:
    description: An instruction that copies its inputs (zero or more) to its (single) output.
    properties:
      inputs:
        description: Describes the inputs to the flatten instruction.
        items:
          $ref: '#/definitions/InstructionInput'
        type: array
    type: object
  FloatingPointList:
    description: A metric value representing a list of floating point numbers.
    properties:
      elements:
        description: Elements of the list.
        items:
          format: double
          type: number
        type: array
    type: object
  FloatingPointMean:
    description: A representation of a floating point mean metric contribution.
    properties:
      count:
        $ref: '#/definitions/SplitInt64'
        description: The number of values being aggregated.
      sum:
        description: The sum of all values being aggregated.
        format: double
        type: number
    type: object
  GetDebugConfigRequest:
    description: Request to get updated debug configuration for component.
    properties:
      componentId:
        description: |-
          The internal component id for which debug configuration is
          requested.
        type: string
      location:
        description: The location which contains the job specified by job_id.
        type: string
      workerId:
        description: 'The worker id, i.e., VM hostname.'
        type: string
    type: object
  GetDebugConfigResponse:
    description: Response to a get debug configuration request.
    properties:
      config:
        description: The encoded debug configuration for the requested component.
        type: string
    type: object
  GetTemplateResponse:
    description: The response to a GetTemplate request.
    properties:
      metadata:
        $ref: '#/definitions/TemplateMetadata'
        description: |-
          The template metadata describing the template name, available
          parameters, etc.
      status:
        $ref: '#/definitions/Status'
        description: |-
          The status of the get template request. Any problems with the
          request will be indicated in the error_details.
    type: object
  InstructionInput:
    description: |-
      An input of an instruction, as a reference to an output of a
      producer instruction.
    properties:
      outputNum:
        description: The output index (origin zero) within the producer.
        format: int32
        type: integer
      producerInstructionIndex:
        description: |-
          The index (origin zero) of the parallel instruction that produces
          the output to be consumed by this input.  This index is relative
          to the list of instructions in this input's instruction's
          containing MapTask.
        format: int32
        type: integer
    type: object
  InstructionOutput:
    description: An output of an instruction.
    properties:
      codec:
        additionalProperties:
          description: Properties of the object.
        description: The codec to use to encode data being written via this output.
        type: object
      name:
        description: The user-provided name of this output.
        type: string
      onlyCountKeyBytes:
        description: |-
          For system-generated byte and mean byte metrics, certain instructions
          should only report the key size.
        type: boolean
      onlyCountValueBytes:
        description: |-
          For system-generated byte and mean byte metrics, certain instructions
          should only report the value size.
        type: boolean
      originalName:
        description: |-
          System-defined name for this output in the original workflow graph.
[...]
