swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Azure Application Insights client for selecting pricing plans and options.
  title: ApplicationInsightsManagementClient
  version: '2015-05-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/applicationinsights/resource-manager/microsoft.insights/stable/2015-05-01/componentFeaturesAndPricing_API.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: applicationinsights-componentFeaturesAndPricing_API
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow.
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupNameParameter:
    description: The name of the resource group.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  ResourceNameParameter:
    description: The name of the Application Insights component resource.
    in: path
    name: resourceName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionIdParameter:
    description: The Azure subscription ID.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/currentbillingfeatures':
    get:
      description: Returns current billing features for an Application Insights component.
      operationId: ComponentCurrentBillingFeatures_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceNameParameter'
      responses:
        '200':
          description: An Application Insights component billing features definition.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentBillingFeatures'
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body:
                CurrentBillingFeatures:
                  - Basic
                DataVolumeCap:
                  Cap: 500
                  MaxHistoryCap: 500
                  ResetTime: 16
                  StopSendNotificationWhenHitCap: false
                  StopSendNotificationWhenHitThreshold: false
                  WarningThreshold: 90
    put:
      description: Update current billing features for an Application Insights component.
      operationId: ComponentCurrentBillingFeatures_Update
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceNameParameter'
        - description: Properties that need to be specified to update billing features for an Application Insights component.
          in: body
          name: BillingFeaturesProperties
          required: true
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentBillingFeatures'
      responses:
        '200':
          description: Successful request when updating billing features for an Application Insights component. The updated current billing features are returned.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentBillingFeatures'
      x-ms-examples:
        ComponentCurrentBillingFeaturesUpdate:
          parameters:
            BillingFeaturesProperties:
              CurrentBillingFeatures:
                - Basic
                - Application Insights Enterprise
              DataVolumeCap:
                Cap: 100
                StopSendNotificationWhenHitCap: true
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body:
                CurrentBillingFeatures:
                  - Basic
                  - Application Insights Enterprise
                DataVolumeCap:
                  Cap: 100
                  MaxHistoryCap: 500
                  ResetTime: 16
                  StopSendNotificationWhenHitCap: true
                  StopSendNotificationWhenHitThreshold: false
                  WarningThreshold: 90
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/featurecapabilities':
    get:
      description: Returns feature capabilites of the application insights component.
      operationId: ComponentFeatureCapabilities_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceNameParameter'
      responses:
        '200':
          description: An Application Insights component feature capabilities definition.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentFeatureCapabilities'
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body:
                AnalyticsIntegration: true
                ApiAccessLevel: Premium
                ApplicationMap: true
                BurstThrottlePolicy: B2
                DailyCap: 0.0323
                DailyCapResetTime: 4
                LiveStreamMetrics: true
                MultipleStepWebTest: true
                OpenSchema: true
                PowerBIIntegration: true
                ProactiveDetection: false
                SupportExportData: true
                ThrottleRate: 0
                TrackingType: Basic
                WorkItemIntegration: true
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/getavailablebillingfeatures':
    get:
      description: Returns all available features of the application insights component.
      operationId: ComponentAvailableFeatures_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceNameParameter'
      responses:
        '200':
          description: An Application Insights component available features definition.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentAvailableFeatures'
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body:
                Result:
                  - Capabilities:
                      - Description: Number of application hosts
                        Name: hostnumber
                        Value: Unlimited
                      - Description: Included data
                        MeterId: acf26b15-ee92-440d-9973-9a72d77641aa
                        MeterRateFrequency: GB/month
                        Name: includeddata
                        Value: '1'
                      - Description: Additional data
                        MeterId: b90f8b65-6c3e-43fc-9149-bdfc73b6a5b9
                        MeterRateFrequency: /GB
                        Name: additionaldata
                      - Description: Data retention
                        Name: dataretention
                        Unit: days
                        Value: '90'
                      - Description: Response time monitoring and diagnostics
                        Name: responsetimemonitoring
                        Value: Enabled
                      - Description: Failed requests monitoring and diagnostics
                        Name: failedrequestsmonitoring
                        Value: Enabled
                      - Description: Browser performance
                        Name: browserperformance
                        Value: Enabled
                      - Description: Usage analysis
                        Name: usageanalysis
                        Value: Enabled
                      - Description: Server monitoring
                        Name: servermonitoring
                        Value: Enabled
                      - Description: Alerting and notifications
                        Name: alertingandnotifications
                        Value: Enabled
                      - Description: Daily notification of failed request rate spikes
                        Name: notificationfailedrequestrate
                        Value: Enabled
                      - Description: Telemetry analyzer
                        Name: telemetryanalyzer
                        Value: Enabled
                      - Description: Search and Analytics
                        Name: searchandanalytics
                        Value: Enabled
                      - Description: Web tests (multi-step tests)
                        MeterId: 0aa0e0e9-3f58-4dcf-9bb0-9db7ae1d5954
                        MeterRateFrequency: /test (per month)
                        Name: webtests
                      - Description: Live stream metrics
                        Name: livestreammetrics
                        Value: Enabled
                      - Description: Application map
                        Name: applicationmap
                        Value: Enabled
                      - Description: Daily notification for many key metrics
                        Name: dailynotificationforkeymetrics
                        Value: Enabled
                      - Description: Work item integration
                        Name: workitemintegration
                        Value: Enabled
                      - Description: API access
                        Name: apiaccess
                        Value: Enabled
                      - Description: Power BI integration
                        Name: powerbiintegration
                        Value: Enabled
                      - Description: Bulk data import
                        Name: bulkdataimport
                        Value: Enabled
                      - Description: Automatic data evaluation
                        Name: automaticdataevaluation
                        Value: Enabled
                      - Description: Analytics integration with Azure dashboards
                        Name: analyticsintegration
                        Value: Enabled
                      - Description: Continuous export
                        MeterId: 90fa4d31-3ea2-4178-a894-ec4c76c712b2
                        MeterRateFrequency: /GB
                        Name: continuousexport
                        Value: Enabled
                      - Description: Default daily cap
                        Name: defaultdailycap
                        Unit: G
                        Value: '100'
                      - Description: Default maximum daily cap
                        Name: defaultmaxdailycap
                        Unit: G
                        Value: '1000'
                    FeatureName: Basic
                    IsHidden: true
                    IsMainFeature: true
                    MeterId: c9a05f12-4910-4527-a9ec-1db4e4dba60e
                    MeterRateFrequency: /month
                    SupportedAddonFeatures: Application Insights Enterprise
                    Title: Application Insights Basic
                  - Capabilities:
                      - Description: Enterprise Included data
                        MeterId: acf26b15-ee92-440d-9973-9a72d77641aa
                        MeterRateFrequency: GB/month
                        Name: enterpriseincludeddata
                        Value: '0.20'
                      - Description: Enterprise Additional data
                        MeterId: 3fedc88a-b68f-4936-bbf0-f290a254388c
                        MeterRateFrequency: /GB
                        Name: enterpriseadditionaldata
                      - Description: Default daily cap
                        Name: defaultdailycap
                        Unit: G
                        Value: '100'
                      - Description: Default maximum daily cap
                        Name: defaultmaxdailycap
                        Unit: G
                        Value: '1000'
                    FeatureName: Application Insights Enterprise
                    IsHidden: false
                    IsMainFeature: false
                    MeterId: 222f32c5-a319-4787-b934-5fb95105b2c8
                    MeterRateFrequency: /node/month
                    Title: Enterprise
  '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/microsoft.insights/components/{resourceName}/quotastatus':
    get:
      description: Returns daily data volume cap (quota) status for an Application Insights component.
      operationId: ComponentQuotaStatus_Get
      parameters:
        - $ref: '#/parameters/ResourceGroupNameParameter'
        - $ref: '#/parameters/ApiVersionParameter'
        - $ref: '#/parameters/SubscriptionIdParameter'
        - $ref: '#/parameters/ResourceNameParameter'
      responses:
        '200':
          description: An Application Insights component daily data volume cap status definition.
          schema:
            $ref: '#/definitions/ApplicationInsightsComponentQuotaStatus'
      x-ms-examples:
        ComponentCurrentBillingFeaturesGet:
          parameters:
            api-version: '2015-05-01'
            resourceGroupName: my-resource-group
            resourceName: my-component
            subscriptionId: subid
          responses:
            '200':
              body:
                AppId: 887f4bfd-b5fd-40d7-9fc3-123456789abc
                ExpirationTime: '2017-08-10T05:00:00'
                ShouldBeThrottled: true
definitions:
  ApplicationInsightsComponentAvailableFeatures:
    description: An Application Insights component available features.
    properties:
      Result:
        description: A list of Application Insigths component feature.
        items:
          $ref: '#/definitions/ApplicationInsightsComponentFeature'
          type: object
        readOnly: true
        type: array
    type: object
  ApplicationInsightsComponentBillingFeatures:
    description: An Application Insights component billing features
    properties:
      CurrentBillingFeatures:
        description: 'Current enabled pricing plan. When the component is in the Enterprise plan, this will list both ''Basic'' and ''Application Insights Enterprise''.'
        items:
          type: string
        type: array
      DataVolumeCap:
        $ref: '#/definitions/ApplicationInsightsComponentDataVolumeCap'
        description: An Application Insights component daily data volumne cap
    type: object
  ApplicationInsightsComponentDataVolumeCap:
    description: An Application Insights component daily data volumne cap
    properties:
      Cap:
        description: Daily data volume cap in GB.
        type: number
      MaxHistoryCap:
        description: Maximum daily data volume cap that the user can set for this component.
        readOnly: true
        type: number
      ResetTime:
        description: Daily data volume cap UTC reset hour.
        readOnly: true
        type: integer
      StopSendNotificationWhenHitCap:
        description: Do not send a notification email when the daily data volume cap is met.
        type: boolean
      StopSendNotificationWhenHitThreshold:
        description: 'Reserved, not used for now.'
        type: boolean
      WarningThreshold:
        description: 'Reserved, not used for now.'
        type: integer
    type: object
  ApplicationInsightsComponentFeature:
    description: An Application Insights component daily data volume cap status
    properties:
      Capabilities:
        description: A list of Application Insigths component feature capability.
        items:
          $ref: '#/definitions/ApplicationInsightsComponentFeatureCapability'
          type: object
        readOnly: true
        type: array
      FeatureName:
        description: The pricing feature name.
        readOnly: true
        type: string
      IsHidden:
        description: 'Reserved, not used now.'
        readOnly: true
        type: boolean
      IsMainFeature:
        description: Whether can apply addon feature on to it.
        readOnly: true
        type: boolean
      MeterId:
        description: The meter id used for the feature.
        readOnly: true
        type: string
      MeterRateFrequency:
        description: The meter meter rate for the feature's meter.
        readOnly: true
        type: string
      ResouceId:
        description: 'Reserved, not used now.'
        readOnly: true
        type: string
      SupportedAddonFeatures:
        description: The add on features on main feature.
        readOnly: true
        type: string
      Title:
        description: Desplay name of the feature.
        readOnly: true
        type: string
    type: object
  ApplicationInsightsComponentFeatureCapabilities:
    description: An Application Insights component feature capabilities
    properties:
      AnalyticsIntegration:
        description: 'Reserved, not used now.'
        readOnly: true
        type: boolean
      ApiAccessLevel:
        description: 'Reserved, not used now.'
        readOnly: true
        type: string
      ApplicationMap:
        description: 'Reserved, not used now.'
        readOnly: true
        type: boolean
      BurstThrottlePolicy:
        description: 'Reserved, not used now.'
        readOnly: true
        type: string
      DailyCap:
        description: Daily data volume cap in GB.
        readOnly: true
        type: number
      DailyCapResetTime:
        description: Daily data volume cap UTC reset hour.
        readOnly: true
        type: number
      LiveStreamMetrics:
        description: 'Reserved, not used now.'
        readOnly: true
        type: boolean
      MetadataClass:
        description: 'Reserved, not used now.'
        readOnly: true
        type: string
      MultipleStepWebTest:
        description: Whether allow to use multiple steps web test feature.
        readOnly: true
        type: boolean
      OpenSchema:
        description: 'Reserved, not used now.'
        readOnly: true
        type: boolean
      PowerBIIntegration:
        description: 'Reserved, not used now.'
        readOnly: true
        type: boolean
      ProactiveDetection:
        description: 'Reserved, not used now.'
        readOnly: true
        type: boolean
      SupportExportData:
        description: Whether allow to use continuous export feature.
        readOnly: true
        type: boolean
      ThrottleRate:
        description: 'Reserved, not used now.'
        readOnly: true
        type: number
      TrackingType:
        description: The applciation insights component used tracking type.
        readOnly: true
        type: string
      WorkItemIntegration:
        description: Whether allow to use work item integration feature.
        readOnly: true
        type: boolean
    type: object
  ApplicationInsightsComponentFeatureCapability:
    description: An Application Insights component feature capability
    properties:
      Description:
        description: The description of the capability.
        readOnly: true
        type: string
      MeterId:
        description: The meter used for the capability.
        readOnly: true
        type: string
      MeterRateFrequency:
        description: The meter rate of the meter.
        readOnly: true
        type: string
      Name:
        description: The name of the capability.
        readOnly: true
        type: string
      Unit:
        description: The unit of the capability.
        readOnly: true
        type: string
      Value:
        description: The vaule of the capability.
        readOnly: true
        type: string
    type: object
  ApplicationInsightsComponentQuotaStatus:
    description: An Application Insights component daily data volume cap status
    properties:
      AppId:
        description: The Application ID for the Application Insights component.
        readOnly: true
        type: string
      ExpirationTime:
        description: 'Date and time when the daily data volume cap will be reset, and data ingestion will resume.'
        readOnly: true
        type: string
      ShouldBeThrottled:
        description: 'The daily data volume cap is met, and data ingestion will be stopped.'
        readOnly: true
        type: boolean
    type: object
