openapi: 3.0.0
servers:
  - url: 'https://healthcare.googleapis.com/'
info:
  contact:
    name: Google
    url: 'https://google.com'
  description: 'Manage, store, and access healthcare data in Google Cloud Platform.'
  license:
    name: Creative Commons Attribution 3.0
    url: 'http://creativecommons.org/licenses/by/3.0/'
  termsOfService: 'https://developers.google.com/terms/'
  title: Cloud Healthcare
  version: v1beta1
  x-apiClientRegistration:
    url: 'https://console.developers.google.com'
  x-logo:
    url: 'https://www.google.com/images/branding/googlelogo/2x/googlelogo_color_272x92dp.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.7.31
      format: google
      url: 'https://healthcare.googleapis.com/$discovery/rest?version=v1beta1'
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: healthcare
externalDocs:
  url: 'https://cloud.google.com/healthcare'
tags:
  - name: projects
paths:
  '/v1beta1/{name}':
    delete:
      description: |-
        Deletes a FHIR resource.

        Implements the FHIR standard delete interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#delete),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#delete)).

        Note: Unless resource versioning is disabled by setting the
        disable_resource_versioning flag
        on the FHIR store, the deleted resources will be moved to a history
        repository that can still be retrieved through vread
        and related methods, unless they are removed by the
        purge method.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.delete
      parameters:
        - description: The name of the resource to delete.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: |-
        Gets the contents of a version (current or historical) of a FHIR resource
        by version ID.

        Implements the FHIR standard vread interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#vread),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#vread).

        On success, the response body will contain a JSON-encoded representation
        of the resource.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.vread
      parameters:
        - description: The name of the resource version to retrieve.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            Specifies which parts of the Message resource to return in the response.
            When unspecified, equivalent to FULL.
          in: query
          name: view
          schema:
            enum:
              - MESSAGE_VIEW_UNSPECIFIED
              - RAW_ONLY
              - PARSED_ONLY
              - FULL
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    patch:
      description: |-
        Updates part of an existing resource by applying the operations specified
        in a [JSON Patch](http://jsonpatch.com/) document.

        Implements the FHIR standard patch interaction
        ([STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#patch)).

        DSTU2 doesn't define a patch method, but the server supports it in the same
        way it supports STU3.

        The request body must contain a JSON Patch document, and the request
        headers must contain `Content-Type: application/json-patch+json`.

        On success, the response body will contain a JSON-encoded representation
        of the updated resource, including the server-assigned version ID.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.patch
      parameters:
        - description: The name of the resource to update.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The update mask applies to the resource. For the `FieldMask` definition,
            see
            https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#fieldmask
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpBody'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    put:
      description: |-
        Updates the entire contents of a resource.

        Implements the FHIR standard update interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#update),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#update)).

        If the specified resource does
        not exist and the FHIR store has
        enable_update_create set, creates the
        resource with the client-specified ID.

        The request body must contain a JSON-encoded FHIR resource, and the request
        headers must contain `Content-Type: application/fhir+json`. The resource
        must contain an `id` element having an identical value to the ID in the
        REST path of the request.

        On success, the response body will contain a JSON-encoded representation
        of the updated resource, including the server-assigned version ID.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.update
      parameters:
        - description: The name of the resource to update.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpBody'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{name}/$everything':
    get:
      description: |-
        On success, the response body will contain a JSON-encoded representation
        of a `Bundle` resource of type `searchset`, containing the results of the
        operation.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.Patient-everything
      parameters:
        - description: Name of the `Patient` resource for which the information is required.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: Maximum number of resources in a page. Defaults to 100.
          in: query
          name: _count
          schema:
            type: integer
        - description: |-
            Used to retrieve the next or previous page of results
            when using pagination. Value should be set to the value of page_token set
            in next or previous page links' urls. Next and previous page are returned
            in the response bundle's links field, where `link.relation` is "previous"
            or "next".

            Omit `page_token` if no previous request has been made.
          in: query
          name: _page_token
          schema:
            type: string
        - description: |-
            The response includes records prior to the end date. If no end date is
            provided, all records subsequent to the start date are in scope.
          in: query
          name: end
          schema:
            type: string
        - description: |-
            The response includes records subsequent to the start date. If no start
            date is provided, all records prior to the end date are in scope.
          in: query
          name: start
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
  '/v1beta1/{name}/$purge':
    delete:
      description: |-
        Deletes all the historical versions of a resource (excluding the current
        version) from the FHIR store. To remove all versions of a resource, first
        delete the current version and then call this method.

        This is not a FHIR standard operation.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.Resource-purge
      parameters:
        - description: The name of the resource to purge.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
  '/v1beta1/{name}/_history':
    get:
      description: |-
        Lists all the versions of a resource (including the current version and
        deleted versions) from the FHIR store.

        Implements the per-resource form of the FHIR standard history interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#history),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#history)).

        On success, the response body will contain a JSON-encoded representation
        of a `Bundle` resource of type `history`, containing the version history
        sorted from most recent to oldest versions.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.history
      parameters:
        - description: The name of the resource to retrieve.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            Only include resource versions that were current at some point during the
            time period specified in the date time value. The date parameter format is
            yyyy-mm-ddThh:mm:ss[Z|(+|-)hh:mm]

            Clients may specify any of the following:

            *  An entire year: `_at=2019`
            *  An entire month: `_at=2019-01`
            *  A specific day: `_at=2019-01-20`
            *  A specific second: `_at=2018-12-31T23:59:58Z`
          in: query
          name: _at
          schema:
            type: string
        - description: The maximum number of search results on a page. Defaults to 1000.
          in: query
          name: _count
          schema:
            type: integer
        - description: |-
            Used to retrieve the first, previous, next, or last page of resource
            versions when using pagination. Value should be set to the value of
            `_page_token` set in next or previous page links' URLs. Next and previous
            page are returned in the response bundle's links field, where
            `link.relation` is "previous" or "next".

            Omit `_page_token` if no previous request has been made.
          in: query
          name: _page_token
          schema:
            type: string
        - description: |-
            Only include resource versions that were created at or after the given
            instant in time. The instant in time uses the format
            YYYY-MM-DDThh:mm:ss.sss+zz:zz (for example 2015-02-07T13:28:17.239+02:00 or
            2017-01-01T00:00:00Z). The time must be specified to the second and
            include a time zone.
          in: query
          name: _since
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
  '/v1beta1/{name}/fhir/metadata':
    get:
      description: |-
        Gets the FHIR capability statement
        ([STU3](http://hl7.org/implement/standards/fhir/STU3/capabilitystatement.html)),
        or the [conformance
        statement](http://hl7.org/implement/standards/fhir/DSTU2/conformance.html)
        in the DSTU2 case for the store, which contains a description of
        functionality supported by the server.

        Implements the FHIR standard capabilities interaction
        ([STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#capabilities)),
        or the [conformance
        interaction](http://hl7.org/implement/standards/fhir/DSTU2/http.html#conformance)
        in the DSTU2 case.

        On success, the response body will contain a JSON-encoded representation
        of a `CapabilityStatement` resource.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.capabilities
      parameters:
        - description: Name of the FHIR store to retrieve the capabilities for.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
  '/v1beta1/{name}/locations':
    get:
      description: Lists information about the supported locations for this service.
      operationId: healthcare.projects.locations.list
      parameters:
        - description: 'The resource that owns the locations collection, if applicable.'
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListLocationsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
  '/v1beta1/{name}/operations':
    get:
      description: |-
        Lists operations that match the specified filter in the request. If the
        server doesn't support this method, it returns `UNIMPLEMENTED`.

        NOTE: the `name` binding allows API services to override the binding
        to use different resource name schemes, such as `users/*/operations`. To
        override the binding, API services can add a binding such as
        `"/v1/{name=users/*}/operations"` to their service configuration.
        For backwards compatibility, the default name includes the operations
        collection id, however overriding users must ensure the name binding
        is the parent resource, without the operations collection id.
      operationId: healthcare.projects.locations.datasets.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListOperationsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
  '/v1beta1/{name}:export':
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Export resources from the FHIR store to the specified destination.

        This method returns an Operation that can
        be used to track the status of the export by calling
        GetOperation.

        Immediate fatal errors appear in the
        error field, errors are also logged
        to Stackdriver (see [Viewing
        logs](/healthcare/docs/how-tos/stackdriver-logging)).
        Otherwise, when the operation finishes, a detailed response of type
        ExportResourcesResponse is returned in the
        response field.
        The metadata field type for this
        operation is OperationMetadata.
      operationId: healthcare.projects.locations.datasets.fhirStores.export
      parameters:
        - description: |-
            The name of the FHIR store to export resource from. The name should be in
            the format of
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportResourcesRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{name}:import':
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Import resources to the FHIR store by loading data from the specified
        sources. This method is optimized to load large quantities of data using
        import semantics that ignore some FHIR store configuration options and are
        not suitable for all use cases. It is primarily intended to load data into
        an empty FHIR store that is not being used by other clients. In cases
        where this method is not appropriate, consider using ExecuteBundle to
        load data.

        Every resource in the input must contain a client-supplied ID, and will be
        stored using that ID regardless of the
        enable_update_create setting on the FHIR
        store.

        The import process does not enforce referential integrity, regardless of
        the
        disable_referential_integrity
        setting on the FHIR store. This allows the import of resources with
        arbitrary interdependencies without considering grouping or ordering, but
        if the input data contains invalid references or if some resources fail to
        be imported, the FHIR store might be left in a state that violates
        referential integrity.

        If a resource with the specified ID already exists, the most recent
        version of the resource is overwritten without creating a new historical
        version, regardless of the
        disable_resource_versioning
        setting on the FHIR store. If transient failures occur during the import,
        it is possible that successfully imported resources will be overwritten
        more than once.

        The import operation is idempotent unless the input data contains multiple
        valid resources with the same ID but different contents. In that case,
        after the import completes, the store will contain exactly one resource
        with that ID but there is no ordering guarantee on which version of the
        contents it will have. The operation result counters do not count
        duplicate IDs as an error and will count one success for each resource in
        the input, which might result in a success count larger than the number
        of resources in the FHIR store. This often occurs when importing data
        organized in bundles produced by Patient-everything
        where each bundle contains its own copy of a resource such as Practitioner
        that might be referred to by many patients.

        If some resources fail to import, for example due to parsing errors,
        successfully imported resources are not rolled back.

        The location and format of the input data is specified by the parameters
        below. Note that if no format is specified, this method assumes the
        `BUNDLE` format. When using the `BUNDLE` format this method ignores the
        `Bundle.type` field, except that `history` bundles are rejected, and does
        not apply any of the bundle processing semantics for batch or transaction
        bundles. Unlike in ExecuteBundle, transaction bundles are not executed
        as a single transaction and bundle-internal references are not rewritten.
        The bundle is treated as a collection of resources to be written as
        provided in `Bundle.entry.resource`, ignoring `Bundle.entry.request`. As
        an example, this allows the import of `searchset` bundles produced by a
        FHIR search or
        Patient-everything operation.

        This method returns an Operation that can
        be used to track the status of the import by calling
        GetOperation.

        Immediate fatal errors appear in the
        error field, errors are also logged
        to Stackdriver (see [Viewing
        logs](/healthcare/docs/how-tos/stackdriver-logging)). Otherwise, when the
        operation finishes, a detailed response of type ImportResourcesResponse
        is returned in the response field.
        The metadata field type for this
        operation is OperationMetadata.
      operationId: healthcare.projects.locations.datasets.fhirStores.import
      parameters:
        - description: |-
            The name of the FHIR store to import FHIR resources to. The name should be
            in the format of
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.
          in: path
          name: name
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ImportResourcesRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/datasets':
    get:
      description: Lists the health datasets in the current project.
      operationId: healthcare.projects.locations.datasets.list
      parameters:
        - description: |-
            The name of the project whose datasets should be listed.
            For example, `projects/{project_id}/locations/{location_id}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The maximum number of items to return. Capped to 100 if not specified.
            May not be larger than 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: 'The next_page_token value returned from a previous List request, if any.'
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListDatasetsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Creates a new health dataset. Results are returned through the
        Operation interface which returns either an
        `Operation.response` which contains a Dataset or
        `Operation.error`. The metadata
        field type is OperationMetadata.
        A Google Cloud Platform project can contain up to 500 datasets across all
        regions.
      operationId: healthcare.projects.locations.datasets.create
      parameters:
        - description: |-
            The name of the project where the server creates the dataset. For
            example, `projects/{project_id}/locations/{location_id}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The ID of the dataset that is being created.
            The string must match the following regex: `[\p{L}\p{N}_\-\.]{1,256}`.
          in: query
          name: datasetId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dataset'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/dicomStores':
    get:
      description: Lists the DICOM stores in the given dataset.
      operationId: healthcare.projects.locations.datasets.dicomStores.list
      parameters:
        - description: Name of the dataset.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            Restricts stores returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings
            Only filtering on labels is supported. For example, `labels.key=value`.
          in: query
          name: filter
          schema:
            type: string
        - description: |-
            Limit on the number of DICOM stores to return in a single response.
            If zero the default page size of 100 is used.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListDicomStoresResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: Creates a new DICOM store within the parent dataset.
      operationId: healthcare.projects.locations.datasets.dicomStores.create
      parameters:
        - description: The name of the dataset this DICOM store belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The ID of the DICOM store that is being created.
            Any string value up to 256 characters in length.
          in: query
          name: dicomStoreId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DicomStore'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/DicomStore'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/dicomWeb/{dicomWebPath}':
    delete:
      description: |-
        DeleteInstance deletes an instance associated with the given study, series,
        and SOP Instance UID. Delete requests are equivalent to the GET requests
        specified in the WADO-RS standard.
      operationId: healthcare.projects.locations.datasets.dicomStores.studies.series.instances.delete
      parameters:
        - description: |-
            The name of the DICOM store that is being accessed. For example,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The path of the DeleteInstance request. For example,
            `studies/{study_uid}/series/{series_uid}/instances/{instance_uid}`.
          in: path
          name: dicomWebPath
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    get:
      description: |-
        RetrieveFrames returns instances associated with the given study, series,
        SOP Instance UID and frame numbers. See
        http://dicom.nema.org/medical/dicom/current/output/html/part18.html#sect_10.4.
      operationId: healthcare.projects.locations.datasets.dicomStores.studies.series.instances.frames.retrieveFrames
      parameters:
        - description: |-
            The name of the DICOM store that is being accessed. For example,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The path of the RetrieveFrames DICOMweb request. For example,
            `studies/{study_uid}/series/{series_uid}/instances/{instance_uid}/frames/{frame_list}`.
          in: path
          name: dicomWebPath
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        StoreInstances stores DICOM instances associated with study instance unique
        identifiers (SUID). See
        http://dicom.nema.org/medical/dicom/current/output/html/part18.html#sect_10.5.
      operationId: healthcare.projects.locations.datasets.dicomStores.studies.storeInstances
      parameters:
        - description: |-
            The name of the DICOM store that is being accessed. For example,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/dicomStores/{dicom_store_id}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The path of the StoreInstances DICOMweb request. For example,
            `studies/[{study_uid}]`. Note that the `study_uid` is optional.
          in: path
          name: dicomWebPath
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpBody'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/fhir':
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Executes all the requests in the given Bundle.

        Implements the FHIR standard batch/transaction interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#transaction),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#transaction)).

        Supports all interactions within a bundle, except search. This method
        accepts Bundles of type `batch` and `transaction`, processing them
        according to the batch processing rules
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#2.1.0.16.1),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#2.21.0.17.1))
        and transaction processing rules
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#2.1.0.16.2),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#2.21.0.17.2)).

        The request body must contain a JSON-encoded FHIR `Bundle` resource, and
        the request headers must contain `Content-Type: application/fhir+json`.

        For a batch bundle or a successful transaction the response body will
        contain a JSON-encoded representation of a `Bundle` resource of type
        `batch-response` or `transaction-response` containing one entry for each
        entry in the request, with the outcome of processing the entry. In the
        case of an error for a transaction bundle, the response body will contain
        a JSON-encoded `OperationOutcome` resource describing the reason for the
        error. If the request cannot be mapped to a valid API method on a FHIR
        store, a generic GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.executeBundle
      parameters:
        - description: Name of the FHIR store in which this bundle will be executed.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpBody'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/fhir/Observation/$lastn':
    get:
      description: |-
        Retrieves the N most recent `Observation` resources for a subject matching
        search criteria specified as query parameters, grouped by
        `Observation.code`, sorted from most recent to oldest.

        Implements the FHIR extended operation Observation-lastn
        ([STU3](http://hl7.org/implement/standards/fhir/STU3/observation-operations.html#lastn)).

        DSTU2 doesn't define the Observation-lastn method, but the server supports
        it the same way it supports STU3.

        Search terms are provided as query parameters following the same pattern as
        the search method. The following search parameters must
        be provided:

            - `subject` or `patient` to specify a subject for the Observation.
            - `code`, `category` or any of the composite parameters that include
              `code`.

        Any other valid Observation search parameters can also be provided. This
        operation accepts an additional query parameter `max`, which specifies N,
        the maximum number of Observations to return from each group, with a
        default of 1.

        Searches with over 1000 results are rejected. Results are counted before
        grouping and limiting the results with `max`. To stay within the limit,
        constrain these searches using Observation search parameters such as
        `_lastUpdated` or `date`.

        On success, the response body will contain a JSON-encoded representation
        of a `Bundle` resource of type `searchset`, containing the results of the
        operation.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.Observation-lastn
      parameters:
        - description: Name of the FHIR store to retrieve resources from.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
  '/v1beta1/{parent}/fhir/_search':
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Searches for resources in the given FHIR store according to criteria
        specified as query parameters.

        Implements the FHIR standard search interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#search),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#search))
        using the search semantics described in the FHIR Search specification
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/search.html),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/search.html)).

        Supports three methods of search defined by the specification:

        *  `GET [base]?[parameters]` to search across all resources.
        *  `GET [base]/[type]?[parameters]` to search resources of a specified
        type.
        *  `POST [base]/[type]/_search?[parameters]` as an alternate form having
        the same semantics as the `GET` method.

        The `GET` methods do not support compartment searches. The `POST` method
        does not support `application/x-www-form-urlencoded` search parameters.

        On success, the response body will contain a JSON-encoded representation
        of a `Bundle` resource of type `searchset`, containing the results of the
        search.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.

        The server's capability statement, retrieved through
        capabilities, indicates what search parameters
        are supported on each FHIR resource. A list of all search parameters
        defined by the specification can be found in the FHIR Search Parameter
        Registry
        ([STU3](http://hl7.org/implement/standards/fhir/STU3/searchparameter-registry.html)).
        FHIR search parameters for DSTU2 can be found on each resource's definition
        page.

        Supported search modifiers: `:missing`, `:exact`, `:contains`, `:text`,
        `:in`, `:not-in`, `:above`, `:below`, `:[type]`, `:not`, and `:recurse`.

        Supported search result parameters: `_sort`, `_count`, `_include`,
        `_revinclude`, `_summary=text`, `_summary=data`, and `_elements`.

        The maximum number of search results returned defaults to 100, which can
        be overridden by the `_count` parameter up to a maximum limit of 1000. If
        there are additional results, the returned `Bundle` will contain
        pagination links.

        Resources with a total size larger than 5MB or a field count larger than
        50,000 might not be fully searchable as the server might trim its generated
        search index in those cases.

        Note: FHIR resources are indexed asynchronously, so there might be a slight
        delay between the time a resource is created or changes and when the change
        is reflected in search results.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.search
      parameters:
        - description: Name of the FHIR store to retrieve resources from.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchResourcesRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/fhir/{type}':
    delete:
      description: |-
        Deletes FHIR resources that match a search query.

        Implements the FHIR standard conditional delete interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#2.1.0.12.1),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#2.21.0.13.1)).
        If multiple resources match, all of them will be deleted.

        Search terms are provided as query parameters following the same pattern as
        the search method.

        Note: Unless resource versioning is disabled by setting the
        disable_resource_versioning flag
        on the FHIR store, the deleted resources will be moved to a history
        repository that can still be retrieved through vread
        and related methods, unless they are removed by the
        purge method.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.conditionalDelete
      parameters:
        - description: The name of the FHIR store this resource belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The FHIR resource type to delete, such as Patient or Observation. For a
            complete list, see the FHIR Resource Index
            ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/resourcelist.html),
            [STU3](http://hl7.org/implement/standards/fhir/STU3/resourcelist.html)).
          in: path
          name: type
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Empty'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    patch:
      description: |-
        If a resource is found based on the search criteria specified in the query
        parameters, updates part of that resource by applying the operations
        specified in a [JSON Patch](http://jsonpatch.com/) document.

        Implements the FHIR standard conditional patch interaction
        ([STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#patch)).

        DSTU2 doesn't define a conditional patch method, but the server supports it
        in the same way it supports STU3.

        Search terms are provided as query parameters following the same pattern as
        the search method.

        If the search criteria identify more than one match, the request will
        return a `412 Precondition Failed` error.

        The request body must contain a JSON Patch document, and the request
        headers must contain `Content-Type: application/json-patch+json`.

        On success, the response body will contain a JSON-encoded representation
        of the updated resource, including the server-assigned version ID.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.conditionalPatch
      parameters:
        - description: The name of the FHIR store this resource belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The FHIR resource type to update, such as Patient or Observation. For a
            complete list, see the FHIR Resource Index
            ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/resourcelist.html),
            [STU3](http://hl7.org/implement/standards/fhir/STU3/resourcelist.html)).
          in: path
          name: type
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpBody'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    post:
      description: |-
        Creates a FHIR resource.

        Implements the FHIR standard create interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#create),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#create)),
        which creates a new resource with a server-assigned resource ID.

        Also supports the FHIR standard conditional create interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#ccreate),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#ccreate)),
        specified by supplying an `If-None-Exist` header containing a FHIR search
        query. If no resources match this search query, the server processes the
        create operation as normal.

        The request body must contain a JSON-encoded FHIR resource, and the request
        headers must contain `Content-Type: application/fhir+json`.

        On success, the response body will contain a JSON-encoded representation
        of the resource as it was created on the server, including the
        server-assigned resource ID and version ID.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.create
      parameters:
        - description: The name of the FHIR store this resource belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The FHIR resource type to create, such as Patient or Observation. For a
            complete list, see the FHIR Resource Index
            ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/resourcelist.html),
            [STU3](http://hl7.org/implement/standards/fhir/STU3/resourcelist.html)).
            Must match the resource type in the provided content.
          in: path
          name: type
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpBody'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    put:
      description: |-
        If a resource is found based on the search criteria specified in the query
        parameters, updates the entire contents of that resource.

        Implements the FHIR standard conditional update interaction
        ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/http.html#2.1.0.10.2),
        [STU3](http://hl7.org/implement/standards/fhir/STU3/http.html#cond-update)).

        Search terms are provided as query parameters following the same pattern as
        the search method.

        If the search criteria identify more than one match, the request will
        return a `412 Precondition Failed` error.
        If the search criteria identify zero matches, and the supplied resource
        body contains an `id`, and the FHIR store has
        enable_update_create set, creates the
        resource with the client-specified ID. If the search criteria identify zero
        matches, and the supplied resource body does not contain an `id`, the
        resource will be created with a server-assigned ID as per the
        create method.

        The request body must contain a JSON-encoded FHIR resource, and the request
        headers must contain `Content-Type: application/fhir+json`.

        On success, the response body will contain a JSON-encoded representation
        of the updated resource, including the server-assigned version ID.
        Errors generated by the FHIR store will contain a JSON-encoded
        `OperationOutcome` resource describing the reason for the error. If the
        request cannot be mapped to a valid API method on a FHIR store, a generic
        GCP error might be returned instead.
      operationId: healthcare.projects.locations.datasets.fhirStores.fhir.conditionalUpdate
      parameters:
        - description: The name of the FHIR store this resource belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The FHIR resource type to update, such as Patient or Observation. For a
            complete list, see the FHIR Resource Index
            ([DSTU2](http://hl7.org/implement/standards/fhir/DSTU2/resourcelist.html),
            [STU3](http://hl7.org/implement/standards/fhir/STU3/resourcelist.html)).
            Must match the resource type in the provided content.
          in: path
          name: type
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HttpBody'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/HttpBody'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/fhirStores':
    get:
      description: Lists the FHIR stores in the given dataset.
      operationId: healthcare.projects.locations.datasets.fhirStores.list
      parameters:
        - description: Name of the dataset.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            Restricts stores returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings
            Only filtering on labels is supported, for example `labels.key=value`.
          in: query
          name: filter
          schema:
            type: string
        - description: |-
            Limit on the number of FHIR stores to return in a single response.  If zero
            the default page size of 100 is used.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListFhirStoresResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: Creates a new FHIR store within the parent dataset.
      operationId: healthcare.projects.locations.datasets.fhirStores.create
      parameters:
        - description: The name of the dataset this FHIR store belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The ID of the FHIR store that is being created.
            The string must match the following regex: `[\p{L}\p{N}_\-\.]{1,256}`.
          in: query
          name: fhirStoreId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FhirStore'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/FhirStore'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/hl7V2Stores':
    get:
      description: Lists the HL7v2 stores in the given dataset.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.list
      parameters:
        - description: Name of the dataset.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            Restricts stores returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings
            Only filtering on labels is supported. For example, `labels.key=value`.
          in: query
          name: filter
          schema:
            type: string
        - description: |-
            Limit on the number of HL7v2 stores to return in a single response.
            If zero the default page size of 100 is used.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListHl7V2StoresResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: Creates a new HL7v2 store within the parent dataset.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.create
      parameters:
        - description: The name of the dataset this HL7v2 store belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            The ID of the HL7v2 store that is being created.
            The string must match the following regex: `[\p{L}\p{N}_\-\.]{1,256}`.
          in: query
          name: hl7V2StoreId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Hl7V2Store'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Hl7V2Store'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/messages':
    get:
      description: |-
        Lists all the messages in the given HL7v2 store with support for filtering.

        Note: HL7v2 messages are indexed asynchronously, so there might be a slight
        delay between the time a message is created and when it can be found
        through a filter.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.messages.list
      parameters:
        - description: Name of the HL7v2 store to retrieve messages from.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            Restricts messages returned to those matching a filter. Syntax:
            https://cloud.google.com/appengine/docs/standard/python/search/query_strings

            Fields/functions available for filtering are:

            *  `message_type`, from the MSH-9 segment. For example,
            `NOT message_type = "ADT"`.
            *  `send_date` or `sendDate`, the YYYY-MM-DD date the message was sent in
            the dataset's time_zone, from the MSH-7 segment. For example,
            `send_date < "2017-01-02"`.
            *  `send_time`, the timestamp when the message was sent, using the
            RFC3339 time format for comparisons, from the MSH-7 segment. For example,
            `send_time < "2017-01-02T00:00:00-05:00"`.
            *  `send_facility`, the care center that the message came from, from the
            MSH-4 segment. For example, `send_facility = "ABC"`.
            *  `PatientId(value, type)`, which matches if the message lists a patient
            having an ID of the given value and type in the PID-2, PID-3, or PID-4
            segments. For example, `PatientId("123456", "MRN")`.
            *  `labels.x`, a string value of the label with key `x` as set using the
            Message.labels
            map. For example, `labels."priority"="high"`. The operator `:*` can be used
            to assert the existence of a label. For example, `labels."priority":*`.

            Limitations on conjunctions:

            *  Negation on the patient ID function or the labels field is not
            supported. For example, these queries are invalid:
            `NOT PatientId("123456", "MRN")`, `NOT labels."tag1":*`,
            `NOT labels."tag2"="val2"`.
            *  Conjunction of multiple patient ID functions is not supported, for
            example this query is invalid:
            `PatientId("123456", "MRN") AND PatientId("456789", "MRN")`.
            *  Conjunction of multiple labels fields is also not supported, for
            example this query is invalid: `labels."tag1":* AND labels."tag2"="val2"`.
            *  Conjunction of one patient ID function, one labels field and conditions
            on other fields is supported. For example, this query is valid:
            `PatientId("123456", "MRN") AND labels."tag1":* AND message_type = "ADT"`.
          in: query
          name: filter
          schema:
            type: string
        - description: |-
            Orders messages returned by the specified order_by clause.
            Syntax: https://cloud.google.com/apis/design/design_patterns#sorting_order

            Fields available for ordering are:

            *  `send_time`
          in: query
          name: orderBy
          schema:
            type: string
        - description: |-
            Limit on the number of messages to return in a single response.
            If zero the default page size of 100 is used.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: 'The next_page_token value returned from the previous List request, if any.'
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/ListMessagesResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Creates a message and sends a notification to the Cloud Pub/Sub topic. If
        configured, the MLLP adapter listens to messages created by this method and
        sends those back to the hospital. A successful response indicates the
        message has been persisted to storage and a Cloud Pub/Sub notification has
        been sent. Sending to the hospital by the MLLP adapter happens
        asynchronously.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.messages.create
      parameters:
        - description: The name of the dataset this message belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateMessageRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Message'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{parent}/messages:ingest':
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Ingests a new HL7v2 message from the hospital and sends a notification to
        the Cloud Pub/Sub topic. Return is an HL7v2 ACK message if the message was
        successfully stored. Otherwise an error is returned.
      operationId: healthcare.projects.locations.datasets.hl7V2Stores.messages.ingest
      parameters:
        - description: The name of the HL7v2 store this message belongs to.
          in: path
          name: parent
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IngestMessageRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/IngestMessageResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{resource}:getIamPolicy':
    get:
      description: |-
        Gets the access control policy for a resource.
        Returns an empty policy if the resource exists and does not have a policy
        set.
      operationId: healthcare.projects.locations.datasets.fhirStores.getIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          schema:
            type: string
          x-reservedExpansion: true
        - description: |-
            Optional. The policy format version to be returned.

            Valid values are 0, 1, and 3. Requests specifying an invalid value will be
            rejected.

            Requests for policies with any conditional bindings must specify version 3.
            Policies without any conditional bindings may specify any valid value or
            leave the field unset.
          in: query
          name: options.requestedPolicyVersion
          schema:
            type: integer
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
  '/v1beta1/{resource}:setIamPolicy':
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Sets the access control policy on the specified resource. Replaces any
        existing policy.

        Can return Public Errors: NOT_FOUND, INVALID_ARGUMENT and PERMISSION_DENIED
      operationId: healthcare.projects.locations.datasets.fhirStores.setIamPolicy
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy is being specified.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetIamPolicyRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Policy'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{resource}:testIamPermissions':
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Returns permissions that a caller has on the specified resource.
        If the resource does not exist, this will return an empty set of
        permissions, not a NOT_FOUND error.

        Note: This operation is designed to be used for building permission-aware
        UIs and command-line tools, not for authorization checking. This operation
        may "fail open" without warning.
      operationId: healthcare.projects.locations.datasets.fhirStores.testIamPermissions
      parameters:
        - description: |-
            REQUIRED: The resource for which the policy detail is being requested.
            See the operation documentation for the appropriate value for this field.
          in: path
          name: resource
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TestIamPermissionsRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/TestIamPermissionsResponse'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{sourceDataset}:deidentify':
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Creates a new dataset containing de-identified data from the source
        dataset. The metadata field type
        is OperationMetadata.
        If the request is successful, the
        response field type is
        DeidentifySummary.
        If errors occur,
        error
        details field type is
        DeidentifyErrorDetails.
        Errors are also logged to Stackdriver Logging. For more information,
        see [Viewing logs](/healthcare/docs/how-tos/stackdriver-logging).
      operationId: healthcare.projects.locations.datasets.deidentify
      parameters:
        - description: |-
            Source dataset resource name. For example,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}`.
          in: path
          name: sourceDataset
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeidentifyDatasetRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
  '/v1beta1/{sourceStore}:deidentify':
    parameters:
      - $ref: '#/components/parameters/prettyPrint'
      - $ref: '#/components/parameters/quotaUser'
      - $ref: '#/components/parameters/uploadType'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/_.xgafv'
      - $ref: '#/components/parameters/oauth_token'
      - $ref: '#/components/parameters/callback'
      - $ref: '#/components/parameters/alt'
      - $ref: '#/components/parameters/key'
      - $ref: '#/components/parameters/access_token'
      - $ref: '#/components/parameters/upload_protocol'
    post:
      description: |-
        Creates a new FHIR store containing de-identified data from the source
        store. The metadata field type
        is OperationMetadata.
        If the request is successful, the
        response field type is
        DeidentifyFhirStoreSummary. If errors occur,
        error
        details field type is
        DeidentifyErrorDetails.
        Errors are also logged to Stackdriver
        (see [Viewing logs](/healthcare/docs/how-tos/stackdriver-logging)).
      operationId: healthcare.projects.locations.datasets.fhirStores.deidentify
      parameters:
        - description: |-
            Source FHIR store resource name. For example,
            `projects/{project_id}/locations/{location_id}/datasets/{dataset_id}/fhirStores/{fhir_store_id}`.
          in: path
          name: sourceStore
          required: true
          schema:
            type: string
          x-reservedExpansion: true
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeidentifyFhirStoreRequest'
      responses:
        '200':
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/Operation'
          description: Successful response
      security:
        - Oauth2:
            - 'https://www.googleapis.com/auth/cloud-platform'
          Oauth2c:
            - 'https://www.googleapis.com/auth/cloud-platform'
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - '1'
          - '2'
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        default: json
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: 'API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.'
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        default: true
        type: boolean
    quotaUser:
      description: 'Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.'
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: 'Legacy upload protocol for media (e.g. "media", "multipart").'
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: 'Upload protocol for media (e.g. "raw", "multipart").'
      in: query
      name: upload_protocol
      schema:
        type: string
  requestBodies:
    HttpBody:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/HttpBody'
  schemas:
    AuditConfig:
      description: |-
        Specifies the audit configuration for a service.
        The configuration determines which permission types are logged, and what
        identities, if any, are exempted from logging.
        An AuditConfig must have one or more AuditLogConfigs.

        If there are AuditConfigs for both `allServices` and a specific service,
        the union of the two AuditConfigs is used for that service: the log_types
        specified in each AuditConfig are enabled, and the exempted_members in each
        AuditLogConfig are exempted.

        Example Policy with multiple AuditConfigs:

            {
              "audit_configs": [
                {
                  "service": "allServices"
                  "audit_log_configs": [
                    {
                      "log_type": "DATA_READ",
                      "exempted_members": [
                        "user:jose@example.com"
                      ]
                    },
                    {
                      "log_type": "DATA_WRITE",
                    },
                    {
                      "log_type": "ADMIN_READ",
                    }
                  ]
                },
                {
                  "service": "sampleservice.googleapis.com"
                  "audit_log_configs": [
                    {
                      "log_type": "DATA_READ",
                    },
                    {
                      "log_type": "DATA_WRITE",
                      "exempted_members": [
                        "user:aliya@example.com"
                      ]
                    }
                  ]
                }
              ]
            }

        For sampleservice, this policy enables DATA_READ, DATA_WRITE and ADMIN_READ
        logging. It also exempts jose@example.com from DATA_READ logging, and
        aliya@example.com from DATA_WRITE logging.
      properties:
        auditLogConfigs:
          description: The configuration for logging of each type of permission.
          items:
            $ref: '#/components/schemas/AuditLogConfig'
          type: array
        service:
          description: |-
            Specifies a service that will be enabled for audit logging.
            For example, `storage.googleapis.com`, `cloudsql.googleapis.com`.
            `allServices` is a special value that covers all services.
          type: string
      type: object
    AuditLogConfig:
      description: |-
        Provides the configuration for logging a type of permissions.
        Example:

            {
              "audit_log_configs": [
                {
                  "log_type": "DATA_READ",
                  "exempted_members": [
                    "user:jose@example.com"
                  ]
                },
                {
                  "log_type": "DATA_WRITE",
                }
              ]
            }

        This enables 'DATA_READ' and 'DATA_WRITE' logging, while exempting
        jose@example.com from DATA_READ logging.
      properties:
        exemptedMembers:
          description: |-
            Specifies the identities that do not cause logging for this type of
            permission.
            Follows the same format of Binding.members.
          items:
            type: string
          type: array
        logType:
          description: The log type that this config enables.
          enum:
            - LOG_TYPE_UNSPECIFIED
            - ADMIN_READ
            - DATA_WRITE
            - DATA_READ
          type: string
      type: object
    Binding:
      description: Associates `members` with a `role`.
      properties:
        condition:
          $ref: '#/components/schemas/Expr'
          description: |-
            The condition that is associated with this binding.
            NOTE: An unsatisfied condition will not allow user access via current
            binding. Different bindings, including their conditions, are examined
            independently.
        members:
          description: |+
            Specifies the identities requesting access for a Cloud Platform resource.
            `members` can have the following values:

            * `allUsers`: A special identifier that represents anyone who is
               on the internet; with or without a Google account.

            * `allAuthenticatedUsers`: A special identifier that represents anyone
               who is authenticated with a Google account or a service account.

            * `user:{emailid}`: An email address that represents a specific Google
               account. For example, `alice@example.com` .


            * `serviceAccount:{emailid}`: An email address that represents a service
               account. For example, `my-other-app@appspot.gserviceaccount.com`.

            * `group:{emailid}`: An email address that represents a Google group.
               For example, `admins@example.com`.

            * `deleted:user:{emailid}?uid={uniqueid}`: An email address (plus unique
               identifier) representing a user that has been recently deleted. For
               example, `alice@example.com?uid=123456789012345678901`. If the user is
               recovered, this value reverts to `user:{emailid}` and the recovered user
               retains the role in the binding.

            * `deleted:serviceAccount:{emailid}?uid={uniqueid}`: An email address (plus
               unique identifier) representing a service account that has been recently
               deleted. For example,
               `my-other-app@appspot.gserviceaccount.com?uid=123456789012345678901`.
               If the service account is undeleted, this value reverts to
               `serviceAccount:{emailid}` and the undeleted service account retains the
               role in the binding.

            * `deleted:group:{emailid}?uid={uniqueid}`: An email address (plus unique
               identifier) representing a Google group that has been recently
               deleted. For example, `admins@example.com?uid=123456789012345678901`. If
               the group is recovered, this value reverts to `group:{emailid}` and the
               recovered group retains the role in the binding.


            * `domain:{domain}`: The G Suite domain (primary) that represents all the
               users of that domain. For example, `google.com` or `example.com`.

          items:
            type: string
          type: array
        role:
          description: |-
            Role that is assigned to `members`.
            For example, `roles/viewer`, `roles/editor`, or `roles/owner`.
          type: string
      type: object
    CharacterMaskConfig:
      description: Mask a string by replacing its characters with a fixed character.
      properties:
        maskingCharacter:
          description: 'Character to mask the sensitive values. If not supplied, defaults to "*".'
          type: string
      type: object
[...]
