openapi: 3.0.0
servers:
  - url: http://oralquestionsandmotions-api.parliament.uk
  - url: https://oralquestionsandmotions-api.parliament.uk
info:
  contact:
    email: softwareengineering@parliament.uk
    name: UK Parliament
    url: https://www.parliament.uk/
  description: An API that allows querying all tabled oral and written questions, and motions for the House of Commons.
  title: House of Commons Oral and Written Questions API
  version: v1
  x-apisguru-categories:
    - open_data
  x-origin:
    - format: swagger
      url: https://oralquestionsandmotions-api.parliament.uk/swagger/docs/v1
      version: "2.0"
  x-providerName: parliament.uk
  x-serviceName: oralquestions
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_apis.guru_assets_images_no-logo.svg
paths:
  "/EarlyDayMotion/{id}":
    get:
      description: Get a single Early Day Motion which has the ID specified.
      operationId: PublishedEarlyDayMotion_Get
      parameters:
        - description: Early Day Motion with the ID specified.
          in: path
          name: id
          required: true
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            text/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            text/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
          description: BadRequest
        "404":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            text/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
          description: NotFound
      summary: Returns a single Early Day Motion by ID
      tags:
        - Early Day Motions
  /EarlyDayMotions/list:
    get:
      description: Get a list of Early Day Motions which meet the specified criteria. Only supports Published and Withdrawn status.
      parameters:
        - description: Early Day Motions with an ID in the list provided.
          explode: true
          in: query
          name: parameters.edmIds
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: Early Day Motions with an UINWithAmendmentSuffix provided.
          in: query
          name: parameters.uINWithAmendmentSuffix
          required: false
          schema:
            type: string
        - description: Early Day Motions where the title includes the search term provided.
          in: query
          name: parameters.searchTerm
          required: false
          schema:
            type: string
        - description: Early Day Motions where the current status has been set on or after the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.currentStatusDateStart
          required: false
          schema:
            format: date-time
            type: string
        - description: Early Day Motions where the current status has been set on or before the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.currentStatusDateEnd
          required: false
          schema:
            format: date-time
            type: string
        - description: Early Day Motions which are a prayer against a Negative Statutory Instrument.
          in: query
          name: parameters.isPrayer
          required: false
          schema:
            type: boolean
        - description: Return Early Day Motions tabled by Member with ID provided.
          in: query
          name: parameters.memberId
          required: false
          schema:
            format: int32
            type: integer
        - description: Include Early Day Motions sponsored by Member specified
          in: query
          name: parameters.includeSponsoredByMember
          required: false
          schema:
            type: boolean
        - description: Early Day Motions where the date tabled is on or after the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.tabledStartDate
          required: false
          schema:
            format: date-time
            type: string
        - description: Early Day Motions where the date tabled is on or before the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.tabledEndDate
          required: false
          schema:
            format: date-time
            type: string
        - description: Early Day Motions where current status is in the selected list.
          explode: true
          in: query
          name: parameters.statuses
          required: false
          schema:
            items:
              enum:
                - Published
                - Withdrawn
              type: string
            type: array
        - description: Order results by date tabled, title or signature count. Default is date tabled.
          in: query
          name: parameters.orderBy
          required: false
          schema:
            enum:
              - DateTabledAsc
              - DateTabledDesc
              - TitleAsc
              - TitleDesc
              - SignatureCountAsc
              - SignatureCountDesc
            type: string
        - description: The number of records to skip from the first, default is 0.
          in: query
          name: parameters.skip
          required: false
          schema:
            format: int32
            type: integer
        - description: The number of records to return, default is 25, maximum is 100.
          in: query
          name: parameters.take
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            text/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            text/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            text/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            text/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
          description: BadRequest
      summary: Returns a list of Early Day Motions
      tags:
        - Early Day Motions
  /oralquestions/list:
    get:
      description: A list of oral questions meeting the specified criteria.
      operationId: PublishedOralQuestion_Get
      parameters:
        - description: Oral Questions where the answering date has been set on or after the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.answeringDateStart
          required: false
          schema:
            format: date-time
            type: string
        - description: Oral Questions where the answering date has been set on or before the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.answeringDateEnd
          required: false
          schema:
            format: date-time
            type: string
        - description: Oral Questions where the question type is the selected type, substantive or topical.
          in: query
          name: parameters.questionType
          required: false
          schema:
            enum:
              - Substantive
              - Topical
            type: string
        - description: Oral Questions where the question is within the question time with the ID provided
          in: query
          name: parameters.oralQuestionTimeId
          required: false
          schema:
            format: int32
            type: integer
        - description: The ID of the member asking the question. Lists of member IDs for each house are available <a href="http://data.parliament.uk/membersdataplatform/services/mnis/members/query/house=Commons" target="_blank">Commons</a> and <a href="http://data.parliament.uk/membersdataplatform/services/mnis/members/query/house=Lords" target="_blank">Lords</a>.
          explode: true
          in: query
          name: parameters.askingMemberIds
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: The UIN for the question - note that UINs reset at the start of each Parliamentary session.
          explode: true
          in: query
          name: parameters.uINs
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: Which answering body is to respond. A list of answering bodies can be found <a target="_blank" href="http://data.parliament.uk/membersdataplatform/services/mnis/referencedata/AnsweringBodies/">here</a>.
          explode: true
          in: query
          name: parameters.answeringBodyIds
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: The number of records to skip from the first, default is 0.
          in: query
          name: parameters.skip
          required: false
          schema:
            format: int32
            type: integer
        - description: The number of records to return, default is 25, maximum is 100.
          in: query
          name: parameters.take
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            text/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            text/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            text/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            text/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
          description: BadRequest
      summary: Returns a list of oral questions
      tags:
        - Oral Questions
  /oralquestiontimes/list:
    get:
      description: A list of oral question times meeting the specified criteria.
      operationId: PublishedOralQuestionTime_Get
      parameters:
        - description: Oral Questions Time where the answering date has been set on or after the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.answeringDateStart
          required: false
          schema:
            format: date-time
            type: string
        - description: Oral Questions Time where the answering date has been set on or before the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.answeringDateEnd
          required: false
          schema:
            format: date-time
            type: string
        - description: Oral Questions Time where the deadline date has been set on or after the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.deadlineDateStart
          required: false
          schema:
            format: date-time
            type: string
        - description: Oral Questions Time where the deadline date has been set on or before the date provided. Date format YYYY-MM-DD.
          in: query
          name: parameters.deadlineDateEnd
          required: false
          schema:
            format: date-time
            type: string
        - description: Identifier of the OQT
          in: query
          name: parameters.oralQuestionTimeId
          required: false
          schema:
            format: int32
            type: integer
        - description: Which answering body is to respond. A list of answering bodies can be found <a target="_blank" href="http://data.parliament.uk/membersdataplatform/services/mnis/referencedata/AnsweringBodies/">here</a>.
          explode: true
          in: query
          name: parameters.answeringBodyIds
          required: false
          schema:
            items:
              format: int32
              type: integer
            type: array
        - description: The number of records to skip from the first, default is 0.
          in: query
          name: parameters.skip
          required: false
          schema:
            format: int32
            type: integer
        - description: The number of records to return, default is 25, maximum is 100.
          in: query
          name: parameters.take
          required: false
          schema:
            format: int32
            type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            text/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
            text/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_List_PublishedWrittenQuestion_"
          description: OK
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            application/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            text/json:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
            text/xml:
              schema:
                $ref: "#/components/schemas/ApiResponse_Object_"
          description: BadRequest
      summary: Returns a list of oral question times
      tags:
        - Oral Question Times
components:
  schemas:
    ApiResponse_List_PublishedEarlyDayMotion_:
      properties:
        Errors:
          items:
            type: string
          type: array
        PagingInfo:
          $ref: "#/components/schemas/PagingInfo"
        Response:
          items:
            $ref: "#/components/schemas/PublishedEarlyDayMotion"
          type: array
        StatusCode:
          enum:
            - Continue
            - SwitchingProtocols
            - OK
            - Created
            - Accepted
            - NonAuthoritativeInformation
            - NoContent
            - ResetContent
            - PartialContent
            - MultipleChoices
            - Ambiguous
            - MovedPermanently
            - Moved
            - Found
            - Redirect
            - SeeOther
            - RedirectMethod
            - NotModified
            - UseProxy
            - Unused
            - TemporaryRedirect
            - RedirectKeepVerb
            - BadRequest
            - Unauthorized
            - PaymentRequired
            - Forbidden
            - NotFound
            - MethodNotAllowed
            - NotAcceptable
            - ProxyAuthenticationRequired
            - RequestTimeout
            - Conflict
            - Gone
            - LengthRequired
            - PreconditionFailed
            - RequestEntityTooLarge
            - RequestUriTooLong
            - UnsupportedMediaType
            - RequestedRangeNotSatisfiable
            - ExpectationFailed
            - UpgradeRequired
            - InternalServerError
            - NotImplemented
            - BadGateway
            - ServiceUnavailable
            - GatewayTimeout
            - HttpVersionNotSupported
          type: string
        Success:
          readOnly: true
          type: boolean
      type: object
    ApiResponse_List_PublishedOralQuestionTime_:
      properties:
        Errors:
          items:
            type: string
          type: array
        PagingInfo:
          $ref: "#/components/schemas/PagingInfo"
        Response:
          items:
            $ref: "#/components/schemas/PublishedOralQuestionTime"
          type: array
        StatusCode:
          enum:
            - Continue
            - SwitchingProtocols
            - OK
            - Created
            - Accepted
            - NonAuthoritativeInformation
            - NoContent
            - ResetContent
            - PartialContent
            - MultipleChoices
            - Ambiguous
            - MovedPermanently
            - Moved
            - Found
            - Redirect
            - SeeOther
            - RedirectMethod
            - NotModified
            - UseProxy
            - Unused
            - TemporaryRedirect
            - RedirectKeepVerb
            - BadRequest
            - Unauthorized
            - PaymentRequired
            - Forbidden
            - NotFound
            - MethodNotAllowed
            - NotAcceptable
            - ProxyAuthenticationRequired
            - RequestTimeout
            - Conflict
            - Gone
            - LengthRequired
            - PreconditionFailed
            - RequestEntityTooLarge
            - RequestUriTooLong
            - UnsupportedMediaType
            - RequestedRangeNotSatisfiable
            - ExpectationFailed
            - UpgradeRequired
            - InternalServerError
            - NotImplemented
            - BadGateway
            - ServiceUnavailable
            - GatewayTimeout
            - HttpVersionNotSupported
          type: string
        Success:
          readOnly: true
          type: boolean
      type: object
    ApiResponse_List_PublishedOralQuestion_:
      properties:
        Errors:
          items:
            type: string
          type: array
        PagingInfo:
          $ref: "#/components/schemas/PagingInfo"
        Response:
          items:
            $ref: "#/components/schemas/PublishedOralQuestion"
          type: array
        StatusCode:
          enum:
            - Continue
            - SwitchingProtocols
            - OK
            - Created
            - Accepted
            - NonAuthoritativeInformation
            - NoContent
            - ResetContent
            - PartialContent
            - MultipleChoices
            - Ambiguous
            - MovedPermanently
            - Moved
            - Found
            - Redirect
            - SeeOther
            - RedirectMethod
            - NotModified
            - UseProxy
            - Unused
            - TemporaryRedirect
            - RedirectKeepVerb
            - BadRequest
            - Unauthorized
            - PaymentRequired
            - Forbidden
            - NotFound
            - MethodNotAllowed
            - NotAcceptable
            - ProxyAuthenticationRequired
            - RequestTimeout
            - Conflict
            - Gone
            - LengthRequired
            - PreconditionFailed
            - RequestEntityTooLarge
            - RequestUriTooLong
            - UnsupportedMediaType
            - RequestedRangeNotSatisfiable
            - ExpectationFailed
            - UpgradeRequired
            - InternalServerError
            - NotImplemented
            - BadGateway
            - ServiceUnavailable
            - GatewayTimeout
            - HttpVersionNotSupported
          type: string
        Success:
          readOnly: true
          type: boolean
      type: object
    ApiResponse_List_PublishedWrittenQuestion_:
      properties:
        Errors:
          items:
            type: string
          type: array
        PagingInfo:
          $ref: "#/components/schemas/PagingInfo"
        Response:
          items:
            $ref: "#/components/schemas/PublishedWrittenQuestion"
          type: array
        StatusCode:
          enum:
            - Continue
            - SwitchingProtocols
            - OK
            - Created
            - Accepted
            - NonAuthoritativeInformation
            - NoContent
            - ResetContent
            - PartialContent
            - MultipleChoices
            - Ambiguous
            - MovedPermanently
            - Moved
            - Found
            - Redirect
            - SeeOther
            - RedirectMethod
            - NotModified
            - UseProxy
            - Unused
            - TemporaryRedirect
            - RedirectKeepVerb
            - BadRequest
            - Unauthorized
            - PaymentRequired
            - Forbidden
            - NotFound
            - MethodNotAllowed
            - NotAcceptable
            - ProxyAuthenticationRequired
            - RequestTimeout
            - Conflict
            - Gone
            - LengthRequired
            - PreconditionFailed
            - RequestEntityTooLarge
            - RequestUriTooLong
            - UnsupportedMediaType
            - RequestedRangeNotSatisfiable
            - ExpectationFailed
            - UpgradeRequired
            - InternalServerError
            - NotImplemented
            - BadGateway
            - ServiceUnavailable
            - GatewayTimeout
            - HttpVersionNotSupported
          type: string
        Success:
          readOnly: true
          type: boolean
      type: object
    ApiResponse_Object_:
      properties:
        Errors:
          items:
            type: string
          type: array
        PagingInfo:
          $ref: "#/components/schemas/PagingInfo"
        Response:
          type: object
        StatusCode:
          enum:
            - Continue
            - SwitchingProtocols
            - OK
            - Created
            - Accepted
            - NonAuthoritativeInformation
            - NoContent
            - ResetContent
            - PartialContent
            - MultipleChoices
            - Ambiguous
            - MovedPermanently
            - Moved
            - Found
            - Redirect
            - SeeOther
            - RedirectMethod
            - NotModified
            - UseProxy
            - Unused
            - TemporaryRedirect
            - RedirectKeepVerb
            - BadRequest
            - Unauthorized
            - PaymentRequired
            - Forbidden
            - NotFound
            - MethodNotAllowed
            - NotAcceptable
            - ProxyAuthenticationRequired
            - RequestTimeout
            - Conflict
            - Gone
            - LengthRequired
            - PreconditionFailed
            - RequestEntityTooLarge
            - RequestUriTooLong
            - UnsupportedMediaType
            - RequestedRangeNotSatisfiable
            - ExpectationFailed
            - UpgradeRequired
            - InternalServerError
            - NotImplemented
            - BadGateway
            - ServiceUnavailable
            - GatewayTimeout
            - HttpVersionNotSupported
          type: string
        Success:
          readOnly: true
          type: boolean
      type: object
    ApiResponse_PublishedEarlyDayMotionDetails_:
      properties:
        Errors:
          items:
            type: string
          type: array
        PagingInfo:
          $ref: "#/components/schemas/PagingInfo"
        Response:
          $ref: "#/components/schemas/PublishedEarlyDayMotionDetails"
        StatusCode:
          enum:
            - Continue
            - SwitchingProtocols
            - OK
            - Created
            - Accepted
            - NonAuthoritativeInformation
            - NoContent
            - ResetContent
            - PartialContent
            - MultipleChoices
            - Ambiguous
            - MovedPermanently
            - Moved
            - Found
            - Redirect
            - SeeOther
            - RedirectMethod
            - NotModified
            - UseProxy
            - Unused
            - TemporaryRedirect
            - RedirectKeepVerb
            - BadRequest
            - Unauthorized
            - PaymentRequired
            - Forbidden
            - NotFound
            - MethodNotAllowed
            - NotAcceptable
            - ProxyAuthenticationRequired
            - RequestTimeout
            - Conflict
            - Gone
            - LengthRequired
            - PreconditionFailed
            - RequestEntityTooLarge
            - RequestUriTooLong
            - UnsupportedMediaType
            - RequestedRangeNotSatisfiable
            - ExpectationFailed
            - UpgradeRequired
            - InternalServerError
            - NotImplemented
            - BadGateway
            - ServiceUnavailable
            - GatewayTimeout
            - HttpVersionNotSupported
          type: string
        Success:
          readOnly: true
          type: boolean
      type: object
    MemberForDate:
      properties:
        Constituency:
          type: string
        ListAs:
          type: string
        MnisId:
          format: int32
          type: integer
        Name:
          type: string
        Party:
          type: string
        PartyColour:
          type: string
        PartyId:
          format: int32
          type: integer
        PhotoUrl:
          readOnly: true
          type: string
        PimsId:
          format: int32
          type: integer
        Status:
          type: string
      type: object
    PagingInfo:
      properties:
        GlobalStatusCounts:
          items:
            $ref: "#/components/schemas/StatusCount"
          type: array
        GlobalTotal:
          format: int32
          type: integer
        Skip:
          format: int32
          type: integer
        StatusCounts:
          items:
            $ref: "#/components/schemas/StatusCount"
          type: array
        Take:
          format: int32
          type: integer
        Total:
          format: int32
          type: integer
      type: object
    PublishedEarlyDayMotion:
      properties:
        AmendmentSuffix:
          type: string
        AmendmentToMotionId:
          format: int32
          type: integer
        DateTabled:
          format: date-time
          type: string
        Id:
          format: int32
          type: integer
        MemberId:
          format: int32
          type: integer
        MotionText:
          type: string
        PrayingAgainstNegativeStatutoryInstrumentId:
          format: int32
          type: integer
        PrimarySponsor:
          $ref: "#/components/schemas/MemberForDate"
        SponsorsCount:
          format: int32
          type: integer
        Status:
          enum:
            - Published
            - Withdrawn
          type: string
        StatusDate:
          format: date-time
          type: string
        StatutoryInstrumentNumber:
          format: int32
          type: integer
        StatutoryInstrumentTitle:
          type: string
        StatutoryInstrumentYear:
          type: string
        Title:
          type: string
        UIN:
          format: int32
          type: integer
        UINWithAmendmentSuffix:
          type: string
      type: object
    PublishedEarlyDayMotionDetails:
      properties:
        AmendmentSuffix:
          type: string
        AmendmentToMotionId:
          format: int32
          type: integer
        Amendments:
          items:
            $ref: "#/components/schemas/PublishedEarlyDayMotionDetails"
          type: array
        DateTabled:
          format: date-time
          type: string
        Id:
          format: int32
          type: integer
        MemberId:
          format: int32
          type: integer
        MotionText:
          type: string
        PrayingAgainstNegativeStatutoryInstrumentId:
          format: int32
          type: integer
        PrimarySponsor:
          $ref: "#/components/schemas/MemberForDate"
        Sponsors:
          items:
            $ref: "#/components/schemas/PublishedEarlyDayMotionSponsor"
          type: array
        SponsorsCount:
          format: int32
          type: integer
        Status:
          enum:
            - Published
            - Withdrawn
          type: string
        StatusDate:
          format: date-time
          type: string
        StatutoryInstrumentNumber:
          format: int32
          type: integer
        StatutoryInstrumentTitle:
          type: string
        StatutoryInstrumentYear:
          type: string
        Title:
          type: string
        UIN:
          format: int32
          type: integer
        UINWithAmendmentSuffix:
          type: string
      type: object
    PublishedEarlyDayMotionQueryParameters:
      properties:
        CurrentStatusDateEnd:
          description: Early Day Motions where the current status has been set on or before the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        CurrentStatusDateStart:
          description: Early Day Motions where the current status has been set on or after the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        EdmIds:
          description: Early Day Motions with an ID in the list provided.
          items:
            format: int32
            type: integer
          type: array
        IncludeSponsoredByMember:
          description: Include Early Day Motions sponsored by Member specified
          type: boolean
        IsPrayer:
          description: Early Day Motions which are a prayer against a Negative Statutory Instrument.
          type: boolean
        MemberId:
          description: Return Early Day Motions tabled by Member with ID provided.
          format: int32
          type: integer
        OrderBy:
          description: Order results by date tabled, title or signature count. Default is date tabled.
          enum:
            - DateTabledAsc
            - DateTabledDesc
            - TitleAsc
            - TitleDesc
            - SignatureCountAsc
            - SignatureCountDesc
          type: string
        SearchTerm:
          description: Early Day Motions where the title includes the search term provided.
          type: string
        Skip:
          description: The number of records to skip from the first, default is 0.
          format: int32
          type: integer
        Statuses:
          description: Early Day Motions where current status is in the selected list.
          items:
            enum:
              - Published
              - Withdrawn
            type: string
          type: array
        TabledEndDate:
          description: Early Day Motions where the date tabled is on or before the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        TabledStartDate:
          description: Early Day Motions where the date tabled is on or after the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        Take:
          description: The number of records to return, default is 25, maximum is 100.
          format: int32
          type: integer
        UINWithAmendmentSuffix:
          description: Early Day Motions with an UINWithAmendmentSuffix provided.
          type: string
      type: object
    PublishedEarlyDayMotionSponsor:
      properties:
        CreatedWhen:
          format: date-time
          type: string
        Id:
          format: int32
          type: integer
        IsWithdrawn:
          type: boolean
        Member:
          $ref: "#/components/schemas/MemberForDate"
        MemberId:
          format: int32
          type: integer
        SponsoringOrder:
          format: int32
          type: integer
        WithdrawnDate:
          format: date-time
          type: string
      type: object
    PublishedOralQuestion:
      properties:
        AnsweringBody:
          type: string
        AnsweringBodyId:
          format: int32
          type: integer
        AnsweringMinister:
          $ref: "#/components/schemas/MemberForDate"
        AnsweringMinisterId:
          format: int32
          type: integer
        AnsweringMinisterTitle:
          type: string
        AnsweringWhen:
          format: date-time
          type: string
        AskingMember:
          $ref: "#/components/schemas/MemberForDate"
        AskingMemberId:
          format: int32
          type: integer
        DeclarableInterestDetail:
          type: string
        HansardLink:
          type: string
        Id:
          format: int32
          type: integer
        Number:
          format: int32
          type: integer
        QuestionText:
          type: string
        QuestionType:
          enum:
            - Substantive
            - Topical
          type: string
        RemovedFromToBeAskedWhen:
          format: date-time
          type: string
        Status:
          enum:
            - Submitted
            - Carded
            - Unsaved
            - ReadyForShuffle
            - ToBeAsked
            - ShuffleUnsuccessful
            - Withdrawn
            - Unstarred
            - Draft
            - ForReview
            - Unasked
            - Transferred
          type: string
        TabledWhen:
          format: date-time
          type: string
        UIN:
          format: int32
          type: integer
      type: object
    PublishedOralQuestionQueryParameters:
      properties:
        AnsweringBodyIds:
          description: Which answering body is to respond. A list of answering bodies can be found <a target="_blank" href="http://data.parliament.uk/membersdataplatform/services/mnis/referencedata/AnsweringBodies/">here</a>.
          items:
            format: int32
            type: integer
          type: array
        AnsweringDateEnd:
          description: Oral Questions where the answering date has been set on or before the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        AnsweringDateStart:
          description: Oral Questions where the answering date has been set on or after the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        AskingMemberIds:
          description: The ID of the member asking the question. Lists of member IDs for each house are available <a href="http://data.parliament.uk/membersdataplatform/services/mnis/members/query/house=Commons" target="_blank">Commons</a> and <a href="http://data.parliament.uk/membersdataplatform/services/mnis/members/query/house=Lords" target="_blank">Lords</a>.
          items:
            format: int32
            type: integer
          type: array
        OralQuestionTimeId:
          description: Oral Questions where the question is within the question time with the ID provided
          format: int32
          type: integer
        QuestionType:
          description: Oral Questions where the question type is the selected type, substantive or topical.
          enum:
            - Substantive
            - Topical
          type: string
        Skip:
          description: The number of records to skip from the first, default is 0.
          format: int32
          type: integer
        Take:
          description: The number of records to return, default is 25, maximum is 100.
          format: int32
          type: integer
        UINs:
          description: The UIN for the question - note that UINs reset at the start of each Parliamentary session.
          items:
            format: int32
            type: integer
          type: array
      type: object
    PublishedOralQuestionTime:
      properties:
        AnsweringBodyNames:
          readOnly: true
          type: string
        AnsweringMinisterTitles:
          readOnly: true
          type: string
        AnsweringWhen:
          format: date-time
          type: string
        DeadlineWhen:
          format: date-time
          type: string
        Id:
          format: int32
          type: integer
        SubstantiveTime:
          type: string
        TopicalTime:
          type: string
      type: object
    PublishedOralQuestionTimeQueryParameters:
      properties:
        AnsweringBodyIds:
          description: Which answering body is to respond. A list of answering bodies can be found <a target="_blank" href="http://data.parliament.uk/membersdataplatform/services/mnis/referencedata/AnsweringBodies/">here</a>.
          items:
            format: int32
            type: integer
          type: array
        AnsweringDateEnd:
          description: Oral Questions Time where the answering date has been set on or before the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        AnsweringDateStart:
          description: Oral Questions Time where the answering date has been set on or after the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        DeadlineDateEnd:
          description: Oral Questions Time where the deadline date has been set on or before the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        DeadlineDateStart:
          description: Oral Questions Time where the deadline date has been set on or after the date provided. Date format YYYY-MM-DD.
          format: date-time
          type: string
        OralQuestionTimeId:
          description: Identifier of the OQT
          format: int32
          type: integer
        Skip:
          description: The number of records to skip from the first, default is 0.
          format: int32
          type: integer
        Take:
          description: The number of records to return, default is 25, maximum is 100.
          format: int32
          type: integer
      type: object
    PublishedWrittenQuestion:
      properties:
        Answer:
          type: string
        AnsweredWhen:
          format: date-time
          type: string
        AnsweringBody:
          type: string
        AnsweringBodyId:
          format: int32
          type: integer
        AnsweringMinister:
          $ref: "#/components/schemas/MemberForDate"
        AnsweringMinisterId:
          format: int32
          type: integer
        AnsweringMinisterTitle:
          type: string
        AskingMember:
          $ref: "#/components/schemas/MemberForDate"
        AskingMemberId:
          format: int32
          type: integer
        DueForAnswer:
          format: date-time
          type: string
        Id:
          format: int32
          type: integer
        QuestionText:
          type: string
        QuestionType:
          enum:
            - NamedDay
            - Ordinary
          type: string
        TabledWhen:
          format: date-time
          type: string
        UIN:
          format: int32
          type: integer
      type: object
    StatusCount:
      properties:
        Count:
          format: int32
          type: integer
        StatusId:
          format: int32
          type: integer
      type: object
