swagger: '2.0'
schemes:
  - https
host: api.semantria.com
basePath: /
info:
  description: 'Semantria applies Text and Sentiment Analysis to tweets, facebook posts, surveys, reviews or enterprise content.'
  title: Semantria
  version: '4.0'
  x-apisguru-categories:
    - social
    - text
  x-logo:
    url: 'https://semantria.com/marketing/img/ui/semantria-lexalytics_mainlogo.png'
  x-origin:
    - converter:
        url: 'https://github.com/lucybot/api-spec-converter'
        version: 2.0.1
      format: swagger
      url: 'https://semantria.com/developer/api-docs-prod'
      version: '1.2'
  x-providerName: semantria.com
externalDocs:
  url: 'https://semantria.com/support/developer/'
produces:
  - application/json
  - application/xml
tags:
  - description: Blacklisted output
    name: Blacklist
  - description: User categories
    name: Categories
  - description: Configurations
    name: Configuration
  - description: User entities
    name: Entities
  - description: Supported features
    name: Features
  - description: Sentiment-Bearing Phrases
    name: Phrases
  - description: Discovery analysis
    name: ProcessingCollections
  - description: Basic analysis
    name: ProcessingDocuments
  - description: Queries
    name: Queries
  - description: Usage statistics
    name: Statistics
  - description: API status
    name: Status
  - description: Subscription details
    name: Subscription
  - description: Taxonomy
    name: Taxonomy
paths:
  '/blacklist.{content_type}':
    delete:
      description: This method removes certain blacklisted items by their values on Semantria side.
      operationId: deleteBlacklistItems
      parameters:
        - description: Identifier of configuration blacklist items linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of unique blacklisted item identifiers (string).
          in: body
          name: Blacklisted item IDs
          required: true
          schema:
            items:
              type: string
            type: array
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '403':
          description: Forbidden. Server responds if client tries to remove primary configuration.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Remove items from blacklist
      tags:
        - Blacklist
    get:
      description: This method retrieves all backlisted items available on Semantria side.
      operationId: getBlacklist
      parameters:
        - description: Identifier of configuration blacklist linked to.
          in: query
          name: config_id
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with the blacklist.
          schema:
            items:
              $ref: '#/definitions/BlacklistItem_ResponseVersion'
            type: array
        '202':
          description: 'Client request accepted, no blacklist found. Server responds with empty body.'
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve blacklisted items
      tags:
        - Blacklist
    post:
      description: This method adds new unique items to the backlist on Semantria side.
      operationId: addBlacklist
      parameters:
        - description: Identifier of configuration blacklist linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Blacklisted items
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/BlacklistItem_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed blacklisted items per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Add items to blacklist
      tags:
        - Blacklist
    put:
      description: This method updates existing items by unique IDs in the backlist on Semantria side.
      operationId: updateBlacklist
      parameters:
        - description: Identifier of configuration blacklist linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Blacklisted items
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/BlacklistItem_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed blacklisted items per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Update items in blacklist
      tags:
        - Blacklist
  '/categories.{content_type}':
    delete:
      description: This method removes certain user categories by their IDs on Semantria side.
      operationId: deleteCategories
      parameters:
        - description: Identifier of configuration user categories linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of user category identifiers.
          in: body
          name: Category IDs
          required: true
          schema:
            items:
              type: string
            type: array
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '403':
          description: Forbidden. Server responds if client tries to remove primary configuration.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Remove user categories
      tags:
        - Categories
    get:
      description: This method retrieves list of user categories available on Semantria side.
      operationId: getCategories
      parameters:
        - description: Identifier of configuration user categories linked to.
          in: query
          name: config_id
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with the categories list.
          schema:
            items:
              $ref: '#/definitions/Category_ResponseVersion'
            type: array
        '202':
          description: 'Client request accepted, no categories found. Server responds with empty body.'
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve user categories
      tags:
        - Categories
    post:
      description: This method adds user categories on Semantria side.
      operationId: addCategories
      parameters:
        - description: Identifier of configuration user categories linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Categories
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Category_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed categories per configuration or samples per category achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Add user categories
      tags:
        - Categories
    put:
      description: This method updates user categories by unique IDs on Semantria side.
      operationId: updateCategories
      parameters:
        - description: Identifier of configuration user categories linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Categories
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Category_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed categories per configuration or samples per category achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Updates user categories
      tags:
        - Categories
  '/collection.{content_type}':
    post:
      description: 'This method queues collection of documents onto the server for analysis. Queued collection of documents analyzes in common context as entire thing. If unique configuration ID provided, Semantria uses settings of that configuration during analysis, in opposite the primary configuration uses. Collection IDs are unique in scope of configuration. If the same ID appears twice, Semantria overrides existing collection with the new Data'
      operationId: queueCollection
      parameters:
        - description: Identifier of configuration used for analysis.
          in: query
          name: config_id
          required: false
          type: string
        - description: Parametrized JSON or XML object.
          in: body
          name: Collection
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with the sentiment-bearing phrases list.
          schema:
            $ref: '#/definitions/Collection'
        '202':
          description: Client request accepted and queued for processing.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Documents limit per collection is achieved.
        '413':
          description: Characters limit for single document exceeded.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Queue collection for analysis
      tags:
        - ProcessingCollections
  '/collection/processed.{content_type}':
    get:
      description: 'This method retrieves analysis results for processed collections from Semantria. FAILED collections will have FAILED status in response. Semantria responds with limited amount of results per API call. If configuration ID provided, Semantria responds with the collections, which were queued using the same configuration ID, in opposite Primary configuration uses.'
      operationId: retrieveProcessedCollections
      parameters:
        - description: Identifier of configuration used for analysis.
          in: query
          name: config_id
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with processed collections.
          schema:
            $ref: '#/definitions/CollectionAnalyticData'
        '202':
          description: 'Client request accepted, no processed collections found on the server.'
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve collections analysis
      tags:
        - ProcessingCollections
  '/collection/{collection_id}.{content_type}':
    delete:
      description: This method cancels collection analysis by unique ID on Semantria side if it is waiting for analysis in queue.
      operationId: cancelCollection
      parameters:
        - description: Identifier of configuration used for analysis.
          in: query
          name: config_id
          required: false
          type: string
        - description: Collection ID
          in: path
          name: collection_id
          required: true
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted. Document canceled from processing on the server.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '404':
          description: No collections with provided ID found on server.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Cancel collection analysis
      tags:
        - ProcessingCollections
    get:
      description: This method retrieves analysis results for documents collection by its unique ID or the collection’s status in queue if it did not analyzed yet. Semantria guarantees delivering of all collections back to the client even if they FAILED on Semantria side due to some reason.
      operationId: receiveCollectionAnalyticData
      parameters:
        - description: Identifier of configuration used for analysis.
          in: query
          name: config_id
          required: false
          type: string
        - description: Collection ID
          in: path
          name: collection_id
          required: true
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted. Server responds with processed document or its status.
          schema:
            $ref: '#/definitions/CollectionAnalyticData'
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '404':
          description: No collections with provided ID found on server.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve collection analysis or its status in queue
      tags:
        - ProcessingCollections
  '/configurations.{content_type}':
    delete:
      description: This method removes certain configuration by unique ID on Semantria side.
      operationId: deleteConfigurations
      parameters:
        - description: List of configuration identifiers.
          in: body
          name: Configuration IDs
          required: true
          schema:
            items:
              type: string
            type: array
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '403':
          description: Forbidden. Server responds if client tries to remove primary configuration.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Remove user configurations
      tags:
        - Configuration
    get:
      description: This method retrieves all user configurations available on Semantria side.
      operationId: getConfigurations
      parameters:
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted. Server responds with status object.
          schema:
            items:
              $ref: '#/definitions/Configuration_ResponseVersion'
            type: array
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve user configurations
      tags:
        - Configuration
    post:
      description: This method creates configurations on Semantria side.
      operationId: addConfigurations
      parameters:
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Configurations
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Configuration_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed configurations for user subscription is reached.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Create user configurations
      tags:
        - Configuration
    put:
      description: This method updates specific configurations by unique IDs on Semantria side.
      operationId: updateConfigurations
      parameters:
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Configurations
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Configuration_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed configurations for user subscription is reached.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Update user configurations
      tags:
        - Configuration
  '/document.{content_type}':
    post:
      description: 'This method queues document onto the server for analysis. Queued document analyzes individually and will have its own set of results. If unique configuration ID provided, Semantria uses settings of that configuration during analysis, in opposite the primary configuration uses. Document IDs are unique in scope of configuration. If the same ID appears twice, Semantria overrides existing document with the new Data.'
      operationId: queueDocument
      parameters:
        - description: Identifier of configuration used for analysis.
          in: query
          name: config_id
          required: false
          type: string
        - description: Parametrized JSON or XML object.
          in: body
          name: Document
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with the sentiment-bearing phrases list.
          schema:
            $ref: '#/definitions/Document'
        '202':
          description: Client request accepted and queued for processing.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '413':
          description: Characters limit for the document exceeded.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Queue document for analysis
      tags:
        - ProcessingDocuments
  '/document/batch.{content_type}':
    post:
      description: This method queues batch of documents for analysis. The rules are the same as for single document mode but here the documents ordered into the batch.
      operationId: queueBatchOfDocuments
      parameters:
        - description: Identifier of configuration used for analysis.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Batch of Documents
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with the sentiment-bearing phrases list.
          schema:
            $ref: '#/definitions/Document'
        '202':
          description: Client request accepted and queued for processing.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '403':
          description: Request is forbidden for selected processing mode.
        '406':
          description: Documents limit per batch is achieved.
        '413':
          description: Characters limit for the document exceeded.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Queue batch of documents for analysis
      tags:
        - ProcessingDocuments
  '/document/processed.{content_type}':
    get:
      description: 'This method retrieves analysis results for processed documents from Semantria. FAILED documents will have FAILED status in response. Semantria responds with limited amount of results per API call. If configuration ID provided, Semantria responds with the document, which were queued using the same configuration ID, in opposite Primary.'
      operationId: retrieveProcessedDocuments
      parameters:
        - description: Identifier of configuration used for analysis.
          in: query
          name: config_id
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with processed documents.
          schema:
            $ref: '#/definitions/DocumentAnalyticData'
        '202':
          description: 'Client request accepted, no processed documents found on the server.'
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve documents analysis
      tags:
        - ProcessingDocuments
  '/document/{document_id}.{content_type}':
    delete:
      description: This method cancels document analysis by unique ID on Semantria side if it is waiting for analysis in queue.
      operationId: cancelDocument
      parameters:
        - description: Identifier of configuration used for analysis.
          in: query
          name: config_id
          required: false
          type: string
        - description: Document ID
          in: path
          name: document_id
          required: true
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted. Document canceled from processing on the server.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '404':
          description: No documents with provided ID found on server.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Cancel document analysis
      tags:
        - ProcessingDocuments
    get:
      description: This method retrieves analysis results for the single document by its unique ID or the document’s status in queue if it did not analyzed yet. Semantria guarantees delivering of all documents back to the client even if they FAILED on Semantria side due to some reason.
      operationId: receiveDocumentAnalyticData
      parameters:
        - description: Identifier of configuration used for analysis.
          in: query
          name: config_id
          required: false
          type: string
        - description: Document ID
          in: path
          name: document_id
          required: true
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted. Server responds with processed document or its status.
          schema:
            $ref: '#/definitions/DocumentAnalyticData'
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '404':
          description: No documents with provided ID found on server.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve document analysis or its status in queue
      tags:
        - ProcessingDocuments
  '/entities.{content_type}':
    delete:
      description: This method removes certain user entities by their names on Semantria side.
      operationId: deleteEntities
      parameters:
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '403':
          description: Forbidden. Server responds if client tries to remove primary configuration.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Remove user entities
      tags:
        - Entities
    get:
      description: This method retrieves list of user entities available on Semantria side.
      operationId: getEntities
      parameters:
        - description: Identifier of configuration user entities linked to.
          in: query
          name: config_id
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with the entities list.
          schema:
            items:
              $ref: '#/definitions/Entity_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and no entities found. Server responds with empty body.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve user entities
      tags:
        - Entities
    post:
      description: This method adds user entities on Semantria side.
      operationId: addEntities
      parameters:
        - description: Identifier of configuration user entities linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: User entities
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Entity_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed entities per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Add user entities
      tags:
        - Entities
    put:
      description: This method updates user entities by unique IDs on Semantria side.
      operationId: updateEntities
      parameters:
        - description: Identifier of configuration user entities linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: User entities
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Entity_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed entities per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Update user entities
      tags:
        - Entities
  '/features.{content_type}':
    get:
      description: This method returns list of supported features per languages supported by Semantria API. Let the users know about API capabilities.
      operationId: getFeatures
      parameters:
        - description: Filter features by specified language
          in: query
          name: language
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with subscription details.
          schema:
            items:
              $ref: '#/definitions/Feature'
            type: array
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve supported features
      tags:
        - Features
  '/phrases.{content_type}':
    delete:
      description: This method removes certain sentiment-bearing phrases by their names on Semantria side.
      operationId: deletePhrases
      parameters:
        - description: Identifier of configuration phrases linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of sentiment-bearing phrase identifiers.
          in: body
          name: Sentiment phrase IDs
          required: true
          schema:
            items:
              type: string
            type: array
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '403':
          description: Forbidden. Server responds if client tries to remove primary configuration.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Remove sentiment-bearing phrases
      tags:
        - Phrases
    get:
      description: This method retrieves list of sentiment-bearing phrases available on Semantria side.
      operationId: getPhrases
      parameters:
        - description: Identifier of configuration phrases linked to.
          in: query
          name: config_id
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with the sentiment-bearing phrases list.
          schema:
            items:
              $ref: '#/definitions/Phrase_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and no sentiment-bearing phrases found. Server responds with empty body.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve sentiment-bearing phrases
      tags:
        - Phrases
    post:
      description: This method adds sentiment-bearing phrases on Semantria side.
      operationId: addPhrases
      parameters:
        - description: Identifier of configuration phrases linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Sentiment phrases
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Phrase_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed sentiment-bearing phrases per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Add sentiment-bearing phrases
      tags:
        - Phrases
    put:
      description: This method updates sentiment-bearing phrases by unique IDs on Semantria side.
      operationId: updatePhrases
      parameters:
        - description: Identifier of configuration phrases linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Sentiment phrases
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Phrase_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed sentiment-bearing phrases per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Updates sentiment-bearing phrases
      tags:
        - Phrases
  '/queries.{content_type}':
    delete:
      description: This method removes certain queries by their IDs on Semantria side.
      operationId: deleteQueries
      parameters:
        - description: Identifier of configuration queries linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of query identifiers.
          in: body
          name: Query IDs
          required: true
          schema:
            items:
              type: string
            type: array
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '403':
          description: Forbidden. Server responds if client tries to remove primary configuration.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Remove queries
      tags:
        - Queries
    get:
      description: This method retrieves list of queries available on Semantria side.
      operationId: getQueries
      parameters:
        - description: Identifier of configuration queries linked to.
          in: query
          name: config_id
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with the queries list.
          schema:
            items:
              $ref: '#/definitions/Query_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and no queries found. Server responds with empty body.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve queries
      tags:
        - Queries
    post:
      description: This method adds queries on Semantria side.
      operationId: addQueries
      parameters:
        - description: Identifier of configuration queries linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Queries
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Query_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed queries per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Add or update queries
      tags:
        - Queries
    put:
      description: This method updates queries by unique IDs on Semantria side.
      operationId: updateQueries
      parameters:
        - description: Identifier of configuration queries linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Queries
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/Query_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed queries per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Update queries
      tags:
        - Queries
  '/statistics.{content_type}':
    get:
      description: 'This method retrieves overall and per configuration usage statistics for specific timeframe. Statistics ordered per available configurations. Available interval values are current <b>hour</b>, <b>day</b>, <b>week</b>, <b>month</b> and <b>year</b>.'
      operationId: getStatistic
      parameters:
        - description: Configuration identifier for usage statistics retrieving.
          in: query
          name: config_id
          required: false
          type: string
        - description: 'Hour, Day, Week, Month, Year values are supported.'
          in: query
          name: interval
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted. Server responds with statistics details.
          schema:
            $ref: '#/definitions/Statistic'
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve usage statistics
      tags:
        - Statistics
  '/status.{content_type}':
    get:
      description: 'This method retrieves API status information such as the app version, current API version, supported languages and encodings, the overall service status, etc.'
      operationId: getStatus
      parameters:
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted. Server responds with status object.
          schema:
            $ref: '#/definitions/Status'
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve API status
      tags:
        - Status
  '/subscription.{content_type}':
    get:
      description: 'This method retrieves user''s subscription details that consist of the list of allowed features, configured limits and options on Semantria side.'
      operationId: getSubscription
      parameters:
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with subscription details.
          schema:
            $ref: '#/definitions/Subscription'
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve subscription details
      tags:
        - Subscription
  '/taxonomy.{content_type}':
    delete:
      description: This method removes certain taxonomy nodes by their IDs on Semantria side.
      operationId: deleteTaxonomy
      parameters:
        - description: Identifier of configuration queries linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of taxonomy node identifiers.
          in: body
          name: Taxonomy node IDs
          required: true
          schema:
            items:
              type: string
            type: array
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '403':
          description: Forbidden. Server responds if client tries to remove primary configuration.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Remove taxonomy nodes
      tags:
        - Taxonomy
    get:
      description: This method retrieves list of taxonomy available on Semantria side.
      operationId: getTaxonomy
      parameters:
        - description: Identifier of configuration taxonomy linked to.
          in: query
          name: config_id
          required: false
          type: string
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: Client request accepted and queued. Server responds with the taxonomy list.
          schema:
            items:
              $ref: '#/definitions/TaxonomyNode_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and no taxonomy found. Server responds with empty body.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Retrieve taxonomy
      tags:
        - Taxonomy
    post:
      description: This method adds taxonomy nodes on Semantria side.
      operationId: addTaxonomy
      parameters:
        - description: Identifier of configuration queries linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Taxonomy
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/TaxonomyNode_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed queries per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Add taxonomy nodes
      tags:
        - Taxonomy
    put:
      description: This method updates taxonomy nodes on Semantria side.
      operationId: updateTaxonomy
      parameters:
        - description: Identifier of configuration queries linked to.
          in: query
          name: config_id
          required: false
          type: string
        - description: List of parametrized JSON or XML objects.
          in: body
          name: Taxonomy
          required: true
          schema:
            $ref: '#/definitions/Request_class'
        - in: path
          name: content_type
          required: true
          type: string
      responses:
        '200':
          description: No response was specified
          schema:
            items:
              $ref: '#/definitions/TaxonomyNode_ResponseVersion'
            type: array
        '202':
          description: Client request accepted and queued.
        '400':
          description: Incoming request body is incorrect. Server responds with details.
        '401':
          description: Authentication failed.
        '402':
          description: Unauthorized. Limit of system calls is reached or subscription is expired.
        '406':
          description: Number of allowed queries per configuration achieved.
        '500':
          description: Server side issue. Server may respond with the details in response body.
      summary: Update taxonomy nodes
      tags:
        - Taxonomy
definitions:
  Attribute:
    properties:
      count:
        description: The count of occurrences of the attribute across the documents
        minimum: 0
        type: integer
      label:
        description: The text of the attribute
        type: string
      mentions:
        description: Returns genuine forms of attribute mentioned across the documents
        items:
          $ref: '#/definitions/Mention'
        type: array
    required:
      - count
      - label
      - mentions
  AutoCategory:
    properties:
      categories:
        description: List of sub-categories of the current category if applicable
        items:
          $ref: '#/definitions/SubCategory'
        type: array
      sentiment_polarity:
        description: 'Verbal representation of sentiment score. Can be "negative", "positive" or "neutral"'
        enum:
          - negative
          - positive
          - neutral
        type: string
      sentiment_score:
        description: The sentiment score associated with this category
        format: double
        type: number
      strength_score:
        description: Strength of the category matches with the document content
        format: double
        type: number
      title:
        description: 'The category title, which is its label in the text'
        type: string
      type:
        description: Type of category; can be either "node" (root level) or "leaf" (nested) value
        type: string
    required:
      - categories
      - sentiment_polarity
      - sentiment_score
      - strength_score
      - title
      - type
  BlacklistItem_InsertVersion:
    properties:
      name:
        description: Blacklist item name
        type: string
    required:
      - name
  BlacklistItem_ResponseVersion:
    properties:
      id:
        description: Unique blacklist item identifier
        type: string
      modified:
        description: The timestamp of the latest update of the record. Creation date of update didn't occur
        type: string
      name:
        description: Blacklist item name
        type: string
    required:
      - id
      - modified
      - name
  BlacklistItem_UpdateVersion:
    properties:
      id:
        description: Unique blacklist item identifier
        type: string
      name:
        description: Blacklist item name
        type: string
    required:
      - id
      - name
  Category_InsertVersion:
    properties:
      name:
        description: Category name
        type: string
      samples:
        description: Category samples
        items:
          type: string
        type: array
      weight:
        description: Category weight
        format: float
        type: number
    required:
      - name
      - samples
      - weight
  Category_ResponseVersion:
    properties:
      id:
        description: Unique category identifier
        type: string
      modified:
        description: The timestamp of the latest update of the record. Creation date of update didn't occur
        type: string
      name:
        description: Category name
        type: string
      samples:
        description: Category samples
        items:
          type: string
        type: array
      weight:
        description: Category weight
        format: float
        type: number
    required:
      - id
      - modified
      - name
      - samples
      - weight
  Category_UpdateVersion:
    properties:
      id:
        description: Unique category identifier
        type: string
      name:
        description: Category name
        type: string
      samples:
        description: Category samples
        items:
          type: string
        type: array
      weight:
        description: Category weight
        format: float
        type: number
    required:
      - id
      - name
      - samples
      - weight
  Collection:
    properties:
      documents:
        description: List of documents text that need to be analyzed by the service
        items:
          type: string
        type: array
      id:
        description: Up to 32 symbols unique identifier of document assigned and tracked by client
        type: string
      job_id:
        description: Specific marker of incoming job that can be used then for collections retrieving
        type: string
      metadata:
        $ref: '#/definitions/JSON'
        description: Free form metadata object(JSON) attached to the certain collection
      tag:
        description: Any text of up to 50 characters used like marker
        type: string
    required:
      - documents
      - id
      - job_id
      - metadata
      - tag
  CollectionAnalyticData:
    properties:
      config_id:
        description: Unique configuration identifier. Usually 36 alphanumeric characters
        type: string
      docs_count:
        description: Count of the documents the collection consist of
        type: integer
      entities:
        description: Returns the named entities and user defined entities from the text
        items:
          $ref: '#/definitions/Entity'
        type: array
      facets:
        description: Returns the facets extracted across all documents in the collection
        items:
          $ref: '#/definitions/Facet'
        type: array
      id:
        description: Unique collection identifier. Can be up to 36 alphanumeric characters
        type: string
      job_id:
        description: 'Specific marker of a job collection belongs to, can be used for collections ordering on client side.'
        type: string
      metadata:
        $ref: '#/definitions/JSON'
        description: Free form metadata object(JSON) attached to the certain collection
      status:
        description: Status of the collection
        enum:
          - queued
          - processed
          - failed
        type: string
      tag:
        description: Any text of up to 50 characters used like marker
        type: string
      taxonomy:
        description: Returns the taxonomy determined for the text
        items:
          $ref: '#/definitions/Topic'
        type: array
      themes:
        description: Returns themes across the documents
        items:
          $ref: '#/definitions/Theme'
        type: array
      topics:
        description: Returns the concept and query defined topics determined for the text
        items:
          $ref: '#/definitions/Topic'
        type: array
    required:
      - config_id
      - docs_count
      - entities
      - facets
      - id
      - job_id
      - metadata
      - status
      - tag
      - taxonomy
      - themes
      - topics
  ConfigurationCollectionSection:
    properties:
      attributes:
        description: 'Defines whether attributes for facets will be reported for the collection. Default: true'
        type: boolean
      concept_topics:
        description: 'Defines whether user_categories will be reported for the collection. Default: false'
        type: boolean
      facets:
        description: 'Defines whether facets will be reported for the collection. Default: true'
        type: boolean
      mentions:
        description: 'Defines whether mentions for themes, user/named entities, facets and attributes will be reported for the collection. Default: false'
        type: boolean
      named_entities:
        description: 'Defines whether named entities will be reported for the collection. Default: true'
        type: boolean
      query_topics:
        description: 'Defines whether queries will be reported for the collection. Default: true'
        type: boolean
      themes:
        description: 'Defines whether themes will be reported for the collection. Default: true'
        type: boolean
      user_entities:
        description: 'Defines whether user entities will be reported for the collection. Default: true'
        type: boolean
    required:
      - attributes
      - concept_topics
      - facets
      - mentions
      - named_entities
      - query_topics
      - themes
      - user_entities
  ConfigurationDocumentSection:
    properties:
      auto_categories:
        description: 'Defines whether auto-categories will be reported for the document. Default: true'
        type: boolean
      concept_topics:
        description: 'Defines whether user categories will be reported for the document. Default: false'
        type: boolean
      detect_language:
        description: 'Switches on language detection feature. Default: true'
        type: boolean
      intentions:
        description: 'Switches on intentions detection feature. Default: false'
        type: boolean
      mentions:
        description: 'Defines whether mentions for themes and user/named entities will be reported for the document. Default: false'
        type: boolean
      model_sentiment:
        description: 'Switches on/off model-based sentiment feature. Default: false'
        type: boolean
      named_entities:
        description: 'Defines whether named entities will be reported for the document. Default: true'
        type: boolean
      opinions:
        description: 'Defines whether user/named entity opinions will be reported for the document. Default: false'
        type: boolean
      pos_types:
        description: Defines parts-of-speech which will be responded by the server
        enum:
          - All
          - Noun
          - Verb
          - Adjective
          - Determiner
          - Misc
          - Twitter
          - Chinese
        type: string
      query_topics:
        description: 'Defines whether queries will be reported for the document. Default: true'
        type: boolean
      relations:
        description: 'Defines whether user/named entity relations will be reported for the document. Default: false'
        type: boolean
      sentiment_phrases:
        description: 'Defines whether sentiment-bearing phrases will be reported for the document. Default: true'
        type: boolean
      summary_size:
        description: 'Limits the number of sentences for the document summary feature.  Default: 3'
        maximum: 20
        minimum: 0
        type: integer
      themes:
        description: 'Defines whether document and user/named entity themes will be reported for the document. Default: false'
        type: boolean
      user_entities:
        description: 'Defines whether user entities will be reported for the document. Default: true'
        type: boolean
    required:
      - auto_categories
      - concept_topics
      - detect_language
      - intentions
      - mentions
      - model_sentiment
      - named_entities
      - opinions
      - pos_types
      - query_topics
      - relations
      - sentiment_phrases
      - summary_size
      - themes
      - user_entities
  Configuration_InsertVersion:
    properties:
      alphanumeric_threshold:
        description: 'Defines the threshold of alphanumeric characters needed in the text in percent. Default: 80'
        maximum: 100
        minimum: 0
        type: integer
      auto_response:
        description: 'Defines whether or not the service should respond with processed results automatically. Default: false'
        type: boolean
      callback:
        description: Defines a callback URL for automatic data responding
        type: string
      collection:
        $ref: '#/definitions/ConfigurationCollectionSection'
        description: Includes options related to collection processing mode
      concept_topics_threshold:
        description: 'Defines concept topics detection threshold. Default: 0.45'
        format: double
        type: number
      document:
        $ref: '#/definitions/ConfigurationDocumentSection'
        description: Includes options related to document processing mode
      entities_threshold:
        description: 'Defines low threshold for evidence score of named and user entities to be reported in the output. Default: 55'
        type: integer
      is_primary:
        description: 'Identifies whether the current configuration is primary or not. Default: false'
        type: boolean
      language:
        description: 'Defines target language that will be used for task processing. Default: English'
        type: string
      name:
        description: Configuration name
        type: string
      one_sentence_mode:
        description: 'Defines whether or not service should use one sentence mode with less accurate grammar. Default: false'
        type: boolean
      process_html:
        description: 'Defines whether or not the service should clean up HTML tags before processing. Default: false'
        type: boolean
    required:
      - alphanumeric_threshold
      - auto_response
      - callback
      - collection
      - concept_topics_threshold
      - document
      - entities_threshold
      - is_primary
      - language
      - name
      - one_sentence_mode
      - process_html
  Configuration_ResponseVersion:
    properties:
      alphanumeric_threshold:
        description: 'Defines the threshold for alphanumeric characters in the text in percent. Default: 80'
        maximum: 100
        minimum: 0
        type: integer
      auto_response:
        description: 'Defines whether or not the service should respond with processed results automatically. Default: false'
        type: boolean
      callback:
        description: Defines a callback URL for automatic data responding
        type: string
      collection:
        $ref: '#/definitions/ConfigurationCollectionSection'
        description: Includes options related to collection processing mode
      concept_topics_threshold:
        description: 'Defines concept topics detection threshold. Default: 0.45'
        format: double
        type: number
      document:
        $ref: '#/definitions/ConfigurationDocumentSection'
        description: Includes options related to document processing mode
      entities_threshold:
        description: 'Defines low threshold for evidence score of named and user entities to be reported in the output. Default: 55'
        type: integer
      id:
        description: Unique configuration identifier
        type: string
      is_primary:
        description: 'Identifies whether the current configuration is primary or not. Default: false'
        type: boolean
      language:
        description: 'Defines target language that will be used for task processing. Default: English'
        type: string
      modified:
        description: The timestamp of the latest update of the record. Creation date of update didn't occur
        type: string
      name:
        description: Configuration name
        type: string
      one_sentence_mode:
        description: 'Defines whether or not service should use one sentence mode with less accurate grammar. Default: false'
        type: boolean
      process_html:
        description: 'Defines whether or not the service should clean up HTML tags before processing. Default: false'
        type: boolean
      template:
        description: Unique identifier of template configuration if copy operation is performing
        type: string
      version:
        description: 'Version of the vertical pack, for versioning purposes'
        type: string
    required:
      - alphanumeric_threshold
      - auto_response
      - callback
      - collection
      - concept_topics_threshold
      - document
      - entities_threshold
      - id
      - is_primary
      - language
      - modified
      - name
      - one_sentence_mode
      - process_html
      - template
      - version
  Configuration_UpdateVersion:
    properties:
      alphanumeric_threshold:
        description: 'Defines the threshold of alphanumeric characters needed in the text in percent. Default: 80'
        maximum: 100
        minimum: 0
        type: integer
      auto_response:
        description: 'Defines whether or not the service should respond with processed results automatically. Default: false'
        type: boolean
      callback:
        description: Defines a callback URL for automatic data responding
        type: string
      collection:
        $ref: '#/definitions/ConfigurationCollectionSection'
        description: Includes options related to collection processing mode
      concept_topics_threshold:
        description: 'Defines concept topics detection threshold. Default: 0.45'
        format: double
        type: number
      document:
        $ref: '#/definitions/ConfigurationDocumentSection'
        description: Includes options related to document processing mode
      entities_threshold:
        description: 'Defines low threshold for evidence score of named and user entities to be reported in the output. Default: 55'
        type: integer
      id:
        description: Unique configuration identifier
        type: string
      is_primary:
        description: 'Identifies whether the current configuration is primary or not. Default: false'
        type: boolean
      language:
        description: 'Defines target language that will be used for task processing. Default: English'
        type: string
      name:
        description: Configuration name
        type: string
      one_sentence_mode:
        description: 'Defines whether or not service should use one sentence mode with less accurate grammar. Default: false'
        type: boolean
      process_html:
        description: 'Defines whether or not the service should clean up HTML tags before processing. Default: false'
        type: boolean
    required:
      - alphanumeric_threshold
      - auto_response
      - callback
      - collection
      - concept_topics_threshold
      - document
      - entities_threshold
      - id
      - is_primary
      - language
      - name
      - one_sentence_mode
      - process_html
  Details:
    properties:
      is_imperative:
        description: Represents whether sentence (group of words) is imperative or not
        type: boolean
      is_polar:
        description: Represents whether or not sentence content contains sentiment polarity
        type: boolean
      words:
        description: Returns list of words grouped by the parent sentence
        items:
          $ref: '#/definitions/Word'
        type: array
    required:
      - is_imperative
      - is_polar
      - words
  Document:
    properties:
      id:
        description: Up to 32 symbols unique identifier of document assigned and tracked by client.
        type: string
      job_id:
        description: Specific marker of incoming job that can be used then for documents retrieving
        type: string
      metadata:
        $ref: '#/definitions/JSON'
        description: Free form metadata object(JSON) attached to the certain document
      tag:
        description: Any text of up to 50 characters used like marker.
        type: string
      text:
        description: Document text that needs to be analyzed by the service.
        type: string
    required:
      - id
      - job_id
      - metadata
      - tag
      - text
  DocumentAnalyticData:
    properties:
      auto_categories:
        description: Auto-generated categories applicable for the document
        items:
          $ref: '#/definitions/AutoCategory'
        type: array
      config_id:
        description: Unique configuration identifier. Usually 36 alphanumeric characters
        type: string
      details:
        description: Returns sentences from the original document with POS tags within
        items:
          $ref: '#/definitions/Details'
        type: array
      entities:
        description: Returns the named entities and user defined entities from the text
        items:
          $ref: '#/definitions/Entity'
        type: array
      id:
        description: Unique document identifier. Can be up to 36 alphanumeric characters
        type: string
      intentions:
        description: Returns intentions list detected by the engine
        items:
          $ref: '#/definitions/Intention'
        type: array
      job_id:
        description: 'Specific marker of a job document belongs to, can be used for documents ordering on client side'
        type: string
      language:
        description: Determined language of source text
        type: string
      language_score:
        description: The percentage score of the best match of language among detected languages
        format: double
        type: number
      metadata:
        $ref: '#/definitions/JSON'
        description: Free form metadata object(JSON) attached to the certain document
      model_sentiment:
        $ref: '#/definitions/ModelSentiment'
        description: Returns details of model-based sentiment analysis for the document
      opinions:
        description: Returns the list of opinions extracted from the source text
        items:
          $ref: '#/definitions/Opinion'
        type: array
      phrases:
        description: Returns sentiment-bearing phrases of the document
        items:
          $ref: '#/definitions/Phrase'
        type: array
      relations:
        description: Returns relations which represent a connection between one or more Entity objects
        items:
          $ref: '#/definitions/Relation'
        type: array
      sentiment_polarity:
        description: 'Verbal representation of sentiment score. Can be "negative", "positive" or "neutral"'
        enum:
          - negative
          - positive
          - neutral
        type: string
      sentiment_score:
        description: A sentiment analysis of the document text
        format: double
        type: number
      source_text:
        description: Original source text passed by client for this document
        type: string
      status:
        description: Status of the document
        enum:
          - queued
          - processed
          - failed
        type: string
      summary:
        description: A summary of the document text
        type: string
      taxonomy:
        description: Returns the taxonomy determined for the text
        items:
          $ref: '#/definitions/Topic'
        type: array
      themes:
        description: Returns themes of the document
        items:
          $ref: '#/definitions/Theme'
        type: array
      topics:
        description: Returns the concept and query defined topics determined for the text
        items:
          $ref: '#/definitions/Topic'
        type: array
    required:
      - auto_categories
      - config_id
      - details
      - entities
      - id
      - intentions
      - job_id
      - language
      - language_score
      - metadata
      - model_sentiment
      - opinions
      - phrases
      - relations
      - sentiment_polarity
      - sentiment_score
      - source_text
      - status
      - summary
      - taxonomy
      - themes
      - topics
  Entity:
    properties:
      count:
        description: The count of occurrences of the entity across the documents
        minimum: 0
        type: integer
      entity_type:
        description: 'Type of the entity (Company, Person, Place, Product, etc.)'
        type: string
      label:
        description: 'Descriptive label for the entity, if applicable'
        type: string
      mentions:
        description: Returns the genuine forms of entity mentioned across the documents
        items:
          $ref: '#/definitions/Mention'
        type: array
      negative_count:
        description: The count of negative occurrences of the entity across the documents
        minimum: 0
        type: integer
      neutral_count:
        description: The count of neutral occurrences of the entity across the documents
        minimum: 0
        type: integer
      positive_count:
        description: The count of positive occurrences of the entity across the documents
        minimum: 0
        type: integer
      title:
        description: Normalized form of the entity. It is the normalized entity title
        type: string
      type:
        description: Type of the entity; can be either “named” or “user” (reserved for future usage)
        enum:
          - named
          - user
        type: string
    required:
      - count
      - entity_type
      - label
      - mentions
      - negative_count
      - neutral_count
      - positive_count
      - title
      - type
  Entity_InsertVersion:
    properties:
      label:
        description: 'Descriptive label for the entity, e.g. Wikipedia URL'
        type: string
      name:
        description: Entity name
        type: string
      normalized:
        description: Normalized form of the entity. Will replace entity name in the output
        type: string
      type:
        description: 'Type of the entity (Company, Person, any custom type)'
        type: string
    required:
      - label
      - name
      - normalized
      - type
  Entity_ResponseVersion:
    properties:
      id:
        description: Unique user entity identifier
        type: string
      label:
        description: 'Descriptive label for the entity, e.g. Wikipedia URL'
        type: string
      modified:
        description: The timestamp of the latest update of the record. Creation date of update didn't occur
        type: string
      name:
        description: Entity name
        type: string
      normalized:
        description: Normalized form of the entity. Will replace entity name in the output
        type: string
      type:
        description: 'Type of the entity (Company, Person, any custom type)'
        type: string
    required:
      - id
      - label
      - modified
      - name
      - normalized
      - type
  Entity_UpdateVersion:
    properties:
      id:
        description: Unique user entity identifier
        type: string
      label:
        description: 'Descriptive label for the entity, e.g. Wikipedia URL'
        type: string
      name:
        description: Entity name
        type: string
      normalized:
        description: Normalized form of the entity. Will replace entity name in the output
        type: string
      type:
        description: 'Type of the entity (Company, Person, any custom type)'
        type: string
    required:
      - id
      - label
      - name
      - normalized
      - type
  Facet:
    properties:
      attributes:
        description: Returns the attributes associated with this facet
        items:
          $ref: '#/definitions/Attribute'
        type: array
      count:
        description: The count of occurrences of the facet in the text
        minimum: 0
        type: integer
      label:
        description: The text of the facet
        type: string
      mentions:
        description: Returns genuine forms of facet mentioned across the documents
        items:
          $ref: '#/definitions/Mention'
        type: array
      negative_count:
        description: The count of negative occurrences of the facet across the documents
        minimum: 0
        type: integer
      neutral_count:
        description: The count of neutral occurrences of the facet across the documents
        minimum: 0
        type: integer
      positive_count:
        description: The count of positive occurrences of the facet across the documents
        minimum: 0
        type: integer
    required:
      - attributes
      - count
      - label
      - mentions
      - negative_count
      - neutral_count
      - positive_count
  Feature:
    properties:
      detailed_mode:
        $ref: '#/definitions/FeatureDetailedModeSection'
        description: Includes detailed mode output for certain language
      discovery_mode:
        $ref: '#/definitions/FeatureDiscoveryModeSection'
        description: Includes discovery mode output for certain language
      html_processing:
        description: Represents whether HTML processing supported for certain language or not
        type: boolean
      id:
        description: Unique language identifier
        type: string
      language:
        description: Represents language following options relevant to
        type: string
      one_sentence_mode:
        description: Considers entire text as one sentence and uses optimized chunker for short content like tweets.
        type: boolean
      settings:
        $ref: '#/definitions/FeatureSettingsSection'
        description: Includes analysis adjustment options for certain language
      templates:
        $ref: '#/definitions/FeatureTemplateSection'
        description: Includes all existing templates
    required:
      - detailed_mode
      - discovery_mode
      - html_processing
      - id
      - language
      - one_sentence_mode
      - settings
      - templates
  FeatureDetailedModeSection:
    properties:
      auto_categories:
        description: Represents whether auto-categories of entities supported for certain language or not
        type: boolean
      entity_opinions:
        description: Represents whether opinions of entities supported for certain language or not
        type: boolean
      entity_relations:
        description: Represents whether relations of entities supported for certain language or not
        type: boolean
      intentions:
        description: Represents whether intentions detection supported for certain language or not
        type: boolean
      language_detection:
        description: Represents whether language detection feature supported or not
        type: boolean
      mentions:
        description: Represents whether mentions for themes and entities supported for certain language or not
        type: boolean
      model_sentiment:
        description: Represents whether model-based sentiment supported for certain language or not
        type: boolean
      named_entities:
        description: Represents whether named entities extraction supported for certain language or not
        type: boolean
      pos_tagging:
        description: Represents whether POS tagging supported for certain language or not
        type: boolean
      queries:
        description: Represents whether queries of entities supported for certain language or not
        type: boolean
      sentiment:
        description: Represents whether sentiment detection supported for certain language or not
        type: boolean
      sentiment_phrases:
        description: Represents whether sentiment phrases detection supported for certain language or not
        type: boolean
      summarization:
        description: Represents whether summarization supported for certain language or not
        type: boolean
      taxonomy:
        description: Represents whether taxonomy feature supported for certain language or not
        type: boolean
      themes:
        description: Represents whether document and entity themes supported for certain language or not
        type: boolean
      user_categories:
        description: Represents whether user categories of entities supported for certain language or not
        type: boolean
      user_entities:
        description: Represents whether user entities extraction supported for certain language or not
        type: boolean
    required:
      - auto_categories
      - entity_opinions
      - entity_relations
      - intentions
      - language_detection
      - mentions
      - model_sentiment
      - named_entities
      - pos_tagging
      - queries
      - sentiment
      - sentiment_phrases
      - summarization
      - taxonomy
      - themes
      - user_categories
      - user_entities
  FeatureDiscoveryModeSection:
    properties:
      attributes:
        description: Represents whether attributes of facets supported for certain language or not
        type: boolean
      concept_topics:
        description: Represents whether user categories extraction supported for certain language or not
        type: boolean
      facets:
        description: Represents whether facets detection supported for certain language or not
        type: boolean
      mentions:
        description: 'Represents whether mentions for facets, themes and entities supported for certain language or not'
        type: boolean
      named_entities:
        description: Represents whether named entities extraction supported for certain language or not
        type: boolean
      query_topics:
        description: Represents whether queries extraction supported for certain language or not
        type: boolean
      taxonomy:
        description: Represents whether taxonomy feature supported for certain language or not
        type: boolean
      themes:
        description: Represents whether themes extraction supported for certain language or not
        type: boolean
      user_entities:
        description: Represents whether user entities extraction supported for certain language or not
        type: boolean
    required:
      - attributes
      - concept_topics
      - facets
      - mentions
      - named_entities
      - query_topics
      - taxonomy
      - themes
      - user_entities
  FeatureSettingsSection:
    properties:
      blacklist:
        description: Represents whether blacklist feature supported for certain language or not
        type: boolean
      concept_topics:
        description: Represents whether user categories definition supported for certain language or not
        type: boolean
      query_topics:
        description: Represents whether queries definition supported for certain language or not
        type: boolean
      sentiment_phrases:
        description: Represents whether sentiment-bearing phrases adjustmment supported for certain language or not
        type: boolean
      taxonomy:
        description: Represents whether taxonomy feature supported for certain language or not
        type: boolean
      user_entities:
        description: Represents whether user entities definition supported for certain language or not
        type: boolean
    required:
      - blacklist
      - concept_topics
      - query_topics
      - sentiment_phrases
      - taxonomy
      - user_entities
  FeatureTemplateSection:
    properties:
      config_id:
        description: Unique identifier of configuration associated with the vertical pack. Required for cloning
        type: string
      description:
        description: 'Verbal description of template features, belonging to domain area, etc.'
        type: string
      id:
        description: Unique document identifier. Can be up to 36 alphanumeric characters
        type: string
      is_free:
        description: Shows whether Vertical pack is free or requires subscription
        type: boolean
      language:
        description: The language supported by the vertical pack
        type: string
      name:
        description: Name of the vertical pack
        type: string
      type:
        description: 'The type of the vertical pack, can be either "vertical-pack" or "language-default"'
        enum:
          - language-default
          - vertical-pack
        type: string
      version:
        description: 'Version of the vertical pack, for versioning purposes.'
        type: string
    required:
      - config_id
      - description
      - id
      - is_free
      - language
      - name
      - type
      - version
  Intention:
    properties:
      evidence_phrase:
        description: The phrase which expressed the intention
        type: string
      type:
        description: 'The classification of the intention detected (buy, quit, etc.)'
        type: string
      what:
        description: The object of the intention (if detected)
        type: string
      who:
        description: The author of the intention (if detected)
        type: string
    required:
      - evidence_phrase
      - type
      - what
      - who
  JSON: {}
  Location:
    properties:
      index:
        description: Document index within collection where the mention appeared
        type: integer
      length:
        description: The length of the mention in bytes
        type: integer
      offset:
        description: The amount of bytes offset in the original text before the start of the mention
        type: integer
    required:
      - index
      - length
      - offset
  Mention:
    properties:
      is_negated:
        description: Indicates whether or not the mention has been negated
        type: boolean
      label:
        description: The text of the attribute mention
        type: string
      locations:
        description: List of coordinates of the mentions found within the collection
        items:
          $ref: '#/definitions/Location'
        type: array
      negating_phrase:
        description: 'If the mention has been negated, this gives the negating phrase'
        type: string
    required:
      - is_negated
      - label
      - locations
      - negating_phrase
  ModelSentiment:
    properties:
      mixed_score:
        description: Mixed sentiment score associated with the document
        format: double
        type: number
      model_name:
        description: Name of the sentiment model used for scoring
        type: string
      negative_score:
        description: Negative (probable negative score) sentiment score associated with the document
        format: double
        type: number
      neutral_score:
        description: Neutral (probable neutral score) sentiment score associated with the document
        format: double
        type: number
      positive_score:
        description: Positive (probable positive score) sentiment score associated with the document
        format: double
        type: number
      sentiment_polarity:
        description: 'Verbal representation of sentiment score that matches the best on the document. Can be "negative", "positive" or "neutral"'
        enum:
          - negative
          - positive
          - neutral
        type: string
    required:
      - mixed_score
      - model_name
      - negative_score
      - neutral_score
      - positive_score
      - sentiment_polarity
  Opinion:
    properties:
      quotation:
        description: The text of the expressed opinion
        type: string
      sentiment_polarity:
        description: 'Verbal representation of sentiment score. Can be "negative", "positive" or "neutral"'
        enum:
          - negative
          - positive
          - neutral
        type: string
      sentiment_score:
        description: The sentiment score associated with the opinion
        format: double
        type: number
      speaker:
        description: An entity title identifying the author of the opinion
        format: float
        type: number
      topic:
        description: 'An entity title identifying the subject of the opinion, if applicable'
        type: string
      type:
        description: Type of opinion according to extracted entity
        enum:
          - named
          - user
        type: string
    required:
      - quotation
      - sentiment_polarity
      - sentiment_score
      - speaker
      - topic
      - type
  Phrase:
    properties:
      intensifying_phrase:
        description: 'If the phrase has been intensified, this gives the intensifying phrase'
        type: string
      is_intensified:
        description: Specifies whether the phrase has been intensified or not
        type: boolean
      is_negated:
        description: Specifies whether the phrase has been negated or not
        type: boolean
      length:
        description: The length of the phrase in bytes
        type: integer
      negating_phrase:
        description: 'If the phrase has been negated, this gives the negating phrase'
        type: string
      offset:
        description: The amount of bytes offset in the original text before the start of the phrase
        type: integer
      sentiment_polarity:
        description: 'Verbal representation of sentiment score. Can be "negative", "positive" or "neutral"'
        enum:
          - negative
          - positive
          - neutral
        type: string
      sentiment_score:
        description: The sentiment score associated with this phrase
        format: double
        type: number
      title:
        description: The text of the sentiment-bearing phrase
        type: string
      type:
        description: Type of phrase; can be either "possible" or "detected" value
        type: string
    required:
      - intensifying_phrase
      - is_intensified
      - is_negated
      - length
      - negating_phrase
      - offset
      - sentiment_polarity
      - sentiment_score
      - title
      - type
  Phrase_InsertVersion:
    properties:
      name:
        description: Sentiment-bearing phrase name
        type: string
      weight:
        description: Sentiment-bearing phrase weight
        format: float
        type: number
    required:
      - name
      - weight
  Phrase_ResponseVersion:
    properties:
      id:
        description: Unique sentiment-bearing phrase identifier
        type: string
      modified:
        description: The timestamp of the latest update of the record. Creation date of update didn't occur
        type: string
      name:
        description: Sentiment-bearing phrase name
        type: string
      weight:
        description: Sentiment-bearing phrase weight
        format: float
        type: number
    required:
      - id
      - modified
      - name
      - weight
  Phrase_UpdateVersion:
    properties:
      id:
        description: Unique sentiment-bearing phrase identifier
        type: string
      name:
        description: Sentiment-bearing phrase name
        type: string
      weight:
        description: Sentiment-bearing phrase weight
        format: float
        type: number
    required:
      - id
      - name
      - weight
  Query_InsertVersion:
    properties:
      name:
        description: Query name
        type: string
      query:
        description: Boolean query used for content categorization
        type: string
    required:
      - name
      - query
  Query_ResponseVersion:
    properties:
      id:
        description: Unique query identifier
        type: string
      modified:
        description: The timestamp of the latest update of the record. Creation date of update didn't occur
        type: string
      name:
        description: Query name
        type: string
      query:
        description: Boolean query used for content categorization
        type: string
    required:
      - id
      - modified
      - name
      - query
  Query_UpdateVersion:
    properties:
      id:
        description: Unique query identifier
        type: string
      name:
        description: Query name
        type: string
      query:
        description: Boolean query used for content categorization
        type: string
    required:
      - id
      - name
      - query
  Relation:
    properties:
      confidence_score:
        description: A measure of confidence in the relationship extraction
        format: float
        type: number
      entities:
        description: Returns entities which presents parent relationship
        items:
          $ref: '#/definitions/RelationEntity'
        type: array
      extra:
        description: Extra information that has been extracted about the relationship
        type: string
      relation_type:
        description: A label describing the nature of the relationship
        type: string
      type:
        description: Type of relation according to extracted entities
        enum:
          - named
          - user
        type: string
    required:
      - confidence_score
      - entities
      - extra
[...]
