swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: RecoveryServicesClient
  version: '2016-06-01'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/current/specification/recoveryservices/resource-manager/Microsoft.RecoveryServices/2016-06-01/vaultusages.json'
      version: '2.0'
  x-providerName: azure.com
  x-serviceName: recoveryservices-vaultusages
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account.
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  ApiVersion:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  ResourceGroupName:
    description: The name of the resource group where the recovery services vault is present.
    in: path
    name: resourceGroupName
    required: true
    type: string
    x-ms-parameter-location: method
  SubscriptionId:
    description: The subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
  VaultName:
    description: The name of the recovery services vault.
    in: path
    name: vaultName
    required: true
    type: string
    x-ms-parameter-location: method
paths:
  '/Subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.RecoveryServices/vaults/{vaultName}/usages':
    get:
      deprecated: false
      description: Fetches the usages of the vault.
      operationId: Usages_ListByVaults
      parameters:
        - $ref: '#/parameters/SubscriptionId'
        - $ref: '#/parameters/ApiVersion'
        - $ref: '#/parameters/ResourceGroupName'
        - $ref: '#/parameters/VaultName'
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/VaultUsageList'
      tags:
        - VaultUsages
      x-ms-pageable: {}
definitions:
  NameInfo:
    description: The name of usage.
    properties:
      localizedValue:
        description: Localized value of usage.
        type: string
      value:
        description: Value of usage.
        type: string
    type: object
  VaultUsage:
    description: Usages of a vault.
    properties:
      currentValue:
        description: Current value of usage.
        format: int64
        type: integer
      limit:
        description: Limit of usage.
        format: int64
        type: integer
      name:
        $ref: '#/definitions/NameInfo'
        description: Name of usage.
      nextResetTime:
        description: Next reset time of usage.
        format: date-time
        type: string
      quotaPeriod:
        description: Quota period of usage.
        type: string
      unit:
        description: Unit of the usage.
        enum:
          - Count
          - Bytes
          - Seconds
          - Percent
          - CountPerSecond
          - BytesPerSecond
        type: string
        x-ms-enum:
          modelAsString: true
          name: UsagesUnit
    type: object
  VaultUsageList:
    description: Usage for vault.
    properties:
      value:
        description: The list of usages for the given vault.
        items:
          $ref: '#/definitions/VaultUsage'
        type: array
    type: object
