openapi: 3.0.0
servers:
  - description: Production server
    url: https://api.probely.com
info:
  contact:
    email: support@probely.com
    name: Probely Support
    url: https://probely.com
  description: |
    Probely is a Web Vulnerability Scanning suite for Agile Teams. It provides
    continuous scanning of your Web Applications and lets you efficiently
    manage the lifecycle of the vulnerabilities found, in a sleek and
    intuitive ~~web interface~~ API.

    ## Quick-Start

    ### Authentication

    To use the API, you first need to create a token (API Key).
    To create a token, select a target from the drop-down list, go to the
    "Settings" page, and click on the "Integrations" tab.

    Write a name for the API Key. For example, if you want to use the API Key
    for travis,
    you could name it "travis". In this example, we chose "**example.com_key**"

    ![Creating API key][1]

      [1]: assets/qs/create_api_key_1.png



    The API key was created successfully:

    ![API key created][2]

      [2]: assets/qs/create_api_key_2.png


    On every request, you need to pass this token in the authorization header,
    like this:


    ```yaml
    Authorization: JWT eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJBRlNJQlp
    3elFsMDEiLCJ1c2VybmFtZSI6IkNIZ2tkSUROdzV0NSJ9.90UwiPGS2hlvgOLktFU0LfKuatNKm
    mEP79u17VnqT9M
    ```


    **WARNING: Treat this token as a password. With this token, you have the
    power to fully manage the target.**

    In the following examples, the token will be named as *PROBELY_AUTH_TOKEN*.


    ### Scan target

    First let's view our target list:

    ```bash
    curl https://api.probely.com/targets/ \
      -X GET \
      -H "Content-Type: application/json" \
      -H "Authorization: JWT PROBELY_AUTH_TOKEN"
    ```


    From the results, we need the **target id**:

    ```json
    {
       "count":1,
       "page_total":1,
       "page":1,
       "length":10,
       "results":[
          {
             "id":"AxtkqTE0v3E-",
             "name":"test-site",
             "desc":"",
             "url":"https://test-site.example.com",
             "settings":
                "(...)"
             ,
             "stack":
                "(...)"
             ,
             "verified":true,
             "(...)": "(...)"
          }
       ]
    }
    ```


    Now we can send a request to start a scan on target id **AxtkqTE0v3E-**

    ```bash
    curl https://api.probely.com/targets/AxtkqTE0v3E-/scan_now/ \
      -X POST \
      -H "Content-Type: application/json" \
      -H "Authorization: JWT PROBELY_AUTH_TOKEN"
    ```


    And we get a response saying that the scan is scheduled: the status is **queued**, and we've got a **scan id**:

    ```json
    {
       "changed":"2017-08-01T13:37:00.843339Z",
       "started":null,
       "completed":null,
       "mediums":0,
       "changed_by":
        "(...)"
       ,
       "highs":0,
       "status":"queued",
       "id":"S6dOMPn0SnoH",
       "created_by":
        "(...)"
       ,
       "target":
        "(...)"
       ,
       "created":"2017-08-01T13:37:00.843339Z",
       "lows":0
    }
    ```


    Using the scan id **S6dOMPn0SnoH**, we can pool the scan status:

    ```bash
    curl https://api.probely.com/targets/AxtkqTE0v3E-/scans/S6dOMPn0SnoH/ \
      -X GET \
      -H "Content-Type: application/json" \
      -H "Authorization: JWT PROBELY_AUTH_TOKEN"
    ```


    And we get a response saying that the scan status is now **started**:

    ```json
    {
       "id":"S6dOMPn0SnoH",
       "changed":"2017-08-01T13:38:12.623650Z",
       "started":null,
       "completed":null,
       "mediums":0,
       "changed_by":
        "(...)"
       ,
       "highs":0,
       "status":"started",
       "created_by":
        "(...)"
       ,
       "target":
        "(...)"
       ,
       "created":"2017-08-01T13:37:00.843339Z",
       "lows":0
    }
    ```


    The possible statuses are:

    | Status | Name | Description |
    | ------ | ---- | ----------- |
    | queued | Queued | The scan is queued to start |
    | started | Started | The scan is currently running |
    | under_review | Under Review | The scan is complete but has some findings under review |
    | completed | Completed | The scan is complete |
    | completed_with_errors | Completed with errors | The scan is complete even after getting some error(s) |
    | failed | Failed | The scan failed |
    | canceled | Canceled | The scan was canceled |
    | canceling | Canceling | The scan is being canceled |


    During the scan, the keys "lows", "mediums", and "highs" will be updated
    with the findings, as they are being found.

    After we get either the status **completed** or **completed_with_errors**,
    we can view the findings.


    ### Get vulnerabilities

    Using the previous scan id **S6dOMPn0SnoH**, we can get the scan results:

    ```bash
    curl https://api.probely.com/targets/AxtkqTE0v3E-/scans/S6dOMPn0SnoH/ \
      -X GET \
      -H "Content-Type: application/json" \
      -H "Authorization: JWT PROBELY_AUTH_TOKEN"
    ```

    We get a response saying that the scan status is now **completed**, and
    that **45** vulnerabilities were found. **14** low, **11** medium and
    **20** high:

    ```json
    {
       "id":"S6dOMPn0SnoH",
       "target":
        "(...)"
       ,
       "status":"completed",
       "started":"2017-08-01T13:37:12.623650Z",
       "completed":"2017-08-01T14:17:48.559514Z",
       "lows":14,
       "mediums":11,
       "highs":20,
       "created":"2017-08-01T13:37:00.843339Z",
       "created_by":
        "(...)"
       ,
       "changed":"2017-08-01T14:17:48.559514Z",
       "changed_by":
        "(...)"
    }
    ```

    You can now view the results of this scan, or the target findings.


    Let's start with the scan results:

    ```bash
    curl https://api.probely.com/targets/AxtkqTE0v3E-/findings/?scan=S6dOMPn0SnoH&page=1 \
      -X GET \
      -H "Content-Type: application/json" \
      -H "Authorization: JWT PROBELY_AUTH_TOKEN"
    ```

    ```json
    {
       "count":45,
       "page_total":5,
       "page":1,
       "length":10,
       "results":[
          {
             "id":79,
             "target":
              "(...)"
             ,
             "scans":
              "(...)"
             ,
             "labels":
              "(...)"
             ,
             "fix":"To fix an SQL Injection in PHP, you should use Prepared Statements. Prepared Statements can be thought of as a kind of compiled template for the SQL that an application wants to run, that can be customized using variable parameters.\n\nPHP's PDO extension supports Prepared Statements, so that's probably your best option.\n\nIn the example below you can see the use of prepared statements. Variables ```$username``` and ```$hashedPassword``` come from user input.\n\n```\n$stmt = $dbg->prepare(\"SELECT id, name FROM users\n                       WHERE username=? AND password=?\");\n$stmt->bindParam(1, $username);\n$stmt->bindParam(2, $hashedPassword);\nif ($stmt->execute()) {\n\t$user = $stmt->fetch();\n\tif ($user) {\n\t\t$_SESSION['authID'] = $user['id'];\n\t\techo \"Hello \" . $user['name'];\n\t} else {\n\t\techo \"Invalid Login\";\n\t}\n}\n```  \n\nAs an added bonus, if you're executing the same query several times, then it'll be even faster than when you're not using prepared statements. This is because when using prepared statements, the query needs to be parsed (prepared) only once, but can be executed multiple times with the same or different parameters. \n",
             "requests":[
                {
                   "request":"(...)",
                   "response":"(...)"
                },
                {
                   "request":"(...)",
                   "response":"(...)"
                }
             ],
             "evidence":null,
             "extra":"",
             "definition":{
                "id":"xnV8PJVmSoLS",
                "name":"SQL Injection",
                "desc":"SQL Injections are the most common form of injections because SQL databases are very popular in dynamic web applications. This vulnerability allows an attacker to tamper existing SQL queries performed by the web application. Depending on the queries, the attacker might be able to access, modify or even destroy data from the database.\n\nSince databases are commonly used to store private data, such as authentication information, personal user data and site content, if an attacker gains access to it, the consequences are typically very severe, ranging from defacement of the web application to users data leakage or loss, or even full control of the web application or database server.",
             },
             "url":"http://test-site.example.com/login.php",
             "path":"login.php",
             "method":"post",
             "parameter":"username",
             "value":"",
             "params":{
                "username":[
                   "probely'"
                ],
                "password":[
                   "probely"
                ]
             },
             "reporter":
              "(...)"
             ,
             "assignee":null,
             "state":"notfixed",
             "severity":30,
             "last_found":"2017-08-01T14:03:56.207794Z",
             "changed":"2017-08-01T14:03:56.207794Z",
             "changed_by":
              "(...)"
             ,
             "comment":""
          },
          "(...)"
       ]
    }
    ```

    You can also view all the target findings, which will show all the findings
    that are not yet fixed. \\
    The structure is similar to the previous result.

    ```bash
    curl https://api.probely.com/targets/AxtkqTE0v3E-/findings/ \
      -X GET \
      -H "Content-Type: application/json" \
      -H "Authorization: JWT PROBELY_AUTH_TOKEN"
    ```


    ### Get vulnerability details

    You can also get details for a particular finding in a target. \\
    In this example we will get the details for the same finding as in the previous
    section:

    ```bash
    curl https://api.probely.com/targets/AxtkqTE0v3E-/findings/79/ \
      -X GET \
      -H "Content-Type: application/json" \
      -H "Authorization: JWT PROBELY_AUTH_TOKEN"
    ```


    This will result on the same information, but just for this particular finding:

    ```json
    {
       "id":79,
       "target":
        "(...)"
       ,
       "scans":
        "(...)"
       ,
       "labels":
        "(...)"
       ,
       "fix":"To fix an SQL Injection in PHP, you should use Prepared Statements. Prepared Statements can be thought of as a kind of compiled template for the SQL that an application wants to run, that can be customized using variable parameters.\n\nPHP's PDO extension supports Prepared Statements, so that's probably your best option.\n\nIn the example below you can see the use of prepared statements. Variables ```$username``` and ```$hashedPassword``` come from user input.\n\n```\n$stmt = $dbg->prepare(\"SELECT id, name FROM users\n                       WHERE username=? AND password=?\");\n$stmt->bindParam(1, $username);\n$stmt->bindParam(2, $hashedPassword);\nif ($stmt->execute()) {\n\t$user = $stmt->fetch();\n\tif ($user) {\n\t\t$_SESSION['authID'] = $user['id'];\n\t\techo \"Hello \" . $user['name'];\n\t} else {\n\t\techo \"Invalid Login\";\n\t}\n}\n```  \n\nAs an added bonus, if you're executing the same query several times, then it'll be even faster than when you're not using prepared statements. This is because when using prepared statements, the query needs to be parsed (prepared) only once, but can be executed multiple times with the same or different parameters. \n",
       "requests":[
          {
             "request":"(...)",
             "response":"(...)"
          },
          {
             "request":"(...)",
             "response":"(...)"
          }
       ],
       "evidence":null,
       "extra":"",
       "definition":{
          "id":"xnV8PJVmSoLS",
          "name":"SQL Injection",
          "desc":"SQL Injections are the most common form of injections because SQL databases are very popular in dynamic web applications. This vulnerability allows an attacker to tamper existing SQL queries performed by the web application. Depending on the queries, the attacker might be able to access, modify or even destroy data from the database.\n\nSince databases are commonly used to store private data, such as authentication information, personal user data and site content, if an attacker gains access to it, the consequences are typically very severe, ranging from defacement of the web application to users data leakage or loss, or even full control of the web application or database server.",
       },
       "url":"http://test-site.example.com/login.php",
       "path":"login.php",
       "method":"post",
       "parameter":"username",
       "value":"",
       "params":{
          "username":[
             "probely'"
          ],
          "password":[
             "probely"
          ]
       },
       "reporter":
        "(...)"
       ,
       "assignee":null,
       "state":"notfixed",
       "severity":30,
       "last_found":"2017-08-01T14:03:56.207794Z",
       "changed":"2017-08-01T14:03:56.207794Z",
       "changed_by":
        "(...)"
       ,
       "comment":""
    }
    ```

    ## Concepts

    The short version is that you run *scans* on *targets*, and *findings* are
    created for any issue that is found.
    However, there are a few more concepts that must be explained in order to
    get a complete picture of how Probely works.
    We will spend the next few sections detailing the most important concepts.


    ### Target

    A *target* defines the scope of a scan, what will and won't be included
    in the scan plan.
    This is done by filling a *target*'s *site* and *assets*.

    The entry point for the web application (and authentication) is setup
    in the *target*'s *site*.

    In modern web applications, you are probably loading resources from
    multiple domains.
    A single page app, for example, will usualy load the page from one domain
    and make AJAX requests to another.
    This is what *assets* are for: they specify what domains our scanner should
    follow and create requests for.


    ### Site
    A URL is probably not the only thing you will need to setup when scannning your application.
    Does the application have an authenticated area? Does it use basic auth?
    Does it expect a certain cookie or header?
    These parameters are all configured in the *target*'s *site*.


    We need to ensure that only allowed web applications are scanned.
    Therefore, we must verify that you have control of any site you wish to include.
    This can be done by:
      * Placing a file on a well-known location, on the site's server;
      * Creating specific DNS records.


    ### Asset

    An *asset* is very similar to a *site*. The difference is that it is a domain instead
    of a URL. Additionally, an *asset* has no login or basic auth support.
    You can still have custom cookies and headers per *asset*.

    As with the *site*, you will need to prove an *asset*'s ownership. We have added some
    rules to make your life easier, if you already have verified
    a *site* and the domains match, the validation is fast-tracked.

    ### Scans

    This is what you're here for.
    After configuring your *target*, you will want to run *scans* against it.
    You can either start a one off scan, or schedule one for later - recurring
    or not.

    During the *scan*, we will spider and run several modules to check for
    security issues, which we call *findings*.
    You can check the *findings* even before a scan ends.
    If everything goes well, the scan will complete and that is it.

    With some *findings*, our automated processes may have difficulties
    determining if it is a false positive or a legitimate issue.
    In these instances, a scan will be marked as under review, and we will
    further analyze the finding before making a decision.
    We will only show findings that, for some degree of confidence, are true
    positives.
    A finding that we are not sure of will never be displayed.

    As much as we try to prevent it, a *scan* (or a sub-module) can malfunction.
    If this happens, a *scan* is marked as:
      * "failed": the problem was irrecoverable;
      * "completed with errors": some module failed but the scan itself completed.

    During a scan, we try to determine what *frameworks* you are using
    and add this information to the *site* and *asset* objects discussed
    previously.


    ### Findings

    The last core concept is the *finding*, this is a security issue that
    we have found during our scans.
    If the same issue is found in a new scan it will not open a new finding but
    update the previous.

    A *finding* will have a lot of information about the issue.
    Namely, where it was found, URL, insertion point (e.g. cookie), parameter,
    and method.
    Evidence we gathered, and the full request and response that we used.
    Sugestions of how to go about fixing it.
    A full description of the vulnerability is also present in the
    *definition* property.
    We also assign a severity and calculate the CVSS score for each.

    Besides all this, there are also actions that you can perform on a *finding*.
    You can assign it to one user, leave comments for your team or add labels,
    and reduce or increase the severity.

    If you don't plan on fixing the *finding* and accept the risk, or you think
    we reported a false positive, you can mark the finding to reflect that.
  title: Probely Developers
  version: 1.2.0
  x-apisguru-categories:
    - monitoring
  x-logo:
    altText: Probely
    url: https://api.apis.guru/v2/cache/logo/https_developers.probely.com_assets_logo_dark.png
  x-origin:
    - format: openapi
      url: https://developers.probely.com/openapi.yaml
      version: "3.0"
  x-providerName: probely.com
security:
  - jwtAuth: []
tags:
  - description: |
      Login users and verify token. For login we make use of [JSON web tokens](https://jwt.io/).
    name: Login
  - description: |
      In Probely, a target is what defines what is being scanned.
      Connected to a target there are two other objects: a site and a list of
      assets.

      The site is the where the scan starts and will usually be the main
      entry point for your web application.

      As things are today, a single URL is not enough to describe all of the
      resources an application uses.
      For example, a modern single page web application might load the main
      page from one domain and make AJAX requests to one or more other domains.
      This where assets come in, they are used to add extra domains that
      our scanner should follow.
    name: Targets
  - description: |
      Every target has a site object, it contains the main entry URL for scans.
      Other settings are also connected to a site like login parameters,
      basic auth, and custom headers and cookies.
    name: Site
  - description: |
      Other resources a scan required access to (e.g. the domain where an
      API is being served) should be added here.
      You can also configure custom headers and cookies for each asset.
    name: Assets
  - description: |
      Start and manage scans against the target.
      You can also produce reports and access the list of scanned endpoints.
    name: Scans
  - description: |
      You can schedule scans for the future as a one off, or on a recurring
      basis.
    name: Scheduled
  - description: |
      Findings are security issues found during scans.
      We try hard to present valid findings only. We give as much information
      as possible to help you know exactly what to do, without having to
      resort to outside resources.

      Findings come with all the data we gathered during the scan, a
      suggestion on how to fix it, and a description of the vulnerability.
    name: Findings
  - description: |
      During the scans we run fingerprinters against the target and record the
      result on the site and assets.
      You can access our list of frameworks/software here.
    name: Frameworks
  - description: |
      You can add labels to findings to help you keep track of you development.
      Use these endpoints to manage your labels.
    name: Labels
  - description: |
      In Probely findings are connected to vulnerability definitions.
      This is how we keep track what type of vulnerability it is, it also
      includes a name and description.
    name: Vulnerabilities
  - description: |
      API keys allow you to perform operations without using your regular user.
      There are two endpoints for API keys:
        * one to create keys that can only access the current scope;
        * one that allows the user to perform operations like creating targets.
    name: API Keys
  - description: |
      Use these endpoints to reset a user's password.
    name: Password Reset
  - description: Manage self and other users.
    name: Users
  - description: Account management.
    name: Account
  - description: |
      Probely has several graphs and tables that it uses to
      display statistics of the current state of a target or account.
    name: Statistics
  - description: |
      If you only require a small number of active targets at a time but don't
      want to lose their history by deleting one to add another it is now
      possible to archive targets.
      This feature is still experimental, please contact our support if you
      are interested.
    name: Archive
  - description: |
      Important events in your Probely account are recorded as events.
      An event is comprised of the resource acted on, when it occurred and
      what kind of event (ex: `target_created`).

      Besides fetching these events using their endpoints you are also able
      to receive them in real-time by registering webhooks.
      The event is sent to every registered webhook URL as JSON and an HTTP
      success status code (2XX) is expected in the response.
      In case a webhook fails it will be retried with an exponential back-off
      (maxing out at 4 hours) during 2 days, at the end of which an email is
      sent to the users informing of this failure.
      For security we suggest using an unique hard to guess identifier for the
      webhook:
      ```
      https://webhook.example.com/d69179e3b06549469817560c650be98f/
      ```
      Webhook URL's are required to be HTTPS.

      When registering a webhook according to the chosen endpoint you can
      receive any event for the account or only events for a single target.
      A target webhook will not receive `user_created`, `user_deleted` and
      `target_created` events and all events received pertain to the target
      the webhook was created for.
    name: Events
  - description: List available and installed integrations
    name: Integrations
  - description: |
      Receive slack notifications on Probely events.
    name: Slack Integration
  - description: |
      To start integrating Probely with Jira you will first need to add the
      Probely app to your Jira instance.
      Go to the marketplace, search for Probely and install the application.
      When prompted click the "Get Started" button and follow the steps described
      to connect both accounts.
      A short explanation of the sync options can be found
      [here](https://help.probely.com/integrations/jira-syncronization-settings).
    name: Jira Cloud Integration
  - description: |
      Find instructions on how to configure this integration for your Jira
      deployment [here](https://help.probely.com/integrations/how-to-integrate-probely-with-jira-server).
      A short explanation of the sync options can be found
      [here](https://help.probely.com/integrations/jira-syncronization-settings).
    name: Jira Server Integration
paths:
  /account/:
    get:
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Account"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: Retrieve account information
      tags:
        - Account
  /auth/obtain/:
    post:
      description: |
        The received token should be used for authenticated requests by including in the Authorization header as `Authorization: JWT <token>`.
      requestBody:
        $ref: "#/components/requestBodies/Login"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security: []
      summary: Authenticate user
      tags:
        - Login
  /auth/refresh/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/Token"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security: []
      summary: Replace token with a new one
      tags:
        - Login
  /auth/revoke/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/Token"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security: []
      summary: Revoke a token
      tags:
        - Login
  /auth/verify/:
    post:
      description: |
        Check for the validity of a user token.
      requestBody:
        $ref: "#/components/requestBodies/Token"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security: []
      summary: Verify a token
      tags:
        - Login
  /billing/:
    get:
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/Billing"
      summary: Retrieve billing information
      tags:
        - Account
    patch:
      requestBody:
        $ref: "#/components/requestBodies/Billing"
      responses:
        "200":
          $ref: "#/components/responses/Billing"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Partial update billing information
      tags:
        - Account
    put:
      requestBody:
        $ref: "#/components/requestBodies/Billing"
      responses:
        "200":
          $ref: "#/components/responses/Billing"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Update billing information
      tags:
        - Account
  /billing/actions/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/TargetIds"
      responses:
        "200":
          $ref: "#/components/responses/Action"
      summary: Action that should be taken to enable the selected targets
      tags:
        - Account
  /billing/estimate/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/Subscription"
      responses:
        "200":
          $ref: "#/components/responses/Invoice"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Estimate costs of updating a subscription
      tags:
        - Account
  /billing/subscribe/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/Subscription"
      responses:
        "200":
          $ref: "#/components/responses/Invoice"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Update a subscription
      tags:
        - Account
  /check/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/EmailToken"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
      security: []
      summary: Check validity of password reset token
      tags:
        - Password Reset
  /enterprise/auth/obtain/:
    post:
      description: |
        The received token should be used for authenticated requests by including in the Authorization header as `Authorization: JWT <token>`.
      requestBody:
        $ref: "#/components/requestBodies/Login"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security: []
      summary: Enterprise user authentication
      tags:
        - Login
  /enterprise/auth/refresh/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/Token"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security: []
      summary: Enterprise token refresh
      tags:
        - Login
  /enterprise/auth/revoke/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/Token"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security: []
      summary: Enterprise token revokation
      tags:
        - Login
  /enterprise/auth/verify/:
    post:
      description: |
        Check for the validity of a user token.
      requestBody:
        $ref: "#/components/requestBodies/Token"
      responses:
        "200":
          $ref: "#/components/responses/Token"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      security: []
      summary: Enterprise token verification
      tags:
        - Login
  /events/:
    get:
      responses:
        "200":
          $ref: "#/components/responses/EventList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: List account events
      tags:
        - Events
  "/events/{id}/":
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Event"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve account event
      tags:
        - Events
  /frameworks/:
    get:
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/FrameworkList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: List frameworks
      tags:
        - Frameworks
  "/frameworks/{id}/":
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Framework"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve framework
      tags:
        - Frameworks
  /integrations/:
    get:
      responses:
        "200":
          $ref: "#/components/responses/IntegrationsAccount"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Integrations available and installed in the account
      tags:
        - Integrations
  /integrations/jira-cloud/projects/:
    get:
      responses:
        "200":
          $ref: "#/components/responses/JiraProjectList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: List Jira Projects
      tags:
        - Jira Cloud Integration
  "/integrations/jira-cloud/projects/{project_id}/issue_types/":
    get:
      parameters:
        - $ref: "#/components/parameters/jiraProjectId"
      responses:
        "200":
          $ref: "#/components/responses/JiraIssueTypeList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve project issue types
      tags:
        - Jira Cloud Integration
  "/integrations/jira-cloud/projects/{project_id}/issue_types/{issue_type_id}/priorities/":
    get:
      parameters:
        - $ref: "#/components/parameters/jiraProjectId"
        - $ref: "#/components/parameters/jiraIssueTypeId"
      responses:
        "200":
          $ref: "#/components/responses/JiraIssuePriorityList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve issue priorities
      tags:
        - Jira Cloud Integration
  "/integrations/jira-cloud/projects/{project_id}/issue_types/{issue_type_id}/status/":
    get:
      parameters:
        - $ref: "#/components/parameters/jiraProjectId"
        - $ref: "#/components/parameters/jiraIssueTypeId"
      responses:
        "200":
          $ref: "#/components/responses/JiraIssueStatusList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve issue statuses
      tags:
        - Jira Cloud Integration
  /integrations/jira-server/projects/:
    get:
      responses:
        "200":
          $ref: "#/components/responses/JiraProjectList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: List Jira Projects
      tags:
        - Jira Server Integration
  "/integrations/jira-server/projects/{project_id}/issue_types/":
    get:
      parameters:
        - $ref: "#/components/parameters/jiraProjectId"
      responses:
        "200":
          $ref: "#/components/responses/JiraIssueTypeList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve project issue types
      tags:
        - Jira Server Integration
  "/integrations/jira-server/projects/{project_id}/issue_types/{issue_type_id}/priorities/":
    get:
      parameters:
        - $ref: "#/components/parameters/jiraProjectId"
        - $ref: "#/components/parameters/jiraIssueTypeId"
      responses:
        "200":
          $ref: "#/components/responses/JiraIssuePriorityList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve issue priorities
      tags:
        - Jira Server Integration
  "/integrations/jira-server/projects/{project_id}/issue_types/{issue_type_id}/status/":
    get:
      parameters:
        - $ref: "#/components/parameters/jiraProjectId"
        - $ref: "#/components/parameters/jiraIssueTypeId"
      responses:
        "200":
          $ref: "#/components/responses/JiraIssueStatusList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve issue statuses
      tags:
        - Jira Server Integration
  /keys/:
    get:
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/APIKeyList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: List API keys allowed to operate on account
      tags:
        - API Keys
    post:
      requestBody:
        $ref: "#/components/requestBodies/APIKey"
      responses:
        "201":
          $ref: "#/components/responses/APIKey"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Create account API key
      tags:
        - API Keys
  "/keys/{id}/":
    delete:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Delete account API key
      tags:
        - API Keys
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/APIKey"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve account API key
      tags:
        - API Keys
  /labels/:
    get:
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/LabelList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: List labels
      tags:
        - Labels
    post:
      requestBody:
        $ref: "#/components/requestBodies/Label"
      responses:
        "201":
          $ref: "#/components/responses/Label"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: Create label
      tags:
        - Labels
  "/labels/{id}/":
    delete:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: Delete label
      tags:
        - Labels
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Label"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve framework
      tags:
        - Labels
    patch:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Label"
      responses:
        "200":
          $ref: "#/components/responses/Label"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Partial update
      tags:
        - Labels
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Label"
      responses:
        "200":
          $ref: "#/components/responses/Label"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update label
      tags:
        - Labels
  /plans/:
    get:
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/PlanList"
      security: []
      summary: Subscription plans
      tags:
        - Plan
  /profile/:
    get:
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/User"
      summary: User data
      tags:
        - Users
  /profile/change_password/:
    post:
      description: |
        Our password policy requires a minimum password length of 10 chars with
        at least one symbol or number.
      requestBody:
        $ref: "#/components/requestBodies/PasswordChange"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: Change user password
      tags:
        - Users
  /reset/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/Email"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
      security: []
      summary: Send reset password email
      tags:
        - Password Reset
  /setpassword/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/PasswordSet"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
      security: []
      summary: |
        Reset password after asking for a reset (with the token sent by email).
      tags:
        - Password Reset
  /target-actions/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/TargetIds"
      responses:
        "200":
          $ref: "#/components/responses/Actions"
      summary: Available actions for the selected targets
      tags:
        - Account
  /targets/:
    get:
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/TargetList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: List targets
      tags:
        - Targets
    post:
      requestBody:
        $ref: "#/components/requestBodies/Target"
      responses:
        "201":
          $ref: "#/components/responses/Target"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Create target
      tags:
        - Targets
  /targets/activate/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/TargetIds"
      responses:
        "200":
          $ref: "#/components/responses/TargetIds"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Activate targets
      tags:
        - Archive
  /targets/all/average_fix_time/:
    get:
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/AverageFixTime"
      summary: Average fix time graph data (all targets)
      tags:
        - Statistics
  /targets/all/needs_attention_pie/:
    get:
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/NeedsAttentionPie"
      summary: Targets with open vulnerabilities pie chart data
      tags:
        - Statistics
  /targets/all/needs_attention_top/:
    get:
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/NeedsAttentionTop"
      summary: Targets with open vulnerabilities
      tags:
        - Statistics
  /targets/all/risk_trend/:
    get:
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/RiskTrend"
      summary: Risk trend graph data (all targets)
      tags:
        - Statistics
  /targets/all/scans/:
    get:
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/scanStarted"
        - $ref: "#/components/parameters/scanStatus"
      responses:
        "200":
          $ref: "#/components/responses/ScanList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: List scans for all targets
      tags:
        - Scans
  /targets/all/scheduledscans/expanded/:
    get:
      parameters:
        - $ref: "#/components/parameters/pageLength"
      responses:
        "200":
          $ref: "#/components/responses/ScheduledArray"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: List scheduled scans for all targets expanding recurrence
      tags:
        - Scheduled
  /targets/all/severity_trend/:
    get:
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/SeverityTrend"
      summary: Severity trend graph data (all targets)
      tags:
        - Statistics
  /targets/all/top_vulns/:
    get:
      parameters: []
      responses:
        "200":
          $ref: "#/components/responses/TopVulns"
      summary: Top 5 vulnerabilities (all targets).
      tags:
        - Statistics
  /targets/archive/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/TargetIds"
      responses:
        "200":
          $ref: "#/components/responses/TargetIds"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Archive targets
      tags:
        - Archive
  /targets/archived/:
    post:
      requestBody:
        $ref: "#/components/requestBodies/TargetIds"
      responses:
        "200":
          $ref: "#/components/responses/TargetList"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: List archived targets
      tags:
        - Archive
  "/targets/{id}/":
    delete:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Delete target
      tags:
        - Targets
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Target"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
        "500":
          $ref: "#/components/responses/InternalServerError"
      summary: Retrieve target
      tags:
        - Targets
    patch:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Target"
      responses:
        "200":
          $ref: "#/components/responses/Target"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Partial update target
      tags:
        - Targets
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Target"
      responses:
        "200":
          $ref: "#/components/responses/Target"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update target
      tags:
        - Targets
  "/targets/{target_id}/assets/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/AssetList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: List target's assets
      tags:
        - Assets
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/Asset"
      responses:
        "201":
          $ref: "#/components/responses/Asset"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Create new asset
      tags:
        - Assets
  "/targets/{target_id}/assets/{id}/":
    delete:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Delete asset
      tags:
        - Assets
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Asset"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve asset
      tags:
        - Assets
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Asset"
      responses:
        "200":
          $ref: "#/components/responses/Asset"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Partial update assets
      tags:
        - Assets
    put:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Asset"
      responses:
        "200":
          $ref: "#/components/responses/Asset"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update asset
      tags:
        - Assets
  "/targets/{target_id}/assets/{id}/verify/":
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/SiteVerify"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Verify asset ownership
      tags:
        - Assets
  "/targets/{target_id}/average_fix_time/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/AverageFixTime"
      summary: Average vulnerability trend graph data
      tags:
        - Statistics
  "/targets/{target_id}/events/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/EventList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: List target events
      tags:
        - Events
  "/targets/{target_id}/events/{id}/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Event"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve target event
      tags:
        - Events
  "/targets/{target_id}/findings/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/scanId"
        - $ref: "#/components/parameters/findingSeverity"
        - $ref: "#/components/parameters/findingState"
        - $ref: "#/components/parameters/assignee"
        - $ref: "#/components/parameters/label"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/FindingList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: List target findings
      tags:
        - Findings
  "/targets/{target_id}/findings/bulk/report/":
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/FindingBulkIds"
      responses:
        "200":
          description: |
            Token to retrieve report.
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Finding report
      tags:
        - Findings
  "/targets/{target_id}/findings/bulk/retest/":
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/FindingBulkRetest"
      responses:
        "200":
          description: |
            List of assessment IDs.
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Bulk retest findings
      tags:
        - Findings
  "/targets/{target_id}/findings/bulk/update/":
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/FindingBulkUpdate"
      responses:
        "200":
          $ref: "#/components/responses/Success"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Bulk update findings
      tags:
        - Findings
  "/targets/{target_id}/findings/report/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/findingBulkReport"
      responses:
        "200":
          $ref: "#/components/responses/Report"
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve finding report PDF format
      tags:
        - Findings
  "/targets/{target_id}/findings/{id}/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Finding"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve finding
      tags:
        - Findings
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Finding"
      responses:
        "200":
          $ref: "#/components/responses/Finding"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Partial update finding
      tags:
        - Findings
    put:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Finding"
      responses:
        "200":
          $ref: "#/components/responses/Finding"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update finding
      tags:
        - Findings
  "/targets/{target_id}/findings/{id}/integrations/jira-cloud/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/JiraCloudFinding"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve Jira Cloud finding configuration
      tags:
        - Jira Cloud Integration
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/JiraCloudFinding"
      responses:
        "200":
          $ref: "#/components/responses/JiraCloudFinding"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update Jira Cloud finding configuration
      tags:
        - Jira Cloud Integration
    put:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/JiraCloudFinding"
      responses:
        "200":
          $ref: "#/components/responses/JiraCloudFinding"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update Jira Cloud finding configuration
      tags:
        - Jira Cloud Integration
  "/targets/{target_id}/findings/{id}/integrations/jira-server/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/JiraServerFinding"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve Jira Server finding configuration
      tags:
        - Jira Server Integration
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/JiraServerFinding"
      responses:
        "200":
          $ref: "#/components/responses/JiraServerFinding"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update Jira Server finding configuration
      tags:
        - Jira Server Integration
    put:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/JiraServerFinding"
      responses:
        "200":
          $ref: "#/components/responses/JiraServerFinding"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update Jira Server finding configuration
      tags:
        - Jira Server Integration
  "/targets/{target_id}/findings/{id}/log/":
    get:
      description: Finding activity log.
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Activity"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Finding activity log.
      tags:
        - Findings
  "/targets/{target_id}/findings/{id}/retest/":
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "201":
          $ref: "#/components/responses/Scan"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retest finding
      tags:
        - Findings
  "/targets/{target_id}/integrations/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/IntegrationsTarget"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Integrations available and installed for the target
      tags:
        - Integrations
  "/targets/{target_id}/integrations/jira-cloud/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/JiraCloudScope"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve Jira Cloud Target configuration
      tags:
        - Jira Cloud Integration
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/JiraCloudScope"
      responses:
        "200":
          $ref: "#/components/responses/JiraCloudScope"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update Jira Cloud target configuration
      tags:
        - Jira Cloud Integration
    put:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/JiraCloudScope"
      responses:
        "200":
          $ref: "#/components/responses/JiraCloudScope"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update Jira Cloud target configuration
      tags:
        - Jira Cloud Integration
  "/targets/{target_id}/integrations/jira-server/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/JiraServerScope"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve Jira Server Target configuration
      tags:
        - Jira Server Integration
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/JiraServerScope"
      responses:
        "200":
          $ref: "#/components/responses/JiraServerScope"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update Jira Server target configuration
      tags:
        - Jira Server Integration
    put:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/JiraServerScope"
      responses:
        "200":
          $ref: "#/components/responses/JiraServerScope"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update Jira Server target configuration
      tags:
        - Jira Server Integration
  "/targets/{target_id}/integrations/slack/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/Slack"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve slack integration data
      tags:
        - Slack Integration
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/Slack"
      responses:
        "200":
          $ref: "#/components/responses/Slack"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update slack integration data
      tags:
        - Slack Integration
    put:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/Slack"
      responses:
        "200":
          $ref: "#/components/responses/Slack"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update slack integration data
      tags:
        - Slack Integration
  "/targets/{target_id}/keys/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/APIKeyList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: List target specific API keys
      tags:
        - API Keys
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/APIKey"
      responses:
        "201":
          $ref: "#/components/responses/APIKey"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Create target API key
      tags:
        - API Keys
  "/targets/{target_id}/keys/{id}/":
    delete:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Delete target API key
      tags:
        - API Keys
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/APIKey"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve target API key
      tags:
        - API Keys
  "/targets/{target_id}/risk_trend/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/RiskTrend"
      summary: Risk trend graph data
      tags:
        - Statistics
  "/targets/{target_id}/scan_now/":
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/ScanOptions"
      responses:
        "200":
          $ref: "#/components/responses/Scan"
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Start a scan on the target
      tags:
        - Scans
  "/targets/{target_id}/scans/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
        - $ref: "#/components/parameters/scanStarted"
        - $ref: "#/components/parameters/scanStatus"
      responses:
        "200":
          $ref: "#/components/responses/ScanList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: List scans
      tags:
        - Scans
  "/targets/{target_id}/scans/dates/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/ScanDates"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Dates where scans have ocurred
      tags:
        - Scans
  "/targets/{target_id}/scans/retrieve_page/":
    get:
      description: Given a date return the page number
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/scanDate"
      responses:
        "200":
          $ref: "#/components/responses/DatePage"
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Scan page
      tags:
        - Scans
  "/targets/{target_id}/scans/{id}/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Scan"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve scan
      tags:
        - Scans
  "/targets/{target_id}/scans/{id}/cancel/":
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Scan"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Cancel running scan
      tags:
        - Scans
  "/targets/{target_id}/scans/{id}/endpoints/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/EndpointCSV"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Scan endpoints file
      tags:
        - Scans
  "/targets/{target_id}/scans/{id}/report/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Report"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Scan report PDF, using the report type specified for the target
      tags:
        - Scans
  "/targets/{target_id}/scans/{id}/report/default/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Report"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Scan report PDF, using the default report type
      tags:
        - Scans
  "/targets/{target_id}/scans/{id}/report/owasp/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Report"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Scan report PDF, using the OWASP report type
      tags:
        - Scans
  "/targets/{target_id}/scans/{id}/report/pci/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Report"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Scan report PDF, using the PCI report type
      tags:
        - Scans
  "/targets/{target_id}/scheduledscans/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/ScheduledList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: List scheduled scans
      tags:
        - Scheduled
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/Scheduled"
      responses:
        "201":
          $ref: "#/components/responses/Scheduled"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Create new scheduled scan
      tags:
        - Scheduled
  "/targets/{target_id}/scheduledscans/expanded/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/pageLength"
      responses:
        "200":
          $ref: "#/components/responses/ScheduledArray"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: List scheduled scans expanding recurrence
      tags:
        - Scheduled
  "/targets/{target_id}/scheduledscans/{id}/":
    delete:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Delete
      tags:
        - Scheduled
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Scheduled"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve a scheduled scan
      tags:
        - Scheduled
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Scheduled"
      responses:
        "200":
          $ref: "#/components/responses/Scheduled"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Partial update
      tags:
        - Scheduled
    put:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Scheduled"
      responses:
        "200":
          $ref: "#/components/responses/Scheduled"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update a scheduled scan
      tags:
        - Scheduled
  "/targets/{target_id}/severity_trend/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/SeverityTrend"
      summary: Severity trend graph data.
      tags:
        - Statistics
  "/targets/{target_id}/site/":
    get:
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/Site"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve target's site
      tags:
        - Site
    patch:
      deprecated: true
      description: Note that the URL can only be set once.
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/Site"
      responses:
        "200":
          $ref: "#/components/responses/Site"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Partial update target's site
      tags:
        - Site
    put:
      deprecated: true
      description: Note that the URL can only be set once.
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/Site"
      responses:
        "200":
          $ref: "#/components/responses/Site"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update target's site
      tags:
        - Site
  "/targets/{target_id}/site/verify/":
    post:
      deprecated: true
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/SiteVerify"
      responses:
        "200":
          $ref: "#/components/responses/SuccessMessage"
        "400":
          $ref: "#/components/responses/BadRequestErrorMessage"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Verify site ownership
      tags:
        - Site
  "/targets/{target_id}/top_vulns/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/TopVulns"
      summary: Top 5 vulnerabilities
      tags:
        - Statistics
  "/targets/{target_id}/webhooks/":
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
      responses:
        "200":
          $ref: "#/components/responses/WebhookList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: List target webhooks
      tags:
        - Events
    post:
      parameters:
        - $ref: "#/components/parameters/targetId"
      requestBody:
        $ref: "#/components/requestBodies/Webhook"
      responses:
        "201":
          $ref: "#/components/responses/Webhook"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Create new target webhook
      tags:
        - Events
  "/targets/{target_id}/webhooks/{id}/":
    delete:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Delete target webhook
      tags:
        - Events
    get:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Webhook"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve target webhook
      tags:
        - Events
    patch:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Webhook"
      responses:
        "200":
          $ref: "#/components/responses/Webhook"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Partial update target webhook
      tags:
        - Events
    put:
      parameters:
        - $ref: "#/components/parameters/targetId"
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Webhook"
      responses:
        "200":
          $ref: "#/components/responses/Webhook"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update target webhook
      tags:
        - Events
  /users/:
    get:
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/UserList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: List users
      tags:
        - Users
    post:
      requestBody:
        $ref: "#/components/requestBodies/User"
      responses:
        "201":
          $ref: "#/components/responses/User"
      summary: Create/Reactivate a user.
      tags:
        - Users
  "/users/{id}/":
    delete:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Deactivate a user
      tags:
        - Users
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/User"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Retrieve user
      tags:
        - Users
    patch:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/User"
      responses:
        "200":
          $ref: "#/components/responses/User"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Partial update user
      tags:
        - Users
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/User"
      responses:
        "200":
          $ref: "#/components/responses/User"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update user
      tags:
        - Users
  /vulnerability_definitions/:
    get:
      parameters:
        - $ref: "#/components/parameters/page"
        - $ref: "#/components/parameters/pageLength"
        - $ref: "#/components/parameters/ordering"
        - $ref: "#/components/parameters/search"
      responses:
        "200":
          $ref: "#/components/responses/VulnerabilityDefinitionList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: List vulnerability definitions
      tags:
        - Vulnerabilities
  "/vulnerability_definitions/{id}/":
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/VulnerabilityDefinition"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
      summary: Retrieve vulnerability definition
      tags:
        - Vulnerabilities
  /webhooks/:
    get:
      responses:
        "200":
          $ref: "#/components/responses/WebhookList"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: List account webhooks
      tags:
        - Events
    post:
      requestBody:
        $ref: "#/components/requestBodies/Webhook"
      responses:
        "201":
          $ref: "#/components/responses/Webhook"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Create new account webhook
      tags:
        - Events
  "/webhooks/{id}/":
    delete:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "204":
          $ref: "#/components/responses/NoContent"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Delete account webhook
      tags:
        - Events
    get:
      parameters:
        - $ref: "#/components/parameters/id"
      responses:
        "200":
          $ref: "#/components/responses/Webhook"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
      summary: Retrieve account webhook
      tags:
        - Events
    patch:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Webhook"
      responses:
        "200":
          $ref: "#/components/responses/Webhook"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Partial update account webhook
      tags:
        - Events
    put:
      parameters:
        - $ref: "#/components/parameters/id"
      requestBody:
        $ref: "#/components/requestBodies/Webhook"
      responses:
        "200":
          $ref: "#/components/responses/Webhook"
        "400":
          $ref: "#/components/responses/BadRequestError"
        "401":
          $ref: "#/components/responses/UnauthorizedError"
        "403":
          $ref: "#/components/responses/ForbiddenError"
        "404":
          $ref: "#/components/responses/NotFoundError"
      summary: Update account webhook
      tags:
        - Events
components:
  parameters:
    assignee:
      description: Filter by assignee ids
      in: query
      name: assignee
      required: false
      schema:
        items:
          type: string
        type: array
    findingBulkReport:
      description: Token received from the finding report endpoint.
      in: query
      name: token
      required: true
      schema:
        type: string
    findingSeverity:
      description: Filter by finding severity
      in: query
      name: severity
      required: false
      schema:
        $ref: "#/components/schemas/findingSeverity"
    findingState:
      description: Filter by finding states
      in: query
      name: state
      required: false
      schema:
        $ref: "#/components/schemas/findingState"
    id:
      description: Object Id
      in: path
      name: id
      required: true
      schema:
        $ref: "#/components/schemas/id"
    jiraIssueTypeId:
      description: Jira issue type id
      in: path
      name: issue_type_id
      required: true
      schema:
        example: "10003"
        readOnly: true
        type: string
    jiraProjectId:
      description: Jira Project Id
      in: path
      name: project_id
      required: true
      schema:
        example: "10001"
        readOnly: true
        type: string
    label:
      description: Filter by finding labels
      in: query
      name: label
      required: false
      schema:
        items:
          type: string
        type: array
    ordering:
      description: |
        Which field to use when ordering the results, prefix with `-` to invert ordering.
      in: query
      name: ordering
      required: false
      schema:
        example: -changed
        type: string
    page:
      description: Page number within the paginated result set
      in: query
      name: page
      required: false
      schema:
        example: 1
        type: integer
    pageLength:
      description: Number of results to return per page
      in: query
      name: length
      required: false
      schema:
        default: 10
        type: integer
    scanDate:
      description: Date
      in: query
      name: date
      required: true
      schema:
        format: date
        type: string
    scanId:
      description: Filter by scan ids
      in: query
      name: scan
      required: false
      schema:
        items:
          type: string
        type: array
    scanStarted:
      description: Filter by scan start dates
      in: query
      name: started
      required: false
      schema:
        items:
          format: date
          type: string
        type: array
    scanStatus:
      description: Filter by scan statuses
      in: query
      name: status
      required: false
      schema:
        $ref: "#/components/schemas/scanStatus"
    search:
      description: Search term
      in: query
      name: search
      required: false
      schema:
        type: string
    targetId:
      description: Target id
      in: path
      name: target_id
      required: true
      schema:
        $ref: "#/components/schemas/id"
  requestBodies:
    APIKey:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/APIKey"
      required: true
    Asset:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Asset"
      required: true
    Billing:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Billing"
      required: true
    Email:
      content:
        application/json:
          schema:
            properties:
              email:
                $ref: "#/components/schemas/username"
            required:
              - email
            type: object
      required: true
    EmailToken:
      content:
        application/json:
          schema:
            properties:
              token:
                $ref: "#/components/schemas/emailToken"
            required:
              - token
            type: object
      required: true
    Finding:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FindingUpdate"
      required: true
    FindingBulkIds:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FindingBulkIds"
      required: true
    FindingBulkRetest:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FindingBulkRetest"
      required: true
    FindingBulkUpdate:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/FindingBulkUpdate"
      required: true
    JiraCloudFinding:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/JiraFinding"
      required: true
    JiraCloudScope:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/JiraScope"
      required: true
    JiraServerFinding:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/JiraFinding"
      required: true
    JiraServerScope:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/JiraScope"
      required: true
    Label:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Label"
      required: true
    Login:
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Login"
[...]
