swagger: "2.0"
schemes:
  - https
host: sheetlabs.com
basePath: /IND/rv
info:
  contact:
    email: ab.techwriter@gmail.com
    x-twitter: sheetlabs
  description: >
    # Introduction

    This API returns information about all of the verses in Rig Veda. The results are JSON objects that contain the name of the god, poet, and meter of the verses in Rig Veda, the category of the god and the poet, and the _mandal_ and _sukta_ number.


    The API uses the Swagger 2.0 specification.


    # Authentication

    This is an open API.


    # Rate limits

    Total monthly calls are limited to 10,000.
  license:
    name: Distributed under the MIT license
    url: https://opensource.org/licenses/MIT
  title: rv API
  version: "1.1"
  x-apisguru-categories:
    - open_data
  x-logo:
    altText: Indica logo
    url: https://twitter.com/sheetlabs/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/AninditaBasu/indica/master/rv_SDKs/rv.yaml
      version: "2.0"
  x-providerName: sheetlabs.com
  x-serviceName: rig-veda
externalDocs:
  description: Documentation
  url: https://aninditabasu.github.io/indica/
paths:
  /:
    get:
      responses:
        "200":
          description: Entries fetched
        "404":
          description: No entry found
      summary: Fetch all entries in this API
  /mandal:
    get:
      parameters:
        - description: Click to select the mandal number from the list.
          enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 6
            - 7
            - 8
            - 9
            - 10
          in: query
          name: mandal
          required: true
          type: integer
      responses:
        "200":
          description: Verses fetched.
        "404":
          description: No verses found.
      summary: Fetch all verses in a specific book (mandal)
  /meter:
    get:
      parameters:
        - description: The name of the meter. Wildcard characters allowed, for example \*tri*
          in: query
          name: meter
          required: true
          type: string
      responses:
        "200":
          description: Verses fetched.
        "404":
          description: Rig Veda does not have any verses in that meter.
      summary: Fetch all verses composed in a specific meter
  /sungby:
    get:
      parameters:
        - description: The name of the rishi. Wildcard characters allowed, for example \*mitra*
          in: query
          name: sungby
          required: true
          type: string
      responses:
        "200":
          description: Verses fetched.
        "404":
          description: No such rishi composed anything that went into the Rig Veda.
      summary: Fetch all verses composed by a specific rishi (poet)
  /sungbycategory:
    get:
      parameters:
        - description: Click to select from the list.
          enum:
            - animal
            - demon male
            - divine female
            - divine male
            - human female
            - human male
          in: query
          name: sungbycategory
          required: true
          type: string
      responses:
        "200":
          description: Verses fetched.
        "404":
          description: No such poet category exists in this API.
      summary: Fetch all verses composed by a specific category of poets
  /sungfor:
    get:
      parameters:
        - description: The name of the god, goddess, or object. Wildcard characters allowed, for example \*dra*
          in: query
          name: sungfor
          required: true
          type: string
      responses:
        "200":
          description: Verses fetched.
        "404":
          description: No such god or thing have verses in the Rig Veda composed in their honour.
      summary: Fetch all verses addressed to a specific god, human, or thing
  /sungforcategory:
    get:
      parameters:
        - description: Click to select from the list.
          enum:
            - abstract
            - animal
            - demon male
            - divine female
            - divine human
            - divine male
            - human couple
            - human female
            - human male
            - human unborn
            - object
            - plant
          in: query
          name: sungforcategory
          required: true
          type: string
      responses:
        "200":
          description: Verses fetched.
        "404":
          description: No such category exists in this API.
      summary: Fetch all verses composed for a specific category of god, human, or thing
