{
  "openapi": "3.1.0",
  "info": {
    "title": "Xquik API",
    "version": "1.0",
    "description": "REST API for X/Twitter automation, including tweet search, user lookup, timelines, posting workflows, webhooks, and media operations.",
    "contact": {
      "name": "Xquik",
      "url": "https://xquik.com",
      "email": "support@xquik.com"
    },
    "x-apisguru-categories": [
      "social"
    ],
    "x-logo": {
      "url": "https://xquik.com/icon.svg"
    },
    "x-origin": [
      {
        "format": "openapi",
        "url": "https://xquik.com/openapi.json",
        "version": "3.1"
      }
    ],
    "x-providerName": "xquik.com",
    "x-tags": [
      "X",
      "Twitter",
      "Social Media",
      "Automation",
      "Webhooks",
      "MCP"
    ]
  },
  "servers": [
    {
      "url": "https://xquik.com"
    }
  ],
  "x-service-info": {
    "categories": [
      "data"
    ],
    "docs": {
      "homepage": "https://xquik.com",
      "apiReference": "https://docs.xquik.com",
      "llms": "https://docs.xquik.com/llms.txt"
    }
  },
  "x-discovery": {
    "ownershipProofs": [
      "dns:xquik.com"
    ]
  },
  "security": [
    {
      "apiKey": []
    },
    {
      "oauthBearer": []
    }
  ],
  "tags": [
    {
      "name": "API Keys",
      "description": "API key management (session auth only)"
    },
    {
      "name": "Account",
      "description": "Account info and settings"
    },
    {
      "name": "Articles",
      "description": "Long-form X Article extraction"
    },
    {
      "name": "Communities",
      "description": "X Community info, members, and tweets"
    },
    {
      "name": "Composition",
      "description": "AI tweet composition, drafts, writing styles, and radar"
    },
    {
      "name": "Draws",
      "description": "Giveaway draws from tweet replies"
    },
    {
      "name": "Events",
      "description": "Activity events from monitored accounts"
    },
    {
      "name": "Extractions",
      "description": "Bulk data extraction (23 tool types)"
    },
    {
      "name": "Lists",
      "description": "X List followers, members, and tweets"
    },
    {
      "name": "Media",
      "description": "Media upload and download"
    },
    {
      "name": "Monitors",
      "description": "Real-time X account monitoring"
    },
    {
      "name": "Subscribe",
      "description": "Subscription, billing, and credits"
    },
    {
      "name": "Support",
      "description": "Support ticket management"
    },
    {
      "name": "Trends",
      "description": "Trending topics and hashtags by region"
    },
    {
      "name": "Tweets",
      "description": "Look up, search, and analyze individual tweets"
    },
    {
      "name": "Users",
      "description": "Look up, search, and explore user profiles and relationships"
    },
    {
      "name": "Webhooks",
      "description": "Webhook endpoint management and delivery"
    },
    {
      "name": "X Accounts",
      "description": "Connected X account management"
    },
    {
      "name": "X Write",
      "description": "X write actions (tweets, likes, follows, DMs)"
    }
  ],
  "paths": {
    "/api/v1/account": {
      "get": {
        "operationId": "getAccount",
        "summary": "Get account info",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Account info",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "plan",
                    "monitorsUsed",
                    "monitorsAllowed",
                    "monitorBilling"
                  ],
                  "properties": {
                    "plan": {
                      "type": "string",
                      "enum": [
                        "active",
                        "inactive"
                      ],
                      "example": "active"
                    },
                    "monitorsUsed": {
                      "type": "integer",
                      "example": 3
                    },
                    "monitorsAllowed": {
                      "type": "integer",
                      "deprecated": true,
                      "description": "Deprecated. Monitor slots are unlimited, so this is always Number.MAX_SAFE_INTEGER.",
                      "example": 9007199254740991
                    },
                    "monitorBilling": {
                      "type": "object",
                      "required": [
                        "activeDailyEstimate",
                        "activeHourlyBurn",
                        "creditsPerActiveMonitorDay",
                        "creditsPerActiveMonitorHour",
                        "eventsIncluded",
                        "instantCheckIntervalSeconds",
                        "unlimitedSlots"
                      ],
                      "properties": {
                        "activeDailyEstimate": {
                          "type": "string",
                          "description": "Estimated daily credits for currently active monitors.",
                          "example": "1500"
                        },
                        "activeHourlyBurn": {
                          "type": "string",
                          "description": "Credits charged each hour for currently active monitors.",
                          "example": "63"
                        },
                        "creditsPerActiveMonitorDay": {
                          "type": "string",
                          "description": "Estimated daily credits for 1 active instant monitor.",
                          "example": "500"
                        },
                        "creditsPerActiveMonitorHour": {
                          "type": "string",
                          "description": "Hourly credits charged for 1 active instant monitor.",
                          "example": "21"
                        },
                        "eventsIncluded": {
                          "type": "boolean",
                          "description": "Webhook and event deliveries are included in monitor billing.",
                          "example": true
                        },
                        "instantCheckIntervalSeconds": {
                          "type": "integer",
                          "description": "Active monitors check every 1 second.",
                          "example": 1
                        },
                        "unlimitedSlots": {
                          "type": "boolean",
                          "description": "Monitor slot count is unlimited.",
                          "example": true
                        }
                      }
                    },
                    "creditInfo": {
                      "type": "object",
                      "required": [
                        "balance",
                        "lifetimePurchased",
                        "lifetimeUsed",
                        "autoTopupEnabled",
                        "autoTopupAmountDollars",
                        "autoTopupThreshold"
                      ],
                      "properties": {
                        "balance": {
                          "type": "string",
                          "description": "Bigint string to preserve precision above Number.MAX_SAFE_INTEGER.",
                          "example": "50000"
                        },
                        "lifetimePurchased": {
                          "type": "string",
                          "description": "Total purchased credits as a bigint string.",
                          "example": "140000"
                        },
                        "lifetimeUsed": {
                          "type": "string",
                          "description": "Total consumed credits as a bigint string.",
                          "example": "90000"
                        },
                        "autoTopupEnabled": {
                          "type": "boolean",
                          "example": false
                        },
                        "autoTopupAmountDollars": {
                          "type": "number",
                          "description": "Dollar amount charged when automatic top-up runs.",
                          "example": 10
                        },
                        "autoTopupThreshold": {
                          "type": "string",
                          "description": "Bigint string threshold that triggers automatic top-up when enabled.",
                          "example": "50000"
                        }
                      },
                      "example": {
                        "balance": "50000",
                        "lifetimePurchased": "140000",
                        "lifetimeUsed": "90000",
                        "autoTopupEnabled": false,
                        "autoTopupAmountDollars": 10,
                        "autoTopupThreshold": "50000"
                      }
                    },
                    "xUsername": {
                      "type": "string",
                      "description": "Linked X username, omitted when no X account is connected.",
                      "example": "elonmusk"
                    }
                  }
                },
                "example": {
                  "plan": "active",
                  "monitorsUsed": 3,
                  "monitorsAllowed": 9007199254740991,
                  "monitorBilling": {
                    "activeDailyEstimate": "1500",
                    "activeHourlyBurn": "63",
                    "creditsPerActiveMonitorDay": "500",
                    "creditsPerActiveMonitorHour": "21",
                    "eventsIncluded": true,
                    "instantCheckIntervalSeconds": 1,
                    "unlimitedSlots": true
                  },
                  "creditInfo": {
                    "balance": "50000",
                    "lifetimePurchased": "140000",
                    "lifetimeUsed": "90000",
                    "autoTopupEnabled": false,
                    "autoTopupAmountDollars": 10,
                    "autoTopupThreshold": "50000"
                  },
                  "xUsername": "elonmusk"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "operationId": "updateAccount",
        "summary": "Update account locale",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Locale preference for the account.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "locale"
                ],
                "properties": {
                  "locale": {
                    "type": "string",
                    "enum": [
                      "en",
                      "tr",
                      "es"
                    ],
                    "example": "en"
                  }
                }
              },
              "example": {
                "locale": "en"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/account/x-identity": {
      "put": {
        "operationId": "setXIdentity",
        "summary": "Set linked X username",
        "tags": [
          "Account"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "X username to link to this account.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "X username without @",
                    "example": "elonmusk"
                  }
                }
              },
              "example": {
                "username": "elonmusk"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "X identity linked",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "success",
                    "xUsername"
                  ],
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "xUsername": {
                      "type": "string",
                      "example": "elonmusk"
                    }
                  }
                },
                "example": {
                  "success": true,
                  "xUsername": "elonmusk"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/api-keys": {
      "get": {
        "operationId": "listApiKeys",
        "summary": "List API keys",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "API key list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "keys"
                  ],
                  "properties": {
                    "keys": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ApiKey"
                      },
                      "example": []
                    }
                  }
                },
                "example": {
                  "keys": []
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createApiKey",
        "summary": "Create API key",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Optional display name for the new API key.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "My API Key"
                  }
                }
              },
              "example": {
                "name": "My API Key"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "fullKey",
                    "name",
                    "prefix",
                    "createdAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "42"
                    },
                    "fullKey": {
                      "type": "string",
                      "example": "xq_live_abc123def456"
                    },
                    "name": {
                      "type": "string",
                      "example": "My API Key"
                    },
                    "prefix": {
                      "type": "string",
                      "example": "xq_live_abc1"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-01-15T12:00:00Z"
                    }
                  }
                },
                "example": {
                  "id": "42",
                  "fullKey": "xq_live_abc123def456",
                  "name": "My API Key",
                  "prefix": "xq_live_abc1",
                  "createdAt": "2025-01-15T12:00:00Z"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "403": {
            "description": "API key limit reached",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "error",
                    "limit",
                    "message"
                  ],
                  "properties": {
                    "error": {
                      "type": "string",
                      "const": "api_key_limit_reached",
                      "example": "api_key_limit_reached"
                    },
                    "limit": {
                      "type": "integer",
                      "example": 100
                    },
                    "message": {
                      "type": "string",
                      "example": "API key limit reached. Delete an existing key first."
                    }
                  }
                },
                "example": {
                  "error": "api_key_limit_reached",
                  "limit": 100,
                  "message": "API key limit reached. Delete an existing key first."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/api-keys/{id}": {
      "delete": {
        "operationId": "revokeApiKey",
        "summary": "Revoke API key",
        "tags": [
          "API Keys"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/subscribe": {
      "post": {
        "operationId": "subscribe",
        "summary": "Get billing URL",
        "tags": [
          "Subscribe"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": false,
          "description": "Optional subscription tier to pre-select at checkout.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "tier": {
                    "type": "string",
                    "enum": [
                      "starter",
                      "pro",
                      "business"
                    ],
                    "description": "Subscription tier to pre-select.",
                    "example": "pro"
                  }
                }
              },
              "example": {
                "tier": "pro"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Billing URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "url",
                    "status",
                    "message"
                  ],
                  "properties": {
                    "url": {
                      "type": "string",
                      "format": "uri",
                      "example": "https://xquik.com/billing/session"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "checkout_created",
                        "already_subscribed",
                        "payment_issue"
                      ],
                      "example": "checkout_created"
                    },
                    "message": {
                      "type": "string",
                      "example": "Billing session created"
                    }
                  }
                },
                "example": {
                  "url": "https://xquik.com/billing/session",
                  "status": "checkout_created",
                  "message": "Billing session created"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/compose": {
      "post": {
        "operationId": "compose",
        "summary": "Compose, refine, or score a tweet",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Workflow step, topic, goal, and optional style parameters.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "step"
                ],
                "properties": {
                  "step": {
                    "type": "string",
                    "enum": [
                      "compose",
                      "refine",
                      "score"
                    ],
                    "description": "Workflow step",
                    "example": "compose"
                  },
                  "topic": {
                    "type": "string",
                    "description": "Tweet topic (compose, refine)",
                    "example": "AI trends in 2025"
                  },
                  "goal": {
                    "type": "string",
                    "enum": [
                      "engagement",
                      "followers",
                      "authority",
                      "conversation"
                    ],
                    "description": "Optimization goal",
                    "example": "engagement"
                  },
                  "draft": {
                    "type": "string",
                    "description": "Tweet draft text to evaluate (score)",
                    "example": "AI is changing everything. Here's why."
                  },
                  "tone": {
                    "type": "string",
                    "description": "Desired tone (refine)",
                    "example": "professional"
                  },
                  "styleUsername": {
                    "type": "string",
                    "description": "Cached style username for voice matching (compose)",
                    "example": "elonmusk"
                  },
                  "additionalContext": {
                    "type": "string",
                    "description": "Extra context or URLs (refine)",
                    "example": "https://x.com/elonmusk/status/1234567890"
                  },
                  "callToAction": {
                    "type": "string",
                    "description": "Desired call to action (refine)",
                    "example": "Follow for more"
                  },
                  "mediaType": {
                    "type": "string",
                    "enum": [
                      "photo",
                      "video",
                      "none"
                    ],
                    "description": "Media type (refine)",
                    "example": "none"
                  },
                  "hasLink": {
                    "type": "boolean",
                    "description": "Whether a link is attached (score)",
                    "example": false
                  },
                  "hasMedia": {
                    "type": "boolean",
                    "description": "Whether media is attached (score)",
                    "example": false
                  }
                }
              },
              "example": {
                "step": "compose",
                "topic": "AI trends in 2025",
                "goal": "engagement"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Composition result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "text": {
                      "type": "string",
                      "description": "Generated or refined tweet text",
                      "example": "AI is reshaping every industry. Here are 5 trends to watch in 2025."
                    },
                    "score": {
                      "type": "number",
                      "description": "Engagement score (0-100)",
                      "example": 78
                    },
                    "feedback": {
                      "type": "string",
                      "description": "AI feedback on the draft",
                      "example": "Strong hook. Consider adding a call to action."
                    },
                    "suggestions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Improvement suggestions",
                      "example": [
                        "Add a thread hook",
                        "Include a relevant hashtag"
                      ]
                    }
                  },
                  "additionalProperties": true
                },
                "example": {
                  "text": "AI is reshaping every industry. Here are 5 trends to watch in 2025.",
                  "score": 78,
                  "feedback": "Strong hook. Consider adding a call to action.",
                  "suggestions": [
                    "Add a thread hook",
                    "Include a relevant hashtag"
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/drafts": {
      "get": {
        "operationId": "listDrafts",
        "summary": "List saved drafts",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "name": "afterCursor",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination"
          }
        ],
        "responses": {
          "200": {
            "description": "Draft list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "drafts",
                    "hasMore"
                  ],
                  "properties": {
                    "drafts": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Draft"
                      },
                      "example": []
                    },
                    "hasMore": {
                      "type": "boolean",
                      "example": false
                    },
                    "nextCursor": {
                      "type": "string",
                      "example": "abc123"
                    }
                  }
                },
                "example": {
                  "drafts": [],
                  "hasMore": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createDraft",
        "summary": "Save a tweet draft",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Draft text with optional topic and optimization goal.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "text"
                ],
                "properties": {
                  "text": {
                    "type": "string",
                    "example": "AI is the future of productivity"
                  },
                  "topic": {
                    "type": "string",
                    "example": "AI trends"
                  },
                  "goal": {
                    "type": "string",
                    "enum": [
                      "engagement",
                      "followers",
                      "authority",
                      "conversation"
                    ],
                    "example": "engagement"
                  }
                }
              },
              "example": {
                "text": "AI is the future of productivity",
                "topic": "AI trends",
                "goal": "engagement"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Draft created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftDetail"
                },
                "example": {
                  "id": "42",
                  "text": "AI is the future of productivity",
                  "topic": "AI trends",
                  "goal": "engagement",
                  "createdAt": "2025-01-15T12:00:00Z",
                  "updatedAt": "2025-01-16T09:30:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/drafts/{id}": {
      "get": {
        "operationId": "getDraft",
        "summary": "Get draft by ID",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Draft details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DraftDetail"
                },
                "example": {
                  "id": "42",
                  "text": "AI is the future of productivity",
                  "topic": "AI trends",
                  "goal": "engagement",
                  "createdAt": "2025-01-15T12:00:00Z",
                  "updatedAt": "2025-01-16T09:30:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "delete": {
        "operationId": "deleteDraft",
        "summary": "Delete a draft",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/styles": {
      "get": {
        "operationId": "listStyles",
        "summary": "List cached style profiles",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Style profile list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "styles"
                  ],
                  "properties": {
                    "styles": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/StyleProfileSummary"
                      },
                      "example": []
                    }
                  }
                },
                "example": {
                  "styles": []
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "analyzeStyle",
        "summary": "Analyze writing style from recent tweets",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "X username whose recent tweets define the style.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "X username to analyze",
                    "example": "elonmusk"
                  }
                }
              },
              "example": {
                "username": "elonmusk"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Fresh cached style profile returned",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StyleProfile"
                },
                "example": {
                  "xUsername": "elonmusk",
                  "tweetCount": 50,
                  "isOwnAccount": true,
                  "fetchedAt": "2025-01-15T12:00:00Z",
                  "tweets": [
                    {
                      "id": "1234567890",
                      "text": "Just launched our new feature!"
                    }
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Style profile created or refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StyleProfile"
                },
                "example": {
                  "xUsername": "elonmusk",
                  "tweetCount": 50,
                  "isOwnAccount": true,
                  "fetchedAt": "2025-01-15T12:00:00Z",
                  "tweets": [
                    {
                      "id": "1234567890",
                      "text": "Just launched our new feature!"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/styles/compare": {
      "get": {
        "operationId": "compareStyles",
        "summary": "Compare two style profiles",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "username1",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "First username to compare"
          },
          {
            "name": "username2",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Second username to compare"
          }
        ],
        "responses": {
          "200": {
            "description": "Style comparison",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "style1",
                    "style2"
                  ],
                  "properties": {
                    "style1": {
                      "$ref": "#/components/schemas/StyleProfile"
                    },
                    "style2": {
                      "$ref": "#/components/schemas/StyleProfile"
                    }
                  }
                },
                "example": {
                  "style1": {
                    "xUsername": "elonmusk",
                    "tweetCount": 50,
                    "isOwnAccount": true,
                    "fetchedAt": "2025-01-15T12:00:00Z",
                    "tweets": [
                      {
                        "id": "1234567890",
                        "text": "Just launched our new feature!"
                      }
                    ]
                  },
                  "style2": {
                    "xUsername": "BillGates",
                    "tweetCount": 40,
                    "isOwnAccount": false,
                    "fetchedAt": "2025-01-15T12:00:00Z",
                    "tweets": [
                      {
                        "id": "9876543210",
                        "text": "Climate change is a global challenge."
                      }
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/styles/{id}": {
      "get": {
        "operationId": "getStyle",
        "summary": "Get cached style profile",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StyleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Style profile",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StyleProfile"
                },
                "example": {
                  "xUsername": "elonmusk",
                  "tweetCount": 50,
                  "isOwnAccount": true,
                  "fetchedAt": "2025-01-15T12:00:00Z",
                  "tweets": [
                    {
                      "id": "1234567890",
                      "text": "Just launched our new feature!"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "put": {
        "operationId": "saveStyle",
        "summary": "Save style profile with custom tweets",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StyleId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Label and sample tweets that define the style profile.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "label",
                  "tweets"
                ],
                "properties": {
                  "label": {
                    "type": "string",
                    "description": "Display label for the style",
                    "example": "Professional Voice"
                  },
                  "tweets": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "required": [
                        "text"
                      ],
                      "properties": {
                        "text": {
                          "type": "string",
                          "example": "Excited to share our latest research findings."
                        }
                      }
                    },
                    "description": "Array of tweet objects",
                    "example": [
                      {
                        "text": "Excited to share our latest research findings."
                      }
                    ]
                  }
                }
              },
              "example": {
                "label": "Professional Voice",
                "tweets": [
                  {
                    "text": "Excited to share our latest research findings."
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Style profile saved",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StyleProfile"
                },
                "example": {
                  "xUsername": "elonmusk",
                  "tweetCount": 1,
                  "isOwnAccount": true,
                  "fetchedAt": "2025-01-15T12:00:00Z",
                  "tweets": [
                    {
                      "id": "1234567890",
                      "text": "Excited to share our latest research findings."
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "delete": {
        "operationId": "deleteStyle",
        "summary": "Delete a style profile",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StyleId"
          }
        ],
        "responses": {
          "204": {
            "$ref": "#/components/responses/NoContent"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/styles/{id}/performance": {
      "get": {
        "operationId": "getStylePerformance",
        "summary": "Get engagement metrics for style tweets",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/StyleId"
          }
        ],
        "responses": {
          "200": {
            "description": "Performance metrics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "xUsername",
                    "tweetCount",
                    "tweets"
                  ],
                  "properties": {
                    "xUsername": {
                      "type": "string",
                      "example": "elonmusk"
                    },
                    "tweetCount": {
                      "type": "integer",
                      "example": 5
                    },
                    "tweets": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "required": [
                          "id",
                          "text"
                        ],
                        "properties": {
                          "id": {
                            "type": "string",
                            "example": "1234567890"
                          },
                          "text": {
                            "type": "string",
                            "example": "Excited to share our latest research findings."
                          },
                          "likeCount": {
                            "type": "integer",
                            "example": 120
                          },
                          "retweetCount": {
                            "type": "integer",
                            "example": 15
                          },
                          "replyCount": {
                            "type": "integer",
                            "example": 8
                          },
                          "viewCount": {
                            "type": "integer",
                            "example": 5000
                          },
                          "createdAt": {
                            "type": "string",
                            "example": "2025-01-15T12:00:00Z"
                          }
                        }
                      },
                      "example": [
                        {
                          "id": "1234567890",
                          "text": "Excited to share our latest research findings.",
                          "likeCount": 120,
                          "retweetCount": 15,
                          "replyCount": 8,
                          "viewCount": 5000,
                          "createdAt": "2025-01-15T12:00:00Z"
                        }
                      ]
                    }
                  }
                },
                "example": {
                  "xUsername": "elonmusk",
                  "tweetCount": 5,
                  "tweets": [
                    {
                      "id": "1234567890",
                      "text": "Excited to share our latest research findings.",
                      "likeCount": 120,
                      "retweetCount": 15,
                      "replyCount": 8,
                      "viewCount": 5000,
                      "createdAt": "2025-01-15T12:00:00Z"
                    }
                  ]
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/radar": {
      "get": {
        "operationId": "getRadar",
        "summary": "Get trending topics from curated sources",
        "tags": [
          "Composition"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "name": "after",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Cursor for pagination (from prior response nextCursor)."
          },
          {
            "name": "category",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "general",
                "tech",
                "dev",
                "science",
                "culture",
                "politics",
                "business",
                "entertainment"
              ]
            },
            "description": "Filter by category."
          },
          {
            "name": "hours",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 72,
              "default": 6
            },
            "description": "Lookback window in hours (1-72, default 6)."
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Number of items to return (1-100, default 50)."
          },
          {
            "name": "region",
            "in": "query",
            "schema": {
              "type": "string",
              "default": "global"
            },
            "description": "Region filter. Use `global` or a region code such as `US`, `GB`, `TR`, or `ES`."
          },
          {
            "name": "source",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "github",
                "google_trends",
                "hacker_news",
                "polymarket",
                "reddit",
                "trustmrr",
                "wikipedia"
              ]
            },
            "description": "Source filter. One of: github, google_trends, hacker_news, polymarket, reddit, trustmrr, wikipedia"
          }
        ],
        "responses": {
          "200": {
            "description": "Radar items",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "hasMore",
                    "items"
                  ],
                  "properties": {
                    "hasMore": {
                      "type": "boolean",
                      "example": false
                    },
                    "items": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/RadarItem"
                      },
                      "example": []
                    },
                    "nextCursor": {
                      "type": "string",
                      "description": "Opaque cursor for the next page (present only when hasMore is true).",
                      "example": "eyJ0IjoxNzM5OTcyODAwLCJpIjoiOTk5In0="
                    }
                  }
                },
                "example": {
                  "hasMore": false,
                  "items": []
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/monitors": {
      "get": {
        "operationId": "listMonitors",
        "summary": "List monitors",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "monitors",
                    "total"
                  ],
                  "properties": {
                    "monitors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Monitor"
                      },
                      "example": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 0
                    }
                  }
                },
                "example": {
                  "monitors": [],
                  "total": 0
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createMonitor",
        "summary": "Create monitor",
        "description": "Creates an instant monitor. Monitors are unlimited. Active monitors check every 1 second and cost 21 credits per hour. Events and webhook deliveries are included. Creation requires available credits for the first hourly charge and username lookup.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Target X username and event types to monitor.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "username",
                  "eventTypes"
                ],
                "properties": {
                  "username": {
                    "type": "string",
                    "description": "X username (without @)",
                    "example": "elonmusk"
                  },
                  "eventTypes": {
                    "$ref": "#/components/schemas/EventTypeArray",
                    "example": [
                      "tweet.new",
                      "tweet.reply"
                    ]
                  }
                }
              },
              "example": {
                "username": "elonmusk",
                "eventTypes": [
                  "tweet.new",
                  "tweet.reply"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Monitor created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "username",
                    "xUserId",
                    "eventTypes",
                    "isActive",
                    "createdAt",
                    "nextBillingAt"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "42"
                    },
                    "username": {
                      "type": "string",
                      "example": "elonmusk"
                    },
                    "xUserId": {
                      "type": "string",
                      "example": "1234567890"
                    },
                    "eventTypes": {
                      "$ref": "#/components/schemas/EventTypeArray",
                      "example": [
                        "tweet.new",
                        "tweet.reply"
                      ]
                    },
                    "isActive": {
                      "type": "boolean",
                      "example": true
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time",
                      "example": "2025-01-15T12:00:00Z"
                    },
                    "nextBillingAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Next hourly credit charge time. New active monitors are due immediately.",
                      "example": "2025-01-15T12:00:00Z"
                    }
                  }
                },
                "example": {
                  "id": "42",
                  "username": "elonmusk",
                  "xUserId": "1234567890",
                  "eventTypes": [
                    "tweet.new",
                    "tweet.reply"
                  ],
                  "isActive": true,
                  "createdAt": "2025-01-15T12:00:00Z",
                  "nextBillingAt": "2025-01-15T12:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "description": "X user not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "user_not_found",
                  "message": "X user not found. Check the username."
                }
              }
            }
          },
          "409": {
            "description": "Monitor already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "monitor_already_exists",
                  "message": "Monitor already exists."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/monitors/keywords": {
      "get": {
        "operationId": "listKeywordMonitors",
        "summary": "List keyword monitors",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword monitor list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "monitors",
                    "total"
                  ],
                  "properties": {
                    "monitors": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/KeywordMonitor"
                      },
                      "example": []
                    },
                    "total": {
                      "type": "integer",
                      "example": 0
                    }
                  }
                },
                "example": {
                  "monitors": [],
                  "total": 0
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createKeywordMonitor",
        "summary": "Create keyword monitor",
        "description": "Creates an instant keyword monitor. Keyword monitors are unlimited. Active monitors check every 1 second and cost 21 credits per hour. Events and webhook deliveries are included. Creation requires available credits for the first hourly charge.",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Search query and event types to monitor.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "query",
                  "eventTypes"
                ],
                "properties": {
                  "query": {
                    "type": "string",
                    "minLength": 1,
                    "maxLength": 160,
                    "description": "X search query to monitor. Whitespace is normalized.",
                    "example": "xquik OR \"x api\""
                  },
                  "eventTypes": {
                    "$ref": "#/components/schemas/EventTypeArray",
                    "example": [
                      "tweet.new"
                    ]
                  }
                }
              },
              "example": {
                "query": "xquik OR \"x api\"",
                "eventTypes": [
                  "tweet.new"
                ]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Keyword monitor created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordMonitor"
                },
                "example": {
                  "id": "21",
                  "query": "xquik OR \"x api\"",
                  "eventTypes": [
                    "tweet.new"
                  ],
                  "isActive": true,
                  "createdAt": "2025-01-15T12:00:00Z",
                  "nextBillingAt": "2025-01-15T12:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "409": {
            "description": "Keyword monitor already exists",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "example": {
                  "error": "monitor_already_exists",
                  "message": "Monitor already exists."
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/monitors/keywords/{id}": {
      "get": {
        "operationId": "getKeywordMonitor",
        "summary": "Get keyword monitor",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Keyword monitor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordMonitor"
                },
                "example": {
                  "id": "21",
                  "query": "xquik OR \"x api\"",
                  "eventTypes": [
                    "tweet.new"
                  ],
                  "isActive": true,
                  "createdAt": "2025-01-15T12:00:00Z",
                  "nextBillingAt": "2025-01-15T13:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "operationId": "updateKeywordMonitor",
        "summary": "Update keyword monitor",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Updated event types or active status.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventTypes": {
                    "$ref": "#/components/schemas/EventTypeArray",
                    "example": [
                      "tweet.new"
                    ]
                  },
                  "isActive": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "example": {
                "eventTypes": [
                  "tweet.new"
                ],
                "isActive": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Keyword monitor updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/KeywordMonitor"
                },
                "example": {
                  "id": "21",
                  "query": "xquik OR \"x api\"",
                  "eventTypes": [
                    "tweet.new"
                  ],
                  "isActive": true,
                  "createdAt": "2025-01-15T12:00:00Z",
                  "nextBillingAt": "2025-01-15T13:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "delete": {
        "operationId": "deleteKeywordMonitor",
        "summary": "Delete keyword monitor",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/monitors/{id}": {
      "get": {
        "operationId": "getMonitor",
        "summary": "Get monitor",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Monitor details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                },
                "example": {
                  "id": "42",
                  "username": "elonmusk",
                  "xUserId": "1234567890",
                  "eventTypes": [
                    "tweet.new",
                    "tweet.reply"
                  ],
                  "isActive": true,
                  "createdAt": "2025-01-15T12:00:00Z",
                  "nextBillingAt": "2025-01-15T13:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "patch": {
        "operationId": "updateMonitor",
        "summary": "Update monitor",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Event type list or active state for the account monitor.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventTypes": {
                    "$ref": "#/components/schemas/EventTypeArray",
                    "example": [
                      "tweet.new"
                    ]
                  },
                  "isActive": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "example": {
                "eventTypes": [
                  "tweet.new"
                ],
                "isActive": true
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Monitor updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Monitor"
                },
                "example": {
                  "id": "42",
                  "username": "elonmusk",
                  "xUserId": "1234567890",
                  "eventTypes": [
                    "tweet.new"
                  ],
                  "isActive": true,
                  "createdAt": "2025-01-15T12:00:00Z",
                  "nextBillingAt": "2025-01-15T13:00:00Z"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "delete": {
        "operationId": "deleteMonitor",
        "summary": "Delete monitor",
        "tags": [
          "Monitors"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Success"
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/events": {
      "get": {
        "operationId": "listEvents",
        "summary": "List events",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "name": "monitorId",
            "in": "query",
            "description": "Filter events by monitor ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "eventType",
            "in": "query",
            "description": "Filter events by type",
            "schema": {
              "$ref": "#/components/schemas/EventType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "events",
                    "hasMore"
                  ],
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Event"
                      },
                      "example": []
                    },
                    "hasMore": {
                      "type": "boolean",
                      "example": false
                    },
                    "nextCursor": {
                      "type": "string",
                      "example": "abc123"
                    }
                  }
                },
                "example": {
                  "events": [],
                  "hasMore": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/events/{id}": {
      "get": {
        "operationId": "getEvent",
        "summary": "Get event",
        "tags": [
          "Events"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "200": {
            "description": "Event details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventDetail"
                },
                "example": {
                  "id": "42",
                  "type": "tweet.new",
                  "username": "elonmusk",
                  "monitorId": "7",
                  "monitorType": "account",
                  "occurredAt": "2025-01-15T12:00:00Z",
                  "data": {
                    "tweetId": "1234567890"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      }
    },
    "/api/v1/extractions": {
      "get": {
        "operationId": "listExtractions",
        "summary": "List extraction jobs",
        "tags": [
          "Extractions"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/After"
          },
          {
            "name": "toolType",
            "in": "query",
            "description": "Filter by extraction tool type",
            "schema": {
              "$ref": "#/components/schemas/ExtractionToolType"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by job status",
            "schema": {
              "type": "string",
              "enum": [
                "running",
                "completed",
                "failed"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Extraction job list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "extractions",
                    "hasMore"
                  ],
                  "properties": {
                    "extractions": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ExtractionJob"
                      },
                      "example": []
                    },
                    "hasMore": {
                      "type": "boolean",
                      "example": false
                    },
                    "nextCursor": {
                      "type": "string",
                      "example": "abc123"
                    }
                  }
                },
                "example": {
                  "extractions": [],
                  "hasMore": false
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          }
        }
      },
      "post": {
        "operationId": "createExtraction",
        "summary": "Run extraction",
        "tags": [
          "Extractions"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Tool type and target identifier (tweet, user, community, list, or search query).",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "toolType"
                ],
                "properties": {
                  "toolType": {
                    "$ref": "#/components/schemas/ExtractionToolType",
                    "example": "follower_explorer"
                  },
                  "targetTweetId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "targetUsername": {
                    "type": "string",
                    "example": "elonmusk"
                  },
                  "targetCommunityId": {
                    "type": "string",
                    "example": "1500000000000000000"
                  },
                  "targetListId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "targetSpaceId": {
                    "type": "string",
                    "example": "1vOGwMdBqpwGB"
                  },
                  "resultsLimit": {
                    "type": "integer",
                    "description": "Maximum number of results to extract. When set, the extraction stops after reaching this limit.",
                    "example": 1000
                  },
                  "searchQuery": {
                    "type": "string",
                    "example": "AI trends 2025"
                  },
                  "fromUser": {
                    "type": "string",
                    "description": "Filter by author username (tweet_search_extractor)",
                    "example": "nasa"
                  },
                  "toUser": {
                    "type": "string",
                    "description": "Filter replies sent to a username (tweet_search_extractor)",
                    "example": "openai"
                  },
                  "mentioning": {
                    "type": "string",
                    "description": "Filter tweets mentioning a username (tweet_search_extractor)",
                    "example": "xquikcom"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code filter (tweet_search_extractor)",
                    "example": "en"
                  },
                  "sinceDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Start date YYYY-MM-DD (tweet_search_extractor)",
                    "example": "2025-01-01"
                  },
                  "untilDate": {
                    "type": "string",
                    "format": "date",
                    "description": "End date YYYY-MM-DD (tweet_search_extractor)",
                    "example": "2025-12-31"
                  },
                  "mediaType": {
                    "type": "string",
                    "enum": [
                      "images",
                      "videos",
                      "gifs",
                      "media",
                      "links",
                      "none"
                    ],
                    "description": "Media type filter (tweet_search_extractor)",
                    "example": "images"
                  },
                  "minFaves": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Minimum likes threshold (tweet_search_extractor)",
                    "example": 10
                  },
                  "minRetweets": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Minimum retweets threshold (tweet_search_extractor)",
                    "example": 5
                  },
                  "minReplies": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Minimum replies threshold (tweet_search_extractor)",
                    "example": 3
                  },
                  "minQuotes": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Minimum quote count threshold (tweet_search_extractor)",
                    "example": 2
                  },
                  "verifiedOnly": {
                    "type": "boolean",
                    "description": "Only verified authors (tweet_search_extractor)",
                    "example": false
                  },
                  "replies": {
                    "type": "string",
                    "enum": [
                      "include",
                      "exclude",
                      "only"
                    ],
                    "description": "Reply mode (tweet_search_extractor)",
                    "example": "include"
                  },
                  "retweets": {
                    "type": "string",
                    "enum": [
                      "include",
                      "exclude",
                      "only"
                    ],
                    "description": "Retweet mode (tweet_search_extractor)",
                    "example": "exclude"
                  },
                  "quotes": {
                    "type": "string",
                    "enum": [
                      "include",
                      "exclude",
                      "only"
                    ],
                    "description": "Quote mode (tweet_search_extractor)",
                    "example": "include"
                  },
                  "exactPhrase": {
                    "type": "string",
                    "description": "Exact phrase to match (tweet_search_extractor)",
                    "example": "artificial intelligence"
                  },
                  "excludeWords": {
                    "type": "string",
                    "description": "Words or quoted phrases to exclude. Separate with spaces, commas, or lines. (tweet_search_extractor)",
                    "example": "spam"
                  },
                  "anyWords": {
                    "type": "string",
                    "description": "Words or quoted phrases where any one can match. Separate with spaces, commas, or lines. (tweet_search_extractor)",
                    "example": "ChatGPT AI model"
                  },
                  "hashtags": {
                    "type": "string",
                    "description": "Hashtags separated by spaces, commas, or lines. (tweet_search_extractor)",
                    "example": "#AI startups"
                  },
                  "cashtags": {
                    "type": "string",
                    "description": "Cashtags separated by spaces, commas, or lines. (tweet_search_extractor)",
                    "example": "$TSLA $NVDA"
                  },
                  "url": {
                    "type": "string",
                    "description": "URL substring or domain filter (tweet_search_extractor)",
                    "example": "example.com"
                  },
                  "conversationId": {
                    "type": "string",
                    "description": "Conversation ID filter (tweet_search_extractor)",
                    "example": "1234567890"
                  },
                  "inReplyToTweetId": {
                    "type": "string",
                    "description": "Only replies to this tweet ID (tweet_search_extractor)",
                    "example": "1234567890"
                  },
                  "quotesOfTweetId": {
                    "type": "string",
                    "description": "Only quotes of this tweet ID (tweet_search_extractor)",
                    "example": "1234567890"
                  },
                  "retweetsOfTweetId": {
                    "type": "string",
                    "description": "Only retweets of this tweet ID (tweet_search_extractor)",
                    "example": "1234567890"
                  },
                  "listId": {
                    "type": "string",
                    "description": "Search within a list ID (tweet_search_extractor)",
                    "example": "1234567890"
                  },
                  "place": {
                    "type": "string",
                    "description": "Search within a place ID (tweet_search_extractor)",
                    "example": "96683cc9126741d1"
                  },
                  "placeCountry": {
                    "type": "string",
                    "description": "Search within a country code (tweet_search_extractor)",
                    "example": "US"
                  },
                  "pointRadius": {
                    "type": "string",
                    "description": "Geo point radius, e.g. -73.99 40.73 25mi (tweet_search_extractor)",
                    "example": "-73.99 40.73 25mi"
                  },
                  "boundingBox": {
                    "type": "string",
                    "description": "Geo bounding box, e.g. -74.1 40.6 -73.9 40.8 (tweet_search_extractor)",
                    "example": "-74.1 40.6 -73.9 40.8"
                  },
                  "advancedQuery": {
                    "type": "string",
                    "description": "Raw advanced search query appended as-is (tweet_search_extractor)",
                    "example": "min_faves:100"
                  }
                }
              },
              "example": {
                "toolType": "follower_explorer",
                "targetUsername": "elonmusk"
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Extraction started",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": [
                    "id",
                    "toolType",
                    "status"
                  ],
                  "properties": {
                    "id": {
                      "type": "string",
                      "example": "a1b2c3d4-e5f6-7890-abcd-ef1234567890"
                    },
                    "toolType": {
                      "$ref": "#/components/schemas/ExtractionToolType",
                      "example": "follower_explorer"
                    },
                    "status": {
                      "type": "string",
                      "const": "running",
                      "example": "running"
                    }
                  }
                },
                "example": {
                  "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
                  "toolType": "follower_explorer",
                  "status": "running"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/InvalidInput"
          },
          "401": {
            "$ref": "#/components/responses/Unauthenticated"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "424": {
            "$ref": "#/components/responses/XApiError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitExceeded"
          },
          "502": {
            "$ref": "#/components/responses/XApiError"
          }
        }
      }
    },
    "/api/v1/extractions/estimate": {
      "post": {
        "operationId": "estimateExtraction",
        "summary": "Estimate extraction cost",
        "tags": [
          "Extractions"
        ],
        "security": [
          {
            "apiKey": []
          },
          {
            "oauthBearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "description": "Same parameters as a real extraction; returns estimated credit cost without running the job.",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "toolType"
                ],
                "properties": {
                  "toolType": {
                    "$ref": "#/components/schemas/ExtractionToolType",
                    "example": "follower_explorer"
                  },
                  "targetTweetId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "targetUsername": {
                    "type": "string",
                    "example": "elonmusk"
                  },
                  "targetCommunityId": {
                    "type": "string",
                    "example": "1500000000000000000"
                  },
                  "targetListId": {
                    "type": "string",
                    "example": "1234567890"
                  },
                  "targetSpaceId": {
                    "type": "string",
                    "example": "1vOGwMdBqpwGB"
                  },
                  "resultsLimit": {
                    "type": "integer",
                    "description": "Maximum number of results to estimate. When set, the estimate caps projected results to this value.",
                    "example": 1000
                  },
                  "searchQuery": {
                    "type": "string",
                    "example": "AI trends 2025"
                  },
                  "fromUser": {
                    "type": "string",
                    "description": "Estimate only tweets from this author username (tweet_search_extractor)",
                    "example": "nasa"
                  },
                  "toUser": {
                    "type": "string",
                    "description": "Estimate replies sent to this username (tweet_search_extractor)",
                    "example": "openai"
                  },
                  "mentioning": {
                    "type": "string",
                    "description": "Estimate tweets mentioning this username (tweet_search_extractor)",
                    "example": "xquikcom"
                  },
                  "language": {
                    "type": "string",
                    "description": "Language code used for estimate filtering (tweet_search_extractor)",
                    "example": "en"
                  },
                  "sinceDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Estimate start date in YYYY-MM-DD format (tweet_search_extractor)",
                    "example": "2025-01-01"
                  },
                  "untilDate": {
                    "type": "string",
                    "format": "date",
                    "description": "Estimate end date in YYYY-MM-DD format (tweet_search_extractor)",
                    "example": "2025-12-31"
                  },
                  "mediaType": {
                    "type": "string",
                    "enum": [
                      "images",
                      "videos",
                      "gifs",
                      "media",
                      "links",
                      "none"
                    ],
                    "description": "Media type used for estimate filtering (tweet_search_extractor)",
                    "example": "images"
                  },
                  "minFaves": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Minimum likes threshold for estimated results (tweet_search_extractor)",
                    "example": 10
                  },
                  "minRetweets": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Minimum retweets threshold for estimated results (tweet_search_extractor)",
                    "example": 5
                  },
                  "minReplies": {
                    "type": "integer",
                    "minimum": 0,
                    "description": "Minimum replies threshold for estimated results (tweet_search_extractor)",
                    "example": 3
                  },
[...]
