openapi: 3.0.0
servers:
  - url: https://discoveryengine.googleapis.com/
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Discovery Engine API.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Discovery Engine API
  version: v1beta
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://discoveryengine.googleapis.com/$discovery/rest?version=v1beta
      version: v1
  x-preferred: true
  x-providerName: googleapis.com
  x-serviceName: discoveryengine
externalDocs:
  url: https://cloud.google.com/discovery-engine/docs
tags:
  - name: projects
paths:
  /v1beta/{dataStore}:completeQuery:
    get:
      description: Completes the specified user input with keyword suggestions.
      operationId: discoveryengine.projects.locations.dataStores.completeQuery
      parameters:
        - description: Required. The parent data store resource name for which the completion is performed, such as `projects/*/locations/global/collections/default_collection/dataStores/default_data_store`.
          in: path
          name: dataStore
          required: true
          schema:
            type: string
        - description: Indicates if tail suggestions should be returned if there are no suggestions that match the full query. Even if set to true, if there are suggestions that match the full query, those are returned and no tail suggestions are returned.
          in: query
          name: includeTailSuggestions
          schema:
            type: boolean
        - description: Required. The typeahead input used to fetch suggestions. Maximum length is 128 characters.
          in: query
          name: query
          schema:
            type: string
        - description: "Specifies the autocomplete data model. This overrides any model specified in the Configuration > Autocomplete section of the Cloud console. Currently supported values: * `document` - Using suggestions generated from user-imported documents. * `search-history` - Using suggestions generated from the past history of SearchService.Search API calls. Do not use it when there is no traffic for Search API. * `user-event` - Using suggestions generated from user-imported search events. * `document-completable` - Using suggestions taken directly from user-imported document fields marked as completable. Default values: * `document` is the default model for regular dataStores. * `search-history` is the default model for site search dataStores."
          in: query
          name: queryModel
          schema:
            type: string
        - description: A unique identifier for tracking visitors. For example, this could be implemented with an HTTP cookie, which should be able to uniquely identify a visitor on a single device. This unique identifier should not change if the visitor logs in or out of the website. This field should NOT have a fixed value such as `unknown_visitor`. This should be the same identifier as UserEvent.user_pseudo_id and SearchRequest.user_pseudo_id. The field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.
          in: query
          name: userPseudoId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaCompleteQueryResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta/{name}:
    delete:
      description: Deletes a TargetSite.
      operationId: discoveryengine.projects.locations.dataStores.siteSearchEngine.targetSites.delete
      parameters:
        - description: Required. Full resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}`. If the caller does not have permission to access the TargetSite, regardless of whether or not it exists, a PERMISSION_DENIED error is returned. If the requested TargetSite does not exist, a NOT_FOUND error is returned.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Gets the latest state of a long-running operation. Clients can use this method to poll the operation result at intervals as recommended by the API service.
      operationId: discoveryengine.projects.operations.get
      parameters:
        - description: The name of the operation resource.
          in: path
          name: name
          required: true
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a TargetSite.
      operationId: discoveryengine.projects.locations.dataStores.siteSearchEngine.targetSites.patch
      parameters:
        - description: Output only. The fully qualified resource name of the target site. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine/targetSites/{target_site}` The `target_site_id` is system-generated.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: "Indicates which fields in the provided ServingConfig to update. The following are NOT supported: * ServingConfig.name If not set, all supported fields are updated."
          in: query
          name: updateMask
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaTargetSite"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{name}/operations:
    get:
      description: Lists operations that match the specified filter in the request. If the server doesn't support this method, it returns `UNIMPLEMENTED`.
      operationId: discoveryengine.projects.operations.list
      parameters:
        - description: The name of the operation's parent resource.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: The standard list filter.
          in: query
          name: filter
          schema:
            type: string
        - description: The standard list page size.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The standard list page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningListOperationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta/{name}:converse:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Converses a conversation.
      operationId: discoveryengine.projects.locations.dataStores.conversations.converse
      parameters:
        - description: "Required. The resource name of the Conversation to get. Format: `projects/{project_number}/locations/{location_id}/collections/{collection}/dataStores/{data_store_id}/conversations/{conversation_id}`. Use `projects/{project_number}/locations/{location_id}/collections/{collection}/dataStores/{data_store_id}/conversations/-` to activate auto session mode, which automatically creates a new conversation inside a ConverseConversation session."
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaConverseConversationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaConverseConversationResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/conversations:
    get:
      description: Lists all Conversations by their parent DataStore.
      operationId: discoveryengine.projects.locations.dataStores.conversations.list
      parameters:
        - description: "Required. The data store resource name. Format: `projects/{project_number}/locations/{location_id}/collections/{collection}/dataStores/{data_store_id}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: 'A filter to apply on the list results. The supported features are: user_pseudo_id, state. Example: "user_pseudo_id = some_id"'
          in: query
          name: filter
          schema:
            type: string
        - description: 'A comma-separated list of fields to order by, sorted in ascending order. Use "desc" after a field name for descending. Supported fields: * `update_time` * `create_time` * `conversation_name` Example: "update_time desc" "create_time"'
          in: query
          name: orderBy
          schema:
            type: string
        - description: Maximum number of results to return. If unspecified, defaults to 50. Max allowed value is 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListConversations` call. Provide this to retrieve the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaListConversationsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Conversation. If the Conversation to create already exists, an ALREADY_EXISTS error is returned.
      operationId: discoveryengine.projects.locations.dataStores.conversations.create
      parameters:
        - description: "Required. Full resource name of parent data store. Format: `projects/{project_number}/locations/{location_id}/collections/{collection}/dataStores/{data_store_id}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaConversation"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaConversation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/dataStores:
    get:
      description: Lists all the DataStores associated with the project.
      operationId: discoveryengine.projects.locations.dataStores.list
      parameters:
        - description: Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection_id}`. If the caller does not have permission to list DataStores under this location, regardless of whether or not this data store exists, a PERMISSION_DENIED error is returned.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Filter by solution type. For example: filter = 'solution_type:SOLUTION_TYPE_SEARCH'"
          in: query
          name: filter
          schema:
            type: string
        - description: Maximum number of DataStores to return. If unspecified, defaults to 10. The maximum allowed value is 50. Values above 50 will be coerced to 50. If this field is negative, an INVALID_ARGUMENT is returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token ListDataStoresResponse.next_page_token, received from a previous DataStoreService.ListDataStores call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DataStoreService.ListDataStores must match the call that provided the page token. Otherwise, an INVALID_ARGUMENT error is returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaListDataStoresResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a DataStore. DataStore is for storing Documents. To serve these documents for Search, or Recommendation use case, an Engine needs to be created separately.
      operationId: discoveryengine.projects.locations.dataStores.create
      parameters:
        - description: Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: A boolean flag indicating whether user want to directly create an advanced data store for site search. If the data store is not configured as site search (GENERIC vertical and PUBLIC_WEBSITE content_config), this flag will be ignored.
          in: query
          name: createAdvancedSiteSearch
          schema:
            type: boolean
        - description: Required. The ID to use for the DataStore, which will become the final component of the DataStore's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned.
          in: query
          name: dataStoreId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaDataStore"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/documents:
    get:
      description: Gets a list of Documents.
      operationId: discoveryengine.projects.locations.dataStores.branches.documents.list
      parameters:
        - description: Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Use `default_branch` as the branch ID, to list documents under the default branch. If the caller does not have permission to list Documents under this branch, regardless of whether or not this branch exists, a `PERMISSION_DENIED` error is returned.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Maximum number of Documents to return. If unspecified, defaults to 100. The maximum allowed value is 1000. Values above 1000 will be coerced to 1000. If this field is negative, an `INVALID_ARGUMENT` error is returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token ListDocumentsResponse.next_page_token, received from a previous DocumentService.ListDocuments call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to DocumentService.ListDocuments must match the call that provided the page token. Otherwise, an `INVALID_ARGUMENT` error is returned.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaListDocumentsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Document.
      operationId: discoveryengine.projects.locations.dataStores.branches.documents.create
      parameters:
        - description: Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID to use for the Document, which will become the final component of the Document.name. If the caller does not have permission to create the Document, regardless of whether or not it exists, a `PERMISSION_DENIED` error is returned. This field must be unique among all Documents with the same parent. Otherwise, an `ALREADY_EXISTS` error is returned. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an `INVALID_ARGUMENT` error is returned.
          in: query
          name: documentId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaDocument"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaDocument"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/documents:import:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Bulk import of multiple Documents. Request processing may be synchronous. Non-existing items will be created. Note: It is possible for a subset of the Documents to be successfully updated."
      operationId: discoveryengine.projects.locations.dataStores.branches.documents.import
      parameters:
        - description: Required. The parent branch resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`. Requires create/update permission.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaImportDocumentsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/documents:purge:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Permanently deletes all selected Documents in a branch. This process is asynchronous. Depending on the number of Documents to be deleted, this operation can take hours to complete. Before the delete operation completes, some Documents might still be returned by DocumentService.GetDocument or DocumentService.ListDocuments. To get a list of the Documents to be deleted, set PurgeDocumentsRequest.force to false.
      operationId: discoveryengine.projects.locations.dataStores.branches.documents.purge
      parameters:
        - description: Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/branches/{branch}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaPurgeDocumentsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/engines:
    get:
      description: Lists all the Engines associated with the project.
      operationId: discoveryengine.projects.locations.collections.engines.list
      parameters:
        - description: Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection_id}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: "Optional. Filter by solution type. For example: solution_type=SOLUTION_TYPE_SEARCH"
          in: query
          name: filter
          schema:
            type: string
        - description: Optional. Not supported.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. Not supported.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaListEnginesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Engine.
      operationId: discoveryengine.projects.locations.collections.engines.create
      parameters:
        - description: Required. The parent resource name, such as `projects/{project}/locations/{location}/collections/{collection}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID to use for the Engine, which will become the final component of the Engine's resource name. This field must conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters. Otherwise, an INVALID_ARGUMENT error is returned.
          in: query
          name: engineId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaEngine"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/schemas:
    get:
      description: Gets a list of Schemas.
      operationId: discoveryengine.projects.locations.dataStores.schemas.list
      parameters:
        - description: Required. The parent data store resource name, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of Schemas to return. The service may return fewer than this value. If unspecified, at most 100 Schemas will be returned. The maximum value is 1000; values above 1000 will be coerced to 1000.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous SchemaService.ListSchemas call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to SchemaService.ListSchemas must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaListSchemasResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a Schema.
      operationId: discoveryengine.projects.locations.dataStores.schemas.create
      parameters:
        - description: Required. The parent data store resource name, in the format of `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. The ID to use for the Schema, which will become the final component of the Schema.name. This field should conform to [RFC-1034](https://tools.ietf.org/html/rfc1034) standard with a length limit of 63 characters.
          in: query
          name: schemaId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaSchema"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/servingConfigs:
    get:
      description: Lists all ServingConfigs linked to this dataStore.
      operationId: discoveryengine.projects.locations.dataStores.servingConfigs.list
      parameters:
        - description: "Required. The dataStore resource name. Format: `projects/{project_number}/locations/{location}/collections/{collection}/dataStores/{data_store}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Optional. Maximum number of results to return. If unspecified, defaults to 100. If a value greater than 100 is provided, at most 100 results are returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Optional. A page token, received from a previous `ListServingConfigs` call. Provide this to retrieve the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaListServingConfigsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta/{parent}/suggestionDenyListEntries:import:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Imports all SuggestionDenyListEntry for a DataStore.
      operationId: discoveryengine.projects.locations.dataStores.suggestionDenyListEntries.import
      parameters:
        - description: Required. The parent data store resource name for which to import denylist entries. Follows pattern projects/*/locations/*/collections/*/dataStores/*.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaImportSuggestionDenyListEntriesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/suggestionDenyListEntries:purge:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Permanently deletes all SuggestionDenyListEntry for a DataStore.
      operationId: discoveryengine.projects.locations.dataStores.suggestionDenyListEntries.purge
      parameters:
        - description: Required. The parent data store resource name for which to import denylist entries. Follows pattern projects/*/locations/*/collections/*/dataStores/*.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaPurgeSuggestionDenyListEntriesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/targetSites:
    get:
      description: Gets a list of TargetSites.
      operationId: discoveryengine.projects.locations.dataStores.siteSearchEngine.targetSites.list
      parameters:
        - description: Required. The parent site search engine resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`. If the caller does not have permission to list TargetSites under this site search engine, regardless of whether or not this branch exists, a PERMISSION_DENIED error is returned.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum value is 1000; values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT error is returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListTargetSites` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `ListTargetSites` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaListTargetSitesResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a TargetSite.
      operationId: discoveryengine.projects.locations.dataStores.siteSearchEngine.targetSites.create
      parameters:
        - description: Required. Parent resource name of TargetSite, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaTargetSite"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/targetSites:batchCreate:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates TargetSite in a batch.
      operationId: discoveryengine.projects.locations.dataStores.siteSearchEngine.targetSites.batchCreate
      parameters:
        - description: Required. The parent resource shared by all TargetSites being created. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`. The parent field in the CreateBookRequest messages must either be empty or match this field.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaBatchCreateTargetSitesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/userEvents:collect:
    get:
      description: Writes a single user event from the browser. This uses a GET request to due to browser restriction of POST-ing to a third-party domain. This method is used only by the Discovery Engine API JavaScript pixel and Google Tag Manager. Users should not call this method directly.
      operationId: discoveryengine.projects.locations.dataStores.userEvents.collect
      parameters:
        - description: Required. The parent DataStore resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The event timestamp in milliseconds. This prevents browser caching of otherwise identical get requests. The name is abbreviated to reduce the payload bytes.
          in: query
          name: ets
          schema:
            type: string
        - description: The URL including cgi-parameters but excluding the hash fragment with a length limit of 5,000 characters. This is often more useful than the referer URL, because many browsers only send the domain for third-party requests.
          in: query
          name: uri
          schema:
            type: string
        - description: Required. URL encoded UserEvent proto with a length limit of 2,000,000 characters.
          in: query
          name: userEvent
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleApiHttpBody"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta/{parent}/userEvents:import:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Bulk import of User events. Request processing might be synchronous. Events that already exist are skipped. Use this method for backfilling historical user events. Operation.response is of type ImportResponse. Note that it is possible for a subset of the items to be successfully inserted. Operation.metadata is of type ImportMetadata.
      operationId: discoveryengine.projects.locations.dataStores.userEvents.import
      parameters:
        - description: Required. Parent DataStore resource name, of the form `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaImportUserEventsRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}/userEvents:write:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Writes a single user event.
      operationId: discoveryengine.projects.locations.dataStores.userEvents.write
      parameters:
        - description: Required. The parent DataStore resource name, such as `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaUserEvent"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaUserEvent"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{parent}:batchVerifyTargetSites:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Verify target sites' ownership and validity. This API sends all the target sites under site search engine for verification.
      operationId: discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.batchVerifyTargetSites
      parameters:
        - description: Required. The parent resource shared by all TargetSites being verified. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`.
          in: path
          name: parent
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaBatchVerifyTargetSitesRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{servingConfig}:recommend:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Makes a recommendation, which requires a contextual user event.
      operationId: discoveryengine.projects.locations.dataStores.servingConfigs.recommend
      parameters:
        - description: "Required. Full resource name of a ServingConfig: `projects/*/locations/global/collections/*/engines/*/servingConfigs/*`, or `projects/*/locations/global/collections/*/dataStores/*/servingConfigs/*` One default serving config is created along with your recommendation engine creation. The engine ID will be used as the ID of the default serving config. For example, for Engine `projects/*/locations/global/collections/*/engines/my-engine`, you can use `projects/*/locations/global/collections/*/engines/my-engine/servingConfigs/my-engine` for your RecommendationService.Recommend requests."
          in: path
          name: servingConfig
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaRecommendRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaRecommendResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{servingConfig}:search:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Performs a search.
      operationId: discoveryengine.projects.locations.dataStores.servingConfigs.search
      parameters:
        - description: Required. The resource name of the Search serving config, such as `projects/*/locations/global/collections/default_collection/engines/*/servingConfigs/default_serving_config`, or `projects/*/locations/global/collections/default_collection/dataStores/default_data_store/servingConfigs/default_serving_config`. This field is used to identify the serving configuration name, set of models used to make the search.
          in: path
          name: servingConfig
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaSearchRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaSearchResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{siteSearchEngine}:disableAdvancedSiteSearch:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Downgrade from advanced site search to basic site search.
      operationId: discoveryengine.projects.locations.dataStores.siteSearchEngine.disableAdvancedSiteSearch
      parameters:
        - description: Required. Full resource name of the SiteSearchEngine, such as `projects/{project}/locations/{location}/dataStores/{data_store_id}/siteSearchEngine`.
          in: path
          name: siteSearchEngine
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaDisableAdvancedSiteSearchRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{siteSearchEngine}:enableAdvancedSiteSearch:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Upgrade from basic site search to advanced site search.
      operationId: discoveryengine.projects.locations.dataStores.siteSearchEngine.enableAdvancedSiteSearch
      parameters:
        - description: Required. Full resource name of the SiteSearchEngine, such as `projects/{project}/locations/{location}/dataStores/{data_store_id}/siteSearchEngine`.
          in: path
          name: siteSearchEngine
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaEnableAdvancedSiteSearchRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  /v1beta/{siteSearchEngine}:fetchDomainVerificationStatus:
    get:
      description: Returns list of target sites with its domain verification status. This method can only be called under data store with BASIC_SITE_SEARCH state at the moment.
      operationId: discoveryengine.projects.locations.collections.dataStores.siteSearchEngine.fetchDomainVerificationStatus
      parameters:
        - description: Required. The site search engine resource under which we fetch all the domain verification status. `projects/{project}/locations/{location}/collections/{collection}/dataStores/{data_store}/siteSearchEngine`.
          in: path
          name: siteSearchEngine
          required: true
          schema:
            type: string
        - description: Requested page size. Server may return fewer items than requested. If unspecified, server will pick an appropriate default. The maximum value is 1000; values above 1000 will be coerced to 1000. If this field is negative, an INVALID_ARGUMENT error is returned.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `FetchDomainVerificationStatus` call. Provide this to retrieve the subsequent page. When paginating, all other parameters provided to `FetchDomainVerificationStatus` must match the call that provided the page token.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaFetchDomainVerificationStatusResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  /v1beta/{siteSearchEngine}:recrawlUris:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Request on-demand recrawl for a list of URIs.
      operationId: discoveryengine.projects.locations.dataStores.siteSearchEngine.recrawlUris
      parameters:
        - description: Required. Full resource name of the SiteSearchEngine, such as `projects/*/locations/*/collections/*/dataStores/*/siteSearchEngine`.
          in: path
          name: siteSearchEngine
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1betaRecrawlUrisRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GoogleLongrunningOperation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    GoogleApiHttpBody:
      description: "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      properties:
        contentType:
          description: The HTTP Content-Type header value specifying the content type of the body.
          type: string
        data:
          description: The HTTP request/response body as raw binary.
          format: byte
          type: string
        extensions:
          description: Application specific response metadata. Must be set in the first response for streaming APIs.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
      type: object
    GoogleCloudDiscoveryengineLoggingErrorContext:
      description: A description of the context in which an error occurred.
      properties:
        httpRequest:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineLoggingHttpRequestContext"
          description: The HTTP request which was processed when the error was triggered.
        reportLocation:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineLoggingSourceLocation"
          description: The location in the source code where the decision was made to report the error, usually the place where it was logged.
      type: object
    GoogleCloudDiscoveryengineLoggingErrorLog:
      description: An error log which is reported to the Error Reporting system.
      properties:
        context:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineLoggingErrorContext"
          description: A description of the context in which the error occurred.
        importPayload:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineLoggingImportErrorContext"
          description: The error payload that is populated on LRO import APIs.
        message:
          description: A message describing the error.
          type: string
        requestPayload:
          additionalProperties:
            description: Properties of the object.
          description: "The API request payload, represented as a protocol buffer. Most API request types are supported—for example: * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.DocumentService.CreateDocumentRequest` * `type.googleapis.com/google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEventRequest`"
          type: object
        responsePayload:
          additionalProperties:
            description: Properties of the object.
          description: 'The API response payload, represented as a protocol buffer. This is used to log some "soft errors", where the response is valid but we consider there are some quality issues like unjoined events. The following API responses are supported, and no PII is included: * `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend` * `google.cloud.discoveryengine.v1alpha.UserEventService.WriteUserEvent` * `google.cloud.discoveryengine.v1alpha.UserEventService.CollectUserEvent`'
          type: object
        serviceContext:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineLoggingServiceContext"
          description: The service context in which this error has occurred.
        status:
          $ref: "#/components/schemas/GoogleRpcStatus"
          description: The RPC status associated with the error log.
      type: object
    GoogleCloudDiscoveryengineLoggingHttpRequestContext:
      description: HTTP request data that is related to a reported error.
      properties:
        responseStatusCode:
          description: The HTTP response status code for the request.
          format: int32
          type: integer
      type: object
    GoogleCloudDiscoveryengineLoggingImportErrorContext:
      description: "The error payload that is populated on LRO import APIs, including the following: * `google.cloud.discoveryengine.v1alpha.DocumentService.ImportDocuments` * `google.cloud.discoveryengine.v1alpha.UserEventService.ImportUserEvents`"
      properties:
        document:
          description: The detailed content which caused the error on importing a document.
          type: string
        gcsPath:
          description: Google Cloud Storage file path of the import source. Can be set for batch operation error.
          type: string
        lineNumber:
          description: Line number of the content in file. Should be empty for permission or batch operation error.
          type: string
        operation:
          description: The operation resource name of the LRO.
          type: string
        userEvent:
          description: The detailed content which caused the error on importing a user event.
          type: string
      type: object
    GoogleCloudDiscoveryengineLoggingServiceContext:
      description: Describes a running service that sends errors.
      properties:
        service:
          description: An identifier of the service—for example, `discoveryengine.googleapis.com`.
          type: string
      type: object
    GoogleCloudDiscoveryengineLoggingSourceLocation:
      description: Indicates a location in the source code of the service for which errors are reported.
      properties:
        functionName:
          description: Human-readable name of a function or method—for example, `google.cloud.discoveryengine.v1alpha.RecommendationService.Recommend`.
          type: string
      type: object
    GoogleCloudDiscoveryengineV1BatchCreateTargetSiteMetadata:
      description: Metadata related to the progress of the SiteSearchEngineService.BatchCreateTargetSites operation. This will be returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1BatchCreateTargetSitesResponse:
      description: Response message for SiteSearchEngineService.BatchCreateTargetSites method.
      properties:
        targetSites:
          description: TargetSites created.
          items:
            $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1TargetSite"
          type: array
      type: object
    GoogleCloudDiscoveryengineV1CreateDataStoreMetadata:
      description: Metadata related to the progress of the DataStoreService.CreateDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1CreateEngineMetadata:
      description: Metadata related to the progress of the EngineService.CreateEngine operation. This will be returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1CreateSchemaMetadata:
      description: Metadata for Create Schema LRO.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1CreateTargetSiteMetadata:
      description: Metadata related to the progress of the SiteSearchEngineService.CreateTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1DataStore:
      description: DataStore captures global settings and configs at the DataStore level.
      properties:
        contentConfig:
          description: Immutable. The content config of the data store. If this field is unset, the server behavior defaults to ContentConfig.NO_CONTENT.
          enum:
            - CONTENT_CONFIG_UNSPECIFIED
            - NO_CONTENT
            - CONTENT_REQUIRED
            - PUBLIC_WEBSITE
          type: string
        createTime:
          description: Output only. Timestamp the DataStore was created at.
          format: google-datetime
          readOnly: true
          type: string
        defaultSchemaId:
          description: Output only. The id of the default Schema asscociated to this data store.
          readOnly: true
          type: string
        displayName:
          description: Required. The data store display name. This field must be a UTF-8 encoded string with a length limit of 128 characters. Otherwise, an INVALID_ARGUMENT error is returned.
          type: string
        documentProcessingConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1DocumentProcessingConfig"
          description: Configuration for Document understanding and enrichment.
        industryVertical:
          description: Immutable. The industry vertical that the data store registers.
          enum:
            - INDUSTRY_VERTICAL_UNSPECIFIED
            - GENERIC
            - MEDIA
          type: string
        name:
          description: "Immutable. The full resource name of the data store. Format: `projects/{project}/locations/{location}/collections/{collection_id}/dataStores/{data_store_id}`. This field must be a UTF-8 encoded string with a length limit of 1024 characters."
          type: string
        solutionTypes:
          description: "The solutions that the data store enrolls. Available solutions for each industry_vertical: * `MEDIA`: `SOLUTION_TYPE_RECOMMENDATION` and `SOLUTION_TYPE_SEARCH`. * `SITE_SEARCH`: `SOLUTION_TYPE_SEARCH` is automatically enrolled. Other solutions cannot be enrolled."
          items:
            enum:
              - SOLUTION_TYPE_UNSPECIFIED
              - SOLUTION_TYPE_RECOMMENDATION
              - SOLUTION_TYPE_SEARCH
              - SOLUTION_TYPE_CHAT
            type: string
          type: array
        startingSchema:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1Schema"
          description: The start schema to use for this DataStore when provisioning it. If unset, a default vertical specialized schema will be used. This field is only used by CreateDataStore API, and will be ignored if used in other APIs. This field will be omitted from all API responses including CreateDataStore API. To retrieve a schema of a DataStore, use SchemaService.GetSchema API instead. The provided schema will be validated against certain rules on schema. Learn more from [this doc](https://cloud.google.com/generative-ai-app-builder/docs/provide-schema).
      type: object
    GoogleCloudDiscoveryengineV1DeleteDataStoreMetadata:
      description: Metadata related to the progress of the DataStoreService.DeleteDataStore operation. This will be returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1DeleteEngineMetadata:
      description: Metadata related to the progress of the EngineService.DeleteEngine operation. This will be returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1DeleteSchemaMetadata:
      description: Metadata for DeleteSchema LRO.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1DeleteTargetSiteMetadata:
      description: Metadata related to the progress of the SiteSearchEngineService.DeleteTargetSite operation. This will be returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1DigitalParsingConfig:
      description: The digital parsing configurations for documents.
      properties: {}
      type: object
    GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchMetadata:
      description: Metadata related to the progress of the SiteSearchEngineService.DisableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1DisableAdvancedSiteSearchResponse:
      description: Response message for SiteSearchEngineService.DisableAdvancedSiteSearch method.
      properties: {}
      type: object
    GoogleCloudDiscoveryengineV1DocumentProcessingConfig:
      description: A singleton resource of DataStore. It's empty when DataStore is created, which defaults to digital parser. The first call to DataStoreService.UpdateDocumentProcessingConfig method will initialize the config.
      properties:
        defaultParsingConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
          description: Configurations for default Document parser. If not specified, we will configure it as default DigitalParsingConfig, and the default parsing config will be applied to all file types for Document parsing.
        name:
          description: "The full resource name of the Document Processing Config. Format: `projects/*/locations/*/collections/*/dataStores/*/documentProcessingConfig`."
          type: string
        parsingConfigOverrides:
          additionalProperties:
            $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig"
          description: "Map from file type to override the default parsing configuration based on the file type. Supported keys: * `pdf`: Override parsing config for PDF files, either digital parsing, ocr parsing or layout parsing is supported. * `html`: Override parsing config for HTML files, only digital parsing and or layout parsing are supported. * `docx`: Override parsing config for DOCX files, only digital parsing and or layout parsing are supported."
          type: object
      type: object
    GoogleCloudDiscoveryengineV1DocumentProcessingConfigParsingConfig:
      description: Related configurations applied to a specific type of document parser.
      properties:
        digitalParsingConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1DigitalParsingConfig"
          description: Configurations applied to digital parser.
        ocrParsingConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1OcrParsingConfig"
          description: Configurations applied to OCR parser. Currently it only applies to PDFs.
      type: object
    GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchMetadata:
      description: Metadata related to the progress of the SiteSearchEngineService.EnableAdvancedSiteSearch operation. This will be returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1EnableAdvancedSiteSearchResponse:
      description: Response message for SiteSearchEngineService.EnableAdvancedSiteSearch method.
      properties: {}
      type: object
    GoogleCloudDiscoveryengineV1Engine:
      description: Metadata that describes the training and serving parameters of an Engine.
      properties:
        chatEngineConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1EngineChatEngineConfig"
          description: Configurations for the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT.
        chatEngineMetadata:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1EngineChatEngineMetadata"
          description: Output only. Additional information of the Chat Engine. Only applicable if solution_type is SOLUTION_TYPE_CHAT.
          readOnly: true
        commonConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1EngineCommonConfig"
          description: Common config spec that specifies the metadata of the engine.
        createTime:
          description: Output only. Timestamp the Recommendation Engine was created at.
          format: google-datetime
          readOnly: true
          type: string
        dataStoreIds:
          description: The data stores associated with this engine. For SOLUTION_TYPE_SEARCH and SOLUTION_TYPE_RECOMMENDATION type of engines, they can only associate with at most one data store. If solution_type is SOLUTION_TYPE_CHAT, multiple DataStores in the same Collection can be associated here. Note that when used in CreateEngineRequest, one DataStore id must be provided as the system will use it for necessary initializations.
          items:
            type: string
          type: array
        displayName:
          description: Required. The display name of the engine. Should be human readable. UTF-8 encoded string with limit of 1024 characters.
          type: string
        industryVertical:
          description: "The industry vertical that the engine registers. The restriction of the Engine industry vertical is based on DataStore: If unspecified, default to `GENERIC`. Vertical on Engine has to match vertical of the DataStore liniked to the engine."
          enum:
            - INDUSTRY_VERTICAL_UNSPECIFIED
            - GENERIC
            - MEDIA
          type: string
        name:
          description: "Immutable. The fully qualified resource name of the engine. This field must be a UTF-8 encoded string with a length limit of 1024 characters. Format: `projects/{project_number}/locations/{location}/collections/{collection}/engines/{engine}` engine should be 1-63 characters, and valid characters are /a-z0-9*/. Otherwise, an INVALID_ARGUMENT error is returned."
          type: string
        searchEngineConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1EngineSearchEngineConfig"
          description: Configurations for the Search Engine. Only applicable if solution_type is SOLUTION_TYPE_SEARCH.
        solutionType:
          description: Required. The solutions of the engine.
          enum:
            - SOLUTION_TYPE_UNSPECIFIED
            - SOLUTION_TYPE_RECOMMENDATION
            - SOLUTION_TYPE_SEARCH
            - SOLUTION_TYPE_CHAT
          type: string
        updateTime:
          description: Output only. Timestamp the Recommendation Engine was last updated.
          format: google-datetime
          readOnly: true
          type: string
      type: object
    GoogleCloudDiscoveryengineV1EngineChatEngineConfig:
      description: Configurations for a Chat Engine.
      properties:
        agentCreationConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1EngineChatEngineConfigAgentCreationConfig"
          description: The configurationt generate the Dialogflow agent that is associated to this Engine. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.
        dialogflowAgentToLink:
          description: "The resource name of an exist Dialogflow agent to link to this Chat Engine. Customers can either provide `agent_creation_config` to create agent or provide an agent name that links the agent with the Chat engine. Format: `projects//locations//agents/`. Note that the `dialogflow_agent_to_link` are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation. Please use ChatEngineMetadata.dialogflow_agent for actual agent association after Engine is created."
          type: string
      type: object
    GoogleCloudDiscoveryengineV1EngineChatEngineConfigAgentCreationConfig:
      description: Configurations for generating a Dialogflow agent. Note that these configurations are one-time consumed by and passed to Dialogflow service. It means they cannot be retrieved using EngineService.GetEngine or EngineService.ListEngines API after engine creation.
      properties:
        business:
          description: Name of the company, organization or other entity that the agent represents. Used for knowledge connector LLM prompt and for knowledge search.
          type: string
        defaultLanguageCode:
          description: Required. The default language of the agent as a language tag. See [Language Support](https://cloud.google.com/dialogflow/docs/reference/language) for a list of the currently supported language codes.
          type: string
        location:
          description: "Agent location for Agent creation, supported values: global/us/eu. If not provided, us Engine will create Agent using us-central-1 by default; eu Engine will create Agent using eu-west-1 by default."
          type: string
        timeZone:
          description: Required. The time zone of the agent from the [time zone database](https://www.iana.org/time-zones), e.g., America/New_York, Europe/Paris.
          type: string
      type: object
    GoogleCloudDiscoveryengineV1EngineChatEngineMetadata:
      description: Additional information of a Chat Engine. Fields in this message are output only.
      properties:
        dialogflowAgent:
          description: "The resource name of a Dialogflow agent, that this Chat Engine refers to. Format: `projects//locations//agents/`."
          type: string
      type: object
    GoogleCloudDiscoveryengineV1EngineCommonConfig:
      description: Common configurations for an Engine.
      properties:
        companyName:
          description: Immutable. The name of the company, business or entity that is associated with the engine. Setting this may help improve LLM related features.
          type: string
      type: object
    GoogleCloudDiscoveryengineV1EngineSearchEngineConfig:
      description: Configurations for a Search Engine.
      properties:
        searchAddOns:
          description: The add-on that this search engine enables.
          items:
            enum:
              - SEARCH_ADD_ON_UNSPECIFIED
              - SEARCH_ADD_ON_LLM
            type: string
          type: array
        searchTier:
          description: The search feature tier of this engine. Different tiers might have different pricing. To learn more, please check the pricing documentation. Defaults to SearchTier.SEARCH_TIER_STANDARD if not specified.
          enum:
            - SEARCH_TIER_UNSPECIFIED
            - SEARCH_TIER_STANDARD
            - SEARCH_TIER_ENTERPRISE
          type: string
      type: object
    GoogleCloudDiscoveryengineV1ImportDocumentsMetadata:
      description: Metadata related to the progress of the ImportDocuments operation. This is returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        failureCount:
          description: Count of entries that encountered errors while processing.
          format: int64
          type: string
        successCount:
          description: Count of entries that were processed successfully.
          format: int64
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1ImportDocumentsResponse:
      description: Response of the ImportDocumentsRequest. If the long running operation is done, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.
      properties:
        errorConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1ImportErrorConfig"
          description: Echoes the destination for the complete errors in the request if set.
        errorSamples:
          description: A sample of errors encountered while processing the request.
          items:
            $ref: "#/components/schemas/GoogleRpcStatus"
          type: array
      type: object
    GoogleCloudDiscoveryengineV1ImportErrorConfig:
      description: Configuration of destination for Import related errors.
      properties:
        gcsPrefix:
          description: Cloud Storage prefix for import errors. This must be an empty, existing Cloud Storage directory. Import errors are written to sharded files in this directory, one per line, as a JSON-encoded `google.rpc.Status` message.
          type: string
      type: object
    GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesMetadata:
      description: Metadata related to the progress of the ImportSuggestionDenyListEntries operation. This is returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1ImportSuggestionDenyListEntriesResponse:
      description: Response message for CompletionService.ImportSuggestionDenyListEntries method.
      properties:
        errorSamples:
          description: A sample of errors encountered while processing the request.
          items:
            $ref: "#/components/schemas/GoogleRpcStatus"
          type: array
        failedEntriesCount:
          description: Count of deny list entries that failed to be imported.
          format: int64
          type: string
        importedEntriesCount:
          description: Count of deny list entries successfully imported.
          format: int64
          type: string
      type: object
    GoogleCloudDiscoveryengineV1ImportUserEventsMetadata:
      description: Metadata related to the progress of the Import operation. This is returned by the google.longrunning.Operation.metadata field.
      properties:
        createTime:
          description: Operation create time.
          format: google-datetime
          type: string
        failureCount:
          description: Count of entries that encountered errors while processing.
          format: int64
          type: string
        successCount:
          description: Count of entries that were processed successfully.
          format: int64
          type: string
        updateTime:
          description: Operation last update time. If the operation is done, this is also the finish time.
          format: google-datetime
          type: string
      type: object
    GoogleCloudDiscoveryengineV1ImportUserEventsResponse:
      description: Response of the ImportUserEventsRequest. If the long running operation was successful, then this message is returned by the google.longrunning.Operations.response field if the operation was successful.
      properties:
        errorConfig:
          $ref: "#/components/schemas/GoogleCloudDiscoveryengineV1ImportErrorConfig"
          description: Echoes the destination for the complete errors if this field was set in the request.
        errorSamples:
          description: A sample of errors encountered while processing the request.
          items:
            $ref: "#/components/schemas/GoogleRpcStatus"
          type: array
        joinedEventsCount:
          description: Count of user events imported with complete existing Documents.
          format: int64
          type: string
        unjoinedEventsCount:
          description: Count of user events imported, but with Document information not found in the existing Branch.
          format: int64
          type: string
      type: object
    GoogleCloudDiscoveryengineV1OcrParsingConfig:
      description: The OCR parsing configurations for documents.
      properties:
        enhancedDocumentElements:
          description: "Apply additional enhanced OCR processing to a list of document elements. Supported values: * `table`: advanced table parsing model."
          items:
            type: string
          type: array
        useNativeText:
          description: If true, will use native text instead of OCR text on pages containing native text.
          type: boolean
      type: object
    GoogleCloudDiscoveryengineV1PurgeDocumentsMetadata:
[...]
