openapi: 3.0.0
servers:
  - url: 'http://cloudhsm.amazonaws.com/'
info:
  version: '2014-05-30'
  x-release: v4
  title: Amazon CloudHSM
  description: <fullname>AWS CloudHSM Service</fullname>
  x-logo:
    url: 'https://media.amazonwebservices.com/blog/2007/big_pbaws_logo_300px.jpg'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: cloudhsm
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudhsm-2014-05-30.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/cloudhsm/'
x-hasEquivalentPaths: true
security:
  - hmac: []
paths:
  /:
    post:
      operationId: AddTagsToResource
      description: <p>Adds or overwrites one or more tags for the specified AWS CloudHSM resource.</p> <p>Each tag consists of a key and a value. Tag keys must be unique to each resource.</p>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddTagsToResourceResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddTagsToResourceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateHapg':
    post:
      operationId: CreateHapg
      description: Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateHapgResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHapgRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateHsm':
    post:
      operationId: CreateHsm
      description: '<p>Creates an uninitialized HSM instance.</p> <p>There is an upfront fee charged for each HSM instance that you create with the <a>CreateHsm</a> operation. If you accidentally provision an HSM and want to request a refund, delete the instance using the <a>DeleteHsm</a> operation, go to the <a href="https://console.aws.amazon.com/support/home#/">AWS Support Center</a>, create a new case, and select <b>Account and Billing Support</b>.</p> <important> <p>It can take up to 20 minutes to create and provision an HSM. You can monitor the status of the HSM with the <a>DescribeHsm</a> operation. The HSM is ready to be initialized when the status changes to <code>RUNNING</code>.</p> </important>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateHsmResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateHsmRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#CreateLunaClient':
    post:
      operationId: CreateLunaClient
      description: Creates an HSM client.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateLunaClientResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateLunaClientRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteHapg':
    post:
      operationId: DeleteHapg
      description: Deletes a high-availability partition group.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteHapgResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteHapgRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteHsm':
    post:
      operationId: DeleteHsm
      description: 'Deletes an HSM. After completion, this operation cannot be undone and your key material cannot be recovered.'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteHsmResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteHsmRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DeleteLunaClient':
    post:
      operationId: DeleteLunaClient
      description: Deletes a client.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeleteLunaClientResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteLunaClientRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeHapg':
    post:
      operationId: DescribeHapg
      description: Retrieves information about a high-availability partition group.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeHapgResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeHapgRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeHsm':
    post:
      operationId: DescribeHsm
      description: Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeHsmResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeHsmRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#DescribeLunaClient':
    post:
      operationId: DescribeLunaClient
      description: Retrieves information about an HSM client.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeLunaClientResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DescribeLunaClientRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#GetConfig':
    post:
      operationId: GetConfig
      description: Gets the configuration files necessary to connect to all high availability partition groups the client is associated with.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConfigResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetConfigRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListAvailableZones':
    post:
      operationId: ListAvailableZones
      description: Lists the Availability Zones that have available AWS CloudHSM capacity.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAvailableZonesResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAvailableZonesRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListHapgs':
    post:
      operationId: ListHapgs
      description: '<p>Lists the high-availability partition groups for the account.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHapgs</a> to retrieve the next set of items.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHapgsResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListHapgsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListHsms':
    post:
      operationId: ListHsms
      description: '<p>Retrieves the identifiers of all of the HSMs provisioned for the current customer.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListHsms</a> to retrieve the next set of items.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListHsmsResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListHsmsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListLunaClients':
    post:
      operationId: ListLunaClients
      description: '<p>Lists all of the clients.</p> <p>This operation supports pagination with the use of the <i>NextToken</i> member. If more results are available, the <i>NextToken</i> member of the response contains a token that you pass in the next call to <a>ListLunaClients</a> to retrieve the next set of items.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListLunaClientsResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListLunaClientsRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForResource':
    post:
      operationId: ListTagsForResource
      description: Returns a list of all tags for the specified AWS CloudHSM resource.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListTagsForResourceResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListTagsForResourceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ModifyHapg':
    post:
      operationId: ModifyHapg
      description: Modifies an existing high-availability partition group.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyHapgResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyHapgRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ModifyHsm':
    post:
      operationId: ModifyHsm
      description: '<p>Modifies an HSM.</p> <important> <p>This operation can result in the HSM being offline for up to 15 minutes while the AWS CloudHSM service is reconfigured. If you are modifying a production HSM, you should ensure that your AWS CloudHSM service is configured for high availability, and consider executing this operation during a maintenance window.</p> </important>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyHsmResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyHsmRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#ModifyLunaClient':
    post:
      operationId: ModifyLunaClient
      description: <p>Modifies the certificate used by the client.</p> <p>This action can potentially start a workflow to install the new certificate on the client's HSMs.</p>
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ModifyLunaClientResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ModifyLunaClientRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
  '/#RemoveTagsFromResource':
    post:
      operationId: RemoveTagsFromResource
      description: '<p>Removes one or more tags from the specified AWS CloudHSM resource.</p> <p>To remove a tag, specify only the tag key to remove (not the value). To overwrite the value for an existing tag, use <a>AddTagsToResource</a>.</p>'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RemoveTagsFromResourceResponse'
        '480':
          description: CloudHsmServiceException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InvalidRequestException'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveTagsFromResourceRequest'
        required: true
    parameters:
      - $ref: '#/components/parameters/Action'
      - $ref: '#/components/parameters/Version'
      - $ref: '#/components/parameters/X-Amz-Content-Sha256'
      - $ref: '#/components/parameters/X-Amz-Date'
      - $ref: '#/components/parameters/X-Amz-Algorithm'
      - $ref: '#/components/parameters/X-Amz-Credential'
      - $ref: '#/components/parameters/X-Amz-Security-Token'
      - $ref: '#/components/parameters/X-Amz-Signature'
      - $ref: '#/components/parameters/X-Amz-SignedHeaders'
components:
  schemas:
    AZ:
      type: string
      pattern: '[a-zA-Z0-9\-]*'
    AZList:
      type: array
      items:
        $ref: '#/components/schemas/AZ'
    AddTagsToResourceRequest:
      type: object
      required:
        - ResourceArn
        - TagList
      properties:
        ResourceArn:
          $ref: '#/components/schemas/String'
        TagList:
          $ref: '#/components/schemas/TagList'
    AddTagsToResourceResponse:
      type: object
      required:
        - Status
      properties:
        Status:
          $ref: '#/components/schemas/String'
    Boolean:
      type: boolean
    Certificate:
      type: string
      pattern: '[\w :+=./\n-]*'
      minLength: 600
      maxLength: 2400
    CertificateFingerprint:
      type: string
      pattern: '([0-9a-fA-F][0-9a-fA-F]:){15}[0-9a-fA-F][0-9a-fA-F]'
    ClientArn:
      type: string
      pattern: 'arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:client-[0-9a-f]{8}'
    ClientLabel:
      type: string
      pattern: '[a-zA-Z0-9_.-]{2,64}'
    ClientList:
      type: array
      items:
        $ref: '#/components/schemas/ClientArn'
    ClientToken:
      type: string
      pattern: '[a-zA-Z0-9]{1,64}'
    ClientVersion:
      type: string
      enum:
        - '5.1'
        - '5.3'
    CloudHsmInternalException:
      type: object
      properties: {}
      description: Indicates that an internal error occurred.
    CloudHsmObjectState:
      type: string
      enum:
        - READY
        - UPDATING
        - DEGRADED
    CloudHsmServiceException:
      type: object
      properties:
        message:
          $ref: '#/components/schemas/String'
        retryable:
          $ref: '#/components/schemas/Boolean'
      description: Indicates that an exception occurred in the AWS CloudHSM service.
    CreateHapgRequest:
      type: object
      required:
        - Label
      properties:
        Label:
          $ref: '#/components/schemas/Label'
      description: Contains the inputs for the <a>CreateHapgRequest</a> action.
    CreateHapgResponse:
      type: object
      properties:
        HapgArn:
          $ref: '#/components/schemas/HapgArn'
      description: Contains the output of the <a>CreateHAPartitionGroup</a> action.
    CreateHsmRequest:
      type: object
      required:
        - SubnetId
        - SshKey
        - IamRoleArn
        - SubscriptionType
      properties:
        SubnetId:
          $ref: '#/components/schemas/SubnetId'
        SshKey:
          $ref: '#/components/schemas/SshKey'
        EniIp:
          $ref: '#/components/schemas/IpAddress'
        IamRoleArn:
          $ref: '#/components/schemas/IamRoleArn'
        ExternalId:
          $ref: '#/components/schemas/ExternalId'
        SubscriptionType:
          $ref: '#/components/schemas/SubscriptionType'
        ClientToken:
          $ref: '#/components/schemas/ClientToken'
        SyslogIp:
          $ref: '#/components/schemas/IpAddress'
      description: Contains the inputs for the <a>CreateHsm</a> operation.
    CreateHsmResponse:
      type: object
      properties:
        HsmArn:
          $ref: '#/components/schemas/HsmArn'
      description: Contains the output of the <a>CreateHsm</a> operation.
    CreateLunaClientRequest:
      type: object
      required:
        - Certificate
      properties:
        Label:
          $ref: '#/components/schemas/ClientLabel'
        Certificate:
          $ref: '#/components/schemas/Certificate'
      description: Contains the inputs for the <a>CreateLunaClient</a> action.
    CreateLunaClientResponse:
      type: object
      properties:
        ClientArn:
          $ref: '#/components/schemas/ClientArn'
      description: Contains the output of the <a>CreateLunaClient</a> action.
    DeleteHapgRequest:
      type: object
      required:
        - HapgArn
      properties:
        HapgArn:
          $ref: '#/components/schemas/HapgArn'
      description: Contains the inputs for the <a>DeleteHapg</a> action.
    DeleteHapgResponse:
      type: object
      required:
        - Status
      properties:
        Status:
          $ref: '#/components/schemas/String'
      description: Contains the output of the <a>DeleteHapg</a> action.
    DeleteHsmRequest:
      type: object
      required:
        - HsmArn
      properties:
        HsmArn:
          $ref: '#/components/schemas/HsmArn'
      description: Contains the inputs for the <a>DeleteHsm</a> operation.
    DeleteHsmResponse:
      type: object
      required:
        - Status
      properties:
        Status:
          $ref: '#/components/schemas/String'
      description: Contains the output of the <a>DeleteHsm</a> operation.
    DeleteLunaClientRequest:
      type: object
      required:
        - ClientArn
      properties:
        ClientArn:
          $ref: '#/components/schemas/ClientArn'
    DeleteLunaClientResponse:
      type: object
      required:
        - Status
      properties:
        Status:
          $ref: '#/components/schemas/String'
    DescribeHapgRequest:
      type: object
      required:
        - HapgArn
      properties:
        HapgArn:
          $ref: '#/components/schemas/HapgArn'
      description: Contains the inputs for the <a>DescribeHapg</a> action.
    DescribeHapgResponse:
      type: object
      properties:
        HapgArn:
          $ref: '#/components/schemas/HapgArn'
        HapgSerial:
          $ref: '#/components/schemas/String'
        HsmsLastActionFailed:
          $ref: '#/components/schemas/HsmList'
        HsmsPendingDeletion:
          $ref: '#/components/schemas/HsmList'
        HsmsPendingRegistration:
          $ref: '#/components/schemas/HsmList'
        Label:
          $ref: '#/components/schemas/Label'
        LastModifiedTimestamp:
          $ref: '#/components/schemas/Timestamp'
        PartitionSerialList:
          $ref: '#/components/schemas/PartitionSerialList'
        State:
          $ref: '#/components/schemas/CloudHsmObjectState'
      description: Contains the output of the <a>DescribeHapg</a> action.
    DescribeHsmRequest:
      type: object
      properties:
        HsmArn:
          $ref: '#/components/schemas/HsmArn'
        HsmSerialNumber:
          $ref: '#/components/schemas/HsmSerialNumber'
      description: 'Contains the inputs for the <a>DescribeHsm</a> operation. '
    DescribeHsmResponse:
      type: object
      properties:
        HsmArn:
          $ref: '#/components/schemas/HsmArn'
        Status:
          $ref: '#/components/schemas/HsmStatus'
        StatusDetails:
          $ref: '#/components/schemas/String'
        AvailabilityZone:
          $ref: '#/components/schemas/AZ'
        EniId:
          $ref: '#/components/schemas/EniId'
        EniIp:
          $ref: '#/components/schemas/IpAddress'
        SubscriptionType:
          $ref: '#/components/schemas/SubscriptionType'
        SubscriptionStartDate:
          $ref: '#/components/schemas/Timestamp'
        SubscriptionEndDate:
          $ref: '#/components/schemas/Timestamp'
        VpcId:
          $ref: '#/components/schemas/VpcId'
        SubnetId:
          $ref: '#/components/schemas/SubnetId'
        IamRoleArn:
          $ref: '#/components/schemas/IamRoleArn'
        SerialNumber:
          $ref: '#/components/schemas/HsmSerialNumber'
        VendorName:
          $ref: '#/components/schemas/String'
        HsmType:
          $ref: '#/components/schemas/String'
        SoftwareVersion:
          $ref: '#/components/schemas/String'
        SshPublicKey:
          $ref: '#/components/schemas/SshKey'
        SshKeyLastUpdated:
          $ref: '#/components/schemas/Timestamp'
        ServerCertUri:
          $ref: '#/components/schemas/String'
        ServerCertLastUpdated:
          $ref: '#/components/schemas/Timestamp'
        Partitions:
          $ref: '#/components/schemas/PartitionList'
      description: Contains the output of the <a>DescribeHsm</a> operation.
    DescribeLunaClientRequest:
      type: object
      properties:
        ClientArn:
          $ref: '#/components/schemas/ClientArn'
        CertificateFingerprint:
          $ref: '#/components/schemas/CertificateFingerprint'
    DescribeLunaClientResponse:
      type: object
      properties:
        ClientArn:
          $ref: '#/components/schemas/ClientArn'
        Certificate:
          $ref: '#/components/schemas/Certificate'
        CertificateFingerprint:
          $ref: '#/components/schemas/CertificateFingerprint'
        LastModifiedTimestamp:
          $ref: '#/components/schemas/Timestamp'
        Label:
          $ref: '#/components/schemas/Label'
    EniId:
      type: string
      pattern: 'eni-[0-9a-f]{8}'
    ExternalId:
      type: string
      pattern: '[\w :+=./-]*'
    GetConfigRequest:
      type: object
      required:
        - ClientArn
        - ClientVersion
        - HapgList
      properties:
        ClientArn:
          $ref: '#/components/schemas/ClientArn'
        ClientVersion:
          $ref: '#/components/schemas/ClientVersion'
        HapgList:
          $ref: '#/components/schemas/HapgList'
    GetConfigResponse:
      type: object
      properties:
        ConfigType:
          $ref: '#/components/schemas/String'
        ConfigFile:
          $ref: '#/components/schemas/String'
        ConfigCred:
          $ref: '#/components/schemas/String'
    HapgArn:
      type: string
      pattern: 'arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:hapg-[0-9a-f]{8}'
    HapgList:
      type: array
      items:
        $ref: '#/components/schemas/HapgArn'
    HsmArn:
      type: string
      pattern: 'arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:hsm-[0-9a-f]{8}'
      description: An ARN that identifies an HSM.
    HsmList:
      type: array
      description: Contains a list of ARNs that identify the HSMs.
      items:
        $ref: '#/components/schemas/HsmArn'
    HsmSerialNumber:
      type: string
      pattern: '\d{1,16}'
    HsmStatus:
      type: string
      enum:
        - PENDING
        - RUNNING
        - UPDATING
        - SUSPENDED
        - TERMINATING
        - TERMINATED
        - DEGRADED
    IamRoleArn:
      type: string
      pattern: 'arn:aws(-iso)?:iam::[0-9]{12}:role/[a-zA-Z0-9_\+=,\.\-@]{1,64}'
    InvalidRequestException:
      type: object
      properties: {}
      description: Indicates that one or more of the request parameters are not valid.
    IpAddress:
      type: string
      pattern: '\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}'
    Label:
      type: string
      pattern: '[a-zA-Z0-9_.-]{1,64}'
    ListAvailableZonesRequest:
      type: object
      properties: {}
      description: Contains the inputs for the <a>ListAvailableZones</a> action.
    ListAvailableZonesResponse:
      type: object
      properties:
        AZList:
          $ref: '#/components/schemas/AZList'
    ListHapgsRequest:
      type: object
      properties:
        NextToken:
          $ref: '#/components/schemas/PaginationToken'
    ListHapgsResponse:
      type: object
      required:
        - HapgList
      properties:
        HapgList:
          $ref: '#/components/schemas/HapgList'
        NextToken:
          $ref: '#/components/schemas/PaginationToken'
    ListHsmsRequest:
      type: object
      properties:
        NextToken:
          $ref: '#/components/schemas/PaginationToken'
    ListHsmsResponse:
      type: object
      properties:
        HsmList:
          $ref: '#/components/schemas/HsmList'
        NextToken:
          $ref: '#/components/schemas/PaginationToken'
      description: Contains the output of the <a>ListHsms</a> operation.
    ListLunaClientsRequest:
      type: object
      properties:
        NextToken:
          $ref: '#/components/schemas/PaginationToken'
    ListLunaClientsResponse:
      type: object
      required:
        - ClientList
      properties:
        ClientList:
          $ref: '#/components/schemas/ClientList'
        NextToken:
          $ref: '#/components/schemas/PaginationToken'
    ListTagsForResourceRequest:
      type: object
      required:
        - ResourceArn
      properties:
        ResourceArn:
          $ref: '#/components/schemas/String'
    ListTagsForResourceResponse:
      type: object
      required:
        - TagList
      properties:
        TagList:
          $ref: '#/components/schemas/TagList'
    ModifyHapgRequest:
      type: object
      required:
        - HapgArn
      properties:
        HapgArn:
          $ref: '#/components/schemas/HapgArn'
        Label:
          $ref: '#/components/schemas/Label'
        PartitionSerialList:
          $ref: '#/components/schemas/PartitionSerialList'
    ModifyHapgResponse:
      type: object
      properties:
        HapgArn:
          $ref: '#/components/schemas/HapgArn'
    ModifyHsmRequest:
      type: object
      required:
        - HsmArn
      properties:
        HsmArn:
          $ref: '#/components/schemas/HsmArn'
        SubnetId:
          $ref: '#/components/schemas/SubnetId'
        EniIp:
          $ref: '#/components/schemas/IpAddress'
        IamRoleArn:
          $ref: '#/components/schemas/IamRoleArn'
        ExternalId:
          $ref: '#/components/schemas/ExternalId'
        SyslogIp:
          $ref: '#/components/schemas/IpAddress'
      description: Contains the inputs for the <a>ModifyHsm</a> operation.
    ModifyHsmResponse:
      type: object
      properties:
        HsmArn:
          $ref: '#/components/schemas/HsmArn'
      description: Contains the output of the <a>ModifyHsm</a> operation.
    ModifyLunaClientRequest:
      type: object
      required:
        - ClientArn
        - Certificate
      properties:
        ClientArn:
          $ref: '#/components/schemas/ClientArn'
        Certificate:
          $ref: '#/components/schemas/Certificate'
    ModifyLunaClientResponse:
      type: object
      properties:
        ClientArn:
          $ref: '#/components/schemas/ClientArn'
    PaginationToken:
      type: string
      pattern: '[a-zA-Z0-9+/]*'
    PartitionArn:
      type: string
      pattern: 'arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:hsm-[0-9a-f]{8}/partition-[0-9]{6,12}'
    PartitionList:
      type: array
      items:
        $ref: '#/components/schemas/PartitionArn'
    PartitionSerial:
      type: string
      pattern: '\d{6,12}'
    PartitionSerialList:
      type: array
      items:
        $ref: '#/components/schemas/PartitionSerial'
    RemoveTagsFromResourceRequest:
      type: object
      required:
        - ResourceArn
        - TagKeyList
      properties:
        ResourceArn:
          $ref: '#/components/schemas/String'
        TagKeyList:
          $ref: '#/components/schemas/TagKeyList'
    RemoveTagsFromResourceResponse:
      type: object
      required:
        - Status
      properties:
        Status:
          $ref: '#/components/schemas/String'
    SshKey:
      type: string
      pattern: '[a-zA-Z0-9+/= ._:\\@-]*'
    String:
      type: string
      pattern: '[\w :+=./\\-]*'
    SubnetId:
      type: string
      pattern: 'subnet-[0-9a-f]{8}'
    SubscriptionType:
      type: string
      enum:
        - PRODUCTION
      description: <p>Specifies the type of subscription for the HSM.</p> <ul> <li><b>PRODUCTION</b> - The HSM is being used in a production environment.</li> <li><b>TRIAL</b> - The HSM is being used in a product trial.</li> </ul>
    Tag:
      type: object
      required:
        - Key
        - Value
      properties:
        Key:
          $ref: '#/components/schemas/TagKey'
        Value:
          $ref: '#/components/schemas/TagValue'
      description: A key-value pair that identifies or specifies metadata about an AWS CloudHSM resource.
    TagKey:
      type: string
      minLength: 1
      maxLength: 128
    TagKeyList:
      type: array
      items:
        $ref: '#/components/schemas/TagKey'
    TagList:
      type: array
      items:
        $ref: '#/components/schemas/Tag'
    TagValue:
      type: string
      minLength: 0
      maxLength: 256
    Timestamp:
      type: string
      pattern: \d*
    VpcId:
      type: string
      pattern: 'vpc-[0-9a-f]{8}'
  parameters:
    Action:
      name: Action
      in: header
      required: true
      schema:
        type: string
    Version:
      name: Version
      in: header
      required: true
      schema:
        type: string
    X-Amz-Content-Sha256:
      name: X-Amz-Content-Sha256
      in: header
      required: false
      schema:
        type: string
    X-Amz-Date:
      name: X-Amz-Date
      in: header
      required: false
      schema:
        type: string
    X-Amz-Algorithm:
      name: X-Amz-Algorithm
      in: header
      required: false
      schema:
        type: string
    X-Amz-Credential:
      name: X-Amz-Credential
      in: header
      required: false
      schema:
        type: string
    X-Amz-Security-Token:
      name: X-Amz-Security-Token
      in: header
      required: false
      schema:
        type: string
    X-Amz-Signature:
      name: X-Amz-Signature
      in: header
      required: false
      schema:
        type: string
    X-Amz-SignedHeaders:
      name: X-Amz-SignedHeaders
      in: header
      required: false
      schema:
        type: string
  securitySchemes:
    hmac:
      type: apiKey
      name: Authorization
      in: header
      description: Amazon Signature authorization v4
      x-amazon-apigateway-authtype: awsSigv4
