swagger: "2.0"
info:
  version: 2014-05-30
  x-release: v4
  title: Amazon CloudHSM
  description: <fullname>AWS CloudHSM Service</fullname> <p>This is documentation for
    <b>AWS CloudHSM Classic</b>. For more information, see <a
    href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
    FAQs</a>, the <a
    href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM
    Classic User Guide</a>, and the <a
    href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
    CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
    current version of AWS CloudHSM</b>, see <a
    href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
    href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM
    User Guide</a>, and the <a
    href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM
    API Reference</a>.</p>
  x-logo:
    url: https://twitter.com/awscloud/profile_image?size=original
    backgroundColor: "#FFFFFF"
  termsOfService: https://aws.amazon.com/service-terms/
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: https://github.com/mermade/aws2openapi
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: http://www.apache.org/licenses/
  x-providerName: amazonaws.com
  x-serviceName: cloudhsm
  x-origin:
    - contentType: application/json
      url: https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudhsm-2014-05-30.normal.json
      converter:
        url: https://github.com/mermade/aws2openapi
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: https://docs.aws.amazon.com/cloudhsm/
host: cloudhsm.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /#X-Amz-Target=CloudHsmFrontendService.AddTagsToResource:
    post:
      operationId: AddTagsToResource
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Adds or overwrites one or more tags
        for the specified AWS CloudHSM resource.</p> <p>Each tag consists of a
        key and a value. Tag keys must be unique to each resource.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/AddTagsToResourceResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/AddTagsToResourceRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.AddTagsToResource
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.CreateHapg:
    post:
      operationId: CreateHapg
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Creates a high-availability partition
        group. A high-availability partition group is a group of partitions that
        spans multiple physical HSMs.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateHapgResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateHapgRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.CreateHapg
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.CreateHsm:
    post:
      operationId: CreateHsm
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Creates an uninitialized HSM
        instance.</p> <p>There is an upfront fee charged for each HSM instance
        that you create with the <code>CreateHsm</code> operation. If you
        accidentally provision an HSM and want to request a refund, delete the
        instance using the <a>DeleteHsm</a> operation, go to the <a
        href="https://console.aws.amazon.com/support/home">AWS Support
        Center</a>, create a new case, and select <b>Account and Billing
        Support</b>.</p> <important> <p>It can take up to 20 minutes to create
        and provision an HSM. You can monitor the status of the HSM with the
        <a>DescribeHsm</a> operation. The HSM is ready to be initialized when
        the status changes to <code>RUNNING</code>.</p> </important>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateHsmResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateHsmRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.CreateHsm
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.CreateLunaClient:
    post:
      operationId: CreateLunaClient
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Creates an HSM client.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/CreateLunaClientResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/CreateLunaClientRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.CreateLunaClient
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.DeleteHapg:
    post:
      operationId: DeleteHapg
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Deletes a high-availability partition
        group.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeleteHapgResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DeleteHapgRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.DeleteHapg
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.DeleteHsm:
    post:
      operationId: DeleteHsm
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Deletes an HSM. After completion,
        this operation cannot be undone and your key material cannot be
        recovered.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeleteHsmResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DeleteHsmRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.DeleteHsm
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.DeleteLunaClient:
    post:
      operationId: DeleteLunaClient
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Deletes a client.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DeleteLunaClientResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DeleteLunaClientRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.DeleteLunaClient
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.DescribeHapg:
    post:
      operationId: DescribeHapg
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Retrieves information about a
        high-availability partition group.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeHapgResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DescribeHapgRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.DescribeHapg
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.DescribeHsm:
    post:
      operationId: DescribeHsm
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Retrieves information about an HSM.
        You can identify the HSM by its ARN or its serial number.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeHsmResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DescribeHsmRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.DescribeHsm
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.DescribeLunaClient:
    post:
      operationId: DescribeLunaClient
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Retrieves information about an HSM
        client.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/DescribeLunaClientResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/DescribeLunaClientRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.DescribeLunaClient
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.GetConfig:
    post:
      operationId: GetConfig
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Gets the configuration files
        necessary to connect to all high availability partition groups the
        client is associated with.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/GetConfigResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/GetConfigRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.GetConfig
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.ListAvailableZones:
    post:
      operationId: ListAvailableZones
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Lists the Availability Zones that
        have available AWS CloudHSM capacity.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListAvailableZonesResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ListAvailableZonesRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.ListAvailableZones
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.ListHapgs:
    post:
      operationId: ListHapgs
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Lists the high-availability partition
        groups for the account.</p> <p>This operation supports pagination with
        the use of the <code>NextToken</code> member. If more results are
        available, the <code>NextToken</code> member of the response contains a
        token that you pass in the next call to <code>ListHapgs</code> to
        retrieve the next set of items.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListHapgsResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ListHapgsRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.ListHapgs
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.ListHsms:
    post:
      operationId: ListHsms
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Retrieves the identifiers of all of
        the HSMs provisioned for the current customer.</p> <p>This operation
        supports pagination with the use of the <code>NextToken</code> member.
        If more results are available, the <code>NextToken</code> member of the
        response contains a token that you pass in the next call to
        <code>ListHsms</code> to retrieve the next set of items.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListHsmsResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ListHsmsRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.ListHsms
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.ListLunaClients:
    post:
      operationId: ListLunaClients
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Lists all of the clients.</p> <p>This
        operation supports pagination with the use of the <code>NextToken</code>
        member. If more results are available, the <code>NextToken</code> member
        of the response contains a token that you pass in the next call to
        <code>ListLunaClients</code> to retrieve the next set of items.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListLunaClientsResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ListLunaClientsRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.ListLunaClients
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.ListTagsForResource:
    post:
      operationId: ListTagsForResource
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Returns a list of all tags for the
        specified AWS CloudHSM resource.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ListTagsForResourceResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ListTagsForResourceRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.ListTagsForResource
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.ModifyHapg:
    post:
      operationId: ModifyHapg
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Modifies an existing
        high-availability partition group.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ModifyHapgResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ModifyHapgRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.ModifyHapg
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.ModifyHsm:
    post:
      operationId: ModifyHsm
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Modifies an HSM.</p> <important>
        <p>This operation can result in the HSM being offline for up to 15
        minutes while the AWS CloudHSM service is reconfigured. If you are
        modifying a production HSM, you should ensure that your AWS CloudHSM
        service is configured for high availability, and consider executing this
        operation during a maintenance window.</p> </important>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ModifyHsmResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ModifyHsmRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.ModifyHsm
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.ModifyLunaClient:
    post:
      operationId: ModifyLunaClient
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Modifies the certificate used by the
        client.</p> <p>This action can potentially start a workflow to install
        the new certificate on the client's HSMs.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ModifyLunaClientResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/ModifyLunaClientRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.ModifyLunaClient
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
  /#X-Amz-Target=CloudHsmFrontendService.RemoveTagsFromResource:
    post:
      operationId: RemoveTagsFromResource
      description: <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more
        information, see <a
        href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic
        FAQs</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS
        CloudHSM Classic User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS
        CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the
        current version of AWS CloudHSM</b>, see <a
        href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS
        CloudHSM User Guide</a>, and the <a
        href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS
        CloudHSM API Reference</a>.</p> <p>Removes one or more tags from the
        specified AWS CloudHSM resource.</p> <p>To remove a tag, specify only
        the tag key to remove (not the value). To overwrite the value for an
        existing tag, use <a>AddTagsToResource</a>.</p>
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/RemoveTagsFromResourceResponse"
        "480":
          description: CloudHsmServiceException
          schema:
            $ref: "#/definitions/CloudHsmServiceException"
        "481":
          description: CloudHsmInternalException
          schema:
            $ref: "#/definitions/CloudHsmInternalException"
        "482":
          description: InvalidRequestException
          schema:
            $ref: "#/definitions/InvalidRequestException"
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: "#/definitions/RemoveTagsFromResourceRequest"
        - name: X-Amz-Target
          in: header
          required: true
          type: string
          enum:
            - CloudHsmFrontendService.RemoveTagsFromResource
    parameters:
      - $ref: "#/parameters/X-Amz-Content-Sha256"
      - $ref: "#/parameters/X-Amz-Date"
      - $ref: "#/parameters/X-Amz-Algorithm"
      - $ref: "#/parameters/X-Amz-Credential"
      - $ref: "#/parameters/X-Amz-Security-Token"
      - $ref: "#/parameters/X-Amz-Signature"
      - $ref: "#/parameters/X-Amz-SignedHeaders"
definitions:
  AddTagsToResourceResponse:
    type: object
    required:
      - Status
    properties:
      Status:
        $ref: "#/definitions/String"
        description: The status of the operation.
  AddTagsToResourceRequest:
    type: object
    required:
      - ResourceArn
      - TagList
    properties:
      ResourceArn:
        $ref: "#/definitions/String"
        description: The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.
      TagList:
        $ref: "#/definitions/TagList"
        description: One or more tags.
  CloudHsmServiceException:
    type: object
    properties:
      message:
        $ref: "#/definitions/String"
        description: Additional information about the error.
      retryable:
        $ref: "#/definitions/Boolean"
        description: Indicates if the action can be retried.
    description: Indicates that an exception occurred in the AWS CloudHSM service.
  CloudHsmInternalException:
    type: object
    properties: {}
    description: Indicates that an internal error occurred.
  InvalidRequestException:
    type: object
    properties: {}
    description: Indicates that one or more of the request parameters are not valid.
  CreateHapgResponse:
    type: object
    properties:
      HapgArn:
        $ref: "#/definitions/HapgArn"
        description: The ARN of the high-availability partition group.
    description: Contains the output of the <a>CreateHAPartitionGroup</a> action.
  CreateHapgRequest:
    type: object
    required:
      - Label
    properties:
      Label:
        $ref: "#/definitions/Label"
        description: The label of the new high-availability partition group.
    description: Contains the inputs for the <a>CreateHapgRequest</a> action.
  CreateHsmResponse:
    type: object
    properties:
      HsmArn:
        $ref: "#/definitions/HsmArn"
        description: The ARN of the HSM.
    description: Contains the output of the <code>CreateHsm</code> operation.
  CreateHsmRequest:
    type: object
    required:
      - SubnetId
      - SshKey
      - IamRoleArn
      - SubscriptionType
    properties:
      SubnetId:
        $ref: "#/definitions/SubnetId"
        description: The identifier of the subnet in your VPC in which to place the HSM.
      SshKey:
        $ref: "#/definitions/SshKey"
        description: The SSH public key to install on the HSM.
      EniIp:
        $ref: "#/definitions/IpAddress"
        description: <p>The IP address to assign to the HSM's ENI.</p> <p>If an IP address
          is not specified, an IP address will be randomly chosen from the CIDR
          range of the subnet.</p>
      IamRoleArn:
        $ref: "#/definitions/IamRoleArn"
        description: The ARN of an IAM role to enable the AWS CloudHSM service to allocate
          an ENI on your behalf.
      ExternalId:
        $ref: "#/definitions/ExternalId"
        description: The external ID from <code>IamRoleArn</code>, if present.
      SubscriptionType:
        $ref: "#/definitions/SubscriptionType"
      ClientToken:
        $ref: "#/definitions/ClientToken"
        description: A user-defined token to ensure idempotence. Subsequent calls to this
          operation with the same token will be ignored.
      SyslogIp:
        $ref: "#/definitions/IpAddress"
        description: The IP address for the syslog monitoring server. The AWS CloudHSM
          service only supports one syslog monitoring server.
    description: Contains the inputs for the <code>CreateHsm</code> operation.
  CreateLunaClientResponse:
    type: object
    properties:
      ClientArn:
        $ref: "#/definitions/ClientArn"
        description: The ARN of the client.
    description: Contains the output of the <a>CreateLunaClient</a> action.
  CreateLunaClientRequest:
    type: object
    required:
      - Certificate
    properties:
      Label:
        $ref: "#/definitions/ClientLabel"
        description: The label for the client.
      Certificate:
        $ref: "#/definitions/Certificate"
        description: The contents of a Base64-Encoded X.509 v3 certificate to be installed
          on the HSMs used by this client.
    description: Contains the inputs for the <a>CreateLunaClient</a> action.
  DeleteHapgResponse:
    type: object
    required:
      - Status
    properties:
      Status:
        $ref: "#/definitions/String"
        description: The status of the action.
    description: Contains the output of the <a>DeleteHapg</a> action.
  DeleteHapgRequest:
    type: object
    required:
      - HapgArn
    properties:
      HapgArn:
        $ref: "#/definitions/HapgArn"
        description: The ARN of the high-availability partition group to delete.
    description: Contains the inputs for the <a>DeleteHapg</a> action.
  DeleteHsmResponse:
    type: object
    required:
      - Status
    properties:
      Status:
        $ref: "#/definitions/String"
        description: The status of the operation.
    description: Contains the output of the <a>DeleteHsm</a> operation.
  DeleteHsmRequest:
    type: object
    required:
      - HsmArn
    properties:
      HsmArn:
        $ref: "#/definitions/HsmArn"
        description: The ARN of the HSM to delete.
    description: Contains the inputs for the <a>DeleteHsm</a> operation.
  DeleteLunaClientResponse:
    type: object
    required:
      - Status
    properties:
      Status:
        $ref: "#/definitions/String"
        description: The status of the action.
  DeleteLunaClientRequest:
    type: object
    required:
      - ClientArn
    properties:
      ClientArn:
        $ref: "#/definitions/ClientArn"
        description: The ARN of the client to delete.
  DescribeHapgResponse:
    type: object
    properties:
      HapgArn:
        $ref: "#/definitions/HapgArn"
        description: The ARN of the high-availability partition group.
      HapgSerial:
        $ref: "#/definitions/String"
        description: The serial number of the high-availability partition group.
      HsmsLastActionFailed:
        $ref: "#/definitions/HsmList"
        description: <p/>
      HsmsPendingDeletion:
        $ref: "#/definitions/HsmList"
        description: <p/>
      HsmsPendingRegistration:
        $ref: "#/definitions/HsmList"
        description: <p/>
      Label:
        $ref: "#/definitions/Label"
        description: The label for the high-availability partition group.
      LastModifiedTimestamp:
        $ref: "#/definitions/Timestamp"
        description: The date and time the high-availability partition group was last
          modified.
      PartitionSerialList:
        $ref: "#/definitions/PartitionSerialList"
        description: The list of partition serial numbers that belong to the
          high-availability partition group.
      State:
        $ref: "#/definitions/CloudHsmObjectState"
        description: The state of the high-availability partition group.
    description: Contains the output of the <a>DescribeHapg</a> action.
  DescribeHapgRequest:
    type: object
    required:
      - HapgArn
    properties:
      HapgArn:
        $ref: "#/definitions/HapgArn"
        description: The ARN of the high-availability partition group to describe.
    description: Contains the inputs for the <a>DescribeHapg</a> action.
  DescribeHsmResponse:
    type: object
    properties:
      HsmArn:
        $ref: "#/definitions/HsmArn"
        description: The ARN of the HSM.
      Status:
        $ref: "#/definitions/HsmStatus"
        description: The status of the HSM.
      StatusDetails:
        $ref: "#/definitions/String"
        description: Contains additional information about the status of the HSM.
      AvailabilityZone:
        $ref: "#/definitions/AZ"
        description: The Availability Zone that the HSM is in.
      EniId:
        $ref: "#/definitions/EniId"
        description: The identifier of the elastic network interface (ENI) attached to the
          HSM.
      EniIp:
        $ref: "#/definitions/IpAddress"
        description: The IP address assigned to the HSM's ENI.
      SubscriptionType:
        $ref: "#/definitions/SubscriptionType"
      SubscriptionStartDate:
        $ref: "#/definitions/Timestamp"
        description: The subscription start date.
      SubscriptionEndDate:
        $ref: "#/definitions/Timestamp"
        description: The subscription end date.
      VpcId:
        $ref: "#/definitions/VpcId"
        description: The identifier of the VPC that the HSM is in.
      SubnetId:
        $ref: "#/definitions/SubnetId"
        description: The identifier of the subnet that the HSM is in.
      IamRoleArn:
        $ref: "#/definitions/IamRoleArn"
        description: The ARN of the IAM role assigned to the HSM.
      SerialNumber:
        $ref: "#/definitions/HsmSerialNumber"
        description: The serial number of the HSM.
      VendorName:
        $ref: "#/definitions/String"
        description: The name of the HSM vendor.
      HsmType:
        $ref: "#/definitions/String"
        description: The HSM model type.
      SoftwareVersion:
        $ref: "#/definitions/String"
        description: The HSM software version.
      SshPublicKey:
        $ref: "#/definitions/SshKey"
        description: The public SSH key.
      SshKeyLastUpdated:
        $ref: "#/definitions/Timestamp"
        description: The date and time that the SSH key was last updated.
      ServerCertUri:
        $ref: "#/definitions/String"
        description: The URI of the certificate server.
      ServerCertLastUpdated:
        $ref: "#/definitions/Timestamp"
        description: The date and time that the server certificate was last updated.
      Partitions:
        $ref: "#/definitions/PartitionList"
        description: The list of partitions on the HSM.
    description: Contains the output of the <a>DescribeHsm</a> operation.
  DescribeHsmRequest:
    type: object
    properties:
      HsmArn:
        $ref: "#/definitions/HsmArn"
        description: The ARN of the HSM. Either the <code>HsmArn</code> or the
          <code>SerialNumber</code> parameter must be specified.
      HsmSerialNumber:
        $ref: "#/definitions/HsmSerialNumber"
        description: The serial number of the HSM. Either the <code>HsmArn</code> or the
          <code>HsmSerialNumber</code> parameter must be specified.
    description: Contains the inputs for the <a>DescribeHsm</a> operation.
  DescribeLunaClientResponse:
    type: object
    properties:
      ClientArn:
        $ref: "#/definitions/ClientArn"
        description: The ARN of the client.
      Certificate:
        $ref: "#/definitions/Certificate"
        description: The certificate installed on the HSMs used by this client.
      CertificateFingerprint:
        $ref: "#/definitions/CertificateFingerprint"
        description: The certificate fingerprint.
      LastModifiedTimestamp:
        $ref: "#/definitions/Timestamp"
        description: The date and time the client was last modified.
      Label:
        $ref: "#/definitions/Label"
        description: The label of the client.
  DescribeLunaClientRequest:
    type: object
    properties:
      ClientArn:
        $ref: "#/definitions/ClientArn"
        description: The ARN of the client.
      CertificateFingerprint:
        $ref: "#/definitions/CertificateFingerprint"
        description: The certificate fingerprint.
  GetConfigResponse:
    type: object
    properties:
      ConfigType:
        $ref: "#/definitions/String"
        description: The type of credentials.
      ConfigFile:
        $ref: "#/definitions/String"
        description: The chrystoki.conf configuration file.
      ConfigCred:
        $ref: "#/definitions/String"
        description: The certificate file containing the server.pem files of the HSMs.
  GetConfigRequest:
    type: object
    required:
      - ClientArn
      - ClientVersion
      - HapgList
    properties:
      ClientArn:
        $ref: "#/definitions/ClientArn"
        description: The ARN of the client.
      ClientVersion:
        $ref: "#/definitions/ClientVersion"
        description: The client version.
      HapgList:
        $ref: "#/definitions/HapgList"
        description: A list of ARNs that identify the high-availability partition groups
          that are associated with the client.
  ListAvailableZonesResponse:
    type: object
    properties:
      AZList:
        $ref: "#/definitions/AZList"
        description: The list of Availability Zones that have available AWS CloudHSM
          capacity.
  ListAvailableZonesRequest:
    type: object
    properties: {}
    description: Contains the inputs for the <a>ListAvailableZones</a> action.
  ListHapgsResponse:
    type: object
    required:
      - HapgList
    properties:
      HapgList:
        $ref: "#/definitions/HapgList"
        description: The list of high-availability partition groups.
      NextToken:
        $ref: "#/definitions/PaginationToken"
        description: If not null, more results are available. Pass this value to
          <code>ListHapgs</code> to retrieve the next set of items.
  ListHapgsRequest:
    type: object
    properties:
      NextToken:
        $ref: "#/definitions/PaginationToken"
        description: The <code>NextToken</code> value from a previous call to
          <code>ListHapgs</code>. Pass null if this is the first call.
  ListHsmsResponse:
    type: object
    properties:
      HsmList:
        $ref: "#/definitions/HsmList"
        description: The list of ARNs that identify the HSMs.
      NextToken:
        $ref: "#/definitions/PaginationToken"
        description: If not null, more results are available. Pass this value to
          <code>ListHsms</code> to retrieve the next set of items.
    description: Contains the output of the <code>ListHsms</code> operation.
  ListHsmsRequest:
    type: object
    properties:
      NextToken:
        $ref: "#/definitions/PaginationToken"
        description: The <code>NextToken</code> value from a previous call to
          <code>ListHsms</code>. Pass null if this is the first call.
  ListLunaClientsResponse:
    type: object
    required:
      - ClientList
    properties:
      ClientList:
        $ref: "#/definitions/ClientList"
        description: The list of clients.
      NextToken:
        $ref: "#/definitions/PaginationToken"
        description: If not null, more results are available. Pass this to
          <code>ListLunaClients</code> to retrieve the next set of items.
  ListLunaClientsRequest:
    type: object
    properties:
      NextToken:
        $ref: "#/definitions/PaginationToken"
        description: The <code>NextToken</code> value from a previous call to
          <code>ListLunaClients</code>. Pass null if this is the first call.
  ListTagsForResourceResponse:
    type: object
    required:
      - TagList
    properties:
      TagList:
        $ref: "#/definitions/TagList"
        description: One or more tags.
  ListTagsForResourceRequest:
    type: object
    required:
      - ResourceArn
    properties:
      ResourceArn:
        $ref: "#/definitions/String"
        description: The Amazon Resource Name (ARN) of the AWS CloudHSM resource.
  ModifyHapgResponse:
    type: object
    properties:
      HapgArn:
        $ref: "#/definitions/HapgArn"
        description: The ARN of the high-availability partition group.
  ModifyHapgRequest:
    type: object
    required:
      - HapgArn
    properties:
      HapgArn:
        $ref: "#/definitions/HapgArn"
        description: The ARN of the high-availability partition group to modify.
      Label:
        $ref: "#/definitions/Label"
        description: The new label for the high-availability partition group.
      PartitionSerialList:
        $ref: "#/definitions/PartitionSerialList"
        description: The list of partition serial numbers to make members of the
          high-availability partition group.
  ModifyHsmResponse:
    type: object
    properties:
      HsmArn:
        $ref: "#/definitions/HsmArn"
        description: The ARN of the HSM.
    description: Contains the output of the <a>ModifyHsm</a> operation.
  ModifyHsmRequest:
    type: object
    required:
      - HsmArn
    properties:
      HsmArn:
        $ref: "#/definitions/HsmArn"
        description: The ARN of the HSM to modify.
      SubnetId:
        $ref: "#/definitions/SubnetId"
        description: The new identifier of the subnet that the HSM is in. The new subnet
          must be in the same Availability Zone as the current subnet.
      EniIp:
        $ref: "#/definitions/IpAddress"
        description: <p>The new IP address for the elastic network interface (ENI) attached
          to the HSM.</p> <p>If the HSM is moved to a different subnet, and an
          IP address is not specified, an IP address will be randomly chosen
          from the CIDR range of the new subnet.</p>
      IamRoleArn:
        $ref: "#/definitions/IamRoleArn"
        description: The new IAM role ARN.
      ExternalId:
        $ref: "#/definitions/ExternalId"
        description: The new external ID.
      SyslogIp:
        $ref: "#/definitions/IpAddress"
        description: The new IP address for the syslog monitoring server. The AWS CloudHSM
          service only supports one syslog monitoring server.
    description: Contains the inputs for the <a>ModifyHsm</a> operation.
  ModifyLunaClientResponse:
    type: object
    properties:
      ClientArn:
        $ref: "#/definitions/ClientArn"
        description: The ARN of the client.
  ModifyLunaClientRequest:
    type: object
    required:
      - ClientArn
      - Certificate
    properties:
      ClientArn:
        $ref: "#/definitions/ClientArn"
        description: The ARN of the client.
      Certificate:
        $ref: "#/definitions/Certificate"
        description: The new certificate for the client.
  RemoveTagsFromResourceResponse:
    type: object
    required:
      - Status
    properties:
      Status:
        $ref: "#/definitions/String"
        description: The status of the operation.
  RemoveTagsFromResourceRequest:
    type: object
    required:
      - ResourceArn
      - TagKeyList
    properties:
      ResourceArn:
        $ref: "#/definitions/String"
        description: The Amazon Resource Name (ARN) of the AWS CloudHSM resource.
      TagKeyList:
        $ref: "#/definitions/TagKeyList"
        description: <p>The tag key or keys to remove.</p> <p>Specify only the tag key to
          remove (not the value). To overwrite the value for an existing tag,
          use <a>AddTagsToResource</a>.</p>
  AZ:
    type: string
    pattern: "[a-zA-Z0-9\\-]*"
  AZList:
    type: array
    items:
      $ref: "#/definitions/AZ"
  String:
    type: string
    pattern: "[\\w :+=./\\\\-]*"
  TagList:
    type: array
    items:
      $ref: "#/definitions/Tag"
  Boolean:
    type: boolean
  Certificate:
    type: string
    pattern: "[\\w :+=./\\n-]*"
    minLength: 600
    maxLength: 2400
  CertificateFingerprint:
    type: string
    pattern: ([0-9a-fA-F][0-9a-fA-F]:){15}[0-9a-fA-F][0-9a-fA-F]
  ClientArn:
    type: string
    pattern: arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:client-[0-9a-f]{8}
  ClientLabel:
    type: string
    pattern: "[a-zA-Z0-9_.-]{2,64}"
  ClientList:
    type: array
    items:
      $ref: "#/definitions/ClientArn"
  ClientToken:
    type: string
    pattern: "[a-zA-Z0-9]{1,64}"
  ClientVersion:
    type: string
    enum:
      - "5.1"
      - "5.3"
  CloudHsmObjectState:
    type: string
    enum:
      - READY
      - UPDATING
      - DEGRADED
  Label:
    type: string
    pattern: "[a-zA-Z0-9_.-]{1,64}"
  HapgArn:
    type: string
    pattern: arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:hapg-[0-9a-f]{8}
  SubnetId:
    type: string
    pattern: subnet-[0-9a-f]{8}
  SshKey:
    type: string
    pattern: "[a-zA-Z0-9+/= ._:\\\\@-]*"
  IpAddress:
    type: string
    pattern: \d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}
  IamRoleArn:
    type: string
    pattern: arn:aws(-iso)?:iam::[0-9]{12}:role/[a-zA-Z0-9_\+=,\.\-@]{1,64}
  ExternalId:
    type: string
    pattern: "[\\w :+=./-]*"
  SubscriptionType:
    type: string
    enum:
      - PRODUCTION
    description: <p>Specifies the type of subscription for the HSM.</p> <ul> <li> <p>
      <b>PRODUCTION</b> - The HSM is being used in a production environment.</p>
      </li> <li> <p> <b>TRIAL</b> - The HSM is being used in a product
      trial.</p> </li> </ul>
  HsmArn:
    type: string
    pattern: arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:hsm-[0-9a-f]{8}
    description: An ARN that identifies an HSM.
  HsmList:
    type: array
    description: Contains a list of ARNs that identify the HSMs.
    items:
      $ref: "#/definitions/HsmArn"
  Timestamp:
    type: string
    pattern: \d*
  PartitionSerialList:
    type: array
    items:
      $ref: "#/definitions/PartitionSerial"
  HsmSerialNumber:
    type: string
    pattern: \d{1,16}
  HsmStatus:
    type: string
    enum:
      - PENDING
      - RUNNING
      - UPDATING
      - SUSPENDED
      - TERMINATING
      - TERMINATED
      - DEGRADED
  EniId:
    type: string
    pattern: eni-[0-9a-f]{8}
  VpcId:
    type: string
    pattern: vpc-[0-9a-f]{8}
  PartitionList:
    type: array
    items:
      $ref: "#/definitions/PartitionArn"
  HapgList:
    type: array
    items:
      $ref: "#/definitions/HapgArn"
  PaginationToken:
    type: string
    pattern: "[a-zA-Z0-9+/]*"
  PartitionArn:
    type: string
    pattern: arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:hsm-[0-9a-f]{8}/partition-[0-9]{6,12}
  PartitionSerial:
    type: string
    pattern: \d{6,12}
  TagKeyList:
    type: array
    items:
      $ref: "#/definitions/TagKey"
  TagKey:
    type: string
    minLength: 1
    maxLength: 128
  TagValue:
    type: string
    minLength: 0
    maxLength: 256
  Tag:
    type: object
    required:
      - Key
      - Value
    properties:
      Key:
        $ref: "#/definitions/TagKey"
        description: The key of the tag.
      Value:
        $ref: "#/definitions/TagValue"
        description: The value of the tag.
    description: A key-value pair that identifies or specifies metadata about an AWS
      CloudHSM resource.
