swagger: '2.0'
schemes:
  - https
  - http
host: cloudhsm.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: '<fullname>AWS CloudHSM Service</fullname> <p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p>'
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon CloudHSM
  version: '2014-05-30'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cloudhsm-2014-05-30.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: cloudhsm
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/cloudhsm/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=CloudHsmFrontendService.AddTagsToResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Adds or overwrites one or more tags for the specified AWS CloudHSM resource.</p> <p>Each tag consists of a key and a value. Tag keys must be unique to each resource.</p>'
      operationId: AddTagsToResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/AddTagsToResourceRequest'
        - enum:
            - CloudHsmFrontendService.AddTagsToResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/AddTagsToResourceResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.CreateHapg':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Creates a high-availability partition group. A high-availability partition group is a group of partitions that spans multiple physical HSMs.</p>'
      operationId: CreateHapg
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateHapgRequest'
        - enum:
            - CloudHsmFrontendService.CreateHapg
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHapgResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.CreateHsm':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Creates an uninitialized HSM instance.</p> <p>There is an upfront fee charged for each HSM instance that you create with the <code>CreateHsm</code> operation. If you accidentally provision an HSM and want to request a refund, delete the instance using the <a>DeleteHsm</a> operation, go to the <a href="https://console.aws.amazon.com/support/home">AWS Support Center</a>, create a new case, and select <b>Account and Billing Support</b>.</p> <important> <p>It can take up to 20 minutes to create and provision an HSM. You can monitor the status of the HSM with the <a>DescribeHsm</a> operation. The HSM is ready to be initialized when the status changes to <code>RUNNING</code>.</p> </important>'
      operationId: CreateHsm
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateHsmRequest'
        - enum:
            - CloudHsmFrontendService.CreateHsm
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateHsmResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.CreateLunaClient':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Creates an HSM client.</p>'
      operationId: CreateLunaClient
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CreateLunaClientRequest'
        - enum:
            - CloudHsmFrontendService.CreateLunaClient
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateLunaClientResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.DeleteHapg':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Deletes a high-availability partition group.</p>'
      operationId: DeleteHapg
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteHapgRequest'
        - enum:
            - CloudHsmFrontendService.DeleteHapg
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteHapgResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.DeleteHsm':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Deletes an HSM. After completion, this operation cannot be undone and your key material cannot be recovered.</p>'
      operationId: DeleteHsm
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteHsmRequest'
        - enum:
            - CloudHsmFrontendService.DeleteHsm
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteHsmResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.DeleteLunaClient':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Deletes a client.</p>'
      operationId: DeleteLunaClient
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteLunaClientRequest'
        - enum:
            - CloudHsmFrontendService.DeleteLunaClient
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteLunaClientResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.DescribeHapg':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Retrieves information about a high-availability partition group.</p>'
      operationId: DescribeHapg
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeHapgRequest'
        - enum:
            - CloudHsmFrontendService.DescribeHapg
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeHapgResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.DescribeHsm':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Retrieves information about an HSM. You can identify the HSM by its ARN or its serial number.</p>'
      operationId: DescribeHsm
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeHsmRequest'
        - enum:
            - CloudHsmFrontendService.DescribeHsm
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeHsmResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.DescribeLunaClient':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Retrieves information about an HSM client.</p>'
      operationId: DescribeLunaClient
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DescribeLunaClientRequest'
        - enum:
            - CloudHsmFrontendService.DescribeLunaClient
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeLunaClientResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.GetConfig':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Gets the configuration files necessary to connect to all high availability partition groups the client is associated with.</p>'
      operationId: GetConfig
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetConfigRequest'
        - enum:
            - CloudHsmFrontendService.GetConfig
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetConfigResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.ListAvailableZones':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Lists the Availability Zones that have available AWS CloudHSM capacity.</p>'
      operationId: ListAvailableZones
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListAvailableZonesRequest'
        - enum:
            - CloudHsmFrontendService.ListAvailableZones
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListAvailableZonesResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.ListHapgs':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Lists the high-availability partition groups for the account.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> member. If more results are available, the <code>NextToken</code> member of the response contains a token that you pass in the next call to <code>ListHapgs</code> to retrieve the next set of items.</p>'
      operationId: ListHapgs
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListHapgsRequest'
        - enum:
            - CloudHsmFrontendService.ListHapgs
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListHapgsResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.ListHsms':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Retrieves the identifiers of all of the HSMs provisioned for the current customer.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> member. If more results are available, the <code>NextToken</code> member of the response contains a token that you pass in the next call to <code>ListHsms</code> to retrieve the next set of items.</p>'
      operationId: ListHsms
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListHsmsRequest'
        - enum:
            - CloudHsmFrontendService.ListHsms
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListHsmsResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.ListLunaClients':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Lists all of the clients.</p> <p>This operation supports pagination with the use of the <code>NextToken</code> member. If more results are available, the <code>NextToken</code> member of the response contains a token that you pass in the next call to <code>ListLunaClients</code> to retrieve the next set of items.</p>'
      operationId: ListLunaClients
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListLunaClientsRequest'
        - enum:
            - CloudHsmFrontendService.ListLunaClients
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListLunaClientsResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.ListTagsForResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Returns a list of all tags for the specified AWS CloudHSM resource.</p>'
      operationId: ListTagsForResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - enum:
            - CloudHsmFrontendService.ListTagsForResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.ModifyHapg':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Modifies an existing high-availability partition group.</p>'
      operationId: ModifyHapg
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyHapgRequest'
        - enum:
            - CloudHsmFrontendService.ModifyHapg
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyHapgResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.ModifyHsm':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Modifies an HSM.</p> <important> <p>This operation can result in the HSM being offline for up to 15 minutes while the AWS CloudHSM service is reconfigured. If you are modifying a production HSM, you should ensure that your AWS CloudHSM service is configured for high availability, and consider executing this operation during a maintenance window.</p> </important>'
      operationId: ModifyHsm
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyHsmRequest'
        - enum:
            - CloudHsmFrontendService.ModifyHsm
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyHsmResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
  '/#X-Amz-Target=CloudHsmFrontendService.ModifyLunaClient':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Modifies the certificate used by the client.</p> <p>This action can potentially start a workflow to install the new certificate on the client''s HSMs.</p>'
      operationId: ModifyLunaClient
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ModifyLunaClientRequest'
        - enum:
            - CloudHsmFrontendService.ModifyLunaClient
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ModifyLunaClientResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
  '/#X-Amz-Target=CloudHsmFrontendService.RemoveTagsFromResource':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This is documentation for <b>AWS CloudHSM Classic</b>. For more information, see <a href="http://aws.amazon.com/cloudhsm/faqs-classic/">AWS CloudHSM Classic FAQs</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/classic/userguide/">AWS CloudHSM Classic User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/classic/APIReference/">AWS CloudHSM Classic API Reference</a>.</p> <p> <b>For information about the current version of AWS CloudHSM</b>, see <a href="http://aws.amazon.com/cloudhsm/">AWS CloudHSM</a>, the <a href="http://docs.aws.amazon.com/cloudhsm/latest/userguide/">AWS CloudHSM User Guide</a>, and the <a href="http://docs.aws.amazon.com/cloudhsm/latest/APIReference/">AWS CloudHSM API Reference</a>.</p> <p>Removes one or more tags from the specified AWS CloudHSM resource.</p> <p>To remove a tag, specify only the tag key to remove (not the value). To overwrite the value for an existing tag, use <a>AddTagsToResource</a>.</p>'
      operationId: RemoveTagsFromResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceRequest'
        - enum:
            - CloudHsmFrontendService.RemoveTagsFromResource
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RemoveTagsFromResourceResponse'
        '480':
          description: CloudHsmServiceException
          schema:
            $ref: '#/definitions/CloudHsmServiceException'
        '481':
          description: CloudHsmInternalException
          schema:
            $ref: '#/definitions/CloudHsmInternalException'
        '482':
          description: InvalidRequestException
          schema:
            $ref: '#/definitions/InvalidRequestException'
definitions:
  AZ:
    pattern: '[a-zA-Z0-9\-]*'
    type: string
  AZList:
    items:
      $ref: '#/definitions/AZ'
    type: array
  AddTagsToResourceRequest:
    properties:
      ResourceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the AWS CloudHSM resource to tag.
      TagList:
        $ref: '#/definitions/TagList'
        description: One or more tags.
    required:
      - ResourceArn
      - TagList
    type: object
  AddTagsToResourceResponse:
    properties:
      Status:
        $ref: '#/definitions/String'
        description: The status of the operation.
    required:
      - Status
    type: object
  Boolean:
    type: boolean
  Certificate:
    maxLength: 2400
    minLength: 600
    pattern: '[\w :+=./\n-]*'
    type: string
  CertificateFingerprint:
    pattern: '([0-9a-fA-F][0-9a-fA-F]:){15}[0-9a-fA-F][0-9a-fA-F]'
    type: string
  ClientArn:
    pattern: 'arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:client-[0-9a-f]{8}'
    type: string
  ClientLabel:
    pattern: '[a-zA-Z0-9_.-]{2,64}'
    type: string
  ClientList:
    items:
      $ref: '#/definitions/ClientArn'
    type: array
  ClientToken:
    pattern: '[a-zA-Z0-9]{1,64}'
    type: string
  ClientVersion:
    enum:
      - '5.1'
      - '5.3'
    type: string
  CloudHsmInternalException:
    description: Indicates that an internal error occurred.
    properties: {}
    type: object
  CloudHsmObjectState:
    enum:
      - READY
      - UPDATING
      - DEGRADED
    type: string
  CloudHsmServiceException:
    description: Indicates that an exception occurred in the AWS CloudHSM service.
    properties:
      message:
        $ref: '#/definitions/String'
        description: Additional information about the error.
      retryable:
        $ref: '#/definitions/Boolean'
        description: Indicates if the action can be retried.
    type: object
  CreateHapgRequest:
    description: Contains the inputs for the <a>CreateHapgRequest</a> action.
    properties:
      Label:
        $ref: '#/definitions/Label'
        description: The label of the new high-availability partition group.
    required:
      - Label
    type: object
  CreateHapgResponse:
    description: Contains the output of the <a>CreateHAPartitionGroup</a> action.
    properties:
      HapgArn:
        $ref: '#/definitions/HapgArn'
        description: The ARN of the high-availability partition group.
    type: object
  CreateHsmRequest:
    description: Contains the inputs for the <code>CreateHsm</code> operation.
    properties:
      ClientToken:
        $ref: '#/definitions/ClientToken'
        description: A user-defined token to ensure idempotence. Subsequent calls to this operation with the same token will be ignored.
      EniIp:
        $ref: '#/definitions/IpAddress'
        description: '<p>The IP address to assign to the HSM''s ENI.</p> <p>If an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the subnet.</p>'
      ExternalId:
        $ref: '#/definitions/ExternalId'
        description: 'The external ID from <code>IamRoleArn</code>, if present.'
      IamRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The ARN of an IAM role to enable the AWS CloudHSM service to allocate an ENI on your behalf.
      SshKey:
        $ref: '#/definitions/SshKey'
        description: The SSH public key to install on the HSM.
      SubnetId:
        $ref: '#/definitions/SubnetId'
        description: The identifier of the subnet in your VPC in which to place the HSM.
      SubscriptionType:
        $ref: '#/definitions/SubscriptionType'
      SyslogIp:
        $ref: '#/definitions/IpAddress'
        description: The IP address for the syslog monitoring server. The AWS CloudHSM service only supports one syslog monitoring server.
    required:
      - SubnetId
      - SshKey
      - IamRoleArn
      - SubscriptionType
    type: object
  CreateHsmResponse:
    description: Contains the output of the <code>CreateHsm</code> operation.
    properties:
      HsmArn:
        $ref: '#/definitions/HsmArn'
        description: The ARN of the HSM.
    type: object
  CreateLunaClientRequest:
    description: Contains the inputs for the <a>CreateLunaClient</a> action.
    properties:
      Certificate:
        $ref: '#/definitions/Certificate'
        description: The contents of a Base64-Encoded X.509 v3 certificate to be installed on the HSMs used by this client.
      Label:
        $ref: '#/definitions/ClientLabel'
        description: The label for the client.
    required:
      - Certificate
    type: object
  CreateLunaClientResponse:
    description: Contains the output of the <a>CreateLunaClient</a> action.
    properties:
      ClientArn:
        $ref: '#/definitions/ClientArn'
        description: The ARN of the client.
    type: object
  DeleteHapgRequest:
    description: Contains the inputs for the <a>DeleteHapg</a> action.
    properties:
      HapgArn:
        $ref: '#/definitions/HapgArn'
        description: The ARN of the high-availability partition group to delete.
    required:
      - HapgArn
    type: object
  DeleteHapgResponse:
    description: Contains the output of the <a>DeleteHapg</a> action.
    properties:
      Status:
        $ref: '#/definitions/String'
        description: The status of the action.
    required:
      - Status
    type: object
  DeleteHsmRequest:
    description: Contains the inputs for the <a>DeleteHsm</a> operation.
    properties:
      HsmArn:
        $ref: '#/definitions/HsmArn'
        description: The ARN of the HSM to delete.
    required:
      - HsmArn
    type: object
  DeleteHsmResponse:
    description: Contains the output of the <a>DeleteHsm</a> operation.
    properties:
      Status:
        $ref: '#/definitions/String'
        description: The status of the operation.
    required:
      - Status
    type: object
  DeleteLunaClientRequest:
    properties:
      ClientArn:
        $ref: '#/definitions/ClientArn'
        description: The ARN of the client to delete.
    required:
      - ClientArn
    type: object
  DeleteLunaClientResponse:
    properties:
      Status:
        $ref: '#/definitions/String'
        description: The status of the action.
    required:
      - Status
    type: object
  DescribeHapgRequest:
    description: Contains the inputs for the <a>DescribeHapg</a> action.
    properties:
      HapgArn:
        $ref: '#/definitions/HapgArn'
        description: The ARN of the high-availability partition group to describe.
    required:
      - HapgArn
    type: object
  DescribeHapgResponse:
    description: Contains the output of the <a>DescribeHapg</a> action.
    properties:
      HapgArn:
        $ref: '#/definitions/HapgArn'
        description: The ARN of the high-availability partition group.
      HapgSerial:
        $ref: '#/definitions/String'
        description: The serial number of the high-availability partition group.
      HsmsLastActionFailed:
        $ref: '#/definitions/HsmList'
        description: <p/>
      HsmsPendingDeletion:
        $ref: '#/definitions/HsmList'
        description: <p/>
      HsmsPendingRegistration:
        $ref: '#/definitions/HsmList'
        description: <p/>
      Label:
        $ref: '#/definitions/Label'
        description: The label for the high-availability partition group.
      LastModifiedTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The date and time the high-availability partition group was last modified.
      PartitionSerialList:
        $ref: '#/definitions/PartitionSerialList'
        description: The list of partition serial numbers that belong to the high-availability partition group.
      State:
        $ref: '#/definitions/CloudHsmObjectState'
        description: The state of the high-availability partition group.
    type: object
  DescribeHsmRequest:
    description: Contains the inputs for the <a>DescribeHsm</a> operation.
    properties:
      HsmArn:
        $ref: '#/definitions/HsmArn'
        description: The ARN of the HSM. Either the <code>HsmArn</code> or the <code>SerialNumber</code> parameter must be specified.
      HsmSerialNumber:
        $ref: '#/definitions/HsmSerialNumber'
        description: The serial number of the HSM. Either the <code>HsmArn</code> or the <code>HsmSerialNumber</code> parameter must be specified.
    type: object
  DescribeHsmResponse:
    description: Contains the output of the <a>DescribeHsm</a> operation.
    properties:
      AvailabilityZone:
        $ref: '#/definitions/AZ'
        description: The Availability Zone that the HSM is in.
      EniId:
        $ref: '#/definitions/EniId'
        description: The identifier of the elastic network interface (ENI) attached to the HSM.
      EniIp:
        $ref: '#/definitions/IpAddress'
        description: The IP address assigned to the HSM's ENI.
      HsmArn:
        $ref: '#/definitions/HsmArn'
        description: The ARN of the HSM.
      HsmType:
        $ref: '#/definitions/String'
        description: The HSM model type.
      IamRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The ARN of the IAM role assigned to the HSM.
      Partitions:
        $ref: '#/definitions/PartitionList'
        description: The list of partitions on the HSM.
      SerialNumber:
        $ref: '#/definitions/HsmSerialNumber'
        description: The serial number of the HSM.
      ServerCertLastUpdated:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the server certificate was last updated.
      ServerCertUri:
        $ref: '#/definitions/String'
        description: The URI of the certificate server.
      SoftwareVersion:
        $ref: '#/definitions/String'
        description: The HSM software version.
      SshKeyLastUpdated:
        $ref: '#/definitions/Timestamp'
        description: The date and time that the SSH key was last updated.
      SshPublicKey:
        $ref: '#/definitions/SshKey'
        description: The public SSH key.
      Status:
        $ref: '#/definitions/HsmStatus'
        description: The status of the HSM.
      StatusDetails:
        $ref: '#/definitions/String'
        description: Contains additional information about the status of the HSM.
      SubnetId:
        $ref: '#/definitions/SubnetId'
        description: The identifier of the subnet that the HSM is in.
      SubscriptionEndDate:
        $ref: '#/definitions/Timestamp'
        description: The subscription end date.
      SubscriptionStartDate:
        $ref: '#/definitions/Timestamp'
        description: The subscription start date.
      SubscriptionType:
        $ref: '#/definitions/SubscriptionType'
      VendorName:
        $ref: '#/definitions/String'
        description: The name of the HSM vendor.
      VpcId:
        $ref: '#/definitions/VpcId'
        description: The identifier of the VPC that the HSM is in.
    type: object
  DescribeLunaClientRequest:
    properties:
      CertificateFingerprint:
        $ref: '#/definitions/CertificateFingerprint'
        description: The certificate fingerprint.
      ClientArn:
        $ref: '#/definitions/ClientArn'
        description: The ARN of the client.
    type: object
  DescribeLunaClientResponse:
    properties:
      Certificate:
        $ref: '#/definitions/Certificate'
        description: The certificate installed on the HSMs used by this client.
      CertificateFingerprint:
        $ref: '#/definitions/CertificateFingerprint'
        description: The certificate fingerprint.
      ClientArn:
        $ref: '#/definitions/ClientArn'
        description: The ARN of the client.
      Label:
        $ref: '#/definitions/Label'
        description: The label of the client.
      LastModifiedTimestamp:
        $ref: '#/definitions/Timestamp'
        description: The date and time the client was last modified.
    type: object
  EniId:
    pattern: 'eni-[0-9a-f]{8}'
    type: string
  ExternalId:
    pattern: '[\w :+=./-]*'
    type: string
  GetConfigRequest:
    properties:
      ClientArn:
        $ref: '#/definitions/ClientArn'
        description: The ARN of the client.
      ClientVersion:
        $ref: '#/definitions/ClientVersion'
        description: The client version.
      HapgList:
        $ref: '#/definitions/HapgList'
        description: A list of ARNs that identify the high-availability partition groups that are associated with the client.
    required:
      - ClientArn
      - ClientVersion
      - HapgList
    type: object
  GetConfigResponse:
    properties:
      ConfigCred:
        $ref: '#/definitions/String'
        description: The certificate file containing the server.pem files of the HSMs.
      ConfigFile:
        $ref: '#/definitions/String'
        description: The chrystoki.conf configuration file.
      ConfigType:
        $ref: '#/definitions/String'
        description: The type of credentials.
    type: object
  HapgArn:
    pattern: 'arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:hapg-[0-9a-f]{8}'
    type: string
  HapgList:
    items:
      $ref: '#/definitions/HapgArn'
    type: array
  HsmArn:
    description: An ARN that identifies an HSM.
    pattern: 'arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:hsm-[0-9a-f]{8}'
    type: string
  HsmList:
    description: Contains a list of ARNs that identify the HSMs.
    items:
      $ref: '#/definitions/HsmArn'
    type: array
  HsmSerialNumber:
    pattern: '\d{1,16}'
    type: string
  HsmStatus:
    enum:
      - PENDING
      - RUNNING
      - UPDATING
      - SUSPENDED
      - TERMINATING
      - TERMINATED
      - DEGRADED
    type: string
  IamRoleArn:
    pattern: 'arn:aws(-iso)?:iam::[0-9]{12}:role/[a-zA-Z0-9_\+=,\.\-@]{1,64}'
    type: string
  InvalidRequestException:
    description: Indicates that one or more of the request parameters are not valid.
    properties: {}
    type: object
  IpAddress:
    pattern: '\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}'
    type: string
  Label:
    pattern: '[a-zA-Z0-9_.-]{1,64}'
    type: string
  ListAvailableZonesRequest:
    description: Contains the inputs for the <a>ListAvailableZones</a> action.
    properties: {}
    type: object
  ListAvailableZonesResponse:
    properties:
      AZList:
        $ref: '#/definitions/AZList'
        description: The list of Availability Zones that have available AWS CloudHSM capacity.
    type: object
  ListHapgsRequest:
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The <code>NextToken</code> value from a previous call to <code>ListHapgs</code>. Pass null if this is the first call.
    type: object
  ListHapgsResponse:
    properties:
      HapgList:
        $ref: '#/definitions/HapgList'
        description: The list of high-availability partition groups.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If not null, more results are available. Pass this value to <code>ListHapgs</code> to retrieve the next set of items.'
    required:
      - HapgList
    type: object
  ListHsmsRequest:
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The <code>NextToken</code> value from a previous call to <code>ListHsms</code>. Pass null if this is the first call.
    type: object
  ListHsmsResponse:
    description: Contains the output of the <code>ListHsms</code> operation.
    properties:
      HsmList:
        $ref: '#/definitions/HsmList'
        description: The list of ARNs that identify the HSMs.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If not null, more results are available. Pass this value to <code>ListHsms</code> to retrieve the next set of items.'
    type: object
  ListLunaClientsRequest:
    properties:
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: The <code>NextToken</code> value from a previous call to <code>ListLunaClients</code>. Pass null if this is the first call.
    type: object
  ListLunaClientsResponse:
    properties:
      ClientList:
        $ref: '#/definitions/ClientList'
        description: The list of clients.
      NextToken:
        $ref: '#/definitions/PaginationToken'
        description: 'If not null, more results are available. Pass this to <code>ListLunaClients</code> to retrieve the next set of items.'
    required:
      - ClientList
    type: object
  ListTagsForResourceRequest:
    properties:
      ResourceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the AWS CloudHSM resource.
    required:
      - ResourceArn
    type: object
  ListTagsForResourceResponse:
    properties:
      TagList:
        $ref: '#/definitions/TagList'
        description: One or more tags.
    required:
      - TagList
    type: object
  ModifyHapgRequest:
    properties:
      HapgArn:
        $ref: '#/definitions/HapgArn'
        description: The ARN of the high-availability partition group to modify.
      Label:
        $ref: '#/definitions/Label'
        description: The new label for the high-availability partition group.
      PartitionSerialList:
        $ref: '#/definitions/PartitionSerialList'
        description: The list of partition serial numbers to make members of the high-availability partition group.
    required:
      - HapgArn
    type: object
  ModifyHapgResponse:
    properties:
      HapgArn:
        $ref: '#/definitions/HapgArn'
        description: The ARN of the high-availability partition group.
    type: object
  ModifyHsmRequest:
    description: Contains the inputs for the <a>ModifyHsm</a> operation.
    properties:
      EniIp:
        $ref: '#/definitions/IpAddress'
        description: '<p>The new IP address for the elastic network interface (ENI) attached to the HSM.</p> <p>If the HSM is moved to a different subnet, and an IP address is not specified, an IP address will be randomly chosen from the CIDR range of the new subnet.</p>'
      ExternalId:
        $ref: '#/definitions/ExternalId'
        description: The new external ID.
      HsmArn:
        $ref: '#/definitions/HsmArn'
        description: The ARN of the HSM to modify.
      IamRoleArn:
        $ref: '#/definitions/IamRoleArn'
        description: The new IAM role ARN.
      SubnetId:
        $ref: '#/definitions/SubnetId'
        description: The new identifier of the subnet that the HSM is in. The new subnet must be in the same Availability Zone as the current subnet.
      SyslogIp:
        $ref: '#/definitions/IpAddress'
        description: The new IP address for the syslog monitoring server. The AWS CloudHSM service only supports one syslog monitoring server.
    required:
      - HsmArn
    type: object
  ModifyHsmResponse:
    description: Contains the output of the <a>ModifyHsm</a> operation.
    properties:
      HsmArn:
        $ref: '#/definitions/HsmArn'
        description: The ARN of the HSM.
    type: object
  ModifyLunaClientRequest:
    properties:
      Certificate:
        $ref: '#/definitions/Certificate'
        description: The new certificate for the client.
      ClientArn:
        $ref: '#/definitions/ClientArn'
        description: The ARN of the client.
    required:
      - ClientArn
      - Certificate
    type: object
  ModifyLunaClientResponse:
    properties:
      ClientArn:
        $ref: '#/definitions/ClientArn'
        description: The ARN of the client.
    type: object
  PaginationToken:
    pattern: '[a-zA-Z0-9+/]*'
    type: string
  PartitionArn:
    pattern: 'arn:aws(-iso)?:cloudhsm:[a-zA-Z0-9\-]*:[0-9]{12}:hsm-[0-9a-f]{8}/partition-[0-9]{6,12}'
    type: string
  PartitionList:
    items:
      $ref: '#/definitions/PartitionArn'
    type: array
  PartitionSerial:
    pattern: '\d{6,12}'
    type: string
  PartitionSerialList:
    items:
      $ref: '#/definitions/PartitionSerial'
    type: array
  RemoveTagsFromResourceRequest:
    properties:
      ResourceArn:
        $ref: '#/definitions/String'
        description: The Amazon Resource Name (ARN) of the AWS CloudHSM resource.
      TagKeyList:
        $ref: '#/definitions/TagKeyList'
        description: '<p>The tag key or keys to remove.</p> <p>Specify only the tag key to remove (not the value). To overwrite the value for an existing tag, use <a>AddTagsToResource</a>.</p>'
    required:
      - ResourceArn
      - TagKeyList
    type: object
  RemoveTagsFromResourceResponse:
    properties:
      Status:
        $ref: '#/definitions/String'
        description: The status of the operation.
    required:
      - Status
    type: object
  SshKey:
    pattern: '[a-zA-Z0-9+/= ._:\\@-]*'
    type: string
  String:
    pattern: '[\w :+=./\\-]*'
    type: string
  SubnetId:
    pattern: 'subnet-[0-9a-f]{8}'
    type: string
  SubscriptionType:
    description: <p>Specifies the type of subscription for the HSM.</p> <ul> <li> <p> <b>PRODUCTION</b> - The HSM is being used in a production environment.</p> </li> <li> <p> <b>TRIAL</b> - The HSM is being used in a product trial.</p> </li> </ul>
    enum:
      - PRODUCTION
    type: string
  Tag:
    description: A key-value pair that identifies or specifies metadata about an AWS CloudHSM resource.
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: The key of the tag.
      Value:
        $ref: '#/definitions/TagValue'
        description: The value of the tag.
    required:
      - Key
      - Value
    type: object
  TagKey:
    maxLength: 128
    minLength: 1
    type: string
  TagKeyList:
    items:
      $ref: '#/definitions/TagKey'
    type: array
  TagList:
    items:
      $ref: '#/definitions/Tag'
    type: array
  TagValue:
    maxLength: 256
    minLength: 0
    type: string
  Timestamp:
    pattern: \d*
    type: string
  VpcId:
    pattern: 'vpc-[0-9a-f]{8}'
    type: string
x-servers:
  - description: The CloudHSM multi-region endpoint
    url: 'http://cloudhsm.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The CloudHSM multi-region endpoint
    url: 'https://cloudhsm.{region}.amazonaws.com'
    variables:
      region:
        default: us-east-1
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
  - description: The CloudHSM endpoint for China (Beijing) and China (Ningxia)
    url: 'http://cloudhsm.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
  - description: The CloudHSM endpoint for China (Beijing) and China (Ningxia)
    url: 'https://cloudhsm.{region}.amazonaws.com.cn'
    variables:
      region:
        default: cn-north-1
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
