swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  description: Subscription client provides an interface to create and manage Azure subscriptions programmatically.
  title: SubscriptionClient
  version: 2018-11-01-preview
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/subscription/resource-manager/Microsoft.Subscription/preview/2018-11-01-preview/subscriptions.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: subscription-subscriptions
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  azure_auth:
    authorizationUrl: 'https://login.microsoftonline.com/common/oauth2/authorize'
    description: Azure Active Directory OAuth2 Flow
    flow: implicit
    scopes:
      user_impersonation: impersonate your user account
    type: oauth2
security:
  - azure_auth:
      - user_impersonation
parameters:
  apiVersionParameter:
    description: Version of the API to be used with the client request. Current version is 2015-06-01
    in: query
    name: api-version
    required: true
    type: string
paths:
  '/providers/Microsoft.Billing/billingAccounts/{billingAccountName}/invoiceSections/{invoiceSectionName}/providers/Microsoft.Subscription/createSubscription':
    post:
      description: Creates an Azure subscription
      operationId: SubscriptionFactory_CreateSubscription
      parameters:
        - description: The name of the commerce root billing account.
          in: path
          name: billingAccountName
          required: true
          type: string
        - description: The name of the invoice section.
          in: path
          name: invoiceSectionName
          required: true
          type: string
        - $ref: '#/parameters/apiVersionParameter'
        - description: The subscription creation parameters.
          in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/SubscriptionCreationParameters'
      responses:
        '200':
          description: Normal response for a successful query. The response body will contain the data that matches the filters specified in the query parameters.
          schema:
            $ref: '#/definitions/SubscriptionCreationResult'
        '202':
          description: Accepted. Subscription creation is in progress.
          headers:
            Location:
              description: GET this URL to retrieve the status of the asynchronous operation.
              type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              type: integer
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        createSubscription:
          parameters:
            api-version: 2018-11-01-preview
            billingAccountName: 12a6eed9-5d39-4103-a5db-2db1db0a8c67
            body:
              additionalParameters: {}
              billingProfileId: /providers/Microsoft.Billing/billingAccounts/12a6eed9-5d39-4103-a5db-2db1db0a8c67/billingProfiles/dbcb81c8-cda9-4b01-b9fc-831e6a2e152e
              costCenter: myCostCenter123
              displayName: Test Ea Azure Sub
              owner:
                objectId: 973034ff-acb7-409c-b731-e789672c7b31
              skuId: '0001'
            invoiceSectionName: b859d705-1ed7-4769-9d4b-19238e9e8ac2_10_31
          responses:
            '200':
              body:
                subscriptionLink: /subscriptions/d0d6ee57-6530-4fca-93a6-b755a070be35
            '202':
              headers:
                Location: /providers/Microsoft.Subscription/subscriptionOperations/aeb76128-ebde-4f5a-a9ed-e7bbf2dbc994?api-version=2018-11-01-preview
                Retry-After: 8
      x-ms-long-running-operation: true
  /providers/Microsoft.Subscription/operations:
    get:
      description: Lists all of the available Microsoft.Subscription API operations.
      operationId: Operations_List
      parameters:
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: OK. The request has succeeded.
          schema:
            $ref: '#/definitions/OperationListResult'
        default:
          description: Error response describing why the operation failed.
          schema:
            $ref: '#/definitions/ErrorResponse'
      x-ms-examples:
        getOperations:
          parameters:
            api-version: 2018-11-01-preview
          responses:
            '200':
              body:
                value:
                  - display:
                      operation: Create an Azure subscription
                      provider: Microsoft Subscription
                      resource: Resources
                    name: Microsoft.Subscription/createSubscription/action
  '/providers/Microsoft.Subscription/subscriptionOperations/{operationId}':
    get:
      description: Get the status of the pending Microsoft.Subscription API operations.
      operationId: SubscriptionOperation_Get
      parameters:
        - description: 'The operation ID, which can be found from the Location field in the generate recommendation response header.'
          in: path
          name: operationId
          required: true
          type: string
        - $ref: '#/parameters/apiVersionParameter'
      responses:
        '200':
          description: Successful completion of the asynchronous operation
          schema:
            $ref: '#/definitions/SubscriptionCreationResult'
        '202':
          description: Accepted. Subscription update is in progress.
          headers:
            Location:
              description: The URL where the status of the asynchronous operation can be checked.
              type: string
            Retry-After:
              description: The amount of delay to use while the status of the operation is checked. The value is expressed in seconds.
              type: integer
      x-ms-examples:
        getPendingSubscriptionOperations:
          parameters:
            api-version: 2018-11-01-preview
            operationId: e4b8d068-f574-462a-a76f-6fa0afc613c9
          responses:
            '200':
              body:
                subscriptionLink: /subscriptions/4df8d5c2-1b7e-4dd5-bc61-640704bde633
            '202':
              headers:
                Location: /providers/Microsoft.Subscription/subscriptionOperations/e4b8d068-f574-462a-a76f-6fa0afc613c9?api-version=2018-11-01-preview
                Retry-After: 8
definitions:
  AdPrincipal:
    description: Active Directory Principal for subscription creation delegated permission
    properties:
      objectId:
        description: Object id of the Principal
        type: string
    required:
      - objectId
  ErrorResponse:
    description: Describes the format of Error response.
    properties:
      code:
        description: Error code
        type: string
      message:
        description: Error message indicating why the operation failed.
        type: string
    type: object
  Operation:
    description: REST API operation
    properties:
      display:
        description: The object that represents the operation.
        properties:
          operation:
            description: 'Operation type: Read, write, delete, etc.'
            type: string
          provider:
            description: 'Service provider: Microsoft.Subscription'
            type: string
          resource:
            description: 'Resource on which the operation is performed: Profile, endpoint, etc.'
            type: string
      name:
        description: 'Operation name: {provider}/{resource}/{operation}'
        type: string
    type: object
  OperationListResult:
    description: Result of the request to list operations. It contains a list of operations and a URL link to get the next set of results.
    properties:
      nextLink:
        description: URL to get the next set of operation list results if there are any.
        type: string
      value:
        description: List of operations.
        items:
          $ref: '#/definitions/Operation'
        type: array
  SubscriptionCreationParameters:
    description: Subscription Creation Parameters required to create a new Azure subscription.
    properties:
      additionalParameters:
        additionalProperties:
          type: object
        description: 'Additional, untyped parameters to support custom subscription creation scenarios.'
        type: object
      billingProfileId:
        description: The ARM id of the billing profile.
        type: string
      costCenter:
        description: optional customer cost center
        type: string
      displayName:
        description: The display name of the subscription.
        type: string
      owner:
        $ref: '#/definitions/AdPrincipal'
        description: rbac owner of the subscription
      skuId:
        description: The commerce id of the sku.
        type: string
  SubscriptionCreationResult:
    description: The created subscription object.
    properties:
      subscriptionLink:
        description: The link to the new subscription.
        type: string
  SubscriptionOperation:
    description: status of the subscription POST operation.
    properties:
      id:
        description: The operation Id.
        readOnly: true
        type: string
      status:
        description: Status of the pending subscription
        type: string
      statusDetail:
        description: Status Detail of the pending subscription
        type: string
  SubscriptionOperationListResult:
    description: A list of pending subscription operations.
    properties:
      value:
        description: A list of pending SubscriptionOperations
        items:
          $ref: '#/definitions/SubscriptionOperation'
        type: array
