swagger: "2.0"
schemes:
  - https
host: jira.atlassian.com
basePath: /rest/api/3
info:
  contact:
    x-twitter: Atlassian
  description: The Jira Cloud Platform REST API
  title: Jira
  version: v3
  x-apisguru-categories:
    - developer_tools
  x-logo:
    url: https://twitter.com/Atlassian/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://raw.githubusercontent.com/bobby-brennan/scrape-to-swagger/master/output/jira.swagger.json
      version: "2.0"
  x-providerName: atlassian.com
  x-serviceName: jira
  x-unofficialSpec: true
securityDefinitions:
  Basic:
    type: basic
  OAuth:
    authorizationUrl: https://auth.atlassian.com/authorize?prompt=true&audience=api.atlassian.com
    flow: accessCode
    scopes:
      manage:jira-configuration: Take Jira administration actions (for example, create
        projects and custom fields, view workflows, and manage issue link types)
      manage:jira-project: Create and edit project settings and create new
        project-level objects (for example, versions and components)
      read:jira-user: View user information in Jira that the user has access to,
        including usernames, email addresses, and avatars
      read:jira-work: Read Jira project and issue data, search for issues and objects
        associated with issues like attachments and worklogs
      write:jira-work: Create and edit issues in Jira, post comments as the user,
        create worklogs, and delete issues
    tokenUrl: https://auth.atlassian.com/oauth/token
    type: oauth2
paths:
  /application-properties:
    get:
      description: Returns all application properties or a single application property.
      parameters:
        - description: The key of the application property.
          in: query
          name: key
          type: string
        - description: When a key isn't provided, this filters the list of results by the
            application property key using a regular expression. For example,
            using jira.lf.* will return all application properties with keys
            that start with jira.lf..
          in: query
          name: keyFilter
          type: string
        - description: The permission level of all items being returned in the list.
          in: query
          name: permissionLevel
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            items:
              properties:
                defaultValue:
                  type: string
                desc:
                  minLength: 1
                  type: string
                id:
                  minLength: 1
                  type: string
                key:
                  minLength: 1
                  type: string
                name:
                  minLength: 1
                  type: string
                type:
                  minLength: 1
                  type: string
                value:
                  minLength: 1
                  type: string
              required:
                - id
                - key
                - value
                - name
                - desc
                - type
                - defaultValue
              type: object
            minItems: 1
            type: array
            uniqueItems: true
  /application-properties/advanced-settings:
    get:
      description: Returns the application properties that are accessible on the
        Advanced Settings page. To navigate to the Advanced Settings page in
        Jira, choose the Jira icon > Jira settings > System, General
        Configuration and then click Advanced Settings (in the upper right).
      parameters: []
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            items:
              properties:
                defaultValue:
                  type: string
                desc:
                  minLength: 1
                  type: string
                id:
                  minLength: 1
                  type: string
                key:
                  minLength: 1
                  type: string
                name:
                  minLength: 1
                  type: string
                type:
                  minLength: 1
                  type: string
                value:
                  minLength: 1
                  type: string
              required:
                - id
                - key
                - value
                - name
                - desc
                - type
                - defaultValue
              type: object
            minItems: 1
            type: array
            uniqueItems: true
  "/application-properties/{id}":
    put:
      description: Changes the value of an application property. For example, you can
        change the value of the jira.clone.prefix from its default value of
        CLONE - to Clone - if you prefer sentence case capitalization. Editable
        properties are described below along with their default values.
      parameters:
        - in: body
          name: body
          schema:
            properties:
              id:
                description: The ID of the application property, for example
                  jira.newsletter.tip.delay.days.
                type: string
              value:
                description: The new value, for example -1.
                type: string
            type: object
        - description: The key of the application property to update.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
  /applicationrole:
    get:
      description: Returns all application roles. In Jira, application roles are
        managed using the Application access configuration page.
      parameters: []
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            items:
              properties:
                defaultGroups:
                  items:
                    properties: {}
                  type: array
                defined:
                  type: boolean
                groups:
                  items:
                    properties: {}
                  type: array
                hasUnlimitedSeats:
                  type: boolean
                key:
                  minLength: 1
                  type: string
                name:
                  minLength: 1
                  type: string
                numberOfSeats:
                  type: number
                platform:
                  type: boolean
                remainingSeats:
                  type: number
                selectedByDefault:
                  type: boolean
                userCount:
                  type: number
                userCountDescription:
                  minLength: 1
                  type: string
              required:
                - key
                - groups
                - name
                - defaultGroups
                - selectedByDefault
                - defined
                - numberOfSeats
                - remainingSeats
                - userCount
                - userCountDescription
                - hasUnlimitedSeats
                - platform
              type: object
            minItems: 1
            type: array
            uniqueItems: true
  "/applicationrole/{key}":
    get:
      description: Returns an application role.
      parameters:
        - description: The key of the application role. Use the Get all application roles
            method to get the key for each application role.
          in: path
          name: key
          required: true
          type: string
      responses:
        "200":
          description: Returns the ApplicationRole if it exists.
          schema:
            description: ""
            properties:
              defaultGroups:
                items:
                  properties: {}
                type: array
              defined:
                type: boolean
              groups:
                items:
                  properties: {}
                type: array
              hasUnlimitedSeats:
                type: boolean
              key:
                minLength: 1
                type: string
              name:
                minLength: 1
                type: string
              numberOfSeats:
                type: number
              platform:
                type: boolean
              remainingSeats:
                type: number
              selectedByDefault:
                type: boolean
              userCount:
                type: number
              userCountDescription:
                minLength: 1
                type: string
            required:
              - key
              - groups
              - name
              - defaultGroups
              - selectedByDefault
              - defined
              - numberOfSeats
              - remainingSeats
              - userCount
              - userCountDescription
              - hasUnlimitedSeats
              - platform
            type: object
  /attachment/meta:
    get:
      description: Returns the global attachment settings, that is, whether
        attachments are enabled and the maximum attachment size allowed.
      parameters: []
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              enabled:
                type: boolean
              uploadLimit:
                type: number
            required:
              - enabled
              - uploadLimit
            type: object
  "/attachment/{id}":
    delete:
      description: Deletes an attachment from an issue.
      parameters:
        - description: The ID of the attachment.
          in: path
          name: id
          required: true
          type: string
      responses:
        "204":
          description: Returned if the request is successful.
    get:
      description: Returns the metadata for an attachment. Note that the attachment
        itself is not returned.
      parameters:
        - description: The ID of the attachment.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              author:
                properties:
                  accountId:
                    minLength: 1
                    type: string
                  active:
                    type: boolean
                  avatarUrls:
                    properties:
                      16x16:
                        minLength: 1
                        type: string
                      24x24:
                        minLength: 1
                        type: string
                      32x32:
                        minLength: 1
                        type: string
                      48x48:
                        minLength: 1
                        type: string
                    required:
                      - 48x48
                      - 24x24
                      - 16x16
                      - 32x32
                    type: object
                  displayName:
                    minLength: 1
                    type: string
                  key:
                    minLength: 1
                    type: string
                  name:
                    minLength: 1
                    type: string
                  self:
                    minLength: 1
                    type: string
                required:
                  - self
                  - key
                  - accountId
                  - name
                  - avatarUrls
                  - displayName
                  - active
                type: object
              content:
                minLength: 1
                type: string
              created:
                minLength: 1
                type: string
              filename:
                minLength: 1
                type: string
              id:
                type: number
              mimeType:
                minLength: 1
                type: string
              self:
                minLength: 1
                type: string
              size:
                type: number
              thumbnail:
                minLength: 1
                type: string
            required:
              - id
              - self
              - filename
              - author
              - created
              - size
              - mimeType
              - content
              - thumbnail
            type: object
  "/attachment/{id}/expand/human":
    get:
      description: Returns the metadata for the contents of an attachment, if it is an
        archive, and metadata for the attachment itself. For example, if the
        attachment is a ZIP archive, then information about the files in the
        archive is returned and metadata for the ZIP archive. Currently, only
        the ZIP archive format is supported.
      parameters:
        - description: The ID of the attachment.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful. If an empty list is returned
            in the response, the attachment is empty, corrupt, or not an
            archive.
          schema:
            description: ""
            properties:
              entries:
                items:
                  properties:
                    index:
                      type: number
                    label:
                      minLength: 1
                      type: string
                    mediaType:
                      minLength: 1
                      type: string
                    path:
                      minLength: 1
                      type: string
                    size:
                      minLength: 1
                      type: string
                  required:
                    - path
                    - index
                    - size
                    - mediaType
                    - label
                minItems: 1
                type: array
                uniqueItems: true
              id:
                type: number
              mediaType:
                minLength: 1
                type: string
              name:
                minLength: 1
                type: string
              totalEntryCount:
                type: number
            required:
              - id
              - name
              - entries
              - totalEntryCount
              - mediaType
            type: object
  "/attachment/{id}/expand/raw":
    get:
      description: Returns the metadata for the contents of an attachment, if it is an
        archive. For example, if the attachment is a ZIP archive, then
        information about the files in the archive is returned. Currently, only
        the ZIP archive format is supported.
      parameters:
        - description: The ID of the attachment.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful. If an empty list is returned
            in the response, the attachment is empty, corrupt, or not an
            archive.
          schema:
            description: ""
            properties:
              entries:
                items:
                  properties:
                    entryIndex:
                      type: number
                    mediaType:
                      minLength: 1
                      type: string
                    name:
                      minLength: 1
                      type: string
                    size:
                      type: number
                  required:
                    - entryIndex
                    - name
                    - size
                    - mediaType
                minItems: 1
                type: array
                uniqueItems: true
              totalEntryCount:
                type: number
            required:
              - entries
              - totalEntryCount
            type: object
  /auditing/record:
    get:
      description: "Returns a list of audit records. The list can be filtered to
        include items:"
      parameters:
        - description: The query string.
          in: query
          name: filter
          type: string
        - description: The date and time on or after which returned audit records must
            have been created. If to is provided from must be before to or the
            result set will be empty.
          in: query
          name: from
          type: string
        - description: The maximum number of results to return. The maximum is 1000.
          in: query
          name: limit
          type: integer
        - description: The number of records to skip before returning the first result.
          in: query
          name: offset
          type: integer
        - description: The date and time on or before which returned audit results must
            have been created. If from is provided to must be after from or the
            result set will be empty.
          in: query
          name: to
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              limit:
                type: number
              offset:
                type: number
              records:
                items:
                  properties:
                    associatedItems:
                      items:
                        properties:
                          id:
                            minLength: 1
                            type: string
                          name:
                            minLength: 1
                            type: string
                          parentId:
                            minLength: 1
                            type: string
                          parentName:
                            minLength: 1
                            type: string
                          typeName:
                            minLength: 1
                            type: string
                        required:
                          - id
                          - name
                          - typeName
                          - parentId
                          - parentName
                      minItems: 1
                      type: array
                      uniqueItems: true
                    authorKey:
                      minLength: 1
                      type: string
                    category:
                      minLength: 1
                      type: string
                    changedValues:
                      items:
                        properties:
                          changedFrom:
                            minLength: 1
                            type: string
                          changedTo:
                            minLength: 1
                            type: string
                          fieldName:
                            minLength: 1
                            type: string
                        required:
                          - fieldName
                          - changedFrom
                          - changedTo
                      minItems: 1
                      type: array
                      uniqueItems: true
                    created:
                      minLength: 1
                      type: string
                    description:
                      minLength: 1
                      type: string
                    eventSource:
                      minLength: 1
                      type: string
                    id:
                      type: number
                    objectItem:
                      properties:
                        id:
                          minLength: 1
                          type: string
                        name:
                          minLength: 1
                          type: string
                        parentId:
                          minLength: 1
                          type: string
                        parentName:
                          minLength: 1
                          type: string
                        typeName:
                          minLength: 1
                          type: string
                      required:
                        - id
                        - name
                        - typeName
                        - parentId
                        - parentName
                      type: object
                    remoteAddress:
                      minLength: 1
                      type: string
                    summary:
                      minLength: 1
                      type: string
                  required:
                    - id
                    - summary
                    - remoteAddress
                    - authorKey
                    - created
                    - category
                    - eventSource
                    - description
                minItems: 1
                type: array
                uniqueItems: true
              total:
                type: number
            required:
              - offset
              - limit
              - total
              - records
            type: object
  "/avatar/{type}/system":
    get:
      description: Returns a list of system avatar details by owner type, where the
        owner types are issue type, project, or user.
      parameters:
        - description: The avatar type.
          in: path
          name: type
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              system:
                items:
                  properties:
                    id:
                      minLength: 1
                      type: string
                    isDeletable:
                      type: boolean
                    isSelected:
                      type: boolean
                    isSystemAvatar:
                      type: boolean
                    urls:
                      properties:
                        16x16:
                          minLength: 1
                          type: string
                        24x24:
                          minLength: 1
                          type: string
                        32x32:
                          minLength: 1
                          type: string
                        48x48:
                          minLength: 1
                          type: string
                      required:
                        - 16x16
                        - 24x24
                        - 32x32
                        - 48x48
                      type: object
                  required:
                    - id
                    - isSystemAvatar
                    - isSelected
                    - isDeletable
                minItems: 1
                type: array
                uniqueItems: true
            required:
              - system
            type: object
  /comment/list:
    post:
      description: Returns the comments for a list of comment IDs.
      parameters:
        - in: body
          name: body
          schema:
            properties:
              ids:
                description: The list of comment IDs. Maximum of 1000 IDs can be specified.
                  Required
                items:
                  type: integer
                type: array
            type: object
        - description: "Use expand to include additional information about comments in the
            response. This parameter accepts multiple values separated by a
            comma:"
          enum:
            - renderedBody
            - properties
          in: query
          name: expand
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              isLast:
                type: boolean
              maxResults:
                type: number
              startAt:
                type: number
              total:
                type: number
              values:
                items:
                  properties:
                    author:
                      properties:
                        active:
                          type: boolean
                        displayName:
                          minLength: 1
                          type: string
                        name:
                          minLength: 1
                          type: string
                        self:
                          minLength: 1
                          type: string
                      required:
                        - self
                        - name
                        - displayName
                        - active
                      type: object
                    body:
                      properties:
                        content:
                          items:
                            properties:
                              content:
                                items:
                                  properties:
                                    text:
                                      minLength: 1
                                      type: string
                                    type:
                                      minLength: 1
                                      type: string
                                  required:
                                    - type
                                    - text
                                minItems: 1
                                type: array
                                uniqueItems: true
                              type:
                                minLength: 1
                                type: string
                            required:
                              - type
                          minItems: 1
                          type: array
                          uniqueItems: true
                        type:
                          minLength: 1
                          type: string
                        version:
                          type: number
                      required:
                        - type
                        - version
                        - content
                      type: object
                    created:
                      minLength: 1
                      type: string
                    id:
                      minLength: 1
                      type: string
                    self:
                      minLength: 1
                      type: string
                    updateAuthor:
                      properties:
                        active:
                          type: boolean
                        displayName:
                          minLength: 1
                          type: string
                        name:
                          minLength: 1
                          type: string
                        self:
                          minLength: 1
                          type: string
                      required:
                        - self
                        - name
                        - displayName
                        - active
                      type: object
                    updated:
                      minLength: 1
                      type: string
                    visibility:
                      properties:
                        type:
                          minLength: 1
                          type: string
                        value:
                          minLength: 1
                          type: string
                      required:
                        - type
                        - value
                      type: object
                  required:
                    - self
                    - id
                    - created
                    - updated
                minItems: 1
                type: array
                uniqueItems: true
            required:
              - maxResults
              - startAt
              - total
              - isLast
              - values
            type: object
  "/comment/{commentId}/properties":
    get:
      description: Returns the keys of all the properties of a comment.
      parameters:
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              keys:
                items:
                  properties:
                    key:
                      minLength: 1
                      type: string
                    self:
                      minLength: 1
                      type: string
                  required:
                    - self
                    - key
                minItems: 1
                type: array
                uniqueItems: true
            required:
              - keys
            type: object
  "/comment/{commentId}/properties/{propertyKey}":
    delete:
      description: Deletes a comment property.
      parameters:
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The key of the property.
          in: path
          name: propertyKey
          required: true
          type: string
      responses:
        "204":
          description: Returned if the request is successful.
    get:
      description: Returns the value of a comment property.
      parameters:
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The key of the property.
          in: path
          name: propertyKey
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              key:
                minLength: 1
                type: string
              value:
                properties:
                  stride.conversation.id:
                    minLength: 1
                    type: string
                  support.time:
                    minLength: 1
                    type: string
                required:
                  - stride.conversation.id
                  - support.time
                type: object
            required:
              - key
              - value
            type: object
    put:
      description: Creates or updates the value of a property for a comment. Use this
        resource to store custom data against a comment.
      parameters:
        - description: The ID of the comment.
          in: path
          name: commentId
          required: true
          type: string
        - description: The key of the property. The maximum length is 255 characters.
          in: path
          name: propertyKey
          required: true
          type: string
      responses:
        "200":
          description: Returned if the comment property is updated.
  /component:
    post:
      description: "Creates a component. Use components to provide containers for
        issues within a project. Permissions required: Any of the following:"
      parameters:
        - in: body
          name: body
          schema:
            properties:
              assignee:
                description: A user.
                type: object
              assigneeType:
                description: "The nominal user type used to determine the assignee for issues
                  created with this component. See realAssigneeType for details
                  on how the type of the user, and hence the user, assigned to
                  issues is determined. Can take the following values:"
                enum:
                  - PROJECT_DEFAULT
                  - COMPONENT_LEAD
                  - PROJECT_LEAD
                  - UNASSIGNED
                type: string
              description:
                description: The description for the component. Optional when creating or
                  updating a component.
                type: string
              lead:
                description: A user.
                type: object
              leadAccountId:
                description: The accountId of the component's lead user. The accountId uniquely
                  identifies the user across all Atlassian products. For
                  example, 384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192.Optional
                  when creating or updating a component.
                type: string
              leadUserName:
                description: This property has been deprecated in favour of leadAccountId due to
                  privacy changes. See the migration guide for details.The
                  username of the component's lead user. Optional when creating
                  or updating a component.
                type: string
              name:
                description: The unique name for the component in the project. Required when
                  creating a component. Optional when updating a component.
                  Maximum length 255 chars.
                type: string
              project:
                description: The key of the project to which the component is assigned. Required
                  when creating a component. Can't be updated.
                type: string
              projectId:
                description: Not used.
                type: integer
              realAssignee:
                description: A user.
                type: object
            type: object
      responses:
        "201":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              assignee:
                properties:
                  accountId:
                    minLength: 1
                    type: string
                  active:
                    type: boolean
                  avatarUrls:
                    properties:
                      16x16:
                        minLength: 1
                        type: string
                      24x24:
                        minLength: 1
                        type: string
                      32x32:
                        minLength: 1
                        type: string
                      48x48:
                        minLength: 1
                        type: string
                    required:
                      - 48x48
                      - 24x24
                      - 16x16
                      - 32x32
                    type: object
                  displayName:
                    minLength: 1
                    type: string
                  key:
                    minLength: 1
                    type: string
                  name:
                    minLength: 1
                    type: string
                  self:
                    minLength: 1
                    type: string
                required:
                  - self
                  - key
                  - accountId
                  - name
                  - avatarUrls
                  - displayName
                  - active
                type: object
              assigneeType:
                minLength: 1
                type: string
              description:
                minLength: 1
                type: string
              id:
                minLength: 1
                type: string
              isAssigneeTypeValid:
                type: boolean
              lead:
                properties:
                  accountId:
                    minLength: 1
                    type: string
                  active:
                    type: boolean
                  avatarUrls:
                    properties:
                      16x16:
                        minLength: 1
                        type: string
                      24x24:
                        minLength: 1
                        type: string
                      32x32:
                        minLength: 1
                        type: string
                      48x48:
                        minLength: 1
                        type: string
                    required:
                      - 48x48
                      - 24x24
                      - 16x16
                      - 32x32
                    type: object
                  displayName:
                    minLength: 1
                    type: string
                  key:
                    minLength: 1
                    type: string
                  name:
                    minLength: 1
                    type: string
                  self:
                    minLength: 1
                    type: string
                required:
                  - self
                  - key
                  - accountId
                  - name
                  - avatarUrls
                  - displayName
                  - active
                type: object
              name:
                minLength: 1
                type: string
              project:
                minLength: 1
                type: string
              projectId:
                type: number
              realAssignee:
                properties:
                  accountId:
                    minLength: 1
                    type: string
                  active:
                    type: boolean
                  avatarUrls:
                    properties:
                      16x16:
                        minLength: 1
                        type: string
                      24x24:
                        minLength: 1
                        type: string
                      32x32:
                        minLength: 1
                        type: string
                      48x48:
                        minLength: 1
                        type: string
                    required:
                      - 48x48
                      - 24x24
                      - 16x16
                      - 32x32
                    type: object
                  displayName:
                    minLength: 1
                    type: string
                  key:
                    minLength: 1
                    type: string
                  name:
                    minLength: 1
                    type: string
                  self:
                    minLength: 1
                    type: string
                required:
                  - self
                  - key
                  - accountId
                  - name
                  - avatarUrls
                  - displayName
                  - active
                type: object
              realAssigneeType:
                minLength: 1
                type: string
              self:
                minLength: 1
                type: string
            required:
              - self
              - id
              - name
              - description
              - lead
              - assigneeType
              - assignee
              - realAssigneeType
              - realAssignee
              - isAssigneeTypeValid
              - project
              - projectId
            type: object
  "/component/{id}":
    delete:
      description: "Deletes a component. Permissions required: Any of the following:"
      parameters:
        - description: The ID of the component.
          in: path
          name: id
          required: true
          type: string
        - description: The ID of the component to replace the deleted component. If this
            value is null no replacement is made.
          in: query
          name: moveIssuesTo
          type: string
      responses:
        "204":
          description: Returned if the request is successfully.
    get:
      description: "Returns a component. Permissions required: Browse projects project
        permission."
      parameters:
        - description: The ID of the component.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              assignee:
                properties:
                  accountId:
                    minLength: 1
                    type: string
                  active:
                    type: boolean
                  avatarUrls:
                    properties:
                      16x16:
                        minLength: 1
                        type: string
                      24x24:
                        minLength: 1
                        type: string
                      32x32:
                        minLength: 1
                        type: string
                      48x48:
                        minLength: 1
                        type: string
                    required:
                      - 48x48
                      - 24x24
                      - 16x16
                      - 32x32
                    type: object
                  displayName:
                    minLength: 1
                    type: string
                  key:
                    minLength: 1
                    type: string
                  name:
                    minLength: 1
                    type: string
                  self:
                    minLength: 1
                    type: string
                required:
                  - self
                  - key
                  - accountId
                  - name
                  - avatarUrls
                  - displayName
                  - active
                type: object
              assigneeType:
                minLength: 1
                type: string
              description:
                minLength: 1
                type: string
              id:
                minLength: 1
                type: string
              isAssigneeTypeValid:
                type: boolean
              lead:
                properties:
                  accountId:
                    minLength: 1
                    type: string
                  active:
                    type: boolean
                  avatarUrls:
                    properties:
                      16x16:
                        minLength: 1
                        type: string
                      24x24:
                        minLength: 1
                        type: string
                      32x32:
                        minLength: 1
                        type: string
                      48x48:
                        minLength: 1
                        type: string
                    required:
                      - 48x48
                      - 24x24
                      - 16x16
                      - 32x32
                    type: object
                  displayName:
                    minLength: 1
                    type: string
                  key:
                    minLength: 1
                    type: string
                  name:
                    minLength: 1
                    type: string
                  self:
                    minLength: 1
                    type: string
                required:
                  - self
                  - key
                  - accountId
                  - name
                  - avatarUrls
                  - displayName
                  - active
                type: object
              name:
                minLength: 1
                type: string
              project:
                minLength: 1
                type: string
              projectId:
                type: number
              realAssignee:
                properties:
                  accountId:
                    minLength: 1
                    type: string
                  active:
                    type: boolean
                  avatarUrls:
                    properties:
                      16x16:
                        minLength: 1
                        type: string
                      24x24:
                        minLength: 1
                        type: string
                      32x32:
                        minLength: 1
                        type: string
                      48x48:
                        minLength: 1
                        type: string
                    required:
                      - 48x48
                      - 24x24
                      - 16x16
                      - 32x32
                    type: object
                  displayName:
                    minLength: 1
                    type: string
                  key:
                    minLength: 1
                    type: string
                  name:
                    minLength: 1
                    type: string
                  self:
                    minLength: 1
                    type: string
                required:
                  - self
                  - key
                  - accountId
                  - name
                  - avatarUrls
                  - displayName
                  - active
                type: object
              realAssigneeType:
                minLength: 1
                type: string
              self:
                minLength: 1
                type: string
            required:
              - self
              - id
              - name
              - description
              - lead
              - assigneeType
              - assignee
              - realAssigneeType
              - realAssignee
              - isAssigneeTypeValid
              - project
              - projectId
            type: object
    put:
      description: 'Modifies a component. Any fields included in the request are
        overwritten. If leadUserName is an empty string ("") the component lead
        is removed. Permissions required: Any of the following:'
      parameters:
        - in: body
          name: body
          schema:
            properties:
              assignee:
                description: A user.
                type: object
              assigneeType:
                description: "The nominal user type used to determine the assignee for issues
                  created with this component. See realAssigneeType for details
                  on how the type of the user, and hence the user, assigned to
                  issues is determined. Can take the following values:"
                enum:
                  - PROJECT_DEFAULT
                  - COMPONENT_LEAD
                  - PROJECT_LEAD
                  - UNASSIGNED
                type: string
              description:
                description: The description for the component. Optional when creating or
                  updating a component.
                type: string
              lead:
                description: A user.
                type: object
              leadAccountId:
                description: The accountId of the component's lead user. The accountId uniquely
                  identifies the user across all Atlassian products. For
                  example, 384093:32b4d9w0-f6a5-3535-11a3-9c8c88d10192.Optional
                  when creating or updating a component.
                type: string
              leadUserName:
                description: This property has been deprecated in favour of leadAccountId due to
                  privacy changes. See the migration guide for details.The
                  username of the component's lead user. Optional when creating
                  or updating a component.
                type: string
              name:
                description: The unique name for the component in the project. Required when
                  creating a component. Optional when updating a component.
                  Maximum length 255 chars.
                type: string
              project:
                description: The key of the project to which the component is assigned. Required
                  when creating a component. Can't be updated.
                type: string
              projectId:
                description: Not used.
                type: integer
              realAssignee:
                description: A user.
                type: object
            type: object
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
  "/component/{id}/relatedIssueCounts":
    get:
      description: "Returns the counts of issues assigned to the component.
        Permissions required: Permission to access Jira."
      parameters:
        - description: The ID of the component.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              issueCount:
                type: number
              self:
                minLength: 1
                type: string
            required:
              - self
              - issueCount
            type: object
  /configuration:
    get:
      description: Returns the global settings in Jira. These settings determine
        whether optional features (for example, sub-tasks, time tracking, and
        others) are enabled. If time tracking is enabled, this method also
        returns the time tracking configuration.
      parameters: []
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              attachmentsEnabled:
                type: boolean
              issueLinkingEnabled:
                type: boolean
              subTasksEnabled:
                type: boolean
              timeTrackingConfiguration:
                properties:
                  defaultUnit:
                    minLength: 1
                    type: string
                  timeFormat:
                    minLength: 1
                    type: string
                  workingDaysPerWeek:
                    type: number
                  workingHoursPerDay:
                    type: number
                required:
                  - workingHoursPerDay
                  - workingDaysPerWeek
                  - timeFormat
                  - defaultUnit
                type: object
              timeTrackingEnabled:
                type: boolean
              unassignedIssuesAllowed:
                type: boolean
              votingEnabled:
                type: boolean
              watchingEnabled:
                type: boolean
            required:
              - votingEnabled
              - watchingEnabled
              - unassignedIssuesAllowed
              - subTasksEnabled
              - issueLinkingEnabled
              - timeTrackingEnabled
              - attachmentsEnabled
              - timeTrackingConfiguration
            type: object
  /configuration/timetracking:
    delete:
      description: Disables time tracking.
      parameters: []
      responses:
        "204":
          description: Returned if the request is successful.
    get:
      description: Returns the time tracking provider that is currently selected. Note
        that if time tracking is disabled, then a successful but empty response
        is returned.
      parameters: []
      responses:
        "200":
          description: Returned if the request is successful and time tracking is enabled.
          schema:
            description: ""
            properties:
              key:
                minLength: 1
                type: string
              name:
                minLength: 1
                type: string
              url:
                minLength: 1
                type: string
            required:
              - key
              - name
              - url
            type: object
    put:
      description: Selects a time tracking provider.
      parameters:
        - in: body
          name: body
          schema:
            properties:
              key:
                description: The key for the time tracking provider (for example, JIRA).
                type: string
              name:
                description: The name of the time tracking provider (for example, JIRA provided
                  time tracking).
                type: string
            type: object
      responses:
        "204":
          description: Returned if the request is successful.
  /configuration/timetracking/list:
    get:
      description: "Returns all time tracking providers. By default, Jira only has one
        time tracking provider: JIRA provided time tracking. However, you can
        install other time tracking providers via apps from the Atlassian
        Marketplace. For more information on time tracking providers, see the
        documentation for the Time Tracking Provider module."
      parameters: []
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            items:
              properties:
                key:
                  minLength: 1
                  type: string
                name:
                  minLength: 1
                  type: string
                url:
                  minLength: 1
                  type: string
              required:
                - key
                - name
                - url
              type: object
            minItems: 1
            type: array
            uniqueItems: true
  /configuration/timetracking/options:
    get:
      description: Returns the time tracking settings. This includes settings such as
        the time format, default time unit, and others. For more information,
        see Configuring time tracking.
      parameters: []
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              defaultUnit:
                minLength: 1
                type: string
              timeFormat:
                minLength: 1
                type: string
              workingDaysPerWeek:
                type: number
              workingHoursPerDay:
                type: number
            required:
              - workingHoursPerDay
              - workingDaysPerWeek
              - timeFormat
              - defaultUnit
            type: object
    put:
      description: Sets the time tracking settings.
      parameters:
        - in: body
          name: body
          schema:
            properties:
              defaultUnit:
                description: The unit of time that will be applied to logged time by default.
                enum:
                  - minute
                  - hour
                  - day
                  - week
                type: string
              timeFormat:
                description: The format that will appear on an issue's Time Spent field.
                enum:
                  - pretty
                  - days
                  - hours
                type: string
              workingDaysPerWeek:
                description: The number of days in a working week (for example, 5.5). This value
                  is specified in days.
                type: number
              workingHoursPerDay:
                description: The number of hours in a working day (for example, 7.6). This value
                  is specified in hours.
                type: number
            type: object
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              defaultUnit:
                minLength: 1
                type: string
              timeFormat:
                minLength: 1
                type: string
              workingDaysPerWeek:
                type: number
              workingHoursPerDay:
                type: number
            required:
              - workingHoursPerDay
              - workingDaysPerWeek
              - timeFormat
              - defaultUnit
            type: object
  "/customFieldOption/{id}":
    get:
      description: Returns a custom field option. For example, an option in a
        cascading select list.
      parameters:
        - description: The ID of the custom field option. To find this ID, configure the
            custom field and edit its options in Jira. Click the option and its
            ID will show in the URL as the selectedParentOptionId parameter.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              self:
                minLength: 1
                type: string
              value:
                minLength: 1
                type: string
            required:
              - self
              - value
            type: object
  /dashboard:
    get:
      description: Returns a list of dashboards owned by or shared with the user. The
        list may be filtered to include only favorite or owned dashboards.
      parameters:
        - description: "The filter applied to the list of dashboards. Valid values are:"
          enum:
            - favourite
            - my
          in: query
          name: filter
          type: string
        - description: The maximum number of items to return per page. Maximum is 1000.
          in: query
          name: maxResults
          type: integer
        - description: The index of the first item to return in a page of results (page
            offset).
          in: query
          name: startAt
          type: integer
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              dashboards:
                items:
                  properties:
                    id:
                      minLength: 1
                      type: string
                    isFavourite:
                      type: boolean
                    name:
                      minLength: 1
                      type: string
                    owner:
                      properties:
                        avatarUrls:
                          properties:
                            16x16:
                              minLength: 1
                              type: string
                            24x24:
                              minLength: 1
                              type: string
                            32x32:
                              minLength: 1
                              type: string
                            48x48:
                              minLength: 1
                              type: string
                          required:
                            - 32x32
                            - 16x16
                            - 24x24
                            - 48x48
                          type: object
                        displayName:
                          minLength: 1
                          type: string
                        key:
                          minLength: 1
                          type: string
                        name:
                          minLength: 1
                          type: string
                        self:
                          minLength: 1
                          type: string
                      required:
                        - key
                        - self
                        - name
                        - displayName
                        - avatarUrls
                      type: object
                    popularity:
                      type: number
                    self:
                      minLength: 1
                      type: string
                    sharePermissions:
                      items:
                        properties:
                          group:
                            properties:
                              name:
                                minLength: 1
                                type: string
                              self:
                                minLength: 1
                                type: string
                            required:
                              - name
                              - self
                            type: object
                          id:
                            type: number
                          type:
                            minLength: 1
                            type: string
                        required:
                          - id
                          - type
                      minItems: 1
                      type: array
                      uniqueItems: true
                    view:
                      minLength: 1
                      type: string
                  required:
                    - id
                    - isFavourite
                    - name
                    - popularity
                    - self
                    - view
                minItems: 1
                type: array
                uniqueItems: true
              maxResults:
                type: number
              next:
                minLength: 1
                type: string
              prev:
                minLength: 1
                type: string
              startAt:
                type: number
              total:
                type: number
            required:
              - startAt
              - maxResults
              - total
              - prev
              - next
              - dashboards
            type: object
  "/dashboard/{dashboardId}/items/{itemId}/properties":
    get:
      description: Returns the keys of all properties for a dashboard item.
      parameters:
        - description: The ID of the dashboard.
          in: path
          name: dashboardId
          required: true
          type: string
        - description: The ID of the dashboard item.
          in: path
          name: itemId
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              keys:
                items:
                  properties:
                    key:
                      minLength: 1
                      type: string
                    self:
                      minLength: 1
                      type: string
                  required:
                    - self
                    - key
                minItems: 1
                type: array
                uniqueItems: true
            required:
              - keys
            type: object
  "/dashboard/{dashboardId}/items/{itemId}/properties/{propertyKey}":
    delete:
      description: Deletes a dashboard item property.
      parameters:
        - description: The ID of the dashboard.
          in: path
          name: dashboardId
          required: true
          type: string
        - description: The ID of the dashboard item.
          in: path
          name: itemId
          required: true
          type: string
        - description: The key of the dashboard item property.
          in: path
          name: propertyKey
          required: true
          type: string
      responses:
        "204":
          description: Returned if the dashboard item property was deleted.
    get:
      description: Returns the key and value of a dashboard item property.
      parameters:
        - description: The ID of the dashboard.
          in: path
          name: dashboardId
          required: true
          type: string
        - description: The ID of the dashboard item.
          in: path
          name: itemId
          required: true
          type: string
        - description: The key of the dashboard item property.
          in: path
          name: propertyKey
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              key:
                minLength: 1
                type: string
              value:
                properties:
                  stride.conversation.id:
                    minLength: 1
                    type: string
                  support.time:
                    minLength: 1
                    type: string
                required:
                  - stride.conversation.id
                  - support.time
                type: object
            required:
              - key
              - value
            type: object
    put:
      description: Sets the value of a dashboard item property. Use this resource in
        apps to store custom data against a dashboard item.
      parameters:
        - description: The ID of the dashboard.
          in: path
          name: dashboardId
          required: true
          type: string
        - description: The ID of the dashboard item.
          in: path
          name: itemId
          required: true
          type: string
        - description: The key of the dashboard item property. The maximum length of the
            key is 255 bytes.
          in: path
          name: propertyKey
          required: true
          type: string
      responses:
        "200":
          description: Returned if the dashboard item property is updated.
  "/dashboard/{id}":
    get:
      description: Returns a dashboard.
      parameters:
        - description: The ID of the dashboard.
          in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: Returned if the request is successful.
          schema:
            description: ""
            properties:
              id:
                minLength: 1
                type: string
              isFavourite:
                type: boolean
              name:
                minLength: 1
                type: string
              popularity:
                type: number
              self:
                minLength: 1
                type: string
              sharePermissions:
                items:
                  properties:
                    type:
                      minLength: 1
                      type: string
                  required:
                    - type
                minItems: 1
                type: array
                uniqueItems: true
              view:
                minLength: 1
                type: string
            required:
              - id
              - isFavourite
              - name
              - popularity
              - self
              - sharePermissions
              - view
            type: object
  /expression/eval:
    post:
      description: Evaluates a Jira expression and returns its value.
      parameters:
        - in: body
          name: body
          schema:
            properties:
              context:
                type: object
              expression:
                description: The Jira expression to evaluate.
                type: string
            type: object
        - description: "Use expand to include additional information in the response. This
            parameter accepts multiple values separated by a comma:"
          enum:
            - meta.complexity
          in: query
          name: expand
          type: string
      responses:
        "200":
          description: Returned if the expression evaluated successfully. The result can
            be any JSON, not only a primitive value but also a list or object.
          schema:
            description: ""
            properties:
              meta:
                properties:
                  complexity:
                    properties:
                      beans:
                        properties:
                          limit:
                            type: number
                          value:
                            type: number
                        required:
                          - value
                          - limit
                        type: object
                      expensiveOperations:
                        properties:
                          limit:
                            type: number
                          value:
                            type: number
                        required:
                          - value
                          - limit
                        type: object
                      primitiveValues:
                        properties:
                          limit:
                            type: number
                          value:
                            type: number
                        required:
                          - value
                          - limit
                        type: object
                      steps:
                        properties:
                          limit:
                            type: number
                          value:
                            type: number
                        required:
                          - value
                          - limit
                        type: object
                    required:
                      - steps
                      - expensiveOperations
                      - beans
                      - primitiveValues
                    type: object
                required:
                  - complexity
                type: object
              value:
                minLength: 1
                type: string
            required:
              - value
              - meta
            type: object
  /field:
    get:
      description: Returns all issue fields in Jira, both system and custom fields.
      parameters: []
      responses:
        "200":
          description: Returned if the requested fields are returned.
          schema:
            description: ""
            items:
              properties:
                clauseNames:
                  items:
                    properties: {}
                  type: array
                custom:
                  type: boolean
                id:
                  minLength: 1
                  type: string
                key:
                  minLength: 1
                  type: string
                name:
                  minLength: 1
                  type: string
                navigable:
                  type: boolean
                orderable:
                  type: boolean
                schema:
                  properties:
                    system:
                      minLength: 1
                      type: string
                    type:
                      minLength: 1
                      type: string
                  required:
                    - type
                    - system
                  type: object
                searchable:
                  type: boolean
              required:
                - id
                - key
                - name
                - custom
                - orderable
                - navigable
                - searchable
                - clauseNames
                - schema
              type: object
            minItems: 1
            type: array
            uniqueItems: true
    post:
      description: Creates a custom field.
      parameters:
        - in: body
          name: body
          schema:
            properties:
              description:
                description: The description of the custom field, which is displayed in the UI.
                type: string
              name:
                description: The name of the custom field, which is displayed in the UI. This is
                  not the unique identifier.
                type: string
              searcherKey:
                description: "The searcher defines the way the field is searched in Jira. For
                  example,
                  com.atlassian.jira.plugin.system.customfieldtypes:grouppicker\
                  searcher.The search UI (basic search and JQL search) will
                  display different operations and values for the field, based
                  on the field searcher. You must specify a searcher that is
                  valid for the field type, as listed below (abbreviated values
                  shown):"
                enum:
                  - com.atlassian.jira.plugin.system.customfieldtypes:cascadingselectsearcher
                  - com.atlassian.jira.plugin.system.customfieldtypes:daterange
                  - com.atlassian.jira.plugin.system.customfieldtypes:datetimerange
                  - com.atlassian.jira.plugin.system.customfieldtypes:exactnumber
                  - com.atlassian.jira.plugin.system.customfieldtypes:exacttextsearcher
                  - com.atlassian.jira.plugin.system.customfieldtypes:grouppickersearcher
                  - com.atlassian.jira.plugin.system.customfieldtypes:labelsearcher
                  - com.atlassian.jira.plugin.system.customfieldtypes:multiselectsearcher
                  - com.atlassian.jira.plugin.system.customfieldtypes:numberrange
                  - com.atlassian.jira.plugin.system.customfieldtypes:projectsearcher
                type: string
              type:
                description: The type of the custom field. For example,
                  com.atlassian.jira.plugin.system.customfieldtypes:grouppicker.
                enum:
                  - com.atlassian.jira.plugin.system.customfieldtypes:cascadingselect
                  - com.atlassian.jira.plugin.system.customfieldtypes:datepicker
                  - com.atlassian.jira.plugin.system.customfieldtypes:datetime
                  - com.atlassian.jira.plugin.system.customfieldtypes:float
                  - com.atlassian.jira.plugin.system.customfieldtypes:grouppicker
                  - com.atlassian.jira.plugin.system.customfieldtypes:importid
                  - com.atlassian.jira.plugin.system.customfieldtypes:labels
                  - com.atlassian.jira.plugin.system.customfieldtypes:multicheckboxes
                  - com.atlassian.jira.plugin.system.customfieldtypes:multigrouppicker
                  - com.atlassian.jira.plugin.system.customfieldtypes:multiselect
                type: string
            type: object
      responses:
        "201":
          description: Returned if the custom field was created.
          schema:
            description: ""
            properties:
              clauseNames:
                items:
                  properties: {}
                type: array
              custom:
                type: boolean
              id:
                minLength: 1
                type: string
              name:
                minLength: 1
                type: string
              navigable:
                type: boolean
              orderable:
                type: boolean
              schema:
                properties:
                  custom:
                    minLength: 1
                    type: string
                  customId:
                    type: number
                  type:
                    minLength: 1
                    type: string
                required:
                  - type
                  - custom
                  - customId
                type: object
              searchable:
                type: boolean
            required:
              - id
              - name
              - custom
              - orderable
              - navigable
              - searchable
              - clauseNames
              - schema
            type: object
  "/field/{fieldKey}/option":
    get:
      description: Returns all options defined for a select list issue field. A select
        list issue field is a type of issue field that allows a user to select
        an value from a list of options.
      parameters:
        - description: "The field key is specified in the following format:
            $(app-key)__$(field-key). For example,
            example-add-on__example-issue-field."
          in: path
          name: fieldKey
          required: true
          type: string
        - description: The maximum number of items to return per page. For example, 20.
          in: query
          name: maxResults
          type: integer
        - description: The starting index of the returned objects. For example, 1.
          in: query
          name: startAt
          type: integer
      responses:
        "200":
          description: Returned if the requested options are returned.
          schema:
            description: ""
            properties:
              isLast:
                type: boolean
              maxResults:
                type: number
              nextPage:
                minLength: 1
                type: string
              self:
                minLength: 1
                type: string
              startAt:
                type: number
              total:
                type: number
              values:
                items:
                  properties:
                    config:
                      properties:
                        attributes:
                          items:
                            properties: {}
                          type: array
                        scope:
                          properties:
                            global:
                              properties: {}
                              type: object
                            projects:
                              items:
                                properties: {}
                              type: array
                            projects2:
                              items:
                                properties:
                                  attributes:
                                    items:
                                      properties: {}
                                    type: array
                                  id:
                                    type: number
                                required:
                                  - id
                              minItems: 1
                              type: array
                              uniqueItems: true
                          required:
                            - projects
                            - projects2
                            - global
                          type: object
                      required:
                        - scope
                        - attributes
                      type: object
                    id:
                      type: number
                    properties:
                      properties:
                        description:
                          minLength: 1
                          type: string
                        founded:
                          minLength: 1
                          type: string
                        leader:
                          properties:
                            email:
                              minLength: 1
                              type: string
                            name:
                              minLength: 1
                              type: string
                          required:
                            - name
                            - email
                          type: object
                        members:
                          type: number
                      required:
                        - leader
                        - members
                        - description
                        - founded
                      type: object
                    value:
                      minLength: 1
                      type: string
                  required:
                    - id
                    - value
                minItems: 1
                type: array
                uniqueItems: true
            required:
              - self
              - nextPage
              - maxResults
              - startAt
              - total
              - isLast
              - values
            type: object
    post:
      description: Creates an option for a select list issue field.
      parameters:
        - in: body
          name: body
          schema:
            properties:
              config:
                type: object
              properties:
                description: The properties can be any arbitrary key value pairs. These
                  properties can be searched using JQL, if the extractions (see
                  https://developer.atlassian.com/cloud/jira/platform/modules/issue-field-option-property-index/)
                  are defined in the descriptor for the issue field module.
                type: object
              value:
                description: The option's name, which is displayed in the UI.
                type: string
            type: object
        - in: path
          name: fieldKey
          required: true
          type: string
      responses:
        "200":
          description: Returned if the option has been created.
          schema:
            description: ""
            properties:
              config:
                properties:
                  attributes:
                    items:
                      properties: {}
                    type: array
                  scope:
                    properties:
                      global:
                        properties: {}
                        type: object
                      projects:
                        items:
                          properties: {}
                        type: array
                      projects2:
                        items:
                          properties:
                            attributes:
                              items:
                                properties: {}
                              type: array
                            id:
                              type: number
                          required:
                            - id
                        minItems: 1
                        type: array
                        uniqueItems: true
                    required:
                      - projects
                      - projects2
                      - global
                    type: object
                required:
                  - scope
                  - attributes
                type: object
              properties:
                properties:
                  description:
                    minLength: 1
                    type: string
                  founded:
                    minLength: 1
                    type: string
                  leader:
                    properties:
                      email:
                        minLength: 1
                        type: string
                      name:
                        minLength: 1
                        type: string
                    required:
                      - name
                      - email
                    type: object
                  members:
                    type: number
                required:
                  - leader
                  - members
                  - description
                  - founded
                type: object
              value:
                minLength: 1
                type: string
            required:
              - value
              - properties
              - config
            type: object
  "/field/{fieldKey}/option/suggestions/edit":
    get:
      description: Returns options defined for a select list issue field that can be
        viewed and selected by the currently logged in user.
      parameters:
        - description: "The field key is specified in the following format:
            $(app-key)__$(field-key). For example,
            example-add-on__example-issue-field."
          in: path
          name: fieldKey
          required: true
          type: string
        - description: The maximum number of items to return per page. For example, 20.
          in: query
          name: maxResults
          type: integer
        - description: Filters the results to options that are only available in the
            specified project. For example, 10000.
          in: query
          name: projectId
          type: integer
        - description: The starting index of the returned objects. For example, 1.
          in: query
          name: startAt
          type: integer
      responses:
        "200":
          description: Returned if the requested options are returned.
          schema:
            description: ""
            properties:
              isLast:
                type: boolean
              maxResults:
                type: number
              nextPage:
                minLength: 1
                type: string
              self:
                minLength: 1
                type: string
              startAt:
                type: number
              total:
                type: number
              values:
                items:
                  properties:
                    id:
                      type: number
                    properties:
                      properties:
                        description:
                          minLength: 1
                          type: string
                        founded:
                          minLength: 1
                          type: string
                        leader:
                          properties:
                            email:
                              minLength: 1
                              type: string
                            name:
                              minLength: 1
                              type: string
                          required:
                            - name
                            - email
                          type: object
                        members:
                          type: number
                      required:
                        - leader
                        - members
                        - description
                        - founded
                      type: object
                    value:
                      minLength: 1
                      type: string
                  required:
                    - id
                    - value
                minItems: 1
                type: array
                uniqueItems: true
            required:
              - self
              - nextPage
              - maxResults
              - startAt
              - total
              - isLast
              - values
            type: object
  "/field/{fieldKey}/option/suggestions/search":
    get:
      description: Returns options defined for a select list issue field that can be
        viewed by the currently logged in user.
      parameters:
        - description: "The field key is specified in the following format:
            $(app-key)__$(field-key). For example,
            example-add-on__example-issue-field."
          in: path
          name: fieldKey
          required: true
          type: string
        - description: The maximum number of items to return per page. For example, 20.
          in: query
          name: maxResults
          type: integer
        - description: Filters the results to options that are only available in the
            specified project. For example, 10000.
          in: query
          name: projectId
          type: integer
        - description: The starting index of the returned objects. For example, 1.
          in: query
          name: startAt
          type: integer
      responses:
        "200":
          description: Returned if the requested options are returned.
          schema:
            description: ""
            properties:
              isLast:
                type: boolean
              maxResults:
                type: number
              nextPage:
                minLength: 1
                type: string
              self:
                minLength: 1
                type: string
              startAt:
                type: number
              total:
                type: number
              values:
                items:
                  properties:
                    id:
                      type: number
                    properties:
                      properties:
                        description:
                          minLength: 1
                          type: string
                        founded:
                          minLength: 1
                          type: string
                        leader:
                          properties:
                            email:
                              minLength: 1
                              type: string
                            name:
                              minLength: 1
                              type: string
                          required:
                            - name
                            - email
                          type: object
                        members:
                          type: number
                      required:
                        - leader
                        - members
                        - description
                        - founded
                      type: object
                    value:
                      minLength: 1
                      type: string
                  required:
                    - id
                    - value
                minItems: 1
                type: array
                uniqueItems: true
            required:
              - self
              - nextPage
              - maxResults
              - startAt
              - total
              - isLast
              - values
            type: object
  "/field/{fieldKey}/option/{optionId}":
    delete:
      description: Deletes an option from a select list issue field.
      parameters:
        - description: "The field key is specified in the following format:
            $(app-key)__$(field-key). For example,
            example-add-on__example-issue-field."
          in: path
          name: fieldKey
          required: true
          type: string
        - description: The ID of the option to be deleted. For example, 3.
          in: path
          name: optionId
          required: true
          type: integer
      responses:
        "204":
          description: Returned if the field option has been deleted.
    get:
      description: Returns an option from a select list issue field.
      parameters:
        - description: "The field key is specified in the following format:
            $(app-key)__$(field-key). For example,
            example-add-on__example-issue-field."
          in: path
          name: fieldKey
          required: true
          type: string
        - description: The ID of the option to be returned. For example, 3.
          in: path
          name: optionId
          required: true
          type: integer
      responses:
        "200":
          description: Returned if the requested option is returned.
          schema:
            description: ""
            properties:
              config:
                properties:
                  attributes:
                    items:
                      properties: {}
                    type: array
                  scope:
                    properties:
                      global:
                        properties: {}
                        type: object
                      projects:
                        items:
                          properties: {}
                        type: array
                      projects2:
                        items:
                          properties:
                            attributes:
                              items:
                                properties: {}
                              type: array
                            id:
                              type: number
                          required:
                            - id
                        minItems: 1
                        type: array
                        uniqueItems: true
                    required:
                      - projects
                      - projects2
                      - global
                    type: object
                required:
                  - scope
                  - attributes
                type: object
              id:
                type: number
              properties:
                properties:
                  description:
                    minLength: 1
                    type: string
                  founded:
                    minLength: 1
                    type: string
                  leader:
                    properties:
                      email:
                        minLength: 1
                        type: string
                      name:
                        minLength: 1
                        type: string
                    required:
                      - name
                      - email
                    type: object
                  members:
                    type: number
                required:
                  - leader
                  - members
                  - description
                  - founded
                type: object
              value:
                minLength: 1
                type: string
            required:
              - id
              - value
              - properties
              - config
            type: object
    put:
      description: Updates an option for a select list issue field. If the option does
        not exist, a new option is created.
      parameters:
        - in: body
          name: body
          schema:
            properties:
              config:
                type: object
              properties:
                description: The properties can be any arbitrary key value pairs. These
                  properties can be searched using JQL, if the extractions (see
                  https://developer.atlassian.com/cloud/jira/platform/modules/issue-field-option-property-index/)
                  are defined in the descriptor for the issue field module.
                type: object
              value:
                description: The option's name, which is displayed in the UI.
                type: string
            type: object
        - description: "The field key is specified in the following format:
            $(app-key)__$(field-key). For example,
            example-add-on__example-issue-field."
          in: path
          name: fieldKey
          required: true
          type: string
        - description: The ID of the option to be updated. For example, 3.
          in: path
          name: optionId
          required: true
          type: integer
      responses:
        "200":
          description: Returned if the option has been updated or created.
          schema:
            description: ""
            properties:
              config:
                properties:
                  attributes:
                    items:
                      properties: {}
                    type: array
                  scope:
                    properties:
                      global:
                        properties: {}
                        type: object
                      projects:
                        items:
                          properties: {}
                        type: array
                      projects2:
                        items:
                          properties:
                            attributes:
                              items:
                                properties: {}
                              type: array
                            id:
                              type: number
                          required:
                            - id
                        minItems: 1
                        type: array
                        uniqueItems: true
                    required:
                      - projects
                      - projects2
                      - global
                    type: object
                required:
                  - scope
                  - attributes
                type: object
              id:
                type: number
              properties:
                properties:
                  description:
                    minLength: 1
                    type: string
                  founded:
                    minLength: 1
                    type: string
                  leader:
                    properties:
                      email:
                        minLength: 1
                        type: string
                      name:
                        minLength: 1
                        type: string
                    required:
                      - name
                      - email
                    type: object
                  members:
                    type: number
                required:
                  - leader
                  - members
                  - description
                  - founded
                type: object
              value:
                minLength: 1
                type: string
            required:
              - id
              - value
              - properties
              - config
            type: object
  "/field/{fieldKey}/option/{optionId}/issue":
    delete:
      description: Deselects a select list issue field option in all issues that it
        has been selected in. A different option can be selected to replace the
        deselected option. The update can also be limited to a smaller set of
        issues by using a JQL query.
      parameters:
        - description: "The field key is specified in the following format:
            $(app-key)__$(field-key). For example,
[...]
