swagger: '2.0'
schemes:
  - https
host: api.hillbillysoftware.com
info:
  title: shinobiapi
  version: v1
  x-apisguru-categories:
    - media
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://hillbillysoftware.com/img/logo.png'
  x-origin:
    - format: swagger
      url: 'https://api.hillbillysoftware.com/swagger/docs/v1'
      version: '2.0'
  x-providerName: hillbillysoftware.com
  x-serviceName: shinobi
consumes: []
produces:
  - application/json
  - text/json
  - application/xml
  - text/xml
paths:
  '/Actors/Search/{accesstoken}/{Query}':
    get:
      operationId: Actor_Get
      parameters:
        - description: ''
          in: path
          name: accesstoken
          required: true
          type: string
        - description: ''
          in: path
          name: Query
          required: true
          type: string
      responses:
        '200':
          description: List of Actors
          schema:
            items:
              $ref: '#/definitions/Actor'
            type: array
      summary: Returns data on queried actor/actress. Result set limited to 5 records
      tags:
        - Cast & Crew
  '/Awards/ByWinner/{AccessToken}/{Nominee}':
    get:
      operationId: AwardsbyWinner_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: Nominee
          required: true
          type: string
      responses:
        '200':
          description: List of awards
          schema:
            items:
              $ref: '#/definitions/_Awards'
            type: array
      summary: Gets all awards by nominiee
      tags:
        - Awards
  '/Awards/ByYear/{Year}':
    get:
      operationId: awards_Get
      parameters:
        - description: ''
          in: path
          name: Year
          required: true
          type: string
      responses:
        '200':
          description: List of awards
          schema:
            items:
              $ref: '#/definitions/_Awards'
            type: array
      summary: Gets all awards for requested year
      tags:
        - Awards
  '/Calendar/ByDate/{AccessToken}/{Date}/{Country}':
    get:
      operationId: ScheduleByDate_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: date format year-month-day
          in: path
          name: Date
          required: true
          type: string
        - description: US / CA / NL / BE / DE / GB or FR
          in: path
          name: Country
          required: true
          type: string
      responses:
        '200':
          description: List of schedules/calendar entries
          schema:
            items:
              $ref: '#/definitions/schedule'
            type: array
      summary: Gets TV Schedule for selected data
      tags:
        - Calendar
  '/Calendar/Countries/{AccessToken}':
    get:
      operationId: CalendarCountries_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
      responses:
        '200':
          description: List of countries
          schema:
            items:
              $ref: '#/definitions/Country'
            type: array
      summary: Returns list of available countries in calendar database
      tags:
        - Calendar
  '/Calendar/Networks/{AccessToken}':
    get:
      operationId: CalendarNetworks_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
      responses:
        '200':
          description: List of networks
          schema:
            items:
              $ref: '#/definitions/Networks'
            type: array
      summary: Gets a list of available networks
      tags:
        - Calendar
  '/Calendar/Today/{AccessToken}':
    get:
      operationId: CalendarToday_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
      responses:
        '200':
          description: List of schedules/calendar entries
          schema:
            items:
              $ref: '#/definitions/schedule'
            type: array
      summary: Will return show schedule for today for all countries in database
      tags:
        - Calendar
  '/Cast/ByTVShow/{accesstoken}/{ShowName}':
    get:
      operationId: ActorsInTVShow_Get
      parameters:
        - description: ''
          in: path
          name: accesstoken
          required: true
          type: string
        - description: ''
          in: path
          name: ShowName
          required: true
          type: string
      responses:
        '200':
          description: List of actors in show
          schema:
            items:
              $ref: '#/definitions/TVShowActor'
            type: array
      summary: Returns all actors in queried tvshow
      tags:
        - Cast & Crew
  '/Cast/InTVShow/{accesstoken}/{Actor}':
    get:
      operationId: ActorInShows_Get
      parameters:
        - description: ''
          in: path
          name: accesstoken
          required: true
          type: string
        - description: ''
          in: path
          name: Actor
          required: true
          type: string
      responses:
        '200':
          description: List of actors in show
          schema:
            items:
              $ref: '#/definitions/TVShowActor'
            type: array
      summary: Returns all shows queried actor/actress is or has been in
      tags:
        - Cast & Crew
  '/Crew/Search/{AccessToken}/{ShowName}':
    get:
      operationId: Crew_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: ShowName
          required: true
          type: string
      responses:
        '200':
          description: List of crew
          schema:
            items:
              $ref: '#/definitions/Crew'
            type: array
      summary: Returns crew for queried show.
      tags:
        - Cast & Crew
  '/Episodes/ByID/{AccessToken}/{ID}':
    get:
      operationId: EpisodesByID_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: ID
          required: true
          type: string
      responses:
        '200':
          description: List of episodes
          schema:
            items:
              $ref: '#/definitions/Episode'
            type: array
      summary: Gets all episodes for selected ID
      tags:
        - TVShows
  '/Episodes/ByShowName/{AccessToken}/{Showname}':
    get:
      operationId: Episodes_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: Showname
          required: true
          type: string
      responses:
        '200':
          description: List of episodes
          schema:
            items:
              $ref: '#/definitions/Episode'
            type: array
      summary: Gets all episodes for selected show
      tags:
        - TVShows
  '/GetIMDBid/ByID/{AccessToken}/{Query}':
    get:
      operationId: GetIMDBid_GetAsync
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: Query
          required: true
          type: string
      responses:
        '200':
          description: List of imdb ID's
          schema:
            items:
              $ref: '#/definitions/imdbID'
            type: array
      summary: 'Gets list of avaiable IMDB ids from Movies and TV Show databases, you can use those to query other end points that need ID''s'
      tags:
        - Miscellaneous
  '/Images/ByID/{AccessToken}/{imdbID}':
    get:
      operationId: Images_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: imdbID
          required: true
          type: string
      responses:
        '200':
          description: List of images
          schema:
            items:
              $ref: '#/definitions/imdbImages'
            type: array
      summary: Get images available for movie/tv show with passed imdbID
      tags:
        - Images
  '/Images/Search/{Accesstoken}/{Query}':
    get:
      operationId: ImageSearch_Get
      parameters:
        - description: ''
          in: path
          name: Accesstoken
          required: true
          type: string
        - description: ''
          in: path
          name: Query
          required: true
          type: string
        - in: query
          name: Strictmatch
          required: false
          type: boolean
      responses:
        '200':
          description: List of images
          schema:
            items:
              $ref: '#/definitions/Images'
            type: array
      summary: Get images available for movie/tv show with passed query
      tags:
        - Images
  '/Magnets/ByDate/{AccessToken}/{Date}':
    get:
      operationId: MagnetsByDate_GetAsync
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: Date
          required: true
          type: string
      responses:
        '200':
          description: List of magnet hashes
          schema:
            items:
              $ref: '#/definitions/Magnets'
            type: array
      summary: Gets available magnet hashes on passed date (yyyy-mm-dd)
      tags:
        - Magnets
  '/Magnets/Movie/{AccessToken}/{Movie}':
    get:
      operationId: magnetsMovieByID_GetAsync
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: Movie
          required: true
          type: string
      responses:
        '200':
          description: List of magnet hashes
          schema:
            items:
              $ref: '#/definitions/Magnets'
            type: array
      summary: 'Try and find magnet links for queried movie.  Feature not available on free plan, please donate to be able to use this feature'
      tags:
        - Magnets
  '/Magnets/TVShow/{AccessToken}/{TVShow}':
    get:
      operationId: magnetsTVShowSearch_GetAsync
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: TVShow
          required: true
          type: string
      responses:
        '200':
          description: List of magnet hashes
          schema:
            items:
              $ref: '#/definitions/Magnets'
            type: array
      summary: 'Returns results based on query, Feature not available on free plan, please donate to be able to use this feature.'
      tags:
        - Magnets
  '/Movie/ByID/{accesstoken}/{imdbID}':
    get:
      operationId: MovieID_Get
      parameters:
        - in: path
          name: accesstoken
          required: true
          type: string
        - in: path
          name: imdbID
          required: true
          type: string
      responses:
        '200':
          description: Movie information
          schema:
            $ref: '#/definitions/MovieInformation'
      tags:
        - Movies
  '/Movie/Search/{AccessToken}/{Query}':
    get:
      operationId: MovieSearch_GetAsync
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: Query
          required: true
          type: string
      responses:
        '200':
          description: List of information about queried movie(s)
          schema:
            items:
              $ref: '#/definitions/MovieInformation'
            type: array
      summary: 'Searches for movies, result set limited to 5 records'
      tags:
        - Movies
  '/Rating/ByID/{AccessToken}/{imdbID}':
    get:
      operationId: Rating_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: imdbID
          required: true
          type: string
      responses:
        '200':
          description: Ratings
          schema:
            $ref: '#/definitions/RatingItem'
      summary: 'Returns ratings from various resources(IMDB,Rotten Tomatoes, metaCritics, TVMaze etc) of passed IMDBid'
      tags:
        - Miscellaneous
  '/Status/{AccessToken}/{Query}':
    get:
      operationId: ShowStatus_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: 'Query can be IMDB, TVDB, or Show name'
          in: path
          name: Query
          required: true
          type: string
      responses:
        '200':
          description: List of statuses
          schema:
            items:
              $ref: '#/definitions/_ShowStatus'
            type: array
      summary: 'Returns status of queried show (query can be IMDB, TVDB, or showname)'
      tags:
        - TVShows
  '/TV/ByID/{accesstoken}/{imdbID}':
    get:
      operationId: TVShowID_Get
      parameters:
        - description: ''
          in: path
          name: accesstoken
          required: true
          type: string
        - description: imdbID of show you want info on
          in: query
          name: id
          required: true
          type: string
        - in: path
          name: imdbID
          required: true
          type: string
      responses:
        '200':
          description: Television show information
          schema:
            $ref: '#/definitions/TVInformation'
      summary: Returns TVShow information based on IMDBid
      tags:
        - TVShows
  '/TV/Search/{accesstoken}/{query}':
    get:
      operationId: TVShowSearch_GetAsync
      parameters:
        - description: ''
          in: path
          name: accesstoken
          required: true
          type: string
        - description: ''
          in: path
          name: query
          required: true
          type: string
      responses:
        '200':
          description: List of television show information
          schema:
            items:
              $ref: '#/definitions/TVInformation'
            type: array
      summary: 'Returns results based on query, result set limited to 5 records'
      tags:
        - TVShows
  '/Trailers/ByID/{AccessToken}/{imdbID}':
    get:
      operationId: TrailersbyID_Get
      parameters:
        - description: ''
          in: path
          name: AccessToken
          required: true
          type: string
        - description: ''
          in: path
          name: imdbID
          required: true
          type: string
      responses:
        '200':
          description: List of trailers
          schema:
            items:
              $ref: '#/definitions/Trailer'
            type: array
      summary: Get Trailers for passed imdbID
      tags:
        - Trailers
definitions:
  Actor:
    properties:
      Bio:
        type: string
      BirthYear:
        type: string
      DeathYear:
        type: string
      Gender:
        type: string
      Name:
        type: string
      PopularityIndex:
        type: string
      ProfileImage:
        type: string
    type: object
  Country:
    properties:
      Name:
        type: string
    type: object
  Crew:
    properties:
      Name:
        type: string
      ShowName:
        type: string
      Type:
        type: string
    type: object
  Episode:
    properties:
      Airdate:
        type: string
      Airtime:
        type: string
      EpisodeNo:
        type: string
      ImageHash:
        type: string
      Season:
        type: string
      Synopsis:
        type: string
      Title:
        type: string
      imdbID:
        type: string
      tvdbID:
        type: string
      tvmazeID:
        type: string
    type: object
  Images:
    properties:
      ID:
        type: string
      ImageURI:
        type: string
      imdbID:
        type: string
      isValidated:
        type: string
    type: object
  Links:
    properties:
      Magnet:
        type: string
      Title:
        type: string
    type: object
  Magnets:
    properties:
      Hash:
        type: string
      Name:
        type: string
      Size:
        type: string
      Title:
        type: string
      Type:
        type: string
    type: object
  MovieInformation:
    properties:
      ID:
        type: string
      ImdbID:
        type: string
      ReleaseYear:
        type: string
      Runtime:
        type: string
      Synopsis:
        type: string
      Title:
        type: string
      Urls:
        items:
          $ref: '#/definitions/Links'
        type: array
    type: object
  Networks:
    properties:
      Country:
        type: string
      Network:
        type: string
    type: object
  RatingItem:
    properties:
      ID:
        type: string
      MetaCritics:
        type: string
      Name:
        type: string
      Rating:
        type: string
      RottenTomatoes:
        type: string
      TVMaze:
        type: string
      imdbID:
        type: string
    type: object
  TVInformation:
    properties:
      EpisodeCount:
        type: string
      EpisodeRuntime:
        type: string
      ID:
        type: string
      ImdbID:
        type: string
      ReleaseYear:
        type: string
      Seasons:
        type: string
      ShowImage:
        type: string
      ShowStatus:
        type: string
      Synopsis:
        type: string
      Title:
        type: string
      Urls:
        items:
          $ref: '#/definitions/Links'
        type: array
    type: object
  TVShowActor:
    properties:
      Name:
        type: string
      Role:
        type: string
      ShowID:
        type: string
      ShowName:
        type: string
    type: object
  Trailer:
    properties:
      Key:
        type: string
      MediaType:
        type: string
      Site:
        type: string
      TrailerName:
        type: string
      TrailerSize:
        type: string
      TrailerType:
        type: string
      YouTubeEmbeddedCode:
        type: string
      YouTubeURL:
        type: string
    type: object
  _Awards:
    properties:
      Category:
        type: string
      Nominee:
        type: string
      Type:
        type: string
      Winner:
        type: string
      Year:
        type: string
    type: object
  _ShowStatus:
    properties:
      Enddate:
        type: string
      ID:
        type: string
      Title:
        type: string
      YearsOn:
        type: string
      imdbID:
        type: string
      status:
        type: string
      tvdbID:
        type: string
    type: object
  imdbID:
    properties:
      ID:
        type: string
      ShinobiID:
        type: string
      Title:
        type: string
      Type:
        type: string
    type: object
  imdbImages:
    properties:
      Backdrops:
        items:
          type: string
        type: array
      Posters:
        items:
          type: string
        type: array
      Type:
        type: string
      imdbID:
        type: string
    type: object
  schedule:
    properties:
      AirDate:
        type: string
      AirTime:
        type: string
      Country:
        type: string
      DaysOn:
        type: string
      ID:
        type: string
      Image:
        type: string
      Network:
        type: string
      PremiereDate:
        type: string
      Runtime:
        type: string
      ShowName:
        type: string
      Summary:
        type: string
      Title:
        type: string
    type: object
