openapi: 3.0.0
servers:
  - url: 'https://neutrinoapi.com/'
info:
  contact:
    email: ops@neutrinoapi.com
    name: Neutrino API
    url: 'https://www.neutrinoapi.com/'
  description: The general-purpose API
  license:
    name: MIT
    url: 'https://www.neutrinoapi.com/api/LICENSE-MIT.txt'
  title: NeutrinoAPI
  version: 3.3.2
  x-apisguru-categories:
    - email
    - messaging
    - telecom
    - location
    - text
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://www.neutrinoapi.com/img/NEUTRINO_LOGO_NOBG_126x65.png'
  x-origin:
    - format: swagger
      url: 'https://www.neutrinoapi.com/api/swagger.json'
      version: '2.0'
  x-providerName: neutrinoapi.com
paths:
  /bad-word-filter:
    post:
      description: 'Detect bad words, swear words and profanity in a given text'
      operationId: Bad Word Filter
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BadWordFilterResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                content:
                  description: The text content to check. This can be either a URL to load content from or an actual content string
                  type: string
                censor-character:
                  description: The character to use to censor out the bad words found
                  type: string
  /bin-lookup:
    post:
      description: 'Perform a BIN (Bank Identification Number) or IIN (Issuer Identification Number) lookup. See: https://www.neutrinoapi.com/api/bin-lookup/'
      operationId: BIN Lookup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BinLookupResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - E-commerce
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                bin-number:
                  description: The BIN or IIN number (the first 6 digits of a credit card number)
                  type: string
                customer-ip:
                  description: Pass in a customers remote IP address. The API will then determine the country of the IP address and match it against the BIN country. This feature is designed for fraud prevention and detection checks.
                  type: string
  /code-highlight:
    post:
      description: Code highlight will take raw source code and convert into nicely formatted HTML with syntax and keyword highlighting
      operationId: Code Highlight
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: binary
                type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  description: The source content. This can be either a URL to load from or an actual content string
                  type: string
                type:
                  description: The code type. See the API docs for all supported types
                  type: string
                add-keyword-links:
                  description: Add links on source code keywords to the relevant language documentation
                  type: boolean
                  default: false
              required:
                - content
  /convert:
    post:
      description: A powerful unit and currency conversion tool
      operationId: Convert
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConvertResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                from-value:
                  description: The value to convert from
                  type: string
                from-type:
                  description: The type of the value to convert from
                  type: string
                to-type:
                  description: The type to convert to
                  type: string
  /email-validate:
    post:
      description: 'Parse, validate and clean an email address'
      operationId: Email Validate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EmailValidateResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                email:
                  description: The email address
                  type: string
                fix-typos:
                  description: Automatically attempt to fix typos in the address
                  type: boolean
                  default: false
  /geocode-address:
    post:
      description: 'Geocode an address, partial address or the name of a location'
      operationId: Geocode Address
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeAddressResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Geolocation
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                address:
                  description: The address or partial address to try and locate
                  type: string
                country-code:
                  description: The ISO 2-letter country code to be biased towards (default is no country bias)
                  type: string
                language-code:
                  description: 'The language to display results in, available languages are: de, en, es, fr, it, pt, ru'
                  type: string
                  default: en
                fuzzy-search:
                  description: 'If no matches are found for the given address, start performing a recursive fuzzy search until a geolocation is found. We use a combination of approximate string matching and data cleansing to find possible location matches'
                  type: boolean
                  default: false
  /geocode-reverse:
    post:
      description: Convert a geographic coordinate (latitude and longitude) into a real world address or location.
      operationId: Geocode Reverse
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GeocodeReverseResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Geolocation
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                latitude:
                  description: The location latitude
                  type: number
                  format: double
                longitude:
                  description: The location longitude
                  type: number
                  format: double
                language-code:
                  description: 'The language to display results in, available languages are: de, en, es, fr, it, pt, ru'
                  type: string
                  default: en
  /hlr-lookup:
    post:
      description: Connect to the global mobile cellular network and retrieve the status of a mobile device
      operationId: HLR Lookup
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HlrLookupResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                number:
                  description: A phone number
                  type: string
                country-code:
                  description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
                  type: string
  /host-reputation:
    post:
      description: Check the reputation of an IP address or domain against a comprehensive list of blacklists and blocklists (DNSBLs)
      operationId: Host Reputation
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HostReputationResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                host:
                  description: An IPv4 address or a domain name. If you supply a domain name it will be checked against the URI DNSBL list
                  type: string
  /html-clean:
    post:
      description: Clean and sanitize untrusted HTML
      operationId: HTML Clean
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: binary
                type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  description: The HTML content. This can be either a URL to load HTML from or an actual HTML content string
                  type: string
                output-type:
                  description: 'The level of sanitization, possible values are: plain-text, simple-text, basic-html, basic-html-with-images, advanced-html'
                  type: string
              required:
                - content
  /html-extract-tags:
    post:
      description: Extract specific HTML tag contents or attributes from complex HTML or XHTML content
      operationId: HTML Extract
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HtmlExtractResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                content:
                  description: The HTML content. This can be either a URL to load HTML from or an actual HTML content string
                  type: string
                tag:
                  description: The HTML tag(s) to extract data from. This can just be a simple tag name like 'img' OR a CSS/jQuery style selector
                  type: string
                attribute:
                  description: 'If set, then extract data from the specified tag attribute. If not set, then data will be extracted from the tags inner content'
                  type: string
                base-url:
                  description: The base URL to replace into realive links
                  type: string
  /html5-render:
    post:
      description: 'Render HTML and HTML5 content to PDF, JPG or PNG'
      operationId: HTML5 Render
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: binary
                type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                content:
                  description: The HTML content. This can be either a URL to load HTML from or an actual HTML content string
                  type: string
                format:
                  description: 'Which format to output, available options are: PDF, PNG, JPG'
                  type: string
                  default: PDF
                page-size:
                  description: 'Set the document page size, can be one of: A0 - A9, B0 - B10, Comm10E, DLE or Letter'
                  type: string
                  default: A4
                title:
                  description: The document title
                  type: string
                margin:
                  description: The document margin (in mm)
                  type: integer
                  format: int32
                  default: 0
                margin-left:
                  description: The document left margin (in mm)
                  type: integer
                  format: int32
                  default: 0
                margin-right:
                  description: The document right margin (in mm)
                  type: integer
                  format: int32
                  default: 0
                margin-top:
                  description: The document top margin (in mm)
                  type: integer
                  format: int32
                  default: 0
                margin-bottom:
                  description: The document bottom margin (in mm)
                  type: integer
                  format: int32
                  default: 0
                landscape:
                  description: Set the document to lanscape orientation
                  type: boolean
                  default: false
                zoom:
                  description: 'Set the zoom factor when rendering the page (2.0 for double size, 0.5 for half size)'
                  type: number
                  format: double
                  default: 1
                grayscale:
                  description: Render the final document in grayscale
                  type: boolean
                  default: false
                media-print:
                  description: Use @media print CSS styles to render the document
                  type: boolean
                  default: false
                media-queries:
                  description: Activate all @media queries before rendering. This can be useful if you wan't to render the mobile version of a responsive website
                  type: boolean
                  default: false
                forms:
                  description: Generate real (fillable) PDF forms from HTML forms
                  type: boolean
                  default: false
                css:
                  description: 'Inject custom CSS into the HTML. e.g. ''body { background-color: red;}'''
                  type: string
                image-width:
                  description: If rendering to an image format (PNG or JPG) use this image width (in pixels)
                  type: integer
                  format: int32
                  default: 1024
                image-height:
                  description: If rendering to an image format (PNG or JPG) use this image height (in pixels). The default is automatic which dynamically sets the image height based on the content
                  type: integer
                  format: int32
  /image-resize:
    post:
      description: 'Resize an image and output as either JPEG or PNG. See: https://www.neutrinoapi.com/api/image-resize/'
      operationId: Image Resize
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: binary
                type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                image-url:
                  description: The URL to the source image
                  type: string
                width:
                  description: Width to resize to (in px)
                  type: integer
                  format: int32
                height:
                  description: Height to resize to (in px)
                  type: integer
                  format: int32
                format:
                  description: 'The output image format, can be either png or jpg'
                  type: string
                  default: png
              required:
                - image-url
  /image-watermark:
    post:
      description: 'Watermark one image with another image. See: https://www.neutrinoapi.com/api/image-watermark/'
      operationId: Image Watermark
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: binary
                type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                image-url:
                  description: The URL to the source image
                  type: string
                watermark-url:
                  description: The URL to the watermark image
                  type: string
                opacity:
                  description: The opacity of the watermark (0 to 100)
                  type: integer
                  format: int32
                  default: 50
                format:
                  description: 'The output image format, can be either png or jpg'
                  type: string
                  default: png
                position:
                  description: 'The position of the watermark image, possible values are: center, top-left, top-center, top-right, bottom-left, bottom-center, bottom-right'
                  type: string
                  default: center
                width:
                  description: If set resize the resulting image to this width (preserving aspect ratio)
                  type: integer
                  format: int32
                height:
                  description: If set resize the resulting image to this height (preserving aspect ratio)
                  type: integer
                  format: int32
              required:
                - image-url
  /ip-blocklist:
    post:
      description: The IP Blocklist API will detect potentially malicious or dangerous IP addresses
      operationId: IP Blocklist
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpBlocklistResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                ip:
                  description: An IPv4 address
                  type: string
  /ip-info:
    post:
      description: Get location information about an IP address and do reverse DNS (PTR) lookups.
      operationId: IP Info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpInfoResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Geolocation
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                ip:
                  description: The IP address
                  type: string
                reverse-lookup:
                  description: Do a reverse DNS (PTR) lookup. This option can add extra delay to the request so only use it if you need it
                  type: boolean
                  default: false
  /ip-probe:
    post:
      description: Analyze and extract provider information for an IP address
      operationId: IP Probe
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IpProbeResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                ip:
                  description: IPv4 or IPv6 address
                  type: string
  /phone-playback:
    post:
      description: Make an automated call to any valid phone number and playback an audio message
      operationId: Phone Playback
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhonePlaybackResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                number:
                  description: The phone number to call. Must be valid international format
                  type: string
                audio-url:
                  description: 'A URL to a valid audio file. Accepted audio formats are: MP3, WAV, OGG'
                  type: string
  /phone-validate:
    post:
      description: 'Parse, validate and get location information about a phone number'
      operationId: Phone Validate
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneValidateResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                number:
                  description: The phone number
                  type: string
                country-code:
                  description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
                  type: string
                ip:
                  description: Pass in a users IP address and we will assume numbers are based in the country of the IP address
                  type: string
  /phone-verify:
    post:
      description: Make an automated call to any valid phone number and playback a unique security code
      operationId: Phone Verify
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PhoneVerifyResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                number:
                  description: The phone number to send the verification code to
                  type: string
                code-length:
                  description: The number of digits to use in the security code (between 4 and 12)
                  type: integer
                  format: int32
                  default: 6
                security-code:
                  description: Pass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code (only numerical security codes are currently supported)
                  type: integer
                  format: int32
                playback-delay:
                  description: The delay in milliseconds between the playback of each security code
                  type: integer
                  format: int32
                  default: 800
                country-code:
                  description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
                  type: string
                language-code:
                  description: 'The language to playback the verification code in, available languages are: de - German, en - English, es - Spanish, fr - Fench, it - Italian, pt - Portuguese, ru - Russian'
                  type: string
                  default: en
  /qr-code:
    post:
      description: 'Generate a QR code as a PNG image. See: https://www.neutrinoapi.com/api/qr-code/'
      operationId: QR Code
      parameters:
        - description: The width of the QR code (in px)
          in: query
          name: width
          required: false
          schema:
            type: integer
            format: int32
            default: 250
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                format: binary
                type: string
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Imaging
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                content:
                  description: The content to encode into the QR code (e.g. a URL or a phone number)
                  type: string
                height:
                  description: The height of the QR code (in px)
                  type: integer
                  format: int32
                  default: 250
                fg-color:
                  description: The QR code foreground color (you should always use a dark color for this)
                  type: string
                  default: '#000000'
                bg-color:
                  description: The QR code background color (you should always use a light color for this)
                  type: string
                  default: '#ffffff'
              required:
                - content
  /sms-verify:
    post:
      description: Send a unique security code to any mobile device via SMS
      operationId: SMS Verify
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SmsVerifyResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                number:
                  description: The phone number to send a verification code to
                  type: string
                code-length:
                  description: The number of digits to use in the security code (must be between 4 and 12)
                  type: integer
                  format: int32
                  default: 5
                security-code:
                  description: ass in your own security code. This is useful if you have implemented TOTP or similar 2FA methods. If not set then we will generate a secure random code (only numerical security codes are currently supported)
                  type: integer
                  format: int32
                country-code:
                  description: 'ISO 2-letter country code, assume numbers are based in this country. If not set numbers are assumed to be in international format (with or without the leading + sign)'
                  type: string
                language-code:
                  description: 'The language to send the verification code in, available languages are: de - German, en - English, es - Spanish, fr - Fench, it - Italian, pt - Portuguese, ru - Russian'
                  type: string
                  default: en
  /url-info:
    post:
      description: 'Parse, analyze and retrieve content from the supplied URL'
      operationId: URL Info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UrlInfoResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Security and Networking
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                url:
                  description: The URL to process
                  type: string
                fetch-content:
                  description: 'If this URL responds with html, text, json or xml then return the response. This option is useful if you want to perform further processing on the URL content'
                  type: boolean
  /user-agent-info:
    post:
      description: 'Parse, validate and get detailed user-agent information from a user agent string'
      operationId: User Agent Info
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAgentInfoResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Data Tools
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                user-agent:
                  description: A user-agent string
                  type: string
  /verify-security-code:
    post:
      description: Check if a security code from one of the verify APIs is valid
      operationId: Verify Security Code
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VerifySecurityCodeResponse'
        '400':
          description: Your API request has been rejected. Check the error code for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        '403':
          description: You have failed to authenticate or are using an invalid API path
        default:
          description: 'We messed up, sorry! Your request has caused a fatal exception'
      security:
        - api-key: []
          user-id: []
      tags:
        - Telephony
      x-operation-settings:
        AllowDynamicFormParameters: false
        AllowDynamicQueryParameters: false
        CollectParameters: false
        IsMultiContentStreaming: false
      x-unitTests: []
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                output-case:
                  type: string
                  enum:
                    - camel
                security-code:
                  description: The security code to verify
                  type: integer
                  format: int32
components:
  schemas:
    ApiError:
      allOf:
        - {}
      properties:
        apiError:
          description: API error code. If set and > 0 then an API error has occurred your request could not be completed
          format: int32
          type: integer
        apiErrorMsg:
          description: API error message
          type: string
      required:
        - apiError
        - apiErrorMsg
      title: API Error
      type: object
    BadWordFilterResponse:
      properties:
        badWordsList:
          description: Array of the bad words found
          items:
            type: string
          type: array
        badWordsTotal:
          description: Total number of bad words detected
          format: int32
          type: integer
        censoredContent:
          description: The censored content (only set if censor-character has been set)
          type: string
        isBad:
          description: Does the text contain bad words
          type: boolean
      required:
        - badWordsList
        - badWordsTotal
        - censoredContent
        - isBad
      title: Bad Word Filter Response
      type: object
    BinLookupResponse:
      properties:
        cardBrand:
          description: The card brand (e.g. Visa or Mastercard)
          type: string
        cardCategory:
          description: The card category (if known)
          type: string
        cardType:
          description: 'The card type, will always be one of: DEBIT, CREDIT, CHARGE CARD'
          type: string
        country:
          description: Full country name of the issuer
          type: string
        countryCode:
          description: ISO 2-letter country code of the issuer
          type: string
        ipBlocklisted:
          description: 'True if the customer IP is listed on one of our blocklists, see the IP Blocklist API for more details'
          type: boolean
        ipBlocklists:
          description: An array of strings indicating which blocklists this IP is listed on
          items:
            type: string
          type: array
        ipCity:
          description: The city name (if detectable) from the customer IP
          type: string
        ipCountry:
          description: The country detected from the customer IP
          type: string
        ipCountryCode:
          description: The ISO 2-letter country code detected from the customer IP
          type: string
        ipMatchesBin:
          description: True if the customer IP address country matches the BIN country
          type: boolean
        ipRegion:
          description: The region name (if detectable) from the customer IP
          type: string
        issuer:
          description: The card issuer (if known)
          type: string
        issuerPhone:
          description: The card issuer phone number (if known)
          type: string
        issuerWebsite:
          description: The card issuer website (if known)
          type: string
        valid:
          description: Is this a valid BIN or IIN number
          type: boolean
      required:
        - country
        - ipCity
        - ipMatchesBin
        - cardType
        - cardCategory
        - ipCountryCode
        - ipCountry
        - issuer
        - ipBlocklisted
        - valid
        - ipBlocklists
        - issuerWebsite
        - countryCode
        - ipRegion
        - cardBrand
        - issuerPhone
      title: BIN Lookup Response
      type: object
    Blacklist:
      properties:
        isListed:
          description: 'true if listed, false if not'
          type: boolean
        listHost:
          description: the domain/hostname of the DNSBL
          type: string
        listName:
          description: the name of the DNSBL
          type: string
        listRating:
          description: 'the list rating [1-3] with 1 being the best rating and 3 the lowest rating'
          format: int32
          type: integer
        responseTime:
          description: the DNSBL server response time in milliseconds
          format: int32
          type: integer
        txtRecord:
          description: the TXT record returned for this listing (if listed)
          type: string
      required:
        - isListed
        - listHost
        - listRating
        - listName
        - txtRecord
        - responseTime
      title: Blacklist
      type: object
    ConvertResponse:
      properties:
        fromType:
          description: The type of the value being converted from
          type: string
        fromValue:
          description: The value being converted from
          type: string
        result:
          description: The result of the conversion
          type: string
        toType:
          description: The type being converted to
          type: string
        valid:
          description: Was the coversion successful and produced a valid result
          type: boolean
      required:
        - valid
        - result
        - fromValue
        - toType
        - fromType
      title: Convert Response
      type: object
    EmailValidateResponse:
      properties:
        domain:
          description: The email domain
          type: string
        domainError:
          description: True if this address has a domain error (e.g. no valid mail server records)
          type: boolean
        email:
          description: The full email address (this could be different to the supplied address if fix-typos is used)
          type: string
        isDisposable:
          description: 'True if this address is a disposable, temporary or darknet related email address'
          type: boolean
        isFreemail:
          description: True if this address is a free-mail address
          type: boolean
        syntaxError:
          description: True if this address has a syntax error
          type: boolean
        typosFixed:
          description: True if typos have been fixed
          type: boolean
        valid:
          description: Is this a valid email
          type: boolean
      required:
        - valid
        - syntaxError
        - domain
        - domainError
        - isFreemail
        - email
        - isDisposable
        - typosFixed
      title: Email Validate Response
      type: object
    GeocodeAddressResponse:
      properties:
        found:
          description: The number of possible matching locations found
          format: int32
          type: integer
        locations:
          description: Array of matching location objects
          items:
            $ref: '#/components/schemas/Location'
          type: array
      required:
        - found
        - locations
      title: Geocode Address Response
      type: object
    GeocodeReverseResponse:
      properties:
        address:
          description: The fully formatted address
          type: string
        addressComponents:
          additionalProperties:
            type: string
          description: 'The components which make up the address such as road, city, state etc. May also include additional metadata about the address'
          type: object
        city:
          description: The city of the location
          type: string
        country:
          description: The country of the location
          type: string
        countryCode:
          description: The ISO 2-letter country code of the location
          type: string
        found:
          description: True if these coordinates map to a real location
          type: boolean
        postalCode:
          description: The postal code for the location
          type: string
        state:
          description: The state of the location
          type: string
      required:
        - country
        - found
        - address
        - city
        - countryCode
        - postalCode
        - state
        - addressComponents
      title: Geocode Reverse Response
      type: object
    HlrLookupResponse:
      properties:
        countryCode:
          description: Number location ISO 2-letter country code
          type: string
        hlrStatus:
          description: The HLR lookup status. See API docs for specific status details
          type: string
        hlrValid:
          description: Was the HLR lookup successful. If true then this is a working and registered cell-phone or mobile device (SMS and phone calls will be delivered)
          type: boolean
        imsi:
          description: The mobile IMSI number (only set if HLR lookup valid)
          type: string
        internationalCallingCode:
          description: Numbers international calling code
          type: string
        internationalNumber:
          description: Number represented in international format
          type: string
        isMobile:
          description: Is this a mobile number
          type: boolean
        isPorted:
          description: Has this number been ported to another network
          type: boolean
        isRoaming:
          description: Is this number currently roaming from its origin country
          type: boolean
        localNumber:
          description: Number represented in local format
          type: string
        location:
          description: 'Number location (could be a city, region or country)'
          type: string
        mcc:
          description: The mobile MCC number (only set if HLR lookup valid)
          type: string
        mnc:
          description: The mobile MNC number (only set if HLR lookup valid)
          type: string
        msin:
          description: The mobile MSIN number (only set if HLR lookup valid)
          type: string
        numberType:
          description: 'The number type, possible values are: mobile, fixed-line, premium-rate, toll-free, voip, unknown'
          type: string
        numberValid:
          description: Is this a valid phone number (mobile or otherwise)
          type: boolean
        originNetwork:
          description: The origin mobile carrier name (only set if HLR lookup valid)
          type: string
        portedNetwork:
          description: 'If the number has been ported, the ported to mobile carrier name (only set if HLR lookup valid)'
          type: string
      required:
        - numberValid
        - internationalCallingCode
        - mnc
        - numberType
        - hlrValid
        - hlrStatus
        - portedNetwork
        - imsi
        - mcc
        - internationalNumber
        - localNumber
        - countryCode
        - isPorted
        - msin
        - location
        - originNetwork
        - isMobile
        - isRoaming
      title: HLR Lookup Response
      type: object
    HostReputationResponse:
      properties:
        isListed:
          description: Is this host blacklisted
          type: boolean
        listCount:
          description: The number of DNSBL's the host is listed on
          format: int32
          type: integer
        lists:
          description: An array of objects for each DNSBL checked
          items:
            $ref: '#/components/schemas/Blacklist'
          type: array
      required:
        - isListed
        - lists
        - listCount
      title: Host Reputation Response
      type: object
    HtmlExtractResponse:
      properties:
        total:
          description: The total number of values extracted
          format: int32
          type: integer
        values:
          description: Array of extracted values
          items:
            type: string
          type: array
      required:
        - total
        - values
      title: HTML Extract Response
      type: object
    IpBlocklistResponse:
      properties:
        isBot:
          description: IP is hosting a malicious bot or is part of a botnet
          type: boolean
        isDshield:
          description: IP has been flagged on DShield (dshield.org)
          type: boolean
        isExploitBot:
          description: IP is hosting an exploit finding bot or exploit scanning software
          type: boolean
        isHijacked:
          description: hijacked netblocks or netblocks controlled by criminal organizations
          type: boolean
        isListed:
          description: Is this IP on a blocklist
          type: boolean
        isMalware:
          description: IP is involved in distributing malware
          type: boolean
        isProxy:
          description: IP has been detected as an anonymous web proxy or anonymous HTTP proxy
          type: boolean
        isSpamBot:
          description: 'IP address is hosting a spam bot, comment spamming or other spamming software'
          type: boolean
        isSpider:
          description: IP is a hostile spider or crawler
          type: boolean
        isSpyware:
          description: 'IP is being used by spyware, malware, botnets or for other malicious activities'
          type: boolean
        isTor:
          description: IP is coming from a Tor node
          type: boolean
        isVpn:
          description: IP has been detected as coming from a VPN hosting provider
          type: boolean
        lastSeen:
          description: The last time this IP was seen on a blocklist (in Unix time or 0 if not listed recently)
          format: int32
          type: integer
        listCount:
          description: The number of blocklists the IP is listed on
          format: int32
          type: integer
      required:
        - isBot
        - isExploitBot
        - isMalware
        - isSpider
        - isDshield
        - listCount
        - isProxy
        - isHijacked
        - isTor
        - isSpyware
        - isSpamBot
        - isListed
        - isVpn
        - lastSeen
      title: IP Blocklist Response
      type: object
    IpInfoResponse:
      properties:
        city:
          description: Full city name (if detectable)
          type: string
        country:
          description: Full country name
          type: string
        countryCode:
          description: ISO 2-letter country code
          type: string
        hostname:
          description: The IPs hostname (only set if reverse-lookup has been used)
          type: string
        latitude:
          description: Location latitude
          format: double
          type: number
        longitude:
          description: Location longitude
          format: double
          type: number
        region:
          description: Full region name (if detectable)
          type: string
        valid:
          description: Is this a valid IP address
          type: boolean
      required:
        - valid
        - country
        - hostname
        - city
        - countryCode
        - latitude
        - region
        - longitude
      title: IP Info Response
      type: object
    IpProbeResponse:
      properties:
        city:
          description: Full city name (if detectable)
          type: string
        country:
          description: Full country name
          type: string
        country-code:
          description: ISO 2-letter country code
          type: string
        hostname:
          description: The IPs hostname (PTR)
          type: string
        ip:
          description: The IP address
          type: string
        provider-description:
          description: 'A description of the provider, usually extracted from the providers website or WHOIS record'
          type: string
        provider-domain:
          description: The domain name of the provider
          type: string
        provider-type:
          description: The detected provider type. See API docs for specific provider type details
          type: string
        provider-website:
          description: The website URL for the provider
          type: string
        region:
          description: Full region name (if detectable)
          type: string
        valid:
          description: Is this a valid IPv4 or IPv6 address
          type: boolean
      required:
        - valid
        - country
        - provider-type
        - country-code
        - hostname
        - provider-domain
        - city
        - provider-website
        - ip
        - region
        - provider-description
      title: IP Probe Response
      type: object
    Location:
      properties:
        address:
          description: The fully formatted address
          type: string
        addressComponents:
          additionalProperties:
            type: string
          description: 'The components which make up the address such as road, city, state etc. May also include additional metadata about the address'
          type: object
        city:
          description: The city of the location
          type: string
        country:
          description: The country of the location
          type: string
        countryCode:
          description: The ISO 2-letter country code of the location
          type: string
        latitude:
          description: The location latitude
          format: double
          type: number
        longitude:
          description: The location longitude
          format: double
          type: number
        postalCode:
          description: The postal code for the location
          type: string
        state:
          description: The state of the location (if applicable)
          type: string
      required:
        - country
        - address
        - city
        - countryCode
        - latitude
        - postalCode
        - longitude
        - state
        - addressComponents
      title: Location
      type: object
    PhonePlaybackResponse:
      properties:
        calling:
          description: True if the call is being made now
          type: boolean
        number-valid:
          description: Is this a valid phone number
          type: boolean
      required:
        - calling
        - number-valid
      title: Phone Playback Response
      type: object
    PhoneValidateResponse:
      properties:
        countryCode:
          description: Number location ISO 2-letter country code
          type: string
        internationalCallingCode:
          description: Numbers international calling code
          type: string
        internationalNumber:
          description: Number represented in international format
          type: string
        isMobile:
          description: Is this a mobile number
          type: boolean
        localNumber:
          description: Number represented in local format
          type: string
        location:
          description: 'Number location (could be a city, region or country)'
          type: string
        type:
          description: 'The number type, possible values are: mobile, fixed-line, premium-rate, toll-free, voip, unknown'
          type: string
        valid:
          description: Is this a valid phone number
          type: boolean
      required:
        - valid
        - internationalCallingCode
        - countryCode
        - location
        - isMobile
        - type
        - internationalNumber
        - localNumber
      title: Phone Validate Response
      type: object
    PhoneVerifyResponse:
      properties:
        calling:
          description: True if the call is being made now
          type: boolean
        numberValid:
          description: Is this a valid phone number
          type: boolean
        securityCode:
          description: 'The security code generated, you can save this code to perform your own verification or you can use the Verify Security Code API'
          type: string
      required:
        - numberValid
        - calling
        - securityCode
      title: Phone Verify Response
      type: object
    SmsVerifyResponse:
      properties:
        numberValid:
          description: Is this a valid phone number
          type: boolean
        securityCode:
          description: 'The security code generated, you can save this code to perform your own verification or you can use the Verify Security Code API'
          type: string
        sent:
          description: True if the SMS has been sent
          type: boolean
      required:
        - numberValid
        - securityCode
        - sent
      title: SMS Verify Response
      type: object
    UrlInfoResponse:
      properties:
        content:
          description: The actual content this URL responded with. Only set if the 'fetch-content' option was used
          type: string
        contentEncoding:
          description: The encoding type the URL uses
          type: string
        contentSize:
          description: The size of the URL content in bytes
          format: int32
          type: integer
        contentType:
          description: The content-type the URL points to
          type: string
        httpOk:
          description: True if this URL responded with an HTTP OK (200) status
          type: boolean
        httpRedirect:
          description: True if this URL responded with a HTTP redirect
          type: boolean
        httpStatus:
          description: The HTTP status code this URL responded with
          format: int32
          type: integer
        httpStatusMessage:
          description: The HTTP status message assoicated with the status code
          type: string
        loadTime:
          description: The time taken to load the URL content (in seconds)
          format: double
          type: number
        query:
          additionalProperties:
            type: object
          description: 'A key:value map of the URL query paramaters'
          type: object
        real:
          description: Is this URL actually serving real content
          type: boolean
        serverCity:
          description: 'Server IP geo-location: full city name (if detectable)'
          type: string
        serverCountry:
          description: 'Server IP geo-location: full country name'
          type: string
        serverCountryCode:
          description: 'Server IP geo-location: ISO 2-letter country code'
          type: string
        serverHostname:
          description: The server hostname (PTR)
          type: string
        serverIp:
          description: The IP address of the server hosting this URL
          type: string
        serverName:
          description: The name of the server software hosting this URL
          type: string
        serverRegion:
          description: 'Server IP geo-location: full region name (if detectable)'
          type: string
        url:
          description: The fully qualified URL. This may be different to the URL requested if http-redirect is True
          type: string
        urlPath:
          description: The URL path
          type: string
        urlPort:
          description: The URL port
          format: int32
          type: integer
        urlProtocol:
          description: The URL protocol (usually http or https)
          type: string
        valid:
          description: Is this a valid well-formed URL
          type: boolean
      required:
        - httpStatusMessage
        - serverRegion
        - query
        - serverName
        - urlPort
        - serverCountry
        - real
        - serverCity
        - urlPath
        - url
        - valid
        - serverHostname
        - loadTime
        - httpOk
        - contentSize
        - httpStatus
        - serverCountryCode
        - contentEncoding
        - serverIp
        - urlProtocol
        - contentType
        - httpRedirect
        - content
      title: URL Info Response
      type: object
    UserAgentInfoResponse:
      properties:
        browserName:
          description: Browser software name
          type: string
        isAndroid:
          description: True if this is an Android based mobile user agent
          type: boolean
        isIos:
          description: True if this is an iOS based mobile user agent
          type: boolean
        isMobile:
          description: True if this is a mobile user-agent
          type: boolean
        mobileBrand:
          description: Mobile device brand
          type: string
        mobileBrowser:
          description: Mobile device browser
          type: string
        mobileModel:
          description: Mobile device model
          type: string
        mobileScreenHeight:
          description: Mobile device screen height (in px)
          format: int32
          type: integer
        mobileScreenWidth:
          description: Mobile device screen width (in px)
          format: int32
          type: integer
        operatingSystem:
          description: Operating system
          type: string
        operatingSystemFamily:
          description: 'The operating system family name, this is the OS name without any version information'
          type: string
        operatingSystemVersion:
          description: The operating system version number (if detectable)
          type: string
        producer:
          description: Producer or manufacturer
          type: string
        type:
          description: 'The user-agent type, possible values are: desktop-browser, email-client, feed-reader, software-library, media-player, mobile-browser, robot, unknown'
          type: string
        version:
          description: Software version
          type: string
      required:
        - mobileScreenWidth
        - mobileBrand
        - mobileModel
        - producer
        - browserName
        - mobileScreenHeight
        - isMobile
        - type
        - version
        - operatingSystem
        - mobileBrowser
        - isAndroid
        - isIos
        - operatingSystemFamily
        - operatingSystemVersion
      title: User Agent Info Response
      type: object
    VerifySecurityCodeResponse:
      properties:
        verified:
          description: True if the code is valid
          type: boolean
      required:
        - verified
      title: Verify Security Code Response
      type: object
  securitySchemes:
    api-key:
      description: Your API key
      in: query
      name: api-key
      type: apiKey
      x-testValue: ''
    user-id:
      description: Your user ID
      in: query
      name: user-id
      type: apiKey
      x-testValue: ''
