swagger: "2.0"
schemes:
  - https
host: ethereum.apidapp.com
basePath: /1
info:
  contact:
    x-twitter: api_dapp
  title: ApiDapp
  version: 2019-02-14T16:47:01Z
  x-apisguru-categories:
    - financial
  x-origin:
    - format: swagger
      url: https://apidapp.s3.amazonaws.com/ApiDapp-Start-swagger-7/ApiDapp-Start-swagger+(7).json
      version: "2.0"
  x-providerName: apidapp.com
  x-preferred: true
produces:
  - application/json
securityDefinitions:
  Key2:
    in: header
    name: X-Api-Key
    type: apiKey
    x-amazon-apigateway-authtype: custom
paths:
  /:
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    x-amazon-apigateway-any-method:
      produces:
        - application/json
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  /account:
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      description: Create new account
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
  "/account/{id}":
    get:
      description: Get account balance
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  /block:
    get:
      description: Access detailed block information
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  "/block/{id}":
    get:
      description: Get information about particular block
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  "/block/{id}/transaction":
    get:
      description: Get transaction count within block
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  "/block/{id}/transaction/{index}":
    get:
      description: Get information about particular transaction within block
      parameters:
        - in: path
          name: index
          required: true
          type: string
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
        - in: path
          name: index
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  /blockchain:
    get:
      description: Get a list of supported blockchains
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  "/blockchain/{id}":
    get:
      description: Get information about blockchain woth given id
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  /contract:
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      description: Create a new smart contract
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  "/contract/{id}":
    get:
      description: Get contract balance
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      description: Call the contract
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
  /echo:
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    x-amazon-apigateway-any-method:
      produces:
        - application/json
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  /erc20:
    get:
      description: Get token information such as name, total amount in circulation, etc
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  "/erc20/{address}":
    get:
      description: Get information amout token balance in the account
      parameters:
        - in: path
          name: address
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: address
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      description: Transfer tokens to another account
      parameters:
        - in: path
          name: address
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  /key:
    get:
      parameters:
        - in: query
          name: token
          required: false
          type: string
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  "/key/{key}":
    delete:
      parameters:
        - in: path
          name: key
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: key
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  /transaction:
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      description: Create a new transaction. Transfer Ether between accounts
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
  "/transaction/{hash}":
    get:
      description: Get information about transaction by the transaction hash value
      parameters:
        - in: path
          name: hash
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: hash
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  "/transaction/{hash}/receipt":
    get:
      description: Get receipt detail information
      parameters:
        - in: path
          name: hash
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
      security:
        - Key2: []
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: hash
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  /version:
    get:
      description: Get API version info
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  /wallet:
    get:
      description: Get current account balance
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      description: Create personal wallet
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  /wallet/account:
    get:
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
        - application/json
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  "/wallet/account/{id}":
    get:
      description: Get account balance
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
  "/wallet/account/{id}/contract":
    post:
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  "/wallet/account/{id}/erc20":
    post:
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
  "/wallet/account/{id}/pay":
    options:
      consumes:
        - application/json
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          headers:
            Access-Control-Allow-Headers:
              type: string
            Access-Control-Allow-Methods:
              type: string
            Access-Control-Allow-Origin:
              type: string
          schema:
            $ref: "#/definitions/Empty"
    post:
      description: Send payment from the account held within the wallet
      parameters:
        - in: path
          name: id
          required: true
          type: string
      responses:
        "200":
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
definitions:
  Empty:
    title: Empty Schema
    type: object
