openapi: 3.0.0
servers:
  - url: https://cloudbuild.googleapis.com/
x-hasEquivalentPaths: true
info:
  contact:
    name: Google
    url: https://google.com
    x-twitter: youtube
  description: Creates and manages builds on Google Cloud Platform.
  license:
    name: Creative Commons Attribution 3.0
    url: http://creativecommons.org/licenses/by/3.0/
  termsOfService: https://developers.google.com/terms/
  title: Cloud Build API
  version: v1
  x-apisguru-categories:
    - analytics
    - media
  x-logo:
    url: https://upload.wikimedia.org/wikipedia/commons/e/e1/YouTube_play_buttom_icon_%282013-2017%29.svg
  x-origin:
    - format: google
      url: https://cloudbuild.googleapis.com/$discovery/rest?version=v1
      version: v1
  x-providerName: googleapis.com
  x-serviceName: cloudbuild
  x-preferred: true
externalDocs:
  url: https://cloud.google.com/cloud-build/docs/
tags:
  - name: operations
  - name: projects
  - name: v1
paths:
  "/v1/projects/{projectId}/builds":
    get:
      description: Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.
      operationId: cloudbuild.projects.builds.list
      parameters:
        - description: Required. ID of the project.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: The raw filter text to constrain the results.
          in: query
          name: filter
          schema:
            type: string
        - description: Number of results to return in the list.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.
          in: query
          name: pageToken
          schema:
            type: string
        - description: "The parent of the collection of `Builds`. Format: `projects/{project}/locations/location`"
          in: query
          name: parent
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBuildsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).
      operationId: cloudbuild.projects.builds.create
      parameters:
        - description: Required. ID of the project.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`"
          in: query
          name: parent
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Build"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/projects/{projectId}/builds/{id}":
    get:
      description: Returns information about a previously requested build. The `Build` that is returned includes its status (such as `SUCCESS`, `FAILURE`, or `WORKING`), and timing information.
      operationId: cloudbuild.projects.builds.get
      parameters:
        - description: Required. ID of the project.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. ID of the build.
          in: path
          name: id
          required: true
          schema:
            type: string
        - description: "The name of the `Build` to retrieve. Format: `projects/{project}/locations/{location}/builds/{build}`"
          in: query
          name: name
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
  "/v1/projects/{projectId}/builds/{id}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Cancels a build in progress.
      operationId: cloudbuild.projects.builds.cancel
      parameters:
        - description: Required. ID of the project.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. ID of the build.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelBuildRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Build"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/projects/{projectId}/builds/{id}:retry":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Google Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings."
      operationId: cloudbuild.projects.builds.retry
      parameters:
        - description: Required. ID of the project.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. Build ID of the original build.
          in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetryBuildRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/projects/{projectId}/triggers":
    get:
      description: Lists existing `BuildTrigger`s. This API is experimental.
      operationId: cloudbuild.projects.triggers.list
      parameters:
        - description: Required. ID of the project for which to list BuildTriggers.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Number of results to return in the list.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to provide to skip to a particular spot in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`"
          in: query
          name: parent
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBuildTriggersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new `BuildTrigger`. This API is experimental.
      operationId: cloudbuild.projects.triggers.create
      parameters:
        - description: Required. ID of the project for which to configure automatic builds.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`"
          in: query
          name: parent
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTrigger"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildTrigger"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/projects/{projectId}/triggers/{triggerId}":
    delete:
      description: Deletes a `BuildTrigger` by its project ID and trigger ID. This API is experimental.
      operationId: cloudbuild.projects.triggers.delete
      parameters:
        - description: Required. ID of the project that owns the trigger.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. ID of the `BuildTrigger` to delete.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
        - description: "The name of the `Trigger` to delete. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
          in: query
          name: name
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Returns information about a `BuildTrigger`. This API is experimental.
      operationId: cloudbuild.projects.triggers.get
      parameters:
        - description: Required. ID of the project that owns the trigger.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
        - description: "The name of the `Trigger` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
          in: query
          name: name
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildTrigger"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a `BuildTrigger` by its project ID and trigger ID. This API is experimental.
      operationId: cloudbuild.projects.triggers.patch
      parameters:
        - description: Required. ID of the project that owns the trigger.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. ID of the `BuildTrigger` to update.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTrigger"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildTrigger"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/projects/{projectId}/triggers/{triggerId}:run":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Runs a `BuildTrigger` at a particular source revision.
      operationId: cloudbuild.projects.triggers.run
      parameters:
        - description: Required. ID of the project.
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Required. ID of the trigger.
          in: path
          name: triggerId
          required: true
          schema:
            type: string
        - description: "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
          in: query
          name: name
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RepoSource"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/projects/{projectId}/triggers/{trigger}:webhook":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.
      operationId: cloudbuild.projects.triggers.webhook
      parameters:
        - description: Project in which the specified trigger lives
          in: path
          name: projectId
          required: true
          schema:
            type: string
        - description: Name of the trigger to run the payload against
          in: path
          name: trigger
          required: true
          schema:
            type: string
        - description: "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
          in: query
          name: name
          schema:
            type: string
        - description: Secret token used for authorization if an OAuth token isn't provided.
          in: query
          name: secret
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HttpBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiveTriggerWebhookResponse"
          description: Successful response
      tags:
        - projects
  /v1/webhook:
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: ReceiveWebhook is called when the API receives a GitHub webhook.
      operationId: cloudbuild.webhook
      parameters:
        - description: For GitHub Enterprise webhooks, this key is used to associate the webhook request with the GitHubEnterpriseConfig to use for validation.
          in: query
          name: webhookKey
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HttpBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      tags:
        - v1
  "/v1/{name}":
    delete:
      description: Deletes a `WorkerPool`.
      operationId: cloudbuild.projects.locations.workerPools.delete
      parameters:
        - description: "Required. The name of the `WorkerPool` to delete. Format: `projects/{project}/locations/{workerPool}/workerPools/{workerPool}`."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: If set to true, and the `WorkerPool` is not found, the request will succeed but no action will be taken on the server.
          in: query
          name: allowMissing
          schema:
            type: boolean
        - description: Optional. If this is provided, it must match the server's etag on the workerpool for the request to be processed.
          in: query
          name: etag
          schema:
            type: string
        - description: If set, validate the request and preview the response, but do not actually post it.
          in: query
          name: validateOnly
          schema:
            type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    get:
      description: Returns details of a `WorkerPool`.
      operationId: cloudbuild.projects.locations.workerPools.get
      parameters:
        - description: "Required. The name of the `WorkerPool` to retrieve. Format: `projects/{project}/locations/{location}/workerPools/{workerPool}`."
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Required. ID of the project that owns the trigger.
          in: query
          name: projectId
          schema:
            type: string
        - description: Required. Identifier (`id` or `name`) of the `BuildTrigger` to get.
          in: query
          name: triggerId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/WorkerPool"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a `WorkerPool`.
      operationId: cloudbuild.projects.locations.workerPools.patch
      parameters:
        - description: Output only. The resource name of the `WorkerPool`, with format `projects/{project}/locations/{location}/workerPools/{worker_pool}`. The value of `{worker_pool}` is provided by `worker_pool_id` in `CreateWorkerPool` request and the value of `{location}` is determined by the endpoint accessed.
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: A mask specifying which fields in `worker_pool` to update.
          in: query
          name: updateMask
          schema:
            type: string
        - description: If set, validate the request and preview the response, but do not actually post it.
          in: query
          name: validateOnly
          schema:
            type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkerPool"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:approve":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Approves or rejects a pending build. If approved, the returned LRO will be analogous to the LRO returned from a CreateBuild call. If rejected, the returned LRO will be immediately done.
      operationId: cloudbuild.projects.locations.builds.approve
      parameters:
        - description: 'Required. Name of the target build. For example: "projects/{$project_id}/builds/{$build_id}"'
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ApproveBuildRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:cancel":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts asynchronous cancellation on a long-running operation. The server makes a best effort to cancel the operation, but success is not guaranteed. If the server doesn't support this method, it returns `google.rpc.Code.UNIMPLEMENTED`. Clients can use Operations.GetOperation or other methods to check whether the cancellation succeeded or whether the operation completed despite cancellation. On successful cancellation, the operation is not deleted; instead, it becomes an operation with an Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
      operationId: cloudbuild.projects.locations.operations.cancel
      parameters:
        - description: The name of the operation resource to be cancelled.
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelOperationRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Empty"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:retry":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: "Creates a new build based on the specified build. This method creates a new build using the original build request, which may or may not result in an identical build. For triggered builds: * Triggered builds resolve to a precise revision; therefore a retry of a triggered build will result in a build that uses the same revision. For non-triggered builds that specify `RepoSource`: * If the original build built from the tip of a branch, the retried build will build from the tip of that branch, which may not be the same revision as the original build. * If the original build specified a commit sha or revision ID, the retried build will use the identical source. For builds that specify `StorageSource`: * If the original build pulled source from Google Cloud Storage without specifying the generation of the object, the new build will use the current object, which may be different from the original build source. * If the original build pulled source from Cloud Storage and specified the generation of the object, the new build will attempt to use the same object, which may or may not be available depending on the bucket's lifecycle management settings."
      operationId: cloudbuild.projects.locations.builds.retry
      parameters:
        - description: "The name of the `Build` to retry. Format: `projects/{project}/locations/{location}/builds/{build}`"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RetryBuildRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:run":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Runs a `BuildTrigger` at a particular source revision.
      operationId: cloudbuild.projects.locations.triggers.run
      parameters:
        - description: "The name of the `Trigger` to run. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
          in: path
          name: name
          required: true
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RunBuildTriggerRequest"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{name}:webhook":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: ReceiveTriggerWebhook [Experimental] is called when the API receives a webhook request targeted at a specific trigger.
      operationId: cloudbuild.projects.locations.triggers.webhook
      parameters:
        - description: "The name of the `ReceiveTriggerWebhook` to retrieve. Format: `projects/{project}/locations/{location}/triggers/{trigger}`"
          in: path
          name: name
          required: true
          schema:
            type: string
        - description: Project in which the specified trigger lives
          in: query
          name: projectId
          schema:
            type: string
        - description: Secret token used for authorization if an OAuth token isn't provided.
          in: query
          name: secret
          schema:
            type: string
        - description: Name of the trigger to run the payload against
          in: query
          name: trigger
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/HttpBody"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReceiveTriggerWebhookResponse"
          description: Successful response
      tags:
        - projects
  "/v1/{parent}/builds":
    get:
      description: Lists previously requested builds. Previously requested builds may still be in-progress, or may have finished successfully or unsuccessfully.
      operationId: cloudbuild.projects.locations.builds.list
      parameters:
        - description: "The parent of the collection of `Builds`. Format: `projects/{project}/locations/location`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The raw filter text to constrain the results.
          in: query
          name: filter
          schema:
            type: string
        - description: Number of results to return in the list.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: The page token for the next page of Builds. If unspecified, the first page of results is returned. If the token is rejected for any reason, INVALID_ARGUMENT will be thrown. In this case, the token should be discarded, and pagination should be restarted from the first page of results. See https://google.aip.dev/158 for more.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Required. ID of the project.
          in: query
          name: projectId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBuildsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Starts a build with the specified configuration. This method returns a long-running `Operation`, which includes the build ID. Pass the build ID to `GetBuild` to determine the build status (such as `SUCCESS` or `FAILURE`).
      operationId: cloudbuild.projects.locations.builds.create
      parameters:
        - description: "The parent resource where this build will be created. Format: `projects/{project}/locations/{location}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. ID of the project.
          in: query
          name: projectId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/Build"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/githubEnterpriseConfigs":
    get:
      description: List all GitHubEnterpriseConfigs for a given project.
      operationId: cloudbuild.projects.locations.githubEnterpriseConfigs.list
      parameters:
        - description: "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: ID of the project
          in: query
          name: projectId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListGithubEnterpriseConfigsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Create an association between a GCP project and a GitHub Enterprise server.
      operationId: cloudbuild.projects.locations.githubEnterpriseConfigs.create
      parameters:
        - description: "Name of the parent project. For example: projects/{$project_number} or projects/{$project_id}"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: ID of the project.
          in: query
          name: projectId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/GitHubEnterpriseConfig"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/triggers":
    get:
      description: Lists existing `BuildTrigger`s. This API is experimental.
      operationId: cloudbuild.projects.locations.triggers.list
      parameters:
        - description: "The parent of the collection of `Triggers`. Format: `projects/{project}/locations/{location}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Number of results to return in the list.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: Token to provide to skip to a particular spot in the list.
          in: query
          name: pageToken
          schema:
            type: string
        - description: Required. ID of the project for which to list BuildTriggers.
          in: query
          name: projectId
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListBuildTriggersResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a new `BuildTrigger`. This API is experimental.
      operationId: cloudbuild.projects.locations.triggers.create
      parameters:
        - description: "The parent resource where this trigger will be created. Format: `projects/{project}/locations/{location}`"
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: Required. ID of the project for which to configure automatic builds.
          in: query
          name: projectId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTrigger"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildTrigger"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{parent}/workerPools":
    get:
      description: Lists `WorkerPool`s.
      operationId: cloudbuild.projects.locations.workerPools.list
      parameters:
        - description: "Required. The parent of the collection of `WorkerPools`. Format: `projects/{project}/locations/{location}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: The maximum number of `WorkerPool`s to return. The service may return fewer than this value. If omitted, the server will use a sensible default.
          in: query
          name: pageSize
          schema:
            type: integer
        - description: A page token, received from a previous `ListWorkerPools` call. Provide this to retrieve the subsequent page.
          in: query
          name: pageToken
          schema:
            type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWorkerPoolsResponse"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    post:
      description: Creates a `WorkerPool`.
      operationId: cloudbuild.projects.locations.workerPools.create
      parameters:
        - description: "Required. The parent resource where this worker pool will be created. Format: `projects/{project}/locations/{location}`."
          in: path
          name: parent
          required: true
          schema:
            type: string
        - description: If set, validate the request and preview the response, but do not actually post it.
          in: query
          name: validateOnly
          schema:
            type: boolean
        - description: Required. Immutable. The ID to use for the `WorkerPool`, which will become the final component of the resource name. This value should be 1-63 characters, and valid characters are /a-z-/.
          in: query
          name: workerPoolId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WorkerPool"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Operation"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
  "/v1/{resourceName}":
    parameters:
      - $ref: "#/components/parameters/_.xgafv"
      - $ref: "#/components/parameters/access_token"
      - $ref: "#/components/parameters/alt"
      - $ref: "#/components/parameters/callback"
      - $ref: "#/components/parameters/fields"
      - $ref: "#/components/parameters/key"
      - $ref: "#/components/parameters/oauth_token"
      - $ref: "#/components/parameters/prettyPrint"
      - $ref: "#/components/parameters/quotaUser"
      - $ref: "#/components/parameters/upload_protocol"
      - $ref: "#/components/parameters/uploadType"
    patch:
      description: Updates a `BuildTrigger` by its project ID and trigger ID. This API is experimental.
      operationId: cloudbuild.projects.locations.triggers.patch
      parameters:
        - description: "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service."
          in: path
          name: resourceName
          required: true
          schema:
            type: string
        - description: Required. ID of the project that owns the trigger.
          in: query
          name: projectId
          schema:
            type: string
        - description: Required. ID of the `BuildTrigger` to update.
          in: query
          name: triggerId
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/BuildTrigger"
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/BuildTrigger"
          description: Successful response
      security:
        - Oauth2:
            - https://www.googleapis.com/auth/cloud-platform
          Oauth2c:
            - https://www.googleapis.com/auth/cloud-platform
      tags:
        - projects
components:
  parameters:
    _.xgafv:
      description: V1 error format.
      in: query
      name: $.xgafv
      schema:
        enum:
          - "1"
          - "2"
        type: string
    access_token:
      description: OAuth access token.
      in: query
      name: access_token
      schema:
        type: string
    alt:
      description: Data format for response.
      in: query
      name: alt
      schema:
        enum:
          - json
          - media
          - proto
        type: string
    callback:
      description: JSONP
      in: query
      name: callback
      schema:
        type: string
    fields:
      description: Selector specifying which fields to include in a partial response.
      in: query
      name: fields
      schema:
        type: string
    key:
      description: API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.
      in: query
      name: key
      schema:
        type: string
    oauth_token:
      description: OAuth 2.0 token for the current user.
      in: query
      name: oauth_token
      schema:
        type: string
    prettyPrint:
      description: Returns response with indentations and line breaks.
      in: query
      name: prettyPrint
      schema:
        type: boolean
    quotaUser:
      description: Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters.
      in: query
      name: quotaUser
      schema:
        type: string
    uploadType:
      description: Legacy upload protocol for media (e.g. "media", "multipart").
      in: query
      name: uploadType
      schema:
        type: string
    upload_protocol:
      description: Upload protocol for media (e.g. "raw", "multipart").
      in: query
      name: upload_protocol
      schema:
        type: string
  schemas:
    ApprovalConfig:
      description: ApprovalConfig describes configuration for manual approval of a build.
      properties:
        approvalRequired:
          description: Whether or not approval is needed. If this is set on a build, it will become pending when created, and will need to be explicitly approved to start.
          type: boolean
      type: object
    ApprovalResult:
      description: ApprovalResult describes the decision and associated metadata of a manual approval of a build.
      properties:
        approvalTime:
          description: Output only. The time when the approval decision was made.
          format: google-datetime
          readOnly: true
          type: string
        approverAccount:
          description: Output only. Email of the user that called the ApproveBuild API to approve or reject a build at the time that the API was called.
          readOnly: true
          type: string
        comment:
          description: Optional. An optional comment for this manual approval result.
          type: string
        decision:
          description: Required. The decision of this manual approval.
          enum:
            - DECISION_UNSPECIFIED
            - APPROVED
            - REJECTED
          type: string
        url:
          description: Optional. An optional URL tied to this manual approval result. This field is essentially the same as comment, except that it will be rendered by the UI differently. An example use case is a link to an external job that approved this Build.
          type: string
      type: object
    ApproveBuildRequest:
      description: Request to approve or reject a pending build.
      properties:
        approvalResult:
          $ref: "#/components/schemas/ApprovalResult"
          description: Approval decision and metadata.
      type: object
    ArtifactObjects:
      description: Files in the workspace to upload to Cloud Storage upon successful completion of all build steps.
      properties:
        location:
          description: Cloud Storage bucket and optional object path, in the form "gs://bucket/path/to/somewhere/". (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Files in the workspace matching any path pattern will be uploaded to Cloud Storage with this location as a prefix.
          type: string
        paths:
          description: Path globs used to match files in the build's workspace.
          items:
            type: string
          type: array
        timing:
          $ref: "#/components/schemas/TimeSpan"
          description: Output only. Stores timing information for pushing all artifact objects.
          readOnly: true
      type: object
    ArtifactResult:
      description: An artifact that was uploaded during a build. This is a single record in the artifact manifest JSON file.
      properties:
        fileHash:
          description: The file hash of the artifact.
          items:
            $ref: "#/components/schemas/FileHashes"
          type: array
        location:
          description: The path of an artifact in a Google Cloud Storage bucket, with the generation number. For example, `gs://mybucket/path/to/output.jar#generation`.
          type: string
      type: object
    Artifacts:
      description: Artifacts produced by a build that should be uploaded upon successful completion of all build steps.
      properties:
        images:
          description: A list of images to be pushed upon the successful completion of all build steps. The images will be pushed using the builder service account's credentials. The digests of the pushed images will be stored in the Build resource's results field. If any of the images fail to be pushed, the build is marked FAILURE.
          items:
            type: string
          type: array
        objects:
          $ref: "#/components/schemas/ArtifactObjects"
          description: A list of objects to be uploaded to Cloud Storage upon successful completion of all build steps. Files in the workspace matching specified paths globs will be uploaded to the specified Cloud Storage location using the builder service account's credentials. The location and generation of the uploaded objects will be stored in the Build resource's results field. If any objects fail to be pushed, the build is marked FAILURE.
      type: object
    Build:
      description: "A build resource in the Cloud Build API. At a high level, a `Build` describes where to find source code, how to build it (for example, the builder image to run on the source), and where to store the built artifacts. Fields can include the following variables, which will be expanded when the build is created: - $PROJECT_ID: the project ID of the build. - $PROJECT_NUMBER: the project number of the build. - $LOCATION: the location/region of the build. - $BUILD_ID: the autogenerated ID of the build. - $REPO_NAME: the source repository name specified by RepoSource. - $BRANCH_NAME: the branch name specified by RepoSource. - $TAG_NAME: the tag name specified by RepoSource. - $REVISION_ID or $COMMIT_SHA: the commit SHA specified by RepoSource or resolved from the specified branch or tag. - $SHORT_SHA: first 7 characters of $REVISION_ID or $COMMIT_SHA."
      properties:
        approval:
          $ref: "#/components/schemas/BuildApproval"
          description: Output only. Describes this build's approval configuration, status, and result.
          readOnly: true
        artifacts:
          $ref: "#/components/schemas/Artifacts"
          description: Artifacts produced by the build that should be uploaded upon successful completion of all build steps.
        availableSecrets:
          $ref: "#/components/schemas/Secrets"
          description: Secrets and secret environment variables.
        buildTriggerId:
          description: Output only. The ID of the `BuildTrigger` that triggered this build, if it was triggered automatically.
          readOnly: true
          type: string
        createTime:
          description: Output only. Time at which the request to create the build was received.
          format: google-datetime
          readOnly: true
          type: string
        failureInfo:
          $ref: "#/components/schemas/FailureInfo"
          description: Output only. Contains information about the build when status=FAILURE.
          readOnly: true
        finishTime:
          description: Output only. Time at which execution of the build was finished. The difference between finish_time and start_time is the duration of the build's execution.
          format: google-datetime
          readOnly: true
          type: string
        id:
          description: Output only. Unique identifier of the build.
          readOnly: true
          type: string
        images:
          description: A list of images to be pushed upon the successful completion of all build steps. The images are pushed using the builder service account's credentials. The digests of the pushed images will be stored in the `Build` resource's results field. If any of the images fail to be pushed, the build status is marked `FAILURE`.
          items:
            type: string
          type: array
        logUrl:
          description: Output only. URL to logs for this build in Google Cloud Console.
          readOnly: true
          type: string
        logsBucket:
          description: Google Cloud Storage bucket where logs should be written (see [Bucket Name Requirements](https://cloud.google.com/storage/docs/bucket-naming#requirements)). Logs file names will be of the format `${logs_bucket}/log-${build_id}.txt`.
          type: string
        name:
          description: "Output only. The 'Build' name with format: `projects/{project}/locations/{location}/builds/{build}`, where {build} is a unique identifier generated by the service."
          readOnly: true
          type: string
        options:
          $ref: "#/components/schemas/BuildOptions"
          description: Special options for this build.
        projectId:
          description: Output only. ID of the project.
          readOnly: true
          type: string
        queueTtl:
          description: TTL in queue for this build. If provided and the build is enqueued longer than this value, the build will expire and the build status will be `EXPIRED`. The TTL starts ticking from create_time.
          format: google-duration
          type: string
        results:
          $ref: "#/components/schemas/Results"
          description: Output only. Results of the build.
          readOnly: true
        secrets:
          description: "Secrets to decrypt using Cloud Key Management Service. Note: Secret Manager is the recommended technique for managing sensitive data with Cloud Build. Use `available_secrets` to configure builds to access secrets from Secret Manager. For instructions, see: https://cloud.google.com/cloud-build/docs/securing-builds/use-secrets"
          items:
            $ref: "#/components/schemas/Secret"
          type: array
        serviceAccount:
          description: "IAM service account whose credentials will be used at build runtime. Must be of the format `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT}`. ACCOUNT can be email address or uniqueId of the service account. "
          type: string
        source:
          $ref: "#/components/schemas/Source"
          description: The location of the source files to build.
        sourceProvenance:
          $ref: "#/components/schemas/SourceProvenance"
          description: Output only. A permanent fixed identifier for source.
          readOnly: true
        startTime:
          description: Output only. Time at which execution of the build was started.
          format: google-datetime
          readOnly: true
          type: string
        status:
          description: Output only. Status of the build.
          enum:
            - STATUS_UNKNOWN
            - PENDING
            - QUEUED
            - WORKING
            - SUCCESS
            - FAILURE
            - INTERNAL_ERROR
            - TIMEOUT
            - CANCELLED
            - EXPIRED
          readOnly: true
          type: string
        statusDetail:
          description: Output only. Customer-readable message about the current status.
          readOnly: true
          type: string
        steps:
          description: Required. The operations to be performed on the workspace.
          items:
            $ref: "#/components/schemas/BuildStep"
          type: array
        substitutions:
          additionalProperties:
            type: string
          description: Substitutions data for `Build` resource.
          type: object
        tags:
          description: Tags for annotation of a `Build`. These are not docker tags.
          items:
            type: string
          type: array
        timeout:
          description: Amount of time that this build should be allowed to run, to second granularity. If this amount of time elapses, work on the build will cease and the build status will be `TIMEOUT`. `timeout` starts ticking from `startTime`. Default time is ten minutes.
          format: google-duration
          type: string
        timing:
          additionalProperties:
            $ref: "#/components/schemas/TimeSpan"
          description: "Output only. Stores timing information for phases of the build. Valid keys are: * BUILD: time to execute all build steps. * PUSH: time to push all specified images. * FETCHSOURCE: time to fetch source. * SETUPBUILD: time to set up build. If the build does not specify source or images, these keys will not be included."
          readOnly: true
          type: object
        warnings:
          description: Output only. Non-fatal problems encountered during the execution of the build.
          items:
            $ref: "#/components/schemas/Warning"
          readOnly: true
          type: array
      type: object
    BuildApproval:
      description: BuildApproval describes a build's approval configuration, state, and result.
      properties:
        config:
          $ref: "#/components/schemas/ApprovalConfig"
          description: Output only. Configuration for manual approval of this build.
          readOnly: true
        result:
          $ref: "#/components/schemas/ApprovalResult"
          description: Output only. Result of manual approval for this Build.
          readOnly: true
        state:
          description: Output only. The state of this build's approval.
          enum:
            - STATE_UNSPECIFIED
            - PENDING
            - APPROVED
            - REJECTED
            - CANCELLED
          readOnly: true
          type: string
      type: object
    BuildOperationMetadata:
      description: Metadata for build operations.
      properties:
        build:
          $ref: "#/components/schemas/Build"
          description: The build that the operation is tracking.
      type: object
    BuildOptions:
      description: Optional arguments to enable specific features of builds.
      properties:
        diskSizeGb:
          description: Requested disk size for the VM that runs the build. Note that this is *NOT* "disk free"; some of the space will be used by the operating system and build utilities. Also note that this is the minimum disk size that will be allocated for the build -- the build may run with a larger disk than requested. At present, the maximum disk size is 1000GB; builds that request more than the maximum are rejected with an error.
          format: int64
          type: string
        dynamicSubstitutions:
          description: "Option to specify whether or not to apply bash style string operations to the substitutions. NOTE: this is always enabled for triggered builds and cannot be overridden in the build configuration file."
          type: boolean
        env:
          description: A list of global environment variable definitions that will exist for all build steps in this build. If a variable is defined in both globally and in a build step, the variable will use the build step value. The elements are of the form "KEY=VALUE" for the environment variable "KEY" being given the value "VALUE".
          items:
            type: string
          type: array
        logStreamingOption:
          description: Option to define build log streaming behavior to Google Cloud Storage.
          enum:
            - STREAM_DEFAULT
            - STREAM_ON
            - STREAM_OFF
          type: string
        logging:
          description: Option to specify the logging mode, which determines if and where build logs are stored.
          enum:
            - LOGGING_UNSPECIFIED
            - LEGACY
            - GCS_ONLY
            - STACKDRIVER_ONLY
            - CLOUD_LOGGING_ONLY
            - NONE
          type: string
        machineType:
          description: Compute Engine machine type on which to run the build.
          enum:
            - UNSPECIFIED
            - N1_HIGHCPU_8
            - N1_HIGHCPU_32
            - E2_HIGHCPU_8
            - E2_HIGHCPU_32
          type: string
        pool:
          $ref: "#/components/schemas/PoolOption"
          description: Optional. Specification for execution on a `WorkerPool`. See [running builds in a private pool](https://cloud.google.com/build/docs/private-pools/run-builds-in-private-pool) for more information.
        requestedVerifyOption:
          description: Requested verifiability options.
          enum:
            - NOT_VERIFIED
            - VERIFIED
          type: string
        secretEnv:
          description: A list of global environment variables, which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`. These variables will be available to all build steps in this build.
          items:
            type: string
          type: array
        sourceProvenanceHash:
          description: Requested hash for SourceProvenance.
          items:
            enum:
              - NONE
              - SHA256
              - MD5
            type: string
          type: array
        substitutionOption:
          description: "Option to specify behavior when there is an error in the substitution checks. NOTE: this is always set to ALLOW_LOOSE for triggered builds and cannot be overridden in the build configuration file."
          enum:
            - MUST_MATCH
            - ALLOW_LOOSE
          type: string
        volumes:
          description: Global list of volumes to mount for ALL build steps Each volume is created as an empty volume prior to starting the build process. Upon completion of the build, volumes and their contents are discarded. Global volume names and paths cannot conflict with the volumes defined a build step. Using a global volume in a build with only one step is not valid as it is indicative of a build request with an incorrect configuration.
          items:
            $ref: "#/components/schemas/Volume"
          type: array
        workerPool:
          description: This field deprecated; please use `pool.name` instead.
          type: string
      type: object
    BuildStep:
      description: A step in the build pipeline.
      properties:
        args:
          description: A list of arguments that will be presented to the step when it is started. If the image used to run the step's container has an entrypoint, the `args` are used as arguments to that entrypoint. If the image does not define an entrypoint, the first element in args is used as the entrypoint, and the remainder will be used as arguments.
          items:
            type: string
          type: array
        dir:
          description: Working directory to use when running this step's container. If this value is a relative path, it is relative to the build's working directory. If this value is absolute, it may be outside the build's working directory, in which case the contents of the path may not be persisted across build step executions, unless a `volume` for that path is specified. If the build specifies a `RepoSource` with `dir` and a step with a `dir`, which specifies an absolute path, the `RepoSource` `dir` is ignored for the step's execution.
          type: string
        entrypoint:
          description: Entrypoint to be used instead of the build step image's default entrypoint. If unset, the image's default entrypoint is used.
          type: string
        env:
          description: A list of environment variable definitions to be used when running a step. The elements are of the form "KEY=VALUE" for the environment variable "KEY" being given the value "VALUE".
          items:
            type: string
          type: array
        id:
          description: Unique identifier for this build step, used in `wait_for` to reference this build step as a dependency.
          type: string
        name:
          description: Required. The name of the container image that will run this particular build step. If the image is available in the host's Docker daemon's cache, it will be run directly. If not, the host will attempt to pull the image first, using the builder service account's credentials if necessary. The Docker daemon's cache will already have the latest versions of all of the officially supported build steps ([https://github.com/GoogleCloudPlatform/cloud-builders](https://github.com/GoogleCloudPlatform/cloud-builders)). The Docker daemon will also have cached many of the layers for some popular images, like "ubuntu", "debian", but they will be refreshed at the time you attempt to use them. If you built an image in a previous build step, it will be stored in the host's Docker daemon's cache and is available to use as the name for a later build step.
          type: string
        pullTiming:
          $ref: "#/components/schemas/TimeSpan"
          description: Output only. Stores timing information for pulling this build step's builder image only.
          readOnly: true
        script:
          description: A shell script to be executed in the step. When script is provided, the user cannot specify the entrypoint or args.
          type: string
        secretEnv:
          description: A list of environment variables which are encrypted using a Cloud Key Management Service crypto key. These values must be specified in the build's `Secret`.
          items:
            type: string
          type: array
        status:
          description: Output only. Status of the build step. At this time, build step status is only updated on build completion; step status is not updated in real-time as the build progresses.
          enum:
            - STATUS_UNKNOWN
            - PENDING
            - QUEUED
            - WORKING
            - SUCCESS
            - FAILURE
            - INTERNAL_ERROR
            - TIMEOUT
            - CANCELLED
            - EXPIRED
          readOnly: true
          type: string
        timeout:
          description: Time limit for executing this build step. If not defined, the step has no time limit and will be allowed to continue to run until either it completes or the build itself times out.
          format: google-duration
          type: string
        timing:
          $ref: "#/components/schemas/TimeSpan"
          description: Output only. Stores timing information for executing this build step.
          readOnly: true
        volumes:
          description: List of volumes to mount into the build step. Each volume is created as an empty volume prior to execution of the build step. Upon completion of the build, volumes and their contents are discarded. Using a named volume in only one step is not valid as it is indicative of a build request with an incorrect configuration.
          items:
            $ref: "#/components/schemas/Volume"
          type: array
        waitFor:
          description: The ID(s) of the step(s) that this build step depends on. This build step will not start until all the build steps in `wait_for` have completed successfully. If `wait_for` is empty, this build step will start when all previous build steps in the `Build.Steps` list have completed successfully.
          items:
            type: string
          type: array
      type: object
    BuildTrigger:
      description: Configuration for an automated build in response to source repository changes.
      properties:
        approvalConfig:
          $ref: "#/components/schemas/ApprovalConfig"
          description: Configuration for manual approval to start a build invocation of this BuildTrigger.
        autodetect:
          description: "Autodetect build configuration. The following precedence is used (case insensitive): 1. cloudbuild.yaml 2. cloudbuild.yml 3. cloudbuild.json 4. Dockerfile Currently only available for GitHub App Triggers."
          type: boolean
        build:
          $ref: "#/components/schemas/Build"
          description: Contents of the build template.
        createTime:
          description: Output only. Time when the trigger was created.
          format: google-datetime
          readOnly: true
          type: string
        description:
          description: Human-readable description of this trigger.
          type: string
        disabled:
          description: If true, the trigger will never automatically execute a build.
          type: boolean
        filename:
          description: Path, from the source root, to the build configuration file (i.e. cloudbuild.yaml).
          type: string
        filter:
          description: A Common Expression Language string.
          type: string
        gitFileSource:
          $ref: "#/components/schemas/GitFileSource"
          description: The file source describing the local or remote Build template.
        github:
          $ref: "#/components/schemas/GitHubEventsConfig"
          description: GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received. Mutually exclusive with `trigger_template`.
        id:
          description: Output only. Unique identifier of the trigger.
          readOnly: true
          type: string
        ignoredFiles:
          description: ignored_files and included_files are file glob matches using https://golang.org/pkg/path/filepath/#Match extended with support for "**". If ignored_files and changed files are both empty, then they are not used to determine whether or not to trigger a build. If ignored_files is not empty, then we ignore any files that match any of the ignored_file globs. If the change has no files that are outside of the ignored_files globs, then we do not trigger a build.
          items:
            type: string
          type: array
        includedFiles:
          description: If any of the files altered in the commit pass the ignored_files filter and included_files is empty, then as far as this filter is concerned, we should trigger the build. If any of the files altered in the commit pass the ignored_files filter and included_files is not empty, then we make sure that at least one of those files matches a included_files glob. If not, then we do not trigger a build.
          items:
            type: string
          type: array
        name:
          description: "User-assigned name of the trigger. Must be unique within the project. Trigger names must meet the following requirements: + They must contain only alphanumeric characters and dashes. + They can be 1-64 characters long. + They must begin and end with an alphanumeric character."
          type: string
        pubsubConfig:
          $ref: "#/components/schemas/PubsubConfig"
          description: PubsubConfig describes the configuration of a trigger that creates a build whenever a Pub/Sub message is published.
        resourceName:
          description: "The `Trigger` name with format: `projects/{project}/locations/{location}/triggers/{trigger}`, where {trigger} is a unique identifier generated by the service."
          type: string
        serviceAccount:
          description: "The service account used for all user-controlled operations including UpdateBuildTrigger, RunBuildTrigger, CreateBuild, and CancelBuild. If no service account is set, then the standard Cloud Build service account ([PROJECT_NUM]@system.gserviceaccount.com) will be used instead. Format: `projects/{PROJECT_ID}/serviceAccounts/{ACCOUNT_ID_OR_EMAIL}`"
          type: string
        sourceToBuild:
          $ref: "#/components/schemas/GitRepoSource"
          description: The repo and ref of the repository from which to build. This field is used only for those triggers that do not respond to SCM events. Triggers that respond to such events build source at whatever commit caused the event. This field is currently only used by Webhook, Pub/Sub, Manual, and Cron triggers.
        substitutions:
          additionalProperties:
            type: string
          description: "Substitutions for Build resource. The keys must match the following regular expression: `^_[A-Z0-9_]+$`."
          type: object
        tags:
          description: Tags for annotation of a `BuildTrigger`
          items:
            type: string
          type: array
        triggerTemplate:
          $ref: "#/components/schemas/RepoSource"
          description: Template describing the types of source changes to trigger a build. Branch and tag names in trigger templates are interpreted as regular expressions. Any branch or tag change that matches that regular expression will trigger a build. Mutually exclusive with `github`.
        webhookConfig:
          $ref: "#/components/schemas/WebhookConfig"
          description: WebhookConfig describes the configuration of a trigger that creates a build whenever a webhook is sent to a trigger's webhook URL.
      type: object
    BuiltImage:
      description: An image built by the pipeline.
      properties:
        digest:
          description: Docker Registry 2.0 digest.
          type: string
        name:
          description: Name used to push the container image to Google Container Registry, as presented to `docker push`.
          type: string
        pushTiming:
          $ref: "#/components/schemas/TimeSpan"
          description: Output only. Stores timing information for pushing the specified image.
          readOnly: true
      type: object
    CancelBuildRequest:
      description: Request to cancel an ongoing build.
      properties:
        id:
          description: Required. ID of the build.
          type: string
        name:
          description: "The name of the `Build` to cancel. Format: `projects/{project}/locations/{location}/builds/{build}`"
          type: string
        projectId:
          description: Required. ID of the project.
          type: string
      type: object
    CancelOperationRequest:
      description: The request message for Operations.CancelOperation.
      properties: {}
      type: object
    CreateGitHubEnterpriseConfigOperationMetadata:
      description: Metadata for `CreateGithubEnterpriseConfig` operation.
      properties:
        completeTime:
          description: Time the operation was completed.
          format: google-datetime
          type: string
        createTime:
          description: Time the operation was created.
          format: google-datetime
          type: string
        githubEnterpriseConfig:
          description: "The resource name of the GitHubEnterprise to be created. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
          type: string
      type: object
    CreateWorkerPoolOperationMetadata:
      description: Metadata for the `CreateWorkerPool` operation.
      properties:
        completeTime:
          description: Time the operation was completed.
          format: google-datetime
          type: string
        createTime:
          description: Time the operation was created.
          format: google-datetime
          type: string
        workerPool:
          description: "The resource name of the `WorkerPool` to create. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`."
          type: string
      type: object
    DeleteGitHubEnterpriseConfigOperationMetadata:
      description: Metadata for `DeleteGitHubEnterpriseConfig` operation.
      properties:
        completeTime:
          description: Time the operation was completed.
          format: google-datetime
          type: string
        createTime:
          description: Time the operation was created.
          format: google-datetime
          type: string
        githubEnterpriseConfig:
          description: "The resource name of the GitHubEnterprise to be deleted. Format: `projects/{project}/locations/{location}/githubEnterpriseConfigs/{id}`."
          type: string
      type: object
    DeleteWorkerPoolOperationMetadata:
      description: Metadata for the `DeleteWorkerPool` operation.
      properties:
        completeTime:
          description: Time the operation was completed.
          format: google-datetime
          type: string
        createTime:
          description: Time the operation was created.
          format: google-datetime
          type: string
        workerPool:
          description: "The resource name of the `WorkerPool` being deleted. Format: `projects/{project}/locations/{location}/workerPools/{worker_pool}`."
          type: string
      type: object
    Empty:
      description: "A generic empty message that you can re-use to avoid defining duplicated empty messages in your APIs. A typical example is to use it as the request or the response type of an API method. For instance: service Foo { rpc Bar(google.protobuf.Empty) returns (google.protobuf.Empty); } The JSON representation for `Empty` is empty JSON object `{}`."
      properties: {}
      type: object
    FailureInfo:
      description: A fatal problem encountered during the execution of the build.
      properties:
        detail:
          description: Explains the failure issue in more detail using hard-coded text.
          type: string
        type:
          description: The name of the failure.
          enum:
            - FAILURE_TYPE_UNSPECIFIED
            - PUSH_FAILED
            - PUSH_IMAGE_NOT_FOUND
            - PUSH_NOT_AUTHORIZED
            - LOGGING_FAILURE
            - USER_BUILD_STEP
            - FETCH_SOURCE_FAILED
          type: string
      type: object
    FileHashes:
      description: Container message for hashes of byte content of files, used in SourceProvenance messages to verify integrity of source input to the build.
      properties:
        fileHash:
          description: Collection of file hashes.
          items:
            $ref: "#/components/schemas/Hash"
          type: array
      type: object
    GitFileSource:
      description: GitFileSource describes a file within a (possibly remote) code repository.
      properties:
        path:
          description: The path of the file, with the repo root as the root of the path.
          type: string
        repoType:
          description: See RepoType above.
          enum:
            - UNKNOWN
            - CLOUD_SOURCE_REPOSITORIES
            - GITHUB
          type: string
        revision:
          description: "The branch, tag, arbitrary ref, or SHA version of the repo to use when resolving the filename (optional). This field respects the same syntax/resolution as described here: https://git-scm.com/docs/gitrevisions If unspecified, the revision from which the trigger invocation originated is assumed to be the revision from which to read the specified path."
          type: string
        uri:
          description: The URI of the repo (optional). If unspecified, the repo from which the trigger invocation originated is assumed to be the repo from which to read the specified path.
          type: string
      type: object
    GitHubEnterpriseConfig:
      description: GitHubEnterpriseConfig represents a configuration for a GitHub Enterprise server.
      properties:
        appId:
          description: Required. The GitHub app id of the Cloud Build app on the GitHub Enterprise server.
          format: int64
          type: string
        createTime:
          description: Output only. Time when the installation was associated with the project.
          format: google-datetime
          readOnly: true
          type: string
        displayName:
          description: Name to display for this config.
          type: string
        hostUrl:
          description: The URL of the github enterprise host the configuration is for.
          type: string
        name:
          description: 'Optional. The full resource name for the GitHubEnterpriseConfig For example: "projects/{$project_id}/githubEnterpriseConfigs/{$config_id}"'
          type: string
        peeredNetwork:
          description: Optional. The network to be used when reaching out to the GitHub Enterprise server. The VPC network must be enabled for private service connection. This should be set if the GitHub Enterprise server is hosted on-premises and not reachable by public internet. If this field is left empty, no network peering will occur and calls to the GitHub Enterprise server will be made over the public internet. Must be in the format `projects/{project}/global/networks/{network}`, where {project} is a project number or id and {network} is the name of a VPC network in the project.
          type: string
        secrets:
          $ref: "#/components/schemas/GitHubEnterpriseSecrets"
          description: Names of secrets in Secret Manager.
        sslCa:
          description: Optional. SSL certificate to use for requests to GitHub Enterprise.
          type: string
        webhookKey:
          description: The key that should be attached to webhook calls to the ReceiveWebhook endpoint.
          type: string
      type: object
    GitHubEnterpriseSecrets:
      description: "GitHubEnterpriseSecrets represents the names of all necessary secrets in Secret Manager for a GitHub Enterprise server. Format is: projects//secrets/."
      properties:
        oauthClientIdName:
          description: The resource name for the OAuth client ID secret in Secret Manager.
          type: string
        oauthClientIdVersionName:
          description: The resource name for the OAuth client ID secret version in Secret Manager.
          type: string
        oauthSecretName:
          description: The resource name for the OAuth secret in Secret Manager.
          type: string
        oauthSecretVersionName:
          description: The resource name for the OAuth secret secret version in Secret Manager.
          type: string
        privateKeyName:
          description: The resource name for the private key secret.
          type: string
        privateKeyVersionName:
          description: The resource name for the private key secret version.
          type: string
        webhookSecretName:
          description: The resource name for the webhook secret in Secret Manager.
          type: string
        webhookSecretVersionName:
          description: The resource name for the webhook secret secret version in Secret Manager.
          type: string
      type: object
    GitHubEventsConfig:
      description: GitHubEventsConfig describes the configuration of a trigger that creates a build whenever a GitHub event is received.
      properties:
        enterpriseConfigResourceName:
          description: 'Optional. The resource name of the github enterprise config that should be applied to this installation. For example: "projects/{$project_id}/githubEnterpriseConfigs/{$config_id}"'
          type: string
        installationId:
          description: The installationID that emits the GitHub event.
          format: int64
          type: string
        name:
          description: 'Name of the repository. For example: The name for https://github.com/googlecloudplatform/cloud-builders is "cloud-builders".'
          type: string
        owner:
          description: 'Owner of the repository. For example: The owner for https://github.com/googlecloudplatform/cloud-builders is "googlecloudplatform".'
          type: string
        pullRequest:
          $ref: "#/components/schemas/PullRequestFilter"
          description: filter to match changes in pull requests.
        push:
          $ref: "#/components/schemas/PushFilter"
          description: filter to match changes in refs like branches, tags.
      type: object
    GitRepoSource:
      description: GitRepoSource describes a repo and ref of a code repository.
      properties:
        ref:
          description: The branch or tag to use. Must start with "refs/" (required).
          type: string
        repoType:
          description: See RepoType below.
          enum:
            - UNKNOWN
            - CLOUD_SOURCE_REPOSITORIES
            - GITHUB
          type: string
        uri:
          description: The URI of the repo (required).
          type: string
      type: object
    GoogleDevtoolsCloudbuildV2OperationMetadata:
      description: Represents the metadata of the long-running operation.
      properties:
        apiVersion:
          description: Output only. API version used to start the operation.
          readOnly: true
          type: string
        createTime:
          description: Output only. The time the operation was created.
          format: google-datetime
          readOnly: true
          type: string
        endTime:
          description: Output only. The time the operation finished running.
          format: google-datetime
          readOnly: true
          type: string
        requestedCancellation:
          description: Output only. Identifies whether the user has requested cancellation of the operation. Operations that have successfully been cancelled have Operation.error value with a google.rpc.Status.code of 1, corresponding to `Code.CANCELLED`.
          readOnly: true
          type: boolean
        statusMessage:
          description: Output only. Human-readable status of the operation, if any.
          readOnly: true
          type: string
        target:
          description: Output only. Server-defined resource path for the target of the operation.
          readOnly: true
          type: string
        verb:
          description: Output only. Name of the verb executed by the operation.
          readOnly: true
          type: string
      type: object
    HTTPDelivery:
      description: HTTPDelivery is the delivery configuration for an HTTP notification.
      properties:
        uri:
          description: The URI to which JSON-containing HTTP POST requests should be sent.
          type: string
      type: object
    Hash:
      description: Container message for hash values.
      properties:
        type:
          description: The type of hash that was performed.
          enum:
            - NONE
            - SHA256
            - MD5
          type: string
        value:
          description: The hash value.
          format: byte
          type: string
      type: object
    HttpBody:
      description: "Message that represents an arbitrary HTTP body. It should only be used for payload formats that can't be represented as JSON, such as raw binary or an HTML page. This message can be used both in streaming and non-streaming API methods in the request as well as the response. It can be used as a top-level request field, which is convenient if one wants to extract parameters from either the URL or HTTP template into the request fields and also want access to the raw HTTP body. Example: message GetResourceRequest { // A unique request id. string request_id = 1; // The raw HTTP body is bound to this field. google.api.HttpBody http_body = 2; } service ResourceService { rpc GetResource(GetResourceRequest) returns (google.api.HttpBody); rpc UpdateResource(google.api.HttpBody) returns (google.protobuf.Empty); } Example with streaming methods: service CaldavService { rpc GetCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); rpc UpdateCalendar(stream google.api.HttpBody) returns (stream google.api.HttpBody); } Use of this type only changes how the request and response bodies are handled, all other features will continue to work unchanged."
      properties:
        contentType:
          description: The HTTP Content-Type header value specifying the content type of the body.
          type: string
        data:
          description: The HTTP request/response body as raw binary.
          format: byte
          type: string
        extensions:
          description: Application specific response metadata. Must be set in the first response for streaming APIs.
          items:
            additionalProperties:
              description: Properties of the object. Contains field @type with type URL.
            type: object
          type: array
      type: object
    InlineSecret:
      description: Pairs a set of secret environment variables mapped to encrypted values with the Cloud KMS key to use to decrypt the value.
      properties:
        envMap:
          additionalProperties:
            format: byte
            type: string
          description: Map of environment variable name to its encrypted value. Secret environment variables must be unique across all of a build's secrets, and must be used by at least one build step. Values can be at most 64 KB in size. There can be at most 100 secret values across all of a build's secrets.
          type: object
        kmsKeyName:
          description: "Resource name of Cloud KMS crypto key to decrypt the encrypted value. In format: projects/*/locations/*/keyRings/*/cryptoKeys/*"
          type: string
      type: object
    ListBuildTriggersResponse:
      description: Response containing existing `BuildTriggers`.
      properties:
        nextPageToken:
          description: Token to receive the next page of results.
          type: string
        triggers:
          description: "`BuildTriggers` for the project, sorted by `create_time` descending."
          items:
            $ref: "#/components/schemas/BuildTrigger"
          type: array
      type: object
    ListBuildsResponse:
      description: Response including listed builds.
      properties:
        builds:
          description: Builds will be sorted by `create_time`, descending.
          items:
            $ref: "#/components/schemas/Build"
          type: array
        nextPageToken:
          description: Token to receive the next page of results. This will be absent if the end of the response list has been reached.
          type: string
      type: object
    ListGithubEnterpriseConfigsResponse:
      description: RPC response object returned by ListGithubEnterpriseConfigs RPC method.
      properties:
        configs:
          description: A list of GitHubEnterpriseConfigs
          items:
            $ref: "#/components/schemas/GitHubEnterpriseConfig"
          type: array
      type: object
    ListWorkerPoolsResponse:
      description: Response containing existing `WorkerPools`.
      properties:
        nextPageToken:
          description: Continuation token used to page through large result sets. Provide this value in a subsequent ListWorkerPoolsRequest to return the next page of results.
          type: string
        workerPools:
          description: "`WorkerPools` for the specified project."
          items:
            $ref: "#/components/schemas/WorkerPool"
          type: array
      type: object
    NetworkConfig:
[...]
