swagger: '2.0'
schemes:
  - https
host: app.billbee.io
info:
  contact:
    email: support@billbee.de
    name: Billbee GmbH
    url: 'https://www.billbee.de'
    x-twitter: billbeeio
  description: |+
    Documentation of the Billbee REST API to connect a Billbee account to external aplications.

    ## Endpoint

    The Billbee API endpoint base url is https://app01.billbee.de/api/v1 

    ## Activation

    You have to enable the API in the settings of your Billbee account. In addition you need a Billbee API Key identifying the application you develop. To get an API key, send a mail to support@billbee.de and send us a short note about what you are building.

    ## Authorization & security

    Because you can access private data with the Billbee API, every request has to be sent over https and must

    * Contain a valid API Key identifying the application/developer. It has to be sent as the HTTP header X-Billbee-Api-Key
    * Contain a valid user login with billbee username and api password in form of a basic auth HTTP header

    ## Throttling

    Each endpoint has a throttle of max 2 requests per second per combination of API Key and Billbee user.

    When you exceed these 2 calls, the API will return a HTTP 429 status code

  title: Billbee
  version: v1
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: 'https://twitter.com/billbeeio/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://app.billbee.io/swagger/docs/v1'
      version: '2.0'
  x-providerName: billbee.io
securityDefinitions:
  X-Billbee-Api-Key:
    description: 'To identify the app developer, each API request has do contain a valid API Key in the HTTP header X-Billbee-Api-Key.'
    in: header
    name: X-Billbee-Api-Key
    type: apiKey
  basic:
    description: 'To authenticate an API request, the Billbee username/email and an API password have to be provided as a BasicAuth header.'
    type: basic
paths:
  /api/v1/automaticprovision/createaccount:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: AutomaticProvisioning_CreateAccount
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Creates a new Billbee user account with the data passed
      tags:
        - Provisioning
  /api/v1/automaticprovision/termsinfo:
    get:
      consumes: []
      operationId: AutomaticProvisioning_TermsInfo
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Returns infos about Billbee terms and conditions
      tags:
        - Provisioning
  /api/v1/customers:
    get:
      consumes: []
      operationId: Customer_GetAll
      parameters:
        - description: The current page to request starting with 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: The pagesize for the result list. Values between 1 and 250 are allowed
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]]'
      summary: Get a list of all customers
      tags:
        - Customers
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Customer_Create
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]'
      summary: Creates a new customer
      tags:
        - Customers
  '/api/v1/customers/{id}':
    get:
      consumes: []
      operationId: Customer_GetOne
      parameters:
        - description: The id of the customer to query
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]'
      summary: Queries a single customer by id
      tags:
        - Customers
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Customer_Update
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel'
        - description: The id of the customer
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]'
      summary: Updates a customer by id
      tags:
        - Customers
  '/api/v1/customers/{id}/addresses':
    get:
      consumes: []
      operationId: Customer_GetCustomerAddresses
      parameters:
        - description: The id of the customer
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The current page to request starting with 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: The pagesize for the result list. Values between 1 and 250 are allowed
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]'
      summary: Queries a list of addresses from a customer
      tags:
        - Customers
  '/api/v1/customers/{id}/orders':
    get:
      consumes: []
      operationId: Customer_GetCustomerOrders
      parameters:
        - description: The id of the customer
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The current page to request starting with 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: The pagesize for the result list. Values between 1 and 250 are allowed
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.Order.ApiOrder]]'
      summary: Queries a list of orders from a customer
      tags:
        - Customers
  /api/v1/events:
    get:
      consumes: []
      operationId: EventApi_GetList
      parameters:
        - format: date-time
          in: query
          name: minDate
          required: false
          type: string
        - format: date-time
          in: query
          name: maxDate
          required: false
          type: string
        - format: int32
          in: query
          name: page
          required: false
          type: integer
        - format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - collectionFormat: multi
          in: query
          items:
            format: int32
            type: integer
          name: typeId
          required: false
          type: array
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Get a list of all events optionally filtered by date
      tags:
        - Events
  /api/v1/orders:
    get:
      consumes: []
      operationId: OrderApi_GetList
      parameters:
        - description: Specifies the oldest order date to include in the response
          format: date-time
          in: query
          name: minOrderDate
          required: false
          type: string
        - description: Specifies the newest order date to include in the response
          format: date-time
          in: query
          name: maxOrderDate
          required: false
          type: string
        - description: Specifies the page to request
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies the pagesize. Defaults to 50, max value is 250'
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - collectionFormat: multi
          description: Specifies a list of shop ids for which invoices should be included
          in: query
          items:
            format: int32
            type: integer
          name: shopId
          required: false
          type: array
        - collectionFormat: multi
          description: Specifies a list of state ids to include in the response
          in: query
          items:
            format: int32
            type: integer
          name: orderStateId
          required: false
          type: array
        - collectionFormat: multi
          description: Specifies a list of tags the order must have attached to be included in the response
          in: query
          items:
            type: string
          name: tag
          required: false
          type: array
        - description: 'If given, all delivered orders have an Id greater than or equal to the given minimumOrderId'
          format: int32
          in: query
          name: minimumBillBeeOrderId
          required: false
          type: integer
        - description: 'If given, the last modification has to be newer than the given date'
          format: date-time
          in: query
          name: modifiedAtMin
          required: false
          type: string
        - description: 'If given, the last modification has to be older or equal than the given date.'
          format: date-time
          in: query
          name: modifiedAtMax
          required: false
          type: string
        - description: 'The source field for the article title. 0 = Order Position (default), 1 = Article Title, 2 = Article Invoice Text'
          enum:
            - 0
            - 1
            - 2
            - 3
          format: int32
          in: query
          name: articleTitleSource
          required: false
          type: integer
        - description: If true the list of tags passed to the call are used to filter orders to not include these tags
          in: query
          name: excludeTags
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Get a list of all orders optionally filtered by date
      tags:
        - Orders
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: "To create an order POST an JSON object to the orders endpoint with the shown properties. \r\nNot all properties are required."
      operationId: OrderApi_PostNewOrder
      parameters:
        - description: ''
          in: body
          name: orderData
          required: true
          schema:
            $ref: '#/definitions/Billbee.Interfaces.Order.ApiOrder'
        - description: ''
          format: int32
          in: query
          name: shopId
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '201':
          description: The order was created successfully
          schema:
            type: object
        '400':
          description: Invalid data was received in the request
        '500':
          description: An internal exception occured. Order was not created
      summary: Creates a new order in the Billbee account
      tags:
        - Orders
  '/api/v1/orders/CreateDeliveryNote/{id}':
    post:
      consumes: []
      operationId: OrderApi_CreateDeliveryNote
      parameters:
        - description: The internal billbee id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: 'If true, the PDF is included in the response as base64 encoded string'
          in: query
          name: includePdf
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Create an delivery note for an existing order
      tags:
        - Orders
        - DeliveryNote
  '/api/v1/orders/CreateInvoice/{id}':
    post:
      consumes: []
      operationId: OrderApi_CreateInvoice
      parameters:
        - description: The internal billbee id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: 'If true, the PDF is included in the response as base64 encoded string'
          in: query
          name: includeInvoicePdf
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Create an invoice for an existing order
      tags:
        - Orders
        - Invoice
  /api/v1/orders/PatchableFields:
    get:
      consumes: []
      operationId: OrderApi_GetPatchableFields
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: 'Returns a list of fields which can be updated with the {M:Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.PatchOrder(System.Int32,Newtonsoft.Json.Linq.JObject)} call'
      tags:
        - Orders
  '/api/v1/orders/find/{id}/{partner}':
    get:
      consumes: []
      operationId: OrderApi_Find
      parameters:
        - description: The order id from the external system
          in: path
          name: id
          required: true
          type: string
        - description: Optional the name of the shop/marketplace the order was imported from
          in: path
          name: partner
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Find a single order by its external id (order number)
      tags:
        - Orders
  '/api/v1/orders/findbyextref/{extRef}':
    get:
      consumes: []
      operationId: OrderApi_GetByExtRef
      parameters:
        - description: The internal billbee id of the order
          in: path
          name: extRef
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Get a single order by its internal billbee id
      tags:
        - Orders
  /api/v1/orders/invoices:
    get:
      consumes: []
      operationId: OrderApi_GetInvoiceList
      parameters:
        - description: Specifies the oldest invoice date to include
          format: date-time
          in: query
          name: minInvoiceDate
          required: false
          type: string
        - description: Specifies the newest invoice date to include
          format: date-time
          in: query
          name: maxInvoiceDate
          required: false
          type: string
        - description: Specifies the page to request
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: 'Specifies the pagesize. Defaults to 50, max value is 250'
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - collectionFormat: multi
          description: Specifies a list of shop ids for which invoices should be included
          in: query
          items:
            format: int32
            type: integer
          name: shopId
          required: false
          type: array
        - collectionFormat: multi
          description: Specifies a list of state ids to include in the response
          in: query
          items:
            format: int32
            type: integer
          name: orderStateId
          required: false
          type: array
        - collectionFormat: multi
          in: query
          items:
            type: string
          name: tag
          required: false
          type: array
        - format: date-time
          in: query
          name: minPayDate
          required: false
          type: string
        - format: date-time
          in: query
          name: maxPayDate
          required: false
          type: string
        - in: query
          name: includePositions
          required: false
          type: boolean
        - description: If true the list of tags passed to the call are used to filter orders to not include these tags
          in: query
          name: excludeTags
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Get a list of all invoices optionally filtered by date
      tags:
        - Orders
        - Invoice
  '/api/v1/orders/{id}':
    get:
      consumes: []
      operationId: OrderApi_Get
      parameters:
        - description: The internal billbee id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: 'The source field for the article title. 0 = Order Position (default), 1 = Article Title, 2 = Article Invoice Text'
          enum:
            - 0
            - 1
            - 2
            - 3
          format: int32
          in: query
          name: articleTitleSource
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Get a single order by its internal billbee id
      tags:
        - Orders
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      operationId: OrderApi_PatchOrder
      parameters:
        - description: The Billbee internal order id of the ORder
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: 'The fields which should be updated. {M:Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.GetPatchableFields}'
          in: body
          name: model
          required: true
          schema:
            type: object
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Updates one or more fields of an order
      tags:
        - Orders
  '/api/v1/orders/{id}/orderstate':
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: "### REMARKS ###\r\nUse this call to change the state of an order to i.e. paid or sent.\r\n\r\nThe state is transfered to the external shop/marketplace if configured.\r\nThis is the list of known states:\r\n- 1: ordered\r\n- 2: confirmed\r\n- 3: paid\r\n- 4: shipped\r\n- 5: reclamation\r\n- 6: deleted\r\n- 7: closed\r\n- 8: canceled\r\n- 9: archived\r\n- 10: not used\r\n- 11: demand note 1\r\n- 12: demand note 2\r\n- 13: packed\r\n- 14: offered\r\n- 15: payment reminder"
      operationId: OrderApi_UpdateState
      parameters:
        - description: The internal id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The data used to change the state
          in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Changes the main state of a single order
      tags:
        - Orders
  '/api/v1/orders/{id}/shipment':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_AddShipment
      parameters:
        - description: The internal billbee id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The shipment data to create the shipment
          in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Add a shipment to a given order
      tags:
        - Orders
  '/api/v1/orders/{id}/tags':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: 'When a tag is already attached, it is ignored. Tags are not case sensitive.'
      operationId: OrderApi_TagsCreate
      parameters:
        - description: Tags to attach
          in: body
          name: tagData
          required: true
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate'
        - description: The internal id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Attach one or more tags to an order
      tags:
        - Orders
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_TagsUpdate
      parameters:
        - description: Tags to attach
          in: body
          name: tagData
          required: true
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate'
        - description: The internal id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Updates/Sets the tags attached to an order
      tags:
        - Orders
  /api/v1/products:
    get:
      consumes: []
      operationId: Article_GetList
      parameters:
        - description: The current page to request starting with 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: The pagesize for the result list. Values between 1 and 250 are allowed
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - description: Optional the oldest create date of the articles to be returned
          format: date-time
          in: query
          name: minCreatedAt
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]'
      summary: Get a list of all products
      tags:
        - Products
  /api/v1/products/PatchableFields:
    get:
      consumes: []
      operationId: Article_GetPatchableFields
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Returns a list of fields which can be updated with the patch call
      tags:
        - Products
  /api/v1/products/custom-fields:
    get:
      consumes: []
      operationId: Article_GetCustomFields
      parameters:
        - format: int32
          in: query
          name: page
          required: false
          type: integer
        - format: int32
          in: query
          name: pageSize
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]]'
      summary: Queries a list of all custom fields
      tags:
        - Products
  '/api/v1/products/custom-fields/{id}':
    get:
      consumes: []
      operationId: Article_GetCustomField
      parameters:
        - description: The id of the custom field to query
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]'
      summary: Queries a single custom field
      tags:
        - Products
  /api/v1/products/images/delete:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_DeleteImages
      parameters:
        - description: ''
          in: body
          name: imageIds
          required: true
          schema:
            items:
              format: int32
              type: integer
            type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel]'
      summary: Delete multiple images by id
      tags:
        - Products
  '/api/v1/products/images/{imageId}':
    delete:
      consumes: []
      operationId: Article_DeleteImage
      parameters:
        - description: The image id
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Deletes a single image by id
      tags:
        - Products
    get:
      consumes: []
      operationId: Article_GetImage
      parameters:
        - description: The Id of the image
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel]'
      summary: Returns a single image by id
      tags:
        - Products
  /api/v1/products/reservedamount:
    get:
      consumes: []
      operationId: Article_GetReservedAmount
      parameters:
        - description: The id or the sku of the article to query
          in: query
          name: id
          required: true
          type: string
        - description: Either the value id or the value sku to specify the meaning of the id parameter
          in: query
          name: lookupBy
          required: false
          type: string
        - description: Optional the stock id if the multi stock feature is enabled
          format: int32
          in: query
          name: stockId
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData]'
      summary: Queriesthe reserved amount for a single article by id or by sku
      tags:
        - Products
  /api/v1/products/updatestock:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: The article is specified by sku. You have to send the absolute value for the current stock
      operationId: Article_UpdateStock
      parameters:
        - description: ''
          in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]'
      summary: Update the stock qty of an article
      tags:
        - Products
  /api/v1/products/updatestockcode:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_UpdateStockCode
      parameters:
        - description: ''
          in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData]'
      summary: Update the stock code of an article
      tags:
        - Products
  /api/v1/products/updatestockmultiple:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_UpdateStockMultiple
      parameters:
        - description: ''
          in: body
          name: models
          required: true
          schema:
            items:
              $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel'
            type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]'
            type: array
      summary: Update the stock qty for multiple articles at once
      tags:
        - Products
  '/api/v1/products/{id}':
    get:
      consumes: []
      operationId: Article_GetArticle
      parameters:
        - description: The id or the sku of the article to query
          in: path
          name: id
          required: true
          type: string
        - description: Either the value id or the value sku to specify the meaning of the id parameter
          in: query
          name: lookupBy
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]'
      summary: Queries a single article by id or by sku
      tags:
        - Products
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      operationId: Article_PatchArticle
      parameters:
        - description: The id of the Product
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The fields which should be updated.
          in: body
          name: model
          required: true
          schema:
            type: object
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Updates one or more fields of a product
      tags:
        - Products
  '/api/v1/products/{productId}/images':
    get:
      consumes: []
      operationId: Article_GetImages
      parameters:
        - description: The Id of the product
          format: int32
          in: path
          name: productId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel]]'
      summary: Returns a list of all images of the product
      tags:
        - Products
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_PutImages
      parameters:
        - description: The id of the product
          format: int32
          in: path
          name: productId
          required: true
          type: integer
        - description: An array of ArticleApiImageModel
          in: body
          name: models
          required: true
          schema:
            items:
              $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel'
            type: array
        - description: 'If you pass true, the images will be replaced by the passed images. Otherwise the passed images will be appended to the product.'
          in: query
          name: replace
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel]'
      summary: Add multiple images to a product or replace the product images by the given images
      tags:
        - Products
  '/api/v1/products/{productId}/images/{imageId}':
    delete:
      consumes: []
      operationId: Article_DeleteImageFromProduct
      parameters:
        - description: The product id
          format: int32
          in: path
          name: productId
          required: true
          type: integer
        - description: The image id
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Deletes a single image from a product
      tags:
        - Products
    get:
      consumes: []
      operationId: Article_GetImageFromProduct
      parameters:
        - description: The Id of the product
          format: int32
          in: path
          name: productId
          required: true
          type: integer
        - description: The Id of the image
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel]'
      summary: Returns a single image by id
      tags:
        - Products
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_PutImage
      parameters:
        - description: The product id
          format: int32
          in: path
          name: productId
          required: true
          type: integer
        - description: 'The image id. If you pass 0, the image will be added'
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
        - description: The ArticleApiImageModel
          in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel]'
      summary: Add or update an existing image of a product
      tags:
        - Products
  /api/v1/search:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Search_Search
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchModel'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchResultsModel]'
      summary: "Search for products, customers and orders.\r\nType can be \"order\", \"product\" and / or \"customer\"\r\nTerm can contains lucene query syntax"
      tags:
        - Products
        - Customers
        - Orders
  /api/v1/shipment/ping:
    get:
      consumes: []
      operationId: Shipment_GetPing
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      tags:
        - Shipments
  /api/v1/shipment/shipment:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Shipment_PostShipment
      parameters:
        - description: ''
          in: body
          name: model
          required: true
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Model.Api.ApiShipmentViewModel'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Creates a new shipment with the selected Shippingprovider
      tags:
        - Shipments
  /api/v1/shipment/shippingproviders:
    get:
      consumes: []
      operationId: Shipment_GetShippingproviders
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Query all defined shipping providers
      tags:
        - Shipments
  /api/v1/shipment/shipwithlabel:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Shipment_ShipWithLabel
      parameters:
        - description: 'Details on the order and the shipping methods, that should be used.'
          in: body
          name: shipmentInformation
          required: true
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult]'
      summary: Creates a shipment for an order in billbee
      tags:
        - Shipments
  /api/v1/webhooks:
    delete:
      consumes: []
      operationId: WebHookManagement_DeleteAll
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Deletes all existing WebHook registrations.
      tags:
        - Webhooks
    get:
      consumes: []
      operationId: WebHookManagement_Get
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
            type: array
      summary: Gets all registered WebHooks for a given user.
      tags:
        - Webhooks
    post:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      operationId: WebHookManagement_Post
      parameters:
        - description: 'The {Microsoft.AspNet.WebHooks.WebHook} to create.'
          in: body
          name: webHook
          required: true
          schema:
            $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
      summary: Registers a new WebHook for a given user.
      tags:
        - Webhooks
  /api/v1/webhooks/filters:
    get:
      consumes: []
      operationId: WebHookManagement_GetFilters
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Returns a list of all known filters you can use to register webhooks
      tags:
        - Webhooks
  '/api/v1/webhooks/{id}':
    delete:
      consumes: []
      operationId: WebHookManagement_Delete
      parameters:
        - description: The WebHook ID.
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Deletes an existing WebHook registration.
      tags:
        - Webhooks
    get:
      consumes: []
      operationId: WebHookManagement_Lookup
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
      summary: 'Looks up a registered WebHook with the given {id} for a given user.'
      tags:
        - Webhooks
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      operationId: WebHookManagement_Put
      parameters:
        - description: The WebHook ID.
          in: path
          name: id
          required: true
          type: string
        - description: 'The new {Microsoft.AspNet.WebHooks.WebHook} to use.'
          in: body
          name: webHook
          required: true
          schema:
            $ref: '#/definitions/Microsoft.AspNet.WebHooks.WebHook'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            type: object
      summary: Updates an existing WebHook registration.
      tags:
        - Webhooks
definitions:
  Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel:
    properties:
      Configuration:
        type: object
      Id:
        format: int32
        type: integer
      IsNullable:
        type: boolean
      Name:
        type: string
      Type:
        enum:
          - 0
          - 1
          - 2
          - 3
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldValueModel:
    properties:
      ArticleId:
        format: int32
        type: integer
      Definition:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel'
      DefinitionId:
        format: int32
        type: integer
      Id:
        format: int32
        type: integer
      Value:
        type: object
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel:
    properties:
      Id:
        format: int32
        type: integer
      IsDefault:
        type: boolean
      Position:
        format: int32
        type: integer
      Url:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel:
    properties:
      BasicAttributes:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.MultiLanguageString'
        type: array
      BillOfMaterial:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.BomSubArticleApiModel'
        type: array
      Category1:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel'
      Category2:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel'
      Category3:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel'
      Condition:
        format: int32
        type: integer
      CostPrice:
        format: double
        type: number
      CountryOfOrigin:
        type: string
      CustomFields:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldValueModel'
        type: array
      DeliveryTime:
        format: int32
        type: integer
      Description:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.MultiLanguageString'
        type: array
      EAN:
        type: string
      ExportDescription:
        type: string
      HeightCm:
        format: double
        type: number
      Id:
        format: int32
        type: integer
      Images:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel'
        type: array
      InvoiceText:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.MultiLanguageString'
        type: array
      IsCustomizable:
        type: boolean
      IsDigital:
        type: boolean
      LengthCm:
        format: double
        type: number
      LowStock:
        readOnly: true
        type: boolean
      Manufacturer:
        type: string
      Materials:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.MultiLanguageString'
        type: array
      Occasion:
        format: int32
        type: integer
      Price:
        format: double
        type: number
      Recipient:
        format: int32
        type: integer
      SKU:
        type: string
      ShippingProductId:
        format: int32
        type: integer
      ShortDescription:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.MultiLanguageString'
        type: array
      SoldAmount:
        format: double
        type: number
      SoldAmountLast30Days:
        format: double
        type: number
      SoldSumGross:
        format: double
        type: number
      SoldSumGrossLast30Days:
        format: double
        type: number
      SoldSumNet:
        format: double
        type: number
      SoldSumNetLast30Days:
        format: double
        type: number
      Sources:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleSourceApiModel'
        type: array
      StockCode:
        type: string
      StockCurrent:
        format: double
        type: number
      StockDesired:
        format: double
        type: number
      StockReduceItemsPerSale:
        format: double
        type: number
      StockWarning:
        format: double
        type: number
      Stocks:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.StockArticleApiModel'
        type: array
      Tags:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.MultiLanguageString'
        type: array
      TaricNumber:
        type: string
      Title:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.MultiLanguageString'
        type: array
      Type:
        format: int32
        type: integer
      Unit:
        format: int32
        type: integer
      UnitsPerItem:
        format: double
        type: number
      Vat1Rate:
        format: double
        type: number
      Vat2Rate:
        format: double
        type: number
      VatIndex:
        format: int32
        type: integer
      Weight:
        format: int32
        type: integer
      WeightNet:
        format: int32
        type: integer
      WidthCm:
        format: double
        type: number
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel:
    properties:
      Id:
        format: int32
        type: integer
      Name:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel:
    properties:
      Id:
        format: int32
        type: integer
      IsDefault:
        type: boolean
      Position:
        format: int32
        type: integer
      ThumbPathExt:
        type: string
      ThumbUrl:
        type: string
      Url:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleSourceApiModel:
    properties:
      ApiAccountId:
        format: int32
        type: integer
      ApiAccountName:
        type: string
      Custom:
        type: object
      ExportFactor:
        format: double
        type: number
      Id:
        format: int32
        type: integer
      Source:
        type: string
      SourceId:
        type: string
      StockSyncInactive:
        type: boolean
      StockSyncMax:
        format: double
        type: number
      StockSyncMin:
        format: double
        type: number
      UnitsPerItem:
        format: double
        type: number
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.BomSubArticleApiModel:
    properties:
      Amount:
        format: double
        type: number
      ArticleId:
        format: int32
        type: integer
      SKU:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel:
    properties:
      Address:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
      Email:
        type: string
      Id:
        format: int32
        type: integer
      LanguageId:
        format: int32
        type: integer
      Name:
        type: string
      Number:
        format: int32
        type: integer
      PriceGroupId:
        format: int32
        type: integer
      Tel1:
        type: string
      Tel2:
        type: string
      VatId:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel:
    properties:
      AddressAddition:
        type: string
      AddressType:
        format: int32
        type: integer
      City:
        type: string
      Company:
        type: string
      CountryCode:
        type: string
      CustomerId:
        format: int32
        type: integer
      Email:
        type: string
      Fax:
        type: string
      FirstName:
        type: string
      FullAddr:
        readOnly: true
        type: string
      Housenumber:
        type: string
      Id:
        format: int32
        type: integer
      LastName:
        type: string
      Name2:
        type: string
      State:
        type: string
      Street:
        type: string
      Tel1:
        type: string
      Tel2:
        type: string
      Zip:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel:
    properties:
      Email:
        type: string
      Id:
        format: int32
        type: integer
      LanguageId:
        format: int32
        type: integer
      Name:
        type: string
      Number:
        format: int32
        type: integer
      PriceGroupId:
        format: int32
        type: integer
      Tel1:
        type: string
      Tel2:
        type: string
      VatId:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel:
    properties:
      Deleted:
        items:
          format: int32
          type: integer
        type: array
      NotFound:
        items:
          format: int32
          type: integer
        type: array
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData:
    properties:
      ReservedAmount:
        format: double
        type: number
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.StockArticleApiModel:
    properties:
      Name:
        type: string
      StockCode:
        type: string
      StockCurrent:
        format: double
        type: number
      StockDesired:
        format: double
        type: number
      StockId:
        format: int32
        type: integer
      StockWarning:
        format: double
        type: number
      UnfulfilledAmount:
        format: double
        type: number
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel:
    properties:
      AutosubtractReservedAmount:
        type: boolean
      BillbeeId:
        format: int32
        type: integer
      DeltaQuantity:
        format: double
        type: number
      NewQuantity:
        format: double
        type: number
      OldQuantity:
        format: double
        type: number
      Reason:
        type: string
      Sku:
        type: string
      StockId:
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel:
    properties:
      BillbeeId:
        format: int32
        type: integer
      Sku:
        type: string
      StockCode:
        type: string
      StockId:
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData:
    properties: {}
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData:
    properties:
      CurrentStock:
        format: double
        type: number
      Message:
        type: string
      SKU:
        type: string
      UnfulfilledAmount:
        format: double
        type: number
    type: object
  Billbee.Interfaces.Order.Address:
    properties:
      City:
        type: string
      Comment:
        type: string
      Company:
        type: string
      Country:
        type: string
      CountryISO2:
        type: string
      Email:
        type: string
      FirstName:
        type: string
      HouseNumber:
        type: string
      Id:
        type: string
      LastName:
        type: string
      Line2:
        type: string
      Line3:
        type: string
      NameAddition:
        type: string
      Phone:
        type: string
      Salutation:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
        format: int32
        type: integer
      State:
        type: string
      Street:
        type: string
      Title:
        type: string
      Zip:
        type: string
    type: object
  Billbee.Interfaces.Order.ApiOrder:
    properties:
      AcceptLossOfReturnRight:
        type: boolean
      AdjustmentCost:
        format: double
        type: number
      AdjustmentReason:
        type: string
      BillBeeOrderId:
        format: int32
        type: integer
      BillBeeParentOrderId:
        format: int32
        type: integer
      Buyer:
        $ref: '#/definitions/Billbee.Interfaces.Order.ApiOrderUser'
      Comments:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.Comment'
        type: array
      ConfirmedAt:
        format: date-time
        type: string
      CreatedAt:
        format: date-time
        type: string
      Currency:
        type: string
      CustomInvoiceNote:
        type: string
      CustomerNumber:
        type: string
      DeliverySourceCountryCode:
        type: string
      Id:
        type: string
      InvoiceAddress:
        $ref: '#/definitions/Billbee.Interfaces.Order.Address'
      InvoiceDate:
        format: date-time
        type: string
      InvoiceNumber:
        format: int32
        type: integer
      InvoiceNumberPostfix:
        type: string
      InvoiceNumberPrefix:
        type: string
      IsCancelationFor:
        type: string
      IsCanceled:
        type: boolean
      LanguageCode:
        type: string
      OrderItems:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.ApiOrderItem'
        type: array
      OrderNumber:
        type: string
      PaidAmount:
        format: double
        type: number
      PayedAt:
        format: date-time
        type: string
      PaymentInstruction:
        type: string
      PaymentMethod:
        enum:
          - 1
          - 2
          - 3
          - 4
          - 6
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
          - 25
          - 26
          - 27
          - 28
          - 29
          - 30
          - 31
          - 32
          - 33
          - 34
          - 35
          - 36
          - 37
          - 38
          - 39
          - 40
          - 41
          - 42
          - 43
          - 44
          - 45
          - 46
          - 47
          - 48
          - 49
          - 50
          - 51
          - 52
          - 53
          - 54
          - 55
          - 56
          - 57
          - 58
          - 59
          - 60
          - 61
          - 62
          - 63
          - 64
          - 65
          - 66
          - 67
          - 68
          - 69
          - 70
          - 71
          - 72
          - 73
          - 74
          - 75
          - 76
          - 77
          - 78
          - 79
          - 80
          - 81
          - 82
          - 83
          - 84
          - 85
          - 86
          - 87
          - 88
          - 89
          - 90
          - 91
          - 92
          - 93
          - 94
          - 95
          - 96
          - 97
        format: int32
        type: integer
      PaymentReference:
        type: string
      PaymentTransactionId:
        type: string
      RebateDifference:
        format: double
        readOnly: true
        type: number
      RestfulPath:
        type: string
      Seller:
        $ref: '#/definitions/Billbee.Interfaces.Order.ApiOrderUser'
      SellerComment:
        type: string
      ShipWeightKg:
        format: double
        type: number
      ShippedAt:
        format: date-time
        type: string
      ShippingAddress:
        $ref: '#/definitions/Billbee.Interfaces.Order.Address'
      ShippingCost:
        format: double
        type: number
      ShippingIds:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.ApiShippingId'
        type: array
      ShippingProfileId:
        type: string
      ShippingProfileName:
        type: string
      ShippingServices:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Shipping.ProductService'
        type: array
      State:
        enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
        format: int32
        type: integer
      Tags:
        items:
          type: string
        type: array
      TaxRate1:
        format: double
        type: number
      TaxRate2:
        format: double
        type: number
      TotalCost:
        format: double
        type: number
      UpdatedAt:
        format: date-time
        type: string
      VatId:
        type: string
      VatMode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.Order.ApiOrderItem:
    properties:
      Attributes:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.ApiOrderItemAttribute'
        type: array
      BillbeeId:
        format: int32
        type: integer
      Discount:
        format: double
        type: number
      DontAdjustStock:
        type: boolean
      GetPriceFromArticleIfAny:
        type: boolean
      IsCoupon:
        type: boolean
      IsDiscount:
        type: boolean
      Product:
        $ref: '#/definitions/Billbee.Interfaces.Order.ApiSoldProduct'
      Quantity:
        format: double
        type: number
      ShippingProfileId:
        type: string
      TaxAmount:
        format: double
        type: number
      TaxIndex:
        format: int32
        type: integer
      TotalPrice:
        format: double
        type: number
      TransactionId:
        type: string
      UnrebatedTotalPrice:
        format: double
        type: number
    type: object
  Billbee.Interfaces.Order.ApiOrderItemAttribute:
    properties:
      Id:
        type: string
      Name:
        type: string
      Price:
        format: double
        type: number
      Value:
        type: string
    type: object
  Billbee.Interfaces.Order.ApiOrderUser:
    properties:
      BillbeeShopId:
        format: int32
        type: integer
      BillbeeShopName:
        type: string
      Email:
        type: string
      FirstName:
        type: string
      FullName:
        readOnly: true
        type: string
      Id:
        type: string
      LastName:
        type: string
      Nick:
        type: string
      Platform:
        type: string
    type: object
  Billbee.Interfaces.Order.ApiProductImage:
    properties:
      ExternalId:
        type: string
      IsDefaultImage:
        type: boolean
      Position:
        format: int32
        type: integer
      Url:
        type: string
    type: object
  Billbee.Interfaces.Order.ApiShippingId:
    properties:
      Created:
        format: date-time
        type: string
      Shipper:
        type: string
      ShippingId:
        type: string
    type: object
  Billbee.Interfaces.Order.ApiSoldProduct:
    properties:
      BillbeeId:
        format: int32
        type: integer
      CountryOfOrigin:
        type: string
      EAN:
        type: string
      Id:
        type: string
      Images:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.ApiProductImage'
        type: array
      IsDigital:
        type: boolean
      OldId:
        type: string
      PlatformData:
        type: string
      SKU:
        type: string
      SkuOrId:
        readOnly: true
        type: string
      TARICCode:
        type: string
      Title:
        type: string
      Weight:
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.Order.Comment:
    properties:
      Created:
        format: date-time
        type: string
      FromCustomer:
        type: boolean
      Id:
        format: int32
        type: integer
      Name:
        type: string
      Text:
        type: string
    type: object
  Billbee.Interfaces.Order.MultiLanguageString:
    properties:
      LanguageCode:
        type: string
      Text:
        type: string
    type: object
  Billbee.Interfaces.Shipping.ProductService:
    properties:
      DisplayName:
        readOnly: true
        type: string
      DisplayValue:
        readOnly: true
        type: string
      PossibleValueLists:
        items:
          $ref: '#/definitions/System.Collections.Generic.KeyValuePair[System.String,System.Collections.Generic.List[System.Collections.Generic.KeyValuePair[System.Int32,System.String]]]'
        readOnly: true
        type: array
      RequiresUserInput:
        readOnly: true
        type: boolean
      ServiceName:
        readOnly: true
        type: string
      typeName:
        readOnly: true
        type: string
    type: object
  Billbee.Interfaces.Shipping.ShipmentAddress:
    properties:
      AddressAddition:
        type: string
      City:
        type: string
      Company:
        type: string
      CountryCode:
        type: string
      CountryCodeISO3:
        type: string
      Email:
        type: string
      FirstName:
        type: string
      FullName:
        readOnly: true
        type: string
      FullStreet:
        readOnly: true
        type: string
      Housenumber:
        type: string
      IsExportCountry:
        type: boolean
      LastName:
        type: string
      Name2:
        type: string
      State:
        type: string
      Street:
        type: string
      Telephone:
        type: string
      Zip:
        type: string
    type: object
  Billbee.Interfaces.Shipping.ShipmentData.Dimensions:
    properties:
      height:
        format: double
        type: number
      length:
        format: double
        type: number
      width:
        format: double
        type: number
    type: object
  Microsoft.AspNet.WebHooks.WebHook:
    properties:
      Description:
        type: string
      Filters:
        items:
          type: string
        readOnly: true
        type: array
      Headers:
        additionalProperties:
          type: string
        readOnly: true
        type: object
      Id:
        type: string
      IsPaused:
        type: boolean
      Properties:
        additionalProperties:
          type: object
        readOnly: true
        type: object
      Secret:
        type: string
      WebHookUri:
        type: string
    required:
      - WebHookUri
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrderModel:
    description: Data of the shipment to be created
    properties:
      CarrierId:
        description: "Optional the id of a shipping carrier that should be assigend to the shipment\r\nWill override the carrier from the shipment product\r\n0: other,\r\n1: dhlExpress,\r\n2: dhl,\r\n3: hermes,\r\n4: dpd,\r\n5: ups,\r\n6: gls,\r\n7: dpag,\r\n8: OePost,\r\n9: fedex,\r\n10: generalOvernight,\r\n11: tnt,\r\n12: liefery,\r\n13: iloxx,\r\n14: parcel_one"
        format: int32
        type: integer
      Comment:
        description: Optional a text stored with the shipment
        type: string
      OrderId:
        description: Optional a differing order number of the shipment if available
        type: string
      ShippingId:
        description: The id of the shipment (Sendungsnummer/trackingid)
        type: string
      ShippingProviderId:
        description: Optional the id of a shipping provider existing in the billbee account that should be assigned to the shipment
        format: int32
        type: integer
      ShippingProviderProductId:
        description: Optional the id of a shipping provider product that should be assigend to the shipment
        format: int32
        type: integer
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]]':
    properties:
      Page:
        format: int32
        type: integer
      PageSize:
        format: int32
        type: integer
      TotalPages:
        format: int32
        type: integer
      TotalRows:
        format: int32
        type: integer
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]':
    properties:
      Page:
        format: int32
        type: integer
      PageSize:
        format: int32
        type: integer
      TotalPages:
        format: int32
        type: integer
      TotalRows:
        format: int32
        type: integer
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]':
    properties:
      Page:
        format: int32
        type: integer
      PageSize:
        format: int32
        type: integer
      TotalPages:
        format: int32
        type: integer
      TotalRows:
        format: int32
        type: integer
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]]':
    properties:
      Page:
        format: int32
        type: integer
      PageSize:
        format: int32
        type: integer
      TotalPages:
        format: int32
        type: integer
      TotalRows:
        format: int32
        type: integer
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.Order.ApiOrder]]':
    properties:
      Page:
        format: int32
        type: integer
      PageSize:
        format: int32
        type: integer
      TotalPages:
        format: int32
        type: integer
      TotalRows:
        format: int32
        type: integer
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]]':
    properties:
      Data:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel'
        type: array
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
      Paging:
        $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]]'
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]':
    properties:
      Data:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel'
        type: array
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
      Paging:
        $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]]'
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]':
    properties:
      Data:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel'
        type: array
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
      Paging:
        $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel]]'
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]]':
    properties:
      Data:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel'
        type: array
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
      Paging:
        $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]]'
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[System.Collections.Generic.List[Billbee.Interfaces.Order.ApiOrder]]':
    properties:
      Data:
        items:
          $ref: '#/definitions/Billbee.Interfaces.Order.ApiOrder'
        type: array
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
      Paging:
        $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult.PagingInformation[System.Collections.Generic.List[Billbee.Interfaces.Order.ApiOrder]]'
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]':
    properties:
      Data:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel]':
    properties:
      Data:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel]':
    properties:
      Data:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel]':
    properties:
      Data:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel]':
    properties:
      Data:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData]':
    properties:
      Data:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData]':
    properties:
      Data:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData]':
    properties:
      Data:
        $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchResultsModel]':
    properties:
      Data:
        $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchResultsModel'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult]':
    properties:
      Data:
        $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult'
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  'Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel]]':
    properties:
      Data:
        items:
          $ref: '#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiImageModel'
        type: array
      ErrorCode:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
          - 18
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
        format: int32
        type: integer
      ErrorMessage:
        type: string
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer:
    description: Data used to create a new Billbee user account
    properties:
      AcceptTerms:
        description: 'Set to true, if the user has accepted the Billbee terms &amp; conditions'
        type: boolean
      Address:
        $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer.UserAddress'
        description: Gets or sets the invoice address of the Billbee user
      AffiliateCouponCode:
        description: Specifies an billbee affiliate code to attach to the user
        type: string
      DefaultCurrrency:
        description: Optionally specify the default currency of the user
        type: string
      DefaultVatIndex:
        description: Optionally specify the default vat index of the user
        format: int32
        type: integer
      DefaultVatMode:
        description: Optionally specify the default vat mode of the user
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
        format: int32
        type: integer
      EMail:
        description: The Email address of the user to create
        type: string
      Newsletter:
        description: Gets or sets if the user is interested in the Billbee newsletter
        type: boolean
      Password:
        type: string
      Vat1Rate:
        description: Optionally specify the vat1 (normal) rate of the user
        format: double
        type: number
      Vat2Rate:
        description: Optionally specify the vat2 (reduced) rate of the user
        format: double
        type: number
    required:
      - EMail
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisioningController.CreateAccountContainer.UserAddress:
    description: Represents the invoice address of a Billbee user
    properties:
      Address1:
        type: string
      Address2:
        type: string
      City:
        type: string
      Company:
        type: string
      Country:
        description: The ISO2 country code of the users country
        type: string
      Name:
        type: string
      VatId:
        type: string
      Zip:
        type: string
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate:
    description: Specifies the parameters used to set the new state of an order
    properties:
      NewStateId:
        description: The new state to set
        enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
        format: int32
        type: integer
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate:
    properties:
      Tags:
        items:
          type: string
        type: array
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.SearchController.CustomerResult:
    properties:
      Addresses:
        type: string
      Id:
        format: int32
        type: integer
      Name:
        type: string
      Number:
        type: string
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.SearchController.OrderResult:
    properties:
      ArticleTexts:
        type: string
      BuyerName:
        type: string
      CustomerName:
        type: string
      ExternalReference:
        type: string
      Id:
        format: int32
        type: integer
      InvoiceNumber:
        type: string
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.SearchController.ProductResult:
    properties:
      Id:
        format: int32
        type: integer
      SKU:
        type: string
      ShortText:
        type: string
      Tags:
        type: string
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchModel:
    properties:
      Term:
        type: string
      Type:
        items:
          type: string
        type: array
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.SearchController.SearchResultsModel:
    properties:
      Customers:
        items:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.SearchController.CustomerResult'
        type: array
      Orders:
        items:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.SearchController.OrderResult'
        type: array
      Products:
        items:
          $ref: '#/definitions/Rechnungsdruck.WebApp.Controllers.Api.SearchController.ProductResult'
        type: array
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel:
    properties:
      ChangeStateToSend:
        description: Optional parameter to automatically change the orderstate to sent after creating the shipment
        type: boolean
      ClientReference:
        description: Optional specify a reference text to be included on the label. Works not with all carriers
        type: string
      Dimension:
        $ref: '#/definitions/Billbee.Interfaces.Shipping.ShipmentData.Dimensions'
        description: Option specify the dimensions of the package in cm
      OrderId:
        description: The Billbee internal id of the order to ship
        format: int32
        type: integer
      PrinterName:
        description: Optional the name of a connected cloudprinter to send the label to
        type: string
      ProductId:
        description: the id of the shipping provider product to be used
        format: int32
        type: integer
      ProviderId:
        description: The id of the provider. You can query all providers with the shippingproviders endpoint
        format: int32
        type: integer
      ShipDate:
        description: Optional specify the shipdate to be transmitted to the carrier
        format: date-time
        type: string
      WeightInGram:
        description: Optional the shipments weight in gram to override the calculated weight
        format: int32
        type: integer
    type: object
  Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabelResult:
    properties:
      Carrier:
        type: string
      ExportDocsPdf:
        format: byte
        type: string
      LabelDataPdf:
        format: byte
        type: string
      OrderId:
        format: int32
        type: integer
      OrderReference:
        type: string
      ShippingDate:
        format: date-time
        type: string
      ShippingId:
        type: string
      TrackingUrl:
        type: string
    type: object
  Rechnungsdruck.WebApp.Model.Api.ApiShipmentViewModel:
    properties:
      ClientReference:
        description: Optional specify a text to be included on the label. Not possible with all carriers
        type: string
      Content:
        description: Optional specify a text describing the content of the shipment. Used for export shipments
        type: string
      CustomerNumber:
        description: Not used anymore
        type: string
      OrderCurrencyCode:
        description: The Currency if the ordersum
        type: string
      OrderSum:
        description: The value of the shipments content
        format: double
        type: number
      PrinterName:
        description: The name of a connected Cloudprinter to sent the label to
        type: string
      ProductCode:
        description: The productcode to be used when creating the shipment. Values depends on the carrier used
        type: string
      ProviderName:
        description: The name of the provider as specified in the billbee account
        type: string
      ReceiverAddress:
        $ref: '#/definitions/Billbee.Interfaces.Shipping.ShipmentAddress'
        description: The address of the receiver
      Services:
        description: A list of services to be used when creating the shipment
        items:
          $ref: '#/definitions/Billbee.Interfaces.Shipping.ProductService'
        type: array
      ShipDate:
        description: Optional overwrite the shipdate to be transferred to the carrier
        format: date-time
        type: string
      WeightInGram:
        description: Optional specify the weight in gram of the shipment
        format: double
        type: number
      shippingCarrier:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
        format: int32
        type: integer
    type: object
  'System.Collections.Generic.KeyValuePair[System.Int32,System.String]':
    properties:
      key:
        format: int32
        type: integer
      value:
        type: string
    type: object
  'System.Collections.Generic.KeyValuePair[System.String,System.Collections.Generic.List[System.Collections.Generic.KeyValuePair[System.Int32,System.String]]]':
    properties:
      key:
        type: string
      value:
        items:
          $ref: '#/definitions/System.Collections.Generic.KeyValuePair[System.Int32,System.String]'
        type: array
    type: object
