swagger: "2.0"
schemes:
  - https
host: app.billbee.io
info:
  contact:
    email: support@billbee.io
    name: Billbee GmbH
    url: https://www.billbee.io
    x-twitter: billbeeio
  description: >+
    Documentation of the Billbee REST API to connect a Billbee account to
    external aplications.


    ## Endpoint


    The Billbee API endpoint base url is https://app.billbee.io/api/v1 


    ## Activation


    You have to enable the API in the settings of your Billbee account. In addition you need a Billbee API Key identifying the application you develop. To get an API key, send a mail to support@billbee.io and send us a short note about what you are building.


    ## Authorization & security


    Because you can access private data with the Billbee API, every request has to be sent over https and must


    * Contain a valid API Key identifying the application/developer. It has to be sent as the HTTP header X-Billbee-Api-Key

    * Contain a valid user login with billbee username and api password in form of a basic auth HTTP header


    ## Throttling


    Each endpoint has a throttle of max 2 requests per second per combination of API Key and Billbee user.


    When you exceed these 2 calls, the API will return a HTTP 429 status code

  title: Billbee API
  version: v1
  x-apisguru-categories:
    - ecommerce
  x-logo:
    url: https://twitter.com/billbeeio/profile_image?size=original
  x-origin:
    - format: swagger
      url: https://app.billbee.io/swagger/docs/v1
      version: "2.0"
  x-providerName: billbee.io
securityDefinitions:
  X-Billbee-Api-Key:
    description: To identify the app developer, each API request has do contain a
      valid API Key in the HTTP header X-Billbee-Api-Key.
    in: header
    name: X-Billbee-Api-Key
    type: apiKey
  basic:
    description: To authenticate an API request, the Billbee username/email and an
      API password have to be provided as a BasicAuth header.
    type: basic
paths:
  /api/v1/automaticprovision/createaccount:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: AutomaticProvisioning_CreateAccount
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.AutomaticProvisionin\
              gController.CreateAccountContainer"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Creates a new Billbee user account with the data passed
      tags:
        - Provisioning
  /api/v1/automaticprovision/termsinfo:
    get:
      consumes: []
      operationId: AutomaticProvisioning_TermsInfo
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Returns infos about Billbee terms and conditions
      tags:
        - Provisioning
  /api/v1/cloudstorages:
    get:
      consumes: []
      operationId: CloudStorageApi_GetList
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Col\
              lections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.CloudSt\
              orageApiModel]]"
      summary: Gets a list of all connected cloud storage devices
      tags:
        - CloudStorage
  /api/v1/customer-addresses:
    get:
      consumes: []
      operationId: CustomerAddresses_GetAll
      parameters:
        - description: The current page to request starting with 1 (default is 1)
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: The page size for the result list. Values between 1 and 250 are
            allowed. (default is 50)
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[Syste\
              m.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Cu\
              stomerAddressApiModel]]"
      summary: Get a list of all customer addresses
      tags:
        - CustomerAddresses
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: CustomerAddresses_Create
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiMode\
              l"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerAddressApiModel]"
      summary: Creates a new customer address
      tags:
        - CustomerAddresses
  "/api/v1/customer-addresses/{id}":
    get:
      consumes: []
      operationId: CustomerAddresses_GetOne
      parameters:
        - description: The id of the address to query
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerAddressApiModel]"
      summary: Queries a single customer address by id
      tags:
        - CustomerAddresses
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: CustomerAddresses_Update
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiMode\
              l"
        - description: The id of the address
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerAddressApiModel]"
      summary: Updates a customer address by id
      tags:
        - CustomerAddresses
  /api/v1/customers:
    get:
      consumes: []
      operationId: Customer_GetAll
      parameters:
        - description: The current page to request starting with 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: The pagesize for the result list. Values between 1 and 250 are
            allowed
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[Syste\
              m.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Cu\
              stomerApiModel]]"
      summary: Get a list of all customers
      tags:
        - Customers
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Customer_Create
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerApiModel]"
      summary: Creates a new customer
      tags:
        - Customers
  "/api/v1/customers/addresses/{id}":
    get:
      consumes: []
      operationId: Customer_GetCustomerAddress
      parameters:
        - description: The id of the address
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerAddressApiModel]"
      summary: Queries a single address from a customer
      tags:
        - Customers
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      description: Id and CustomerId cannot be changed
      operationId: Customer_PatchAddress
      parameters:
        - description: The id of the address
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The address fields to be changed. Please query an address via
            (todo) to see all fields. Note that Id and CustomerId cannot be
            changed.
          in: body
          name: model
          required: true
          schema:
            type: object
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerAddressApiModel]"
      summary: Updates one or more fields of an address
      tags:
        - Customers
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: Id and CustomerId cannot be changed. Fields you do not send will
        become empty.
      operationId: Customer_UpdateAddress
      parameters:
        - description: The updated address. Please query an address via (todo) to see all
            fields. Note that Id and CustomerId cannot be changed.
          in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiMode\
              l"
        - description: The id of the address
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerAddressApiModel]"
      summary: Updates all fields of an address
      tags:
        - Customers
  "/api/v1/customers/{id}":
    get:
      consumes: []
      operationId: Customer_GetOne
      parameters:
        - description: The id of the customer to query
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerApiModel]"
      summary: Queries a single customer by id
      tags:
        - Customers
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Customer_Update
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
        - description: The id of the customer
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerApiModel]"
      summary: Updates a customer by id
      tags:
        - Customers
  "/api/v1/customers/{id}/addresses":
    get:
      consumes: []
      operationId: Customer_GetCustomerAddresses
      parameters:
        - description: The id of the customer
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The current page to request starting with 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: The pagesize for the result list. Values between 1 and 250 are
            allowed
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[Syste\
              m.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Cu\
              stomerAddressApiModel]]"
      summary: Queries a list of addresses from a customer
      tags:
        - Customers
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: Id and  CustomerId will be ignored in model. If Id is set, the
        addition will be stopped.
      operationId: Customer_AddCustomerAddress
      parameters:
        - description: CustomerId to attach the new address to.
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: Model containing the address, that should be attached.
          in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiMode\
              l"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.CustomerAddressApiModel]"
      summary: Adds a new address to a customer
      tags:
        - Customers
  "/api/v1/customers/{id}/orders":
    get:
      consumes: []
      operationId: Customer_GetCustomerOrders
      parameters:
        - description: The id of the customer
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The current page to request starting with 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: The pagesize for the result list. Values between 1 and 250 are
            allowed
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[Syste\
              m.Collections.Generic.List[Rechnungsdruck.WebApp.Controllers.Api.\
              Order]]"
      summary: Queries a list of orders from a customer
      tags:
        - Customers
  /api/v1/enums/orderstates:
    get:
      consumes: []
      operationId: EnumApi_GetOrderStates
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Returns a list with all defined orderstates
      tags:
        - EnumApi
  /api/v1/enums/paymenttypes:
    get:
      consumes: []
      operationId: EnumApi_GetPaymentTypes
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Returns a list with all defined paymenttypes
      tags:
        - EnumApi
  /api/v1/enums/shippingcarriers:
    get:
      consumes: []
      operationId: EnumApi_GetShippingCarriers
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Returns a list with all defined shippingcarriers
      tags:
        - EnumApi
  /api/v1/events:
    get:
      consumes: []
      operationId: EventApi_GetList
      parameters:
        - description: Specifies the oldest date to include in the response
          format: date-time
          in: query
          name: minDate
          required: false
          type: string
        - description: Specifies the newest date to include in the response
          format: date-time
          in: query
          name: maxDate
          required: false
          type: string
        - description: Specifies the page to request
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Specifies the pagesize. Defaults to 50, max value is 250
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - collectionFormat: multi
          description: Filter for specific event types
          in: query
          items:
            format: int32
            type: integer
          name: typeId
          required: false
          type: array
        - description: Filter for specific order id
          format: int32
          in: query
          name: orderId
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Get a list of all events optionally filtered by date. This request is
        extra throttled to 2 calls per page per hour.
      tags:
        - Events
  /api/v1/layouts:
    get:
      consumes: []
      operationId: LayoutApi_GetList
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Col\
              lections.Generic.List[Billbee.Interfaces.BillbeeAPI.Models.Layout\
              Template]]"
      tags:
        - Orders
  /api/v1/orders:
    get:
      consumes: []
      operationId: OrderApi_GetList
      parameters:
        - description: Specifies the oldest order date to include in the response
          format: date-time
          in: query
          name: minOrderDate
          required: false
          type: string
        - description: Specifies the newest order date to include in the response
          format: date-time
          in: query
          name: maxOrderDate
          required: false
          type: string
        - description: Specifies the page to request
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Specifies the pagesize. Defaults to 50, max value is 250
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - collectionFormat: multi
          description: Specifies a list of shop ids for which invoices should be included
          in: query
          items:
            format: int32
            type: integer
          name: shopId
          required: false
          type: array
        - collectionFormat: multi
          description: Specifies a list of state ids to include in the response
          in: query
          items:
            format: int32
            type: integer
          name: orderStateId
          required: false
          type: array
        - collectionFormat: multi
          description: Specifies a list of tags the order must have attached to be
            included in the response
          in: query
          items:
            type: string
          name: tag
          required: false
          type: array
        - description: If given, all delivered orders have an Id greater than or equal to
            the given minimumOrderId
          format: int32
          in: query
          name: minimumBillBeeOrderId
          required: false
          type: integer
        - description: If given, the last modification has to be newer than the given date
          format: date-time
          in: query
          name: modifiedAtMin
          required: false
          type: string
        - description: If given, the last modification has to be older or equal than the
            given date.
          format: date-time
          in: query
          name: modifiedAtMax
          required: false
          type: string
        - description: The source field for the article title. 0 = Order Position
            (default), 1 = Article Title, 2 = Article Invoice Text
          enum:
            - 0
            - 1
            - 2
            - 3
          format: int32
          in: query
          name: articleTitleSource
          required: false
          type: integer
        - description: If true the list of tags passed to the call are used to filter
            orders to not include these tags
          in: query
          name: excludeTags
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[Syste\
              m.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Or\
              der]]"
      summary: Get a list of all orders optionally filtered by date
      tags:
        - Orders
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: "To create an order POST an JSON object to the orders endpoint with
        the shown properties.\r

        Not all properties are required."
      operationId: OrderApi_PostNewOrder
      parameters:
        - description: ""
          in: body
          name: orderData
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.Order"
        - description: ""
          format: int32
          in: query
          name: shopId
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "201":
          description: The order was created successfully
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.Order]"
        "400":
          description: Invalid data was received in the request
        "500":
          description: An internal exception occured. Order was not created
      summary: Creates a new order in the Billbee account
      tags:
        - Orders
  "/api/v1/orders/CreateDeliveryNote/{id}":
    post:
      consumes: []
      operationId: OrderApi_CreateDeliveryNote
      parameters:
        - description: The internal billbee id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: If true, the PDF is included in the response as base64 encoded string
          in: query
          name: includePdf
          required: false
          type: boolean
        - description: Optionally specify the id of a billbee connected cloud device to
            send the pdf to
          format: int32
          in: query
          name: sendToCloudId
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Create an delivery note for an existing order. This request is extra
        throttled by order and api key to a maximum of 1 per 5 minutes.
      tags:
        - Orders
        - DeliveryNote
  "/api/v1/orders/CreateInvoice/{id}":
    post:
      consumes: []
      operationId: OrderApi_CreateInvoice
      parameters:
        - description: The internal billbee id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: If true, the PDF is included in the response as base64 encoded string
          in: query
          name: includeInvoicePdf
          required: false
          type: boolean
        - description: You can pass the id of an invoice template to overwrite the
            assigned template for invoice creation
          format: int32
          in: query
          name: templateId
          required: false
          type: integer
        - description: You can pass the id of a connected cloud printer/storage to send
            the invoice to it
          format: int32
          in: query
          name: sendToCloudId
          required: false
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Create an invoice for an existing order. This request is extra
        throttled by order and api key to a maximum of 1 per 5 minutes.
      tags:
        - Orders
        - Invoice
  /api/v1/orders/PatchableFields:
    get:
      consumes: []
      operationId: OrderApi_GetPatchableFields
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Returns a list of fields which can be updated with the orders/{id}
        patch call
      tags:
        - Orders
  "/api/v1/orders/find/{id}/{partner}":
    get:
      consumes: []
      deprecated: true
      operationId: OrderApi_Find
      parameters:
        - description: The order id from the external system
          in: path
          name: id
          required: true
          type: string
        - description: Optional the name of the shop/marketplace the order was imported from
          in: path
          name: partner
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Find a single order by its external id (order number)
      tags:
        - Orders
  "/api/v1/orders/findbyextref/{extRef}":
    get:
      consumes: []
      operationId: OrderApi_GetByExtRef
      parameters:
        - description: The extern order number of the order
          in: path
          name: extRef
          required: true
          type: string
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.Order]"
      summary: Get a single order by its external order number
      tags:
        - Orders
  /api/v1/orders/invoices:
    get:
      consumes: []
      operationId: OrderApi_GetInvoiceList
      parameters:
        - description: Specifies the oldest invoice date to include
          format: date-time
          in: query
          name: minInvoiceDate
          required: false
          type: string
        - description: Specifies the newest invoice date to include
          format: date-time
          in: query
          name: maxInvoiceDate
          required: false
          type: string
        - description: Specifies the page to request
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Specifies the pagesize. Defaults to 50, max value is 250
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - collectionFormat: multi
          description: Specifies a list of shop ids for which invoices should be included
          in: query
          items:
            format: int32
            type: integer
          name: shopId
          required: false
          type: array
        - collectionFormat: multi
          description: Specifies a list of state ids to include in the response
          in: query
          items:
            format: int32
            type: integer
          name: orderStateId
          required: false
          type: array
        - collectionFormat: multi
          in: query
          items:
            type: string
          name: tag
          required: false
          type: array
        - format: date-time
          in: query
          name: minPayDate
          required: false
          type: string
        - format: date-time
          in: query
          name: maxPayDate
          required: false
          type: string
        - in: query
          name: includePositions
          required: false
          type: boolean
        - description: If true the list of tags passed to the call are used to filter
            orders to not include these tags
          in: query
          name: excludeTags
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Get a list of all invoices optionally filtered by date. This request
        ist throttled to 1 per 1 minute for same page and minInvoiceDate
      tags:
        - Orders
        - Invoice
  "/api/v1/orders/{id}":
    get:
      consumes: []
      operationId: OrderApi_Get
      parameters:
        - description: The internal billbee id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The source field for the article title. 0 = Order Position
            (default), 1 = Article Title, 2 = Article Invoice Text
          enum:
            - 0
            - 1
            - 2
            - 3
          format: int32
          in: query
          name: articleTitleSource
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.Order]"
      summary: Get a single order by its internal billbee id. This request is
        throttled to 6 calls per order in one minute
      tags:
        - Orders
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      operationId: OrderApi_PatchOrder
      parameters:
        - description: The Billbee internal order id of the Order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The fields which should be updated. To see order paramaters, use
            /orders get call
          in: body
          name: model
          required: true
          schema:
            type: object
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.Order]"
      summary: Updates one or more fields of an order
      tags:
        - Orders
  "/api/v1/orders/{id}/orderstate":
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: "### REMARKS ###\r

        Use this call to change the state of an order to i.e. paid or
        sent.\r

        \r

        The state is transfered to the external shop/marketplace if
        configured.\r

        This is the list of known states:\r

        - 1: ordered\r

        - 2: confirmed\r

        - 3: paid\r

        - 4: shipped\r

        - 5: reclamation\r

        - 6: deleted\r

        - 7: closed\r

        - 8: canceled\r

        - 9: archived\r

        - 10: not used\r

        - 11: demand note 1\r

        - 12: demand note 2\r

        - 13: packed\r

        - 14: offered\r

        - 15: payment reminder\r

        - 16: fulfilling"
      operationId: OrderApi_UpdateState
      parameters:
        - description: The internal id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The data used to change the state
          in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderStateUpdate"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Changes the main state of a single order
      tags:
        - Orders
  "/api/v1/orders/{id}/parse-placeholders":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_ParsePlaceholders
      parameters:
        - description: The id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - in: body
          name: container
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.P\
              arseTextContainer"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Parses a text and replaces all placeholders
      tags:
        - Orders
  "/api/v1/orders/{id}/send-message":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_SendMessage
      parameters:
        - description: The id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The message model
          in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.S\
              endMessageModel"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Sends a message to the buyer
      tags:
        - Orders
  "/api/v1/orders/{id}/shipment":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_AddShipment
      parameters:
        - description: The internal billbee id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The shipment data to create the shipment
          in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiAddShipmentToOrde\
              rModel"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Add a shipment to a given order
      tags:
        - Orders
  "/api/v1/orders/{id}/tags":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: When a tag is already attached, it is ignored. Tags are not case
        sensitive.
      operationId: OrderApi_TagsCreate
      parameters:
        - description: Tags to attach
          in: body
          name: tagData
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
        - description: The internal id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Attach one or more tags to an order
      tags:
        - Orders
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_TagsUpdate
      parameters:
        - description: Tags to attach
          in: body
          name: tagData
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderTagCreate"
        - description: The internal id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Updates/Sets the tags attached to an order
      tags:
        - Orders
  "/api/v1/orders/{id}/trigger-event":
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: OrderApi_TriggerEvent
      parameters:
        - description: The id of the order
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.OrderApiController.T\
              riggerEventContainer"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Triggers a rule event
      tags:
        - Orders
  /api/v1/products:
    get:
      consumes: []
      operationId: Article_GetList
      parameters:
        - description: The current page to request starting with 1
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: The pagesize for the result list. Values between 1 and 250 are
            allowed
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - description: Optional the oldest create date of the articles to be returned
          format: date-time
          in: query
          name: minCreatedAt
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[Syste\
              m.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Ar\
              ticleApiModel]]"
      summary: Get a list of all products
      tags:
        - Products
    post:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      operationId: Article_CreateArticle
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Creates a new product
      tags:
        - Products
  /api/v1/products/PatchableFields:
    get:
      consumes: []
      operationId: Article_GetPatchableFields
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Returns a list of fields which can be updated with the patch call
      tags:
        - Products
  /api/v1/products/category:
    get:
      consumes: []
      operationId: Article_GetCategory
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: GEts a list of all defined categories
      tags:
        - Products
  /api/v1/products/custom-fields:
    get:
      consumes: []
      operationId: Article_GetCustomFields
      parameters:
        - format: int32
          in: query
          name: page
          required: false
          type: integer
        - format: int32
          in: query
          name: pageSize
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[Syste\
              m.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Ar\
              ticleApiCustomFieldDefinitionModel]]"
      summary: Queries a list of all custom fields
      tags:
        - Products
  "/api/v1/products/custom-fields/{id}":
    get:
      consumes: []
      operationId: Article_GetCustomField
      parameters:
        - description: The id of the custom field to query
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel]"
      summary: Queries a single custom field
      tags:
        - Products
  /api/v1/products/images/delete:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_DeleteImages
      parameters:
        - description: ""
          in: body
          name: imageIds
          required: true
          schema:
            items:
              format: int32
              type: integer
            type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.DeletedImagesModel]"
      summary: Delete multiple images by id
      tags:
        - Products
  "/api/v1/products/images/{imageId}":
    delete:
      consumes: []
      operationId: Article_DeleteImage
      parameters:
        - description: The image id
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Deletes a single image by id
      tags:
        - Products
    get:
      consumes: []
      operationId: Article_GetImage
      parameters:
        - description: The Id of the image
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"
      summary: Returns a single image by id
      tags:
        - Products
  /api/v1/products/reservedamount:
    get:
      consumes: []
      operationId: Article_GetReservedAmount
      parameters:
        - description: The id or the sku of the article to query
          in: query
          name: id
          required: true
          type: string
        - description: Either the value id or the value sku to specify the meaning of the
            id parameter
          in: query
          name: lookupBy
          required: false
          type: string
        - description: Optional the stock id if the multi stock feature is enabled
          format: int32
          in: query
          name: stockId
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.GetReservedAmountResponseData]"
      summary: Queries the reserved amount for a single article by id or by sku
      tags:
        - Products
  /api/v1/products/updatestock:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: The article is specified by sku. You have to send the absolute
        value for the current stock
      operationId: Article_UpdateStock
      parameters:
        - description: ""
          in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.UpdateStockResponseData]"
      summary: Update the stock qty of an article
      tags:
        - Products
  /api/v1/products/updatestockcode:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_UpdateStockCode
      parameters:
        - description: ""
          in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiMode\
              l"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.UpdateStockCodeResponseData]"
      summary: Update the stock code of an article
      tags:
        - Products
  /api/v1/products/updatestockmultiple:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_UpdateStockMultiple
      parameters:
        - description: ""
          in: body
          name: models
          required: true
          schema:
            items:
              $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel"
            type: array
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
                terfaces.BillbeeAPI.Model.UpdateStockResponseData]"
            type: array
      summary: Update the stock qty for multiple articles at once
      tags:
        - Products
  "/api/v1/products/{id}":
    delete:
      consumes: []
      operationId: Article_DeleteArticle
      parameters:
        - description: The id of the Product
          format: int32
          in: path
          name: id
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Deletes a product
      tags:
        - Products
    get:
      consumes: []
      operationId: Article_GetArticle
      parameters:
        - description: The id or the sku of the article to query
          in: path
          name: id
          required: true
          type: string
        - description: Either the value id, ean or the value sku to specify the meaning of
            the id parameter
          in: query
          name: lookupBy
          required: false
          type: string
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.ArticleApiModel]"
      summary: Queries a single article by id or by sku
      tags:
        - Products
    patch:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      operationId: Article_PatchArticle
      parameters:
        - description: The id of the Product
          format: int32
          in: path
          name: id
          required: true
          type: integer
        - description: The fields which should be updated.
          in: body
          name: model
          required: true
          schema:
            type: object
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Updates one or more fields of a product
      tags:
        - Products
  "/api/v1/products/{productId}/images":
    get:
      consumes: []
      operationId: Article_GetImages
      parameters:
        - description: The Id of the product
          format: int32
          in: path
          name: productId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[System.Col\
              lections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Article\
              ImageRelationApiModel]]"
      summary: Returns a list of all images of the product
      tags:
        - Products
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_PutImages
      parameters:
        - description: The id of the product
          format: int32
          in: path
          name: productId
          required: true
          type: integer
        - description: An array of ArticleApiImageModel
          in: body
          name: models
          required: true
          schema:
            items:
              $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationAp\
                iModel"
            type: array
        - description: If you pass true, the images will be replaced by the passed images.
            Otherwise the passed images will be appended to the product.
          in: query
          name: replace
          required: false
          type: boolean
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"
      summary: Add multiple images to a product or replace the product images by the
        given images
      tags:
        - Products
  "/api/v1/products/{productId}/images/{imageId}":
    delete:
      consumes: []
      operationId: Article_DeleteImageFromProduct
      parameters:
        - description: The product id
          format: int32
          in: path
          name: productId
          required: true
          type: integer
        - description: The image id
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Deletes a single image from a product
      tags:
        - Products
    get:
      consumes: []
      operationId: Article_GetImageFromProduct
      parameters:
        - description: The Id of the product
          format: int32
          in: path
          name: productId
          required: true
          type: integer
        - description: The Id of the image
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"
      summary: Returns a single image by id
      tags:
        - Products
    put:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Article_PutImage
      parameters:
        - description: The product id
          format: int32
          in: path
          name: productId
          required: true
          type: integer
        - description: The image id. If you pass 0, the image will be added
          format: int32
          in: path
          name: imageId
          required: true
          type: integer
        - description: The ArticleApiImageModel
          in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationAp\
              iModel"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Billbee.In\
              terfaces.BillbeeAPI.Model.ArticleImageRelationApiModel]"
      summary: Add or update an existing image of a product
      tags:
        - Products
  /api/v1/search:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Search_Search
      parameters:
        - in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.SearchController.Sea\
              rchModel"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsd\
              ruck.WebApp.Controllers.Api.SearchController.SearchResultsModel]"
      summary: "Search for products, customers and orders.\r

        Type can be \"order\", \"product\" and / or \"customer\"\r

        Term can contains lucene query syntax"
      tags:
        - Products
        - Customers
        - Orders
  /api/v1/shipment/ping:
    get:
      consumes: []
      operationId: Shipment_GetPing
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      tags:
        - Shipments
  /api/v1/shipment/shipment:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Shipment_PostShipment
      parameters:
        - description: Data to specify shipment parameters
          in: body
          name: model
          required: true
          schema:
            $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CreateShipmentApiModel"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Creates a new shipment with the selected Shippingprovider
      tags:
        - Shipments
  /api/v1/shipment/shipments:
    get:
      consumes: []
      operationId: Shipment_GetList
      parameters:
        - description: Specifies the page to request.
          format: int32
          in: query
          name: page
          required: false
          type: integer
        - description: Specifies the pagesize. Defaults to 50, max value is 250
          format: int32
          in: query
          name: pageSize
          required: false
          type: integer
        - description: Specifies the oldest shipment date to include in the response
          format: date-time
          in: query
          name: createdAtMin
          required: false
          type: string
        - description: Specifies the newest shipment date to include in the response
          format: date-time
          in: query
          name: createdAtMax
          required: false
          type: string
        - description: Get shipments for this order only.
          format: int32
          in: query
          name: orderId
          required: false
          type: integer
        - description: Get Shipments with a shipment greater or equal than this id. New
            shipments have a greater id than older shipments.
          format: int32
          in: query
          name: minimumShipmentId
          required: false
          type: integer
        - description: Get Shippings for the specified shipping provider only. <seealso
            cref="M:Rechnungsdruck.WebApp.Controllers.Api.ShipmentController.GetShippingproviders"
            />
          format: int32
          in: query
          name: shippingProviderId
          required: false
          type: integer
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiPagedResult[Syste\
              m.Collections.Generic.List[Billbee.Interfaces.BillbeeAPI.Model.Sh\
              ipment]]"
      summary: Get a list of all shipments optionally filtered by date. All parameters
        are optional.
      tags:
        - Shipments
  /api/v1/shipment/shippingcarriers:
    get:
      consumes: []
      operationId: Shipment_GetShippingCarrier
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Queries the currently available shipping carriers.
      tags:
        - Shipments
  /api/v1/shipment/shippingproviders:
    get:
      consumes: []
      operationId: Shipment_GetShippingproviders
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Query all defined shipping providers
      tags:
        - Shipments
  /api/v1/shipment/shipwithlabel:
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: Shipment_ShipWithLabel
      parameters:
        - description: Details on the order and the shipping methods, that should be used.
          in: body
          name: shipmentInformation
          required: true
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ShipmentWithLabel"
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Rechnungsdruck.WebApp.Controllers.Api.ApiResult[Rechnungsd\
              ruck.WebApp.Controllers.Api.ShipmentWithLabelResult]"
      summary: Creates a shipment for an order in billbee
      tags:
        - Shipments
  /api/v1/webhooks:
    delete:
      consumes: []
      operationId: WebHookManagement_DeleteAll
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Deletes all existing WebHook registrations.
      tags:
        - Webhooks
    get:
      consumes: []
      operationId: WebHookManagement_Get
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            items:
              $ref: "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
            type: array
      summary: Gets all registered WebHooks for a given user.
      tags:
        - Webhooks
    post:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      operationId: WebHookManagement_Post
      parameters:
        - description: The webhook to create. Attach ?noecho to the uri to prevent echo
            test.
          in: body
          name: webHook
          required: true
          schema:
            $ref: "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
      summary: Registers a new WebHook for a given user.
      tags:
        - Webhooks
  /api/v1/webhooks/filters:
    get:
      consumes: []
      operationId: WebHookManagement_GetFilters
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Returns a list of all known filters you can use to register webhooks
      tags:
        - Webhooks
  "/api/v1/webhooks/{id}":
    delete:
      consumes: []
      operationId: WebHookManagement_Delete
      parameters:
        - description: The WebHook ID.
          in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Deletes an existing WebHook registration.
      tags:
        - Webhooks
    get:
      consumes: []
      operationId: WebHookManagement_Lookup
      parameters:
        - in: path
          name: id
          required: true
          type: string
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            $ref: "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
      summary: Looks up a registered WebHook with the given {id} for a given user.
      tags:
        - Webhooks
    put:
      consumes:
        - application/json
        - text/json
        - application/x-www-form-urlencoded
      operationId: WebHookManagement_Put
      parameters:
        - description: The WebHook ID.
          in: path
          name: id
          required: true
          type: string
        - description: The new webhook to use.
          in: body
          name: webHook
          required: true
          schema:
            $ref: "#/definitions/Microsoft.AspNet.WebHooks.WebHook"
      produces:
        - application/json
        - text/json
      responses:
        "200":
          description: OK
          schema:
            type: object
      summary: Updates an existing WebHook registration.
      tags:
        - Webhooks
definitions:
  Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldDefinitionModel:
    properties:
      Configuration:
        type: object
      Id:
        format: int32
        type: integer
      IsNullable:
        type: boolean
      Name:
        type: string
      Type:
        enum:
          - 0
          - 1
          - 2
          - 3
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldValueModel:
    properties:
      ArticleId:
        format: int32
        type: integer
      Definition:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldD\
          efinitionModel"
      DefinitionId:
        format: int32
        type: integer
      Id:
        format: int32
        type: integer
      Value:
        type: object
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleApiModel:
    properties:
      BasicAttributes:
        items:
          $ref: "#/definitions/Billbee.Interfaces.Order.MultiLanguageString"
        type: array
      BillOfMaterial:
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.BomSubArticleApiModel"
        type: array
      Category1:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiMode\
          l"
      Category2:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiMode\
          l"
      Category3:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiMode\
          l"
      Condition:
        format: int32
        type: integer
      CostPrice:
        format: double
        type: number
      CountryOfOrigin:
        type: string
      CustomFields:
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleApiCustomFieldV\
            alueModel"
        type: array
      DeliveryTime:
        format: int32
        type: integer
      Description:
        items:
          $ref: "#/definitions/Billbee.Interfaces.Order.MultiLanguageString"
        type: array
      EAN:
        type: string
      ExportDescription:
        type: string
      HeightCm:
        format: double
        type: number
      Id:
        format: int32
        type: integer
      Images:
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationAp\
            iModel"
        type: array
      InvoiceText:
        items:
          $ref: "#/definitions/Billbee.Interfaces.Order.MultiLanguageString"
        type: array
      IsCustomizable:
        type: boolean
      IsDigital:
        type: boolean
      LengthCm:
        format: double
        type: number
      LowStock:
        readOnly: true
        type: boolean
      Manufacturer:
        type: string
      Materials:
        items:
          $ref: "#/definitions/Billbee.Interfaces.Order.MultiLanguageString"
        type: array
      Occasion:
        format: int32
        type: integer
      Price:
        format: double
        type: number
      Recipient:
        format: int32
        type: integer
      SKU:
        type: string
      ShippingProductId:
        format: int32
        type: integer
      ShortDescription:
        items:
          $ref: "#/definitions/Billbee.Interfaces.Order.MultiLanguageString"
        type: array
      SoldAmount:
        format: double
        type: number
      SoldAmountLast30Days:
        format: double
        type: number
      SoldSumGross:
        format: double
        type: number
      SoldSumGrossLast30Days:
        format: double
        type: number
      SoldSumNet:
        format: double
        type: number
      SoldSumNetLast30Days:
        format: double
        type: number
      Sources:
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ArticleSourceApiModel"
        type: array
      StockCode:
        type: string
      StockCurrent:
        format: double
        type: number
      StockDesired:
        format: double
        type: number
      StockReduceItemsPerSale:
        format: double
        type: number
      StockWarning:
        format: double
        type: number
      Stocks:
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.StockArticleApiModel"
        type: array
      Tags:
        items:
          $ref: "#/definitions/Billbee.Interfaces.Order.MultiLanguageString"
        type: array
      TaricNumber:
        type: string
      Title:
        items:
          $ref: "#/definitions/Billbee.Interfaces.Order.MultiLanguageString"
        type: array
      Type:
        format: int32
        type: integer
      Unit:
        format: int32
        type: integer
      UnitsPerItem:
        format: double
        type: number
      Vat1Rate:
        format: double
        type: number
      Vat2Rate:
        format: double
        type: number
      VatIndex:
        format: int32
        type: integer
      Weight:
        format: int32
        type: integer
      WeightNet:
        format: int32
        type: integer
      WidthCm:
        format: double
        type: number
    required:
      - VatIndex
      - Price
      - Vat1Rate
      - Vat2Rate
      - Type
      - IsDigital
      - IsCustomizable
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleCategoryApiModel:
    properties:
      Id:
        format: int32
        type: integer
      Name:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleImageRelationApiModel:
    properties:
      ArticleId:
        format: int32
        type: integer
      Id:
        format: int32
        type: integer
      IsDefault:
        type: boolean
      Position:
        format: int32
        type: integer
      ThumbPathExt:
        type: string
      ThumbUrl:
        type: string
      Url:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ArticleSourceApiModel:
    properties:
      ApiAccountId:
        format: int32
        type: integer
      ApiAccountName:
        type: string
      Custom:
        type: object
      ExportFactor:
        format: double
        type: number
      Id:
        format: int32
        type: integer
      Source:
        type: string
      SourceId:
        type: string
      StockSyncInactive:
        type: boolean
      StockSyncMax:
        format: double
        type: number
      StockSyncMin:
        format: double
        type: number
      UnitsPerItem:
        format: double
        type: number
    required:
      - Source
      - SourceId
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.BomSubArticleApiModel:
    properties:
      Amount:
        format: double
        type: number
      ArticleId:
        format: int32
        type: integer
      SKU:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.CloudStorageApiModel:
    properties:
      Id:
        format: int32
        type: integer
      Name:
        type: string
      Type:
        type: string
      UsedAsPrinter:
        type: boolean
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.CreateCustomerApiModel:
    properties:
      Address:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiMode\
          l"
      Email:
        type: string
      Id:
        format: int32
        type: integer
      LanguageId:
        format: int32
        type: integer
      Name:
        type: string
      Number:
        format: int32
        type: integer
      PriceGroupId:
        format: int32
        type: integer
      Tel1:
        type: string
      Tel2:
        type: string
      Type:
        description: Customer Type
        format: int32
        type: integer
      VatId:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.CreateShipmentApiModel:
    properties:
      ClientReference:
        description: Optional specify a text to be included on the label. Not possible
          with all carriers
        type: string
      Content:
        description: Optional specify a text describing the content of the shipment.
          Used for export shipments
        type: string
      CustomerNumber:
        description: Not used anymore
        type: string
      Dimension:
        $ref: "#/definitions/Billbee.Interfaces.Shipping.ShipmentData.Dimensions"
      OrderCurrencyCode:
        description: The Currency if the ordersum
        type: string
      OrderSum:
        description: The value of the shipments content
        format: double
        type: number
      PrinterIdForExportDocs:
        description: The id of a connected Cloudprinter to sent the export docs to
        format: int32
        type: integer
      PrinterName:
        description: The name of a connected Cloudprinter to sent the label to
        type: string
      ProductCode:
        description: The productcode to be used when creating the shipment. Values
          depends on the carrier used
        type: string
      ProviderName:
        description: The name of the provider as specified in the billbee account
        type: string
      ReceiverAddress:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ShipmentAddressApiMode\
          l"
        description: The address of the receiver
      Services:
        description: A list of services to be used when creating the shipment
        items:
          $ref: "#/definitions/Billbee.Interfaces.Shipping.ProductService"
        type: array
      ShipDate:
        description: Optional overwrite the shipdate to be transferred to the carrier
        format: date-time
        type: string
      WeightInGram:
        description: Optional specify the weight in gram of the shipment
        format: double
        type: number
      shippingCarrier:
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
          - 17
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.CustomerAddressApiModel:
    description: Container for passing address data
    properties:
      AddressAddition:
        type: string
      AddressType:
        description: The type of the address
        enum:
          - 1
          - 2
        format: int32
        type: integer
      City:
        type: string
      Company:
        description: The name of the company
        type: string
      CountryCode:
        description: The ISO2 code of the country
        type: string
      CustomerId:
        description: The internal Billbee id of the customer the address belongs to
        format: int32
        type: integer
      Email:
        type: string
      Fax:
        type: string
      FirstName:
        type: string
      Housenumber:
        type: string
      Id:
        description: The internal Billbee ID of the address record. Can be null if a new
          address is created
        format: int32
        type: integer
      LastName:
        type: string
      Name2:
        description: Optionally an additional name field
        type: string
      State:
        type: string
      Street:
        type: string
      Tel1:
        type: string
      Tel2:
        type: string
      Zip:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel:
    properties:
      Email:
        type: string
      Id:
        format: int32
        type: integer
      LanguageId:
        format: int32
        type: integer
      Name:
        type: string
      Number:
        format: int32
        type: integer
      PriceGroupId:
        format: int32
        type: integer
      Tel1:
        type: string
      Tel2:
        type: string
      Type:
        description: Customer Type
        format: int32
        type: integer
      VatId:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.DeletedImagesModel:
    properties:
      Deleted:
        items:
          format: int32
          type: integer
        type: array
      NotFound:
        items:
          format: int32
          type: integer
        type: array
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.GetReservedAmountResponseData:
    properties:
      ReservedAmount:
        description: The reserve (not fulfilled) qty of the article
        format: double
        type: number
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.Order:
    description: A class that represents the Billbee data model of a single order
    properties:
      AcceptLossOfReturnRight:
        description: Customer accepts loss due to withdrawal
        type: boolean
      AdjustmentCost:
        format: double
        type: number
      AdjustmentReason:
        type: string
      BillBeeOrderId:
        description: The Order.Id from the Billbee database
        format: int32
        type: integer
      BillBeeParentOrderId:
        description: The Id of the parent order in the Billbee database
        format: int32
        type: integer
      Buyer:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.OrderUser"
      Comments:
        description: All messages / comments of the order
        items:
          $ref: "#/definitions/Billbee.Interfaces.Order.Comment"
        type: array
      ConfirmedAt:
        description: The date on which the order was confirmed
        format: date-time
        type: string
      CreatedAt:
        description: The date on which the order was created
        format: date-time
        type: string
      Currency:
        description: The three letter currency code.
        type: string
      CustomInvoiceNote:
        description: An optional multiline text which is printed on the invoice
        type: string
      Customer:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.CustomerApiModel"
        description: The Customer object connected with the order
      CustomerNumber:
        description: The customer number (not to be confused with the id of the customer)
        type: string
      DeliverySourceCountryCode:
        description: An optional Country ISO2 Code of the country where order is shipped
          from (FBA)
        type: string
      DistributionCenter:
        description: An optional code for the distribution center delivering this order
        type: string
      History:
        items:
          $ref: "#/definitions/Billbee.Interfaces.Order.HistoryEntry"
        type: array
      Id:
        description: Id of the order in the external system (marketplace)
        type: string
      InvoiceAddress:
        $ref: "#/definitions/Billbee.Interfaces.Order.Address"
        description: The billing address
      InvoiceDate:
        description: The date on which the invoice was created
        format: date-time
        type: string
      InvoiceNumber:
        description: The invoice number
        format: int32
        type: integer
      InvoiceNumberPostfix:
        description: The postfix of the invoice number
        type: string
      InvoiceNumberPrefix:
        description: The prefix of the invoice number
        type: string
      IsCancelationFor:
        description: An optional Order Id (externalid) for an order if this is a cancel
          order (shopify only at the moment)
        type: string
      LanguageCode:
        description: The two-letter language code of the customer
        type: string
      OrderItems:
        description: The list of items purchased like shirt, pant, toys etc
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.OrderItem"
        type: array
      OrderNumber:
        description: Order number of the order in the external system (marketplace)
        type: string
      PaidAmount:
        format: double
        type: number
      PayedAt:
        description: The date on which the order was paid
        format: date-time
        type: string
      PaymentInstruction:
        description: A textfield optionaly filled with a payment instruction text for
          printout on the invoice (z.B. Ebay Kauf auf Rechnung)
        type: string
      PaymentMethod:
        description: The payment method
        enum:
          - 1
          - 2
          - 3
          - 4
          - 6
          - 19
          - 20
          - 21
          - 22
          - 23
          - 24
          - 25
          - 26
          - 27
          - 28
          - 29
          - 30
          - 31
          - 32
          - 33
          - 34
          - 35
          - 36
          - 37
          - 38
          - 39
          - 40
          - 41
          - 42
          - 43
          - 44
          - 45
          - 46
          - 47
          - 48
          - 49
          - 50
          - 51
          - 52
          - 53
          - 54
          - 55
          - 56
          - 57
          - 58
          - 59
          - 60
          - 61
          - 62
          - 63
          - 64
          - 65
          - 66
          - 67
          - 68
          - 69
          - 70
          - 71
          - 72
          - 73
          - 74
          - 75
          - 76
          - 77
          - 78
          - 79
          - 80
          - 81
          - 82
          - 83
          - 84
          - 85
          - 86
          - 87
          - 88
          - 89
          - 90
          - 91
          - 92
          - 93
          - 94
          - 95
          - 96
          - 97
          - 98
          - 99
          - 100
          - 101
          - 102
          - 103
          - 104
          - 105
          - 106
          - 107
          - 108
          - 109
          - 110
          - 111
          - 112
        format: int32
        type: integer
      PaymentReference:
        description: A payment reference. Should not be used any more. Please use
          'Payments' instead.
        type: string
      PaymentTransactionId:
        description: The id of the payment transaction. For example the transaction id
          of PayPal payment. Should not be used any more. Please use 'Payments'
          instead.
        type: string
      Payments:
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Models.OrderPayment"
        type: array
      RebateDifference:
        format: double
        readOnly: true
        type: number
      Seller:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.OrderUser"
      SellerComment:
        description: An internal seller comment
        type: string
      ShipWeightKg:
        description: The total weight of the shipment(s)
        format: double
        type: number
      ShippedAt:
        description: The date on which the order was shipped
        format: date-time
        type: string
      ShippingAddress:
        $ref: "#/definitions/Billbee.Interfaces.Order.Address"
        description: The delivery address
      ShippingCost:
        description: The shipping cost
        format: double
        type: number
      ShippingIds:
        description: The shipments of the order
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.Shipment"
        type: array
      ShippingProfileId:
        description: Internal Id for the shipping profile for that order
        type: string
      ShippingProfileName:
        description: Display Name of Shipping profile, if available
        type: string
      ShippingProviderId:
        description: Internal Id for the used shipping provider
        format: int32
        type: integer
      ShippingProviderName:
        description: The Name for of used shipping provider
        type: string
      ShippingProviderProductId:
        description: Internal Id for the used shipping product
        format: int32
        type: integer
      ShippingProviderProductName:
        description: The Name of the used shipping product
        type: string
      ShippingServices:
        description: Additional services for the shipment
        items:
          $ref: "#/definitions/Billbee.Interfaces.Shipping.ProductService"
        type: array
      State:
        description: The current state of the order
        enum:
          - 1
          - 2
          - 3
          - 4
          - 5
          - 6
          - 7
          - 8
          - 9
          - 10
          - 11
          - 12
          - 13
          - 14
          - 15
          - 16
        format: int32
        type: integer
      Tags:
        description: The Tags of the order
        items:
          type: string
        type: array
      TaxRate1:
        description: The regular tax rate
        format: double
        type: number
      TaxRate2:
        description: The reduced tax rate
        format: double
        type: number
      TotalCost:
        description: The total cost excluding shipping cost
        format: double
        type: number
      UpdatedAt:
        description: The date on which the order was last updated
        format: date-time
        type: string
      VatId:
        description: The customers vat id
        type: string
      VatMode:
        description: The vat mode of the order
        enum:
          - 0
          - 1
          - 2
          - 3
          - 4
          - 5
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.OrderItem:
    properties:
      Attributes:
        description: A list of product attributes for this position
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.OrderItemAttribute"
        type: array
      BillbeeId:
        description: The billbee id of this item
        format: int32
        type: integer
      Discount:
        description: Sets the discount in percent
        format: double
        type: number
      DontAdjustStock:
        description: If true, the import of this order won't adjust the stock level at
          billbee.
        type: boolean
      GetPriceFromArticleIfAny:
        description: If true, the price will be overwritten by the known article price
          in billbee if available
        type: boolean
      IsCoupon:
        description: Determines if it is a coupon, which is interpreted as tax-free payment
        type: boolean
      Product:
        $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.SoldProduct"
        description: The sold product
      Quantity:
        description: The sold quantity
        format: double
        type: number
      SerialNumber:
        description: Contains the used serial number
        type: string
      ShippingProfileId:
        description: Determines if it is a coupon, which is interpreted as tax-free payment
        type: string
      TaxAmount:
        description: The tax amount in the total price
        format: double
        type: number
      TaxIndex:
        description: The tax index.
        format: int32
        type: integer
      TotalPrice:
        description: The total price (unit price * quantity)
        format: double
        type: number
      TransactionId:
        description: Id of the individual transaction. Only required by Ebay to detect
          aggregated orders
        type: string
      UnrebatedTotalPrice:
        description: Is just used for the billbee api
        format: double
        type: number
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.OrderItemAttribute:
    properties:
      Id:
        description: The internal id of this attribute
        type: string
      Name:
        description: The attribute name. E.g. color
        type: string
      Price:
        format: double
        type: number
      Value:
        description: The attribute value. E.g. red
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.OrderUser:
    properties:
      BillbeeShopId:
        description: The Billbee internal id of the shop connection
        format: int32
        type: integer
      BillbeeShopName:
        description: The name of shop connection in Billbee
        type: string
      Email:
        description: The email address of this customer
        type: string
      FirstName:
        description: The first name of this customer
        type: string
      FullName:
        description: The full name ("firstname lastname") of this customer
        readOnly: true
        type: string
      Id:
        description: The Billbee internal id of this customer
        type: string
      LastName:
        description: The last name of this customer
        type: string
      Nick:
        description: The nick name (if available) from the original system
        type: string
      Platform:
        description: The name of the platform from which this customer originated
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ProductImage:
    properties:
      ExternalId:
        description: The id of this image from the original system
        type: string
      IsDefaultImage:
        description: True if the image is / should be the default image
        type: boolean
      Position:
        description: The order of this image
        format: int32
        type: integer
      Url:
        description: The url to the image
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.Shipment:
    description: Represents a single shipment.
    properties:
      BillbeeId:
        description: The billbee internal id of the shipment
        format: int32
        type: integer
      Created:
        description: The creation date
        format: date-time
        type: string
      Shipper:
        description: The name of the shipping provider
        type: string
      ShippingCarrier:
        description: The carrier used to ship the parcel with
        format: int32
        type: integer
      ShippingId:
        description: The id of this shipment
        type: string
      ShippingProviderId:
        description: The id of the used shipping provider
        format: int32
        type: integer
      ShippingProviderProductId:
        description: The id of the used shipping provider product
        format: int32
        type: integer
      TrackingUrl:
        description: The url to track this shipment
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.ShipmentAddressApiModel:
    properties:
      AddressAddition:
        type: string
      City:
        type: string
      Company:
        type: string
      CountryCode:
        type: string
      CountryCodeISO3:
        type: string
      Email:
        type: string
      FirstName:
        type: string
      FullName:
        readOnly: true
        type: string
      FullStreet:
        readOnly: true
        type: string
      Housenumber:
        type: string
      IsExportCountry:
        type: boolean
      LastName:
        type: string
      Name2:
        type: string
      State:
        type: string
      Street:
        type: string
      Telephone:
        type: string
      Zip:
        type: string
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.SoldProduct:
    properties:
      BillbeeId:
        description: The Billbee internal id of the linked product
        format: int32
        type: integer
      CountryOfOrigin:
        description: The country where this article was made
        type: string
      EAN:
        description: The EAN / GTIN of this product
        type: string
      Id:
        description: The id of this product in the external system
        type: string
      Images:
        description: The images of this product
        items:
          $ref: "#/definitions/Billbee.Interfaces.BillbeeAPI.Model.ProductImage"
        type: array
      IsDigital:
        description: True if the product is a digital good (download etc.), false if not
        type: boolean
      OldId:
        description: "This is for migration scenarios when the internal id of a product
          changes\r

          I.E. Etsy when switching to the new inventory management,
          the ids for variants will change."
        type: string
      PlatformData:
        description: Optional platform specific Data as serialized JSON Object for the
          product
        type: string
      SKU:
        description: The SKU of this product
        type: string
      SkuOrId:
        description: The SKU of this product or the id if the SKU is empty
        readOnly: true
        type: string
      TARICCode:
        description: The TARIC code
        type: string
      Title:
        description: The name of this product
        type: string
      Weight:
        description: Weight of one item in gram
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.StockArticleApiModel:
    properties:
      Name:
        type: string
      StockCode:
        type: string
      StockCurrent:
        format: double
        type: number
      StockDesired:
        format: double
        type: number
      StockId:
        format: int32
        type: integer
      StockWarning:
        format: double
        type: number
      UnfulfilledAmount:
        format: double
        type: number
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.UpdateStockApiModel:
    properties:
      AutosubtractReservedAmount:
        description: Automatically reduce the NewQuantity by the currently not fulfilled
          amount
        type: boolean
      BillbeeId:
        description: Optional the ID of the Billbee product to update
        format: int32
        type: integer
      DeltaQuantity:
        description: This parameter is currently ignored
        format: double
        type: number
      ForceSendStockToShops:
        description: If true, every sent stockchange is stored and transmitted to the
          connected shop, even if the value has not changed
        type: boolean
      NewQuantity:
        description: The new absolute stock quantity for the product you want to set
        format: double
        type: number
      OldQuantity:
        description: This parameter is currently ignored
        format: double
        type: number
      Reason:
        description: Optional a reason text for the stock update
        type: string
      Sku:
        description: The SKU of the product to update
        type: string
      StockId:
        description: Optional the stock id if the feature multi stock is activated
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeApiModel:
    properties:
      BillbeeId:
        format: int32
        type: integer
      Sku:
        type: string
      StockCode:
        type: string
      StockId:
        format: int32
        type: integer
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.UpdateStockCodeResponseData:
    properties: {}
    type: object
  Billbee.Interfaces.BillbeeAPI.Model.UpdateStockResponseData:
    properties:
      CurrentStock:
        description: The new value for current stock after the update
        format: double
        type: number
      Message:
        description: A human readable message that explains the result of the operation
        type: string
      SKU:
        description: The SKU of the article to update the current stock
        type: string
      UnfulfilledAmount:
        description: The value of the unfulfilled amount (reserved) of the article
        format: double
[...]
