swagger: '2.0'
schemes:
  - https
  - http
host: route53domains.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: Amazon Route 53 API actions let you register domain names and perform related operations.
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: Amazon Route 53 Domains
  version: '2014-05-15'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53domains-2014-05-15.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: route53domains
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/route53domains/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  '/#X-Amz-Target=Route53Domains_v20140515.CheckDomainAvailability':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'This operation checks the availability of one domain name. Note that if the availability status of a domain is pending, you must submit another request to determine the availability of the domain name.'
      operationId: CheckDomainAvailability
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CheckDomainAvailabilityRequest'
        - enum:
            - Route53Domains_v20140515.CheckDomainAvailability
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CheckDomainAvailabilityResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.CheckDomainTransferability':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Checks whether a domain name can be transferred to Amazon Route 53. '
      operationId: CheckDomainTransferability
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/CheckDomainTransferabilityRequest'
        - enum:
            - Route53Domains_v20140515.CheckDomainTransferability
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CheckDomainTransferabilityResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.DeleteTagsForDomain':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>This operation deletes the specified tags for a domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>
      operationId: DeleteTagsForDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTagsForDomainRequest'
        - enum:
            - Route53Domains_v20140515.DeleteTagsForDomain
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTagsForDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.DisableDomainAutoRenew':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: This operation disables automatic renewal of domain registration for the specified domain.
      operationId: DisableDomainAutoRenew
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisableDomainAutoRenewRequest'
        - enum:
            - Route53Domains_v20140515.DisableDomainAutoRenew
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableDomainAutoRenewResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.DisableDomainTransferLock':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'This operation removes the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to allow domain transfers. We recommend you refrain from performing this action unless you intend to transfer the domain to a different registrar. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.'
      operationId: DisableDomainTransferLock
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/DisableDomainTransferLockRequest'
        - enum:
            - Route53Domains_v20140515.DisableDomainTransferLock
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableDomainTransferLockResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.EnableDomainAutoRenew':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. The cost of renewing your domain registration is billed to your AWS account.</p> <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see <a href="http://wiki.gandi.net/en/domains/renew#renewal_restoration_and_deletion_times">"Renewal, restoration, and deletion times"</a> on the website for our registrar associate, Gandi. Amazon Route 53 requires that you renew before the end of the renewal period that is listed on the Gandi website so we can complete processing before the deadline.</p>'
      operationId: EnableDomainAutoRenew
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/EnableDomainAutoRenewRequest'
        - enum:
            - Route53Domains_v20140515.EnableDomainAutoRenew
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableDomainAutoRenewResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
  '/#X-Amz-Target=Route53Domains_v20140515.EnableDomainTransferLock':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.'
      operationId: EnableDomainTransferLock
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/EnableDomainTransferLockRequest'
        - enum:
            - Route53Domains_v20140515.EnableDomainTransferLock
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableDomainTransferLockResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.GetContactReachabilityStatus':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation returns information about whether the registrant contact has responded.</p> <p>If you want us to resend the email, use the <code>ResendContactReachabilityEmail</code> operation.</p>'
      operationId: GetContactReachabilityStatus
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetContactReachabilityStatusRequest'
        - enum:
            - Route53Domains_v20140515.GetContactReachabilityStatus
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetContactReachabilityStatusResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.GetDomainDetail':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: This operation returns detailed information about a specified domain that is associated with the current AWS account. Contact information for the domain is also returned as part of the output.
      operationId: GetDomainDetail
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDomainDetailRequest'
        - enum:
            - Route53Domains_v20140515.GetDomainDetail
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainDetailResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.GetDomainSuggestions':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'The GetDomainSuggestions operation returns a list of suggested domain names given a string, which can either be a domain name or simply a word or phrase (without spaces).'
      operationId: GetDomainSuggestions
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetDomainSuggestionsRequest'
        - enum:
            - Route53Domains_v20140515.GetDomainSuggestions
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainSuggestionsResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.GetOperationDetail':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: This operation returns the current status of an operation that is not completed.
      operationId: GetOperationDetail
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/GetOperationDetailRequest'
        - enum:
            - Route53Domains_v20140515.GetOperationDetail
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOperationDetailResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
  '/#X-Amz-Target=Route53Domains_v20140515.ListDomains':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: This operation returns all the domain names registered with Amazon Route 53 for the current AWS account.
      operationId: ListDomains
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListDomainsRequest'
        - description: Pagination limit
          in: query
          name: MaxItems
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - Route53Domains_v20140515.ListDomains
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDomainsResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
  '/#X-Amz-Target=Route53Domains_v20140515.ListOperations':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: This operation returns the operation IDs of operations that are not yet complete.
      operationId: ListOperations
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListOperationsRequest'
        - description: Pagination limit
          in: query
          name: MaxItems
          required: false
          type: string
        - description: Pagination token
          in: query
          name: Marker
          required: false
          type: string
        - enum:
            - Route53Domains_v20140515.ListOperations
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOperationsResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
  '/#X-Amz-Target=Route53Domains_v20140515.ListTagsForDomain':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>This operation returns all of the tags that are associated with the specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>
      operationId: ListTagsForDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForDomainRequest'
        - enum:
            - Route53Domains_v20140515.ListTagsForDomain
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.RegisterDomain':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This operation registers a domain. Domains are registered either by Amazon Registrar (for .com, .net, and .org domains) or by our registrar associate, Gandi (for all other domains). For some top-level domains (TLDs), this operation requires extra parameters.</p> <p>When you register a domain, Amazon Route 53 does the following:</p> <ul> <li> <p>Creates a Amazon Route 53 hosted zone that has the same name as the domain. Amazon Route 53 assigns four name servers to your hosted zone and automatically updates your domain registration with the names of these name servers.</p> </li> <li> <p>Enables autorenew, so your domain registration will renew automatically each year. We''ll notify you in advance of the renewal date so you can choose whether to renew the registration.</p> </li> <li> <p>Optionally enables privacy protection, so WHOIS queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you don''t enable privacy protection, WHOIS queries return the information that you entered for the registrant, admin, and tech contacts.</p> </li> <li> <p>If registration is successful, returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant is notified by email.</p> </li> <li> <p>Charges your AWS account an amount based on the top-level domain. For more information, see <a href="http://aws.amazon.com/route53/pricing/">Amazon Route 53 Pricing</a>.</p> </li> </ul>'
      operationId: RegisterDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RegisterDomainRequest'
        - enum:
            - Route53Domains_v20140515.RegisterDomain
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
        '482':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '483':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '484':
          description: DomainLimitExceeded
          schema:
            $ref: '#/definitions/DomainLimitExceeded'
        '485':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
  '/#X-Amz-Target=Route53Domains_v20140515.RenewDomain':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This operation renews a domain for the specified number of years. The cost of renewing your domain is billed to your AWS account.</p> <p>We recommend that you renew your domain several weeks before the expiration date. Some TLD registries delete domains before the expiration date if you haven''t renewed far enough in advance. For more information about renewing domain registration, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-renew.html">Renewing Registration for a Domain</a> in the Amazon Route 53 Developer Guide.</p>'
      operationId: RenewDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RenewDomainRequest'
        - enum:
            - Route53Domains_v20140515.RenewDomain
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RenewDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
        '482':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '483':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '484':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
  '/#X-Amz-Target=Route53Domains_v20140515.ResendContactReachabilityEmail':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation resends the confirmation email to the current email address for the registrant contact.'
      operationId: ResendContactReachabilityEmail
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ResendContactReachabilityEmailRequest'
        - enum:
            - Route53Domains_v20140515.ResendContactReachabilityEmail
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResendContactReachabilityEmailResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.RetrieveDomainAuthCode':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'This operation returns the AuthCode for the domain. To transfer a domain to another registrar, you provide this value to the new registrar.'
      operationId: RetrieveDomainAuthCode
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/RetrieveDomainAuthCodeRequest'
        - enum:
            - Route53Domains_v20140515.RetrieveDomainAuthCode
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RetrieveDomainAuthCodeResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.TransferDomain':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This operation transfers a domain from another registrar to Amazon Route 53. When the transfer is complete, the domain is registered either with Amazon Registrar (for .com, .net, and .org domains) or with our registrar associate, Gandi (for all other TLDs).</p> <p>For transfer requirements, a detailed procedure, and information about viewing the status of a domain transfer, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html">Transferring Registration for a Domain to Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>If the registrar for your domain is also the DNS service provider for the domain, we highly recommend that you consider transferring your DNS service to Amazon Route 53 or to another DNS service provider before you transfer your registration. Some registrars provide free DNS service when you purchase a domain registration. When you transfer the registration, the previous registrar will not renew your domain registration and could end your DNS service at any time.</p> <important> <p>If the registrar for your domain is also the DNS service provider for the domain and you don''t transfer DNS service to another provider, your website, email, and the web applications associated with the domain might become unavailable.</p> </important> <p>If the transfer is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the transfer doesn''t complete successfully, the domain registrant will be notified by email.</p>'
      operationId: TransferDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/TransferDomainRequest'
        - enum:
            - Route53Domains_v20140515.TransferDomain
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransferDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
        '482':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '483':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '484':
          description: DomainLimitExceeded
          schema:
            $ref: '#/definitions/DomainLimitExceeded'
        '485':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
  '/#X-Amz-Target=Route53Domains_v20140515.UpdateDomainContact':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This operation updates the contact information for a particular domain. You must specify information for at least one contact: registrant, administrator, or technical.</p> <p>If the update is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>'
      operationId: UpdateDomainContact
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDomainContactRequest'
        - enum:
            - Route53Domains_v20140515.UpdateDomainContact
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainContactResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.UpdateDomainContactPrivacy':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This operation updates the specified domain contact''s privacy setting. When privacy protection is enabled, contact information such as email address is replaced either with contact information for Amazon Registrar (for .com, .net, and .org domains) or with contact information for our registrar associate, Gandi.</p> <p>This operation affects only the contact information for the specified contact type (registrant, administrator, or tech). If the request succeeds, Amazon Route 53 returns an operation ID that you can use with <a>GetOperationDetail</a> to track the progress and completion of the action. If the request doesn''t complete successfully, the domain registrant will be notified by email.</p>'
      operationId: UpdateDomainContactPrivacy
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDomainContactPrivacyRequest'
        - enum:
            - Route53Domains_v20140515.UpdateDomainContactPrivacy
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainContactPrivacyResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.UpdateDomainNameservers':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: '<p>This operation replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain.</p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>'
      operationId: UpdateDomainNameservers
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDomainNameserversRequest'
        - enum:
            - Route53Domains_v20140515.UpdateDomainNameservers
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainNameserversResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.UpdateTagsForDomain':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: <p>This operation adds or updates tags for a specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>
      operationId: UpdateTagsForDomain
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/UpdateTagsForDomainRequest'
        - enum:
            - Route53Domains_v20140515.UpdateTagsForDomain
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateTagsForDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
  '/#X-Amz-Target=Route53Domains_v20140515.ViewBilling':
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Returns all the domain-related billing records for the current AWS account for a specified period
      operationId: ViewBilling
      parameters:
        - in: body
          name: body
          required: true
          schema:
            $ref: '#/definitions/ViewBillingRequest'
        - enum:
            - Route53Domains_v20140515.ViewBilling
          in: header
          name: X-Amz-Target
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ViewBillingResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
definitions:
  AddressLine:
    maxLength: 255
    type: string
  BillingRecord:
    description: Information for one billing record.
    properties:
      BillDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date that the operation was billed, in Unix format.'
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.'
      InvoiceId:
        $ref: '#/definitions/InvoiceId'
        description: The ID of the invoice that is associated with the billing record.
      Operation:
        $ref: '#/definitions/OperationType'
        description: The operation that you were charged for.
      Price:
        $ref: '#/definitions/Price'
        description: '<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>'
    type: object
  BillingRecords:
    items:
      $ref: '#/definitions/BillingRecord'
    type: array
  Boolean:
    type: boolean
  CheckDomainAvailabilityRequest:
    description: The CheckDomainAvailability request contains the following elements.
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: '<p>The name of the domain that you want to get availability for.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>'
      IdnLangCode:
        $ref: '#/definitions/LangCode'
        description: Reserved for future use.
    required:
      - DomainName
    type: object
  CheckDomainAvailabilityResponse:
    description: The CheckDomainAvailability response includes the following elements.
    properties:
      Availability:
        $ref: '#/definitions/DomainAvailability'
        description: '<p>Whether the domain name is available for registering.</p> <note> <p>You can register only domains designated as <code>AVAILABLE</code>.</p> </note> <p>Valid values:</p> <dl> <dt>AVAILABLE</dt> <dd> <p>The domain name is available.</p> </dd> <dt>AVAILABLE_RESERVED</dt> <dd> <p>The domain name is reserved under specific conditions.</p> </dd> <dt>AVAILABLE_PREORDER</dt> <dd> <p>The domain name is available and can be preordered.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>The TLD registry didn''t reply with a definitive answer about whether the domain name is available. Amazon Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</p> </dd> <dt>PENDING</dt> <dd> <p>The TLD registry didn''t return a response in the expected amount of time. When the response is delayed, it usually takes just a few extra seconds. You can resubmit the request immediately.</p> </dd> <dt>RESERVED</dt> <dd> <p>The domain name has been reserved for another person or organization.</p> </dd> <dt>UNAVAILABLE</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_PREMIUM</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_RESTRICTED</dt> <dd> <p>The domain name is forbidden.</p> </dd> </dl>'
    required:
      - Availability
    type: object
  CheckDomainTransferabilityRequest:
    description: The CheckDomainTransferability request contains the following elements.
    properties:
      AuthCode:
        $ref: '#/definitions/DomainAuthCode'
        description: 'If the registrar for the top-level domain (TLD) requires an authorization code to transfer the domain, the code that you got from the current registrar for the domain.'
      DomainName:
        $ref: '#/definitions/DomainName'
        description: '<p>The name of the domain that you want to transfer to Amazon Route 53.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>'
    required:
      - DomainName
    type: object
  CheckDomainTransferabilityResponse:
    description: The CheckDomainTransferability response includes the following elements.
    properties:
      Transferability:
        $ref: '#/definitions/DomainTransferability'
        description: A complex type that contains information about whether the specified domain can be transferred to Amazon Route 53.
    required:
      - Transferability
    type: object
  City:
    maxLength: 255
    type: string
  ContactDetail:
    description: ContactDetail includes the following elements.
    properties:
      AddressLine1:
        $ref: '#/definitions/AddressLine'
        description: First line of the contact's address.
      AddressLine2:
        $ref: '#/definitions/AddressLine'
        description: 'Second line of contact''s address, if any.'
      City:
        $ref: '#/definitions/City'
        description: The city of the contact's address.
      ContactType:
        $ref: '#/definitions/ContactType'
        description: 'Indicates whether the contact is a person, company, association, or public organization. If you choose an option other than <code>PERSON</code>, you must enter an organization name, and you can''t enable privacy protection for the contact.'
      CountryCode:
        $ref: '#/definitions/CountryCode'
        description: Code for the country of the contact's address.
      Email:
        $ref: '#/definitions/Email'
        description: Email address of the contact.
      ExtraParams:
        $ref: '#/definitions/ExtraParamList'
        description: A list of name-value pairs for parameters required by certain top-level domains.
      Fax:
        $ref: '#/definitions/ContactNumber'
        description: '<p>Fax number of the contact.</p> <p>Constraints: Phone number must be specified in the format "+[country dialing code].[number including any area code]". For example, a US phone number might appear as <code>"+1.1234567890"</code>.</p>'
      FirstName:
        $ref: '#/definitions/ContactName'
        description: First name of contact.
      LastName:
        $ref: '#/definitions/ContactName'
        description: Last name of contact.
      OrganizationName:
        $ref: '#/definitions/ContactName'
        description: Name of the organization for contact types other than <code>PERSON</code>.
      PhoneNumber:
        $ref: '#/definitions/ContactNumber'
        description: '<p>The phone number of the contact.</p> <p>Constraints: Phone number must be specified in the format "+[country dialing code].[number including any area code&gt;]". For example, a US phone number might appear as <code>"+1.1234567890"</code>.</p>'
      State:
        $ref: '#/definitions/State'
        description: The state or province of the contact's city.
      ZipCode:
        $ref: '#/definitions/ZipCode'
        description: The zip or postal code of the contact's address.
    type: object
  ContactName:
    maxLength: 255
    type: string
  ContactNumber:
    maxLength: 30
    type: string
  ContactType:
    enum:
      - PERSON
      - COMPANY
      - ASSOCIATION
      - PUBLIC_BODY
      - RESELLER
    type: string
  CountryCode:
    enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AN
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BR
      - BS
      - BT
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GH
      - GI
      - GL
      - GM
      - GN
      - GQ
      - GR
      - GT
      - GU
      - GW
      - GY
      - HK
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IQ
      - IR
      - IS
      - IT
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PT
      - PW
      - PY
      - QA
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - ST
      - SV
      - SY
      - SZ
      - TC
      - TD
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
    type: string
  CurrentExpiryYear:
    type: integer
  DNSSec:
    type: string
  DeleteTagsForDomainRequest:
    description: The DeleteTagsForDomainRequest includes the following elements.
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The domain for which you want to delete one or more tags.
      TagsToDelete:
        $ref: '#/definitions/TagKeyList'
        description: A list of tag keys to delete.
    required:
      - DomainName
      - TagsToDelete
    type: object
  DeleteTagsForDomainResponse:
    properties: {}
    type: object
  DisableDomainAutoRenewRequest:
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to disable automatic renewal for.
    required:
      - DomainName
    type: object
  DisableDomainAutoRenewResponse:
    properties: {}
    type: object
  DisableDomainTransferLockRequest:
    description: The DisableDomainTransferLock request includes the following element.
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to remove the transfer lock for.
    required:
      - DomainName
    type: object
  DisableDomainTransferLockResponse:
    description: The DisableDomainTransferLock response includes the following element.
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    required:
      - OperationId
    type: object
  DomainAuthCode:
    format: password
    maxLength: 1024
    type: string
  DomainAvailability:
    enum:
      - AVAILABLE
      - AVAILABLE_RESERVED
      - AVAILABLE_PREORDER
      - UNAVAILABLE
      - UNAVAILABLE_PREMIUM
      - UNAVAILABLE_RESTRICTED
      - RESERVED
      - DONT_KNOW
    type: string
  DomainLimitExceeded:
    description: The number of domains has exceeded the allowed threshold for the account.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The number of domains has exceeded the allowed threshold for the account.
    type: object
  DomainName:
    maxLength: 255
    type: string
  DomainStatus:
    type: string
  DomainStatusList:
    items:
      $ref: '#/definitions/DomainStatus'
    type: array
  DomainSuggestion:
    description: Information about one suggested domain name.
    properties:
      Availability:
        $ref: '#/definitions/String'
        description: '<p>Whether the domain name is available for registering.</p> <note> <p>You can register only the domains that are designated as <code>AVAILABLE</code>.</p> </note> <p>Valid values:</p> <dl> <dt>AVAILABLE</dt> <dd> <p>The domain name is available.</p> </dd> <dt>AVAILABLE_RESERVED</dt> <dd> <p>The domain name is reserved under specific conditions.</p> </dd> <dt>AVAILABLE_PREORDER</dt> <dd> <p>The domain name is available and can be preordered.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>The TLD registry didn''t reply with a definitive answer about whether the domain name is available. Amazon Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</p> </dd> <dt>PENDING</dt> <dd> <p>The TLD registry didn''t return a response in the expected amount of time. When the response is delayed, it usually takes just a few extra seconds. You can resubmit the request immediately.</p> </dd> <dt>RESERVED</dt> <dd> <p>The domain name has been reserved for another person or organization.</p> </dd> <dt>UNAVAILABLE</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_PREMIUM</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_RESTRICTED</dt> <dd> <p>The domain name is forbidden.</p> </dd> </dl>'
      DomainName:
        $ref: '#/definitions/DomainName'
        description: A suggested domain name.
    type: object
  DomainSuggestionsList:
    items:
      $ref: '#/definitions/DomainSuggestion'
    type: array
  DomainSummary:
    description: Summary information about one domain.
    properties:
      AutoRenew:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the domain is automatically renewed upon expiration.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that the summary information applies to.
      Expiry:
        $ref: '#/definitions/Timestamp'
        description: Expiration date of the domain in Coordinated Universal Time (UTC).
      TransferLock:
        $ref: '#/definitions/Boolean'
        description: Indicates whether a domain is locked from unauthorized transfer to another party.
    required:
      - DomainName
    type: object
  DomainSummaryList:
    items:
      $ref: '#/definitions/DomainSummary'
    type: array
  DomainTransferability:
    description: A complex type that contains information about whether the specified domain can be transferred to Amazon Route 53.
    properties:
      Transferable:
        $ref: '#/definitions/Transferable'
    type: object
  DuplicateRequest:
    description: The request is already in progress for the domain.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The request is already in progress for the domain.
    type: object
  DurationInYears:
    maximum: 10
    minimum: 1
    type: integer
  Email:
    maxLength: 254
    type: string
  EnableDomainAutoRenewRequest:
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to enable automatic renewal for.
    required:
      - DomainName
    type: object
  EnableDomainAutoRenewResponse:
    properties: {}
    type: object
  EnableDomainTransferLockRequest:
    description: A request to set the transfer lock for the specified domain.
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to set the transfer lock for.
    required:
      - DomainName
    type: object
  EnableDomainTransferLockResponse:
    description: The EnableDomainTransferLock response includes the following elements.
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.'
    required:
      - OperationId
    type: object
  ErrorMessage:
    type: string
  ExtraParam:
    description: ExtraParam includes the following elements.
    properties:
      Name:
        $ref: '#/definitions/ExtraParamName'
        description: '<p>Name of the additional parameter required by the top-level domain. Here are the top-level domains that require additional parameters and which parameters they require:</p> <ul> <li> <p> <b>.com.au and .net.au:</b> <code>AU_ID_NUMBER</code> and <code>AU_ID_TYPE</code> </p> </li> <li> <p> <b>.ca:</b> <code>BRAND_NUMBER</code>, <code>CA_LEGAL_TYPE</code>, and <code>CA_BUSINESS_ENTITY_TYPE</code> </p> </li> <li> <p> <b>.es:</b> <code>ES_IDENTIFICATION</code>, <code>ES_IDENTIFICATION_TYPE</code>, and <code>ES_LEGAL_FORM</code> </p> </li> <li> <p> <b>.fi:</b> <code>BIRTH_DATE_IN_YYYY_MM_DD</code>, <code>FI_BUSINESS_NUMBER</code>, <code>FI_ID_NUMBER</code>, <code>FI_NATIONALITY</code>, and <code>FI_ORGANIZATION_TYPE</code> </p> </li> <li> <p> <b>.fr:</b> <code>BRAND_NUMBER</code>, <code>BIRTH_DEPARTMENT</code>, <code>BIRTH_DATE_IN_YYYY_MM_DD</code>, <code>BIRTH_COUNTRY</code>, and <code>BIRTH_CITY</code> </p> </li> <li> <p> <b>.it:</b> <code>BIRTH_COUNTRY</code>, <code>IT_PIN</code>, and <code>IT_REGISTRANT_ENTITY_TYPE</code> </p> </li> <li> <p> <b>.ru:</b> <code>BIRTH_DATE_IN_YYYY_MM_DD</code> and <code>RU_PASSPORT_DATA</code> </p> </li> <li> <p> <b>.se:</b> <code>BIRTH_COUNTRY</code> and <code>SE_ID_NUMBER</code> </p> </li> <li> <p> <b>.sg:</b> <code>SG_ID_NUMBER</code> </p> </li> <li> <p> <b>.co.uk, .me.uk, and .org.uk:</b> <code>UK_CONTACT_TYPE</code> and <code>UK_COMPANY_NUMBER</code> </p> </li> </ul> <p>In addition, many TLDs require <code>VAT_NUMBER</code>.</p>'
      Value:
        $ref: '#/definitions/ExtraParamValue'
        description: Values corresponding to the additional parameter names required by some top-level domains.
    required:
      - Name
      - Value
    type: object
  ExtraParamList:
    items:
      $ref: '#/definitions/ExtraParam'
    type: array
  ExtraParamName:
    enum:
      - DUNS_NUMBER
      - BRAND_NUMBER
      - BIRTH_DEPARTMENT
      - BIRTH_DATE_IN_YYYY_MM_DD
      - BIRTH_COUNTRY
      - BIRTH_CITY
      - DOCUMENT_NUMBER
      - AU_ID_NUMBER
      - AU_ID_TYPE
      - CA_LEGAL_TYPE
      - CA_BUSINESS_ENTITY_TYPE
      - ES_IDENTIFICATION
      - ES_IDENTIFICATION_TYPE
      - ES_LEGAL_FORM
      - FI_BUSINESS_NUMBER
      - FI_ID_NUMBER
      - FI_NATIONALITY
      - FI_ORGANIZATION_TYPE
      - IT_PIN
      - IT_REGISTRANT_ENTITY_TYPE
      - RU_PASSPORT_DATA
      - SE_ID_NUMBER
      - SG_ID_NUMBER
      - VAT_NUMBER
      - UK_CONTACT_TYPE
      - UK_COMPANY_NUMBER
    type: string
  ExtraParamValue:
    maxLength: 2048
    type: string
  FIAuthKey:
    type: string
  GetContactReachabilityStatusRequest:
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain for which you want to know whether the registrant contact has confirmed that the email address is valid.
    type: object
  GetContactReachabilityStatusResponse:
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: The domain name for which you requested the reachability status.
      status:
        $ref: '#/definitions/ReachabilityStatus'
        description: '<p>Whether the registrant contact has responded. Values include the following:</p> <dl> <dt>PENDING</dt> <dd> <p>We sent the confirmation email and haven''t received a response yet.</p> </dd> <dt>DONE</dt> <dd> <p>We sent the email and got confirmation from the registrant contact.</p> </dd> <dt>EXPIRED</dt> <dd> <p>The time limit expired before the registrant contact responded.</p> </dd> </dl>'
    type: object
  GetDomainDetailRequest:
    description: The GetDomainDetail request includes the following element.
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to get detailed information about.
    required:
      - DomainName
    type: object
  GetDomainDetailResponse:
    description: The GetDomainDetail response includes the following elements.
    properties:
      AbuseContactEmail:
        $ref: '#/definitions/Email'
        description: 'Email address to contact to report incorrect contact information for a domain, to report that the domain is being used to send spam, to report that someone is cybersquatting on a domain name, or report some other type of abuse.'
      AbuseContactPhone:
        $ref: '#/definitions/ContactNumber'
        description: Phone number for reporting abuse.
      AdminContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides details about the domain administrative contact.
      AdminPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the admin contact.'
      AutoRenew:
        $ref: '#/definitions/Boolean'
        description: Specifies whether the domain registration is set to renew automatically.
      CreationDate:
        $ref: '#/definitions/Timestamp'
        description: The date when the domain was created as found in the response to a WHOIS query. The date and time is in Coordinated Universal time (UTC).
      DnsSec:
        $ref: '#/definitions/DNSSec'
        description: Reserved for future use.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of a domain.
      ExpirationDate:
        $ref: '#/definitions/Timestamp'
        description: The date when the registration for the domain is set to expire. The date and time is in Coordinated Universal time (UTC).
      Nameservers:
        $ref: '#/definitions/NameserverList'
        description: The name of the domain.
      RegistrantContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides details about the domain registrant.
      RegistrantPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).'
      RegistrarName:
        $ref: '#/definitions/RegistrarName'
        description: 'Name of the registrar of the domain as identified in the registry. Domains with a .com, .net, or .org TLD are registered by Amazon Registrar. All other domains are registered by our registrar associate, Gandi. The value for domains that are registered by Gandi is <code>"GANDI SAS"</code>. '
      RegistrarUrl:
        $ref: '#/definitions/RegistrarUrl'
        description: Web address of the registrar.
      RegistryDomainId:
        $ref: '#/definitions/RegistryDomainId'
        description: Reserved for future use.
      Reseller:
        $ref: '#/definitions/Reseller'
        description: 'Reseller of the domain. Domains registered or transferred using Amazon Route 53 domains will have <code>"Amazon"</code> as the reseller. '
      StatusList:
        $ref: '#/definitions/DomainStatusList'
        description: '<p>An array of domain name status codes, also known as Extensible Provisioning Protocol (EPP) status codes.</p> <p>ICANN, the organization that maintains a central database of domain names, has developed a set of domain name status codes that tell you the status of a variety of operations on a domain name, for example, registering a domain name, transferring a domain name to another registrar, renewing the registration for a domain name, and so on. All registrars use this same set of status codes.</p> <p>For a current list of domain name status codes and an explanation of what each code means, go to the <a href="https://www.icann.org/">ICANN website</a> and search for <code>epp status codes</code>. (Search on the ICANN website; web searches sometimes return an old version of the document.)</p>'
      TechContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides details about the domain technical contact.
      TechPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the technical contact.'
      UpdatedDate:
        $ref: '#/definitions/Timestamp'
        description: The last updated date of the domain as found in the response to a WHOIS query. The date and time is in Coordinated Universal time (UTC).
      WhoIsServer:
        $ref: '#/definitions/RegistrarWhoIsServer'
        description: The fully qualified name of the WHOIS server that can answer the WHOIS query for the domain.
    required:
      - DomainName
      - Nameservers
      - AdminContact
      - RegistrantContact
      - TechContact
    type: object
  GetDomainSuggestionsRequest:
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'A domain name that you want to use as the basis for a list of possible domain names. The domain name must contain a top-level domain (TLD), such as .com, that Amazon Route 53 supports. For a list of TLDs, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.'
      OnlyAvailable:
        $ref: '#/definitions/Boolean'
        description: 'If <code>OnlyAvailable</code> is <code>true</code>, Amazon Route 53 returns only domain names that are available. If <code>OnlyAvailable</code> is <code>false</code>, Amazon Route 53 returns domain names without checking whether they''re available to be registered. To determine whether the domain is available, you can call <code>checkDomainAvailability</code> for each suggestion.'
      SuggestionCount:
        $ref: '#/definitions/Integer'
        description: The number of suggested domain names that you want Amazon Route 53 to return.
    required:
      - DomainName
      - SuggestionCount
      - OnlyAvailable
    type: object
  GetDomainSuggestionsResponse:
    properties:
      SuggestionsList:
        $ref: '#/definitions/DomainSuggestionsList'
        description: 'A list of possible domain names. If you specified <code>true</code> for <code>OnlyAvailable</code> in the request, the list contains only domains that are available for registration.'
    type: object
  GetOperationDetailRequest:
    description: The <a>GetOperationDetail</a> request includes the following element.
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: The identifier for the operation for which you want to get the status. Amazon Route 53 returned the identifier in the response to the original request.
    required:
      - OperationId
    type: object
  GetOperationDetailResponse:
    description: The GetOperationDetail response includes the following elements.
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of a domain.
      Message:
        $ref: '#/definitions/ErrorMessage'
        description: Detailed information on the status including possible errors.
      OperationId:
        $ref: '#/definitions/OperationId'
        description: The identifier for the operation.
      Status:
        $ref: '#/definitions/OperationStatus'
        description: The current status of the requested operation in the system.
      SubmittedDate:
        $ref: '#/definitions/Timestamp'
        description: The date when the request was submitted.
      Type:
        $ref: '#/definitions/OperationType'
        description: The type of operation that was requested.
    type: object
  GlueIp:
    maxLength: 45
    type: string
  GlueIpList:
    items:
      $ref: '#/definitions/GlueIp'
    type: array
  HostName:
    maxLength: 255
    pattern: '[a-zA-Z0-9_\-.]*'
    type: string
  Integer:
    type: integer
  InvalidInput:
    description: 'The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.'
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: 'The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.'
    type: object
  InvoiceId:
    type: string
  LangCode:
    maxLength: 3
    type: string
  ListDomainsRequest:
    description: The ListDomains request includes the following elements.
    properties:
      Marker:
        $ref: '#/definitions/PageMarker'
        description: '<p>For an initial request for a list of domains, omit this element. If the number of domains that are associated with the current AWS account is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional domains. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.</p> <p>Constraints: The marker must match the value specified in the previous request.</p>'
      MaxItems:
        $ref: '#/definitions/PageMaxItems'
        description: '<p>Number of domains to be returned.</p> <p>Default: 20</p>'
    type: object
  ListDomainsResponse:
    description: The ListDomains response includes the following elements.
    properties:
      Domains:
        $ref: '#/definitions/DomainSummaryList'
        description: A summary of domains.
      NextPageMarker:
        $ref: '#/definitions/PageMarker'
        description: 'If there are more domains than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.'
    required:
      - Domains
    type: object
  ListOperationsRequest:
    description: The ListOperations request includes the following elements.
    properties:
      Marker:
        $ref: '#/definitions/PageMarker'
        description: 'For an initial request for a list of operations, omit this element. If the number of operations that are not yet complete is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional operations. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.'
      MaxItems:
        $ref: '#/definitions/PageMaxItems'
        description: '<p>Number of domains to be returned.</p> <p>Default: 20</p>'
      SubmittedSince:
        $ref: '#/definitions/Timestamp'
        description: An optional parameter that lets you get information about all the operations that you submitted after a specified date and time. Specify the date and time in Coordinated Universal time (UTC).
    type: object
  ListOperationsResponse:
    description: The ListOperations response includes the following elements.
    properties:
      NextPageMarker:
        $ref: '#/definitions/PageMarker'
        description: 'If there are more operations than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.'
      Operations:
        $ref: '#/definitions/OperationSummaryList'
        description: Lists summaries of the operations.
    required:
      - Operations
    type: object
  ListTagsForDomainRequest:
    description: The ListTagsForDomainRequest includes the following elements.
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The domain for which you want to get a list of tags.
    required:
      - DomainName
    type: object
  ListTagsForDomainResponse:
    description: The ListTagsForDomain response includes the following elements.
    properties:
      TagList:
        $ref: '#/definitions/TagList'
        description: A list of the tags that are associated with the specified domain.
    required:
      - TagList
    type: object
  Nameserver:
    description: Nameserver includes the following elements.
    properties:
      GlueIps:
        $ref: '#/definitions/GlueIpList'
        description: '<p>Glue IP address of a name server entry. Glue IP addresses are required only when the name of the name server is a subdomain of the domain. For example, if your domain is example.com and the name server for the domain is ns.example.com, you need to specify the IP address for ns.example.com.</p> <p>Constraints: The list can contain only one IPv4 and one IPv6 address.</p>'
      Name:
        $ref: '#/definitions/HostName'
        description: '<p>The fully qualified host name of the name server.</p> <p>Constraint: Maximum 255 characters</p>'
    required:
      - Name
    type: object
  NameserverList:
    items:
      $ref: '#/definitions/Nameserver'
    type: array
  OperationId:
    maxLength: 255
    type: string
  OperationLimitExceeded:
    description: The number of operations or jobs running exceeded the allowed threshold for the account.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The number of operations or jobs running exceeded the allowed threshold for the account.
    type: object
  OperationStatus:
    enum:
      - SUBMITTED
      - IN_PROGRESS
      - ERROR
      - SUCCESSFUL
      - FAILED
    type: string
  OperationSummary:
    description: OperationSummary includes the following elements.
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: Identifier returned to track the requested action.
      Status:
        $ref: '#/definitions/OperationStatus'
        description: The current status of the requested operation in the system.
      SubmittedDate:
        $ref: '#/definitions/Timestamp'
        description: The date when the request was submitted.
      Type:
        $ref: '#/definitions/OperationType'
        description: Type of the action requested.
    required:
      - OperationId
      - Status
      - Type
      - SubmittedDate
    type: object
  OperationSummaryList:
    items:
      $ref: '#/definitions/OperationSummary'
    type: array
  OperationType:
    enum:
      - REGISTER_DOMAIN
      - DELETE_DOMAIN
      - TRANSFER_IN_DOMAIN
      - UPDATE_DOMAIN_CONTACT
      - UPDATE_NAMESERVER
      - CHANGE_PRIVACY_PROTECTION
      - DOMAIN_LOCK
      - ENABLE_AUTORENEW
      - DISABLE_AUTORENEW
      - ADD_DNSSEC
      - REMOVE_DNSSEC
      - EXPIRE_DOMAIN
      - TRANSFER_OUT_DOMAIN
      - CHANGE_DOMAIN_OWNER
      - RENEW_DOMAIN
      - PUSH_DOMAIN
    type: string
  PageMarker:
    maxLength: 4096
    type: string
  PageMaxItems:
    maximum: 100
    type: integer
  Price:
    format: double
    type: number
  ReachabilityStatus:
    enum:
      - PENDING
      - DONE
      - EXPIRED
    type: string
  RegisterDomainRequest:
    description: The RegisterDomain request includes the following elements.
    properties:
      AdminContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      AutoRenew:
        $ref: '#/definitions/Boolean'
        description: '<p>Indicates whether the domain will be automatically renewed (<code>true</code>) or not (<code>false</code>). Autorenewal only takes effect after the account is charged.</p> <p>Default: <code>true</code> </p>'
      DomainName:
        $ref: '#/definitions/DomainName'
        description: '<p>The domain name that you want to register.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>'
      DurationInYears:
        $ref: '#/definitions/DurationInYears'
        description: '<p>The number of years that you want to register the domain for. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain. For the range of valid values for your domain, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Default: 1</p>'
      IdnLangCode:
        $ref: '#/definitions/LangCode'
        description: Reserved for future use.
      PrivacyProtectAdminContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the admin contact.</p> <p>Default: <code>true</code> </p>'
      PrivacyProtectRegistrantContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (the domain owner).</p> <p>Default: <code>true</code> </p>'
      PrivacyProtectTechContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the technical contact.</p> <p>Default: <code>true</code> </p>'
      RegistrantContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      TechContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
    required:
      - DomainName
      - DurationInYears
      - AdminContact
      - RegistrantContact
      - TechContact
    type: object
  RegisterDomainResponse:
    description: The RegisterDomain response includes the following element.
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    required:
      - OperationId
    type: object
  RegistrarName:
    type: string
  RegistrarUrl:
    type: string
  RegistrarWhoIsServer:
    type: string
  RegistryDomainId:
    type: string
  RenewDomainRequest:
    description: A <code>RenewDomain</code> request includes the number of years that you want to renew for and the current expiration year.
    properties:
      CurrentExpiryYear:
        $ref: '#/definitions/CurrentExpiryYear'
        description: The year when the registration for the domain is set to expire. This value must match the current expiration date for the domain.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to renew.
      DurationInYears:
        $ref: '#/definitions/DurationInYears'
        description: '<p>The number of years that you want to renew the domain for. The maximum number of years depends on the top-level domain. For the range of valid values for your domain, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Default: 1</p>'
    required:
      - DomainName
      - CurrentExpiryYear
    type: object
  RenewDomainResponse:
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'The identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    required:
      - OperationId
    type: object
  Reseller:
    type: string
  ResendContactReachabilityEmailRequest:
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain for which you want Amazon Route 53 to resend a confirmation email to the registrant contact.
    type: object
  ResendContactReachabilityEmailResponse:
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: The domain name for which you requested a confirmation email.
      emailAddress:
        $ref: '#/definitions/Email'
        description: The email address for the registrant contact at the time that we sent the verification email.
      isAlreadyVerified:
        $ref: '#/definitions/Boolean'
        description: ' <code>True</code> if the email address for the registrant contact has already been verified, and <code>false</code> otherwise. If the email address has already been verified, we don''t send another confirmation email.'
    type: object
  RetrieveDomainAuthCodeRequest:
    description: 'A request for the authorization code for the specified domain. To transfer a domain to another registrar, you provide this value to the new registrar.'
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to get an authorization code for.
    required:
      - DomainName
    type: object
  RetrieveDomainAuthCodeResponse:
    description: The RetrieveDomainAuthCode response includes the following element.
    properties:
      AuthCode:
        $ref: '#/definitions/DomainAuthCode'
        description: The authorization code for the domain.
    required:
      - AuthCode
    type: object
  State:
    maxLength: 255
    type: string
  String:
    type: string
  TLDRulesViolation:
    description: The top-level domain does not support this operation.
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The top-level domain does not support this operation.
    type: object
  Tag:
    description: Each tag includes the following elements.
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: '<p>The key (name) of a tag.</p> <p>Valid values: A-Z, a-z, 0-9, space, ".:/=+\-@"</p> <p>Constraints: Each key can be 1-128 characters long.</p>'
      Value:
        $ref: '#/definitions/TagValue'
        description: '<p>The value of a tag.</p> <p>Valid values: A-Z, a-z, 0-9, space, ".:/=+\-@"</p> <p>Constraints: Each value can be 0-256 characters long.</p>'
    type: object
  TagKey:
    type: string
  TagKeyList:
    items:
      $ref: '#/definitions/TagKey'
    type: array
  TagList:
    items:
      $ref: '#/definitions/Tag'
    type: array
  TagValue:
    type: string
  Timestamp:
    format: date-time
    type: string
  TransferDomainRequest:
    description: The TransferDomain request includes the following elements.
    properties:
      AdminContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      AuthCode:
        $ref: '#/definitions/DomainAuthCode'
        description: The authorization code for the domain. You get this value from the current registrar.
      AutoRenew:
        $ref: '#/definitions/Boolean'
        description: '<p>Indicates whether the domain will be automatically renewed (true) or not (false). Autorenewal only takes effect after the account is charged.</p> <p>Default: true</p>'
      DomainName:
        $ref: '#/definitions/DomainName'
        description: '<p>The name of the domain that you want to transfer to Amazon Route 53.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>'
      DurationInYears:
        $ref: '#/definitions/DurationInYears'
        description: '<p>The number of years that you want to register the domain for. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain.</p> <p>Default: 1</p>'
      IdnLangCode:
        $ref: '#/definitions/LangCode'
        description: Reserved for future use.
      Nameservers:
        $ref: '#/definitions/NameserverList'
        description: Contains details for the host and glue IP addresses.
      PrivacyProtectAdminContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the admin contact.</p> <p>Default: <code>true</code> </p>'
      PrivacyProtectRegistrantContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).</p> <p>Default: <code>true</code> </p>'
      PrivacyProtectTechContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the technical contact.</p> <p>Default: <code>true</code> </p>'
      RegistrantContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      TechContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
    required:
      - DomainName
      - DurationInYears
      - AdminContact
      - RegistrantContact
      - TechContact
    type: object
  TransferDomainResponse:
    description: The TranserDomain response includes the following element.
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    required:
      - OperationId
    type: object
  Transferable:
    description: '<p>Whether the domain name can be transferred to Amazon Route 53.</p> <note> <p>You can transfer only domains that have a value of <code>TRANSFERABLE</code> for <code>Transferable</code>.</p> </note> <p>Valid values:</p> <dl> <dt>TRANSFERABLE</dt> <dd> <p>The domain name can be transferred to Amazon Route 53.</p> </dd> <dt>UNTRANSFERRABLE</dt> <dd> <p>The domain name can''t be transferred to Amazon Route 53.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>Reserved for future use.</p> </dd> </dl>'
    enum:
      - TRANSFERABLE
      - UNTRANSFERABLE
      - DONT_KNOW
    type: string
  UnsupportedTLD:
    description: Amazon Route 53 does not support this top-level domain (TLD).
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: Amazon Route 53 does not support this top-level domain (TLD).
    type: object
  UpdateDomainContactPrivacyRequest:
    description: The UpdateDomainContactPrivacy request includes the following elements.
    properties:
      AdminPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the admin contact.'
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to update the privacy setting for.
      RegistrantPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).'
      TechPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the technical contact.'
    required:
      - DomainName
    type: object
  UpdateDomainContactPrivacyResponse:
    description: The UpdateDomainContactPrivacy response includes the following element.
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.'
    required:
      - OperationId
    type: object
  UpdateDomainContactRequest:
    description: The UpdateDomainContact request includes the following elements.
    properties:
      AdminContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to update contact information for.
      RegistrantContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      TechContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
    required:
      - DomainName
    type: object
  UpdateDomainContactResponse:
    description: The UpdateDomainContact response includes the following element.
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    required:
      - OperationId
    type: object
  UpdateDomainNameserversRequest:
    description: '<p>Replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain.</p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email. </p>'
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to change name servers for.
      FIAuthKey:
        $ref: '#/definitions/FIAuthKey'
        description: The authorization key for .fi domains
      Nameservers:
        $ref: '#/definitions/NameserverList'
        description: A list of new name servers for the domain.
    required:
      - DomainName
      - Nameservers
    type: object
  UpdateDomainNameserversResponse:
    description: The UpdateDomainNameservers response includes the following element.
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    required:
      - OperationId
    type: object
  UpdateTagsForDomainRequest:
    description: The UpdateTagsForDomainRequest includes the following elements.
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The domain for which you want to add or update tags.
      TagsToUpdate:
        $ref: '#/definitions/TagList'
        description: 'A list of the tag keys and values that you want to add or update. If you specify a key that already exists, the corresponding value will be replaced.'
    required:
      - DomainName
    type: object
  UpdateTagsForDomainResponse:
    properties: {}
    type: object
  ViewBillingRequest:
    description: The ViewBilling request includes the following elements.
    properties:
      End:
        $ref: '#/definitions/Timestamp'
        description: The end date and time for the time period for which you want a list of billing records. Specify the date and time in Coordinated Universal time (UTC).
      Marker:
        $ref: '#/definitions/PageMarker'
[...]
