swagger: '2.0'
info:
  version: '2014-05-15'
  x-release: v4
  title: Amazon Route 53 Domains
  description: Amazon Route 53 API actions let you register domain names and perform related operations.
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: route53domains
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/route53domains-2014-05-15.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/route53domains/'
host: route53domains.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: CheckDomainAvailability
      description: 'This operation checks the availability of one domain name. Note that if the availability status of a domain is pending, you must submit another request to determine the availability of the domain name.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CheckDomainAvailabilityResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CheckDomainAvailabilityRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CheckDomainTransferability':
    post:
      operationId: CheckDomainTransferability
      description: 'Checks whether a domain name can be transferred to Amazon Route 53. '
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CheckDomainTransferabilityResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CheckDomainTransferabilityRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteTagsForDomain':
    post:
      operationId: DeleteTagsForDomain
      description: <p>This operation deletes the specified tags for a domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTagsForDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTagsForDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisableDomainAutoRenew':
    post:
      operationId: DisableDomainAutoRenew
      description: This operation disables automatic renewal of domain registration for the specified domain.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableDomainAutoRenewResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisableDomainAutoRenewRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DisableDomainTransferLock':
    post:
      operationId: DisableDomainTransferLock
      description: 'This operation removes the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to allow domain transfers. We recommend you refrain from performing this action unless you intend to transfer the domain to a different registrar. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DisableDomainTransferLockResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisableDomainTransferLockRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnableDomainAutoRenew':
    post:
      operationId: EnableDomainAutoRenew
      description: '<p>This operation configures Amazon Route 53 to automatically renew the specified domain before the domain registration expires. The cost of renewing your domain registration is billed to your AWS account.</p> <p>The period during which you can renew a domain name varies by TLD. For a list of TLDs and their renewal policies, see <a href="http://wiki.gandi.net/en/domains/renew#renewal_restoration_and_deletion_times">"Renewal, restoration, and deletion times"</a> on the website for our registrar associate, Gandi. Amazon Route 53 requires that you renew before the end of the renewal period that is listed on the Gandi website so we can complete processing before the deadline.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableDomainAutoRenewResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableDomainAutoRenewRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#EnableDomainTransferLock':
    post:
      operationId: EnableDomainTransferLock
      description: 'This operation sets the transfer lock on the domain (specifically the <code>clientTransferProhibited</code> status) to prevent domain transfers. Successful submission returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/EnableDomainTransferLockResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/EnableDomainTransferLockRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetContactReachabilityStatus':
    post:
      operationId: GetContactReachabilityStatus
      description: '<p>For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation returns information about whether the registrant contact has responded.</p> <p>If you want us to resend the email, use the <code>ResendContactReachabilityEmail</code> operation.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetContactReachabilityStatusResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetContactReachabilityStatusRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDomainDetail':
    post:
      operationId: GetDomainDetail
      description: This operation returns detailed information about a specified domain that is associated with the current AWS account. Contact information for the domain is also returned as part of the output.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainDetailResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDomainDetailRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetDomainSuggestions':
    post:
      operationId: GetDomainSuggestions
      description: 'The GetDomainSuggestions operation returns a list of suggested domain names given a string, which can either be a domain name or simply a word or phrase (without spaces).'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetDomainSuggestionsResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetDomainSuggestionsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetOperationDetail':
    post:
      operationId: GetOperationDetail
      description: This operation returns the current status of an operation that is not completed.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetOperationDetailResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetOperationDetailRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListDomains':
    post:
      operationId: ListDomains
      description: This operation returns all the domain names registered with Amazon Route 53 for the current AWS account.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDomainsResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDomainsRequest'
        - name: MaxItems
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListOperations':
    post:
      operationId: ListOperations
      description: This operation returns the operation IDs of operations that are not yet complete.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListOperationsResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListOperationsRequest'
        - name: MaxItems
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: Marker
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTagsForDomain':
    post:
      operationId: ListTagsForDomain
      description: <p>This operation returns all of the tags that are associated with the specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RegisterDomain':
    post:
      operationId: RegisterDomain
      description: '<p>This operation registers a domain. Domains are registered either by Amazon Registrar (for .com, .net, and .org domains) or by our registrar associate, Gandi (for all other domains). For some top-level domains (TLDs), this operation requires extra parameters.</p> <p>When you register a domain, Amazon Route 53 does the following:</p> <ul> <li> <p>Creates a Amazon Route 53 hosted zone that has the same name as the domain. Amazon Route 53 assigns four name servers to your hosted zone and automatically updates your domain registration with the names of these name servers.</p> </li> <li> <p>Enables autorenew, so your domain registration will renew automatically each year. We''ll notify you in advance of the renewal date so you can choose whether to renew the registration.</p> </li> <li> <p>Optionally enables privacy protection, so WHOIS queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you don''t enable privacy protection, WHOIS queries return the information that you entered for the registrant, admin, and tech contacts.</p> </li> <li> <p>If registration is successful, returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant is notified by email.</p> </li> <li> <p>Charges your AWS account an amount based on the top-level domain. For more information, see <a href="http://aws.amazon.com/route53/pricing/">Amazon Route 53 Pricing</a>.</p> </li> </ul>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
        '482':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '483':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '484':
          description: DomainLimitExceeded
          schema:
            $ref: '#/definitions/DomainLimitExceeded'
        '485':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RenewDomain':
    post:
      operationId: RenewDomain
      description: '<p>This operation renews a domain for the specified number of years. The cost of renewing your domain is billed to your AWS account.</p> <p>We recommend that you renew your domain several weeks before the expiration date. Some TLD registries delete domains before the expiration date if you haven''t renewed far enough in advance. For more information about renewing domain registration, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-renew.html">Renewing Registration for a Domain</a> in the Amazon Route 53 Developer Guide.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RenewDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
        '482':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '483':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '484':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RenewDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ResendContactReachabilityEmail':
    post:
      operationId: ResendContactReachabilityEmail
      description: 'For operations that require confirmation that the email address for the registrant contact is valid, such as registering a new domain, this operation resends the confirmation email to the current email address for the registrant contact.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ResendContactReachabilityEmailResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ResendContactReachabilityEmailRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#RetrieveDomainAuthCode':
    post:
      operationId: RetrieveDomainAuthCode
      description: 'This operation returns the AuthCode for the domain. To transfer a domain to another registrar, you provide this value to the new registrar.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RetrieveDomainAuthCodeResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RetrieveDomainAuthCodeRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#TransferDomain':
    post:
      operationId: TransferDomain
      description: '<p>This operation transfers a domain from another registrar to Amazon Route 53. When the transfer is complete, the domain is registered either with Amazon Registrar (for .com, .net, and .org domains) or with our registrar associate, Gandi (for all other TLDs).</p> <p>For transfer requirements, a detailed procedure, and information about viewing the status of a domain transfer, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/domain-transfer-to-route-53.html">Transferring Registration for a Domain to Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>If the registrar for your domain is also the DNS service provider for the domain, we highly recommend that you consider transferring your DNS service to Amazon Route 53 or to another DNS service provider before you transfer your registration. Some registrars provide free DNS service when you purchase a domain registration. When you transfer the registration, the previous registrar will not renew your domain registration and could end your DNS service at any time.</p> <important> <p>If the registrar for your domain is also the DNS service provider for the domain and you don''t transfer DNS service to another provider, your website, email, and the web applications associated with the domain might become unavailable.</p> </important> <p>If the transfer is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the transfer doesn''t complete successfully, the domain registrant will be notified by email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TransferDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
        '482':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '483':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '484':
          description: DomainLimitExceeded
          schema:
            $ref: '#/definitions/DomainLimitExceeded'
        '485':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TransferDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateDomainContact':
    post:
      operationId: UpdateDomainContact
      description: '<p>This operation updates the contact information for a particular domain. You must specify information for at least one contact: registrant, administrator, or technical.</p> <p>If the update is successful, this method returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainContactResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDomainContactRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateDomainContactPrivacy':
    post:
      operationId: UpdateDomainContactPrivacy
      description: '<p>This operation updates the specified domain contact''s privacy setting. When privacy protection is enabled, contact information such as email address is replaced either with contact information for Amazon Registrar (for .com, .net, and .org domains) or with contact information for our registrar associate, Gandi.</p> <p>This operation affects only the contact information for the specified contact type (registrant, administrator, or tech). If the request succeeds, Amazon Route 53 returns an operation ID that you can use with <a>GetOperationDetail</a> to track the progress and completion of the action. If the request doesn''t complete successfully, the domain registrant will be notified by email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainContactPrivacyResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDomainContactPrivacyRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateDomainNameservers':
    post:
      operationId: UpdateDomainNameservers
      description: '<p>This operation replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain.</p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateDomainNameserversResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: DuplicateRequest
          schema:
            $ref: '#/definitions/DuplicateRequest'
        '482':
          description: TLDRulesViolation
          schema:
            $ref: '#/definitions/TLDRulesViolation'
        '483':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '484':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateDomainNameserversRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateTagsForDomain':
    post:
      operationId: UpdateTagsForDomain
      description: <p>This operation adds or updates tags for a specified domain.</p> <p>All tag operations are eventually consistent; subsequent operations might not immediately represent all issued operations.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateTagsForDomainResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
        '481':
          description: OperationLimitExceeded
          schema:
            $ref: '#/definitions/OperationLimitExceeded'
        '482':
          description: UnsupportedTLD
          schema:
            $ref: '#/definitions/UnsupportedTLD'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateTagsForDomainRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ViewBilling':
    post:
      operationId: ViewBilling
      description: Returns all the domain-related billing records for the current AWS account for a specified period
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ViewBillingResponse'
        '480':
          description: InvalidInput
          schema:
            $ref: '#/definitions/InvalidInput'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ViewBillingRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  CheckDomainAvailabilityResponse:
    type: object
    required:
      - Availability
    properties:
      Availability:
        $ref: '#/definitions/DomainAvailability'
        description: '<p>Whether the domain name is available for registering.</p> <note> <p>You can register only domains designated as <code>AVAILABLE</code>.</p> </note> <p>Valid values:</p> <dl> <dt>AVAILABLE</dt> <dd> <p>The domain name is available.</p> </dd> <dt>AVAILABLE_RESERVED</dt> <dd> <p>The domain name is reserved under specific conditions.</p> </dd> <dt>AVAILABLE_PREORDER</dt> <dd> <p>The domain name is available and can be preordered.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>The TLD registry didn''t reply with a definitive answer about whether the domain name is available. Amazon Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</p> </dd> <dt>PENDING</dt> <dd> <p>The TLD registry didn''t return a response in the expected amount of time. When the response is delayed, it usually takes just a few extra seconds. You can resubmit the request immediately.</p> </dd> <dt>RESERVED</dt> <dd> <p>The domain name has been reserved for another person or organization.</p> </dd> <dt>UNAVAILABLE</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_PREMIUM</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_RESTRICTED</dt> <dd> <p>The domain name is forbidden.</p> </dd> </dl>'
    description: The CheckDomainAvailability response includes the following elements.
  CheckDomainAvailabilityRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: '<p>The name of the domain that you want to get availability for.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>'
      IdnLangCode:
        $ref: '#/definitions/LangCode'
        description: Reserved for future use.
    description: The CheckDomainAvailability request contains the following elements.
  InvalidInput:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: 'The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.'
    description: 'The requested item is not acceptable. For example, for an OperationId it might refer to the ID of an operation that is already completed. For a domain name, it might not be a valid domain name or belong to the requester account.'
  UnsupportedTLD:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: Amazon Route 53 does not support this top-level domain (TLD).
    description: Amazon Route 53 does not support this top-level domain (TLD).
  CheckDomainTransferabilityResponse:
    type: object
    required:
      - Transferability
    properties:
      Transferability:
        $ref: '#/definitions/DomainTransferability'
        description: A complex type that contains information about whether the specified domain can be transferred to Amazon Route 53.
    description: The CheckDomainTransferability response includes the following elements.
  CheckDomainTransferabilityRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: '<p>The name of the domain that you want to transfer to Amazon Route 53.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>'
      AuthCode:
        $ref: '#/definitions/DomainAuthCode'
        description: 'If the registrar for the top-level domain (TLD) requires an authorization code to transfer the domain, the code that you got from the current registrar for the domain.'
    description: The CheckDomainTransferability request contains the following elements.
  DeleteTagsForDomainResponse:
    type: object
    properties: {}
  DeleteTagsForDomainRequest:
    type: object
    required:
      - DomainName
      - TagsToDelete
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The domain for which you want to delete one or more tags.
      TagsToDelete:
        $ref: '#/definitions/TagKeyList'
        description: A list of tag keys to delete.
    description: The DeleteTagsForDomainRequest includes the following elements.
  OperationLimitExceeded:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The number of operations or jobs running exceeded the allowed threshold for the account.
    description: The number of operations or jobs running exceeded the allowed threshold for the account.
  DisableDomainAutoRenewResponse:
    type: object
    properties: {}
  DisableDomainAutoRenewRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to disable automatic renewal for.
  DisableDomainTransferLockResponse:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    description: The DisableDomainTransferLock response includes the following element.
  DisableDomainTransferLockRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to remove the transfer lock for.
    description: The DisableDomainTransferLock request includes the following element.
  DuplicateRequest:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The request is already in progress for the domain.
    description: The request is already in progress for the domain.
  TLDRulesViolation:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The top-level domain does not support this operation.
    description: The top-level domain does not support this operation.
  EnableDomainAutoRenewResponse:
    type: object
    properties: {}
  EnableDomainAutoRenewRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to enable automatic renewal for.
  EnableDomainTransferLockResponse:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.'
    description: The EnableDomainTransferLock response includes the following elements.
  EnableDomainTransferLockRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to set the transfer lock for.
    description: A request to set the transfer lock for the specified domain.
  GetContactReachabilityStatusResponse:
    type: object
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: The domain name for which you requested the reachability status.
      status:
        $ref: '#/definitions/ReachabilityStatus'
        description: '<p>Whether the registrant contact has responded. Values include the following:</p> <dl> <dt>PENDING</dt> <dd> <p>We sent the confirmation email and haven''t received a response yet.</p> </dd> <dt>DONE</dt> <dd> <p>We sent the email and got confirmation from the registrant contact.</p> </dd> <dt>EXPIRED</dt> <dd> <p>The time limit expired before the registrant contact responded.</p> </dd> </dl>'
  GetContactReachabilityStatusRequest:
    type: object
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain for which you want to know whether the registrant contact has confirmed that the email address is valid.
  GetDomainDetailResponse:
    type: object
    required:
      - DomainName
      - Nameservers
      - AdminContact
      - RegistrantContact
      - TechContact
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of a domain.
      Nameservers:
        $ref: '#/definitions/NameserverList'
        description: The name of the domain.
      AutoRenew:
        $ref: '#/definitions/Boolean'
        description: Specifies whether the domain registration is set to renew automatically.
      AdminContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides details about the domain administrative contact.
      RegistrantContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides details about the domain registrant.
      TechContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides details about the domain technical contact.
      AdminPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the admin contact.'
      RegistrantPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).'
      TechPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Specifies whether contact information is concealed from WHOIS queries. If the value is <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If the value is <code>false</code>, WHOIS queries return the information that you entered for the technical contact.'
      RegistrarName:
        $ref: '#/definitions/RegistrarName'
        description: 'Name of the registrar of the domain as identified in the registry. Domains with a .com, .net, or .org TLD are registered by Amazon Registrar. All other domains are registered by our registrar associate, Gandi. The value for domains that are registered by Gandi is <code>"GANDI SAS"</code>. '
      WhoIsServer:
        $ref: '#/definitions/RegistrarWhoIsServer'
        description: The fully qualified name of the WHOIS server that can answer the WHOIS query for the domain.
      RegistrarUrl:
        $ref: '#/definitions/RegistrarUrl'
        description: Web address of the registrar.
      AbuseContactEmail:
        $ref: '#/definitions/Email'
        description: 'Email address to contact to report incorrect contact information for a domain, to report that the domain is being used to send spam, to report that someone is cybersquatting on a domain name, or report some other type of abuse.'
      AbuseContactPhone:
        $ref: '#/definitions/ContactNumber'
        description: Phone number for reporting abuse.
      RegistryDomainId:
        $ref: '#/definitions/RegistryDomainId'
        description: Reserved for future use.
      CreationDate:
        $ref: '#/definitions/Timestamp'
        description: The date when the domain was created as found in the response to a WHOIS query. The date and time is in Coordinated Universal time (UTC).
      UpdatedDate:
        $ref: '#/definitions/Timestamp'
        description: The last updated date of the domain as found in the response to a WHOIS query. The date and time is in Coordinated Universal time (UTC).
      ExpirationDate:
        $ref: '#/definitions/Timestamp'
        description: The date when the registration for the domain is set to expire. The date and time is in Coordinated Universal time (UTC).
      Reseller:
        $ref: '#/definitions/Reseller'
        description: 'Reseller of the domain. Domains registered or transferred using Amazon Route 53 domains will have <code>"Amazon"</code> as the reseller. '
      DnsSec:
        $ref: '#/definitions/DNSSec'
        description: Reserved for future use.
      StatusList:
        $ref: '#/definitions/DomainStatusList'
        description: '<p>An array of domain name status codes, also known as Extensible Provisioning Protocol (EPP) status codes.</p> <p>ICANN, the organization that maintains a central database of domain names, has developed a set of domain name status codes that tell you the status of a variety of operations on a domain name, for example, registering a domain name, transferring a domain name to another registrar, renewing the registration for a domain name, and so on. All registrars use this same set of status codes.</p> <p>For a current list of domain name status codes and an explanation of what each code means, go to the <a href="https://www.icann.org/">ICANN website</a> and search for <code>epp status codes</code>. (Search on the ICANN website; web searches sometimes return an old version of the document.)</p>'
    description: The GetDomainDetail response includes the following elements.
  GetDomainDetailRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to get detailed information about.
    description: The GetDomainDetail request includes the following element.
  GetDomainSuggestionsResponse:
    type: object
    properties:
      SuggestionsList:
        $ref: '#/definitions/DomainSuggestionsList'
        description: 'A list of possible domain names. If you specified <code>true</code> for <code>OnlyAvailable</code> in the request, the list contains only domains that are available for registration.'
  GetDomainSuggestionsRequest:
    type: object
    required:
      - DomainName
      - SuggestionCount
      - OnlyAvailable
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'A domain name that you want to use as the basis for a list of possible domain names. The domain name must contain a top-level domain (TLD), such as .com, that Amazon Route 53 supports. For a list of TLDs, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.'
      SuggestionCount:
        $ref: '#/definitions/Integer'
        description: The number of suggested domain names that you want Amazon Route 53 to return.
      OnlyAvailable:
        $ref: '#/definitions/Boolean'
        description: 'If <code>OnlyAvailable</code> is <code>true</code>, Amazon Route 53 returns only domain names that are available. If <code>OnlyAvailable</code> is <code>false</code>, Amazon Route 53 returns domain names without checking whether they''re available to be registered. To determine whether the domain is available, you can call <code>checkDomainAvailability</code> for each suggestion.'
  GetOperationDetailResponse:
    type: object
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: The identifier for the operation.
      Status:
        $ref: '#/definitions/OperationStatus'
        description: The current status of the requested operation in the system.
      Message:
        $ref: '#/definitions/ErrorMessage'
        description: Detailed information on the status including possible errors.
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of a domain.
      Type:
        $ref: '#/definitions/OperationType'
        description: The type of operation that was requested.
      SubmittedDate:
        $ref: '#/definitions/Timestamp'
        description: The date when the request was submitted.
    description: The GetOperationDetail response includes the following elements.
  GetOperationDetailRequest:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: The identifier for the operation for which you want to get the status. Amazon Route 53 returned the identifier in the response to the original request.
    description: The <a>GetOperationDetail</a> request includes the following element.
  ListDomainsResponse:
    type: object
    required:
      - Domains
    properties:
      Domains:
        $ref: '#/definitions/DomainSummaryList'
        description: A summary of domains.
      NextPageMarker:
        $ref: '#/definitions/PageMarker'
        description: 'If there are more domains than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.'
    description: The ListDomains response includes the following elements.
  ListDomainsRequest:
    type: object
    properties:
      Marker:
        $ref: '#/definitions/PageMarker'
        description: '<p>For an initial request for a list of domains, omit this element. If the number of domains that are associated with the current AWS account is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional domains. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.</p> <p>Constraints: The marker must match the value specified in the previous request.</p>'
      MaxItems:
        $ref: '#/definitions/PageMaxItems'
        description: '<p>Number of domains to be returned.</p> <p>Default: 20</p>'
    description: The ListDomains request includes the following elements.
  ListOperationsResponse:
    type: object
    required:
      - Operations
    properties:
      Operations:
        $ref: '#/definitions/OperationSummaryList'
        description: Lists summaries of the operations.
      NextPageMarker:
        $ref: '#/definitions/PageMarker'
        description: 'If there are more operations than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.'
    description: The ListOperations response includes the following elements.
  ListOperationsRequest:
    type: object
    properties:
      SubmittedSince:
        $ref: '#/definitions/Timestamp'
        description: An optional parameter that lets you get information about all the operations that you submitted after a specified date and time. Specify the date and time in Coordinated Universal time (UTC).
      Marker:
        $ref: '#/definitions/PageMarker'
        description: 'For an initial request for a list of operations, omit this element. If the number of operations that are not yet complete is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional operations. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element.'
      MaxItems:
        $ref: '#/definitions/PageMaxItems'
        description: '<p>Number of domains to be returned.</p> <p>Default: 20</p>'
    description: The ListOperations request includes the following elements.
  ListTagsForDomainResponse:
    type: object
    required:
      - TagList
    properties:
      TagList:
        $ref: '#/definitions/TagList'
        description: A list of the tags that are associated with the specified domain.
    description: The ListTagsForDomain response includes the following elements.
  ListTagsForDomainRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The domain for which you want to get a list of tags.
    description: The ListTagsForDomainRequest includes the following elements.
  RegisterDomainResponse:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    description: The RegisterDomain response includes the following element.
  RegisterDomainRequest:
    type: object
    required:
      - DomainName
      - DurationInYears
      - AdminContact
      - RegistrantContact
      - TechContact
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: '<p>The domain name that you want to register.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>'
      IdnLangCode:
        $ref: '#/definitions/LangCode'
        description: Reserved for future use.
      DurationInYears:
        $ref: '#/definitions/DurationInYears'
        description: '<p>The number of years that you want to register the domain for. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain. For the range of valid values for your domain, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Default: 1</p>'
      AutoRenew:
        $ref: '#/definitions/Boolean'
        description: '<p>Indicates whether the domain will be automatically renewed (<code>true</code>) or not (<code>false</code>). Autorenewal only takes effect after the account is charged.</p> <p>Default: <code>true</code> </p>'
      AdminContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      RegistrantContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      TechContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      PrivacyProtectAdminContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the admin contact.</p> <p>Default: <code>true</code> </p>'
      PrivacyProtectRegistrantContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (the domain owner).</p> <p>Default: <code>true</code> </p>'
      PrivacyProtectTechContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the technical contact.</p> <p>Default: <code>true</code> </p>'
    description: The RegisterDomain request includes the following elements.
  DomainLimitExceeded:
    type: object
    properties:
      message:
        $ref: '#/definitions/ErrorMessage'
        description: The number of domains has exceeded the allowed threshold for the account.
    description: The number of domains has exceeded the allowed threshold for the account.
  RenewDomainResponse:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'The identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
  RenewDomainRequest:
    type: object
    required:
      - DomainName
      - CurrentExpiryYear
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to renew.
      DurationInYears:
        $ref: '#/definitions/DurationInYears'
        description: '<p>The number of years that you want to renew the domain for. The maximum number of years depends on the top-level domain. For the range of valid values for your domain, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/registrar-tld-list.html">Domains that You Can Register with Amazon Route 53</a> in the <i>Amazon Route 53 Developer Guide</i>.</p> <p>Default: 1</p>'
      CurrentExpiryYear:
        $ref: '#/definitions/CurrentExpiryYear'
        description: The year when the registration for the domain is set to expire. This value must match the current expiration date for the domain.
    description: A <code>RenewDomain</code> request includes the number of years that you want to renew for and the current expiration year.
  ResendContactReachabilityEmailResponse:
    type: object
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: The domain name for which you requested a confirmation email.
      emailAddress:
        $ref: '#/definitions/Email'
        description: The email address for the registrant contact at the time that we sent the verification email.
      isAlreadyVerified:
        $ref: '#/definitions/Boolean'
        description: ' <code>True</code> if the email address for the registrant contact has already been verified, and <code>false</code> otherwise. If the email address has already been verified, we don''t send another confirmation email.'
  ResendContactReachabilityEmailRequest:
    type: object
    properties:
      domainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain for which you want Amazon Route 53 to resend a confirmation email to the registrant contact.
  RetrieveDomainAuthCodeResponse:
    type: object
    required:
      - AuthCode
    properties:
      AuthCode:
        $ref: '#/definitions/DomainAuthCode'
        description: The authorization code for the domain.
    description: The RetrieveDomainAuthCode response includes the following element.
  RetrieveDomainAuthCodeRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to get an authorization code for.
    description: 'A request for the authorization code for the specified domain. To transfer a domain to another registrar, you provide this value to the new registrar.'
  TransferDomainResponse:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    description: The TranserDomain response includes the following element.
  TransferDomainRequest:
    type: object
    required:
      - DomainName
      - DurationInYears
      - AdminContact
      - RegistrantContact
      - TechContact
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: '<p>The name of the domain that you want to transfer to Amazon Route 53.</p> <p>Constraints: The domain name can contain only the letters a through z, the numbers 0 through 9, and hyphen (-). Internationalized Domain Names are not supported.</p>'
      IdnLangCode:
        $ref: '#/definitions/LangCode'
        description: Reserved for future use.
      DurationInYears:
        $ref: '#/definitions/DurationInYears'
        description: '<p>The number of years that you want to register the domain for. Domains are registered for a minimum of one year. The maximum period depends on the top-level domain.</p> <p>Default: 1</p>'
      Nameservers:
        $ref: '#/definitions/NameserverList'
        description: Contains details for the host and glue IP addresses.
      AuthCode:
        $ref: '#/definitions/DomainAuthCode'
        description: The authorization code for the domain. You get this value from the current registrar.
      AutoRenew:
        $ref: '#/definitions/Boolean'
        description: '<p>Indicates whether the domain will be automatically renewed (true) or not (false). Autorenewal only takes effect after the account is charged.</p> <p>Default: true</p>'
      AdminContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      RegistrantContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      TechContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      PrivacyProtectAdminContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the admin contact.</p> <p>Default: <code>true</code> </p>'
      PrivacyProtectRegistrantContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).</p> <p>Default: <code>true</code> </p>'
      PrivacyProtectTechContact:
        $ref: '#/definitions/Boolean'
        description: '<p>Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the technical contact.</p> <p>Default: <code>true</code> </p>'
    description: The TransferDomain request includes the following elements.
  UpdateDomainContactResponse:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    description: The UpdateDomainContact response includes the following element.
  UpdateDomainContactRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to update contact information for.
      AdminContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      RegistrantContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
      TechContact:
        $ref: '#/definitions/ContactDetail'
        description: Provides detailed contact information.
    description: The UpdateDomainContact request includes the following elements.
  UpdateDomainContactPrivacyResponse:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use GetOperationDetail.'
    description: The UpdateDomainContactPrivacy response includes the following element.
  UpdateDomainContactPrivacyRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to update the privacy setting for.
      AdminPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the admin contact.'
      RegistrantPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the registrant contact (domain owner).'
      TechPrivacy:
        $ref: '#/definitions/Boolean'
        description: 'Whether you want to conceal contact information from WHOIS queries. If you specify <code>true</code>, WHOIS ("who is") queries return contact information either for Amazon Registrar (for .com, .net, and .org domains) or for our registrar associate, Gandi (for all other TLDs). If you specify <code>false</code>, WHOIS queries return the information that you entered for the technical contact.'
    description: The UpdateDomainContactPrivacy request includes the following elements.
  UpdateDomainNameserversResponse:
    type: object
    required:
      - OperationId
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: 'Identifier for tracking the progress of the request. To use this ID to query the operation status, use <a>GetOperationDetail</a>.'
    description: The UpdateDomainNameservers response includes the following element.
  UpdateDomainNameserversRequest:
    type: object
    required:
      - DomainName
      - Nameservers
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that you want to change name servers for.
      FIAuthKey:
        $ref: '#/definitions/FIAuthKey'
        description: The authorization key for .fi domains
      Nameservers:
        $ref: '#/definitions/NameserverList'
        description: A list of new name servers for the domain.
    description: '<p>Replaces the current set of name servers for the domain with the specified set of name servers. If you use Amazon Route 53 as your DNS service, specify the four name servers in the delegation set for the hosted zone for the domain.</p> <p>If successful, this operation returns an operation ID that you can use to track the progress and completion of the action. If the request is not completed successfully, the domain registrant will be notified by email. </p>'
  UpdateTagsForDomainResponse:
    type: object
    properties: {}
  UpdateTagsForDomainRequest:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The domain for which you want to add or update tags.
      TagsToUpdate:
        $ref: '#/definitions/TagList'
        description: 'A list of the tag keys and values that you want to add or update. If you specify a key that already exists, the corresponding value will be replaced.'
    description: The UpdateTagsForDomainRequest includes the following elements.
  ViewBillingResponse:
    type: object
    properties:
      NextPageMarker:
        $ref: '#/definitions/PageMarker'
        description: 'If there are more billing records than you specified for <code>MaxItems</code> in the request, submit another request and include the value of <code>NextPageMarker</code> in the value of <code>Marker</code>.'
      BillingRecords:
        $ref: '#/definitions/BillingRecords'
        description: A summary of billing records.
    description: The ViewBilling response includes the following elements.
  ViewBillingRequest:
    type: object
    properties:
      Start:
        $ref: '#/definitions/Timestamp'
        description: The beginning date and time for the time period for which you want a list of billing records. Specify the date and time in Coordinated Universal time (UTC).
      End:
        $ref: '#/definitions/Timestamp'
        description: The end date and time for the time period for which you want a list of billing records. Specify the date and time in Coordinated Universal time (UTC).
      Marker:
        $ref: '#/definitions/PageMarker'
        description: '<p>For an initial request for a list of billing records, omit this element. If the number of billing records that are associated with the current AWS account during the specified period is greater than the value that you specified for <code>MaxItems</code>, you can use <code>Marker</code> to return additional billing records. Get the value of <code>NextPageMarker</code> from the previous response, and submit another request that includes the value of <code>NextPageMarker</code> in the <code>Marker</code> element. </p> <p>Constraints: The marker must match the value of <code>NextPageMarker</code> that was returned in the previous response.</p>'
      MaxItems:
        $ref: '#/definitions/PageMaxItems'
        description: '<p>The number of billing records to be returned.</p> <p>Default: 20</p>'
    description: The ViewBilling request includes the following elements.
  AddressLine:
    type: string
    maxLength: 255
  DomainName:
    type: string
    maxLength: 255
  OperationType:
    type: string
    enum:
      - REGISTER_DOMAIN
      - DELETE_DOMAIN
      - TRANSFER_IN_DOMAIN
      - UPDATE_DOMAIN_CONTACT
      - UPDATE_NAMESERVER
      - CHANGE_PRIVACY_PROTECTION
      - DOMAIN_LOCK
      - ENABLE_AUTORENEW
      - DISABLE_AUTORENEW
      - ADD_DNSSEC
      - REMOVE_DNSSEC
      - EXPIRE_DOMAIN
      - TRANSFER_OUT_DOMAIN
      - CHANGE_DOMAIN_OWNER
      - RENEW_DOMAIN
      - PUSH_DOMAIN
  InvoiceId:
    type: string
  Timestamp:
    type: string
    format: date-time
  Price:
    type: number
    format: double
  BillingRecord:
    type: object
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: 'The name of the domain that the billing record applies to. If the domain name contains characters other than a-z, 0-9, and - (hyphen), such as an internationalized domain name, then this value is in Punycode. For more information, see <a href="http://docs.aws.amazon.com/Route53/latest/DeveloperGuide/DomainNameFormat.html">DNS Domain Name Format</a> in the <i>Amazon Route 53 Developer Guidezzz</i>.'
      Operation:
        $ref: '#/definitions/OperationType'
        description: The operation that you were charged for.
      InvoiceId:
        $ref: '#/definitions/InvoiceId'
        description: The ID of the invoice that is associated with the billing record.
      BillDate:
        $ref: '#/definitions/Timestamp'
        description: 'The date that the operation was billed, in Unix format.'
      Price:
        $ref: '#/definitions/Price'
        description: '<p>The price that you were charged for the operation, in US dollars.</p> <p>Example value: 12.0</p>'
    description: Information for one billing record.
  BillingRecords:
    type: array
    items:
      $ref: '#/definitions/BillingRecord'
  Boolean:
    type: boolean
  LangCode:
    type: string
    maxLength: 3
  DomainAvailability:
    type: string
    enum:
      - AVAILABLE
      - AVAILABLE_RESERVED
      - AVAILABLE_PREORDER
      - UNAVAILABLE
      - UNAVAILABLE_PREMIUM
      - UNAVAILABLE_RESTRICTED
      - RESERVED
      - DONT_KNOW
  DomainAuthCode:
    type: string
    maxLength: 1024
    format: password
  DomainTransferability:
    type: object
    properties:
      Transferable:
        $ref: '#/definitions/Transferable'
    description: A complex type that contains information about whether the specified domain can be transferred to Amazon Route 53.
  City:
    type: string
    maxLength: 255
  ContactName:
    type: string
    maxLength: 255
  ContactType:
    type: string
    enum:
      - PERSON
      - COMPANY
      - ASSOCIATION
      - PUBLIC_BODY
      - RESELLER
  State:
    type: string
    maxLength: 255
  CountryCode:
    type: string
    enum:
      - AD
      - AE
      - AF
      - AG
      - AI
      - AL
      - AM
      - AN
      - AO
      - AQ
      - AR
      - AS
      - AT
      - AU
      - AW
      - AZ
      - BA
      - BB
      - BD
      - BE
      - BF
      - BG
      - BH
      - BI
      - BJ
      - BL
      - BM
      - BN
      - BO
      - BR
      - BS
      - BT
      - BW
      - BY
      - BZ
      - CA
      - CC
      - CD
      - CF
      - CG
      - CH
      - CI
      - CK
      - CL
      - CM
      - CN
      - CO
      - CR
      - CU
      - CV
      - CX
      - CY
      - CZ
      - DE
      - DJ
      - DK
      - DM
      - DO
      - DZ
      - EC
      - EE
      - EG
      - ER
      - ES
      - ET
      - FI
      - FJ
      - FK
      - FM
      - FO
      - FR
      - GA
      - GB
      - GD
      - GE
      - GH
      - GI
      - GL
      - GM
      - GN
      - GQ
      - GR
      - GT
      - GU
      - GW
      - GY
      - HK
      - HN
      - HR
      - HT
      - HU
      - ID
      - IE
      - IL
      - IM
      - IN
      - IQ
      - IR
      - IS
      - IT
      - JM
      - JO
      - JP
      - KE
      - KG
      - KH
      - KI
      - KM
      - KN
      - KP
      - KR
      - KW
      - KY
      - KZ
      - LA
      - LB
      - LC
      - LI
      - LK
      - LR
      - LS
      - LT
      - LU
      - LV
      - LY
      - MA
      - MC
      - MD
      - ME
      - MF
      - MG
      - MH
      - MK
      - ML
      - MM
      - MN
      - MO
      - MP
      - MR
      - MS
      - MT
      - MU
      - MV
      - MW
      - MX
      - MY
      - MZ
      - NA
      - NC
      - NE
      - NG
      - NI
      - NL
      - 'NO'
      - NP
      - NR
      - NU
      - NZ
      - OM
      - PA
      - PE
      - PF
      - PG
      - PH
      - PK
      - PL
      - PM
      - PN
      - PR
      - PT
      - PW
      - PY
      - QA
      - RO
      - RS
      - RU
      - RW
      - SA
      - SB
      - SC
      - SD
      - SE
      - SG
      - SH
      - SI
      - SK
      - SL
      - SM
      - SN
      - SO
      - SR
      - ST
      - SV
      - SY
      - SZ
      - TC
      - TD
      - TG
      - TH
      - TJ
      - TK
      - TL
      - TM
      - TN
      - TO
      - TR
      - TT
      - TV
      - TW
      - TZ
      - UA
      - UG
      - US
      - UY
      - UZ
      - VA
      - VC
      - VE
      - VG
      - VI
      - VN
      - VU
      - WF
      - WS
      - YE
      - YT
      - ZA
      - ZM
      - ZW
  ZipCode:
    type: string
    maxLength: 255
  ContactNumber:
    type: string
    maxLength: 30
  Email:
    type: string
    maxLength: 254
  ExtraParamList:
    type: array
    items:
      $ref: '#/definitions/ExtraParam'
  ContactDetail:
    type: object
    properties:
      FirstName:
        $ref: '#/definitions/ContactName'
        description: First name of contact.
      LastName:
        $ref: '#/definitions/ContactName'
        description: Last name of contact.
      ContactType:
        $ref: '#/definitions/ContactType'
        description: 'Indicates whether the contact is a person, company, association, or public organization. If you choose an option other than <code>PERSON</code>, you must enter an organization name, and you can''t enable privacy protection for the contact.'
      OrganizationName:
        $ref: '#/definitions/ContactName'
        description: Name of the organization for contact types other than <code>PERSON</code>.
      AddressLine1:
        $ref: '#/definitions/AddressLine'
        description: First line of the contact's address.
      AddressLine2:
        $ref: '#/definitions/AddressLine'
        description: 'Second line of contact''s address, if any.'
      City:
        $ref: '#/definitions/City'
        description: The city of the contact's address.
      State:
        $ref: '#/definitions/State'
        description: The state or province of the contact's city.
      CountryCode:
        $ref: '#/definitions/CountryCode'
        description: Code for the country of the contact's address.
      ZipCode:
        $ref: '#/definitions/ZipCode'
        description: The zip or postal code of the contact's address.
      PhoneNumber:
        $ref: '#/definitions/ContactNumber'
        description: '<p>The phone number of the contact.</p> <p>Constraints: Phone number must be specified in the format "+[country dialing code].[number including any area code&gt;]". For example, a US phone number might appear as <code>"+1.1234567890"</code>.</p>'
      Email:
        $ref: '#/definitions/Email'
        description: Email address of the contact.
      Fax:
        $ref: '#/definitions/ContactNumber'
        description: '<p>Fax number of the contact.</p> <p>Constraints: Phone number must be specified in the format "+[country dialing code].[number including any area code]". For example, a US phone number might appear as <code>"+1.1234567890"</code>.</p>'
      ExtraParams:
        $ref: '#/definitions/ExtraParamList'
        description: A list of name-value pairs for parameters required by certain top-level domains.
    description: ContactDetail includes the following elements.
  CurrentExpiryYear:
    type: integer
  DNSSec:
    type: string
  TagKeyList:
    type: array
    items:
      $ref: '#/definitions/TagKey'
  OperationId:
    type: string
    maxLength: 255
  ErrorMessage:
    type: string
  DomainStatus:
    type: string
  DomainStatusList:
    type: array
    items:
      $ref: '#/definitions/DomainStatus'
  String:
    type: string
  DomainSuggestion:
    type: object
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: A suggested domain name.
      Availability:
        $ref: '#/definitions/String'
        description: '<p>Whether the domain name is available for registering.</p> <note> <p>You can register only the domains that are designated as <code>AVAILABLE</code>.</p> </note> <p>Valid values:</p> <dl> <dt>AVAILABLE</dt> <dd> <p>The domain name is available.</p> </dd> <dt>AVAILABLE_RESERVED</dt> <dd> <p>The domain name is reserved under specific conditions.</p> </dd> <dt>AVAILABLE_PREORDER</dt> <dd> <p>The domain name is available and can be preordered.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>The TLD registry didn''t reply with a definitive answer about whether the domain name is available. Amazon Route 53 can return this response for a variety of reasons, for example, the registry is performing maintenance. Try again later.</p> </dd> <dt>PENDING</dt> <dd> <p>The TLD registry didn''t return a response in the expected amount of time. When the response is delayed, it usually takes just a few extra seconds. You can resubmit the request immediately.</p> </dd> <dt>RESERVED</dt> <dd> <p>The domain name has been reserved for another person or organization.</p> </dd> <dt>UNAVAILABLE</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_PREMIUM</dt> <dd> <p>The domain name is not available.</p> </dd> <dt>UNAVAILABLE_RESTRICTED</dt> <dd> <p>The domain name is forbidden.</p> </dd> </dl>'
    description: Information about one suggested domain name.
  DomainSuggestionsList:
    type: array
    items:
      $ref: '#/definitions/DomainSuggestion'
  DomainSummary:
    type: object
    required:
      - DomainName
    properties:
      DomainName:
        $ref: '#/definitions/DomainName'
        description: The name of the domain that the summary information applies to.
      AutoRenew:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the domain is automatically renewed upon expiration.
      TransferLock:
        $ref: '#/definitions/Boolean'
        description: Indicates whether a domain is locked from unauthorized transfer to another party.
      Expiry:
        $ref: '#/definitions/Timestamp'
        description: Expiration date of the domain in Coordinated Universal Time (UTC).
    description: Summary information about one domain.
  DomainSummaryList:
    type: array
    items:
      $ref: '#/definitions/DomainSummary'
  Transferable:
    type: string
    enum:
      - TRANSFERABLE
      - UNTRANSFERABLE
      - DONT_KNOW
    description: '<p>Whether the domain name can be transferred to Amazon Route 53.</p> <note> <p>You can transfer only domains that have a value of <code>TRANSFERABLE</code> for <code>Transferable</code>.</p> </note> <p>Valid values:</p> <dl> <dt>TRANSFERABLE</dt> <dd> <p>The domain name can be transferred to Amazon Route 53.</p> </dd> <dt>UNTRANSFERRABLE</dt> <dd> <p>The domain name can''t be transferred to Amazon Route 53.</p> </dd> <dt>DONT_KNOW</dt> <dd> <p>Reserved for future use.</p> </dd> </dl>'
  DurationInYears:
    type: integer
    minimum: 1
    maximum: 10
  ExtraParamName:
    type: string
    enum:
      - DUNS_NUMBER
      - BRAND_NUMBER
      - BIRTH_DEPARTMENT
      - BIRTH_DATE_IN_YYYY_MM_DD
      - BIRTH_COUNTRY
      - BIRTH_CITY
      - DOCUMENT_NUMBER
      - AU_ID_NUMBER
      - AU_ID_TYPE
      - CA_LEGAL_TYPE
      - CA_BUSINESS_ENTITY_TYPE
      - ES_IDENTIFICATION
      - ES_IDENTIFICATION_TYPE
      - ES_LEGAL_FORM
      - FI_BUSINESS_NUMBER
      - FI_ID_NUMBER
      - FI_NATIONALITY
      - FI_ORGANIZATION_TYPE
      - IT_PIN
      - IT_REGISTRANT_ENTITY_TYPE
      - RU_PASSPORT_DATA
      - SE_ID_NUMBER
      - SG_ID_NUMBER
      - VAT_NUMBER
      - UK_CONTACT_TYPE
      - UK_COMPANY_NUMBER
  ExtraParamValue:
    type: string
    maxLength: 2048
  ExtraParam:
    type: object
    required:
      - Name
      - Value
    properties:
      Name:
        $ref: '#/definitions/ExtraParamName'
        description: '<p>Name of the additional parameter required by the top-level domain. Here are the top-level domains that require additional parameters and which parameters they require:</p> <ul> <li> <p> <b>.com.au and .net.au:</b> <code>AU_ID_NUMBER</code> and <code>AU_ID_TYPE</code> </p> </li> <li> <p> <b>.ca:</b> <code>BRAND_NUMBER</code>, <code>CA_LEGAL_TYPE</code>, and <code>CA_BUSINESS_ENTITY_TYPE</code> </p> </li> <li> <p> <b>.es:</b> <code>ES_IDENTIFICATION</code>, <code>ES_IDENTIFICATION_TYPE</code>, and <code>ES_LEGAL_FORM</code> </p> </li> <li> <p> <b>.fi:</b> <code>BIRTH_DATE_IN_YYYY_MM_DD</code>, <code>FI_BUSINESS_NUMBER</code>, <code>FI_ID_NUMBER</code>, <code>FI_NATIONALITY</code>, and <code>FI_ORGANIZATION_TYPE</code> </p> </li> <li> <p> <b>.fr:</b> <code>BRAND_NUMBER</code>, <code>BIRTH_DEPARTMENT</code>, <code>BIRTH_DATE_IN_YYYY_MM_DD</code>, <code>BIRTH_COUNTRY</code>, and <code>BIRTH_CITY</code> </p> </li> <li> <p> <b>.it:</b> <code>BIRTH_COUNTRY</code>, <code>IT_PIN</code>, and <code>IT_REGISTRANT_ENTITY_TYPE</code> </p> </li> <li> <p> <b>.ru:</b> <code>BIRTH_DATE_IN_YYYY_MM_DD</code> and <code>RU_PASSPORT_DATA</code> </p> </li> <li> <p> <b>.se:</b> <code>BIRTH_COUNTRY</code> and <code>SE_ID_NUMBER</code> </p> </li> <li> <p> <b>.sg:</b> <code>SG_ID_NUMBER</code> </p> </li> <li> <p> <b>.co.uk, .me.uk, and .org.uk:</b> <code>UK_CONTACT_TYPE</code> and <code>UK_COMPANY_NUMBER</code> </p> </li> </ul> <p>In addition, many TLDs require <code>VAT_NUMBER</code>.</p>'
      Value:
        $ref: '#/definitions/ExtraParamValue'
        description: Values corresponding to the additional parameter names required by some top-level domains.
    description: ExtraParam includes the following elements.
  FIAuthKey:
    type: string
  ReachabilityStatus:
    type: string
    enum:
      - PENDING
      - DONE
      - EXPIRED
  NameserverList:
    type: array
    items:
      $ref: '#/definitions/Nameserver'
  RegistrarName:
    type: string
  RegistrarWhoIsServer:
    type: string
  RegistrarUrl:
    type: string
  RegistryDomainId:
    type: string
  Reseller:
    type: string
  Integer:
    type: integer
  OperationStatus:
    type: string
    enum:
      - SUBMITTED
      - IN_PROGRESS
      - ERROR
      - SUCCESSFUL
      - FAILED
  GlueIp:
    type: string
    maxLength: 45
  GlueIpList:
    type: array
    items:
      $ref: '#/definitions/GlueIp'
  HostName:
    type: string
    pattern: '[a-zA-Z0-9_\-.]*'
    maxLength: 255
  PageMarker:
    type: string
    maxLength: 4096
  PageMaxItems:
    type: integer
    maximum: 100
  OperationSummaryList:
    type: array
    items:
      $ref: '#/definitions/OperationSummary'
  TagList:
    type: array
    items:
      $ref: '#/definitions/Tag'
  Nameserver:
    type: object
    required:
      - Name
    properties:
      Name:
        $ref: '#/definitions/HostName'
        description: '<p>The fully qualified host name of the name server.</p> <p>Constraint: Maximum 255 characters</p>'
      GlueIps:
        $ref: '#/definitions/GlueIpList'
        description: '<p>Glue IP address of a name server entry. Glue IP addresses are required only when the name of the name server is a subdomain of the domain. For example, if your domain is example.com and the name server for the domain is ns.example.com, you need to specify the IP address for ns.example.com.</p> <p>Constraints: The list can contain only one IPv4 and one IPv6 address.</p>'
    description: Nameserver includes the following elements.
  OperationSummary:
    type: object
    required:
      - OperationId
      - Status
      - Type
      - SubmittedDate
    properties:
      OperationId:
        $ref: '#/definitions/OperationId'
        description: Identifier returned to track the requested action.
      Status:
        $ref: '#/definitions/OperationStatus'
        description: The current status of the requested operation in the system.
      Type:
        $ref: '#/definitions/OperationType'
        description: Type of the action requested.
      SubmittedDate:
        $ref: '#/definitions/Timestamp'
        description: The date when the request was submitted.
    description: OperationSummary includes the following elements.
  TagKey:
    type: string
  TagValue:
    type: string
  Tag:
    type: object
    properties:
      Key:
        $ref: '#/definitions/TagKey'
        description: '<p>The key (name) of a tag.</p> <p>Valid values: A-Z, a-z, 0-9, space, ".:/=+\-@"</p> <p>Constraints: Each key can be 1-128 characters long.</p>'
      Value:
        $ref: '#/definitions/TagValue'
        description: '<p>The value of a tag.</p> <p>Valid values: A-Z, a-z, 0-9, space, ".:/=+\-@"</p> <p>Constraints: Each value can be 0-256 characters long.</p>'
    description: Each tag includes the following elements.
