swagger: '2.0'
schemes:
  - https
host: southcentralus.api.cognitive.microsoft.com
basePath: /customvision/v2.1/Training
info:
  contact:
    x-twitter: microsoft
  title: TrainingApi
  version: '2.1'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://twitter.com/microsoft/profile_image?size=original'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/specification/cognitiveservices/data-plane/CustomVision/Training/stable/v2.1/Training.json'
      version: '2.0'
  x-preferred: false
  x-providerName: microsoft.com
  x-serviceName: cognitiveservices-Training
  x-tags:
    - Microsoft
parameters:
  ApiKey:
    in: header
    name: Training-Key
    required: true
    type: string
    x-ms-client-name: ApiKey
    x-ms-parameter-location: client
paths:
  /domains:
    get:
      consumes: []
      operationId: GetDomains
      parameters:
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Domain'
            type: array
            x-nullable: true
      summary: Get a list of the available domains
      tags:
        - DomainsApi
      x-ms-examples:
        Successful GetDomains request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
          responses:
            '200':
              body:
                - exportable: false
                  id: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                  name: General
                - exportable: false
                  id: c151d5b5-dd07-472a-acc8-15d29dea8518
                  name: Food
                - exportable: false
                  id: ca455789-012d-4b50-9fec-5bb63841c793
                  name: Landmarks
                - exportable: false
                  id: b30a91ae-e3c1-4f73-a81e-c270bff27c39
                  name: Retail
                - exportable: false
                  id: 45badf75-3591-4f26-a705-45678d3e9f5f
                  name: Adult
                - exportable: true
                  id: 0732100f-1a38-4e49-a514-c9b44c697ab5
                  name: General (compact)
                - exportable: true
                  id: b5cfd229-2ac7-4b2b-8d0a-2b0661344894
                  name: Landmarks (compact)
                - exportable: true
                  id: 6b4faeda-8396-481b-9f8b-177b9fa3097f
                  name: Retail (compact)
              headers: {}
  '/domains/{domainId}':
    get:
      consumes: []
      operationId: GetDomain
      parameters:
        - description: The id of the domain to get information about
          format: uuid
          in: path
          name: domainId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Domain'
      summary: Get information about a specific domain
      tags:
        - DomainsApi
      x-ms-examples:
        Successful GetDomain request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            domainId: b30a91ae-e3c1-4f73-a81e-c270bff27c39
          responses:
            '200':
              body:
                exportable: false
                id: b30a91ae-e3c1-4f73-a81e-c270bff27c39
                name: Retail
              headers: {}
  /projects:
    get:
      consumes: []
      operationId: GetProjects
      parameters:
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Project'
            type: array
            x-nullable: true
      summary: Get your projects
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetProjects request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
          responses:
            '200':
              body:
                - created: '2017-12-18T05:43:18.08Z'
                  description: ''
                  id: bc3f7dad-5544-468c-8573-3ef04d55463e
                  lastModified: '2017-12-18T05:43:18.0962423Z'
                  name: My New Project
                  settings:
                    domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                  thumbnailUri: null
              headers: {}
    post:
      consumes: []
      operationId: CreateProject
      parameters:
        - description: Name of the project
          in: query
          name: name
          required: true
          type: string
          x-nullable: true
        - description: The description of the project
          in: query
          name: description
          required: false
          type: string
          x-nullable: true
        - description: The id of the domain to use for this project. Defaults to General
          format: uuid
          in: query
          name: domainId
          required: false
          type: string
          x-nullable: true
        - description: The type of classifier to create for this project
          enum:
            - Multiclass
            - Multilabel
          in: query
          name: classificationType
          required: false
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
      summary: Create a project
      tags:
        - ProjectApi
      x-ms-examples:
        Successful CreateProject request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            description: A test project
            domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
            name: My New Project
          responses:
            '200':
              body:
                created: '2017-12-18T05:43:18.08Z'
                description: A test project
                id: bc3f7dad-5544-468c-8573-3ef04d55463e
                lastModified: '2017-12-18T05:43:18.0962423Z'
                name: My New Project
                settings:
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                thumbnailUri: null
              headers: {}
  '/projects/{projectId}':
    delete:
      consumes: []
      operationId: DeleteProject
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Delete a specific project
      tags:
        - ProjectApi
      x-ms-examples:
        Successful DeleteProject request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '204':
              body: ''
              headers: {}
    get:
      consumes: []
      operationId: GetProject
      parameters:
        - description: The id of the project to get
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
      summary: Get a specific project
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetProject request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                created: '2017-12-18T05:43:18.08Z'
                description: A test project
                id: bc3f7dad-5544-468c-8573-3ef04d55463e
                lastModified: '2017-12-18T05:43:18.0962423Z'
                name: My New Project
                settings:
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                thumbnailUri: null
              headers: {}
    patch:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: UpdateProject
      parameters:
        - description: The id of the project to update
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The updated project model
          in: body
          name: updatedProject
          required: true
          schema:
            $ref: '#/definitions/Project'
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Project'
      summary: Update a specific project
      tags:
        - ProjectApi
      x-ms-examples:
        Successful UpdateProject request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            updatedProject:
              description: A new Description
              name: New Project Name
          responses:
            '200':
              body:
                created: '2017-12-18T05:43:18.08Z'
                description: A new Description
                id: bc3f7dad-5544-468c-8573-3ef04d55463e
                lastModified: '2017-12-18T05:43:18.0962423Z'
                name: New Project Name
                settings:
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                thumbnailUri: null
              headers: {}
  '/projects/{projectId}/images':
    delete:
      consumes: []
      operationId: DeleteImages
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Ids of the images to be deleted. Limted to 256 images per batch
          in: query
          items:
            type: string
            x-nullable: false
          name: imageIds
          required: true
          type: array
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Delete images from the set of training images
      tags:
        - ImageApi
      x-ms-examples:
        Successful DeleteImages request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            imageIds:
              - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
              - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '204':
              body: ''
              headers: {}
    post:
      consumes:
        - multipart/form-data
        - application/octet-stream
      description: "This API accepts body content as multipart/form-data and application/octet-stream. When using multipart\r\nmultiple image files can be sent at once, with a maximum of 64 files"
      operationId: CreateImagesFromData
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: The tags ids with which to tag each image. Limited to 20
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - in: formData
          name: imageData
          required: true
          type: file
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
      summary: Add the provided images to the set of training images
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromData request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            imageData: multipart data
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds:
              - b607964f-7bd6-4a3b-a869-6791fb6aab87
          responses:
            '200':
              body:
                images:
                  - image:
                      created: '2017-12-19T15:56:10.65Z'
                      height: 900
                      id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                      imageUri: '{Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09.6105895Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 1095
                    sourceUrl: '"hemlock_10.jpg"'
                    status: OK
                  - image:
                      created: '2017-12-19T15:56:10.57Z'
                      height: 1531
                      id: f1855a92-b873-47e7-b513-f07a667ceda1
                      imageUri: '{Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09.5168568Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 900
                    sourceUrl: '"hemlock_6.jpg"'
                    status: OK
                isBatchSuccessful: true
              headers: {}
  '/projects/{projectId}/images/files':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: 'This API accepts a batch of files, and optionally tags, to create images. There is a limit of 64 images and 20 tags.'
      operationId: CreateImagesFromFiles
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The batch of image files to add. Limited to 64 images and 20 tags per batch
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageFileCreateBatch'
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
      summary: Add the provided batch of images to the set of training images
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromFiles request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            batch:
              images:
                - contents: '{image contents}'
                  name: hemlock_10.jpg
              tagIds:
                - b607964f-7bd6-4a3b-a869-6791fb6aab87
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds: b607964f-7bd6-4a3b-a869-6791fb6aab87
          responses:
            '200':
              body:
                images:
                  - image:
                      created: '2017-12-19T15:56:10.65Z'
                      height: 900
                      id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                      imageUri: '{Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09.6105895Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 1095
                    sourceUrl: '"hemlock_10.jpg"'
                    status: OK
                isBatchSuccessful: true
              headers: {}
  '/projects/{projectId}/images/id':
    get:
      consumes: []
      description: "This API will return a set of Images for the specified tags and optionally iteration. If no iteration is specified the\r\ncurrent workspace is used."
      operationId: GetImagesByIds
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: The list of image ids to retrieve. Limited to 256
          in: query
          items:
            type: string
            x-nullable: false
          name: imageIds
          required: false
          type: array
          x-nullable: true
        - description: The iteration id. Defaults to workspace
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Image'
            type: array
            x-nullable: true
      summary: Get images by id for a given project iteration
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetImagesByIds request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: []
              headers: {}
  '/projects/{projectId}/images/predictions':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: This API creates a batch of images from predicted images specified. There is a limit of 64 images and 20 tags.
      operationId: CreateImagesFromPredictions
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Image and tag ids. Limted to 64 images and 20 tags per batch
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageIdCreateBatch'
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
      summary: Add the specified predicted images to the set of training images
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromPredictions request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            batch:
              images:
                - id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
              tagIds:
                - b607964f-7bd6-4a3b-a869-6791fb6aab87
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds: b607964f-7bd6-4a3b-a869-6791fb6aab87
          responses:
            '200':
              body:
                images:
                  - image:
                      created: '2017-12-19T15:56:10.65Z'
                      height: 900
                      id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                      imageUri: '{Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09.6105895Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 1095
                    sourceUrl: '"hemlock_10.jpg"'
                    status: OK
                isBatchSuccessful: true
              headers: {}
  '/projects/{projectId}/images/regions':
    delete:
      consumes: []
      operationId: DeleteImageRegions
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Regions to delete. Limited to 64
          in: query
          items:
            type: string
            x-nullable: false
          name: regionIds
          required: true
          type: array
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Delete a set of image regions
      tags:
        - ImageApi
      x-ms-examples:
        Successful DeleteImageRegions request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            regionIds:
              - ''
          responses:
            '204':
              body: ''
              headers: {}
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: "This API accepts a batch of image regions, and optionally tags, to update existing images with region information.\r\nThere is a limit of 64 entries in the batch."
      operationId: CreateImageRegions
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Batch of image regions which include a tag and bounding box. Limited to 64
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageRegionCreateBatch'
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageRegionCreateSummary'
      summary: Create a set of image regions
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImageRegions request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            batch:
              regions:
                - height: 0.25
                  imageId: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                  left: 0.25
                  tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                  top: 0.25
                  width: 0.25
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                created: []
                duplicated: []
                exceeded: []
              headers: {}
  '/projects/{projectId}/images/tagged':
    get:
      consumes: []
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch.\r\nThe filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImages
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - collectionFormat: csv
          description: A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - description: The ordering. Defaults to newest
          enum:
            - Newest
            - Oldest
          in: query
          name: orderBy
          required: false
          type: string
          x-nullable: false
        - default: 50
          description: 'Maximum number of images to return. Defaults to 50, limited to 256'
          format: int32
          in: query
          name: take
          required: false
          type: integer
        - default: 0
          description: Number of images to skip before beginning the image batch. Defaults to 0
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Image'
            type: array
            x-nullable: true
      summary: Get tagged images for a given project iteration
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetTaggedImages request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: []
              headers: {}
  '/projects/{projectId}/images/tagged/count':
    get:
      consumes: []
      description: "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetTaggedImageCount
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - collectionFormat: csv
          description: A list of tags ids to filter the images to count. Defaults to all tags when null.
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
            x-nullable: false
      summary: 'Gets the number of images tagged with the provided {tagIds}'
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetTaggedImageCount request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: '10'
              headers: {}
  '/projects/{projectId}/images/tags':
    delete:
      consumes: []
      operationId: DeleteImageTags
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: Image ids. Limited to 64 images
          in: query
          items:
            type: string
            x-nullable: false
          name: imageIds
          required: true
          type: array
          x-nullable: true
        - collectionFormat: csv
          description: Tags to be deleted from the specified images. Limted to 20 tags
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: true
          type: array
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Remove a set of tags from a set of images
      tags:
        - ImageApi
      x-ms-examples:
        Successful DeleteImageTags request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            imageIds:
              - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
              - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds:
              - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
              - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
          responses:
            '204':
              body: ''
              headers: {}
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: CreateImageTags
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Batch of image tags. Limited to 128 tags per batch
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageTagCreateBatch'
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageTagCreateSummary'
      summary: Associate a set of images with a set of tags
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImageTags request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            batch:
              tags:
                - imageId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                  tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                created:
                  - imageId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                duplicated: null
                exceeded: null
              headers: {}
  '/projects/{projectId}/images/untagged':
    get:
      consumes: []
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch."
      operationId: GetUntaggedImages
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - description: The ordering. Defaults to newest
          enum:
            - Newest
            - Oldest
          in: query
          name: orderBy
          required: false
          type: string
          x-nullable: false
        - default: 50
          description: 'Maximum number of images to return. Defaults to 50, limited to 256'
          format: int32
          in: query
          name: take
          required: false
          type: integer
        - default: 0
          description: Number of images to skip before beginning the image batch. Defaults to 0
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Image'
            type: array
            x-nullable: true
      summary: Get untagged images for a given project iteration
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetUntaggedImages request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: []
              headers: {}
  '/projects/{projectId}/images/untagged/count':
    get:
      consumes: []
      description: "This API returns the images which have no tags for a given project and optionally an iteration. If no iteration is specified the\r\ncurrent workspace is used."
      operationId: GetUntaggedImageCount
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
            x-nullable: false
      summary: Gets the number of untagged images
      tags:
        - ImageApi
      x-ms-examples:
        Successful GetUntaggedImageCount request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body: '10'
              headers: {}
  '/projects/{projectId}/images/urls':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      description: 'This API accepts a batch of urls, and optionally tags, to create images. There is a limit of 64 images and 20 tags.'
      operationId: CreateImagesFromUrls
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Image urls and tag ids. Limited to 64 images and 20 tags per batch
          in: body
          name: batch
          required: true
          schema:
            $ref: '#/definitions/ImageUrlCreateBatch'
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageCreateSummary'
      summary: Add the provided images urls to the set of training images
      tags:
        - ImageApi
      x-ms-examples:
        Successful CreateImagesFromUrls request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            batch:
              images:
                - url: '{url to image}'
              tagIds:
                - b607964f-7bd6-4a3b-a869-6791fb6aab87
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            tagIds: b607964f-7bd6-4a3b-a869-6791fb6aab87
          responses:
            '200':
              body:
                images:
                  - image:
                      created: '2017-12-19T15:56:10.65Z'
                      height: 900
                      id: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                      imageUri: '{Image Uri}'
                      tags:
                        - created: '2017-12-19T15:56:09.6105895Z'
                          tagId: b607964f-7bd6-4a3b-a869-6791fb6aab87
                      thumbnailUri: '{Thumbnail Uri}'
                      width: 1095
                    sourceUrl: '{url to image}'
                    status: OK
                isBatchSuccessful: true
              headers: {}
  '/projects/{projectId}/iterations':
    get:
      consumes: []
      operationId: GetIterations
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Iteration'
            type: array
            x-nullable: true
      summary: Get iterations for the project
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetIterations request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                - created: '2017-12-18T22:40:29.7304213Z'
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                  exportable: false
                  id: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                  isDefault: true
                  lastModified: '2017-12-18T22:40:41.3173903Z'
                  name: Iteration 1
                  projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                  status: Completed
                  trainedAt: '2017-12-18T22:40:41.0058589Z'
                - created: '2017-12-18T22:40:36.9066667Z'
                  domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                  exportable: false
                  id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                  isDefault: false
                  lastModified: '2017-12-19T15:47:02.9511889Z'
                  name: Iteration 2
                  projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                  status: Completed
                  trainedAt: '2017-12-19T15:47:02.9511889Z'
                - created: '2017-12-19T15:46:59.2533333Z'
                  domainId: null
                  exportable: false
                  id: 3adaf7b2-18fc-4376-9da4-b5ea160a7cf5
                  isDefault: false
                  lastModified: '2017-12-19T15:46:59.2699369Z'
                  name: Iteration 3
                  projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                  status: New
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}':
    delete:
      consumes: []
      operationId: DeleteIteration
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Delete a specific iteration of a project
      tags:
        - ProjectApi
      x-ms-examples:
        Successful DeleteIteration request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '204':
              body: ''
              headers: {}
    get:
      consumes: []
      operationId: GetIteration
      parameters:
        - description: The id of the project the iteration belongs to
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The id of the iteration to get
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Iteration'
      summary: Get a specific iteration
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetIteration request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-18T22:40:36.9066667Z'
                domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                exportable: false
                id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                isDefault: false
                lastModified: '2017-12-19T15:47:02.9511889Z'
                name: Iteration 2
                projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                status: Completed
                trainedAt: '2017-12-19T15:47:02.9511889Z'
              headers: {}
    patch:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: UpdateIteration
      parameters:
        - description: Project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Iteration id
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The updated iteration model
          in: body
          name: updatedIteration
          required: true
          schema:
            $ref: '#/definitions/Iteration'
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Iteration'
      summary: Update a specific iteration
      tags:
        - ProjectApi
      x-ms-examples:
        Successful UpdateIteration request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
            updatedIteration:
              name: Best Iteration
          responses:
            '200':
              body:
                created: '2017-12-18T22:40:36.9066667Z'
                domainId: ee85a74c-405e-4adc-bb47-ffa8ca0c9f31
                exportable: false
                id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                isDefault: false
                lastModified: '2017-12-19T15:53:07.8782881Z'
                name: Best Iteration
                projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                status: Completed
                trainedAt: '2017-12-19T15:47:02.9511889Z'
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}/export':
    get:
      consumes: []
      operationId: GetExports
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Export'
            type: array
            x-nullable: true
      summary: Get the list of exports for a specific iteration
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetExports request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                - downloadUri: '{Download URI'
                  platform: TensorFlow
                  status: Done
              headers: {}
    post:
      consumes: []
      operationId: ExportIteration
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The target platform (coreml or tensorflow)
          enum:
            - CoreML
            - TensorFlow
            - DockerFile
            - ONNX
          in: query
          name: platform
          required: true
          type: string
          x-nullable: true
        - description: 'The flavor of the target platform (Windows, Linux, ARM, or GPU)'
          enum:
            - Linux
            - Windows
          in: query
          name: flavor
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Export'
      summary: Export a trained iteration
      tags:
        - ProjectApi
      x-ms-examples:
        Successful ExportIteration request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
            platform: tensorflow
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                downloadUri: null
                platform: TensorFlow
                status: Exporting
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}/performance':
    get:
      consumes: []
      operationId: GetIterationPerformance
      parameters:
        - description: The id of the project the iteration belongs to
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The id of the iteration to get
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - description: The threshold used to determine true predictions
          format: float
          in: query
          name: threshold
          required: false
          type: number
        - description: 'If applicable, the bounding box overlap threshold used to determine true predictions'
          format: float
          in: query
          name: overlapThreshold
          required: false
          type: number
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/IterationPerformance'
      summary: Get detailed performance information about an iteration
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetIterationPerformance request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            threshold: 0.9
          responses:
            '200':
              body:
                perTagPerformance:
                  - id: e31ff107-5505-4753-be42-b369b21b026c
                    name: Hemlock
                    precision: 1
                    precisionStdDeviation: 0
                    recall: 1
                    recallStdDeviation: 0
                  - id: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    name: Japanese Cherry
                    precision: 1
                    precisionStdDeviation: 0
                    recall: 1
                    recallStdDeviation: 0
                precision: 1
                precisionStdDeviation: 0
                recall: 1
                recallStdDeviation: 0
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}/performance/images':
    get:
      consumes: []
      description: "This API supports batching and range selection. By default it will only return first 50 images matching images.\r\nUse the {take} and {skip} parameters to control how many images to return in a given batch.\r\nThe filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetImagePerformances
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: A list of tags ids to filter the images. Defaults to all tagged images when null. Limited to 20
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - description: The ordering. Defaults to newest
          enum:
            - Newest
            - Oldest
          in: query
          name: orderBy
          required: false
          type: string
          x-nullable: false
        - default: 50
          description: 'Maximum number of images to return. Defaults to 50, limited to 256'
          format: int32
          in: query
          name: take
          required: false
          type: integer
        - default: 0
          description: Number of images to skip before beginning the image batch. Defaults to 0
          format: int32
          in: query
          name: skip
          required: false
          type: integer
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/ImagePerformance'
            type: array
            x-nullable: true
      summary: Get image with its prediction for a given project iteration
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetImagePerformances request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
            orderBy: Newest
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagIds:
              - ''
          responses:
            '200':
              body:
                - created: '2018-01-31T20:18:26.5806336Z'
                  height: 1600
                  id: dfd2d346-3ed5-4e1e-857d-af4e32cec042
                  imageUri: <image uri>
                  predictions:
                    - boundingBox:
                        height: 0.25
                        left: 0.25
                        top: 0.25
                        width: 0.25
                      probability: 1
                      tagId: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                      tagName: Tag 1
                  regions: []
                  tags: []
                  thumbnailUri: <thumbnail uri>
                  width: 600
              headers: {}
  '/projects/{projectId}/iterations/{iterationId}/performance/images/count':
    get:
      consumes: []
      description: "The filtering is on an and/or relationship. For example, if the provided tag ids are for the \"Dog\" and\r\n\"Cat\" tags, then only images tagged with Dog and/or Cat will be returned"
      operationId: GetImagePerformanceCount
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          format: uuid
          in: path
          name: iterationId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: A list of tags ids to filter the images to count. Defaults to all tags when null.
          in: query
          items:
            type: string
            x-nullable: false
          name: tagIds
          required: false
          type: array
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            format: int32
            type: integer
            x-nullable: false
      summary: "Gets the number of images tagged with the provided {tagIds} that have prediction results from\r\ntraining for the provided iteration {iterationId}"
      tags:
        - ProjectApi
      x-ms-examples:
        Successful GetImagePerformanceCount request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            iterationId: cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagIds:
              - b5f7e6a2-a481-49a6-afec-a7cef1af3544
          responses:
            '200':
              body: '1'
              headers: {}
  '/projects/{projectId}/predictions':
    delete:
      consumes: []
      operationId: DeletePrediction
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - collectionFormat: csv
          description: The prediction ids. Limited to 64
          in: query
          items:
            type: string
            x-nullable: false
          name: ids
          required: true
          type: array
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Delete a set of predicted images and their associated prediction results
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful DeletePrediction request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            ids:
              - e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
              - cf0f83fb-ebaa-4b25-8e34-613a6a0b8a12
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '204':
              body: ''
              headers: {}
  '/projects/{projectId}/predictions/query':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: QueryPredictions
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Parameters used to query the predictions. Limited to combining 2 tags
          in: body
          name: query
          required: true
          schema:
            $ref: '#/definitions/PredictionQueryToken'
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/PredictionQueryResult'
      summary: Get images that were sent to your prediction endpoint
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful QueryPredictions request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            query:
              orderBy: Newest
              tags:
                - id: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                  minThreshold: 0.9
          responses:
            '200':
              body:
                results:
                  - created: '2018-01-31T20:18:26.5806336Z'
                    id: dfd2d346-3ed5-4e1e-857d-af4e32cec042
                    imageUri: <image uri>
                    iteration: b7b9d99c-a2c6-4658-9900-a98d2ff5bc66
                    predictions:
                      - probability: 1
                        tagId: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                        tagName: Tag 1
                      - probability: 3.60627153e-12
                        tagId: 45619cda-d1c9-4bc8-a3e1-87c5d81adbc3
                        tagName: Tag 2
                    project: 8988643a-ae70-447d-9a22-15c4255e5ecb
                    thumbnailUri: <thumbnail uri>
                token:
                  application: null
                  continuation: null
                  endTime: null
                  iterationId: null
                  maxCount: 0
                  orderBy: Newest
                  session: '1:286613'
                  startTime: null
                  tags:
                    - id: b5f7e6a2-a481-49a6-afec-a7cef1af3544
                      maxThreshold: 1
                      minThreshold: 0.9
              headers: {}
  '/projects/{projectId}/quicktest/image':
    post:
      consumes:
        - multipart/form-data
        - application/octet-stream
      operationId: QuickTestImage
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified."
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - in: formData
          name: imageData
          required: true
          type: file
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
      summary: Quick test an image
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful QuickTestImage request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            imageData: multipart-form-data
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-19T14:21:41.6789561Z'
                id: 951098b2-9b69-427b-bddb-d5cb618874e3
                iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                predictions:
                  - probability: 0.05149666
                    tagId: e31ff107-5505-4753-be42-b369b21b026c
                    tagName: Hemlock
                  - probability: 0
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    tagName: Japanese Cherry
                project: 64b822c5-8082-4b36-a426-27225f4aa18c
              headers: {}
  '/projects/{projectId}/quicktest/url':
    post:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: QuickTestImageUrl
      parameters:
        - description: The project to evaluate against
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: 'An {Iris.Web.Api.Models.ImageUrl} that contains the url of the image to be evaluated'
          in: body
          name: imageUrl
          required: true
          schema:
            $ref: '#/definitions/ImageUrl'
        - description: "Optional. Specifies the id of a particular iteration to evaluate against.\r\n            The default iteration for the project will be used when not specified."
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImagePrediction'
      summary: Quick test an image url
      tags:
        - PredictionsApi
      x-ms-examples:
        Successful QuickTestImageUrl request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            imageUrl:
              url: '{Image URL}'
            iterationId: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-19T14:21:41.6789561Z'
                id: 951098b2-9b69-427b-bddb-d5cb618874e3
                iteration: fe1e83c4-6f50-4899-9544-6bb08cf0e15a
                predictions:
                  - probability: 0.05149666
                    tagId: e31ff107-5505-4753-be42-b369b21b026c
                    tagName: Hemlock
                  - probability: 0
                    tagId: 349d72ac-0948-4d51-b1e4-c14a1f9b848a
                    tagName: Japanese Cherry
                project: 64b822c5-8082-4b36-a426-27225f4aa18c
              headers: {}
  '/projects/{projectId}/tags':
    get:
      consumes: []
      operationId: GetTags
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The iteration id. Defaults to workspace
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            items:
              $ref: '#/definitions/Tag'
            type: array
            x-nullable: true
      summary: Get the tags for a given project and iteration
      tags:
        - TagsApi
      x-ms-examples:
        Successful GetTags request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                - description: Description of Tag1
                  id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
                  imageCount: 0
                  name: Tag1
              headers: {}
    post:
      consumes: []
      operationId: CreateTag
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The tag name
          in: query
          name: name
          required: true
          type: string
          x-nullable: true
        - description: Optional description for the tag
          in: query
          name: description
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tag'
      summary: Create a tag for the project
      tags:
        - TagsApi
      x-ms-examples:
        Successful CreateTag request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            body: ''
            description: Description of Tag1
            name: Tag1
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                description: Description of Tag1
                id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
                imageCount: 0
                name: Tag1
              headers: {}
  '/projects/{projectId}/tags/{tagId}':
    delete:
      consumes: []
      operationId: DeleteTag
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: Id of the tag to be deleted
          format: uuid
          in: path
          name: tagId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces: []
      responses:
        '204':
          description: No Content
      summary: Delete a tag from the project
      tags:
        - TagsApi
      x-ms-examples:
        Successful DeleteTag request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagId: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          responses:
            '204':
              body: ''
              headers: {}
    get:
      consumes: []
      operationId: GetTag
      parameters:
        - description: The project this tag belongs to
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The tag id
          format: uuid
          in: path
          name: tagId
          required: true
          type: string
          x-nullable: false
        - description: 'The iteration to retrieve this tag from. Optional, defaults to current training set'
          format: uuid
          in: query
          name: iterationId
          required: false
          type: string
          x-nullable: true
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tag'
      summary: Get information about a specific tag
      tags:
        - TagsApi
      x-ms-examples:
        Successful GetTag request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagId: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
          responses:
            '200':
              body:
                description: Description of Tag1
                id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
                imageCount: 0
                name: Tag1
              headers: {}
    patch:
      consumes:
        - application/json
        - text/json
        - application/xml
        - text/xml
        - application/x-www-form-urlencoded
      operationId: UpdateTag
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The id of the target tag
          format: uuid
          in: path
          name: tagId
          required: true
          type: string
          x-nullable: false
        - description: The updated tag model
          in: body
          name: updatedTag
          required: true
          schema:
            $ref: '#/definitions/Tag'
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Tag'
      summary: Update a tag
      tags:
        - TagsApi
      x-ms-examples:
        Successful UpdateTag request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
            tagId: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
            updatedTag:
              description: Better description
              name: Better Tag Name
          responses:
            '200':
              body:
                description: Better description
                id: 9e27bc1b-7ae7-4e3b-a4e5-36153479dc01
                imageCount: 0
                name: Better Tag Name
              headers: {}
  '/projects/{projectId}/train':
    post:
      consumes: []
      operationId: TrainProject
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
        - application/xml
        - text/xml
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/Iteration'
      summary: Queues project for training
      tags:
        - ProjectApi
      x-ms-examples:
        Successful TrainProject request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
          responses:
            '200':
              body:
                created: '2017-12-18T22:40:36.9066667Z'
                domainId: null
                exportable: false
                id: e31a14ab-5d78-4f7b-a267-3a1e4fd8a758
                isDefault: false
                lastModified: '2017-12-19T15:46:58.197323Z'
                name: Iteration 2
                projectId: 64b822c5-8082-4b36-a426-27225f4aa18c
                status: Training
              headers: {}
  '/{projectId}/images/{imageId}/regionproposals':
    post:
      consumes: []
      description: This API will get region proposals for an image along with confidences for the region. It returns an empty array if no proposals are found.
      operationId: GetImageRegionProposals
      parameters:
        - description: The project id
          format: uuid
          in: path
          name: projectId
          required: true
          type: string
          x-nullable: false
        - description: The image id
          format: uuid
          in: path
          name: imageId
          required: true
          type: string
          x-nullable: false
        - $ref: '#/parameters/ApiKey'
      produces:
        - application/json
        - text/json
      responses:
        '200':
          description: OK
          schema:
            $ref: '#/definitions/ImageRegionProposal'
      summary: Get region proposals for an image. Returns empty array if no proposals are found.
      tags:
        - ImageRegionProposalApi
      x-ms-examples:
        Successful GetImageRegionProposals request:
          parameters:
            Content-Type: application/json
            Training-Key: '{API Key}'
            imageId: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
            projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
          responses:
            '200':
              body:
                imageId: 4d6eb844-42ee-42bc-bd6f-c32455ef07c9
                projectId: bc3f7dad-5544-468c-8573-3ef04d55463e
                proposals:
                  - boundingBox:
                      height: 0.25
                      left: 0.25
                      top: 0.25
                      width: 0.25
                    confidence: 0.25
              headers: {}
definitions:
  BoundingBox:
    properties:
      height:
        format: float
        type: number
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  Domain:
    properties:
      enabled:
        readOnly: true
        type: boolean
        x-nullable: false
      exportable:
        readOnly: true
        type: boolean
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      name:
        readOnly: true
        type: string
        x-nullable: true
      type:
        enum:
          - Classification
          - ObjectDetection
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: DomainType
        x-nullable: false
    type: object
    x-nullable: true
  Export:
    properties:
      downloadUri:
        readOnly: true
        type: string
        x-nullable: true
      flavor:
        enum:
          - Linux
          - Windows
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ExportFlavor
        x-nullable: true
      newerVersionAvailable:
        readOnly: true
        type: boolean
        x-nullable: false
      platform:
        enum:
          - CoreML
          - TensorFlow
          - DockerFile
          - ONNX
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ExportPlatform
        x-nullable: false
      status:
        enum:
          - Exporting
          - Failed
          - Done
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ExportStatusModel
        x-nullable: false
    type: object
    x-nullable: true
  Image:
    description: Image model to be sent as JSON
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      height:
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      imageUri:
        readOnly: true
        type: string
        x-nullable: true
      regions:
        items:
          $ref: '#/definitions/ImageRegion'
        readOnly: true
        type: array
        x-nullable: true
      tags:
        items:
          $ref: '#/definitions/ImageTag'
        readOnly: true
        type: array
        x-nullable: true
      thumbnailUri:
        readOnly: true
        type: string
        x-nullable: true
      width:
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
    type: object
    x-nullable: true
  ImageCreateResult:
    properties:
      image:
        $ref: '#/definitions/Image'
        readOnly: true
      sourceUrl:
        readOnly: true
        type: string
        x-nullable: true
      status:
        enum:
          - OK
          - OKDuplicate
          - ErrorSource
          - ErrorImageFormat
          - ErrorImageSize
          - ErrorStorage
          - ErrorLimitExceed
          - ErrorTagLimitExceed
          - ErrorRegionLimitExceed
          - ErrorUnknown
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: ImageUploadStatus
        x-nullable: false
    type: object
    x-nullable: true
  ImageCreateSummary:
    properties:
      images:
        items:
          $ref: '#/definitions/ImageCreateResult'
        readOnly: true
        type: array
        x-nullable: true
      isBatchSuccessful:
        readOnly: true
        type: boolean
        x-nullable: false
    type: object
    x-nullable: true
  ImageFileCreateBatch:
    properties:
      images:
        items:
          $ref: '#/definitions/ImageFileCreateEntry'
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageFileCreateEntry:
    properties:
      contents:
        format: byte
        type: string
        x-nullable: true
      name:
        type: string
        x-nullable: true
      regions:
        items:
          $ref: '#/definitions/Region'
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageIdCreateBatch:
    properties:
      images:
        items:
          $ref: '#/definitions/ImageIdCreateEntry'
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageIdCreateEntry:
    properties:
      id:
        format: uuid
        type: string
        x-nullable: false
      regions:
        items:
          $ref: '#/definitions/Region'
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImagePerformance:
    description: Image performance model
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      height:
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      imageUri:
        readOnly: true
        type: string
        x-nullable: true
      predictions:
        items:
          $ref: '#/definitions/Prediction'
        readOnly: true
        type: array
        x-nullable: true
      regions:
        items:
          $ref: '#/definitions/ImageRegion'
        readOnly: true
        type: array
        x-nullable: true
      tags:
        items:
          $ref: '#/definitions/ImageTag'
        readOnly: true
        type: array
        x-nullable: true
      thumbnailUri:
        readOnly: true
        type: string
        x-nullable: true
      width:
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
    type: object
    x-nullable: true
  ImagePrediction:
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      iteration:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      predictions:
        items:
          $ref: '#/definitions/Prediction'
        readOnly: true
        type: array
        x-nullable: true
      project:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
    type: object
    x-nullable: true
  ImageRegion:
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      height:
        format: float
        type: number
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      regionId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      tagId:
        format: uuid
        type: string
        x-nullable: false
      tagName:
        readOnly: true
        type: string
        x-nullable: true
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  ImageRegionCreateBatch:
    description: Batch of image region information to create.
    properties:
      regions:
        items:
          $ref: '#/definitions/ImageRegionCreateEntry'
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageRegionCreateEntry:
    properties:
      height:
        format: float
        type: number
        x-nullable: false
      imageId:
        format: uuid
        type: string
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      tagId:
        format: uuid
        type: string
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  ImageRegionCreateResult:
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      height:
        format: float
        type: number
        x-nullable: false
      imageId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      regionId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      tagId:
        format: uuid
        type: string
        x-nullable: false
      tagName:
        readOnly: true
        type: string
        x-nullable: true
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  ImageRegionCreateSummary:
    properties:
      created:
        items:
          $ref: '#/definitions/ImageRegionCreateResult'
        type: array
        x-nullable: true
      duplicated:
        items:
          $ref: '#/definitions/ImageRegionCreateEntry'
        type: array
        x-nullable: true
      exceeded:
        items:
          $ref: '#/definitions/ImageRegionCreateEntry'
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageRegionProposal:
    properties:
      imageId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      projectId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      proposals:
        items:
          $ref: '#/definitions/RegionProposal'
        readOnly: true
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageTag:
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      tagId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      tagName:
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  ImageTagCreateBatch:
    properties:
      tags:
        items:
          $ref: '#/definitions/ImageTagCreateEntry'
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageTagCreateEntry:
    properties:
      imageId:
        format: uuid
        type: string
        x-nullable: false
      tagId:
        format: uuid
        type: string
        x-nullable: false
    type: object
    x-nullable: true
  ImageTagCreateSummary:
    properties:
      created:
        items:
          $ref: '#/definitions/ImageTagCreateEntry'
        type: array
        x-nullable: true
      duplicated:
        items:
          $ref: '#/definitions/ImageTagCreateEntry'
        type: array
        x-nullable: true
      exceeded:
        items:
          $ref: '#/definitions/ImageTagCreateEntry'
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageUrl:
    properties:
      url:
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  ImageUrlCreateBatch:
    properties:
      images:
        items:
          $ref: '#/definitions/ImageUrlCreateEntry'
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  ImageUrlCreateEntry:
    properties:
      regions:
        items:
          $ref: '#/definitions/Region'
        type: array
        x-nullable: true
      tagIds:
        items:
          format: uuid
          type: string
          x-nullable: false
        type: array
        x-nullable: true
      url:
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  Iteration:
    description: Iteration model to be sent over JSON
    properties:
      classificationType:
        description: Gets the classification type of the project
        enum:
          - Multiclass
          - Multilabel
        readOnly: true
        type: string
        x-ms-enum:
          modelAsString: true
          name: Classifier
        x-nullable: true
      created:
        description: Gets the time this iteration was completed
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      domainId:
        description: Get or sets a guid of the domain the iteration has been trained on
        format: uuid
        readOnly: true
        type: string
        x-nullable: true
      exportable:
        description: Whether the iteration can be exported to another format for download
        readOnly: true
        type: boolean
        x-nullable: false
      id:
        description: Gets the id of the iteration
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      isDefault:
        description: Gets or sets a value indicating whether the iteration is the default iteration for the project
        type: boolean
        x-nullable: false
      lastModified:
        description: Gets the time this iteration was last modified
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      name:
        description: Gets or sets the name of the iteration
        type: string
        x-nullable: true
      projectId:
        description: Gets the project id of the iteration
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      status:
        description: Gets the current iteration status
        readOnly: true
        type: string
        x-nullable: true
      trainedAt:
        description: Gets the time this iteration was last modified
        format: date-time
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  IterationPerformance:
    description: Represents the detailed performance data for a trained iteration
    properties:
      averagePrecision:
        description: Gets the average precision when applicable
        format: float
        readOnly: true
        type: number
        x-nullable: true
      perTagPerformance:
        description: Gets the per-tag performance details for this iteration
        items:
          $ref: '#/definitions/TagPerformance'
        readOnly: true
        type: array
        x-nullable: true
      precision:
        description: Gets the precision
        format: float
        readOnly: true
        type: number
        x-nullable: false
      precisionStdDeviation:
        description: Gets the standard deviation for the precision
        format: float
        readOnly: true
        type: number
        x-nullable: false
      recall:
        description: Gets the recall
        format: float
        readOnly: true
        type: number
        x-nullable: false
      recallStdDeviation:
        description: Gets the standard deviation for the recall
        format: float
        readOnly: true
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  Prediction:
    properties:
      boundingBox:
        $ref: '#/definitions/BoundingBox'
        readOnly: true
      probability:
        format: float
        readOnly: true
        type: number
        x-nullable: false
      tagId:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      tagName:
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  PredictionQueryResult:
    properties:
      results:
        items:
          $ref: '#/definitions/StoredImagePrediction'
        readOnly: true
        type: array
        x-nullable: true
      token:
        $ref: '#/definitions/PredictionQueryToken'
        readOnly: true
    type: object
    x-nullable: true
  PredictionQueryTag:
    properties:
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      maxThreshold:
        format: float
        readOnly: true
        type: number
        x-nullable: false
      minThreshold:
        format: float
        readOnly: true
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  PredictionQueryToken:
    properties:
      application:
        type: string
        x-nullable: true
      continuation:
        type: string
        x-nullable: true
      endTime:
        format: date-time
        type: string
        x-nullable: true
      iterationId:
        format: uuid
        type: string
        x-nullable: true
      maxCount:
        format: int32
        type: integer
        x-nullable: false
      orderBy:
        enum:
          - Newest
          - Oldest
          - Suggested
        type: string
        x-ms-enum:
          modelAsString: true
          name: OrderBy
        x-nullable: false
      session:
        type: string
        x-nullable: true
      startTime:
        format: date-time
        type: string
        x-nullable: true
      tags:
        items:
          $ref: '#/definitions/PredictionQueryTag'
        type: array
        x-nullable: true
    type: object
    x-nullable: true
  Project:
    description: Represents a project
    properties:
      created:
        description: Gets the date this project was created
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      description:
        description: Gets or sets the description of the project
        type: string
        x-nullable: true
      id:
        description: Gets the project id
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      lastModified:
        description: Gets the date this project was last modifed
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      name:
        description: Gets or sets the name of the project
        type: string
        x-nullable: true
      settings:
        $ref: '#/definitions/ProjectSettings'
        description: Gets or sets the project settings
      thumbnailUri:
        description: Gets the thumbnail url representing the project
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  ProjectSettings:
    description: Represents settings associated with a project
    properties:
      classificationType:
        description: Gets or sets the classification type of the project
        enum:
          - Multiclass
          - Multilabel
        type: string
        x-ms-enum:
          modelAsString: true
          name: Classifier
        x-nullable: true
      domainId:
        description: Gets or sets the id of the Domain to use with this project
        format: uuid
        type: string
        x-nullable: false
    type: object
    x-nullable: true
  Region:
    properties:
      height:
        format: float
        type: number
        x-nullable: false
      left:
        format: float
        type: number
        x-nullable: false
      tagId:
        format: uuid
        type: string
        x-nullable: false
      top:
        format: float
        type: number
        x-nullable: false
      width:
        format: float
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  RegionProposal:
    properties:
      boundingBox:
        $ref: '#/definitions/BoundingBox'
        readOnly: true
      confidence:
        format: float
        readOnly: true
        type: number
        x-nullable: false
    type: object
    x-nullable: true
  StoredImagePrediction:
    description: result of an image classification request
    properties:
      created:
        format: date-time
        readOnly: true
        type: string
        x-nullable: false
      domain:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      imageUri:
        readOnly: true
        type: string
        x-nullable: true
      iteration:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      predictions:
        items:
          $ref: '#/definitions/Prediction'
        readOnly: true
        type: array
        x-nullable: true
      project:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      thumbnailUri:
        readOnly: true
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  Tag:
    description: Represents a Tag
    properties:
      description:
        description: Gets or sets the description of the tag
        type: string
        x-nullable: true
      id:
        description: Gets the Tag ID
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      imageCount:
        description: Gets the number of images with this tag
        format: int32
        readOnly: true
        type: integer
        x-nullable: false
      name:
        description: Gets or sets the name of the tag
        type: string
        x-nullable: true
    type: object
    x-nullable: true
  TagPerformance:
    description: Represents performance data for a particular tag in a trained iteration
    properties:
      averagePrecision:
        description: Gets the average precision when applicable
        format: float
        readOnly: true
        type: number
        x-nullable: true
      id:
        format: uuid
        readOnly: true
        type: string
        x-nullable: false
      name:
        readOnly: true
        type: string
        x-nullable: true
      precision:
        description: Gets the precision
        format: float
        readOnly: true
        type: number
        x-nullable: false
      precisionStdDeviation:
        description: Gets the standard deviation for the precision
        format: float
        readOnly: true
        type: number
        x-nullable: false
      recall:
        description: Gets the recall
        format: float
        readOnly: true
        type: number
        x-nullable: false
      recallStdDeviation:
        description: Gets the standard deviation for the recall
        format: float
        readOnly: true
        type: number
        x-nullable: false
    type: object
    x-nullable: true
