swagger: '2.0'
info:
  version: '2014-06-30'
  x-release: v4
  title: Amazon Cognito Sync
  description: '<fullname>Amazon Cognito Sync</fullname> <p>Amazon Cognito Sync provides an AWS service and client library that enable cross-device syncing of application-related user data. High-level client libraries are available for both iOS and Android. You can use these libraries to persist data locally so that it''s available even if the device is offline. Developer credentials don''t need to be stored on the mobile device to access the service. You can use Amazon Cognito to obtain a normalized user ID and credentials. User data is persisted in a dataset that can store up to 1 MB of key-value pairs, and you can have up to 20 datasets per user identity.</p> <p>With Amazon Cognito Sync, the data stored for each identity is accessible only to credentials assigned to that identity. In order to use the Cognito Sync service, you need to make API calls using credentials retrieved with <a href="http://docs.aws.amazon.com/cognitoidentity/latest/APIReference/Welcome.html">Amazon Cognito Identity service</a>.</p> <p>If you want to use Cognito Sync in an Android or iOS application, you will probably want to make API calls via the AWS Mobile SDK. To learn more, see the <a href="http://docs.aws.amazon.com/mobile/sdkforandroid/developerguide/cognito-sync.html">Developer Guide for Android</a> and the <a href="http://docs.aws.amazon.com/mobile/sdkforios/developerguide/cognito-sync.html">Developer Guide for iOS</a>.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: cognito-sync
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/cognito-sync-2014-06-30.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/cognito-sync/'
host: cognito-sync.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/identitypools/{IdentityPoolId}/bulkpublish':
    post:
      operationId: BulkPublish
      description: '<p>Initiates a bulk publish of all existing datasets for an Identity Pool to the configured stream. Customers are limited to one successful bulk publish per 24 hours. Bulk publish is an asynchronous request, customers can see the status of the request via the GetBulkPublishDetails operation.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BulkPublishResponse'
        '400':
          description: AlreadyStreamedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/AlreadyStreamedException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BulkPublishRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}':
    delete:
      operationId: DeleteDataset
      description: '<p>Deletes the specific dataset. The dataset will be deleted permanently, and the action can''t be undone. Datasets that this dataset was merged with will no longer report the merge. Any subsequent operation on this dataset will result in a ResourceNotFoundException.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteDatasetResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '409':
          description: ResourceConflictException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteDatasetRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
        - name: IdentityId
          type: string
          in: path
          required: true
        - name: DatasetName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: DescribeDataset
      description: '<p>Gets meta data about a dataset by identity and dataset name. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use Cognito Identity credentials to make this API call.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeDatasetResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeDatasetRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
        - name: IdentityId
          type: string
          in: path
          required: true
        - name: DatasetName
          type: string
          in: path
          required: true
    post:
      operationId: UpdateRecords
      description: '<p>Posts updates to records and adds and deletes records for a dataset and user.</p> <p>The sync count in the record patch is your last known sync count for that record. The server will reject an UpdateRecords request with a ResourceConflictException if you try to patch a record with a new value but a stale sync count.</p> <p>For example, if the sync count on the server is 5 for a key called highScore and you try and submit a new highScore with sync count of 4, the request will be rejected. To obtain the current sync count for a record, call ListRecords. On a successful update of the record, the response returns the new sync count for that record. You should present that sync count the next time you try to update that same record. When the record does not exist, specify the sync count as 0.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateRecordsResponse'
        '400':
          description: InvalidLambdaFunctionOutputException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidLambdaFunctionOutputException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '409':
          description: ResourceConflictException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceConflictException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateRecordsRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
        - name: IdentityId
          type: string
          in: path
          required: true
        - name: DatasetName
          type: string
          in: path
          required: true
  '/identitypools/{IdentityPoolId}':
    get:
      operationId: DescribeIdentityPoolUsage
      description: '<p>Gets usage details (for example, data storage) about a particular identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIdentityPoolUsageResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeIdentityPoolUsageRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/identitypools/{IdentityPoolId}/identities/{IdentityId}':
    get:
      operationId: DescribeIdentityUsage
      description: '<p>Gets usage information for an identity, including number of datasets and data usage.</p> <p>This API can be called with temporary user credentials provided by Cognito Identity or with developer credentials.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeIdentityUsageResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeIdentityUsageRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
        - name: IdentityId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/identitypools/{IdentityPoolId}/getBulkPublishDetails':
    post:
      operationId: GetBulkPublishDetails
      description: <p>Get the status of the last BulkPublish operation for an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetBulkPublishDetailsResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetBulkPublishDetailsRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/identitypools/{IdentityPoolId}/events':
    get:
      operationId: GetCognitoEvents
      description: <p>Gets the events and the corresponding Lambda functions associated with an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetCognitoEventsResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetCognitoEventsRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: SetCognitoEvents
      description: '<p>Sets the AWS Lambda function for a given event type for an identity pool. This request only updates the key/value pair specified. Other key/values pairs are not updated. To remove a key value pair, pass a empty value for the particular key.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>'
      responses:
        '200':
          description: Success
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetCognitoEventsRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
  '/identitypools/{IdentityPoolId}/configuration':
    get:
      operationId: GetIdentityPoolConfiguration
      description: <p>Gets the configuration settings of an identity pool.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetIdentityPoolConfigurationResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetIdentityPoolConfigurationRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      operationId: SetIdentityPoolConfiguration
      description: <p>Sets the necessary configuration for push sync.</p> <p>This API can only be called with developer credentials. You cannot call this API with the temporary user credentials provided by Cognito Identity.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SetIdentityPoolConfigurationResponse'
        '400':
          description: ConcurrentModificationException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ConcurrentModificationException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SetIdentityPoolConfigurationRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
  '/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets':
    get:
      operationId: ListDatasets
      description: '<p>Lists datasets for an identity. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>ListDatasets can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use the Cognito Identity credentials to make this API call.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListDatasetsResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListDatasetsRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
        - name: IdentityId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /identitypools:
    get:
      operationId: ListIdentityPoolUsage
      description: <p>Gets a list of identity pools registered with Cognito.</p> <p>ListIdentityPoolUsage can only be called with developer credentials. You cannot make this API call with the temporary user credentials provided by Cognito Identity.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListIdentityPoolUsageResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListIdentityPoolUsageRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/records':
    get:
      operationId: ListRecords
      description: '<p>Gets paginated records, optionally changed after a particular sync count for a dataset and identity. With Amazon Cognito Sync, each identity has access only to its own data. Thus, the credentials used to make this API call need to have access to the identity data.</p> <p>ListRecords can be called with temporary user credentials provided by Cognito Identity or with developer credentials. You should use Cognito Identity credentials to make this API call.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListRecordsResponse'
        '400':
          description: InvalidParameterException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidParameterException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListRecordsRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
        - name: IdentityId
          type: string
          in: path
          required: true
        - name: DatasetName
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/identitypools/{IdentityPoolId}/identity/{IdentityId}/device':
    post:
      operationId: RegisterDevice
      description: <p>Registers a device to receive push sync notifications.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/RegisterDeviceResponse'
        '400':
          description: InvalidConfigurationException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidConfigurationException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/RegisterDeviceRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
        - name: IdentityId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/identitypools/{IdentityPoolId}/identities/{IdentityId}/datasets/{DatasetName}/subscriptions/{DeviceId}':
    post:
      operationId: SubscribeToDataset
      description: <p>Subscribes to receive notifications when a dataset is modified by another device.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/SubscribeToDatasetResponse'
        '400':
          description: InvalidConfigurationException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidConfigurationException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/SubscribeToDatasetRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
        - name: IdentityId
          type: string
          in: path
          required: true
        - name: DatasetName
          type: string
          in: path
          required: true
        - name: DeviceId
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    delete:
      operationId: UnsubscribeFromDataset
      description: <p>Unsubscribes from receiving notifications when a dataset is modified by another device.</p> <p>This API can only be called with temporary credentials provided by Cognito Identity. You cannot call this API with developer credentials.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UnsubscribeFromDatasetResponse'
        '400':
          description: InvalidConfigurationException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InvalidConfigurationException'
        '403':
          description: NotAuthorizedException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/NotAuthorizedException'
        '404':
          description: ResourceNotFoundException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '429':
          description: TooManyRequestsException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '500':
          description: InternalErrorException
          x-aws-exception: true
          schema:
            $ref: '#/definitions/InternalErrorException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UnsubscribeFromDatasetRequest'
        - name: IdentityPoolId
          type: string
          in: path
          required: true
        - name: IdentityId
          type: string
          in: path
          required: true
        - name: DatasetName
          type: string
          in: path
          required: true
        - name: DeviceId
          type: string
          in: path
          required: true
definitions:
  BulkPublishResponse:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.'
    description: The output for the BulkPublish operation.
  BulkPublishRequest:
    type: object
    properties: {}
    description: The input for the BulkPublish operation.
  NotAuthorizedException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: The message returned by a NotAuthorizedException.
    description: Thrown when a user is not authorized to access the requested resource.
  InvalidParameterException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: Message returned by InvalidParameterException.
    description: Thrown when a request parameter does not comply with the associated constraints.
  ResourceNotFoundException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: Message returned by a ResourceNotFoundException.
    description: Thrown if the resource doesn't exist.
  InternalErrorException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: Message returned by InternalErrorException.
    description: Indicates an internal service error.
  DuplicateRequestException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: The message associated with the DuplicateRequestException exception.
    description: An exception thrown when there is an IN_PROGRESS bulk publish operation for the given identity pool.
  AlreadyStreamedException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: The message associated with the AlreadyStreamedException exception.
    description: An exception thrown when a bulk publish operation is requested less than 24 hours after a previous bulk publish operation completed successfully.
  DeleteDatasetResponse:
    type: object
    properties:
      Dataset:
        $ref: '#/definitions/Dataset'
        description: 'A collection of data for an identity pool. An identity pool can have multiple datasets. A dataset is per identity and can be general or associated with a particular entity in an application (like a saved game). Datasets are automatically created if they don''t exist. Data is synced by dataset, and a dataset can hold up to 1MB of key-value pairs.'
    description: Response to a successful DeleteDataset request.
  DeleteDatasetRequest:
    type: object
    properties: {}
    description: A request to delete the specific dataset.
  TooManyRequestsException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: Message returned by a TooManyRequestsException.
    description: Thrown if the request is throttled.
  ResourceConflictException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: The message returned by a ResourceConflictException.
    description: Thrown if an update can't be applied because the resource was changed by another call and this would result in a conflict.
  DescribeDatasetResponse:
    type: object
    properties:
      Dataset:
        $ref: '#/definitions/Dataset'
        description: 'Meta data for a collection of data for an identity. An identity can have multiple datasets. A dataset can be general or associated with a particular entity in an application (like a saved game). Datasets are automatically created if they don''t exist. Data is synced by dataset, and a dataset can hold up to 1MB of key-value pairs.'
    description: Response to a successful DescribeDataset request.
  DescribeDatasetRequest:
    type: object
    properties: {}
    description: 'A request for meta data about a dataset (creation date, number of records, size) by owner and dataset name.'
  DescribeIdentityPoolUsageResponse:
    type: object
    properties:
      IdentityPoolUsage:
        $ref: '#/definitions/IdentityPoolUsage'
        description: Information about the usage of the identity pool.
    description: Response to a successful DescribeIdentityPoolUsage request.
  DescribeIdentityPoolUsageRequest:
    type: object
    properties: {}
    description: A request for usage information about the identity pool.
  DescribeIdentityUsageResponse:
    type: object
    properties:
      IdentityUsage:
        $ref: '#/definitions/IdentityUsage'
        description: Usage information for the identity.
    description: The response to a successful DescribeIdentityUsage request.
  DescribeIdentityUsageRequest:
    type: object
    properties: {}
    description: A request for information about the usage of an identity pool.
  GetBulkPublishDetailsResponse:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.'
      BulkPublishStartTime:
        $ref: '#/definitions/Date'
        description: The date/time at which the last bulk publish was initiated.
      BulkPublishCompleteTime:
        $ref: '#/definitions/Date'
        description: 'If BulkPublishStatus is SUCCEEDED, the time the last bulk publish operation completed.'
      BulkPublishStatus:
        $ref: '#/definitions/BulkPublishStatus'
        description: 'Status of the last bulk publish operation, valid values are: <p>NOT_STARTED - No bulk publish has been requested for this identity pool</p> <p>IN_PROGRESS - Data is being published to the configured stream</p> <p>SUCCEEDED - All data for the identity pool has been published to the configured stream</p> <p>FAILED - Some portion of the data has failed to publish, check FailureMessage for the cause.</p>'
      FailureMessage:
        $ref: '#/definitions/String'
        description: If BulkPublishStatus is FAILED this field will contain the error message that caused the bulk publish to fail.
    description: The output for the GetBulkPublishDetails operation.
  GetBulkPublishDetailsRequest:
    type: object
    properties: {}
    description: The input for the GetBulkPublishDetails operation.
  GetCognitoEventsResponse:
    type: object
    properties:
      Events:
        $ref: '#/definitions/Events'
        description: The Cognito Events returned from the GetCognitoEvents request
    description: The response from the GetCognitoEvents request
  GetCognitoEventsRequest:
    type: object
    properties: {}
    description: A request for a list of the configured Cognito Events
  GetIdentityPoolConfigurationResponse:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito.'
      PushSync:
        $ref: '#/definitions/PushSync'
        description: Options to apply to this identity pool for push synchronization.
      CognitoStreams:
        $ref: '#/definitions/CognitoStreams'
        description: Options to apply to this identity pool for Amazon Cognito streams.
    description: The output for the GetIdentityPoolConfiguration operation.
  GetIdentityPoolConfigurationRequest:
    type: object
    properties: {}
    description: The input for the GetIdentityPoolConfiguration operation.
  ListDatasetsResponse:
    type: object
    properties:
      Datasets:
        $ref: '#/definitions/DatasetList'
        description: A set of datasets.
      Count:
        $ref: '#/definitions/Integer'
        description: Number of datasets returned.
      NextToken:
        $ref: '#/definitions/String'
        description: A pagination token for obtaining the next page of results.
    description: Returned for a successful ListDatasets request.
  ListDatasetsRequest:
    type: object
    properties: {}
    description: Request for a list of datasets for an identity.
  ListIdentityPoolUsageResponse:
    type: object
    properties:
      IdentityPoolUsages:
        $ref: '#/definitions/IdentityPoolUsageList'
        description: Usage information for the identity pools.
      MaxResults:
        $ref: '#/definitions/Integer'
        description: The maximum number of results to be returned.
      Count:
        $ref: '#/definitions/Integer'
        description: Total number of identities for the identity pool.
      NextToken:
        $ref: '#/definitions/String'
        description: A pagination token for obtaining the next page of results.
    description: Returned for a successful ListIdentityPoolUsage request.
  ListIdentityPoolUsageRequest:
    type: object
    properties: {}
    description: A request for usage information on an identity pool.
  ListRecordsResponse:
    type: object
    properties:
      Records:
        $ref: '#/definitions/RecordList'
        description: A list of all records.
      NextToken:
        $ref: '#/definitions/String'
        description: A pagination token for obtaining the next page of results.
      Count:
        $ref: '#/definitions/Integer'
        description: Total number of records.
      DatasetSyncCount:
        $ref: '#/definitions/Long'
        description: Server sync count for this dataset.
      LastModifiedBy:
        $ref: '#/definitions/String'
        description: The user/device that made the last change to this record.
      MergedDatasetNames:
        $ref: '#/definitions/MergedDatasetNameList'
        description: Names of merged datasets.
      DatasetExists:
        $ref: '#/definitions/Boolean'
        description: Indicates whether the dataset exists.
      DatasetDeletedAfterRequestedSyncCount:
        $ref: '#/definitions/Boolean'
        description: A boolean value specifying whether to delete the dataset locally.
      SyncSessionToken:
        $ref: '#/definitions/String'
        description: 'A token containing a session ID, identity ID, and expiration.'
    description: Returned for a successful ListRecordsRequest.
  ListRecordsRequest:
    type: object
    properties: {}
    description: A request for a list of records.
  RegisterDeviceResponse:
    type: object
    properties:
      DeviceId:
        $ref: '#/definitions/DeviceId'
        description: The unique ID generated for this device by Cognito.
    description: Response to a RegisterDevice request.
  RegisterDeviceRequest:
    type: object
    required:
      - Platform
      - Token
    properties:
      Platform:
        $ref: '#/definitions/Platform'
        description: 'The SNS platform type (e.g. GCM, SDM, APNS, APNS_SANDBOX).'
      Token:
        $ref: '#/definitions/PushToken'
        description: The push token.
    description: A request to RegisterDevice.
  InvalidConfigurationException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: Message returned by InvalidConfigurationException.
  SetCognitoEventsRequest:
    type: object
    required:
      - Events
    properties:
      Events:
        $ref: '#/definitions/Events'
        description: The events to configure
    description: <p>A request to configure Cognito Events"</p>"
  SetIdentityPoolConfigurationResponse:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito.'
      PushSync:
        $ref: '#/definitions/PushSync'
        description: Options to apply to this identity pool for push synchronization.
      CognitoStreams:
        $ref: '#/definitions/CognitoStreams'
        description: Options to apply to this identity pool for Amazon Cognito streams.
    description: The output for the SetIdentityPoolConfiguration operation
  SetIdentityPoolConfigurationRequest:
    type: object
    properties:
      PushSync:
        $ref: '#/definitions/PushSync'
        description: Options to apply to this identity pool for push synchronization.
      CognitoStreams:
        $ref: '#/definitions/CognitoStreams'
        description: Options to apply to this identity pool for Amazon Cognito streams.
    description: The input for the SetIdentityPoolConfiguration operation.
  ConcurrentModificationException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/String'
        description: The message returned by a ConcurrentModicationException.
    description: Thrown if there are parallel requests to modify a resource.
  SubscribeToDatasetResponse:
    type: object
    properties: {}
    description: Response to a SubscribeToDataset request.
  SubscribeToDatasetRequest:
    type: object
    properties: {}
    description: A request to SubscribeToDatasetRequest.
  UnsubscribeFromDatasetResponse:
    type: object
    properties: {}
    description: Response to an UnsubscribeFromDataset request.
  UnsubscribeFromDatasetRequest:
    type: object
    properties: {}
    description: A request to UnsubscribeFromDataset.
  UpdateRecordsResponse:
    type: object
    properties:
      Records:
        $ref: '#/definitions/RecordList'
        description: A list of records that have been updated.
    description: Returned for a successful UpdateRecordsRequest.
  UpdateRecordsRequest:
    type: object
    required:
      - SyncSessionToken
    properties:
      DeviceId:
        $ref: '#/definitions/DeviceId'
        description: The unique ID generated for this device by Cognito.
      RecordPatches:
        $ref: '#/definitions/RecordPatchList'
        description: A list of patch operations.
      SyncSessionToken:
        $ref: '#/definitions/SyncSessionToken'
        description: The SyncSessionToken returned by a previous call to ListRecords for this dataset and identity.
    description: A request to post updates to records or add and delete records for a dataset and user.
  LimitExceededException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: Message returned by LimitExceededException.
    description: Thrown when the limit on the number of objects or operations has been exceeded.
  InvalidLambdaFunctionOutputException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: A message returned when an InvalidLambdaFunctionOutputException occurs
    description: The AWS Lambda function returned invalid output or an exception.
  LambdaThrottledException:
    type: object
    required:
      - message
    properties:
      message:
        $ref: '#/definitions/ExceptionMessage'
        description: A message returned when an LambdaThrottledException is thrown
    description: 'AWS Lambda throttled your account, please contact AWS Support'
  ExceptionMessage:
    type: string
  ApplicationArn:
    type: string
    pattern: 'arn:aws:sns:[-0-9a-z]+:\d+:app/[A-Z_]+/[a-zA-Z0-9_.-]+'
  ApplicationArnList:
    type: array
    items:
      $ref: '#/definitions/ApplicationArn'
  AssumeRoleArn:
    type: string
    pattern: 'arn:aws:iam::\d+:role/.*'
    minLength: 20
    maxLength: 2048
  Boolean:
    type: boolean
  IdentityPoolId:
    type: string
    pattern: '[\w-]+:[0-9a-f-]+'
    minLength: 1
    maxLength: 55
  BulkPublishStatus:
    type: string
    enum:
      - NOT_STARTED
      - IN_PROGRESS
      - FAILED
      - SUCCEEDED
  ClientContext:
    type: string
  CognitoEventType:
    type: string
  StreamName:
    type: string
    minLength: 1
    maxLength: 128
  StreamingStatus:
    type: string
    enum:
      - ENABLED
      - DISABLED
  CognitoStreams:
    type: object
    properties:
      StreamName:
        $ref: '#/definitions/StreamName'
        description: The name of the Cognito stream to receive updates. This stream must be in the developers account and in the same region as the identity pool.
      RoleArn:
        $ref: '#/definitions/AssumeRoleArn'
        description: The ARN of the role Amazon Cognito can assume in order to publish to the stream. This role must grant access to Amazon Cognito (cognito-sync) to invoke PutRecord on your Cognito stream.
      StreamingStatus:
        $ref: '#/definitions/StreamingStatus'
        description: 'Status of the Cognito streams. Valid values are: <p>ENABLED - Streaming of updates to identity pool is enabled.</p> <p>DISABLED - Streaming of updates to identity pool is disabled. Bulk publish will also fail if StreamingStatus is DISABLED.</p>'
    description: Configuration options for configure Cognito streams.
  String:
    type: string
  IdentityId:
    type: string
    pattern: '[\w-]+:[0-9a-f-]+'
    minLength: 1
    maxLength: 55
  DatasetName:
    type: string
    pattern: '[a-zA-Z0-9_.:-]+'
    minLength: 1
    maxLength: 128
  Date:
    type: string
    format: date-time
  Long:
    type: integer
  Dataset:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.'
      DatasetName:
        $ref: '#/definitions/DatasetName'
        description: 'A string of up to 128 characters. Allowed characters are a-z, A-Z, 0-9, ''_'' (underscore), ''-'' (dash), and ''.'' (dot).'
      CreationDate:
        $ref: '#/definitions/Date'
        description: Date on which the dataset was created.
      LastModifiedDate:
        $ref: '#/definitions/Date'
        description: Date when the dataset was last modified.
      LastModifiedBy:
        $ref: '#/definitions/String'
        description: The device that made the last change to this dataset.
      DataStorage:
        $ref: '#/definitions/Long'
        description: Total size in bytes of the records in this dataset.
      NumRecords:
        $ref: '#/definitions/Long'
        description: Number of records in this dataset.
    description: 'A collection of data for an identity pool. An identity pool can have multiple datasets. A dataset is per identity and can be general or associated with a particular entity in an application (like a saved game). Datasets are automatically created if they don''t exist. Data is synced by dataset, and a dataset can hold up to 1MB of key-value pairs.'
  DatasetList:
    type: array
    items:
      $ref: '#/definitions/Dataset'
  IdentityPoolUsage:
    type: object
    properties:
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.'
      SyncSessionsCount:
        $ref: '#/definitions/Long'
        description: Number of sync sessions for the identity pool.
      DataStorage:
        $ref: '#/definitions/Long'
        description: Data storage information for the identity pool.
      LastModifiedDate:
        $ref: '#/definitions/Date'
        description: Date on which the identity pool was last modified.
    description: Usage information for the identity pool.
  IdentityUsage:
    type: object
    properties:
      IdentityId:
        $ref: '#/definitions/IdentityId'
        description: 'A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.'
      IdentityPoolId:
        $ref: '#/definitions/IdentityPoolId'
        description: 'A name-spaced GUID (for example, us-east-1:23EC4050-6AEA-7089-A2DD-08002EXAMPLE) created by Amazon Cognito. GUID generation is unique within a region.'
      LastModifiedDate:
        $ref: '#/definitions/Date'
        description: Date on which the identity was last modified.
      DatasetCount:
        $ref: '#/definitions/Integer'
        description: Number of datasets for the identity.
      DataStorage:
        $ref: '#/definitions/Long'
        description: Total data storage for this identity.
    description: Usage information for the identity.
  DeviceId:
    type: string
    minLength: 1
    maxLength: 256
  LambdaFunctionArn:
    type: string
  Events:
    type: array
    maxItems: 1
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/CognitoEventType'
        value:
          $ref: '#/definitions/LambdaFunctionArn'
  PushSync:
    type: object
    properties:
      ApplicationArns:
        $ref: '#/definitions/ApplicationArnList'
        description: List of SNS platform application ARNs that could be used by clients.
      RoleArn:
        $ref: '#/definitions/AssumeRoleArn'
        description: A role configured to allow Cognito to call SNS on behalf of the developer.
    description: Configuration options to be applied to the identity pool.
  IdentityPoolUsageList:
    type: array
    items:
      $ref: '#/definitions/IdentityPoolUsage'
  Integer:
    type: integer
  IntegerString:
    type: integer
  SyncSessionToken:
    type: string
  RecordList:
    type: array
    items:
      $ref: '#/definitions/Record'
  MergedDatasetNameList:
    type: array
    items:
      $ref: '#/definitions/String'
  Operation:
    type: string
    enum:
      - replace
      - remove
  Platform:
    type: string
    enum:
      - APNS
      - APNS_SANDBOX
      - GCM
      - ADM
  PushToken:
    type: string
  RecordKey:
    type: string
    minLength: 1
    maxLength: 1024
  RecordValue:
    type: string
    maxLength: 1048575
  Record:
    type: object
    properties:
      Key:
        $ref: '#/definitions/RecordKey'
        description: The key for the record.
      Value:
        $ref: '#/definitions/RecordValue'
        description: The value for the record.
      SyncCount:
        $ref: '#/definitions/Long'
        description: The server sync count for this record.
      LastModifiedDate:
        $ref: '#/definitions/Date'
        description: The date on which the record was last modified.
      LastModifiedBy:
        $ref: '#/definitions/String'
        description: The user/device that made the last change to this record.
      DeviceLastModifiedDate:
        $ref: '#/definitions/Date'
        description: The last modified date of the client device.
    description: The basic data structure of a dataset.
  RecordPatch:
    type: object
    required:
      - Op
      - Key
      - SyncCount
    properties:
      Op:
        $ref: '#/definitions/Operation'
        description: 'An operation, either replace or remove.'
      Key:
        $ref: '#/definitions/RecordKey'
        description: The key associated with the record patch.
      Value:
        $ref: '#/definitions/RecordValue'
        description: The value associated with the record patch.
      SyncCount:
        $ref: '#/definitions/Long'
        description: Last known server sync count for this record. Set to 0 if unknown.
      DeviceLastModifiedDate:
        $ref: '#/definitions/Date'
        description: The last modified date of the client device.
    description: An update operation for a record.
  RecordPatchList:
    type: array
    items:
      $ref: '#/definitions/RecordPatch'
