swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: InsightsClient
  version: '2016-09-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    - format: swagger
      url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/insights/2016-09-01/swagger/insightsClient_Metrics.json'
      version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: insights
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  FilterParameter:
    description: Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  ResourceUriParameter:
    description: The identifier of the resource.
    in: path
    name: resourceUri
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
paths:
  '/{resourceUri}/providers/microsoft.insights/metrics':
    get:
      description: '**Lists the metric values for a resource**.<br>The **$filter** is used to reduce the set of metric data returned. Some common properties for this expression will be: name.value, aggregationType, startTime, endTime, timeGrain. The filter expression uses these properties with comparison operators (eg. eq, gt, lt) and multiple expressions can be combined with parentheses and ''and/or'' operators.<br>Some example filter expressions are:<br>- $filter=(name.value eq ''RunsSucceeded'') and aggregationType eq ''Total'' and startTime eq 2016-02-20 and endTime eq 2016-02-21 and timeGrain eq duration''PT1M'',<br>- $filter=(name.value eq ''RunsSucceeded'') and (aggregationType eq ''Total'' or aggregationType eq ''Average'') and startTime eq 2016-02-20 and endTime eq 2016-02-21 and timeGrain eq duration''PT1H'',<br>- $filter=(name.value eq ''ActionsCompleted'' or name.value eq ''RunsSucceeded'') and (aggregationType eq ''Total'' or aggregationType eq ''Average'') and startTime eq 2016-02-20 and endTime eq 2016-02-21 and timeGrain eq duration''PT1M''.<br><br> >**NOTE**: When a metrics query comes in with multiple metrics, but with no aggregation types defined, the service will pick the Primary aggregation type of the first metrics to be used as the default aggregation type for all the metrics.'
      operationId: Metrics_List
      parameters:
        - $ref: '#/parameters/ResourceUriParameter'
        - $ref: '#/parameters/FilterParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful request to get the list of metric values
          examples:
            application/json:
              value:
                - data:
                    - timeStamp: '2016-11-23T19:14:00Z'
                      total: 1
                    - timeStamp: '2016-11-23T19:15:00Z'
                    - timeStamp: '2016-11-23T19:16:00Z'
                    - timeStamp: '2016-11-23T19:17:00Z'
                    - timeStamp: '2016-11-23T19:18:00Z'
                    - timeStamp: '2016-11-23T19:19:00Z'
                      total: 1
                    - timeStamp: '2016-11-23T19:20:00Z'
                    - timeStamp: '2016-11-23T19:21:00Z'
                    - timeStamp: '2016-11-23T19:22:00Z'
                    - timeStamp: '2016-11-23T19:23:00Z'
                    - timeStamp: '2016-11-23T19:24:00Z'
                      total: 1
                  id: /subscriptions/df602c9c-7aa0-407d-a6fb-eb20c8bd1192/resourceGroups/andy0802australia/providers/Microsoft.Logic/workflows/andy0803australia/providers/Microsoft.Insights/metrics/RunsStarted
                  name:
                    localizedValue: Runs Started
                    value: RunsStarted
                  type: Microsoft.Insights/metrics
                  unit: Count
          schema:
            $ref: '#/definitions/MetricCollection'
      tags:
        - Metrics
      x-ms-odata: '#/definitions/Metric'
      x-ms-pageable: {}
definitions:
  LocalizableString:
    description: The localizable string class.
    properties:
      localizedValue:
        description: the locale specific value.
        type: string
      value:
        description: the invariant value.
        type: string
    required:
      - value
  Metric:
    description: A set of metric values in a time range.
    properties:
      data:
        description: Array of data points representing the metric values.
        items:
          $ref: '#/definitions/MetricValue'
        type: array
      id:
        description: 'the id, resourceId, of the metric.'
        type: string
      name:
        $ref: '#/definitions/LocalizableString'
        description: 'the name and the display name of the metric, i.e. it is localizable string.'
      type:
        description: the resource type of the metric resource.
        type: string
      unit:
        $ref: '#/definitions/Unit'
        description: the unit of the metric.
    required:
      - name
      - unit
      - data
  MetricCollection:
    description: The collection of metric value sets.
    properties:
      value:
        description: the value of the collection.
        items:
          $ref: '#/definitions/Metric'
        type: array
    required:
      - value
  MetricValue:
    description: Represents a metric value.
    properties:
      average:
        description: the average value in the time range.
        format: double
        type: number
      count:
        description: the number of samples in the time range. Can be used to determine the number of values that contributed to the average value.
        format: int64
        type: integer
      maximum:
        description: the greatest value in the time range.
        format: double
        type: number
      minimum:
        description: the least value in the time range.
        format: double
        type: number
      timeStamp:
        description: the timestamp for the metric value in ISO 8601 format.
        format: date-time
        type: string
      total:
        description: the sum of all of the values in the time range.
        format: double
        type: number
    required:
      - timeStamp
  Unit:
    description: the unit of the metric.
    enum:
      - Count
      - Bytes
      - Seconds
      - CountPerSecond
      - BytesPerSecond
      - Percent
      - MilliSeconds
    type: string
    x-ms-enum:
      modelAsString: false
      name: Unit
