swagger: '2.0'
schemes:
  - https
host: management.azure.com
info:
  title: InsightsClient
  version: '2016-09-01'
  x-apisguru-categories:
    - cloud
  x-logo:
    url: 'https://assets.onestore.ms/cdnfiles/onestorerolling-1606-01000/shell/v3/images/logo/microsoft.png'
  x-origin:
    format: swagger
    url: 'https://raw.githubusercontent.com/Azure/azure-rest-api-specs/master/insights/2016-09-01/swagger/insightsClient_Metrics.json'
    version: '2.0'
  x-preferred: true
  x-providerName: azure.com
  x-serviceName: insights
  x-tags:
    - Azure
    - Microsoft
consumes:
  - application/json
produces:
  - application/json
parameters:
  ApiVersionParameter:
    description: Client Api Version.
    in: query
    name: api-version
    required: true
    type: string
  FilterParameter:
    description: Reduces the set of data collected. The syntax allowed depends on the operation. See the operation's description for details.
    in: query
    name: $filter
    required: false
    type: string
    x-ms-parameter-location: method
  ResourceUriParameter:
    description: The identifier of the resource.
    in: path
    name: resourceUri
    required: true
    type: string
    x-ms-parameter-location: method
    x-ms-skip-url-encoding: true
  SubscriptionIdParameter:
    description: The Azure subscription Id.
    in: path
    name: subscriptionId
    required: true
    type: string
paths:
  '/{resourceUri}/providers/microsoft.insights/metrics':
    get:
      description: 'Lists the metric values for a resource. The $filter is used to reduce the set of metric data returned. Some common properties for this expression will be: name.value, aggregationType, startTime, endTime, timeGrain. The filter expression uses these properties with comparison operators (eg. eq, gt, lt) and multiple expressions can be combined with parentheses and ''and/or'' operators. Some example filter expressions are: - $filter=(name.value eq ''RunsSucceeded'') and aggregationType eq ''Total'' and startTime eq 2016-02-20 and endTime eq 2016-02-21 and timeGrain eq duration''PT1M'', - $filter=(name.value eq ''RunsSucceeded'') and (aggregationType eq ''Total'' or aggregationType eq ''Average'') and startTime eq 2016-02-20 and endTime eq 2016-02-21 and timeGrain eq duration''PT1H'', - $filter=(name.value eq ''ActionsCompleted'' or name.value eq ''RunsSucceeded'') and (aggregationType eq ''Total'' or aggregationType eq ''Average'') and startTime eq 2016-02-20 and endTime eq 2016-02-21 and timeGrain eq duration''PT1M''.'
      operationId: Metrics_List
      parameters:
        - $ref: '#/parameters/ResourceUriParameter'
        - $ref: '#/parameters/FilterParameter'
        - $ref: '#/parameters/ApiVersionParameter'
      responses:
        '200':
          description: Successful request to get the list of metric values
          examples:
            application/json:
              value:
                - data:
                    - timeStamp: '2016-09-21T19:59:00Z'
                      total: 4
                    - average: 3.8
                      timeStamp: '2016-09-21T20:00:00Z'
                    - minimum: 0
                      timeStamp: '2016-09-21T20:01:00Z'
                    - maximum: 5
                      timeStamp: '2016-09-21T20:02:00Z'
                  name:
                    localizedValue: Runs Started
                    value: RunsStarted
                  unit: Count
          schema:
            $ref: '#/definitions/MetricCollection'
      tags:
        - Metrics
      x-ms-odata: '#/definitions/Metric'
      x-ms-pageable: {}
definitions:
  LocalizableString:
    description: The localizable string class.
    properties:
      localizedValue:
        description: the locale specific value.
        type: string
      value:
        description: the invariant value.
        type: string
    required:
      - value
  Metric:
    description: A set of metric values in a time range.
    properties:
      data:
        description: Array of data points representing the metric values.
        items:
          $ref: '#/definitions/MetricValue'
        type: array
      name:
        $ref: '#/definitions/LocalizableString'
        description: 'the name and the display name of the metric, i.e. it is localizable string.'
      unit:
        $ref: '#/definitions/Unit'
        description: the unit of the metric.
    required:
      - name
      - unit
      - data
  MetricCollection:
    description: The collection of metric value sets.
    properties:
      value:
        description: the value of the collection.
        items:
          $ref: '#/definitions/Metric'
        type: array
    required:
      - value
  MetricValue:
    description: Represents a metric value.
    properties:
      average:
        description: the average value in the time range.
        format: double
        type: number
      count:
        description: the number of samples in the time range. Can be used to determine the number of values that contributed to the average value.
        format: int64
        type: integer
      maximum:
        description: the greatest value in the time range.
        format: double
        type: number
      minimum:
        description: the least value in the time range.
        format: double
        type: number
      timeStamp:
        description: the timestamp for the metric value in ISO 8601 format.
        format: date-time
        type: string
      total:
        description: the sum of all of the values in the time range.
        format: double
        type: number
    required:
      - timeStamp
  Unit:
    description: the unit of the metric.
    enum:
      - Count
      - Bytes
      - Seconds
      - CountPerSecond
      - BytesPerSecond
      - Percent
      - MilliSeconds
    type: string
    x-ms-enum:
      modelAsString: false
      name: Unit
