swagger: '2.0'
info:
  version: '2011-12-05'
  x-release: v4
  title: Amazon DynamoDB
  description: '<p>Amazon DynamoDB is a fast, highly scalable, highly available, cost-effective non-relational database service.</p> <p>Amazon DynamoDB removes traditional scalability limitations on data storage while maintaining low latency and predictable performance.</p>'
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: dynamodb
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/dynamodb-2011-12-05.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: false
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/dynamodb/'
host: dynamodb.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /:
    post:
      operationId: BatchGetItem
      description: '<p>Retrieves the attributes for multiple items from multiple tables using their primary keys.</p> <p>The maximum number of item attributes that can be retrieved for a single operation is 100. Also, the number of items retrieved is constrained by a 1 MB the size limit. If the response size limit is exceeded or a partial result is returned due to an internal processing failure, Amazon DynamoDB returns an <code>UnprocessedKeys</code> value so you can retry the operation starting with the next item to get.</p> <p>Amazon DynamoDB automatically adjusts the number of items returned per page to enforce this limit. For example, even if you ask to retrieve 100 items, but each individual item is 50k in size, the system returns 20 items and an appropriate <code>UnprocessedKeys</code> value so you can get the next page of results. If necessary, your application needs its own logic to assemble the pages of results into one set.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchGetItemOutput'
        '480':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchGetItemInput'
        - name: RequestItems
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#BatchWriteItem':
    post:
      operationId: BatchWriteItem
      description: <p>Allows to execute a batch of Put and/or Delete Requests for many tables in a single call. A total of 25 requests are allowed.</p> <p>There are no transaction guarantees provided by this API. It does not allow conditional puts nor does it support return values.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/BatchWriteItemOutput'
        '480':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/BatchWriteItemInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#CreateTable':
    post:
      operationId: CreateTable
      description: '<p>Adds a new table to your account.</p> <p>The table name must be unique among those associated with the AWS Account issuing the request, and the AWS Region that receives the request (e.g. <code>us-east-1</code>).</p> <p>The <code>CreateTable</code> operation triggers an asynchronous workflow to begin creating the table. Amazon DynamoDB immediately returns the state of the table (<code>CREATING</code>) until the table is in the <code>ACTIVE</code> state. Once the table is in the <code>ACTIVE</code> state, you can perform data plane operations.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/CreateTableOutput'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateTableInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteItem':
    post:
      operationId: DeleteItem
      description: '<p>Deletes a single item in a table by primary key.</p> <p>You can perform a conditional delete operation that deletes the item if it exists, or if it has an expected attribute value.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteItemOutput'
        '480':
          description: ConditionalCheckFailedException
          schema:
            $ref: '#/definitions/ConditionalCheckFailedException'
        '481':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteItemInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DeleteTable':
    post:
      operationId: DeleteTable
      description: '<p>Deletes a table and all of its items.</p> <p>If the table is in the <code>ACTIVE</code> state, you can delete it. If a table is in <code>CREATING</code> or <code>UPDATING</code> states then Amazon DynamoDB returns a <code>ResourceInUseException</code>. If the specified table does not exist, Amazon DynamoDB returns a <code>ResourceNotFoundException</code>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DeleteTableOutput'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteTableInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#DescribeTable':
    post:
      operationId: DescribeTable
      description: '<p>Retrieves information about the table, including the current status of the table, the primary key schema and when the table was created.</p> <p>If the table does not exist, Amazon DynamoDB returns a <code>ResourceNotFoundException</code>.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeTableOutput'
        '480':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '481':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeTableInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#GetItem':
    post:
      operationId: GetItem
      description: '<p>Retrieves a set of Attributes for an item that matches the primary key.</p> <p>The <code>GetItem</code> operation provides an eventually-consistent read by default. If eventually-consistent reads are not acceptable for your application, use <code>ConsistentRead</code>. Although this operation might take longer than a standard read, it always returns the last updated value.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetItemOutput'
        '480':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetItemInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#ListTables':
    post:
      operationId: ListTables
      description: Retrieves a paginated list of table names created by the AWS Account of the caller in the AWS Region (e.g. <code>us-east-1</code>).
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTablesOutput'
        '480':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTablesInput'
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: ExclusiveStartTableName
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#PutItem':
    post:
      operationId: PutItem
      description: '<p>Creates a new item, or replaces an old item with a new item (including all the attributes).</p> <p>If an item already exists in the specified table with the same primary key, the new item completely replaces the existing item. You can perform a conditional put (insert a new item if one with the specified primary key doesn''t exist), or replace an existing item if it has certain attribute values.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/PutItemOutput'
        '480':
          description: ConditionalCheckFailedException
          schema:
            $ref: '#/definitions/ConditionalCheckFailedException'
        '481':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/PutItemInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Query':
    post:
      operationId: Query
      description: '<p>Gets the values of one or more items and its attributes by primary key (composite primary key, only).</p> <p>Narrow the scope of the query using comparison operators on the <code>RangeKeyValue</code> of the composite key. Use the <code>ScanIndexForward</code> parameter to get results in forward or reverse order by range key.</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/QueryOutput'
        '480':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/QueryInput'
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: ExclusiveStartKey
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#Scan':
    post:
      operationId: Scan
      description: <p>Retrieves one or more items and its attributes by performing a full scan of a table.</p> <p>Provide a <code>ScanFilter</code> to get more specific results.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ScanOutput'
        '480':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ScanInput'
        - name: Limit
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: ExclusiveStartKey
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateItem':
    post:
      operationId: UpdateItem
      description: '<p>Edits an existing item''s attributes.</p> <p>You can perform a conditional update (insert a new attribute name-value pair if it doesn''t exist, or replace an existing name-value pair if it has certain expected attribute values).</p>'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateItemOutput'
        '480':
          description: ConditionalCheckFailedException
          schema:
            $ref: '#/definitions/ConditionalCheckFailedException'
        '481':
          description: ProvisionedThroughputExceededException
          schema:
            $ref: '#/definitions/ProvisionedThroughputExceededException'
        '482':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '483':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '484':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateItemInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/#UpdateTable':
    post:
      operationId: UpdateTable
      description: <p>Updates the provisioned throughput for the given table.</p> <p>Setting the throughput for a table helps you manage performance and is part of the Provisioned Throughput feature of Amazon DynamoDB.</p>
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateTableOutput'
        '480':
          description: ResourceInUseException
          schema:
            $ref: '#/definitions/ResourceInUseException'
        '481':
          description: ResourceNotFoundException
          schema:
            $ref: '#/definitions/ResourceNotFoundException'
        '482':
          description: LimitExceededException
          schema:
            $ref: '#/definitions/LimitExceededException'
        '483':
          description: InternalServerError
          schema:
            $ref: '#/definitions/InternalServerError'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateTableInput'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  BatchGetItemOutput:
    type: object
    properties:
      Responses:
        $ref: '#/definitions/BatchGetResponseMap'
      UnprocessedKeys:
        $ref: '#/definitions/BatchGetRequestMap'
        description: 'Contains a map of tables and their respective keys that were not processed with the current response, possibly due to reaching a limit on the response size. The <code>UnprocessedKeys</code> value is in the same form as a <code>RequestItems</code> parameter (so the value can be provided directly to a subsequent <code>BatchGetItem</code> operation). For more information, see the above <code>RequestItems</code> parameter.'
  BatchGetItemInput:
    type: object
    required:
      - RequestItems
    properties:
      RequestItems:
        $ref: '#/definitions/BatchGetRequestMap'
  ProvisionedThroughputExceededException: {}
  ResourceNotFoundException: {}
  InternalServerError: {}
  BatchWriteItemOutput:
    type: object
    properties:
      Responses:
        $ref: '#/definitions/BatchWriteResponseMap'
        description: The response object as a result of <code>BatchWriteItem</code> call. This is essentially a map of table name to <code>ConsumedCapacityUnits</code>.
      UnprocessedItems:
        $ref: '#/definitions/BatchWriteItemRequestMap'
        description: The Items which we could not successfully process in a <code>BatchWriteItem</code> call is returned as <code>UnprocessedItems</code>
    description: A container for <code>BatchWriteItem</code> response
  BatchWriteItemInput:
    type: object
    required:
      - RequestItems
    properties:
      RequestItems:
        $ref: '#/definitions/BatchWriteItemRequestMap'
        description: A map of table name to list-of-write-requests. Used as input to the <code>BatchWriteItem</code> API call
  LimitExceededException: {}
  CreateTableOutput:
    type: object
    properties:
      TableDescription:
        $ref: '#/definitions/TableDescription'
  CreateTableInput:
    type: object
    required:
      - TableName
      - KeySchema
      - ProvisionedThroughput
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table you want to create. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
      KeySchema:
        $ref: '#/definitions/KeySchema'
      ProvisionedThroughput:
        $ref: '#/definitions/ProvisionedThroughput'
  ResourceInUseException: {}
  DeleteItemOutput:
    type: object
    properties:
      Attributes:
        $ref: '#/definitions/AttributeMap'
        description: 'If the <code>ReturnValues</code> parameter is provided as <code>ALL_OLD</code> in the request, Amazon DynamoDB returns an array of attribute name-value pairs (essentially, the deleted item). Otherwise, the response contains an empty set.'
      ConsumedCapacityUnits:
        $ref: '#/definitions/ConsumedCapacityUnits'
  DeleteItemInput:
    type: object
    required:
      - TableName
      - Key
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table in which you want to delete an item. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
      Key:
        $ref: '#/definitions/Key'
      Expected:
        $ref: '#/definitions/ExpectedAttributeMap'
      ReturnValues:
        $ref: '#/definitions/ReturnValue'
  ConditionalCheckFailedException: {}
  DeleteTableOutput:
    type: object
    properties:
      TableDescription:
        $ref: '#/definitions/TableDescription'
  DeleteTableInput:
    type: object
    required:
      - TableName
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table you want to delete. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
  DescribeTableOutput:
    type: object
    properties:
      Table:
        $ref: '#/definitions/TableDescription'
  DescribeTableInput:
    type: object
    required:
      - TableName
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table you want to describe. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
  GetItemOutput:
    type: object
    properties:
      Item:
        $ref: '#/definitions/AttributeMap'
        description: Contains the requested attributes.
      ConsumedCapacityUnits:
        $ref: '#/definitions/ConsumedCapacityUnits'
  GetItemInput:
    type: object
    required:
      - TableName
      - Key
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table in which you want to get an item. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
      Key:
        $ref: '#/definitions/Key'
      AttributesToGet:
        $ref: '#/definitions/AttributeNameList'
      ConsistentRead:
        $ref: '#/definitions/ConsistentRead'
  ListTablesOutput:
    type: object
    properties:
      TableNames:
        $ref: '#/definitions/TableNameList'
      LastEvaluatedTableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the last table in the current list. Use this value as the <code>ExclusiveStartTableName</code> in a new request to continue the list until all the table names are returned. If this value is null, all table names have been returned.'
  ListTablesInput:
    type: object
    properties:
      ExclusiveStartTableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table that starts the list. If you already ran a <code>ListTables</code> operation and received a <code>LastEvaluatedTableName</code> value in the response, use that value here to continue the list.'
      Limit:
        $ref: '#/definitions/ListTablesInputLimit'
  PutItemOutput:
    type: object
    properties:
      Attributes:
        $ref: '#/definitions/AttributeMap'
        description: 'Attribute values before the put operation, but only if the <code>ReturnValues</code> parameter is specified as <code>ALL_OLD</code> in the request.'
      ConsumedCapacityUnits:
        $ref: '#/definitions/ConsumedCapacityUnits'
  PutItemInput:
    type: object
    required:
      - TableName
      - Item
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table in which you want to put an item. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
      Item:
        $ref: '#/definitions/PutItemInputAttributeMap'
      Expected:
        $ref: '#/definitions/ExpectedAttributeMap'
      ReturnValues:
        $ref: '#/definitions/ReturnValue'
  QueryOutput:
    type: object
    properties:
      Items:
        $ref: '#/definitions/ItemList'
      Count:
        $ref: '#/definitions/Integer'
        description: Number of items in the response.
      LastEvaluatedKey:
        $ref: '#/definitions/Key'
        description: 'Primary key of the item where the query operation stopped, inclusive of the previous result set. Use this value to start a new operation excluding this value in the new request. The <code>LastEvaluatedKey</code> is null when the entire query result set is complete (i.e. the operation processed the "last page").'
      ConsumedCapacityUnits:
        $ref: '#/definitions/ConsumedCapacityUnits'
  QueryInput:
    type: object
    required:
      - TableName
      - HashKeyValue
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table in which you want to query. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
      AttributesToGet:
        $ref: '#/definitions/AttributeNameList'
      Limit:
        $ref: '#/definitions/PositiveIntegerObject'
        description: 'The maximum number of items to return. If Amazon DynamoDB hits this limit while querying the table, it stops the query and returns the matching values up to the limit, and a <code>LastEvaluatedKey</code> to apply in a subsequent operation to continue the query. Also, if the result set size exceeds 1MB before Amazon DynamoDB hits this limit, it stops the query and returns the matching values, and a <code>LastEvaluatedKey</code> to apply in a subsequent operation to continue the query.'
      ConsistentRead:
        $ref: '#/definitions/ConsistentRead'
      Count:
        $ref: '#/definitions/BooleanObject'
        description: 'If set to <code>true</code>, Amazon DynamoDB returns a total number of items that match the query parameters, instead of a list of the matching items and their attributes. Do not set <code>Count</code> to <code>true</code> while providing a list of <code>AttributesToGet</code>, otherwise Amazon DynamoDB returns a validation error.'
      HashKeyValue:
        $ref: '#/definitions/AttributeValue'
        description: Attribute value of the hash component of the composite primary key.
      RangeKeyCondition:
        $ref: '#/definitions/Condition'
        description: A container for the attribute values and comparison operators to use for the query.
      ScanIndexForward:
        $ref: '#/definitions/BooleanObject'
        description: 'Specifies forward or backward traversal of the index. Amazon DynamoDB returns results reflecting the requested order, determined by the range key. The default value is <code>true</code> (forward).'
      ExclusiveStartKey:
        $ref: '#/definitions/Key'
        description: Primary key of the item from which to continue an earlier query. An earlier query might provide this value as the <code>LastEvaluatedKey</code> if that query operation was interrupted before completing the query; either because of the result set size or the <code>Limit</code> parameter. The <code>LastEvaluatedKey</code> can be passed back in a new query request to continue the operation from that point.
  ScanOutput:
    type: object
    properties:
      Items:
        $ref: '#/definitions/ItemList'
      Count:
        $ref: '#/definitions/Integer'
        description: Number of items in the response.
      ScannedCount:
        $ref: '#/definitions/Integer'
        description: 'Number of items in the complete scan before any filters are applied. A high <code>ScannedCount</code> value with few, or no, <code>Count</code> results indicates an inefficient <code>Scan</code> operation.'
      LastEvaluatedKey:
        $ref: '#/definitions/Key'
        description: Primary key of the item where the scan operation stopped. Provide this value in a subsequent scan operation to continue the operation from that point. The <code>LastEvaluatedKey</code> is null when the entire scan result set is complete (i.e. the operation processed the "last page").
      ConsumedCapacityUnits:
        $ref: '#/definitions/ConsumedCapacityUnits'
  ScanInput:
    type: object
    required:
      - TableName
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table in which you want to scan. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
      AttributesToGet:
        $ref: '#/definitions/AttributeNameList'
      Limit:
        $ref: '#/definitions/PositiveIntegerObject'
        description: 'The maximum number of items to return. If Amazon DynamoDB hits this limit while scanning the table, it stops the scan and returns the matching values up to the limit, and a <code>LastEvaluatedKey</code> to apply in a subsequent operation to continue the scan. Also, if the scanned data set size exceeds 1 MB before Amazon DynamoDB hits this limit, it stops the scan and returns the matching values up to the limit, and a <code>LastEvaluatedKey</code> to apply in a subsequent operation to continue the scan.'
      Count:
        $ref: '#/definitions/BooleanObject'
        description: 'If set to <code>true</code>, Amazon DynamoDB returns a total number of items for the <code>Scan</code> operation, even if the operation has no matching items for the assigned filter. Do not set <code>Count</code> to <code>true</code> while providing a list of <code>AttributesToGet</code>, otherwise Amazon DynamoDB returns a validation error.'
      ScanFilter:
        $ref: '#/definitions/FilterConditionMap'
        description: Evaluates the scan results and returns only the desired values.
      ExclusiveStartKey:
        $ref: '#/definitions/Key'
        description: Primary key of the item from which to continue an earlier scan. An earlier scan might provide this value if that scan operation was interrupted before scanning the entire table; either because of the result set size or the <code>Limit</code> parameter. The <code>LastEvaluatedKey</code> can be passed back in a new scan request to continue the operation from that point.
  UpdateItemOutput:
    type: object
    properties:
      Attributes:
        $ref: '#/definitions/AttributeMap'
        description: 'A map of attribute name-value pairs, but only if the <code>ReturnValues</code> parameter is specified as something other than <code>NONE</code> in the request.'
      ConsumedCapacityUnits:
        $ref: '#/definitions/ConsumedCapacityUnits'
  UpdateItemInput:
    type: object
    required:
      - TableName
      - Key
      - AttributeUpdates
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table in which you want to update an item. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
      Key:
        $ref: '#/definitions/Key'
      AttributeUpdates:
        $ref: '#/definitions/AttributeUpdates'
      Expected:
        $ref: '#/definitions/ExpectedAttributeMap'
      ReturnValues:
        $ref: '#/definitions/ReturnValue'
  UpdateTableOutput:
    type: object
    properties:
      TableDescription:
        $ref: '#/definitions/TableDescription'
  UpdateTableInput:
    type: object
    required:
      - TableName
      - ProvisionedThroughput
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: 'The name of the table you want to update. Allowed characters are <code>a-z</code>, <code>A-Z</code>, <code>0-9</code>, <code>_</code> (underscore), <code>-</code> (hyphen) and <code>.</code> (period).'
      ProvisionedThroughput:
        $ref: '#/definitions/ProvisionedThroughput'
  AttributeAction:
    type: string
    enum:
      - ADD
      - PUT
      - DELETE
    description: 'The type of action for an item update operation. Only use the add action for numbers or sets; the specified value is added to the existing value. If a set of values is specified, the values are added to the existing set. Adds the specified attribute. If the attribute exists, it is replaced by the new value. If no value is specified, this removes the attribute and its value. If a set of values is specified, then the values in the specified set are removed from the old set.'
  AttributeName:
    type: string
    maxLength: 65535
  AttributeValue:
    type: object
    properties:
      S:
        $ref: '#/definitions/StringAttributeValue'
        description: Strings are Unicode with UTF-8 binary encoding. The maximum size is limited by the size of the primary key (1024 bytes as a range part of a key or 2048 bytes as a single part hash key) or the item size (64k).
      'N':
        $ref: '#/definitions/NumberAttributeValue'
        description: Numbers are positive or negative exact-value decimals and integers. A number can have up to 38 digits precision and can be between 10^-128 to 10^+126.
      B:
        $ref: '#/definitions/BinaryAttributeValue'
        description: Binary attributes are sequences of unsigned bytes.
      SS:
        $ref: '#/definitions/StringSetAttributeValue'
        description: A set of strings.
      NS:
        $ref: '#/definitions/NumberSetAttributeValue'
        description: A set of numbers.
      BS:
        $ref: '#/definitions/BinarySetAttributeValue'
        description: A set of binary attributes.
    description: 'AttributeValue can be <code>String</code>, <code>Number</code>, <code>Binary</code>, <code>StringSet</code>, <code>NumberSet</code>, <code>BinarySet</code>.'
  AttributeMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/AttributeName'
        value:
          $ref: '#/definitions/AttributeValue'
  '[object Object]': {}
  AttributeNameList:
    type: array
    description: 'List of <code>Attribute</code> names. If attribute names are not specified then all attributes will be returned. If some attributes are not found, they will not appear in the result.'
    items:
      $ref: '#/definitions/AttributeName'
    minItems: 1
  AttributeValueUpdate:
    type: object
    properties:
      Value:
        $ref: '#/definitions/AttributeValue'
      Action:
        $ref: '#/definitions/AttributeAction'
    description: 'Specifies the attribute to update and how to perform the update. Possible values: <code>PUT</code> (default), <code>ADD</code> or <code>DELETE</code>.'
  AttributeUpdates:
    type: array
    description: 'Map of attribute name to the new value and action for the update. The attribute names specify the attributes to modify, and cannot contain any primary key attributes.'
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/AttributeName'
        value:
          $ref: '#/definitions/AttributeValueUpdate'
  AttributeValueList:
    type: array
    description: 'A list of attribute values to be used with a comparison operator for a scan or query operation. For comparisons that require more than one value, such as a <code>BETWEEN</code> comparison, the AttributeValueList contains two attribute values and the comparison operator.'
    items:
      $ref: '#/definitions/AttributeValue'
  TableName:
    type: string
    pattern: '[a-zA-Z0-9_.-]+'
    minLength: 3
    maxLength: 255
  KeysAndAttributes:
    type: object
    required:
      - Keys
    properties:
      Keys:
        $ref: '#/definitions/KeyList'
      AttributesToGet:
        $ref: '#/definitions/AttributeNameList'
      ConsistentRead:
        $ref: '#/definitions/ConsistentRead'
  BatchGetRequestMap:
    type: array
    description: 'A map of the table name and corresponding items to get by primary key. While requesting items, each table name can be invoked only once per operation.'
    minItems: 1
    maxItems: 100
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/TableName'
        value:
          $ref: '#/definitions/KeysAndAttributes'
  BatchResponse:
    type: object
    properties:
      Items:
        $ref: '#/definitions/ItemList'
      ConsumedCapacityUnits:
        $ref: '#/definitions/ConsumedCapacityUnits'
    description: 'The item attributes from a response in a specific table, along with the read resources consumed on the table during the request.'
  BatchGetResponseMap:
    type: array
    description: Table names and the respective item attributes from the tables.
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/TableName'
        value:
          $ref: '#/definitions/BatchResponse'
  WriteRequests:
    type: array
    items:
      $ref: '#/definitions/WriteRequest'
    minItems: 1
    maxItems: 25
  BatchWriteItemRequestMap:
    type: array
    description: '<p>A map of table name to list-of-write-requests.</p> <p>Key: The table name corresponding to the list of requests</p> <p>Value: Essentially a list of request items. Each request item could contain either a <code>PutRequest</code> or <code>DeleteRequest</code>. Never both.</p>'
    minItems: 1
    maxItems: 25
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/TableName'
        value:
          $ref: '#/definitions/WriteRequests'
  BatchWriteResponse:
    type: object
    properties:
      ConsumedCapacityUnits:
        $ref: '#/definitions/ConsumedCapacityUnits'
  BatchWriteResponseMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/TableName'
        value:
          $ref: '#/definitions/BatchWriteResponse'
  BinaryAttributeValue:
    type: string
  BinarySetAttributeValue:
    type: array
    items:
      $ref: '#/definitions/BinaryAttributeValue'
  BooleanObject:
    type: boolean
  ComparisonOperator:
    type: string
    enum:
      - EQ
      - NE
      - IN
      - LE
      - LT
      - GE
      - GT
      - BETWEEN
      - NOT_NULL
      - 'NULL'
      - CONTAINS
      - NOT_CONTAINS
      - BEGINS_WITH
    description: '<p>A comparison operator is an enumeration of several operations:</p> <ul> <li><code>EQ</code> for <em>equal</em>.</li> <li><code>NE</code> for <em>not equal</em>.</li> <li><code>IN</code> checks for exact matches.</li> <li><code>LE</code> for <em>less than or equal to</em>.</li> <li><code>LT</code> for <em>less than</em>.</li> <li><code>GE</code> for <em>greater than or equal to</em>.</li> <li><code>GT</code> for <em>greater than</em>.</li> <li><code>BETWEEN</code> for <em>between</em>.</li> <li><code>NOT_NULL</code> for <em>exists</em>.</li> <li><code>NULL</code> for <em>not exists</em>.</li> <li><code>CONTAINS</code> for substring or value in a set.</li> <li><code>NOT_CONTAINS</code> for absence of a substring or absence of a value in a set.</li> <li><code>BEGINS_WITH</code> for a substring prefix.</li> </ul> <p>Scan operations support all available comparison operators.</p> <p>Query operations support a subset of the available comparison operators: EQ, LE, LT, GE, GT, BETWEEN, and BEGINS_WITH.</p>'
  Condition:
    type: object
    required:
      - ComparisonOperator
    properties:
      AttributeValueList:
        $ref: '#/definitions/AttributeValueList'
      ComparisonOperator:
        $ref: '#/definitions/ComparisonOperator'
  ConsistentRead:
    type: boolean
    description: 'If set to <code>true</code>, then a consistent read is issued. Otherwise eventually-consistent is used.'
  ConsumedCapacityUnits:
    type: number
    description: 'The number of Capacity Units of the provisioned throughput of the table consumed during the operation. <code>GetItem</code>, <code>BatchGetItem</code>, <code>BatchWriteItem</code>, <code>Query</code>, and <code>Scan</code> operations consume <code>ReadCapacityUnits</code>, while <code>PutItem</code>, <code>UpdateItem</code>, and <code>DeleteItem</code> operations consume <code>WriteCapacityUnits</code>.'
    format: double
  Date:
    type: string
    format: date-time
  DeleteRequest:
    type: object
    required:
      - Key
    properties:
      Key:
        $ref: '#/definitions/Key'
        description: The item's key to be delete
    description: A container for a Delete BatchWrite request
  ExpectedAttributeValue:
    type: object
    properties:
      Value:
        $ref: '#/definitions/AttributeValue'
        description: Specify whether or not a value already exists and has a specific content for the attribute name-value pair.
      Exists:
        $ref: '#/definitions/BooleanObject'
        description: Specify whether or not a value already exists for the attribute name-value pair.
    description: 'Allows you to provide an attribute name, and whether or not Amazon DynamoDB should check to see if the attribute value already exists; or if the attribute value exists and has a particular value before changing it.'
  ExpectedAttributeMap:
    type: array
    description: 'Designates an attribute for a conditional modification. The <code>Expected</code> parameter allows you to provide an attribute name, and whether or not Amazon DynamoDB should check to see if the attribute has a particular value before modifying it.'
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/AttributeName'
        value:
          $ref: '#/definitions/ExpectedAttributeValue'
  String:
    type: string
  FilterConditionMap:
    type: array
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/String'
        value:
          $ref: '#/definitions/Condition'
  Integer:
    type: integer
  ItemList:
    type: array
    items:
      $ref: '#/definitions/AttributeMap'
  Key:
    type: object
    required:
      - HashKeyElement
    properties:
      HashKeyElement:
        $ref: '#/definitions/AttributeValue'
        description: 'A hash key element is treated as the primary key, and can be a string or a number. Single attribute primary keys have one index value. The value can be <code>String</code>, <code>Number</code>, <code>StringSet</code>, <code>NumberSet</code>.'
      RangeKeyElement:
        $ref: '#/definitions/AttributeValue'
        description: 'A range key element is treated as a secondary key (used in conjunction with the primary key), and can be a string or a number, and is only used for hash-and-range primary keys. The value can be <code>String</code>, <code>Number</code>, <code>StringSet</code>, <code>NumberSet</code>.'
    description: The primary key that uniquely identifies each item in a table. A primary key can be a one attribute (hash) primary key or a two attribute (hash-and-range) primary key.
  KeyList:
    type: array
    items:
      $ref: '#/definitions/Key'
    minItems: 1
    maxItems: 100
  KeySchema:
    type: object
    required:
      - HashKeyElement
    properties:
      HashKeyElement:
        $ref: '#/definitions/KeySchemaElement'
        description: 'A hash key element is treated as the primary key, and can be a string or a number. Single attribute primary keys have one index value. The value can be <code>String</code>, <code>Number</code>, <code>StringSet</code>, <code>NumberSet</code>.'
      RangeKeyElement:
        $ref: '#/definitions/KeySchemaElement'
        description: 'A range key element is treated as a secondary key (used in conjunction with the primary key), and can be a string or a number, and is only used for hash-and-range primary keys. The value can be <code>String</code>, <code>Number</code>, <code>StringSet</code>, <code>NumberSet</code>.'
    description: 'The KeySchema identifies the primary key as a one attribute primary key (hash) or a composite two attribute (hash-and-range) primary key. Single attribute primary keys have one index value: a <code>HashKeyElement</code>. A composite hash-and-range primary key contains two attribute values: a <code>HashKeyElement</code> and a <code>RangeKeyElement</code>.'
  KeySchemaAttributeName:
    type: string
    minLength: 1
    maxLength: 255
  KeySchemaElement:
    type: object
    required:
      - AttributeName
      - AttributeType
    properties:
      AttributeName:
        $ref: '#/definitions/KeySchemaAttributeName'
        description: The <code>AttributeName</code> of the <code>KeySchemaElement</code>.
      AttributeType:
        $ref: '#/definitions/ScalarAttributeType'
        description: The <code>AttributeType</code> of the <code>KeySchemaElement</code> which can be a <code>String</code> or a <code>Number</code>.
    description: <code>KeySchemaElement</code> is the primary key (hash or hash-and-range) structure for the table.
  ListTablesInputLimit:
    type: integer
    description: A number of maximum table names to return.
    minimum: 1
    maximum: 100
  Long:
    type: integer
  NumberAttributeValue:
    type: string
  NumberSetAttributeValue:
    type: array
    items:
      $ref: '#/definitions/NumberAttributeValue'
  PositiveIntegerObject:
    type: integer
    minimum: 1
  PositiveLongObject:
    type: integer
    minimum: 1
  ProvisionedThroughput:
    type: object
    required:
      - ReadCapacityUnits
      - WriteCapacityUnits
    properties:
      ReadCapacityUnits:
        $ref: '#/definitions/PositiveLongObject'
        description: '<code>ReadCapacityUnits</code> are in terms of strictly consistent reads, assuming items of 1k. 2k items require twice the <code>ReadCapacityUnits</code>. Eventually-consistent reads only require half the <code>ReadCapacityUnits</code> of stirctly consistent reads.'
      WriteCapacityUnits:
        $ref: '#/definitions/PositiveLongObject'
        description: '<code>WriteCapacityUnits</code> are in terms of strictly consistent reads, assuming items of 1k. 2k items require twice the <code>WriteCapacityUnits</code>.'
    description: 'Provisioned throughput reserves the required read and write resources for your table in terms of <code>ReadCapacityUnits</code> and <code>WriteCapacityUnits</code>. Values for provisioned throughput depend upon your expected read/write rates, item size, and consistency. Provide the expected number of read and write operations, assuming an item size of 1k and strictly consistent reads. For 2k item size, double the value. For 3k, triple the value, etc. Eventually-consistent reads consume half the resources of strictly consistent reads.'
  ProvisionedThroughputDescription:
    type: object
    properties:
      LastIncreaseDateTime:
        $ref: '#/definitions/Date'
      LastDecreaseDateTime:
        $ref: '#/definitions/Date'
      NumberOfDecreasesToday:
        $ref: '#/definitions/PositiveLongObject'
      ReadCapacityUnits:
        $ref: '#/definitions/PositiveLongObject'
      WriteCapacityUnits:
        $ref: '#/definitions/PositiveLongObject'
  PutItemInputAttributeMap:
    type: array
    description: 'A map of the attributes for the item, and must include the primary key values that define the item. Other attribute name-value pairs can be provided for the item.'
    items:
      type: object
      properties:
        key:
          $ref: '#/definitions/AttributeName'
        value:
          $ref: '#/definitions/AttributeValue'
  PutRequest:
    type: object
    required:
      - Item
    properties:
      Item:
        $ref: '#/definitions/PutItemInputAttributeMap'
        description: The item to put
    description: A container for a Put BatchWrite request
  ReturnValue:
    type: string
    enum:
      - NONE
      - ALL_OLD
      - UPDATED_OLD
      - ALL_NEW
      - UPDATED_NEW
    description: '<p>Use this parameter if you want to get the attribute name-value pairs before or after they are modified. For <code>PUT</code> operations, the possible parameter values are <code>NONE</code> (default) or <code>ALL_OLD</code>. For update operations, the possible parameter values are <code>NONE</code> (default) or <code>ALL_OLD</code>, <code>UPDATED_OLD</code>, <code>ALL_NEW</code> or <code>UPDATED_NEW</code>.</p> <ul> <li><code>NONE</code>: Nothing is returned.</li> <li><code>ALL_OLD</code>: Returns the attributes of the item as they were before the operation.</li> <li><code>UPDATED_OLD</code>: Returns the values of the updated attributes, only, as they were before the operation.</li> <li><code>ALL_NEW</code>: Returns all the attributes and their new values after the operation.</li> <li><code>UPDATED_NEW</code>: Returns the values of the updated attributes, only, as they are after the operation.</li> </ul>'
  ScalarAttributeType:
    type: string
    enum:
      - S
      - 'N'
      - B
  StringAttributeValue:
    type: string
  StringSetAttributeValue:
    type: array
    items:
      $ref: '#/definitions/StringAttributeValue'
  TableDescription:
    type: object
    properties:
      TableName:
        $ref: '#/definitions/TableName'
        description: The name of the table being described.
      KeySchema:
        $ref: '#/definitions/KeySchema'
      TableStatus:
        $ref: '#/definitions/TableStatus'
      CreationDateTime:
        $ref: '#/definitions/Date'
      ProvisionedThroughput:
        $ref: '#/definitions/ProvisionedThroughputDescription'
      TableSizeBytes:
        $ref: '#/definitions/Long'
      ItemCount:
        $ref: '#/definitions/Long'
  TableNameList:
    type: array
    items:
      $ref: '#/definitions/TableName'
  TableStatus:
    type: string
    enum:
      - CREATING
      - UPDATING
      - DELETING
      - ACTIVE
  WriteRequest:
    type: object
    properties:
      PutRequest:
        $ref: '#/definitions/PutRequest'
      DeleteRequest:
        $ref: '#/definitions/DeleteRequest'
    description: This structure is a Union of PutRequest and DeleteRequest. It can contain exactly one of <code>PutRequest</code> or <code>DeleteRequest</code>. Never Both. This is enforced in the code.
