openapi: 3.0.0
servers:
  - url: https://api.ecowetter.de
info:
  contact:
    x-twitter: Rapid_API
  description: Abfrage von Wetterdaten aus der Vergangenheit. Der maximale Abfragezeitraum beträgt 366 Tage (1 Jahr).
  title: Historische  Daten
  version: 1.0.0
  x-apisguru-categories:
    - text
  x-logo:
    url: https://api.apis.guru/v2/cache/logo/https_twitter.com_Rapid_API_profile_image
  x-origin:
    - format: openapi
      url: https://corrently.io/attachments/4
      version: "3.0"
  x-providerName: rapidapi.com
  x-serviceName: ecowetter
paths:
  /public/history:
    get:
      description: Abfrage der Wettervorhersage für einen Ort, der entweder durch Angabe eines Suchbegriffs mit dem Parameter `q` oder durch Geo-Koordinaten in den Parametern `lat` und `lon` spezifiziert wird.
      parameters:
        - description: Ortssuche mit Freitext
          example: Berlin, Reichstag
          explode: true
          in: query
          name: q
          required: false
          schema:
            type: string
          style: form
        - description: Startdatum der Abfrage im Format (JJJJ-MM-DD)
          example: 2021-01-01
          explode: true
          in: query
          name: from
          required: false
          schema:
            type: string
          style: form
        - description: Enddatum der Abfrage im Format (JJJJ-MM-DD)
          example: 2022-01-01
          explode: true
          in: query
          name: to
          required: false
          schema:
            type: string
          style: form
      responses:
        "200":
          content:
            application/json:
              example:
                address: 52.4676201,13.5280284
                days:
                  - cloudcover: 100
                    conditions: Overcast
                    date: 2022-10-31
                    datetime: 2022-10-31
                    datetimeEpoch: 1667170800
                    description: Cloudy skies throughout the day.
                    dew: 11.3
                    feelslike: 12.3
                    feelslikemax: 18
                    feelslikemin: 6.9
                    hours:
                      - conditions: Clear
                        datetime: 00:00:00
                        datetimeEpoch: 1667170800
                        dew: 10
                        feelslike: 10
                        humidity: 100
                        icon: clear-night
                        precipprob: 0
                        pressure: 1018
                        source: obs
                        stations:
                          - EDDB
                        temp: 10
                        tempC: 10
                        time: 00:00:00
                        timestamp: 1667170800000
                        visibility: 1
                        winddir: 150
                        windspeed: 3.6
                      - conditions: Clear
                        datetime: 01:00:00
                        datetimeEpoch: 1667174400
                        dew: 9
                        feelslike: 9
                        humidity: 100
                        icon: clear-night
                        precipprob: 0
                        pressure: 1018
                        source: obs
                        stations:
                          - EDDB
                        temp: 9
                        tempC: 9
                        time: 01:00:00
                        timestamp: 1667170800000
                        visibility: 1
                        winddir: 190
                        windspeed: 1.8
                      - conditions: Clear
                        datetime: 02:00:00
                        datetimeEpoch: 1667178000
                        dew: 9
                        feelslike: 8.5
                        humidity: 100
                        icon: clear-night
                        precipprob: 0
                        pressure: 1019
                        source: obs
                        stations:
                          - EDDB
                        temp: 9
                        tempC: 9
                        time: 02:00:00
                        timestamp: 1667170800000
                        visibility: 1
                        winddir: 230
                        windspeed: 5.4
                      - conditions: Clear
                        datetime: 03:00:00
                        datetimeEpoch: 1667181600
                        dew: 9
                        feelslike: 9
                        humidity: 100
                        icon: clear-night
                        precipprob: 0
                        pressure: 1019
                        source: obs
                        stations:
                          - EDDB
                        temp: 9
                        tempC: 9
                        time: 03:00:00
                        timestamp: 1667170800000
                        visibility: 0
                        winddir: 270
                        windspeed: 3.6
                      - conditions: Clear
                        datetime: 04:00:00
                        datetimeEpoch: 1667185200
                        dew: 10
                        feelslike: 10
                        humidity: 100
                        icon: clear-night
                        precipprob: 0
                        pressure: 1019
                        source: obs
                        stations:
                          - EDDB
                        temp: 10
                        tempC: 10
                        time: 04:00:00
                        timestamp: 1667170800000
                        visibility: 10
                        winddir: 240
                        windspeed: 3.6
                      - conditions: Clear
                        datetime: 05:00:00
                        datetimeEpoch: 1667188800
                        dew: 9
                        feelslike: 6.9
                        humidity: 100
                        icon: clear-night
                        precipprob: 0
                        pressure: 1019
                        source: obs
                        stations:
                          - EDDB
                        temp: 9
                        tempC: 9
                        time: 05:00:00
                        timestamp: 1667170800000
                        visibility: 10
                        winddir: 250
                        windspeed: 13
                      - conditions: Clear
                        datetime: 06:00:00
                        datetimeEpoch: 1667192400
                        dew: 9
                        feelslike: 7.9
                        humidity: 100
                        icon: clear-night
                        precipprob: 0
                        pressure: 1020
                        source: obs
                        stations:
                          - EDDB
                        temp: 9
                        tempC: 9
                        time: 06:00:00
                        timestamp: 1667170800000
                        visibility: 10
                        winddir: 250
                        windspeed: 7.6
                      - conditions: Clear
                        datetime: 07:00:00
                        datetimeEpoch: 1667196000
                        dew: 9
                        feelslike: 9
                        humidity: 100
                        icon: clear-day
                        precipprob: 0
                        pressure: 1020
                        solarenergy: 0
                        solarradiation: 5
                        source: obs
                        stations:
                          - EDDB
                          - E2835
                        temp: 9
                        tempC: 9
                        time: 07:00:00
                        timestamp: 1667170800000
                        uvindex: 0
                        visibility: 10
                      - conditions: Clear
                        datetime: 08:00:00
                        datetimeEpoch: 1667199600
                        dew: 10
                        feelslike: 8.7
                        humidity: 100
                        icon: clear-day
                        precipprob: 0
                        pressure: 1020
                        solarenergy: 0.2
                        solarradiation: 56
                        source: obs
                        stations:
                          - EDDB
                          - E2835
                        temp: 10
                        tempC: 10
                        time: 08:00:00
                        timestamp: 1667170800000
                        uvindex: 1
                        visibility: 10
                        winddir: 240
                        windspeed: 9.4
                      - conditions: Clear
                        datetime: 09:00:00
                        datetimeEpoch: 1667203200
                        dew: 11
                        feelslike: 12
                        humidity: 93.6
                        icon: clear-day
                        precipprob: 0
                        pressure: 1021
                        solarenergy: 0.8
                        solarradiation: 209
                        source: obs
                        stations:
                          - EDDB
                          - E2835
                        temp: 12
                        tempC: 12
                        time: 09:00:00
                        timestamp: 1667170800000
                        uvindex: 2
                        visibility: 10
                        winddir: 240
                        windspeed: 5.4
                      - conditions: Clear
                        datetime: 10:00:00
                        datetimeEpoch: 1667206800
                        dew: 12
                        feelslike: 14
                        humidity: 87.74
                        icon: clear-day
                        precipprob: 0
                        pressure: 1021
                        solarenergy: 1
                        solarradiation: 265
                        source: obs
                        stations:
                          - EDDB
                          - E2835
                        temp: 14
                        tempC: 14
                        time: 10:00:00
                        timestamp: 1667170800000
                        uvindex: 3
                        visibility: 10
                        windspeed: 7.6
                      - conditions: Clear
                        datetime: 11:00:00
                        datetimeEpoch: 1667210400
                        dew: 13
                        feelslike: 14
                        humidity: 93.7
                        icon: clear-day
                        precipprob: 0
                        pressure: 1021
                        solarenergy: 0.6
                        solarradiation: 179
                        source: obs
                        stations:
                          - EDDB
                          - E2835
                        temp: 14
                        tempC: 14
                        time: 11:00:00
                        timestamp: 1667170800000
                        uvindex: 2
                        visibility: 10
                        winddir: 260
                        windspeed: 7.6
                      - conditions: Clear
                        datetime: 12:00:00
                        datetimeEpoch: 1667214000
                        dew: 13
                        feelslike: 17
                        humidity: 77.3
                        icon: clear-day
                        precipprob: 0
                        pressure: 1021
                        solarenergy: 0.7
                        solarradiation: 195
                        source: obs
                        stations:
                          - EDDB
                          - E2835
                        temp: 17
                        tempC: 17
                        time: 12:00:00
                        timestamp: 1667170800000
                        uvindex: 2
                        visibility: 10
                        winddir: 280
                        windspeed: 5.4
                      - conditions: Clear
                        datetime: 13:00:00
                        datetimeEpoch: 1667217600
                        dew: 14
                        feelslike: 17
                        humidity: 82.5
                        icon: clear-day
                        precipprob: 0
                        pressure: 1021
                        solarenergy: 1.1
                        solarradiation: 297
                        source: obs
                        stations:
                          - EDDB
                          - E2835
                        temp: 17
                        tempC: 17
                        time: 13:00:00
                        timestamp: 1667170800000
                        uvindex: 3
                        visibility: 10
                        winddir: 270
                        windspeed: 5.4
                      - conditions: Clear
                        datetime: 14:00:00
                        datetimeEpoch: 1667221200
                        dew: 14
                        feelslike: 18
                        humidity: 77.46
                        icon: clear-day
                        precipprob: 0
                        pressure: 1020
                        solarenergy: 1
                        solarradiation: 270
                        source: obs
                        stations:
                          - EDDB
                          - E2835
                        temp: 18
                        tempC: 18
                        time: 14:00:00
                        timestamp: 1667170800000
                        uvindex: 3
                        visibility: 10
                        winddir: 260
                        windspeed: 5.4
                      - conditions: Clear
                        datetime: 15:00:00
                        datetimeEpoch: 1667224800
                        dew: 13
                        feelslike: 18
                        humidity: 72.57
                        icon: clear-day
                        precipprob: 0
                        pressure: 1020
                        solarenergy: 0.5
                        solarradiation: 147
                        source: obs
                        stations:
                          - EDDB
                          - E2835
                        temp: 18
                        tempC: 18
                        time: 15:00:00
                        timestamp: 1667170800000
                        uvindex: 1
                        visibility: 10
                        winddir: 0
                        windspeed: 0
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 16:00:00
                        datetimeEpoch: 1667228400
                        dew: 13.8
                        feelslike: 16.5
                        humidity: 84.07
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 3
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.3
                        solarradiation: 76
                        source: fcst
                        temp: 16.5
                        tempC: 16.5
                        time: 16:00:00
                        timestamp: 1667170800000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 1.2
                        windgust: 4
                        windspeed: 0.4
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 17:00:00
                        datetimeEpoch: 1667232000
                        dew: 12.8
                        feelslike: 15
                        humidity: 86.69
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 3
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0
                        solarradiation: 7
                        source: fcst
                        temp: 15
                        tempC: 15
                        time: 17:00:00
                        timestamp: 1667170800000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 99.5
                        windgust: 3.6
                        windspeed: 2.9
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 18:00:00
                        datetimeEpoch: 1667235600
                        dew: 12.4
                        feelslike: 13.3
                        humidity: 94.28
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 5
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 13.3
                        tempC: 13.3
                        time: 18:00:00
                        timestamp: 1667170800000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 100.9
                        windgust: 7.9
                        windspeed: 4.7
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 19:00:00
                        datetimeEpoch: 1667239200
                        dew: 12.1
                        feelslike: 12.8
                        humidity: 95.51
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 12.8
                        tempC: 12.8
                        time: 19:00:00
                        timestamp: 1667170800000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 88.2
                        windgust: 9.4
                        windspeed: 5.4
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 20:00:00
                        datetimeEpoch: 1667242800
                        dew: 11.9
                        feelslike: 12.5
                        humidity: 96.13
                        icon: cloudy
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 12.5
                        tempC: 12.5
                        time: 20:00:00
                        timestamp: 1667170800000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 83.6
                        windgust: 10.8
                        windspeed: 6.1
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 21:00:00
                        datetimeEpoch: 1667246400
                        dew: 11.6
                        feelslike: 12.2
                        humidity: 96.12
                        icon: cloudy
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 12.2
                        tempC: 12.2
                        time: 21:00:00
                        timestamp: 1667170800000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 82.3
                        windgust: 13.3
                        windspeed: 7.6
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 22:00:00
                        datetimeEpoch: 1667250000
                        dew: 11.5
                        feelslike: 12
                        humidity: 96.75
                        icon: cloudy
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 12
                        tempC: 12
                        time: 22:00:00
                        timestamp: 1667170800000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 82.2
                        windgust: 15.8
                        windspeed: 8.6
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 23:00:00
                        datetimeEpoch: 1667253600
                        dew: 11.4
                        feelslike: 11.9
                        humidity: 96.75
                        icon: cloudy
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1018
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 11.9
                        tempC: 11.9
                        time: 23:00:00
                        timestamp: 1667170800000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 85.1
                        windgust: 17.6
                        windspeed: 10.1
                    humidity: 93
                    icon: cloudy
                    moonphase: 0.21
                    normal:
                      cloudcover:
                        - 0
                        - 41.6
                        - 91.3
                      feelslike:
                        - -2.4
                        - 12
                        - 18.7
                      humidity:
                        - 63.9
                        - 83.1
                        - 96.1
                      precip:
                        - 0
                        - 0.4
                        - 4.3
                      snowdepth:
                        - null
                        - null
                        - null
                      tempmax:
                        - 7.1
                        - 12
                        - 18.7
                      tempmin:
                        - -2.2
                        - 5.1
                        - 13.3
                      winddir:
                        - 93.6
                        - 177.5
                        - 264
                      windgust:
                        - 10.8
                        - 18
                        - 43.2
                      windspeed:
                        - 7.9
                        - 18
                        - 39.6
                    precip: 0
                    precipcover: 0
                    precipitation: 0
                    precipprob: 4.8
                    pressure: 1019.6
                    severerisk: 10
                    snow: 0
                    snowdepth: 0
                    solarenergy: 6.2
                    solarradiation: 100.4
                    source: comb
                    stations:
                      - EDDB
                      - E2835
                    sunrise: 06:59:56
                    sunriseEpoch: 1667195996
                    sunset: 16:38:18
                    sunsetEpoch: 1667230698
                    tempC: 12.5
                    tempmaxC: 18
                    tempminC: 9
                    timestamp: 1667170800000
                    uvindex: 3
                    visibility: 13.2
                    winddir: 221
                    windgust: 17.6
                    windspeed: 13
                  - cloudcover: 92.7
                    conditions: Overcast
                    date: 2022-11-01
                    datetime: 2022-11-01
                    datetimeEpoch: 1667257200
                    description: Cloudy skies throughout the day.
                    dew: 10.8
                    feelslike: 12.9
                    feelslikemax: 17.9
                    feelslikemin: 8.2
                    hours:
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 00:00:00
                        datetimeEpoch: 1667257200
                        dew: 11.5
                        feelslike: 11.9
                        humidity: 97.39
                        icon: cloudy
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1017
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 11.9
                        tempC: 11.9
                        time: 00:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 87.2
                        windgust: 20.2
                        windspeed: 7.9
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 01:00:00
                        datetimeEpoch: 1667260800
                        dew: 11.5
                        feelslike: 11.9
                        humidity: 97.39
                        icon: cloudy
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1017
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 11.9
                        tempC: 11.9
                        time: 01:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 92.1
                        windgust: 20.2
                        windspeed: 11.2
                      - cloudcover: 89.4
                        conditions: Partially cloudy
                        datetime: 02:00:00
                        datetimeEpoch: 1667264400
                        dew: 11.5
                        feelslike: 12
                        humidity: 96.75
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1016
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 12
                        tempC: 12
                        time: 02:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 107.9
                        windgust: 21.6
                        windspeed: 7.6
                      - cloudcover: 65.1
                        conditions: Partially cloudy
                        datetime: 03:00:00
                        datetimeEpoch: 1667268000
                        dew: 11.5
                        feelslike: 11.8
                        humidity: 98.04
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1016
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 11.8
                        tempC: 11.8
                        time: 03:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 104.8
                        windgust: 18
                        windspeed: 9.4
                      - cloudcover: 94.1
                        conditions: Overcast
                        datetime: 04:00:00
                        datetimeEpoch: 1667271600
                        dew: 11.4
                        feelslike: 11.6
                        humidity: 98.69
                        icon: cloudy
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1015
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 11.6
                        tempC: 11.6
                        time: 04:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 116.2
                        windgust: 18
                        windspeed: 9.7
                      - cloudcover: 78.4
                        conditions: Partially cloudy
                        datetime: 05:00:00
                        datetimeEpoch: 1667275200
                        dew: 11.2
                        feelslike: 11.5
                        humidity: 98.03
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1015
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 11.5
                        tempC: 11.5
                        time: 05:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 132
                        windgust: 19.4
                        windspeed: 10.1
                      - cloudcover: 97.7
                        conditions: Overcast
                        datetime: 06:00:00
                        datetimeEpoch: 1667278800
                        dew: 10.8
                        feelslike: 11.1
                        humidity: 98.03
                        icon: cloudy
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1015
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 11.1
                        tempC: 11.1
                        time: 06:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 136.2
                        windgust: 19.8
                        windspeed: 10.4
                      - cloudcover: 95.8
                        conditions: Overcast
                        datetime: 07:00:00
                        datetimeEpoch: 1667282400
                        dew: 10.5
                        feelslike: 10.8
                        humidity: 98.02
                        icon: cloudy
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1015
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 10.8
                        tempC: 10.8
                        time: 07:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 137.6
                        windgust: 19.1
                        windspeed: 10.4
                      - cloudcover: 96.1
                        conditions: Overcast
                        datetime: 08:00:00
                        datetimeEpoch: 1667286000
                        dew: 10.2
                        feelslike: 11
                        humidity: 94.81
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1015
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.1
                        solarradiation: 23
                        source: fcst
                        temp: 11
                        tempC: 11
                        time: 08:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 153.8
                        windgust: 18.7
                        windspeed: 9
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 09:00:00
                        datetimeEpoch: 1667289600
                        dew: 10.6
                        feelslike: 12.8
                        humidity: 86.48
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1016
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.3
                        solarradiation: 83
                        source: fcst
                        temp: 12.8
                        tempC: 12.8
                        time: 09:00:00
                        timestamp: 1667257200000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 189.8
                        windgust: 17.6
                        windspeed: 9.4
                      - cloudcover: 99.6
                        conditions: Overcast
                        datetime: 10:00:00
                        datetimeEpoch: 1667293200
                        dew: 11.6
                        feelslike: 14.7
                        humidity: 81.68
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1016
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.4
                        solarradiation: 102
                        source: fcst
                        temp: 14.7
                        tempC: 14.7
                        time: 10:00:00
                        timestamp: 1667257200000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 208.3
                        windgust: 19.8
                        windspeed: 10.4
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 11:00:00
                        datetimeEpoch: 1667296800
                        dew: 12.6
                        feelslike: 16.1
                        humidity: 79.74
                        icon: cloudy
                        precipitation: 0.1
                        precipprob: 0
                        preciptype:
                          - rain
                        pressure: 1016
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.4
                        solarradiation: 118
                        source: fcst
                        temp: 16.1
                        tempC: 16.1
                        time: 11:00:00
                        timestamp: 1667257200000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 226.6
                        windgust: 29.5
                        windspeed: 15.8
                      - cloudcover: 99.3
                        conditions: Overcast
                        datetime: 12:00:00
                        datetimeEpoch: 1667300400
                        dew: 13.3
                        feelslike: 16.5
                        humidity: 81.37
                        icon: cloudy
                        precipitation: 0.1
                        precipprob: 0
                        preciptype:
                          - rain
                        pressure: 1016
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.9
                        solarradiation: 246
                        source: fcst
                        temp: 16.5
                        tempC: 16.5
                        time: 12:00:00
                        timestamp: 1667257200000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 227.7
                        windgust: 30.6
                        windspeed: 14
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 13:00:00
                        datetimeEpoch: 1667304000
                        dew: 13.2
                        feelslike: 17.7
                        humidity: 74.93
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1016
                        severerisk: 3
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.8
                        solarradiation: 233
                        source: fcst
                        temp: 17.7
                        tempC: 17.7
                        time: 13:00:00
                        timestamp: 1667257200000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 234.5
                        windgust: 31.3
                        windspeed: 16.6
                      - cloudcover: 99.1
                        conditions: Overcast
                        datetime: 14:00:00
                        datetimeEpoch: 1667307600
                        dew: 12
                        feelslike: 17.9
                        humidity: 68.39
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1017
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.7
                        solarradiation: 181
                        source: fcst
                        temp: 17.9
                        tempC: 17.9
                        time: 14:00:00
                        timestamp: 1667257200000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 252.3
                        windgust: 34.9
                        windspeed: 17.6
                      - cloudcover: 88.4
                        conditions: Partially cloudy
                        datetime: 15:00:00
                        datetimeEpoch: 1667311200
                        dew: 10.8
                        feelslike: 17.2
                        humidity: 66.02
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 0
                        pressure: 1017
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.4
                        solarradiation: 121
                        source: fcst
                        temp: 17.2
                        tempC: 17.2
                        time: 15:00:00
                        timestamp: 1667257200000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 265.6
                        windgust: 32.4
                        windspeed: 15.5
                      - cloudcover: 70.5
                        conditions: Partially cloudy
                        datetime: 16:00:00
                        datetimeEpoch: 1667314800
                        dew: 10.3
                        feelslike: 15.6
                        humidity: 70.71
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 0
                        pressure: 1017
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.2
                        solarradiation: 54
                        source: fcst
                        temp: 15.6
                        tempC: 15.6
                        time: 16:00:00
                        timestamp: 1667257200000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 253.7
                        windgust: 28.4
                        windspeed: 7.2
                      - cloudcover: 99
                        conditions: Overcast
                        datetime: 17:00:00
                        datetimeEpoch: 1667318400
                        dew: 10.4
                        feelslike: 14
                        humidity: 78.91
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1018
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0
                        solarradiation: 5
                        source: fcst
                        temp: 14
                        tempC: 14
                        time: 17:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 248.1
                        windgust: 13.3
                        windspeed: 7.2
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 18:00:00
                        datetimeEpoch: 1667322000
                        dew: 10.4
                        feelslike: 13.3
                        humidity: 82.59
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1018
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 13.3
                        tempC: 13.3
                        time: 18:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 260.2
                        windgust: 14
                        windspeed: 7.9
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 19:00:00
                        datetimeEpoch: 1667325600
                        dew: 9.4
                        feelslike: 12.3
                        humidity: 82.46
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 12.3
                        tempC: 12.3
                        time: 19:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 244.7
                        windgust: 14
                        windspeed: 7.2
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 20:00:00
                        datetimeEpoch: 1667329200
                        dew: 9.4
                        feelslike: 11
                        humidity: 89.86
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 11
                        tempC: 11
                        time: 20:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 231.7
                        windgust: 13
                        windspeed: 6.8
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 21:00:00
                        datetimeEpoch: 1667332800
                        dew: 9.2
                        feelslike: 10.5
                        humidity: 91.66
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 10.5
                        tempC: 10.5
                        time: 21:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 227
                        windgust: 13.3
                        windspeed: 7.6
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 22:00:00
                        datetimeEpoch: 1667336400
                        dew: 8.5
                        feelslike: 9.1
                        humidity: 90.39
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 10
                        tempC: 10
                        time: 22:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 230.6
                        windgust: 13.7
                        windspeed: 7.6
                      - cloudcover: 52.8
                        conditions: Partially cloudy
                        datetime: 23:00:00
                        datetimeEpoch: 1667340000
                        dew: 7.8
                        feelslike: 8.2
                        humidity: 90.34
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 9.3
                        tempC: 9.3
                        time: 23:00:00
                        timestamp: 1667257200000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 223.1
                        windgust: 13.7
                        windspeed: 7.6
                    humidity: 87.2
                    icon: cloudy
                    moonphase: 0.26
                    normal:
                      cloudcover:
                        - 0
                        - 41.8
                        - 89.7
                      feelslike:
                        - -5.3
                        - 11.2
                        - 18.7
                      humidity:
                        - 77
                        - 85.4
                        - 95.6
                      precip:
                        - 0
                        - 1
                        - 4.1
                      snowdepth:
                        - null
                        - null
                        - null
                      tempmax:
                        - 6.1
                        - 11.2
                        - 18.7
                      tempmin:
                        - -1.3
                        - 4.7
                        - 10.7
                      winddir:
                        - 64.4
                        - 179.4
                        - 279.6
                      windgust:
                        - 10.8
                        - 18.7
                        - 32.4
                      windspeed:
                        - 6.1
                        - 19.1
                        - 46.1
                    precip: 0
                    precipcover: 8.33
                    precipitation: 0.2
                    precipprob: 4.8
                    preciptype:
                      - rain
                    pressure: 1016.9
                    severerisk: 10
                    snow: 0
                    snowdepth: 0
                    solarenergy: 4.2
                    solarradiation: 48.6
                    source: fcst
                    sunrise: 07:01:46
                    sunriseEpoch: 1667282506
                    sunset: 16:36:24
                    sunsetEpoch: 1667316984
                    tempC: 13
                    tempmaxC: 17.9
                    tempminC: 9.3
                    timestamp: 1667257200000
                    uvindex: 2
                    visibility: 24.1
                    winddir: 203.8
                    windgust: 34.9
                    windspeed: 17.6
                  - cloudcover: 43.5
                    conditions: Partially cloudy
                    date: 2022-11-02
                    datetime: 2022-11-02
                    datetimeEpoch: 1667343600
                    description: Partly cloudy throughout the day.
                    dew: 5.7
                    feelslike: 7.8
                    feelslikemax: 14.2
                    feelslikemin: 3.3
                    hours:
                      - cloudcover: 9.8
                        conditions: Clear
                        datetime: 00:00:00
                        datetimeEpoch: 1667343600
                        dew: 6.9
                        feelslike: 6.6
                        humidity: 91.51
                        icon: clear-night
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 8.2
                        tempC: 8.2
                        time: 00:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 207.6
                        windgust: 15.8
                        windspeed: 9
                      - cloudcover: 47.1
                        conditions: Partially cloudy
                        datetime: 01:00:00
                        datetimeEpoch: 1667347200
                        dew: 6.2
                        feelslike: 5.6
                        humidity: 92.09
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 7.4
                        tempC: 7.4
                        time: 01:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 208.5
                        windgust: 16.9
                        windspeed: 9.4
                      - cloudcover: 54.8
                        conditions: Partially cloudy
                        datetime: 02:00:00
                        datetimeEpoch: 1667350800
                        dew: 6
                        feelslike: 5.2
                        humidity: 92.71
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 7.1
                        tempC: 7.1
                        time: 02:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 212.9
                        windgust: 17.6
                        windspeed: 9.7
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 03:00:00
                        datetimeEpoch: 1667354400
                        dew: 5.8
                        feelslike: 4.7
                        humidity: 93.98
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 6.7
                        tempC: 6.7
                        time: 03:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 211
                        windgust: 17.6
                        windspeed: 9.7
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 04:00:00
                        datetimeEpoch: 1667358000
                        dew: 5.8
                        feelslike: 4.7
                        humidity: 93.34
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 6.8
                        tempC: 6.8
                        time: 04:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 208.2
                        windgust: 19.1
                        windspeed: 10.4
                      - cloudcover: 91.4
                        conditions: Overcast
                        datetime: 05:00:00
                        datetimeEpoch: 1667361600
                        dew: 5.7
                        feelslike: 4.5
                        humidity: 93.33
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 6.7
                        tempC: 6.7
                        time: 05:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 205.9
                        windgust: 19.4
                        windspeed: 10.8
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 06:00:00
                        datetimeEpoch: 1667365200
                        dew: 5.4
                        feelslike: 4.2
                        humidity: 92.04
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 6.6
                        tempC: 6.6
                        time: 06:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 203.9
                        windgust: 20.9
                        windspeed: 11.9
                      - cloudcover: 16.8
                        conditions: Clear
                        datetime: 07:00:00
                        datetimeEpoch: 1667368800
                        dew: 5.4
                        feelslike: 4.1
                        humidity: 92.68
                        icon: clear-night
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 6.5
                        tempC: 6.5
                        time: 07:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 199.3
                        windgust: 20.9
                        windspeed: 11.5
                      - cloudcover: 49.4
                        conditions: Partially cloudy
                        datetime: 08:00:00
                        datetimeEpoch: 1667372400
                        dew: 5.7
                        feelslike: 4.8
                        humidity: 89.57
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.1
                        solarradiation: 19
                        source: fcst
                        temp: 7.3
                        tempC: 7.3
                        time: 08:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 204.8
                        windgust: 24.1
                        windspeed: 13.3
                      - cloudcover: 50.7
                        conditions: Partially cloudy
                        datetime: 09:00:00
                        datetimeEpoch: 1667376000
                        dew: 6.4
                        feelslike: 7
                        humidity: 81.53
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.4
                        solarradiation: 100
                        source: fcst
                        temp: 9.4
                        tempC: 9.4
                        time: 09:00:00
                        timestamp: 1667343600000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 211.6
                        windgust: 29.5
                        windspeed: 15.8
                      - cloudcover: 4.9
                        conditions: Clear
                        datetime: 10:00:00
                        datetimeEpoch: 1667379600
                        dew: 7.2
                        feelslike: 11.5
                        humidity: 74.88
                        icon: clear-day
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.8
                        solarradiation: 235
                        source: fcst
                        temp: 11.5
                        tempC: 11.5
                        time: 10:00:00
                        timestamp: 1667343600000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 222.7
                        windgust: 35.3
                        windspeed: 19.1
                      - cloudcover: 30.7
                        conditions: Partially cloudy
                        datetime: 11:00:00
                        datetimeEpoch: 1667383200
                        dew: 7.1
                        feelslike: 13.2
                        humidity: 66.51
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 1
                        solarradiation: 281
                        source: fcst
                        temp: 13.2
                        tempC: 13.2
                        time: 11:00:00
                        timestamp: 1667343600000
                        uvindex: 3
                        visibility: 24.1
                        winddir: 239.3
                        windgust: 43.2
                        windspeed: 23
                      - cloudcover: 40.9
                        conditions: Partially cloudy
                        datetime: 12:00:00
                        datetimeEpoch: 1667386800
                        dew: 6.6
                        feelslike: 14
                        humidity: 61.01
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 1.3
                        solarradiation: 351
                        source: fcst
                        temp: 14
                        tempC: 14
                        time: 12:00:00
                        timestamp: 1667343600000
                        uvindex: 4
                        visibility: 24.1
                        winddir: 238
                        windgust: 45.4
                        windspeed: 24.1
                      - cloudcover: 55.1
                        conditions: Partially cloudy
                        datetime: 13:00:00
                        datetimeEpoch: 1667390400
                        dew: 6.2
                        feelslike: 14.1
                        humidity: 58.97
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 1.2
                        solarradiation: 345
                        source: fcst
                        temp: 14.1
                        tempC: 14.1
                        time: 13:00:00
                        timestamp: 1667343600000
                        uvindex: 3
                        visibility: 24.1
                        winddir: 241.5
                        windgust: 49.7
                        windspeed: 23
                      - cloudcover: 78.5
                        conditions: Partially cloudy
                        datetime: 14:00:00
                        datetimeEpoch: 1667394000
                        dew: 5.6
                        feelslike: 14.2
                        humidity: 56.2
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 28.6
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 1.1
                        solarradiation: 292
                        source: fcst
                        temp: 14.2
                        tempC: 14.2
                        time: 14:00:00
                        timestamp: 1667343600000
                        uvindex: 3
                        visibility: 24.1
                        winddir: 246.3
                        windgust: 45.4
                        windspeed: 22.3
                      - cloudcover: 72.3
                        conditions: Partially cloudy
                        datetime: 15:00:00
                        datetimeEpoch: 1667397600
                        dew: 5.4
                        feelslike: 14
                        humidity: 56.15
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 28.6
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.7
                        solarradiation: 203
                        source: fcst
                        temp: 14
                        tempC: 14
                        time: 15:00:00
                        timestamp: 1667343600000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 251.7
                        windgust: 41
                        windspeed: 22
                      - cloudcover: 66.8
                        conditions: Partially cloudy
                        datetime: 16:00:00
                        datetimeEpoch: 1667401200
                        dew: 5.4
                        feelslike: 12.9
                        humidity: 60.32
                        icon: partly-cloudy-day
                        precipitation: 0
                        precipprob: 28.6
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.3
                        solarradiation: 89
                        source: fcst
                        temp: 12.9
                        tempC: 12.9
                        time: 16:00:00
                        timestamp: 1667343600000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 253.2
                        windgust: 41
                        windspeed: 18
                      - cloudcover: 6.5
                        conditions: Clear
                        datetime: 17:00:00
                        datetimeEpoch: 1667404800
                        dew: 5.5
                        feelslike: 11.1
                        humidity: 68.39
                        icon: clear-night
                        precipitation: 0
                        precipprob: 28.6
                        pressure: 1021
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0
                        solarradiation: 7
                        source: fcst
                        temp: 11.1
                        tempC: 11.1
                        time: 17:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 252.9
                        windgust: 32.4
                        windspeed: 13.3
                      - cloudcover: 24
                        conditions: Partially cloudy
                        datetime: 18:00:00
                        datetimeEpoch: 1667408400
                        dew: 5.7
                        feelslike: 7.8
                        humidity: 77.68
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 28.6
                        pressure: 1021
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 9.4
                        tempC: 9.4
                        time: 18:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 245.9
                        windgust: 23
                        windspeed: 10.4
                      - cloudcover: 0
                        conditions: Clear
                        datetime: 19:00:00
                        datetimeEpoch: 1667412000
                        dew: 5.5
                        feelslike: 6.6
                        humidity: 83.09
                        icon: clear-night
                        precipitation: 0
                        precipprob: 28.6
                        pressure: 1021
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 8.2
                        tempC: 8.2
                        time: 19:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 229.7
                        windgust: 18.7
                        windspeed: 9.4
                      - cloudcover: 0
                        conditions: Clear
                        datetime: 20:00:00
                        datetimeEpoch: 1667415600
                        dew: 5.3
                        feelslike: 5.2
                        humidity: 87.72
                        icon: clear-night
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1022
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 7.2
                        tempC: 7.2
                        time: 20:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 226
                        windgust: 18
                        windspeed: 10.1
                      - cloudcover: 0
                        conditions: Clear
                        datetime: 21:00:00
                        datetimeEpoch: 1667419200
                        dew: 4.8
                        feelslike: 4.8
                        humidity: 87.67
                        icon: clear-night
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1022
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 6.7
                        tempC: 6.7
                        time: 21:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 225.1
                        windgust: 18.4
                        windspeed: 9.4
                      - cloudcover: 40.6
                        conditions: Partially cloudy
                        datetime: 22:00:00
                        datetimeEpoch: 1667422800
                        dew: 4
                        feelslike: 3.9
                        humidity: 87.6
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1022
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 5.9
                        tempC: 5.9
                        time: 22:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 218.9
                        windgust: 16.6
                        windspeed: 9
                      - cloudcover: 4.5
                        conditions: Clear
                        datetime: 23:00:00
                        datetimeEpoch: 1667426400
                        dew: 3.6
                        feelslike: 3.3
                        humidity: 88.79
                        icon: clear-night
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1022
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 5.3
                        tempC: 5.3
                        time: 23:00:00
                        timestamp: 1667343600000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 213.1
                        windgust: 16.2
                        windspeed: 8.6
                    humidity: 80.3
                    icon: partly-cloudy-day
                    moonphase: 0.32
                    normal:
                      cloudcover:
                        - 0
                        - 45.5
                        - 91.8
                      feelslike:
                        - -6.6
                        - 11.7
                        - 20.1
                      humidity:
                        - 75.6
                        - 87.5
                        - 99.7
                      precip:
                        - 0
                        - 2.8
                        - 24
                      snowdepth:
                        - null
                        - null
                        - null
                      tempmax:
                        - 5.2
                        - 11.7
                        - 20.1
                      tempmin:
                        - -1.2
                        - 5.2
                        - 14.6
                      winddir:
                        - 83.7
                        - 189.8
                        - 299.4
                      windgust:
                        - 18
                        - 37.1
                        - 54.7
                      windspeed:
                        - 6.5
                        - 18.7
                        - 39.2
                    precip: 0
                    precipcover: 0
                    precipitation: 0
                    precipprob: 28.6
                    pressure: 1020
                    severerisk: 10
                    snow: 0
                    snowdepth: 0
                    solarenergy: 6.9
                    solarradiation: 80.1
                    source: fcst
                    sunrise: 07:03:36
                    sunriseEpoch: 1667369016
                    sunset: 16:34:32
                    sunsetEpoch: 1667403272
                    tempC: 9.2
                    tempmaxC: 14.2
                    tempminC: 5.3
                    timestamp: 1667343600000
                    uvindex: 4
                    visibility: 24.1
                    winddir: 228.2
                    windgust: 49.7
                    windspeed: 24.1
                  - cloudcover: 85
                    conditions: Partially cloudy
                    date: 2022-11-03
                    datetime: 2022-11-03
                    datetimeEpoch: 1667430000
                    description: Partly cloudy throughout the day.
                    dew: 4.4
                    feelslike: 6.1
                    feelslikemax: 12.4
                    feelslikemin: 1.4
                    hours:
                      - cloudcover: 9.4
                        conditions: Clear
                        datetime: 00:00:00
                        datetimeEpoch: 1667430000
                        dew: 3.3
                        feelslike: 2.7
                        humidity: 90.01
                        icon: clear-night
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1022
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 4.8
                        tempC: 4.8
                        time: 00:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 212.5
                        windgust: 15.8
                        windspeed: 8.6
                      - cloudcover: 2.8
                        conditions: Clear
                        datetime: 01:00:00
                        datetimeEpoch: 1667433600
                        dew: 3.1
                        feelslike: 2.2
                        humidity: 91.26
                        icon: clear-night
                        precipitation: 0
                        precipprob: 4.8
                        pressure: 1022
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 4.4
                        tempC: 4.4
                        time: 01:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 198.7
                        windgust: 15.5
                        windspeed: 8.6
                      - cloudcover: 3.3
                        conditions: Clear
                        datetime: 02:00:00
                        datetimeEpoch: 1667437200
                        dew: 2.9
                        feelslike: 2
                        humidity: 91.89
                        icon: clear-night
                        precipitation: 0
                        precipprob: 0
                        pressure: 1021
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 4.1
                        tempC: 4.1
                        time: 02:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 190.7
                        windgust: 15.1
                        windspeed: 8.3
                      - cloudcover: 47.6
                        conditions: Partially cloudy
                        datetime: 03:00:00
                        datetimeEpoch: 1667440800
                        dew: 2.9
                        feelslike: 1.4
                        humidity: 92.53
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 0
                        pressure: 1021
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 4
                        tempC: 4
                        time: 03:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 186.3
                        windgust: 18
                        windspeed: 10.1
                      - cloudcover: 76.2
                        conditions: Partially cloudy
                        datetime: 04:00:00
                        datetimeEpoch: 1667444400
                        dew: 3.1
                        feelslike: 1.6
                        humidity: 92.55
                        icon: partly-cloudy-night
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 4.2
                        tempC: 4.2
                        time: 04:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 169.3
                        windgust: 18.7
                        windspeed: 10.4
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 05:00:00
                        datetimeEpoch: 1667448000
                        dew: 3
                        feelslike: 2
                        humidity: 91.25
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1020
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 4.3
                        tempC: 4.3
                        time: 05:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 186.6
                        windgust: 18.7
                        windspeed: 9
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 06:00:00
                        datetimeEpoch: 1667451600
                        dew: 3.3
                        feelslike: 1.9
                        humidity: 91.91
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 4.5
                        tempC: 4.5
                        time: 06:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 176.7
                        windgust: 18.7
                        windspeed: 10.4
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 07:00:00
                        datetimeEpoch: 1667455200
                        dew: 3.4
                        feelslike: 2.5
                        humidity: 88.77
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1019
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 5.1
                        tempC: 5.1
                        time: 07:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 171.4
                        windgust: 19.8
                        windspeed: 11.2
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 08:00:00
                        datetimeEpoch: 1667458800
                        dew: 2.7
                        feelslike: 3.1
                        humidity: 80.47
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1018
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.1
                        solarradiation: 18
                        source: fcst
                        temp: 5.8
                        tempC: 5.8
                        time: 08:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 165.6
                        windgust: 22
                        windspeed: 12.2
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 09:00:00
                        datetimeEpoch: 1667462400
                        dew: 2.7
                        feelslike: 4.8
                        humidity: 72.58
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1018
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.3
                        solarradiation: 74
                        source: fcst
                        temp: 7.3
                        tempC: 7.3
                        time: 09:00:00
                        timestamp: 1667430000000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 167.6
                        windgust: 24.5
                        windspeed: 13.3
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 10:00:00
                        datetimeEpoch: 1667466000
                        dew: 3.1
                        feelslike: 7
                        humidity: 65.64
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1017
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.6
                        solarradiation: 157
                        source: fcst
                        temp: 9.2
                        tempC: 9.2
                        time: 10:00:00
                        timestamp: 1667430000000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 172.6
                        windgust: 27
                        windspeed: 14.4
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 11:00:00
                        datetimeEpoch: 1667469600
                        dew: 3.8
                        feelslike: 10.6
                        humidity: 62.79
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1017
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.8
                        solarradiation: 215
                        source: fcst
                        temp: 10.6
                        tempC: 10.6
                        time: 11:00:00
                        timestamp: 1667430000000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 179.1
                        windgust: 27
                        windspeed: 13.3
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 12:00:00
                        datetimeEpoch: 1667473200
                        dew: 4.8
                        feelslike: 11.9
                        humidity: 61.78
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1016
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.7
                        solarradiation: 194
                        source: fcst
                        temp: 11.9
                        tempC: 11.9
                        time: 12:00:00
                        timestamp: 1667430000000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 174.8
                        windgust: 27
                        windspeed: 14.4
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 13:00:00
                        datetimeEpoch: 1667476800
                        dew: 5.4
                        feelslike: 12.4
                        humidity: 62.33
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1014
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.8
                        solarradiation: 223
                        source: fcst
                        temp: 12.4
                        tempC: 12.4
                        time: 13:00:00
                        timestamp: 1667430000000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 181.2
                        windgust: 28.4
                        windspeed: 15.1
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 14:00:00
                        datetimeEpoch: 1667480400
                        dew: 5.8
                        feelslike: 11.9
                        humidity: 66.09
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1013.3
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.7
                        solarradiation: 184
                        source: fcst
                        temp: 11.9
                        tempC: 11.9
                        time: 14:00:00
                        timestamp: 1667430000000
                        uvindex: 2
                        visibility: 24.1
                        winddir: 173
                        windgust: 25.7
                        windspeed: 13.4
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 15:00:00
                        datetimeEpoch: 1667484000
                        dew: 6.2
                        feelslike: 11.5
                        humidity: 70.07
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1012.7
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.4
                        solarradiation: 104
                        source: fcst
                        temp: 11.5
                        tempC: 11.5
                        time: 15:00:00
                        timestamp: 1667430000000
                        uvindex: 1
                        visibility: 24.1
                        winddir: 164.9
                        windgust: 22.9
                        windspeed: 11.8
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 16:00:00
                        datetimeEpoch: 1667487600
                        dew: 6.7
                        feelslike: 11.1
                        humidity: 74.3
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1012
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0.2
                        solarradiation: 42
                        source: fcst
                        temp: 11.1
                        tempC: 11.1
                        time: 16:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 156.7
                        windgust: 20.2
                        windspeed: 10.1
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 17:00:00
                        datetimeEpoch: 1667491200
                        dew: 6.3
                        feelslike: 10.2
                        humidity: 77.1
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1011.7
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarenergy: 0
                        solarradiation: 3
                        source: fcst
                        temp: 10.2
                        tempC: 10.2
                        time: 17:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 152.3
                        windgust: 19.7
                        windspeed: 10.1
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 18:00:00
                        datetimeEpoch: 1667494800
                        dew: 6
                        feelslike: 7.7
                        humidity: 80.03
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1011.3
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 9.3
                        tempC: 9.3
                        time: 18:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 147.8
                        windgust: 19.2
                        windspeed: 10.1
                      - cloudcover: 100
                        conditions: Overcast
                        datetime: 19:00:00
                        datetimeEpoch: 1667498400
                        dew: 5.7
                        feelslike: 6.7
                        humidity: 83.11
                        icon: cloudy
                        precipitation: 0
                        precipprob: 0
                        pressure: 1011
                        severerisk: 10
                        snow: 0
                        snowdepth: 0
                        solarradiation: 0
                        source: fcst
                        temp: 8.4
                        tempC: 8.4
                        time: 19:00:00
                        timestamp: 1667430000000
                        uvindex: 0
                        visibility: 24.1
                        winddir: 143.4
                        windgust: 18.7
[...]
