{
  "swagger": "2.0",
  "info": {
    "title": "Google Compute Engine Instance Group Updater API",
    "description": "The Google Compute Engine Instance Group Updater API provides services for updating groups of Compute Engine Instances.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1beta1"
  },
  "host": "www.googleapis.com",
  "basePath": "/replicapoolupdater/v1beta1/projects",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/cancel": {
      "post": {
        "description": "Cancels an update. The update must be PAUSED before it can be cancelled. This has no effect if the update is already CANCELLED.",
        "operationId": "replicapoolupdater.rollingUpdates.cancel",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The Google Developers Console project name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rollingUpdate",
            "in": "path",
            "description": "The name of the update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone in which the update's target resides.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/replicapool"
            ]
          }
        ],
        "tags": [
          "rollingUpdates"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}": {
      "get": {
        "description": "Returns information about an update.",
        "operationId": "replicapoolupdater.rollingUpdates.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RollingUpdate"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The Google Developers Console project name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rollingUpdate",
            "in": "path",
            "description": "The name of the update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone in which the update's target resides.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/replicapool",
              "https://www.googleapis.com/auth/replicapool.readonly"
            ]
          }
        ],
        "tags": [
          "rollingUpdates"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/rollingUpdates": {
      "post": {
        "description": "Inserts and starts a new update.",
        "operationId": "replicapoolupdater.rollingUpdates.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The Google Developers Console project name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone in which the update's target resides.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/replicapool"
            ]
          }
        ],
        "tags": [
          "rollingUpdates"
        ]
      },
      "get": {
        "description": "Lists recent updates for a given managed instance group, in reverse chronological order and paginated format.",
        "operationId": "replicapoolupdater.rollingUpdates.list",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/RollingUpdateList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "instanceGroupManager",
            "in": "query",
            "description": "The name of the instance group manager used for filtering.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The Google Developers Console project name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone in which the update's target resides.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/replicapool",
              "https://www.googleapis.com/auth/replicapool.readonly"
            ]
          }
        ],
        "tags": [
          "rollingUpdates"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/instanceUpdates": {
      "get": {
        "description": "Lists the current status for each instance within a given update.",
        "operationId": "replicapoolupdater.rollingUpdates.listInstanceUpdates",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/InstanceUpdateList"
            }
          }
        },
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Optional. Filter expression for filtering listed resources.",
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Optional. Maximum count of results to be returned. Maximum value is 500 and default value is 500.",
            "default": "500",
            "type": "integer",
            "minimum": 0,
            "maximum": 500
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Optional. Tag returned by a previous list request truncated by maxResults. Used to continue a previous list request.",
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "The Google Developers Console project name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rollingUpdate",
            "in": "path",
            "description": "The name of the update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone in which the update's target resides.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/replicapool",
              "https://www.googleapis.com/auth/replicapool.readonly"
            ]
          }
        ],
        "tags": [
          "rollingUpdates"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/pause": {
      "post": {
        "description": "Pauses the update in state from ROLLING_FORWARD or ROLLING_BACK. Has no effect if invoked when the state of the update is PAUSED.",
        "operationId": "replicapoolupdater.rollingUpdates.pause",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The Google Developers Console project name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rollingUpdate",
            "in": "path",
            "description": "The name of the update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone in which the update's target resides.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/replicapool"
            ]
          }
        ],
        "tags": [
          "rollingUpdates"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/resume": {
      "post": {
        "description": "Continues an update in PAUSED state. Has no effect if invoked when the state of the update is ROLLED_OUT.",
        "operationId": "replicapoolupdater.rollingUpdates.resume",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The Google Developers Console project name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rollingUpdate",
            "in": "path",
            "description": "The name of the update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone in which the update's target resides.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/replicapool"
            ]
          }
        ],
        "tags": [
          "rollingUpdates"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/rollingUpdates/{rollingUpdate}/rollback": {
      "post": {
        "description": "Rolls back the update in state from ROLLING_FORWARD or PAUSED. Has no effect if invoked when the state of the update is ROLLED_BACK.",
        "operationId": "replicapoolupdater.rollingUpdates.rollback",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "project",
            "in": "path",
            "description": "The Google Developers Console project name.",
            "required": true,
            "type": "string"
          },
          {
            "name": "rollingUpdate",
            "in": "path",
            "description": "The name of the update.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "The name of the zone in which the update's target resides.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/replicapool"
            ]
          }
        ],
        "tags": [
          "rollingUpdates"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{project}/zones/{zone}/operations/{operation}": {
      "get": {
        "description": "Retrieves the specified zone-specific operation resource.",
        "operationId": "replicapoolupdater.zoneOperations.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/Operation"
            }
          }
        },
        "parameters": [
          {
            "name": "operation",
            "in": "path",
            "description": "Name of the operation resource to return.",
            "required": true,
            "type": "string"
          },
          {
            "name": "project",
            "in": "path",
            "description": "Name of the project scoping this request.",
            "required": true,
            "type": "string"
          },
          {
            "name": "zone",
            "in": "path",
            "description": "Name of the zone scoping this request.",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/cloud-platform",
              "https://www.googleapis.com/auth/replicapool"
            ]
          }
        ],
        "tags": [
          "zoneOperations"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "InstanceUpdate": {
      "id": "InstanceUpdate",
      "type": "object",
      "description": "Update of a single instance.",
      "properties": {
        "error": {
          "type": "object",
          "description": "Errors that occurred during the instance update.",
          "properties": {
            "errors": {
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  },
                  "location": {
                    "type": "string",
                    "description": "[Output Only] Indicates the field in the request which caused the error. This property is optional."
                  },
                  "message": {
                    "type": "string",
                    "description": "[Output Only] An optional, human-readable error message."
                  }
                }
              }
            }
          }
        },
        "instance": {
          "type": "string",
          "description": "URL of the instance being updated."
        },
        "status": {
          "type": "string",
          "description": "Status of the instance update. Possible values are:  \n- \"PENDING\": The instance update is pending execution. \n- \"ROLLING_FORWARD\": The instance update is going forward. \n- \"ROLLING_BACK\": The instance update is being rolled back. \n- \"PAUSED\": The instance update is temporarily paused (inactive). \n- \"ROLLED_OUT\": The instance update is finished, the instance is running the new template. \n- \"ROLLED_BACK\": The instance update is finished, the instance has been reverted to the previous template. \n- \"CANCELLED\": The instance update is paused and no longer can be resumed, undefined in which template the instance is running."
        }
      }
    },
    "InstanceUpdateList": {
      "id": "InstanceUpdateList",
      "type": "object",
      "description": "Response returned by ListInstanceUpdates method.",
      "properties": {
        "items": {
          "type": "array",
          "description": "Collection of requested instance updates.",
          "items": {
            "$ref": "#/definitions/InstanceUpdate"
          }
        },
        "kind": {
          "type": "string",
          "description": "[Output Only] Type of the resource.",
          "default": "replicapoolupdater#instanceUpdateList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] The fully qualified URL for the resource."
        }
      }
    },
    "Operation": {
      "id": "Operation",
      "type": "object",
      "description": "An operation resource, used to manage asynchronous API requests.",
      "properties": {
        "clientOperationId": {
          "type": "string"
        },
        "creationTimestamp": {
          "type": "string",
          "description": "[Output Only] Creation timestamp in RFC3339 text format (output only)."
        },
        "endTime": {
          "type": "string"
        },
        "error": {
          "type": "object",
          "description": "[Output Only] If errors occurred during processing of this operation, this field will be populated.",
          "properties": {
            "errors": {
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  },
                  "location": {
                    "type": "string",
                    "description": "[Output Only] Indicates the field in the request which caused the error. This property is optional."
                  },
                  "message": {
                    "type": "string",
                    "description": "[Output Only] An optional, human-readable error message."
                  }
                }
              }
            }
          }
        },
        "httpErrorMessage": {
          "type": "string"
        },
        "httpErrorStatusCode": {
          "type": "integer",
          "format": "int32"
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server.",
          "format": "uint64"
        },
        "insertTime": {
          "type": "string",
          "description": "[Output Only] The time that this operation was requested. This is in RFC 3339 format."
        },
        "kind": {
          "type": "string",
          "description": "[Output Only] Type of the resource. Always kind#operation for Operation resources.",
          "default": "replicapoolupdater#operation"
        },
        "name": {
          "type": "string",
          "description": "[Output Only] Name of the resource (output only)."
        },
        "operationType": {
          "type": "string"
        },
        "progress": {
          "type": "integer",
          "format": "int32"
        },
        "region": {
          "type": "string",
          "description": "[Output Only] URL of the region where the operation resides (output only)."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] Server defined URL for the resource."
        },
        "startTime": {
          "type": "string",
          "description": "[Output Only] The time that this operation was started by the server. This is in RFC 3339 format."
        },
        "status": {
          "type": "string",
          "description": "[Output Only] Status of the operation. Can be one of the following: \"PENDING\", \"RUNNING\", or \"DONE\"."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output Only] An optional textual description of the current status of the operation."
        },
        "targetId": {
          "type": "string",
          "description": "[Output Only] Unique target id which identifies a particular incarnation of the target.",
          "format": "uint64"
        },
        "targetLink": {
          "type": "string",
          "description": "[Output Only] URL of the resource the operation is mutating (output only)."
        },
        "user": {
          "type": "string"
        },
        "warnings": {
          "type": "array",
          "items": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "[Output only] The warning type identifier for this warning."
              },
              "data": {
                "type": "array",
                "description": "[Output only] Metadata for this warning in key:value format.",
                "items": {
                  "type": "object",
                  "properties": {
                    "key": {
                      "type": "string",
                      "description": "[Output Only] Metadata key for this warning."
                    },
                    "value": {
                      "type": "string",
                      "description": "[Output Only] Metadata value for this warning."
                    }
                  }
                }
              },
              "message": {
                "type": "string",
                "description": "[Output only] Optional human-readable details for this warning."
              }
            }
          }
        },
        "zone": {
          "type": "string",
          "description": "[Output Only] URL of the zone where the operation resides (output only)."
        }
      }
    },
    "RollingUpdate": {
      "id": "RollingUpdate",
      "type": "object",
      "description": "The following represents a resource describing a single update (rollout) of a group of instances to the given template.",
      "properties": {
        "actionType": {
          "type": "string",
          "description": "Specifies the action to take for each instance within the instance group. This can be RECREATE which will recreate each instance and is only available for managed instance groups. It can also be REBOOT which performs a soft reboot for each instance and is only available for regular (non-managed) instance groups and explicit lists of instances."
        },
        "creationTimestamp": {
          "type": "string",
          "description": "[Output Only] Creation timestamp in RFC3339 text format."
        },
        "description": {
          "type": "string",
          "description": "An optional textual description of the resource; provided by the client when the resource is created."
        },
        "error": {
          "type": "object",
          "description": "[Output Only] Errors that occurred during rolling update.",
          "properties": {
            "errors": {
              "type": "array",
              "description": "[Output Only] The array of errors encountered while processing this operation.",
              "items": {
                "type": "object",
                "properties": {
                  "code": {
                    "type": "string",
                    "description": "[Output Only] The error type identifier for this error."
                  },
                  "location": {
                    "type": "string",
                    "description": "[Output Only] Indicates the field in the request which caused the error. This property is optional."
                  },
                  "message": {
                    "type": "string",
                    "description": "[Output Only] An optional, human-readable error message."
                  }
                }
              }
            }
          }
        },
        "id": {
          "type": "string",
          "description": "[Output Only] Unique identifier for the resource; defined by the server."
        },
        "instanceGroup": {
          "type": "string",
          "description": "Fully-qualified URL of an instance group being updated. Exactly one of instanceGroupManager, instanceGroup and instance list must be set."
        },
        "instanceGroupManager": {
          "type": "string",
          "description": "Fully-qualified URL of an instance group manager being updated. Exactly one of instanceGroupManager, instanceGroup and instance list must be set."
        },
        "instanceTemplate": {
          "type": "string",
          "description": "Fully-qualified URL of an instance template to apply."
        },
        "instances": {
          "type": "array",
          "description": "List of fully-qualified URLs of instances to be updated. Exactly one of instanceGroupManager, instanceGroup and instance list must be set.",
          "items": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string",
          "description": "[Output Only] Type of the resource.",
          "default": "replicapoolupdater#rollingUpdate"
        },
        "policy": {
          "type": "object",
          "description": "Parameters of the update process.",
          "properties": {
            "autoPauseAfterInstances": {
              "type": "integer",
              "description": "Number of instances updated before the update gets automatically paused.",
              "format": "int32"
            },
            "instanceStartupTimeoutSec": {
              "type": "integer",
              "description": "Maximum amount of time we will wait after finishing all steps until we receive HEALTHY state for instance. If this deadline is exceeded instance update is considered as failed.",
              "format": "int32"
            },
            "maxNumConcurrentInstances": {
              "type": "integer",
              "description": "Maximum number of instances that can be updated simultaneously (concurrently). An update of an instance starts when the instance is about to be restarted and finishes after the instance has been restarted and the sleep period (defined by sleepAfterInstanceRestartSec) has passed.",
              "format": "int32"
            },
            "maxNumFailedInstances": {
              "type": "integer",
              "description": "Maximum number of instance updates that can fail without failing the group update. Instance update is considered failed if any of it's update actions (e.g. Stop call on Instance resource in Rolling Reboot) failed with permanent failure, or if after finishing all update actions this instance is in UNHEALTHY state.",
              "format": "int32"
            },
            "minInstanceUpdateTimeSec": {
              "type": "integer",
              "description": "Specifies minimum amount of time we will spend on updating single instance, measuring at the start of the first update action (e.g. Recreate call on Instance Group Manager or Stop call on Instance resource). If actual instance update takes less time we will simply sleep before proceeding with next instance.",
              "format": "int32"
            },
            "sleepAfterInstanceRestartSec": {
              "type": "integer",
              "description": "Time period after the instance has been restarted but before marking the update of this instance as done. This field is deprecated and ignored by Rolling Updater.",
              "format": "int32"
            }
          }
        },
        "progress": {
          "type": "integer",
          "description": "[Output Only] An optional progress indicator that ranges from 0 to 100. There is no requirement that this be linear or support any granularity of operations. This should not be used to guess at when the update will be complete. This number should be monotonically increasing as the update progresses.",
          "format": "int32"
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] The fully qualified URL for the resource."
        },
        "status": {
          "type": "string",
          "description": "[Output Only] Status of the update. Possible values are:  \n- \"ROLLING_FORWARD\": The update is going forward. \n- \"ROLLING_BACK\": The update is being rolled back. \n- \"PAUSED\": The update is temporarily paused (inactive). \n- \"ROLLED_OUT\": The update is finished, all instances have been updated successfully. \n- \"ROLLED_BACK\": The update is finished, all instances have been reverted to the previous template. \n- \"CANCELLED\": The update is paused and no longer can be resumed, undefined how many instances are running in which template."
        },
        "statusMessage": {
          "type": "string",
          "description": "[Output Only] An optional textual description of the current status of the update."
        },
        "user": {
          "type": "string",
          "description": "[Output Only] User who requested the update, for example: user@example.com."
        }
      }
    },
    "RollingUpdateList": {
      "id": "RollingUpdateList",
      "type": "object",
      "description": "Response returned by List method.",
      "properties": {
        "items": {
          "type": "array",
          "description": "Collection of requested updates.",
          "items": {
            "$ref": "#/definitions/RollingUpdate"
          }
        },
        "kind": {
          "type": "string",
          "description": "[Output Only] Type of the resource.",
          "default": "replicapoolupdater#rollingUpdateList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "A token used to continue a truncated list request."
        },
        "selfLink": {
          "type": "string",
          "description": "[Output Only] The fully qualified URL for the resource."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/cloud-platform": "View and manage your data across Google Cloud Platform services",
        "https://www.googleapis.com/auth/replicapool": "View and manage replica pools",
        "https://www.googleapis.com/auth/replicapool.readonly": "View replica pools"
      }
    }
  },
  "externalDocs": {
    "url": "https://cloud.google.com/compute/docs/instance-groups/manager/#applying_rolling_updates_using_the_updater_service"
  }
}