swagger: '2.0'
schemes:
  - https
  - http
host: mediaconvert.amazonaws.com
basePath: /
info:
  contact:
    email: mike.ralphson@gmail.com
    name: Mike Ralphson
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  description: AWS Elemental MediaConvert
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  title: AWS Elemental MediaConvert
  version: '2017-08-29'
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-logo:
    backgroundColor: '#FFFFFF'
    url: 'https://twitter.com/awscloud/profile_image?size=original'
  x-origin:
    - contentType: application/json
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediaconvert-2017-08-29.normal.json'
      x-apisguru-direct: true
  x-preferred: true
  x-providerName: amazonaws.com
  x-release: v4
  x-serviceName: mediaconvert
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/mediaconvert/'
consumes:
  - application/json
produces:
  - application/json
securityDefinitions:
  hmac:
    description: Amazon Signature authorization v4
    in: header
    name: Authorization
    type: apiKey
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
parameters:
  X-Amz-Algorithm:
    in: header
    name: X-Amz-Algorithm
    required: false
    type: string
  X-Amz-Content-Sha256:
    in: header
    name: X-Amz-Content-Sha256
    required: false
    type: string
  X-Amz-Credential:
    in: header
    name: X-Amz-Credential
    required: false
    type: string
  X-Amz-Date:
    in: header
    name: X-Amz-Date
    required: false
    type: string
  X-Amz-Security-Token:
    in: header
    name: X-Amz-Security-Token
    required: false
    type: string
  X-Amz-Signature:
    in: header
    name: X-Amz-Signature
    required: false
    type: string
  X-Amz-SignedHeaders:
    in: header
    name: X-Amz-SignedHeaders
    required: false
    type: string
paths:
  /2017-08-29/certificates:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.
      operationId: AssociateCertificate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              arn:
                description: The ARN of the ACM certificate that you want to associate with your MediaConvert resource.
                type: string
            required:
              - arn
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/AssociateCertificateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/2017-08-29/certificates/{arn}':
    delete:
      description: Removes an association between the Amazon Resource Name (ARN) of an AWS Certificate Manager (ACM) certificate and an AWS Elemental MediaConvert resource.
      operationId: DisassociateCertificate
      parameters:
        - description: The ARN of the ACM certificate that you want to disassociate from your MediaConvert resource.
          in: path
          name: arn
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateCertificateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2017-08-29/endpoints:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: Send an request with an empty body to the regional API endpoint to get your account API endpoint.
      operationId: DescribeEndpoints
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              maxResults:
                description: 'Optional. Max number of endpoints, up to twenty, that will be returned at one time.'
                type: integer
              mode:
                description: 'Optional field, defaults to DEFAULT. Specify DEFAULT for this operation to return your endpoints if any exist, or to create an endpoint for you and return it if one doesn''t already exist. Specify GET_ONLY to return your endpoints if any exist, or an empty list if none exist.'
                enum:
                  - DEFAULT
                  - GET_ONLY
                type: string
              nextToken:
                description: 'Use this string, provided with the response to a previous request, to request the next batch of endpoints.'
                type: string
            type: object
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/jobTemplates:
    get:
      description: 'Retrieve a JSON array of up to twenty of your job templates. This will return the templates themselves, not just a list of them. To retrieve the next twenty templates, use the nextToken string returned with the array'
      operationId: ListJobTemplates
      parameters:
        - description: 'Optionally, specify a job template category to limit responses to only job templates from that category.'
          in: query
          name: category
          required: false
          type: string
        - description: 'Optional. When you request a list of job templates, you can choose to list them alphabetically by NAME or chronologically by CREATION_DATE. If you don''t specify, the service will list them by name.'
          enum:
            - NAME
            - CREATION_DATE
            - SYSTEM
          in: query
          name: listBy
          required: false
          type: string
        - description: 'Optional. Number of job templates, up to twenty, that will be returned at one time.'
          in: query
          maximum: 20
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: 'Use this string, provided with the response to a previous request, to request the next batch of job templates.'
          in: query
          name: nextToken
          required: false
          type: string
        - description: 'When you request lists of resources, you can optionally specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.'
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: order
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobTemplatesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Create a new job template. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      operationId: CreateJobTemplate
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              accelerationSettings:
                description: 'Accelerated transcoding can significantly speed up jobs with long, visually complex content. Outputs that use this feature incur pro-tier pricing. For information about feature limitations, see the AWS Elemental MediaConvert User Guide.'
                properties:
                  Mode:
                    $ref: '#/definitions/AccelerationMode'
                    description: Acceleration configuration for the job.
                type: object
              category:
                description: Optional. A category for the job template you are creating
                type: string
              description:
                description: Optional. A description of the job template you are creating.
                type: string
              name:
                description: The name of the job template you are creating.
                type: string
              priority:
                description: 'Specify the relative priority for this job. In any given queue, the service begins processing the job with the highest value first. When more than one job has the same priority, the service begins processing the job that you submitted first. If you don''t specify a priority, the service uses the default value 0.'
                maximum: 50
                minimum: -50
                type: integer
              queue:
                description: 'Optional. The queue that jobs created from this template are assigned to. If you don''t specify this, jobs will go to the default queue.'
                type: string
              settings:
                description: JobTemplateSettings contains all the transcode settings saved in the template that will be applied to jobs created from it.
                properties:
                  AdAvailOffset:
                    $ref: '#/definitions/__integerMinNegative1000Max1000'
                    description: 'When specified, this offset (in milliseconds) is added to the input Ad Avail PTS time.'
                  AvailBlanking:
                    $ref: '#/definitions/AvailBlanking'
                    description: 'Settings for ad avail blanking.  Video can be blanked or overlaid with an image, and audio muted during SCTE-35 triggered ad avails.'
                  Esam:
                    $ref: '#/definitions/EsamSettings'
                    description: Settings for Event Signaling And Messaging (ESAM).
                  Inputs:
                    $ref: '#/definitions/__listOfInputTemplate'
                    description: 'Use Inputs (inputs) to define the source file used in the transcode job. There can only be one input in a job template.  Using the API, you can include multiple inputs when referencing a job template.'
                  MotionImageInserter:
                    $ref: '#/definitions/MotionImageInserter'
                    description: Overlay motion graphics on top of your video. The motion graphics that you specify here appear on all outputs in all output groups.
                  NielsenConfiguration:
                    $ref: '#/definitions/NielsenConfiguration'
                    description: 'Settings for your Nielsen configuration. If you don''t do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don''t include any children of nielsenConfiguration, you still enable the setting.'
                  OutputGroups:
                    $ref: '#/definitions/__listOfOutputGroup'
                    description: '(OutputGroups) contains one group of settings for each set of outputs that share a common package type. All unpackaged files (MPEG-4, MPEG-2 TS, Quicktime, MXF, and no container) are grouped in a single output group as well. Required in (OutputGroups) is a group of settings that apply to the whole group. This required object depends on the value you set for (Type) under (OutputGroups)>(OutputGroupSettings). Type, settings object pairs are as follows. * FILE_GROUP_SETTINGS, FileGroupSettings * HLS_GROUP_SETTINGS, HlsGroupSettings * DASH_ISO_GROUP_SETTINGS, DashIsoGroupSettings * MS_SMOOTH_GROUP_SETTINGS, MsSmoothGroupSettings * CMAF_GROUP_SETTINGS, CmafGroupSettings'
                  TimecodeConfig:
                    $ref: '#/definitions/TimecodeConfig'
                    description: Contains settings used to acquire and adjust timecode information from inputs.
                  TimedMetadataInsertion:
                    $ref: '#/definitions/TimedMetadataInsertion'
                    description: 'Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in your job. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.'
                type: object
              statusUpdateInterval:
                description: 'Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.'
                enum:
                  - SECONDS_10
                  - SECONDS_12
                  - SECONDS_15
                  - SECONDS_20
                  - SECONDS_30
                  - SECONDS_60
                  - SECONDS_120
                  - SECONDS_180
                  - SECONDS_240
                  - SECONDS_300
                  - SECONDS_360
                  - SECONDS_420
                  - SECONDS_480
                  - SECONDS_540
                  - SECONDS_600
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
                type: object
            required:
              - accelerationSettings
              - name
              - settings
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/2017-08-29/jobTemplates/{name}':
    delete:
      description: Permanently delete a job template you have created.
      operationId: DeleteJobTemplate
      parameters:
        - description: The name of the job template to be deleted.
          in: path
          name: name
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Retrieve the JSON for a specific job template.
      operationId: GetJobTemplate
      parameters:
        - description: The name of the job template.
          in: path
          name: name
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Modify one of your existing job templates.
      operationId: UpdateJobTemplate
      parameters:
        - description: The name of the job template you are modifying
          in: path
          name: name
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              accelerationSettings:
                description: 'Accelerated transcoding can significantly speed up jobs with long, visually complex content. Outputs that use this feature incur pro-tier pricing. For information about feature limitations, see the AWS Elemental MediaConvert User Guide.'
                properties:
                  Mode:
                    $ref: '#/definitions/AccelerationMode'
                    description: Acceleration configuration for the job.
                type: object
              category:
                description: 'The new category for the job template, if you are changing it.'
                type: string
              description:
                description: 'The new description for the job template, if you are changing it.'
                type: string
              priority:
                description: 'Specify the relative priority for this job. In any given queue, the service begins processing the job with the highest value first. When more than one job has the same priority, the service begins processing the job that you submitted first. If you don''t specify a priority, the service uses the default value 0.'
                maximum: 50
                minimum: -50
                type: integer
              queue:
                description: 'The new queue for the job template, if you are changing it.'
                type: string
              settings:
                description: JobTemplateSettings contains all the transcode settings saved in the template that will be applied to jobs created from it.
                properties:
                  AdAvailOffset:
                    $ref: '#/definitions/__integerMinNegative1000Max1000'
                    description: 'When specified, this offset (in milliseconds) is added to the input Ad Avail PTS time.'
                  AvailBlanking:
                    $ref: '#/definitions/AvailBlanking'
                    description: 'Settings for ad avail blanking.  Video can be blanked or overlaid with an image, and audio muted during SCTE-35 triggered ad avails.'
                  Esam:
                    $ref: '#/definitions/EsamSettings'
                    description: Settings for Event Signaling And Messaging (ESAM).
                  Inputs:
                    $ref: '#/definitions/__listOfInputTemplate'
                    description: 'Use Inputs (inputs) to define the source file used in the transcode job. There can only be one input in a job template.  Using the API, you can include multiple inputs when referencing a job template.'
                  MotionImageInserter:
                    $ref: '#/definitions/MotionImageInserter'
                    description: Overlay motion graphics on top of your video. The motion graphics that you specify here appear on all outputs in all output groups.
                  NielsenConfiguration:
                    $ref: '#/definitions/NielsenConfiguration'
                    description: 'Settings for your Nielsen configuration. If you don''t do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don''t include any children of nielsenConfiguration, you still enable the setting.'
                  OutputGroups:
                    $ref: '#/definitions/__listOfOutputGroup'
                    description: '(OutputGroups) contains one group of settings for each set of outputs that share a common package type. All unpackaged files (MPEG-4, MPEG-2 TS, Quicktime, MXF, and no container) are grouped in a single output group as well. Required in (OutputGroups) is a group of settings that apply to the whole group. This required object depends on the value you set for (Type) under (OutputGroups)>(OutputGroupSettings). Type, settings object pairs are as follows. * FILE_GROUP_SETTINGS, FileGroupSettings * HLS_GROUP_SETTINGS, HlsGroupSettings * DASH_ISO_GROUP_SETTINGS, DashIsoGroupSettings * MS_SMOOTH_GROUP_SETTINGS, MsSmoothGroupSettings * CMAF_GROUP_SETTINGS, CmafGroupSettings'
                  TimecodeConfig:
                    $ref: '#/definitions/TimecodeConfig'
                    description: Contains settings used to acquire and adjust timecode information from inputs.
                  TimedMetadataInsertion:
                    $ref: '#/definitions/TimedMetadataInsertion'
                    description: 'Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in your job. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.'
                type: object
              statusUpdateInterval:
                description: 'Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.'
                enum:
                  - SECONDS_10
                  - SECONDS_12
                  - SECONDS_15
                  - SECONDS_20
                  - SECONDS_30
                  - SECONDS_60
                  - SECONDS_120
                  - SECONDS_180
                  - SECONDS_240
                  - SECONDS_300
                  - SECONDS_360
                  - SECONDS_420
                  - SECONDS_480
                  - SECONDS_540
                  - SECONDS_600
                type: string
            required:
              - accelerationSettings
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/jobs:
    get:
      description: 'Retrieve a JSON array of up to twenty of your most recently created jobs. This array includes in-process, completed, and errored jobs. This will return the jobs themselves, not just a list of the jobs. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array.'
      operationId: ListJobs
      parameters:
        - description: 'Optional. Number of jobs, up to twenty, that will be returned at one time.'
          in: query
          maximum: 20
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: 'Use this string, provided with the response to a previous request, to request the next batch of jobs.'
          in: query
          name: nextToken
          required: false
          type: string
        - description: 'When you request lists of resources, you can optionally specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.'
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: order
          required: false
          type: string
        - description: Provide a queue name to get back only jobs from that queue.
          in: query
          name: queue
          required: false
          type: string
        - description: 'A job''s status can be SUBMITTED, PROGRESSING, COMPLETE, CANCELED, or ERROR.'
          enum:
            - SUBMITTED
            - PROGRESSING
            - COMPLETE
            - CANCELED
            - ERROR
          in: query
          name: status
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Create a new transcoding job. For information about jobs and job settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      operationId: CreateJob
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              accelerationSettings:
                description: 'Accelerated transcoding can significantly speed up jobs with long, visually complex content. Outputs that use this feature incur pro-tier pricing. For information about feature limitations, see the AWS Elemental MediaConvert User Guide.'
                properties:
                  Mode:
                    $ref: '#/definitions/AccelerationMode'
                    description: Acceleration configuration for the job.
                type: object
              billingTagsSource:
                description: 'Optional. Choose a tag type that AWS Billing and Cost Management will use to sort your AWS Elemental MediaConvert costs on any billing report that you set up. Any transcoding outputs that don''t have an associated tag will appear in your billing report unsorted. If you don''t choose a valid value for this field, your job outputs will appear on the billing report unsorted.'
                enum:
                  - QUEUE
                  - PRESET
                  - JOB_TEMPLATE
                type: string
              clientRequestToken:
                description: Idempotency token for CreateJob operation.
                type: string
              jobTemplate:
                description: 'When you create a job, you can either specify a job template or specify the transcoding settings individually'
                type: string
              priority:
                description: 'Specify the relative priority for this job. In any given queue, the service begins processing the job with the highest value first. When more than one job has the same priority, the service begins processing the job that you submitted first. If you don''t specify a priority, the service uses the default value 0.'
                maximum: 50
                minimum: -50
                type: integer
              queue:
                description: 'Optional. When you create a job, you can specify a queue to send it to. If you don''t specify, the job will go to the default queue. For more about queues, see the User Guide topic at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html.'
                type: string
              role:
                description: 'Required. The IAM role you use for creating this job. For details about permissions, see the User Guide topic at the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/iam-role.html.'
                type: string
              settings:
                description: JobSettings contains all the transcode settings for a job.
                properties:
                  AdAvailOffset:
                    $ref: '#/definitions/__integerMinNegative1000Max1000'
                    description: 'When specified, this offset (in milliseconds) is added to the input Ad Avail PTS time.'
                  AvailBlanking:
                    $ref: '#/definitions/AvailBlanking'
                    description: 'Settings for ad avail blanking.  Video can be blanked or overlaid with an image, and audio muted during SCTE-35 triggered ad avails.'
                  Esam:
                    $ref: '#/definitions/EsamSettings'
                    description: Settings for Event Signaling And Messaging (ESAM).
                  Inputs:
                    $ref: '#/definitions/__listOfInput'
                    description: Use Inputs (inputs) to define source file used in the transcode job. There can be multiple inputs add in a job. These inputs will be concantenated together to create the output.
                  MotionImageInserter:
                    $ref: '#/definitions/MotionImageInserter'
                    description: Overlay motion graphics on top of your video. The motion graphics that you specify here appear on all outputs in all output groups.
                  NielsenConfiguration:
                    $ref: '#/definitions/NielsenConfiguration'
                    description: 'Settings for your Nielsen configuration. If you don''t do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don''t include any children of nielsenConfiguration, you still enable the setting.'
                  OutputGroups:
                    $ref: '#/definitions/__listOfOutputGroup'
                    description: '(OutputGroups) contains one group of settings for each set of outputs that share a common package type. All unpackaged files (MPEG-4, MPEG-2 TS, Quicktime, MXF, and no container) are grouped in a single output group as well. Required in (OutputGroups) is a group of settings that apply to the whole group. This required object depends on the value you set for (Type) under (OutputGroups)>(OutputGroupSettings). Type, settings object pairs are as follows. * FILE_GROUP_SETTINGS, FileGroupSettings * HLS_GROUP_SETTINGS, HlsGroupSettings * DASH_ISO_GROUP_SETTINGS, DashIsoGroupSettings * MS_SMOOTH_GROUP_SETTINGS, MsSmoothGroupSettings * CMAF_GROUP_SETTINGS, CmafGroupSettings'
                  TimecodeConfig:
                    $ref: '#/definitions/TimecodeConfig'
                    description: Contains settings used to acquire and adjust timecode information from inputs.
                  TimedMetadataInsertion:
                    $ref: '#/definitions/TimedMetadataInsertion'
                    description: 'Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in your job. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.'
                type: object
              simulateReservedQueue:
                description: 'Enable this setting when you run a test job to estimate how many reserved transcoding slots (RTS) you need. When this is enabled, MediaConvert runs your job from an on-demand queue with similar performance to what you will see with one RTS in a reserved queue. This setting is disabled by default.'
                enum:
                  - DISABLED
                  - ENABLED
                type: string
              statusUpdateInterval:
                description: 'Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.'
                enum:
                  - SECONDS_10
                  - SECONDS_12
                  - SECONDS_15
                  - SECONDS_20
                  - SECONDS_30
                  - SECONDS_60
                  - SECONDS_120
                  - SECONDS_180
                  - SECONDS_240
                  - SECONDS_300
                  - SECONDS_360
                  - SECONDS_420
                  - SECONDS_480
                  - SECONDS_540
                  - SECONDS_600
                type: string
              userMetadata:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: User-defined metadata that you want to associate with an MediaConvert job. You specify metadata in key/value pairs.
                type: object
            required:
              - accelerationSettings
              - role
              - settings
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/2017-08-29/jobs/{id}':
    delete:
      description: 'Permanently cancel a job. Once you have canceled a job, you can''t start it again.'
      operationId: CancelJob
      parameters:
        - description: The Job ID of the job to be cancelled.
          in: path
          name: id
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/CancelJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Retrieve the JSON for a specific completed transcoding job.
      operationId: GetJob
      parameters:
        - description: the job ID of the job.
          in: path
          name: id
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  /2017-08-29/presets:
    get:
      description: 'Retrieve a JSON array of up to twenty of your presets. This will return the presets themselves, not just a list of them. To retrieve the next twenty presets, use the nextToken string returned with the array.'
      operationId: ListPresets
      parameters:
        - description: 'Optionally, specify a preset category to limit responses to only presets from that category.'
          in: query
          name: category
          required: false
          type: string
        - description: 'Optional. When you request a list of presets, you can choose to list them alphabetically by NAME or chronologically by CREATION_DATE. If you don''t specify, the service will list them by name.'
          enum:
            - NAME
            - CREATION_DATE
            - SYSTEM
          in: query
          name: listBy
          required: false
          type: string
        - description: 'Optional. Number of presets, up to twenty, that will be returned at one time'
          in: query
          maximum: 20
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: 'Use this string, provided with the response to a previous request, to request the next batch of presets.'
          in: query
          name: nextToken
          required: false
          type: string
        - description: 'When you request lists of resources, you can optionally specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.'
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: order
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPresetsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Create a new preset. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      operationId: CreatePreset
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              category:
                description: Optional. A category for the preset you are creating.
                type: string
              description:
                description: Optional. A description of the preset you are creating.
                type: string
              name:
                description: The name of the preset you are creating.
                type: string
              settings:
                description: Settings for preset
                properties:
                  AudioDescriptions:
                    $ref: '#/definitions/__listOfAudioDescription'
                    description: (AudioDescriptions) contains groups of audio encoding settings organized by audio codec. Include one instance of (AudioDescriptions) per output. (AudioDescriptions) can contain multiple groups of encoding settings.
                  CaptionDescriptions:
                    $ref: '#/definitions/__listOfCaptionDescriptionPreset'
                    description: Caption settings for this preset. There can be multiple caption settings in a single output.
                  ContainerSettings:
                    $ref: '#/definitions/ContainerSettings'
                    description: Container specific settings.
                  VideoDescription:
                    $ref: '#/definitions/VideoDescription'
                    description: (VideoDescription) contains a group of video encoding settings. The specific video settings depend on the video codec that you choose when you specify a value for Video codec (codec). Include one instance of (VideoDescription) per output.
                type: object
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
                type: object
            required:
              - name
              - settings
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/2017-08-29/presets/{name}':
    delete:
      description: Permanently delete a preset you have created.
      operationId: DeletePreset
      parameters:
        - description: The name of the preset to be deleted.
          in: path
          name: name
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeletePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Retrieve the JSON for a specific preset.
      operationId: GetPreset
      parameters:
        - description: The name of the preset.
          in: path
          name: name
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Modify one of your existing presets.
      operationId: UpdatePreset
      parameters:
        - description: The name of the preset you are modifying.
          in: path
          name: name
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              category:
                description: 'The new category for the preset, if you are changing it.'
                type: string
              description:
                description: 'The new description for the preset, if you are changing it.'
                type: string
              settings:
                description: Settings for preset
                properties:
                  AudioDescriptions:
                    $ref: '#/definitions/__listOfAudioDescription'
                    description: (AudioDescriptions) contains groups of audio encoding settings organized by audio codec. Include one instance of (AudioDescriptions) per output. (AudioDescriptions) can contain multiple groups of encoding settings.
                  CaptionDescriptions:
                    $ref: '#/definitions/__listOfCaptionDescriptionPreset'
                    description: Caption settings for this preset. There can be multiple caption settings in a single output.
                  ContainerSettings:
                    $ref: '#/definitions/ContainerSettings'
                    description: Container specific settings.
                  VideoDescription:
                    $ref: '#/definitions/VideoDescription'
                    description: (VideoDescription) contains a group of video encoding settings. The specific video settings depend on the video codec that you choose when you specify a value for Video codec (codec). Include one instance of (VideoDescription) per output.
                type: object
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/queues:
    get:
      description: 'Retrieve a JSON array of up to twenty of your queues. This will return the queues themselves, not just a list of them. To retrieve the next twenty queues, use the nextToken string returned with the array.'
      operationId: ListQueues
      parameters:
        - description: 'Optional. When you request a list of queues, you can choose to list them alphabetically by NAME or chronologically by CREATION_DATE. If you don''t specify, the service will list them by creation date.'
          enum:
            - NAME
            - CREATION_DATE
          in: query
          name: listBy
          required: false
          type: string
        - description: 'Optional. Number of queues, up to twenty, that will be returned at one time.'
          in: query
          maximum: 20
          minimum: 1
          name: maxResults
          required: false
          type: integer
        - description: 'Use this string, provided with the response to a previous request, to request the next batch of queues.'
          in: query
          name: nextToken
          required: false
          type: string
        - description: 'When you request lists of resources, you can optionally specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.'
          enum:
            - ASCENDING
            - DESCENDING
          in: query
          name: order
          required: false
          type: string
        - description: Pagination limit
          in: query
          name: MaxResults
          required: false
          type: string
        - description: Pagination token
          in: query
          name: NextToken
          required: false
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQueuesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Create a new transcoding queue. For information about queues, see Working With Queues in the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html'
      operationId: CreateQueue
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: Optional. A description of the queue that you are creating.
                type: string
              name:
                description: The name of the queue that you are creating.
                type: string
              pricingPlan:
                description: 'Specifies whether the pricing plan for the queue is on-demand or reserved. For on-demand, you pay per minute, billed in increments of .01 minute. For reserved, you pay for the transcoding capacity of the entire queue, regardless of how much or how little you use it. Reserved pricing requires a 12-month commitment.'
                enum:
                  - ON_DEMAND
                  - RESERVED
                type: string
              reservationPlanSettings:
                description: Details about the pricing plan for your reserved queue. Required for reserved queues and not applicable to on-demand queues.
                properties:
                  Commitment:
                    $ref: '#/definitions/Commitment'
                    description: The length of the term of your reserved queue pricing plan commitment.
                  RenewalType:
                    $ref: '#/definitions/RenewalType'
                    description: 'Specifies whether the term of your reserved queue pricing plan is automatically extended (AUTO_RENEW) or expires (EXPIRE) at the end of the term. When your term is auto renewed, you extend your commitment by 12 months from the auto renew date. You can cancel this commitment.'
                  ReservedSlots:
                    $ref: '#/definitions/__integer'
                    description: Specifies the number of reserved transcode slots (RTS) for this queue. The number of RTS determines how many jobs the queue can process in parallel; each RTS can process one job at a time. You can't decrease the number of RTS in your reserved queue. You can increase the number of RTS by extending your existing commitment with a new 12-month commitment for the larger number. The new commitment begins when you purchase the additional capacity. You can't cancel your commitment or revert to your original commitment after you increase the capacity.
                type: object
              status:
                description: 'Queues can be ACTIVE or PAUSED. If you pause a queue, jobs in that queue won''t begin. Jobs that are running when you pause a queue continue to run until they finish or result in an error.'
                enum:
                  - ACTIVE
                  - PAUSED
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
                type: object
            required:
              - name
              - reservationPlanSettings
            type: object
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/2017-08-29/queues/{name}':
    delete:
      description: Permanently delete a queue you have created.
      operationId: DeleteQueue
      parameters:
        - description: The name of the queue that you want to delete.
          in: path
          name: name
          required: true
          type: string
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    get:
      description: Retrieve the JSON for a specific queue.
      operationId: GetQueue
      parameters:
        - description: The name of the queue that you want information about.
          in: path
          name: name
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: Modify one of your existing queues.
      operationId: UpdateQueue
      parameters:
        - description: The name of the queue that you are modifying.
          in: path
          name: name
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              description:
                description: 'The new description for the queue, if you are changing it.'
                type: string
              reservationPlanSettings:
                description: Details about the pricing plan for your reserved queue. Required for reserved queues and not applicable to on-demand queues.
                properties:
                  Commitment:
                    $ref: '#/definitions/Commitment'
                    description: The length of the term of your reserved queue pricing plan commitment.
                  RenewalType:
                    $ref: '#/definitions/RenewalType'
                    description: 'Specifies whether the term of your reserved queue pricing plan is automatically extended (AUTO_RENEW) or expires (EXPIRE) at the end of the term. When your term is auto renewed, you extend your commitment by 12 months from the auto renew date. You can cancel this commitment.'
                  ReservedSlots:
                    $ref: '#/definitions/__integer'
                    description: Specifies the number of reserved transcode slots (RTS) for this queue. The number of RTS determines how many jobs the queue can process in parallel; each RTS can process one job at a time. You can't decrease the number of RTS in your reserved queue. You can increase the number of RTS by extending your existing commitment with a new 12-month commitment for the larger number. The new commitment begins when you purchase the additional capacity. You can't cancel your commitment or revert to your original commitment after you increase the capacity.
                type: object
              status:
                description: 'Queues can be ACTIVE or PAUSED. If you pause a queue, jobs in that queue won''t begin. Jobs that are running when you pause a queue continue to run until they finish or result in an error.'
                enum:
                  - ACTIVE
                  - PAUSED
                type: string
            required:
              - reservationPlanSettings
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  /2017-08-29/tags:
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    post:
      description: 'Add tags to a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html'
      operationId: TagResource
      parameters:
        - in: body
          name: body
          required: true
          schema:
            properties:
              arn:
                description: 'The Amazon Resource Name (ARN) of the resource that you want to tag. To get the ARN, send a GET request with the resource name.'
                type: string
              tags:
                additionalProperties:
                  $ref: '#/definitions/__string'
                description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
                type: object
            required:
              - arn
              - tags
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
  '/2017-08-29/tags/{arn}':
    get:
      description: Retrieve the tags for a MediaConvert resource.
      operationId: ListTagsForResource
      parameters:
        - description: 'The Amazon Resource Name (ARN) of the resource that you want to list tags for. To get the ARN, send a GET request with the resource name.'
          in: path
          name: arn
          required: true
          type: string
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      description: 'Remove tags from a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html'
      operationId: UntagResource
      parameters:
        - description: 'The Amazon Resource Name (ARN) of the resource that you want to remove tags from. To get the ARN, send a GET request with the resource name.'
          in: path
          name: arn
          required: true
          type: string
        - in: body
          name: body
          required: true
          schema:
            properties:
              tagKeys:
                description: The keys of the tags that you want to remove from the resource.
                items:
                  $ref: '#/definitions/__string'
                type: array
            type: object
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
definitions:
  AacAudioDescriptionBroadcasterMix:
    description: 'Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains "broadcaster mixed AD". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.'
    enum:
      - BROADCASTER_MIXED_AD
      - NORMAL
    type: string
  AacCodecProfile:
    description: AAC Profile.
    enum:
      - LC
      - HEV1
      - HEV2
    type: string
  AacCodingMode:
    description: 'Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. "1.0 - Audio Description (Receiver Mix)" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.'
    enum:
      - AD_RECEIVER_MIX
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_5_1
    type: string
  AacRateControlMode:
    description: Rate Control Mode.
    enum:
      - CBR
      - VBR
    type: string
  AacRawFormat:
    description: 'Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose "No container" for the output container.'
    enum:
      - LATM_LOAS
      - NONE
    type: string
  AacSettings:
    description: 'Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to "VBR" or "CBR".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.'
    properties:
      AudioDescriptionBroadcasterMix:
        $ref: '#/definitions/AacAudioDescriptionBroadcasterMix'
        description: 'Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains "broadcaster mixed AD". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.'
      Bitrate:
        $ref: '#/definitions/__integerMin6000Max1024000'
        description: 'Specify the average bitrate in bits per second. The set of valid values for this setting is: 6000, 8000, 10000, 12000, 14000, 16000, 20000, 24000, 28000, 32000, 40000, 48000, 56000, 64000, 80000, 96000, 112000, 128000, 160000, 192000, 224000, 256000, 288000, 320000, 384000, 448000, 512000, 576000, 640000, 768000, 896000, 1024000. The value you set is also constrained by the values that you choose for Profile (codecProfile), Bitrate control mode (codingMode), and Sample rate (sampleRate). Default values depend on Bitrate control mode and Profile.'
      CodecProfile:
        $ref: '#/definitions/AacCodecProfile'
        description: AAC Profile.
      CodingMode:
        $ref: '#/definitions/AacCodingMode'
        description: 'Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. "1.0 - Audio Description (Receiver Mix)" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.'
      RateControlMode:
        $ref: '#/definitions/AacRateControlMode'
        description: Rate Control Mode.
      RawFormat:
        $ref: '#/definitions/AacRawFormat'
        description: 'Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose "No container" for the output container.'
      SampleRate:
        $ref: '#/definitions/__integerMin8000Max96000'
        description: Sample rate in Hz. Valid values depend on rate control mode and profile.
      Specification:
        $ref: '#/definitions/AacSpecification'
        description: Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.
      VbrQuality:
        $ref: '#/definitions/AacVbrQuality'
        description: VBR Quality Level - Only used if rate_control_mode is VBR.
    type: object
  AacSpecification:
    description: Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.
    enum:
      - MPEG2
      - MPEG4
    type: string
  AacVbrQuality:
    description: VBR Quality Level - Only used if rate_control_mode is VBR.
    enum:
      - LOW
      - MEDIUM_LOW
      - MEDIUM_HIGH
      - HIGH
    type: string
  Ac3BitstreamMode:
    description: 'Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).'
    enum:
      - COMPLETE_MAIN
      - COMMENTARY
      - DIALOGUE
      - EMERGENCY
      - HEARING_IMPAIRED
      - MUSIC_AND_EFFECTS
      - VISUALLY_IMPAIRED
      - VOICE_OVER
    type: string
  Ac3CodingMode:
    description: Dolby Digital coding mode. Determines number of channels.
    enum:
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_3_2_LFE
    type: string
  Ac3DynamicRangeCompressionProfile:
    description: 'If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.'
    enum:
      - FILM_STANDARD
      - NONE
    type: string
  Ac3LfeFilter:
    description: Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.
    enum:
      - ENABLED
      - DISABLED
    type: string
  Ac3MetadataControl:
    description: 'When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    type: string
  Ac3Settings:
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.
    properties:
      Bitrate:
        $ref: '#/definitions/__integerMin64000Max640000'
        description: Specify the average bitrate in bits per second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Ac3BitstreamMode'
        description: 'Specify the bitstream mode for the AC-3 stream that the encoder emits. For more information about the AC3 bitstream mode, see ATSC A/52-2012 (Annex E).'
      CodingMode:
        $ref: '#/definitions/Ac3CodingMode'
        description: Dolby Digital coding mode. Determines number of channels.
      Dialnorm:
        $ref: '#/definitions/__integerMin1Max31'
        description: 'Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.'
      DynamicRangeCompressionProfile:
        $ref: '#/definitions/Ac3DynamicRangeCompressionProfile'
        description: 'If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.'
      LfeFilter:
        $ref: '#/definitions/Ac3LfeFilter'
        description: Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.
      MetadataControl:
        $ref: '#/definitions/Ac3MetadataControl'
        description: 'When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
      SampleRate:
        $ref: '#/definitions/__integerMin48000Max48000'
        description: This value is always 48000. It represents the sample rate in Hz.
    type: object
  AccelerationMode:
    description: Enable Acceleration (AccelerationMode) on any job that you want processed with accelerated transcoding.
    enum:
      - DISABLED
      - ENABLED
    type: string
  AccelerationSettings:
    description: 'Accelerated transcoding can significantly speed up jobs with long, visually complex content. Outputs that use this feature incur pro-tier pricing. For information about feature limitations, see the AWS Elemental MediaConvert User Guide.'
    properties:
      Mode:
        $ref: '#/definitions/AccelerationMode'
        description: Acceleration configuration for the job.
    required:
      - Mode
    type: object
  AfdSignaling:
    description: 'This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.'
    enum:
      - NONE
      - AUTO
      - FIXED
    type: string
  AiffSettings:
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.
    properties:
      BitDepth:
        $ref: '#/definitions/__integerMin16Max24'
        description: 'Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.'
      Channels:
        $ref: '#/definitions/__integerMin1Max64'
        description: 'Specify the number of channels in this output audio track. Valid values are 1 and even numbers up to 64. For example, 1, 2, 4, 6, and so on, up to 64.'
      SampleRate:
        $ref: '#/definitions/__integerMin8000Max192000'
        description: Sample rate in hz.
    type: object
  AncillaryConvert608To708:
    description: 'Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.'
    enum:
      - UPCONVERT
      - DISABLED
    type: string
  AncillarySourceSettings:
    description: Settings for ancillary captions source.
    properties:
      Convert608To708:
        $ref: '#/definitions/AncillaryConvert608To708'
        description: 'Specify whether this set of input captions appears in your outputs in both 608 and 708 format. If you choose Upconvert (UPCONVERT), MediaConvert includes the captions data in two ways: it passes the 608 data through using the 608 compatibility bytes fields of the 708 wrapper, and it also translates the 608 data into 708.'
      SourceAncillaryChannelNumber:
        $ref: '#/definitions/__integerMin1Max4'
        description: Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.
      TerminateCaptions:
        $ref: '#/definitions/AncillaryTerminateCaptions'
        description: 'By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.'
    type: object
  AncillaryTerminateCaptions:
    description: 'By default, the service terminates any unterminated captions at the end of each input. If you want the caption to continue onto your next input, disable this setting.'
    enum:
      - END_OF_INPUT
      - DISABLED
    type: string
  AntiAlias:
    description: 'The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting.'
    enum:
      - DISABLED
      - ENABLED
    type: string
  AssociateCertificateRequest:
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the ACM certificate that you want to associate with your MediaConvert resource.
    required:
      - Arn
    type: object
  AssociateCertificateResponse:
    properties: {}
    type: object
  AudioCodec:
    description: Type of Audio codec.
    enum:
      - AAC
      - MP2
      - WAV
      - AIFF
      - AC3
      - EAC3
      - EAC3_ATMOS
      - PASSTHROUGH
    type: string
  AudioCodecSettings:
    description: 'Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value that you choose for Audio codec (Codec). For each codec enum that you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings * EAC3_ATMOS, Eac3AtmosSettings'
    properties:
      AacSettings:
        $ref: '#/definitions/AacSettings'
        description: 'Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to "VBR" or "CBR".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.'
      Ac3Settings:
        $ref: '#/definitions/Ac3Settings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.
      AiffSettings:
        $ref: '#/definitions/AiffSettings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.
      Codec:
        $ref: '#/definitions/AudioCodec'
        description: Type of Audio codec.
      Eac3AtmosSettings:
        $ref: '#/definitions/Eac3AtmosSettings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3_ATMOS.
      Eac3Settings:
        $ref: '#/definitions/Eac3Settings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.
      Mp2Settings:
        $ref: '#/definitions/Mp2Settings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value MP2.
      WavSettings:
        $ref: '#/definitions/WavSettings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value WAV.
    type: object
  AudioDefaultSelection:
    description: 'Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can''t find the specified input audio. If you don''t set a default, those outputs have no audio.'
    enum:
      - DEFAULT
      - NOT_DEFAULT
    type: string
  AudioDescription:
    description: Description of audio output
    properties:
      AudioNormalizationSettings:
        $ref: '#/definitions/AudioNormalizationSettings'
        description: Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.
      AudioSourceName:
        $ref: '#/definitions/__string'
        description: 'Specifies which audio data to use from each input. In the simplest case, specify an "Audio Selector":#inputs-audio_selector by name based on its order within each input. For example if you specify "Audio Selector 3", then the third audio selector will be used from each input. If an input does not have an "Audio Selector 3", then the audio selector marked as "default" in that input will be used. If there is no audio selector marked as "default", silence will be inserted for the duration of that input. Alternatively, an "Audio Selector Group":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then "Audio Selector 1" will be chosen automatically.'
      AudioType:
        $ref: '#/definitions/__integerMin0Max255'
        description: 'Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.'
      AudioTypeControl:
        $ref: '#/definitions/AudioTypeControl'
        description: 'When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.'
      CodecSettings:
        $ref: '#/definitions/AudioCodecSettings'
        description: 'Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value that you choose for Audio codec (Codec). For each codec enum that you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings * EAC3_ATMOS, Eac3AtmosSettings'
      CustomLanguageCode:
        $ref: '#/definitions/__stringMin3Max3PatternAZaZ3'
        description: 'Specify the language for this audio output track, using the ISO 639-2 or ISO 639-3 three-letter language code. The language specified will be used when ''Follow Input Language Code'' is not selected or when ''Follow Input Language Code'' is selected but there is no ISO 639 language code specified by the input.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.
      LanguageCodeControl:
        $ref: '#/definitions/AudioLanguageCodeControl'
        description: Choosing FOLLOW_INPUT will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The language specified for languageCode' will be used when USE_CONFIGURED is selected or when FOLLOW_INPUT is selected but there is no ISO 639 language code specified by the input.
      RemixSettings:
        $ref: '#/definitions/RemixSettings'
        description: Advanced audio remixing settings.
      StreamName:
        $ref: '#/definitions/__stringPatternWS'
        description: 'Specify a label for this output audio stream. For example, "English", "Director commentary", or "track_2". For streaming outputs, MediaConvert passes this information into destination manifests for display on the end-viewer''s player device. For outputs in other output groups, the service ignores this setting.'
    type: object
  AudioLanguageCodeControl:
    description: Choosing FOLLOW_INPUT will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The language specified for languageCode' will be used when USE_CONFIGURED is selected or when FOLLOW_INPUT is selected but there is no ISO 639 language code specified by the input.
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    type: string
  AudioNormalizationAlgorithm:
    description: 'Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.'
    enum:
      - ITU_BS_1770_1
      - ITU_BS_1770_2
      - ITU_BS_1770_3
      - ITU_BS_1770_4
    type: string
  AudioNormalizationAlgorithmControl:
    description: 'When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.'
    enum:
      - CORRECT_AUDIO
      - MEASURE_ONLY
    type: string
  AudioNormalizationLoudnessLogging:
    description: 'If set to LOG, log each output''s audio track loudness to a CSV file.'
    enum:
      - LOG
      - DONT_LOG
    type: string
  AudioNormalizationPeakCalculation:
    description: 'If set to TRUE_PEAK, calculate and log the TruePeak for each output''s audio track loudness.'
    enum:
      - TRUE_PEAK
      - NONE
    type: string
  AudioNormalizationSettings:
    description: Advanced audio normalization settings. Ignore these settings unless you need to comply with a loudness standard.
    properties:
      Algorithm:
        $ref: '#/definitions/AudioNormalizationAlgorithm'
        description: 'Choose one of the following audio normalization algorithms: ITU-R BS.1770-1: Ungated loudness. A measurement of ungated average loudness for an entire piece of content, suitable for measurement of short-form content under ATSC recommendation A/85. Supports up to 5.1 audio channels. ITU-R BS.1770-2: Gated loudness. A measurement of gated average loudness compliant with the requirements of EBU-R128. Supports up to 5.1 audio channels. ITU-R BS.1770-3: Modified peak. The same loudness measurement algorithm as 1770-2, with an updated true peak measurement. ITU-R BS.1770-4: Higher channel count. Allows for more audio channels than the other algorithms, including configurations such as 7.1.'
      AlgorithmControl:
        $ref: '#/definitions/AudioNormalizationAlgorithmControl'
        description: 'When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.'
      CorrectionGateLevel:
        $ref: '#/definitions/__integerMinNegative70Max0'
        description: Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected. Gating only applies when not using real_time_correction.
      LoudnessLogging:
        $ref: '#/definitions/AudioNormalizationLoudnessLogging'
        description: 'If set to LOG, log each output''s audio track loudness to a CSV file.'
      PeakCalculation:
        $ref: '#/definitions/AudioNormalizationPeakCalculation'
        description: 'If set to TRUE_PEAK, calculate and log the TruePeak for each output''s audio track loudness.'
      TargetLkfs:
        $ref: '#/definitions/__doubleMinNegative59Max0'
[...]
