swagger: '2.0'
info:
  version: '2017-08-29'
  x-release: v4
  title: AWS Elemental MediaConvert
  description: AWS Elemental MediaConvert
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: mediaconvert
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediaconvert-2017-08-29.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-driver: external
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/mediaconvert/'
host: mediaconvert.amazonaws.com
basePath: /
schemes:
  - https
  - http
x-servers:
  - url: 'http://mediaconvert.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The MediaConvert multi-region endpoint
  - url: 'https://mediaconvert.{region}.amazonaws.com'
    variables:
      region:
        description: The AWS region
        enum:
          - us-east-1
          - us-east-2
          - us-west-1
          - us-west-2
          - us-gov-west-1
          - us-gov-east-1
          - ca-central-1
          - eu-north-1
          - eu-west-1
          - eu-west-2
          - eu-west-3
          - eu-central-1
          - ap-northeast-1
          - ap-northeast-2
          - ap-northeast-3
          - ap-southeast-1
          - ap-southeast-2
          - ap-south-1
          - sa-east-1
        default: us-east-1
    description: The MediaConvert multi-region endpoint
  - url: 'http://mediaconvert.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The MediaConvert endpoint for China (Beijing) and China (Ningxia)
  - url: 'https://mediaconvert.{region}.amazonaws.com.cn'
    variables:
      region:
        description: The AWS region
        enum:
          - cn-north-1
          - cn-northwest-1
        default: cn-north-1
    description: The MediaConvert endpoint for China (Beijing) and China (Ningxia)
consumes:
  - application/json
produces:
  - application/json
parameters:
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /2017-08-29/certificates:
    post:
      operationId: AssociateCertificate
      description: Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/AssociateCertificateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - arn
            properties:
              arn:
                description: The ARN of the ACM certificate that you want to associate with your MediaConvert resource.
                type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2017-08-29/jobs/{id}':
    delete:
      operationId: CancelJob
      description: 'Permanently cancel a job. Once you have canceled a job, you can''t start it again.'
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/CancelJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: id
          in: path
          required: true
          description: The Job ID of the job to be cancelled.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJob
      description: Retrieve the JSON for a specific completed transcoding job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: id
          in: path
          required: true
          description: the job ID of the job.
          type: string
  /2017-08-29/jobs:
    post:
      operationId: CreateJob
      description: 'Create a new transcoding job. For information about jobs and job settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - accelerationSettings
              - role
              - settings
            properties:
              accelerationSettings:
                description: 'Accelerated transcoding can significantly speed up jobs with long, visually complex content. Outputs that use this feature incur pro-tier pricing. For information about feature limitations, see the AWS Elemental MediaConvert User Guide.'
                type: object
                properties:
                  Mode:
                    $ref: '#/definitions/AccelerationMode'
                    description: Specify the conditions when the service will run your job with accelerated transcoding.
              billingTagsSource:
                description: 'Optional. Choose a tag type that AWS Billing and Cost Management will use to sort your AWS Elemental MediaConvert costs on any billing report that you set up. Any transcoding outputs that don''t have an associated tag will appear in your billing report unsorted. If you don''t choose a valid value for this field, your job outputs will appear on the billing report unsorted.'
                type: string
                enum:
                  - QUEUE
                  - PRESET
                  - JOB_TEMPLATE
                  - JOB
              clientRequestToken:
                description: Idempotency token for CreateJob operation.
                type: string
              jobTemplate:
                description: 'When you create a job, you can either specify a job template or specify the transcoding settings individually'
                type: string
              priority:
                description: 'Specify the relative priority for this job. In any given queue, the service begins processing the job with the highest value first. When more than one job has the same priority, the service begins processing the job that you submitted first. If you don''t specify a priority, the service uses the default value 0.'
                type: integer
                minimum: -50
                maximum: 50
              queue:
                description: 'Optional. When you create a job, you can specify a queue to send it to. If you don''t specify, the job will go to the default queue. For more about queues, see the User Guide topic at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html.'
                type: string
              role:
                description: 'Required. The IAM role you use for creating this job. For details about permissions, see the User Guide topic at the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/iam-role.html.'
                type: string
              settings:
                description: JobSettings contains all the transcode settings for a job.
                type: object
                properties:
                  AdAvailOffset:
                    $ref: '#/definitions/__integerMinNegative1000Max1000'
                    description: 'When specified, this offset (in milliseconds) is added to the input Ad Avail PTS time.'
                  AvailBlanking:
                    $ref: '#/definitions/AvailBlanking'
                    description: 'Settings for ad avail blanking.  Video can be blanked or overlaid with an image, and audio muted during SCTE-35 triggered ad avails.'
                  Esam:
                    $ref: '#/definitions/EsamSettings'
                    description: Settings for Event Signaling And Messaging (ESAM).
                  Inputs:
                    $ref: '#/definitions/__listOfInput'
                    description: Use Inputs (inputs) to define source file used in the transcode job. There can be multiple inputs add in a job. These inputs will be concantenated together to create the output.
                  MotionImageInserter:
                    $ref: '#/definitions/MotionImageInserter'
                    description: Overlay motion graphics on top of your video. The motion graphics that you specify here appear on all outputs in all output groups.
                  NielsenConfiguration:
                    $ref: '#/definitions/NielsenConfiguration'
                    description: 'Settings for your Nielsen configuration. If you don''t do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don''t include any children of nielsenConfiguration, you still enable the setting.'
                  OutputGroups:
                    $ref: '#/definitions/__listOfOutputGroup'
                    description: '(OutputGroups) contains one group of settings for each set of outputs that share a common package type. All unpackaged files (MPEG-4, MPEG-2 TS, Quicktime, MXF, and no container) are grouped in a single output group as well. Required in (OutputGroups) is a group of settings that apply to the whole group. This required object depends on the value you set for (Type) under (OutputGroups)>(OutputGroupSettings). Type, settings object pairs are as follows. * FILE_GROUP_SETTINGS, FileGroupSettings * HLS_GROUP_SETTINGS, HlsGroupSettings * DASH_ISO_GROUP_SETTINGS, DashIsoGroupSettings * MS_SMOOTH_GROUP_SETTINGS, MsSmoothGroupSettings * CMAF_GROUP_SETTINGS, CmafGroupSettings'
                  TimecodeConfig:
                    $ref: '#/definitions/TimecodeConfig'
                    description: Contains settings used to acquire and adjust timecode information from inputs.
                  TimedMetadataInsertion:
                    $ref: '#/definitions/TimedMetadataInsertion'
                    description: 'Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in your job. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.'
              simulateReservedQueue:
                description: 'Enable this setting when you run a test job to estimate how many reserved transcoding slots (RTS) you need. When this is enabled, MediaConvert runs your job from an on-demand queue with similar performance to what you will see with one RTS in a reserved queue. This setting is disabled by default.'
                type: string
                enum:
                  - DISABLED
                  - ENABLED
              statusUpdateInterval:
                description: 'Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.'
                type: string
                enum:
                  - SECONDS_10
                  - SECONDS_12
                  - SECONDS_15
                  - SECONDS_20
                  - SECONDS_30
                  - SECONDS_60
                  - SECONDS_120
                  - SECONDS_180
                  - SECONDS_240
                  - SECONDS_300
                  - SECONDS_360
                  - SECONDS_420
                  - SECONDS_480
                  - SECONDS_540
                  - SECONDS_600
              tags:
                description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
              userMetadata:
                description: User-defined metadata that you want to associate with an MediaConvert job. You specify metadata in key/value pairs.
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListJobs
      description: 'Retrieve a JSON array of up to twenty of your most recently created jobs. This array includes in-process, completed, and errored jobs. This will return the jobs themselves, not just a list of the jobs. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: maxResults
          in: query
          required: false
          description: 'Optional. Number of jobs, up to twenty, that will be returned at one time.'
          type: integer
          minimum: 1
          maximum: 20
        - name: nextToken
          in: query
          required: false
          description: 'Use this string, provided with the response to a previous request, to request the next batch of jobs.'
          type: string
        - name: order
          in: query
          required: false
          description: 'When you request lists of resources, you can optionally specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.'
          type: string
          enum:
            - ASCENDING
            - DESCENDING
        - name: queue
          in: query
          required: false
          description: Provide a queue name to get back only jobs from that queue.
          type: string
        - name: status
          in: query
          required: false
          description: 'A job''s status can be SUBMITTED, PROGRESSING, COMPLETE, CANCELED, or ERROR.'
          type: string
          enum:
            - SUBMITTED
            - PROGRESSING
            - COMPLETE
            - CANCELED
            - ERROR
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /2017-08-29/jobTemplates:
    post:
      operationId: CreateJobTemplate
      description: 'Create a new job template. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - accelerationSettings
              - name
              - settings
            properties:
              accelerationSettings:
                description: 'Accelerated transcoding can significantly speed up jobs with long, visually complex content. Outputs that use this feature incur pro-tier pricing. For information about feature limitations, see the AWS Elemental MediaConvert User Guide.'
                type: object
                properties:
                  Mode:
                    $ref: '#/definitions/AccelerationMode'
                    description: Specify the conditions when the service will run your job with accelerated transcoding.
              category:
                description: Optional. A category for the job template you are creating
                type: string
              description:
                description: Optional. A description of the job template you are creating.
                type: string
              name:
                description: The name of the job template you are creating.
                type: string
              priority:
                description: 'Specify the relative priority for this job. In any given queue, the service begins processing the job with the highest value first. When more than one job has the same priority, the service begins processing the job that you submitted first. If you don''t specify a priority, the service uses the default value 0.'
                type: integer
                minimum: -50
                maximum: 50
              queue:
                description: 'Optional. The queue that jobs created from this template are assigned to. If you don''t specify this, jobs will go to the default queue.'
                type: string
              settings:
                description: JobTemplateSettings contains all the transcode settings saved in the template that will be applied to jobs created from it.
                type: object
                properties:
                  AdAvailOffset:
                    $ref: '#/definitions/__integerMinNegative1000Max1000'
                    description: 'When specified, this offset (in milliseconds) is added to the input Ad Avail PTS time.'
                  AvailBlanking:
                    $ref: '#/definitions/AvailBlanking'
                    description: 'Settings for ad avail blanking.  Video can be blanked or overlaid with an image, and audio muted during SCTE-35 triggered ad avails.'
                  Esam:
                    $ref: '#/definitions/EsamSettings'
                    description: Settings for Event Signaling And Messaging (ESAM).
                  Inputs:
                    $ref: '#/definitions/__listOfInputTemplate'
                    description: 'Use Inputs (inputs) to define the source file used in the transcode job. There can only be one input in a job template.  Using the API, you can include multiple inputs when referencing a job template.'
                  MotionImageInserter:
                    $ref: '#/definitions/MotionImageInserter'
                    description: Overlay motion graphics on top of your video. The motion graphics that you specify here appear on all outputs in all output groups.
                  NielsenConfiguration:
                    $ref: '#/definitions/NielsenConfiguration'
                    description: 'Settings for your Nielsen configuration. If you don''t do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don''t include any children of nielsenConfiguration, you still enable the setting.'
                  OutputGroups:
                    $ref: '#/definitions/__listOfOutputGroup'
                    description: '(OutputGroups) contains one group of settings for each set of outputs that share a common package type. All unpackaged files (MPEG-4, MPEG-2 TS, Quicktime, MXF, and no container) are grouped in a single output group as well. Required in (OutputGroups) is a group of settings that apply to the whole group. This required object depends on the value you set for (Type) under (OutputGroups)>(OutputGroupSettings). Type, settings object pairs are as follows. * FILE_GROUP_SETTINGS, FileGroupSettings * HLS_GROUP_SETTINGS, HlsGroupSettings * DASH_ISO_GROUP_SETTINGS, DashIsoGroupSettings * MS_SMOOTH_GROUP_SETTINGS, MsSmoothGroupSettings * CMAF_GROUP_SETTINGS, CmafGroupSettings'
                  TimecodeConfig:
                    $ref: '#/definitions/TimecodeConfig'
                    description: Contains settings used to acquire and adjust timecode information from inputs.
                  TimedMetadataInsertion:
                    $ref: '#/definitions/TimedMetadataInsertion'
                    description: 'Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in your job. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.'
              statusUpdateInterval:
                description: 'Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.'
                type: string
                enum:
                  - SECONDS_10
                  - SECONDS_12
                  - SECONDS_15
                  - SECONDS_20
                  - SECONDS_30
                  - SECONDS_60
                  - SECONDS_120
                  - SECONDS_180
                  - SECONDS_240
                  - SECONDS_300
                  - SECONDS_360
                  - SECONDS_420
                  - SECONDS_480
                  - SECONDS_540
                  - SECONDS_600
              tags:
                description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListJobTemplates
      description: 'Retrieve a JSON array of up to twenty of your job templates. This will return the templates themselves, not just a list of them. To retrieve the next twenty templates, use the nextToken string returned with the array'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobTemplatesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: category
          in: query
          required: false
          description: 'Optionally, specify a job template category to limit responses to only job templates from that category.'
          type: string
        - name: listBy
          in: query
          required: false
          description: 'Optional. When you request a list of job templates, you can choose to list them alphabetically by NAME or chronologically by CREATION_DATE. If you don''t specify, the service will list them by name.'
          type: string
          enum:
            - NAME
            - CREATION_DATE
            - SYSTEM
        - name: maxResults
          in: query
          required: false
          description: 'Optional. Number of job templates, up to twenty, that will be returned at one time.'
          type: integer
          minimum: 1
          maximum: 20
        - name: nextToken
          in: query
          required: false
          description: 'Use this string, provided with the response to a previous request, to request the next batch of job templates.'
          type: string
        - name: order
          in: query
          required: false
          description: 'When you request lists of resources, you can optionally specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.'
          type: string
          enum:
            - ASCENDING
            - DESCENDING
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /2017-08-29/presets:
    post:
      operationId: CreatePreset
      description: 'Create a new preset. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - settings
            properties:
              category:
                description: Optional. A category for the preset you are creating.
                type: string
              description:
                description: Optional. A description of the preset you are creating.
                type: string
              name:
                description: The name of the preset you are creating.
                type: string
              settings:
                description: Settings for preset
                type: object
                properties:
                  AudioDescriptions:
                    $ref: '#/definitions/__listOfAudioDescription'
                    description: (AudioDescriptions) contains groups of audio encoding settings organized by audio codec. Include one instance of (AudioDescriptions) per output. (AudioDescriptions) can contain multiple groups of encoding settings.
                  CaptionDescriptions:
                    $ref: '#/definitions/__listOfCaptionDescriptionPreset'
                    description: Caption settings for this preset. There can be multiple caption settings in a single output.
                  ContainerSettings:
                    $ref: '#/definitions/ContainerSettings'
                    description: Container specific settings.
                  VideoDescription:
                    $ref: '#/definitions/VideoDescription'
                    description: (VideoDescription) contains a group of video encoding settings. The specific video settings depend on the video codec that you choose when you specify a value for Video codec (codec). Include one instance of (VideoDescription) per output.
              tags:
                description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListPresets
      description: 'Retrieve a JSON array of up to twenty of your presets. This will return the presets themselves, not just a list of them. To retrieve the next twenty presets, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPresetsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: category
          in: query
          required: false
          description: 'Optionally, specify a preset category to limit responses to only presets from that category.'
          type: string
        - name: listBy
          in: query
          required: false
          description: 'Optional. When you request a list of presets, you can choose to list them alphabetically by NAME or chronologically by CREATION_DATE. If you don''t specify, the service will list them by name.'
          type: string
          enum:
            - NAME
            - CREATION_DATE
            - SYSTEM
        - name: maxResults
          in: query
          required: false
          description: 'Optional. Number of presets, up to twenty, that will be returned at one time'
          type: integer
          minimum: 1
          maximum: 20
        - name: nextToken
          in: query
          required: false
          description: 'Use this string, provided with the response to a previous request, to request the next batch of presets.'
          type: string
        - name: order
          in: query
          required: false
          description: 'When you request lists of resources, you can optionally specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.'
          type: string
          enum:
            - ASCENDING
            - DESCENDING
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /2017-08-29/queues:
    post:
      operationId: CreateQueue
      description: 'Create a new transcoding queue. For information about queues, see Working With Queues in the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - name
              - reservationPlanSettings
            properties:
              description:
                description: Optional. A description of the queue that you are creating.
                type: string
              name:
                description: The name of the queue that you are creating.
                type: string
              pricingPlan:
                description: 'Specifies whether the pricing plan for the queue is on-demand or reserved. For on-demand, you pay per minute, billed in increments of .01 minute. For reserved, you pay for the transcoding capacity of the entire queue, regardless of how much or how little you use it. Reserved pricing requires a 12-month commitment.'
                type: string
                enum:
                  - ON_DEMAND
                  - RESERVED
              reservationPlanSettings:
                description: Details about the pricing plan for your reserved queue. Required for reserved queues and not applicable to on-demand queues.
                type: object
                properties:
                  Commitment:
                    $ref: '#/definitions/Commitment'
                    description: The length of the term of your reserved queue pricing plan commitment.
                  RenewalType:
                    $ref: '#/definitions/RenewalType'
                    description: 'Specifies whether the term of your reserved queue pricing plan is automatically extended (AUTO_RENEW) or expires (EXPIRE) at the end of the term. When your term is auto renewed, you extend your commitment by 12 months from the auto renew date. You can cancel this commitment.'
                  ReservedSlots:
                    $ref: '#/definitions/__integer'
                    description: Specifies the number of reserved transcode slots (RTS) for this queue. The number of RTS determines how many jobs the queue can process in parallel; each RTS can process one job at a time. You can't decrease the number of RTS in your reserved queue. You can increase the number of RTS by extending your existing commitment with a new 12-month commitment for the larger number. The new commitment begins when you purchase the additional capacity. You can't cancel your commitment or revert to your original commitment after you increase the capacity.
              status:
                description: 'Queues can be ACTIVE or PAUSED. If you pause a queue, jobs in that queue won''t begin. Jobs that are running when you pause a queue continue to run until they finish or result in an error.'
                type: string
                enum:
                  - ACTIVE
                  - PAUSED
              tags:
                description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListQueues
      description: 'Retrieve a JSON array of up to twenty of your queues. This will return the queues themselves, not just a list of them. To retrieve the next twenty queues, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQueuesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: listBy
          in: query
          required: false
          description: 'Optional. When you request a list of queues, you can choose to list them alphabetically by NAME or chronologically by CREATION_DATE. If you don''t specify, the service will list them by creation date.'
          type: string
          enum:
            - NAME
            - CREATION_DATE
        - name: maxResults
          in: query
          required: false
          description: 'Optional. Number of queues, up to twenty, that will be returned at one time.'
          type: integer
          minimum: 1
          maximum: 20
        - name: nextToken
          in: query
          required: false
          description: 'Use this string, provided with the response to a previous request, to request the next batch of queues.'
          type: string
        - name: order
          in: query
          required: false
          description: 'When you request lists of resources, you can optionally specify whether they are sorted in ASCENDING or DESCENDING order. Default varies by resource.'
          type: string
          enum:
            - ASCENDING
            - DESCENDING
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/2017-08-29/jobTemplates/{name}':
    delete:
      operationId: DeleteJobTemplate
      description: Permanently delete a job template you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the job template to be deleted.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJobTemplate
      description: Retrieve the JSON for a specific job template.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the job template.
          type: string
    put:
      operationId: UpdateJobTemplate
      description: Modify one of your existing job templates.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the job template you are modifying
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - accelerationSettings
            properties:
              accelerationSettings:
                description: 'Accelerated transcoding can significantly speed up jobs with long, visually complex content. Outputs that use this feature incur pro-tier pricing. For information about feature limitations, see the AWS Elemental MediaConvert User Guide.'
                type: object
                properties:
                  Mode:
                    $ref: '#/definitions/AccelerationMode'
                    description: Specify the conditions when the service will run your job with accelerated transcoding.
              category:
                description: 'The new category for the job template, if you are changing it.'
                type: string
              description:
                description: 'The new description for the job template, if you are changing it.'
                type: string
              priority:
                description: 'Specify the relative priority for this job. In any given queue, the service begins processing the job with the highest value first. When more than one job has the same priority, the service begins processing the job that you submitted first. If you don''t specify a priority, the service uses the default value 0.'
                type: integer
                minimum: -50
                maximum: 50
              queue:
                description: 'The new queue for the job template, if you are changing it.'
                type: string
              settings:
                description: JobTemplateSettings contains all the transcode settings saved in the template that will be applied to jobs created from it.
                type: object
                properties:
                  AdAvailOffset:
                    $ref: '#/definitions/__integerMinNegative1000Max1000'
                    description: 'When specified, this offset (in milliseconds) is added to the input Ad Avail PTS time.'
                  AvailBlanking:
                    $ref: '#/definitions/AvailBlanking'
                    description: 'Settings for ad avail blanking.  Video can be blanked or overlaid with an image, and audio muted during SCTE-35 triggered ad avails.'
                  Esam:
                    $ref: '#/definitions/EsamSettings'
                    description: Settings for Event Signaling And Messaging (ESAM).
                  Inputs:
                    $ref: '#/definitions/__listOfInputTemplate'
                    description: 'Use Inputs (inputs) to define the source file used in the transcode job. There can only be one input in a job template.  Using the API, you can include multiple inputs when referencing a job template.'
                  MotionImageInserter:
                    $ref: '#/definitions/MotionImageInserter'
                    description: Overlay motion graphics on top of your video. The motion graphics that you specify here appear on all outputs in all output groups.
                  NielsenConfiguration:
                    $ref: '#/definitions/NielsenConfiguration'
                    description: 'Settings for your Nielsen configuration. If you don''t do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don''t include any children of nielsenConfiguration, you still enable the setting.'
                  OutputGroups:
                    $ref: '#/definitions/__listOfOutputGroup'
                    description: '(OutputGroups) contains one group of settings for each set of outputs that share a common package type. All unpackaged files (MPEG-4, MPEG-2 TS, Quicktime, MXF, and no container) are grouped in a single output group as well. Required in (OutputGroups) is a group of settings that apply to the whole group. This required object depends on the value you set for (Type) under (OutputGroups)>(OutputGroupSettings). Type, settings object pairs are as follows. * FILE_GROUP_SETTINGS, FileGroupSettings * HLS_GROUP_SETTINGS, HlsGroupSettings * DASH_ISO_GROUP_SETTINGS, DashIsoGroupSettings * MS_SMOOTH_GROUP_SETTINGS, MsSmoothGroupSettings * CMAF_GROUP_SETTINGS, CmafGroupSettings'
                  TimecodeConfig:
                    $ref: '#/definitions/TimecodeConfig'
                    description: Contains settings used to acquire and adjust timecode information from inputs.
                  TimedMetadataInsertion:
                    $ref: '#/definitions/TimedMetadataInsertion'
                    description: 'Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in your job. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.'
              statusUpdateInterval:
                description: 'Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.'
                type: string
                enum:
                  - SECONDS_10
                  - SECONDS_12
                  - SECONDS_15
                  - SECONDS_20
                  - SECONDS_30
                  - SECONDS_60
                  - SECONDS_120
                  - SECONDS_180
                  - SECONDS_240
                  - SECONDS_300
                  - SECONDS_360
                  - SECONDS_420
                  - SECONDS_480
                  - SECONDS_540
                  - SECONDS_600
  '/2017-08-29/presets/{name}':
    delete:
      operationId: DeletePreset
      description: Permanently delete a preset you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeletePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the preset to be deleted.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetPreset
      description: Retrieve the JSON for a specific preset.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the preset.
          type: string
    put:
      operationId: UpdatePreset
      description: Modify one of your existing presets.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the preset you are modifying.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              category:
                description: 'The new category for the preset, if you are changing it.'
                type: string
              description:
                description: 'The new description for the preset, if you are changing it.'
                type: string
              settings:
                description: Settings for preset
                type: object
                properties:
                  AudioDescriptions:
                    $ref: '#/definitions/__listOfAudioDescription'
                    description: (AudioDescriptions) contains groups of audio encoding settings organized by audio codec. Include one instance of (AudioDescriptions) per output. (AudioDescriptions) can contain multiple groups of encoding settings.
                  CaptionDescriptions:
                    $ref: '#/definitions/__listOfCaptionDescriptionPreset'
                    description: Caption settings for this preset. There can be multiple caption settings in a single output.
                  ContainerSettings:
                    $ref: '#/definitions/ContainerSettings'
                    description: Container specific settings.
                  VideoDescription:
                    $ref: '#/definitions/VideoDescription'
                    description: (VideoDescription) contains a group of video encoding settings. The specific video settings depend on the video codec that you choose when you specify a value for Video codec (codec). Include one instance of (VideoDescription) per output.
  '/2017-08-29/queues/{name}':
    delete:
      operationId: DeleteQueue
      description: Permanently delete a queue you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the queue that you want to delete.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetQueue
      description: Retrieve the JSON for a specific queue.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the queue that you want information about.
          type: string
    put:
      operationId: UpdateQueue
      description: Modify one of your existing queues.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: name
          in: path
          required: true
          description: The name of the queue that you are modifying.
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - reservationPlanSettings
            properties:
              description:
                description: 'The new description for the queue, if you are changing it.'
                type: string
              reservationPlanSettings:
                description: Details about the pricing plan for your reserved queue. Required for reserved queues and not applicable to on-demand queues.
                type: object
                properties:
                  Commitment:
                    $ref: '#/definitions/Commitment'
                    description: The length of the term of your reserved queue pricing plan commitment.
                  RenewalType:
                    $ref: '#/definitions/RenewalType'
                    description: 'Specifies whether the term of your reserved queue pricing plan is automatically extended (AUTO_RENEW) or expires (EXPIRE) at the end of the term. When your term is auto renewed, you extend your commitment by 12 months from the auto renew date. You can cancel this commitment.'
                  ReservedSlots:
                    $ref: '#/definitions/__integer'
                    description: Specifies the number of reserved transcode slots (RTS) for this queue. The number of RTS determines how many jobs the queue can process in parallel; each RTS can process one job at a time. You can't decrease the number of RTS in your reserved queue. You can increase the number of RTS by extending your existing commitment with a new 12-month commitment for the larger number. The new commitment begins when you purchase the additional capacity. You can't cancel your commitment or revert to your original commitment after you increase the capacity.
              status:
                description: 'Queues can be ACTIVE or PAUSED. If you pause a queue, jobs in that queue won''t begin. Jobs that are running when you pause a queue continue to run until they finish or result in an error.'
                type: string
                enum:
                  - ACTIVE
                  - PAUSED
  /2017-08-29/endpoints:
    post:
      operationId: DescribeEndpoints
      description: Send an request with an empty body to the regional API endpoint to get your account API endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              maxResults:
                description: 'Optional. Max number of endpoints, up to twenty, that will be returned at one time.'
                type: integer
              mode:
                description: 'Optional field, defaults to DEFAULT. Specify DEFAULT for this operation to return your endpoints if any exist, or to create an endpoint for you and return it if one doesn''t already exist. Specify GET_ONLY to return your endpoints if any exist, or an empty list if none exist.'
                type: string
                enum:
                  - DEFAULT
                  - GET_ONLY
              nextToken:
                description: 'Use this string, provided with the response to a previous request, to request the next batch of endpoints.'
                type: string
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2017-08-29/certificates/{arn}':
    delete:
      operationId: DisassociateCertificate
      description: Removes an association between the Amazon Resource Name (ARN) of an AWS Certificate Manager (ACM) certificate and an AWS Elemental MediaConvert resource.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateCertificateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: arn
          in: path
          required: true
          description: The ARN of the ACM certificate that you want to disassociate from your MediaConvert resource.
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2017-08-29/tags/{arn}':
    get:
      operationId: ListTagsForResource
      description: Retrieve the tags for a MediaConvert resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: arn
          in: path
          required: true
          description: 'The Amazon Resource Name (ARN) of the resource that you want to list tags for. To get the ARN, send a GET request with the resource name.'
          type: string
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UntagResource
      description: 'Remove tags from a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: arn
          in: path
          required: true
          description: 'The Amazon Resource Name (ARN) of the resource that you want to remove tags from. To get the ARN, send a GET request with the resource name.'
          type: string
        - name: body
          in: body
          required: true
          schema:
            type: object
            properties:
              tagKeys:
                description: The keys of the tags that you want to remove from the resource.
                type: array
                items:
                  $ref: '#/definitions/__string'
  /2017-08-29/tags:
    post:
      operationId: TagResource
      description: 'Add tags to a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            type: object
            required:
              - arn
              - tags
            properties:
              arn:
                description: 'The Amazon Resource Name (ARN) of the resource that you want to tag. To get the ARN, send a GET request with the resource name.'
                type: string
              tags:
                description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
                type: object
                additionalProperties:
                  $ref: '#/definitions/__string'
    parameters:
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AssociateCertificateResponse:
    type: object
    properties: {}
  BadRequestException: {}
  InternalServerErrorException: {}
  ForbiddenException: {}
  NotFoundException: {}
  TooManyRequestsException: {}
  ConflictException: {}
  CancelJobResponse:
    type: object
    properties: {}
  CreateJobResponse:
    type: object
    properties:
      Job:
        $ref: '#/definitions/Job'
        description: 'Each job converts an input file into an output file or files. For more information, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
  AccelerationMode:
    type: string
    enum:
      - DISABLED
      - ENABLED
      - PREFERRED
    description: Specify whether the service runs your job with accelerated transcoding. Choose DISABLED if you don't want accelerated transcoding. Choose ENABLED if you want your job to run with accelerated transcoding and to fail if your input files or your job settings aren't compatible with accelerated transcoding. Choose PREFERRED if you want your job to run with accelerated transcoding if the job is compatible with the feature and to run at standard speed if it's not.
  __integerMinNegative1000Max1000:
    type: integer
    minimum: -1000
    maximum: 1000
  AvailBlanking:
    type: object
    properties:
      AvailBlankingImage:
        $ref: '#/definitions/__stringMin14PatternHttpHttpsS3BmpBMPPngPNG'
        description: Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.
    description: Settings for Avail Blanking
  EsamSettings:
    type: object
    properties:
      ManifestConfirmConditionNotification:
        $ref: '#/definitions/EsamManifestConfirmConditionNotification'
        description: Specifies an ESAM ManifestConfirmConditionNotification XML as per OC-SP-ESAM-API-I03-131025. The transcoder uses the manifest conditioning instructions that you provide in the setting MCC XML (mccXml).
      ResponseSignalPreroll:
        $ref: '#/definitions/__integerMin0Max30000'
        description: 'Specifies the stream distance, in milliseconds, between the SCTE 35 messages that the transcoder places and the splice points that they refer to. If the time between the start of the asset and the SCTE-35 message is less than this value, then the transcoder places the SCTE-35 marker at the beginning of the stream.'
      SignalProcessingNotification:
        $ref: '#/definitions/EsamSignalProcessingNotification'
        description: Specifies an ESAM SignalProcessingNotification XML as per OC-SP-ESAM-API-I03-131025. The transcoder uses the signal processing instructions that you provide in the setting SCC XML (sccXml).
    description: 'Settings for Event Signaling And Messaging (ESAM). If you don''t do ad insertion, you can ignore these settings.'
  __listOfInput:
    type: array
    items:
      $ref: '#/definitions/Input'
  MotionImageInserter:
    type: object
    properties:
      Framerate:
        $ref: '#/definitions/MotionImageInsertionFramerate'
        description: 'If your motion graphic asset is a .mov file, keep this setting unspecified. If your motion graphic asset is a series of .png files, specify the frame rate of the overlay in frames per second, as a fraction. For example, specify 24 fps as 24/1. Make sure that the number of images in your series matches the frame rate and your intended overlay duration. For example, if you want a 30-second overlay at 30 fps, you should have 900 .png images. This overlay frame rate doesn''t need to match the frame rate of the underlying video.'
      Input:
        $ref: '#/definitions/__stringMin14Max1285PatternHttpHttpsS3Mov09Png'
        description: 'Specify the .mov file or series of .png files that you want to overlay on your video. For .png files, provide the file name of the first file in the series. Make sure that the names of the .png files end with sequential numbers that specify the order that they are played in. For example, overlay_000.png, overlay_001.png, overlay_002.png, and so on. The sequence must start at zero, and each image file name must have the same number of digits. Pad your initial file names with enough zeros to complete the sequence. For example, if the first image is overlay_0.png, there can be only 10 images in the sequence, with the last image being overlay_9.png. But if the first image is overlay_00.png, there can be 100 images in the sequence.'
      InsertionMode:
        $ref: '#/definitions/MotionImageInsertionMode'
        description: Choose the type of motion graphic asset that you are providing for your overlay. You can choose either a .mov file or a series of .png files.
      Offset:
        $ref: '#/definitions/MotionImageInsertionOffset'
        description: 'Use Offset to specify the placement of your motion graphic overlay on the video frame. Specify in pixels, from the upper-left corner of the frame. If you don''t specify an offset, the service scales your overlay to the full size of the frame. Otherwise, the service inserts the overlay at its native resolution and scales the size up or down with any video scaling.'
      Playback:
        $ref: '#/definitions/MotionImagePlayback'
        description: Specify whether your motion graphic overlay repeats on a loop or plays only once.
      StartTime:
        $ref: '#/definitions/__stringMin11Max11Pattern01D20305D205D'
        description: 'Specify when the motion overlay begins. Use timecode format (HH:MM:SS:FF or HH:MM:SS;FF). Make sure that the timecode you provide here takes into account how you have set up your timecode configuration under both job settings and input settings. The simplest way to do that is to set both to start at 0. If you need to set up your job to follow timecodes embedded in your source that don''t start at zero, make sure that you specify a start time that is after the first embedded timecode. For more information, see https://docs.aws.amazon.com/mediaconvert/latest/ug/setting-up-timecode.html Find job-wide and input timecode configuration settings in your JSON job settings specification at settings>timecodeConfig>source and settings>inputs>timecodeSource.'
    description: Overlay motion graphics on top of your video at the time that you specify.
  NielsenConfiguration:
    type: object
    properties:
      BreakoutCode:
        $ref: '#/definitions/__integerMin0Max0'
        description: 'Nielsen has discontinued the use of breakout code functionality. If you must include this property, set the value to zero.'
      DistributorId:
        $ref: '#/definitions/__string'
        description: Use Distributor ID (DistributorID) to specify the distributor ID that is assigned to your organization by Neilsen.
    description: 'Settings for your Nielsen configuration. If you don''t do Nielsen measurement and analytics, ignore these settings. When you enable Nielsen configuration (nielsenConfiguration), MediaConvert enables PCM to ID3 tagging for all outputs in the job. To enable Nielsen configuration programmatically, include an instance of nielsenConfiguration in your JSON job specification. Even if you don''t include any children of nielsenConfiguration, you still enable the setting.'
  __listOfOutputGroup:
    type: array
    items:
      $ref: '#/definitions/OutputGroup'
  TimecodeConfig:
    type: object
    properties:
      Anchor:
        $ref: '#/definitions/__stringPattern010920405090509092'
        description: 'If you use an editing platform that relies on an anchor timecode, use Anchor Timecode (Anchor) to specify a timecode that will match the input video frame to the output video frame. Use 24-hour format with frame number, (HH:MM:SS:FF) or (HH:MM:SS;FF). This setting ignores frame rate conversion. System behavior for Anchor Timecode varies depending on your setting for Source (TimecodeSource). * If Source (TimecodeSource) is set to Specified Start (SPECIFIEDSTART), the first input frame is the specified value in Start Timecode (Start). Anchor Timecode (Anchor) and Start Timecode (Start) are used calculate output timecode. * If Source (TimecodeSource) is set to Start at 0 (ZEROBASED)  the  first frame is 00:00:00:00. * If Source (TimecodeSource) is set to Embedded (EMBEDDED), the  first frame is the timecode value on the first input frame of the input.'
      Source:
        $ref: '#/definitions/TimecodeSource'
        description: 'Use Source (TimecodeSource) to set how timecodes are handled within this job. To make sure that your video, audio, captions, and markers are synchronized and that time-based features, such as image inserter, work correctly, choose the Timecode source option that matches your assets. All timecodes are in a 24-hour format with frame number (HH:MM:SS:FF). * Embedded (EMBEDDED) - Use the timecode that is in the input video. If no embedded timecode is in the source, the service will use Start at 0 (ZEROBASED) instead. * Start at 0 (ZEROBASED) - Set the timecode of the initial frame to 00:00:00:00. * Specified Start (SPECIFIEDSTART) - Set the timecode of the initial frame to a value other than zero. You use Start timecode (Start) to provide this value.'
      Start:
        $ref: '#/definitions/__stringPattern010920405090509092'
        description: 'Only use when you set Source (TimecodeSource) to Specified start (SPECIFIEDSTART). Use Start timecode (Start) to specify the timecode for the initial frame. Use 24-hour format with frame number, (HH:MM:SS:FF) or (HH:MM:SS;FF).'
      TimestampOffset:
        $ref: '#/definitions/__stringPattern0940191020191209301'
        description: 'Only applies to outputs that support program-date-time stamp. Use Timestamp offset (TimestampOffset) to overwrite the timecode date without affecting the time and frame number. Provide the new date as a string in the format "yyyy-mm-dd".  To use Time stamp offset, you must also enable Insert program-date-time (InsertProgramDateTime) in the output settings. For example, if the date part of your timecodes is 2002-1-25 and you want to change it to one year later, set Timestamp offset (TimestampOffset) to 2003-1-25.'
    description: These settings control how the service handles timecodes throughout the job. These settings don't affect input clipping.
  TimedMetadataInsertion:
    type: object
    properties:
      Id3Insertions:
        $ref: '#/definitions/__listOfId3Insertion'
        description: Id3Insertions contains the array of Id3Insertion instances.
    description: 'Enable Timed metadata insertion (TimedMetadataInsertion) to include ID3 tags in your job. To include timed metadata, you must enable it here, enable it in each output container, and specify tags and timecodes in ID3 insertion (Id3Insertion) objects.'
  __string:
    type: string
  CreateJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/JobTemplate'
        description: A job template is a pre-made set of encoding instructions that you can use to quickly create a job.
  __listOfInputTemplate:
    type: array
    items:
      $ref: '#/definitions/InputTemplate'
  CreatePresetResponse:
    type: object
    properties:
      Preset:
        $ref: '#/definitions/Preset'
        description: A preset is a collection of preconfigured media conversion settings that you want MediaConvert to apply to the output during the conversion process.
  __listOfAudioDescription:
    type: array
    items:
      $ref: '#/definitions/AudioDescription'
  __listOfCaptionDescriptionPreset:
    type: array
    items:
      $ref: '#/definitions/CaptionDescriptionPreset'
  ContainerSettings:
    type: object
    properties:
      CmfcSettings:
        $ref: '#/definitions/CmfcSettings'
        description: Settings for MP4 segments in CMAF
      Container:
        $ref: '#/definitions/ContainerType'
        description: 'Container for this output. Some containers require a container settings object. If not specified, the default object will be created.'
      F4vSettings:
        $ref: '#/definitions/F4vSettings'
        description: Settings for F4v container
      M2tsSettings:
        $ref: '#/definitions/M2tsSettings'
        description: 'MPEG-2 TS container settings. These apply to outputs in a File output group when the output''s container (ContainerType) is MPEG-2 Transport Stream (M2TS). In these assets, data is organized by the program map table (PMT). Each transport stream program contains subsets of data, including audio, video, and metadata. Each of these subsets of data has a numerical label called a packet identifier (PID). Each transport stream program corresponds to one MediaConvert output. The PMT lists the types of data in a program along with their PID. Downstream systems and players use the program map table to look up the PID for each type of data it accesses and then uses the PIDs to locate specific data within the asset.'
      M3u8Settings:
        $ref: '#/definitions/M3u8Settings'
        description: Settings for TS segments in HLS
      MovSettings:
        $ref: '#/definitions/MovSettings'
        description: Settings for MOV Container.
      Mp4Settings:
        $ref: '#/definitions/Mp4Settings'
        description: Settings for MP4 container. You can create audio-only AAC outputs with this container.
      MpdSettings:
        $ref: '#/definitions/MpdSettings'
        description: Settings for MP4 segments in DASH
    description: Container specific settings.
  VideoDescription:
    type: object
    properties:
      AfdSignaling:
        $ref: '#/definitions/AfdSignaling'
        description: 'This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.'
      AntiAlias:
        $ref: '#/definitions/AntiAlias'
        description: 'The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting.'
      CodecSettings:
        $ref: '#/definitions/VideoCodecSettings'
        description: 'Video codec settings, (CodecSettings) under (VideoDescription), contains the group of settings related to video encoding. The settings in this group vary depending on the value that you choose for Video codec (Codec). For each codec enum that you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * FRAME_CAPTURE, FrameCaptureSettings * H_264, H264Settings * H_265, H265Settings * MPEG2, Mpeg2Settings * PRORES, ProresSettings'
      ColorMetadata:
        $ref: '#/definitions/ColorMetadata'
        description: 'Choose Insert (INSERT) for this setting to include color metadata in this output. Choose Ignore (IGNORE) to exclude color metadata from this output. If you don''t specify a value, the service sets this to Insert by default.'
      Crop:
        $ref: '#/definitions/Rectangle'
        description: Use Cropping selection (crop) to specify the video area that the service will include in the output video frame.
      DropFrameTimecode:
        $ref: '#/definitions/DropFrameTimecode'
        description: 'Applies only to 29.97 fps outputs. When this feature is enabled, the service will use drop-frame timecode on outputs. If it is not possible to use drop-frame timecode, the system will fall back to non-drop-frame. This setting is enabled by default when Timecode insertion (TimecodeInsertion) is enabled.'
      FixedAfd:
        $ref: '#/definitions/__integerMin0Max15'
        description: Applies only if you set AFD Signaling(AfdSignaling) to Fixed (FIXED). Use Fixed (FixedAfd) to specify a four-bit AFD value which the service will write on all  frames of this video output.
      Height:
        $ref: '#/definitions/__integerMin32Max8192'
        description: 'Use the Height (Height) setting to define the video resolution height for this output. Specify in pixels. If you don''t provide a value here, the service will use the input height.'
      Position:
        $ref: '#/definitions/Rectangle'
        description: Use Selection placement (position) to define the video area in your output frame. The area outside of the rectangle that you specify here is black.
      RespondToAfd:
        $ref: '#/definitions/RespondToAfd'
        description: 'Use Respond to AFD (RespondToAfd) to specify how the service changes the video itself in response to AFD values in the input. * Choose Respond to clip the input video frame according to the AFD value, input display aspect ratio, and output display aspect ratio. * Choose Passthrough to include the input AFD values. Do not choose this when AfdSignaling is set to (NONE). A preferred implementation of this workflow is to set RespondToAfd to (NONE) and set AfdSignaling to (AUTO). * Choose None to remove all input AFD values from this output.'
      ScalingBehavior:
        $ref: '#/definitions/ScalingBehavior'
        description: Specify how the service handles outputs that have a different aspect ratio from the input aspect ratio. Choose Stretch to output (STRETCH_TO_OUTPUT) to have the service stretch your video image to fit. Keep the setting Default (DEFAULT) to have the service letterbox your video instead. This setting overrides any value that you specify for the setting Selection placement (position) in this output.
      Sharpness:
        $ref: '#/definitions/__integerMin0Max100'
        description: 'Use Sharpness (Sharpness) setting to specify the strength of anti-aliasing. This setting changes the width of the anti-alias filter kernel used for scaling. Sharpness only applies if your output resolution is different from your input resolution. 0 is the softest setting, 100 the sharpest, and 50 recommended for most content.'
      TimecodeInsertion:
        $ref: '#/definitions/VideoTimecodeInsertion'
        description: 'Applies only to H.264, H.265, MPEG2, and ProRes outputs. Only enable Timecode insertion when the input frame rate is identical to the output frame rate. To include timecodes in this output, set Timecode insertion (VideoTimecodeInsertion) to PIC_TIMING_SEI. To leave them out, set it to DISABLED. Default is DISABLED. When the service inserts timecodes in an output, by default, it uses any embedded timecodes from the input. If none are present, the service will set the timecode for the first output frame to zero. To change this default behavior, adjust the settings under Timecode configuration (TimecodeConfig). In the console, these settings are located under Job > Job settings > Timecode configuration. Note - Timecode source under input settings (InputTimecodeSource) does not affect the timecodes that are inserted in the output. Source under Job settings > Timecode configuration (TimecodeSource) does.'
      VideoPreprocessors:
        $ref: '#/definitions/VideoPreprocessor'
        description: Find additional transcoding features under Preprocessors (VideoPreprocessors). Enable the features at each output individually. These features are disabled by default.
      Width:
        $ref: '#/definitions/__integerMin32Max8192'
        description: 'Use Width (Width) to define the video resolution width, in pixels, for this output. If you don''t provide a value here, the service will use the input width.'
    description: Settings for video outputs
  CreateQueueResponse:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/Queue'
        description: 'You can use queues to manage the resources that are available to your AWS account for running multiple transcoding jobs at the same time. If you don''t specify a queue, the service sends all jobs through the default queue. For more information, see https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html.'
  Commitment:
    type: string
    enum:
      - ONE_YEAR
    description: The length of the term of your reserved queue pricing plan commitment.
  RenewalType:
    type: string
    enum:
      - AUTO_RENEW
      - EXPIRE
    description: Specifies whether the term of your reserved queue pricing plan is automatically extended (AUTO_RENEW) or expires (EXPIRE) at the end of the term.
  __integer:
    type: integer
  DeleteJobTemplateResponse:
    type: object
    properties: {}
  DeletePresetResponse:
    type: object
    properties: {}
  DeleteQueueResponse:
    type: object
    properties: {}
  DescribeEndpointsResponse:
    type: object
    properties:
      Endpoints:
        $ref: '#/definitions/__listOfEndpoint'
        description: List of endpoints
      NextToken:
        $ref: '#/definitions/__string'
        description: Use this string to request the next batch of endpoints.
  DisassociateCertificateResponse:
    type: object
    properties: {}
  GetJobResponse:
    type: object
    properties:
      Job:
        $ref: '#/definitions/Job'
        description: 'Each job converts an input file into an output file or files. For more information, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
  GetJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/JobTemplate'
        description: A job template is a pre-made set of encoding instructions that you can use to quickly create a job.
  GetPresetResponse:
    type: object
    properties:
      Preset:
[...]
