swagger: '2.0'
info:
  version: '2017-08-29'
  x-release: v4
  title: AWS Elemental MediaConvert
  description: AWS Elemental MediaConvert
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: mediaconvert
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediaconvert-2017-08-29.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/mediaconvert/'
host: mediaconvert.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  '/2017-08-29/jobs/{id}':
    delete:
      operationId: CancelJob
      description: 'Permanently remove a job from a queue. Once you have canceled a job, you can''t start it again. You can''t delete a running job.'
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/CancelJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelJobRequest'
        - name: id
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJob
      description: Retrieve the JSON for a specific completed transcoding job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetJobRequest'
        - name: id
          type: string
          in: path
          required: true
  /2017-08-29/jobs:
    post:
      operationId: CreateJob
      description: 'Create a new transcoding job. For information about jobs and job settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListJobs
      description: 'Retrieve a JSON array of up to twenty of your most recently created jobs. This array includes in-process, completed, and errored jobs. This will return the jobs themselves, not just a list of the jobs. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListJobsRequest'
  /2017-08-29/jobTemplates:
    post:
      operationId: CreateJobTemplate
      description: 'Create a new job template. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateJobTemplateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListJobTemplates
      description: 'Retrieve a JSON array of up to twenty of your job templates. This will return the templates themselves, not just a list of them. To retrieve the next twenty templates, use the nextToken string returned with the array'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobTemplatesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListJobTemplatesRequest'
  /2017-08-29/presets:
    post:
      operationId: CreatePreset
      description: 'Create a new preset. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePresetRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListPresets
      description: 'Retrieve a JSON array of up to twenty of your presets. This will return the presets themselves, not just a list of them. To retrieve the next twenty presets, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPresetsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListPresetsRequest'
  /2017-08-29/queues:
    post:
      operationId: CreateQueue
      description: 'Create a new transcoding queue. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateQueueRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListQueues
      description: 'Retrieve a JSON array of up to twenty of your queues. This will return the queues themselves, not just a list of them. To retrieve the next twenty queues, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQueuesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListQueuesRequest'
  '/2017-08-29/jobTemplates/{name}':
    delete:
      operationId: DeleteJobTemplate
      description: Permanently delete a job template you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteJobTemplateRequest'
        - name: name
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJobTemplate
      description: Retrieve the JSON for a specific job template.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetJobTemplateRequest'
        - name: name
          type: string
          in: path
          required: true
    put:
      operationId: UpdateJobTemplate
      description: Modify one of your existing job templates.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateJobTemplateRequest'
        - name: name
          type: string
          in: path
          required: true
  '/2017-08-29/presets/{name}':
    delete:
      operationId: DeletePreset
      description: Permanently delete a preset you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeletePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePresetRequest'
        - name: name
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetPreset
      description: Retrieve the JSON for a specific preset.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetPresetRequest'
        - name: name
          type: string
          in: path
          required: true
    put:
      operationId: UpdatePreset
      description: Modify one of your existing presets.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdatePresetRequest'
        - name: name
          type: string
          in: path
          required: true
  '/2017-08-29/queues/{name}':
    delete:
      operationId: DeleteQueue
      description: Permanently delete a queue you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteQueueRequest'
        - name: name
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetQueue
      description: Retrieve the JSON for a specific queue.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetQueueRequest'
        - name: name
          type: string
          in: path
          required: true
    put:
      operationId: UpdateQueue
      description: Modify one of your existing queues.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateQueueRequest'
        - name: name
          type: string
          in: path
          required: true
  /2017-08-29/endpoints:
    post:
      operationId: DescribeEndpoints
      description: Send an request with an empty body to the regional API endpoint to get your account API endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointsRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AacAudioDescriptionBroadcasterMix:
    type: string
    enum:
      - BROADCASTER_MIXED_AD
      - NORMAL
    description: 'Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains "broadcaster mixed AD". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.'
  AacCodecProfile:
    type: string
    enum:
      - LC
      - HEV1
      - HEV2
    description: AAC Profile.
  AacCodingMode:
    type: string
    enum:
      - AD_RECEIVER_MIX
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_5_1
    description: 'Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. "1.0 - Audio Description (Receiver Mix)" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.'
  AacRateControlMode:
    type: string
    enum:
      - CBR
      - VBR
    description: Rate Control Mode.
  AacRawFormat:
    type: string
    enum:
      - LATM_LOAS
      - NONE
    description: 'Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose "No container" for the output container.'
  AacSettings:
    type: object
    properties:
      AudioDescriptionBroadcasterMix:
        $ref: '#/definitions/AacAudioDescriptionBroadcasterMix'
      Bitrate:
        $ref: '#/definitions/__integer'
        description: Average bitrate in bits/second. Valid values depend on rate control mode and profile.
      CodecProfile:
        $ref: '#/definitions/AacCodecProfile'
      CodingMode:
        $ref: '#/definitions/AacCodingMode'
      RateControlMode:
        $ref: '#/definitions/AacRateControlMode'
      RawFormat:
        $ref: '#/definitions/AacRawFormat'
      SampleRate:
        $ref: '#/definitions/__integer'
        description: Sample rate in Hz. Valid values depend on rate control mode and profile.
      Specification:
        $ref: '#/definitions/AacSpecification'
      VbrQuality:
        $ref: '#/definitions/AacVbrQuality'
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC.
  AacSpecification:
    type: string
    enum:
      - MPEG2
      - MPEG4
    description: Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.
  AacVbrQuality:
    type: string
    enum:
      - LOW
      - MEDIUM_LOW
      - MEDIUM_HIGH
      - HIGH
    description: VBR Quality Level - Only used if rate_control_mode is VBR.
  Ac3BitstreamMode:
    type: string
    enum:
      - COMPLETE_MAIN
      - COMMENTARY
      - DIALOGUE
      - EMERGENCY
      - HEARING_IMPAIRED
      - MUSIC_AND_EFFECTS
      - VISUALLY_IMPAIRED
      - VOICE_OVER
    description: Specifies the "Bitstream Mode" (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.
  Ac3CodingMode:
    type: string
    enum:
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_3_2_LFE
    description: Dolby Digital coding mode. Determines number of channels.
  Ac3DynamicRangeCompressionProfile:
    type: string
    enum:
      - FILM_STANDARD
      - NONE
    description: 'If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.'
  Ac3LfeFilter:
    type: string
    enum:
      - ENABLED
      - DISABLED
    description: Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.
  Ac3MetadataControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: 'When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
  Ac3Settings:
    type: object
    properties:
      Bitrate:
        $ref: '#/definitions/__integer'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Ac3BitstreamMode'
      CodingMode:
        $ref: '#/definitions/Ac3CodingMode'
      Dialnorm:
        $ref: '#/definitions/__integer'
        description: 'Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.'
      DynamicRangeCompressionProfile:
        $ref: '#/definitions/Ac3DynamicRangeCompressionProfile'
      LfeFilter:
        $ref: '#/definitions/Ac3LfeFilter'
      MetadataControl:
        $ref: '#/definitions/Ac3MetadataControl'
      SampleRate:
        $ref: '#/definitions/__integer'
        description: Sample rate in hz. Sample rate is always 48000.
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.
  AfdSignaling:
    type: string
    enum:
      - NONE
      - AUTO
      - FIXED
    description: This setting only applies to H.264 and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to whether there are AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.
  AiffSettings:
    type: object
    properties:
      BitDepth:
        $ref: '#/definitions/__integer'
        description: 'Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.'
      Channels:
        $ref: '#/definitions/__integer'
        description: 'Set Channels to specify the number of channels in this output audio track. Choosing Mono in the console will give you 1 output channel; choosing Stereo will give you 2. In the API, valid values are 1 and 2.'
      SampleRate:
        $ref: '#/definitions/__integer'
        description: Sample rate in hz.
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.
  AncillarySourceSettings:
    type: object
    properties:
      SourceAncillaryChannelNumber:
        $ref: '#/definitions/__integer'
        description: Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.
    description: Settings for ancillary captions source.
  AntiAlias:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Enable Anti-alias (AntiAlias) to enhance sharp edges in video output when your input resolution is much larger than your output resolution. Default is enabled.
  AudioCodec:
    type: string
    enum:
      - AAC
      - MP2
      - WAV
      - AIFF
      - AC3
      - EAC3
      - PASSTHROUGH
    description: Type of Audio codec.
  AudioCodecSettings:
    type: object
    properties:
      AacSettings:
        $ref: '#/definitions/AacSettings'
      Ac3Settings:
        $ref: '#/definitions/Ac3Settings'
      AiffSettings:
        $ref: '#/definitions/AiffSettings'
      Codec:
        $ref: '#/definitions/AudioCodec'
      Eac3Settings:
        $ref: '#/definitions/Eac3Settings'
      Mp2Settings:
        $ref: '#/definitions/Mp2Settings'
      WavSettings:
        $ref: '#/definitions/WavSettings'
    description: 'Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value you choose for Audio codec (Codec). For each codec enum you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings'
  AudioDefaultSelection:
    type: string
    enum:
      - DEFAULT
      - NOT_DEFAULT
    description: 'When an "Audio Description":#audio_description specifies an AudioSelector or AudioSelectorGroup  for which no matching source is found in the input, then the audio selector marked as DEFAULT will be used.  If none are marked as default, silence will be inserted for the duration of the input.'
  AudioDescription:
    type: object
    properties:
      AudioNormalizationSettings:
        $ref: '#/definitions/AudioNormalizationSettings'
        description: Settings for Audio Normalization
      AudioSourceName:
        $ref: '#/definitions/__string'
        description: 'Specifies which audio data to use from each input. In the simplest case, specify an "Audio Selector":#inputs-audio_selector by name based on its order within each input. For example if you specify "Audio Selector 3", then the third audio selector will be used from each input. If an input does not have an "Audio Selector 3", then the audio selector marked as "default" in that input will be used. If there is no audio selector marked as "default", silence will be inserted for the duration of that input. Alternatively, an "Audio Selector Group":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then "Audio Selector 1" will be chosen automatically.'
      AudioType:
        $ref: '#/definitions/__integer'
        description: 'Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.'
      AudioTypeControl:
        $ref: '#/definitions/AudioTypeControl'
      CodecSettings:
        $ref: '#/definitions/AudioCodecSettings'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.
      LanguageCodeControl:
        $ref: '#/definitions/AudioLanguageCodeControl'
      RemixSettings:
        $ref: '#/definitions/RemixSettings'
        description: Advanced audio remixing settings.
      StreamName:
        $ref: '#/definitions/__string'
        description: 'Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary). Alphanumeric characters, spaces, and underscore are legal.'
    description: Description of audio output
  AudioLanguageCodeControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: Choosing FOLLOW_INPUT will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The language specified for languageCode' will be used when USE_CONFIGURED is selected or when FOLLOW_INPUT is selected but there is no ISO 639 language code specified by the input.
  AudioNormalizationAlgorithm:
    type: string
    enum:
      - ITU_BS_1770_1
      - ITU_BS_1770_2
    description: 'Audio normalization algorithm to use. 1770-1 conforms to the CALM Act specification, 1770-2 conforms to the EBU R-128 specification.'
  AudioNormalizationAlgorithmControl:
    type: string
    enum:
      - CORRECT_AUDIO
      - MEASURE_ONLY
    description: 'When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.'
  AudioNormalizationLoudnessLogging:
    type: string
    enum:
      - LOG
      - DONT_LOG
    description: 'If set to LOG, log each output''s audio track loudness to a CSV file.'
  AudioNormalizationPeakCalculation:
    type: string
    enum:
      - TRUE_PEAK
      - NONE
    description: 'If set to TRUE_PEAK, calculate and log the TruePeak for each output''s audio track loudness.'
  AudioNormalizationSettings:
    type: object
    properties:
      Algorithm:
        $ref: '#/definitions/AudioNormalizationAlgorithm'
      AlgorithmControl:
        $ref: '#/definitions/AudioNormalizationAlgorithmControl'
      CorrectionGateLevel:
        $ref: '#/definitions/__integer'
        description: Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected. Gating only applies when not using real_time_correction.
      LoudnessLogging:
        $ref: '#/definitions/AudioNormalizationLoudnessLogging'
      PeakCalculation:
        $ref: '#/definitions/AudioNormalizationPeakCalculation'
      TargetLkfs:
        $ref: '#/definitions/__double'
        description: 'Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm. The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.'
    description: Advanced audio normalization settings.
  AudioSelector:
    type: object
    properties:
      DefaultSelection:
        $ref: '#/definitions/AudioDefaultSelection'
      ExternalAudioFileInput:
        $ref: '#/definitions/__string'
        description: Specifies audio data from an external file source. Auto populated when Infer External Filename is checked
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: Selects a specific language code from within an audio source.
      Offset:
        $ref: '#/definitions/__integer'
        description: Specifies a time delta in milliseconds to offset the audio from the input video.
      Pids:
        $ref: '#/definitions/ListOf__integer'
        description: Selects a specific PID from within an audio source (e.g. 257 selects PID 0x101).
      ProgramSelection:
        $ref: '#/definitions/__integer'
        description: 'Applies only when input streams contain Dolby E. Enter the program ID (according to the metadata in the audio) of the Dolby E program to extract from the specified track. One program extracted per audio selector. To select multiple programs, create multiple selectors with the same Track and different Program numbers. "All channels" means to ignore the program IDs and include all the channels in this selector; useful if metadata is known to be incorrect.'
      RemixSettings:
        $ref: '#/definitions/RemixSettings'
        description: Advanced audio remixing settings.
      SelectorType:
        $ref: '#/definitions/AudioSelectorType'
      Tracks:
        $ref: '#/definitions/ListOf__integer'
        description: 'Identify the channel to include in this selector by entering the 1-based track index.  To combine several tracks, enter a comma-separated list, e.g. "1,2,3" for tracks 1-3.'
    description: Selector for Audio
  AudioSelectorGroup:
    type: object
    properties:
      AudioSelectorNames:
        $ref: '#/definitions/ListOf__string'
        description: 'Name of an "Audio Selector":#inputs-audio_selector within the same input to include in the group.  Audio selector names are standardized, based on their order within the input (e.g. "Audio Selector 1").  The audio_selector_name parameter can be repeated to add any number of audio selectors to the group.'
    description: Group of Audio Selectors
  AudioSelectorType:
    type: string
    enum:
      - PID
      - TRACK
      - LANGUAGE_CODE
    description: Specifies the type of the audio selector.
  AudioTypeControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: 'When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.'
  AvailBlanking:
    type: object
    properties:
      AvailBlankingImage:
        $ref: '#/definitions/__string'
        description: Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.
    description: Settings for Avail Blanking
  BadRequestException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
    description: The service can't process your request because of a problem in the request. Please check your request form and syntax.
  BurninDestinationSettings:
    type: object
    properties:
      Alignment:
        $ref: '#/definitions/BurninSubtitleAlignment'
      BackgroundColor:
        $ref: '#/definitions/BurninSubtitleBackgroundColor'
      BackgroundOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.
      FontColor:
        $ref: '#/definitions/BurninSubtitleFontColor'
      FontOpacity:
        $ref: '#/definitions/__integer'
        description: |-
          Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.
          All burn-in and DVB-Sub font settings must match.
      FontResolution:
        $ref: '#/definitions/__integer'
        description: |-
          Font resolution in DPI (dots per inch); default is 96 dpi.
          All burn-in and DVB-Sub font settings must match.
      FontSize:
        $ref: '#/definitions/__integer'
        description: A positive integer indicates the exact font size in points. Set to 0 for automatic font size selection. All burn-in and DVB-Sub font settings must match.
      OutlineColor:
        $ref: '#/definitions/BurninSubtitleOutlineColor'
      OutlineSize:
        $ref: '#/definitions/__integer'
        description: Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
      ShadowColor:
        $ref: '#/definitions/BurninSubtitleShadowColor'
      ShadowOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.
      ShadowXOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left. All burn-in and DVB-Sub font settings must match.
      ShadowYOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text. All burn-in and DVB-Sub font settings must match.
      TeletextSpacing:
        $ref: '#/definitions/BurninSubtitleTeletextSpacing'
      XPosition:
        $ref: '#/definitions/__integer'
        description: 'Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit x_position is provided, the horizontal caption position will be determined by the alignment parameter. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
      YPosition:
        $ref: '#/definitions/__integer'
        description: 'Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit y_position is provided, the caption will be positioned towards the bottom of the output. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
    description: Burn-In Destination Settings.
  BurninSubtitleAlignment:
    type: string
    enum:
      - CENTERED
      - LEFT
    description: 'If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
  BurninSubtitleBackgroundColor:
    type: string
    enum:
      - NONE
      - BLACK
      - WHITE
    description: |-
      Specifies the color of the rectangle behind the captions.
      All burn-in and DVB-Sub font settings must match.
  BurninSubtitleFontColor:
    type: string
    enum:
      - WHITE
      - BLACK
      - YELLOW
      - RED
      - GREEN
      - BLUE
    description: 'Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
  BurninSubtitleOutlineColor:
    type: string
    enum:
      - BLACK
      - WHITE
      - YELLOW
      - RED
      - GREEN
      - BLUE
    description: Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
  BurninSubtitleShadowColor:
    type: string
    enum:
      - NONE
      - BLACK
      - WHITE
    description: |-
      Specifies the color of the shadow cast by the captions.
      All burn-in and DVB-Sub font settings must match.
  BurninSubtitleTeletextSpacing:
    type: string
    enum:
      - FIXED_GRID
      - PROPORTIONAL
    description: Controls whether a fixed grid size or proportional font spacing will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs.
  CancelJobRequest:
    type: object
    properties: {}
  CancelJobResponse:
    type: object
    properties: {}
  CaptionDescription:
    type: object
    properties:
      CaptionSelectorName:
        $ref: '#/definitions/__string'
        description: 'Specifies which "Caption Selector":#inputs-caption_selector to use from each input when generating captions. The name should be of the format "Caption Selector <N>", which denotes that the Nth Caption Selector will be used from each input.'
      DestinationSettings:
        $ref: '#/definitions/CaptionDestinationSettings'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: Indicates the language of the caption output track.
      LanguageDescription:
        $ref: '#/definitions/__string'
        description: 'Human readable information to indicate captions available for players (eg. English, or Spanish). Alphanumeric characters, spaces, and underscore are legal.'
    description: Description of Caption output
  CaptionDescriptionPreset:
    type: object
    properties:
      DestinationSettings:
        $ref: '#/definitions/CaptionDestinationSettings'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: Indicates the language of the caption output track.
      LanguageDescription:
        $ref: '#/definitions/__string'
        description: 'Human readable information to indicate captions available for players (eg. English, or Spanish). Alphanumeric characters, spaces, and underscore are legal.'
    description: Caption Description for preset
  CaptionDestinationSettings:
    type: object
    properties:
      BurninDestinationSettings:
        $ref: '#/definitions/BurninDestinationSettings'
      DestinationType:
        $ref: '#/definitions/CaptionDestinationType'
        description: 'Type of Caption output, including Burn-In, Embedded, SCC, SRT, TTML, WebVTT, DVB-Sub, Teletext.'
      DvbSubDestinationSettings:
        $ref: '#/definitions/DvbSubDestinationSettings'
      SccDestinationSettings:
        $ref: '#/definitions/SccDestinationSettings'
      TeletextDestinationSettings:
        $ref: '#/definitions/TeletextDestinationSettings'
      TtmlDestinationSettings:
        $ref: '#/definitions/TtmlDestinationSettings'
        description: 'Settings specific to TTML caption outputs, including Pass style information (TtmlStylePassthrough).'
    description: Specific settings required by destination type. Note that burnin_destination_settings are not available if the source of the caption data is Embedded or Teletext.
  CaptionDestinationType:
    type: string
    enum:
      - BURN_IN
      - DVB_SUB
      - EMBEDDED
      - SCC
      - SRT
      - TELETEXT
      - TTML
      - WEBVTT
  CaptionSelector:
    type: object
    properties:
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: 'The specific language to extract from source. If input is SCTE-27, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub and output is Burn-in or SMPTE-TT, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub that is being passed through, omit this field (and PID field); there is no way to extract a specific language with pass-through captions.'
      SourceSettings:
        $ref: '#/definitions/CaptionSourceSettings'
    description: Caption inputs to be mapped to caption outputs.
  CaptionSourceSettings:
    type: object
    properties:
      AncillarySourceSettings:
        $ref: '#/definitions/AncillarySourceSettings'
      DvbSubSourceSettings:
        $ref: '#/definitions/DvbSubSourceSettings'
      EmbeddedSourceSettings:
        $ref: '#/definitions/EmbeddedSourceSettings'
      FileSourceSettings:
        $ref: '#/definitions/FileSourceSettings'
      SourceType:
        $ref: '#/definitions/CaptionSourceType'
      TeletextSourceSettings:
        $ref: '#/definitions/TeletextSourceSettings'
    description: Source settings (SourceSettings) contains the group of settings for captions in the input.
  CaptionSourceType:
    type: string
    enum:
      - ANCILLARY
      - DVB_SUB
      - EMBEDDED
      - SCC
      - TTML
      - STL
      - SRT
      - TELETEXT
      - NULL_SOURCE
    description: Use Source (SourceType) to identify the format of your input captions.  The service cannot auto-detect caption format.
  ChannelMapping:
    type: object
    properties:
      OutputChannels:
        $ref: '#/definitions/ListOfOutputChannelMapping'
        description: List of output channels
    description: Channel mapping (ChannelMapping) contains the group of fields that hold the remixing value for each channel. Units are in dB. Acceptable values are within the range from -60 (mute) through 6. A setting of 0 passes the input channel unchanged to the output channel (no attenuation or amplification).
  ColorCorrector:
    type: object
    properties:
      Brightness:
        $ref: '#/definitions/__integer'
        description: Brightness level.
      ColorSpaceConversion:
        $ref: '#/definitions/ColorSpaceConversion'
      Contrast:
        $ref: '#/definitions/__integer'
        description: Contrast level.
      Hdr10Metadata:
        $ref: '#/definitions/Hdr10Metadata'
      Hue:
        $ref: '#/definitions/__integer'
        description: Hue in degrees.
      Saturation:
        $ref: '#/definitions/__integer'
        description: Saturation level.
    description: Settings for color correction.
  ColorMetadata:
    type: string
    enum:
      - IGNORE
      - INSERT
    description: Enable Insert color metadata (ColorMetadata) to include color metadata in this output. This setting is enabled by default.
  ColorSpace:
    type: string
    enum:
      - FOLLOW
      - REC_601
      - REC_709
      - HDR10
      - HLG_2020
    description: 'Specifies the colorspace of an input. This setting works in tandem with "Color Corrector":#color_corrector > color_space_conversion to determine if any conversion will be performed.'
  ColorSpaceConversion:
    type: string
    enum:
      - NONE
      - FORCE_601
      - FORCE_709
      - FORCE_HDR10
      - FORCE_HLG_2020
    description: 'Determines if colorspace conversion will be performed. If set to _None_, no conversion will be performed. If _Force 601_ or _Force 709_ are selected, conversion will be performed for inputs with differing colorspaces. An input''s colorspace can be specified explicitly in the "Video Selector":#inputs-video_selector if necessary.'
  ColorSpaceUsage:
    type: string
    enum:
      - FORCE
      - FALLBACK
    description: 'There are two sources for color metadata, the input file and the job configuration. This enum controls which takes precedence. FORCE: System will use color metadata supplied by user, if any. If the user does not supply color metadata the system will use data from the source. FALLBACK: System will use color metadata from the source. If source has no color metadata, the system will use user-supplied color metadata values if available.'
  ConflictException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
    description: The service could not complete your request because there is a conflict with the current state of the resource.
  ContainerSettings:
    type: object
    properties:
      Container:
        $ref: '#/definitions/ContainerType'
      F4vSettings:
        $ref: '#/definitions/F4vSettings'
      M2tsSettings:
        $ref: '#/definitions/M2tsSettings'
      M3u8Settings:
        $ref: '#/definitions/M3u8Settings'
      MovSettings:
        $ref: '#/definitions/MovSettings'
      Mp4Settings:
        $ref: '#/definitions/Mp4Settings'
    description: Container specific settings.
  ContainerType:
    type: string
    enum:
      - F4V
      - ISMV
      - M2TS
      - M3U8
      - MOV
      - MP4
      - MPD
      - MXF
      - RAW
    description: 'Container for this output. Some containers require a container settings object. If not specified, the default object will be created.'
  CreateJobRequest:
    type: object
    properties:
      ClientRequestToken:
        $ref: '#/definitions/__string'
        description: Idempotency token for CreateJob operation.
      JobTemplate:
        $ref: '#/definitions/__string'
        description: 'When you create a job, you can either specify a job template or specify the transcoding settings individually'
      Queue:
        $ref: '#/definitions/__string'
        description: 'Optional. When you create a job, you can specify a queue to send it to. If you don''t specify, the job will go to the default queue. For more about queues, see the User Guide topic at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html.'
      Role:
        $ref: '#/definitions/__string'
        description: 'Required. The IAM role you use for creating this job. For details about permissions, see the User Guide topic at the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/iam-role.html.'
      Settings:
        $ref: '#/definitions/JobSettings'
      UserMetadata:
        $ref: '#/definitions/MapOf__string'
        description: User-defined metadata that you want to associate with an MediaConvert job. You specify metadata in key/value pairs.
  CreateJobResponse:
    type: object
    properties:
      Job:
        $ref: '#/definitions/Job'
  CreateJobTemplateRequest:
    type: object
    properties:
      Category:
        $ref: '#/definitions/__string'
        description: Optional. A category for the job template you are creating
      Description:
        $ref: '#/definitions/__string'
        description: Optional. A description of the job template you are creating.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the job template you are creating.
      Queue:
        $ref: '#/definitions/__string'
        description: 'Optional. The queue that jobs created from this template are assigned to. If you don''t specify this, jobs will go to the default queue.'
      Settings:
        $ref: '#/definitions/JobTemplateSettings'
  CreateJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/JobTemplate'
  CreatePresetRequest:
    type: object
    properties:
      Category:
        $ref: '#/definitions/__string'
        description: Optional. A category for the preset you are creating.
      Description:
        $ref: '#/definitions/__string'
        description: Optional. A description of the preset you are creating.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the preset you are creating.
      Settings:
        $ref: '#/definitions/PresetSettings'
  CreatePresetResponse:
    type: object
    properties:
      Preset:
        $ref: '#/definitions/Preset'
  CreateQueueRequest:
    type: object
    properties:
      Description:
        $ref: '#/definitions/__string'
        description: Optional. A description of the queue you are creating.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the queue you are creating.
  CreateQueueResponse:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/Queue'
  DashIsoEncryptionSettings:
    type: object
    properties:
      SpekeKeyProvider:
        $ref: '#/definitions/SpekeKeyProvider'
    description: Specifies DRM settings for DASH outputs.
  DashIsoGroupSettings:
    type: object
    properties:
      BaseUrl:
        $ref: '#/definitions/__string'
        description: A partial URI prefix that will be put in the manifest (.mpd) file at the top level BaseURL element. Can be used if streams are delivered from a different URL than the manifest file.
      Destination:
        $ref: '#/definitions/__string'
        description: 'Use Destination (Destination) to specify the S3 output location and the output filename base. Destination accepts format identifiers. If you do not specify the base filename in the URI, the service will use the filename of the input file. If your job has multiple inputs, the service uses the filename of the first input file.'
      Encryption:
        $ref: '#/definitions/DashIsoEncryptionSettings'
        description: DRM settings.
      FragmentLength:
        $ref: '#/definitions/__integer'
        description: 'Length of fragments to generate (in seconds). Fragment length must be compatible with GOP size and Framerate. Note that fragments will end on the next keyframe after this number of seconds, so actual fragment length may be longer. When Emit Single File is checked, the fragmentation is internal to a single output file and it does not cause the creation of many output files as in other output types.'
      HbbtvCompliance:
        $ref: '#/definitions/DashIsoHbbtvCompliance'
      MinBufferTime:
        $ref: '#/definitions/__integer'
        description: Minimum time of initially buffered media that is needed to ensure smooth playout.
      SegmentControl:
        $ref: '#/definitions/DashIsoSegmentControl'
      SegmentLength:
        $ref: '#/definitions/__integer'
        description: 'Length of mpd segments to create (in seconds). Note that segments will end on the next keyframe after this number of seconds, so actual segment length may be longer. When Emit Single File is checked, the segmentation is internal to a single output file and it does not cause the creation of many output files as in other output types.'
    description: Required when you set (Type) under (OutputGroups)>(OutputGroupSettings) to DASH_ISO_GROUP_SETTINGS.
  DashIsoHbbtvCompliance:
    type: string
    enum:
      - HBBTV_1_5
      - NONE
    description: Supports HbbTV specification as indicated
  DashIsoSegmentControl:
    type: string
    enum:
      - SINGLE_FILE
      - SEGMENTED_FILES
    description: 'When set to SINGLE_FILE, a single output file is generated, which is internally segmented using the Fragment Length and Segment Length. When set to SEGMENTED_FILES, separate segment files will be created.'
  DeinterlaceAlgorithm:
    type: string
    enum:
      - INTERPOLATE
      - INTERPOLATE_TICKER
      - BLEND
      - BLEND_TICKER
    description: 'Only applies when you set Deinterlacer (DeinterlaceMode) to Deinterlace (DEINTERLACE) or Adaptive (ADAPTIVE). Motion adaptive interpolate (INTERPOLATE) produces sharper pictures, while blend (BLEND) produces smoother motion. Use (INTERPOLATE_TICKER) OR (BLEND_TICKER) if your source file includes a ticker, such as a scrolling headline at the bottom of the frame.'
  Deinterlacer:
    type: object
    properties:
      Algorithm:
        $ref: '#/definitions/DeinterlaceAlgorithm'
      Control:
        $ref: '#/definitions/DeinterlacerControl'
      Mode:
        $ref: '#/definitions/DeinterlacerMode'
    description: Settings for deinterlacer
  DeinterlacerControl:
    type: string
    enum:
      - FORCE_ALL_FRAMES
      - NORMAL
    description: '- When set to NORMAL (default), the deinterlacer does not convert frames that are tagged  in metadata as progressive. It will only convert those that are tagged as some other type. - When set to FORCE_ALL_FRAMES, the deinterlacer converts every frame to progressive - even those that are already tagged as progressive. Turn Force mode on only if there is  a good chance that the metadata has tagged frames as progressive when they are not  progressive. Do not turn on otherwise; processing frames that are already progressive  into progressive will probably result in lower quality video.'
  DeinterlacerMode:
    type: string
    enum:
      - DEINTERLACE
      - INVERSE_TELECINE
      - ADAPTIVE
    description: Use Deinterlacer (DeinterlaceMode) to choose how the service will do deinterlacing. Default is Deinterlace. - Deinterlace converts interlaced to progressive. - Inverse telecine converts Hard Telecine 29.97i to progressive 23.976p. - Adaptive auto-detects and converts to progressive.
  DeleteJobTemplateRequest:
    type: object
    properties: {}
  DeleteJobTemplateResponse:
    type: object
    properties: {}
  DeletePresetRequest:
    type: object
    properties: {}
  DeletePresetResponse:
    type: object
    properties: {}
  DeleteQueueRequest:
    type: object
    properties: {}
  DeleteQueueResponse:
    type: object
    properties: {}
  DescribeEndpointsRequest:
    type: object
    properties:
      MaxResults:
        $ref: '#/definitions/__integer'
        description: 'Optional. Max number of endpoints, up to twenty, that will be returned at one time.'
      NextToken:
        $ref: '#/definitions/__string'
        description: 'Use this string, provided with the response to a previous request, to request the next batch of endpoints.'
    description: DescribeEndpointsRequest
  DescribeEndpointsResponse:
    type: object
    properties:
      Endpoints:
        $ref: '#/definitions/ListOfEndpoint'
        description: List of endpoints
      NextToken:
        $ref: '#/definitions/__string'
        description: Use this string to request the next batch of endpoints.
  DropFrameTimecode:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: 'Applies only to 29.97 fps outputs. When this feature is enabled, the service will use drop-frame timecode on outputs. If it is not possible to use drop-frame timecode, the system will fall back to non-drop-frame. This setting is enabled by default when Timecode insertion (TimecodeInsertion) is enabled.'
  DvbNitSettings:
    type: object
    properties:
      NetworkId:
        $ref: '#/definitions/__integer'
        description: The numeric value placed in the Network Information Table (NIT).
      NetworkName:
        $ref: '#/definitions/__string'
        description: The network name text placed in the network_name_descriptor inside the Network Information Table. Maximum length is 256 characters.
      NitInterval:
        $ref: '#/definitions/__integer'
        description: The number of milliseconds between instances of this table in the output transport stream.
    description: Inserts DVB Network Information Table (NIT) at the specified table repetition interval.
  DvbSdtSettings:
    type: object
    properties:
      OutputSdt:
        $ref: '#/definitions/OutputSdt'
      SdtInterval:
        $ref: '#/definitions/__integer'
        description: The number of milliseconds between instances of this table in the output transport stream.
      ServiceName:
        $ref: '#/definitions/__string'
        description: The service name placed in the service_descriptor in the Service Description Table. Maximum length is 256 characters.
      ServiceProviderName:
        $ref: '#/definitions/__string'
        description: The service provider name placed in the service_descriptor in the Service Description Table. Maximum length is 256 characters.
    description: Inserts DVB Service Description Table (NIT) at the specified table repetition interval.
  DvbSubDestinationSettings:
    type: object
    properties:
      Alignment:
        $ref: '#/definitions/DvbSubtitleAlignment'
      BackgroundColor:
        $ref: '#/definitions/DvbSubtitleBackgroundColor'
      BackgroundOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.
      FontColor:
        $ref: '#/definitions/DvbSubtitleFontColor'
      FontOpacity:
        $ref: '#/definitions/__integer'
        description: |-
          Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.
          All burn-in and DVB-Sub font settings must match.
      FontResolution:
        $ref: '#/definitions/__integer'
        description: |-
          Font resolution in DPI (dots per inch); default is 96 dpi.
          All burn-in and DVB-Sub font settings must match.
      FontSize:
        $ref: '#/definitions/__integer'
        description: A positive integer indicates the exact font size in points. Set to 0 for automatic font size selection. All burn-in and DVB-Sub font settings must match.
      OutlineColor:
        $ref: '#/definitions/DvbSubtitleOutlineColor'
      OutlineSize:
        $ref: '#/definitions/__integer'
        description: Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
      ShadowColor:
        $ref: '#/definitions/DvbSubtitleShadowColor'
      ShadowOpacity:
        $ref: '#/definitions/__integer'
        description: Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.
      ShadowXOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left. All burn-in and DVB-Sub font settings must match.
      ShadowYOffset:
        $ref: '#/definitions/__integer'
        description: Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text. All burn-in and DVB-Sub font settings must match.
      TeletextSpacing:
        $ref: '#/definitions/DvbSubtitleTeletextSpacing'
      XPosition:
        $ref: '#/definitions/__integer'
        description: 'Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit x_position is provided, the horizontal caption position will be determined by the alignment parameter. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
      YPosition:
        $ref: '#/definitions/__integer'
        description: 'Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit y_position is provided, the caption will be positioned towards the bottom of the output. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
    description: DVB-Sub Destination Settings
  DvbSubSourceSettings:
    type: object
    properties:
      Pid:
        $ref: '#/definitions/__integer'
        description: 'When using DVB-Sub with Burn-In or SMPTE-TT, use this PID for the source content. Unused for DVB-Sub passthrough. All DVB-Sub content is passed through, regardless of selectors.'
    description: DVB Sub Source Settings
  DvbSubtitleAlignment:
    type: string
    enum:
      - CENTERED
      - LEFT
    description: 'If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
  DvbSubtitleBackgroundColor:
    type: string
    enum:
      - NONE
      - BLACK
      - WHITE
    description: |-
      Specifies the color of the rectangle behind the captions.
      All burn-in and DVB-Sub font settings must match.
  DvbSubtitleFontColor:
    type: string
    enum:
      - WHITE
      - BLACK
      - YELLOW
      - RED
      - GREEN
      - BLUE
    description: 'Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
  DvbSubtitleOutlineColor:
    type: string
    enum:
      - BLACK
      - WHITE
      - YELLOW
      - RED
      - GREEN
      - BLUE
    description: Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
  DvbSubtitleShadowColor:
    type: string
    enum:
      - NONE
      - BLACK
      - WHITE
    description: |-
      Specifies the color of the shadow cast by the captions.
      All burn-in and DVB-Sub font settings must match.
  DvbSubtitleTeletextSpacing:
    type: string
    enum:
      - FIXED_GRID
      - PROPORTIONAL
    description: Controls whether a fixed grid size or proportional font spacing will be used to generate the output subtitles bitmap. Only applicable for Teletext inputs and DVB-Sub/Burn-in outputs.
  DvbTdtSettings:
    type: object
    properties:
      TdtInterval:
        $ref: '#/definitions/__integer'
        description: The number of milliseconds between instances of this table in the output transport stream.
    description: Inserts DVB Time and Date Table (TDT) at the specified table repetition interval.
  Eac3AttenuationControl:
    type: string
    enum:
      - ATTENUATE_3_DB
      - NONE
    description: 'If set to ATTENUATE_3_DB, applies a 3 dB attenuation to the surround channels. Only used for 3/2 coding mode.'
  Eac3BitstreamMode:
    type: string
    enum:
      - COMPLETE_MAIN
      - COMMENTARY
      - EMERGENCY
      - HEARING_IMPAIRED
      - VISUALLY_IMPAIRED
    description: Specifies the "Bitstream Mode" (bsmod) for the emitted E-AC-3 stream. See ATSC A/52-2012 (Annex E) for background on these values.
  Eac3CodingMode:
    type: string
    enum:
      - CODING_MODE_1_0
      - CODING_MODE_2_0
      - CODING_MODE_3_2
    description: Dolby Digital Plus coding mode. Determines number of channels.
  Eac3DcFilter:
    type: string
    enum:
      - ENABLED
      - DISABLED
    description: Activates a DC highpass filter for all input channels.
  Eac3DynamicRangeCompressionLine:
    type: string
    enum:
      - NONE
      - FILM_STANDARD
      - FILM_LIGHT
      - MUSIC_STANDARD
      - MUSIC_LIGHT
      - SPEECH
    description: Enables Dynamic Range Compression that restricts the absolute peak level for a signal.
  Eac3DynamicRangeCompressionRf:
    type: string
    enum:
      - NONE
      - FILM_STANDARD
      - FILM_LIGHT
      - MUSIC_STANDARD
      - MUSIC_LIGHT
      - SPEECH
    description: 'Enables Heavy Dynamic Range Compression, ensures that the instantaneous signal peaks do not exceed specified levels.'
  Eac3LfeControl:
    type: string
    enum:
      - LFE
      - NO_LFE
    description: 'When encoding 3/2 audio, controls whether the LFE channel is enabled'
  Eac3LfeFilter:
    type: string
    enum:
      - ENABLED
      - DISABLED
    description: Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.
  Eac3MetadataControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: 'When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
  Eac3PassthroughControl:
    type: string
    enum:
      - WHEN_POSSIBLE
      - NO_PASSTHROUGH
    description: 'When set to WHEN_POSSIBLE, input DD+ audio will be passed through if it is present on the input. this detection is dynamic over the life of the transcode. Inputs that alternate between DD+ and non-DD+ content will have a consistent DD+ output as the system alternates between passthrough and encoding.'
  Eac3PhaseControl:
    type: string
    enum:
      - SHIFT_90_DEGREES
      - NO_SHIFT
    description: Controls the amount of phase-shift applied to the surround channels. Only used for 3/2 coding mode.
  Eac3Settings:
    type: object
    properties:
      AttenuationControl:
        $ref: '#/definitions/Eac3AttenuationControl'
      Bitrate:
        $ref: '#/definitions/__integer'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Eac3BitstreamMode'
      CodingMode:
        $ref: '#/definitions/Eac3CodingMode'
      DcFilter:
        $ref: '#/definitions/Eac3DcFilter'
      Dialnorm:
        $ref: '#/definitions/__integer'
        description: 'Sets the dialnorm for the output. If blank and input audio is Dolby Digital Plus, dialnorm will be passed through.'
      DynamicRangeCompressionLine:
        $ref: '#/definitions/Eac3DynamicRangeCompressionLine'
      DynamicRangeCompressionRf:
        $ref: '#/definitions/Eac3DynamicRangeCompressionRf'
      LfeControl:
        $ref: '#/definitions/Eac3LfeControl'
      LfeFilter:
        $ref: '#/definitions/Eac3LfeFilter'
      LoRoCenterMixLevel:
        $ref: '#/definitions/__double'
        description: |-
          Left only/Right only center mix level. Only used for 3/2 coding mode.
          Valid values: 3.0, 1.5, 0.0, -1.5 -3.0 -4.5 -6.0 -60
      LoRoSurroundMixLevel:
        $ref: '#/definitions/__double'
        description: |-
          Left only/Right only surround mix level. Only used for 3/2 coding mode.
          Valid values: -1.5 -3.0 -4.5 -6.0 -60
      LtRtCenterMixLevel:
        $ref: '#/definitions/__double'
        description: |-
          Left total/Right total center mix level. Only used for 3/2 coding mode.
          Valid values: 3.0, 1.5, 0.0, -1.5 -3.0 -4.5 -6.0 -60
      LtRtSurroundMixLevel:
        $ref: '#/definitions/__double'
        description: |-
          Left total/Right total surround mix level. Only used for 3/2 coding mode.
          Valid values: -1.5 -3.0 -4.5 -6.0 -60
      MetadataControl:
        $ref: '#/definitions/Eac3MetadataControl'
      PassthroughControl:
        $ref: '#/definitions/Eac3PassthroughControl'
      PhaseControl:
        $ref: '#/definitions/Eac3PhaseControl'
      SampleRate:
        $ref: '#/definitions/__integer'
        description: Sample rate in hz. Sample rate is always 48000.
      StereoDownmix:
        $ref: '#/definitions/Eac3StereoDownmix'
      SurroundExMode:
        $ref: '#/definitions/Eac3SurroundExMode'
      SurroundMode:
        $ref: '#/definitions/Eac3SurroundMode'
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.
  Eac3StereoDownmix:
    type: string
    enum:
      - NOT_INDICATED
      - LO_RO
      - LT_RT
      - DPL2
    description: Stereo downmix preference. Only used for 3/2 coding mode.
  Eac3SurroundExMode:
    type: string
    enum:
      - NOT_INDICATED
      - ENABLED
      - DISABLED
    description: 'When encoding 3/2 audio, sets whether an extra center back surround channel is matrix encoded into the left and right surround channels.'
  Eac3SurroundMode:
    type: string
    enum:
      - NOT_INDICATED
      - ENABLED
      - DISABLED
    description: 'When encoding 2/0 audio, sets whether Dolby Surround is matrix encoded into the two channels.'
  EmbeddedConvert608To708:
    type: string
    enum:
      - UPCONVERT
      - DISABLED
    description: 'When set to UPCONVERT, 608 data is both passed through via the "608 compatibility bytes" fields of the 708 wrapper as well as translated into 708. 708 data present in the source content will be discarded.'
  EmbeddedSourceSettings:
    type: object
    properties:
      Convert608To708:
        $ref: '#/definitions/EmbeddedConvert608To708'
      Source608ChannelNumber:
        $ref: '#/definitions/__integer'
        description: Specifies the 608/708 channel number within the video track from which to extract captions. Unused for passthrough.
      Source608TrackNumber:
        $ref: '#/definitions/__integer'
        description: 'Specifies the video track index used for extracting captions. The system only supports one input video track, so this should always be set to ''1''.'
    description: Settings for embedded captions Source
  Endpoint:
    type: object
    properties:
      Url:
        $ref: '#/definitions/__string'
        description: URL of endpoint
    description: Describes account specific API endpoint
  ExceptionBody:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
  F4vMoovPlacement:
    type: string
    enum:
      - PROGRESSIVE_DOWNLOAD
      - NORMAL
    description: 'If set to PROGRESSIVE_DOWNLOAD, the MOOV atom is relocated to the beginning of the archive as required for progressive downloading. Otherwise it is placed normally at the end.'
  F4vSettings:
    type: object
    properties:
      MoovPlacement:
        $ref: '#/definitions/F4vMoovPlacement'
    description: Settings for F4v container
  FileGroupSettings:
    type: object
    properties:
      Destination:
        $ref: '#/definitions/__string'
        description: 'Use Destination (Destination) to specify the S3 output location and the output filename base. Destination accepts format identifiers. If you do not specify the base filename in the URI, the service will use the filename of the input file. If your job has multiple inputs, the service uses the filename of the first input file.'
    description: Required when you set (Type) under (OutputGroups)>(OutputGroupSettings) to FILE_GROUP_SETTINGS.
  FileSourceConvert608To708:
    type: string
    enum:
      - UPCONVERT
      - DISABLED
    description: 'If set to UPCONVERT, 608 caption data is both passed through via the "608 compatibility bytes" fields of the 708 wrapper as well as translated into 708. 708 data present in the source content will be discarded.'
  FileSourceSettings:
    type: object
    properties:
      Convert608To708:
        $ref: '#/definitions/FileSourceConvert608To708'
      SourceFile:
        $ref: '#/definitions/__string'
        description: 'External caption file used for loading captions. Accepted file extensions are ''scc'', ''ttml'', ''dfxp'', ''stl'', ''srt'', and ''smi''. Auto-populated when Infer External Filename is checked.'
      TimeDelta:
        $ref: '#/definitions/__integer'
        description: Specifies a time delta in seconds to offset the captions from the source file.
    description: Settings for File-based Captions in Source
  ForbiddenException:
    type: object
    properties:
      Message:
        $ref: '#/definitions/__string'
    description: You don't have permissions for this action with the credentials you sent.
  FrameCaptureSettings:
    type: object
    properties:
      FramerateDenominator:
        $ref: '#/definitions/__integer'
        description: 'Frame capture will encode the first frame of the output stream, then one frame every framerateDenominator/framerateNumerator seconds. For example, settings of framerateNumerator = 1 and framerateDenominator = 3 (a rate of 1/3 frame per second) will capture the first frame, then 1 frame every 3s. Files will be named as filename.n.jpg where n is the 0-based sequence number of each Capture.'
      FramerateNumerator:
        $ref: '#/definitions/__integer'
        description: 'Frame capture will encode the first frame of the output stream, then one frame every framerateDenominator/framerateNumerator seconds. For example, settings of framerateNumerator = 1 and framerateDenominator = 3 (a rate of 1/3 frame per second) will capture the first frame, then 1 frame every 3s. Files will be named as filename.NNNNNNN.jpg where N is the 0-based frame sequence number zero padded to 7 decimal places.'
      MaxCaptures:
        $ref: '#/definitions/__integer'
        description: Maximum number of captures (encoded jpg output files).
      Quality:
        $ref: '#/definitions/__integer'
        description: JPEG Quality - a higher value equals higher quality.
    description: Required when you set (Codec) under (VideoDescription)>(CodecSettings) to the value FRAME_CAPTURE.
  GetJobRequest:
    type: object
    properties: {}
  GetJobResponse:
    type: object
    properties:
      Job:
        $ref: '#/definitions/Job'
  GetJobTemplateRequest:
    type: object
    properties: {}
  GetJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/JobTemplate'
  GetPresetRequest:
    type: object
    properties: {}
  GetPresetResponse:
    type: object
    properties:
      Preset:
        $ref: '#/definitions/Preset'
  GetQueueRequest:
    type: object
    properties: {}
  GetQueueResponse:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/Queue'
  H264AdaptiveQuantization:
    type: string
    enum:
      - 'OFF'
      - LOW
      - MEDIUM
      - HIGH
      - HIGHER
      - MAX
    description: Adaptive quantization. Allows intra-frame quantizers to vary to improve visual quality.
  H264CodecLevel:
    type: string
    enum:
      - AUTO
      - LEVEL_1
      - LEVEL_1_1
      - LEVEL_1_2
      - LEVEL_1_3
      - LEVEL_2
      - LEVEL_2_1
      - LEVEL_2_2
      - LEVEL_3
      - LEVEL_3_1
      - LEVEL_3_2
      - LEVEL_4
      - LEVEL_4_1
      - LEVEL_4_2
      - LEVEL_5
      - LEVEL_5_1
      - LEVEL_5_2
    description: H.264 Level.
  H264CodecProfile:
    type: string
    enum:
      - BASELINE
      - HIGH
      - HIGH_10BIT
      - HIGH_422
      - HIGH_422_10BIT
      - MAIN
    description: 'H.264 Profile. High 4:2:2 and 10-bit profiles are only available with the AVC-I License.'
  H264EntropyEncoding:
    type: string
    enum:
      - CABAC
      - CAVLC
    description: Entropy encoding mode. Use CABAC (must be in Main or High profile) or CAVLC.
  H264FieldEncoding:
    type: string
    enum:
      - PAFF
      - FORCE_FIELD
    description: Choosing FORCE_FIELD disables PAFF encoding for interlaced outputs.
  H264FlickerAdaptiveQuantization:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Adjust quantization within each frame to reduce flicker or 'pop' on I-frames.
  H264FramerateControl:
    type: string
    enum:
      - INITIALIZE_FROM_SOURCE
      - SPECIFIED
    description: 'Using the API, set FramerateControl to INITIALIZE_FROM_SOURCE if you want the service to use the framerate from the input. Using the console, do this by choosing INITIALIZE_FROM_SOURCE for Framerate.'
  H264FramerateConversionAlgorithm:
    type: string
    enum:
      - DUPLICATE_DROP
      - INTERPOLATE
    description: 'When set to INTERPOLATE, produces smoother motion during framerate conversion.'
  H264GopBReference:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: 'If enable, use reference B frames for GOP structures that have B frames > 1.'
  H264GopSizeUnits:
    type: string
    enum:
      - FRAMES
      - SECONDS
    description: Indicates if the GOP Size in H264 is specified in frames or seconds. If seconds the system will convert the GOP Size into a frame count at run time.
  H264InterlaceMode:
    type: string
    enum:
      - PROGRESSIVE
      - TOP_FIELD
      - BOTTOM_FIELD
      - FOLLOW_TOP_FIELD
      - FOLLOW_BOTTOM_FIELD
    description: 'Use Interlace mode (InterlaceMode) to choose the scan line type for the output. * Top Field First (TOP_FIELD) and Bottom Field First (BOTTOM_FIELD) produce interlaced output with the entire output having the same field polarity (top or bottom first). * Follow, Default Top (FOLLOw_TOP_FIELD) and Follow, Default Bottom (FOLLOW_BOTTOM_FIELD) use the same  field polarity as the source. Therefore, behavior depends on the input scan type. - If the source is interlaced, the output will be interlaced with the same polarity as the source (it will follow the source). The output could therefore be a mix of "top field first" and "bottom field first". - If the source is progressive, the output will be interlaced with "top field first" or "bottom field first" polarity, depending on which of the Follow options you chose.'
  H264ParControl:
    type: string
    enum:
      - INITIALIZE_FROM_SOURCE
      - SPECIFIED
    description: 'Using the API, enable ParFollowSource if you want the service to use the pixel aspect ratio from the input. Using the console, do this by choosing Follow source for Pixel aspect ratio.'
  H264QualityTuningLevel:
    type: string
    enum:
      - SINGLE_PASS
      - SINGLE_PASS_HQ
      - MULTI_PASS_HQ
    description: 'Use Quality tuning level (H264QualityTuningLevel) to specifiy whether to use fast single-pass, high-quality singlepass, or high-quality multipass video encoding.'
  H264RateControlMode:
    type: string
    enum:
      - VBR
      - CBR
    description: 'Rate control mode. CQ uses constant quantizer (qp), ABR (average bitrate) does not write HRD parameters.'
  H264RepeatPps:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: 'Places a PPS header on each encoded picture, even if repeated.'
  H264SceneChangeDetect:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Scene change detection (inserts I-frames on scene changes).
  H264Settings:
    type: object
    properties:
      AdaptiveQuantization:
        $ref: '#/definitions/H264AdaptiveQuantization'
      Bitrate:
        $ref: '#/definitions/__integer'
        description: 'Average bitrate in bits/second. Required for VBR, CBR, and ABR. Five megabits can be entered as 5000000 or 5m. Five hundred kilobits can be entered as 500000 or 0.5m. For MS Smooth outputs, bitrates must be unique when rounded down to the nearest multiple of 1000.'
      CodecLevel:
        $ref: '#/definitions/H264CodecLevel'
      CodecProfile:
        $ref: '#/definitions/H264CodecProfile'
      EntropyEncoding:
        $ref: '#/definitions/H264EntropyEncoding'
      FieldEncoding:
        $ref: '#/definitions/H264FieldEncoding'
      FlickerAdaptiveQuantization:
        $ref: '#/definitions/H264FlickerAdaptiveQuantization'
      FramerateControl:
        $ref: '#/definitions/H264FramerateControl'
      FramerateConversionAlgorithm:
        $ref: '#/definitions/H264FramerateConversionAlgorithm'
      FramerateDenominator:
        $ref: '#/definitions/__integer'
        description: 'When you use the API for transcode jobs that use framerate conversion, specify the framerate as a fraction. For example,  24000 / 1001 = 23.976 fps. Use FramerateDenominator to specify the denominator of this fraction. In this example, use 1001 for the value of FramerateDenominator. When you use the console for transcode jobs that use framerate conversion, provide the value as a decimal number for Framerate. In this example, specify 23.976.'
      FramerateNumerator:
        $ref: '#/definitions/__integer'
        description: 'Framerate numerator - framerate is a fraction, e.g. 24000 / 1001 = 23.976 fps.'
      GopBReference:
        $ref: '#/definitions/H264GopBReference'
      GopClosedCadence:
        $ref: '#/definitions/__integer'
        description: 'Frequency of closed GOPs. In streaming applications, it is recommended that this be set to 1 so a decoder joining mid-stream will receive an IDR frame as quickly as possible. Setting this value to 0 will break output segmenting.'
      GopSize:
        $ref: '#/definitions/__double'
        description: GOP Length (keyframe interval) in frames or seconds. Must be greater than zero.
      GopSizeUnits:
        $ref: '#/definitions/H264GopSizeUnits'
      HrdBufferInitialFillPercentage:
        $ref: '#/definitions/__integer'
        description: Percentage of the buffer that should initially be filled (HRD buffer model).
[...]
