swagger: '2.0'
info:
  version: '2017-08-29'
  x-release: v4
  title: AWS Elemental MediaConvert
  description: AWS Elemental MediaConvert
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: mediaconvert
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediaconvert-2017-08-29.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://aws.amazon.com/mediaconvert/'
host: mediaconvert.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: header
    type: string
    required: true
  Version:
    name: Version
    in: header
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /2017-08-29/certificates:
    post:
      operationId: AssociateCertificate
      description: Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/AssociateCertificateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2017-08-29/jobs/{id}':
    delete:
      operationId: CancelJob
      description: 'Permanently remove a job from a queue. Once you have canceled a job, you can''t start it again. You can''t delete a running job.'
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/CancelJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelJobRequest'
        - name: id
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJob
      description: Retrieve the JSON for a specific completed transcoding job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetJobRequest'
        - name: id
          type: string
          in: path
          required: true
  /2017-08-29/jobs:
    post:
      operationId: CreateJob
      description: 'Create a new transcoding job. For information about jobs and job settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListJobs
      description: 'Retrieve a JSON array of up to twenty of your most recently created jobs. This array includes in-process, completed, and errored jobs. This will return the jobs themselves, not just a list of the jobs. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /2017-08-29/jobTemplates:
    post:
      operationId: CreateJobTemplate
      description: 'Create a new job template. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateJobTemplateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListJobTemplates
      description: 'Retrieve a JSON array of up to twenty of your job templates. This will return the templates themselves, not just a list of them. To retrieve the next twenty templates, use the nextToken string returned with the array'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobTemplatesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListJobTemplatesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /2017-08-29/presets:
    post:
      operationId: CreatePreset
      description: 'Create a new preset. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePresetRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListPresets
      description: 'Retrieve a JSON array of up to twenty of your presets. This will return the presets themselves, not just a list of them. To retrieve the next twenty presets, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPresetsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListPresetsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /2017-08-29/queues:
    post:
      operationId: CreateQueue
      description: 'Create a new transcoding queue. For information about queues, see Working With Queues in the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateQueueRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListQueues
      description: 'Retrieve a JSON array of up to twenty of your queues. This will return the queues themselves, not just a list of them. To retrieve the next twenty queues, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQueuesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListQueuesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/2017-08-29/jobTemplates/{name}':
    delete:
      operationId: DeleteJobTemplate
      description: Permanently delete a job template you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteJobTemplateRequest'
        - name: name
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJobTemplate
      description: Retrieve the JSON for a specific job template.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetJobTemplateRequest'
        - name: name
          type: string
          in: path
          required: true
    put:
      operationId: UpdateJobTemplate
      description: Modify one of your existing job templates.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateJobTemplateRequest'
        - name: name
          type: string
          in: path
          required: true
  '/2017-08-29/presets/{name}':
    delete:
      operationId: DeletePreset
      description: Permanently delete a preset you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeletePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePresetRequest'
        - name: name
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetPreset
      description: Retrieve the JSON for a specific preset.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetPresetRequest'
        - name: name
          type: string
          in: path
          required: true
    put:
      operationId: UpdatePreset
      description: Modify one of your existing presets.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdatePresetRequest'
        - name: name
          type: string
          in: path
          required: true
  '/2017-08-29/queues/{name}':
    delete:
      operationId: DeleteQueue
      description: Permanently delete a queue you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteQueueRequest'
        - name: name
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetQueue
      description: Retrieve the JSON for a specific queue.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetQueueRequest'
        - name: name
          type: string
          in: path
          required: true
    put:
      operationId: UpdateQueue
      description: Modify one of your existing queues.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateQueueRequest'
        - name: name
          type: string
          in: path
          required: true
  /2017-08-29/endpoints:
    post:
      operationId: DescribeEndpoints
      description: Send an request with an empty body to the regional API endpoint to get your account API endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2017-08-29/certificates/{arn}':
    delete:
      operationId: DisassociateCertificate
      description: Removes an association between the Amazon Resource Name (ARN) of an AWS Certificate Manager (ACM) certificate and an AWS Elemental MediaConvert resource.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateCertificateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateCertificateRequest'
        - name: arn
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2017-08-29/tags/{arn}':
    get:
      operationId: ListTagsForResource
      description: Retrieve the tags for a MediaConvert resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - name: arn
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UntagResource
      description: 'Remove tags from a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - name: arn
          type: string
          in: path
          required: true
  /2017-08-29/tags:
    post:
      operationId: TagResource
      description: 'Add tags to a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AssociateCertificateResponse:
    type: object
    properties: {}
  AssociateCertificateRequest:
    type: object
    required:
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/[object Object]'
        description: The ARN of the ACM certificate that you want to associate with your MediaConvert resource.
  BadRequestException: {}
  InternalServerErrorException: {}
  ForbiddenException: {}
  NotFoundException: {}
  TooManyRequestsException: {}
  ConflictException: {}
  CancelJobResponse:
    type: object
    properties: {}
  CancelJobRequest:
    type: object
    properties: {}
  CreateJobResponse:
    type: object
    properties:
      Job:
        $ref: '#/definitions/[object Object]'
  CreateJobRequest:
    type: object
    required:
      - Role
      - Settings
    properties:
      BillingTagsSource:
        $ref: '#/definitions/[object Object]'
      ClientRequestToken:
        $ref: '#/definitions/[object Object]'
        description: Idempotency token for CreateJob operation.
      JobTemplate:
        $ref: '#/definitions/[object Object]'
        description: 'When you create a job, you can either specify a job template or specify the transcoding settings individually'
      Queue:
        $ref: '#/definitions/[object Object]'
        description: 'Optional. When you create a job, you can specify a queue to send it to. If you don''t specify, the job will go to the default queue. For more about queues, see the User Guide topic at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html.'
      Role:
        $ref: '#/definitions/[object Object]'
        description: 'Required. The IAM role you use for creating this job. For details about permissions, see the User Guide topic at the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/iam-role.html.'
      Settings:
        $ref: '#/definitions/[object Object]'
      UserMetadata:
        $ref: '#/definitions/[object Object]'
        description: User-defined metadata that you want to associate with an MediaConvert job. You specify metadata in key/value pairs.
  CreateJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/[object Object]'
  CreateJobTemplateRequest:
    type: object
    required:
      - Settings
      - Name
    properties:
      Category:
        $ref: '#/definitions/[object Object]'
        description: Optional. A category for the job template you are creating
      Description:
        $ref: '#/definitions/[object Object]'
        description: Optional. A description of the job template you are creating.
      Name:
        $ref: '#/definitions/[object Object]'
        description: The name of the job template you are creating.
      Queue:
        $ref: '#/definitions/[object Object]'
        description: 'Optional. The queue that jobs created from this template are assigned to. If you don''t specify this, jobs will go to the default queue.'
      Settings:
        $ref: '#/definitions/[object Object]'
      Tags:
        $ref: '#/definitions/[object Object]'
        description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
  CreatePresetResponse:
    type: object
    properties:
      Preset:
        $ref: '#/definitions/[object Object]'
  CreatePresetRequest:
    type: object
    required:
      - Settings
      - Name
    properties:
      Category:
        $ref: '#/definitions/[object Object]'
        description: Optional. A category for the preset you are creating.
      Description:
        $ref: '#/definitions/[object Object]'
        description: Optional. A description of the preset you are creating.
      Name:
        $ref: '#/definitions/[object Object]'
        description: The name of the preset you are creating.
      Settings:
        $ref: '#/definitions/[object Object]'
      Tags:
        $ref: '#/definitions/[object Object]'
        description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
  CreateQueueResponse:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/[object Object]'
  CreateQueueRequest:
    type: object
    required:
      - Name
    properties:
      Description:
        $ref: '#/definitions/[object Object]'
        description: Optional. A description of the queue that you are creating.
      Name:
        $ref: '#/definitions/[object Object]'
        description: The name of the queue that you are creating.
      PricingPlan:
        $ref: '#/definitions/[object Object]'
        description: 'Specifies whether the pricing plan for the queue is on-demand or reserved. For on-demand, you pay per minute, billed in increments of .01 minute. For reserved, you pay for the transcoding capacity of the entire queue, regardless of how much or how little you use it. Reserved pricing requires a 12-month commitment. When you use the API to create a queue, the default is on-demand.'
      ReservationPlanSettings:
        $ref: '#/definitions/[object Object]'
        description: Details about the pricing plan for your reserved queue. Required for reserved queues and not applicable to on-demand queues.
      Tags:
        $ref: '#/definitions/[object Object]'
        description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
  DeleteJobTemplateResponse:
    type: object
    properties: {}
  DeleteJobTemplateRequest:
    type: object
    properties: {}
  DeletePresetResponse:
    type: object
    properties: {}
  DeletePresetRequest:
    type: object
    properties: {}
  DeleteQueueResponse:
    type: object
    properties: {}
  DeleteQueueRequest:
    type: object
    properties: {}
  DescribeEndpointsResponse:
    type: object
    properties:
      Endpoints:
        $ref: '#/definitions/[object Object]'
        description: List of endpoints
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: Use this string to request the next batch of endpoints.
  DescribeEndpointsRequest:
    type: object
    properties:
      MaxResults:
        $ref: '#/definitions/[object Object]'
        description: 'Optional. Max number of endpoints, up to twenty, that will be returned at one time.'
      Mode:
        $ref: '#/definitions/[object Object]'
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: 'Use this string, provided with the response to a previous request, to request the next batch of endpoints.'
    description: DescribeEndpointsRequest
  DisassociateCertificateResponse:
    type: object
    properties: {}
  DisassociateCertificateRequest:
    type: object
    required:
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/[object Object]'
        description: The ARN of the ACM certificate that you want to disassociate from your MediaConvert resource.
  GetJobResponse:
    type: object
    properties:
      Job:
        $ref: '#/definitions/[object Object]'
  GetJobRequest:
    type: object
    properties: {}
  GetJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/[object Object]'
  GetJobTemplateRequest:
    type: object
    properties: {}
  GetPresetResponse:
    type: object
    properties:
      Preset:
        $ref: '#/definitions/[object Object]'
  GetPresetRequest:
    type: object
    properties: {}
  GetQueueResponse:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/[object Object]'
  GetQueueRequest:
    type: object
    properties: {}
  ListJobTemplatesResponse:
    type: object
    properties:
      JobTemplates:
        $ref: '#/definitions/[object Object]'
        description: List of Job templates.
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: Use this string to request the next batch of job templates.
  ListJobTemplatesRequest:
    type: object
    properties: {}
  ListJobsResponse:
    type: object
    properties:
      Jobs:
        $ref: '#/definitions/[object Object]'
        description: List of jobs
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: Use this string to request the next batch of jobs.
  ListJobsRequest:
    type: object
    properties: {}
  ListPresetsResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: Use this string to request the next batch of presets.
      Presets:
        $ref: '#/definitions/[object Object]'
        description: List of presets
  ListPresetsRequest:
    type: object
    properties: {}
  ListQueuesResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/[object Object]'
        description: Use this string to request the next batch of queues.
      Queues:
        $ref: '#/definitions/[object Object]'
        description: List of queues.
  ListQueuesRequest:
    type: object
    properties: {}
  ListTagsForResourceResponse:
    type: object
    properties:
      ResourceTags:
        $ref: '#/definitions/[object Object]'
  ListTagsForResourceRequest:
    type: object
    properties: {}
  TagResourceResponse:
    type: object
    properties: {}
  TagResourceRequest:
    type: object
    required:
      - Arn
      - Tags
    properties:
      Arn:
        $ref: '#/definitions/[object Object]'
        description: 'The Amazon Resource Name (ARN) of the resource that you want to tag. To get the ARN, send a GET request with the resource name.'
      Tags:
        $ref: '#/definitions/[object Object]'
        description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
  UntagResourceResponse:
    type: object
    properties: {}
  UntagResourceRequest:
    type: object
    properties:
      TagKeys:
        $ref: '#/definitions/[object Object]'
        description: The keys of the tags that you want to remove from the resource.
  UpdateJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/[object Object]'
  UpdateJobTemplateRequest:
    type: object
    properties:
      Category:
        $ref: '#/definitions/[object Object]'
        description: 'The new category for the job template, if you are changing it.'
      Description:
        $ref: '#/definitions/[object Object]'
        description: 'The new description for the job template, if you are changing it.'
      Queue:
        $ref: '#/definitions/[object Object]'
        description: 'The new queue for the job template, if you are changing it.'
      Settings:
        $ref: '#/definitions/[object Object]'
  UpdatePresetResponse:
    type: object
    properties:
      Preset:
        $ref: '#/definitions/[object Object]'
  UpdatePresetRequest:
    type: object
    properties:
      Category:
        $ref: '#/definitions/[object Object]'
        description: 'The new category for the preset, if you are changing it.'
      Description:
        $ref: '#/definitions/[object Object]'
        description: 'The new description for the preset, if you are changing it.'
      Settings:
        $ref: '#/definitions/[object Object]'
  UpdateQueueResponse:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/[object Object]'
  UpdateQueueRequest:
    type: object
    properties:
      Description:
        $ref: '#/definitions/[object Object]'
        description: 'The new description for the queue, if you are changing it.'
      ReservationPlanSettings:
        $ref: '#/definitions/[object Object]'
        description: 'The new details of your pricing plan for your reserved queue. When you set up a new pricing plan to replace an expired one, you enter into another 12-month commitment. When you add capacity to your queue by increasing the number of RTS, you extend the term of your commitment to 12 months from when you add capacity. After you make these commitments, you can''t cancel them.'
      Status:
        $ref: '#/definitions/[object Object]'
        description: 'Pause or activate a queue by changing its status between ACTIVE and PAUSED. If you pause a queue, jobs in that queue won''t begin. Jobs that are running when you pause the queue continue to run until they finish or result in an error.'
  AacAudioDescriptionBroadcasterMix:
    type: string
    enum:
      - BROADCASTER_MIXED_AD
      - NORMAL
    description: 'Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains "broadcaster mixed AD". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.'
  AacCodecProfile:
    type: string
    enum:
      - LC
      - HEV1
      - HEV2
    description: AAC Profile.
  AacCodingMode:
    type: string
    enum:
      - AD_RECEIVER_MIX
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_5_1
    description: 'Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. "1.0 - Audio Description (Receiver Mix)" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.'
  AacRateControlMode:
    type: string
    enum:
      - CBR
      - VBR
    description: Rate Control Mode.
  AacRawFormat:
    type: string
    enum:
      - LATM_LOAS
      - NONE
    description: 'Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose "No container" for the output container.'
  '[object Object]': {}
  AacSettings:
    type: object
    properties:
      AudioDescriptionBroadcasterMix:
        $ref: '#/definitions/[object Object]'
      Bitrate:
        $ref: '#/definitions/[object Object]'
        description: Average bitrate in bits/second. Defaults and valid values depend on rate control mode and profile.
      CodecProfile:
        $ref: '#/definitions/[object Object]'
      CodingMode:
        $ref: '#/definitions/[object Object]'
      RateControlMode:
        $ref: '#/definitions/[object Object]'
      RawFormat:
        $ref: '#/definitions/[object Object]'
      SampleRate:
        $ref: '#/definitions/[object Object]'
        description: Sample rate in Hz. Valid values depend on rate control mode and profile.
      Specification:
        $ref: '#/definitions/[object Object]'
      VbrQuality:
        $ref: '#/definitions/[object Object]'
    description: 'Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to "VBR" or "CBR".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.'
  AacSpecification:
    type: string
    enum:
      - MPEG2
      - MPEG4
    description: Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.
  AacVbrQuality:
    type: string
    enum:
      - LOW
      - MEDIUM_LOW
      - MEDIUM_HIGH
      - HIGH
    description: VBR Quality Level - Only used if rate_control_mode is VBR.
  Ac3BitstreamMode:
    type: string
    enum:
      - COMPLETE_MAIN
      - COMMENTARY
      - DIALOGUE
      - EMERGENCY
      - HEARING_IMPAIRED
      - MUSIC_AND_EFFECTS
      - VISUALLY_IMPAIRED
      - VOICE_OVER
    description: Specifies the "Bitstream Mode" (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.
  Ac3CodingMode:
    type: string
    enum:
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_3_2_LFE
    description: Dolby Digital coding mode. Determines number of channels.
  Ac3DynamicRangeCompressionProfile:
    type: string
    enum:
      - FILM_STANDARD
      - NONE
    description: 'If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.'
  Ac3LfeFilter:
    type: string
    enum:
      - ENABLED
      - DISABLED
    description: Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.
  Ac3MetadataControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: 'When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
  Ac3Settings:
    type: object
    properties:
      Bitrate:
        $ref: '#/definitions/[object Object]'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/[object Object]'
      CodingMode:
        $ref: '#/definitions/[object Object]'
      Dialnorm:
        $ref: '#/definitions/[object Object]'
        description: 'Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.'
      DynamicRangeCompressionProfile:
        $ref: '#/definitions/[object Object]'
      LfeFilter:
        $ref: '#/definitions/[object Object]'
      MetadataControl:
        $ref: '#/definitions/[object Object]'
      SampleRate:
        $ref: '#/definitions/[object Object]'
        description: Sample rate in hz. Sample rate is always 48000.
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.
  AfdSignaling:
    type: string
    enum:
      - NONE
      - AUTO
      - FIXED
    description: 'This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling  (AfdSignaling) to specify whether the service includes AFD values in the output video data  and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.'
  AiffSettings:
    type: object
    properties:
      BitDepth:
        $ref: '#/definitions/[object Object]'
        description: 'Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.'
      Channels:
        $ref: '#/definitions/[object Object]'
        description: 'Set Channels to specify the number of channels in this output audio track. Choosing Mono in the console will give you 1 output channel; choosing Stereo will give you 2. In the API, valid values are 1 and 2.'
      SampleRate:
        $ref: '#/definitions/[object Object]'
        description: Sample rate in hz.
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.
  AncillarySourceSettings:
    type: object
    properties:
      SourceAncillaryChannelNumber:
        $ref: '#/definitions/[object Object]'
        description: Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.
    description: Settings for ancillary captions source.
  AntiAlias:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Enable Anti-alias (AntiAlias) to enhance sharp edges in video output when your input resolution is much larger than your output resolution. Default is enabled.
  AudioCodec:
    type: string
    enum:
      - AAC
      - MP2
      - WAV
      - AIFF
      - AC3
      - EAC3
      - PASSTHROUGH
    description: Type of Audio codec.
  AudioCodecSettings:
    type: object
    properties:
      AacSettings:
        $ref: '#/definitions/[object Object]'
      Ac3Settings:
        $ref: '#/definitions/[object Object]'
      AiffSettings:
        $ref: '#/definitions/[object Object]'
      Codec:
        $ref: '#/definitions/[object Object]'
      Eac3Settings:
        $ref: '#/definitions/[object Object]'
      Mp2Settings:
        $ref: '#/definitions/[object Object]'
      WavSettings:
        $ref: '#/definitions/[object Object]'
    description: 'Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value you choose for Audio codec (Codec). For each codec enum you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings'
  AudioDefaultSelection:
    type: string
    enum:
      - DEFAULT
      - NOT_DEFAULT
    description: 'Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can''t find the specified input audio. If you don''t set a default, those outputs have no audio.'
  AudioDescription:
    type: object
    properties:
      AudioNormalizationSettings:
        $ref: '#/definitions/[object Object]'
      AudioSourceName:
        $ref: '#/definitions/[object Object]'
        description: 'Specifies which audio data to use from each input. In the simplest case, specify an "Audio Selector":#inputs-audio_selector by name based on its order within each input. For example if you specify "Audio Selector 3", then the third audio selector will be used from each input. If an input does not have an "Audio Selector 3", then the audio selector marked as "default" in that input will be used. If there is no audio selector marked as "default", silence will be inserted for the duration of that input. Alternatively, an "Audio Selector Group":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then "Audio Selector 1" will be chosen automatically.'
      AudioType:
        $ref: '#/definitions/[object Object]'
        description: 'Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.'
      AudioTypeControl:
        $ref: '#/definitions/[object Object]'
      CodecSettings:
        $ref: '#/definitions/[object Object]'
      CustomLanguageCode:
        $ref: '#/definitions/[object Object]'
        description: 'Specify the language for this audio output track, using the ISO 639-2 or ISO 639-3 three-letter language code. The language specified will be used when ''Follow Input Language Code'' is not selected or when ''Follow Input Language Code'' is selected but there is no ISO 639 language code specified by the input.'
      LanguageCode:
        $ref: '#/definitions/[object Object]'
        description: Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.
      LanguageCodeControl:
        $ref: '#/definitions/[object Object]'
      RemixSettings:
        $ref: '#/definitions/[object Object]'
        description: Advanced audio remixing settings.
      StreamName:
        $ref: '#/definitions/[object Object]'
        description: 'Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary). Alphanumeric characters, spaces, and underscore are legal.'
    description: Description of audio output
  AudioLanguageCodeControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: Choosing FOLLOW_INPUT will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The language specified for languageCode' will be used when USE_CONFIGURED is selected or when FOLLOW_INPUT is selected but there is no ISO 639 language code specified by the input.
  AudioNormalizationAlgorithm:
    type: string
    enum:
      - ITU_BS_1770_1
      - ITU_BS_1770_2
    description: 'Audio normalization algorithm to use. 1770-1 conforms to the CALM Act specification, 1770-2 conforms to the EBU R-128 specification.'
  AudioNormalizationAlgorithmControl:
    type: string
    enum:
      - CORRECT_AUDIO
      - MEASURE_ONLY
    description: 'When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.'
  AudioNormalizationLoudnessLogging:
    type: string
    enum:
      - LOG
      - DONT_LOG
    description: 'If set to LOG, log each output''s audio track loudness to a CSV file.'
  AudioNormalizationPeakCalculation:
    type: string
    enum:
      - TRUE_PEAK
      - NONE
    description: 'If set to TRUE_PEAK, calculate and log the TruePeak for each output''s audio track loudness.'
  AudioNormalizationSettings:
    type: object
    properties:
      Algorithm:
        $ref: '#/definitions/[object Object]'
      AlgorithmControl:
        $ref: '#/definitions/[object Object]'
      CorrectionGateLevel:
        $ref: '#/definitions/[object Object]'
        description: Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected. Gating only applies when not using real_time_correction.
      LoudnessLogging:
        $ref: '#/definitions/[object Object]'
      PeakCalculation:
        $ref: '#/definitions/[object Object]'
      TargetLkfs:
        $ref: '#/definitions/[object Object]'
        description: 'Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm. The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.'
    description: Advanced audio normalization settings.
  AudioSelector:
    type: object
    properties:
      CustomLanguageCode:
        $ref: '#/definitions/[object Object]'
        description: 'Selects a specific language code from within an audio source, using the ISO 639-2 or ISO 639-3 three-letter language code'
      DefaultSelection:
        $ref: '#/definitions/[object Object]'
      ExternalAudioFileInput:
        $ref: '#/definitions/[object Object]'
        description: Specifies audio data from an external file source.
      LanguageCode:
        $ref: '#/definitions/[object Object]'
        description: Selects a specific language code from within an audio source.
      Offset:
        $ref: '#/definitions/[object Object]'
        description: Specifies a time delta in milliseconds to offset the audio from the input video.
      Pids:
        $ref: '#/definitions/[object Object]'
        description: Selects a specific PID from within an audio source (e.g. 257 selects PID 0x101).
      ProgramSelection:
        $ref: '#/definitions/[object Object]'
        description: 'Use this setting for input streams that contain Dolby E, to have the service extract specific program data from the track. To select multiple programs, create multiple selectors with the same Track and different Program numbers. In the console, this setting is visible when you set Selector type to Track. Choose the program number from the dropdown list. If you are sending a JSON file, provide the program ID, which is part of the audio metadata. If your input file has incorrect metadata, you can choose All channels instead of a program number to have the service ignore the program IDs and include all the programs in the track.'
      RemixSettings:
        $ref: '#/definitions/[object Object]'
        description: 'Use these settings to reorder the audio channels of one input to match those of another input. This allows you to combine the two files into a single output, one after the other.'
      SelectorType:
        $ref: '#/definitions/[object Object]'
      Tracks:
        $ref: '#/definitions/[object Object]'
        description: 'Identify a track from the input audio to include in this selector by entering the track index number. To include several tracks in a single audio selector, specify multiple tracks as follows. Using the console, enter a comma-separated list. For examle, type "1,2,3" to include tracks 1 through 3. Specifying directly in your JSON job file, provide the track numbers in an array. For example, "tracks": [1,2,3].'
    description: Selector for Audio
  AudioSelectorGroup:
    type: object
    properties:
      AudioSelectorNames:
        $ref: '#/definitions/[object Object]'
        description: 'Name of an Audio Selector within the same input to include in the group.  Audio selector names are standardized, based on their order within the input (e.g., "Audio Selector 1"). The audio selector name parameter can be repeated to add any number of audio selectors to the group.'
    description: Group of Audio Selectors
  AudioSelectorType:
    type: string
    enum:
      - PID
      - TRACK
      - LANGUAGE_CODE
    description: Specifies the type of the audio selector.
  AudioTypeControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: 'When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.'
  AvailBlanking:
    type: object
    properties:
      AvailBlankingImage:
        $ref: '#/definitions/[object Object]'
        description: Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.
    description: Settings for Avail Blanking
  BillingTagsSource:
    type: string
    enum:
      - QUEUE
      - PRESET
      - JOB_TEMPLATE
    description: 'Optional. Choose a tag type that AWS Billing and Cost Management will use to sort your AWS Elemental MediaConvert costs on any billing report that you set up. Any transcoding outputs that don''t have an associated tag will appear in your billing report unsorted. If you don''t choose a valid value for this field, your job outputs will appear on the billing report unsorted.'
  BurninDestinationSettings:
    type: object
    properties:
      Alignment:
        $ref: '#/definitions/[object Object]'
      BackgroundColor:
        $ref: '#/definitions/[object Object]'
      BackgroundOpacity:
        $ref: '#/definitions/[object Object]'
        description: Specifies the opacity of the background rectangle. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.
      FontColor:
        $ref: '#/definitions/[object Object]'
      FontOpacity:
        $ref: '#/definitions/[object Object]'
        description: |-
          Specifies the opacity of the burned-in captions. 255 is opaque; 0 is transparent.
          All burn-in and DVB-Sub font settings must match.
      FontResolution:
        $ref: '#/definitions/[object Object]'
        description: |-
          Font resolution in DPI (dots per inch); default is 96 dpi.
          All burn-in and DVB-Sub font settings must match.
      FontSize:
        $ref: '#/definitions/[object Object]'
        description: A positive integer indicates the exact font size in points. Set to 0 for automatic font size selection. All burn-in and DVB-Sub font settings must match.
      OutlineColor:
        $ref: '#/definitions/[object Object]'
      OutlineSize:
        $ref: '#/definitions/[object Object]'
        description: Specifies font outline size in pixels. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
      ShadowColor:
        $ref: '#/definitions/[object Object]'
      ShadowOpacity:
        $ref: '#/definitions/[object Object]'
        description: Specifies the opacity of the shadow. 255 is opaque; 0 is transparent. Leaving this parameter blank is equivalent to setting it to 0 (transparent). All burn-in and DVB-Sub font settings must match.
      ShadowXOffset:
        $ref: '#/definitions/[object Object]'
        description: Specifies the horizontal offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels to the left. All burn-in and DVB-Sub font settings must match.
      ShadowYOffset:
        $ref: '#/definitions/[object Object]'
        description: Specifies the vertical offset of the shadow relative to the captions in pixels. A value of -2 would result in a shadow offset 2 pixels above the text. All burn-in and DVB-Sub font settings must match.
      TeletextSpacing:
        $ref: '#/definitions/[object Object]'
      XPosition:
        $ref: '#/definitions/[object Object]'
        description: 'Specifies the horizontal position of the caption relative to the left side of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the left of the output. If no explicit x_position is provided, the horizontal caption position will be determined by the alignment parameter. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
      YPosition:
        $ref: '#/definitions/[object Object]'
        description: 'Specifies the vertical position of the caption relative to the top of the output in pixels. A value of 10 would result in the captions starting 10 pixels from the top of the output. If no explicit y_position is provided, the caption will be positioned towards the bottom of the output. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
    description: Burn-In Destination Settings.
  BurninSubtitleAlignment:
    type: string
    enum:
      - CENTERED
      - LEFT
    description: 'If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
  BurninSubtitleBackgroundColor:
    type: string
    enum:
      - NONE
      - BLACK
      - WHITE
    description: |-
      Specifies the color of the rectangle behind the captions.
      All burn-in and DVB-Sub font settings must match.
  BurninSubtitleFontColor:
    type: string
    enum:
      - WHITE
      - BLACK
      - YELLOW
      - RED
      - GREEN
      - BLUE
    description: 'Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
  BurninSubtitleOutlineColor:
    type: string
    enum:
      - BLACK
      - WHITE
      - YELLOW
      - RED
      - GREEN
      - BLUE
    description: Specifies font outline color. This option is not valid for source captions that are either 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.
  BurninSubtitleShadowColor:
    type: string
    enum:
      - NONE
      - BLACK
      - WHITE
    description: |-
      Specifies the color of the shadow cast by the captions.
      All burn-in and DVB-Sub font settings must match.
  BurninSubtitleTeletextSpacing:
    type: string
    enum:
      - FIXED_GRID
      - PROPORTIONAL
    description: Only applies to jobs with input captions in Teletext or STL formats. Specify whether the spacing between letters in your captions is set by the captions grid or varies depending on letter width. Choose fixed grid to conform to the spacing specified in the captions file more accurately. Choose proportional to make the text easier to read if the captions are closed caption.
  CaptionDescription:
    type: object
    properties:
      CaptionSelectorName:
        $ref: '#/definitions/[object Object]'
        description: 'Specifies which "Caption Selector":#inputs-caption_selector to use from each input when generating captions. The name should be of the format "Caption Selector <N>", which denotes that the Nth Caption Selector will be used from each input.'
      CustomLanguageCode:
        $ref: '#/definitions/[object Object]'
        description: 'Indicates the language of the caption output track, using the ISO 639-2 or ISO 639-3 three-letter language code'
      DestinationSettings:
        $ref: '#/definitions/[object Object]'
      LanguageCode:
        $ref: '#/definitions/[object Object]'
        description: Indicates the language of the caption output track.
      LanguageDescription:
        $ref: '#/definitions/[object Object]'
        description: 'Human readable information to indicate captions available for players (eg. English, or Spanish). Alphanumeric characters, spaces, and underscore are legal.'
    description: Description of Caption output
  CaptionDescriptionPreset:
    type: object
    properties:
      CustomLanguageCode:
        $ref: '#/definitions/[object Object]'
        description: 'Indicates the language of the caption output track, using the ISO 639-2 or ISO 639-3 three-letter language code'
      DestinationSettings:
        $ref: '#/definitions/[object Object]'
      LanguageCode:
        $ref: '#/definitions/[object Object]'
        description: Indicates the language of the caption output track.
      LanguageDescription:
        $ref: '#/definitions/[object Object]'
        description: 'Human readable information to indicate captions available for players (eg. English, or Spanish). Alphanumeric characters, spaces, and underscore are legal.'
    description: Caption Description for preset
  CaptionDestinationSettings:
    type: object
    properties:
      BurninDestinationSettings:
        $ref: '#/definitions/[object Object]'
      DestinationType:
        $ref: '#/definitions/[object Object]'
      DvbSubDestinationSettings:
        $ref: '#/definitions/[object Object]'
      SccDestinationSettings:
        $ref: '#/definitions/[object Object]'
      TeletextDestinationSettings:
        $ref: '#/definitions/[object Object]'
      TtmlDestinationSettings:
        $ref: '#/definitions/[object Object]'
    description: Specific settings required by destination type. Note that burnin_destination_settings are not available if the source of the caption data is Embedded or Teletext.
  CaptionDestinationType:
    type: string
    enum:
      - BURN_IN
      - DVB_SUB
      - EMBEDDED
      - EMBEDDED_PLUS_SCTE20
      - SCTE20_PLUS_EMBEDDED
      - SCC
      - SRT
      - SMI
      - TELETEXT
      - TTML
      - WEBVTT
    description: 'Type of Caption output, including Burn-In, Embedded (with or without SCTE20), SCC, SMI, SRT, TTML, WebVTT, DVB-Sub, Teletext.'
  CaptionSelector:
    type: object
    properties:
      CustomLanguageCode:
        $ref: '#/definitions/[object Object]'
        description: 'The specific language to extract from source, using the ISO 639-2 or ISO 639-3 three-letter language code. If input is SCTE-27, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub and output is Burn-in or SMPTE-TT, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub that is being passed through, omit this field (and PID field); there is no way to extract a specific language with pass-through captions.'
      LanguageCode:
        $ref: '#/definitions/[object Object]'
        description: 'The specific language to extract from source. If input is SCTE-27, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub and output is Burn-in or SMPTE-TT, complete this field and/or PID to select the caption language to extract. If input is DVB-Sub that is being passed through, omit this field (and PID field); there is no way to extract a specific language with pass-through captions.'
      SourceSettings:
        $ref: '#/definitions/[object Object]'
    description: Set up captions in your outputs by first selecting them from your input here.
  CaptionSourceSettings:
    type: object
    properties:
      AncillarySourceSettings:
        $ref: '#/definitions/[object Object]'
      DvbSubSourceSettings:
        $ref: '#/definitions/[object Object]'
      EmbeddedSourceSettings:
        $ref: '#/definitions/[object Object]'
      FileSourceSettings:
        $ref: '#/definitions/[object Object]'
      SourceType:
        $ref: '#/definitions/[object Object]'
      TeletextSourceSettings:
        $ref: '#/definitions/[object Object]'
    description: Source settings (SourceSettings) contains the group of settings for captions in the input.
  CaptionSourceType:
    type: string
    enum:
      - ANCILLARY
      - DVB_SUB
      - EMBEDDED
      - SCTE20
      - SCC
      - TTML
      - STL
      - SRT
      - SMI
      - TELETEXT
      - NULL_SOURCE
    description: Use Source (SourceType) to identify the format of your input captions.  The service cannot auto-detect caption format.
  ChannelMapping:
    type: object
    properties:
      OutputChannels:
        $ref: '#/definitions/[object Object]'
        description: List of output channels
    description: Channel mapping (ChannelMapping) contains the group of fields that hold the remixing value for each channel. Units are in dB. Acceptable values are within the range from -60 (mute) through 6. A setting of 0 passes the input channel unchanged to the output channel (no attenuation or amplification).
  CmafClientCache:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: 'When set to ENABLED, sets #EXT-X-ALLOW-CACHE:no tag, which prevents client from saving media segments for later replay.'
  CmafCodecSpecification:
    type: string
    enum:
      - RFC_6381
      - RFC_4281
    description: Specification to use (RFC-6381 or the default RFC-4281) during m3u8 playlist generation.
  CmafEncryptionSettings:
    type: object
    properties:
      ConstantInitializationVector:
        $ref: '#/definitions/[object Object]'
        description: 'This is a 128-bit, 16-byte hex value represented by a 32-character text string. If this parameter is not set then the Initialization Vector will follow the segment number by default.'
      EncryptionMethod:
        $ref: '#/definitions/[object Object]'
      InitializationVectorInManifest:
        $ref: '#/definitions/[object Object]'
      StaticKeyProvider:
        $ref: '#/definitions/[object Object]'
      Type:
        $ref: '#/definitions/[object Object]'
    description: Settings for CMAF encryption
  CmafEncryptionType:
    type: string
    enum:
      - SAMPLE_AES
    description: Encrypts the segments with the given encryption scheme. Leave blank to disable. Selecting 'Disabled' in the web interface also disables encryption.
  CmafGroupSettings:
    type: object
    properties:
      BaseUrl:
        $ref: '#/definitions/[object Object]'
        description: A partial URI prefix that will be put in the manifest file at the top level BaseURL element. Can be used if streams are delivered from a different URL than the manifest file.
      ClientCache:
        $ref: '#/definitions/[object Object]'
      CodecSpecification:
        $ref: '#/definitions/[object Object]'
      Destination:
        $ref: '#/definitions/[object Object]'
        description: 'Use Destination (Destination) to specify the S3 output location and the output filename base. Destination accepts format identifiers. If you do not specify the base filename in the URI, the service will use the filename of the input file. If your job has multiple inputs, the service uses the filename of the first input file.'
      Encryption:
        $ref: '#/definitions/[object Object]'
        description: DRM settings.
      FragmentLength:
        $ref: '#/definitions/[object Object]'
        description: 'Length of fragments to generate (in seconds). Fragment length must be compatible with GOP size and Framerate. Note that fragments will end on the next keyframe after this number of seconds, so actual fragment length may be longer. When Emit Single File is checked, the fragmentation is internal to a single output file and it does not cause the creation of many output files as in other output types.'
      ManifestCompression:
        $ref: '#/definitions/[object Object]'
      ManifestDurationFormat:
        $ref: '#/definitions/[object Object]'
      MinBufferTime:
        $ref: '#/definitions/[object Object]'
        description: Minimum time of initially buffered media that is needed to ensure smooth playout.
      MinFinalSegmentLength:
        $ref: '#/definitions/[object Object]'
        description: 'Keep this setting at the default value of 0, unless you are troubleshooting a problem with how devices play back the end of your video asset. If you know that player devices are hanging on the final segment of your video because the length of your final segment is too short, use this setting to specify a minimum final segment length, in seconds. Choose a value that is greater than or equal to 1 and less than your segment length. When you specify a value for this setting, the encoder will combine any final segment that is shorter than the length that you specify with the previous segment. For example, your segment length is 3 seconds and your final segment is .5 seconds without a minimum final segment length; when you set the minimum final segment length to 1, your final segment is 3.5 seconds.'
      SegmentControl:
        $ref: '#/definitions/[object Object]'
      SegmentLength:
        $ref: '#/definitions/[object Object]'
        description: 'Use this setting to specify the length, in seconds, of each individual CMAF segment. This value applies to the whole package; that is, to every output in the output group. Note that segments end on the first keyframe after this number of seconds, so the actual segment length might be slightly longer. If you set Segment control (CmafSegmentControl) to single file, the service puts the content of each output in a single file that has metadata that marks these segments. If you set it to segmented files, the service creates multiple files for each output, each with the content of one segment.'
      StreamInfResolution:
        $ref: '#/definitions/[object Object]'
      WriteDashManifest:
        $ref: '#/definitions/[object Object]'
      WriteHlsManifest:
        $ref: '#/definitions/[object Object]'
    description: 'Required when you set (Type) under (OutputGroups)>(OutputGroupSettings) to CMAF_GROUP_SETTINGS. Each output in a CMAF Output Group may only contain a single video, audio, or caption output.'
  CmafInitializationVectorInManifest:
    type: string
    enum:
      - INCLUDE
      - EXCLUDE
    description: 'The Initialization Vector is a 128-bit number used in conjunction with the key for encrypting blocks. If set to INCLUDE, Initialization Vector is listed in the manifest. Otherwise Initialization Vector is not in the manifest.'
  CmafKeyProviderType:
    type: string
    enum:
      - STATIC_KEY
    description: Indicates which type of key provider is used for encryption.
  CmafManifestCompression:
    type: string
    enum:
      - GZIP
      - NONE
    description: 'When set to GZIP, compresses HLS playlist.'
  CmafManifestDurationFormat:
    type: string
    enum:
      - FLOATING_POINT
      - INTEGER
    description: Indicates whether the output manifest should use floating point values for segment duration.
  CmafSegmentControl:
    type: string
    enum:
      - SINGLE_FILE
      - SEGMENTED_FILES
    description: 'When set to SINGLE_FILE, a single output file is generated, which is internally segmented using the Fragment Length and Segment Length. When set to SEGMENTED_FILES, separate segment files will be created.'
  CmafStreamInfResolution:
    type: string
    enum:
      - INCLUDE
      - EXCLUDE
    description: Include or exclude RESOLUTION attribute for video in EXT-X-STREAM-INF tag of variant manifest.
  CmafWriteDASHManifest:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: 'When set to ENABLED, a DASH MPD manifest will be generated for this output.'
  CmafWriteHLSManifest:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: 'When set to ENABLED, an Apple HLS manifest will be generated for this output.'
  ColorCorrector:
    type: object
    properties:
      Brightness:
        $ref: '#/definitions/[object Object]'
        description: Brightness level.
      ColorSpaceConversion:
        $ref: '#/definitions/[object Object]'
      Contrast:
        $ref: '#/definitions/[object Object]'
        description: Contrast level.
      Hdr10Metadata:
        $ref: '#/definitions/[object Object]'
      Hue:
        $ref: '#/definitions/[object Object]'
        description: Hue in degrees.
      Saturation:
        $ref: '#/definitions/[object Object]'
        description: Saturation level.
    description: Settings for color correction.
  ColorMetadata:
    type: string
    enum:
      - IGNORE
      - INSERT
    description: Enable Insert color metadata (ColorMetadata) to include color metadata in this output. This setting is enabled by default.
  ColorSpace:
    type: string
    enum:
      - FOLLOW
      - REC_601
      - REC_709
      - HDR10
      - HLG_2020
    description: 'If your input video has accurate color space metadata, or if you don''t know about color space, leave this set to the default value FOLLOW. The service will automatically detect your input color space. If your input video has metadata indicating the wrong color space, or if your input video is missing color space metadata that should be there, specify the accurate color space here. If you choose HDR10, you can also correct inaccurate color space coefficients, using the HDR master display information controls. You must also set Color space usage (ColorSpaceUsage) to FORCE for the service to use these values.'
  ColorSpaceConversion:
    type: string
    enum:
      - NONE
      - FORCE_601
      - FORCE_709
      - FORCE_HDR10
      - FORCE_HLG_2020
    description: 'Determines if colorspace conversion will be performed. If set to _None_, no conversion will be performed. If _Force 601_ or _Force 709_ are selected, conversion will be performed for inputs with differing colorspaces. An input''s colorspace can be specified explicitly in the "Video Selector":#inputs-video_selector if necessary.'
  ColorSpaceUsage:
    type: string
    enum:
      - FORCE
      - FALLBACK
    description: 'There are two sources for color metadata, the input file and the job configuration (in the Color space and HDR master display informaiton settings). The Color space usage setting controls which takes precedence. FORCE: The system will use color metadata supplied by user, if any. If the user does not supply color metadata, the system will use data from the source. FALLBACK: The system will use color metadata from the source. If source has no color metadata, the system will use user-supplied color metadata values if available.'
  Commitment:
    type: string
    enum:
      - ONE_YEAR
    description: The length of the term of your reserved queue pricing plan commitment.
  ContainerSettings:
    type: object
    properties:
      Container:
        $ref: '#/definitions/[object Object]'
      F4vSettings:
        $ref: '#/definitions/[object Object]'
      M2tsSettings:
        $ref: '#/definitions/[object Object]'
      M3u8Settings:
        $ref: '#/definitions/[object Object]'
      MovSettings:
        $ref: '#/definitions/[object Object]'
      Mp4Settings:
        $ref: '#/definitions/[object Object]'
    description: Container specific settings.
  ContainerType:
    type: string
    enum:
      - F4V
      - ISMV
      - M2TS
      - M3U8
      - CMFC
      - MOV
      - MP4
      - MPD
      - MXF
      - RAW
    description: 'Container for this output. Some containers require a container settings object. If not specified, the default object will be created.'
  DashIsoEncryptionSettings:
    type: object
    properties:
      SpekeKeyProvider:
        $ref: '#/definitions/[object Object]'
    description: Specifies DRM settings for DASH outputs.
  DashIsoGroupSettings:
    type: object
    properties:
      BaseUrl:
        $ref: '#/definitions/[object Object]'
        description: A partial URI prefix that will be put in the manifest (.mpd) file at the top level BaseURL element. Can be used if streams are delivered from a different URL than the manifest file.
      Destination:
        $ref: '#/definitions/[object Object]'
        description: 'Use Destination (Destination) to specify the S3 output location and the output filename base. Destination accepts format identifiers. If you do not specify the base filename in the URI, the service will use the filename of the input file. If your job has multiple inputs, the service uses the filename of the first input file.'
      Encryption:
        $ref: '#/definitions/[object Object]'
        description: DRM settings.
      FragmentLength:
        $ref: '#/definitions/[object Object]'
        description: 'Length of fragments to generate (in seconds). Fragment length must be compatible with GOP size and Framerate. Note that fragments will end on the next keyframe after this number of seconds, so actual fragment length may be longer. When Emit Single File is checked, the fragmentation is internal to a single output file and it does not cause the creation of many output files as in other output types.'
      HbbtvCompliance:
        $ref: '#/definitions/[object Object]'
      MinBufferTime:
        $ref: '#/definitions/[object Object]'
        description: Minimum time of initially buffered media that is needed to ensure smooth playout.
      SegmentControl:
        $ref: '#/definitions/[object Object]'
      SegmentLength:
        $ref: '#/definitions/[object Object]'
        description: 'Length of mpd segments to create (in seconds). Note that segments will end on the next keyframe after this number of seconds, so actual segment length may be longer. When Emit Single File is checked, the segmentation is internal to a single output file and it does not cause the creation of many output files as in other output types.'
      WriteSegmentTimelineInRepresentation:
        $ref: '#/definitions/[object Object]'
        description: 'When you enable Precise segment duration in manifests (writeSegmentTimelineInRepresentation), your DASH manifest shows precise segment durations. The segment duration information appears inside the SegmentTimeline element, inside SegmentTemplate at the Representation level. When this feature isn''t enabled, the segment durations in your DASH manifest are approximate. The segment duration information appears in the duration attribute of the SegmentTemplate element.'
    description: Required when you set (Type) under (OutputGroups)>(OutputGroupSettings) to DASH_ISO_GROUP_SETTINGS.
  DashIsoHbbtvCompliance:
    type: string
    enum:
      - HBBTV_1_5
      - NONE
    description: Supports HbbTV specification as indicated
  DashIsoSegmentControl:
    type: string
    enum:
      - SINGLE_FILE
      - SEGMENTED_FILES
    description: 'When set to SINGLE_FILE, a single output file is generated, which is internally segmented using the Fragment Length and Segment Length. When set to SEGMENTED_FILES, separate segment files will be created.'
  DashIsoWriteSegmentTimelineInRepresentation:
    type: string
    enum:
      - ENABLED
      - DISABLED
[...]
