swagger: '2.0'
info:
  version: '2017-08-29'
  x-release: v4
  title: AWS Elemental MediaConvert
  description: AWS Elemental MediaConvert
  x-logo:
    url: 'https://twitter.com/awscloud/profile_image?size=original'
    backgroundColor: '#FFFFFF'
  termsOfService: 'https://aws.amazon.com/service-terms/'
  contact:
    name: Mike Ralphson
    email: mike.ralphson@gmail.com
    url: 'https://github.com/mermade/aws2openapi'
    x-twitter: PermittedSoc
  license:
    name: Apache 2.0 License
    url: 'http://www.apache.org/licenses/'
  x-providerName: amazonaws.com
  x-serviceName: mediaconvert
  x-origin:
    - contentType: application/json
      url: 'https://raw.githubusercontent.com/aws/aws-sdk-js/master/apis/mediaconvert-2017-08-29.normal.json'
      converter:
        url: 'https://github.com/mermade/aws2openapi'
        version: 1.0.0
      x-apisguru-direct: true
  x-apiClientRegistration:
    url: 'https://portal.aws.amazon.com/gp/aws/developer/registration/index.html?nc2=h_ct'
  x-apisguru-categories:
    - cloud
  x-preferred: true
externalDocs:
  description: Amazon Web Services documentation
  url: 'https://docs.aws.amazon.com/mediaconvert/'
host: mediaconvert.amazonaws.com
basePath: /
x-hasEquivalentPaths: true
schemes:
  - https
  - http
consumes:
  - application/json
produces:
  - application/json
parameters:
  Action:
    name: Action
    in: query
    type: string
    required: true
  Version:
    name: Version
    in: query
    type: string
    required: true
  X-Amz-Content-Sha256:
    name: X-Amz-Content-Sha256
    in: header
    type: string
    required: false
  X-Amz-Date:
    name: X-Amz-Date
    in: header
    type: string
    required: false
  X-Amz-Algorithm:
    name: X-Amz-Algorithm
    in: header
    type: string
    required: false
  X-Amz-Credential:
    name: X-Amz-Credential
    in: header
    type: string
    required: false
  X-Amz-Security-Token:
    name: X-Amz-Security-Token
    in: header
    type: string
    required: false
  X-Amz-Signature:
    name: X-Amz-Signature
    in: header
    type: string
    required: false
  X-Amz-SignedHeaders:
    name: X-Amz-SignedHeaders
    in: header
    type: string
    required: false
securityDefinitions:
  hmac:
    type: apiKey
    name: Authorization
    in: header
    description: Amazon Signature authorization v4
    x-amazon-apigateway-authtype: awsSigv4
security:
  - hmac: []
paths:
  /2017-08-29/certificates:
    post:
      operationId: AssociateCertificate
      description: Associates an AWS Certificate Manager (ACM) Amazon Resource Name (ARN) with AWS Elemental MediaConvert.
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/AssociateCertificateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/AssociateCertificateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2017-08-29/jobs/{id}':
    delete:
      operationId: CancelJob
      description: 'Permanently cancel a job. Once you have canceled a job, you can''t start it again.'
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/CancelJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CancelJobRequest'
        - name: id
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJob
      description: Retrieve the JSON for a specific completed transcoding job.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetJobRequest'
        - name: id
          type: string
          in: path
          required: true
  /2017-08-29/jobs:
    post:
      operationId: CreateJob
      description: 'Create a new transcoding job. For information about jobs and job settings, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateJobRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListJobs
      description: 'Retrieve a JSON array of up to twenty of your most recently created jobs. This array includes in-process, completed, and errored jobs. This will return the jobs themselves, not just a list of the jobs. To retrieve the twenty next most recent jobs, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListJobsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /2017-08-29/jobTemplates:
    post:
      operationId: CreateJobTemplate
      description: 'Create a new job template. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateJobTemplateRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListJobTemplates
      description: 'Retrieve a JSON array of up to twenty of your job templates. This will return the templates themselves, not just a list of them. To retrieve the next twenty templates, use the nextToken string returned with the array'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListJobTemplatesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListJobTemplatesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /2017-08-29/presets:
    post:
      operationId: CreatePreset
      description: 'Create a new preset. For information about job templates see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreatePresetRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListPresets
      description: 'Retrieve a JSON array of up to twenty of your presets. This will return the presets themselves, not just a list of them. To retrieve the next twenty presets, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListPresetsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListPresetsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  /2017-08-29/queues:
    post:
      operationId: CreateQueue
      description: 'Create a new transcoding queue. For information about queues, see Working With Queues in the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html'
      responses:
        '201':
          description: Success
          schema:
            $ref: '#/definitions/CreateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/CreateQueueRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: ListQueues
      description: 'Retrieve a JSON array of up to twenty of your queues. This will return the queues themselves, not just a list of them. To retrieve the next twenty queues, use the nextToken string returned with the array.'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListQueuesResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListQueuesRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
  '/2017-08-29/jobTemplates/{name}':
    delete:
      operationId: DeleteJobTemplate
      description: Permanently delete a job template you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteJobTemplateRequest'
        - name: name
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetJobTemplate
      description: Retrieve the JSON for a specific job template.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetJobTemplateRequest'
        - name: name
          type: string
          in: path
          required: true
    put:
      operationId: UpdateJobTemplate
      description: Modify one of your existing job templates.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateJobTemplateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateJobTemplateRequest'
        - name: name
          type: string
          in: path
          required: true
  '/2017-08-29/presets/{name}':
    delete:
      operationId: DeletePreset
      description: Permanently delete a preset you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeletePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeletePresetRequest'
        - name: name
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetPreset
      description: Retrieve the JSON for a specific preset.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetPresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetPresetRequest'
        - name: name
          type: string
          in: path
          required: true
    put:
      operationId: UpdatePreset
      description: Modify one of your existing presets.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdatePresetResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdatePresetRequest'
        - name: name
          type: string
          in: path
          required: true
  '/2017-08-29/queues/{name}':
    delete:
      operationId: DeleteQueue
      description: Permanently delete a queue you have created.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DeleteQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DeleteQueueRequest'
        - name: name
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    get:
      operationId: GetQueue
      description: Retrieve the JSON for a specific queue.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/GetQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/GetQueueRequest'
        - name: name
          type: string
          in: path
          required: true
    put:
      operationId: UpdateQueue
      description: Modify one of your existing queues.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UpdateQueueResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UpdateQueueRequest'
        - name: name
          type: string
          in: path
          required: true
  /2017-08-29/endpoints:
    post:
      operationId: DescribeEndpoints
      description: Send an request with an empty body to the regional API endpoint to get your account API endpoint.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/DescribeEndpointsResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DescribeEndpointsRequest'
        - name: MaxResults
          type: string
          in: query
          description: Pagination limit
          required: false
        - name: NextToken
          type: string
          in: query
          description: Pagination token
          required: false
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2017-08-29/certificates/{arn}':
    delete:
      operationId: DisassociateCertificate
      description: Removes an association between the Amazon Resource Name (ARN) of an AWS Certificate Manager (ACM) certificate and an AWS Elemental MediaConvert resource.
      responses:
        '202':
          description: Success
          schema:
            $ref: '#/definitions/DisassociateCertificateResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/DisassociateCertificateRequest'
        - name: arn
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
  '/2017-08-29/tags/{arn}':
    get:
      operationId: ListTagsForResource
      description: Retrieve the tags for a MediaConvert resource.
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/ListTagsForResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/ListTagsForResourceRequest'
        - name: arn
          type: string
          in: path
          required: true
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
    put:
      operationId: UntagResource
      description: 'Remove tags from a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/UntagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/UntagResourceRequest'
        - name: arn
          type: string
          in: path
          required: true
  /2017-08-29/tags:
    post:
      operationId: TagResource
      description: 'Add tags to a MediaConvert queue, preset, or job template. For information about tagging, see the User Guide at https://docs.aws.amazon.com/mediaconvert/latest/ug/tagging-resources.html'
      responses:
        '200':
          description: Success
          schema:
            $ref: '#/definitions/TagResourceResponse'
        '480':
          description: BadRequestException
          schema:
            $ref: '#/definitions/BadRequestException'
        '481':
          description: InternalServerErrorException
          schema:
            $ref: '#/definitions/InternalServerErrorException'
        '482':
          description: ForbiddenException
          schema:
            $ref: '#/definitions/ForbiddenException'
        '483':
          description: NotFoundException
          schema:
            $ref: '#/definitions/NotFoundException'
        '484':
          description: TooManyRequestsException
          schema:
            $ref: '#/definitions/TooManyRequestsException'
        '485':
          description: ConflictException
          schema:
            $ref: '#/definitions/ConflictException'
      parameters:
        - name: body
          in: body
          required: true
          schema:
            $ref: '#/definitions/TagResourceRequest'
    parameters:
      - $ref: '#/parameters/Action'
      - $ref: '#/parameters/Version'
      - $ref: '#/parameters/X-Amz-Content-Sha256'
      - $ref: '#/parameters/X-Amz-Date'
      - $ref: '#/parameters/X-Amz-Algorithm'
      - $ref: '#/parameters/X-Amz-Credential'
      - $ref: '#/parameters/X-Amz-Security-Token'
      - $ref: '#/parameters/X-Amz-Signature'
      - $ref: '#/parameters/X-Amz-SignedHeaders'
definitions:
  AssociateCertificateResponse:
    type: object
    properties: {}
  AssociateCertificateRequest:
    type: object
    required:
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the ACM certificate that you want to associate with your MediaConvert resource.
  BadRequestException: {}
  InternalServerErrorException: {}
  ForbiddenException: {}
  NotFoundException: {}
  TooManyRequestsException: {}
  ConflictException: {}
  CancelJobResponse:
    type: object
    properties: {}
  CancelJobRequest:
    type: object
    properties: {}
  CreateJobResponse:
    type: object
    properties:
      Job:
        $ref: '#/definitions/Job'
        description: 'Each job converts an input file into an output file or files. For more information, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
  CreateJobRequest:
    type: object
    required:
      - Role
      - Settings
    properties:
      AccelerationSettings:
        $ref: '#/definitions/AccelerationSettings'
        description: 'This is a beta feature. If you are interested in using this feature, please contact AWS customer support.'
      BillingTagsSource:
        $ref: '#/definitions/BillingTagsSource'
        description: 'Optional. Choose a tag type that AWS Billing and Cost Management will use to sort your AWS Elemental MediaConvert costs on any billing report that you set up. Any transcoding outputs that don''t have an associated tag will appear in your billing report unsorted. If you don''t choose a valid value for this field, your job outputs will appear on the billing report unsorted.'
      ClientRequestToken:
        $ref: '#/definitions/__string'
        description: Idempotency token for CreateJob operation.
      JobTemplate:
        $ref: '#/definitions/__string'
        description: 'When you create a job, you can either specify a job template or specify the transcoding settings individually'
      Queue:
        $ref: '#/definitions/__string'
        description: 'Optional. When you create a job, you can specify a queue to send it to. If you don''t specify, the job will go to the default queue. For more about queues, see the User Guide topic at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html.'
      Role:
        $ref: '#/definitions/__string'
        description: 'Required. The IAM role you use for creating this job. For details about permissions, see the User Guide topic at the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/iam-role.html.'
      Settings:
        $ref: '#/definitions/JobSettings'
        description: JobSettings contains all the transcode settings for a job.
      StatusUpdateInterval:
        $ref: '#/definitions/StatusUpdateInterval'
        description: 'Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.'
      UserMetadata:
        $ref: '#/definitions/__mapOf__string'
        description: User-defined metadata that you want to associate with an MediaConvert job. You specify metadata in key/value pairs.
  CreateJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/JobTemplate'
        description: A job template is a pre-made set of encoding instructions that you can use to quickly create a job.
  CreateJobTemplateRequest:
    type: object
    required:
      - Settings
      - Name
    properties:
      AccelerationSettings:
        $ref: '#/definitions/AccelerationSettings'
        description: This is a beta feature. If you are interested in using this feature please contact AWS customer support.
      Category:
        $ref: '#/definitions/__string'
        description: Optional. A category for the job template you are creating
      Description:
        $ref: '#/definitions/__string'
        description: Optional. A description of the job template you are creating.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the job template you are creating.
      Queue:
        $ref: '#/definitions/__string'
        description: 'Optional. The queue that jobs created from this template are assigned to. If you don''t specify this, jobs will go to the default queue.'
      Settings:
        $ref: '#/definitions/JobTemplateSettings'
        description: JobTemplateSettings contains all the transcode settings saved in the template that will be applied to jobs created from it.
      StatusUpdateInterval:
        $ref: '#/definitions/StatusUpdateInterval'
        description: 'Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.'
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
  CreatePresetResponse:
    type: object
    properties:
      Preset:
        $ref: '#/definitions/Preset'
        description: A preset is a collection of preconfigured media conversion settings that you want MediaConvert to apply to the output during the conversion process.
  CreatePresetRequest:
    type: object
    required:
      - Settings
      - Name
    properties:
      Category:
        $ref: '#/definitions/__string'
        description: Optional. A category for the preset you are creating.
      Description:
        $ref: '#/definitions/__string'
        description: Optional. A description of the preset you are creating.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the preset you are creating.
      Settings:
        $ref: '#/definitions/PresetSettings'
        description: Settings for preset
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
  CreateQueueResponse:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/Queue'
        description: 'You can use queues to manage the resources that are available to your AWS account for running multiple transcoding jobs at the same time. If you don''t specify a queue, the service sends all jobs through the default queue. For more information, see https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html.'
  CreateQueueRequest:
    type: object
    required:
      - Name
    properties:
      Description:
        $ref: '#/definitions/__string'
        description: Optional. A description of the queue that you are creating.
      Name:
        $ref: '#/definitions/__string'
        description: The name of the queue that you are creating.
      PricingPlan:
        $ref: '#/definitions/PricingPlan'
        description: 'Specifies whether the pricing plan for the queue is on-demand or reserved. For on-demand, you pay per minute, billed in increments of .01 minute. For reserved, you pay for the transcoding capacity of the entire queue, regardless of how much or how little you use it. Reserved pricing requires a 12-month commitment. When you use the API to create a queue, the default is on-demand.'
      ReservationPlanSettings:
        $ref: '#/definitions/ReservationPlanSettings'
        description: Details about the pricing plan for your reserved queue. Required for reserved queues and not applicable to on-demand queues.
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
  DeleteJobTemplateResponse:
    type: object
    properties: {}
  DeleteJobTemplateRequest:
    type: object
    properties: {}
  DeletePresetResponse:
    type: object
    properties: {}
  DeletePresetRequest:
    type: object
    properties: {}
  DeleteQueueResponse:
    type: object
    properties: {}
  DeleteQueueRequest:
    type: object
    properties: {}
  DescribeEndpointsResponse:
    type: object
    properties:
      Endpoints:
        $ref: '#/definitions/__listOfEndpoint'
        description: List of endpoints
      NextToken:
        $ref: '#/definitions/__string'
        description: Use this string to request the next batch of endpoints.
  DescribeEndpointsRequest:
    type: object
    properties:
      MaxResults:
        $ref: '#/definitions/__integer'
        description: 'Optional. Max number of endpoints, up to twenty, that will be returned at one time.'
      Mode:
        $ref: '#/definitions/DescribeEndpointsMode'
        description: 'Optional field, defaults to DEFAULT. Specify DEFAULT for this operation to return your endpoints if any exist, or to create an endpoint for you and return it if one doesn''t already exist. Specify GET_ONLY to return your endpoints if any exist, or an empty list if none exist.'
      NextToken:
        $ref: '#/definitions/__string'
        description: 'Use this string, provided with the response to a previous request, to request the next batch of endpoints.'
    description: DescribeEndpointsRequest
  DisassociateCertificateResponse:
    type: object
    properties: {}
  DisassociateCertificateRequest:
    type: object
    required:
      - Arn
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: The ARN of the ACM certificate that you want to disassociate from your MediaConvert resource.
  GetJobResponse:
    type: object
    properties:
      Job:
        $ref: '#/definitions/Job'
        description: 'Each job converts an input file into an output file or files. For more information, see the User Guide at http://docs.aws.amazon.com/mediaconvert/latest/ug/what-is.html'
  GetJobRequest:
    type: object
    properties: {}
  GetJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/JobTemplate'
        description: A job template is a pre-made set of encoding instructions that you can use to quickly create a job.
  GetJobTemplateRequest:
    type: object
    properties: {}
  GetPresetResponse:
    type: object
    properties:
      Preset:
        $ref: '#/definitions/Preset'
        description: A preset is a collection of preconfigured media conversion settings that you want MediaConvert to apply to the output during the conversion process.
  GetPresetRequest:
    type: object
    properties: {}
  GetQueueResponse:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/Queue'
        description: 'You can use queues to manage the resources that are available to your AWS account for running multiple transcoding jobs at the same time. If you don''t specify a queue, the service sends all jobs through the default queue. For more information, see https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html.'
  GetQueueRequest:
    type: object
    properties: {}
  ListJobTemplatesResponse:
    type: object
    properties:
      JobTemplates:
        $ref: '#/definitions/__listOfJobTemplate'
        description: List of Job templates.
      NextToken:
        $ref: '#/definitions/__string'
        description: Use this string to request the next batch of job templates.
  ListJobTemplatesRequest:
    type: object
    properties: {}
  ListJobsResponse:
    type: object
    properties:
      Jobs:
        $ref: '#/definitions/__listOfJob'
        description: List of jobs
      NextToken:
        $ref: '#/definitions/__string'
        description: Use this string to request the next batch of jobs.
  ListJobsRequest:
    type: object
    properties: {}
  ListPresetsResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: Use this string to request the next batch of presets.
      Presets:
        $ref: '#/definitions/__listOfPreset'
        description: List of presets
  ListPresetsRequest:
    type: object
    properties: {}
  ListQueuesResponse:
    type: object
    properties:
      NextToken:
        $ref: '#/definitions/__string'
        description: Use this string to request the next batch of queues.
      Queues:
        $ref: '#/definitions/__listOfQueue'
        description: List of queues.
  ListQueuesRequest:
    type: object
    properties: {}
  ListTagsForResourceResponse:
    type: object
    properties:
      ResourceTags:
        $ref: '#/definitions/ResourceTags'
        description: The Amazon Resource Name (ARN) and tags for an AWS Elemental MediaConvert resource.
  ListTagsForResourceRequest:
    type: object
    properties: {}
  TagResourceResponse:
    type: object
    properties: {}
  TagResourceRequest:
    type: object
    required:
      - Arn
      - Tags
    properties:
      Arn:
        $ref: '#/definitions/__string'
        description: 'The Amazon Resource Name (ARN) of the resource that you want to tag. To get the ARN, send a GET request with the resource name.'
      Tags:
        $ref: '#/definitions/__mapOf__string'
        description: The tags that you want to add to the resource. You can tag resources with a key-value pair or with only a key.
  UntagResourceResponse:
    type: object
    properties: {}
  UntagResourceRequest:
    type: object
    properties:
      TagKeys:
        $ref: '#/definitions/__listOf__string'
        description: The keys of the tags that you want to remove from the resource.
  UpdateJobTemplateResponse:
    type: object
    properties:
      JobTemplate:
        $ref: '#/definitions/JobTemplate'
        description: A job template is a pre-made set of encoding instructions that you can use to quickly create a job.
  UpdateJobTemplateRequest:
    type: object
    properties:
      AccelerationSettings:
        $ref: '#/definitions/AccelerationSettings'
        description: 'This is a beta feature. If you are interested in using this feature, please contact AWS customer support.'
      Category:
        $ref: '#/definitions/__string'
        description: 'The new category for the job template, if you are changing it.'
      Description:
        $ref: '#/definitions/__string'
        description: 'The new description for the job template, if you are changing it.'
      Queue:
        $ref: '#/definitions/__string'
        description: 'The new queue for the job template, if you are changing it.'
      Settings:
        $ref: '#/definitions/JobTemplateSettings'
        description: JobTemplateSettings contains all the transcode settings saved in the template that will be applied to jobs created from it.
      StatusUpdateInterval:
        $ref: '#/definitions/StatusUpdateInterval'
        description: 'Specify how often MediaConvert sends STATUS_UPDATE events to Amazon CloudWatch Events. Set the interval, in seconds, between status updates. MediaConvert sends an update at this interval from the time the service begins processing your job to the time it completes the transcode or encounters an error.'
  UpdatePresetResponse:
    type: object
    properties:
      Preset:
        $ref: '#/definitions/Preset'
        description: A preset is a collection of preconfigured media conversion settings that you want MediaConvert to apply to the output during the conversion process.
  UpdatePresetRequest:
    type: object
    properties:
      Category:
        $ref: '#/definitions/__string'
        description: 'The new category for the preset, if you are changing it.'
      Description:
        $ref: '#/definitions/__string'
        description: 'The new description for the preset, if you are changing it.'
      Settings:
        $ref: '#/definitions/PresetSettings'
        description: Settings for preset
  UpdateQueueResponse:
    type: object
    properties:
      Queue:
        $ref: '#/definitions/Queue'
        description: 'You can use queues to manage the resources that are available to your AWS account for running multiple transcoding jobs at the same time. If you don''t specify a queue, the service sends all jobs through the default queue. For more information, see https://docs.aws.amazon.com/mediaconvert/latest/ug/working-with-queues.html.'
  UpdateQueueRequest:
    type: object
    properties:
      Description:
        $ref: '#/definitions/__string'
        description: 'The new description for the queue, if you are changing it.'
      ReservationPlanSettings:
        $ref: '#/definitions/ReservationPlanSettings'
        description: 'The new details of your pricing plan for your reserved queue. When you set up a new pricing plan to replace an expired one, you enter into another 12-month commitment. When you add capacity to your queue by increasing the number of RTS, you extend the term of your commitment to 12 months from when you add capacity. After you make these commitments, you can''t cancel them.'
      Status:
        $ref: '#/definitions/QueueStatus'
        description: 'Pause or activate a queue by changing its status between ACTIVE and PAUSED. If you pause a queue, jobs in that queue won''t begin. Jobs that are running when you pause the queue continue to run until they finish or result in an error.'
  AacAudioDescriptionBroadcasterMix:
    type: string
    enum:
      - BROADCASTER_MIXED_AD
      - NORMAL
    description: 'Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains "broadcaster mixed AD". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.'
  AacCodecProfile:
    type: string
    enum:
      - LC
      - HEV1
      - HEV2
    description: AAC Profile.
  AacCodingMode:
    type: string
    enum:
      - AD_RECEIVER_MIX
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_5_1
    description: 'Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. "1.0 - Audio Description (Receiver Mix)" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.'
  AacRateControlMode:
    type: string
    enum:
      - CBR
      - VBR
    description: Rate Control Mode.
  AacRawFormat:
    type: string
    enum:
      - LATM_LOAS
      - NONE
    description: 'Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose "No container" for the output container.'
  __integerMin6000Max1024000:
    type: integer
    minimum: 6000
    maximum: 1024000
  __integerMin8000Max96000:
    type: integer
    minimum: 8000
    maximum: 96000
  AacSpecification:
    type: string
    enum:
      - MPEG2
      - MPEG4
    description: Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.
  AacVbrQuality:
    type: string
    enum:
      - LOW
      - MEDIUM_LOW
      - MEDIUM_HIGH
      - HIGH
    description: VBR Quality Level - Only used if rate_control_mode is VBR.
  AacSettings:
    type: object
    properties:
      AudioDescriptionBroadcasterMix:
        $ref: '#/definitions/AacAudioDescriptionBroadcasterMix'
        description: 'Choose BROADCASTER_MIXED_AD when the input contains pre-mixed main audio + audio description (AD) as a stereo pair. The value for AudioType will be set to 3, which signals to downstream systems that this stream contains "broadcaster mixed AD". Note that the input received by the encoder must contain pre-mixed audio; the encoder does not perform the mixing. When you choose BROADCASTER_MIXED_AD, the encoder ignores any values you provide in AudioType and  FollowInputAudioType. Choose NORMAL when the input does not contain pre-mixed audio + audio description (AD). In this case, the encoder will use any values you provide for AudioType and FollowInputAudioType.'
      Bitrate:
        $ref: '#/definitions/__integerMin6000Max1024000'
        description: 'Average bitrate in bits/second. The set of valid values for this setting is: 6000, 8000, 10000, 12000, 14000, 16000, 20000, 24000, 28000, 32000, 40000, 48000, 56000, 64000, 80000, 96000, 112000, 128000, 160000, 192000, 224000, 256000, 288000, 320000, 384000, 448000, 512000, 576000, 640000, 768000, 896000, 1024000. The value you set is also constrained by the values you choose for Profile (codecProfile), Bitrate control mode (codingMode), and Sample rate (sampleRate). Default values depend on Bitrate control mode and Profile.'
      CodecProfile:
        $ref: '#/definitions/AacCodecProfile'
        description: AAC Profile.
      CodingMode:
        $ref: '#/definitions/AacCodingMode'
        description: 'Mono (Audio Description), Mono, Stereo, or 5.1 channel layout. Valid values depend on rate control mode and profile. "1.0 - Audio Description (Receiver Mix)" setting receives a stereo description plus control track and emits a mono AAC encode of the description track, with control data emitted in the PES header as per ETSI TS 101 154 Annex E.'
      RateControlMode:
        $ref: '#/definitions/AacRateControlMode'
        description: Rate Control Mode.
      RawFormat:
        $ref: '#/definitions/AacRawFormat'
        description: 'Enables LATM/LOAS AAC output. Note that if you use LATM/LOAS AAC in an output, you must choose "No container" for the output container.'
      SampleRate:
        $ref: '#/definitions/__integerMin8000Max96000'
        description: Sample rate in Hz. Valid values depend on rate control mode and profile.
      Specification:
        $ref: '#/definitions/AacSpecification'
        description: Use MPEG-2 AAC instead of MPEG-4 AAC audio for raw or MPEG-2 Transport Stream containers.
      VbrQuality:
        $ref: '#/definitions/AacVbrQuality'
        description: VBR Quality Level - Only used if rate_control_mode is VBR.
    description: 'Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to "VBR" or "CBR".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.'
  Ac3BitstreamMode:
    type: string
    enum:
      - COMPLETE_MAIN
      - COMMENTARY
      - DIALOGUE
      - EMERGENCY
      - HEARING_IMPAIRED
      - MUSIC_AND_EFFECTS
      - VISUALLY_IMPAIRED
      - VOICE_OVER
    description: Specifies the "Bitstream Mode" (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.
  Ac3CodingMode:
    type: string
    enum:
      - CODING_MODE_1_0
      - CODING_MODE_1_1
      - CODING_MODE_2_0
      - CODING_MODE_3_2_LFE
    description: Dolby Digital coding mode. Determines number of channels.
  Ac3DynamicRangeCompressionProfile:
    type: string
    enum:
      - FILM_STANDARD
      - NONE
    description: 'If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.'
  Ac3LfeFilter:
    type: string
    enum:
      - ENABLED
      - DISABLED
    description: Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.
  Ac3MetadataControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: 'When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
  __integerMin64000Max640000:
    type: integer
    minimum: 64000
    maximum: 640000
  __integerMin1Max31:
    type: integer
    minimum: 1
    maximum: 31
  __integerMin48000Max48000:
    type: integer
    minimum: 48000
    maximum: 48000
  Ac3Settings:
    type: object
    properties:
      Bitrate:
        $ref: '#/definitions/__integerMin64000Max640000'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Ac3BitstreamMode'
        description: Specifies the "Bitstream Mode" (bsmod) for the emitted AC-3 stream. See ATSC A/52-2012 for background on these values.
      CodingMode:
        $ref: '#/definitions/Ac3CodingMode'
        description: Dolby Digital coding mode. Determines number of channels.
      Dialnorm:
        $ref: '#/definitions/__integerMin1Max31'
        description: 'Sets the dialnorm for the output. If blank and input audio is Dolby Digital, dialnorm will be passed through.'
      DynamicRangeCompressionProfile:
        $ref: '#/definitions/Ac3DynamicRangeCompressionProfile'
        description: 'If set to FILM_STANDARD, adds dynamic range compression signaling to the output bitstream as defined in the Dolby Digital specification.'
      LfeFilter:
        $ref: '#/definitions/Ac3LfeFilter'
        description: Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.
      MetadataControl:
        $ref: '#/definitions/Ac3MetadataControl'
        description: 'When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
      SampleRate:
        $ref: '#/definitions/__integerMin48000Max48000'
        description: Sample rate in hz. Sample rate is always 48000.
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.
  AccelerationMode:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: Acceleration configuration for the job.
  AccelerationSettings:
    type: object
    required:
      - Mode
    properties:
      Mode:
        $ref: '#/definitions/AccelerationMode'
        description: Acceleration configuration for the job.
    description: Accelerated transcoding is currently in private preview. Contact AWS for more information.
  AfdSignaling:
    type: string
    enum:
      - NONE
      - AUTO
      - FIXED
    description: 'This setting only applies to H.264, H.265, and MPEG2 outputs. Use Insert AFD signaling (AfdSignaling) to specify whether the service includes AFD values in the output video data and what those values are. * Choose None to remove all AFD values from this output. * Choose Fixed to ignore input AFD values and instead encode the value specified in the job. * Choose Auto to calculate output AFD values based on the input AFD scaler data.'
  __integerMin16Max24:
    type: integer
    minimum: 16
    maximum: 24
  __integerMin1Max2:
    type: integer
    minimum: 1
    maximum: 2
  __integerMin8000Max192000:
    type: integer
    minimum: 8000
    maximum: 192000
  AiffSettings:
    type: object
    properties:
      BitDepth:
        $ref: '#/definitions/__integerMin16Max24'
        description: 'Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.'
      Channels:
        $ref: '#/definitions/__integerMin1Max2'
        description: 'Set Channels to specify the number of channels in this output audio track. Choosing Mono in the console will give you 1 output channel; choosing Stereo will give you 2. In the API, valid values are 1 and 2.'
      SampleRate:
        $ref: '#/definitions/__integerMin8000Max192000'
        description: Sample rate in hz.
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.
  __integerMin1Max4:
    type: integer
    minimum: 1
    maximum: 4
  AncillarySourceSettings:
    type: object
    properties:
      SourceAncillaryChannelNumber:
        $ref: '#/definitions/__integerMin1Max4'
        description: Specifies the 608 channel number in the ancillary data track from which to extract captions. Unused for passthrough.
    description: Settings for ancillary captions source.
  AntiAlias:
    type: string
    enum:
      - DISABLED
      - ENABLED
    description: 'The anti-alias filter is automatically applied to all outputs. The service no longer accepts the value DISABLED for AntiAlias. If you specify that in your job, the service will ignore the setting.'
  __string:
    type: string
  AudioCodec:
    type: string
    enum:
      - AAC
      - MP2
      - WAV
      - AIFF
      - AC3
      - EAC3
      - PASSTHROUGH
    description: Type of Audio codec.
  Eac3Settings:
    type: object
    properties:
      AttenuationControl:
        $ref: '#/definitions/Eac3AttenuationControl'
        description: 'If set to ATTENUATE_3_DB, applies a 3 dB attenuation to the surround channels. Only used for 3/2 coding mode.'
      Bitrate:
        $ref: '#/definitions/__integerMin64000Max640000'
        description: Average bitrate in bits/second. Valid bitrates depend on the coding mode.
      BitstreamMode:
        $ref: '#/definitions/Eac3BitstreamMode'
        description: Specifies the "Bitstream Mode" (bsmod) for the emitted E-AC-3 stream. See ATSC A/52-2012 (Annex E) for background on these values.
      CodingMode:
        $ref: '#/definitions/Eac3CodingMode'
        description: Dolby Digital Plus coding mode. Determines number of channels.
      DcFilter:
        $ref: '#/definitions/Eac3DcFilter'
        description: Activates a DC highpass filter for all input channels.
      Dialnorm:
        $ref: '#/definitions/__integerMin1Max31'
        description: 'Sets the dialnorm for the output. If blank and input audio is Dolby Digital Plus, dialnorm will be passed through.'
      DynamicRangeCompressionLine:
        $ref: '#/definitions/Eac3DynamicRangeCompressionLine'
        description: Enables Dynamic Range Compression that restricts the absolute peak level for a signal.
      DynamicRangeCompressionRf:
        $ref: '#/definitions/Eac3DynamicRangeCompressionRf'
        description: 'Enables Heavy Dynamic Range Compression, ensures that the instantaneous signal peaks do not exceed specified levels.'
      LfeControl:
        $ref: '#/definitions/Eac3LfeControl'
        description: 'When encoding 3/2 audio, controls whether the LFE channel is enabled'
      LfeFilter:
        $ref: '#/definitions/Eac3LfeFilter'
        description: Applies a 120Hz lowpass filter to the LFE channel prior to encoding. Only valid with 3_2_LFE coding mode.
      LoRoCenterMixLevel:
        $ref: '#/definitions/__doubleMinNegative60Max3'
        description: |-
          Left only/Right only center mix level. Only used for 3/2 coding mode.
          Valid values: 3.0, 1.5, 0.0, -1.5 -3.0 -4.5 -6.0 -60
      LoRoSurroundMixLevel:
        $ref: '#/definitions/__doubleMinNegative60MaxNegative1'
        description: |-
          Left only/Right only surround mix level. Only used for 3/2 coding mode.
          Valid values: -1.5 -3.0 -4.5 -6.0 -60
      LtRtCenterMixLevel:
        $ref: '#/definitions/__doubleMinNegative60Max3'
        description: |-
          Left total/Right total center mix level. Only used for 3/2 coding mode.
          Valid values: 3.0, 1.5, 0.0, -1.5 -3.0 -4.5 -6.0 -60
      LtRtSurroundMixLevel:
        $ref: '#/definitions/__doubleMinNegative60MaxNegative1'
        description: |-
          Left total/Right total surround mix level. Only used for 3/2 coding mode.
          Valid values: -1.5 -3.0 -4.5 -6.0 -60
      MetadataControl:
        $ref: '#/definitions/Eac3MetadataControl'
        description: 'When set to FOLLOW_INPUT, encoder metadata will be sourced from the DD, DD+, or DolbyE decoder that supplied this audio data. If audio was not supplied from one of these streams, then the static metadata settings will be used.'
      PassthroughControl:
        $ref: '#/definitions/Eac3PassthroughControl'
        description: 'When set to WHEN_POSSIBLE, input DD+ audio will be passed through if it is present on the input. this detection is dynamic over the life of the transcode. Inputs that alternate between DD+ and non-DD+ content will have a consistent DD+ output as the system alternates between passthrough and encoding.'
      PhaseControl:
        $ref: '#/definitions/Eac3PhaseControl'
        description: Controls the amount of phase-shift applied to the surround channels. Only used for 3/2 coding mode.
      SampleRate:
        $ref: '#/definitions/__integerMin48000Max48000'
        description: Sample rate in hz. Sample rate is always 48000.
      StereoDownmix:
        $ref: '#/definitions/Eac3StereoDownmix'
        description: Stereo downmix preference. Only used for 3/2 coding mode.
      SurroundExMode:
        $ref: '#/definitions/Eac3SurroundExMode'
        description: 'When encoding 3/2 audio, sets whether an extra center back surround channel is matrix encoded into the left and right surround channels.'
      SurroundMode:
        $ref: '#/definitions/Eac3SurroundMode'
        description: 'When encoding 2/0 audio, sets whether Dolby Surround is matrix encoded into the two channels.'
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.
  Mp2Settings:
    type: object
    properties:
      Bitrate:
        $ref: '#/definitions/__integerMin32000Max384000'
        description: Average bitrate in bits/second.
      Channels:
        $ref: '#/definitions/__integerMin1Max2'
        description: 'Set Channels to specify the number of channels in this output audio track. Choosing Mono in the console will give you 1 output channel; choosing Stereo will give you 2. In the API, valid values are 1 and 2.'
      SampleRate:
        $ref: '#/definitions/__integerMin32000Max48000'
        description: Sample rate in hz.
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value MP2.
  WavSettings:
    type: object
    properties:
      BitDepth:
        $ref: '#/definitions/__integerMin16Max24'
        description: 'Specify Bit depth (BitDepth), in bits per sample, to choose the encoding quality for this audio track.'
      Channels:
        $ref: '#/definitions/__integerMin1Max8'
        description: 'Set Channels to specify the number of channels in this output audio track. With WAV, valid values 1, 2, 4, and 8. In the console, these values are Mono, Stereo, 4-Channel, and 8-Channel, respectively.'
      Format:
        $ref: '#/definitions/WavFormat'
        description: 'The service defaults to using RIFF for WAV outputs. If your output audio is likely to exceed 4 GB in file size, or if you otherwise need the extended support of the RF64 format, set your output WAV file format to RF64.'
      SampleRate:
        $ref: '#/definitions/__integerMin8000Max192000'
        description: Sample rate in Hz.
    description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value WAV.
  AudioCodecSettings:
    type: object
    properties:
      AacSettings:
        $ref: '#/definitions/AacSettings'
        description: 'Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AAC. The service accepts one of two mutually exclusive groups of AAC settings--VBR and CBR. To select one of these modes, set the value of Bitrate control mode (rateControlMode) to "VBR" or "CBR".  In VBR mode, you control the audio quality with the setting VBR quality (vbrQuality). In CBR mode, you use the setting Bitrate (bitrate). Defaults and valid values depend on the rate control mode.'
      Ac3Settings:
        $ref: '#/definitions/Ac3Settings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AC3.
      AiffSettings:
        $ref: '#/definitions/AiffSettings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value AIFF.
      Codec:
        $ref: '#/definitions/AudioCodec'
        description: Type of Audio codec.
      Eac3Settings:
        $ref: '#/definitions/Eac3Settings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value EAC3.
      Mp2Settings:
        $ref: '#/definitions/Mp2Settings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value MP2.
      WavSettings:
        $ref: '#/definitions/WavSettings'
        description: Required when you set (Codec) under (AudioDescriptions)>(CodecSettings) to the value WAV.
    description: 'Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value you choose for Audio codec (Codec). For each codec enum you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings'
  AudioDefaultSelection:
    type: string
    enum:
      - DEFAULT
      - NOT_DEFAULT
    description: 'Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can''t find the specified input audio. If you don''t set a default, those outputs have no audio.'
  AudioNormalizationSettings:
    type: object
    properties:
      Algorithm:
        $ref: '#/definitions/AudioNormalizationAlgorithm'
        description: 'Audio normalization algorithm to use. 1770-1 conforms to the CALM Act specification, 1770-2 conforms to the EBU R-128 specification.'
      AlgorithmControl:
        $ref: '#/definitions/AudioNormalizationAlgorithmControl'
        description: 'When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.'
      CorrectionGateLevel:
        $ref: '#/definitions/__integerMinNegative70Max0'
        description: Content measuring above this level will be corrected to the target level. Content measuring below this level will not be corrected. Gating only applies when not using real_time_correction.
      LoudnessLogging:
        $ref: '#/definitions/AudioNormalizationLoudnessLogging'
        description: 'If set to LOG, log each output''s audio track loudness to a CSV file.'
      PeakCalculation:
        $ref: '#/definitions/AudioNormalizationPeakCalculation'
        description: 'If set to TRUE_PEAK, calculate and log the TruePeak for each output''s audio track loudness.'
      TargetLkfs:
        $ref: '#/definitions/__doubleMinNegative59Max0'
        description: 'Target LKFS(loudness) to adjust volume to. If no value is entered, a default value will be used according to the chosen algorithm. The CALM Act (1770-1) recommends a target of -24 LKFS. The EBU R-128 specification (1770-2) recommends a target of -23 LKFS.'
    description: Advanced audio normalization settings.
  __integerMin0Max255:
    type: integer
    minimum: 0
    maximum: 255
  AudioTypeControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: 'When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.'
  __stringMin3Max3PatternAZaZ3:
    type: string
    pattern: '^[A-Za-z]{3}$'
    minLength: 3
    maxLength: 3
  LanguageCode:
    type: string
    enum:
      - ENG
      - SPA
      - FRA
      - DEU
      - GER
      - ZHO
      - ARA
      - HIN
      - JPN
      - RUS
      - POR
      - ITA
      - URD
      - VIE
      - KOR
      - PAN
      - ABK
      - AAR
      - AFR
      - AKA
      - SQI
      - AMH
      - ARG
      - HYE
      - ASM
      - AVA
      - AVE
      - AYM
      - AZE
      - BAM
      - BAK
      - EUS
      - BEL
      - BEN
      - BIH
      - BIS
      - BOS
      - BRE
      - BUL
      - MYA
      - CAT
      - KHM
      - CHA
      - CHE
      - NYA
      - CHU
      - CHV
      - COR
      - COS
      - CRE
      - HRV
      - CES
      - DAN
      - DIV
      - NLD
      - DZO
      - ENM
      - EPO
      - EST
      - EWE
      - FAO
      - FIJ
      - FIN
      - FRM
      - FUL
      - GLA
      - GLG
      - LUG
      - KAT
      - ELL
      - GRN
      - GUJ
      - HAT
      - HAU
      - HEB
      - HER
      - HMO
      - HUN
      - ISL
      - IDO
      - IBO
      - IND
      - INA
      - ILE
      - IKU
      - IPK
      - GLE
      - JAV
      - KAL
      - KAN
      - KAU
      - KAS
      - KAZ
      - KIK
      - KIN
      - KIR
      - KOM
      - KON
      - KUA
      - KUR
      - LAO
      - LAT
      - LAV
      - LIM
      - LIN
      - LIT
      - LUB
      - LTZ
      - MKD
      - MLG
      - MSA
      - MAL
      - MLT
      - GLV
      - MRI
      - MAR
      - MAH
      - MON
      - NAU
      - NAV
      - NDE
      - NBL
      - NDO
      - NEP
      - SME
      - NOR
      - NOB
      - NNO
      - OCI
      - OJI
      - ORI
      - ORM
      - OSS
      - PLI
      - FAS
      - POL
      - PUS
      - QUE
      - QAA
      - RON
      - ROH
      - RUN
      - SMO
      - SAG
      - SAN
      - SRD
      - SRB
      - SNA
      - III
      - SND
      - SIN
      - SLK
      - SLV
      - SOM
      - SOT
      - SUN
      - SWA
      - SSW
      - SWE
      - TGL
      - TAH
      - TGK
      - TAM
      - TAT
      - TEL
      - THA
      - BOD
      - TIR
      - TON
      - TSO
      - TSN
      - TUR
      - TUK
      - TWI
      - UIG
      - UKR
      - UZB
      - VEN
      - VOL
      - WLN
      - CYM
      - FRY
      - WOL
      - XHO
      - YID
      - YOR
      - ZHA
      - ZUL
      - ORJ
      - QPC
      - TNG
    description: 'Specify the language, using the ISO 639-2 three-letter code listed at https://www.loc.gov/standards/iso639-2/php/code_list.php.'
  AudioLanguageCodeControl:
    type: string
    enum:
      - FOLLOW_INPUT
      - USE_CONFIGURED
    description: Choosing FOLLOW_INPUT will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The language specified for languageCode' will be used when USE_CONFIGURED is selected or when FOLLOW_INPUT is selected but there is no ISO 639 language code specified by the input.
  RemixSettings:
    type: object
    properties:
      ChannelMapping:
        $ref: '#/definitions/ChannelMapping'
        description: Channel mapping (ChannelMapping) contains the group of fields that hold the remixing value for each channel. Units are in dB. Acceptable values are within the range from -60 (mute) through 6. A setting of 0 passes the input channel unchanged to the output channel (no attenuation or amplification).
      ChannelsIn:
        $ref: '#/definitions/__integerMin1Max16'
        description: 'Specify the number of audio channels from your input that you want to use in your output. With remixing, you might combine or split the data in these channels, so the number of channels in your final output might be different.'
      ChannelsOut:
        $ref: '#/definitions/__integerMin1Max8'
        description: 'Specify the number of channels in this output after remixing. Valid values: 1, 2, 4, 6, 8'
    description: 'Use Manual audio remixing (RemixSettings) to adjust audio levels for each audio channel in each output of your job. With audio remixing, you can output more or fewer audio channels than your input audio source provides.'
  __stringPatternWS:
    type: string
    pattern: '^[\w\s]*$'
  AudioDescription:
    type: object
    properties:
      AudioNormalizationSettings:
        $ref: '#/definitions/AudioNormalizationSettings'
        description: Advanced audio normalization settings.
      AudioSourceName:
        $ref: '#/definitions/__string'
        description: 'Specifies which audio data to use from each input. In the simplest case, specify an "Audio Selector":#inputs-audio_selector by name based on its order within each input. For example if you specify "Audio Selector 3", then the third audio selector will be used from each input. If an input does not have an "Audio Selector 3", then the audio selector marked as "default" in that input will be used. If there is no audio selector marked as "default", silence will be inserted for the duration of that input. Alternatively, an "Audio Selector Group":#inputs-audio_selector_group name may be specified, with similar default/silence behavior. If no audio_source_name is specified, then "Audio Selector 1" will be chosen automatically.'
      AudioType:
        $ref: '#/definitions/__integerMin0Max255'
        description: 'Applies only if Follow Input Audio Type is unchecked (false). A number between 0 and 255. The following are defined in ISO-IEC 13818-1: 0 = Undefined, 1 = Clean Effects, 2 = Hearing Impaired, 3 = Visually Impaired Commentary, 4-255 = Reserved.'
      AudioTypeControl:
        $ref: '#/definitions/AudioTypeControl'
        description: 'When set to FOLLOW_INPUT, if the input contains an ISO 639 audio_type, then that value is passed through to the output. If the input contains no ISO 639 audio_type, the value in Audio Type is included in the output. Otherwise the value in Audio Type is included in the output. Note that this field and audioType are both ignored if audioDescriptionBroadcasterMix is set to BROADCASTER_MIXED_AD.'
      CodecSettings:
        $ref: '#/definitions/AudioCodecSettings'
        description: 'Audio codec settings (CodecSettings) under (AudioDescriptions) contains the group of settings related to audio encoding. The settings in this group vary depending on the value you choose for Audio codec (Codec). For each codec enum you choose, define the corresponding settings object. The following lists the codec enum, settings object pairs. * AAC, AacSettings * MP2, Mp2Settings * WAV, WavSettings * AIFF, AiffSettings * AC3, Ac3Settings * EAC3, Eac3Settings'
      CustomLanguageCode:
        $ref: '#/definitions/__stringMin3Max3PatternAZaZ3'
        description: 'Specify the language for this audio output track, using the ISO 639-2 or ISO 639-3 three-letter language code. The language specified will be used when ''Follow Input Language Code'' is not selected or when ''Follow Input Language Code'' is selected but there is no ISO 639 language code specified by the input.'
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: Indicates the language of the audio output track. The ISO 639 language specified in the 'Language Code' drop down will be used when 'Follow Input Language Code' is not selected or when 'Follow Input Language Code' is selected but there is no ISO 639 language code specified by the input.
      LanguageCodeControl:
        $ref: '#/definitions/AudioLanguageCodeControl'
        description: Choosing FOLLOW_INPUT will cause the ISO 639 language code of the output to follow the ISO 639 language code of the input. The language specified for languageCode' will be used when USE_CONFIGURED is selected or when FOLLOW_INPUT is selected but there is no ISO 639 language code specified by the input.
      RemixSettings:
        $ref: '#/definitions/RemixSettings'
        description: Advanced audio remixing settings.
      StreamName:
        $ref: '#/definitions/__stringPatternWS'
        description: 'Used for MS Smooth and Apple HLS outputs. Indicates the name displayed by the player (eg. English, or Director Commentary). Alphanumeric characters, spaces, and underscore are legal.'
    description: Description of audio output
  AudioNormalizationAlgorithm:
    type: string
    enum:
      - ITU_BS_1770_1
      - ITU_BS_1770_2
    description: 'Audio normalization algorithm to use. 1770-1 conforms to the CALM Act specification, 1770-2 conforms to the EBU R-128 specification.'
  AudioNormalizationAlgorithmControl:
    type: string
    enum:
      - CORRECT_AUDIO
      - MEASURE_ONLY
    description: 'When enabled the output audio is corrected using the chosen algorithm. If disabled, the audio will be measured but not adjusted.'
  AudioNormalizationLoudnessLogging:
    type: string
    enum:
      - LOG
      - DONT_LOG
    description: 'If set to LOG, log each output''s audio track loudness to a CSV file.'
  AudioNormalizationPeakCalculation:
    type: string
    enum:
      - TRUE_PEAK
      - NONE
    description: 'If set to TRUE_PEAK, calculate and log the TruePeak for each output''s audio track loudness.'
  __integerMinNegative70Max0:
    type: integer
    minimum: -70
    maximum: 0
  __doubleMinNegative59Max0:
    type: number
    format: double
  __stringPatternS3MM2VVMMPPEEGGAAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEE:
    type: string
    pattern: '^(s3:\/\/)([^\/]+\/)+([^\/\.]+|(([^\/]*)\.([mM]2[vV]|[mM][pP][eE][gG]|[aA][vV][iI]|[mM][pP]4|[fF][lL][vV]|[mM][pP][tT]|[mM][pP][gG]|[mM]4[vV]|[tT][rR][pP]|[fF]4[vV]|[mM]2[tT][sS]|[tT][sS]|264|[hH]264|[mM][kK][vV]|[mM][oO][vV]|[mM][tT][sS]|[mM]2[tT]|[wW][mM][vV]|[aA][sS][fF]|[vV][oO][bB]|3[gG][pP]|3[gG][pP][pP]|[mM][xX][fF]|[dD][iI][vV][xX]|[xX][vV][iI][dD]|[rR][aA][wW]|[dD][vV]|[gG][xX][fF]|[mM]1[vV]|3[gG]2|[vV][mM][fF]|[mM]3[uU]8|[lL][cC][hH]|[gG][xX][fF]_[mM][pP][eE][gG]2|[mM][xX][fF]_[mM][pP][eE][gG]2|[mM][xX][fF][hH][dD]|[wW][aA][vV]|[yY]4[mM]|[aA][aA][cC]|[aA][iI][fF][fF]|[mM][pP]2|[aA][cC]3|[eE][cC]3|[dD][tT][sS][eE])))$'
  __integerMinNegative2147483648Max2147483647:
    type: integer
    minimum: -2147483648
    maximum: 2147483647
  __listOf__integerMin1Max2147483647:
    type: array
    items:
      $ref: '#/definitions/__integerMin1Max2147483647'
  __integerMin0Max8:
    type: integer
    minimum: 0
    maximum: 8
  AudioSelectorType:
    type: string
    enum:
      - PID
      - TRACK
      - LANGUAGE_CODE
    description: Specifies the type of the audio selector.
  AudioSelector:
    type: object
    properties:
      CustomLanguageCode:
        $ref: '#/definitions/__stringMin3Max3PatternAZaZ3'
        description: 'Selects a specific language code from within an audio source, using the ISO 639-2 or ISO 639-3 three-letter language code'
      DefaultSelection:
        $ref: '#/definitions/AudioDefaultSelection'
        description: 'Enable this setting on one audio selector to set it as the default for the job. The service uses this default for outputs where it can''t find the specified input audio. If you don''t set a default, those outputs have no audio.'
      ExternalAudioFileInput:
        $ref: '#/definitions/__stringPatternS3MM2VVMMPPEEGGAAVVIIMMPP4FFLLVVMMPPTTMMPPGGMM4VVTTRRPPFF4VVMM2TTSSTTSS264HH264MMKKVVMMOOVVMMTTSSMM2TTWWMMVVAASSFFVVOOBB3GGPP3GGPPPPMMXXFFDDIIVVXXXXVVIIDDRRAAWWDDVVGGXXFFMM1VV3GG2VVMMFFMM3UU8LLCCHHGGXXFFMMPPEEGG2MMXXFFMMPPEEGG2MMXXFFHHDDWWAAVVYY4MMAAAACCAAIIFFFFMMPP2AACC3EECC3DDTTSSEE'
        description: Specifies audio data from an external file source.
      LanguageCode:
        $ref: '#/definitions/LanguageCode'
        description: Selects a specific language code from within an audio source.
      Offset:
        $ref: '#/definitions/__integerMinNegative2147483648Max2147483647'
        description: Specifies a time delta in milliseconds to offset the audio from the input video.
      Pids:
        $ref: '#/definitions/__listOf__integerMin1Max2147483647'
        description: Selects a specific PID from within an audio source (e.g. 257 selects PID 0x101).
      ProgramSelection:
        $ref: '#/definitions/__integerMin0Max8'
        description: 'Use this setting for input streams that contain Dolby E, to have the service extract specific program data from the track. To select multiple programs, create multiple selectors with the same Track and different Program numbers. In the console, this setting is visible when you set Selector type to Track. Choose the program number from the dropdown list. If you are sending a JSON file, provide the program ID, which is part of the audio metadata. If your input file has incorrect metadata, you can choose All channels instead of a program number to have the service ignore the program IDs and include all the programs in the track.'
      RemixSettings:
        $ref: '#/definitions/RemixSettings'
        description: 'Use these settings to reorder the audio channels of one input to match those of another input. This allows you to combine the two files into a single output, one after the other.'
      SelectorType:
        $ref: '#/definitions/AudioSelectorType'
        description: Specifies the type of the audio selector.
      Tracks:
        $ref: '#/definitions/__listOf__integerMin1Max2147483647'
        description: 'Identify a track from the input audio to include in this selector by entering the track index number. To include several tracks in a single audio selector, specify multiple tracks as follows. Using the console, enter a comma-separated list. For examle, type "1,2,3" to include tracks 1 through 3. Specifying directly in your JSON job file, provide the track numbers in an array. For example, "tracks": [1,2,3].'
    description: Selector for Audio
  __listOf__stringMin1:
    type: array
    items:
      $ref: '#/definitions/__stringMin1'
  AudioSelectorGroup:
    type: object
    properties:
      AudioSelectorNames:
        $ref: '#/definitions/__listOf__stringMin1'
        description: 'Name of an Audio Selector within the same input to include in the group.  Audio selector names are standardized, based on their order within the input (e.g., "Audio Selector 1"). The audio selector name parameter can be repeated to add any number of audio selectors to the group.'
    description: Group of Audio Selectors
  __stringMin14PatternS3BmpBMPPngPNG:
    type: string
    pattern: '^(s3:\/\/)(.*?)\.(bmp|BMP|png|PNG)$'
    minLength: 14
  AvailBlanking:
    type: object
    properties:
      AvailBlankingImage:
        $ref: '#/definitions/__stringMin14PatternS3BmpBMPPngPNG'
        description: Blanking image to be used. Leave empty for solid black. Only bmp and png images are supported.
    description: Settings for Avail Blanking
  BillingTagsSource:
    type: string
    enum:
      - QUEUE
      - PRESET
      - JOB_TEMPLATE
    description: 'Optional. Choose a tag type that AWS Billing and Cost Management will use to sort your AWS Elemental MediaConvert costs on any billing report that you set up. Any transcoding outputs that don''t have an associated tag will appear in your billing report unsorted. If you don''t choose a valid value for this field, your job outputs will appear on the billing report unsorted.'
  BurninSubtitleAlignment:
    type: string
    enum:
      - CENTERED
      - LEFT
    description: 'If no explicit x_position or y_position is provided, setting alignment to centered will place the captions at the bottom center of the output. Similarly, setting a left alignment will align captions to the bottom left of the output. If x and y positions are given in conjunction with the alignment parameter, the font will be justified (either left or centered) relative to those coordinates. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
  BurninSubtitleBackgroundColor:
    type: string
    enum:
      - NONE
      - BLACK
      - WHITE
    description: |-
      Specifies the color of the rectangle behind the captions.
      All burn-in and DVB-Sub font settings must match.
  BurninSubtitleFontColor:
    type: string
    enum:
      - WHITE
      - BLACK
      - YELLOW
      - RED
      - GREEN
      - BLUE
    description: 'Specifies the color of the burned-in captions. This option is not valid for source captions that are STL, 608/embedded or teletext. These source settings are already pre-defined by the caption stream. All burn-in and DVB-Sub font settings must match.'
  __integerMin96Max600:
    type: integer
    minimum: 96
    maximum: 600
  FontScript:
    type: string
    enum:
      - AUTOMATIC
      - HANS
      - HANT
[...]
