{
  "swagger": "2.0",
  "info": {
    "title": "Enterprise License Manager API",
    "x-serviceName": "licensing",
    "description": "Licensing API to view and manage license for your domain.",
    "contact": {
      "name": "Google",
      "url": "https://google.com"
    },
    "version": "v1",
    "x-origin": {
      "format": "google",
      "version": "v1",
      "uri": "https://www.googleapis.com/discovery/v1/apis/licensing/v1/rest"
    }
  },
  "host": "www.googleapis.com",
  "basePath": "/apps/licensing/v1/product",
  "schemes": [
    "https"
  ],
  "paths": {
    "/{productId}/sku/{skuId}/user/{userId}": {
      "delete": {
        "description": "Revoke License.",
        "operationId": "licensing.licenseAssignments.delete",
        "responses": {
          "200": {
            "description": "Successful response"
          }
        },
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Name for product",
            "required": true,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "path",
            "description": "Name for sku",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "email id or unique Id of the user",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/apps.licensing"
            ]
          }
        ],
        "tags": [
          "licenseAssignments"
        ]
      },
      "get": {
        "description": "Get license assignment of a particular product and sku for a user",
        "operationId": "licensing.licenseAssignments.get",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LicenseAssignment"
            }
          }
        },
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Name for product",
            "required": true,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "path",
            "description": "Name for sku",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "email id or unique Id of the user",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/apps.licensing"
            ]
          }
        ],
        "tags": [
          "licenseAssignments"
        ]
      },
      "patch": {
        "description": "Assign License. This method supports patch semantics.",
        "operationId": "licensing.licenseAssignments.patch",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LicenseAssignment"
            }
          }
        },
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Name for product",
            "required": true,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "path",
            "description": "Name for sku for which license would be revoked",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "email id or unique Id of the user",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/apps.licensing"
            ]
          }
        ],
        "tags": [
          "licenseAssignments"
        ]
      },
      "put": {
        "description": "Assign License.",
        "operationId": "licensing.licenseAssignments.update",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LicenseAssignment"
            }
          }
        },
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Name for product",
            "required": true,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "path",
            "description": "Name for sku for which license would be revoked",
            "required": true,
            "type": "string"
          },
          {
            "name": "userId",
            "in": "path",
            "description": "email id or unique Id of the user",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/apps.licensing"
            ]
          }
        ],
        "tags": [
          "licenseAssignments"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{productId}/sku/{skuId}/user": {
      "post": {
        "description": "Assign License.",
        "operationId": "licensing.licenseAssignments.insert",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LicenseAssignment"
            }
          }
        },
        "parameters": [
          {
            "name": "productId",
            "in": "path",
            "description": "Name for product",
            "required": true,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "path",
            "description": "Name for sku",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/apps.licensing"
            ]
          }
        ],
        "tags": [
          "licenseAssignments"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{productId}/users": {
      "get": {
        "description": "List license assignments for given product of the customer.",
        "operationId": "licensing.licenseAssignments.listForProduct",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LicenseAssignmentList"
            }
          }
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "CustomerId represents the customer for whom licenseassignments are queried",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.",
            "default": "100",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token to fetch the next page.Optional. By default server will return first page",
            "default": "",
            "type": "string"
          },
          {
            "name": "productId",
            "in": "path",
            "description": "Name for product",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/apps.licensing"
            ]
          }
        ],
        "tags": [
          "licenseAssignments"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    },
    "/{productId}/sku/{skuId}/users": {
      "get": {
        "description": "List license assignments for given product and sku of the customer.",
        "operationId": "licensing.licenseAssignments.listForProductAndSku",
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LicenseAssignmentList"
            }
          }
        },
        "parameters": [
          {
            "name": "customerId",
            "in": "query",
            "description": "CustomerId represents the customer for whom licenseassignments are queried",
            "required": true,
            "type": "string"
          },
          {
            "name": "maxResults",
            "in": "query",
            "description": "Maximum number of campaigns to return at one time. Must be positive. Optional. Default value is 100.",
            "default": "100",
            "type": "integer",
            "minimum": 1,
            "maximum": 1000
          },
          {
            "name": "pageToken",
            "in": "query",
            "description": "Token to fetch the next page.Optional. By default server will return first page",
            "default": "",
            "type": "string"
          },
          {
            "name": "productId",
            "in": "path",
            "description": "Name for product",
            "required": true,
            "type": "string"
          },
          {
            "name": "skuId",
            "in": "path",
            "description": "Name for sku",
            "required": true,
            "type": "string"
          }
        ],
        "security": [
          {
            "Oauth2": [
              "https://www.googleapis.com/auth/apps.licensing"
            ]
          }
        ],
        "tags": [
          "licenseAssignments"
        ]
      },
      "parameters": [
        {
          "$ref": "#/parameters/alt"
        },
        {
          "$ref": "#/parameters/fields"
        },
        {
          "$ref": "#/parameters/key"
        },
        {
          "$ref": "#/parameters/oauth_token"
        },
        {
          "$ref": "#/parameters/prettyPrint"
        },
        {
          "$ref": "#/parameters/quotaUser"
        },
        {
          "$ref": "#/parameters/userIp"
        }
      ]
    }
  },
  "definitions": {
    "LicenseAssignment": {
      "type": "object",
      "description": "Template for LiscenseAssignment Resource",
      "properties": {
        "etags": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a LicenseAssignment.",
          "default": "licensing#licenseAssignment"
        },
        "productId": {
          "type": "string",
          "description": "Name of the product."
        },
        "selfLink": {
          "type": "string",
          "description": "Link to this page."
        },
        "skuId": {
          "type": "string",
          "description": "Name of the sku of the product."
        },
        "userId": {
          "type": "string",
          "description": "Email id of the user."
        }
      }
    },
    "LicenseAssignmentInsert": {
      "type": "object",
      "description": "Template for LicenseAssignment Insert request",
      "properties": {
        "userId": {
          "type": "string",
          "description": "Email id of the user"
        }
      }
    },
    "LicenseAssignmentList": {
      "type": "object",
      "description": "LicesnseAssignment List for a given product/sku for a customer.",
      "properties": {
        "etag": {
          "type": "string",
          "description": "ETag of the resource."
        },
        "items": {
          "type": "array",
          "description": "The LicenseAssignments in this page of results.",
          "items": {
            "$ref": "#/definitions/LicenseAssignment"
          }
        },
        "kind": {
          "type": "string",
          "description": "Identifies the resource as a collection of LicenseAssignments.",
          "default": "licensing#licenseAssignmentList"
        },
        "nextPageToken": {
          "type": "string",
          "description": "The continuation token, used to page through large result sets. Provide this value in a subsequent request to return the next page of results."
        }
      }
    }
  },
  "parameters": {
    "alt": {
      "name": "alt",
      "in": "query",
      "description": "Data format for the response.",
      "default": "json",
      "type": "string",
      "enum": [
        "json"
      ]
    },
    "fields": {
      "name": "fields",
      "in": "query",
      "description": "Selector specifying which fields to include in a partial response.",
      "type": "string"
    },
    "key": {
      "name": "key",
      "in": "query",
      "description": "API key. Your API key identifies your project and provides you with API access, quota, and reports. Required unless you provide an OAuth 2.0 token.",
      "type": "string"
    },
    "oauth_token": {
      "name": "oauth_token",
      "in": "query",
      "description": "OAuth 2.0 token for the current user.",
      "type": "string"
    },
    "prettyPrint": {
      "name": "prettyPrint",
      "in": "query",
      "description": "Returns response with indentations and line breaks.",
      "default": "true",
      "type": "boolean"
    },
    "quotaUser": {
      "name": "quotaUser",
      "in": "query",
      "description": "Available to use for quota purposes for server-side applications. Can be any arbitrary string assigned to a user, but should not exceed 40 characters. Overrides userIp if both are provided.",
      "type": "string"
    },
    "userIp": {
      "name": "userIp",
      "in": "query",
      "description": "IP address of the site where the request originates. Use this if you want to enforce per-user limits.",
      "type": "string"
    }
  },
  "securityDefinitions": {
    "Oauth2": {
      "type": "oauth2",
      "description": "Oauth 2.0 authentication",
      "flow": "implicit",
      "authorizationUrl": "https://accounts.google.com/o/oauth2/auth",
      "scopes": {
        "https://www.googleapis.com/auth/apps.licensing": "View and manage Google Apps licenses for your domain"
      }
    }
  },
  "externalDocs": {
    "url": "https://developers.google.com/google-apps/licensing/"
  }
}